{
  "swagger": "2.0",
  "info": {
    "title": "Commit",
    "version": "1.0"
  },
  "host": "admin-api.axissecurity.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "servers": [
    {
      "url": "https://admin-api.axissecurity.com"
    }
  ],
  "security": [
    {
      "OAuthBearerToken": []
    }
  ],
  "tags": [
    {
      "name": "Commit"
    }
  ],
  "paths": {
    "/api/v1.0/Commit": {
      "post": {
        "tags": [
          "Commit"
        ],
        "summary": "Commit Changes",
        "operationId": "Commit_CommitChanges",
        "responses": {
          "204": {
            "description": "Changes committed successfully"
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "HttpStatusCode": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Continue",
        "SwitchingProtocols",
        "Processing",
        "EarlyHints",
        "OK",
        "Created",
        "Accepted",
        "NonAuthoritativeInformation",
        "NoContent",
        "ResetContent",
        "PartialContent",
        "MultiStatus",
        "AlreadyReported",
        "IMUsed",
        "MultipleChoices",
        "Ambiguous",
        "MovedPermanently",
        "Moved",
        "Found",
        "Redirect",
        "SeeOther",
        "RedirectMethod",
        "NotModified",
        "UseProxy",
        "Unused",
        "TemporaryRedirect",
        "RedirectKeepVerb",
        "PermanentRedirect",
        "BadRequest",
        "Unauthorized",
        "PaymentRequired",
        "Forbidden",
        "NotFound",
        "MethodNotAllowed",
        "NotAcceptable",
        "ProxyAuthenticationRequired",
        "RequestTimeout",
        "Conflict",
        "Gone",
        "LengthRequired",
        "PreconditionFailed",
        "RequestEntityTooLarge",
        "RequestUriTooLong",
        "UnsupportedMediaType",
        "RequestedRangeNotSatisfiable",
        "ExpectationFailed",
        "MisdirectedRequest",
        "UnprocessableEntity",
        "Locked",
        "FailedDependency",
        "UpgradeRequired",
        "PreconditionRequired",
        "TooManyRequests",
        "RequestHeaderFieldsTooLarge",
        "UnavailableForLegalReasons",
        "InternalServerError",
        "NotImplemented",
        "BadGateway",
        "ServiceUnavailable",
        "GatewayTimeout",
        "HttpVersionNotSupported",
        "VariantAlsoNegotiates",
        "InsufficientStorage",
        "LoopDetected",
        "NotExtended",
        "NetworkAuthenticationRequired"
      ],
      "enum": [
        "Continue",
        "SwitchingProtocols",
        "Processing",
        "EarlyHints",
        "OK",
        "Created",
        "Accepted",
        "NonAuthoritativeInformation",
        "NoContent",
        "ResetContent",
        "PartialContent",
        "MultiStatus",
        "AlreadyReported",
        "IMUsed",
        "Ambiguous",
        "Moved",
        "Redirect",
        "RedirectMethod",
        "NotModified",
        "UseProxy",
        "Unused",
        "TemporaryRedirect",
        "PermanentRedirect",
        "BadRequest",
        "Unauthorized",
        "PaymentRequired",
        "Forbidden",
        "NotFound",
        "MethodNotAllowed",
        "NotAcceptable",
        "ProxyAuthenticationRequired",
        "RequestTimeout",
        "Conflict",
        "Gone",
        "LengthRequired",
        "PreconditionFailed",
        "RequestEntityTooLarge",
        "RequestUriTooLong",
        "UnsupportedMediaType",
        "RequestedRangeNotSatisfiable",
        "ExpectationFailed",
        "MisdirectedRequest",
        "UnprocessableEntity",
        "Locked",
        "FailedDependency",
        "UpgradeRequired",
        "PreconditionRequired",
        "TooManyRequests",
        "RequestHeaderFieldsTooLarge",
        "UnavailableForLegalReasons",
        "InternalServerError",
        "NotImplemented",
        "BadGateway",
        "ServiceUnavailable",
        "GatewayTimeout",
        "HttpVersionNotSupported",
        "VariantAlsoNegotiates",
        "InsufficientStorage",
        "LoopDetected",
        "NotExtended",
        "NetworkAuthenticationRequired"
      ]
    },
    "PublicAdminApiError": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "$ref": "#/definitions/HttpStatusCode"
        },
        "details": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "OAuthBearerToken": {
      "type": "apiKey",
      "description": "Copy 'Bearer ' + valid JWT token into field",
      "name": "Authorization",
      "in": "header"
    }
  }
}
