{
  "swagger": "2.0",
  "info": {
    "title": "Connectors",
    "version": "1.0"
  },
  "host": "admin-api.axissecurity.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "servers": [
    {
      "url": "https://admin-api.axissecurity.com"
    }
  ],
  "security": [
    {
      "OAuthBearerToken": []
    }
  ],
  "tags": [
    {
      "name": "Connectors"
    }
  ],
  "paths": {
    "/api/v1.0/Connectors": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Get Connectors",
        "operationId": "Connectors_Query",
        "parameters": [
          {
            "type": "integer",
            "name": "pageNumber",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Connectors retrieved successfully",
            "schema": {
              "$ref": "#/definitions/PagedApiResponseOfIEnumerableOfConnectorModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Create a New Connector",
        "operationId": "Connectors_Create",
        "parameters": [
          {
            "name": "connectorModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectorModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": true,
            "description": "Connector created successfully",
            "schema": {
              "$ref": "#/definitions/ConnectorCreateResponseModelV1"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Connectors/{id}": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Get Connector by ID",
        "operationId": "Connectors_GetById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Connector retrieved successfully",
            "schema": {
              "$ref": "#/definitions/ConnectorModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Connectors"
        ],
        "summary": "Update an Existing Connector",
        "operationId": "Connectors_Update",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "connectorModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectorModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Connector updated successfully",
            "schema": {
              "$ref": "#/definitions/ConnectorModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Connectors"
        ],
        "summary": "Delete Connector by ID",
        "operationId": "Connectors_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "Entity deleted successfully"
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Connectors/{id}/regenerate": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Regenerate an Installation Command for an Exisitng Connector",
        "operationId": "Connectors_Regenerate",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Connector's installation command regenerated successfully",
            "schema": {
              "$ref": "#/definitions/ConnectorRegenerateResponseModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Connectors/{id}/status": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Get the Status of a Connector",
        "operationId": "Connectors_Status",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Connector's status retrieved successfully",
            "schema": {
              "$ref": "#/definitions/ConnectorStatusResponseModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ConnectorCPUStatusModelV1": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "numOfCpus",
        "totalUsedPercentage"
      ],
      "properties": {
        "numOfCpus": {
          "type": "integer",
          "format": "int32"
        },
        "totalUsedPercentage": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ConnectorCreateResponseModelV1": {
      "allOf": [
        {
          "$ref": "#/definitions/ConnectorModelV1"
        },
        {
          "type": "object",
          "additionalProperties": false,
          "required": [
            "command"
          ],
          "properties": {
            "command": {
              "type": "string",
              "readOnly": true,
              "minLength": 1
            }
          }
        }
      ]
    },
    "ConnectorDiskSpaceStatusModelV1": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "totalKB",
        "usedKB",
        "freeKB"
      ],
      "properties": {
        "totalKB": {
          "type": "integer",
          "format": "int64"
        },
        "usedKB": {
          "type": "integer",
          "format": "int64"
        },
        "freeKB": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "ConnectorMachineStatusModelV1": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
        "hostname": {
          "type": "string"
        },
        "operationSystem": {
          "type": "string"
        }
      }
    },
    "ConnectorMemoryStatusModelV1": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "totalKB",
        "usedKB",
        "freeKB",
        "totalSwapKB",
        "usedSwapKB",
        "freeSwapKB"
      ],
      "properties": {
        "totalKB": {
          "type": "integer",
          "format": "int64"
        },
        "usedKB": {
          "type": "integer",
          "format": "int64"
        },
        "freeKB": {
          "type": "integer",
          "format": "int64"
        },
        "totalSwapKB": {
          "type": "integer",
          "format": "int64"
        },
        "usedSwapKB": {
          "type": "integer",
          "format": "int64"
        },
        "freeSwapKB": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "ConnectorModelV1": {
      "allOf": [
        {
          "$ref": "#/definitions/NamedModelBase"
        },
        {
          "type": "object",
          "additionalProperties": false,
          "required": [
            "connectorZoneId"
          ],
          "properties": {
            "enabled": {
              "type": "boolean"
            },
            "connectorZoneId": {
              "type": "string",
              "format": "guid",
              "minLength": 1
            }
          }
        }
      ]
    },
    "ConnectorNetworkStatusModelV1": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "incomingKB",
        "outgoingKB"
      ],
      "properties": {
        "incomingKB": {
          "type": "integer",
          "format": "int64"
        },
        "outgoingKB": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "ConnectorRegenerateResponseModelV1": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "id",
        "command"
      ],
      "properties": {
        "id": {
          "type": "string",
          "format": "guid"
        },
        "command": {
          "type": "string",
          "readOnly": true,
          "minLength": 1
        }
      }
    },
    "ConnectorStatus": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Unavailable",
        "AvailableTcpOnly",
        "AvailableUdpOnly",
        "Available",
        "Pending",
        "AvailableAgentlessOnly",
        "AvailableAgentOnly"
      ],
      "enum": [
        "Unavailable",
        "AvailableTcpOnly",
        "AvailableUdpOnly",
        "Available",
        "Pending",
        "AvailableAgentlessOnly",
        "AvailableAgentOnly"
      ]
    },
    "ConnectorStatusResponseModelV1": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "id",
        "status",
        "systemStatusCheckTime"
      ],
      "properties": {
        "id": {
          "type": "string",
          "format": "guid"
        },
        "status": {
          "readOnly": true,
          "minLength": 1,
          "allOf": [
            {
              "$ref": "#/definitions/ConnectorStatus"
            }
          ]
        },
        "version": {
          "type": "string"
        },
        "systemStatusCheckTime": {
          "type": "string",
          "format": "date-time"
        },
        "primaryPublicIP": {
          "type": "string"
        },
        "enabled": {
          "type": "boolean"
        },
        "networkStatus": {
          "$ref": "#/definitions/ConnectorNetworkStatusModelV1"
        },
        "memoryStatus": {
          "$ref": "#/definitions/ConnectorMemoryStatusModelV1"
        },
        "diskSpaceStatus": {
          "$ref": "#/definitions/ConnectorDiskSpaceStatusModelV1"
        },
        "cpuStatus": {
          "$ref": "#/definitions/ConnectorCPUStatusModelV1"
        },
        "machineStatus": {
          "$ref": "#/definitions/ConnectorMachineStatusModelV1"
        }
      }
    },
    "HttpStatusCode": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Continue",
        "SwitchingProtocols",
        "Processing",
        "EarlyHints",
        "OK",
        "Created",
        "Accepted",
        "NonAuthoritativeInformation",
        "NoContent",
        "ResetContent",
        "PartialContent",
        "MultiStatus",
        "AlreadyReported",
        "IMUsed",
        "MultipleChoices",
        "Ambiguous",
        "MovedPermanently",
        "Moved",
        "Found",
        "Redirect",
        "SeeOther",
        "RedirectMethod",
        "NotModified",
        "UseProxy",
        "Unused",
        "TemporaryRedirect",
        "RedirectKeepVerb",
        "PermanentRedirect",
        "BadRequest",
        "Unauthorized",
        "PaymentRequired",
        "Forbidden",
        "NotFound",
        "MethodNotAllowed",
        "NotAcceptable",
        "ProxyAuthenticationRequired",
        "RequestTimeout",
        "Conflict",
        "Gone",
        "LengthRequired",
        "PreconditionFailed",
        "RequestEntityTooLarge",
        "RequestUriTooLong",
        "UnsupportedMediaType",
        "RequestedRangeNotSatisfiable",
        "ExpectationFailed",
        "MisdirectedRequest",
        "UnprocessableEntity",
        "Locked",
        "FailedDependency",
        "UpgradeRequired",
        "PreconditionRequired",
        "TooManyRequests",
        "RequestHeaderFieldsTooLarge",
        "UnavailableForLegalReasons",
        "InternalServerError",
        "NotImplemented",
        "BadGateway",
        "ServiceUnavailable",
        "GatewayTimeout",
        "HttpVersionNotSupported",
        "VariantAlsoNegotiates",
        "InsufficientStorage",
        "LoopDetected",
        "NotExtended",
        "NetworkAuthenticationRequired"
      ],
      "enum": [
        "Continue",
        "SwitchingProtocols",
        "Processing",
        "EarlyHints",
        "OK",
        "Created",
        "Accepted",
        "NonAuthoritativeInformation",
        "NoContent",
        "ResetContent",
        "PartialContent",
        "MultiStatus",
        "AlreadyReported",
        "IMUsed",
        "Ambiguous",
        "Moved",
        "Redirect",
        "RedirectMethod",
        "NotModified",
        "UseProxy",
        "Unused",
        "TemporaryRedirect",
        "PermanentRedirect",
        "BadRequest",
        "Unauthorized",
        "PaymentRequired",
        "Forbidden",
        "NotFound",
        "MethodNotAllowed",
        "NotAcceptable",
        "ProxyAuthenticationRequired",
        "RequestTimeout",
        "Conflict",
        "Gone",
        "LengthRequired",
        "PreconditionFailed",
        "RequestEntityTooLarge",
        "RequestUriTooLong",
        "UnsupportedMediaType",
        "RequestedRangeNotSatisfiable",
        "ExpectationFailed",
        "MisdirectedRequest",
        "UnprocessableEntity",
        "Locked",
        "FailedDependency",
        "UpgradeRequired",
        "PreconditionRequired",
        "TooManyRequests",
        "RequestHeaderFieldsTooLarge",
        "UnavailableForLegalReasons",
        "InternalServerError",
        "NotImplemented",
        "BadGateway",
        "ServiceUnavailable",
        "GatewayTimeout",
        "HttpVersionNotSupported",
        "VariantAlsoNegotiates",
        "InsufficientStorage",
        "LoopDetected",
        "NotExtended",
        "NetworkAuthenticationRequired"
      ]
    },
    "ModelBase": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string",
          "format": "guid"
        }
      }
    },
    "NamedModelBase": {
      "allOf": [
        {
          "$ref": "#/definitions/ModelBase"
        },
        {
          "type": "object",
          "additionalProperties": false,
          "required": [
            "name"
          ],
          "properties": {
            "name": {
              "type": "string",
              "minLength": 1
            }
          }
        }
      ]
    },
    "PagedApiResponseOfIEnumerableOfConnectorModelV1": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "pageNumber",
        "pageSize",
        "totalPages",
        "totalRecords"
      ],
      "properties": {
        "pageNumber": {
          "type": "integer",
          "format": "int32"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "firstPage": {
          "type": "string",
          "format": "uri"
        },
        "lastPage": {
          "type": "string",
          "format": "uri"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        },
        "totalRecords": {
          "type": "integer",
          "format": "int32"
        },
        "nextPage": {
          "type": "string",
          "format": "uri"
        },
        "previousPage": {
          "type": "string",
          "format": "uri"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectorModelV1"
          }
        }
      }
    },
    "PublicAdminApiError": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "$ref": "#/definitions/HttpStatusCode"
        },
        "details": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "OAuthBearerToken": {
      "type": "apiKey",
      "description": "Copy 'Bearer ' + valid JWT token into field",
      "name": "Authorization",
      "in": "header",
      "x-scalar-secret-token": "Bearer YOUR_JWT"
    }
  }
}
