{
  "swagger": "2.0",
  "info": {
    "title": "Groups",
    "version": "1.0"
  },
  "host": "admin-api.axissecurity.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "servers": [
    {
      "url": "https://admin-api.axissecurity.com"
    }
  ],
  "security": [
    {
      "OAuthBearerToken": []
    }
  ],
  "tags": [
    {
      "name": "Groups"
    }
  ],
  "paths": {
    "/api/v1.0/Groups": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get Groups",
        "operationId": "Groups_Query",
        "parameters": [
          {
            "type": "integer",
            "name": "pageNumber",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Groups retrieved successfully",
            "schema": {
              "$ref": "#/definitions/PagedApiResponseOfIEnumerableOfGroupModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Create a New Group",
        "operationId": "Groups_Create",
        "parameters": [
          {
            "name": "groupModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "201": {
            "x-nullable": true,
            "description": "Group created successfully",
            "schema": {
              "$ref": "#/definitions/GroupModelV1"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    },
    "/api/v1.0/Groups/{id}": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "Get Group by ID",
        "operationId": "Groups_GetById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Group retrieved successfully",
            "schema": {
              "$ref": "#/definitions/GroupModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Update an Existing Group",
        "operationId": "Groups_Update",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "groupModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupModelV1"
            },
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "Group updated successfully",
            "schema": {
              "$ref": "#/definitions/GroupModelV1"
            }
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "409": {
            "x-nullable": true,
            "description": "Entity already exists",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Groups"
        ],
        "summary": "Delete Group by ID",
        "operationId": "Groups_Delete",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "204": {
            "description": "Entity deleted successfully"
          },
          "404": {
            "x-nullable": true,
            "description": "Entity not found",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "400": {
            "x-nullable": true,
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "401": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "403": {
            "x-nullable": true,
            "description": "Unauthorized access",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          },
          "500": {
            "x-nullable": true,
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/PublicAdminApiError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DescriptionNamedModelBase": {
      "allOf": [
        {
          "$ref": "#/definitions/NamedModelBase"
        },
        {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "description": {
              "type": "string"
            }
          }
        }
      ]
    },
    "GroupModelV1": {
      "allOf": [
        {
          "$ref": "#/definitions/DescriptionNamedModelBase"
        },
        {
          "type": "object",
          "additionalProperties": false,
          "properties": {
            "users": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SlimModelV1"
              }
            }
          }
        }
      ]
    },
    "HttpStatusCode": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Continue",
        "SwitchingProtocols",
        "Processing",
        "EarlyHints",
        "OK",
        "Created",
        "Accepted",
        "NonAuthoritativeInformation",
        "NoContent",
        "ResetContent",
        "PartialContent",
        "MultiStatus",
        "AlreadyReported",
        "IMUsed",
        "MultipleChoices",
        "Ambiguous",
        "MovedPermanently",
        "Moved",
        "Found",
        "Redirect",
        "SeeOther",
        "RedirectMethod",
        "NotModified",
        "UseProxy",
        "Unused",
        "TemporaryRedirect",
        "RedirectKeepVerb",
        "PermanentRedirect",
        "BadRequest",
        "Unauthorized",
        "PaymentRequired",
        "Forbidden",
        "NotFound",
        "MethodNotAllowed",
        "NotAcceptable",
        "ProxyAuthenticationRequired",
        "RequestTimeout",
        "Conflict",
        "Gone",
        "LengthRequired",
        "PreconditionFailed",
        "RequestEntityTooLarge",
        "RequestUriTooLong",
        "UnsupportedMediaType",
        "RequestedRangeNotSatisfiable",
        "ExpectationFailed",
        "MisdirectedRequest",
        "UnprocessableEntity",
        "Locked",
        "FailedDependency",
        "UpgradeRequired",
        "PreconditionRequired",
        "TooManyRequests",
        "RequestHeaderFieldsTooLarge",
        "UnavailableForLegalReasons",
        "InternalServerError",
        "NotImplemented",
        "BadGateway",
        "ServiceUnavailable",
        "GatewayTimeout",
        "HttpVersionNotSupported",
        "VariantAlsoNegotiates",
        "InsufficientStorage",
        "LoopDetected",
        "NotExtended",
        "NetworkAuthenticationRequired"
      ],
      "enum": [
        "Continue",
        "SwitchingProtocols",
        "Processing",
        "EarlyHints",
        "OK",
        "Created",
        "Accepted",
        "NonAuthoritativeInformation",
        "NoContent",
        "ResetContent",
        "PartialContent",
        "MultiStatus",
        "AlreadyReported",
        "IMUsed",
        "Ambiguous",
        "Moved",
        "Redirect",
        "RedirectMethod",
        "NotModified",
        "UseProxy",
        "Unused",
        "TemporaryRedirect",
        "PermanentRedirect",
        "BadRequest",
        "Unauthorized",
        "PaymentRequired",
        "Forbidden",
        "NotFound",
        "MethodNotAllowed",
        "NotAcceptable",
        "ProxyAuthenticationRequired",
        "RequestTimeout",
        "Conflict",
        "Gone",
        "LengthRequired",
        "PreconditionFailed",
        "RequestEntityTooLarge",
        "RequestUriTooLong",
        "UnsupportedMediaType",
        "RequestedRangeNotSatisfiable",
        "ExpectationFailed",
        "MisdirectedRequest",
        "UnprocessableEntity",
        "Locked",
        "FailedDependency",
        "UpgradeRequired",
        "PreconditionRequired",
        "TooManyRequests",
        "RequestHeaderFieldsTooLarge",
        "UnavailableForLegalReasons",
        "InternalServerError",
        "NotImplemented",
        "BadGateway",
        "ServiceUnavailable",
        "GatewayTimeout",
        "HttpVersionNotSupported",
        "VariantAlsoNegotiates",
        "InsufficientStorage",
        "LoopDetected",
        "NotExtended",
        "NetworkAuthenticationRequired"
      ]
    },
    "ModelBase": {
      "type": "object",
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string",
          "format": "guid"
        }
      }
    },
    "NamedModelBase": {
      "allOf": [
        {
          "$ref": "#/definitions/ModelBase"
        },
        {
          "type": "object",
          "additionalProperties": false,
          "required": [
            "name"
          ],
          "properties": {
            "name": {
              "type": "string",
              "minLength": 1
            }
          }
        }
      ]
    },
    "PagedApiResponseOfIEnumerableOfGroupModelV1": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "pageNumber",
        "pageSize",
        "totalPages",
        "totalRecords"
      ],
      "properties": {
        "pageNumber": {
          "type": "integer",
          "format": "int32"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "firstPage": {
          "type": "string",
          "format": "uri"
        },
        "lastPage": {
          "type": "string",
          "format": "uri"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        },
        "totalRecords": {
          "type": "integer",
          "format": "int32"
        },
        "nextPage": {
          "type": "string",
          "format": "uri"
        },
        "previousPage": {
          "type": "string",
          "format": "uri"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupModelV1"
          }
        }
      }
    },
    "PublicAdminApiError": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "$ref": "#/definitions/HttpStatusCode"
        },
        "details": {
          "type": "string"
        }
      }
    },
    "SlimModelV1": {
      "type": "object",
      "additionalProperties": false,
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "format": "guid"
        },
        "value": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "OAuthBearerToken": {
      "type": "apiKey",
      "description": "Copy 'Bearer ' + valid JWT token into field",
      "name": "Authorization",
      "in": "header",
      "x-scalar-secret-token": "Bearer YOUR_JWT"
    }
  }
}
