{
  "openapi": "3.1.0",
  "info": {
    "title": "MSP",
    "version": "0.0.1",
    "description": "`Managed Service Provider (MSP)` APIs."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "MSP",
      "description": "MSP APIs to get and manage tenants related information."
    }
  ],
  "paths": {
    "/network-msp/v1/list-tenants": {
      "get": {
        "tags": [
          "MSP"
        ],
        "summary": "Get all MSP tenants information.",
        "description": "This API provides the list of tenants for an MSP. Tenants list includes details like tenant name, tenant CID, sites count, devices count with health status, alerts count, etc. The query parameters allow you to narrow down the results that meet specific criteria, ensuring you receive only the relevant data.",
        "operationId": "listTenantsV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Filter"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Next"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListTenantsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BadRequestError": {
        "type": "object",
        "description": "Error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "description": "HTTP status code.\n",
            "example": 400
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_INVALID_INPUT"
            ],
            "maxLength": 128,
            "description": "Error code\n",
            "example": "HPE_GL_NETWORK_SERVICES_INVALID_INPUT"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "DebugId": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting and debugging purposes.\n",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "ErrorMessage": {
        "type": "string",
        "format": "const",
        "maxLength": 1024,
        "description": "Error message indicating the cause of the failure.\n",
        "example": "Reason for the error"
      },
      "Filter": {
        "type": "string",
        "format": "const",
        "maxLength": 256,
        "example": "deviceOwnership in ('MSP')"
      },
      "ForbiddenError": {
        "type": "object",
        "description": "Forbidden error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": 403,
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_FORBIDDEN",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "InternalServerError": {
        "type": "object",
        "description": "Internal server error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_INTERNAL_SERVER_ERROR"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_NETWORK_SERVICES_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "Limit": {
        "type": "integer",
        "format": "int32",
        "default": 10,
        "maximum": 100,
        "example": 10
      },
      "ListTenantsResponse": {
        "type": "object",
        "description": "List of all the tenants for an MSP. It includes details like tenant name, tenant CID, sites count, devices count with health status, alerts count, etc.",
        "example": {
          "count": 10,
          "total": 100,
          "next": "2",
          "items": [
            {
              "tenantName": "Tenant A",
              "tenantId": "fa451230e38a11ef8a28061d9656",
              "totalSites": 12,
              "degradedSites": 1,
              "deviceOwnership": "MSP",
              "deviceHealthStatus": {
                "total": 150,
                "good": 130,
                "fair": 15,
                "poor": 5
              },
              "alerts": {
                "total": 58,
                "critical": 8,
                "major": 10,
                "minor": 40
              },
              "lastUpdatedTime": 1732320000,
              "createdTime": 1633036806
            }
          ]
        },
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32",
            "description": "The number of objects returned in the current response.",
            "example": 10
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "The total number of objects contained in the database.",
            "example": 200
          },
          "next": {
            "type": "string",
            "format": "const",
            "description": "Specifies the pagination cursor for the next page of resources.",
            "example": "2"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MSPTenant"
            }
          }
        }
      },
      "MSPTenant": {
        "type": "object",
        "description": "An object containing details of a tenant under MSP.",
        "properties": {
          "tenantName": {
            "type": "string",
            "format": "const",
            "description": "Name of the tenant.",
            "example": "Tenant A"
          },
          "tenantId": {
            "type": "string",
            "format": "const",
            "description": "Application CID of the tenant.",
            "example": "fa451230e38a11ef8a28061d9656"
          },
          "totalSites": {
            "type": "integer",
            "format": "int32",
            "description": "The total number of sites belonging to the tenant.",
            "example": 8
          },
          "degradedSites": {
            "type": "integer",
            "format": "int32",
            "description": "The total number of sites belonging to the tenant where at least one device health is poor.",
            "example": 3
          },
          "deviceOwnership": {
            "type": "string",
            "enum": [
              "MSP",
              "TENANT"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "Indicates devices ownership by MSP or tenant",
            "example": "MSP"
          },
          "deviceHealthStatus": {
            "type": "object",
            "description": "An object containing health status of all device types.",
            "properties": {
              "total": {
                "type": "integer",
                "format": "int32",
                "description": "The total number of devices.",
                "example": 150
              },
              "good": {
                "type": "integer",
                "format": "int32",
                "description": "The total number of devices with health status good.",
                "example": 130
              },
              "fair": {
                "type": "integer",
                "format": "int32",
                "description": "The total number of devices with health status fair.",
                "example": 15
              },
              "poor": {
                "type": "integer",
                "format": "int32",
                "description": "The total number of devices with health status poor.",
                "example": 5
              }
            }
          },
          "alerts": {
            "type": "object",
            "description": "An object containing alerts count from all sites of a tenant.",
            "properties": {
              "total": {
                "type": "integer",
                "format": "int32",
                "description": "The total number of alerts.",
                "example": 58
              },
              "critical": {
                "type": "integer",
                "format": "int32",
                "description": "The total number of critical alerts.",
                "example": 8
              },
              "major": {
                "type": "integer",
                "format": "int32",
                "description": "The total number of major alerts.",
                "example": 10
              },
              "minor": {
                "type": "integer",
                "format": "int32",
                "description": "The total number of minor alerts.",
                "example": 40
              }
            }
          },
          "lastUpdatedTime": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp in seconds indicating last update of a tenant details.",
            "example": 1732320000
          },
          "createdTime": {
            "type": "integer",
            "format": "int64",
            "description": "Timestamp in seconds indicating creation time of a tenant.",
            "example": 1633036806
          }
        }
      },
      "Next": {
        "type": "string",
        "format": "const",
        "description": "Specifies the pagination cursor for the next page of resources.",
        "example": "2"
      },
      "NotFoundError": {
        "type": "object",
        "description": "Not Found error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 404,
            "maximum": 404,
            "description": "HTTP status code.\n",
            "example": 404
          },
          "errorCode": {
            "type": "string",
            "format": "const",
            "enum": [
              "HPE_GL_ERROR_NOT_FOUND"
            ],
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_NOT_FOUND",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "Sort": {
        "type": "string",
        "format": "const",
        "maxLength": 256,
        "default": "alerts DESC"
      },
      "TooManyRequestsError": {
        "type": "object",
        "description": "Too many requests error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": 429,
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "UnauthorizedError": {
        "type": "object",
        "description": "Unauthorized error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "description": "HTTP status code.\n",
            "example": 401
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Invalid input received.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestError"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden: Access is denied.\n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenError"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error.\n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerError"
            }
          }
        }
      },
      "ListTenantsResponse": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "List of tenants for an MSP. It includes details like tenant name, tenant CID, sites count, devices count with health status, alerts count, etc.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ListTenantsResponse"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not Found error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundError"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequestsError"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedError"
            }
          }
        }
      }
    },
    "parameters": {
      "Filter": {
        "name": "filter",
        "in": "query",
        "required": false,
        "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n| Field | Operators |\n| ----------------- | ---- |\n| `tenantName`    | `eq` |\n| `deviceOwnership` | `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n**Using Special Character for filtering the `tenantName`**\n\n* If the `tenantName` needs to be filtered with a special character like a single quote `'`, then it has to be passed as escaped character.\n\n* For example: `tenantName eq 'Tenant\\\\'s account 1'`\n",
        "example": "tenantName eq 'tenant A' and deviceOwnership in ('MSP', 'TENANT')",
        "schema": {
          "$ref": "#/components/schemas/Filter"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": true,
        "description": "Denotes the maximum number of tenants returned in the response. Maximum value is 100.",
        "schema": {
          "$ref": "#/components/schemas/Limit"
        },
        "example": 10
      },
      "Next": {
        "name": "next",
        "in": "query",
        "required": true,
        "description": "Specifies the pagination cursor for the next page of resources. The minimum value is 1.",
        "schema": {
          "$ref": "#/components/schemas/Next"
        },
        "example": "2"
      },
      "Sort": {
        "name": "sort",
        "in": "query",
        "required": false,
        "description": "Sorting can be supported on the following fields: `tenantName`, `totalSites`, `deviceHealthStatus`, `degradedSites`, `alerts`, `deviceOwnership` and `createdTime`.\n\nFor `alerts`, sorting will be done in order of `critical`, `major` and `minor` counts. For example if input is `alerts DESC`, then the tenant row with the highest `critical` alerts count will appear at the top.\n\nFor `deviceHealthStatus` sorting will be done in order of `poor`, `fair` and `good` counts. For example if input is `deviceHealthStatus DESC`, then the tenant row with the highest `poor` health count will appear at the top.\n",
        "schema": {
          "$ref": "#/components/schemas/Sort"
        },
        "example": "alerts DESC"
      }
    },
    "headers": {
      "XRateLimitLimit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "XRateLimitRemaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "XRateLimitReset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The UTC date/time at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
