{
  "openapi": "3.1.0",
  "info": {
    "title": "Device Groups",
    "version": "1.0.0",
    "description": "This is a release of the Aruba Network Configuration APIs."
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "description": "Device group management APIs for creating, updating, deleting device groups and managing devices within groups.",
      "name": "Device Groups"
    }
  ],
  "paths": {
    "/network-config/v1/device-groups": {
      "get": {
        "description": "This API will return a list of device-groups, based on the query parameters. Each device-group in the returned list includes details like - deviceCount, id, type, description, scopeId, scopeName.",
        "operationId": "getDeviceGroupsV1",
        "parameters": [
          {
            "description": "Number of device-groups that need to be fetched. (Default: 100) Maximum limit per query is 100.",
            "example": 20,
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/LimitParam"
            }
          },
          {
            "description": "Offset from where the device-groups need to be fetched.",
            "example": 0,
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OffsetParam"
            }
          },
          {
            "description": "OData 4.0 filter supports filtering on fields `scopeName`.",
            "example": "scopeName eq 'Network Devices'",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          {
            "description": "Sort by field. May be one of `scopeName`, `deviceCount`.",
            "example": "scopeName ASC",
            "in": "query",
            "name": "sort",
            "schema": {
              "$ref": "#/components/schemas/Sort"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceGroupGetRPCOutputSchema"
                }
              }
            },
            "description": "Returns the device-groups list with its properties.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get device-groups",
        "tags": [
          "Device Groups"
        ]
      },
      "put": {
        "description": "This API will update the device group name and description (optional) based on the `scopeId`.\n\nImportant: This API is supported only in Central On-Prem and standalone Central accounts. If your Central account has both Classic Central & Central (i.e. if you see the Classic Central toggle in the UI), this API is not supported & will not work.",
        "operationId": "updateDeviceCollectionByScopeIdV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceCollectionPutRPCInputSchema"
              }
            }
          },
          "description": "The device-groups update body.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceCollectionPutRPCOutputSchema"
                }
              }
            },
            "description": "Device-group update successful and returns the scopeId of the Device-group updated."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update device-group",
        "tags": [
          "Device Groups"
        ]
      },
      "post": {
        "description": "This API will create a device group with the specified scope name and description (optional).\n\nImportant: This API is supported only in Central On-Prem and standalone Central accounts. If your Central account has both Classic Central & Central (i.e. if you see the Classic Central toggle in the UI), this API is not supported & will not work.",
        "operationId": "createDeviceCollectionSMV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceCollectionPostRPCInputSchema"
              }
            }
          },
          "description": "The device-groups create body.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceCollectionPostRPCOutputSchema"
                }
              }
            },
            "description": "Device-group creation successful and returns the scopeId of the Device-group created."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create device-group",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1/device-groups-add-devices": {
      "post": {
        "description": "This API will add devices to a device group. \n - `desScopeId` -> ScopeId of the device group to which devices should be associated. \n - `devices` -> Array of device serials that need to be associated. This can be a serial of a device or stackId.\n\nImportant: This API is supported only in Central On-Prem and standalone Central accounts. If your Central account has both Classic Central & Central (i.e. if you see the Classic Central toggle in the UI), this API is not supported & will not work.",
        "operationId": "addDevicesToDeviceCollectionSMV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "desScopeId": {
                    "description": "Scope ID of the device-groups to which devices should be associated.",
                    "type": "string"
                  },
                  "devices": {
                    "description": "An array of device serials that need to be associated.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "desScopeId",
                  "devices"
                ],
                "type": "object"
              }
            }
          },
          "description": "The request body for adding devices to a device group.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceMoveCollectionSMSchema"
                }
              }
            },
            "description": "Add-devices-to-device-groups successful."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add devices to device-group",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1/device-groups-create-and-add-devices": {
      "post": {
        "description": "This API creates device group with devices. \n- `scopeName`: Name of the device group to which devices should be added\n- `description`: Optional description for the device group\n- `devices`: List of device serial numbers to be added.\n\nImportant: This API is supported only in Central On-Prem and standalone Central accounts. If your Central account has both Classic Central & Central (i.e. if you see the Classic Central toggle in the UI), this API is not supported & will not work.",
        "operationId": "device-groups-create-and-add-devicesV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "Description of the device group.",
                    "type": "string"
                  },
                  "devices": {
                    "description": "List of device serial numbers.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "scopeName": {
                    "description": "Name of the device group.",
                    "type": "string"
                  }
                },
                "required": [
                  "scopeName",
                  "devices"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request to add devices to a device group using serials.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceMoveCollectionSMSchema"
                }
              }
            },
            "description": "Devices added successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create device-group with devices",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1/device-groups-remove-devices": {
      "post": {
        "description": "This API will remove devices from a device group.\n - `devices` -> Array of device serials that need to be disassociated. This can be a serial of a device or stackId.\n\nImportant: This API is supported only in Central On-Prem and standalone Central accounts. If your Central account has both Classic Central & Central (i.e. if you see the Classic Central toggle in the UI), this API is not supported & will not work.",
        "operationId": "removeDevicesFromDeviceCollectionSMV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "devices": {
                    "description": "An array of device serials that need to be disassociated.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "devices"
                ],
                "type": "object"
              }
            }
          },
          "description": "The request body for removing devices from a device group.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceMoveCollectionSMSchema"
                }
              }
            },
            "description": "Remove-devices-from-device-groups successful."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Remove devices from device-group",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1/device-groups/bulk": {
      "delete": {
        "description": "This API is used to delete one or more existing device groups using a bulk delete operation.\n\nImportant: This API is supported only in Central On-Prem and standalone Central accounts. If your Central account has both Classic Central & Central (i.e. if you see the Classic Central toggle in the UI), this API is not supported & will not work.",
        "operationId": "deleteDeviceGroupsBulkV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "items": [
                    {
                      "id": "scope-id-1"
                    },
                    {
                      "id": "scope-id-2"
                    },
                    {
                      "id": "scope-id-3"
                    }
                  ]
                },
                "properties": {
                  "items": {
                    "description": "An array of device group IDs to delete.",
                    "items": {
                      "properties": {
                        "id": {
                          "description": "Device group ID to delete.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "items"
                ],
                "type": "object"
              }
            }
          },
          "description": "The request body for bulk deleting device groups.",
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Response code.",
                      "type": "string"
                    },
                    "items": {
                      "description": "List of deleted device group IDs.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Response message.",
                      "type": "string"
                    },
                    "status": {
                      "description": "Operation status.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Device-groups deleted successfully.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Bulk delete device-groups",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1alpha1/device-collection-add-devices": {
      "post": {
        "deprecated": true,
        "description": "(Deprecated) This API will add devices to a device collection. Use /network-config/v1alpha1/device-groups-add-devices instead.",
        "operationId": "addDevicesToDeviceCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "desScopeId": {
                    "description": "ScopeId of the device-collection to which devices should be associated",
                    "type": "string"
                  },
                  "devices": {
                    "description": "Array of device serials that need to be associated",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "desScopeId",
                  "devices"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request body for adding devices to a device collection",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceMoveCollectionSMSchema"
                }
              }
            },
            "description": "add-devices-to-device-collection successful"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add devices to device-collection",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1alpha1/device-collection-create-and-add-devices": {
      "post": {
        "deprecated": true,
        "description": "(Deprecated) This API creates device collection with devices. Use /network-config/v1alpha1/device-groups-create-and-add-devices instead.",
        "operationId": "device-collection-create-and-add-devices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "Description of the device collection",
                    "type": "string"
                  },
                  "devices": {
                    "description": "List of device serial numbers",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "scopeName": {
                    "description": "Name of the device collection",
                    "type": "string"
                  }
                },
                "required": [
                  "scopeName",
                  "devices"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request to add devices to a device collection using serials",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceMoveCollectionSMSchema"
                }
              }
            },
            "description": "Devices added successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create device-collection with devices",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1alpha1/device-collection-remove-devices": {
      "post": {
        "deprecated": true,
        "description": "(Deprecated) This API will remove devices from a device collection. Use /network-config/v1alpha1/device-groups-remove-devices instead.",
        "operationId": "removeDevicesFromDeviceCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "devices": {
                    "description": "Array of device serials that need to be disassociated",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "devices"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request body for removing devices from a device collection",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceMoveCollectionSMSchema"
                }
              }
            },
            "description": "remove-devices-from-device-collection successful"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Remove devices from device-collection",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1alpha1/device-collections": {
      "get": {
        "deprecated": true,
        "description": "(Deprecated) This API will return a list of device-collections, based on query parameters. Each device-collection in the returned list includes details like - deviceCount, id, type, description, scopeId, scopeName. Use /network-config/v1alpha1/device-groups instead.",
        "operationId": "getDeviceCollections",
        "parameters": [
          {
            "description": "number of device-collections that needs to be fetched. (Default: 100) Maximum limit per query is 100",
            "example": 20,
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "offset from where the device-collections need to be fetched",
            "example": 0,
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "OData 4.0 filter supports filtering on fields `scopeName`",
            "example": "scopeName eq 'Legacy Devices'",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          {
            "description": "Partial or Full String Free text search",
            "example": "router",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Search"
            }
          },
          {
            "description": "sort by field may be one of `scopeName`, `deviceCount`",
            "example": "deviceCount DESC",
            "in": "query",
            "name": "sort",
            "schema": {
              "$ref": "#/components/schemas/Sort"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceGroupGetRPCOutputSchema"
                }
              }
            },
            "description": "Returned device-collections list with its properties",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get device-collections",
        "tags": [
          "Device Groups"
        ]
      },
      "put": {
        "deprecated": true,
        "description": "(Deprecated) This API will update the device collection name and description(optional) based on the `scopeId`. Use /network-config/v1alpha1/device-groups instead.",
        "operationId": "updateDeviceCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceCollectionPutRPCInputSchema"
              }
            }
          },
          "description": "device-collections update body",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceCollectionPutRPCOutputSchema"
                }
              }
            },
            "description": "Device-collection update successful and returns scopeId of the Device-collection updated."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update device-collection",
        "tags": [
          "Device Groups"
        ]
      },
      "post": {
        "deprecated": true,
        "description": "(Deprecated) This API will create a device collection with the specified scope name and description (optional). Use /network-config/v1alpha1/device-groups instead.",
        "operationId": "createDeviceCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceCollectionPostRPCInputSchema"
              }
            }
          },
          "description": "device-collections create body",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceCollectionPostRPCOutputSchema"
                }
              }
            },
            "description": "Device-collection creation successful and returns the scopeId of the Device-collection created."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create device-collection",
        "tags": [
          "Device Groups"
        ]
      },
      "delete": {
        "deprecated": true,
        "description": "(Deprecated) This API deletes one or more existing device collections. Send the scope IDs in a JSON list in the request body. Use /network-config/v1alpha1/device-groups/bulk instead.",
        "operationId": "deleteDeviceCollectionByScopeId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "scopeIds": {
                    "description": "List of scope IDs to delete",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "scopeIds"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceCollectionDeleteRPCOutputSchema"
                }
              }
            },
            "description": "Device-Collection deleted successfully and returns the ScopeId of the deleted device collections"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete device-collection by scopeId",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1alpha1/device-collections/bulk": {
      "delete": {
        "deprecated": true,
        "description": "(Deprecated) This API is used to delete one or more existing device collections using a bulk delete operation. Use /network-config/v1alpha1/device-groups/bulk instead.",
        "operationId": "deleteDeviceCollectionsBulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "scopeIds": {
                    "description": "List of scope IDs to delete",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "scopeIds"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceCollectionDeleteRPCOutputSchema"
                }
              }
            },
            "description": "Device-collections deleted successfully and returns the scopeId of the deleted device collections"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Bulk delete device-collections",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1alpha1/device-groups": {
      "get": {
        "deprecated": true,
        "description": "(Deprecated) This API will return a list of device-groups, based on query parameters. Each device-group in the returned list includes details like - deviceCount, id, type, description, scopeId, scopeName. Use /network-config/v1/device-groups instead.",
        "operationId": "getDeviceGroups",
        "parameters": [
          {
            "description": "number of device-groups that needs to be fetched. (Default: 100) Maximum limit per query is 100",
            "example": 20,
            "in": "query",
            "name": "limit",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "offset from where the device-groups need to be fetched",
            "example": 0,
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "OData 4.0 filter supports filtering on fields `scopeName`",
            "example": "scopeName eq 'Network Devices'",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          {
            "description": "Partial or Full String Free text search",
            "example": "switch",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Search"
            }
          },
          {
            "description": "sort by field may be one of `scopeName`, `deviceCount`",
            "example": "scopeName ASC",
            "in": "query",
            "name": "sort",
            "schema": {
              "$ref": "#/components/schemas/Sort"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceGroupGetRPCOutputSchema"
                }
              }
            },
            "description": "Returned device-groups list with its properties",
            "headers": {
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get device-groups",
        "tags": [
          "Device Groups"
        ]
      },
      "put": {
        "deprecated": true,
        "description": "(Deprecated) This API will update the device group name and description (optional) based on the `scopeId`. Use /network-config/v1/device-groups instead. \n\nImportant: This API is supported only in Central On-Prem and standalone Central accounts. If your Central account has both Classic Central & Central (i.e. if you see the Classic Central toggle in the UI), this API is not supported & will not work.",
        "operationId": "updateDeviceCollectionByScopeId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceCollectionPutRPCInputSchema"
              }
            }
          },
          "description": "device-groups update body",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceCollectionPutRPCOutputSchema"
                }
              }
            },
            "description": "Device-group update successful and returns scopeId of the Device-group updated.",
            "headers": {
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update device-group",
        "tags": [
          "Device Groups"
        ]
      },
      "post": {
        "deprecated": true,
        "description": "(Deprecated) This API will create a device group with the specified scope name and description (optional).  Use /network-config/v1/device-groups instead.\n\nImportant: This API is supported only in Central On-Prem and standalone Central accounts. If your Central account has both Classic Central & Central (i.e. if you see the Classic Central toggle in the UI), this API is not supported & will not work.",
        "operationId": "createDeviceCollectionSM",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeviceCollectionPostRPCInputSchema"
              }
            }
          },
          "description": "device-groups create body",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceCollectionPostRPCOutputSchema"
                }
              }
            },
            "description": "Device-group creation successful and returns the scopeId of the Device-group created.",
            "headers": {
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create device-group",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1alpha1/device-groups-add-devices": {
      "post": {
        "deprecated": true,
        "description": "(Deprecated) This API will add devices to a device group. \n - `desScopeId` -> ScopeId of the device group to which devices should be associated. \n - `devices` -> Array of device serials that need to be associated. This can be a serial of a device or stackId.  Use /network-config/v1/device-groups-add-devices instead.\n\nImportant: This API is supported only in Central On-Prem and standalone Central accounts. If your Central account has both Classic Central & Central (i.e. if you see the Classic Central toggle in the UI), this API is not supported & will not work.",
        "operationId": "addDevicesToDeviceCollectionSM",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "desScopeId": {
                    "description": "ScopeId of the device-groups to which devices should be associated",
                    "type": "string"
                  },
                  "devices": {
                    "description": "Array of device serials that need to be associated",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "desScopeId",
                  "devices"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request body for adding devices to a device group",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceMoveCollectionSMSchema"
                }
              }
            },
            "description": "add-devices-to-device-groups successful"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add devices to device-group",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1alpha1/device-groups-create-and-add-devices": {
      "post": {
        "deprecated": true,
        "description": "(Deprecated) This API creates device group with devices. \n- `scopeName`: Name of the device group to which devices should be added\n- `description`: Optional description for the device group\n- `devices`: List of device serial numbers to be added. Use /network-config/v1/device-groups-create-and-add-devices instead.\n\nImportant: This API is supported only in Central On-Prem and standalone Central accounts. If your Central account has both Classic Central & Central (i.e. if you see the Classic Central toggle in the UI), this API is not supported & will not work.",
        "operationId": "device-groups-create-and-add-devices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "Description of the device group",
                    "type": "string"
                  },
                  "devices": {
                    "description": "List of device serial numbers",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "scopeName": {
                    "description": "Name of the device group",
                    "type": "string"
                  }
                },
                "required": [
                  "scopeName",
                  "devices"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request to add devices to a device group using serials",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceMoveCollectionSMSchema"
                }
              }
            },
            "description": "Devices added successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create device-group with devices",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1alpha1/device-groups-remove-devices": {
      "post": {
        "deprecated": true,
        "description": "(Deprecated)This API will remove devices from a device group.\n - `devices` -> Array of device serials that need to be disassociated. This can be a serial of a device or stackId. Use /network-config/v1/device-groups-remove-devices instead.\n\nImportant: This API is supported only in Central On-Prem and standalone Central accounts. If your Central account has both Classic Central & Central (i.e. if you see the Classic Central toggle in the UI), this API is not supported & will not work.",
        "operationId": "removeDevicesFromDeviceCollectionSM",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "devices": {
                    "description": "Array of device serials that need to be disassociated",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "devices"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request body for removing devices from a device group",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceMoveCollectionSMSchema"
                }
              }
            },
            "description": "remove-devices-from-device-groups successful"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Remove devices from device-group",
        "tags": [
          "Device Groups"
        ]
      }
    },
    "/network-config/v1alpha1/device-groups/bulk": {
      "delete": {
        "deprecated": true,
        "description": "(Deprecated) This API is used to delete one or more existing device groups using a bulk delete operation. Use /network-config/v1/device-groups/bulk instead. \n\nImportant: This API is supported only in Central On-Prem and standalone Central accounts. If your Central account has both Classic Central & Central (i.e. if you see the Classic Central toggle in the UI), this API is not supported & will not work.",
        "operationId": "deleteDeviceGroupsBulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "items": [
                    {
                      "id": "scope-id-1"
                    },
                    {
                      "id": "scope-id-2"
                    },
                    {
                      "id": "scope-id-3"
                    }
                  ]
                },
                "properties": {
                  "items": {
                    "description": "Array of device group IDs to delete",
                    "items": {
                      "properties": {
                        "id": {
                          "description": "Device group ID to delete",
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "items"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request body for bulk deleting device groups",
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Response code",
                      "type": "string"
                    },
                    "items": {
                      "description": "List of deleted device group IDs",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Response message",
                      "type": "string"
                    },
                    "status": {
                      "description": "Operation status",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Device-groups deleted successfully",
            "headers": {
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Bulk delete device-groups",
        "tags": [
          "Device Groups"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DeviceCollectionDeleteRPCOutputSchema": {
        "description": "Successful deletion of device-groups by scopeId.",
        "properties": {
          "code": {
            "description": "The return code of device-groups deletion operation.",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/ScopeIds"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "message": {
            "description": "The message device-groups deletion operation.",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "status": {
            "description": "device-groups deletion operation status.",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          }
        },
        "required": [
          "items",
          "code",
          "status",
          "message"
        ],
        "type": "object"
      },
      "DeviceCollectionPostRPCInputSchema": {
        "properties": {
          "description": {
            "description": "Description of the device group",
            "type": "string"
          },
          "scopeName": {
            "description": "Name of the device group",
            "type": "string"
          }
        },
        "required": [
          "scopeName"
        ],
        "type": "object"
      },
      "DeviceCollectionPostRPCOutputSchema": {
        "description": "Successful creation of device-groups by scopeId.",
        "properties": {
          "code": {
            "description": "The return code of device-groups creation operation.",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/ScopeIds"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "message": {
            "description": "The message device-groups creation operation.",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "status": {
            "description": "device-groups creation operation status.",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          }
        },
        "required": [
          "items",
          "code",
          "status",
          "message"
        ],
        "type": "object"
      },
      "DeviceCollectionPutRPCInputSchema": {
        "properties": {
          "description": {
            "description": "Description of the device group",
            "type": "string"
          },
          "scopeId": {
            "description": "Unique identifier for the device group",
            "type": "string"
          },
          "scopeName": {
            "description": "Name of the device group",
            "type": "string"
          }
        },
        "required": [
          "scopeId",
          "scopeName",
          "description"
        ],
        "type": "object"
      },
      "DeviceCollectionPutRPCOutputSchema": {
        "description": "Successful update of device-groups by scopeId.",
        "properties": {
          "code": {
            "description": "The return code of device-groups update operation.",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/ScopeIds"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "message": {
            "description": "The message device-groups update operation.",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "status": {
            "description": "device-groups update operation status.",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          }
        },
        "required": [
          "items",
          "code",
          "status",
          "message"
        ],
        "type": "object"
      },
      "DeviceCollectionResponse": {
        "properties": {
          "code": {
            "description": "status code.\n",
            "example": "SCOPE-device-groups-SUC-001",
            "format": "const",
            "maxLength": 32,
            "type": "string"
          },
          "message": {
            "description": "Descriptive text on the outcome of the operation.\n",
            "example": "success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          },
          "status": {
            "description": "Final status of operation.\n",
            "example": "SUCCESS",
            "format": "const",
            "maxLength": 20,
            "type": "string"
          }
        },
        "required": [
          "code",
          "status",
          "message"
        ],
        "type": "object"
      },
      "DeviceGroupGetRPCOutputSchema": {
        "allOf": [
          {
            "description": "List of device-groups with their properties.",
            "properties": {
              "items": {
                "items": {
                  "$ref": "#/components/schemas/DeviceGroupScope"
                },
                "maxItems": 9999,
                "type": "array"
              },
              "response": {
                "$ref": "#/components/schemas/DeviceCollectionResponse"
              }
            },
            "required": [
              "items"
            ],
            "type": "object"
          },
          {
            "$ref": "#/components/schemas/PaginationResponseProperties"
          }
        ]
      },
      "DeviceGroupScope": {
        "properties": {
          "description": {
            "description": "description for the scope",
            "type": "string"
          },
          "deviceCount": {
            "description": "device count in the site",
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "description": "scopeId.\n",
            "example": "12345",
            "format": "const",
            "maxLength": 20,
            "type": "string"
          },
          "scopeId": {
            "description": "Scope Id for the scope",
            "readOnly": true,
            "type": "string"
          },
          "scopeName": {
            "description": "name of the scope",
            "type": "string"
          },
          "type": {
            "description": "network-config/device-groups.\n",
            "example": "Sample Site",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "scopeName"
        ],
        "type": "object"
      },
      "DeviceMoveCollectionSMSchema": {
        "description": "Successful creation of device-groups by scopeId.",
        "properties": {
          "code": {
            "description": "The return code of device-groups creation operation.",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/ScopeIds"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "message": {
            "description": "The message device-groups creation operation.",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "status": {
            "description": "device-groups creation operation status.",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          }
        },
        "required": [
          "items",
          "code",
          "status",
          "message"
        ],
        "type": "object"
      },
      "Filter": {
        "description": "OData Version 4.0 filter string (limited functionality).\nSupports only 'eq' operations ('gt', 'ge', 'lt', 'le' and 'in' are NOT supported).\nSupports only 'and' conjunction ('or' and 'not' are NOT supported).\nSupported filter fields are: scopeName, address, city, state, country, zipcode, collectionName\n",
        "example": "scopeName eq 'Aruba'",
        "format": "const",
        "maxLength": 256,
        "type": "string"
      },
      "LimitParam": {
        "default": 100,
        "description": "Specifies the number of results to return. (Default: 100) Maximum limit per query is 100.",
        "format": "int32",
        "maximum": 100,
        "minimum": 1,
        "type": "integer"
      },
      "OffsetParam": {
        "default": 0,
        "description": "Specifies the pagination offset for the page of resources.",
        "format": "int32",
        "maximum": 2147483647,
        "minimum": 0,
        "type": "integer"
      },
      "PaginationResponseProperties": {
        "description": "Fields appended to a list to facilitate paging.\n",
        "properties": {
          "count": {
            "description": "The number of objects returned in the current list.\n",
            "example": 1,
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer"
          },
          "offset": {
            "description": "An offset which could be passed in the next query to fetch the next page.\nSet to null when no more pages remain.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "total": {
            "description": "The total number of objects contained in the datastore.\n",
            "example": 1,
            "format": "int64",
            "maximum": 9223372036854776000,
            "minimum": 0,
            "type": "integer"
          }
        },
        "required": [
          "count",
          "total",
          "offset"
        ],
        "type": "object"
      },
      "ScopeIds": {
        "description": "scope id's",
        "type": "string"
      },
      "Search": {
        "description": "Partial or Full String Free text search.",
        "format": "const",
        "maxLength": 256,
        "type": "string"
      },
      "Sort": {
        "description": "Specifies the sort order of the field followed by sort direction.\nSupports ASC and DESC.\nSupported filter fields are: scopeName, address, city, state, country, zipcode, longitude, latitude, deviceCount, collectionName\n. Example: scopeName ASC",
        "example": "scopeName ASC",
        "format": "const",
        "maxLength": 256,
        "type": "string"
      }
    },
    "responses": {
      "BadRequestError": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "This can be used to help with troubleshooting\n",
                  "example": "abc-123-456",
                  "format": "const",
                  "maxLength": 50,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Bad Request.\n",
                  "example": "HPE_GL_ERROR_BAD_REQUEST",
                  "format": "const",
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "example": 400,
                  "maximum": 400,
                  "minimum": 400,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "example": "Invalid input provided for field `limit`. The value must be between 1 and 100.",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "httpStatusCode",
                "errorCode",
                "message",
                "debugId"
              ],
              "type": "object"
            }
          }
        },
        "description": "Invalid input received.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "Default": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_BAD_REQUEST"
                  ],
                  "maxLength": 128,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 400,
                  "minimum": 400,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Unexpected error.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "Forbidden": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_FORBIDDEN"
                  ],
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 403,
                  "minimum": 403,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Forbidden.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "InternalServerError": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_INTERNAL_SERVER_ERROR"
                  ],
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 500,
                  "minimum": 500,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Internal Server Error.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "NotFound": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.",
                  "enum": [
                    "HPE_GL_ERROR_NOT_FOUND"
                  ],
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.",
                  "maximum": 404,
                  "minimum": 404,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Resource not found.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "TooManyRequests": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_TOO_MANY_REQUESTS"
                  ],
                  "maxLength": 128,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 429,
                  "minimum": 429,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "Unauthorized": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_UNAUTHORIZED"
                  ],
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 401,
                  "minimum": 401,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      }
    },
    "headers": {
      "Deprecation": {
        "description": "Deprecation header indicating deprecation of the API",
        "schema": {
          "type": "string"
        }
      },
      "Sunset": {
        "description": "This API will sunset on Tue, 30 June 2026 23:59:59 GMT",
        "schema": {
          "format": "date-time",
          "type": "string"
        }
      },
      "XRateLimitLimitHeader": {
        "description": "Request limit per hour.",
        "schema": {
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "XRateLimitRemainingHeader": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "XRateLimitResetHeader": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
