{
  "openapi": "3.1.0",
  "info": {
    "title": "Global",
    "version": "1.0.0",
    "description": "This is a release of the Aruba Network Configuration APIs."
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Global"
    }
  ],
  "paths": {
    "/network-config/v1/global": {
      "get": {
        "description": "This API is used to fetch the Global Scope ID.",
        "operationId": "getGlobalScopeIdV1",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "id": {
                      "description": "scopeId.",
                      "example": "12345",
                      "format": "const",
                      "maxLength": 20,
                      "type": "string"
                    },
                    "scopeId": {
                      "description": "The ScopeId of the global scope",
                      "type": "string"
                    },
                    "type": {
                      "description": "network-config/global.",
                      "example": "Sample Global Scope Type",
                      "format": "const",
                      "maxLength": 512,
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Returns the global Scope ID of the customer",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get Global Scope Id",
        "tags": [
          "Global"
        ]
      }
    }
  },
  "components": {
    "responses": {
      "BadRequestError": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "This can be used to help with troubleshooting\n",
                  "example": "abc-123-456",
                  "format": "const",
                  "maxLength": 50,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Bad Request.\n",
                  "example": "HPE_GL_ERROR_BAD_REQUEST",
                  "format": "const",
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "example": 400,
                  "maximum": 400,
                  "minimum": 400,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "example": "Invalid input provided for field `limit`. The value must be between 1 and 100.",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "httpStatusCode",
                "errorCode",
                "message",
                "debugId"
              ],
              "type": "object"
            }
          }
        },
        "description": "Invalid input received.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "Forbidden": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_FORBIDDEN"
                  ],
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 403,
                  "minimum": 403,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Forbidden.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "InternalServerError": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_INTERNAL_SERVER_ERROR"
                  ],
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 500,
                  "minimum": 500,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Internal Server Error.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "TooManyRequests": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_TOO_MANY_REQUESTS"
                  ],
                  "maxLength": 128,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 429,
                  "minimum": 429,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "Unauthorized": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_UNAUTHORIZED"
                  ],
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 401,
                  "minimum": 401,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      }
    },
    "headers": {
      "XRateLimitLimitHeader": {
        "description": "Request limit per hour.",
        "schema": {
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "XRateLimitRemainingHeader": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "XRateLimitResetHeader": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
