{
  "openapi": "3.1.0",
  "info": {
    "title": "Hierarchy",
    "version": "1.0.0",
    "description": "This is a release of the Aruba Network Configuration APIs."
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "description": "Hierarchy APIs for retrieving scope hierarchy information.",
      "name": "Hierarchy"
    }
  ],
  "paths": {
    "/network-config/v1/hierarchy": {
      "get": {
        "description": "Returns the hierarchy of the given scopeId and its scopeType.",
        "operationId": "getHierarchyV1",
        "parameters": [
          {
            "description": "`scopeId` of resource site, site-collection, device-groups, org.",
            "example": "24833497",
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "description": "Scope-ID of the entity.",
              "type": "string"
            }
          },
          {
            "description": "`type` may be one of scopeType (device, site, site-collection, device-groups, org).",
            "example": "site",
            "in": "query",
            "name": "type",
            "required": true,
            "schema": {
              "description": "Scope-type of the entity.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HierarchyGetRPCOutputSchema"
                }
              }
            },
            "description": "Returns the hierarchy list with its scope IDs.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get scope hierarchy",
        "tags": [
          "Hierarchy"
        ]
      }
    },
    "/network-config/v1alpha1/hierarchy": {
      "get": {
        "deprecated": true,
        "description": "(Deprecated) Returns the hierarchy of the given scopeId and its scopeType. Use /network-config/v1/hierarchy instead.",
        "operationId": "getHierarchy",
        "parameters": [
          {
            "description": "`scopeId` of resource site, site-collection, device-groups, org",
            "example": "24833497",
            "in": "query",
            "name": "scope-id",
            "required": true,
            "schema": {
              "description": "scope-id of entity",
              "type": "string"
            }
          },
          {
            "description": "`scopeType` may be one of device, site, site-collection, device-groups, org",
            "example": "site",
            "in": "query",
            "name": "scope-type",
            "required": true,
            "schema": {
              "description": "scope-type of entity",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HierarchyGetRPCOutputSchema"
                }
              }
            },
            "description": "Returned hierarchy list with its scopeIds",
            "headers": {
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get scope hierarchy",
        "tags": [
          "Hierarchy"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Hierarchy": {
        "properties": {
          "childCount": {
            "description": "number of child of this scope",
            "type": "number"
          },
          "hostName": {
            "description": "hostname of the scope",
            "type": "string"
          },
          "scopeId": {
            "description": "id of the scope",
            "type": "string"
          },
          "scopeName": {
            "description": "Name of the scope",
            "type": "string"
          },
          "scopeType": {
            "description": "type of the scope. (site, site_collection, device_collection, org)",
            "type": "string"
          }
        },
        "type": "object"
      },
      "HierarchyGetRPCOutputSchema": {
        "allOf": [
          {
            "description": "List of hierarchy with their properties.",
            "properties": {
              "items": {
                "items": {
                  "$ref": "#/components/schemas/HierarchyScope"
                },
                "maxItems": 9999,
                "type": "array"
              },
              "response": {
                "$ref": "#/components/schemas/HierarchyResponse"
              }
            },
            "required": [
              "items"
            ],
            "type": "object"
          },
          {
            "$ref": "#/components/schemas/PaginationResponseProperties"
          }
        ]
      },
      "HierarchyResponse": {
        "properties": {
          "code": {
            "description": "status code.\n",
            "example": "SCOPE-HIERARCHY-SUC-001",
            "format": "const",
            "maxLength": 32,
            "type": "string"
          },
          "message": {
            "description": "Descriptive text on the outcome of the operation.\n",
            "example": "success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          },
          "status": {
            "description": "Final status of operation.\n",
            "example": "SUCCESS",
            "format": "const",
            "maxLength": 20,
            "type": "string"
          }
        },
        "required": [
          "code",
          "status",
          "message"
        ],
        "type": "object"
      },
      "HierarchyScope": {
        "properties": {
          "Hierarchy": {
            "items": {
              "$ref": "#/components/schemas/Hierarchy"
            },
            "type": "array"
          },
          "id": {
            "description": "scopeId.\n",
            "example": "12345",
            "format": "const",
            "maxLength": 20,
            "type": "string"
          },
          "type": {
            "description": "network-config/hierarchy.\n",
            "example": "Sample Site",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "id",
          "type"
        ],
        "type": "object"
      },
      "PaginationResponseProperties": {
        "description": "Fields appended to a list to facilitate paging.\n",
        "properties": {
          "count": {
            "description": "The number of objects returned in the current list.\n",
            "example": 1,
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer"
          },
          "offset": {
            "description": "An offset which could be passed in the next query to fetch the next page.\nSet to null when no more pages remain.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "total": {
            "description": "The total number of objects contained in the datastore.\n",
            "example": 1,
            "format": "int64",
            "maximum": 9223372036854776000,
            "minimum": 0,
            "type": "integer"
          }
        },
        "required": [
          "count",
          "total",
          "offset"
        ],
        "type": "object"
      }
    },
    "responses": {
      "BadRequestError": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "This can be used to help with troubleshooting\n",
                  "example": "abc-123-456",
                  "format": "const",
                  "maxLength": 50,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Bad Request.\n",
                  "example": "HPE_GL_ERROR_BAD_REQUEST",
                  "format": "const",
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "example": 400,
                  "maximum": 400,
                  "minimum": 400,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "example": "Invalid input provided for field `limit`. The value must be between 1 and 100.",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "httpStatusCode",
                "errorCode",
                "message",
                "debugId"
              ],
              "type": "object"
            }
          }
        },
        "description": "Invalid input received.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "Default": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_BAD_REQUEST"
                  ],
                  "maxLength": 128,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 400,
                  "minimum": 400,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Unexpected error.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "Forbidden": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_FORBIDDEN"
                  ],
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 403,
                  "minimum": 403,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Forbidden.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "InternalServerError": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_INTERNAL_SERVER_ERROR"
                  ],
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 500,
                  "minimum": 500,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Internal Server Error.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "TooManyRequests": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_TOO_MANY_REQUESTS"
                  ],
                  "maxLength": 128,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 429,
                  "minimum": 429,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "Unauthorized": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_UNAUTHORIZED"
                  ],
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 401,
                  "minimum": 401,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      }
    },
    "headers": {
      "Deprecation": {
        "description": "Deprecation header indicating deprecation of the API",
        "schema": {
          "type": "string"
        }
      },
      "Sunset": {
        "description": "This API will sunset on Tue, 30 June 2026 23:59:59 GMT",
        "schema": {
          "format": "date-time",
          "type": "string"
        }
      },
      "XRateLimitLimitHeader": {
        "description": "Request limit per hour.",
        "schema": {
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "XRateLimitRemainingHeader": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "XRateLimitResetHeader": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
