{
  "openapi": "3.1.0",
  "info": {
    "title": "Site Collections",
    "version": "1.0.0",
    "description": "This is a release of the Aruba Network Configuration APIs."
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "description": "Site collection management APIs for creating, updating, deleting site collections and managing sites within collections.",
      "name": "Site Collections"
    }
  ],
  "paths": {
    "/network-config/v1/site-collection-add-sites": {
      "post": {
        "description": "This API is used to add one or more available sites to existing site-collection.",
        "operationId": "addSiteToSiteCollectionV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSitesToCollectionPostRPCInputSchema"
              }
            }
          },
          "description": "Add site to site-collection using scope ID. The site scope ID must exist in the system.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSitesToCollectionPostRPCOutputSchema"
                }
              }
            },
            "description": "Returns a successful site association to the site-collection with the `scopeId` of sites which were associated successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add sites to existing site-collection",
        "tags": [
          "Site Collections"
        ]
      }
    },
    "/network-config/v1/site-collection-remove-sites": {
      "delete": {
        "description": "This API is used to remove one or more available sites from the existing site collection.",
        "operationId": "removeSitesFromSiteCollectionByScopeIdV1",
        "parameters": [
          {
            "description": "Scope IDs of sites to be removed from site-collections.",
            "example": "24833497,24833498",
            "in": "query",
            "name": "site-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveSitesFromCollectionDeleteRPCOutputSchema"
                }
              }
            },
            "description": "Returns the list of `scopeId` of Sites which were removed from the site-collection successfully.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Remove sites from site-collection",
        "tags": [
          "Site Collections"
        ]
      }
    },
    "/network-config/v1/site-collections": {
      "get": {
        "description": "This API is used to fetch information about all site collections, based on the query parameters provided. Each site collection in the returned list includes - scopeId, scopeName, description, siteCount, deviceCount.",
        "operationId": "getSiteCollectionsV1",
        "parameters": [
          {
            "description": "Number of site-collections that need to be fetched. (Default: 100) Maximum limit per query is 100.",
            "example": 20,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/LimitParam"
            }
          },
          {
            "description": "Offset from where the site-collections need to be fetched.",
            "example": 0,
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/OffsetParam"
            }
          },
          {
            "description": "OData 4.0 filter supports filtering on fields `scopeName`, `description`.",
            "example": "scopeName eq 'Main Building'",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          {
            "description": "Sort by field. May be one of `scopeName`, `description`, `deviceCount`, `siteCount`.",
            "example": "scopeName ASC",
            "in": "query",
            "name": "sort",
            "schema": {
              "$ref": "#/components/schemas/Sort"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteCollectionGetRPCOutputSchema"
                }
              }
            },
            "description": "Returns the site-collection list with its properties.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get site-collections",
        "tags": [
          "Site Collections"
        ]
      },
      "put": {
        "description": "This API will update the site collection name and description based on the `scopeId`.",
        "operationId": "updateSiteCollectionByScopeIdV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteCollectionPutRPCInputSchema"
              }
            }
          },
          "description": "The site-collection update body.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteCollectionPutRPCOutputSchema"
                }
              }
            },
            "description": "Site-collection update successful and returns the scopeId of the Site-collection updated."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update site-collection",
        "tags": [
          "Site Collections"
        ]
      },
      "post": {
        "description": "This API will create site collection with or without sites associated. To create empty site-collection (without any site associated) do not pass `siteIds` list.",
        "operationId": "createSiteCollectionV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteCollectionPostRPCInputSchema"
              }
            }
          },
          "description": "The site-collection create body.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteCollectionPostRPCOutputSchema"
                }
              }
            },
            "description": "Site-collection creation successful and returns the scopeId of the Site-collection created."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create site-collection",
        "tags": [
          "Site Collections"
        ]
      }
    },
    "/network-config/v1/site-collections/bulk": {
      "delete": {
        "description": "This API is used to delete one or more existing site collections using a bulk delete operation.",
        "operationId": "deleteSiteCollectionsBulkV1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "items": [
                    {
                      "id": "scope-id-1"
                    },
                    {
                      "id": "scope-id-2"
                    },
                    {
                      "id": "scope-id-3"
                    }
                  ]
                },
                "properties": {
                  "items": {
                    "description": "An array of site collection IDs to delete.",
                    "items": {
                      "properties": {
                        "id": {
                          "description": "The site collection ID to delete.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "items"
                ],
                "type": "object"
              }
            }
          },
          "description": "The request body for bulk deleting site collections.",
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Response code.",
                      "type": "string"
                    },
                    "items": {
                      "description": "List of deleted site collection IDs.",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Response message.",
                      "type": "string"
                    },
                    "status": {
                      "description": "Operation status.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Site-collections deleted successfully.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Bulk delete site-collections",
        "tags": [
          "Site Collections"
        ]
      }
    },
    "/network-config/v1alpha1/site-collection-add-sites": {
      "post": {
        "deprecated": true,
        "description": "(Deprecated) This API is used to add one or more available sites to existing site-collection. Use /network-config/v1/site-collection-add-sites instead.",
        "operationId": "addSiteToSiteCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddSitesToCollectionPostRPCInputSchema"
              }
            }
          },
          "description": "Add site to site-collection using scopeId. The site scopeId must exist in system.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSitesToCollectionPostRPCOutputSchema"
                }
              }
            },
            "description": "Returned Sites association to site-collection successful with the `scopeId` of sites which associated successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add sites to existing site-collection",
        "tags": [
          "Site Collections"
        ]
      }
    },
    "/network-config/v1alpha1/site-collection-remove-sites": {
      "delete": {
        "deprecated": true,
        "description": "(Deprecated) This API is used to remove one or more available sites from the existing site collection. Use /network-config/v1/site-collection-remove-sites instead.",
        "operationId": "removeSitesFromSiteCollectionByScopeId",
        "parameters": [
          {
            "description": "scope ids of sites to be removed from site-collections",
            "example": "24833497,24833498",
            "in": "query",
            "name": "site-ids",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveSitesFromCollectionDeleteRPCOutputSchema"
                }
              }
            },
            "description": "Returns list of `scopeId` of Sites which was removed from site-collection successfully",
            "headers": {
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Remove sites from site-collection",
        "tags": [
          "Site Collections"
        ]
      }
    },
    "/network-config/v1alpha1/site-collections": {
      "get": {
        "deprecated": true,
        "description": "(Deprecated) This API is used to fetch information of all site collections, based on the query parameters provided. Each site collection in the returned list includes - scopeId, scopeName, description, siteCount, deviceCount. Use /network-config/v1/site-collections instead.",
        "operationId": "getSiteCollections",
        "parameters": [
          {
            "description": "number of site-collections that needs to be fetched. (Default: 100) Maximum limit per query is 100",
            "example": 20,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "offset from where the site-collections need to be fetched",
            "example": 0,
            "in": "query",
            "name": "offset",
            "required": true,
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          {
            "description": "OData 4.0 filter supports filtering on fields `scopeName`, `description`",
            "example": "scopeName eq 'Main Building'",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          {
            "description": "Partial or Full String Free text search",
            "example": "building",
            "in": "query",
            "name": "search",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Search"
            }
          },
          {
            "description": "sort by field may be one of `scopeName`, `description`, `deviceCount`, `siteCount`",
            "example": "scopeName ASC",
            "in": "query",
            "name": "sort",
            "schema": {
              "$ref": "#/components/schemas/Sort"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteCollectionGetRPCOutputSchema"
                }
              }
            },
            "description": "Returned site-collection list with its properties",
            "headers": {
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get site-collections",
        "tags": [
          "Site Collections"
        ]
      },
      "put": {
        "deprecated": true,
        "description": "(Deprecated) This API will update the site collection name and description based on the `scopeId`. Use /network-config/v1/site-collections instead.",
        "operationId": "updateSiteCollectionByScopeId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteCollectionPutRPCInputSchema"
              }
            }
          },
          "description": "site-collection update body",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteCollectionPutRPCOutputSchema"
                }
              }
            },
            "description": "Site-collection update successful and returns the scopeId of the Site-collection updated.",
            "headers": {
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update site-collection",
        "tags": [
          "Site Collections"
        ]
      },
      "post": {
        "deprecated": true,
        "description": "(Deprecated) This API will create site collection with or without sites associated. To create empty site-collection (without any site associated) do not pass `siteIds` list. Use /network-config/v1/site-collections instead.",
        "operationId": "createSiteCollection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteCollectionPostRPCInputSchema"
              }
            }
          },
          "description": "site-collection create body",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteCollectionPostRPCOutputSchema"
                }
              }
            },
            "description": "Site-collection creation successful and returns the scopeId of the Site-collection created.",
            "headers": {
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create site-collection",
        "tags": [
          "Site Collections"
        ]
      },
      "delete": {
        "deprecated": true,
        "description": "(Deprecated) This API will delete one or more existing site collections. To delete multiple site collections send scopeIds in comma-separated values. Use /network-config/v1alpha1/site-collections/bulk instead.",
        "operationId": "deleteSiteCollectionByScopeId",
        "parameters": [
          {
            "description": "scope ids of site-collections to be deleted",
            "example": "scopeId1,scopeId2",
            "in": "query",
            "name": "scope-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteCollectionDeleteRPCOutputSchema"
                }
              }
            },
            "description": "Site-Collection deleted successfully and returns the ScopeId of the deleted site-collections",
            "headers": {
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete site-collection by scopeId",
        "tags": [
          "Site Collections"
        ]
      }
    },
    "/network-config/v1alpha1/site-collections/bulk": {
      "delete": {
        "deprecated": true,
        "description": "(Deprecated) This API is used to delete one or more existing site collections using a bulk delete operation. Use /network-config/v1/site-collections/bulk instead.",
        "operationId": "deleteSiteCollectionsBulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "items": [
                    {
                      "id": "scope-id-1"
                    },
                    {
                      "id": "scope-id-2"
                    },
                    {
                      "id": "scope-id-3"
                    }
                  ]
                },
                "properties": {
                  "items": {
                    "description": "Array of site collection IDs to delete",
                    "items": {
                      "properties": {
                        "id": {
                          "description": "Site collection ID to delete",
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "items"
                ],
                "type": "object"
              }
            }
          },
          "description": "Request body for bulk deleting site collections",
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "description": "Response code",
                      "type": "string"
                    },
                    "items": {
                      "description": "List of deleted site collection IDs",
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "message": {
                      "description": "Response message",
                      "type": "string"
                    },
                    "status": {
                      "description": "Operation status",
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Site-collections deleted successfully",
            "headers": {
              "Deprecation": {
                "$ref": "#/components/headers/Deprecation"
              },
              "Sunset": {
                "$ref": "#/components/headers/Sunset"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeader"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeader"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "default": {
            "$ref": "#/components/responses/Default"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Bulk delete site-collections",
        "tags": [
          "Site Collections"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AddSitesToCollectionPostRPCInputSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SiteCollectionId"
          },
          {
            "$ref": "#/components/schemas/SiteIds"
          }
        ],
        "properties": {
          "siteCollectionId": {
            "description": "site collection id",
            "type": "string"
          },
          "siteIds": {
            "items": {
              "description": "site id's",
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "AddSitesToCollectionPostRPCOutputSchema": {
        "description": "Successful added sites to site-collection by scopeId.",
        "properties": {
          "code": {
            "description": "The return code of sites add to site-collection operation.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/ScopeIds"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "message": {
            "description": "The message of sites add to site-collection operation.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "status": {
            "description": "sites add to site-collection operation status.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          }
        },
        "required": [
          "items",
          "code",
          "status",
          "message"
        ],
        "type": "object"
      },
      "Description": {
        "properties": {
          "description": {
            "description": "name of the scope",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Filter": {
        "description": "OData Version 4.0 filter string (limited functionality).\nSupports only 'eq' operations ('gt', 'ge', 'lt', 'le' and 'in' are NOT supported).\nSupports only 'and' conjunction ('or' and 'not' are NOT supported).\nSupported filter fields are: scopeName, address, city, state, country, zipcode, collectionName\n",
        "example": "scopeName eq 'Aruba'",
        "format": "const",
        "maxLength": 256,
        "type": "string"
      },
      "LimitParam": {
        "default": 100,
        "description": "Specifies the number of results to return. (Default: 100) Maximum limit per query is 100.",
        "format": "int32",
        "maximum": 100,
        "minimum": 1,
        "type": "integer"
      },
      "OffsetParam": {
        "default": 0,
        "description": "Specifies the pagination offset for the page of resources.",
        "format": "int32",
        "maximum": 2147483647,
        "minimum": 0,
        "type": "integer"
      },
      "PaginationResponseProperties": {
        "description": "Fields appended to a list to facilitate paging.\n",
        "properties": {
          "count": {
            "description": "The number of objects returned in the current list.\n",
            "example": 1,
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1,
            "type": "integer"
          },
          "offset": {
            "description": "An offset which could be passed in the next query to fetch the next page.\nSet to null when no more pages remain.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "total": {
            "description": "The total number of objects contained in the datastore.\n",
            "example": 1,
            "format": "int64",
            "maximum": 9223372036854776000,
            "minimum": 0,
            "type": "integer"
          }
        },
        "required": [
          "count",
          "total",
          "offset"
        ],
        "type": "object"
      },
      "RemoveSitesFromCollectionDeleteRPCOutputSchema": {
        "description": "Successful removed sites from site-collection by scopeId.",
        "properties": {
          "code": {
            "description": "The return code of sites removal from site-collection operation.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/ScopeIds"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "message": {
            "description": "The message of sites removal from site-collection operation.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "status": {
            "description": "sites removal from site-collection operation status.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          }
        },
        "required": [
          "items",
          "code",
          "status",
          "message"
        ],
        "type": "object"
      },
      "ScopeId": {
        "properties": {
          "scopeId": {
            "description": "scopeId of the scope",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ScopeIds": {
        "description": "scope id's",
        "type": "string"
      },
      "ScopeName": {
        "properties": {
          "scopeName": {
            "description": "name of the scope",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Search": {
        "description": "Partial or Full String Free text search.",
        "format": "const",
        "maxLength": 256,
        "type": "string"
      },
      "SiteCollectionDeleteRPCOutputSchema": {
        "description": "Successful deletion of site-collection by scopeId.",
        "properties": {
          "code": {
            "description": "The return code of site-collection deletion operation.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/ScopeIds"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "message": {
            "description": "The message site-collection deletion operation.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "status": {
            "description": "site-collection delete operation status.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          }
        },
        "required": [
          "items",
          "code",
          "status",
          "message"
        ],
        "type": "object"
      },
      "SiteCollectionGetRPCOutputSchema": {
        "allOf": [
          {
            "description": "List of site-collection with their properties.",
            "properties": {
              "items": {
                "items": {
                  "$ref": "#/components/schemas/SiteCollectionScope"
                },
                "maxItems": 9999,
                "type": "array"
              },
              "response": {
                "$ref": "#/components/schemas/SiteCollectionResponse"
              }
            },
            "required": [
              "items"
            ],
            "type": "object"
          },
          {
            "$ref": "#/components/schemas/PaginationResponseProperties"
          }
        ]
      },
      "SiteCollectionId": {
        "properties": {
          "siteCollectionId": {
            "description": "site collection id",
            "type": "string"
          }
        },
        "type": "object"
      },
      "SiteCollectionPostRPCInputSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ScopeName"
          },
          {
            "$ref": "#/components/schemas/Description"
          },
          {
            "$ref": "#/components/schemas/SiteIds"
          }
        ],
        "properties": {
          "description": {
            "description": "name of the scope",
            "type": "string"
          },
          "scopeName": {
            "description": "name of the scope",
            "type": "string"
          },
          "siteIds": {
            "items": {
              "description": "site id's",
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "SiteCollectionPostRPCOutputSchema": {
        "description": "Successful Creation of Site-Collection.",
        "properties": {
          "code": {
            "description": "The return code of site-collection create operation.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/ScopeIds"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "message": {
            "description": "The message of site-collection create operation.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "status": {
            "description": "Site-Collection Create operation status.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          }
        },
        "required": [
          "items",
          "code",
          "status",
          "message"
        ],
        "type": "object"
      },
      "SiteCollectionPutRPCInputSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ScopeId"
          },
          {
            "$ref": "#/components/schemas/ScopeName"
          },
          {
            "$ref": "#/components/schemas/Description"
          }
        ],
        "properties": {
          "description": {
            "description": "name of the scope",
            "type": "string"
          },
          "scopeId": {
            "description": "name of the scope",
            "type": "string"
          },
          "scopeName": {
            "description": "name of the scope",
            "type": "string"
          }
        }
      },
      "SiteCollectionPutRPCOutputSchema": {
        "description": "Successful Updated of SiteCollection by scopeId.",
        "properties": {
          "code": {
            "description": "The return code of site-collection update operation.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "items": {
            "items": {
              "$ref": "#/components/schemas/ScopeIds"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "message": {
            "description": "The message of site-collection update operation.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          },
          "status": {
            "description": "Site-Collection Update operation status.\n",
            "format": "const",
            "maxLength": 128,
            "type": "string"
          }
        },
        "required": [
          "items",
          "code",
          "status",
          "message"
        ],
        "type": "object"
      },
      "SiteCollectionResponse": {
        "properties": {
          "code": {
            "description": "status code.\n",
            "example": "SCOPE-SITE-COLLECTION-SUC-001",
            "format": "const",
            "maxLength": 32,
            "type": "string"
          },
          "message": {
            "description": "Descriptive text on the outcome of the operation.\n",
            "example": "success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          },
          "status": {
            "description": "Final status of operation.\n",
            "example": "SUCCESS",
            "format": "const",
            "maxLength": 20,
            "type": "string"
          }
        },
        "required": [
          "code",
          "status",
          "message"
        ],
        "type": "object"
      },
      "SiteCollectionScope": {
        "properties": {
          "description": {
            "description": "description for the scope",
            "type": "string"
          },
          "id": {
            "description": "scopeId.\n",
            "example": "12345",
            "format": "const",
            "maxLength": 20,
            "type": "string"
          },
          "scopeId": {
            "description": "Scope Id for the scope",
            "readOnly": true,
            "type": "string"
          },
          "scopeName": {
            "description": "name of the scope",
            "type": "string"
          },
          "siteCount": {
            "description": "site count in the site",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "network-config/site-collection.\n",
            "example": "Sample Site",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "id",
          "type",
          "scopeName"
        ],
        "type": "object"
      },
      "SiteIds": {
        "properties": {
          "siteIds": {
            "items": {
              "description": "site id's",
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "Sort": {
        "description": "Specifies the sort order of the field followed by sort direction.\nSupports ASC and DESC.\nSupported filter fields are: scopeName, address, city, state, country, zipcode, longitude, latitude, deviceCount, collectionName\n. Example: scopeName ASC",
        "example": "scopeName ASC",
        "format": "const",
        "maxLength": 256,
        "type": "string"
      }
    },
    "responses": {
      "BadRequestError": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "This can be used to help with troubleshooting\n",
                  "example": "abc-123-456",
                  "format": "const",
                  "maxLength": 50,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Bad Request.\n",
                  "example": "HPE_GL_ERROR_BAD_REQUEST",
                  "format": "const",
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "example": 400,
                  "maximum": 400,
                  "minimum": 400,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "example": "Invalid input provided for field `limit`. The value must be between 1 and 100.",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "httpStatusCode",
                "errorCode",
                "message",
                "debugId"
              ],
              "type": "object"
            }
          }
        },
        "description": "Invalid input received.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "Default": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_BAD_REQUEST"
                  ],
                  "maxLength": 128,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 400,
                  "minimum": 400,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Unexpected error.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "Forbidden": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_FORBIDDEN"
                  ],
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 403,
                  "minimum": 403,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Forbidden.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "InternalServerError": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_INTERNAL_SERVER_ERROR"
                  ],
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 500,
                  "minimum": 500,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Internal Server Error.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "TooManyRequests": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_TOO_MANY_REQUESTS"
                  ],
                  "maxLength": 128,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 429,
                  "minimum": 429,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      },
      "Unauthorized": {
        "content": {
          "application/json": {
            "schema": {
              "description": "Error details returned from the server.\n",
              "properties": {
                "debugId": {
                  "description": "Internal debug id.\n",
                  "format": "const",
                  "maxLength": 128,
                  "type": "string"
                },
                "errorCode": {
                  "description": "Internal error code.\n",
                  "enum": [
                    "HPE_GL_ERROR_UNAUTHORIZED"
                  ],
                  "maxLength": 32,
                  "type": "string"
                },
                "httpStatusCode": {
                  "description": "HTTP status code.\n",
                  "maximum": 401,
                  "minimum": 401,
                  "type": "integer"
                },
                "message": {
                  "description": "Error message indicating the cause of the failure.\n",
                  "format": "const",
                  "maxLength": 512,
                  "type": "string"
                }
              },
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "type": "object"
            }
          }
        },
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        }
      }
    },
    "headers": {
      "Deprecation": {
        "description": "Deprecation header indicating deprecation of the API",
        "schema": {
          "type": "string"
        }
      },
      "Sunset": {
        "description": "This API will sunset on Tue, 30 June 2026 23:59:59 GMT",
        "schema": {
          "format": "date-time",
          "type": "string"
        }
      },
      "XRateLimitLimitHeader": {
        "description": "Request limit per hour.",
        "schema": {
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "XRateLimitRemainingHeader": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "XRateLimitResetHeader": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
