{
  "openapi": "3.1.0",
  "info": {
    "title": "Cda Authz Policy",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Cda Authz Policy"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/authz-policies": {
      "get": {
        "description": "Authorization policies to be used for Central NAC.\n\nAuthorization policy defines authorization sources and rules that determine the enforcement profile that is assigned to user or device upon authorization.\n\nAuthorization policies must be configured with default query parameters.",
        "operationId": "readAuthzPolicies",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_AuthzPoliciesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read authorization policy configuration(s).",
        "tags": [
          "Cda Authz Policy"
        ],
        "x-cliParam": {
          "commandName": "readAuthzPoliciesCmd",
          "commandUse": "authz-policies",
          "parentCommand": "readCmd",
          "pathToPrint": "/authz-policies/",
          "summary": "Read operation for authz-policies"
        }
      }
    },
    "/network-config/v1alpha1/authz-policies/{policy-id}": {
      "get": {
        "description": "Authorization Policy to be used for Central NAC.\n\nAuthorization policy defines authorization sources and rules that determine the enforcement profile that is assigned to user or device upon authorization.",
        "operationId": "readAuthzPoliciesPolicyByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for policy.",
            "in": "path",
            "name": "policy-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_AuthzPoliciespolicySchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read authorization policy configuration.",
        "tags": [
          "Cda Authz Policy"
        ],
        "x-cliParam": {
          "commandName": "readAuthzPoliciesPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "policy-id"
            }
          ],
          "parentCommand": "readAuthzPoliciesCmd",
          "pathToPrint": "/authz-policies/policy/%s/",
          "summary": "Read operation for policy",
          "totParams": 1
        }
      },
      "put": {
        "description": "Authorization Policy to be used for Central NAC.\n\nAuthorization policy defines authorization sources and rules that determine the enforcement profile that is assigned to user or device upon authorization.",
        "operationId": "replaceAuthzPoliciesPolicyByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for policy.",
            "in": "path",
            "name": "policy-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaAuthzPolicy_AuthzPoliciespolicySchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace policy by policy-id",
        "tags": [
          "Cda Authz Policy"
        ],
        "x-cliParam": {
          "commandName": "replaceAuthzPoliciesPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "policy-id"
            }
          ],
          "parentCommand": "replaceAuthzPoliciesCmd",
          "pathToPrint": "/authz-policies/policy/%s/",
          "summary": "Replace operation for policy",
          "totParams": 1
        }
      },
      "post": {
        "description": "Authorization Policy to be used for Central NAC.\n\nAuthorization policy defines authorization sources and rules that determine the enforcement profile that is assigned to user or device upon authorization.",
        "operationId": "createAuthzPoliciesPolicyByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for policy.",
            "in": "path",
            "name": "policy-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaAuthzPolicy_AuthzPoliciespolicySchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create authorization policy configuration.",
        "tags": [
          "Cda Authz Policy"
        ],
        "x-cliParam": {
          "commandName": "createAuthzPoliciesPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "policy-id"
            }
          ],
          "parentCommand": "createAuthzPoliciesCmd",
          "pathToPrint": "/authz-policies/policy/%s/",
          "summary": "Create operation for policy",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Authorization Policy to be used for Central NAC.\n\nAuthorization policy defines authorization sources and rules that determine the enforcement profile that is assigned to user or device upon authorization.",
        "operationId": "deleteAuthzPoliciesPolicyByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for policy.",
            "in": "path",
            "name": "policy-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete authorization policy configuration.",
        "tags": [
          "Cda Authz Policy"
        ],
        "x-cliParam": {
          "commandName": "deleteAuthzPoliciesPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "policy-id"
            }
          ],
          "parentCommand": "deleteAuthzPoliciesCmd",
          "pathToPrint": "/authz-policies/policy/%s/",
          "summary": "Delete operation for policy",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Authorization Policy to be used for Central NAC.\n\nAuthorization policy defines authorization sources and rules that determine the enforcement profile that is assigned to user or device upon authorization.",
        "operationId": "updateAuthzPoliciesPolicyByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for policy.",
            "in": "path",
            "name": "policy-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaAuthzPolicy_AuthzPoliciespolicySchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update authorization policy configuration.",
        "tags": [
          "Cda Authz Policy"
        ],
        "x-cliParam": {
          "commandName": "updateAuthzPoliciesPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "policy-id"
            }
          ],
          "parentCommand": "updateAuthzPoliciesCmd",
          "pathToPrint": "/authz-policies/policy/%s/",
          "summary": "Update operation for policy",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaCdaAuthzPolicy_AuthzPoliciesSchemaGET": {
        "description": "Authorization policies to be used for Central NAC.\n\nAuthorization policy defines authorization sources and rules that determine the enforcement profile that is assigned to user or device upon authorization.\n\nAuthorization policies must be configured with default query parameters.",
        "properties": {
          "policy": {
            "description": "Authorization Policy to be used for Central NAC.\n\nAuthorization policy defines authorization sources and rules that determine the enforcement profile that is assigned to user or device upon authorization.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_AuthzPolicyConfigGet"
                }
              ]
            },
            "maxItems": 100,
            "type": "array",
            "x-key": [
              "policyId"
            ]
          }
        }
      },
      "ArubaCdaAuthzPolicy_AuthzPoliciespolicySchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_AuthzPolicyConfig"
          }
        ]
      },
      "ArubaCdaAuthzPolicy_AuthzPoliciespolicySchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_AuthzPolicyConfigGet"
          }
        ]
      },
      "ArubaCdaAuthzPolicy_AuthzPolicyConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_PolicyConditionsConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_PolicyRulesConfig"
          }
        ],
        "description": "Authorization policy defines authorization sources and rules that determine the enforcement profile that is assigned to user or device upon authorization.",
        "properties": {
          "ci-cache-max-age": {
            "default": "4320",
            "description": "Maximum time in minutes after which cached client attributes are dropped.",
            "format": "int64",
            "maximum": 43200,
            "minimum": 1,
            "type": "integer"
          },
          "default-enf-profile": {
            "description": "Default enforcement profile that is inherited by all configured rules.\n\nA union of enforcement attributes from default profile and enforcement profile from matching rule will be applied.\n\nEnforcement Attributes from matching rule have precedence over default attributes",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCdaEnforcementProfile_EnforcementProfilesConfig"
                }
              ]
            },
            "maxItems": 32,
            "minItems": 0,
            "type": "array",
            "x-key": [
              "profileId"
            ]
          },
          "description": {
            "format": "const",
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "x-typeDescription": "Add Description to the entity."
          },
          "dpp-network": {
            "description": "Name of the DPP network.",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string"
          },
          "enable": {
            "default": "true",
            "description": "Enable policy.",
            "type": "boolean"
          },
          "enforce-user-validity": {
            "default": "true",
            "description": "Enable user validity enforcement.",
            "type": "boolean"
          },
          "identity-stores": {
            "description": "Reference to the identity store(s) to be used for policy evaluation.",
            "items": {
              "description": "Reference to the identity store(s) to be used for policy evaluation.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-path": "/ac-cda-is:identity-stores/ac-cda-is:store/ac-cda-is:id",
              "x-patternSources": "id",
              "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "name": {
            "description": "Name of authorization policy.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "policy-id": {
            "description": "Unique immutable identifier for policy.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "policy-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "policy-type": {
            "description": "Authorization policy type that defines the kind of pre-conditions,\nidentity stores, policy rules and enforcement profiles that can be configured.",
            "enum": [
              "DEVICE",
              "USER",
              "DPP",
              "VISITOR",
              "CUSTOM",
              "NAMED_MPSK"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CUSTOM": "Custom authorization policy that provides complete flexibility in configuration.\nThis is only allowed with premium license.",
              "DEVICE": "Client device or MAC based authorization policy.",
              "DPP": "Authorization policy for DPP.",
              "NAMED_MPSK": "Authorization policy for named MPSK.",
              "USER": "User based authorization policy.",
              "VISITOR": "Authorization policy for visitors."
            },
            "x-typeDescription": "Type of Authorization policy that defines the kind of pre-conditions,\nidentity stores, policy rules and enforcement profiles that can be configured."
          },
          "position": {
            "description": "Position determines the order in which the policies are evaluated.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-mandatory": true
          }
        },
        "required": [
          "name",
          "position"
        ]
      },
      "ArubaCdaAuthzPolicy_AuthzPolicyConfigGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_PolicyConditionsConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_PolicyRulesConfigGet"
          }
        ],
        "description": "Authorization policy defines authorization sources and rules that determine the enforcement profile that is assigned to user or device upon authorization.",
        "properties": {
          "ci-cache-max-age": {
            "default": "4320",
            "description": "Maximum time in minutes after which cached client attributes are dropped.",
            "format": "int64",
            "maximum": 43200,
            "minimum": 1,
            "type": "integer"
          },
          "default-enf-profile": {
            "description": "Default enforcement profile that is inherited by all configured rules.\n\nA union of enforcement attributes from default profile and enforcement profile from matching rule will be applied.\n\nEnforcement Attributes from matching rule have precedence over default attributes",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCdaEnforcementProfile_EnforcementProfilesConfigGet"
                }
              ]
            },
            "maxItems": 32,
            "minItems": 0,
            "type": "array",
            "x-key": [
              "profileId"
            ]
          },
          "description": {
            "format": "const",
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "x-typeDescription": "Add Description to the entity."
          },
          "dpp-network": {
            "description": "Name of the DPP network.",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string"
          },
          "enable": {
            "default": "true",
            "description": "Enable policy.",
            "type": "boolean"
          },
          "enforce-user-validity": {
            "default": "true",
            "description": "Enable user validity enforcement.",
            "type": "boolean"
          },
          "identity-stores": {
            "description": "Reference to the identity store(s) to be used for policy evaluation.",
            "items": {
              "description": "Reference to the identity store(s) to be used for policy evaluation.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-path": "/ac-cda-is:identity-stores/ac-cda-is:store/ac-cda-is:id",
              "x-patternSources": "id",
              "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "name": {
            "description": "Name of authorization policy.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "policy-id": {
            "description": "Unique immutable identifier for policy.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "policy-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "policy-type": {
            "description": "Authorization policy type that defines the kind of pre-conditions,\nidentity stores, policy rules and enforcement profiles that can be configured.",
            "enum": [
              "DEVICE",
              "USER",
              "DPP",
              "VISITOR",
              "CUSTOM",
              "NAMED_MPSK"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CUSTOM": "Custom authorization policy that provides complete flexibility in configuration.\nThis is only allowed with premium license.",
              "DEVICE": "Client device or MAC based authorization policy.",
              "DPP": "Authorization policy for DPP.",
              "NAMED_MPSK": "Authorization policy for named MPSK.",
              "USER": "User based authorization policy.",
              "VISITOR": "Authorization policy for visitors."
            },
            "x-typeDescription": "Type of Authorization policy that defines the kind of pre-conditions,\nidentity stores, policy rules and enforcement profiles that can be configured."
          },
          "position": {
            "description": "Position determines the order in which the policies are evaluated.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-mandatory": true
          }
        },
        "required": [
          "name",
          "position"
        ]
      },
      "ArubaCdaAuthzPolicy_ConditionsGroupConfig": {
        "description": "Policy condition group.",
        "properties": {
          "attr": {
            "description": "Attribute name.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true,
            "x-typeDescription": "Specifies the policy condition name."
          },
          "condition-group-id": {
            "description": "Unique immutable identifier for condition group.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "condition-group-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "operator": {
            "description": "Policy operator type.",
            "enum": [
              "OP_EQUALS",
              "OP_EQUALS_IC",
              "OP_NOT_EQUALS",
              "OP_NOT_EQUALS_IC",
              "OP_GREATER_THAN",
              "OP_LESS_THAN",
              "OP_BELONGS_TO",
              "OP_NOT_BELONGS_TO",
              "OP_BEGINS_WITH",
              "OP_BEGINS_WITH_IGNORE_CASE",
              "OP_ENDS_WITH",
              "OP_ENDS_WITH_IGNORE_CASE",
              "OP_CONTAINS",
              "OP_NOT_CONTAINS",
              "OP_CONTAINS_ELEM",
              "OP_NOT_CONTAINS_ELEM",
              "OP_CONTAINS_ANY",
              "OP_NOT_CONTAINS_ANY",
              "OP_CONTAINS_ALL",
              "OP_CONTAINS_NONE",
              "OP_NOT_CONTAINS_ALL",
              "OP_EXISTS",
              "OP_NOT_EXISTS",
              "OP_IS_MAC_ADDRESS",
              "OP_MATCHES_REGEX",
              "OP_COMPUTE_TRUE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "OP_BEGINS_WITH": "BEGINS_WITH condition for use in Cloud Auth policy rules.\nExample: 'Hello' BEGINS_WITH 'Hel'",
              "OP_BEGINS_WITH_IGNORE_CASE": "String has prefix with case ignored.\nExample: 'Hello' BEGINS_WITH_IGNORE_CASE 'heL'",
              "OP_BELONGS_TO": "String present in a List.\nExample: 'v1' BELONGS_TO ['v1', 'v2']",
              "OP_COMPUTE_TRUE": "Always evaluates to True.",
              "OP_CONTAINS": "Condition: String contains a substring.\nExample: 'Hello' CONTAINS 'ell'.",
              "OP_CONTAINS_ALL": "List contains all elements of another list.\nExample: ['a', 'b'] CONTAINS_ALL ['a', 'b']",
              "OP_CONTAINS_ANY": "Condition: List contains a sublist.\nExample: ['a', 'b', 'c'] CONTAINS_ANY ['z', 'c']",
              "OP_CONTAINS_ELEM": "Condition: List contains a string.\nExample: ['hello', 'world'] CONTAINS_ELEM 'world'",
              "OP_CONTAINS_NONE": "List contains none of the elements of another list\nExample: ['a', 'b'] CONTAINS_NONE ['a', 'd']",
              "OP_ENDS_WITH": "ENDS_WITH condition for use in Cloud Auth policy rules.\nExample: 'Hello' ENDS_WITH 'llo'",
              "OP_ENDS_WITH_IGNORE_CASE": "String has suffix with case ignored.\nExample: 'Hello' ENDS_WITH_IGNORE_CASE 'LlO'",
              "OP_EQUALS": "Condition: String equals.\nExample: 'Hello' EQUALS 'Hello'.",
              "OP_EQUALS_IC": "Condition : String equals with case ignored\nExample : 'Hello' EQUALS 'HELLO' ",
              "OP_EXISTS": "True if field is present in input.",
              "OP_GREATER_THAN": "GREATER_THAN operand for use in Cloud Auth policy rules.\neg. 25 > 10",
              "OP_IS_MAC_ADDRESS": "True if the input is a valid MAC address.",
              "OP_LESS_THAN": "LESS_THAN operand for use in Cloud Auth policy rules.\neg. 25 < 110",
              "OP_MATCHES_REGEX": "True if the input matches regex.",
              "OP_NOT_BELONGS_TO": "String not present in a List.\nExample: 'v3' NOT_BELONGS_TO ['v1', 'v2']",
              "OP_NOT_CONTAINS": "Condition: String not contains a substring.\nExample: 'Hello' NOT_CONTAINS 'World!'.",
              "OP_NOT_CONTAINS_ALL": "List not contains a sublist.\nExample: ['a', 'b', 'c'] NOT_CONTAINS_ALL ['a', 'b']",
              "OP_NOT_CONTAINS_ANY": "Condition: List not contains a sublist.\nExample: ['a', 'b', 'c'] NOT_CONTAINS_ANY ['z', 'x']",
              "OP_NOT_CONTAINS_ELEM": "Condition: List not contains a string.\nExample: ['hello', 'world'] NOT_CONTAINS_ELEM 'cat'",
              "OP_NOT_EQUALS": "Condition: String not equals.\nExample: 'Hello' NOT_EQUALS 'World!'",
              "OP_NOT_EQUALS_IC": "String not equals with case ignored\nExample: 'Hello' NOT_EQUALS 'World!'",
              "OP_NOT_EXISTS": "True if field is not present in input."
            },
            "x-mandatory": true,
            "x-typeDescription": "Policy condition operator type"
          },
          "position": {
            "description": "Position determines the order in which the condition groups are evaluated.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-mandatory": true
          },
          "value": {
            "description": "value ",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-typeDescription": "Specifies the policy condition value."
          },
          "values": {
            "description": "list of values for operators associated with list",
            "items": {
              "description": "list of values for operators associated with list",
              "format": "const",
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "x-typeDescription": "Specifies the policy condition value."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        },
        "required": [
          "position",
          "attr",
          "operator"
        ]
      },
      "ArubaCdaAuthzPolicy_ConditionsGroupConfigGet": {
        "description": "Policy condition group.",
        "properties": {
          "attr": {
            "description": "Attribute name.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true,
            "x-typeDescription": "Specifies the policy condition name."
          },
          "condition-group-id": {
            "description": "Unique immutable identifier for condition group.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "condition-group-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "operator": {
            "description": "Policy operator type.",
            "enum": [
              "OP_EQUALS",
              "OP_EQUALS_IC",
              "OP_NOT_EQUALS",
              "OP_NOT_EQUALS_IC",
              "OP_GREATER_THAN",
              "OP_LESS_THAN",
              "OP_BELONGS_TO",
              "OP_NOT_BELONGS_TO",
              "OP_BEGINS_WITH",
              "OP_BEGINS_WITH_IGNORE_CASE",
              "OP_ENDS_WITH",
              "OP_ENDS_WITH_IGNORE_CASE",
              "OP_CONTAINS",
              "OP_NOT_CONTAINS",
              "OP_CONTAINS_ELEM",
              "OP_NOT_CONTAINS_ELEM",
              "OP_CONTAINS_ANY",
              "OP_NOT_CONTAINS_ANY",
              "OP_CONTAINS_ALL",
              "OP_CONTAINS_NONE",
              "OP_NOT_CONTAINS_ALL",
              "OP_EXISTS",
              "OP_NOT_EXISTS",
              "OP_IS_MAC_ADDRESS",
              "OP_MATCHES_REGEX",
              "OP_COMPUTE_TRUE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "OP_BEGINS_WITH": "BEGINS_WITH condition for use in Cloud Auth policy rules.\nExample: 'Hello' BEGINS_WITH 'Hel'",
              "OP_BEGINS_WITH_IGNORE_CASE": "String has prefix with case ignored.\nExample: 'Hello' BEGINS_WITH_IGNORE_CASE 'heL'",
              "OP_BELONGS_TO": "String present in a List.\nExample: 'v1' BELONGS_TO ['v1', 'v2']",
              "OP_COMPUTE_TRUE": "Always evaluates to True.",
              "OP_CONTAINS": "Condition: String contains a substring.\nExample: 'Hello' CONTAINS 'ell'.",
              "OP_CONTAINS_ALL": "List contains all elements of another list.\nExample: ['a', 'b'] CONTAINS_ALL ['a', 'b']",
              "OP_CONTAINS_ANY": "Condition: List contains a sublist.\nExample: ['a', 'b', 'c'] CONTAINS_ANY ['z', 'c']",
              "OP_CONTAINS_ELEM": "Condition: List contains a string.\nExample: ['hello', 'world'] CONTAINS_ELEM 'world'",
              "OP_CONTAINS_NONE": "List contains none of the elements of another list\nExample: ['a', 'b'] CONTAINS_NONE ['a', 'd']",
              "OP_ENDS_WITH": "ENDS_WITH condition for use in Cloud Auth policy rules.\nExample: 'Hello' ENDS_WITH 'llo'",
              "OP_ENDS_WITH_IGNORE_CASE": "String has suffix with case ignored.\nExample: 'Hello' ENDS_WITH_IGNORE_CASE 'LlO'",
              "OP_EQUALS": "Condition: String equals.\nExample: 'Hello' EQUALS 'Hello'.",
              "OP_EQUALS_IC": "Condition : String equals with case ignored\nExample : 'Hello' EQUALS 'HELLO' ",
              "OP_EXISTS": "True if field is present in input.",
              "OP_GREATER_THAN": "GREATER_THAN operand for use in Cloud Auth policy rules.\neg. 25 > 10",
              "OP_IS_MAC_ADDRESS": "True if the input is a valid MAC address.",
              "OP_LESS_THAN": "LESS_THAN operand for use in Cloud Auth policy rules.\neg. 25 < 110",
              "OP_MATCHES_REGEX": "True if the input matches regex.",
              "OP_NOT_BELONGS_TO": "String not present in a List.\nExample: 'v3' NOT_BELONGS_TO ['v1', 'v2']",
              "OP_NOT_CONTAINS": "Condition: String not contains a substring.\nExample: 'Hello' NOT_CONTAINS 'World!'.",
              "OP_NOT_CONTAINS_ALL": "List not contains a sublist.\nExample: ['a', 'b', 'c'] NOT_CONTAINS_ALL ['a', 'b']",
              "OP_NOT_CONTAINS_ANY": "Condition: List not contains a sublist.\nExample: ['a', 'b', 'c'] NOT_CONTAINS_ANY ['z', 'x']",
              "OP_NOT_CONTAINS_ELEM": "Condition: List not contains a string.\nExample: ['hello', 'world'] NOT_CONTAINS_ELEM 'cat'",
              "OP_NOT_EQUALS": "Condition: String not equals.\nExample: 'Hello' NOT_EQUALS 'World!'",
              "OP_NOT_EQUALS_IC": "String not equals with case ignored\nExample: 'Hello' NOT_EQUALS 'World!'",
              "OP_NOT_EXISTS": "True if field is not present in input."
            },
            "x-mandatory": true,
            "x-typeDescription": "Policy condition operator type"
          },
          "position": {
            "description": "Position determines the order in which the condition groups are evaluated.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-mandatory": true
          },
          "value": {
            "description": "value ",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-typeDescription": "Specifies the policy condition value."
          },
          "values": {
            "description": "list of values for operators associated with list",
            "items": {
              "description": "list of values for operators associated with list",
              "format": "const",
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "x-typeDescription": "Specifies the policy condition value."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        },
        "required": [
          "position",
          "attr",
          "operator"
        ]
      },
      "ArubaCdaAuthzPolicy_PolicyConditionsConfig": {
        "properties": {
          "conditions": {
            "description": "Policy conditions under which the policy or rule can be applied.",
            "properties": {
              "combinator-operator": {
                "description": "Policy combination operator type.",
                "enum": [
                  "COMB_OP_AND",
                  "COMB_OP_OR"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "COMB_OP_AND": "AND condition for use in Cloud Auth policy rules.",
                  "COMB_OP_OR": "OR condition for use in Cloud Auth policy rules."
                },
                "x-typeDescription": "Policy combinator operator type"
              },
              "condition": {
                "description": "List of policy conditions under which the policy or rule can be applied.",
                "items": {
                  "properties": {
                    "combinator-operator": {
                      "description": "Policy combination operator type.",
                      "enum": [
                        "COMB_OP_AND",
                        "COMB_OP_OR"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "COMB_OP_AND": "AND condition for use in Cloud Auth policy rules.",
                        "COMB_OP_OR": "OR condition for use in Cloud Auth policy rules."
                      },
                      "x-typeDescription": "Policy combinator operator type"
                    },
                    "condition-group": {
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_ConditionsGroupConfig"
                          }
                        ]
                      },
                      "maxItems": 10,
                      "type": "array",
                      "x-key": [
                        "conditionGroupId"
                      ]
                    },
                    "condition-id": {
                      "description": "Unique immutable identifier for condition.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "condition-id",
                      "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                    },
                    "position": {
                      "description": "Position determines the order in which the conditions are evaluated.",
                      "format": "int32",
                      "maximum": 10,
                      "minimum": 1,
                      "type": "integer",
                      "x-mandatory": true
                    }
                  },
                  "required": [
                    "position"
                  ]
                },
                "maxItems": 10,
                "type": "array",
                "x-key": [
                  "conditionId"
                ]
              },
              "description": {
                "format": "const",
                "maxLength": 255,
                "minLength": 0,
                "type": "string",
                "x-typeDescription": "Add Description to the entity."
              }
            }
          }
        }
      },
      "ArubaCdaAuthzPolicy_PolicyConditionsConfigGet": {
        "properties": {
          "conditions": {
            "description": "Policy conditions under which the policy or rule can be applied.",
            "properties": {
              "combinator-operator": {
                "description": "Policy combination operator type.",
                "enum": [
                  "COMB_OP_AND",
                  "COMB_OP_OR"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "COMB_OP_AND": "AND condition for use in Cloud Auth policy rules.",
                  "COMB_OP_OR": "OR condition for use in Cloud Auth policy rules."
                },
                "x-typeDescription": "Policy combinator operator type"
              },
              "condition": {
                "description": "List of policy conditions under which the policy or rule can be applied.",
                "items": {
                  "properties": {
                    "combinator-operator": {
                      "description": "Policy combination operator type.",
                      "enum": [
                        "COMB_OP_AND",
                        "COMB_OP_OR"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "COMB_OP_AND": "AND condition for use in Cloud Auth policy rules.",
                        "COMB_OP_OR": "OR condition for use in Cloud Auth policy rules."
                      },
                      "x-typeDescription": "Policy combinator operator type"
                    },
                    "condition-group": {
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_ConditionsGroupConfigGet"
                          }
                        ]
                      },
                      "maxItems": 10,
                      "type": "array",
                      "x-key": [
                        "conditionGroupId"
                      ]
                    },
                    "condition-id": {
                      "description": "Unique immutable identifier for condition.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "condition-id",
                      "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                    },
                    "position": {
                      "description": "Position determines the order in which the conditions are evaluated.",
                      "format": "int32",
                      "maximum": 10,
                      "minimum": 1,
                      "type": "integer",
                      "x-mandatory": true
                    }
                  },
                  "required": [
                    "position"
                  ]
                },
                "maxItems": 10,
                "type": "array",
                "x-key": [
                  "conditionId"
                ]
              },
              "description": {
                "format": "const",
                "maxLength": 255,
                "minLength": 0,
                "type": "string",
                "x-typeDescription": "Add Description to the entity."
              }
            }
          }
        }
      },
      "ArubaCdaAuthzPolicy_PolicyRulesConfig": {
        "description": "Policy rules configuration.",
        "properties": {
          "rule": {
            "description": "Policy rule is collection of logical conditions and actions that are evaluated against the configured attributes.\n\nPolicy rules are evaluated in the order of their position.\n\nA union of enforcement attributes from the first matching rule and default enforcement profile is applied.\n\nEnforcement Attributes from matching rule have precedence over default attributes.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_PolicyConditionsConfig"
                },
                {
                  "properties": {
                    "description": {
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 0,
                      "type": "string",
                      "x-typeDescription": "Add Description to the entity."
                    },
                    "enable": {
                      "default": "true",
                      "description": "Enable policy rule.",
                      "type": "boolean"
                    },
                    "enf-profile": {
                      "description": "List of enforcement profiles.",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaCdaEnforcementProfile_EnforcementProfilesConfig"
                          }
                        ]
                      },
                      "maxItems": 32,
                      "minItems": 1,
                      "type": "array",
                      "x-key": [
                        "profileId"
                      ]
                    },
                    "position": {
                      "description": "Position determines the order in which the rules are evaluated.",
                      "format": "int32",
                      "maximum": 2000,
                      "minimum": 1,
                      "type": "integer",
                      "x-mandatory": true
                    },
                    "rule-id": {
                      "description": "Unique immutable identifier for rule.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "rule-id",
                      "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                    },
                    "rule-name": {
                      "description": "Name of policy rule.",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string"
                    }
                  }
                },
                {
                  "required": [
                    "position"
                  ]
                }
              ]
            },
            "maxItems": 32,
            "type": "array",
            "x-key": [
              "ruleId"
            ]
          }
        }
      },
      "ArubaCdaAuthzPolicy_PolicyRulesConfigGet": {
        "description": "Policy rules configuration.",
        "properties": {
          "rule": {
            "description": "Policy rule is collection of logical conditions and actions that are evaluated against the configured attributes.\n\nPolicy rules are evaluated in the order of their position.\n\nA union of enforcement attributes from the first matching rule and default enforcement profile is applied.\n\nEnforcement Attributes from matching rule have precedence over default attributes.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_PolicyConditionsConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 0,
                      "type": "string",
                      "x-typeDescription": "Add Description to the entity."
                    },
                    "enable": {
                      "default": "true",
                      "description": "Enable policy rule.",
                      "type": "boolean"
                    },
                    "enf-profile": {
                      "description": "List of enforcement profiles.",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaCdaEnforcementProfile_EnforcementProfilesConfigGet"
                          }
                        ]
                      },
                      "maxItems": 32,
                      "minItems": 1,
                      "type": "array",
                      "x-key": [
                        "profileId"
                      ]
                    },
                    "position": {
                      "description": "Position determines the order in which the rules are evaluated.",
                      "format": "int32",
                      "maximum": 2000,
                      "minimum": 1,
                      "type": "integer",
                      "x-mandatory": true
                    },
                    "rule-id": {
                      "description": "Unique immutable identifier for rule.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "rule-id",
                      "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                    },
                    "rule-name": {
                      "description": "Name of policy rule.",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string"
                    }
                  }
                },
                {
                  "required": [
                    "position"
                  ]
                }
              ]
            },
            "maxItems": 32,
            "type": "array",
            "x-key": [
              "ruleId"
            ]
          }
        }
      },
      "ArubaCdaEnforcementProfile_AttributeMap": {
        "description": "List of enforcement attribute key-value pairs.",
        "properties": {
          "custom-attr": {
            "description": "List of attribute key-value pairs.",
            "items": {
              "properties": {
                "custom-attr-name": {
                  "description": "VSA attribute name to be passed to device.",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string",
                  "x-typeDescription": "Specifies the attribute name."
                },
                "value": {
                  "description": "Attribute value.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-typeDescription": "Specifies the attribute value."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "customAttrName"
            ]
          },
          "defined-attr": {
            "description": "List of pre-defined attribute key-value pairs.",
            "items": {
              "properties": {
                "attr-name": {
                  "description": "Attribute name.",
                  "enum": [
                    "ATTR_ARUBA_ROLE",
                    "ATTR_VLAN_ID",
                    "ATTR_VLAN_NAME",
                    "ATTR_REAUTH_TIMER",
                    "ATTR_SSID",
                    "ATTR_POLICY_ACTION",
                    "ATTR_SIMULTANEOUS_USE",
                    "ATTR_ALLOW_MAC_CACHING"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ATTR_ALLOW_MAC_CACHING": "Mac caching property for Captive Portal",
                    "ATTR_ARUBA_ROLE": "Aruba Role",
                    "ATTR_POLICY_ACTION": "Policy Action result with possible values of Accept or Reject",
                    "ATTR_REAUTH_TIMER": "Session reauth timer",
                    "ATTR_SIMULTANEOUS_USE": "The value for this attribute will be used to allow or deny access\nbased on the current count of concurrent sessions for the associated user account",
                    "ATTR_SSID": "SSID NAME",
                    "ATTR_VLAN_ID": "VLAN ID",
                    "ATTR_VLAN_NAME": "VLAN NAME"
                  }
                },
                "value": {
                  "description": "Attribute value.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-typeDescription": "Specifies the attribute value."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "attrName"
            ]
          }
        }
      },
      "ArubaCdaEnforcementProfile_AttributeMapGet": {
        "description": "List of enforcement attribute key-value pairs.",
        "properties": {
          "custom-attr": {
            "description": "List of attribute key-value pairs.",
            "items": {
              "properties": {
                "custom-attr-name": {
                  "description": "VSA attribute name to be passed to device.",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string",
                  "x-typeDescription": "Specifies the attribute name."
                },
                "value": {
                  "description": "Attribute value.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-typeDescription": "Specifies the attribute value."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "customAttrName"
            ]
          },
          "defined-attr": {
            "description": "List of pre-defined attribute key-value pairs.",
            "items": {
              "properties": {
                "attr-name": {
                  "description": "Attribute name.",
                  "enum": [
                    "ATTR_ARUBA_ROLE",
                    "ATTR_VLAN_ID",
                    "ATTR_VLAN_NAME",
                    "ATTR_REAUTH_TIMER",
                    "ATTR_SSID",
                    "ATTR_POLICY_ACTION",
                    "ATTR_SIMULTANEOUS_USE",
                    "ATTR_ALLOW_MAC_CACHING"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ATTR_ALLOW_MAC_CACHING": "Mac caching property for Captive Portal",
                    "ATTR_ARUBA_ROLE": "Aruba Role",
                    "ATTR_POLICY_ACTION": "Policy Action result with possible values of Accept or Reject",
                    "ATTR_REAUTH_TIMER": "Session reauth timer",
                    "ATTR_SIMULTANEOUS_USE": "The value for this attribute will be used to allow or deny access\nbased on the current count of concurrent sessions for the associated user account",
                    "ATTR_SSID": "SSID NAME",
                    "ATTR_VLAN_ID": "VLAN ID",
                    "ATTR_VLAN_NAME": "VLAN NAME"
                  }
                },
                "value": {
                  "description": "Attribute value.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-typeDescription": "Specifies the attribute value."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "attrName"
            ]
          }
        }
      },
      "ArubaCdaEnforcementProfile_EnfProfileRadiusConfig": {
        "properties": {
          "radius-profile": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaEnforcementProfile_AttributeMap"
              }
            ],
            "description": "RADIUS enforcement profile composed of a list of pre-defined and custom attribute key-value pairs."
          }
        }
      },
      "ArubaCdaEnforcementProfile_EnfProfileRadiusConfigGet": {
        "properties": {
          "radius-profile": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaEnforcementProfile_AttributeMapGet"
              }
            ],
            "description": "RADIUS enforcement profile composed of a list of pre-defined and custom attribute key-value pairs."
          }
        }
      },
      "ArubaCdaEnforcementProfile_EnforcementProfilesConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaEnforcementProfile_EnfProfileRadiusConfig"
          }
        ],
        "properties": {
          "description": {
            "format": "const",
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "x-typeDescription": "Add Description to the entity."
          },
          "profile-id": {
            "description": "Unique immutable identifier for enforcement profile.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "profile-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "profile-name": {
            "description": "Name of enforcement profile.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "type": {
            "description": "Enforcement profile type.",
            "enum": [
              "ENF_RADIUS"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ENF_RADIUS": "Enforcement profile of type RADIUS."
            },
            "x-typeDescription": "Specifies the type of enforcement profile."
          }
        }
      },
      "ArubaCdaEnforcementProfile_EnforcementProfilesConfigGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaEnforcementProfile_EnfProfileRadiusConfigGet"
          }
        ],
        "properties": {
          "description": {
            "format": "const",
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "x-typeDescription": "Add Description to the entity."
          },
          "profile-id": {
            "description": "Unique immutable identifier for enforcement profile.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "profile-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "profile-name": {
            "description": "Name of enforcement profile.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "type": {
            "description": "Enforcement profile type.",
            "enum": [
              "ENF_RADIUS"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ENF_RADIUS": "Enforcement profile of type RADIUS."
            },
            "x-typeDescription": "Specifies the type of enforcement profile."
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaCdaAuthzPolicy_AuthzPoliciespolicySchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaCdaAuthzPolicy_AuthzPoliciespolicySchema"
            }
          }
        },
        "description": "policybody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
