{
  "openapi": "3.1.0",
  "info": {
    "title": "Cda Portal Overrides Profile",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Cda Portal Overrides Profile"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/overrides": {
      "get": {
        "description": "A list of portal overrides that contain multilingual text overrides to be\napplied to Central NAC portals (e.g. MPSK provisioning, or captive portals).",
        "operationId": "readOverrides",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaPortalOverridesProfile_OverridesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read portal overrides profiles",
        "tags": [
          "Cda Portal Overrides Profile"
        ],
        "x-cliParam": {
          "commandName": "readOverridesCmd",
          "commandUse": "overrides",
          "parentCommand": "readCmd",
          "pathToPrint": "/overrides/",
          "summary": "Read operation for overrides"
        }
      }
    },
    "/network-config/v1alpha1/overrides/{override-id}": {
      "get": {
        "description": "A portal override contains multilingual text overrides to be applied to\nCentral NAC portals (e.g. MPSK provisioning, or captive portals).\n\nOverrides can be provided for each supported language.",
        "operationId": "readOverridesOverrideByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal overrides profile (must be a UUID).",
            "in": "path",
            "name": "override-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaPortalOverridesProfile_OverridesoverrideSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read a portal overrides profile",
        "tags": [
          "Cda Portal Overrides Profile"
        ],
        "x-cliParam": {
          "commandName": "readOverridesOverrideCmd",
          "commandUse": "override",
          "paramKeys": [
            {
              "key": "override-id"
            }
          ],
          "parentCommand": "readOverridesCmd",
          "pathToPrint": "/overrides/override/%s/",
          "summary": "Read operation for override",
          "totParams": 1
        }
      },
      "put": {
        "description": "A portal override contains multilingual text overrides to be applied to\nCentral NAC portals (e.g. MPSK provisioning, or captive portals).\n\nOverrides can be provided for each supported language.",
        "operationId": "replaceOverridesOverrideByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal overrides profile (must be a UUID).",
            "in": "path",
            "name": "override-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaPortalOverridesProfile_OverridesoverrideSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or update a portal overrides profile",
        "tags": [
          "Cda Portal Overrides Profile"
        ],
        "x-cliParam": {
          "commandName": "replaceOverridesOverrideCmd",
          "commandUse": "override",
          "paramKeys": [
            {
              "key": "override-id"
            }
          ],
          "parentCommand": "replaceOverridesCmd",
          "pathToPrint": "/overrides/override/%s/",
          "summary": "Replace operation for override",
          "totParams": 1
        }
      },
      "post": {
        "description": "A portal override contains multilingual text overrides to be applied to\nCentral NAC portals (e.g. MPSK provisioning, or captive portals).\n\nOverrides can be provided for each supported language.",
        "operationId": "createOverridesOverrideByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal overrides profile (must be a UUID).",
            "in": "path",
            "name": "override-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaPortalOverridesProfile_OverridesoverrideSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a portal overrides profile",
        "tags": [
          "Cda Portal Overrides Profile"
        ],
        "x-cliParam": {
          "commandName": "createOverridesOverrideCmd",
          "commandUse": "override",
          "paramKeys": [
            {
              "key": "override-id"
            }
          ],
          "parentCommand": "createOverridesCmd",
          "pathToPrint": "/overrides/override/%s/",
          "summary": "Create operation for override",
          "totParams": 1
        }
      },
      "delete": {
        "description": "A portal override contains multilingual text overrides to be applied to\nCentral NAC portals (e.g. MPSK provisioning, or captive portals).\n\nOverrides can be provided for each supported language.",
        "operationId": "deleteOverridesOverrideByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal overrides profile (must be a UUID).",
            "in": "path",
            "name": "override-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete a portal overrides profile",
        "tags": [
          "Cda Portal Overrides Profile"
        ],
        "x-cliParam": {
          "commandName": "deleteOverridesOverrideCmd",
          "commandUse": "override",
          "paramKeys": [
            {
              "key": "override-id"
            }
          ],
          "parentCommand": "deleteOverridesCmd",
          "pathToPrint": "/overrides/override/%s/",
          "summary": "Delete operation for override",
          "totParams": 1
        }
      },
      "patch": {
        "description": "A portal override contains multilingual text overrides to be applied to\nCentral NAC portals (e.g. MPSK provisioning, or captive portals).\n\nOverrides can be provided for each supported language.",
        "operationId": "updateOverridesOverrideByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal overrides profile (must be a UUID).",
            "in": "path",
            "name": "override-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaPortalOverridesProfile_OverridesoverrideSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update a portal overrides profile",
        "tags": [
          "Cda Portal Overrides Profile"
        ],
        "x-cliParam": {
          "commandName": "updateOverridesOverrideCmd",
          "commandUse": "override",
          "paramKeys": [
            {
              "key": "override-id"
            }
          ],
          "parentCommand": "updateOverridesCmd",
          "pathToPrint": "/overrides/override/%s/",
          "summary": "Update operation for override",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaCdaPortalOverridesProfile_MessagesProfile": {
        "properties": {
          "messages": {
            "items": {
              "properties": {
                "accept-button-title": {
                  "description": "A custom title for the accept button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "access-denied-title": {
                  "description": "A custom title for the access-denied page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "back-button-title": {
                  "description": "A custom title for the back button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "continue-button-title": {
                  "description": "A custom title for the continue button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "email-address-placeholder": {
                  "description": "Custom placeholder text for email address input controls",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "email-label": {
                  "description": "A custom label for the email field",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "language": {
                  "description": "Language for this set of message overrides",
                  "enum": [
                    "EN",
                    "AR",
                    "EU",
                    "ZH",
                    "DA",
                    "NL",
                    "FR",
                    "DE",
                    "HI",
                    "IT",
                    "JA",
                    "KO",
                    "NB",
                    "PL",
                    "PT",
                    "RU",
                    "ES",
                    "SV",
                    "TR"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AR": "Arabic",
                    "DA": "Danish",
                    "DE": "German",
                    "EN": "English",
                    "ES": "Spanish",
                    "EU": "Basque",
                    "FR": "French",
                    "HI": "Hindi",
                    "IT": "Italian",
                    "JA": "Japanese",
                    "KO": "Korean",
                    "NB": "Norwegian Bokmål (Norway)",
                    "NL": "Dutch",
                    "PL": "Polish",
                    "PT": "Portuguese",
                    "RU": "Russian",
                    "SV": "Swedish",
                    "TR": "Turkish",
                    "ZH": "Chinese"
                  },
                  "x-mandatory": true,
                  "x-typeDescription": "An ISO 639 language code for multilingual message overrides."
                },
                "logged-in-message": {
                  "description": "A custom message to show on the access allowed page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "logged-in-title": {
                  "description": "A custom title for the access allowed page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "login-button-title": {
                  "description": "A custom title for the login button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "login-failed-message": {
                  "description": "A custom message shown if a login attempt fails or is denied",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "login-message": {
                  "description": "A custom message shown on the login page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "login-title": {
                  "description": "A custom title for the login page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "network-login-button-title": {
                  "description": "A custom title for the network-login button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "network-login-message": {
                  "description": "A custom message to show on the network login page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "network-login-title": {
                  "description": "A custom title for the network-login page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "password-placeholder": {
                  "description": "Custom placeholder text for password input controls",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "phone-help-message": {
                  "description": "A custom message to show with the phone field",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "phone-label": {
                  "description": "A custom label for the phone field",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "phone-number-placeholder": {
                  "description": "Custom placeholder text for phone number input controls",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "register-button-title": {
                  "description": "A custom title for the register button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "register-message": {
                  "description": "A custom message to show on the register page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "register-title": {
                  "description": "A custom title for the register page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-approval-granted-message": {
                  "description": "A custom message shown on the approval granted page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "sponsor-approval-granted-title": {
                  "description": "A custom title for the approval granted page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-approval-pending-message": {
                  "description": "A custom message shown on the approval pending page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "sponsor-approval-pending-title": {
                  "description": "A custom title for the approval pending page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-approve-button-title": {
                  "description": "A custom title for the approve button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-approve-message": {
                  "description": "A custom message shown on the approve page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "sponsor-approve-title": {
                  "description": "A custom title for the approve page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-approved-message": {
                  "description": "A custom message shown on the approved page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "sponsor-approved-title": {
                  "description": "A custom title for the approved page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-label": {
                  "description": "A custom label for the sponsor field",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-message": {
                  "description": "A custom message shown on the registration page when sponsor approval is required",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "sponsor-placeholder": {
                  "description": "Custom placeholder text for sponsor input controls",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "terms-accept-message": {
                  "description": "The message for the accept terms and conditions checkbox on the login and register pages",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "terms-message": {
                  "description": "The terms and conditions message for the login page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "terms-title": {
                  "description": "A custom title for the terms page and the accept terms page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "username-label": {
                  "description": "A custom label for the username field",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "username-placeholder": {
                  "description": "Custom placeholder text for username input controls",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "verification-code-label": {
                  "description": "A custom label for the verification code field",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "verification-code-placeholder": {
                  "description": "A custom placeholder for the verification code field",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "verification-email-check-message": {
                  "description": "A custom message shown on the verification pending page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "verification-email-notice-message": {
                  "description": "A custom message shown when a verification email will be sent",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "verification-email-sent-message": {
                  "description": "A custom message shown on the verification pending page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "verification-phone-notice-message": {
                  "description": "A custom message shown when a verification sms will be sent",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "verified-account-message": {
                  "description": "A custom message shown on the verified page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "verify-account-message": {
                  "description": "A custom message shown on the verify page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "verify-button-title": {
                  "description": "A custom title for the verify button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "verify-title": {
                  "description": "A custom title for the verify page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "language"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "language"
            ]
          }
        }
      },
      "ArubaCdaPortalOverridesProfile_MessagesProfileGet": {
        "properties": {
          "messages": {
            "items": {
              "properties": {
                "accept-button-title": {
                  "description": "A custom title for the accept button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "access-denied-title": {
                  "description": "A custom title for the access-denied page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "back-button-title": {
                  "description": "A custom title for the back button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "continue-button-title": {
                  "description": "A custom title for the continue button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "email-address-placeholder": {
                  "description": "Custom placeholder text for email address input controls",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "email-label": {
                  "description": "A custom label for the email field",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "language": {
                  "description": "Language for this set of message overrides",
                  "enum": [
                    "EN",
                    "AR",
                    "EU",
                    "ZH",
                    "DA",
                    "NL",
                    "FR",
                    "DE",
                    "HI",
                    "IT",
                    "JA",
                    "KO",
                    "NB",
                    "PL",
                    "PT",
                    "RU",
                    "ES",
                    "SV",
                    "TR"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AR": "Arabic",
                    "DA": "Danish",
                    "DE": "German",
                    "EN": "English",
                    "ES": "Spanish",
                    "EU": "Basque",
                    "FR": "French",
                    "HI": "Hindi",
                    "IT": "Italian",
                    "JA": "Japanese",
                    "KO": "Korean",
                    "NB": "Norwegian Bokmål (Norway)",
                    "NL": "Dutch",
                    "PL": "Polish",
                    "PT": "Portuguese",
                    "RU": "Russian",
                    "SV": "Swedish",
                    "TR": "Turkish",
                    "ZH": "Chinese"
                  },
                  "x-mandatory": true,
                  "x-typeDescription": "An ISO 639 language code for multilingual message overrides."
                },
                "logged-in-message": {
                  "description": "A custom message to show on the access allowed page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "logged-in-title": {
                  "description": "A custom title for the access allowed page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "login-button-title": {
                  "description": "A custom title for the login button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "login-failed-message": {
                  "description": "A custom message shown if a login attempt fails or is denied",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "login-message": {
                  "description": "A custom message shown on the login page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "login-title": {
                  "description": "A custom title for the login page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "network-login-button-title": {
                  "description": "A custom title for the network-login button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "network-login-message": {
                  "description": "A custom message to show on the network login page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "network-login-title": {
                  "description": "A custom title for the network-login page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "password-placeholder": {
                  "description": "Custom placeholder text for password input controls",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "phone-help-message": {
                  "description": "A custom message to show with the phone field",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "phone-label": {
                  "description": "A custom label for the phone field",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "phone-number-placeholder": {
                  "description": "Custom placeholder text for phone number input controls",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "register-button-title": {
                  "description": "A custom title for the register button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "register-message": {
                  "description": "A custom message to show on the register page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "register-title": {
                  "description": "A custom title for the register page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-approval-granted-message": {
                  "description": "A custom message shown on the approval granted page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "sponsor-approval-granted-title": {
                  "description": "A custom title for the approval granted page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-approval-pending-message": {
                  "description": "A custom message shown on the approval pending page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "sponsor-approval-pending-title": {
                  "description": "A custom title for the approval pending page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-approve-button-title": {
                  "description": "A custom title for the approve button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-approve-message": {
                  "description": "A custom message shown on the approve page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "sponsor-approve-title": {
                  "description": "A custom title for the approve page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-approved-message": {
                  "description": "A custom message shown on the approved page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "sponsor-approved-title": {
                  "description": "A custom title for the approved page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-label": {
                  "description": "A custom label for the sponsor field",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "sponsor-message": {
                  "description": "A custom message shown on the registration page when sponsor approval is required",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "sponsor-placeholder": {
                  "description": "Custom placeholder text for sponsor input controls",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "terms-accept-message": {
                  "description": "The message for the accept terms and conditions checkbox on the login and register pages",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "terms-message": {
                  "description": "The terms and conditions message for the login page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "terms-title": {
                  "description": "A custom title for the terms page and the accept terms page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "username-label": {
                  "description": "A custom label for the username field",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "username-placeholder": {
                  "description": "Custom placeholder text for username input controls",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "verification-code-label": {
                  "description": "A custom label for the verification code field",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "verification-code-placeholder": {
                  "description": "A custom placeholder for the verification code field",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "verification-email-check-message": {
                  "description": "A custom message shown on the verification pending page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "verification-email-notice-message": {
                  "description": "A custom message shown when a verification email will be sent",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "verification-email-sent-message": {
                  "description": "A custom message shown on the verification pending page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "verification-phone-notice-message": {
                  "description": "A custom message shown when a verification sms will be sent",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "verified-account-message": {
                  "description": "A custom message shown on the verified page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "verify-account-message": {
                  "description": "A custom message shown on the verify page",
                  "format": "const",
                  "maxLength": 30000,
                  "type": "string"
                },
                "verify-button-title": {
                  "description": "A custom title for the verify button",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "verify-title": {
                  "description": "A custom title for the verify page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "language"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "language"
            ]
          }
        }
      },
      "ArubaCdaPortalOverridesProfile_OverridesSchemaGET": {
        "description": "A list of portal overrides that contain multilingual text overrides to be\napplied to Central NAC portals (e.g. MPSK provisioning, or captive portals).",
        "properties": {
          "override": {
            "description": "A portal override contains multilingual text overrides to be applied to\nCentral NAC portals (e.g. MPSK provisioning, or captive portals).\n\nOverrides can be provided for each supported language.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCdaPortalOverridesProfile_MessagesProfileGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "A description, or note, for the portal overrides profile.",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 0,
                      "type": "string",
                      "x-typeDescription": "Add Description to the entity."
                    },
                    "fallback-language": {
                      "description": "Language to fallback on if no override present for user's language",
                      "enum": [
                        "EN",
                        "AR",
                        "EU",
                        "ZH",
                        "DA",
                        "NL",
                        "FR",
                        "DE",
                        "HI",
                        "IT",
                        "JA",
                        "KO",
                        "NB",
                        "PL",
                        "PT",
                        "RU",
                        "ES",
                        "SV",
                        "TR"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "AR": "Arabic",
                        "DA": "Danish",
                        "DE": "German",
                        "EN": "English",
                        "ES": "Spanish",
                        "EU": "Basque",
                        "FR": "French",
                        "HI": "Hindi",
                        "IT": "Italian",
                        "JA": "Japanese",
                        "KO": "Korean",
                        "NB": "Norwegian Bokmål (Norway)",
                        "NL": "Dutch",
                        "PL": "Polish",
                        "PT": "Portuguese",
                        "RU": "Russian",
                        "SV": "Swedish",
                        "TR": "Turkish",
                        "ZH": "Chinese"
                      },
                      "x-typeDescription": "An ISO 639 language code for multilingual message overrides."
                    },
                    "name": {
                      "description": "Unique name for the portal overrides profile.",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true
                    },
                    "override-id": {
                      "description": "Unique identifier for the portal overrides profile (must be a UUID).",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "override-id",
                      "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                    }
                  }
                },
                {
                  "required": [
                    "override-id",
                    "name"
                  ]
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "overrideId"
            ]
          }
        }
      },
      "ArubaCdaPortalOverridesProfile_OverridesoverrideSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaPortalOverridesProfile_MessagesProfile"
          },
          {
            "properties": {
              "description": {
                "description": "A description, or note, for the portal overrides profile.",
                "format": "const",
                "maxLength": 255,
                "minLength": 0,
                "type": "string",
                "x-typeDescription": "Add Description to the entity."
              },
              "fallback-language": {
                "description": "Language to fallback on if no override present for user's language",
                "enum": [
                  "EN",
                  "AR",
                  "EU",
                  "ZH",
                  "DA",
                  "NL",
                  "FR",
                  "DE",
                  "HI",
                  "IT",
                  "JA",
                  "KO",
                  "NB",
                  "PL",
                  "PT",
                  "RU",
                  "ES",
                  "SV",
                  "TR"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AR": "Arabic",
                  "DA": "Danish",
                  "DE": "German",
                  "EN": "English",
                  "ES": "Spanish",
                  "EU": "Basque",
                  "FR": "French",
                  "HI": "Hindi",
                  "IT": "Italian",
                  "JA": "Japanese",
                  "KO": "Korean",
                  "NB": "Norwegian Bokmål (Norway)",
                  "NL": "Dutch",
                  "PL": "Polish",
                  "PT": "Portuguese",
                  "RU": "Russian",
                  "SV": "Swedish",
                  "TR": "Turkish",
                  "ZH": "Chinese"
                },
                "x-typeDescription": "An ISO 639 language code for multilingual message overrides."
              },
              "name": {
                "description": "Unique name for the portal overrides profile.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "override-id": {
                "description": "Unique identifier for the portal overrides profile (must be a UUID).",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-mandatory": true,
                "x-patternSources": "override-id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
              }
            }
          },
          {
            "required": [
              "override-id",
              "name"
            ]
          }
        ]
      },
      "ArubaCdaPortalOverridesProfile_OverridesoverrideSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaPortalOverridesProfile_MessagesProfileGet"
          },
          {
            "properties": {
              "description": {
                "description": "A description, or note, for the portal overrides profile.",
                "format": "const",
                "maxLength": 255,
                "minLength": 0,
                "type": "string",
                "x-typeDescription": "Add Description to the entity."
              },
              "fallback-language": {
                "description": "Language to fallback on if no override present for user's language",
                "enum": [
                  "EN",
                  "AR",
                  "EU",
                  "ZH",
                  "DA",
                  "NL",
                  "FR",
                  "DE",
                  "HI",
                  "IT",
                  "JA",
                  "KO",
                  "NB",
                  "PL",
                  "PT",
                  "RU",
                  "ES",
                  "SV",
                  "TR"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AR": "Arabic",
                  "DA": "Danish",
                  "DE": "German",
                  "EN": "English",
                  "ES": "Spanish",
                  "EU": "Basque",
                  "FR": "French",
                  "HI": "Hindi",
                  "IT": "Italian",
                  "JA": "Japanese",
                  "KO": "Korean",
                  "NB": "Norwegian Bokmål (Norway)",
                  "NL": "Dutch",
                  "PL": "Polish",
                  "PT": "Portuguese",
                  "RU": "Russian",
                  "SV": "Swedish",
                  "TR": "Turkish",
                  "ZH": "Chinese"
                },
                "x-typeDescription": "An ISO 639 language code for multilingual message overrides."
              },
              "name": {
                "description": "Unique name for the portal overrides profile.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "override-id": {
                "description": "Unique identifier for the portal overrides profile (must be a UUID).",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-mandatory": true,
                "x-patternSources": "override-id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
              }
            }
          },
          {
            "required": [
              "override-id",
              "name"
            ]
          }
        ]
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaCdaPortalOverridesProfile_OverridesoverrideSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaCdaPortalOverridesProfile_OverridesoverrideSchema"
            }
          }
        },
        "description": "overridebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
