{
  "openapi": "3.1.0",
  "info": {
    "title": "Cda Portal Profile",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Cda Portal Profile"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/portals": {
      "get": {
        "description": "A list of portal profiles that contain customizations to be applied to\nCentral NAC portals (e.g. MPSK provisioning, or captive portals)",
        "operationId": "readPortals",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaPortalProfile_PortalsSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read portal profiles",
        "tags": [
          "Cda Portal Profile"
        ],
        "x-cliParam": {
          "commandName": "readPortalsCmd",
          "commandUse": "portals",
          "parentCommand": "readCmd",
          "pathToPrint": "/portals/",
          "summary": "Read operation for portals"
        }
      }
    },
    "/network-config/v1alpha1/portals/{portal-id}": {
      "get": {
        "description": "A portal profile contains customizations to be applied to Central NAC\nportals (e.g. MPSK provisioning, or captive portals)",
        "operationId": "readPortalsPortalByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal profile (must be a UUID).",
            "in": "path",
            "name": "portal-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaPortalProfile_PortalsportalSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read a portal profile",
        "tags": [
          "Cda Portal Profile"
        ],
        "x-cliParam": {
          "commandName": "readPortalsPortalCmd",
          "commandUse": "portal",
          "paramKeys": [
            {
              "key": "portal-id"
            }
          ],
          "parentCommand": "readPortalsCmd",
          "pathToPrint": "/portals/portal/%s/",
          "summary": "Read operation for portal",
          "totParams": 1
        }
      },
      "put": {
        "description": "A portal profile contains customizations to be applied to Central NAC\nportals (e.g. MPSK provisioning, or captive portals)",
        "operationId": "replacePortalsPortalByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal profile (must be a UUID).",
            "in": "path",
            "name": "portal-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaPortalProfile_PortalsportalSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or update a portal profile",
        "tags": [
          "Cda Portal Profile"
        ],
        "x-cliParam": {
          "commandName": "replacePortalsPortalCmd",
          "commandUse": "portal",
          "paramKeys": [
            {
              "key": "portal-id"
            }
          ],
          "parentCommand": "replacePortalsCmd",
          "pathToPrint": "/portals/portal/%s/",
          "summary": "Replace operation for portal",
          "totParams": 1
        }
      },
      "post": {
        "description": "A portal profile contains customizations to be applied to Central NAC\nportals (e.g. MPSK provisioning, or captive portals)",
        "operationId": "createPortalsPortalByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal profile (must be a UUID).",
            "in": "path",
            "name": "portal-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaPortalProfile_PortalsportalSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a portal profile",
        "tags": [
          "Cda Portal Profile"
        ],
        "x-cliParam": {
          "commandName": "createPortalsPortalCmd",
          "commandUse": "portal",
          "paramKeys": [
            {
              "key": "portal-id"
            }
          ],
          "parentCommand": "createPortalsCmd",
          "pathToPrint": "/portals/portal/%s/",
          "summary": "Create operation for portal",
          "totParams": 1
        }
      },
      "delete": {
        "description": "A portal profile contains customizations to be applied to Central NAC\nportals (e.g. MPSK provisioning, or captive portals)",
        "operationId": "deletePortalsPortalByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal profile (must be a UUID).",
            "in": "path",
            "name": "portal-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete a portal profile",
        "tags": [
          "Cda Portal Profile"
        ],
        "x-cliParam": {
          "commandName": "deletePortalsPortalCmd",
          "commandUse": "portal",
          "paramKeys": [
            {
              "key": "portal-id"
            }
          ],
          "parentCommand": "deletePortalsCmd",
          "pathToPrint": "/portals/portal/%s/",
          "summary": "Delete operation for portal",
          "totParams": 1
        }
      },
      "patch": {
        "description": "A portal profile contains customizations to be applied to Central NAC\nportals (e.g. MPSK provisioning, or captive portals)",
        "operationId": "updatePortalsPortalByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal profile (must be a UUID).",
            "in": "path",
            "name": "portal-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaPortalProfile_PortalsportalSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update a portal profile",
        "tags": [
          "Cda Portal Profile"
        ],
        "x-cliParam": {
          "commandName": "updatePortalsPortalCmd",
          "commandUse": "portal",
          "paramKeys": [
            {
              "key": "portal-id"
            }
          ],
          "parentCommand": "updatePortalsCmd",
          "pathToPrint": "/portals/portal/%s/",
          "summary": "Update operation for portal",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaCdaPortalProfile_PortalsSchemaGET": {
        "description": "A list of portal profiles that contain customizations to be applied to\nCentral NAC portals (e.g. MPSK provisioning, or captive portals)",
        "properties": {
          "portal": {
            "description": "A portal profile contains customizations to be applied to Central NAC\nportals (e.g. MPSK provisioning, or captive portals)",
            "items": {
              "properties": {
                "description": {
                  "description": "A description, or note, for the portal profile.",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string",
                  "x-typeDescription": "Add Description to the entity."
                },
                "login-image": {
                  "description": "A custom image shown on the login page.\n\nThe UUID for this image must be a valid Central NAC image file identifier.\n\nSee the Central NAC image upload API for further details.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "login-image",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "login-image-link": {
                  "description": "The URL that clicking the login image should take the user to",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
                },
                "name": {
                  "description": "Unique name for the portal profile.",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true
                },
                "overrides": {
                  "description": "Customization override set for this page",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-cda-pop:overrides/ac-cda-pop:override/ac-cda-pop:override-id",
                  "x-patternSources": "override-id",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "portal-id": {
                  "description": "Unique identifier for the portal profile (must be a UUID).",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-mandatory": true,
                  "x-patternSources": "portal-id",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "registration-email-message": {
                  "description": "An optional custom email message to send on registration.\n\nThe message type of the referenced custom message must be EMAIL.\n\nThe message purpose of the referenced custom message must be REGISTRATION.\n\nIf not set, the default custom message of type EMAIL and purpose REGISTRATION\nwill be used. If no default custom message is defined, the system default\nregistration email message will be used.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
                  "x-patternSources": "message-id",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "registration-sms-message": {
                  "description": "An optional custom SMS message to send on registration.\n\nThe message type of the referenced custom message must be SMS.\n\nThe message purpose of the referenced custom message must be REGISTRATION.\n\nIf not set, the default custom message of type SMS and purpose REGISTRATION\nwill be used. If no default custom message is defined, the system default\nregistration SMS message will be used.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
                  "x-patternSources": "message-id",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "require-accept-terms": {
                  "default": "false",
                  "description": "Require the user to accept the terms and conditions of login page",
                  "type": "boolean"
                },
                "skin": {
                  "description": "The skin for this portal",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-cda-psp:skins/ac-cda-psp:skin/ac-cda-psp:skin-id",
                  "x-patternSources": "skin-id",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "sponsor-approval-email-message": {
                  "description": "An optional custom email message to send when requesting sponsor approval.\n\nThe message type of the referenced custom message must be EMAIL.\n\nThe message purpose of the referenced custom message must be SPONSOR_APPROVAL.\n\nIf not set, the default custom message of type EMAIL and purpose\nSPONSOR_APPROVAL will be used. If no default custom message is defined, the\nsystem default sponsor approval email message will be used.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
                  "x-patternSources": "message-id",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "terms-location": {
                  "default": "INTERNAL",
                  "description": "Where the terms and conditions should be displayed",
                  "enum": [
                    "INTERNAL",
                    "EXTERNAL"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "EXTERNAL": "Display terms and conditions on a separate page, accessible via a link",
                    "INTERNAL": "Display terms and conditions inline on the sign-in page"
                  },
                  "x-typeDescription": "Where the terms and conditions should be displayed"
                },
                "verification-code-sms-message": {
                  "description": "An optional custom SMS message to send for verification.\n\nThe message type of the referenced custom message must be SMS.\n\nThe message purpose of the referenced custom message must be VERIFICATION_CODE.\n\nIf not set, the default custom message of type SMS and purpose VERIFICATION_CODE\nwill be used. If no default custom message is defined, the system default\nverification code SMS message will be used.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
                  "x-patternSources": "message-id",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "verification-link-email-message": {
                  "description": "An optional custom email message to send for verification.\n\nThe message type of the referenced custom message must be EMAIL.\n\nThe message purpose of the referenced custom message must be VERIFICATION_LINK.\n\nIf not set, the default custom message of type EMAIL and purpose\nVERIFICATION_LINK will be used. If no default custom message is defined, the\nsystem default verification link email message will be used.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
                  "x-patternSources": "message-id",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                }
              },
              "required": [
                "portal-id",
                "name"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "portalId"
            ]
          }
        }
      },
      "ArubaCdaPortalProfile_PortalsportalSchema": {
        "properties": {
          "description": {
            "description": "A description, or note, for the portal profile.",
            "format": "const",
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "x-typeDescription": "Add Description to the entity."
          },
          "login-image": {
            "description": "A custom image shown on the login page.\n\nThe UUID for this image must be a valid Central NAC image file identifier.\n\nSee the Central NAC image upload API for further details.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "login-image",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "login-image-link": {
            "description": "The URL that clicking the login image should take the user to",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
          },
          "name": {
            "description": "Unique name for the portal profile.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "overrides": {
            "description": "Customization override set for this page",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-pop:overrides/ac-cda-pop:override/ac-cda-pop:override-id",
            "x-patternSources": "override-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "portal-id": {
            "description": "Unique identifier for the portal profile (must be a UUID).",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-mandatory": true,
            "x-patternSources": "portal-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "registration-email-message": {
            "description": "An optional custom email message to send on registration.\n\nThe message type of the referenced custom message must be EMAIL.\n\nThe message purpose of the referenced custom message must be REGISTRATION.\n\nIf not set, the default custom message of type EMAIL and purpose REGISTRATION\nwill be used. If no default custom message is defined, the system default\nregistration email message will be used.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
            "x-patternSources": "message-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "registration-sms-message": {
            "description": "An optional custom SMS message to send on registration.\n\nThe message type of the referenced custom message must be SMS.\n\nThe message purpose of the referenced custom message must be REGISTRATION.\n\nIf not set, the default custom message of type SMS and purpose REGISTRATION\nwill be used. If no default custom message is defined, the system default\nregistration SMS message will be used.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
            "x-patternSources": "message-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "require-accept-terms": {
            "default": "false",
            "description": "Require the user to accept the terms and conditions of login page",
            "type": "boolean"
          },
          "skin": {
            "description": "The skin for this portal",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-psp:skins/ac-cda-psp:skin/ac-cda-psp:skin-id",
            "x-patternSources": "skin-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "sponsor-approval-email-message": {
            "description": "An optional custom email message to send when requesting sponsor approval.\n\nThe message type of the referenced custom message must be EMAIL.\n\nThe message purpose of the referenced custom message must be SPONSOR_APPROVAL.\n\nIf not set, the default custom message of type EMAIL and purpose\nSPONSOR_APPROVAL will be used. If no default custom message is defined, the\nsystem default sponsor approval email message will be used.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
            "x-patternSources": "message-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "terms-location": {
            "default": "INTERNAL",
            "description": "Where the terms and conditions should be displayed",
            "enum": [
              "INTERNAL",
              "EXTERNAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EXTERNAL": "Display terms and conditions on a separate page, accessible via a link",
              "INTERNAL": "Display terms and conditions inline on the sign-in page"
            },
            "x-typeDescription": "Where the terms and conditions should be displayed"
          },
          "verification-code-sms-message": {
            "description": "An optional custom SMS message to send for verification.\n\nThe message type of the referenced custom message must be SMS.\n\nThe message purpose of the referenced custom message must be VERIFICATION_CODE.\n\nIf not set, the default custom message of type SMS and purpose VERIFICATION_CODE\nwill be used. If no default custom message is defined, the system default\nverification code SMS message will be used.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
            "x-patternSources": "message-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "verification-link-email-message": {
            "description": "An optional custom email message to send for verification.\n\nThe message type of the referenced custom message must be EMAIL.\n\nThe message purpose of the referenced custom message must be VERIFICATION_LINK.\n\nIf not set, the default custom message of type EMAIL and purpose\nVERIFICATION_LINK will be used. If no default custom message is defined, the\nsystem default verification link email message will be used.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
            "x-patternSources": "message-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          }
        },
        "required": [
          "portal-id",
          "name"
        ]
      },
      "ArubaCdaPortalProfile_PortalsportalSchemaGet": {
        "properties": {
          "description": {
            "description": "A description, or note, for the portal profile.",
            "format": "const",
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "x-typeDescription": "Add Description to the entity."
          },
          "login-image": {
            "description": "A custom image shown on the login page.\n\nThe UUID for this image must be a valid Central NAC image file identifier.\n\nSee the Central NAC image upload API for further details.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "login-image",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "login-image-link": {
            "description": "The URL that clicking the login image should take the user to",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
          },
          "name": {
            "description": "Unique name for the portal profile.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "overrides": {
            "description": "Customization override set for this page",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-pop:overrides/ac-cda-pop:override/ac-cda-pop:override-id",
            "x-patternSources": "override-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "portal-id": {
            "description": "Unique identifier for the portal profile (must be a UUID).",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-mandatory": true,
            "x-patternSources": "portal-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "registration-email-message": {
            "description": "An optional custom email message to send on registration.\n\nThe message type of the referenced custom message must be EMAIL.\n\nThe message purpose of the referenced custom message must be REGISTRATION.\n\nIf not set, the default custom message of type EMAIL and purpose REGISTRATION\nwill be used. If no default custom message is defined, the system default\nregistration email message will be used.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
            "x-patternSources": "message-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "registration-sms-message": {
            "description": "An optional custom SMS message to send on registration.\n\nThe message type of the referenced custom message must be SMS.\n\nThe message purpose of the referenced custom message must be REGISTRATION.\n\nIf not set, the default custom message of type SMS and purpose REGISTRATION\nwill be used. If no default custom message is defined, the system default\nregistration SMS message will be used.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
            "x-patternSources": "message-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "require-accept-terms": {
            "default": "false",
            "description": "Require the user to accept the terms and conditions of login page",
            "type": "boolean"
          },
          "skin": {
            "description": "The skin for this portal",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-psp:skins/ac-cda-psp:skin/ac-cda-psp:skin-id",
            "x-patternSources": "skin-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "sponsor-approval-email-message": {
            "description": "An optional custom email message to send when requesting sponsor approval.\n\nThe message type of the referenced custom message must be EMAIL.\n\nThe message purpose of the referenced custom message must be SPONSOR_APPROVAL.\n\nIf not set, the default custom message of type EMAIL and purpose\nSPONSOR_APPROVAL will be used. If no default custom message is defined, the\nsystem default sponsor approval email message will be used.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
            "x-patternSources": "message-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "terms-location": {
            "default": "INTERNAL",
            "description": "Where the terms and conditions should be displayed",
            "enum": [
              "INTERNAL",
              "EXTERNAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EXTERNAL": "Display terms and conditions on a separate page, accessible via a link",
              "INTERNAL": "Display terms and conditions inline on the sign-in page"
            },
            "x-typeDescription": "Where the terms and conditions should be displayed"
          },
          "verification-code-sms-message": {
            "description": "An optional custom SMS message to send for verification.\n\nThe message type of the referenced custom message must be SMS.\n\nThe message purpose of the referenced custom message must be VERIFICATION_CODE.\n\nIf not set, the default custom message of type SMS and purpose VERIFICATION_CODE\nwill be used. If no default custom message is defined, the system default\nverification code SMS message will be used.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
            "x-patternSources": "message-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "verification-link-email-message": {
            "description": "An optional custom email message to send for verification.\n\nThe message type of the referenced custom message must be EMAIL.\n\nThe message purpose of the referenced custom message must be VERIFICATION_LINK.\n\nIf not set, the default custom message of type EMAIL and purpose\nVERIFICATION_LINK will be used. If no default custom message is defined, the\nsystem default verification link email message will be used.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-pcm:custom-messages/ac-cda-pcm:custom-message/ac-cda-pcm:message-id",
            "x-patternSources": "message-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          }
        },
        "required": [
          "portal-id",
          "name"
        ]
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaCdaPortalProfile_PortalsportalSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaCdaPortalProfile_PortalsportalSchema"
            }
          }
        },
        "description": "portalbody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
