{
  "openapi": "3.1.0",
  "info": {
    "title": "Cda Message Provider",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Cda Message Provider"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/message-providers": {
      "get": {
        "description": "A list of messaging service providers (e.g Twilio for SMS) to use with\nCentral NAC.\n\nAt most, one SMS messaging service provider is allowed.",
        "operationId": "readMessageProviders",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaMessageProvider_MessageProvidersSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read message provider profiles",
        "tags": [
          "Cda Message Provider"
        ],
        "x-cliParam": {
          "commandName": "readMessageProvidersCmd",
          "commandUse": "message-providers",
          "parentCommand": "readCmd",
          "pathToPrint": "/message-providers/",
          "summary": "Read operation for message-providers"
        }
      }
    },
    "/network-config/v1alpha1/message-providers/{provider-id}": {
      "get": {
        "description": "Configuration for a messaging service provider (e.g Twilio for SMS) to use\nwith Central NAC.\n\nAt most, one SMS messaging service provider is allowed.",
        "operationId": "readMessageProvidersProviderByID",
        "parameters": [
          {
            "description": "Unique identifier for the provider (must be a UUID).",
            "in": "path",
            "name": "provider-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaMessageProvider_MessageProvidersproviderSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read a message provider profile",
        "tags": [
          "Cda Message Provider"
        ],
        "x-cliParam": {
          "commandName": "readMessageProvidersProviderCmd",
          "commandUse": "provider",
          "paramKeys": [
            {
              "key": "provider-id"
            }
          ],
          "parentCommand": "readMessageProvidersCmd",
          "pathToPrint": "/message-providers/provider/%s/",
          "summary": "Read operation for provider",
          "totParams": 1
        }
      },
      "put": {
        "description": "Configuration for a messaging service provider (e.g Twilio for SMS) to use\nwith Central NAC.\n\nAt most, one SMS messaging service provider is allowed.",
        "operationId": "replaceMessageProvidersProviderByID",
        "parameters": [
          {
            "description": "Unique identifier for the provider (must be a UUID).",
            "in": "path",
            "name": "provider-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaMessageProvider_MessageProvidersproviderSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or update a message provider profile",
        "tags": [
          "Cda Message Provider"
        ],
        "x-cliParam": {
          "commandName": "replaceMessageProvidersProviderCmd",
          "commandUse": "provider",
          "paramKeys": [
            {
              "key": "provider-id"
            }
          ],
          "parentCommand": "replaceMessageProvidersCmd",
          "pathToPrint": "/message-providers/provider/%s/",
          "summary": "Replace operation for provider",
          "totParams": 1
        }
      },
      "post": {
        "description": "Configuration for a messaging service provider (e.g Twilio for SMS) to use\nwith Central NAC.\n\nAt most, one SMS messaging service provider is allowed.",
        "operationId": "createMessageProvidersProviderByID",
        "parameters": [
          {
            "description": "Unique identifier for the provider (must be a UUID).",
            "in": "path",
            "name": "provider-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaMessageProvider_MessageProvidersproviderSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a message provider profile",
        "tags": [
          "Cda Message Provider"
        ],
        "x-cliParam": {
          "commandName": "createMessageProvidersProviderCmd",
          "commandUse": "provider",
          "paramKeys": [
            {
              "key": "provider-id"
            }
          ],
          "parentCommand": "createMessageProvidersCmd",
          "pathToPrint": "/message-providers/provider/%s/",
          "summary": "Create operation for provider",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Configuration for a messaging service provider (e.g Twilio for SMS) to use\nwith Central NAC.\n\nAt most, one SMS messaging service provider is allowed.",
        "operationId": "deleteMessageProvidersProviderByID",
        "parameters": [
          {
            "description": "Unique identifier for the provider (must be a UUID).",
            "in": "path",
            "name": "provider-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete a message provider profile",
        "tags": [
          "Cda Message Provider"
        ],
        "x-cliParam": {
          "commandName": "deleteMessageProvidersProviderCmd",
          "commandUse": "provider",
          "paramKeys": [
            {
              "key": "provider-id"
            }
          ],
          "parentCommand": "deleteMessageProvidersCmd",
          "pathToPrint": "/message-providers/provider/%s/",
          "summary": "Delete operation for provider",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Configuration for a messaging service provider (e.g Twilio for SMS) to use\nwith Central NAC.\n\nAt most, one SMS messaging service provider is allowed.",
        "operationId": "updateMessageProvidersProviderByID",
        "parameters": [
          {
            "description": "Unique identifier for the provider (must be a UUID).",
            "in": "path",
            "name": "provider-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaMessageProvider_MessageProvidersproviderSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update a message provider profile",
        "tags": [
          "Cda Message Provider"
        ],
        "x-cliParam": {
          "commandName": "updateMessageProvidersProviderCmd",
          "commandUse": "provider",
          "paramKeys": [
            {
              "key": "provider-id"
            }
          ],
          "parentCommand": "updateMessageProvidersCmd",
          "pathToPrint": "/message-providers/provider/%s/",
          "summary": "Update operation for provider",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaCdaMessageProvider_MessageProvidersSchemaGET": {
        "description": "A list of messaging service providers (e.g Twilio for SMS) to use with\nCentral NAC.\n\nAt most, one SMS messaging service provider is allowed.",
        "properties": {
          "provider": {
            "description": "Configuration for a messaging service provider (e.g Twilio for SMS) to use\nwith Central NAC.\n\nAt most, one SMS messaging service provider is allowed.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCdaMessageProvider_TwilioProfileGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "A description, or note, for the messaging service provider.",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 0,
                      "type": "string",
                      "x-typeDescription": "Add Description to the entity."
                    },
                    "name": {
                      "description": "Unique name for the messaging service provider.",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true
                    },
                    "provider-id": {
                      "description": "Unique identifier for the provider (must be a UUID).",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "provider-id",
                      "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                    },
                    "provider-type": {
                      "description": "The type of message provider to use (currently only TWILIO is supported).",
                      "enum": [
                        "TWILIO"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "TWILIO": "The Twilio SMS provider"
                      },
                      "x-mandatory": true,
                      "x-typeDescription": "The type of message provider to use (currently only TWILIO is supported)."
                    }
                  }
                },
                {
                  "required": [
                    "provider-id",
                    "name",
                    "provider-type"
                  ]
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "providerId"
            ]
          }
        }
      },
      "ArubaCdaMessageProvider_MessageProvidersproviderSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaMessageProvider_TwilioProfile"
          },
          {
            "properties": {
              "description": {
                "description": "A description, or note, for the messaging service provider.",
                "format": "const",
                "maxLength": 255,
                "minLength": 0,
                "type": "string",
                "x-typeDescription": "Add Description to the entity."
              },
              "name": {
                "description": "Unique name for the messaging service provider.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "provider-id": {
                "description": "Unique identifier for the provider (must be a UUID).",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-mandatory": true,
                "x-patternSources": "provider-id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
              },
              "provider-type": {
                "description": "The type of message provider to use (currently only TWILIO is supported).",
                "enum": [
                  "TWILIO"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "TWILIO": "The Twilio SMS provider"
                },
                "x-mandatory": true,
                "x-typeDescription": "The type of message provider to use (currently only TWILIO is supported)."
              }
            }
          },
          {
            "required": [
              "provider-id",
              "name",
              "provider-type"
            ]
          }
        ]
      },
      "ArubaCdaMessageProvider_MessageProvidersproviderSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaMessageProvider_TwilioProfileGet"
          },
          {
            "properties": {
              "description": {
                "description": "A description, or note, for the messaging service provider.",
                "format": "const",
                "maxLength": 255,
                "minLength": 0,
                "type": "string",
                "x-typeDescription": "Add Description to the entity."
              },
              "name": {
                "description": "Unique name for the messaging service provider.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "provider-id": {
                "description": "Unique identifier for the provider (must be a UUID).",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-mandatory": true,
                "x-patternSources": "provider-id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
              },
              "provider-type": {
                "description": "The type of message provider to use (currently only TWILIO is supported).",
                "enum": [
                  "TWILIO"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "TWILIO": "The Twilio SMS provider"
                },
                "x-mandatory": true,
                "x-typeDescription": "The type of message provider to use (currently only TWILIO is supported)."
              }
            }
          },
          {
            "required": [
              "provider-id",
              "name",
              "provider-type"
            ]
          }
        ]
      },
      "ArubaCdaMessageProvider_TwilioProfile": {
        "description": "Configuration for Twilio SMS messaging",
        "properties": {
          "twilio": {
            "description": "Configuration for Twilio SMS messaging",
            "properties": {
              "account": {
                "description": "Twilio account",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "auth-token": {
                "description": "Twilio authentication token from Twilio's account page",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-mandatory": true,
                "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
              },
              "country-service-overrides": {
                "description": "Twilio country service overrides to use for specific countries codes where only numeric symbols are used in the country code string. eg Do not use '+1', Use '1' instead.",
                "items": {
                  "properties": {
                    "country-code": {
                      "description": "The country code prefix, excluding any '+' dial prefix (e.g. use '1', not '+1', for the US).",
                      "format": "pattern",
                      "maxLength": 8,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "country-code",
                      "x-patterns": "'\\d+'"
                    },
                    "messaging-service": {
                      "description": "Twilio messaging service SID to use for the associated country code",
                      "format": "pattern",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "cda-twilio-sid",
                      "x-patterns": "'[^\\s]+'",
                      "x-typeDescription": "A Twilio messaging service SID."
                    }
                  },
                  "required": [
                    "country-code",
                    "messaging-service"
                  ]
                },
                "maxItems": 20,
                "type": "array",
                "x-key": [
                  "countryCode"
                ]
              },
              "default-service": {
                "description": "Twilio default messaging service to use unless overridden in the country_service_overrides field",
                "format": "pattern",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "cda-twilio-sid",
                "x-patterns": "'[^\\s]+'",
                "x-typeDescription": "A Twilio messaging service SID."
              }
            },
            "required": [
              "account",
              "auth-token"
            ]
          }
        }
      },
      "ArubaCdaMessageProvider_TwilioProfileGet": {
        "description": "Configuration for Twilio SMS messaging",
        "properties": {
          "twilio": {
            "description": "Configuration for Twilio SMS messaging",
            "properties": {
              "account": {
                "description": "Twilio account",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "auth-token": {
                "description": "Twilio authentication token from Twilio's account page",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-mandatory": true,
                "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
              },
              "country-service-overrides": {
                "description": "Twilio country service overrides to use for specific countries codes where only numeric symbols are used in the country code string. eg Do not use '+1', Use '1' instead.",
                "items": {
                  "properties": {
                    "country-code": {
                      "description": "The country code prefix, excluding any '+' dial prefix (e.g. use '1', not '+1', for the US).",
                      "format": "pattern",
                      "maxLength": 8,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "country-code",
                      "x-patterns": "'\\d+'"
                    },
                    "messaging-service": {
                      "description": "Twilio messaging service SID to use for the associated country code",
                      "format": "pattern",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "cda-twilio-sid",
                      "x-patterns": "'[^\\s]+'",
                      "x-typeDescription": "A Twilio messaging service SID."
                    }
                  },
                  "required": [
                    "country-code",
                    "messaging-service"
                  ]
                },
                "maxItems": 20,
                "type": "array",
                "x-key": [
                  "countryCode"
                ]
              },
              "default-service": {
                "description": "Twilio default messaging service to use unless overridden in the country_service_overrides field",
                "format": "pattern",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "cda-twilio-sid",
                "x-patterns": "'[^\\s]+'",
                "x-typeDescription": "A Twilio messaging service SID."
              }
            },
            "required": [
              "account",
              "auth-token"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaCdaMessageProvider_MessageProvidersproviderSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaCdaMessageProvider_MessageProvidersproviderSchema"
            }
          }
        },
        "description": "providerbody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
