{
  "openapi": "3.1.0",
  "info": {
    "title": "Cda Portal Skin Profile",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Cda Portal Skin Profile"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/skins": {
      "get": {
        "description": "A list of portal skins that contain page-level layout and presentation\ncustomizations to be applied to Central NAC portals (e.g. MPSK provisioning,\nor captive portals).",
        "operationId": "readSkins",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaPortalSkinProfile_SkinsSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read portal skin profiles",
        "tags": [
          "Cda Portal Skin Profile"
        ],
        "x-cliParam": {
          "commandName": "readSkinsCmd",
          "commandUse": "skins",
          "parentCommand": "readCmd",
          "pathToPrint": "/skins/",
          "summary": "Read operation for skins"
        }
      }
    },
    "/network-config/v1alpha1/skins/{skin-id}": {
      "get": {
        "description": "A portal skin profile contains page-level layout and presentation\ncustomizations to be applied to Central NAC portals (e.g. MPSK provisioning,\nor captive portals).",
        "operationId": "readSkinsSkinByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal skin profile (must be a UUID).",
            "in": "path",
            "name": "skin-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaPortalSkinProfile_SkinsskinSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read a portal skin profile",
        "tags": [
          "Cda Portal Skin Profile"
        ],
        "x-cliParam": {
          "commandName": "readSkinsSkinCmd",
          "commandUse": "skin",
          "paramKeys": [
            {
              "key": "skin-id"
            }
          ],
          "parentCommand": "readSkinsCmd",
          "pathToPrint": "/skins/skin/%s/",
          "summary": "Read operation for skin",
          "totParams": 1
        }
      },
      "put": {
        "description": "A portal skin profile contains page-level layout and presentation\ncustomizations to be applied to Central NAC portals (e.g. MPSK provisioning,\nor captive portals).",
        "operationId": "replaceSkinsSkinByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal skin profile (must be a UUID).",
            "in": "path",
            "name": "skin-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaPortalSkinProfile_SkinsskinSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or update a portal skin profile",
        "tags": [
          "Cda Portal Skin Profile"
        ],
        "x-cliParam": {
          "commandName": "replaceSkinsSkinCmd",
          "commandUse": "skin",
          "paramKeys": [
            {
              "key": "skin-id"
            }
          ],
          "parentCommand": "replaceSkinsCmd",
          "pathToPrint": "/skins/skin/%s/",
          "summary": "Replace operation for skin",
          "totParams": 1
        }
      },
      "post": {
        "description": "A portal skin profile contains page-level layout and presentation\ncustomizations to be applied to Central NAC portals (e.g. MPSK provisioning,\nor captive portals).",
        "operationId": "createSkinsSkinByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal skin profile (must be a UUID).",
            "in": "path",
            "name": "skin-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaPortalSkinProfile_SkinsskinSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a portal skin profile",
        "tags": [
          "Cda Portal Skin Profile"
        ],
        "x-cliParam": {
          "commandName": "createSkinsSkinCmd",
          "commandUse": "skin",
          "paramKeys": [
            {
              "key": "skin-id"
            }
          ],
          "parentCommand": "createSkinsCmd",
          "pathToPrint": "/skins/skin/%s/",
          "summary": "Create operation for skin",
          "totParams": 1
        }
      },
      "delete": {
        "description": "A portal skin profile contains page-level layout and presentation\ncustomizations to be applied to Central NAC portals (e.g. MPSK provisioning,\nor captive portals).",
        "operationId": "deleteSkinsSkinByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal skin profile (must be a UUID).",
            "in": "path",
            "name": "skin-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete a portal skin profile",
        "tags": [
          "Cda Portal Skin Profile"
        ],
        "x-cliParam": {
          "commandName": "deleteSkinsSkinCmd",
          "commandUse": "skin",
          "paramKeys": [
            {
              "key": "skin-id"
            }
          ],
          "parentCommand": "deleteSkinsCmd",
          "pathToPrint": "/skins/skin/%s/",
          "summary": "Delete operation for skin",
          "totParams": 1
        }
      },
      "patch": {
        "description": "A portal skin profile contains page-level layout and presentation\ncustomizations to be applied to Central NAC portals (e.g. MPSK provisioning,\nor captive portals).",
        "operationId": "updateSkinsSkinByID",
        "parameters": [
          {
            "description": "Unique identifier for the portal skin profile (must be a UUID).",
            "in": "path",
            "name": "skin-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaPortalSkinProfile_SkinsskinSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update a portal skin profile",
        "tags": [
          "Cda Portal Skin Profile"
        ],
        "x-cliParam": {
          "commandName": "updateSkinsSkinCmd",
          "commandUse": "skin",
          "paramKeys": [
            {
              "key": "skin-id"
            }
          ],
          "parentCommand": "updateSkinsCmd",
          "pathToPrint": "/skins/skin/%s/",
          "summary": "Update operation for skin",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaCdaPortalSkinProfile_SkinsSchemaGET": {
        "description": "A list of portal skins that contain page-level layout and presentation\ncustomizations to be applied to Central NAC portals (e.g. MPSK provisioning,\nor captive portals).",
        "properties": {
          "skin": {
            "description": "A portal skin profile contains page-level layout and presentation\ncustomizations to be applied to Central NAC portals (e.g. MPSK provisioning,\nor captive portals).",
            "items": {
              "properties": {
                "background-color": {
                  "description": "The CSS color to apply to the background of the page",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "cda-cg-csscolor",
                  "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
                  "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
                },
                "background-image": {
                  "description": "The image to apply to the background of the page.\n\nThe UUID for this image must be a valid Central NAC image file identifier.\n\nSee the Central NAC image upload API for further details.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "background-image",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "brand-image": {
                  "description": "The logo shown at the top of the page.\n\nThe UUID for this image must be a valid Central NAC image file identifier.\n\nSee the Central NAC image upload API for further details.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "brand-image",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "brand-link": {
                  "description": "The URL to link the logo image to",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
                },
                "brand-location": {
                  "default": "LEFT",
                  "description": "How the branding (title and image) should be aligned",
                  "enum": [
                    "LEFT",
                    "CENTER",
                    "RIGHT"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CENTER": "Align the brand (title and image) to the center of the page",
                    "LEFT": "Align the brand (title and image) to the left of the page",
                    "RIGHT": "Align the brand (title and image) to the right of the page"
                  },
                  "x-typeDescription": "How the branding (title and image) should be aligned"
                },
                "brand-title": {
                  "description": "The title, typically a company name, to show at the top of the page",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "content-background-color": {
                  "description": "The CSS color to apply to the background of the content",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "cda-cg-csscolor",
                  "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
                  "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
                },
                "description": {
                  "description": "A description, or note, for the portal skin profile.",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 0,
                  "type": "string",
                  "x-typeDescription": "Add Description to the entity."
                },
                "favicon-image": {
                  "description": "The image to use as the favicon for the page.\n\nThe UUID for this image must be a valid Central NAC image file identifier.\n\nSee the Central NAC image upload API for further details.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "favicon-image",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "header-background-color": {
                  "description": "The CSS color to apply to the background of the header",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "cda-cg-csscolor",
                  "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
                  "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
                },
                "max-columns": {
                  "default": "1",
                  "description": "The maximum number of columns to show on the page (any given page may use less depending on the content and size of the screen)",
                  "format": "int32",
                  "maximum": 2,
                  "minimum": 1,
                  "type": "integer"
                },
                "name": {
                  "description": "Unique name for the portal skin profile.",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true
                },
                "primary-color": {
                  "description": "The primary CSS color to use on the page",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "cda-cg-csscolor",
                  "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
                  "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
                },
                "show-header": {
                  "default": "false",
                  "description": "Show a header at the top of the page",
                  "type": "boolean"
                },
                "skin-id": {
                  "description": "Unique identifier for the portal skin profile (must be a UUID).",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-mandatory": true,
                  "x-patternSources": "skin-id",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "social-login-branding": {
                  "description": "Social network providers login button branding",
                  "enum": [
                    "LIGHT",
                    "DARK"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "DARK": "Display social network branding accordingly for a page with a 'dark' theme.\n\nUse this option when your portal pages have a dark background.",
                    "LIGHT": "Display social network branding accordingly for a page with a 'light' theme.\n\nUse this option when your portal pages have a light background."
                  },
                  "x-typeDescription": "Social network providers login button branding"
                },
                "text-alignment": {
                  "description": "Default text alignment for elements on the page",
                  "enum": [
                    "LEFT",
                    "CENTER",
                    "RIGHT"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CENTER": "Set the default text alignment to 'center' for elements on a portal page.",
                    "LEFT": "Set the default text alignment to 'left' for elements on a portal page.",
                    "RIGHT": "Set the default text alignment to 'right' for elements on a portal page."
                  },
                  "x-typeDescription": "Default text alignment for elements on the page"
                },
                "text-color": {
                  "description": "The CSS color to use for text",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "cda-cg-csscolor",
                  "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
                  "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
                },
                "wifi4eu-language": {
                  "default": "EN",
                  "description": "The language to be used in the wifi4eu background image",
                  "enum": [
                    "BG",
                    "HR",
                    "CS",
                    "DA",
                    "NL",
                    "EN",
                    "ET",
                    "FI",
                    "FR",
                    "DE",
                    "EL",
                    "HU",
                    "GA",
                    "IT",
                    "LV",
                    "LT",
                    "MT",
                    "PL",
                    "PT",
                    "RO",
                    "SK",
                    "SL",
                    "ES",
                    "SV"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BG": "Specify Bulgarian as the Wifi4EU portal language",
                    "CS": "Specify Czech as the Wifi4EU portal language",
                    "DA": "Specify Danish as the Wifi4EU portal language",
                    "DE": "Specify German as the Wifi4EU portal language",
                    "EL": "Specify Greek as the Wifi4EU portal language",
                    "EN": "Specify English as the Wifi4EU portal language",
                    "ES": "Specify Spanish as the Wifi4EU portal language",
                    "ET": "Specify Estonian as the Wifi4EU portal language",
                    "FI": "Specify Finnish as the Wifi4EU portal language",
                    "FR": "Specify French as the Wifi4EU portal language",
                    "GA": "Specify Irish as the Wifi4EU portal language",
                    "HR": "Specify Croatian as the Wifi4EU portal language",
                    "HU": "Specify Hungarian as the Wifi4EU portal language",
                    "IT": "Specify Italian as the Wifi4EU portal language",
                    "LT": "Specify Lithuanian as the Wifi4EU portal language",
                    "LV": "Specify Latvian as the Wifi4EU portal language",
                    "MT": "Specify Maltese as the Wifi4EU portal language",
                    "NL": "Specify Dutch as the Wifi4EU portal language",
                    "PL": "Specify Polish as the Wifi4EU portal language",
                    "PT": "Specify Portuguese as the Wifi4EU portal language",
                    "RO": "Specify Romanian as the Wifi4EU portal language",
                    "SK": "Specify Slovak as the Wifi4EU portal language",
                    "SL": "Specify Slovenian as the Wifi4EU portal language",
                    "SV": "Specify Swedish as the Wifi4EU portal language"
                  },
                  "x-typeDescription": "An ISO 639 language code for the Wifi4EU background image."
                },
                "wifi4eu-network-identifier": {
                  "description": "The unique identifier of the WiFi4EU network installation as indicated in the Installation Report.",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                }
              },
              "required": [
                "skin-id",
                "name"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "skinId"
            ]
          }
        }
      },
      "ArubaCdaPortalSkinProfile_SkinsskinSchema": {
        "properties": {
          "background-color": {
            "description": "The CSS color to apply to the background of the page",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "cda-cg-csscolor",
            "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
            "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
          },
          "background-image": {
            "description": "The image to apply to the background of the page.\n\nThe UUID for this image must be a valid Central NAC image file identifier.\n\nSee the Central NAC image upload API for further details.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "background-image",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "brand-image": {
            "description": "The logo shown at the top of the page.\n\nThe UUID for this image must be a valid Central NAC image file identifier.\n\nSee the Central NAC image upload API for further details.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "brand-image",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "brand-link": {
            "description": "The URL to link the logo image to",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
          },
          "brand-location": {
            "default": "LEFT",
            "description": "How the branding (title and image) should be aligned",
            "enum": [
              "LEFT",
              "CENTER",
              "RIGHT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CENTER": "Align the brand (title and image) to the center of the page",
              "LEFT": "Align the brand (title and image) to the left of the page",
              "RIGHT": "Align the brand (title and image) to the right of the page"
            },
            "x-typeDescription": "How the branding (title and image) should be aligned"
          },
          "brand-title": {
            "description": "The title, typically a company name, to show at the top of the page",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "content-background-color": {
            "description": "The CSS color to apply to the background of the content",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "cda-cg-csscolor",
            "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
            "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
          },
          "description": {
            "description": "A description, or note, for the portal skin profile.",
            "format": "const",
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "x-typeDescription": "Add Description to the entity."
          },
          "favicon-image": {
            "description": "The image to use as the favicon for the page.\n\nThe UUID for this image must be a valid Central NAC image file identifier.\n\nSee the Central NAC image upload API for further details.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "favicon-image",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "header-background-color": {
            "description": "The CSS color to apply to the background of the header",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "cda-cg-csscolor",
            "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
            "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
          },
          "max-columns": {
            "default": "1",
            "description": "The maximum number of columns to show on the page (any given page may use less depending on the content and size of the screen)",
            "format": "int32",
            "maximum": 2,
            "minimum": 1,
            "type": "integer"
          },
          "name": {
            "description": "Unique name for the portal skin profile.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "primary-color": {
            "description": "The primary CSS color to use on the page",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "cda-cg-csscolor",
            "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
            "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
          },
          "show-header": {
            "default": "false",
            "description": "Show a header at the top of the page",
            "type": "boolean"
          },
          "skin-id": {
            "description": "Unique identifier for the portal skin profile (must be a UUID).",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-mandatory": true,
            "x-patternSources": "skin-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "social-login-branding": {
            "description": "Social network providers login button branding",
            "enum": [
              "LIGHT",
              "DARK"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DARK": "Display social network branding accordingly for a page with a 'dark' theme.\n\nUse this option when your portal pages have a dark background.",
              "LIGHT": "Display social network branding accordingly for a page with a 'light' theme.\n\nUse this option when your portal pages have a light background."
            },
            "x-typeDescription": "Social network providers login button branding"
          },
          "text-alignment": {
            "description": "Default text alignment for elements on the page",
            "enum": [
              "LEFT",
              "CENTER",
              "RIGHT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CENTER": "Set the default text alignment to 'center' for elements on a portal page.",
              "LEFT": "Set the default text alignment to 'left' for elements on a portal page.",
              "RIGHT": "Set the default text alignment to 'right' for elements on a portal page."
            },
            "x-typeDescription": "Default text alignment for elements on the page"
          },
          "text-color": {
            "description": "The CSS color to use for text",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "cda-cg-csscolor",
            "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
            "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
          },
          "wifi4eu-language": {
            "default": "EN",
            "description": "The language to be used in the wifi4eu background image",
            "enum": [
              "BG",
              "HR",
              "CS",
              "DA",
              "NL",
              "EN",
              "ET",
              "FI",
              "FR",
              "DE",
              "EL",
              "HU",
              "GA",
              "IT",
              "LV",
              "LT",
              "MT",
              "PL",
              "PT",
              "RO",
              "SK",
              "SL",
              "ES",
              "SV"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BG": "Specify Bulgarian as the Wifi4EU portal language",
              "CS": "Specify Czech as the Wifi4EU portal language",
              "DA": "Specify Danish as the Wifi4EU portal language",
              "DE": "Specify German as the Wifi4EU portal language",
              "EL": "Specify Greek as the Wifi4EU portal language",
              "EN": "Specify English as the Wifi4EU portal language",
              "ES": "Specify Spanish as the Wifi4EU portal language",
              "ET": "Specify Estonian as the Wifi4EU portal language",
              "FI": "Specify Finnish as the Wifi4EU portal language",
              "FR": "Specify French as the Wifi4EU portal language",
              "GA": "Specify Irish as the Wifi4EU portal language",
              "HR": "Specify Croatian as the Wifi4EU portal language",
              "HU": "Specify Hungarian as the Wifi4EU portal language",
              "IT": "Specify Italian as the Wifi4EU portal language",
              "LT": "Specify Lithuanian as the Wifi4EU portal language",
              "LV": "Specify Latvian as the Wifi4EU portal language",
              "MT": "Specify Maltese as the Wifi4EU portal language",
              "NL": "Specify Dutch as the Wifi4EU portal language",
              "PL": "Specify Polish as the Wifi4EU portal language",
              "PT": "Specify Portuguese as the Wifi4EU portal language",
              "RO": "Specify Romanian as the Wifi4EU portal language",
              "SK": "Specify Slovak as the Wifi4EU portal language",
              "SL": "Specify Slovenian as the Wifi4EU portal language",
              "SV": "Specify Swedish as the Wifi4EU portal language"
            },
            "x-typeDescription": "An ISO 639 language code for the Wifi4EU background image."
          },
          "wifi4eu-network-identifier": {
            "description": "The unique identifier of the WiFi4EU network installation as indicated in the Installation Report.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "skin-id",
          "name"
        ]
      },
      "ArubaCdaPortalSkinProfile_SkinsskinSchemaGet": {
        "properties": {
          "background-color": {
            "description": "The CSS color to apply to the background of the page",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "cda-cg-csscolor",
            "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
            "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
          },
          "background-image": {
            "description": "The image to apply to the background of the page.\n\nThe UUID for this image must be a valid Central NAC image file identifier.\n\nSee the Central NAC image upload API for further details.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "background-image",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "brand-image": {
            "description": "The logo shown at the top of the page.\n\nThe UUID for this image must be a valid Central NAC image file identifier.\n\nSee the Central NAC image upload API for further details.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "brand-image",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "brand-link": {
            "description": "The URL to link the logo image to",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
          },
          "brand-location": {
            "default": "LEFT",
            "description": "How the branding (title and image) should be aligned",
            "enum": [
              "LEFT",
              "CENTER",
              "RIGHT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CENTER": "Align the brand (title and image) to the center of the page",
              "LEFT": "Align the brand (title and image) to the left of the page",
              "RIGHT": "Align the brand (title and image) to the right of the page"
            },
            "x-typeDescription": "How the branding (title and image) should be aligned"
          },
          "brand-title": {
            "description": "The title, typically a company name, to show at the top of the page",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "content-background-color": {
            "description": "The CSS color to apply to the background of the content",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "cda-cg-csscolor",
            "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
            "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
          },
          "description": {
            "description": "A description, or note, for the portal skin profile.",
            "format": "const",
            "maxLength": 255,
            "minLength": 0,
            "type": "string",
            "x-typeDescription": "Add Description to the entity."
          },
          "favicon-image": {
            "description": "The image to use as the favicon for the page.\n\nThe UUID for this image must be a valid Central NAC image file identifier.\n\nSee the Central NAC image upload API for further details.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "favicon-image",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "header-background-color": {
            "description": "The CSS color to apply to the background of the header",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "cda-cg-csscolor",
            "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
            "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
          },
          "max-columns": {
            "default": "1",
            "description": "The maximum number of columns to show on the page (any given page may use less depending on the content and size of the screen)",
            "format": "int32",
            "maximum": 2,
            "minimum": 1,
            "type": "integer"
          },
          "name": {
            "description": "Unique name for the portal skin profile.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "primary-color": {
            "description": "The primary CSS color to use on the page",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "cda-cg-csscolor",
            "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
            "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
          },
          "show-header": {
            "default": "false",
            "description": "Show a header at the top of the page",
            "type": "boolean"
          },
          "skin-id": {
            "description": "Unique identifier for the portal skin profile (must be a UUID).",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-mandatory": true,
            "x-patternSources": "skin-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "social-login-branding": {
            "description": "Social network providers login button branding",
            "enum": [
              "LIGHT",
              "DARK"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DARK": "Display social network branding accordingly for a page with a 'dark' theme.\n\nUse this option when your portal pages have a dark background.",
              "LIGHT": "Display social network branding accordingly for a page with a 'light' theme.\n\nUse this option when your portal pages have a light background."
            },
            "x-typeDescription": "Social network providers login button branding"
          },
          "text-alignment": {
            "description": "Default text alignment for elements on the page",
            "enum": [
              "LEFT",
              "CENTER",
              "RIGHT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CENTER": "Set the default text alignment to 'center' for elements on a portal page.",
              "LEFT": "Set the default text alignment to 'left' for elements on a portal page.",
              "RIGHT": "Set the default text alignment to 'right' for elements on a portal page."
            },
            "x-typeDescription": "Default text alignment for elements on the page"
          },
          "text-color": {
            "description": "The CSS color to use for text",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "cda-cg-csscolor",
            "x-patterns": "'(#[0-9a-fA-F]{3}|#[0-9a-fA-F]{6}|rgb\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2}\\)|rgb\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2}\\)|rgba\\(\\s*\\d+\\s*(,\\s*\\d+\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|rgba\\(\\s*\\d+%\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\)|hsl\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2}\\)|hsla\\(\\s*\\d+\\s*(,\\s*\\d+%\\s*){2},\\s*\\d+(\\.\\d+)?\\s*\\))'",
            "x-typeDescription": "A numerical CSS Color (Module Level 3).\n\nSupported formats include:\n\n#rgb             3 hex digit format\n\n#rrggbb          6 hex digit format\n\nrgb(r,g,b)       RGB functional notation with either 3 integers, or\n                3 percentages\n\nrgba(r,g,b,a)    RGBA functional notation with RGB values as per\n                rgb(), and a 4th alpha-value\n\nhsl(h,s,l):      HSL functional notation with H (hue) as either an\n                integer (0 to 360) or a percentage, and\n                S (saturation) and L (lightness) as percentages\n\nhsla(h,s,l,a):   HSL functional notation with HSL values as per\n                hsl(), and a 4th alpha-value\n\nNOTE: alpha-values are only supported as floating point values,\n        which should be in the range 0.0 (fully transparent) to 1.0\n        (fully opaque)."
          },
          "wifi4eu-language": {
            "default": "EN",
            "description": "The language to be used in the wifi4eu background image",
            "enum": [
              "BG",
              "HR",
              "CS",
              "DA",
              "NL",
              "EN",
              "ET",
              "FI",
              "FR",
              "DE",
              "EL",
              "HU",
              "GA",
              "IT",
              "LV",
              "LT",
              "MT",
              "PL",
              "PT",
              "RO",
              "SK",
              "SL",
              "ES",
              "SV"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BG": "Specify Bulgarian as the Wifi4EU portal language",
              "CS": "Specify Czech as the Wifi4EU portal language",
              "DA": "Specify Danish as the Wifi4EU portal language",
              "DE": "Specify German as the Wifi4EU portal language",
              "EL": "Specify Greek as the Wifi4EU portal language",
              "EN": "Specify English as the Wifi4EU portal language",
              "ES": "Specify Spanish as the Wifi4EU portal language",
              "ET": "Specify Estonian as the Wifi4EU portal language",
              "FI": "Specify Finnish as the Wifi4EU portal language",
              "FR": "Specify French as the Wifi4EU portal language",
              "GA": "Specify Irish as the Wifi4EU portal language",
              "HR": "Specify Croatian as the Wifi4EU portal language",
              "HU": "Specify Hungarian as the Wifi4EU portal language",
              "IT": "Specify Italian as the Wifi4EU portal language",
              "LT": "Specify Lithuanian as the Wifi4EU portal language",
              "LV": "Specify Latvian as the Wifi4EU portal language",
              "MT": "Specify Maltese as the Wifi4EU portal language",
              "NL": "Specify Dutch as the Wifi4EU portal language",
              "PL": "Specify Polish as the Wifi4EU portal language",
              "PT": "Specify Portuguese as the Wifi4EU portal language",
              "RO": "Specify Romanian as the Wifi4EU portal language",
              "SK": "Specify Slovak as the Wifi4EU portal language",
              "SL": "Specify Slovenian as the Wifi4EU portal language",
              "SV": "Specify Swedish as the Wifi4EU portal language"
            },
            "x-typeDescription": "An ISO 639 language code for the Wifi4EU background image."
          },
          "wifi4eu-network-identifier": {
            "description": "The unique identifier of the WiFi4EU network installation as indicated in the Installation Report.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "skin-id",
          "name"
        ]
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaCdaPortalSkinProfile_SkinsskinSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaCdaPortalSkinProfile_SkinsskinSchema"
            }
          }
        },
        "description": "skinbody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
