{
  "openapi": "3.1.0",
  "info": {
    "title": "Cda Auth Profile",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Cda Auth Profile"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/auth-profiles": {
      "get": {
        "description": "Authentication profiles to be used for Central NAC.\n\nAuthentication profile defines the authentication method, authentication sources, and additional attributes used to authenticate users on the associated networks.\n\nAuthentication profiles must be configured with default query parameters.",
        "operationId": "readAuthProfiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaAuthProfile_AuthProfilesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read authentication profile configuration(s).",
        "tags": [
          "Cda Auth Profile"
        ],
        "x-cliParam": {
          "commandName": "readAuthProfilesCmd",
          "commandUse": "auth-profiles",
          "parentCommand": "readCmd",
          "pathToPrint": "/auth-profiles/",
          "summary": "Read operation for auth-profiles"
        }
      }
    },
    "/network-config/v1alpha1/auth-profiles/{auth-profile-id}": {
      "get": {
        "description": "Authentication profile to be used for Central NAC.\n\nAuthentication profile defines the authentication method, authentication sources, and additional attributes used to authenticate users on the associated networks.\n\nAuthentication profiles must be configured with default query parameters.",
        "operationId": "readAuthProfilesProfileByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for auth profile.",
            "in": "path",
            "name": "auth-profile-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaAuthProfile_AuthProfilesprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read authentication profile configuration.",
        "tags": [
          "Cda Auth Profile"
        ],
        "x-cliParam": {
          "commandName": "readAuthProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "auth-profile-id"
            }
          ],
          "parentCommand": "readAuthProfilesCmd",
          "pathToPrint": "/auth-profiles/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Authentication profile to be used for Central NAC.\n\nAuthentication profile defines the authentication method, authentication sources, and additional attributes used to authenticate users on the associated networks.\n\nAuthentication profiles must be configured with default query parameters.",
        "operationId": "replaceAuthProfilesProfileByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for auth profile.",
            "in": "path",
            "name": "auth-profile-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaAuthProfile_AuthProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by auth-profile-id",
        "tags": [
          "Cda Auth Profile"
        ],
        "x-cliParam": {
          "commandName": "replaceAuthProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "auth-profile-id"
            }
          ],
          "parentCommand": "replaceAuthProfilesCmd",
          "pathToPrint": "/auth-profiles/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Authentication profile to be used for Central NAC.\n\nAuthentication profile defines the authentication method, authentication sources, and additional attributes used to authenticate users on the associated networks.\n\nAuthentication profiles must be configured with default query parameters.",
        "operationId": "createAuthProfilesProfileByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for auth profile.",
            "in": "path",
            "name": "auth-profile-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaAuthProfile_AuthProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create authentication profile configuration.",
        "tags": [
          "Cda Auth Profile"
        ],
        "x-cliParam": {
          "commandName": "createAuthProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "auth-profile-id"
            }
          ],
          "parentCommand": "createAuthProfilesCmd",
          "pathToPrint": "/auth-profiles/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Authentication profile to be used for Central NAC.\n\nAuthentication profile defines the authentication method, authentication sources, and additional attributes used to authenticate users on the associated networks.\n\nAuthentication profiles must be configured with default query parameters.",
        "operationId": "deleteAuthProfilesProfileByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for auth profile.",
            "in": "path",
            "name": "auth-profile-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete authentication profile configuration.",
        "tags": [
          "Cda Auth Profile"
        ],
        "x-cliParam": {
          "commandName": "deleteAuthProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "auth-profile-id"
            }
          ],
          "parentCommand": "deleteAuthProfilesCmd",
          "pathToPrint": "/auth-profiles/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Authentication profile to be used for Central NAC.\n\nAuthentication profile defines the authentication method, authentication sources, and additional attributes used to authenticate users on the associated networks.\n\nAuthentication profiles must be configured with default query parameters.",
        "operationId": "updateAuthProfilesProfileByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for auth profile.",
            "in": "path",
            "name": "auth-profile-id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaAuthProfile_AuthProfilesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update authentication profile configuration.",
        "tags": [
          "Cda Auth Profile"
        ],
        "x-cliParam": {
          "commandName": "updateAuthProfilesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "auth-profile-id"
            }
          ],
          "parentCommand": "updateAuthProfilesCmd",
          "pathToPrint": "/auth-profiles/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaCdaAirpassProfile_CdaAirpassProfile": {
        "description": "Air Pass profile top level grouping",
        "properties": {
          "airpass-profile": {
            "description": "Air Pass enables seamless cellular roaming to enterprise networks.\nAir Pass profiles can be configured to use SIM based or OpenRoaming workflows for Central NAC.\n\nAir Pass profiles must be configured with default query parameters.",
            "properties": {
              "approval-email": {
                "description": "Customer email for approval workflow.",
                "format": "pattern",
                "maxLength": 320,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "email-type",
                "x-patterns": "'[\\w\\-\\.]+@([\\w-]+\\.)+[\\w-]+'",
                "x-typeDescription": "Email format."
              },
              "domain-name": {
                "description": "Domain Name for Air Pass.",
                "format": "pattern",
                "maxLength": 512,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true,
                "x-patternSources": "cda-cg-domain-name",
                "x-patterns": "'([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)*([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?)'",
                "x-typeDescription": "A domain name (as supported by Cloud Guest) according to RFC 952 and RFC 1123."
              },
              "operator-name": {
                "description": "Operator-friendly english name (max length:252).",
                "format": "const",
                "maxLength": 252,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "provider": {
                "description": "List of passpoint identities that will be used for Air Pass.",
                "items": {
                  "description": "List of passpoint identities that will be used for Air Pass.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string"
                },
                "maxItems": 10,
                "minItems": 1,
                "type": "array"
              },
              "site": {
                "description": "List of site ids where Air Pass should be enabled.",
                "items": {
                  "properties": {
                    "site-id": {
                      "description": "Site id.",
                      "format": "pattern",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "scope-id-type",
                      "x-patterns": "'[0-9]*'",
                      "x-typeDescription": "it is a unique ID given to a scope, it is unique across a particular construct"
                    }
                  },
                  "required": [
                    "site-id"
                  ]
                },
                "maxItems": 2147483647,
                "minItems": 1,
                "type": "array",
                "x-key": [
                  "siteId"
                ]
              },
              "venue-category": {
                "description": "Venue category.",
                "enum": [
                  "K_12",
                  "STADIUM",
                  "AIRPORT",
                  "HIGHER_ED",
                  "OFFICE",
                  "MANUFACTURING",
                  "MEDICAL",
                  "RETAIL",
                  "HOTEL",
                  "OTHER"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AIRPORT": "Airport.",
                  "HIGHER_ED": "Higher Education (University or college).",
                  "HOTEL": "Hotel.",
                  "K_12": "K-12 primary school.",
                  "MANUFACTURING": "Manufacturing.",
                  "MEDICAL": "Medical office (Hospital).",
                  "OFFICE": "Office Building.",
                  "OTHER": "Unspecified.",
                  "RETAIL": "Retail store.",
                  "STADIUM": "Stadium (LPV)."
                },
                "x-mandatory": true
              }
            },
            "required": [
              "venue-category",
              "domain-name",
              "operator-name"
            ]
          }
        }
      },
      "ArubaCdaAirpassProfile_CdaAirpassProfileGet": {
        "description": "Air Pass profile top level grouping",
        "properties": {
          "airpass-profile": {
            "description": "Air Pass enables seamless cellular roaming to enterprise networks.\nAir Pass profiles can be configured to use SIM based or OpenRoaming workflows for Central NAC.\n\nAir Pass profiles must be configured with default query parameters.",
            "properties": {
              "approval-email": {
                "description": "Customer email for approval workflow.",
                "format": "pattern",
                "maxLength": 320,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "email-type",
                "x-patterns": "'[\\w\\-\\.]+@([\\w-]+\\.)+[\\w-]+'",
                "x-typeDescription": "Email format."
              },
              "domain-name": {
                "description": "Domain Name for Air Pass.",
                "format": "pattern",
                "maxLength": 512,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true,
                "x-patternSources": "cda-cg-domain-name",
                "x-patterns": "'([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)*([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?)'",
                "x-typeDescription": "A domain name (as supported by Cloud Guest) according to RFC 952 and RFC 1123."
              },
              "operator-name": {
                "description": "Operator-friendly english name (max length:252).",
                "format": "const",
                "maxLength": 252,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "provider": {
                "description": "List of passpoint identities that will be used for Air Pass.",
                "items": {
                  "description": "List of passpoint identities that will be used for Air Pass.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string"
                },
                "maxItems": 10,
                "minItems": 1,
                "type": "array"
              },
              "site": {
                "description": "List of site ids where Air Pass should be enabled.",
                "items": {
                  "properties": {
                    "site-id": {
                      "description": "Site id.",
                      "format": "pattern",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "scope-id-type",
                      "x-patterns": "'[0-9]*'",
                      "x-typeDescription": "it is a unique ID given to a scope, it is unique across a particular construct"
                    }
                  },
                  "required": [
                    "site-id"
                  ]
                },
                "maxItems": 2147483647,
                "minItems": 1,
                "type": "array",
                "x-key": [
                  "siteId"
                ]
              },
              "venue-category": {
                "description": "Venue category.",
                "enum": [
                  "K_12",
                  "STADIUM",
                  "AIRPORT",
                  "HIGHER_ED",
                  "OFFICE",
                  "MANUFACTURING",
                  "MEDICAL",
                  "RETAIL",
                  "HOTEL",
                  "OTHER"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AIRPORT": "Airport.",
                  "HIGHER_ED": "Higher Education (University or college).",
                  "HOTEL": "Hotel.",
                  "K_12": "K-12 primary school.",
                  "MANUFACTURING": "Manufacturing.",
                  "MEDICAL": "Medical office (Hospital).",
                  "OFFICE": "Office Building.",
                  "OTHER": "Unspecified.",
                  "RETAIL": "Retail store.",
                  "STADIUM": "Stadium (LPV)."
                },
                "x-mandatory": true
              }
            },
            "required": [
              "venue-category",
              "domain-name",
              "operator-name"
            ]
          }
        }
      },
      "ArubaCdaAuthProfile_AuthProfilesSchemaGET": {
        "description": "Authentication profiles to be used for Central NAC.\n\nAuthentication profile defines the authentication method, authentication sources, and additional attributes used to authenticate users on the associated networks.\n\nAuthentication profiles must be configured with default query parameters.",
        "properties": {
          "profile": {
            "description": "Authentication profile to be used for Central NAC.\n\nAuthentication profile defines the authentication method, authentication sources, and additional attributes used to authenticate users on the associated networks.\n\nAuthentication profiles must be configured with default query parameters.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCdaAuthProfile_WiredProfileConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaEapProfile_EapProfileGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaAuthProfile_MpskProfileGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaAuthProfile_MabProfileGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaCaptivePortalProfile_CaptivePortalProfileGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaAirpassProfile_CdaAirpassProfileGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaAuthProfile_DefaultPolicyProfileGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaAuthProfile_LocalWlanScopesGet"
                },
                {
                  "properties": {
                    "auth-profile-id": {
                      "description": "Unique immutable identifier for auth profile.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "auth-profile-id",
                      "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                    },
                    "auth-type": {
                      "description": "Type of authentication method to determine profile configuration.",
                      "enum": [
                        "MPSK",
                        "EAP",
                        "CAPTIVE_PORTAL",
                        "DPP",
                        "MAB",
                        "AIRPASS"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {},
                      "x-mandatory": true,
                      "x-typeDescription": "Network authentication methods."
                    },
                    "description": {
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 0,
                      "type": "string",
                      "x-typeDescription": "Add Description to the entity."
                    },
                    "dpp": {
                      "default": "false",
                      "description": "Indicate if Wi-Fi Easy Connect (DPP) is supported on this network.",
                      "type": "boolean"
                    },
                    "identity-stores": {
                      "description": "Reference to the identity store(s) to be used for authentication.",
                      "items": {
                        "description": "Reference to the identity store(s) to be used for authentication.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-path": "/ac-cda-is:identity-stores/ac-cda-is:store/ac-cda-is:id",
                        "x-patternSources": "id",
                        "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "local-network": {
                      "default": "false",
                      "description": "Indicate if auth profile applies to local networks.",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "Name of authentication profile.",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true
                    },
                    "networks": {
                      "description": "Reference to the wired/wlan network to be used for authentication.",
                      "items": {
                        "description": "Reference to the wired/wlan network to be used for authentication.",
                        "format": "const",
                        "maxLength": 32,
                        "minLength": 1,
                        "type": "string"
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "organization-name": {
                      "description": "Organization name used for provisioning in onboarding workflows.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    },
                    "portal-profile": {
                      "description": "Reference to the portal profile that defines the required web portal customizations.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-cda-pp:portals/ac-cda-pp:portal/ac-cda-pp:portal-id",
                      "x-patternSources": "portal-id",
                      "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                    },
                    "shared-network": {
                      "default": "true",
                      "description": "Indicate if auth profile applies to shared networks.",
                      "type": "boolean"
                    },
                    "wired": {
                      "default": "false",
                      "description": "Indicate if auth profile applies to wired profiles.\n\nWhen wired is true, and auth-type is CAPTIVE_PORTAL, a wired-profile must also be configured.",
                      "type": "boolean"
                    }
                  }
                },
                {
                  "required": [
                    "name",
                    "auth-type"
                  ]
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "authProfileId"
            ]
          }
        }
      },
      "ArubaCdaAuthProfile_AuthProfilesprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaAuthProfile_WiredProfileConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaEapProfile_EapProfile"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaAuthProfile_MpskProfile"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaAuthProfile_MabProfile"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaCaptivePortalProfile_CaptivePortalProfile"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaAirpassProfile_CdaAirpassProfile"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaAuthProfile_DefaultPolicyProfile"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaAuthProfile_LocalWlanScopes"
          },
          {
            "properties": {
              "auth-profile-id": {
                "description": "Unique immutable identifier for auth profile.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "auth-profile-id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
              },
              "auth-type": {
                "description": "Type of authentication method to determine profile configuration.",
                "enum": [
                  "MPSK",
                  "EAP",
                  "CAPTIVE_PORTAL",
                  "DPP",
                  "MAB",
                  "AIRPASS"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {},
                "x-mandatory": true,
                "x-typeDescription": "Network authentication methods."
              },
              "description": {
                "format": "const",
                "maxLength": 255,
                "minLength": 0,
                "type": "string",
                "x-typeDescription": "Add Description to the entity."
              },
              "dpp": {
                "default": "false",
                "description": "Indicate if Wi-Fi Easy Connect (DPP) is supported on this network.",
                "type": "boolean"
              },
              "identity-stores": {
                "description": "Reference to the identity store(s) to be used for authentication.",
                "items": {
                  "description": "Reference to the identity store(s) to be used for authentication.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-cda-is:identity-stores/ac-cda-is:store/ac-cda-is:id",
                  "x-patternSources": "id",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "local-network": {
                "default": "false",
                "description": "Indicate if auth profile applies to local networks.",
                "type": "boolean"
              },
              "name": {
                "description": "Name of authentication profile.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "networks": {
                "description": "Reference to the wired/wlan network to be used for authentication.",
                "items": {
                  "description": "Reference to the wired/wlan network to be used for authentication.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "organization-name": {
                "description": "Organization name used for provisioning in onboarding workflows.",
                "format": "const",
                "maxLength": 9999,
                "type": "string"
              },
              "portal-profile": {
                "description": "Reference to the portal profile that defines the required web portal customizations.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-cda-pp:portals/ac-cda-pp:portal/ac-cda-pp:portal-id",
                "x-patternSources": "portal-id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
              },
              "shared-network": {
                "default": "true",
                "description": "Indicate if auth profile applies to shared networks.",
                "type": "boolean"
              },
              "wired": {
                "default": "false",
                "description": "Indicate if auth profile applies to wired profiles.\n\nWhen wired is true, and auth-type is CAPTIVE_PORTAL, a wired-profile must also be configured.",
                "type": "boolean"
              }
            }
          },
          {
            "required": [
              "name",
              "auth-type"
            ]
          }
        ]
      },
      "ArubaCdaAuthProfile_AuthProfilesprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaAuthProfile_WiredProfileConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaEapProfile_EapProfileGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaAuthProfile_MpskProfileGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaAuthProfile_MabProfileGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaCaptivePortalProfile_CaptivePortalProfileGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaAirpassProfile_CdaAirpassProfileGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaAuthProfile_DefaultPolicyProfileGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaAuthProfile_LocalWlanScopesGet"
          },
          {
            "properties": {
              "auth-profile-id": {
                "description": "Unique immutable identifier for auth profile.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "auth-profile-id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
              },
              "auth-type": {
                "description": "Type of authentication method to determine profile configuration.",
                "enum": [
                  "MPSK",
                  "EAP",
                  "CAPTIVE_PORTAL",
                  "DPP",
                  "MAB",
                  "AIRPASS"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {},
                "x-mandatory": true,
                "x-typeDescription": "Network authentication methods."
              },
              "description": {
                "format": "const",
                "maxLength": 255,
                "minLength": 0,
                "type": "string",
                "x-typeDescription": "Add Description to the entity."
              },
              "dpp": {
                "default": "false",
                "description": "Indicate if Wi-Fi Easy Connect (DPP) is supported on this network.",
                "type": "boolean"
              },
              "identity-stores": {
                "description": "Reference to the identity store(s) to be used for authentication.",
                "items": {
                  "description": "Reference to the identity store(s) to be used for authentication.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-cda-is:identity-stores/ac-cda-is:store/ac-cda-is:id",
                  "x-patternSources": "id",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "local-network": {
                "default": "false",
                "description": "Indicate if auth profile applies to local networks.",
                "type": "boolean"
              },
              "name": {
                "description": "Name of authentication profile.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "networks": {
                "description": "Reference to the wired/wlan network to be used for authentication.",
                "items": {
                  "description": "Reference to the wired/wlan network to be used for authentication.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "organization-name": {
                "description": "Organization name used for provisioning in onboarding workflows.",
                "format": "const",
                "maxLength": 9999,
                "type": "string"
              },
              "portal-profile": {
                "description": "Reference to the portal profile that defines the required web portal customizations.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-cda-pp:portals/ac-cda-pp:portal/ac-cda-pp:portal-id",
                "x-patternSources": "portal-id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
              },
              "shared-network": {
                "default": "true",
                "description": "Indicate if auth profile applies to shared networks.",
                "type": "boolean"
              },
              "wired": {
                "default": "false",
                "description": "Indicate if auth profile applies to wired profiles.\n\nWhen wired is true, and auth-type is CAPTIVE_PORTAL, a wired-profile must also be configured.",
                "type": "boolean"
              }
            }
          },
          {
            "required": [
              "name",
              "auth-type"
            ]
          }
        ]
      },
      "ArubaCdaAuthProfile_DefaultPolicyProfile": {
        "properties": {
          "default-policy": {
            "description": "Default policy to apply to Central NAC captive portal network sessions.\n\nThe auth-type must be CAPTIVE_PORTAL to configure a default-policy.",
            "properties": {
              "allow-mac-caching": {
                "default": "false",
                "description": "Whether users can resume a valid network session via MAC address caching and MAC authentication.",
                "type": "boolean"
              },
              "periodic-data-quota": {
                "description": "Maximum IO per day allowed for the account, or device, before active sessions should be terminated.\n\nLimiting by account, or by device, is controlled by the periodic-quota-subject.\n\nNull for no limit or a minimum of 1 (one).\n\nUnits are in MB (1,048,576 bytes).",
                "format": "int32",
                "maximum": 2147483647,
                "minimum": 1,
                "type": "integer"
              },
              "periodic-quota-subject": {
                "default": "ACCOUNT",
                "description": "Controls whether daily time and IO quotas are to be enforced on a per-account or per-device basis.",
                "enum": [
                  "ACCOUNT",
                  "DEVICE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ACCOUNT": "Daily time and IO quotas are enforced on a per-account basis.",
                  "DEVICE": "Daily time and IO quotas are enforced on a per-device basis."
                },
                "x-typeDescription": "An enumeration that controls whether daily time and IO quotas are to be enforced on a per-account or per-device basis."
              },
              "periodic-time-quota": {
                "description": "Maximum time per day allowed for the account, or device, before active sessions should be terminated.\n\nLimiting by account, or by device, is controlled by the periodic-quota-subject.\n\nNull for no limit or a minimum of 1 (one).\n\nUnits are in seconds.",
                "format": "int32",
                "maximum": 2147483647,
                "minimum": 1,
                "type": "integer"
              },
              "session-data-quota": {
                "description": "Maximum IO allowed for the session before it should be terminated.\n\nNull for no limit or a minimum of 1 (one).\n\nUnits are in MB (1,048,576 bytes).",
                "format": "int32",
                "maximum": 2147483647,
                "minimum": 1,
                "type": "integer"
              },
              "session-timeout": {
                "default": "28800",
                "description": "Maximum time allowed for the session before it should be terminated.\n\nNull for the default session timeout or a minimum of 1 (one).\n\nThe default session timeout is 28,800 seconds (i.e. 8 hours).\n\nUnits are in seconds.",
                "format": "int32",
                "maximum": 2147483647,
                "minimum": 1,
                "type": "integer"
              },
              "simultaneous-use": {
                "description": "Maximum number of simultaneous network sessions allowed for each account.\n\nNull for no limit or a minimum of 1 (one).\n\nNote that this limit is per-account only.",
                "format": "int32",
                "maximum": 2147483647,
                "minimum": 1,
                "type": "integer"
              }
            }
          }
        }
      },
      "ArubaCdaAuthProfile_DefaultPolicyProfileGet": {
        "properties": {
          "default-policy": {
            "description": "Default policy to apply to Central NAC captive portal network sessions.\n\nThe auth-type must be CAPTIVE_PORTAL to configure a default-policy.",
            "properties": {
              "allow-mac-caching": {
                "default": "false",
                "description": "Whether users can resume a valid network session via MAC address caching and MAC authentication.",
                "type": "boolean"
              },
              "periodic-data-quota": {
                "description": "Maximum IO per day allowed for the account, or device, before active sessions should be terminated.\n\nLimiting by account, or by device, is controlled by the periodic-quota-subject.\n\nNull for no limit or a minimum of 1 (one).\n\nUnits are in MB (1,048,576 bytes).",
                "format": "int32",
                "maximum": 2147483647,
                "minimum": 1,
                "type": "integer"
              },
              "periodic-quota-subject": {
                "default": "ACCOUNT",
                "description": "Controls whether daily time and IO quotas are to be enforced on a per-account or per-device basis.",
                "enum": [
                  "ACCOUNT",
                  "DEVICE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ACCOUNT": "Daily time and IO quotas are enforced on a per-account basis.",
                  "DEVICE": "Daily time and IO quotas are enforced on a per-device basis."
                },
                "x-typeDescription": "An enumeration that controls whether daily time and IO quotas are to be enforced on a per-account or per-device basis."
              },
              "periodic-time-quota": {
                "description": "Maximum time per day allowed for the account, or device, before active sessions should be terminated.\n\nLimiting by account, or by device, is controlled by the periodic-quota-subject.\n\nNull for no limit or a minimum of 1 (one).\n\nUnits are in seconds.",
                "format": "int32",
                "maximum": 2147483647,
                "minimum": 1,
                "type": "integer"
              },
              "session-data-quota": {
                "description": "Maximum IO allowed for the session before it should be terminated.\n\nNull for no limit or a minimum of 1 (one).\n\nUnits are in MB (1,048,576 bytes).",
                "format": "int32",
                "maximum": 2147483647,
                "minimum": 1,
                "type": "integer"
              },
              "session-timeout": {
                "default": "28800",
                "description": "Maximum time allowed for the session before it should be terminated.\n\nNull for the default session timeout or a minimum of 1 (one).\n\nThe default session timeout is 28,800 seconds (i.e. 8 hours).\n\nUnits are in seconds.",
                "format": "int32",
                "maximum": 2147483647,
                "minimum": 1,
                "type": "integer"
              },
              "simultaneous-use": {
                "description": "Maximum number of simultaneous network sessions allowed for each account.\n\nNull for no limit or a minimum of 1 (one).\n\nNote that this limit is per-account only.",
                "format": "int32",
                "maximum": 2147483647,
                "minimum": 1,
                "type": "integer"
              }
            }
          }
        }
      },
      "ArubaCdaAuthProfile_LocalWlanScopes": {
        "description": "Configuration of scopes for local WLANs .",
        "properties": {
          "local-wlan-scopes": {
            "description": "Local device groups and sites for the associated networks.",
            "properties": {
              "local-wlan-scope": {
                "description": "Local device groups and sites for the associated networks.",
                "items": {
                  "properties": {
                    "scope-id": {
                      "description": "Scope Id for the local WLAN scope.",
                      "format": "pattern",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "scope-id-type",
                      "x-patterns": "'[0-9]*'",
                      "x-typeDescription": "it is a unique ID given to a scope, it is unique across a particular construct"
                    },
                    "site-id": {
                      "description": "Site id for the local WLAN scope.",
                      "format": "pattern",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "scope-id-type",
                      "x-patterns": "'[0-9]*'",
                      "x-typeDescription": "it is a unique ID given to a scope, it is unique across a particular construct"
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "scopeId"
                ]
              }
            }
          }
        }
      },
      "ArubaCdaAuthProfile_LocalWlanScopesGet": {
        "description": "Configuration of scopes for local WLANs .",
        "properties": {
          "local-wlan-scopes": {
            "description": "Local device groups and sites for the associated networks.",
            "properties": {
              "local-wlan-scope": {
                "description": "Local device groups and sites for the associated networks.",
                "items": {
                  "properties": {
                    "scope-id": {
                      "description": "Scope Id for the local WLAN scope.",
                      "format": "pattern",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "scope-id-type",
                      "x-patterns": "'[0-9]*'",
                      "x-typeDescription": "it is a unique ID given to a scope, it is unique across a particular construct"
                    },
                    "site-id": {
                      "description": "Site id for the local WLAN scope.",
                      "format": "pattern",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "scope-id-type",
                      "x-patterns": "'[0-9]*'",
                      "x-typeDescription": "it is a unique ID given to a scope, it is unique across a particular construct"
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "scopeId"
                ]
              }
            }
          }
        }
      },
      "ArubaCdaAuthProfile_MabProfile": {
        "properties": {
          "mab": {
            "description": "MAC authentication bypass profile.",
            "properties": {
              "allow-all": {
                "default": "false",
                "description": "All devices are allowed on the network if set to true.",
                "type": "boolean"
              }
            }
          }
        }
      },
      "ArubaCdaAuthProfile_MabProfileGet": {
        "properties": {
          "mab": {
            "description": "MAC authentication bypass profile.",
            "properties": {
              "allow-all": {
                "default": "false",
                "description": "All devices are allowed on the network if set to true.",
                "type": "boolean"
              }
            }
          }
        }
      },
      "ArubaCdaAuthProfile_MpskProfile": {
        "properties": {
          "mpsk": {
            "description": "MPSK profile.",
            "properties": {
              "password-auto-expire": {
                "description": "password-auto-expire is an automatic expiration interval (ISO 8601 duration)\nthat is applied whenever an owned MPSK is created or the password is reset.\n\nAn active Central NAC subscription is required to set this field.\n\nThis field applies to end-user provisioned MPSK only. It does not apply to\nadministrator Named MPSK or operations.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "duration-type",
                "x-patterns": "'P(([0-9]+Y)?([0-9]+M)?([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+S)?)?|[0-9]+W)'",
                "x-typeDescription": "Duration in ISO 8601 format."
              },
              "password-minimum-age": {
                "description": "password-minimum-age is a password minimum age (ISO 8601 duration) that limits\nhow often an end user can reset a password.\n\npassword-minimum-age duration must be at least one day less than the\npassword-auto-expire duration, in the case that both are set.\n\nAn active Central NAC subscription is required to set this field.\n\nThis field applies to end-user provisioned MPSK only. It does not apply to\nadministrator Named MPSK or operations.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "duration-type",
                "x-patterns": "'P(([0-9]+Y)?([0-9]+M)?([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+S)?)?|[0-9]+W)'",
                "x-typeDescription": "Duration in ISO 8601 format."
              },
              "password-minimum-history": {
                "description": "password-minimum-history is a password history length that enforces password\nuniqueness for the specified number of password resets.\n\nAn active Central NAC subscription is required to set this field.\n\nThis field applies to end-user provisioned MPSK only. It does not apply to\nadministrator Named MPSK or operations.",
                "format": "int32",
                "maximum": 12,
                "minimum": 1,
                "type": "integer"
              },
              "password-policy": {
                "description": "Policy for generating PSK passwords",
                "enum": [
                  "WORDS",
                  "ALPHANUMERIC"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ALPHANUMERIC": "alphanumeric password.",
                  "WORDS": "4 word password."
                }
              }
            }
          }
        }
      },
      "ArubaCdaAuthProfile_MpskProfileGet": {
        "properties": {
          "mpsk": {
            "description": "MPSK profile.",
            "properties": {
              "password-auto-expire": {
                "description": "password-auto-expire is an automatic expiration interval (ISO 8601 duration)\nthat is applied whenever an owned MPSK is created or the password is reset.\n\nAn active Central NAC subscription is required to set this field.\n\nThis field applies to end-user provisioned MPSK only. It does not apply to\nadministrator Named MPSK or operations.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "duration-type",
                "x-patterns": "'P(([0-9]+Y)?([0-9]+M)?([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+S)?)?|[0-9]+W)'",
                "x-typeDescription": "Duration in ISO 8601 format."
              },
              "password-minimum-age": {
                "description": "password-minimum-age is a password minimum age (ISO 8601 duration) that limits\nhow often an end user can reset a password.\n\npassword-minimum-age duration must be at least one day less than the\npassword-auto-expire duration, in the case that both are set.\n\nAn active Central NAC subscription is required to set this field.\n\nThis field applies to end-user provisioned MPSK only. It does not apply to\nadministrator Named MPSK or operations.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "duration-type",
                "x-patterns": "'P(([0-9]+Y)?([0-9]+M)?([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+S)?)?|[0-9]+W)'",
                "x-typeDescription": "Duration in ISO 8601 format."
              },
              "password-minimum-history": {
                "description": "password-minimum-history is a password history length that enforces password\nuniqueness for the specified number of password resets.\n\nAn active Central NAC subscription is required to set this field.\n\nThis field applies to end-user provisioned MPSK only. It does not apply to\nadministrator Named MPSK or operations.",
                "format": "int32",
                "maximum": 12,
                "minimum": 1,
                "type": "integer"
              },
              "password-policy": {
                "description": "Policy for generating PSK passwords",
                "enum": [
                  "WORDS",
                  "ALPHANUMERIC"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ALPHANUMERIC": "alphanumeric password.",
                  "WORDS": "4 word password."
                }
              }
            }
          }
        }
      },
      "ArubaCdaAuthProfile_WiredProfileConfig": {
        "description": "Configuration for an authentication profile when supporting a wired network.",
        "properties": {
          "wired-profile": {
            "description": "Configuration for an authentication profile when supporting a wired network.\n\nThe wired field must be true, and the auth-type must be CAPTIVE_PORTAL, to configure a wired-profile.",
            "properties": {
              "ap-port-profiles": {
                "description": "The names of the Access Point (AP) port profiles with which this authentication profile will used.\n\nA port profile defines parameters on the port such as VLAN settings, authentication methods, link speed, PoE settings, and more.\n\nFor a CAPTIVE_PORTAL authentication profile, only wired interfaces with one of these port profiles will be configured with the captive portal.\n\nAt least one port profile must be specified.\n\nAt most 100 port profiles may be specified.",
                "items": {
                  "description": "The names of the Access Point (AP) port profiles with which this authentication profile will used.\n\nA port profile defines parameters on the port such as VLAN settings, authentication methods, link speed, PoE settings, and more.\n\nFor a CAPTIVE_PORTAL authentication profile, only wired interfaces with one of these port profiles will be configured with the captive portal.\n\nAt least one port profile must be specified.\n\nAt most 100 port profiles may be specified.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string"
                },
                "maxItems": 100,
                "minItems": 1,
                "type": "array"
              },
              "local-port-profiles": {
                "description": "Local port profiles used for authentication profile.",
                "items": {
                  "properties": {
                    "name": {
                      "description": "Name of the local port profile.",
                      "format": "const",
                      "maxLength": 32,
                      "minLength": 1,
                      "type": "string"
                    },
                    "scope-id": {
                      "description": "Scope Id for the local port profile.",
                      "format": "pattern",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "scope-id-type",
                      "x-patterns": "'[0-9]*'",
                      "x-typeDescription": "it is a unique ID given to a scope, it is unique across a particular construct"
                    }
                  },
                  "required": [
                    "scope-id"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "name"
                ]
              }
            }
          }
        }
      },
      "ArubaCdaAuthProfile_WiredProfileConfigGet": {
        "description": "Configuration for an authentication profile when supporting a wired network.",
        "properties": {
          "wired-profile": {
            "description": "Configuration for an authentication profile when supporting a wired network.\n\nThe wired field must be true, and the auth-type must be CAPTIVE_PORTAL, to configure a wired-profile.",
            "properties": {
              "ap-port-profiles": {
                "description": "The names of the Access Point (AP) port profiles with which this authentication profile will used.\n\nA port profile defines parameters on the port such as VLAN settings, authentication methods, link speed, PoE settings, and more.\n\nFor a CAPTIVE_PORTAL authentication profile, only wired interfaces with one of these port profiles will be configured with the captive portal.\n\nAt least one port profile must be specified.\n\nAt most 100 port profiles may be specified.",
                "items": {
                  "description": "The names of the Access Point (AP) port profiles with which this authentication profile will used.\n\nA port profile defines parameters on the port such as VLAN settings, authentication methods, link speed, PoE settings, and more.\n\nFor a CAPTIVE_PORTAL authentication profile, only wired interfaces with one of these port profiles will be configured with the captive portal.\n\nAt least one port profile must be specified.\n\nAt most 100 port profiles may be specified.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string"
                },
                "maxItems": 100,
                "minItems": 1,
                "type": "array"
              },
              "local-port-profiles": {
                "description": "Local port profiles used for authentication profile.",
                "items": {
                  "properties": {
                    "name": {
                      "description": "Name of the local port profile.",
                      "format": "const",
                      "maxLength": 32,
                      "minLength": 1,
                      "type": "string"
                    },
                    "scope-id": {
                      "description": "Scope Id for the local port profile.",
                      "format": "pattern",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "scope-id-type",
                      "x-patterns": "'[0-9]*'",
                      "x-typeDescription": "it is a unique ID given to a scope, it is unique across a particular construct"
                    }
                  },
                  "required": [
                    "scope-id"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "name"
                ]
              }
            }
          }
        }
      },
      "ArubaCdaCaptivePortalProfile_AnonymousConfig": {
        "description": "Anonymous-only fields",
        "properties": {
          "anonymous-password": {
            "description": "Password for the anonymous user sign in, if required.\n\nThe anonymous-password field can only be configured when authentication-mode is ANONYMOUS.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          }
        }
      },
      "ArubaCdaCaptivePortalProfile_AnonymousConfigGet": {
        "description": "Anonymous-only fields",
        "properties": {
          "anonymous-password": {
            "description": "Password for the anonymous user sign in, if required.\n\nThe anonymous-password field can only be configured when authentication-mode is ANONYMOUS.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          }
        }
      },
      "ArubaCdaCaptivePortalProfile_AuthenticatedConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaCaptivePortalProfile_RegistrationConfig"
          }
        ],
        "description": "Authenticated-only fields",
        "properties": {
          "enable-registration": {
            "description": "Allow users to register for an account.\n\nThe enable-registration field can only be configured when authentication-mode is AUTHENTICATED.\n\nAt least one of register-accept-email and register-accept-phone must be true when enable-registration is true.\n\nThe registration-identity-store must be configured when enable-registration is true.",
            "type": "boolean"
          }
        }
      },
      "ArubaCdaCaptivePortalProfile_AuthenticatedConfigGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaCaptivePortalProfile_RegistrationConfigGet"
          }
        ],
        "description": "Authenticated-only fields",
        "properties": {
          "enable-registration": {
            "description": "Allow users to register for an account.\n\nThe enable-registration field can only be configured when authentication-mode is AUTHENTICATED.\n\nAt least one of register-accept-email and register-accept-phone must be true when enable-registration is true.\n\nThe registration-identity-store must be configured when enable-registration is true.",
            "type": "boolean"
          }
        }
      },
      "ArubaCdaCaptivePortalProfile_CaptiveNetworkConfig": {
        "description": "Captive network configuration",
        "properties": {
          "allow-internet-on-service-unavailable": {
            "description": "Allow internet access when the authentication service (RADIUS/RadSec) is unavailable",
            "type": "boolean"
          },
          "cna-policy": {
            "description": "CNA (Captive Network Assistant) accept/bypass policy",
            "enum": [
              "AUTOMATIC",
              "ALLOW_ALWAYS"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALLOW_ALWAYS": "Always allow a CNA (Captive Network Assistant) to be shown (i.e. NEVER bypass a CNA)",
              "AUTOMATIC": "Automatically determine whether a CNA (Captive Network Assistant) should be allowed (shown) or bypassed (hidden)"
            },
            "x-typeDescription": "CNA (Captive Network Assistant) accept/bypass policies"
          },
          "final-redirection-url": {
            "description": "A URL to redirect the client to after they have completed the login workflow",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
          },
          "network-login-host-override": {
            "description": "Override the expected host that the Central NAC captive portal should redirect back\nto after it has authenticated the user.\n\nThe network access device (e.g. an Access Point), at this domain name, will then\ncomplete the final phase of user authentication.\n\nIt is recommended to only set this override when using a custom server certificate\non the network access device. This is so that, when the user's web browser is\nredirected back to the network access device, the host matches one of the valid\ndomain names in the certificate (e.g. a subject-alt-name, or the common name).\n\nIf set, this value must be a valid domain name.",
            "format": "pattern",
            "maxLength": 512,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "cda-cg-domain-name",
            "x-patterns": "'([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)*([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?)'",
            "x-typeDescription": "A domain name (as supported by Cloud Guest) according to RFC 952 and RFC 1123."
          },
          "pre-auth-access-rules": {
            "description": "Additional access rules added to the captive portal pre-authentication role.\nUse these rules to provide the user with access to HTTP/HTTPS resources before\nthey have completed the authentication process.\n\nThe maximum number of pre-auth-access-rules allowed is 10.",
            "items": {
              "properties": {
                "destination": {
                  "description": "Destination domain and port to allow.",
                  "properties": {
                    "domain-name": {
                      "description": "Destination domain name to allow.",
                      "format": "pattern",
                      "maxLength": 512,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "cda-cg-domain-name",
                      "x-patterns": "'([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)*([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?)'",
                      "x-typeDescription": "A domain name (as supported by Cloud Guest) according to RFC 952 and RFC 1123."
                    },
                    "port": {
                      "description": "Destination TCP port number to allow.\nPort numbers are currently restricted to 80 (HTTP) and 443 (HTTPS) only.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-mandatory": true,
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    }
                  },
                  "required": [
                    "domain-name",
                    "port"
                  ]
                },
                "position": {
                  "description": "Position determines the order in which the rules are appended to the pre-authentication role.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer",
                  "x-mandatory": true
                }
              },
              "required": [
                "position"
              ]
            },
            "maxItems": 10,
            "type": "array",
            "x-key": [
              "position"
            ]
          }
        }
      },
      "ArubaCdaCaptivePortalProfile_CaptiveNetworkConfigGet": {
        "description": "Captive network configuration",
        "properties": {
          "allow-internet-on-service-unavailable": {
            "description": "Allow internet access when the authentication service (RADIUS/RadSec) is unavailable",
            "type": "boolean"
          },
          "cna-policy": {
            "description": "CNA (Captive Network Assistant) accept/bypass policy",
            "enum": [
              "AUTOMATIC",
              "ALLOW_ALWAYS"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALLOW_ALWAYS": "Always allow a CNA (Captive Network Assistant) to be shown (i.e. NEVER bypass a CNA)",
              "AUTOMATIC": "Automatically determine whether a CNA (Captive Network Assistant) should be allowed (shown) or bypassed (hidden)"
            },
            "x-typeDescription": "CNA (Captive Network Assistant) accept/bypass policies"
          },
          "final-redirection-url": {
            "description": "A URL to redirect the client to after they have completed the login workflow",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
          },
          "network-login-host-override": {
            "description": "Override the expected host that the Central NAC captive portal should redirect back\nto after it has authenticated the user.\n\nThe network access device (e.g. an Access Point), at this domain name, will then\ncomplete the final phase of user authentication.\n\nIt is recommended to only set this override when using a custom server certificate\non the network access device. This is so that, when the user's web browser is\nredirected back to the network access device, the host matches one of the valid\ndomain names in the certificate (e.g. a subject-alt-name, or the common name).\n\nIf set, this value must be a valid domain name.",
            "format": "pattern",
            "maxLength": 512,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "cda-cg-domain-name",
            "x-patterns": "'([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)*([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?)'",
            "x-typeDescription": "A domain name (as supported by Cloud Guest) according to RFC 952 and RFC 1123."
          },
          "pre-auth-access-rules": {
            "description": "Additional access rules added to the captive portal pre-authentication role.\nUse these rules to provide the user with access to HTTP/HTTPS resources before\nthey have completed the authentication process.\n\nThe maximum number of pre-auth-access-rules allowed is 10.",
            "items": {
              "properties": {
                "destination": {
                  "description": "Destination domain and port to allow.",
                  "properties": {
                    "domain-name": {
                      "description": "Destination domain name to allow.",
                      "format": "pattern",
                      "maxLength": 512,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true,
                      "x-patternSources": "cda-cg-domain-name",
                      "x-patterns": "'([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)*([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?)'",
                      "x-typeDescription": "A domain name (as supported by Cloud Guest) according to RFC 952 and RFC 1123."
                    },
                    "port": {
                      "description": "Destination TCP port number to allow.\nPort numbers are currently restricted to 80 (HTTP) and 443 (HTTPS) only.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-mandatory": true,
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    }
                  },
                  "required": [
                    "domain-name",
                    "port"
                  ]
                },
                "position": {
                  "description": "Position determines the order in which the rules are appended to the pre-authentication role.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer",
                  "x-mandatory": true
                }
              },
              "required": [
                "position"
              ]
            },
            "maxItems": 10,
            "type": "array",
            "x-key": [
              "position"
            ]
          }
        }
      },
      "ArubaCdaCaptivePortalProfile_CaptivePortalProfile": {
        "description": "Captive Portal authentication profile",
        "properties": {
          "captive-portal": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaCaptivePortalProfile_AnonymousConfig"
              },
              {
                "$ref": "#/components/schemas/ArubaCdaCaptivePortalProfile_AuthenticatedConfig"
              },
              {
                "$ref": "#/components/schemas/ArubaCdaCaptivePortalProfile_CaptiveNetworkConfig"
              }
            ],
            "description": "Captive Portal authentication profile",
            "properties": {
              "authentication-mode": {
                "description": "How users are to be authenticated.\n\nWhen the authentication mode is AUTHENTICATED, the authentication profile's\nidentity-stores must reference at least one identity store.\n\nWhen the authentication mode is ANONYMOUS, the authentication profile's\nidentity-stores must not reference any identity stores.",
                "enum": [
                  "AUTHENTICATED",
                  "ANONYMOUS"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ANONYMOUS": "Anonymous access",
                  "AUTHENTICATED": "Authenticated (e.g. username/password) access"
                },
                "x-mandatory": true,
                "x-typeDescription": "User authentication modes"
              }
            },
            "required": [
              "authentication-mode"
            ]
          }
        }
      },
      "ArubaCdaCaptivePortalProfile_CaptivePortalProfileGet": {
        "description": "Captive Portal authentication profile",
        "properties": {
          "captive-portal": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaCaptivePortalProfile_AnonymousConfigGet"
              },
              {
                "$ref": "#/components/schemas/ArubaCdaCaptivePortalProfile_AuthenticatedConfigGet"
              },
              {
                "$ref": "#/components/schemas/ArubaCdaCaptivePortalProfile_CaptiveNetworkConfigGet"
              }
            ],
            "description": "Captive Portal authentication profile",
            "properties": {
              "authentication-mode": {
                "description": "How users are to be authenticated.\n\nWhen the authentication mode is AUTHENTICATED, the authentication profile's\nidentity-stores must reference at least one identity store.\n\nWhen the authentication mode is ANONYMOUS, the authentication profile's\nidentity-stores must not reference any identity stores.",
                "enum": [
                  "AUTHENTICATED",
                  "ANONYMOUS"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ANONYMOUS": "Anonymous access",
                  "AUTHENTICATED": "Authenticated (e.g. username/password) access"
                },
                "x-mandatory": true,
                "x-typeDescription": "User authentication modes"
              }
            },
            "required": [
              "authentication-mode"
            ]
          }
        }
      },
      "ArubaCdaCaptivePortalProfile_RegistrationConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaCaptivePortalProfile_SponsorConfig"
          }
        ],
        "description": "Self-registration configuration grouping",
        "properties": {
          "register-accept-email": {
            "description": "Allow users to register using an email address.\n\nThe register-accept-email field can only be configured when enable-registration is true.\n\nAt least one of register-accept-email and register-accept-phone must be true when enable-registration is true.",
            "type": "boolean"
          },
          "register-accept-phone": {
            "description": "Allow users to register using a phone number.\n\nThe register-accept-phone field can only be configured when enable-registration is true.\n\nAt least one of register-accept-email and register-accept-phone must be true when enable-registration is true.",
            "type": "boolean"
          },
          "register-auto-expire": {
            "description": "Automatically set a registered account to expire after the specified duration (ISO 8601 duration).\n\nThe register-auto-expire field can only be configured when enable-registration is true.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "duration-type",
            "x-patterns": "'P(([0-9]+Y)?([0-9]+M)?([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+S)?)?|[0-9]+W)'",
            "x-typeDescription": "Duration in ISO 8601 format."
          },
          "registration-identity-store": {
            "description": "Reference to the identity store to be used for user registrations.\n\nThe registration-identity-store must be configured when enable-registration is true.\n\nThe registration-identity-store must be a member of the authentication profile's list of identity-stores when enable-registration is true.\n\nThe registration-identity-store must be a LOCAL identity store when enable-registration is true.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-is:identity-stores/ac-cda-is:store/ac-cda-is:id",
            "x-patternSources": "id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "require-sponsor-approval": {
            "description": "Require sponsor approval for self-registrations.\n\nIf enabled, when a user is registering an account, they must provide the email address of a valid sponsor.\nThe sponsor will receive an email with a link to then review and approve the registration request.\n\nThe require-sponsor-approval field can only be configured when enable-registration is true.\n\nAt least one sponsor domain (see sponsor-domains), or sponsor email (see sponsor-emails), must be configured when require-sponsor-approval is true.",
            "type": "boolean"
          },
          "verify-registration": {
            "description": "Verify that the user actually owns the registered identity (e.g. email address or phone number) by sending an access code that must then be entered to complete registration.\n\nThe verify-registration field can only be configured when enable-registration is true.",
            "type": "boolean"
          }
        }
      },
      "ArubaCdaCaptivePortalProfile_RegistrationConfigGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaCaptivePortalProfile_SponsorConfigGet"
          }
        ],
        "description": "Self-registration configuration grouping",
        "properties": {
          "register-accept-email": {
            "description": "Allow users to register using an email address.\n\nThe register-accept-email field can only be configured when enable-registration is true.\n\nAt least one of register-accept-email and register-accept-phone must be true when enable-registration is true.",
            "type": "boolean"
          },
          "register-accept-phone": {
            "description": "Allow users to register using a phone number.\n\nThe register-accept-phone field can only be configured when enable-registration is true.\n\nAt least one of register-accept-email and register-accept-phone must be true when enable-registration is true.",
            "type": "boolean"
          },
          "register-auto-expire": {
            "description": "Automatically set a registered account to expire after the specified duration (ISO 8601 duration).\n\nThe register-auto-expire field can only be configured when enable-registration is true.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "duration-type",
            "x-patterns": "'P(([0-9]+Y)?([0-9]+M)?([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+S)?)?|[0-9]+W)'",
            "x-typeDescription": "Duration in ISO 8601 format."
          },
          "registration-identity-store": {
            "description": "Reference to the identity store to be used for user registrations.\n\nThe registration-identity-store must be configured when enable-registration is true.\n\nThe registration-identity-store must be a member of the authentication profile's list of identity-stores when enable-registration is true.\n\nThe registration-identity-store must be a LOCAL identity store when enable-registration is true.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-cda-is:identity-stores/ac-cda-is:store/ac-cda-is:id",
            "x-patternSources": "id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
          },
          "require-sponsor-approval": {
            "description": "Require sponsor approval for self-registrations.\n\nIf enabled, when a user is registering an account, they must provide the email address of a valid sponsor.\nThe sponsor will receive an email with a link to then review and approve the registration request.\n\nThe require-sponsor-approval field can only be configured when enable-registration is true.\n\nAt least one sponsor domain (see sponsor-domains), or sponsor email (see sponsor-emails), must be configured when require-sponsor-approval is true.",
            "type": "boolean"
          },
          "verify-registration": {
            "description": "Verify that the user actually owns the registered identity (e.g. email address or phone number) by sending an access code that must then be entered to complete registration.\n\nThe verify-registration field can only be configured when enable-registration is true.",
            "type": "boolean"
          }
        }
      },
      "ArubaCdaCaptivePortalProfile_SponsorConfig": {
        "description": "Self-registration sponsor approval configuration grouping",
        "properties": {
          "sponsor-domains": {
            "description": "Allowed domain names for sponsor email addresses.\n\nThe maximum number of sponsor-domains allowed is 50.\n\nWhen a user is registering an account that requires sponsor approval (see require-sponsor-approval), they must provide the email address of a valid sponsor.\n\nAnyone who has an email address in one of these domains is a valid sponsor.\n\nThe sponsor-domains list can only be configured when require-sponsor-approval is true.\n\nAt least one sponsor domain (see sponsor-domains), or sponsor email (see sponsor-emails), must be configured when require-sponsor-approval is true.\n\nSee also the sponsor-emails field for configuring specific email addresses as valid sponsors.\n\nBoth the sponsor-domains and sponsor-emails lists define valid sponsors.",
            "items": {
              "description": "Allowed domain names for sponsor email addresses.\n\nThe maximum number of sponsor-domains allowed is 50.\n\nWhen a user is registering an account that requires sponsor approval (see require-sponsor-approval), they must provide the email address of a valid sponsor.\n\nAnyone who has an email address in one of these domains is a valid sponsor.\n\nThe sponsor-domains list can only be configured when require-sponsor-approval is true.\n\nAt least one sponsor domain (see sponsor-domains), or sponsor email (see sponsor-emails), must be configured when require-sponsor-approval is true.\n\nSee also the sponsor-emails field for configuring specific email addresses as valid sponsors.\n\nBoth the sponsor-domains and sponsor-emails lists define valid sponsors.",
              "format": "pattern",
              "maxLength": 512,
              "minLength": 1,
              "type": "string",
              "x-patternSources": "cda-cg-domain-name",
              "x-patterns": "'([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)*([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?)'",
              "x-typeDescription": "A domain name (as supported by Cloud Guest) according to RFC 952 and RFC 1123."
            },
            "maxItems": 50,
            "type": "array"
          },
          "sponsor-emails": {
            "description": "Allowed sponsor email addresses.\n\nThe maximum number of sponsor-emails allowed is 100.\n\nWhen a user is registering an account that requires sponsor approval (see require-sponsor-approval), they must provide the email address of a valid sponsor.\n\nAny one of these email addresses is a valid sponsor.\n\nThe sponsor-emails list can only be configured when require-sponsor-approval is true.\n\nAt least one sponsor domain (see sponsor-domains), or sponsor email (see sponsor-emails), must be configured when require-sponsor-approval is true.\n\nSee also the sponsor-domains field for configuring an entire domain as valid sponsors.\n\nBoth the sponsor-domains and sponsor-emails lists define valid sponsors.",
            "items": {
              "description": "Allowed sponsor email addresses.\n\nThe maximum number of sponsor-emails allowed is 100.\n\nWhen a user is registering an account that requires sponsor approval (see require-sponsor-approval), they must provide the email address of a valid sponsor.\n\nAny one of these email addresses is a valid sponsor.\n\nThe sponsor-emails list can only be configured when require-sponsor-approval is true.\n\nAt least one sponsor domain (see sponsor-domains), or sponsor email (see sponsor-emails), must be configured when require-sponsor-approval is true.\n\nSee also the sponsor-domains field for configuring an entire domain as valid sponsors.\n\nBoth the sponsor-domains and sponsor-emails lists define valid sponsors.",
              "format": "pattern",
              "maxLength": 255,
              "minLength": 1,
              "type": "string",
              "x-patternSources": "cda-cg-email-address",
              "x-patterns": "'[-A-Za-z0-9!#$%&'*+/=?^_`{|}~]+([.][-A-Za-z0-9!#$%&'*+/=?^_`{|}~]+)*@([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)*([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?)'",
              "x-typeDescription": "An email address (as supported by Cloud Guest) according to RFC 5322, limited by RFC 952 and RFC 1123"
            },
            "maxItems": 100,
            "type": "array"
          }
        }
      },
      "ArubaCdaCaptivePortalProfile_SponsorConfigGet": {
        "description": "Self-registration sponsor approval configuration grouping",
        "properties": {
          "sponsor-domains": {
            "description": "Allowed domain names for sponsor email addresses.\n\nThe maximum number of sponsor-domains allowed is 50.\n\nWhen a user is registering an account that requires sponsor approval (see require-sponsor-approval), they must provide the email address of a valid sponsor.\n\nAnyone who has an email address in one of these domains is a valid sponsor.\n\nThe sponsor-domains list can only be configured when require-sponsor-approval is true.\n\nAt least one sponsor domain (see sponsor-domains), or sponsor email (see sponsor-emails), must be configured when require-sponsor-approval is true.\n\nSee also the sponsor-emails field for configuring specific email addresses as valid sponsors.\n\nBoth the sponsor-domains and sponsor-emails lists define valid sponsors.",
            "items": {
              "description": "Allowed domain names for sponsor email addresses.\n\nThe maximum number of sponsor-domains allowed is 50.\n\nWhen a user is registering an account that requires sponsor approval (see require-sponsor-approval), they must provide the email address of a valid sponsor.\n\nAnyone who has an email address in one of these domains is a valid sponsor.\n\nThe sponsor-domains list can only be configured when require-sponsor-approval is true.\n\nAt least one sponsor domain (see sponsor-domains), or sponsor email (see sponsor-emails), must be configured when require-sponsor-approval is true.\n\nSee also the sponsor-emails field for configuring specific email addresses as valid sponsors.\n\nBoth the sponsor-domains and sponsor-emails lists define valid sponsors.",
              "format": "pattern",
              "maxLength": 512,
              "minLength": 1,
              "type": "string",
              "x-patternSources": "cda-cg-domain-name",
[...]
