{
  "openapi": "3.1.0",
  "info": {
    "title": "Cda Identity Store",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Cda Identity Store"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/identity-stores": {
      "get": {
        "description": "Identity stores to be used for Central NAC.\nThese stores can be configured for Identity providers like Azure, Microsoft, Okta and local user or MAC based stores.\nThey can be referenced in authentication profiles and authorization policies and used for authentication and authorization.\nIdentity stores must be configured with default query parameters.",
        "operationId": "readIdentityStores",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaIdentityStore_IdentityStoresSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read identity stores configuration(s).",
        "tags": [
          "Cda Identity Store"
        ],
        "x-cliParam": {
          "commandName": "readIdentityStoresCmd",
          "commandUse": "identity-stores",
          "parentCommand": "readCmd",
          "pathToPrint": "/identity-stores/",
          "summary": "Read operation for identity-stores"
        }
      }
    },
    "/network-config/v1alpha1/identity-stores/{id}": {
      "get": {
        "description": "Identity store to be used for Central NAC.\nThis store can be configured for Identity providers like Azure, Microsoft, Okta and local user or MAC based stores.\nIt can be referenced in authentication profiles and authorization policies and used for authentication and authorization.",
        "operationId": "readIdentityStoresStoreByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for identity store.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCdaIdentityStore_IdentityStoresstoreSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read identity store configuration.",
        "tags": [
          "Cda Identity Store"
        ],
        "x-cliParam": {
          "commandName": "readIdentityStoresStoreCmd",
          "commandUse": "store",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "readIdentityStoresCmd",
          "pathToPrint": "/identity-stores/store/%s/",
          "summary": "Read operation for store",
          "totParams": 1
        }
      },
      "put": {
        "description": "Identity store to be used for Central NAC.\nThis store can be configured for Identity providers like Azure, Microsoft, Okta and local user or MAC based stores.\nIt can be referenced in authentication profiles and authorization policies and used for authentication and authorization.",
        "operationId": "replaceIdentityStoresStoreByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for identity store.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaIdentityStore_IdentityStoresstoreSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace store by id",
        "tags": [
          "Cda Identity Store"
        ],
        "x-cliParam": {
          "commandName": "replaceIdentityStoresStoreCmd",
          "commandUse": "store",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "replaceIdentityStoresCmd",
          "pathToPrint": "/identity-stores/store/%s/",
          "summary": "Replace operation for store",
          "totParams": 1
        }
      },
      "post": {
        "description": "Identity store to be used for Central NAC.\nThis store can be configured for Identity providers like Azure, Microsoft, Okta and local user or MAC based stores.\nIt can be referenced in authentication profiles and authorization policies and used for authentication and authorization.",
        "operationId": "createIdentityStoresStoreByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for identity store.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaIdentityStore_IdentityStoresstoreSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create identity store configuration.",
        "tags": [
          "Cda Identity Store"
        ],
        "x-cliParam": {
          "commandName": "createIdentityStoresStoreCmd",
          "commandUse": "store",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "createIdentityStoresCmd",
          "pathToPrint": "/identity-stores/store/%s/",
          "summary": "Create operation for store",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Identity store to be used for Central NAC.\nThis store can be configured for Identity providers like Azure, Microsoft, Okta and local user or MAC based stores.\nIt can be referenced in authentication profiles and authorization policies and used for authentication and authorization.",
        "operationId": "deleteIdentityStoresStoreByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for identity store.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete identity store configuration.",
        "tags": [
          "Cda Identity Store"
        ],
        "x-cliParam": {
          "commandName": "deleteIdentityStoresStoreCmd",
          "commandUse": "store",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "deleteIdentityStoresCmd",
          "pathToPrint": "/identity-stores/store/%s/",
          "summary": "Delete operation for store",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Identity store to be used for Central NAC.\nThis store can be configured for Identity providers like Azure, Microsoft, Okta and local user or MAC based stores.\nIt can be referenced in authentication profiles and authorization policies and used for authentication and authorization.",
        "operationId": "updateIdentityStoresStoreByID",
        "parameters": [
          {
            "description": "Unique immutable identifier for identity store.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCdaIdentityStore_IdentityStoresstoreSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update identity store configuration.",
        "tags": [
          "Cda Identity Store"
        ],
        "x-cliParam": {
          "commandName": "updateIdentityStoresStoreCmd",
          "commandUse": "store",
          "paramKeys": [
            {
              "key": "id"
            }
          ],
          "parentCommand": "updateIdentityStoresCmd",
          "pathToPrint": "/identity-stores/store/%s/",
          "summary": "Update operation for store",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaCdaIdentityStore_FacebookConfig": {
        "description": "Additional configuration for a Facebook social login identity store.",
        "properties": {
          "facebook": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommon"
              }
            ],
            "description": "Facebook social login identity store configuration. To configure Facebook social login, id-store-type field should be set to FACEBOOK."
          }
        }
      },
      "ArubaCdaIdentityStore_FacebookConfigGet": {
        "description": "Additional configuration for a Facebook social login identity store.",
        "properties": {
          "facebook": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommonGet"
              }
            ],
            "description": "Facebook social login identity store configuration. To configure Facebook social login, id-store-type field should be set to FACEBOOK."
          }
        }
      },
      "ArubaCdaIdentityStore_GoogleConfig": {
        "description": "Google Workspace config.",
        "properties": {
          "google": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommon"
              },
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_GoogleServiceAccountKey"
              }
            ],
            "description": "Google Workspace store configuration. To configure Google Workspace, id-store-type field should be set to GOOGLE.",
            "properties": {
              "admin-email": {
                "description": "Admin email for Google Workspace account.",
                "format": "pattern",
                "maxLength": 320,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true,
                "x-patternSources": "email-type",
                "x-patterns": "'[\\w\\-\\.]+@([\\w-]+\\.)+[\\w-]+'",
                "x-typeDescription": "Email format."
              },
              "customer-id": {
                "description": "Customer ID for Google Workspace account.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "domain": {
                "description": "Domain in Google Workspace account.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              }
            },
            "required": [
              "customer-id",
              "domain",
              "admin-email"
            ]
          }
        }
      },
      "ArubaCdaIdentityStore_GoogleConfigGet": {
        "description": "Google Workspace config.",
        "properties": {
          "google": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommonGet"
              },
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_GoogleServiceAccountKeyGet"
              }
            ],
            "description": "Google Workspace store configuration. To configure Google Workspace, id-store-type field should be set to GOOGLE.",
            "properties": {
              "admin-email": {
                "description": "Admin email for Google Workspace account.",
                "format": "pattern",
                "maxLength": 320,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true,
                "x-patternSources": "email-type",
                "x-patterns": "'[\\w\\-\\.]+@([\\w-]+\\.)+[\\w-]+'",
                "x-typeDescription": "Email format."
              },
              "customer-id": {
                "description": "Customer ID for Google Workspace account.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "domain": {
                "description": "Domain in Google Workspace account.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              }
            },
            "required": [
              "customer-id",
              "domain",
              "admin-email"
            ]
          }
        }
      },
      "ArubaCdaIdentityStore_GoogleServiceAccountKey": {
        "description": "Represents fields from the Google Developers service account JSON key file.",
        "properties": {
          "auth-provider-x509-cert-url": {
            "description": "This field maps to the 'auth_provider_x509_cert_url' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "auth-uri": {
            "description": "This field maps to the 'auth_uri' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "client-email": {
            "description": "This field maps to the 'client_email' field in the Google Developers service account JSON file.",
            "format": "pattern",
            "maxLength": 320,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true,
            "x-patternSources": "email-type",
            "x-patterns": "'[\\w\\-\\.]+@([\\w-]+\\.)+[\\w-]+'",
            "x-typeDescription": "Email format."
          },
          "client-x509-cert-url": {
            "description": "This field maps to the 'client_x509_cert_url' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "private-key": {
            "description": "This field maps to the 'private_key' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-mandatory": true,
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "private-key-id": {
            "description": "This field maps to the 'private_key_id' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "project-id": {
            "description": "This field maps to the 'project_id' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "service-client-id": {
            "description": "This field maps to the 'client_id' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "token-uri": {
            "description": "This field maps to the 'token_uri' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "type": {
            "description": "This field maps to the 'type' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "universe-domain": {
            "description": "This field maps to the 'universe_domain' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "type",
          "project-id",
          "private-key-id",
          "private-key",
          "client-email",
          "service-client-id",
          "auth-uri",
          "token-uri",
          "auth-provider-x509-cert-url",
          "client-x509-cert-url"
        ]
      },
      "ArubaCdaIdentityStore_GoogleServiceAccountKeyGet": {
        "description": "Represents fields from the Google Developers service account JSON key file.",
        "properties": {
          "auth-provider-x509-cert-url": {
            "description": "This field maps to the 'auth_provider_x509_cert_url' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "auth-uri": {
            "description": "This field maps to the 'auth_uri' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "client-email": {
            "description": "This field maps to the 'client_email' field in the Google Developers service account JSON file.",
            "format": "pattern",
            "maxLength": 320,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true,
            "x-patternSources": "email-type",
            "x-patterns": "'[\\w\\-\\.]+@([\\w-]+\\.)+[\\w-]+'",
            "x-typeDescription": "Email format."
          },
          "client-x509-cert-url": {
            "description": "This field maps to the 'client_x509_cert_url' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "private-key": {
            "description": "This field maps to the 'private_key' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-mandatory": true,
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "private-key-id": {
            "description": "This field maps to the 'private_key_id' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "project-id": {
            "description": "This field maps to the 'project_id' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "service-client-id": {
            "description": "This field maps to the 'client_id' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "token-uri": {
            "description": "This field maps to the 'token_uri' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "type": {
            "description": "This field maps to the 'type' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "universe-domain": {
            "description": "This field maps to the 'universe_domain' field in the Google Developers service account JSON file.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "type",
          "project-id",
          "private-key-id",
          "private-key",
          "client-email",
          "service-client-id",
          "auth-uri",
          "token-uri",
          "auth-provider-x509-cert-url",
          "client-x509-cert-url"
        ]
      },
      "ArubaCdaIdentityStore_GoogleSocialConfig": {
        "description": "Additional configuration for a Google (social login) identity store.",
        "properties": {
          "google-social": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommon"
              }
            ],
            "description": "Google (social login) identity store configuration. To configure Google (social login) Workforce Identity, id-store-type field should be set to GOOGLE_SOCIAL.",
            "properties": {
              "hosted-domain": {
                "description": "The google hosted domain that users must be members of, to allow authorization",
                "format": "pattern",
                "maxLength": 512,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "cda-cg-domain-name",
                "x-patterns": "'([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)*([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?)'",
                "x-typeDescription": "A domain name (as supported by Cloud Guest) according to RFC 952 and RFC 1123."
              }
            }
          }
        }
      },
      "ArubaCdaIdentityStore_GoogleSocialConfigGet": {
        "description": "Additional configuration for a Google (social login) identity store.",
        "properties": {
          "google-social": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommonGet"
              }
            ],
            "description": "Google (social login) identity store configuration. To configure Google (social login) Workforce Identity, id-store-type field should be set to GOOGLE_SOCIAL.",
            "properties": {
              "hosted-domain": {
                "description": "The google hosted domain that users must be members of, to allow authorization",
                "format": "pattern",
                "maxLength": 512,
                "minLength": 1,
                "type": "string",
                "x-patternSources": "cda-cg-domain-name",
                "x-patterns": "'([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?\\.)*([a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])?)'",
                "x-typeDescription": "A domain name (as supported by Cloud Guest) according to RFC 952 and RFC 1123."
              }
            }
          }
        }
      },
      "ArubaCdaIdentityStore_IdentityStoresSchemaGET": {
        "description": "Identity stores to be used for Central NAC.\nThese stores can be configured for Identity providers like Azure, Microsoft, Okta and local user or MAC based stores.\nThey can be referenced in authentication profiles and authorization policies and used for authentication and authorization.\nIdentity stores must be configured with default query parameters.",
        "properties": {
          "store": {
            "description": "Identity store to be used for Central NAC.\nThis store can be configured for Identity providers like Azure, Microsoft, Okta and local user or MAC based stores.\nIt can be referenced in authentication profiles and authorization policies and used for authentication and authorization.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaCdaIdentityStore_MicrosoftConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaIdentityStore_GoogleConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaIdentityStore_OktaConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaIdentityStore_GoogleSocialConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaIdentityStore_FacebookConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaIdentityStore_LinkedinConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaIdentityStore_OpenidConnectConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCdaIdentityStore_XConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "Identity Store description.",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 0,
                      "type": "string",
                      "x-typeDescription": "Add Description to the entity."
                    },
                    "id": {
                      "description": "Unique immutable identifier for identity store.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "id",
                      "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
                    },
                    "id-store-type": {
                      "description": "Identity Store type.",
                      "enum": [
                        "MICROSOFT",
                        "GOOGLE",
                        "OKTA",
                        "NAMED_MPSK",
                        "REGISTERED_MACS",
                        "LOCAL",
                        "GOOGLE_SOCIAL",
                        "FACEBOOK",
                        "LINKEDIN",
                        "OPENID_CONNECT",
                        "X",
                        "REGISTERED_DPP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "FACEBOOK": "Sign-in with a Facebook account (social login).",
                        "GOOGLE": "Google workspace.",
                        "GOOGLE_SOCIAL": "Sign-in with a Google account (social login).",
                        "LINKEDIN": "Sign-in with a LinkedIn account (social login).",
                        "LOCAL": "Local identity store.",
                        "MICROSOFT": "Microsoft Entra ID.",
                        "NAMED_MPSK": "Unowned MPSK Store",
                        "OKTA": "Okta workspace.",
                        "OPENID_CONNECT": "Sign-in with an OpenID Connect provider.",
                        "REGISTERED_DPP": "Local Wi-Fi Easy Connect (DPP) registrations.",
                        "REGISTERED_MACS": "Local registered MACs",
                        "X": "Sign-in with an X (formerly Twitter) account (social login)."
                      },
                      "x-mandatory": true,
                      "x-typeDescription": "External ID store type."
                    },
                    "name": {
                      "description": "Identity Store name.",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-mandatory": true
                    }
                  }
                },
                {
                  "required": [
                    "name",
                    "id-store-type"
                  ]
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "id"
            ]
          }
        }
      },
      "ArubaCdaIdentityStore_IdentityStoresstoreSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_MicrosoftConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_GoogleConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_OktaConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_GoogleSocialConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_FacebookConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_LinkedinConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_OpenidConnectConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_XConfig"
          },
          {
            "properties": {
              "description": {
                "description": "Identity Store description.",
                "format": "const",
                "maxLength": 255,
                "minLength": 0,
                "type": "string",
                "x-typeDescription": "Add Description to the entity."
              },
              "id": {
                "description": "Unique immutable identifier for identity store.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
              },
              "id-store-type": {
                "description": "Identity Store type.",
                "enum": [
                  "MICROSOFT",
                  "GOOGLE",
                  "OKTA",
                  "NAMED_MPSK",
                  "REGISTERED_MACS",
                  "LOCAL",
                  "GOOGLE_SOCIAL",
                  "FACEBOOK",
                  "LINKEDIN",
                  "OPENID_CONNECT",
                  "X",
                  "REGISTERED_DPP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "FACEBOOK": "Sign-in with a Facebook account (social login).",
                  "GOOGLE": "Google workspace.",
                  "GOOGLE_SOCIAL": "Sign-in with a Google account (social login).",
                  "LINKEDIN": "Sign-in with a LinkedIn account (social login).",
                  "LOCAL": "Local identity store.",
                  "MICROSOFT": "Microsoft Entra ID.",
                  "NAMED_MPSK": "Unowned MPSK Store",
                  "OKTA": "Okta workspace.",
                  "OPENID_CONNECT": "Sign-in with an OpenID Connect provider.",
                  "REGISTERED_DPP": "Local Wi-Fi Easy Connect (DPP) registrations.",
                  "REGISTERED_MACS": "Local registered MACs",
                  "X": "Sign-in with an X (formerly Twitter) account (social login)."
                },
                "x-mandatory": true,
                "x-typeDescription": "External ID store type."
              },
              "name": {
                "description": "Identity Store name.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              }
            }
          },
          {
            "required": [
              "name",
              "id-store-type"
            ]
          }
        ]
      },
      "ArubaCdaIdentityStore_IdentityStoresstoreSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_MicrosoftConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_GoogleConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_OktaConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_GoogleSocialConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_FacebookConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_LinkedinConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_OpenidConnectConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaCdaIdentityStore_XConfigGet"
          },
          {
            "properties": {
              "description": {
                "description": "Identity Store description.",
                "format": "const",
                "maxLength": 255,
                "minLength": 0,
                "type": "string",
                "x-typeDescription": "Add Description to the entity."
              },
              "id": {
                "description": "Unique immutable identifier for identity store.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "id",
                "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'"
              },
              "id-store-type": {
                "description": "Identity Store type.",
                "enum": [
                  "MICROSOFT",
                  "GOOGLE",
                  "OKTA",
                  "NAMED_MPSK",
                  "REGISTERED_MACS",
                  "LOCAL",
                  "GOOGLE_SOCIAL",
                  "FACEBOOK",
                  "LINKEDIN",
                  "OPENID_CONNECT",
                  "X",
                  "REGISTERED_DPP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "FACEBOOK": "Sign-in with a Facebook account (social login).",
                  "GOOGLE": "Google workspace.",
                  "GOOGLE_SOCIAL": "Sign-in with a Google account (social login).",
                  "LINKEDIN": "Sign-in with a LinkedIn account (social login).",
                  "LOCAL": "Local identity store.",
                  "MICROSOFT": "Microsoft Entra ID.",
                  "NAMED_MPSK": "Unowned MPSK Store",
                  "OKTA": "Okta workspace.",
                  "OPENID_CONNECT": "Sign-in with an OpenID Connect provider.",
                  "REGISTERED_DPP": "Local Wi-Fi Easy Connect (DPP) registrations.",
                  "REGISTERED_MACS": "Local registered MACs",
                  "X": "Sign-in with an X (formerly Twitter) account (social login)."
                },
                "x-mandatory": true,
                "x-typeDescription": "External ID store type."
              },
              "name": {
                "description": "Identity Store name.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              }
            }
          },
          {
            "required": [
              "name",
              "id-store-type"
            ]
          }
        ]
      },
      "ArubaCdaIdentityStore_LinkedinConfig": {
        "description": "Additional configuration for a LinkedIn social login identity store.",
        "properties": {
          "linkedin": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommon"
              }
            ],
            "description": "LinkedIn social login identity store configuration. To configure LinkedIn social login, id-store-type field should be set to LINKEDIN."
          }
        }
      },
      "ArubaCdaIdentityStore_LinkedinConfigGet": {
        "description": "Additional configuration for a LinkedIn social login identity store.",
        "properties": {
          "linkedin": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommonGet"
              }
            ],
            "description": "LinkedIn social login identity store configuration. To configure LinkedIn social login, id-store-type field should be set to LINKEDIN."
          }
        }
      },
      "ArubaCdaIdentityStore_MicrosoftConfig": {
        "description": "Microsoft Entra ID configuration.",
        "properties": {
          "microsoft": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommon"
              }
            ],
            "description": "Microsoft Entra ID store configuration. To configure Microsoft Entra ID, id-store-type field should be set to MICROSOFT.",
            "properties": {
              "tenant-id": {
                "description": "Microsoft Entra Tenant ID.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              }
            },
            "required": [
              "tenant-id"
            ]
          }
        }
      },
      "ArubaCdaIdentityStore_MicrosoftConfigGet": {
        "description": "Microsoft Entra ID configuration.",
        "properties": {
          "microsoft": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommonGet"
              }
            ],
            "description": "Microsoft Entra ID store configuration. To configure Microsoft Entra ID, id-store-type field should be set to MICROSOFT.",
            "properties": {
              "tenant-id": {
                "description": "Microsoft Entra Tenant ID.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              }
            },
            "required": [
              "tenant-id"
            ]
          }
        }
      },
      "ArubaCdaIdentityStore_OauthCommon": {
        "description": "OAuth credentials required by any identity store providers to identify the Cloud Authentication and Policy application.",
        "properties": {
          "client-id": {
            "description": "OAuth client ID is issued by identity store provider and is used to identify the Cloud Authentication and Policy application.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "client-secret": {
            "description": "OAuth client secret is issued by the identity store provider and is used to authenticate the Cloud Authentication and Policy application.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-mandatory": true,
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          }
        },
        "required": [
          "client-id",
          "client-secret"
        ]
      },
      "ArubaCdaIdentityStore_OauthCommonGet": {
        "description": "OAuth credentials required by any identity store providers to identify the Cloud Authentication and Policy application.",
        "properties": {
          "client-id": {
            "description": "OAuth client ID is issued by identity store provider and is used to identify the Cloud Authentication and Policy application.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true
          },
          "client-secret": {
            "description": "OAuth client secret is issued by the identity store provider and is used to authenticate the Cloud Authentication and Policy application.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-mandatory": true,
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          }
        },
        "required": [
          "client-id",
          "client-secret"
        ]
      },
      "ArubaCdaIdentityStore_OktaConfig": {
        "description": "Okta config.",
        "properties": {
          "okta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommon"
              }
            ],
            "description": "Okta Workforce Identity store configuration. To configure Okta Workforce Identity, id-store-type field should be set to OKTA.",
            "properties": {
              "domain": {
                "description": "Okta domain is also called Okta URL. Okta domain can be obtained from the Okta Workforce Identity Cloud Administration Console.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "service-client-id": {
                "description": "This maps to the client ID in Client credential section of the Okta Workforce Identity Cloud administration console.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "service-client-secret": {
                "description": "Service Client Secret are obtained from the Okta Workforce Identity Cloud administration console.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-mandatory": true,
                "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
              }
            },
            "required": [
              "domain",
              "service-client-id",
              "service-client-secret"
            ]
          }
        }
      },
      "ArubaCdaIdentityStore_OktaConfigGet": {
        "description": "Okta config.",
        "properties": {
          "okta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommonGet"
              }
            ],
            "description": "Okta Workforce Identity store configuration. To configure Okta Workforce Identity, id-store-type field should be set to OKTA.",
            "properties": {
              "domain": {
                "description": "Okta domain is also called Okta URL. Okta domain can be obtained from the Okta Workforce Identity Cloud Administration Console.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "service-client-id": {
                "description": "This maps to the client ID in Client credential section of the Okta Workforce Identity Cloud administration console.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-mandatory": true
              },
              "service-client-secret": {
                "description": "Service Client Secret are obtained from the Okta Workforce Identity Cloud administration console.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-mandatory": true,
                "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
              }
            },
            "required": [
              "domain",
              "service-client-id",
              "service-client-secret"
            ]
          }
        }
      },
      "ArubaCdaIdentityStore_OpenidConnectConfig": {
        "description": "Additional configuration for an OpenID Connect provider.",
        "properties": {
          "openid-connect": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommon"
              }
            ],
            "description": "OpenID Connect identity store configuration. To configure an OpenID Connect provider, id-store-type field should be set to OPENID_CONNECT.",
            "properties": {
              "authorization-url": {
                "description": "The Authorization Endpoint URL to which the user will be redirected for authentication",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-mandatory": true,
                "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
              },
              "token-url": {
                "description": "The Token Endpoint URL from which the ID token will be retrieved (after successful authentication)",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-mandatory": true,
                "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
              }
            },
            "required": [
              "authorization-url",
              "token-url"
            ]
          }
        }
      },
      "ArubaCdaIdentityStore_OpenidConnectConfigGet": {
        "description": "Additional configuration for an OpenID Connect provider.",
        "properties": {
          "openid-connect": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommonGet"
              }
            ],
            "description": "OpenID Connect identity store configuration. To configure an OpenID Connect provider, id-store-type field should be set to OPENID_CONNECT.",
            "properties": {
              "authorization-url": {
                "description": "The Authorization Endpoint URL to which the user will be redirected for authentication",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-mandatory": true,
                "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
              },
              "token-url": {
                "description": "The Token Endpoint URL from which the ID token will be retrieved (after successful authentication)",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-mandatory": true,
                "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
              }
            },
            "required": [
              "authorization-url",
              "token-url"
            ]
          }
        }
      },
      "ArubaCdaIdentityStore_XConfig": {
        "description": "Additional configuration for an X, formerly Twitter, social login identity store.",
        "properties": {
          "x": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommon"
              }
            ],
            "description": "X social login identity store configuration. To configure X social login, id-store-type field should be set to X."
          }
        }
      },
      "ArubaCdaIdentityStore_XConfigGet": {
        "description": "Additional configuration for an X, formerly Twitter, social login identity store.",
        "properties": {
          "x": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaCdaIdentityStore_OauthCommonGet"
              }
            ],
            "description": "X social login identity store configuration. To configure X social login, id-store-type field should be set to X."
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "common-Google_Entity": {
        "value": {
          "description": "string",
          "google": {
            "admin-email": "string",
            "auth-provider-x509-cert-url": "string",
            "auth-uri": "string",
            "client-email": "string",
            "client-id": "string",
            "client-secret": "string",
            "client-x509-cert-url": "string",
            "customer-id": "string",
            "domain": "string",
            "private-key": "string",
            "private-key-id": "string",
            "project-id": "string",
            "service-client-id": "string",
            "token-uri": "string",
            "type": "string",
            "universe-domain": "string"
          },
          "id": "string",
          "id-store-type": "GOOGLE",
          "name": "string"
        }
      },
      "common-Microsoft_Entity": {
        "value": {
          "description": "string ",
          "id": "string",
          "id-store-type": "MICROSOFT",
          "microsoft": {
            "client-id": "string",
            "client-secret": "string",
            "tenant-id": "string"
          },
          "name": "string "
        }
      },
      "common-Okta_Entity": {
        "value": {
          "description": "string",
          "id": "string",
          "id-store-type": "OKTA",
          "name": "string",
          "okta": {
            "client-id": "string",
            "client-secret": "string",
            "domain": "string",
            "service-client-id": "string",
            "service-client-secret": "string"
          }
        }
      }
    },
    "requestBodies": {
      "ArubaCdaIdentityStore_IdentityStoresstoreSchema": {
        "content": {
          "application/json": {
            "examples": {
              "common-Google_Entity": {
                "$ref": "#/components/examples/common-Google_Entity"
              },
              "common-Microsoft_Entity": {
                "$ref": "#/components/examples/common-Microsoft_Entity"
              },
              "common-Okta_Entity": {
                "$ref": "#/components/examples/common-Okta_Entity"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ArubaCdaIdentityStore_IdentityStoresstoreSchema"
            }
          }
        },
        "description": "storebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
