{
  "openapi": "3.1.0",
  "info": {
    "title": "Gw Cluster Intent",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Gw Cluster Intent"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/gw-cluster-intent-config": {
      "get": {
        "description": "Gateway Cluster Intent Service (GCIS) enables policy-driven orchestration of\ngateway clusters across organizational scopes such as global and site levels.\nUnlike manual cluster configuration, GCIS automatically forms clusters based on\nscope hierarchy and cluster-mode settings. This API can be used to create, modify,\nor delete cluster intent profiles with configurations for cluster-mode, multicast\nVLAN, heartbeat thresholds, IPv6 enablement, and CoA-VRRP settings.",
        "operationId": "readGwClusterIntentConfig",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaGwClusterIntent_GwClusterIntentConfigSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read the configured Gateway Cluster Intent Service configuration",
        "tags": [
          "Gw Cluster Intent"
        ],
        "x-cliParam": {
          "commandName": "readGwClusterIntentConfigCmd",
          "commandUse": "gw-cluster-intent-config",
          "parentCommand": "readCmd",
          "pathToPrint": "/gw-cluster-intent-config/",
          "summary": "Read operation for gw-cluster-intent-config"
        }
      }
    },
    "/network-config/v1alpha1/gw-cluster-intent-config/{name}": {
      "get": {
        "description": "List of GW Cluster Intent Profiles.",
        "operationId": "readGwClusterIntentConfigProfileByID",
        "parameters": [
          {
            "description": "GW Cluster intent Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaGwClusterIntent_GwClusterIntentConfigprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read an existing Gateway Cluster Intent profile configuration",
        "tags": [
          "Gw Cluster Intent"
        ],
        "x-cliParam": {
          "commandName": "readGwClusterIntentConfigProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readGwClusterIntentConfigCmd",
          "pathToPrint": "/gw-cluster-intent-config/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of GW Cluster Intent Profiles.",
        "operationId": "replaceGwClusterIntentConfigProfileByID",
        "parameters": [
          {
            "description": "GW Cluster intent Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaGwClusterIntent_GwClusterIntentConfigprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or update a Gateway Cluster Intent profile",
        "tags": [
          "Gw Cluster Intent"
        ],
        "x-cliParam": {
          "commandName": "replaceGwClusterIntentConfigProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceGwClusterIntentConfigCmd",
          "pathToPrint": "/gw-cluster-intent-config/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of GW Cluster Intent Profiles.",
        "operationId": "createGwClusterIntentConfigProfileByID",
        "parameters": [
          {
            "description": "GW Cluster intent Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaGwClusterIntent_GwClusterIntentConfigprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a Gateway Cluster Intent profile",
        "tags": [
          "Gw Cluster Intent"
        ],
        "x-cliParam": {
          "commandName": "createGwClusterIntentConfigProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createGwClusterIntentConfigCmd",
          "pathToPrint": "/gw-cluster-intent-config/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of GW Cluster Intent Profiles.",
        "operationId": "deleteGwClusterIntentConfigProfileByID",
        "parameters": [
          {
            "description": "GW Cluster intent Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete a Gateway Cluster Intent profile",
        "tags": [
          "Gw Cluster Intent"
        ],
        "x-cliParam": {
          "commandName": "deleteGwClusterIntentConfigProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteGwClusterIntentConfigCmd",
          "pathToPrint": "/gw-cluster-intent-config/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of GW Cluster Intent Profiles.",
        "operationId": "updateGwClusterIntentConfigProfileByID",
        "parameters": [
          {
            "description": "GW Cluster intent Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaGwClusterIntent_GwClusterIntentConfigprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update an existing Gateway Cluster Intent profile configuration",
        "tags": [
          "Gw Cluster Intent"
        ],
        "x-cliParam": {
          "commandName": "updateGwClusterIntentConfigProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateGwClusterIntentConfigCmd",
          "pathToPrint": "/gw-cluster-intent-config/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaGwClusterIntent_GwClusterIntentConfigSchemaGET": {
        "description": "Gateway Cluster Intent Service (GCIS) enables policy-driven orchestration of\ngateway clusters across organizational scopes such as global and site levels.\nUnlike manual cluster configuration, GCIS automatically forms clusters based on\nscope hierarchy and cluster-mode settings. This API can be used to create, modify,\nor delete cluster intent profiles with configurations for cluster-mode, multicast\nVLAN, heartbeat thresholds, IPv6 enablement, and CoA-VRRP settings.",
        "properties": {
          "profile": {
            "description": "List of GW Cluster Intent Profiles.",
            "items": {
              "properties": {
                "cluster-mode": {
                  "default": "CM_MANUAL",
                  "description": "Cluster-Mode decides how the cluster profiles are formed automatically. Setting cluster-mode type to CM_MANUAL will disable the auto-formation of the cluster profiles.",
                  "enum": [
                    "CM_SITE",
                    "CM_MANUAL"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CM_MANUAL": "Auto-clustering is disabled.",
                    "CM_SITE": "Auto-clustering is formed at Site level."
                  },
                  "x-typeDescription": "Type of cluster-modes to set at DC, SC and Site scopes."
                },
                "coa-enable": {
                  "default": "false",
                  "description": "Enable or disable the CoA.",
                  "type": "boolean"
                },
                "coa-vrrp": {
                  "description": "CoA-VRRP configuration",
                  "properties": {
                    "id": {
                      "default": "220",
                      "description": "Specifies the starting VRRP ID for cluster members.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "passphrase": {
                      "description": "VRRP Passphrase.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                    },
                    "vlan": {
                      "description": "VRRP VLAN corresponding to the VIP. Used for COA operations.",
                      "format": "int32",
                      "maximum": 4094,
                      "minimum": 1,
                      "type": "integer",
                      "x-typeDescription": "Type definition representing a single-tagged VLAN"
                    }
                  }
                },
                "default-gateway-mode": {
                  "default": "false",
                  "description": "Enable/disable one-to-one-redundancy mode for auto cluster profiles.\nWith this knob enabled, only 2 gateways are allowed in the cluster profile.\nLeader is active and non-leader is standby. Required for BRANCH_GW.",
                  "type": "boolean"
                },
                "description": {
                  "description": "User comment.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "device-type": {
                  "default": "MOBILITY_GW",
                  "description": "Persona of the GW cluster profile. Device-type of the GW cluster profile\nshould be one of the BRANCH_GW, MOBILITY_GW, VPNC.",
                  "enum": [
                    "MOBILITY_GW",
                    "BRANCH_GW",
                    "VPNC",
                    "CAMPUS_AP",
                    "MICROBRANCH_AP",
                    "ACCESS_SWITCH",
                    "ALL",
                    "SERVICE_PERSONA",
                    "BRIDGE",
                    "IOT",
                    "HYBRID_NAC",
                    "CORE_SWITCH",
                    "AGG_SWITCH",
                    "AOSS_ACCESS_SWITCH",
                    "AOSS_CORE_SWITCH",
                    "AOSS_AGG_SWITCH",
                    "EC_VPNC",
                    "EC_BRANCH_GW"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ACCESS_SWITCH": "Access Switch. This persona provides Access Switch functionality.",
                    "AGG_SWITCH": "Aggregation Switch. This persona provides Aggregation Switch functionality.",
                    "ALL": "ALL. This persona provides ALL devices functionality.",
                    "AOSS_ACCESS_SWITCH": "AOS-S Access Switch. This persona provides Access Switch functionality.",
                    "AOSS_AGG_SWITCH": "AOS-S Aggregation Switch. This persona provides Aggregation Switch functionality.",
                    "AOSS_CORE_SWITCH": "AOS-S Core Switch. This persona provides Core Switch functionality.",
                    "BRANCH_GW": "Branch gateway. This gateway persona provides Aruba InstantOS and SD-Branch (LAN + WAN) functionality",
                    "BRIDGE": "Bridge . This persona provides bridge functionality.",
                    "CAMPUS_AP": "Campus/Branch AP. This AP persona provides WLAN functionality.",
                    "CORE_SWITCH": "Core Switch. This persona provides Core Switch functionality.",
                    "EC_BRANCH_GW": "EdgeConnect Branch Gateway",
                    "EC_VPNC": "EdgeConnect VPNC",
                    "HYBRID_NAC": "Hybrid NAC Edge VM. This persona provides Hybrid NAC Edge VM functionality.",
                    "IOT": "IoT Edge VM. This persona provides IoT Edge VM functionality.",
                    "MICROBRANCH_AP": "Microbranch AP. This AP persona provides SD-WAN-lite functionality in addition to the functions of WLAN AP.",
                    "MOBILITY_GW": "Mobility Gateway. This gateway persona provides Overlay WLAN and (or) wired LAN functionalities.",
                    "SERVICE_PERSONA": "Service Persona. This persona provides service functionality.",
                    "VPNC": "VPN Concentrator."
                  },
                  "x-typeDescription": "Persona type."
                },
                "heartbeat-threshold": {
                  "description": "Minimum Heartbeat Threshold in milliseconds.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 500,
                  "type": "integer"
                },
                "ipv6-enable": {
                  "default": "false",
                  "description": "Enable or disable the ipv6 mode in auto cluster profiles",
                  "type": "boolean"
                },
                "multicast-vlan": {
                  "description": "VLAN to be used for forwarding multicast traffic to upstream router.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "name": {
                  "description": "GW Cluster intent Profile name.",
                  "format": "const",
                  "maxLength": 63,
                  "minLength": 1,
                  "type": "string"
                },
                "uplink-sharing": {
                  "default": "false",
                  "description": "Enable/disable uplink sharing for auto cluster profiles.\nApplicable only for BRANCH_GW device-type with default-gateway-mode enabled.",
                  "type": "boolean"
                },
                "uplink-tracking": {
                  "default": "false",
                  "description": "Enable/disable uplink tracking for auto cluster profiles.\nWith this knob enabled, Cluster leader will be selected based on number of active uplinks.\nApplicable only for BRANCH_GW device-type with default-gateway-mode enabled.",
                  "type": "boolean"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ]
          }
        }
      },
      "ArubaGwClusterIntent_GwClusterIntentConfigprofileSchema": {
        "properties": {
          "cluster-mode": {
            "default": "CM_MANUAL",
            "description": "Cluster-Mode decides how the cluster profiles are formed automatically. Setting cluster-mode type to CM_MANUAL will disable the auto-formation of the cluster profiles.",
            "enum": [
              "CM_SITE",
              "CM_MANUAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CM_MANUAL": "Auto-clustering is disabled.",
              "CM_SITE": "Auto-clustering is formed at Site level."
            },
            "x-typeDescription": "Type of cluster-modes to set at DC, SC and Site scopes."
          },
          "coa-enable": {
            "default": "false",
            "description": "Enable or disable the CoA.",
            "type": "boolean"
          },
          "coa-vrrp": {
            "description": "CoA-VRRP configuration",
            "properties": {
              "id": {
                "default": "220",
                "description": "Specifies the starting VRRP ID for cluster members.",
                "format": "int32",
                "maximum": 255,
                "minimum": 1,
                "type": "integer"
              },
              "passphrase": {
                "description": "VRRP Passphrase.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
              },
              "vlan": {
                "description": "VRRP VLAN corresponding to the VIP. Used for COA operations.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              }
            }
          },
          "default-gateway-mode": {
            "default": "false",
            "description": "Enable/disable one-to-one-redundancy mode for auto cluster profiles.\nWith this knob enabled, only 2 gateways are allowed in the cluster profile.\nLeader is active and non-leader is standby. Required for BRANCH_GW.",
            "type": "boolean"
          },
          "description": {
            "description": "User comment.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "device-type": {
            "default": "MOBILITY_GW",
            "description": "Persona of the GW cluster profile. Device-type of the GW cluster profile\nshould be one of the BRANCH_GW, MOBILITY_GW, VPNC.",
            "enum": [
              "MOBILITY_GW",
              "BRANCH_GW",
              "VPNC",
              "CAMPUS_AP",
              "MICROBRANCH_AP",
              "ACCESS_SWITCH",
              "ALL",
              "SERVICE_PERSONA",
              "BRIDGE",
              "IOT",
              "HYBRID_NAC",
              "CORE_SWITCH",
              "AGG_SWITCH",
              "AOSS_ACCESS_SWITCH",
              "AOSS_CORE_SWITCH",
              "AOSS_AGG_SWITCH",
              "EC_VPNC",
              "EC_BRANCH_GW"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ACCESS_SWITCH": "Access Switch. This persona provides Access Switch functionality.",
              "AGG_SWITCH": "Aggregation Switch. This persona provides Aggregation Switch functionality.",
              "ALL": "ALL. This persona provides ALL devices functionality.",
              "AOSS_ACCESS_SWITCH": "AOS-S Access Switch. This persona provides Access Switch functionality.",
              "AOSS_AGG_SWITCH": "AOS-S Aggregation Switch. This persona provides Aggregation Switch functionality.",
              "AOSS_CORE_SWITCH": "AOS-S Core Switch. This persona provides Core Switch functionality.",
              "BRANCH_GW": "Branch gateway. This gateway persona provides Aruba InstantOS and SD-Branch (LAN + WAN) functionality",
              "BRIDGE": "Bridge . This persona provides bridge functionality.",
              "CAMPUS_AP": "Campus/Branch AP. This AP persona provides WLAN functionality.",
              "CORE_SWITCH": "Core Switch. This persona provides Core Switch functionality.",
              "EC_BRANCH_GW": "EdgeConnect Branch Gateway",
              "EC_VPNC": "EdgeConnect VPNC",
              "HYBRID_NAC": "Hybrid NAC Edge VM. This persona provides Hybrid NAC Edge VM functionality.",
              "IOT": "IoT Edge VM. This persona provides IoT Edge VM functionality.",
              "MICROBRANCH_AP": "Microbranch AP. This AP persona provides SD-WAN-lite functionality in addition to the functions of WLAN AP.",
              "MOBILITY_GW": "Mobility Gateway. This gateway persona provides Overlay WLAN and (or) wired LAN functionalities.",
              "SERVICE_PERSONA": "Service Persona. This persona provides service functionality.",
              "VPNC": "VPN Concentrator."
            },
            "x-typeDescription": "Persona type."
          },
          "heartbeat-threshold": {
            "description": "Minimum Heartbeat Threshold in milliseconds.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 500,
            "type": "integer"
          },
          "ipv6-enable": {
            "default": "false",
            "description": "Enable or disable the ipv6 mode in auto cluster profiles",
            "type": "boolean"
          },
          "multicast-vlan": {
            "description": "VLAN to be used for forwarding multicast traffic to upstream router.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "name": {
            "description": "GW Cluster intent Profile name.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string"
          },
          "uplink-sharing": {
            "default": "false",
            "description": "Enable/disable uplink sharing for auto cluster profiles.\nApplicable only for BRANCH_GW device-type with default-gateway-mode enabled.",
            "type": "boolean"
          },
          "uplink-tracking": {
            "default": "false",
            "description": "Enable/disable uplink tracking for auto cluster profiles.\nWith this knob enabled, Cluster leader will be selected based on number of active uplinks.\nApplicable only for BRANCH_GW device-type with default-gateway-mode enabled.",
            "type": "boolean"
          }
        }
      },
      "ArubaGwClusterIntent_GwClusterIntentConfigprofileSchemaGet": {
        "properties": {
          "cluster-mode": {
            "default": "CM_MANUAL",
            "description": "Cluster-Mode decides how the cluster profiles are formed automatically. Setting cluster-mode type to CM_MANUAL will disable the auto-formation of the cluster profiles.",
            "enum": [
              "CM_SITE",
              "CM_MANUAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CM_MANUAL": "Auto-clustering is disabled.",
              "CM_SITE": "Auto-clustering is formed at Site level."
            },
            "x-typeDescription": "Type of cluster-modes to set at DC, SC and Site scopes."
          },
          "coa-enable": {
            "default": "false",
            "description": "Enable or disable the CoA.",
            "type": "boolean"
          },
          "coa-vrrp": {
            "description": "CoA-VRRP configuration",
            "properties": {
              "id": {
                "default": "220",
                "description": "Specifies the starting VRRP ID for cluster members.",
                "format": "int32",
                "maximum": 255,
                "minimum": 1,
                "type": "integer"
              },
              "passphrase": {
                "description": "VRRP Passphrase.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
              },
              "vlan": {
                "description": "VRRP VLAN corresponding to the VIP. Used for COA operations.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              }
            }
          },
          "default-gateway-mode": {
            "default": "false",
            "description": "Enable/disable one-to-one-redundancy mode for auto cluster profiles.\nWith this knob enabled, only 2 gateways are allowed in the cluster profile.\nLeader is active and non-leader is standby. Required for BRANCH_GW.",
            "type": "boolean"
          },
          "description": {
            "description": "User comment.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "device-type": {
            "default": "MOBILITY_GW",
            "description": "Persona of the GW cluster profile. Device-type of the GW cluster profile\nshould be one of the BRANCH_GW, MOBILITY_GW, VPNC.",
            "enum": [
              "MOBILITY_GW",
              "BRANCH_GW",
              "VPNC",
              "CAMPUS_AP",
              "MICROBRANCH_AP",
              "ACCESS_SWITCH",
              "ALL",
              "SERVICE_PERSONA",
              "BRIDGE",
              "IOT",
              "HYBRID_NAC",
              "CORE_SWITCH",
              "AGG_SWITCH",
              "AOSS_ACCESS_SWITCH",
              "AOSS_CORE_SWITCH",
              "AOSS_AGG_SWITCH",
              "EC_VPNC",
              "EC_BRANCH_GW"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ACCESS_SWITCH": "Access Switch. This persona provides Access Switch functionality.",
              "AGG_SWITCH": "Aggregation Switch. This persona provides Aggregation Switch functionality.",
              "ALL": "ALL. This persona provides ALL devices functionality.",
              "AOSS_ACCESS_SWITCH": "AOS-S Access Switch. This persona provides Access Switch functionality.",
              "AOSS_AGG_SWITCH": "AOS-S Aggregation Switch. This persona provides Aggregation Switch functionality.",
              "AOSS_CORE_SWITCH": "AOS-S Core Switch. This persona provides Core Switch functionality.",
              "BRANCH_GW": "Branch gateway. This gateway persona provides Aruba InstantOS and SD-Branch (LAN + WAN) functionality",
              "BRIDGE": "Bridge . This persona provides bridge functionality.",
              "CAMPUS_AP": "Campus/Branch AP. This AP persona provides WLAN functionality.",
              "CORE_SWITCH": "Core Switch. This persona provides Core Switch functionality.",
              "EC_BRANCH_GW": "EdgeConnect Branch Gateway",
              "EC_VPNC": "EdgeConnect VPNC",
              "HYBRID_NAC": "Hybrid NAC Edge VM. This persona provides Hybrid NAC Edge VM functionality.",
              "IOT": "IoT Edge VM. This persona provides IoT Edge VM functionality.",
              "MICROBRANCH_AP": "Microbranch AP. This AP persona provides SD-WAN-lite functionality in addition to the functions of WLAN AP.",
              "MOBILITY_GW": "Mobility Gateway. This gateway persona provides Overlay WLAN and (or) wired LAN functionalities.",
              "SERVICE_PERSONA": "Service Persona. This persona provides service functionality.",
              "VPNC": "VPN Concentrator."
            },
            "x-typeDescription": "Persona type."
          },
          "heartbeat-threshold": {
            "description": "Minimum Heartbeat Threshold in milliseconds.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 500,
            "type": "integer"
          },
          "ipv6-enable": {
            "default": "false",
            "description": "Enable or disable the ipv6 mode in auto cluster profiles",
            "type": "boolean"
          },
          "multicast-vlan": {
            "description": "VLAN to be used for forwarding multicast traffic to upstream router.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "name": {
            "description": "GW Cluster intent Profile name.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string"
          },
          "uplink-sharing": {
            "default": "false",
            "description": "Enable/disable uplink sharing for auto cluster profiles.\nApplicable only for BRANCH_GW device-type with default-gateway-mode enabled.",
            "type": "boolean"
          },
          "uplink-tracking": {
            "default": "false",
            "description": "Enable/disable uplink tracking for auto cluster profiles.\nWith this knob enabled, Cluster leader will be selected based on number of active uplinks.\nApplicable only for BRANCH_GW device-type with default-gateway-mode enabled.",
            "type": "boolean"
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaGwClusterIntent_GwClusterIntentConfigprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaGwClusterIntent_GwClusterIntentConfigprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
