{
  "openapi": "3.1.0",
  "info": {
    "title": "Alerts",
    "version": "1.0.0",
    "description": "This is a v1 release of the Notification platform APIs."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Alerts",
      "description": "APIs for managing alerts."
    }
  ],
  "paths": {
    "/network-notifications/v1/alerts": {
      "get": {
        "summary": "List all alerts",
        "tags": [
          "Alerts"
        ],
        "operationId": "getAlertListV1",
        "description": "This API endpoint retrieves the list of Alerts based on the query parameters provided. The alerts list includes details such as name, type, category, severity, status, etc. The query parameters allow you to filter results that meet specific criteria, ensuring you receive only relevant data.\n",
        "parameters": [
          {
            "name": "filter",
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the table below. \n\n| Field | Operators |\n| --------- | -------- |\n| `siteId` | `eq` and `in` |\n| `typeId` | `eq` and `in` |\n| `status` | `eq` and `in` |\n| `category` | `eq` and `in` |\n| `deviceType` | `eq` and `in`|\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n* `in`: Only values present in the given list are returned.\n\n**List of applicable filters for field and terms:**\n\n| Field | Applicable Terms |\n| --------- | -------- |\n|  `siteId` | `string` |\n| `typeId` | `string` |\n| `status` | `[\"Active\", \"Deferred\", \"Cleared\"]` |\n| `deviceType` | `[\"Access Point\", \"Gateway\", \"Switch\", \"Bridge\", \"Access Point, Switch\", \"Switch, Switch\"]` |\n| `category` | `[\"Clients\", \"System\", \"LAN\", \"WLAN\", \"WAN\", \"Cluster\", \"Routing\", \"Security\"]` |\n\n",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "typeId in ('102', '4') and siteId eq '1234567'"
            }
          },
          {
            "name": "sort",
            "description": "Sort field followed by a direction indicator ASC (ascending) or DESC (descending). Supported fields are `createdAt`,`severity`,`status`,`name`,`priority`. `createdAt` field is used by default. \n",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "status asc"
            }
          },
          {
            "name": "next",
            "description": "Specifies the pagination cursor for the next page of resources. Minimum value is 1.\n",
            "in": "query",
            "schema": {
              "default": 1,
              "minimum": 1,
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "limit",
            "description": "Maximum number of alerts to be retrieved. Allowed range is 1 to 100.\n",
            "in": "query",
            "schema": {
              "default": 20,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AlertListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-notifications/v1/alerts/active": {
      "post": {
        "summary": "Set alerts to active",
        "tags": [
          "Alerts"
        ],
        "operationId": "setActiveAlerts",
        "description": "This API endpoint sets the specified alerts to active status. This can be used to reactivate deferred alerts.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetActiveAlertsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/AlertActionResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-notifications/v1/alerts/async-operations/{task-id}": {
      "get": {
        "summary": "Get async operation status",
        "tags": [
          "Alerts"
        ],
        "operationId": "alertActionStatus",
        "description": "This API endpoint retrieves the status of an asynchronous alert operation using the task ID returned from alert action endpoints (clear, defer, active, priority).\n",
        "parameters": [
          {
            "name": "task-id",
            "description": "The unique task identifier returned from an alert action request.\n",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "abc123-def456-ghi789"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AlertActionStatusResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-notifications/v1/alerts/classification": {
      "get": {
        "summary": "Get alerts classification",
        "tags": [
          "Alerts"
        ],
        "operationId": "alertsClassification",
        "description": "This API endpoint retrieves the classification of alerts based on the specified type. The classification provides aggregated counts of alerts grouped by the specified criteria.\n",
        "parameters": [
          {
            "name": "type",
            "description": "The type of classification to retrieve. This determines how alerts are grouped. \nPossible values are `severity`, `status`, `priority`, `category`, `device_type`, `impacted_devices`\n",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "category"
            }
          },
          {
            "name": "filter",
            "description": "OData Version 4.0 filter string to filter the alerts before classification.\n",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "siteId eq '1234567'"
            }
          },
          {
            "name": "search",
            "description": "Search string to filter alerts by name or summary before classification.\n",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "PoE"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AlertsClassificationResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-notifications/v1/alerts/clear": {
      "post": {
        "summary": "Clear alerts",
        "tags": [
          "Alerts"
        ],
        "operationId": "clearAlerts",
        "description": "This API endpoint clears the specified alerts. Clearing an alert marks it as resolved with an optional reason and notes.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClearAlertsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/AlertActionResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-notifications/v1/alerts/defer": {
      "post": {
        "summary": "Defer alerts",
        "tags": [
          "Alerts"
        ],
        "operationId": "deferAlerts",
        "description": "This API endpoint defers the specified alerts until a specified time. Deferred alerts will not generate notifications until the deferral period expires.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeferAlertsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/AlertActionResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-notifications/v1/alerts/priority": {
      "post": {
        "summary": "Set alert priority",
        "tags": [
          "Alerts"
        ],
        "operationId": "setPriorityAlerts",
        "description": "This API endpoint sets the priority level for the specified alerts.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetPriorityAlertsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "$ref": "#/components/responses/AlertActionResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Alert": {
        "type": "object",
        "description": "Alert details.\n",
        "required": [
          "id",
          "key",
          "category",
          "typeId",
          "name",
          "severity",
          "priority",
          "status",
          "summary",
          "createdAt",
          "updatedAt",
          "updatedBy",
          "type",
          "deviceType",
          "clearedReason"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the alert.\n"
          },
          "key": {
            "type": "string",
            "description": "Alert key.\n"
          },
          "category": {
            "type": "string",
            "description": "Category of the alert.\n"
          },
          "typeId": {
            "type": "string",
            "description": "Type identifier of the alert.\n"
          },
          "name": {
            "type": "string",
            "description": "Name of the alert.\n"
          },
          "severity": {
            "type": "string",
            "description": "Severity level of the alert.\n"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the alert.\n"
          },
          "status": {
            "type": "string",
            "description": "Current status of the alert.\n"
          },
          "summary": {
            "type": "string",
            "description": "Summary description of the alert.\n"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the alert was created.\n"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the alert was last updated.\n"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the alert.\n"
          },
          "type": {
            "type": "string",
            "description": "Type of the resource.\n"
          },
          "deviceType": {
            "type": "string",
            "description": "Type of device associated with the alert.\n"
          },
          "clearedReason": {
            "type": "string",
            "description": "The reason an alert is cleared. This will be populated only when the status is cleared.\n"
          }
        }
      },
      "AlertActionResponseBody": {
        "type": "object",
        "description": "Response body for alert action operations.\n",
        "properties": {
          "response": {
            "type": "string",
            "description": "Response message indicating the action was accepted.\n",
            "example": "Request accepted"
          },
          "taskId": {
            "type": "string",
            "description": "Unique task identifier for tracking the asynchronous operation.\n",
            "example": "abc123-def456-ghi789"
          },
          "location": {
            "type": "string",
            "description": "URL to check the status of the asynchronous operation.\n",
            "example": "/network-notifications/v1/alerts/async-operations/abc123-def456-ghi789"
          }
        }
      },
      "AlertActionStatusResponseBody": {
        "type": "object",
        "description": "Response body for alert action status.\n",
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this async operation resource.\n",
            "example": "network-notifications/v1/alerts/action-status"
          },
          "type": {
            "type": "string",
            "description": "Resource type identifier.\n",
            "example": "network-notifications/alert-action-status"
          },
          "sourceResourceUri": {
            "type": "string",
            "description": "The URI of the source resource associated with this operation.\n",
            "example": "/network-notifications/v1/alerts/clear"
          },
          "state": {
            "type": "string",
            "description": "The current state of the asynchronous operation.\n",
            "enum": [
              "PENDING",
              "IN_PROGRESS",
              "SUCCEEDED",
              "FAILED"
            ],
            "example": "SUCCEEDED"
          },
          "startedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the operation started.\n",
            "example": "2026-02-23T10:30:00Z"
          },
          "endedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the operation ended.\n",
            "example": "2026-02-23T10:31:00Z"
          },
          "logMessages": {
            "type": "array",
            "description": "Log messages associated with the operation.\n",
            "items": {
              "$ref": "#/components/schemas/LogMessage"
            }
          },
          "progressPercent": {
            "type": "integer",
            "description": "The progress percentage of the operation.\n",
            "minimum": 0,
            "maximum": 100,
            "example": 100
          },
          "error": {
            "$ref": "#/components/schemas/AsyncOperationError"
          }
        }
      },
      "AlertListResponse": {
        "type": "object",
        "example": {
          "count": 2,
          "next": "2",
          "items": [
            {
              "updatedBy": null,
              "status": "Cleared",
              "category": "System",
              "key": "ad4c9f5b-25d2-37f9-a4ed-fc0e6b0f5825",
              "severity": "Critical",
              "clearedReason": null,
              "deviceType": "Access Point",
              "type": "network-notifications/alerts",
              "priority": "Very High",
              "id": "22071893000:47765082406",
              "createdAt": "2025-12-10T07:04:33.352Z",
              "updatedAt": "2025-12-10T08:37:02.475Z",
              "name": "Insufficient PoE Received",
              "summary": "AP LUHR000001 did not receive the requested PoE power which may limit its functions."
            },
            {
              "updatedBy": null,
              "status": "Active",
              "category": "System",
              "key": "ad4c9f5b-25d2-37f9-a4ed-fc0e6b0f5825",
              "severity": "Minor",
              "clearedReason": null,
              "deviceType": "Access Point",
              "type": "network-notifications/alerts",
              "priority": "Medium",
              "id": "22071893000:47764775046",
              "createdAt": "2025-12-10T08:31:36.710Z",
              "updatedAt": "",
              "name": "USB Device Removed from AP",
              "summary": "A USB device was removed from the AP LUHR000012's USB port."
            }
          ],
          "total": 85
        },
        "properties": {
          "items": {
            "type": "array",
            "description": "List of alerts.\n",
            "items": {
              "$ref": "#/components/schemas/Alert"
            }
          },
          "count": {
            "type": "integer",
            "description": "Number of alerts returned in the current response.\n",
            "example": 1
          },
          "total": {
            "type": "integer",
            "description": "Total number of alerts matching the query criteria.\n",
            "example": 1
          },
          "next": {
            "type": "string",
            "description": "Specifies the pagination cursor for the next page of resources. Null if there are no further pages.\n",
            "example": [
              null,
              1,
              2,
              3
            ]
          }
        }
      },
      "AlertsClassificationResponseBody": {
        "type": "object",
        "description": "Response body for alerts classification.\n",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of classification used.\n",
            "example": "category"
          },
          "classificationData": {
            "type": "array",
            "description": "List of classification data entries.\n",
            "items": {
              "$ref": "#/components/schemas/ClassificationDataItem"
            }
          }
        }
      },
      "AsyncOperationError": {
        "type": "object",
        "description": "Error details for a failed async operation.\n",
        "properties": {
          "code": {
            "type": "string",
            "description": "The error code.\n",
            "example": "HPE_GL_ERROR_OPERATION_FAILED"
          },
          "message": {
            "type": "string",
            "description": "The error message.\n",
            "example": "The operation failed due to an internal error."
          },
          "details": {
            "type": "string",
            "description": "Additional details about the error.\n",
            "example": "Alert ID not found"
          }
        }
      },
      "BadRequestErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "example": 400,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_BAD_REQUEST"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Invalid input received for notification rule."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "ClassificationDataItem": {
        "type": "object",
        "description": "A single classification data entry.\n",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the classification group.\n",
            "example": "System"
          },
          "count": {
            "type": "integer",
            "description": "The number of alerts in this classification group.\n",
            "example": 25
          },
          "typeId": {
            "type": "string",
            "description": "The type identifier for this classification group.\n",
            "example": "102"
          }
        }
      },
      "ClearAlertsRequest": {
        "type": "object",
        "description": "Request body for clearing alerts.\n",
        "required": [
          "keys"
        ],
        "properties": {
          "keys": {
            "type": "array",
            "description": "List of alert keys to clear.\n",
            "items": {
              "type": "string"
            },
            "example": [
              "22071893000:47765082406",
              "22071893000:47764775046"
            ]
          },
          "reason": {
            "type": "string",
            "description": "The reason for clearing the alerts.\n",
            "enum": [
              "Problem was resolved",
              "False Positive",
              "Insufficient information for troubleshooting",
              "Alert is not important",
              "Other"
            ],
            "example": "Problem was resolved"
          },
          "notes": {
            "type": "string",
            "description": "Additional notes about clearing the alerts.\n",
            "example": "Firmware updated to version 10.4.0"
          }
        }
      },
      "DebugId": {
        "type": "string",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting and debugging purposes.",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "DeferAlertsRequest": {
        "type": "object",
        "description": "Request body for deferring alerts.\n",
        "required": [
          "keys",
          "deferUntil"
        ],
        "properties": {
          "keys": {
            "type": "array",
            "description": "List of alert keys to defer.\n",
            "items": {
              "type": "string"
            },
            "example": [
              "22071893000:47765082406",
              "22071893000:47764775046"
            ]
          },
          "deferUntil": {
            "type": "string",
            "format": "date-time",
            "description": "The date-time until which the alerts should be deferred.\n",
            "example": "2026-03-01T00:00:00Z"
          }
        }
      },
      "ForbiddenErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": 403,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_FORBIDDEN"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Access forbidden."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "InternalServerErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Internal Server Error while processing the request."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "LogMessage": {
        "type": "object",
        "description": "A log message entry.\n",
        "properties": {
          "message": {
            "type": "string",
            "description": "The log message content.\n",
            "example": "Alert cleared successfully"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the log message was recorded.\n",
            "example": "2026-02-23T10:30:30Z"
          }
        }
      },
      "NotFoundErrorDetails": {
        "type": "object",
        "description": "Not Found error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 404,
            "maximum": 404,
            "description": "HTTP status code.",
            "example": 404
          },
          "errorCode": {
            "type": "string",
            "description": "Internal error code.",
            "maxLength": 256,
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_NOT_FOUND"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Notification rule not found."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "SetActiveAlertsRequest": {
        "type": "object",
        "description": "Request body for setting alerts to active status.\n",
        "required": [
          "keys"
        ],
        "properties": {
          "keys": {
            "type": "array",
            "description": "List of alert keys to set to active.\n",
            "items": {
              "type": "string"
            },
            "example": [
              "22071893000:47765082406",
              "22071893000:47764775046"
            ]
          }
        }
      },
      "SetPriorityAlertsRequest": {
        "type": "object",
        "description": "Request body for setting alert priority.\n",
        "required": [
          "keys",
          "priority"
        ],
        "properties": {
          "keys": {
            "type": "array",
            "description": "List of alert keys to update priority.\n",
            "items": {
              "type": "string"
            },
            "example": [
              "ad4c9f5b-25d2-37f9-a4ed-fc0e6b0f5825",
              "bd5c9f5b-35d2-47f9-b4ed-fc0e6b0f5826"
            ]
          },
          "priority": {
            "type": "string",
            "description": "The priority level to set for the alerts.\n",
            "enum": [
              "Very High",
              "High",
              "Medium",
              "Low",
              "Very Low"
            ],
            "example": "High"
          }
        }
      },
      "TooManyRequestsErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": 429,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_TOO_MANY_REQUESTS"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Too Many Requests. Rate limit exceeded."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "UnauthorizedErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "example": 401,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_UNAUTHORIZED"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Unauthorized request."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      }
    },
    "responses": {
      "AlertActionResponse": {
        "description": "Accepted response for asynchronous alert action operations.\n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          },
          "Location": {
            "schema": {
              "type": "string"
            },
            "description": "URL to check the status of the asynchronous operation."
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AlertActionResponseBody"
            }
          }
        }
      },
      "AlertActionStatusResponse": {
        "description": "Status of an asynchronous alert operation.\n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AlertActionStatusResponseBody"
            }
          }
        }
      },
      "AlertListResponse": {
        "description": "List of alerts, along with alert details and associated pagination information.\n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AlertListResponse"
            }
          }
        }
      },
      "AlertsClassificationResponse": {
        "description": "Classification of alerts grouped by the specified type.\n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AlertsClassificationResponseBody"
            }
          }
        }
      },
      "BadRequestError": {
        "description": "Invalid input received.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestErrorDetails"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden. Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenErrorDetails"
            }
          }
        }
      },
      "InternalServerError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerErrorDetails"
            }
          }
        }
      },
      "NotFoundError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundErrorDetails"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequestsErrorDetails"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedErrorDetails"
            }
          }
        }
      }
    },
    "headers": {
      "RetryAfter": {
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "example": 60
        },
        "description": "Number of seconds to wait before retrying the request."
      },
      "XRateLimitLimit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "XRateLimitRemaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "XRateLimitReset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
