{
  "openapi": "3.1.0",
  "info": {
    "title": "Alert Configurations",
    "version": "1.0.0",
    "description": "This is a v1 release of the Notification platform APIs."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Alert Configurations",
      "description": "APIs for managing alert configurations — retrieve threshold rules and severity settings per alert type and scope."
    }
  ],
  "paths": {
    "/network-notifications/v1/alert-config": {
      "get": {
        "summary": "List alert configurations",
        "tags": [
          "Alert Configurations"
        ],
        "operationId": "getAlertConfigs",
        "description": "Retrieves alert configurations for a given scope. Each configuration defines the threshold rules, severity mappings, and settings for a specific alert type. Configurations may be locally defined or inherited from a parent scope.\n\n**Scope types:**\n\n| Value | Description |\n|-------|-------------|\n| `GLOBAL` | Tenant-level scope (default) |\n| `SITE` | Site-level scope |\n| `DEVICE` | Device-level scope |\n\n**Pagination:**\n\nUse `limit` and `next` together to page through large result sets. When `limit` is supplied the response includes `total` (total available configurations) and `offset` (zero-based index of the first item returned), enabling clients to determine whether additional pages exist.\n",
        "parameters": [
          {
            "name": "scope-id",
            "description": "The scope identifier for which alert configurations are retrieved.\n",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "1021882040"
            }
          },
          {
            "name": "scope-type",
            "description": "The scope type. Determines the level at which the configuration applies.\n\n| Value | Description |\n|-------|-------------|\n| `GLOBAL` | Tenant-level scope (default) |\n| `SITE` | Site-level scope |\n| `DEVICE` | Device-level scope |\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "GLOBAL",
                "SITE",
                "DEVICE"
              ],
              "default": "GLOBAL",
              "example": "SITE"
            }
          },
          {
            "name": "limit",
            "description": "Maximum number of alert configurations to return per page. Defaults to `20` when not specified.\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20,
              "example": 20
            }
          },
          {
            "name": "next",
            "description": "Zero-based offset of the first alert configuration to return. Use together with `limit` to paginate through results. Defaults to `0` when not specified.\n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0,
              "example": 0
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AlertConfigListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AlertConfigResponse": {
        "type": "object",
        "description": "A single alert configuration entry returned from the list endpoint.\n",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable name of the alert type.\n",
            "example": "AP CPU Utilization"
          },
          "description": {
            "type": "string",
            "description": "Description of what the alert monitors.\n",
            "example": "Triggers when access point CPU usage exceeds configured thresholds."
          },
          "label": {
            "type": "string",
            "description": "Display label or tag for the alert configuration.\n",
            "example": "CPU"
          },
          "category": {
            "type": "string",
            "description": "Category the alert belongs to.\n",
            "example": "System"
          },
          "deviceType": {
            "type": "string",
            "description": "Type of device this alert applies to.\n",
            "example": "Access Point"
          },
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether this alert configuration is currently active or not.\n",
            "example": true
          },
          "ruleSource": {
            "type": "string",
            "description": "Indicates whether the rule is system-defined or user-defined.\n",
            "enum": [
              "SYSTEM",
              "USER"
            ],
            "example": "USER"
          },
          "clearTimeout": {
            "type": "string",
            "description": "Auto-clear timeout duration, e.g. `1H`, `30D`.\n",
            "example": "1H"
          },
          "inherited": {
            "type": "boolean",
            "description": "Indicates whether this configuration is inherited from a parent scope or not.\n",
            "example": false
          },
          "scopeId": {
            "type": "string",
            "description": "The scope identifier this configuration belongs to.\n",
            "example": "1021882040"
          },
          "scopeType": {
            "type": "string",
            "description": "The scope type this configuration belongs to.\n",
            "enum": [
              "GLOBAL",
              "SITE",
              "DEVICE"
            ],
            "example": "GLOBAL"
          },
          "rules": {
            "type": "array",
            "description": "List of threshold rules for this alert configuration.\n",
            "items": {
              "$ref": "#/components/schemas/AlertConfigRuleResponse"
            }
          }
        }
      },
      "AlertConfigRuleResponse": {
        "type": "object",
        "description": "A rule entry as returned by the list endpoint.\n",
        "properties": {
          "ruleNumber": {
            "type": "integer",
            "description": "Ordering index of this rule.\n",
            "example": 0
          },
          "rule": {
            "type": "object",
            "description": "Rule details.\n",
            "properties": {
              "duration": {
                "type": "integer",
                "description": "Observation window in minutes.\n",
                "example": 5
              },
              "condition": {
                "type": "array",
                "description": "List of severity-to-threshold conditions.\n",
                "items": {
                  "type": "object",
                  "properties": {
                    "severity": {
                      "type": "string",
                      "description": "Severity level for this condition.\n",
                      "example": "CRITICAL"
                    },
                    "expression": {
                      "type": "object",
                      "properties": {
                        "metric": {
                          "type": "string",
                          "example": "cpu_utilization"
                        },
                        "operator": {
                          "type": "string",
                          "example": "GTE"
                        },
                        "valueNumber": {
                          "type": "number",
                          "example": 90
                        }
                      }
                    }
                  }
                }
              },
              "additionalCondition": {
                "type": "array",
                "description": "List of supplementary metric conditions.\n",
                "items": {
                  "type": "object",
                  "properties": {
                    "index": {
                      "type": "integer",
                      "example": 0
                    },
                    "expression": {
                      "type": "object",
                      "properties": {
                        "metric": {
                          "type": "string",
                          "example": "occurrences"
                        },
                        "operator": {
                          "type": "string",
                          "example": "GTE"
                        },
                        "valueNumber": {
                          "type": "number",
                          "example": 100
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "BadRequestErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "example": 400,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_BAD_REQUEST"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Invalid input received for notification rule."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "DebugId": {
        "type": "string",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting and debugging purposes.",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "ForbiddenErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": 403,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_FORBIDDEN"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Access forbidden."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "InternalServerErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Internal Server Error while processing the request."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "NotFoundErrorDetails": {
        "type": "object",
        "description": "Not Found error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 404,
            "maximum": 404,
            "description": "HTTP status code.",
            "example": 404
          },
          "errorCode": {
            "type": "string",
            "description": "Internal error code.",
            "maxLength": 256,
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_NOT_FOUND"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Notification rule not found."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "TooManyRequestsErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": 429,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_TOO_MANY_REQUESTS"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Too Many Requests. Rate limit exceeded."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "UnauthorizedErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "example": 401,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_UNAUTHORIZED"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Unauthorized request."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      }
    },
    "responses": {
      "AlertConfigListResponse": {
        "description": "List of alert configurations for the requested scope.\n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Paginated list of alert configurations.\n",
              "required": [
                "id",
                "type",
                "items",
                "count"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Unique identifier for this collection resource.\n",
                  "example": "network-notifications/v1/alert-config"
                },
                "type": {
                  "type": "string",
                  "description": "Resource type identifier.\n",
                  "example": "network-notifications/alert-configs"
                },
                "items": {
                  "type": "array",
                  "description": "List of alert configuration entries in the current page.\n",
                  "items": {
                    "$ref": "#/components/schemas/AlertConfigResponse"
                  }
                },
                "count": {
                  "type": "integer",
                  "description": "Number of alert configurations returned in the current page.\n",
                  "example": 10
                },
                "total": {
                  "type": "integer",
                  "description": "Total number of alert configurations available across all pages. Present only when the request includes a `limit` parameter.\n",
                  "example": 99
                },
                "offset": {
                  "type": "integer",
                  "description": "Zero-based index of the first item returned in this page. Present only when the request includes a `limit` parameter.\n",
                  "example": 0
                }
              },
              "example": {
                "count": 2,
                "total": 99,
                "offset": 0,
                "items": [
                  {
                    "name": "AP CPU Utilization",
                    "description": "Triggers when access point CPU usage exceeds configured thresholds.",
                    "label": "CPU",
                    "category": "System",
                    "deviceType": "Access Point",
                    "enabled": true,
                    "ruleSource": "USER",
                    "clearTimeout": "1H",
                    "inherited": false,
                    "scopeId": "1021882040",
                    "scopeType": "GLOBAL",
                    "rules": [
                      {
                        "ruleNumber": 0,
                        "rule": {
                          "duration": 5,
                          "metric": "cpu_utilization",
                          "condition": [
                            {
                              "severity": "CRITICAL",
                              "expression": {
                                "metric": "cpu_utilization",
                                "operator": "GTE",
                                "valueNumber": 90
                              }
                            },
                            {
                              "severity": "MAJOR",
                              "expression": {
                                "metric": "cpu_utilization",
                                "operator": "GTE",
                                "valueNumber": 80
                              }
                            },
                            {
                              "severity": "MINOR",
                              "expression": {
                                "metric": "cpu_utilization",
                                "operator": "GTE",
                                "valueNumber": 70
                              }
                            }
                          ],
                          "additionalCondition": []
                        }
                      }
                    ]
                  },
                  {
                    "name": "Switch CPU Utilization",
                    "description": "Triggers when switch CPU usage exceeds configured thresholds.",
                    "label": "CPU",
                    "category": "System",
                    "deviceType": "Switch",
                    "enabled": true,
                    "ruleSource": "SYSTEM",
                    "clearTimeout": null,
                    "inherited": false,
                    "scopeId": "1021882040",
                    "scopeType": "GLOBAL",
                    "rules": []
                  }
                ]
              }
            }
          }
        }
      },
      "BadRequestError": {
        "description": "Invalid input received.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestErrorDetails"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden. Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenErrorDetails"
            }
          }
        }
      },
      "InternalServerError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerErrorDetails"
            }
          }
        }
      },
      "NotFoundError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundErrorDetails"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequestsErrorDetails"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedErrorDetails"
            }
          }
        }
      }
    },
    "headers": {
      "RetryAfter": {
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "example": 60
        },
        "description": "Number of seconds to wait before retrying the request."
      },
      "XRateLimitLimit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "XRateLimitRemaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "XRateLimitReset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
