{
  "openapi": "3.1.0",
  "info": {
    "title": "Insights",
    "version": "1.0.0",
    "description": "This is a v1 release of the Notification platform APIs."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Insights",
      "description": "APIs for retrieving source recommendations."
    }
  ],
  "paths": {
    "/network-notifications/v1/insights": {
      "get": {
        "summary": "List source recommendations",
        "tags": [
          "Insights"
        ],
        "operationId": "getSourceRecommendationsV1",
        "description": "Returns AI-powered recommendations for optimizing performance. For site-level granularity `site-id` and `insight-id` filter shall be provided and for global recommendations `site-id` and `insight-id` filter shall be omitted. At the global level, the API returns global recommendations (across all sites) along with siteId and insightId.",
        "parameters": [
          {
            "name": "site-id",
            "description": "Site identifier. Omit site-id to retrieve global recommendations across all sites. For site-level recommendations site-id can be obtained from the same API from global recommendations through the field `siteId`.",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "6985764272"
            }
          },
          {
            "name": "insight-id",
            "description": "Insight identifier. `insight-id` is used to filter recommendations, it can be obtained from the same API from global-level recommendations through the field 'insightId'.",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "702"
            }
          },
          {
            "name": "limit",
            "description": "Maximum number of recommendations to return per page.",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "example": 50
            }
          },
          {
            "name": "offset",
            "description": "Number of recommendations to skip before starting to collect the result set.",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 0
            }
          },
          {
            "name": "sort",
            "description": "Sort order for recommendations based on implicit field insight-id.",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ],
              "example": "ASC"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SourceRecommendationsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-notifications/v1/insights-schema": {
      "get": {
        "summary": "Get insight schemas",
        "tags": [
          "Insights"
        ],
        "operationId": "getInsightSchemasV1",
        "description": "Returns the JSON schema definition for one or all available insights.\n\nBehavior:\n- If `insight-id` is provided, returns only the schema for that specific insight.\n- If `insight-id` is omitted, returns schemas for all available insights as a JSON string.",
        "parameters": [
          {
            "name": "insight-id",
            "description": "Insight type identifier (e.g. `702`). When omitted, all insight schemas are returned. `insight-id` can be obtained from global-level recommendations through the field `insightId`.",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "702"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/InsightsSchemasResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AIOpsGlobalSites": {
        "type": "object",
        "required": [
          "siteId",
          "siteName",
          "impactedDeviceCount",
          "impactedClientCount"
        ],
        "properties": {
          "siteId": {
            "type": "string",
            "example": "165678616917"
          },
          "siteName": {
            "type": "string",
            "example": "Bengaluru (BLR) - Campus"
          },
          "impactedDeviceCount": {
            "type": "integer",
            "example": 0
          },
          "impactedClientCount": {
            "type": "integer",
            "example": 0
          }
        }
      },
      "AIOpsInsightsSchemasResult": {
        "type": "object",
        "required": [
          "schemaJson",
          "count"
        ],
        "properties": {
          "schemaJson": {
            "type": "string",
            "description": "JSON string containing schema definitions keyed by insight ID.",
            "example": "{\"702\":{\"analyzer_id\":\"string\",\"category\":\"string\",\"timestamp\":\"long\"}}"
          },
          "count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of insight schemas returned.",
            "example": 1
          }
        }
      },
      "AIOpsSourceRecommendations": {
        "type": "object",
        "required": [
          "id",
          "type",
          "timestamp",
          "tenantId",
          "siteId",
          "title",
          "description",
          "category",
          "insightId"
        ],
        "properties": {
          "timestamp": {
            "type": "string",
            "example": "1770858000000"
          },
          "tenantId": {
            "type": "string",
            "example": "c539f92800ea11edbc10aa7fd39913ac"
          },
          "siteId": {
            "type": "string",
            "example": "6985764272"
          },
          "title": {
            "type": "string",
            "example": "Access Point Firmware Recommendation"
          },
          "description": {
            "type": "string",
            "example": "New firmware recommendation available for 3 access point(s) in the site. These upgrades provide new features and bug fixes."
          },
          "category": {
            "type": "string",
            "example": "Wireless"
          },
          "insightId": {
            "type": "string",
            "example": "702"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for this record.",
            "example": "c539f92800ea11edbc10aa7fd39913ac_6985764272_702_8646_4_1770855661607"
          },
          "type": {
            "type": "string",
            "example": "network-notifications/insight"
          },
          "impactedSites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AIOpsGlobalSites"
            }
          },
          "data": {
            "type": [
              "string",
              "null"
            ],
            "description": "Complete recommendation payload serialized as a JSON string. Contains detailed information about the recommendation, including root cause analysis, and suggested actions and impacted devices.",
            "example": "{\"analyzer_id\":\"c539f92800ea11edbc10aa7fd39913ac_6985764272_702_8646_4_1770855661607\"}"
          }
        }
      },
      "AIOpsSourceRecommendationsResult": {
        "type": "object",
        "required": [
          "id",
          "type",
          "items",
          "count"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this API resource.",
            "example": "network-notifications/v1/insights"
          },
          "type": {
            "type": "string",
            "example": "collection"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AIOpsSourceRecommendations"
            }
          },
          "count": {
            "type": "integer",
            "minimum": 0,
            "example": 1
          }
        }
      },
      "BadRequestErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "example": 400,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_BAD_REQUEST"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Invalid input received for notification rule."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "DebugId": {
        "type": "string",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting and debugging purposes.",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "ForbiddenErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": 403,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_FORBIDDEN"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Access forbidden."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "InternalServerErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Internal Server Error while processing the request."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "NotFoundErrorDetails": {
        "type": "object",
        "description": "Not Found error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 404,
            "maximum": 404,
            "description": "HTTP status code.",
            "example": 404
          },
          "errorCode": {
            "type": "string",
            "description": "Internal error code.",
            "maxLength": 256,
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_NOT_FOUND"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Notification rule not found."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "TooManyRequestsErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": 429,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_TOO_MANY_REQUESTS"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Too Many Requests. Rate limit exceeded."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "UnauthorizedErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "example": 401,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_UNAUTHORIZED"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Unauthorized request."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Invalid input received.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestErrorDetails"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden. Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenErrorDetails"
            }
          }
        }
      },
      "InsightsSchemasResponse": {
        "description": "Insights schema definitions response.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AIOpsInsightsSchemasResult"
            },
            "examples": {
              "allSchemas": {
                "summary": "All insight schemas — no insight-id provided",
                "value": {
                  "schemaJson": "{\"701\":{\"analyzer_id\":\"string\",\"category\":\"string\"},\"702\":{\"analyzer_id\":\"string\"}}",
                  "count": 22
                }
              },
              "singleSchema": {
                "summary": "Single insight schema for insight-id=702",
                "value": {
                  "schemaJson": "{\"702\":{\"analyzer_id\":\"string\",\"category\":\"string\",\"timestamp\":\"long\"}}",
                  "count": 1
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerErrorDetails"
            }
          }
        }
      },
      "NotFoundError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundErrorDetails"
            }
          }
        }
      },
      "SourceRecommendationsResponse": {
        "description": "Source recommendations list response.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/AIOpsSourceRecommendationsResult"
            },
            "examples": {
              "siteLevelDetailed": {
                "summary": "Site-level with insight filter and detailed payload",
                "value": {
                  "items": [
                    {
                      "id": "c539f92800ea11edbc10aa7fd39913ac_6985764272_702_8646_4_1770855661607",
                      "type": "network-notifications/insight",
                      "timestamp": "1770858000000",
                      "tenantId": "c539f92800ea11edbc10aa7fd39913ac",
                      "siteId": "6985764272",
                      "title": "Access Point Firmware Recommendation",
                      "description": "New firmware recommendation available for 3 access point(s) in the site. These upgrades provide new features and bug fixes.",
                      "category": "Wireless",
                      "insightId": "702",
                      "recordId": "c539f92800ea11edbc10aa7fd39913ac_6985764272_702_8646_4_1770855661607",
                      "data": "{\"actions_per_coverage_hole\":[{\"coverage_hole_network_impact\":[{\"coverage_description\":\"Network quality in terms of uplink signal-to-noise ratio (SNR) of?access point BO-IND-AP01?in comparison with all other access points in the site.\",\"proportion_of_client_minutes\":[{\"impacted_ap_proportion_of_client_minutes\":0,\"other_ap_proportion_of_client_minutes\":0,\"snr_inDB\":64}]}],\"devices_per_floor\":[{\"device_list\":[{\"client_type\":\"Debian\",\"client_vendor\":\"Big Field Global PTE. Ltd.\",\"impacted_clients_count\":7,\"oui_year\":\"2023\"}],\"impacted_clients_per_client_type\":[{\"impacted_clients_count\":2,\"name\":\"User Experience Insight Sensor\"}],\"ssid\":\"IND-1X\"},{\"impacted_client_details\":[{\"client_type\":\"User Experience Insight Sensor\",\"client_vendor\":\"Aruba, a Hewlett Packard Enterprise Company\",\"impacted_clients_count\":2,\"oui_year\":\"2022\"}],\"impacted_clients_per_client_type\":[{\"impacted_clients_count\":2,\"name\":\"User Experience Insight Sensor\"},{\"impacted_clients_count\":1,\"name\":\"Apple iPhone\"}],\"ssid\":\"IND-PSK\"}],\"impacted_client_type_details_description\":\"Clients impacted on access point: BO-IND-AP01\",\"impacted_clients_count\":19,\"recommendation\":\"Add AP(s) to sufficiently cover area\",\"root_cause\":\"Low Uplink SNR\"},{\"coverage_hole_network_impact\":[{\"coverage_description\":\"Network quality in terms of downlink 2.4GHz signal-to-noise ratio (SNR) of?access point BO-IND-AP04?in comparison with all other access points in the site.\",\"proportion_of_client_minutes\":[{\"impacted_ap_proportion_of_client_minutes\":0,\"other_ap_proportion_of_client_minutes\":0,\"snr_inDB\":64}]}],\"devices_per_floor\":[{\"device_list\":[{\"device_serial\":\"VNLSK9Y14H\",\"device_tag\":\"coverage_hole_ap\",\"device_type\":\"Access Point\"}],\"floor_id\":\"1.0\"}],\"impacted_ap_name\":\"BO-IND-AP04\",\"impacted_client_type_details\":[{\"impacted_client_details\":[{\"client_type\":\"Unclassified Device\",\"client_vendor\":\"Big Field Global PTE. Ltd.\",\"impacted_clients_count\":1,\"oui_year\":\"2023\"}],\"impacted_clients_per_client_type\":[{\"impacted_clients_count\":1,\"name\":\"Unclassified Device\"}],\"ssid\":\"IND-1X\"},{\"impacted_client_details\":[{\"client_type\":\"Sonos\",\"client_vendor\":\"Sonos, Inc.\",\"impacted_clients_count\":1,\"oui_year\":\"2020\"}],\"impacted_clients_per_client_type\":[{\"impacted_clients_count\":1,\"name\":\"Polycom IP Phone/Conference\"}],\"ssid\":\"IND-PSK\"}],\"impacted_client_type_details_description\":\"Clients impacted on access point: BO-IND-AP04\",\"impacted_clients_count\":19,\"recommendation\":\"Increase minimum transmit power of the AP Group:Radio Profile::Branch Offices IAP:default from 9dBm to 12dBm for 5GHz radio\",\"root_cause\":\"Low Downlink SNR for 5GHz radio\"}],\"analyzer_id\":\"75cdc36000ea11ed98cf1aed776dc866_18567345677_728_26030_2_1775607696334\",\"analyzer_type_id\":\"728\",\"coverage_hole_impact_summary\":[{\"coverage_hole_summary_detail\":{\"description\":\"Impacted APs\",\"downlink_2g_5g_coverage_hole\":0,\"downlink_2g_coverage_hole\":0,\"downlink_5g_coverage_hole\":1,\"healthy_minutes\":0,\"total_count\":2,\"uplink_coverage_hole\":1},\"coverage_hole_summary_type\":\"Impacted APs\"}],\"coverage_hole_network_impact\":[{\"coverage_description\":\"Check below for?network quality?in terms of signal-to-noise ratio (SNR) of the impacted access points relative to other access points in the site.\",\"coverage_type\":\"Overall SNR coverage\",\"proportion_of_client_minutes\":[{\"impacted_ap_proportion_of_client_minutes\":0,\"other_ap_proportion_of_client_minutes\":0,\"snr_inDB\":0}]},{\"coverage_description\":\"Check below for?network quality?in terms of downlink 5GHz signal-to-noise ratio (SNR) of the impacted access points relative to other access points across sites.\",\"coverage_type\":\"Downlink 5GHz SNR coverage\",\"proportion_of_client_minutes\":[{\"impacted_ap_proportion_of_client_minutes\":0,\"other_ap_proportion_of_client_minutes\":0,\"snr_inDB\":64}]},{\"coverage_description\":\"Check below for?network quality?in terms of uplink signal-to-noise ratio (SNR) of the impacted access points relative to other access points in the site.\",\"coverage_type\":\"Uplink SNR coverage\",\"proportion_of_client_minutes\":[{\"impacted_ap_proportion_of_client_minutes\":0,\"other_ap_proportion_of_client_minutes\":0,\"snr_inDB\":64}]}],\"devices_per_floor\":[{\"device_list\":[{\"device_serial\":\"VNLSK9Y14H\",\"device_tag\":\"coverage_hole_ap\",\"device_type\":\"Access Point\"}],\"floor_id\":\"1.0\"}],\"impacted_clients_per_site\":[{\"count\":38,\"name\":\"IWF-BAI01 - Bengaluru - Branch\",\"site_id\":\"18567345677\"}],\"impacted_devices_per_site\":[{\"count\":2,\"name\":\"IWF-BAI01 - Bengaluru - Branch\",\"site_id\":\"18567345677\"}],\"no_of_sites_w_recommendations\":1,\"schema_version\":\"v2\",\"site\":\"IWF-BAI01 - Bengaluru - Branch\",\"is_active\":true,\"user_allow_list\":[],\"derived_policy_rules\":[],\"derived_anomalies_upload\":[],\"derived_anomalies\":[],\"derived_anomalies_new_country_upload\":[],\"derived_anomalies_new_host_access\":[],\"derived_anomalies_excessive_host_access\":[],\"derived_anomalies_suspicious_protocols\":[],\"site_count\":1,\"impacted_app_per_site\":[],\"rollup\":[],\"dfs_channel_summary\":[],\"site_map\":[],\"swap_ap_action\":[],\"ap_coverage_score\":[],\"iap_config_11ax_feature_contrib\":[]}"
                    }
                  ],
                  "id": "network-notifications/v1/insights",
                  "type": "collection",
                  "count": 1
                }
              },
              "globalLevel": {
                "summary": "Global recommendations when site-id is omitted.",
                "value": {
                  "items": [
                    {
                      "id": "c539f92800ea11edbc10aa7fd39913ac_-1_702_5482_7_1770855661666",
                      "type": "network-notifications/insight",
                      "timestamp": "1770858000000",
                      "tenantId": "c539f92800ea11edbc10aa7fd39913ac",
                      "siteId": "-1",
                      "title": "Access Point Firmware Recommendation",
                      "description": "New firmware recommendation available for 9 access point(s). These upgrades provide new features and bug fixes.",
                      "category": "Wireless",
                      "insightId": "702",
                      "recordId": "c539f92800ea11edbc10aa7fd39913ac_-1_702_5482_7_1770855661666",
                      "impactedSites": [
                        {
                          "siteId": "165678616917",
                          "siteName": "Bengaluru (BLR) - Campus",
                          "impactedDeviceCount": 0,
                          "impactedClientCount": 0
                        }
                      ]
                    }
                  ],
                  "id": "network-notifications/v1/insights",
                  "type": "collection",
                  "count": 1
                }
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequestsErrorDetails"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedErrorDetails"
            }
          }
        }
      }
    },
    "headers": {
      "RetryAfter": {
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "example": 60
        },
        "description": "Number of seconds to wait before retrying the request."
      },
      "XRateLimitLimit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "XRateLimitRemaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "XRateLimitReset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
