{
  "openapi": "3.1.0",
  "info": {
    "title": "Notification Rules",
    "version": "1.0.0",
    "description": "This is a v1 release of the Notification platform APIs."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Notification Rules",
      "description": "APIs for managing notification rules."
    }
  ],
  "paths": {
    "/network-notifications/v1/notification-rules": {
      "get": {
        "summary": "List all notification rules",
        "tags": [
          "Notification Rules"
        ],
        "operationId": "getNotificationRulesV1",
        "description": "This API endpoint retrieves the list of notification rules. The notification rules list includes data source and destination channel details.\nNOTE: The source.alerts.alertCount field in responses is a summary count; use getNotificationRuleV1 to retrieve the full list of alertNames",
        "parameters": [
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/LimitParam"
            }
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/OffsetParam"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NotificationRules"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "post": {
        "summary": "Create a notification rule",
        "tags": [
          "Notification Rules"
        ],
        "operationId": "createNotificationRuleV1",
        "description": "This API is used to create a notification rule.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notificationRuleInput": {
                    "$ref": "#/components/schemas/NotificationRuleConfigInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/NotificationRuleCreated",
            "description": "Notification rule created successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-notifications/v1/notification-rules/{id}": {
      "get": {
        "summary": "Retrieve a notification rule by its ID",
        "tags": [
          "Notification Rules"
        ],
        "operationId": "getNotificationRuleV1",
        "description": "This API endpoint retrieves a notification rule based on the id provided. The notification rule includes data source and destination channel details.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the notification rule.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128,
              "example": "3f96ffea-73fe-4a9b-b253-ddc58c76fe25"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/NotificationRule"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a notification rule",
        "tags": [
          "Notification Rules"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the notification rule.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128,
              "example": "3f96ffea-73fe-4a9b-b253-ddc58c76fe25"
            }
          }
        ],
        "operationId": "deleteNotificationRuleV1",
        "description": "This API is used to delete a notification rule.",
        "responses": {
          "204": {
            "$ref": "#/components/responses/ResponseWithNoContent",
            "description": "Notification rule deleted successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "patch": {
        "summary": "Update a notification rule",
        "tags": [
          "Notification Rules"
        ],
        "operationId": "updateNotificationRuleV1",
        "description": "This API is used to update a notification rule.",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID of the notification rule.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 128,
              "example": "3f96ffea-73fe-4a9b-b253-ddc58c76fe25"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/merge-patch+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "notificationRuleInput": {
                    "$ref": "#/components/schemas/NotificationRuleUpdateInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/NotificationRule",
            "description": "Notification rule updated successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BadRequestErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "example": 400,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_BAD_REQUEST"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Invalid input received for notification rule."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "ConflictError": {
        "type": "object",
        "description": "Conflict Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 409,
            "maximum": 409,
            "description": "HTTP status code.",
            "example": 409
          },
          "errorCode": {
            "type": "string",
            "description": "Internal error code.",
            "maxLength": 256,
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_CONFLICT"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Conflict. The resource already exists."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "DebugId": {
        "type": "string",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting and debugging purposes.",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "ForbiddenErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": 403,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_FORBIDDEN"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Access forbidden."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "InternalServerErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Internal Server Error while processing the request."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "LimitParam": {
        "type": "integer",
        "description": "Specifies the number of results to be returned. (Default: 20)",
        "format": "int32",
        "default": 20,
        "minimum": 1,
        "maximum": 20,
        "example": 10
      },
      "NotFoundErrorDetails": {
        "type": "object",
        "description": "Not Found error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 404,
            "maximum": 404,
            "description": "HTTP status code.",
            "example": 404
          },
          "errorCode": {
            "type": "string",
            "description": "Internal error code.",
            "maxLength": 256,
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_NOT_FOUND"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Notification rule not found."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "NotificationRule": {
        "type": "object",
        "description": "Notification rule details.",
        "required": [
          "id",
          "type",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 128,
            "description": "Unique identifier of the notification rule.",
            "example": "3f96ffea-73fe-4a9b-b253-ddc58c76fe25"
          },
          "type": {
            "type": "string",
            "const": "network-notifications/notification-rule",
            "description": "Type identifier for the notification rule."
          },
          "name": {
            "type": "string",
            "maxLength": 128,
            "description": "Name of the notification rule.",
            "example": "email-rule"
          },
          "description": {
            "type": "string",
            "maxLength": 512,
            "description": "Description of the notification rule.",
            "example": "Notification rule for email alerts."
          },
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether the notification rule is enabled.",
            "example": true
          },
          "sourceTypes": {
            "type": "array",
            "description": "List of source types for the notification rule.",
            "items": {
              "type": "string",
              "enum": [
                "ALERTS"
              ]
            }
          },
          "source": {
            "$ref": "#/components/schemas/NotificationRuleSource"
          },
          "destination": {
            "$ref": "#/components/schemas/NotificationRuleDestination"
          }
        }
      },
      "NotificationRuleConfigInput": {
        "type": "object",
        "description": "Notification rule config input details.",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 128,
            "description": "Name of the notification rule.",
            "example": "email-rule"
          },
          "description": {
            "type": "string",
            "maxLength": 512,
            "description": "Description of the notification rule.",
            "example": "Notification rule for email alerts."
          },
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether the notification rule is enabled.",
            "example": true
          },
          "sourceTypes": {
            "type": "array",
            "description": "List of source types for the notification rule.",
            "items": {
              "type": "string",
              "enum": [
                "ALERTS"
              ]
            }
          },
          "source": {
            "$ref": "#/components/schemas/NotificationRuleSourceInput"
          },
          "destination": {
            "$ref": "#/components/schemas/NotificationRuleDestinationInput"
          }
        }
      },
      "NotificationRuleDestination": {
        "type": "object",
        "description": "Notification destination details for the notification rule.",
        "properties": {
          "email": {
            "$ref": "#/components/schemas/NotificationRuleDestinationEmail"
          },
          "webhook": {
            "$ref": "#/components/schemas/NotificationRuleDestinationWebhook"
          },
          "syslog": {
            "$ref": "#/components/schemas/NotificationRuleDestinationSyslog"
          }
        }
      },
      "NotificationRuleDestinationEmail": {
        "type": "object",
        "description": "Email destination details for the notification rule.",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether the email destination is enabled.",
            "example": true
          },
          "emailIds": {
            "type": "array",
            "description": "List of email addresses for the notification rule.",
            "items": {
              "type": "string",
              "format": "email",
              "maxLength": 256,
              "example": "admin@domain.com"
            }
          }
        }
      },
      "NotificationRuleDestinationEmailInput": {
        "type": "object",
        "description": "Email destination details for the notification rule.",
        "required": [
          "enabled"
        ],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether the email destination is enabled.",
            "example": true
          },
          "emailIds": {
            "type": "array",
            "description": "List of email addresses for the notification rule. \nNOTE: The contents of this field are ignored if email destination is not enabled.",
            "items": {
              "type": "string",
              "format": "email",
              "maxLength": 256,
              "example": "admin@domain.com"
            }
          }
        }
      },
      "NotificationRuleDestinationInput": {
        "type": "object",
        "description": "Notification destination details for the notification rule.\nNOTE: At least one of the destination types (email, webhook or syslog) should be enabled to create or update a notification rule.",
        "properties": {
          "email": {
            "$ref": "#/components/schemas/NotificationRuleDestinationEmailInput"
          },
          "webhook": {
            "$ref": "#/components/schemas/NotificationRuleDestinationWebhookInput"
          },
          "syslog": {
            "$ref": "#/components/schemas/NotificationRuleDestinationSyslogInput"
          }
        }
      },
      "NotificationRuleDestinationSyslog": {
        "type": "object",
        "description": "Syslog destination details for the notification rule.\nNOTE: Syslog destination is only supported in the Central On-Premise environment.",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether the syslog destination is enabled.",
            "example": true
          },
          "serverIds": {
            "type": "array",
            "description": "List of syslog server UUIDs for the notification rule.",
            "items": {
              "type": "string",
              "format": "uuid",
              "maxLength": 256,
              "example": "4d113fgh-abcd-ef"
            }
          }
        }
      },
      "NotificationRuleDestinationSyslogInput": {
        "type": "object",
        "description": "Syslog destination details for the notification rule.\nNOTE: Syslog destination is only supported in the Central On-Premise environment.",
        "required": [
          "enabled"
        ],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether the syslog destination is enabled.",
            "example": true
          },
          "serverIds": {
            "type": "array",
            "description": "List of syslog servers UUIDs for the notification rule.\nNOTE: The contents of this field are ignored if syslog destination is not enabled.",
            "items": {
              "type": "string",
              "format": "uuid",
              "maxLength": 256,
              "example": "4d113fgh-abcd-ef"
            }
          }
        }
      },
      "NotificationRuleDestinationWebhook": {
        "type": "object",
        "description": "Webhook destination details for the notification rule.",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether the webhook destination is enabled.",
            "example": true
          },
          "webhookIds": {
            "type": "array",
            "description": "List of webhook subscription UUIDs for the notification rule.",
            "items": {
              "type": "string",
              "format": "uuid",
              "maxLength": 512,
              "example": "4d113fgh-abcd-ef"
            }
          }
        }
      },
      "NotificationRuleDestinationWebhookInput": {
        "type": "object",
        "description": "Webhook destination details for the notification rule.",
        "required": [
          "enabled"
        ],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether the webhook destination is enabled.",
            "example": true
          },
          "webhookIds": {
            "type": "array",
            "description": "List of webhook subscription UUIDs for the notification rule.\n  The contents of this field are ignored if webhook destination is not enabled.\nNOTE: Check the Webhook API details for fetching the list of supported webhook subscription details.",
            "items": {
              "type": "string",
              "format": "uuid",
              "maxLength": 512,
              "example": "4d113fgh-abcd-ef"
            }
          }
        }
      },
      "NotificationRuleSource": {
        "type": "object",
        "description": "Data source details for the notification rule.",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/NotificationRuleSourceAlerts"
          }
        }
      },
      "NotificationRuleSourceAlerts": {
        "type": "object",
        "description": "Alert source details for the notification rule.",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether the alert source is enabled.",
            "example": true
          },
          "alertNames": {
            "type": "array",
            "description": "List of alert names for the notification rule.",
            "items": {
              "type": "string",
              "maxLength": 256,
              "example": "AP CPU Utilization"
            }
          },
          "minAlertSeverity": {
            "type": "string",
            "description": "Minimum alert severity for the notification rule.",
            "enum": [
              "CRITICAL",
              "MAJOR",
              "MINOR",
              "INFO"
            ]
          }
        }
      },
      "NotificationRuleSourceAlertsInput": {
        "type": "object",
        "description": "Alert source details for the notification rule.",
        "required": [
          "enabled",
          "alertNames"
        ],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether the alert source is enabled. \nNOTE: This field should be true to use alert source type. \n If this field is false, the notification rule will not be created.",
            "example": true
          },
          "alertNames": {
            "type": "array",
            "description": "List of alert names for the notification rule.\nNOTE: Check the Alerts configuration API details for fetching the list of supported alerts.",
            "items": {
              "type": "string",
              "maxLength": 256,
              "example": "AP CPU Utilization"
            }
          },
          "minAlertSeverity": {
            "type": "string",
            "description": "Minimum alert severity for the notification rule.",
            "enum": [
              "CRITICAL",
              "MAJOR",
              "MINOR",
              "INFO"
            ]
          }
        }
      },
      "NotificationRuleSourceAlertsSummary": {
        "type": "object",
        "description": "Alert source details for the notification rule.",
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether the alert source is enabled.",
            "example": true
          },
          "alertCount": {
            "type": "integer",
            "format": "int32",
            "description": "Count of alert names configured for the notification rule.",
            "minimum": 1,
            "maximum": 300,
            "example": 10
          },
          "minAlertSeverity": {
            "type": "string",
            "description": "Minimum alert severity for the notification rule.",
            "enum": [
              "CRITICAL",
              "MAJOR",
              "MINOR",
              "INFO"
            ]
          }
        }
      },
      "NotificationRuleSourceInput": {
        "type": "object",
        "description": "Data source details for the notification rule.",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/NotificationRuleSourceAlertsInput"
          }
        }
      },
      "NotificationRuleSourceSummary": {
        "type": "object",
        "description": "Data source details for the notification rule.",
        "properties": {
          "alerts": {
            "$ref": "#/components/schemas/NotificationRuleSourceAlertsSummary"
          }
        }
      },
      "NotificationRuleSummary": {
        "type": "object",
        "description": "Notification rule details.",
        "required": [
          "id",
          "type",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "maxLength": 128,
            "description": "Unique identifier of the notification rule.",
            "example": "3f96ffea-73fe-4a9b-b253-ddc58c76fe25"
          },
          "type": {
            "type": "string",
            "const": "network-notifications/notification-rule",
            "description": "Type identifier for the notification rule."
          },
          "name": {
            "type": "string",
            "maxLength": 128,
            "description": "Name of the notification rule.",
            "example": "email-rule"
          },
          "description": {
            "type": "string",
            "maxLength": 512,
            "description": "Description of the notification rule.",
            "example": "Notification rule for email alerts."
          },
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether the notification rule is enabled.",
            "example": true
          },
          "sourceTypes": {
            "type": "array",
            "description": "List of source types for the notification rule.",
            "items": {
              "type": "string",
              "enum": [
                "ALERTS"
              ]
            }
          },
          "source": {
            "$ref": "#/components/schemas/NotificationRuleSourceSummary"
          },
          "destination": {
            "$ref": "#/components/schemas/NotificationRuleDestination"
          }
        }
      },
      "NotificationRuleUpdateInput": {
        "type": "object",
        "description": "Notification rule config input details for Update operation.",
        "properties": {
          "description": {
            "type": "string",
            "maxLength": 512,
            "description": "Description of the notification rule.",
            "example": "Notification rule for email alerts."
          },
          "enabled": {
            "type": "boolean",
            "description": "Indicates whether the notification rule is enabled.",
            "example": true
          },
          "sourceTypes": {
            "type": "array",
            "description": "List of source types for the notification rule.",
            "items": {
              "type": "string",
              "enum": [
                "ALERTS"
              ]
            }
          },
          "source": {
            "$ref": "#/components/schemas/NotificationRuleSourceInput"
          },
          "destination": {
            "$ref": "#/components/schemas/NotificationRuleDestinationInput"
          }
        }
      },
      "NotificationRules": {
        "allOf": [
          {
            "type": "object",
            "description": "Notification rule details",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "description": "List of notification rules.",
                "items": {
                  "$ref": "#/components/schemas/NotificationRuleSummary"
                }
              }
            }
          },
          {
            "$ref": "#/components/schemas/PaginationResponseProperties"
          }
        ]
      },
      "OffsetParam": {
        "type": "integer",
        "description": "Specifies the zero-based resource offset from which to start the response.",
        "format": "int32",
        "default": 0,
        "minimum": 0,
        "maximum": 19,
        "example": 10
      },
      "PaginationResponseProperties": {
        "type": "object",
        "required": [
          "count",
          "total",
          "offset"
        ],
        "description": "Fields appended to a list to facilitate paging.",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 20,
            "description": "The number of objects returned in the current list.",
            "example": 1
          },
          "total": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 20,
            "description": "The total number of objects contained in the datastore.",
            "example": 1
          },
          "offset": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 19,
            "description": "The offset index to start returning results from in offset-based pagination. Set to null when no more pages remain.",
            "example": 1
          }
        }
      },
      "TooManyRequestsErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": 429,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_TOO_MANY_REQUESTS"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Too Many Requests. Rate limit exceeded."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "UnauthorizedErrorDetails": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "example": 401,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_UNAUTHORIZED"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Unauthorized request."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "UnprocessableEntityErrorDetails": {
        "type": "object",
        "description": "Error details returned when semantic validation fails (e.g., invalid email format, unknown alertName).",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 422,
            "maximum": 422,
            "example": 422,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "maxLength": 128,
            "description": "Internal error code.",
            "example": "HPE_GL_NETWORK_NOTIFICATIONS_UNPROCESSABLE_ENTITY"
          },
          "message": {
            "type": "string",
            "maxLength": 512,
            "description": "Error message indicating the cause of the failure.",
            "example": "Unprocessable Entity. The request was well-formed but failed semantic validation."
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Invalid input received.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestErrorDetails"
            }
          }
        }
      },
      "ConflictError": {
        "description": "Conflict. The resource already exists.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ConflictError"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden. Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenErrorDetails"
            }
          }
        }
      },
      "InternalServerError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerErrorDetails"
            }
          }
        }
      },
      "NotFoundError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundErrorDetails"
            }
          }
        }
      },
      "NotificationRule": {
        "description": "Notification rule.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotificationRule"
            }
          }
        }
      },
      "NotificationRuleCreated": {
        "description": "Notification rule created successfully.",
        "headers": {
          "Location": {
            "schema": {
              "type": "string",
              "format": "uri",
              "example": "/network-notifications/v1/notification-rules/3f96ffea-73fe-4a9b-b253-ddc58c76fe25"
            },
            "description": "URI of the newly created notification rule."
          },
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotificationRule"
            }
          }
        }
      },
      "NotificationRules": {
        "description": "List of notification rules.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotificationRules"
            }
          }
        }
      },
      "ResponseWithNoContent": {
        "description": "Operation completed successfully with no response.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/RetryAfter"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequestsErrorDetails"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedErrorDetails"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable Entity. The request was well-formed but failed semantic validation.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnprocessableEntityErrorDetails"
            }
          }
        }
      }
    },
    "headers": {
      "RetryAfter": {
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "example": 60
        },
        "description": "Number of seconds to wait before retrying the request."
      },
      "XRateLimitLimit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "XRateLimitRemaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "XRateLimitReset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
