{
  "openapi": "3.1.0",
  "info": {
    "title": "Alias",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Alias"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/aliases": {
      "get": {
        "description": "Top level container for Aliases.",
        "operationId": "readAliases",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAlias_AliasesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read aliases",
        "tags": [
          "Alias"
        ],
        "x-cliParam": {
          "commandName": "readAliasesCmd",
          "commandUse": "aliases",
          "parentCommand": "readCmd",
          "pathToPrint": "/aliases/",
          "summary": "Read operation for aliases"
        }
      }
    },
    "/network-config/v1alpha1/aliases/{name}": {
      "get": {
        "description": "List of Aliases.",
        "operationId": "readAliasesAliasByID",
        "parameters": [
          {
            "description": "The name of the Alias.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaAlias_AliasesaliasSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read alias by name",
        "tags": [
          "Alias"
        ],
        "x-cliParam": {
          "commandName": "readAliasesAliasCmd",
          "commandUse": "alias",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readAliasesCmd",
          "pathToPrint": "/aliases/alias/%s/",
          "summary": "Read operation for alias",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of Aliases.",
        "operationId": "replaceAliasesAliasByID",
        "parameters": [
          {
            "description": "The name of the Alias.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAlias_AliasesaliasSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace alias by name",
        "tags": [
          "Alias"
        ],
        "x-cliParam": {
          "commandName": "replaceAliasesAliasCmd",
          "commandUse": "alias",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceAliasesCmd",
          "pathToPrint": "/aliases/alias/%s/",
          "summary": "Replace operation for alias",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of Aliases.",
        "operationId": "createAliasesAliasByID",
        "parameters": [
          {
            "description": "The name of the Alias.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAlias_AliasesaliasSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create alias by name",
        "tags": [
          "Alias"
        ],
        "x-cliParam": {
          "commandName": "createAliasesAliasCmd",
          "commandUse": "alias",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createAliasesCmd",
          "pathToPrint": "/aliases/alias/%s/",
          "summary": "Create operation for alias",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of Aliases.",
        "operationId": "deleteAliasesAliasByID",
        "parameters": [
          {
            "description": "The name of the Alias.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete alias by name",
        "tags": [
          "Alias"
        ],
        "x-cliParam": {
          "commandName": "deleteAliasesAliasCmd",
          "commandUse": "alias",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteAliasesCmd",
          "pathToPrint": "/aliases/alias/%s/",
          "summary": "Delete operation for alias",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of Aliases.",
        "operationId": "updateAliasesAliasByID",
        "parameters": [
          {
            "description": "The name of the Alias.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaAlias_AliasesaliasSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update alias by name",
        "tags": [
          "Alias"
        ],
        "x-cliParam": {
          "commandName": "updateAliasesAliasCmd",
          "commandUse": "alias",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateAliasesCmd",
          "pathToPrint": "/aliases/alias/%s/",
          "summary": "Update operation for alias",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaAlias_AliasesSchemaGET": {
        "description": "Top level container for Aliases.",
        "properties": {
          "alias": {
            "description": "List of Aliases.",
            "items": {
              "properties": {
                "default-value": {
                  "description": "Default value for alias.",
                  "properties": {
                    "allow-new-aps-value": {
                      "description": "Defines virtual controller ipv6 address alias value.",
                      "properties": {
                        "allow-new-aps": {
                          "description": "Allows the new access points to join the AP cluster.",
                          "type": "boolean"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "antenna-pol": {
                      "description": "AP antenna polarization alias value.",
                      "properties": {
                        "polarization": {
                          "description": "Antenna polarization value. Range: 0 or 1.",
                          "format": "int32",
                          "maximum": 1,
                          "minimum": 0,
                          "type": "integer"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "bfd-echo-source-address": {
                      "description": "BFD echo source address defined",
                      "properties": {
                        "name": {
                          "description": "BFD echo source address.",
                          "oneOf": [
                            {
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "ipv4-address",
                              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                            },
                            {
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "ipv6-address",
                              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                              "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                            }
                          ]
                        }
                      }
                    },
                    "channel-for-2dot4GHz": {
                      "description": "AP static channel alias value for 2.4GHz radio.",
                      "properties": {
                        "channel": {
                          "description": "Static channel for 2.4GHz radio. The valid channels are determined by the AP regulatory domain.",
                          "oneOf": [
                            {
                              "enum": [
                                "CHAN_1",
                                "CHAN_2",
                                "CHAN_3",
                                "CHAN_4",
                                "CHAN_5",
                                "CHAN_6",
                                "CHAN_7",
                                "CHAN_8",
                                "CHAN_9",
                                "CHAN_10",
                                "CHAN_11",
                                "CHAN_12",
                                "CHAN_13",
                                "CHAN_14"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_1": "channel 1",
                                "CHAN_10": "channel 10",
                                "CHAN_11": "channel 11",
                                "CHAN_12": "channel 12",
                                "CHAN_13": "channel 13",
                                "CHAN_14": "channel 14",
                                "CHAN_2": "channel 2",
                                "CHAN_3": "channel 3",
                                "CHAN_4": "channel 4",
                                "CHAN_5": "channel 5",
                                "CHAN_6": "channel 6",
                                "CHAN_7": "channel 7",
                                "CHAN_8": "channel 8",
                                "CHAN_9": "channel 9"
                              },
                              "x-typeDescription": "2.4GHz radio channel list"
                            },
                            {
                              "enum": [
                                "CHAN_1P",
                                "CHAN_2P",
                                "CHAN_3P",
                                "CHAN_4P",
                                "CHAN_5P",
                                "CHAN_6P",
                                "CHAN_7P",
                                "CHAN_8P",
                                "CHAN_9P"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_1P": "channel 1+",
                                "CHAN_2P": "channel 2+",
                                "CHAN_3P": "channel 3+",
                                "CHAN_4P": "channel 4+",
                                "CHAN_5P": "channel 5+",
                                "CHAN_6P": "channel 6+",
                                "CHAN_7P": "channel 7+",
                                "CHAN_8P": "channel 8+",
                                "CHAN_9P": "channel 9+"
                              },
                              "x-typeDescription": "2.4GHz radio 40MHz channel list"
                            },
                            {
                              "enum": [
                                "ZERO_CHAN_FOR_24GHZ"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "ZERO_CHAN_FOR_24GHZ": "0 is auto"
                              },
                              "x-typeDescription": "Channel 0 for 2.4GHz channel-list"
                            }
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "channel-for-2nd-5GHz": {
                      "description": "AP static channel alias value for secondary 5GHz radio.",
                      "properties": {
                        "channel": {
                          "description": "Static channel for secondary 5GHz radio. The valid channels are determined by the AP regulatory domain.",
                          "oneOf": [
                            {
                              "enum": [
                                "CHAN_36",
                                "CHAN_40",
                                "CHAN_44",
                                "CHAN_48",
                                "CHAN_52",
                                "CHAN_56",
                                "CHAN_60",
                                "CHAN_64",
                                "CHAN_100",
                                "CHAN_104",
                                "CHAN_108",
                                "CHAN_112",
                                "CHAN_116",
                                "CHAN_120",
                                "CHAN_124",
                                "CHAN_128",
                                "CHAN_132",
                                "CHAN_136",
                                "CHAN_140",
                                "CHAN_144",
                                "CHAN_149",
                                "CHAN_153",
                                "CHAN_157",
                                "CHAN_161",
                                "CHAN_165",
                                "CHAN_169",
                                "CHAN_173",
                                "CHAN_177"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_100": "channel 100",
                                "CHAN_104": "channel 104",
                                "CHAN_108": "channel 108",
                                "CHAN_112": "channel 112",
                                "CHAN_116": "channel 116",
                                "CHAN_120": "channel 120",
                                "CHAN_124": "channel 124",
                                "CHAN_128": "channel 128",
                                "CHAN_132": "channel 132",
                                "CHAN_136": "channel 136",
                                "CHAN_140": "channel 140",
                                "CHAN_144": "channel 144",
                                "CHAN_149": "channel 149",
                                "CHAN_153": "channel 153",
                                "CHAN_157": "channel 157",
                                "CHAN_161": "channel 161",
                                "CHAN_165": "channel 165",
                                "CHAN_169": "channel 169",
                                "CHAN_173": "channel 173",
                                "CHAN_177": "channel 177",
                                "CHAN_36": "channel 36",
                                "CHAN_40": "channel 40",
                                "CHAN_44": "channel 44",
                                "CHAN_48": "channel 48",
                                "CHAN_52": "channel 52",
                                "CHAN_56": "channel 56",
                                "CHAN_60": "channel 60",
                                "CHAN_64": "channel 64"
                              },
                              "x-typeDescription": "5GHz radio channel list"
                            },
                            {
                              "enum": [
                                "CHAN_36P",
                                "CHAN_44P",
                                "CHAN_52P",
                                "CHAN_60P",
                                "CHAN_100P",
                                "CHAN_108P",
                                "CHAN_116P",
                                "CHAN_124P",
                                "CHAN_132P",
                                "CHAN_140P",
                                "CHAN_149P",
                                "CHAN_157P",
                                "CHAN_165P",
                                "CHAN_173P"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_100P": "channel 100+",
                                "CHAN_108P": "channel 108+",
                                "CHAN_116P": "channel 116+",
                                "CHAN_124P": "channel 124+",
                                "CHAN_132P": "channel 132+",
                                "CHAN_140P": "channel 140+",
                                "CHAN_149P": "channel 149+",
                                "CHAN_157P": "channel 157+",
                                "CHAN_165P": "channel 165+",
                                "CHAN_173P": "channel 173+",
                                "CHAN_36P": "channel 36+",
                                "CHAN_44P": "channel 44+",
                                "CHAN_52P": "channel 52+",
                                "CHAN_60P": "channel 60+"
                              },
                              "x-typeDescription": "5GHz radio 40MHz channel list"
                            },
                            {
                              "enum": [
                                "CHAN_36E",
                                "CHAN_52E",
                                "CHAN_100E",
                                "CHAN_116E",
                                "CHAN_132E",
                                "CHAN_149E",
                                "CHAN_165E"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_100E": "channel 100E",
                                "CHAN_116E": "channel 116E",
                                "CHAN_132E": "channel 132E",
                                "CHAN_149E": "channel 149E",
                                "CHAN_165E": "channel 165E",
                                "CHAN_36E": "channel 36E",
                                "CHAN_52E": "channel 52E"
                              },
                              "x-typeDescription": "5GHz radio 80MHz channel list"
                            },
                            {
                              "enum": [
                                "CHAN_36S",
                                "CHAN_100S",
                                "CHAN_149S"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_100S": "channel 100S",
                                "CHAN_149S": "channel 149S",
                                "CHAN_36S": "channel 36S"
                              },
                              "x-typeDescription": "5GHz radio 160MHz channel list"
                            },
                            {
                              "enum": [
                                "CHAN_36E_P_100E",
                                "CHAN_36E_P_116E",
                                "CHAN_36E_P_132E",
                                "CHAN_36E_P_149E",
                                "CHAN_36E_P_165E",
                                "CHAN_52E_P_100E",
                                "CHAN_52E_P_116E",
                                "CHAN_52E_P_132E",
                                "CHAN_52E_P_149E",
                                "CHAN_52E_P_165E",
                                "CHAN_100E_P_132E",
                                "CHAN_100E_P_149E",
                                "CHAN_100E_P_165E",
                                "CHAN_116E_P_149E",
                                "CHAN_116E_P_165E",
                                "CHAN_132E_P_165E"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_100E_P_132E": "channel 100E+132E",
                                "CHAN_100E_P_149E": "channel 100E+149E",
                                "CHAN_100E_P_165E": "channel 100E+165E",
                                "CHAN_116E_P_149E": "channel 116E+149E",
                                "CHAN_116E_P_165E": "channel 116E+165E",
                                "CHAN_132E_P_165E": "channel 132E+165E",
                                "CHAN_36E_P_100E": "channel 36E+100E",
                                "CHAN_36E_P_116E": "channel 36E+116E",
                                "CHAN_36E_P_132E": "channel 36E+132E",
                                "CHAN_36E_P_149E": "channel 36E+149E",
                                "CHAN_36E_P_165E": "channel 36E+165E",
                                "CHAN_52E_P_100E": "channel 52E+100E",
                                "CHAN_52E_P_116E": "channel 52E+116E",
                                "CHAN_52E_P_132E": "channel 52E+132E",
                                "CHAN_52E_P_149E": "channel 52E+149E",
                                "CHAN_52E_P_165E": "channel 52E+165E"
                              },
                              "x-typeDescription": "5GHz radio 80MHz plus 80MHz channel list"
                            },
                            {
                              "enum": [
                                "ZERO_CHAN_FOR_5GHZ"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "ZERO_CHAN_FOR_5GHZ": "0 is auto"
                              },
                              "x-typeDescription": "Channel 0 for 5GHz channel-list"
                            }
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "channel-for-2nd-6GHz": {
                      "description": "AP static channel alias value for secondary 6GHz radio.",
                      "properties": {
                        "channel": {
                          "description": "Static channel for secondary 6GHz radio. The valid channels are determined by the AP regulatory domain.",
                          "oneOf": [
                            {
                              "enum": [
                                "CHAN_5_6GHZ_20MHz",
                                "CHAN_21_6GHZ_20MHz",
                                "CHAN_37_6GHZ_20MHz",
                                "CHAN_53_6GHZ_20MHz",
                                "CHAN_69_6GHZ_20MHz",
                                "CHAN_85_6GHZ_20MHz",
                                "CHAN_101_6GHZ_20MHz",
                                "CHAN_117_6GHZ_20MHz",
                                "CHAN_133_6GHZ_20MHz",
                                "CHAN_149_6GHZ_20MHz",
                                "CHAN_165_6GHZ_20MHz",
                                "CHAN_181_6GHZ_20MHz",
                                "CHAN_197_6GHZ_20MHz",
                                "CHAN_213_6GHZ_20MHz",
                                "CHAN_229_6GHZ_20MHz"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_101_6GHZ_20MHz": "6GHz channel 101",
                                "CHAN_117_6GHZ_20MHz": "6GHz channel 117",
                                "CHAN_133_6GHZ_20MHz": "6GHz channel 133",
                                "CHAN_149_6GHZ_20MHz": "6GHz channel 149",
                                "CHAN_165_6GHZ_20MHz": "6GHz channel 165",
                                "CHAN_181_6GHZ_20MHz": "6GHz channel 181",
                                "CHAN_197_6GHZ_20MHz": "6GHz channel 197",
                                "CHAN_213_6GHZ_20MHz": "6GHz channel 213",
                                "CHAN_21_6GHZ_20MHz": "6GHz channel 21",
                                "CHAN_229_6GHZ_20MHz": "6GHz channel 229",
                                "CHAN_37_6GHZ_20MHz": "6GHz channel 37",
                                "CHAN_53_6GHZ_20MHz": "6GHz channel 53",
                                "CHAN_5_6GHZ_20MHz": "6GHz channel 5",
                                "CHAN_69_6GHZ_20MHz": "6GHz channel 69",
                                "CHAN_85_6GHZ_20MHz": "6GHz channel 85"
                              },
                              "x-typeDescription": "6GHz radio psc channel list"
                            },
                            {
                              "enum": [
                                "CHAN_5_6GHZ_40MHz",
                                "CHAN_21_6GHZ_40MHz",
                                "CHAN_37_6GHZ_40MHz",
                                "CHAN_53_6GHZ_40MHz",
                                "CHAN_69_6GHZ_40MHz",
                                "CHAN_85_6GHZ_40MHz",
                                "CHAN_101_6GHZ_40MHz",
                                "CHAN_117_6GHZ_40MHz",
                                "CHAN_133_6GHZ_40MHz",
                                "CHAN_149_6GHZ_40MHz",
                                "CHAN_165_6GHZ_40MHz",
                                "CHAN_181_6GHZ_40MHz",
                                "CHAN_197_6GHZ_40MHz",
                                "CHAN_213_6GHZ_40MHz",
                                "CHAN_229_6GHZ_40MHz"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_101_6GHZ_40MHz": "6GHz channel 101-",
                                "CHAN_117_6GHZ_40MHz": "6GHz channel 117-",
                                "CHAN_133_6GHZ_40MHz": "6GHz channel 133-",
                                "CHAN_149_6GHZ_40MHz": "6GHz channel 149-",
                                "CHAN_165_6GHZ_40MHz": "6GHz channel 165-",
                                "CHAN_181_6GHZ_40MHz": "6GHz channel 181-",
                                "CHAN_197_6GHZ_40MHz": "6GHz channel 197-",
                                "CHAN_213_6GHZ_40MHz": "6GHz channel 213-",
                                "CHAN_21_6GHZ_40MHz": "6GHz channel 21-",
                                "CHAN_229_6GHZ_40MHz": "6GHz channel 229-",
                                "CHAN_37_6GHZ_40MHz": "6GHz channel 37-",
                                "CHAN_53_6GHZ_40MHz": "6GHz channel 53-",
                                "CHAN_5_6GHZ_40MHz": "6GHz channel 5-",
                                "CHAN_69_6GHZ_40MHz": "6GHz channel 69-",
                                "CHAN_85_6GHZ_40MHz": "6GHz channel 85-"
                              },
                              "x-typeDescription": "6GHz radio 40MHz channel list"
                            },
                            {
                              "enum": [
                                "CHAN_5_6GHZ_80MHz",
                                "CHAN_21_6GHZ_80MHz",
                                "CHAN_37_6GHZ_80MHz",
                                "CHAN_53_6GHZ_80MHz",
                                "CHAN_69_6GHZ_80MHz",
                                "CHAN_85_6GHZ_80MHz",
                                "CHAN_101_6GHZ_80MHz",
                                "CHAN_117_6GHZ_80MHz",
                                "CHAN_133_6GHZ_80MHz",
                                "CHAN_149_6GHZ_80MHz",
                                "CHAN_165_6GHZ_80MHz",
                                "CHAN_181_6GHZ_80MHz",
                                "CHAN_197_6GHZ_80MHz",
                                "CHAN_213_6GHZ_80MHz"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_101_6GHZ_80MHz": "6GHz channel 101E",
                                "CHAN_117_6GHZ_80MHz": "6GHz channel 117E",
                                "CHAN_133_6GHZ_80MHz": "6GHz channel 133E",
                                "CHAN_149_6GHZ_80MHz": "6GHz channel 149E",
                                "CHAN_165_6GHZ_80MHz": "6GHz channel 165E",
                                "CHAN_181_6GHZ_80MHz": "6GHz channel 181E",
                                "CHAN_197_6GHZ_80MHz": "6GHz channel 197E",
                                "CHAN_213_6GHZ_80MHz": "6GHz channel 213E",
                                "CHAN_21_6GHZ_80MHz": "6GHz channel 21E",
                                "CHAN_37_6GHZ_80MHz": "6GHz channel 37E",
                                "CHAN_53_6GHZ_80MHz": "6GHz channel 53E",
                                "CHAN_5_6GHZ_80MHz": "6GHz channel 5E",
                                "CHAN_69_6GHZ_80MHz": "6GHz channel 69E",
                                "CHAN_85_6GHZ_80MHz": "6GHz channel 85E"
                              },
                              "x-typeDescription": "6GHz radio 80MHz channel list"
                            },
                            {
                              "enum": [
                                "CHAN_5_6GHZ_160MHz",
                                "CHAN_37_6GHZ_160MHz",
                                "CHAN_69_6GHZ_160MHz",
                                "CHAN_101_6GHZ_160MHz",
                                "CHAN_133_6GHZ_160MHz",
                                "CHAN_165_6GHZ_160MHz",
                                "CHAN_197_6GHZ_160MHz"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_101_6GHZ_160MHz": "6GHz channel 101S",
                                "CHAN_133_6GHZ_160MHz": "6GHz channel 133S",
                                "CHAN_165_6GHZ_160MHz": "6GHz channel 165S",
                                "CHAN_197_6GHZ_160MHz": "6GHz channel 197S",
                                "CHAN_37_6GHZ_160MHz": "6GHz channel 37S",
                                "CHAN_5_6GHZ_160MHz": "6GHz channel 5S",
                                "CHAN_69_6GHZ_160MHz": "6GHz channel 69S"
                              },
                              "x-typeDescription": "6GHz radio 160MHz channel list"
                            },
                            {
                              "enum": [
                                "CHAN_5_6GHZ_320MHz_1",
                                "CHAN_69_6GHZ_320MHz_1",
                                "CHAN_133_6GHZ_320MHz_1"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_133_6GHZ_320MHz_1": "6GHz channel 133T-",
                                "CHAN_5_6GHZ_320MHz_1": "6GHz channel 5T-",
                                "CHAN_69_6GHZ_320MHz_1": "6GHz channel 69T-"
                              },
                              "x-typeDescription": "6GHz radio 320MHz-1 channel list"
                            },
                            {
                              "enum": [
                                "CHAN_37_6GHZ_320MHz_2",
                                "CHAN_101_6GHZ_320MHz_2",
                                "CHAN_165_6GHZ_320MHz_2"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_101_6GHZ_320MHz_2": "6GHz channel 101T+",
                                "CHAN_165_6GHZ_320MHz_2": "6GHz channel 165T+",
                                "CHAN_37_6GHZ_320MHz_2": "6GHz channel 37T+"
                              },
                              "x-typeDescription": "6GHz radio 320MHz-2 channel list"
                            },
                            {
                              "enum": [
                                "ZERO_CHAN_FOR_6GHZ"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "ZERO_CHAN_FOR_6GHZ": "0 is auto"
                              },
                              "x-typeDescription": "Channel 0 for 2.4GHz channel-list"
                            }
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "channel-for-5GHz": {
                      "description": "AP static channel alias value for 5GHz radio.",
                      "properties": {
                        "channel": {
                          "description": "Static channel for 5GHz radio. The valid channels are determined by the AP regulatory domain.",
                          "oneOf": [
                            {
                              "enum": [
                                "CHAN_36",
                                "CHAN_40",
                                "CHAN_44",
                                "CHAN_48",
                                "CHAN_52",
                                "CHAN_56",
                                "CHAN_60",
                                "CHAN_64",
                                "CHAN_100",
                                "CHAN_104",
                                "CHAN_108",
                                "CHAN_112",
                                "CHAN_116",
                                "CHAN_120",
                                "CHAN_124",
                                "CHAN_128",
                                "CHAN_132",
                                "CHAN_136",
                                "CHAN_140",
                                "CHAN_144",
                                "CHAN_149",
                                "CHAN_153",
                                "CHAN_157",
                                "CHAN_161",
                                "CHAN_165",
                                "CHAN_169",
                                "CHAN_173",
                                "CHAN_177"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_100": "channel 100",
                                "CHAN_104": "channel 104",
                                "CHAN_108": "channel 108",
                                "CHAN_112": "channel 112",
                                "CHAN_116": "channel 116",
                                "CHAN_120": "channel 120",
                                "CHAN_124": "channel 124",
                                "CHAN_128": "channel 128",
                                "CHAN_132": "channel 132",
                                "CHAN_136": "channel 136",
                                "CHAN_140": "channel 140",
                                "CHAN_144": "channel 144",
                                "CHAN_149": "channel 149",
                                "CHAN_153": "channel 153",
                                "CHAN_157": "channel 157",
                                "CHAN_161": "channel 161",
                                "CHAN_165": "channel 165",
                                "CHAN_169": "channel 169",
                                "CHAN_173": "channel 173",
                                "CHAN_177": "channel 177",
                                "CHAN_36": "channel 36",
                                "CHAN_40": "channel 40",
                                "CHAN_44": "channel 44",
                                "CHAN_48": "channel 48",
                                "CHAN_52": "channel 52",
                                "CHAN_56": "channel 56",
                                "CHAN_60": "channel 60",
                                "CHAN_64": "channel 64"
                              },
                              "x-typeDescription": "5GHz radio channel list"
                            },
                            {
                              "enum": [
                                "CHAN_36P",
                                "CHAN_44P",
                                "CHAN_52P",
                                "CHAN_60P",
                                "CHAN_100P",
                                "CHAN_108P",
                                "CHAN_116P",
                                "CHAN_124P",
                                "CHAN_132P",
                                "CHAN_140P",
                                "CHAN_149P",
                                "CHAN_157P",
                                "CHAN_165P",
                                "CHAN_173P"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_100P": "channel 100+",
                                "CHAN_108P": "channel 108+",
                                "CHAN_116P": "channel 116+",
                                "CHAN_124P": "channel 124+",
                                "CHAN_132P": "channel 132+",
                                "CHAN_140P": "channel 140+",
                                "CHAN_149P": "channel 149+",
                                "CHAN_157P": "channel 157+",
                                "CHAN_165P": "channel 165+",
                                "CHAN_173P": "channel 173+",
                                "CHAN_36P": "channel 36+",
                                "CHAN_44P": "channel 44+",
                                "CHAN_52P": "channel 52+",
                                "CHAN_60P": "channel 60+"
                              },
                              "x-typeDescription": "5GHz radio 40MHz channel list"
                            },
                            {
                              "enum": [
                                "CHAN_36E",
                                "CHAN_52E",
                                "CHAN_100E",
                                "CHAN_116E",
                                "CHAN_132E",
                                "CHAN_149E",
                                "CHAN_165E"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_100E": "channel 100E",
                                "CHAN_116E": "channel 116E",
                                "CHAN_132E": "channel 132E",
                                "CHAN_149E": "channel 149E",
                                "CHAN_165E": "channel 165E",
                                "CHAN_36E": "channel 36E",
                                "CHAN_52E": "channel 52E"
                              },
                              "x-typeDescription": "5GHz radio 80MHz channel list"
                            },
                            {
                              "enum": [
                                "CHAN_36S",
                                "CHAN_100S",
                                "CHAN_149S"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_100S": "channel 100S",
                                "CHAN_149S": "channel 149S",
                                "CHAN_36S": "channel 36S"
                              },
                              "x-typeDescription": "5GHz radio 160MHz channel list"
                            },
                            {
                              "enum": [
                                "CHAN_36E_P_100E",
                                "CHAN_36E_P_116E",
                                "CHAN_36E_P_132E",
                                "CHAN_36E_P_149E",
                                "CHAN_36E_P_165E",
                                "CHAN_52E_P_100E",
                                "CHAN_52E_P_116E",
                                "CHAN_52E_P_132E",
                                "CHAN_52E_P_149E",
                                "CHAN_52E_P_165E",
                                "CHAN_100E_P_132E",
                                "CHAN_100E_P_149E",
                                "CHAN_100E_P_165E",
                                "CHAN_116E_P_149E",
                                "CHAN_116E_P_165E",
                                "CHAN_132E_P_165E"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_100E_P_132E": "channel 100E+132E",
                                "CHAN_100E_P_149E": "channel 100E+149E",
                                "CHAN_100E_P_165E": "channel 100E+165E",
                                "CHAN_116E_P_149E": "channel 116E+149E",
                                "CHAN_116E_P_165E": "channel 116E+165E",
                                "CHAN_132E_P_165E": "channel 132E+165E",
                                "CHAN_36E_P_100E": "channel 36E+100E",
                                "CHAN_36E_P_116E": "channel 36E+116E",
                                "CHAN_36E_P_132E": "channel 36E+132E",
                                "CHAN_36E_P_149E": "channel 36E+149E",
                                "CHAN_36E_P_165E": "channel 36E+165E",
                                "CHAN_52E_P_100E": "channel 52E+100E",
                                "CHAN_52E_P_116E": "channel 52E+116E",
                                "CHAN_52E_P_132E": "channel 52E+132E",
                                "CHAN_52E_P_149E": "channel 52E+149E",
                                "CHAN_52E_P_165E": "channel 52E+165E"
                              },
                              "x-typeDescription": "5GHz radio 80MHz plus 80MHz channel list"
                            },
                            {
                              "enum": [
                                "ZERO_CHAN_FOR_5GHZ"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "ZERO_CHAN_FOR_5GHZ": "0 is auto"
                              },
                              "x-typeDescription": "Channel 0 for 5GHz channel-list"
                            }
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "channel-for-6GHz": {
                      "description": "AP static channel alias value for 6GHz radio.",
                      "properties": {
                        "channel": {
                          "description": "Static channel for 6GHz radio. The valid channels are determined by the AP regulatory domain.",
                          "oneOf": [
                            {
                              "enum": [
                                "CHAN_5_6GHZ_20MHz",
                                "CHAN_21_6GHZ_20MHz",
                                "CHAN_37_6GHZ_20MHz",
                                "CHAN_53_6GHZ_20MHz",
                                "CHAN_69_6GHZ_20MHz",
                                "CHAN_85_6GHZ_20MHz",
                                "CHAN_101_6GHZ_20MHz",
                                "CHAN_117_6GHZ_20MHz",
                                "CHAN_133_6GHZ_20MHz",
                                "CHAN_149_6GHZ_20MHz",
                                "CHAN_165_6GHZ_20MHz",
                                "CHAN_181_6GHZ_20MHz",
                                "CHAN_197_6GHZ_20MHz",
                                "CHAN_213_6GHZ_20MHz",
                                "CHAN_229_6GHZ_20MHz"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_101_6GHZ_20MHz": "6GHz channel 101",
                                "CHAN_117_6GHZ_20MHz": "6GHz channel 117",
                                "CHAN_133_6GHZ_20MHz": "6GHz channel 133",
                                "CHAN_149_6GHZ_20MHz": "6GHz channel 149",
                                "CHAN_165_6GHZ_20MHz": "6GHz channel 165",
                                "CHAN_181_6GHZ_20MHz": "6GHz channel 181",
                                "CHAN_197_6GHZ_20MHz": "6GHz channel 197",
                                "CHAN_213_6GHZ_20MHz": "6GHz channel 213",
                                "CHAN_21_6GHZ_20MHz": "6GHz channel 21",
                                "CHAN_229_6GHZ_20MHz": "6GHz channel 229",
                                "CHAN_37_6GHZ_20MHz": "6GHz channel 37",
                                "CHAN_53_6GHZ_20MHz": "6GHz channel 53",
                                "CHAN_5_6GHZ_20MHz": "6GHz channel 5",
                                "CHAN_69_6GHZ_20MHz": "6GHz channel 69",
                                "CHAN_85_6GHZ_20MHz": "6GHz channel 85"
                              },
                              "x-typeDescription": "6GHz radio psc channel list"
                            },
                            {
                              "enum": [
                                "CHAN_5_6GHZ_40MHz",
                                "CHAN_21_6GHZ_40MHz",
                                "CHAN_37_6GHZ_40MHz",
                                "CHAN_53_6GHZ_40MHz",
                                "CHAN_69_6GHZ_40MHz",
                                "CHAN_85_6GHZ_40MHz",
                                "CHAN_101_6GHZ_40MHz",
                                "CHAN_117_6GHZ_40MHz",
                                "CHAN_133_6GHZ_40MHz",
                                "CHAN_149_6GHZ_40MHz",
                                "CHAN_165_6GHZ_40MHz",
                                "CHAN_181_6GHZ_40MHz",
                                "CHAN_197_6GHZ_40MHz",
                                "CHAN_213_6GHZ_40MHz",
                                "CHAN_229_6GHZ_40MHz"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_101_6GHZ_40MHz": "6GHz channel 101-",
                                "CHAN_117_6GHZ_40MHz": "6GHz channel 117-",
                                "CHAN_133_6GHZ_40MHz": "6GHz channel 133-",
                                "CHAN_149_6GHZ_40MHz": "6GHz channel 149-",
                                "CHAN_165_6GHZ_40MHz": "6GHz channel 165-",
                                "CHAN_181_6GHZ_40MHz": "6GHz channel 181-",
                                "CHAN_197_6GHZ_40MHz": "6GHz channel 197-",
                                "CHAN_213_6GHZ_40MHz": "6GHz channel 213-",
                                "CHAN_21_6GHZ_40MHz": "6GHz channel 21-",
                                "CHAN_229_6GHZ_40MHz": "6GHz channel 229-",
                                "CHAN_37_6GHZ_40MHz": "6GHz channel 37-",
                                "CHAN_53_6GHZ_40MHz": "6GHz channel 53-",
                                "CHAN_5_6GHZ_40MHz": "6GHz channel 5-",
                                "CHAN_69_6GHZ_40MHz": "6GHz channel 69-",
                                "CHAN_85_6GHZ_40MHz": "6GHz channel 85-"
                              },
                              "x-typeDescription": "6GHz radio 40MHz channel list"
                            },
                            {
                              "enum": [
                                "CHAN_5_6GHZ_80MHz",
                                "CHAN_21_6GHZ_80MHz",
                                "CHAN_37_6GHZ_80MHz",
                                "CHAN_53_6GHZ_80MHz",
                                "CHAN_69_6GHZ_80MHz",
                                "CHAN_85_6GHZ_80MHz",
                                "CHAN_101_6GHZ_80MHz",
                                "CHAN_117_6GHZ_80MHz",
                                "CHAN_133_6GHZ_80MHz",
                                "CHAN_149_6GHZ_80MHz",
                                "CHAN_165_6GHZ_80MHz",
                                "CHAN_181_6GHZ_80MHz",
                                "CHAN_197_6GHZ_80MHz",
                                "CHAN_213_6GHZ_80MHz"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_101_6GHZ_80MHz": "6GHz channel 101E",
                                "CHAN_117_6GHZ_80MHz": "6GHz channel 117E",
                                "CHAN_133_6GHZ_80MHz": "6GHz channel 133E",
                                "CHAN_149_6GHZ_80MHz": "6GHz channel 149E",
                                "CHAN_165_6GHZ_80MHz": "6GHz channel 165E",
                                "CHAN_181_6GHZ_80MHz": "6GHz channel 181E",
                                "CHAN_197_6GHZ_80MHz": "6GHz channel 197E",
                                "CHAN_213_6GHZ_80MHz": "6GHz channel 213E",
                                "CHAN_21_6GHZ_80MHz": "6GHz channel 21E",
                                "CHAN_37_6GHZ_80MHz": "6GHz channel 37E",
                                "CHAN_53_6GHZ_80MHz": "6GHz channel 53E",
                                "CHAN_5_6GHZ_80MHz": "6GHz channel 5E",
                                "CHAN_69_6GHZ_80MHz": "6GHz channel 69E",
                                "CHAN_85_6GHZ_80MHz": "6GHz channel 85E"
                              },
                              "x-typeDescription": "6GHz radio 80MHz channel list"
                            },
                            {
                              "enum": [
                                "CHAN_5_6GHZ_160MHz",
                                "CHAN_37_6GHZ_160MHz",
                                "CHAN_69_6GHZ_160MHz",
                                "CHAN_101_6GHZ_160MHz",
                                "CHAN_133_6GHZ_160MHz",
                                "CHAN_165_6GHZ_160MHz",
                                "CHAN_197_6GHZ_160MHz"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_101_6GHZ_160MHz": "6GHz channel 101S",
                                "CHAN_133_6GHZ_160MHz": "6GHz channel 133S",
                                "CHAN_165_6GHZ_160MHz": "6GHz channel 165S",
                                "CHAN_197_6GHZ_160MHz": "6GHz channel 197S",
                                "CHAN_37_6GHZ_160MHz": "6GHz channel 37S",
                                "CHAN_5_6GHZ_160MHz": "6GHz channel 5S",
                                "CHAN_69_6GHZ_160MHz": "6GHz channel 69S"
                              },
                              "x-typeDescription": "6GHz radio 160MHz channel list"
                            },
                            {
                              "enum": [
                                "CHAN_5_6GHZ_320MHz_1",
                                "CHAN_69_6GHZ_320MHz_1",
                                "CHAN_133_6GHZ_320MHz_1"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_133_6GHZ_320MHz_1": "6GHz channel 133T-",
                                "CHAN_5_6GHZ_320MHz_1": "6GHz channel 5T-",
                                "CHAN_69_6GHZ_320MHz_1": "6GHz channel 69T-"
                              },
                              "x-typeDescription": "6GHz radio 320MHz-1 channel list"
                            },
                            {
                              "enum": [
                                "CHAN_37_6GHZ_320MHz_2",
                                "CHAN_101_6GHZ_320MHz_2",
                                "CHAN_165_6GHZ_320MHz_2"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "CHAN_101_6GHZ_320MHz_2": "6GHz channel 101T+",
                                "CHAN_165_6GHZ_320MHz_2": "6GHz channel 165T+",
                                "CHAN_37_6GHZ_320MHz_2": "6GHz channel 37T+"
                              },
                              "x-typeDescription": "6GHz radio 320MHz-2 channel list"
                            },
                            {
                              "enum": [
                                "ZERO_CHAN_FOR_6GHZ"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "ZERO_CHAN_FOR_6GHZ": "0 is auto"
                              },
                              "x-typeDescription": "Channel 0 for 2.4GHz channel-list"
                            }
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "conductor-value": {
                      "description": "Defines conductor alias value.",
                      "properties": {
                        "conductor": {
                          "description": "Provisions the Instant AP as a conductor Instant AP. This API is AOS8 specific.",
                          "type": "boolean"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "dns-resolver-value": {
                      "description": "List of DNS servers used for name resolution functionality.\nBoth Ipv4 and IPv6 servers can be configured",
                      "properties": {
                        "resolver": {
                          "description": "List of DNS servers used for name resolution",
                          "items": {
                            "properties": {
                              "name-server": {
                                "description": "List of IPv4 & IPv6 DNS servers used for name resolution.",
                                "items": {
                                  "properties": {
                                    "ip": {
                                      "description": "DNS server IP address to be used by resolver.",
                                      "oneOf": [
                                        {
                                          "format": "pattern",
                                          "maxLength": 9999,
                                          "type": "string",
                                          "x-patternSources": "ipv4-address",
                                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                                        },
                                        {
                                          "format": "pattern",
                                          "maxLength": 9999,
                                          "type": "string",
                                          "x-patternSources": "ipv6-address",
                                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                                        }
                                      ]
                                    },
                                    "management-interface": {
                                      "default": "false",
                                      "description": "Name server for Out-of-band Management (OOBM) interface",
                                      "type": "boolean",
                                      "x-supportedDeviceType": [
                                        "Switch PVOS"
                                      ]
                                    },
                                    "priority": {
                                      "description": "Priority of the DNS server.",
                                      "format": "int32",
                                      "maximum": 8,
                                      "minimum": 1,
                                      "type": "integer",
                                      "x-mandatory": true,
                                      "x-supportedDeviceType": [
                                        "Gateway",
                                        "Switch CX",
                                        "Switch PVOS"
                                      ]
                                    },
                                    "vlan": {
                                      "description": "VLAN Id for source interface",
                                      "format": "int32",
                                      "maximum": 4094,
                                      "minimum": 1,
                                      "type": "integer",
                                      "x-supportedDeviceType": [
                                        "Gateway"
                                      ],
                                      "x-typeDescription": "Type definition representing a single-tagged VLAN"
                                    }
                                  },
                                  "required": [
                                    "priority"
                                  ]
                                },
                                "maxItems": 2147483647,
                                "type": "array",
                                "x-key": [
                                  "ip"
                                ]
                              },
                              "vrf": {
                                "description": "VRF for DNS resolver operation",
                                "format": "pattern",
                                "maxLength": 9999,
                                "type": "string",
                                "x-patternSources": "name-type",
                                "x-patterns": "'([^\\\\/ ]+)'",
                                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                              }
                            }
                          },
                          "maxItems": 2147483647,
                          "type": "array",
                          "x-key": [
                            "vrf"
                          ],
                          "x-supportedDeviceType": [
                            "Gateway",
                            "Switch CX",
                            "Switch PVOS",
                            "Access Point"
                          ]
                        }
                      }
                    },
                    "domain-name-value": {
                      "description": "Defines domain name alias value.",
                      "properties": {
                        "domain": {
                          "description": "Domain name.",
                          "format": "pattern",
                          "maxLength": 253,
                          "minLength": 1,
                          "type": "string",
                          "x-patternSources": "domain-name",
                          "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                          "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "eap-identity": {
                      "description": "Peap username alias value.",
                      "properties": {
                        "eap-identity": {
                          "description": "EAP identity used for authentication.",
                          "format": "const",
                          "maxLength": 64,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "eap-identity-password": {
                      "description": "Peap password alias value.",
                      "properties": {
                        "eap-identity-password": {
                          "description": "Plaintext password associated with the EAP identity.",
                          "format": "const",
                          "maxLength": 9999,
                          "type": "string",
                          "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "effective-gain": {
                      "description": "AP effective antenna gain alias value.",
                      "properties": {
                        "gain": {
                          "default": "0",
                          "description": "Effective antenna gain in dBi. Accounts for external antenna gain and any additional cable loss.",
                          "format": "const",
                          "type": "string"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "essid-value": {
                      "description": "ESSID value defined",
                      "properties": {
                        "name": {
                          "description": "ESSID.",
                          "format": "const",
                          "maxLength": 32,
                          "minLength": 1,
                          "type": "string"
                        }
                      }
                    },
                    "eth0-mode-value": {
                      "description": "Defines eth0-mode alias value.",
                      "properties": {
                        "eth0-mode": {
                          "description": "Configures the ethernet port 0 working as uplink or downlink.",
                          "enum": [
                            "UPLINK",
                            "DOWNLINK"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "DOWNLINK": "Eth1 is NOT bonded with eth0.",
                            "UPLINK": "Eth1 is bonded with eth0 both working as uplink."
                          },
                          "x-typeDescription": "Configures eth0 working as uplink or downlink."
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "eth1-mode-value": {
                      "description": "Defines eth1-mode alias value.",
                      "properties": {
                        "eth1-mode": {
                          "description": "Configures the ethernet port 1 working as uplink bonded with eth0 or not.",
                          "enum": [
                            "BONDED_UPLINK",
                            "NOT_BONDED_UPLINK"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "BONDED_UPLINK": "Eth1 is bonded into bond0 working as uplink.",
                            "NOT_BONDED_UPLINK": "Eth1 is NOT bonded into bond0."
                          },
                          "x-typeDescription": "Configures eth1 bonded with eth0 or not."
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "feature-control": {
                      "description": "Enable/Disable feature.",
                      "properties": {
                        "enable": {
                          "default": "false",
                          "description": "Enable/Disable configuration.",
                          "type": "boolean"
                        }
                      }
                    },
                    "gw-switchport-value": {
                      "description": "Defines switchport configuration alias value for gw-port-profile.",
                      "properties": {
                        "switchport": {
                          "description": "Switchport configuration. This configuration is valid only on a layer2 interface.",
                          "properties": {
                            "access-vlan": {
                              "description": "Assign the access VLAN to the access port.",
                              "format": "int32",
                              "maximum": 4094,
                              "minimum": 1,
                              "type": "integer",
                              "x-typeDescription": "Type definition representing a single-tagged VLAN"
                            },
                            "interface-mode": {
                              "description": "Interface access or trunk mode for VLANs.\nThe access-vlan should be set to null for configuring trunk mode and\nnative-vlan and trunk-vlan-ranges should be set to null while configuring access mode\nEg: switchport: {interface-mode: ACCESS, access-vlan: 600, native-vlan: null,\ntrunk-vlan-ranges: null}\nswitchport: {interface-mode: TRUNK, access-vlan: null, native-vlan: NATIVE_VLAN,\ntrunk-vlan-ranges: [ 1000 ]}",
                              "enum": [
                                "ACCESS",
                                "TRUNK"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "ACCESS": "Access mode VLAN interface (No 802.1q header)",
                                "TRUNK": "Trunk mode VLAN interface"
                              },
                              "x-typeDescription": "VLAN interface mode (trunk or access)"
                            },
                            "native-vlan": {
                              "description": "Native VLAN id for untagged frames arriving on\na trunk interface.  Tagged frames sent on an interface\nconfigured with a native VLAN should have their tags\nstripped prior to transmission. This configuration is only\nvalid on a trunk interface.",
                              "format": "int32",
                              "maximum": 4094,
                              "minimum": 1,
                              "type": "integer",
                              "x-typeDescription": "Type definition representing a single-tagged VLAN"
                            },
                            "trunk-vlan-ranges": {
                              "description": "VLAN ranges that the interface may carry when in trunk mode.",
                              "items": {
                                "description": "VLAN ranges that the interface may carry when in trunk mode.",
                                "format": "pattern",
                                "maxLength": 9999,
                                "type": "string",
                                "x-patternSources": "vlan-range",
                                "x-patterns": "'((((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9]))|(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])))'",
                                "x-typeDescription": "VLANs or only single-tagged VLANs or both. A range is\nspecified as x-y where x and y are valid VLAN IDs\n(1 <= vlan-id <= 4094). The range is assumed to be inclusive,\nsuch that any VLAN-ID matching x <= VLAN-ID <= y falls within\nthe range."
                              },
                              "maxItems": 2147483647,
                              "type": "array"
                            }
                          }
                        }
                      }
                    },
                    "height-value": {
                      "description": "Defines alias value for AP height in GPS.",
                      "properties": {
                        "height": {
                          "default": "0",
                          "description": "Height of device over ground, which supports 16 fractions at most.\nIn meters.",
                          "format": "const",
                          "type": "string"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "host-address-value": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaDualip_DualIpAddressGet"
                        }
                      ],
                      "description": "Host IP address."
                    },
                    "identity-profile-control": {
                      "description": "Enable/Disable identity-profile.",
                      "properties": {
                        "enable": {
                          "default": "false",
                          "description": "Enable/Disable configuration.",
                          "type": "boolean"
                        }
                      }
                    },
                    "installation-type": {
                      "description": "AP installation type alias value.",
                      "properties": {
                        "installation-type": {
                          "description": "Installation type (indoor or outdoor). The AUTOMATIC value selects an installation mode based on the AP model type.",
                          "enum": [
                            "AUTOMATIC",
                            "OUTDOOR",
                            "INDOOR"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "AUTOMATIC": "Provsion AP to default",
                            "INDOOR": "Provsion AP to indoor AP",
                            "OUTDOOR": "Provsion AP to outdoor AP"
                          },
                          "x-typeDescription": "Provsion AP to outdoor or indoor"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "iot-radio-zone-value": {
                      "description": "Defines IoT radio zone alias value.",
                      "properties": {
                        "radio-iot-zone": {
                          "description": "Defines zone names for an IoT radio profile.",
                          "format": "const",
                          "maxLength": 1056,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "iot-zone-value": {
                      "description": "Defines IoT zone alias value.",
                      "properties": {
                        "iot-zone": {
                          "description": "Defines zone names for IoT per-ap-settings.",
                          "format": "const",
                          "maxLength": 197,
                          "minLength": 1,
                          "type": "string"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "ipv4-address-type-value": {
                      "description": "IPv4 address, static or dynamic.",
                      "properties": {
                        "ipv4-address": {
                          "description": "IPv4 address.",
                          "oneOf": [
                            {
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "ipv4-prefix",
                              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                              "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                            },
                            {
                              "enum": [
                                "DHCP",
                                "PPPOE",
                                "NO_DHCP",
                                "NONE"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "DHCP": "Dynamic Host Configuration Protocol.",
                                "NONE": "Client/address is not configured.",
                                "NO_DHCP": "Dynamic Host Configuration Protocol.",
                                "PPPOE": "Point-to-point Protocol over Ethernet."
                              },
                              "x-typeDescription": "Dynamic client type to obtain IPv4 address."
                            }
                          ]
                        }
                      }
                    },
                    "ipv4-address-value": {
                      "description": "IPv4 address in format X.X.X.X.",
                      "properties": {
                        "address": {
                          "description": "IPv4 address in format X.X.X.X.",
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        }
                      }
                    },
                    "ipv4-addresses-value": {
                      "description": "list of IPv4 addresses",
                      "properties": {
                        "ip-addresses": {
                          "description": "List of IPv4 addresses with netmask specified.",
                          "items": {
                            "description": "List of IPv4 addresses with netmask specified.",
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-prefix",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                            "x-supportedDeviceType": [
                              "Switch CX",
                              "Switch PVOS"
                            ],
                            "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                          },
                          "maxItems": 2147483647,
                          "type": "array"
                        }
                      }
                    },
                    "ipv4-interface-vlan-value": {
                      "description": "IPv4 interface VLAN configuration.",
                      "properties": {
                        "vlan-id": {
                          "description": "IPv4 interface VLAN identifier.",
                          "format": "int32",
                          "maximum": 4094,
                          "minimum": 1,
                          "type": "integer",
                          "x-typeDescription": "Type definition representing a single-tagged VLAN"
                        }
                      }
                    },
                    "ipv4-prefix-value": {
                      "description": "IPv4 Prefix in format X.X.X.X/M.",
                      "properties": {
                        "prefix": {
                          "description": "IPv4 Prefix in format X.X.X.X/M.",
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-prefix",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                          "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                        }
                      }
                    },
                    "ipv4-relay-value": {
                      "description": "DHCPv4 Relay server Alias value",
                      "properties": {
                        "server": {
                          "description": "List of DHCPv4 servers.",
                          "items": {
                            "properties": {
                              "ip-vrf": {
                                "description": "Key combination of ip and vrf separated by ~",
                                "format": "const",
                                "maxLength": 9999,
                                "type": "string"
                              }
                            }
                          },
                          "maxItems": 16,
                          "type": "array",
                          "x-key": [
                            "ipVrf"
                          ],
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        }
                      }
                    },
                    "ipv4-system-vlan-value": {
                      "description": "IPv4 system VLAN configuration.",
                      "properties": {
                        "vlan-id": {
                          "description": "IPv4 system VLAN identifier.",
                          "format": "int32",
                          "maximum": 4094,
                          "minimum": 1,
                          "type": "integer",
                          "x-typeDescription": "Type definition representing a single-tagged VLAN"
                        }
                      }
                    },
                    "ipv6-address-type-value": {
                      "description": "IPv6 addresses, static or dynamic.",
                      "properties": {
                        "ipv6-addresses": {
                          "description": "List of IPv6 addresses, static or dynamic.",
                          "items": {
                            "properties": {
                              "address": {
                                "description": "The IPv6 address, static or dynamic.",
                                "oneOf": [
                                  {
                                    "format": "pattern",
                                    "maxLength": 9999,
                                    "type": "string",
                                    "x-patternSources": "ipv6-prefix",
                                    "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                                    "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                                  },
                                  {
                                    "enum": [
                                      "DHCP",
                                      "DHCP_FULL",
                                      "DHCP_FULL_RAPID_COMMIT",
                                      "NO_DHCP"
                                    ],
                                    "format": "enum",
                                    "type": "string",
                                    "x-enumDescriptions": {
                                      "DHCP": "Dynamic Host Configuration Protocol.",
                                      "DHCP_FULL": "Obtain IPv6 address & Configuration information from DHCPv6 server.",
                                      "DHCP_FULL_RAPID_COMMIT": "Obtain IPv6 address quickly from DHCPv6 server.",
                                      "NO_DHCP": "Dynamic Host Configuration Protocol."
                                    },
                                    "x-typeDescription": "Dynamic client type to obtain IPv6 address."
                                  }
                                ]
                              },
                              "eui64": {
                                "default": "false",
                                "description": "IPv6 address in the EUI-64 bit format.\nThis config cannot be set when IPv6 DHCP client is enabled.",
                                "type": "boolean",
                                "x-supportedDeviceType": [
                                  "Switch CX",
                                  "Switch PVOS",
                                  "Gateway"
                                ]
                              },
                              "tag": {
                                "default": "0",
                                "description": "Route tag for connected routes.",
                                "format": "int64",
                                "maximum": 4294967295,
                                "minimum": 0,
                                "type": "integer",
                                "x-supportedDeviceType": [
                                  "Switch CX"
                                ]
                              }
                            }
                          },
                          "maxItems": 2147483647,
                          "type": "array",
[...]
