{
  "openapi": "3.1.0",
  "info": {
    "title": "Net Service",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Net Service"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/net-services": {
      "get": {
        "description": "Configuration container for network services. Net-services define\nprotocol and port combinations used to identify specific types of\nnetwork traffic in firewall policy rules. Each net-service can\nspecify a protocol (TCP, UDP, etc.), individual ports or port\nranges, and optional ALG processing for application-aware\ntraffic handling.",
        "operationId": "readNetServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaNetService_NetServicesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured net-service definitions",
        "tags": [
          "Net Service"
        ],
        "x-cliParam": {
          "commandName": "readNetServicesCmd",
          "commandUse": "net-services",
          "parentCommand": "readCmd",
          "pathToPrint": "/net-services/",
          "summary": "Read operation for net-services"
        }
      }
    },
    "/network-config/v1alpha1/net-services/{name}": {
      "get": {
        "description": "List of network service definitions. Each net-service defines\na named protocol/port combination that can be referenced in\npolicy rules to match specific types of network traffic. The\nkey 'name' uniquely identifies the net-service.",
        "operationId": "readNetServicesNetServiceByID",
        "parameters": [
          {
            "description": "Unique name of the net-service. This is a required key field.\nMaximum length is 63 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaNetService_NetServicesnetServiceSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read a configured net-service",
        "tags": [
          "Net Service"
        ],
        "x-cliParam": {
          "commandName": "readNetServicesNetServiceCmd",
          "commandUse": "net-service",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readNetServicesCmd",
          "pathToPrint": "/net-services/net-service/%s/",
          "summary": "Read operation for net-service",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of network service definitions. Each net-service defines\na named protocol/port combination that can be referenced in\npolicy rules to match specific types of network traffic. The\nkey 'name' uniquely identifies the net-service.",
        "operationId": "replaceNetServicesNetServiceByID",
        "parameters": [
          {
            "description": "Unique name of the net-service. This is a required key field.\nMaximum length is 63 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNetService_NetServicesnetServiceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or update a net-service",
        "tags": [
          "Net Service"
        ],
        "x-cliParam": {
          "commandName": "replaceNetServicesNetServiceCmd",
          "commandUse": "net-service",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceNetServicesCmd",
          "pathToPrint": "/net-services/net-service/%s/",
          "summary": "Replace operation for net-service",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of network service definitions. Each net-service defines\na named protocol/port combination that can be referenced in\npolicy rules to match specific types of network traffic. The\nkey 'name' uniquely identifies the net-service.",
        "operationId": "createNetServicesNetServiceByID",
        "parameters": [
          {
            "description": "Unique name of the net-service. This is a required key field.\nMaximum length is 63 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNetService_NetServicesnetServiceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a net-service by unique name",
        "tags": [
          "Net Service"
        ],
        "x-cliParam": {
          "commandName": "createNetServicesNetServiceCmd",
          "commandUse": "net-service",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createNetServicesCmd",
          "pathToPrint": "/net-services/net-service/%s/",
          "summary": "Create operation for net-service",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of network service definitions. Each net-service defines\na named protocol/port combination that can be referenced in\npolicy rules to match specific types of network traffic. The\nkey 'name' uniquely identifies the net-service.",
        "operationId": "deleteNetServicesNetServiceByID",
        "parameters": [
          {
            "description": "Unique name of the net-service. This is a required key field.\nMaximum length is 63 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete a net-service",
        "tags": [
          "Net Service"
        ],
        "x-cliParam": {
          "commandName": "deleteNetServicesNetServiceCmd",
          "commandUse": "net-service",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteNetServicesCmd",
          "pathToPrint": "/net-services/net-service/%s/",
          "summary": "Delete operation for net-service",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of network service definitions. Each net-service defines\na named protocol/port combination that can be referenced in\npolicy rules to match specific types of network traffic. The\nkey 'name' uniquely identifies the net-service.",
        "operationId": "updateNetServicesNetServiceByID",
        "parameters": [
          {
            "description": "Unique name of the net-service. This is a required key field.\nMaximum length is 63 characters.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNetService_NetServicesnetServiceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update an existing net-service",
        "tags": [
          "Net Service"
        ],
        "x-cliParam": {
          "commandName": "updateNetServicesNetServiceCmd",
          "commandUse": "net-service",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateNetServicesCmd",
          "pathToPrint": "/net-services/net-service/%s/",
          "summary": "Update operation for net-service",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaNetService_AlgDns": {
        "description": "Grouping for DNS ALG configuration. Defines DNS packet inspection\nand filtering options for Distributed Services Switches (DSS).",
        "properties": {
          "dns-alg": {
            "description": "Domain Name System (DNS) ALG configuration for Distributed\nServices Switches (DSS). Enables inspection of DNS packets\nwith options to drop anomalous packets and limit message size.",
            "properties": {
              "drop-large-domain-name-packets": {
                "default": "false",
                "description": "When set to true, drops DNS packets where any label length\nis 64 bytes or higher, exceeding the DNS specification limit.\nDefault: false.",
                "type": "boolean"
              },
              "drop-long-label-packets": {
                "default": "false",
                "description": "When set to true, drops DNS packets where the total domain\nname size exceeds 255 bytes. Default: false.",
                "type": "boolean"
              },
              "drop-multi-question-packets": {
                "default": "false",
                "description": "When set to true, drops DNS packets that contain more than\none question in the query section. This helps prevent\ncertain DNS-based attacks. Default: false.",
                "type": "boolean"
              },
              "max-message-length": {
                "default": "512",
                "description": "Maximum allowed DNS message length in bytes. Messages\nexceeding this length are dropped. Valid range: 1-8129.\nDefault: 512 bytes.",
                "format": "int64",
                "maximum": 8129,
                "minimum": 1,
                "type": "integer"
              }
            }
          }
        }
      },
      "ArubaNetService_AlgDnsGet": {
        "description": "Grouping for DNS ALG configuration. Defines DNS packet inspection\nand filtering options for Distributed Services Switches (DSS).",
        "properties": {
          "dns-alg": {
            "description": "Domain Name System (DNS) ALG configuration for Distributed\nServices Switches (DSS). Enables inspection of DNS packets\nwith options to drop anomalous packets and limit message size.",
            "properties": {
              "drop-large-domain-name-packets": {
                "default": "false",
                "description": "When set to true, drops DNS packets where any label length\nis 64 bytes or higher, exceeding the DNS specification limit.\nDefault: false.",
                "type": "boolean"
              },
              "drop-long-label-packets": {
                "default": "false",
                "description": "When set to true, drops DNS packets where the total domain\nname size exceeds 255 bytes. Default: false.",
                "type": "boolean"
              },
              "drop-multi-question-packets": {
                "default": "false",
                "description": "When set to true, drops DNS packets that contain more than\none question in the query section. This helps prevent\ncertain DNS-based attacks. Default: false.",
                "type": "boolean"
              },
              "max-message-length": {
                "default": "512",
                "description": "Maximum allowed DNS message length in bytes. Messages\nexceeding this length are dropped. Valid range: 1-8129.\nDefault: 512 bytes.",
                "format": "int64",
                "maximum": 8129,
                "minimum": 1,
                "type": "integer"
              }
            }
          }
        }
      },
      "ArubaNetService_AlgFtp": {
        "description": "Grouping for FTP ALG configuration. Defines FTP packet inspection\noptions for Distributed Services Switches (DSS).",
        "properties": {
          "ftp-alg": {
            "description": "File Transfer Protocol (FTP) ALG configuration for Distributed\nServices Switches (DSS). Enables inspection of FTP control\nconnections to correctly handle dynamic data port negotiation.\nThe net-service protocol must be TCP (protocol 6 or IP_TCP).",
            "properties": {
              "allow-mismatch-ip-address": {
                "default": "false",
                "description": "When set to true, allows FTP data connections where the IP\naddress in the FTP PORT/PASV command payload differs from\nthe IP header source address. This is useful in NAT\nenvironments. Default: false.",
                "type": "boolean"
              }
            }
          }
        }
      },
      "ArubaNetService_AlgFtpGet": {
        "description": "Grouping for FTP ALG configuration. Defines FTP packet inspection\noptions for Distributed Services Switches (DSS).",
        "properties": {
          "ftp-alg": {
            "description": "File Transfer Protocol (FTP) ALG configuration for Distributed\nServices Switches (DSS). Enables inspection of FTP control\nconnections to correctly handle dynamic data port negotiation.\nThe net-service protocol must be TCP (protocol 6 or IP_TCP).",
            "properties": {
              "allow-mismatch-ip-address": {
                "default": "false",
                "description": "When set to true, allows FTP data connections where the IP\naddress in the FTP PORT/PASV command payload differs from\nthe IP header source address. This is useful in NAT\nenvironments. Default: false.",
                "type": "boolean"
              }
            }
          }
        }
      },
      "ArubaNetService_AlgIcmp": {
        "description": "Grouping for ICMP ALG configuration. Defines ICMP type and code\nfilters for Distributed Services Switches (DSS).",
        "properties": {
          "icmp-alg": {
            "description": "Internet Control Message Protocol (ICMP) ALG configuration\nfor Distributed Services Switches (DSS). Allows filtering\nICMP traffic by specific message type and code.",
            "properties": {
              "code": {
                "description": "ICMP code that provides additional detail for the specified\nICMP type. This is a required field. For example, for type 3\n(Destination Unreachable), code 0 means Network Unreachable\nand code 1 means Host Unreachable. Valid range: 0-18.",
                "format": "int64",
                "maximum": 18,
                "minimum": 0,
                "type": "integer",
                "x-mandatory": true
              },
              "type": {
                "description": "ICMP message type number. This is a required field. Common\nvalues include 0 (Echo Reply), 3 (Destination Unreachable),\n8 (Echo Request), and 11 (Time Exceeded). Valid range: 0-255.",
                "format": "int64",
                "maximum": 255,
                "minimum": 0,
                "type": "integer",
                "x-mandatory": true
              }
            },
            "required": [
              "type",
              "code"
            ]
          }
        }
      },
      "ArubaNetService_AlgIcmpGet": {
        "description": "Grouping for ICMP ALG configuration. Defines ICMP type and code\nfilters for Distributed Services Switches (DSS).",
        "properties": {
          "icmp-alg": {
            "description": "Internet Control Message Protocol (ICMP) ALG configuration\nfor Distributed Services Switches (DSS). Allows filtering\nICMP traffic by specific message type and code.",
            "properties": {
              "code": {
                "description": "ICMP code that provides additional detail for the specified\nICMP type. This is a required field. For example, for type 3\n(Destination Unreachable), code 0 means Network Unreachable\nand code 1 means Host Unreachable. Valid range: 0-18.",
                "format": "int64",
                "maximum": 18,
                "minimum": 0,
                "type": "integer",
                "x-mandatory": true
              },
              "type": {
                "description": "ICMP message type number. This is a required field. Common\nvalues include 0 (Echo Reply), 3 (Destination Unreachable),\n8 (Echo Request), and 11 (Time Exceeded). Valid range: 0-255.",
                "format": "int64",
                "maximum": 255,
                "minimum": 0,
                "type": "integer",
                "x-mandatory": true
              }
            },
            "required": [
              "type",
              "code"
            ]
          }
        }
      },
      "ArubaNetService_AlgMsrpc": {
        "description": "Grouping for Microsoft RPC ALG configuration. Defines MSRPC program\nUUIDs and timeout for Distributed Services Switches (DSS).",
        "properties": {
          "msrpc-alg": {
            "description": "Microsoft Remote Procedure Call (MSRPC) ALG configuration for\nDistributed Services Switches (DSS). Enables inspection of\nMSRPC endpoint mapper traffic to correctly handle dynamic\nport assignments. The net-service protocol must be TCP or UDP\nand the port must be 135 (endpoint mapper).",
            "properties": {
              "program-uuids": {
                "description": "List of MSRPC program UUIDs to inspect. Each UUID identifies\na specific MSRPC service interface.",
                "items": {
                  "description": "List of MSRPC program UUIDs to inspect. Each UUID identifies\na specific MSRPC service interface.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "uuid",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'",
                  "x-typeDescription": "A Universally Unique IDentifier in the string representation\ndefined in RFC 4122.  The canonical representation uses\nlowercase characters.\n\nThe following is an example of a UUID in string representation:\nf81d4fae-7dec-11d0-a765-00a0c91e6bf6\n"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "timeout": {
                "default": "60",
                "description": "Timeout in seconds for tracking MSRPC endpoint bindings.\nAfter this period, dynamically learned port mappings are\nremoved. Default: 60 seconds.",
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              }
            }
          }
        }
      },
      "ArubaNetService_AlgMsrpcGet": {
        "description": "Grouping for Microsoft RPC ALG configuration. Defines MSRPC program\nUUIDs and timeout for Distributed Services Switches (DSS).",
        "properties": {
          "msrpc-alg": {
            "description": "Microsoft Remote Procedure Call (MSRPC) ALG configuration for\nDistributed Services Switches (DSS). Enables inspection of\nMSRPC endpoint mapper traffic to correctly handle dynamic\nport assignments. The net-service protocol must be TCP or UDP\nand the port must be 135 (endpoint mapper).",
            "properties": {
              "program-uuids": {
                "description": "List of MSRPC program UUIDs to inspect. Each UUID identifies\na specific MSRPC service interface.",
                "items": {
                  "description": "List of MSRPC program UUIDs to inspect. Each UUID identifies\na specific MSRPC service interface.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "uuid",
                  "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'",
                  "x-typeDescription": "A Universally Unique IDentifier in the string representation\ndefined in RFC 4122.  The canonical representation uses\nlowercase characters.\n\nThe following is an example of a UUID in string representation:\nf81d4fae-7dec-11d0-a765-00a0c91e6bf6\n"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "timeout": {
                "default": "60",
                "description": "Timeout in seconds for tracking MSRPC endpoint bindings.\nAfter this period, dynamically learned port mappings are\nremoved. Default: 60 seconds.",
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              }
            }
          }
        }
      },
      "ArubaNetService_AlgSunrpc": {
        "description": "Grouping for SUN RPC ALG configuration. Defines SUNRPC program\nidentifiers and timeout for Distributed Services Switches (DSS).",
        "properties": {
          "sunrpc-alg": {
            "description": "SUN Remote Procedure Call (SUNRPC) ALG configuration for\nDistributed Services Switches (DSS). Enables inspection of\nSUNRPC portmapper traffic to correctly handle dynamic port\nassignments. The net-service protocol must be TCP or UDP\nand the port must be 111 (portmapper).",
            "properties": {
              "program-ids": {
                "description": "List of RPC program identifiers to inspect. Each program ID\ncorresponds to a specific RPC service (e.g., NFS is 100003).",
                "items": {
                  "description": "List of RPC program identifiers to inspect. Each program ID\ncorresponds to a specific RPC service (e.g., NFS is 100003).",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 0,
                  "type": "integer"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "timeout": {
                "default": "60",
                "description": "Timeout in seconds for tracking SUNRPC program identifier\nbindings. After this period, dynamically learned port\nmappings are removed. Default: 60 seconds.",
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              }
            }
          }
        }
      },
      "ArubaNetService_AlgSunrpcGet": {
        "description": "Grouping for SUN RPC ALG configuration. Defines SUNRPC program\nidentifiers and timeout for Distributed Services Switches (DSS).",
        "properties": {
          "sunrpc-alg": {
            "description": "SUN Remote Procedure Call (SUNRPC) ALG configuration for\nDistributed Services Switches (DSS). Enables inspection of\nSUNRPC portmapper traffic to correctly handle dynamic port\nassignments. The net-service protocol must be TCP or UDP\nand the port must be 111 (portmapper).",
            "properties": {
              "program-ids": {
                "description": "List of RPC program identifiers to inspect. Each program ID\ncorresponds to a specific RPC service (e.g., NFS is 100003).",
                "items": {
                  "description": "List of RPC program identifiers to inspect. Each program ID\ncorresponds to a specific RPC service (e.g., NFS is 100003).",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 0,
                  "type": "integer"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "timeout": {
                "default": "60",
                "description": "Timeout in seconds for tracking SUNRPC program identifier\nbindings. After this period, dynamically learned port\nmappings are removed. Default: 60 seconds.",
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              }
            }
          }
        }
      },
      "ArubaNetService_NetServicesSchemaGET": {
        "description": "Configuration container for network services. Net-services define\nprotocol and port combinations used to identify specific types of\nnetwork traffic in firewall policy rules. Each net-service can\nspecify a protocol (TCP, UDP, etc.), individual ports or port\nranges, and optional ALG processing for application-aware\ntraffic handling.",
        "properties": {
          "net-service": {
            "description": "List of network service definitions. Each net-service defines\na named protocol/port combination that can be referenced in\npolicy rules to match specific types of network traffic. The\nkey 'name' uniquely identifies the net-service.",
            "items": {
              "properties": {
                "alg-config": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaNetService_AlgIcmpGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaNetService_AlgDnsGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaNetService_AlgFtpGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaNetService_AlgMsrpcGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaNetService_AlgSunrpcGet"
                    }
                  ],
                  "description": "Application Layer Gateway (ALG) configuration for Distributed\nServices Switches (DSS). This container is only available when\nalg-service is set to ICMP, DNS, FTP, MSRPC, or SUNRPC. Each\nALG type exposes its own sub-container with protocol-specific\nconfiguration options.",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "alg-service": {
                  "description": "Specifies the Application Layer Gateway (ALG) service type\nfor this net-service. ALG enables deep packet inspection\nfor application-specific protocols, allowing the firewall\nto handle dynamic port negotiation and NAT traversal. The\nselected ALG must be compatible with the configured protocol\n(TCP, UDP, or other). See the must constraint for valid\nprotocol/ALG combinations.",
                  "enum": [
                    "DHCP",
                    "DNS",
                    "FACETIME",
                    "FTP",
                    "JABBER",
                    "NOE",
                    "RTSP",
                    "SCCP",
                    "SIP",
                    "SIPS",
                    "SVP",
                    "TFTP",
                    "VOCERA",
                    "H323",
                    "ICMP",
                    "SUNRPC",
                    "MSRPC"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "DHCP": "Enables ALG for DHCP traffic allowing dynamic relay and\ninspection of DHCP messages. Requires UDP protocol.",
                    "DNS": "Enables ALG for DNS traffic allowing inspection and optional\nfiltering of DNS queries and responses. Requires UDP protocol.\nAdditional DNS ALG options can be configured via the alg-config\ncontainer when this value is selected.",
                    "FACETIME": "Enables ALG for Apple FaceTime video calling traffic.\nRequires TCP protocol.",
                    "FTP": "Enables ALG for FTP traffic allowing inspection and NAT\ntraversal of FTP control and data connections. Requires TCP\nprotocol. Additional FTP ALG options can be configured via\nthe alg-config container when this value is selected.",
                    "H323": "Enables ALG for H.323 video conferencing and VoIP\nsignaling traffic. Requires TCP or UDP protocol.",
                    "ICMP": "Enables ALG for ICMP traffic allowing inspection by type\nand code. Additional ICMP ALG options can be configured via\nthe alg-config container when this value is selected.",
                    "JABBER": "Enables ALG for Cisco Jabber unified communications traffic.\nRequires TCP or UDP protocol.",
                    "MSRPC": "Enables ALG for Microsoft RPC (Remote Procedure Call) traffic.\nRequires TCP or UDP protocol on port 135. Additional MSRPC\nALG options can be configured via the alg-config container.",
                    "NOE": "Enables ALG for Alcatel NOE (New Office Environment) VoIP\ntraffic. Requires UDP protocol.",
                    "RTSP": "Enables ALG for RTSP (Real Time Streaming Protocol) media\nstreaming traffic. Requires TCP or UDP protocol.",
                    "SCCP": "Enables ALG for SCCP (Skinny Client Control Protocol) used\nby Cisco IP phones. Requires TCP protocol.",
                    "SIP": "Enables ALG for SIP (Session Initiation Protocol) VoIP\nsignaling traffic. Requires TCP or UDP protocol.",
                    "SIPS": "Enables ALG for SIPS (SIP over TLS) encrypted VoIP\nsignaling traffic. Requires TCP protocol.",
                    "SUNRPC": "Enables ALG for SUN RPC (Remote Procedure Call) traffic.\nRequires TCP or UDP protocol on port 111. Additional SUNRPC\nALG options can be configured via the alg-config container.",
                    "SVP": "Enables ALG for SVP (SpectraLink Voice Priority) wireless\nVoIP traffic. Requires a protocol other than TCP or UDP.",
                    "TFTP": "Enables ALG for TFTP (Trivial File Transfer Protocol)\ntraffic. Requires UDP protocol.",
                    "VOCERA": "Enables ALG for Vocera badge communication traffic.\nRequires UDP protocol."
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Application Layer Gateway (ALG) service types. Each ALG type\nenables deep packet inspection for a specific application protocol,\nallowing the firewall to understand and correctly handle protocol-specific\nbehavior such as dynamic port negotiation and NAT traversal."
                },
                "description": {
                  "description": "An optional human-readable description for this net-service.\nCan be used to document the purpose or intended use.\nMaximum length is 128 characters.",
                  "format": "const",
                  "maxLength": 128,
                  "minLength": 1,
                  "type": "string"
                },
                "http-proxy": {
                  "default": "false",
                  "description": "When set to true, marks this net-service port as an HTTP\nproxy port for web traffic interception. Only applicable\nwhen no ALG service is configured. Default: false.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "https-proxy": {
                  "default": "false",
                  "description": "When set to true, marks this net-service port as an HTTPS\nproxy port for secure web traffic interception. Only\napplicable when no ALG service is configured. Default: false.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "name": {
                  "description": "Unique name of the net-service. This is a required key field.\nMaximum length is 63 characters.",
                  "format": "const",
                  "maxLength": 63,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Switch PVOS",
                    "Gateway"
                  ]
                },
                "port-range": {
                  "description": "Port range specification for this net-service. If operator\nis COMPARISON_RANGE, both min and max values define the range.\nIf operator is COMPARISON_EQ, only the min value is used as\nthe exact port match. Cannot be used together with the ports\nleaf-list.",
                  "properties": {
                    "max": {
                      "description": "Upper bound of port range. Only applicable when operator\nis COMPARISON_RANGE. Must be greater than min. Protocol\nmust be TCP or UDP.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Switch PVOS",
                        "Gateway"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "min": {
                      "description": "Port value or lower bound of port range. When operator\nis COMPARISON_EQ, this is the exact port to match. When\noperator is COMPARISON_RANGE, this is the lower bound.\nProtocol must be TCP or UDP.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Switch PVOS",
                        "Gateway"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "operator": {
                      "description": "Comparison operator for port matching. When set to\nCOMPARISON_EQ, matches a single port (min). When set\nto COMPARISON_RANGE, matches all ports between min\nand max inclusive. Protocol must be TCP or UDP.",
                      "enum": [
                        "COMPARISON_EQ",
                        "COMPARISON_NE",
                        "COMPARISON_LT",
                        "COMPARISON_GT",
                        "COMPARISON_RANGE",
                        "PORT_GROUP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "COMPARISON_EQ": "Equal operator.",
                        "COMPARISON_GT": "Greater than operator.",
                        "COMPARISON_LT": "Less than operator.",
                        "COMPARISON_NE": "Not equal operator.",
                        "COMPARISON_RANGE": "Minimum and maximum values of range.",
                        "PORT_GROUP": "Specifies port group"
                      },
                      "x-typeDescription": "Comparison operator types."
                    }
                  }
                },
                "ports": {
                  "description": "List of individual port numbers for this net-service. Cannot\nbe used together with port-range. The protocol must be TCP\nor UDP when ports are specified.",
                  "items": {
                    "description": "List of individual port numbers for this net-service. Cannot\nbe used together with port-range. The protocol must be TCP\nor UDP when ports are specified.",
                    "format": "int32",
                    "maximum": 65535,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch PVOS",
                      "Access Point",
                      "Gateway"
                    ],
                    "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "protocol": {
                  "description": "Specifies the IP protocol for this net-service, expressed\neither as an IP protocol number or a named identity (e.g.,\nIP_TCP for 6, IP_UDP for 17). This determines which transport\nprotocol the service matches. Must not be set when alg-service\nis ICMP.",
                  "oneOf": [
                    {
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer"
                    },
                    {
                      "enum": [
                        "IP_TCP",
                        "IP_UDP",
                        "IP_ICMP",
                        "IPV6_ICMP",
                        "IP_IGMP",
                        "IP_PIM",
                        "IP_RSVP",
                        "IP_GRE",
                        "IP_AUTH",
                        "IP_L2TP",
                        "IP_IN_IP",
                        "IP_ESP",
                        "PROTOCOL_ANY"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "IPV6_ICMP": "Internet Control Message Protocol (58)",
                        "IP_AUTH": "Authentication header, e.g., for IPSEC (51)",
                        "IP_ESP": "ESP Protocol",
                        "IP_GRE": "Generic Routing Encapsulation (47)",
                        "IP_ICMP": "Internet Control Message Protocol (1)",
                        "IP_IGMP": "Internet Group Membership Protocol (2)",
                        "IP_IN_IP": "IP-in-IP tunneling (4)",
                        "IP_L2TP": "Layer Two Tunneling Protocol v.3 (115)",
                        "IP_PIM": "Protocol Independent Multicast (103)",
                        "IP_RSVP": "Resource Reservation Protocol (46)",
                        "IP_TCP": "Transmission Control Protocol (6)",
                        "IP_UDP": "User Datagram Protocol (17)",
                        "PROTOCOL_ANY": "Any Protocol"
                      },
                      "x-typeDescription": "IP Protocol types."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Switch PVOS",
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Access Point",
          "Gateway",
          "Switch PVOS",
          "Switch CX"
        ]
      },
      "ArubaNetService_NetServicesnetServiceSchema": {
        "properties": {
          "alg-config": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaNetService_AlgIcmp"
              },
              {
                "$ref": "#/components/schemas/ArubaNetService_AlgDns"
              },
              {
                "$ref": "#/components/schemas/ArubaNetService_AlgFtp"
              },
              {
                "$ref": "#/components/schemas/ArubaNetService_AlgMsrpc"
              },
              {
                "$ref": "#/components/schemas/ArubaNetService_AlgSunrpc"
              }
            ],
            "description": "Application Layer Gateway (ALG) configuration for Distributed\nServices Switches (DSS). This container is only available when\nalg-service is set to ICMP, DNS, FTP, MSRPC, or SUNRPC. Each\nALG type exposes its own sub-container with protocol-specific\nconfiguration options.",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "alg-service": {
            "description": "Specifies the Application Layer Gateway (ALG) service type\nfor this net-service. ALG enables deep packet inspection\nfor application-specific protocols, allowing the firewall\nto handle dynamic port negotiation and NAT traversal. The\nselected ALG must be compatible with the configured protocol\n(TCP, UDP, or other). See the must constraint for valid\nprotocol/ALG combinations.",
            "enum": [
              "DHCP",
              "DNS",
              "FACETIME",
              "FTP",
              "JABBER",
              "NOE",
              "RTSP",
              "SCCP",
              "SIP",
              "SIPS",
              "SVP",
              "TFTP",
              "VOCERA",
              "H323",
              "ICMP",
              "SUNRPC",
              "MSRPC"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DHCP": "Enables ALG for DHCP traffic allowing dynamic relay and\ninspection of DHCP messages. Requires UDP protocol.",
              "DNS": "Enables ALG for DNS traffic allowing inspection and optional\nfiltering of DNS queries and responses. Requires UDP protocol.\nAdditional DNS ALG options can be configured via the alg-config\ncontainer when this value is selected.",
              "FACETIME": "Enables ALG for Apple FaceTime video calling traffic.\nRequires TCP protocol.",
              "FTP": "Enables ALG for FTP traffic allowing inspection and NAT\ntraversal of FTP control and data connections. Requires TCP\nprotocol. Additional FTP ALG options can be configured via\nthe alg-config container when this value is selected.",
              "H323": "Enables ALG for H.323 video conferencing and VoIP\nsignaling traffic. Requires TCP or UDP protocol.",
              "ICMP": "Enables ALG for ICMP traffic allowing inspection by type\nand code. Additional ICMP ALG options can be configured via\nthe alg-config container when this value is selected.",
              "JABBER": "Enables ALG for Cisco Jabber unified communications traffic.\nRequires TCP or UDP protocol.",
              "MSRPC": "Enables ALG for Microsoft RPC (Remote Procedure Call) traffic.\nRequires TCP or UDP protocol on port 135. Additional MSRPC\nALG options can be configured via the alg-config container.",
              "NOE": "Enables ALG for Alcatel NOE (New Office Environment) VoIP\ntraffic. Requires UDP protocol.",
              "RTSP": "Enables ALG for RTSP (Real Time Streaming Protocol) media\nstreaming traffic. Requires TCP or UDP protocol.",
              "SCCP": "Enables ALG for SCCP (Skinny Client Control Protocol) used\nby Cisco IP phones. Requires TCP protocol.",
              "SIP": "Enables ALG for SIP (Session Initiation Protocol) VoIP\nsignaling traffic. Requires TCP or UDP protocol.",
              "SIPS": "Enables ALG for SIPS (SIP over TLS) encrypted VoIP\nsignaling traffic. Requires TCP protocol.",
              "SUNRPC": "Enables ALG for SUN RPC (Remote Procedure Call) traffic.\nRequires TCP or UDP protocol on port 111. Additional SUNRPC\nALG options can be configured via the alg-config container.",
              "SVP": "Enables ALG for SVP (SpectraLink Voice Priority) wireless\nVoIP traffic. Requires a protocol other than TCP or UDP.",
              "TFTP": "Enables ALG for TFTP (Trivial File Transfer Protocol)\ntraffic. Requires UDP protocol.",
              "VOCERA": "Enables ALG for Vocera badge communication traffic.\nRequires UDP protocol."
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Application Layer Gateway (ALG) service types. Each ALG type\nenables deep packet inspection for a specific application protocol,\nallowing the firewall to understand and correctly handle protocol-specific\nbehavior such as dynamic port negotiation and NAT traversal."
          },
          "description": {
            "description": "An optional human-readable description for this net-service.\nCan be used to document the purpose or intended use.\nMaximum length is 128 characters.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string"
          },
          "http-proxy": {
            "default": "false",
            "description": "When set to true, marks this net-service port as an HTTP\nproxy port for web traffic interception. Only applicable\nwhen no ALG service is configured. Default: false.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "https-proxy": {
            "default": "false",
            "description": "When set to true, marks this net-service port as an HTTPS\nproxy port for secure web traffic interception. Only\napplicable when no ALG service is configured. Default: false.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "name": {
            "description": "Unique name of the net-service. This is a required key field.\nMaximum length is 63 characters.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "port-range": {
            "description": "Port range specification for this net-service. If operator\nis COMPARISON_RANGE, both min and max values define the range.\nIf operator is COMPARISON_EQ, only the min value is used as\nthe exact port match. Cannot be used together with the ports\nleaf-list.",
            "properties": {
              "max": {
                "description": "Upper bound of port range. Only applicable when operator\nis COMPARISON_RANGE. Must be greater than min. Protocol\nmust be TCP or UDP.",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Switch PVOS",
                  "Gateway"
                ],
                "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
              },
              "min": {
                "description": "Port value or lower bound of port range. When operator\nis COMPARISON_EQ, this is the exact port to match. When\noperator is COMPARISON_RANGE, this is the lower bound.\nProtocol must be TCP or UDP.",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Switch PVOS",
                  "Gateway"
                ],
                "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
              },
              "operator": {
                "description": "Comparison operator for port matching. When set to\nCOMPARISON_EQ, matches a single port (min). When set\nto COMPARISON_RANGE, matches all ports between min\nand max inclusive. Protocol must be TCP or UDP.",
                "enum": [
                  "COMPARISON_EQ",
                  "COMPARISON_NE",
                  "COMPARISON_LT",
                  "COMPARISON_GT",
                  "COMPARISON_RANGE",
                  "PORT_GROUP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "COMPARISON_EQ": "Equal operator.",
                  "COMPARISON_GT": "Greater than operator.",
                  "COMPARISON_LT": "Less than operator.",
                  "COMPARISON_NE": "Not equal operator.",
                  "COMPARISON_RANGE": "Minimum and maximum values of range.",
                  "PORT_GROUP": "Specifies port group"
                },
                "x-typeDescription": "Comparison operator types."
              }
            }
          },
          "ports": {
            "description": "List of individual port numbers for this net-service. Cannot\nbe used together with port-range. The protocol must be TCP\nor UDP when ports are specified.",
            "items": {
              "description": "List of individual port numbers for this net-service. Cannot\nbe used together with port-range. The protocol must be TCP\nor UDP when ports are specified.",
              "format": "int32",
              "maximum": 65535,
              "minimum": 0,
              "type": "integer",
              "x-supportedDeviceType": [
                "Switch PVOS",
                "Access Point",
                "Gateway"
              ],
              "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "protocol": {
            "description": "Specifies the IP protocol for this net-service, expressed\neither as an IP protocol number or a named identity (e.g.,\nIP_TCP for 6, IP_UDP for 17). This determines which transport\nprotocol the service matches. Must not be set when alg-service\nis ICMP.",
            "oneOf": [
              {
                "format": "int32",
                "maximum": 255,
                "minimum": 0,
                "type": "integer"
              },
              {
                "enum": [
                  "IP_TCP",
                  "IP_UDP",
                  "IP_ICMP",
                  "IPV6_ICMP",
                  "IP_IGMP",
                  "IP_PIM",
                  "IP_RSVP",
                  "IP_GRE",
                  "IP_AUTH",
                  "IP_L2TP",
                  "IP_IN_IP",
                  "IP_ESP",
                  "PROTOCOL_ANY"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "IPV6_ICMP": "Internet Control Message Protocol (58)",
                  "IP_AUTH": "Authentication header, e.g., for IPSEC (51)",
                  "IP_ESP": "ESP Protocol",
                  "IP_GRE": "Generic Routing Encapsulation (47)",
                  "IP_ICMP": "Internet Control Message Protocol (1)",
                  "IP_IGMP": "Internet Group Membership Protocol (2)",
                  "IP_IN_IP": "IP-in-IP tunneling (4)",
                  "IP_L2TP": "Layer Two Tunneling Protocol v.3 (115)",
                  "IP_PIM": "Protocol Independent Multicast (103)",
                  "IP_RSVP": "Resource Reservation Protocol (46)",
                  "IP_TCP": "Transmission Control Protocol (6)",
                  "IP_UDP": "User Datagram Protocol (17)",
                  "PROTOCOL_ANY": "Any Protocol"
                },
                "x-typeDescription": "IP Protocol types."
              }
            ],
            "x-supportedDeviceType": [
              "Access Point",
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaNetService_NetServicesnetServiceSchemaGet": {
        "properties": {
          "alg-config": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaNetService_AlgIcmpGet"
              },
              {
                "$ref": "#/components/schemas/ArubaNetService_AlgDnsGet"
              },
              {
                "$ref": "#/components/schemas/ArubaNetService_AlgFtpGet"
              },
              {
                "$ref": "#/components/schemas/ArubaNetService_AlgMsrpcGet"
              },
              {
                "$ref": "#/components/schemas/ArubaNetService_AlgSunrpcGet"
              }
            ],
            "description": "Application Layer Gateway (ALG) configuration for Distributed\nServices Switches (DSS). This container is only available when\nalg-service is set to ICMP, DNS, FTP, MSRPC, or SUNRPC. Each\nALG type exposes its own sub-container with protocol-specific\nconfiguration options.",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "alg-service": {
            "description": "Specifies the Application Layer Gateway (ALG) service type\nfor this net-service. ALG enables deep packet inspection\nfor application-specific protocols, allowing the firewall\nto handle dynamic port negotiation and NAT traversal. The\nselected ALG must be compatible with the configured protocol\n(TCP, UDP, or other). See the must constraint for valid\nprotocol/ALG combinations.",
            "enum": [
              "DHCP",
              "DNS",
              "FACETIME",
              "FTP",
              "JABBER",
              "NOE",
              "RTSP",
              "SCCP",
              "SIP",
              "SIPS",
              "SVP",
              "TFTP",
              "VOCERA",
              "H323",
              "ICMP",
              "SUNRPC",
              "MSRPC"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DHCP": "Enables ALG for DHCP traffic allowing dynamic relay and\ninspection of DHCP messages. Requires UDP protocol.",
              "DNS": "Enables ALG for DNS traffic allowing inspection and optional\nfiltering of DNS queries and responses. Requires UDP protocol.\nAdditional DNS ALG options can be configured via the alg-config\ncontainer when this value is selected.",
              "FACETIME": "Enables ALG for Apple FaceTime video calling traffic.\nRequires TCP protocol.",
              "FTP": "Enables ALG for FTP traffic allowing inspection and NAT\ntraversal of FTP control and data connections. Requires TCP\nprotocol. Additional FTP ALG options can be configured via\nthe alg-config container when this value is selected.",
              "H323": "Enables ALG for H.323 video conferencing and VoIP\nsignaling traffic. Requires TCP or UDP protocol.",
              "ICMP": "Enables ALG for ICMP traffic allowing inspection by type\nand code. Additional ICMP ALG options can be configured via\nthe alg-config container when this value is selected.",
              "JABBER": "Enables ALG for Cisco Jabber unified communications traffic.\nRequires TCP or UDP protocol.",
              "MSRPC": "Enables ALG for Microsoft RPC (Remote Procedure Call) traffic.\nRequires TCP or UDP protocol on port 135. Additional MSRPC\nALG options can be configured via the alg-config container.",
              "NOE": "Enables ALG for Alcatel NOE (New Office Environment) VoIP\ntraffic. Requires UDP protocol.",
              "RTSP": "Enables ALG for RTSP (Real Time Streaming Protocol) media\nstreaming traffic. Requires TCP or UDP protocol.",
              "SCCP": "Enables ALG for SCCP (Skinny Client Control Protocol) used\nby Cisco IP phones. Requires TCP protocol.",
              "SIP": "Enables ALG for SIP (Session Initiation Protocol) VoIP\nsignaling traffic. Requires TCP or UDP protocol.",
              "SIPS": "Enables ALG for SIPS (SIP over TLS) encrypted VoIP\nsignaling traffic. Requires TCP protocol.",
              "SUNRPC": "Enables ALG for SUN RPC (Remote Procedure Call) traffic.\nRequires TCP or UDP protocol on port 111. Additional SUNRPC\nALG options can be configured via the alg-config container.",
              "SVP": "Enables ALG for SVP (SpectraLink Voice Priority) wireless\nVoIP traffic. Requires a protocol other than TCP or UDP.",
              "TFTP": "Enables ALG for TFTP (Trivial File Transfer Protocol)\ntraffic. Requires UDP protocol.",
              "VOCERA": "Enables ALG for Vocera badge communication traffic.\nRequires UDP protocol."
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Application Layer Gateway (ALG) service types. Each ALG type\nenables deep packet inspection for a specific application protocol,\nallowing the firewall to understand and correctly handle protocol-specific\nbehavior such as dynamic port negotiation and NAT traversal."
          },
          "description": {
            "description": "An optional human-readable description for this net-service.\nCan be used to document the purpose or intended use.\nMaximum length is 128 characters.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string"
          },
          "http-proxy": {
            "default": "false",
            "description": "When set to true, marks this net-service port as an HTTP\nproxy port for web traffic interception. Only applicable\nwhen no ALG service is configured. Default: false.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "https-proxy": {
            "default": "false",
            "description": "When set to true, marks this net-service port as an HTTPS\nproxy port for secure web traffic interception. Only\napplicable when no ALG service is configured. Default: false.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "name": {
            "description": "Unique name of the net-service. This is a required key field.\nMaximum length is 63 characters.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "port-range": {
            "description": "Port range specification for this net-service. If operator\nis COMPARISON_RANGE, both min and max values define the range.\nIf operator is COMPARISON_EQ, only the min value is used as\nthe exact port match. Cannot be used together with the ports\nleaf-list.",
            "properties": {
              "max": {
                "description": "Upper bound of port range. Only applicable when operator\nis COMPARISON_RANGE. Must be greater than min. Protocol\nmust be TCP or UDP.",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Switch PVOS",
                  "Gateway"
                ],
                "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
              },
              "min": {
                "description": "Port value or lower bound of port range. When operator\nis COMPARISON_EQ, this is the exact port to match. When\noperator is COMPARISON_RANGE, this is the lower bound.\nProtocol must be TCP or UDP.",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Switch PVOS",
                  "Gateway"
                ],
                "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
              },
              "operator": {
                "description": "Comparison operator for port matching. When set to\nCOMPARISON_EQ, matches a single port (min). When set\nto COMPARISON_RANGE, matches all ports between min\nand max inclusive. Protocol must be TCP or UDP.",
                "enum": [
                  "COMPARISON_EQ",
                  "COMPARISON_NE",
                  "COMPARISON_LT",
                  "COMPARISON_GT",
                  "COMPARISON_RANGE",
                  "PORT_GROUP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "COMPARISON_EQ": "Equal operator.",
                  "COMPARISON_GT": "Greater than operator.",
                  "COMPARISON_LT": "Less than operator.",
                  "COMPARISON_NE": "Not equal operator.",
                  "COMPARISON_RANGE": "Minimum and maximum values of range.",
                  "PORT_GROUP": "Specifies port group"
                },
                "x-typeDescription": "Comparison operator types."
              }
            }
          },
          "ports": {
            "description": "List of individual port numbers for this net-service. Cannot\nbe used together with port-range. The protocol must be TCP\nor UDP when ports are specified.",
            "items": {
              "description": "List of individual port numbers for this net-service. Cannot\nbe used together with port-range. The protocol must be TCP\nor UDP when ports are specified.",
              "format": "int32",
              "maximum": 65535,
              "minimum": 0,
              "type": "integer",
              "x-supportedDeviceType": [
                "Switch PVOS",
                "Access Point",
                "Gateway"
              ],
              "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "protocol": {
            "description": "Specifies the IP protocol for this net-service, expressed\neither as an IP protocol number or a named identity (e.g.,\nIP_TCP for 6, IP_UDP for 17). This determines which transport\nprotocol the service matches. Must not be set when alg-service\nis ICMP.",
            "oneOf": [
              {
                "format": "int32",
                "maximum": 255,
                "minimum": 0,
                "type": "integer"
              },
              {
                "enum": [
                  "IP_TCP",
                  "IP_UDP",
                  "IP_ICMP",
                  "IPV6_ICMP",
                  "IP_IGMP",
                  "IP_PIM",
                  "IP_RSVP",
                  "IP_GRE",
                  "IP_AUTH",
                  "IP_L2TP",
                  "IP_IN_IP",
                  "IP_ESP",
                  "PROTOCOL_ANY"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "IPV6_ICMP": "Internet Control Message Protocol (58)",
                  "IP_AUTH": "Authentication header, e.g., for IPSEC (51)",
                  "IP_ESP": "ESP Protocol",
                  "IP_GRE": "Generic Routing Encapsulation (47)",
                  "IP_ICMP": "Internet Control Message Protocol (1)",
                  "IP_IGMP": "Internet Group Membership Protocol (2)",
                  "IP_IN_IP": "IP-in-IP tunneling (4)",
                  "IP_L2TP": "Layer Two Tunneling Protocol v.3 (115)",
                  "IP_PIM": "Protocol Independent Multicast (103)",
                  "IP_RSVP": "Resource Reservation Protocol (46)",
                  "IP_TCP": "Transmission Control Protocol (6)",
                  "IP_UDP": "User Datagram Protocol (17)",
                  "PROTOCOL_ANY": "Any Protocol"
                },
                "x-typeDescription": "IP Protocol types."
              }
            ],
            "x-supportedDeviceType": [
              "Access Point",
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaNetService_NetServicesnetServiceSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaNetService_NetServicesnetServiceSchema"
            }
          }
        },
        "description": "net-servicebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
