{
  "openapi": "3.1.0",
  "info": {
    "title": "AirMatch",
    "version": "0.0.1",
    "description": "Serves Wi-Fi client locations with filtering options available."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "AirMatch",
      "description": "Operations related to AirMatch Services"
    }
  ],
  "paths": {
    "/network-services/v1/airmatch-ap": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get AP information for all APs of a tenant",
        "description": "Returns AP Information for all APs for a given tenant",
        "operationId": "listApsV1",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ap_info_all"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-ap-coverage-plan": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get all AP coverage plan from collection",
        "description": "Returns all AP Coverage Plan documents for a given tenant",
        "operationId": "listApCoveragePlansV1",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Request ID filter to return specific AP Coverage Plan using request id provided by user in query parameter",
            "style": "form",
            "explode": true,
            "example": [
              "1fb6908c-25a6-4c9d-91ec-0b8e8aa394a2"
            ],
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ap_coverage_plan_all"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-ap-coverage-plan/{serial-number}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get ap coverage plan for a given AP serial number",
        "description": "Returns AP Coverage Plan for a given AP Serial Number for a tenant",
        "operationId": "getApCoveragePlanV1",
        "parameters": [
          {
            "name": "serial-number",
            "in": "path",
            "description": "AP Serial Number filter to get AP Coverage Plan",
            "example": "CNHHJ0Y0TK",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Request ID filter to return specific AP Coverage Plan using request id provided by user in query parameter",
            "style": "form",
            "explode": true,
            "example": [
              "1fb6908c-25a6-4c9d-91ec-0b8e8aa394a2"
            ],
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ap_coverage_plan"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-ap-neighbor-list/{serial-number}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get list of AP neighbors for a given AP serial number",
        "description": "Get list of AP neighbors in the form of AP Serial Numbers for a given AP Serial Number for a tenant",
        "operationId": "getApNeighborsV1",
        "parameters": [
          {
            "name": "serial-number",
            "in": "path",
            "description": "AP Serial Number used to look up list of AP neighbors for that AP Serial Number",
            "example": "CNN9KD5MFX",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of AP serial numbers to get (max. 500)",
            "example": 100,
            "schema": {
              "default": 500,
              "minimum": 0,
              "maximum": 500,
              "type": "integer"
            }
          },
          {
            "name": "cutoff",
            "in": "query",
            "description": "Neighbors up to this max pathloss (max. 150)",
            "example": 105,
            "schema": {
              "maximum": 150,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ap_neighbor_list"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-ap-radio-relations/{serial-number}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get AP radio relations from edge document",
        "description": "Returns AP Radio Relations Information for a specific AP based on its AP Serial number",
        "operationId": "getApRadioRelationsV1",
        "parameters": [
          {
            "name": "serial-number",
            "in": "path",
            "description": "AP Serial number to query radio relations for that AP",
            "example": "CNN9KD5NFX",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ap_radio_relations"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-ap/{serial-number}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get AP information of a specific AP Ethernet MAC",
        "description": "Returns Access Point (AP) Information based on its Serial number for a given tenant",
        "operationId": "getApV1",
        "parameters": [
          {
            "name": "serial-number",
            "in": "path",
            "description": "AP Serial number to look up information for that AP",
            "example": "CNHHJ0Y0TK",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ap_info"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-board-limit/{serial-number}/{radio-mac}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get board limits of a specific radio MAC for a given tenant",
        "description": "Returns Board limits of the radio for a given tenant",
        "operationId": "getBoardLimitsV1",
        "parameters": [
          {
            "name": "serial-number",
            "in": "path",
            "description": "AP Serial",
            "example": "CNP5L8M00Z",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "radio-mac",
            "in": "path",
            "description": "Radio MAC",
            "example": "D8:C7:C8:11:22:33",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/board_limit"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-device-config/{serial-number}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Returns Device (AP) Configuration for a specific AP Serial number",
        "description": "Returns Device Configuration for a specific AP Serial number for a given tenant",
        "operationId": "getDeviceConfigV1",
        "parameters": [
          {
            "name": "serial-number",
            "in": "path",
            "description": "AP Serial Num to get Device Config for",
            "example": "CNN9KD5NFX",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/device_config"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-global-config-id": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Returns the global configuration ID for the tenant",
        "description": "Returns the global configuration ID for the tenant",
        "operationId": "getGlobalConfigIdV1",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/config_id"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-history/{radio-mac}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get radio history of a specific Radio MAC",
        "description": "Returns Radio History events for a specific Radio MAC address for a given tenant",
        "operationId": "getRadioHistoryV1",
        "parameters": [
          {
            "name": "radio-mac",
            "in": "path",
            "description": "Radio MAC address to look up list of radio history events for that radio",
            "example": "D8:C7:C8:11:22:33",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$"
            }
          },
          {
            "name": "start-at",
            "in": "query",
            "description": "Timestamp of oldest Radio History to start query result",
            "example": "2017-07-21T17:32:28-0700",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "description": "Timestamp of newest Radio History to end query result",
            "example": "2017-07-21T17:32:28-0700",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/history"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-non-friend/{radio-mac}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get list of non friend (non-neighbor) radios for that radio mac",
        "description": "Returns list of non friend (non-neighbor) radios for that radio mac for a given tenant",
        "operationId": "getNonFriendsV1",
        "parameters": [
          {
            "name": "radio-mac",
            "in": "path",
            "description": "Reporting MAC address to look up list of non friend (non-neighbor) radios",
            "example": "D8:C7:C8:11:22:33",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$"
            }
          },
          {
            "name": "start-at",
            "in": "query",
            "description": "Timestamp of oldest Pathloss to start query result",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "description": "Timestamp of newest Pathloss to end query result",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/non_friends"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-partition": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get RF partition information",
        "description": "Returns RF Partition information for a given tenant with list of radios in that partition along with RF domain and partition information for a given tenant",
        "operationId": "getRfPartitionV1",
        "parameters": [
          {
            "name": "band-selected",
            "in": "query",
            "description": "Radio Frequency band filter to return partitions for that band",
            "example": "2.4GHz",
            "schema": {
              "type": "string",
              "enum": [
                "2.4GHz",
                "5GHz",
                "6GHz"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Partition Type filter to return partitions for that partition type. Supported values are normal, opmode, and dynamic",
            "example": "normal",
            "schema": {
              "type": "string",
              "enum": [
                "normal",
                "opmode",
                "dynamic"
              ]
            }
          },
          {
            "name": "summary",
            "in": "query",
            "description": "Output Summary for Partition (default false)",
            "example": false,
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Request ID used to find specific partition information using provided request id",
            "style": "form",
            "explode": true,
            "example": [
              "1fb6908c-25a6-4c9d-91ec-0b8e8aa394a2"
            ],
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partition"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Send RF Partition Request to Airmatch",
        "description": "Sends an RF Partition Request to Airmatch to create new RF partitioning based on current pathloss information",
        "operationId": "createRfPartitionV1",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/partition_response"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-pathloss/{radio-mac}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get all neighbor pathloss for a tenant and radio mac",
        "description": "Returns all neighbors and pathloss information heard by a radio for a given tenant",
        "operationId": "getPathlossV1",
        "parameters": [
          {
            "name": "radio-mac",
            "in": "path",
            "description": "Reporting MAC address to look up list of Neighbors for that radio mac",
            "example": "D8:C7:C8:11:22:33",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$"
            }
          },
          {
            "name": "start-at",
            "in": "query",
            "description": "Timestamp of oldest Pathloss to start query result",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "description": "Timestamp of newest Pathloss to end query result",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "include-non-friend",
            "in": "query",
            "description": "Append list of non friend (non-neighbor) pathloss to output (default false)",
            "example": false,
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pathloss"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-priority-rf-events": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get all radar and noise RF events of a tenant",
        "description": "Returns all Priority Radio Frequency (RF) channel change events caused by radar and noise for a tenant",
        "operationId": "listPriorityRfEventsV1",
        "parameters": [
          {
            "name": "start-at",
            "in": "query",
            "description": "Timestamp of oldest Priority RF Event to start query result",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "description": "Timestamp of newest Priority RF Event to end query result",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/prio_rf_events_all"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-priority-rf-events/{radio-mac}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get radar and noise RF events of a specific Radio MAC",
        "description": "Returns list of Priority Radio Frequency (RF) events that caused channel change due to radar and noise for a specific Radio MAC address for a given tenant",
        "operationId": "getPriorityRfEventsV1",
        "parameters": [
          {
            "name": "radio-mac",
            "in": "path",
            "description": "Radio MAC address to look up list of Priority RF events",
            "example": "D8:C7:C8:11:22:33",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$"
            }
          },
          {
            "name": "start-at",
            "in": "query",
            "description": "Timestamp of oldest Priority RF Event to start query result",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "description": "Timestamp of newest Priority RF Event to end query result",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/prio_rf_events"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-radio": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get all radios for a tenant or radios based on AP Serial",
        "description": "Returns reporting radio information for all radios for that tenant or radios based on AP Serial if query parameter provided.",
        "operationId": "listRadiosV1",
        "parameters": [
          {
            "name": "serial-number",
            "in": "query",
            "description": "AP Serial number to get reporting radio information for radios on that AP",
            "example": "CNHHJ0Y0TK",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is-static",
            "in": "query",
            "description": "Get Static Radio Documents for radios with static channel or power",
            "example": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/radio_info_all"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-radio-feasibility": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get all radio feasibility for a tenant",
        "description": "Returns current radio feasibility for all radios for a given tenant",
        "operationId": "listRadioFeasibilityV1",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/radio_feasibility_all"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-radio-feasibility/{radio-mac}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get radio feasibility of a specific radio MAC",
        "description": "Returns current radio feasibility for a specific radio MAC address for a given tenant",
        "operationId": "getRadioFeasibilityV1",
        "parameters": [
          {
            "name": "radio-mac",
            "in": "path",
            "description": "Radio MAC to look up list of radio feasibility for that radio",
            "example": "D8:C7:C8:11:22:33",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/radio_feasibility"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-radio-partition/{radio-mac}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get rf domain and partition id for a specific radio mac address",
        "description": "Returns rf domain and friend partition id for a specific radio mac address for a given tenant",
        "operationId": "getRadioPartitionV1",
        "parameters": [
          {
            "name": "radio-mac",
            "in": "path",
            "description": "Radio MAC address to find in partition",
            "example": "D8:C7:C8:11:22:33",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Partition type",
            "example": "normal",
            "schema": {
              "type": "string",
              "enum": [
                "normal",
                "opmode",
                "dynamic"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/radio_partition"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-radio/{radio-mac}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get reporting radio information of a specific radio MAC",
        "description": "Returns the reporting radio information for a specific tenant based on radio MAC address.",
        "operationId": "getRadioV1",
        "parameters": [
          {
            "name": "radio-mac",
            "in": "path",
            "description": "Radio MAC address to look up reporting radio information",
            "example": "D8:C7:C8:11:22:33",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$"
            }
          },
          {
            "name": "serial-number",
            "in": "query",
            "description": "AP Serial number to get reporting radio information for radios on that AP",
            "example": "CNHHJ0Y0TK",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/radio_info"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-rf-events": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get all RF events of a tenant",
        "description": "Returns all non Priority Radio Frequency (RF) events for a tenant",
        "operationId": "listRfEventsV1",
        "parameters": [
          {
            "name": "start-at",
            "in": "query",
            "description": "Timestamp of oldest RF Event to start query result",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "description": "Timestamp of newest RF Event to end query result",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rf_events_all"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-rf-events/{radio-mac}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get RF events of a specific Radio MAC",
        "description": "Returns non Priority Radio Frequency (RF) events for a specific Radio MAC address for a given tenant",
        "operationId": "getRfEventsV1",
        "parameters": [
          {
            "name": "radio-mac",
            "in": "path",
            "description": "Radio MAC to look up list of RF events for that radio",
            "example": "D8:C7:C8:11:22:33",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$"
            }
          },
          {
            "name": "start-at",
            "in": "query",
            "description": "Timestamp of oldest RF Event to start query result",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "description": "Timestamp of newest RF Event to end query result",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/rf_events"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-runnow": {
      "post": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Sends an optimization request to Airmatch to compute and deploy a solution",
        "description": "Sends an optimization request to Airmatch to compute and deploy a solution based on user provided runmode and other parameters. Runmode is a required parameter and valid values are ON-DEMAND, INCREMENTAL, and OPMODE.",
        "operationId": "runOptimizationV1",
        "parameters": [
          {
            "name": "runmode",
            "in": "query",
            "description": "runmode (case-insensitive). Valid values: ON-DEMAND, INCREMENTAL, OPMODE",
            "example": "ON-DEMAND",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "threshold",
            "in": "query",
            "description": "Threshold value filter used to process partition with user specified channel threshold value",
            "example": true,
            "schema": {
              "type": "boolean",
              "enum": [
                true,
                false
              ]
            }
          },
          {
            "name": "delay",
            "in": "query",
            "description": "Delay the deployment of solution in minutes; Range [0-360], default 0",
            "example": 0,
            "schema": {
              "$ref": "#/components/schemas/runnow_delay"
            }
          },
          {
            "name": "window",
            "in": "query",
            "description": "Deploy Window in minutes; Range [0-360], default 120",
            "example": 120,
            "schema": {
              "$ref": "#/components/schemas/runnow_window"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/runnow_response"
                }
              }
            },
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-service-config": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Returns Device (AP) Running Configuration",
        "description": "Returns Device Running Configuration for a given tenant",
        "operationId": "getServiceConfigV1",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/service_config"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-solution": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get solver optimizations for a given tenant",
        "description": "Returns the list of solver optimizations/solutions generated by Airmatch for a given tenant. This endpoint supports multiple query parameters to filter and paginate the list of solutions returned. If no query parameters are provided, it will return all solutions for the tenant up to the default pagination limit.",
        "operationId": "listSolutionsV1",
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "Number of solutions to return.",
            "example": 5,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "start-at",
            "in": "query",
            "description": "Filter for solutions with timestamp greater than or equal to the provided timestamp",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "description": "Filter for solutions with timestamp less than or equal to the provided timestamp",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "runmode",
            "in": "query",
            "description": "Runmode Filter to return solutions for that runmode. Valid values are SCHEDULE, ON-DEMAND, INCREMENTAL, OPMODE, and EIRP.",
            "example": "ON-DEMAND",
            "schema": {
              "type": "string",
              "enum": [
                "SCHEDULED",
                "ON-DEMAND",
                "INCREMENTAL",
                "EIRP",
                "OPMODE"
              ]
            }
          },
          {
            "name": "rf-domain-id",
            "in": "query",
            "description": "RF Domain ID filter to return solutions for radios in a specific rf domain",
            "example": 1,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "rf-partition-id",
            "in": "query",
            "description": "RF Partition ID filter to return solutions for radios in a specific rf partition",
            "example": 0,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "band-selected",
            "in": "query",
            "description": "Radio band filter to return solutions for radios in a specific band",
            "example": "2.4GHz",
            "schema": {
              "type": "string",
              "enum": [
                "2.4GHz",
                "5GHz",
                "6GHz"
              ]
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Request ID Filter to return specific solution using request id provided by user in query parameter",
            "style": "form",
            "explode": true,
            "example": [
              "1fb6908c-25a6-4c9d-91ec-0b8e8aa394a2"
            ],
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filters solution documents based on deployment status field. Valid values are COMPUTED, SENT, RETRIED, DEPLOY_UNSUCCESSFUL, and CONFIRMED.",
            "example": "DEPLOY_UNSUCCESSFUL",
            "schema": {
              "type": "string",
              "enum": [
                "COMPUTED",
                "SENT",
                "RETRIED",
                "DEPLOY_UNSUCCESSFUL",
                "CONFIRMED"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/solution_all"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-solution/{radio-mac}": {
      "get": {
        "tags": [
          "AirMatch"
        ],
        "summary": "Get solution of a specific Radio MAC",
        "description": "Returns Solution/Radio Plan of a specific radio for a given tenant",
        "operationId": "getSolutionV1",
        "parameters": [
          {
            "name": "radio-mac",
            "in": "path",
            "description": "Radio MAC address to get solution for that radio mac",
            "example": "D8:C7:C8:11:22:33",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([0-9A-Fa-f]{2}[:]){5}([0-9A-Fa-f]{2})$"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of solutions to return.",
            "example": 5,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "start-at",
            "in": "query",
            "description": "Filter for solutions with timestamp greater than or equal to the provided timestamp",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "description": "Filter for solutions with timestamp less than or equal to the provided timestamp",
            "example": "2017-07-22T00:32:28.000Z",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "runmode",
            "in": "query",
            "description": "Runmode Filter to return solutions for that runmode",
            "example": "ON-DEMAND",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Request ID Filter to return specific solution using request id provided by user in query parameter",
            "style": "form",
            "explode": true,
            "example": [
              "1fb6908c-25a6-4c9d-91ec-0b8e8aa394a2"
            ],
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/solution"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/airmatch-state": {
      "get": {
        "summary": "Get migration state for a tenant",
        "description": "Retrieve the current migration state for a given tenant",
        "operationId": "getMigrationStateV1",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Limit for pagination of results",
            "example": 100,
            "schema": {
              "type": "integer",
              "default": 500,
              "minimum": 0,
              "maximum": 500
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset for pagination of results",
            "example": 0,
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Migration state retrieved successfully",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                },
                "description": "The maximum number of requests allowed per time window"
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remaining"
                },
                "description": "The number of requests remaining in the current time window"
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Reset"
                },
                "description": "The time at which the current rate limit window resets"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/migration_state"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
[...]
