{
  "openapi": "3.1.0",
  "info": {
    "title": "Audit Trail Information",
    "version": "0.0.1",
    "description": "Serves Wi-Fi client locations with filtering options available."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Audit Trail Information",
      "description": "Automated audit data"
    }
  ],
  "paths": {
    "/network-services/v1/audits": {
      "get": {
        "tags": [
          "Audit Trail Information"
        ],
        "summary": "Get audit logs belonging to the tenant.",
        "description": "This API retrieves all the audit logs based on the tenants.",
        "operationId": "listAuditsV1",
        "parameters": [
          {
            "name": "start-at",
            "in": "query",
            "description": "Data is required starting from this timestamp, provided in RFC 3339 (and ISO 8601) format in the UTC timezone with milliseconds. The difference between *end-at* and *start-at* should be less than 90 days.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DateTimeaudit"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "description": "Data is required up to this timestamp, provided in RFC 3339 (and ISO 8601) format in the UTC timezone with milliseconds. The timestamp must be earlier than the current time and later than the start-at.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/DateTimeaudit"
            }
          },
          {
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `action` | `eq` and `in` |\n| `description` | `eq` and `in` |\n| `destination` | `eq` and `in` |\n| `category` | `eq` and `in` |\n| `subCategory` | `eq` and `in` |\n| `destinationName` | `eq` and `in` |\n| `ipAddress` | `eq` and `in` |\n| `source` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n.",
            "in": "query",
            "name": "filter",
            "required": false,
            "schema": {
              "example": "action eq 'Scope mapped' and  category eq 'Alert Management' and destination eq 'Global'",
              "maxLength": 1024,
              "type": "string"
            }
          },
          {
            "description": "Comma separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\n\nSupported fields are port, speed, neighbour, neighbourFamily, nativeVlan, neighbourRole, alias, connector, lag, vlanMode, poeClass, ipv4 and mtu. Default sort by name.\n",
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "example": "occurredOn desc",
              "maxLength": 1024,
              "type": "string"
            }
          },
          {
            "description": "Specifies the maximum number of Audits returned in the response list.\n",
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "default": 200,
              "example": 200,
              "format": "int32",
              "maximum": 1000,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Number of items to skip before returning results.\n",
            "in": "query",
            "name": "offset",
            "required": false,
            "schema": {
              "default": 1,
              "example": 1,
              "format": "int32",
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remainingaudit"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Resetaudit"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestaudit"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequestaudit"
          },
          "404": {
            "$ref": "#/components/responses/Error404audit"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/audits/{id}": {
      "get": {
        "tags": [
          "Audit Trail Information"
        ],
        "summary": "Get Audit log based on the audit id.",
        "description": "Retrieves the audit log entry for a given audit ID.",
        "operationId": "getAuditByIdV1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Audit Id log required",
            "example": "1a7a4e3d-6ab8-4d34-93cf-7443e0f32bbe",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remainingaudit"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Resetaudit"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditDetailResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestaudit"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequestaudit"
          },
          "404": {
            "$ref": "#/components/responses/Error404audit"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Action": {
        "type": "string",
        "maxLength": 256,
        "example": "Scope unmapped",
        "description": "Brief text specifying the executed operation.\n"
      },
      "AuditDetailResponse": {
        "type": "object",
        "example": {
          "id": "1a7a4e3d-6ab8-4d34-93cf-7443e0f32bbe",
          "type": "audit",
          "generation": 1,
          "createdAt": "2019-10-12T07:20:50Z",
          "updatedAt": "2019-10-12T07:20:50Z",
          "auditId": "1a7a4e3d-6ab8-4d34-93cf-7443e0f32bbe",
          "ipAddress": "127.0.0.1",
          "occurredOn": "2019-10-12T07:20:50Z",
          "destinationName": "CX0001066",
          "description": "Audit log description",
          "source": "System",
          "subCategory": "Configuration",
          "category": "Alert Management",
          "action": "Scope unmapped",
          "destination": "Global"
        },
        "required": [
          "id",
          "type",
          "generation",
          "createdAt",
          "updatedAt",
          "category",
          "description",
          "destination",
          "destinationName",
          "auditId",
          "ipAddress",
          "occurredOn",
          "action",
          "source",
          "subCategory"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "maxLength": 128,
            "description": "Unique identifier of the resource.",
            "example": "1a7a4e3d-6ab8-4d34-93cf-7443e0f32bbe"
          },
          "type": {
            "type": "string",
            "maxLength": 64,
            "description": "Resource type.",
            "example": "network-services/audit"
          },
          "generation": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9223372036854776000,
            "description": "Monotonically increasing update counter.",
            "example": 1
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "maxLength": 64,
            "description": "RFC 3339 UTC timestamp when the resource was created.",
            "example": "2019-10-12T07:20:50Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "maxLength": 64,
            "description": "RFC 3339 UTC timestamp when the resource was last updated.",
            "example": "2019-10-12T07:20:50Z"
          },
          "auditId": {
            "$ref": "#/components/schemas/AuditId"
          },
          "category": {
            "$ref": "#/components/schemas/Category"
          },
          "occurredOn": {
            "$ref": "#/components/schemas/occurredOn"
          },
          "description": {
            "$ref": "#/components/schemas/Description"
          },
          "ipAddress": {
            "$ref": "#/components/schemas/IpAddress"
          },
          "action": {
            "$ref": "#/components/schemas/Action"
          },
          "source": {
            "$ref": "#/components/schemas/Source"
          },
          "subCategory": {
            "$ref": "#/components/schemas/SubCategory"
          },
          "destinationName": {
            "$ref": "#/components/schemas/DestinationName"
          },
          "destination": {
            "$ref": "#/components/schemas/Destination"
          }
        }
      },
      "AuditId": {
        "type": "string",
        "maxLength": 128,
        "example": "e5b61232-83c8-401a-8e14-a4c75b4fb745",
        "description": "The audit id of audit.\n"
      },
      "AuditListResponse": {
        "type": "object",
        "description": "Get audit List belonging to the tenant.",
        "required": [
          "items",
          "count",
          "offset"
        ],
        "properties": {
          "items": {
            "type": "array",
            "maxItems": 2147483647,
            "items": {
              "$ref": "#/components/schemas/AuditDetailResponse"
            }
          },
          "count": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 2147483647,
            "description": "Number of objects returned in the list. Maximum will be page size.",
            "example": [
              1
            ]
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "The total number of objects contained in the datastore.\n",
            "minimum": 0,
            "maximum": 9223372036854776000,
            "example": 200
          },
          "offset": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "maximum": 2147483647,
            "description": "Number of items skipped before the returned results.",
            "example": 0
          }
        }
      },
      "Category": {
        "type": "string",
        "maxLength": 256,
        "example": "Configuration",
        "description": "Category of the executed action.\n"
      },
      "DateTimeaudit": {
        "type": "string",
        "format": "date-time",
        "description": "Date-time in RFC 3339 format (ISO 8601) in UTC timezone with milliseconds.",
        "example": "2025-08-06T12:34:56.124Z",
        "maxLength": 30
      },
      "DebugId": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting and debugging purposes.\n",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "Description": {
        "type": "string",
        "maxLength": 4096,
        "example": "Gateway [CX0001066] - Configuration Synchronized",
        "description": "Description of the executed action \n"
      },
      "Destination": {
        "type": "string",
        "maxLength": 128,
        "example": "Global",
        "description": "Name of the entity/component on which action has been performed.\n"
      },
      "DestinationName": {
        "type": "string",
        "maxLength": 128,
        "example": "CX0001066",
        "description": "The serial number or Host Name of the audit.\n"
      },
      "ErrorDetails500": {
        "type": "array",
        "description": "A list of detailed error information.",
        "items": {
          "type": "object",
          "description": "Details about a specific error.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of the error.",
              "example": "validation_error"
            },
            "retryAfterSeconds": {
              "type": "integer",
              "description": "The number of seconds to wait before retrying the request.",
              "example": 30
            },
            "source": {
              "type": "string",
              "description": "The source of the issue.",
              "example": "requestBody"
            },
            "metadata": {
              "type": "object",
              "description": "Additional metadata about the error.",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The field related to the error.",
                  "example": "name"
                },
                "reason": {
                  "type": "string",
                  "description": "The reason for the error.",
                  "example": "Field is required."
                }
              },
              "additionalProperties": true
            },
            "issues": {
              "type": "array",
              "description": "A list of issues related to the error.",
              "items": {
                "type": "object",
                "description": "Details about a specific issue.",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "The source of the issue.",
                    "example": "requestBody"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the issue.",
                    "example": "name"
                  },
                  "description": {
                    "type": "string",
                    "description": "A detailed description of the issue.",
                    "example": "The 'name' field is required."
                  }
                },
                "required": [
                  "source",
                  "subject"
                ]
              }
            }
          },
          "required": [
            "type",
            "retryAfterSeconds"
          ]
        }
      },
      "ErrorMessagewebhooks": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "Error message indicating the cause of the failure.\n",
        "example": "Reason for the error"
      },
      "InternalServerErrorSchema": {
        "type": "object",
        "description": "Internal server error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_INTERNAL_SERVER_ERROR"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding errors, please refer to the error message\n",
            "example": "HPE_GL_NETWORK_SERVICES_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessagewebhooks"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          },
          "errorDetails": {
            "$ref": "#/components/schemas/ErrorDetails500"
          }
        }
      },
      "IpAddress": {
        "type": "string",
        "maxLength": 64,
        "example": "192.168.1.100",
        "description": "Source IP Address of the user executed the operation.\n"
      },
      "Source": {
        "type": "string",
        "maxLength": 256,
        "example": "System",
        "description": "Email ID of the user executed the operation.\n"
      },
      "SubCategory": {
        "type": "string",
        "maxLength": 256,
        "example": "Configuration",
        "description": "Sub-category of the executed action.\n"
      },
      "TooManyRequests": {
        "type": "object",
        "description": "Too many requests based on rate limit",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": "429",
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "description": "Missing authorization in request",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "example": "401",
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "X-RateLimit-Limit": {
        "type": "integer",
        "format": "int64",
        "minimum": 0,
        "maximum": 9223372036854776000,
        "description": "Request limit per hour."
      },
      "X-RateLimit-Remaining": {
        "type": "integer",
        "description": "The number of requests remaining in the current rate limit window.",
        "example": 750
      },
      "X-RateLimit-Remainingaudit": {
        "type": "integer",
        "format": "int64",
        "minimum": 0,
        "maximum": 9223372036854776000,
        "description": "The number of requests left for the time window."
      },
      "X-RateLimit-Reset": {
        "type": "integer",
        "description": "The time at which the current rate limit window resets in UTC epoch seconds.",
        "example": 1733124000
      },
      "X-RateLimit-Resetaudit": {
        "type": "string",
        "format": "date-time",
        "maxLength": 20,
        "description": "The UTC date/time at which the current rate limit window resets."
      },
      "debugIdwifi": {
        "type": "string",
        "format": "const",
        "maxLength": 1024,
        "description": "Debug id of the failed request. This can be used to help with troubleshooting.",
        "example": "a53ea9f0efeb99b2a9a52ef9c7e3093b"
      },
      "message": {
        "type": "string",
        "format": "const",
        "maxLength": 1024,
        "description": "Error message indicating the cause of the failure.",
        "example": "Error message"
      },
      "occurredOn": {
        "type": "string",
        "maxLength": 64,
        "example": "2019-10-12T07:20:50Z",
        "description": "RFC 3339 UTC timestamp of when the operation executed.\n"
      }
    },
    "responses": {
      "BadRequestaudit": {
        "description": "Invalid input received.",
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "$ref": "#/components/schemas/X-RateLimit-Limit"
            }
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "$ref": "#/components/schemas/X-RateLimit-Remaining"
            }
          },
          "X-RateLimit-Reset": {
            "schema": {
              "$ref": "#/components/schemas/X-RateLimit-Reset"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Error details returned from the server.",
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "properties": {
                "errorCode": {
                  "type": "string",
                  "enum": [
                    "HPE_GL_NETWORK_SERVICES_INVALID_INPUT"
                  ],
                  "maxLength": 128,
                  "description": "Error code",
                  "example": [
                    "HPE_GL_NETWORK_SERVICES_INVALID_INPUT"
                  ]
                },
                "message": {
                  "type": "string",
                  "maxLength": 512,
                  "description": "Error message indicating the cause of the failure",
                  "example": [
                    "Bad Request, Your request was incorrect or incomplete. Please check and try again."
                  ]
                },
                "debugId": {
                  "type": "string",
                  "maxLength": 512,
                  "description": "A unique identifier used for troubleshooting and debugging purposes.",
                  "example": [
                    "e5b61232-83c8-401a-8e14-a4c75b4fb745"
                  ]
                },
                "httpStatusCode": {
                  "type": "integer",
                  "minimum": 400,
                  "maximum": 400,
                  "example": [
                    400
                  ],
                  "description": "HTTP status code"
                }
              }
            }
          }
        }
      },
      "Error404audit": {
        "description": "Resource not found error response.",
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "$ref": "#/components/schemas/X-RateLimit-Limit"
            }
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "$ref": "#/components/schemas/X-RateLimit-Remaining"
            }
          },
          "X-RateLimit-Reset": {
            "schema": {
              "$ref": "#/components/schemas/X-RateLimit-Reset"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Error details returned from the server.",
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "properties": {
                "errorCode": {
                  "type": "string",
                  "enum": [
                    "HPE_GL_NETWORK_SERVICES_RESOURCE_NOT_FOUND"
                  ],
                  "maxLength": 256,
                  "description": "A unique machine-friendly identifier for the error.",
                  "example": [
                    "HPE_GL_NETWORK_SERVICES_RESOURCE_NOT_FOUND"
                  ]
                },
                "message": {
                  "type": "string",
                  "maxLength": 512,
                  "description": "Error message indicating the cause of the failure.",
                  "example": [
                    "Requested resource was not found"
                  ]
                },
                "debugId": {
                  "type": "string",
                  "maxLength": 512,
                  "description": "A unique identifier used for troubleshooting and debugging purposes.",
                  "example": [
                    "e5b61232-83c8-401a-8e14-a4c75b4fb745"
                  ]
                },
                "httpStatusCode": {
                  "type": "integer",
                  "minimum": 404,
                  "maximum": 404,
                  "example": [
                    404
                  ],
                  "description": "HTTP status code."
                }
              }
            }
          }
        }
      },
      "ForbiddenRequestaudit": {
        "description": "Forbidden: Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "schema": {
              "$ref": "#/components/schemas/X-RateLimit-Limit"
            }
          },
          "X-RateLimit-Remaining": {
            "schema": {
              "$ref": "#/components/schemas/X-RateLimit-Remaining"
            }
          },
          "X-RateLimit-Reset": {
            "schema": {
              "$ref": "#/components/schemas/X-RateLimit-Reset"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Error details returned from the server.",
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "properties": {
                "errorCode": {
                  "type": "string",
                  "enum": [
                    "HPE_GL_ERROR_FORBIDDEN"
                  ],
                  "maxLength": 256,
                  "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message",
                  "example": [
                    "HPE_GL_ERROR_FORBIDDEN"
                  ]
                },
                "message": {
                  "type": "string",
                  "maxLength": 512,
                  "description": "Forbidden",
                  "example": [
                    "Unauthorized Request"
                  ]
                },
                "debugId": {
                  "type": "string",
                  "maxLength": 512,
                  "description": "A unique identifier used for troubleshooting and debugging purposes.",
                  "example": [
                    "e5b61232-83c8-401a-8e14-a4c75b4fb745"
                  ]
                },
                "httpStatusCode": {
                  "type": "integer",
                  "minimum": 403,
                  "maximum": 403,
                  "example": [
                    403
                  ],
                  "description": "HTTP status code"
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "Internal server error.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerErrorSchema"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequests"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Unauthorized"
            }
          }
        }
      }
    },
    "headers": {
      "XRateLimitLimit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "XRateLimitRemaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "XRateLimitReset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
