{
  "openapi": "3.1.0",
  "info": {
    "title": "FCO Response Information",
    "version": "0.0.1",
    "description": "Serves Wi-Fi client locations with filtering options available."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "FCO Response Information",
      "description": "Automated Frequency Coordination channel data"
    }
  ],
  "paths": {
    "/network-services/v1/fco-resp-info-all": {
      "get": {
        "tags": [
          "FCO Response Information"
        ],
        "summary": "Get AFC channel data for all access points belonging to the tenant.",
        "description": "This API retrieves the Automated Frequency Coordination channel and EIRP data for all the access points.",
        "operationId": "listAfcRespInfoV1",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of items to return.",
            "schema": {
              "$ref": "#/components/schemas/Limitfco"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The offset of the first item in the collection to return.",
            "schema": {
              "$ref": "#/components/schemas/Offsetfco"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remainingfco"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Resetfco"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fco_resp_info_all"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestfco"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequestfco"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/fco-resp-info/{serial-number}": {
      "get": {
        "tags": [
          "FCO Response Information"
        ],
        "summary": "Get AFC channel data of a specific AP.",
        "description": "This API retrieves the Automated Frequency Coordination channel and EIRP data for the specific AP serial number that has been provided.",
        "operationId": "getAfcRespInfoV1",
        "parameters": [
          {
            "name": "serial-number",
            "in": "path",
            "description": "The serial number of the access point for which AFC channel data is required",
            "example": "ABCDEFG99H",
            "required": true,
            "schema": {
              "type": "string",
              "format": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remainingfco"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Resetfco"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/fco_resp_info"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestfco"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequestfco"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "DebugId": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting and debugging purposes.\n",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "ErrorDetails500": {
        "type": "array",
        "description": "A list of detailed error information.",
        "items": {
          "type": "object",
          "description": "Details about a specific error.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of the error.",
              "example": "validation_error"
            },
            "retryAfterSeconds": {
              "type": "integer",
              "description": "The number of seconds to wait before retrying the request.",
              "example": 30
            },
            "source": {
              "type": "string",
              "description": "The source of the issue.",
              "example": "requestBody"
            },
            "metadata": {
              "type": "object",
              "description": "Additional metadata about the error.",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The field related to the error.",
                  "example": "name"
                },
                "reason": {
                  "type": "string",
                  "description": "The reason for the error.",
                  "example": "Field is required."
                }
              },
              "additionalProperties": true
            },
            "issues": {
              "type": "array",
              "description": "A list of issues related to the error.",
              "items": {
                "type": "object",
                "description": "Details about a specific issue.",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "The source of the issue.",
                    "example": "requestBody"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the issue.",
                    "example": "name"
                  },
                  "description": {
                    "type": "string",
                    "description": "A detailed description of the issue.",
                    "example": "The 'name' field is required."
                  }
                },
                "required": [
                  "source",
                  "subject"
                ]
              }
            }
          },
          "required": [
            "type",
            "retryAfterSeconds"
          ]
        }
      },
      "ErrorMessagewebhooks": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "Error message indicating the cause of the failure.\n",
        "example": "Reason for the error"
      },
      "InternalServerErrorSchema": {
        "type": "object",
        "description": "Internal server error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_INTERNAL_SERVER_ERROR"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding errors, please refer to the error message\n",
            "example": "HPE_GL_NETWORK_SERVICES_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessagewebhooks"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          },
          "errorDetails": {
            "$ref": "#/components/schemas/ErrorDetails500"
          }
        }
      },
      "Limitfco": {
        "type": "integer",
        "format": "int32",
        "minimum": 0,
        "maximum": 1000,
        "default": 100,
        "description": "The maximum number of items to return."
      },
      "Offsetfco": {
        "type": "integer",
        "format": "int32",
        "minimum": 0,
        "maximum": 2147483647,
        "default": 0,
        "description": "The offset of the first item in the collection to return."
      },
      "TooManyRequests": {
        "type": "object",
        "description": "Too many requests based on rate limit",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": "429",
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "description": "Missing authorization in request",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "example": "401",
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "X-RateLimit-Remainingfco": {
        "type": "integer",
        "format": "int64",
        "minimum": 0,
        "maximum": 9223372036854776000
      },
      "X-RateLimit-Resetfco": {
        "type": "string",
        "format": "date-time",
        "maxLength": 20
      },
      "debugIdwifi": {
        "type": "string",
        "format": "const",
        "maxLength": 1024,
        "description": "Debug id of the failed request. This can be used to help with troubleshooting.",
        "example": "a53ea9f0efeb99b2a9a52ef9c7e3093b"
      },
      "fco_resp_info": {
        "type": "object",
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "The serial number of the access point for which Automated Frequency Coordination channel data has been fetched."
          },
          "type": {
            "type": "string",
            "description": "The type of device for which Automated Frequency Coordination channel data has been fetched."
          },
          "tenantId": {
            "type": "string",
            "description": "The tenant ID of the access point for which Automated Frequency Coordination channel data has been fetched."
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number of the access point for which Automated Frequency Coordination channel data has been fetched."
          },
          "afcReqTimestamp": {
            "type": "integer",
            "description": "The timestamp of the Automated Frequency Coordination request"
          },
          "afcRespTimestamp": {
            "type": "integer",
            "description": "The timestamp of the Automated Frequency Coordination response"
          },
          "afcExpiryTimestamp": {
            "type": "integer",
            "description": "The timestamp indicating when the Automated Frequency Coordination response expires"
          },
          "chanList20MHz": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "20MHz Automated Frequency Coordination response channel list"
          },
          "chanList40MHz": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "40MHz Automated Frequency Coordination response channel list"
          },
          "chanList80MHz": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "80MHz Automated Frequency Coordination response channel list"
          },
          "chanList160MHz": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "160MHz Automated Frequency Coordination response channel list"
          },
          "chanList320MHz1": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "320MHz1 Automated Frequency Coordination response channel list"
          },
          "chanList320MHz2": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "320MHz2 Automated Frequency Coordination response channel list"
          },
          "chanListPsd": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "PSD Automated Frequency Coordination response channel list"
          },
          "eirpList20MHz": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            },
            "description": "20MHz Automated Frequency Coordination response EIRP list"
          },
          "eirpList40MHz": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            },
            "description": "40MHz Automated Frequency Coordination response EIRP list"
          },
          "eirpList80MHz": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            },
            "description": "80MHz Automated Frequency Coordination response EIRP list"
          },
          "eirpList160MHz": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            },
            "description": "160MHz Automated Frequency Coordination response EIRP list"
          },
          "eirpList320MHz1": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            },
            "description": "320MHz1 Automated Frequency Coordination response EIRP list"
          },
          "eirpList320MHz2": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            },
            "description": "320MHz2 Automated Frequency Coordination response EIRP list"
          },
          "eirpListPsd": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            },
            "description": "PSD Automated Frequency Coordination EIRP response list"
          }
        }
      },
      "fco_resp_info_all": {
        "type": "object",
        "description": "Automated Frequency Coordination channel data of all access points belonging to the tenant.",
        "required": [
          "items",
          "count"
        ],
        "properties": {
          "items": {
            "type": "array",
            "maxItems": 2147483647,
            "items": {
              "$ref": "#/components/schemas/fco_resp_info"
            }
          },
          "count": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 2147483647,
            "description": "The number of objects returned in the list. Maximum will be page size.",
            "example": 1
          },
          "offset": {
            "type": "integer",
            "format": "int32",
            "description": "Specifies the offset of the returned page.",
            "example": 0
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "The total number of objects contained in the database.",
            "example": 200
          }
        }
      },
      "message": {
        "type": "string",
        "format": "const",
        "maxLength": 1024,
        "description": "Error message indicating the cause of the failure.",
        "example": "Error message"
      }
    },
    "responses": {
      "BadRequestfco": {
        "description": "Invalid input received.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Error details",
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "properties": {
                "errorCode": {
                  "type": "string",
                  "enum": [
                    "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
                  ],
                  "maxLength": 128,
                  "description": "An error code",
                  "example": [
                    "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
                  ]
                },
                "message": {
                  "type": "string",
                  "format": "const",
                  "maxLength": 512,
                  "description": "An error message indicating the cause of the failure",
                  "example": [
                    "Invalid limit or offset input less than 0"
                  ]
                },
                "debugId": {
                  "type": "string",
                  "format": "const",
                  "maxLength": 512,
                  "description": "A unique identifier used for troubleshooting and debugging purposes.",
                  "example": [
                    "e5b61232-83c8-401a-8e14-a4c75b4fb745"
                  ]
                },
                "httpStatusCode": {
                  "type": "integer",
                  "minimum": 400,
                  "maximum": 400,
                  "example": [
                    400
                  ],
                  "description": "The HTTP status code"
                }
              }
            }
          }
        }
      },
      "ForbiddenRequestfco": {
        "description": "Forbidden: Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "description": "Error details",
              "required": [
                "errorCode",
                "message",
                "debugId",
                "httpStatusCode"
              ],
              "properties": {
                "errorCode": {
                  "type": "string",
                  "enum": [
                    "HPE_GL_ERROR_FORBIDDEN"
                  ],
                  "maxLength": 256,
                  "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message",
                  "example": [
                    "HPE_GL_ERROR_FORBIDDEN"
                  ]
                },
                "message": {
                  "type": "string",
                  "format": "const",
                  "maxLength": 512,
                  "description": "Forbidden",
                  "example": [
                    "Unauthorized Request"
                  ]
                },
                "debugId": {
                  "type": "string",
                  "format": "const",
                  "maxLength": 512,
                  "description": "A unique identifier used for troubleshooting and debugging purposes.",
                  "example": [
                    "e5b61232-83c8-401a-8e14-a4c75b4fb745"
                  ]
                },
                "httpStatusCode": {
                  "type": "integer",
                  "minimum": 403,
                  "maximum": 403,
                  "example": [
                    403
                  ],
                  "description": "The HTTP status code"
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "Internal server error.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerErrorSchema"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequests"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Unauthorized"
            }
          }
        }
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The request limit per hour."
      },
      "X-RateLimit-Remaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "X-RateLimit-Remainingfco": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "$ref": "#/components/schemas/X-RateLimit-Remainingfco"
        }
      },
      "X-RateLimit-Reset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The UTC date/time at which the current rate limit window resets."
      },
      "X-RateLimit-Resetfco": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "$ref": "#/components/schemas/X-RateLimit-Resetfco"
        }
      },
      "XRateLimitLimit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "XRateLimitRemaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "XRateLimitReset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
