{
  "openapi": "3.1.0",
  "info": {
    "title": "Location",
    "version": "0.0.1",
    "description": "Serves Wi-Fi client locations with filtering options available."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Location",
      "description": "APIs that allow for interacting with Location Service offerings."
    }
  ],
  "paths": {
    "/network-services/v1/ap-ranging-scans": {
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Start an AP ranging scan (USE WITH CAUTION)",
        "operationId": "startApRangingScanV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "description": "(USE WITH CAUTION) Will cause a wifi network outage! \n\nStarts an AP ranging scan for the given floor-id. \n\nAP ranging scans facilitate using automatic AP placement within the floorplan manager as it allows the system to collect inter-AP ranging information in a much shorter time frame.\n\nDuring an AP ranging scan, all wifi client connectivity on the 5GHz radio will be disrupted for the system-calculated scan duration. When the scan completes, the network will automatically restore itself.\n\nOnly one scan can be active on a floor at any time.\n\nThe other pre-requisites for starting an AP ranging scan are:\n\n1. APs on the given floor-id must be 'ftm-monitor' capable (ie. Running AOS firmware version 10.7.1 or greater)\n2. APs on the given floor-id must be configured in the same regulatory domain (ie. configured with the same country code)\n3. APs on the given floor must be synchronized with the same ntp server\n",
        "parameters": [
          {
            "name": "site-id",
            "in": "query",
            "required": true,
            "description": "The Site ID where the scan(s) were executed.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/SiteIdopen"
            }
          },
          {
            "name": "floor-id",
            "in": "query",
            "required": true,
            "description": "The Floor ID where the scan(s) were executed.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/FloorIdopen"
            }
          },
          {
            "name": "dry-run",
            "in": "query",
            "required": false,
            "description": "If present, the scan will not be started, but the request will be validated.\n",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Scan parameters\n",
                "properties": {
                  "scanStartTime": {
                    "type": "string",
                    "format": "const",
                    "maxLength": 13,
                    "description": "Timestamp in milliseconds since epoch UTC indicating the start time of the ftm-monitor mode scan. All APs will stop servicing wifi clients on the 5GHz radio 2 minutes before this time and will start the scan at the specified time. The minimum value is 5 minutes from the current time, the default value is 10 minutes from the current time if this parameter is not provided.\n",
                    "examples": [
                      "1729194009000"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Scan is pending\n",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Location": {
                "$ref": "#/components/headers/Locationopen"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartApRangingScanResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NoAPsFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/network-services/v1/asset-tags": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Get a list of Asset Tags",
        "description": "This API endpoint retrieves a list of Asset Tags. Each Asset Tag in the returned list includes metadata details and last known location. The query parameters allow you to narrow down the results to access points that meet specific criteria, ensuring you receive only the relevant data.",
        "operationId": "listAssetTagDataV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData 4.0 filter (limited functionality). Supports filtering on field `metadata/labels` only.\n",
            "schema": {
              "$ref": "#/components/schemas/Filterasset"
            }
          },
          {
            "name": "mac-address",
            "in": "query",
            "required": false,
            "description": "MAC address of the Asset Tag.\n\nNote: The filter, sort, limit, and offset parameters are not applicable if the MAC-address query parameter is specified.",
            "schema": {
              "$ref": "#/components/schemas/MacAddressasset"
            }
          },
          {
            "name": "start-at",
            "in": "query",
            "required": false,
            "description": "Retrieve data starting at the specified timestamp. Provided in RFC 3339 format. Example: `2023-01-01T23:10:41.123Z`. If no timestamp is provided, all data will be considered.\n",
            "schema": {
              "$ref": "#/components/schemas/DateTime"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Denotes the maximum number of Asset Tags returned in the response. (Default: 100)\n",
            "schema": {
              "type": "integer",
              "format": "int32",
              "$ref": "#/components/schemas/Limitasset"
            }
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "description": "Specifies the zero-based resource offset from which to start the page. (Default: 0)\n",
            "schema": {
              "type": "integer",
              "format": "int32",
              "$ref": "#/components/schemas/Offsetasset"
            }
          },
          {
            "name": "sort",
            "required": false,
            "description": "Comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator: asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted, the default direction is ascending.\n\nSupported fields are `metadata/name`, `macAddress`, `lastKnownLocation/batteryLevel`, and `lastKnownLocation/lastSeen`.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "metadata/name asc,lastKnownLocation/lastSeen desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remainingasset"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Resetasset"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDataPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestasset"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequestasset"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/network-services/v1/asset-tags/{asset-tag-id}": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Get Asset Tag details",
        "description": "This API retrieves detailed information about a specific Asset Tag.",
        "operationId": "getAssetTagDataByAssetTagIdV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "asset-tag-id",
            "in": "path",
            "required": true,
            "description": "ID of the Asset Tag",
            "schema": {
              "$ref": "#/components/schemas/DeviceId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remainingasset"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Resetasset"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagData"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestasset"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequestasset"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundasset"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/network-services/v1/asset-tags/{asset-tag-id}/metadata": {
      "put": {
        "tags": [
          "Location"
        ],
        "summary": "Update Asset Tag metadata",
        "description": "This API replaces Asset Tag metadata with the request body content.",
        "operationId": "updateAssetTagDataByAssetTagIdV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "asset-tag-id",
            "in": "path",
            "required": true,
            "description": "ID of the Asset Tag",
            "schema": {
              "$ref": "#/components/schemas/DeviceId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Object with request parameters of Asset Tag metadata",
                "required": [],
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/TagName"
                  },
                  "customId": {
                    "$ref": "#/components/schemas/CustomId"
                  },
                  "notes": {
                    "$ref": "#/components/schemas/TagNotes"
                  },
                  "labels": {
                    "$ref": "#/components/schemas/TagLabels"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Asset Tag metadata update request has been accepted\n",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remainingasset"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Resetasset"
                }
              },
              "Location": {
                "schema": {
                  "$ref": "#/components/schemas/LocationHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDataUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestasset"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequestasset"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundasset"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Create Asset Tag metadata",
        "description": "This API creates metadata for a specific Asset Tag.",
        "operationId": "createAssetTagDataByAssetTagIdV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "asset-tag-id",
            "in": "path",
            "required": true,
            "description": "ID of the Asset Tag",
            "schema": {
              "$ref": "#/components/schemas/DeviceId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Object with request parameters of Asset Tag metadata",
                "required": [],
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/TagName"
                  },
                  "customId": {
                    "$ref": "#/components/schemas/CustomId"
                  },
                  "notes": {
                    "$ref": "#/components/schemas/TagNotes"
                  },
                  "labels": {
                    "$ref": "#/components/schemas/TagLabels"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Asset Tag metadata update request has been accepted\n",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remainingasset"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Resetasset"
                }
              },
              "Location": {
                "schema": {
                  "$ref": "#/components/schemas/LocationHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagDataUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestasset"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequestasset"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundasset"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Location"
        ],
        "summary": "Remove Asset Tag metadata",
        "operationId": "deleteAssetTagDataByAssetTagIdV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "description": "This API removes all metadata parameters for a specific Asset Tag.",
        "parameters": [
          {
            "name": "asset-tag-id",
            "in": "path",
            "required": true,
            "description": "ID of the Asset Tag",
            "schema": {
              "$ref": "#/components/schemas/DeviceId"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Asset Tag metadata delete request has been accepted",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Limit"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Remainingasset"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "$ref": "#/components/schemas/X-RateLimit-Resetasset"
                }
              },
              "Location": {
                "schema": {
                  "$ref": "#/components/schemas/LocationHeader"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagMetadataDeleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestasset"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenRequestasset"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundasset"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/network-services/v1/sitemaps/{site-id}/floors/{floor-id}/ap-ranging-scans": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "List AP ranging scans",
        "description": "Gets a list of scan statuses for AP ranging scans that were triggered on this floor-id.\n",
        "operationId": "getApRangingScanListV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "Site ID where the scan(s) were executed.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/SiteIdopen"
            }
          },
          {
            "name": "floor-id",
            "in": "path",
            "required": true,
            "description": "Floor ID where the scan(s) were executed.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/FloorIdopen"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "$ref": "#/components/schemas/LimitParam"
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/NextParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of AP ranging scans matching the floor-id\n",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApRangingScanStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/network-services/v1/sitemaps/{site-id}/floors/{floor-id}/ap-ranging-scans/{scan-id}": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Get scan resource",
        "description": "Returns the status of the AP ranging scan identified by the scan-id.",
        "operationId": "getApRangingScanV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "Site ID where the scan(s) were executed.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/SiteIdopen"
            }
          },
          {
            "name": "floor-id",
            "in": "path",
            "required": true,
            "description": "Floor ID where the scan(s) were executed.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/FloorIdopen"
            }
          },
          {
            "name": "scan-id",
            "in": "path",
            "required": true,
            "description": "The Scan ID.\n",
            "schema": {
              "$ref": "#/components/schemas/SessionId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned FTM scan resource.\n",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApRangingScanStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Location"
        ],
        "summary": "Stop a scan",
        "operationId": "stopApRangingScanV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "description": "Stop a previously created AP ranging scan. Only scans in the PENDING state can successfully be stopped. Once a scan has transitioned to the SCHEDULED or SCANNING states, the user will need to wait for the scan to complete before the network can be restored. Scans in the other states are already stopped, so stopping them will effectively be a no-op.\n",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "Site ID where the scan(s) were executed.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/SiteIdopen"
            }
          },
          {
            "name": "floor-id",
            "in": "path",
            "required": true,
            "description": "Floor ID where the scan(s) were executed.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/FloorIdopen"
            }
          },
          {
            "name": "scan-id",
            "in": "path",
            "required": true,
            "description": "The Scan ID.\n",
            "schema": {
              "$ref": "#/components/schemas/SessionId"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Scan was successfully stopped\n",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Location": {
                "$ref": "#/components/headers/Locationopen"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApRangingScanDeleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/ScanNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/network-services/v1/sites/{site-id}/device-locations": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "List devices with location information",
        "description": "This API endpoint retrieves a list of network devices that have been assigned location information (e.g. after being placed on a floorplan and/or automatically determined by the system). Each device in the returned list includes details like serial number, MAC address, IP address, consolidated location, etc. The consolidated location of a device is the best known location of the device (x/y coordinates on the floorplan and/or latitude/longitude geographic coordinates) with the administrator-specified position always taking precedence.  The query parameters allow you to narrow down the results to devices that meet specific criteria, ensuring you receive only the relevant data. Device lists are restricted to a single site represented by the required site-id query parameter.",
        "operationId": "getDeviceLocationsV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the Site for which device location information is requested.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/SiteIddeviceloc"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData 4.0 filter (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supports filtering on fields floorId and buildingId only.\n",
            "schema": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "$ref": "#/components/schemas/Limitdeviceloc"
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/Next"
            }
          },
          {
            "name": "with-location",
            "required": false,
            "in": "query",
            "description": "Filter for devices with or without location based on this parameter.\n",
            "schema": {
              "type": "boolean",
              "default": true,
              "examples": [
                true
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned device list with their consolidated locations.\n",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDeviceLocationSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/network-services/v1/sites/{site-id}/device-locations/{location-id}": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Get location resource",
        "description": "This API provides the location details for a specific location resource. The site-id must be provided alongside the location-id to properly fetch the location data. Each unique location-id represents a change in device location, for example if an AP was moved from one floorplan to another a new location resource with a unique location-id will be created.",
        "operationId": "getLocationByIdV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "ID of the Site for which device location information is requested.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/SiteIddeviceloc"
            }
          },
          {
            "name": "location-id",
            "in": "path",
            "required": true,
            "description": "The ID of the location resource to be fetched.\n",
            "schema": {
              "$ref": "#/components/schemas/LocationId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returned device location resource.\n",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceLocationSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/network-services/v1/sites/{site-id}/devices/{serial-number}/location": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Get device location details",
        "operationId": "getDeviceDetailedLocationV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "description": "Return the location information for a device identified by the required parameters site-id and serial-number. The device must exist in the system and have associated location data.\n",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the Site for which device location information is requested.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/SiteIddeviceloc"
            }
          },
          {
            "name": "serial-number",
            "in": "path",
            "required": true,
            "description": "The device serial for which the location information is being requested.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/DeviceSerial"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Object containing the device's geographic coordinates matching the request criteria. \nIf no device with the requested information is found, then an empty list is returned.\n",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceLocationSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "tags": [
          "Location"
        ],
        "summary": "Set device coordinates",
        "operationId": "putDeviceAdminLocationV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "description": "This API can set or update the adminSpecifiedLocation of an AP. The device to update must be identified by both the site-id and serial-number and MUST exist in the system to set its location. The adminSpecifiedLocation of a device will always override the latest consolidatedLocation.\nIf the `center` is provided in the request body, these coordinates will be programmed into the AP to support FTM based client location services (if enabled).\n",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the Site for which device location information is being set.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/SiteIddeviceloc"
            }
          },
          {
            "name": "serial-number",
            "in": "path",
            "required": true,
            "description": "The device serial for which the location information is being requested.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/DeviceSerial"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Administratively determined device geo and relative location.\n",
                "required": [
                  "center"
                ],
                "properties": {
                  "cartesianCoordinates": {
                    "$ref": "#/components/schemas/CartesianCoordinates"
                  },
                  "center": {
                    "$ref": "#/components/schemas/Center"
                  },
                  "lciUncertainty": {
                    "$ref": "#/components/schemas/LCIUncertainty"
                  },
                  "altitude": {
                    "$ref": "#/components/schemas/Altitude"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Device coordinates update accepted. Location will be updated shortly in the database.\n",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationUpdateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "Location"
        ],
        "summary": "Delete device coordinates",
        "operationId": "delDeviceAdminLocationV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "description": "Remove the adminSpecifiedLocation coordinates of a device. The device must be identified by the site-id and serial-number.\nIf the AP has a built-in GPS receiver and a GPS position is known, then the consolidated device location will fall back to the last known GPS position.\n",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the Site for which device location information should be removed.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/SiteIddeviceloc"
            }
          },
          {
            "name": "serial-number",
            "in": "path",
            "required": true,
            "description": "The device serial for which the location information is being removed.\n",
            "schema": {
              "$ref": "#/components/schemas/DeviceSerial"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Device coordinates delete accepted. Location will be updated shortly in the database.\n",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              },
              "Location": {
                "$ref": "#/components/headers/Location"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocationDeleteResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/DeviceNotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/network-services/v1/wifi-clients-locations": {
      "get": {
        "tags": [
          "Location"
        ],
        "summary": "Get locations of Wi-Fi clients",
        "description": "This API provides Wi-Fi client locations using a variety of query options. Please use either `latest-location-per-client` or `latest-connected-client-mac` query parameters. For details please refer to descriptions of corresponding parameters.",
        "operationId": "listClientLocationsForAPIV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "This is required parameter if latest-location-per-client parameter is used. OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `siteId` (mandatory) | `eq` and `in` |\n| `buildingId` | `eq` and `in` |\n| `floorId` | `eq` and `in` |\n| `associated` | `eq` |\n| `connected` | `eq` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n Note: Provide boolean values (true/false) in lowercase.",
            "example": "siteId eq '1033566193' and buildingId in ('buildingId1','buildingId2') and floorId in ('defaultFloorId3', 'defaultFloorId4') and associated eq true and connected eq false",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 2048
            }
          },
          {
            "name": "start-at",
            "in": "query",
            "required": false,
            "description": "Retrieve data starting at the specified timestamp. Provided in RFC 3339 format. Example: `2023-01-01T23:10:41.123Z`. If no timestamp is provided, all data will be considered.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "$ref": "#/components/schemas/DateTime"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Denotes the maximum number of clients returned in the response. (Default: 100)\n",
            "schema": {
              "type": "integer",
              "format": "int32",
              "$ref": "#/components/schemas/Limitwifi"
            }
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "description": "Specifies the zero-based resource offset to start the page from. Default: 0\n",
            "schema": {
              "type": "integer",
              "format": "int32",
              "$ref": "#/components/schemas/Offsetwifi"
            }
          },
          {
            "name": "latest-location-per-client",
            "required": false,
            "in": "query",
            "description": "Provides a list of latest client locations. Only the value of 1 is supported for the moment. It is mutually exclusive from parameter latest-connected-client-mac.\n",
            "schema": {
              "type": "integer",
              "format": "int32",
              "$ref": "#/components/schemas/LatestLocationPerClient"
            }
          },
          {
            "name": "latest-connected-client-mac",
            "required": false,
            "in": "query",
            "description": "Provides the latest location information for a specific client that is connected and associated. Do not provide filter, offset and limit when using this query parameter. It is mutually exclusive from parameter latest-location-per-client.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "$ref": "#/components/schemas/LastConnectClientMacAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SuccessResponse"
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/DatabaseError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Accuracy": {
        "type": "number",
        "format": "float",
        "description": "Indicates the radius of horizontal uncertainty, computed at 95%. This means the sum of the probability of potential locations contained in this uncertainty circle represents 95% of the whole venue probability. The unit of this radius is in metres.\n",
        "example": 25.2
      },
      "Altitude": {
        "type": "object",
        "description": "Describes a vertical elevation.\n",
        "required": [
          "elevationType",
          "elevation",
          "uncertainty"
        ],
        "properties": {
          "elevationType": {
            "type": [
              "string"
            ],
            "description": "Identifies the vertical datum used to measure the device elevation.\n* 'ABOVE_MEAN_SEA_LEVEL' - Above Mean Sea Level, the elevation in meters in relation to the zero set by the vertical WGS 84 datum\n* 'ABOVE_GROUND_LEVEL'  - Above Ground Level, the elevation in meters above the local ground level\n* 'UNKNOWN' - The elevation type is unknown\n",
            "enum": [
              "ABOVE_MEAN_SEA_LEVEL",
              "ABOVE_GROUND_LEVEL",
              "UNKNOWN"
            ],
            "examples": [
              "ABOVE_GROUND_LEVEL"
            ]
          },
          "elevation": {
            "type": [
              "number"
            ],
            "description": "The elevation in meters in relation to the vertical datum identified by the \"elevationType\" field, with negative values indicating elevations below it.\n",
            "minimum": 0,
            "maximum": 9999999,
            "examples": [
              18
            ]
          },
          "elevationUncertainty": {
            "type": [
              "number"
            ],
            "description": "The elevation uncertainty in meters above and below the value specified in the \"elevation\" field.\n\nThe value 0 is reserved to indicate that the elevation uncertainty is unknown.\n",
            "minimum": 0,
            "maximum": 9999999,
            "examples": [
              0
            ]
          }
        }
      },
      "ApRangingScanDeleteResponse": {
        "type": "object",
        "description": "The result of the delete ftm scan request.\n\nSUCCESS - Scan was deleted (or was already completed).\nINVALID_SCAN_STATE - Scan could not be deleted because it has already been scheduled or started.\n",
        "properties": {
          "result": {
            "type": "string",
            "format": "enum",
            "enum": [
              "SUCCESS",
              "INVALID_SCAN_STATE"
            ],
            "examples": [
              "SUCCESS"
            ]
          }
        }
      },
      "ApRangingScanStatus": {
        "type": "object",
        "description": "The details of an ftm scan.\n",
        "required": [
          "id",
          "type",
          "createdAt",
          "updatedAt",
          "siteId",
          "floorId",
          "status",
          "serialNumbers",
          "scanStartTime",
          "estimatedCompletionTime",
          "dwellTimeMillis",
          "scannedChannels"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/SessionId"
          },
          "type": {
            "type": "string",
            "description": "A string indicating the document type.\n",
            "format": "enum",
            "enum": [
              "FTM_SCAN"
            ],
            "examples": [
              "FTM_SCAN"
            ]
          },
          "createdAt": {
            "$ref": "#/components/schemas/Timestamp",
            "description": "The timestamp of the initial scan request."
          },
          "updatedAt": {
            "$ref": "#/components/schemas/Timestamp",
            "description": "The timestamp of the latest ftm scan state change."
          },
          "siteId": {
            "$ref": "#/components/schemas/SiteIdopen"
          },
          "floorId": {
            "$ref": "#/components/schemas/FloorIdopen"
          },
          "status": {
            "$ref": "#/components/schemas/ScanStatus"
          },
          "serialNumbers": {
            "type": "array",
            "maxItems": 2147483647,
            "items": {
              "$ref": "#/components/schemas/SerialNumberopen"
            }
          },
          "scanStartTime": {
            "$ref": "#/components/schemas/Timestamp",
            "description": "The estimated start time of the ftm scan and associated network outage."
          },
          "estimatedCompletionTime": {
            "$ref": "#/components/schemas/Timestamp",
            "description": "The estimated scan completion time and network restoration"
          },
          "dwellTimeMillis": {
            "type": "integer",
            "format": "uint32",
            "minimum": 1,
            "maximum": 4294967295,
            "description": "The number of milliseconds that the scan spends on each channel to attempt ranging to other nearby APs.",
            "examples": [
              90
            ]
          },
          "scannedChannels": {
            "type": "array",
            "maxItems": 2147483647,
            "items": {
              "$ref": "#/components/schemas/BandChannelList"
            }
          },
          "errorMessage": {
            "type": "string",
            "description": "An error message (if applicable). Indicates the reason for the scan failure.",
            "format": "const",
            "maxLength": 256,
            "examples": [
              null
            ]
          }
        }
      },
      "Associated": {
        "type": "boolean",
        "description": "Provides Boolean indication of whether this client is associated to an AP.\n",
        "example": true
      },
      "AssociatedBssid": {
        "type": [
          "string",
          "null"
        ],
        "format": "mac",
        "minLength": 18,
        "maxLength": 18,
        "description": "Provides the associated BSSID for this client.\n",
        "example": "REDACTED"
      },
      "BadRequestsErrorSchema": {
        "type": "object",
        "description": "Error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "description": "HTTP status code.\n",
            "example": 400
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_INVALID_INPUT"
            ],
            "maxLength": 128,
            "description": "Error code\n",
            "example": "HPE_GL_NETWORK_SERVICES_INVALID_INPUT"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessagewebhooks"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          },
          "errorDetails": {
            "$ref": "#/components/schemas/ErrorDetails400"
          }
        }
      },
      "BandChannelList": {
        "type": "object",
        "description": "A list of channels identified by their band, bandwidth, and channel number.",
        "required": [
          "band",
          "bandwidth",
          "primaryChannelList"
        ],
        "properties": {
          "band": {
            "type": "string",
            "description": "The channel frequency band",
            "enum": [
              "RADIO_BAND_5GHZ",
              "RADIO_BAND_6GHZ"
            ],
            "examples": [
              "RADIO_BAND_5GHZ"
            ]
          },
          "bandwidth": {
            "type": "string",
            "description": "The channel bandwidth",
            "enum": [
              "CHANNEL_BW_80MHZ",
              "CHANNEL_BW_160MHZ"
            ],
            "examples": [
              "CHANNEL_BW_80MHZ"
            ]
          },
          "primaryChannelList": {
            "type": "array",
            "maxItems": 214783647,
            "items": {
              "$ref": "#/components/schemas/Channel"
            }
          }
        }
      },
      "BatteryLevel": {
        "type": [
          "integer",
          "null"
        ],
        "minimum": 0,
        "maximum": 100,
        "format": "int",
        "description": "Battery level of the Asset Tag.",
        "example": "75"
      },
      "BuildingId": {
        "type": [
          "string"
        ],
        "format": "uuid",
        "maxLength": 256,
        "description": "Building ID associated with the device in UUID format. Omitted if no specific building is associated with the device.\n",
        "examples": [
          "bld2bd91-de81-4097-8420-3ca7f87450fd"
        ]
      },
      "BuildingIdasset": {
        "type": [
          "string",
          "null"
        ],
        "format": "uuid",
        "maxLength": 128,
        "description": "Building ID associated with the Asset Tag.",
        "examples": [
          "3b5b-0e6c-4b73-9f6e-4e895a080190"
        ]
      },
      "BuildingIdwifi": {
        "type": [
          "string",
          "null"
        ],
        "format": "uuid",
        "maxLength": 36,
        "description": "Building ID associated with the client in UUID format. Omitted if no specific building is associated with the client.\n",
        "example": "cfd5dfe0-1476-49b1-ac37-6576801d1124"
      },
      "BuildingName": {
        "type": [
          "string",
          "null"
        ],
        "description": "The name of the building.",
        "example": "Building A"
      },
      "CartesianCoordinates": {
        "type": "object",
        "description": "The x and y coordinates on the plane representing the associated floorplan for this device.\n",
        "required": [
          "xPosition",
          "yPosition"
        ],
        "properties": {
          "unit": {
            "type": [
              "string"
            ],
            "description": "The units of measure for xPosition and yPosition.\n",
            "enum": [
              "METERS",
              "FEET"
            ],
            "examples": [
              "METERS"
            ]
          },
          "xPosition": {
            "type": [
              "number"
            ],
            "description": "The position of the device on the horizontal axis of the floorplan.\n",
            "minimum": 0,
            "maximum": 9999999,
            "examples": [
              19
            ]
          },
          "yPosition": {
            "type": [
              "number"
            ],
            "description": "The position of the device on the vertical axis of the floorplan.\n",
            "minimum": 0,
            "maximum": 9999999,
            "examples": [
              74
            ]
          }
        }
      },
      "CartesianCoordinatesasset": {
        "type": "object",
        "description": "X and Y coordinates on the plane representing the associated floorplan for this Asset Tag.\n",
        "required": [
          "xInMetre",
          "yInMetre"
        ],
        "properties": {
          "xInMetre": {
            "type": "number",
            "description": "The position of the client in metres on the horizontal axis of the floorplan.\n",
            "example": 19.12
          },
          "yInMetre": {
            "type": "number",
            "description": "The position of the client in metres on the vertical axis of the floorplan.\n",
            "example": 74.9
          }
        }
      },
      "CartesianCoordinateswifi": {
        "type": "object",
        "description": "x and y coordinates on the plane representing the associated floorplan for this client.\n",
        "required": [
          "xInMetre",
          "yInMetre"
        ],
        "properties": {
          "xInMetre": {
            "type": "number",
            "description": "The position of the client in metres on the horizontal axis of the floorplan.\n",
            "example": 19.12
          },
          "yInMetre": {
            "type": "number",
            "description": "The position of the client in metres on the vertical axis of the floorplan.\n",
            "example": 74.9
          }
        }
      },
      "Center": {
        "type": "object",
        "description": "Contains the coordinates of the center of the area of location uncertainty for the device.\n",
        "required": [
          "longitude",
          "latitude"
        ],
        "properties": {
          "longitude": {
            "$ref": "#/components/schemas/Longitude"
          },
          "latitude": {
            "$ref": "#/components/schemas/Latitude"
          }
        }
      },
      "Channel": {
        "type": "integer",
        "description": "A channel identifier for a given frequency band.",
        "format": "uint32",
        "minimum": 1,
        "maximum": 500,
        "examples": [
          36
        ]
      },
      "ClientClassification": {
        "type": "string",
        "format": "const",
        "maxLength": 32,
        "description": "System estimated classification for this client.\n",
        "example": "Unknown"
      },
      "ClientLocation": {
        "type": "object",
        "description": "Object with client's location along with additional metadata.\n",
        "required": [
          "type",
          "id",
          "siteId",
          "floorId",
          "associated",
          "cartesianCoordinates",
          "clientClassification",
          "accuracy",
          "numOfReportingAps",
          "connected",
          "createdAt"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/Typewifi"
          },
          "id": {
            "$ref": "#/components/schemas/Idwifi"
          },
          "siteId": {
            "$ref": "#/components/schemas/SiteIdwifi"
          },
          "buildingId": {
            "$ref": "#/components/schemas/BuildingIdwifi"
          },
          "floorId": {
            "$ref": "#/components/schemas/FloorIdwifi"
          },
          "macAddress": {
            "$ref": "#/components/schemas/MacAddress"
          },
          "hashedMacAddress": {
            "$ref": "#/components/schemas/HashedMacAddress"
          },
          "associated": {
            "$ref": "#/components/schemas/Associated"
          },
          "associatedBssid": {
            "$ref": "#/components/schemas/AssociatedBssid"
          },
          "cartesianCoordinates": {
            "$ref": "#/components/schemas/CartesianCoordinateswifi"
          },
          "geoCoordinates": {
            "$ref": "#/components/schemas/GeoCoordinates"
          },
          "clientClassification": {
            "$ref": "#/components/schemas/ClientClassification"
          },
          "accuracy": {
            "$ref": "#/components/schemas/Accuracy"
          },
          "numOfReportingAps": {
            "$ref": "#/components/schemas/NumOfReportingAPs"
          },
          "connected": {
            "$ref": "#/components/schemas/Connected"
          },
          "createdAt": {
            "$ref": "#/components/schemas/CreatedAt"
          }
        }
      },
      "Connected": {
        "type": "boolean",
        "description": "Provides Boolean indication of whether this client is connected to an AP of our network.\n",
        "example": true
      },
      "Coordinates": {
        "type": "object",
        "description": "The location of the tag.",
        "properties": {
          "cartesianCoordinates": {
            "$ref": "#/components/schemas/CartesianCoordinatesasset"
          },
          "geoCoordinates": {
            "$ref": "#/components/schemas/GeoCoordinatesasset"
          }
        }
      },
      "CreatedAt": {
        "type": "string",
        "format": "date-time",
        "maxLength": 30,
        "description": "Provides the timestamp ISO 8601 format when the computed client location is persisted in database.\n",
        "example": "2023-02-14T12:23:00.000Z"
      },
      "CreatedAtasset": {
        "type": "string",
        "format": "date-time",
        "maxLength": 20,
        "description": "Time of resource creation.",
        "example": "2023-10-01T12:00:00Z"
      },
      "CustomId": {
        "type": [
          "string",
          "null"
        ],
        "format": "uuid",
        "maxLength": 100,
        "description": "Custom ID of the Asset Tag.",
        "example": "e5b61232-83c8-401a-8e14-a4c75b4fb745"
      },
      "DatabaseError": {
        "type": "object",
        "description": "Internal Server Error response",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_DATABASE_ERROR",
              "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_UNKNOWN_ERROR"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_DATABASE_ERROR"
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "DateTime": {
        "type": "string",
        "format": "date-time",
        "description": "Date-time in RFC 3339 format (ISO 8601) in UTC+0 timezone.",
        "example": "2025-08-06T12:34:56.324Z",
        "maxLength": 30
      },
      "DebugId": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting and debugging purposes.\n",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "DeviceClassification": {
        "type": "array",
        "items": {
          "type": "string",
          "maxLength": 256
        },
        "description": "Device classifications for the Asset Tag.",
        "example": [
          "ArubaAssetTag",
          "Blyott"
        ]
      },
      "DeviceId": {
        "type": "string",
        "format": "uuid",
        "maxLength": 36,
        "description": "The UUID identifier of the Asset Tag.",
        "example": "e5b61232-83c8-401a-8e14-a4c75b4fb745"
      },
      "DeviceLocationSummary": {
        "type": "object",
        "description": "Geographic coordinates of a device.\n\n**consolidatedLocation** contains the best estimate of the device location.  The location in this field can be derived automatically by the system or overridden manually by the system administrator (by placing it on a floorplan or via another NBAPI call). The sytem generated location is almost always available, when an AP is removed from a floorplan then the system generated location will be used as the consolidated location.\n",
        "required": [
          "id",
          "type",
          "createdAt",
          "siteId",
          "floorId"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/LocationId"
          },
          "serialNumber": {
            "$ref": "#/components/schemas/DeviceSerial"
          },
          "type": {
            "$ref": "#/components/schemas/DeviceType"
          },
          "createdAt": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "siteId": {
            "$ref": "#/components/schemas/SiteIddeviceloc"
          },
          "buildingId": {
            "$ref": "#/components/schemas/BuildingId"
          },
          "floorId": {
            "$ref": "#/components/schemas/FloorId"
          },
          "floorLevel": {
            "$ref": "#/components/schemas/FloorLevel"
          },
          "tenantId": {
            "type": [
              "string"
            ],
            "format": "const",
            "maxLength": 128,
            "examples": [
              "cid1234567890"
            ]
          },
          "ipv4": {
            "type": [
              "string"
            ],
            "format": "ipv4",
            "maxLength": 15
          },
          "ipv6": {
            "type": [
              "string"
            ],
            "format": "ipv6",
            "maxLength": 39
          },
          "macAddress": {
            "type": [
              "string"
            ],
            "format": "const",
            "maxLength": 18,
            "examples": [
              "11:22:33:44:55:66"
            ]
          },
          "model": {
            "type": [
              "string"
            ],
            "format": "const",
            "maxLength": 32,
            "examples": [
              "AP-635"
            ]
          },
          "deployment": {
            "type": [
              "string"
            ],
            "format": "const",
            "maxLength": 32
          },
          "status": {
            "type": [
              "string"
            ],
            "enum": [
              "ONLINE",
              "OFFLINE"
            ],
            "examples": [
              "ONLINE"
            ]
          },
          "consolidatedLocation": {
            "$ref": "#/components/schemas/Location"
          }
        }
      },
      "DeviceSerial": {
        "type": "string",
        "format": "const",
        "maxLength": 16,
        "description": "The device serial number.\n",
        "examples": [
          "AP00000001"
        ]
      },
      "DeviceType": {
        "type": "string",
        "description": "A string indicating the networking device type.\n",
        "enum": [
          "ACCESS_POINT",
          "SWITCH",
          "GATEWAY"
        ]
      },
      "Error400": {
        "type": "object",
        "description": "Bad request error details",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "example": 400,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_INVALID_PAGE_INFO_INPUT",
              "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_INVALID_QUERY_TIME",
              "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_DUPLICATE_INPUT_FILTER_FIELDS",
              "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_INVALID_FIELD_INPUT",
              "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_SITE_ID_FILTER_NOT_FOUND",
              "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_INVALID_QUERY_PARAMSD",
              "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_INVALID_FILTER_INPUT"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.",
            "example": "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_INVALID_PAGE_INFO_INPUT"
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "Error404": {
        "type": "object",
        "description": "Resource not found error details",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 404,
            "maximum": 404,
            "example": 404,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_CLIENT_MAC_NOT_FOUND"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.",
            "example": "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_CLIENT_MAC_NOT_FOUND"
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "ErrorDetails400": {
        "type": "array",
        "description": "A list of detailed error information for bad requests.",
        "items": {
          "type": "object",
          "description": "Details about a specific error.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of the error.",
              "example": "validation_error"
            },
            "issues": {
              "type": "array",
              "description": "A list of issues related to the error.",
              "items": {
                "type": "object",
                "description": "Details about a specific issue.",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "The source of the issue.",
                    "example": "requestBody"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the issue.",
                    "example": "name"
                  },
                  "description": {
                    "type": "string",
                    "description": "A detailed description of the issue.",
                    "example": "The 'name' field is required."
                  }
                },
                "required": [
                  "source",
                  "subject"
                ]
              }
            }
          },
          "required": [
            "type",
            "issues"
          ]
        }
      },
      "ErrorDetails500": {
        "type": "array",
        "description": "A list of detailed error information.",
        "items": {
          "type": "object",
          "description": "Details about a specific error.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of the error.",
              "example": "validation_error"
            },
            "retryAfterSeconds": {
              "type": "integer",
              "description": "The number of seconds to wait before retrying the request.",
              "example": 30
            },
            "source": {
              "type": "string",
              "description": "The source of the issue.",
              "example": "requestBody"
            },
            "metadata": {
              "type": "object",
              "description": "Additional metadata about the error.",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The field related to the error.",
                  "example": "name"
                },
                "reason": {
                  "type": "string",
                  "description": "The reason for the error.",
                  "example": "Field is required."
                }
              },
              "additionalProperties": true
            },
            "issues": {
              "type": "array",
              "description": "A list of issues related to the error.",
              "items": {
                "type": "object",
                "description": "Details about a specific issue.",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "The source of the issue.",
                    "example": "requestBody"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the issue.",
                    "example": "name"
                  },
                  "description": {
                    "type": "string",
                    "description": "A detailed description of the issue.",
                    "example": "The 'name' field is required."
                  }
                },
                "required": [
                  "source",
                  "subject"
                ]
              }
            }
          },
          "required": [
            "type",
            "retryAfterSeconds"
          ]
        }
      },
      "ErrorMessagewebhooks": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "Error message indicating the cause of the failure.\n",
        "example": "Reason for the error"
      },
      "Filter": {
        "type": "string",
        "format": "const",
        "maxLength": 256,
        "description": "OData Version 4.0 filter string (limited functionality).\nSupports only 'eq' operations ('gt', 'ge', 'lt', 'le' and 'in' are NOT supported).\nSupports only 'and' conjunction ('or' and 'not' are NOT supported).\nSupported filter fields are: floorId and buildingId.\n"
      },
      "Filterasset": {
        "type": "string",
        "format": "const",
        "maxLength": 256,
        "description": "OData Version 4.0 filter string (limited functionality).\nSupports only 'eq' and 'in' for 'any' operation.",
        "example": "metadata/labels/any(t:t in ('Wheelchair', 'Prenatal'))"
      },
      "FirstSeen": {
        "type": "string",
        "format": "date-time",
        "maxLength": 20,
        "description": "The first-seen date/time of the tag.",
        "example": "2023-10-01T12:00:00Z"
      },
      "FloorId": {
        "type": [
          "string"
        ],
        "format": "uuid",
        "maxLength": 128,
        "description": "Floor ID associated with the device in UUID format.\n",
        "examples": [
          "16a-aad7-4070-8a19-fd6b8e1ff012"
        ]
      },
      "FloorIdasset": {
        "type": "string",
        "format": "uuid",
        "maxLength": 128,
        "description": "Floor ID associated with the Asset Tag.",
        "examples": [
          "3b5b-0e6c-4b73-9f6e-4e895a080190"
        ]
      },
      "FloorIdopen": {
        "type": "string",
        "format": "uuid",
        "maxLength": 128,
        "description": "The Floor ID associated with the device in UUID format.\n",
        "examples": [
          "16a-aad7-4070-8a19-fd6b8e1ff012"
        ]
      },
      "FloorIdwifi": {
        "type": "string",
        "format": "uuid",
        "maxLength": 36,
        "description": "Floor ID associated with the client in UUID format.\n",
        "example": "9f50f534-c117-48f8-9bf8-a6594e1f49a5"
      },
      "FloorLevel": {
        "type": [
          "number"
        ],
        "description": "If included this field contains a logical representation of the floor level. This value is relevant only in relation to a building; the value is relative to the ground level of the building which is assigned the number 0.\n\nDetermining what floor is at ground level and what constitutes a sub-floor as opposed to a naturally numbered floor is left to local interpretation.\n\nLarger values represent floors that are farther away from floor 0 such that\n* if positive the floor value is farther above the ground floor\n* if negative the floor value is farther below the ground floor\n\nNon-integer values can be used to represent intermediate or sub-floors, such as mezzanine levels.  Example: a mezzanine between floor 1 and floor 2 could be represented as a value of 1.25.  Example: mezzanines between floor 4 and floor 5 could be represented as values of 4.5 and 4.75.\n\nIf the field is absent floor 0 must be assumed.\n",
        "examples": [
          1
        ]
      },
      "FloorName": {
        "type": "string",
        "description": "The name of the floor.",
        "example": "First Floor"
      },
      "FloorNumber": {
        "type": "number",
        "format": "float",
        "description": "The number of the floor.",
        "example": "1.1"
      },
      "Forbidden": {
        "type": "object",
        "description": "Forbidden, request not authorized",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": "403",
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_FORBIDDEN",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "GeoCoordinates": {
        "type": [
          "object",
          "null"
        ],
        "description": "The geo-coordinates of a client in both Cartesian and Latitude/Longitude format.\n",
        "properties": {
          "latitude": {
            "$ref": "#/components/schemas/Latitudewifi"
          },
          "longitude": {
            "$ref": "#/components/schemas/Longitudewifi"
          }
        }
      },
      "GeoCoordinatesasset": {
        "type": [
          "object",
          "null"
        ],
        "description": "The geo-coordinates of Asset Tag in both Cartesian and Latitude/Longitude format.\n",
        "properties": {
          "latitude": {
            "$ref": "#/components/schemas/Latitudeasset"
          },
          "longitude": {
            "$ref": "#/components/schemas/Longitudeasset"
          }
        }
      },
      "HashedMacAddress": {
        "type": [
          "string",
          "null"
        ],
        "format": "const",
        "maxLength": 128,
        "description": "One way hash of the MAC address to anonymize the client.\n",
        "example": "43ddc7ed75eb039db1fec4839c0e33d21bfb21e1"
      },
      "Idwifi": {
        "type": "string",
        "format": "string",
        "maxLength": 31,
        "description": "Resource ID: client MAC address and createdAt.\n",
        "example": "11:22:33:44:55:66-1234567890123"
      },
      "InternalServerErrorSchema": {
        "type": "object",
        "description": "Internal server error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_INTERNAL_SERVER_ERROR"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding errors, please refer to the error message\n",
            "example": "HPE_GL_NETWORK_SERVICES_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessagewebhooks"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          },
          "errorDetails": {
            "$ref": "#/components/schemas/ErrorDetails500"
          }
        }
      },
      "LCIUncertainty": {
        "type": "object",
        "description": "Uncertainty ellipse centered on the latitude and longitude of the \"center\" field of the parent object.\n\nThe axes of this ellipse are parallel to north-south and east-west directions.\n",
        "required": [
          "longitudeUncertainty",
          "latitudeUncertainty"
        ],
        "properties": {
          "longitudeUncertainty": {
            "type": [
              "number"
            ],
            "description": "The longitude uncertainty in degrees.\n\nThe longitudeUncertainty is added to the base longitude value in the center field of the associated Location to determine the maximum value in the uncertainty range; similarly, the uncertainty is subtracted from the base value to determine the minimum value.\n\nIf the maximum or minimum longitude values derived from applying uncertainty are outside the range of -180 to +180 then these values are normalized to this range by adding or subtracting 360 as necessary.\n\nThe value 0 is reserved to indicate that the longitude uncertainty is unknown.\n",
            "minimum": -180,
            "maximum": 180,
            "examples": [
              0
            ]
          },
          "latitudeUncertainty": {
            "type": [
              "number"
            ],
            "description": "The latitude uncertainty in degrees.\n\nThe latitudeUncertainty is added to the latitude value in the center field of the associated Location to determine the maximum value in the uncertainty range; similarly, the uncertainty is subtracted from the base value to determine the minimum value.\n\nIf the maximum or minimum latitude values derived from applying uncertainty are outside the range of -90 to +90 then these values are trimmed to within this range.\n\nThe value 0 is reserved to indicate that the latitude uncertainty is unknown.\n",
            "minimum": -90,
            "maximum": 90,
            "examples": [
              0
            ]
          },
          "confidenceLevel": {
            "type": [
              "number"
            ],
            "minimum": 0,
            "maximum": 100,
            "description": "Represents the probability that the location of the device lies within the area of the ellipse.\n\nThe value 0 is reserved to indicate that the confidence level is unknown.\n",
            "examples": [
              0
            ]
          }
        }
      },
      "LastConnectClientMacAddress": {
        "type": "string",
        "format": "mac",
        "minLength": 17,
        "maxLength": 17,
        "description": "MAC address for the client\n",
        "example": "11:22:33:44:55:66"
      },
      "LastSeen": {
        "type": "string",
        "format": "date-time",
        "maxLength": 20,
        "description": "The last-seen date/time of the Asset Tag.",
        "example": "2023-10-01T12:00:00Z"
      },
      "LatestLocationPerClient": {
        "type": "integer",
        "description": "The number of latest locations per client.\n",
        "format": "int32",
        "minimum": 1,
        "maximum": 1,
        "example": 1
      },
      "Latitude": {
        "type": [
          "number"
        ],
        "description": "Latitude of the device location in decimal degrees with 6 decimal places of precision.\n\nThe allowed range is from -90 to +90. Positive values represent latitudes north of the equator; negative values south of the equator.\n\nThe value shall be relative to the WGS 84 datum.\n",
        "minimum": -90,
        "maximum": 90,
        "examples": [
          45.687416
        ]
      },
      "Latitudeasset": {
        "type": "number",
        "description": "Latitude of the Asset Tag location in decimal degrees with 6 decimal places of precision.\n\nThe allowed range is from -90 to +90. Positive values represent latitudes north of the equator; negative values south of the equator.\n\nThe value shall be relative to the WGS 84 datum.\n",
        "minimum": -90,
        "maximum": 90,
        "example": 45.687416
      },
      "Latitudewifi": {
        "type": "number",
        "description": "Latitude of the client location in decimal degrees with 6 decimal places of precision.\n\nThe allowed range is from -90 to +90. Positive values represent latitudes north of the equator; negative values south of the equator.\n\nThe value shall be relative to the WGS 84 datum.\n",
        "minimum": -90,
        "maximum": 90,
        "example": 45.687416
      },
      "LimitParam": {
        "type": "integer",
        "description": "Specifies the number of results to be returned.\n",
        "format": "int32",
        "minimum": 1,
        "maximum": 1000,
        "default": 1000,
        "examples": [
          100
        ]
      },
      "Limitasset": {
        "type": "integer",
        "description": "Specifies the number of results to be returned. (Default: 100)\n",
        "format": "int32",
        "minimum": 0,
        "maximum": 1000,
        "default": 100,
        "example": 20
      },
      "Limitdeviceloc": {
        "type": "integer",
        "description": "Denotes the maximum number of devices returned in the response. (Default: 100)\n",
        "format": "int32",
        "minimum": 0,
        "maximum": 1000,
        "default": 100,
        "examples": [
          100
        ]
      },
      "Limitwifi": {
        "type": "integer",
        "description": "Specifies the number of results to be returned. (Default: 100)\n",
        "format": "int32",
        "minimum": 0,
        "maximum": 1000,
        "default": 100,
        "example": 20
      },
      "ListApRangingScanStatus": {
        "type": "object",
        "description": "A list of ftm scan details.",
        "required": [
          "items",
          "count",
          "total"
        ],
        "properties": {
          "items": {
            "type": "array",
            "maxItems": 2147483647,
            "items": {
              "$ref": "#/components/schemas/ApRangingScanStatus"
            }
          },
          "count": {
            "type": "integer",
            "format": "uint32",
            "minimum": 1,
            "maximum": 2147483647,
            "description": "The number of objects returned in the current list (maximum will be the page size).\n",
            "examples": [
              1
            ]
          },
          "total": {
            "type": "integer",
            "format": "uint64",
            "minimum": 0,
            "maximum": 9223372036854776000,
            "description": "The total number of objects contained in the datastore.\n",
            "examples": [
              1
            ]
          },
          "next": {
            "type": "string",
            "format": "const",
            "maxLength": 128,
            "description": "An opaque cursor which could be passed in the next query to fetch the next page.\nSet to null when no more pages remain.\n",
            "examples": [
              null
            ]
          }
        }
      },
      "ListClientLocationsForAPI": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "maxItems": 2147483647,
                "items": {
                  "$ref": "#/components/schemas/ClientLocation"
                }
              }
            }
          },
          {
            "$ref": "#/components/schemas/PaginationResponseProperties"
          }
        ]
      },
      "ListDeviceLocationSummary": {
        "type": "object",
        "description": "List of devices with their consolidated location.",
        "required": [
          "items",
          "count",
          "total"
        ],
        "properties": {
          "items": {
            "type": "array",
            "maxItems": 2147483647,
            "items": {
              "$ref": "#/components/schemas/DeviceLocationSummary"
            }
          },
          "count": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 2147483647,
            "description": "The number of objects returned in the current list (maximum will be the page size).\n",
            "examples": [
              1
            ]
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "maximum": 9223372036854776000,
            "description": "The total number of objects contained in the datastore.\n",
            "examples": [
              1
            ]
          },
          "next": {
            "type": "string",
            "format": "const",
            "maxLength": 128,
            "description": "An opaque cursor which could be passed in the next query to fetch the next page.\nSet to null when no more pages remain.\n",
            "examples": [
              null
            ]
          }
        }
      },
      "Location": {
        "type": "object",
        "description": "Longitude, latitude, altitude and floor position.\n\nThe system can return location uncertainty in two formats.\n\nThe **LCIUncertainty** field is a similar ellipse but with a fixed orientation such that its axes are parallel to the north-south and east-west geographic directions.\n\nThe system will return both uncertainty representations if they are available.  Note that for a given data set the uncertaintyEllipse will always describe an area equal to or smaller than the LCIUncertainty.\n",
        "required": [
          "source",
          "timestamp",
          "center"
        ],
        "properties": {
          "source": {
            "type": [
              "string"
            ],
            "description": "Source of the device coordinates.\n* 'ADMIN_SPECIFIED' - The device location was administratively entered.\n* 'SYSTEM_GENERATED' - The location automatically determined by the system.\n",
            "enum": [
              "ADMIN_SPECIFIED",
              "SYSTEM_GENERATED"
            ],
            "examples": [
              "SYSTEM_GENERATED"
            ]
          },
          "timestamp": {
            "$ref": "#/components/schemas/Timestamp"
          },
          "cartesianCoordinates": {
            "$ref": "#/components/schemas/CartesianCoordinates"
          },
          "center": {
            "$ref": "#/components/schemas/Center"
          },
          "lciUncertainty": {
            "$ref": "#/components/schemas/LCIUncertainty"
          },
          "altitude": {
            "$ref": "#/components/schemas/Altitude"
          }
        }
      },
      "LocationDeleteResponse": {
        "type": "object",
        "description": "Service response to a DELETE of a device location.\n",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "deleteDeviceAdminLocation": {
                "type": "object",
                "properties": {
                  "result": {
                    "type": [
                      "string"
                    ],
                    "format": "const",
                    "maxLength": 512,
                    "description": "The descriptive text on the outcome of the operation.\n",
                    "examples": [
                      "Device location deletion accepted."
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "LocationHeader": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
[...]
