{
  "openapi": "3.1.0",
  "info": {
    "title": "Location Analytics",
    "version": "0.0.1",
    "description": "Serves Wi-Fi client locations with filtering options available."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Location Analytics",
      "description": "Location Analytics APIs to get the client related analytics describing how the client is classified."
    }
  ],
  "paths": {
    "/network-services/v1/location-analytics/sites/insights": {
      "get": {
        "tags": [
          "Location Analytics"
        ],
        "summary": "Get the insights for each site of a tenant for a given time range.",
        "description": "This API provides the insights for each site of a tenant for a given time range.",
        "operationId": "getLaSitesInsightsForAPIV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/start-at"
          },
          {
            "$ref": "#/components/parameters/end-at"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LaSitesInsightsResponseForAPI"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/network-services/v1/location-analytics/trends": {
      "get": {
        "tags": [
          "Location Analytics"
        ],
        "summary": "Get all the trends of a client for a tenant or a site for a given time range.",
        "description": "This API provides the trends of visitors and passerby for a tenant across all the sites or for a specific site within the given time range.",
        "operationId": "getLaTrendsForAPIV1",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/start-at"
          },
          {
            "$ref": "#/components/parameters/end-at"
          },
          {
            "$ref": "#/components/parameters/site-id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LaTrendsResponseForAPI"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BadRequestsErrorSchema": {
        "type": "object",
        "description": "Error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "description": "HTTP status code.\n",
            "example": 400
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_INVALID_INPUT"
            ],
            "maxLength": 128,
            "description": "Error code\n",
            "example": "HPE_GL_NETWORK_SERVICES_INVALID_INPUT"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessagewebhooks"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          },
          "errorDetails": {
            "$ref": "#/components/schemas/ErrorDetails400"
          }
        }
      },
      "DebugId": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting and debugging purposes.\n",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "EndAt": {
        "type": "string",
        "format": "const",
        "example": "1683284400000",
        "description": "End time in epoch for the location analytics trends/insights."
      },
      "Error404": {
        "type": "object",
        "description": "Resource not found error details",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 404,
            "maximum": 404,
            "example": 404,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_CLIENT_MAC_NOT_FOUND"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.",
            "example": "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_CLIENT_MAC_NOT_FOUND"
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "ErrorDetails400": {
        "type": "array",
        "description": "A list of detailed error information for bad requests.",
        "items": {
          "type": "object",
          "description": "Details about a specific error.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of the error.",
              "example": "validation_error"
            },
            "issues": {
              "type": "array",
              "description": "A list of issues related to the error.",
              "items": {
                "type": "object",
                "description": "Details about a specific issue.",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "The source of the issue.",
                    "example": "requestBody"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the issue.",
                    "example": "name"
                  },
                  "description": {
                    "type": "string",
                    "description": "A detailed description of the issue.",
                    "example": "The 'name' field is required."
                  }
                },
                "required": [
                  "source",
                  "subject"
                ]
              }
            }
          },
          "required": [
            "type",
            "issues"
          ]
        }
      },
      "ErrorDetails500": {
        "type": "array",
        "description": "A list of detailed error information.",
        "items": {
          "type": "object",
          "description": "Details about a specific error.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of the error.",
              "example": "validation_error"
            },
            "retryAfterSeconds": {
              "type": "integer",
              "description": "The number of seconds to wait before retrying the request.",
              "example": 30
            },
            "source": {
              "type": "string",
              "description": "The source of the issue.",
              "example": "requestBody"
            },
            "metadata": {
              "type": "object",
              "description": "Additional metadata about the error.",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The field related to the error.",
                  "example": "name"
                },
                "reason": {
                  "type": "string",
                  "description": "The reason for the error.",
                  "example": "Field is required."
                }
              },
              "additionalProperties": true
            },
            "issues": {
              "type": "array",
              "description": "A list of issues related to the error.",
              "items": {
                "type": "object",
                "description": "Details about a specific issue.",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "The source of the issue.",
                    "example": "requestBody"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the issue.",
                    "example": "name"
                  },
                  "description": {
                    "type": "string",
                    "description": "A detailed description of the issue.",
                    "example": "The 'name' field is required."
                  }
                },
                "required": [
                  "source",
                  "subject"
                ]
              }
            }
          },
          "required": [
            "type",
            "retryAfterSeconds"
          ]
        }
      },
      "ErrorMessagewebhooks": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "Error message indicating the cause of the failure.\n",
        "example": "Reason for the error"
      },
      "Forbidden": {
        "type": "object",
        "description": "Forbidden, request not authorized",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": "403",
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_FORBIDDEN",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "InternalServerErrorSchema": {
        "type": "object",
        "description": "Internal server error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_INTERNAL_SERVER_ERROR"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding errors, please refer to the error message\n",
            "example": "HPE_GL_NETWORK_SERVICES_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessagewebhooks"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          },
          "errorDetails": {
            "$ref": "#/components/schemas/ErrorDetails500"
          }
        }
      },
      "LaSitesInsightsForAPI": {
        "type": "object",
        "description": "An object containing the insights for a particular site.",
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "const",
            "description": "Site ID.",
            "example": "1514288277"
          },
          "type": {
            "type": "string",
            "format": "const",
            "description": "Type of the analytics.",
            "example": "/networking-services/location-analytics/sites/insights"
          },
          "siteId": {
            "type": "string",
            "format": "const",
            "description": "Site ID.",
            "example": "1514288277"
          },
          "siteName": {
            "type": "string",
            "format": "const",
            "description": "Name of the site.",
            "example": "test-la-site-1"
          },
          "newVisitorCount": {
            "type": "integer",
            "format": "int64",
            "description": "The number of new visitors for the site in the given time range.",
            "example": 15
          },
          "recurringVisitorCount": {
            "type": "integer",
            "format": "int64",
            "description": "The number of recurring visitors for the site in the given time range.",
            "example": 25
          },
          "totalVisitorCount": {
            "type": "integer",
            "format": "int64",
            "description": "The number of total visitors for the site in the given time range.",
            "example": 40
          },
          "passerbyCount": {
            "type": "integer",
            "format": "int64",
            "description": "The number of passerby for the site in the given time range.",
            "example": 60
          },
          "visitDuration": {
            "type": "integer",
            "format": "int64",
            "description": "The average visit duration (in minutes) for the site in the given time range.",
            "example": 300
          }
        }
      },
      "LaSitesInsightsResponseForAPI": {
        "type": "object",
        "description": "Location Analytics Insights Response that contains the insights for each Site.",
        "example": {
          "items": [
            {
              "id": "125424",
              "type": "/networking-services/location-analytics/sites/insights",
              "siteId": "125424",
              "siteName": "test-la-site-1",
              "newVisitorCount": 15,
              "recurringVisitorCount": 25,
              "totalVisitorCount": 40,
              "passerbyCount": 60,
              "visitDuration": 120
            },
            {
              "id": "783260",
              "type": "/networking-services/location-analytics/sites/insights",
              "siteId": "783260",
              "siteName": "test-la-site-2",
              "newVisitorCount": 15,
              "recurringVisitorCount": 25,
              "totalVisitorCount": 40,
              "passerbyCount": 60,
              "visitDuration": 120
            }
          ],
          "offset": 0,
          "count": 2,
          "total": 2
        },
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LaSitesInsightsForAPI"
            }
          },
          "offset": {
            "type": "integer",
            "format": "int32",
            "description": "Specifies the offset of the returned page.",
            "example": 0
          },
          "count": {
            "type": "integer",
            "format": "int32",
            "description": "The number of objects returned in the current response.",
            "example": 100
          },
          "total": {
            "type": "integer",
            "format": "int64",
            "description": "The total number of objects contained in the database.",
            "example": 200
          }
        }
      },
      "LaTrendsResponseForAPI": {
        "type": "object",
        "description": "Location Analytics Trends Response that contains the trends for Visitors and Passerby.",
        "example": {
          "id": "1e2e0d38371f11ee82539ae66a6c36a2",
          "type": "/networking-services/location-analytics/trends",
          "keys": [
            "newVisitors",
            "recurringVisitors",
            "totalVisitors",
            "passerby",
            "visitDuration"
          ],
          "samples": [
            {
              "data": [
                30,
                20,
                50,
                70,
                200
              ],
              "timestamp": "1683284400000"
            },
            {
              "data": [
                12,
                45,
                57,
                90,
                500
              ],
              "timestamp": "1683284400000"
            }
          ],
          "units": [
            "count",
            "count",
            "count",
            "count",
            "minutes"
          ]
        },
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "const",
            "description": "Tenant ID or site ID.",
            "example": "1e2e0d38371f11ee82539ae66a6c36a2"
          },
          "type": {
            "type": "string",
            "format": "const",
            "description": "Type of the analytics.",
            "example": "/networking-services/location-analytics/trends"
          },
          "keys": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "const"
            },
            "example": [
              "newVisitors",
              "recurringVisitors",
              "totalVisitors",
              "passerby",
              "visitDuration"
            ],
            "description": "List of the trends."
          },
          "samples": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Samples"
            }
          },
          "units": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "const"
            },
            "example": [
              "count",
              "count",
              "count",
              "count",
              "minutes"
            ],
            "description": "Units for the corresponding keys."
          }
        }
      },
      "Limit": {
        "type": "integer",
        "format": "int32",
        "default": 20,
        "example": 20
      },
      "Offset": {
        "type": "integer",
        "format": "int32",
        "default": 0,
        "example": 0
      },
      "Samples": {
        "type": "object",
        "description": "An object containing data points for the corresponding timestamp.",
        "required": [
          "data",
          "timestamp"
        ],
        "properties": {
          "data": {
            "type": "array",
            "description": "A list of values corresponding to the keys.",
            "items": {
              "type": "number",
              "format": "int64"
            }
          },
          "timestamp": {
            "type": "string",
            "format": "const",
            "description": "Timestamp in epoch corresponding to the data values.",
            "example": "1683284400000"
          }
        }
      },
      "SiteId": {
        "type": "string",
        "format": "const",
        "maxLength": 128,
        "example": "123682"
      },
      "Sort": {
        "type": "string",
        "format": "const",
        "default": "totalVisitorCount DESC",
        "example": "totalVisitorCount ASC"
      },
      "StartAt": {
        "type": "string",
        "format": "const",
        "example": "1683284400000",
        "description": "Start time in epoch for the location analytics trends/insights."
      },
      "TooManyRequests": {
        "type": "object",
        "description": "Too many requests based on rate limit",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": "429",
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "description": "Missing authorization in request",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "example": "401",
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "debugIdwifi": {
        "type": "string",
        "format": "const",
        "maxLength": 1024,
        "description": "Debug id of the failed request. This can be used to help with troubleshooting.",
        "example": "a53ea9f0efeb99b2a9a52ef9c7e3093b"
      },
      "message": {
        "type": "string",
        "format": "const",
        "maxLength": 1024,
        "description": "Error message indicating the cause of the failure.",
        "example": "Error message"
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestsErrorSchema"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden: Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Forbidden"
            }
          }
        }
      },
      "InternalServerError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "Internal server error.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerErrorSchema"
            }
          }
        }
      },
      "LaSitesInsightsResponseForAPI": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "Object containing the location analytics insights for each site.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LaSitesInsightsResponseForAPI"
            }
          }
        }
      },
      "LaTrendsResponseForAPI": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "Object containing the location analytics trends.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LaTrendsResponseForAPI"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not Found error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequests"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Unauthorized"
            }
          }
        }
      }
    },
    "parameters": {
      "end-at": {
        "name": "end-at",
        "in": "query",
        "required": true,
        "description": "End time for the location analytics trends/insights.",
        "schema": {
          "$ref": "#/components/schemas/EndAt"
        },
        "example": "1683284400000"
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Specifies the number of objects returned in a single page. Default: 20.",
        "schema": {
          "$ref": "#/components/schemas/Limit"
        },
        "example": 20
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "required": false,
        "description": "Specifies the offset. Default: 0.",
        "schema": {
          "$ref": "#/components/schemas/Offset"
        },
        "example": 0
      },
      "site-id": {
        "name": "site-id",
        "in": "query",
        "required": false,
        "description": "ID of the site for which location analytics trends is requested.",
        "schema": {
          "$ref": "#/components/schemas/SiteId"
        },
        "example": "123682"
      },
      "sort": {
        "name": "sort",
        "in": "query",
        "required": false,
        "description": "Sorting can be supported on the following fields: totalVisitorCount, passerbyCount. Default: totalVisitorCount. Directions supported: ASC, DESC. Default: DESC.",
        "schema": {
          "$ref": "#/components/schemas/Sort"
        }
      },
      "start-at": {
        "name": "start-at",
        "in": "query",
        "required": true,
        "description": "Start time for the location analytics trends/insights.",
        "schema": {
          "$ref": "#/components/schemas/StartAt"
        },
        "example": "1683284400000"
      }
    },
    "headers": {
      "XRateLimitLimit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "XRateLimitRemaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "XRateLimitReset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
