{
  "openapi": "3.1.0",
  "info": {
    "title": "Webhooks",
    "version": "0.0.1",
    "description": "Serves Wi-Fi client locations with filtering options available."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Webhooks",
      "description": "APIs for managing webhooks."
    }
  ],
  "paths": {
    "/network-services/v1/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "getWebhooksV1",
        "summary": "List all Webhooks",
        "description": "This API endpoint retrieves a list of Webhooks and the details associated to the receiver such as the endpointURL and the authMechanism along with createdAt and updatedAt timestamps.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookDetailsList"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "createWebhookV1",
        "summary": "Create a Webhook",
        "description": "This API endpoint creates a new Webhook using details of the receiver such as the endpoint URL and the authMechanism. Auth mechanism can be either API key or OIDC. Use dropdown beside input in body parameters to change authMechanism and provide respective parameters for the authentication type.",
        "requestBody": {
          "description": "Request body for creating a new Webhook.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreateInput"
              },
              "examples": {
                "apiKeyAuthentication": {
                  "$ref": "#/components/examples/WebhookCreateApiKeyRequest"
                },
                "oidcAuthentication": {
                  "$ref": "#/components/examples/WebhookCreateOidcRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookCreate"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "getWebhookV1",
        "summary": "Get a Webhook details by ID",
        "description": "This API endpoint retrieves Webhook details for the specified Webhook ID such as the endpointURL and the authMechanism along with createdAt and updatedAt timestamps.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookDetailsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "updateWebhookV1",
        "summary": "Update a Webhook by ID",
        "description": "This API endpoint modifies an existing Webhook. All the request body parameters should be provided to update the Webhook. Auth mechanism can be either API key or OIDC. Use dropdown beside input in body parameters to change authMechanism and provide respective parameters for the authentication type.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "description": "Request body for updating an existing Webhook.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdateInput"
              },
              "examples": {
                "apiKeyAuthentication": {
                  "$ref": "#/components/examples/WebhookUpdateApiKeyRequest"
                },
                "oidcAuthentication": {
                  "$ref": "#/components/examples/WebhookUpdateOidcRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookUpdateResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "deleteWebhookV1",
        "summary": "Delete a Webhook by ID",
        "description": "This API endpoint deletes an existing Webhook.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "responses": {
          "204": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitReset"
              }
            },
            "description": "Webhook deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "patchWebhookV1",
        "summary": "Patch a Webhook by ID",
        "description": "This API endpoint modifies an existing Webhook. One or multiple parameters in the body can be used to update the Webhook. Example - updating the endpoint URL for a existing Webhook. To only change name and endpoint parameters, select Payload in dropdown. To change Auth mechanism, select \"Authentication Update\" in the dropdown and select authentication type.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "description": "Request body for patching an existing Webhook.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookPatchInput"
              },
              "examples": {
                "apiKeyAuthentication": {
                  "$ref": "#/components/examples/WebhookPatchApiKeyRequest"
                },
                "oidcAuthentication": {
                  "$ref": "#/components/examples/WebhookPatchOidcRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookPatchResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-services/v1/webhooks/{id}/rotate-hmac-key": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "operationId": "rotateWebhookHmacKeyV1",
        "summary": "Rotate HMAC key for a Webhook by ID",
        "description": "This API endpoint rotates the HMAC key for an existing Webhook.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "maxLength": 16
            },
            "description": "Unique identifier for the webhook. This can be obtained from the List Webhooks API."
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookRotateHmacKeyResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ApiKey": {
        "type": "string",
        "minLength": 1,
        "maxLength": 1024,
        "description": "The API key used for API_KEY authentication."
      },
      "AuthMechanism": {
        "type": "string",
        "description": "The authentication mechanism to be used for the webhook.",
        "enum": [
          "API_KEY",
          "OIDC"
        ]
      },
      "AuthMechanismRequest": {
        "type": "string",
        "description": "The authentication mechanism to be used for the webhook request."
      },
      "BadRequestsErrorSchema": {
        "type": "object",
        "description": "Error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "description": "HTTP status code.\n",
            "example": 400
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_INVALID_INPUT"
            ],
            "maxLength": 128,
            "description": "Error code\n",
            "example": "HPE_GL_NETWORK_SERVICES_INVALID_INPUT"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessagewebhooks"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          },
          "errorDetails": {
            "$ref": "#/components/schemas/ErrorDetails400"
          }
        }
      },
      "CreatedAt": {
        "type": "string",
        "format": "date-time",
        "maxLength": 30,
        "description": "Provides the timestamp ISO 8601 format when the computed client location is persisted in database.\n",
        "example": "2023-02-14T12:23:00.000Z"
      },
      "CreatedAtwebhooks": {
        "type": "string",
        "format": "date-time",
        "description": "The creation timestamp of the webhook in RFC 3339 format."
      },
      "DebugId": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting and debugging purposes.\n",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "Endpoint": {
        "type": "string",
        "description": "The URL to which the webhook payloads will be sent."
      },
      "Error404": {
        "type": "object",
        "description": "Resource not found error details",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 404,
            "maximum": 404,
            "example": 404,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_CLIENT_MAC_NOT_FOUND"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.",
            "example": "HPE_GL_NETWORK_SERVICES_WIFI_CLIENT_LOCATION_CLIENT_MAC_NOT_FOUND"
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "ErrorDetails400": {
        "type": "array",
        "description": "A list of detailed error information for bad requests.",
        "items": {
          "type": "object",
          "description": "Details about a specific error.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of the error.",
              "example": "validation_error"
            },
            "issues": {
              "type": "array",
              "description": "A list of issues related to the error.",
              "items": {
                "type": "object",
                "description": "Details about a specific issue.",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "The source of the issue.",
                    "example": "requestBody"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the issue.",
                    "example": "name"
                  },
                  "description": {
                    "type": "string",
                    "description": "A detailed description of the issue.",
                    "example": "The 'name' field is required."
                  }
                },
                "required": [
                  "source",
                  "subject"
                ]
              }
            }
          },
          "required": [
            "type",
            "issues"
          ]
        }
      },
      "ErrorDetails500": {
        "type": "array",
        "description": "A list of detailed error information.",
        "items": {
          "type": "object",
          "description": "Details about a specific error.",
          "properties": {
            "type": {
              "type": "string",
              "description": "The type of the error.",
              "example": "validation_error"
            },
            "retryAfterSeconds": {
              "type": "integer",
              "description": "The number of seconds to wait before retrying the request.",
              "example": 30
            },
            "source": {
              "type": "string",
              "description": "The source of the issue.",
              "example": "requestBody"
            },
            "metadata": {
              "type": "object",
              "description": "Additional metadata about the error.",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "The field related to the error.",
                  "example": "name"
                },
                "reason": {
                  "type": "string",
                  "description": "The reason for the error.",
                  "example": "Field is required."
                }
              },
              "additionalProperties": true
            },
            "issues": {
              "type": "array",
              "description": "A list of issues related to the error.",
              "items": {
                "type": "object",
                "description": "Details about a specific issue.",
                "properties": {
                  "source": {
                    "type": "string",
                    "description": "The source of the issue.",
                    "example": "requestBody"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The subject of the issue.",
                    "example": "name"
                  },
                  "description": {
                    "type": "string",
                    "description": "A detailed description of the issue.",
                    "example": "The 'name' field is required."
                  }
                },
                "required": [
                  "source",
                  "subject"
                ]
              }
            }
          },
          "required": [
            "type",
            "retryAfterSeconds"
          ]
        }
      },
      "ErrorMessagewebhooks": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "Error message indicating the cause of the failure.\n",
        "example": "Reason for the error"
      },
      "Forbidden": {
        "type": "object",
        "description": "Forbidden, request not authorized",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": "403",
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_FORBIDDEN",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "Generation": {
        "type": "integer",
        "format": "int32",
        "minimum": 1,
        "description": "Generation number of the webhook."
      },
      "HmacKey": {
        "type": "string",
        "minLength": 1,
        "maxLength": 32,
        "description": "The HMAC key used for signing webhook payloads."
      },
      "InternalServerErrorSchema": {
        "type": "object",
        "description": "Internal server error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_SERVICES_INTERNAL_SERVER_ERROR"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding errors, please refer to the error message\n",
            "example": "HPE_GL_NETWORK_SERVICES_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessagewebhooks"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          },
          "errorDetails": {
            "$ref": "#/components/schemas/ErrorDetails500"
          }
        }
      },
      "Messagewebhooks": {
        "type": "string",
        "description": "A message providing additional information about the operation."
      },
      "Name": {
        "type": "string",
        "maxLength": 64,
        "description": "Name of the webhook. Must be unique per customer."
      },
      "OidcDetails": {
        "type": "object",
        "title": "OIDC Details",
        "properties": {
          "clientId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512,
            "description": "The client ID for OIDC authentication."
          },
          "clientSecret": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512,
            "description": "The client secret for OIDC authentication."
          },
          "wellKnownUrl": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512,
            "description": "The well-known URL for OIDC discovery."
          }
        },
        "description": "Details for OIDC authentication."
      },
      "OidcDetailsRequest": {
        "type": "object",
        "title": "OIDC Details Request",
        "properties": {
          "clientId": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512,
            "description": "The client ID for OIDC authentication."
          },
          "clientSecret": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512,
            "description": "The client secret for OIDC authentication."
          },
          "wellKnownUrl": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512,
            "description": "The well-known URL for OIDC discovery."
          }
        },
        "description": "Details for OIDC authentication."
      },
      "Success": {
        "type": "boolean",
        "description": "Indicates whether the operation was successful."
      },
      "TooManyRequests": {
        "type": "object",
        "description": "Too many requests based on rate limit",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": "429",
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "Typewebhooks": {
        "type": "string",
        "format": "const",
        "maxLength": 36,
        "description": "The API group of the resource.\n",
        "example": "network-services"
      },
      "Unauthorized": {
        "type": "object",
        "description": "Missing authorization in request",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "example": "401",
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/message"
          },
          "debugId": {
            "$ref": "#/components/schemas/debugIdwifi"
          }
        }
      },
      "UpdatedAt": {
        "type": [
          "string",
          "null"
        ],
        "format": "date-time",
        "maxLength": 20,
        "description": "Time when the resource was last updated.",
        "example": "2023-10-01T12:00:00Z"
      },
      "UpdatedAtwebhooks": {
        "type": "string",
        "format": "date-time",
        "description": "The last update timestamp of the webhook in RFC 3339 format."
      },
      "WebhookApiKeyAuthRequest": {
        "title": "API_KEY Authentication",
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookRequestBase"
          },
          {
            "type": "object",
            "properties": {
              "apiKey": {
                "$ref": "#/components/schemas/ApiKey"
              }
            },
            "required": [
              "apiKey"
            ],
            "not": {
              "required": [
                "oidcDetails"
              ]
            }
          }
        ]
      },
      "WebhookCreateInput": {
        "type": "object",
        "properties": {
          "input": {
            "$ref": "#/components/schemas/WebhookRequestPayload"
          }
        },
        "required": [
          "input"
        ],
        "description": "Wrapper for webhook create request input"
      },
      "WebhookCreateResponse": {
        "example": {
          "items": {
            "name": "webhook-1",
            "id": "26dd26c8-8a6a-4d",
            "type": "network-services",
            "generation": 1,
            "createdAt": "2025-08-12T01:50:03Z",
            "updatedAt": "2025-08-12T01:50:03Z",
            "success": true,
            "message": "Webhook registered!",
            "hmacKey": "5e175c081f53ca19894cbb6d541560f5c5e9a0754ae69639ef4d56b774b4e04e"
          }
        },
        "type": "object",
        "properties": {
          "items": {
            "type": "object",
            "required": [
              "id",
              "type",
              "generation",
              "createdAt",
              "updatedAt",
              "success",
              "message",
              "hmacKey"
            ],
            "properties": {
              "id": {
                "$ref": "#/components/schemas/idwebhooks"
              },
              "name": {
                "$ref": "#/components/schemas/Name"
              },
              "type": {
                "$ref": "#/components/schemas/Typewebhooks"
              },
              "generation": {
                "$ref": "#/components/schemas/Generation"
              },
              "createdAt": {
                "$ref": "#/components/schemas/CreatedAtwebhooks"
              },
              "updatedAt": {
                "$ref": "#/components/schemas/UpdatedAtwebhooks"
              },
              "success": {
                "$ref": "#/components/schemas/Success"
              },
              "message": {
                "$ref": "#/components/schemas/Messagewebhooks"
              },
              "hmacKey": {
                "$ref": "#/components/schemas/HmacKey"
              }
            }
          }
        }
      },
      "WebhookDetails": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/WebhookDetailsOidcAuth"
          },
          {
            "$ref": "#/components/schemas/WebhookDetailsApiKeyAuth"
          }
        ],
        "discriminator": {
          "propertyName": "authMechanism",
          "mapping": {
            "OIDC": "#/components/schemas/WebhookDetailsOidcAuth",
            "API_KEY": "#/components/schemas/WebhookDetailsApiKeyAuth"
          }
        }
      },
      "WebhookDetailsApiKeyAuth": {
        "title": "API Key Authentication",
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookDetailsBase"
          },
          {
            "type": "object",
            "properties": {
              "authMechanism": {
                "type": "string",
                "enum": [
                  "API_KEY"
                ]
              },
              "apiKey": {
                "$ref": "#/components/schemas/ApiKey"
              }
            },
            "required": [
              "apiKey"
            ],
            "not": {
              "required": [
                "oidcDetails"
              ]
            }
          }
        ]
      },
      "WebhookDetailsBase": {
        "type": "object",
        "description": "Details of a single webhook.",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/idwebhooks"
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "endpoint": {
            "$ref": "#/components/schemas/Endpoint"
          },
          "authMechanism": {
            "$ref": "#/components/schemas/AuthMechanism"
          },
          "generation": {
            "$ref": "#/components/schemas/Generation"
          },
          "createdAt": {
            "$ref": "#/components/schemas/CreatedAtwebhooks"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/UpdatedAtwebhooks"
          },
          "type": {
            "$ref": "#/components/schemas/Typewebhooks"
          }
        },
        "required": [
          "id",
          "name",
          "endpoint",
          "authMechanism",
          "createdAt",
          "type"
        ]
      },
      "WebhookDetailsOidcAuth": {
        "title": "OIDC Authentication",
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookDetailsBase"
          },
          {
            "type": "object",
            "properties": {
              "authMechanism": {
                "type": "string",
                "enum": [
                  "OIDC"
                ]
              },
              "oidcDetails": {
                "$ref": "#/components/schemas/OidcDetails"
              }
            },
            "required": [
              "oidcDetails"
            ],
            "not": {
              "required": [
                "apiKey"
              ]
            }
          }
        ]
      },
      "WebhookOidcAuthRequest": {
        "title": "OIDC Authentication",
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookRequestBase"
          },
          {
            "type": "object",
            "properties": {
              "oidcDetails": {
                "$ref": "#/components/schemas/OidcDetailsRequest"
              }
            },
            "required": [
              "oidcDetails"
            ],
            "not": {
              "required": [
                "apiKey"
              ]
            }
          }
        ]
      },
      "WebhookPatch": {
        "example": {
          "items": {
            "name": "webhooktest2",
            "id": "a1234567-89b9-01",
            "type": "network-services",
            "generation": 4,
            "createdAt": "2025-10-10T07:20:28Z",
            "updatedAt": "2025-10-14T15:00:25Z",
            "success": true,
            "message": "Webhook patched successfully!"
          }
        },
        "type": "object",
        "properties": {
          "items": {
            "type": "object",
            "required": [
              "name",
              "id",
              "type",
              "generation",
              "createdAt",
              "updatedAt",
              "success",
              "message"
            ],
            "properties": {
              "id": {
                "$ref": "#/components/schemas/idwebhooks"
              },
              "name": {
                "$ref": "#/components/schemas/Name"
              },
              "type": {
                "$ref": "#/components/schemas/Typewebhooks"
              },
              "generation": {
                "$ref": "#/components/schemas/Generation"
              },
              "createdAt": {
                "$ref": "#/components/schemas/CreatedAtwebhooks"
              },
              "updatedAt": {
                "$ref": "#/components/schemas/UpdatedAtwebhooks"
              },
              "success": {
                "$ref": "#/components/schemas/Success"
              },
              "message": {
                "$ref": "#/components/schemas/Messagewebhooks"
              }
            }
          }
        }
      },
      "WebhookPatchInput": {
        "type": "object",
        "properties": {
          "input": {
            "$ref": "#/components/schemas/WebhookPatchPayload"
          }
        },
        "required": [
          "input"
        ],
        "description": "Wrapper for webhook patch request input"
      },
      "WebhookPatchPayload": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/WebhookPatchRequestItemGeneric"
          },
          {
            "$ref": "#/components/schemas/WebhookPatchRequestItemAuthUpdate"
          }
        ],
        "description": "Payload for webhook patch requests."
      },
      "WebhookPatchRequestItemApiKeyAuth": {
        "title": "API Key Authentication",
        "x-discriminator-value": "API_KEY",
        "type": "object",
        "properties": {
          "authMechanism": {
            "type": "string",
            "default": "API_KEY",
            "example": "API_KEY",
            "description": "Predefined authentication mechanism for this payload type."
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "endpoint": {
            "$ref": "#/components/schemas/Endpoint"
          },
          "apiKey": {
            "$ref": "#/components/schemas/ApiKey"
          }
        },
        "required": [
          "authMechanism",
          "apiKey"
        ],
        "not": {
          "required": [
            "oidcDetails"
          ]
        }
      },
      "WebhookPatchRequestItemAuthUpdate": {
        "title": "Authentication Update",
        "oneOf": [
          {
            "$ref": "#/components/schemas/WebhookPatchRequestItemOidcAuth"
          },
          {
            "$ref": "#/components/schemas/WebhookPatchRequestItemApiKeyAuth"
          }
        ]
      },
      "WebhookPatchRequestItemGeneric": {
        "title": "Payload",
        "type": "object",
        "properties": {
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "endpoint": {
            "$ref": "#/components/schemas/Endpoint"
          }
        },
        "not": {
          "anyOf": [
            {
              "required": [
                "id"
              ]
            },
            {
              "required": [
                "authMechanism"
              ]
            },
            {
              "required": [
                "apiKey"
              ]
            },
            {
              "required": [
                "oidcDetails"
              ]
            }
          ]
        }
      },
      "WebhookPatchRequestItemOidcAuth": {
        "title": "OIDC Authentication",
        "x-discriminator-value": "OIDC",
        "type": "object",
        "properties": {
          "authMechanism": {
            "type": "string",
            "default": "OIDC",
            "example": "OIDC",
            "description": "Predefined authentication mechanism for this payload type."
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "endpoint": {
            "$ref": "#/components/schemas/Endpoint"
          },
          "oidcDetails": {
            "$ref": "#/components/schemas/OidcDetailsRequest"
          }
        },
        "required": [
          "authMechanism",
          "oidcDetails"
        ],
        "not": {
          "required": [
            "apiKey"
          ]
        }
      },
      "WebhookRequestBase": {
        "type": "object",
        "required": [
          "name",
          "endpoint",
          "authMechanism"
        ],
        "properties": {
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "endpoint": {
            "$ref": "#/components/schemas/Endpoint"
          },
          "authMechanism": {
            "$ref": "#/components/schemas/AuthMechanismRequest"
          }
        }
      },
      "WebhookRequestPayload": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/WebhookOidcAuthRequest"
          },
          {
            "$ref": "#/components/schemas/WebhookApiKeyAuthRequest"
          }
        ],
        "discriminator": {
          "propertyName": "authMechanism",
          "mapping": {
            "OIDC": "#/components/schemas/WebhookOidcAuthRequest",
            "API_KEY": "#/components/schemas/WebhookApiKeyAuthRequest"
          }
        },
        "description": "Payload for webhook create and update requests."
      },
      "WebhookRotateHmacKey": {
        "example": {
          "items": {
            "id": "a1234567-89b9-01",
            "hmacKey": "2067774a07afcf4bc7815c8ff04aa1a71b4c18a6274bf7c6ddb651227a6af796",
            "success": true,
            "message": "HMAC key rotated successfully!"
          }
        },
        "type": "object",
        "properties": {
          "items": {
            "type": "object",
            "required": [
              "id",
              "hmacKey",
              "success",
              "message"
            ],
            "properties": {
              "id": {
                "$ref": "#/components/schemas/idwebhooks"
              },
              "hmacKey": {
                "$ref": "#/components/schemas/HmacKey"
              },
              "success": {
                "$ref": "#/components/schemas/Success"
              },
              "message": {
                "$ref": "#/components/schemas/Messagewebhooks"
              }
            }
          }
        }
      },
      "WebhookUpdate": {
        "example": {
          "items": {
            "id": "a1234567-89b9-01",
            "type": "network-services",
            "name": "webhooktest1",
            "generation": 3,
            "createdAt": "2025-10-10T07:20:28Z",
            "updatedAt": "2025-10-14T14:47:21Z",
            "success": true,
            "message": "Webhook updated!",
            "hmacKey": "b27e63985fce36484959fd03118821e8641028bd9f0e0baa564fb3389c1e0219"
          }
        },
        "type": "object",
        "properties": {
          "items": {
            "type": "object",
            "required": [
              "id",
              "name",
              "type",
              "generation",
              "createdAt",
              "updatedAt",
              "success",
              "message",
              "hmacKey"
            ],
            "properties": {
              "id": {
                "$ref": "#/components/schemas/idwebhooks"
              },
              "name": {
                "$ref": "#/components/schemas/Name"
              },
              "type": {
                "$ref": "#/components/schemas/Typewebhooks"
              },
              "generation": {
                "$ref": "#/components/schemas/Generation"
              },
              "createdAt": {
                "$ref": "#/components/schemas/CreatedAtwebhooks"
              },
              "updatedAt": {
                "$ref": "#/components/schemas/UpdatedAtwebhooks"
              },
              "success": {
                "$ref": "#/components/schemas/Success"
              },
              "message": {
                "$ref": "#/components/schemas/Messagewebhooks"
              },
              "hmacKey": {
                "$ref": "#/components/schemas/HmacKey"
              }
            }
          }
        }
      },
      "WebhookUpdateInput": {
        "type": "object",
        "properties": {
          "input": {
            "$ref": "#/components/schemas/WebhookRequestPayload"
          }
        },
        "required": [
          "input"
        ],
        "description": "Wrapper for webhook update request input"
      },
      "debugIdwifi": {
        "type": "string",
        "format": "const",
        "maxLength": 1024,
        "description": "Debug id of the failed request. This can be used to help with troubleshooting.",
        "example": "a53ea9f0efeb99b2a9a52ef9c7e3093b"
      },
      "idwebhooks": {
        "type": "string",
        "format": "uuid",
        "maxLength": 64,
        "description": "Unique identifier for the webhook."
      },
      "message": {
        "type": "string",
        "format": "const",
        "maxLength": 1024,
        "description": "Error message indicating the cause of the failure.",
        "example": "Error message"
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestsErrorSchema"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden: Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Forbidden"
            }
          }
        }
      },
      "InternalServerError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "description": "Internal server error.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerErrorSchema"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not Found error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequests"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Unauthorized"
            }
          }
        }
      },
      "WebhookCreate": {
        "description": "Creating new webhook.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WebhookCreateResponse"
            }
          }
        }
      },
      "WebhookDetailsList": {
        "description": "Returns list of webhooks created by the customer.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "items": {
                  "type": "array",
                  "description": "A list of webhooks created by the customer.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "The unique identifier of the webhook.",
                        "example": "65f1397c-1137-4f89-9a3b-123456789abc"
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of the resource.",
                        "example": "webhook"
                      },
                      "name": {
                        "$ref": "#/components/schemas/Name"
                      },
                      "endpoint": {
                        "$ref": "#/components/schemas/Endpoint"
                      },
                      "authMechanism": {
                        "$ref": "#/components/schemas/AuthMechanism"
                      },
                      "generation": {
                        "$ref": "#/components/schemas/Generation"
                      },
                      "createdAt": {
                        "$ref": "#/components/schemas/CreatedAt"
                      },
                      "updatedAt": {
                        "$ref": "#/components/schemas/UpdatedAt"
                      }
                    },
                    "required": [
                      "id",
                      "type"
                    ]
                  }
                },
                "totalCount": {
                  "type": "integer",
                  "description": "The total number of webhooks available.",
                  "example": 10
                },
                "count": {
                  "type": "integer",
                  "description": "The number of webhooks in the current response.",
                  "example": 5
                }
              },
              "required": [
                "items",
                "count"
              ]
            }
          }
        }
      },
      "WebhookDetailsResponse": {
        "description": "Returns webhook details by ID.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WebhookDetails"
            }
          }
        }
      },
      "WebhookPatchResponse": {
        "description": "Patches the webhook",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WebhookPatch"
            }
          }
        }
      },
      "WebhookRotateHmacKeyResponse": {
        "description": "Rotates the webhook HMAC Key",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WebhookRotateHmacKey"
            }
          }
        }
      },
      "WebhookUpdateResponse": {
        "description": "Updates the webhook",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/WebhookUpdate"
            }
          }
        }
      }
    },
    "parameters": {
      "Id": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid",
          "maxLength": 16
        },
        "description": "Unique identifier for the webhook. This can be obtained from the List Webhooks API."
      }
    },
    "examples": {
      "WebhookCreateApiKeyRequest": {
        "summary": "Create webhook with API key authentication",
        "value": {
          "input": {
            "name": "webhook-api-key",
            "endpoint": "https://example.com/webhook",
            "authMechanism": "API_KEY",
            "apiKey": "testAPIKEY"
          }
        }
      },
      "WebhookCreateOidcRequest": {
        "summary": "Create webhook with OIDC authentication",
        "value": {
          "input": {
            "name": "webhook-oidc",
            "endpoint": "https://example.com/webhook",
            "authMechanism": "OIDC",
            "oidcDetails": {
              "clientId": "sample-client-id",
              "clientSecret": "REDACTED",
              "wellKnownUrl": "https://example.com/.well-known/openid-configuration"
            }
          }
        }
      },
      "WebhookPatchApiKeyRequest": {
        "summary": "Patch webhook with API key authentication",
        "value": {
          "input": {
            "authMechanism": "API_KEY",
            "apiKey": "testAPIKEY"
          }
        }
      },
      "WebhookPatchOidcRequest": {
        "summary": "Patch webhook with OIDC authentication",
        "value": {
          "input": {
            "authMechanism": "OIDC",
            "oidcDetails": {
              "clientId": "sample-client-id",
              "clientSecret": "REDACTED",
              "wellKnownUrl": "https://example.com/.well-known/openid-configuration"
            }
          }
        }
      },
      "WebhookUpdateApiKeyRequest": {
        "summary": "Update webhook with API key authentication",
        "value": {
          "input": {
            "name": "webhook-api-key",
            "endpoint": "https://example.com/webhook",
            "authMechanism": "API_KEY",
            "apiKey": "testAPIKEY"
          }
        }
      },
      "WebhookUpdateOidcRequest": {
        "summary": "Update webhook with OIDC authentication",
        "value": {
          "input": {
            "name": "webhook-oidc",
            "endpoint": "https://example.com/webhook",
            "authMechanism": "OIDC",
            "oidcDetails": {
              "clientId": "sample-client-id",
              "clientSecret": "REDACTED",
              "wellKnownUrl": "https://example.com/.well-known/openid-configuration"
            }
          }
        }
      }
    },
    "headers": {
      "XRateLimitLimit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "XRateLimitRemaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "XRateLimitReset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
