{
  "openapi": "3.1.0",
  "info": {
    "title": "Usb",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Usb"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/usb": {
      "get": {
        "description": "Config the global profile for USB parameters. Including a usb profile list and the acl rule profiles detail.\na AP USB ACL profile policy including a acl-name and a rule list. The rule includes a USB vendor name and\nits related action is deny or permit. Such as vendor is Alcatel-L800, action is deny, it means the Alcatel-L800\nUSB dongle's data will be denied by AP.",
        "operationId": "readUsb",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaUsb_UsbSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured usb parameters",
        "tags": [
          "Usb"
        ],
        "x-cliParam": {
          "commandName": "readUsbCmd",
          "commandUse": "usb",
          "parentCommand": "readCmd",
          "pathToPrint": "/usb/",
          "summary": "Read operation for usb"
        }
      }
    },
    "/network-config/v1alpha1/usb/{name}": {
      "get": {
        "description": "Config the global profile for USB parameters. Including a usb profile list and the acl rule profiles detail.\na AP USB ACL profile policy including a acl-name and a rule list. The rule includes a USB vendor name and\nits related action is deny or permit. Such as vendor is Alcatel-L800, action is deny, it means the Alcatel-L800\nUSB dongle's data will be denied by AP.",
        "operationId": "readUsbProfileByID",
        "parameters": [
          {
            "description": "USB profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaUsb_UsbprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing usb configuration configurations",
        "tags": [
          "Usb"
        ],
        "x-cliParam": {
          "commandName": "readUsbProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readUsbCmd",
          "pathToPrint": "/usb/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Config the global profile for USB parameters. Including a usb profile list and the acl rule profiles detail.\na AP USB ACL profile policy including a acl-name and a rule list. The rule includes a USB vendor name and\nits related action is deny or permit. Such as vendor is Alcatel-L800, action is deny, it means the Alcatel-L800\nUSB dongle's data will be denied by AP.",
        "operationId": "replaceUsbProfileByID",
        "parameters": [
          {
            "description": "USB profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaUsb_UsbprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Usb"
        ],
        "x-cliParam": {
          "commandName": "replaceUsbProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceUsbCmd",
          "pathToPrint": "/usb/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Config the global profile for USB parameters. Including a usb profile list and the acl rule profiles detail.\na AP USB ACL profile policy including a acl-name and a rule list. The rule includes a USB vendor name and\nits related action is deny or permit. Such as vendor is Alcatel-L800, action is deny, it means the Alcatel-L800\nUSB dongle's data will be denied by AP.",
        "operationId": "createUsbProfileByID",
        "parameters": [
          {
            "description": "USB profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaUsb_UsbprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new usb configuration by unique name",
        "tags": [
          "Usb"
        ],
        "x-cliParam": {
          "commandName": "createUsbProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createUsbCmd",
          "pathToPrint": "/usb/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Config the global profile for USB parameters. Including a usb profile list and the acl rule profiles detail.\na AP USB ACL profile policy including a acl-name and a rule list. The rule includes a USB vendor name and\nits related action is deny or permit. Such as vendor is Alcatel-L800, action is deny, it means the Alcatel-L800\nUSB dongle's data will be denied by AP.",
        "operationId": "deleteUsbProfileByID",
        "parameters": [
          {
            "description": "USB profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the usb configuration",
        "tags": [
          "Usb"
        ],
        "x-cliParam": {
          "commandName": "deleteUsbProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteUsbCmd",
          "pathToPrint": "/usb/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Config the global profile for USB parameters. Including a usb profile list and the acl rule profiles detail.\na AP USB ACL profile policy including a acl-name and a rule list. The rule includes a USB vendor name and\nits related action is deny or permit. Such as vendor is Alcatel-L800, action is deny, it means the Alcatel-L800\nUSB dongle's data will be denied by AP.",
        "operationId": "updateUsbProfileByID",
        "parameters": [
          {
            "description": "USB profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaUsb_UsbprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "Usb"
        ],
        "x-cliParam": {
          "commandName": "updateUsbProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateUsbCmd",
          "pathToPrint": "/usb/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaUsb_UsbSchemaGET": {
        "description": "Config the global profile for USB parameters. Including a usb profile list and the acl rule profiles detail.\na AP USB ACL profile policy including a acl-name and a rule list. The rule includes a USB vendor name and\nits related action is deny or permit. Such as vendor is Alcatel-L800, action is deny, it means the Alcatel-L800\nUSB dongle's data will be denied by AP.",
        "properties": {
          "profile": {
            "description": "Config the global profile for USB parameters. Including a usb profile list and the acl rule profiles detail.\na AP USB ACL profile policy including a acl-name and a rule list. The rule includes a USB vendor name and\nits related action is deny or permit. Such as vendor is Alcatel-L800, action is deny, it means the Alcatel-L800\nUSB dongle's data will be denied by AP.",
            "items": {
              "properties": {
                "description": {
                  "description": "USB profile description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": "USB profile name.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "usb-acl-profile": {
                  "description": "Config a AP USB ACL profile policy including a acl-name and a rule list. The rule includes\na USB vendor name and its related action is deny or permit. Such as vendor is Alcatel-L800, action is deny\nit means the Alcatel-L800 USB dongle's data will be denied by AP.",
                  "items": {
                    "properties": {
                      "rule": {
                        "description": "Config the USB access rules including a rule name and its action is deny or permit.\nAvailable options sample are:\nAlcatel-L800\nAmberbox-detector\nZTE-MF832U-Zero etc.",
                        "items": {
                          "properties": {
                            "action": {
                              "description": "Config the action to the USB dongle.\nRange: deny - Access to USB device is denied, permit - Access to USB device is granted.",
                              "enum": [
                                "PERMIT",
                                "DENY"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "DENY": "deny",
                                "PERMIT": "permit"
                              },
                              "x-supportedDeviceType": [
                                "Access Point"
                              ],
                              "x-typeDescription": "USB profile action types."
                            },
                            "rule-name": {
                              "description": "Config rule name for name of USB vendor. Such as: Alcatel-L800, Amberbox-detector etc.",
                              "enum": [
                                "SOLU_M_SLG_DM101",
                                "HANSHOW",
                                "SES_IMAGOTAG_021",
                                "SIERRA_881U",
                                "SIERRA_COMPASS_885",
                                "GLOBETROTTER_ICON_322",
                                "HUAWEI_E170_E272_E220",
                                "SIERRA_305_308",
                                "SIERRA_330U",
                                "SIERRA_250U",
                                "PANTECH_UM150",
                                "PANTECH_UM175",
                                "PANTECH_UM190",
                                "UTSTARCOM_UM100C",
                                "ZTE_AC3781",
                                "ICON_452",
                                "SIERRA_COMPASS_597",
                                "HUAWEI_E1762",
                                "HUAWEI_E1820E",
                                "SIERRA_598",
                                "NOVATEL_OVATION_U727",
                                "FRANKLIN_U300",
                                "FRANKLIN_U301",
                                "FRANKLIN_U600",
                                "NOVATEL_U760_SPRINT",
                                "NOVATEL_U760_VIRGIN",
                                "NOVATEL_U727",
                                "NOVATEL_U720",
                                "NOVATEL_MIFI_2200",
                                "UGM1831",
                                "UMG181",
                                "ZTE_MF110",
                                "ZTE_FIVESPOT",
                                "HUAWEI_E367",
                                "HUAWEI_K4505",
                                "HUAWEI_E160",
                                "ZTE_MF637_MF656",
                                "ZTE_MF190_EGYPT",
                                "ZTE_MF190_THAILAND",
                                "ZTE_MF633_MF636",
                                "ZTE_MF190_INDIA",
                                "LONGCHEER_WM72",
                                "SIERRA_TSTICK_C597",
                                "HUAWEI_E220",
                                "SIERRA_885",
                                "SIERRA_306_308_503_312U",
                                "SIERRA_320U",
                                "HUAWEI_E176_E176G_E1553",
                                "HUAWEI_E180_E1692_E1762",
                                "HUAWEI_E3765",
                                "HUAWEI_E1552",
                                "HUAWEI_E1750",
                                "HUAWEI_E352S_5",
                                "HUAWEI_E173",
                                "HUAWEI_E398",
                                "HUAWEI_E180",
                                "HUAWEI_EC150",
                                "HUAWEI_E1731_177DT06",
                                "HUAWEI_E169_E180_E220_E272",
                                "HUAWEI_D41HW",
                                "HUAWEI_E353",
                                "HUAWEI_KDDI_DATA07",
                                "HUAWEI_EC167",
                                "GLOBETROTTER_ICON_225",
                                "ZTE_MF820D",
                                "C_MOTECH_CNU_680",
                                "NOVATEL_MC545",
                                "QUALCOMM_SXC_1080",
                                "ZTE_AC2726",
                                "ZTE_AC2736",
                                "EPIVALLEY_SEC_8089",
                                "ZTE_K4505_Z",
                                "ZTE_MF668",
                                "NTT_DOCOMO_L_08C",
                                "NTT_DOCOMO_L_02C",
                                "NTT_DOCOMO_L_05A",
                                "NTT_DOCOMO_L_02A",
                                "ZTE_MF820",
                                "ZTE_3565",
                                "ZTE_MF180_HSDPA",
                                "ZTE_MF683_HSDPA",
                                "ZTE_MF591",
                                "SIMTECH",
                                "FUJISOFT",
                                "HUAWEI_E392",
                                "HUAWEI_K3772",
                                "HUAWEI_K3770",
                                "HUAWEI_E157",
                                "HUAWEI_E261",
                                "HUAWEI_E353_E1750_E367",
                                "HUAWEI_K4605",
                                "HUAWEI_E3272S_153",
                                "HUAWEI_E3131",
                                "HUAWEI_K4510",
                                "PANTECH_UML290",
                                "PANTECH_UML295",
                                "NOVATEL_MC551L",
                                "NOVATEL_U620L",
                                "FRAKLIN_U770_U772",
                                "NETGEAR_340U",
                                "NETGEAR_341U",
                                "ALCATEL_L800",
                                "SIERRA_313U",
                                "HUAWEI_HWD12_LTE",
                                "HUAWEI_3276S_150",
                                "HUAWEI_E3372",
                                "HUAWEI_K5150",
                                "HUAWEI_K5160",
                                "HUAWEI_E8372",
                                "ZTE_MF832U",
                                "ZTE_MF832U_ZERO",
                                "ZTE_MF832S",
                                "ZTE_MF825C",
                                "ZTE_MF831",
                                "ZTE_MF79S",
                                "ZTE_MF823",
                                "HUAWEI_E3276S_500",
                                "HUAWEI_E3276",
                                "PANTECH_UML295_COLD",
                                "HUAWEI_E3372H_153_MODEM",
                                "HUAWEI_E3372H_153_HILINK",
                                "AMBERBOX_DETECTOR",
                                "AMBERBOX_GATEWAY",
                                "ENOCEAN",
                                "PIERA",
                                "QUECTEL_EM12",
                                "ARUBA_LTE",
                                "ALL"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "ALCATEL_L800": "ALCATEL_L800",
                                "ALL": "ALL",
                                "AMBERBOX_DETECTOR": "AMBERBOX_DETECTOR",
                                "AMBERBOX_GATEWAY": "AMBERBOX_GATEWAY",
                                "ARUBA_LTE": "ARUBA_LTE",
                                "C_MOTECH_CNU_680": "C_MOTECH_CNU_680",
                                "ENOCEAN": "ENOCEAN",
                                "EPIVALLEY_SEC_8089": "EPIVALLEY_SEC_8089",
                                "FRAKLIN_U770_U772": "FRAKLIN_U770_U772",
                                "FRANKLIN_U300": "FRANKLIN_U300",
                                "FRANKLIN_U301": "FRANKLIN_U301",
                                "FRANKLIN_U600": "FRANKLIN_U600",
                                "FUJISOFT": "FUJISOFT",
                                "GLOBETROTTER_ICON_225": "GLOBETROTTER_ICON_225",
                                "GLOBETROTTER_ICON_322": "GLOBETROTTER_ICON_322",
                                "HANSHOW": "HANSHOW",
                                "HUAWEI_3276S_150": "HUAWEI_3276S_150",
                                "HUAWEI_D41HW": "HUAWEI_D41HW",
                                "HUAWEI_E1552": "HUAWEI_E1552",
                                "HUAWEI_E157": "HUAWEI_E157",
                                "HUAWEI_E160": "HUAWEI_E160",
                                "HUAWEI_E169_E180_E220_E272": "HUAWEI_E169_E180_E220_E272",
                                "HUAWEI_E170_E272_E220": "HUAWEI_E170_E272_E220",
                                "HUAWEI_E173": "HUAWEI_E173",
                                "HUAWEI_E1731_177DT06": "HUAWEI_E1731_177DT06",
                                "HUAWEI_E1750": "HUAWEI_E1750",
                                "HUAWEI_E1762": "HUAWEI_E1762",
                                "HUAWEI_E176_E176G_E1553": "HUAWEI_E176_E176G_E1553",
                                "HUAWEI_E180": "HUAWEI_E180",
                                "HUAWEI_E180_E1692_E1762": "HUAWEI_E180_E1692_E1762",
                                "HUAWEI_E1820E": "HUAWEI_E1820E",
                                "HUAWEI_E220": "HUAWEI_E220",
                                "HUAWEI_E261": "HUAWEI_E261",
                                "HUAWEI_E3131": "HUAWEI_E3131",
                                "HUAWEI_E3272S_153": "HUAWEI_E3272S_153",
                                "HUAWEI_E3276": "HUAWEI_E3276",
                                "HUAWEI_E3276S_500": "HUAWEI_E3276S_500",
                                "HUAWEI_E3372": "HUAWEI_E3372",
                                "HUAWEI_E3372H_153_HILINK": "HUAWEI_E3372H_153_HILINK",
                                "HUAWEI_E3372H_153_MODEM": "HUAWEI_E3372H_153_MODEM",
                                "HUAWEI_E352S_5": "HUAWEI_E352S_5",
                                "HUAWEI_E353": "HUAWEI_E353",
                                "HUAWEI_E353_E1750_E367": "HUAWEI_E353_E1750_E367",
                                "HUAWEI_E367": "HUAWEI_E367",
                                "HUAWEI_E3765": "HUAWEI_E3765",
                                "HUAWEI_E392": "HUAWEI_E392",
                                "HUAWEI_E398": "HUAWEI_E398",
                                "HUAWEI_E8372": "HUAWEI_E8372",
                                "HUAWEI_EC150": "HUAWEI_EC150",
                                "HUAWEI_EC167": "HUAWEI_EC167",
                                "HUAWEI_HWD12_LTE": "HUAWEI_HWD12_LTE",
                                "HUAWEI_K3770": "HUAWEI_K3770",
                                "HUAWEI_K3772": "HUAWEI_K3772",
                                "HUAWEI_K4505": "HUAWEI_K4505",
                                "HUAWEI_K4510": "HUAWEI_K4510",
                                "HUAWEI_K4605": "HUAWEI_K4605",
                                "HUAWEI_K5150": "HUAWEI_K5150",
                                "HUAWEI_K5160": "HUAWEI_K5160",
                                "HUAWEI_KDDI_DATA07": "HUAWEI_KDDI_DATA07",
                                "ICON_452": "ICON_452",
                                "LONGCHEER_WM72": "LONGCHEER_WM72",
                                "NETGEAR_340U": "NETGEAR_340U",
                                "NETGEAR_341U": "NETGEAR_341U",
                                "NOVATEL_MC545": "NOVATEL_MC545",
                                "NOVATEL_MC551L": "NOVATEL_MC551L",
                                "NOVATEL_MIFI_2200": "NOVATEL_MIFI_2200",
                                "NOVATEL_OVATION_U727": "NOVATEL_OVATION_U727",
                                "NOVATEL_U620L": "NOVATEL_U620L",
                                "NOVATEL_U720": "NOVATEL_U720",
                                "NOVATEL_U727": "NOVATEL_U727",
                                "NOVATEL_U760_SPRINT": "NOVATEL_U760_SPRINT",
                                "NOVATEL_U760_VIRGIN": "NOVATEL_U760_VIRGIN",
                                "NTT_DOCOMO_L_02A": "NTT_DOCOMO_L_02A",
                                "NTT_DOCOMO_L_02C": "NTT_DOCOMO_L_02C",
                                "NTT_DOCOMO_L_05A": "NTT_DOCOMO_L_05A",
                                "NTT_DOCOMO_L_08C": "NTT_DOCOMO_L_08C",
                                "PANTECH_UM150": "PANTECH_UM150",
                                "PANTECH_UM175": "PANTECH_UM175",
                                "PANTECH_UM190": "PANTECH_UM190",
                                "PANTECH_UML290": "PANTECH_UML290",
                                "PANTECH_UML295": "PANTECH_UML295",
                                "PANTECH_UML295_COLD": "PANTECH_UML295_COLD",
                                "PIERA": "PIERA",
                                "QUALCOMM_SXC_1080": "QUALCOMM_SXC_1080",
                                "QUECTEL_EM12": "QUECTEL_EM12",
                                "SES_IMAGOTAG_021": "SES_IMAGOTAG_021",
                                "SIERRA_250U": "SIERRA_250U",
                                "SIERRA_305_308": "SIERRA_305_308",
                                "SIERRA_306_308_503_312U": "SIERRA_306_308_503_312U",
                                "SIERRA_313U": "SIERRA_313U",
                                "SIERRA_320U": "SIERRA_320U",
                                "SIERRA_330U": "SIERRA_330U",
                                "SIERRA_598": "SIERRA_598",
                                "SIERRA_881U": "SIERRA_881U",
                                "SIERRA_885": "SIERRA_885",
                                "SIERRA_COMPASS_597": "SIERRA_COMPASS_597",
                                "SIERRA_COMPASS_885": "SIERRA_COMPASS_885",
                                "SIERRA_TSTICK_C597": "SIERRA_TSTICK_C597",
                                "SIMTECH": "SIMTECH",
                                "SOLU_M_SLG_DM101": "SOLU_M_SLG_DM101",
                                "UGM1831": "UGM1831",
                                "UMG181": "UMG181",
                                "UTSTARCOM_UM100C": "UTSTARCOM_UM100C",
                                "ZTE_3565": "ZTE_3565",
                                "ZTE_AC2726": "ZTE_AC2726",
                                "ZTE_AC2736": "ZTE_AC2736",
                                "ZTE_AC3781": "ZTE_AC3781",
                                "ZTE_FIVESPOT": "ZTE_FIVESPOT",
                                "ZTE_K4505_Z": "ZTE_K4505_Z",
                                "ZTE_MF110": "ZTE_MF110",
                                "ZTE_MF180_HSDPA": "ZTE_MF180_HSDPA",
                                "ZTE_MF190_EGYPT": "ZTE_MF190_EGYPT",
                                "ZTE_MF190_INDIA": "ZTE_MF190_INDIA",
                                "ZTE_MF190_THAILAND": "ZTE_MF190_THAILAND",
                                "ZTE_MF591": "ZTE_MF591",
                                "ZTE_MF633_MF636": "ZTE_MF633_MF636",
                                "ZTE_MF637_MF656": "ZTE_MF637_MF656",
                                "ZTE_MF668": "ZTE_MF668",
                                "ZTE_MF683_HSDPA": "ZTE_MF683_HSDPA",
                                "ZTE_MF79S": "ZTE_MF79S",
                                "ZTE_MF820": "ZTE_MF820",
                                "ZTE_MF820D": "ZTE_MF820D",
                                "ZTE_MF823": "ZTE_MF823",
                                "ZTE_MF825C": "ZTE_MF825C",
                                "ZTE_MF831": "ZTE_MF831",
                                "ZTE_MF832S": "ZTE_MF832S",
                                "ZTE_MF832U": "ZTE_MF832U",
                                "ZTE_MF832U_ZERO": "ZTE_MF832U_ZERO"
                              },
                              "x-supportedDeviceType": [
                                "Access Point"
                              ],
                              "x-typeDescription": "BLE USB rule name allowed list for vendors"
                            }
                          }
                        },
                        "maxItems": 16,
                        "type": "array",
                        "x-key": [
                          "ruleName"
                        ]
                      },
                      "usb-acl-name": {
                        "description": "Config policy profile name.",
                        "format": "const",
                        "maxLength": 32,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "usbAclName"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "usb-profile": {
                  "description": "Config list of AP USB profile. For each profile, it could be configured a related acl rule to reference.",
                  "items": {
                    "properties": {
                      "acl": {
                        "description": "Apply USB ACL profile to AP USB profile.",
                        "format": "const",
                        "maxLength": 32,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "usb-prof-name": {
                        "description": "Config IoT usb profile name.",
                        "format": "const",
                        "maxLength": 32,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "usbProfName"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "usb-profile-binding-name": {
                  "description": "Config the name to bind the AP USB profile with the supported vendor product.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Access Point"
        ]
      },
      "ArubaUsb_UsbprofileSchema": {
        "properties": {
          "description": {
            "description": "USB profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "name": {
            "description": "USB profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "usb-acl-profile": {
            "description": "Config a AP USB ACL profile policy including a acl-name and a rule list. The rule includes\na USB vendor name and its related action is deny or permit. Such as vendor is Alcatel-L800, action is deny\nit means the Alcatel-L800 USB dongle's data will be denied by AP.",
            "items": {
              "properties": {
                "rule": {
                  "description": "Config the USB access rules including a rule name and its action is deny or permit.\nAvailable options sample are:\nAlcatel-L800\nAmberbox-detector\nZTE-MF832U-Zero etc.",
                  "items": {
                    "properties": {
                      "action": {
                        "description": "Config the action to the USB dongle.\nRange: deny - Access to USB device is denied, permit - Access to USB device is granted.",
                        "enum": [
                          "PERMIT",
                          "DENY"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "DENY": "deny",
                          "PERMIT": "permit"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "USB profile action types."
                      },
                      "rule-name": {
                        "description": "Config rule name for name of USB vendor. Such as: Alcatel-L800, Amberbox-detector etc.",
                        "enum": [
                          "SOLU_M_SLG_DM101",
                          "HANSHOW",
                          "SES_IMAGOTAG_021",
                          "SIERRA_881U",
                          "SIERRA_COMPASS_885",
                          "GLOBETROTTER_ICON_322",
                          "HUAWEI_E170_E272_E220",
                          "SIERRA_305_308",
                          "SIERRA_330U",
                          "SIERRA_250U",
                          "PANTECH_UM150",
                          "PANTECH_UM175",
                          "PANTECH_UM190",
                          "UTSTARCOM_UM100C",
                          "ZTE_AC3781",
                          "ICON_452",
                          "SIERRA_COMPASS_597",
                          "HUAWEI_E1762",
                          "HUAWEI_E1820E",
                          "SIERRA_598",
                          "NOVATEL_OVATION_U727",
                          "FRANKLIN_U300",
                          "FRANKLIN_U301",
                          "FRANKLIN_U600",
                          "NOVATEL_U760_SPRINT",
                          "NOVATEL_U760_VIRGIN",
                          "NOVATEL_U727",
                          "NOVATEL_U720",
                          "NOVATEL_MIFI_2200",
                          "UGM1831",
                          "UMG181",
                          "ZTE_MF110",
                          "ZTE_FIVESPOT",
                          "HUAWEI_E367",
                          "HUAWEI_K4505",
                          "HUAWEI_E160",
                          "ZTE_MF637_MF656",
                          "ZTE_MF190_EGYPT",
                          "ZTE_MF190_THAILAND",
                          "ZTE_MF633_MF636",
                          "ZTE_MF190_INDIA",
                          "LONGCHEER_WM72",
                          "SIERRA_TSTICK_C597",
                          "HUAWEI_E220",
                          "SIERRA_885",
                          "SIERRA_306_308_503_312U",
                          "SIERRA_320U",
                          "HUAWEI_E176_E176G_E1553",
                          "HUAWEI_E180_E1692_E1762",
                          "HUAWEI_E3765",
                          "HUAWEI_E1552",
                          "HUAWEI_E1750",
                          "HUAWEI_E352S_5",
                          "HUAWEI_E173",
                          "HUAWEI_E398",
                          "HUAWEI_E180",
                          "HUAWEI_EC150",
                          "HUAWEI_E1731_177DT06",
                          "HUAWEI_E169_E180_E220_E272",
                          "HUAWEI_D41HW",
                          "HUAWEI_E353",
                          "HUAWEI_KDDI_DATA07",
                          "HUAWEI_EC167",
                          "GLOBETROTTER_ICON_225",
                          "ZTE_MF820D",
                          "C_MOTECH_CNU_680",
                          "NOVATEL_MC545",
                          "QUALCOMM_SXC_1080",
                          "ZTE_AC2726",
                          "ZTE_AC2736",
                          "EPIVALLEY_SEC_8089",
                          "ZTE_K4505_Z",
                          "ZTE_MF668",
                          "NTT_DOCOMO_L_08C",
                          "NTT_DOCOMO_L_02C",
                          "NTT_DOCOMO_L_05A",
                          "NTT_DOCOMO_L_02A",
                          "ZTE_MF820",
                          "ZTE_3565",
                          "ZTE_MF180_HSDPA",
                          "ZTE_MF683_HSDPA",
                          "ZTE_MF591",
                          "SIMTECH",
                          "FUJISOFT",
                          "HUAWEI_E392",
                          "HUAWEI_K3772",
                          "HUAWEI_K3770",
                          "HUAWEI_E157",
                          "HUAWEI_E261",
                          "HUAWEI_E353_E1750_E367",
                          "HUAWEI_K4605",
                          "HUAWEI_E3272S_153",
                          "HUAWEI_E3131",
                          "HUAWEI_K4510",
                          "PANTECH_UML290",
                          "PANTECH_UML295",
                          "NOVATEL_MC551L",
                          "NOVATEL_U620L",
                          "FRAKLIN_U770_U772",
                          "NETGEAR_340U",
                          "NETGEAR_341U",
                          "ALCATEL_L800",
                          "SIERRA_313U",
                          "HUAWEI_HWD12_LTE",
                          "HUAWEI_3276S_150",
                          "HUAWEI_E3372",
                          "HUAWEI_K5150",
                          "HUAWEI_K5160",
                          "HUAWEI_E8372",
                          "ZTE_MF832U",
                          "ZTE_MF832U_ZERO",
                          "ZTE_MF832S",
                          "ZTE_MF825C",
                          "ZTE_MF831",
                          "ZTE_MF79S",
                          "ZTE_MF823",
                          "HUAWEI_E3276S_500",
                          "HUAWEI_E3276",
                          "PANTECH_UML295_COLD",
                          "HUAWEI_E3372H_153_MODEM",
                          "HUAWEI_E3372H_153_HILINK",
                          "AMBERBOX_DETECTOR",
                          "AMBERBOX_GATEWAY",
                          "ENOCEAN",
                          "PIERA",
                          "QUECTEL_EM12",
                          "ARUBA_LTE",
                          "ALL"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "ALCATEL_L800": "ALCATEL_L800",
                          "ALL": "ALL",
                          "AMBERBOX_DETECTOR": "AMBERBOX_DETECTOR",
                          "AMBERBOX_GATEWAY": "AMBERBOX_GATEWAY",
                          "ARUBA_LTE": "ARUBA_LTE",
                          "C_MOTECH_CNU_680": "C_MOTECH_CNU_680",
                          "ENOCEAN": "ENOCEAN",
                          "EPIVALLEY_SEC_8089": "EPIVALLEY_SEC_8089",
                          "FRAKLIN_U770_U772": "FRAKLIN_U770_U772",
                          "FRANKLIN_U300": "FRANKLIN_U300",
                          "FRANKLIN_U301": "FRANKLIN_U301",
                          "FRANKLIN_U600": "FRANKLIN_U600",
                          "FUJISOFT": "FUJISOFT",
                          "GLOBETROTTER_ICON_225": "GLOBETROTTER_ICON_225",
                          "GLOBETROTTER_ICON_322": "GLOBETROTTER_ICON_322",
                          "HANSHOW": "HANSHOW",
                          "HUAWEI_3276S_150": "HUAWEI_3276S_150",
                          "HUAWEI_D41HW": "HUAWEI_D41HW",
                          "HUAWEI_E1552": "HUAWEI_E1552",
                          "HUAWEI_E157": "HUAWEI_E157",
                          "HUAWEI_E160": "HUAWEI_E160",
                          "HUAWEI_E169_E180_E220_E272": "HUAWEI_E169_E180_E220_E272",
                          "HUAWEI_E170_E272_E220": "HUAWEI_E170_E272_E220",
                          "HUAWEI_E173": "HUAWEI_E173",
                          "HUAWEI_E1731_177DT06": "HUAWEI_E1731_177DT06",
                          "HUAWEI_E1750": "HUAWEI_E1750",
                          "HUAWEI_E1762": "HUAWEI_E1762",
                          "HUAWEI_E176_E176G_E1553": "HUAWEI_E176_E176G_E1553",
                          "HUAWEI_E180": "HUAWEI_E180",
                          "HUAWEI_E180_E1692_E1762": "HUAWEI_E180_E1692_E1762",
                          "HUAWEI_E1820E": "HUAWEI_E1820E",
                          "HUAWEI_E220": "HUAWEI_E220",
                          "HUAWEI_E261": "HUAWEI_E261",
                          "HUAWEI_E3131": "HUAWEI_E3131",
                          "HUAWEI_E3272S_153": "HUAWEI_E3272S_153",
                          "HUAWEI_E3276": "HUAWEI_E3276",
                          "HUAWEI_E3276S_500": "HUAWEI_E3276S_500",
                          "HUAWEI_E3372": "HUAWEI_E3372",
                          "HUAWEI_E3372H_153_HILINK": "HUAWEI_E3372H_153_HILINK",
                          "HUAWEI_E3372H_153_MODEM": "HUAWEI_E3372H_153_MODEM",
                          "HUAWEI_E352S_5": "HUAWEI_E352S_5",
                          "HUAWEI_E353": "HUAWEI_E353",
                          "HUAWEI_E353_E1750_E367": "HUAWEI_E353_E1750_E367",
                          "HUAWEI_E367": "HUAWEI_E367",
                          "HUAWEI_E3765": "HUAWEI_E3765",
                          "HUAWEI_E392": "HUAWEI_E392",
                          "HUAWEI_E398": "HUAWEI_E398",
                          "HUAWEI_E8372": "HUAWEI_E8372",
                          "HUAWEI_EC150": "HUAWEI_EC150",
                          "HUAWEI_EC167": "HUAWEI_EC167",
                          "HUAWEI_HWD12_LTE": "HUAWEI_HWD12_LTE",
                          "HUAWEI_K3770": "HUAWEI_K3770",
                          "HUAWEI_K3772": "HUAWEI_K3772",
                          "HUAWEI_K4505": "HUAWEI_K4505",
                          "HUAWEI_K4510": "HUAWEI_K4510",
                          "HUAWEI_K4605": "HUAWEI_K4605",
                          "HUAWEI_K5150": "HUAWEI_K5150",
                          "HUAWEI_K5160": "HUAWEI_K5160",
                          "HUAWEI_KDDI_DATA07": "HUAWEI_KDDI_DATA07",
                          "ICON_452": "ICON_452",
                          "LONGCHEER_WM72": "LONGCHEER_WM72",
                          "NETGEAR_340U": "NETGEAR_340U",
                          "NETGEAR_341U": "NETGEAR_341U",
                          "NOVATEL_MC545": "NOVATEL_MC545",
                          "NOVATEL_MC551L": "NOVATEL_MC551L",
                          "NOVATEL_MIFI_2200": "NOVATEL_MIFI_2200",
                          "NOVATEL_OVATION_U727": "NOVATEL_OVATION_U727",
                          "NOVATEL_U620L": "NOVATEL_U620L",
                          "NOVATEL_U720": "NOVATEL_U720",
                          "NOVATEL_U727": "NOVATEL_U727",
                          "NOVATEL_U760_SPRINT": "NOVATEL_U760_SPRINT",
                          "NOVATEL_U760_VIRGIN": "NOVATEL_U760_VIRGIN",
                          "NTT_DOCOMO_L_02A": "NTT_DOCOMO_L_02A",
                          "NTT_DOCOMO_L_02C": "NTT_DOCOMO_L_02C",
                          "NTT_DOCOMO_L_05A": "NTT_DOCOMO_L_05A",
                          "NTT_DOCOMO_L_08C": "NTT_DOCOMO_L_08C",
                          "PANTECH_UM150": "PANTECH_UM150",
                          "PANTECH_UM175": "PANTECH_UM175",
                          "PANTECH_UM190": "PANTECH_UM190",
                          "PANTECH_UML290": "PANTECH_UML290",
                          "PANTECH_UML295": "PANTECH_UML295",
                          "PANTECH_UML295_COLD": "PANTECH_UML295_COLD",
                          "PIERA": "PIERA",
                          "QUALCOMM_SXC_1080": "QUALCOMM_SXC_1080",
                          "QUECTEL_EM12": "QUECTEL_EM12",
                          "SES_IMAGOTAG_021": "SES_IMAGOTAG_021",
                          "SIERRA_250U": "SIERRA_250U",
                          "SIERRA_305_308": "SIERRA_305_308",
                          "SIERRA_306_308_503_312U": "SIERRA_306_308_503_312U",
                          "SIERRA_313U": "SIERRA_313U",
                          "SIERRA_320U": "SIERRA_320U",
                          "SIERRA_330U": "SIERRA_330U",
                          "SIERRA_598": "SIERRA_598",
                          "SIERRA_881U": "SIERRA_881U",
                          "SIERRA_885": "SIERRA_885",
                          "SIERRA_COMPASS_597": "SIERRA_COMPASS_597",
                          "SIERRA_COMPASS_885": "SIERRA_COMPASS_885",
                          "SIERRA_TSTICK_C597": "SIERRA_TSTICK_C597",
                          "SIMTECH": "SIMTECH",
                          "SOLU_M_SLG_DM101": "SOLU_M_SLG_DM101",
                          "UGM1831": "UGM1831",
                          "UMG181": "UMG181",
                          "UTSTARCOM_UM100C": "UTSTARCOM_UM100C",
                          "ZTE_3565": "ZTE_3565",
                          "ZTE_AC2726": "ZTE_AC2726",
                          "ZTE_AC2736": "ZTE_AC2736",
                          "ZTE_AC3781": "ZTE_AC3781",
                          "ZTE_FIVESPOT": "ZTE_FIVESPOT",
                          "ZTE_K4505_Z": "ZTE_K4505_Z",
                          "ZTE_MF110": "ZTE_MF110",
                          "ZTE_MF180_HSDPA": "ZTE_MF180_HSDPA",
                          "ZTE_MF190_EGYPT": "ZTE_MF190_EGYPT",
                          "ZTE_MF190_INDIA": "ZTE_MF190_INDIA",
                          "ZTE_MF190_THAILAND": "ZTE_MF190_THAILAND",
                          "ZTE_MF591": "ZTE_MF591",
                          "ZTE_MF633_MF636": "ZTE_MF633_MF636",
                          "ZTE_MF637_MF656": "ZTE_MF637_MF656",
                          "ZTE_MF668": "ZTE_MF668",
                          "ZTE_MF683_HSDPA": "ZTE_MF683_HSDPA",
                          "ZTE_MF79S": "ZTE_MF79S",
                          "ZTE_MF820": "ZTE_MF820",
                          "ZTE_MF820D": "ZTE_MF820D",
                          "ZTE_MF823": "ZTE_MF823",
                          "ZTE_MF825C": "ZTE_MF825C",
                          "ZTE_MF831": "ZTE_MF831",
                          "ZTE_MF832S": "ZTE_MF832S",
                          "ZTE_MF832U": "ZTE_MF832U",
                          "ZTE_MF832U_ZERO": "ZTE_MF832U_ZERO"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "BLE USB rule name allowed list for vendors"
                      }
                    }
                  },
                  "maxItems": 16,
                  "type": "array",
                  "x-key": [
                    "ruleName"
                  ]
                },
                "usb-acl-name": {
                  "description": "Config policy profile name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "usbAclName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "usb-profile": {
            "description": "Config list of AP USB profile. For each profile, it could be configured a related acl rule to reference.",
            "items": {
              "properties": {
                "acl": {
                  "description": "Apply USB ACL profile to AP USB profile.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "usb-prof-name": {
                  "description": "Config IoT usb profile name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "usbProfName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "usb-profile-binding-name": {
            "description": "Config the name to bind the AP USB profile with the supported vendor product.",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "ArubaUsb_UsbprofileSchemaGet": {
        "properties": {
          "description": {
            "description": "USB profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "name": {
            "description": "USB profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "usb-acl-profile": {
            "description": "Config a AP USB ACL profile policy including a acl-name and a rule list. The rule includes\na USB vendor name and its related action is deny or permit. Such as vendor is Alcatel-L800, action is deny\nit means the Alcatel-L800 USB dongle's data will be denied by AP.",
            "items": {
              "properties": {
                "rule": {
                  "description": "Config the USB access rules including a rule name and its action is deny or permit.\nAvailable options sample are:\nAlcatel-L800\nAmberbox-detector\nZTE-MF832U-Zero etc.",
                  "items": {
                    "properties": {
                      "action": {
                        "description": "Config the action to the USB dongle.\nRange: deny - Access to USB device is denied, permit - Access to USB device is granted.",
                        "enum": [
                          "PERMIT",
                          "DENY"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "DENY": "deny",
                          "PERMIT": "permit"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "USB profile action types."
                      },
                      "rule-name": {
                        "description": "Config rule name for name of USB vendor. Such as: Alcatel-L800, Amberbox-detector etc.",
                        "enum": [
                          "SOLU_M_SLG_DM101",
                          "HANSHOW",
                          "SES_IMAGOTAG_021",
                          "SIERRA_881U",
                          "SIERRA_COMPASS_885",
                          "GLOBETROTTER_ICON_322",
                          "HUAWEI_E170_E272_E220",
                          "SIERRA_305_308",
                          "SIERRA_330U",
                          "SIERRA_250U",
                          "PANTECH_UM150",
                          "PANTECH_UM175",
                          "PANTECH_UM190",
                          "UTSTARCOM_UM100C",
                          "ZTE_AC3781",
                          "ICON_452",
                          "SIERRA_COMPASS_597",
                          "HUAWEI_E1762",
                          "HUAWEI_E1820E",
                          "SIERRA_598",
                          "NOVATEL_OVATION_U727",
                          "FRANKLIN_U300",
                          "FRANKLIN_U301",
                          "FRANKLIN_U600",
                          "NOVATEL_U760_SPRINT",
                          "NOVATEL_U760_VIRGIN",
                          "NOVATEL_U727",
                          "NOVATEL_U720",
                          "NOVATEL_MIFI_2200",
                          "UGM1831",
                          "UMG181",
                          "ZTE_MF110",
                          "ZTE_FIVESPOT",
                          "HUAWEI_E367",
                          "HUAWEI_K4505",
                          "HUAWEI_E160",
                          "ZTE_MF637_MF656",
                          "ZTE_MF190_EGYPT",
                          "ZTE_MF190_THAILAND",
                          "ZTE_MF633_MF636",
                          "ZTE_MF190_INDIA",
                          "LONGCHEER_WM72",
                          "SIERRA_TSTICK_C597",
                          "HUAWEI_E220",
                          "SIERRA_885",
                          "SIERRA_306_308_503_312U",
                          "SIERRA_320U",
                          "HUAWEI_E176_E176G_E1553",
                          "HUAWEI_E180_E1692_E1762",
                          "HUAWEI_E3765",
                          "HUAWEI_E1552",
                          "HUAWEI_E1750",
                          "HUAWEI_E352S_5",
                          "HUAWEI_E173",
                          "HUAWEI_E398",
                          "HUAWEI_E180",
                          "HUAWEI_EC150",
                          "HUAWEI_E1731_177DT06",
                          "HUAWEI_E169_E180_E220_E272",
                          "HUAWEI_D41HW",
                          "HUAWEI_E353",
                          "HUAWEI_KDDI_DATA07",
                          "HUAWEI_EC167",
                          "GLOBETROTTER_ICON_225",
                          "ZTE_MF820D",
                          "C_MOTECH_CNU_680",
                          "NOVATEL_MC545",
                          "QUALCOMM_SXC_1080",
                          "ZTE_AC2726",
                          "ZTE_AC2736",
                          "EPIVALLEY_SEC_8089",
                          "ZTE_K4505_Z",
                          "ZTE_MF668",
                          "NTT_DOCOMO_L_08C",
                          "NTT_DOCOMO_L_02C",
                          "NTT_DOCOMO_L_05A",
                          "NTT_DOCOMO_L_02A",
                          "ZTE_MF820",
                          "ZTE_3565",
                          "ZTE_MF180_HSDPA",
                          "ZTE_MF683_HSDPA",
                          "ZTE_MF591",
                          "SIMTECH",
                          "FUJISOFT",
                          "HUAWEI_E392",
                          "HUAWEI_K3772",
                          "HUAWEI_K3770",
                          "HUAWEI_E157",
                          "HUAWEI_E261",
                          "HUAWEI_E353_E1750_E367",
                          "HUAWEI_K4605",
                          "HUAWEI_E3272S_153",
                          "HUAWEI_E3131",
                          "HUAWEI_K4510",
                          "PANTECH_UML290",
                          "PANTECH_UML295",
                          "NOVATEL_MC551L",
                          "NOVATEL_U620L",
                          "FRAKLIN_U770_U772",
                          "NETGEAR_340U",
                          "NETGEAR_341U",
                          "ALCATEL_L800",
                          "SIERRA_313U",
                          "HUAWEI_HWD12_LTE",
                          "HUAWEI_3276S_150",
                          "HUAWEI_E3372",
                          "HUAWEI_K5150",
                          "HUAWEI_K5160",
                          "HUAWEI_E8372",
                          "ZTE_MF832U",
                          "ZTE_MF832U_ZERO",
                          "ZTE_MF832S",
                          "ZTE_MF825C",
                          "ZTE_MF831",
                          "ZTE_MF79S",
                          "ZTE_MF823",
                          "HUAWEI_E3276S_500",
                          "HUAWEI_E3276",
                          "PANTECH_UML295_COLD",
                          "HUAWEI_E3372H_153_MODEM",
                          "HUAWEI_E3372H_153_HILINK",
                          "AMBERBOX_DETECTOR",
                          "AMBERBOX_GATEWAY",
                          "ENOCEAN",
                          "PIERA",
                          "QUECTEL_EM12",
                          "ARUBA_LTE",
                          "ALL"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "ALCATEL_L800": "ALCATEL_L800",
                          "ALL": "ALL",
                          "AMBERBOX_DETECTOR": "AMBERBOX_DETECTOR",
                          "AMBERBOX_GATEWAY": "AMBERBOX_GATEWAY",
                          "ARUBA_LTE": "ARUBA_LTE",
                          "C_MOTECH_CNU_680": "C_MOTECH_CNU_680",
                          "ENOCEAN": "ENOCEAN",
                          "EPIVALLEY_SEC_8089": "EPIVALLEY_SEC_8089",
                          "FRAKLIN_U770_U772": "FRAKLIN_U770_U772",
                          "FRANKLIN_U300": "FRANKLIN_U300",
                          "FRANKLIN_U301": "FRANKLIN_U301",
                          "FRANKLIN_U600": "FRANKLIN_U600",
                          "FUJISOFT": "FUJISOFT",
                          "GLOBETROTTER_ICON_225": "GLOBETROTTER_ICON_225",
                          "GLOBETROTTER_ICON_322": "GLOBETROTTER_ICON_322",
                          "HANSHOW": "HANSHOW",
                          "HUAWEI_3276S_150": "HUAWEI_3276S_150",
                          "HUAWEI_D41HW": "HUAWEI_D41HW",
                          "HUAWEI_E1552": "HUAWEI_E1552",
                          "HUAWEI_E157": "HUAWEI_E157",
                          "HUAWEI_E160": "HUAWEI_E160",
                          "HUAWEI_E169_E180_E220_E272": "HUAWEI_E169_E180_E220_E272",
                          "HUAWEI_E170_E272_E220": "HUAWEI_E170_E272_E220",
                          "HUAWEI_E173": "HUAWEI_E173",
                          "HUAWEI_E1731_177DT06": "HUAWEI_E1731_177DT06",
                          "HUAWEI_E1750": "HUAWEI_E1750",
                          "HUAWEI_E1762": "HUAWEI_E1762",
                          "HUAWEI_E176_E176G_E1553": "HUAWEI_E176_E176G_E1553",
                          "HUAWEI_E180": "HUAWEI_E180",
                          "HUAWEI_E180_E1692_E1762": "HUAWEI_E180_E1692_E1762",
                          "HUAWEI_E1820E": "HUAWEI_E1820E",
                          "HUAWEI_E220": "HUAWEI_E220",
                          "HUAWEI_E261": "HUAWEI_E261",
                          "HUAWEI_E3131": "HUAWEI_E3131",
                          "HUAWEI_E3272S_153": "HUAWEI_E3272S_153",
                          "HUAWEI_E3276": "HUAWEI_E3276",
                          "HUAWEI_E3276S_500": "HUAWEI_E3276S_500",
                          "HUAWEI_E3372": "HUAWEI_E3372",
                          "HUAWEI_E3372H_153_HILINK": "HUAWEI_E3372H_153_HILINK",
                          "HUAWEI_E3372H_153_MODEM": "HUAWEI_E3372H_153_MODEM",
                          "HUAWEI_E352S_5": "HUAWEI_E352S_5",
                          "HUAWEI_E353": "HUAWEI_E353",
                          "HUAWEI_E353_E1750_E367": "HUAWEI_E353_E1750_E367",
                          "HUAWEI_E367": "HUAWEI_E367",
                          "HUAWEI_E3765": "HUAWEI_E3765",
                          "HUAWEI_E392": "HUAWEI_E392",
                          "HUAWEI_E398": "HUAWEI_E398",
                          "HUAWEI_E8372": "HUAWEI_E8372",
                          "HUAWEI_EC150": "HUAWEI_EC150",
                          "HUAWEI_EC167": "HUAWEI_EC167",
                          "HUAWEI_HWD12_LTE": "HUAWEI_HWD12_LTE",
                          "HUAWEI_K3770": "HUAWEI_K3770",
                          "HUAWEI_K3772": "HUAWEI_K3772",
                          "HUAWEI_K4505": "HUAWEI_K4505",
                          "HUAWEI_K4510": "HUAWEI_K4510",
                          "HUAWEI_K4605": "HUAWEI_K4605",
                          "HUAWEI_K5150": "HUAWEI_K5150",
                          "HUAWEI_K5160": "HUAWEI_K5160",
                          "HUAWEI_KDDI_DATA07": "HUAWEI_KDDI_DATA07",
                          "ICON_452": "ICON_452",
                          "LONGCHEER_WM72": "LONGCHEER_WM72",
                          "NETGEAR_340U": "NETGEAR_340U",
                          "NETGEAR_341U": "NETGEAR_341U",
                          "NOVATEL_MC545": "NOVATEL_MC545",
                          "NOVATEL_MC551L": "NOVATEL_MC551L",
                          "NOVATEL_MIFI_2200": "NOVATEL_MIFI_2200",
                          "NOVATEL_OVATION_U727": "NOVATEL_OVATION_U727",
                          "NOVATEL_U620L": "NOVATEL_U620L",
                          "NOVATEL_U720": "NOVATEL_U720",
                          "NOVATEL_U727": "NOVATEL_U727",
                          "NOVATEL_U760_SPRINT": "NOVATEL_U760_SPRINT",
                          "NOVATEL_U760_VIRGIN": "NOVATEL_U760_VIRGIN",
                          "NTT_DOCOMO_L_02A": "NTT_DOCOMO_L_02A",
                          "NTT_DOCOMO_L_02C": "NTT_DOCOMO_L_02C",
                          "NTT_DOCOMO_L_05A": "NTT_DOCOMO_L_05A",
                          "NTT_DOCOMO_L_08C": "NTT_DOCOMO_L_08C",
                          "PANTECH_UM150": "PANTECH_UM150",
                          "PANTECH_UM175": "PANTECH_UM175",
                          "PANTECH_UM190": "PANTECH_UM190",
                          "PANTECH_UML290": "PANTECH_UML290",
                          "PANTECH_UML295": "PANTECH_UML295",
                          "PANTECH_UML295_COLD": "PANTECH_UML295_COLD",
                          "PIERA": "PIERA",
                          "QUALCOMM_SXC_1080": "QUALCOMM_SXC_1080",
                          "QUECTEL_EM12": "QUECTEL_EM12",
                          "SES_IMAGOTAG_021": "SES_IMAGOTAG_021",
                          "SIERRA_250U": "SIERRA_250U",
                          "SIERRA_305_308": "SIERRA_305_308",
                          "SIERRA_306_308_503_312U": "SIERRA_306_308_503_312U",
                          "SIERRA_313U": "SIERRA_313U",
                          "SIERRA_320U": "SIERRA_320U",
                          "SIERRA_330U": "SIERRA_330U",
                          "SIERRA_598": "SIERRA_598",
                          "SIERRA_881U": "SIERRA_881U",
                          "SIERRA_885": "SIERRA_885",
                          "SIERRA_COMPASS_597": "SIERRA_COMPASS_597",
                          "SIERRA_COMPASS_885": "SIERRA_COMPASS_885",
                          "SIERRA_TSTICK_C597": "SIERRA_TSTICK_C597",
                          "SIMTECH": "SIMTECH",
                          "SOLU_M_SLG_DM101": "SOLU_M_SLG_DM101",
                          "UGM1831": "UGM1831",
                          "UMG181": "UMG181",
                          "UTSTARCOM_UM100C": "UTSTARCOM_UM100C",
                          "ZTE_3565": "ZTE_3565",
                          "ZTE_AC2726": "ZTE_AC2726",
                          "ZTE_AC2736": "ZTE_AC2736",
                          "ZTE_AC3781": "ZTE_AC3781",
                          "ZTE_FIVESPOT": "ZTE_FIVESPOT",
                          "ZTE_K4505_Z": "ZTE_K4505_Z",
                          "ZTE_MF110": "ZTE_MF110",
                          "ZTE_MF180_HSDPA": "ZTE_MF180_HSDPA",
                          "ZTE_MF190_EGYPT": "ZTE_MF190_EGYPT",
                          "ZTE_MF190_INDIA": "ZTE_MF190_INDIA",
                          "ZTE_MF190_THAILAND": "ZTE_MF190_THAILAND",
                          "ZTE_MF591": "ZTE_MF591",
                          "ZTE_MF633_MF636": "ZTE_MF633_MF636",
                          "ZTE_MF637_MF656": "ZTE_MF637_MF656",
                          "ZTE_MF668": "ZTE_MF668",
                          "ZTE_MF683_HSDPA": "ZTE_MF683_HSDPA",
                          "ZTE_MF79S": "ZTE_MF79S",
                          "ZTE_MF820": "ZTE_MF820",
                          "ZTE_MF820D": "ZTE_MF820D",
                          "ZTE_MF823": "ZTE_MF823",
                          "ZTE_MF825C": "ZTE_MF825C",
                          "ZTE_MF831": "ZTE_MF831",
                          "ZTE_MF832S": "ZTE_MF832S",
                          "ZTE_MF832U": "ZTE_MF832U",
                          "ZTE_MF832U_ZERO": "ZTE_MF832U_ZERO"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "BLE USB rule name allowed list for vendors"
                      }
                    }
                  },
                  "maxItems": 16,
                  "type": "array",
                  "x-key": [
                    "ruleName"
                  ]
                },
                "usb-acl-name": {
                  "description": "Config policy profile name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "usbAclName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "usb-profile": {
            "description": "Config list of AP USB profile. For each profile, it could be configured a related acl rule to reference.",
            "items": {
              "properties": {
                "acl": {
                  "description": "Apply USB ACL profile to AP USB profile.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "usb-prof-name": {
                  "description": "Config IoT usb profile name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "usbProfName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "usb-profile-binding-name": {
            "description": "Config the name to bind the AP USB profile with the supported vendor product.",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
[...]
