{
  "openapi": "3.1.0",
  "info": {
    "title": "Extension Splunk",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Extension Splunk"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/splunk-instances": {
      "get": {
        "description": "Splunk instances container.",
        "operationId": "readSplunkInstances",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaExtensionSplunk_SplunkInstancesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read splunk-instances",
        "tags": [
          "Extension Splunk"
        ],
        "x-cliParam": {
          "commandName": "readSplunkInstancesCmd",
          "commandUse": "splunk-instances",
          "parentCommand": "readCmd",
          "pathToPrint": "/splunk-instances/",
          "summary": "Read operation for splunk-instances"
        }
      }
    },
    "/network-config/v1alpha1/splunk-instances/{name}": {
      "get": {
        "description": "List of Splunk Extension installed instances.",
        "operationId": "readSplunkInstancesInstanceByID",
        "parameters": [
          {
            "description": "Extension instance name. Required field.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaExtensionSplunk_SplunkInstancesinstanceSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read instance by name",
        "tags": [
          "Extension Splunk"
        ],
        "x-cliParam": {
          "commandName": "readSplunkInstancesInstanceCmd",
          "commandUse": "instance",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readSplunkInstancesCmd",
          "pathToPrint": "/splunk-instances/instance/%s/",
          "summary": "Read operation for instance",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of Splunk Extension installed instances.",
        "operationId": "replaceSplunkInstancesInstanceByID",
        "parameters": [
          {
            "description": "Extension instance name. Required field.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaExtensionSplunk_SplunkInstancesinstanceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace instance by name",
        "tags": [
          "Extension Splunk"
        ],
        "x-cliParam": {
          "commandName": "replaceSplunkInstancesInstanceCmd",
          "commandUse": "instance",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceSplunkInstancesCmd",
          "pathToPrint": "/splunk-instances/instance/%s/",
          "summary": "Replace operation for instance",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of Splunk Extension installed instances.",
        "operationId": "createSplunkInstancesInstanceByID",
        "parameters": [
          {
            "description": "Extension instance name. Required field.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaExtensionSplunk_SplunkInstancesinstanceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create instance by name",
        "tags": [
          "Extension Splunk"
        ],
        "x-cliParam": {
          "commandName": "createSplunkInstancesInstanceCmd",
          "commandUse": "instance",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createSplunkInstancesCmd",
          "pathToPrint": "/splunk-instances/instance/%s/",
          "summary": "Create operation for instance",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of Splunk Extension installed instances.",
        "operationId": "deleteSplunkInstancesInstanceByID",
        "parameters": [
          {
            "description": "Extension instance name. Required field.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete instance by name",
        "tags": [
          "Extension Splunk"
        ],
        "x-cliParam": {
          "commandName": "deleteSplunkInstancesInstanceCmd",
          "commandUse": "instance",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteSplunkInstancesCmd",
          "pathToPrint": "/splunk-instances/instance/%s/",
          "summary": "Delete operation for instance",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of Splunk Extension installed instances.",
        "operationId": "updateSplunkInstancesInstanceByID",
        "parameters": [
          {
            "description": "Extension instance name. Required field.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaExtensionSplunk_SplunkInstancesinstanceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update instance by name",
        "tags": [
          "Extension Splunk"
        ],
        "x-cliParam": {
          "commandName": "updateSplunkInstancesInstanceCmd",
          "commandUse": "instance",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateSplunkInstancesCmd",
          "pathToPrint": "/splunk-instances/instance/%s/",
          "summary": "Update operation for instance",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaExtensionSplunk_DsIndexGrp": {
        "description": "Splunk data source and corresponding index settings.",
        "properties": {
          "ds-index-map": {
            "description": "Data source, Splunk index map.",
            "items": {
              "properties": {
                "ds": {
                  "description": "CNX data source to be forwarded to Splunk.",
                  "enum": [
                    "ENDPOINT_DATA",
                    "ALERTS",
                    "IDPS_THREAT_EVENTS"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALERTS": "CNX Events and Alerts.",
                    "ENDPOINT_DATA": "Endpoint Data with classification information.",
                    "IDPS_THREAT_EVENTS": "IDPS Threat Events."
                  },
                  "x-typeDescription": "Siem data source type."
                },
                "index": {
                  "description": "Splunk index name.",
                  "format": "pattern",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "index",
                  "x-patterns": "'[a-z0-9][a-z0-9_\\-]*'"
                }
              }
            },
            "maxItems": 3,
            "minItems": 1,
            "type": "array",
            "x-key": [
              "ds"
            ]
          }
        }
      },
      "ArubaExtensionSplunk_DsIndexGrpGet": {
        "description": "Splunk data source and corresponding index settings.",
        "properties": {
          "ds-index-map": {
            "description": "Data source, Splunk index map.",
            "items": {
              "properties": {
                "ds": {
                  "description": "CNX data source to be forwarded to Splunk.",
                  "enum": [
                    "ENDPOINT_DATA",
                    "ALERTS",
                    "IDPS_THREAT_EVENTS"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALERTS": "CNX Events and Alerts.",
                    "ENDPOINT_DATA": "Endpoint Data with classification information.",
                    "IDPS_THREAT_EVENTS": "IDPS Threat Events."
                  },
                  "x-typeDescription": "Siem data source type."
                },
                "index": {
                  "description": "Splunk index name.",
                  "format": "pattern",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "index",
                  "x-patterns": "'[a-z0-9][a-z0-9_\\-]*'"
                }
              }
            },
            "maxItems": 3,
            "minItems": 1,
            "type": "array",
            "x-key": [
              "ds"
            ]
          }
        }
      },
      "ArubaExtensionSplunk_EndpointGrp": {
        "description": "Splunk endpoint connection grouping.",
        "properties": {
          "hec-token": {
            "description": "Splunk HTTP Event Collector (HEC) token (in RFC 4122 UUID format) for this installed instance.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "hec-token",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'",
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "hec-url": {
            "description": "Splunk HTTP Event Collector (HEC) URL.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "hec-url",
            "x-patterns": "'https://.*'",
            "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
          }
        }
      },
      "ArubaExtensionSplunk_EndpointGrpGet": {
        "description": "Splunk endpoint connection grouping.",
        "properties": {
          "hec-token": {
            "description": "Splunk HTTP Event Collector (HEC) token (in RFC 4122 UUID format) for this installed instance.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "hec-token",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'",
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "hec-url": {
            "description": "Splunk HTTP Event Collector (HEC) URL.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "hec-url",
            "x-patterns": "'https://.*'",
            "x-typeDescription": "An ASCII-encoded Uniform Resource Locator (URL) as defined\nin RFC 3986, section 1.1.3"
          }
        }
      },
      "ArubaExtensionSplunk_SplunkInstancesSchemaGET": {
        "description": "Splunk instances container.",
        "properties": {
          "instance": {
            "description": "List of Splunk Extension installed instances.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaExtensionTypes_ExtensionInstalledGroupGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaExtensionSplunk_EndpointGrpGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaExtensionSplunk_DsIndexGrpGet"
                }
              ]
            },
            "maxItems": 8,
            "type": "array",
            "x-key": [
              "name"
            ]
          }
        }
      },
      "ArubaExtensionSplunk_SplunkInstancesinstanceSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaExtensionTypes_ExtensionInstalledGroup"
          },
          {
            "$ref": "#/components/schemas/ArubaExtensionSplunk_EndpointGrp"
          },
          {
            "$ref": "#/components/schemas/ArubaExtensionSplunk_DsIndexGrp"
          }
        ]
      },
      "ArubaExtensionSplunk_SplunkInstancesinstanceSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaExtensionTypes_ExtensionInstalledGroupGet"
          },
          {
            "$ref": "#/components/schemas/ArubaExtensionSplunk_EndpointGrpGet"
          },
          {
            "$ref": "#/components/schemas/ArubaExtensionSplunk_DsIndexGrpGet"
          }
        ]
      },
      "ArubaExtensionTypes_ExtensionInstalledGroup": {
        "description": "Installed Extension instance common settings grouping.",
        "properties": {
          "enabled": {
            "description": "Enable/Disable the extension instance. Required field.",
            "type": "boolean",
            "x-mandatory": true
          },
          "name": {
            "description": "Extension instance name. Required field.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true,
            "x-patternSources": "printable-string",
            "x-patterns": "'[ -~]+'",
            "x-typeDescription": "String that only allows printable ASCII characters."
          },
          "type": {
            "description": "Extension type. Required field.",
            "enum": [
              "VSPHERE",
              "SERVICENOW",
              "SPLUNK",
              "IVANTI_UEM",
              "VMWARE_WSONE_UEM",
              "MSINTUNE_UEM",
              "JAMF_SCHOOL_UEM",
              "JAMF_PRO_UEM",
              "MSDEFENDER_EMM",
              "CSFALCON_EMM",
              "SYMANTEC_EMM",
              "PSM",
              "OPSRAMP",
              "MSSENTINEL",
              "CISCO_ISE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CISCO_ISE": "Cisco Identity Services Engine (ISE)",
              "CSFALCON_EMM": "CrowdStrike Falcon",
              "IVANTI_UEM": "Ivanti UEM",
              "JAMF_PRO_UEM": "JAMF Pro UEM",
              "JAMF_SCHOOL_UEM": "JAMF School UEM",
              "MSDEFENDER_EMM": "Microsoft Defender EMM",
              "MSINTUNE_UEM": "Microsoft Intune UEM",
              "MSSENTINEL": "Microsoft Sentinel",
              "OPSRAMP": "OPSRAMP",
              "PSM": "PSM (Policy and Services Manager)",
              "SERVICENOW": "Servicenow",
              "SPLUNK": "Splunk",
              "SYMANTEC_EMM": "Symantec EMM",
              "VMWARE_WSONE_UEM": "VMware WorksapceONE UEM",
              "VSPHERE": "vSphere"
            },
            "x-mandatory": true,
            "x-typeDescription": "Extension type ids"
          },
          "uuid": {
            "description": "A RFC 4122 UUID for this installed instance. Read only value.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          }
        },
        "required": [
          "type",
          "name",
          "enabled"
        ]
      },
      "ArubaExtensionTypes_ExtensionInstalledGroupGet": {
        "description": "Installed Extension instance common settings grouping.",
        "properties": {
          "enabled": {
            "description": "Enable/Disable the extension instance. Required field.",
            "type": "boolean",
            "x-mandatory": true
          },
          "name": {
            "description": "Extension instance name. Required field.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-mandatory": true,
            "x-patternSources": "printable-string",
            "x-patterns": "'[ -~]+'",
            "x-typeDescription": "String that only allows printable ASCII characters."
          },
          "type": {
            "description": "Extension type. Required field.",
            "enum": [
              "VSPHERE",
              "SERVICENOW",
              "SPLUNK",
              "IVANTI_UEM",
              "VMWARE_WSONE_UEM",
              "MSINTUNE_UEM",
              "JAMF_SCHOOL_UEM",
              "JAMF_PRO_UEM",
              "MSDEFENDER_EMM",
              "CSFALCON_EMM",
              "SYMANTEC_EMM",
              "PSM",
              "OPSRAMP",
              "MSSENTINEL",
              "CISCO_ISE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CISCO_ISE": "Cisco Identity Services Engine (ISE)",
              "CSFALCON_EMM": "CrowdStrike Falcon",
              "IVANTI_UEM": "Ivanti UEM",
              "JAMF_PRO_UEM": "JAMF Pro UEM",
              "JAMF_SCHOOL_UEM": "JAMF School UEM",
              "MSDEFENDER_EMM": "Microsoft Defender EMM",
              "MSINTUNE_UEM": "Microsoft Intune UEM",
              "MSSENTINEL": "Microsoft Sentinel",
              "OPSRAMP": "OPSRAMP",
              "PSM": "PSM (Policy and Services Manager)",
              "SERVICENOW": "Servicenow",
              "SPLUNK": "Splunk",
              "SYMANTEC_EMM": "Symantec EMM",
              "VMWARE_WSONE_UEM": "VMware WorksapceONE UEM",
              "VSPHERE": "vSphere"
            },
            "x-mandatory": true,
            "x-typeDescription": "Extension type ids"
          },
          "uuid": {
            "description": "A RFC 4122 UUID for this installed instance. Read only value.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          }
        },
        "required": [
          "type",
          "name",
          "enabled"
        ]
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaExtensionSplunk_SplunkInstancesinstanceSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaExtensionSplunk_SplunkInstancesinstanceSchema"
            }
          }
        },
        "description": "instancebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
