{
  "openapi": "3.1.0",
  "info": {
    "title": "Stp",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Stp"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/stp": {
      "get": {
        "description": "STP(Spanning tree protocol) configuration. STP is a network protocol that prevents\nlayer 2 loops and broadcast storms in Ethernet networks.It does this by selectively\nblocking some ports and allowing others to forward traffic",
        "operationId": "readStp",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaStp_StpSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing STP Configuration.",
        "tags": [
          "Stp"
        ],
        "x-cliParam": {
          "commandName": "readStpCmd",
          "commandUse": "stp",
          "parentCommand": "readCmd",
          "pathToPrint": "/stp/",
          "summary": "Read operation for stp"
        }
      }
    },
    "/network-config/v1alpha1/stp/{name}": {
      "get": {
        "description": "List of Profiles for STP.",
        "operationId": "readStpProfileByID",
        "parameters": [
          {
            "description": "STP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaStp_StpprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing STP Configuration for given name.",
        "tags": [
          "Stp"
        ],
        "x-cliParam": {
          "commandName": "readStpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readStpCmd",
          "pathToPrint": "/stp/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of Profiles for STP.",
        "operationId": "replaceStpProfileByID",
        "parameters": [
          {
            "description": "STP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaStp_StpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing STP configurations for given name.",
        "tags": [
          "Stp"
        ],
        "x-cliParam": {
          "commandName": "replaceStpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceStpCmd",
          "pathToPrint": "/stp/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of Profiles for STP.",
        "operationId": "createStpProfileByID",
        "parameters": [
          {
            "description": "STP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaStp_StpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Configure STP by unique name.",
        "tags": [
          "Stp"
        ],
        "x-cliParam": {
          "commandName": "createStpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createStpCmd",
          "pathToPrint": "/stp/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of Profiles for STP.",
        "operationId": "deleteStpProfileByID",
        "parameters": [
          {
            "description": "STP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete STP configurations for given name.",
        "tags": [
          "Stp"
        ],
        "x-cliParam": {
          "commandName": "deleteStpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteStpCmd",
          "pathToPrint": "/stp/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of Profiles for STP.",
        "operationId": "updateStpProfileByID",
        "parameters": [
          {
            "description": "STP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaStp_StpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing STP configurations for given name.",
        "tags": [
          "Stp"
        ],
        "x-cliParam": {
          "commandName": "updateStpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateStpCmd",
          "pathToPrint": "/stp/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaStp_StpSchemaGET": {
        "description": "STP(Spanning tree protocol) configuration. STP is a network protocol that prevents\nlayer 2 loops and broadcast storms in Ethernet networks.It does this by selectively\nblocking some ports and allowing others to forward traffic",
        "properties": {
          "profile": {
            "description": "List of Profiles for STP.",
            "items": {
              "properties": {
                "bpdu-guard-enable-timer": {
                  "description": "To re-enable timeout after receiving an unauthorized\nBPDU(Bridge Protocol Data Units)",
                  "format": "int64",
                  "maximum": 65535,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "bpdu-throttle": {
                  "description": "BPDU(Bridge Protocol Data Units) throttle value in packets per second.",
                  "format": "int32",
                  "maximum": 256,
                  "minimum": 64,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "config-name": {
                  "description": "Multiple Spanning Tree (MST) region configuration name",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "config-revision": {
                  "description": "Multiple Spanning Tree (MST) region configuration revision number",
                  "format": "int64",
                  "maximum": 65535,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "cst-log-state-transitions": {
                  "default": "false",
                  "description": "Enable log state-transitions for the instance (CST).",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "description": {
                  "description": "STP profile description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "enable": {
                  "description": "To enable Spanning Tree globally.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "extend-system-id": {
                  "description": "Enables the extended system-id functionality",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "force-version": {
                  "description": "Spanning Tree protocol compatibility mode.",
                  "enum": [
                    "STP_COMPATIBLE",
                    "RSTP_OPERATION",
                    "MSTP_OPERATION"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "MSTP_OPERATION": "The protocol operates as Multiple STP on all ports where compatibility to\nthe old STP protocol versions is not required.",
                    "RSTP_OPERATION": "The protocol operates as Rapid STP on all ports except those ports where\na system that is using 802.1d Spanning Tree has been detected.",
                    "STP_COMPATIBLE": "The protocol operates as STP on all ports."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Spanning Tree force version."
                },
                "forward-delay": {
                  "description": "The wait time for device while transitioning from listening to learning\nand from learning to forwarding states.",
                  "format": "int32",
                  "maximum": 30,
                  "minimum": 4,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "hello-time": {
                  "description": "Time between messages transmission when the switch is root.",
                  "format": "int32",
                  "maximum": 10,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "ignore-pvid-inconsistency": {
                  "description": "Ignore PVID (Port VLAN ID) inconsistencies and allow RPVST(Rapid Per VLAN Spanning Tree)\nto run on mismatched links.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "max-age": {
                  "description": "Maximum age of received STP information before it is discarded.",
                  "format": "int32",
                  "maximum": 40,
                  "minimum": 6,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "max-hops": {
                  "description": "Max hops value for the Multiple spanning tree.",
                  "format": "int32",
                  "maximum": 40,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "mode": {
                  "description": "Mode of operation for spanning tree protocol.",
                  "enum": [
                    "RPVST",
                    "MSTP",
                    "RSTP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "MSTP": "Multiple spanning tree mode.",
                    "RPVST": "Rapid per VLAN spanning tree mode.",
                    "RSTP": "Rapid spanning tree mode."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Spanning Tree mode."
                },
                "mstp": {
                  "description": "List of STP parameters applicable per MSTP instance.",
                  "items": {
                    "properties": {
                      "instance-id": {
                        "description": "Instance identifier for the MSTP instance.",
                        "format": "int32",
                        "maximum": 4094,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "instance-log-state-transitions": {
                        "description": "Enable logging of state-transitions for the given instance-id.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "mstp-vlans": {
                        "description": "List of VLANs for MSTP instance.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "vlan-list",
                        "x-patterns": "'((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2})(\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2}))?)(,((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2})(\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2}))?))*'",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ],
                        "x-typeDescription": "Comma separated list of VLAN IDs and ranges"
                      },
                      "priority": {
                        "description": "Device priority. For CX and PVOS(AOS-S) this value will be multiplied by 4096.",
                        "format": "int32",
                        "maximum": 15,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "root": {
                        "description": "Root for the Multiple Spanning Tree (MST) instance.",
                        "enum": [
                          "PRIMARY",
                          "SECONDARY"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "PRIMARY": "Primary root for Spanning Tree.",
                          "SECONDARY": "Secondary root for Spanning Tree."
                        },
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ],
                        "x-typeDescription": "Spanning Tree Root type."
                      },
                      "topology-change-trap": {
                        "description": "Enable topology change notification for the specified MST instance.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "vlans": {
                        "description": "List of VLANs for MSTP instance.",
                        "items": {
                          "description": "List of VLANs for MSTP instance.",
                          "format": "int32",
                          "maximum": 4094,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "Type definition representing a single-tagged VLAN"
                        },
                        "maxItems": 2147483647,
                        "type": "array"
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "instanceId"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "mstp-pathcost": {
                  "default": "8021T",
                  "description": "Standard to use when calculating the default pathcost for MSTP mode.",
                  "enum": [
                    "8021D",
                    "8021T",
                    "PROPRIETARY"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "8021D": "Calculate default path cost for ports based on IEEE 802.1d.",
                    "8021T": "Calculate default path cost for ports based on IEEE 802.1t.",
                    "PROPRIETARY": "Calculate default path cost for ports based on a private standard."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Standard to use when calculating the default pathcost."
                },
                "name": {
                  "description": "STP profile name.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "pathcost-type": {
                  "description": "Path cost type.",
                  "enum": [
                    "COST_TYPE_LONG",
                    "COST_TYPE_SHORT"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "COST_TYPE_LONG": "Pathcost as long.",
                    "COST_TYPE_SHORT": "Pathcost as short."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Specify the path cost type."
                },
                "priority": {
                  "default": "8",
                  "description": "Device priority. For CX and PVOS this value will be multiplied by 4096.",
                  "format": "int32",
                  "maximum": 15,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "root": {
                  "description": "Root for the PVST(Per VLAN Spanning Tree) instance.",
                  "enum": [
                    "PRIMARY",
                    "SECONDARY"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "PRIMARY": "Primary root for Spanning Tree.",
                    "SECONDARY": "Secondary root for Spanning Tree."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Spanning Tree Root type."
                },
                "rpvst": {
                  "description": "List of STP parameters applicable per PVST(Per VLAN Spanning Tree) instance.",
                  "items": {
                    "properties": {
                      "enable": {
                        "description": "Enable RPVST on the specified VLANs.\nCX specific behavior:\n   rpvst[{\"vlan\": 10, \"enable\": true}] yields below commands.\n      no spanning-tree vlan 10 disable\n      spanning-tree vlan 10\n",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "forward-delay": {
                        "description": "Forward delay time in seconds for the RPVST(Rapid Per VLAN Spanning Tree) instance.",
                        "format": "int32",
                        "maximum": 30,
                        "minimum": 4,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "hello-time": {
                        "description": "Hello time in seconds for the RPVST(Rapid Per VLAN Spanning Tree) instance.",
                        "format": "int32",
                        "maximum": 10,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "max-age": {
                        "description": "Maximum age time in seconds for the RPVST(Rapid Per VLAN Spanning Tree) instance.",
                        "format": "int32",
                        "maximum": 40,
                        "minimum": 6,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "priority": {
                        "description": "Device priority. For CX and PVOS(AOS-S) this value will be multiplied by 4096.",
                        "format": "int32",
                        "maximum": 15,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "root": {
                        "description": "Root for the PVST(Per VLAN Spanning Tree) instance.",
                        "enum": [
                          "PRIMARY",
                          "SECONDARY"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "PRIMARY": "Primary root for Spanning Tree.",
                          "SECONDARY": "Secondary root for Spanning Tree."
                        },
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ],
                        "x-typeDescription": "Spanning Tree Root type."
                      },
                      "topology-change-trap": {
                        "description": "Enable topology change notification for the specified PVST\n(Per VLAN Spanning Tree) vlan id.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "vlan": {
                        "description": "Instance identifier.",
                        "format": "int32",
                        "maximum": 4094,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ],
                        "x-typeDescription": "Type definition representing a single-tagged VLAN"
                      },
                      "vlan-log-state-transitions": {
                        "description": "Enable logging for state-transitions for the vlan",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "vlan"
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "rpvst-auto-enable": {
                  "description": "This command enables/disables the RPVST Auto VLAN feature.\nDefault priority of 8*4096 will be assigned to the VLANs being auto created.\nIn 'auto-vlan-enable' RPVST mode, the maximum number of RPVST instances that\ncan be activated for VLANs within the switch is determined by the switch's\ncapacity in terms of both the maximum number of supported VLANs and the vport limits.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "rpvst-auto-priority": {
                  "description": "The priority value configured for the RPVST Auto VLANs.\nSet the priority value as a multiplier of 4096. Default is 8.",
                  "format": "int32",
                  "maximum": 15,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "rpvst-mstp-interconnect-vlan": {
                  "description": "RPVST-MSTP(Rapid Per VLAN Spanning Tree - Multiple Spanning Tree Protocol)\ninterconnect VLAN.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "rpvst-pathcost": {
                  "default": "8021T",
                  "description": "Standard to use when calculating the default pathcost for RPVST mode.",
                  "enum": [
                    "8021D",
                    "8021T",
                    "PROPRIETARY"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "8021D": "Calculate default path cost for ports based on IEEE 802.1d.",
                    "8021T": "Calculate default path cost for ports based on IEEE 802.1t.",
                    "PROPRIETARY": "Calculate default path cost for ports based on a private standard."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Standard to use when calculating the default pathcost."
                },
                "topology-change-trap": {
                  "description": "Enable topology change notification for the MST(Multiple Spanning Tree)\ninstance 0 (CST)(Common Spanning Tree).",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "transmit-hold-count": {
                  "description": "To set the maximum number of BPDUs(Bridge Protocol Data Unit)\nper second that the switch can send from an interface",
                  "format": "int32",
                  "maximum": 10,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "traps": {
                  "description": "Enable MSTP/PVST(Multiple Spanning Tree Protocol/Per VLAN Spanning Tree) traps.",
                  "items": {
                    "description": "Enable MSTP/PVST(Multiple Spanning Tree Protocol/Per VLAN Spanning Tree) traps.",
                    "enum": [
                      "ERRANT_BPDU",
                      "LOOP_GUARD",
                      "NEW_ROOT",
                      "ROOT_GUARD"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "ERRANT_BPDU": "Enable notifications which are sent when an errant bpdu is received.",
                      "LOOP_GUARD": "Enable notifications which are sent when loop guard inconsistency occurs.",
                      "NEW_ROOT": "Enable notifications which are sent when a new root is elected.",
                      "ROOT_GUARD": "Enable notifications which are sent when root guard inconsistency occurs."
                    },
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "MSTP/PVST traps."
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaStp_StpprofileSchema": {
        "properties": {
          "bpdu-guard-enable-timer": {
            "description": "To re-enable timeout after receiving an unauthorized\nBPDU(Bridge Protocol Data Units)",
            "format": "int64",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "bpdu-throttle": {
            "description": "BPDU(Bridge Protocol Data Units) throttle value in packets per second.",
            "format": "int32",
            "maximum": 256,
            "minimum": 64,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "config-name": {
            "description": "Multiple Spanning Tree (MST) region configuration name",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "config-revision": {
            "description": "Multiple Spanning Tree (MST) region configuration revision number",
            "format": "int64",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "cst-log-state-transitions": {
            "default": "false",
            "description": "Enable log state-transitions for the instance (CST).",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "description": {
            "description": "STP profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "enable": {
            "description": "To enable Spanning Tree globally.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "extend-system-id": {
            "description": "Enables the extended system-id functionality",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "force-version": {
            "description": "Spanning Tree protocol compatibility mode.",
            "enum": [
              "STP_COMPATIBLE",
              "RSTP_OPERATION",
              "MSTP_OPERATION"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MSTP_OPERATION": "The protocol operates as Multiple STP on all ports where compatibility to\nthe old STP protocol versions is not required.",
              "RSTP_OPERATION": "The protocol operates as Rapid STP on all ports except those ports where\na system that is using 802.1d Spanning Tree has been detected.",
              "STP_COMPATIBLE": "The protocol operates as STP on all ports."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Spanning Tree force version."
          },
          "forward-delay": {
            "description": "The wait time for device while transitioning from listening to learning\nand from learning to forwarding states.",
            "format": "int32",
            "maximum": 30,
            "minimum": 4,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hello-time": {
            "description": "Time between messages transmission when the switch is root.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ignore-pvid-inconsistency": {
            "description": "Ignore PVID (Port VLAN ID) inconsistencies and allow RPVST(Rapid Per VLAN Spanning Tree)\nto run on mismatched links.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "max-age": {
            "description": "Maximum age of received STP information before it is discarded.",
            "format": "int32",
            "maximum": 40,
            "minimum": 6,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "max-hops": {
            "description": "Max hops value for the Multiple spanning tree.",
            "format": "int32",
            "maximum": 40,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mode": {
            "description": "Mode of operation for spanning tree protocol.",
            "enum": [
              "RPVST",
              "MSTP",
              "RSTP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MSTP": "Multiple spanning tree mode.",
              "RPVST": "Rapid per VLAN spanning tree mode.",
              "RSTP": "Rapid spanning tree mode."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Spanning Tree mode."
          },
          "mstp": {
            "description": "List of STP parameters applicable per MSTP instance.",
            "items": {
              "properties": {
                "instance-id": {
                  "description": "Instance identifier for the MSTP instance.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "instance-log-state-transitions": {
                  "description": "Enable logging of state-transitions for the given instance-id.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "mstp-vlans": {
                  "description": "List of VLANs for MSTP instance.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "vlan-list",
                  "x-patterns": "'((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2})(\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2}))?)(,((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2})(\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2}))?))*'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Comma separated list of VLAN IDs and ranges"
                },
                "priority": {
                  "description": "Device priority. For CX and PVOS(AOS-S) this value will be multiplied by 4096.",
                  "format": "int32",
                  "maximum": 15,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "root": {
                  "description": "Root for the Multiple Spanning Tree (MST) instance.",
                  "enum": [
                    "PRIMARY",
                    "SECONDARY"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "PRIMARY": "Primary root for Spanning Tree.",
                    "SECONDARY": "Secondary root for Spanning Tree."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Spanning Tree Root type."
                },
                "topology-change-trap": {
                  "description": "Enable topology change notification for the specified MST instance.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "vlans": {
                  "description": "List of VLANs for MSTP instance.",
                  "items": {
                    "description": "List of VLANs for MSTP instance.",
                    "format": "int32",
                    "maximum": 4094,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "Type definition representing a single-tagged VLAN"
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "instanceId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mstp-pathcost": {
            "default": "8021T",
            "description": "Standard to use when calculating the default pathcost for MSTP mode.",
            "enum": [
              "8021D",
              "8021T",
              "PROPRIETARY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "8021D": "Calculate default path cost for ports based on IEEE 802.1d.",
              "8021T": "Calculate default path cost for ports based on IEEE 802.1t.",
              "PROPRIETARY": "Calculate default path cost for ports based on a private standard."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Standard to use when calculating the default pathcost."
          },
          "name": {
            "description": "STP profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "pathcost-type": {
            "description": "Path cost type.",
            "enum": [
              "COST_TYPE_LONG",
              "COST_TYPE_SHORT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "COST_TYPE_LONG": "Pathcost as long.",
              "COST_TYPE_SHORT": "Pathcost as short."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Specify the path cost type."
          },
          "priority": {
            "default": "8",
            "description": "Device priority. For CX and PVOS this value will be multiplied by 4096.",
            "format": "int32",
            "maximum": 15,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "root": {
            "description": "Root for the PVST(Per VLAN Spanning Tree) instance.",
            "enum": [
              "PRIMARY",
              "SECONDARY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "PRIMARY": "Primary root for Spanning Tree.",
              "SECONDARY": "Secondary root for Spanning Tree."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Spanning Tree Root type."
          },
          "rpvst": {
            "description": "List of STP parameters applicable per PVST(Per VLAN Spanning Tree) instance.",
            "items": {
              "properties": {
                "enable": {
                  "description": "Enable RPVST on the specified VLANs.\nCX specific behavior:\n   rpvst[{\"vlan\": 10, \"enable\": true}] yields below commands.\n      no spanning-tree vlan 10 disable\n      spanning-tree vlan 10\n",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "forward-delay": {
                  "description": "Forward delay time in seconds for the RPVST(Rapid Per VLAN Spanning Tree) instance.",
                  "format": "int32",
                  "maximum": 30,
                  "minimum": 4,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "hello-time": {
                  "description": "Hello time in seconds for the RPVST(Rapid Per VLAN Spanning Tree) instance.",
                  "format": "int32",
                  "maximum": 10,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "max-age": {
                  "description": "Maximum age time in seconds for the RPVST(Rapid Per VLAN Spanning Tree) instance.",
                  "format": "int32",
                  "maximum": 40,
                  "minimum": 6,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "priority": {
                  "description": "Device priority. For CX and PVOS(AOS-S) this value will be multiplied by 4096.",
                  "format": "int32",
                  "maximum": 15,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "root": {
                  "description": "Root for the PVST(Per VLAN Spanning Tree) instance.",
                  "enum": [
                    "PRIMARY",
                    "SECONDARY"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "PRIMARY": "Primary root for Spanning Tree.",
                    "SECONDARY": "Secondary root for Spanning Tree."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Spanning Tree Root type."
                },
                "topology-change-trap": {
                  "description": "Enable topology change notification for the specified PVST\n(Per VLAN Spanning Tree) vlan id.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "vlan": {
                  "description": "Instance identifier.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "vlan-log-state-transitions": {
                  "description": "Enable logging for state-transitions for the vlan",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vlan"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "rpvst-auto-enable": {
            "description": "This command enables/disables the RPVST Auto VLAN feature.\nDefault priority of 8*4096 will be assigned to the VLANs being auto created.\nIn 'auto-vlan-enable' RPVST mode, the maximum number of RPVST instances that\ncan be activated for VLANs within the switch is determined by the switch's\ncapacity in terms of both the maximum number of supported VLANs and the vport limits.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rpvst-auto-priority": {
            "description": "The priority value configured for the RPVST Auto VLANs.\nSet the priority value as a multiplier of 4096. Default is 8.",
            "format": "int32",
            "maximum": 15,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rpvst-mstp-interconnect-vlan": {
            "description": "RPVST-MSTP(Rapid Per VLAN Spanning Tree - Multiple Spanning Tree Protocol)\ninterconnect VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "rpvst-pathcost": {
            "default": "8021T",
            "description": "Standard to use when calculating the default pathcost for RPVST mode.",
            "enum": [
              "8021D",
              "8021T",
              "PROPRIETARY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "8021D": "Calculate default path cost for ports based on IEEE 802.1d.",
              "8021T": "Calculate default path cost for ports based on IEEE 802.1t.",
              "PROPRIETARY": "Calculate default path cost for ports based on a private standard."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Standard to use when calculating the default pathcost."
          },
          "topology-change-trap": {
            "description": "Enable topology change notification for the MST(Multiple Spanning Tree)\ninstance 0 (CST)(Common Spanning Tree).",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "transmit-hold-count": {
            "description": "To set the maximum number of BPDUs(Bridge Protocol Data Unit)\nper second that the switch can send from an interface",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "traps": {
            "description": "Enable MSTP/PVST(Multiple Spanning Tree Protocol/Per VLAN Spanning Tree) traps.",
            "items": {
              "description": "Enable MSTP/PVST(Multiple Spanning Tree Protocol/Per VLAN Spanning Tree) traps.",
              "enum": [
                "ERRANT_BPDU",
                "LOOP_GUARD",
                "NEW_ROOT",
                "ROOT_GUARD"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "ERRANT_BPDU": "Enable notifications which are sent when an errant bpdu is received.",
                "LOOP_GUARD": "Enable notifications which are sent when loop guard inconsistency occurs.",
                "NEW_ROOT": "Enable notifications which are sent when a new root is elected.",
                "ROOT_GUARD": "Enable notifications which are sent when root guard inconsistency occurs."
              },
              "x-supportedDeviceType": [
                "Switch CX",
                "Switch PVOS"
              ],
              "x-typeDescription": "MSTP/PVST traps."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaStp_StpprofileSchemaGet": {
        "properties": {
          "bpdu-guard-enable-timer": {
            "description": "To re-enable timeout after receiving an unauthorized\nBPDU(Bridge Protocol Data Units)",
            "format": "int64",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "bpdu-throttle": {
            "description": "BPDU(Bridge Protocol Data Units) throttle value in packets per second.",
            "format": "int32",
            "maximum": 256,
            "minimum": 64,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "config-name": {
            "description": "Multiple Spanning Tree (MST) region configuration name",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "config-revision": {
            "description": "Multiple Spanning Tree (MST) region configuration revision number",
            "format": "int64",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "cst-log-state-transitions": {
            "default": "false",
            "description": "Enable log state-transitions for the instance (CST).",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "description": {
            "description": "STP profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "enable": {
            "description": "To enable Spanning Tree globally.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "extend-system-id": {
            "description": "Enables the extended system-id functionality",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "force-version": {
            "description": "Spanning Tree protocol compatibility mode.",
            "enum": [
              "STP_COMPATIBLE",
              "RSTP_OPERATION",
              "MSTP_OPERATION"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MSTP_OPERATION": "The protocol operates as Multiple STP on all ports where compatibility to\nthe old STP protocol versions is not required.",
              "RSTP_OPERATION": "The protocol operates as Rapid STP on all ports except those ports where\na system that is using 802.1d Spanning Tree has been detected.",
              "STP_COMPATIBLE": "The protocol operates as STP on all ports."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Spanning Tree force version."
          },
          "forward-delay": {
            "description": "The wait time for device while transitioning from listening to learning\nand from learning to forwarding states.",
            "format": "int32",
            "maximum": 30,
            "minimum": 4,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hello-time": {
            "description": "Time between messages transmission when the switch is root.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ignore-pvid-inconsistency": {
            "description": "Ignore PVID (Port VLAN ID) inconsistencies and allow RPVST(Rapid Per VLAN Spanning Tree)\nto run on mismatched links.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "max-age": {
            "description": "Maximum age of received STP information before it is discarded.",
            "format": "int32",
            "maximum": 40,
            "minimum": 6,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "max-hops": {
            "description": "Max hops value for the Multiple spanning tree.",
            "format": "int32",
            "maximum": 40,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mode": {
            "description": "Mode of operation for spanning tree protocol.",
            "enum": [
              "RPVST",
              "MSTP",
              "RSTP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MSTP": "Multiple spanning tree mode.",
              "RPVST": "Rapid per VLAN spanning tree mode.",
              "RSTP": "Rapid spanning tree mode."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Spanning Tree mode."
          },
          "mstp": {
            "description": "List of STP parameters applicable per MSTP instance.",
            "items": {
              "properties": {
                "instance-id": {
                  "description": "Instance identifier for the MSTP instance.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "instance-log-state-transitions": {
                  "description": "Enable logging of state-transitions for the given instance-id.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "mstp-vlans": {
                  "description": "List of VLANs for MSTP instance.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "vlan-list",
                  "x-patterns": "'((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2})(\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2}))?)(,((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2})(\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2}))?))*'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Comma separated list of VLAN IDs and ranges"
                },
                "priority": {
                  "description": "Device priority. For CX and PVOS(AOS-S) this value will be multiplied by 4096.",
                  "format": "int32",
                  "maximum": 15,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "root": {
                  "description": "Root for the Multiple Spanning Tree (MST) instance.",
                  "enum": [
                    "PRIMARY",
                    "SECONDARY"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "PRIMARY": "Primary root for Spanning Tree.",
                    "SECONDARY": "Secondary root for Spanning Tree."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Spanning Tree Root type."
                },
                "topology-change-trap": {
                  "description": "Enable topology change notification for the specified MST instance.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "vlans": {
                  "description": "List of VLANs for MSTP instance.",
                  "items": {
                    "description": "List of VLANs for MSTP instance.",
                    "format": "int32",
                    "maximum": 4094,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "Type definition representing a single-tagged VLAN"
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "instanceId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mstp-pathcost": {
            "default": "8021T",
            "description": "Standard to use when calculating the default pathcost for MSTP mode.",
            "enum": [
              "8021D",
              "8021T",
              "PROPRIETARY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "8021D": "Calculate default path cost for ports based on IEEE 802.1d.",
              "8021T": "Calculate default path cost for ports based on IEEE 802.1t.",
              "PROPRIETARY": "Calculate default path cost for ports based on a private standard."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Standard to use when calculating the default pathcost."
          },
          "name": {
            "description": "STP profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "pathcost-type": {
            "description": "Path cost type.",
            "enum": [
              "COST_TYPE_LONG",
              "COST_TYPE_SHORT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "COST_TYPE_LONG": "Pathcost as long.",
              "COST_TYPE_SHORT": "Pathcost as short."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Specify the path cost type."
          },
          "priority": {
            "default": "8",
            "description": "Device priority. For CX and PVOS this value will be multiplied by 4096.",
            "format": "int32",
            "maximum": 15,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "root": {
            "description": "Root for the PVST(Per VLAN Spanning Tree) instance.",
            "enum": [
              "PRIMARY",
              "SECONDARY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "PRIMARY": "Primary root for Spanning Tree.",
              "SECONDARY": "Secondary root for Spanning Tree."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Spanning Tree Root type."
          },
          "rpvst": {
            "description": "List of STP parameters applicable per PVST(Per VLAN Spanning Tree) instance.",
            "items": {
              "properties": {
                "enable": {
                  "description": "Enable RPVST on the specified VLANs.\nCX specific behavior:\n   rpvst[{\"vlan\": 10, \"enable\": true}] yields below commands.\n      no spanning-tree vlan 10 disable\n      spanning-tree vlan 10\n",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "forward-delay": {
                  "description": "Forward delay time in seconds for the RPVST(Rapid Per VLAN Spanning Tree) instance.",
                  "format": "int32",
                  "maximum": 30,
                  "minimum": 4,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "hello-time": {
                  "description": "Hello time in seconds for the RPVST(Rapid Per VLAN Spanning Tree) instance.",
                  "format": "int32",
                  "maximum": 10,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "max-age": {
                  "description": "Maximum age time in seconds for the RPVST(Rapid Per VLAN Spanning Tree) instance.",
                  "format": "int32",
                  "maximum": 40,
                  "minimum": 6,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "priority": {
                  "description": "Device priority. For CX and PVOS(AOS-S) this value will be multiplied by 4096.",
                  "format": "int32",
                  "maximum": 15,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "root": {
                  "description": "Root for the PVST(Per VLAN Spanning Tree) instance.",
                  "enum": [
                    "PRIMARY",
                    "SECONDARY"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "PRIMARY": "Primary root for Spanning Tree.",
                    "SECONDARY": "Secondary root for Spanning Tree."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Spanning Tree Root type."
                },
                "topology-change-trap": {
                  "description": "Enable topology change notification for the specified PVST\n(Per VLAN Spanning Tree) vlan id.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "vlan": {
                  "description": "Instance identifier.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "vlan-log-state-transitions": {
                  "description": "Enable logging for state-transitions for the vlan",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vlan"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "rpvst-auto-enable": {
            "description": "This command enables/disables the RPVST Auto VLAN feature.\nDefault priority of 8*4096 will be assigned to the VLANs being auto created.\nIn 'auto-vlan-enable' RPVST mode, the maximum number of RPVST instances that\ncan be activated for VLANs within the switch is determined by the switch's\ncapacity in terms of both the maximum number of supported VLANs and the vport limits.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rpvst-auto-priority": {
            "description": "The priority value configured for the RPVST Auto VLANs.\nSet the priority value as a multiplier of 4096. Default is 8.",
            "format": "int32",
            "maximum": 15,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rpvst-mstp-interconnect-vlan": {
            "description": "RPVST-MSTP(Rapid Per VLAN Spanning Tree - Multiple Spanning Tree Protocol)\ninterconnect VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "rpvst-pathcost": {
            "default": "8021T",
            "description": "Standard to use when calculating the default pathcost for RPVST mode.",
            "enum": [
              "8021D",
              "8021T",
              "PROPRIETARY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "8021D": "Calculate default path cost for ports based on IEEE 802.1d.",
              "8021T": "Calculate default path cost for ports based on IEEE 802.1t.",
              "PROPRIETARY": "Calculate default path cost for ports based on a private standard."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Standard to use when calculating the default pathcost."
          },
          "topology-change-trap": {
            "description": "Enable topology change notification for the MST(Multiple Spanning Tree)\ninstance 0 (CST)(Common Spanning Tree).",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "transmit-hold-count": {
            "description": "To set the maximum number of BPDUs(Bridge Protocol Data Unit)\nper second that the switch can send from an interface",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "traps": {
            "description": "Enable MSTP/PVST(Multiple Spanning Tree Protocol/Per VLAN Spanning Tree) traps.",
            "items": {
              "description": "Enable MSTP/PVST(Multiple Spanning Tree Protocol/Per VLAN Spanning Tree) traps.",
              "enum": [
                "ERRANT_BPDU",
                "LOOP_GUARD",
                "NEW_ROOT",
                "ROOT_GUARD"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "ERRANT_BPDU": "Enable notifications which are sent when an errant bpdu is received.",
                "LOOP_GUARD": "Enable notifications which are sent when loop guard inconsistency occurs.",
                "NEW_ROOT": "Enable notifications which are sent when a new root is elected.",
                "ROOT_GUARD": "Enable notifications which are sent when root guard inconsistency occurs."
              },
              "x-supportedDeviceType": [
                "Switch CX",
                "Switch PVOS"
              ],
              "x-typeDescription": "MSTP/PVST traps."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
[...]
