{
  "openapi": "3.1.0",
  "info": {
    "title": "Vlan Range",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Vlan Range"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/layer2-vlan-range": {
      "post": {
        "description": "Bulk API for creating or updating multiple VLAN profiles in a single request.\nThis provides a convenient way for users to manage VLANs efficiently, allowing batch operations\ninstead of configuring VLANs one at a time.",
        "operationId": "createLayer2VlanRange",
        "parameters": [
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaVlanRange_Layer2VlanRangeSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add or Update range of VLAN profiles",
        "tags": [
          "Vlan Range"
        ],
        "x-cliParam": {
          "commandName": "createLayer2VlanRangeCmd",
          "commandUse": "layer2-vlan-range",
          "parentCommand": "createCmd",
          "pathToPrint": "/layer2-vlan-range/",
          "summary": "Create operation for layer2-vlan-range"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaClientIptracker_VlanConfig": {
        "description": "Grouping for VLAN-level configuration parameters of client IP tracker.",
        "properties": {
          "client-ip-tracker-enable": {
            "default": "false",
            "description": "Enable client IP tracking on this VLAN.  This is applicable to AOS-CX Switch.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDestinationGuard_DestinationGuardVlan": {
        "description": "IPv6 destination guard VLAN parameter grouping",
        "properties": {
          "destination-guard": {
            "description": "IPv6 destination guard VLAN prameters.\nEnabling IPv6 Destination Guard on a switch prevents ND Cache depletion\nissues and it helps in minimizing Denial-Of-Service(DoS) attacks. When\nIPv6 destination guard is enabled address resolution is performed only\nfor the destination addresses that are active on the link.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable IPv6 destination guard on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpSnooping_Dhcpv4SnoopingVlan": {
        "description": "Grouping of VLAN-specific DHCPv4-Snooping parameters",
        "properties": {
          "dhcpv4-snooping": {
            "description": "VLAN-specific DHCPv4-Snooping parameters",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable status of DHCPv4-Snooping on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "ip-binding-enable": {
                "default": "true",
                "description": "Learn DHCPv4-Snooping IP bindings on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpSnooping_Dhcpv6SnoopingVlan": {
        "description": "Grouping of VLAN-specific DHCPv6-Snooping parameters",
        "properties": {
          "dhcpv6-snooping": {
            "description": "VLAN-specific DHCPv6-Snooping parameters",
            "properties": {
              "allow-bindings-on-trusted-ports": {
                "default": "false",
                "description": "Allow learning bindings on trusted ports",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable status of DHCPv6-Snooping on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "guard-policy": {
                "description": "DHCPv6 Guard policy reference",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ip-binding-enable": {
                "default": "true",
                "description": "Learn DHCPv6-Snooping IP bindings on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMgmd_IgmpStaticGroups": {
        "description": "IPv4 IGMP Static Group Configurations",
        "properties": {
          "static-group": {
            "description": "IGMP static group address",
            "items": {
              "description": "IGMP static group address",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-address",
              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
              "x-supportedDeviceType": [
                "Switch PVOS",
                "Switch CX"
              ],
              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaMgmd_IgmpVlanConfig": {
        "description": "Grouping for IGMP Configurations on the VLAN",
        "properties": {
          "igmp": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMgmd_IgmpStaticGroups"
              },
              {
                "$ref": "#/components/schemas/ArubaMgmd_MgmdVlanCommonConfig"
              }
            ],
            "description": "IGMP Configurations on the VLAN",
            "properties": {
              "enable": {
                "default": "false",
                "description": "This leaf is now deprecated.Enable IGMP on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "filter-unknown-multicast": {
                "default": "false",
                "description": "This leaf is now deprecated.Block Flooding of IPv4 Unknown Multicast Packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "query-interval": {
                "default": "125",
                "description": "This leaf is now deprecated.Sets the interval in seconds between IGMP queries.",
                "format": "int64",
                "maximum": 300,
                "minimum": 5,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "snooping": {
                "default": "false",
                "description": "Enable IGMP snooping on the VLAN.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "strict-version": {
                "default": "false",
                "description": "Process only the selected IGMP version packets.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "version": {
                "description": "The IGMP protocol version to use.",
                "format": "int64",
                "maximum": 3,
                "minimum": 2,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMgmd_MgmdVlanCommonConfig": {
        "description": "Grouping for common MGMD Configurations on the VLAN",
        "properties": {
          "auto-eth-interfaces": {
            "description": "This list is now deprecated. Configure the eth-interface to monitor traffic on specific ports.",
            "items": {
              "description": "This list is now deprecated. Configure the eth-interface to monitor traffic on specific ports.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "block-eth-interfaces": {
            "description": "This list is now deprecated. Configure the eth-interface in block mode for IGMP/MLD.",
            "items": {
              "description": "This list is now deprecated. Configure the eth-interface in block mode for IGMP/MLD.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "fastleave-eth-interfaces": {
            "description": "This list is now deprecated. The list of eth-interfaces on which IGMP/MLD fastleave is configured.",
            "items": {
              "description": "This list is now deprecated. The list of eth-interfaces on which IGMP/MLD fastleave is configured.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "forced-fastleave-eth-interfaces": {
            "description": "This list is now deprecated. The list of eth-interfaces on which IGMP/MLD forced fastleave is configured.",
            "items": {
              "description": "This list is now deprecated. The list of eth-interfaces on which IGMP/MLD forced fastleave is configured.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "forward-eth-interfaces": {
            "description": "This list is now deprecated. Configure the eth-interfaces in forward mode for IGMP/MLD.",
            "items": {
              "description": "This list is now deprecated. Configure the eth-interfaces in forward mode for IGMP/MLD.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "last-member-query-interval": {
            "default": "1",
            "description": "This leaf is now deprecated. The number of seconds between successive group-specific\nquery messages.",
            "format": "int64",
            "maximum": 2,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "policy-in": {
            "description": "Ingress ACL to filter processing of IGMP reports\nand leave messages received",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "preprogram-starg-flow": {
            "default": "false",
            "description": "Enable pre-programming of summarized multicast\nflows in the forwarding table on receiving IGMP\njoin",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "querier-enable": {
            "default": "true",
            "description": "This leaf is now deprecated.Enable IGMP/MLD Querier on this device.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "query-max-response-time": {
            "default": "10",
            "description": "This leaf is now deprecated.The number of seconds to wait for a response to an\nIGMP/MLD query.",
            "format": "int64",
            "maximum": 128,
            "minimum": 10,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "report-suppression": {
            "default": "true",
            "description": "Disable report suppression of redundant reports for the same group\non a VLAN from multiple clients",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "robustness": {
            "default": "2",
            "description": "This leaf is now deprecated.Set the number of times to retry a IGMP/MLD query.",
            "format": "int32",
            "maximum": 8,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMgmd_MldStaticGroups": {
        "description": "IPv6 MLD Static Group Configurations",
        "properties": {
          "static-group": {
            "description": "MLD static group address",
            "items": {
              "description": "MLD static group address",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv6-address",
              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaMgmd_MldVlanConfig": {
        "description": "Grouping for MLD Configurations on the VLAN",
        "properties": {
          "mld": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMgmd_MldStaticGroups"
              },
              {
                "$ref": "#/components/schemas/ArubaMgmd_MgmdVlanCommonConfig"
              }
            ],
            "description": "MLD Configuration on VLAN.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "This leaf is now deprecated.Enable MLD on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "query-interval": {
                "default": "125",
                "description": "This leaf is now deprecated.Sets the interval in seconds between MLD queries.",
                "format": "int64",
                "maximum": 31744,
                "minimum": 60,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "snooping": {
                "default": "false",
                "description": "Enable MLD snooping on the VLAN.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "strict-version": {
                "default": "false",
                "description": "Process only the selected MLD version packets.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "version": {
                "default": "2",
                "description": "The MLD protocol version to use.",
                "format": "int64",
                "maximum": 2,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaNdSnooping_NdSnoopingVlan": {
        "description": "VLAN specific ND-Snooping parameter grouping",
        "properties": {
          "nd-snooping": {
            "description": "Configuration of ND-Snooping on VLAN.",
            "properties": {
              "allow-bindings-on-trusted-ports": {
                "default": "false",
                "description": "Allow learning ND-Snoop bindings on trusted ports",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable/Disable ND-Snooping on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "nd-guard": {
                "default": "false",
                "description": "Enable ND-Guard on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "prefix": {
                "description": "IPv6 prefix-list for ND Snooping",
                "items": {
                  "description": "IPv6 prefix-list for ND Snooping",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-prefix",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "prefix-list": {
                "description": "Allowed prefix-list for ND-Snooping",
                "items": {
                  "description": "Allowed prefix-list for ND-Snooping",
                  "format": "const",
                  "maxLength": 80,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "ra-drop": {
                "default": "false",
                "description": "Enable RA-Drop on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ra-guard": {
                "default": "false",
                "description": "Enable RA-guard on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ra-guard-log": {
                "default": "false",
                "description": "Enable RA-guard logging",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ra-guard-policy": {
                "description": "RA-Guard policy reference",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaVlanCommon_AccessListPolicies": {
        "description": "Grouping for access-list configurations.",
        "properties": {
          "access-list-in": {
            "description": "Access-list Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "access-list-out": {
            "description": "Access-list Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaVlanCommon_ArpInspectionVlan": {
        "description": "Dynamic ARP Inspection VLAN prameter grouping",
        "properties": {
          "dynamic-arp-inspection": {
            "description": "Configuration of Dynamic ARP Inspection on VLAN.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable status of Dynamic ARP Inspection on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaVlanCommon_VlanConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaClientIptracker_VlanConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaMgmd_IgmpVlanConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaMgmd_MldVlanConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv4SnoopingVlan"
          },
          {
            "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv6SnoopingVlan"
          },
          {
            "$ref": "#/components/schemas/ArubaNdSnooping_NdSnoopingVlan"
          },
          {
            "$ref": "#/components/schemas/ArubaVlanCommon_ArpInspectionVlan"
          },
          {
            "$ref": "#/components/schemas/ArubaDestinationGuard_DestinationGuardVlan"
          },
          {
            "$ref": "#/components/schemas/ArubaVlanCommon_AccessListPolicies"
          }
        ],
        "properties": {
          "description": {
            "description": "Description of the VLAN profile.;\nLimit on description length for AP,GW:32 and for CX:64 characters.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable": {
            "default": "true",
            "description": "Set VLAN Administrative State",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "is-l3-vlan": {
            "default": "false",
            "description": "is this vlan an l3 vlan, used only for GET calls",
            "type": "boolean"
          },
          "option-82": {
            "default": "false",
            "description": "To control DHCPv4 Option 82. This is related to DHCP-Relay module.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "policy-in": {
            "description": "Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "policy-out": {
            "description": "Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "protocols": {
            "description": "Assign traffic to different VLANs based on protocol.",
            "items": {
              "description": "Assign traffic to different VLANs based on protocol.",
              "enum": [
                "IPX",
                "IPV4",
                "IPV6",
                "ARP",
                "APPLETALK",
                "SNA",
                "NETBEUI"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "APPLETALK": "Appletalk Protocol Group",
                "ARP": "Address Resolution Protocol (ARP) Group",
                "IPV4": "IP version 4 Protocol Group",
                "IPV6": "IP version 6 Protocol Group",
                "IPX": "IPX Protocol Group",
                "NETBEUI": "Network Basic Input/Output Stream (BIOS)\nEnhanced User Interface Protocol Group",
                "SNA": "System Network Architecture (SNA) Protocol Group"
              },
              "x-supportedDeviceType": [
                "Switch PVOS"
              ],
              "x-typeDescription": "Protocols mapped to a VLAN."
            },
            "maxItems": 4,
            "type": "array"
          },
          "ttl-threshold": {
            "default": "255",
            "description": "Multicast datagram TTL threshold for the\nVLAN.",
            "format": "int64",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "voice-enable": {
            "default": "false",
            "description": "Set VLAN type to voice",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "wired-aaa-profile": {
            "description": "Wired authentication AAA profile",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaVlanRange_Layer2VlanRangeSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaVlanCommon_VlanConfig"
          }
        ],
        "description": "Bulk API for creating or updating multiple VLAN profiles in a single request.\nThis provides a convenient way for users to manage VLANs efficiently, allowing batch operations\ninstead of configuring VLANs one at a time.",
        "properties": {
          "description-alias": {
            "description": "VLAN description alias.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'"
          },
          "vlan-range": {
            "description": "VLAN identifier",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "vlan-list",
            "x-patterns": "'((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2})(\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2}))?)(,((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2})(\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{0,2}))?))*'",
            "x-typeDescription": "Comma separated list of VLAN IDs and ranges"
          },
          "voice-enable-alias": {
            "description": "Alias to manage vlan voice enable/disable.\nvoice-enable-alias and voice-enable both cannot be set.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaVlanRange_Layer2VlanRangeSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaVlanRange_Layer2VlanRangeSchema"
            }
          }
        },
        "description": "layer2-vlan-rangebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
