{
  "openapi": "3.1.0",
  "info": {
    "title": "Vlan",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Vlan"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/layer2-vlan": {
      "get": {
        "description": "Configure and manage L2 VLAN profiles.\nEach VLAN profile maps to each layer2 VLAN ID.\nUsing this profile features related to layer 2 VLAN can be configured like wired AAA profile for VLANs.\nVLANs are primarily used to provide network segmentation at layer 2.\nVLANs enable the grouping of users by logical function instead of physical location.\nVLANs are generally assigned on an organizational basis rather than on a physical basis.\n\nFor example, a network administrator could assign all workstations and servers used by a particular workgroup to the same VLAN, regardless of their physical locations.\nHosts in the same VLAN can directly communicate with one another. A router or a Layer 3 switch is required for hosts in different VLANs to communicate with one another.\nVLANs help reduce bandwidth waste, improve LAN security, and enable network administrators to address issues such as scalability and network management.",
        "operationId": "readLayer2Vlan",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaVlan_Layer2VlanSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read L2-VLAN IDs",
        "tags": [
          "Vlan"
        ],
        "x-cliParam": {
          "commandName": "readLayer2VlanCmd",
          "commandUse": "layer2-vlan",
          "parentCommand": "readCmd",
          "pathToPrint": "/layer2-vlan/",
          "summary": "Read operation for layer2-vlan"
        }
      }
    },
    "/network-config/v1alpha1/layer2-vlan/{vlan}": {
      "get": {
        "description": "List of L2 VLAN profiles",
        "operationId": "readLayer2VlanL2VlanByID",
        "parameters": [
          {
            "description": "VLAN identifier",
            "in": "path",
            "name": "vlan",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaVlan_Layer2Vlanl2VlanSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read L2-VLAN",
        "tags": [
          "Vlan"
        ],
        "x-cliParam": {
          "commandName": "readLayer2VlanL2VlanCmd",
          "commandUse": "l2-vlan",
          "paramKeys": [
            {
              "key": "vlan"
            }
          ],
          "parentCommand": "readLayer2VlanCmd",
          "pathToPrint": "/layer2-vlan/l2-vlan/%s/",
          "summary": "Read operation for l2-vlan",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of L2 VLAN profiles",
        "operationId": "replaceLayer2VlanL2VlanByID",
        "parameters": [
          {
            "description": "VLAN identifier",
            "in": "path",
            "name": "vlan",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaVlan_Layer2Vlanl2VlanSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add or Update L2-VLAN",
        "tags": [
          "Vlan"
        ],
        "x-cliParam": {
          "commandName": "replaceLayer2VlanL2VlanCmd",
          "commandUse": "l2-vlan",
          "paramKeys": [
            {
              "key": "vlan"
            }
          ],
          "parentCommand": "replaceLayer2VlanCmd",
          "pathToPrint": "/layer2-vlan/l2-vlan/%s/",
          "summary": "Replace operation for l2-vlan",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of L2 VLAN profiles",
        "operationId": "createLayer2VlanL2VlanByID",
        "parameters": [
          {
            "description": "VLAN identifier",
            "in": "path",
            "name": "vlan",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaVlan_Layer2Vlanl2VlanSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create L2-VLAN",
        "tags": [
          "Vlan"
        ],
        "x-cliParam": {
          "commandName": "createLayer2VlanL2VlanCmd",
          "commandUse": "l2-vlan",
          "paramKeys": [
            {
              "key": "vlan"
            }
          ],
          "parentCommand": "createLayer2VlanCmd",
          "pathToPrint": "/layer2-vlan/l2-vlan/%s/",
          "summary": "Create operation for l2-vlan",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of L2 VLAN profiles",
        "operationId": "deleteLayer2VlanL2VlanByID",
        "parameters": [
          {
            "description": "VLAN identifier",
            "in": "path",
            "name": "vlan",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete L2-VLAN",
        "tags": [
          "Vlan"
        ],
        "x-cliParam": {
          "commandName": "deleteLayer2VlanL2VlanCmd",
          "commandUse": "l2-vlan",
          "paramKeys": [
            {
              "key": "vlan"
            }
          ],
          "parentCommand": "deleteLayer2VlanCmd",
          "pathToPrint": "/layer2-vlan/l2-vlan/%s/",
          "summary": "Delete operation for l2-vlan",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of L2 VLAN profiles",
        "operationId": "updateLayer2VlanL2VlanByID",
        "parameters": [
          {
            "description": "VLAN identifier",
            "in": "path",
            "name": "vlan",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaVlan_Layer2Vlanl2VlanSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update L2-VLAN",
        "tags": [
          "Vlan"
        ],
        "x-cliParam": {
          "commandName": "updateLayer2VlanL2VlanCmd",
          "commandUse": "l2-vlan",
          "paramKeys": [
            {
              "key": "vlan"
            }
          ],
          "parentCommand": "updateLayer2VlanCmd",
          "pathToPrint": "/layer2-vlan/l2-vlan/%s/",
          "summary": "Update operation for l2-vlan",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaClientIptracker_VlanConfig": {
        "description": "Grouping for VLAN-level configuration parameters of client IP tracker.",
        "properties": {
          "client-ip-tracker-enable": {
            "default": "false",
            "description": "Enable client IP tracking on this VLAN.  This is applicable to AOS-CX Switch.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaClientIptracker_VlanConfigGet": {
        "description": "Grouping for VLAN-level configuration parameters of client IP tracker.",
        "properties": {
          "client-ip-tracker-enable": {
            "default": "false",
            "description": "Enable client IP tracking on this VLAN.  This is applicable to AOS-CX Switch.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDestinationGuard_DestinationGuardVlan": {
        "description": "IPv6 destination guard VLAN parameter grouping",
        "properties": {
          "destination-guard": {
            "description": "IPv6 destination guard VLAN prameters.\nEnabling IPv6 Destination Guard on a switch prevents ND Cache depletion\nissues and it helps in minimizing Denial-Of-Service(DoS) attacks. When\nIPv6 destination guard is enabled address resolution is performed only\nfor the destination addresses that are active on the link.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable IPv6 destination guard on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDestinationGuard_DestinationGuardVlanGet": {
        "description": "IPv6 destination guard VLAN parameter grouping",
        "properties": {
          "destination-guard": {
            "description": "IPv6 destination guard VLAN prameters.\nEnabling IPv6 Destination Guard on a switch prevents ND Cache depletion\nissues and it helps in minimizing Denial-Of-Service(DoS) attacks. When\nIPv6 destination guard is enabled address resolution is performed only\nfor the destination addresses that are active on the link.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable IPv6 destination guard on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpSnooping_Dhcpv4SnoopingVlan": {
        "description": "Grouping of VLAN-specific DHCPv4-Snooping parameters",
        "properties": {
          "dhcpv4-snooping": {
            "description": "VLAN-specific DHCPv4-Snooping parameters",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable status of DHCPv4-Snooping on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "ip-binding-enable": {
                "default": "true",
                "description": "Learn DHCPv4-Snooping IP bindings on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpSnooping_Dhcpv4SnoopingVlanGet": {
        "description": "Grouping of VLAN-specific DHCPv4-Snooping parameters",
        "properties": {
          "dhcpv4-snooping": {
            "description": "VLAN-specific DHCPv4-Snooping parameters",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable status of DHCPv4-Snooping on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "ip-binding-enable": {
                "default": "true",
                "description": "Learn DHCPv4-Snooping IP bindings on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpSnooping_Dhcpv6SnoopingVlan": {
        "description": "Grouping of VLAN-specific DHCPv6-Snooping parameters",
        "properties": {
          "dhcpv6-snooping": {
            "description": "VLAN-specific DHCPv6-Snooping parameters",
            "properties": {
              "allow-bindings-on-trusted-ports": {
                "default": "false",
                "description": "Allow learning bindings on trusted ports",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable status of DHCPv6-Snooping on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "guard-policy": {
                "description": "DHCPv6 Guard policy reference",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ip-binding-enable": {
                "default": "true",
                "description": "Learn DHCPv6-Snooping IP bindings on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpSnooping_Dhcpv6SnoopingVlanGet": {
        "description": "Grouping of VLAN-specific DHCPv6-Snooping parameters",
        "properties": {
          "dhcpv6-snooping": {
            "description": "VLAN-specific DHCPv6-Snooping parameters",
            "properties": {
              "allow-bindings-on-trusted-ports": {
                "default": "false",
                "description": "Allow learning bindings on trusted ports",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable status of DHCPv6-Snooping on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              },
              "guard-policy": {
                "description": "DHCPv6 Guard policy reference",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ip-binding-enable": {
                "default": "true",
                "description": "Learn DHCPv6-Snooping IP bindings on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDssTypes_VlanDssConfigs": {},
      "ArubaDssTypes_VlanDssConfigsGet": {},
      "ArubaMgmd_IgmpStaticGroups": {
        "description": "IPv4 IGMP Static Group Configurations",
        "properties": {
          "static-group": {
            "description": "IGMP static group address",
            "items": {
              "description": "IGMP static group address",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-address",
              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
              "x-supportedDeviceType": [
                "Switch PVOS",
                "Switch CX"
              ],
              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaMgmd_IgmpStaticGroupsGet": {
        "description": "IPv4 IGMP Static Group Configurations",
        "properties": {
          "static-group": {
            "description": "IGMP static group address",
            "items": {
              "description": "IGMP static group address",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-address",
              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
              "x-supportedDeviceType": [
                "Switch PVOS",
                "Switch CX"
              ],
              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaMgmd_IgmpVlanConfig": {
        "description": "Grouping for IGMP Configurations on the VLAN",
        "properties": {
          "igmp": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMgmd_IgmpStaticGroups"
              },
              {
                "$ref": "#/components/schemas/ArubaMgmd_MgmdVlanCommonConfig"
              }
            ],
            "description": "IGMP Configurations on the VLAN",
            "properties": {
              "enable": {
                "default": "false",
                "description": "This leaf is now deprecated.Enable IGMP on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "filter-unknown-multicast": {
                "default": "false",
                "description": "This leaf is now deprecated.Block Flooding of IPv4 Unknown Multicast Packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "query-interval": {
                "default": "125",
                "description": "This leaf is now deprecated.Sets the interval in seconds between IGMP queries.",
                "format": "int64",
                "maximum": 300,
                "minimum": 5,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "snooping": {
                "default": "false",
                "description": "Enable IGMP snooping on the VLAN.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "strict-version": {
                "default": "false",
                "description": "Process only the selected IGMP version packets.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "version": {
                "description": "The IGMP protocol version to use.",
                "format": "int64",
                "maximum": 3,
                "minimum": 2,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMgmd_IgmpVlanConfigGet": {
        "description": "Grouping for IGMP Configurations on the VLAN",
        "properties": {
          "igmp": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMgmd_IgmpStaticGroupsGet"
              },
              {
                "$ref": "#/components/schemas/ArubaMgmd_MgmdVlanCommonConfigGet"
              }
            ],
            "description": "IGMP Configurations on the VLAN",
            "properties": {
              "enable": {
                "default": "false",
                "description": "This leaf is now deprecated.Enable IGMP on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "filter-unknown-multicast": {
                "default": "false",
                "description": "This leaf is now deprecated.Block Flooding of IPv4 Unknown Multicast Packets",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "query-interval": {
                "default": "125",
                "description": "This leaf is now deprecated.Sets the interval in seconds between IGMP queries.",
                "format": "int64",
                "maximum": 300,
                "minimum": 5,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "snooping": {
                "default": "false",
                "description": "Enable IGMP snooping on the VLAN.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "strict-version": {
                "default": "false",
                "description": "Process only the selected IGMP version packets.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "version": {
                "description": "The IGMP protocol version to use.",
                "format": "int64",
                "maximum": 3,
                "minimum": 2,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMgmd_MgmdVlanCommonConfig": {
        "description": "Grouping for common MGMD Configurations on the VLAN",
        "properties": {
          "auto-eth-interfaces": {
            "description": "This list is now deprecated. Configure the eth-interface to monitor traffic on specific ports.",
            "items": {
              "description": "This list is now deprecated. Configure the eth-interface to monitor traffic on specific ports.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "block-eth-interfaces": {
            "description": "This list is now deprecated. Configure the eth-interface in block mode for IGMP/MLD.",
            "items": {
              "description": "This list is now deprecated. Configure the eth-interface in block mode for IGMP/MLD.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "fastleave-eth-interfaces": {
            "description": "This list is now deprecated. The list of eth-interfaces on which IGMP/MLD fastleave is configured.",
            "items": {
              "description": "This list is now deprecated. The list of eth-interfaces on which IGMP/MLD fastleave is configured.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "forced-fastleave-eth-interfaces": {
            "description": "This list is now deprecated. The list of eth-interfaces on which IGMP/MLD forced fastleave is configured.",
            "items": {
              "description": "This list is now deprecated. The list of eth-interfaces on which IGMP/MLD forced fastleave is configured.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "forward-eth-interfaces": {
            "description": "This list is now deprecated. Configure the eth-interfaces in forward mode for IGMP/MLD.",
            "items": {
              "description": "This list is now deprecated. Configure the eth-interfaces in forward mode for IGMP/MLD.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "last-member-query-interval": {
            "default": "1",
            "description": "This leaf is now deprecated. The number of seconds between successive group-specific\nquery messages.",
            "format": "int64",
            "maximum": 2,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "policy-in": {
            "description": "Ingress ACL to filter processing of IGMP reports\nand leave messages received",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "preprogram-starg-flow": {
            "default": "false",
            "description": "Enable pre-programming of summarized multicast\nflows in the forwarding table on receiving IGMP\njoin",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "querier-enable": {
            "default": "true",
            "description": "This leaf is now deprecated.Enable IGMP/MLD Querier on this device.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "query-max-response-time": {
            "default": "10",
            "description": "This leaf is now deprecated.The number of seconds to wait for a response to an\nIGMP/MLD query.",
            "format": "int64",
            "maximum": 128,
            "minimum": 10,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "report-suppression": {
            "default": "true",
            "description": "Disable report suppression of redundant reports for the same group\non a VLAN from multiple clients",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "robustness": {
            "default": "2",
            "description": "This leaf is now deprecated.Set the number of times to retry a IGMP/MLD query.",
            "format": "int32",
            "maximum": 8,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMgmd_MgmdVlanCommonConfigGet": {
        "description": "Grouping for common MGMD Configurations on the VLAN",
        "properties": {
          "auto-eth-interfaces": {
            "description": "This list is now deprecated. Configure the eth-interface to monitor traffic on specific ports.",
            "items": {
              "description": "This list is now deprecated. Configure the eth-interface to monitor traffic on specific ports.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "block-eth-interfaces": {
            "description": "This list is now deprecated. Configure the eth-interface in block mode for IGMP/MLD.",
            "items": {
              "description": "This list is now deprecated. Configure the eth-interface in block mode for IGMP/MLD.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "fastleave-eth-interfaces": {
            "description": "This list is now deprecated. The list of eth-interfaces on which IGMP/MLD fastleave is configured.",
            "items": {
              "description": "This list is now deprecated. The list of eth-interfaces on which IGMP/MLD fastleave is configured.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "forced-fastleave-eth-interfaces": {
            "description": "This list is now deprecated. The list of eth-interfaces on which IGMP/MLD forced fastleave is configured.",
            "items": {
              "description": "This list is now deprecated. The list of eth-interfaces on which IGMP/MLD forced fastleave is configured.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "forward-eth-interfaces": {
            "description": "This list is now deprecated. Configure the eth-interfaces in forward mode for IGMP/MLD.",
            "items": {
              "description": "This list is now deprecated. Configure the eth-interfaces in forward mode for IGMP/MLD.",
              "format": "const",
              "maxLength": 9999,
              "type": "string",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "last-member-query-interval": {
            "default": "1",
            "description": "This leaf is now deprecated. The number of seconds between successive group-specific\nquery messages.",
            "format": "int64",
            "maximum": 2,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "policy-in": {
            "description": "Ingress ACL to filter processing of IGMP reports\nand leave messages received",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "preprogram-starg-flow": {
            "default": "false",
            "description": "Enable pre-programming of summarized multicast\nflows in the forwarding table on receiving IGMP\njoin",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "querier-enable": {
            "default": "true",
            "description": "This leaf is now deprecated.Enable IGMP/MLD Querier on this device.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "query-max-response-time": {
            "default": "10",
            "description": "This leaf is now deprecated.The number of seconds to wait for a response to an\nIGMP/MLD query.",
            "format": "int64",
            "maximum": 128,
            "minimum": 10,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "report-suppression": {
            "default": "true",
            "description": "Disable report suppression of redundant reports for the same group\non a VLAN from multiple clients",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "robustness": {
            "default": "2",
            "description": "This leaf is now deprecated.Set the number of times to retry a IGMP/MLD query.",
            "format": "int32",
            "maximum": 8,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMgmd_MldStaticGroups": {
        "description": "IPv6 MLD Static Group Configurations",
        "properties": {
          "static-group": {
            "description": "MLD static group address",
            "items": {
              "description": "MLD static group address",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv6-address",
              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaMgmd_MldStaticGroupsGet": {
        "description": "IPv6 MLD Static Group Configurations",
        "properties": {
          "static-group": {
            "description": "MLD static group address",
            "items": {
              "description": "MLD static group address",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv6-address",
              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaMgmd_MldVlanConfig": {
        "description": "Grouping for MLD Configurations on the VLAN",
        "properties": {
          "mld": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMgmd_MldStaticGroups"
              },
              {
                "$ref": "#/components/schemas/ArubaMgmd_MgmdVlanCommonConfig"
              }
            ],
            "description": "MLD Configuration on VLAN.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "This leaf is now deprecated.Enable MLD on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "query-interval": {
                "default": "125",
                "description": "This leaf is now deprecated.Sets the interval in seconds between MLD queries.",
                "format": "int64",
                "maximum": 31744,
                "minimum": 60,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "snooping": {
                "default": "false",
                "description": "Enable MLD snooping on the VLAN.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "strict-version": {
                "default": "false",
                "description": "Process only the selected MLD version packets.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "version": {
                "default": "2",
                "description": "The MLD protocol version to use.",
                "format": "int64",
                "maximum": 2,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaMgmd_MldVlanConfigGet": {
        "description": "Grouping for MLD Configurations on the VLAN",
        "properties": {
          "mld": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaMgmd_MldStaticGroupsGet"
              },
              {
                "$ref": "#/components/schemas/ArubaMgmd_MgmdVlanCommonConfigGet"
              }
            ],
            "description": "MLD Configuration on VLAN.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "This leaf is now deprecated.Enable MLD on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "query-interval": {
                "default": "125",
                "description": "This leaf is now deprecated.Sets the interval in seconds between MLD queries.",
                "format": "int64",
                "maximum": 31744,
                "minimum": 60,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "snooping": {
                "default": "false",
                "description": "Enable MLD snooping on the VLAN.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "strict-version": {
                "default": "false",
                "description": "Process only the selected MLD version packets.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "version": {
                "default": "2",
                "description": "The MLD protocol version to use.",
                "format": "int64",
                "maximum": 2,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaNdSnooping_NdSnoopingVlan": {
        "description": "VLAN specific ND-Snooping parameter grouping",
        "properties": {
          "nd-snooping": {
            "description": "Configuration of ND-Snooping on VLAN.",
            "properties": {
              "allow-bindings-on-trusted-ports": {
                "default": "false",
                "description": "Allow learning ND-Snoop bindings on trusted ports",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable/Disable ND-Snooping on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "nd-guard": {
                "default": "false",
                "description": "Enable ND-Guard on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "prefix": {
                "description": "IPv6 prefix-list for ND Snooping",
                "items": {
                  "description": "IPv6 prefix-list for ND Snooping",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-prefix",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "prefix-list": {
                "description": "Allowed prefix-list for ND-Snooping",
                "items": {
                  "description": "Allowed prefix-list for ND-Snooping",
                  "format": "const",
                  "maxLength": 80,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "ra-drop": {
                "default": "false",
                "description": "Enable RA-Drop on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ra-guard": {
                "default": "false",
                "description": "Enable RA-guard on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ra-guard-log": {
                "default": "false",
                "description": "Enable RA-guard logging",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ra-guard-policy": {
                "description": "RA-Guard policy reference",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaNdSnooping_NdSnoopingVlanGet": {
        "description": "VLAN specific ND-Snooping parameter grouping",
        "properties": {
          "nd-snooping": {
            "description": "Configuration of ND-Snooping on VLAN.",
            "properties": {
              "allow-bindings-on-trusted-ports": {
                "default": "false",
                "description": "Allow learning ND-Snoop bindings on trusted ports",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable/Disable ND-Snooping on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "nd-guard": {
                "default": "false",
                "description": "Enable ND-Guard on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "prefix": {
                "description": "IPv6 prefix-list for ND Snooping",
                "items": {
                  "description": "IPv6 prefix-list for ND Snooping",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-prefix",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "prefix-list": {
                "description": "Allowed prefix-list for ND-Snooping",
                "items": {
                  "description": "Allowed prefix-list for ND-Snooping",
                  "format": "const",
                  "maxLength": 80,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "ra-drop": {
                "default": "false",
                "description": "Enable RA-Drop on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ra-guard": {
                "default": "false",
                "description": "Enable RA-guard on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ra-guard-log": {
                "default": "false",
                "description": "Enable RA-guard logging",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ra-guard-policy": {
                "description": "RA-Guard policy reference",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaVlanCommon_AccessListPolicies": {
        "description": "Grouping for access-list configurations.",
        "properties": {
          "access-list-in": {
            "description": "Access-list Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "access-list-out": {
            "description": "Access-list Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaVlanCommon_AccessListPoliciesGet": {
        "description": "Grouping for access-list configurations.",
        "properties": {
          "access-list-in": {
            "description": "Access-list Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "access-list-out": {
            "description": "Access-list Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaVlanCommon_ArpInspectionVlan": {
        "description": "Dynamic ARP Inspection VLAN prameter grouping",
        "properties": {
          "dynamic-arp-inspection": {
            "description": "Configuration of Dynamic ARP Inspection on VLAN.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable status of Dynamic ARP Inspection on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaVlanCommon_ArpInspectionVlanGet": {
        "description": "Dynamic ARP Inspection VLAN prameter grouping",
        "properties": {
          "dynamic-arp-inspection": {
            "description": "Configuration of Dynamic ARP Inspection on VLAN.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable status of Dynamic ARP Inspection on the VLAN",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaVlanCommon_VlanConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaClientIptracker_VlanConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaMgmd_IgmpVlanConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaMgmd_MldVlanConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv4SnoopingVlan"
          },
          {
            "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv6SnoopingVlan"
          },
          {
            "$ref": "#/components/schemas/ArubaNdSnooping_NdSnoopingVlan"
          },
          {
            "$ref": "#/components/schemas/ArubaVlanCommon_ArpInspectionVlan"
          },
          {
            "$ref": "#/components/schemas/ArubaDestinationGuard_DestinationGuardVlan"
          },
          {
            "$ref": "#/components/schemas/ArubaVlanCommon_AccessListPolicies"
          }
        ],
        "properties": {
          "description": {
            "description": "Description of the VLAN profile.;\nLimit on description length for AP,GW:32 and for CX:64 characters.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable": {
            "default": "true",
            "description": "Set VLAN Administrative State",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "is-l3-vlan": {
            "default": "false",
            "description": "is this vlan an l3 vlan, used only for GET calls",
            "type": "boolean"
          },
          "option-82": {
            "default": "false",
            "description": "To control DHCPv4 Option 82. This is related to DHCP-Relay module.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "policy-in": {
            "description": "Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "policy-out": {
            "description": "Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "protocols": {
            "description": "Assign traffic to different VLANs based on protocol.",
            "items": {
              "description": "Assign traffic to different VLANs based on protocol.",
              "enum": [
                "IPX",
                "IPV4",
                "IPV6",
                "ARP",
                "APPLETALK",
                "SNA",
                "NETBEUI"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "APPLETALK": "Appletalk Protocol Group",
                "ARP": "Address Resolution Protocol (ARP) Group",
                "IPV4": "IP version 4 Protocol Group",
                "IPV6": "IP version 6 Protocol Group",
                "IPX": "IPX Protocol Group",
                "NETBEUI": "Network Basic Input/Output Stream (BIOS)\nEnhanced User Interface Protocol Group",
                "SNA": "System Network Architecture (SNA) Protocol Group"
              },
              "x-supportedDeviceType": [
                "Switch PVOS"
              ],
              "x-typeDescription": "Protocols mapped to a VLAN."
            },
            "maxItems": 4,
            "type": "array"
          },
          "ttl-threshold": {
            "default": "255",
            "description": "Multicast datagram TTL threshold for the\nVLAN.",
            "format": "int64",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "voice-enable": {
            "default": "false",
            "description": "Set VLAN type to voice",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "wired-aaa-profile": {
            "description": "Wired authentication AAA profile",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaVlanCommon_VlanConfigGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaClientIptracker_VlanConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaMgmd_IgmpVlanConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaMgmd_MldVlanConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv4SnoopingVlanGet"
          },
          {
            "$ref": "#/components/schemas/ArubaDhcpSnooping_Dhcpv6SnoopingVlanGet"
          },
          {
            "$ref": "#/components/schemas/ArubaNdSnooping_NdSnoopingVlanGet"
          },
          {
            "$ref": "#/components/schemas/ArubaVlanCommon_ArpInspectionVlanGet"
          },
          {
            "$ref": "#/components/schemas/ArubaDestinationGuard_DestinationGuardVlanGet"
          },
          {
            "$ref": "#/components/schemas/ArubaVlanCommon_AccessListPoliciesGet"
          }
        ],
        "properties": {
          "description": {
            "description": "Description of the VLAN profile.;\nLimit on description length for AP,GW:32 and for CX:64 characters.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable": {
            "default": "true",
            "description": "Set VLAN Administrative State",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "is-l3-vlan": {
            "default": "false",
            "description": "is this vlan an l3 vlan, used only for GET calls",
            "type": "boolean"
          },
          "option-82": {
            "default": "false",
            "description": "To control DHCPv4 Option 82. This is related to DHCP-Relay module.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "policy-in": {
            "description": "Policy for inbound (Ingress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "policy-out": {
            "description": "Policy for outbound (Egress) traffic.",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "protocols": {
            "description": "Assign traffic to different VLANs based on protocol.",
            "items": {
              "description": "Assign traffic to different VLANs based on protocol.",
              "enum": [
                "IPX",
                "IPV4",
                "IPV6",
                "ARP",
                "APPLETALK",
                "SNA",
                "NETBEUI"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "APPLETALK": "Appletalk Protocol Group",
                "ARP": "Address Resolution Protocol (ARP) Group",
                "IPV4": "IP version 4 Protocol Group",
                "IPV6": "IP version 6 Protocol Group",
                "IPX": "IPX Protocol Group",
                "NETBEUI": "Network Basic Input/Output Stream (BIOS)\nEnhanced User Interface Protocol Group",
                "SNA": "System Network Architecture (SNA) Protocol Group"
              },
              "x-supportedDeviceType": [
                "Switch PVOS"
              ],
              "x-typeDescription": "Protocols mapped to a VLAN."
            },
            "maxItems": 4,
            "type": "array"
          },
          "ttl-threshold": {
            "default": "255",
            "description": "Multicast datagram TTL threshold for the\nVLAN.",
            "format": "int64",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "voice-enable": {
            "default": "false",
            "description": "Set VLAN type to voice",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "wired-aaa-profile": {
            "description": "Wired authentication AAA profile",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaVlan_Layer2VlanSchemaGET": {
        "description": "Configure and manage L2 VLAN profiles.\nEach VLAN profile maps to each layer2 VLAN ID.\nUsing this profile features related to layer 2 VLAN can be configured like wired AAA profile for VLANs.\nVLANs are primarily used to provide network segmentation at layer 2.\nVLANs enable the grouping of users by logical function instead of physical location.\nVLANs are generally assigned on an organizational basis rather than on a physical basis.\n\nFor example, a network administrator could assign all workstations and servers used by a particular workgroup to the same VLAN, regardless of their physical locations.\nHosts in the same VLAN can directly communicate with one another. A router or a Layer 3 switch is required for hosts in different VLANs to communicate with one another.\nVLANs help reduce bandwidth waste, improve LAN security, and enable network administrators to address issues such as scalability and network management.",
        "properties": {
          "l2-vlan": {
            "description": "List of L2 VLAN profiles",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVlan_PrivateVlanConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaVlanCommon_VlanConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaDssTypes_VlanDssConfigsGet"
                },
                {
                  "properties": {
                    "description-alias": {
                      "description": "Description alias of the VLAN profile.;\nLimit on description length for AP,GW:32 and for CX:64 characters.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway",
                        "Switch CX"
                      ]
                    },
                    "name": {
                      "description": "VLAN name. On CX devices, cannot start or end with whitespaces.",
                      "format": "const",
                      "maxLength": 32,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "qinq-svlan": {
                      "description": "Set the current VLAN as QinQ svlan",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "vlan": {
                      "description": "VLAN identifier",
                      "format": "int32",
                      "maximum": 4094,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Gateway",
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "Type definition representing a single-tagged VLAN"
                    },
                    "voice-enable-alias": {
                      "description": "Alias to manage vlan voice enable/disable.\nvoice-enable-alias and voice-enable both cannot be set.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "vrf": {
                      "description": "Configure a VRF to be used for Distributed Firewall Policy for CX platforms.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                      "x-patternSources": "name-type",
                      "x-patterns": "'([^\\\\/ ]+)'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vlan"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaVlan_Layer2Vlanl2VlanSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaVlan_PrivateVlanConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaVlanCommon_VlanConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaDssTypes_VlanDssConfigs"
          },
          {
            "properties": {
              "description-alias": {
                "description": "Description alias of the VLAN profile.;\nLimit on description length for AP,GW:32 and for CX:64 characters.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway",
                  "Switch CX"
                ]
              },
              "name": {
                "description": "VLAN name. On CX devices, cannot start or end with whitespaces.",
                "format": "const",
                "maxLength": 32,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "qinq-svlan": {
                "description": "Set the current VLAN as QinQ svlan",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "vlan": {
                "description": "VLAN identifier",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              },
              "voice-enable-alias": {
                "description": "Alias to manage vlan voice enable/disable.\nvoice-enable-alias and voice-enable both cannot be set.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "vrf": {
                "description": "Configure a VRF to be used for Distributed Firewall Policy for CX platforms.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                "x-patternSources": "name-type",
                "x-patterns": "'([^\\\\/ ]+)'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
              }
            }
          }
        ]
      },
      "ArubaVlan_Layer2Vlanl2VlanSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaVlan_PrivateVlanConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaVlanCommon_VlanConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaDssTypes_VlanDssConfigsGet"
          },
          {
            "properties": {
              "description-alias": {
                "description": "Description alias of the VLAN profile.;\nLimit on description length for AP,GW:32 and for CX:64 characters.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway",
                  "Switch CX"
                ]
              },
              "name": {
                "description": "VLAN name. On CX devices, cannot start or end with whitespaces.",
                "format": "const",
                "maxLength": 32,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "qinq-svlan": {
                "description": "Set the current VLAN as QinQ svlan",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "vlan": {
                "description": "VLAN identifier",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              },
              "voice-enable-alias": {
                "description": "Alias to manage vlan voice enable/disable.\nvoice-enable-alias and voice-enable both cannot be set.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "vrf": {
                "description": "Configure a VRF to be used for Distributed Firewall Policy for CX platforms.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                "x-patternSources": "name-type",
                "x-patterns": "'([^\\\\/ ]+)'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
              }
            }
          }
        ]
      },
      "ArubaVlan_PrivateVlanConfig": {
        "description": "Private VLAN config values",
        "properties": {
          "community-vlan": {
            "description": "Configure a list of community VLANs under the current primary VLAN.",
            "items": {
              "description": "Configure a list of community VLANs under the current primary VLAN.",
              "format": "int32",
              "maximum": 4094,
              "minimum": 1,
              "type": "integer",
              "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ],
              "x-typeDescription": "Type definition representing a single-tagged VLAN"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "isolated-vlan": {
            "description": "Configure an isolated VLAN under the current primary VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "private-vlan-association": {
            "description": "Associating a secondary VLAN of private-vlan-type COMMUNITY or ISOLATED to a primary VLAN",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "private-vlan-type": {
            "description": "Type of private VLAN.For AOS-CX, it can be PRIMARY, ISOLATED, or COMMUNITY.\n If the value is ISOLATED or COMMUNITY then private-vlan-association  also\n should be configured to indicate the primary VLAN to which the ISOLATED/COMMUNITY\n VLAN is associated. For PVOS(AOS-S),only PRIMARY is valid. The isolated-vlan and\n community-vlan parameters can be used to configure the secondary VLANs.\n Private VLAN and QinQ are mutually exclusive.",
            "enum": [
              "PRIMARY",
              "ISOLATED",
              "COMMUNITY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "COMMUNITY": "Community VLAN in private VLAN. Hosts in a given community VLAN can\ncommunicate with each other through Layer 2 switching. There can be\nmultiple community VLANs associated to a primary VLAN.",
              "ISOLATED": "Isolated VLAN in private VLAN. Hosts in isolated VLAN cannot\ncommunicate with each other through layer 2 switching.",
              "PRIMARY": "Primary VLAN in private VLAN. There can be multiple secondary VLANs\nassociated with a primary VLAN. A primary VLAN and the associated\nsecondary VLANs together are called a private VLAN domain. The hosts\nin secondary VLAN uses the primary VLAN to communicate with hosts\noutside the PVLAN domain. Secondary VLANs can be of type either\nISOLATED or COMMUNITY."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Private VLAN types"
          }
        }
      },
      "ArubaVlan_PrivateVlanConfigGet": {
        "description": "Private VLAN config values",
        "properties": {
          "community-vlan": {
            "description": "Configure a list of community VLANs under the current primary VLAN.",
            "items": {
              "description": "Configure a list of community VLANs under the current primary VLAN.",
              "format": "int32",
              "maximum": 4094,
              "minimum": 1,
              "type": "integer",
              "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ],
              "x-typeDescription": "Type definition representing a single-tagged VLAN"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "isolated-vlan": {
            "description": "Configure an isolated VLAN under the current primary VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "private-vlan-association": {
            "description": "Associating a secondary VLAN of private-vlan-type COMMUNITY or ISOLATED to a primary VLAN",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "private-vlan-type": {
            "description": "Type of private VLAN.For AOS-CX, it can be PRIMARY, ISOLATED, or COMMUNITY.\n If the value is ISOLATED or COMMUNITY then private-vlan-association  also\n should be configured to indicate the primary VLAN to which the ISOLATED/COMMUNITY\n VLAN is associated. For PVOS(AOS-S),only PRIMARY is valid. The isolated-vlan and\n community-vlan parameters can be used to configure the secondary VLANs.\n Private VLAN and QinQ are mutually exclusive.",
            "enum": [
              "PRIMARY",
              "ISOLATED",
              "COMMUNITY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "COMMUNITY": "Community VLAN in private VLAN. Hosts in a given community VLAN can\ncommunicate with each other through Layer 2 switching. There can be\nmultiple community VLANs associated to a primary VLAN.",
              "ISOLATED": "Isolated VLAN in private VLAN. Hosts in isolated VLAN cannot\ncommunicate with each other through layer 2 switching.",
              "PRIMARY": "Primary VLAN in private VLAN. There can be multiple secondary VLANs\nassociated with a primary VLAN. A primary VLAN and the associated\nsecondary VLANs together are called a private VLAN domain. The hosts\nin secondary VLAN uses the primary VLAN to communicate with hosts\noutside the PVLAN domain. Secondary VLANs can be of type either\nISOLATED or COMMUNITY."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Private VLAN types"
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
[...]
