{
  "openapi": "3.1.0",
  "info": {
    "title": "Vrrp Interface",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Vrrp Interface"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/vrrp": {
      "get": {
        "description": "Virtual Router Redundancy Protocol (VRRP) Interface Configurations.\nUpon configuration, this profile is to be referenced from either a\nVLAN profile or a port profile.\nVRRP specifies an election protocol to provide the virtual router function\ndescribed below.  All protocol messaging is performed using IP multicast\ndatagrams, thus the protocol can operate over a variety of multiaccess LAN\ntechnologies supporting IP multicast. The virtual router MAC address is used\nas the source in all periodic VRRP messages sent by the Active router to enable\nbridge learning in an extended LAN.\nA virtual router is defined by its virtual router identifier (VRID) and a set\nof IP addresses.  A VRRP router may associate a virtual router with its real\naddresses on an interface, and may also be configured with additional virtual\nrouter mappings and priority for virtual routers it is willing to standby.\nA Standby router will not attempt to preempt the Active unless it has higher\npriority. This eliminates service disruption unless a more preferred path\nbecomes available. It is also possible to administratively prohibit all\npreemption attempts. The only exception is that a VRRP router will always\nbecome Active of any virtual router associated with addresses it owns. If the\nActive becomes unavailable then the highest priority Standby will transition to\nActive after a short delay, providing a controlled transition of the virtual\nrouter responsibility with minimal service interruption.\n\nAOS-CX : VRRP can be configured on physical ports, VLAN interfaces and LAG interfaces.\n     All such configurations work in the mentioned interfaces context.\n     VRRP mandates the associated interface to be routing interface.",
        "operationId": "readVrrp",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaVrrpInterface_VrrpSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read VRRP-interface configuration",
        "tags": [
          "Vrrp Interface"
        ],
        "x-cliParam": {
          "commandName": "readVrrpCmd",
          "commandUse": "vrrp",
          "parentCommand": "readCmd",
          "pathToPrint": "/vrrp/",
          "summary": "Read operation for vrrp"
        }
      }
    },
    "/network-config/v1alpha1/vrrp/{name}": {
      "get": {
        "description": "VRRP-interface Profile",
        "operationId": "readVrrpProfileByID",
        "parameters": [
          {
            "description": "VRRP-interface profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaVrrpInterface_VrrpprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read an existing VRRP-interface profile",
        "tags": [
          "Vrrp Interface"
        ],
        "x-cliParam": {
          "commandName": "readVrrpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readVrrpCmd",
          "pathToPrint": "/vrrp/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "VRRP-interface Profile",
        "operationId": "replaceVrrpProfileByID",
        "parameters": [
          {
            "description": "VRRP-interface profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaVrrpInterface_VrrpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Vrrp Interface"
        ],
        "x-cliParam": {
          "commandName": "replaceVrrpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceVrrpCmd",
          "pathToPrint": "/vrrp/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "VRRP-interface Profile",
        "operationId": "createVrrpProfileByID",
        "parameters": [
          {
            "description": "VRRP-interface profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaVrrpInterface_VrrpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a VRRP-interface profile",
        "tags": [
          "Vrrp Interface"
        ],
        "x-cliParam": {
          "commandName": "createVrrpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createVrrpCmd",
          "pathToPrint": "/vrrp/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "VRRP-interface Profile",
        "operationId": "deleteVrrpProfileByID",
        "parameters": [
          {
            "description": "VRRP-interface profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete a VRRP-interface profile",
        "tags": [
          "Vrrp Interface"
        ],
        "x-cliParam": {
          "commandName": "deleteVrrpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteVrrpCmd",
          "pathToPrint": "/vrrp/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "VRRP-interface Profile",
        "operationId": "updateVrrpProfileByID",
        "parameters": [
          {
            "description": "VRRP-interface profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaVrrpInterface_VrrpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update an existing VRRP-interface profile",
        "tags": [
          "Vrrp Interface"
        ],
        "x-cliParam": {
          "commandName": "updateVrrpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateVrrpCmd",
          "pathToPrint": "/vrrp/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaVrrpInterface_VrrpInterfaceConfiguration": {
        "description": "Grouping for IPv4 and IPv6 VRRP Interface Configurations",
        "properties": {
          "virtual-router": {
            "description": "List for VRRP Configurations",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVrrpInterface_VrrpTrackingConfiguration"
                },
                {
                  "properties": {
                    "address": {
                      "description": "IPv4 or IPv6 address of the virtual router",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX",
                        "Gateway"
                      ]
                    },
                    "advertise-interval": {
                      "description": "Master advertise interval",
                      "format": "int32",
                      "maximum": 60,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX",
                        "Gateway"
                      ]
                    },
                    "authentication-type": {
                      "default": "TEXT",
                      "description": "Authentication type",
                      "enum": [
                        "MD5",
                        "TEXT"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "MD5": "Authentication type as MD5 (message-digest)",
                        "TEXT": "Authentication type as simple-text"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Authentication type"
                    },
                    "bfd": {
                      "description": "Configure BFD peer IPs",
                      "items": {
                        "description": "Configure BFD peer IPs",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv4-address",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-supportedDeviceType": [
                          "Switch PVOS",
                          "Switch CX"
                        ],
                        "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "ciphertext-password": {
                      "description": "Authentication password in cipher text (for IPv4 only)",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "cluster-preempt": {
                      "default": "false",
                      "description": "Cluster manager drives the VRRP state (applicable only for IPv4 address family)",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "description": {
                      "description": "Description of the VRRP router instance",
                      "format": "const",
                      "maxLength": 80,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "disable": {
                      "description": "Enable/disable a VRRP instance",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX",
                        "Gateway"
                      ]
                    },
                    "failback": {
                      "default": "false",
                      "description": "Attempt to failback to VR when it is not enabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "failover": {
                      "default": "false",
                      "description": "Attempt to failover to VR when it is not enabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "hold-time": {
                      "default": "45",
                      "description": "Hold-time interval (state machine vrrp starts listening to advertisements after holdtime expires; applicable only when preempt is disabled or preempt-delay is 0)",
                      "format": "int32",
                      "maximum": 120,
                      "minimum": 30,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "lowest-primary-ip-address": {
                      "description": "Dynamically determine lowest IP address.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        },
                        {
                          "type": "boolean"
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "null-auth-compatibility": {
                      "default": "false",
                      "description": "Null authentication compatibility",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "password": {
                      "description": "Authentication password (applicable only for IPv4 address family)",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Gateway"
                      ],
                      "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                    },
                    "password-type": {
                      "default": "PLAIN_TEXT",
                      "description": "Password type",
                      "enum": [
                        "PLAIN_TEXT",
                        "CIPHER_TEXT"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CIPHER_TEXT": "Configure ciphertext key",
                        "PLAIN_TEXT": "Configure plaintext key"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Password type"
                    },
                    "preempt": {
                      "default": "true",
                      "description": "Enable router pre-emption",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS",
                        "Gateway"
                      ]
                    },
                    "preempt-delay": {
                      "default": "0",
                      "description": "Router pre-emption delay (time to wait before becoming master)",
                      "format": "int32",
                      "maximum": 3600,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX",
                        "Gateway"
                      ]
                    },
                    "priority": {
                      "description": "Router priority level",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX",
                        "Gateway"
                      ]
                    },
                    "router-id-address-family": {
                      "description": "Key combination of router-id and address-family separated by a tilde symbol, e.g., 1~IPV4",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "sec-address": {
                      "description": "List of secondary IPv4 or IPv6 addresses.",
                      "items": {
                        "description": "List of secondary IPv4 or IPv6 addresses.",
                        "oneOf": [
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          },
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv6-address",
                            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                          }
                        ],
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "track-id": {
                      "description": "Track object ID",
                      "items": {
                        "description": "Track object ID",
                        "format": "int32",
                        "maximum": 256,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "version": {
                      "description": "VRRP version. VRRP version can not be set to VRRP_V2 for address family IPV6",
                      "enum": [
                        "VRRP_V2",
                        "VRRP_V3"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "VRRP_V2": "virtual router version 2",
                        "VRRP_V3": "virtual router version 3"
                      },
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ],
                      "x-typeDescription": "VRRP version"
                    },
                    "version-3-checksum": {
                      "description": "Enable VRRPv3 IPv4 checksum calculation.\nVRRP version should be V3 when version-3-checksum is set",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "with-monitoring": {
                      "default": "false",
                      "description": "Continue monitor of main VR during failover.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "routerIdAddressFamily"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaVrrpInterface_VrrpInterfaceConfigurationGet": {
        "description": "Grouping for IPv4 and IPv6 VRRP Interface Configurations",
        "properties": {
          "virtual-router": {
            "description": "List for VRRP Configurations",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVrrpInterface_VrrpTrackingConfigurationGet"
                },
                {
                  "properties": {
                    "address": {
                      "description": "IPv4 or IPv6 address of the virtual router",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX",
                        "Gateway"
                      ]
                    },
                    "advertise-interval": {
                      "description": "Master advertise interval",
                      "format": "int32",
                      "maximum": 60,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX",
                        "Gateway"
                      ]
                    },
                    "authentication-type": {
                      "default": "TEXT",
                      "description": "Authentication type",
                      "enum": [
                        "MD5",
                        "TEXT"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "MD5": "Authentication type as MD5 (message-digest)",
                        "TEXT": "Authentication type as simple-text"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Authentication type"
                    },
                    "bfd": {
                      "description": "Configure BFD peer IPs",
                      "items": {
                        "description": "Configure BFD peer IPs",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv4-address",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-supportedDeviceType": [
                          "Switch PVOS",
                          "Switch CX"
                        ],
                        "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "ciphertext-password": {
                      "description": "Authentication password in cipher text (for IPv4 only)",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "cluster-preempt": {
                      "default": "false",
                      "description": "Cluster manager drives the VRRP state (applicable only for IPv4 address family)",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "description": {
                      "description": "Description of the VRRP router instance",
                      "format": "const",
                      "maxLength": 80,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "disable": {
                      "description": "Enable/disable a VRRP instance",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX",
                        "Gateway"
                      ]
                    },
                    "failback": {
                      "default": "false",
                      "description": "Attempt to failback to VR when it is not enabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "failover": {
                      "default": "false",
                      "description": "Attempt to failover to VR when it is not enabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "hold-time": {
                      "default": "45",
                      "description": "Hold-time interval (state machine vrrp starts listening to advertisements after holdtime expires; applicable only when preempt is disabled or preempt-delay is 0)",
                      "format": "int32",
                      "maximum": 120,
                      "minimum": 30,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "lowest-primary-ip-address": {
                      "description": "Dynamically determine lowest IP address.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        },
                        {
                          "type": "boolean"
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "null-auth-compatibility": {
                      "default": "false",
                      "description": "Null authentication compatibility",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "password": {
                      "description": "Authentication password (applicable only for IPv4 address family)",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Gateway"
                      ],
                      "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                    },
                    "password-type": {
                      "default": "PLAIN_TEXT",
                      "description": "Password type",
                      "enum": [
                        "PLAIN_TEXT",
                        "CIPHER_TEXT"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CIPHER_TEXT": "Configure ciphertext key",
                        "PLAIN_TEXT": "Configure plaintext key"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Password type"
                    },
                    "preempt": {
                      "default": "true",
                      "description": "Enable router pre-emption",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS",
                        "Gateway"
                      ]
                    },
                    "preempt-delay": {
                      "default": "0",
                      "description": "Router pre-emption delay (time to wait before becoming master)",
                      "format": "int32",
                      "maximum": 3600,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX",
                        "Gateway"
                      ]
                    },
                    "priority": {
                      "description": "Router priority level",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX",
                        "Gateway"
                      ]
                    },
                    "router-id-address-family": {
                      "description": "Key combination of router-id and address-family separated by a tilde symbol, e.g., 1~IPV4",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "sec-address": {
                      "description": "List of secondary IPv4 or IPv6 addresses.",
                      "items": {
                        "description": "List of secondary IPv4 or IPv6 addresses.",
                        "oneOf": [
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          },
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv6-address",
                            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                          }
                        ],
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "track-id": {
                      "description": "Track object ID",
                      "items": {
                        "description": "Track object ID",
                        "format": "int32",
                        "maximum": 256,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "version": {
                      "description": "VRRP version. VRRP version can not be set to VRRP_V2 for address family IPV6",
                      "enum": [
                        "VRRP_V2",
                        "VRRP_V3"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "VRRP_V2": "virtual router version 2",
                        "VRRP_V3": "virtual router version 3"
                      },
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ],
                      "x-typeDescription": "VRRP version"
                    },
                    "version-3-checksum": {
                      "description": "Enable VRRPv3 IPv4 checksum calculation.\nVRRP version should be V3 when version-3-checksum is set",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "with-monitoring": {
                      "default": "false",
                      "description": "Continue monitor of main VR during failover.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "routerIdAddressFamily"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaVrrpInterface_VrrpSchemaGET": {
        "description": "Virtual Router Redundancy Protocol (VRRP) Interface Configurations.\nUpon configuration, this profile is to be referenced from either a\nVLAN profile or a port profile.\nVRRP specifies an election protocol to provide the virtual router function\ndescribed below.  All protocol messaging is performed using IP multicast\ndatagrams, thus the protocol can operate over a variety of multiaccess LAN\ntechnologies supporting IP multicast. The virtual router MAC address is used\nas the source in all periodic VRRP messages sent by the Active router to enable\nbridge learning in an extended LAN.\nA virtual router is defined by its virtual router identifier (VRID) and a set\nof IP addresses.  A VRRP router may associate a virtual router with its real\naddresses on an interface, and may also be configured with additional virtual\nrouter mappings and priority for virtual routers it is willing to standby.\nA Standby router will not attempt to preempt the Active unless it has higher\npriority. This eliminates service disruption unless a more preferred path\nbecomes available. It is also possible to administratively prohibit all\npreemption attempts. The only exception is that a VRRP router will always\nbecome Active of any virtual router associated with addresses it owns. If the\nActive becomes unavailable then the highest priority Standby will transition to\nActive after a short delay, providing a controlled transition of the virtual\nrouter responsibility with minimal service interruption.\n\nAOS-CX : VRRP can be configured on physical ports, VLAN interfaces and LAG interfaces.\n     All such configurations work in the mentioned interfaces context.\n     VRRP mandates the associated interface to be routing interface.",
        "properties": {
          "profile": {
            "description": "VRRP-interface Profile",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVrrpInterface_VrrpInterfaceConfigurationGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "VRRP-interface global profile description",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string"
                    },
                    "name": {
                      "description": "VRRP-interface profile name",
                      "format": "const",
                      "maxLength": 255,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaVrrpInterface_VrrpTrackingConfiguration": {
        "description": "Grouping for VRRP Tracking Configurations",
        "properties": {
          "tracking-items": {
            "description": "List for VRRP Tracking Configurations to Alter the Virtual Router's Priority Value",
            "items": {
              "properties": {
                "identifier": {
                  "description": "Virtual router identifier to track MASTER state of another VRRP master",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "interfaces": {
                  "description": "Gigabit ethernet interface to track the port's state",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway"
                  ]
                },
                "interval": {
                  "description": "Master elapsed time in minutes before tracking takes effect",
                  "format": "int32",
                  "maximum": 1440,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "mode": {
                  "description": "Tracking type to alter the virtual router's priority value (Tracking mode 'uplink' available only for IPv4 address family)",
                  "enum": [
                    "VLAN",
                    "PORT",
                    "MASTER_UPTIME",
                    "MASTER_STATE",
                    "UPLINK_CELLULAR",
                    "UPLINK_WIRED"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "MASTER_STATE": "Tracking based on another vrrp's MASTER state",
                    "MASTER_UPTIME": "Tracking based on how long we have been MASTER",
                    "PORT": "Tracking based on layer 2 interface state transition(s)",
                    "UPLINK_CELLULAR": "Cellular Uplink State",
                    "UPLINK_WIRED": "Wired Uplink State",
                    "VLAN": "Tracking based on vlan state transition(s)"
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway"
                  ],
                  "x-typeDescription": "VRRP tracking type"
                },
                "priority-offset": {
                  "description": "Priority offset value",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "priority-offset-op": {
                  "description": "Priority offset operation, to add or to subtract virtual router's priority",
                  "enum": [
                    "ADD",
                    "SUBTRACT"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ADD": "To add value to the virtual router's priority (applicable for MASTER_UPTIME and MASTER_STATE tracking types)",
                    "SUBTRACT": "To subtract value from the virtual router's priority when link goes down (applicable for VLAN, PORT and UPLINK tracking types)"
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Operation to alter the value of virtual router's priority"
                },
                "tracking-name": {
                  "description": "Tracking items list name",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "uplink-vlan": {
                  "description": "Uplink VLAN (This must be already created or must exist under Uplink list configuration)",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "vlans": {
                  "description": "VLAN identifier to use for tracking changes",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "trackingName"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaVrrpInterface_VrrpTrackingConfigurationGet": {
        "description": "Grouping for VRRP Tracking Configurations",
        "properties": {
          "tracking-items": {
            "description": "List for VRRP Tracking Configurations to Alter the Virtual Router's Priority Value",
            "items": {
              "properties": {
                "identifier": {
                  "description": "Virtual router identifier to track MASTER state of another VRRP master",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "interfaces": {
                  "description": "Gigabit ethernet interface to track the port's state",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway"
                  ]
                },
                "interval": {
                  "description": "Master elapsed time in minutes before tracking takes effect",
                  "format": "int32",
                  "maximum": 1440,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "mode": {
                  "description": "Tracking type to alter the virtual router's priority value (Tracking mode 'uplink' available only for IPv4 address family)",
                  "enum": [
                    "VLAN",
                    "PORT",
                    "MASTER_UPTIME",
                    "MASTER_STATE",
                    "UPLINK_CELLULAR",
                    "UPLINK_WIRED"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "MASTER_STATE": "Tracking based on another vrrp's MASTER state",
                    "MASTER_UPTIME": "Tracking based on how long we have been MASTER",
                    "PORT": "Tracking based on layer 2 interface state transition(s)",
                    "UPLINK_CELLULAR": "Cellular Uplink State",
                    "UPLINK_WIRED": "Wired Uplink State",
                    "VLAN": "Tracking based on vlan state transition(s)"
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway"
                  ],
                  "x-typeDescription": "VRRP tracking type"
                },
                "priority-offset": {
                  "description": "Priority offset value",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "priority-offset-op": {
                  "description": "Priority offset operation, to add or to subtract virtual router's priority",
                  "enum": [
                    "ADD",
                    "SUBTRACT"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ADD": "To add value to the virtual router's priority (applicable for MASTER_UPTIME and MASTER_STATE tracking types)",
                    "SUBTRACT": "To subtract value from the virtual router's priority when link goes down (applicable for VLAN, PORT and UPLINK tracking types)"
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Operation to alter the value of virtual router's priority"
                },
                "tracking-name": {
                  "description": "Tracking items list name",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "uplink-vlan": {
                  "description": "Uplink VLAN (This must be already created or must exist under Uplink list configuration)",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "vlans": {
                  "description": "VLAN identifier to use for tracking changes",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "trackingName"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaVrrpInterface_VrrpprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaVrrpInterface_VrrpInterfaceConfiguration"
          },
          {
            "properties": {
              "description": {
                "description": "VRRP-interface global profile description",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "VRRP-interface profile name",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            }
          }
        ]
      },
      "ArubaVrrpInterface_VrrpprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaVrrpInterface_VrrpInterfaceConfigurationGet"
          },
          {
            "properties": {
              "description": {
                "description": "VRRP-interface global profile description",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "VRRP-interface profile name",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            }
          }
        ]
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaVrrpInterface_VrrpprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaVrrpInterface_VrrpprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
