{
  "openapi": "3.1.0",
  "info": {
    "title": "Ap System",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Ap System"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/ap-system": {
      "get": {
        "description": "Manage global system settings for Aruba Access Points, including time zone,\nlocation, cluster mode, LED control, and operational parameters. These configurations\ndefine device identity, network integration, security policies, and system-wide behaviors\nsuch as country code, virtual controller settings, and advanced features like CPU management\nand thermal controls. This profile references Alias profiles for reusable configuration templates.\nUse this API to retrieve the list of AP System profiles.",
        "operationId": "readApSystem",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaApSystem_ApSystemSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured ap system",
        "tags": [
          "Ap System"
        ],
        "x-cliParam": {
          "commandName": "readApSystemCmd",
          "commandUse": "ap-system",
          "parentCommand": "readCmd",
          "pathToPrint": "/ap-system/",
          "summary": "Read operation for ap-system"
        }
      }
    },
    "/network-config/v1alpha1/ap-system/{name}": {
      "get": {
        "description": "Defines a single AP System profile containing all system-level configurations for one or more\nAccess Points. Each entity is identified by name. Use these APIs to create, modify, or delete\nan instance.",
        "operationId": "readApSystemProfileByID",
        "parameters": [
          {
            "description": "System profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaApSystem_ApSystemprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured profile for AP system",
        "tags": [
          "Ap System"
        ],
        "x-cliParam": {
          "commandName": "readApSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readApSystemCmd",
          "pathToPrint": "/ap-system/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Defines a single AP System profile containing all system-level configurations for one or more\nAccess Points. Each entity is identified by name. Use these APIs to create, modify, or delete\nan instance.",
        "operationId": "replaceApSystemProfileByID",
        "parameters": [
          {
            "description": "System profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaApSystem_ApSystemprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing AP system profile configurations",
        "tags": [
          "Ap System"
        ],
        "x-cliParam": {
          "commandName": "replaceApSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceApSystemCmd",
          "pathToPrint": "/ap-system/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Defines a single AP System profile containing all system-level configurations for one or more\nAccess Points. Each entity is identified by name. Use these APIs to create, modify, or delete\nan instance.",
        "operationId": "createApSystemProfileByID",
        "parameters": [
          {
            "description": "System profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaApSystem_ApSystemprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create profile for AP system",
        "tags": [
          "Ap System"
        ],
        "x-cliParam": {
          "commandName": "createApSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createApSystemCmd",
          "pathToPrint": "/ap-system/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Defines a single AP System profile containing all system-level configurations for one or more\nAccess Points. Each entity is identified by name. Use these APIs to create, modify, or delete\nan instance.",
        "operationId": "deleteApSystemProfileByID",
        "parameters": [
          {
            "description": "System profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the profile for AP system",
        "tags": [
          "Ap System"
        ],
        "x-cliParam": {
          "commandName": "deleteApSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteApSystemCmd",
          "pathToPrint": "/ap-system/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Defines a single AP System profile containing all system-level configurations for one or more\nAccess Points. Each entity is identified by name. Use these APIs to create, modify, or delete\nan instance.",
        "operationId": "updateApSystemProfileByID",
        "parameters": [
          {
            "description": "System profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaApSystem_ApSystemprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing AP system profile configurations",
        "tags": [
          "Ap System"
        ],
        "x-cliParam": {
          "commandName": "updateApSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateApSystemCmd",
          "pathToPrint": "/ap-system/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaApSystem_ApSystemSchemaGET": {
        "description": "Manage global system settings for Aruba Access Points, including time zone,\nlocation, cluster mode, LED control, and operational parameters. These configurations\ndefine device identity, network integration, security policies, and system-wide behaviors\nsuch as country code, virtual controller settings, and advanced features like CPU management\nand thermal controls. This profile references Alias profiles for reusable configuration templates.\nUse this API to retrieve the list of AP System profiles.",
        "properties": {
          "profile": {
            "description": "Defines a single AP System profile containing all system-level configurations for one or more\nAccess Points. Each entity is identified by name. Use these APIs to create, modify, or delete\nan instance.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaLocation_GpsConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaLocation_LciConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaLocation_BarometerConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaCop_CopConfigGet"
                },
                {
                  "properties": {
                    "aaa": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaApSystem_AuthenticationSystemApConfigGet"
                        }
                      ],
                      "description": "AAA attributes."
                    },
                    "advanced-zone": {
                      "default": "false",
                      "description": "Enable or disable the advanced zone feature that can configure up to 32 SSIDs.\nSince the mapping method of the WLAN index and BSSID index are different,\nwhen you change the advanced zone configuration, the BSSID is removed and created again.\nWhen advanced zone is enabled:\n The WLAN SSID profile will remain inactive without the zone.\n The WLAN SSID profile will remain inactive without the zone.\n A zone can be assigned to a maximum of up to 16 SSIDs.\n However, if the extended SSID is disabled,\n a zone can be assigned to a maximum of up to 14 SSIDs wherein the first two virtual APs are reserved for mesh.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "advertise-ap-health-ie": {
                      "default": "true",
                      "description": "Control AP to enable/disable 'Over the Air AP Rescue' feature. This feature is enabled by default.\n'Over the Air AP Rescue' feature controls AP to broadcast the AP health IE through the wireless SSIDs.\nThe AP health IE contains many flags that can reflect current AP status like uplink status,\nCentral connectivity status. Once AP lost Central connection, this AP health IE can be broadcast through\nwireless beacons so that our Aruba APs nearby can hear this beacon and send the AP health IE to Central.\nThis will allow the user or engineer to understand the status of the issue AP and take measures to rescue it.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "advertise-location": {
                      "default": "false",
                      "description": "Enable advertising location info in beacon frame.\nDisable by default.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "airslice-policy": {
                      "default": "false",
                      "description": "Enable airslice policy",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "allow-new-aps": {
                      "description": "Allows the new access points to join the AP cluster. This API is AOS8 specific.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "allow-new-aps-alias": {
                      "description": "Alias for allow new aps. This API is AOS8 specific",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                    },
                    "allowed-ap": {
                      "description": "Specifies the MAC address of an AP permitted to join the cluster. Available on firmware versions up to 10.0.0.\nThis setting is specific to AOS8 platforms.",
                      "items": {
                        "description": "Specifies the MAC address of an AP permitted to join the cluster. Available on firmware versions up to 10.0.0.\nThis setting is specific to AOS8 platforms.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "mac-address",
                        "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "An IEEE 802 MAC address"
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "application-monitoring": {
                      "default": "false",
                      "description": "Enables application monitoring on the AP.\nAvailable on firmware versions 8.6.0 to 8.11.99 only.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "cluster-security": {
                      "description": "Cluster Security DTLS configuration for IAP.\nEnabling cluster-security dtls will form Datagram TLS connection between Conductor and Member APs.",
                      "properties": {
                        "allow-low-assurance-devices": {
                          "description": "Allow non-TPM (Trusted-Platform-Module) devices to connect over DTLS",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "allow-non-dtls-members": {
                          "default": "true",
                          "description": "Do not allow non-DTLS enabled APs to connect",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "dtls": {
                          "description": "PAPI Security in DTLS mode",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "conductor": {
                      "description": "Provisions the Instant AP as a conductor Instant AP. This API is AOS8 specific.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "conductor-alias": {
                      "description": "Alias for conductor. This API is AOS8 specific.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                    },
                    "content-filtering": {
                      "default": "false",
                      "description": "Content filtering configuration at system level.\nThis option control access to websites and applications based on their content, adding more security.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "country-code": {
                      "description": "Defines the country of operation of an AP.",
                      "format": "const",
                      "maxLength": 4,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "country-code-alias": {
                      "description": "Alias for virtual controller country code.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                    },
                    "deny-inter-user-bridging": {
                      "default": "false",
                      "description": "Deny inter user bridging.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "deny-local-routing": {
                      "default": "false",
                      "description": "Deny local routing.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "description": {
                      "description": "System profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "dhcp-option82-xml": {
                      "description": "Configure DHCP Option 82 XML file. The AP inserts circuit and remote ID information\ninto DHCP requests from clients.",
                      "enum": [
                        "NONE",
                        "DEFAULT_DHCPOPT82_1_XML",
                        "DEFAULT_DHCPOPT82_2_XML",
                        "DEFAULT_DHCPOPT82_3_XML"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DEFAULT_DHCPOPT82_1_XML": "Default DHCP Option 82 XML file 1. Values for Circuit and Remote ID's are as follows:\nCircuit ID: AP Name, AP MAC Address, Extended AP MAC Address,\nRemote ID: User's MAC Address.",
                        "DEFAULT_DHCPOPT82_2_XML": "Default DHCP Option 82 XML file 2. Values for Circuit and Remote ID's are as follows:\nCircuit ID: AP MAC Address, Extended AP MAC Address, SSID Tunnel,\nRemote ID: User's MAC Address.",
                        "DEFAULT_DHCPOPT82_3_XML": "Default DHCP Option 82 XML file 3. Values for Circuit and Remote ID's are as follows:\nCircuit ID: User's MAC Address,\nRemote ID: AP Name, Extended AP MAC Address.",
                        "NONE": "No DHCP Option 82 XML file will be used."
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "Enumeration of allowed DHCP Option 82 XML file names."
                    },
                    "dhcp-option82-xml-vlan-list": {
                      "description": "VLAN or VLAN range for which DHCP Option 82 XML applies. Allowed values: a single VLAN (1-4094)\nor a range (e.g., 10-100). This leaf can only be configured when dhcp-option82-xml is set to a valid XML file.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "vlan-range",
                      "x-patterns": "'((((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9]))|(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])))'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "VLANs or only single-tagged VLANs or both. A range is\nspecified as x-y where x and y are valid VLAN IDs\n(1 <= vlan-id <= 4094). The range is assumed to be inclusive,\nsuch that any VLAN-ID matching x <= VLAN-ID <= y falls within\nthe range."
                    },
                    "disable-factory-reset": {
                      "default": "false",
                      "description": "Disable the factory reset function on the AP. Prevent the manual hard reset to factory default by pressing\ndown reset button for 5 seconds.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "drt-upgrade-disable": {
                      "default": "false",
                      "description": "Disable the automatic download and installation of DRT updates on the AP managed by Aruba Central.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "dynamic-cpu-mgmt": {
                      "default": "AUTO",
                      "description": "Enable/Disable Dynamic CPU management to manage resources across different functions performed by an AP.",
                      "enum": [
                        "AUTO",
                        "ENABLE",
                        "DISABLE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "AUTO": "Configure the AP to automatically enable or disable CPU management feature during run-time.\nWhen configured, the AP determines the need for enabling or disabling CPU management, based\non the real-time load calculations taking into account all different functions that the CPU\nneeds to perform. The auto option is the default and recommended setting.",
                        "DISABLE": "Disable the CPU management feature, typically for small networks. This setting protects the user experience.",
                        "ENABLE": "Enable the CPU management feature. When configured, the client and network management functions\nare protected. This setting helps in large networks with a high client density."
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "Enable/Disable CPU management feature."
                    },
                    "enet-vlan": {
                      "description": "Configures VLAN for the upstream switch to which the AP is connected.",
                      "format": "int32",
                      "maximum": 4093,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "extended-ssid": {
                      "default": "true",
                      "description": "This command allows you to configure additional WLAN SSIDs.\nExtended SSID is enabled in the factory default settings of APs.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "fips-enable": {
                      "default": "false",
                      "description": "Enable/Disable FIPS mode for AP. When enabled, AP operates in compliance with FIPS\nand utilizes approved cryptographic algorithms and modules for enhanced security.\nNote that toggling this knob will lead to a reboot of the AP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "firsthop-security": {
                      "default": "false",
                      "description": "Controls first hop security features on the AP. When enabled, security features are active.\nAvailable on firmware versions 10.7.1 and later.\nBy default these security features are enabled on the AP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "ip-mode": {
                      "description": "Selects the IP mode for packet processing.\nIPV4_ONLY processes only IPv4 packets; IPV4_PREFER prioritizes IPv4 over IPv6.",
                      "enum": [
                        "IPV4_ONLY",
                        "IPV4_PREFER",
                        "IPV6_ONLY"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "IPV4_ONLY": "Enables system processing of IPv4 packets.",
                        "IPV4_PREFER": "Prefer IPv4 packets.",
                        "IPV6_ONLY": "Enables system processing of IPv6 packets. Not supported on Microbranch APs."
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "IP mode to process IPv6 or IPv4 packets."
                    },
                    "itm": {
                      "default": "false",
                      "description": "Enable Intelligent Thermal Management(ITM) on the AP. When enabled, certain operations of the\nAP will be throttled down to reduce its internal temperature. The limitations of AP operations\nis defined by the priority assigned for reduction steps configured in Intelligent Power Monitoring(IPM)\nAPI. IPM must be enabled for ITM to function.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "lacp": {
                      "default": "AUTO",
                      "description": "Enable/Disable/Remove the static LACP(Link Aggregation Control Protocol) configuration.\nWhen an AP boots up, it forms the LACP according to the static configuration.",
                      "enum": [
                        "ENABLE",
                        "DISABLE",
                        "AUTO"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "AUTO": "This parameter enables the dynamic LACP configuration. The AP will work on LACP mode only if the peer switch works on.",
                        "DISABLE": "This parameter disables the static LACP configuration. The AP will not work on LACP mode even it detects any LACP PDUs\nfrom the peer switch.",
                        "ENABLE": "This parameter enables the static LACP configuration. The AP will work on LACP mode irrespective of whether or not the\npeer switch works on the LACP mode."
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "LACP mode config."
                    },
                    "lacp-alias": {
                      "description": "Alias for lacp mode.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                    },
                    "led": {
                      "default": "true",
                      "description": "Enable LED display on an AP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "led-override": {
                      "default": "false",
                      "description": "Override the LED action for LED operation mode normal.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "led-tap": {
                      "default": "false",
                      "description": "Enable LED tap detection on APs. Currently, this feature is only supported on AP605H.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "location": {
                      "description": "Device location information.",
                      "format": "const",
                      "maxLength": 32,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "location-alias": {
                      "description": "Alias for location.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                    },
                    "mas-integration": {
                      "description": "Enables mobility Access Switch integration on an AP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "module": {
                      "description": "List of logging module configurations for specifying severity levels by type, process,\nand subcategory. Capacity constraints apply on a per-context basis.",
                      "items": {
                        "properties": {
                          "severity": {
                            "description": "Minimum severity for logging.\nRange: EMERGENCY, ALERT, CRITICAL, ERROR, WARNING, NOTICE, INFO, DEBUG.",
                            "enum": [
                              "EMERGENCY",
                              "ALERT",
                              "CRITICAL",
                              "ERROR",
                              "WARNING",
                              "NOTICE",
                              "INFO",
                              "DEBUG",
                              "MAJOR"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "ALERT": "Immediate action needed.",
                              "CRITICAL": "Critical Condition",
                              "DEBUG": "Debug Messages",
                              "EMERGENCY": "System is unusable",
                              "ERROR": "Error condition in the system",
                              "INFO": "Informational Messages",
                              "MAJOR": "Major condition",
                              "NOTICE": "Normal bug significant condition",
                              "WARNING": "Warning condition"
                            },
                            "x-typeDescription": "Logging level upto which, the messages are logged."
                          },
                          "type-process-subcategory": {
                            "description": "Key combination of type, process and subcategory separated by '~'.",
                            "format": "const",
                            "maxLength": 9999,
                            "type": "string"
                          }
                        }
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "typeProcessSubcategory"
                      ],
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "mtu": {
                      "default": "1300",
                      "description": "Configure the MTU size for tunnel and br0 interfaces, and uplink interface such as 3G or 4G.\nThe configured MTU size is applied when the uplink changes.",
                      "format": "int32",
                      "maximum": 1500,
                      "minimum": 1024,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "name": {
                      "description": "System profile name.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "out-of-service-hold-on-time": {
                      "default": "30",
                      "description": "Configure a hold on time in seconds, after which out-of-service operation is triggered.\nFor example, if the Internet is unreachable, the effect of this out-of-service state impacts the SSID\navailability after the configured hold on time.",
                      "format": "int64",
                      "maximum": 300,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "poe-power-optimization-enable": {
                      "default": "false",
                      "description": "Enable optimization minimizes the POE draw of the AP and may disable some parts of the AP. The USB\nand Ethernet port (eth1) are shut down on the AP when this option is enabled. The AP will operate in\nthe full power mode when this option is disabled. It is disabled by default on the AP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "recovery-ssid-backoff-time": {
                      "default": "3",
                      "description": "Configures the backoff time in minutes before bringing up the recovery SSID.\nWhen the AP disconnects from Central, the recovery SSID will be brought up after this backoff period.\nThe recovery SSID type can be configured in the wlan-ssid profile and provides access to the AP's troubleshooting interface.",
                      "format": "int32",
                      "maximum": 300,
                      "minimum": 3,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "restricted-access": {
                      "description": "Restricted management configuration.",
                      "items": {
                        "properties": {
                          "subnet": {
                            "description": "Management subnet address.",
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-supportedDeviceType": [
                              "Access Point"
                            ],
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          },
                          "subnet-mask": {
                            "description": "Subnet mask for the management subnet address.",
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-supportedDeviceType": [
                              "Access Point"
                            ],
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          }
                        }
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "subnet"
                      ]
                    },
                    "summer-time": {
                      "description": "Set the software clock to begin and end daylight saving time on a recurring basis.",
                      "properties": {
                        "end-day": {
                          "description": "The weekday when the time change end.",
                          "enum": [
                            "sunday",
                            "monday",
                            "tuesday",
                            "wednesday",
                            "thursday",
                            "friday",
                            "saturday",
                            "everyday"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "everyday": "Everyday",
                            "friday": "Friday",
                            "monday": "Monday",
                            "saturday": "Saturday",
                            "sunday": "Sunday",
                            "thursday": "Thursday",
                            "tuesday": "Tuesday",
                            "wednesday": "Wednesday"
                          },
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "Day of week"
                        },
                        "end-hour": {
                          "description": "The time, in hours and minutes, that the time change end.",
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "end-hour",
                          "x-patterns": "'([0-9]|[01][0-9]|2[0-3])(:[0-5][0-9])?'",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "end-month": {
                          "description": "The month when the time change end.",
                          "enum": [
                            "january",
                            "february",
                            "march",
                            "april",
                            "may",
                            "june",
                            "july",
                            "august",
                            "september",
                            "october",
                            "november",
                            "december"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "april": "April",
                            "august": "August",
                            "december": "December",
                            "february": "February",
                            "january": "January",
                            "july": "July",
                            "june": "June",
                            "march": "March",
                            "may": "May",
                            "november": "November",
                            "october": "October",
                            "september": "September"
                          },
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "Month of year"
                        },
                        "end-week": {
                          "description": "The time change end FIRST/SECOND/THIRD/FOURTH/LAST week of the month.",
                          "enum": [
                            "FIRST",
                            "SECOND",
                            "THIRD",
                            "FOURTH",
                            "LAST"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "FIRST": "The first week of the month.",
                            "FOURTH": "The fourth week of the month.",
                            "LAST": "The last week of the month.",
                            "SECOND": "The second week of the month.",
                            "THIRD": "The third week of the month."
                          },
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "Enumeration for specifying the week of the month (FIRST, SECOND, THIRD, FOURTH, LAST)."
                        },
                        "start-day": {
                          "description": "The weekday when the time change begin.",
                          "enum": [
                            "sunday",
                            "monday",
                            "tuesday",
                            "wednesday",
                            "thursday",
                            "friday",
                            "saturday",
                            "everyday"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "everyday": "Everyday",
                            "friday": "Friday",
                            "monday": "Monday",
                            "saturday": "Saturday",
                            "sunday": "Sunday",
                            "thursday": "Thursday",
                            "tuesday": "Tuesday",
                            "wednesday": "Wednesday"
                          },
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "Day of week"
                        },
                        "start-hour": {
                          "description": "The time, in hours and minutes, that the time change begin.",
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "start-hour",
                          "x-patterns": "'([0-9]|[01][0-9]|2[0-3])(:[0-5][0-9])?'",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "start-month": {
                          "description": "The month when the time change begin.",
                          "enum": [
                            "january",
                            "february",
                            "march",
                            "april",
                            "may",
                            "june",
                            "july",
                            "august",
                            "september",
                            "october",
                            "november",
                            "december"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "april": "April",
                            "august": "August",
                            "december": "December",
                            "february": "February",
                            "january": "January",
                            "july": "July",
                            "june": "June",
                            "march": "March",
                            "may": "May",
                            "november": "November",
                            "october": "October",
                            "september": "September"
                          },
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "Month of year"
                        },
                        "start-week": {
                          "description": "The time change begin FIRST/SECOND/THIRD/FOURTH/LAST week of the month.",
                          "enum": [
                            "FIRST",
                            "SECOND",
                            "THIRD",
                            "FOURTH",
                            "LAST"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "FIRST": "The first week of the month.",
                            "FOURTH": "The fourth week of the month.",
                            "LAST": "The last week of the month.",
                            "SECOND": "The second week of the month.",
                            "THIRD": "The third week of the month."
                          },
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "Enumeration for specifying the week of the month (FIRST, SECOND, THIRD, FOURTH, LAST)."
                        },
                        "timezone": {
                          "description": "timezone of daylight saving time",
                          "format": "const",
                          "maxLength": 15,
                          "minLength": 1,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "swarm-mode": {
                      "description": "Provision an Instant AP in the standalone, single AP, or cluster mode. This API is AOS8 specific.",
                      "properties": {
                        "mode": {
                          "description": "Provisions the Instant AP in the standalone, single AP, or cluster mode.\nRange: CLUSTER, STANDALONE, SINGLEAP.\nNote: SINGLEAP value is unsupported on firmware versions up to 8.7.9.",
                          "enum": [
                            "CLUSTER",
                            "STANDALONE",
                            "SINGLEAP"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "CLUSTER": "Instant AP in the cluster mode, it can form a cluster with other Virtual Controller Instant APs in the same VLAN.",
                            "SINGLEAP": "Instant AP in the single AP mode, it does not send or receive management frames such as mobility packets, roaming packets,\nhierarchy beacons through the uplink port.",
                            "STANDALONE": "Instant AP in the standalone mode, it cannot join a cluster of Instant APs even if there are other Instant APs in the same VLAN."
                          },
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "Provisions the Instant AP in the standalone, single AP, or cluster mode."
                        },
                        "reboot": {
                          "description": "Rebboot Instant AP",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        }
                      }
                    },
                    "swarm-mode-alias": {
                      "description": "Alias for swarm-mode. This API is AOS8 specific.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                    },
                    "system-vlan": {
                      "description": "System-VLAN for Microbranch AP. This is L3-Enabled VLAN, mapped to IPMS-system-IP-Pool.\nIPMS service will use this VLAN-id, allocate a /32 IP from the corresponding system-ip-pool,\nand populate the inner-ip field in ap-system profile for each Microbranch AP.",
                      "format": "int32",
                      "maximum": 4094,
                      "minimum": 1,
                      "type": "integer",
                      "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
                      "x-typeDescription": "Type definition representing a single-tagged VLAN"
                    },
                    "timezone": {
                      "description": "Timezone configuration.",
                      "properties": {
                        "hour-offset": {
                          "default": "0",
                          "description": "Hours offset from the UTC.",
                          "format": "int32",
                          "maximum": 13,
                          "minimum": -12,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "minute-offset": {
                          "default": "0",
                          "description": "Minutes offset from the UTC.",
                          "format": "int32",
                          "maximum": 59,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "name": {
                          "default": "none",
                          "description": "Timezone name.",
                          "format": "const",
                          "maxLength": 32,
                          "minLength": 3,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "tx-blanking": {
                      "default": "true",
                      "description": "Controls TX blanking for Ultra Tri-Band (UTB) channel scanning. When enabled, resolves 5GHz/6GHz co-existence interference.\nAvailable only on models: AP-735A, AP-755A.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "usb-port-alias": {
                      "description": "Alias for usb-port.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                    },
                    "usb-port-disable": {
                      "default": "false",
                      "description": "Disable USB port.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "usb-power-override": {
                      "default": "false",
                      "description": "Enable USB power override.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "usb-power-override-alias": {
                      "description": "Alias for usb-power-override.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                    },
                    "utb-filter-block": {
                      "default": "UTB_6GHZ",
                      "description": "Controls which radio band the UTB uplink traffic limitation is applied to.\nSupported values: UTB_6GHZ (default, applies limitation to 6 GHz band) or UTB_5GHZ (applies limitation to 5 GHz band).",
                      "enum": [
                        "UTB_6GHZ",
                        "UTB_5GHZ"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "UTB_5GHZ": "5GHz upper band",
                        "UTB_6GHZ": "6GHz lower band"
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "Ultra Tri-Band (UTB) block band types"
                    },
                    "vc-dnsip-alias": {
                      "description": "Alias for virtual controller dnsip. This API is AOS8 specific.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                    },
                    "vc-vlan-alias": {
                      "description": "Alias for virtual controller vlan. This API is AOS8 specific.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                    },
                    "virtual-controller-dnsip": {
                      "description": "Configures the DNS IP address for the virtual controller. This API is AOS8 specific.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "virtual-controller-ip": {
                      "description": "Assigns an IPv4 address to the virtual controller for AP management. Available on firmware\nversions up to 10.0.0. This setting is specific to AOS8 platforms.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "virtual-controller-ipv6": {
                      "description": "Assigns an IPv6 address to the virtual controller for AP management. Available on firmware\nversions up to 10.0.0. This setting is specific to AOS8 platforms.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ],
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    "virtual-controller-name": {
                      "description": "Defines a unique name for the virtual controller.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "virtual-controller-vlan": {
                      "description": "Configures the virtual controller settings. This API is AOS8 specific.",
                      "properties": {
                        "gateway": {
                          "description": "Configures a gateway for the virtual controller.",
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        "mask": {
                          "description": "Configures a subnet mask for the virtual controller.",
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        "vlan": {
                          "description": "Associates a VLAN ID with the virtual controller.",
                          "format": "int32",
                          "maximum": 4094,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "Type definition representing a single-tagged VLAN"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "voip-qos-trusted": {
                      "default": "false",
                      "description": "Trusted Qos for UCC applications.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "zonename": {
                      "description": "This configures a zone name for the AP. You can configure zone settings on an AP and the SSID profile, to assign an SSID to a specific AP.\nTo assign an SSID to a specific AP, the AP zone name must be configured on the WLAN SSID profile.",
                      "items": {
                        "description": "This configures a zone name for the AP. You can configure zone settings on an AP and the SSID profile, to assign an SSID to a specific AP.\nTo assign an SSID to a specific AP, the AP zone name must be configured on the WLAN SSID profile.",
                        "format": "pattern",
                        "maxLength": 32,
                        "minLength": 1,
                        "type": "string",
                        "x-patternSources": "zonename",
                        "x-patterns": "'^[^, ]+$'",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "maxItems": 6,
                      "type": "array"
                    },
                    "zonename-alias": {
                      "description": "Alias reference for the AP zone name. Applicable only when zonename is not explicitly configured.\nThe alias resolves to the corresponding zone name value defined in the alias profile.",
                      "items": {
                        "description": "Alias reference for the AP zone name. Applicable only when zonename is not explicitly configured.\nThe alias resolves to the corresponding zone name value defined in the alias profile.",
                        "format": "pattern",
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string",
                        "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                        "x-patternSources": "name",
                        "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "ArubaApSystem_ApSystemprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaLocation_GpsConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaLocation_LciConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaLocation_BarometerConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaCop_CopConfig"
          },
          {
            "properties": {
              "aaa": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaApSystem_AuthenticationSystemApConfig"
                  }
                ],
                "description": "AAA attributes."
              },
              "advanced-zone": {
                "default": "false",
                "description": "Enable or disable the advanced zone feature that can configure up to 32 SSIDs.\nSince the mapping method of the WLAN index and BSSID index are different,\nwhen you change the advanced zone configuration, the BSSID is removed and created again.\nWhen advanced zone is enabled:\n The WLAN SSID profile will remain inactive without the zone.\n The WLAN SSID profile will remain inactive without the zone.\n A zone can be assigned to a maximum of up to 16 SSIDs.\n However, if the extended SSID is disabled,\n a zone can be assigned to a maximum of up to 14 SSIDs wherein the first two virtual APs are reserved for mesh.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "advertise-ap-health-ie": {
                "default": "true",
                "description": "Control AP to enable/disable 'Over the Air AP Rescue' feature. This feature is enabled by default.\n'Over the Air AP Rescue' feature controls AP to broadcast the AP health IE through the wireless SSIDs.\nThe AP health IE contains many flags that can reflect current AP status like uplink status,\nCentral connectivity status. Once AP lost Central connection, this AP health IE can be broadcast through\nwireless beacons so that our Aruba APs nearby can hear this beacon and send the AP health IE to Central.\nThis will allow the user or engineer to understand the status of the issue AP and take measures to rescue it.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "advertise-location": {
                "default": "false",
                "description": "Enable advertising location info in beacon frame.\nDisable by default.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "airslice-policy": {
                "default": "false",
                "description": "Enable airslice policy",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "allow-new-aps": {
                "description": "Allows the new access points to join the AP cluster. This API is AOS8 specific.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "allow-new-aps-alias": {
                "description": "Alias for allow new aps. This API is AOS8 specific",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "allowed-ap": {
                "description": "Specifies the MAC address of an AP permitted to join the cluster. Available on firmware versions up to 10.0.0.\nThis setting is specific to AOS8 platforms.",
                "items": {
                  "description": "Specifies the MAC address of an AP permitted to join the cluster. Available on firmware versions up to 10.0.0.\nThis setting is specific to AOS8 platforms.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "mac-address",
                  "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "An IEEE 802 MAC address"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "application-monitoring": {
                "default": "false",
                "description": "Enables application monitoring on the AP.\nAvailable on firmware versions 8.6.0 to 8.11.99 only.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "cluster-security": {
                "description": "Cluster Security DTLS configuration for IAP.\nEnabling cluster-security dtls will form Datagram TLS connection between Conductor and Member APs.",
                "properties": {
                  "allow-low-assurance-devices": {
                    "description": "Allow non-TPM (Trusted-Platform-Module) devices to connect over DTLS",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "allow-non-dtls-members": {
                    "default": "true",
                    "description": "Do not allow non-DTLS enabled APs to connect",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "dtls": {
                    "description": "PAPI Security in DTLS mode",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "conductor": {
                "description": "Provisions the Instant AP as a conductor Instant AP. This API is AOS8 specific.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "conductor-alias": {
                "description": "Alias for conductor. This API is AOS8 specific.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "content-filtering": {
                "default": "false",
                "description": "Content filtering configuration at system level.\nThis option control access to websites and applications based on their content, adding more security.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "country-code": {
                "description": "Defines the country of operation of an AP.",
                "format": "const",
                "maxLength": 4,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "country-code-alias": {
                "description": "Alias for virtual controller country code.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "deny-inter-user-bridging": {
                "default": "false",
                "description": "Deny inter user bridging.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "deny-local-routing": {
                "default": "false",
                "description": "Deny local routing.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "description": {
                "description": "System profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "dhcp-option82-xml": {
                "description": "Configure DHCP Option 82 XML file. The AP inserts circuit and remote ID information\ninto DHCP requests from clients.",
                "enum": [
                  "NONE",
                  "DEFAULT_DHCPOPT82_1_XML",
                  "DEFAULT_DHCPOPT82_2_XML",
                  "DEFAULT_DHCPOPT82_3_XML"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DEFAULT_DHCPOPT82_1_XML": "Default DHCP Option 82 XML file 1. Values for Circuit and Remote ID's are as follows:\nCircuit ID: AP Name, AP MAC Address, Extended AP MAC Address,\nRemote ID: User's MAC Address.",
                  "DEFAULT_DHCPOPT82_2_XML": "Default DHCP Option 82 XML file 2. Values for Circuit and Remote ID's are as follows:\nCircuit ID: AP MAC Address, Extended AP MAC Address, SSID Tunnel,\nRemote ID: User's MAC Address.",
                  "DEFAULT_DHCPOPT82_3_XML": "Default DHCP Option 82 XML file 3. Values for Circuit and Remote ID's are as follows:\nCircuit ID: User's MAC Address,\nRemote ID: AP Name, Extended AP MAC Address.",
                  "NONE": "No DHCP Option 82 XML file will be used."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Enumeration of allowed DHCP Option 82 XML file names."
              },
              "dhcp-option82-xml-vlan-list": {
                "description": "VLAN or VLAN range for which DHCP Option 82 XML applies. Allowed values: a single VLAN (1-4094)\nor a range (e.g., 10-100). This leaf can only be configured when dhcp-option82-xml is set to a valid XML file.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "vlan-range",
                "x-patterns": "'((((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9]))|(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])))'",
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "VLANs or only single-tagged VLANs or both. A range is\nspecified as x-y where x and y are valid VLAN IDs\n(1 <= vlan-id <= 4094). The range is assumed to be inclusive,\nsuch that any VLAN-ID matching x <= VLAN-ID <= y falls within\nthe range."
              },
              "disable-factory-reset": {
                "default": "false",
                "description": "Disable the factory reset function on the AP. Prevent the manual hard reset to factory default by pressing\ndown reset button for 5 seconds.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "drt-upgrade-disable": {
                "default": "false",
                "description": "Disable the automatic download and installation of DRT updates on the AP managed by Aruba Central.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "dynamic-cpu-mgmt": {
                "default": "AUTO",
                "description": "Enable/Disable Dynamic CPU management to manage resources across different functions performed by an AP.",
                "enum": [
                  "AUTO",
                  "ENABLE",
                  "DISABLE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AUTO": "Configure the AP to automatically enable or disable CPU management feature during run-time.\nWhen configured, the AP determines the need for enabling or disabling CPU management, based\non the real-time load calculations taking into account all different functions that the CPU\nneeds to perform. The auto option is the default and recommended setting.",
                  "DISABLE": "Disable the CPU management feature, typically for small networks. This setting protects the user experience.",
                  "ENABLE": "Enable the CPU management feature. When configured, the client and network management functions\nare protected. This setting helps in large networks with a high client density."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Enable/Disable CPU management feature."
              },
              "enet-vlan": {
                "description": "Configures VLAN for the upstream switch to which the AP is connected.",
                "format": "int32",
                "maximum": 4093,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "extended-ssid": {
                "default": "true",
                "description": "This command allows you to configure additional WLAN SSIDs.\nExtended SSID is enabled in the factory default settings of APs.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "fips-enable": {
                "default": "false",
                "description": "Enable/Disable FIPS mode for AP. When enabled, AP operates in compliance with FIPS\nand utilizes approved cryptographic algorithms and modules for enhanced security.\nNote that toggling this knob will lead to a reboot of the AP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "firsthop-security": {
                "default": "false",
                "description": "Controls first hop security features on the AP. When enabled, security features are active.\nAvailable on firmware versions 10.7.1 and later.\nBy default these security features are enabled on the AP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "ip-mode": {
                "description": "Selects the IP mode for packet processing.\nIPV4_ONLY processes only IPv4 packets; IPV4_PREFER prioritizes IPv4 over IPv6.",
                "enum": [
                  "IPV4_ONLY",
                  "IPV4_PREFER",
                  "IPV6_ONLY"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "IPV4_ONLY": "Enables system processing of IPv4 packets.",
                  "IPV4_PREFER": "Prefer IPv4 packets.",
                  "IPV6_ONLY": "Enables system processing of IPv6 packets. Not supported on Microbranch APs."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "IP mode to process IPv6 or IPv4 packets."
              },
              "itm": {
                "default": "false",
                "description": "Enable Intelligent Thermal Management(ITM) on the AP. When enabled, certain operations of the\nAP will be throttled down to reduce its internal temperature. The limitations of AP operations\nis defined by the priority assigned for reduction steps configured in Intelligent Power Monitoring(IPM)\nAPI. IPM must be enabled for ITM to function.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "lacp": {
                "default": "AUTO",
                "description": "Enable/Disable/Remove the static LACP(Link Aggregation Control Protocol) configuration.\nWhen an AP boots up, it forms the LACP according to the static configuration.",
                "enum": [
                  "ENABLE",
                  "DISABLE",
                  "AUTO"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AUTO": "This parameter enables the dynamic LACP configuration. The AP will work on LACP mode only if the peer switch works on.",
                  "DISABLE": "This parameter disables the static LACP configuration. The AP will not work on LACP mode even it detects any LACP PDUs\nfrom the peer switch.",
                  "ENABLE": "This parameter enables the static LACP configuration. The AP will work on LACP mode irrespective of whether or not the\npeer switch works on the LACP mode."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "LACP mode config."
              },
              "lacp-alias": {
                "description": "Alias for lacp mode.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "led": {
                "default": "true",
                "description": "Enable LED display on an AP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "led-override": {
                "default": "false",
                "description": "Override the LED action for LED operation mode normal.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "led-tap": {
                "default": "false",
                "description": "Enable LED tap detection on APs. Currently, this feature is only supported on AP605H.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "location": {
                "description": "Device location information.",
                "format": "const",
                "maxLength": 32,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "location-alias": {
                "description": "Alias for location.",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "mas-integration": {
                "description": "Enables mobility Access Switch integration on an AP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "module": {
                "description": "List of logging module configurations for specifying severity levels by type, process,\nand subcategory. Capacity constraints apply on a per-context basis.",
                "items": {
                  "properties": {
                    "severity": {
                      "description": "Minimum severity for logging.\nRange: EMERGENCY, ALERT, CRITICAL, ERROR, WARNING, NOTICE, INFO, DEBUG.",
                      "enum": [
                        "EMERGENCY",
                        "ALERT",
                        "CRITICAL",
                        "ERROR",
                        "WARNING",
                        "NOTICE",
                        "INFO",
                        "DEBUG",
                        "MAJOR"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ALERT": "Immediate action needed.",
                        "CRITICAL": "Critical Condition",
                        "DEBUG": "Debug Messages",
                        "EMERGENCY": "System is unusable",
                        "ERROR": "Error condition in the system",
                        "INFO": "Informational Messages",
                        "MAJOR": "Major condition",
                        "NOTICE": "Normal bug significant condition",
                        "WARNING": "Warning condition"
                      },
                      "x-typeDescription": "Logging level upto which, the messages are logged."
                    },
                    "type-process-subcategory": {
                      "description": "Key combination of type, process and subcategory separated by '~'.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "typeProcessSubcategory"
                ],
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "mtu": {
                "default": "1300",
                "description": "Configure the MTU size for tunnel and br0 interfaces, and uplink interface such as 3G or 4G.\nThe configured MTU size is applied when the uplink changes.",
                "format": "int32",
                "maximum": 1500,
                "minimum": 1024,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "name": {
[...]
