{
  "openapi": "3.1.0",
  "info": {
    "title": "Dns",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Dns"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/dns": {
      "get": {
        "description": "DNS parameters for handling the domain name, DNS resolver, DNS redirect and\nDNS static host configuration",
        "operationId": "readDns",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaDns_DnsSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing DNS profiles",
        "tags": [
          "Dns"
        ],
        "x-cliParam": {
          "commandName": "readDnsCmd",
          "commandUse": "dns",
          "parentCommand": "readCmd",
          "pathToPrint": "/dns/",
          "summary": "Read operation for dns"
        }
      }
    },
    "/network-config/v1alpha1/dns/{name}": {
      "get": {
        "description": "Global profile for DNS parameters",
        "operationId": "readDnsProfileByID",
        "parameters": [
          {
            "description": "DNS profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaDns_DnsprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing DNS profile",
        "tags": [
          "Dns"
        ],
        "x-cliParam": {
          "commandName": "readDnsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readDnsCmd",
          "pathToPrint": "/dns/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Global profile for DNS parameters",
        "operationId": "replaceDnsProfileByID",
        "parameters": [
          {
            "description": "DNS profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaDns_DnsprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or modify DNS profile",
        "tags": [
          "Dns"
        ],
        "x-cliParam": {
          "commandName": "replaceDnsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceDnsCmd",
          "pathToPrint": "/dns/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Global profile for DNS parameters",
        "operationId": "createDnsProfileByID",
        "parameters": [
          {
            "description": "DNS profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaDns_DnsprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new DNS profile",
        "tags": [
          "Dns"
        ],
        "x-cliParam": {
          "commandName": "createDnsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createDnsCmd",
          "pathToPrint": "/dns/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Global profile for DNS parameters",
        "operationId": "deleteDnsProfileByID",
        "parameters": [
          {
            "description": "DNS profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete existing DNS profile",
        "tags": [
          "Dns"
        ],
        "x-cliParam": {
          "commandName": "deleteDnsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteDnsCmd",
          "pathToPrint": "/dns/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Global profile for DNS parameters",
        "operationId": "updateDnsProfileByID",
        "parameters": [
          {
            "description": "DNS profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaDns_DnsprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Modify DNS profile",
        "tags": [
          "Dns"
        ],
        "x-cliParam": {
          "commandName": "updateDnsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateDnsCmd",
          "pathToPrint": "/dns/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaDns_DnsSchemaGET": {
        "description": "DNS parameters for handling the domain name, DNS resolver, DNS redirect and\nDNS static host configuration",
        "properties": {
          "profile": {
            "description": "Global profile for DNS parameters",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaDns_SystemGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaDns_DomainNameGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaDns_ResolverGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaDns_RedirectTopGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaDns_StaticHostsGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaDns_SplitDnsTopGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "DNS profile description",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "name": {
                      "description": "DNS profile name",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDns_DnsprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaDns_System"
          },
          {
            "$ref": "#/components/schemas/ArubaDns_DomainName"
          },
          {
            "$ref": "#/components/schemas/ArubaDns_Resolver"
          },
          {
            "$ref": "#/components/schemas/ArubaDns_RedirectTop"
          },
          {
            "$ref": "#/components/schemas/ArubaDns_StaticHosts"
          },
          {
            "$ref": "#/components/schemas/ArubaDns_SplitDnsTop"
          },
          {
            "properties": {
              "description": {
                "description": "DNS profile description",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "DNS profile name",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              }
            }
          }
        ]
      },
      "ArubaDns_DnsprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaDns_SystemGet"
          },
          {
            "$ref": "#/components/schemas/ArubaDns_DomainNameGet"
          },
          {
            "$ref": "#/components/schemas/ArubaDns_ResolverGet"
          },
          {
            "$ref": "#/components/schemas/ArubaDns_RedirectTopGet"
          },
          {
            "$ref": "#/components/schemas/ArubaDns_StaticHostsGet"
          },
          {
            "$ref": "#/components/schemas/ArubaDns_SplitDnsTopGet"
          },
          {
            "properties": {
              "description": {
                "description": "DNS profile description",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "DNS profile name",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              }
            }
          }
        ]
      },
      "ArubaDns_DomainName": {
        "description": "DNS domain-name grouping",
        "properties": {
          "domain": {
            "description": "DNS domain-names to be used for name resolution",
            "items": {
              "properties": {
                "name": {
                  "description": "Default domain name to be used for name resolution",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "name",
                  "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX",
                    "Gateway"
                  ]
                },
                "vrf": {
                  "description": "VRF for DNS client operation",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "domain-list": {
            "description": "A list of domain-names used for address resolution",
            "items": {
              "properties": {
                "name": {
                  "description": "List of domain-names to be used for name resolution",
                  "items": {
                    "description": "List of domain-names to be used for name resolution",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-patternSources": "name",
                    "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ]
                  },
                  "maxItems": 6,
                  "type": "array"
                },
                "vrf": {
                  "description": "VRF for DNS client operation",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDns_DomainNameGet": {
        "description": "DNS domain-name grouping",
        "properties": {
          "domain": {
            "description": "DNS domain-names to be used for name resolution",
            "items": {
              "properties": {
                "name": {
                  "description": "Default domain name to be used for name resolution",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "name",
                  "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX",
                    "Gateway"
                  ]
                },
                "vrf": {
                  "description": "VRF for DNS client operation",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "domain-list": {
            "description": "A list of domain-names used for address resolution",
            "items": {
              "properties": {
                "name": {
                  "description": "List of domain-names to be used for name resolution",
                  "items": {
                    "description": "List of domain-names to be used for name resolution",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-patternSources": "name",
                    "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ]
                  },
                  "maxItems": 6,
                  "type": "array"
                },
                "vrf": {
                  "description": "VRF for DNS client operation",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDns_RedirectTop": {
        "description": "Grouping for configuring the DNS servers to be used by the resolver for specific domains",
        "properties": {
          "redirect": {
            "description": "This container is deprecated, use from dns-redirect.yang.\nGrouping for configuring the DNS servers to be used by the resolver for specific domains.\nThe DNS queries for the configured domains will be redirected to the domain specific DNS servers.\nFor Gateway a maximum of 66 DNS servers per domain can be configured",
            "properties": {
              "server": {
                "description": "This is depreciated, List of redirect domains and servers.",
                "items": {
                  "properties": {
                    "domain-ip": {
                      "description": "Key combination of domain and ip separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    },
                    "priority": {
                      "description": "Prority of the DNS server with in the redirection domain. Lower the priority, higher the preference for the server",
                      "format": "int32",
                      "maximum": 3,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "domainIp"
                ],
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway",
              "Access Point"
            ]
          }
        }
      },
      "ArubaDns_RedirectTopGet": {
        "description": "Grouping for configuring the DNS servers to be used by the resolver for specific domains",
        "properties": {
          "redirect": {
            "description": "This container is deprecated, use from dns-redirect.yang.\nGrouping for configuring the DNS servers to be used by the resolver for specific domains.\nThe DNS queries for the configured domains will be redirected to the domain specific DNS servers.\nFor Gateway a maximum of 66 DNS servers per domain can be configured",
            "properties": {
              "server": {
                "description": "This is depreciated, List of redirect domains and servers.",
                "items": {
                  "properties": {
                    "domain-ip": {
                      "description": "Key combination of domain and ip separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    },
                    "priority": {
                      "description": "Prority of the DNS server with in the redirection domain. Lower the priority, higher the preference for the server",
                      "format": "int32",
                      "maximum": 3,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "domainIp"
                ],
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway",
              "Access Point"
            ]
          }
        }
      },
      "ArubaDns_Resolver": {
        "description": "Grouping for DNS resolver functionality",
        "properties": {
          "resolver": {
            "description": "List of DNS servers used for name resolution",
            "items": {
              "properties": {
                "name-server": {
                  "description": "List of DNS servers used for name resolution functionality.\nBoth Ipv4 and IPv6 servers can be configured",
                  "items": {
                    "properties": {
                      "ip": {
                        "description": "DNS server IP address to be used by resolver. Both IPv4 and IPv6 servers are supported",
                        "oneOf": [
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          },
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv6-address",
                            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                          }
                        ],
                        "x-supportedDeviceType": [
                          "Switch PVOS",
                          "Gateway"
                        ]
                      },
                      "management-interface": {
                        "default": "false",
                        "description": "Name server for Out-of-band Management (OOBM) interface",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "priority": {
                        "description": "Priority of the DNS server. Lower the priority, higher the preference for the server",
                        "format": "int32",
                        "maximum": 8,
                        "minimum": 1,
                        "type": "integer",
                        "x-mandatory": true,
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "vlan": {
                        "description": "VLAN Id for source interface",
                        "format": "int32",
                        "maximum": 4094,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ],
                        "x-typeDescription": "Type definition representing a single-tagged VLAN"
                      }
                    },
                    "required": [
                      "priority"
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "ip"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "vrf": {
                  "description": "VRF for DNS resolver operation",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "resolver-alias": {
            "description": "Aliases for the list of DNS name servers.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDns_ResolverGet": {
        "description": "Grouping for DNS resolver functionality",
        "properties": {
          "resolver": {
            "description": "List of DNS servers used for name resolution",
            "items": {
              "properties": {
                "name-server": {
                  "description": "List of DNS servers used for name resolution functionality.\nBoth Ipv4 and IPv6 servers can be configured",
                  "items": {
                    "properties": {
                      "ip": {
                        "description": "DNS server IP address to be used by resolver. Both IPv4 and IPv6 servers are supported",
                        "oneOf": [
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          },
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv6-address",
                            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                          }
                        ],
                        "x-supportedDeviceType": [
                          "Switch PVOS",
                          "Gateway"
                        ]
                      },
                      "management-interface": {
                        "default": "false",
                        "description": "Name server for Out-of-band Management (OOBM) interface",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "priority": {
                        "description": "Priority of the DNS server. Lower the priority, higher the preference for the server",
                        "format": "int32",
                        "maximum": 8,
                        "minimum": 1,
                        "type": "integer",
                        "x-mandatory": true,
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "vlan": {
                        "description": "VLAN Id for source interface",
                        "format": "int32",
                        "maximum": 4094,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ],
                        "x-typeDescription": "Type definition representing a single-tagged VLAN"
                      }
                    },
                    "required": [
                      "priority"
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "ip"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "vrf": {
                  "description": "VRF for DNS resolver operation",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "resolver-alias": {
            "description": "Aliases for the list of DNS name servers.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDns_SplitDnsTop": {
        "description": "Grouping to configure Split DNS functionality with enterprise domains for IAP-VPN use cases.",
        "properties": {
          "split-dns": {
            "description": "When the enterprise domain is configured, the DNS resolution for domain names\nin the enterprise domain list is forwarded to the default Corporate DNS server of the client.\nThe DNS resolution for all other domains is forwarded to the local DNS server of the AP's\nuplink learned DNS server.\nFor example, if the enterprise domain is configured for arubanetworks.com, the DNS resolution\nfor host names in the arubanetworks.com domain is forwarded to the default DNS server of the client.\nThe DNS resolution for domain names in all other domains is forwarded to the local DNS server of the IAP.\nThis Split DNS functionality is supported for IAP-VPN scenarios only.\nAOS8x IAP-VPN will use the enterprise domains list to split-dns, However AOS10x uses redirect\nlist with server ip address and domains for DNS resolutions same as BGW.",
            "properties": {
              "enterprise-domain": {
                "description": "Enterprise domain name or If an asterisk is configured in the enterprise domain list\ninstead of a domain name, then all DNS requests are forwarded to the\ndefault corporate DNS server of the client.",
                "items": {
                  "description": "Enterprise domain name or If an asterisk is configured in the enterprise domain list\ninstead of a domain name, then all DNS requests are forwarded to the\ndefault corporate DNS server of the client.",
                  "format": "pattern",
                  "maxLength": 128,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "enterprise-domain",
                  "x-patterns": "'[a-zA-Z*]([a-zA-Z0-9\\-]*[a-zA-Z0-9]+)?(\\.[a-zA-Z]([a-zA-Z0-9\\-]*[a-zA-Z0-9]+)?)*'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "maxItems": 4,
                "type": "array"
              }
            },
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "ArubaDns_SplitDnsTopGet": {
        "description": "Grouping to configure Split DNS functionality with enterprise domains for IAP-VPN use cases.",
        "properties": {
          "split-dns": {
            "description": "When the enterprise domain is configured, the DNS resolution for domain names\nin the enterprise domain list is forwarded to the default Corporate DNS server of the client.\nThe DNS resolution for all other domains is forwarded to the local DNS server of the AP's\nuplink learned DNS server.\nFor example, if the enterprise domain is configured for arubanetworks.com, the DNS resolution\nfor host names in the arubanetworks.com domain is forwarded to the default DNS server of the client.\nThe DNS resolution for domain names in all other domains is forwarded to the local DNS server of the IAP.\nThis Split DNS functionality is supported for IAP-VPN scenarios only.\nAOS8x IAP-VPN will use the enterprise domains list to split-dns, However AOS10x uses redirect\nlist with server ip address and domains for DNS resolutions same as BGW.",
            "properties": {
              "enterprise-domain": {
                "description": "Enterprise domain name or If an asterisk is configured in the enterprise domain list\ninstead of a domain name, then all DNS requests are forwarded to the\ndefault corporate DNS server of the client.",
                "items": {
                  "description": "Enterprise domain name or If an asterisk is configured in the enterprise domain list\ninstead of a domain name, then all DNS requests are forwarded to the\ndefault corporate DNS server of the client.",
                  "format": "pattern",
                  "maxLength": 128,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "enterprise-domain",
                  "x-patterns": "'[a-zA-Z*]([a-zA-Z0-9\\-]*[a-zA-Z0-9]+)?(\\.[a-zA-Z]([a-zA-Z0-9\\-]*[a-zA-Z0-9]+)?)*'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "maxItems": 4,
                "type": "array"
              }
            },
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "ArubaDns_StaticHosts": {
        "description": "Grouping to configure the static DNS list in the Gateways and Switches to enhance the resolution process by allowing users for local resolution for the configured host DNS entries.",
        "properties": {
          "static-host": {
            "description": "List of DNS static host-ip associations",
            "items": {
              "properties": {
                "host-ip": {
                  "description": "List of host-ip mappings",
                  "items": {
                    "properties": {
                      "host-ip": {
                        "description": "Host IP address of the FQDN. Gateway supports only IPv4 and CX switches support both IPv4 and IPv6",
                        "items": {
                          "description": "Host IP address of the FQDN. Gateway supports only IPv4 and CX switches support both IPv4 and IPv6",
                          "oneOf": [
                            {
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "ipv4-address",
                              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                            },
                            {
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "ipv6-address",
                              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                              "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                            }
                          ],
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Gateway"
                          ]
                        },
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array"
                      },
                      "hostname": {
                        "description": "FQDN of static host for local resolution",
                        "format": "const",
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Gateway"
                        ]
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "hostname"
                  ]
                },
                "vrf": {
                  "description": "VRF for DNS static hosts. For Gateway only default VRF is supported",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDns_StaticHostsGet": {
        "description": "Grouping to configure the static DNS list in the Gateways and Switches to enhance the resolution process by allowing users for local resolution for the configured host DNS entries.",
        "properties": {
          "static-host": {
            "description": "List of DNS static host-ip associations",
            "items": {
              "properties": {
                "host-ip": {
                  "description": "List of host-ip mappings",
                  "items": {
                    "properties": {
                      "host-ip": {
                        "description": "Host IP address of the FQDN. Gateway supports only IPv4 and CX switches support both IPv4 and IPv6",
                        "items": {
                          "description": "Host IP address of the FQDN. Gateway supports only IPv4 and CX switches support both IPv4 and IPv6",
                          "oneOf": [
                            {
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "ipv4-address",
                              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                            },
                            {
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "ipv6-address",
                              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                              "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                            }
                          ],
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Gateway"
                          ]
                        },
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array"
                      },
                      "hostname": {
                        "description": "FQDN of static host for local resolution",
                        "format": "const",
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Gateway"
                        ]
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "hostname"
                  ]
                },
                "vrf": {
                  "description": "VRF for DNS static hosts. For Gateway only default VRF is supported",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDns_System": {
        "description": "DNS system group. System level parameters",
        "properties": {
          "cache-size": {
            "default": "150",
            "description": "DNS cache size when the device is used as resolver or proxy. Default is 150",
            "format": "int32",
            "maximum": 4096,
            "minimum": 150,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "dhcp": {
            "default": "true",
            "description": "DNS parameters via DHCP",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "lookup": {
            "default": "true",
            "description": "Enable DNS resolver functionality",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "redirect-dns": {
            "default": "false",
            "description": "This element is deprecated, use from redirect-dns.yang. Enable redirect DNS resolver functionality",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "redirect-dns-vlans": {
            "description": "This element is deprecated, use from redirect-dns.yang. Enable redirect DNS resolver functionality",
            "enum": [
              "NONE",
              "ENABLE_ALL_VLANS",
              "L2VLANS_ONLY",
              "L3VLANS_ONLY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ENABLE_ALL_VLANS": "Enable redirect DNS resolver functionality for L2 & L3 VLANs",
              "L2VLANS_ONLY": "Enable redirect DNS resolver functionality for L2 Overlay VLANs",
              "L3VLANS_ONLY": "Enable redirect DNS resolver functionality for L3 VLANs",
              "NONE": "Disables redirect DNS resolver functionality"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Enable redirect DNS resolver on L2/L3 VLANS"
          }
        }
      },
      "ArubaDns_SystemGet": {
        "description": "DNS system group. System level parameters",
        "properties": {
          "cache-size": {
            "default": "150",
            "description": "DNS cache size when the device is used as resolver or proxy. Default is 150",
            "format": "int32",
            "maximum": 4096,
            "minimum": 150,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "dhcp": {
            "default": "true",
            "description": "DNS parameters via DHCP",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "lookup": {
            "default": "true",
            "description": "Enable DNS resolver functionality",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "redirect-dns": {
            "default": "false",
            "description": "This element is deprecated, use from redirect-dns.yang. Enable redirect DNS resolver functionality",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "redirect-dns-vlans": {
            "description": "This element is deprecated, use from redirect-dns.yang. Enable redirect DNS resolver functionality",
            "enum": [
              "NONE",
              "ENABLE_ALL_VLANS",
              "L2VLANS_ONLY",
              "L3VLANS_ONLY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ENABLE_ALL_VLANS": "Enable redirect DNS resolver functionality for L2 & L3 VLANs",
              "L2VLANS_ONLY": "Enable redirect DNS resolver functionality for L2 Overlay VLANs",
              "L3VLANS_ONLY": "Enable redirect DNS resolver functionality for L3 VLANs",
              "NONE": "Disables redirect DNS resolver functionality"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Enable redirect DNS resolver on L2/L3 VLANS"
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaDns_DnsprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaDns_DnsprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
