{
  "openapi": "3.1.0",
  "info": {
    "title": "Gw System",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Gw System"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/gw-system": {
      "get": {
        "description": "The Gateway System profile defines device-level operational parameters including timezone configuration, LCD menu controls, system IP addressing (controller-ip), global firewall policies, AAA authentication timers, RADIUS/TACACS+ client settings, IPv6 proxy router advertisements, DNS query intervals, and SNMP location attributes.\nThis profile relies on VLAN Interface and Loopback Interface configurations for network-facing parameters.\nCertain features like datapath energy efficiency, LCD menu, and GPS support are hardware-dependent and available only on specific Gateway models.\nUse this API to retrieve the list of Gateway System profiles.",
        "operationId": "readGwSystem",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaGwSystem_GwSystemSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read the configured Gateway System Profiles",
        "tags": [
          "Gw System"
        ],
        "x-cliParam": {
          "commandName": "readGwSystemCmd",
          "commandUse": "gw-system",
          "parentCommand": "readCmd",
          "pathToPrint": "/gw-system/",
          "summary": "Read operation for gw-system"
        }
      }
    },
    "/network-config/v1alpha1/gw-system/{name}": {
      "get": {
        "description": "A Gateway System profile instance encapsulates all device-level operational settings for a gateway.\nEach profile is uniquely identified by the profile name.\nUse these APIs to create, modify, or delete a Gateway System profile.",
        "operationId": "readGwSystemProfileByID",
        "parameters": [
          {
            "description": "System profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaGwSystem_GwSystemprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read an existing gateway system profile configuration",
        "tags": [
          "Gw System"
        ],
        "x-cliParam": {
          "commandName": "readGwSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readGwSystemCmd",
          "pathToPrint": "/gw-system/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "A Gateway System profile instance encapsulates all device-level operational settings for a gateway.\nEach profile is uniquely identified by the profile name.\nUse these APIs to create, modify, or delete a Gateway System profile.",
        "operationId": "replaceGwSystemProfileByID",
        "parameters": [
          {
            "description": "System profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaGwSystem_GwSystemprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing gateway system profile configurations",
        "tags": [
          "Gw System"
        ],
        "x-cliParam": {
          "commandName": "replaceGwSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceGwSystemCmd",
          "pathToPrint": "/gw-system/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "A Gateway System profile instance encapsulates all device-level operational settings for a gateway.\nEach profile is uniquely identified by the profile name.\nUse these APIs to create, modify, or delete a Gateway System profile.",
        "operationId": "createGwSystemProfileByID",
        "parameters": [
          {
            "description": "System profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaGwSystem_GwSystemprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create gateway system profile configurations",
        "tags": [
          "Gw System"
        ],
        "x-cliParam": {
          "commandName": "createGwSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createGwSystemCmd",
          "pathToPrint": "/gw-system/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "A Gateway System profile instance encapsulates all device-level operational settings for a gateway.\nEach profile is uniquely identified by the profile name.\nUse these APIs to create, modify, or delete a Gateway System profile.",
        "operationId": "deleteGwSystemProfileByID",
        "parameters": [
          {
            "description": "System profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete a gateway system profile",
        "tags": [
          "Gw System"
        ],
        "x-cliParam": {
          "commandName": "deleteGwSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteGwSystemCmd",
          "pathToPrint": "/gw-system/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "A Gateway System profile instance encapsulates all device-level operational settings for a gateway.\nEach profile is uniquely identified by the profile name.\nUse these APIs to create, modify, or delete a Gateway System profile.",
        "operationId": "updateGwSystemProfileByID",
        "parameters": [
          {
            "description": "System profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaGwSystem_GwSystemprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing gateway system profile configurations",
        "tags": [
          "Gw System"
        ],
        "x-cliParam": {
          "commandName": "updateGwSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateGwSystemCmd",
          "pathToPrint": "/gw-system/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaGwSystem_GwSystemSchemaGET": {
        "description": "The Gateway System profile defines device-level operational parameters including timezone configuration, LCD menu controls, system IP addressing (controller-ip), global firewall policies, AAA authentication timers, RADIUS/TACACS+ client settings, IPv6 proxy router advertisements, DNS query intervals, and SNMP location attributes.\nThis profile relies on VLAN Interface and Loopback Interface configurations for network-facing parameters.\nCertain features like datapath energy efficiency, LCD menu, and GPS support are hardware-dependent and available only on specific Gateway models.\nUse this API to retrieve the list of Gateway System profiles.",
        "properties": {
          "profile": {
            "description": "A Gateway System profile instance encapsulates all device-level operational settings for a gateway.\nEach profile is uniquely identified by the profile name.\nUse these APIs to create, modify, or delete a Gateway System profile.",
            "items": {
              "properties": {
                "aaa-timers": {
                  "description": "Configures timeout intervals for AAA (Authentication, Authorization, and Accounting) operations including server failure detection, user idle sessions, logon attempts, and RADIUS accounting updates.",
                  "properties": {
                    "dead-time": {
                      "default": "10",
                      "description": "Dead time interval in minutes for a down authentication server.\nValue of 0 disables dead time.",
                      "format": "int32",
                      "maximum": 60,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "idle-timeout": {
                      "default": "5",
                      "description": "Inactivity timeout for authenticated users in minutes. If no traffic is detected from a user for this duration, the session is terminated and re-authentication is required. This parameter is mutually exclusive with idle-timeout-seconds.",
                      "format": "int64",
                      "maximum": 255,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "idle-timeout-seconds": {
                      "default": "300",
                      "description": "User idle timeout in seconds.\nValid range is 30-15300 seconds in multiples of 30 seconds.\nThis field can be configured only if idle-timeout is not configured.",
                      "format": "int64",
                      "maximum": 15300,
                      "minimum": 30,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "logon-lifetime": {
                      "default": "5",
                      "description": "Maximum session duration for captive portal or web-authenticated users in minutes. After this time expires, the user must re-authenticate via the captive portal even if the session is active. Value of 0 disables the maximum lifetime, allowing sessions to persist until idle timeout or explicit logout.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "stats-timeout": {
                      "default": "10",
                      "description": "Interval for sending RADIUS Interim-Update accounting messages in minutes. These updates provide periodic usage statistics (bytes transferred, session duration) to the RADIUS server for active user sessions. Mutually exclusive with stats-timeout-seconds.",
                      "format": "int64",
                      "maximum": 60,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "stats-timeout-seconds": {
                      "default": "600",
                      "description": "User Interim stats timeout value in seconds. This field can be configured only if stats-timeout is not configured.",
                      "format": "int64",
                      "maximum": 3600,
                      "minimum": 60,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "auth-trace-loglevel": {
                  "description": "Enable authentication tracing with specified syslog level threshold.\nAll authentication-related syslog messages at or above this severity will be traced.",
                  "enum": [
                    "EMERGENCY",
                    "ALERT",
                    "CRITICAL",
                    "ERROR",
                    "WARN",
                    "NOTICE",
                    "INFO",
                    "DEBUG"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALERT": "Trace all logs equal or higher than LOG_ALERT",
                    "CRITICAL": "Trace all logs equal or higher than LOG_CRIT",
                    "DEBUG": "Trace all logs equal or higher than LOG_DEBUG",
                    "EMERGENCY": "Trace all logs equal or higher than LOG_EMERG",
                    "ERROR": "Trace all logs equal or higher than LOG_ERR",
                    "INFO": "Trace all logs equal or higher than LOG_INFO",
                    "NOTICE": "Trace all logs equal or higher than LOG_NOTICE",
                    "WARN": "Trace all logs equal or higher than LOG_WARN"
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Syslog severity level threshold for authentication tracing. All authentication-related syslog messages at or above this severity will be traced."
                },
                "contact": {
                  "description": "Device contact information, often an email.",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "cpdns-disable": {
                  "description": "Disables the gateway's automatic DNS redirection for captive portal detection. When enabled, the gateway will not intercept DNS queries from unauthenticated clients to force captive portal discovery. Mutually exclusive with cpdns-ip.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "cpdns-ip": {
                  "description": "Specifies a custom IP address returned in DNS responses to unauthenticated clients, forcing redirection to the captive portal. This overrides the default behavior of returning the gateway's own IP address. Mutually exclusive with cpdns-disable. Corresponds to the `ip cp-redirect-address` CLI command.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "datapath-energy-efficiency": {
                  "default": "true",
                  "description": "Minimizes idle CPU spinning. It is applicable only on x86 based platforms.\nNot supported on Gateway models: 7005, 7008, 7010, 7024, 7030, 7205, 7210, 7220, 7240, 7240XM, 7280.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "description": {
                  "description": "System profile description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "dns-query-interval": {
                  "default": "1",
                  "description": "Interval for re-resolving DNS hostnames configured in RADIUS and authentication server profiles. This ensures the gateway maintains current IP addresses for servers specified by FQDN rather than static IP.",
                  "format": "int32",
                  "maximum": 1440,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "dos-profile": {
                  "description": "Reference to DOS profile from gw-system profile. This config option will not pushed to the device.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-dos:dos/ac-dos:profile/ac-dos:name"
                },
                "fips": {
                  "default": "false",
                  "description": "Enable the Fips knob on the Aruba Gateway.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "firewall": {
                  "description": "Defines device-wide firewall behaviors that apply to all traffic regardless of user role or VLAN. These settings control inter-user traffic isolation, jumbo frame support, and VoIP QoS trust models.",
                  "properties": {
                    "deny-inter-user-bridging": {
                      "default": "false",
                      "description": "Prevents the forwarding of Layer2 traffic between wired or wireless users.\nYou can configure user role policies that prevent Layer3 traffic between users or networks but this does not block Layer2 traffic.\nThis option can be used to prevent traffic, such as Appletalk or IPX from being forwarded.\nIf enabled, traffic (all nonIP traffic) to untrusted port or tunnel is also blocked.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "deny-inter-user-bridging-allowed-addresses": {
                      "description": "Configure IPv4/IPv6 addresses to be exempted when deny-inter-user-bridging is enabled. Total IPv4 and IPv6 allowed addresses can't exceed 256",
                      "items": {
                        "properties": {
                          "ip-address": {
                            "description": "IPv4 or IPv6 address that needs to be allowed",
                            "oneOf": [
                              {
                                "format": "pattern",
                                "maxLength": 9999,
                                "type": "string",
                                "x-patternSources": "aruba-ipv4-address",
                                "x-patterns": "'(([1-9]|[1-9][0-9]|1[0-1][0-9]|12[0-6])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}|(12[8-9]|1[3-9][0-9]|2[0-1][0-9]|22[0-3])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}|(24[0-9]|25[0-4])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}|255\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-4])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){2}|255\\.255\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-4])\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])|255\\.255\\.255\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-4]))'",
                                "x-typeDescription": "An IPv4 address in dotted decimal notation.\nExcludes invalid/reserved addresses:\n- 0.0.0.0 (unspecified address)\n- 127.0.0.0/8 (loopback addresses)\n- 224.0.0.0/4 (multicast addresses, 224-239.x.x.x)\n- 255.255.255.255 (limited broadcast address)"
                              },
                              {
                                "format": "pattern",
                                "maxLength": 9999,
                                "type": "string",
                                "x-patternSources": "aruba-ipv6-address",
                                "x-patterns": "'(([1-9a-eA-E][0-9a-fA-F]{0,3}|[fF][0-9a-eA-E][0-9a-fA-F]{0,2}):([0-9a-fA-F]{1,4}:){6}[0-9a-fA-F]{1,4}|(0:){1,6}([1-9a-fA-F][0-9a-fA-F]{0,3}):([0-9a-fA-F]{1,4}:){0,5}[0-9a-fA-F]{1,4}|(0:){7}[2-9a-fA-F][0-9a-fA-F]{0,3}|([1-9a-eA-E][0-9a-fA-F]{0,3}|[fF][0-9a-eA-E][0-9a-fA-F]{0,2})::(([0-9a-fA-F]{1,4}:){0,5}[0-9a-fA-F]{1,4})?|([1-9a-eA-E][0-9a-fA-F]{0,3}|[fF][0-9a-eA-E][0-9a-fA-F]{0,2}):([0-9a-fA-F]{1,4}:)+:(([0-9a-fA-F]{1,4}:){0,4}[0-9a-fA-F]{1,4})?|::([2-9a-fA-F][0-9a-fA-F]{0,3}|[1][0-9a-fA-F]{1,3})(:[0-9a-fA-F]{1,4}){0,6}|::[1-9a-fA-F][0-9a-fA-F]{0,3}:(:[0-9a-fA-F]{1,4}){0,5}[0-9a-fA-F]{1,4}|::[0-9a-fA-F]{1,4}:([0-9a-fA-F]{1,4}:)+[0-9a-fA-F]{1,4})'",
                                "x-typeDescription": "An IPv6 address represented in standard notation (full, compressed, or mixed formats).\nDoes not include zone identifiers (e.g., %interface).\nExcludes invalid/reserved addresses:\n- :: (unspecified address, all zeros)\n- ::1 (loopback address)\n- ff00::/8 (multicast addresses, ffxx:...)"
                              }
                            ],
                            "x-mandatory": true,
                            "x-supportedDeviceType": [
                              "Gateway"
                            ]
                          },
                          "mac-address": {
                            "description": "mac-address that needs to be allowed",
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "mac-address",
                            "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                            "x-supportedDeviceType": [
                              "Gateway"
                            ],
                            "x-typeDescription": "An IEEE 802 MAC address"
                          }
                        },
                        "required": [
                          "ip-address"
                        ]
                      },
                      "maxItems": 256,
                      "type": "array",
                      "x-key": [
                        "ipAddress"
                      ],
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "deny-inter-user-traffic": {
                      "default": "false",
                      "description": "Denies downstream traffic between users in a wireless network (untrusted users) by disallowing layer2 and layer3 traffic.\nThis parameter does not depend on the deny-inter-userbridging parameter being enabled or disabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "drop-ipv4-options": {
                      "default": "false",
                      "description": "When enabled, all IPv4 packets with options are dropped. You should not enable this option unless instructed to do so by an Aruba representative",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enable-stateful-icmp": {
                      "default": "false",
                      "description": "Enables stateful ICMP processing. This parameter create sessions for ICMP errors and denies unidirectional replies. Disabled by default.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enforce-tcp-handshake": {
                      "default": "false",
                      "description": "Prevents data from passing between two clients until the three-way TCP handshake has been performed. This option should be disabled when you have mobile clients on the network as enabling this option will cause mobility to fail. You can enable this option if there are no mobile clients on the network.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enforce-tcp-sequence": {
                      "default": "false",
                      "description": "Enforces the TCP sequence numbers for all packets. Disabled by default",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "jumbo": {
                      "default": "false",
                      "description": "Enable Jumbo frames processing with default MTU value 9216",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "jumbo-mtu": {
                      "description": "Enable Jumbo frames processing with custom MTU value. Valid range is 1789-9216",
                      "format": "int32",
                      "maximum": 9216,
                      "minimum": 1789,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "voip-qos-trusted": {
                      "default": "false",
                      "description": "Prioritizes the RTP traffic based on the DSCP value set by the end user device",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "firewall-v6": {
                  "description": "Configure global IPv6 firewall policies",
                  "properties": {
                    "drop-ipv6-options": {
                      "default": "false",
                      "description": "When enabled, all IPv6 packets with options are dropped. You should not enable this option unless instructed to do so by an Aruba representative",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enable-stateful-icmp": {
                      "default": "false",
                      "description": "Enables stateful ICMP processing. This parameter create sessions for ICMP errors and denies unidirectional replies. Disabled by default.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enforce-tcp-handshake": {
                      "default": "false",
                      "description": "Prevents data from passing between two clients until the three-way TCP handshake has been performed. This option should be disabled when you have mobile clients on the network as enabling this option will cause mobility to fail. You can enable this option if there are no mobile clients on the network.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "enforce-tcp-sequence": {
                      "default": "false",
                      "description": "Enforces the TCP sequence numbers for all packets. Disabled by default",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "first-hop-security-profile": {
                  "description": "Reference to First hop security profile from gw-system profile. This config option will not pushed to the device.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-first-hop-security:first-hop-security/ac-first-hop-security:profile/ac-first-hop-security:name"
                },
                "gps": {
                  "default": "false",
                  "description": "Enable the GPS function on the Aruba modem. Available only on 9004-LTE (Gateway with integrated cellular modem)",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "ipv4-configuration": {
                  "description": "System IPv4 configurations, allows you to set either\nthe loopback interface or a specific VLAN interface\naddress. If the system IPv4 is not configured, then\nthe first configured VLAN interface address is selected\nby the device.",
                  "properties": {
                    "device-interface-type": {
                      "description": "Specifies the interface type used for the system controller IPv4 address.\nWhen set to VLAN, the device-vlan or device-vlan-alias parameter must also be specified to identify which VLAN interface to use. Corresponds to the `controller-ip` CLI command.",
                      "enum": [
                        "LOOPBACK",
                        "VLAN"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "LOOPBACK": "Uses the loopback interface IP address as the system identifier. Recommended for stable addressing as loopback interfaces remain up regardless of physical link state.",
                        "VLAN": "Uses a VLAN interface IP address as the system identifier. The system will use the primary IP address configured on the specified VLAN."
                      },
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Defines the interface type used for system-level IP addressing (controller-ip). This determines which IP address the gateway uses to identify itself to managed devices, RADIUS servers, and routing protocols."
                    },
                    "device-vlan": {
                      "description": "References an existing VLAN Interface profile by ID. The primary IPv4 address configured on this VLAN will be used as the controller-ip. Valid only when device-interface-type is set to VLAN.",
                      "format": "int32",
                      "maximum": 4094,
                      "minimum": 1,
                      "type": "integer",
                      "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Type definition representing a single-tagged VLAN"
                    },
                    "device-vlan-alias": {
                      "description": "Alias for device VLAN identifier, only applicable when device type is set to VLAN.\nIt cannot co-exist with device VLAN identifier field.",
                      "format": "pattern",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                      "x-patternSources": "name",
                      "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                    }
                  }
                },
                "ipv6-certification-mode": {
                  "description": "Enables IPv6 certification test mode for compliance validation. This mode adjusts protocol timers and behaviors to match IPv6 conformance test requirements (e.g., IPv6 Ready Logo testing). Should only be enabled in test environments.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "ipv6-configuration": {
                  "description": "System IPv6 configurations, allows you to set either\nthe loopback interface or a specific VLAN interface\naddress. If the system IPv6 is not configured, then\nthe first configured VLAN interface address is selected\nby the device.",
                  "properties": {
                    "device-address": {
                      "description": "Specific IPv6 address to use as the controller-ipv6 identifier. This address must be pre-configured on the VLAN interface specified in device-vlan.\nValid only when device-interface-type is set to VLAN. This parameter is restricted to device-level scope and cannot be applied at site or global levels.\nIt cannot co-exist with ipv6-device-vlan-alias.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    "device-interface-type": {
                      "description": "Device interface type to indicate either loopback or VLAN interface.",
                      "enum": [
                        "LOOPBACK",
                        "VLAN"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "LOOPBACK": "Uses the loopback interface IP address as the system identifier. Recommended for stable addressing as loopback interfaces remain up regardless of physical link state.",
                        "VLAN": "Uses a VLAN interface IP address as the system identifier. The system will use the primary IP address configured on the specified VLAN."
                      },
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Defines the interface type used for system-level IP addressing (controller-ip). This determines which IP address the gateway uses to identify itself to managed devices, RADIUS servers, and routing protocols."
                    },
                    "device-vlan": {
                      "description": "Device VLAN identifier, only applicable when device type is set to VLAN.\nIt cannot co-exist with ipv6-device-vlan-alias.",
                      "format": "int32",
                      "maximum": 4094,
                      "minimum": 1,
                      "type": "integer",
                      "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Type definition representing a single-tagged VLAN"
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "ipv6-device-vlan-alias": {
                  "description": "Alias for IPv6 device VLAN and address configuration, only applicable when device interface type is VLAN.\nIt cannot co-exist with direct device-vlan and device-address.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "ipv6-enable": {
                  "description": "Master enable for IPv6 protocol support on the gateway. When disabled, the device will drop all IPv6 packets and will not participate in IPv6 routing or forwarding.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "ipv6-proxy-ra": {
                  "description": "Configures the gateway to act as an IPv6 router advertisement proxy, forwarding RA messages between network segments. This allows IPv6 clients on downstream VLANs to receive router advertisements from upstream routers without direct Layer 2 connectivity.",
                  "properties": {
                    "advertise-interval": {
                      "description": "Interval for sending unsolicited IPv6 Router Advertisement messages in seconds. Per RFC 4861, this value must be between 180 and 1800 seconds.",
                      "format": "int32",
                      "maximum": 1800,
                      "minimum": 180,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "ipv6-transition-mode": {
                  "description": "Enable IPv6 transition-mode.\nSupported modes: NAT64.",
                  "enum": [
                    "NAT64"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "NAT64": "Network Address Translation from IPv6 to IPv4 (NAT64) as defined in RFC 6146. Enables IPv6-only clients to access IPv4-only services through stateful address translation."
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "IPv6 transition mechanism for facilitating communication between IPv6 and IPv4 networks. NAT64 is currently the only supported mode."
                },
                "lcd": {
                  "description": "Controls visibility of maintenance operations in the physical LCD menu panel on the front of the gateway.\nAvailable only on Gateway models with LCD displays: 7010, 7030, 7024, 7205, 7210, 7220, 7240, 7240XM, 7280, 9240.\nRestricting menu options prevents unauthorized physical access to factory reset, system halt, and image upgrade functions.",
                  "properties": {
                    "eject-slot0": {
                      "default": "true",
                      "description": "Disable media eject via LCD.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "eject-slot1": {
                      "default": "true",
                      "description": "Disable media eject via LCD.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "main-factory-default": {
                      "default": "true",
                      "description": "Controls visibility of the factory-default option in the LCD maintenance menu. When enabled (true), the option is visible and accessible.\nWhen disabled (false), factory reset cannot be initiated from the physical LCD panel, providing protection against accidental or unauthorized device resets.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "main-halt-system": {
                      "default": "true",
                      "description": "Disable system halt from LCD",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "main-media-eject": {
                      "default": "true",
                      "description": "Enable media eject via LCD",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "main-reload-system": {
                      "default": "true",
                      "description": "Disable system reload from LCD.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "main-upgrade-image-part": {
                      "default": "true",
                      "description": "Disable image upgrade partition via LCD.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "main-upload-config": {
                      "default": "true",
                      "description": "Disable Config Upload via LCD.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "menu": {
                      "default": "true",
                      "description": "Master enable/disable for all LCD menu functionality. When disabled, the LCD screen becomes read-only and displays only system status information.\nAll sub-menu controls (maintenance, factory-default, etc.) are automatically disabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "menu-maintenance": {
                      "default": "true",
                      "description": "Configuration for the lcd-menu maintenance.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "upgrade-image-partition0": {
                      "default": "true",
                      "description": "Disable image upgrade partition via LCD.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "upgrade-image-partition1": {
                      "default": "true",
                      "description": "Disable image upgrade partition via LCD.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "location": {
                  "description": "Free-form text describing the physical location of the device. This value is exposed via SNMP sysLocation OID (1.3.6.1.2.1.1.6). Maximum length is platform-dependent.",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "logging": {
                  "description": "Controls local log message verbosity by module type, process, and severity level. This affects what diagnostic information is captured in the device's internal log buffers and forwarded to external syslog servers.",
                  "properties": {
                    "module": {
                      "description": "Defines per-module logging rules combining type, process, severity, and optional filtering by process, subcategory, or trace identifier. Each rule controls the minimum subcategory level for messages from specific system components.",
                      "items": {
                        "properties": {
                          "process": {
                            "default": "NONE",
                            "description": "Name of the debug process.",
                            "oneOf": [
                              {
                                "enum": [
                                  "NONE"
                                ],
                                "format": "enum",
                                "type": "string",
                                "x-enumDescriptions": {
                                  "NONE": "No specific process"
                                }
                              },
                              {
                                "enum": [
                                  "AAA",
                                  "AMON_RECVR",
                                  "AMON_SENDER",
                                  "APPRF",
                                  "APPROC",
                                  "AUTHMGR",
                                  "BLE_DAEMON_S",
                                  "BLE_RELAY",
                                  "BOCMGR",
                                  "CERT_DWNLD",
                                  "CERTMGR",
                                  "CFGM",
                                  "CLUSTER_MGR",
                                  "CLUSTER_UPGRADE_MGR",
                                  "CPSEC",
                                  "CRYPTO",
                                  "CTS",
                                  "DDS",
                                  "DHCPD",
                                  "DPAGENT",
                                  "ESI",
                                  "EXTIFMGR",
                                  "FPAPPS",
                                  "FW_VISIBILITY",
                                  "GSMMGR",
                                  "HCM",
                                  "HTTPD",
                                  "HWMON",
                                  "IAPMGR",
                                  "IP_FLOW_EXPORT",
                                  "IPSTM",
                                  "L2TP",
                                  "L3D",
                                  "LICENSEMGR",
                                  "LLDP",
                                  "LOCALDB",
                                  "MDNS",
                                  "MOBILEIP",
                                  "MON_SERV",
                                  "MON_SERV_FWV",
                                  "NPPPD",
                                  "OFA",
                                  "OSPF",
                                  "PACKETFILTER",
                                  "PHONEHOME",
                                  "PIM",
                                  "PROCESSES",
                                  "PROFMGR",
                                  "PUBLISHER",
                                  "RADVD",
                                  "RESOLVWRAP",
                                  "RNG_MGR",
                                  "SNMP",
                                  "SPECTRUM",
                                  "STM",
                                  "SURVIVAL",
                                  "SYSLOGDWRAP",
                                  "TRAFFIC",
                                  "UTIL_PROC",
                                  "WEB_CC",
                                  "WEBD",
                                  "WMS"
                                ],
                                "format": "enum",
                                "type": "string",
                                "x-enumDescriptions": {
                                  "AAA": "Logging for administrator authentication",
                                  "AMON_RECVR": "Logging for AMON_RECVR Process",
                                  "AMON_SENDER": "Logging for AMON_SENDER Process",
                                  "APPRF": "Logging for APPRF feature on Service Controllers",
                                  "APPROC": "Logging for AP processes",
                                  "AUTHMGR": "Logging for user authentication",
                                  "BLE_DAEMON_S": "Logging for BLE Daemon Process on 90xx controllers",
                                  "BLE_RELAY": "Logging for BLE Relay",
                                  "BOCMGR": "Logging for BOC Manager",
                                  "CERTMGR": "Logging for Certificate Manager",
                                  "CERT_DWNLD": "Logging for Cert Download Process",
                                  "CFGM": "Logging for Configuration Manager",
                                  "CLUSTER_MGR": "Logging for Cluster Manager",
                                  "CLUSTER_UPGRADE_MGR": "Logging for Cluster Upgrade Manager",
                                  "CPSEC": "Logging for CPSec daemon",
                                  "CRYPTO": "Logging for VPN (IKE/IPSEC)",
                                  "CTS": "Logging for transport service",
                                  "DDS": "Logging for DDS Process",
                                  "DHCPD": "Logging for DHCP packets",
                                  "DPAGENT": "Logging for DPAGENT process",
                                  "ESI": "Logging for External Services Interface",
                                  "EXTIFMGR": "Logging for External Interface Manager",
                                  "FPAPPS": "Logging for Layer 2,3 control",
                                  "FW_VISIBILITY": "Logging for FW Visibility Process",
                                  "GSMMGR": "Logging for GSM Manager",
                                  "HCM": "Logging for Health Check Process",
                                  "HTTPD": "Logging for Apache",
                                  "HWMON": "Logging for hwMon task",
                                  "IAPMGR": "Logging for IAP manager process",
                                  "IPSTM": "Logging for IPSTM Process",
                                  "IP_FLOW_EXPORT": " Logging for IP Flow Export Process",
                                  "L2TP": "Logging for L2TP",
                                  "L3D": "Logging for AOS Layer3 module",
                                  "LICENSEMGR": "Logging for License Manager",
                                  "LLDP": "Logging for LLDP Process",
                                  "LOCALDB": "Logging for local database",
                                  "MDNS": "Logging for MDNS Proxy",
                                  "MOBILEIP": "Logging for Mobile IP",
                                  "MON_SERV": "Logging for MON_SERV Process",
                                  "MON_SERV_FWV": "Logging for MON_SERV_FWV Process",
                                  "NPPPD": "Logging for NPPPD",
                                  "OFA": "Logging for OpenFlow Agent Process",
                                  "OSPF": "Logging for OSPF",
                                  "PACKETFILTER": "Logging for Packet filtering of messaging and control frames",
                                  "PHONEHOME": "Logging for Phone Home",
                                  "PIM": "Logging for Protocol Independent Multicast",
                                  "PROCESSES": "Logging for run-time processes",
                                  "PROFMGR": "Logging for Profile Manager",
                                  "PUBLISHER": "Logging for publish subscribe service",
                                  "RADVD": "Logging for Router Advertisement daemon",
                                  "RESOLVWRAP": "Logging for Resolvwrap Process",
                                  "RNG_MGR": "Logging for RNG Manager",
                                  "SNMP": "Logging for SNMP agent",
                                  "SPECTRUM": "Logging for Spectrum process",
                                  "STM": "Logging for Station Management",
                                  "SURVIVAL": "Logging for Auth Survival Server",
                                  "SYSLOGDWRAP": "Logging for Syslogd Wrap",
                                  "TRAFFIC": "Logging for traffic",
                                  "UTIL_PROC": "Logging for Util Proc",
                                  "WEBD": "Logging for Web Daemon",
                                  "WEB_CC": "Logging for Web Content classification",
                                  "WMS": "Logging for Wireless Management (Master switch only)"
                                },
                                "x-typeDescription": "Logging ap-debug user-debug wireless Process type."
                              },
                              {
                                "enum": [
                                  "AAA",
                                  "AMON_RECVR",
                                  "AMON_SENDER",
                                  "APPRF",
                                  "APPROC",
                                  "ARMD",
                                  "AUTHMGR",
                                  "BLE_DAEMON_S",
                                  "BLE_RELAY",
                                  "BOCMGR",
                                  "CERT_DWNLD",
                                  "CERTMGR",
                                  "CFGM",
                                  "CLUSTER_MGR",
                                  "CLUSTER_UPGRADE_MGR",
                                  "CPSEC",
                                  "CRYPTO",
                                  "CTS",
                                  "DDS",
                                  "DHCPD",
                                  "DPAGENT",
                                  "ESI",
                                  "EXTIFMGR",
                                  "FPAPPS",
                                  "FW_VISIBILITY",
                                  "GSMMGR",
                                  "HCM",
                                  "HTTPD",
                                  "HWMON",
                                  "IAPMGR",
                                  "IP_FLOW_EXPORT",
                                  "IPSTM",
                                  "L2TP",
                                  "L3D",
                                  "LICENSEMGR",
                                  "LLDP",
                                  "LOCALDB",
                                  "MDNS",
                                  "MOBILEIP",
                                  "MON_SERV",
                                  "MON_SERV_FWV",
                                  "NPPPD",
                                  "OFA",
                                  "OSPF",
                                  "PACKETFILTER",
                                  "PHONEHOME",
                                  "PIM",
                                  "PROCESSES",
                                  "PROFMGR",
                                  "PUBLISHER",
                                  "RADVD",
                                  "RESOLVWRAP",
                                  "RNG_MGR",
                                  "SNMP",
                                  "SPECTRUM",
                                  "STM",
                                  "SURVIVAL",
                                  "SYSLOGDWRAP",
                                  "TRAFFIC",
                                  "UTIL_PROC",
                                  "WEB_CC",
                                  "WEBD",
                                  "WMS"
                                ],
                                "format": "enum",
                                "type": "string",
                                "x-enumDescriptions": {
                                  "AAA": "Logging for administrator authentication",
                                  "AMON_RECVR": "Logging for AMON_RECVR Process",
                                  "AMON_SENDER": "Logging for AMON_SENDER Process",
                                  "APPRF": "Logging for APPRF feature on Service Controllers",
                                  "APPROC": "Logging for AP processes",
                                  "ARMD": "Logging for ARM Process",
                                  "AUTHMGR": "Logging for user authentication",
                                  "BLE_DAEMON_S": "Logging for BLE Daemon Process on 90xx controllers",
                                  "BLE_RELAY": "Logging for BLE Relay",
                                  "BOCMGR": "Logging for BOC Manager",
                                  "CERTMGR": "Logging for Certificate Manager",
                                  "CERT_DWNLD": "Logging for Cert Download Process",
                                  "CFGM": "Logging for Configuration Manager",
                                  "CLUSTER_MGR": "Logging for Cluster Manager",
                                  "CLUSTER_UPGRADE_MGR": "Logging for Cluster Upgrade Manager",
                                  "CPSEC": "Logging for CPSec daemon",
                                  "CRYPTO": "Logging for VPN (IKE/IPSEC)",
                                  "CTS": "Logging for transport service",
                                  "DDS": "Logging for DDS Process",
                                  "DHCPD": "Logging for DHCP packets",
                                  "DPAGENT": "Logging for DPAGENT process",
                                  "ESI": "Logging for External Services Interface",
                                  "EXTIFMGR": "Logging for External Interface Manager",
                                  "FPAPPS": "Logging for Layer 2,3 control",
                                  "FW_VISIBILITY": "Logging for FW Visibility Process",
                                  "GSMMGR": "Logging for GSM Manager",
                                  "HCM": "Logging for Health Check Process",
                                  "HTTPD": "Logging for Apache",
                                  "HWMON": "Logging for hwMon task",
                                  "IAPMGR": "Logging for IAP manager process",
                                  "IPSTM": "Logging for IPSTM Process",
                                  "IP_FLOW_EXPORT": " Logging for IP Flow Export Process",
                                  "L2TP": "Logging for L2TP",
                                  "L3D": "Logging for AOS Layer3 module",
                                  "LICENSEMGR": "Logging for License Manager",
                                  "LLDP": "Logging for LLDP Process",
                                  "LOCALDB": "Logging for local database",
                                  "MDNS": "Logging for MDNS Proxy",
                                  "MOBILEIP": "Logging for Mobile IP",
                                  "MON_SERV": "Logging for MON_SERV Process",
                                  "MON_SERV_FWV": "Logging for MON_SERV_FWV Process",
                                  "NPPPD": "Logging for NPPPD",
                                  "OFA": "Logging for OpenFlow Agent Process",
                                  "OSPF": "Logging for OSPF",
                                  "PACKETFILTER": "Logging for Packet filtering of messaging and control frames",
                                  "PHONEHOME": "Logging for Phone Home",
                                  "PIM": "Logging for Protocol Independent Multicast",
                                  "PROCESSES": "Logging for run-time processes",
                                  "PROFMGR": "Logging for Profile Manager",
                                  "PUBLISHER": "Logging for publish subscribe service",
                                  "RADVD": "Logging for Router Advertisement daemon",
                                  "RESOLVWRAP": "Logging for Resolvwrap Process",
                                  "RNG_MGR": "Logging for RNG Manager",
                                  "SNMP": "Logging for SNMP agent",
                                  "SPECTRUM": "Logging for Spectrum process",
                                  "STM": "Logging for Station Management",
                                  "SURVIVAL": "Logging for Auth Survival Server",
                                  "SYSLOGDWRAP": "Logging for Syslogd Wrap",
                                  "TRAFFIC": "Logging for traffic",
                                  "UTIL_PROC": "Logging for Util Proc",
                                  "WEBD": "Logging for Web Daemon",
                                  "WEB_CC": "Logging for Web Content classification",
                                  "WMS": "Logging for Wireless Management (Master switch only)"
                                },
                                "x-typeDescription": "Logging arm arm-user-debug wireless Process type."
                              },
                              {
                                "enum": [
                                  "AAA",
                                  "AMON_RECVR",
                                  "AMON_SENDER",
                                  "APPRF",
                                  "APPROC",
                                  "ARMD",
                                  "AUTHMGR",
                                  "BLE_DAEMON_S",
                                  "BLE_RELAY",
                                  "BOCMGR",
                                  "CERT_DWNLD",
                                  "CERTMGR",
                                  "CFGM",
                                  "CLUSTER_MGR",
                                  "CLUSTER_UPGRADE_MGR",
                                  "CPSEC",
                                  "CRYPTO",
                                  "CTS",
                                  "DBSYNC",
                                  "DDS",
                                  "DHCPD",
                                  "DHCPDRELAY6",
                                  "DHCPDVIAPROXY",
                                  "DPAGENT",
                                  "ESI",
                                  "EXTIFMGR",
                                  "FLBWRAP",
                                  "FPAPPS",
                                  "FW_VISIBILITY",
                                  "GSMMGR",
                                  "HCM",
                                  "HTTPD",
                                  "HWMON",
                                  "IAPMGR",
                                  "IDPS_MGR",
                                  "IP_FLOW_EXPORT",
                                  "IPSTM",
                                  "L2TP",
                                  "L3D",
                                  "LAGM",
                                  "LICENSEMGR",
                                  "LLDP",
                                  "LOCALDB",
                                  "MDNS",
                                  "MOBILEIP",
                                  "MON_SERV",
                                  "MON_SERV_FWV",
                                  "NPPPD",
                                  "NTPWRAP",
                                  "OFA",
                                  "OSPF",
                                  "PACKETFILTER",
                                  "PHONEHOME",
                                  "PIM",
                                  "PPTP",
                                  "PROCESSES",
                                  "PROFMGR",
                                  "PUBLISHER",
                                  "RADVD",
                                  "RESOLVWRAP",
                                  "RFM",
                                  "RNG_MGR",
                                  "RSYNC",
                                  "SC_REPLICATION_MGR",
                                  "SNMP",
                                  "SPECTRUM",
                                  "STM",
                                  "SURVIVAL",
                                  "SYSLOGDWRAP",
                                  "TRAFFIC",
                                  "UPLOAD_SYNC_MGR",
                                  "UTIL_PROC",
                                  "VNF_MGR",
                                  "WEB_CC",
                                  "WEBD",
                                  "WMS"
                                ],
                                "format": "enum",
                                "type": "string",
                                "x-enumDescriptions": {
                                  "AAA": "Logging for administrator authentication",
                                  "AMON_RECVR": "Logging for AMON_RECVR Process",
                                  "AMON_SENDER": "Logging for AMON_SENDER Process",
                                  "APPRF": "Logging for APPRF feature on Service Controllers",
                                  "APPROC": "Logging for AP processes",
                                  "ARMD": "Logging for ARM Process",
                                  "AUTHMGR": "Logging for user authentication",
                                  "BLE_DAEMON_S": "Logging for BLE Daemon Process on 90xx controllers",
                                  "BLE_RELAY": "Logging for BLE Relay",
                                  "BOCMGR": "Logging for BOC Manager",
                                  "CERTMGR": "Logging for Certificate Manager",
                                  "CERT_DWNLD": "Logging for Cert Download Process",
                                  "CFGM": "Logging for Configuration Manager",
                                  "CLUSTER_MGR": "Logging for Cluster Manager",
                                  "CLUSTER_UPGRADE_MGR": "Logging for Cluster Upgrade Manager",
                                  "CPSEC": "Logging for CPSec daemon",
                                  "CRYPTO": "Logging for VPN (IKE/IPSEC)",
                                  "CTS": "Logging for transport service",
                                  "DBSYNC": "Logging for Database Synchronization",
                                  "DDS": "Logging for DDS Process",
                                  "DHCPD": "Logging for DHCP packets",
                                  "DHCPDRELAY6": "Logging for DHCPv6 Relay Process",
                                  "DHCPDVIAPROXY": "Logging for Dhcpdviaproxy Process",
                                  "DPAGENT": "Logging for DPAGENT process",
                                  "ESI": "Logging for External Services Interface",
                                  "EXTIFMGR": "Logging for External Interface Manager",
                                  "FLBWRAP": "Logging for flbwrap Process",
                                  "FPAPPS": "Logging for Layer 2,3 control",
                                  "FW_VISIBILITY": "Logging for FW Visibility Process",
                                  "GSMMGR": "Logging for GSM Manager",
                                  "HCM": "Logging for Health Check Process",
                                  "HTTPD": "Logging for Apache",
                                  "HWMON": "Logging for hwMon task",
                                  "IAPMGR": "Logging for IAP manager process",
                                  "IDPS_MGR": "Logging for IDPS Manager Process on 90xx controllers",
                                  "IPSTM": "Logging for IPSTM Process",
                                  "IP_FLOW_EXPORT": " Logging for IP Flow Export Process",
                                  "L2TP": "Logging for L2TP",
                                  "L3D": "Logging for AOS Layer3 module",
                                  "LAGM": "Logging for lagm process",
                                  "LICENSEMGR": "Logging for License Manager",
                                  "LLDP": "Logging for LLDP Process",
                                  "LOCALDB": "Logging for local database",
                                  "MDNS": "Logging for MDNS Proxy",
                                  "MOBILEIP": "Logging for Mobile IP",
                                  "MON_SERV": "Logging for MON_SERV Process",
                                  "MON_SERV_FWV": "Logging for MON_SERV_FWV Process",
                                  "NPPPD": "Logging for NPPPD",
                                  "NTPWRAP": "Logging for NTPWRAP process",
                                  "OFA": "Logging for OpenFlow Agent Process",
                                  "OSPF": "Logging for OSPF",
                                  "PACKETFILTER": "Logging for Packet filtering of messaging and control frames",
                                  "PHONEHOME": "Logging for Phone Home",
                                  "PIM": "Logging for Protocol Independent Multicast",
                                  "PPTP": "Logging for PPTP",
                                  "PROCESSES": "Logging for run-time processes",
                                  "PROFMGR": "Logging for Profile Manager",
                                  "PUBLISHER": "Logging for publish subscribe service",
                                  "RADVD": "Logging for Router Advertisement daemon",
                                  "RESOLVWRAP": "Logging for Resolvwrap Process",
                                  "RFM": "Logging for RFM",
                                  "RNG_MGR": "Logging for RNG Manager",
                                  "RSYNC": "Logging for Rsync",
                                  "SC_REPLICATION_MGR": "Logging for SC Replication Manager",
                                  "SNMP": "Logging for SNMP agent",
                                  "SPECTRUM": "Logging for Spectrum process",
                                  "STM": "Logging for Station Management",
                                  "SURVIVAL": "Logging for Auth Survival Server",
                                  "SYSLOGDWRAP": "Logging for Syslogd Wrap",
                                  "TRAFFIC": "Logging for traffic",
                                  "UPLOAD_SYNC_MGR": "Logging for Upload Sync Manager",
                                  "UTIL_PROC": "Logging for Util Proc",
                                  "VNF_MGR": "Logging for VNF Manager Process on 90xx controllers",
                                  "WEBD": "Logging for Web Daemon",
                                  "WEB_CC": "Logging for Web Content classification",
                                  "WMS": "Logging for Wireless Management (Master switch only)"
                                },
                                "x-typeDescription": "Logging network Process type."
                              },
                              {
                                "enum": [
                                  "CRYPTO"
                                ],
                                "format": "enum",
                                "type": "string",
                                "x-enumDescriptions": {
                                  "CRYPTO": "Logging for VPN (IKE/IPSEC)"
                                },
                                "x-typeDescription": "Logging peer-debug Process type."
                              },
                              {
                                "enum": [
                                  "AAA",
                                  "AMON_RECVR",
                                  "AMON_SENDER",
                                  "APPRF",
                                  "APPROC",
                                  "ARMD",
                                  "AUTHMGR",
                                  "BLE_DAEMON_S",
                                  "BLE_RELAY",
                                  "BOCMGR",
                                  "CERT_DWNLD",
                                  "CERTMGR",
                                  "CFGM",
                                  "CLUSTER_MGR",
                                  "CLUSTER_UPGRADE_MGR",
                                  "CPSEC",
                                  "CRYPTO",
                                  "CTS",
                                  "DDS",
                                  "DHCPD",
                                  "DOT1X_PROC",
                                  "DPAGENT",
                                  "ESI",
                                  "EXTIFMGR",
                                  "FLBWRAP",
                                  "FPAPPS",
                                  "FW_VISIBILITY",
                                  "GSMMGR",
                                  "HCM",
                                  "HTTPD",
                                  "HWMON",
                                  "IAPMGR",
                                  "IDPS_MGR",
                                  "IP_FLOW_EXPORT",
                                  "IPSTM",
                                  "L2TP",
                                  "L3D",
                                  "LICENSEMGR",
                                  "LLDP",
                                  "LOCALDB",
                                  "MDNS",
                                  "MOBILEIP",
                                  "MON_SERV",
                                  "MON_SERV_FWV",
                                  "NPPPD",
                                  "OFA",
                                  "OFF_LOADER",
                                  "PACKETFILTER",
                                  "PHONEHOME",
                                  "PIM",
                                  "PPTP",
                                  "PROCESSES",
                                  "PROFMGR",
                                  "PUBLISHER",
                                  "RADPROXY",
                                  "RADVD",
                                  "RESOLVWRAP",
                                  "RFM",
                                  "RNG_MGR",
                                  "SNMP",
                                  "SPECTRUM",
                                  "STM",
                                  "SURVIVAL",
                                  "SYSLOGDWRAP",
                                  "TRAFFIC",
                                  "TUNNELMGR",
                                  "UPLOAD_SYNC_MGR",
                                  "UTIL_PROC",
                                  "VNF_MGR",
                                  "WEB_CC",
                                  "WEBD",
                                  "WMS",
                                  "WPA3_SAE"
                                ],
                                "format": "enum",
                                "type": "string",
                                "x-enumDescriptions": {
                                  "AAA": "Logging for administrator authentication",
                                  "AMON_RECVR": "Logging for AMON_RECVR Process",
                                  "AMON_SENDER": "Logging for AMON_SENDER Process",
                                  "APPRF": "Logging for APPRF feature on Service Controllers",
                                  "APPROC": "Logging for AP processes",
                                  "ARMD": "Logging for ARM Process",
                                  "AUTHMGR": "Logging for user authentication",
                                  "BLE_DAEMON_S": "Logging for BLE Daemon Process on 90xx controllers",
                                  "BLE_RELAY": "Logging for BLE Relay",
                                  "BOCMGR": "Logging for BOC Manager",
                                  "CERTMGR": "Logging for Certificate Manager",
                                  "CERT_DWNLD": "Logging for Cert Download Process",
                                  "CFGM": "Logging for Configuration Manager",
                                  "CLUSTER_MGR": "Logging for Cluster Manager",
                                  "CLUSTER_UPGRADE_MGR": "Logging for Cluster Upgrade Manager",
                                  "CPSEC": "Logging for CPSec daemon",
                                  "CRYPTO": "Logging for VPN (IKE/IPSEC)",
                                  "CTS": "Logging for transport service",
                                  "DDS": "Logging for DDS Process",
                                  "DHCPD": "Logging for DHCP packets",
                                  "DOT1X_PROC": "Logging for dot1x authentication",
                                  "DPAGENT": "Logging for DPAGENT process",
                                  "ESI": "Logging for External Services Interface",
                                  "EXTIFMGR": "Logging for External Interface Manager",
                                  "FLBWRAP": "Logging for flbwrap Process",
                                  "FPAPPS": "Logging for Layer 2,3 control",
                                  "FW_VISIBILITY": "Logging for FW Visibility Process",
                                  "GSMMGR": "Logging for GSM Manager",
                                  "HCM": "Logging for Health Check Process",
                                  "HTTPD": "Logging for Apache",
                                  "HWMON": "Logging for hwMon task",
                                  "IAPMGR": "Logging for IAP manager process",
                                  "IDPS_MGR": "Logging for IDPS Manager Process on 90xx controllers",
                                  "IPSTM": "Logging for IPSTM Process",
                                  "IP_FLOW_EXPORT": " Logging for IP Flow Export Process",
                                  "L2TP": "Logging for L2TP",
                                  "L3D": "Logging for AOS Layer3 module",
                                  "LICENSEMGR": "Logging for License Manager",
                                  "LLDP": "Logging for LLDP Process",
                                  "LOCALDB": "Logging for local database",
                                  "MDNS": "Logging for MDNS Proxy",
                                  "MOBILEIP": "Logging for Mobile IP",
                                  "MON_SERV": "Logging for MON_SERV Process",
                                  "MON_SERV_FWV": "Logging for MON_SERV_FWV Process",
                                  "NPPPD": "Logging for NPPPD",
                                  "OFA": "Logging for OpenFlow Agent Process",
                                  "OFF_LOADER": "Logging for Off-Loader",
                                  "PACKETFILTER": "Logging for Packet filtering of messaging and control frames",
                                  "PHONEHOME": "Logging for Phone Home",
                                  "PIM": "Logging for Protocol Independent Multicast",
                                  "PPTP": "Logging for PPTP",
                                  "PROCESSES": "Logging for run-time processes",
                                  "PROFMGR": "Logging for Profile Manager",
                                  "PUBLISHER": "Logging for publish subscribe service",
                                  "RADPROXY": "Logging for RADIUS Proxy",
                                  "RADVD": "Logging for Router Advertisement daemon",
                                  "RESOLVWRAP": "Logging for Resolvwrap Process",
                                  "RFM": "Logging for RFM",
                                  "RNG_MGR": "Logging for RNG Manager",
                                  "SNMP": "Logging for SNMP agent",
                                  "SPECTRUM": "Logging for Spectrum process",
                                  "STM": "Logging for Station Management",
                                  "SURVIVAL": "Logging for Auth Survival Server",
                                  "SYSLOGDWRAP": "Logging for Syslogd Wrap",
                                  "TRAFFIC": "Logging for traffic",
                                  "TUNNELMGR": "Logging for Tunnelmgr Process",
                                  "UPLOAD_SYNC_MGR": "Logging for Upload Sync Manager",
                                  "UTIL_PROC": "Logging for Util Proc",
                                  "VNF_MGR": "Logging for VNF Manager Process on 90xx controllers",
                                  "WEBD": "Logging for Web Daemon",
                                  "WEB_CC": "Logging for Web Content classification",
                                  "WMS": "Logging for Wireless Management (Master switch only)",
                                  "WPA3_SAE": "Logging for wpa3_sae"
                                },
                                "x-typeDescription": "Logging security Process type."
                              },
                              {
                                "enum": [
                                  "AAA",
                                  "AMON_RECVR",
                                  "AMON_SENDER",
                                  "APPRF",
                                  "APPROC",
                                  "ARMD",
                                  "ARUBA_CENTRAL",
                                  "AS_VISIBILITY",
                                  "AUTHMGR",
                                  "BLE_DAEMON_S",
                                  "BLE_RELAY",
                                  "BLMGR",
                                  "BOCMGR",
                                  "CENTRAL_LICENSE_CLIENT",
                                  "CERT_DWNLD",
                                  "CERTMGR",
                                  "CFGM",
                                  "CLA",
                                  "CLUSTER_MGR",
                                  "CLUSTER_UPGRADE_MGR",
                                  "CPSEC",
                                  "CRYPTO",
                                  "CTAMON",
                                  "CTB",
                                  "CTS",
                                  "DBSYNC",
                                  "DDS",
                                  "DHCPD",
                                  "DHCPDRELAY6",
                                  "DHCPDVIAPROXY",
                                  "DIM",
                                  "DOT1X_PROC",
                                  "DPAGENT",
                                  "ESI",
                                  "EXTIFMGR",
                                  "FLBWRAP",
                                  "FPAPPS",
                                  "FW_VISIBILITY",
                                  "GSMMGR",
                                  "HCM",
                                  "HTTPD",
                                  "HWMON",
                                  "IAPMGR",
                                  "IDPS_MGR",
                                  "IM_HELPER",
                                  "IP_FLOW_EXPORT",
                                  "IPSTM",
                                  "L2TP",
                                  "L3D",
                                  "LAGM",
                                  "LICENSEMGR",
                                  "LLDP",
                                  "LOCALDB",
                                  "MDNS",
                                  "MOBILEIP",
                                  "MON_SERV",
                                  "MON_SERV_FWV",
                                  "NPPPD",
                                  "NTPWRAP",
                                  "OFA",
                                  "OPENFLOW_CONTROLLER",
                                  "OSPF",
                                  "PACKETFILTER",
                                  "PDM",
                                  "PHONEHOME",
                                  "PIM",
                                  "POLICYMGR",
                                  "PPTP",
                                  "PROCESSES",
                                  "PROFMGR",
                                  "PUBLISHER",
                                  "RADPROXY",
                                  "RADVD",
                                  "RESOLVWRAP",
                                  "RFM",
                                  "RNG_MGR",
                                  "RSYNC",
                                  "SC_REPLICATION_MGR",
                                  "SDWAN",
                                  "SNMP",
                                  "SPECTRUM",
                                  "STM",
                                  "SURVIVAL",
                                  "SYSLOGDWRAP",
                                  "TRAFFIC",
                                  "TRAFFIC_CFGM",
                                  "TRAP",
                                  "UPLOAD_SYNC_MGR",
                                  "UTIL_PROC",
                                  "UTILD",
                                  "VNF_MGR",
                                  "VRRP",
                                  "WEB_CC",
                                  "WEBD",
                                  "WMS"
                                ],
                                "format": "enum",
                                "type": "string",
                                "x-enumDescriptions": {
                                  "AAA": "Logging for administrator authentication",
                                  "AMON_RECVR": "Logging for AMON_RECVR Process",
                                  "AMON_SENDER": "Logging for AMON_SENDER Process",
                                  "APPRF": "Logging for APPRF feature on Service Controllers",
                                  "APPROC": "Logging for AP processes",
                                  "ARMD": "Logging for ARM Process",
                                  "ARUBA_CENTRAL": "Logging for Aruba Central",
[...]
