{
  "openapi": "3.1.0",
  "info": {
    "title": "Hardware Module Profile",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Hardware Module Profile"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/hardware-modules": {
      "get": {
        "description": "Configure and manage hardware module profiles.\nA hardware module profile allows certain device-specific configuration to be applied\nto a standalone switch, a chassis line-module or a VSF stack member. It is a mechanism\nintended to ease the process of configuring these devices with the same set of\nconfigurations. Instead of manually configuring each switch, line-module or VSF\nmember one-by-one, the hardware module profile collects the common configuration\nsettings and allows them to be applied to a specific device or a collection of\ndevices.\nTo apply a hardware module profile to a VSF member or group of VSF members, the\nhw-profile name here must be referenced from their respective 'hw-profile' endpoints\nin the 'switch-stack' API.\nSee `aruba-switch-stack:stacks/stack/members/hw-profile`.\nApplicable to CX 6200, 6300, 6300L switches.\nTo apply a hardware module profile to a specific line-module or group of line-modules,\nthe profile name here must be referenced from their respective 'hw-profile' endpoint\nin the switch-chassis' API.\nSee `aruba-switch-chassis:switch-chassis/chassis/line-modules/hw-profile`\nApplicable to CX 6400, 8400X switches.\nTo apply a hardware module profile to a standalone switch, including devices that\nsupport VSF but are not configured in a stack, no reference from another API is\nrequired.",
        "operationId": "readHardwareModules",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaHardwareModuleProfile_HardwareModulesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get hardware module profile",
        "tags": [
          "Hardware Module Profile"
        ],
        "x-cliParam": {
          "commandName": "readHardwareModulesCmd",
          "commandUse": "hardware-modules",
          "parentCommand": "readCmd",
          "pathToPrint": "/hardware-modules/",
          "summary": "Read operation for hardware-modules"
        }
      }
    },
    "/network-config/v1alpha1/hardware-modules/{name}": {
      "get": {
        "description": "List of hardware module profiles.",
        "operationId": "readHardwareModulesHwProfileByID",
        "parameters": [
          {
            "description": "The name of the profile for the hardware module.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaHardwareModuleProfile_HardwareModuleshwProfileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get hardware module profile by module name",
        "tags": [
          "Hardware Module Profile"
        ],
        "x-cliParam": {
          "commandName": "readHardwareModulesHwProfileCmd",
          "commandUse": "hw-profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readHardwareModulesCmd",
          "pathToPrint": "/hardware-modules/hw-profile/%s/",
          "summary": "Read operation for hw-profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of hardware module profiles.",
        "operationId": "replaceHardwareModulesHwProfileByID",
        "parameters": [
          {
            "description": "The name of the profile for the hardware module.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaHardwareModuleProfile_HardwareModuleshwProfileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update hardware module profile by module name",
        "tags": [
          "Hardware Module Profile"
        ],
        "x-cliParam": {
          "commandName": "replaceHardwareModulesHwProfileCmd",
          "commandUse": "hw-profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceHardwareModulesCmd",
          "pathToPrint": "/hardware-modules/hw-profile/%s/",
          "summary": "Replace operation for hw-profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of hardware module profiles.",
        "operationId": "createHardwareModulesHwProfileByID",
        "parameters": [
          {
            "description": "The name of the profile for the hardware module.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaHardwareModuleProfile_HardwareModuleshwProfileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create hardware module profile by module name",
        "tags": [
          "Hardware Module Profile"
        ],
        "x-cliParam": {
          "commandName": "createHardwareModulesHwProfileCmd",
          "commandUse": "hw-profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createHardwareModulesCmd",
          "pathToPrint": "/hardware-modules/hw-profile/%s/",
          "summary": "Create operation for hw-profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of hardware module profiles.",
        "operationId": "deleteHardwareModulesHwProfileByID",
        "parameters": [
          {
            "description": "The name of the profile for the hardware module.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete hardware module profile by module name",
        "tags": [
          "Hardware Module Profile"
        ],
        "x-cliParam": {
          "commandName": "deleteHardwareModulesHwProfileCmd",
          "commandUse": "hw-profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteHardwareModulesCmd",
          "pathToPrint": "/hardware-modules/hw-profile/%s/",
          "summary": "Delete operation for hw-profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of hardware module profiles.",
        "operationId": "updateHardwareModulesHwProfileByID",
        "parameters": [
          {
            "description": "The name of the profile for the hardware module.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaHardwareModuleProfile_HardwareModuleshwProfileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update hardware module profile by module name",
        "tags": [
          "Hardware Module Profile"
        ],
        "x-cliParam": {
          "commandName": "updateHardwareModulesHwProfileCmd",
          "commandUse": "hw-profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateHardwareModulesCmd",
          "pathToPrint": "/hardware-modules/hw-profile/%s/",
          "summary": "Update operation for hw-profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaHardwareModuleProfile_HardwareModulesSchemaGET": {
        "description": "Configure and manage hardware module profiles.\nA hardware module profile allows certain device-specific configuration to be applied\nto a standalone switch, a chassis line-module or a VSF stack member. It is a mechanism\nintended to ease the process of configuring these devices with the same set of\nconfigurations. Instead of manually configuring each switch, line-module or VSF\nmember one-by-one, the hardware module profile collects the common configuration\nsettings and allows them to be applied to a specific device or a collection of\ndevices.\nTo apply a hardware module profile to a VSF member or group of VSF members, the\nhw-profile name here must be referenced from their respective 'hw-profile' endpoints\nin the 'switch-stack' API.\nSee `aruba-switch-stack:stacks/stack/members/hw-profile`.\nApplicable to CX 6200, 6300, 6300L switches.\nTo apply a hardware module profile to a specific line-module or group of line-modules,\nthe profile name here must be referenced from their respective 'hw-profile' endpoint\nin the switch-chassis' API.\nSee `aruba-switch-chassis:switch-chassis/chassis/line-modules/hw-profile`\nApplicable to CX 6400, 8400X switches.\nTo apply a hardware module profile to a standalone switch, including devices that\nsupport VSF but are not configured in a stack, no reference from another API is\nrequired.",
        "properties": {
          "hw-profile": {
            "description": "List of hardware module profiles.",
            "items": {
              "properties": {
                "always-on-poe": {
                  "default": "true",
                  "description": "Always-on PoE provides ability to continue power delivery during\na soft/warm reboot. On standalone devices this applies globally,\non VSF it applies to the 'Member' and in chassis devices this is\napplicable to the 'Line Cards'.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "description": {
                  "description": "A module description, used to identify what is configured and how it is configured.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "interface-group-speed-profile": {
                  "description": "Some switch models have a restriction that all transceivers installed in\na group of ports must have compatible speeds. All mismatched interfaces\nin the group will be disabled.",
                  "items": {
                    "properties": {
                      "group-id": {
                        "description": "Device dependent interface group identifier for a set of port.",
                        "format": "int32",
                        "maximum": 12,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "speed": {
                        "description": "Interface group speed. Device dependent, the possible speeds are 10g, 25g, 40g, 50g, 100g or 200g.",
                        "enum": [
                          "INTERFACE_GROUP_5G",
                          "INTERFACE_GROUP_10G",
                          "INTERFACE_GROUP_25G",
                          "INTERFACE_GROUP_40G",
                          "INTERFACE_GROUP_50G",
                          "INTERFACE_GROUP_100G",
                          "INTERFACE_GROUP_200G"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "INTERFACE_GROUP_100G": "Interface group speed of 100 Gb/sec.",
                          "INTERFACE_GROUP_10G": "Interface group speed of 10 Gb/sec.",
                          "INTERFACE_GROUP_200G": "Interface group speed of 200 Gb/sec.",
                          "INTERFACE_GROUP_25G": "Interface group speed of 25 Gb/sec.",
                          "INTERFACE_GROUP_40G": "Interface group speed of 40 Gb/sec.",
                          "INTERFACE_GROUP_50G": "Interface group speed of 50 Gb/sec.",
                          "INTERFACE_GROUP_5G": "Interface group speed of 5 Gb/sec."
                        },
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ],
                        "x-typeDescription": "Interface group speeds."
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "groupId"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "member-or-slot-ids": {
                  "description": "Specifies the list of member or slot IDs to which this profile applies.\n- For standalone switches: This list is ignored.\n- For VSF stacks: List the member IDs that should use this profile.\n- For chassis systems: List the slot IDs that should use this profile.\nNote: For slot names like '1/3', only the slot number (e.g., 3) is used as the slot ID.",
                  "items": {
                    "description": "Specifies the list of member or slot IDs to which this profile applies.\n- For standalone switches: This list is ignored.\n- For VSF stacks: List the member IDs that should use this profile.\n- For chassis systems: List the slot IDs that should use this profile.\nNote: For slot names like '1/3', only the slot number (e.g., 3) is used as the slot ID.",
                    "format": "int32",
                    "maximum": 12,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "name": {
                  "description": "The name of the profile for the hardware module.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "quick-poe": {
                  "default": "false",
                  "description": "Enable quick-poe configuration. quick-poe allows the PSE\nto power up connected PDs soon after a cold reboot. On standalone\ndevices this applies globally, on VSF it applies to the 'Member' and\nin chassis devices this is applicable to the 'Line Cards'.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaHardwareModuleProfile_HardwareModuleshwProfileSchema": {
        "properties": {
          "always-on-poe": {
            "default": "true",
            "description": "Always-on PoE provides ability to continue power delivery during\na soft/warm reboot. On standalone devices this applies globally,\non VSF it applies to the 'Member' and in chassis devices this is\napplicable to the 'Line Cards'.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "description": {
            "description": "A module description, used to identify what is configured and how it is configured.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "interface-group-speed-profile": {
            "description": "Some switch models have a restriction that all transceivers installed in\na group of ports must have compatible speeds. All mismatched interfaces\nin the group will be disabled.",
            "items": {
              "properties": {
                "group-id": {
                  "description": "Device dependent interface group identifier for a set of port.",
                  "format": "int32",
                  "maximum": 12,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "speed": {
                  "description": "Interface group speed. Device dependent, the possible speeds are 10g, 25g, 40g, 50g, 100g or 200g.",
                  "enum": [
                    "INTERFACE_GROUP_5G",
                    "INTERFACE_GROUP_10G",
                    "INTERFACE_GROUP_25G",
                    "INTERFACE_GROUP_40G",
                    "INTERFACE_GROUP_50G",
                    "INTERFACE_GROUP_100G",
                    "INTERFACE_GROUP_200G"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "INTERFACE_GROUP_100G": "Interface group speed of 100 Gb/sec.",
                    "INTERFACE_GROUP_10G": "Interface group speed of 10 Gb/sec.",
                    "INTERFACE_GROUP_200G": "Interface group speed of 200 Gb/sec.",
                    "INTERFACE_GROUP_25G": "Interface group speed of 25 Gb/sec.",
                    "INTERFACE_GROUP_40G": "Interface group speed of 40 Gb/sec.",
                    "INTERFACE_GROUP_50G": "Interface group speed of 50 Gb/sec.",
                    "INTERFACE_GROUP_5G": "Interface group speed of 5 Gb/sec."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Interface group speeds."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "groupId"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "member-or-slot-ids": {
            "description": "Specifies the list of member or slot IDs to which this profile applies.\n- For standalone switches: This list is ignored.\n- For VSF stacks: List the member IDs that should use this profile.\n- For chassis systems: List the slot IDs that should use this profile.\nNote: For slot names like '1/3', only the slot number (e.g., 3) is used as the slot ID.",
            "items": {
              "description": "Specifies the list of member or slot IDs to which this profile applies.\n- For standalone switches: This list is ignored.\n- For VSF stacks: List the member IDs that should use this profile.\n- For chassis systems: List the slot IDs that should use this profile.\nNote: For slot names like '1/3', only the slot number (e.g., 3) is used as the slot ID.",
              "format": "int32",
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "name": {
            "description": "The name of the profile for the hardware module.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "quick-poe": {
            "default": "false",
            "description": "Enable quick-poe configuration. quick-poe allows the PSE\nto power up connected PDs soon after a cold reboot. On standalone\ndevices this applies globally, on VSF it applies to the 'Member' and\nin chassis devices this is applicable to the 'Line Cards'.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaHardwareModuleProfile_HardwareModuleshwProfileSchemaGet": {
        "properties": {
          "always-on-poe": {
            "default": "true",
            "description": "Always-on PoE provides ability to continue power delivery during\na soft/warm reboot. On standalone devices this applies globally,\non VSF it applies to the 'Member' and in chassis devices this is\napplicable to the 'Line Cards'.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "description": {
            "description": "A module description, used to identify what is configured and how it is configured.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "interface-group-speed-profile": {
            "description": "Some switch models have a restriction that all transceivers installed in\na group of ports must have compatible speeds. All mismatched interfaces\nin the group will be disabled.",
            "items": {
              "properties": {
                "group-id": {
                  "description": "Device dependent interface group identifier for a set of port.",
                  "format": "int32",
                  "maximum": 12,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "speed": {
                  "description": "Interface group speed. Device dependent, the possible speeds are 10g, 25g, 40g, 50g, 100g or 200g.",
                  "enum": [
                    "INTERFACE_GROUP_5G",
                    "INTERFACE_GROUP_10G",
                    "INTERFACE_GROUP_25G",
                    "INTERFACE_GROUP_40G",
                    "INTERFACE_GROUP_50G",
                    "INTERFACE_GROUP_100G",
                    "INTERFACE_GROUP_200G"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "INTERFACE_GROUP_100G": "Interface group speed of 100 Gb/sec.",
                    "INTERFACE_GROUP_10G": "Interface group speed of 10 Gb/sec.",
                    "INTERFACE_GROUP_200G": "Interface group speed of 200 Gb/sec.",
                    "INTERFACE_GROUP_25G": "Interface group speed of 25 Gb/sec.",
                    "INTERFACE_GROUP_40G": "Interface group speed of 40 Gb/sec.",
                    "INTERFACE_GROUP_50G": "Interface group speed of 50 Gb/sec.",
                    "INTERFACE_GROUP_5G": "Interface group speed of 5 Gb/sec."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Interface group speeds."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "groupId"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "member-or-slot-ids": {
            "description": "Specifies the list of member or slot IDs to which this profile applies.\n- For standalone switches: This list is ignored.\n- For VSF stacks: List the member IDs that should use this profile.\n- For chassis systems: List the slot IDs that should use this profile.\nNote: For slot names like '1/3', only the slot number (e.g., 3) is used as the slot ID.",
            "items": {
              "description": "Specifies the list of member or slot IDs to which this profile applies.\n- For standalone switches: This list is ignored.\n- For VSF stacks: List the member IDs that should use this profile.\n- For chassis systems: List the slot IDs that should use this profile.\nNote: For slot names like '1/3', only the slot number (e.g., 3) is used as the slot ID.",
              "format": "int32",
              "maximum": 12,
              "minimum": 1,
              "type": "integer",
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "name": {
            "description": "The name of the profile for the hardware module.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "quick-poe": {
            "default": "false",
            "description": "Enable quick-poe configuration. quick-poe allows the PSE\nto power up connected PDs soon after a cold reboot. On standalone\ndevices this applies globally, on VSF it applies to the 'Member' and\nin chassis devices this is applicable to the 'Line Cards'.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaHardwareModuleProfile_HardwareModuleshwProfileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaHardwareModuleProfile_HardwareModuleshwProfileSchema"
            }
          }
        },
        "description": "hw-profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
