{
  "openapi": "3.1.0",
  "info": {
    "title": "Ip Source Interface",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Ip Source Interface"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/ip-source-interfaces": {
      "get": {
        "description": "IPv4/IPv6 Source Interface Selection Configurations.\nThe source interface selection supports selecting an\nIPv4/IPv6 address or interface name for all outgoing\ntraffic generated by a specified software application\non the switch.",
        "operationId": "readIpSourceInterfaces",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaIpSourceInterface_IpSourceInterfacesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read IPv4/IPv6 Source Interface configurations",
        "tags": [
          "Ip Source Interface"
        ],
        "x-cliParam": {
          "commandName": "readIpSourceInterfacesCmd",
          "commandUse": "ip-source-interfaces",
          "parentCommand": "readCmd",
          "pathToPrint": "/ip-source-interfaces/",
          "summary": "Read operation for ip-source-interfaces"
        }
      }
    },
    "/network-config/v1alpha1/ip-source-interfaces/{name}": {
      "get": {
        "description": "Global profile for IPv4/IPv6 Source Interface Configurations.",
        "operationId": "readIpSourceInterfacesProfileByID",
        "parameters": [
          {
            "description": "IPv4/IPv6 Source Interface profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaIpSourceInterface_IpSourceInterfacesprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read profile for IPv4/IPv6 Source Interface configurations",
        "tags": [
          "Ip Source Interface"
        ],
        "x-cliParam": {
          "commandName": "readIpSourceInterfacesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readIpSourceInterfacesCmd",
          "pathToPrint": "/ip-source-interfaces/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Global profile for IPv4/IPv6 Source Interface Configurations.",
        "operationId": "replaceIpSourceInterfacesProfileByID",
        "parameters": [
          {
            "description": "IPv4/IPv6 Source Interface profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaIpSourceInterface_IpSourceInterfacesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update profile for IPv4/IPv6 Source Interface configurations",
        "tags": [
          "Ip Source Interface"
        ],
        "x-cliParam": {
          "commandName": "replaceIpSourceInterfacesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceIpSourceInterfacesCmd",
          "pathToPrint": "/ip-source-interfaces/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Global profile for IPv4/IPv6 Source Interface Configurations.",
        "operationId": "createIpSourceInterfacesProfileByID",
        "parameters": [
          {
            "description": "IPv4/IPv6 Source Interface profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaIpSourceInterface_IpSourceInterfacesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create profile for IPv4/IPv6 Source Interface configurations",
        "tags": [
          "Ip Source Interface"
        ],
        "x-cliParam": {
          "commandName": "createIpSourceInterfacesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createIpSourceInterfacesCmd",
          "pathToPrint": "/ip-source-interfaces/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Global profile for IPv4/IPv6 Source Interface Configurations.",
        "operationId": "deleteIpSourceInterfacesProfileByID",
        "parameters": [
          {
            "description": "IPv4/IPv6 Source Interface profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete profile for IPv4/IPv6 Source Interface configurations",
        "tags": [
          "Ip Source Interface"
        ],
        "x-cliParam": {
          "commandName": "deleteIpSourceInterfacesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteIpSourceInterfacesCmd",
          "pathToPrint": "/ip-source-interfaces/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Global profile for IPv4/IPv6 Source Interface Configurations.",
        "operationId": "updateIpSourceInterfacesProfileByID",
        "parameters": [
          {
            "description": "IPv4/IPv6 Source Interface profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaIpSourceInterface_IpSourceInterfacesprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile for IPv4/IPv6 Source Interface configurations",
        "tags": [
          "Ip Source Interface"
        ],
        "x-cliParam": {
          "commandName": "updateIpSourceInterfacesProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateIpSourceInterfacesCmd",
          "pathToPrint": "/ip-source-interfaces/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaIpSourceInterface_IpSourceInterfacesSchemaGET": {
        "description": "IPv4/IPv6 Source Interface Selection Configurations.\nThe source interface selection supports selecting an\nIPv4/IPv6 address or interface name for all outgoing\ntraffic generated by a specified software application\non the switch.",
        "properties": {
          "profile": {
            "description": "Global profile for IPv4/IPv6 Source Interface Configurations.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaIpSourceInterface_SourceInterfaceGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "IPv4/IPv6 Source Interface profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "name": {
                      "description": "IPv4/IPv6 Source Interface profile name.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaIpSourceInterface_IpSourceInterfacesprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaIpSourceInterface_SourceInterface"
          },
          {
            "properties": {
              "description": {
                "description": "IPv4/IPv6 Source Interface profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "IPv4/IPv6 Source Interface profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              }
            }
          }
        ]
      },
      "ArubaIpSourceInterface_IpSourceInterfacesprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaIpSourceInterface_SourceInterfaceGet"
          },
          {
            "properties": {
              "description": {
                "description": "IPv4/IPv6 Source Interface profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "IPv4/IPv6 Source Interface profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              }
            }
          }
        ]
      },
      "ArubaIpSourceInterface_SourceInterface": {
        "description": "IPv4/IPv6 Source Interfaces or Addresses grouping",
        "properties": {
          "ip-source": {
            "description": "Configure source interface or address for the outgoing\nIPv4/IPv6 packets of the given protocol.",
            "items": {
              "properties": {
                "ethernet": {
                  "description": "Ethernet Interface.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
                  "x-patternSources": "name",
                  "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "ip-protocol": {
                  "description": "IPv4/IPv6 protocol type.",
                  "enum": [
                    "ALL",
                    "CENTRAL",
                    "DHCP_RELAY",
                    "DNS",
                    "ERSPAN",
                    "HTTP",
                    "IPFIX",
                    "NTP",
                    "PSM",
                    "PTP",
                    "RADIUS",
                    "RADSEC",
                    "SFLOW",
                    "SFTP_AND_SCP",
                    "SNTP",
                    "SSH_CLIENT",
                    "SYSLOG",
                    "TACACS",
                    "TELNET",
                    "TFTP",
                    "UBT",
                    "WORKLOAD_MIGRATION",
                    "TUNNELED_NODE_SERVER"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALL": "All supported IP protocols.",
                    "CENTRAL": "Aruba Central protocol.",
                    "DHCP_RELAY": "DHCP Relay protocol.",
                    "DNS": "Domain Name System protocol.",
                    "ERSPAN": "ERSPAN protocol.",
                    "HTTP": "HTTP protocol.",
                    "IPFIX": "IP Flow export protocol.",
                    "NTP": "Network Time Protocol.",
                    "PSM": "PSM protocol.",
                    "PTP": "Precision Time Protocol.",
                    "RADIUS": "Remote Authenticastion User Service protocol.",
                    "RADSEC": "Radius protocol using TLS over TCP.",
                    "SFLOW": "Sflow protocol.",
                    "SFTP_AND_SCP": "Sftp and Scp protocols.",
                    "SNTP": "Simple Network Time Protocol.",
                    "SSH_CLIENT": "SSH Client protocol.",
                    "SYSLOG": "Syslog protocol.",
                    "TACACS": "Terminal Access Controller protocol.",
                    "TELNET": "Telnet protocol.",
                    "TFTP": "Trivial File Transfer Protocol.",
                    "TUNNELED_NODE_SERVER": "Tunneled Node Server Protocol.",
                    "UBT": "User Based Tunnel",
                    "WORKLOAD_MIGRATION": "Workload Migration protocol."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "Protocol Type."
                },
                "ip-version": {
                  "description": "IPv4 or IPv6 version.",
                  "enum": [
                    "UNKNOWN",
                    "IPV4",
                    "IPV6"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "IPV4": "The IPv4 protocol as defined in RFC 791.",
                    "IPV6": "The IPv6 protocol as defined in RFC 2460.",
                    "UNKNOWN": "An unknown or unspecified version of the Internet\nprotocol."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "This value represents the version of the IP protocol.\nNote that integer representation of the enumerated values\nare not specified, and are not required to follow the\nInetVersion textual convention in SMIv2."
                },
                "ip-version-ip-protocol-vrf": {
                  "description": "Key combination of ip-version, ip-protocol and vrf separated by (~).\nThis configuration is mandatory.\nRefer to the individual leaf nodes ip-version, ip-protocol, and vrf for the list of valid values\nthat can be used to construct this composite key.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                },
                "ipv4": {
                  "description": "IPv4 address",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "ipv6": {
                  "description": "IPv6 address",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                },
                "lag": {
                  "description": "LAG (Link Aggregation Group) Interface.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
                  "x-patternSources": "name",
                  "x-patterns": "'(\\d+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "loopback": {
                  "description": "Loopback Interface.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer",
                  "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "source": {
                  "description": "IP source type : IPv4/IPv6 address or source interface.\nThe supported source interface is one among ethernet,\nvlan, port-channel/LAG, loopback interfaces.",
                  "enum": [
                    "IPV4",
                    "IPV6",
                    "ETHERNET",
                    "LAG",
                    "LOOPBACK",
                    "VLAN"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ETHERNET": "Ethernet Interface",
                    "IPV4": "IPv4 address",
                    "IPV6": "IPv6 address",
                    "LAG": "LAG Interface",
                    "LOOPBACK": "Loopback Interface",
                    "VLAN": "Vlan Interface"
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "IP Source Type."
                },
                "vlan": {
                  "description": "VLAN Interface.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "vrf": {
                  "description": "VRF associated with source IPv4/IPv6 or source interface.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              },
              "required": [
                "source"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ipVersionIpProtocolVrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaIpSourceInterface_SourceInterfaceGet": {
        "description": "IPv4/IPv6 Source Interfaces or Addresses grouping",
        "properties": {
          "ip-source": {
            "description": "Configure source interface or address for the outgoing\nIPv4/IPv6 packets of the given protocol.",
            "items": {
              "properties": {
                "ethernet": {
                  "description": "Ethernet Interface.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
                  "x-patternSources": "name",
                  "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "ip-protocol": {
                  "description": "IPv4/IPv6 protocol type.",
                  "enum": [
                    "ALL",
                    "CENTRAL",
                    "DHCP_RELAY",
                    "DNS",
                    "ERSPAN",
                    "HTTP",
                    "IPFIX",
                    "NTP",
                    "PSM",
                    "PTP",
                    "RADIUS",
                    "RADSEC",
                    "SFLOW",
                    "SFTP_AND_SCP",
                    "SNTP",
                    "SSH_CLIENT",
                    "SYSLOG",
                    "TACACS",
                    "TELNET",
                    "TFTP",
                    "UBT",
                    "WORKLOAD_MIGRATION",
                    "TUNNELED_NODE_SERVER"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALL": "All supported IP protocols.",
                    "CENTRAL": "Aruba Central protocol.",
                    "DHCP_RELAY": "DHCP Relay protocol.",
                    "DNS": "Domain Name System protocol.",
                    "ERSPAN": "ERSPAN protocol.",
                    "HTTP": "HTTP protocol.",
                    "IPFIX": "IP Flow export protocol.",
                    "NTP": "Network Time Protocol.",
                    "PSM": "PSM protocol.",
                    "PTP": "Precision Time Protocol.",
                    "RADIUS": "Remote Authenticastion User Service protocol.",
                    "RADSEC": "Radius protocol using TLS over TCP.",
                    "SFLOW": "Sflow protocol.",
                    "SFTP_AND_SCP": "Sftp and Scp protocols.",
                    "SNTP": "Simple Network Time Protocol.",
                    "SSH_CLIENT": "SSH Client protocol.",
                    "SYSLOG": "Syslog protocol.",
                    "TACACS": "Terminal Access Controller protocol.",
                    "TELNET": "Telnet protocol.",
                    "TFTP": "Trivial File Transfer Protocol.",
                    "TUNNELED_NODE_SERVER": "Tunneled Node Server Protocol.",
                    "UBT": "User Based Tunnel",
                    "WORKLOAD_MIGRATION": "Workload Migration protocol."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "Protocol Type."
                },
                "ip-version": {
                  "description": "IPv4 or IPv6 version.",
                  "enum": [
                    "UNKNOWN",
                    "IPV4",
                    "IPV6"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "IPV4": "The IPv4 protocol as defined in RFC 791.",
                    "IPV6": "The IPv6 protocol as defined in RFC 2460.",
                    "UNKNOWN": "An unknown or unspecified version of the Internet\nprotocol."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "This value represents the version of the IP protocol.\nNote that integer representation of the enumerated values\nare not specified, and are not required to follow the\nInetVersion textual convention in SMIv2."
                },
                "ip-version-ip-protocol-vrf": {
                  "description": "Key combination of ip-version, ip-protocol and vrf separated by (~).\nThis configuration is mandatory.\nRefer to the individual leaf nodes ip-version, ip-protocol, and vrf for the list of valid values\nthat can be used to construct this composite key.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                },
                "ipv4": {
                  "description": "IPv4 address",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "ipv6": {
                  "description": "IPv6 address",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                },
                "lag": {
                  "description": "LAG (Link Aggregation Group) Interface.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
                  "x-patternSources": "name",
                  "x-patterns": "'(\\d+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "loopback": {
                  "description": "Loopback Interface.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer",
                  "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "source": {
                  "description": "IP source type : IPv4/IPv6 address or source interface.\nThe supported source interface is one among ethernet,\nvlan, port-channel/LAG, loopback interfaces.",
                  "enum": [
                    "IPV4",
                    "IPV6",
                    "ETHERNET",
                    "LAG",
                    "LOOPBACK",
                    "VLAN"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ETHERNET": "Ethernet Interface",
                    "IPV4": "IPv4 address",
                    "IPV6": "IPv6 address",
                    "LAG": "LAG Interface",
                    "LOOPBACK": "Loopback Interface",
                    "VLAN": "Vlan Interface"
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "IP Source Type."
                },
                "vlan": {
                  "description": "VLAN Interface.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "vrf": {
                  "description": "VRF associated with source IPv4/IPv6 or source interface.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              },
              "required": [
                "source"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ipVersionIpProtocolVrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaIpSourceInterface_IpSourceInterfacesprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaIpSourceInterface_IpSourceInterfacesprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
