{
  "openapi": "3.1.0",
  "info": {
    "title": "Job Scheduler",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Job Scheduler"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/job-scheduler": {
      "get": {
        "description": "The job scheduler feature facilitates us to schedule a job to be\nexecuted in the near future.  Currently, only non-interactive enable\nand configuration commands are allowed to be configured as a job.\nSchedules can be configured to be triggered periodically or at a specific\ncalendar date and time. They are categorized into periodic schedules,\ncalendar schedules, and one-shot schedules. Periodic schedules are based\non the fixed time interval between the two triggers.\n\nCalendar schedules are based on the specified days of the week and days\nof the month. Calendar schedules are therefore aware of the notion of\nmonths, days, weekdays, hours, and minutes.\n\nOne-shot schedules are similar to the calendar schedule but they will\nautomatically disable themselves after one trigger.\n\nThis feature is useful to schedule a toggling port, check the system\nhealth status, clear the statistics or some clean-up activities,\nQoS policy changes, save the configurations, and other similar jobs.\n\nWhile updating trigger-type other parameter must set to null, which are\nnot applicable.",
        "operationId": "readJobScheduler",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaJobScheduler_JobSchedulerSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing job-scheduler configurations",
        "tags": [
          "Job Scheduler"
        ],
        "x-cliParam": {
          "commandName": "readJobSchedulerCmd",
          "commandUse": "job-scheduler",
          "parentCommand": "readCmd",
          "pathToPrint": "/job-scheduler/",
          "summary": "Read operation for job-scheduler"
        }
      }
    },
    "/network-config/v1alpha1/job-scheduler/{name}": {
      "get": {
        "description": "Scheduling entry parameters.",
        "operationId": "readJobSchedulerScheduleByID",
        "parameters": [
          {
            "description": "Schedule name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaJobScheduler_JobSchedulerscheduleSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing schedule configurations",
        "tags": [
          "Job Scheduler"
        ],
        "x-cliParam": {
          "commandName": "readJobSchedulerScheduleCmd",
          "commandUse": "schedule",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readJobSchedulerCmd",
          "pathToPrint": "/job-scheduler/schedule/%s/",
          "summary": "Read operation for schedule",
          "totParams": 1
        }
      },
      "put": {
        "description": "Scheduling entry parameters.",
        "operationId": "replaceJobSchedulerScheduleByID",
        "parameters": [
          {
            "description": "Schedule name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaJobScheduler_JobSchedulerscheduleSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing schedule configurations",
        "tags": [
          "Job Scheduler"
        ],
        "x-cliParam": {
          "commandName": "replaceJobSchedulerScheduleCmd",
          "commandUse": "schedule",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceJobSchedulerCmd",
          "pathToPrint": "/job-scheduler/schedule/%s/",
          "summary": "Replace operation for schedule",
          "totParams": 1
        }
      },
      "post": {
        "description": "Scheduling entry parameters.",
        "operationId": "createJobSchedulerScheduleByID",
        "parameters": [
          {
            "description": "Schedule name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaJobScheduler_JobSchedulerscheduleSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new schedule by unique name",
        "tags": [
          "Job Scheduler"
        ],
        "x-cliParam": {
          "commandName": "createJobSchedulerScheduleCmd",
          "commandUse": "schedule",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createJobSchedulerCmd",
          "pathToPrint": "/job-scheduler/schedule/%s/",
          "summary": "Create operation for schedule",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Scheduling entry parameters.",
        "operationId": "deleteJobSchedulerScheduleByID",
        "parameters": [
          {
            "description": "Schedule name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the schedule",
        "tags": [
          "Job Scheduler"
        ],
        "x-cliParam": {
          "commandName": "deleteJobSchedulerScheduleCmd",
          "commandUse": "schedule",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteJobSchedulerCmd",
          "pathToPrint": "/job-scheduler/schedule/%s/",
          "summary": "Delete operation for schedule",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Scheduling entry parameters.",
        "operationId": "updateJobSchedulerScheduleByID",
        "parameters": [
          {
            "description": "Schedule name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaJobScheduler_JobSchedulerscheduleSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing schedule configurations",
        "tags": [
          "Job Scheduler"
        ],
        "x-cliParam": {
          "commandName": "updateJobSchedulerScheduleCmd",
          "commandUse": "schedule",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateJobSchedulerCmd",
          "pathToPrint": "/job-scheduler/schedule/%s/",
          "summary": "Update operation for schedule",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaJobScheduler_Entry": {
        "description": "Job entry group.",
        "properties": {
          "entry": {
            "description": "Job entry parameters.",
            "items": {
              "properties": {
                "cli-command": {
                  "description": "CLI command that needs to be executed when the job is scheduled.",
                  "format": "const",
                  "maxLength": 4096,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "cli-delay": {
                  "description": "Delay in seconds that the system will wait after executing\nthe current CLI command.",
                  "format": "int32",
                  "maximum": 300,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "sequence-number": {
                  "description": "Sequence number.",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "type": {
                  "default": "CLI",
                  "description": "Type of the job.",
                  "enum": [
                    "CLI"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CLI": "Set of CLI commands are defined as job."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type of job."
                }
              },
              "required": [
                "cli-command"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sequenceNumber"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaJobScheduler_EntryGet": {
        "description": "Job entry group.",
        "properties": {
          "entry": {
            "description": "Job entry parameters.",
            "items": {
              "properties": {
                "cli-command": {
                  "description": "CLI command that needs to be executed when the job is scheduled.",
                  "format": "const",
                  "maxLength": 4096,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "cli-delay": {
                  "description": "Delay in seconds that the system will wait after executing\nthe current CLI command.",
                  "format": "int32",
                  "maximum": 300,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "sequence-number": {
                  "description": "Sequence number.",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "type": {
                  "default": "CLI",
                  "description": "Type of the job.",
                  "enum": [
                    "CLI"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CLI": "Set of CLI commands are defined as job."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type of job."
                }
              },
              "required": [
                "cli-command"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sequenceNumber"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaJobScheduler_Job": {
        "description": "Job group.",
        "properties": {
          "job": {
            "description": "Job configuration.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaJobScheduler_Entry"
                },
                {
                  "properties": {
                    "description": {
                      "description": "A description about the job.",
                      "format": "const",
                      "maxLength": 128,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "enable": {
                      "default": "false",
                      "description": "Enable the job.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "job-name": {
                      "description": "Job name.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "jobName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaJobScheduler_JobGet": {
        "description": "Job group.",
        "properties": {
          "job": {
            "description": "Job configuration.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaJobScheduler_EntryGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "A description about the job.",
                      "format": "const",
                      "maxLength": 128,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "enable": {
                      "default": "false",
                      "description": "Enable the job.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "job-name": {
                      "description": "Job name.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "jobName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaJobScheduler_JobSchedulerSchemaGET": {
        "description": "The job scheduler feature facilitates us to schedule a job to be\nexecuted in the near future.  Currently, only non-interactive enable\nand configuration commands are allowed to be configured as a job.\nSchedules can be configured to be triggered periodically or at a specific\ncalendar date and time. They are categorized into periodic schedules,\ncalendar schedules, and one-shot schedules. Periodic schedules are based\non the fixed time interval between the two triggers.\n\nCalendar schedules are based on the specified days of the week and days\nof the month. Calendar schedules are therefore aware of the notion of\nmonths, days, weekdays, hours, and minutes.\n\nOne-shot schedules are similar to the calendar schedule but they will\nautomatically disable themselves after one trigger.\n\nThis feature is useful to schedule a toggling port, check the system\nhealth status, clear the statistics or some clean-up activities,\nQoS policy changes, save the configurations, and other similar jobs.\n\nWhile updating trigger-type other parameter must set to null, which are\nnot applicable.",
        "properties": {
          "schedule": {
            "description": "Scheduling entry parameters.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaJobScheduler_ScheduleEntryGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaJobScheduler_JobGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaJobScheduler_TriggerGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "Description about the schedule.",
                      "format": "const",
                      "maxLength": 128,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "enable": {
                      "default": "false",
                      "description": "Enable the schedule.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "name": {
                      "description": "Schedule name.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaJobScheduler_JobSchedulerscheduleSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaJobScheduler_ScheduleEntry"
          },
          {
            "$ref": "#/components/schemas/ArubaJobScheduler_Job"
          },
          {
            "$ref": "#/components/schemas/ArubaJobScheduler_Trigger"
          },
          {
            "properties": {
              "description": {
                "description": "Description about the schedule.",
                "format": "const",
                "maxLength": 128,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable the schedule.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "name": {
                "description": "Schedule name.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            }
          }
        ]
      },
      "ArubaJobScheduler_JobSchedulerscheduleSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaJobScheduler_ScheduleEntryGet"
          },
          {
            "$ref": "#/components/schemas/ArubaJobScheduler_JobGet"
          },
          {
            "$ref": "#/components/schemas/ArubaJobScheduler_TriggerGet"
          },
          {
            "properties": {
              "description": {
                "description": "Description about the schedule.",
                "format": "const",
                "maxLength": 128,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enable the schedule.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "name": {
                "description": "Schedule name.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            }
          }
        ]
      },
      "ArubaJobScheduler_ScheduleEntry": {
        "description": "Schedule entry",
        "properties": {
          "schedule-entry": {
            "description": "Schedule entry",
            "items": {
              "properties": {
                "schedule-job": {
                  "description": "Jobs associated with this schedule.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "sequence-number": {
                  "description": "Sequence number.",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sequenceNumber"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaJobScheduler_ScheduleEntryGet": {
        "description": "Schedule entry",
        "properties": {
          "schedule-entry": {
            "description": "Schedule entry",
            "items": {
              "properties": {
                "schedule-job": {
                  "description": "Jobs associated with this schedule.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "sequence-number": {
                  "description": "Sequence number.",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sequenceNumber"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaJobScheduler_Trigger": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaJobScheduler_TriggerAt"
          },
          {
            "$ref": "#/components/schemas/ArubaJobScheduler_TriggerEvery"
          }
        ],
        "description": "Job scheduler trigger grouping.",
        "properties": {
          "cli-command": {
            "description": "Command to execute when this job runs.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "config-save": {
            "default": "false",
            "description": "Save the running configuration to flash after the job completes.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "count": {
            "description": "Maximum number of times the schedule can trigger.\nIf not set, no limit is applied on the number of triggers.\nThis is not applicable for 'one-shot' schedule type.\nOnce schedule is triggered count number of times, the status\nchanges to expired.",
            "format": "int32",
            "maximum": 1000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "date-time": {
            "description": "Trigger date and time.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "date-and-time",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
            "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
          },
          "trigger-at": {
            "description": "Trigger at given time.\ntrigger-at is valid when trigger-type is TRIGGER_AT.",
            "enum": [
              "TRIGGER_AT",
              "TRIGGER_ON",
              "TRIGGER_EVERY",
              "TRIGGER_EVENT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TRIGGER_AT": "Fixed date and time for the schedule. This is oneshot schedule.",
              "TRIGGER_EVENT": "Event at which the job is triggered.",
              "TRIGGER_EVERY": "Periodic interval for schedule with custom time interval.",
              "TRIGGER_ON": "Calendar time for the schedule."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Job scheduler trigger type."
          },
          "trigger-at-event": {
            "description": "Runs the job when the event occur.",
            "enum": [
              "REBOOT",
              "FAILOVER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "FAILOVER": "Failover event.",
              "REBOOT": "Reboot event."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Event to trigger the job."
          },
          "trigger-every": {
            "description": "Trigger every peoriodic interval. trigger-every is valid when\ntrigger-type is TRIGGER_EVERY.",
            "enum": [
              "TRIGGER_AT",
              "TRIGGER_ON",
              "TRIGGER_EVERY",
              "TRIGGER_EVENT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TRIGGER_AT": "Fixed date and time for the schedule. This is oneshot schedule.",
              "TRIGGER_EVENT": "Event at which the job is triggered.",
              "TRIGGER_EVERY": "Periodic interval for schedule with custom time interval.",
              "TRIGGER_ON": "Calendar time for the schedule."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Job scheduler trigger type."
          },
          "trigger-on": {
            "description": "Trigger on given date and time.\ntrigger-on is valid when trigger-type is TRIGGER_ON.",
            "enum": [
              "TRIGGER_AT",
              "TRIGGER_ON",
              "TRIGGER_EVERY",
              "TRIGGER_EVENT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TRIGGER_AT": "Fixed date and time for the schedule. This is oneshot schedule.",
              "TRIGGER_EVENT": "Event at which the job is triggered.",
              "TRIGGER_EVERY": "Periodic interval for schedule with custom time interval.",
              "TRIGGER_ON": "Calendar time for the schedule."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Job scheduler trigger type."
          },
          "trigger-on-monthly": {
            "description": "Trigger type monthly. trigger-on-monthly is valid when frequency is MONTHLY.",
            "enum": [
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DAILY": "Daily.",
              "MONTHLY": "Monthly.",
              "WEEKLY": "Weekly.",
              "YEARLY": "Yearly"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Frequency of Job Scheduler."
          },
          "trigger-on-weekly": {
            "description": "Trigger type weekly. trigger-on-weekly is valid when frequency is WEEKLY.",
            "enum": [
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DAILY": "Daily.",
              "MONTHLY": "Monthly.",
              "WEEKLY": "Weekly.",
              "YEARLY": "Yearly"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Frequency of Job Scheduler."
          },
          "trigger-on-yearly": {
            "description": "Trigger type yearly. trigger-on-yearly is valid when frequency is YEARLY.",
            "enum": [
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DAILY": "Daily.",
              "MONTHLY": "Monthly.",
              "WEEKLY": "Weekly.",
              "YEARLY": "Yearly"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Frequency of Job Scheduler."
          },
          "trigger-type": {
            "description": "Trigger type.\nWhile updating trigger-type other parameter must set to null, which are\nnot applicable.",
            "enum": [
              "TRIGGER_AT",
              "TRIGGER_ON",
              "TRIGGER_EVERY",
              "TRIGGER_EVENT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TRIGGER_AT": "Fixed date and time for the schedule. This is oneshot schedule.",
              "TRIGGER_EVENT": "Event at which the job is triggered.",
              "TRIGGER_EVERY": "Periodic interval for schedule with custom time interval.",
              "TRIGGER_ON": "Calendar time for the schedule."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Job scheduler trigger type."
          }
        }
      },
      "ArubaJobScheduler_TriggerAt": {
        "description": "Trigger at grouping.",
        "properties": {
          "days-of-the-week": {
            "description": "Days of the week, separated by range.",
            "items": {
              "description": "Days of the week, separated by range.",
              "enum": [
                "sunday",
                "monday",
                "tuesday",
                "wednesday",
                "thursday",
                "friday",
                "saturday",
                "everyday"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "everyday": "Everyday",
                "friday": "Friday",
                "monday": "Monday",
                "saturday": "Saturday",
                "sunday": "Sunday",
                "thursday": "Thursday",
                "tuesday": "Tuesday",
                "wednesday": "Wednesday"
              },
              "x-supportedDeviceType": [
                "Switch PVOS"
              ],
              "x-typeDescription": "Day of week"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "frequency": {
            "description": "Frequency of job scheduler calendar time on schedule.",
            "enum": [
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DAILY": "Daily.",
              "MONTHLY": "Monthly.",
              "WEEKLY": "Weekly.",
              "YEARLY": "Yearly"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Frequency of Job Scheduler."
          },
          "month-day": {
            "description": "Date in a month. month-day is valid when frequency is MONTHLY.",
            "format": "int32",
            "maximum": -1,
            "minimum": -31,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "start-date-at": {
            "description": "Trigger start date, expressed as YYYY-MM-DD .\nstart-date-at is valid when trigger-type is TRIGGER_AT and start-time-at\nis configured.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "utc-date",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "A full UTC date, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DD\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value."
          },
          "start-date-every": {
            "description": "Trigger start date, expressed as YYYY-MM-DD .\nstart-date-every is valid when trigger-type is TRIGGER_EVERY and\nstart-time-every is configured. ",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "utc-date",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "A full UTC date, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DD\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value."
          },
          "start-date-on": {
            "description": "Trigger start date, expressed as YYYY-MM-DD .\nstart-date-on is valid when trigger-type is TRIGGER_ON",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "utc-date",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "A full UTC date, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DD\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value."
          },
          "start-time-at": {
            "description": "Trigger start time. 24-hour time, expressed as HH:MM .\nstart-time-at is valid when trigger-type is TRIGGER_AT",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "start-time-at",
            "x-patterns": "'([0-1][0-9]|2[0-3]):[0-5][0-9]'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "start-time-every": {
            "description": "Trigger start time. 24-hour time, expressed as HH:MM .\nstart-time-every is valid when /trigger-type is TRIGGER_EVERY.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "start-time-every",
            "x-patterns": "'[0-2][0-9]:[0-5][0-9]'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "start-time-on": {
            "description": "Trigger start time. 24-hour time, expressed as HH:MM .\nstart-time-on is valid when trigger-type is TRIGGER_ON",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "start-time-on",
            "x-patterns": "'[0-2][0-9]:[0-5][0-9]'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "week-day": {
            "description": "Day in a week. week-day is valid when frequency is WEEKLY",
            "enum": [
              "sunday",
              "monday",
              "tuesday",
              "wednesday",
              "thursday",
              "friday",
              "saturday",
              "everyday"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "everyday": "Everyday",
              "friday": "Friday",
              "monday": "Monday",
              "saturday": "Saturday",
              "sunday": "Sunday",
              "thursday": "Thursday",
              "tuesday": "Tuesday",
              "wednesday": "Wednesday"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Day of week"
          },
          "yearly-date": {
            "description": "The date when the job should run, in MM/DD format.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "yearly-date",
            "x-patterns": "'(04|06|09|11)/(0[1-9]|[12][0-9]|30)|(01|03|05|07|08|10|12)/(0[1-9]|[12][0-9]|3[01])|(02)/(0[1-9]|[12][0-9])'",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaJobScheduler_TriggerAtGet": {
        "description": "Trigger at grouping.",
        "properties": {
          "days-of-the-week": {
            "description": "Days of the week, separated by range.",
            "items": {
              "description": "Days of the week, separated by range.",
              "enum": [
                "sunday",
                "monday",
                "tuesday",
                "wednesday",
                "thursday",
                "friday",
                "saturday",
                "everyday"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "everyday": "Everyday",
                "friday": "Friday",
                "monday": "Monday",
                "saturday": "Saturday",
                "sunday": "Sunday",
                "thursday": "Thursday",
                "tuesday": "Tuesday",
                "wednesday": "Wednesday"
              },
              "x-supportedDeviceType": [
                "Switch PVOS"
              ],
              "x-typeDescription": "Day of week"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "frequency": {
            "description": "Frequency of job scheduler calendar time on schedule.",
            "enum": [
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DAILY": "Daily.",
              "MONTHLY": "Monthly.",
              "WEEKLY": "Weekly.",
              "YEARLY": "Yearly"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Frequency of Job Scheduler."
          },
          "month-day": {
            "description": "Date in a month. month-day is valid when frequency is MONTHLY.",
            "format": "int32",
            "maximum": -1,
            "minimum": -31,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "start-date-at": {
            "description": "Trigger start date, expressed as YYYY-MM-DD .\nstart-date-at is valid when trigger-type is TRIGGER_AT and start-time-at\nis configured.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "utc-date",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "A full UTC date, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DD\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value."
          },
          "start-date-every": {
            "description": "Trigger start date, expressed as YYYY-MM-DD .\nstart-date-every is valid when trigger-type is TRIGGER_EVERY and\nstart-time-every is configured. ",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "utc-date",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "A full UTC date, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DD\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value."
          },
          "start-date-on": {
            "description": "Trigger start date, expressed as YYYY-MM-DD .\nstart-date-on is valid when trigger-type is TRIGGER_ON",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "utc-date",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "A full UTC date, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DD\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value."
          },
          "start-time-at": {
            "description": "Trigger start time. 24-hour time, expressed as HH:MM .\nstart-time-at is valid when trigger-type is TRIGGER_AT",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "start-time-at",
            "x-patterns": "'([0-1][0-9]|2[0-3]):[0-5][0-9]'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "start-time-every": {
            "description": "Trigger start time. 24-hour time, expressed as HH:MM .\nstart-time-every is valid when /trigger-type is TRIGGER_EVERY.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "start-time-every",
            "x-patterns": "'[0-2][0-9]:[0-5][0-9]'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "start-time-on": {
            "description": "Trigger start time. 24-hour time, expressed as HH:MM .\nstart-time-on is valid when trigger-type is TRIGGER_ON",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "start-time-on",
            "x-patterns": "'[0-2][0-9]:[0-5][0-9]'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "week-day": {
            "description": "Day in a week. week-day is valid when frequency is WEEKLY",
            "enum": [
              "sunday",
              "monday",
              "tuesday",
              "wednesday",
              "thursday",
              "friday",
              "saturday",
              "everyday"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "everyday": "Everyday",
              "friday": "Friday",
              "monday": "Monday",
              "saturday": "Saturday",
              "sunday": "Sunday",
              "thursday": "Thursday",
              "tuesday": "Tuesday",
              "wednesday": "Wednesday"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Day of week"
          },
          "yearly-date": {
            "description": "The date when the job should run, in MM/DD format.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "yearly-date",
            "x-patterns": "'(04|06|09|11)/(0[1-9]|[12][0-9]|30)|(01|03|05|07|08|10|12)/(0[1-9]|[12][0-9]|3[01])|(02)/(0[1-9]|[12][0-9])'",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaJobScheduler_TriggerEvery": {
        "description": "Repeated trigger time grouping.",
        "properties": {
          "days": {
            "description": "Days. days is valid when trigger-type is TRIGGER_EVERY.",
            "format": "int32",
            "maximum": 365,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "duration": {
            "description": "Delay time in DD:HH:MM format.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "hours": {
            "description": "Hours. hours is valid when trigger-type is TRIGGER_EVERY.",
            "format": "int32",
            "maximum": 8760,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "minutes": {
            "description": "Minutes. minutes is valid when trigger-type is TRIGGER_EVERY.",
            "format": "int64",
            "maximum": 525600,
            "minimum": 30,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaJobScheduler_TriggerEveryGet": {
        "description": "Repeated trigger time grouping.",
        "properties": {
          "days": {
            "description": "Days. days is valid when trigger-type is TRIGGER_EVERY.",
            "format": "int32",
            "maximum": 365,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "duration": {
            "description": "Delay time in DD:HH:MM format.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "hours": {
            "description": "Hours. hours is valid when trigger-type is TRIGGER_EVERY.",
            "format": "int32",
            "maximum": 8760,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "minutes": {
            "description": "Minutes. minutes is valid when trigger-type is TRIGGER_EVERY.",
            "format": "int64",
            "maximum": 525600,
            "minimum": 30,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaJobScheduler_TriggerGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaJobScheduler_TriggerAtGet"
          },
          {
            "$ref": "#/components/schemas/ArubaJobScheduler_TriggerEveryGet"
          }
        ],
        "description": "Job scheduler trigger grouping.",
        "properties": {
          "cli-command": {
            "description": "Command to execute when this job runs.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "config-save": {
            "default": "false",
            "description": "Save the running configuration to flash after the job completes.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "count": {
            "description": "Maximum number of times the schedule can trigger.\nIf not set, no limit is applied on the number of triggers.\nThis is not applicable for 'one-shot' schedule type.\nOnce schedule is triggered count number of times, the status\nchanges to expired.",
            "format": "int32",
            "maximum": 1000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "date-time": {
            "description": "Trigger date and time.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "date-and-time",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
            "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
          },
          "trigger-at": {
            "description": "Trigger at given time.\ntrigger-at is valid when trigger-type is TRIGGER_AT.",
            "enum": [
              "TRIGGER_AT",
              "TRIGGER_ON",
              "TRIGGER_EVERY",
              "TRIGGER_EVENT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TRIGGER_AT": "Fixed date and time for the schedule. This is oneshot schedule.",
              "TRIGGER_EVENT": "Event at which the job is triggered.",
              "TRIGGER_EVERY": "Periodic interval for schedule with custom time interval.",
              "TRIGGER_ON": "Calendar time for the schedule."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Job scheduler trigger type."
          },
          "trigger-at-event": {
            "description": "Runs the job when the event occur.",
            "enum": [
              "REBOOT",
              "FAILOVER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "FAILOVER": "Failover event.",
              "REBOOT": "Reboot event."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Event to trigger the job."
          },
          "trigger-every": {
            "description": "Trigger every peoriodic interval. trigger-every is valid when\ntrigger-type is TRIGGER_EVERY.",
            "enum": [
              "TRIGGER_AT",
              "TRIGGER_ON",
              "TRIGGER_EVERY",
              "TRIGGER_EVENT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TRIGGER_AT": "Fixed date and time for the schedule. This is oneshot schedule.",
              "TRIGGER_EVENT": "Event at which the job is triggered.",
              "TRIGGER_EVERY": "Periodic interval for schedule with custom time interval.",
              "TRIGGER_ON": "Calendar time for the schedule."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Job scheduler trigger type."
          },
          "trigger-on": {
            "description": "Trigger on given date and time.\ntrigger-on is valid when trigger-type is TRIGGER_ON.",
            "enum": [
              "TRIGGER_AT",
              "TRIGGER_ON",
              "TRIGGER_EVERY",
              "TRIGGER_EVENT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TRIGGER_AT": "Fixed date and time for the schedule. This is oneshot schedule.",
              "TRIGGER_EVENT": "Event at which the job is triggered.",
              "TRIGGER_EVERY": "Periodic interval for schedule with custom time interval.",
              "TRIGGER_ON": "Calendar time for the schedule."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Job scheduler trigger type."
          },
          "trigger-on-monthly": {
            "description": "Trigger type monthly. trigger-on-monthly is valid when frequency is MONTHLY.",
            "enum": [
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DAILY": "Daily.",
              "MONTHLY": "Monthly.",
              "WEEKLY": "Weekly.",
              "YEARLY": "Yearly"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Frequency of Job Scheduler."
          },
          "trigger-on-weekly": {
            "description": "Trigger type weekly. trigger-on-weekly is valid when frequency is WEEKLY.",
            "enum": [
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DAILY": "Daily.",
              "MONTHLY": "Monthly.",
              "WEEKLY": "Weekly.",
              "YEARLY": "Yearly"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Frequency of Job Scheduler."
          },
          "trigger-on-yearly": {
            "description": "Trigger type yearly. trigger-on-yearly is valid when frequency is YEARLY.",
            "enum": [
              "DAILY",
              "WEEKLY",
              "MONTHLY",
              "YEARLY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DAILY": "Daily.",
              "MONTHLY": "Monthly.",
              "WEEKLY": "Weekly.",
              "YEARLY": "Yearly"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Frequency of Job Scheduler."
          },
          "trigger-type": {
            "description": "Trigger type.\nWhile updating trigger-type other parameter must set to null, which are\nnot applicable.",
            "enum": [
              "TRIGGER_AT",
              "TRIGGER_ON",
              "TRIGGER_EVERY",
              "TRIGGER_EVENT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TRIGGER_AT": "Fixed date and time for the schedule. This is oneshot schedule.",
              "TRIGGER_EVENT": "Event at which the job is triggered.",
              "TRIGGER_EVERY": "Periodic interval for schedule with custom time interval.",
              "TRIGGER_ON": "Calendar time for the schedule."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Job scheduler trigger type."
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaJobScheduler_JobSchedulerscheduleSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaJobScheduler_JobSchedulerscheduleSchema"
            }
          }
        },
        "description": "schedulebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
