{
  "openapi": "3.1.0",
  "info": {
    "title": "Local Management",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Local Management"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/local-management": {
      "get": {
        "description": "Configure local management settings of network devices via SSH, Telnet, console, or UI.\nThis ensures secure, controlled, and monitored access to the devices. Manage AAA\n(Authentication, Authorization, and Accounting) for device local management, and it ensures\nthat only authorized users can access the device, perform specific actions, and that all\nactivities are logged for auditing purposes. This feature is applicable for all devices.",
        "operationId": "readLocalManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaLocalManagement_LocalManagementSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read Local Management Profiles.",
        "tags": [
          "Local Management"
        ],
        "x-cliParam": {
          "commandName": "readLocalManagementCmd",
          "commandUse": "local-management",
          "parentCommand": "readCmd",
          "pathToPrint": "/local-management/",
          "summary": "Read operation for local-management"
        }
      }
    },
    "/network-config/v1alpha1/local-management/{name}": {
      "get": {
        "description": "List of Local Management Profiles.\nFor CX device, only 1 profile supported.",
        "operationId": "readLocalManagementProfileByID",
        "parameters": [
          {
            "description": "Local Management Profile name to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaLocalManagement_LocalManagementprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing Local Management Profile by name.",
        "tags": [
          "Local Management"
        ],
        "x-cliParam": {
          "commandName": "readLocalManagementProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readLocalManagementCmd",
          "pathToPrint": "/local-management/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of Local Management Profiles.\nFor CX device, only 1 profile supported.",
        "operationId": "replaceLocalManagementProfileByID",
        "parameters": [
          {
            "description": "Local Management Profile name to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaLocalManagement_LocalManagementprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing Local Management Profile by name.",
        "tags": [
          "Local Management"
        ],
        "x-cliParam": {
          "commandName": "replaceLocalManagementProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceLocalManagementCmd",
          "pathToPrint": "/local-management/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of Local Management Profiles.\nFor CX device, only 1 profile supported.",
        "operationId": "createLocalManagementProfileByID",
        "parameters": [
          {
            "description": "Local Management Profile name to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaLocalManagement_LocalManagementprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new Local Management Profile by name.",
        "tags": [
          "Local Management"
        ],
        "x-cliParam": {
          "commandName": "createLocalManagementProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createLocalManagementCmd",
          "pathToPrint": "/local-management/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of Local Management Profiles.\nFor CX device, only 1 profile supported.",
        "operationId": "deleteLocalManagementProfileByID",
        "parameters": [
          {
            "description": "Local Management Profile name to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete a Local Management Profile by name.",
        "tags": [
          "Local Management"
        ],
        "x-cliParam": {
          "commandName": "deleteLocalManagementProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteLocalManagementCmd",
          "pathToPrint": "/local-management/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of Local Management Profiles.\nFor CX device, only 1 profile supported.",
        "operationId": "updateLocalManagementProfileByID",
        "parameters": [
          {
            "description": "Local Management Profile name to be configured.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaLocalManagement_LocalManagementprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing Local Management Profile by name.",
        "tags": [
          "Local Management"
        ],
        "x-cliParam": {
          "commandName": "updateLocalManagementProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateLocalManagementCmd",
          "pathToPrint": "/local-management/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaLocalManagement_LocalManagementSchemaGET": {
        "description": "Configure local management settings of network devices via SSH, Telnet, console, or UI.\nThis ensures secure, controlled, and monitored access to the devices. Manage AAA\n(Authentication, Authorization, and Accounting) for device local management, and it ensures\nthat only authorized users can access the device, perform specific actions, and that all\nactivities are logged for auditing purposes. This feature is applicable for all devices.",
        "properties": {
          "profile": {
            "description": "List of Local Management Profiles.\nFor CX device, only 1 profile supported.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaManagementAccounting_MgmtAccountingGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaManagementAuthentication_MgmtAuthenticationGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaManagementAuthorization_MgmtAuthorizationGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaWebserver_WebserverGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaSshServer_SshServerGlobalConfigGet"
                },
                {
                  "properties": {
                    "audit-period": {
                      "description": "Configure audit period. Value of 0 implies disabling of audit-info.",
                      "format": "int32",
                      "maximum": 365,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "banner-exec": {
                      "description": "Banner to be displayed after a successful login with the management\ninterface.",
                      "properties": {
                        "message-delimiter": {
                          "description": "Delimiter for banner-exec.",
                          "format": "const",
                          "maxLength": 9999,
                          "minLength": 1,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        },
                        "text": {
                          "description": "For PVOS devices, the authentication banner-exec text length ranges from 1 to 3055 characters for firmware versions 16.11.0021 and earlier, and from 1 to 3068 characters for firmware versions 16.11.0022 and later.",
                          "format": "const",
                          "maxLength": 4095,
                          "minLength": 0,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Switch PVOS",
                            "Switch CX"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "banner-message": {
                      "description": "Banner to be displayed at the login prompt when a user connects to the management interface.",
                      "properties": {
                        "enforce-accept": {
                          "default": "false",
                          "description": "WebUI users must accept the banner to login.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Gateway"
                          ]
                        },
                        "last-login": {
                          "default": "true",
                          "description": "Displays last login banner.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "message-delimiter": {
                          "description": "Delimiter for banner-message.",
                          "format": "const",
                          "maxLength": 9999,
                          "minLength": 1,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Gateway",
                            "Switch CX"
                          ]
                        },
                        "text": {
                          "description": "For PVOS devices, the authentication banner-message text length ranges from 1 to 3055 characters for firmware versions 16.11.0021 and earlier, and from 1 to 3068 characters for firmware versions 16.11.0022 and later.",
                          "format": "const",
                          "maxLength": 4095,
                          "minLength": 0,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Access Point",
                            "Switch PVOS",
                            "Switch CX",
                            "Gateway"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Gateway",
                        "Switch CX"
                      ]
                    },
                    "bluetooth": {
                      "default": "true",
                      "description": "Enables management access to a switch through a USB Bluetooth adapter.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "console": {
                      "description": "Management console related configuration data.",
                      "properties": {
                        "baud-rate": {
                          "default": "RATE_115200",
                          "description": "Console serial port data transmission speed.",
                          "enum": [
                            "RATE_1200",
                            "RATE_2400",
                            "RATE_4800",
                            "RATE_9600",
                            "RATE_19200",
                            "RATE_38400",
                            "RATE_57600",
                            "RATE_115200",
                            "SPEED_SENSE"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "RATE_115200": "Console baud rate of 115200 bps.",
                            "RATE_1200": "Console baud rate of 1200 bps.",
                            "RATE_19200": "Console baud rate of 19200 bps.",
                            "RATE_2400": "Console baud rate of 2400 bps.",
                            "RATE_38400": "Console baud rate of 38400 bps.",
                            "RATE_4800": "Console baud rate of 4800 bps.",
                            "RATE_57600": "Console baud rate of 57600 bps.",
                            "RATE_9600": "Console baud rate of 9600 bps.",
                            "SPEED_SENSE": "Console Speed selected automatically."
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS",
                            "Switch CX"
                          ],
                          "x-typeDescription": "Serial baud rate."
                        },
                        "enable": {
                          "default": "true",
                          "description": "Enables console access through the serial port.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point",
                            "Gateway"
                          ]
                        },
                        "events": {
                          "description": "Set level of the events displayed in the device's Events Log.",
                          "enum": [
                            "ALL",
                            "CRITICAL",
                            "NOT_INFO",
                            "DEBUG",
                            "NONE"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "ALL": "All log events.",
                            "CRITICAL": "Only Critical level log events.",
                            "DEBUG": "Only Debug level log events.",
                            "NONE": " No log events",
                            "NOT_INFO": "Only Critical, Warn, and Debug level log events."
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "console events logs."
                        },
                        "flow-control": {
                          "default": "XON_XOFF",
                          "description": "Console serial port flow control method.",
                          "enum": [
                            "XON_XOFF",
                            "NONE"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "NONE": "No serial port flow control method used.",
                            "XON_XOFF": "XON or XOFF used as serial port flow control method."
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "Console serial port flow control method."
                        },
                        "idle-timeout": {
                          "description": "Console session timeout in seconds.",
                          "format": "int32",
                          "maximum": 7200,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "local-terminal": {
                          "description": "Enable the type of terminal for the current console sessions.",
                          "enum": [
                            "ANSI",
                            "NONE",
                            "VT100"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "ANSI": "ANSI terminal escape sequences.",
                            "NONE": "Raw mode with no terminal escape sequences.",
                            "VT100": "VT100 terminal escape sequences."
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "Enables type of terminal for the current console."
                        },
                        "max-sessions": {
                          "default": "7",
                          "description": "Maximum concurrent sessions supported by the device.",
                          "format": "int32",
                          "maximum": 7,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "screen-refresh": {
                          "description": "Configure the refresh time in seconds for menu status and counters.",
                          "format": "int32",
                          "maximum": 255,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "serviceos-password-prompt": {
                          "default": "false",
                          "description": "Enables the ServiceOS boot loader password prompt.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        },
                        "session-timeout": {
                          "default": "5",
                          "description": "AP console session idle timeout in minutes. Applies to serial console access only and range is 0 (disable timeout) or 5-1440 minutes.",
                          "format": "int32",
                          "maximum": 65535,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "terminal": {
                          "description": "Enable the type of terminal for the all console sessions.",
                          "enum": [
                            "ANSI",
                            "NONE",
                            "VT100"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "ANSI": "ANSI terminal escape sequences.",
                            "NONE": "Raw mode with no terminal escape sequences.",
                            "VT100": "VT100 terminal escape sequences."
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "Enables type of terminal for the current console."
                        },
                        "usb-enable": {
                          "default": "true",
                          "description": "Enable the USB console.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "usb-idle-timeout": {
                          "default": "false",
                          "description": "Serial or USB console session timeout.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "description": {
                      "description": "Local Management Profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "disable-cipher-type": {
                      "description": "Disable specific cipher authentication for SSH.\nRange: AES_CBC, AES_CTR.",
                      "items": {
                        "description": "Disable specific cipher authentication for SSH.\nRange: AES_CBC, AES_CTR.",
                        "enum": [
                          "AES_CBC",
                          "AES_CTR"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "AES_CBC": "Disable AES-CBC authentication. AES-CTR will be enabled.",
                          "AES_CTR": "Disable AES-CTR authentication. AES-CBC will be enabled."
                        },
                        "x-supportedDeviceType": [
                          "Access Point",
                          "Gateway"
                        ],
                        "x-typeDescription": "Disable authentication for SSH"
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "disable-dsa": {
                      "default": "false",
                      "description": "Disable DSA for SSH and only allow RSA.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "disable-kex": {
                      "default": "false",
                      "description": "Disable key exchange (KEX) algorithm for SSH.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "disable-mac": {
                      "description": "Disable specific MAC authentication for SSH.",
                      "items": {
                        "description": "Disable specific MAC authentication for SSH.",
                        "enum": [
                          "HMAC_SHA1",
                          "HMAC_SHA1_96"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "HMAC_SHA1": "Disable HMA-SHA1 authentication for SSH.",
                          "HMAC_SHA1_96": "Disable HMA-SHA1-96 authentication for SSH."
                        },
                        "x-supportedDeviceType": [
                          "Gateway"
                        ],
                        "x-typeDescription": "Disable authentication for MAC SSH"
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "hash-mgmt-password": {
                      "description": "Enable/Disable hashing of the management user password.",
                      "properties": {
                        "enable": {
                          "default": "true",
                          "description": "Enable hashing of the management user password.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "min-password-length": {
                          "default": "1",
                          "description": "Minimum password length.\nIf this value exceeds the current password length, the user will be prompted to change their password at the next login.",
                          "format": "int64",
                          "maximum": 31,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "localauth": {
                      "default": "false",
                      "description": "Enable Local authentication even if radius authentication times out.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "login": {
                      "description": "Management login configurations.",
                      "properties": {
                        "lockout-delay": {
                          "description": "Time period for which the unauthorizes users will be denylisted.\nThe value is measured in seconds.\nFor PVOS, valid range is 0..3600 seconds.",
                          "format": "int64",
                          "maximum": 3600,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "num-attempts": {
                          "description": "Number of invalid login attempts before a user is blocked out of the system.\nFor PVOS device, valid values range from 1 to 10.\nIf no value is set, the default is no limit on login attempts.",
                          "format": "int64",
                          "maximum": 10,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "user-lockout": {
                          "description": "User lockout configuration for management interfaces.",
                          "items": {
                            "properties": {
                              "denylist-period": {
                                "description": "Time period for which the unauthorizes users will be denylisted.\nThe value is measured in seconds.\nFor a CX device, the range is 1..3600 seconds. This value has no effect unless threshold is set.\nFor AP, valid range is 10..65535.",
                                "format": "int64",
                                "maximum": 65535,
                                "minimum": 0,
                                "type": "integer",
                                "x-supportedDeviceType": [
                                  "Access Point"
                                ]
                              },
                              "lockout": {
                                "default": "false",
                                "description": "User based lockout enable/disable.",
                                "type": "boolean",
                                "x-supportedDeviceType": [
                                  "Switch PVOS"
                                ]
                              },
                              "session": {
                                "description": "User sessions for which the lockout is applied",
                                "enum": [
                                  "LOGIN",
                                  "CONSOLE"
                                ],
                                "format": "enum",
                                "type": "string",
                                "x-enumDescriptions": {
                                  "CONSOLE": "Console login.",
                                  "LOGIN": "Remote CLI login for SSH and Telnet.\nFor a CX device, this includes remote REST login also."
                                },
                                "x-supportedDeviceType": [
                                  "Switch CX",
                                  "Switch PVOS"
                                ],
                                "x-typeDescription": "Session access."
                              },
                              "threshold": {
                                "description": "Number of invalid login attempts before a user is blocked out of the system.\nFor a CX device, the range is 1..10.\nIf no value is set, the default is no limit on login attempts.",
                                "format": "int64",
                                "maximum": 65535,
                                "minimum": 1,
                                "type": "integer",
                                "x-supportedDeviceType": [
                                  "Access Point"
                                ]
                              }
                            }
                          },
                          "maxItems": 2147483647,
                          "type": "array",
                          "x-key": [
                            "session"
                          ],
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "login-session-timeout": {
                      "description": "If there is no activity for this duration the Management(Telnet, SSH and Console) session is terminated.\nFor a CX device, the default value is 30 minutes. A value of 0 disables the timeout.\nFor AP, valid range is 0 and 5-60 minitues, 0 to disable.\nFor GW value of '0' disables it. default 15 minutes. Range is <1-60> minutes",
                      "format": "int64",
                      "maximum": 43200,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Switch CX",
                        "Gateway"
                      ]
                    },
                    "login-session-timeout-seconds": {
                      "description": "For GW Range is <5-3600> seconds",
                      "format": "int64",
                      "maximum": 3600,
                      "minimum": 5,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "managed-mode-profile": {
                      "description": "Enable automatic configuration of the APs in the management mode.",
                      "properties": {
                        "automatic": {
                          "default": "false",
                          "description": "Enables the automatic mode to automatically generate the user\ncredentials based on AP MAC address.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "config-filename": {
                          "description": "Configuration filename.",
                          "format": "const",
                          "maxLength": 40,
                          "minLength": 1,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "debug-mode": {
                          "default": "false",
                          "description": "Enable debug mode.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "download-method": {
                          "description": "Download configuration method (FTP or FTPS).",
                          "enum": [
                            "FTP",
                            "FTPS"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "FTP": "FTP used for downloading configuration files.",
                            "FTPS": "FTPS used for downloading configuration files."
                          },
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "Methods for downloading configuration files."
                        },
                        "password": {
                          "description": "Password credentials set by the user to enable automatic configuration when automatic is false.",
                          "format": "const",
                          "maxLength": 9999,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                        },
                        "retry-poll-period": {
                          "description": "Time interval in minutes between two retries, after which\nAPs can retry downloading the configuration file.",
                          "format": "int64",
                          "maximum": 4294967295,
                          "minimum": 5,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "server-name": {
                          "description": "Name of the server or the IP address of the server from which the\nconfiguration file must be downloaded.",
                          "format": "const",
                          "maxLength": 40,
                          "minLength": 1,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "sync-day": {
                          "description": "Configuration day, for example to configure Sunday as day, specify 01.\nTo configure the synchronization period as everyday, enter 00.",
                          "enum": [
                            "sunday",
                            "monday",
                            "tuesday",
                            "wednesday",
                            "thursday",
                            "friday",
                            "saturday",
                            "everyday"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "everyday": "Everyday",
                            "friday": "Friday",
                            "monday": "Monday",
                            "saturday": "Saturday",
                            "sunday": "Sunday",
                            "thursday": "Thursday",
                            "tuesday": "Tuesday",
                            "wednesday": "Wednesday"
                          },
                          "x-supportedDeviceType": [
                            "Access Point"
                          ],
                          "x-typeDescription": "Day of week"
                        },
                        "sync-hour": {
                          "description": "Configuration hour in the range of 0-23.",
                          "format": "int32",
                          "maximum": 23,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "sync-minute": {
                          "description": "Configuration minute in the range of 0-59.",
                          "format": "int64",
                          "maximum": 59,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "sync-window": {
                          "default": "3",
                          "description": "Defines a window for synchronization of the configuration file.\nThe default value is 3 hours.",
                          "format": "int32",
                          "maximum": 3,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "username": {
                          "description": "Username credentials set by user to enable automatic configuration when automatic is false.",
                          "format": "const",
                          "maxLength": 40,
                          "minLength": 1,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "max-sessions-per-user": {
                      "description": "Maximum concurrent sessions per user.\nFor a CX device, the range allowed is 1-5 sessions.",
                      "format": "int32",
                      "maximum": 7,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ]
                    },
                    "mgmt-auth-public-key": {
                      "default": "true",
                      "description": "Management user's SSH Authentication method by public-key auth.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "mgmt-auth-uname-pwd": {
                      "default": "true",
                      "description": "Management user's SSH Authentication method by username & password.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "nae": {
                      "description": "Network Analytics Engine (NAE) configuration",
                      "properties": {
                        "cli-authorization": {
                          "default": "true",
                          "description": "Configure NAE agent ActionCLI commands to require authorization.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "name": {
                      "description": "Local Management Profile name to be configured.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "password-complexity": {
                      "description": "Enables password complexity feature.",
                      "properties": {
                        "adjacent-char-type-count": {
                          "default": "0",
                          "description": "Maximum number of adjacent characters allowed from character set.\nFor a Gateway device, the range of values is 0-10 max consecutive characters. A value of 0 indicates that enforcing of maximum number of consecutive character repeat is disabled by default.\nFor a CX device, the default value is 0 character. A value of 0 indicates that the enforcement on the adjacent characters from the character set in the password is disabled by default.",
                          "format": "int64",
                          "maximum": 63,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Gateway"
                          ]
                        },
                        "all-repeat-check": {
                          "default": "false",
                          "description": "Enables all possible repeat checks avialable.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "certificate-lock-out": {
                          "default": "0",
                          "description": "Configuring the number of failed attempts within 3 minute window to lockout the user. Provides ability to reduce the number of login attempts that can be made in a short time. Automatically clears the lockout after configured 'lock-out' minutes. A value of 0 indicates that lockout of users is disabled.",
                          "format": "int64",
                          "maximum": 10,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Gateway"
                          ]
                        },
                        "certificate-lock-out-time": {
                          "default": "3",
                          "description": "Configuring the number of minutes the user is locked out. The lockout is cleared without administrator intervention.",
                          "format": "int64",
                          "maximum": 1440,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Gateway"
                          ]
                        },
                        "enable": {
                          "default": "false",
                          "description": "Enable Password Complexity feature.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS",
                            "Gateway"
                          ]
                        },
                        "history-check": {
                          "default": "false",
                          "description": "Enable password history check.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "history-count": {
                          "description": "Maximum number of password history count for each user.\nFor a CX device, the default password history count is 5 and the range is 1-5.\nFor a PVOS device, the default password history count is 8, with a valid range of 2 to 15.",
                          "format": "int64",
                          "maximum": 15,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS"
                          ]
                        },
                        "logon-details": {
                          "description": "Enable/Disable accessing the logon details.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "lowercase-count": {
                          "description": "Minimum number of lowercase count in a password.\nFor a Gateway device, the range of values is  0-10 minimum lower case characters. A value of 0 indicates that the minimum number of lower case required is disabled by default.\nFor a CX device, the default value is 1 character.\nFor a CX device, the range is 0..32 for firmware versions 10.12 and earlier.\nFor PVOS device, valid values range from 2 to 15 lowercase characters, with a default of 2.",
                          "format": "int64",
                          "maximum": 64,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS",
                            "Gateway"
                          ]
                        },
                        "min-char-difference": {
                          "description": "Minimum number of character that the new password differes from old password.\nFor a CX device, the default value is 8 characters.\nFor a CX device, the range is 1..32 for firmware versions 10.12 and earlier, 1..64 otherwise.\nFor PVOS device, valid values range from 8 to 64.",
                          "format": "int64",
                          "maximum": 128,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS",
                            "Gateway"
                          ]
                        },
                        "minimum-length": {
                          "description": "Minimum password length required.\nFor a Gateway device, the default value is 6 characters and the range of values is 6-128 characters.\nFor a CX device, the default minimum length of the password is 8 characters.\nFor a CX device, the range is 1..32 for firmware versions 10.12 and earlier, 1..64 otherwise.\nFor PVOS device, valid values range from 0 to 64.",
                          "format": "int64",
                          "maximum": 128,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS",
                            "Gateway"
                          ]
                        },
                        "numeric-count": {
                          "description": "Minimum number of numeric count in a password.\nFor a Gateway device, the range of values is 0-10 numeric digits and the default value is 0.\nFor a CX device, the default value is 1 character.\nFor a CX device, the range is 0..32 for firmware versions 10.12 and earlier.\nFor PVOS device, valid values range from 2 to 15 numeric digits, with a default of 2.",
                          "format": "int64",
                          "maximum": 64,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS",
                            "Gateway"
                          ]
                        },
                        "password-aging": {
                          "default": "false",
                          "description": "Enable password aging check.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "password-aging-period": {
                          "default": "90",
                          "description": "Password aging period for a system.",
                          "format": "int64",
                          "maximum": 365,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "password-alert-before-expiry": {
                          "default": "9",
                          "description": "Number of days before password aging during which user is warned of pending password expiry.",
                          "format": "int64",
                          "maximum": 30,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "password-expired-user-login-attempts": {
                          "default": "3",
                          "description": "Number of subsequent logins allowed after password expiry.",
                          "format": "int64",
                          "maximum": 10,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "password-expiry-user-login-attempts-period": {
                          "default": "30",
                          "description": "Duration in days in which the particular logins are allowed.",
                          "format": "int64",
                          "maximum": 90,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "password-lock-out": {
                          "default": "0",
                          "description": "Configuring the number of failed attempts within 3 minute window to lockout the user. Provides ability to reduce the number of passwords that can be guessed in a short time. Automatically clears the lockout after configured 'lock-out' minutes. A value of 0 indicates that lockout of users is disabled.",
                          "format": "int64",
                          "maximum": 10,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Gateway"
                          ]
                        },
                        "password-lock-out-time": {
                          "default": "3",
                          "description": "Configuring the number of minutes the user is locked out. The lockout is cleared without administrator intervention.",
                          "format": "int64",
                          "maximum": 1440,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Gateway"
                          ]
                        },
                        "password-update-interval": {
                          "default": "24",
                          "description": "Wait duration in hours before the password update.",
                          "format": "int64",
                          "maximum": 168,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "repeat-char-check": {
                          "default": "false",
                          "description": "Password repeat character check ensures password does not contain three of the same characters used consecutively.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "repeat-password-check": {
                          "default": "false",
                          "description": "Password repeat check ensures same password is not allowed.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "repeat-username-check": {
                          "default": "false",
                          "description": "Password repeat username check ensures same username or reverse of username is not set as password.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS",
                            "Gateway"
                          ]
                        },
                        "special-char-count": {
                          "description": "Minimum number of special character count in a password.\nFor a Gateway device, the special characters are !, @, #, $, %, ^, &, *, <, >, {, }, [, ], :, ., comma, |, +, ~, `. The range of values is 0-10 special characters. A value of 0 indicates that the minimum number of special character required is disabled by default. The following ( ')', '(' ;, -, space, =, /, ?) are dis-allowed.\nFor a CX device, the default value is 1 character.\nFor a CX device, the range is 0..32 for firmware versions 10.12 and earlier.\nFor PVOS device, valid values range from 2 to 15 special characters, with a default of 2.",
                          "format": "int64",
                          "maximum": 64,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS",
                            "Gateway"
                          ]
                        },
                        "uppercase-count": {
                          "description": "Minimum number of uppercase count in a password.\nFor a Gateway device, the range of values is 0-10 minimum upper case characters. A value of 0 indicates that minimum number of upper case required is disabled by default.\nFor a CX device, the default value is 1 character.\nFor a CX device, the range is 0..32 for firmware versions 10.12 and earlier.\nFor PVOS device, valid values range from 2 to 15 uppercase characters, with a default of 2.",
                          "format": "int64",
                          "maximum": 64,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS",
                            "Gateway"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Gateway",
                        "Switch PVOS"
                      ]
                    },
                    "password-sha256": {
                      "default": "false",
                      "description": "Enable password format SHA-256.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "telnet-server": {
                      "description": "Enables Telnet access to the CLI",
                      "properties": {
                        "enable": {
                          "description": "Enable Telnet access to the system.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS",
                            "Access Point",
                            "Gateway"
                          ]
                        },
                        "telnet-server-listen-interface": {
                          "default": "BOTH",
                          "description": "The type of interface that the telnet server is available.",
                          "enum": [
                            "OOBM",
                            "DATA",
                            "BOTH"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "BOTH": "BOTH OOBM and Data Planes.",
                            "DATA": "Data Plane.",
                            "OOBM": "OOBM interface."
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "TFTP Server listen type"
                        },
                        "vrf": {
                          "description": "VRF on which the telnet server is enabled/disabled.",
                          "items": {
                            "description": "VRF on which the telnet server is enabled/disabled.",
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                            "x-patternSources": "name-type",
                            "x-patterns": "'([^\\\\/ ]+)'",
                            "x-supportedDeviceType": [
                              "Switch CX"
                            ],
                            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                          },
                          "maxItems": 2147483647,
                          "type": "array"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "tftp-client": {
                      "description": "Enable/DISABLE the TFTP client",
                      "properties": {
                        "blk-size": {
                          "description": "TFTP transfer block size.",
                          "format": "int32",
                          "maximum": 1416,
                          "minimum": 512,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "enable": {
                          "default": "true",
                          "description": "Enable Telnet access to the system.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        }
                      },
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "tftp-server": {
                      "description": "Enable/DISABLE the TFTP server",
                      "properties": {
                        "enable": {
                          "default": "true",
                          "description": "Enable Telnet access to the system.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "tftp-listen-interface": {
                          "default": "BOTH",
                          "description": "The type of interface that the TFTP server is available.",
                          "enum": [
                            "OOBM",
                            "DATA",
                            "BOTH"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "BOTH": "BOTH OOBM and Data Planes.",
                            "DATA": "Data Plane.",
                            "OOBM": "OOBM interface."
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "TFTP Server listen type"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "tracking-range": {
                      "description": "The maximum time period, in days, for which a user's login sessions will be tracked.\nFor a CX device, the default value is 30 days and the range allowed is 1..30 days.",
                      "format": "int32",
                      "maximum": 180,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaLocalManagement_LocalManagementprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaManagementAccounting_MgmtAccounting"
          },
          {
            "$ref": "#/components/schemas/ArubaManagementAuthentication_MgmtAuthentication"
          },
          {
            "$ref": "#/components/schemas/ArubaManagementAuthorization_MgmtAuthorization"
          },
          {
            "$ref": "#/components/schemas/ArubaWebserver_Webserver"
          },
          {
            "$ref": "#/components/schemas/ArubaSshServer_SshServerGlobalConfig"
          },
          {
            "properties": {
              "audit-period": {
                "description": "Configure audit period. Value of 0 implies disabling of audit-info.",
                "format": "int32",
                "maximum": 365,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "banner-exec": {
                "description": "Banner to be displayed after a successful login with the management\ninterface.",
                "properties": {
                  "message-delimiter": {
                    "description": "Delimiter for banner-exec.",
                    "format": "const",
                    "maxLength": 9999,
                    "minLength": 1,
                    "type": "string",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ]
                  },
                  "text": {
                    "description": "For PVOS devices, the authentication banner-exec text length ranges from 1 to 3055 characters for firmware versions 16.11.0021 and earlier, and from 1 to 3068 characters for firmware versions 16.11.0022 and later.",
                    "format": "const",
                    "maxLength": 4095,
                    "minLength": 0,
                    "type": "string",
                    "x-supportedDeviceType": [
                      "Switch PVOS",
                      "Switch CX"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "banner-message": {
                "description": "Banner to be displayed at the login prompt when a user connects to the management interface.",
                "properties": {
                  "enforce-accept": {
                    "default": "false",
                    "description": "WebUI users must accept the banner to login.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Gateway"
                    ]
                  },
                  "last-login": {
                    "default": "true",
                    "description": "Displays last login banner.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ]
                  },
                  "message-delimiter": {
                    "description": "Delimiter for banner-message.",
                    "format": "const",
                    "maxLength": 9999,
                    "minLength": 1,
                    "type": "string",
                    "x-supportedDeviceType": [
                      "Gateway",
                      "Switch CX"
                    ]
                  },
                  "text": {
                    "description": "For PVOS devices, the authentication banner-message text length ranges from 1 to 3055 characters for firmware versions 16.11.0021 and earlier, and from 1 to 3068 characters for firmware versions 16.11.0022 and later.",
                    "format": "const",
                    "maxLength": 4095,
                    "minLength": 0,
                    "type": "string",
                    "x-supportedDeviceType": [
                      "Access Point",
                      "Switch PVOS",
                      "Switch CX",
                      "Gateway"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Gateway",
                  "Switch CX"
                ]
              },
              "bluetooth": {
                "default": "true",
                "description": "Enables management access to a switch through a USB Bluetooth adapter.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "console": {
                "description": "Management console related configuration data.",
                "properties": {
                  "baud-rate": {
                    "default": "RATE_115200",
                    "description": "Console serial port data transmission speed.",
                    "enum": [
                      "RATE_1200",
                      "RATE_2400",
                      "RATE_4800",
                      "RATE_9600",
                      "RATE_19200",
                      "RATE_38400",
                      "RATE_57600",
                      "RATE_115200",
                      "SPEED_SENSE"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "RATE_115200": "Console baud rate of 115200 bps.",
                      "RATE_1200": "Console baud rate of 1200 bps.",
                      "RATE_19200": "Console baud rate of 19200 bps.",
                      "RATE_2400": "Console baud rate of 2400 bps.",
                      "RATE_38400": "Console baud rate of 38400 bps.",
                      "RATE_4800": "Console baud rate of 4800 bps.",
                      "RATE_57600": "Console baud rate of 57600 bps.",
                      "RATE_9600": "Console baud rate of 9600 bps.",
                      "SPEED_SENSE": "Console Speed selected automatically."
                    },
                    "x-supportedDeviceType": [
                      "Switch PVOS",
                      "Switch CX"
                    ],
                    "x-typeDescription": "Serial baud rate."
                  },
                  "enable": {
                    "default": "true",
                    "description": "Enables console access through the serial port.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point",
                      "Gateway"
                    ]
                  },
                  "events": {
                    "description": "Set level of the events displayed in the device's Events Log.",
                    "enum": [
                      "ALL",
                      "CRITICAL",
                      "NOT_INFO",
                      "DEBUG",
                      "NONE"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "ALL": "All log events.",
                      "CRITICAL": "Only Critical level log events.",
                      "DEBUG": "Only Debug level log events.",
                      "NONE": " No log events",
                      "NOT_INFO": "Only Critical, Warn, and Debug level log events."
                    },
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "console events logs."
                  },
                  "flow-control": {
                    "default": "XON_XOFF",
                    "description": "Console serial port flow control method.",
                    "enum": [
                      "XON_XOFF",
                      "NONE"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "NONE": "No serial port flow control method used.",
                      "XON_XOFF": "XON or XOFF used as serial port flow control method."
                    },
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "Console serial port flow control method."
                  },
                  "idle-timeout": {
                    "description": "Console session timeout in seconds.",
                    "format": "int32",
                    "maximum": 7200,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ]
                  },
                  "local-terminal": {
                    "description": "Enable the type of terminal for the current console sessions.",
                    "enum": [
                      "ANSI",
                      "NONE",
                      "VT100"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "ANSI": "ANSI terminal escape sequences.",
                      "NONE": "Raw mode with no terminal escape sequences.",
                      "VT100": "VT100 terminal escape sequences."
                    },
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "Enables type of terminal for the current console."
                  },
                  "max-sessions": {
                    "default": "7",
                    "description": "Maximum concurrent sessions supported by the device.",
                    "format": "int32",
                    "maximum": 7,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ]
                  },
                  "screen-refresh": {
                    "description": "Configure the refresh time in seconds for menu status and counters.",
                    "format": "int32",
                    "maximum": 255,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ]
                  },
                  "serviceos-password-prompt": {
                    "default": "false",
                    "description": "Enables the ServiceOS boot loader password prompt.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ]
                  },
                  "session-timeout": {
                    "default": "5",
                    "description": "AP console session idle timeout in minutes. Applies to serial console access only and range is 0 (disable timeout) or 5-1440 minutes.",
                    "format": "int32",
                    "maximum": 65535,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "terminal": {
                    "description": "Enable the type of terminal for the all console sessions.",
                    "enum": [
                      "ANSI",
                      "NONE",
                      "VT100"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "ANSI": "ANSI terminal escape sequences.",
                      "NONE": "Raw mode with no terminal escape sequences.",
                      "VT100": "VT100 terminal escape sequences."
                    },
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "Enables type of terminal for the current console."
                  },
                  "usb-enable": {
                    "default": "true",
                    "description": "Enable the USB console.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ]
                  },
                  "usb-idle-timeout": {
                    "default": "false",
                    "description": "Serial or USB console session timeout.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "description": {
                "description": "Local Management Profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "disable-cipher-type": {
                "description": "Disable specific cipher authentication for SSH.\nRange: AES_CBC, AES_CTR.",
                "items": {
                  "description": "Disable specific cipher authentication for SSH.\nRange: AES_CBC, AES_CTR.",
                  "enum": [
                    "AES_CBC",
                    "AES_CTR"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AES_CBC": "Disable AES-CBC authentication. AES-CTR will be enabled.",
                    "AES_CTR": "Disable AES-CTR authentication. AES-CBC will be enabled."
                  },
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ],
                  "x-typeDescription": "Disable authentication for SSH"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "disable-dsa": {
                "default": "false",
                "description": "Disable DSA for SSH and only allow RSA.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "disable-kex": {
                "default": "false",
                "description": "Disable key exchange (KEX) algorithm for SSH.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "disable-mac": {
                "description": "Disable specific MAC authentication for SSH.",
                "items": {
                  "description": "Disable specific MAC authentication for SSH.",
                  "enum": [
                    "HMAC_SHA1",
                    "HMAC_SHA1_96"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "HMAC_SHA1": "Disable HMA-SHA1 authentication for SSH.",
                    "HMAC_SHA1_96": "Disable HMA-SHA1-96 authentication for SSH."
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Disable authentication for MAC SSH"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "hash-mgmt-password": {
                "description": "Enable/Disable hashing of the management user password.",
                "properties": {
                  "enable": {
                    "default": "true",
                    "description": "Enable hashing of the management user password.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "min-password-length": {
                    "default": "1",
                    "description": "Minimum password length.\nIf this value exceeds the current password length, the user will be prompted to change their password at the next login.",
                    "format": "int64",
                    "maximum": 31,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "localauth": {
                "default": "false",
                "description": "Enable Local authentication even if radius authentication times out.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "login": {
                "description": "Management login configurations.",
                "properties": {
                  "lockout-delay": {
                    "description": "Time period for which the unauthorizes users will be denylisted.\nThe value is measured in seconds.\nFor PVOS, valid range is 0..3600 seconds.",
                    "format": "int64",
                    "maximum": 3600,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ]
                  },
                  "num-attempts": {
                    "description": "Number of invalid login attempts before a user is blocked out of the system.\nFor PVOS device, valid values range from 1 to 10.\nIf no value is set, the default is no limit on login attempts.",
                    "format": "int64",
                    "maximum": 10,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ]
                  },
                  "user-lockout": {
                    "description": "User lockout configuration for management interfaces.",
                    "items": {
                      "properties": {
                        "denylist-period": {
                          "description": "Time period for which the unauthorizes users will be denylisted.\nThe value is measured in seconds.\nFor a CX device, the range is 1..3600 seconds. This value has no effect unless threshold is set.\nFor AP, valid range is 10..65535.",
                          "format": "int64",
                          "maximum": 65535,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        },
                        "lockout": {
                          "default": "false",
                          "description": "User based lockout enable/disable.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "session": {
                          "description": "User sessions for which the lockout is applied",
                          "enum": [
                            "LOGIN",
                            "CONSOLE"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "CONSOLE": "Console login.",
                            "LOGIN": "Remote CLI login for SSH and Telnet.\nFor a CX device, this includes remote REST login also."
                          },
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "Session access."
                        },
                        "threshold": {
                          "description": "Number of invalid login attempts before a user is blocked out of the system.\nFor a CX device, the range is 1..10.\nIf no value is set, the default is no limit on login attempts.",
                          "format": "int64",
                          "maximum": 65535,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Access Point"
                          ]
                        }
                      }
                    },
                    "maxItems": 2147483647,
                    "type": "array",
                    "x-key": [
                      "session"
                    ],
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point",
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "login-session-timeout": {
                "description": "If there is no activity for this duration the Management(Telnet, SSH and Console) session is terminated.\nFor a CX device, the default value is 30 minutes. A value of 0 disables the timeout.\nFor AP, valid range is 0 and 5-60 minitues, 0 to disable.\nFor GW value of '0' disables it. default 15 minutes. Range is <1-60> minutes",
                "format": "int64",
                "maximum": 43200,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Switch CX",
                  "Gateway"
                ]
              },
              "login-session-timeout-seconds": {
                "description": "For GW Range is <5-3600> seconds",
                "format": "int64",
                "maximum": 3600,
                "minimum": 5,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "managed-mode-profile": {
                "description": "Enable automatic configuration of the APs in the management mode.",
                "properties": {
                  "automatic": {
                    "default": "false",
[...]
