{
  "openapi": "3.1.0",
  "info": {
    "title": "Logging",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Logging"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/logging": {
      "get": {
        "description": "Manage logging profiles for Aruba devices, enabling centralized control\nof log message destinations, severity levels, and logging behavior.\nThis API allows administrators to define and retrieve logging profiles,\nwhich can be referenced by other system or device profiles to standardize\nlog management. Use this API to retrieve the list of Logging profiles.",
        "operationId": "readLogging",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaLogging_LoggingSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing logging profile configurations",
        "tags": [
          "Logging"
        ],
        "x-cliParam": {
          "commandName": "readLoggingCmd",
          "commandUse": "logging",
          "parentCommand": "readCmd",
          "pathToPrint": "/logging/",
          "summary": "Read operation for logging"
        }
      }
    },
    "/network-config/v1alpha1/logging/{name}": {
      "get": {
        "description": "Defines a single Logging profile, specifying parameters for log message handling, destinations,\nand severity filtering. Each entity is identified by name. Use these APIs to create, modify,\nor delete an instance.",
        "operationId": "readLoggingProfileByID",
        "parameters": [
          {
            "description": "Unique name for the Logging profile. Required to\nreference this profile in device or system configurations.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaLogging_LoggingprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing logging configurations",
        "tags": [
          "Logging"
        ],
        "x-cliParam": {
          "commandName": "readLoggingProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readLoggingCmd",
          "pathToPrint": "/logging/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Defines a single Logging profile, specifying parameters for log message handling, destinations,\nand severity filtering. Each entity is identified by name. Use these APIs to create, modify,\nor delete an instance.",
        "operationId": "replaceLoggingProfileByID",
        "parameters": [
          {
            "description": "Unique name for the Logging profile. Required to\nreference this profile in device or system configurations.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaLogging_LoggingprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing logging configurations",
        "tags": [
          "Logging"
        ],
        "x-cliParam": {
          "commandName": "replaceLoggingProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceLoggingCmd",
          "pathToPrint": "/logging/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Defines a single Logging profile, specifying parameters for log message handling, destinations,\nand severity filtering. Each entity is identified by name. Use these APIs to create, modify,\nor delete an instance.",
        "operationId": "createLoggingProfileByID",
        "parameters": [
          {
            "description": "Unique name for the Logging profile. Required to\nreference this profile in device or system configurations.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaLogging_LoggingprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new logging by unique name",
        "tags": [
          "Logging"
        ],
        "x-cliParam": {
          "commandName": "createLoggingProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createLoggingCmd",
          "pathToPrint": "/logging/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Defines a single Logging profile, specifying parameters for log message handling, destinations,\nand severity filtering. Each entity is identified by name. Use these APIs to create, modify,\nor delete an instance.",
        "operationId": "deleteLoggingProfileByID",
        "parameters": [
          {
            "description": "Unique name for the Logging profile. Required to\nreference this profile in device or system configurations.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the logging",
        "tags": [
          "Logging"
        ],
        "x-cliParam": {
          "commandName": "deleteLoggingProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteLoggingCmd",
          "pathToPrint": "/logging/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Defines a single Logging profile, specifying parameters for log message handling, destinations,\nand severity filtering. Each entity is identified by name. Use these APIs to create, modify,\nor delete an instance.",
        "operationId": "updateLoggingProfileByID",
        "parameters": [
          {
            "description": "Unique name for the Logging profile. Required to\nreference this profile in device or system configurations.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaLogging_LoggingprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing logging configurations",
        "tags": [
          "Logging"
        ],
        "x-cliParam": {
          "commandName": "updateLoggingProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateLoggingCmd",
          "pathToPrint": "/logging/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaLogging_FilterEntry": {
        "description": "Logging filter entry configuration.",
        "properties": {
          "entry": {
            "description": "Logging filter entry configuration.",
            "items": {
              "properties": {
                "action": {
                  "default": "PERMIT",
                  "description": "Action applied on the selected events.",
                  "enum": [
                    "PERMIT",
                    "DENY"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "DENY": "deny action.",
                    "PERMIT": "permit action."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Action applied on the selected events."
                },
                "default-action": {
                  "description": "Action applied on default criteria.",
                  "enum": [
                    "PERMIT",
                    "DENY"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "DENY": "deny action.",
                    "PERMIT": "permit action."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Action applied on the selected events."
                },
                "enable": {
                  "description": "Enables or disables logging for this profile. When enabled, log messages are processed according to the profile's settings.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "event-id-range": {
                  "description": "Event id or range of event ids.",
                  "format": "const",
                  "maxLength": 11,
                  "minLength": 5,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "match-event-id": {
                  "description": "List of event match Ids",
                  "items": {
                    "description": "List of event match Ids",
                    "format": "int64",
                    "maximum": 32767,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ]
                  },
                  "maxItems": 100,
                  "type": "array"
                },
                "match-regex": {
                  "description": "Filter events using regular expression.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 2,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "match-severity": {
                  "description": "Filter by event severity.",
                  "properties": {
                    "match-severity-key": {
                      "description": "Type of matching severity for logging filter.",
                      "enum": [
                        "HIGHER_THAN",
                        "HIGHER_OR_EQUAL_TO",
                        "EQUAL_TO",
                        "LESSER_THAN",
                        "LESSER_THAN_OR_EQUAL_TO",
                        "NONE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "EQUAL_TO": "Severity type equal to.",
                        "HIGHER_OR_EQUAL_TO": "Severity type higher than or equal to.",
                        "HIGHER_THAN": "Severity type higher than.",
                        "LESSER_THAN": "Severity type lesser than.",
                        "LESSER_THAN_OR_EQUAL_TO": "Severity type lesser than or equal to.",
                        "NONE": "No log type"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Logging filter match severity type."
                    },
                    "match-severity-value": {
                      "description": "Value for logging filter severity.",
                      "enum": [
                        "EMERGENCY",
                        "ALERT",
                        "CRITICAL",
                        "ERROR",
                        "WARNING",
                        "NOTICE",
                        "INFO",
                        "DEBUG",
                        "MAJOR"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ALERT": "Immediate action needed.",
                        "CRITICAL": "Critical Condition",
                        "DEBUG": "Debug Messages",
                        "EMERGENCY": "System is unusable",
                        "ERROR": "Error condition in the system",
                        "INFO": "Informational Messages",
                        "MAJOR": "Major condition",
                        "NOTICE": "Normal bug significant condition",
                        "WARNING": "Warning condition"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Logging level upto which, the messages are logged."
                    }
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "sequence-number": {
                  "description": "Filter criteria sequence number. (Default: Increments by 10 from\nthe largest sequence-id currently used in this filter.)",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sequenceNumber"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaLogging_FilterEntryGet": {
        "description": "Logging filter entry configuration.",
        "properties": {
          "entry": {
            "description": "Logging filter entry configuration.",
            "items": {
              "properties": {
                "action": {
                  "default": "PERMIT",
                  "description": "Action applied on the selected events.",
                  "enum": [
                    "PERMIT",
                    "DENY"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "DENY": "deny action.",
                    "PERMIT": "permit action."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Action applied on the selected events."
                },
                "default-action": {
                  "description": "Action applied on default criteria.",
                  "enum": [
                    "PERMIT",
                    "DENY"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "DENY": "deny action.",
                    "PERMIT": "permit action."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Action applied on the selected events."
                },
                "enable": {
                  "description": "Enables or disables logging for this profile. When enabled, log messages are processed according to the profile's settings.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "event-id-range": {
                  "description": "Event id or range of event ids.",
                  "format": "const",
                  "maxLength": 11,
                  "minLength": 5,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "match-event-id": {
                  "description": "List of event match Ids",
                  "items": {
                    "description": "List of event match Ids",
                    "format": "int64",
                    "maximum": 32767,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ]
                  },
                  "maxItems": 100,
                  "type": "array"
                },
                "match-regex": {
                  "description": "Filter events using regular expression.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 2,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "match-severity": {
                  "description": "Filter by event severity.",
                  "properties": {
                    "match-severity-key": {
                      "description": "Type of matching severity for logging filter.",
                      "enum": [
                        "HIGHER_THAN",
                        "HIGHER_OR_EQUAL_TO",
                        "EQUAL_TO",
                        "LESSER_THAN",
                        "LESSER_THAN_OR_EQUAL_TO",
                        "NONE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "EQUAL_TO": "Severity type equal to.",
                        "HIGHER_OR_EQUAL_TO": "Severity type higher than or equal to.",
                        "HIGHER_THAN": "Severity type higher than.",
                        "LESSER_THAN": "Severity type lesser than.",
                        "LESSER_THAN_OR_EQUAL_TO": "Severity type lesser than or equal to.",
                        "NONE": "No log type"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Logging filter match severity type."
                    },
                    "match-severity-value": {
                      "description": "Value for logging filter severity.",
                      "enum": [
                        "EMERGENCY",
                        "ALERT",
                        "CRITICAL",
                        "ERROR",
                        "WARNING",
                        "NOTICE",
                        "INFO",
                        "DEBUG",
                        "MAJOR"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ALERT": "Immediate action needed.",
                        "CRITICAL": "Critical Condition",
                        "DEBUG": "Debug Messages",
                        "EMERGENCY": "System is unusable",
                        "ERROR": "Error condition in the system",
                        "INFO": "Informational Messages",
                        "MAJOR": "Major condition",
                        "NOTICE": "Normal bug significant condition",
                        "WARNING": "Warning condition"
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Logging level upto which, the messages are logged."
                    }
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "sequence-number": {
                  "description": "Filter criteria sequence number. (Default: Increments by 10 from\nthe largest sequence-id currently used in this filter.)",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sequenceNumber"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaLogging_Logger": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaLogging_SyslogGroup"
          },
          {
            "$ref": "#/components/schemas/ArubaLogging_LoggingFilter"
          }
        ],
        "description": "Generated log messages may be directed to various destinations including\nconsole, files, remote syslog servers to send messages to the log",
        "properties": {
          "accounting-format-native": {
            "default": "false",
            "description": "Enable sending audit log messages to the syslog server in Linux format.\nIf it is not enabled, then it sends in ArubaOS-CX defined log format.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "console": {
            "description": "console-logging related configuration.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Display the live logs on console.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "filter-regex": {
                "description": "POSIX regular expression filter associated\nwith console-logging.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "log-type": {
                "default": "EVENT",
                "description": "Type of log notification.",
                "enum": [
                  "EVENT",
                  "DEBUG",
                  "ALL"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ALL": "All event and debug logs.",
                  "DEBUG": "Debug logs.",
                  "EVENT": "Event logs."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Specifies the type of log notification."
              },
              "min-severity": {
                "default": "INFO",
                "description": "Specify the log severity.",
                "enum": [
                  "EMERGENCY",
                  "ALERT",
                  "CRITICAL",
                  "ERROR",
                  "WARNING",
                  "NOTICE",
                  "INFO",
                  "DEBUG",
                  "MAJOR"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ALERT": "Immediate action needed.",
                  "CRITICAL": "Critical Condition",
                  "DEBUG": "Debug Messages",
                  "EMERGENCY": "System is unusable",
                  "ERROR": "Error condition in the system",
                  "INFO": "Informational Messages",
                  "MAJOR": "Major condition",
                  "NOTICE": "Normal bug significant condition",
                  "WARNING": "Warning condition"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Logging level upto which, the messages are logged."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "destination": {
            "description": "Debug log destination.",
            "enum": [
              "SYSLOG",
              "FILE",
              "CONSOLE",
              "BUFFER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BUFFER": "Debug log destination buffer.",
              "CONSOLE": "Debug log destination console.",
              "FILE": "Debug log destination file.",
              "SYSLOG": "Debug log destination syslog."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Debug log destination type."
          },
          "event-trap": {
            "default": "true",
            "description": "This command enables/disables the notification of the events to be sent as traps.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "facility": {
            "default": "LOCAL7",
            "description": "Syslog facility to be used for remote syslog messages.",
            "enum": [
              "LOCAL0",
              "LOCAL1",
              "LOCAL2",
              "LOCAL3",
              "LOCAL4",
              "LOCAL5",
              "LOCAL6",
              "LOCAL7",
              "KERN",
              "USER",
              "MAIL",
              "DAEMON",
              "AUTH",
              "SYSLOG",
              "LPR",
              "NEWS",
              "UUCP",
              "SYS9",
              "SYS10",
              "SYS11",
              "SYS12",
              "SYS13",
              "SYS14",
              "CRON"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTH": "Facility AUTH",
              "CRON": "Facility CRON",
              "DAEMON": "Facility DAEMON",
              "KERN": "Facility KERN",
              "LOCAL0": "Facility LOG_LOCAL0",
              "LOCAL1": "Facility LOG_LOCAL1",
              "LOCAL2": "Facility LOG_LOCAL2",
              "LOCAL3": "Facility LOG_LOCAL3",
              "LOCAL4": "Facility LOG_LOCAL4",
              "LOCAL5": "Facility LOG_LOCAL5",
              "LOCAL6": "Facility LOG_LOCAL6",
              "LOCAL7": "Facility LOG_LOCAL7",
              "LPR": "Facility LPR",
              "MAIL": "Facility MAIL",
              "NEWS": "Facility NEWS",
              "SYS10": "Facility SYS10",
              "SYS11": "Facility SYS11",
              "SYS12": "Facility SYS12",
              "SYS13": "Facility SYS13",
              "SYS14": "Facility SYS14",
              "SYS9": "Facility SYS9",
              "SYSLOG": "Facility SYSLOG",
              "USER": "Facility USER",
              "UUCP": "Facility UUCP"
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "Facility to use when logging to Remote Syslog Server."
          },
          "local-file": {
            "description": "Local file",
            "properties": {
              "rotation": {
                "description": "Log rotation configuration.",
                "properties": {
                  "maxsize": {
                    "default": "100",
                    "description": "Log size (in megabytes), which would trigger rotation.",
                    "format": "int32",
                    "maximum": 200,
                    "minimum": 10,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ]
                  },
                  "period": {
                    "default": "DAILY",
                    "description": "The user configured period of logrotation.",
                    "enum": [
                      "MONTHLY",
                      "WEEKLY",
                      "DAILY",
                      "HOURLY"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DAILY": "Log rotation period daily.",
                      "HOURLY": "Log rotation period hourly.",
                      "MONTHLY": "Log rotation period monthly.",
                      "WEEKLY": "Log rotation period weekly."
                    },
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ],
                    "x-typeDescription": "Log rotation period."
                  },
                  "target": {
                    "default": "local",
                    "description": "The user configured URI of the remote host.\nIf not specified log files will be rotated\nlocally.",
                    "format": "const",
                    "maxLength": 9999,
                    "type": "string",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ]
                  },
                  "vrf": {
                    "description": "VRF for logrotate remote host connections.\nIf not set, then the 'default' VRF will be used.",
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                    "x-patternSources": "name-type",
                    "x-patterns": "'([^\\\\/ ]+)'",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ],
                    "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                  }
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            }
          },
          "notification-threshold": {
            "description": "Threshold percentage relative to the size of the\nlog buffer. Once the utilization has reached this threshold, a\nlog notification will be generated.",
            "properties": {
              "audit-log": {
                "default": "THRESHOLD_50",
                "description": "Configure the logging threshold for audit log buffer.",
                "enum": [
                  "THRESHOLD_50",
                  "THRESHOLD_100"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "THRESHOLD_100": "threshold 100",
                  "THRESHOLD_50": "threshold 50"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Log notification threshold."
              },
              "auth-log": {
                "default": "THRESHOLD_90",
                "description": "Configure the logging threshold for auth log buffer.",
                "enum": [
                  "THRESHOLD_15",
                  "THRESHOLD_30",
                  "THRESHOLD_50",
                  "THRESHOLD_70",
                  "THRESHOLD_90",
                  "THRESHOLD_100"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "THRESHOLD_100": "threshold 100",
                  "THRESHOLD_15": "threshold 15",
                  "THRESHOLD_30": "threshold 30",
                  "THRESHOLD_50": "threshold 50",
                  "THRESHOLD_70": "threshold 70",
                  "THRESHOLD_90": "threshold 90"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Log notification threshold."
              },
              "commands-log": {
                "default": "THRESHOLD_90",
                "description": "Configure the logging threshold for commands log buffer.",
                "enum": [
                  "THRESHOLD_15",
                  "THRESHOLD_30",
                  "THRESHOLD_50",
                  "THRESHOLD_70",
                  "THRESHOLD_90",
                  "THRESHOLD_100"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "THRESHOLD_100": "threshold 100",
                  "THRESHOLD_15": "threshold 15",
                  "THRESHOLD_30": "threshold 30",
                  "THRESHOLD_50": "threshold 50",
                  "THRESHOLD_70": "threshold 70",
                  "THRESHOLD_90": "threshold 90"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Log notification threshold."
              },
              "event-log": {
                "default": "THRESHOLD_90",
                "description": "Configure the logging threshold for event log buffer.",
                "enum": [
                  "THRESHOLD_15",
                  "THRESHOLD_30",
                  "THRESHOLD_50",
                  "THRESHOLD_70",
                  "THRESHOLD_90",
                  "THRESHOLD_100"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "THRESHOLD_100": "threshold 100",
                  "THRESHOLD_15": "threshold 15",
                  "THRESHOLD_30": "threshold 30",
                  "THRESHOLD_50": "threshold 50",
                  "THRESHOLD_70": "threshold 70",
                  "THRESHOLD_90": "threshold 90"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Log notification threshold."
              },
              "https-server-log": {
                "default": "THRESHOLD_90",
                "description": "Configure the logging threshold for http-server log buffer.",
                "enum": [
                  "THRESHOLD_15",
                  "THRESHOLD_30",
                  "THRESHOLD_50",
                  "THRESHOLD_70",
                  "THRESHOLD_90",
                  "THRESHOLD_100"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "THRESHOLD_100": "threshold 100",
                  "THRESHOLD_15": "threshold 15",
                  "THRESHOLD_30": "threshold 30",
                  "THRESHOLD_50": "threshold 50",
                  "THRESHOLD_70": "threshold 70",
                  "THRESHOLD_90": "threshold 90"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Log notification threshold."
              },
              "security-log": {
                "default": "THRESHOLD_90",
                "description": "Configure the logging threshold for security log buffer.",
                "enum": [
                  "THRESHOLD_15",
                  "THRESHOLD_30",
                  "THRESHOLD_50",
                  "THRESHOLD_70",
                  "THRESHOLD_90",
                  "THRESHOLD_100"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "THRESHOLD_100": "threshold 100",
                  "THRESHOLD_15": "threshold 15",
                  "THRESHOLD_30": "threshold 30",
                  "THRESHOLD_50": "threshold 50",
                  "THRESHOLD_70": "threshold 70",
                  "THRESHOLD_90": "threshold 90"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Log notification threshold."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "severity": {
            "description": "Minimum severity for logging.\nFor AP devices, Range: EMERGENCY, ALERT, CRITICAL, ERROR, WARNING, NOTICE, INFO, DEBUG.\nFor PVOS devices, Range: MAJOR, INFO, WARNING, DEBUG, ERROR.",
            "enum": [
              "EMERGENCY",
              "ALERT",
              "CRITICAL",
              "ERROR",
              "WARNING",
              "NOTICE",
              "INFO",
              "DEBUG",
              "MAJOR"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALERT": "Immediate action needed.",
              "CRITICAL": "Critical Condition",
              "DEBUG": "Debug Messages",
              "EMERGENCY": "System is unusable",
              "ERROR": "Error condition in the system",
              "INFO": "Informational Messages",
              "MAJOR": "Major condition",
              "NOTICE": "Normal bug significant condition",
              "WARNING": "Warning condition"
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "Logging level upto which, the messages are logged."
          }
        }
      },
      "ArubaLogging_LoggerGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaLogging_SyslogGroupGet"
          },
          {
            "$ref": "#/components/schemas/ArubaLogging_LoggingFilterGet"
          }
        ],
        "description": "Generated log messages may be directed to various destinations including\nconsole, files, remote syslog servers to send messages to the log",
        "properties": {
          "accounting-format-native": {
            "default": "false",
            "description": "Enable sending audit log messages to the syslog server in Linux format.\nIf it is not enabled, then it sends in ArubaOS-CX defined log format.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "console": {
            "description": "console-logging related configuration.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Display the live logs on console.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "filter-regex": {
                "description": "POSIX regular expression filter associated\nwith console-logging.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "log-type": {
                "default": "EVENT",
                "description": "Type of log notification.",
                "enum": [
                  "EVENT",
                  "DEBUG",
                  "ALL"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ALL": "All event and debug logs.",
                  "DEBUG": "Debug logs.",
                  "EVENT": "Event logs."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Specifies the type of log notification."
              },
              "min-severity": {
                "default": "INFO",
                "description": "Specify the log severity.",
                "enum": [
                  "EMERGENCY",
                  "ALERT",
                  "CRITICAL",
                  "ERROR",
                  "WARNING",
                  "NOTICE",
                  "INFO",
                  "DEBUG",
                  "MAJOR"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ALERT": "Immediate action needed.",
                  "CRITICAL": "Critical Condition",
                  "DEBUG": "Debug Messages",
                  "EMERGENCY": "System is unusable",
                  "ERROR": "Error condition in the system",
                  "INFO": "Informational Messages",
                  "MAJOR": "Major condition",
                  "NOTICE": "Normal bug significant condition",
                  "WARNING": "Warning condition"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Logging level upto which, the messages are logged."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "destination": {
            "description": "Debug log destination.",
            "enum": [
              "SYSLOG",
              "FILE",
              "CONSOLE",
              "BUFFER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BUFFER": "Debug log destination buffer.",
              "CONSOLE": "Debug log destination console.",
              "FILE": "Debug log destination file.",
              "SYSLOG": "Debug log destination syslog."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Debug log destination type."
          },
          "event-trap": {
            "default": "true",
            "description": "This command enables/disables the notification of the events to be sent as traps.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "facility": {
            "default": "LOCAL7",
            "description": "Syslog facility to be used for remote syslog messages.",
            "enum": [
              "LOCAL0",
              "LOCAL1",
              "LOCAL2",
              "LOCAL3",
              "LOCAL4",
              "LOCAL5",
              "LOCAL6",
              "LOCAL7",
              "KERN",
              "USER",
              "MAIL",
              "DAEMON",
              "AUTH",
              "SYSLOG",
              "LPR",
              "NEWS",
              "UUCP",
              "SYS9",
              "SYS10",
              "SYS11",
              "SYS12",
              "SYS13",
              "SYS14",
              "CRON"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTH": "Facility AUTH",
              "CRON": "Facility CRON",
              "DAEMON": "Facility DAEMON",
              "KERN": "Facility KERN",
              "LOCAL0": "Facility LOG_LOCAL0",
              "LOCAL1": "Facility LOG_LOCAL1",
              "LOCAL2": "Facility LOG_LOCAL2",
              "LOCAL3": "Facility LOG_LOCAL3",
              "LOCAL4": "Facility LOG_LOCAL4",
              "LOCAL5": "Facility LOG_LOCAL5",
              "LOCAL6": "Facility LOG_LOCAL6",
              "LOCAL7": "Facility LOG_LOCAL7",
              "LPR": "Facility LPR",
              "MAIL": "Facility MAIL",
              "NEWS": "Facility NEWS",
              "SYS10": "Facility SYS10",
              "SYS11": "Facility SYS11",
              "SYS12": "Facility SYS12",
              "SYS13": "Facility SYS13",
              "SYS14": "Facility SYS14",
              "SYS9": "Facility SYS9",
              "SYSLOG": "Facility SYSLOG",
              "USER": "Facility USER",
              "UUCP": "Facility UUCP"
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "Facility to use when logging to Remote Syslog Server."
          },
          "local-file": {
            "description": "Local file",
            "properties": {
              "rotation": {
                "description": "Log rotation configuration.",
                "properties": {
                  "maxsize": {
                    "default": "100",
                    "description": "Log size (in megabytes), which would trigger rotation.",
                    "format": "int32",
                    "maximum": 200,
                    "minimum": 10,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ]
                  },
                  "period": {
                    "default": "DAILY",
                    "description": "The user configured period of logrotation.",
                    "enum": [
                      "MONTHLY",
                      "WEEKLY",
                      "DAILY",
                      "HOURLY"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DAILY": "Log rotation period daily.",
                      "HOURLY": "Log rotation period hourly.",
                      "MONTHLY": "Log rotation period monthly.",
                      "WEEKLY": "Log rotation period weekly."
                    },
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ],
                    "x-typeDescription": "Log rotation period."
                  },
                  "target": {
                    "default": "local",
                    "description": "The user configured URI of the remote host.\nIf not specified log files will be rotated\nlocally.",
                    "format": "const",
                    "maxLength": 9999,
                    "type": "string",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ]
                  },
                  "vrf": {
                    "description": "VRF for logrotate remote host connections.\nIf not set, then the 'default' VRF will be used.",
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                    "x-patternSources": "name-type",
                    "x-patterns": "'([^\\\\/ ]+)'",
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ],
                    "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                  }
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            }
          },
          "notification-threshold": {
            "description": "Threshold percentage relative to the size of the\nlog buffer. Once the utilization has reached this threshold, a\nlog notification will be generated.",
            "properties": {
              "audit-log": {
                "default": "THRESHOLD_50",
                "description": "Configure the logging threshold for audit log buffer.",
                "enum": [
                  "THRESHOLD_50",
                  "THRESHOLD_100"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "THRESHOLD_100": "threshold 100",
                  "THRESHOLD_50": "threshold 50"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Log notification threshold."
              },
              "auth-log": {
                "default": "THRESHOLD_90",
                "description": "Configure the logging threshold for auth log buffer.",
                "enum": [
                  "THRESHOLD_15",
                  "THRESHOLD_30",
                  "THRESHOLD_50",
                  "THRESHOLD_70",
                  "THRESHOLD_90",
                  "THRESHOLD_100"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "THRESHOLD_100": "threshold 100",
                  "THRESHOLD_15": "threshold 15",
                  "THRESHOLD_30": "threshold 30",
                  "THRESHOLD_50": "threshold 50",
                  "THRESHOLD_70": "threshold 70",
                  "THRESHOLD_90": "threshold 90"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Log notification threshold."
              },
              "commands-log": {
                "default": "THRESHOLD_90",
                "description": "Configure the logging threshold for commands log buffer.",
                "enum": [
                  "THRESHOLD_15",
                  "THRESHOLD_30",
                  "THRESHOLD_50",
                  "THRESHOLD_70",
                  "THRESHOLD_90",
                  "THRESHOLD_100"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "THRESHOLD_100": "threshold 100",
                  "THRESHOLD_15": "threshold 15",
                  "THRESHOLD_30": "threshold 30",
                  "THRESHOLD_50": "threshold 50",
                  "THRESHOLD_70": "threshold 70",
                  "THRESHOLD_90": "threshold 90"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Log notification threshold."
              },
              "event-log": {
                "default": "THRESHOLD_90",
                "description": "Configure the logging threshold for event log buffer.",
                "enum": [
                  "THRESHOLD_15",
                  "THRESHOLD_30",
                  "THRESHOLD_50",
                  "THRESHOLD_70",
                  "THRESHOLD_90",
                  "THRESHOLD_100"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "THRESHOLD_100": "threshold 100",
                  "THRESHOLD_15": "threshold 15",
                  "THRESHOLD_30": "threshold 30",
                  "THRESHOLD_50": "threshold 50",
                  "THRESHOLD_70": "threshold 70",
                  "THRESHOLD_90": "threshold 90"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Log notification threshold."
              },
              "https-server-log": {
                "default": "THRESHOLD_90",
                "description": "Configure the logging threshold for http-server log buffer.",
                "enum": [
                  "THRESHOLD_15",
                  "THRESHOLD_30",
                  "THRESHOLD_50",
                  "THRESHOLD_70",
                  "THRESHOLD_90",
                  "THRESHOLD_100"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "THRESHOLD_100": "threshold 100",
                  "THRESHOLD_15": "threshold 15",
                  "THRESHOLD_30": "threshold 30",
                  "THRESHOLD_50": "threshold 50",
                  "THRESHOLD_70": "threshold 70",
                  "THRESHOLD_90": "threshold 90"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Log notification threshold."
              },
              "security-log": {
                "default": "THRESHOLD_90",
                "description": "Configure the logging threshold for security log buffer.",
                "enum": [
                  "THRESHOLD_15",
                  "THRESHOLD_30",
                  "THRESHOLD_50",
                  "THRESHOLD_70",
                  "THRESHOLD_90",
                  "THRESHOLD_100"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "THRESHOLD_100": "threshold 100",
                  "THRESHOLD_15": "threshold 15",
                  "THRESHOLD_30": "threshold 30",
                  "THRESHOLD_50": "threshold 50",
                  "THRESHOLD_70": "threshold 70",
                  "THRESHOLD_90": "threshold 90"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Log notification threshold."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "severity": {
            "description": "Minimum severity for logging.\nFor AP devices, Range: EMERGENCY, ALERT, CRITICAL, ERROR, WARNING, NOTICE, INFO, DEBUG.\nFor PVOS devices, Range: MAJOR, INFO, WARNING, DEBUG, ERROR.",
            "enum": [
              "EMERGENCY",
              "ALERT",
              "CRITICAL",
              "ERROR",
              "WARNING",
              "NOTICE",
              "INFO",
              "DEBUG",
              "MAJOR"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALERT": "Immediate action needed.",
              "CRITICAL": "Critical Condition",
              "DEBUG": "Debug Messages",
              "EMERGENCY": "System is unusable",
              "ERROR": "Error condition in the system",
              "INFO": "Informational Messages",
              "MAJOR": "Major condition",
              "NOTICE": "Normal bug significant condition",
              "WARNING": "Warning condition"
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "Logging level upto which, the messages are logged."
          }
        }
      },
      "ArubaLogging_LoggingFilter": {
        "description": "List of logging-filter parameters.",
        "properties": {
          "filter": {
            "description": "Filter name.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaLogging_FilterEntry"
                },
                {
                  "properties": {
                    "enable": {
                      "default": "false",
                      "description": "Specifies whether looging filter feature is enabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "lf-name": {
                      "description": "Filter used to filter the message.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ]
                    },
                    "per-ip": {
                      "description": "Logging filter per-ip configuration",
                      "properties": {
                        "default-action": {
                          "description": "Action applied on default criteria.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "enable": {
                          "description": "Specifies whether filter feature is enabled.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "event-action": {
                          "description": "Action applied on event list.",
                          "enum": [
                            "PERMIT",
                            "DENY"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "DENY": "deny action.",
                            "PERMIT": "permit action."
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "Action applied on the selected events."
                        },
                        "event-list": {
                          "description": "Action applied on the event list",
                          "format": "int64",
                          "maximum": 4294967295,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "severity": {
                          "description": "Syslog message severity. Only messages with severity higher than\nor equal to the specified value will be sent to the remote server.",
                          "enum": [
                            "EMERGENCY",
                            "ALERT",
                            "CRITICAL",
                            "ERROR",
                            "WARNING",
                            "NOTICE",
                            "INFO",
                            "DEBUG",
                            "MAJOR"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "ALERT": "Immediate action needed.",
                            "CRITICAL": "Critical Condition",
                            "DEBUG": "Debug Messages",
                            "EMERGENCY": "System is unusable",
                            "ERROR": "Error condition in the system",
                            "INFO": "Informational Messages",
                            "MAJOR": "Major condition",
                            "NOTICE": "Normal bug significant condition",
                            "WARNING": "Warning condition"
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "Logging level upto which, the messages are logged."
                        },
                        "system-module": {
                          "description": "Name of the system-module.",
                          "items": {
                            "description": "Name of the system-module.",
                            "enum": [
                              "ALL_PASS",
                              "VLAN",
                              "IP",
                              "IGMP",
                              "IPX",
                              "STP",
                              "SYSTEM",
                              "CHASSIS",
                              "CONSOLE",
                              "PORTS",
                              "DHCP",
                              "DOWNLOAD",
                              "TCP",
                              "TELNET",
                              "TIMEP",
                              "TFTP",
                              "XMODEM",
                              "UPDATE",
                              "MGR",
                              "BRIDGE",
                              "SNMP",
                              "ADDRMGR",
                              "PAGP",
                              "FAULT",
                              "LDBAL",
                              "GARP",
                              "GVRP",
                              "COS",
                              "LACP",
                              "DHCPR",
                              "STACK",
                              "DMA",
                              "SNTP",
                              "IEEE802_1X",
                              "CDP",
                              "AUTH",
                              "TACACS",
                              "RADIUS",
                              "SSH",
                              "NETINET",
                              "OSPF",
                              "XRRP",
                              "SSL",
                              "IPADDRMGR",
                              "WEBMACAUTH",
                              "KMS",
                              "PIM",
                              "MACLOCK",
                              "ACL",
                              "UDPF",
                              "INST_MON",
                              "UDLD",
                              "HPESP",
                              "LLDP",
                              "CONNFILT",
                              "RATELIM",
                              "IDM",
                              "IPLOCK",
                              "DHCP_SNOOP",
                              "VRRP",
                              "USB",
                              "LICENSING",
                              "LOOP_PROTECT",
                              "SFLOW",
                              "ARP_PROTECT",
                              "DHCPV6C",
                              "MTM",
                              "MLD",
                              "DCA",
                              "QINQ",
                              "AUTORUN",
                              "FFI",
                              "WSM",
                              "DIPLD",
                              "HPSM",
                              "SRCIP",
                              "POLICY",
                              "OOBM",
                              "TRMODE",
                              "OSPF3",
                              "DHCPV6R",
                              "BGP",
                              "UFD",
                              "FIPS",
                              "DT",
                              "DCBX",
                              "SFTP",
                              "STACKING",
                              "RFS",
                              "TESTMODE",
                              "CRYPTO",
                              "SLP",
                              "RA_GUARD",
                              "HPECM",
                              "HPESP_IP",
                              "MOBILITY",
                              "SECUREMODE",
                              "MSATPROXY",
                              "ESATPROXY",
                              "HPESP_CM",
                              "OPENFLOW",
                              "SMART_LINK",
                              "INSYSPROG",
                              "DHCP_SERVER",
                              "JOB",
                              "DSNOOPV6",
                              "DIPLDV6",
                              "SI_TUNNEL",
                              "TR_069",
                              "HTTP",
                              "VXLAN_TUNNEL",
                              "BPDU",
                              "BYOD_REDIRECT",
                              "DLDP",
                              "MACSEC",
                              "ACCT",
                              "TLS",
                              "RIPNG",
                              "ARPT",
                              "NDSNOOP",
                              "NTP",
                              "IPSLA",
                              "MDNS",
                              "MVRP",
                              "RIP",
                              "LLDPMAD",
                              "CAPTIVE_PORTAL",
                              "PROFILE_MANAGER",
                              "VSF",
                              "TUNNELED_NODE",
                              "AMP_SERVER",
                              "PSDETECT",
                              "ACTIVATE",
                              "CENTRAL",
                              "ZTPIPSEC",
                              "USERTNODE",
                              "VLANMAD",
                              "CFGRESTORE",
                              "HTTPPROXY",
                              "DEV_ONBOARD",
                              "DFP",
                              "AUTHORDER",
                              "CADOWNLOAD",
                              "ESTC",
                              "BFD"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "ACCT": "Event log for system-module acct",
                              "ACL": "Event log for system-module acl",
                              "ACTIVATE": "Event log for system-module activate",
                              "ADDRMGR": "Event log for system-module addrmgr",
                              "ALL_PASS": "Event log for system-module all-pass",
                              "AMP_SERVER": "Event log for system-module amp-server",
                              "ARPT": "Event log for system-module arpt",
                              "ARP_PROTECT": "Event log for system-module arp-protect",
                              "AUTH": "Event log for system-module auth",
                              "AUTHORDER": "Event log for system-module authorder",
                              "AUTORUN": "Event log for system-module autorun",
                              "BFD": "Event log for system-module bfd",
                              "BGP": "Event log for system-module bgp",
                              "BPDU": "Event log for system-module bpdu",
                              "BRIDGE": "Event log for system-module bridge",
                              "BYOD_REDIRECT": "Event log for system-module byod-redirect",
                              "CADOWNLOAD": "Event log for system-module cadownload",
                              "CAPTIVE_PORTAL": "Event log for system-module captive-portal",
                              "CDP": "Event log for system-module cdp",
                              "CENTRAL": "Event log for system-module central",
                              "CFGRESTORE": "Event log for system-module cfgrestore",
                              "CHASSIS": "Event log for system-module chassis",
                              "CONNFILT": "Event log for system-module connfilt",
                              "CONSOLE": "Event log for system-module console",
                              "COS": "Event log for system-module cos",
                              "CRYPTO": "Event log for system-module crypto",
                              "DCA": "Event log for system-module DCA",
                              "DCBX": "Event log for system-module dcbx",
                              "DEV_ONBOARD": "Event log for system-module dev-onboard",
                              "DFP": "Event log for system-module dfp",
                              "DHCP": "Event log for system-module dhcp",
                              "DHCPR": "Event log for system-module dhcpr",
                              "DHCPV6C": "Event log for system-module dhcpv6c",
                              "DHCPV6R": "Event log for system-module dhcpv6r",
                              "DHCP_SERVER": "Event log for system-module dhcp-server",
                              "DHCP_SNOOP": "Event log for system-module dhcp-snoop",
                              "DIPLD": "Event log for system-module dipld",
                              "DIPLDV6": "Event log for system-module dipldv6",
                              "DLDP": "Event log for system-module dldp",
                              "DMA": "Event log for system-module dma",
                              "DOWNLOAD": "Event log for system-module download",
                              "DSNOOPV6": "Event log for system-module dsnoopv6",
                              "DT": "Event log for system-module dt",
                              "ESATPROXY": "Event log for system-module esatproxy",
                              "ESTC": "Event log for system-module estc",
                              "FAULT": "Event log for system-module fault",
                              "FFI": "Event log for system-module FFI",
                              "FIPS": "Event log for system-module fips",
                              "GARP": "Event log for system-module garp",
                              "GVRP": "Event log for system-module gvrp",
                              "HPECM": "Event log for system-module hpecm",
                              "HPESP": "Event log for system-module hpesp",
                              "HPESP_CM": "Event log for system-module hpesp-cm",
                              "HPESP_IP": "Event log for system-module hpesp-ip",
                              "HPSM": "Event log for system-module hpsm",
                              "HTTP": "Event log for system-module http",
                              "HTTPPROXY": "Event log for system-module httpproxy",
                              "IDM": "Event log for system-module idm",
                              "IEEE802_1X": "Event log for system-module 802.1x",
                              "IGMP": "Event log for system-module igmp",
                              "INST_MON": "Event log for system-module inst-mon",
                              "INSYSPROG": "Event log for system-module insysprog",
                              "IP": "Event log for system-module ip",
                              "IPADDRMGR": "Event log for system-module ipaddrmgr",
                              "IPLOCK": "Event log for system-module iplock",
                              "IPSLA": "Event log for system-module ipsla",
                              "IPX": "Event log for system-module ipx",
                              "JOB": "Event log for system-module job",
                              "KMS": "Event log for system-module kms",
                              "LACP": "Event log for system-module lacp",
                              "LDBAL": "Event log for system-module ldbal",
                              "LICENSING": "Event log for system-module licensing",
                              "LLDP": "Event log for system-module lldp",
                              "LLDPMAD": "Event log for system-module lldpmad",
                              "LOOP_PROTECT": "Event log for system-module loop-protect",
                              "MACLOCK": "Event log for system-module maclock",
                              "MACSEC": "Event log for system-module macsec",
                              "MDNS": "Event log for system-module mdns",
                              "MGR": "Event log for system-module mgr",
                              "MLD": "Event log for system-module mld",
                              "MOBILITY": "Event log for system-module mobility",
                              "MSATPROXY": "Event log for system-module msatproxy",
                              "MTM": "Event log for system-module mtm",
                              "MVRP": "Event log for system-module mvrp",
                              "NDSNOOP": "Event log for system-module ndsnoop",
                              "NETINET": "Event log for system-module netinet",
                              "NTP": "Event log for system-module ntp",
                              "OOBM": "Event log for system-module oobm",
                              "OPENFLOW": "Event log for system-module openflow",
                              "OSPF": "Event log for system-module ospf",
                              "OSPF3": "Event log for system-module ospf3",
                              "PAGP": "Event log for system-module pagp",
                              "PIM": "Event log for system-module pim",
                              "POLICY": "Event log for system-module policy",
                              "PORTS": "Event log for system-module ports",
                              "PROFILE_MANAGER": "Event log for system-module profile-manager",
                              "PSDETECT": "Event log for system-module psdetect",
                              "QINQ": "Event log for system-module Q-in-Q",
                              "RADIUS": "Event log for system-module radius",
                              "RATELIM": "Event log for system-module ratelim",
                              "RA_GUARD": "Event log for system-module ra-guard",
                              "RFS": "Event log for system-module rfs",
                              "RIP": "Event log for system-module rip",
                              "RIPNG": "Event log for system-module ripng",
                              "SECUREMODE": "Event log for system-module securemode",
                              "SFLOW": "Event log for system-module sflow",
                              "SFTP": "Event log for system-module sftp",
                              "SI_TUNNEL": "Event log for system-module si-tunnel",
                              "SLP": "Event log for system-module slp",
                              "SMART_LINK": "Event log for system-module smart-link",
                              "SNMP": "Event log for system-module snmp",
                              "SNTP": "Event log for system-module sntp",
                              "SRCIP": "Event log for system-module srcip",
                              "SSH": "Event log for system-module ssh",
                              "SSL": "Event log for system-module ssl",
                              "STACK": "Event log for system-module stack",
                              "STACKING": "Event log for system-module stacking",
                              "STP": "Event log for system-module stp",
                              "SYSTEM": "Event log for system-module system",
                              "TACACS": "Event log for system-module tacacs",
                              "TCP": "Event log for system-module tcp",
                              "TELNET": "Event log for system-module telnet",
                              "TESTMODE": "Event log for system-module testmode",
                              "TFTP": "Event log for system-module tftp",
                              "TIMEP": "Event log for system-module timep",
                              "TLS": "Event log for system-module tls",
                              "TRMODE": "Event log for system-module trmode",
                              "TR_069": "Event log for system-module tr-069",
                              "TUNNELED_NODE": "Event log for system-module tunneled-node",
                              "UDLD": "Event log for system-module udld",
                              "UDPF": "Event log for system-module udpf",
                              "UFD": "Event log for system-module ufd",
                              "UPDATE": "Event log for system-module update",
                              "USB": "Event log for system-module usb",
                              "USERTNODE": "Event log for system-module usertnode",
                              "VLAN": "Event log for system-module vlan",
                              "VLANMAD": "Event log for system-module vlanmad",
                              "VRRP": "Event log for system-module vrrp",
                              "VSF": "Event log for system-module vsf",
                              "VXLAN_TUNNEL": "Event log for system-module vxlan-tunnel",
                              "WEBMACAUTH": "Event log for system-module webmacauth",
                              "WSM": "Event log for system-module wsm",
                              "XMODEM": "Event log for system-module xmodem",
                              "XRRP": "Event log for system-module xrrp",
                              "ZTPIPSEC": "Event log for system-module ztpipsec"
                            },
                            "x-supportedDeviceType": [
                              "Switch PVOS"
                            ],
                            "x-typeDescription": "Event log for system-module."
                          },
                          "maxItems": 2147483647,
                          "type": "array"
                        }
                      },
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "lfName"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaLogging_LoggingFilterGet": {
        "description": "List of logging-filter parameters.",
        "properties": {
          "filter": {
            "description": "Filter name.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaLogging_FilterEntryGet"
                },
                {
                  "properties": {
                    "enable": {
                      "default": "false",
                      "description": "Specifies whether looging filter feature is enabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "lf-name": {
                      "description": "Filter used to filter the message.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Switch CX"
                      ]
                    },
                    "per-ip": {
                      "description": "Logging filter per-ip configuration",
                      "properties": {
                        "default-action": {
                          "description": "Action applied on default criteria.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "enable": {
                          "description": "Specifies whether filter feature is enabled.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "event-action": {
                          "description": "Action applied on event list.",
                          "enum": [
                            "PERMIT",
                            "DENY"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "DENY": "deny action.",
                            "PERMIT": "permit action."
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "Action applied on the selected events."
                        },
                        "event-list": {
                          "description": "Action applied on the event list",
                          "format": "int64",
                          "maximum": 4294967295,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "severity": {
                          "description": "Syslog message severity. Only messages with severity higher than\nor equal to the specified value will be sent to the remote server.",
                          "enum": [
                            "EMERGENCY",
                            "ALERT",
                            "CRITICAL",
                            "ERROR",
                            "WARNING",
                            "NOTICE",
                            "INFO",
                            "DEBUG",
                            "MAJOR"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "ALERT": "Immediate action needed.",
                            "CRITICAL": "Critical Condition",
                            "DEBUG": "Debug Messages",
                            "EMERGENCY": "System is unusable",
                            "ERROR": "Error condition in the system",
                            "INFO": "Informational Messages",
                            "MAJOR": "Major condition",
                            "NOTICE": "Normal bug significant condition",
                            "WARNING": "Warning condition"
                          },
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ],
                          "x-typeDescription": "Logging level upto which, the messages are logged."
                        },
                        "system-module": {
                          "description": "Name of the system-module.",
                          "items": {
                            "description": "Name of the system-module.",
                            "enum": [
                              "ALL_PASS",
                              "VLAN",
                              "IP",
                              "IGMP",
                              "IPX",
                              "STP",
                              "SYSTEM",
                              "CHASSIS",
                              "CONSOLE",
                              "PORTS",
                              "DHCP",
                              "DOWNLOAD",
                              "TCP",
                              "TELNET",
                              "TIMEP",
                              "TFTP",
                              "XMODEM",
                              "UPDATE",
                              "MGR",
                              "BRIDGE",
                              "SNMP",
                              "ADDRMGR",
                              "PAGP",
                              "FAULT",
                              "LDBAL",
                              "GARP",
                              "GVRP",
                              "COS",
                              "LACP",
                              "DHCPR",
                              "STACK",
                              "DMA",
                              "SNTP",
                              "IEEE802_1X",
                              "CDP",
                              "AUTH",
                              "TACACS",
                              "RADIUS",
                              "SSH",
                              "NETINET",
                              "OSPF",
                              "XRRP",
                              "SSL",
                              "IPADDRMGR",
                              "WEBMACAUTH",
                              "KMS",
                              "PIM",
                              "MACLOCK",
                              "ACL",
                              "UDPF",
                              "INST_MON",
                              "UDLD",
                              "HPESP",
                              "LLDP",
                              "CONNFILT",
                              "RATELIM",
                              "IDM",
                              "IPLOCK",
                              "DHCP_SNOOP",
                              "VRRP",
                              "USB",
                              "LICENSING",
                              "LOOP_PROTECT",
                              "SFLOW",
                              "ARP_PROTECT",
                              "DHCPV6C",
                              "MTM",
                              "MLD",
                              "DCA",
                              "QINQ",
                              "AUTORUN",
                              "FFI",
                              "WSM",
                              "DIPLD",
                              "HPSM",
                              "SRCIP",
                              "POLICY",
                              "OOBM",
                              "TRMODE",
                              "OSPF3",
                              "DHCPV6R",
                              "BGP",
                              "UFD",
                              "FIPS",
                              "DT",
                              "DCBX",
                              "SFTP",
                              "STACKING",
                              "RFS",
                              "TESTMODE",
                              "CRYPTO",
                              "SLP",
                              "RA_GUARD",
                              "HPECM",
                              "HPESP_IP",
                              "MOBILITY",
                              "SECUREMODE",
                              "MSATPROXY",
                              "ESATPROXY",
                              "HPESP_CM",
                              "OPENFLOW",
                              "SMART_LINK",
                              "INSYSPROG",
                              "DHCP_SERVER",
                              "JOB",
                              "DSNOOPV6",
                              "DIPLDV6",
                              "SI_TUNNEL",
                              "TR_069",
                              "HTTP",
                              "VXLAN_TUNNEL",
                              "BPDU",
                              "BYOD_REDIRECT",
                              "DLDP",
                              "MACSEC",
                              "ACCT",
                              "TLS",
                              "RIPNG",
                              "ARPT",
                              "NDSNOOP",
                              "NTP",
                              "IPSLA",
                              "MDNS",
                              "MVRP",
                              "RIP",
                              "LLDPMAD",
                              "CAPTIVE_PORTAL",
                              "PROFILE_MANAGER",
                              "VSF",
                              "TUNNELED_NODE",
[...]
