{
  "openapi": "3.1.0",
  "info": {
    "title": "Management User",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Management User"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/management-users": {
      "get": {
        "description": "Configure management users with role and authorization. This feature is applicable for all devices.\nFor AP, Users from higher-level configurations are automatically inherited and displayed at lower levels.\nWhen a lower-level user has the same role name as a higher-level user, the lower-level user takes precedence.",
        "operationId": "readManagementUsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaManagementUser_ManagementUsersSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read the management users",
        "tags": [
          "Management User"
        ],
        "x-cliParam": {
          "commandName": "readManagementUsersCmd",
          "commandUse": "management-users",
          "parentCommand": "readCmd",
          "pathToPrint": "/management-users/",
          "summary": "Read operation for management-users"
        }
      }
    },
    "/network-config/v1alpha1/management-users/{name}": {
      "get": {
        "description": "Management user parameter configuration.\nFor AP, Users from higher-level configurations are automatically inherited and displayed at lower levels.\nWhen a lower-level user has the same role name as a higher-level user, the lower-level user takes precedence.",
        "operationId": "readManagementUsersUserByID",
        "parameters": [
          {
            "description": "Unique name for the given username on the device, which may either be the same as or different from the username.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaManagementUser_ManagementUsersuserSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read the management users list",
        "tags": [
          "Management User"
        ],
        "x-cliParam": {
          "commandName": "readManagementUsersUserCmd",
          "commandUse": "user",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readManagementUsersCmd",
          "pathToPrint": "/management-users/user/%s/",
          "summary": "Read operation for user",
          "totParams": 1
        }
      },
      "put": {
        "description": "Management user parameter configuration.\nFor AP, Users from higher-level configurations are automatically inherited and displayed at lower levels.\nWhen a lower-level user has the same role name as a higher-level user, the lower-level user takes precedence.",
        "operationId": "replaceManagementUsersUserByID",
        "parameters": [
          {
            "description": "Unique name for the given username on the device, which may either be the same as or different from the username.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaManagementUser_ManagementUsersuserSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update the management users list",
        "tags": [
          "Management User"
        ],
        "x-cliParam": {
          "commandName": "replaceManagementUsersUserCmd",
          "commandUse": "user",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceManagementUsersCmd",
          "pathToPrint": "/management-users/user/%s/",
          "summary": "Replace operation for user",
          "totParams": 1
        }
      },
      "post": {
        "description": "Management user parameter configuration.\nFor AP, Users from higher-level configurations are automatically inherited and displayed at lower levels.\nWhen a lower-level user has the same role name as a higher-level user, the lower-level user takes precedence.",
        "operationId": "createManagementUsersUserByID",
        "parameters": [
          {
            "description": "Unique name for the given username on the device, which may either be the same as or different from the username.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaManagementUser_ManagementUsersuserSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create the management users list",
        "tags": [
          "Management User"
        ],
        "x-cliParam": {
          "commandName": "createManagementUsersUserCmd",
          "commandUse": "user",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createManagementUsersCmd",
          "pathToPrint": "/management-users/user/%s/",
          "summary": "Create operation for user",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Management user parameter configuration.\nFor AP, Users from higher-level configurations are automatically inherited and displayed at lower levels.\nWhen a lower-level user has the same role name as a higher-level user, the lower-level user takes precedence.",
        "operationId": "deleteManagementUsersUserByID",
        "parameters": [
          {
            "description": "Unique name for the given username on the device, which may either be the same as or different from the username.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the management users list",
        "tags": [
          "Management User"
        ],
        "x-cliParam": {
          "commandName": "deleteManagementUsersUserCmd",
          "commandUse": "user",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteManagementUsersCmd",
          "pathToPrint": "/management-users/user/%s/",
          "summary": "Delete operation for user",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Management user parameter configuration.\nFor AP, Users from higher-level configurations are automatically inherited and displayed at lower levels.\nWhen a lower-level user has the same role name as a higher-level user, the lower-level user takes precedence.",
        "operationId": "updateManagementUsersUserByID",
        "parameters": [
          {
            "description": "Unique name for the given username on the device, which may either be the same as or different from the username.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaManagementUser_ManagementUsersuserSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update the existing management users list",
        "tags": [
          "Management User"
        ],
        "x-cliParam": {
          "commandName": "updateManagementUsersUserCmd",
          "commandUse": "user",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateManagementUsersCmd",
          "pathToPrint": "/management-users/user/%s/",
          "summary": "Update operation for user",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaManagementUser_ManagementUsersSchemaGET": {
        "description": "Configure management users with role and authorization. This feature is applicable for all devices.\nFor AP, Users from higher-level configurations are automatically inherited and displayed at lower levels.\nWhen a lower-level user has the same role name as a higher-level user, the lower-level user takes precedence.",
        "properties": {
          "user": {
            "description": "Management user parameter configuration.\nFor AP, Users from higher-level configurations are automatically inherited and displayed at lower levels.\nWhen a lower-level user has the same role name as a higher-level user, the lower-level user takes precedence.",
            "items": {
              "properties": {
                "aging-period": {
                  "description": "Password aging time for a user.",
                  "format": "int32",
                  "maximum": 365,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "authorized-key": {
                  "description": "Public keys for SSH authentication of a user",
                  "items": {
                    "properties": {
                      "public-key": {
                        "description": "SSH public key of the user",
                        "format": "const",
                        "maxLength": 8192,
                        "minLength": 1,
                        "type": "string",
                        "x-mandatory": true,
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      }
                    },
                    "required": [
                      "public-key"
                    ]
                  },
                  "maxItems": 32,
                  "type": "array",
                  "x-key": [
                    "publicKey"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "ciphertext-password": {
                  "description": "Management user password in hash or ciphertext.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Switch CX",
                    "Gateway"
                  ]
                },
                "format": {
                  "description": "Enable clear, cipher or hash text as the password input format.\nFor AP, Range: CLEARTEXT, CIPHERTEXT.",
                  "enum": [
                    "CLEARTEXT",
                    "CIPHERTEXT",
                    "SHA1",
                    "SHA256"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CIPHERTEXT": "User password in encrypted format",
                    "CLEARTEXT": "User password in cleartext format.",
                    "SHA1": "User password in SHA1 hash format",
                    "SHA256": "User password in SHA256 hash format"
                  },
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Indicate the input password format"
                },
                "interface": {
                  "description": "The management interfaces through which the user can access the switch.",
                  "properties": {
                    "console": {
                      "default": "true",
                      "description": "Allow console login for the user.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "https-server": {
                      "default": "true",
                      "description": "Allow REST and WebUI login for the user.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "ssh": {
                      "default": "true",
                      "description": "Allow SSH login for the user.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "telnet": {
                      "default": "true",
                      "description": "Allow Telnet login for the user.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "max-concurrent-sessions": {
                  "description": "Maximum concurrent session for this management user. A value of 0 will unset it.",
                  "format": "int32",
                  "maximum": 32,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "min-password-length": {
                  "description": "Minimum password length for a user.",
                  "format": "int32",
                  "maximum": 64,
                  "minimum": 8,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "name": {
                  "description": "Unique name for the given username on the device, which may either be the same as or different from the username.",
                  "format": "const",
                  "maxLength": 128,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Switch PVOS",
                    "Gateway"
                  ]
                },
                "old-password": {
                  "description": "Management user's old password.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Switch CX"
                  ],
                  "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                },
                "password": {
                  "description": "Management user password in plaintext.\n- For a CX device, Maximum length is 64 characters.\nIf not configured, it indicates that the user is created with an empty password",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Switch CX",
                    "Gateway"
                  ],
                  "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                },
                "rolename": {
                  "description": "Configure user-role. For example, user with read-only privilege or the guest management user.",
                  "enum": [
                    "ROOT",
                    "GUEST_PROVISIONING",
                    "NETWORK_OPERATIONS",
                    "READ_ONLY",
                    "LOCATION_API_MGMT",
                    "NBAPI_MGMT",
                    "AP_PROVISIONING",
                    "STANDARD",
                    "LOCAL"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AP_PROVISIONING": "AP Provisioning role",
                    "GUEST_PROVISIONING": "Guest provisioning role",
                    "LOCAL": "Indicate the type of management users with local privilege.",
                    "LOCATION_API_MGMT": "Location API Management role",
                    "NBAPI_MGMT": "NBAPI Management role",
                    "NETWORK_OPERATIONS": "Network operator role",
                    "READ_ONLY": "Read-only role",
                    "ROOT": "Super user role",
                    "STANDARD": "Standard role"
                  },
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point"
                  ],
                  "x-typeDescription": "Management user role types."
                },
                "user-group": {
                  "description": "Management user group name.\n- For a CX device, user group is mandatory for creating a user.\nBuilt-in user groups are as follows:\nadministrators: System-defined group with associated privilege level of 15.\n               Members have access to:\n                 All the CLI commands and bash shell.\n                 All the REST Methods through REST APIs.\noperators:      System-defined group with associated privilege level of 1.\n               Members have access to\n                 All show CLI commands (except those that display sensitive information).\n                 All GET requests through REST APIs.\nauditors:       System-defined group with associated privilege level of 19.\n               Members have access to:\n                 All show CLI commands to display and copy security logs.\n                 All GET requests for security logs through REST APIs.\nOnly users belonging to the above three default groups will be allowed access to REST APIs.",
                  "format": "pattern",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-management-user-group:management-user-groups/ac-management-user-group:user-group/ac-management-user-group:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-z0-9_][a-z0-9._-]{0,31}'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "username": {
                  "description": "Username of the management user.\n- For a CX device, Maximum length is 32 characters.\n- For a PVOS device, valid length is 1..16.\n- For AP, valid length is 1..32.",
                  "format": "const",
                  "maxLength": 128,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Switch CX",
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 102,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaManagementUser_ManagementUsersuserSchema": {
        "properties": {
          "aging-period": {
            "description": "Password aging time for a user.",
            "format": "int32",
            "maximum": 365,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "authorized-key": {
            "description": "Public keys for SSH authentication of a user",
            "items": {
              "properties": {
                "public-key": {
                  "description": "SSH public key of the user",
                  "format": "const",
                  "maxLength": 8192,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              },
              "required": [
                "public-key"
              ]
            },
            "maxItems": 32,
            "type": "array",
            "x-key": [
              "publicKey"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ciphertext-password": {
            "description": "Management user password in hash or ciphertext.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway"
            ]
          },
          "format": {
            "description": "Enable clear, cipher or hash text as the password input format.\nFor AP, Range: CLEARTEXT, CIPHERTEXT.",
            "enum": [
              "CLEARTEXT",
              "CIPHERTEXT",
              "SHA1",
              "SHA256"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHERTEXT": "User password in encrypted format",
              "CLEARTEXT": "User password in cleartext format.",
              "SHA1": "User password in SHA1 hash format",
              "SHA256": "User password in SHA256 hash format"
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Switch PVOS"
            ],
            "x-typeDescription": "Indicate the input password format"
          },
          "interface": {
            "description": "The management interfaces through which the user can access the switch.",
            "properties": {
              "console": {
                "default": "true",
                "description": "Allow console login for the user.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "https-server": {
                "default": "true",
                "description": "Allow REST and WebUI login for the user.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ssh": {
                "default": "true",
                "description": "Allow SSH login for the user.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "telnet": {
                "default": "true",
                "description": "Allow Telnet login for the user.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "max-concurrent-sessions": {
            "description": "Maximum concurrent session for this management user. A value of 0 will unset it.",
            "format": "int32",
            "maximum": 32,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "min-password-length": {
            "description": "Minimum password length for a user.",
            "format": "int32",
            "maximum": 64,
            "minimum": 8,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "name": {
            "description": "Unique name for the given username on the device, which may either be the same as or different from the username.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "old-password": {
            "description": "Management user's old password.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "password": {
            "description": "Management user password in plaintext.\n- For a CX device, Maximum length is 64 characters.\nIf not configured, it indicates that the user is created with an empty password",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "rolename": {
            "description": "Configure user-role. For example, user with read-only privilege or the guest management user.",
            "enum": [
              "ROOT",
              "GUEST_PROVISIONING",
              "NETWORK_OPERATIONS",
              "READ_ONLY",
              "LOCATION_API_MGMT",
              "NBAPI_MGMT",
              "AP_PROVISIONING",
              "STANDARD",
              "LOCAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AP_PROVISIONING": "AP Provisioning role",
              "GUEST_PROVISIONING": "Guest provisioning role",
              "LOCAL": "Indicate the type of management users with local privilege.",
              "LOCATION_API_MGMT": "Location API Management role",
              "NBAPI_MGMT": "NBAPI Management role",
              "NETWORK_OPERATIONS": "Network operator role",
              "READ_ONLY": "Read-only role",
              "ROOT": "Super user role",
              "STANDARD": "Standard role"
            },
            "x-supportedDeviceType": [
              "Gateway",
              "Access Point"
            ],
            "x-typeDescription": "Management user role types."
          },
          "user-group": {
            "description": "Management user group name.\n- For a CX device, user group is mandatory for creating a user.\nBuilt-in user groups are as follows:\nadministrators: System-defined group with associated privilege level of 15.\n               Members have access to:\n                 All the CLI commands and bash shell.\n                 All the REST Methods through REST APIs.\noperators:      System-defined group with associated privilege level of 1.\n               Members have access to\n                 All show CLI commands (except those that display sensitive information).\n                 All GET requests through REST APIs.\nauditors:       System-defined group with associated privilege level of 19.\n               Members have access to:\n                 All show CLI commands to display and copy security logs.\n                 All GET requests for security logs through REST APIs.\nOnly users belonging to the above three default groups will be allowed access to REST APIs.",
            "format": "pattern",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-management-user-group:management-user-groups/ac-management-user-group:user-group/ac-management-user-group:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-z0-9_][a-z0-9._-]{0,31}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "username": {
            "description": "Username of the management user.\n- For a CX device, Maximum length is 32 characters.\n- For a PVOS device, valid length is 1..16.\n- For AP, valid length is 1..32.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaManagementUser_ManagementUsersuserSchemaGet": {
        "properties": {
          "aging-period": {
            "description": "Password aging time for a user.",
            "format": "int32",
            "maximum": 365,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "authorized-key": {
            "description": "Public keys for SSH authentication of a user",
            "items": {
              "properties": {
                "public-key": {
                  "description": "SSH public key of the user",
                  "format": "const",
                  "maxLength": 8192,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              },
              "required": [
                "public-key"
              ]
            },
            "maxItems": 32,
            "type": "array",
            "x-key": [
              "publicKey"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ciphertext-password": {
            "description": "Management user password in hash or ciphertext.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway"
            ]
          },
          "format": {
            "description": "Enable clear, cipher or hash text as the password input format.\nFor AP, Range: CLEARTEXT, CIPHERTEXT.",
            "enum": [
              "CLEARTEXT",
              "CIPHERTEXT",
              "SHA1",
              "SHA256"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHERTEXT": "User password in encrypted format",
              "CLEARTEXT": "User password in cleartext format.",
              "SHA1": "User password in SHA1 hash format",
              "SHA256": "User password in SHA256 hash format"
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Switch PVOS"
            ],
            "x-typeDescription": "Indicate the input password format"
          },
          "interface": {
            "description": "The management interfaces through which the user can access the switch.",
            "properties": {
              "console": {
                "default": "true",
                "description": "Allow console login for the user.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "https-server": {
                "default": "true",
                "description": "Allow REST and WebUI login for the user.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "ssh": {
                "default": "true",
                "description": "Allow SSH login for the user.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "telnet": {
                "default": "true",
                "description": "Allow Telnet login for the user.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "max-concurrent-sessions": {
            "description": "Maximum concurrent session for this management user. A value of 0 will unset it.",
            "format": "int32",
            "maximum": 32,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "min-password-length": {
            "description": "Minimum password length for a user.",
            "format": "int32",
            "maximum": 64,
            "minimum": 8,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "name": {
            "description": "Unique name for the given username on the device, which may either be the same as or different from the username.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "old-password": {
            "description": "Management user's old password.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "password": {
            "description": "Management user password in plaintext.\n- For a CX device, Maximum length is 64 characters.\nIf not configured, it indicates that the user is created with an empty password",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "rolename": {
            "description": "Configure user-role. For example, user with read-only privilege or the guest management user.",
            "enum": [
              "ROOT",
              "GUEST_PROVISIONING",
              "NETWORK_OPERATIONS",
              "READ_ONLY",
              "LOCATION_API_MGMT",
              "NBAPI_MGMT",
              "AP_PROVISIONING",
              "STANDARD",
              "LOCAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AP_PROVISIONING": "AP Provisioning role",
              "GUEST_PROVISIONING": "Guest provisioning role",
              "LOCAL": "Indicate the type of management users with local privilege.",
              "LOCATION_API_MGMT": "Location API Management role",
              "NBAPI_MGMT": "NBAPI Management role",
              "NETWORK_OPERATIONS": "Network operator role",
              "READ_ONLY": "Read-only role",
              "ROOT": "Super user role",
              "STANDARD": "Standard role"
            },
            "x-supportedDeviceType": [
              "Gateway",
              "Access Point"
            ],
            "x-typeDescription": "Management user role types."
          },
          "user-group": {
            "description": "Management user group name.\n- For a CX device, user group is mandatory for creating a user.\nBuilt-in user groups are as follows:\nadministrators: System-defined group with associated privilege level of 15.\n               Members have access to:\n                 All the CLI commands and bash shell.\n                 All the REST Methods through REST APIs.\noperators:      System-defined group with associated privilege level of 1.\n               Members have access to\n                 All show CLI commands (except those that display sensitive information).\n                 All GET requests through REST APIs.\nauditors:       System-defined group with associated privilege level of 19.\n               Members have access to:\n                 All show CLI commands to display and copy security logs.\n                 All GET requests for security logs through REST APIs.\nOnly users belonging to the above three default groups will be allowed access to REST APIs.",
            "format": "pattern",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-management-user-group:management-user-groups/ac-management-user-group:user-group/ac-management-user-group:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-z0-9_][a-z0-9._-]{0,31}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "username": {
            "description": "Username of the management user.\n- For a CX device, Maximum length is 32 characters.\n- For a PVOS device, valid length is 1..16.\n- For AP, valid length is 1..32.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaManagementUser_ManagementUsersuserSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaManagementUser_ManagementUsersuserSchema"
            }
          }
        },
        "description": "userbody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
