{
  "openapi": "3.1.0",
  "info": {
    "title": "Management User Group",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Management User Group"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/management-user-groups": {
      "get": {
        "description": "Management User group",
        "operationId": "readManagementUserGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaManagementUserGroup_ManagementUserGroupsSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing managent user group configurations",
        "tags": [
          "Management User Group"
        ],
        "x-cliParam": {
          "commandName": "readManagementUserGroupsCmd",
          "commandUse": "management-user-groups",
          "parentCommand": "readCmd",
          "pathToPrint": "/management-user-groups/",
          "summary": "Read operation for management-user-groups"
        }
      }
    },
    "/network-config/v1alpha1/management-user-groups/{name}": {
      "get": {
        "description": "Management user group configurations.",
        "operationId": "readManagementUserGroupsUserGroupByID",
        "parameters": [
          {
            "description": "Management user group name. For CX, up to 32 local user-groups are supported, 3 of which are built-in groups and their names cannot be reused,\nwhich are administrators, operators and auditors.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaManagementUserGroup_ManagementUserGroupsuserGroupSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured user group for given name.",
        "tags": [
          "Management User Group"
        ],
        "x-cliParam": {
          "commandName": "readManagementUserGroupsUserGroupCmd",
          "commandUse": "user-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readManagementUserGroupsCmd",
          "pathToPrint": "/management-user-groups/user-group/%s/",
          "summary": "Read operation for user-group",
          "totParams": 1
        }
      },
      "put": {
        "description": "Management user group configurations.",
        "operationId": "replaceManagementUserGroupsUserGroupByID",
        "parameters": [
          {
            "description": "Management user group name. For CX, up to 32 local user-groups are supported, 3 of which are built-in groups and their names cannot be reused,\nwhich are administrators, operators and auditors.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaManagementUserGroup_ManagementUserGroupsuserGroupSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing user group for given name",
        "tags": [
          "Management User Group"
        ],
        "x-cliParam": {
          "commandName": "replaceManagementUserGroupsUserGroupCmd",
          "commandUse": "user-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceManagementUserGroupsCmd",
          "pathToPrint": "/management-user-groups/user-group/%s/",
          "summary": "Replace operation for user-group",
          "totParams": 1
        }
      },
      "post": {
        "description": "Management user group configurations.",
        "operationId": "createManagementUserGroupsUserGroupByID",
        "parameters": [
          {
            "description": "Management user group name. For CX, up to 32 local user-groups are supported, 3 of which are built-in groups and their names cannot be reused,\nwhich are administrators, operators and auditors.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaManagementUserGroup_ManagementUserGroupsuserGroupSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create user group with given name.",
        "tags": [
          "Management User Group"
        ],
        "x-cliParam": {
          "commandName": "createManagementUserGroupsUserGroupCmd",
          "commandUse": "user-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createManagementUserGroupsCmd",
          "pathToPrint": "/management-user-groups/user-group/%s/",
          "summary": "Create operation for user-group",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Management user group configurations.",
        "operationId": "deleteManagementUserGroupsUserGroupByID",
        "parameters": [
          {
            "description": "Management user group name. For CX, up to 32 local user-groups are supported, 3 of which are built-in groups and their names cannot be reused,\nwhich are administrators, operators and auditors.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the user group with given name.",
        "tags": [
          "Management User Group"
        ],
        "x-cliParam": {
          "commandName": "deleteManagementUserGroupsUserGroupCmd",
          "commandUse": "user-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteManagementUserGroupsCmd",
          "pathToPrint": "/management-user-groups/user-group/%s/",
          "summary": "Delete operation for user-group",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Management user group configurations.",
        "operationId": "updateManagementUserGroupsUserGroupByID",
        "parameters": [
          {
            "description": "Management user group name. For CX, up to 32 local user-groups are supported, 3 of which are built-in groups and their names cannot be reused,\nwhich are administrators, operators and auditors.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaManagementUserGroup_ManagementUserGroupsuserGroupSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing user group for given name",
        "tags": [
          "Management User Group"
        ],
        "x-cliParam": {
          "commandName": "updateManagementUserGroupsUserGroupCmd",
          "commandUse": "user-group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateManagementUserGroupsCmd",
          "pathToPrint": "/management-user-groups/user-group/%s/",
          "summary": "Update operation for user-group",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaManagementUserGroup_ManagementUserGroupsSchemaGET": {
        "description": "Management User group",
        "properties": {
          "user-group": {
            "description": "Management user group configurations.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaManagementUserGroup_MgmtUserGroupGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaManagementUserGroup_ManagementUserGroupsuserGroupSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaManagementUserGroup_MgmtUserGroup"
          }
        ]
      },
      "ArubaManagementUserGroup_ManagementUserGroupsuserGroupSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaManagementUserGroup_MgmtUserGroupGet"
          }
        ]
      },
      "ArubaManagementUserGroup_MgmtUserGroup": {
        "description": "System management user groups configuration.\nRBAC (Role Based Access Control) allows a user to create user-defined groups with configurable rules.\nUsers trying to execute operations on the switch will be restricted based on the rules configured under the user-defined group.\nIn other words, RBAC allows a network administrator to configure local authorization.",
        "properties": {
          "description": {
            "description": "Description for the management user group.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "inherit-group": {
            "description": "Inherit RBAC rules from another user group.\nOnly one user-group can be inherited. If needed, cascading/hierarchical\ninheritance of rules can be achieved. RBAC rules will be `prepended`\nto the rules configured for the current user group.",
            "format": "pattern",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-management-user-group:management-user-groups/ac-management-user-group:user-group/ac-management-user-group:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-z0-9_][a-z0-9._-]{0,31}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "name": {
            "description": "Management user group name. For CX, up to 32 local user-groups are supported, 3 of which are built-in groups and their names cannot be reused,\nwhich are administrators, operators and auditors.",
            "format": "pattern",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "name",
            "x-patterns": "'[a-z0-9_][a-z0-9._-]{0,31}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "rest-rule": {
            "description": "User group REST RBAC rules",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaManagementUserGroup_RbacRestRules"
                },
                {
                  "properties": {
                    "seq-number": {
                      "description": "Authorization REST RBAC rule sequence number.\nRules will be applied in the ascending order of sequence numbers.",
                      "format": "int64",
                      "maximum": 2147483647,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "seqNumber"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "rule": {
            "description": "User group RBAC rules, rbac-action and rbac-match-command must also be configured.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaManagementUserGroup_RbacRules"
                },
                {
                  "properties": {
                    "seq-number": {
                      "description": "Authorization RBAC rule sequence number. The rules will be evaluated from the smallest sequence number first.\nFor CX, the sequence number is mandatory to add any rule.",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "seqNumber"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaManagementUserGroup_MgmtUserGroupGet": {
        "description": "System management user groups configuration.\nRBAC (Role Based Access Control) allows a user to create user-defined groups with configurable rules.\nUsers trying to execute operations on the switch will be restricted based on the rules configured under the user-defined group.\nIn other words, RBAC allows a network administrator to configure local authorization.",
        "properties": {
          "description": {
            "description": "Description for the management user group.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "inherit-group": {
            "description": "Inherit RBAC rules from another user group.\nOnly one user-group can be inherited. If needed, cascading/hierarchical\ninheritance of rules can be achieved. RBAC rules will be `prepended`\nto the rules configured for the current user group.",
            "format": "pattern",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-management-user-group:management-user-groups/ac-management-user-group:user-group/ac-management-user-group:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-z0-9_][a-z0-9._-]{0,31}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "name": {
            "description": "Management user group name. For CX, up to 32 local user-groups are supported, 3 of which are built-in groups and their names cannot be reused,\nwhich are administrators, operators and auditors.",
            "format": "pattern",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "name",
            "x-patterns": "'[a-z0-9_][a-z0-9._-]{0,31}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "rest-rule": {
            "description": "User group REST RBAC rules",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaManagementUserGroup_RbacRestRulesGet"
                },
                {
                  "properties": {
                    "seq-number": {
                      "description": "Authorization REST RBAC rule sequence number.\nRules will be applied in the ascending order of sequence numbers.",
                      "format": "int64",
                      "maximum": 2147483647,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "seqNumber"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "rule": {
            "description": "User group RBAC rules, rbac-action and rbac-match-command must also be configured.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaManagementUserGroup_RbacRulesGet"
                },
                {
                  "properties": {
                    "seq-number": {
                      "description": "Authorization RBAC rule sequence number. The rules will be evaluated from the smallest sequence number first.\nFor CX, the sequence number is mandatory to add any rule.",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "seqNumber"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaManagementUserGroup_RbacRestRules": {
        "description": "User group RBAC REST rules configuration",
        "properties": {
          "rbac": {
            "description": "RBAC REST rules configuration",
            "properties": {
              "access": {
                "description": "RBAC rule action for the matched REST URI.",
                "enum": [
                  "PERMIT",
                  "DENY"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DENY": "Deny the match command configured",
                  "PERMIT": "Permit the match command configured"
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "The access-level for the match-command"
              },
              "log": {
                "default": "false",
                "description": "Enable event log for the matched CLI command",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "match-json": {
                "description": "The JSON to be matched",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "match-method": {
                "description": "REST Method to match.",
                "enum": [
                  "PUT",
                  "POST",
                  "GET",
                  "DELETE",
                  "ALL"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ALL": "Match all PUT/POST/GET/DELTE uri-access",
                  "DELETE": "Match DELETE uri-access",
                  "GET": "Match GET uri-access",
                  "POST": "Match POST uri-access",
                  "PUT": "Match PUT uri-access"
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "REST Method type."
              },
              "match-uri": {
                "description": "The URI to be matched",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaManagementUserGroup_RbacRestRulesGet": {
        "description": "User group RBAC REST rules configuration",
        "properties": {
          "rbac": {
            "description": "RBAC REST rules configuration",
            "properties": {
              "access": {
                "description": "RBAC rule action for the matched REST URI.",
                "enum": [
                  "PERMIT",
                  "DENY"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DENY": "Deny the match command configured",
                  "PERMIT": "Permit the match command configured"
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "The access-level for the match-command"
              },
              "log": {
                "default": "false",
                "description": "Enable event log for the matched CLI command",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "match-json": {
                "description": "The JSON to be matched",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "match-method": {
                "description": "REST Method to match.",
                "enum": [
                  "PUT",
                  "POST",
                  "GET",
                  "DELETE",
                  "ALL"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ALL": "Match all PUT/POST/GET/DELTE uri-access",
                  "DELETE": "Match DELETE uri-access",
                  "GET": "Match GET uri-access",
                  "POST": "Match POST uri-access",
                  "PUT": "Match PUT uri-access"
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "REST Method type."
              },
              "match-uri": {
                "description": "The URI to be matched",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaManagementUserGroup_RbacRules": {
        "description": "User group RBAC CLI rules configuration",
        "properties": {
          "description": {
            "description": "Set text comment for authorization rule.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rbac": {
            "description": "RBAC CLI rules configuration",
            "properties": {
              "action": {
                "description": "RBAC rule action for the matched CLI command. Command will be permitted/denied based on rule's action.",
                "enum": [
                  "PERMIT",
                  "DENY"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DENY": "Deny the match command configured",
                  "PERMIT": "Permit the match command configured"
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "The access-level for the match-command"
              },
              "log": {
                "default": "false",
                "description": "Enable event log for the matched CLI command",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "match-command": {
                "description": "The CLI command to be matched.\nFor CX, user has to provide first word of the command followed by an optional POSIX regex for command arguments, all enclosed in double quotes (Use .* to match all commands)",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            }
          }
        }
      },
      "ArubaManagementUserGroup_RbacRulesGet": {
        "description": "User group RBAC CLI rules configuration",
        "properties": {
          "description": {
            "description": "Set text comment for authorization rule.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rbac": {
            "description": "RBAC CLI rules configuration",
            "properties": {
              "action": {
                "description": "RBAC rule action for the matched CLI command. Command will be permitted/denied based on rule's action.",
                "enum": [
                  "PERMIT",
                  "DENY"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "DENY": "Deny the match command configured",
                  "PERMIT": "Permit the match command configured"
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "The access-level for the match-command"
              },
              "log": {
                "default": "false",
                "description": "Enable event log for the matched CLI command",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "match-command": {
                "description": "The CLI command to be matched.\nFor CX, user has to provide first word of the command followed by an optional POSIX regex for command arguments, all enclosed in double quotes (Use .* to match all commands)",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            }
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaManagementUserGroup_ManagementUserGroupsuserGroupSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaManagementUserGroup_ManagementUserGroupsuserGroupSchema"
            }
          }
        },
        "description": "user-groupbody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
