{
  "openapi": "3.1.0",
  "info": {
    "title": "Ntp",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Ntp"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/ntp": {
      "get": {
        "description": "Network Time Protocol (NTP) synchronizes system clocks across network\ndevices to ensure consistent timestamp accuracy for logs,\nauthentication protocols, and distributed operations. This module\nsupports NTPv3/v4 with IETF RFC 5905, configurable\nauthentication via MD5/SHA keys, and flexible server management.\nConfigure NTP servers, authentication profiles, conductor\nassociations, and source interfaces for time synchronization. Device\nLimits: Gateway supports up to 15 NTP servers per profile. Use this\nAPI to retrieve the list of NTP profiles.",
        "operationId": "readNtp",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaNtp_NtpSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing NTP configuration",
        "tags": [
          "Ntp"
        ],
        "x-cliParam": {
          "commandName": "readNtpCmd",
          "commandUse": "ntp",
          "parentCommand": "readCmd",
          "pathToPrint": "/ntp/",
          "summary": "Read operation for ntp"
        }
      }
    },
    "/network-config/v1alpha1/ntp/{name}": {
      "get": {
        "description": "NTP profile defining time server associations, authentication\nparameters, and synchronization settings. Each entity is\nidentified by profile name. Use these APIs to create,\nmodify, or delete an NTP profile instance.",
        "operationId": "readNtpProfileByID",
        "parameters": [
          {
            "description": "Profile name, upon creation and scope mapping,\nNTP functionality will be automatically enabled\non the device.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaNtp_NtpprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing NTP profile",
        "tags": [
          "Ntp"
        ],
        "x-cliParam": {
          "commandName": "readNtpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readNtpCmd",
          "pathToPrint": "/ntp/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "NTP profile defining time server associations, authentication\nparameters, and synchronization settings. Each entity is\nidentified by profile name. Use these APIs to create,\nmodify, or delete an NTP profile instance.",
        "operationId": "replaceNtpProfileByID",
        "parameters": [
          {
            "description": "Profile name, upon creation and scope mapping,\nNTP functionality will be automatically enabled\non the device.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNtp_NtpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update NTP profile",
        "tags": [
          "Ntp"
        ],
        "x-cliParam": {
          "commandName": "replaceNtpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceNtpCmd",
          "pathToPrint": "/ntp/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "NTP profile defining time server associations, authentication\nparameters, and synchronization settings. Each entity is\nidentified by profile name. Use these APIs to create,\nmodify, or delete an NTP profile instance.",
        "operationId": "createNtpProfileByID",
        "parameters": [
          {
            "description": "Profile name, upon creation and scope mapping,\nNTP functionality will be automatically enabled\non the device.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNtp_NtpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new NTP profile",
        "tags": [
          "Ntp"
        ],
        "x-cliParam": {
          "commandName": "createNtpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createNtpCmd",
          "pathToPrint": "/ntp/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "NTP profile defining time server associations, authentication\nparameters, and synchronization settings. Each entity is\nidentified by profile name. Use these APIs to create,\nmodify, or delete an NTP profile instance.",
        "operationId": "deleteNtpProfileByID",
        "parameters": [
          {
            "description": "Profile name, upon creation and scope mapping,\nNTP functionality will be automatically enabled\non the device.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete NTP profile",
        "tags": [
          "Ntp"
        ],
        "x-cliParam": {
          "commandName": "deleteNtpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteNtpCmd",
          "pathToPrint": "/ntp/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "NTP profile defining time server associations, authentication\nparameters, and synchronization settings. Each entity is\nidentified by profile name. Use these APIs to create,\nmodify, or delete an NTP profile instance.",
        "operationId": "updateNtpProfileByID",
        "parameters": [
          {
            "description": "Profile name, upon creation and scope mapping,\nNTP functionality will be automatically enabled\non the device.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNtp_NtpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing NTP profile",
        "tags": [
          "Ntp"
        ],
        "x-cliParam": {
          "commandName": "updateNtpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateNtpCmd",
          "pathToPrint": "/ntp/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaNtp_AliasConfig": {
        "description": "Grouping for the NTP server and authentication alias configurations.",
        "properties": {
          "servers-alias": {
            "description": "Alias profile for NTP server configurations.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'"
          }
        }
      },
      "ArubaNtp_AliasConfigGet": {
        "description": "Grouping for the NTP server and authentication alias configurations.",
        "properties": {
          "servers-alias": {
            "description": "Alias profile for NTP server configurations.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'"
          }
        }
      },
      "ArubaNtp_AuthenticationConfig": {
        "description": "Grouping for NTP authentication configurations.",
        "properties": {
          "authenticate": {
            "default": "false",
            "description": "Enable authentication on outgoing packets generated by\nclient to the server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ]
          },
          "authentication-profile": {
            "description": "Authentication profile entries.",
            "items": {
              "properties": {
                "ciphertext": {
                  "description": "Authentication key in ciphertext form.",
                  "properties": {
                    "key-value": {
                      "description": "Authentication ciphertext key value.",
                      "format": "const",
                      "maxLength": 108,
                      "minLength": 64,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "key-hash": {
                  "description": "Keyed hashing algorithm.",
                  "enum": [
                    "MD5",
                    "SHA1"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "MD5": "Message-Digest Algorithm 5.",
                    "SHA1": "Secure Hash Algorithm 1."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Switch CX",
                    "Access Point"
                  ],
                  "x-typeDescription": "NTP key hashing algorithm."
                },
                "key-identifier": {
                  "description": "Authentication key identifier, must specify\nkey hashing algorithm and value.",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Switch CX",
                    "Access Point"
                  ]
                },
                "key-trusted": {
                  "default": "false",
                  "description": "Mark authentication key as trusted.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Access Point"
                  ]
                },
                "key-value": {
                  "description": "Keyed hashing secret.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Switch CX",
                    "Access Point"
                  ],
                  "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "keyIdentifier"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway",
              "Switch CX"
            ]
          },
          "trusted-key": {
            "description": "Mark authentication key(s) as trusted.",
            "items": {
              "description": "Mark authentication key(s) as trusted.",
              "format": "int64",
              "maximum": 65534,
              "minimum": 1,
              "type": "integer",
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaNtp_AuthenticationConfigGet": {
        "description": "Grouping for NTP authentication configurations.",
        "properties": {
          "authenticate": {
            "default": "false",
            "description": "Enable authentication on outgoing packets generated by\nclient to the server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ]
          },
          "authentication-profile": {
            "description": "Authentication profile entries.",
            "items": {
              "properties": {
                "ciphertext": {
                  "description": "Authentication key in ciphertext form.",
                  "properties": {
                    "key-value": {
                      "description": "Authentication ciphertext key value.",
                      "format": "const",
                      "maxLength": 108,
                      "minLength": 64,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "key-hash": {
                  "description": "Keyed hashing algorithm.",
                  "enum": [
                    "MD5",
                    "SHA1"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "MD5": "Message-Digest Algorithm 5.",
                    "SHA1": "Secure Hash Algorithm 1."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Switch CX",
                    "Access Point"
                  ],
                  "x-typeDescription": "NTP key hashing algorithm."
                },
                "key-identifier": {
                  "description": "Authentication key identifier, must specify\nkey hashing algorithm and value.",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Switch CX",
                    "Access Point"
                  ]
                },
                "key-trusted": {
                  "default": "false",
                  "description": "Mark authentication key as trusted.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Access Point"
                  ]
                },
                "key-value": {
                  "description": "Keyed hashing secret.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Switch CX",
                    "Access Point"
                  ],
                  "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "keyIdentifier"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway",
              "Switch CX"
            ]
          },
          "trusted-key": {
            "description": "Mark authentication key(s) as trusted.",
            "items": {
              "description": "Mark authentication key(s) as trusted.",
              "format": "int64",
              "maximum": 65534,
              "minimum": 1,
              "type": "integer",
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaNtp_ConductorConfig": {
        "description": "Grouping for NTP conductor configurations.",
        "properties": {
          "conductor": {
            "description": "NTP conductor configuration entries.",
            "items": {
              "properties": {
                "stratum": {
                  "description": "Local conductor stratum configurations,\nonly applicable to 6300, 6400, 8100, 8320, 8325, 8360,\n8400, 9300 switches.",
                  "format": "int32",
                  "maximum": 15,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "vrf": {
                  "description": "Conductor VRF to serve time on, ensure a VRF is pre-configured.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaNtp_ConductorConfigGet": {
        "description": "Grouping for NTP conductor configurations.",
        "properties": {
          "conductor": {
            "description": "NTP conductor configuration entries.",
            "items": {
              "properties": {
                "stratum": {
                  "description": "Local conductor stratum configurations,\nonly applicable to 6300, 6400, 8100, 8320, 8325, 8360,\n8400, 9300 switches.",
                  "format": "int32",
                  "maximum": 15,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "vrf": {
                  "description": "Conductor VRF to serve time on, ensure a VRF is pre-configured.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaNtp_MiscellaneousConfig": {
        "description": "Grouping for NTP miscellaneous configurations.",
        "properties": {
          "debug": {
            "default": "false",
            "description": "Enable debug mode to display verbose level logs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "dhcp-disable": {
            "default": "false",
            "description": "Enable client configurations over Dynamic Host Configuration Protocol (DHCP).",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "source-interface": {
            "description": "Source interface identifier, this cannot co-exist with time\nserve functionality. Ensure atleast one server entry is configured,\nprior to enabling this leaf.",
            "enum": [
              "VLAN",
              "LOOPBACK"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "LOOPBACK": "Loopback interface.",
              "VLAN": "Virtual Local Area Network."
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "NTP source interface type."
          },
          "source-vlan": {
            "description": "Source Virtual Local Area Network (VLAN) identifier,\nonly valid when source interface type is set to VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "time-serve": {
            "description": "Enable time serve functionality on specific VLAN interface(s).\nThis cannot co-exist with source interface configuration.",
            "items": {
              "description": "Enable time serve functionality on specific VLAN interface(s).\nThis cannot co-exist with source interface configuration.",
              "format": "int32",
              "maximum": 4094,
              "minimum": 1,
              "type": "integer",
              "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
              "x-supportedDeviceType": [
                "Gateway"
              ],
              "x-typeDescription": "Type definition representing a single-tagged VLAN"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "traps": {
            "description": "Enable the list of traps.",
            "items": {
              "description": "Enable the list of traps.",
              "enum": [
                "NTP_MODE_CHANGE",
                "NTP_STRATUM_CHANGE",
                "NTP_PEER_CHANGE",
                "NTP_NEW_ASSOCIATION",
                "NTP_REMOVE_ASSOCIATION",
                "NTP_CONFIG_CHANGE",
                "NTP_LEAPSEC_ANNOUNCED",
                "NTP_ALIVE_HEARTBEAT",
                "NTP_ALL"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "NTP_ALIVE_HEARTBEAT": "Entity is still alive.",
                "NTP_ALL": "All types of traps.",
                "NTP_CONFIG_CHANGE": "Configuration changed.",
                "NTP_LEAPSEC_ANNOUNCED": "New leap second announced.",
                "NTP_MODE_CHANGE": "State change of a mode.",
                "NTP_NEW_ASSOCIATION": "New association is mobilized.",
                "NTP_PEER_CHANGE": "Change in peer.",
                "NTP_REMOVE_ASSOCIATION": "Existing association is demobilized.",
                "NTP_STRATUM_CHANGE": "Change in stratum level."
              },
              "x-supportedDeviceType": [
                "Switch PVOS"
              ],
              "x-typeDescription": "NTP trap types."
            },
            "maxItems": 8,
            "type": "array"
          }
        }
      },
      "ArubaNtp_MiscellaneousConfigGet": {
        "description": "Grouping for NTP miscellaneous configurations.",
        "properties": {
          "debug": {
            "default": "false",
            "description": "Enable debug mode to display verbose level logs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "dhcp-disable": {
            "default": "false",
            "description": "Enable client configurations over Dynamic Host Configuration Protocol (DHCP).",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "source-interface": {
            "description": "Source interface identifier, this cannot co-exist with time\nserve functionality. Ensure atleast one server entry is configured,\nprior to enabling this leaf.",
            "enum": [
              "VLAN",
              "LOOPBACK"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "LOOPBACK": "Loopback interface.",
              "VLAN": "Virtual Local Area Network."
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "NTP source interface type."
          },
          "source-vlan": {
            "description": "Source Virtual Local Area Network (VLAN) identifier,\nonly valid when source interface type is set to VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "time-serve": {
            "description": "Enable time serve functionality on specific VLAN interface(s).\nThis cannot co-exist with source interface configuration.",
            "items": {
              "description": "Enable time serve functionality on specific VLAN interface(s).\nThis cannot co-exist with source interface configuration.",
              "format": "int32",
              "maximum": 4094,
              "minimum": 1,
              "type": "integer",
              "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
              "x-supportedDeviceType": [
                "Gateway"
              ],
              "x-typeDescription": "Type definition representing a single-tagged VLAN"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "traps": {
            "description": "Enable the list of traps.",
            "items": {
              "description": "Enable the list of traps.",
              "enum": [
                "NTP_MODE_CHANGE",
                "NTP_STRATUM_CHANGE",
                "NTP_PEER_CHANGE",
                "NTP_NEW_ASSOCIATION",
                "NTP_REMOVE_ASSOCIATION",
                "NTP_CONFIG_CHANGE",
                "NTP_LEAPSEC_ANNOUNCED",
                "NTP_ALIVE_HEARTBEAT",
                "NTP_ALL"
              ],
              "format": "enum",
              "type": "string",
              "x-enumDescriptions": {
                "NTP_ALIVE_HEARTBEAT": "Entity is still alive.",
                "NTP_ALL": "All types of traps.",
                "NTP_CONFIG_CHANGE": "Configuration changed.",
                "NTP_LEAPSEC_ANNOUNCED": "New leap second announced.",
                "NTP_MODE_CHANGE": "State change of a mode.",
                "NTP_NEW_ASSOCIATION": "New association is mobilized.",
                "NTP_PEER_CHANGE": "Change in peer.",
                "NTP_REMOVE_ASSOCIATION": "Existing association is demobilized.",
                "NTP_STRATUM_CHANGE": "Change in stratum level."
              },
              "x-supportedDeviceType": [
                "Switch PVOS"
              ],
              "x-typeDescription": "NTP trap types."
            },
            "maxItems": 8,
            "type": "array"
          }
        }
      },
      "ArubaNtp_NtpSchemaGET": {
        "description": "Network Time Protocol (NTP) synchronizes system clocks across network\ndevices to ensure consistent timestamp accuracy for logs,\nauthentication protocols, and distributed operations. This module\nsupports NTPv3/v4 with IETF RFC 5905, configurable\nauthentication via MD5/SHA keys, and flexible server management.\nConfigure NTP servers, authentication profiles, conductor\nassociations, and source interfaces for time synchronization. Device\nLimits: Gateway supports up to 15 NTP servers per profile. Use this\nAPI to retrieve the list of NTP profiles.",
        "properties": {
          "profile": {
            "description": "NTP profile defining time server associations, authentication\nparameters, and synchronization settings. Each entity is\nidentified by profile name. Use these APIs to create,\nmodify, or delete an NTP profile instance.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaNtp_AuthenticationConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaNtp_ConductorConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaNtp_MiscellaneousConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaNtp_ServerConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaNtp_AliasConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "Profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "name": {
                      "description": "Profile name, upon creation and scope mapping,\nNTP functionality will be automatically enabled\non the device.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch PVOS",
                        "Gateway",
                        "Switch CX"
                      ]
                    },
                    "vrf": {
                      "description": "Client VRF used to request time, ensure the VRF is pre-configured.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                      "x-patternSources": "name-type",
                      "x-patterns": "'([^\\\\/ ]+)'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Gateway"
        ]
      },
      "ArubaNtp_NtpprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaNtp_AuthenticationConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaNtp_ConductorConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaNtp_MiscellaneousConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaNtp_ServerConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaNtp_AliasConfig"
          },
          {
            "properties": {
              "description": {
                "description": "Profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Profile name, upon creation and scope mapping,\nNTP functionality will be automatically enabled\non the device.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Gateway",
                  "Switch CX"
                ]
              },
              "vrf": {
                "description": "Client VRF used to request time, ensure the VRF is pre-configured.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                "x-patternSources": "name-type",
                "x-patterns": "'([^\\\\/ ]+)'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
              }
            }
          }
        ]
      },
      "ArubaNtp_NtpprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaNtp_AuthenticationConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaNtp_ConductorConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaNtp_MiscellaneousConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaNtp_ServerConfigGet"
          },
          {
            "$ref": "#/components/schemas/ArubaNtp_AliasConfigGet"
          },
          {
            "properties": {
              "description": {
                "description": "Profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "name": {
                "description": "Profile name, upon creation and scope mapping,\nNTP functionality will be automatically enabled\non the device.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Gateway",
                  "Switch CX"
                ]
              },
              "vrf": {
                "description": "Client VRF used to request time, ensure the VRF is pre-configured.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                "x-patternSources": "name-type",
                "x-patterns": "'([^\\\\/ ]+)'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
              }
            }
          }
        ]
      },
      "ArubaNtp_ServerConfig": {
        "description": "Grouping for the NTP server configurations.",
        "properties": {
          "max-association": {
            "default": "8",
            "description": "Maximum number of client associations.",
            "format": "int32",
            "maximum": 8,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "operation-mode": {
            "default": "BROADCAST",
            "description": "NTP operation mode, either unicast or broadcast (default).",
            "enum": [
              "BROADCAST",
              "UNICAST"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BROADCAST": "Operate in broadcast mode.",
              "UNICAST": "Operate in unicast mode."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "NTP operation types."
          },
          "server-mode-disable": {
            "default": "false",
            "description": "NTP server mode, sets default access control for client to\ninteract with server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "servers": {
            "description": "NTP server entries.",
            "items": {
              "properties": {
                "address": {
                  "description": "Supported server entries are FQDN,\nIPv4 and IPv6 addresses.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 253,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "domain-name",
                      "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                      "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Switch CX",
                    "Access Point"
                  ]
                },
                "burst": {
                  "default": "SINGLE",
                  "description": "Packet transmission mode when server(s) are reachable,\nonly valid when the transmission mode is set to BURST.",
                  "enum": [
                    "INITIAL",
                    "ALWAYS",
                    "SINGLE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALWAYS": "Sends a burst of packets to the server\nto synchronize time.",
                    "INITIAL": "Sends a burst of packets initially to\nthe server to synchronize time.",
                    "SINGLE": "Sends a single packet to the server\nto synchronize time."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway"
                  ],
                  "x-typeDescription": "NTP packet burst mode types."
                },
                "iburst": {
                  "default": "ALWAYS",
                  "description": "Packet transmission mode when server(s) are unreachable,\nonly valid when the transmission mode is set to iBURST.",
                  "enum": [
                    "INITIAL",
                    "ALWAYS",
                    "SINGLE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALWAYS": "Sends a burst of packets to the server\nto synchronize time.",
                    "INITIAL": "Sends a burst of packets initially to\nthe server to synchronize time.",
                    "SINGLE": "Sends a single packet to the server\nto synchronize time."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "NTP packet burst mode types."
                },
                "key-identifier": {
                  "description": "Link authentication key identifier to server entry.\nEnsure corresponding authentication key entry with identifier\nexist.",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Switch CX",
                    "Access Point"
                  ]
                },
                "max-poll": {
                  "default": "10",
                  "description": "Maximum poll interval in 2^n seconds.",
                  "format": "int32",
                  "maximum": 17,
                  "minimum": 4,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "mgmt-interface": {
                  "default": "false",
                  "description": "Management interface used by client to connect to the server.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "min-poll": {
                  "default": "6",
                  "description": "Minimum poll interval in 2^n seconds, must be less than maximum\npoll interval.",
                  "format": "int32",
                  "maximum": 17,
                  "minimum": 4,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "prefer": {
                  "default": "false",
                  "description": "The primary server preference for the client association.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "tx-mode": {
                  "description": "Packet transmission mode to select the burst functionality.",
                  "enum": [
                    "BURST",
                    "IBURST"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BURST": "Transmission burst mode when the server(s) are reachable.",
                    "IBURST": "Transmission burst mode when the server(s) are unreachable."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "NTP packet transmission mode types."
                },
                "version": {
                  "description": "Protocol version used by the client.",
                  "format": "int32",
                  "maximum": 4,
                  "minimum": 3,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 15,
            "type": "array",
            "x-key": [
              "address"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway",
              "Access Point",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaNtp_ServerConfigGet": {
        "description": "Grouping for the NTP server configurations.",
        "properties": {
          "max-association": {
            "default": "8",
            "description": "Maximum number of client associations.",
            "format": "int32",
            "maximum": 8,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "operation-mode": {
            "default": "BROADCAST",
            "description": "NTP operation mode, either unicast or broadcast (default).",
            "enum": [
              "BROADCAST",
              "UNICAST"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BROADCAST": "Operate in broadcast mode.",
              "UNICAST": "Operate in unicast mode."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "NTP operation types."
          },
          "server-mode-disable": {
            "default": "false",
            "description": "NTP server mode, sets default access control for client to\ninteract with server.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "servers": {
            "description": "NTP server entries.",
            "items": {
              "properties": {
                "address": {
                  "description": "Supported server entries are FQDN,\nIPv4 and IPv6 addresses.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 253,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "domain-name",
                      "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                      "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Switch CX",
                    "Access Point"
                  ]
                },
                "burst": {
                  "default": "SINGLE",
                  "description": "Packet transmission mode when server(s) are reachable,\nonly valid when the transmission mode is set to BURST.",
                  "enum": [
                    "INITIAL",
                    "ALWAYS",
                    "SINGLE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALWAYS": "Sends a burst of packets to the server\nto synchronize time.",
                    "INITIAL": "Sends a burst of packets initially to\nthe server to synchronize time.",
                    "SINGLE": "Sends a single packet to the server\nto synchronize time."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway"
                  ],
                  "x-typeDescription": "NTP packet burst mode types."
                },
                "iburst": {
                  "default": "ALWAYS",
                  "description": "Packet transmission mode when server(s) are unreachable,\nonly valid when the transmission mode is set to iBURST.",
                  "enum": [
                    "INITIAL",
                    "ALWAYS",
                    "SINGLE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALWAYS": "Sends a burst of packets to the server\nto synchronize time.",
                    "INITIAL": "Sends a burst of packets initially to\nthe server to synchronize time.",
                    "SINGLE": "Sends a single packet to the server\nto synchronize time."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "NTP packet burst mode types."
                },
                "key-identifier": {
                  "description": "Link authentication key identifier to server entry.\nEnsure corresponding authentication key entry with identifier\nexist.",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Switch CX",
                    "Access Point"
                  ]
                },
                "max-poll": {
                  "default": "10",
                  "description": "Maximum poll interval in 2^n seconds.",
                  "format": "int32",
                  "maximum": 17,
                  "minimum": 4,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "mgmt-interface": {
                  "default": "false",
                  "description": "Management interface used by client to connect to the server.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "min-poll": {
                  "default": "6",
                  "description": "Minimum poll interval in 2^n seconds, must be less than maximum\npoll interval.",
                  "format": "int32",
                  "maximum": 17,
                  "minimum": 4,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX"
                  ]
                },
                "prefer": {
                  "default": "false",
                  "description": "The primary server preference for the client association.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "tx-mode": {
                  "description": "Packet transmission mode to select the burst functionality.",
                  "enum": [
                    "BURST",
                    "IBURST"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BURST": "Transmission burst mode when the server(s) are reachable.",
                    "IBURST": "Transmission burst mode when the server(s) are unreachable."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "NTP packet transmission mode types."
                },
                "version": {
                  "description": "Protocol version used by the client.",
                  "format": "int32",
                  "maximum": 4,
                  "minimum": 3,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 15,
            "type": "array",
            "x-key": [
              "address"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway",
              "Access Point",
              "Switch CX"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaNtp_NtpprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaNtp_NtpprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
