{
  "openapi": "3.1.0",
  "info": {
    "title": "Packet Capture",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Packet Capture"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/packet-capture": {
      "get": {
        "description": "Configure packet capture profiles for network troubleshooting and analysis.\nPacket capture allows monitoring and recording network traffic on datapath\nand controlpath for diagnostic purposes.",
        "operationId": "readPacketCapture",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPacketCapture_PacketCaptureSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read packet capture configuration",
        "tags": [
          "Packet Capture"
        ],
        "x-cliParam": {
          "commandName": "readPacketCaptureCmd",
          "commandUse": "packet-capture",
          "parentCommand": "readCmd",
          "pathToPrint": "/packet-capture/",
          "summary": "Read operation for packet-capture"
        }
      }
    },
    "/network-config/v1alpha1/packet-capture/{name}": {
      "get": {
        "description": "Named packet capture default configuration profiles that define capture destinations,\nfilters, and parameters for network traffic monitoring.",
        "operationId": "readPacketCaptureProfileByID",
        "parameters": [
          {
            "description": "Packet capture profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPacketCapture_PacketCaptureprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read packet capture profile configuration",
        "tags": [
          "Packet Capture"
        ],
        "x-cliParam": {
          "commandName": "readPacketCaptureProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readPacketCaptureCmd",
          "pathToPrint": "/packet-capture/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Named packet capture default configuration profiles that define capture destinations,\nfilters, and parameters for network traffic monitoring.",
        "operationId": "replacePacketCaptureProfileByID",
        "parameters": [
          {
            "description": "Packet capture profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPacketCapture_PacketCaptureprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update packet capture profile",
        "tags": [
          "Packet Capture"
        ],
        "x-cliParam": {
          "commandName": "replacePacketCaptureProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replacePacketCaptureCmd",
          "pathToPrint": "/packet-capture/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Named packet capture default configuration profiles that define capture destinations,\nfilters, and parameters for network traffic monitoring.",
        "operationId": "createPacketCaptureProfileByID",
        "parameters": [
          {
            "description": "Packet capture profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPacketCapture_PacketCaptureprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create packet capture profile",
        "tags": [
          "Packet Capture"
        ],
        "x-cliParam": {
          "commandName": "createPacketCaptureProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createPacketCaptureCmd",
          "pathToPrint": "/packet-capture/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Named packet capture default configuration profiles that define capture destinations,\nfilters, and parameters for network traffic monitoring.",
        "operationId": "deletePacketCaptureProfileByID",
        "parameters": [
          {
            "description": "Packet capture profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete packet capture profile",
        "tags": [
          "Packet Capture"
        ],
        "x-cliParam": {
          "commandName": "deletePacketCaptureProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deletePacketCaptureCmd",
          "pathToPrint": "/packet-capture/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Named packet capture default configuration profiles that define capture destinations,\nfilters, and parameters for network traffic monitoring.",
        "operationId": "updatePacketCaptureProfileByID",
        "parameters": [
          {
            "description": "Packet capture profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPacketCapture_PacketCaptureprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Partially update packet capture profile",
        "tags": [
          "Packet Capture"
        ],
        "x-cliParam": {
          "commandName": "updatePacketCaptureProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updatePacketCaptureCmd",
          "pathToPrint": "/packet-capture/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaPacketCapture_PacketCaptureSchemaGET": {
        "description": "Configure packet capture profiles for network troubleshooting and analysis.\nPacket capture allows monitoring and recording network traffic on datapath\nand controlpath for diagnostic purposes.",
        "properties": {
          "profile": {
            "description": "Named packet capture default configuration profiles that define capture destinations,\nfilters, and parameters for network traffic monitoring.",
            "items": {
              "properties": {
                "controlpath-filter": {
                  "description": "Controlpath packet capture filters for capturing specific types of control\ntraffic like TCP, UDP, interprocess, or system messages.",
                  "items": {
                    "properties": {
                      "all-ports": {
                        "default": "false",
                        "description": "Enable capture on all ports.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      },
                      "pkt-type": {
                        "description": "Packet-type can be interprocess, tcp, udp, other, sysmsg",
                        "enum": [
                          "INTERPROCESS",
                          "SYSMSG",
                          "TCP",
                          "UDP",
                          "OTHER"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "INTERPROCESS": "Interprocess packets",
                          "OTHER": "Other packets",
                          "SYSMSG": "Sysmsg packets",
                          "TCP": "TCP packets",
                          "UDP": "UDP packets"
                        },
                        "x-supportedDeviceType": [
                          "Gateway"
                        ],
                        "x-typeDescription": "Packet type for controlpath capture"
                      },
                      "ports": {
                        "description": "List of ports to enable capture.",
                        "items": {
                          "description": "List of ports to enable capture.",
                          "format": "int32",
                          "maximum": 65535,
                          "minimum": 0,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Gateway"
                          ],
                          "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                        },
                        "maxItems": 10,
                        "type": "array"
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "pktType"
                  ],
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "description": {
                  "description": "Packet capture profile description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "dest-type": {
                  "description": "Packet capture Destination type",
                  "enum": [
                    "IP_ADDRESS",
                    "INTERFACE",
                    "LOCAL_FILESYSTEM"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "INTERFACE": "Interface of the controller.",
                    "IP_ADDRESS": "IP address of a remote destination",
                    "LOCAL_FILESYSTEM": "Local filesystem of the controller."
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "destination type"
                },
                "interface": {
                  "description": "Destination Interface name",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
                  "x-patternSources": "name",
                  "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "ip-address": {
                  "description": "IP address of remote destination",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "local-filesystem": {
                  "default": "false",
                  "description": "Local filesystem of controller",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "name": {
                  "description": "Packet capture profile name.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "packet-filter": {
                  "description": "Datapath packet capture filters to specify which traffic to capture based\non MAC addresses, IPSec tunnels, or IDPS engine processing.",
                  "items": {
                    "properties": {
                      "direction": {
                        "description": "Packet capture direction",
                        "enum": [
                          "ALL",
                          "INCOMING",
                          "OUTGOING"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "ALL": "Both incoming and outgoing packets",
                          "INCOMING": "Incoming packets only",
                          "OUTGOING": "Outgoing packets only"
                        },
                        "x-supportedDeviceType": [
                          "Gateway"
                        ],
                        "x-typeDescription": "Direction of packet capture."
                      },
                      "encryption-type": {
                        "description": "Type of encryption for packet capture",
                        "enum": [
                          "DECRYPTED",
                          "ENCRYPTED",
                          "ALL"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "ALL": "Both decrypted and encrypted packets",
                          "DECRYPTED": "Decrypted packets only",
                          "ENCRYPTED": "Encrypted packets only"
                        },
                        "x-supportedDeviceType": [
                          "Gateway"
                        ],
                        "x-typeDescription": "Type of encryption for packet capture"
                      },
                      "filter": {
                        "description": "Capture filter type",
                        "enum": [
                          "MAC",
                          "IPSEC",
                          "IDPS"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "IDPS": "IDPS engine",
                          "IPSEC": "IPSec packets",
                          "MAC": "user MAC address."
                        },
                        "x-supportedDeviceType": [
                          "Gateway"
                        ],
                        "x-typeDescription": "Match type for datapath packet capture"
                      },
                      "idps-port": {
                        "description": "IDPS port (vhost port 0 or 1)",
                        "format": "int32",
                        "maximum": 1,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      },
                      "mac": {
                        "description": "MAC address of the user",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "mac-address",
                        "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ],
                        "x-typeDescription": "An IEEE 802 MAC address"
                      },
                      "peer-ip": {
                        "description": "Peer IPv4/v6 address (Inner IP address)",
                        "oneOf": [
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          },
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv6-address",
                            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                          }
                        ],
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "filter"
                  ],
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Gateway"
        ]
      },
      "ArubaPacketCapture_PacketCaptureprofileSchema": {
        "properties": {
          "controlpath-filter": {
            "description": "Controlpath packet capture filters for capturing specific types of control\ntraffic like TCP, UDP, interprocess, or system messages.",
            "items": {
              "properties": {
                "all-ports": {
                  "default": "false",
                  "description": "Enable capture on all ports.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "pkt-type": {
                  "description": "Packet-type can be interprocess, tcp, udp, other, sysmsg",
                  "enum": [
                    "INTERPROCESS",
                    "SYSMSG",
                    "TCP",
                    "UDP",
                    "OTHER"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "INTERPROCESS": "Interprocess packets",
                    "OTHER": "Other packets",
                    "SYSMSG": "Sysmsg packets",
                    "TCP": "TCP packets",
                    "UDP": "UDP packets"
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Packet type for controlpath capture"
                },
                "ports": {
                  "description": "List of ports to enable capture.",
                  "items": {
                    "description": "List of ports to enable capture.",
                    "format": "int32",
                    "maximum": 65535,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Gateway"
                    ],
                    "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                  },
                  "maxItems": 10,
                  "type": "array"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "pktType"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "description": {
            "description": "Packet capture profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "dest-type": {
            "description": "Packet capture Destination type",
            "enum": [
              "IP_ADDRESS",
              "INTERFACE",
              "LOCAL_FILESYSTEM"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "INTERFACE": "Interface of the controller.",
              "IP_ADDRESS": "IP address of a remote destination",
              "LOCAL_FILESYSTEM": "Local filesystem of the controller."
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "destination type"
          },
          "interface": {
            "description": "Destination Interface name",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ip-address": {
            "description": "IP address of remote destination",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "local-filesystem": {
            "default": "false",
            "description": "Local filesystem of controller",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "name": {
            "description": "Packet capture profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "packet-filter": {
            "description": "Datapath packet capture filters to specify which traffic to capture based\non MAC addresses, IPSec tunnels, or IDPS engine processing.",
            "items": {
              "properties": {
                "direction": {
                  "description": "Packet capture direction",
                  "enum": [
                    "ALL",
                    "INCOMING",
                    "OUTGOING"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALL": "Both incoming and outgoing packets",
                    "INCOMING": "Incoming packets only",
                    "OUTGOING": "Outgoing packets only"
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Direction of packet capture."
                },
                "encryption-type": {
                  "description": "Type of encryption for packet capture",
                  "enum": [
                    "DECRYPTED",
                    "ENCRYPTED",
                    "ALL"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALL": "Both decrypted and encrypted packets",
                    "DECRYPTED": "Decrypted packets only",
                    "ENCRYPTED": "Encrypted packets only"
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Type of encryption for packet capture"
                },
                "filter": {
                  "description": "Capture filter type",
                  "enum": [
                    "MAC",
                    "IPSEC",
                    "IDPS"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "IDPS": "IDPS engine",
                    "IPSEC": "IPSec packets",
                    "MAC": "user MAC address."
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Match type for datapath packet capture"
                },
                "idps-port": {
                  "description": "IDPS port (vhost port 0 or 1)",
                  "format": "int32",
                  "maximum": 1,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "mac": {
                  "description": "MAC address of the user",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "mac-address",
                  "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IEEE 802 MAC address"
                },
                "peer-ip": {
                  "description": "Peer IPv4/v6 address (Inner IP address)",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "filter"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaPacketCapture_PacketCaptureprofileSchemaGet": {
        "properties": {
          "controlpath-filter": {
            "description": "Controlpath packet capture filters for capturing specific types of control\ntraffic like TCP, UDP, interprocess, or system messages.",
            "items": {
              "properties": {
                "all-ports": {
                  "default": "false",
                  "description": "Enable capture on all ports.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "pkt-type": {
                  "description": "Packet-type can be interprocess, tcp, udp, other, sysmsg",
                  "enum": [
                    "INTERPROCESS",
                    "SYSMSG",
                    "TCP",
                    "UDP",
                    "OTHER"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "INTERPROCESS": "Interprocess packets",
                    "OTHER": "Other packets",
                    "SYSMSG": "Sysmsg packets",
                    "TCP": "TCP packets",
                    "UDP": "UDP packets"
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Packet type for controlpath capture"
                },
                "ports": {
                  "description": "List of ports to enable capture.",
                  "items": {
                    "description": "List of ports to enable capture.",
                    "format": "int32",
                    "maximum": 65535,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Gateway"
                    ],
                    "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                  },
                  "maxItems": 10,
                  "type": "array"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "pktType"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "description": {
            "description": "Packet capture profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "dest-type": {
            "description": "Packet capture Destination type",
            "enum": [
              "IP_ADDRESS",
              "INTERFACE",
              "LOCAL_FILESYSTEM"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "INTERFACE": "Interface of the controller.",
              "IP_ADDRESS": "IP address of a remote destination",
              "LOCAL_FILESYSTEM": "Local filesystem of the controller."
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "destination type"
          },
          "interface": {
            "description": "Destination Interface name",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "ip-address": {
            "description": "IP address of remote destination",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "local-filesystem": {
            "default": "false",
            "description": "Local filesystem of controller",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "name": {
            "description": "Packet capture profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "packet-filter": {
            "description": "Datapath packet capture filters to specify which traffic to capture based\non MAC addresses, IPSec tunnels, or IDPS engine processing.",
            "items": {
              "properties": {
                "direction": {
                  "description": "Packet capture direction",
                  "enum": [
                    "ALL",
                    "INCOMING",
                    "OUTGOING"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALL": "Both incoming and outgoing packets",
                    "INCOMING": "Incoming packets only",
                    "OUTGOING": "Outgoing packets only"
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Direction of packet capture."
                },
                "encryption-type": {
                  "description": "Type of encryption for packet capture",
                  "enum": [
                    "DECRYPTED",
                    "ENCRYPTED",
                    "ALL"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALL": "Both decrypted and encrypted packets",
                    "DECRYPTED": "Decrypted packets only",
                    "ENCRYPTED": "Encrypted packets only"
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Type of encryption for packet capture"
                },
                "filter": {
                  "description": "Capture filter type",
                  "enum": [
                    "MAC",
                    "IPSEC",
                    "IDPS"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "IDPS": "IDPS engine",
                    "IPSEC": "IPSec packets",
                    "MAC": "user MAC address."
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Match type for datapath packet capture"
                },
                "idps-port": {
                  "description": "IDPS port (vhost port 0 or 1)",
                  "format": "int32",
                  "maximum": 1,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "mac": {
                  "description": "MAC address of the user",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "mac-address",
                  "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IEEE 802 MAC address"
                },
                "peer-ip": {
                  "description": "Peer IPv4/v6 address (Inner IP address)",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "filter"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaPacketCapture_PacketCaptureprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaPacketCapture_PacketCaptureprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
