{
  "openapi": "3.1.0",
  "info": {
    "title": "Snmp Trap",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Snmp Trap"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/snmp-trap": {
      "get": {
        "description": "SNMP Trap profiles configuration.\nUsing this profile SNMP traps can be enabled/disabled.\nEnabled traps will notify important events to the management station.\nThis profile allows specification of traps,alarms.",
        "operationId": "readSnmpTrap",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaSnmpTrap_SnmpTrapSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured SNMP Trap profiles",
        "tags": [
          "Snmp Trap"
        ],
        "x-cliParam": {
          "commandName": "readSnmpTrapCmd",
          "commandUse": "snmp-trap",
          "parentCommand": "readCmd",
          "pathToPrint": "/snmp-trap/",
          "summary": "Read operation for snmp-trap"
        }
      }
    },
    "/network-config/v1alpha1/snmp-trap/{name}": {
      "get": {
        "description": "List of SNMP traps",
        "operationId": "readSnmpTrapProfileByID",
        "parameters": [
          {
            "description": "SNMP Traps profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaSnmpTrap_SnmpTrapprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing SNMP traps profile configurations",
        "tags": [
          "Snmp Trap"
        ],
        "x-cliParam": {
          "commandName": "readSnmpTrapProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readSnmpTrapCmd",
          "pathToPrint": "/snmp-trap/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of SNMP traps",
        "operationId": "replaceSnmpTrapProfileByID",
        "parameters": [
          {
            "description": "SNMP Traps profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSnmpTrap_SnmpTrapprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update SNMP traps existing profile configurations",
        "tags": [
          "Snmp Trap"
        ],
        "x-cliParam": {
          "commandName": "replaceSnmpTrapProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceSnmpTrapCmd",
          "pathToPrint": "/snmp-trap/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of SNMP traps",
        "operationId": "createSnmpTrapProfileByID",
        "parameters": [
          {
            "description": "SNMP Traps profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSnmpTrap_SnmpTrapprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new SNMP traps profile by unique profile name",
        "tags": [
          "Snmp Trap"
        ],
        "x-cliParam": {
          "commandName": "createSnmpTrapProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createSnmpTrapCmd",
          "pathToPrint": "/snmp-trap/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of SNMP traps",
        "operationId": "deleteSnmpTrapProfileByID",
        "parameters": [
          {
            "description": "SNMP Traps profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the SNMP traps profile",
        "tags": [
          "Snmp Trap"
        ],
        "x-cliParam": {
          "commandName": "deleteSnmpTrapProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteSnmpTrapCmd",
          "pathToPrint": "/snmp-trap/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of SNMP traps",
        "operationId": "updateSnmpTrapProfileByID",
        "parameters": [
          {
            "description": "SNMP Traps profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSnmpTrap_SnmpTrapprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing SNMP traps profile configurations",
        "tags": [
          "Snmp Trap"
        ],
        "x-cliParam": {
          "commandName": "updateSnmpTrapProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateSnmpTrapCmd",
          "pathToPrint": "/snmp-trap/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaSnmpTrap_SnmpTrapSchemaGET": {
        "description": "SNMP Trap profiles configuration.\nUsing this profile SNMP traps can be enabled/disabled.\nEnabled traps will notify important events to the management station.\nThis profile allows specification of traps,alarms.",
        "properties": {
          "profile": {
            "description": "List of SNMP traps",
            "items": {
              "properties": {
                "controlpath-cpu": {
                  "default": "45",
                  "description": "Alert threshold for ControlPath CPU",
                  "format": "int32",
                  "maximum": 99,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "controlpath-memory": {
                  "default": "85",
                  "description": "Alert threshold for ControlPath Memory consumption",
                  "format": "int32",
                  "maximum": 99,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "datapath-cpu": {
                  "default": "30",
                  "description": "Alert threshold for Datapath CPU",
                  "format": "int32",
                  "maximum": 99,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "description": {
                  "description": "SNMP Traps profile description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": "SNMP Traps profile name",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string"
                },
                "total-aps": {
                  "default": "80",
                  "description": "Alert threshold for number of APs connected",
                  "format": "int32",
                  "maximum": 99,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "total-locals": {
                  "default": "80",
                  "description": "Alert threshold for number of locals",
                  "format": "int32",
                  "maximum": 99,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "total-tunnels": {
                  "default": "80",
                  "description": "Alert threshold for Total Tunnel capacity",
                  "format": "int32",
                  "maximum": 99,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "total-vaps": {
                  "default": "80",
                  "description": "Alert threshold for number of VAPs connected",
                  "format": "int32",
                  "maximum": 99,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "trap": {
                  "description": "List of supported SNMP traps.",
                  "items": {
                    "properties": {
                      "dhcpv6-errant-reply": {
                        "description": "Trap for errant DHCPv6 server replies.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "dhcpv6-out-of-resources": {
                        "description": "Trap for DHCPv6 snooping out of resources.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "enable": {
                        "description": "Enable SNMP trap.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "event-list": {
                        "description": "Trap for specified events.",
                        "items": {
                          "description": "Trap for specified events.",
                          "format": "const",
                          "maxLength": 32,
                          "minLength": 1,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "maxItems": 2147483647,
                        "type": "array"
                      },
                      "group-list": {
                        "description": "Trap for specified events.",
                        "items": {
                          "description": "Trap for specified events.",
                          "format": "int64",
                          "maximum": 24,
                          "minimum": 1,
                          "type": "integer",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "maxItems": 2147483647,
                        "type": "array"
                      },
                      "id": {
                        "description": "SNMP trap name.",
                        "enum": [
                          "AUTHENTICATION_FAILURE",
                          "COLD_START",
                          "LINK_DOWN",
                          "LINK_UP",
                          "WARM_START",
                          "WLSX_AP_ACTIVE_UPLINK_CHANGED",
                          "WLSX_AP_BROADCAST_STORM",
                          "WLSX_AP_BSSID_ENTRY_CHANGED",
                          "WLSX_AP_CHANNEL_CHANGE",
                          "WLSX_AP_DEAUTH_CONTAINMENT",
                          "WLSX_AP_DOWN",
                          "WLSX_AP_ENTRY_CHANGED",
                          "WLSX_AP_IP_CONFLICT",
                          "WLSX_AP_IMPERSONATION",
                          "WLSX_AP_INTERFERENCE_CLEARED",
                          "WLSX_AP_INTERFERENCE_DETECTED",
                          "WLSX_AP_LOOP_DETECTED",
                          "WLSX_AP_MANAGED_MODE_CONFIG_FAILURE_TRAP",
                          "WLSX_AP_MODE_CHANGE",
                          "WLSX_AP_NUM_COLD_STARTS",
                          "WLSX_AP_NUM_DOWN",
                          "WLSX_AP_NUM_RADIO_DOWN",
                          "WLSX_AP_NUM_UPGRADE_FAILURE",
                          "WLSX_AP_NUM_WARM_STARTS",
                          "WLSX_AP_PORT_DOWN",
                          "WLSX_AP_PORT_UP",
                          "WLSX_AP_POWER_CHANGE",
                          "WLSX_AP_RADIO_ATTRIBUTES_CHANGED",
                          "WLSX_AP_RADIO_ENTRY_CHANGED",
                          "WLSX_AP_SPOOFING_DETECTED",
                          "WLSX_AP_TAGGED_WIRED_CONTAINMENT",
                          "WLSX_AP_USB_PLUG_ALARM",
                          "WLSX_AP_UP",
                          "WLSX_AP_WIRED_CONTAINMENT",
                          "WLSX_ACE_USAGE_THRESHOLD",
                          "WLSX_ADHOC_NETWORK",
                          "WLSX_ADHOC_NETWORK_BRIDGE_DETECTED",
                          "WLSX_ADHOC_NETWORK_BRIDGE_DETECTED_AP",
                          "WLSX_ADHOC_NETWORK_BRIDGE_DETECTED_STA",
                          "WLSX_ADHOC_NETWORK_DETECTED",
                          "WLSX_ADHOC_NETWORK_REMOVED",
                          "WLSX_ADHOC_USING_VALID_SSID",
                          "WLSX_PHONY_BSSID_DETECTED",
                          "WLSX_AP_FLOOD_ATTACK",
                          "WLSX_AUTH_MAX_ACL_ENTRIES",
                          "WLSX_AUTH_MAX_B_W_CONTRACTS",
                          "WLSX_AUTH_MAX_USER_ENTRIES",
                          "WLSX_AUTH_SERVER_ACCT_TIMED_OUT",
                          "WLSX_AUTH_SERVER_IS_UP",
                          "WLSX_AUTH_SERVER_REQ_TIMED_OUT",
                          "WLSX_AUTH_SERVER_TIMED_OUT",
                          "WLSX_BSSID_IS_DOWN",
                          "WLSX_BSSID_IS_UP",
                          "WLSX_BLOCK_ACK_ATTACK_DETECTED",
                          "WLSX_CLEAR_PASS_SERVER_INVALID",
                          "WLSX_CRL_EXPIRED",
                          "WLSX_CTS_RATE_ANOMALY",
                          "WLSX_CTS_TRANSFER_ERROR",
                          "WLSX_CTS_TRANSFER_SUCCEEDED",
                          "WLSX_CERT_EXPIRED",
                          "WLSX_CERT_EXPIRING_SOON",
                          "WLSX_CHANNEL_CHANGED",
                          "WLSX_CHANNEL_FRAME_ERROR_RATE_EXCEEDED",
                          "WLSX_CHANNEL_FRAME_FRAGMENTATION_RATE_EXCEEDED",
                          "WLSX_CHANNEL_FRAME_RETRY_RATE_EXCEEDED",
                          "WLSX_CHANNEL_INTERFERENCE_CLEARED",
                          "WLSX_CHANNEL_INTERFERENCE_DETECTED",
                          "WLSX_CHANNEL_MISCONFIGURATION",
                          "WLSX_CHANNEL_RATE_ANOMALY",
                          "WLSX_CHOP_CHOP_ATTACK",
                          "WLSX_CLIENT_ASSOCIATED_TO_HOSTED_NETWORK",
                          "WLSX_CLIENT_ASSOCIATING_ON_WRONG_CHANNEL",
                          "WLSX_CLIENT_DEAUTH_CONTAINMENT",
                          "WLSX_CLIENT_FLOOD_ATTACK",
                          "WLSX_CLIENT_TAGGED_WIRED_CONTAINMENT",
                          "WLSX_CLIENT_WIRED_CONTAINMENT",
                          "WLSX_CLUSTER_VLAN_PROBE_STATUS",
                          "WLSX_COLD_START",
                          "WLSX_CONFIGURATION_LICENSE_MISMATCH",
                          "WLSX_CONFIGURATION_UPDATE_ERROR",
                          "WLSX_CONFIGURATION_UPDATE_SUCCEEDED",
                          "WLSX_COVERAGE_HOLE_DETECTED",
                          "WLSX_COVERAGE_HOLE_RESOLVED",
                          "WLSX_DB_COMMUNICATION_FAILURE",
                          "WLSX_DISCONNECT_STATION_ATTACK",
                          "WLSX_DISCONNECT_STATION_ATTACK_AP",
                          "WLSX_DISCONNECT_STATION_ATTACK_STA",
                          "WLSX_DOT1X_THRESHOLD_LIMIT_HIT",
                          "WLSX_DOT1X_TOTAL_LIMIT_HIT",
                          "WLSX_EAP_RATE_ANOMALY",
                          "WLSX_ESI_SERVER_DOWN",
                          "WLSX_ESI_SERVER_UP",
                          "WLSX_ENHANCED_ADHOC_CONTAINMENT",
                          "WLSX_ESI_SERVER_CHANGED",
                          "WLSX_FAN_ABSENT",
                          "WLSX_FAN_FAILURE",
                          "WLSX_FAN_OK",
                          "WLSX_FAN_TRAY_INSERTED",
                          "WLSX_FAN_TRAY_INSERTED_TRAP",
                          "WLSX_FAN_TRAY_REMOVED",
                          "WLSX_FAN_TRAY_REMOVED_TRAP",
                          "WLSX_FATA_JACK_ATTACK",
                          "WLSX_FLASH_SPACE_OK",
                          "WLSX_FLASH1_SPACE_OK",
                          "WLSX_FRAME_BAND_WIDTH_RATE_EXCEEDED",
                          "WLSX_FRAME_FRAGMENTATION_RATE_EXCEEDED",
                          "WLSX_FRAME_LOW_SPEED_RATE_EXCEEDED",
                          "WLSX_FRAME_NON_UNICAST_RATE_EXCEEDED",
                          "WLSX_FRAME_RECEIVE_ERROR_RATE_EXCEEDED",
                          "WLSX_FRAME_RETRY_RATE_EXCEEDED",
                          "WLSX_GBIC_INSERTED",
                          "WLSX_GLOBAL_CONFIGURATION_CHANGE_NOTIFICATION",
                          "WLSX_HT40_MHZ_INTOLERANCE_AP",
                          "WLSX_HT40_MHZ_INTOLERANCE_STA",
                          "WLSX_HA_FAILOVER_REQUEST_FROM_AP",
                          "WLSX_HA_FAILOVER_TRIGGER",
                          "WLSX_HA_INTERCONTROLLER_HBT_MISS",
                          "WLSX_HA_STANDBY_CONNECTIVITY_STATE",
                          "WLSX_HA_STANDBY_IP_SENT_FAILED",
                          "WLSX_HA_STATE",
                          "WLSX_HOST_OF_WIRELESS_NETWORK_CONTAINMENT",
                          "WLSX_HOTSPOTTER_ATTACK_DETECTED",
                          "WLSX_HT_GREENFIELD_SUPPORTED",
                          "WLSX_IAP_VOICE_CLIENT_LOCATION_UPDATE",
                          "WLSX_IF_STATE_CHANGE_TRAP",
                          "WLSX_IN_RANGE_VOLTAGE",
                          "WLSX_INFORM_QUEUE_OVER_FLOW",
                          "WLSX_INTERFERING_AP_DETECTED",
                          "WLSX_INVALID_ADDRESS_COMBINATION",
                          "WLSX_INVALID_MAC_OUI_AP",
                          "WLSX_INVALID_MAC_OUI_STA",
                          "WLSX_IP_SPOOFING_DETECTED",
                          "WLSX_LC_INSERTED",
                          "WLSX_LC_REMOVED",
                          "WLSX_LICENSE_CLIENT_EXPIRY",
                          "WLSX_LICENSE_ENTRY_CHANGED",
                          "WLSX_LICENSE_EXPIRY",
                          "WLSX_LICENSE_PLATFORM_MISMATCH",
                          "WLSX_LICENSE_SERVER_EXPIRY",
                          "WLSX_LOADBALANCING_DISABLED",
                          "WLSX_LOADBALANCING_ENABLED",
                          "WLSX_LOW_MEMORY",
                          "WLSX_LOW_ON_FLASH_SPACE",
                          "WLSX_LOW_ON_FLASH1_SPACE",
                          "WLSX_MALFORMED_ASSOC_REQ_DETECTED",
                          "WLSX_MALFORMED_AUTH_FRAME",
                          "WLSX_MALFORMED_FRAME_LARGE_DURATION_DETECTED",
                          "WLSX_MALFORMED_FRAME_WRONG_CHANNEL_DETECTED",
                          "WLSX_MALFORMED_HTIE_DETECTED",
                          "WLSX_MEMORY_USAGE_OK",
                          "WLSX_MESH_NODE_ENTRY_CHANGED",
                          "WLSX_MGMT_USER_AUTHENTICATION_FAILED",
                          "WLSX_MITM_DETECTED",
                          "WLSX_MON_AP_ENTRY_CHANGED",
                          "WLSX_MON_STATION_ENTRY_CHANGED",
                          "WLSX_N_ACCESS_POINT_IS_DOWN",
                          "WLSX_N_ACCESS_POINT_IS_UP",
                          "WLSX_N_ACE_USAGE_THRESHOLD",
                          "WLSX_N_ADHOC_NETWORK",
                          "WLSX_N_ADHOC_NETWORK_BRIDGE_DETECTED_AP",
                          "WLSX_N_ADHOC_NETWORK_BRIDGE_DETECTED_STA",
                          "WLSX_N_ADHOC_USING_VALID_SSID",
                          "WLSX_N_ADHOC_USING_VALID_SSID_CONTAINMENT",
                          "WLSX_N_AP_ON_BACKUP_CONTROLLER",
                          "WLSX_N_AUTH_MAX_ACL_ENTRIES",
                          "WLSX_N_AUTH_MAX_BW_CONTRACTS",
                          "WLSX_N_AUTH_MAX_USER_ENTRIES",
                          "WLSX_N_AUTH_MAX_XSEC_USER_ENTRIES",
                          "WLSX_N_AUTH_SERVER_ACCT_TIMED_OUT",
                          "WLSX_N_AUTH_SERVER_ALL_IN_SERVICE",
                          "WLSX_N_AUTH_SERVER_IS_DOWN",
                          "WLSX_N_AUTH_SERVER_IS_UP",
                          "WLSX_N_AUTH_SERVER_REQ_TIMED_OUT",
                          "WLSX_N_AUTH_SERVER_TIMED_OUT",
                          "WLSX_N_CHANNEL_CHANGED",
                          "WLSX_N_COVERAGE_HOLE_DETECTED",
                          "WLSX_NDB_COMMUNICATION_FAILURE",
                          "WLSX_N_DISCONNECT_STATION_ATTACK",
                          "WLSX_N_DOT1X_THRESHOLD_LIMIT_HIT",
                          "WLSX_N_DOT1X_TOTAL_LIMIT_HIT",
                          "WLSX_N_ESI_SERVER_DOWN",
                          "WLSX_N_ESI_SERVER_UP",
                          "WLSX_N_FAN_ABSENT",
                          "WLSX_N_FAN_FAILURE",
                          "WLSX_N_FAN_TRAY_INSERTED",
                          "WLSX_N_FAN_TRAY_REMOVED",
                          "WLSX_N_GBIC_INSERTED",
                          "WLSX_N_INTERFERING_AP_DETECTED",
                          "WLSX_N_IP_SPOOFING_DETECTED",
                          "WLSX_N_LC_INSERTED",
                          "WLSX_N_LC_REMOVED",
                          "WLSX_N_LICENSE_EXPIRY",
                          "WLSX_N_LOW_MEMORY",
                          "WLSX_N_LOW_ON_FLASH_SPACE",
                          "WLSX_N_LOW_ON_FLASH1_SPACE",
                          "WLSX_N_OUT_OF_RANGE_TEMPERATURE",
                          "WLSX_N_OUT_OF_RANGE_VOLTAGE",
                          "WLSX_N_POWER_SUPPLY_FAILURE",
                          "WLSX_N_POWER_SUPPLY_MISSING",
                          "WLSX_N_PROCESS_DIED",
                          "WLSX_N_PROCESS_EXCEEDS_MEMORY_LIMITS",
                          "WLSX_N_RADIO_ATTRIBUTES_CHANGED",
                          "WLSX_N_RAP_EXPIRED_PSK",
                          "WLSX_N_RAP_WARN_EXPIRED_PSK",
                          "WLSX_N_ROGUE_AP_DETECTED",
                          "WLSX_N_ROGUE_AP_RESOLVED",
                          "WLSX_N_SC_INSERTED",
                          "WLSX_N_SIGNATURE_MATCH",
                          "WLSX_N_SIGNATURE_MATCH_AIRJACK",
                          "WLSX_N_SIGNATURE_MATCH_ASLEAP",
                          "WLSX_N_SIGNATURE_MATCH_DEAUTH_BCAST",
                          "WLSX_N_SIGNATURE_MATCH_DISASSOC_BCAST",
                          "WLSX_N_SIGNATURE_MATCH_NETSTUMBLER",
                          "WLSX_N_SIGNATURE_MATCH_NULL_PROBE_RESP",
                          "WLSX_N_SIGNATURE_MATCH_WELLENREITER",
                          "WLSX_N_STA_UN_ASSOCIATED_FROM_UNSECURE_AP",
                          "WLSX_N_STATION_ADDED_TO_DENY_LIST",
                          "WLSX_N_STATION_REMOVED_FROM_DENY_LIST",
                          "WLSX_N_SUSPECT_ROGUE_AP_DETECTED",
                          "WLSX_N_SUSPECT_ROGUE_AP_RESOLVED",
                          "WLSX_N_SWITCH_IP_CHANGED",
                          "WLSX_N_SWITCH_IPV6_CHANGED",
                          "WLSX_N_SWITCH_ROLE_CHANGE",
                          "WLSX_N_USER_AUTHENTICATION_FAILED",
                          "WLSX_N_USER_ENTRY_AUTHENTICATED",
                          "WLSX_N_USER_ENTRY_CREATED",
                          "WLSX_N_USER_ENTRY_DE_AUTHENTICATED",
                          "WLSX_N_USER_ENTRY_DELETED",
                          "WLSX_N_VPN_MAX_SESSIONS",
                          "WLSX_N_VRRP_STATE_CHANGE",
                          "WLSX_N_WEB_CC_LICENSE_ENFORCEMENT",
                          "WLSX_NEIGHBOR_AP_DETECTED",
                          "WLSX_NODE_RATE_ANOMALY",
                          "WLSX_NODE_RATE_ANOMALY_AP",
                          "WLSX_NODE_RATE_ANOMALY_STA",
                          "WLSX_NORMAL_TEMPERATURE",
                          "WLSX_NUM_CLOCK_SYNC_ERRORS",
                          "WLSX_NUM_COLD_START",
                          "WLSX_NUM_WARM_START",
                          "WLSX_OUI_MISCONFIGURATION",
                          "WLSX_OMERTA_ATTACK",
                          "WLSX_OUT_OF_RANGE_TEMPERATURE",
                          "WLSX_OUT_OF_RANGE_VOLTAGE",
                          "WLSX_OVERFLOW_EAPOL_KEY_DETECTED",
                          "WLSX_OVERFLOW_IE_DETECTED",
                          "WLSX_PORT_DOWN",
                          "WLSX_PORT_ENTRY_CHANGED",
                          "WLSX_PORT_UP",
                          "WLSX_PORTAL_SERVER_DOWN",
                          "WLSX_PORTAL_SERVER_UP",
                          "WLSX_POWER_SAVE_DOS_ATTACK",
                          "WLSX_POWER_SUPPLY_FAILURE",
                          "WLSX_POWER_SUPPLY_FAILURE_TRAP",
                          "WLSX_POWER_SUPPLY_MISSING",
                          "WLSX_POWER_SUPPLY_MISSING_TRAP",
                          "WLSX_POWER_SUPPLY_OK",
                          "WLSX_POWER_SUPPLY_OK_TRAP",
                          "WLSX_PROCESS_DIED",
                          "WLSX_PROCESS_EXCEEDS_MEMORY_LIMITS",
                          "WLSX_PROCESS_RESTART",
                          "WLSX_RAP_ACTIVE_UPLINK_STATUS",
                          "WLSX_RTS_RATE_ANOMALY",
                          "WLSX_REPEAT_WEP_IV_VIOLATION",
                          "WLSX_RESERVED_CHANNEL_VIOLATION",
                          "WLSX_SC_INSERTED",
                          "WLSX_SC_REMOVED",
                          "WLSX_SSID_MISCONFIGURATION",
                          "WLSX_SEQUENCE_NUMBER_ANOMALY_AP",
                          "WLSX_SEQUENCE_NUMBER_ANOMALY_STA",
                          "WLSX_SHORT_PREABLE_MISCONFIGURATION",
                          "WLSX_SIGN_AP_AIRJACK",
                          "WLSX_SIGN_AP_ASLEAP",
                          "WLSX_SIGN_AP_DEAUTH_BCAST",
                          "WLSX_SIGN_AP_NETSTUMBLER",
                          "WLSX_SIGN_AP_NULL_PROBE_RESP",
                          "WLSX_SIGN_STA_AIRJACK",
                          "WLSX_SIGN_STA_ASLEAP",
                          "WLSX_SIGN_STA_DEAUTH_BCAST",
                          "WLSX_SIGN_STA_NETSTUMBLER",
                          "WLSX_SIGN_STA_NULL_PROBE_RESP",
                          "WLSX_SIGNAL_ANOMALY",
                          "WLSX_SIGNATURE_MATCH",
                          "WLSX_SIGNATURE_MATCH_AP",
                          "WLSX_SIGNATURE_MATCH_STA",
                          "WLSX_STA_ASSOCIATED_TO_UNSECURE_AP",
                          "WLSX_STA_IMPERSONATION",
                          "WLSX_STA_INTERFERENCE_CLEARED",
                          "WLSX_STA_INTERFERENCE_DETECTED",
                          "WLSX_STAPOLICY_VIOLATION",
                          "WLSX_STA_REPEAT_WEP_IV_VIOLATION",
                          "WLSX_STA_UN_ASSOCIATED_FROM_UNSECURE_AP",
                          "WLSX_STA_WEAK_WEP_IV_VIOLATION",
                          "WLSX_STACK_IF_STATE_CHANGE_TRAP",
                          "WLSX_STACK_TOPOLOGY_CHANGE_TRAP",
                          "WLSX_SUSPECT_UNSECURE_AP_DETECTED",
                          "WLSX_SUSPECT_UNSECURE_AP_RESOLVED",
                          "WLSX_SWITCH_LIST_ENTRY_CHANGED",
                          "WLSX_SWITCH_ROLE_CHANGE",
                          "WLSX_TKIP_REPLAY_ATTACK",
                          "WLSX_TARPIT_CONTAINMENT",
                          "WLSX_THRESHOLD_CLEARED",
                          "WLSX_THRESHOLD_EXCEEDED",
                          "WLSX_TUNNEL_DOWN",
                          "WLSX_TUNNEL_UP",
                          "WLSX_THERMAL_SHUTDOWN",
                          "WLSX_UNSECURE_AP_DETECTED",
                          "WLSX_UNSECURE_AP_RESOLVED",
                          "WLSX_USER_AUTHENTICATION_FAILED",
                          "WLSX_USER_ENTRY_ATTRIBUTES_CHANGED",
                          "WLSX_USER_ENTRY_AUTHENTICATED",
                          "WLSX_USER_ENTRY_CHANGED",
                          "WLSX_USER_ENTRY_CREATED",
                          "WLSX_USER_ENTRY_DE_AUTHENTICATED",
                          "WLSX_USER_ENTRY_DELETED",
                          "WLSX_VALID_CLIENT_MISASSOCIATION",
                          "WLSX_VALID_CLIENT_NOT_USING_ENCRYPTION",
                          "WLSX_VALID_SSID_VIOLATION",
                          "WLSX_VLAN_ENTRY_CHANGED",
                          "WLSX_VLAN_INTERFACE_ENTRY_CHANGED",
                          "WLSX_VLAN_LINK_DOWN",
                          "WLSX_VLAN_LINK_UP",
                          "WLSX_VOICE_CDR_BUFFER_THRESHOLD_REACHED",
                          "WLSX_VOICE_CLIENT_LOCATION_UPDATE",
                          "WLSX_WEP_MISCONFIGURATION",
                          "WLSX_WMS_OFFLOAD_RECOMMENDED",
                          "WLSX_WPA_FT_ATTACK",
                          "WLSX_WPA_MISCONFIGURATION",
                          "WLSX_WARM_START",
                          "WLSX_WEAK_WEP_IV_VIOLATION",
                          "WLSX_WEB_CC_LICENSE_ENFORCEMENT",
                          "WLSX_WINDOWS_BRIDGE_DETECTED",
                          "WLSX_WINDOWS_BRIDGE_DETECTED_AP",
                          "WLSX_WINDOWS_BRIDGE_DETECTED_STA",
                          "WLSX_WIRELESS_BRIDGE",
                          "WLSX_WIRELESS_HOSTED_NETWORK_CONTAINMENT",
                          "WLSX_WIRELESS_HOSTED_NETWORK_DETECTED",
                          "WLSX_GHOST_TUNNELSERVER_ATTACK",
                          "WLSX_GHOST_TUNNELCLIENT_ATTACK",
                          "WLSX_N_AP_CONDUCTOR_STATUS_CHANGE",
                          "WLSX_LICENSE_THRESHOLD_LIMIT_HIT",
                          "WLSX_PEER_ASSOCIATED_TO_WIFI_DIRECT_GO",
                          "WLSX_PEER_ASSOCIATED_TO_WIFI_DIRECT_GO_CONTAINMENT",
                          "SW_CX_AAA_SERVER_REACHABILITY_STATUS",
                          "SW_CX_CONFIGURATION_CHANGES",
                          "SW_CX_CPU_UTILIZATION",
                          "SW_CX_ENTITY",
                          "SW_CX_LINK_STATUS_IFMIB",
                          "SW_CX_LINK_STATUS_RMON",
                          "SW_CX_MAC_NOTIFY",
                          "SW_CX_MEMORY_UTILIZATION",
                          "SW_CX_MODULE",
                          "SW_CX_PORT_SECURITY",
                          "SW_CX_RMON_EVENTS",
                          "SW_CX_VSX",
                          "SW_CX_POE",
                          "ARP_PROTECT",
                          "AUTH_SERVER_FAIL",
                          "DHCP_SERVER",
                          "DHCP_SNOOPING",
                          "DHCPV6_SNOOPING",
                          "DYN_IP_LOCKDOWN",
                          "DYN_IPV6_LOCKDOWN",
                          "EVENT_LIST",
                          "LINK_CHANGE",
                          "LOGIN_MGR_FAILURE",
                          "MAC_COUNT_NOTIFY",
                          "MAC_NOTIFY",
                          "MACSEC",
                          "ND_SNOOPING",
                          "PSWD_CHNG_MGR",
                          "PORT_SECURITY",
                          "RUNNING_CONFIG_CHANGE",
                          "SMARTLINK",
                          "SNMP_AUTH",
                          "STARTUP_CONFIG_CHANGE",
                          "VSF",
                          "OSPF3_ALL",
                          "OSPF3_INTERFACE_STATE_CHANGE",
                          "OSPF3_VIRTUAL_INTERFACE_STATE_CHANGE",
                          "OSPF3_NEIGHBOR_STATE_CHANGE",
                          "OSPF3_VIRTUAL_NEIGHBOR_STATE_CHANGE",
                          "OSPF3_INTERFACE_CONFIG_ERROR",
                          "OSPF3_VIRTUAL_INTERFACE_CONFIG_ERROR",
                          "OSPF3_INTERFACE_RECEIVE_BAD_PACKET",
                          "OSPF3_VIRTUAL_INTERFACE_RECEIVE_BAD_PACKET",
                          "OSPF3_INTERFACE_RETRANSMIT_PACKET",
                          "OSPF3_VIRTUAL_INTERFACE_RETRANSMIT_PACKET",
                          "OSPF3_ORIGINATE_LSA",
                          "OSPF3_ORIGINATE_MAXAGE_LSA",
                          "OSPF3_RESTART_STATUS_CHANGE",
                          "OSPF3_NBRRESTART_HELPER_STATUS_CHANGE",
                          "OSPF3_VIRTUAL_NBRRESTART_HELPER_STATUS_CHANGE",
                          "OSPF3_UNKNOWN_LSA",
                          "OSPF3_LSDB_OVERFLOW",
                          "OSPF3_LSDB_APPROACH_OVERFLOW",
                          "OSPF3_ASBR_STATUS_CHANGE",
                          "OSPF3_ABR_STATUS_CHANGE",
                          "OSPF_ALL",
                          "OSPF_VIRTUAL_INTERFACE_STATE_CHANGE",
                          "OSPF_NEIGHBOR_STATE_CHANGE",
                          "OSPF_VIRTUAL_NEIGHBOR_STATE_CHANGE",
                          "OSPF_INTERFACE_CONFIG_ERROR",
                          "OSPF_VIRTUAL_INTERFACE_CONFIG_ERROR",
                          "OSPF_INTERFACE_AUTHENTICATION_FAILURE",
                          "OSPF_VIRTUAL_INTERFACE_AUTHENTICATION_FAILURE",
                          "OSPF_INTERFACE_RECEIVE_BAD_PACKET",
                          "OSPF_VIRTUAL_INTERFACE_RECEIVE_BAD_PACKET",
                          "OSPF_INTERFACE_RETRANSMIT_PACKET",
                          "OSPF_VIRTUAL_INTERFACE_RETRANSMIT_PACKET",
                          "OSPF_ORIGINATE_LSA",
                          "OSPF_ORIGINATE_MAXAGE_LSA",
                          "OSPF_INTERFACE_STATE_CHANGE",
                          "RIPNG_ALL",
                          "RIPNG_INTERFACE_CONFIG_ERROR",
                          "RIPNG_INTERFACE_RECEIVE_BAD_PACKET",
                          "RIPNG_INTERFACE_STATE_CHANGE",
                          "PIM_NBR_LOSS",
                          "PIM_HW_MRT_FULL",
                          "PIM_SW_MRT_FULL",
                          "PIM_TRAP_ALL",
                          "PIM6_NBR_LOSS",
                          "PIM6_HW_MRT_FULL",
                          "PIM6_SW_MRT_FULL",
                          "PIM6_TRAP_ALL",
                          "IP_SRC_BINDING_OUT_OF_RESOURCES",
                          "WLSX_INVALID_CC_DETECTED"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "ARP_PROTECT": "Enable the trap for ARP protect",
                          "AUTHENTICATION_FAILURE": "authenticationFailure trap",
                          "AUTH_SERVER_FAIL": "Enable the trap for Auth server fail",
                          "COLD_START": "coldStart trap",
                          "DHCPV6_SNOOPING": "Enable the trap for DHCPV6 Snooping",
                          "DHCP_SERVER": "Enable the trap for DHCP server",
                          "DHCP_SNOOPING": "Enable the trap for DHCP Snooping",
                          "DYN_IPV6_LOCKDOWN": "Enable the trap for Dyn IPV6 lockdown",
                          "DYN_IP_LOCKDOWN": "Enable the trap for Dyn IP lockdown",
                          "EVENT_LIST": "Trap for specified events",
                          "IP_SRC_BINDING_OUT_OF_RESOURCES": "IP source binding out of resources.",
                          "LINK_CHANGE": "Trap for link Up/Down",
                          "LINK_DOWN": "linkDown trap",
                          "LINK_UP": "linkUp trap",
                          "LOGIN_MGR_FAILURE": "Enable the trap for Management Interface login failure",
                          "MACSEC": "Enable the trap for Macsec",
                          "MAC_COUNT_NOTIFY": "Enable the trap for Mac Count notify",
                          "MAC_NOTIFY": "Enable the trap for Mac notify",
                          "ND_SNOOPING": "Enable the trap for ND Snooping",
                          "OSPF3_ABR_STATUS_CHANGE": "ABR status changes for the device..",
                          "OSPF3_ALL": "All types of traps.",
                          "OSPF3_ASBR_STATUS_CHANGE": "ASBR status changes for the device.",
                          "OSPF3_INTERFACE_CONFIG_ERROR": "conflict on a non-virtual interface.",
                          "OSPF3_INTERFACE_RECEIVE_BAD_PACKET": "A bad packet on a non-virtual interface.",
                          "OSPF3_INTERFACE_RETRANSMIT_PACKET": "A packet has been retransmitted on a non-virtual interface.",
                          "OSPF3_INTERFACE_STATE_CHANGE": "State change of a non-virtual interface.",
                          "OSPF3_LSDB_APPROACH_OVERFLOW": "Number of LSAs in router's lsdb has exceeded ninety percent of the limit.",
                          "OSPF3_LSDB_OVERFLOW": "Number of LSAs in router's lsdb has exceeded the limit.",
                          "OSPF3_NBRRESTART_HELPER_STATUS_CHANGE": "The graceful restart helper state changes for the neighbor.",
                          "OSPF3_NEIGHBOR_STATE_CHANGE": "State change of a non-virtual neighbor.",
                          "OSPF3_ORIGINATE_LSA": "A new LSA has been originated.",
                          "OSPF3_ORIGINATE_MAXAGE_LSA": "An LSA has expired.",
                          "OSPF3_RESTART_STATUS_CHANGE": "The graceful restart state changes for the device.",
                          "OSPF3_UNKNOWN_LSA": "An LSA with unknown code has been received.",
                          "OSPF3_VIRTUAL_INTERFACE_CONFIG_ERROR": "Configuration conflict on a virtual interface.",
                          "OSPF3_VIRTUAL_INTERFACE_RECEIVE_BAD_PACKET": "A bad packet on a virtual interface.",
                          "OSPF3_VIRTUAL_INTERFACE_RETRANSMIT_PACKET": "A packet has been retransmitted on a virtual interface.",
                          "OSPF3_VIRTUAL_INTERFACE_STATE_CHANGE": "State change of a virtual interface.",
                          "OSPF3_VIRTUAL_NBRRESTART_HELPER_STATUS_CHANGE": "The graceful restart helper state changes for the virtual neighbor.",
                          "OSPF3_VIRTUAL_NEIGHBOR_STATE_CHANGE": "State change of a virtual neighbor.",
                          "OSPF_ALL": "All types of traps.",
                          "OSPF_INTERFACE_AUTHENTICATION_FAILURE": "Authentication conflict on a non-virtual interface.",
                          "OSPF_INTERFACE_CONFIG_ERROR": "conflict on a non-virtual interface.",
                          "OSPF_INTERFACE_RECEIVE_BAD_PACKET": "A bad packet on a non-virtual interface.",
                          "OSPF_INTERFACE_RETRANSMIT_PACKET": "A packet has been retransmitted on a non-virtual interface.",
                          "OSPF_INTERFACE_STATE_CHANGE": "State change of a non-virtual interface.",
                          "OSPF_NEIGHBOR_STATE_CHANGE": "State change of a non-virtual neighbor.",
                          "OSPF_ORIGINATE_LSA": "A new LSA has been originated.",
                          "OSPF_ORIGINATE_MAXAGE_LSA": "An LSA has expired.",
                          "OSPF_VIRTUAL_INTERFACE_AUTHENTICATION_FAILURE": "Authentication conflict on a virtual interface.",
                          "OSPF_VIRTUAL_INTERFACE_CONFIG_ERROR": "Configuration conflict on a virtual interface.",
                          "OSPF_VIRTUAL_INTERFACE_RECEIVE_BAD_PACKET": "A bad packet on a virtual interface.",
                          "OSPF_VIRTUAL_INTERFACE_RETRANSMIT_PACKET": "A packet has been retransmitted on a virtual interface.",
                          "OSPF_VIRTUAL_INTERFACE_STATE_CHANGE": "State change of a virtual interface.",
                          "OSPF_VIRTUAL_NEIGHBOR_STATE_CHANGE": "State change of a virtual neighbor.",
                          "PIM6_HW_MRT_FULL": "Hardware multicast route table is full",
                          "PIM6_NBR_LOSS": "A neighbor router was lost",
                          "PIM6_SW_MRT_FULL": "Software multicast route table is full",
                          "PIM6_TRAP_ALL": "All types of trap",
                          "PIM_HW_MRT_FULL": "Hardware multicast route table is full",
                          "PIM_NBR_LOSS": "A neighbor router was lost",
                          "PIM_SW_MRT_FULL": "Software multicast route table is full",
                          "PIM_TRAP_ALL": "All types of trap",
                          "PORT_SECURITY": "Enable the trap for Port access authentication failure",
                          "PSWD_CHNG_MGR": "Enable the trap for Password change for Management Interface",
                          "RIPNG_ALL": "All types of traps.",
                          "RIPNG_INTERFACE_CONFIG_ERROR": "conflict on a interface.",
                          "RIPNG_INTERFACE_RECEIVE_BAD_PACKET": "A bad packet on a interface.",
                          "RIPNG_INTERFACE_STATE_CHANGE": "State change of a interface.",
                          "RUNNING_CONFIG_CHANGE": "Enable the trap for Running config change",
                          "SMARTLINK": "Enable the trap for smartlink configuration",
                          "SNMP_AUTH": "Enable the trap for Standard Authentication failures",
                          "STARTUP_CONFIG_CHANGE": "Enable the trap for Startup config change",
                          "SW_CX_AAA_SERVER_REACHABILITY_STATUS": "Enable AAA server reachability traps",
                          "SW_CX_CONFIGURATION_CHANGES": "Enable configuration changes traps",
                          "SW_CX_CPU_UTILIZATION": "Enable high CPU utilization traps",
                          "SW_CX_ENTITY": "Enable Entity MIB entConfigChange traps",
                          "SW_CX_LINK_STATUS_IFMIB": "Enable IF-MIB link status traps",
                          "SW_CX_LINK_STATUS_RMON": "Enable RMON link status traps",
                          "SW_CX_MAC_NOTIFY": "Enable MAC table change notification traps",
                          "SW_CX_MEMORY_UTILIZATION": "Enable high memory utilization traps",
                          "SW_CX_MODULE": "Enable module event traps",
                          "SW_CX_POE": "Enable Power Over Ethernet event traps",
                          "SW_CX_PORT_SECURITY": "Enable port-security violation traps (Default: enable)",
                          "SW_CX_RMON_EVENTS": "Enable RMON event traps",
                          "SW_CX_VSX": "Enable Aruba Virtual Switching Extension (VSX) traps",
                          "VSF": "Enable the trap for VSF",
                          "WARM_START": "warmStart trap",
                          "WLSX_ACE_USAGE_THRESHOLD": "wlsxAceUsageThreshold trap",
                          "WLSX_ADHOC_NETWORK": "wlsxAdhocNetwork trap",
                          "WLSX_ADHOC_NETWORK_BRIDGE_DETECTED": "wlsxAdhocNetworkBridgeDetected trap",
                          "WLSX_ADHOC_NETWORK_BRIDGE_DETECTED_AP": "wlsxAdhocNetworkBridgeDetectedAP trap",
                          "WLSX_ADHOC_NETWORK_BRIDGE_DETECTED_STA": "wlsxAdhocNetworkBridgeDetectedSta trap",
                          "WLSX_ADHOC_NETWORK_DETECTED": "wlsxAdhocNetworkDetected trap",
                          "WLSX_ADHOC_NETWORK_REMOVED": "wlsxAdhocNetworkRemoved trap",
                          "WLSX_ADHOC_USING_VALID_SSID": "wlsxAdhocUsingValidSSID trap",
                          "WLSX_AP_ACTIVE_UPLINK_CHANGED": "wlsxAPActiveUplinkChanged trap",
                          "WLSX_AP_BROADCAST_STORM": "wlsxAPBROADCASTSTORM trap",
                          "WLSX_AP_BSSID_ENTRY_CHANGED": "wlsxAPBssidEntryChanged trap",
                          "WLSX_AP_CHANNEL_CHANGE": "wlsxAPChannelChange trap",
                          "WLSX_AP_DEAUTH_CONTAINMENT": "wlsxAPDeauthContainment trap",
                          "WLSX_AP_DOWN": "wlsxAPDown trap",
                          "WLSX_AP_ENTRY_CHANGED": "wlsxAPEntryChanged trap",
                          "WLSX_AP_FLOOD_ATTACK": "wlsxApFloodAttack trap",
                          "WLSX_AP_IMPERSONATION": "wlsxAPImpersonation trap",
                          "WLSX_AP_INTERFERENCE_CLEARED": "wlsxAPInterferenceCleared trap",
                          "WLSX_AP_INTERFERENCE_DETECTED": "wlsxAPInterferenceDetected trap",
                          "WLSX_AP_IP_CONFLICT": "wlsxAPIPConflict trap",
                          "WLSX_AP_LOOP_DETECTED": "wlsxAPLoopDetected trap",
                          "WLSX_AP_MANAGED_MODE_CONFIG_FAILURE_TRAP": "wlsxAPManagedModeConfigFailureTrap trap",
                          "WLSX_AP_MODE_CHANGE": "wlsxAPModeChange trap",
                          "WLSX_AP_NUM_COLD_STARTS": "wlsxAPNumColdStarts trap",
                          "WLSX_AP_NUM_DOWN": "wlsxAPNumDown trap",
                          "WLSX_AP_NUM_RADIO_DOWN": "wlsxAPNumRadioDown trap",
                          "WLSX_AP_NUM_UPGRADE_FAILURE": "wlsxAPNumUpgradeFailure trap",
                          "WLSX_AP_NUM_WARM_STARTS": "wlsxAPNumWarmStarts trap",
                          "WLSX_AP_PORT_DOWN": "wlsxAPPortDown trap",
                          "WLSX_AP_PORT_UP": "wlsxAPPortUp trap",
                          "WLSX_AP_POWER_CHANGE": "wlsxAPPowerChange trap",
                          "WLSX_AP_RADIO_ATTRIBUTES_CHANGED": "wlsxAPRadioAttributesChanged trap",
                          "WLSX_AP_RADIO_ENTRY_CHANGED": "wlsxAPRadioEntryChanged trap",
                          "WLSX_AP_SPOOFING_DETECTED": "wlsxAPSpoofingDetected trap",
                          "WLSX_AP_TAGGED_WIRED_CONTAINMENT": "wlsxAPTaggedWiredContainment trap",
                          "WLSX_AP_UP": "wlsxAPUp trap",
                          "WLSX_AP_USB_PLUG_ALARM": "wlsxAPUSBPLUGALARM trap",
                          "WLSX_AP_WIRED_CONTAINMENT": "wlsxAPWiredContainment trap",
                          "WLSX_AUTH_MAX_ACL_ENTRIES": "wlsxAuthMaxAclEntries trap",
                          "WLSX_AUTH_MAX_B_W_CONTRACTS": "wlsxAuthMaxBWContracts trap",
                          "WLSX_AUTH_MAX_USER_ENTRIES": "wlsxAuthMaxUserEntries trap",
                          "WLSX_AUTH_SERVER_ACCT_TIMED_OUT": "wlsxAuthServerAcctTimedOut trap",
                          "WLSX_AUTH_SERVER_IS_UP": "wlsxAuthServerIsUp trap",
                          "WLSX_AUTH_SERVER_REQ_TIMED_OUT": "wlsxAuthServerReqTimedOut trap",
                          "WLSX_AUTH_SERVER_TIMED_OUT": "wlsxAuthServerTimedOut trap",
                          "WLSX_BLOCK_ACK_ATTACK_DETECTED": "wlsxBlockAckAttackDetected trap",
                          "WLSX_BSSID_IS_DOWN": "wlsxBSSIDIsDown trap",
                          "WLSX_BSSID_IS_UP": "wlsxBSSIDIsUp trap",
                          "WLSX_CERT_EXPIRED": "wlsxCertExpired trap",
                          "WLSX_CERT_EXPIRING_SOON": "wlsxCertExpiringSoon trap",
                          "WLSX_CHANNEL_CHANGED": "wlsxChannelChanged trap",
                          "WLSX_CHANNEL_FRAME_ERROR_RATE_EXCEEDED": "wlsxChannelFrameErrorRateExceeded trap",
                          "WLSX_CHANNEL_FRAME_FRAGMENTATION_RATE_EXCEEDED": "wlsxChannelFrameFragmentationRateExceeded trap",
                          "WLSX_CHANNEL_FRAME_RETRY_RATE_EXCEEDED": "wlsxChannelFrameRetryRateExceeded trap",
                          "WLSX_CHANNEL_INTERFERENCE_CLEARED": "wlsxChannelInterferenceCleared trap",
                          "WLSX_CHANNEL_INTERFERENCE_DETECTED": "wlsxChannelInterferenceDetected trap",
                          "WLSX_CHANNEL_MISCONFIGURATION": "wlsxChannelMisconfiguration trap",
                          "WLSX_CHANNEL_RATE_ANOMALY": "wlsxChannelRateAnomaly trap",
                          "WLSX_CHOP_CHOP_ATTACK": "wlsxChopChopAttack trap",
                          "WLSX_CLEAR_PASS_SERVER_INVALID": "wlsxCLEARPASSSERVERINVALID trap",
                          "WLSX_CLIENT_ASSOCIATED_TO_HOSTED_NETWORK": "wlsxClientAssociatedToHostedNetwork trap",
                          "WLSX_CLIENT_ASSOCIATING_ON_WRONG_CHANNEL": "wlsxClientAssociatingOnWrongChannel trap",
                          "WLSX_CLIENT_DEAUTH_CONTAINMENT": "wlsxClientDeauthContainment trap",
                          "WLSX_CLIENT_FLOOD_ATTACK": "wlsxClientFloodAttack trap",
                          "WLSX_CLIENT_TAGGED_WIRED_CONTAINMENT": "wlsxClientTaggedWiredContainment trap",
                          "WLSX_CLIENT_WIRED_CONTAINMENT": "wlsxClientWiredContainment trap",
                          "WLSX_CLUSTER_VLAN_PROBE_STATUS": "wlsxClusterVlanProbeStatus trap",
                          "WLSX_COLD_START": "wlsxColdStart trap",
                          "WLSX_CONFIGURATION_LICENSE_MISMATCH": "wlsxConfigurationLicenseMismatch trap",
                          "WLSX_CONFIGURATION_UPDATE_ERROR": "wlsxConfigurationUpdateError trap",
                          "WLSX_CONFIGURATION_UPDATE_SUCCEEDED": "wlsxConfigurationUpdateSucceeded trap",
                          "WLSX_COVERAGE_HOLE_DETECTED": "wlsxCoverageHoleDetected trap",
                          "WLSX_COVERAGE_HOLE_RESOLVED": "wlsxCoverageHoleResolved trap",
                          "WLSX_CRL_EXPIRED": "wlsxCRLExpired trap",
                          "WLSX_CTS_RATE_ANOMALY": "wlsxCTSRateAnomaly trap",
                          "WLSX_CTS_TRANSFER_ERROR": "wlsxCTSTransferError trap",
                          "WLSX_CTS_TRANSFER_SUCCEEDED": "wlsxCTSTransferSucceeded trap",
                          "WLSX_DB_COMMUNICATION_FAILURE": "wlsxDBCommunicationFailure trap",
                          "WLSX_DISCONNECT_STATION_ATTACK": "wlsxDisconnectStationAttack trap",
                          "WLSX_DISCONNECT_STATION_ATTACK_AP": "wlsxDisconnectStationAttackAP trap",
                          "WLSX_DISCONNECT_STATION_ATTACK_STA": "wlsxDisconnectStationAttackSta trap",
                          "WLSX_DOT1X_THRESHOLD_LIMIT_HIT": "wlsxDot1xThresholdLimitHit trap",
                          "WLSX_DOT1X_TOTAL_LIMIT_HIT": "wlsxDot1xTotalLimitHit trap",
                          "WLSX_EAP_RATE_ANOMALY": "wlsxEAPRateAnomaly trap",
                          "WLSX_ENHANCED_ADHOC_CONTAINMENT": "wlsxEnhancedAdhocContainment trap",
                          "WLSX_ESI_SERVER_CHANGED": "wlsxEsiServerChanged trap",
                          "WLSX_ESI_SERVER_DOWN": "wlsxESIServerDown trap",
                          "WLSX_ESI_SERVER_UP": "wlsxESIServerUp trap",
                          "WLSX_FAN_ABSENT": "wlsxFanAbsent trap",
                          "WLSX_FAN_FAILURE": "wlsxFanFailure trap",
                          "WLSX_FAN_OK": "wlsxFanOK trap",
                          "WLSX_FAN_TRAY_INSERTED": "wlsxFanTrayInserted trap",
                          "WLSX_FAN_TRAY_INSERTED_TRAP": "wlsxFanTrayInsertedTrap trap",
                          "WLSX_FAN_TRAY_REMOVED": "wlsxFanTrayRemoved trap",
                          "WLSX_FAN_TRAY_REMOVED_TRAP": "wlsxFanTrayRemovedTrap trap",
                          "WLSX_FATA_JACK_ATTACK": "wlsxFataJackAttack trap",
                          "WLSX_FLASH1_SPACE_OK": "wlsxFlash1SpaceOK trap",
                          "WLSX_FLASH_SPACE_OK": "wlsxFlashSpaceOK trap",
                          "WLSX_FRAME_BAND_WIDTH_RATE_EXCEEDED": "wlsxFrameBandWidthRateExceeded trap",
                          "WLSX_FRAME_FRAGMENTATION_RATE_EXCEEDED": "wlsxFrameFragmentationRateExceeded trap",
                          "WLSX_FRAME_LOW_SPEED_RATE_EXCEEDED": "wlsxFrameLowSpeedRateExceeded trap",
                          "WLSX_FRAME_NON_UNICAST_RATE_EXCEEDED": "wlsxFrameNonUnicastRateExceeded trap",
                          "WLSX_FRAME_RECEIVE_ERROR_RATE_EXCEEDED": "wlsxFrameReceiveErrorRateExceeded trap",
                          "WLSX_FRAME_RETRY_RATE_EXCEEDED": "wlsxFrameRetryRateExceeded trap",
                          "WLSX_GBIC_INSERTED": "wlsxGBICInserted trap",
                          "WLSX_GHOST_TUNNELCLIENT_ATTACK": "wlsxGhostTunnelclientAttack trap",
                          "WLSX_GHOST_TUNNELSERVER_ATTACK": "wlsxGhostTunnelserverAttack trap",
                          "WLSX_GLOBAL_CONFIGURATION_CHANGE_NOTIFICATION": "wlsxGlobalConfigurationChangeNotification trap",
                          "WLSX_HA_FAILOVER_REQUEST_FROM_AP": "wlsxHaFailoverRequestFromAp trap",
                          "WLSX_HA_FAILOVER_TRIGGER": "wlsxHaFailoverTrigger trap",
                          "WLSX_HA_INTERCONTROLLER_HBT_MISS": "wlsxHaIntercontrollerHbtMiss trap",
                          "WLSX_HA_STANDBY_CONNECTIVITY_STATE": "wlsxHaStandbyConnectivityState trap",
                          "WLSX_HA_STANDBY_IP_SENT_FAILED": "wlsxHaStandbyIpSentFailed trap",
                          "WLSX_HA_STATE": "wlsxHaState trap",
                          "WLSX_HOST_OF_WIRELESS_NETWORK_CONTAINMENT": "wlsxHostOfWirelessNetworkContainment trap",
                          "WLSX_HOTSPOTTER_ATTACK_DETECTED": "wlsxHotspotterAttackDetected trap",
                          "WLSX_HT40_MHZ_INTOLERANCE_AP": "wlsxHT40MHzIntoleranceAP trap",
                          "WLSX_HT40_MHZ_INTOLERANCE_STA": "wlsxHT40MHzIntoleranceSta trap",
                          "WLSX_HT_GREENFIELD_SUPPORTED": "wlsxHtGreenfieldSupported trap",
                          "WLSX_IAP_VOICE_CLIENT_LOCATION_UPDATE": "wlsxIAPVoiceClientLocationUpdate trap",
                          "WLSX_IF_STATE_CHANGE_TRAP": "wlsxIfStateChangeTrap trap",
                          "WLSX_INFORM_QUEUE_OVER_FLOW": "wlsxInformQueueOverFlow trap",
                          "WLSX_INTERFERING_AP_DETECTED": "wlsxInterferingApDetected trap",
                          "WLSX_INVALID_ADDRESS_COMBINATION": "wlsxInvalidAddressCombination trap",
                          "WLSX_INVALID_CC_DETECTED": "WlsxInvalidCCDetected trap",
                          "WLSX_INVALID_MAC_OUI_AP": "wlsxInvalidMacOUIAP trap",
                          "WLSX_INVALID_MAC_OUI_STA": "wlsxInvalidMacOUISta trap",
                          "WLSX_IN_RANGE_VOLTAGE": "wlsxInRangeVoltage trap",
                          "WLSX_IP_SPOOFING_DETECTED": "wlsxIpSpoofingDetected trap",
                          "WLSX_LC_INSERTED": "wlsxLCInserted trap",
                          "WLSX_LC_REMOVED": "wlsxLCRemoved trap",
                          "WLSX_LICENSE_CLIENT_EXPIRY": "wlsxLicenseClientExpiry trap",
                          "WLSX_LICENSE_ENTRY_CHANGED": "wlsxLicenseEntryChanged trap",
                          "WLSX_LICENSE_EXPIRY": "wlsxLicenseExpiry trap",
                          "WLSX_LICENSE_PLATFORM_MISMATCH": "wlsxLicensePlatformMismatch trap",
                          "WLSX_LICENSE_SERVER_EXPIRY": "wlsxLicenseServerExpiry trap",
                          "WLSX_LICENSE_THRESHOLD_LIMIT_HIT": "wlsxLicenseThresholdLimitHit trap",
                          "WLSX_LOADBALANCING_DISABLED": "wlsxLoadbalancingDisabled trap",
                          "WLSX_LOADBALANCING_ENABLED": "wlsxLoadbalancingEnabled trap",
                          "WLSX_LOW_MEMORY": "wlsxLowMemory trap",
                          "WLSX_LOW_ON_FLASH1_SPACE": "wlsxLowOnFlash1Space trap",
                          "WLSX_LOW_ON_FLASH_SPACE": "wlsxLowOnFlashSpace trap",
                          "WLSX_MALFORMED_ASSOC_REQ_DETECTED": "wlsxMalformedAssocReqDetected trap",
                          "WLSX_MALFORMED_AUTH_FRAME": "wlsxMalformedAuthFrame trap",
                          "WLSX_MALFORMED_FRAME_LARGE_DURATION_DETECTED": "wlsxMalformedFrameLargeDurationDetected trap",
                          "WLSX_MALFORMED_FRAME_WRONG_CHANNEL_DETECTED": "wlsxMalformedFrameWrongChannelDetected trap",
                          "WLSX_MALFORMED_HTIE_DETECTED": "wlsxMalformedHTIEDetected trap",
                          "WLSX_MEMORY_USAGE_OK": "wlsxMemoryUsageOK trap",
                          "WLSX_MESH_NODE_ENTRY_CHANGED": "wlsxMeshNodeEntryChanged trap",
                          "WLSX_MGMT_USER_AUTHENTICATION_FAILED": "wlsxMgmtUserAuthenticationFailed trap",
                          "WLSX_MITM_DETECTED": "wlsxMitMDetected trap",
                          "WLSX_MON_AP_ENTRY_CHANGED": "wlsxMonAPEntryChanged trap",
                          "WLSX_MON_STATION_ENTRY_CHANGED": "wlsxMonStationEntryChanged trap",
                          "WLSX_NDB_COMMUNICATION_FAILURE": "wlsxNDBCommunicationFailure trap",
                          "WLSX_NEIGHBOR_AP_DETECTED": "wlsxNeighborAPDetected trap",
                          "WLSX_NODE_RATE_ANOMALY": "wlsxNodeRateAnomaly trap",
                          "WLSX_NODE_RATE_ANOMALY_AP": "wlsxNodeRateAnomalyAP trap",
                          "WLSX_NODE_RATE_ANOMALY_STA": "wlsxNodeRateAnomalySta trap",
                          "WLSX_NORMAL_TEMPERATURE": "wlsxNormalTemperature trap",
                          "WLSX_NUM_CLOCK_SYNC_ERRORS": "wlsxNumClockSyncErrors trap",
                          "WLSX_NUM_COLD_START": "wlsxNumColdStart trap",
                          "WLSX_NUM_WARM_START": "wlsxNumWarmStart trap",
                          "WLSX_N_ACCESS_POINT_IS_DOWN": "wlsxNAccessPointIsDown trap",
                          "WLSX_N_ACCESS_POINT_IS_UP": "wlsxNAccessPointIsUp trap",
                          "WLSX_N_ACE_USAGE_THRESHOLD": "wlsxNAceUsageThreshold trap",
                          "WLSX_N_ADHOC_NETWORK": "wlsxNAdhocNetwork trap",
                          "WLSX_N_ADHOC_NETWORK_BRIDGE_DETECTED_AP": "wlsxNAdhocNetworkBridgeDetectedAP trap",
                          "WLSX_N_ADHOC_NETWORK_BRIDGE_DETECTED_STA": "wlsxNAdhocNetworkBridgeDetectedSta trap",
                          "WLSX_N_ADHOC_USING_VALID_SSID": "wlsxNAdhocUsingValidSSID trap",
                          "WLSX_N_ADHOC_USING_VALID_SSID_CONTAINMENT": "wlsxNAdhocUsingValidSSIDContainment trap",
                          "WLSX_N_AP_CONDUCTOR_STATUS_CHANGE": "wlsxNAPConductorStatusChange trap",
                          "WLSX_N_AP_ON_BACKUP_CONTROLLER": "wlsxNApOnBackupController trap",
                          "WLSX_N_AUTH_MAX_ACL_ENTRIES": "wlsxNAuthMaxAclEntries trap",
                          "WLSX_N_AUTH_MAX_BW_CONTRACTS": "wlsxNAuthMaxBWContracts trap",
                          "WLSX_N_AUTH_MAX_USER_ENTRIES": "wlsxNAuthMaxUserEntries trap",
                          "WLSX_N_AUTH_MAX_XSEC_USER_ENTRIES": "wlsxNAuthMaxXsecUserEntries trap",
                          "WLSX_N_AUTH_SERVER_ACCT_TIMED_OUT": "wlsxNAuthServerAcctTimedOut trap",
                          "WLSX_N_AUTH_SERVER_ALL_IN_SERVICE": "wlsxNAuthServerAllInService trap",
                          "WLSX_N_AUTH_SERVER_IS_DOWN": "wlsxNAuthServerIsDown trap",
                          "WLSX_N_AUTH_SERVER_IS_UP": "wlsxNAuthServerIsUp trap",
                          "WLSX_N_AUTH_SERVER_REQ_TIMED_OUT": "wlsxNAuthServerReqTimedOut trap",
                          "WLSX_N_AUTH_SERVER_TIMED_OUT": "wlsxNAuthServerTimedOut trap",
                          "WLSX_N_CHANNEL_CHANGED": "wlsxNChannelChanged trap",
                          "WLSX_N_COVERAGE_HOLE_DETECTED": "wlsxNCoverageHoleDetected trap",
                          "WLSX_N_DISCONNECT_STATION_ATTACK": "wlsxNDisconnectStationAttack trap",
                          "WLSX_N_DOT1X_THRESHOLD_LIMIT_HIT": "wlsxNDot1xThresholdLimitHit trap",
                          "WLSX_N_DOT1X_TOTAL_LIMIT_HIT": "wlsxNDot1xTotalLimitHit trap",
                          "WLSX_N_ESI_SERVER_DOWN": "wlsxNESIServerDown trap",
                          "WLSX_N_ESI_SERVER_UP": "wlsxNESIServerUp trap",
                          "WLSX_N_FAN_ABSENT": "wlsxNFanAbsent trap",
                          "WLSX_N_FAN_FAILURE": "wlsxNFanFailure trap",
                          "WLSX_N_FAN_TRAY_INSERTED": "wlsxNFanTrayInserted trap",
                          "WLSX_N_FAN_TRAY_REMOVED": "wlsxNFanTrayRemoved trap",
                          "WLSX_N_GBIC_INSERTED": "wlsxNGBICInserted trap",
                          "WLSX_N_INTERFERING_AP_DETECTED": "wlsxNInterferingAPDetected trap",
                          "WLSX_N_IP_SPOOFING_DETECTED": "wlsxNIpSpoofingDetected trap",
                          "WLSX_N_LC_INSERTED": "wlsxNLCInserted trap",
                          "WLSX_N_LC_REMOVED": "wlsxNLCRemoved trap",
                          "WLSX_N_LICENSE_EXPIRY": "wlsxNLicenseExpiry trap",
                          "WLSX_N_LOW_MEMORY": "wlsxNLowMemory trap",
                          "WLSX_N_LOW_ON_FLASH1_SPACE": "wlsxNLowOnFlash1Space trap",
                          "WLSX_N_LOW_ON_FLASH_SPACE": "wlsxNLowOnFlashSpace trap",
                          "WLSX_N_OUT_OF_RANGE_TEMPERATURE": "wlsxNOutOfRangeTemperature trap",
                          "WLSX_N_OUT_OF_RANGE_VOLTAGE": "wlsxNOutOfRangeVoltage trap",
                          "WLSX_N_POWER_SUPPLY_FAILURE": "wlsxNPowerSupplyFailure trap",
                          "WLSX_N_POWER_SUPPLY_MISSING": "wlsxNPowerSupplyMissing trap",
                          "WLSX_N_PROCESS_DIED": "wlsxNProcessDied trap",
                          "WLSX_N_PROCESS_EXCEEDS_MEMORY_LIMITS": "wlsxNProcessExceedsMemoryLimits trap",
                          "WLSX_N_RADIO_ATTRIBUTES_CHANGED": "wlsxNRadioAttributesChanged trap",
                          "WLSX_N_RAP_EXPIRED_PSK": "wlsxNRapExpiredPSK trap",
                          "WLSX_N_RAP_WARN_EXPIRED_PSK": "wlsxNRapWarnExpiredPSK trap",
                          "WLSX_N_ROGUE_AP_DETECTED": "wlsxNRogueAPDetected trap",
                          "WLSX_N_ROGUE_AP_RESOLVED": "wlsxNRogueAPResolved trap",
                          "WLSX_N_SC_INSERTED": "wlsxNSCInserted trap",
                          "WLSX_N_SIGNATURE_MATCH": "wlsxNSignatureMatch trap",
                          "WLSX_N_SIGNATURE_MATCH_AIRJACK": "wlsxNSignatureMatchAirjack trap",
                          "WLSX_N_SIGNATURE_MATCH_ASLEAP": "wlsxNSignatureMatchAsleap trap",
                          "WLSX_N_SIGNATURE_MATCH_DEAUTH_BCAST": "wlsxNSignatureMatchDeauthBcast trap",
                          "WLSX_N_SIGNATURE_MATCH_DISASSOC_BCAST": "wlsxNSignatureMatchDisassocBcast trap",
                          "WLSX_N_SIGNATURE_MATCH_NETSTUMBLER": "wlsxNSignatureMatchNetstumbler trap",
                          "WLSX_N_SIGNATURE_MATCH_NULL_PROBE_RESP": "wlsxNSignatureMatchNullProbeResp trap",
                          "WLSX_N_SIGNATURE_MATCH_WELLENREITER": "wlsxNSignatureMatchWellenreiter trap",
                          "WLSX_N_STATION_ADDED_TO_DENY_LIST": "wlsxNStationAddedToDenyList trap",
                          "WLSX_N_STATION_REMOVED_FROM_DENY_LIST": "wlsxNStationRemovedFromDenyList trap",
                          "WLSX_N_STA_UN_ASSOCIATED_FROM_UNSECURE_AP": "wlsxNStaUnAssociatedFromUnsecureAP trap",
                          "WLSX_N_SUSPECT_ROGUE_AP_DETECTED": "wlsxNSuspectRogueAPDetected trap",
                          "WLSX_N_SUSPECT_ROGUE_AP_RESOLVED": "wlsxNSuspectRogueAPResolved trap",
                          "WLSX_N_SWITCH_IPV6_CHANGED": "wlsxNSwitchIPv6Changed trap",
                          "WLSX_N_SWITCH_IP_CHANGED": "wlsxNSwitchIPChanged trap",
                          "WLSX_N_SWITCH_ROLE_CHANGE": "wlsxNSwitchRoleChange trap",
                          "WLSX_N_USER_AUTHENTICATION_FAILED": "wlsxNUserAuthenticationFailed trap",
                          "WLSX_N_USER_ENTRY_AUTHENTICATED": "wlsxNUserEntryAuthenticated trap",
                          "WLSX_N_USER_ENTRY_CREATED": "wlsxNUserEntryCreated trap",
                          "WLSX_N_USER_ENTRY_DELETED": "wlsxNUserEntryDeleted trap",
                          "WLSX_N_USER_ENTRY_DE_AUTHENTICATED": "wlsxNUserEntryDeAuthenticated trap",
                          "WLSX_N_VPN_MAX_SESSIONS": "wlsxNVpnMaxSessions trap",
                          "WLSX_N_VRRP_STATE_CHANGE": "wlsxNVrrpStateChange trap",
                          "WLSX_N_WEB_CC_LICENSE_ENFORCEMENT": "wlsxNWebCCLicenseEnforcement trap",
                          "WLSX_OMERTA_ATTACK": "wlsxOmertaAttack trap",
                          "WLSX_OUI_MISCONFIGURATION": "wlsxOUIMisconfiguration trap",
                          "WLSX_OUT_OF_RANGE_TEMPERATURE": "wlsxOutOfRangeTemperature trap",
                          "WLSX_OUT_OF_RANGE_VOLTAGE": "wlsxOutOfRangeVoltage trap",
                          "WLSX_OVERFLOW_EAPOL_KEY_DETECTED": "wlsxOverflowEAPOLKeyDetected trap",
                          "WLSX_OVERFLOW_IE_DETECTED": "wlsxOverflowIEDetected trap",
                          "WLSX_PEER_ASSOCIATED_TO_WIFI_DIRECT_GO": "wlsxPeerAssociatedToWifiDirectGo trap",
                          "WLSX_PEER_ASSOCIATED_TO_WIFI_DIRECT_GO_CONTAINMENT": "wlsxPeerAssociatedToWifiDirectGoContainment trap",
                          "WLSX_PHONY_BSSID_DETECTED": "wlsxPhonyBSSIDDetected trap",
                          "WLSX_PORTAL_SERVER_DOWN": "wlsxPortalServerDown trap",
                          "WLSX_PORTAL_SERVER_UP": "wlsxPortalServerUp trap",
                          "WLSX_PORT_DOWN": "wlsxPortDown trap",
                          "WLSX_PORT_ENTRY_CHANGED": "wlsxPortEntryChanged trap",
                          "WLSX_PORT_UP": "wlsxPortUp trap",
                          "WLSX_POWER_SAVE_DOS_ATTACK": "wlsxPowerSaveDosAttack trap",
                          "WLSX_POWER_SUPPLY_FAILURE": "wlsxPowerSupplyFailure trap",
                          "WLSX_POWER_SUPPLY_FAILURE_TRAP": "wlsxPowerSupplyFailureTrap trap",
                          "WLSX_POWER_SUPPLY_MISSING": "wlsxPowerSupplyMissing trap",
                          "WLSX_POWER_SUPPLY_MISSING_TRAP": "wlsxPowerSupplyMissingTrap trap",
                          "WLSX_POWER_SUPPLY_OK": "wlsxPowerSupplyOK trap",
                          "WLSX_POWER_SUPPLY_OK_TRAP": "wlsxPowerSupplyOKTrap trap",
                          "WLSX_PROCESS_DIED": "wlsxProcessDied trap",
                          "WLSX_PROCESS_EXCEEDS_MEMORY_LIMITS": "wlsxProcessExceedsMemoryLimits trap",
                          "WLSX_PROCESS_RESTART": "wlsxProcessRestart trap",
                          "WLSX_RAP_ACTIVE_UPLINK_STATUS": "wlsxRAPActiveUplinkStatus trap",
                          "WLSX_REPEAT_WEP_IV_VIOLATION": "wlsxRepeatWEPIVViolation trap",
                          "WLSX_RESERVED_CHANNEL_VIOLATION": "wlsxReservedChannelViolation trap",
                          "WLSX_RTS_RATE_ANOMALY": "wlsxRTSRateAnomaly trap",
                          "WLSX_SC_INSERTED": "wlsxSCInserted trap",
                          "WLSX_SC_REMOVED": "wlsxSCRemoved trap",
                          "WLSX_SEQUENCE_NUMBER_ANOMALY_AP": "wlsxSequenceNumberAnomalyAP trap",
                          "WLSX_SEQUENCE_NUMBER_ANOMALY_STA": "wlsxSequenceNumberAnomalySta trap",
                          "WLSX_SHORT_PREABLE_MISCONFIGURATION": "wlsxShortPreableMisconfiguration trap",
                          "WLSX_SIGNAL_ANOMALY": "wlsxSignalAnomaly trap",
                          "WLSX_SIGNATURE_MATCH": "wlsxSignatureMatch trap",
                          "WLSX_SIGNATURE_MATCH_AP": "wlsxSignatureMatchAP trap",
                          "WLSX_SIGNATURE_MATCH_STA": "wlsxSignatureMatchSta trap",
                          "WLSX_SIGN_AP_AIRJACK": "wlsxSignAPAirjack trap",
                          "WLSX_SIGN_AP_ASLEAP": "wlsxSignAPAsleap trap",
                          "WLSX_SIGN_AP_DEAUTH_BCAST": "wlsxSignAPDeauthBcast trap",
                          "WLSX_SIGN_AP_NETSTUMBLER": "wlsxSignAPNetstumbler trap",
                          "WLSX_SIGN_AP_NULL_PROBE_RESP": "wlsxSignAPNullProbeResp trap",
                          "WLSX_SIGN_STA_AIRJACK": "wlsxSignStaAirjack trap",
                          "WLSX_SIGN_STA_ASLEAP": "wlsxSignStaAsleap trap",
                          "WLSX_SIGN_STA_DEAUTH_BCAST": "wlsxSignStaDeauthBcast trap",
                          "WLSX_SIGN_STA_NETSTUMBLER": "wlsxSignStaNetstumbler trap",
                          "WLSX_SIGN_STA_NULL_PROBE_RESP": "wlsxSignStaNullProbeResp trap",
                          "WLSX_SSID_MISCONFIGURATION": "wlsxSSIDMisconfiguration trap",
                          "WLSX_STACK_IF_STATE_CHANGE_TRAP": "wlsxStackIfStateChangeTrap trap",
                          "WLSX_STACK_TOPOLOGY_CHANGE_TRAP": "wlsxStackTopologyChangeTrap trap",
                          "WLSX_STAPOLICY_VIOLATION": "wlsxStaPolicyViolation trap",
                          "WLSX_STA_ASSOCIATED_TO_UNSECURE_AP": "wlsxStaAssociatedToUnsecureAP trap",
                          "WLSX_STA_IMPERSONATION": "wlsxStaImpersonation trap",
                          "WLSX_STA_INTERFERENCE_CLEARED": "wlsxStaInterferenceCleared trap",
                          "WLSX_STA_INTERFERENCE_DETECTED": "wlsxStaInterferenceDetected trap",
                          "WLSX_STA_REPEAT_WEP_IV_VIOLATION": "wlsxStaRepeatWEPIVViolation trap",
                          "WLSX_STA_UN_ASSOCIATED_FROM_UNSECURE_AP": "wlsxStaUnAssociatedFromUnsecureAP trap",
                          "WLSX_STA_WEAK_WEP_IV_VIOLATION": "wlsxStaWeakWEPIVViolation trap",
                          "WLSX_SUSPECT_UNSECURE_AP_DETECTED": "wlsxSuspectUnsecureAPDetected trap",
                          "WLSX_SUSPECT_UNSECURE_AP_RESOLVED": "wlsxSuspectUnsecureAPResolved trap",
                          "WLSX_SWITCH_LIST_ENTRY_CHANGED": "wlsxSwitchListEntryChanged trap",
                          "WLSX_SWITCH_ROLE_CHANGE": "wlsxSwitchRoleChange trap",
                          "WLSX_TARPIT_CONTAINMENT": "wlsxTarpitContainment trap",
                          "WLSX_THERMAL_SHUTDOWN": "wlsxTHERMALSHUTDOWN trap",
                          "WLSX_THRESHOLD_CLEARED": "wlsxThresholdCleared trap",
                          "WLSX_THRESHOLD_EXCEEDED": "wlsxThresholdExceeded trap",
                          "WLSX_TKIP_REPLAY_ATTACK": "wlsxTKIPReplayAttack trap",
                          "WLSX_TUNNEL_DOWN": "wlsxTunnelDown trap",
                          "WLSX_TUNNEL_UP": "wlsxTunnelUp trap",
                          "WLSX_UNSECURE_AP_DETECTED": "wlsxUnsecureAPDetected trap",
                          "WLSX_UNSECURE_AP_RESOLVED": "wlsxUnsecureAPResolved trap",
                          "WLSX_USER_AUTHENTICATION_FAILED": "wlsxUserAuthenticationFailed trap",
                          "WLSX_USER_ENTRY_ATTRIBUTES_CHANGED": "wlsxUserEntryAttributesChanged trap",
                          "WLSX_USER_ENTRY_AUTHENTICATED": "wlsxUserEntryAuthenticated trap",
                          "WLSX_USER_ENTRY_CHANGED": "wlsxUserEntryChanged trap",
                          "WLSX_USER_ENTRY_CREATED": "wlsxUserEntryCreated trap",
                          "WLSX_USER_ENTRY_DELETED": "wlsxUserEntryDeleted trap",
                          "WLSX_USER_ENTRY_DE_AUTHENTICATED": "wlsxUserEntryDeAuthenticated trap",
                          "WLSX_VALID_CLIENT_MISASSOCIATION": "wlsxValidClientMisassociation trap",
                          "WLSX_VALID_CLIENT_NOT_USING_ENCRYPTION": "wlsxValidClientNotUsingEncryption trap",
                          "WLSX_VALID_SSID_VIOLATION": "wlsxValidSSIDViolation trap",
                          "WLSX_VLAN_ENTRY_CHANGED": "wlsxVlanEntryChanged trap",
                          "WLSX_VLAN_INTERFACE_ENTRY_CHANGED": "wlsxVlanInterfaceEntryChanged trap",
                          "WLSX_VLAN_LINK_DOWN": "wlsxVlanLinkDown trap",
                          "WLSX_VLAN_LINK_UP": "wlsxVlanLinkUp trap",
                          "WLSX_VOICE_CDR_BUFFER_THRESHOLD_REACHED": "wlsxVoiceCdrBufferThresholdReached trap",
                          "WLSX_VOICE_CLIENT_LOCATION_UPDATE": "wlsxVoiceClientLocationUpdate trap",
                          "WLSX_WARM_START": "wlsxWarmStart trap",
                          "WLSX_WEAK_WEP_IV_VIOLATION": "wlsxWeakWEPIVViolation trap",
                          "WLSX_WEB_CC_LICENSE_ENFORCEMENT": "wlsxWebCCLicenseEnforcement trap",
                          "WLSX_WEP_MISCONFIGURATION": "wlsxWEPMisconfiguration trap",
                          "WLSX_WINDOWS_BRIDGE_DETECTED": "wlsxWindowsBridgeDetected trap",
                          "WLSX_WINDOWS_BRIDGE_DETECTED_AP": "wlsxWindowsBridgeDetectedAP trap",
                          "WLSX_WINDOWS_BRIDGE_DETECTED_STA": "wlsxWindowsBridgeDetectedSta trap",
                          "WLSX_WIRELESS_BRIDGE": "wlsxWirelessBridge trap",
                          "WLSX_WIRELESS_HOSTED_NETWORK_CONTAINMENT": "wlsxWirelessHostedNetworkContainment trap",
                          "WLSX_WIRELESS_HOSTED_NETWORK_DETECTED": "wlsxWirelessHostedNetworkDetected trap",
                          "WLSX_WMS_OFFLOAD_RECOMMENDED": "wlsxWMSOffloadRecommended trap",
                          "WLSX_WPA_FT_ATTACK": "wlsxWPAFTAttack trap",
                          "WLSX_WPA_MISCONFIGURATION": "wlsxWPAMisconfiguration trap"
                        },
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Gateway",
                          "Switch PVOS"
                        ],
                        "x-typeDescription": "Supported traps"
                      },
                      "ipv6-lockdown-out-of-resources": {
                        "description": "Trap for Dynamic IPv6 Lockdown out of resources.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "ipv6-lockdown-violations": {
                        "description": "Trap for Dynamic IPv6 Lockdown violations.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "mac-move": {
                        "description": "Trap for move MAC address table changes.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "macsec-failures": {
                        "description": "Trap for MACsec Connectivity Association (CA) failure trap.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "ndsnooping-out-of-resources": {
                        "description": "Trap for ND Snooping out of resources.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "poe-threshold": {
                        "default": "80",
                        "description": "Excess power consumption trap threshold.",
                        "format": "int64",
                        "maximum": 99,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "port-list": {
                        "description": "A list of ports.",
                        "items": {
                          "description": "A list of ports.",
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
                          "x-patternSources": "name",
                          "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                          "x-supportedDeviceType": [
                            "Switch PVOS"
                          ]
                        },
                        "maxItems": 2147483647,
                        "type": "array"
                      },
                      "runn-config-interval": {
                        "default": "0",
                        "description": "Time interval that is allowed between the transmission of two\nconsecutive running config change traps.",
                        "format": "int64",
                        "maximum": 2147483647,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "snmp-auth-extended": {
                        "description": "Trap for Extended Authentication failures.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "snmp-auth-standard": {
                        "description": "Trap for Standard Authentication failures.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "snmp-server-trap": {
                        "description": "SNMP trap.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "trap-interval": {
                        "description": "The interval in seconds between sending notifications",
                        "format": "int64",
                        "maximum": 120,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "vrf": {
                        "description": "The VRF associated with this context.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                        "x-patternSources": "name-type",
                        "x-patterns": "'([^\\\\/ ]+)'",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ],
                        "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "id"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "trap-group": {
                  "description": "To define trap-groups.",
                  "items": {
                    "properties": {
                      "group": {
                        "description": "SNMP trap group name",
                        "format": "const",
                        "maxLength": 255,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      },
                      "trap": {
                        "description": "SNMP traps present in trap-group.",
                        "items": {
                          "description": "SNMP traps present in trap-group.",
                          "enum": [
                            "AUTHENTICATION_FAILURE",
                            "COLD_START",
                            "LINK_DOWN",
                            "LINK_UP",
                            "WARM_START",
                            "WLSX_AP_ACTIVE_UPLINK_CHANGED",
                            "WLSX_AP_BROADCAST_STORM",
                            "WLSX_AP_BSSID_ENTRY_CHANGED",
                            "WLSX_AP_CHANNEL_CHANGE",
                            "WLSX_AP_DEAUTH_CONTAINMENT",
                            "WLSX_AP_DOWN",
                            "WLSX_AP_ENTRY_CHANGED",
                            "WLSX_AP_IP_CONFLICT",
                            "WLSX_AP_IMPERSONATION",
                            "WLSX_AP_INTERFERENCE_CLEARED",
                            "WLSX_AP_INTERFERENCE_DETECTED",
                            "WLSX_AP_LOOP_DETECTED",
                            "WLSX_AP_MANAGED_MODE_CONFIG_FAILURE_TRAP",
                            "WLSX_AP_MODE_CHANGE",
                            "WLSX_AP_NUM_COLD_STARTS",
                            "WLSX_AP_NUM_DOWN",
                            "WLSX_AP_NUM_RADIO_DOWN",
                            "WLSX_AP_NUM_UPGRADE_FAILURE",
                            "WLSX_AP_NUM_WARM_STARTS",
                            "WLSX_AP_PORT_DOWN",
                            "WLSX_AP_PORT_UP",
                            "WLSX_AP_POWER_CHANGE",
                            "WLSX_AP_RADIO_ATTRIBUTES_CHANGED",
                            "WLSX_AP_RADIO_ENTRY_CHANGED",
                            "WLSX_AP_SPOOFING_DETECTED",
                            "WLSX_AP_TAGGED_WIRED_CONTAINMENT",
                            "WLSX_AP_USB_PLUG_ALARM",
                            "WLSX_AP_UP",
                            "WLSX_AP_WIRED_CONTAINMENT",
                            "WLSX_ACE_USAGE_THRESHOLD",
                            "WLSX_ADHOC_NETWORK",
                            "WLSX_ADHOC_NETWORK_BRIDGE_DETECTED",
                            "WLSX_ADHOC_NETWORK_BRIDGE_DETECTED_AP",
                            "WLSX_ADHOC_NETWORK_BRIDGE_DETECTED_STA",
                            "WLSX_ADHOC_NETWORK_DETECTED",
                            "WLSX_ADHOC_NETWORK_REMOVED",
                            "WLSX_ADHOC_USING_VALID_SSID",
                            "WLSX_PHONY_BSSID_DETECTED",
                            "WLSX_AP_FLOOD_ATTACK",
                            "WLSX_AUTH_MAX_ACL_ENTRIES",
                            "WLSX_AUTH_MAX_B_W_CONTRACTS",
                            "WLSX_AUTH_MAX_USER_ENTRIES",
                            "WLSX_AUTH_SERVER_ACCT_TIMED_OUT",
                            "WLSX_AUTH_SERVER_IS_UP",
                            "WLSX_AUTH_SERVER_REQ_TIMED_OUT",
                            "WLSX_AUTH_SERVER_TIMED_OUT",
                            "WLSX_BSSID_IS_DOWN",
                            "WLSX_BSSID_IS_UP",
                            "WLSX_BLOCK_ACK_ATTACK_DETECTED",
                            "WLSX_CLEAR_PASS_SERVER_INVALID",
                            "WLSX_CRL_EXPIRED",
                            "WLSX_CTS_RATE_ANOMALY",
                            "WLSX_CTS_TRANSFER_ERROR",
                            "WLSX_CTS_TRANSFER_SUCCEEDED",
                            "WLSX_CERT_EXPIRED",
                            "WLSX_CERT_EXPIRING_SOON",
                            "WLSX_CHANNEL_CHANGED",
                            "WLSX_CHANNEL_FRAME_ERROR_RATE_EXCEEDED",
                            "WLSX_CHANNEL_FRAME_FRAGMENTATION_RATE_EXCEEDED",
                            "WLSX_CHANNEL_FRAME_RETRY_RATE_EXCEEDED",
                            "WLSX_CHANNEL_INTERFERENCE_CLEARED",
                            "WLSX_CHANNEL_INTERFERENCE_DETECTED",
                            "WLSX_CHANNEL_MISCONFIGURATION",
                            "WLSX_CHANNEL_RATE_ANOMALY",
                            "WLSX_CHOP_CHOP_ATTACK",
                            "WLSX_CLIENT_ASSOCIATED_TO_HOSTED_NETWORK",
                            "WLSX_CLIENT_ASSOCIATING_ON_WRONG_CHANNEL",
                            "WLSX_CLIENT_DEAUTH_CONTAINMENT",
                            "WLSX_CLIENT_FLOOD_ATTACK",
                            "WLSX_CLIENT_TAGGED_WIRED_CONTAINMENT",
                            "WLSX_CLIENT_WIRED_CONTAINMENT",
                            "WLSX_CLUSTER_VLAN_PROBE_STATUS",
                            "WLSX_COLD_START",
                            "WLSX_CONFIGURATION_LICENSE_MISMATCH",
                            "WLSX_CONFIGURATION_UPDATE_ERROR",
                            "WLSX_CONFIGURATION_UPDATE_SUCCEEDED",
                            "WLSX_COVERAGE_HOLE_DETECTED",
                            "WLSX_COVERAGE_HOLE_RESOLVED",
                            "WLSX_DB_COMMUNICATION_FAILURE",
                            "WLSX_DISCONNECT_STATION_ATTACK",
                            "WLSX_DISCONNECT_STATION_ATTACK_AP",
                            "WLSX_DISCONNECT_STATION_ATTACK_STA",
                            "WLSX_DOT1X_THRESHOLD_LIMIT_HIT",
                            "WLSX_DOT1X_TOTAL_LIMIT_HIT",
                            "WLSX_EAP_RATE_ANOMALY",
                            "WLSX_ESI_SERVER_DOWN",
                            "WLSX_ESI_SERVER_UP",
                            "WLSX_ENHANCED_ADHOC_CONTAINMENT",
                            "WLSX_ESI_SERVER_CHANGED",
                            "WLSX_FAN_ABSENT",
                            "WLSX_FAN_FAILURE",
                            "WLSX_FAN_OK",
                            "WLSX_FAN_TRAY_INSERTED",
                            "WLSX_FAN_TRAY_INSERTED_TRAP",
                            "WLSX_FAN_TRAY_REMOVED",
                            "WLSX_FAN_TRAY_REMOVED_TRAP",
                            "WLSX_FATA_JACK_ATTACK",
                            "WLSX_FLASH_SPACE_OK",
                            "WLSX_FLASH1_SPACE_OK",
                            "WLSX_FRAME_BAND_WIDTH_RATE_EXCEEDED",
                            "WLSX_FRAME_FRAGMENTATION_RATE_EXCEEDED",
                            "WLSX_FRAME_LOW_SPEED_RATE_EXCEEDED",
                            "WLSX_FRAME_NON_UNICAST_RATE_EXCEEDED",
                            "WLSX_FRAME_RECEIVE_ERROR_RATE_EXCEEDED",
                            "WLSX_FRAME_RETRY_RATE_EXCEEDED",
                            "WLSX_GBIC_INSERTED",
                            "WLSX_GLOBAL_CONFIGURATION_CHANGE_NOTIFICATION",
                            "WLSX_HT40_MHZ_INTOLERANCE_AP",
                            "WLSX_HT40_MHZ_INTOLERANCE_STA",
                            "WLSX_HA_FAILOVER_REQUEST_FROM_AP",
                            "WLSX_HA_FAILOVER_TRIGGER",
                            "WLSX_HA_INTERCONTROLLER_HBT_MISS",
                            "WLSX_HA_STANDBY_CONNECTIVITY_STATE",
                            "WLSX_HA_STANDBY_IP_SENT_FAILED",
                            "WLSX_HA_STATE",
                            "WLSX_HOST_OF_WIRELESS_NETWORK_CONTAINMENT",
                            "WLSX_HOTSPOTTER_ATTACK_DETECTED",
                            "WLSX_HT_GREENFIELD_SUPPORTED",
                            "WLSX_IAP_VOICE_CLIENT_LOCATION_UPDATE",
                            "WLSX_IF_STATE_CHANGE_TRAP",
                            "WLSX_IN_RANGE_VOLTAGE",
                            "WLSX_INFORM_QUEUE_OVER_FLOW",
                            "WLSX_INTERFERING_AP_DETECTED",
                            "WLSX_INVALID_ADDRESS_COMBINATION",
                            "WLSX_INVALID_MAC_OUI_AP",
                            "WLSX_INVALID_MAC_OUI_STA",
                            "WLSX_IP_SPOOFING_DETECTED",
                            "WLSX_LC_INSERTED",
[...]
