{
  "openapi": "3.1.0",
  "info": {
    "title": "Snmp",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Snmp"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/snmp": {
      "get": {
        "description": "Profile for SNMP configuration.\nSNMP user-table, trap receivers, community strings,\nnotify groups, targets, etc. can be configured.\nBoth Informs and Traps are supported.\nHandles configuration for SNMP v1, v2c, v3 versions.",
        "operationId": "readSnmp",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaSnmp_SnmpSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured SNMP profiles",
        "tags": [
          "Snmp"
        ],
        "x-cliParam": {
          "commandName": "readSnmpCmd",
          "commandUse": "snmp",
          "parentCommand": "readCmd",
          "pathToPrint": "/snmp/",
          "summary": "Read operation for snmp"
        }
      }
    },
    "/network-config/v1alpha1/snmp/{name}": {
      "get": {
        "description": "SNMP profile to configure SNMP parameters.",
        "operationId": "readSnmpProfileByID",
        "parameters": [
          {
            "description": "SNMP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaSnmp_SnmpprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing SNMP profile configurations",
        "tags": [
          "Snmp"
        ],
        "x-cliParam": {
          "commandName": "readSnmpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readSnmpCmd",
          "pathToPrint": "/snmp/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "SNMP profile to configure SNMP parameters.",
        "operationId": "replaceSnmpProfileByID",
        "parameters": [
          {
            "description": "SNMP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSnmp_SnmpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update SNMP existing profile configurations",
        "tags": [
          "Snmp"
        ],
        "x-cliParam": {
          "commandName": "replaceSnmpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceSnmpCmd",
          "pathToPrint": "/snmp/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "SNMP profile to configure SNMP parameters.",
        "operationId": "createSnmpProfileByID",
        "parameters": [
          {
            "description": "SNMP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSnmp_SnmpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new SNMP profile by unique profile name",
        "tags": [
          "Snmp"
        ],
        "x-cliParam": {
          "commandName": "createSnmpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createSnmpCmd",
          "pathToPrint": "/snmp/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "SNMP profile to configure SNMP parameters.",
        "operationId": "deleteSnmpProfileByID",
        "parameters": [
          {
            "description": "SNMP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the SNMP profile",
        "tags": [
          "Snmp"
        ],
        "x-cliParam": {
          "commandName": "deleteSnmpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteSnmpCmd",
          "pathToPrint": "/snmp/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "SNMP profile to configure SNMP parameters.",
        "operationId": "updateSnmpProfileByID",
        "parameters": [
          {
            "description": "SNMP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSnmp_SnmpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing SNMP profile configurations",
        "tags": [
          "Snmp"
        ],
        "x-cliParam": {
          "commandName": "updateSnmpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateSnmpCmd",
          "pathToPrint": "/snmp/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaSnmp_InterfaceGroup": {
        "description": "SNMP trap and response source interface",
        "properties": {
          "ethernet-interface": {
            "description": "trap/response source ethernet interfaces (Ex. '1/1/1').",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag-interface": {
            "description": "trap/response source lag interfaces (Ex. 'lag10').",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-interface": {
            "description": "trap/response source loopback interfaces (Ex. 'loopback1').",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "source-ipv4": {
            "description": "trap/response source IPv4 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "source-ipv6": {
            "description": "trap/response source IPv6 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "vlan-interface": {
            "description": "trap/response source vlan interfaces (Ex. 'vlan10').",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          }
        }
      },
      "ArubaSnmp_InterfaceGroupGet": {
        "description": "SNMP trap and response source interface",
        "properties": {
          "ethernet-interface": {
            "description": "trap/response source ethernet interfaces (Ex. '1/1/1').",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag-interface": {
            "description": "trap/response source lag interfaces (Ex. 'lag10').",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-interface": {
            "description": "trap/response source loopback interfaces (Ex. 'loopback1').",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "source-ipv4": {
            "description": "trap/response source IPv4 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "source-ipv6": {
            "description": "trap/response source IPv6 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "vlan-interface": {
            "description": "trap/response source vlan interfaces (Ex. 'vlan10').",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          }
        }
      },
      "ArubaSnmp_NotifyGroup": {
        "description": "SNMPv3 notify parameters.",
        "properties": {
          "group": {
            "description": "SNMPv3 User to Group entry.",
            "items": {
              "properties": {
                "group-name-user": {
                  "description": "Key combination of group-name and user separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                },
                "snmp-version": {
                  "description": "SNMPv3 version associated with this group.",
                  "enum": [
                    "V1",
                    "V2C",
                    "V3"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "V1": "SNMP version 1.",
                    "V2C": "SNMP version 2c.",
                    "V3": "SNMP version 3."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "SNMP versions supported."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "groupNameUser"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ieee8021mib": {
            "description": "SNMP access restrictions for the ieee8021mib MIB",
            "enum": [
              "ALLOW",
              "BLOCK"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALLOW": "Allow the unsecured access to this MIB.",
              "BLOCK": "Block the unsecured access to this MIB."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "SNMP MIB access type."
          },
          "macsecmib": {
            "description": "SNMP access restrictions for the hpicfMACsec MIB",
            "enum": [
              "ALLOW",
              "BLOCK"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALLOW": "Allow the unsecured access to this MIB.",
              "BLOCK": "Block the unsecured access to this MIB."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "SNMP MIB access type."
          },
          "notify-group": {
            "description": "List of SNMPv3 notify groups.",
            "items": {
              "properties": {
                "notify": {
                  "description": "Notification type",
                  "enum": [
                    "TRAP",
                    "INFORM"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "INFORM": "SNMPv3 notify type is inform.",
                    "TRAP": "SNMPv3 notify type is trap."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Notification type"
                },
                "notify-name": {
                  "description": "SNMPv3 notify name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "tag": {
                  "description": "SNMPv3 tag value.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "notifyName"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "param": {
            "description": "List of SNMPv3 params.",
            "items": {
              "properties": {
                "method": {
                  "description": "Level of validation required.",
                  "enum": [
                    "NO_AUTH_NO_PRIV",
                    "AUTH_NO_PRIV",
                    "AUTH_PRIV"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AUTH_NO_PRIV": "Authentication and no data encryption.",
                    "AUTH_PRIV": "Authentication and data encryption.",
                    "NO_AUTH_NO_PRIV": "No authentication and no data encryption."
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "SNMP authentication and data encryption security level."
                },
                "msg-processing": {
                  "description": "SNMPv3 message processing associated with this param.",
                  "enum": [
                    "V1",
                    "V2C",
                    "V3"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "V1": "SNMP version 1.",
                    "V2C": "SNMP version 2c.",
                    "V3": "SNMP version 3."
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "SNMP versions supported."
                },
                "param-name": {
                  "description": "SNMPv3 param name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "user": {
                  "description": "SNMPv3 user associated with this param.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "version": {
                  "description": "SNMPv3 version associated with this param.",
                  "enum": [
                    "V1",
                    "V2C",
                    "V3"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "V1": "SNMP version 1.",
                    "V2C": "SNMP version 2c.",
                    "V3": "SNMP version 3."
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "SNMP versions supported."
                }
              },
              "required": [
                "user",
                "version",
                "msg-processing",
                "method"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "paramName"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "switchauthmib": {
            "description": "SNMP access restrictions for the switchauthmib MIB",
            "enum": [
              "INCLUDE",
              "EXCLUDE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EXCLUDE": "MIB subtree excluded in SNMP view.",
              "INCLUDE": "MIB subtree included in SNMP view."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "SNMP MIB view type."
          },
          "target": {
            "description": "List of SNMPv3 targets.",
            "items": {
              "properties": {
                "address": {
                  "description": "SNMPv3 target address.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  ],
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "address-mask": {
                  "description": "SNMPv3 range of target addresses with this mask.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "filter": {
                  "description": "Log filter level.",
                  "enum": [
                    "ALL",
                    "CRITICAL",
                    "NOTINFO",
                    "DEBUG",
                    "NONE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALL": "All log events.",
                    "CRITICAL": "Only critical level log events.",
                    "DEBUG": "Only debug level events.",
                    "NONE": "No log events.",
                    "NOTINFO": "Only critical, warn and debug level log events."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "SNMP trap level type."
                },
                "management-interface": {
                  "default": "false",
                  "description": "Use the Management interface to send notification.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "max-message-size": {
                  "default": "1472",
                  "description": "Maximum message size value.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 484,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "params": {
                  "description": "SNMPv3 param value.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "ports": {
                  "description": "Range of UDP ports to which the messages are sent.",
                  "items": {
                    "description": "Range of UDP ports to which the messages are sent.",
                    "format": "int32",
                    "maximum": 65535,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "retries": {
                  "default": "3",
                  "description": "Number of times a notification is retransmitted if no response is received.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "tags": {
                  "description": "SNMP notify tag values.",
                  "items": {
                    "description": "SNMP notify tag values.",
                    "format": "const",
                    "maxLength": 32,
                    "minLength": 1,
                    "type": "string",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "target-name": {
                  "description": "SNMPv3 target name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "timeout": {
                  "default": "1500",
                  "description": "The retransmission interval in milliseconds.",
                  "format": "int64",
                  "maximum": 2147483647,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "udp-port": {
                  "default": "162",
                  "description": "UDP port number to which the messages are sent.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                }
              },
              "required": [
                "params",
                "address"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "targetName"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "v3-community": {
            "description": "List of SNMPv3 community.",
            "items": {
              "properties": {
                "index": {
                  "description": "SNMPv3 community index.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "security": {
                  "description": "SNMPv3 security name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "tag": {
                  "description": "SNMPv3 tag value.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "v3-community-name": {
                  "description": "SNMPv3 community name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                }
              },
              "required": [
                "v3-community-name",
                "security"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "index"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaSnmp_NotifyGroupGet": {
        "description": "SNMPv3 notify parameters.",
        "properties": {
          "group": {
            "description": "SNMPv3 User to Group entry.",
            "items": {
              "properties": {
                "group-name-user": {
                  "description": "Key combination of group-name and user separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                },
                "snmp-version": {
                  "description": "SNMPv3 version associated with this group.",
                  "enum": [
                    "V1",
                    "V2C",
                    "V3"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "V1": "SNMP version 1.",
                    "V2C": "SNMP version 2c.",
                    "V3": "SNMP version 3."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "SNMP versions supported."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "groupNameUser"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ieee8021mib": {
            "description": "SNMP access restrictions for the ieee8021mib MIB",
            "enum": [
              "ALLOW",
              "BLOCK"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALLOW": "Allow the unsecured access to this MIB.",
              "BLOCK": "Block the unsecured access to this MIB."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "SNMP MIB access type."
          },
          "macsecmib": {
            "description": "SNMP access restrictions for the hpicfMACsec MIB",
            "enum": [
              "ALLOW",
              "BLOCK"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALLOW": "Allow the unsecured access to this MIB.",
              "BLOCK": "Block the unsecured access to this MIB."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "SNMP MIB access type."
          },
          "notify-group": {
            "description": "List of SNMPv3 notify groups.",
            "items": {
              "properties": {
                "notify": {
                  "description": "Notification type",
                  "enum": [
                    "TRAP",
                    "INFORM"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "INFORM": "SNMPv3 notify type is inform.",
                    "TRAP": "SNMPv3 notify type is trap."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Notification type"
                },
                "notify-name": {
                  "description": "SNMPv3 notify name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "tag": {
                  "description": "SNMPv3 tag value.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "notifyName"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "param": {
            "description": "List of SNMPv3 params.",
            "items": {
              "properties": {
                "method": {
                  "description": "Level of validation required.",
                  "enum": [
                    "NO_AUTH_NO_PRIV",
                    "AUTH_NO_PRIV",
                    "AUTH_PRIV"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AUTH_NO_PRIV": "Authentication and no data encryption.",
                    "AUTH_PRIV": "Authentication and data encryption.",
                    "NO_AUTH_NO_PRIV": "No authentication and no data encryption."
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "SNMP authentication and data encryption security level."
                },
                "msg-processing": {
                  "description": "SNMPv3 message processing associated with this param.",
                  "enum": [
                    "V1",
                    "V2C",
                    "V3"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "V1": "SNMP version 1.",
                    "V2C": "SNMP version 2c.",
                    "V3": "SNMP version 3."
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "SNMP versions supported."
                },
                "param-name": {
                  "description": "SNMPv3 param name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "user": {
                  "description": "SNMPv3 user associated with this param.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "version": {
                  "description": "SNMPv3 version associated with this param.",
                  "enum": [
                    "V1",
                    "V2C",
                    "V3"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "V1": "SNMP version 1.",
                    "V2C": "SNMP version 2c.",
                    "V3": "SNMP version 3."
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "SNMP versions supported."
                }
              },
              "required": [
                "user",
                "version",
                "msg-processing",
                "method"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "paramName"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "switchauthmib": {
            "description": "SNMP access restrictions for the switchauthmib MIB",
            "enum": [
              "INCLUDE",
              "EXCLUDE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EXCLUDE": "MIB subtree excluded in SNMP view.",
              "INCLUDE": "MIB subtree included in SNMP view."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "SNMP MIB view type."
          },
          "target": {
            "description": "List of SNMPv3 targets.",
            "items": {
              "properties": {
                "address": {
                  "description": "SNMPv3 target address.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  ],
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "address-mask": {
                  "description": "SNMPv3 range of target addresses with this mask.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "filter": {
                  "description": "Log filter level.",
                  "enum": [
                    "ALL",
                    "CRITICAL",
                    "NOTINFO",
                    "DEBUG",
                    "NONE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ALL": "All log events.",
                    "CRITICAL": "Only critical level log events.",
                    "DEBUG": "Only debug level events.",
                    "NONE": "No log events.",
                    "NOTINFO": "Only critical, warn and debug level log events."
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "SNMP trap level type."
                },
                "management-interface": {
                  "default": "false",
                  "description": "Use the Management interface to send notification.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "max-message-size": {
                  "default": "1472",
                  "description": "Maximum message size value.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 484,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "params": {
                  "description": "SNMPv3 param value.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "ports": {
                  "description": "Range of UDP ports to which the messages are sent.",
                  "items": {
                    "description": "Range of UDP ports to which the messages are sent.",
                    "format": "int32",
                    "maximum": 65535,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "retries": {
                  "default": "3",
                  "description": "Number of times a notification is retransmitted if no response is received.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "tags": {
                  "description": "SNMP notify tag values.",
                  "items": {
                    "description": "SNMP notify tag values.",
                    "format": "const",
                    "maxLength": 32,
                    "minLength": 1,
                    "type": "string",
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "target-name": {
                  "description": "SNMPv3 target name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "timeout": {
                  "default": "1500",
                  "description": "The retransmission interval in milliseconds.",
                  "format": "int64",
                  "maximum": 2147483647,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "udp-port": {
                  "default": "162",
                  "description": "UDP port number to which the messages are sent.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                }
              },
              "required": [
                "params",
                "address"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "targetName"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "v3-community": {
            "description": "List of SNMPv3 community.",
            "items": {
              "properties": {
                "index": {
                  "description": "SNMPv3 community index.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "security": {
                  "description": "SNMPv3 security name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "tag": {
                  "description": "SNMPv3 tag value.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "v3-community-name": {
                  "description": "SNMPv3 community name.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                }
              },
              "required": [
                "v3-community-name",
                "security"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "index"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaSnmp_SnmpSchemaGET": {
        "description": "Profile for SNMP configuration.\nSNMP user-table, trap receivers, community strings,\nnotify groups, targets, etc. can be configured.\nBoth Informs and Traps are supported.\nHandles configuration for SNMP v1, v2c, v3 versions.",
        "properties": {
          "profile": {
            "description": "SNMP profile to configure SNMP parameters.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaSnmp_NotifyGroupGet"
                },
                {
                  "properties": {
                    "agent-port": {
                      "default": "161",
                      "description": "The SNMP server agent port",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "auth-privacy-security-level": {
                      "description": "SNMPv3 Security Level.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "auth-security-level": {
                      "description": "SNMPv3 Security Level.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "community": {
                      "description": "List of SNMP communities.",
                      "items": {
                        "properties": {
                          "access-level": {
                            "description": "ro - read-only access for SNMP community.\nrw - read-write access for SNMP community.",
                            "enum": [
                              "RO",
                              "RW"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "RO": "read-only access for snmpv3 user.",
                              "RW": "read-write access for snmpv3 user."
                            },
                            "x-supportedDeviceType": [
                              "Switch CX",
                              "Switch PVOS"
                            ],
                            "x-typeDescription": "SNMP V3 user access level."
                          },
                          "access-mode": {
                            "description": "SNMP community access mode.",
                            "enum": [
                              "MANAGER",
                              "OPERATOR"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "MANAGER": "manager level access for snmp user.",
                              "OPERATOR": "operator level access for snmp user."
                            },
                            "x-supportedDeviceType": [
                              "Switch PVOS"
                            ],
                            "x-typeDescription": "SNMP user access mode."
                          },
                          "community": {
                            "description": "SNMP Community string.",
                            "format": "const",
                            "maxLength": 32,
                            "minLength": 1,
                            "type": "string",
                            "x-supportedDeviceType": [
                              "Access Point",
                              "Switch CX",
                              "Gateway",
                              "Switch PVOS"
                            ]
                          },
                          "policy-ipv4": {
                            "description": "IPv4 policy associated with this community string.",
                            "format": "const",
                            "maxLength": 145,
                            "minLength": 1,
                            "type": "string",
                            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                            "x-supportedDeviceType": [
                              "Switch CX"
                            ]
                          },
                          "policy-ipv6": {
                            "description": "IPv6 policy associated with this community string.",
                            "format": "const",
                            "maxLength": 145,
                            "minLength": 1,
                            "type": "string",
                            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                            "x-supportedDeviceType": [
                              "Switch CX"
                            ]
                          },
                          "view-name": {
                            "description": "SNMP view name.",
                            "format": "const",
                            "maxLength": 33,
                            "minLength": 1,
                            "type": "string",
                            "x-supportedDeviceType": [
                              "Switch CX"
                            ]
                          }
                        }
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "community"
                      ],
                      "x-supportedDeviceType": [
                        "Gateway",
                        "Switch CX",
                        "Access Point"
                      ]
                    },
                    "context": {
                      "description": "List of SNMP contexts.",
                      "items": {
                        "properties": {
                          "community": {
                            "description": "SNMP community associated with this context.",
                            "format": "const",
                            "maxLength": 32,
                            "minLength": 1,
                            "type": "string",
                            "x-supportedDeviceType": [
                              "Switch CX"
                            ]
                          },
                          "context-name": {
                            "description": "SNMP context name.",
                            "format": "const",
                            "maxLength": 32,
                            "minLength": 1,
                            "type": "string",
                            "x-supportedDeviceType": [
                              "Switch CX"
                            ]
                          },
                          "type": {
                            "description": "Type of the SNMP context.",
                            "enum": [
                              "VRF",
                              "OSPFV2",
                              "OSPFV3"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "OSPFV2": "A OSPFv2 context type.",
                              "OSPFV3": "A OSPFv3 context type.",
                              "VRF": "A VRF context type."
                            },
                            "x-typeDescription": "SNMP MIB view type."
                          },
                          "vrf": {
                            "description": "The VRF associated with this context.",
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-mandatory": true,
                            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                            "x-patternSources": "name-type",
                            "x-patterns": "'([^\\\\/ ]+)'",
                            "x-supportedDeviceType": [
                              "Switch CX"
                            ],
                            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                          }
                        },
                        "required": [
                          "vrf"
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "contextName"
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "description": {
                      "description": "SNMP profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "enable-snmpv3-only": {
                      "description": "Enables only the SNMPv3 mode of operation and disallows SNMP v1 and v2c.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "inform-queue-length": {
                      "default": "250",
                      "description": "To set inform queue length. By default inform queue length set to 250.",
                      "format": "int32",
                      "maximum": 350,
                      "minimum": 100,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "listen": {
                      "description": "SNMP server listen mode.",
                      "enum": [
                        "MANAGEMENT_INTERFACE",
                        "DATA",
                        "BOTH"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "BOTH": "Enable SNMP Server on both OOBM and Data planes.",
                        "DATA": "Enable SNMP Server on Data Plane only.",
                        "MANAGEMENT_INTERFACE": "Enable SNMP Server on Management Interface only."
                      },
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "SNMP server listen mode."
                    },
                    "loopback-interface": {
                      "description": "Loopback interface.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "name": {
                      "description": "SNMP profile name.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "notification-receiver": {
                      "description": "List of SNMP Notification receivers (traps or informs).",
                      "items": {
                        "properties": {
                          "host-engineid": {
                            "description": "Engine ID of SNMP notification host.\nThis parameter is applicable for v3 trap host type only.",
                            "format": "const",
                            "maxLength": 38,
                            "minLength": 6,
                            "type": "string",
                            "x-supportedDeviceType": [
                              "Gateway"
                            ],
                            "x-typeDescription": "Engine ID of SNMP host in HEX eg. 8000052301A9FEA484."
                          },
                          "host-port-version-receiver-name-vrf": {
                            "description": "Key combination of host,port,version and receiver-name separated by ~",
                            "format": "const",
                            "maxLength": 9999,
                            "type": "string"
                          },
                          "inform": {
                            "description": "Acknowledgement will be received from SNMP server for inform notification type.\nIf inform is not set, notifcation type is trap.\nThis parameter is applicable for v2c & v3 version host only.",
                            "type": "boolean",
                            "x-mandatory": true,
                            "x-supportedDeviceType": [
                              "Switch CX",
                              "Switch PVOS",
                              "Access Point"
                            ]
                          },
                          "interval": {
                            "description": "Inform retry interval duration in seconds.",
                            "format": "int64",
                            "maximum": 4294967295,
                            "minimum": 0,
                            "type": "integer",
                            "x-supportedDeviceType": [
                              "Switch PVOS"
                            ]
                          },
                          "management-interface": {
                            "default": "false",
                            "description": "Enable management port usage for SNMP notification receiver.",
                            "type": "boolean",
                            "x-supportedDeviceType": [
                              "Switch PVOS"
                            ]
                          },
                          "notification-type": {
                            "description": "The type of this notification",
                            "items": {
                              "description": "The type of this notification",
                              "enum": [
                                "AAA_SERVER_NOTF",
                                "ALARM_NOTF",
                                "BGP_NOTF",
                                "CARD_NOTF",
                                "CONFIG_NOTF",
                                "ENTITY_NOTF",
                                "FAN_NOTF",
                                "INTERFACE_NOTF",
                                "LLDP_NOTF",
                                "LOOP_PROTECT_NOTF",
                                "MAC_NOCTIFY_NOTF",
                                "MSTP_NOTF",
                                "MVRP_NOTF",
                                "OSPF_NOTF",
                                "OSPFV3_NOTF",
                                "PORT_SECURITY_NOTF",
                                "POWER_NOTF",
                                "POWER_ETHERNET_NOTF",
                                "RMON_NOTF",
                                "RPVST_NOTF",
                                "SNMP_NOTF",
                                "STP_NOTF",
                                "TEMPERATURE_NOTF",
                                "VRRP_NOTF",
                                "VSF_NOTF",
                                "VSX_NOTF"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "AAA_SERVER_NOTF": "Send AAA notifications.",
                                "ALARM_NOTF": "Send Alarm notifications.",
                                "BGP_NOTF": "Send BGP state change notifications.",
                                "CARD_NOTF": "Send Line-Card notifications.",
                                "CONFIG_NOTF": "Send Config change notifications.",
                                "ENTITY_NOTF": "Send Entity notifications.",
                                "FAN_NOTF": "Send Fan notifications.",
                                "INTERFACE_NOTF": "Send Interface notifications.",
                                "LLDP_NOTF": "Send LLDP notifications.",
                                "LOOP_PROTECT_NOTF": "Send Loop Protect notifications.",
                                "MAC_NOCTIFY_NOTF": "Send MAC Notify notifications.",
                                "MSTP_NOTF": "Send MSTP notifications.",
                                "MVRP_NOTF": "Send MVRP notifications.",
                                "OSPFV3_NOTF": "Send OSPFv3 notifications.",
                                "OSPF_NOTF": "Send OSPFv2 notifications.",
                                "PORT_SECURITY_NOTF": "Send Port Security notifications.",
                                "POWER_ETHERNET_NOTF": "Send Power over Ethernet notifications.",
                                "POWER_NOTF": "Send Power notifications.",
                                "RMON_NOTF": "Send RMON notifications.",
                                "RPVST_NOTF": "Send RPVST notifications.",
                                "SNMP_NOTF": "Send SNMP notifications.",
                                "STP_NOTF": "Send STP notifications.",
                                "TEMPERATURE_NOTF": "Send Temperature notifications.",
                                "VRRP_NOTF": "Send VRRP notifications.",
                                "VSF_NOTF": "Send VSF notifications.",
                                "VSX_NOTF": "Send VSX notifications."
                              },
                              "x-supportedDeviceType": [
                                "Switch CX"
                              ],
                              "x-typeDescription": "SNMP notification types."
                            },
                            "maxItems": 2147483647,
                            "type": "array"
                          },
                          "retrycount": {
                            "description": "Number of retries to this host before giving up on the Inform.",
                            "format": "int64",
                            "maximum": 4294967295,
                            "minimum": 0,
                            "type": "integer",
                            "x-supportedDeviceType": [
                              "Switch PVOS"
                            ]
                          },
                          "trap-group": {
                            "description": "List of trap groups.",
                            "items": {
                              "description": "List of trap groups.",
                              "format": "const",
                              "maxLength": 255,
                              "minLength": 1,
                              "type": "string",
                              "x-supportedDeviceType": [
                                "Gateway"
                              ]
                            },
                            "maxItems": 2147483647,
                            "type": "array"
                          },
                          "trap-level": {
                            "description": "Trap level used for logging events to notification receiver.",
                            "enum": [
                              "ALL",
                              "CRITICAL",
                              "NOTINFO",
                              "DEBUG",
                              "NONE"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "ALL": "All log events.",
                              "CRITICAL": "Only critical level log events.",
                              "DEBUG": "Only debug level events.",
                              "NONE": "No log events.",
                              "NOTINFO": "Only critical, warn and debug level log events."
                            },
                            "x-supportedDeviceType": [
                              "Switch PVOS"
                            ],
                            "x-typeDescription": "SNMP trap level type."
                          },
                          "trap-profile": {
                            "description": "SNMP Traps profile name",
                            "format": "const",
                            "maxLength": 32,
                            "minLength": 1,
                            "type": "string",
                            "x-path": "/ac-snmp-trap:snmp-trap/ac-snmp-trap:profile/ac-snmp-trap:name",
                            "x-supportedDeviceType": [
                              "Gateway"
                            ]
                          }
                        },
                        "required": [
                          "inform"
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "hostPortVersionReceiverNameVrf"
                      ],
                      "x-supportedDeviceType": [
                        "Gateway",
                        "Switch CX",
                        "Access Point",
                        "Switch PVOS"
                      ]
                    },
                    "remote-user": {
                      "description": "List of users on a remote SNMP engine who receives the inform notifications.",
                      "items": {
                        "properties": {
                          "auth-pass-cypher": {
                            "description": "Auth protocol ciphertext password.",
                            "format": "const",
                            "maxLength": 256,
                            "minLength": 1,
                            "type": "string"
                          },
                          "auth-pass-text": {
                            "description": "Authentication and privacy-protocol password text format",
                            "enum": [
                              "PLAINTEXT",
                              "CIPHERTEXT"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "CIPHERTEXT": "Password input in ciphertext format",
                              "PLAINTEXT": "Password input in plaintext format."
                            },
                            "x-typeDescription": "SNMP authentication password text type"
                          },
                          "auth-password": {
                            "description": "Auth protocol password for SNMP inform notifications.",
                            "format": "const",
                            "maxLength": 9999,
                            "type": "string",
                            "x-mandatory": true,
                            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                          },
                          "auth-protocol": {
                            "description": "Auth protocols supported for SNMP inform notifications.",
                            "enum": [
                              "MD5",
                              "SHA1",
                              "SHA224",
                              "SHA256",
                              "SHA384",
                              "SHA512"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "MD5": "MD5 authentication",
                              "SHA1": "SHA1 authentication",
                              "SHA224": "SHA224 authentication",
                              "SHA256": "SHA256 authentication",
                              "SHA384": "SHA384 authentication",
                              "SHA512": "SHA512 authentication"
                            },
                            "x-supportedDeviceType": [
                              "Switch PVOS"
                            ],
                            "x-typeDescription": "SNMP Authentication types."
                          },
                          "engine-id": {
                            "description": "Engine id of the remote system for V3 informs.",
                            "format": "const",
                            "maxLength": 38,
                            "minLength": 6,
                            "type": "string",
                            "x-supportedDeviceType": [
                              "Switch PVOS"
                            ],
                            "x-typeDescription": "Engine ID of SNMP host in HEX eg. 8000052301A9FEA484."
                          },
                          "engine-id-username": {
                            "description": "Key combination of engine-id and username separated by ~",
                            "format": "const",
                            "maxLength": 9999,
                            "type": "string"
                          },
                          "priv-pass-cypher": {
                            "description": "Privacy protocol cyphertext password.",
                            "format": "const",
                            "maxLength": 256,
                            "minLength": 1,
                            "type": "string"
                          },
                          "privacy-password": {
                            "description": "Privacy protocol password for SNMP inform notifications.",
                            "format": "const",
                            "maxLength": 9999,
                            "type": "string",
                            "x-mandatory": true,
                            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                          },
                          "privacy-protocol": {
                            "description": "Privacy protocols supported for SNMP inform notifications.",
                            "enum": [
                              "ENCR_3DES",
                              "AES",
                              "DES",
                              "AES192",
                              "AES256"
                            ],
                            "format": "enum",
                            "type": "string",
                            "x-enumDescriptions": {
                              "AES": "AES encryption method",
                              "AES192": "AES-192 encryption method",
                              "AES256": "AES-256 encryption method",
                              "DES": "DES encryption method",
                              "ENCR_3DES": "3DES encryption method"
                            },
                            "x-typeDescription": "IPsec encryption type"
                          },
                          "username": {
                            "description": "The user name that receives inform notifications on a remote device.",
                            "format": "const",
                            "maxLength": 31,
                            "minLength": 1,
                            "type": "string",
                            "x-supportedDeviceType": [
                              "Switch PVOS"
                            ]
                          }
                        },
                        "required": [
                          "auth-password",
                          "privacy-password"
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "engineIdUsername"
                      ],
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "response-source": {
                      "description": "Source IP address of the SNMP response PDU.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        },
                        {
                          "enum": [
                            "DEST_IP_ADDRESS",
                            "LOOPBACK"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "DEST_IP_ADDRESS": "The destination ip address of the SNMP request is used\nas the source IP address in the SNMP response.",
                            "LOOPBACK": "For the specified loopback interface, lexicographically\nminimum configured ip address will be used as the source\nip address in the snmp response pdu."
                          }
                        },
                        {
                          "format": "const",
                          "maxLength": 32,
                          "minLength": 1,
                          "type": "string"
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "restricted-access": {
                      "default": "false",
                      "description": "Enable SNMPv1 and SNMPv2c access properties.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "snmp-response-source": {
                      "description": "Source IP/interface for SNMP responses",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaSnmp_InterfaceGroupGet"
                          },
                          {
                            "properties": {
                              "vrf": {
                                "description": "The VRF associated with this trap-source.",
                                "format": "pattern",
                                "maxLength": 9999,
                                "type": "string",
                                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                                "x-patternSources": "name-type",
                                "x-patterns": "'([^\\\\/ ]+)'",
                                "x-supportedDeviceType": [
                                  "Switch CX"
                                ],
                                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                              }
                            }
                          }
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "vrf"
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "snmp-source-controller-ip": {
                      "default": "false",
                      "description": "On enabling this parameter source address of SNMP responses will be set to Controller IP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "snmp-trap-source": {
                      "description": "Source IP/interface for SNMP traps",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaSnmp_InterfaceGroupGet"
                          },
                          {
                            "properties": {
                              "vrf": {
                                "description": "The VRF associated with this trap-source.",
                                "format": "pattern",
                                "maxLength": 9999,
                                "type": "string",
                                "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                                "x-patternSources": "name-type",
                                "x-patterns": "'([^\\\\/ ]+)'",
                                "x-supportedDeviceType": [
                                  "Switch CX"
                                ],
                                "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                              }
                            }
                          }
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "vrf"
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "stats-enable": {
                      "default": "false",
                      "description": "Enable SNMP stats.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "trap-enable": {
                      "default": "true",
                      "description": "To enable SNMP traps in system. By default traps are enabled.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "trap-interface": {
                      "description": "Loopback interface.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "trap-source": {
                      "description": "Source address of SNMP notification responses.\nOnly ip-address type is supported for gateways",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        },
                        {
                          "enum": [
                            "DEST_IP_ADDRESS",
                            "LOOPBACK"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
[...]
