{
  "openapi": "3.1.0",
  "info": {
    "title": "Switch System",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Switch System"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/switch-system": {
      "get": {
        "description": "System Configurations",
        "operationId": "readSwitchSystem",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaSwitchSystem_SwitchSystemSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read switch-system",
        "tags": [
          "Switch System"
        ],
        "x-cliParam": {
          "commandName": "readSwitchSystemCmd",
          "commandUse": "switch-system",
          "parentCommand": "readCmd",
          "pathToPrint": "/switch-system/",
          "summary": "Read operation for switch-system"
        }
      }
    },
    "/network-config/v1alpha1/switch-system/{name}": {
      "get": {
        "description": "List containing system profile attributes.",
        "operationId": "readSwitchSystemProfileByID",
        "parameters": [
          {
            "description": "User defined system profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaSwitchSystem_SwitchSystemprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read profile by name",
        "tags": [
          "Switch System"
        ],
        "x-cliParam": {
          "commandName": "readSwitchSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readSwitchSystemCmd",
          "pathToPrint": "/switch-system/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List containing system profile attributes.",
        "operationId": "replaceSwitchSystemProfileByID",
        "parameters": [
          {
            "description": "User defined system profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSwitchSystem_SwitchSystemprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Switch System"
        ],
        "x-cliParam": {
          "commandName": "replaceSwitchSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceSwitchSystemCmd",
          "pathToPrint": "/switch-system/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List containing system profile attributes.",
        "operationId": "createSwitchSystemProfileByID",
        "parameters": [
          {
            "description": "User defined system profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSwitchSystem_SwitchSystemprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create profile by name",
        "tags": [
          "Switch System"
        ],
        "x-cliParam": {
          "commandName": "createSwitchSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createSwitchSystemCmd",
          "pathToPrint": "/switch-system/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List containing system profile attributes.",
        "operationId": "deleteSwitchSystemProfileByID",
        "parameters": [
          {
            "description": "User defined system profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete profile by name",
        "tags": [
          "Switch System"
        ],
        "x-cliParam": {
          "commandName": "deleteSwitchSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteSwitchSystemCmd",
          "pathToPrint": "/switch-system/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List containing system profile attributes.",
        "operationId": "updateSwitchSystemProfileByID",
        "parameters": [
          {
            "description": "User defined system profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSwitchSystem_SwitchSystemprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "Switch System"
        ],
        "x-cliParam": {
          "commandName": "updateSwitchSystemProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateSwitchSystemCmd",
          "pathToPrint": "/switch-system/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaAaaDot1xauth_Dot1xauthSystemSwitchConfig": {
        "description": "Group for 802.1X authenticator switch specific system configurations",
        "properties": {
          "cached-reauth-authorized": {
            "default": "false",
            "description": "Allow access after cached reauthentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "cached-reauth-delay": {
            "description": "Period of time, in seconds, during which authenticator will not initiate reauthentications after a cached reauthentication.",
            "format": "int64",
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "eap-tls-fragment-size-towards-server": {
            "description": "Maximum size in bytes of an EAP-TLS fragment encoded in a single\nRADIUS request packet.",
            "format": "int32",
            "maximum": 3072,
            "minimum": 576,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable 802.1X authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "radius-auth-method": {
            "default": "LOCAL",
            "description": "The type of authentication method to use for authentication.",
            "enum": [
              "LOCAL",
              "EAP",
              "PAP",
              "CHAP",
              "PEAP_MSCHAPV2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAP": "Challenge Handshake Authentication Protocol",
              "EAP": "Use EAP capable RADIUS server.",
              "LOCAL": "Use local switch user/password database.",
              "PAP": "Password Authentication Protocol",
              "PEAP_MSCHAPV2": "Challenge Handshake Authentication Protocol"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "RADIUS authentication methods."
          },
          "radius-server-group": {
            "description": "RADIUS server group to use for authentication.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "secondary-auth-method": {
            "default": "NONE",
            "description": "Secondary authentication method.",
            "enum": [
              "NONE",
              "CACHED",
              "AUTHORIZED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTHORIZED": "Allow access without authentication.",
              "CACHED": "Retain current session attributes during reauthentication.",
              "NONE": "Do not use backup authentication methods."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Backup authentication methods."
          }
        }
      },
      "ArubaAaaDot1xauth_Dot1xauthSystemSwitchConfigGet": {
        "description": "Group for 802.1X authenticator switch specific system configurations",
        "properties": {
          "cached-reauth-authorized": {
            "default": "false",
            "description": "Allow access after cached reauthentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "cached-reauth-delay": {
            "description": "Period of time, in seconds, during which authenticator will not initiate reauthentications after a cached reauthentication.",
            "format": "int64",
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "eap-tls-fragment-size-towards-server": {
            "description": "Maximum size in bytes of an EAP-TLS fragment encoded in a single\nRADIUS request packet.",
            "format": "int32",
            "maximum": 3072,
            "minimum": 576,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable 802.1X authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "radius-auth-method": {
            "default": "LOCAL",
            "description": "The type of authentication method to use for authentication.",
            "enum": [
              "LOCAL",
              "EAP",
              "PAP",
              "CHAP",
              "PEAP_MSCHAPV2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAP": "Challenge Handshake Authentication Protocol",
              "EAP": "Use EAP capable RADIUS server.",
              "LOCAL": "Use local switch user/password database.",
              "PAP": "Password Authentication Protocol",
              "PEAP_MSCHAPV2": "Challenge Handshake Authentication Protocol"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "RADIUS authentication methods."
          },
          "radius-server-group": {
            "description": "RADIUS server group to use for authentication.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "secondary-auth-method": {
            "default": "NONE",
            "description": "Secondary authentication method.",
            "enum": [
              "NONE",
              "CACHED",
              "AUTHORIZED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTHORIZED": "Allow access without authentication.",
              "CACHED": "Retain current session attributes during reauthentication.",
              "NONE": "Do not use backup authentication methods."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Backup authentication methods."
          }
        }
      },
      "ArubaAaaDot1xsupp_Dot1xsuppSystemSwitchConfig": {
        "description": "Group for 802.1X supplicant switch specific system configurations.",
        "properties": {
          "eap-tls-cert": {
            "description": "The certificate to use for EAP-TLS authentication.",
            "format": "const",
            "maxLength": 65,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Certificate name string."
          },
          "eap-tls-cert-type": {
            "description": "The type of certificate to use for EAP-TLS authentication.",
            "enum": [
              "USER",
              "DEVICE",
              "EST"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DEVICE": "Device certificate stored in the Trusted Platform Module (TPM)",
              "EST": "EST(Enrollment over Secure Transport protocol) certificate.",
              "USER": "User defined certificate"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Certificate type."
          },
          "enable": {
            "default": "false",
            "description": "Enable 802.1X supplicant.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaDot1xsupp_Dot1xsuppSystemSwitchConfigGet": {
        "description": "Group for 802.1X supplicant switch specific system configurations.",
        "properties": {
          "eap-tls-cert": {
            "description": "The certificate to use for EAP-TLS authentication.",
            "format": "const",
            "maxLength": 65,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Certificate name string."
          },
          "eap-tls-cert-type": {
            "description": "The type of certificate to use for EAP-TLS authentication.",
            "enum": [
              "USER",
              "DEVICE",
              "EST"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DEVICE": "Device certificate stored in the Trusted Platform Module (TPM)",
              "EST": "EST(Enrollment over Secure Transport protocol) certificate.",
              "USER": "User defined certificate"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Certificate type."
          },
          "enable": {
            "default": "false",
            "description": "Enable 802.1X supplicant.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaMacauth_MacauthSystemSwitchConfig": {
        "description": "Group for MAC authentication switch specific system configurations.",
        "properties": {
          "address-format": {
            "default": "NO_DELIMITER",
            "description": "The MAC address format to be used in the RADIUS request messages\nfor authentication.",
            "enum": [
              "NO_DELIMITER",
              "SINGLE_DASH",
              "MULTI_DASH",
              "MULTI_COLON",
              "MULTI_PERCENT",
              "MULTI_COMMA",
              "MULTI_SLASH",
              "NO_DELIMITER_UPPERCASE",
              "SINGLE_DASH_UPPERCASE",
              "MULTI_DASH_UPPERCASE",
              "MULTI_COLON_UPPERCASE",
              "MULTI_PERCENT_UPPERCASE",
              "MULTI_COMMA_UPPERCASE",
              "MULTI_SLASH_UPPERCASE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MULTI_COLON": "aa:bb:cc:dd:ee:ff",
              "MULTI_COLON_UPPERCASE": "AA:BB:CC:DD:EE:FF",
              "MULTI_COMMA": "aa,bb,cc,dd,ee,ff",
              "MULTI_COMMA_UPPERCASE": "AA,BB,CC,DD,EE,FF",
              "MULTI_DASH": "aa-bb-cc-dd-ee-ff",
              "MULTI_DASH_UPPERCASE": "AA-BB-CC-DD-EE-FF",
              "MULTI_PERCENT": "aa%bb%cc%dd%ee%ff",
              "MULTI_PERCENT_UPPERCASE": "AA%BB%CC%DD%EE%FF",
              "MULTI_SLASH": "aa/bb/cc/dd/ee/ff",
              "MULTI_SLASH_UPPERCASE": "AA/BB/CC/DD/EE/FF",
              "NO_DELIMITER": "aabbccddeeff",
              "NO_DELIMITER_UPPERCASE": "AABBCCDDEEFF",
              "SINGLE_DASH": "aabbcc-ddeeff",
              "SINGLE_DASH_UPPERCASE": "AABBCC-DDEEFF"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "MAC address format."
          },
          "cached-reauth-authorized": {
            "default": "false",
            "description": "Allow access after cached reauthentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable MAC authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "macauth-password": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaAaaMacauth_PasswordInfo"
              }
            ],
            "description": "Enables and configures the global password that is used\nfor MAC authentication. The password can be either in\nciphertext or plaintext format.",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "radius-auth-method": {
            "default": "CHAP",
            "description": "The type of RADIUS authentication method to use for authentication.",
            "enum": [
              "LOCAL",
              "EAP",
              "PAP",
              "CHAP",
              "PEAP_MSCHAPV2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAP": "Challenge Handshake Authentication Protocol",
              "EAP": "Use EAP capable RADIUS server.",
              "LOCAL": "Use local switch user/password database.",
              "PAP": "Password Authentication Protocol",
              "PEAP_MSCHAPV2": "Challenge Handshake Authentication Protocol"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "RADIUS authentication methods."
          },
          "radius-server-group": {
            "description": "RADIUS server group to use for authentication.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "secondary-auth-method": {
            "default": "NONE",
            "description": "Secondary authentication method.",
            "enum": [
              "NONE",
              "CACHED",
              "AUTHORIZED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTHORIZED": "Allow access without authentication.",
              "CACHED": "Retain current session attributes during reauthentication.",
              "NONE": "Do not use backup authentication methods."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Backup authentication methods."
          }
        }
      },
      "ArubaAaaMacauth_MacauthSystemSwitchConfigGet": {
        "description": "Group for MAC authentication switch specific system configurations.",
        "properties": {
          "address-format": {
            "default": "NO_DELIMITER",
            "description": "The MAC address format to be used in the RADIUS request messages\nfor authentication.",
            "enum": [
              "NO_DELIMITER",
              "SINGLE_DASH",
              "MULTI_DASH",
              "MULTI_COLON",
              "MULTI_PERCENT",
              "MULTI_COMMA",
              "MULTI_SLASH",
              "NO_DELIMITER_UPPERCASE",
              "SINGLE_DASH_UPPERCASE",
              "MULTI_DASH_UPPERCASE",
              "MULTI_COLON_UPPERCASE",
              "MULTI_PERCENT_UPPERCASE",
              "MULTI_COMMA_UPPERCASE",
              "MULTI_SLASH_UPPERCASE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MULTI_COLON": "aa:bb:cc:dd:ee:ff",
              "MULTI_COLON_UPPERCASE": "AA:BB:CC:DD:EE:FF",
              "MULTI_COMMA": "aa,bb,cc,dd,ee,ff",
              "MULTI_COMMA_UPPERCASE": "AA,BB,CC,DD,EE,FF",
              "MULTI_DASH": "aa-bb-cc-dd-ee-ff",
              "MULTI_DASH_UPPERCASE": "AA-BB-CC-DD-EE-FF",
              "MULTI_PERCENT": "aa%bb%cc%dd%ee%ff",
              "MULTI_PERCENT_UPPERCASE": "AA%BB%CC%DD%EE%FF",
              "MULTI_SLASH": "aa/bb/cc/dd/ee/ff",
              "MULTI_SLASH_UPPERCASE": "AA/BB/CC/DD/EE/FF",
              "NO_DELIMITER": "aabbccddeeff",
              "NO_DELIMITER_UPPERCASE": "AABBCCDDEEFF",
              "SINGLE_DASH": "aabbcc-ddeeff",
              "SINGLE_DASH_UPPERCASE": "AABBCC-DDEEFF"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "MAC address format."
          },
          "cached-reauth-authorized": {
            "default": "false",
            "description": "Allow access after cached reauthentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable MAC authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "macauth-password": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaAaaMacauth_PasswordInfoGet"
              }
            ],
            "description": "Enables and configures the global password that is used\nfor MAC authentication. The password can be either in\nciphertext or plaintext format.",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "radius-auth-method": {
            "default": "CHAP",
            "description": "The type of RADIUS authentication method to use for authentication.",
            "enum": [
              "LOCAL",
              "EAP",
              "PAP",
              "CHAP",
              "PEAP_MSCHAPV2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHAP": "Challenge Handshake Authentication Protocol",
              "EAP": "Use EAP capable RADIUS server.",
              "LOCAL": "Use local switch user/password database.",
              "PAP": "Password Authentication Protocol",
              "PEAP_MSCHAPV2": "Challenge Handshake Authentication Protocol"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "RADIUS authentication methods."
          },
          "radius-server-group": {
            "description": "RADIUS server group to use for authentication.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "secondary-auth-method": {
            "default": "NONE",
            "description": "Secondary authentication method.",
            "enum": [
              "NONE",
              "CACHED",
              "AUTHORIZED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTHORIZED": "Allow access without authentication.",
              "CACHED": "Retain current session attributes during reauthentication.",
              "NONE": "Do not use backup authentication methods."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Backup authentication methods."
          }
        }
      },
      "ArubaAaaMacauth_PasswordInfo": {
        "description": "Group for  password to be used for authentication.",
        "properties": {
          "ciphertext-password": {
            "description": "The ciphertext password to be used for authentication in the\nRADIUS request messages. This is applicable only when password\ntype is CIPHER_TEXT.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "password": {
            "description": "The plaintext password to be used for authentication in the\nRADIUS request messages. This is applicable only when password\ntype is PLAIN_TEXT.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "type": {
            "default": "PLAIN_TEXT",
            "description": "Password type [ciphertext | plaintext].",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-typeDescription": "Password type"
          }
        }
      },
      "ArubaAaaMacauth_PasswordInfoGet": {
        "description": "Group for  password to be used for authentication.",
        "properties": {
          "ciphertext-password": {
            "description": "The ciphertext password to be used for authentication in the\nRADIUS request messages. This is applicable only when password\ntype is CIPHER_TEXT.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "password": {
            "description": "The plaintext password to be used for authentication in the\nRADIUS request messages. This is applicable only when password\ntype is PLAIN_TEXT.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "type": {
            "default": "PLAIN_TEXT",
            "description": "Password type [ciphertext | plaintext].",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-typeDescription": "Password type"
          }
        }
      },
      "ArubaAaaProfile_AccountingSystemSwitchConfig": {
        "description": "Group for system level accounting configurations.",
        "properties": {
          "accounting": {
            "description": "Portaccess accounting configuration.",
            "properties": {
              "accounting-mode": {
                "default": "START_STOP",
                "description": "Accounting record type",
                "enum": [
                  "START_STOP",
                  "STOP_ONLY"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "START_STOP": "Send start and stop accounting record",
                  "STOP_ONLY": "Send stop accounting record"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Accounting record types"
              },
              "acct-server-group": {
                "description": "RADIUS server group to which accounting updates will be sent\nwhen accounting-mode is START_STOP or STOP_ONLY.",
                "format": "const",
                "maxLength": 80,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "interim-update-enable": {
                "default": "false",
                "description": "Enables the device to send interim network accounting updates\nto the configured accounting server when accounting-mode is\nSTART_STOP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "interim-update-interval": {
                "default": "60",
                "description": "Specifies the time interval(in minutes) between two successive\naccounting updates sent to the server when interim update is\nenabled.",
                "format": "int64",
                "maximum": 525600,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "interim-update-onreauth-enable": {
                "default": "false",
                "description": "Enables the device to send interim network accounting updates\nto the configured accounting server on successful client\nreauthentication when accounting-mode is START_STOP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "local-accounting": {
                "default": "false",
                "description": "Enables local accounting for port-access clients in the system\nwhen accounting-mode is START_STOP or STOP_ONLY.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_AccountingSystemSwitchConfigGet": {
        "description": "Group for system level accounting configurations.",
        "properties": {
          "accounting": {
            "description": "Portaccess accounting configuration.",
            "properties": {
              "accounting-mode": {
                "default": "START_STOP",
                "description": "Accounting record type",
                "enum": [
                  "START_STOP",
                  "STOP_ONLY"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "START_STOP": "Send start and stop accounting record",
                  "STOP_ONLY": "Send stop accounting record"
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Accounting record types"
              },
              "acct-server-group": {
                "description": "RADIUS server group to which accounting updates will be sent\nwhen accounting-mode is START_STOP or STOP_ONLY.",
                "format": "const",
                "maxLength": 80,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "interim-update-enable": {
                "default": "false",
                "description": "Enables the device to send interim network accounting updates\nto the configured accounting server when accounting-mode is\nSTART_STOP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "interim-update-interval": {
                "default": "60",
                "description": "Specifies the time interval(in minutes) between two successive\naccounting updates sent to the server when interim update is\nenabled.",
                "format": "int64",
                "maximum": 525600,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "interim-update-onreauth-enable": {
                "default": "false",
                "description": "Enables the device to send interim network accounting updates\nto the configured accounting server on successful client\nreauthentication when accounting-mode is START_STOP.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "local-accounting": {
                "default": "false",
                "description": "Enables local accounting for port-access clients in the system\nwhen accounting-mode is START_STOP or STOP_ONLY.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaAaaProfile_AuthenticationSystemSwitchConfig": {
        "description": "Group for switch specific system level authentication configurations.",
        "properties": {
          "allow-vlan-tagged": {
            "default": "false",
            "description": "Configure authenticator ports to apply VLAN changes immediately and\napply tagged VLAN membership changes immediately on AAA enabled ports.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "auto-vlan-enable": {
            "default": "false",
            "description": "Enable automatic creation of a VLAN for authenticated clients if the\nVLAN is not already available on the device.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "cached-critical-role": {
            "description": "Cached-critical role configuration.",
            "properties": {
              "cache-replace-mode": {
                "default": "NONE",
                "description": "Replacement mode to be applied when cache limit is reached\nand more clients have to be added to the cache.",
                "enum": [
                  "NONE",
                  "FIFO"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "FIFO": "Specifies oldest cache entry can be replaced with new entry.",
                  "NONE": "Specifies cache entry can't be overwritten till expiry."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Cached replace mode."
              },
              "cache-timeout": {
                "default": "96",
                "description": "The period of time in hours for which an authenticated\nclient's information will be cached.",
                "format": "int32",
                "maximum": 168,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enables caching authenticated clients and their associated\nrole information. Clients are assigned to their previously\nauthenticated role.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "persistent-storage-enable": {
                "default": "false",
                "description": "Enables writing cached client information to the device's\npersistent storage unit.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "persistent-storage-write-interval": {
                "default": "3600",
                "description": "Interval between consecutive cached client information\nwrites to persistent storage file in seconds.\nFlash write occurs only if there is a change in cached\nclient's information.",
                "format": "int64",
                "maximum": 86400,
                "minimum": 900,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "client-event-log-enable": {
            "default": "false",
            "description": "Enable event logs for clients.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "client-move": {
            "default": "SECURE_ENABLED",
            "description": "The client move configuration.",
            "enum": [
              "DISABLED",
              "ENABLED",
              "SECURE_ENABLED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DISABLED": "Client cannot move between interfaces.",
              "ENABLED": "Client can move between interfaces without authentication itself\non the new interface.",
              "SECURE_ENABLED": "Client can move between interfaces but only after authenticating\nitself on the new interface."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Client move types."
          },
          "use-lldp-data": {
            "default": "false",
            "description": "Authenticate clients using information from their LLDP packets.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaAaaProfile_AuthenticationSystemSwitchConfigGet": {
        "description": "Group for switch specific system level authentication configurations.",
        "properties": {
          "allow-vlan-tagged": {
            "default": "false",
            "description": "Configure authenticator ports to apply VLAN changes immediately and\napply tagged VLAN membership changes immediately on AAA enabled ports.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "auto-vlan-enable": {
            "default": "false",
            "description": "Enable automatic creation of a VLAN for authenticated clients if the\nVLAN is not already available on the device.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "cached-critical-role": {
            "description": "Cached-critical role configuration.",
            "properties": {
              "cache-replace-mode": {
                "default": "NONE",
                "description": "Replacement mode to be applied when cache limit is reached\nand more clients have to be added to the cache.",
                "enum": [
                  "NONE",
                  "FIFO"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "FIFO": "Specifies oldest cache entry can be replaced with new entry.",
                  "NONE": "Specifies cache entry can't be overwritten till expiry."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Cached replace mode."
              },
              "cache-timeout": {
                "default": "96",
                "description": "The period of time in hours for which an authenticated\nclient's information will be cached.",
                "format": "int32",
                "maximum": 168,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "enable": {
                "default": "false",
                "description": "Enables caching authenticated clients and their associated\nrole information. Clients are assigned to their previously\nauthenticated role.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "persistent-storage-enable": {
                "default": "false",
                "description": "Enables writing cached client information to the device's\npersistent storage unit.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "persistent-storage-write-interval": {
                "default": "3600",
                "description": "Interval between consecutive cached client information\nwrites to persistent storage file in seconds.\nFlash write occurs only if there is a change in cached\nclient's information.",
                "format": "int64",
                "maximum": 86400,
                "minimum": 900,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "client-event-log-enable": {
            "default": "false",
            "description": "Enable event logs for clients.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "client-move": {
            "default": "SECURE_ENABLED",
            "description": "The client move configuration.",
            "enum": [
              "DISABLED",
              "ENABLED",
              "SECURE_ENABLED"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DISABLED": "Client cannot move between interfaces.",
              "ENABLED": "Client can move between interfaces without authentication itself\non the new interface.",
              "SECURE_ENABLED": "Client can move between interfaces but only after authenticating\nitself on the new interface."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Client move types."
          },
          "use-lldp-data": {
            "default": "false",
            "description": "Authenticate clients using information from their LLDP packets.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaAaaWebauth_WebauthSystemConfig": {
        "description": "Group for Web authentication system-wide configuration.",
        "properties": {
          "access-denied-message": {
            "description": "Access denied message configuration.",
            "properties": {
              "message": {
                "description": "Custom access denied message.",
                "format": "const",
                "maxLength": 254,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "radius-response": {
                "default": "false",
                "description": "Use RADIUS server response as access denied message.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "authentication": {
            "description": "Web authentication RADIUS configuration.",
            "properties": {
              "radius-auth-method": {
                "default": "CHAP",
                "description": "The type of RADIUS authentication method to use for authentication.",
                "enum": [
                  "LOCAL",
                  "EAP",
                  "PAP",
                  "CHAP",
                  "PEAP_MSCHAPV2"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CHAP": "Challenge Handshake Authentication Protocol",
                  "EAP": "Use EAP capable RADIUS server.",
                  "LOCAL": "Use local switch user/password database.",
                  "PAP": "Password Authentication Protocol",
                  "PEAP_MSCHAPV2": "Challenge Handshake Authentication Protocol"
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "RADIUS authentication methods."
              },
              "radius-server-group": {
                "description": "RADIUS server group to use for authentication.",
                "format": "const",
                "maxLength": 80,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "secondary-auth-method": {
                "default": "NONE",
                "description": "Secondary authentication method.",
                "enum": [
                  "NONE",
                  "CACHED",
                  "AUTHORIZED"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AUTHORIZED": "Allow access without authentication.",
                  "CACHED": "Retain current session attributes during reauthentication.",
                  "NONE": "Do not use backup authentication methods."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Backup authentication methods."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "dhcp-addr": {
            "description": "Configure DHCP address range for web authentication.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-prefix",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-prefix",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "dhcp-lease": {
            "description": "Configure DHCP lease time for web authentication.",
            "format": "int32",
            "maximum": 25,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ewa-server": {
            "description": "External Web Authentication server configuration.",
            "items": {
              "properties": {
                "ewa-server-address": {
                  "description": "IP address or FQDN of the Ewa server.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 253,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "domain-name",
                      "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                      "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "page-path": {
                  "description": "Path to the authentication page on the external web authentication server.",
                  "format": "const",
                  "maxLength": 127,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 3,
            "type": "array",
            "x-key": [
              "ewaServerAddress"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaAaaWebauth_WebauthSystemConfigGet": {
        "description": "Group for Web authentication system-wide configuration.",
        "properties": {
          "access-denied-message": {
            "description": "Access denied message configuration.",
            "properties": {
              "message": {
                "description": "Custom access denied message.",
                "format": "const",
                "maxLength": 254,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "radius-response": {
                "default": "false",
                "description": "Use RADIUS server response as access denied message.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "authentication": {
            "description": "Web authentication RADIUS configuration.",
            "properties": {
              "radius-auth-method": {
                "default": "CHAP",
                "description": "The type of RADIUS authentication method to use for authentication.",
                "enum": [
                  "LOCAL",
                  "EAP",
                  "PAP",
                  "CHAP",
                  "PEAP_MSCHAPV2"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CHAP": "Challenge Handshake Authentication Protocol",
                  "EAP": "Use EAP capable RADIUS server.",
                  "LOCAL": "Use local switch user/password database.",
                  "PAP": "Password Authentication Protocol",
                  "PEAP_MSCHAPV2": "Challenge Handshake Authentication Protocol"
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "RADIUS authentication methods."
              },
              "radius-server-group": {
                "description": "RADIUS server group to use for authentication.",
                "format": "const",
                "maxLength": 80,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-auth-server-group:server-groups/ac-auth-server-group:server-group/ac-auth-server-group:name",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "secondary-auth-method": {
                "default": "NONE",
                "description": "Secondary authentication method.",
                "enum": [
                  "NONE",
                  "CACHED",
                  "AUTHORIZED"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AUTHORIZED": "Allow access without authentication.",
                  "CACHED": "Retain current session attributes during reauthentication.",
                  "NONE": "Do not use backup authentication methods."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "Backup authentication methods."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "dhcp-addr": {
            "description": "Configure DHCP address range for web authentication.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-prefix",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-prefix",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "dhcp-lease": {
            "description": "Configure DHCP lease time for web authentication.",
            "format": "int32",
            "maximum": 25,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "ewa-server": {
            "description": "External Web Authentication server configuration.",
            "items": {
              "properties": {
                "ewa-server-address": {
                  "description": "IP address or FQDN of the Ewa server.",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 253,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "domain-name",
                      "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
                      "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                },
                "page-path": {
                  "description": "Path to the authentication page on the external web authentication server.",
                  "format": "const",
                  "maxLength": 127,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 3,
            "type": "array",
            "x-key": [
              "ewaServerAddress"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaAuthServerGlobal_CppmIdentity": {
        "description": "Group for configuring username and password combination of ClearPass which\nis used to login to ClearPass to download user roles",
        "properties": {
          "cppm-password": {
            "description": "CPPM Password.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "cppm-user-name": {
            "description": "CPPM User Name.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaAuthServerGlobal_CppmIdentityGet": {
        "description": "Group for configuring username and password combination of ClearPass which\nis used to login to ClearPass to download user roles",
        "properties": {
          "cppm-password": {
            "description": "CPPM Password.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "cppm-user-name": {
            "description": "CPPM User Name.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaFaultMonitor_FaultMonitorSwitchSystemAction": {
        "description": "Grouping reusable leaves to single group.",
        "properties": {
          "action": {
            "description": "Action to be performed when the faulty frame count\nexceeds the configured threshold in a 30 second sampling interval.",
            "enum": [
              "NOTIFY",
              "NOTIFY_AND_DISABLE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "NOTIFY": "NOTIFY - log an event.",
              "NOTIFY_AND_DISABLE": "NOTIFY_AND_DISABLE - log an event and shutdown the port."
            },
            "x-typeDescription": "Notify Mode type."
          },
          "sensitivity": {
            "description": "Fault sensitivity level.",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "HIGH": "High sensitivity.",
              "LOW": "Low sensitivity.",
              "MEDIUM": "Medium sensitivity."
            },
            "x-typeDescription": "Fault sensitivity type."
          }
        }
      },
      "ArubaFaultMonitor_FaultMonitorSwitchSystemActionGet": {
        "description": "Grouping reusable leaves to single group.",
        "properties": {
          "action": {
            "description": "Action to be performed when the faulty frame count\nexceeds the configured threshold in a 30 second sampling interval.",
            "enum": [
              "NOTIFY",
              "NOTIFY_AND_DISABLE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "NOTIFY": "NOTIFY - log an event.",
              "NOTIFY_AND_DISABLE": "NOTIFY_AND_DISABLE - log an event and shutdown the port."
            },
            "x-typeDescription": "Notify Mode type."
          },
          "sensitivity": {
            "description": "Fault sensitivity level.",
            "enum": [
              "LOW",
              "MEDIUM",
              "HIGH"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "HIGH": "High sensitivity.",
              "LOW": "Low sensitivity.",
              "MEDIUM": "Medium sensitivity."
            },
            "x-typeDescription": "Fault sensitivity type."
          }
        }
      },
      "ArubaFaultMonitor_FaultMonitorSwitchSystemConfiguration": {
        "description": "Fault-monitor switch system config",
        "properties": {
          "bad-transceiver": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemAction"
              }
            ],
            "description": "Excessive jabbers or fragments configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "excessive-broadcasts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemAction"
              }
            ],
            "description": "Excessive broadcasts configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "excessive-crc-errors": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemAction"
              }
            ],
            "description": "Excessive CRC errors configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "excessive-late-collisions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemAction"
              }
            ],
            "description": "Excessive late collisions configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "excessive-multicasts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemAction"
              }
            ],
            "description": "Excessive multicasts configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "excessive-oversize-packets": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemAction"
              }
            ],
            "description": "Excessive oversize packets configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "full-duplex-mismatch": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemAction"
              }
            ],
            "description": "Full-duplex mismatch.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "half-duplex-mismatch": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemAction"
              }
            ],
            "description": "Half-duplex mismatch.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "link-flap": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemAction"
              }
            ],
            "description": "Link flap monitor configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "link-loss": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemAction"
              }
            ],
            "description": "Link loss configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "over-bandwidth": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemAction"
              }
            ],
            "description": "Excessive collisions or drops configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaFaultMonitor_FaultMonitorSwitchSystemConfigurationGet": {
        "description": "Fault-monitor switch system config",
        "properties": {
          "bad-transceiver": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemActionGet"
              }
            ],
            "description": "Excessive jabbers or fragments configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "excessive-broadcasts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemActionGet"
              }
            ],
            "description": "Excessive broadcasts configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "excessive-crc-errors": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemActionGet"
              }
            ],
            "description": "Excessive CRC errors configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "excessive-late-collisions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemActionGet"
              }
            ],
            "description": "Excessive late collisions configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "excessive-multicasts": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemActionGet"
              }
            ],
            "description": "Excessive multicasts configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "excessive-oversize-packets": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemActionGet"
              }
            ],
            "description": "Excessive oversize packets configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "full-duplex-mismatch": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemActionGet"
              }
            ],
            "description": "Full-duplex mismatch.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "half-duplex-mismatch": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemActionGet"
              }
            ],
            "description": "Half-duplex mismatch.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "link-flap": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemActionGet"
              }
            ],
            "description": "Link flap monitor configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "link-loss": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemActionGet"
              }
            ],
            "description": "Link loss configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "over-bandwidth": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaFaultMonitor_FaultMonitorSwitchSystemActionGet"
              }
            ],
            "description": "Excessive collisions or drops configuration.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaLoopProtect_LoopProtectSwitchSystemConfig": {
        "description": "Loop protect configuration.Loop protection can find loops in\nuntagged layer 2 links as well as tagged VLAN.",
        "properties": {
          "mode": {
            "default": "PORT_MODE",
            "description": "Sets whether loop-protect mode is either port based or vlan based.",
            "enum": [
              "PORT_MODE",
              "VLAN_MODE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "PORT_MODE": "Set loop protection to work on a port basis.",
              "VLAN_MODE": "Set loop protection to work on a VLAN basis."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Loop protect mode."
          },
          "re-enable-timer": {
            "description": "Time interval for enabling port blocked by loop-protect.",
            "format": "int64",
            "maximum": 604800,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "transmit-interval": {
            "default": "5",
            "description": "Loop-protect packet transmission time interval.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "trap": {
            "default": "false",
            "description": "Enable SNMP traps when a loop is detected by loop-protect.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "vlans": {
            "description": "List of VLANs for sending loop-protect pdus(Protocol Data Unit)\nfor a port.",
            "items": {
              "description": "List of VLANs for sending loop-protect pdus(Protocol Data Unit)\nfor a port.",
              "format": "int32",
              "maximum": 4094,
              "minimum": 1,
              "type": "integer",
              "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ],
              "x-typeDescription": "Type definition representing a single-tagged VLAN"
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaLoopProtect_LoopProtectSwitchSystemConfigGet": {
        "description": "Loop protect configuration.Loop protection can find loops in\nuntagged layer 2 links as well as tagged VLAN.",
        "properties": {
          "mode": {
            "default": "PORT_MODE",
            "description": "Sets whether loop-protect mode is either port based or vlan based.",
            "enum": [
              "PORT_MODE",
              "VLAN_MODE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "PORT_MODE": "Set loop protection to work on a port basis.",
              "VLAN_MODE": "Set loop protection to work on a VLAN basis."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Loop protect mode."
          },
          "re-enable-timer": {
            "description": "Time interval for enabling port blocked by loop-protect.",
            "format": "int64",
            "maximum": 604800,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "transmit-interval": {
            "default": "5",
            "description": "Loop-protect packet transmission time interval.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "trap": {
            "default": "false",
            "description": "Enable SNMP traps when a loop is detected by loop-protect.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "vlans": {
            "description": "List of VLANs for sending loop-protect pdus(Protocol Data Unit)\nfor a port.",
            "items": {
              "description": "List of VLANs for sending loop-protect pdus(Protocol Data Unit)\nfor a port.",
              "format": "int32",
              "maximum": 4094,
              "minimum": 1,
              "type": "integer",
              "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
              "x-supportedDeviceType": [
                "Switch PVOS"
              ],
              "x-typeDescription": "Type definition representing a single-tagged VLAN"
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaMacsec_MacsecSystemConfig": {
        "description": "Grouping for system level MACsec configurations.",
        "properties": {
          "selftest-enable": {
            "default": "false",
            "description": "Enable MACsec selftest on the device.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMacsec_MacsecSystemConfigGet": {
        "description": "Grouping for system level MACsec configurations.",
        "properties": {
          "selftest-enable": {
            "default": "false",
            "description": "Enable MACsec selftest on the device.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPortSecurity_PortSecuritySystemConfig": {
        "description": "Port security policy configurations.",
        "properties": {
          "enable": {
            "default": "false",
            "description": "Enable port-security on the system.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "traps-enable": {
            "default": "true",
            "description": "Enable port-security violation traps on the system.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPortSecurity_PortSecuritySystemConfigGet": {
        "description": "Port security policy configurations.",
        "properties": {
          "enable": {
            "default": "false",
            "description": "Enable port-security on the system.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "traps-enable": {
            "default": "true",
            "description": "Enable port-security violation traps on the system.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaSwitchSystem_AccessList": {
        "description": "Grouping for global access-list configurations",
        "properties": {
          "deny-fragmented-tcp-header": {
            "default": "false",
            "description": "Configure the switch to drop all IPv4 and IPv6 packets containing a fragmented TCP header.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "deny-non-classifiable-layer4-header": {
            "default": "false",
            "description": "Configure the switch to drop all IPv6 packets for which the Layer 4 header cannot be processed by ACL hardware.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "log-enable": {
            "default": "true",
            "description": "Enable ACL logging. Enabled by default",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "log-timer": {
            "description": "Sets the log timer interval for all ACEs that have the log parameter configured.",
            "format": "int32",
            "maximum": 300,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "secure-update": {
            "default": "true",
            "description": "Secure update determines if access lists are updated using the secure-update feature. Secure-update is enabled by default.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS"
        ]
      },
      "ArubaSwitchSystem_AccessListGet": {
        "description": "Grouping for global access-list configurations",
        "properties": {
          "deny-fragmented-tcp-header": {
            "default": "false",
            "description": "Configure the switch to drop all IPv4 and IPv6 packets containing a fragmented TCP header.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "deny-non-classifiable-layer4-header": {
            "default": "false",
            "description": "Configure the switch to drop all IPv6 packets for which the Layer 4 header cannot be processed by ACL hardware.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
[...]
