{
  "openapi": "3.1.0",
  "info": {
    "title": "Timerange",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Timerange"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/time-ranges": {
      "get": {
        "description": "Configure time range profiles on device to enable or diable access to an SSID during a specific period of time.\nThis feature is only applicable for AP.",
        "operationId": "readTimeRanges",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaTimerange_TimeRangesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured time ranges",
        "tags": [
          "Timerange"
        ],
        "x-cliParam": {
          "commandName": "readTimeRangesCmd",
          "commandUse": "time-ranges",
          "parentCommand": "readCmd",
          "pathToPrint": "/time-ranges/",
          "summary": "Read operation for time-ranges"
        }
      }
    },
    "/network-config/v1alpha1/time-ranges/{name}": {
      "get": {
        "description": "Configure an absolute or periodic time profile.",
        "operationId": "readTimeRangesTimeRangeByID",
        "parameters": [
          {
            "description": "Time Range name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaTimerange_TimeRangestimeRangeSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured profile for time range",
        "tags": [
          "Timerange"
        ],
        "x-cliParam": {
          "commandName": "readTimeRangesTimeRangeCmd",
          "commandUse": "time-range",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readTimeRangesCmd",
          "pathToPrint": "/time-ranges/time-range/%s/",
          "summary": "Read operation for time-range",
          "totParams": 1
        }
      },
      "put": {
        "description": "Configure an absolute or periodic time profile.",
        "operationId": "replaceTimeRangesTimeRangeByID",
        "parameters": [
          {
            "description": "Time Range name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaTimerange_TimeRangestimeRangeSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing time range profile configurations",
        "tags": [
          "Timerange"
        ],
        "x-cliParam": {
          "commandName": "replaceTimeRangesTimeRangeCmd",
          "commandUse": "time-range",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceTimeRangesCmd",
          "pathToPrint": "/time-ranges/time-range/%s/",
          "summary": "Replace operation for time-range",
          "totParams": 1
        }
      },
      "post": {
        "description": "Configure an absolute or periodic time profile.",
        "operationId": "createTimeRangesTimeRangeByID",
        "parameters": [
          {
            "description": "Time Range name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaTimerange_TimeRangestimeRangeSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create profile for time range",
        "tags": [
          "Timerange"
        ],
        "x-cliParam": {
          "commandName": "createTimeRangesTimeRangeCmd",
          "commandUse": "time-range",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createTimeRangesCmd",
          "pathToPrint": "/time-ranges/time-range/%s/",
          "summary": "Create operation for time-range",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Configure an absolute or periodic time profile.",
        "operationId": "deleteTimeRangesTimeRangeByID",
        "parameters": [
          {
            "description": "Time Range name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the profile for time range",
        "tags": [
          "Timerange"
        ],
        "x-cliParam": {
          "commandName": "deleteTimeRangesTimeRangeCmd",
          "commandUse": "time-range",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteTimeRangesCmd",
          "pathToPrint": "/time-ranges/time-range/%s/",
          "summary": "Delete operation for time-range",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Configure an absolute or periodic time profile.",
        "operationId": "updateTimeRangesTimeRangeByID",
        "parameters": [
          {
            "description": "Time Range name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaTimerange_TimeRangestimeRangeSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing time range profile configurations",
        "tags": [
          "Timerange"
        ],
        "x-cliParam": {
          "commandName": "updateTimeRangesTimeRangeCmd",
          "commandUse": "time-range",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateTimeRangesCmd",
          "pathToPrint": "/time-ranges/time-range/%s/",
          "summary": "Update operation for time-range",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaTimerange_TimeRangesSchemaGET": {
        "description": "Configure time range profiles on device to enable or diable access to an SSID during a specific period of time.\nThis feature is only applicable for AP.",
        "properties": {
          "time-range": {
            "description": "Configure an absolute or periodic time profile.",
            "items": {
              "properties": {
                "description": {
                  "description": "Time Range profile description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "end-date-time": {
                  "description": "End date in the mm/dd/yyyy format and end time in the hh:mm format.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "date-and-time",
                  "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ],
                  "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
                },
                "name": {
                  "description": "Time Range name.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "range-type": {
                  "description": "Time Range absolute or periodici.\nRange: ABSOLUTE, PERIODIC.",
                  "enum": [
                    "ABSOLUTE",
                    "PERIODIC"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ABSOLUTE": "The SSID is made available only during the specified date and time range.",
                    "PERIODIC": "The availability of the SSID will be periodically changed based on the time range set."
                  },
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ],
                  "x-typeDescription": "Time Range type."
                },
                "rangelist": {
                  "description": "List of periodic time ranges.",
                  "items": {
                    "properties": {
                      "end-day-of-week": {
                        "description": "Enter the end day for the time range profile.",
                        "format": "int32",
                        "maximum": 7,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Access Point",
                          "Gateway"
                        ]
                      },
                      "end-time": {
                        "description": "End time. 24-hour time, expressed as HH:MM\nHH:00-23, MM:00-59.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "end-time",
                        "x-patterns": "'([01]?[0-9]|2[0-3]):[0-5][0-9]'",
                        "x-supportedDeviceType": [
                          "Access Point",
                          "Gateway"
                        ]
                      },
                      "index": {
                        "description": "Time range index.",
                        "format": "int32",
                        "maximum": 100,
                        "minimum": 0,
                        "type": "integer"
                      },
                      "period": {
                        "description": "Period type.\nRange: DAILY, WEEKEND, WEEKDAY, DAY_OF_WEEK.",
                        "enum": [
                          "DAILY",
                          "WEEKEND",
                          "WEEKDAY",
                          "DAY_OF_WEEK"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "DAILY": "Daily.",
                          "DAY_OF_WEEK": "Day of Week.",
                          "WEEKDAY": "Weekday.",
                          "WEEKEND": "Weekend."
                        },
                        "x-supportedDeviceType": [
                          "Access Point",
                          "Gateway"
                        ],
                        "x-typeDescription": "Period type."
                      },
                      "start-day-of-week": {
                        "description": "Specify any day of the week from Monday to Sunday.",
                        "format": "int32",
                        "maximum": 7,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Access Point",
                          "Gateway"
                        ]
                      },
                      "start-time": {
                        "description": "Start time. 24-hour time, expressed as HH:MM\nHH:00-23, MM:00-59.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "start-time",
                        "x-patterns": "'([01]?[0-9]|2[0-3]):[0-5][0-9]'",
                        "x-supportedDeviceType": [
                          "Access Point",
                          "Gateway"
                        ]
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "index"
                  ],
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "start-date-time": {
                  "description": "Start date in the mm/dd/yyyy format and start time in the hh:mm format.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "date-and-time",
                  "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ],
                  "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaTimerange_TimeRangestimeRangeSchema": {
        "properties": {
          "description": {
            "description": "Time Range profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "end-date-time": {
            "description": "End date in the mm/dd/yyyy format and end time in the hh:mm format.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "date-and-time",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
          },
          "name": {
            "description": "Time Range name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "range-type": {
            "description": "Time Range absolute or periodici.\nRange: ABSOLUTE, PERIODIC.",
            "enum": [
              "ABSOLUTE",
              "PERIODIC"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ABSOLUTE": "The SSID is made available only during the specified date and time range.",
              "PERIODIC": "The availability of the SSID will be periodically changed based on the time range set."
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "Time Range type."
          },
          "rangelist": {
            "description": "List of periodic time ranges.",
            "items": {
              "properties": {
                "end-day-of-week": {
                  "description": "Enter the end day for the time range profile.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "end-time": {
                  "description": "End time. 24-hour time, expressed as HH:MM\nHH:00-23, MM:00-59.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "end-time",
                  "x-patterns": "'([01]?[0-9]|2[0-3]):[0-5][0-9]'",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "index": {
                  "description": "Time range index.",
                  "format": "int32",
                  "maximum": 100,
                  "minimum": 0,
                  "type": "integer"
                },
                "period": {
                  "description": "Period type.\nRange: DAILY, WEEKEND, WEEKDAY, DAY_OF_WEEK.",
                  "enum": [
                    "DAILY",
                    "WEEKEND",
                    "WEEKDAY",
                    "DAY_OF_WEEK"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "DAILY": "Daily.",
                    "DAY_OF_WEEK": "Day of Week.",
                    "WEEKDAY": "Weekday.",
                    "WEEKEND": "Weekend."
                  },
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ],
                  "x-typeDescription": "Period type."
                },
                "start-day-of-week": {
                  "description": "Specify any day of the week from Monday to Sunday.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "start-time": {
                  "description": "Start time. 24-hour time, expressed as HH:MM\nHH:00-23, MM:00-59.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "start-time",
                  "x-patterns": "'([01]?[0-9]|2[0-3]):[0-5][0-9]'",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "index"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "start-date-time": {
            "description": "Start date in the mm/dd/yyyy format and start time in the hh:mm format.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "date-and-time",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
          }
        }
      },
      "ArubaTimerange_TimeRangestimeRangeSchemaGet": {
        "properties": {
          "description": {
            "description": "Time Range profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "end-date-time": {
            "description": "End date in the mm/dd/yyyy format and end time in the hh:mm format.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "date-and-time",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
          },
          "name": {
            "description": "Time Range name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "range-type": {
            "description": "Time Range absolute or periodici.\nRange: ABSOLUTE, PERIODIC.",
            "enum": [
              "ABSOLUTE",
              "PERIODIC"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ABSOLUTE": "The SSID is made available only during the specified date and time range.",
              "PERIODIC": "The availability of the SSID will be periodically changed based on the time range set."
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "Time Range type."
          },
          "rangelist": {
            "description": "List of periodic time ranges.",
            "items": {
              "properties": {
                "end-day-of-week": {
                  "description": "Enter the end day for the time range profile.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "end-time": {
                  "description": "End time. 24-hour time, expressed as HH:MM\nHH:00-23, MM:00-59.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "end-time",
                  "x-patterns": "'([01]?[0-9]|2[0-3]):[0-5][0-9]'",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "index": {
                  "description": "Time range index.",
                  "format": "int32",
                  "maximum": 100,
                  "minimum": 0,
                  "type": "integer"
                },
                "period": {
                  "description": "Period type.\nRange: DAILY, WEEKEND, WEEKDAY, DAY_OF_WEEK.",
                  "enum": [
                    "DAILY",
                    "WEEKEND",
                    "WEEKDAY",
                    "DAY_OF_WEEK"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "DAILY": "Daily.",
                    "DAY_OF_WEEK": "Day of Week.",
                    "WEEKDAY": "Weekday.",
                    "WEEKEND": "Weekend."
                  },
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ],
                  "x-typeDescription": "Period type."
                },
                "start-day-of-week": {
                  "description": "Specify any day of the week from Monday to Sunday.",
                  "format": "int32",
                  "maximum": 7,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "start-time": {
                  "description": "Start time. 24-hour time, expressed as HH:MM\nHH:00-23, MM:00-59.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "start-time",
                  "x-patterns": "'([01]?[0-9]|2[0-3]):[0-5][0-9]'",
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "index"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "start-date-time": {
            "description": "Start date in the mm/dd/yyyy format and start time in the hh:mm format.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "date-and-time",
            "x-patterns": "'[0-9]{4}\\-(0[1-9]|1[0-2])\\-(0[1-9]|[12][0-9]|3[01])[Tt](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9]):(0[0-9]|[1-5][0-9]|60)(\\.[0-9]+)?([Zz]|([+-](0[0-9]|1[0-9]|2[0-3]):(0[0-9]|[1-5][0-9])))'",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "A date and time, expressed in the format described in RFC3339.\nThat is to say:\n\nYYYY-MM-DDTHH:MM:SSZ+-hh:mm\n\nwhere YYYY is the year, MM is the month expressed as a two-digit\nmonth (zero padding if required), DD is the day of the month,\nexpressed as a two digit value. T is the literal character 'T',\nHH is the hour of the day expressed as a two digit number, using\nthe 24-hour clock, MM is the minute of the hour expressed as a\ntwo digit number. Z is the literal character 'Z', followed by a\ntimezone offset expressed in hours (hh) and minutes (mm), both\nexpressed as two digit numbers. The time offset is specified as\na positive or negative offset to UTC using the '+' or '-'\ncharacter preceding the offset.\n\nOptionally, fractional seconds can be expressed after the minute\nof the hour as a decimal number of unspecified precision\nreflecting fractions of a second."
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaTimerange_TimeRangestimeRangeSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaTimerange_TimeRangestimeRangeSchema"
            }
          }
        },
        "description": "time-rangebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
