{
  "openapi": "3.1.0",
  "info": {
    "title": "Switch Stack",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Switch Stack"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/stacks": {
      "get": {
        "description": "Configure and Manage switch stacks.\nSwitch Stack OR Virtual Switching Framework(VSF), defines a virtual switch,\ncomprising multiple individual physical switches, inter-connected through\nstandard Ethernet links. These physical switches will operate with one\ncontrol plane, thereby visible to the peers as a virtual switch stack.\n\nWithin the stack, one switch is the Conductor switch, which runs all the\ncontrol plane software and manages the ASICs of all the stack members.\nA second switch can be configured as the Standby switch, which will\ntake over as Conductor if the conductor fails.\n\nIt is strongly recommended to configure a secondary member in the stack,\nsince a stack with a standby offers resiliency and high-availability.",
        "operationId": "readStacks",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaSwitchStack_StacksSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured stacks",
        "tags": [
          "Switch Stack"
        ],
        "x-cliParam": {
          "commandName": "readStacksCmd",
          "commandUse": "stacks",
          "parentCommand": "readCmd",
          "pathToPrint": "/stacks/",
          "summary": "Read operation for stacks"
        }
      }
    },
    "/network-config/v1alpha1/stacks/{name}": {
      "get": {
        "description": "List of stacks.",
        "operationId": "readStacksStackByID",
        "parameters": [
          {
            "description": "Name of the stack.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaSwitchStack_StacksstackSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing stack configurations",
        "tags": [
          "Switch Stack"
        ],
        "x-cliParam": {
          "commandName": "readStacksStackCmd",
          "commandUse": "stack",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readStacksCmd",
          "pathToPrint": "/stacks/stack/%s/",
          "summary": "Read operation for stack",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of stacks.",
        "operationId": "replaceStacksStackByID",
        "parameters": [
          {
            "description": "Name of the stack.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSwitchStack_StacksstackSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing stack configurations",
        "tags": [
          "Switch Stack"
        ],
        "x-cliParam": {
          "commandName": "replaceStacksStackCmd",
          "commandUse": "stack",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceStacksCmd",
          "pathToPrint": "/stacks/stack/%s/",
          "summary": "Replace operation for stack",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of stacks.",
        "operationId": "createStacksStackByID",
        "parameters": [
          {
            "description": "Name of the stack.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSwitchStack_StacksstackSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new stack by unique name",
        "tags": [
          "Switch Stack"
        ],
        "x-cliParam": {
          "commandName": "createStacksStackCmd",
          "commandUse": "stack",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createStacksCmd",
          "pathToPrint": "/stacks/stack/%s/",
          "summary": "Create operation for stack",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of stacks.",
        "operationId": "deleteStacksStackByID",
        "parameters": [
          {
            "description": "Name of the stack.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the stack",
        "tags": [
          "Switch Stack"
        ],
        "x-cliParam": {
          "commandName": "deleteStacksStackCmd",
          "commandUse": "stack",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteStacksCmd",
          "pathToPrint": "/stacks/stack/%s/",
          "summary": "Delete operation for stack",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of stacks.",
        "operationId": "updateStacksStackByID",
        "parameters": [
          {
            "description": "Name of the stack.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaSwitchStack_StacksstackSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing stack configurations",
        "tags": [
          "Switch Stack"
        ],
        "x-cliParam": {
          "commandName": "updateStacksStackCmd",
          "commandUse": "stack",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateStacksCmd",
          "pathToPrint": "/stacks/stack/%s/",
          "summary": "Update operation for stack",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaSwitchStack_BpsFlexibleModuleConfiguration": {
        "description": "BPS Flexible module configuration for 2930M and 3810 platforms.",
        "properties": {
          "flex-module-A": {
            "description": "BPS Flexible module slot A.",
            "enum": [
              "JL078A",
              "JL079A",
              "JL081A",
              "JL083A"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "JL078A": "The Aruba 1QSFP+ 40GbE Module.",
              "JL079A": "The Aruba 2QSFP+ 40GbE Module.",
              "JL081A": "The Aruba 4 HPE Smart Rate PoE+ Module.",
              "JL083A": "The Aruba 4SFP+ Module."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "The flexible module SKUs."
          },
          "flex-module-B": {
            "description": "BPS Flexible module slot B.",
            "enum": [
              "JL078A",
              "JL079A",
              "JL081A",
              "JL083A"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "JL078A": "The Aruba 1QSFP+ 40GbE Module.",
              "JL079A": "The Aruba 2QSFP+ 40GbE Module.",
              "JL081A": "The Aruba 4 HPE Smart Rate PoE+ Module.",
              "JL083A": "The Aruba 4SFP+ Module."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "The flexible module SKUs."
          }
        }
      },
      "ArubaSwitchStack_BpsFlexibleModuleConfigurationGet": {
        "description": "BPS Flexible module configuration for 2930M and 3810 platforms.",
        "properties": {
          "flex-module-A": {
            "description": "BPS Flexible module slot A.",
            "enum": [
              "JL078A",
              "JL079A",
              "JL081A",
              "JL083A"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "JL078A": "The Aruba 1QSFP+ 40GbE Module.",
              "JL079A": "The Aruba 2QSFP+ 40GbE Module.",
              "JL081A": "The Aruba 4 HPE Smart Rate PoE+ Module.",
              "JL083A": "The Aruba 4SFP+ Module."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "The flexible module SKUs."
          },
          "flex-module-B": {
            "description": "BPS Flexible module slot B.",
            "enum": [
              "JL078A",
              "JL079A",
              "JL081A",
              "JL083A"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "JL078A": "The Aruba 1QSFP+ 40GbE Module.",
              "JL079A": "The Aruba 2QSFP+ 40GbE Module.",
              "JL081A": "The Aruba 4 HPE Smart Rate PoE+ Module.",
              "JL083A": "The Aruba 4SFP+ Module."
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "The flexible module SKUs."
          }
        }
      },
      "ArubaSwitchStack_MemberBasicProperties": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaSwitchStack_MemberLinkConfiguration"
          }
        ],
        "properties": {
          "id": {
            "description": "ID of the member.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sku": {
            "description": "SKU of the member.",
            "oneOf": [
              {
                "enum": [
                  "JL658A",
                  "JL659A",
                  "JL660A",
                  "JL661A",
                  "JL662A",
                  "JL663A",
                  "JL664A",
                  "JL665A",
                  "JL666A",
                  "JL667A",
                  "JL668A",
                  "JL762A",
                  "S0G03A",
                  "S0G04A",
                  "S0G05A",
                  "S0G06A",
                  "S0F99A",
                  "S0G00A",
                  "S0G01A",
                  "S0G95A",
                  "S0G96A",
                  "S0G97A",
                  "S0G98A",
                  "S0G02A",
                  "R8S89A",
                  "R8S90A",
                  "R8S91A",
                  "R8S92A",
                  "S0E91A",
                  "S0X44A",
                  "S4P41A",
                  "S4P42A",
                  "S4P43A",
                  "S4P44A",
                  "S4P45A",
                  "S4P46A",
                  "S4P47A",
                  "S4P48A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL658A": "6300M 24SFP+/4SFP56 switch.",
                  "JL659A": "6300M 48SR PoE CLS 6/4SFP56 switch.",
                  "JL660A": "6300M 24SR PoE CLS 6/4SFP56 switch.",
                  "JL661A": "6300M 48G PoE CLS 4/4SFP56 switch.",
                  "JL662A": "6300M 24G PoE CLS 4/4SFP56 switch.",
                  "JL663A": "6300M 48G/4SFP56 switch.",
                  "JL664A": "6300M 24G/4SFP56 switch.",
                  "JL665A": "6300F 48G PoE CLS 4/4SFP56 switch.",
                  "JL666A": "6300F 24G PoE CLS 4/4SFP56 switch.",
                  "JL667A": "6300F 48G/4SFP56 switch.",
                  "JL668A": "6300F 24G/4SFP56 switch.",
                  "JL762A": "6300M 48G 4SFP56 Pwr2Prt switch.",
                  "R8S89A": "6300M 24SR CL6 PoE 2p50G 2p25G switch.",
                  "R8S90A": "6300M 48SR5 CL8 PoE 2p50G 2p25G switch.",
                  "R8S91A": "6300M 48SR5 CL8/CL6 2p50G 2p10G switch.",
                  "R8S92A": "6300M 24p SFP+ LRM 2p50G 2p25G.",
                  "S0E91A": "6300M 48SR10 CL8 PoE 4p100G Sw",
                  "S0F99A": "6300M 24G CL4 PoE 4L TAA Switch.",
                  "S0G00A": "6300M 48G 4L TAA Switch.",
                  "S0G01A": "6300M 24G 4L TAA Switch.",
                  "S0G02A": "6300M 48G 4L Pwr2Prt 2Fs TAA Bdl Switch.",
                  "S0G03A": "6300M 24P 4L TAA Switch.",
                  "S0G04A": "6300M 48SR5 CL6 PoE 4L TAA Switch.",
                  "S0G05A": "6300M 24SR5 CL6 PoE 4L TAA Switch.",
                  "S0G06A": "6300M 48G CL4 PoE 4L TAA Switch.",
                  "S0G95A": "6300F 48G CL4 4L TAA Switch.",
                  "S0G96A": "6300F 24G CL4 4L TAA Switch.",
                  "S0G97A": "6300F 48G 4L TAA Switch.",
                  "S0G98A": "6300F 24G 4L TAA Switch.",
                  "S0X44A": "6300M 48SR10 CL8 PoE 4p100G TAA Sw",
                  "S4P41A": "6300M 16SR5 32G CL8 2Y 2L Sw",
                  "S4P42A": "6300M 32SR5 CL8 8P 2Y 2L Sw",
                  "S4P43A": "6300M 48F 2Y 2L Sw",
                  "S4P44A": "6300M 24F 2Y 2L Sw",
                  "S4P45A": "6300M 16SR5 32G CL8 2Y 2L TAA Sw",
                  "S4P46A": "6300M 32SR5 CL8 8P 2Y 2L TAA Sw",
                  "S4P47A": "6300M 48F 2Y 2L TAA Sw",
                  "S4P48A": "6300M 24F 2Y 2L TAA Sw"
                },
                "x-typeDescription": "Skus for 6300 switch platform."
              },
              {
                "enum": [
                  "JL724A",
                  "JL725A",
                  "JL725B",
                  "JL726A",
                  "JL727A",
                  "JL728A",
                  "JL724B",
                  "JL726B",
                  "JL727B",
                  "JL728B",
                  "R8Q67A",
                  "R8Q68A",
                  "R8Q69A",
                  "R8Q70A",
                  "R8Q71A",
                  "R8Q72A",
                  "R8V08A",
                  "R8V09A",
                  "R8V10A",
                  "R8V11A",
                  "R8V12A",
                  "R8V13A",
                  "S0G13A",
                  "S0G14A",
                  "S0G15A",
                  "S0G16A",
                  "S0G17A",
                  "S0M81A",
                  "S0M82A",
                  "S0M83A",
                  "S0M84A",
                  "S0M85A",
                  "S0M86A",
                  "S0M87A",
                  "S0M88A",
                  "S0M89A",
                  "S0M90A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL724A": "6200F 24G 4SFP+ switch.",
                  "JL724B": "6200F 24G 4SFP+ Switch.",
                  "JL725A": "6200F 24G POE CL4 4SFP+370W switch.",
                  "JL725B": "6200F 24G C4 PoE 4SFP+ 370W Switch.",
                  "JL726A": "6200F 48G 4SFP+ switch.",
                  "JL726B": "6200F 48G 4SFP+ Switch.",
                  "JL727A": "6200F 48G POE CL4 4SFP+370W switch.",
                  "JL727B": "6200F 48G PoE 4SFP+ Switch.",
                  "JL728A": "6200F 48G POE CL4 4SFP+740W switch.",
                  "JL728B": "6200F 48G C4 PoE 4SFP+ 740W Switch.",
                  "R8Q67A": "6200M 24G 4SFP+ switch.",
                  "R8Q68A": "6200M 24G CL4 PoE 4SFP+ switch.",
                  "R8Q69A": "6200M 48G 4SFP+ switch.",
                  "R8Q70A": "6200M 48G CL4 PoE 4SFP+ switch.",
                  "R8Q71A": "6200M 36G 12SR5 CL6 PoE 4SFP+ switch.",
                  "R8Q72A": "6200F 12G CL4 PoE 2G/2SFP+ 139W switch.",
                  "R8V08A": "6200M 24G 4SFP+ TAA switch.",
                  "R8V09A": "6200M 24G CL4 PoE 4SFP+ TAA switch.",
                  "R8V10A": "6200M 48G 4SFP+ TAA switch.",
                  "R8V11A": "6200M 48G CL4 PoE 4SFP+ TAA switch.",
                  "R8V12A": "6200M 36G 12SR5 CL6 PoE 4SFP+ TAA switch.",
                  "R8V13A": "6200F 12G CL4 PoE 2G/2SFP+ 139W TAA switch.",
                  "S0G13A": "6200F 24G 4SFP T S",
                  "S0G14A": "6200F 24G C4 4SFP 370W T Sw",
                  "S0G15A": "6200F 48G 4SFP T Sw",
                  "S0G16A": "6200F 48G C4 4SFP370W T Sw",
                  "S0G17A": "6200F 48G C4 4SFP740W T Sw",
                  "S0M81A": "6200F 24G 4SFP Swch",
                  "S0M82A": "6200F 24G CL4 4SFP 370W Swch",
                  "S0M83A": "6200F 48G 4SFP Swch",
                  "S0M84A": "6200F 48G CL4 4SFP 370W Swch",
                  "S0M85A": "6200F 48G CL4 4SFP 740W Swch",
                  "S0M86A": "6200F 24G 4SFP+ TAA Swch",
                  "S0M87A": "6200F 24G CL4 4SFP+370W T Sw",
                  "S0M88A": "6200F 48G 4SFP+ TAA Swch",
                  "S0M89A": "6200F 48G CL4 4SFP+370W T Sw",
                  "S0M90A": "6200F 48G CL4 4SFP+740W T Sw"
                },
                "x-typeDescription": "Skus for 6200 switch platform."
              },
              {
                "enum": [
                  "S3L75A",
                  "S3L76A",
                  "S3L77A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "S3L75A": "HPE ANW 6300L 24SRX CL6 2L 2Y L2 Sw",
                  "S3L76A": "HPE ANW 6300L 48SR5 CL8 2L 2Y L2 Sw",
                  "S3L77A": "HPE ANW 6300L 48SR5 2L 2P LRM L2 Sw"
                },
                "x-typeDescription": "Skus for 6300L switch platform."
              },
              {
                "enum": [
                  "JL253A",
                  "JL254A",
                  "JL255A",
                  "JL256A",
                  "JL258A",
                  "JL259A",
                  "JL260A",
                  "JL261A",
                  "JL262A",
                  "JL263A",
                  "JL264A",
                  "JL557A",
                  "JL558A",
                  "JL559A",
                  "JL692A",
                  "JL693A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL253A": "2930F 24G 4SFP+ switch.",
                  "JL254A": "2930F 48G 4SFP+ switch.",
                  "JL255A": "2930F 24G PoE+ 4SFP+ switch.",
                  "JL256A": "2930F 48G PoE+ 4SFP+ switch.",
                  "JL258A": "2930F 8G PoE+ 2SFP+ switch.",
                  "JL259A": "2930F 24G 4SFP switch.",
                  "JL260A": "2930F 48G 4SFP switch.",
                  "JL261A": "2930F 24G PoE+ 4SFP switch.",
                  "JL262A": "2930F 48G PoE+ 4SFP switch.",
                  "JL263A": "2930F 24G PoE+ 4SFP+ TAA switch.",
                  "JL264A": "2930F 48G PoE+ 4SFP+ TAA switch.",
                  "JL557A": "2930F 48G PoE+ 4SFP 740W switch.",
                  "JL558A": "2930F 48G PoE+ 4SFP+ 740W switch.",
                  "JL559A": "22930F 48G PoE+ 4SFP+ 740W TAA switch.",
                  "JL692A": "6930F 8G PoE+ 2SFP+ TAA switch.",
                  "JL693A": "2930F 12G PoE+ 2G/2SFP+ switch."
                },
                "x-typeDescription": "Skus for 2930F switch platform."
              },
              {
                "enum": [
                  "J9850A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "J9850A": "5400R 6 slot chassis switch."
                },
                "x-typeDescription": "Skus for 5406 switch platform."
              },
              {
                "enum": [
                  "J9851A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "J9851A": "5400R 12 slot chassis."
                },
                "x-typeDescription": "Skus for 5412 switch platform."
              },
              {
                "enum": [
                  "JL319A",
                  "JL320A",
                  "JL321A",
                  "JL322A",
                  "JL323A",
                  "JL324A",
                  "R0M67A",
                  "R0M68A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL319A": "Aruba 2930M 24G+ switch",
                  "JL320A": "Aruba 2930M 24G PoE+ switch",
                  "JL321A": "Aruba 2930M 48G+ switch",
                  "JL322A": "Aruba 2930M 48G PoE+ switch",
                  "JL323A": "Aruba 2930M 40G 8SR PoE+ switch",
                  "JL324A": "Aruba 2930M 24SR PoE+ switch",
                  "R0M67A": "Aruba 2930M 40G 8SR PoE Class6 switch",
                  "R0M68A": "Aruba 2930M 24SR PoE Class6 switch"
                },
                "x-typeDescription": "Skus for 2930M switch platform."
              },
              {
                "enum": [
                  "JL071A",
                  "JL072A",
                  "JL073A",
                  "JL074A",
                  "JL075A",
                  "JL076A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL071A": "Aruba 3810M 24G 1-slot switch",
                  "JL072A": "Aruba 3810M 48G 1-slot switch",
                  "JL073A": "Aruba 3810M 24G PoE+ 1-slot switch",
                  "JL074A": "Aruba 3810M 48G PoE+ 1-slot switch",
                  "JL075A": "Aruba 3810M 16SFP+ 2-slot switch",
                  "JL076A": "Aruba 3810M 20G 8 HPE Smart Rate PoE+ 1-slot switch"
                },
                "x-typeDescription": "Skus for 3810 switch platform."
              },
              {
                "enum": [
                  "JL817A",
                  "JL818A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL817A": "4100i 12-port 1GbE (8-port Class 4 POE and 4-port Class 6 POE) 2-port SFP+ DIN Mount Switch",
                  "JL818A": "4100i 24-port 1GbE (20-port Class 4 POE and 4-port Class 6 POE) 4-port SFP+ Switch"
                },
                "x-typeDescription": "Skus for 4100i switch platform."
              },
              {
                "enum": [
                  "JL675A",
                  "JL676A",
                  "JL677A",
                  "JL678A",
                  "JL679A",
                  "R9Y04A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL675A": "6100 48G Class4 PoE 4SFP+ 370W Switch",
                  "JL676A": "6100 48G 4SFP+ Switch",
                  "JL677A": "6100 24G Class4 PoE 4SFP+ 370W Switch",
                  "JL678A": "6100 24G 4SFP+ Switch",
                  "JL679A": "6100 12G Class4 PoE 2G/2SFP+ 139W Switch",
                  "R9Y04A": "6100 48G Class4 PoE 4SFP+ 740W Switch"
                },
                "x-typeDescription": "Skus for 6100 switch platform."
              }
            ],
            "x-mandatory": true,
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "required": [
          "sku"
        ]
      },
      "ArubaSwitchStack_MemberBasicPropertiesGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaSwitchStack_MemberLinkConfigurationGet"
          }
        ],
        "properties": {
          "id": {
            "description": "ID of the member.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sku": {
            "description": "SKU of the member.",
            "oneOf": [
              {
                "enum": [
                  "JL658A",
                  "JL659A",
                  "JL660A",
                  "JL661A",
                  "JL662A",
                  "JL663A",
                  "JL664A",
                  "JL665A",
                  "JL666A",
                  "JL667A",
                  "JL668A",
                  "JL762A",
                  "S0G03A",
                  "S0G04A",
                  "S0G05A",
                  "S0G06A",
                  "S0F99A",
                  "S0G00A",
                  "S0G01A",
                  "S0G95A",
                  "S0G96A",
                  "S0G97A",
                  "S0G98A",
                  "S0G02A",
                  "R8S89A",
                  "R8S90A",
                  "R8S91A",
                  "R8S92A",
                  "S0E91A",
                  "S0X44A",
                  "S4P41A",
                  "S4P42A",
                  "S4P43A",
                  "S4P44A",
                  "S4P45A",
                  "S4P46A",
                  "S4P47A",
                  "S4P48A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL658A": "6300M 24SFP+/4SFP56 switch.",
                  "JL659A": "6300M 48SR PoE CLS 6/4SFP56 switch.",
                  "JL660A": "6300M 24SR PoE CLS 6/4SFP56 switch.",
                  "JL661A": "6300M 48G PoE CLS 4/4SFP56 switch.",
                  "JL662A": "6300M 24G PoE CLS 4/4SFP56 switch.",
                  "JL663A": "6300M 48G/4SFP56 switch.",
                  "JL664A": "6300M 24G/4SFP56 switch.",
                  "JL665A": "6300F 48G PoE CLS 4/4SFP56 switch.",
                  "JL666A": "6300F 24G PoE CLS 4/4SFP56 switch.",
                  "JL667A": "6300F 48G/4SFP56 switch.",
                  "JL668A": "6300F 24G/4SFP56 switch.",
                  "JL762A": "6300M 48G 4SFP56 Pwr2Prt switch.",
                  "R8S89A": "6300M 24SR CL6 PoE 2p50G 2p25G switch.",
                  "R8S90A": "6300M 48SR5 CL8 PoE 2p50G 2p25G switch.",
                  "R8S91A": "6300M 48SR5 CL8/CL6 2p50G 2p10G switch.",
                  "R8S92A": "6300M 24p SFP+ LRM 2p50G 2p25G.",
                  "S0E91A": "6300M 48SR10 CL8 PoE 4p100G Sw",
                  "S0F99A": "6300M 24G CL4 PoE 4L TAA Switch.",
                  "S0G00A": "6300M 48G 4L TAA Switch.",
                  "S0G01A": "6300M 24G 4L TAA Switch.",
                  "S0G02A": "6300M 48G 4L Pwr2Prt 2Fs TAA Bdl Switch.",
                  "S0G03A": "6300M 24P 4L TAA Switch.",
                  "S0G04A": "6300M 48SR5 CL6 PoE 4L TAA Switch.",
                  "S0G05A": "6300M 24SR5 CL6 PoE 4L TAA Switch.",
                  "S0G06A": "6300M 48G CL4 PoE 4L TAA Switch.",
                  "S0G95A": "6300F 48G CL4 4L TAA Switch.",
                  "S0G96A": "6300F 24G CL4 4L TAA Switch.",
                  "S0G97A": "6300F 48G 4L TAA Switch.",
                  "S0G98A": "6300F 24G 4L TAA Switch.",
                  "S0X44A": "6300M 48SR10 CL8 PoE 4p100G TAA Sw",
                  "S4P41A": "6300M 16SR5 32G CL8 2Y 2L Sw",
                  "S4P42A": "6300M 32SR5 CL8 8P 2Y 2L Sw",
                  "S4P43A": "6300M 48F 2Y 2L Sw",
                  "S4P44A": "6300M 24F 2Y 2L Sw",
                  "S4P45A": "6300M 16SR5 32G CL8 2Y 2L TAA Sw",
                  "S4P46A": "6300M 32SR5 CL8 8P 2Y 2L TAA Sw",
                  "S4P47A": "6300M 48F 2Y 2L TAA Sw",
                  "S4P48A": "6300M 24F 2Y 2L TAA Sw"
                },
                "x-typeDescription": "Skus for 6300 switch platform."
              },
              {
                "enum": [
                  "JL724A",
                  "JL725A",
                  "JL725B",
                  "JL726A",
                  "JL727A",
                  "JL728A",
                  "JL724B",
                  "JL726B",
                  "JL727B",
                  "JL728B",
                  "R8Q67A",
                  "R8Q68A",
                  "R8Q69A",
                  "R8Q70A",
                  "R8Q71A",
                  "R8Q72A",
                  "R8V08A",
                  "R8V09A",
                  "R8V10A",
                  "R8V11A",
                  "R8V12A",
                  "R8V13A",
                  "S0G13A",
                  "S0G14A",
                  "S0G15A",
                  "S0G16A",
                  "S0G17A",
                  "S0M81A",
                  "S0M82A",
                  "S0M83A",
                  "S0M84A",
                  "S0M85A",
                  "S0M86A",
                  "S0M87A",
                  "S0M88A",
                  "S0M89A",
                  "S0M90A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL724A": "6200F 24G 4SFP+ switch.",
                  "JL724B": "6200F 24G 4SFP+ Switch.",
                  "JL725A": "6200F 24G POE CL4 4SFP+370W switch.",
                  "JL725B": "6200F 24G C4 PoE 4SFP+ 370W Switch.",
                  "JL726A": "6200F 48G 4SFP+ switch.",
                  "JL726B": "6200F 48G 4SFP+ Switch.",
                  "JL727A": "6200F 48G POE CL4 4SFP+370W switch.",
                  "JL727B": "6200F 48G PoE 4SFP+ Switch.",
                  "JL728A": "6200F 48G POE CL4 4SFP+740W switch.",
                  "JL728B": "6200F 48G C4 PoE 4SFP+ 740W Switch.",
                  "R8Q67A": "6200M 24G 4SFP+ switch.",
                  "R8Q68A": "6200M 24G CL4 PoE 4SFP+ switch.",
                  "R8Q69A": "6200M 48G 4SFP+ switch.",
                  "R8Q70A": "6200M 48G CL4 PoE 4SFP+ switch.",
                  "R8Q71A": "6200M 36G 12SR5 CL6 PoE 4SFP+ switch.",
                  "R8Q72A": "6200F 12G CL4 PoE 2G/2SFP+ 139W switch.",
                  "R8V08A": "6200M 24G 4SFP+ TAA switch.",
                  "R8V09A": "6200M 24G CL4 PoE 4SFP+ TAA switch.",
                  "R8V10A": "6200M 48G 4SFP+ TAA switch.",
                  "R8V11A": "6200M 48G CL4 PoE 4SFP+ TAA switch.",
                  "R8V12A": "6200M 36G 12SR5 CL6 PoE 4SFP+ TAA switch.",
                  "R8V13A": "6200F 12G CL4 PoE 2G/2SFP+ 139W TAA switch.",
                  "S0G13A": "6200F 24G 4SFP T S",
                  "S0G14A": "6200F 24G C4 4SFP 370W T Sw",
                  "S0G15A": "6200F 48G 4SFP T Sw",
                  "S0G16A": "6200F 48G C4 4SFP370W T Sw",
                  "S0G17A": "6200F 48G C4 4SFP740W T Sw",
                  "S0M81A": "6200F 24G 4SFP Swch",
                  "S0M82A": "6200F 24G CL4 4SFP 370W Swch",
                  "S0M83A": "6200F 48G 4SFP Swch",
                  "S0M84A": "6200F 48G CL4 4SFP 370W Swch",
                  "S0M85A": "6200F 48G CL4 4SFP 740W Swch",
                  "S0M86A": "6200F 24G 4SFP+ TAA Swch",
                  "S0M87A": "6200F 24G CL4 4SFP+370W T Sw",
                  "S0M88A": "6200F 48G 4SFP+ TAA Swch",
                  "S0M89A": "6200F 48G CL4 4SFP+370W T Sw",
                  "S0M90A": "6200F 48G CL4 4SFP+740W T Sw"
                },
                "x-typeDescription": "Skus for 6200 switch platform."
              },
              {
                "enum": [
                  "S3L75A",
                  "S3L76A",
                  "S3L77A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "S3L75A": "HPE ANW 6300L 24SRX CL6 2L 2Y L2 Sw",
                  "S3L76A": "HPE ANW 6300L 48SR5 CL8 2L 2Y L2 Sw",
                  "S3L77A": "HPE ANW 6300L 48SR5 2L 2P LRM L2 Sw"
                },
                "x-typeDescription": "Skus for 6300L switch platform."
              },
              {
                "enum": [
                  "JL253A",
                  "JL254A",
                  "JL255A",
                  "JL256A",
                  "JL258A",
                  "JL259A",
                  "JL260A",
                  "JL261A",
                  "JL262A",
                  "JL263A",
                  "JL264A",
                  "JL557A",
                  "JL558A",
                  "JL559A",
                  "JL692A",
                  "JL693A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL253A": "2930F 24G 4SFP+ switch.",
                  "JL254A": "2930F 48G 4SFP+ switch.",
                  "JL255A": "2930F 24G PoE+ 4SFP+ switch.",
                  "JL256A": "2930F 48G PoE+ 4SFP+ switch.",
                  "JL258A": "2930F 8G PoE+ 2SFP+ switch.",
                  "JL259A": "2930F 24G 4SFP switch.",
                  "JL260A": "2930F 48G 4SFP switch.",
                  "JL261A": "2930F 24G PoE+ 4SFP switch.",
                  "JL262A": "2930F 48G PoE+ 4SFP switch.",
                  "JL263A": "2930F 24G PoE+ 4SFP+ TAA switch.",
                  "JL264A": "2930F 48G PoE+ 4SFP+ TAA switch.",
                  "JL557A": "2930F 48G PoE+ 4SFP 740W switch.",
                  "JL558A": "2930F 48G PoE+ 4SFP+ 740W switch.",
                  "JL559A": "22930F 48G PoE+ 4SFP+ 740W TAA switch.",
                  "JL692A": "6930F 8G PoE+ 2SFP+ TAA switch.",
                  "JL693A": "2930F 12G PoE+ 2G/2SFP+ switch."
                },
                "x-typeDescription": "Skus for 2930F switch platform."
              },
              {
                "enum": [
                  "J9850A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "J9850A": "5400R 6 slot chassis switch."
                },
                "x-typeDescription": "Skus for 5406 switch platform."
              },
              {
                "enum": [
                  "J9851A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "J9851A": "5400R 12 slot chassis."
                },
                "x-typeDescription": "Skus for 5412 switch platform."
              },
              {
                "enum": [
                  "JL319A",
                  "JL320A",
                  "JL321A",
                  "JL322A",
                  "JL323A",
                  "JL324A",
                  "R0M67A",
                  "R0M68A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL319A": "Aruba 2930M 24G+ switch",
                  "JL320A": "Aruba 2930M 24G PoE+ switch",
                  "JL321A": "Aruba 2930M 48G+ switch",
                  "JL322A": "Aruba 2930M 48G PoE+ switch",
                  "JL323A": "Aruba 2930M 40G 8SR PoE+ switch",
                  "JL324A": "Aruba 2930M 24SR PoE+ switch",
                  "R0M67A": "Aruba 2930M 40G 8SR PoE Class6 switch",
                  "R0M68A": "Aruba 2930M 24SR PoE Class6 switch"
                },
                "x-typeDescription": "Skus for 2930M switch platform."
              },
              {
                "enum": [
                  "JL071A",
                  "JL072A",
                  "JL073A",
                  "JL074A",
                  "JL075A",
                  "JL076A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL071A": "Aruba 3810M 24G 1-slot switch",
                  "JL072A": "Aruba 3810M 48G 1-slot switch",
                  "JL073A": "Aruba 3810M 24G PoE+ 1-slot switch",
                  "JL074A": "Aruba 3810M 48G PoE+ 1-slot switch",
                  "JL075A": "Aruba 3810M 16SFP+ 2-slot switch",
                  "JL076A": "Aruba 3810M 20G 8 HPE Smart Rate PoE+ 1-slot switch"
                },
                "x-typeDescription": "Skus for 3810 switch platform."
              },
              {
                "enum": [
                  "JL817A",
                  "JL818A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL817A": "4100i 12-port 1GbE (8-port Class 4 POE and 4-port Class 6 POE) 2-port SFP+ DIN Mount Switch",
                  "JL818A": "4100i 24-port 1GbE (20-port Class 4 POE and 4-port Class 6 POE) 4-port SFP+ Switch"
                },
                "x-typeDescription": "Skus for 4100i switch platform."
              },
              {
                "enum": [
                  "JL675A",
                  "JL676A",
                  "JL677A",
                  "JL678A",
                  "JL679A",
                  "R9Y04A"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "JL675A": "6100 48G Class4 PoE 4SFP+ 370W Switch",
                  "JL676A": "6100 48G 4SFP+ Switch",
                  "JL677A": "6100 24G Class4 PoE 4SFP+ 370W Switch",
                  "JL678A": "6100 24G 4SFP+ Switch",
                  "JL679A": "6100 12G Class4 PoE 2G/2SFP+ 139W Switch",
                  "R9Y04A": "6100 48G Class4 PoE 4SFP+ 740W Switch"
                },
                "x-typeDescription": "Skus for 6100 switch platform."
              }
            ],
            "x-mandatory": true,
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "required": [
          "sku"
        ]
      },
      "ArubaSwitchStack_MemberConfiguration": {
        "description": "Stack member configuration grouping.",
        "properties": {
          "members": {
            "description": "List of stack members configuration.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaSwitchStack_MemberBasicProperties"
                },
                {
                  "$ref": "#/components/schemas/ArubaSwitchStack_BpsFlexibleModuleConfiguration"
                },
                {
                  "$ref": "#/components/schemas/ArubaSwitchStack_OobmMemberConfiguration"
                },
                {
                  "properties": {
                    "hw-profile": {
                      "description": "HW profile (if any) associated with the member.\nThis leaf is deprecated and will be removed in a future release.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-hw-module-profile:hardware-modules/ac-hw-module-profile:hw-profile/ac-hw-module-profile:name",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "mac": {
                      "description": "MAC Address of the member.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "mac-address",
                      "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "An IEEE 802 MAC address"
                    },
                    "priority": {
                      "description": "Priority of the member.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "serial": {
                      "description": "Serial Number of the member.\nAll members of stack should be of unique serial number",
                      "format": "const",
                      "maxLength": 10,
                      "minLength": 1,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "minItems": 1,
            "type": "array",
            "x-key": [
              "id"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaSwitchStack_MemberConfigurationGet": {
        "description": "Stack member configuration grouping.",
        "properties": {
          "members": {
            "description": "List of stack members configuration.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaSwitchStack_MemberBasicPropertiesGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaSwitchStack_BpsFlexibleModuleConfigurationGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaSwitchStack_OobmMemberConfigurationGet"
                },
                {
                  "properties": {
                    "hw-profile": {
                      "description": "HW profile (if any) associated with the member.\nThis leaf is deprecated and will be removed in a future release.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-hw-module-profile:hardware-modules/ac-hw-module-profile:hw-profile/ac-hw-module-profile:name",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "mac": {
                      "description": "MAC Address of the member.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "mac-address",
                      "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "An IEEE 802 MAC address"
                    },
                    "priority": {
                      "description": "Priority of the member.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 1,
                      "type": "integer"
                    },
                    "serial": {
                      "description": "Serial Number of the member.\nAll members of stack should be of unique serial number",
                      "format": "const",
                      "maxLength": 10,
                      "minLength": 1,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "minItems": 1,
            "type": "array",
            "x-key": [
              "id"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaSwitchStack_MemberLinkConfiguration": {
        "description": "Grouping of stack member links configuration.",
        "properties": {
          "links": {
            "description": "Stack interfaces and description configuration for all links.",
            "properties": {
              "link1": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaSwitchStack_MemberLinks"
                  }
                ],
                "description": "Stack link1 interfaces and description configuration."
              },
              "link2": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaSwitchStack_MemberLinks"
                  }
                ],
                "description": "Stack link2 interfaces and description configuration."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "use-auto-stacking-ports": {
            "default": "false",
            "description": "Use default ports for auto stacking.\nApplicable for stacks using 6200/6300/6300L/4100i/6100 platforms",
            "type": "boolean"
          }
        }
      },
      "ArubaSwitchStack_MemberLinkConfigurationGet": {
        "description": "Grouping of stack member links configuration.",
        "properties": {
          "links": {
            "description": "Stack interfaces and description configuration for all links.",
            "properties": {
              "link1": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaSwitchStack_MemberLinksGet"
                  }
                ],
                "description": "Stack link1 interfaces and description configuration."
              },
              "link2": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaSwitchStack_MemberLinksGet"
                  }
                ],
                "description": "Stack link2 interfaces and description configuration."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "use-auto-stacking-ports": {
            "default": "false",
            "description": "Use default ports for auto stacking.\nApplicable for stacks using 6200/6300/6300L/4100i/6100 platforms",
            "type": "boolean"
          }
        }
      },
      "ArubaSwitchStack_MemberLinks": {
        "description": "Stack member interfaces configuration grouping.",
        "properties": {
          "description": {
            "description": "Description for the stack link.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "interfaces": {
            "description": "Interface(s) associated with the stack link.\nStacks with 6200/6300/6300L/4100i/6100 platform can have upto 4 interfaces per stack link\nand other platforms allows upto 8 interfaces per stack link.",
            "items": {
              "description": "Interface(s) associated with the stack link.\nStacks with 6200/6300/6300L/4100i/6100 platform can have upto 4 interfaces per stack link\nand other platforms allows upto 8 interfaces per stack link.",
              "oneOf": [
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "link-type-2930F",
                  "x-patterns": "'[1-8]/([1-9]|[1-4][0-9]|5[0-2])'",
                  "x-typeDescription": "Link type for 2930F platform."
                },
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "link-type-5406-5412",
                  "x-patterns": "'[1-2]/[A-L]([1-9]|1[0-9]|2[0-4])'",
                  "x-typeDescription": "Link type for 5406 and 5412 platforms."
                },
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "link-type-6200",
                  "x-patterns": "'([1-8])/1/([1-9]|[1-4][0-9]|5[0-2])'",
                  "x-typeDescription": "Link type for 6200 platforms."
                },
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "link-type-6300-6300L",
                  "x-patterns": "'([1-9]|10)/1/([1-9]|[1-4][0-9]|5[0-2])'",
                  "x-typeDescription": "Link type for 6300 and 6300L platforms."
                },
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "link-type-4100i",
                  "x-patterns": "'[1-4]/([1-9]|1[0-9]|2[0-8])'",
                  "x-typeDescription": "Link type for 4100i platform."
                },
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "link-type-6100",
                  "x-patterns": "'[1-6]/([1-9]|[1-4][0-9]|5[0-2])'",
                  "x-typeDescription": "Link type for 6100 platform."
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaSwitchStack_MemberLinksGet": {
        "description": "Stack member interfaces configuration grouping.",
        "properties": {
          "description": {
            "description": "Description for the stack link.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "interfaces": {
            "description": "Interface(s) associated with the stack link.\nStacks with 6200/6300/6300L/4100i/6100 platform can have upto 4 interfaces per stack link\nand other platforms allows upto 8 interfaces per stack link.",
            "items": {
              "description": "Interface(s) associated with the stack link.\nStacks with 6200/6300/6300L/4100i/6100 platform can have upto 4 interfaces per stack link\nand other platforms allows upto 8 interfaces per stack link.",
              "oneOf": [
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "link-type-2930F",
                  "x-patterns": "'[1-8]/([1-9]|[1-4][0-9]|5[0-2])'",
                  "x-typeDescription": "Link type for 2930F platform."
                },
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "link-type-5406-5412",
                  "x-patterns": "'[1-2]/[A-L]([1-9]|1[0-9]|2[0-4])'",
                  "x-typeDescription": "Link type for 5406 and 5412 platforms."
                },
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "link-type-6200",
                  "x-patterns": "'([1-8])/1/([1-9]|[1-4][0-9]|5[0-2])'",
                  "x-typeDescription": "Link type for 6200 platforms."
                },
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "link-type-6300-6300L",
                  "x-patterns": "'([1-9]|10)/1/([1-9]|[1-4][0-9]|5[0-2])'",
                  "x-typeDescription": "Link type for 6300 and 6300L platforms."
                },
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "link-type-4100i",
                  "x-patterns": "'[1-4]/([1-9]|1[0-9]|2[0-8])'",
                  "x-typeDescription": "Link type for 4100i platform."
                },
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "link-type-6100",
                  "x-patterns": "'[1-6]/([1-9]|[1-4][0-9]|5[0-2])'",
                  "x-typeDescription": "Link type for 6100 platform."
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaSwitchStack_OobmMemberConfiguration": {
        "description": "oobm member configurations for vsf and bps stack.",
        "properties": {
          "oobm-member": {
            "description": "oobm member configurations.",
            "properties": {
              "anycast": {
                "description": "IPv6 anycast address.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "autoconfig": {
                "default": "false",
                "description": "Enable automatic address configuration.",
                "type": "boolean"
              },
              "default-gateway-ipv4": {
                "description": "IPv4 address of the default gateway.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "default-gateway-ipv6": {
                "description": "IPv6 address of the default gateway.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "enable": {
                "description": "Enable the management interface.",
                "type": "boolean"
              },
              "eui64": {
                "default": "false",
                "description": "IPv6 address in the EUI-64 bit format.",
                "type": "boolean"
              },
              "ipv4-address": {
                "description": "IPv4 address using static or dynamic method.",
                "oneOf": [
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv4-prefix",
                    "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                    "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                  },
                  {
                    "enum": [
                      "DHCP",
                      "PPPOE",
                      "NO_DHCP",
                      "NONE"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DHCP": "Dynamic Host Configuration Protocol.",
                      "NONE": "Client/address is not configured.",
                      "NO_DHCP": "Dynamic Host Configuration Protocol.",
                      "PPPOE": "Point-to-point Protocol over Ethernet."
                    },
                    "x-typeDescription": "Dynamic client type to obtain IPv4 address."
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "ipv6-address": {
                "description": "IPv6 address using static or dynamic method.",
                "oneOf": [
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv6-prefix",
                    "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                    "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                  },
                  {
                    "enum": [
                      "DHCP",
                      "DHCP_FULL",
                      "DHCP_FULL_RAPID_COMMIT",
                      "NO_DHCP"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DHCP": "Dynamic Host Configuration Protocol.",
                      "DHCP_FULL": "Obtain IPv6 address & Configuration information from DHCPv6 server.",
                      "DHCP_FULL_RAPID_COMMIT": "Obtain IPv6 address quickly from DHCPv6 server.",
                      "NO_DHCP": "Dynamic Host Configuration Protocol."
                    },
                    "x-typeDescription": "Dynamic client type to obtain IPv6 address."
                  }
                ]
              },
              "ipv6-enable": {
                "description": "Enable IPv6 on the management interface.",
                "type": "boolean"
              },
              "link-local": {
                "description": "IPv6 link local address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "speed-duplex": {
                "description": "The speed and duplex mode for the management interface.",
                "enum": [
                  "HALF_10MB",
                  "FULL_10MB",
                  "HALF_100MB",
                  "FULL_100MB",
                  "FULL_1GB",
                  "AUTO"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AUTO": "Auto Negotiation for speed and duplex mode.",
                  "FULL_100MB": "100 Mbps, full duplex.",
                  "FULL_10MB": "10 Mbps, full duplex.",
                  "FULL_1GB": "1 Gbps, full duplex.",
                  "HALF_100MB": "100 Mbps, half duplex.",
                  "HALF_10MB": "10 Mbps, half duplex."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "The speed and duplex mode for the management interface."
              },
              "vsf-mode": {
                "description": "Indicates configuration is for 5400R VSF.",
                "type": "boolean"
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaSwitchStack_OobmMemberConfigurationGet": {
        "description": "oobm member configurations for vsf and bps stack.",
        "properties": {
          "oobm-member": {
            "description": "oobm member configurations.",
            "properties": {
              "anycast": {
                "description": "IPv6 anycast address.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "autoconfig": {
                "default": "false",
                "description": "Enable automatic address configuration.",
                "type": "boolean"
              },
              "default-gateway-ipv4": {
                "description": "IPv4 address of the default gateway.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "default-gateway-ipv6": {
                "description": "IPv6 address of the default gateway.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "enable": {
                "description": "Enable the management interface.",
                "type": "boolean"
              },
              "eui64": {
                "default": "false",
                "description": "IPv6 address in the EUI-64 bit format.",
                "type": "boolean"
              },
              "ipv4-address": {
                "description": "IPv4 address using static or dynamic method.",
                "oneOf": [
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv4-prefix",
                    "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                    "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                  },
                  {
                    "enum": [
                      "DHCP",
                      "PPPOE",
                      "NO_DHCP",
                      "NONE"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DHCP": "Dynamic Host Configuration Protocol.",
                      "NONE": "Client/address is not configured.",
                      "NO_DHCP": "Dynamic Host Configuration Protocol.",
                      "PPPOE": "Point-to-point Protocol over Ethernet."
                    },
                    "x-typeDescription": "Dynamic client type to obtain IPv4 address."
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "ipv6-address": {
                "description": "IPv6 address using static or dynamic method.",
                "oneOf": [
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv6-prefix",
                    "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                    "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                  },
                  {
                    "enum": [
                      "DHCP",
                      "DHCP_FULL",
                      "DHCP_FULL_RAPID_COMMIT",
                      "NO_DHCP"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DHCP": "Dynamic Host Configuration Protocol.",
                      "DHCP_FULL": "Obtain IPv6 address & Configuration information from DHCPv6 server.",
                      "DHCP_FULL_RAPID_COMMIT": "Obtain IPv6 address quickly from DHCPv6 server.",
                      "NO_DHCP": "Dynamic Host Configuration Protocol."
                    },
                    "x-typeDescription": "Dynamic client type to obtain IPv6 address."
                  }
                ]
              },
              "ipv6-enable": {
                "description": "Enable IPv6 on the management interface.",
                "type": "boolean"
              },
              "link-local": {
                "description": "IPv6 link local address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "speed-duplex": {
                "description": "The speed and duplex mode for the management interface.",
                "enum": [
                  "HALF_10MB",
                  "FULL_10MB",
                  "HALF_100MB",
                  "FULL_100MB",
                  "FULL_1GB",
                  "AUTO"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "AUTO": "Auto Negotiation for speed and duplex mode.",
                  "FULL_100MB": "100 Mbps, full duplex.",
                  "FULL_10MB": "10 Mbps, full duplex.",
                  "FULL_1GB": "1 Gbps, full duplex.",
                  "HALF_100MB": "100 Mbps, half duplex.",
                  "HALF_10MB": "10 Mbps, half duplex."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ],
                "x-typeDescription": "The speed and duplex mode for the management interface."
              },
              "vsf-mode": {
                "description": "Indicates configuration is for 5400R VSF.",
                "type": "boolean"
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaSwitchStack_SplitDetection": {
        "description": "Stack split-detection configuration grouping.",
        "properties": {
          "split-detection": {
            "description": "Split detection methods.",
            "properties": {
              "detection-mode": {
                "description": "Split detection method configurations used for the stack.",
                "enum": [
                  "MGMT",
                  "LLDP",
                  "VLAN"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "LLDP": "Split detection using LLDP.",
                  "MGMT": "Split detection using mgmt interface.",
                  "VLAN": "Split detection using a dedicated VLAN."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ],
                "x-typeDescription": "Split detection methods for the stack."
              },
              "lldp-ipv4-address": {
                "description": "IPV4 address for split-detection helper device.",
                "oneOf": [
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv4-address",
                    "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                    "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                  },
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv6-address",
                    "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                    "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "lldp-snmp-community": {
                "description": "SNMP community string for split-detection helper device.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "vlan": {
                "description": "Dedicated VLAN for split-detection.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              }
            }
          }
        }
      },
      "ArubaSwitchStack_SplitDetectionGet": {
        "description": "Stack split-detection configuration grouping.",
        "properties": {
          "split-detection": {
            "description": "Split detection methods.",
            "properties": {
              "detection-mode": {
                "description": "Split detection method configurations used for the stack.",
                "enum": [
                  "MGMT",
                  "LLDP",
                  "VLAN"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "LLDP": "Split detection using LLDP.",
                  "MGMT": "Split detection using mgmt interface.",
                  "VLAN": "Split detection using a dedicated VLAN."
                },
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ],
                "x-typeDescription": "Split detection methods for the stack."
              },
              "lldp-ipv4-address": {
                "description": "IPV4 address for split-detection helper device.",
                "oneOf": [
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv4-address",
                    "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                    "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                  },
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "ipv6-address",
                    "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                    "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "lldp-snmp-community": {
                "description": "SNMP community string for split-detection helper device.",
                "format": "const",
                "maxLength": 255,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "vlan": {
                "description": "Dedicated VLAN for split-detection.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              }
            }
          }
        }
      },
      "ArubaSwitchStack_StackGlobalProperties": {
        "properties": {
          "auto-stack": {
            "default": "false",
            "description": "Create a stack using auto stacking ports.",
            "type": "boolean"
          },
          "egress-shape": {
            "description": "Egress-shaping knob. Enable or disable egress-shaping in VSF stack.\n Once enabled, when the VSF links are of different interface speeds,\n this command will ensure that all VSF interfaces in a stack operate\n at a chosen common denominator interface speed when there\n is atleast one active stack member of type S0E91A or S0X44A in the stack.\n VSF egress-shape is enabled by default on the switch.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "platform": {
            "description": "Platform name of the stack/members.\n All members of stack should be of same platform",
            "oneOf": [
              {
                "enum": [
                  "PLATFORM_4100I",
                  "PLATFORM_5420",
                  "PLATFORM_6000",
                  "PLATFORM_6100",
                  "PLATFORM_6200",
                  "PLATFORM_6300",
                  "PLATFORM_6300L",
                  "PLATFORM_6405",
                  "PLATFORM_6410",
                  "PLATFORM_8100",
                  "PLATFORM_8320",
                  "PLATFORM_8325",
                  "PLATFORM_8325P",
                  "PLATFORM_8360",
                  "PLATFORM_8400X",
                  "PLATFORM_9300",
                  "PLATFORM_10000"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "PLATFORM_10000": "10000 switch.",
                  "PLATFORM_4100I": "4100i switch.",
                  "PLATFORM_5420": "5420 switch.",
                  "PLATFORM_6000": "6000 switch.",
                  "PLATFORM_6100": "6100 switch.",
                  "PLATFORM_6200": "6200 switch.",
                  "PLATFORM_6300": "6300 switch.",
                  "PLATFORM_6300L": "6300L switch.",
                  "PLATFORM_6405": "6405 switch.",
                  "PLATFORM_6410": "6410 switch.",
                  "PLATFORM_8100": "8100 switch.",
                  "PLATFORM_8320": "8320 switch.",
                  "PLATFORM_8325": "8325 switch.",
                  "PLATFORM_8325P": "8325P switch.",
                  "PLATFORM_8360": "8360 switch.",
                  "PLATFORM_8400X": "8400 switch.",
                  "PLATFORM_9300": "9300 switch."
                },
                "x-typeDescription": "AOS-CX Switch platform names."
              },
              {
                "enum": [
                  "PLATFORM_2530",
                  "PLATFORM_2540",
                  "PLATFORM_2930F",
                  "PLATFORM_2930M",
                  "PLATFORM_3810",
                  "PLATFORM_5406",
                  "PLATFORM_5412"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "PLATFORM_2530": "2530 switch.",
                  "PLATFORM_2540": "2540 switch.",
                  "PLATFORM_2930F": "2930F switch.",
                  "PLATFORM_2930M": "2930M switch.",
                  "PLATFORM_3810": "3810 switch.",
                  "PLATFORM_5406": "5406 switch.",
                  "PLATFORM_5412": "5412 switch."
                },
                "x-typeDescription": "AOS-S Switch platform names."
              }
            ],
            "x-mandatory": true
          },
          "port-speed": {
            "description": "Port speed for the stack.",
            "enum": [
              "SPEED_10MB",
              "SPEED_100MB",
              "SPEED_1GB",
              "SPEED_2_5GB",
              "SPEED_5GB",
              "SPEED_10GB",
              "SPEED_40GB",
              "SPEED_100GB",
              "SPEED_1000GB",
              "SPEED_AUTO"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "SPEED_1000GB": "1000 Gb/sec Ethernet.",
              "SPEED_100GB": "100 Gb/sec Ethernet.",
              "SPEED_100MB": "100 Mb/sec Ethernet.",
              "SPEED_10GB": "10 Gb/sec Ethernet.",
              "SPEED_10MB": "10 Mb/sec Ethernet.",
              "SPEED_1GB": "1 Gb/sec Ethernet.",
              "SPEED_2_5GB": "2.5 Gb/sec Ethernet.",
              "SPEED_40GB": "40 Gb/sec Ethernet.",
              "SPEED_5GB": "5 Gb/sec Ethernet.",
              "SPEED_AUTO": "Auto negotiation Ethernet."
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "Speed Type."
          },
          "secondary-member": {
            "description": "Indicates the secondary member of the stack.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "split-detection-method": {
            "description": "Split detection method used for the stack.",
            "enum": [
              "MGMT",
              "LLDP",
              "VLAN"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "LLDP": "Split detection using LLDP.",
              "MGMT": "Split detection using mgmt interface.",
              "VLAN": "Split detection using a dedicated VLAN."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Split detection methods for the stack."
          },
          "template-name": {
            "description": "Indicates whether the stack is managed via a template.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "platform"
        ]
      },
      "ArubaSwitchStack_StackGlobalPropertiesGet": {
        "properties": {
          "auto-stack": {
            "default": "false",
            "description": "Create a stack using auto stacking ports.",
            "type": "boolean"
          },
          "egress-shape": {
            "description": "Egress-shaping knob. Enable or disable egress-shaping in VSF stack.\n Once enabled, when the VSF links are of different interface speeds,\n this command will ensure that all VSF interfaces in a stack operate\n at a chosen common denominator interface speed when there\n is atleast one active stack member of type S0E91A or S0X44A in the stack.\n VSF egress-shape is enabled by default on the switch.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "platform": {
            "description": "Platform name of the stack/members.\n All members of stack should be of same platform",
            "oneOf": [
              {
                "enum": [
                  "PLATFORM_4100I",
                  "PLATFORM_5420",
                  "PLATFORM_6000",
                  "PLATFORM_6100",
                  "PLATFORM_6200",
                  "PLATFORM_6300",
                  "PLATFORM_6300L",
                  "PLATFORM_6405",
                  "PLATFORM_6410",
                  "PLATFORM_8100",
                  "PLATFORM_8320",
                  "PLATFORM_8325",
                  "PLATFORM_8325P",
                  "PLATFORM_8360",
                  "PLATFORM_8400X",
                  "PLATFORM_9300",
                  "PLATFORM_10000"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "PLATFORM_10000": "10000 switch.",
                  "PLATFORM_4100I": "4100i switch.",
                  "PLATFORM_5420": "5420 switch.",
                  "PLATFORM_6000": "6000 switch.",
                  "PLATFORM_6100": "6100 switch.",
                  "PLATFORM_6200": "6200 switch.",
                  "PLATFORM_6300": "6300 switch.",
                  "PLATFORM_6300L": "6300L switch.",
                  "PLATFORM_6405": "6405 switch.",
                  "PLATFORM_6410": "6410 switch.",
                  "PLATFORM_8100": "8100 switch.",
                  "PLATFORM_8320": "8320 switch.",
                  "PLATFORM_8325": "8325 switch.",
                  "PLATFORM_8325P": "8325P switch.",
                  "PLATFORM_8360": "8360 switch.",
                  "PLATFORM_8400X": "8400 switch.",
                  "PLATFORM_9300": "9300 switch."
                },
                "x-typeDescription": "AOS-CX Switch platform names."
              },
              {
                "enum": [
                  "PLATFORM_2530",
                  "PLATFORM_2540",
                  "PLATFORM_2930F",
                  "PLATFORM_2930M",
                  "PLATFORM_3810",
                  "PLATFORM_5406",
                  "PLATFORM_5412"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "PLATFORM_2530": "2530 switch.",
                  "PLATFORM_2540": "2540 switch.",
                  "PLATFORM_2930F": "2930F switch.",
                  "PLATFORM_2930M": "2930M switch.",
                  "PLATFORM_3810": "3810 switch.",
                  "PLATFORM_5406": "5406 switch.",
                  "PLATFORM_5412": "5412 switch."
                },
                "x-typeDescription": "AOS-S Switch platform names."
              }
            ],
            "x-mandatory": true
          },
          "port-speed": {
            "description": "Port speed for the stack.",
            "enum": [
              "SPEED_10MB",
              "SPEED_100MB",
              "SPEED_1GB",
              "SPEED_2_5GB",
              "SPEED_5GB",
              "SPEED_10GB",
              "SPEED_40GB",
              "SPEED_100GB",
              "SPEED_1000GB",
              "SPEED_AUTO"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "SPEED_1000GB": "1000 Gb/sec Ethernet.",
              "SPEED_100GB": "100 Gb/sec Ethernet.",
              "SPEED_100MB": "100 Mb/sec Ethernet.",
              "SPEED_10GB": "10 Gb/sec Ethernet.",
              "SPEED_10MB": "10 Mb/sec Ethernet.",
              "SPEED_1GB": "1 Gb/sec Ethernet.",
              "SPEED_2_5GB": "2.5 Gb/sec Ethernet.",
              "SPEED_40GB": "40 Gb/sec Ethernet.",
              "SPEED_5GB": "5 Gb/sec Ethernet.",
              "SPEED_AUTO": "Auto negotiation Ethernet."
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "Speed Type."
          },
          "secondary-member": {
            "description": "Indicates the secondary member of the stack.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "split-detection-method": {
            "description": "Split detection method used for the stack.",
            "enum": [
              "MGMT",
              "LLDP",
              "VLAN"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "LLDP": "Split detection using LLDP.",
              "MGMT": "Split detection using mgmt interface.",
              "VLAN": "Split detection using a dedicated VLAN."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Split detection methods for the stack."
          },
          "template-name": {
            "description": "Indicates whether the stack is managed via a template.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "platform"
        ]
      },
      "ArubaSwitchStack_StacksSchemaGET": {
        "description": "Configure and Manage switch stacks.\nSwitch Stack OR Virtual Switching Framework(VSF), defines a virtual switch,\ncomprising multiple individual physical switches, inter-connected through\nstandard Ethernet links. These physical switches will operate with one\ncontrol plane, thereby visible to the peers as a virtual switch stack.\n\nWithin the stack, one switch is the Conductor switch, which runs all the\ncontrol plane software and manages the ASICs of all the stack members.\nA second switch can be configured as the Standby switch, which will\ntake over as Conductor if the conductor fails.\n\nIt is strongly recommended to configure a secondary member in the stack,\nsince a stack with a standby offers resiliency and high-availability.",
        "properties": {
          "stack": {
            "description": "List of stacks.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaSwitchStack_StackGlobalPropertiesGet"
                },
                {
[...]
