{
  "openapi": "3.1.0",
  "info": {
    "title": "Vsx",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Vsx"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/vsx-profiles": {
      "get": {
        "description": "Aruba Virtual Switching Extension (VSX).\nVSX is a link aggregation technique, where two or more links across two\nswitches are aggregated together to form a LAG which will act as a single\nlogical interface. The IEEE standard 802.3ad, is limited to aggregating\nlinks on a single switch or device. The Virtual Switching Extension (VSX)\nfeature uses a new proprietary technology to overcome this limitation and\nsupports link aggregation for the links spanning across multiple switches in\nthe same VRF. The two switches are connected through an inter switch link (ISL).\nVSX provides node-level redundancy in a network when one of the switches fails.\nThe downstream device is configured as a 802.3ad LAG interface. Though the LAG is\nconnected to two separate devices they are seen as a single device. The downstream\ndevices can be any device that supports 802.3ad. In VSX, one device acts as primary\nand the other device acts as secondary.",
        "operationId": "readVsxProfiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaVsx_VsxProfilesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read vsx profiles",
        "tags": [
          "Vsx"
        ],
        "x-cliParam": {
          "commandName": "readVsxProfilesCmd",
          "commandUse": "vsx-profiles",
          "parentCommand": "readCmd",
          "pathToPrint": "/vsx-profiles/",
          "summary": "Read operation for vsx-profiles"
        }
      }
    },
    "/network-config/v1alpha1/vsx-profiles/{name}": {
      "get": {
        "description": "VSX profile name.",
        "operationId": "readVsxProfilesVsxByID",
        "parameters": [
          {
            "description": "VSX configuration name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaVsx_VsxProfilesvsxSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read vsx by name",
        "tags": [
          "Vsx"
        ],
        "x-cliParam": {
          "commandName": "readVsxProfilesVsxCmd",
          "commandUse": "vsx",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readVsxProfilesCmd",
          "pathToPrint": "/vsx-profiles/vsx/%s/",
          "summary": "Read operation for vsx",
          "totParams": 1
        }
      },
      "put": {
        "description": "VSX profile name.",
        "operationId": "replaceVsxProfilesVsxByID",
        "parameters": [
          {
            "description": "VSX configuration name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaVsx_VsxProfilesvsxSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace vsx by name",
        "tags": [
          "Vsx"
        ],
        "x-cliParam": {
          "commandName": "replaceVsxProfilesVsxCmd",
          "commandUse": "vsx",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceVsxProfilesCmd",
          "pathToPrint": "/vsx-profiles/vsx/%s/",
          "summary": "Replace operation for vsx",
          "totParams": 1
        }
      },
      "post": {
        "description": "VSX profile name.",
        "operationId": "createVsxProfilesVsxByID",
        "parameters": [
          {
            "description": "VSX configuration name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaVsx_VsxProfilesvsxSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create vsx by name",
        "tags": [
          "Vsx"
        ],
        "x-cliParam": {
          "commandName": "createVsxProfilesVsxCmd",
          "commandUse": "vsx",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createVsxProfilesCmd",
          "pathToPrint": "/vsx-profiles/vsx/%s/",
          "summary": "Create operation for vsx",
          "totParams": 1
        }
      },
      "delete": {
        "description": "VSX profile name.",
        "operationId": "deleteVsxProfilesVsxByID",
        "parameters": [
          {
            "description": "VSX configuration name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete vsx by name",
        "tags": [
          "Vsx"
        ],
        "x-cliParam": {
          "commandName": "deleteVsxProfilesVsxCmd",
          "commandUse": "vsx",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteVsxProfilesCmd",
          "pathToPrint": "/vsx-profiles/vsx/%s/",
          "summary": "Delete operation for vsx",
          "totParams": 1
        }
      },
      "patch": {
        "description": "VSX profile name.",
        "operationId": "updateVsxProfilesVsxByID",
        "parameters": [
          {
            "description": "VSX configuration name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaVsx_VsxProfilesvsxSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update vsx by name",
        "tags": [
          "Vsx"
        ],
        "x-cliParam": {
          "commandName": "updateVsxProfilesVsxCmd",
          "commandUse": "vsx",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateVsxProfilesCmd",
          "pathToPrint": "/vsx-profiles/vsx/%s/",
          "summary": "Update operation for vsx",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaVsxCommon_IslTimers": {
        "description": "VSX ISL timer configuration grouping, applicable to both primary and secondary",
        "properties": {
          "dead-interval": {
            "default": "20",
            "description": "Inter-switch link dead interval. The dead interval is the amount of time to wait for\nhellos from peer before declaring the peer to be missing. Lesser dead-intervals might cause\nISL flap due to dead-interval expiry during scenarios like redundancy switchover.",
            "format": "int64",
            "maximum": 20,
            "minimum": 2,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hello-interval": {
            "default": "1",
            "description": "Inter-switch link hello interval.",
            "format": "int64",
            "maximum": 5,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hold-time": {
            "default": "0",
            "description": "Inter-switch link hold time interval.\nPort is treated as down only when it stays down for the configured hold-time interval.",
            "format": "int64",
            "maximum": 3,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "peer-detect-interval": {
            "default": "300",
            "description": "Inter-switch link peer detect interval. This is the amount of time in seconds that the\ndevice will wait for inter-switch-link interface to link up after a reboot. If the ISL link\ndoes not come up within this time window, the device will declare itself as split from its peer.",
            "format": "int64",
            "maximum": 1800,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaVsxCommon_IslTimersGet": {
        "description": "VSX ISL timer configuration grouping, applicable to both primary and secondary",
        "properties": {
          "dead-interval": {
            "default": "20",
            "description": "Inter-switch link dead interval. The dead interval is the amount of time to wait for\nhellos from peer before declaring the peer to be missing. Lesser dead-intervals might cause\nISL flap due to dead-interval expiry during scenarios like redundancy switchover.",
            "format": "int64",
            "maximum": 20,
            "minimum": 2,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hello-interval": {
            "default": "1",
            "description": "Inter-switch link hello interval.",
            "format": "int64",
            "maximum": 5,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hold-time": {
            "default": "0",
            "description": "Inter-switch link hold time interval.\nPort is treated as down only when it stays down for the configured hold-time interval.",
            "format": "int64",
            "maximum": 3,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "peer-detect-interval": {
            "default": "300",
            "description": "Inter-switch link peer detect interval. This is the amount of time in seconds that the\ndevice will wait for inter-switch-link interface to link up after a reboot. If the ISL link\ndoes not come up within this time window, the device will declare itself as split from its peer.",
            "format": "int64",
            "maximum": 1800,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaVsxCommon_KeepaliveIp": {
        "description": "VSX keepalive IP configuration grouping, applicable to both primary and secondary",
        "properties": {
          "ethernet-ifname": {
            "description": "Ethernet Interface name for which the keepalive is configured.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ethernet-ifname",
            "x-patterns": "'(\\d+)|(\\w+(/\\w+)?(/\\d+)?)'"
          },
          "if-mgmt": {
            "description": "Management interface name configured as keepalive.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "if-mgmt",
            "x-patterns": "'(\\w+((/\\w+)+([:.]\\d+)?)?)'"
          },
          "loopback-id": {
            "description": "Loopback Interface ID for which the keepalive is configured.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer"
          },
          "peer-ip": {
            "description": "IPv4/IPv6 address of the peer device. For PVOS, only IPv4 is supported.\nIf not configured, keepalive functionality is disabled.\nConfigure this if keepalive_type is KA_UPSTREAM.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "portchannel-ifname": {
            "description": "Port channel Interface name for which the keepalive is configured.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "portchannel-ifname",
            "x-patterns": "'(\\w+((/\\d+)+([:.]\\d+)?)?)'"
          },
          "source-ip": {
            "description": "IPv4/IPv6 address of the device. If not configured, keepalive functionality is\ndisabled. Configure this if keepalive_type is KA_UPSTREAM.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vlan-id": {
            "description": "Vlan Interface id for which the keepalive is configured.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          }
        }
      },
      "ArubaVsxCommon_KeepaliveIpGet": {
        "description": "VSX keepalive IP configuration grouping, applicable to both primary and secondary",
        "properties": {
          "ethernet-ifname": {
            "description": "Ethernet Interface name for which the keepalive is configured.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ethernet-ifname",
            "x-patterns": "'(\\d+)|(\\w+(/\\w+)?(/\\d+)?)'"
          },
          "if-mgmt": {
            "description": "Management interface name configured as keepalive.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "if-mgmt",
            "x-patterns": "'(\\w+((/\\w+)+([:.]\\d+)?)?)'"
          },
          "loopback-id": {
            "description": "Loopback Interface ID for which the keepalive is configured.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer"
          },
          "peer-ip": {
            "description": "IPv4/IPv6 address of the peer device. For PVOS, only IPv4 is supported.\nIf not configured, keepalive functionality is disabled.\nConfigure this if keepalive_type is KA_UPSTREAM.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "portchannel-ifname": {
            "description": "Port channel Interface name for which the keepalive is configured.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "portchannel-ifname",
            "x-patterns": "'(\\w+((/\\d+)+([:.]\\d+)?)?)'"
          },
          "source-ip": {
            "description": "IPv4/IPv6 address of the device. If not configured, keepalive functionality is\ndisabled. Configure this if keepalive_type is KA_UPSTREAM.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vlan-id": {
            "description": "Vlan Interface id for which the keepalive is configured.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          }
        }
      },
      "ArubaVsxCommon_KeepaliveTimers": {
        "description": "VSX keepalive timer configuration grouping, applicable to both primary and secondary",
        "properties": {
          "dead-interval": {
            "description": "Keepalive dead time interval. Default is 3 seconds for CX, 5 seconds for PVOS.\n3-20 is the supported range for PVOS.",
            "format": "int64",
            "maximum": 20,
            "minimum": 2,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "hello-interval": {
            "description": "Keepalive hello time interval in seconds fox CX and in milliseconds for PVOS.\nDefault is 1 second for CX, 1000 milliseconds for PVOS.\n400-10000 in milliseconds is the supported range for PVOS.",
            "format": "int64",
            "maximum": 10000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "udp-port": {
            "description": "UDP port number of peer device. Default is 7678 for CX and the default for PVOS is 1024.\n1024-49151 is the supported range for PVOS.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          }
        }
      },
      "ArubaVsxCommon_KeepaliveTimersGet": {
        "description": "VSX keepalive timer configuration grouping, applicable to both primary and secondary",
        "properties": {
          "dead-interval": {
            "description": "Keepalive dead time interval. Default is 3 seconds for CX, 5 seconds for PVOS.\n3-20 is the supported range for PVOS.",
            "format": "int64",
            "maximum": 20,
            "minimum": 2,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "hello-interval": {
            "description": "Keepalive hello time interval in seconds fox CX and in milliseconds for PVOS.\nDefault is 1 second for CX, 1000 milliseconds for PVOS.\n400-10000 in milliseconds is the supported range for PVOS.",
            "format": "int64",
            "maximum": 10000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "udp-port": {
            "description": "UDP port number of peer device. Default is 7678 for CX and the default for PVOS is 1024.\n1024-49151 is the supported range for PVOS.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          }
        }
      },
      "ArubaVsxCommon_VsxCommon": {
        "description": "VSX common configuration grouping, applicable to both primary and secondary",
        "properties": {
          "linkup-delay-timer": {
            "default": "180",
            "description": "Number of seconds that multi-chassis LAGs should be held down after the ISL is\nconsidered to be fully established and VSX switches are synchronized. Comes into\neffect on new ISL deployments, ISL flaps or full device reboot.",
            "format": "int64",
            "maximum": 600,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "split-recovery-disable": {
            "default": "false",
            "description": "Disables split brain recovery.\nBy default, split-recovery mode is enabled. When ISL goes out-of-sync and if\nKeep-alive is established then secondary vsx lags will be brought down.\nSubsequently if Keep-alive also fails it causes split condition. In this case\nif split-recovery mode is enabled secondary will make its vsx lags up else\nsecondary will continue to keep its vsx lags down.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "system-mac": {
            "description": "System MAC address to be used by L2 control plane protocols.\nA pair of VSX switches must have the same system MAC.\nIf system MAC is not configured, L2 control plane protocols\nwill use the VSX Primary device MAC address as their\nBridge Identifier. MAC address will be in\n[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5} format.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "mac-address",
            "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IEEE 802 MAC address"
          }
        }
      },
      "ArubaVsxCommon_VsxCommonGet": {
        "description": "VSX common configuration grouping, applicable to both primary and secondary",
        "properties": {
          "linkup-delay-timer": {
            "default": "180",
            "description": "Number of seconds that multi-chassis LAGs should be held down after the ISL is\nconsidered to be fully established and VSX switches are synchronized. Comes into\neffect on new ISL deployments, ISL flaps or full device reboot.",
            "format": "int64",
            "maximum": 600,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "split-recovery-disable": {
            "default": "false",
            "description": "Disables split brain recovery.\nBy default, split-recovery mode is enabled. When ISL goes out-of-sync and if\nKeep-alive is established then secondary vsx lags will be brought down.\nSubsequently if Keep-alive also fails it causes split condition. In this case\nif split-recovery mode is enabled secondary will make its vsx lags up else\nsecondary will continue to keep its vsx lags down.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "system-mac": {
            "description": "System MAC address to be used by L2 control plane protocols.\nA pair of VSX switches must have the same system MAC.\nIf system MAC is not configured, L2 control plane protocols\nwill use the VSX Primary device MAC address as their\nBridge Identifier. MAC address will be in\n[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5} format.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "mac-address",
            "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IEEE 802 MAC address"
          }
        }
      },
      "ArubaVsxCommon_VsxDevice": {
        "description": "VSX device specific configuration grouping",
        "properties": {
          "role": {
            "description": "Specifies whether the device will act as primary or secondary for VSX.\nVSX operation requires one peer switch to be primary and the other secondary.\nIf not configured, then the device will not participate in VSX role election.",
            "enum": [
              "VSX_PRIMARY",
              "VSX_SECONDARY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "VSX_PRIMARY": "Primary vsx role.",
              "VSX_SECONDARY": "Secondary vsx role."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "VSX device role."
          }
        }
      },
      "ArubaVsxCommon_VsxDeviceGet": {
        "description": "VSX device specific configuration grouping",
        "properties": {
          "role": {
            "description": "Specifies whether the device will act as primary or secondary for VSX.\nVSX operation requires one peer switch to be primary and the other secondary.\nIf not configured, then the device will not participate in VSX role election.",
            "enum": [
              "VSX_PRIMARY",
              "VSX_SECONDARY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "VSX_PRIMARY": "Primary vsx role.",
              "VSX_SECONDARY": "Secondary vsx role."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "VSX device role."
          }
        }
      },
      "ArubaVsx_ActiveGatewayConfig": {
        "description": "Active gateway configurations grouping.",
        "properties": {
          "active-gateway": {
            "description": "Active gateway config for active-active routing.",
            "properties": {
              "extended-mac-address-v4": {
                "description": "Configure the active gateway MAC as the extended MAC. The extended mac stores\naddresses in a supplemental table to allow configuring more than the supported\n16 virtual MAC addresses.",
                "type": "boolean"
              },
              "extended-mac-address-v6": {
                "description": "Configure the active gateway MAC as the extended MAC. The extended mac stores\naddresses in a supplemental table to allow configuring more than the supported\n16 virtual MAC addresses.",
                "type": "boolean"
              },
              "ipv4-address": {
                "description": "List of active gateway IPv4 addresses.",
                "items": {
                  "description": "List of active gateway IPv4 addresses.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "ipv6-address": {
                "description": "List of active gateway IPv6 addresses.",
                "items": {
                  "description": "List of active gateway IPv6 addresses.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                  "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "mac-address-v4": {
                "description": "virtual gateway MAC address for the corresponding ipv4-address.\nIf active gateway MAC is not configured, the device system MAC will be used as the\ngateway MAC",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "mac-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                "x-typeDescription": "An IEEE 802 MAC address"
              },
              "mac-address-v6": {
                "description": "virtual gateway MAC address for the corresponding ipv6-address.\nIf active gateway MAC is not configured, the device system MAC will be used as the\ngateway MAC",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "mac-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                "x-typeDescription": "An IEEE 802 MAC address"
              },
              "virtual-gw-l3-src-mac-enable": {
                "default": "false",
                "description": "Enables the interface to use the virtual gateway MAC address as the\nsource MAC for routed traffic.",
                "type": "boolean"
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaVsx_ActiveGatewayConfigGet": {
        "description": "Active gateway configurations grouping.",
        "properties": {
          "active-gateway": {
            "description": "Active gateway config for active-active routing.",
            "properties": {
              "extended-mac-address-v4": {
                "description": "Configure the active gateway MAC as the extended MAC. The extended mac stores\naddresses in a supplemental table to allow configuring more than the supported\n16 virtual MAC addresses.",
                "type": "boolean"
              },
              "extended-mac-address-v6": {
                "description": "Configure the active gateway MAC as the extended MAC. The extended mac stores\naddresses in a supplemental table to allow configuring more than the supported\n16 virtual MAC addresses.",
                "type": "boolean"
              },
              "ipv4-address": {
                "description": "List of active gateway IPv4 addresses.",
                "items": {
                  "description": "List of active gateway IPv4 addresses.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "ipv6-address": {
                "description": "List of active gateway IPv6 addresses.",
                "items": {
                  "description": "List of active gateway IPv6 addresses.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                  "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "mac-address-v4": {
                "description": "virtual gateway MAC address for the corresponding ipv4-address.\nIf active gateway MAC is not configured, the device system MAC will be used as the\ngateway MAC",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "mac-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                "x-typeDescription": "An IEEE 802 MAC address"
              },
              "mac-address-v6": {
                "description": "virtual gateway MAC address for the corresponding ipv6-address.\nIf active gateway MAC is not configured, the device system MAC will be used as the\ngateway MAC",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "mac-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                "x-typeDescription": "An IEEE 802 MAC address"
              },
              "virtual-gw-l3-src-mac-enable": {
                "default": "false",
                "description": "Enables the interface to use the virtual gateway MAC address as the\nsource MAC for routed traffic.",
                "type": "boolean"
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaVsx_Ethernet": {
        "description": "Grouping for the Ethernet Interfaces.",
        "properties": {
          "ethernet-interface": {
            "description": "Ethernet Interface name & its configuration.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVsx_SwitchportConfig"
                },
                {
                  "$ref": "#/components/schemas/ArubaVsx_IpConfig"
                },
                {
                  "properties": {
                    "description": {
                      "description": "Description of the ethernet Interface.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "ethernet-ifname": {
                      "description": "Interface name.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ethernet-ifname",
                      "x-patterns": "'(\\d+)|(\\w+(/\\w+)?(/\\d+)?)'"
                    },
                    "existing-ethernet-ip": {
                      "description": "Determines whether this is an existing ethernet interface IP configuration.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "shutdown-on-split": {
                      "default": "false",
                      "description": "Determines whether the port will be shutdown when VSX split occurs.\nThis is only applicable to the ports that are not configured as MCLAG\nand SVIs that do not have any MCLAGs as members.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "vrf-forwarding": {
                      "description": "Attach interface to VRF.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ethernetIfname"
            ]
          }
        }
      },
      "ArubaVsx_EthernetGet": {
        "description": "Grouping for the Ethernet Interfaces.",
        "properties": {
          "ethernet-interface": {
            "description": "Ethernet Interface name & its configuration.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVsx_SwitchportConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaVsx_IpConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "Description of the ethernet Interface.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "ethernet-ifname": {
                      "description": "Interface name.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ethernet-ifname",
                      "x-patterns": "'(\\d+)|(\\w+(/\\w+)?(/\\d+)?)'"
                    },
                    "existing-ethernet-ip": {
                      "description": "Determines whether this is an existing ethernet interface IP configuration.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "shutdown-on-split": {
                      "default": "false",
                      "description": "Determines whether the port will be shutdown when VSX split occurs.\nThis is only applicable to the ports that are not configured as MCLAG\nand SVIs that do not have any MCLAGs as members.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "vrf-forwarding": {
                      "description": "Attach interface to VRF.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ethernetIfname"
            ]
          }
        }
      },
      "ArubaVsx_InterSwitchLink": {
        "description": "Grouping for the Ethernet Interfaces.",
        "properties": {
          "inter-switch-link": {
            "description": "inter-switch-link interface configurations",
            "properties": {
              "physical-interface": {
                "description": "Name of the physical interface to be used as interswitch link.\nOnly one port can be configured to act as ISL. Once a port is configured\nas an ISL, it will become part of all vlan in system.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "physical-interface",
                "x-patterns": "'(\\d+)|(\\w+(/\\w+)?(/\\d+)?)'"
              },
              "portchannel-interface": {
                "description": "Name of the portchannel interface to be used as interswitch link.\nOnly one port can be configured to act as ISL. Once a port is configured\nas an ISL, it will become part of all vlan in system.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "portchannel-interface",
                "x-patterns": "'(\\d+)'"
              }
            }
          }
        }
      },
      "ArubaVsx_InterSwitchLinkGet": {
        "description": "Grouping for the Ethernet Interfaces.",
        "properties": {
          "inter-switch-link": {
            "description": "inter-switch-link interface configurations",
            "properties": {
              "physical-interface": {
                "description": "Name of the physical interface to be used as interswitch link.\nOnly one port can be configured to act as ISL. Once a port is configured\nas an ISL, it will become part of all vlan in system.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "physical-interface",
                "x-patterns": "'(\\d+)|(\\w+(/\\w+)?(/\\d+)?)'"
              },
              "portchannel-interface": {
                "description": "Name of the portchannel interface to be used as interswitch link.\nOnly one port can be configured to act as ISL. Once a port is configured\nas an ISL, it will become part of all vlan in system.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "portchannel-interface",
                "x-patterns": "'(\\d+)'"
              }
            }
          }
        }
      },
      "ArubaVsx_IpConfig": {
        "description": "IP configuration for the interfaces.",
        "properties": {
          "autoconfig": {
            "default": "false",
            "description": "Enable Automatic IPv6 address configuration on an interface.",
            "type": "boolean"
          },
          "enable-default-link-local": {
            "default": "false",
            "description": "Enable default IPv6 Link Local Address on an interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ipv4-address": {
            "description": "IPv4 address configuration on an interface.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-prefix",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
            "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
          },
          "ipv4-address-secondary": {
            "description": "Secondary IPv4 address configuration on an interface.",
            "items": {
              "description": "Secondary IPv4 address configuration on an interface.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-prefix",
              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
              "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "ipv6-address": {
            "description": "IPv6 address configuration on an interface.",
            "items": {
              "description": "IPv6 address configuration on an interface.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv6-prefix",
              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
              "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "link-local": {
            "description": "IPv6 Link Local Address configuration on an interface.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          }
        }
      },
      "ArubaVsx_IpConfigGet": {
        "description": "IP configuration for the interfaces.",
        "properties": {
          "autoconfig": {
            "default": "false",
            "description": "Enable Automatic IPv6 address configuration on an interface.",
            "type": "boolean"
          },
          "enable-default-link-local": {
            "default": "false",
            "description": "Enable default IPv6 Link Local Address on an interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ipv4-address": {
            "description": "IPv4 address configuration on an interface.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-prefix",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
            "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
          },
          "ipv4-address-secondary": {
            "description": "Secondary IPv4 address configuration on an interface.",
            "items": {
              "description": "Secondary IPv4 address configuration on an interface.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-prefix",
              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
              "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "ipv6-address": {
            "description": "IPv6 address configuration on an interface.",
            "items": {
              "description": "IPv6 address configuration on an interface.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv6-prefix",
              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
              "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "link-local": {
            "description": "IPv6 Link Local Address configuration on an interface.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          }
        }
      },
      "ArubaVsx_Loopback": {
        "description": "Grouping for the Loopback Interfaces.",
        "properties": {
          "loopback-interface": {
            "description": "Loopback Interface id & its configuration",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVsx_IpConfig"
                },
                {
                  "properties": {
                    "description": {
                      "description": "Description of the loopback Interface.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "existing-loopback-ip": {
                      "description": "Determines whether this is an existing loopback interface.",
                      "type": "boolean"
                    },
                    "loopback-id": {
                      "description": "Loopback Interface ID.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer"
                    },
                    "vrf-forwarding": {
                      "description": "Attach interface to VRF.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "loopbackId"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaVsx_LoopbackGet": {
        "description": "Grouping for the Loopback Interfaces.",
        "properties": {
          "loopback-interface": {
            "description": "Loopback Interface id & its configuration",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVsx_IpConfigGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "Description of the loopback Interface.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "existing-loopback-ip": {
                      "description": "Determines whether this is an existing loopback interface.",
                      "type": "boolean"
                    },
                    "loopback-id": {
                      "description": "Loopback Interface ID.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer"
                    },
                    "vrf-forwarding": {
                      "description": "Attach interface to VRF.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "loopbackId"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaVsx_Management": {
        "description": "Grouping for the Management Interfaces.",
        "properties": {
          "management-interface": {
            "description": "Management interface IP configuration.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVsx_IpConfig"
                },
                {
                  "properties": {
                    "existing-management-ip": {
                      "description": "Determines whether this is an existing ethernet interface IP configuration.",
                      "type": "boolean"
                    },
                    "mgmt-ifname": {
                      "description": "Management interface name.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "mgmt-ifname",
                      "x-patterns": "'(\\w+((/\\w+)+([:.]\\d+)?)?)'"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "mgmtIfname"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaVsx_ManagementGet": {
        "description": "Grouping for the Management Interfaces.",
        "properties": {
          "management-interface": {
            "description": "Management interface IP configuration.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVsx_IpConfigGet"
                },
                {
                  "properties": {
                    "existing-management-ip": {
                      "description": "Determines whether this is an existing ethernet interface IP configuration.",
                      "type": "boolean"
                    },
                    "mgmt-ifname": {
                      "description": "Management interface name.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "mgmt-ifname",
                      "x-patterns": "'(\\w+((/\\w+)+([:.]\\d+)?)?)'"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "mgmtIfname"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaVsx_PortChannel": {
        "description": "Grouping for the Port Channel (Aggregate) Interfaces.",
        "properties": {
          "port-channel-interface": {
            "description": "Port channel Interface name and its configuration.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVsx_SwitchportConfig"
                },
                {
                  "$ref": "#/components/schemas/ArubaVsx_IpConfig"
                },
                {
                  "properties": {
                    "cipt-client-limit-max": {
                      "description": "Configure the maximum number of clients tracked on this port.",
                      "format": "int32",
                      "maximum": 4096,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "cipt-mode": {
                      "default": "AUTO",
                      "description": "The client IP tracking mode of the port on AOS-CX switches.",
                      "enum": [
                        "ENABLE",
                        "DISABLE",
                        "AUTO"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "AUTO": "Default mode. Track limited set of clients based on LLDP/CDP\nsignature and access/trunk configuration.",
                        "DISABLE": "Client IP addresses are not tracked on this port.",
                        "ENABLE": "Track all client IP addresses on this port."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Specifies the client IP tracking mode of the port on AOS-CX switches."
                    },
                    "cipt-update-interval": {
                      "description": "Configure the IP address update interval in seconds.",
                      "format": "int32",
                      "maximum": 28000,
                      "minimum": 60,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "description": {
                      "description": "Description of the port channel Interface.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "enable": {
                      "default": "false",
                      "description": "Enable interface.",
                      "type": "boolean"
                    },
                    "existing-portchannel-ip": {
                      "description": "Determines whether this is an existing portchannel interface IP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "fallback": {
                      "default": "false",
                      "description": "LACP fallback mode.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "fallback-static": {
                      "default": "false",
                      "description": "LACP fallback-static mode.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "lacp-mode": {
                      "description": "Active/Passive mode of LACP for this group",
                      "enum": [
                        "ACTIVE",
                        "PASSIVE",
                        "AUTO"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ACTIVE": "Active LACP.",
                        "AUTO": "Auto detect LACP PDU to determine if LACP passive should be enabled or NOT.",
                        "PASSIVE": "Passive LACP."
                      },
                      "x-typeDescription": "LACP mode for the group id."
                    },
                    "linkup-delay-timer-exclude": {
                      "default": "false",
                      "description": "Disable linkup delay timer on this multichassis port channel interface.\nThis delays bringing downstream multi-chassis links up, following  VSX device\nreboot or ISL flap",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "port-list": {
                      "description": "Attach physical interfaces to tunnel interface.",
                      "items": {
                        "description": "Attach physical interfaces to tunnel interface.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "port-list",
                        "x-patterns": "'(\\d+)|(\\w+(/\\w+)?(/\\d+)?)'"
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "portchannel-ifname": {
                      "description": "Interface name.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "portchannel-ifname",
                      "x-patterns": "'(\\w+((/\\d+)+([:.]\\d+)?)?)'"
                    },
                    "routing": {
                      "description": "Enable routing.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "shutdown-on-split": {
                      "default": "false",
                      "description": "Determines whether the port will be shutdown when VSX split occurs.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "trunk-type": {
                      "description": "Type of trunk.",
                      "enum": [
                        "LACP",
                        "TRUNK",
                        "MULTI_CHASSIS",
                        "MULTI_CHASSIS_STATIC",
                        "DT_TRUNK"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DT_TRUNK": "Distributed Manual Trunk.",
                        "LACP": "IEEE 802.3ad Link Aggregation protocol.",
                        "MULTI_CHASSIS": "Distributed Trunk Port.",
                        "MULTI_CHASSIS_STATIC": "Static multi-chassis LAG which does not use LACP",
                        "TRUNK": "Manual static trunk that does not use LACP protocol."
                      },
                      "x-typeDescription": "Type of LAG interface."
                    },
                    "vrf-forwarding": {
                      "description": "Attach interface to VRF.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "portchannelIfname"
            ]
          }
        }
      },
      "ArubaVsx_PortChannelGet": {
        "description": "Grouping for the Port Channel (Aggregate) Interfaces.",
        "properties": {
          "port-channel-interface": {
            "description": "Port channel Interface name and its configuration.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVsx_SwitchportConfigGet"
                },
                {
                  "$ref": "#/components/schemas/ArubaVsx_IpConfigGet"
                },
                {
                  "properties": {
                    "cipt-client-limit-max": {
                      "description": "Configure the maximum number of clients tracked on this port.",
                      "format": "int32",
                      "maximum": 4096,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "cipt-mode": {
                      "default": "AUTO",
                      "description": "The client IP tracking mode of the port on AOS-CX switches.",
                      "enum": [
                        "ENABLE",
                        "DISABLE",
                        "AUTO"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "AUTO": "Default mode. Track limited set of clients based on LLDP/CDP\nsignature and access/trunk configuration.",
                        "DISABLE": "Client IP addresses are not tracked on this port.",
                        "ENABLE": "Track all client IP addresses on this port."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Specifies the client IP tracking mode of the port on AOS-CX switches."
                    },
                    "cipt-update-interval": {
                      "description": "Configure the IP address update interval in seconds.",
                      "format": "int32",
                      "maximum": 28000,
                      "minimum": 60,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "description": {
                      "description": "Description of the port channel Interface.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "enable": {
                      "default": "false",
                      "description": "Enable interface.",
                      "type": "boolean"
                    },
                    "existing-portchannel-ip": {
                      "description": "Determines whether this is an existing portchannel interface IP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "fallback": {
                      "default": "false",
                      "description": "LACP fallback mode.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "fallback-static": {
                      "default": "false",
                      "description": "LACP fallback-static mode.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "lacp-mode": {
                      "description": "Active/Passive mode of LACP for this group",
                      "enum": [
                        "ACTIVE",
                        "PASSIVE",
                        "AUTO"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ACTIVE": "Active LACP.",
                        "AUTO": "Auto detect LACP PDU to determine if LACP passive should be enabled or NOT.",
                        "PASSIVE": "Passive LACP."
                      },
                      "x-typeDescription": "LACP mode for the group id."
                    },
                    "linkup-delay-timer-exclude": {
                      "default": "false",
                      "description": "Disable linkup delay timer on this multichassis port channel interface.\nThis delays bringing downstream multi-chassis links up, following  VSX device\nreboot or ISL flap",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "port-list": {
                      "description": "Attach physical interfaces to tunnel interface.",
                      "items": {
                        "description": "Attach physical interfaces to tunnel interface.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "port-list",
                        "x-patterns": "'(\\d+)|(\\w+(/\\w+)?(/\\d+)?)'"
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "portchannel-ifname": {
                      "description": "Interface name.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "portchannel-ifname",
                      "x-patterns": "'(\\w+((/\\d+)+([:.]\\d+)?)?)'"
                    },
                    "routing": {
                      "description": "Enable routing.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "shutdown-on-split": {
                      "default": "false",
                      "description": "Determines whether the port will be shutdown when VSX split occurs.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "trunk-type": {
                      "description": "Type of trunk.",
                      "enum": [
                        "LACP",
                        "TRUNK",
                        "MULTI_CHASSIS",
                        "MULTI_CHASSIS_STATIC",
                        "DT_TRUNK"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DT_TRUNK": "Distributed Manual Trunk.",
                        "LACP": "IEEE 802.3ad Link Aggregation protocol.",
                        "MULTI_CHASSIS": "Distributed Trunk Port.",
                        "MULTI_CHASSIS_STATIC": "Static multi-chassis LAG which does not use LACP",
                        "TRUNK": "Manual static trunk that does not use LACP protocol."
                      },
                      "x-typeDescription": "Type of LAG interface."
                    },
                    "vrf-forwarding": {
                      "description": "Attach interface to VRF.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "portchannelIfname"
            ]
          }
        }
      },
      "ArubaVsx_SwitchportConfig": {
        "description": "Switchport grouping",
        "properties": {
          "switchport": {
            "description": "Switchport configuration.",
            "properties": {
              "access-vlan": {
                "description": "Assign the access VLAN to the access port.",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer"
              },
              "interface-mode": {
                "description": "Interface access or trunk mode for VLANs",
                "enum": [
                  "ACCESS",
                  "TRUNK"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ACCESS": "Access mode VLAN interface (No 802.1q header)",
                  "TRUNK": "Trunk mode VLAN interface"
                },
                "x-typeDescription": "VLAN interface mode (trunk or access)"
              },
              "native-vlan": {
                "description": "Native VLAN id for untagged frames arriving on\na trunk interface.  Tagged frames sent on an interface\nconfigured with a native VLAN should have their tags\nstripped prior to transmission. This configuration is only\nvalid on a trunk interface.",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer"
              },
              "tag": {
                "default": "false",
                "description": "This configuration is to make sure that an interface does not accept\nuntagged frames coming in and configured to be tagged on all VLANs",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "trunk-vlan-all": {
                "default": "false",
                "description": "Allow all vlans for trunk mode interface",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "trunk-vlan-ranges": {
                "description": "VLAN ranges that the interface may carry when in trunk mode.",
                "items": {
                  "description": "VLAN ranges that the interface may carry when in trunk mode.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "vlan-range",
                  "x-patterns": "'((((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9]))|(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])))'",
                  "x-typeDescription": "VLANs or only single-tagged VLANs or both. A range is\nspecified as x-y where x and y are valid VLAN IDs\n(1 <= vlan-id <= 4094). The range is assumed to be inclusive,\nsuch that any VLAN-ID matching x <= VLAN-ID <= y falls within\nthe range."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "trunk-vlans": {
                "description": "VLANs that the interface may carry when in trunk mode.",
                "items": {
                  "description": "VLANs that the interface may carry when in trunk mode.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "maxItems": 2147483647,
                "type": "array"
              }
            }
          }
        }
      },
      "ArubaVsx_SwitchportConfigGet": {
        "description": "Switchport grouping",
        "properties": {
          "switchport": {
            "description": "Switchport configuration.",
            "properties": {
              "access-vlan": {
                "description": "Assign the access VLAN to the access port.",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer"
              },
              "interface-mode": {
                "description": "Interface access or trunk mode for VLANs",
                "enum": [
                  "ACCESS",
                  "TRUNK"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ACCESS": "Access mode VLAN interface (No 802.1q header)",
                  "TRUNK": "Trunk mode VLAN interface"
                },
                "x-typeDescription": "VLAN interface mode (trunk or access)"
              },
              "native-vlan": {
                "description": "Native VLAN id for untagged frames arriving on\na trunk interface.  Tagged frames sent on an interface\nconfigured with a native VLAN should have their tags\nstripped prior to transmission. This configuration is only\nvalid on a trunk interface.",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer"
              },
              "tag": {
                "default": "false",
                "description": "This configuration is to make sure that an interface does not accept\nuntagged frames coming in and configured to be tagged on all VLANs",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "trunk-vlan-all": {
                "default": "false",
                "description": "Allow all vlans for trunk mode interface",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "trunk-vlan-ranges": {
                "description": "VLAN ranges that the interface may carry when in trunk mode.",
                "items": {
                  "description": "VLAN ranges that the interface may carry when in trunk mode.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "vlan-range",
                  "x-patterns": "'((((409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])\\-(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9]))|(409[0-4]|40[0-8][0-9]|[1-3][0-9]{3}|[1-9][0-9]{1,2}|[1-9])))'",
                  "x-typeDescription": "VLANs or only single-tagged VLANs or both. A range is\nspecified as x-y where x and y are valid VLAN IDs\n(1 <= vlan-id <= 4094). The range is assumed to be inclusive,\nsuch that any VLAN-ID matching x <= VLAN-ID <= y falls within\nthe range."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "trunk-vlans": {
                "description": "VLANs that the interface may carry when in trunk mode.",
                "items": {
                  "description": "VLANs that the interface may carry when in trunk mode.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "maxItems": 2147483647,
                "type": "array"
              }
            }
          }
        }
      },
      "ArubaVsx_Vlan": {
        "description": "List of vlans to be created on both primary and secondary for ISL, MCLAG and SVI active gateway",
        "properties": {
          "l3-vlans": {
            "description": "List of VLANs to be created on both primary and secondary.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVsx_ActiveGatewayConfig"
                },
                {
                  "properties": {
                    "active-forwarding": {
                      "default": "false",
                      "description": "Determines whether this port has VSX active-forwarding enabled or not.\nThis should be set on Upstream SVIs only and not on downstream SVIs\nthat have active-gateway enabled. Active forwarding cannot be enabled on\nan interface in which active gateway is configured.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "id": {
                      "description": "Interface name.",
                      "format": "int32",
                      "maximum": 4094,
                      "minimum": 1,
                      "type": "integer",
                      "x-typeDescription": "Type definition representing a single-tagged VLAN"
                    },
                    "shutdown-on-split": {
                      "default": "false",
                      "description": "Configures non-vsx interface to go down along with VSX interfaces during split.\nThis also configures the interface-vlan, whose vlan tag is not configured\non any of the MCLAGs, to go down on VSX split. In case of interface-vlans,\nthis command is recommended to be configured on those interface-vlans which\nwould establish L3 adjacency with other devices that are not\npart of VSX MCLAGs but part of ISL and that would require immediate reconvergence\non VSX split.For example, VxLAN tunnels formed through VSX switches whose overlay routes\nare advertised through these interface-vlans can be configured with this command.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "id"
            ]
          }
        }
      },
      "ArubaVsx_VlanDevice": {
        "description": "List of vlans to be created on both primary and secondary for ISL, MCLAG and SVI active gateway",
        "properties": {
          "vlan-interface": {
            "description": "VLAN to be created on both primary and secondary.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaVsx_IpConfig"
                },
                {
                  "properties": {
                    "active-forwarding": {
                      "default": "false",
                      "description": "Determines whether this port has VSX active-forwarding enabled or not.\nThis should be set on Upstream SVIs only and not on downstream SVIs\nthat have active-gateway enabled. Active forwarding cannot be enabled on\nan interface in which active gateway is configured.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "description": {
                      "description": "Description of the vlan Interface.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "existing-vlan-ip": {
                      "description": "Determines whether this is an existing vlan interface ip.",
                      "type": "boolean"
                    },
                    "vlan-id": {
                      "description": "Interface vlan ID.",
                      "format": "int32",
                      "maximum": 4094,
[...]
