{
  "openapi": "3.1.0",
  "info": {
    "title": "Reporting",
    "version": "0.0.1",
    "description": "The Reporting APIs for managing `Network Reports`."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Reporting",
      "description": "Reporting APIs to manage network reports"
    }
  ],
  "paths": {
    "/network-reporting/v1/reports": {
      "get": {
        "summary": "List Reports",
        "description": "This API endpoint returns User Reports filtered by the specified query parameters. Each report contains key details such as ID, name, type, and scope. Use the query parameters to filter results and retrieve only data that matches your specific requirements.",
        "tags": [
          "Reporting"
        ],
        "operationId": "listReportsV1",
        "parameters": [
          {
            "name": "search",
            "description": "Search the Report based on Name, Type, Status and Saved By",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "inventory"
          },
          {
            "name": "filter",
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the table below.\n\n| Field | Operators |\n| --------- | -------- |\n| `status` (last run status) | `eq` and `in` |\n| `scheduleType` (report schedule type) |`eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "status in ('ACTIVE', 'COMPLETED', 'FAILED') and scheduleType in ('EVERY_MONTH', 'EVERY_WEEK', 'EVERY_DAY', 'ONE_TIME')"
          },
          {
            "name": "sort",
            "description": "Sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nIf a direction indicator is omitted the default direction is ascending.\n\nSupported fields are \n\n| Sort Field                          | Description                          |\n| ----------------------------------- | ------------------------------------ |\n| `name`                              | The name of the report.     |\n| `scope`                             | The specific sites where the report applies. |\n| `type`                              | The type or category of the report (e.g., inventory, client). |\n| `createdBy`                           | User who created the report. |\n| `scheduleType`       | Type of schedule for the report (e.g., recurring, one-time). |\n| `scheduleLastRunTs`          | Timestamp of the last time the report was executed. |\n| `scheduleNextRunTs`          | Timestamp of the next scheduled run for the report. |\n| `scheduleTotalRuns`          | Total number of times the report has been run. |\n| `scheduleEnd`        | The end date or timestamp of the report schedule. |\n\n",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 256,
              "examples": [
                "name asc",
                "scope asc",
                "type asc",
                "scheduleType desc",
                "scheduleLastRunTs desc",
                "scheduleNextRunTs desc",
                "scheduleTotalRuns desc",
                "createdBy asc",
                "scheduleEnd desc"
              ]
            },
            "example": "scheduleLastRunTs desc"
          },
          {
            "name": "next",
            "description": "Specifies the pagination cursor for the next page of resources. Minimum value is 1.",
            "in": "query",
            "schema": {
              "default": "1",
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "limit",
            "description": "Maximum number of reports to be retrieved. Allowed range is 1 to 100.",
            "in": "query",
            "schema": {
              "default": 10,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListReportsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "post": {
        "summary": "Create Report",
        "description": "This API endpoint allows users to generate reports based on report-specific filters, report periods, and scheduling options. Reports can be scheduled for one-time or recurring execution and sent by email in multiple formats.\n\n## General Parameters\n\n| Parameter | Description | Required |\n|-----------|-------------|----------|\n| **name** | Name of the report. | true |\n| **type** | Type of the report. <br> Refer **Report Type** for more details. | true |\n| **timeZone** | User time zone in IANA format (for example, `America/New_York`). | true |\n| **filters** | Filters applied to refine report data. <br> Refer **Report Filter** for more details. | true |\n| **reportPeriod** | Time range defining the report data scope. <br> Refer **Report Period** for more details. | true |\n| **reportSchedule** | Defines how often the report is generated. <br> Refer **Report Schedule** for more details. | true |\n| **email** | Email recipients and report output formats. | false |\n\n## Report Type\n\nThe following report types and filter mappings are derived from Reports Metadata.\n\n| Report Name | Report Type | Supported Filters |\n|-------------|-------------|------------------|\n| Application Analytics | **appAnalytics** | `appCategories`, `connectionType`, `deviceTypes`, `scope`, `sites` |\n| Capacity Planning | **capacityPlanning** | `connectionType`, `deviceTypes`, `excludeDevices`, `gatewayCapacityThreshold`, `gatewayPercentageOfTimeGreaterThanThreshold`, `includeDevices`, `scope`, `sites`, `switchCapacityThreshold`, `switchPercentageOfTimeGreaterThanThreshold` |\n| Client Inventory | **clientInventory** | `connectionType`, `deviceTypes`, `excludeDevices`, `excludeUCClients`, `includeDevices`, `includeUCClients`, `includeUCModelOs`, `includeUCRole`, `includeUCSSIDs`, `includeUCVendor`, `scope`, `sites` |\n| Client Session | **clientSession** | `connectionType`, `deviceTypes`, `excludeDevices`, `excludeUCClients`, `includeDevices`, `includeUCClients`, `includeUCModelOs`, `includeUCRole`, `includeUCSSIDs`, `includeUCVendor`, `scope`, `sites` |\n| Device Uptime | **deviceUptime** | `deviceTypes`, `excludeDevices`, `includeDevices`, `scope`, `sites` |\n| Licenses | **licenses** | `scope` (global only) |\n| MSP Customer (For MSP Customers) | **mspcustomer** | `deviceOwnership`, `scope` (global only) |\n| MSP Inventory (For MSP Customers) | **mspinventory** | `scope` (global only) |\n| MSP License (For MSP Customers) | **msplicense** | `scope` (global only) |\n| MSP Subscription (For MSP Customers) | **mspsubscription** | `scope` (global only) |\n| Network Usage | **networkUsage** | `deviceTypes`, `excludeDevices`, `excludeUCSSIDs`, `includeDevices`, `includeUCSSIDs`, `scope`, `sites` |\n| Resource Utilization | **resourceUtilization** | `apCpuUtilThreshold`, `apMemoryUtilThreshold`, `deviceTypes`, `excludeDevices`, `gatewayCpuUtilThreshold`, `gatewayMemoryUtilThreshold`, `includeDevices`, `scope`, `sites`, `switchCpuUtilThreshold`, `switchMemoryUtilThreshold` |\n| RF Health | **rfHealth** | `excludeDevices`, `includeDevices`, `radioFrequency`, `scope`, `sites` |\n| Security Compliance | **securityCompliance** | `scope` (global only) |\n| Visitor | **visitor** | `scope`, `ssids` |\n| WIDS | **wids** | `scope`, `sites` |\n| Custom | **custom** | Filter support varies with respect to KPI selection. Refer Reports Metadata API |\n\n## Report Filter\n\n| Filter Name | Filter Type | Description | Required |\n|--------|-------------|-------------|----------|\n| Scope | **scope** | Scope filter for report. Allowed values are `global` and `sites`. | true if applicable |\n| Sites | **sites** | Site IDs filter for report. | true if `scope` is `sites` |\n| Device Types | **deviceTypes** | Device type filter. Allowed values: `access_points`, `switches`, `gateways`. | true if applicable |\n| Connection Type | **connectionType** | Connection type filter. Allowed values: `wired`, `wireless`, `all`. | true if applicable |\n| Device Ownership | **deviceOwnership** | Device ownership type filter. Allowed values: `MSP`, `CUSTOMER`. | true if applicable |\n| Application Categories | **appCategories** | Application category filter. Allowed values from metadata (for example, `Any`). | true if applicable |\n| Radio Frequency | **radioFrequency** | Frequency band filter. Allowed values: `2.4GHz`, `5GHz`, `6GHz`. | true if applicable |\n| SSID | **ssids** | SSID values used for visitor reports. | true if applicable |\n| Include Devices | **includeDevices** | Device serial numbers to include in report output. | false |\n| Exclude Devices | **excludeDevices** | Device serial numbers to exclude from report output. | false |\n| Include Unified Clients | **includeUCClients** | Unified client identifiers to include. | false |\n| Exclude Unified Clients | **excludeUCClients** | Unified client identifiers to exclude. | false |\n| Include Unified Client Vendor | **includeUCVendor** | Unified client vendor values to include. | false |\n| Include Unified Client Model/OS | **includeUCModelOs** | Unified client model or OS values to include. | false |\n| Include Unified Client Role | **includeUCRole** | Unified client role values to include. | false |\n| Include Unified Client SSIDs | **includeUCSSIDs** | Unified client SSIDs to include. | false |\n| Exclude Unified Client SSIDs | **excludeUCSSIDs** | Unified client SSIDs to exclude. | false |\n| AP CPU Utilization Threshold | **apCpuUtilThreshold** | AP CPU utilization threshold filter. Range: `0-100` (default: `70`). | false |\n| Switch CPU Utilization Threshold | **switchCpuUtilThreshold** | Switch CPU utilization threshold filter. Range: `0-100` (default: `70`). | false |\n| Gateway CPU Utilization Threshold | **gatewayCpuUtilThreshold** | Gateway CPU utilization threshold filter. Range: `0-100` (default: `70`). | false |\n| AP Memory Utilization Threshold | **apMemoryUtilThreshold** | AP memory utilization threshold filter. Range: `0-100` (default: `70`). | false |\n| Switch Memory Utilization Threshold | **switchMemoryUtilThreshold** | Switch memory utilization threshold filter. Range: `0-100` (default: `70`). | false |\n| Gateway Memory Utilization Threshold | **gatewayMemoryUtilThreshold** | Gateway memory utilization threshold filter. Range: `0-100` (default: `70`). | false |\n| Switch Capacity Threshold | **switchCapacityThreshold** | Switch capacity threshold filter. Range: `0-99` (default: `40`). | false |\n| Switch Percentage Of Time Greater Than Threshold | **switchPercentageOfTimeGreaterThanThreshold** | Percentage of time switch exceeds threshold. Range: `0-99` (default: `25`). | false |\n| Gateway Capacity Threshold | **gatewayCapacityThreshold** | Gateway capacity threshold filter. | false |\n| Gateway Percentage Of Time Greater Than Threshold | **gatewayPercentageOfTimeGreaterThanThreshold** | Percentage of time gateway exceeds threshold. | false |\n\n## Report Period\n\n| Report Period | Allowed Fields | Allowed Schedules |\n|--------------|----------------|------------------|\n| **SNAPSHOT** | None | `ONE_TIME`, `EVERY_DAY`, `EVERY_WEEK`, `EVERY_MONTH` |\n| **LAST_DAY** | `sliceTime` | `ONE_TIME`, `EVERY_DAY` |\n| **LAST_WEEK** | `sliceTime`, `sliceDays` | `ONE_TIME`, `EVERY_WEEK`, `EVERY_MONTH` |\n| **LAST_MONTH** | `sliceTime`, `sliceDays` | `ONE_TIME`, `EVERY_MONTH` |\n| **CUSTOM_RANGE** | `from`, `to` timestamps (without `sliceDays` or `sliceTime`) | `ONE_TIME` |\n\n`sliceTime` and `sliceDays` are applicable only for `resourceUtilization` and `capacityPlanning` report types.\n\n## Report Schedule\n\n| Schedule Type | Required Fields | Applicable Report Periods |\n|--------------|----------------|---------------------------|\n| **ONE_TIME** | None | All report periods |\n| **EVERY_DAY** | `startDate`, `endDate` | `LAST_DAY` |\n| **EVERY_WEEK** | `startDate`, `endDate` | `LAST_WEEK` |\n| **EVERY_MONTH** | `startDate`, `endDate` | `LAST_WEEK`, `LAST_MONTH` |",
        "tags": [
          "Reporting"
        ],
        "operationId": "createUserReportV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "report": {
                    "$ref": "#/components/schemas/CreateReportsInput"
                  }
                }
              },
              "examples": {
                "appAnalytics": {
                  "summary": "Application Analytics Report",
                  "value": {
                    "report": {
                      "name": "Application Analytics Report",
                      "type": "appAnalytics",
                      "timeZone": "America/New_York",
                      "filters": [
                        {
                          "filterType": "scope",
                          "values": [
                            "global"
                          ]
                        },
                        {
                          "filterType": "deviceTypes",
                          "values": [
                            "access_points"
                          ]
                        },
                        {
                          "filterType": "connectionType",
                          "values": [
                            "wireless"
                          ]
                        },
                        {
                          "filterType": "appCategories",
                          "values": [
                            "Any"
                          ]
                        }
                      ],
                      "reportPeriod": {
                        "type": "LAST_WEEK"
                      },
                      "reportSchedule": {
                        "recurrenceType": "EVERY_WEEK",
                        "startDate": "2025-03-01T00:00:00Z",
                        "endDate": "2025-06-01T00:00:00Z"
                      },
                      "email": {
                        "recipients": [
                          "user1@mail.com",
                          "user2@mail.com"
                        ],
                        "formats": [
                          "CSV",
                          "PDF"
                        ]
                      }
                    }
                  }
                },
                "clientInventory": {
                  "summary": "Client Inventory Report",
                  "value": {
                    "report": {
                      "name": "Client Inventory Report",
                      "type": "clientInventory",
                      "timeZone": "America/New_York",
                      "filters": [
                        {
                          "filterType": "scope",
                          "values": [
                            "global"
                          ]
                        },
                        {
                          "filterType": "deviceTypes",
                          "values": [
                            "access_points",
                            "switches"
                          ]
                        },
                        {
                          "filterType": "connectionType",
                          "values": [
                            "all"
                          ]
                        }
                      ],
                      "reportPeriod": {
                        "type": "LAST_DAY"
                      },
                      "reportSchedule": {
                        "recurrenceType": "EVERY_DAY",
                        "startDate": "2025-03-01T00:00:00Z",
                        "endDate": "2025-03-31T00:00:00Z"
                      }
                    }
                  }
                },
                "clientSession": {
                  "summary": "Client Session Report",
                  "value": {
                    "report": {
                      "name": "Client Session Report",
                      "type": "clientSession",
                      "timeZone": "America/New_York",
                      "filters": [
                        {
                          "filterType": "scope",
                          "values": [
                            "sites"
                          ]
                        },
                        {
                          "filterType": "sites",
                          "values": [
                            "123456"
                          ]
                        },
                        {
                          "filterType": "deviceTypes",
                          "values": [
                            "switches",
                            "gateways"
                          ]
                        },
                        {
                          "filterType": "connectionType",
                          "values": [
                            "wired"
                          ]
                        }
                      ],
                      "reportPeriod": {
                        "type": "CUSTOM_RANGE",
                        "from": "2025-01-01T00:00:00Z",
                        "to": "2025-02-01T00:00:00Z"
                      },
                      "reportSchedule": {
                        "recurrenceType": "ONE_TIME"
                      }
                    }
                  }
                },
                "capacityPlanning": {
                  "summary": "Capacity Planning Report",
                  "value": {
                    "report": {
                      "name": "Capacity Planning Report",
                      "type": "capacityPlanning",
                      "timeZone": "America/New_York",
                      "filters": [
                        {
                          "filterType": "scope",
                          "values": [
                            "global"
                          ]
                        },
                        {
                          "filterType": "deviceTypes",
                          "values": [
                            "switches"
                          ]
                        },
                        {
                          "filterType": "connectionType",
                          "values": [
                            "wired"
                          ]
                        },
                        {
                          "filterType": "switchPercentageOfTimeGreaterThanThreshold",
                          "values": [
                            "55"
                          ]
                        },
                        {
                          "filterType": "switchCapacityThreshold",
                          "values": [
                            "70"
                          ]
                        }
                      ],
                      "reportPeriod": {
                        "type": "LAST_MONTH"
                      },
                      "reportSchedule": {
                        "recurrenceType": "EVERY_MONTH",
                        "startDate": "2025-02-01T00:00:00Z",
                        "endDate": "2025-06-01T00:00:00Z"
                      },
                      "email": {
                        "recipients": [
                          "user1@mail.com",
                          "user2@mail.com"
                        ],
                        "formats": [
                          "CSV",
                          "PDF"
                        ]
                      }
                    }
                  }
                },
                "deviceUptime": {
                  "summary": "Device Uptime Report",
                  "value": {
                    "report": {
                      "name": "Device Uptime Report",
                      "type": "deviceUptime",
                      "timeZone": "America/New_York",
                      "filters": [
                        {
                          "filterType": "scope",
                          "values": [
                            "sites"
                          ]
                        },
                        {
                          "filterType": "sites",
                          "values": [
                            "123456"
                          ]
                        },
                        {
                          "filterType": "deviceTypes",
                          "values": [
                            "gateways"
                          ]
                        }
                      ],
                      "reportPeriod": {
                        "type": "LAST_DAY"
                      },
                      "reportSchedule": {
                        "recurrenceType": "ONE_TIME"
                      },
                      "email": {
                        "recipients": [
                          "user1@mail.com",
                          "user2@mail.com"
                        ],
                        "formats": [
                          "CSV",
                          "PDF"
                        ]
                      }
                    }
                  }
                },
                "inventory": {
                  "summary": "Inventory Report",
                  "value": {
                    "report": {
                      "name": "Inventory Report",
                      "type": "inventory",
                      "timeZone": "America/New_York",
                      "filters": [
                        {
                          "filterType": "scope",
                          "values": [
                            "sites"
                          ]
                        },
                        {
                          "filterType": "sites",
                          "values": [
                            "123456"
                          ]
                        },
                        {
                          "filterType": "deviceTypes",
                          "values": [
                            "switches"
                          ]
                        }
                      ],
                      "reportPeriod": {
                        "type": "LAST_WEEK"
                      },
                      "reportSchedule": {
                        "recurrenceType": "EVERY_WEEK",
                        "startDate": "2025-03-01T00:00:00Z",
                        "endDate": "2025-06-01T00:00:00Z"
                      },
                      "email": {
                        "recipients": [
                          "user1@mail.com",
                          "user2@mail.com"
                        ],
                        "formats": [
                          "CSV",
                          "PDF"
                        ]
                      }
                    }
                  }
                },
                "networkUsage": {
                  "summary": "Network Usage Report",
                  "value": {
                    "report": {
                      "name": "Network Usage Report",
                      "type": "networkUsage",
                      "timeZone": "America/New_York",
                      "filters": [
                        {
                          "filterType": "scope",
                          "values": [
                            "sites"
                          ]
                        },
                        {
                          "filterType": "sites",
                          "values": [
                            "123456"
                          ]
                        },
                        {
                          "filterType": "deviceTypes",
                          "values": [
                            "switches"
                          ]
                        }
                      ],
                      "reportPeriod": {
                        "type": "CUSTOM_RANGE",
                        "from": "2025-01-01T00:00:00Z",
                        "to": "2025-02-01T00:00:00Z"
                      },
                      "reportSchedule": {
                        "recurrenceType": "ONE_TIME"
                      },
                      "email": {
                        "recipients": [
                          "user1@mail.com",
                          "user2@mail.com"
                        ],
                        "formats": [
                          "CSV",
                          "PDF"
                        ]
                      }
                    }
                  }
                },
                "resourceUtilization": {
                  "summary": "Resource Utilization Report",
                  "value": {
                    "report": {
                      "name": "Resource Utilization Report",
                      "type": "resourceUtilization",
                      "timeZone": "America/New_York",
                      "filters": [
                        {
                          "filterType": "scope",
                          "values": [
                            "sites"
                          ]
                        },
                        {
                          "filterType": "sites",
                          "values": [
                            "123456"
                          ]
                        },
                        {
                          "filterType": "deviceTypes",
                          "values": [
                            "access_points",
                            "switches",
                            "gateways"
                          ]
                        },
                        {
                          "filterType": "apMemoryUtilThreshold",
                          "values": [
                            "80"
                          ]
                        },
                        {
                          "filterType": "switchMemoryUtilThreshold",
                          "values": [
                            "75"
                          ]
                        },
                        {
                          "filterType": "gatewayMemoryUtilThreshold",
                          "values": [
                            "75"
                          ]
                        },
                        {
                          "filterType": "apCpuUtilThreshold",
                          "values": [
                            "80"
                          ]
                        },
                        {
                          "filterType": "switchCpuUtilThreshold",
                          "values": [
                            "75"
                          ]
                        },
                        {
                          "filterType": "gatewayCpuUtilThreshold",
                          "values": [
                            "75"
                          ]
                        }
                      ],
                      "reportPeriod": {
                        "type": "LAST_WEEK",
                        "sliceTime": {
                          "from": "01:00",
                          "to": "22:00"
                        },
                        "sliceDays": [
                          "MON",
                          "TUE",
                          "WED",
                          "THU"
                        ]
                      },
                      "reportSchedule": {
                        "recurrenceType": "EVERY_WEEK",
                        "startDate": "2025-03-01T00:00:00Z",
                        "endDate": "2025-06-01T00:00:00Z"
                      },
                      "email": {
                        "recipients": [
                          "user1@mail.com",
                          "user2@mail.com"
                        ],
                        "formats": [
                          "CSV",
                          "PDF"
                        ]
                      }
                    }
                  }
                },
                "rfHealth": {
                  "summary": "RF Health Report",
                  "value": {
                    "report": {
                      "name": "RF Health Report",
                      "type": "rfHealth",
                      "timeZone": "America/New_York",
                      "filters": [
                        {
                          "filterType": "scope",
                          "values": [
                            "sites"
                          ]
                        },
                        {
                          "filterType": "sites",
                          "values": [
                            "123456"
                          ]
                        },
                        {
                          "filterType": "radioFrequency",
                          "values": [
                            "2.4GHz",
                            "5GHz",
                            "6GHz"
                          ]
                        }
                      ],
                      "reportPeriod": {
                        "type": "LAST_WEEK"
                      },
                      "reportSchedule": {
                        "recurrenceType": "EVERY_WEEK",
                        "startDate": "2025-03-01T00:00:00Z",
                        "endDate": "2025-06-01T00:00:00Z"
                      },
                      "email": {
                        "recipients": [
                          "user1@mail.com",
                          "user2@mail.com"
                        ],
                        "formats": [
                          "CSV",
                          "PDF"
                        ]
                      }
                    }
                  }
                },
                "custom": {
                  "summary": "Custom Report",
                  "value": {
                    "report": {
                      "name": "Custom Report",
                      "type": "custom",
                      "timeZone": "America/New_York",
                      "kpiWidgets": [
                        {
                          "kpiWidget": "sitesByPoorRadios24ghz",
                          "renderType": "TABLE"
                        },
                        {
                          "kpiWidget": "sitesByPoorRadios5ghz",
                          "renderType": "TABLE",
                          "columns": [
                            "siteName",
                            "timeBreachedChannelQuality",
                            "timeBreachedChannelUtilization",
                            "timeBreachedFrameDrops"
                          ]
                        }
                      ],
                      "filters": [
                        {
                          "filterType": "scope",
                          "values": [
                            "sites"
                          ]
                        },
                        {
                          "filterType": "sites",
                          "values": [
                            "123456"
                          ]
                        },
                        {
                          "filterType": "radioFrequency",
                          "values": [
                            "2.4GHz",
                            "5GHz",
                            "6GHz"
                          ]
                        }
                      ],
                      "reportPeriod": {
                        "type": "LAST_WEEK"
                      },
                      "reportSchedule": {
                        "recurrenceType": "EVERY_WEEK",
                        "startDate": "2025-03-01T00:00:00Z",
                        "endDate": "2025-06-01T00:00:00Z"
                      },
                      "email": {
                        "recipients": [
                          "user1@mail.com",
                          "user2@mail.com"
                        ],
                        "formats": [
                          "CSV",
                          "PDF"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created report.",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "URI of the created report resource",
                "example": "/network-reporting/v1/reports/13570"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Created report resource.",
                  "required": [
                    "report"
                  ],
                  "properties": {
                    "report": {
                      "$ref": "#/components/schemas/Report"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-reporting/v1/reports-meta": {
      "get": {
        "summary": "Get Reports Metadata",
        "description": "This API endpoint allows users to retrieve reports metadata such as list of kpis, filters applicable for report types. This information is required when creating reports.",
        "tags": [
          "Reporting"
        ],
        "operationId": "getReportsMetadataV1",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Report Type of report.",
            "schema": {
              "type": "string"
            },
            "example": "inventory"
          },
          {
            "name": "kpi-widget",
            "in": "query",
            "required": false,
            "description": "KPI Widget name of reports.",
            "schema": {
              "type": "string"
            },
            "example": "listApDevices"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ReportsMetadataResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-reporting/v1/reports/{report-id}": {
      "get": {
        "summary": "Get Report",
        "description": "This API endpoint retrieves a specific user report by report ID. Report ID can be obtained from **List Reports API** or will be in **Create Report API** response.",
        "tags": [
          "Reporting"
        ],
        "operationId": "getUserReportV1",
        "parameters": [
          {
            "name": "report-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the user report.",
            "schema": {
              "type": "string"
            },
            "example": "13570"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved user report.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "summary": "Update Report",
        "description": "This API endpoint updates a User Report with a report ID. Report ID can be obtained from **List Reports API**.",
        "tags": [
          "Reporting"
        ],
        "operationId": "updateUserReportV1",
        "parameters": [
          {
            "name": "report-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the user report.",
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/Name"
                  },
                  "email": {
                    "type": "object",
                    "properties": {
                      "recipients": {
                        "$ref": "#/components/schemas/Emails"
                      },
                      "formats": {
                        "$ref": "#/components/schemas/ReportFormats"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the report with given report id.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "examples": [
                        "1"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "examples": [
                        "Success"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "summary": "Delete Report",
        "description": "This API endpoint deletes particular user report with report ID, it will also delete associated report runs in the process of deleting report. Report ID can be obtained from **List Reports API**.",
        "tags": [
          "Reporting"
        ],
        "operationId": "deleteUserReportV1",
        "parameters": [
          {
            "name": "report-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the user report.",
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted user report.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "examples": [
                        "Success"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-reporting/v1/reports/{report-id}/report-runs": {
      "get": {
        "summary": "List Report Runs",
        "tags": [
          "Reporting"
        ],
        "description": "This API endpoint retrieves report execution history for a specific report ID. Each report run contains execution details including run ID, status, export data, and start/end timestamps. Obtain the required report ID from the List Reports API.",
        "operationId": "listReportRunsV1",
        "parameters": [
          {
            "name": "report-id",
            "description": "The unique identifier of the user report.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort expression. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\n If a direction indicator is omitted the default direction is ascending.\n\nSupported fields are `modifiedAt` and `status`.\n\n The field `modifiedAt` denotes last modified timestamp of the report run and `status` indicates report run current state - New, Running, Failed or Successful.",
            "schema": {
              "type": "string",
              "maxLength": 256,
              "examples": [
                "modifiedAt desc, status desc"
              ]
            },
            "example": "modifiedAt desc"
          },
          {
            "name": "next",
            "description": "Specifies the pagination cursor for the next page of resources. Minimum value is 1.",
            "in": "query",
            "schema": {
              "default": "1",
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "limit",
            "description": "Maximum number of report runs to be returned. Allowed range is 1 to 100.",
            "in": "query",
            "schema": {
              "default": 10,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            },
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListReportRunsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-reporting/v1/reports/{report-id}/report-runs/{report-run-id}": {
      "delete": {
        "summary": "Delete Report Run",
        "description": "This API endpoint deletes particular report runs with report run ID. Report ID can be obtained from **List Reports API** and Report run ID can be obtained from **List Report Runs API**.",
        "tags": [
          "Reporting"
        ],
        "operationId": "deleteReportRunV1",
        "parameters": [
          {
            "name": "report-id",
            "description": "The unique identifier of the user report.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "report-run-id",
            "in": "path",
            "required": true,
            "description": "The unique identifier of the report run.",
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Status of report run deletion.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "examples": [
                        "Success"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-reporting/v1/reports/{report-id}/report-runs/{report-run-id}/download-link": {
      "post": {
        "summary": "Get Download Report Link",
        "description": "This API endpoint allows users to retrieve a downloadable link for a previously generated report run. Users can specify the export file format (CSV or PDF) by providing the appropriate `exportType` parameter in the request body. The response will contain the file's download URL, MIME type (application/zip for CSV file format and application/pdf for PDF file format), and the suggested file name for the report. Report ID can be obtained from **List Reports API** and Report run ID can be obtained from **List Report Runs API**.",
        "tags": [
          "Reporting"
        ],
        "operationId": "downloadReportLinkV1",
        "parameters": [
          {
            "name": "report-id",
            "description": "The unique identifier of the user report.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "report-run-id",
            "description": "The unique identifier of the report run",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "1"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "exportType"
                ],
                "properties": {
                  "exportType": {
                    "$ref": "#/components/schemas/ReportFormat",
                    "description": "export file format"
                  }
                }
              },
              "example": {
                "exportType": "CSV"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated report download link.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-Rate-Limit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-Rate-Limit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-Rate-Limit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "fileName",
                    "mimeType",
                    "url"
                  ],
                  "properties": {
                    "fileName": {
                      "type": "string",
                      "examples": [
                        "report.zip"
                      ]
                    },
                    "mimeType": {
                      "type": "string",
                      "examples": [
                        "application/zip",
                        "application/pdf"
                      ]
                    },
                    "url": {
                      "type": "string",
                      "examples": [
                        "https://download-url/report"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BadRequestError": {
        "type": "object",
        "description": "Error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "description": "HTTP status code.\n",
            "examples": [
              400
            ]
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_REPORTING_INVALID_INPUT"
            ],
            "maxLength": 128,
            "description": "Error code\n",
            "examples": [
              "HPE_GL_NETWORK_REPORTING_INVALID_INPUT"
            ]
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "Columns": {
        "type": "object",
        "properties": {
          "column": {
            "type": "string",
            "examples": [
              "name"
            ]
          },
          "displayName": {
            "type": "string",
            "examples": [
              "Name"
            ]
          },
          "optionality": {
            "type": "string",
            "enum": [
              "OPTIONAL",
              "OPTIONAL_PRESELECTED",
              "MANDATORY"
            ],
            "examples": [
              "MANDATORY"
            ]
          }
        }
      },
      "ConflictError": {
        "type": "object",
        "description": "Conflict error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 409,
            "maximum": 409,
            "description": "HTTP status code.\n",
            "examples": [
              409
            ]
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_REPORTING_CONFLICT"
            ],
            "maxLength": 128,
            "description": "Error code\n",
            "examples": [
              "HPE_GL_NETWORK_REPORTING_CONFLICT"
            ]
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "CreateReportsInput": {
        "type": "object",
        "required": [
          "name",
          "type",
          "timeZone",
          "filters",
          "reportPeriod",
          "reportSchedule"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/Type"
          },
          "kpiWidgets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KPIWidgetInput"
            }
          },
          "timeZone": {
            "type": "string"
          },
          "reportPeriod": {
            "$ref": "#/components/schemas/ReportPeriodInput"
          },
          "reportSchedule": {
            "$ref": "#/components/schemas/ReportScheduleInput"
          },
          "filters": {
            "$ref": "#/components/schemas/Filters"
          },
          "email": {
            "type": "object",
            "properties": {
              "recipients": {
                "$ref": "#/components/schemas/Emails"
              },
              "formats": {
                "$ref": "#/components/schemas/ReportFormats"
              }
            }
          }
        }
      },
      "CreatedAt": {
        "type": "string",
        "format": "date-time",
        "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$",
        "examples": [
          "2019-10-12T07:20:50Z"
        ],
        "description": "Specifies the report creation timestamp in UTC+0 timezone (RFC 3339 format)."
      },
      "CreatedBy": {
        "type": "string",
        "examples": [
          "user1@mail.com"
        ],
        "description": "The user who saved the report."
      },
      "DebugId": {
        "type": "string",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting and debugging purposes.\n",
        "examples": [
          "78f002e32e0cefba3d8cc94fa8179342"
        ]
      },
      "Email": {
        "type": "string",
        "format": "email",
        "pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
        "description": "Specifies the particular user email",
        "examples": [
          "user1@mail.com"
        ]
      },
      "Emails": {
        "type": "array",
        "description": "Specifies the user emails",
        "items": {
          "$ref": "#/components/schemas/Email"
        },
        "examples": [
          [
            "user1@mail.com",
            "user2@mail.com"
          ]
        ]
      },
      "ErrorMessage": {
        "type": "string",
        "maxLength": 512,
        "description": "Error message indicating the cause of the failure.\n",
        "examples": [
          "Error message indicating the cause of the failure."
        ]
      },
      "ExportDetail": {
        "type": "object",
        "properties": {
          "exportType": {
            "$ref": "#/components/schemas/ReportFormat"
          },
          "status": {
            "$ref": "#/components/schemas/ExportStatus"
          }
        }
      },
      "ExportStatus": {
        "type": "string",
        "enum": [
          "NEW",
          "IN_PROGRESS",
          "COMPLETED",
          "FAILED"
        ],
        "description": "Specifies the report export status as New, In Progress, Completed, or Failed",
        "examples": [
          "COMPLETED"
        ]
      },
      "Filter": {
        "type": "object",
        "required": [
          "filterType",
          "values"
        ],
        "properties": {
          "filterType": {
            "type": "string"
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "FilterMeta": {
        "type": "object",
        "properties": {
          "filter": {
            "type": "string",
            "examples": [
              "sites"
            ]
          },
          "displayName": {
            "type": "string",
            "examples": [
              "Sites"
            ]
          },
          "description": {
            "type": "string",
            "examples": [
              "Sites Filter"
            ]
          },
          "validations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReportValidation"
            }
          }
        }
      },
      "Filters": {
        "type": "array",
        "description": "Report filters",
        "items": {
          "$ref": "#/components/schemas/Filter"
        }
      },
      "ForbiddenError": {
        "type": "object",
        "description": "Forbidden error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "examples": [
              403
            ],
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "examples": [
              "HPE_GL_ERROR_FORBIDDEN"
            ],
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "Generation": {
        "type": "integer",
        "format": "int64",
        "minimum": 0,
        "examples": [
          1
        ],
        "description": "Monotonically increasing update counter for the report / report schedule resource."
      },
      "InternalServerError": {
        "type": "object",
        "description": "Internal server error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "examples": [
              500
            ],
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_REPORTING_INTERNAL_SERVER_ERROR"
            ],
            "maxLength": 128,
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "examples": [
              "HPE_GL_NETWORK_REPORTING_INTERNAL_SERVER_ERROR"
            ]
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "KPIWidget": {
        "type": "object",
        "required": [
          "kpiWidget",
          "allowedRenderTypes"
        ],
        "properties": {
          "kpiWidget": {
            "type": "string",
            "examples": [
              "VendorSummary"
            ]
          },
          "displayName": {
            "type": "string",
            "examples": [
              "Vendor Summary"
            ]
          },
          "description": {
            "type": "string",
            "examples": [
              "Vendor Summary"
            ]
          },
          "reportName": {
            "type": "string",
            "examples": [
              "Inventory"
            ]
          },
          "reportType": {
            "type": "string",
            "examples": [
              "inventory"
            ]
          },
          "reportCategory": {
            "type": "string",
            "examples": [
              "infrastructure"
            ]
          },
          "kpi": {
            "type": "string",
            "examples": [
              "vendorSummary"
            ]
          },
          "kpiDisplayName": {
            "type": "string",
            "examples": [
              "Vendor Summary"
            ]
          },
          "kpiDescription": {
            "type": "string",
            "examples": [
              "Vendor Summary"
            ]
          },
          "allowedRenderTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Specifies the allowed render type. Valid values can be got dynamically via GET /network-reporting/v1/reports-meta."
            },
            "examples": [
              "TABLE",
              "DONUT_CHART"
            ]
          },
          "isTimeSliceEnabled": {
            "type": "boolean",
            "examples": [
              true
            ]
          },
          "columns": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Columns"
            }
          },
          "filters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilterMeta"
            }
          }
        }
      },
      "KPIWidgetInput": {
        "type": "object",
        "properties": {
          "kpiWidget": {
            "type": "string",
            "description": "Specifies the KPI Widget"
          },
          "renderType": {
            "type": "string",
            "description": "Specifies the render type. Valid values can be got dynamically via GET /network-reporting/v1/reports-meta."
          },
          "columns": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Specifies the column required"
            }
          }
        }
      },
      "LastModifiedAt": {
        "type": "string",
        "deprecated": true,
        "format": "date-time",
        "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$",
        "examples": [
          "2019-10-12T07:20:50Z"
        ],
        "description": "Specifies the report modified timestamp in UTC+0 timezone (RFC 3339 format)."
      },
      "LastModifiedBy": {
        "type": "string",
        "deprecated": true,
        "examples": [
          "user1@mail.com"
        ],
        "description": "The user who modified the report / report schedule."
      },
      "LastRunStatus": {
        "type": "string",
        "enum": [
          "NEW",
          "ACTIVE",
          "PAUSED",
          "STOPPED",
          "COMPLETED",
          "ERROR"
        ],
        "description": "Specifies the run status as New, Active, Paused, Stopped, Completed, or Error",
        "examples": [
          "COMPLETED"
        ]
      },
      "LastRunTs": {
        "type": "string",
        "format": "date-time",
        "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$",
        "examples": [
          "2019-10-12T07:20:50Z"
        ],
        "description": "Specifies the timestamp of the last report run in UTC+0 timezone (RFC 3339 format)."
      },
      "ListReportRuns": {
        "description": "List of report runs response.",
        "type": "object",
        "required": [
          "items",
          "count",
          "next"
        ],
        "properties": {
          "report": {
            "$ref": "#/components/schemas/Report"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReportRun"
            },
            "description": "List of report run objects."
          },
          "count": {
            "type": "integer",
            "examples": [
              1,
              10,
              100
            ],
            "description": "The number of report runs"
          },
          "total": {
            "type": "integer",
            "examples": [
              1,
              10,
              100
            ],
            "description": "The total number of report runs."
          },
          "next": {
            "type": "string",
            "examples": [
              "1",
              "2",
              "3"
            ],
            "description": "Specifies the pagination cursor for the next page of resources. null if there are no further pages."
          }
        }
      },
      "ListReports": {
        "description": "List of reports response.",
        "examples": [],
        "type": "object",
        "required": [
          "items",
          "count",
          "next"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Report"
            },
            "description": "List of report objects."
          },
          "count": {
            "type": "integer",
            "examples": [
              1,
              10,
              100
            ],
            "description": "The number of reports after filtering."
          },
          "total": {
            "type": "integer",
            "examples": [
              1,
              10,
              100
            ],
            "description": "The total number of reports."
          },
          "next": {
            "type": "string",
            "examples": [
              "1",
              "2",
              "3"
            ],
            "description": "Specifies the pagination cursor for the next page of resources. null if there are no further pages."
          }
        }
      },
      "Name": {
        "type": "string",
        "description": "Specifies the name of report or widgets",
        "examples": [
          "Inventory Report"
        ]
      },
      "NextRunTs": {
        "type": "string",
        "format": "date-time",
        "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$",
        "examples": [
          "2019-10-12T07:20:50Z"
        ],
        "description": "Specifies the report period next run timestamp in UTC+0 timezone (RFC 3339 format)."
      },
      "NotFoundError": {
        "type": "object",
        "description": "Not Found error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 404,
            "maximum": 404,
            "description": "HTTP status code.\n",
            "examples": [
              404
            ]
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_REPORTING_NOT_FOUND"
            ],
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "examples": [
              "HPE_GL_NETWORK_REPORTING_NOT_FOUND"
            ],
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "Report": {
        "type": "object",
        "required": [
          "id",
          "type",
          "generation",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ReportID"
          },
          "type": {
            "type": "string",
            "description": "Type of the resource.",
            "examples": [
              "network-reporting/report"
            ]
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "reportScope": {
            "$ref": "#/components/schemas/ReportScope"
          },
          "reportType": {
            "$ref": "#/components/schemas/ReportType"
          },
          "createdBy": {
            "$ref": "#/components/schemas/CreatedBy"
          },
          "createdAt": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "generation": {
            "$ref": "#/components/schemas/Generation"
          },
          "updatedBy": {
            "$ref": "#/components/schemas/UpdatedBy"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/UpdatedAt"
          },
          "lastModifiedBy": {
            "$ref": "#/components/schemas/LastModifiedBy"
          },
          "lastModifiedAt": {
            "$ref": "#/components/schemas/LastModifiedAt"
          },
          "reportSchedule": {
            "$ref": "#/components/schemas/ReportSchedule"
          }
        }
      },
      "ReportFormat": {
        "type": "string",
        "enum": [
          "CSV",
          "PDF"
        ],
        "description": "Specifies the Export Type",
        "examples": [
          "CSV"
        ]
      },
      "ReportFormats": {
        "type": "array",
        "description": "Specifies the Export Preferences",
        "items": {
          "$ref": "#/components/schemas/ReportFormat"
        },
        "examples": [
          [
            "CSV",
            "PDF"
          ]
        ]
      },
      "ReportID": {
        "type": "string",
        "examples": [
          "24833497"
        ]
      },
      "ReportPeriodInput": {
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "SNAPSHOT",
              "LAST_DAY",
              "LAST_WEEK",
              "LAST_MONTH",
              "CUSTOM_RANGE"
            ]
          },
          "sliceTime": {
            "type": "object",
            "properties": {
              "from": {
                "type": "string",
                "format": "time",
                "pattern": "^([01]?[0-9]|2[0-3]):([0-5]?[0-9])$",
                "examples": [
                  "2:50"
                ],
                "description": "Specifies the `from` slice time timestamp in UTC+0 timezone (RFC 3339 format)."
              },
              "to": {
                "type": "string",
                "format": "time",
                "pattern": "^([01]?[0-9]|2[0-3]):([0-5]?[0-9])$",
                "examples": [
                  "20:50"
                ],
                "description": "Specifies the `to` slice time timestamp in UTC+0 timezone (RFC 3339 format)."
              }
            }
          },
          "sliceDays": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "MON",
                "TUE",
                "WED",
                "THU",
                "FRI",
                "SAT",
                "SUN"
              ]
            }
          },
          "from": {
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$",
            "examples": [
              "2019-10-12T07:20:50Z"
            ],
            "description": "Specifies the report period `from` date timestamp in UTC+0 timezone (RFC 3339 format)."
          },
          "to": {
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$",
            "examples": [
              "2019-10-12T07:20:50Z"
            ],
            "description": "Specifies the report period `to` date timestamp in UTC+0 timezone (RFC 3339 format)."
          }
        }
      },
      "ReportRun": {
        "type": "object",
        "required": [
          "id",
          "type",
          "generation",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/ReportID"
          },
          "type": {
            "type": "string",
            "description": "Type of the resource.",
            "examples": [
              "network-reporting/report-run"
            ]
          },
          "fromTs": {
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$",
            "examples": [
              "2019-10-12T07:20:50Z"
            ],
            "description": "Specifies the report run start timestamp in UTC+0 timezone (RFC 3339 format)."
          },
          "toTs": {
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$",
            "examples": [
              "2019-10-12T07:20:50Z"
            ],
            "description": "Specifies the report run end timestamp in UTC+0 timezone (RFC 3339 format)."
          },
          "status": {
            "$ref": "#/components/schemas/runStatus"
          },
          "createdBy": {
            "$ref": "#/components/schemas/CreatedBy"
          },
          "createdAt": {
            "$ref": "#/components/schemas/CreatedAt"
          },
          "generation": {
            "$ref": "#/components/schemas/Generation"
          },
          "updatedBy": {
            "$ref": "#/components/schemas/UpdatedBy"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/UpdatedAt"
          },
          "modifiedAt": {
            "type": "string",
            "deprecated": true,
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$",
            "examples": [
              "2019-10-12T07:20:50Z"
            ],
            "description": "Specifies the report run modified timestamp in UTC+0 timezone (RFC 3339 format)."
          },
          "exportDetails": {
            "type": "array",
            "description": "Specifies the Export Details",
            "items": {
              "$ref": "#/components/schemas/ExportDetail"
            }
          }
        }
      },
      "ReportSchedule": {
        "type": "object",
        "description": "Specifies the report Schedule",
        "properties": {
          "scheduleType": {
            "$ref": "#/components/schemas/ScheduleType"
          },
          "lastRunTs": {
            "$ref": "#/components/schemas/LastRunTs"
          },
          "lastRunStatus": {
            "$ref": "#/components/schemas/LastRunStatus"
          },
          "nextRunTs": {
            "$ref": "#/components/schemas/NextRunTs"
          },
          "completedRuns": {
            "type": "integer",
            "examples": [
              91
            ],
            "description": "Total number of completed runs for the report schedule."
          },
          "totalRuns": {
            "type": "integer",
            "examples": [
              181
            ],
            "description": "Total number of runs that the report schedule has executed."
          },
          "scheduleEnd": {
            "$ref": "#/components/schemas/ScheduleEnd"
          }
        }
      },
      "ReportScheduleInput": {
        "type": "object",
        "required": [
          "recurrenceType"
        ],
        "properties": {
          "recurrenceType": {
            "type": "string",
            "enum": [
              "EVERY_MONTH",
              "EVERY_WEEK",
              "EVERY_DAY",
              "ONE_TIME"
            ]
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$",
            "examples": [
              "2019-10-12T07:20:50Z"
            ],
            "description": "Specifies the `start` date timestamp in UTC+0 timezone (RFC 3339 format)."
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$",
            "examples": [
              "2019-10-12T07:20:50Z"
            ],
            "description": "Specifies the `end` date timestamp in UTC+0 timezone (RFC 3339 format)."
          }
        }
      },
      "ReportScope": {
        "type": "object",
        "description": "Specifies the scope type and target values for the report",
        "properties": {
          "scopeType": {
            "type": "string",
            "examples": [
              "sites",
              "global"
            ]
          },
          "values": {
            "type": "array",
            "examples": [
              [
                "1234567",
                "7554321"
              ],
              [
                "7554321"
              ]
            ]
          }
        }
      },
      "ReportType": {
        "type": "string",
        "pattern": "^[a-z][a-zA-Z0-9]*$",
        "description": "Specifies the particular report type (lowerCamelCase or lowercase). Valid values: appAnalytics, capacityPlanning, clientInventory, clientSession, custom, deviceUptime, licenses, mspcustomer, mspinventory, msplicense, mspsubscription, networkUsage, resourceUtilization, rfHealth, securityCompliance, visitor, wids. Refer to the Create Report operation documentation for complete details on supported types and their associated filters.",
        "examples": [
          "inventory",
          "appAnalytics",
          "clientInventory",
          "custom"
        ]
      },
      "ReportValidation": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "MIN"
            ]
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string",
              "examples": [
                "60"
              ]
            }
          },
          "description": {
            "type": "string",
            "examples": [
              "Minimum Value"
            ]
          }
        }
      },
      "ReportsMetadata": {
        "type": "object",
        "required": [
          "id",
          "type",
          "generation",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Unique identifier for the reports metadata resource.",
            "examples": [
              "123e4567-e89b-12d3-a456-426614174000"
            ]
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "Resource type identifier.",
            "examples": [
              "network-reporting/reports-meta"
            ]
          },
          "generation": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "examples": [
              1
            ],
            "description": "Monotonically increasing update counter."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "description": "Timestamp when the resource was created (RFC 3339 UTC).",
            "examples": [
              "2024-01-15T08:00:00.000Z"
            ]
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "description": "Timestamp when the resource was last updated (RFC 3339 UTC).",
            "examples": [
              "2024-01-15T08:00:00.000Z"
            ]
          },
          "kpiWidgets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/KPIWidget"
            }
          }
        }
      },
      "ScheduleEnd": {
        "type": "string",
        "format": "date-time",
        "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$",
        "examples": [
          "2019-10-12T07:20:50Z"
        ],
        "description": "Specifies the scheduled end timestamp in UTC+0 timezone (RFC 3339 format)."
      },
      "ScheduleType": {
        "type": "string",
        "enum": [
          "ONE_TIME",
          "EVERY_DAY",
          "EVERY_WEEK",
          "EVERY_MONTH"
        ],
        "description": "Specifies the Schedule types Once, Every Day, Every Week, Every Month etc.",
        "examples": [
          "ONE_TIME"
        ]
      },
      "TooManyRequestsError": {
        "type": "object",
        "description": "Too many requests error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "examples": [
              429
            ],
            "description": "HTTP status code.\n"
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "examples": [
              "HPE_GL_ERROR_TOO_MANY_REQUESTS"
            ],
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "Type": {
        "type": "string",
        "description": "Specifies the report type. Valid values can be got dynamically via GET /network-reporting/v1/reports-meta.",
        "examples": [
          "inventory"
        ]
      },
      "UnauthorizedError": {
        "type": "object",
        "description": "Unauthorized error details returned from the server.\n",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "description": "HTTP status code.\n",
            "examples": [
              401
            ]
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.\n* For more details regarding error please refer to error message\n",
            "examples": [
              "HPE_GL_ERROR_UNAUTHORIZED"
            ],
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "UpdatedAt": {
        "type": "string",
        "format": "date-time",
        "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}Z$",
        "examples": [
          "2019-10-12T07:20:50Z"
        ],
        "description": "Specifies the report modified timestamp in UTC+0 timezone (RFC 3339 format)."
      },
      "UpdatedBy": {
        "type": "string",
        "examples": [
          "user1@mail.com"
        ],
        "description": "The user who modified the report / report schedule."
      },
      "runStatus": {
        "type": "string",
        "enum": [
          "RUNNING",
          "EXPORTING",
          "COMPLETED",
          "FAILED",
          "EXPORT_FAILED"
        ],
        "description": "Specifies the report export status as New, In Progress, Completed, or Failed",
        "examples": [
          "COMPLETED"
        ]
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Invalid input received.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestError"
            }
          }
        }
      },
      "ConflictError": {
        "description": "Conflict. The request could not be completed because the resource already exists or is in a conflicting state.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ConflictError"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden: Access is denied.\n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenError"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error.\n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerError"
            }
          }
        }
      },
      "ListReportRunsResponse": {
        "description": "List Report runs Response \n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ListReportRuns"
            }
          }
        }
      },
      "ListReportsResponse": {
        "description": "List Report Response \n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ListReports"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not Found error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundError"
            }
          }
        }
      },
      "ReportsMetadataResponse": {
        "description": "Get Reports Metadata Response \n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ReportsMetadata"
            },
            "examples": {
              "KPI Sample": {
                "value": {
                  "id": "123e4567-e89b-12d3-a456-426614174000",
                  "type": "network-reporting/reports-meta",
                  "generation": 1,
                  "createdAt": "2024-01-15T08:00:00.000Z",
                  "updatedAt": "2024-01-15T08:00:00.000Z",
                  "kpiWidgets": [
                    {
                      "kpiWidget": "vendorSummary",
                      "displayName": "Vendor Summary",
                      "description": "Vendor Summary",
                      "reportName": "Inventory",
                      "reportType": "inventory",
                      "reportCategory": "infrastructure",
                      "kpi": "vendorSummary",
                      "kpiDisplayName": "Vendor Summary",
                      "kpiDescription": "Vendor Summary",
                      "allowedRenderTypes": [
                        "DONUT_CHART",
                        "TABLE",
                        "DONUT_TABLE"
                      ],
                      "isTimeSliceEnabled": false,
                      "columns": [
                        {
                          "displayName": "Name",
                          "column": "name",
                          "optionality": "MANDATORY"
                        },
                        {
                          "displayName": "Device Count",
                          "column": "count",
                          "optionality": "MANDATORY"
                        },
                        {
                          "displayName": "Percentage",
                          "column": "totalPercentage",
                          "optionality": "MANDATORY"
                        }
                      ],
                      "filters": [
                        {
                          "filter": "global",
                          "displayName": "Global",
                          "description": "Global Filter",
                          "validations": []
                        },
                        {
                          "filter": "sites",
                          "displayName": "Sites",
                          "description": "Sites Filter",
                          "validations": [
                            {
                              "type": "REQUIRED"
                            }
                          ]
                        },
                        {
                          "filter": "deviceTypes",
                          "displayName": "Device Types",
                          "description": "List of Device Types",
                          "validations": [
                            {
                              "type": "REQUIRED"
                            },
                            {
                              "type": "ENUM",
                              "values": [
                                "access_points",
                                "switches",
                                "gateways"
                              ]
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "kpiWidget": "firmwareSummary",
                      "displayName": "Firmware Summary",
                      "description": "Firmware Summary",
                      "reportName": "Inventory",
                      "reportType": "inventory",
                      "reportCategory": "infrastructure",
[...]
