{
  "openapi": "3.1.0",
  "info": {
    "title": "Ids",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Ids"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/ids": {
      "get": {
        "description": "Intrusion Detection System (IDS) monitors the network for the presence of unauthorized APs\nand clients, and detect rogue APs, interfering APs, and other devices that can potentially\ndisrupt network operations. It also logs information about the unauthorized APs and clients,\nand generates reports based on the logged information.\nIntrusion Protection System (IPS) protects networks according to planned policies when the\nspecfic attacks happen.\n\nThis feature is only applicable on AP.\n",
        "operationId": "readIds",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaIds_IdsSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured policies about IDS",
        "tags": [
          "Ids"
        ],
        "x-cliParam": {
          "commandName": "readIdsCmd",
          "commandUse": "ids",
          "parentCommand": "readCmd",
          "pathToPrint": "/ids/",
          "summary": "Read operation for ids"
        }
      }
    },
    "/network-config/v1alpha1/ids/{name}": {
      "get": {
        "description": "Intrusion Detection System (IDS) monitors the network for the presence of unauthorized APs\nand clients, and detect rogue APs, interfering APs, and other devices that can potentially\ndisrupt network operations. It also logs information about the unauthorized APs and clients,\nand generates reports based on the logged information.\nIntrusion Protection System (IPS) protects networks according to planned policies when the\nspecfic attacks happen.\n\nThis feature is only applicable on AP.\n",
        "operationId": "readIdsProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaIds_IdsprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing IDS configurations",
        "tags": [
          "Ids"
        ],
        "x-cliParam": {
          "commandName": "readIdsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readIdsCmd",
          "pathToPrint": "/ids/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Intrusion Detection System (IDS) monitors the network for the presence of unauthorized APs\nand clients, and detect rogue APs, interfering APs, and other devices that can potentially\ndisrupt network operations. It also logs information about the unauthorized APs and clients,\nand generates reports based on the logged information.\nIntrusion Protection System (IPS) protects networks according to planned policies when the\nspecfic attacks happen.\n\nThis feature is only applicable on AP.\n",
        "operationId": "replaceIdsProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaIds_IdsprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Ids"
        ],
        "x-cliParam": {
          "commandName": "replaceIdsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceIdsCmd",
          "pathToPrint": "/ids/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Intrusion Detection System (IDS) monitors the network for the presence of unauthorized APs\nand clients, and detect rogue APs, interfering APs, and other devices that can potentially\ndisrupt network operations. It also logs information about the unauthorized APs and clients,\nand generates reports based on the logged information.\nIntrusion Protection System (IPS) protects networks according to planned policies when the\nspecfic attacks happen.\n\nThis feature is only applicable on AP.\n",
        "operationId": "createIdsProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaIds_IdsprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new policy",
        "tags": [
          "Ids"
        ],
        "x-cliParam": {
          "commandName": "createIdsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createIdsCmd",
          "pathToPrint": "/ids/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Intrusion Detection System (IDS) monitors the network for the presence of unauthorized APs\nand clients, and detect rogue APs, interfering APs, and other devices that can potentially\ndisrupt network operations. It also logs information about the unauthorized APs and clients,\nand generates reports based on the logged information.\nIntrusion Protection System (IPS) protects networks according to planned policies when the\nspecfic attacks happen.\n\nThis feature is only applicable on AP.\n",
        "operationId": "deleteIdsProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the IDS policy",
        "tags": [
          "Ids"
        ],
        "x-cliParam": {
          "commandName": "deleteIdsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteIdsCmd",
          "pathToPrint": "/ids/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Intrusion Detection System (IDS) monitors the network for the presence of unauthorized APs\nand clients, and detect rogue APs, interfering APs, and other devices that can potentially\ndisrupt network operations. It also logs information about the unauthorized APs and clients,\nand generates reports based on the logged information.\nIntrusion Protection System (IPS) protects networks according to planned policies when the\nspecfic attacks happen.\n\nThis feature is only applicable on AP.\n",
        "operationId": "updateIdsProfileByID",
        "parameters": [
          {
            "description": "Profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaIds_IdsprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "Ids"
        ],
        "x-cliParam": {
          "commandName": "updateIdsProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateIdsCmd",
          "pathToPrint": "/ids/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaIds_IdsConfig": {
        "description": "IDS configuration.",
        "properties": {
          "detection-protection": {
            "description": "Intrusion Detection/Pretection System offers a wide selection of intrusion detection and\nprotection features to protect the network against wireless threats. The following policies\ncan be configured:\n1. Infrastructure Detection Policies — Specifies the policy for detecting wireless attacks\n   on access points.\n2. Client Detection Policies — Specifies the policy for detecting wireless attacks on clients.\n3. Infrastructure Protection Policies — Specifies the policy for protecting access points\n   from wireless attacks.\n4. Client Protection Policies — Specifies the policy for protecting clients from wireless attacks.\n5. Containment Methods— Prevents unauthorized stations from connecting to network.",
            "properties": {
              "allow-well-known-mac": {
                "description": "Allow well-known Mac address.",
                "enum": [
                  "HSRP",
                  "IANA",
                  "LOCAL_MAC",
                  "VMWARE",
                  "VMWARE1",
                  "VMWARE2",
                  "VMWARE3"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "HSRP": "HSRP, a Cisco-proprietary redundancy protocol, with the HSRP MAC\n(Organizationally Unique Identifier) OUI 00:00:0c.\nAn OUI is a 24-bit number that uniquely identifies a vendor or manufacturer.",
                  "IANA": "IANA allocates addresses under the IANA OUI (00-00-5E).",
                  "LOCAL_MAC": "Locally administered MAC addresses starting with 02.",
                  "VMWARE": "VMWare OUIs: 00:0c:29, 00:05:69, or 00:50:56.",
                  "VMWARE1": "VMWare OUI 00:0c:29.",
                  "VMWARE2": "VMWare OUI 00:05:69.",
                  "VMWARE3": "VMWare OUI 00:50:56."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Different kinds of MAC address."
              },
              "ap-max-unseen-timeout": {
                "default": "600",
                "description": "Ageout time for interfering AP in an unknown network. The interfering AP will be deleted\nif it is not seen by the AP after the configured duration is elapsed. For interfering APs\noperating in a different channel, the ageout time is twice the duration configured.",
                "format": "int64",
                "maximum": 36000,
                "minimum": 5,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "client-detection": {
                "description": "Specifies the policy for detecting wireless attacks on clients.\nEach of options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                "items": {
                  "default": "OFF",
                  "description": "Specifies the policy for detecting wireless attacks on clients.\nEach of options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                  "enum": [
                    "OFF",
                    "CUSTOM",
                    "LOW",
                    "MEDIUM",
                    "HIGH",
                    "VALID_CLIENTMISASSOCIATION",
                    "DISCONNECT_STA",
                    "OMERTA_ATTACK",
                    "FATAJACK",
                    "BLOCK_ACK_ATTACK",
                    "HOTSPOTTER_ATTACK",
                    "UNENCRYPTED_VALID",
                    "POWER_SAVE_DOS_ATTACK",
                    "EAP_RATE_ANOMALY",
                    "RATE_ANOMALIES",
                    "CHOPCHOP_ATTACK",
                    "TKIP_REPLAY_ATTACK",
                    "SIGNATURE_AIRJACK",
                    "SIGNATURE_ASLEAP",
                    "WPA_FT_ATTACK",
                    "GHOSTTUNNEL_CLIENT_ATTACK",
                    "CLIENT_ISOLATION_ATTACK"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BLOCK_ACK_ATTACK": "Detection of attempts to reset traffic receive windows using the forged Block ACK Add messages.",
                    "CHOPCHOP_ATTACK": "Detection of ChopChop attack. ChopChop is a plaintext recovery attack against WEP encrypted\nnetworks. It works by forcing the plaintext, one byte at a time, by truncating a captured frame\nand then trying all 256 possible values for the last byte with a corrected CRC. The correct guess\ncauses the AP to retransmit the frame. When that happens, the frame is truncated again.",
                    "CLIENT_ISOLATION_ATTACK": "Detect client isolation attact. This attack is from the perspective of an insider attacker who has\ncredentials to access at least one of the SSIDs being attacked (or none if opensystem). Three main aspects:\n1. The group key can be abused by an insider to directly inject packets to victims, bypassing client\n   isolation at the AP, even in Passpoint deployments.\n2. Gateway bouncing: many vendors only enforce client isolation at Layer-2 (MAC and link), but do not carry it\n   over to Layer-3 (IP layer). Thus, an attacker can inject packets to a victim, by using the AP’s gateway MAC\n   address as the layer-2 destination, but the victim’s IP address as the layer-3 destination. These packets are\n   typically accepted by the AP and forwarded to the gateway. If the gateway does not enforce client isolation at\n   the IP layer, it will forward the datagram to its destination.\n3, Spoofing the victim’s MAC address while connecting to the same network (but possibly a different AP) as the victim,\n   enables the attacker to intercept downlink frames meant for the victim.",
                    "CUSTOM": "Customize client detection.",
                    "DISCONNECT_STA": "Detect station disconnection attack.",
                    "EAP_RATE_ANOMALY": "Use EAP handshake analysis to detect an abnormal number of authentication procedures\non a channel and generate an alarm when this condition is detected.",
                    "FATAJACK": "Detect of fatajack attacks. FATA-Jack is an 802.11 client DoS tool that tries to\ndisconnect targeted stations using spoofed authentication frames that contain an\ninvalid authentication algorithm number.",
                    "GHOSTTUNNEL_CLIENT_ATTACK": "Ghost tunnel client side attack detection. A ghost tunnel attack uses 802.11 probe request\npackets or beacon packets to communicate with the host and need not establish a Wi-Fi connection.\nFor the client-side ghost tunnel attack, the AP monitors the abnormal probe request packets in\nthe wireless environment. When a client is heard by the AP, it looks for abnormal probe request\npackets from the client.",
                    "HIGH": "High client detection level, it enables:\nDetect EAP rate anomaly\nDetect rate anomaly\nDetect Chop Chop Attack\nDetect TKIP Replay Attack\nIDS signature—Air Jack\nIDS signature—ASLEAP\nDetect ghost tunnel client attack\nDetect client isolation attack\nNOTE: Higher detection levels include the detection policies of the levels below them.\n",
                    "HOTSPOTTER_ATTACK": "Detection of hotspotter attacks. The Hotspotter attack is an evil-twin attack which\nattempts to lure a client to a malicious AP.",
                    "LOW": "Low client detection level, it enables:\nDetect valid client misassociation.\n",
                    "MEDIUM": "Medium client detection level, it enables:\nDetect Disconnect Station Attack\nDetect Omerta Attack\nDetect FATA-Jack Attack\nDetect Block ACK DOS\nDetect Hotspotter Attack\nDetect unencrypted valid client\nDetect Power Save DOS Attack.\n",
                    "OFF": "Client detection off.",
                    "OMERTA_ATTACK": "Detect Omerta attack. Omerta is a DoS attack tool based on the 802.11 protocol.\nIt sends disassociation frames to disassociate clients.",
                    "POWER_SAVE_DOS_ATTACK": "Detection of Power Save DoS attack. To save on power, wireless clients will sleep periodically,\nduring which they cannot transmit or receive. A client indicates its intention to sleep by\nsending frames to the AP with the Power Management bit ON. The AP then begins buffering traffic\nbound for that client until it indicates that it is awake. An intruder could exploit this mechanism\nby sending (spoofed) frames to the AP on behalf of the client to trick the AP into believing\nthe client is asleep. This will cause the AP to buffer most, if not all, frames destined for the client.",
                    "RATE_ANOMALIES": "Detection of rate anomalies. Many DoS attacks flood an AP or multiple APs with 802.11\nmanagement frames. These can include authenticate/associate frames which are designed to\nfill up the association table of an AP. Other management frame floods, such as probe request\nfloods, can consume excess processing power on the AP.",
                    "SIGNATURE_AIRJACK": "Signature matching for the AirJack frame type. AirJack is a suite of device drivers for 802.11(a/b/g)\nraw frame injection and reception. It was intended to be used as a development tool for all 802.11\napplications that need to access the raw protocol, however one of the tools included allowed users\nto force off all users on an AP.",
                    "SIGNATURE_ASLEAP": "Signature matching for the ASLEAP frame type. ASLEAP is a tool created for Linux systems\nwhich is used to attack Cisco LEAP authentication protocol.",
                    "TKIP_REPLAY_ATTACK": "Detection of TKIP replay attack. TKIP is vulnerable to replay (via WMM/QoS) and plaintext\ndiscovery (via ChopChop). This affects all WPA-TKIP usage. By replaying a captured TKIP data\nframe on other QoS queues, an attacker can manipulate the RC4 data and checksum to derive the\nplaintext at a rate of one byte per minute.",
                    "UNENCRYPTED_VALID": "Detection of unencrypted valid clients. An authorized (valid) client that is passing\ntraffic in unencrypted mode is a security risk. An intruder can sniff unencrypted traffic\n(also known as packet capture) with software tools known as sniffers.",
                    "VALID_CLIENTMISASSOCIATION": "Detection of misassociation between a valid client and an unsafe AP.",
                    "WPA_FT_ATTACK": "Detection of WPA FT attacks. If a vulnerable AP is attacked through the 802.11r FT handshake,\nthen AP-to-client traffic can be attacked."
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Supported attacks in client detetion."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "client-protection": {
                "description": "Specifies the policy for protecting clients from wireless attacks.\nEach of these options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                "items": {
                  "default": "OFF",
                  "description": "Specifies the policy for protecting clients from wireless attacks.\nEach of these options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                  "enum": [
                    "OFF",
                    "CUSTOM",
                    "LOW",
                    "MEDIUM",
                    "HIGH",
                    "VALID_STA",
                    "WINDOWS_BRIDGE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CUSTOM": "Customize client protection methods.",
                    "HIGH": "High client protection level, it includes:\nProtect Windows Bridge\nNOTE: Higher protection levels include the protection policies of the levels below them.\n",
                    "LOW": "Low client protection level, it includes:\n Detect AP Spoofing\n Detect Windows bridge\n IDS signature—deauthentication broadcast\n IDS signature—deassociation broadcast.\n",
                    "MEDIUM": "Medium client protection level, it includes:\nProtect Valid Station.\n",
                    "OFF": "Client protection off.",
                    "VALID_STA": "Protection of valid stations. When enabled, valid stations are not allowed to connect to an invalid AP.",
                    "WINDOWS_BRIDGE": "Protecting from a Windows Bridge involves containing the client that is forming the bridge so that it can not connect to the AP."
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Client protetion methods"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "country-code-detection": {
                "description": "Enable/disbale country code detection feature.\nConfigure interval value to raise a trap and log for each AP.\nConfigure list of country codes exempt from invalid 802.11d country code detection.",
                "properties": {
                  "country-code-exclusion": {
                    "description": "Country codes exempt from invalid country code detection.\nEach code must be an ISO 3166-1 alpha-2 two-letter uppercase code.",
                    "items": {
                      "description": "Country codes exempt from invalid country code detection.\nEach code must be an ISO 3166-1 alpha-2 two-letter uppercase code.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "country-code-exclusion",
                      "x-patterns": "'[A-Z]{2}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "maxItems": 10,
                    "type": "array"
                  },
                  "enable": {
                    "default": "false",
                    "description": "Enable the exception list for invalid country code detection (disabled by default).",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "interval": {
                    "default": "900",
                    "description": "Quite time to detect invalid country code.",
                    "format": "int64",
                    "maximum": 360000,
                    "minimum": 60,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "denylist-client": {
                "default": "false",
                "description": "Enable denylist to add the ids detection client to denylist table.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "ghosttunnel-client": {
                "description": "Ghost tunnel attack is a backdoor transmission method that can be used in an isolated\nenvironment. A ghost tunnel attack uses 802.11 probe request packets or beacon packets\nto communicate with the host without establishing a Wi-Fi connection.\n\nFor the client-side ghost tunnel attack, the AP monitors the abnormal probe request\npackets in the wireless environment. When a client is heard by the AP, it looks for\nabnormal probe request packets from the client. The system reports a ghost tunnel detection\nevent with the client's MAC address when the alert criteria is met. If only abnormal probe\nrequest packets are monitored and there is no matching client, then the reported event does\nnot contain the client's MAC address.",
                "properties": {
                  "attack-interval": {
                    "default": "60",
                    "description": "Time interval at which the packet count is checked for client side ghost tunnel attacks.",
                    "format": "int32",
                    "maximum": 600,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "attack-threshold": {
                    "default": "10",
                    "description": "Number of abnormal probe request packets required to flag a ghost tunnel attack.\nWhen the number of probe request packets that match the ghost tunnel attack exceed the threshold\nwithin the defined attack interval, the event is flagged as a ghost tunnel attack.",
                    "format": "int64",
                    "maximum": 100000,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "quiet-time": {
                    "default": "900",
                    "description": "Time to wait before resuming ghost tunnel attack detection after an attack\nis detected. This avoids flooding of event logs.",
                    "format": "int64",
                    "maximum": 360000,
                    "minimum": 60,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "ghosttunnel-server": {
                "description": "Ghost tunnel attack is a backdoor transmission method that can be used in an isolated\nenvironment. A ghost tunnel attack uses 802.11 probe request packets or beacon packets\nto communicate with the host without establishing a Wi-Fi connection.\n\nThe server side of ghost tunnel uses beacon packets to send commands to the client and\nthe client sends probe-request automatically in response to the server's request, thereby\ninfecting the system. The server-side ghost tunnel attack detection system relies on\nidentifying abnormal beacon packets and flagging the attacking server.",
                "properties": {
                  "attack-interval": {
                    "default": "60",
                    "description": "Time interval at which the packet count is checked for ghost tunnel attacks from servers.",
                    "format": "int32",
                    "maximum": 600,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "attack-threshold": {
                    "default": "200",
                    "description": "Number of abnormal beacon packets required to flag a ghost tunnel attack.\nWhen the number of beacon packets that match the ghost tunnel attack rule exceed the threshold\nwithin the defined attack interval, the event is flagged as a ghost tunnel attack.",
                    "format": "int64",
                    "maximum": 10000,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "quiet-time": {
                    "default": "900",
                    "description": "Time to wait before resuming ghost tunnel attack detection after an attack is detected.\nThis avoids flooding of event logs.",
                    "format": "int64",
                    "maximum": 360000,
                    "minimum": 60,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "infrastructure-detection": {
                "description": "Specifies the policy for detecting wireless attacks on access points.\nEach of these options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                "items": {
                  "default": "OFF",
                  "description": "Specifies the policy for detecting wireless attacks on access points.\nEach of these options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                  "enum": [
                    "OFF",
                    "CUSTOM",
                    "LOW",
                    "MEDIUM",
                    "HIGH",
                    "AP_SPOOFING",
                    "WINDOWS_BRIDGE",
                    "SIGNATURE_DEAUTH_BROADCAST",
                    "SIGNATURE_DEASSOCIATION_BROADCAST",
                    "CHAN_BASED_MITM",
                    "ADHOC_USING_VALID_SSID",
                    "MALFORMED_LARGE_DURATION",
                    "AP_IMPERSONATION",
                    "ADHOC_NETWORK",
                    "VALID_SSID_MISUSE",
                    "WIRELESS_BRIDGE",
                    "HT_40MHZ_INTOLERANCE",
                    "HT_GREENFIELD",
                    "AP_FLOOD",
                    "CLIENT_FLOOD",
                    "BAD_WEP",
                    "CTS_RATE_ANOMALY",
                    "RTS_RATE_ANOMALY",
                    "INVALID_ADDRESSCOMBINATION",
                    "MALFORMED_HTIE",
                    "MALFORMED_ASSOC_REQ",
                    "MALFORMED_FRAME_AUTH",
                    "OVERFLOW_IE",
                    "OVERFLOW_EAPOL_KEY",
                    "BEACON_WRONG_CHANNEL",
                    "INVALID_MAC_OUI",
                    "GHOSTTUNNEL_SERVER_ATTACK",
                    "WIFI_DIRECT_P2P_GROUPS"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ADHOC_NETWORK": "Detection of ad hoc networks.",
                    "ADHOC_USING_VALID_SSID": "REDACTED",
                    "AP_FLOOD": "Detection of flooding with fake AP beacons to confuse the legitimate users and to\nincrease the amount of processing needed on client operating systems.",
                    "AP_IMPERSONATION": "Detection of AP impersonation. In an AP impersonation attacks,\nthe attacker sets up an AP that assumes the BSSID and ESSID of a valid\nAP or a neighboring AP. The AP impersonation attacks can be done for\nman-in-the-middle attacks, a rogue APs attempting to bypass detection, or a honeypot attack.",
                    "AP_SPOOFING": "AP Spoofing detection. An AP Spoofing attack involves an intruder sending forged frames\nthat are made to look like they are from a legitimate AP. It is trivial for an attacker\nto do this, since tools are readily available to inject wireless frames with any MAC address\nthat the user desires. Spoofing frames from a legitimate AP is the foundation of many wireless attacks.",
                    "BAD_WEP": "Detection of WEP initialization vectors that are known to be\nweak or repeating. A primary means of cracking WEP keys is to capture 802.11\nframes over an extended period of time and search for implementations that are\nstill used by many legacy devices.",
                    "BEACON_WRONG_CHANNEL": "Detection of beacons advertising the incorrect channel. In this type of attack, an intruder spoofs\na beacon packet on a channel that is different from that advertised in the beacon frame of the AP.\nThe Beacon wrong channel event is supported only on the 5 GHz band.",
                    "CHAN_BASED_MITM": "Channel-based man-in-the-middle attack detection.",
                    "CLIENT_FLOOD": "Detection of client flood attack.",
                    "CTS_RATE_ANOMALY": "Detection of CTS rate anomaly. The RF medium can be reserved via Virtual Carrier Sensing\nusing a CTS transaction. The transmitter station sends a RTS frame to the receiver station.\nThe receiver station responds with a CTS frame. All other stations that receive these CTS\nframes will refrain from transmitting over the wireless medium for an amount of time specified\nin the duration fields of these frames.\nAttackers can exploit the Virtual Carrier Sensing mechanism to launch a DoS attack on the\nWLAN by transmitting numerous RTS and/or CTS frames. This causes other stations in the WLAN\nto defer transmission to the wireless medium. The attacker can essentially block the authorized\nstations in the WLAN with this attack.",
                    "CUSTOM": "Customize infrastructure detection.",
                    "GHOSTTUNNEL_SERVER_ATTACK": "Ghost tunnel server side attack detection. When enabled, the AP can identify\nghost tunnel attacks from connected servers and issue alerts.",
                    "HIGH": "High infrastructure detection level, it includes:\nDetect AP impersonation\nDetect ad hoc networks\nDetect valid SSID misuse\nDetect wireless bridge\nDetect 802.11 40 MHz intolerance settings\nDetect active 802.11n greenfield mode\nDetect AP flood attack\nDetect client flood attack\nDetect bad WEP\nDetect CTS rate anomaly\nDetect RTS rate anomaly\nDetect invalid address combination\nDetect malformed frame—HT IE\nDetect malformed frame—association request\nDetect malformed frame—auth\nDetect overflow IE\nDetect overflow EAPOL key\nDetect beacon wrong channel\nDetect devices with invalid MAC OUI\nDetect ghost tunnel server attack\nNOTE: Higher detection levels include the detection policies of the levels below them.\n",
                    "HT_40MHZ_INTOLERANCE": "Detection of 802.11n 40 MHz intolerance setting, which controls whether stations\nand APs advertising 40 MHz intolerance will be reported.",
                    "HT_GREENFIELD": "Detection of HT devices advertising greenfield preamble capability. When 802.11 devices use\nthe HT operating mode, they can not share the same channel as 802.11a/b/g stations. Not only\ncan they not communicate with legacy devices, the way they use the transmission medium is\ndifferent, which would cause collisions, errors, and retransmissions.",
                    "INVALID_ADDRESSCOMBINATION": "Detection of invalid address combinations. In this case, an intruder can cause an AP to transmit\ndeauthentication and disassociation frames to all of its clients. Triggers that can cause this\ncondition include the use of broadcast or multicast MAC address in the source address field.",
                    "INVALID_MAC_OUI": "Checking of the first three bytes of a MAC address, known as the OUI,\nassigned by the IEEE to known manufacturers. Often clients using a spoofed MAC address do not\nuse a valid OUI and instead use a randomly generated MAC address. Enabling MAC OUI checking\ncauses an alarm to be triggered if an unrecognized MAC address is in use.",
                    "LOW": "Low infrastructure detection level, it includes:\n Detect AP Spoofing\n Detect Windows bridge\n IDS signature—deauthentication broadcast\n IDS signature—deassociation broadcast.\n",
                    "MALFORMED_ASSOC_REQ": "Detection of malformed association requests. Some wireless drivers used in access points do not\ncorrectly parse the SSID information element tag contained in association request frames. A\nmalicious association request with a null SSID (that is, zero length SSID) can trigger a DoS or\npotential code execution condition on the targeted device.",
                    "MALFORMED_FRAME_AUTH": "Detection of malformed authentication frames. Malformed 802.11 authentication frames that do not\nconform to the specification can expose vulnerabilities in some drivers that have not implemented\nproper error checking. This feature checks for unexpected values in an Authentication frame.",
                    "MALFORMED_HTIE": "Detection of malformed HT information elements. The IEEE 802.11n HT IE is used to convey\ninformation about the 802.11n network. An 802.11 management frame containing a malformed\nHT IE can crash some client implementations, potentially representing an exploitable condition\nwhen transmitted by a malicious attacker.",
                    "MALFORMED_LARGE_DURATION": "Detection of unusually large durations in frames. The virtual carrier-sense attack is implemented\nby modifying the 802.11 MAC layer implementation to allow random duration values to be sent\nperiodically. This attack can be carried out on the ACK, data, RTS, and CTS frame types by using\nlarge duration values. This attack can prevent channel access to legitimate users.",
                    "MEDIUM": "Medium infrastructure detection level, it includes:\nDetect ad hoc networks using VALID SSID—Valid SSID list is autoconfigured based on the AP configuration\nDetect malformed frame—large duration.\n",
                    "OFF": "Infrastructure detection off.",
                    "OVERFLOW_EAPOL_KEY": "Detection of overflow EAPOL key requests. Some wireless drivers used in access points do not\ncorrectly validate the EAPOL key fields. A malicious EAPOL-Key packet with an invalid advertised\nlength can trigger a DoS or possible code execution. This can only be achieved after a successful\n802.11 association exchange.",
                    "OVERFLOW_IE": "Detection of overflow Information Elements. Some wireless drivers used in access points do not\ncorrectly parse the vendor-specific IE tags. A malicious association request sent to the AP\ncontaining an IE with an inappropriate length (too long) can cause a DoS and potentially lead\nto code execution. The association request must be sent after a successful 802.11 authentication\nexchange.",
                    "RTS_RATE_ANOMALY": "Detection of RTS rate anomaly. The RF medium can be reserved via Virtual Carrier Sensing using\nan RTS transaction. The transmitter station sends a RTS frame to the receiver station. The\nreceiver station responds with a CTS frame. All other stations that receive these RTS frames\nwill refrain from transmitting over the wireless medium for an amount of time specified in the\nduration fields of these frames.\nAttackers can exploit the Virtual Carrier Sensing mechanism to launch a DoS attack on the WLAN\nby transmitting numerous RTS and/or CTS frames. This causes other stations in the WLAN to defer\ntransmission to the wireless medium. The attacker can essentially block the authorized stations\nin the WLAN with this attack.",
                    "SIGNATURE_DEASSOCIATION_BROADCAST": "Signature matching for the deassociation broadcast frame type. By sending disassociation frames\nto the broadcast address (FF:FF:FF:FF:FF:FF), an attacker can disconnect all stations on a network\nfor a widespread DoS.",
                    "SIGNATURE_DEAUTH_BROADCAST": "Signature matching for the deauth broadcast frame type. A deauthentication broadcast attempts\nto disconnect all stations in range. Rather than sending a spoofed deauth to a specific MAC address,\nthis attack sends the frame to a broadcast address.",
                    "VALID_SSID_MISUSE": "Detection of interfering or Neighbor APs using valid or protected SSIDs.",
                    "WIFI_DIRECT_P2P_GROUPS": "Detection of WIFI-Direct P2P Groups. Wi-Fi Direct (P2P) allows devices with the appropriate\nhardware to connect directly to each other via Wi-Fi without an intermediate access point.",
                    "WINDOWS_BRIDGE": "Detection of Windows station bridging. A Windows Bridge occurs when a client that is associated\nto an AP is also connected to the wired network, and has enabled bridging between these two interfaces.",
                    "WIRELESS_BRIDGE": "Enables detection of wireless bridging. Wireless bridges are normally used to connect multiple\nbuildings together. However, an attacker could place (or have an authorized person place) a\nwireless bridge inside the network that would extend the corporate network somewhere outside\nthe building."
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Infrastructure detetion cases"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "infrastructure-protection": {
                "description": "Specifies the policy for protecting access points from wireless attacks.\nEach of these options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                "items": {
                  "default": "OFF",
                  "description": "Specifies the policy for protecting access points from wireless attacks.\nEach of these options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                  "enum": [
                    "OFF",
                    "CUSTOM",
                    "LOW",
                    "MEDIUM",
                    "HIGH",
                    "SSID",
                    "ROGUE_CONTAINMENT",
                    "ADHOC_NETWORK",
                    "AP_IMPERSONATION",
                    "WIFI_DIRECT_P2P_GROUPS"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ADHOC_NETWORK": "Protection from adhoc networks. When adhoc networks are detected, they are disabled using a DoS attack.",
                    "AP_IMPERSONATION": "Protection from AP impersonation attacks. When AP impersonation is detected,\nboth the legitimate and impersonating AP are disabled using a DoS attack.",
                    "CUSTOM": "Customize infrastructure protection.",
                    "HIGH": "High infrastructure protection level, it includes:\nProtect from ad hoc Networks\nProtect AP Impersonation\nNOTE: Higher protection levels include the protection policies of the levels below them.\n",
                    "LOW": "Low infrastructure protection level, it includes:\nProtect SSID—Valid SSID list should be auto-derived from AP configuration\nRogue Containment.\n",
                    "MEDIUM": "Medium infrastructure protection level, it does not include more than low level.",
                    "OFF": "Infrastructure protection off.",
                    "ROGUE_CONTAINMENT": "Controls Rogue APs. When rogue APs are detected, they are not automatically disabled.\nThis option automatically shuts down rogue APs. When this option is enabled, clients attempting\nto associate to an AP classified as a rogue are disconnected through a DoS attack.",
                    "SSID": "REDACTED",
                    "WIFI_DIRECT_P2P_GROUPS": "Protection from WIFI-Direct P2P Groups. Wi-Fi Direct (P2P) allows devices with the appropriate\nhardware to connect directly to each other via Wi-Fi without an intermediate access point."
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Infrastructure protetion types"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "laa-counter-msg": {
                "description": "Locally administratered address, which is also called random mac, counter parameters.",
                "properties": {
                  "enable": {
                    "default": "false",
                    "description": "Enalbe Laa counter message.\nDisable by default.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "interval": {
                    "default": "60",
                    "description": "Interval to report laa counter message.",
                    "format": "int64",
                    "maximum": 360000,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "max-monitored-aps": {
                "default": "0",
                "description": "The max allowed AP to monitor, 0 by default.",
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "max-potential-stations": {
                "default": "512",
                "description": "The max allowed potential stations, 512 by default.",
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "parse-adhoc-awdl-network": {
                "default": "false",
                "description": "Process frames from adhoc Apple Wireless Direct Link (AWDL) networks.\nDisable by default.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "valid-ap-max-unseen-timeout": {
                "default": "7200",
                "description": "Ageout time for valid AP entries in the Unknown Access Points Detected\ntable of the network. The entry of the valid AP will be deleted if it is not seen\nby the AP after the configured duration is elapsed. For valid APs operating in a different\nchannel, the ageout time is twice the duration configured. The value is configured in seconds.",
                "format": "int64",
                "maximum": 36000,
                "minimum": 5,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "vendor-ie-exclusion": {
                "description": "Configures exclusions for IDS containment based on vendor specific IE information.\nThis feature allows APs to be exempted from containment even when the devices use\nrandomized MAC addresses. AP allows for a maximum of five vendor OUI and OUI types\nto be defined for confinement exclusion.",
                "items": {
                  "properties": {
                    "oui": {
                      "description": "The Organizational Unique Identifier (OUI) of mac address.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "oui",
                      "x-patterns": "'[a-fA-F0-9]{2}(:[a-fA-F0-9]{2}){2}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "type": {
                      "description": "Type of Organizational Unique Identifier (OUI) that is defined by vendor.",
                      "format": "int64",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    }
                  }
                },
                "maxItems": 5,
                "type": "array",
                "x-key": [
                  "oui",
                  "type"
                ],
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "wifi-direct-network-quiet-time": {
                "default": "900",
                "description": "Time to wait in seconds after detecting a WIFI Direct network, after which the check\ncan be resumed.",
                "format": "int64",
                "maximum": 360000,
                "minimum": 60,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "wired-containment": {
                "description": "Prevents unauthorized wired stations from connecting to network.",
                "properties": {
                  "ap-mac-offset": {
                    "default": "false",
                    "description": "Wired containment to Rogue APs whose wired interface MAC address is offset by one from its BSSID.\nDisable by default.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "enable": {
                    "default": "false",
                    "description": "Enables wired attacks.\nDisable by default.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "suspend-l3-rogue": {
                    "default": "false",
                    "description": "Identify and contain an AP with a preset wired MAC address that is different from\nthe BSSID of the AP if the MAC address that the AP provides to wireless clients as\nthe Gateway MAC is offset by one character from its wired MAC address.\nDisable by default.",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "wireless-containment": {
                "description": "Prevents unauthorized wireless stations from connecting to network.",
                "properties": {
                  "deauth-reason": {
                    "default": "3",
                    "description": "Deauth reason code of wireless containment, its value is defined in 802.11.",
                    "format": "int64",
                    "maximum": 133,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "type": {
                    "default": "NONE",
                    "description": "Wireless containment types.",
                    "enum": [
                      "DEAUTH_ONLY",
                      "NONE",
                      "TARPIT_ALL_STA",
                      "TARPIT_NON_VALID_STA"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DEAUTH_ONLY": "Containment using deauthentication only.",
                      "NONE": "Disables wireless or wired containment.",
                      "TARPIT_ALL_STA": "Tarpit, a computer technique that purposefully delays incoming connections,\nwill handle all stations.",
                      "TARPIT_NON_VALID_STA": "Tarpit will check non-valid clients."
                    },
                    "x-supportedDeviceType": [
                      "Access Point"
                    ],
                    "x-typeDescription": "Different types in wireless or wired containment"
                  }
                }
              }
            },
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "ArubaIds_IdsConfigGet": {
        "description": "IDS configuration.",
        "properties": {
          "detection-protection": {
            "description": "Intrusion Detection/Pretection System offers a wide selection of intrusion detection and\nprotection features to protect the network against wireless threats. The following policies\ncan be configured:\n1. Infrastructure Detection Policies — Specifies the policy for detecting wireless attacks\n   on access points.\n2. Client Detection Policies — Specifies the policy for detecting wireless attacks on clients.\n3. Infrastructure Protection Policies — Specifies the policy for protecting access points\n   from wireless attacks.\n4. Client Protection Policies — Specifies the policy for protecting clients from wireless attacks.\n5. Containment Methods— Prevents unauthorized stations from connecting to network.",
            "properties": {
              "allow-well-known-mac": {
                "description": "Allow well-known Mac address.",
                "enum": [
                  "HSRP",
                  "IANA",
                  "LOCAL_MAC",
                  "VMWARE",
                  "VMWARE1",
                  "VMWARE2",
                  "VMWARE3"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "HSRP": "HSRP, a Cisco-proprietary redundancy protocol, with the HSRP MAC\n(Organizationally Unique Identifier) OUI 00:00:0c.\nAn OUI is a 24-bit number that uniquely identifies a vendor or manufacturer.",
                  "IANA": "IANA allocates addresses under the IANA OUI (00-00-5E).",
                  "LOCAL_MAC": "Locally administered MAC addresses starting with 02.",
                  "VMWARE": "VMWare OUIs: 00:0c:29, 00:05:69, or 00:50:56.",
                  "VMWARE1": "VMWare OUI 00:0c:29.",
                  "VMWARE2": "VMWare OUI 00:05:69.",
                  "VMWARE3": "VMWare OUI 00:50:56."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Different kinds of MAC address."
              },
              "ap-max-unseen-timeout": {
                "default": "600",
                "description": "Ageout time for interfering AP in an unknown network. The interfering AP will be deleted\nif it is not seen by the AP after the configured duration is elapsed. For interfering APs\noperating in a different channel, the ageout time is twice the duration configured.",
                "format": "int64",
                "maximum": 36000,
                "minimum": 5,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "client-detection": {
                "description": "Specifies the policy for detecting wireless attacks on clients.\nEach of options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                "items": {
                  "default": "OFF",
                  "description": "Specifies the policy for detecting wireless attacks on clients.\nEach of options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                  "enum": [
                    "OFF",
                    "CUSTOM",
                    "LOW",
                    "MEDIUM",
                    "HIGH",
                    "VALID_CLIENTMISASSOCIATION",
                    "DISCONNECT_STA",
                    "OMERTA_ATTACK",
                    "FATAJACK",
                    "BLOCK_ACK_ATTACK",
                    "HOTSPOTTER_ATTACK",
                    "UNENCRYPTED_VALID",
                    "POWER_SAVE_DOS_ATTACK",
                    "EAP_RATE_ANOMALY",
                    "RATE_ANOMALIES",
                    "CHOPCHOP_ATTACK",
                    "TKIP_REPLAY_ATTACK",
                    "SIGNATURE_AIRJACK",
                    "SIGNATURE_ASLEAP",
                    "WPA_FT_ATTACK",
                    "GHOSTTUNNEL_CLIENT_ATTACK",
                    "CLIENT_ISOLATION_ATTACK"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BLOCK_ACK_ATTACK": "Detection of attempts to reset traffic receive windows using the forged Block ACK Add messages.",
                    "CHOPCHOP_ATTACK": "Detection of ChopChop attack. ChopChop is a plaintext recovery attack against WEP encrypted\nnetworks. It works by forcing the plaintext, one byte at a time, by truncating a captured frame\nand then trying all 256 possible values for the last byte with a corrected CRC. The correct guess\ncauses the AP to retransmit the frame. When that happens, the frame is truncated again.",
                    "CLIENT_ISOLATION_ATTACK": "Detect client isolation attact. This attack is from the perspective of an insider attacker who has\ncredentials to access at least one of the SSIDs being attacked (or none if opensystem). Three main aspects:\n1. The group key can be abused by an insider to directly inject packets to victims, bypassing client\n   isolation at the AP, even in Passpoint deployments.\n2. Gateway bouncing: many vendors only enforce client isolation at Layer-2 (MAC and link), but do not carry it\n   over to Layer-3 (IP layer). Thus, an attacker can inject packets to a victim, by using the AP’s gateway MAC\n   address as the layer-2 destination, but the victim’s IP address as the layer-3 destination. These packets are\n   typically accepted by the AP and forwarded to the gateway. If the gateway does not enforce client isolation at\n   the IP layer, it will forward the datagram to its destination.\n3, Spoofing the victim’s MAC address while connecting to the same network (but possibly a different AP) as the victim,\n   enables the attacker to intercept downlink frames meant for the victim.",
                    "CUSTOM": "Customize client detection.",
                    "DISCONNECT_STA": "Detect station disconnection attack.",
                    "EAP_RATE_ANOMALY": "Use EAP handshake analysis to detect an abnormal number of authentication procedures\non a channel and generate an alarm when this condition is detected.",
                    "FATAJACK": "Detect of fatajack attacks. FATA-Jack is an 802.11 client DoS tool that tries to\ndisconnect targeted stations using spoofed authentication frames that contain an\ninvalid authentication algorithm number.",
                    "GHOSTTUNNEL_CLIENT_ATTACK": "Ghost tunnel client side attack detection. A ghost tunnel attack uses 802.11 probe request\npackets or beacon packets to communicate with the host and need not establish a Wi-Fi connection.\nFor the client-side ghost tunnel attack, the AP monitors the abnormal probe request packets in\nthe wireless environment. When a client is heard by the AP, it looks for abnormal probe request\npackets from the client.",
                    "HIGH": "High client detection level, it enables:\nDetect EAP rate anomaly\nDetect rate anomaly\nDetect Chop Chop Attack\nDetect TKIP Replay Attack\nIDS signature—Air Jack\nIDS signature—ASLEAP\nDetect ghost tunnel client attack\nDetect client isolation attack\nNOTE: Higher detection levels include the detection policies of the levels below them.\n",
                    "HOTSPOTTER_ATTACK": "Detection of hotspotter attacks. The Hotspotter attack is an evil-twin attack which\nattempts to lure a client to a malicious AP.",
                    "LOW": "Low client detection level, it enables:\nDetect valid client misassociation.\n",
                    "MEDIUM": "Medium client detection level, it enables:\nDetect Disconnect Station Attack\nDetect Omerta Attack\nDetect FATA-Jack Attack\nDetect Block ACK DOS\nDetect Hotspotter Attack\nDetect unencrypted valid client\nDetect Power Save DOS Attack.\n",
                    "OFF": "Client detection off.",
                    "OMERTA_ATTACK": "Detect Omerta attack. Omerta is a DoS attack tool based on the 802.11 protocol.\nIt sends disassociation frames to disassociate clients.",
                    "POWER_SAVE_DOS_ATTACK": "Detection of Power Save DoS attack. To save on power, wireless clients will sleep periodically,\nduring which they cannot transmit or receive. A client indicates its intention to sleep by\nsending frames to the AP with the Power Management bit ON. The AP then begins buffering traffic\nbound for that client until it indicates that it is awake. An intruder could exploit this mechanism\nby sending (spoofed) frames to the AP on behalf of the client to trick the AP into believing\nthe client is asleep. This will cause the AP to buffer most, if not all, frames destined for the client.",
                    "RATE_ANOMALIES": "Detection of rate anomalies. Many DoS attacks flood an AP or multiple APs with 802.11\nmanagement frames. These can include authenticate/associate frames which are designed to\nfill up the association table of an AP. Other management frame floods, such as probe request\nfloods, can consume excess processing power on the AP.",
                    "SIGNATURE_AIRJACK": "Signature matching for the AirJack frame type. AirJack is a suite of device drivers for 802.11(a/b/g)\nraw frame injection and reception. It was intended to be used as a development tool for all 802.11\napplications that need to access the raw protocol, however one of the tools included allowed users\nto force off all users on an AP.",
                    "SIGNATURE_ASLEAP": "Signature matching for the ASLEAP frame type. ASLEAP is a tool created for Linux systems\nwhich is used to attack Cisco LEAP authentication protocol.",
                    "TKIP_REPLAY_ATTACK": "Detection of TKIP replay attack. TKIP is vulnerable to replay (via WMM/QoS) and plaintext\ndiscovery (via ChopChop). This affects all WPA-TKIP usage. By replaying a captured TKIP data\nframe on other QoS queues, an attacker can manipulate the RC4 data and checksum to derive the\nplaintext at a rate of one byte per minute.",
                    "UNENCRYPTED_VALID": "Detection of unencrypted valid clients. An authorized (valid) client that is passing\ntraffic in unencrypted mode is a security risk. An intruder can sniff unencrypted traffic\n(also known as packet capture) with software tools known as sniffers.",
                    "VALID_CLIENTMISASSOCIATION": "Detection of misassociation between a valid client and an unsafe AP.",
                    "WPA_FT_ATTACK": "Detection of WPA FT attacks. If a vulnerable AP is attacked through the 802.11r FT handshake,\nthen AP-to-client traffic can be attacked."
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Supported attacks in client detetion."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "client-protection": {
                "description": "Specifies the policy for protecting clients from wireless attacks.\nEach of these options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                "items": {
                  "default": "OFF",
                  "description": "Specifies the policy for protecting clients from wireless attacks.\nEach of these options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                  "enum": [
                    "OFF",
                    "CUSTOM",
                    "LOW",
                    "MEDIUM",
                    "HIGH",
                    "VALID_STA",
                    "WINDOWS_BRIDGE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CUSTOM": "Customize client protection methods.",
                    "HIGH": "High client protection level, it includes:\nProtect Windows Bridge\nNOTE: Higher protection levels include the protection policies of the levels below them.\n",
                    "LOW": "Low client protection level, it includes:\n Detect AP Spoofing\n Detect Windows bridge\n IDS signature—deauthentication broadcast\n IDS signature—deassociation broadcast.\n",
                    "MEDIUM": "Medium client protection level, it includes:\nProtect Valid Station.\n",
                    "OFF": "Client protection off.",
                    "VALID_STA": "Protection of valid stations. When enabled, valid stations are not allowed to connect to an invalid AP.",
                    "WINDOWS_BRIDGE": "Protecting from a Windows Bridge involves containing the client that is forming the bridge so that it can not connect to the AP."
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Client protetion methods"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "country-code-detection": {
                "description": "Enable/disbale country code detection feature.\nConfigure interval value to raise a trap and log for each AP.\nConfigure list of country codes exempt from invalid 802.11d country code detection.",
                "properties": {
                  "country-code-exclusion": {
                    "description": "Country codes exempt from invalid country code detection.\nEach code must be an ISO 3166-1 alpha-2 two-letter uppercase code.",
                    "items": {
                      "description": "Country codes exempt from invalid country code detection.\nEach code must be an ISO 3166-1 alpha-2 two-letter uppercase code.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "country-code-exclusion",
                      "x-patterns": "'[A-Z]{2}'",
                      "x-supportedDeviceType": [
                        "Access Point"
                      ]
                    },
                    "maxItems": 10,
                    "type": "array"
                  },
                  "enable": {
                    "default": "false",
                    "description": "Enable the exception list for invalid country code detection (disabled by default).",
                    "type": "boolean",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "interval": {
                    "default": "900",
                    "description": "Quite time to detect invalid country code.",
                    "format": "int64",
                    "maximum": 360000,
                    "minimum": 60,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "denylist-client": {
                "default": "false",
                "description": "Enable denylist to add the ids detection client to denylist table.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "ghosttunnel-client": {
                "description": "Ghost tunnel attack is a backdoor transmission method that can be used in an isolated\nenvironment. A ghost tunnel attack uses 802.11 probe request packets or beacon packets\nto communicate with the host without establishing a Wi-Fi connection.\n\nFor the client-side ghost tunnel attack, the AP monitors the abnormal probe request\npackets in the wireless environment. When a client is heard by the AP, it looks for\nabnormal probe request packets from the client. The system reports a ghost tunnel detection\nevent with the client's MAC address when the alert criteria is met. If only abnormal probe\nrequest packets are monitored and there is no matching client, then the reported event does\nnot contain the client's MAC address.",
                "properties": {
                  "attack-interval": {
                    "default": "60",
                    "description": "Time interval at which the packet count is checked for client side ghost tunnel attacks.",
                    "format": "int32",
                    "maximum": 600,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "attack-threshold": {
                    "default": "10",
                    "description": "Number of abnormal probe request packets required to flag a ghost tunnel attack.\nWhen the number of probe request packets that match the ghost tunnel attack exceed the threshold\nwithin the defined attack interval, the event is flagged as a ghost tunnel attack.",
                    "format": "int64",
                    "maximum": 100000,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "quiet-time": {
                    "default": "900",
                    "description": "Time to wait before resuming ghost tunnel attack detection after an attack\nis detected. This avoids flooding of event logs.",
                    "format": "int64",
                    "maximum": 360000,
                    "minimum": 60,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "ghosttunnel-server": {
                "description": "Ghost tunnel attack is a backdoor transmission method that can be used in an isolated\nenvironment. A ghost tunnel attack uses 802.11 probe request packets or beacon packets\nto communicate with the host without establishing a Wi-Fi connection.\n\nThe server side of ghost tunnel uses beacon packets to send commands to the client and\nthe client sends probe-request automatically in response to the server's request, thereby\ninfecting the system. The server-side ghost tunnel attack detection system relies on\nidentifying abnormal beacon packets and flagging the attacking server.",
                "properties": {
                  "attack-interval": {
                    "default": "60",
                    "description": "Time interval at which the packet count is checked for ghost tunnel attacks from servers.",
                    "format": "int32",
                    "maximum": 600,
                    "minimum": 1,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "attack-threshold": {
                    "default": "200",
                    "description": "Number of abnormal beacon packets required to flag a ghost tunnel attack.\nWhen the number of beacon packets that match the ghost tunnel attack rule exceed the threshold\nwithin the defined attack interval, the event is flagged as a ghost tunnel attack.",
                    "format": "int64",
                    "maximum": 10000,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "quiet-time": {
                    "default": "900",
                    "description": "Time to wait before resuming ghost tunnel attack detection after an attack is detected.\nThis avoids flooding of event logs.",
                    "format": "int64",
                    "maximum": 360000,
                    "minimum": 60,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  }
                }
              },
              "infrastructure-detection": {
                "description": "Specifies the policy for detecting wireless attacks on access points.\nEach of these options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                "items": {
                  "default": "OFF",
                  "description": "Specifies the policy for detecting wireless attacks on access points.\nEach of these options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                  "enum": [
                    "OFF",
                    "CUSTOM",
                    "LOW",
                    "MEDIUM",
                    "HIGH",
                    "AP_SPOOFING",
                    "WINDOWS_BRIDGE",
                    "SIGNATURE_DEAUTH_BROADCAST",
                    "SIGNATURE_DEASSOCIATION_BROADCAST",
                    "CHAN_BASED_MITM",
                    "ADHOC_USING_VALID_SSID",
                    "MALFORMED_LARGE_DURATION",
                    "AP_IMPERSONATION",
                    "ADHOC_NETWORK",
                    "VALID_SSID_MISUSE",
                    "WIRELESS_BRIDGE",
                    "HT_40MHZ_INTOLERANCE",
                    "HT_GREENFIELD",
                    "AP_FLOOD",
                    "CLIENT_FLOOD",
                    "BAD_WEP",
                    "CTS_RATE_ANOMALY",
                    "RTS_RATE_ANOMALY",
                    "INVALID_ADDRESSCOMBINATION",
                    "MALFORMED_HTIE",
                    "MALFORMED_ASSOC_REQ",
                    "MALFORMED_FRAME_AUTH",
                    "OVERFLOW_IE",
                    "OVERFLOW_EAPOL_KEY",
                    "BEACON_WRONG_CHANNEL",
                    "INVALID_MAC_OUI",
                    "GHOSTTUNNEL_SERVER_ATTACK",
                    "WIFI_DIRECT_P2P_GROUPS"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ADHOC_NETWORK": "Detection of ad hoc networks.",
                    "ADHOC_USING_VALID_SSID": "REDACTED",
                    "AP_FLOOD": "Detection of flooding with fake AP beacons to confuse the legitimate users and to\nincrease the amount of processing needed on client operating systems.",
                    "AP_IMPERSONATION": "Detection of AP impersonation. In an AP impersonation attacks,\nthe attacker sets up an AP that assumes the BSSID and ESSID of a valid\nAP or a neighboring AP. The AP impersonation attacks can be done for\nman-in-the-middle attacks, a rogue APs attempting to bypass detection, or a honeypot attack.",
                    "AP_SPOOFING": "AP Spoofing detection. An AP Spoofing attack involves an intruder sending forged frames\nthat are made to look like they are from a legitimate AP. It is trivial for an attacker\nto do this, since tools are readily available to inject wireless frames with any MAC address\nthat the user desires. Spoofing frames from a legitimate AP is the foundation of many wireless attacks.",
                    "BAD_WEP": "Detection of WEP initialization vectors that are known to be\nweak or repeating. A primary means of cracking WEP keys is to capture 802.11\nframes over an extended period of time and search for implementations that are\nstill used by many legacy devices.",
                    "BEACON_WRONG_CHANNEL": "Detection of beacons advertising the incorrect channel. In this type of attack, an intruder spoofs\na beacon packet on a channel that is different from that advertised in the beacon frame of the AP.\nThe Beacon wrong channel event is supported only on the 5 GHz band.",
                    "CHAN_BASED_MITM": "Channel-based man-in-the-middle attack detection.",
                    "CLIENT_FLOOD": "Detection of client flood attack.",
                    "CTS_RATE_ANOMALY": "Detection of CTS rate anomaly. The RF medium can be reserved via Virtual Carrier Sensing\nusing a CTS transaction. The transmitter station sends a RTS frame to the receiver station.\nThe receiver station responds with a CTS frame. All other stations that receive these CTS\nframes will refrain from transmitting over the wireless medium for an amount of time specified\nin the duration fields of these frames.\nAttackers can exploit the Virtual Carrier Sensing mechanism to launch a DoS attack on the\nWLAN by transmitting numerous RTS and/or CTS frames. This causes other stations in the WLAN\nto defer transmission to the wireless medium. The attacker can essentially block the authorized\nstations in the WLAN with this attack.",
                    "CUSTOM": "Customize infrastructure detection.",
                    "GHOSTTUNNEL_SERVER_ATTACK": "Ghost tunnel server side attack detection. When enabled, the AP can identify\nghost tunnel attacks from connected servers and issue alerts.",
                    "HIGH": "High infrastructure detection level, it includes:\nDetect AP impersonation\nDetect ad hoc networks\nDetect valid SSID misuse\nDetect wireless bridge\nDetect 802.11 40 MHz intolerance settings\nDetect active 802.11n greenfield mode\nDetect AP flood attack\nDetect client flood attack\nDetect bad WEP\nDetect CTS rate anomaly\nDetect RTS rate anomaly\nDetect invalid address combination\nDetect malformed frame—HT IE\nDetect malformed frame—association request\nDetect malformed frame—auth\nDetect overflow IE\nDetect overflow EAPOL key\nDetect beacon wrong channel\nDetect devices with invalid MAC OUI\nDetect ghost tunnel server attack\nNOTE: Higher detection levels include the detection policies of the levels below them.\n",
                    "HT_40MHZ_INTOLERANCE": "Detection of 802.11n 40 MHz intolerance setting, which controls whether stations\nand APs advertising 40 MHz intolerance will be reported.",
                    "HT_GREENFIELD": "Detection of HT devices advertising greenfield preamble capability. When 802.11 devices use\nthe HT operating mode, they can not share the same channel as 802.11a/b/g stations. Not only\ncan they not communicate with legacy devices, the way they use the transmission medium is\ndifferent, which would cause collisions, errors, and retransmissions.",
                    "INVALID_ADDRESSCOMBINATION": "Detection of invalid address combinations. In this case, an intruder can cause an AP to transmit\ndeauthentication and disassociation frames to all of its clients. Triggers that can cause this\ncondition include the use of broadcast or multicast MAC address in the source address field.",
                    "INVALID_MAC_OUI": "Checking of the first three bytes of a MAC address, known as the OUI,\nassigned by the IEEE to known manufacturers. Often clients using a spoofed MAC address do not\nuse a valid OUI and instead use a randomly generated MAC address. Enabling MAC OUI checking\ncauses an alarm to be triggered if an unrecognized MAC address is in use.",
                    "LOW": "Low infrastructure detection level, it includes:\n Detect AP Spoofing\n Detect Windows bridge\n IDS signature—deauthentication broadcast\n IDS signature—deassociation broadcast.\n",
                    "MALFORMED_ASSOC_REQ": "Detection of malformed association requests. Some wireless drivers used in access points do not\ncorrectly parse the SSID information element tag contained in association request frames. A\nmalicious association request with a null SSID (that is, zero length SSID) can trigger a DoS or\npotential code execution condition on the targeted device.",
                    "MALFORMED_FRAME_AUTH": "Detection of malformed authentication frames. Malformed 802.11 authentication frames that do not\nconform to the specification can expose vulnerabilities in some drivers that have not implemented\nproper error checking. This feature checks for unexpected values in an Authentication frame.",
                    "MALFORMED_HTIE": "Detection of malformed HT information elements. The IEEE 802.11n HT IE is used to convey\ninformation about the 802.11n network. An 802.11 management frame containing a malformed\nHT IE can crash some client implementations, potentially representing an exploitable condition\nwhen transmitted by a malicious attacker.",
                    "MALFORMED_LARGE_DURATION": "Detection of unusually large durations in frames. The virtual carrier-sense attack is implemented\nby modifying the 802.11 MAC layer implementation to allow random duration values to be sent\nperiodically. This attack can be carried out on the ACK, data, RTS, and CTS frame types by using\nlarge duration values. This attack can prevent channel access to legitimate users.",
                    "MEDIUM": "Medium infrastructure detection level, it includes:\nDetect ad hoc networks using VALID SSID—Valid SSID list is autoconfigured based on the AP configuration\nDetect malformed frame—large duration.\n",
                    "OFF": "Infrastructure detection off.",
                    "OVERFLOW_EAPOL_KEY": "Detection of overflow EAPOL key requests. Some wireless drivers used in access points do not\ncorrectly validate the EAPOL key fields. A malicious EAPOL-Key packet with an invalid advertised\nlength can trigger a DoS or possible code execution. This can only be achieved after a successful\n802.11 association exchange.",
                    "OVERFLOW_IE": "Detection of overflow Information Elements. Some wireless drivers used in access points do not\ncorrectly parse the vendor-specific IE tags. A malicious association request sent to the AP\ncontaining an IE with an inappropriate length (too long) can cause a DoS and potentially lead\nto code execution. The association request must be sent after a successful 802.11 authentication\nexchange.",
                    "RTS_RATE_ANOMALY": "Detection of RTS rate anomaly. The RF medium can be reserved via Virtual Carrier Sensing using\nan RTS transaction. The transmitter station sends a RTS frame to the receiver station. The\nreceiver station responds with a CTS frame. All other stations that receive these RTS frames\nwill refrain from transmitting over the wireless medium for an amount of time specified in the\nduration fields of these frames.\nAttackers can exploit the Virtual Carrier Sensing mechanism to launch a DoS attack on the WLAN\nby transmitting numerous RTS and/or CTS frames. This causes other stations in the WLAN to defer\ntransmission to the wireless medium. The attacker can essentially block the authorized stations\nin the WLAN with this attack.",
                    "SIGNATURE_DEASSOCIATION_BROADCAST": "Signature matching for the deassociation broadcast frame type. By sending disassociation frames\nto the broadcast address (FF:FF:FF:FF:FF:FF), an attacker can disconnect all stations on a network\nfor a widespread DoS.",
                    "SIGNATURE_DEAUTH_BROADCAST": "Signature matching for the deauth broadcast frame type. A deauthentication broadcast attempts\nto disconnect all stations in range. Rather than sending a spoofed deauth to a specific MAC address,\nthis attack sends the frame to a broadcast address.",
                    "VALID_SSID_MISUSE": "Detection of interfering or Neighbor APs using valid or protected SSIDs.",
                    "WIFI_DIRECT_P2P_GROUPS": "Detection of WIFI-Direct P2P Groups. Wi-Fi Direct (P2P) allows devices with the appropriate\nhardware to connect directly to each other via Wi-Fi without an intermediate access point.",
                    "WINDOWS_BRIDGE": "Detection of Windows station bridging. A Windows Bridge occurs when a client that is associated\nto an AP is also connected to the wired network, and has enabled bridging between these two interfaces.",
                    "WIRELESS_BRIDGE": "Enables detection of wireless bridging. Wireless bridges are normally used to connect multiple\nbuildings together. However, an attacker could place (or have an authorized person place) a\nwireless bridge inside the network that would extend the corporate network somewhere outside\nthe building."
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Infrastructure detetion cases"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "infrastructure-protection": {
                "description": "Specifies the policy for protecting access points from wireless attacks.\nEach of these options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                "items": {
                  "default": "OFF",
                  "description": "Specifies the policy for protecting access points from wireless attacks.\nEach of these options contains several default levels that enable different sets of policies.\nAn administrator can customize enable or disable these options accordingly.",
                  "enum": [
                    "OFF",
                    "CUSTOM",
                    "LOW",
                    "MEDIUM",
                    "HIGH",
                    "SSID",
                    "ROGUE_CONTAINMENT",
                    "ADHOC_NETWORK",
                    "AP_IMPERSONATION",
                    "WIFI_DIRECT_P2P_GROUPS"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ADHOC_NETWORK": "Protection from adhoc networks. When adhoc networks are detected, they are disabled using a DoS attack.",
                    "AP_IMPERSONATION": "Protection from AP impersonation attacks. When AP impersonation is detected,\nboth the legitimate and impersonating AP are disabled using a DoS attack.",
                    "CUSTOM": "Customize infrastructure protection.",
                    "HIGH": "High infrastructure protection level, it includes:\nProtect from ad hoc Networks\nProtect AP Impersonation\nNOTE: Higher protection levels include the protection policies of the levels below them.\n",
                    "LOW": "Low infrastructure protection level, it includes:\nProtect SSID—Valid SSID list should be auto-derived from AP configuration\nRogue Containment.\n",
                    "MEDIUM": "Medium infrastructure protection level, it does not include more than low level.",
                    "OFF": "Infrastructure protection off.",
                    "ROGUE_CONTAINMENT": "Controls Rogue APs. When rogue APs are detected, they are not automatically disabled.\nThis option automatically shuts down rogue APs. When this option is enabled, clients attempting\nto associate to an AP classified as a rogue are disconnected through a DoS attack.",
                    "SSID": "REDACTED",
                    "WIFI_DIRECT_P2P_GROUPS": "Protection from WIFI-Direct P2P Groups. Wi-Fi Direct (P2P) allows devices with the appropriate\nhardware to connect directly to each other via Wi-Fi without an intermediate access point."
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Infrastructure protetion types"
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "laa-counter-msg": {
[...]
