{
  "openapi": "3.1.0",
  "info": {
    "title": "Mesh",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Mesh"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/mesh": {
      "get": {
        "description": "Configure and retrieve Mesh profiles for Aruba Access Points, enabling wireless backhaul\nconnectivity between mesh portals and mesh points. These profiles define mesh cluster\nsettings, band selection, topology behavior, role selection, and recovery parameters used\nto build and maintain the mesh network. Use this API to retrieve the list of Mesh profiles.",
        "operationId": "readMesh",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaMesh_MeshSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configuration of Mesh network topology",
        "tags": [
          "Mesh"
        ],
        "x-cliParam": {
          "commandName": "readMeshCmd",
          "commandUse": "mesh",
          "parentCommand": "readCmd",
          "pathToPrint": "/mesh/",
          "summary": "Read operation for mesh"
        }
      }
    },
    "/network-config/v1alpha1/mesh/{name}": {
      "get": {
        "description": "Defines a single Mesh profile for Aruba AP mesh network behavior. Each profile is\nidentified by name. Use these APIs to create, modify, or delete an instance.",
        "operationId": "readMeshProfileByID",
        "parameters": [
          {
            "description": "The name of the Mesh profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaMesh_MeshprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing Mesh network profile",
        "tags": [
          "Mesh"
        ],
        "x-cliParam": {
          "commandName": "readMeshProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readMeshCmd",
          "pathToPrint": "/mesh/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Defines a single Mesh profile for Aruba AP mesh network behavior. Each profile is\nidentified by name. Use these APIs to create, modify, or delete an instance.",
        "operationId": "replaceMeshProfileByID",
        "parameters": [
          {
            "description": "The name of the Mesh profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMesh_MeshprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Mesh"
        ],
        "x-cliParam": {
          "commandName": "replaceMeshProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceMeshCmd",
          "pathToPrint": "/mesh/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Defines a single Mesh profile for Aruba AP mesh network behavior. Each profile is\nidentified by name. Use these APIs to create, modify, or delete an instance.",
        "operationId": "createMeshProfileByID",
        "parameters": [
          {
            "description": "The name of the Mesh profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMesh_MeshprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new Mesh network  profile",
        "tags": [
          "Mesh"
        ],
        "x-cliParam": {
          "commandName": "createMeshProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createMeshCmd",
          "pathToPrint": "/mesh/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Defines a single Mesh profile for Aruba AP mesh network behavior. Each profile is\nidentified by name. Use these APIs to create, modify, or delete an instance.",
        "operationId": "deleteMeshProfileByID",
        "parameters": [
          {
            "description": "The name of the Mesh profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the  Mesh network profile",
        "tags": [
          "Mesh"
        ],
        "x-cliParam": {
          "commandName": "deleteMeshProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteMeshCmd",
          "pathToPrint": "/mesh/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Defines a single Mesh profile for Aruba AP mesh network behavior. Each profile is\nidentified by name. Use these APIs to create, modify, or delete an instance.",
        "operationId": "updateMeshProfileByID",
        "parameters": [
          {
            "description": "The name of the Mesh profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMesh_MeshprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "Mesh"
        ],
        "x-cliParam": {
          "commandName": "updateMeshProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateMeshCmd",
          "pathToPrint": "/mesh/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaMesh_MeshSchemaGET": {
        "description": "Configure and retrieve Mesh profiles for Aruba Access Points, enabling wireless backhaul\nconnectivity between mesh portals and mesh points. These profiles define mesh cluster\nsettings, band selection, topology behavior, role selection, and recovery parameters used\nto build and maintain the mesh network. Use this API to retrieve the list of Mesh profiles.",
        "properties": {
          "profile": {
            "description": "Defines a single Mesh profile for Aruba AP mesh network behavior. Each profile is\nidentified by name. Use these APIs to create, modify, or delete an instance.",
            "items": {
              "properties": {
                "band": {
                  "default": "BAND_TYPE_5GHZ",
                  "description": "Configures the radio band used for mesh link. When configured, the mesh link is established in the defined radio band.",
                  "enum": [
                    "BAND_TYPE_24GHZ",
                    "BAND_TYPE_5GHZ",
                    "BAND_TYPE_6GHZ",
                    "BAND_TYPE_ALL"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BAND_TYPE_24GHZ": "Configures mesh links to operate in the 2.4 GHz radio band.",
                    "BAND_TYPE_5GHZ": "Configures mesh links to operate in the 5 GHz radio band.",
                    "BAND_TYPE_6GHZ": "Configures mesh links to operate in the 6 GHz radio band.",
                    "BAND_TYPE_ALL": "Configures mesh links to operate in either the 6 GHz radio band or 5 GHz radio band."
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Mesh band type"
                },
                "cluster": {
                  "description": "List of Mesh clusters.",
                  "items": {
                    "properties": {
                      "key": {
                        "description": "Mesh cluster PSK password",
                        "format": "const",
                        "maxLength": 9999,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                      },
                      "mc-name": {
                        "description": "Mesh cluster name",
                        "format": "const",
                        "maxLength": 32,
                        "minLength": 8,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "opmode": {
                        "description": "Mesh cluster cipher-suite type(AKA opmode)",
                        "enum": [
                          "WPA2_PSK",
                          "WPA3_SAE"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "WPA2_PSK": "WPA2 PSK  cipher suite",
                          "WPA3_SAE": "WPA3 SAE  cipher suite"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "Mesh cluster cipher suite type"
                      },
                      "priority": {
                        "default": "1",
                        "description": "Mesh cluster priority",
                        "format": "int32",
                        "maximum": 15,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      }
                    }
                  },
                  "maxItems": 15,
                  "type": "array",
                  "x-key": [
                    "mcName"
                  ]
                },
                "description": {
                  "description": "Mesh profile description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "eht-enable": {
                  "default": "true",
                  "description": "Enable extremely-high-throughput (802.11be)  features on Mesh",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "enable": {
                  "default": "true",
                  "description": "Allow  Mesh on AP.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "extended-cluster-key": {
                  "description": "The API is only supported on AOS8 with the per-AP setting. It works together with the per-AP mesh cluster. For scenarios, refer to the mesh cluster description.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                },
                "extended-cluster-name": {
                  "description": "The API is only supported on AOS8 with the per-AP setting. It works in conjunction with the per-AP mesh-cluster-key and supports the following scenarios:\n    1.Set up mesh network among standalone APs\n    2.Set up Point-to-Point mesh network between two APs, no matter standalone or swarm mode\n    3.Set up 16 avaliable mesh clusters (with mesh-cluster list) and as the top priority cluster\nFor regular scenarios, it is still recommended to use the mesh-cluster list.",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 8,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "heartbeat-threshold": {
                  "default": "10",
                  "description": "Heartbeat threshold for mesh neighbor APs. The AP will drop connection with the neighboring AP when the missed heartbeat count exceeds the defined threshold.\nRange: 1-255  Default: 10",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "hop-count": {
                  "default": "2",
                  "description": "Maximum number of hop counts allowed between the AP and the mesh portal. The parent mesh AP will be dynamically selected on the number of number of hop counts allowed.\nRange: 1-32  Default: 2",
                  "format": "int32",
                  "maximum": 32,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "link-threshold": {
                  "default": "12",
                  "description": "Threshold RSSI value below which mesh links incur a metric penalty. Range: 10-90  Default: 12",
                  "format": "int32",
                  "maximum": 90,
                  "minimum": 10,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "max-children": {
                  "default": "8",
                  "description": "Maximum number of mesh children APs that can be connected to the AP.Range: 1-64 Default: 8",
                  "format": "int32",
                  "maximum": 64,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "max-retries": {
                  "default": "4",
                  "description": "Maximum number of scans the Instant AP performs on a particular channel to identify neighboring mesh APs before moving on to the next channel.\nRange: 1-15 Default: 4",
                  "format": "int32",
                  "maximum": 15,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "metric-algorithm": {
                  "default": "DISTRIBUTED_TREE_RSSI",
                  "description": "Metric algorithm used for path selection to the mesh portal AP.  Range: distributed-tree-rssi, best-link-rssi  Default: distributed-tree-rssi",
                  "enum": [
                    "BEST_LINK_RSSI",
                    "DISTRIBUTED_TREE_RSSI"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BEST_LINK_RSSI": "Combine link-RSSI with a node cost based on hop-count alone.",
                    "DISTRIBUTED_TREE_RSSI": "Combine link-RSSI with a node cost based on number of children."
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "The metric algorithm type"
                },
                "mobility": {
                  "description": "Configures enabled fast roaming on a mesh point",
                  "oneOf": [
                    {
                      "format": "int32",
                      "maximum": 50,
                      "minimum": 10,
                      "type": "integer"
                    },
                    {
                      "enum": [
                        "HIGH",
                        "LOW"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "HIGH": "Enables mesh roaming function and RSSI threshold less than or equal to 22",
                        "LOW": "Enables mesh roaming function and RSSI threshold less than or equal to 15."
                      },
                      "x-typeDescription": "Mesh  mobility value"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "mobility-beacon-miss": {
                  "default": "16",
                  "description": "Number of consecutive missed Beacon frames after which mesh roaming it triggered on the AP. Applies to mesh points with mobility enabled.\nRange: 10-25   Default: 16",
                  "format": "int32",
                  "maximum": 25,
                  "minimum": 10,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "name": {
                  "description": "The name of the Mesh profile.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "optimize-scan-interval": {
                  "default": "24",
                  "description": "Time interval between scans to identify better mesh neighbor APs for topology optimization. The value is defined in hours. Range: 1-100 hours  Default: 24",
                  "format": "int32",
                  "maximum": 100,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "prefer-uplink-radio": {
                  "default": "NONE",
                  "description": "The preferred 5 GHz radio for mesh links. Mesh link neighbors identified in this radio band will be prioritized over other neighbors identified in the other radio band. This parameter will only take effect when dual 5 GHz or split 5 GHz radio is enabled on the AP and mesh-split5g-radio-band is set to full.   Range: none, 5g-lower, 5g-upper    Default: none",
                  "enum": [
                    "NONE",
                    "UPLINK_5G_LOWER",
                    "UPLINK_5G_UPPER"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "NONE": "Default value",
                    "UPLINK_5G_LOWER": "5GHz Lower band",
                    "UPLINK_5G_UPPER": "5GHz Upper band"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Uplink radio type"
                },
                "private-vlan": {
                  "default": "0",
                  "description": "Mesh private VLAN ID for control traffic between a remote mesh portal and mesh node. Range: 0-4094  Default: 0",
                  "format": "int64",
                  "maximum": 4094,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "recovery": {
                  "description": "A function to allow mesh point connection using a backup general configs when configured profile can not establish mesh link",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 8,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "reselection-mode": {
                  "default": "STARTUP_SUBTHRESHOLD",
                  "description": "Reselection mode of operation.  Range: never, subthreshold, startup-subthreshold, anytime   Default: startup-subthreshold",
                  "enum": [
                    "NEVER",
                    "SUBTHRESHOLD",
                    "STARTUP_SUBTHRESHOLD",
                    "ANYTIME"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ANYTIME": "Anytime",
                    "NEVER": " Never",
                    "STARTUP_SUBTHRESHOLD": "Startup_subthreshold",
                    "SUBTHRESHOLD": "Subthreshold"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Reselection mode"
                },
                "role": {
                  "description": "Mesh role",
                  "enum": [
                    "AUTO",
                    "PORTAL",
                    "POINT"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AUTO": "Mesh Auto",
                    "POINT": "Mesh Point",
                    "PORTAL": "Mesh Portal"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Mesh role"
                },
                "split5g-band-range": {
                  "description": "Configures the 5 GHz radio used for the mesh link. Use this command to configure the 5 GHz radio that should be used as the mesh link. This setting only takes effect when split 5 GHz or dual 5 GHz radio is enabled on the AP.",
                  "enum": [
                    "FULL",
                    "LOWER",
                    "UPPER",
                    "FIRST"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "FIRST": "Configures radio 0 as the mesh link.",
                    "FULL": "Configures both the sub bands of the 5 GHz radio as the mesh link. The radio assignment however depends on factors such as hop count to the mesh portal, availability of neighboring mesh APs, and preferred uplink radio setting of the mesh profile. This is the default setting.",
                    "LOWER": "Configures the lower 5 GHz radio as the mesh link.",
                    "UPPER": "Configures the upper 5 GHz radio as the mesh link"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Mesh  Split5GHz band range"
                },
                "topology-algorithm": {
                  "default": "LOCAL",
                  "description": "Mesh  topology algorithm",
                  "enum": [
                    "LOCAL",
                    "CENTRAL"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CENTRAL": "Mesh central topology algorithm",
                    "LOCAL": "Mesh local topology algorithm"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Mesh topology algorithm "
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Access Point"
        ]
      },
      "ArubaMesh_MeshprofileSchema": {
        "properties": {
          "band": {
            "default": "BAND_TYPE_5GHZ",
            "description": "Configures the radio band used for mesh link. When configured, the mesh link is established in the defined radio band.",
            "enum": [
              "BAND_TYPE_24GHZ",
              "BAND_TYPE_5GHZ",
              "BAND_TYPE_6GHZ",
              "BAND_TYPE_ALL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BAND_TYPE_24GHZ": "Configures mesh links to operate in the 2.4 GHz radio band.",
              "BAND_TYPE_5GHZ": "Configures mesh links to operate in the 5 GHz radio band.",
              "BAND_TYPE_6GHZ": "Configures mesh links to operate in the 6 GHz radio band.",
              "BAND_TYPE_ALL": "Configures mesh links to operate in either the 6 GHz radio band or 5 GHz radio band."
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Mesh band type"
          },
          "cluster": {
            "description": "List of Mesh clusters.",
            "items": {
              "properties": {
                "key": {
                  "description": "Mesh cluster PSK password",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                },
                "mc-name": {
                  "description": "Mesh cluster name",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 8,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "opmode": {
                  "description": "Mesh cluster cipher-suite type(AKA opmode)",
                  "enum": [
                    "WPA2_PSK",
                    "WPA3_SAE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "WPA2_PSK": "WPA2 PSK  cipher suite",
                    "WPA3_SAE": "WPA3 SAE  cipher suite"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Mesh cluster cipher suite type"
                },
                "priority": {
                  "default": "1",
                  "description": "Mesh cluster priority",
                  "format": "int32",
                  "maximum": 15,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 15,
            "type": "array",
            "x-key": [
              "mcName"
            ]
          },
          "description": {
            "description": "Mesh profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "eht-enable": {
            "default": "true",
            "description": "Enable extremely-high-throughput (802.11be)  features on Mesh",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "enable": {
            "default": "true",
            "description": "Allow  Mesh on AP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "extended-cluster-key": {
            "description": "The API is only supported on AOS8 with the per-AP setting. It works together with the per-AP mesh cluster. For scenarios, refer to the mesh cluster description.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "extended-cluster-name": {
            "description": "The API is only supported on AOS8 with the per-AP setting. It works in conjunction with the per-AP mesh-cluster-key and supports the following scenarios:\n    1.Set up mesh network among standalone APs\n    2.Set up Point-to-Point mesh network between two APs, no matter standalone or swarm mode\n    3.Set up 16 avaliable mesh clusters (with mesh-cluster list) and as the top priority cluster\nFor regular scenarios, it is still recommended to use the mesh-cluster list.",
            "format": "const",
            "maxLength": 32,
            "minLength": 8,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "heartbeat-threshold": {
            "default": "10",
            "description": "Heartbeat threshold for mesh neighbor APs. The AP will drop connection with the neighboring AP when the missed heartbeat count exceeds the defined threshold.\nRange: 1-255  Default: 10",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "hop-count": {
            "default": "2",
            "description": "Maximum number of hop counts allowed between the AP and the mesh portal. The parent mesh AP will be dynamically selected on the number of number of hop counts allowed.\nRange: 1-32  Default: 2",
            "format": "int32",
            "maximum": 32,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "link-threshold": {
            "default": "12",
            "description": "Threshold RSSI value below which mesh links incur a metric penalty. Range: 10-90  Default: 12",
            "format": "int32",
            "maximum": 90,
            "minimum": 10,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "max-children": {
            "default": "8",
            "description": "Maximum number of mesh children APs that can be connected to the AP.Range: 1-64 Default: 8",
            "format": "int32",
            "maximum": 64,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "max-retries": {
            "default": "4",
            "description": "Maximum number of scans the Instant AP performs on a particular channel to identify neighboring mesh APs before moving on to the next channel.\nRange: 1-15 Default: 4",
            "format": "int32",
            "maximum": 15,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "metric-algorithm": {
            "default": "DISTRIBUTED_TREE_RSSI",
            "description": "Metric algorithm used for path selection to the mesh portal AP.  Range: distributed-tree-rssi, best-link-rssi  Default: distributed-tree-rssi",
            "enum": [
              "BEST_LINK_RSSI",
              "DISTRIBUTED_TREE_RSSI"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BEST_LINK_RSSI": "Combine link-RSSI with a node cost based on hop-count alone.",
              "DISTRIBUTED_TREE_RSSI": "Combine link-RSSI with a node cost based on number of children."
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "The metric algorithm type"
          },
          "mobility": {
            "description": "Configures enabled fast roaming on a mesh point",
            "oneOf": [
              {
                "format": "int32",
                "maximum": 50,
                "minimum": 10,
                "type": "integer"
              },
              {
                "enum": [
                  "HIGH",
                  "LOW"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "HIGH": "Enables mesh roaming function and RSSI threshold less than or equal to 22",
                  "LOW": "Enables mesh roaming function and RSSI threshold less than or equal to 15."
                },
                "x-typeDescription": "Mesh  mobility value"
              }
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "mobility-beacon-miss": {
            "default": "16",
            "description": "Number of consecutive missed Beacon frames after which mesh roaming it triggered on the AP. Applies to mesh points with mobility enabled.\nRange: 10-25   Default: 16",
            "format": "int32",
            "maximum": 25,
            "minimum": 10,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "name": {
            "description": "The name of the Mesh profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "optimize-scan-interval": {
            "default": "24",
            "description": "Time interval between scans to identify better mesh neighbor APs for topology optimization. The value is defined in hours. Range: 1-100 hours  Default: 24",
            "format": "int32",
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "prefer-uplink-radio": {
            "default": "NONE",
            "description": "The preferred 5 GHz radio for mesh links. Mesh link neighbors identified in this radio band will be prioritized over other neighbors identified in the other radio band. This parameter will only take effect when dual 5 GHz or split 5 GHz radio is enabled on the AP and mesh-split5g-radio-band is set to full.   Range: none, 5g-lower, 5g-upper    Default: none",
            "enum": [
              "NONE",
              "UPLINK_5G_LOWER",
              "UPLINK_5G_UPPER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "NONE": "Default value",
              "UPLINK_5G_LOWER": "5GHz Lower band",
              "UPLINK_5G_UPPER": "5GHz Upper band"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Uplink radio type"
          },
          "private-vlan": {
            "default": "0",
            "description": "Mesh private VLAN ID for control traffic between a remote mesh portal and mesh node. Range: 0-4094  Default: 0",
            "format": "int64",
            "maximum": 4094,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "recovery": {
            "description": "A function to allow mesh point connection using a backup general configs when configured profile can not establish mesh link",
            "format": "const",
            "maxLength": 64,
            "minLength": 8,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "reselection-mode": {
            "default": "STARTUP_SUBTHRESHOLD",
            "description": "Reselection mode of operation.  Range: never, subthreshold, startup-subthreshold, anytime   Default: startup-subthreshold",
            "enum": [
              "NEVER",
              "SUBTHRESHOLD",
              "STARTUP_SUBTHRESHOLD",
              "ANYTIME"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ANYTIME": "Anytime",
              "NEVER": " Never",
              "STARTUP_SUBTHRESHOLD": "Startup_subthreshold",
              "SUBTHRESHOLD": "Subthreshold"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Reselection mode"
          },
          "role": {
            "description": "Mesh role",
            "enum": [
              "AUTO",
              "PORTAL",
              "POINT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTO": "Mesh Auto",
              "POINT": "Mesh Point",
              "PORTAL": "Mesh Portal"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Mesh role"
          },
          "split5g-band-range": {
            "description": "Configures the 5 GHz radio used for the mesh link. Use this command to configure the 5 GHz radio that should be used as the mesh link. This setting only takes effect when split 5 GHz or dual 5 GHz radio is enabled on the AP.",
            "enum": [
              "FULL",
              "LOWER",
              "UPPER",
              "FIRST"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "FIRST": "Configures radio 0 as the mesh link.",
              "FULL": "Configures both the sub bands of the 5 GHz radio as the mesh link. The radio assignment however depends on factors such as hop count to the mesh portal, availability of neighboring mesh APs, and preferred uplink radio setting of the mesh profile. This is the default setting.",
              "LOWER": "Configures the lower 5 GHz radio as the mesh link.",
              "UPPER": "Configures the upper 5 GHz radio as the mesh link"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Mesh  Split5GHz band range"
          },
          "topology-algorithm": {
            "default": "LOCAL",
            "description": "Mesh  topology algorithm",
            "enum": [
              "LOCAL",
              "CENTRAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CENTRAL": "Mesh central topology algorithm",
              "LOCAL": "Mesh local topology algorithm"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Mesh topology algorithm "
          }
        }
      },
      "ArubaMesh_MeshprofileSchemaGet": {
        "properties": {
          "band": {
            "default": "BAND_TYPE_5GHZ",
            "description": "Configures the radio band used for mesh link. When configured, the mesh link is established in the defined radio band.",
            "enum": [
              "BAND_TYPE_24GHZ",
              "BAND_TYPE_5GHZ",
              "BAND_TYPE_6GHZ",
              "BAND_TYPE_ALL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BAND_TYPE_24GHZ": "Configures mesh links to operate in the 2.4 GHz radio band.",
              "BAND_TYPE_5GHZ": "Configures mesh links to operate in the 5 GHz radio band.",
              "BAND_TYPE_6GHZ": "Configures mesh links to operate in the 6 GHz radio band.",
              "BAND_TYPE_ALL": "Configures mesh links to operate in either the 6 GHz radio band or 5 GHz radio band."
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Mesh band type"
          },
          "cluster": {
            "description": "List of Mesh clusters.",
            "items": {
              "properties": {
                "key": {
                  "description": "Mesh cluster PSK password",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
                },
                "mc-name": {
                  "description": "Mesh cluster name",
                  "format": "const",
                  "maxLength": 32,
                  "minLength": 8,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "opmode": {
                  "description": "Mesh cluster cipher-suite type(AKA opmode)",
                  "enum": [
                    "WPA2_PSK",
                    "WPA3_SAE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "WPA2_PSK": "WPA2 PSK  cipher suite",
                    "WPA3_SAE": "WPA3 SAE  cipher suite"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Mesh cluster cipher suite type"
                },
                "priority": {
                  "default": "1",
                  "description": "Mesh cluster priority",
                  "format": "int32",
                  "maximum": 15,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 15,
            "type": "array",
            "x-key": [
              "mcName"
            ]
          },
          "description": {
            "description": "Mesh profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "eht-enable": {
            "default": "true",
            "description": "Enable extremely-high-throughput (802.11be)  features on Mesh",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "enable": {
            "default": "true",
            "description": "Allow  Mesh on AP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "extended-cluster-key": {
            "description": "The API is only supported on AOS8 with the per-AP setting. It works together with the per-AP mesh cluster. For scenarios, refer to the mesh cluster description.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "extended-cluster-name": {
            "description": "The API is only supported on AOS8 with the per-AP setting. It works in conjunction with the per-AP mesh-cluster-key and supports the following scenarios:\n    1.Set up mesh network among standalone APs\n    2.Set up Point-to-Point mesh network between two APs, no matter standalone or swarm mode\n    3.Set up 16 avaliable mesh clusters (with mesh-cluster list) and as the top priority cluster\nFor regular scenarios, it is still recommended to use the mesh-cluster list.",
            "format": "const",
            "maxLength": 32,
            "minLength": 8,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "heartbeat-threshold": {
            "default": "10",
            "description": "Heartbeat threshold for mesh neighbor APs. The AP will drop connection with the neighboring AP when the missed heartbeat count exceeds the defined threshold.\nRange: 1-255  Default: 10",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "hop-count": {
            "default": "2",
            "description": "Maximum number of hop counts allowed between the AP and the mesh portal. The parent mesh AP will be dynamically selected on the number of number of hop counts allowed.\nRange: 1-32  Default: 2",
            "format": "int32",
            "maximum": 32,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "link-threshold": {
            "default": "12",
            "description": "Threshold RSSI value below which mesh links incur a metric penalty. Range: 10-90  Default: 12",
            "format": "int32",
            "maximum": 90,
            "minimum": 10,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "max-children": {
            "default": "8",
            "description": "Maximum number of mesh children APs that can be connected to the AP.Range: 1-64 Default: 8",
            "format": "int32",
            "maximum": 64,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "max-retries": {
            "default": "4",
            "description": "Maximum number of scans the Instant AP performs on a particular channel to identify neighboring mesh APs before moving on to the next channel.\nRange: 1-15 Default: 4",
            "format": "int32",
            "maximum": 15,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "metric-algorithm": {
            "default": "DISTRIBUTED_TREE_RSSI",
            "description": "Metric algorithm used for path selection to the mesh portal AP.  Range: distributed-tree-rssi, best-link-rssi  Default: distributed-tree-rssi",
            "enum": [
              "BEST_LINK_RSSI",
              "DISTRIBUTED_TREE_RSSI"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BEST_LINK_RSSI": "Combine link-RSSI with a node cost based on hop-count alone.",
              "DISTRIBUTED_TREE_RSSI": "Combine link-RSSI with a node cost based on number of children."
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "The metric algorithm type"
          },
          "mobility": {
            "description": "Configures enabled fast roaming on a mesh point",
            "oneOf": [
              {
                "format": "int32",
                "maximum": 50,
                "minimum": 10,
                "type": "integer"
              },
              {
                "enum": [
                  "HIGH",
                  "LOW"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "HIGH": "Enables mesh roaming function and RSSI threshold less than or equal to 22",
                  "LOW": "Enables mesh roaming function and RSSI threshold less than or equal to 15."
                },
                "x-typeDescription": "Mesh  mobility value"
              }
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "mobility-beacon-miss": {
            "default": "16",
            "description": "Number of consecutive missed Beacon frames after which mesh roaming it triggered on the AP. Applies to mesh points with mobility enabled.\nRange: 10-25   Default: 16",
            "format": "int32",
            "maximum": 25,
            "minimum": 10,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "name": {
            "description": "The name of the Mesh profile.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "optimize-scan-interval": {
            "default": "24",
            "description": "Time interval between scans to identify better mesh neighbor APs for topology optimization. The value is defined in hours. Range: 1-100 hours  Default: 24",
            "format": "int32",
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "prefer-uplink-radio": {
            "default": "NONE",
            "description": "The preferred 5 GHz radio for mesh links. Mesh link neighbors identified in this radio band will be prioritized over other neighbors identified in the other radio band. This parameter will only take effect when dual 5 GHz or split 5 GHz radio is enabled on the AP and mesh-split5g-radio-band is set to full.   Range: none, 5g-lower, 5g-upper    Default: none",
            "enum": [
              "NONE",
              "UPLINK_5G_LOWER",
              "UPLINK_5G_UPPER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "NONE": "Default value",
              "UPLINK_5G_LOWER": "5GHz Lower band",
              "UPLINK_5G_UPPER": "5GHz Upper band"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Uplink radio type"
          },
          "private-vlan": {
            "default": "0",
            "description": "Mesh private VLAN ID for control traffic between a remote mesh portal and mesh node. Range: 0-4094  Default: 0",
            "format": "int64",
            "maximum": 4094,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "recovery": {
            "description": "A function to allow mesh point connection using a backup general configs when configured profile can not establish mesh link",
            "format": "const",
            "maxLength": 64,
            "minLength": 8,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "reselection-mode": {
            "default": "STARTUP_SUBTHRESHOLD",
            "description": "Reselection mode of operation.  Range: never, subthreshold, startup-subthreshold, anytime   Default: startup-subthreshold",
            "enum": [
              "NEVER",
              "SUBTHRESHOLD",
              "STARTUP_SUBTHRESHOLD",
              "ANYTIME"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ANYTIME": "Anytime",
              "NEVER": " Never",
              "STARTUP_SUBTHRESHOLD": "Startup_subthreshold",
              "SUBTHRESHOLD": "Subthreshold"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Reselection mode"
          },
          "role": {
            "description": "Mesh role",
            "enum": [
              "AUTO",
              "PORTAL",
              "POINT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTO": "Mesh Auto",
              "POINT": "Mesh Point",
              "PORTAL": "Mesh Portal"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Mesh role"
          },
          "split5g-band-range": {
            "description": "Configures the 5 GHz radio used for the mesh link. Use this command to configure the 5 GHz radio that should be used as the mesh link. This setting only takes effect when split 5 GHz or dual 5 GHz radio is enabled on the AP.",
            "enum": [
              "FULL",
              "LOWER",
              "UPPER",
              "FIRST"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "FIRST": "Configures radio 0 as the mesh link.",
              "FULL": "Configures both the sub bands of the 5 GHz radio as the mesh link. The radio assignment however depends on factors such as hop count to the mesh portal, availability of neighboring mesh APs, and preferred uplink radio setting of the mesh profile. This is the default setting.",
              "LOWER": "Configures the lower 5 GHz radio as the mesh link.",
              "UPPER": "Configures the upper 5 GHz radio as the mesh link"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Mesh  Split5GHz band range"
          },
          "topology-algorithm": {
            "default": "LOCAL",
            "description": "Mesh  topology algorithm",
            "enum": [
              "LOCAL",
              "CENTRAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CENTRAL": "Mesh central topology algorithm",
              "LOCAL": "Mesh local topology algorithm"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Mesh topology algorithm "
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaMesh_MeshprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaMesh_MeshprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
