{
  "openapi": "3.1.0",
  "info": {
    "title": "Passpoint",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Passpoint"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/passpoint": {
      "get": {
        "description": "Passpoint is a WFA specification based upon the 802.11u protocol that provides wireless clients\nwith a streamlined mechanism to discover and authenticate to suitable networks, and allows\nmobile users the ability to roam between partner networks without additional authentication.",
        "operationId": "readPasspoint",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPasspoint_PasspointSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing Passpoint related settings.",
        "tags": [
          "Passpoint"
        ],
        "x-cliParam": {
          "commandName": "readPasspointCmd",
          "commandUse": "passpoint",
          "parentCommand": "readCmd",
          "pathToPrint": "/passpoint/",
          "summary": "Read operation for passpoint"
        }
      }
    },
    "/network-config/v1alpha1/passpoint/{name}": {
      "get": {
        "description": "List of passpoint profile 802.11u public access service providers.",
        "operationId": "readPasspointProfileByID",
        "parameters": [
          {
            "description": "Passpoint profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPasspoint_PasspointprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing Passpoint profile.",
        "tags": [
          "Passpoint"
        ],
        "x-cliParam": {
          "commandName": "readPasspointProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readPasspointCmd",
          "pathToPrint": "/passpoint/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of passpoint profile 802.11u public access service providers.",
        "operationId": "replacePasspointProfileByID",
        "parameters": [
          {
            "description": "Passpoint profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPasspoint_PasspointprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Passpoint"
        ],
        "x-cliParam": {
          "commandName": "replacePasspointProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replacePasspointCmd",
          "pathToPrint": "/passpoint/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of passpoint profile 802.11u public access service providers.",
        "operationId": "createPasspointProfileByID",
        "parameters": [
          {
            "description": "Passpoint profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPasspoint_PasspointprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create new Passpoint profile.",
        "tags": [
          "Passpoint"
        ],
        "x-cliParam": {
          "commandName": "createPasspointProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createPasspointCmd",
          "pathToPrint": "/passpoint/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of passpoint profile 802.11u public access service providers.",
        "operationId": "deletePasspointProfileByID",
        "parameters": [
          {
            "description": "Passpoint profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete Passpoint profile.",
        "tags": [
          "Passpoint"
        ],
        "x-cliParam": {
          "commandName": "deletePasspointProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deletePasspointCmd",
          "pathToPrint": "/passpoint/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of passpoint profile 802.11u public access service providers.",
        "operationId": "updatePasspointProfileByID",
        "parameters": [
          {
            "description": "Passpoint profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPasspoint_PasspointprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "Passpoint"
        ],
        "x-cliParam": {
          "commandName": "updatePasspointProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updatePasspointCmd",
          "pathToPrint": "/passpoint/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaPasspoint_PasspointSchemaGET": {
        "description": "Passpoint is a WFA specification based upon the 802.11u protocol that provides wireless clients\nwith a streamlined mechanism to discover and authenticate to suitable networks, and allows\nmobile users the ability to roam between partner networks without additional authentication.",
        "properties": {
          "profile": {
            "description": "List of passpoint profile 802.11u public access service providers.",
            "items": {
              "properties": {
                "access-network-type": {
                  "default": "PRIVATE",
                  "description": "Specifies the 802.11u network type.",
                  "enum": [
                    "PRIVATE",
                    "PRIVATE_WITH_GUEST",
                    "CHARGEABLE_PUBLIC",
                    "FREE_PUBLIC",
                    "PERSONAL_DEVICE",
                    "EMERGENCY_SERVICES",
                    "TEST",
                    "WILDCARD"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CHARGEABLE_PUBLIC": "passpoint access-nw-type type is Chargeable-public",
                    "EMERGENCY_SERVICES": "passpoint access-nw-type type is Emergency-services",
                    "FREE_PUBLIC": "passpoint access-nw-type type is Free-public",
                    "PERSONAL_DEVICE": "passpoint access-nw-type type is Personal-device",
                    "PRIVATE": "passpoint access-nw-type type is Private",
                    "PRIVATE_WITH_GUEST": "passpoint access-nw-type type is Private-with-guest",
                    "TEST": "passpoint access-nw-type type is Test",
                    "WILDCARD": "passpoint access-nw-type type is Wildcard"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "The enum define of passpoint access_nw_type."
                },
                "additional-access-steps": {
                  "default": "false",
                  "description": "Additional Steps required for Access.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "addtl-roam-cons-ois": {
                  "description": "Additional roaming consortium organization identifiers.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "anqp-domain-id": {
                  "description": "Number representing the ANQP Domain Id.  Zero means no domain.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "anqp-domain-name": {
                  "description": "List of domain names to be sent in an ANQP information element in a GAS query response.",
                  "items": {
                    "properties": {
                      "value": {
                        "description": "Value of the domain name.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string"
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "value"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "anqp-ip-addr-avail": {
                  "description": "List of available IP address types to be sent in an ANQP information element in a GAS query response.",
                  "items": {
                    "properties": {
                      "ip-addr-avail-profile-name": {
                        "description": "Name of the IP address availability information profile.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "ipv4": {
                        "default": "PUBLIC",
                        "description": "Indicates the availability of an IPv4 network.",
                        "enum": [
                          "NOT_AVAILABLE",
                          "PUBLIC",
                          "PORT_RESTRICTED",
                          "SINGLE_NATED_PRIVATE",
                          "DOUBLE_NATED_PRIVATE",
                          "PORT_RESTRICTED_SINGLE_NATED_PRIVATE",
                          "PORT_RESTRICTED_DOUBLE_NATED_PRIVATE",
                          "UNKNOWN_IPV4_AVAIL"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "DOUBLE_NATED_PRIVATE": "Double-nated-private",
                          "NOT_AVAILABLE": "Not-available",
                          "PORT_RESTRICTED": "Port-restricted",
                          "PORT_RESTRICTED_DOUBLE_NATED_PRIVATE": "Port-restricted-double-nated-private",
                          "PORT_RESTRICTED_SINGLE_NATED_PRIVATE": "Port-restricted-single-nated-private",
                          "PUBLIC": "Public",
                          "SINGLE_NATED_PRIVATE": "Single-nated-private",
                          "UNKNOWN_IPV4_AVAIL": "Unknown"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "The enum define of hotspot IPv4 available."
                      },
                      "ipv6": {
                        "default": "NOT_AVAILABLE",
                        "description": "Indicates the availability of an IPv6 network.",
                        "enum": [
                          "NOT_AVAILABLE",
                          "AVAILABLE",
                          "UNKNOWN_IPV6_AVAIL"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "AVAILABLE": "Available",
                          "NOT_AVAILABLE": "Not-available",
                          "UNKNOWN_IPV6_AVAIL": "Unknown"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "The enum define of hotspot IPv6 available."
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "ipAddrAvailProfileName"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "anqp-nwk-auth-profile": {
                  "description": "List of ANQP Network Authentication profiles to define authentication type\nbeing used by the hotspot network.",
                  "items": {
                    "properties": {
                      "enable": {
                        "default": "true",
                        "description": "Enable this profile",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "na-type": {
                        "default": "HTTP_REDIRECT",
                        "description": "Network authentication type being used by the hotspot network.",
                        "enum": [
                          "ACCEPT_TERM_AND_COND",
                          "ONLINE_ENROLLMENT",
                          "HTTP_REDIRECT",
                          "DNS_REDIRECT"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "ACCEPT_TERM_AND_COND": "Accept-term-and-cond",
                          "DNS_REDIRECT": "Dns-redirect",
                          "HTTP_REDIRECT": "Http-redirect",
                          "ONLINE_ENROLLMENT": "Online-enrollment"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "The enum define of hotspot Network-auth-type."
                      },
                      "nwk-auth-profile-name": {
                        "description": "Profile name.",
                        "format": "const",
                        "maxLength": 9999,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "url": {
                        "description": "URL provided for DNS Redirection/Acceptance of Terms.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      }
                    }
                  },
                  "maxItems": 6,
                  "type": "array",
                  "x-key": [
                    "nwkAuthProfileName"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "anqp-venue-info": {
                  "description": "List of venue information be sent in an ANQP information element in a GAS query response.",
                  "items": {
                    "properties": {
                      "lang-code": {
                        "description": "An ISO 639 language code that identifies the language used in the Venue Name field.",
                        "format": "const",
                        "maxLength": 3,
                        "minLength": 0,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "url": {
                        "description": "Venue URL where customer may go to get additional info related to the venue.",
                        "format": "const",
                        "maxLength": 9999,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "venue-group": {
                        "default": "BUSINESS",
                        "description": "Network venue group.",
                        "enum": [
                          "UNSPECIFIED",
                          "ASSEMBLY",
                          "BUSINESS",
                          "EDUCATIONAL",
                          "FACTORY_AND_INDUSTRIAL",
                          "INSTITUTIONAL",
                          "MERCANTILE",
                          "RESIDENTIAL",
                          "STORAGE",
                          "UTILITY_AND_MISC",
                          "VEHICULAR",
                          "OUTDOOR"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "ASSEMBLY": "venue-group is Assembly",
                          "BUSINESS": "venue-group is Business",
                          "EDUCATIONAL": "venue-group is Educational",
                          "FACTORY_AND_INDUSTRIAL": "venue-group is Factory-and-industrial",
                          "INSTITUTIONAL": "venue-group is Institutional",
                          "MERCANTILE": "venue-group is Mercantile",
                          "OUTDOOR": "venue-group is Outdoor",
                          "RESIDENTIAL": "venue-group is Residential",
                          "STORAGE": "venue-group is Storage",
                          "UNSPECIFIED": "venue-group is Unspecified",
                          "UTILITY_AND_MISC": "venue-group is Utility-and-misc",
                          "VEHICULAR": "venue-group is Vehicular"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "The enum definition of passpoint venue group."
                      },
                      "venue-info-profile-name": {
                        "description": "Value of the venue name.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "venue-name": {
                        "description": "Network Venue Name",
                        "format": "const",
                        "maxLength": 252,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "venue-name-hex": {
                        "description": "Network Venue Name in HEX for non-english.",
                        "format": "pattern",
                        "maxLength": 504,
                        "minLength": 1,
                        "type": "string",
                        "x-patternSources": "venue-name-hex",
                        "x-patterns": "'[0-9a-fA-F]+'",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "venue-type": {
                        "default": "RESEARCH_AND_DEV_FACILITY",
                        "description": "Network venue type.",
                        "enum": [
                          "UNSPECIFIED",
                          "ARENA",
                          "STADIUM",
                          "PASSENGER_TERMINAL",
                          "AMPHITHEATER",
                          "AMUSEMENT_PARK",
                          "PLACE_OF_WORSHIP",
                          "CONVENTION_CENTER",
                          "LIBRARY",
                          "MUSEUM",
                          "RESTAURANT",
                          "THEATER",
                          "BAR",
                          "COFFEE_SHOP",
                          "ZOO_OR_AQUARIUM",
                          "EMERGENCY_CORD_CENTER",
                          "DOCTOR",
                          "BANK",
                          "FIRE_STATION",
                          "POLICE_STATION",
                          "POST_OFFICE",
                          "PROFESSIONAL_OFFICE",
                          "RESEARCH_AND_DEV_FACILITY",
                          "ATTORNEY_OFFICE",
                          "SCHOOL_PRIMARY",
                          "SCHOOL_SECONDARY",
                          "UNIV_OR_COLLEGE",
                          "FACTORY",
                          "HOSPITAL",
                          "LONG_TERM_CARE",
                          "ALC_DRUG_REHAB",
                          "GROUP_HOME",
                          "PRISON_OR_JAIL",
                          "RETAIL_STORE",
                          "GROCERY_MARKET",
                          "AUTO_SERVICE_STATION",
                          "SHOPPING_MALL",
                          "GAS_STATION",
                          "PRIVATE_RESIDENCE",
                          "HOTEL",
                          "DORMITORY",
                          "BOARDING_HOUSE",
                          "AUTOMOBILE_OR_TRUCK",
                          "AIRPLANE",
                          "BUS",
                          "FERRY",
                          "SHIP",
                          "TRAIN",
                          "MOTOR_BIKE",
                          "MUNI_MESH_NETWORK",
                          "CITY_PARK",
                          "REST_AREA",
                          "TRAFFIC_CONTROL",
                          "BUS_STOP",
                          "KIOSK"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "AIRPLANE": "venue-type is Airplane",
                          "ALC_DRUG_REHAB": "venue-type is Alc-drug-rehab",
                          "AMPHITHEATER": "venue-type is Amphitheater",
                          "AMUSEMENT_PARK": "venue-type is Amusement-park",
                          "ARENA": "venue-type is Arena",
                          "ATTORNEY_OFFICE": "venue-type is Attorney-office",
                          "AUTOMOBILE_OR_TRUCK": "venue-type is Automobile-or-truck",
                          "AUTO_SERVICE_STATION": "venue-type is Auto-service-station",
                          "BANK": "venue-type is Bank",
                          "BAR": "venue-type is Bar",
                          "BOARDING_HOUSE": "venue-type is Boarding-house",
                          "BUS": "venue-type is Bus",
                          "BUS_STOP": "venue-type is Bus-stop",
                          "CITY_PARK": "venue-type is City-park",
                          "COFFEE_SHOP": "venue-type is Coffee-shop",
                          "CONVENTION_CENTER": "venue-type is Convention-center",
                          "DOCTOR": "venue-type is Doctor",
                          "DORMITORY": "venue-type is Dormitory",
                          "EMERGENCY_CORD_CENTER": "venue-type is Emergency-cord-center",
                          "FACTORY": "venue-type is Factory",
                          "FERRY": "venue-type is Ferry",
                          "FIRE_STATION": "venue-type is Fire-station",
                          "GAS_STATION": "venue-type is Gas-station",
                          "GROCERY_MARKET": "venue-type is Grocery-market",
                          "GROUP_HOME": "venue-type is Group-home",
                          "HOSPITAL": "venue-type is Hospital",
                          "HOTEL": "venue-type is Hotel",
                          "KIOSK": "venue-type is Kiosk",
                          "LIBRARY": "venue-type is Library",
                          "LONG_TERM_CARE": "venue-type is Long-term-care",
                          "MOTOR_BIKE": "venue-type is Motor-bike",
                          "MUNI_MESH_NETWORK": "venue-type is Muni-mesh-network",
                          "MUSEUM": "venue-type is Museum",
                          "PASSENGER_TERMINAL": "venue-type is Passenger-terminal",
                          "PLACE_OF_WORSHIP": "venue-type is Place-of-worship",
                          "POLICE_STATION": "venue-type is Police-station",
                          "POST_OFFICE": "venue-type is Post-office",
                          "PRISON_OR_JAIL": "venue-type is Prison-or-jail",
                          "PRIVATE_RESIDENCE": "venue-type is Private-residence",
                          "PROFESSIONAL_OFFICE": "venue-type is Professional-office",
                          "RESEARCH_AND_DEV_FACILITY": "venue-type is Research-and-dev-facility",
                          "RESTAURANT": "venue-type is Restaurant",
                          "REST_AREA": "venue-type is Rest-area",
                          "RETAIL_STORE": "venue-type is Retail-store",
                          "SCHOOL_PRIMARY": "venue-type is School-primary",
                          "SCHOOL_SECONDARY": "venue-type is School-secondary",
                          "SHIP": "venue-type is Ship",
                          "SHOPPING_MALL": "venue-type is Shopping-mall",
                          "STADIUM": "venue-type is Stadium",
                          "THEATER": "venue-type is Theater",
                          "TRAFFIC_CONTROL": "venue-type is Traffic-control",
                          "TRAIN": "venue-type is Train",
                          "UNIV_OR_COLLEGE": "venue-type is Univ-or-college",
                          "UNSPECIFIED": "venue-type is Unspecified",
                          "ZOO_OR_AQUARIUM": "venue-type is Zoo-or-aquarium"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "The enum definition of passpoint venue type."
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "venueInfoProfileName"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "comeback-mode": {
                  "default": "false",
                  "description": "By default, ANQP information is obtained from a GAS(Generic advertisement service) Request and Response.\nIf you enable the comebackmode option, advertisement information is obtained\nusing a GAS Request and Response. as well as a Comeback-Request and Comeback-Response.\nThis option is disabled by default.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "description": {
                  "description": "Passpoint profile description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "gas-comeback-delay": {
                  "default": "500",
                  "description": "GAS Comeback Delay in milliseconds.",
                  "format": "int32",
                  "maximum": 6000,
                  "minimum": 100,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "group-frame-block": {
                  "default": "false",
                  "description": "Downstream Group Addressed Frames Forwarding(DGAF).",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "h2qp-conn-cap-profile": {
                  "description": "List of H2QP profiles that advertises hotspot protocol and port capabilities.",
                  "items": {
                    "properties": {
                      "conn-cap-profile-name": {
                        "description": "Profile name.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "enable": {
                        "default": "true",
                        "description": "Enable this profile.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "esp-port": {
                        "default": "false",
                        "description": "Enable ESP port Used by IPSec VPN.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "icmp": {
                        "default": "false",
                        "description": "Indicates that the ICMP port is enabled and available. (port 0)",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "tcp-ftp": {
                        "default": "false",
                        "description": "Include this parameter to enable the FTP port. (port 20)",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "tcp-http": {
                        "default": "false",
                        "description": "Include this parameter to enable the HTTP port. (port 80)",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "tcp-pptp-vpn": {
                        "default": "false",
                        "description": "Include this parameter to enable the PPTP port used by IPsec VPNs. (port 1723)",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "tcp-ssh": {
                        "default": "false",
                        "description": "Include this parameter to enable the SSH port. (port 22)",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "tcp-tls-vpn": {
                        "default": "false",
                        "description": "Include this parameter to enable the TCP TLS port used by VPNs. (port 80)",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "tcp-voip": {
                        "default": "false",
                        "description": "Include this parameter to enable the TCP VoIP port. (port 5060)",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "udp-ike2": {
                        "default": "false",
                        "description": "Enable UDP IKEv2 port 4500 for IPSec VPN.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "udp-ipsec-vpn": {
                        "default": "false",
                        "description": "Enable UDP IKEv2 port 500 for IPSec VPN.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "udp-voip": {
                        "default": "false",
                        "description": "Include this parameter to enable the UDP VoIP port. (port 5060)",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      }
                    }
                  },
                  "maxItems": 4,
                  "type": "array",
                  "x-key": [
                    "connCapProfileName"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "h2qp-oper-class-profile": {
                  "description": "List of Hotspot 2.0 Query Protocol (H2QP) profiles that defines the Operating Class to be sent in the Access network Query Protocol (ANQP) IE.",
                  "items": {
                    "properties": {
                      "enable": {
                        "default": "true",
                        "description": "Enable this profile.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "oper-class-profile-name": {
                        "description": "Profile name.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "operating-class-indication": {
                        "default": "0",
                        "description": "Indicate the operating class for the BSS (1-255).",
                        "format": "int32",
                        "maximum": 255,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      }
                    }
                  },
                  "maxItems": 10,
                  "type": "array",
                  "x-key": [
                    "operClassProfileName"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "h2qp-oper-name": {
                  "description": "List of H2QP operator-friendly name profiles.",
                  "items": {
                    "properties": {
                      "fr-name": {
                        "description": "Operator Friendly English Name (max length:252).",
                        "format": "const",
                        "maxLength": 252,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "fr-name-hex": {
                        "description": "Operator Friendly English Name by hex (max length:504).",
                        "format": "pattern",
                        "maxLength": 504,
                        "minLength": 1,
                        "type": "string",
                        "x-patternSources": "fr-name-hex",
                        "x-patterns": "'[0-9a-fA-F]+'",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "lang-code": {
                        "default": "eng",
                        "description": "Operator Friendly Name Language Code to be selected. Refer to ISO 639.",
                        "format": "const",
                        "maxLength": 3,
                        "minLength": 0,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "oper-friendly-profile-name": {
                        "description": "Name of H2QP operator-friendly name Profile.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "operFriendlyProfileName"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "h2qp-wan-metrics-profile": {
                  "description": "List of H2QP metrics and WAN status profiles.",
                  "items": {
                    "properties": {
                      "at-capacity": {
                        "default": "false",
                        "description": "Enable H2QP WAN metrics WAN link at capacity.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "downlink-load": {
                        "default": "0",
                        "description": "H2QP WAN metrics downlink load(range).",
                        "format": "int32",
                        "maximum": 255,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "downlink-speed": {
                        "default": "0",
                        "description": "H2QP WAN metrics downlink speed in Kbps (range).",
                        "format": "int64",
                        "maximum": 4294967295,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "enable": {
                        "default": "true",
                        "description": "Enable this profile.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "enable-symm-link": {
                        "default": "false",
                        "description": "Enable H2QP WAN metrics symmetric WAN link.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "link-status": {
                        "default": "LINK_UP",
                        "description": "Set H2QP WAN metrics symmetric link status.",
                        "enum": [
                          "LINK_UP",
                          "LINK_DOWN",
                          "LINK_UNDER_TEST"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "LINK_DOWN": "Link-down",
                          "LINK_UNDER_TEST": "Link-under-test",
                          "LINK_UP": "Link-up"
                        },
                        "x-supportedDeviceType": [
                          "Access Point"
                        ],
                        "x-typeDescription": "The enum define of hotspot wan-metrics link-status."
                      },
                      "load-duration": {
                        "default": "0",
                        "description": "H2QP WAN metrics load measurement duration (range).",
                        "format": "int32",
                        "maximum": 65535,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "uplink-load": {
                        "default": "0",
                        "description": "H2QP WAN metrics uplink load (range).",
                        "format": "int32",
                        "maximum": 255,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "uplink-speed": {
                        "default": "0",
                        "description": "H2QP WAN metrics uplink speed in Kbps.",
                        "format": "int64",
                        "maximum": 4294967295,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      },
                      "wan-metrics-profile-name": {
                        "description": "Profile name.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Access Point"
                        ]
                      }
                    }
                  },
                  "maxItems": 6,
                  "type": "array",
                  "x-key": [
                    "wanMetricsProfileName"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "homogeneous-essid": {
                  "description": "This optional parameter devices an AP's homogenous ESS identifier, which is that device's MAC address in colonseparated hexadecimal format.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "mac-address",
                  "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "The mac-address type represents an IEEE 802 MAC address.\nThe canonical representation uses lowercase characters.\n\nIn the value set and its semantics, this type is equivalent\nto the MacAddress textual convention of the SMIv2."
                },
                "identity-profile": {
                  "description": "Associates identity profile with the passpoint profile.",
                  "items": {
                    "description": "Associates identity profile with the passpoint profile.",
                    "format": "const",
                    "maxLength": 64,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/passpoint-id:passpoint-identity/passpoint-id:profile/passpoint-id:name",
                    "x-supportedDeviceType": [
                      "Access Point"
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array"
                },
                "internet": {
                  "default": "false",
                  "description": "Network Internet Access enabled.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "name": {
                  "description": "Passpoint profile name.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "osen": {
                  "default": "false",
                  "description": "Enable OSU Server-only authenticated layer 2 Encryption Network (OSEN).",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "osu-nai": {
                  "description": "OSU NAI for OSEN.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "osu-ssid": {
                  "description": "OSU SSID.",
                  "format": "const",
                  "maxLength": 128,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "p2p-cross-connect": {
                  "default": "false",
                  "description": "P2P Cross Connect.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "p2p-dev-mgmt": {
                  "default": "false",
                  "description": "P2P Device Management.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "pame-bi": {
                  "default": "false",
                  "description": "Pre Association Message Exchange BSSID Independent.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "qos-map-excp": {
                  "description": "Qos Map DSCP Exception fields (upto 21 sets).",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "qos-map-excp",
                  "x-patterns": "'(([0-3][0-9A-Fa-f]|[Ff][Ff])-([0-7]),){0,20}(([0-3][0-9A-Fa-f]|[Ff][Ff])-([0-7]))'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "qos-map-range": {
                  "description": "Qos Map DSCP Ranges (total 8 sets <low>:<high>, <low> cannot be greater than <high>).",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "qos-map-range",
                  "x-patterns": "'(([0-3][0-9A-Fa-f]|[Ff][Ff])-([0-3][0-9A-Fa-f]|[Ff][Ff]),){7}(([0-3][0-9A-Fa-f]|[Ff][Ff])-([0-3][0-9A-Fa-f]|[Ff][Ff])){1}'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "query-response-length-limit": {
                  "default": "4",
                  "description": "GAS Query Response Length Limit(1-6).",
                  "format": "int32",
                  "maximum": 6,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "radius-cui-disable": {
                  "default": "false",
                  "description": "Disable RADUIS Chargeable-User Identity (CUI) attribute defined by RFC 4372. Home\nnetworks can use this attribute to identify a user for the\nroaming transactions that take place outside of that home network.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "radius-loc-data-disable": {
                  "default": "false",
                  "description": "Disable RADIUS Location Data attribute defined by RFC 5580. Enabling this\nparameter allows the RADIUS server to use location data.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "release-number": {
                  "default": "2",
                  "description": "Hotspot 2.0 Release Number.",
                  "format": "int32",
                  "maximum": 2,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "roam-cons": {
                  "description": "Roaming Consortium OI value.",
                  "items": {
                    "properties": {
                      "oi-value": {
                        "description": "Roaming Consortium OI value. Max number of supported to configure is 3.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string"
                      }
                    }
                  },
                  "maxItems": 3,
                  "type": "array",
                  "x-key": [
                    "oiValue"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "venue-group": {
                  "default": "BUSINESS",
                  "description": "Network venue group under hotspot2 profile.",
                  "enum": [
                    "UNSPECIFIED",
                    "ASSEMBLY",
                    "BUSINESS",
                    "EDUCATIONAL",
                    "FACTORY_AND_INDUSTRIAL",
                    "INSTITUTIONAL",
                    "MERCANTILE",
                    "RESIDENTIAL",
                    "STORAGE",
                    "UTILITY_AND_MISC",
                    "VEHICULAR",
                    "OUTDOOR"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ASSEMBLY": "venue-group is Assembly",
                    "BUSINESS": "venue-group is Business",
                    "EDUCATIONAL": "venue-group is Educational",
                    "FACTORY_AND_INDUSTRIAL": "venue-group is Factory-and-industrial",
                    "INSTITUTIONAL": "venue-group is Institutional",
                    "MERCANTILE": "venue-group is Mercantile",
                    "OUTDOOR": "venue-group is Outdoor",
                    "RESIDENTIAL": "venue-group is Residential",
                    "STORAGE": "venue-group is Storage",
                    "UNSPECIFIED": "venue-group is Unspecified",
                    "UTILITY_AND_MISC": "venue-group is Utility-and-misc",
                    "VEHICULAR": "venue-group is Vehicular"
                  },
                  "x-typeDescription": "The enum definition of passpoint venue group."
                },
                "venue-type": {
                  "default": "RESEARCH_AND_DEV_FACILITY",
                  "description": "Network venue type under hotspot2 profile.",
                  "enum": [
                    "UNSPECIFIED",
                    "ARENA",
                    "STADIUM",
                    "PASSENGER_TERMINAL",
                    "AMPHITHEATER",
                    "AMUSEMENT_PARK",
                    "PLACE_OF_WORSHIP",
                    "CONVENTION_CENTER",
                    "LIBRARY",
                    "MUSEUM",
                    "RESTAURANT",
                    "THEATER",
                    "BAR",
                    "COFFEE_SHOP",
                    "ZOO_OR_AQUARIUM",
                    "EMERGENCY_CORD_CENTER",
                    "DOCTOR",
                    "BANK",
                    "FIRE_STATION",
                    "POLICE_STATION",
                    "POST_OFFICE",
                    "PROFESSIONAL_OFFICE",
                    "RESEARCH_AND_DEV_FACILITY",
                    "ATTORNEY_OFFICE",
                    "SCHOOL_PRIMARY",
                    "SCHOOL_SECONDARY",
                    "UNIV_OR_COLLEGE",
                    "FACTORY",
                    "HOSPITAL",
                    "LONG_TERM_CARE",
                    "ALC_DRUG_REHAB",
                    "GROUP_HOME",
                    "PRISON_OR_JAIL",
                    "RETAIL_STORE",
                    "GROCERY_MARKET",
                    "AUTO_SERVICE_STATION",
                    "SHOPPING_MALL",
                    "GAS_STATION",
                    "PRIVATE_RESIDENCE",
                    "HOTEL",
                    "DORMITORY",
                    "BOARDING_HOUSE",
                    "AUTOMOBILE_OR_TRUCK",
                    "AIRPLANE",
                    "BUS",
                    "FERRY",
                    "SHIP",
                    "TRAIN",
                    "MOTOR_BIKE",
                    "MUNI_MESH_NETWORK",
                    "CITY_PARK",
                    "REST_AREA",
                    "TRAFFIC_CONTROL",
                    "BUS_STOP",
                    "KIOSK"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AIRPLANE": "venue-type is Airplane",
                    "ALC_DRUG_REHAB": "venue-type is Alc-drug-rehab",
                    "AMPHITHEATER": "venue-type is Amphitheater",
                    "AMUSEMENT_PARK": "venue-type is Amusement-park",
                    "ARENA": "venue-type is Arena",
                    "ATTORNEY_OFFICE": "venue-type is Attorney-office",
                    "AUTOMOBILE_OR_TRUCK": "venue-type is Automobile-or-truck",
                    "AUTO_SERVICE_STATION": "venue-type is Auto-service-station",
                    "BANK": "venue-type is Bank",
                    "BAR": "venue-type is Bar",
                    "BOARDING_HOUSE": "venue-type is Boarding-house",
                    "BUS": "venue-type is Bus",
                    "BUS_STOP": "venue-type is Bus-stop",
                    "CITY_PARK": "venue-type is City-park",
                    "COFFEE_SHOP": "venue-type is Coffee-shop",
                    "CONVENTION_CENTER": "venue-type is Convention-center",
                    "DOCTOR": "venue-type is Doctor",
                    "DORMITORY": "venue-type is Dormitory",
                    "EMERGENCY_CORD_CENTER": "venue-type is Emergency-cord-center",
                    "FACTORY": "venue-type is Factory",
                    "FERRY": "venue-type is Ferry",
                    "FIRE_STATION": "venue-type is Fire-station",
                    "GAS_STATION": "venue-type is Gas-station",
                    "GROCERY_MARKET": "venue-type is Grocery-market",
                    "GROUP_HOME": "venue-type is Group-home",
                    "HOSPITAL": "venue-type is Hospital",
                    "HOTEL": "venue-type is Hotel",
                    "KIOSK": "venue-type is Kiosk",
                    "LIBRARY": "venue-type is Library",
                    "LONG_TERM_CARE": "venue-type is Long-term-care",
                    "MOTOR_BIKE": "venue-type is Motor-bike",
                    "MUNI_MESH_NETWORK": "venue-type is Muni-mesh-network",
                    "MUSEUM": "venue-type is Museum",
                    "PASSENGER_TERMINAL": "venue-type is Passenger-terminal",
                    "PLACE_OF_WORSHIP": "venue-type is Place-of-worship",
                    "POLICE_STATION": "venue-type is Police-station",
                    "POST_OFFICE": "venue-type is Post-office",
                    "PRISON_OR_JAIL": "venue-type is Prison-or-jail",
                    "PRIVATE_RESIDENCE": "venue-type is Private-residence",
                    "PROFESSIONAL_OFFICE": "venue-type is Professional-office",
                    "RESEARCH_AND_DEV_FACILITY": "venue-type is Research-and-dev-facility",
                    "RESTAURANT": "venue-type is Restaurant",
                    "REST_AREA": "venue-type is Rest-area",
                    "RETAIL_STORE": "venue-type is Retail-store",
                    "SCHOOL_PRIMARY": "venue-type is School-primary",
                    "SCHOOL_SECONDARY": "venue-type is School-secondary",
                    "SHIP": "venue-type is Ship",
                    "SHOPPING_MALL": "venue-type is Shopping-mall",
                    "STADIUM": "venue-type is Stadium",
                    "THEATER": "venue-type is Theater",
                    "TRAFFIC_CONTROL": "venue-type is Traffic-control",
                    "TRAIN": "venue-type is Train",
                    "UNIV_OR_COLLEGE": "venue-type is Univ-or-college",
                    "UNSPECIFIED": "venue-type is Unspecified",
                    "ZOO_OR_AQUARIUM": "venue-type is Zoo-or-aquarium"
                  },
                  "x-typeDescription": "The enum definition of passpoint venue type."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "ArubaPasspoint_PasspointprofileSchema": {
        "properties": {
          "access-network-type": {
            "default": "PRIVATE",
            "description": "Specifies the 802.11u network type.",
            "enum": [
              "PRIVATE",
              "PRIVATE_WITH_GUEST",
              "CHARGEABLE_PUBLIC",
              "FREE_PUBLIC",
              "PERSONAL_DEVICE",
              "EMERGENCY_SERVICES",
              "TEST",
              "WILDCARD"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CHARGEABLE_PUBLIC": "passpoint access-nw-type type is Chargeable-public",
              "EMERGENCY_SERVICES": "passpoint access-nw-type type is Emergency-services",
              "FREE_PUBLIC": "passpoint access-nw-type type is Free-public",
              "PERSONAL_DEVICE": "passpoint access-nw-type type is Personal-device",
              "PRIVATE": "passpoint access-nw-type type is Private",
              "PRIVATE_WITH_GUEST": "passpoint access-nw-type type is Private-with-guest",
              "TEST": "passpoint access-nw-type type is Test",
              "WILDCARD": "passpoint access-nw-type type is Wildcard"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "The enum define of passpoint access_nw_type."
          },
          "additional-access-steps": {
            "default": "false",
            "description": "Additional Steps required for Access.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "addtl-roam-cons-ois": {
            "description": "Additional roaming consortium organization identifiers.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "anqp-domain-id": {
            "description": "Number representing the ANQP Domain Id.  Zero means no domain.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "anqp-domain-name": {
            "description": "List of domain names to be sent in an ANQP information element in a GAS query response.",
            "items": {
              "properties": {
                "value": {
                  "description": "Value of the domain name.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "value"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "anqp-ip-addr-avail": {
            "description": "List of available IP address types to be sent in an ANQP information element in a GAS query response.",
            "items": {
              "properties": {
                "ip-addr-avail-profile-name": {
                  "description": "Name of the IP address availability information profile.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "ipv4": {
                  "default": "PUBLIC",
                  "description": "Indicates the availability of an IPv4 network.",
                  "enum": [
                    "NOT_AVAILABLE",
                    "PUBLIC",
                    "PORT_RESTRICTED",
                    "SINGLE_NATED_PRIVATE",
                    "DOUBLE_NATED_PRIVATE",
                    "PORT_RESTRICTED_SINGLE_NATED_PRIVATE",
                    "PORT_RESTRICTED_DOUBLE_NATED_PRIVATE",
                    "UNKNOWN_IPV4_AVAIL"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "DOUBLE_NATED_PRIVATE": "Double-nated-private",
                    "NOT_AVAILABLE": "Not-available",
                    "PORT_RESTRICTED": "Port-restricted",
                    "PORT_RESTRICTED_DOUBLE_NATED_PRIVATE": "Port-restricted-double-nated-private",
                    "PORT_RESTRICTED_SINGLE_NATED_PRIVATE": "Port-restricted-single-nated-private",
                    "PUBLIC": "Public",
                    "SINGLE_NATED_PRIVATE": "Single-nated-private",
                    "UNKNOWN_IPV4_AVAIL": "Unknown"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "The enum define of hotspot IPv4 available."
                },
                "ipv6": {
                  "default": "NOT_AVAILABLE",
                  "description": "Indicates the availability of an IPv6 network.",
                  "enum": [
                    "NOT_AVAILABLE",
                    "AVAILABLE",
                    "UNKNOWN_IPV6_AVAIL"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AVAILABLE": "Available",
                    "NOT_AVAILABLE": "Not-available",
                    "UNKNOWN_IPV6_AVAIL": "Unknown"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "The enum define of hotspot IPv6 available."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ipAddrAvailProfileName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "anqp-nwk-auth-profile": {
            "description": "List of ANQP Network Authentication profiles to define authentication type\nbeing used by the hotspot network.",
            "items": {
              "properties": {
                "enable": {
                  "default": "true",
                  "description": "Enable this profile",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "na-type": {
                  "default": "HTTP_REDIRECT",
                  "description": "Network authentication type being used by the hotspot network.",
                  "enum": [
                    "ACCEPT_TERM_AND_COND",
                    "ONLINE_ENROLLMENT",
                    "HTTP_REDIRECT",
                    "DNS_REDIRECT"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ACCEPT_TERM_AND_COND": "Accept-term-and-cond",
                    "DNS_REDIRECT": "Dns-redirect",
                    "HTTP_REDIRECT": "Http-redirect",
                    "ONLINE_ENROLLMENT": "Online-enrollment"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "The enum define of hotspot Network-auth-type."
                },
                "nwk-auth-profile-name": {
                  "description": "Profile name.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "url": {
                  "description": "URL provided for DNS Redirection/Acceptance of Terms.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 6,
            "type": "array",
            "x-key": [
              "nwkAuthProfileName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "anqp-venue-info": {
            "description": "List of venue information be sent in an ANQP information element in a GAS query response.",
            "items": {
              "properties": {
                "lang-code": {
                  "description": "An ISO 639 language code that identifies the language used in the Venue Name field.",
                  "format": "const",
                  "maxLength": 3,
                  "minLength": 0,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "url": {
                  "description": "Venue URL where customer may go to get additional info related to the venue.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "venue-group": {
                  "default": "BUSINESS",
                  "description": "Network venue group.",
                  "enum": [
                    "UNSPECIFIED",
                    "ASSEMBLY",
                    "BUSINESS",
                    "EDUCATIONAL",
                    "FACTORY_AND_INDUSTRIAL",
                    "INSTITUTIONAL",
                    "MERCANTILE",
                    "RESIDENTIAL",
                    "STORAGE",
                    "UTILITY_AND_MISC",
                    "VEHICULAR",
                    "OUTDOOR"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "ASSEMBLY": "venue-group is Assembly",
                    "BUSINESS": "venue-group is Business",
                    "EDUCATIONAL": "venue-group is Educational",
                    "FACTORY_AND_INDUSTRIAL": "venue-group is Factory-and-industrial",
                    "INSTITUTIONAL": "venue-group is Institutional",
                    "MERCANTILE": "venue-group is Mercantile",
                    "OUTDOOR": "venue-group is Outdoor",
                    "RESIDENTIAL": "venue-group is Residential",
                    "STORAGE": "venue-group is Storage",
                    "UNSPECIFIED": "venue-group is Unspecified",
                    "UTILITY_AND_MISC": "venue-group is Utility-and-misc",
                    "VEHICULAR": "venue-group is Vehicular"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "The enum definition of passpoint venue group."
                },
                "venue-info-profile-name": {
                  "description": "Value of the venue name.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "venue-name": {
                  "description": "Network Venue Name",
                  "format": "const",
                  "maxLength": 252,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "venue-name-hex": {
                  "description": "Network Venue Name in HEX for non-english.",
                  "format": "pattern",
                  "maxLength": 504,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "venue-name-hex",
                  "x-patterns": "'[0-9a-fA-F]+'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "venue-type": {
                  "default": "RESEARCH_AND_DEV_FACILITY",
                  "description": "Network venue type.",
                  "enum": [
                    "UNSPECIFIED",
                    "ARENA",
                    "STADIUM",
                    "PASSENGER_TERMINAL",
                    "AMPHITHEATER",
                    "AMUSEMENT_PARK",
                    "PLACE_OF_WORSHIP",
                    "CONVENTION_CENTER",
                    "LIBRARY",
                    "MUSEUM",
                    "RESTAURANT",
                    "THEATER",
                    "BAR",
                    "COFFEE_SHOP",
                    "ZOO_OR_AQUARIUM",
                    "EMERGENCY_CORD_CENTER",
                    "DOCTOR",
                    "BANK",
                    "FIRE_STATION",
                    "POLICE_STATION",
                    "POST_OFFICE",
                    "PROFESSIONAL_OFFICE",
                    "RESEARCH_AND_DEV_FACILITY",
                    "ATTORNEY_OFFICE",
                    "SCHOOL_PRIMARY",
                    "SCHOOL_SECONDARY",
                    "UNIV_OR_COLLEGE",
                    "FACTORY",
                    "HOSPITAL",
                    "LONG_TERM_CARE",
                    "ALC_DRUG_REHAB",
                    "GROUP_HOME",
                    "PRISON_OR_JAIL",
                    "RETAIL_STORE",
                    "GROCERY_MARKET",
                    "AUTO_SERVICE_STATION",
                    "SHOPPING_MALL",
                    "GAS_STATION",
                    "PRIVATE_RESIDENCE",
                    "HOTEL",
                    "DORMITORY",
                    "BOARDING_HOUSE",
                    "AUTOMOBILE_OR_TRUCK",
                    "AIRPLANE",
                    "BUS",
                    "FERRY",
                    "SHIP",
                    "TRAIN",
                    "MOTOR_BIKE",
                    "MUNI_MESH_NETWORK",
                    "CITY_PARK",
                    "REST_AREA",
                    "TRAFFIC_CONTROL",
                    "BUS_STOP",
                    "KIOSK"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AIRPLANE": "venue-type is Airplane",
                    "ALC_DRUG_REHAB": "venue-type is Alc-drug-rehab",
                    "AMPHITHEATER": "venue-type is Amphitheater",
                    "AMUSEMENT_PARK": "venue-type is Amusement-park",
                    "ARENA": "venue-type is Arena",
                    "ATTORNEY_OFFICE": "venue-type is Attorney-office",
                    "AUTOMOBILE_OR_TRUCK": "venue-type is Automobile-or-truck",
                    "AUTO_SERVICE_STATION": "venue-type is Auto-service-station",
                    "BANK": "venue-type is Bank",
                    "BAR": "venue-type is Bar",
                    "BOARDING_HOUSE": "venue-type is Boarding-house",
                    "BUS": "venue-type is Bus",
                    "BUS_STOP": "venue-type is Bus-stop",
                    "CITY_PARK": "venue-type is City-park",
                    "COFFEE_SHOP": "venue-type is Coffee-shop",
                    "CONVENTION_CENTER": "venue-type is Convention-center",
                    "DOCTOR": "venue-type is Doctor",
                    "DORMITORY": "venue-type is Dormitory",
                    "EMERGENCY_CORD_CENTER": "venue-type is Emergency-cord-center",
                    "FACTORY": "venue-type is Factory",
                    "FERRY": "venue-type is Ferry",
                    "FIRE_STATION": "venue-type is Fire-station",
                    "GAS_STATION": "venue-type is Gas-station",
                    "GROCERY_MARKET": "venue-type is Grocery-market",
                    "GROUP_HOME": "venue-type is Group-home",
                    "HOSPITAL": "venue-type is Hospital",
                    "HOTEL": "venue-type is Hotel",
                    "KIOSK": "venue-type is Kiosk",
                    "LIBRARY": "venue-type is Library",
                    "LONG_TERM_CARE": "venue-type is Long-term-care",
                    "MOTOR_BIKE": "venue-type is Motor-bike",
                    "MUNI_MESH_NETWORK": "venue-type is Muni-mesh-network",
                    "MUSEUM": "venue-type is Museum",
                    "PASSENGER_TERMINAL": "venue-type is Passenger-terminal",
                    "PLACE_OF_WORSHIP": "venue-type is Place-of-worship",
                    "POLICE_STATION": "venue-type is Police-station",
                    "POST_OFFICE": "venue-type is Post-office",
                    "PRISON_OR_JAIL": "venue-type is Prison-or-jail",
                    "PRIVATE_RESIDENCE": "venue-type is Private-residence",
                    "PROFESSIONAL_OFFICE": "venue-type is Professional-office",
                    "RESEARCH_AND_DEV_FACILITY": "venue-type is Research-and-dev-facility",
                    "RESTAURANT": "venue-type is Restaurant",
                    "REST_AREA": "venue-type is Rest-area",
                    "RETAIL_STORE": "venue-type is Retail-store",
                    "SCHOOL_PRIMARY": "venue-type is School-primary",
                    "SCHOOL_SECONDARY": "venue-type is School-secondary",
                    "SHIP": "venue-type is Ship",
                    "SHOPPING_MALL": "venue-type is Shopping-mall",
                    "STADIUM": "venue-type is Stadium",
                    "THEATER": "venue-type is Theater",
                    "TRAFFIC_CONTROL": "venue-type is Traffic-control",
                    "TRAIN": "venue-type is Train",
                    "UNIV_OR_COLLEGE": "venue-type is Univ-or-college",
                    "UNSPECIFIED": "venue-type is Unspecified",
                    "ZOO_OR_AQUARIUM": "venue-type is Zoo-or-aquarium"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "The enum definition of passpoint venue type."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "venueInfoProfileName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "comeback-mode": {
            "default": "false",
            "description": "By default, ANQP information is obtained from a GAS(Generic advertisement service) Request and Response.\nIf you enable the comebackmode option, advertisement information is obtained\nusing a GAS Request and Response. as well as a Comeback-Request and Comeback-Response.\nThis option is disabled by default.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "description": {
            "description": "Passpoint profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "gas-comeback-delay": {
            "default": "500",
            "description": "GAS Comeback Delay in milliseconds.",
            "format": "int32",
            "maximum": 6000,
            "minimum": 100,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "group-frame-block": {
            "default": "false",
            "description": "Downstream Group Addressed Frames Forwarding(DGAF).",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "h2qp-conn-cap-profile": {
            "description": "List of H2QP profiles that advertises hotspot protocol and port capabilities.",
            "items": {
              "properties": {
                "conn-cap-profile-name": {
                  "description": "Profile name.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "enable": {
                  "default": "true",
                  "description": "Enable this profile.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "esp-port": {
                  "default": "false",
                  "description": "Enable ESP port Used by IPSec VPN.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "icmp": {
                  "default": "false",
                  "description": "Indicates that the ICMP port is enabled and available. (port 0)",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "tcp-ftp": {
                  "default": "false",
                  "description": "Include this parameter to enable the FTP port. (port 20)",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "tcp-http": {
                  "default": "false",
                  "description": "Include this parameter to enable the HTTP port. (port 80)",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "tcp-pptp-vpn": {
                  "default": "false",
                  "description": "Include this parameter to enable the PPTP port used by IPsec VPNs. (port 1723)",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "tcp-ssh": {
                  "default": "false",
                  "description": "Include this parameter to enable the SSH port. (port 22)",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "tcp-tls-vpn": {
                  "default": "false",
                  "description": "Include this parameter to enable the TCP TLS port used by VPNs. (port 80)",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "tcp-voip": {
                  "default": "false",
                  "description": "Include this parameter to enable the TCP VoIP port. (port 5060)",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "udp-ike2": {
                  "default": "false",
                  "description": "Enable UDP IKEv2 port 4500 for IPSec VPN.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "udp-ipsec-vpn": {
                  "default": "false",
                  "description": "Enable UDP IKEv2 port 500 for IPSec VPN.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "udp-voip": {
                  "default": "false",
                  "description": "Include this parameter to enable the UDP VoIP port. (port 5060)",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 4,
            "type": "array",
            "x-key": [
              "connCapProfileName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "h2qp-oper-class-profile": {
            "description": "List of Hotspot 2.0 Query Protocol (H2QP) profiles that defines the Operating Class to be sent in the Access network Query Protocol (ANQP) IE.",
            "items": {
              "properties": {
                "enable": {
                  "default": "true",
                  "description": "Enable this profile.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "oper-class-profile-name": {
                  "description": "Profile name.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "operating-class-indication": {
                  "default": "0",
                  "description": "Indicate the operating class for the BSS (1-255).",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 10,
            "type": "array",
            "x-key": [
              "operClassProfileName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "h2qp-oper-name": {
            "description": "List of H2QP operator-friendly name profiles.",
            "items": {
              "properties": {
                "fr-name": {
                  "description": "Operator Friendly English Name (max length:252).",
                  "format": "const",
                  "maxLength": 252,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "fr-name-hex": {
                  "description": "Operator Friendly English Name by hex (max length:504).",
                  "format": "pattern",
                  "maxLength": 504,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "fr-name-hex",
                  "x-patterns": "'[0-9a-fA-F]+'",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "lang-code": {
                  "default": "eng",
                  "description": "Operator Friendly Name Language Code to be selected. Refer to ISO 639.",
                  "format": "const",
                  "maxLength": 3,
                  "minLength": 0,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "oper-friendly-profile-name": {
                  "description": "Name of H2QP operator-friendly name Profile.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "operFriendlyProfileName"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "h2qp-wan-metrics-profile": {
            "description": "List of H2QP metrics and WAN status profiles.",
            "items": {
[...]
