{
  "openapi": "3.1.0",
  "info": {
    "title": "Radio",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Radio"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/radios": {
      "get": {
        "description": "The wireless access point broadcasts the network over radio frequency (RF) signals which wireless clients connect to.\nRadio configuration involves setting up and optimizing the various parameters of the AP radio to ensure efficient and reliable wireless communication.\nIt includes some important configurations like radio bands, channels, rates and transmit power etc.\nThis feature is only applicable for AP.",
        "operationId": "readRadios",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaRadio_RadiosSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured radios.",
        "tags": [
          "Radio"
        ],
        "x-cliParam": {
          "commandName": "readRadiosCmd",
          "commandUse": "radios",
          "parentCommand": "readCmd",
          "pathToPrint": "/radios/",
          "summary": "Read operation for radios"
        }
      }
    },
    "/network-config/v1alpha1/radios/{name}": {
      "get": {
        "description": "List of radio profiles.",
        "operationId": "readRadiosProfileByID",
        "parameters": [
          {
            "description": "Radio profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaRadio_RadiosprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing radio profile configurations.",
        "tags": [
          "Radio"
        ],
        "x-cliParam": {
          "commandName": "readRadiosProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readRadiosCmd",
          "pathToPrint": "/radios/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of radio profiles.",
        "operationId": "replaceRadiosProfileByID",
        "parameters": [
          {
            "description": "Radio profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaRadio_RadiosprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or update radio profile.",
        "tags": [
          "Radio"
        ],
        "x-cliParam": {
          "commandName": "replaceRadiosProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceRadiosCmd",
          "pathToPrint": "/radios/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of radio profiles.",
        "operationId": "createRadiosProfileByID",
        "parameters": [
          {
            "description": "Radio profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaRadio_RadiosprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new radio profile by unique name.",
        "tags": [
          "Radio"
        ],
        "x-cliParam": {
          "commandName": "createRadiosProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createRadiosCmd",
          "pathToPrint": "/radios/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of radio profiles.",
        "operationId": "deleteRadiosProfileByID",
        "parameters": [
          {
            "description": "Radio profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the radio profile.",
        "tags": [
          "Radio"
        ],
        "x-cliParam": {
          "commandName": "deleteRadiosProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteRadiosCmd",
          "pathToPrint": "/radios/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of radio profiles.",
        "operationId": "updateRadiosProfileByID",
        "parameters": [
          {
            "description": "Radio profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaRadio_RadiosprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing radio profile.",
        "tags": [
          "Radio"
        ],
        "x-cliParam": {
          "commandName": "updateRadiosProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateRadiosCmd",
          "pathToPrint": "/radios/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaRadio_ApStaticRfConfig": {
        "description": "static RF related configuration.",
        "properties": {
          "additional-rf-connectors-or-loss": {
            "default": "false",
            "description": "Additional rf connectors or loss.",
            "type": "boolean"
          },
          "ant-direction-mode": {
            "default": "ANT_OMNI",
            "description": "Configures AP antenna direction mode to Omni/Directional. This will take effect immediately after configuration. No need to reload AP.\nOnly partial AP support to change the antenna direction mode. Antenna used omni mode is by default.",
            "enum": [
              "ANT_OMNI",
              "ANT_DIRECTIONAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ANT_DIRECTIONAL": "Use directional for antenna direction mode",
              "ANT_OMNI": "Use omni for antenna direction mode"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Antenna direction mode, omni/directional"
          },
          "antenna-type": {
            "description": "Antenna Type.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "device": {
            "description": "Configures static channel, static power, antenna gain/polarization for 2.4GHz/5GHz/6GHz.",
            "items": {
              "properties": {
                "additional-loss": {
                  "default": "0",
                  "description": "Radio additional rf connectors or Loss.",
                  "format": "const",
                  "type": "string"
                },
                "antenna-gain": {
                  "default": "0",
                  "description": "Radio antenna gain for APs who have external antennas.",
                  "format": "const",
                  "type": "string"
                },
                "antenna-pol": {
                  "default": "0",
                  "description": "Configure the antenna polarization value for the radio. Range: 0 or 1",
                  "format": "int32",
                  "maximum": 1,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "antenna-pol-alias": {
                  "description": "Alias reference for the antenna polarization. Applicable only when antenna-pol is not explicitly configured.\nThe alias resolves to the corresponding polarization value defined in the alias profile.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "channel-for-2dot4GHz": {
                  "default": "ZERO_CHAN_FOR_24GHZ",
                  "description": "Configures the valid channels for the radio. The valid channels for a band are determined by the AP regulatory domain.",
                  "oneOf": [
                    {
                      "enum": [
                        "CHAN_1",
                        "CHAN_2",
                        "CHAN_3",
                        "CHAN_4",
                        "CHAN_5",
                        "CHAN_6",
                        "CHAN_7",
                        "CHAN_8",
                        "CHAN_9",
                        "CHAN_10",
                        "CHAN_11",
                        "CHAN_12",
                        "CHAN_13",
                        "CHAN_14"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_1": "channel 1",
                        "CHAN_10": "channel 10",
                        "CHAN_11": "channel 11",
                        "CHAN_12": "channel 12",
                        "CHAN_13": "channel 13",
                        "CHAN_14": "channel 14",
                        "CHAN_2": "channel 2",
                        "CHAN_3": "channel 3",
                        "CHAN_4": "channel 4",
                        "CHAN_5": "channel 5",
                        "CHAN_6": "channel 6",
                        "CHAN_7": "channel 7",
                        "CHAN_8": "channel 8",
                        "CHAN_9": "channel 9"
                      },
                      "x-typeDescription": "2.4GHz radio channel list"
                    },
                    {
                      "enum": [
                        "CHAN_1P",
                        "CHAN_2P",
                        "CHAN_3P",
                        "CHAN_4P",
                        "CHAN_5P",
                        "CHAN_6P",
                        "CHAN_7P",
                        "CHAN_8P",
                        "CHAN_9P"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_1P": "channel 1+",
                        "CHAN_2P": "channel 2+",
                        "CHAN_3P": "channel 3+",
                        "CHAN_4P": "channel 4+",
                        "CHAN_5P": "channel 5+",
                        "CHAN_6P": "channel 6+",
                        "CHAN_7P": "channel 7+",
                        "CHAN_8P": "channel 8+",
                        "CHAN_9P": "channel 9+"
                      },
                      "x-typeDescription": "2.4GHz radio 40MHz channel list"
                    },
                    {
                      "enum": [
                        "ZERO_CHAN_FOR_24GHZ"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ZERO_CHAN_FOR_24GHZ": "0 is auto"
                      },
                      "x-typeDescription": "Channel 0 for 2.4GHz channel-list"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "channel-for-2dot4GHz-alias": {
                  "description": "Alias reference for the 2.4GHz static channel. Applicable only when channel-for-2dot4GHz is not explicitly configured.\nThe alias resolves to the corresponding channel value defined in the alias profile.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "channel-for-2nd-5GHz": {
                  "default": "ZERO_CHAN_FOR_5GHZ",
                  "description": "Configures the valid channels for the radio. The valid channels for a band are determined by the AP regulatory domain.",
                  "oneOf": [
                    {
                      "enum": [
                        "CHAN_36",
                        "CHAN_40",
                        "CHAN_44",
                        "CHAN_48",
                        "CHAN_52",
                        "CHAN_56",
                        "CHAN_60",
                        "CHAN_64",
                        "CHAN_100",
                        "CHAN_104",
                        "CHAN_108",
                        "CHAN_112",
                        "CHAN_116",
                        "CHAN_120",
                        "CHAN_124",
                        "CHAN_128",
                        "CHAN_132",
                        "CHAN_136",
                        "CHAN_140",
                        "CHAN_144",
                        "CHAN_149",
                        "CHAN_153",
                        "CHAN_157",
                        "CHAN_161",
                        "CHAN_165",
                        "CHAN_169",
                        "CHAN_173",
                        "CHAN_177"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100": "channel 100",
                        "CHAN_104": "channel 104",
                        "CHAN_108": "channel 108",
                        "CHAN_112": "channel 112",
                        "CHAN_116": "channel 116",
                        "CHAN_120": "channel 120",
                        "CHAN_124": "channel 124",
                        "CHAN_128": "channel 128",
                        "CHAN_132": "channel 132",
                        "CHAN_136": "channel 136",
                        "CHAN_140": "channel 140",
                        "CHAN_144": "channel 144",
                        "CHAN_149": "channel 149",
                        "CHAN_153": "channel 153",
                        "CHAN_157": "channel 157",
                        "CHAN_161": "channel 161",
                        "CHAN_165": "channel 165",
                        "CHAN_169": "channel 169",
                        "CHAN_173": "channel 173",
                        "CHAN_177": "channel 177",
                        "CHAN_36": "channel 36",
                        "CHAN_40": "channel 40",
                        "CHAN_44": "channel 44",
                        "CHAN_48": "channel 48",
                        "CHAN_52": "channel 52",
                        "CHAN_56": "channel 56",
                        "CHAN_60": "channel 60",
                        "CHAN_64": "channel 64"
                      },
                      "x-typeDescription": "5GHz radio channel list"
                    },
                    {
                      "enum": [
                        "CHAN_36P",
                        "CHAN_44P",
                        "CHAN_52P",
                        "CHAN_60P",
                        "CHAN_100P",
                        "CHAN_108P",
                        "CHAN_116P",
                        "CHAN_124P",
                        "CHAN_132P",
                        "CHAN_140P",
                        "CHAN_149P",
                        "CHAN_157P",
                        "CHAN_165P",
                        "CHAN_173P"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100P": "channel 100+",
                        "CHAN_108P": "channel 108+",
                        "CHAN_116P": "channel 116+",
                        "CHAN_124P": "channel 124+",
                        "CHAN_132P": "channel 132+",
                        "CHAN_140P": "channel 140+",
                        "CHAN_149P": "channel 149+",
                        "CHAN_157P": "channel 157+",
                        "CHAN_165P": "channel 165+",
                        "CHAN_173P": "channel 173+",
                        "CHAN_36P": "channel 36+",
                        "CHAN_44P": "channel 44+",
                        "CHAN_52P": "channel 52+",
                        "CHAN_60P": "channel 60+"
                      },
                      "x-typeDescription": "5GHz radio 40MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_36E",
                        "CHAN_52E",
                        "CHAN_100E",
                        "CHAN_116E",
                        "CHAN_132E",
                        "CHAN_149E",
                        "CHAN_165E"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100E": "channel 100E",
                        "CHAN_116E": "channel 116E",
                        "CHAN_132E": "channel 132E",
                        "CHAN_149E": "channel 149E",
                        "CHAN_165E": "channel 165E",
                        "CHAN_36E": "channel 36E",
                        "CHAN_52E": "channel 52E"
                      },
                      "x-typeDescription": "5GHz radio 80MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_36S",
                        "CHAN_100S",
                        "CHAN_149S"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100S": "channel 100S",
                        "CHAN_149S": "channel 149S",
                        "CHAN_36S": "channel 36S"
                      },
                      "x-typeDescription": "5GHz radio 160MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_36E_P_100E",
                        "CHAN_36E_P_116E",
                        "CHAN_36E_P_132E",
                        "CHAN_36E_P_149E",
                        "CHAN_36E_P_165E",
                        "CHAN_52E_P_100E",
                        "CHAN_52E_P_116E",
                        "CHAN_52E_P_132E",
                        "CHAN_52E_P_149E",
                        "CHAN_52E_P_165E",
                        "CHAN_100E_P_132E",
                        "CHAN_100E_P_149E",
                        "CHAN_100E_P_165E",
                        "CHAN_116E_P_149E",
                        "CHAN_116E_P_165E",
                        "CHAN_132E_P_165E"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100E_P_132E": "channel 100E+132E",
                        "CHAN_100E_P_149E": "channel 100E+149E",
                        "CHAN_100E_P_165E": "channel 100E+165E",
                        "CHAN_116E_P_149E": "channel 116E+149E",
                        "CHAN_116E_P_165E": "channel 116E+165E",
                        "CHAN_132E_P_165E": "channel 132E+165E",
                        "CHAN_36E_P_100E": "channel 36E+100E",
                        "CHAN_36E_P_116E": "channel 36E+116E",
                        "CHAN_36E_P_132E": "channel 36E+132E",
                        "CHAN_36E_P_149E": "channel 36E+149E",
                        "CHAN_36E_P_165E": "channel 36E+165E",
                        "CHAN_52E_P_100E": "channel 52E+100E",
                        "CHAN_52E_P_116E": "channel 52E+116E",
                        "CHAN_52E_P_132E": "channel 52E+132E",
                        "CHAN_52E_P_149E": "channel 52E+149E",
                        "CHAN_52E_P_165E": "channel 52E+165E"
                      },
                      "x-typeDescription": "5GHz radio 80MHz plus 80MHz channel list"
                    },
                    {
                      "enum": [
                        "ZERO_CHAN_FOR_5GHZ"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ZERO_CHAN_FOR_5GHZ": "0 is auto"
                      },
                      "x-typeDescription": "Channel 0 for 5GHz channel-list"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "channel-for-2nd-5GHz-alias": {
                  "description": "Alias reference for the secondary 5GHz static channel. Applicable only when channel-for-2nd-5GHz is not explicitly configured.\nThe alias resolves to the corresponding channel value defined in the alias profile.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "channel-for-2nd-6GHz": {
                  "default": "ZERO_CHAN_FOR_6GHZ",
                  "description": "Configures the valid channels for the radio. The valid channels for a band are determined by the AP regulatory domain.",
                  "oneOf": [
                    {
                      "enum": [
                        "CHAN_5_6GHZ_20MHz",
                        "CHAN_21_6GHZ_20MHz",
                        "CHAN_37_6GHZ_20MHz",
                        "CHAN_53_6GHZ_20MHz",
                        "CHAN_69_6GHZ_20MHz",
                        "CHAN_85_6GHZ_20MHz",
                        "CHAN_101_6GHZ_20MHz",
                        "CHAN_117_6GHZ_20MHz",
                        "CHAN_133_6GHZ_20MHz",
                        "CHAN_149_6GHZ_20MHz",
                        "CHAN_165_6GHZ_20MHz",
                        "CHAN_181_6GHZ_20MHz",
                        "CHAN_197_6GHZ_20MHz",
                        "CHAN_213_6GHZ_20MHz",
                        "CHAN_229_6GHZ_20MHz"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_20MHz": "6GHz channel 101",
                        "CHAN_117_6GHZ_20MHz": "6GHz channel 117",
                        "CHAN_133_6GHZ_20MHz": "6GHz channel 133",
                        "CHAN_149_6GHZ_20MHz": "6GHz channel 149",
                        "CHAN_165_6GHZ_20MHz": "6GHz channel 165",
                        "CHAN_181_6GHZ_20MHz": "6GHz channel 181",
                        "CHAN_197_6GHZ_20MHz": "6GHz channel 197",
                        "CHAN_213_6GHZ_20MHz": "6GHz channel 213",
                        "CHAN_21_6GHZ_20MHz": "6GHz channel 21",
                        "CHAN_229_6GHZ_20MHz": "6GHz channel 229",
                        "CHAN_37_6GHZ_20MHz": "6GHz channel 37",
                        "CHAN_53_6GHZ_20MHz": "6GHz channel 53",
                        "CHAN_5_6GHZ_20MHz": "6GHz channel 5",
                        "CHAN_69_6GHZ_20MHz": "6GHz channel 69",
                        "CHAN_85_6GHZ_20MHz": "6GHz channel 85"
                      },
                      "x-typeDescription": "6GHz radio psc channel list"
                    },
                    {
                      "enum": [
                        "CHAN_5_6GHZ_40MHz",
                        "CHAN_21_6GHZ_40MHz",
                        "CHAN_37_6GHZ_40MHz",
                        "CHAN_53_6GHZ_40MHz",
                        "CHAN_69_6GHZ_40MHz",
                        "CHAN_85_6GHZ_40MHz",
                        "CHAN_101_6GHZ_40MHz",
                        "CHAN_117_6GHZ_40MHz",
                        "CHAN_133_6GHZ_40MHz",
                        "CHAN_149_6GHZ_40MHz",
                        "CHAN_165_6GHZ_40MHz",
                        "CHAN_181_6GHZ_40MHz",
                        "CHAN_197_6GHZ_40MHz",
                        "CHAN_213_6GHZ_40MHz",
                        "CHAN_229_6GHZ_40MHz"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_40MHz": "6GHz channel 101-",
                        "CHAN_117_6GHZ_40MHz": "6GHz channel 117-",
                        "CHAN_133_6GHZ_40MHz": "6GHz channel 133-",
                        "CHAN_149_6GHZ_40MHz": "6GHz channel 149-",
                        "CHAN_165_6GHZ_40MHz": "6GHz channel 165-",
                        "CHAN_181_6GHZ_40MHz": "6GHz channel 181-",
                        "CHAN_197_6GHZ_40MHz": "6GHz channel 197-",
                        "CHAN_213_6GHZ_40MHz": "6GHz channel 213-",
                        "CHAN_21_6GHZ_40MHz": "6GHz channel 21-",
                        "CHAN_229_6GHZ_40MHz": "6GHz channel 229-",
                        "CHAN_37_6GHZ_40MHz": "6GHz channel 37-",
                        "CHAN_53_6GHZ_40MHz": "6GHz channel 53-",
                        "CHAN_5_6GHZ_40MHz": "6GHz channel 5-",
                        "CHAN_69_6GHZ_40MHz": "6GHz channel 69-",
                        "CHAN_85_6GHZ_40MHz": "6GHz channel 85-"
                      },
                      "x-typeDescription": "6GHz radio 40MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_5_6GHZ_80MHz",
                        "CHAN_21_6GHZ_80MHz",
                        "CHAN_37_6GHZ_80MHz",
                        "CHAN_53_6GHZ_80MHz",
                        "CHAN_69_6GHZ_80MHz",
                        "CHAN_85_6GHZ_80MHz",
                        "CHAN_101_6GHZ_80MHz",
                        "CHAN_117_6GHZ_80MHz",
                        "CHAN_133_6GHZ_80MHz",
                        "CHAN_149_6GHZ_80MHz",
                        "CHAN_165_6GHZ_80MHz",
                        "CHAN_181_6GHZ_80MHz",
                        "CHAN_197_6GHZ_80MHz",
                        "CHAN_213_6GHZ_80MHz"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_80MHz": "6GHz channel 101E",
                        "CHAN_117_6GHZ_80MHz": "6GHz channel 117E",
                        "CHAN_133_6GHZ_80MHz": "6GHz channel 133E",
                        "CHAN_149_6GHZ_80MHz": "6GHz channel 149E",
                        "CHAN_165_6GHZ_80MHz": "6GHz channel 165E",
                        "CHAN_181_6GHZ_80MHz": "6GHz channel 181E",
                        "CHAN_197_6GHZ_80MHz": "6GHz channel 197E",
                        "CHAN_213_6GHZ_80MHz": "6GHz channel 213E",
                        "CHAN_21_6GHZ_80MHz": "6GHz channel 21E",
                        "CHAN_37_6GHZ_80MHz": "6GHz channel 37E",
                        "CHAN_53_6GHZ_80MHz": "6GHz channel 53E",
                        "CHAN_5_6GHZ_80MHz": "6GHz channel 5E",
                        "CHAN_69_6GHZ_80MHz": "6GHz channel 69E",
                        "CHAN_85_6GHZ_80MHz": "6GHz channel 85E"
                      },
                      "x-typeDescription": "6GHz radio 80MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_5_6GHZ_160MHz",
                        "CHAN_37_6GHZ_160MHz",
                        "CHAN_69_6GHZ_160MHz",
                        "CHAN_101_6GHZ_160MHz",
                        "CHAN_133_6GHZ_160MHz",
                        "CHAN_165_6GHZ_160MHz",
                        "CHAN_197_6GHZ_160MHz"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_160MHz": "6GHz channel 101S",
                        "CHAN_133_6GHZ_160MHz": "6GHz channel 133S",
                        "CHAN_165_6GHZ_160MHz": "6GHz channel 165S",
                        "CHAN_197_6GHZ_160MHz": "6GHz channel 197S",
                        "CHAN_37_6GHZ_160MHz": "6GHz channel 37S",
                        "CHAN_5_6GHZ_160MHz": "6GHz channel 5S",
                        "CHAN_69_6GHZ_160MHz": "6GHz channel 69S"
                      },
                      "x-typeDescription": "6GHz radio 160MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_5_6GHZ_320MHz_1",
                        "CHAN_69_6GHZ_320MHz_1",
                        "CHAN_133_6GHZ_320MHz_1"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_133_6GHZ_320MHz_1": "6GHz channel 133T-",
                        "CHAN_5_6GHZ_320MHz_1": "6GHz channel 5T-",
                        "CHAN_69_6GHZ_320MHz_1": "6GHz channel 69T-"
                      },
                      "x-typeDescription": "6GHz radio 320MHz-1 channel list"
                    },
                    {
                      "enum": [
                        "CHAN_37_6GHZ_320MHz_2",
                        "CHAN_101_6GHZ_320MHz_2",
                        "CHAN_165_6GHZ_320MHz_2"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_320MHz_2": "6GHz channel 101T+",
                        "CHAN_165_6GHZ_320MHz_2": "6GHz channel 165T+",
                        "CHAN_37_6GHZ_320MHz_2": "6GHz channel 37T+"
                      },
                      "x-typeDescription": "6GHz radio 320MHz-2 channel list"
                    },
                    {
                      "enum": [
                        "ZERO_CHAN_FOR_6GHZ"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ZERO_CHAN_FOR_6GHZ": "0 is auto"
                      },
                      "x-typeDescription": "Channel 0 for 2.4GHz channel-list"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "channel-for-2nd-6GHz-alias": {
                  "description": "Alias reference for the secondary 6GHz static channel. Applicable only when channel-for-2nd-6GHz is not explicitly configured.\nThe alias resolves to the corresponding channel value defined in the alias profile.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "channel-for-5GHz": {
                  "default": "ZERO_CHAN_FOR_5GHZ",
                  "description": "Configures the valid channels for the radio. The valid channels for a band are determined by the AP regulatory domain.",
                  "oneOf": [
                    {
                      "enum": [
                        "CHAN_36",
                        "CHAN_40",
                        "CHAN_44",
                        "CHAN_48",
                        "CHAN_52",
                        "CHAN_56",
                        "CHAN_60",
                        "CHAN_64",
                        "CHAN_100",
                        "CHAN_104",
                        "CHAN_108",
                        "CHAN_112",
                        "CHAN_116",
                        "CHAN_120",
                        "CHAN_124",
                        "CHAN_128",
                        "CHAN_132",
                        "CHAN_136",
                        "CHAN_140",
                        "CHAN_144",
                        "CHAN_149",
                        "CHAN_153",
                        "CHAN_157",
                        "CHAN_161",
                        "CHAN_165",
                        "CHAN_169",
                        "CHAN_173",
                        "CHAN_177"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100": "channel 100",
                        "CHAN_104": "channel 104",
                        "CHAN_108": "channel 108",
                        "CHAN_112": "channel 112",
                        "CHAN_116": "channel 116",
                        "CHAN_120": "channel 120",
                        "CHAN_124": "channel 124",
                        "CHAN_128": "channel 128",
                        "CHAN_132": "channel 132",
                        "CHAN_136": "channel 136",
                        "CHAN_140": "channel 140",
                        "CHAN_144": "channel 144",
                        "CHAN_149": "channel 149",
                        "CHAN_153": "channel 153",
                        "CHAN_157": "channel 157",
                        "CHAN_161": "channel 161",
                        "CHAN_165": "channel 165",
                        "CHAN_169": "channel 169",
                        "CHAN_173": "channel 173",
                        "CHAN_177": "channel 177",
                        "CHAN_36": "channel 36",
                        "CHAN_40": "channel 40",
                        "CHAN_44": "channel 44",
                        "CHAN_48": "channel 48",
                        "CHAN_52": "channel 52",
                        "CHAN_56": "channel 56",
                        "CHAN_60": "channel 60",
                        "CHAN_64": "channel 64"
                      },
                      "x-typeDescription": "5GHz radio channel list"
                    },
                    {
                      "enum": [
                        "CHAN_36P",
                        "CHAN_44P",
                        "CHAN_52P",
                        "CHAN_60P",
                        "CHAN_100P",
                        "CHAN_108P",
                        "CHAN_116P",
                        "CHAN_124P",
                        "CHAN_132P",
                        "CHAN_140P",
                        "CHAN_149P",
                        "CHAN_157P",
                        "CHAN_165P",
                        "CHAN_173P"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100P": "channel 100+",
                        "CHAN_108P": "channel 108+",
                        "CHAN_116P": "channel 116+",
                        "CHAN_124P": "channel 124+",
                        "CHAN_132P": "channel 132+",
                        "CHAN_140P": "channel 140+",
                        "CHAN_149P": "channel 149+",
                        "CHAN_157P": "channel 157+",
                        "CHAN_165P": "channel 165+",
                        "CHAN_173P": "channel 173+",
                        "CHAN_36P": "channel 36+",
                        "CHAN_44P": "channel 44+",
                        "CHAN_52P": "channel 52+",
                        "CHAN_60P": "channel 60+"
                      },
                      "x-typeDescription": "5GHz radio 40MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_36E",
                        "CHAN_52E",
                        "CHAN_100E",
                        "CHAN_116E",
                        "CHAN_132E",
                        "CHAN_149E",
                        "CHAN_165E"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100E": "channel 100E",
                        "CHAN_116E": "channel 116E",
                        "CHAN_132E": "channel 132E",
                        "CHAN_149E": "channel 149E",
                        "CHAN_165E": "channel 165E",
                        "CHAN_36E": "channel 36E",
                        "CHAN_52E": "channel 52E"
                      },
                      "x-typeDescription": "5GHz radio 80MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_36S",
                        "CHAN_100S",
                        "CHAN_149S"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100S": "channel 100S",
                        "CHAN_149S": "channel 149S",
                        "CHAN_36S": "channel 36S"
                      },
                      "x-typeDescription": "5GHz radio 160MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_36E_P_100E",
                        "CHAN_36E_P_116E",
                        "CHAN_36E_P_132E",
                        "CHAN_36E_P_149E",
                        "CHAN_36E_P_165E",
                        "CHAN_52E_P_100E",
                        "CHAN_52E_P_116E",
                        "CHAN_52E_P_132E",
                        "CHAN_52E_P_149E",
                        "CHAN_52E_P_165E",
                        "CHAN_100E_P_132E",
                        "CHAN_100E_P_149E",
                        "CHAN_100E_P_165E",
                        "CHAN_116E_P_149E",
                        "CHAN_116E_P_165E",
                        "CHAN_132E_P_165E"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100E_P_132E": "channel 100E+132E",
                        "CHAN_100E_P_149E": "channel 100E+149E",
                        "CHAN_100E_P_165E": "channel 100E+165E",
                        "CHAN_116E_P_149E": "channel 116E+149E",
                        "CHAN_116E_P_165E": "channel 116E+165E",
                        "CHAN_132E_P_165E": "channel 132E+165E",
                        "CHAN_36E_P_100E": "channel 36E+100E",
                        "CHAN_36E_P_116E": "channel 36E+116E",
                        "CHAN_36E_P_132E": "channel 36E+132E",
                        "CHAN_36E_P_149E": "channel 36E+149E",
                        "CHAN_36E_P_165E": "channel 36E+165E",
                        "CHAN_52E_P_100E": "channel 52E+100E",
                        "CHAN_52E_P_116E": "channel 52E+116E",
                        "CHAN_52E_P_132E": "channel 52E+132E",
                        "CHAN_52E_P_149E": "channel 52E+149E",
                        "CHAN_52E_P_165E": "channel 52E+165E"
                      },
                      "x-typeDescription": "5GHz radio 80MHz plus 80MHz channel list"
                    },
                    {
                      "enum": [
                        "ZERO_CHAN_FOR_5GHZ"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ZERO_CHAN_FOR_5GHZ": "0 is auto"
                      },
                      "x-typeDescription": "Channel 0 for 5GHz channel-list"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "channel-for-5GHz-alias": {
                  "description": "Alias reference for the 5GHz static channel. Applicable only when channel-for-5GHz is not explicitly configured.\nThe alias resolves to the corresponding channel value defined in the alias profile.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "channel-for-6GHz": {
                  "default": "ZERO_CHAN_FOR_6GHZ",
                  "description": "Configures the valid channels for the radio. The valid channels for a band are determined by the AP regulatory domain.",
                  "oneOf": [
                    {
                      "enum": [
                        "CHAN_5_6GHZ_20MHz",
                        "CHAN_21_6GHZ_20MHz",
                        "CHAN_37_6GHZ_20MHz",
                        "CHAN_53_6GHZ_20MHz",
                        "CHAN_69_6GHZ_20MHz",
                        "CHAN_85_6GHZ_20MHz",
                        "CHAN_101_6GHZ_20MHz",
                        "CHAN_117_6GHZ_20MHz",
                        "CHAN_133_6GHZ_20MHz",
                        "CHAN_149_6GHZ_20MHz",
                        "CHAN_165_6GHZ_20MHz",
                        "CHAN_181_6GHZ_20MHz",
                        "CHAN_197_6GHZ_20MHz",
                        "CHAN_213_6GHZ_20MHz",
                        "CHAN_229_6GHZ_20MHz"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_20MHz": "6GHz channel 101",
                        "CHAN_117_6GHZ_20MHz": "6GHz channel 117",
                        "CHAN_133_6GHZ_20MHz": "6GHz channel 133",
                        "CHAN_149_6GHZ_20MHz": "6GHz channel 149",
                        "CHAN_165_6GHZ_20MHz": "6GHz channel 165",
                        "CHAN_181_6GHZ_20MHz": "6GHz channel 181",
                        "CHAN_197_6GHZ_20MHz": "6GHz channel 197",
                        "CHAN_213_6GHZ_20MHz": "6GHz channel 213",
                        "CHAN_21_6GHZ_20MHz": "6GHz channel 21",
                        "CHAN_229_6GHZ_20MHz": "6GHz channel 229",
                        "CHAN_37_6GHZ_20MHz": "6GHz channel 37",
                        "CHAN_53_6GHZ_20MHz": "6GHz channel 53",
                        "CHAN_5_6GHZ_20MHz": "6GHz channel 5",
                        "CHAN_69_6GHZ_20MHz": "6GHz channel 69",
                        "CHAN_85_6GHZ_20MHz": "6GHz channel 85"
                      },
                      "x-typeDescription": "6GHz radio psc channel list"
                    },
                    {
                      "enum": [
                        "CHAN_5_6GHZ_40MHz",
                        "CHAN_21_6GHZ_40MHz",
                        "CHAN_37_6GHZ_40MHz",
                        "CHAN_53_6GHZ_40MHz",
                        "CHAN_69_6GHZ_40MHz",
                        "CHAN_85_6GHZ_40MHz",
                        "CHAN_101_6GHZ_40MHz",
                        "CHAN_117_6GHZ_40MHz",
                        "CHAN_133_6GHZ_40MHz",
                        "CHAN_149_6GHZ_40MHz",
                        "CHAN_165_6GHZ_40MHz",
                        "CHAN_181_6GHZ_40MHz",
                        "CHAN_197_6GHZ_40MHz",
                        "CHAN_213_6GHZ_40MHz",
                        "CHAN_229_6GHZ_40MHz"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_40MHz": "6GHz channel 101-",
                        "CHAN_117_6GHZ_40MHz": "6GHz channel 117-",
                        "CHAN_133_6GHZ_40MHz": "6GHz channel 133-",
                        "CHAN_149_6GHZ_40MHz": "6GHz channel 149-",
                        "CHAN_165_6GHZ_40MHz": "6GHz channel 165-",
                        "CHAN_181_6GHZ_40MHz": "6GHz channel 181-",
                        "CHAN_197_6GHZ_40MHz": "6GHz channel 197-",
                        "CHAN_213_6GHZ_40MHz": "6GHz channel 213-",
                        "CHAN_21_6GHZ_40MHz": "6GHz channel 21-",
                        "CHAN_229_6GHZ_40MHz": "6GHz channel 229-",
                        "CHAN_37_6GHZ_40MHz": "6GHz channel 37-",
                        "CHAN_53_6GHZ_40MHz": "6GHz channel 53-",
                        "CHAN_5_6GHZ_40MHz": "6GHz channel 5-",
                        "CHAN_69_6GHZ_40MHz": "6GHz channel 69-",
                        "CHAN_85_6GHZ_40MHz": "6GHz channel 85-"
                      },
                      "x-typeDescription": "6GHz radio 40MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_5_6GHZ_80MHz",
                        "CHAN_21_6GHZ_80MHz",
                        "CHAN_37_6GHZ_80MHz",
                        "CHAN_53_6GHZ_80MHz",
                        "CHAN_69_6GHZ_80MHz",
                        "CHAN_85_6GHZ_80MHz",
                        "CHAN_101_6GHZ_80MHz",
                        "CHAN_117_6GHZ_80MHz",
                        "CHAN_133_6GHZ_80MHz",
                        "CHAN_149_6GHZ_80MHz",
                        "CHAN_165_6GHZ_80MHz",
                        "CHAN_181_6GHZ_80MHz",
                        "CHAN_197_6GHZ_80MHz",
                        "CHAN_213_6GHZ_80MHz"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_80MHz": "6GHz channel 101E",
                        "CHAN_117_6GHZ_80MHz": "6GHz channel 117E",
                        "CHAN_133_6GHZ_80MHz": "6GHz channel 133E",
                        "CHAN_149_6GHZ_80MHz": "6GHz channel 149E",
                        "CHAN_165_6GHZ_80MHz": "6GHz channel 165E",
                        "CHAN_181_6GHZ_80MHz": "6GHz channel 181E",
                        "CHAN_197_6GHZ_80MHz": "6GHz channel 197E",
                        "CHAN_213_6GHZ_80MHz": "6GHz channel 213E",
                        "CHAN_21_6GHZ_80MHz": "6GHz channel 21E",
                        "CHAN_37_6GHZ_80MHz": "6GHz channel 37E",
                        "CHAN_53_6GHZ_80MHz": "6GHz channel 53E",
                        "CHAN_5_6GHZ_80MHz": "6GHz channel 5E",
                        "CHAN_69_6GHZ_80MHz": "6GHz channel 69E",
                        "CHAN_85_6GHZ_80MHz": "6GHz channel 85E"
                      },
                      "x-typeDescription": "6GHz radio 80MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_5_6GHZ_160MHz",
                        "CHAN_37_6GHZ_160MHz",
                        "CHAN_69_6GHZ_160MHz",
                        "CHAN_101_6GHZ_160MHz",
                        "CHAN_133_6GHZ_160MHz",
                        "CHAN_165_6GHZ_160MHz",
                        "CHAN_197_6GHZ_160MHz"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_160MHz": "6GHz channel 101S",
                        "CHAN_133_6GHZ_160MHz": "6GHz channel 133S",
                        "CHAN_165_6GHZ_160MHz": "6GHz channel 165S",
                        "CHAN_197_6GHZ_160MHz": "6GHz channel 197S",
                        "CHAN_37_6GHZ_160MHz": "6GHz channel 37S",
                        "CHAN_5_6GHZ_160MHz": "6GHz channel 5S",
                        "CHAN_69_6GHZ_160MHz": "6GHz channel 69S"
                      },
                      "x-typeDescription": "6GHz radio 160MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_5_6GHZ_320MHz_1",
                        "CHAN_69_6GHZ_320MHz_1",
                        "CHAN_133_6GHZ_320MHz_1"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_133_6GHZ_320MHz_1": "6GHz channel 133T-",
                        "CHAN_5_6GHZ_320MHz_1": "6GHz channel 5T-",
                        "CHAN_69_6GHZ_320MHz_1": "6GHz channel 69T-"
                      },
                      "x-typeDescription": "6GHz radio 320MHz-1 channel list"
                    },
                    {
                      "enum": [
                        "CHAN_37_6GHZ_320MHz_2",
                        "CHAN_101_6GHZ_320MHz_2",
                        "CHAN_165_6GHZ_320MHz_2"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_320MHz_2": "6GHz channel 101T+",
                        "CHAN_165_6GHZ_320MHz_2": "6GHz channel 165T+",
                        "CHAN_37_6GHZ_320MHz_2": "6GHz channel 37T+"
                      },
                      "x-typeDescription": "6GHz radio 320MHz-2 channel list"
                    },
                    {
                      "enum": [
                        "ZERO_CHAN_FOR_6GHZ"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ZERO_CHAN_FOR_6GHZ": "0 is auto"
                      },
                      "x-typeDescription": "Channel 0 for 2.4GHz channel-list"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "channel-for-6GHz-alias": {
                  "description": "Alias reference for the 6GHz static channel. Applicable only when channel-for-6GHz is not explicitly configured.\nThe alias resolves to the corresponding channel value defined in the alias profile.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "effective-gain": {
                  "default": "0",
                  "description": "Configure external antenna connectors for an AP.\nIf your AP has external antenna connectors, you need to configure the transmit power of the system.\nThe configuration must ensure that the system's EIRP is in compliance with the limit specified\n by the regulatory authority of the country in which the AP is deployed.\nYou can also measure or calculate additional attenuation between the device and antenna before configuring the antenna gain.",
                  "format": "const",
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "effective-gain-alias": {
                  "description": "Alias reference for the effective antenna gain. Applicable only when effective-gain is not explicitly configured.\nThe alias resolves to the corresponding gain value defined in the alias profile.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "power": {
                  "default": "-127",
                  "description": "Configures the specified transmission power values. It also supports 0.1 dBm and negative values.",
                  "format": "const",
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "power-alias": {
                  "description": "Alias reference for the static transmit power. Applicable only when power is not explicitly configured.\nThe alias resolves to the corresponding power value defined in the alias profile.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "radio-type": {
                  "description": "Device radio type: 2.4GHz/5GHz/secondary 5GHz/6GHz.",
                  "enum": [
                    "RADIO_2DOT4G",
                    "RADIO_5G",
                    "RADIO_2ND_5G",
                    "RADIO_6G",
                    "RADIO_2ND_6GHZ"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "RADIO_2DOT4G": "2.4GHz radio",
                    "RADIO_2ND_5G": "secondary 5GHz radio",
                    "RADIO_2ND_6GHZ": "secondary 6GHz radio",
                    "RADIO_5G": "5GHz radio",
                    "RADIO_6G": "6GHz radio"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "different radios"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "radioType"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dynamic-ant": {
            "default": "WIDE",
            "description": "5GHz/6GHz antennas support that dynamically select between two antenna mode, wide(90deg x 30deg) and narrow(30deg x 30deg).",
            "enum": [
              "WIDE",
              "NARROW"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "NARROW": "Use narrow mode for antenna",
              "WIDE": "Use wide mode for antenna"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Dynamic antenna mode, wide/narrow"
          },
          "enable-external-antennas": {
            "default": "false",
            "description": "Enable external antennas.",
            "type": "boolean"
          },
          "iot-antenna-gain": {
            "default": "0",
            "description": "Configures an antenna gain value for APs with external antennas. Range: -63.9 to 63.9.",
            "format": "const",
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "radio-modes": {
            "description": "For AP models with customizable radio band type, configures band type (None, auto, 24GHz, 5GHz, 5GHz_8x8, 5GHz_4x4, 6GHz) for each radio.",
            "items": {
              "properties": {
                "ap-model": {
                  "description": "AP series/model configuration.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "radio-1st": {
                  "default": "BAND_24GHZ",
                  "description": "First radio band type configuration.",
                  "enum": [
                    "BAND_NONE",
                    "BAND_AUTOMATIC",
                    "BAND_24GHZ",
                    "BAND_5GHZ",
                    "BAND_5GHZ_8X8",
                    "BAND_5GHZ_4X4",
                    "BAND_6GHZ",
                    "BAND_5GHZ_4X4_SINGLE",
                    "BAND_6GHZ_4X4_SINGLE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BAND_24GHZ": "2.4GHz",
                    "BAND_5GHZ": "5GHz",
                    "BAND_5GHZ_4X4": "5GHz 4x4 (Split)",
                    "BAND_5GHZ_4X4_SINGLE": "5GHz 4x4 single radio",
                    "BAND_5GHZ_8X8": "5GHz 8x8",
                    "BAND_6GHZ": "6GHz",
                    "BAND_6GHZ_4X4_SINGLE": "6GHz 4x4 single radio",
                    "BAND_AUTOMATIC": "Automatic",
                    "BAND_NONE": "None"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "different radio types for all radios combination"
                },
                "radio-2nd": {
                  "default": "BAND_5GHZ",
                  "description": "Second radio band type configuration.",
                  "enum": [
                    "BAND_NONE",
                    "BAND_AUTOMATIC",
                    "BAND_24GHZ",
                    "BAND_5GHZ",
                    "BAND_5GHZ_8X8",
                    "BAND_5GHZ_4X4",
                    "BAND_6GHZ",
                    "BAND_5GHZ_4X4_SINGLE",
                    "BAND_6GHZ_4X4_SINGLE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BAND_24GHZ": "2.4GHz",
                    "BAND_5GHZ": "5GHz",
                    "BAND_5GHZ_4X4": "5GHz 4x4 (Split)",
                    "BAND_5GHZ_4X4_SINGLE": "5GHz 4x4 single radio",
                    "BAND_5GHZ_8X8": "5GHz 8x8",
                    "BAND_6GHZ": "6GHz",
                    "BAND_6GHZ_4X4_SINGLE": "6GHz 4x4 single radio",
                    "BAND_AUTOMATIC": "Automatic",
                    "BAND_NONE": "None"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "different radio types for all radios combination"
                },
                "radio-3rd": {
                  "default": "BAND_NONE",
                  "description": "Third radio band type configuration.",
                  "enum": [
                    "BAND_NONE",
                    "BAND_AUTOMATIC",
                    "BAND_24GHZ",
                    "BAND_5GHZ",
                    "BAND_5GHZ_8X8",
                    "BAND_5GHZ_4X4",
                    "BAND_6GHZ",
                    "BAND_5GHZ_4X4_SINGLE",
                    "BAND_6GHZ_4X4_SINGLE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BAND_24GHZ": "2.4GHz",
                    "BAND_5GHZ": "5GHz",
                    "BAND_5GHZ_4X4": "5GHz 4x4 (Split)",
                    "BAND_5GHZ_4X4_SINGLE": "5GHz 4x4 single radio",
                    "BAND_5GHZ_8X8": "5GHz 8x8",
                    "BAND_6GHZ": "6GHz",
                    "BAND_6GHZ_4X4_SINGLE": "6GHz 4x4 single radio",
                    "BAND_AUTOMATIC": "Automatic",
                    "BAND_NONE": "None"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "different radio types for all radios combination"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "apModel"
            ],
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "recovery-mode": {
            "default": "AUTO",
            "description": "Select either the legacy recovery mode or the auto mode (fast recovery).",
            "enum": [
              "AUTO",
              "LEGACY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AUTO": "auto mode of fast-recovery ",
              "LEGACY": "legacy mode of fast-recovery"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "fast-recovery mode types"
          },
          "rf-zone": {
            "description": "Configures the RF zone and maps the RF zone to a radio profile.",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "sam-detection": {
            "default": "true",
            "description": "Control AP to enable/disable SAM (Smart Antenna Module) feature. This feature is enabled by default.\nThis requires reboot AP when switch enable/disable SAM. For SAM it provides the below main feature:\nAuto RF cable loss detection, especially for the RF cables that installed between AP RPSMA(N) and N-type connector for outdoor APs,\nWe allowed customers to equip different types or lengths RF cables for different user scenarios,\nand Aruba AP equipment installers can leverage this feature, (no need to do the RF cables cable lose value by themselves,\nthen provide one static cable lose value and the antenna gain value to provision AP, this is a fairly crude measurement process).",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Access Point"
        ]
      },
      "ArubaRadio_ApStaticRfConfigGet": {
        "description": "static RF related configuration.",
        "properties": {
          "additional-rf-connectors-or-loss": {
            "default": "false",
            "description": "Additional rf connectors or loss.",
            "type": "boolean"
          },
          "ant-direction-mode": {
            "default": "ANT_OMNI",
            "description": "Configures AP antenna direction mode to Omni/Directional. This will take effect immediately after configuration. No need to reload AP.\nOnly partial AP support to change the antenna direction mode. Antenna used omni mode is by default.",
            "enum": [
              "ANT_OMNI",
              "ANT_DIRECTIONAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ANT_DIRECTIONAL": "Use directional for antenna direction mode",
              "ANT_OMNI": "Use omni for antenna direction mode"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Antenna direction mode, omni/directional"
          },
          "antenna-type": {
            "description": "Antenna Type.",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "device": {
            "description": "Configures static channel, static power, antenna gain/polarization for 2.4GHz/5GHz/6GHz.",
            "items": {
              "properties": {
                "additional-loss": {
                  "default": "0",
                  "description": "Radio additional rf connectors or Loss.",
                  "format": "const",
                  "type": "string"
                },
                "antenna-gain": {
                  "default": "0",
                  "description": "Radio antenna gain for APs who have external antennas.",
                  "format": "const",
                  "type": "string"
                },
                "antenna-pol": {
                  "default": "0",
                  "description": "Configure the antenna polarization value for the radio. Range: 0 or 1",
                  "format": "int32",
                  "maximum": 1,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "antenna-pol-alias": {
                  "description": "Alias reference for the antenna polarization. Applicable only when antenna-pol is not explicitly configured.\nThe alias resolves to the corresponding polarization value defined in the alias profile.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "channel-for-2dot4GHz": {
                  "default": "ZERO_CHAN_FOR_24GHZ",
                  "description": "Configures the valid channels for the radio. The valid channels for a band are determined by the AP regulatory domain.",
                  "oneOf": [
                    {
                      "enum": [
                        "CHAN_1",
                        "CHAN_2",
                        "CHAN_3",
                        "CHAN_4",
                        "CHAN_5",
                        "CHAN_6",
                        "CHAN_7",
                        "CHAN_8",
                        "CHAN_9",
                        "CHAN_10",
                        "CHAN_11",
                        "CHAN_12",
                        "CHAN_13",
                        "CHAN_14"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_1": "channel 1",
                        "CHAN_10": "channel 10",
                        "CHAN_11": "channel 11",
                        "CHAN_12": "channel 12",
                        "CHAN_13": "channel 13",
                        "CHAN_14": "channel 14",
                        "CHAN_2": "channel 2",
                        "CHAN_3": "channel 3",
                        "CHAN_4": "channel 4",
                        "CHAN_5": "channel 5",
                        "CHAN_6": "channel 6",
                        "CHAN_7": "channel 7",
                        "CHAN_8": "channel 8",
                        "CHAN_9": "channel 9"
                      },
                      "x-typeDescription": "2.4GHz radio channel list"
                    },
                    {
                      "enum": [
                        "CHAN_1P",
                        "CHAN_2P",
                        "CHAN_3P",
                        "CHAN_4P",
                        "CHAN_5P",
                        "CHAN_6P",
                        "CHAN_7P",
                        "CHAN_8P",
                        "CHAN_9P"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_1P": "channel 1+",
                        "CHAN_2P": "channel 2+",
                        "CHAN_3P": "channel 3+",
                        "CHAN_4P": "channel 4+",
                        "CHAN_5P": "channel 5+",
                        "CHAN_6P": "channel 6+",
                        "CHAN_7P": "channel 7+",
                        "CHAN_8P": "channel 8+",
                        "CHAN_9P": "channel 9+"
                      },
                      "x-typeDescription": "2.4GHz radio 40MHz channel list"
                    },
                    {
                      "enum": [
                        "ZERO_CHAN_FOR_24GHZ"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ZERO_CHAN_FOR_24GHZ": "0 is auto"
                      },
                      "x-typeDescription": "Channel 0 for 2.4GHz channel-list"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "channel-for-2dot4GHz-alias": {
                  "description": "Alias reference for the 2.4GHz static channel. Applicable only when channel-for-2dot4GHz is not explicitly configured.\nThe alias resolves to the corresponding channel value defined in the alias profile.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "channel-for-2nd-5GHz": {
                  "default": "ZERO_CHAN_FOR_5GHZ",
                  "description": "Configures the valid channels for the radio. The valid channels for a band are determined by the AP regulatory domain.",
                  "oneOf": [
                    {
                      "enum": [
                        "CHAN_36",
                        "CHAN_40",
                        "CHAN_44",
                        "CHAN_48",
                        "CHAN_52",
                        "CHAN_56",
                        "CHAN_60",
                        "CHAN_64",
                        "CHAN_100",
                        "CHAN_104",
                        "CHAN_108",
                        "CHAN_112",
                        "CHAN_116",
                        "CHAN_120",
                        "CHAN_124",
                        "CHAN_128",
                        "CHAN_132",
                        "CHAN_136",
                        "CHAN_140",
                        "CHAN_144",
                        "CHAN_149",
                        "CHAN_153",
                        "CHAN_157",
                        "CHAN_161",
                        "CHAN_165",
                        "CHAN_169",
                        "CHAN_173",
                        "CHAN_177"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100": "channel 100",
                        "CHAN_104": "channel 104",
                        "CHAN_108": "channel 108",
                        "CHAN_112": "channel 112",
                        "CHAN_116": "channel 116",
                        "CHAN_120": "channel 120",
                        "CHAN_124": "channel 124",
                        "CHAN_128": "channel 128",
                        "CHAN_132": "channel 132",
                        "CHAN_136": "channel 136",
                        "CHAN_140": "channel 140",
                        "CHAN_144": "channel 144",
                        "CHAN_149": "channel 149",
                        "CHAN_153": "channel 153",
                        "CHAN_157": "channel 157",
                        "CHAN_161": "channel 161",
                        "CHAN_165": "channel 165",
                        "CHAN_169": "channel 169",
                        "CHAN_173": "channel 173",
                        "CHAN_177": "channel 177",
                        "CHAN_36": "channel 36",
                        "CHAN_40": "channel 40",
                        "CHAN_44": "channel 44",
                        "CHAN_48": "channel 48",
                        "CHAN_52": "channel 52",
                        "CHAN_56": "channel 56",
                        "CHAN_60": "channel 60",
                        "CHAN_64": "channel 64"
                      },
                      "x-typeDescription": "5GHz radio channel list"
                    },
                    {
                      "enum": [
                        "CHAN_36P",
                        "CHAN_44P",
                        "CHAN_52P",
                        "CHAN_60P",
                        "CHAN_100P",
                        "CHAN_108P",
                        "CHAN_116P",
                        "CHAN_124P",
                        "CHAN_132P",
                        "CHAN_140P",
                        "CHAN_149P",
                        "CHAN_157P",
                        "CHAN_165P",
                        "CHAN_173P"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100P": "channel 100+",
                        "CHAN_108P": "channel 108+",
                        "CHAN_116P": "channel 116+",
                        "CHAN_124P": "channel 124+",
                        "CHAN_132P": "channel 132+",
                        "CHAN_140P": "channel 140+",
                        "CHAN_149P": "channel 149+",
                        "CHAN_157P": "channel 157+",
                        "CHAN_165P": "channel 165+",
                        "CHAN_173P": "channel 173+",
                        "CHAN_36P": "channel 36+",
                        "CHAN_44P": "channel 44+",
                        "CHAN_52P": "channel 52+",
                        "CHAN_60P": "channel 60+"
                      },
                      "x-typeDescription": "5GHz radio 40MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_36E",
                        "CHAN_52E",
                        "CHAN_100E",
                        "CHAN_116E",
                        "CHAN_132E",
                        "CHAN_149E",
                        "CHAN_165E"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100E": "channel 100E",
                        "CHAN_116E": "channel 116E",
                        "CHAN_132E": "channel 132E",
                        "CHAN_149E": "channel 149E",
                        "CHAN_165E": "channel 165E",
                        "CHAN_36E": "channel 36E",
                        "CHAN_52E": "channel 52E"
                      },
                      "x-typeDescription": "5GHz radio 80MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_36S",
                        "CHAN_100S",
                        "CHAN_149S"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100S": "channel 100S",
                        "CHAN_149S": "channel 149S",
                        "CHAN_36S": "channel 36S"
                      },
                      "x-typeDescription": "5GHz radio 160MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_36E_P_100E",
                        "CHAN_36E_P_116E",
                        "CHAN_36E_P_132E",
                        "CHAN_36E_P_149E",
                        "CHAN_36E_P_165E",
                        "CHAN_52E_P_100E",
                        "CHAN_52E_P_116E",
                        "CHAN_52E_P_132E",
                        "CHAN_52E_P_149E",
                        "CHAN_52E_P_165E",
                        "CHAN_100E_P_132E",
                        "CHAN_100E_P_149E",
                        "CHAN_100E_P_165E",
                        "CHAN_116E_P_149E",
                        "CHAN_116E_P_165E",
                        "CHAN_132E_P_165E"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_100E_P_132E": "channel 100E+132E",
                        "CHAN_100E_P_149E": "channel 100E+149E",
                        "CHAN_100E_P_165E": "channel 100E+165E",
                        "CHAN_116E_P_149E": "channel 116E+149E",
                        "CHAN_116E_P_165E": "channel 116E+165E",
                        "CHAN_132E_P_165E": "channel 132E+165E",
                        "CHAN_36E_P_100E": "channel 36E+100E",
                        "CHAN_36E_P_116E": "channel 36E+116E",
                        "CHAN_36E_P_132E": "channel 36E+132E",
                        "CHAN_36E_P_149E": "channel 36E+149E",
                        "CHAN_36E_P_165E": "channel 36E+165E",
                        "CHAN_52E_P_100E": "channel 52E+100E",
                        "CHAN_52E_P_116E": "channel 52E+116E",
                        "CHAN_52E_P_132E": "channel 52E+132E",
                        "CHAN_52E_P_149E": "channel 52E+149E",
                        "CHAN_52E_P_165E": "channel 52E+165E"
                      },
                      "x-typeDescription": "5GHz radio 80MHz plus 80MHz channel list"
                    },
                    {
                      "enum": [
                        "ZERO_CHAN_FOR_5GHZ"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ZERO_CHAN_FOR_5GHZ": "0 is auto"
                      },
                      "x-typeDescription": "Channel 0 for 5GHz channel-list"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "channel-for-2nd-5GHz-alias": {
                  "description": "Alias reference for the secondary 5GHz static channel. Applicable only when channel-for-2nd-5GHz is not explicitly configured.\nThe alias resolves to the corresponding channel value defined in the alias profile.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "channel-for-2nd-6GHz": {
                  "default": "ZERO_CHAN_FOR_6GHZ",
                  "description": "Configures the valid channels for the radio. The valid channels for a band are determined by the AP regulatory domain.",
                  "oneOf": [
                    {
                      "enum": [
                        "CHAN_5_6GHZ_20MHz",
                        "CHAN_21_6GHZ_20MHz",
                        "CHAN_37_6GHZ_20MHz",
                        "CHAN_53_6GHZ_20MHz",
                        "CHAN_69_6GHZ_20MHz",
                        "CHAN_85_6GHZ_20MHz",
                        "CHAN_101_6GHZ_20MHz",
                        "CHAN_117_6GHZ_20MHz",
                        "CHAN_133_6GHZ_20MHz",
                        "CHAN_149_6GHZ_20MHz",
                        "CHAN_165_6GHZ_20MHz",
                        "CHAN_181_6GHZ_20MHz",
                        "CHAN_197_6GHZ_20MHz",
                        "CHAN_213_6GHZ_20MHz",
                        "CHAN_229_6GHZ_20MHz"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_20MHz": "6GHz channel 101",
                        "CHAN_117_6GHZ_20MHz": "6GHz channel 117",
                        "CHAN_133_6GHZ_20MHz": "6GHz channel 133",
                        "CHAN_149_6GHZ_20MHz": "6GHz channel 149",
                        "CHAN_165_6GHZ_20MHz": "6GHz channel 165",
                        "CHAN_181_6GHZ_20MHz": "6GHz channel 181",
                        "CHAN_197_6GHZ_20MHz": "6GHz channel 197",
                        "CHAN_213_6GHZ_20MHz": "6GHz channel 213",
                        "CHAN_21_6GHZ_20MHz": "6GHz channel 21",
                        "CHAN_229_6GHZ_20MHz": "6GHz channel 229",
                        "CHAN_37_6GHZ_20MHz": "6GHz channel 37",
                        "CHAN_53_6GHZ_20MHz": "6GHz channel 53",
                        "CHAN_5_6GHZ_20MHz": "6GHz channel 5",
                        "CHAN_69_6GHZ_20MHz": "6GHz channel 69",
                        "CHAN_85_6GHZ_20MHz": "6GHz channel 85"
                      },
                      "x-typeDescription": "6GHz radio psc channel list"
                    },
                    {
                      "enum": [
                        "CHAN_5_6GHZ_40MHz",
                        "CHAN_21_6GHZ_40MHz",
                        "CHAN_37_6GHZ_40MHz",
                        "CHAN_53_6GHZ_40MHz",
                        "CHAN_69_6GHZ_40MHz",
                        "CHAN_85_6GHZ_40MHz",
                        "CHAN_101_6GHZ_40MHz",
                        "CHAN_117_6GHZ_40MHz",
                        "CHAN_133_6GHZ_40MHz",
                        "CHAN_149_6GHZ_40MHz",
                        "CHAN_165_6GHZ_40MHz",
                        "CHAN_181_6GHZ_40MHz",
                        "CHAN_197_6GHZ_40MHz",
                        "CHAN_213_6GHZ_40MHz",
                        "CHAN_229_6GHZ_40MHz"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_40MHz": "6GHz channel 101-",
                        "CHAN_117_6GHZ_40MHz": "6GHz channel 117-",
                        "CHAN_133_6GHZ_40MHz": "6GHz channel 133-",
                        "CHAN_149_6GHZ_40MHz": "6GHz channel 149-",
                        "CHAN_165_6GHZ_40MHz": "6GHz channel 165-",
                        "CHAN_181_6GHZ_40MHz": "6GHz channel 181-",
                        "CHAN_197_6GHZ_40MHz": "6GHz channel 197-",
                        "CHAN_213_6GHZ_40MHz": "6GHz channel 213-",
                        "CHAN_21_6GHZ_40MHz": "6GHz channel 21-",
                        "CHAN_229_6GHZ_40MHz": "6GHz channel 229-",
                        "CHAN_37_6GHZ_40MHz": "6GHz channel 37-",
                        "CHAN_53_6GHZ_40MHz": "6GHz channel 53-",
                        "CHAN_5_6GHZ_40MHz": "6GHz channel 5-",
                        "CHAN_69_6GHZ_40MHz": "6GHz channel 69-",
                        "CHAN_85_6GHZ_40MHz": "6GHz channel 85-"
                      },
                      "x-typeDescription": "6GHz radio 40MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_5_6GHZ_80MHz",
                        "CHAN_21_6GHZ_80MHz",
                        "CHAN_37_6GHZ_80MHz",
                        "CHAN_53_6GHZ_80MHz",
                        "CHAN_69_6GHZ_80MHz",
                        "CHAN_85_6GHZ_80MHz",
                        "CHAN_101_6GHZ_80MHz",
                        "CHAN_117_6GHZ_80MHz",
                        "CHAN_133_6GHZ_80MHz",
                        "CHAN_149_6GHZ_80MHz",
                        "CHAN_165_6GHZ_80MHz",
                        "CHAN_181_6GHZ_80MHz",
                        "CHAN_197_6GHZ_80MHz",
                        "CHAN_213_6GHZ_80MHz"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_80MHz": "6GHz channel 101E",
                        "CHAN_117_6GHZ_80MHz": "6GHz channel 117E",
                        "CHAN_133_6GHZ_80MHz": "6GHz channel 133E",
                        "CHAN_149_6GHZ_80MHz": "6GHz channel 149E",
                        "CHAN_165_6GHZ_80MHz": "6GHz channel 165E",
                        "CHAN_181_6GHZ_80MHz": "6GHz channel 181E",
                        "CHAN_197_6GHZ_80MHz": "6GHz channel 197E",
                        "CHAN_213_6GHZ_80MHz": "6GHz channel 213E",
                        "CHAN_21_6GHZ_80MHz": "6GHz channel 21E",
                        "CHAN_37_6GHZ_80MHz": "6GHz channel 37E",
                        "CHAN_53_6GHZ_80MHz": "6GHz channel 53E",
                        "CHAN_5_6GHZ_80MHz": "6GHz channel 5E",
                        "CHAN_69_6GHZ_80MHz": "6GHz channel 69E",
                        "CHAN_85_6GHZ_80MHz": "6GHz channel 85E"
                      },
                      "x-typeDescription": "6GHz radio 80MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_5_6GHZ_160MHz",
                        "CHAN_37_6GHZ_160MHz",
                        "CHAN_69_6GHZ_160MHz",
                        "CHAN_101_6GHZ_160MHz",
                        "CHAN_133_6GHZ_160MHz",
                        "CHAN_165_6GHZ_160MHz",
                        "CHAN_197_6GHZ_160MHz"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_160MHz": "6GHz channel 101S",
                        "CHAN_133_6GHZ_160MHz": "6GHz channel 133S",
                        "CHAN_165_6GHZ_160MHz": "6GHz channel 165S",
                        "CHAN_197_6GHZ_160MHz": "6GHz channel 197S",
                        "CHAN_37_6GHZ_160MHz": "6GHz channel 37S",
                        "CHAN_5_6GHZ_160MHz": "6GHz channel 5S",
                        "CHAN_69_6GHZ_160MHz": "6GHz channel 69S"
                      },
                      "x-typeDescription": "6GHz radio 160MHz channel list"
                    },
                    {
                      "enum": [
                        "CHAN_5_6GHZ_320MHz_1",
                        "CHAN_69_6GHZ_320MHz_1",
                        "CHAN_133_6GHZ_320MHz_1"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_133_6GHZ_320MHz_1": "6GHz channel 133T-",
                        "CHAN_5_6GHZ_320MHz_1": "6GHz channel 5T-",
                        "CHAN_69_6GHZ_320MHz_1": "6GHz channel 69T-"
                      },
                      "x-typeDescription": "6GHz radio 320MHz-1 channel list"
                    },
                    {
                      "enum": [
                        "CHAN_37_6GHZ_320MHz_2",
                        "CHAN_101_6GHZ_320MHz_2",
                        "CHAN_165_6GHZ_320MHz_2"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "CHAN_101_6GHZ_320MHz_2": "6GHz channel 101T+",
                        "CHAN_165_6GHZ_320MHz_2": "6GHz channel 165T+",
                        "CHAN_37_6GHZ_320MHz_2": "6GHz channel 37T+"
                      },
                      "x-typeDescription": "6GHz radio 320MHz-2 channel list"
                    },
                    {
                      "enum": [
                        "ZERO_CHAN_FOR_6GHZ"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "ZERO_CHAN_FOR_6GHZ": "0 is auto"
                      },
[...]
