{
  "openapi": "3.1.0",
  "info": {
    "title": "Wlan",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Wlan"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/wlan-ssids": {
      "get": {
        "description": "A WLAN SSID (Service Set Identifier) is a unique identifier that names a wireless local area network (WLAN). It is essentially\nthe network name that is broadcast by a wireless access point (AP) to allow devices to identify and connect to the network. The SSID name can be up to 32\ncharacters long and is case-sensitive. The SSID numbers can be up to 16 for per device. This feature is only applicable for AP.",
        "operationId": "readWlanSsids",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaWlan_WlanSsidsSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configuration of WLAN SSID profile",
        "tags": [
          "Wlan"
        ],
        "x-cliParam": {
          "commandName": "readWlanSsidsCmd",
          "commandUse": "wlan-ssids",
          "parentCommand": "readCmd",
          "pathToPrint": "/wlan-ssids/",
          "summary": "Read operation for wlan-ssids"
        }
      }
    },
    "/network-config/v1alpha1/wlan-ssids/{ssid}": {
      "get": {
        "description": "WLAN SSID profile.",
        "operationId": "readWlanSsidsWlanSsidByID",
        "parameters": [
          {
            "description": "WLAN SSID profile name",
            "in": "path",
            "name": "ssid",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaWlan_WlanSsidswlanSsidSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing WLAN SSID profile configuration",
        "tags": [
          "Wlan"
        ],
        "x-cliParam": {
          "commandName": "readWlanSsidsWlanSsidCmd",
          "commandUse": "wlan-ssid",
          "paramKeys": [
            {
              "key": "ssid"
            }
          ],
          "parentCommand": "readWlanSsidsCmd",
          "pathToPrint": "/wlan-ssids/wlan-ssid/%s/",
          "summary": "Read operation for wlan-ssid",
          "totParams": 1
        }
      },
      "put": {
        "description": "WLAN SSID profile.",
        "operationId": "replaceWlanSsidsWlanSsidByID",
        "parameters": [
          {
            "description": "WLAN SSID profile name",
            "in": "path",
            "name": "ssid",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaWlan_WlanSsidswlanSsidSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing WLAN SSID profile configuration",
        "tags": [
          "Wlan"
        ],
        "x-cliParam": {
          "commandName": "replaceWlanSsidsWlanSsidCmd",
          "commandUse": "wlan-ssid",
          "paramKeys": [
            {
              "key": "ssid"
            }
          ],
          "parentCommand": "replaceWlanSsidsCmd",
          "pathToPrint": "/wlan-ssids/wlan-ssid/%s/",
          "summary": "Replace operation for wlan-ssid",
          "totParams": 1
        }
      },
      "post": {
        "description": "WLAN SSID profile.",
        "operationId": "createWlanSsidsWlanSsidByID",
        "parameters": [
          {
            "description": "WLAN SSID profile name",
            "in": "path",
            "name": "ssid",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaWlan_WlanSsidswlanSsidSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new WLAN SSID profile by unique name",
        "tags": [
          "Wlan"
        ],
        "x-cliParam": {
          "commandName": "createWlanSsidsWlanSsidCmd",
          "commandUse": "wlan-ssid",
          "paramKeys": [
            {
              "key": "ssid"
            }
          ],
          "parentCommand": "createWlanSsidsCmd",
          "pathToPrint": "/wlan-ssids/wlan-ssid/%s/",
          "summary": "Create operation for wlan-ssid",
          "totParams": 1
        }
      },
      "delete": {
        "description": "WLAN SSID profile.",
        "operationId": "deleteWlanSsidsWlanSsidByID",
        "parameters": [
          {
            "description": "WLAN SSID profile name",
            "in": "path",
            "name": "ssid",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the WLAN SSID profile",
        "tags": [
          "Wlan"
        ],
        "x-cliParam": {
          "commandName": "deleteWlanSsidsWlanSsidCmd",
          "commandUse": "wlan-ssid",
          "paramKeys": [
            {
              "key": "ssid"
            }
          ],
          "parentCommand": "deleteWlanSsidsCmd",
          "pathToPrint": "/wlan-ssids/wlan-ssid/%s/",
          "summary": "Delete operation for wlan-ssid",
          "totParams": 1
        }
      },
      "patch": {
        "description": "WLAN SSID profile.",
        "operationId": "updateWlanSsidsWlanSsidByID",
        "parameters": [
          {
            "description": "WLAN SSID profile name",
            "in": "path",
            "name": "ssid",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaWlan_WlanSsidswlanSsidSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing WLAN SSID profile configuration",
        "tags": [
          "Wlan"
        ],
        "x-cliParam": {
          "commandName": "updateWlanSsidsWlanSsidCmd",
          "commandUse": "wlan-ssid",
          "paramKeys": [
            {
              "key": "ssid"
            }
          ],
          "parentCommand": "updateWlanSsidsCmd",
          "pathToPrint": "/wlan-ssids/wlan-ssid/%s/",
          "summary": "Update operation for wlan-ssid",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Aruba802dot11_EdcaGroup": {
        "description": "describe WMM related parameters",
        "properties": {
          "acm": {
            "default": "0",
            "description": "Admission Control Mandatory (ACM) parameter.",
            "format": "int32",
            "maximum": 1,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "aifsn": {
            "default": "3",
            "description": "Arbitration Inter-Frame Space Number (AIFSN) parameter.",
            "format": "int32",
            "maximum": 15,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "ecwmax": {
            "default": "6",
            "description": "Exponent of Contention Window Maximum (ECWMAX) parameter.",
            "format": "int32",
            "maximum": 15,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "ecwmin": {
            "default": "4",
            "description": "Exponent of Contention Window Minimum (ECWMIN) parameter.",
            "format": "int32",
            "maximum": 15,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "txop": {
            "default": "0",
            "description": "Transmission Opportunity (TXOP) parameter.",
            "format": "int32",
            "maximum": 2047,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "Aruba802dot11_EdcaGroupGet": {
        "description": "describe WMM related parameters",
        "properties": {
          "acm": {
            "default": "0",
            "description": "Admission Control Mandatory (ACM) parameter.",
            "format": "int32",
            "maximum": 1,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "aifsn": {
            "default": "3",
            "description": "Arbitration Inter-Frame Space Number (AIFSN) parameter.",
            "format": "int32",
            "maximum": 15,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "ecwmax": {
            "default": "6",
            "description": "Exponent of Contention Window Maximum (ECWMAX) parameter.",
            "format": "int32",
            "maximum": 15,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "ecwmin": {
            "default": "4",
            "description": "Exponent of Contention Window Minimum (ECWMIN) parameter.",
            "format": "int32",
            "maximum": 15,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "txop": {
            "default": "0",
            "description": "Transmission Opportunity (TXOP) parameter.",
            "format": "int32",
            "maximum": 2047,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          }
        }
      },
      "Aruba802dot11_Wlan802dot11": {
        "description": "Aruba 802.11 related parameters",
        "properties": {
          "a-legacy-rates": {
            "description": "Configures 802.11a rates related settings.\nThis includes configuring basic rates, beacon rate, transmit rates.",
            "properties": {
              "basic-rates": {
                "description": "Basic rates are the mandatory data rates that all devices must support to connect to the network.\nThese rates are used for essential network operations, such as management frames (beacons, probes) and control frames (ACKs, RTS/CTS).\nAllows you to define a set of modulation rates to use for the clients.\nRange: 6, 9, 12, 18, 24, 36, 48, 54 Mbps.",
                "items": {
                  "description": "Basic rates are the mandatory data rates that all devices must support to connect to the network.\nThese rates are used for essential network operations, such as management frames (beacons, probes) and control frames (ACKs, RTS/CTS).\nAllows you to define a set of modulation rates to use for the clients.\nRange: 6, 9, 12, 18, 24, 36, 48, 54 Mbps.",
                  "enum": [
                    "RATE_6MB",
                    "RATE_9MB",
                    "RATE_12MB",
                    "RATE_18MB",
                    "RATE_24MB",
                    "RATE_36MB",
                    "RATE_48MB",
                    "RATE_54MB"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "RATE_12MB": "12 Mbps OFDM PHY",
                    "RATE_18MB": "18 Mbps OFDM PHY",
                    "RATE_24MB": "24 Mbps OFDM PHY",
                    "RATE_36MB": "36 Mbps OFDM PHY",
                    "RATE_48MB": "48 Mbps OFDM PHY",
                    "RATE_54MB": "54 Mbps OFDM PHY",
                    "RATE_6MB": "6 Mbps OFDM PHY",
                    "RATE_9MB": "9 Mbps OFDM PHY"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Data Rate types."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "beacon-rate": {
                "description": "Beacon rate for 802.11a (use for DAS only). Using this parameter in normal operation may cause connectivity problems.",
                "enum": [
                  "RATE_6MB",
                  "RATE_9MB",
                  "RATE_12MB",
                  "RATE_18MB",
                  "RATE_24MB",
                  "RATE_36MB",
                  "RATE_48MB",
                  "RATE_54MB"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RATE_12MB": "12 Mbps OFDM PHY",
                  "RATE_18MB": "18 Mbps OFDM PHY",
                  "RATE_24MB": "24 Mbps OFDM PHY",
                  "RATE_36MB": "36 Mbps OFDM PHY",
                  "RATE_48MB": "48 Mbps OFDM PHY",
                  "RATE_54MB": "54 Mbps OFDM PHY",
                  "RATE_6MB": "6 Mbps OFDM PHY",
                  "RATE_9MB": "9 Mbps OFDM PHY"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Data Rate types."
              },
              "max-tx-rate": {
                "description": "Maximum transmission rate.",
                "enum": [
                  "RATE_6MB",
                  "RATE_9MB",
                  "RATE_12MB",
                  "RATE_18MB",
                  "RATE_24MB",
                  "RATE_36MB",
                  "RATE_48MB",
                  "RATE_54MB"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RATE_12MB": "12 Mbps OFDM PHY",
                  "RATE_18MB": "18 Mbps OFDM PHY",
                  "RATE_24MB": "24 Mbps OFDM PHY",
                  "RATE_36MB": "36 Mbps OFDM PHY",
                  "RATE_48MB": "48 Mbps OFDM PHY",
                  "RATE_54MB": "54 Mbps OFDM PHY",
                  "RATE_6MB": "6 Mbps OFDM PHY",
                  "RATE_9MB": "9 Mbps OFDM PHY"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Data Rate types."
              },
              "min-tx-rate": {
                "description": "Minimum transmission rate.",
                "enum": [
                  "RATE_6MB",
                  "RATE_9MB",
                  "RATE_12MB",
                  "RATE_18MB",
                  "RATE_24MB",
                  "RATE_36MB",
                  "RATE_48MB",
                  "RATE_54MB"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RATE_12MB": "12 Mbps OFDM PHY",
                  "RATE_18MB": "18 Mbps OFDM PHY",
                  "RATE_24MB": "24 Mbps OFDM PHY",
                  "RATE_36MB": "36 Mbps OFDM PHY",
                  "RATE_48MB": "48 Mbps OFDM PHY",
                  "RATE_54MB": "54 Mbps OFDM PHY",
                  "RATE_6MB": "6 Mbps OFDM PHY",
                  "RATE_9MB": "9 Mbps OFDM PHY"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Data Rate types."
              },
              "tx-rates": {
                "description": "Set of 802.11a rates at which the AP is allowed to send data. The actual transmit rate depends on what the client is able to handle,\nbased on information sent at the time of association and on the current error or loss rate of the client.",
                "items": {
                  "description": "Set of 802.11a rates at which the AP is allowed to send data. The actual transmit rate depends on what the client is able to handle,\nbased on information sent at the time of association and on the current error or loss rate of the client.",
                  "enum": [
                    "RATE_6MB",
                    "RATE_9MB",
                    "RATE_12MB",
                    "RATE_18MB",
                    "RATE_24MB",
                    "RATE_36MB",
                    "RATE_48MB",
                    "RATE_54MB"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "RATE_12MB": "12 Mbps OFDM PHY",
                    "RATE_18MB": "18 Mbps OFDM PHY",
                    "RATE_24MB": "24 Mbps OFDM PHY",
                    "RATE_36MB": "36 Mbps OFDM PHY",
                    "RATE_48MB": "48 Mbps OFDM PHY",
                    "RATE_54MB": "54 Mbps OFDM PHY",
                    "RATE_6MB": "6 Mbps OFDM PHY",
                    "RATE_9MB": "9 Mbps OFDM PHY"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Data Rate types."
                },
                "maxItems": 2147483647,
                "type": "array"
              }
            },
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "advertise-apname": {
            "default": "false",
            "description": "Enable broadcast of AP Name information in the beacons frames and probe responses.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "advertise-location": {
            "default": "false",
            "description": "Enable broadcast of the AP Location Co-ordinate Information by unicast messages in FTM responder frames\nand by broadcast messages in beacons frames and probe responses. Location Coordinate Information (LCI)\nconfiguration in aruba-lci.yang is needed.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "advertise-location-civic": {
            "default": "false",
            "description": "In IEEE Standard 802.11, enable sending programmed civic information in Access Network Query Protocol (ANQP)\nand neighbor report responses.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "advertise-location-identifier": {
            "description": "Configuration for a public location identifier. The location identifier is from IEEE Standard 802.11,\nit includes an indirect Uniform Resource Identifier (URI) or FQND to the location information for the\nlocation subject.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable broadcasting two kinds (HELD and SUPL) of links to client in Access Network Query Protocol (ANQP)\nelement 267. HELD means Hypertext Transfer Protocol (HTTP) enabled location delivery (HELD) and SUPL means\nSecure User Plane Location.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "http-enabled-location-delivery": {
                "description": "A public identifier, like Uniform Resource Identifier (URI) or Fully Qualified Domain Name (FQDN), will supply AP\nlocation information.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "supl-server": {
                "description": "SUPL means Secure User Plane Location, one Uniform Resource Identifier (URI) or Fully Qualified\nDomain Name (FQDN) should be configured to supply AP location information.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          },
          "advertise-timing": {
            "default": "false",
            "description": "Broadcast time advertisement and time zone IEs in beacon and probe response frames.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "allowed-5ghz-radio": {
            "default": "ALL_5G",
            "description": "5GHz radio to which the SSID should be assigned.",
            "enum": [
              "ALL_5G",
              "FIRST_5G",
              "SECOND_5G"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALL_5G": "first and second 5GHz radio",
              "FIRST_5G": "the first 5GHz radio",
              "SECOND_5G": "the second 5GHz radio"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "to control the 5GHz  upper/lowe band SSID creation."
          },
          "allowed-6ghz-radio": {
            "default": "ALL_6GHZ",
            "description": "Control the creation of SSIDs on the first, second, or all 6GHz radios.",
            "enum": [
              "ALL_6GHZ",
              "FIRST_6GHZ",
              "SECOND_6GHZ"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALL_6GHZ": "Allow a SSID to be up on all 6GHz radios.",
              "FIRST_6GHZ": "Allow a SSID to be up on first 6GHz radio.",
              "SECOND_6GHZ": "Allow a SSID to be up on second 6GHz radio."
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Control the creation of SSIDs on the first, second, or all 6GHz radios."
          },
          "auth-failure-code": {
            "default": "DYNAMIC",
            "description": "When FT auth failure, AP send the corresponding reason code to client.",
            "enum": [
              "WLAN_STATUS_FAILED_INVALID_PMKID",
              "WLAN_STATUS_R0KH_UNREACHABLE",
              "DYNAMIC"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DYNAMIC": "FT auth failure dafault status code. If the RSNIE in the Authentication Request frame contains an invalid PMKR0Name and the AP has determined\nthat it is an invalid PMKR0Name, the AP shall reject the Authentication Request with status code 53 (i.e., Invalid PMKID). If the requested\nR0KH is not reachable, the AP shall respond to the Authentication Request with status code 28 (i.e., R0KH unreachable).",
              "WLAN_STATUS_FAILED_INVALID_PMKID": "FT auth failure status code. AP shall reject the Authentication Request with status code 53 (i.e., Invalid PMKID) both ROKH UNREACHABLE and Invalid PMKID cases.",
              "WLAN_STATUS_R0KH_UNREACHABLE": "FT auth failure status code. AP shall respond to the Authentication Request with status code 28 (i.e., R0KH unreachable) for both ROKH UNREACHABLE and Invalid PMKID cases."
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "FT Auth failure status code."
          },
          "auth-req-thresh": {
            "default": "0",
            "description": "SNR threshold below which incoming authentication requests are ignored.\nUse this parameter instead of the local probe request threshold parameter to filter out low SNR authentication request.",
            "format": "int32",
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "cdc": {
            "default": "false",
            "description": "Advertizes the Cellular Data Capability (CDC) attribute of an MBO.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "disable-on-6ghz-mesh": {
            "default": "false",
            "description": "This is used when there are more than 3 6GHz SSIDs are created. It has to be set so that AP can know which SSID needs to be\ndisabled when mesh enabled. This might be no use later.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dot11k": {
            "default": "false",
            "description": "Enables 802.11k roaming on the SSID profile.The 802.11k protocol enables APs and clients to\ndynamically measure the available radio resources.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dot11k-profile-name": {
            "description": "To set the bound dot11k profile name",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-dot11k:dot11k-profiles/ac-dot11k:profile/ac-dot11k:name",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dot11r": {
            "default": "false",
            "description": "Enables 802.11r on the SSID profile.802.11r or fast BSS FT is an IEEE standard that permits continuous\nconnectivity across wireless devices during client mobility. Fast BSS Transition mechanism minimizes\nthe delay in roaming when a client transitions from one BSS to another within the same cluster.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dot11r-key-duration": {
            "default": "3600",
            "description": "IEEE 802.11r R1 key duration.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dot11r-ondemand-keyfetch": {
            "default": "true",
            "description": "Enables 802.11r on demand key fetch from cloud key management service when the AP's local key cache lookup fails for\nclient matching pairwise key to complete fast roaming.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dot11v": {
            "default": "false",
            "description": "Enable/Disable BSS Transition Management features defined by the 802.11v standard.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dtim-period": {
            "default": "1",
            "description": "The DTIM interval determines how often the AP should deliver the buffered broadcast and multicast frames to associated clients in the powersaving mode.\nWhen configured, the client checks for buffered data on the AP at the specified number of beacons.\nYou can also configure a higher value for DTIM interval for power saving.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "essid": {
            "description": "Name that uniquely identifies a wireless network.\nThe ESSID can be up to 32 characters.\nIf the ESSID includes spaces, you must enclose it in quotation marks.\nThis includes configuring use-alias, alias, name.",
            "properties": {
              "alias": {
                "description": "ESSID use aliases",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "name": {
                "description": "ESSID, The AP takes this parameter from its per-AP-ssid specific configuration.",
                "format": "const",
                "maxLength": 32,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "use-alias": {
                "default": "false",
                "description": "ESSID use alias or not",
                "type": "boolean"
              }
            }
          },
          "explicit-ageout-client": {
            "default": "false",
            "description": "Allows APs to send a deauthentication frame to the client and clear client entry.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "extremely-high-throughput": {
            "description": "Extremely High Throughput (EHT) is a feature set introduced in Wi-Fi 7 (802.11be) to enhance wireless performance,\nparticularly in high-density and high-throughput environments.\nThis includes configuring MLO, MCS map, beacon protection, etc.",
            "properties": {
              "beacon-protection": {
                "default": "false",
                "description": "Enable beacon protection on SSID.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "enable": {
                "default": "true",
                "description": "Enable extremely-high-throughput (802.11be) features on SSID.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "mlo": {
                "default": "false",
                "description": "Enable Multi-Link Operation (MLO) features on SSID.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "sae-sub-mode": {
                "default": "LEGACY_MODE",
                "description": "Change Simultaneous Authentication of Equals (SAE) sub mode to legacy/gcm256-only/mix.",
                "enum": [
                  "LEGACY_MODE",
                  "GCM256_ONLY_MODE",
                  "MIX_MODE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "GCM256_ONLY_MODE": "Use gcm256-only mode for sae-sub-mode",
                  "LEGACY_MODE": "Use legacy mode for sae-sub-mode",
                  "MIX_MODE": "Use mix mode for sae-sub-mode"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "To control sae-sub-mode."
              },
              "supported-mcs-map": {
                "description": "Comma-separated list of max supported MCS for spatial streams 1\nthrough 8. Valid values for max mcs are 7, 9, 11, 13 and\n'-' ('-' means spatial stream is not supported, and\nit's not supported at first spatial stream). Max mcs of\na spatial stream cannot be higher than the previous\nstream's. If a MCS is not valid for a particular\ncombination of bandwidth and number of spatial streams,\nit will not be used for Tx and Rx.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "supported-mcs-map",
                "x-patterns": "'(((7|9|11|13|-),){3}((7|9|11|13|-)){1})'",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          },
          "ftm-responder": {
            "default": "false",
            "description": "Enables the AP to send responses to Fine Time Measurement (FTM) queries sent from clients. This feature is supported on 500 Series and 600 Series access points. ",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "g-legacy-rates": {
            "description": "Configures 802.11b/g rates related settings.\nThis includes configuring basic rates, beacon rate, transmit rates.",
            "properties": {
              "basic-rates": {
                "description": "Basic rates are the mandatory data rates that all devices must support to connect to the network.\nThese rates are used for essential network operations, such as management frames (beacons, probes) and control frames (ACKs, RTS/CTS).\nAllows you to define a set of modulation rates to use for the clients.\nRange: 1, 2, 5, 6, 9, 11, 12, 18, 24, 36, 48, 54 Mbps.",
                "items": {
                  "description": "Basic rates are the mandatory data rates that all devices must support to connect to the network.\nThese rates are used for essential network operations, such as management frames (beacons, probes) and control frames (ACKs, RTS/CTS).\nAllows you to define a set of modulation rates to use for the clients.\nRange: 1, 2, 5, 6, 9, 11, 12, 18, 24, 36, 48, 54 Mbps.",
                  "enum": [
                    "RATE_1MB",
                    "RATE_2MB",
                    "RATE_5DOT5MB",
                    "RATE_6MB",
                    "RATE_9MB",
                    "RATE_11MB",
                    "RATE_12MB",
                    "RATE_18MB",
                    "RATE_24MB",
                    "RATE_36MB",
                    "RATE_48MB",
                    "RATE_54MB"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "RATE_11MB": "11 Mbps DSSS PHY",
                    "RATE_12MB": "12 Mbps OFDM PHY",
                    "RATE_18MB": "18 Mbps OFDM PHY",
                    "RATE_1MB": "1 Mbps DSSS PHY",
                    "RATE_24MB": "24 Mbps OFDM PHY",
                    "RATE_2MB": "2 Mbps DSSS PHY",
                    "RATE_36MB": "36 Mbps OFDM PHY",
                    "RATE_48MB": "48 Mbps OFDM PHY",
                    "RATE_54MB": "54 Mbps OFDM PHY",
                    "RATE_5DOT5MB": "5.5 Mbps DSSS PHY",
                    "RATE_6MB": "6 Mbps OFDM PHY",
                    "RATE_9MB": "9 Mbps OFDM PHY"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Data Rate types."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "beacon-rate": {
                "description": "Configures the beacon rate for 802.11g (use for DAS only). Using this parameter in normal operation may cause connectivity problems.",
                "enum": [
                  "RATE_1MB",
                  "RATE_2MB",
                  "RATE_5DOT5MB",
                  "RATE_6MB",
                  "RATE_9MB",
                  "RATE_11MB",
                  "RATE_12MB",
                  "RATE_18MB",
                  "RATE_24MB",
                  "RATE_36MB",
                  "RATE_48MB",
                  "RATE_54MB"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RATE_11MB": "11 Mbps DSSS PHY",
                  "RATE_12MB": "12 Mbps OFDM PHY",
                  "RATE_18MB": "18 Mbps OFDM PHY",
                  "RATE_1MB": "1 Mbps DSSS PHY",
                  "RATE_24MB": "24 Mbps OFDM PHY",
                  "RATE_2MB": "2 Mbps DSSS PHY",
                  "RATE_36MB": "36 Mbps OFDM PHY",
                  "RATE_48MB": "48 Mbps OFDM PHY",
                  "RATE_54MB": "54 Mbps OFDM PHY",
                  "RATE_5DOT5MB": "5.5 Mbps DSSS PHY",
                  "RATE_6MB": "6 Mbps OFDM PHY",
                  "RATE_9MB": "9 Mbps OFDM PHY"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Data Rate types."
              },
              "max-tx-rate": {
                "description": "Configures the specify the maximum transmission rate.",
                "enum": [
                  "RATE_1MB",
                  "RATE_2MB",
                  "RATE_5DOT5MB",
                  "RATE_6MB",
                  "RATE_9MB",
                  "RATE_11MB",
                  "RATE_12MB",
                  "RATE_18MB",
                  "RATE_24MB",
                  "RATE_36MB",
                  "RATE_48MB",
                  "RATE_54MB"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RATE_11MB": "11 Mbps DSSS PHY",
                  "RATE_12MB": "12 Mbps OFDM PHY",
                  "RATE_18MB": "18 Mbps OFDM PHY",
                  "RATE_1MB": "1 Mbps DSSS PHY",
                  "RATE_24MB": "24 Mbps OFDM PHY",
                  "RATE_2MB": "2 Mbps DSSS PHY",
                  "RATE_36MB": "36 Mbps OFDM PHY",
                  "RATE_48MB": "48 Mbps OFDM PHY",
                  "RATE_54MB": "54 Mbps OFDM PHY",
                  "RATE_5DOT5MB": "5.5 Mbps DSSS PHY",
                  "RATE_6MB": "6 Mbps OFDM PHY",
                  "RATE_9MB": "9 Mbps OFDM PHY"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Data Rate types."
              },
              "min-tx-rate": {
                "description": "Configures the specify the minimum transmission rate.",
                "enum": [
                  "RATE_1MB",
                  "RATE_2MB",
                  "RATE_5DOT5MB",
                  "RATE_6MB",
                  "RATE_9MB",
                  "RATE_11MB",
                  "RATE_12MB",
                  "RATE_18MB",
                  "RATE_24MB",
                  "RATE_36MB",
                  "RATE_48MB",
                  "RATE_54MB"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RATE_11MB": "11 Mbps DSSS PHY",
                  "RATE_12MB": "12 Mbps OFDM PHY",
                  "RATE_18MB": "18 Mbps OFDM PHY",
                  "RATE_1MB": "1 Mbps DSSS PHY",
                  "RATE_24MB": "24 Mbps OFDM PHY",
                  "RATE_2MB": "2 Mbps DSSS PHY",
                  "RATE_36MB": "36 Mbps OFDM PHY",
                  "RATE_48MB": "48 Mbps OFDM PHY",
                  "RATE_54MB": "54 Mbps OFDM PHY",
                  "RATE_5DOT5MB": "5.5 Mbps DSSS PHY",
                  "RATE_6MB": "6 Mbps OFDM PHY",
                  "RATE_9MB": "9 Mbps OFDM PHY"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Data Rate types."
              },
              "tx-rates": {
                "description": "Set of 802.11b/g rates at which the AP is allowed to send data. The actual transmit rate depends on what the client is able to handle,\nbased on information sent at the time of association and on the current error or loss rate of the client.",
                "items": {
                  "description": "Set of 802.11b/g rates at which the AP is allowed to send data. The actual transmit rate depends on what the client is able to handle,\nbased on information sent at the time of association and on the current error or loss rate of the client.",
                  "enum": [
                    "RATE_1MB",
                    "RATE_2MB",
                    "RATE_5DOT5MB",
                    "RATE_6MB",
                    "RATE_9MB",
                    "RATE_11MB",
                    "RATE_12MB",
                    "RATE_18MB",
                    "RATE_24MB",
                    "RATE_36MB",
                    "RATE_48MB",
                    "RATE_54MB"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "RATE_11MB": "11 Mbps DSSS PHY",
                    "RATE_12MB": "12 Mbps OFDM PHY",
                    "RATE_18MB": "18 Mbps OFDM PHY",
                    "RATE_1MB": "1 Mbps DSSS PHY",
                    "RATE_24MB": "24 Mbps OFDM PHY",
                    "RATE_2MB": "2 Mbps DSSS PHY",
                    "RATE_36MB": "36 Mbps OFDM PHY",
                    "RATE_48MB": "48 Mbps OFDM PHY",
                    "RATE_54MB": "54 Mbps OFDM PHY",
                    "RATE_5DOT5MB": "5.5 Mbps DSSS PHY",
                    "RATE_6MB": "6 Mbps OFDM PHY",
                    "RATE_9MB": "9 Mbps OFDM PHY"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Data Rate types."
                },
                "maxItems": 2147483647,
                "type": "array"
              }
            },
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "hide-ssid": {
            "default": "false",
            "description": "Enable hiding the SSID in beacons",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "high-efficiency": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaRadio_HighEfficiencyGroup"
              },
              {
                "$ref": "#/components/schemas/ArubaRadio_HighEfficiencyCommonGroup"
              }
            ],
            "description": "High Efficiency (HE) is the core feature set introduced in Wi-Fi 6 (802.11ax) to improve wireless network efficiency, capacity, and performance in dense environments.\nThis includes configuring MU-MIMO/OFDMA, MCS map, etc.",
            "properties": {
              "enable": {
                "default": "true",
                "description": "Enable high-efficiency (802.11ax) features on SSID.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          },
          "high-throughput": {
            "description": "High Throughput (HT): Introduced in 802.11n (Wi-Fi 4), includes features like wider channels (up to 40 MHz),\n MIMO (up to 4 spatial streams), 64-QAM, short guard interval, and frame aggregation to increase data rates and performance.\nVery High Throughput (VHT): Introduced in 802.11ac (Wi-Fi 5), includes features like even wider channels (up to 160 MHz),\n higher modulation (256-QAM), more spatial streams (up to 8), MU-MIMO, and beamforming to further enhance data rates and network efficiency.\nThis configures high-throughput (HT) and very-high-throughput (VHT) related settings.\nThese features collectively enhance the data rates, capacity, and overall performance of wireless networks,\nmaking them capable of handling large amounts of data efficiently.",
            "properties": {
              "ba-amsdu": {
                "default": "true",
                "description": "Enables Receive AMSDU in Block ACK (BA) negotiation. If disabled, AP denies clients from sending AMSDU using BA agreement.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "enable": {
                "default": "true",
                "description": "Enable high throughput support",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "ldpc": {
                "default": "true",
                "description": "If enabled, the AP will advertise LDPC support. LDPC improves data transmission over radio channels with high levels of background noise.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "mpdu-agg": {
                "default": "true",
                "description": "Enables MAC protocol data unit (MDPU) aggregation.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "rx-ampdu-agg": {
                "default": "true",
                "description": "Enables Receive AMPDU in Block ACK (BA) negotiation.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "short-guard-intvl-20MHz": {
                "default": "true",
                "description": "Enables use of short guard interval (400 ns) in 20 MHz mode.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "short-guard-intvl-40MHz": {
                "default": "true",
                "description": "Enables use of short guard interval (400 ns) in 40 MHz mode of operation.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "short-guard-intvl-80MHz": {
                "default": "true",
                "description": "Enables use of short guard interval (400 ns) in 80 MHz mode of operation.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "stbc-rx-streams": {
                "default": "1",
                "description": "Maximum number of spatial streams usable for STBC reception.",
                "format": "int32",
                "maximum": 1,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "stbc-tx-streams": {
                "default": "1",
                "description": "Maximum number of spatial streams usable for STBC transmission.",
                "format": "int32",
                "maximum": 1,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "supported-mcs-set": {
                "description": "A list of Modulation Coding Scheme (MCS) values or ranges of values to be supported on this SSID.\nThe MCS you choose determines the channel width (20 MHz vs. 40 MHz) and the number of spatial streams used by the mesh node.\nTo specify a series of different values, separate each value with a comma.",
                "items": {
                  "description": "A list of Modulation Coding Scheme (MCS) values or ranges of values to be supported on this SSID.\nThe MCS you choose determines the channel width (20 MHz vs. 40 MHz) and the number of spatial streams used by the mesh node.\nTo specify a series of different values, separate each value with a comma.",
                  "format": "int32",
                  "maximum": 31,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "temporal-diversity": {
                "default": "false",
                "description": "Enable temporal diversity. When this setting is enabled and the client is not responding to 802.11 packets, the\nAP will launch two hardware retries; if the hardware retries are not successful then it attempts software retries.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "very-high-throughput": {
                "default": "true",
                "description": "Enable support for VHT (802.11ac ) on the SSID. ",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "vht-mu-txbf": {
                "default": "true",
                "description": "Enable VHT Multi-User Transmit Beamforming. If this parameter is disabled,\nall other Multi-User Transmit Beamforming configuration parameters have no effect.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "vht-supported-mcs-map": {
                "description": "Comma separated list of maximum supported MCS for spatial streams 1 through 4.\nValid values for maximum MCS are 7, 8, 9, and '-' (if spatial stream is not supported).\nMaximum MCS of a spatial stream cannot be higher than the previous streams.\nIf an MCS is not valid for a particular combination of bandwidth and number of spatial streams,\nit will not be used for Tx and Rx. Only '-' is not supported.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "vht-supported-mcs-map",
                "x-patterns": "'(((7|9|8|-),){0,7}((7|9|8|-)){1})'",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "vht-txbf-explicit": {
                "default": "true",
                "description": "Enable VHT Explicit Transmit Beamforming for the 802.11ac-capable APs.\nWhen this feature is enabled, the AP requests information about the MIMO channel and\nuses that information to transmit data over multiple transmit streams using a calculated steering matrix.\nThe result is higher throughput due to improved signal at the beamformee (the receiving client).\nIf this parameter is disabled, all other transmit beamforming settings will not take effect.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          },
          "inactivity-timeout": {
            "default": "1000",
            "description": "Configures a timeout value for the inactive client sessions.\nWhen a client session is inactive for the specified duration, the session expires and the clients are required to log in again.",
            "format": "int64",
            "maximum": 86400,
            "minimum": 60,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "local-probe-req-thresh": {
            "default": "0",
            "description": "RSSI (Received Signal Strength Indicator) threshold value to limit the number of incoming probe requests.\nWhen enabled, controls the system response to the broadcast probe requests\nsent by clients to search for the available SSIDs and ignores the probe request if required.",
            "format": "int32",
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "max-clients-threshold": {
            "default": "64",
            "description": "Maximum number of wireless clients for the AP.\nThis parameter is limited to 1024 clients per radio. Default value for this parameter is the maximum number of clients supported by the AP.",
            "format": "int32",
            "maximum": 1024,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "max-retries": {
            "default": "4",
            "description": "Maximum number of retries allowed for the AP to send a frame.",
            "format": "int32",
            "maximum": 15,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "mbo": {
            "default": "false",
            "description": "Enables the Agile Multiband Operations (MBO). Enables the mfp-capable, 802.11k and 802.11u-interworking implicitly on the AP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "mfp-association-comeback-time": {
            "default": "5",
            "description": "Time in seconds before client can associate after MFP try again later reject",
            "format": "int32",
            "maximum": 5,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "mfp-capable": {
            "default": "false",
            "description": "When enabled, the SSID supports management frame protection (MFP) capable clients and traditional clients.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "mfp-required": {
            "default": "false",
            "description": "When enabled, the SSID only supports MFP capable clients.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "mobility-domain-id": {
            "description": "Mobility Domain Identifier. An  AP uses this parameter to announce that it is a part of the AP group that\nconstitutes a mobility domain.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "qbss-load": {
            "default": "false",
            "description": "Enables the AP to advertise the QBSS load element.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "qos-management": {
            "description": "Wi-Fi Quality of Service (QoS) Management certification delivers a standardized approach to QoS for devices and\napplications to prioritize traffic flows for both client devices and APs.\nThis includes configuring QoS Management related configuration.",
            "properties": {
              "scs": {
                "default": "false",
                "description": "Enable/Disable Stream Classification Service (SCS) feature.\nSCS: enables classification and Wi-Fi QoS treatment of specific IP flows, including flows to and from 5G core networks,\nallowing sensitive traffic such as gaming, voice, and video to be prioritized over bulk data traffic",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          },
          "refresh-direction": {
            "default": "RX_TX",
            "description": "The refresh direction of WLAN SSID profile.",
            "enum": [
              "RX_TX",
              "RX_ONLY",
              "TX_ONLY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "RX_ONLY": "Received data frames that are used for station refresh.",
              "RX_TX": "idirectiona",
              "TX_ONLY": "Transmitted data frames that are used for station refresh."
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "The refresh direction of WLAN SSID profile."
          },
          "rf-band": {
            "default": "24GHZ_5GHZ",
            "description": "Radio frequency band on which this SSID will be broadcast. You can select one of the following options:",
            "enum": [
              "BAND_NONE",
              "24GHZ",
              "5GHZ",
              "6GHZ",
              "24GHZ_5GHZ",
              "24GHZ_6GHZ",
              "5GHZ_6GHZ",
              "BAND_ALL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "24GHZ": "2.4GHz only",
              "24GHZ_5GHZ": "2.4GHz + 5GHz",
              "24GHZ_6GHZ": "2.4GHz + 6GHz",
              "5GHZ": "5GHz only",
              "5GHZ_6GHZ": "5GHz + 6GHz",
              "6GHZ": "6GHz only",
              "BAND_ALL": "2.4GHz + 5GHz +6GHz",
              "BAND_NONE": "disable all bands"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "describe different band types"
          },
          "rrm-quiet-ie": {
            "default": "false",
            "description": "Enable Radio Resource Management (RRM) IE profile to define the information elements advertised by an AP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "rts-threshold": {
            "default": "2333",
            "description": "Wireless clients transmitting frames larger than this threshold must issue RTS and wait for the AP to respond with CTS.\nThis helps prevent mid-air collisions for wireless clients that are not within wireless peer range and cannot detect when other wireless clients are transmitting.",
            "format": "int32",
            "maximum": 2347,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "short-preamble": {
            "default": "true",
            "description": "Enables short preamble for 802.11b/g radios. Network performance may be higher when short preamble is enabled.\nIn mixed radio environments, some 802.11b wireless client stations may experience difficulty associating with the AP using\nshort preamble. To use only long preamble, disable short preamble. Legacy client devices that use only long preamble generally\ncan be updated to support short preamble.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "ssid-utf8": {
            "default": "false",
            "description": "Encodes the SSID. When enabled, the SSID name is displayed in the UTF-8 format.SSIDs are not encoded by default.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "wmm-cfg": {
            "description": "Wi-Fi Multimedia (WMM) refers to a Wi-Fi Alliance interoperability certification,\nbased on the IEEE 802.11e standard. It provides basic QoS features to IEEE 802.11 networks.\nWMM prioritizes traffic according to four Access Categories (ACs): voice (AC_VO), video (AC_VI), best effort (AC_BE), and background (AC_BK).\nThis includes configuring Enhanced Distributed Channel Access (EDCA) parameters for each AC of AP and Station (STA),\nmapping between WMM ACs and Differentiated Services Codepoint (DSCP) tags.",
            "properties": {
              "ap-background": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Aruba802dot11_EdcaGroup"
                  }
                ],
                "description": "Configures the EDCA parameters for AC_BK of AP.",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "ap-best-effort": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Aruba802dot11_EdcaGroup"
                  }
                ],
                "description": "Configures the EDCA parameters for AC_BE of AP.",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "ap-video": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Aruba802dot11_EdcaGroup"
                  }
                ],
                "description": "Configures the EDCA parameters for AC_VI of AP.",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "ap-voice": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Aruba802dot11_EdcaGroup"
                  }
                ],
                "description": "Configures the EDCA parameters for AC_VO of AP.",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "background-dscp": {
                "description": "DSCP mapping for the background traffic.",
                "items": {
                  "description": "DSCP mapping for the background traffic.",
                  "format": "int32",
                  "maximum": 63,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "maxItems": 8,
                "type": "array"
              },
              "best-effort-dscp": {
                "description": "DSCP mapping for the best-effort traffic.",
                "items": {
                  "description": "DSCP mapping for the best-effort traffic.",
                  "format": "int32",
                  "maximum": 63,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "maxItems": 8,
                "type": "array"
              },
              "enable": {
                "default": "true",
                "description": "Enables WiFi Multimedia (WMM), also known as IEEE 802.11e Enhanced Distribution Coordination Function.\nWMM provides prioritization of specific traffic relative to other traffic in the network.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "sta-background": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Aruba802dot11_EdcaGroup"
                  }
                ],
                "description": "Configures the EDCA parameters for AC_BK of STA.",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "sta-best-effort": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Aruba802dot11_EdcaGroup"
                  }
                ],
                "description": "Configures the EDCA parameters for AC_BE of STA.",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "sta-video": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Aruba802dot11_EdcaGroup"
                  }
                ],
                "description": "Configures the EDCA parameters for AC_VI of STA.",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "sta-voice": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Aruba802dot11_EdcaGroup"
                  }
                ],
                "description": "Configures the EDCA parameters for AC_VO of STA.",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "tspec": {
                "default": "false",
                "description": "Allows APs to prioritize time-sensitive traffic such as voice traffic initiated by the client.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "tspec-bandwidth": {
                "default": "2000",
                "description": "Reserves the configured bandwidth for prioritizing voice traffic when TSPEC is enabled.",
                "format": "int64",
                "maximum": 600000,
                "minimum": 200,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "uapsd": {
                "default": "true",
                "description": "Enable WMM UAPSD powersave.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "video-dscp": {
                "description": "DSCP mapping for the video traffic.",
                "items": {
                  "description": "DSCP mapping for the video traffic.",
                  "format": "int32",
                  "maximum": 63,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "maxItems": 8,
                "type": "array"
              },
              "voice-dscp": {
                "description": "DSCP mapping for the voice traffic.",
                "items": {
                  "description": "DSCP mapping for the voice traffic.",
                  "format": "int32",
                  "maximum": 63,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "maxItems": 8,
                "type": "array"
              }
            }
          }
        }
      },
      "Aruba802dot11_Wlan802dot11Get": {
        "description": "Aruba 802.11 related parameters",
        "properties": {
          "a-legacy-rates": {
            "description": "Configures 802.11a rates related settings.\nThis includes configuring basic rates, beacon rate, transmit rates.",
            "properties": {
              "basic-rates": {
                "description": "Basic rates are the mandatory data rates that all devices must support to connect to the network.\nThese rates are used for essential network operations, such as management frames (beacons, probes) and control frames (ACKs, RTS/CTS).\nAllows you to define a set of modulation rates to use for the clients.\nRange: 6, 9, 12, 18, 24, 36, 48, 54 Mbps.",
                "items": {
                  "description": "Basic rates are the mandatory data rates that all devices must support to connect to the network.\nThese rates are used for essential network operations, such as management frames (beacons, probes) and control frames (ACKs, RTS/CTS).\nAllows you to define a set of modulation rates to use for the clients.\nRange: 6, 9, 12, 18, 24, 36, 48, 54 Mbps.",
                  "enum": [
                    "RATE_6MB",
                    "RATE_9MB",
                    "RATE_12MB",
                    "RATE_18MB",
                    "RATE_24MB",
                    "RATE_36MB",
                    "RATE_48MB",
                    "RATE_54MB"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "RATE_12MB": "12 Mbps OFDM PHY",
                    "RATE_18MB": "18 Mbps OFDM PHY",
                    "RATE_24MB": "24 Mbps OFDM PHY",
                    "RATE_36MB": "36 Mbps OFDM PHY",
                    "RATE_48MB": "48 Mbps OFDM PHY",
                    "RATE_54MB": "54 Mbps OFDM PHY",
                    "RATE_6MB": "6 Mbps OFDM PHY",
                    "RATE_9MB": "9 Mbps OFDM PHY"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Data Rate types."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "beacon-rate": {
                "description": "Beacon rate for 802.11a (use for DAS only). Using this parameter in normal operation may cause connectivity problems.",
                "enum": [
                  "RATE_6MB",
                  "RATE_9MB",
                  "RATE_12MB",
                  "RATE_18MB",
                  "RATE_24MB",
                  "RATE_36MB",
                  "RATE_48MB",
                  "RATE_54MB"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RATE_12MB": "12 Mbps OFDM PHY",
                  "RATE_18MB": "18 Mbps OFDM PHY",
                  "RATE_24MB": "24 Mbps OFDM PHY",
                  "RATE_36MB": "36 Mbps OFDM PHY",
                  "RATE_48MB": "48 Mbps OFDM PHY",
                  "RATE_54MB": "54 Mbps OFDM PHY",
                  "RATE_6MB": "6 Mbps OFDM PHY",
                  "RATE_9MB": "9 Mbps OFDM PHY"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Data Rate types."
              },
              "max-tx-rate": {
                "description": "Maximum transmission rate.",
                "enum": [
                  "RATE_6MB",
                  "RATE_9MB",
                  "RATE_12MB",
                  "RATE_18MB",
                  "RATE_24MB",
                  "RATE_36MB",
                  "RATE_48MB",
                  "RATE_54MB"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RATE_12MB": "12 Mbps OFDM PHY",
                  "RATE_18MB": "18 Mbps OFDM PHY",
                  "RATE_24MB": "24 Mbps OFDM PHY",
                  "RATE_36MB": "36 Mbps OFDM PHY",
                  "RATE_48MB": "48 Mbps OFDM PHY",
                  "RATE_54MB": "54 Mbps OFDM PHY",
                  "RATE_6MB": "6 Mbps OFDM PHY",
                  "RATE_9MB": "9 Mbps OFDM PHY"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Data Rate types."
              },
              "min-tx-rate": {
                "description": "Minimum transmission rate.",
                "enum": [
                  "RATE_6MB",
                  "RATE_9MB",
                  "RATE_12MB",
                  "RATE_18MB",
                  "RATE_24MB",
                  "RATE_36MB",
                  "RATE_48MB",
                  "RATE_54MB"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "RATE_12MB": "12 Mbps OFDM PHY",
                  "RATE_18MB": "18 Mbps OFDM PHY",
                  "RATE_24MB": "24 Mbps OFDM PHY",
                  "RATE_36MB": "36 Mbps OFDM PHY",
                  "RATE_48MB": "48 Mbps OFDM PHY",
                  "RATE_54MB": "54 Mbps OFDM PHY",
                  "RATE_6MB": "6 Mbps OFDM PHY",
                  "RATE_9MB": "9 Mbps OFDM PHY"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Data Rate types."
              },
              "tx-rates": {
                "description": "Set of 802.11a rates at which the AP is allowed to send data. The actual transmit rate depends on what the client is able to handle,\nbased on information sent at the time of association and on the current error or loss rate of the client.",
                "items": {
                  "description": "Set of 802.11a rates at which the AP is allowed to send data. The actual transmit rate depends on what the client is able to handle,\nbased on information sent at the time of association and on the current error or loss rate of the client.",
                  "enum": [
                    "RATE_6MB",
                    "RATE_9MB",
                    "RATE_12MB",
                    "RATE_18MB",
                    "RATE_24MB",
                    "RATE_36MB",
                    "RATE_48MB",
                    "RATE_54MB"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "RATE_12MB": "12 Mbps OFDM PHY",
                    "RATE_18MB": "18 Mbps OFDM PHY",
                    "RATE_24MB": "24 Mbps OFDM PHY",
                    "RATE_36MB": "36 Mbps OFDM PHY",
                    "RATE_48MB": "48 Mbps OFDM PHY",
                    "RATE_54MB": "54 Mbps OFDM PHY",
                    "RATE_6MB": "6 Mbps OFDM PHY",
                    "RATE_9MB": "9 Mbps OFDM PHY"
                  },
                  "x-supportedDeviceType": [
                    "Access Point"
                  ],
                  "x-typeDescription": "Data Rate types."
                },
                "maxItems": 2147483647,
                "type": "array"
              }
            },
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "advertise-apname": {
            "default": "false",
            "description": "Enable broadcast of AP Name information in the beacons frames and probe responses.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "advertise-location": {
            "default": "false",
            "description": "Enable broadcast of the AP Location Co-ordinate Information by unicast messages in FTM responder frames\nand by broadcast messages in beacons frames and probe responses. Location Coordinate Information (LCI)\nconfiguration in aruba-lci.yang is needed.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "advertise-location-civic": {
            "default": "false",
            "description": "In IEEE Standard 802.11, enable sending programmed civic information in Access Network Query Protocol (ANQP)\nand neighbor report responses.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "advertise-location-identifier": {
            "description": "Configuration for a public location identifier. The location identifier is from IEEE Standard 802.11,\nit includes an indirect Uniform Resource Identifier (URI) or FQND to the location information for the\nlocation subject.",
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable broadcasting two kinds (HELD and SUPL) of links to client in Access Network Query Protocol (ANQP)\nelement 267. HELD means Hypertext Transfer Protocol (HTTP) enabled location delivery (HELD) and SUPL means\nSecure User Plane Location.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "http-enabled-location-delivery": {
                "description": "A public identifier, like Uniform Resource Identifier (URI) or Fully Qualified Domain Name (FQDN), will supply AP\nlocation information.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "supl-server": {
                "description": "SUPL means Secure User Plane Location, one Uniform Resource Identifier (URI) or Fully Qualified\nDomain Name (FQDN) should be configured to supply AP location information.",
                "format": "const",
                "maxLength": 64,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            }
          },
          "advertise-timing": {
            "default": "false",
            "description": "Broadcast time advertisement and time zone IEs in beacon and probe response frames.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "allowed-5ghz-radio": {
            "default": "ALL_5G",
            "description": "5GHz radio to which the SSID should be assigned.",
            "enum": [
              "ALL_5G",
              "FIRST_5G",
              "SECOND_5G"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALL_5G": "first and second 5GHz radio",
              "FIRST_5G": "the first 5GHz radio",
              "SECOND_5G": "the second 5GHz radio"
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "to control the 5GHz  upper/lowe band SSID creation."
          },
          "allowed-6ghz-radio": {
            "default": "ALL_6GHZ",
            "description": "Control the creation of SSIDs on the first, second, or all 6GHz radios.",
            "enum": [
              "ALL_6GHZ",
              "FIRST_6GHZ",
              "SECOND_6GHZ"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ALL_6GHZ": "Allow a SSID to be up on all 6GHz radios.",
              "FIRST_6GHZ": "Allow a SSID to be up on first 6GHz radio.",
              "SECOND_6GHZ": "Allow a SSID to be up on second 6GHz radio."
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "Control the creation of SSIDs on the first, second, or all 6GHz radios."
          },
          "auth-failure-code": {
            "default": "DYNAMIC",
            "description": "When FT auth failure, AP send the corresponding reason code to client.",
            "enum": [
              "WLAN_STATUS_FAILED_INVALID_PMKID",
              "WLAN_STATUS_R0KH_UNREACHABLE",
              "DYNAMIC"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DYNAMIC": "FT auth failure dafault status code. If the RSNIE in the Authentication Request frame contains an invalid PMKR0Name and the AP has determined\nthat it is an invalid PMKR0Name, the AP shall reject the Authentication Request with status code 53 (i.e., Invalid PMKID). If the requested\nR0KH is not reachable, the AP shall respond to the Authentication Request with status code 28 (i.e., R0KH unreachable).",
              "WLAN_STATUS_FAILED_INVALID_PMKID": "FT auth failure status code. AP shall reject the Authentication Request with status code 53 (i.e., Invalid PMKID) both ROKH UNREACHABLE and Invalid PMKID cases.",
              "WLAN_STATUS_R0KH_UNREACHABLE": "FT auth failure status code. AP shall respond to the Authentication Request with status code 28 (i.e., R0KH unreachable) for both ROKH UNREACHABLE and Invalid PMKID cases."
            },
            "x-supportedDeviceType": [
              "Access Point"
            ],
            "x-typeDescription": "FT Auth failure status code."
          },
          "auth-req-thresh": {
            "default": "0",
            "description": "SNR threshold below which incoming authentication requests are ignored.\nUse this parameter instead of the local probe request threshold parameter to filter out low SNR authentication request.",
            "format": "int32",
            "maximum": 100,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "cdc": {
            "default": "false",
            "description": "Advertizes the Cellular Data Capability (CDC) attribute of an MBO.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "disable-on-6ghz-mesh": {
            "default": "false",
            "description": "This is used when there are more than 3 6GHz SSIDs are created. It has to be set so that AP can know which SSID needs to be\ndisabled when mesh enabled. This might be no use later.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dot11k": {
            "default": "false",
            "description": "Enables 802.11k roaming on the SSID profile.The 802.11k protocol enables APs and clients to\ndynamically measure the available radio resources.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dot11k-profile-name": {
            "description": "To set the bound dot11k profile name",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-dot11k:dot11k-profiles/ac-dot11k:profile/ac-dot11k:name",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dot11r": {
            "default": "false",
            "description": "Enables 802.11r on the SSID profile.802.11r or fast BSS FT is an IEEE standard that permits continuous\nconnectivity across wireless devices during client mobility. Fast BSS Transition mechanism minimizes\nthe delay in roaming when a client transitions from one BSS to another within the same cluster.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dot11r-key-duration": {
            "default": "3600",
            "description": "IEEE 802.11r R1 key duration.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dot11r-ondemand-keyfetch": {
            "default": "true",
            "description": "Enables 802.11r on demand key fetch from cloud key management service when the AP's local key cache lookup fails for\nclient matching pairwise key to complete fast roaming.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dot11v": {
            "default": "false",
            "description": "Enable/Disable BSS Transition Management features defined by the 802.11v standard.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "dtim-period": {
            "default": "1",
            "description": "The DTIM interval determines how often the AP should deliver the buffered broadcast and multicast frames to associated clients in the powersaving mode.\nWhen configured, the client checks for buffered data on the AP at the specified number of beacons.\nYou can also configure a higher value for DTIM interval for power saving.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "essid": {
            "description": "Name that uniquely identifies a wireless network.\nThe ESSID can be up to 32 characters.\nIf the ESSID includes spaces, you must enclose it in quotation marks.\nThis includes configuring use-alias, alias, name.",
            "properties": {
              "alias": {
                "description": "ESSID use aliases",
                "format": "pattern",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                "x-patternSources": "name",
                "x-patterns": "'[a-zA-Z0-9-_ ]+'"
              },
              "name": {
                "description": "ESSID, The AP takes this parameter from its per-AP-ssid specific configuration.",
                "format": "const",
                "maxLength": 32,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "use-alias": {
                "default": "false",
                "description": "ESSID use alias or not",
                "type": "boolean"
              }
            }
          },
          "explicit-ageout-client": {
            "default": "false",
            "description": "Allows APs to send a deauthentication frame to the client and clear client entry.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "extremely-high-throughput": {
            "description": "Extremely High Throughput (EHT) is a feature set introduced in Wi-Fi 7 (802.11be) to enhance wireless performance,\nparticularly in high-density and high-throughput environments.\nThis includes configuring MLO, MCS map, beacon protection, etc.",
            "properties": {
              "beacon-protection": {
                "default": "false",
                "description": "Enable beacon protection on SSID.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "enable": {
                "default": "true",
                "description": "Enable extremely-high-throughput (802.11be) features on SSID.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "mlo": {
                "default": "false",
                "description": "Enable Multi-Link Operation (MLO) features on SSID.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "sae-sub-mode": {
                "default": "LEGACY_MODE",
                "description": "Change Simultaneous Authentication of Equals (SAE) sub mode to legacy/gcm256-only/mix.",
                "enum": [
                  "LEGACY_MODE",
                  "GCM256_ONLY_MODE",
                  "MIX_MODE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "GCM256_ONLY_MODE": "Use gcm256-only mode for sae-sub-mode",
                  "LEGACY_MODE": "Use legacy mode for sae-sub-mode",
                  "MIX_MODE": "Use mix mode for sae-sub-mode"
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "To control sae-sub-mode."
              },
              "supported-mcs-map": {
                "description": "Comma-separated list of max supported MCS for spatial streams 1\nthrough 8. Valid values for max mcs are 7, 9, 11, 13 and\n'-' ('-' means spatial stream is not supported, and\nit's not supported at first spatial stream). Max mcs of\na spatial stream cannot be higher than the previous\nstream's. If a MCS is not valid for a particular\ncombination of bandwidth and number of spatial streams,\nit will not be used for Tx and Rx.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "supported-mcs-map",
[...]
