{
  "openapi": "3.1.0",
  "info": {
    "title": "Admins Recover Password",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "tags": [
    {
      "description": "Endpoints used to trigger a password recovery and validate the token sent by email.",
      "name": "Admins Recover Password"
    }
  ],
  "paths": {
    "/api/v1/recover": {
      "post": {
        "description": "Start password recovery for an administrator account. This public endpoint does not require authentication. When the request is accepted, Mist sends an email containing a recovery link such as `https://manage.mist.com/verify/recover?token=:token`. If CAPTCHA is required, include the CAPTCHA response token and provider flavor in the request body.",
        "operationId": "recoverPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "email": "test@mistsys.com",
                    "recaptcha": "string",
                    "recaptcha_flavor": "hcaptcha"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/recover"
              }
            }
          },
          "description": ""
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "security": [],
        "summary": "recoverPassword",
        "tags": [
          "Admins Recover Password"
        ]
      }
    },
    "/api/v1/recover/verify/{token}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/token"
        }
      ],
      "post": {
        "description": "Verify a password recovery token from the recovery email. This public endpoint does not require authentication. When the token is valid, the user is authenticated for the recovery flow so the client can prompt for and submit a new password.",
        "operationId": "verifyRecoverPassword",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "security": [],
        "summary": "verifyRecoverPassword",
        "tags": [
          "Admins Recover Password"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "recaptcha_flavor": {
        "default": "google",
        "description": "CAPTCHA provider flavor. enum: `google`, `hcaptcha`",
        "enum": [
          "google",
          "hcaptcha"
        ],
        "examples": [
          "hcaptcha"
        ],
        "type": "string"
      },
      "recover": {
        "description": "Password recovery request submitted for an administrator account",
        "properties": {
          "email": {
            "description": "Admin email address requesting password recovery",
            "examples": [
              "test@mistsys.com"
            ],
            "maxLength": 64,
            "type": "string"
          },
          "recaptcha": {
            "description": "CAPTCHA verification token submitted with the recovery request",
            "type": "string"
          },
          "recaptcha_flavor": {
            "$ref": "#/components/schemas/recaptcha_flavor",
            "description": "CAPTCHA provider flavor used for recovery verification"
          }
        },
        "required": [
          "email"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      }
    },
    "parameters": {
      "token": {
        "in": "path",
        "name": "token",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    }
  }
}
