{
  "openapi": "3.1.0",
  "info": {
    "title": "Constants Definitions",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve constant values that can be used in different parts of the configuration",
      "name": "Constants Definitions"
    }
  ],
  "paths": {
    "/api/v1/const/ap_channels": {
      "get": {
        "description": "Return supported AP radio channels for the requested country code, based on the regulatory domain used by Mist AP configuration.",
        "operationId": "listApChannels",
        "parameters": [
          {
            "$ref": "#/components/parameters/country_code"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstApChannels"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listApChannels",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/ap_esl_versions": {
      "get": {
        "description": "Return Electronic Shelf Label (ESL) firmware versions available per AP model.",
        "operationId": "listApLEslVersions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstApEslVersions"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listApLEslVersions",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/ap_led_status": {
      "get": {
        "description": "Return AP LED status definitions, including the values used to describe LED behavior and the corresponding `error_code` value.",
        "operationId": "listApLedDefinition",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstApLedDefinitions"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listApLedDefinition",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/app_categories": {
      "get": {
        "description": "Return supported application categories used for application identification, traffic classification, and policy matching.",
        "operationId": "listAppCategoryDefinitions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstAppCategoryDefinitions"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listAppCategoryDefinitions",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/app_subcategories": {
      "get": {
        "description": "Return supported application subcategories used for application identification, traffic classification, and policy matching.",
        "operationId": "listAppSubCategoryDefinitions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstAppSubCategoryDefinitions"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listAppSubCategoryDefinitions",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/applications": {
      "get": {
        "description": "Return applications recognized by Juniper Mist devices for traffic classification and application analytics.",
        "operationId": "listApplications",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstApplications"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listApplications",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/countries": {
      "get": {
        "description": "Return supported country codes for Mist configuration. Set `extend=true` to include additional country codes when available.",
        "operationId": "listCountryCodes",
        "parameters": [
          {
            "description": "Will include more country codes if true",
            "in": "query",
            "name": "extend",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstCountries"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listCountryCodes",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/fingerprint_types": {
      "get": {
        "description": "Return supported client fingerprint attribute values (`family`, `model`, `mfg`, and `os_type`) that can be used in [Mist NAC Rules]($h/Orgs%20NAC%20Rules/_overview) `matching` conditions.",
        "operationId": "listFingerprintTypes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstFingerprintTypes"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listFingerprintTypes",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/gateway_applications": {
      "get": {
        "description": "Return applications recognized by Mist gateways for traffic classification.",
        "operationId": "listGatewayApplications",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstGatewayApplications"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listGatewayApplications",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/insight_metrics": {
      "get": {
        "description": "Return supported insight metric names and metadata used by insight and SLE APIs.",
        "operationId": "listInsightMetrics",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstInsightMetrics"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listInsightMetrics",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/languages": {
      "get": {
        "description": "Return supported language codes for localized Mist configuration and user-facing portals.",
        "operationId": "listSiteLanguages",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstLanguages"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteLanguages",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/license_types": {
      "get": {
        "description": "Return Mist license type definitions used by inventory and subscription APIs.",
        "operationId": "listLicenseTypes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstLicenseTypes"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listLicenseTypes",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/marvisclient_events": {
      "get": {
        "description": "Return Marvis Client event type definitions used by the Marvis Client event search and count APIs.",
        "operationId": "listMarvisClientEventsDefinitions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstMarvisClientEvents"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listMarvisClientEventsDefinitions",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/marvisclient_versions": {
      "get": {
        "description": "Return available Marvis Client application versions for tracking or managing Marvis Client deployments.",
        "operationId": "listMarvisClientVersions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstMarvisClientVersions"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listMarvisClientVersions",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/states": {
      "get": {
        "description": "Return ISO state or province codes for the supplied country code.",
        "operationId": "listStates",
        "parameters": [
          {
            "description": "Country code, in [two-character](/#operations/listCountryCodes)",
            "in": "query",
            "name": "country_code",
            "required": true,
            "schema": {
              "examples": [
                "US"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstStates"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listStates",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/traffic_types": {
      "get": {
        "description": "Return traffic type definitions used to classify recognized network traffic.",
        "operationId": "listTrafficTypes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstTrafficTypes"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listTrafficTypes",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/webhook_topics": {
      "get": {
        "description": "Return webhook topic definitions that can be subscribed to in webhook configuration.",
        "operationId": "listWebhookTopics",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstWebhookTopics"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listWebhookTopics",
        "tags": [
          "Constants Definitions"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ap_channel_band24_channel": {
        "description": "Supported 2.4 GHz channel numbers for a channel-width group",
        "items": {
          "examples": [
            1
          ],
          "type": "integer"
        },
        "type": "array"
      },
      "ap_channel_band24_channels": {
        "additionalProperties": {
          "$ref": "#/components/schemas/ap_channel_band24_channel"
        },
        "description": "Property key is the channel width",
        "examples": [
          {
            "20": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11
            ],
            "40": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11
            ]
          }
        ],
        "type": "object"
      },
      "ap_channel_band5_channel": {
        "description": "Supported 5 GHz channel numbers for a channel-width group",
        "items": {
          "examples": [
            36
          ],
          "type": "integer"
        },
        "type": "array"
      },
      "ap_channel_band5_channels": {
        "additionalProperties": {
          "$ref": "#/components/schemas/ap_channel_band5_channel"
        },
        "description": "Property key is the channel width",
        "examples": [
          {
            "20": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161,
              165
            ],
            "40": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161
            ],
            "80": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161
            ],
            "dfs": [
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144
            ],
            "outdoor": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161,
              165
            ]
          }
        ],
        "type": "object"
      },
      "ap_channel_band6_channel": {
        "description": "Supported 6 GHz channel numbers for a channel-width group",
        "items": {
          "examples": [
            1
          ],
          "type": "integer"
        },
        "type": "array"
      },
      "ap_channel_band6_channels": {
        "additionalProperties": {
          "$ref": "#/components/schemas/ap_channel_band6_channel"
        },
        "description": "Property key is the channel width",
        "examples": [
          {
            "160": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221
            ],
            "20": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221,
              225,
              229,
              233
            ],
            "40": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221,
              225,
              229
            ],
            "80": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221
            ],
            "psc": [
              5,
              21,
              37,
              53,
              69,
              85,
              101,
              117,
              133,
              149,
              165,
              181,
              197,
              213,
              229
            ]
          }
        ],
        "type": "object"
      },
      "const_ap_channel": {
        "additionalProperties": false,
        "description": "Country and regulatory-domain channel capabilities for AP radios",
        "properties": {
          "band24_40mhz_allowed": {
            "description": "Whether 40 MHz channels are allowed on the 2.4 GHz band",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "band24_channels": {
            "$ref": "#/components/schemas/ap_channel_band24_channels",
            "description": "Allowed 2.4 GHz channels for this country or regulatory domain"
          },
          "band24_enabled": {
            "description": "Whether the 2.4 GHz band is enabled for this country or regulatory domain",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "band5_channels": {
            "$ref": "#/components/schemas/ap_channel_band5_channels",
            "description": "Allowed 5 GHz channels for this country or regulatory domain"
          },
          "band5_enabled": {
            "description": "Whether the 5 GHz band is enabled for this country or regulatory domain",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "band6_channels": {
            "$ref": "#/components/schemas/ap_channel_band6_channels",
            "description": "Allowed 6 GHz channels for this country or regulatory domain"
          },
          "band6_enabled": {
            "description": "Whether the 6 GHz band is enabled for this country or regulatory domain",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "certified": {
            "description": "Whether AP operation is certified for this country or regulatory domain",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "code": {
            "description": "Country code, ISO 3166-1 numeric",
            "examples": [
              840
            ],
            "type": "integer"
          },
          "dfs_ok": {
            "description": "Whether DFS channels are allowed in this country or regulatory domain",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "key": {
            "description": "Country code, in two-character",
            "examples": [
              "US"
            ],
            "type": "string"
          },
          "name": {
            "description": "Country or regulatory-domain display name",
            "examples": [
              "United States"
            ],
            "type": "string"
          },
          "uses": {
            "description": "Regulatory ruleset used for AP channel validation",
            "examples": [
              "US_FCC"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_ap_esl_version": {
        "additionalProperties": false,
        "description": "Supported Electronic Shelf Label (ESL) version for an AP model",
        "properties": {
          "esl_version": {
            "description": "Electronic Shelf Label (ESL) package version supported by the AP model",
            "examples": [
              "2.5.1"
            ],
            "readOnly": true,
            "type": "string"
          },
          "model": {
            "description": "AP model that supports the listed ESL version",
            "examples": [
              "AP34"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_ap_esl_versions": {
        "description": "Supported Electronic Shelf Label versions by AP model",
        "items": {
          "$ref": "#/components/schemas/const_ap_esl_version"
        },
        "type": "array"
      },
      "const_ap_led": {
        "additionalProperties": false,
        "description": "AP LED status and `last_trouble` code definition returned by the constants API",
        "properties": {
          "code": {
            "description": "Numeric LED status and `last_trouble` code reported by the AP",
            "examples": [
              "01"
            ],
            "type": "string"
          },
          "description": {
            "description": "Human-readable explanation of the AP status",
            "examples": [
              "LED not working"
            ],
            "type": "string"
          },
          "key": {
            "description": "Machine-readable AP status key",
            "examples": [
              "LED_FAILURE"
            ],
            "type": "string"
          },
          "name": {
            "description": "Display name for the AP status",
            "examples": [
              "LED Failure"
            ],
            "type": "string"
          }
        },
        "required": [
          "code",
          "key",
          "name",
          "description"
        ],
        "type": "object"
      },
      "const_ap_leds": {
        "description": "AP LED status and trouble-code definitions returned by the constants API",
        "items": {
          "$ref": "#/components/schemas/const_ap_led"
        },
        "type": "array"
      },
      "const_app_category_definition": {
        "additionalProperties": false,
        "description": "Application category definition returned by the constants API",
        "properties": {
          "display": {
            "description": "Description of the app category",
            "examples": [
              "Images"
            ],
            "type": "string"
          },
          "filters": {
            "$ref": "#/components/schemas/const_app_category_definition_filters",
            "description": "Platform-specific application signatures included in this category"
          },
          "includes": {
            "$ref": "#/components/schemas/const_app_category_definition_includes",
            "description": "Application categories included by this aggregate category"
          },
          "key": {
            "description": "Machine-readable application category key",
            "examples": [
              "Images"
            ],
            "type": "string"
          }
        },
        "required": [
          "key",
          "display"
        ],
        "type": "object"
      },
      "const_app_category_definition_filters": {
        "additionalProperties": false,
        "description": "Platform-specific application category filters",
        "examples": [
          {
            "srx": [
              "Enhanced_Images_Media",
              "Enhanced_Web_Images",
              "Enhanced_Image_Servers"
            ]
          }
        ],
        "properties": {
          "srx": {
            "$ref": "#/components/schemas/strings",
            "description": "Application signature names for SRX platforms included in this category"
          },
          "ssr": {
            "$ref": "#/components/schemas/strings",
            "description": "Application identifiers for SSR platforms included in this category"
          }
        },
        "type": "object"
      },
      "const_app_category_definition_includes": {
        "description": "List of other App Categories contained by this one",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "const_app_category_definitions": {
        "description": "Application category definitions returned by the constants API",
        "items": {
          "$ref": "#/components/schemas/const_app_category_definition"
        },
        "type": "array"
      },
      "const_app_subcategory_definition": {
        "additionalProperties": false,
        "description": "Application subcategory definition returned by the constants API",
        "properties": {
          "display": {
            "description": "Description of the app subcategory",
            "examples": [
              "Office Document"
            ],
            "type": "string"
          },
          "key": {
            "description": "Machine-readable application subcategory key",
            "examples": [
              "Office_Documents"
            ],
            "type": "string"
          },
          "traffic_type": {
            "description": "Type of traffic (QoS) of the app subcategory",
            "examples": [
              "Images"
            ],
            "type": "string"
          }
        },
        "required": [
          "key",
          "display",
          "traffic_type"
        ],
        "type": "object"
      },
      "const_app_subcategory_definitions": {
        "description": "Application subcategory definitions returned by the constants API",
        "items": {
          "$ref": "#/components/schemas/const_app_subcategory_definition"
        },
        "type": "array"
      },
      "const_application_definition": {
        "additionalProperties": false,
        "description": "Application definition recognized by Juniper Devices",
        "properties": {
          "app_id": {
            "description": "Whether an AppID is defined for this application",
            "type": "boolean"
          },
          "app_image_url": {
            "description": "URL of the application icon image, when one is available",
            "examples": [
              "\"\""
            ],
            "type": "string"
          },
          "app_probe": {
            "description": "Whether an application probe is available for this application",
            "type": "boolean"
          },
          "category": {
            "description": "Application category key associated with this application",
            "examples": [
              "FileSharing"
            ],
            "type": "string"
          },
          "group": {
            "description": "Application group display name for this application",
            "examples": [
              "File Sharing"
            ],
            "type": "string"
          },
          "key": {
            "description": "Machine-readable key that identifies the application",
            "examples": [
              "dropbox"
            ],
            "type": "string"
          },
          "name": {
            "description": "Display name of the application",
            "examples": [
              "Dropbox"
            ],
            "type": "string"
          },
          "signature_based": {
            "description": "Whether this application is detected using signatures",
            "type": "boolean"
          },
          "ssr_app_id": {
            "description": "Whether an SSR AppID is defined for this application",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "const_application_definitions": {
        "description": "Application definitions returned by the constants API",
        "items": {
          "$ref": "#/components/schemas/const_application_definition"
        },
        "type": "array"
      },
      "const_countries": {
        "description": "Country definitions returned by the constants API",
        "items": {
          "$ref": "#/components/schemas/const_country"
        },
        "type": "array"
      },
      "const_country": {
        "additionalProperties": false,
        "description": "Country definition returned by the constants API",
        "properties": {
          "alpha2": {
            "description": "Country code, in two-character",
            "examples": [
              "FR"
            ],
            "type": "string"
          },
          "certified": {
            "description": "Whether this country is certified for use in Mist APs",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "name": {
            "description": "Human-readable country name for display",
            "examples": [
              "France"
            ],
            "type": "string"
          },
          "numeric": {
            "description": "Country code, ISO 3166-1 numeric",
            "examples": [
              250
            ],
            "type": "number"
          }
        },
        "required": [
          "alpha2",
          "numeric",
          "name",
          "certified"
        ],
        "type": "object"
      },
      "const_fingerprint_types": {
        "additionalProperties": false,
        "description": "Supported client fingerprint values for NAC matching",
        "properties": {
          "family": {
            "$ref": "#/components/schemas/strings",
            "description": "Device family values available for client fingerprint matching"
          },
          "mfg": {
            "$ref": "#/components/schemas/strings",
            "description": "Manufacturer values available for client fingerprint matching"
          },
          "model": {
            "$ref": "#/components/schemas/strings",
            "description": "Device model values available for client fingerprint matching"
          },
          "os": {
            "$ref": "#/components/schemas/strings",
            "description": "Operating system values available for client fingerprint matching"
          }
        },
        "type": "object"
      },
      "const_gateway_applications_definition": {
        "additionalProperties": false,
        "description": "Gateway application definition returned by the constants API",
        "properties": {
          "app_id": {
            "description": "Whether an AppID is defined for this gateway application",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "key": {
            "description": "Machine-readable key that identifies the gateway application",
            "examples": [
              "4shared"
            ],
            "type": "string"
          },
          "name": {
            "description": "Display name of the gateway application",
            "examples": [
              "4shared"
            ],
            "type": "string"
          },
          "ssr_app_id": {
            "description": "Whether an SSR AppID is defined for this gateway application",
            "examples": [
              true
            ],
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "const_gateway_applications_definitions": {
        "description": "Gateway application definitions returned by the constants API",
        "items": {
          "$ref": "#/components/schemas/const_gateway_applications_definition"
        },
        "type": "array"
      },
      "const_insight_metrics": {
        "additionalProperties": {
          "$ref": "#/components/schemas/const_insight_metrics_property"
        },
        "description": "Property key is the metric name",
        "type": "object"
      },
      "const_insight_metrics_property": {
        "additionalProperties": false,
        "description": "Definition of an insight metric returned by the constants API",
        "properties": {
          "ctype": {
            "$ref": "#/components/schemas/strings",
            "description": "Metric classification type labels for this insight metric"
          },
          "description": {
            "description": "Human-readable description of the insight metric",
            "type": "string"
          },
          "example": {
            "$ref": "#/components/schemas/const_insight_metrics_property_example_any_of",
            "description": "Sample values returned for this insight metric"
          },
          "intervals": {
            "$ref": "#/components/schemas/const_insight_metrics_property_intervals",
            "description": "Supported time intervals and retention windows for this metric"
          },
          "keys": {
            "$ref": "#/components/schemas/const_insight_metrics_property_keys",
            "description": "Additional key metadata for this insight metric"
          },
          "params": {
            "$ref": "#/components/schemas/const_insight_metrics_property_params",
            "description": "Parameters supported when querying this insight metric"
          },
          "report_durations": {
            "$ref": "#/components/schemas/const_insight_metrics_property_report_durations",
            "description": "Supported reporting durations for this insight metric"
          },
          "report_scopes": {
            "$ref": "#/components/schemas/strings",
            "description": "Entity scopes supported when reporting this insight metric"
          },
          "scopes": {
            "$ref": "#/components/schemas/const_insight_metrics_property_scopes",
            "description": "Entity scopes that can be queried for this insight metric"
          },
          "sle_baselined": {
            "description": "Whether the insight metric uses an SLE baseline",
            "type": "boolean"
          },
          "sle_classifiers": {
            "$ref": "#/components/schemas/strings",
            "description": "SLE classifiers associated with this insight metric"
          },
          "type": {
            "description": "Metric data type, such as timeseries",
            "type": "string"
          },
          "unit": {
            "description": "Measurement unit for values returned by this metric",
            "type": "string"
          },
          "values": {
            "$ref": "#/components/schemas/const_insight_metrics_property_values",
            "description": "Enumerated or structured value metadata for this insight metric"
          }
        },
        "type": "object"
      },
      "const_insight_metrics_property_example": {
        "anyOf": [
          {
            "type": "integer"
          },
          {
            "type": "number"
          },
          {
            "type": "string"
          },
          {
            "type": "boolean"
          },
          {
            "type": "null"
          },
          {
            "additionalProperties": true,
            "type": "object"
          }
        ],
        "description": "Example value for an insight metric property"
      },
      "const_insight_metrics_property_example_any_of": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/const_insight_metrics_property_examples"
          },
          {
            "$ref": "#/components/schemas/const_insight_metrics_property_examples_object"
          }
        ],
        "description": "Example values for an insight metric property, as an array or keyed object"
      },
      "const_insight_metrics_property_examples": {
        "description": "List of example values for an insight metric property",
        "items": {
          "$ref": "#/components/schemas/const_insight_metrics_property_example"
        },
        "type": "array"
      },
      "const_insight_metrics_property_examples_object": {
        "additionalProperties": {
          "$ref": "#/components/schemas/const_insight_metrics_property_examples"
        },
        "description": "Object containing named fields, each with array of example values",
        "type": "object"
      },
      "const_insight_metrics_property_interval": {
        "additionalProperties": false,
        "description": "Interval definition for an insight metric",
        "properties": {
          "interval": {
            "description": "Sampling interval length, in seconds",
            "type": "integer"
          },
          "max_age": {
            "description": "Maximum lookback age for this interval, in seconds",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "const_insight_metrics_property_intervals": {
        "additionalProperties": {
          "$ref": "#/components/schemas/const_insight_metrics_property_interval"
        },
        "description": "Property key is the interval (e.g. 10m, 1h, ...)",
        "type": "object"
      },
      "const_insight_metrics_property_keys": {
        "additionalProperties": true,
        "description": "Additional key metadata for an insight metric property",
        "type": "object"
      },
      "const_insight_metrics_property_param": {
        "additionalProperties": false,
        "description": "Query parameter definition for an insight metric",
        "properties": {
          "required": {
            "description": "Whether this query parameter is required",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "const_insight_metrics_property_params": {
        "additionalProperties": {
          "$ref": "#/components/schemas/const_insight_metrics_property_param"
        },
        "description": "Property key is the parameter name",
        "type": "object"
      },
      "const_insight_metrics_property_report_duration": {
        "additionalProperties": false,
        "description": "Report duration definition for an insight metric",
        "properties": {
          "duration": {
            "description": "Report duration length, in seconds",
            "type": "integer"
          },
          "interval": {
            "description": "Sampling interval used for this report duration, in seconds",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "const_insight_metrics_property_report_durations": {
        "additionalProperties": {
          "$ref": "#/components/schemas/const_insight_metrics_property_report_duration"
        },
        "description": "Property key is the duration (e.g. 1d, 1w, ...)",
        "type": "object"
      },
      "const_insight_metrics_property_scope": {
        "description": "enum: `ap`, `client`, `device`, `gateway`, `map`, `msp`, `mxcluster`, `mxedge`, `org`, `otherdevice`, `rssizone`, `sdkclient`, `site`, `switch`, `wlan`, `zone`",
        "enum": [
          "ap",
          "client",
          "device",
          "gateway",
          "map",
          "msp",
          "mxcluster",
          "mxedge",
          "org",
          "otherdevice",
          "rssizone",
          "sdkclient",
          "site",
          "switch",
          "wlan",
          "zone"
        ],
        "type": "string"
      },
      "const_insight_metrics_property_scopes": {
        "description": "Entity scopes supported by an insight metric property",
        "items": {
          "$ref": "#/components/schemas/const_insight_metrics_property_scope"
        },
        "type": "array"
      },
      "const_insight_metrics_property_values": {
        "additionalProperties": true,
        "description": "Enumerated or structured value metadata for an insight metric property",
        "type": "object"
      },
      "const_language": {
        "additionalProperties": false,
        "description": "Language option returned by the constants API",
        "properties": {
          "display": {
            "description": "Localized language display name in the API default locale",
            "examples": [
              "English (US)"
            ],
            "type": "string"
          },
          "display_native": {
            "description": "Language display name in its native locale",
            "examples": [
              "English (US)"
            ],
            "type": "string"
          },
          "key": {
            "description": "Locale key used to select this language",
            "examples": [
              "en-US"
            ],
            "type": "string"
          }
        },
        "required": [
          "display",
          "display_native",
          "key"
        ],
        "type": "object"
      },
      "const_languages": {
        "description": "Language options returned by the constants API",
        "items": {
          "$ref": "#/components/schemas/const_language"
        },
        "type": "array"
      },
      "const_license_type": {
        "additionalProperties": false,
        "description": "License type definition returned by the constants API",
        "properties": {
          "description": {
            "description": "Human-readable description of the license type",
            "examples": [
              "Wired Assurance 12"
            ],
            "type": "string"
          },
          "enforcement_level": {
            "description": "Level at which the license is enforced",
            "enum": [
              "org",
              "site"
            ],
            "type": "string"
          },
          "entitled_licenses": {
            "description": "License type keys this license type entitles",
            "examples": [
              [
                "sub_ex12",
                "sub_sadv1"
              ]
            ],
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "group": {
            "description": "License group this license type belongs to",
            "examples": [
              "SUB-WIRED"
            ],
            "type": "string"
          },
          "includes": {
            "$ref": "#/components/schemas/const_license_type_includes",
            "description": "License SKU components included by this license type"
          },
          "key": {
            "description": "Machine-readable license type key",
            "examples": [
              "sub_ex12"
            ],
            "type": "string"
          },
          "name": {
            "description": "Display name of the license type",
            "examples": [
              "SUB-EX12"
            ],
            "type": "string"
          },
          "type": {
            "description": "License type identifier (SKU)",
            "examples": [
              "SUB-EX12"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_license_type_includes": {
        "description": "License SKU components included by a license type",
        "examples": [
          [
            "sub_ex12a",
            "sub_ex12p"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "const_license_types": {
        "description": "License type definitions returned by the constants API",
        "items": {
          "$ref": "#/components/schemas/const_license_type"
        },
        "type": "array"
      },
      "const_marvis_client_version": {
        "additionalProperties": false,
        "description": "Marvis Client version download entry",
        "properties": {
          "label": {
            "description": "Release label for this Marvis Client version",
            "examples": [
              "default"
            ],
            "type": "string"
          },
          "notes": {
            "description": "Release notes or extra text for this Marvis Client version",
            "type": "string"
          },
          "os": {
            "description": "Operating system supported by this Marvis Client installer",
            "examples": [
              "windows"
            ],
            "type": "string"
          },
          "url": {
            "description": "Download URL for this Marvis Client installer",
            "examples": [
              "https://mobile.mist.com/installers/marvisclient/..."
            ],
            "type": "string"
          },
          "version": {
            "description": "Marvis Client software version for this installer",
            "examples": [
              "0.100.29"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_marvis_client_versions": {
        "description": "Marvis Client installer versions returned by the constants API",
        "items": {
          "$ref": "#/components/schemas/const_marvis_client_version"
        },
        "type": "array"
      },
      "const_marvisclient_event": {
        "additionalProperties": false,
        "description": "A Marvis Client event type definition",
        "properties": {
          "display": {
            "description": "Human-readable name for this Marvis Client event type",
            "examples": [
              "Marvis Client Roamed"
            ],
            "type": "string"
          },
          "key": {
            "description": "Event type key used in Marvis Client event search and count APIs",
            "examples": [
              "MARVISCLIENT_ROAMED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_marvisclient_events": {
        "description": "Marvis Client event type definitions returned by the constants API",
        "items": {
          "$ref": "#/components/schemas/const_marvisclient_event"
        },
        "type": "array"
      },
      "const_state": {
        "additionalProperties": false,
        "description": "State or territory definition returned by the constants API",
        "properties": {
          "iso_code": {
            "description": "ISO subdivision code for the state or territory",
            "examples": [
              "AK"
            ],
            "type": "string"
          },
          "name": {
            "description": "State or territory display name",
            "examples": [
              "Alaska"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_states": {
        "description": "State and territory definitions returned by the constants API",
        "items": {
          "$ref": "#/components/schemas/const_state"
        },
        "type": "array"
      },
      "const_traffic_type": {
        "additionalProperties": false,
        "description": "Traffic type definition returned by the constants API",
        "properties": {
          "display": {
            "description": "Human-readable traffic type label",
            "examples": [
              "VoIP Video"
            ],
            "type": "string"
          },
          "dscp": {
            "description": "Differentiated Services Code Point value used for this traffic type",
            "examples": [
              32
            ],
            "type": "integer"
          },
          "failover_policy": {
            "description": "Failover behavior associated with this traffic type",
            "examples": [
              "non_revertible"
            ],
            "type": "string"
          },
          "max_jitter": {
            "description": "Maximum jitter threshold for this traffic type, in milliseconds",
            "examples": [
              250
            ],
            "type": "integer"
          },
          "max_latency": {
            "description": "Maximum latency threshold for this traffic type, in milliseconds",
            "examples": [
              1500
            ],
            "type": "integer"
          },
          "max_loss": {
            "description": "Maximum packet loss threshold for this traffic type, in percent",
            "examples": [
              35
            ],
            "type": "integer"
          },
          "name": {
            "description": "Machine-readable traffic type name",
            "examples": [
              "voip_video"
            ],
            "type": "string"
          },
          "traffic_class": {
            "description": "Traffic class associated with this traffic type",
            "examples": [
              "medium"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_traffic_types": {
        "description": "Traffic type definitions returned by the constants API",
        "items": {
          "$ref": "#/components/schemas/const_traffic_type"
        },
        "type": "array"
      },
      "const_webhook_topic": {
        "additionalProperties": false,
        "description": "Webhook topic definition returned by the constants API",
        "properties": {
          "allows_single_event_per_message": {
            "description": "Whether this topic can be configured to enforce one event per webhook message",
            "type": "boolean"
          },
          "for_org": {
            "description": "Whether this topic can be used in organization-level webhooks",
            "type": "boolean"
          },
          "has_delivery_results": {
            "description": "Whether delivery-result search is available for this webhook topic",
            "type": "boolean"
          },
          "internal": {
            "description": "Whether this topic is internal and not selectable in site or organization webhooks",
            "type": "boolean"
          },
          "key": {
            "description": "Machine-readable key that identifies the webhook topic",
            "examples": [
              "alarms"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_webhook_topics": {
        "description": "Webhook topic definitions returned by the constants API",
        "items": {
          "$ref": "#/components/schemas/const_webhook_topic"
        },
        "type": "array"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "strings": {
        "description": "Unique string values returned or accepted by this schema",
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      }
    },
    "responses": {
      "ConstApChannels": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApChannelsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_ap_channel"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApChannelsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_ap_channel"
            }
          }
        },
        "description": "AP Channels"
      },
      "ConstApEslVersions": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApEslVersionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_ap_esl_versions"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApEslVersionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_ap_esl_versions"
            }
          }
        },
        "description": "List of Available AP ESL Versions"
      },
      "ConstApLedDefinitions": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApLedDefinitionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_ap_leds"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApLedDefinitionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_ap_leds"
            }
          }
        },
        "description": "List of AP Led Status"
      },
      "ConstAppCategoryDefinitions": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstAppCategoryDefinitionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_app_category_definitions"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstAppCategoryDefinitionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_app_category_definitions"
            }
          }
        },
        "description": "List of Application Categories Definitions"
      },
      "ConstAppSubCategoryDefinitions": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstAppSubCategoryDefinitionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_app_subcategory_definitions"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstAppSubCategoryDefinitionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_app_subcategory_definitions"
            }
          }
        },
        "description": "List of Application Sub-categories Definitions"
      },
      "ConstApplications": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApplicationsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_application_definitions"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApplicationsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_application_definitions"
            }
          }
        },
        "description": "List of Applications"
      },
      "ConstCountries": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstCountriesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_countries"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstCountriesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_countries"
            }
          }
        },
        "description": "List of Countries"
      },
      "ConstFingerprintTypes": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstFingerprintTypesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_fingerprint_types"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstFingerprintTypesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_fingerprint_types"
            }
          }
        },
        "description": "List of Fingerprint Types"
      },
      "ConstGatewayApplications": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstGatewayApplicationsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_gateway_applications_definitions"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstGatewayApplicationsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_gateway_applications_definitions"
            }
          }
        },
        "description": "List of Alarm Definitions"
      },
      "ConstInsightMetrics": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstInsightMetricsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_insight_metrics"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstInsightMetricsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_insight_metrics"
            }
          }
        },
        "description": "Insight Metrics Definition"
      },
      "ConstLanguages": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstLanguagesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_languages"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstLanguagesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_languages"
            }
          }
        },
        "description": "List of Languages"
      },
      "ConstLicenseTypes": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstLicenseTypesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_license_types"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstLicenseTypesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_license_types"
            }
          }
        },
        "description": "List of License Types"
      },
      "ConstMarvisClientEvents": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstMarvisClientEventsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_marvisclient_events"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstMarvisClientEventsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_marvisclient_events"
            }
          }
        },
        "description": "List of Marvis Client event type definitions"
      },
      "ConstMarvisClientVersions": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstMarvisClientVersionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_marvis_client_versions"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstMarvisClientVersionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_marvis_client_versions"
            }
          }
        },
        "description": "List of Webhook Topics"
      },
      "ConstStates": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstStatesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_states"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstStatesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_states"
            }
          }
        },
        "description": "List of Countries"
      },
      "ConstTrafficTypes": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstTrafficTypesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_traffic_types"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstTrafficTypesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_traffic_types"
            }
          }
        },
        "description": "List of Traffic Types"
      },
      "ConstWebhookTopics": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstWebhookTopicsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_webhook_topics"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstWebhookTopicsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_webhook_topics"
            }
          }
        },
        "description": "List of Webhook Topics"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      }
    },
    "parameters": {
      "country_code": {
        "description": "Country code, in two-character",
        "in": "query",
        "name": "country_code",
        "schema": {
          "examples": [
            "US"
          ],
          "pattern": "^[a-zA-Z]{2}$",
          "type": "string"
        }
      }
    },
    "examples": {
      "ConstApChannelsExample": {
        "value": {
          "band24_40mhz_allowed": true,
          "band24_channels": {
            "20": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11
            ],
            "40": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11
            ]
          },
          "band24_enabled": true,
          "band5_channels": {
            "20": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161,
              165
            ],
            "40": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161
            ],
            "80": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161
            ],
            "dfs": [
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144
            ],
            "outdoor": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161,
              165
            ]
          },
          "band5_enabled": true,
          "band6_channels": {
            "160": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221
            ],
            "20": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221,
              225,
              229,
              233
            ],
            "40": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221,
              225,
              229
            ],
            "80": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221
            ],
            "psc": [
              5,
              21,
              37,
              53,
              69,
              85,
              101,
              117,
              133,
              149,
              165,
              181,
              197,
              213,
              229
            ]
          },
          "band6_enabled": true,
          "certified": true,
          "code": 840,
          "dfs_ok": true,
          "key": "US",
          "name": "United States",
          "uses": "US_FCC"
        }
      },
      "ConstApEslVersionsExample": {
        "value": [
          {
            "esl_version": "2.5.1",
            "model": "AP34"
          },
          {
            "esl_version": "2.5.0",
            "model": "AP43"
          }
        ]
      },
      "ConstApLedDefinitionsExample": {
        "value": [
          {
            "code": "01",
            "description": "LED not working",
            "key": "LED_FAILURE",
            "name": "LED Failure"
          }
        ]
      },
      "ConstAppCategoryDefinitionsExample": {
        "value": [
          {
            "display": "Images",
            "filters": {
              "srx": [
                "Enhanced_Images_Media",
                "Enhanced_Web_Images",
                "Enhanced_Image_Servers"
              ]
            },
            "key": "Images"
          },
          {
            "display": "Standard",
            "includes": [
              "Adult",
              "FileSharing",
              "Games",
              "Images",
              "Malware",
              "NewsAndReference",
              "Recreation",
              "Religion",
              "Security",
              "Sports",
              "Technology",
              "Violence"
            ],
            "key": "Standard"
          }
        ]
      },
      "ConstAppSubCategoryDefinitionsExample": {
        "value": [
          {
            "display": "Office Documents",
            "key": "Office_Documents",
            "traffic_type": "data_interactive"
          }
        ]
      },
      "ConstApplicationsExample": {
        "value": [
          {
            "app_id": true,
            "app_image_url": "",
            "app_probe": true,
            "category": "FileSharing",
            "group": "File Sharing",
            "key": "dropbox",
            "name": "Dropbox",
            "signature_based": true,
            "ssr_app_id": true
          }
        ]
      },
      "ConstCountriesExample": {
        "value": [
          {
            "alpha2": "FR",
            "certified": true,
            "name": "France",
            "numeric": 250
          }
        ]
      },
      "ConstFingerprintTypesExample": {
        "value": {
          "family": [
            "2Wire Router",
            "3Com Switches",
            "ACTi Corporation Network Camera",
            "APC Video Equipment",
            "APC-Schneider UPS",
            "Aastra VoIP",
            "Acer",
            "Actiontec Wireless Router",
            "Aerohive Access Point",
            "Alcatel",
            "Alcatel VoIP",
            "Amazon Echo"
          ],
          "mfg": [
            "100fio Networks Technology llc",
            "10NET COMMUNICATIONS/DCA",
            "11wave Technonlogy Co.,Ltd",
            "12Sided Technology, LLC",
            "1Net Corporation",
            "1Verge Internet Technology (Beijing) Co., Ltd."
          ],
          "model": [
            "10T Lite",
            "10T Pro",
            "10th Gen",
            "11 Lite",
            "11 Pro",
            "11 Pro Max"
          ],
          "os": [
            "Android",
            "Apple OS",
            "Asha Platform OS"
          ]
        }
      },
      "ConstGatewayApplicationsExample": {
        "value": [
          {
            "app_id": true,
            "key": "4shared",
            "name": "4shared",
            "ssr_app_id": true
          }
        ]
      },
      "ConstInsightMetricsExample": {
        "value": {
          "bytes": {
            "description": "Aggregated bytes over time",
            "example": [
              185,
              197,
              250
            ],
            "intervals": {
              "10m": {
                "interval": 600,
                "max_age": 86400
              },
              "1h": {
                "interval": 3600,
                "max_age": 1209600
              }
            },
            "report_durations": {
              "1d": {
                "duration": 86400,
                "interval": 3600
              },
              "1w": {
                "duration": 604800,
                "interval": 3600
              }
            },
            "report_scopes": [
              "site",
              "org"
            ],
            "scopes": [
              "site",
              "ap",
              "client"
            ],
            "type": "timeseries",
            "unit": "byte"
          },
          "num_clients": {
            "description": "Number of client over time",
            "example": [
              18,
              null,
              15
            ],
            "intervals": {
              "10m": {
                "interval": 600,
                "max_age": 86400
              },
              "1h": {
                "interval": 3600,
                "max_age": 1209600
              }
            },
            "report_durations": {
              "1d": {
                "duration": 86400,
                "interval": 3600
              },
              "1w": {
                "duration": 604800,
                "interval": 3600
              }
            },
            "report_scopes": [
              "site",
              "org"
            ],
            "scopes": [
              "site",
              "ap",
              "device"
            ],
            "type": "timeseries",
            "unit": ""
          }
        }
      },
      "ConstLanguagesExample": {
        "value": [
          {
            "display": "English (US)",
            "display_native": "English (US)",
            "key": "en-US"
          }
        ]
      },
      "ConstLicenseTypesExample": {
        "value": [
          {
            "description": "Wired Assurance 12",
            "includes": [
              "sub_ex12a",
              "sub_ex12p"
            ],
            "key": "sub_ex12",
            "name": "SUB-EX12"
          }
        ]
      },
      "ConstMarvisClientEventsExample": {
        "value": [
          {
            "display": "Marvis Client Roamed",
            "key": "MARVISCLIENT_ROAMED"
          }
        ]
      },
      "ConstMarvisClientVersionsExample": {
        "value": [
          {
            "label": "latest",
            "notes": "",
            "os": "android",
            "url": "https://mobile.mist.com/installers/marvisclient/android/1.1.9/marvisclient-installer.apk",
            "version": "1.1.9"
          },
          {
            "label": "rc1",
            "notes": "",
            "os": "macos",
            "url": "https://mobile.mist.com/installers/marvisclient/macos/0.100.29/marvisclient-installer.dmg",
            "version": "0.100.29"
          },
          {
            "label": "default",
            "notes": "",
            "os": "windows",
            "url": "https://mobile.mist.com/installers/marvisclient/windows/0.100.26/marvisclient-installer.zip",
            "version": "0.100.26"
          }
        ]
      },
      "ConstStatesExample": {
        "value": [
          {
            "iso_code": "AK",
            "name": "Alaska"
          },
          {
            "iso_code": "AL",
            "name": "Alabama"
          },
          {
            "iso_code": "AS",
            "name": "American Samoa"
          },
          {
            "iso_code": "AZ",
            "name": "Arizona"
          },
          {
            "iso_code": "CA",
            "name": "California"
          }
        ]
      },
      "ConstTrafficTypesExample": {
        "value": [
          {
            "display": "VoIP Video",
            "dscp": 32,
            "failover_policy": "non_revertible",
            "max_jitter": 250,
            "max_latency": 1500,
            "max_loss": 35,
            "name": "voip_video",
            "traffic_class": "medium"
          }
        ]
      },
      "ConstWebhookTopicsExample": {
        "value": [
          {
            "for_org": true,
            "has_delivery_results": true,
            "key": "alarms"
          },
          {
            "key": "asset-raw-rssi"
          },
          {
            "for_org": true,
            "has_delivery_results": true,
            "key": "audits"
          },
          {
            "for_org": true,
            "key": "client-info"
          },
          {
            "for_org": true,
            "key": "client-join"
          },
          {
            "key": "client-latency"
          },
          {
            "for_org": true,
            "key": "client-sessions"
          },
          {
            "allows_single_event_per_message": true,
            "for_org": true,
            "key": "device-events"
          },
          {
            "for_org": true,
            "has_delivery_results": true,
            "key": "device-updowns"
          },
          {
            "for_org": true,
            "key": "minis-reachability"
          }
        ]
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
