{
  "openapi": "3.1.0",
  "info": {
    "title": "Constants Definitions",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve constant values that can be used in different parts of the configuration",
      "name": "Constants Definitions"
    }
  ],
  "paths": {
    "/api/v1/const/ap_channels": {
      "get": {
        "description": "Get List of List of Available channels per country code",
        "operationId": "listApChannels",
        "parameters": [
          {
            "$ref": "#/components/parameters/country_code"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstApChannels"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listApChannels",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/ap_esl_versions": {
      "get": {
        "description": "Get Available AP ESL Versions",
        "operationId": "listApLEslVersions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstApEslVersions"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listApLEslVersions",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/ap_led_status": {
      "get": {
        "description": "Get List of AP LED definition",
        "operationId": "listApLedDefinition",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstApLedDefinitions"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listApLedDefinition",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/app_categories": {
      "get": {
        "description": "Get List of definitions of all the supported Application Categories. The example field contains an example payload as you would receive in the alarm webhook output.",
        "operationId": "listAppCategoryDefinitions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstAppCategoryDefinitions"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listAppCategoryDefinitions",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/app_subcategories": {
      "get": {
        "description": "Get List of definitions of all the supported Application sub-categories. The example field contains an example payload as you would receive in the alarm webhook output.",
        "operationId": "listAppSubCategoryDefinitions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstAppSubCategoryDefinitions"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listAppSubCategoryDefinitions",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/applications": {
      "get": {
        "description": "Get List of a list of applications that Juniper-Mist APs recognize",
        "operationId": "listApplications",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstApplications"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listApplications",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/countries": {
      "get": {
        "description": "Get List of available Country Codes",
        "operationId": "listCountryCodes",
        "parameters": [
          {
            "description": "Will include more country codes if true",
            "in": "query",
            "name": "extend",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstCountries"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listCountryCodes",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/fingerprint_types": {
      "get": {
        "description": "Get List of supported fingerprint attribute values\n* family\n* model\n* mfg\n* os_type\n\nThis information can be used in the [Mist NAC Rules]($h/Orgs%20NAC%20Rules/_overview) `matching` attribute.",
        "operationId": "listFingerprintTypes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstFingerprintTypes"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listFingerprintTypes",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/gateway_applications": {
      "get": {
        "description": "Get the full list of applications that we recognize",
        "operationId": "listGatewayApplications",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstGatewayApplications"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listGatewayApplications",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/insight_metrics": {
      "get": {
        "description": "List Insight Metrics",
        "operationId": "listInsightMetrics",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstInsightMetrics"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listInsightMetrics",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/languages": {
      "get": {
        "description": "Get List of Languages",
        "operationId": "listSiteLanguages",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstLanguages"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteLanguages",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/license_types": {
      "get": {
        "description": "Get License Types",
        "operationId": "listLicenseTypes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstLicenseTypes"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listLicenseTypes",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/marvisclient_versions": {
      "get": {
        "description": "Get List of the available Marvis Client Versions.",
        "operationId": "listMarvisClientVersions",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstMarvisClientVersions"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listMarvisClientVersions",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/states": {
      "get": {
        "description": "Get List of ISO States based on country code",
        "operationId": "listStates",
        "parameters": [
          {
            "description": "Country code, in [two-character](/#operations/listCountryCodes)",
            "in": "query",
            "name": "country_code",
            "required": true,
            "schema": {
              "examples": [
                "US"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstStates"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listStates",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/traffic_types": {
      "get": {
        "description": "Get List of identified traffic",
        "operationId": "listTrafficTypes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstTrafficTypes"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listTrafficTypes",
        "tags": [
          "Constants Definitions"
        ]
      }
    },
    "/api/v1/const/webhook_topics": {
      "get": {
        "description": "Get List of the available Webhook Topics.",
        "operationId": "listWebhookTopics",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConstWebhookTopics"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listWebhookTopics",
        "tags": [
          "Constants Definitions"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ap_channel_band24_channel": {
        "items": {
          "examples": [
            1
          ],
          "type": "integer"
        },
        "type": "array"
      },
      "ap_channel_band24_channels": {
        "additionalProperties": {
          "$ref": "#/components/schemas/ap_channel_band24_channel"
        },
        "description": "Property key is the channel width",
        "examples": [
          {
            "20": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11
            ],
            "40": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11
            ]
          }
        ],
        "type": "object"
      },
      "ap_channel_band5_channel": {
        "items": {
          "examples": [
            36
          ],
          "type": "integer"
        },
        "type": "array"
      },
      "ap_channel_band5_channels": {
        "additionalProperties": {
          "$ref": "#/components/schemas/ap_channel_band5_channel"
        },
        "description": "Property key is the channel width",
        "examples": [
          {
            "20": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161,
              165
            ],
            "40": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161
            ],
            "80": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161
            ],
            "dfs": [
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144
            ],
            "outdoor": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161,
              165
            ]
          }
        ],
        "type": "object"
      },
      "ap_channel_band6_channel": {
        "items": {
          "examples": [
            1
          ],
          "type": "integer"
        },
        "type": "array"
      },
      "ap_channel_band6_channels": {
        "additionalProperties": {
          "$ref": "#/components/schemas/ap_channel_band6_channel"
        },
        "description": "Property key is the channel width",
        "examples": [
          {
            "160": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221
            ],
            "20": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221,
              225,
              229,
              233
            ],
            "40": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221,
              225,
              229
            ],
            "80": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221
            ],
            "psc": [
              5,
              21,
              37,
              53,
              69,
              85,
              101,
              117,
              133,
              149,
              165,
              181,
              197,
              213,
              229
            ]
          }
        ],
        "type": "object"
      },
      "const_ap_channel": {
        "additionalProperties": false,
        "properties": {
          "band24_40mhz_allowed": {
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "band24_channels": {
            "$ref": "#/components/schemas/ap_channel_band24_channels"
          },
          "band24_enabled": {
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "band5_channels": {
            "$ref": "#/components/schemas/ap_channel_band5_channels"
          },
          "band5_enabled": {
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "band6_channels": {
            "$ref": "#/components/schemas/ap_channel_band6_channels"
          },
          "band6_enabled": {
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "certified": {
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "code": {
            "description": "Country code, ISO 3166-1 numeric",
            "examples": [
              840
            ],
            "type": "integer"
          },
          "dfs_ok": {
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "key": {
            "description": "Country code, in two-character",
            "examples": [
              "US"
            ],
            "type": "string"
          },
          "name": {
            "examples": [
              "United States"
            ],
            "type": "string"
          },
          "uses": {
            "examples": [
              "US_FCC"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_ap_esl_version": {
        "additionalProperties": false,
        "properties": {
          "esl_version": {
            "examples": [
              "2.5.1"
            ],
            "readOnly": true,
            "type": "string"
          },
          "model": {
            "examples": [
              "AP34"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_ap_esl_versions": {
        "items": {
          "$ref": "#/components/schemas/const_ap_esl_version"
        },
        "type": "array"
      },
      "const_ap_led": {
        "additionalProperties": false,
        "properties": {
          "code": {
            "examples": [
              "01"
            ],
            "type": "string"
          },
          "description": {
            "examples": [
              "LED not working"
            ],
            "type": "string"
          },
          "key": {
            "examples": [
              "LED_FAILURE"
            ],
            "type": "string"
          },
          "name": {
            "examples": [
              "LED Failure"
            ],
            "type": "string"
          }
        },
        "required": [
          "code",
          "key",
          "name",
          "description"
        ],
        "type": "object"
      },
      "const_ap_leds": {
        "items": {
          "$ref": "#/components/schemas/const_ap_led"
        },
        "type": "array"
      },
      "const_app_category_definition": {
        "additionalProperties": false,
        "properties": {
          "display": {
            "description": "Description of the app category",
            "examples": [
              "Images"
            ],
            "type": "string"
          },
          "filters": {
            "$ref": "#/components/schemas/const_app_category_definition_filters"
          },
          "includes": {
            "$ref": "#/components/schemas/const_app_category_definition_includes"
          },
          "key": {
            "description": "Key name of the app category",
            "examples": [
              "Images"
            ],
            "type": "string"
          }
        },
        "required": [
          "key",
          "display"
        ],
        "type": "object"
      },
      "const_app_category_definition_filters": {
        "additionalProperties": false,
        "examples": [
          {
            "srx": [
              "Enhanced_Images_Media",
              "Enhanced_Web_Images",
              "Enhanced_Image_Servers"
            ]
          }
        ],
        "properties": {
          "srx": {
            "$ref": "#/components/schemas/strings"
          },
          "ssr": {
            "$ref": "#/components/schemas/strings"
          }
        },
        "type": "object"
      },
      "const_app_category_definition_includes": {
        "description": "List of other App Categories contained by this one",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "const_app_category_definitions": {
        "items": {
          "$ref": "#/components/schemas/const_app_category_definition"
        },
        "type": "array"
      },
      "const_app_subcategory_definition": {
        "additionalProperties": false,
        "properties": {
          "display": {
            "description": "Description of the app subcategory",
            "examples": [
              "Office Document"
            ],
            "type": "string"
          },
          "key": {
            "description": "Key name of the app subcategory",
            "examples": [
              "Office_Documents"
            ],
            "type": "string"
          },
          "traffic_type": {
            "description": "Type of traffic (QoS) of the app subcategory",
            "examples": [
              "Images"
            ],
            "type": "string"
          }
        },
        "required": [
          "key",
          "display",
          "traffic_type"
        ],
        "type": "object"
      },
      "const_app_subcategory_definitions": {
        "items": {
          "$ref": "#/components/schemas/const_app_subcategory_definition"
        },
        "type": "array"
      },
      "const_application_definition": {
        "additionalProperties": false,
        "properties": {
          "app_id": {
            "type": "boolean"
          },
          "app_image_url": {
            "examples": [
              "\"\""
            ],
            "type": "string"
          },
          "app_probe": {
            "type": "boolean"
          },
          "category": {
            "examples": [
              "FileSharing"
            ],
            "type": "string"
          },
          "group": {
            "examples": [
              "File Sharing"
            ],
            "type": "string"
          },
          "key": {
            "examples": [
              "dropbox"
            ],
            "type": "string"
          },
          "name": {
            "examples": [
              "Dropbox"
            ],
            "type": "string"
          },
          "signature_based": {
            "type": "boolean"
          },
          "ssr_app_id": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "const_application_definitions": {
        "items": {
          "$ref": "#/components/schemas/const_application_definition"
        },
        "type": "array"
      },
      "const_countries": {
        "items": {
          "$ref": "#/components/schemas/const_country"
        },
        "type": "array"
      },
      "const_country": {
        "additionalProperties": false,
        "properties": {
          "alpha2": {
            "description": "Country code, in two-character",
            "examples": [
              "FR"
            ],
            "type": "string"
          },
          "certified": {
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "name": {
            "examples": [
              "France"
            ],
            "type": "string"
          },
          "numeric": {
            "description": "Country code, ISO 3166-1 numeric",
            "examples": [
              250
            ],
            "type": "number"
          }
        },
        "required": [
          "alpha2",
          "numeric",
          "name",
          "certified"
        ],
        "type": "object"
      },
      "const_fingerprint_types": {
        "additionalProperties": false,
        "properties": {
          "family": {
            "$ref": "#/components/schemas/strings"
          },
          "mfg": {
            "$ref": "#/components/schemas/strings"
          },
          "model": {
            "$ref": "#/components/schemas/strings"
          },
          "os": {
            "$ref": "#/components/schemas/strings"
          }
        },
        "type": "object"
      },
      "const_gateway_applications_definition": {
        "additionalProperties": false,
        "properties": {
          "app_id": {
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "key": {
            "examples": [
              "4shared"
            ],
            "type": "string"
          },
          "name": {
            "examples": [
              "4shared"
            ],
            "type": "string"
          },
          "ssr_app_id": {
            "examples": [
              true
            ],
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "const_gateway_applications_definitions": {
        "items": {
          "$ref": "#/components/schemas/const_gateway_applications_definition"
        },
        "type": "array"
      },
      "const_insight_metrics": {
        "additionalProperties": {
          "$ref": "#/components/schemas/const_insight_metrics_property"
        },
        "description": "Property key is the metric name",
        "type": "object"
      },
      "const_insight_metrics_property": {
        "additionalProperties": false,
        "properties": {
          "ctype": {
            "$ref": "#/components/schemas/strings"
          },
          "description": {
            "type": "string"
          },
          "example": {
            "$ref": "#/components/schemas/const_insight_metrics_property_example_any_of"
          },
          "intervals": {
            "$ref": "#/components/schemas/const_insight_metrics_property_intervals"
          },
          "keys": {
            "$ref": "#/components/schemas/const_insight_metrics_property_keys"
          },
          "params": {
            "$ref": "#/components/schemas/const_insight_metrics_property_params"
          },
          "report_durations": {
            "$ref": "#/components/schemas/const_insight_metrics_property_report_durations"
          },
          "report_scopes": {
            "$ref": "#/components/schemas/strings"
          },
          "scopes": {
            "$ref": "#/components/schemas/const_insight_metrics_property_scopes"
          },
          "sle_baselined": {
            "type": "boolean"
          },
          "sle_classifiers": {
            "$ref": "#/components/schemas/strings"
          },
          "type": {
            "type": "string"
          },
          "unit": {
            "type": "string"
          },
          "values": {
            "$ref": "#/components/schemas/const_insight_metrics_property_values"
          }
        },
        "type": "object"
      },
      "const_insight_metrics_property_example": {
        "anyOf": [
          {
            "type": "integer"
          },
          {
            "type": "number"
          },
          {
            "type": "string"
          },
          {
            "type": "boolean"
          },
          {
            "type": "null"
          },
          {
            "additionalProperties": true,
            "type": "object"
          }
        ]
      },
      "const_insight_metrics_property_example_any_of": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/const_insight_metrics_property_examples"
          },
          {
            "$ref": "#/components/schemas/const_insight_metrics_property_examples_object"
          }
        ]
      },
      "const_insight_metrics_property_examples": {
        "items": {
          "$ref": "#/components/schemas/const_insight_metrics_property_example"
        },
        "type": "array"
      },
      "const_insight_metrics_property_examples_object": {
        "additionalProperties": {
          "$ref": "#/components/schemas/const_insight_metrics_property_examples"
        },
        "description": "Object containing named fields, each with array of example values",
        "type": "object"
      },
      "const_insight_metrics_property_interval": {
        "additionalProperties": false,
        "properties": {
          "interval": {
            "type": "integer"
          },
          "max_age": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "const_insight_metrics_property_intervals": {
        "additionalProperties": {
          "$ref": "#/components/schemas/const_insight_metrics_property_interval"
        },
        "description": "Property key is the interval (e.g. 10m, 1h, ...)",
        "type": "object"
      },
      "const_insight_metrics_property_keys": {
        "additionalProperties": true,
        "type": "object"
      },
      "const_insight_metrics_property_param": {
        "additionalProperties": false,
        "properties": {
          "required": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "const_insight_metrics_property_params": {
        "additionalProperties": {
          "$ref": "#/components/schemas/const_insight_metrics_property_param"
        },
        "description": "Property key is the parameter name",
        "type": "object"
      },
      "const_insight_metrics_property_report_duration": {
        "additionalProperties": false,
        "properties": {
          "duration": {
            "type": "integer"
          },
          "interval": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "const_insight_metrics_property_report_durations": {
        "additionalProperties": {
          "$ref": "#/components/schemas/const_insight_metrics_property_report_duration"
        },
        "description": "Property key is the duration (e.g. 1d, 1w, ...)",
        "type": "object"
      },
      "const_insight_metrics_property_scope": {
        "description": "enum: `ap`, `client`, `device`, `gateway`, `map`, `msp`, `mxcluster`, `mxedge`, `org`, `otherdevice`, `rssizone`, `sdkclient`, `site`, `switch`, `wlan`, `zone`",
        "enum": [
          "ap",
          "client",
          "device",
          "gateway",
          "map",
          "msp",
          "mxcluster",
          "mxedge",
          "org",
          "otherdevice",
          "rssizone",
          "sdkclient",
          "site",
          "switch",
          "wlan",
          "zone"
        ],
        "type": "string"
      },
      "const_insight_metrics_property_scopes": {
        "items": {
          "$ref": "#/components/schemas/const_insight_metrics_property_scope"
        },
        "type": "array"
      },
      "const_insight_metrics_property_values": {
        "additionalProperties": true,
        "type": "object"
      },
      "const_language": {
        "additionalProperties": false,
        "properties": {
          "display": {
            "examples": [
              "English (US)"
            ],
            "type": "string"
          },
          "display_native": {
            "examples": [
              "English (US)"
            ],
            "type": "string"
          },
          "key": {
            "examples": [
              "en-US"
            ],
            "type": "string"
          }
        },
        "required": [
          "display",
          "display_native",
          "key"
        ],
        "type": "object"
      },
      "const_languages": {
        "items": {
          "$ref": "#/components/schemas/const_language"
        },
        "type": "array"
      },
      "const_license_type": {
        "additionalProperties": false,
        "properties": {
          "description": {
            "examples": [
              "Wired Assurance 12"
            ],
            "type": "string"
          },
          "includes": {
            "$ref": "#/components/schemas/const_license_type_includes"
          },
          "key": {
            "examples": [
              "sub_ex12"
            ],
            "type": "string"
          },
          "name": {
            "examples": [
              "SUB-EX12"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_license_type_includes": {
        "examples": [
          [
            "sub_ex12a",
            "sub_ex12p"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "const_license_types": {
        "items": {
          "$ref": "#/components/schemas/const_license_type"
        },
        "type": "array"
      },
      "const_marvis_client_version": {
        "additionalProperties": false,
        "properties": {
          "label": {
            "examples": [
              "default"
            ],
            "type": "string"
          },
          "notes": {
            "type": "string"
          },
          "os": {
            "description": "Client OS",
            "examples": [
              "windows"
            ],
            "type": "string"
          },
          "url": {
            "description": "Client download url",
            "examples": [
              "https://mobile.mist.com/installers/marvisclient/..."
            ],
            "type": "string"
          },
          "version": {
            "description": "Client version",
            "examples": [
              "0.100.29"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_marvis_client_versions": {
        "items": {
          "$ref": "#/components/schemas/const_marvis_client_version"
        },
        "type": "array"
      },
      "const_state": {
        "additionalProperties": false,
        "properties": {
          "iso_code": {
            "examples": [
              "AK"
            ],
            "type": "string"
          },
          "name": {
            "examples": [
              "Alaska"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_states": {
        "items": {
          "$ref": "#/components/schemas/const_state"
        },
        "type": "array"
      },
      "const_traffic_type": {
        "additionalProperties": false,
        "properties": {
          "display": {
            "examples": [
              "VoIP Video"
            ],
            "type": "string"
          },
          "dscp": {
            "examples": [
              32
            ],
            "type": "integer"
          },
          "failover_policy": {
            "examples": [
              "non_revertible"
            ],
            "type": "string"
          },
          "max_jitter": {
            "examples": [
              250
            ],
            "type": "integer"
          },
          "max_latency": {
            "examples": [
              1500
            ],
            "type": "integer"
          },
          "max_loss": {
            "examples": [
              35
            ],
            "type": "integer"
          },
          "name": {
            "examples": [
              "voip_video"
            ],
            "type": "string"
          },
          "traffic_class": {
            "examples": [
              "medium"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_traffic_types": {
        "items": {
          "$ref": "#/components/schemas/const_traffic_type"
        },
        "type": "array"
      },
      "const_webhook_topic": {
        "additionalProperties": false,
        "properties": {
          "allows_single_event_per_message": {
            "description": "supports single event per message results",
            "type": "boolean"
          },
          "for_org": {
            "description": "Can be used in org webhooks, optional",
            "type": "boolean"
          },
          "has_delivery_results": {
            "description": "Supports webhook delivery results /api/v1/:scope/:scope_id/webhooks/:webhook_id/events/search",
            "type": "boolean"
          },
          "internal": {
            "description": "Internal topic (not selectable in site/org webhooks)",
            "type": "boolean"
          },
          "key": {
            "description": "Webhook topic name",
            "examples": [
              "alarms"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "const_webhook_topics": {
        "items": {
          "$ref": "#/components/schemas/const_webhook_topic"
        },
        "type": "array"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "strings": {
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      }
    },
    "responses": {
      "ConstApChannels": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApChannelsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_ap_channel"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApChannelsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_ap_channel"
            }
          }
        },
        "description": "AP Channels"
      },
      "ConstApEslVersions": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApEslVersionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_ap_esl_versions"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApEslVersionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_ap_esl_versions"
            }
          }
        },
        "description": "List of Available AP ESL Versions"
      },
      "ConstApLedDefinitions": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApLedDefinitionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_ap_leds"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApLedDefinitionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_ap_leds"
            }
          }
        },
        "description": "List of AP Led Status"
      },
      "ConstAppCategoryDefinitions": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstAppCategoryDefinitionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_app_category_definitions"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstAppCategoryDefinitionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_app_category_definitions"
            }
          }
        },
        "description": "List of Application Categories Definitions"
      },
      "ConstAppSubCategoryDefinitions": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstAppSubCategoryDefinitionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_app_subcategory_definitions"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstAppSubCategoryDefinitionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_app_subcategory_definitions"
            }
          }
        },
        "description": "List of Application Sub-categories Definitions"
      },
      "ConstApplications": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApplicationsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_application_definitions"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstApplicationsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_application_definitions"
            }
          }
        },
        "description": "List of Applications"
      },
      "ConstCountries": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstCountriesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_countries"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstCountriesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_countries"
            }
          }
        },
        "description": "List of Countries"
      },
      "ConstFingerprintTypes": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstFingerprintTypesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_fingerprint_types"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstFingerprintTypesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_fingerprint_types"
            }
          }
        },
        "description": "List of Fingerprint Types"
      },
      "ConstGatewayApplications": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstGatewayApplicationsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_gateway_applications_definitions"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstGatewayApplicationsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_gateway_applications_definitions"
            }
          }
        },
        "description": "List of Alarm Definitions"
      },
      "ConstInsightMetrics": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstInsightMetricsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_insight_metrics"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstInsightMetricsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_insight_metrics"
            }
          }
        },
        "description": "Insight Metrics Definition"
      },
      "ConstLanguages": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstLanguagesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_languages"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstLanguagesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_languages"
            }
          }
        },
        "description": "List of Languages"
      },
      "ConstLicenseTypes": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstLicenseTypesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_license_types"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstLicenseTypesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_license_types"
            }
          }
        },
        "description": "List of License Types"
      },
      "ConstMarvisClientVersions": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstMarvisClientVersionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_marvis_client_versions"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstMarvisClientVersionsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_marvis_client_versions"
            }
          }
        },
        "description": "List of Webhook Topics"
      },
      "ConstStates": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstStatesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_states"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstStatesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_states"
            }
          }
        },
        "description": "List of Countries"
      },
      "ConstTrafficTypes": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstTrafficTypesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_traffic_types"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstTrafficTypesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_traffic_types"
            }
          }
        },
        "description": "List of Traffic Types"
      },
      "ConstWebhookTopics": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstWebhookTopicsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_webhook_topics"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConstWebhookTopicsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/const_webhook_topics"
            }
          }
        },
        "description": "List of Webhook Topics"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      }
    },
    "parameters": {
      "country_code": {
        "description": "Country code, in two-character",
        "in": "query",
        "name": "country_code",
        "schema": {
          "examples": [
            "US"
          ],
          "pattern": "^[a-zA-Z]{2}$",
          "type": "string"
        }
      }
    },
    "examples": {
      "ConstApChannelsExample": {
        "value": {
          "band24_40mhz_allowed": true,
          "band24_channels": {
            "20": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11
            ],
            "40": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11
            ]
          },
          "band24_enabled": true,
          "band5_channels": {
            "20": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161,
              165
            ],
            "40": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161
            ],
            "80": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161
            ],
            "dfs": [
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144
            ],
            "outdoor": [
              36,
              40,
              44,
              48,
              52,
              56,
              60,
              64,
              100,
              104,
              108,
              112,
              116,
              120,
              124,
              128,
              132,
              136,
              140,
              144,
              149,
              153,
              157,
              161,
              165
            ]
          },
          "band5_enabled": true,
          "band6_channels": {
            "160": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221
            ],
            "20": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221,
              225,
              229,
              233
            ],
            "40": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221,
              225,
              229
            ],
            "80": [
              1,
              5,
              9,
              13,
              17,
              21,
              25,
              29,
              33,
              37,
              41,
              45,
              49,
              53,
              57,
              61,
              65,
              69,
              73,
              77,
              81,
              85,
              89,
              93,
              97,
              101,
              105,
              109,
              113,
              117,
              121,
              125,
              129,
              133,
              137,
              141,
              145,
              149,
              153,
              157,
              161,
              165,
              169,
              173,
              177,
              181,
              185,
              189,
              193,
              197,
              201,
              205,
              209,
              213,
              217,
              221
            ],
            "psc": [
              5,
              21,
              37,
              53,
              69,
              85,
              101,
              117,
              133,
              149,
              165,
              181,
              197,
              213,
              229
            ]
          },
          "band6_enabled": true,
          "certified": true,
          "code": 840,
          "dfs_ok": true,
          "key": "US",
          "name": "United States",
          "uses": "US_FCC"
        }
      },
      "ConstApEslVersionsExample": {
        "value": [
          {
            "esl_version": "2.5.1",
            "model": "AP34"
          },
          {
            "esl_version": "2.5.0",
            "model": "AP43"
          }
        ]
      },
      "ConstApLedDefinitionsExample": {
        "value": [
          {
            "code": "01",
            "description": "LED not working",
            "key": "LED_FAILURE",
            "name": "LED Failure"
          }
        ]
      },
      "ConstAppCategoryDefinitionsExample": {
        "value": [
          {
            "display": "Images",
            "filters": {
              "srx": [
                "Enhanced_Images_Media",
                "Enhanced_Web_Images",
                "Enhanced_Image_Servers"
              ]
            },
            "key": "Images"
          },
          {
            "display": "Standard",
            "includes": [
              "Adult",
              "FileSharing",
              "Games",
              "Images",
              "Malware",
              "NewsAndReference",
              "Recreation",
              "Religion",
              "Security",
              "Sports",
              "Technology",
              "Violence"
            ],
            "key": "Standard"
          }
        ]
      },
      "ConstAppSubCategoryDefinitionsExample": {
        "value": [
          {
            "display": "Office Documents",
            "key": "Office_Documents",
            "traffic_type": "data_interactive"
          }
        ]
      },
      "ConstApplicationsExample": {
        "value": [
          {
            "app_id": true,
            "app_image_url": "",
            "app_probe": true,
            "category": "FileSharing",
            "group": "File Sharing",
            "key": "dropbox",
            "name": "Dropbox",
            "signature_based": true,
            "ssr_app_id": true
          }
        ]
      },
      "ConstCountriesExample": {
        "value": [
          {
            "alpha2": "FR",
            "certified": true,
            "name": "France",
            "numeric": 250
          }
        ]
      },
      "ConstFingerprintTypesExample": {
        "value": {
          "family": [
            "2Wire Router",
            "3Com Switches",
            "ACTi Corporation Network Camera",
            "APC Video Equipment",
            "APC-Schneider UPS",
            "Aastra VoIP",
            "Acer",
            "Actiontec Wireless Router",
            "Aerohive Access Point",
            "Alcatel",
            "Alcatel VoIP",
            "Amazon Echo"
          ],
          "mfg": [
            "100fio Networks Technology llc",
            "10NET COMMUNICATIONS/DCA",
            "11wave Technonlogy Co.,Ltd",
            "12Sided Technology, LLC",
            "1Net Corporation",
            "1Verge Internet Technology (Beijing) Co., Ltd."
          ],
          "model": [
            "10T Lite",
            "10T Pro",
            "10th Gen",
            "11 Lite",
            "11 Pro",
            "11 Pro Max"
          ],
          "os": [
            "Android",
            "Apple OS",
            "Asha Platform OS"
          ]
        }
      },
      "ConstGatewayApplicationsExample": {
        "value": [
          {
            "app_id": true,
            "key": "4shared",
            "name": "4shared",
            "ssr_app_id": true
          }
        ]
      },
      "ConstInsightMetricsExample": {
        "value": {
          "bytes": {
            "description": "Aggregated bytes over time",
            "example": [
              185,
              197,
              250
            ],
            "intervals": {
              "10m": {
                "interval": 600,
                "max_age": 86400
              },
              "1h": {
                "interval": 3600,
                "max_age": 1209600
              }
            },
            "report_durations": {
              "1d": {
                "duration": 86400,
                "interval": 3600
              },
              "1w": {
                "duration": 604800,
                "interval": 3600
              }
            },
            "report_scopes": [
              "site",
              "org"
            ],
            "scopes": [
              "site",
              "ap",
              "client"
            ],
            "type": "timeseries",
            "unit": "byte"
          },
          "num_clients": {
            "description": "Number of client over time",
            "example": [
              18,
              null,
              15
            ],
            "intervals": {
              "10m": {
                "interval": 600,
                "max_age": 86400
              },
              "1h": {
                "interval": 3600,
                "max_age": 1209600
              }
            },
            "report_durations": {
              "1d": {
                "duration": 86400,
                "interval": 3600
              },
              "1w": {
                "duration": 604800,
                "interval": 3600
              }
            },
            "report_scopes": [
              "site",
              "org"
            ],
            "scopes": [
              "site",
              "ap",
              "device"
            ],
            "type": "timeseries",
            "unit": ""
          }
        }
      },
      "ConstLanguagesExample": {
        "value": [
          {
            "display": "English (US)",
            "display_native": "English (US)",
            "key": "en-US"
          }
        ]
      },
      "ConstLicenseTypesExample": {
        "value": [
          {
            "description": "Wired Assurance 12",
            "includes": [
              "sub_ex12a",
              "sub_ex12p"
            ],
            "key": "sub_ex12",
            "name": "SUB-EX12"
          }
        ]
      },
      "ConstMarvisClientVersionsExample": {
        "value": [
          {
            "label": "default",
            "notes": "",
            "os": "android",
            "url": "https://mobile.mist.com/installers/marvisclient/android/1.1.9/marvisclient-installer.apk",
            "version": "1.1.9"
          },
          {
            "label": "default",
            "notes": "",
            "os": "macos",
            "url": "https://mobile.mist.com/installers/marvisclient/macos/0.100.29/marvisclient-installer.dmg",
            "version": "0.100.29"
          },
          {
            "label": "default",
            "notes": "",
            "os": "windows",
            "url": "https://mobile.mist.com/installers/marvisclient/windows/0.100.26/marvisclient-installer.zip",
            "version": "0.100.26"
          }
        ]
      },
      "ConstStatesExample": {
        "value": [
          {
            "iso_code": "AK",
            "name": "Alaska"
          },
          {
            "iso_code": "AL",
            "name": "Alabama"
          },
          {
            "iso_code": "AS",
            "name": "American Samoa"
          },
          {
            "iso_code": "AZ",
            "name": "Arizona"
          },
          {
            "iso_code": "CA",
            "name": "California"
          }
        ]
      },
      "ConstTrafficTypesExample": {
        "value": [
          {
            "display": "VoIP Video",
            "dscp": 32,
            "failover_policy": "non_revertible",
            "max_jitter": 250,
            "max_latency": 1500,
            "max_loss": 35,
            "name": "voip_video",
            "traffic_class": "medium"
          }
        ]
      },
      "ConstWebhookTopicsExample": {
        "value": [
          {
            "for_org": true,
            "has_delivery_results": true,
            "key": "alarms"
          },
          {
            "key": "asset-raw-rssi"
          },
          {
            "for_org": true,
            "has_delivery_results": true,
            "key": "audits"
          },
          {
            "for_org": true,
            "key": "client-info"
          },
          {
            "for_org": true,
            "key": "client-join"
          },
          {
            "key": "client-latency"
          },
          {
            "for_org": true,
            "key": "client-sessions"
          },
          {
            "allows_single_event_per_message": true,
            "for_org": true,
            "key": "device-events"
          },
          {
            "for_org": true,
            "has_delivery_results": true,
            "key": "device-updowns"
          }
        ]
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
