{
  "openapi": "3.1.0",
  "info": {
    "title": "Installer",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "In a typical enterprise, a separate group of people, Installers, are responsible for install new devices. May it be a new installation (e.g. new stores), a replacement installation (e.g. replacing Cisco APs with Mist APs), or addition (e.g. adding new APs for better coverage). Instead of granting them Admin/Write privilege, it's more desirable to grant them minimum privileges to do the initial provisioning so they cannot read sensible information (e.g. PSK of a WLAN), or change configs of running APs.\nAt a high level, Installer APs try to achieve the following:\n1. identifying a device by MAC (that\\u2019\\ \ns what they see)\n2. they can only touch configurations of the devices they\\u2019\\\nre installing\n3. allow the following configurations: \n  * name * site assignment \n  * device profile assignment \n  * map and location (x/y) assignment \n  * claim (if not already in the inventory) \n  * replace existing device with the device being installed\n\n**Grace Period**\n\nGrace period provides a dynamic way to limit what devices / sites installer can work on. Generally installers work on recent deployments - bringing up new sites, add newly claimed devices to new / existing sites. They make mistakes, too, and may need to further tweak some of the parameters. Default grace period is 7 days and can be set from 1 day to 365 days.",
      "name": "Installer"
    }
  ],
  "paths": {
    "/api/v1/installer/orgs/{org_id}/alarmtemplates": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Return alarm templates available to installer workflows in the organization.",
        "operationId": "listInstallerAlarmTemplates",
        "responses": {
          "200": {
            "$ref": "#/components/responses/InstallerAlarmtemplates"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listInstallerAlarmTemplates",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/deviceprofiles": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Return device profiles that installers can use when provisioning recently claimed devices, optionally filtered by device type.",
        "operationId": "listInstallerDeviceProfiles",
        "parameters": [
          {
            "description": "Filter results by type. enum: `ap`, `gateway`, `switch`",
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/device_type_default_ap"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/InstallerDeviceProfiles"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listInstallerDeviceProfiles",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/devices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Return recently claimed devices visible to installer workflows, with optional filters for model, site name, or site identifier.",
        "operationId": "listInstallerListOfRecentlyClaimedDevices",
        "parameters": [
          {
            "description": "Filter results by device model",
            "in": "query",
            "name": "model",
            "schema": {
              "examples": [
                "AP43"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by site name",
            "in": "query",
            "name": "site_name",
            "schema": {
              "examples": [
                "SJ1"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by site identifier",
            "in": "query",
            "name": "site_id",
            "schema": {
              "examples": [
                "72771e6a-6f5e-4de4-a5b9-1266c4197811"
              ],
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/InstallerDevicesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listInstallerListOfRecentlyClaimedDevices",
        "tags": [
          "Installer"
        ]
      },
      "post": {
        "description": "Claim devices into the organization inventory by activation code through the installer workflow.",
        "operationId": "claimInstallerDevices",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": [
                    "6JG8E-PTFV2-A9Z2N",
                    "DVH4V-SNMSZ-PDXBR"
                  ]
                }
              },
              "schema": {
                "$ref": "#/components/schemas/claim_codes"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgInventoryAdd"
          },
          "400": {
            "$ref": "#/components/responses/OrgInventoryAdd"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "claimInstallerDevices",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/devices/{device_mac}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/device_mac"
        }
      ],
      "put": {
        "description": "Provision or replace an installer-managed device. \n\nIf replacing_mac is in the request payload, other attributes are ignored, we attempt to replace existing device (with MAC address `replacing_mac`) with the inventory device being configured. The replacement device must be in the inventory but not assigned, and the replacing_mac device must be assigned to a site, and satisfy grace period requirements. The Device replaced will become unassigned.",
        "operationId": "provisionInstallerDevices",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "deviceprofile_name": "SJ1",
                    "height": 2.7,
                    "name": "SJ1-AP1",
                    "orientation": 90,
                    "site_id": "72771e6a-6f5e-4de4-a5b9-1266c4197811",
                    "site_name": "SJ1",
                    "x": 150,
                    "y": 300
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/installer_provision_device"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/OrgInventoryUnassignFailed"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/OrgInventoryUnassignNotFound"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "provisionInstallerDevices",
        "tags": [
          "Installer"
        ]
      },
      "delete": {
        "description": "Unassign a recently claimed device from its current site so it can be provisioned again through the installer workflow.",
        "operationId": "unassignInstallerRecentlyClaimedDevice",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "unassignInstallerRecentlyClaimedDevice",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/devices/{device_mac}/locate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/device_mac"
        }
      ],
      "post": {
        "description": "Start locating an installer-managed device by blinking its LED. The locate state persists until [Stop Locating Installer Device](/#operations/stopInstallerLocateDevice) is called.",
        "operationId": "startInstallerLocateDevice",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "startInstallerLocateDevice",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/devices/{device_mac}/unlocate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/device_mac"
        }
      ],
      "post": {
        "description": "Stop the locate LED state for an installer-managed device.",
        "operationId": "stopInstallerLocateDevice",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "stopInstallerLocateDevice",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/devices/{device_mac}/{image_name}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/image_name"
        },
        {
          "$ref": "#/components/parameters/device_mac"
        }
      ],
      "post": {
        "description": "Upload an image associated with an installer-managed device using `multipart/form-data`.",
        "operationId": "addInstallerDeviceImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/map_site_import_file"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "addInstallerDeviceImage",
        "tags": [
          "Installer"
        ]
      },
      "delete": {
        "description": "Remove a previously uploaded image associated with an installer-managed device, such as an installation photo or device placement image.",
        "operationId": "deleteInstallerDeviceImage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteInstallerDeviceImage",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/devices/{fpc0_mac}/vc": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "description": "FPC0 MAC address",
          "in": "path",
          "name": "fpc0_mac",
          "required": true,
          "schema": {
            "examples": [
              "aff827549235"
            ],
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Return Virtual Chassis status for an installer-managed switch, including topology and member statistics.\n\nThe response is a combined view of the Virtual Chassis state.",
        "operationId": "getInstallerDeviceVirtualChassis",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VirtualChassis"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getInstallerDeviceVirtualChassis",
        "tags": [
          "Installer"
        ]
      },
      "put": {
        "description": "The VC creation and adding member switch API will update the device’ s virtual chassis config which is applied after VC is formed to create JUNOS pre-provisioned virtual chassis configuration.\n\n## Change to use preprovisioned VC\nTo switch the VC to use preprovisioned VC, enable preprovisioned in virtual_chassis config. Both vc_role master and backup will be matched to routing-engine role in Junos preprovisioned VC config.\n\nIn this config, fpc0 has to be the same as the mac of device_id. Use renumber if you want to replace fpc0 which involves device_id change.\n\nNotice: to configure preprovisioned VC, every member of the VC must be in the inventory.\n\n## Add new members\nFor models (e.g. EX4300 and up) having dedicated VC ports, it is easier to add new member switches into a VC by just connecting cables with the dedicated VC ports. Cloud will detect the new members and update the inventory.\n\nFor EX2300 VC, adding new members requires to follow the procedures below:\n1. Powering on the new member switches and ensuring cables are not connected to any VC ports.\n2. Claim or adopt all new member switches under the VC’s organization Inventory\n3. Assign all new member switches to the same Site as the VC\n4. Invoke vc command to add switches to the VC.\n5. Connect the cables to the VC ports for these switches\n6. After a while, the Org’s Inventory shows this new switches has been added into the VC.\n\n## Removing member switch\nTo remove a member switch from the VC, following the procedures below:\n\n1. Ensuring the VC is connected to the cloud first\n2. Unplug the cable from the VC port of the switch\n3. Waiting for the VC state (vc_state) of this switch is changed to not-present\n4. Invoke update_vc with remove to remove this switch from the VC\n5. The Org’s Inventory shows the switch is removed.\n\nPlease notice that member ID 0 (fpc0) cannot be removed. When a VC has two switches left, unplugging the cable may result in the situation that fpc0 becomes a line card (LC). When this situation is happening, please re-plug in the cable, wait for both switches becoming present (show virtual-chassis) and then removing the cable again.\n\n## Renumber a member switch\nWhen a member switch doesn't' work properly and needed to be replaced, the renumber API could be used. The following two types of renumber are supported:\n\n1. Replace a non-fpc0 member switch\n2. Replace fpc0. When fpc0 is replaced, PAPI device config and JUNOS config will be both updated.\n\nFor renumber to work, the following procedures are needed: \n1. Ensuring the VC is connected to the cloud and the state of the member switch to be replaced must be non present. \n2. Adding the new member switch to the VC \n3. Waiting for the VC state (vc_state) of this VC to be updated to API server \n4. Invoke vc with renumber to replace the new member switch from fpc X to\n\n## Perprovision VC members\nBy specifying \"preprovision\" op, you can convert the current VC to pre-provisioned mode, update VC members as well as specify vc_ports when adding new members for device models without dedicated vc ports. Use renumber for fpc0 replacement which involves device_id change.\n\nNote: \n1. vc_ports is used for adding new members and not needed if * the device model has dedicated vc ports, or * no new member is added \n2. New VC members to be added should exist in the same Site as the VC\n\nUpdate Device’s VC config can achieve similar purpose by directly modifying current virtual_chassis config. However, it cannot fulfill requests to enabling vc_ports on new members that are yet to belong to current VC.",
        "operationId": "updateInstallerVirtualChassisMember",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "adding-two-new-switches-as-line-cards-into-the-VC": {
                  "value": {
                    "members": [
                      {
                        "mac": "aff827549235",
                        "member_id": 2,
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "linecard"
                      },
                      {
                        "mac": "8396cd00777c",
                        "member_id": 3,
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "linecard"
                      }
                    ],
                    "op": "add"
                  }
                },
                "convert-to-pre-provisioned-VC": {
                  "value": {
                    "member": 0,
                    "members": [
                      {
                        "mac": "string",
                        "member_id": 0,
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "master"
                      }
                    ],
                    "new-member": 0,
                    "op": "add"
                  }
                },
                "removing-two-switches-from-VC": {
                  "value": {
                    "members": [
                      {
                        "member": 2
                      },
                      {
                        "member": 3
                      }
                    ],
                    "op": "remove"
                  }
                },
                "renumber-member-ID-3-to-member-ID-2": {
                  "value": {
                    "member": 3,
                    "new-member": 2,
                    "op": "renumber"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/virtual_chassis_update"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VirtualChassis"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateInstallerVirtualChassisMember",
        "tags": [
          "Installer"
        ]
      },
      "post": {
        "description": "For models (e.g. EX3400 and up) having dedicated VC ports, it is easier to form a VC by just connecting cables with the dedicated VC ports. Cloud will detect the new VC and update the inventory.\n\nIn case that the user would like to choose the dedicated switch as a VC master or for EX2300-C-12P and EX2300-C-12T which doesn't have dedicated VC ports, below are procedures to automate the VC creation:\n\n1. Power on the switch that is chosen as the VC master first. And then powering on the other member switches.\n2. Claim or adopt all these switches under the same organization’s Inventory\n3. Assign these switches into the same Site\n4. Invoke vc command on the switch chosen to be the VC master. For EX2300-C-12P, VC ports will be created automatically.\n5. Connect the cables to the VC ports for these switches\n6. Wait for the VC to be formed. The Org’s inventory will be updated for the new VC.",
        "operationId": "createInstallerVirtualChassis",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "create-a-VC-with-three-members": {
                  "value": {
                    "members": [
                      {
                        "mac": "aff827549235",
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "master"
                      },
                      {
                        "mac": "8396cd006c8c",
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "backup"
                      },
                      {
                        "mac": "8396cd00888c",
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "linecard"
                      }
                    ]
                  }
                },
                "create-a-pre-provisioned-VC-with-three-members": {
                  "value": {
                    "members": [
                      {
                        "mac": "aff827549235",
                        "member_id": 0,
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "master"
                      },
                      {
                        "mac": "8396cd006c8c",
                        "member_id": 1,
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "linecard"
                      },
                      {
                        "mac": "8396cd00888c",
                        "member_id": 2,
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "backup"
                      }
                    ],
                    "preprovisioned": true
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/virtual_chassis_config"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/VirtualChassis"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createInstallerVirtualChassis",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/rftemplates": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Return RF template names available to installer workflows for site creation or updates.",
        "operationId": "listInstallerRfTemplatesNames",
        "responses": {
          "200": {
            "$ref": "#/components/responses/InstallerRftemplatesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listInstallerRfTemplatesNames",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/sitegroups": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Return site groups that installers can assign when creating or updating sites.",
        "operationId": "listInstallerSiteGroups",
        "responses": {
          "200": {
            "$ref": "#/components/responses/InstallerSitegroupsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listInstallerSiteGroups",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/sites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Return sites visible to installer workflows for device assignment and map operations.",
        "operationId": "listInstallerSites",
        "responses": {
          "200": {
            "$ref": "#/components/responses/InstallerSitesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listInstallerSites",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/sites/{site_name}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/site_name"
        }
      ],
      "put": {
        "description": "Use `site_name` to create a site when it does not exist, or to update installer-editable fields on an existing site. Installers use these sites for device assignment, and grace-period rules also apply when updating an existing site.",
        "operationId": "createOrUpdateInstallerSites",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "address": "1601 S. Deanza Blvd., Cupertino, CA, 95014",
                    "country_code": "US",
                    "latlng": {
                      "lat": 37.295833,
                      "lng": -122.032946
                    },
                    "name": "string",
                    "rftemplate_name": "rftemplate1",
                    "sitegroup_names": [
                      "sg1",
                      "sg2"
                    ],
                    "timezone": "America/Los_Angeles"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/installer_site"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrUpdateInstallerSites",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/sites/{site_name}/maps": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/site_name"
        }
      ],
      "get": {
        "description": "Return maps for an installer-managed site, used for floorplan selection and AP placement during provisioning.",
        "operationId": "listInstallerMaps",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MapsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listInstallerMaps",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/import": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/site_name"
        }
      ],
      "post": {
        "description": "Import a site floorplan and optional placement data from multipart files. The request can include an image file, optional JSON, and optional CSV data to create the map and assign or place APs when names or MAC addresses match.",
        "operationId": "importInstallerMap",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/map_site_import_file"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MapImport"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "importInstallerMap",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/orgs/{org_id}/sites/{site_name}/maps/{map_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/site_name"
        },
        {
          "$ref": "#/components/parameters/map_id"
        }
      ],
      "put": {
        "description": "Modify map or floorplan metadata for an installer-managed site, including dimensions, orientation, and placement-related settings.",
        "operationId": "updateInstallerMap",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/map"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Map"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateInstallerMap",
        "tags": [
          "Installer"
        ]
      },
      "post": {
        "description": "Define a map or floorplan for an installer-managed site, including metadata used for AP placement and site visualization.",
        "operationId": "createInstallerMap",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "height": 0,
                    "latlng_br": {
                      "lat": "string",
                      "lng": "string"
                    },
                    "latlng_tl": {
                      "lat": "string",
                      "lng": "string"
                    },
                    "locked": true,
                    "name": "string",
                    "orientation": 0,
                    "origin_x": 0,
                    "origin_y": 0,
                    "ppm": 0,
                    "sitesurvey_path": [
                      {
                        "coordinate": "string",
                        "name": "string",
                        "nodes": [
                          {
                            "edges": {
                              "N2": "string"
                            },
                            "name": "string",
                            "position": {
                              "x": 0,
                              "y": 0
                            }
                          }
                        ]
                      }
                    ],
                    "type": "image",
                    "view": "roadmap",
                    "wall_path": {
                      "coordinate": "string",
                      "nodes": [
                        {
                          "edges": {
                            "N2": "string"
                          },
                          "name": "string",
                          "position": {
                            "x": 0,
                            "y": 0
                          }
                        }
                      ]
                    },
                    "wayfinding": {
                      "micello": {
                        "account_key": "string",
                        "default_level_id": 0
                      },
                      "snap_to_path": true
                    },
                    "wayfinding_path": {
                      "coordinate": "string",
                      "nodes": [
                        {
                          "edges": {
                            "N2": "string"
                          },
                          "name": "string",
                          "position": {
                            "x": 0,
                            "y": 0
                          }
                        }
                      ]
                    },
                    "width": 0
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/map"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Map"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createInstallerMap",
        "tags": [
          "Installer"
        ]
      },
      "delete": {
        "description": "Remove a map or floorplan from an installer-managed site. This removes the map used for AP placement, but does not delete the site.",
        "operationId": "deleteInstallerMap",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteInstallerMap",
        "tags": [
          "Installer"
        ]
      }
    },
    "/api/v1/installer/sites/{site_name}/optimize": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_name"
        }
      ],
      "get": {
        "description": "Trigger RF optimization after installation is complete, such as after APs have been placed on maps and powered on. This starts RRM before the next automatic optimization schedule.",
        "operationId": "optimizeInstallerRrm",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "optimizeInstallerRrm",
        "tags": [
          "Installer"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "claim_codes": {
        "description": "List of Claim Codes",
        "examples": [
          [
            "6JG8E-PTFV2-A9Z2N",
            "DVH4V-SNMSZ-PDXBR"
          ]
        ],
        "items": {
          "description": "Claim code",
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "cpu_stat": {
        "additionalProperties": false,
        "description": "CPU utilization breakdown for a device",
        "properties": {
          "idle": {
            "description": "Percentage of CPU time that is idle",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "interrupt": {
            "description": "Percentage of CPU time being used by interrupts",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "load_avg": {
            "$ref": "#/components/schemas/cpu_stat_load_avg",
            "description": "Load averages for the last 1, 5, and 15 minutes"
          },
          "system": {
            "description": "Percentage of CPU time being used by system processes",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "usage": {
            "description": "Overall CPU usage percentage",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "user": {
            "description": "Percentage of CPU time being used by user processes",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "cpu_stat_load_avg": {
        "description": "Load averages for the last 1, 5, and 15 minutes",
        "items": {
          "type": "number"
        },
        "type": "array"
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "device_type_default_ap": {
        "default": "ap",
        "description": "enum: `ap`, `gateway`, `switch`",
        "enum": [
          "ap",
          "gateway",
          "switch"
        ],
        "type": "string"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "installer_device": {
        "additionalProperties": false,
        "description": "Recently claimed device visible to installer workflows",
        "properties": {
          "ble_stat": {
            "$ref": "#/components/schemas/installer_device_ble_stat",
            "description": "BLE beacon statistics reported by the device"
          },
          "connected": {
            "description": "Whether the device is currently connected to Mist",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "deviceprofile_name": {
            "description": "Device profile name associated with this installer device",
            "examples": [
              "SJ1"
            ],
            "type": "string"
          },
          "ext_ip": {
            "description": "External IP address observed for device management traffic",
            "examples": [
              "12.34.56.78"
            ],
            "type": "string"
          },
          "height": {
            "description": "Mounting height recorded for map placement",
            "examples": [
              2.7
            ],
            "format": "double",
            "type": "number"
          },
          "ip": {
            "description": "Management IP address currently reported for the device",
            "examples": [
              "192.168.1.111"
            ],
            "type": "string"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen",
            "description": "Timestamp when the device was last seen by Mist"
          },
          "mac": {
            "description": "Device MAC address shown to installers",
            "examples": [
              "5c5b35000018"
            ],
            "type": "string"
          },
          "map_id": {
            "description": "Map where the installer placed this device",
            "examples": [
              "845a23bf-bed9-e43c-4c86-6fa474be7ae5"
            ],
            "format": "uuid",
            "type": "string"
          },
          "model": {
            "description": "Device model reported for this installer device",
            "examples": [
              "AP41"
            ],
            "type": "string"
          },
          "name": {
            "description": "Device name configured through the installer workflow",
            "examples": [
              "hallway"
            ],
            "type": "string"
          },
          "orientation": {
            "description": "Device orientation in degrees from 0 to 359, where 0 is up and 90 is right",
            "examples": [
              90
            ],
            "type": "integer"
          },
          "serial": {
            "description": "Device serial number reported to installer workflows",
            "examples": [
              "FXLH2015150025"
            ],
            "type": "string"
          },
          "site_name": {
            "description": "Site name associated with this installer device",
            "examples": [
              "SJ1"
            ],
            "type": "string"
          },
          "uptime": {
            "description": "Device uptime, in seconds",
            "examples": [
              12345
            ],
            "type": "integer"
          },
          "vc_mac": {
            "description": "Virtual Chassis MAC address when this device is part of a VC",
            "examples": [
              null
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "version": {
            "description": "Software version currently running on the device",
            "examples": [
              "0.10.24362"
            ],
            "type": "string"
          },
          "x": {
            "description": "Horizontal map position of the device, in pixels",
            "examples": [
              150
            ],
            "format": "double",
            "type": "number"
          },
          "y": {
            "description": "Vertical map position of the device, in pixels",
            "examples": [
              300
            ],
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "installer_device_ble_stat": {
        "additionalProperties": false,
        "description": "BLE statistics for the device",
        "properties": {
          "major": {
            "description": "iBeacon major value reported by the device",
            "examples": [
              12345
            ],
            "type": "integer"
          },
          "minors": {
            "description": "iBeacon minor values reported by the device",
            "items": {
              "type": "integer"
            },
            "type": "array"
          },
          "uuid": {
            "description": "iBeacon UUID advertised by the device",
            "examples": [
              "ada72f8f-1643-e5c6-94db-f2a5636f1a64"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "installer_devices": {
        "description": "Recently claimed devices available to installer workflows",
        "items": {
          "$ref": "#/components/schemas/installer_device"
        },
        "type": "array"
      },
      "installer_provision_device": {
        "description": "Installer payload for provisioning or replacing a device",
        "properties": {
          "deviceprofile_name": {
            "description": "Profile name applied to the device during installer provisioning",
            "examples": [
              "SJ1"
            ],
            "type": "string"
          },
          "for_site": {
            "description": "Whether this installer provisioning request is scoped to a site",
            "readOnly": true,
            "type": "boolean"
          },
          "height": {
            "description": "Mounting height recorded for map placement",
            "examples": [
              2.7
            ],
            "format": "double",
            "type": "number"
          },
          "map_id": {
            "description": "Identifier of the map where the device should be placed",
            "examples": [
              "845a23bf-bed9-e43c-4c86-6fa474be7ae5"
            ],
            "format": "uuid",
            "type": "string"
          },
          "name": {
            "description": "Device name to set during installer provisioning",
            "examples": [
              "SJ1-AP1"
            ],
            "type": "string"
          },
          "orientation": {
            "description": "Device orientation in degrees from 0 to 359, where 0 is up and 90 is right",
            "examples": [
              90
            ],
            "type": "integer"
          },
          "replacing_mac": {
            "description": "Only if replacing an existing device; MAC address of the device being replaced",
            "examples": [
              "5c5b3500003"
            ],
            "type": "string"
          },
          "role": {
            "description": "Optional role for switch / gateway",
            "type": "string"
          },
          "site_id": {
            "description": "Identifier of the destination site for installer provisioning",
            "examples": [
              "72771e6a-6f5e-4de4-a5b9-1266c4197811"
            ],
            "format": "uuid",
            "type": "string"
          },
          "site_name": {
            "description": "Destination site name for installer provisioning",
            "examples": [
              "SJ1"
            ],
            "type": "string"
          },
          "x": {
            "description": "Horizontal map position for the device, in pixels",
            "examples": [
              150
            ],
            "format": "double",
            "type": "number"
          },
          "y": {
            "description": "Vertical map position for the device, in pixels",
            "examples": [
              300
            ],
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "installer_site": {
        "description": "Site definition available to installer workflows",
        "properties": {
          "address": {
            "description": "Street or postal address for the installer site",
            "examples": [
              "1601 S. Deanza Blvd., Cupertino, CA, 95014"
            ],
            "type": "string"
          },
          "country_code": {
            "description": "ISO country code for the installer site",
            "examples": [
              "US"
            ],
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the installer site"
          },
          "latlng": {
            "$ref": "#/components/schemas/lat_lng",
            "description": "Geographic coordinates of the installer site"
          },
          "name": {
            "description": "Display name of the installer site",
            "examples": [
              "Mist Office"
            ],
            "type": "string"
          },
          "rftemplate_name": {
            "description": "RF template name applied to the installer site",
            "examples": [
              "rftemplate1"
            ],
            "type": "string"
          },
          "sitegroup_names": {
            "$ref": "#/components/schemas/installer_site_sitegroup_names",
            "description": "Names of site groups associated with the installer site"
          },
          "timezone": {
            "description": "Time zone configured for the installer site",
            "examples": [
              "America/Los_Angeles"
            ],
            "type": "string"
          }
        },
        "required": [
          "address",
          "country_code",
          "latlng",
          "name"
        ],
        "type": "object"
      },
      "installer_site_sitegroup_names": {
        "description": "Site group names associated with an installer site",
        "examples": [
          [
            "sg1",
            "sg2"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "installer_sites": {
        "description": "Sites available to installer workflows",
        "items": {
          "$ref": "#/components/schemas/installer_site"
        },
        "type": "array"
      },
      "installers": {
        "description": "Installer access entries returned by list responses",
        "items": {
          "$ref": "#/components/schemas/installers_item"
        },
        "type": "array"
      },
      "installers_item": {
        "additionalProperties": false,
        "description": "Installer access entry with scope and role details",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the installer access entry"
          },
          "name": {
            "description": "Display name of the installer access entry",
            "examples": [
              "Entry #1"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "last_seen": {
        "description": "Timestamp indicating when the entity was last seen",
        "examples": [
          1470417522
        ],
        "format": "double",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "lat_lng": {
        "additionalProperties": false,
        "description": "Geographic latitude and longitude coordinate pair",
        "properties": {
          "lat": {
            "description": "Geographic latitude in decimal degrees",
            "examples": [
              37.295833
            ],
            "format": "double",
            "type": "number"
          },
          "lng": {
            "description": "Geographic longitude in decimal degrees",
            "examples": [
              -122.032946
            ],
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "lat",
          "lng"
        ],
        "type": "object"
      },
      "latlng_br": {
        "additionalProperties": false,
        "description": "When `type`==`google`, latitude and longitude of the bottom-right corner",
        "properties": {
          "lat": {
            "description": "Bottom-right latitude for the Google map bounds",
            "type": "string"
          },
          "lng": {
            "description": "Bottom-right longitude for the Google map bounds",
            "type": "string"
          }
        },
        "type": "object"
      },
      "latlng_tl": {
        "additionalProperties": false,
        "description": "When `type`==`google`, latitude and longitude of the top-left corner",
        "properties": {
          "lat": {
            "description": "Top-left latitude for the Google map bounds",
            "type": "string"
          },
          "lng": {
            "description": "Top-left longitude for the Google map bounds",
            "type": "string"
          }
        },
        "type": "object"
      },
      "map": {
        "description": "Map or floorplan metadata for a site or organization",
        "properties": {
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Timestamp when the map was created"
          },
          "flags": {
            "additionalProperties": {
              "type": "integer"
            },
            "description": "Name/val pair objects for location engine to use",
            "examples": [
              {
                "assetHoldTime": 5,
                "storeTime": 10
              }
            ],
            "readOnly": true,
            "type": "object"
          },
          "for_site": {
            "description": "Whether this map belongs to a site scope",
            "readOnly": true,
            "type": "boolean"
          },
          "geofences": {
            "$ref": "#/components/schemas/map_geofences",
            "description": "Location boundary definitions configured on this map"
          },
          "group_idx": {
            "description": "Optional floor or group ordering index for this map",
            "examples": [
              1
            ],
            "type": "integer"
          },
          "group_name": {
            "description": "Optional floor or group display name for this map",
            "examples": [
              "East Wing"
            ],
            "type": "string"
          },
          "height": {
            "description": "When `type`==`image`, height of the map image in pixels",
            "examples": [
              1500
            ],
            "type": "integer"
          },
          "height_m": {
            "description": "Physical height of the map in meters",
            "format": "double",
            "type": "number"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the map"
          },
          "latlng_br": {
            "$ref": "#/components/schemas/latlng_br",
            "description": "When `type`==`google`, bottom-right map bounds coordinate"
          },
          "latlng_tl": {
            "$ref": "#/components/schemas/latlng_tl",
            "description": "When `type`==`google`, top-left map bounds coordinate"
          },
          "locked": {
            "default": false,
            "description": "Whether this map is considered locked down",
            "type": "boolean"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Timestamp when the map was last modified"
          },
          "name": {
            "description": "The name of the map",
            "examples": [
              "Mist Office"
            ],
            "type": "string"
          },
          "occupancy_limit": {
            "description": "Maximum occupancy configured for this map",
            "type": "integer"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization associated with this map"
          },
          "orientation": {
            "default": 0,
            "description": "Map orientation in degrees; 0 means up is north, 90 means up is west",
            "examples": [
              30
            ],
            "maximum": 359,
            "minimum": 0,
            "type": "integer"
          },
          "origin_x": {
            "description": "User-annotated X origin, pixels",
            "examples": [
              35
            ],
            "type": "integer"
          },
          "origin_y": {
            "description": "User-annotated Y origin, pixels",
            "examples": [
              60
            ],
            "type": "integer"
          },
          "ppm": {
            "description": "When `type`==`image`, pixels per meter for the map image",
            "examples": [
              40.94
            ],
            "type": "number"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site associated with this map, when scoped to a site"
          },
          "sitesurvey_path": {
            "$ref": "#/components/schemas/map_sitesurvey_path",
            "description": "Site survey path geometry for this map"
          },
          "thumbnail_url": {
            "description": "When `type`==`image`, URL for the thumbnail image or preview",
            "examples": [
              "https://url/to/image.png"
            ],
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/map_type",
            "description": "Map type, such as `image` or `google`"
          },
          "url": {
            "description": "When `type`==`image`, URL for the map image",
            "examples": [
              "https://url/to/image.png"
            ],
            "readOnly": true,
            "type": "string"
          },
          "view": {
            "$ref": "#/components/schemas/map_view",
            "description": "If `type`==`google`, map tile view to display"
          },
          "wall_path": {
            "$ref": "#/components/schemas/map_wall_path",
            "description": "Wall path geometry for this map"
          },
          "wayfinding": {
            "$ref": "#/components/schemas/map_wayfinding",
            "description": "Navigation pathfinding settings for this map"
          },
          "wayfinding_path": {
            "$ref": "#/components/schemas/map_wayfinding_path",
            "description": "Wayfinding path geometry for this map"
          },
          "width": {
            "description": "When `type`==`image`, width of the map image in pixels",
            "examples": [
              1250
            ],
            "type": "integer"
          },
          "width_m": {
            "description": "Physical width of the map in meters",
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "map_geofence": {
        "additionalProperties": false,
        "description": "Geofence drawn on a map",
        "properties": {
          "name": {
            "description": "Display name for the map geofence",
            "examples": [
              "example"
            ],
            "type": "string"
          },
          "vertices": {
            "$ref": "#/components/schemas/map_geofence_vertices",
            "description": "Polygon points that define the geofence boundary"
          }
        },
        "type": "object"
      },
      "map_geofence_vertice": {
        "additionalProperties": false,
        "description": "Vertex coordinate for a map geofence polygon",
        "properties": {
          "X": {
            "description": "Geofence vertex X coordinate in map units",
            "examples": [
              700
            ],
            "type": "number"
          },
          "Y": {
            "description": "Geofence vertex Y coordinate in map units",
            "examples": [
              100
            ],
            "type": "number"
          }
        },
        "type": "object"
      },
      "map_geofence_vertices": {
        "description": "List of vertices defining the geofence",
        "items": {
          "$ref": "#/components/schemas/map_geofence_vertice"
        },
        "type": "array"
      },
      "map_geofences": {
        "description": "List of geofences for the map",
        "items": {
          "$ref": "#/components/schemas/map_geofence"
        },
        "type": "array"
      },
      "map_import_json": {
        "additionalProperties": false,
        "description": "Options for importing map data from Ekahau or iBwave JSON",
        "properties": {
          "import_all_floorplans": {
            "default": false,
            "description": "Whether to import all floorplans from the uploaded map JSON",
            "type": "boolean"
          },
          "import_height": {
            "default": true,
            "description": "Whether to import height metadata from the uploaded map JSON",
            "type": "boolean"
          },
          "import_orientation": {
            "default": true,
            "description": "Whether to import orientation metadata from the uploaded map JSON",
            "type": "boolean"
          },
          "vendor_name": {
            "$ref": "#/components/schemas/map_import_json_vendor_name",
            "description": "Map import vendor for the uploaded JSON"
          }
        },
        "required": [
          "vendor_name"
        ],
        "type": "object"
      },
      "map_import_json_vendor_name": {
        "description": "Map import vendor for the uploaded JSON. enum: `ekahau`, `ibwave`",
        "enum": [
          "ekahau",
          "ibwave"
        ],
        "examples": [
          "ekahau"
        ],
        "type": "string"
      },
      "map_node": {
        "additionalProperties": false,
        "description": "Node in a map path graph",
        "properties": {
          "edges": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Adjacent node IDs and path weights for this map node",
            "examples": [
              {
                "N1": "1"
              }
            ],
            "type": "object"
          },
          "name": {
            "description": "Map node identifier or display name",
            "examples": [
              "N1"
            ],
            "type": "string"
          },
          "position": {
            "$ref": "#/components/schemas/map_node_position",
            "description": "Coordinates of this map node"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "map_node_position": {
        "additionalProperties": false,
        "description": "Position of a map path node",
        "properties": {
          "x": {
            "description": "Horizontal coordinate of the map node",
            "examples": [
              746
            ],
            "format": "double",
            "type": "number"
          },
          "y": {
            "description": "Vertical coordinate of the map node",
            "examples": [
              104
            ],
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "x",
          "y"
        ],
        "type": "object"
      },
      "map_site_import_file": {
        "additionalProperties": false,
        "description": "Multipart payload for importing map files at site scope",
        "properties": {
          "auto_deviceprofile_assignment": {
            "description": "Whether to auto assign device to deviceprofile by name",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "csv": {
            "contentMediaType": "application/octet-stream",
            "description": "Optional AP name-mapping CSV file",
            "type": "string"
          },
          "file": {
            "contentMediaType": "application/octet-stream",
            "description": "Ekahau or iBwave floorplan file to import",
            "type": "string"
          },
          "json": {
            "$ref": "#/components/schemas/map_import_json",
            "description": "Import options for the site map file"
          }
        },
        "type": "object"
      },
      "map_sitesurvey_path": {
        "description": "Site survey path definitions for a map",
        "items": {
          "$ref": "#/components/schemas/map_sitesurvey_path_items"
        },
        "minItems": 0,
        "type": "array"
      },
      "map_sitesurvey_path_items": {
        "additionalProperties": false,
        "description": "Site survey path definition on a map",
        "properties": {
          "coordinate": {
            "description": "Site survey path coordinate space",
            "examples": [
              "actual"
            ],
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the site survey path"
          },
          "name": {
            "description": "Display name of the site survey path",
            "examples": [
              "Default"
            ],
            "type": "string"
          },
          "nodes": {
            "$ref": "#/components/schemas/map_sitesurvey_path_items_nodes",
            "description": "Path nodes included in the site survey path"
          }
        },
        "type": "object"
      },
      "map_sitesurvey_path_items_nodes": {
        "description": "Map nodes included in a site survey path",
        "items": {
          "$ref": "#/components/schemas/map_node"
        },
        "minItems": 0,
        "type": "array"
      },
      "map_type": {
        "default": "image",
        "description": "Map type, such as `image` or `google`. enum: `google`, `image`",
        "enum": [
          "google",
          "image"
        ],
        "examples": [
          "image"
        ],
        "type": "string"
      },
      "map_view": {
        "description": "if `type`==`google`. enum: `hybrid`, `roadmap`, `satellite`, `terrain`",
        "enum": [
          "hybrid",
          "roadmap",
          "satellite",
          "terrain"
        ],
        "type": [
          "string",
          "null"
        ]
      },
      "map_wall_path": {
        "additionalProperties": false,
        "description": "JSON blob for wall definition (same format as wayfinding_path)",
        "properties": {
          "coordinate": {
            "description": "Wall path coordinate space",
            "examples": [
              "actual"
            ],
            "type": "string"
          },
          "nodes": {
            "$ref": "#/components/schemas/map_wall_path_nodes",
            "description": "Path nodes that define the wall geometry"
          }
        },
        "type": "object"
      },
      "map_wall_path_nodes": {
        "description": "Map nodes included in a wall path",
        "items": {
          "$ref": "#/components/schemas/map_node"
        },
        "minItems": 0,
        "type": "array"
      },
      "map_wayfinding": {
        "additionalProperties": false,
        "description": "Properties related to wayfinding",
        "properties": {
          "micello": {
            "$ref": "#/components/schemas/map_wayfinding_micello",
            "description": "External Micello wayfinding integration settings for this map"
          },
          "snap_to_path": {
            "description": "Whether wayfinding should snap routes to configured paths",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "map_wayfinding_micello": {
        "additionalProperties": false,
        "description": "Micello wayfinding integration settings",
        "properties": {
          "account_key": {
            "description": "Micello account key used for wayfinding",
            "examples": [
              "adasdf"
            ],
            "type": "string"
          },
          "default_level_id": {
            "description": "Default Micello floor or level identifier for wayfinding",
            "examples": [
              5
            ],
            "type": "integer"
          },
          "map_id": {
            "description": "Micello map identifier used for wayfinding",
            "examples": [
              "c660f81dd250c"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "map_wayfinding_path": {
        "additionalProperties": false,
        "description": "JSON blob for wayfinding (using Dijkstra’s algorithm)",
        "properties": {
          "coordinate": {
            "description": "Wayfinding path coordinate space",
            "examples": [
              "actual"
            ],
            "type": "string"
          },
          "nodes": {
            "$ref": "#/components/schemas/map_wayfinding_path_nodes",
            "description": "Path nodes used for wayfinding routes"
          }
        },
        "type": "object"
      },
      "map_wayfinding_path_nodes": {
        "description": "Map nodes included in a wayfinding path",
        "items": {
          "$ref": "#/components/schemas/map_node"
        },
        "minItems": 0,
        "type": "array"
      },
      "maps": {
        "description": "Maps or floorplans returned by the API",
        "items": {
          "$ref": "#/components/schemas/map"
        },
        "type": "array"
      },
      "memory_stat": {
        "additionalProperties": false,
        "description": "Memory utilization statistics for a device; in a virtual chassis, this reports the master Routing Engine",
        "properties": {
          "usage": {
            "description": "Current memory utilization percentage for the device or master Routing Engine",
            "type": "number"
          }
        },
        "required": [
          "usage"
        ],
        "type": "object"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "module_stat_item_errors": {
        "description": "Used to report all error states the device node is running into. An error should always have `type` and `since` fields, and could have some other fields specific to that type.",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_errors_items"
        },
        "type": "array"
      },
      "module_stat_item_errors_items": {
        "additionalProperties": false,
        "description": "Error condition reported for a device module",
        "properties": {
          "feature": {
            "description": "Affected feature associated with this module error condition",
            "examples": [
              "Mist-Management"
            ],
            "type": "string"
          },
          "minimum_version": {
            "description": "Minimum software version associated with this module error",
            "examples": [
              "128T-6.0.0-1"
            ],
            "type": "string"
          },
          "reason": {
            "description": "Human-readable reason for the module error condition",
            "type": "string"
          },
          "since": {
            "description": "Epoch timestamp when the module error condition began",
            "examples": [
              1657497600
            ],
            "type": "integer"
          },
          "type": {
            "description": "Module error type code reported by the device",
            "examples": [
              "FW_UPGRADE_REQUIRED_BY_FEATURE"
            ],
            "type": "string"
          }
        },
        "required": [
          "since",
          "type"
        ],
        "type": "object"
      },
      "module_stat_item_fans": {
        "description": "Cooling fan status records for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_fans_items"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_fans_items": {
        "additionalProperties": false,
        "description": "Cooling fan telemetry for a device module",
        "properties": {
          "airflow": {
            "description": "Direction of airflow reported for the fan",
            "examples": [
              "out"
            ],
            "type": "string"
          },
          "name": {
            "description": "Fan label reported by the device",
            "examples": [
              "Fan 0"
            ],
            "type": "string"
          },
          "rpm": {
            "description": "Current fan speed in revolutions per minute",
            "type": "integer"
          },
          "status": {
            "description": "Operational status reported for the fan",
            "examples": [
              "ok"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_pics": {
        "description": "Physical Interface Card summaries for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_pics_item"
        },
        "type": "array"
      },
      "module_stat_item_pics_item": {
        "additionalProperties": false,
        "description": "Physical Interface Card summary for a device module",
        "properties": {
          "index": {
            "description": "PIC index within the device module",
            "type": "integer"
          },
          "model_number": {
            "description": "Model number reported for the PIC",
            "type": "string"
          },
          "port_groups": {
            "$ref": "#/components/schemas/module_stat_item_pics_item_port_groups",
            "description": "Port groups provided by this PIC"
          }
        },
        "type": "object"
      },
      "module_stat_item_pics_item_port_groups": {
        "description": "Port group summaries for a PIC",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_pics_item_port_groups_item"
        },
        "type": "array"
      },
      "module_stat_item_pics_item_port_groups_item": {
        "additionalProperties": false,
        "description": "Port group summary for a PIC",
        "properties": {
          "count": {
            "description": "Number of ports in this PIC port group",
            "type": "integer"
          },
          "type": {
            "description": "Port media or interface type for this PIC port group",
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_poe": {
        "additionalProperties": false,
        "description": "Power over Ethernet telemetry for a device module",
        "properties": {
          "max_power": {
            "description": "Total PoE power budget available to the module, in watts",
            "examples": [
              250
            ],
            "type": "number"
          },
          "power_draw": {
            "description": "Current PoE power draw on the module, in watts",
            "examples": [
              120.3
            ],
            "type": "number"
          },
          "status": {
            "description": "Operational status of PoE on the module",
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_psus": {
        "description": "Power supply status records for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_psus_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_psus_item": {
        "additionalProperties": false,
        "description": "Power supply status for a device module",
        "properties": {
          "name": {
            "description": "Power supply label reported by the device",
            "examples": [
              "Power Supply 0"
            ],
            "type": "string"
          },
          "status": {
            "description": "Operational status reported for the power supply",
            "examples": [
              "ok"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_temperatures": {
        "description": "Temperature sensor readings for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_temperatures_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_temperatures_item": {
        "additionalProperties": false,
        "description": "Temperature sensor reading for a device module",
        "properties": {
          "celsius": {
            "description": "Temperature reading for the sensor, in degrees Celsius",
            "examples": [
              45
            ],
            "type": "number"
          },
          "name": {
            "description": "Temperature sensor label reported by the device",
            "examples": [
              "CPU"
            ],
            "type": "string"
          },
          "status": {
            "description": "Operational status reported for the temperature sensor",
            "examples": [
              "ok"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_vc_links": {
        "description": "Virtual chassis link records for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_vc_links_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_vc_links_item": {
        "additionalProperties": false,
        "description": "Virtual chassis link endpoint for a device module",
        "properties": {
          "neighbor_module_idx": {
            "description": "Index of the neighboring module connected through this virtual chassis link",
            "examples": [
              1
            ],
            "type": "integer"
          },
          "neighbor_port_id": {
            "description": "Port identifier on the neighboring module for this virtual chassis link",
            "examples": [
              "vcp-255/1/0"
            ],
            "type": "string"
          },
          "port_id": {
            "description": "Local port identifier for this virtual chassis link",
            "examples": [
              "vcp-255/1/0"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_detail_string": {
        "additionalProperties": false,
        "description": "Response containing a human-readable detail message",
        "properties": {
          "detail": {
            "description": "Human-readable detail message returned by the API",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_inventory": {
        "additionalProperties": false,
        "description": "Result of adding device claim codes to organization inventory",
        "properties": {
          "added": {
            "$ref": "#/components/schemas/response_inventory_added",
            "description": "Claim codes accepted into organization inventory"
          },
          "duplicated": {
            "$ref": "#/components/schemas/response_inventory_duplicated",
            "description": "Claim codes already present in organization inventory"
          },
          "error": {
            "$ref": "#/components/schemas/response_inventory_error",
            "description": "Claim codes rejected by the inventory add operation"
          },
          "inventory_added": {
            "$ref": "#/components/schemas/response_inventory_inventory_added",
            "description": "Detailed inventory records added by the claim operation"
          },
          "inventory_duplicated": {
            "$ref": "#/components/schemas/response_inventory_inventory_duplicated",
            "description": "Detailed inventory records already present during the claim operation"
          },
          "reason": {
            "$ref": "#/components/schemas/strings",
            "description": "Error reasons for claim codes that could not be added"
          }
        },
        "type": "object"
      },
      "response_inventory_added": {
        "description": "Claim codes accepted into organization inventory",
        "items": {
          "examples": [
            "6JG8E-PTFV2-A9Z2N"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "response_inventory_duplicated": {
        "description": "Claim codes already present in organization inventory",
        "items": {
          "examples": [
            "DVH4V-SNMSZ-PDXBR"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "response_inventory_error": {
        "description": "Claim codes rejected by the inventory add operation",
        "items": {
          "examples": [
            "PO1025335ohoh"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "response_inventory_inventory_added": {
        "description": "Detailed inventory records added by the claim operation",
        "items": {
          "$ref": "#/components/schemas/response_inventory_inventory_added_items"
        },
        "minItems": 1,
        "type": "array",
        "uniqueItems": true
      },
      "response_inventory_inventory_added_items": {
        "additionalProperties": false,
        "description": "Inventory device added by the claim operation",
        "properties": {
          "mac": {
            "description": "Device MAC address for the claimed inventory item",
            "examples": [
              "5c5b35000018"
            ],
            "type": "string"
          },
          "magic": {
            "description": "Activation code or claim code associated with the inventory item",
            "examples": [
              "6JG8EPTFV2A9Z2N"
            ],
            "type": "string"
          },
          "model": {
            "description": "Device model for the claimed inventory item",
            "examples": [
              "AP41"
            ],
            "type": "string"
          },
          "serial": {
            "description": "Device serial number for the claimed inventory item",
            "examples": [
              "FXLH2015150025"
            ],
            "type": "string"
          },
          "type": {
            "description": "Device type for the claimed inventory item",
            "examples": [
              "ap"
            ],
            "type": "string"
          }
        },
        "required": [
          "mac",
          "magic",
          "model",
          "serial",
          "type"
        ],
        "type": "object"
      },
      "response_inventory_inventory_duplicated": {
        "description": "Detailed inventory records already present during the claim operation",
        "items": {
          "$ref": "#/components/schemas/response_inventory_inventory_duplicated_items"
        },
        "type": "array",
        "uniqueItems": true
      },
      "response_inventory_inventory_duplicated_items": {
        "additionalProperties": false,
        "description": "Inventory device already present during the claim operation",
        "properties": {
          "mac": {
            "description": "Device MAC address for the duplicate inventory item",
            "examples": [
              "5c5b35000012"
            ],
            "type": "string"
          },
          "magic": {
            "description": "Activation code or claim code associated with the duplicate inventory item",
            "examples": [
              "DVH4VSNMSZPDXBR"
            ],
            "type": "string"
          },
          "model": {
            "description": "Device model for the duplicate inventory item",
            "examples": [
              "AP41"
            ],
            "type": "string"
          },
          "serial": {
            "description": "Device serial number for the duplicate inventory item",
            "examples": [
              "FXLH2015150027"
            ],
            "type": "string"
          },
          "type": {
            "description": "Device type for the duplicate inventory item",
            "examples": [
              "ap"
            ],
            "type": "string"
          }
        },
        "required": [
          "mac",
          "magic",
          "model",
          "serial",
          "type"
        ],
        "type": "object"
      },
      "response_map_import": {
        "additionalProperties": false,
        "description": "Result of importing map files and matching AP placements",
        "properties": {
          "aps": {
            "$ref": "#/components/schemas/response_map_import_aps",
            "description": "AP placement results produced by the map import"
          },
          "floorplans": {
            "$ref": "#/components/schemas/response_map_import_floorplans",
            "description": "Floorplan import results produced by the map import"
          },
          "for_site": {
            "description": "Whether this map import response is scoped to a site",
            "readOnly": true,
            "type": "boolean"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site associated with the map import result"
          },
          "summary": {
            "$ref": "#/components/schemas/response_map_import_summary",
            "description": "Counts summarizing assignments made during the map import"
          }
        },
        "required": [
          "site_id",
          "aps",
          "floorplans",
          "summary"
        ],
        "type": "object"
      },
      "response_map_import_ap": {
        "additionalProperties": false,
        "description": "AP placement result from a map import",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/response_map_import_ap_action",
            "description": "Import action applied to this AP"
          },
          "floorplan_id": {
            "description": "Floorplan identifier where the AP placement was imported",
            "format": "uuid",
            "type": "string"
          },
          "height": {
            "description": "Mounting height for the AP on the imported floorplan",
            "format": "double",
            "type": "number"
          },
          "mac": {
            "description": "AP MAC address matched from the import file",
            "type": "string"
          },
          "map_id": {
            "description": "Map identifier associated with the imported AP placement",
            "format": "uuid",
            "type": "string"
          },
          "orientation": {
            "description": "AP orientation in degrees on the imported floorplan",
            "type": "integer"
          },
          "reason": {
            "description": "Explanation of why the AP import action was not completed, when provided",
            "type": "string"
          }
        },
        "required": [
          "mac",
          "action",
          "map_id",
          "floorplan_id",
          "orientation"
        ],
        "type": "object"
      },
      "response_map_import_ap_action": {
        "description": "enum: `assigned-named-placed`, `assigned-placed`, `ignored`, `named-placed`, `placed`",
        "enum": [
          "assigned-named-placed",
          "assigned-placed",
          "ignored",
          "named-placed",
          "placed"
        ],
        "type": "string"
      },
      "response_map_import_aps": {
        "description": "AP placement results produced by the map import",
        "items": {
          "$ref": "#/components/schemas/response_map_import_ap"
        },
        "type": "array",
        "uniqueItems": true
      },
      "response_map_import_floorplan": {
        "additionalProperties": false,
        "description": "Floorplan result from a map import",
        "properties": {
          "action": {
            "description": "Import action applied to this floorplan",
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Floorplan identifier returned by the import"
          },
          "map_id": {
            "description": "Map identifier associated with the imported floorplan",
            "format": "uuid",
            "type": "string"
          },
          "name": {
            "description": "Floorplan name imported from the map file",
            "type": "string"
          },
          "reason": {
            "description": "Explanation of why the floorplan import action was not completed, when provided",
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "action",
          "map_id"
        ],
        "type": "object"
      },
      "response_map_import_floorplans": {
        "description": "Floorplan import results produced by the map import",
        "items": {
          "$ref": "#/components/schemas/response_map_import_floorplan"
        },
        "type": "array",
        "uniqueItems": true
      },
      "response_map_import_summary": {
        "additionalProperties": false,
        "description": "Counts summarizing assignments made during the map import",
        "properties": {
          "num_ap_assigned": {
            "description": "Number of AP placements assigned during the map import",
            "type": "integer"
          },
          "num_inv_assigned": {
            "description": "Number of inventory records assigned to the site during the map import",
            "type": "integer"
          },
          "num_map_assigned": {
            "description": "Number of map floorplans assigned during the map import",
            "type": "integer"
          }
        },
        "required": [
          "num_ap_assigned",
          "num_map_assigned",
          "num_inv_assigned"
        ],
        "type": "object"
      },
      "response_virtual_chassis_config": {
        "additionalProperties": false,
[...]
