{
  "openapi": "3.1.0",
  "info": {
    "title": "MSPs SLEs",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "SLEs, or Service-Level Expectations, are metrics used to monitor and report on the user experience of a Wireless, Wired or Wan network.\n\nThey are generated through data science and machine learning algorithms and provide insights into various aspects of the network, such as coverage, capacity, connectivity, and performance.\n\nMist SLEs help identify when users do not have sufficient network quality, when they face issues with connecting or roaming between access points, and when there are problems on the wired network.\n\nSLEs API Calls at the MSP level can be used to retrieve the SLEs summary for each Organization attached to the MSP account.",
      "name": "MSPs SLEs"
    }
  ],
  "paths": {
    "/api/v1/msps/{msp_id}/insights/{metric}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/msp_id"
        },
        {
          "$ref": "#/components/parameters/metric"
        }
      ],
      "get": {
        "description": "Return MSP-level SLE insight metrics for the selected metric and time range. Depending on the metric, the response can include all organizations or the worst-performing organizations in the MSP.",
        "operationId": "getMspSle",
        "parameters": [
          {
            "description": "See [List Insight Metrics](/#operations/listInsightMetrics) for more details",
            "in": "query",
            "name": "sle",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/interval"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/InsightMetricMsp"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getMspSle",
        "tags": [
          "MSPs SLEs"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "insight_metrics": {
        "additionalProperties": false,
        "description": "Insight metric response for a requested time range and aggregation interval",
        "properties": {
          "end": {
            "description": "Window end timestamp for the returned insight metrics",
            "type": "integer"
          },
          "interval": {
            "description": "Aggregation interval used for the metric results",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of insight metric result items returned",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/insight_metrics_results",
            "description": "Metric result values for the requested insight metric"
          },
          "start": {
            "description": "Window start timestamp for the returned insight metrics",
            "type": "integer"
          }
        },
        "required": [
          "end",
          "interval",
          "start"
        ],
        "type": "object"
      },
      "insight_metrics_results": {
        "description": "Results depends on the `metric` - some return numbers (e.g. bytes, ap-count), others return objects",
        "items": {
          "$ref": "#/components/schemas/insight_metrics_results_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "insight_metrics_results_item": {
        "anyOf": [
          {
            "type": "number"
          },
          {
            "additionalProperties": true,
            "type": "object"
          }
        ],
        "description": "Insight metric result item, returned either as a number or an object depending on the requested metric"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "InsightMetricMsp": {
        "content": {
          "application/json": {
            "examples": {
              "Orgs Sle": {
                "$ref": "#/components/examples/InsightMetricMspOrgsSle"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/insight_metrics"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Orgs Sle": {
                "$ref": "#/components/examples/InsightMetricMspOrgsSle"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/insight_metrics"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "interval": {
        "description": "Aggregation works by giving a time range plus interval (e.g. 1d, 1h, 10m) where aggregation function would be applied to.",
        "in": "query",
        "name": "interval",
        "schema": {
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "metric": {
        "description": "See [List Insight Metrics](/#operations/listInsightMetrics) for available metrics",
        "in": "path",
        "name": "metric",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "msp_id": {
        "in": "path",
        "name": "msp_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "InsightMetricMspOrgsSle": {
        "value": {
          "end": 1643706000,
          "interval": 3600,
          "limit": 100,
          "results": [
            {
              "ap-availability": 0.9919400860511628,
              "ap-health": 0.967607512909879,
              "capacity": 0.7484652273070254,
              "coverage": 0.91217567374857,
              "num_aps": 13,
              "num_clients": 12,
              "org_id": "ab0aca7a-d45c-469b-b3bb-4fe240642d0b",
              "roaming": 0.991735537682683,
              "roaming-exp": 0.991735537682683,
              "successful-connect": 0.46052632135780236,
              "throughput": 0.6775702123846302,
              "time-to-connect": 0.9349112447196916
            },
            {
              "ap-availability": 0.9990384613092129,
              "ap-health": 0.48201754375507955,
              "capacity": 0.9702673450306101,
              "coverage": 0.8335392334930375,
              "num_aps": 1,
              "num_clients": 6,
              "org_id": "49ff76e0-a283-4e7d-b38d-041f1e9aff3c",
              "roaming": 1,
              "roaming-exp": 1,
              "successful-connect": 1,
              "throughput": 0,
              "time-to-connect": 1
            },
            {
              "ap-availability": 1,
              "ap-health": 0.982456140612301,
              "capacity": 1,
              "coverage": 0.9276041182442488,
              "num_aps": 2,
              "num_clients": 3,
              "org_id": "9b9b48f1-15a4-459e-86cc-9cbec9005983",
              "roaming": 1,
              "roaming-exp": 1,
              "successful-connect": 1,
              "throughput": 1,
              "time-to-connect": 0.8125
            },
            {
              "ap-availability": 0.9981132070973234,
              "ap-health": 0.9991228068084047,
              "capacity": 1,
              "coverage": 1,
              "num_aps": 1,
              "num_clients": 0,
              "org_id": "eb0e1671-7a6b-472b-94c3-c187dafe5274",
              "roaming": 1,
              "roaming-exp": 1,
              "successful-connect": 1,
              "throughput": 0,
              "time-to-connect": 0.5
            }
          ],
          "start": 1643670000
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
