{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Stats - Devices",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve statistics about the Mist Managed and Monitored Devices at the Org level\n\n\nBy default, the API call only returns a subset of the available fields. Additional fields can be requested by adding the query parameter `fields=` and the list of fields, or `fields=*` to retrieve all the available fields.",
      "name": "Orgs Stats - Devices"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/stats/devices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org Devices stats\nThis API renders some high-level device stats, pagination is assumed and returned in response header (as the response is an array)",
        "operationId": "listOrgDevicesStats",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/device_type_with_all"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/device_status"
            }
          },
          {
            "in": "query",
            "name": "site_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "EVPN Topology ID",
            "in": "query",
            "name": "evpntopo_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "If `evpn_unused`==`true`, find EVPN eligible switches which don’t belong to any EVPN Topology yet",
            "in": "query",
            "name": "evpn_unused",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DevicesArrayStatsOrg"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgDevicesStats",
        "tags": [
          "Orgs Stats - Devices"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "antenna_select": {
        "description": "Antenna Mode for AP which supports selectable antennas. enum: `\"\"` (default), `external`, `internal`",
        "enum": [
          "",
          "external",
          "internal"
        ],
        "examples": [
          "external"
        ],
        "type": "string"
      },
      "ap_ip_config": {
        "additionalProperties": false,
        "description": "IP AP settings",
        "properties": {
          "dns": {
            "$ref": "#/components/schemas/ap_ip_config_dns"
          },
          "dns_suffix": {
            "$ref": "#/components/schemas/ap_ip_config_dns_suffix"
          },
          "gateway": {
            "description": "Required if `type`==`static`",
            "examples": [
              "10.2.1.254"
            ],
            "format": "ipv4",
            "type": "string"
          },
          "gateway6": {
            "examples": [
              "2607:f8b0:4005:808::1"
            ],
            "format": "ipv6",
            "type": "string"
          },
          "ip": {
            "description": "Required if `type`==`static`",
            "examples": [
              "10.2.1.1"
            ],
            "format": "ipv4",
            "type": "string"
          },
          "ip6": {
            "examples": [
              "2607:f8b0:4005:808::2004"
            ],
            "format": "ipv6",
            "type": "string"
          },
          "mtu": {
            "examples": [
              0
            ],
            "type": "integer"
          },
          "netmask": {
            "description": "Required if `type`==`static`",
            "examples": [
              "255.255.255.0"
            ],
            "type": "string"
          },
          "netmask6": {
            "examples": [
              "/32"
            ],
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ip_type"
          },
          "type6": {
            "$ref": "#/components/schemas/ip_type6"
          },
          "vlan_id": {
            "default": 1,
            "description": "Management VLAN id, default is 1 (untagged)",
            "examples": [
              1
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_ip_config_dns": {
        "description": "If `type`==`static`",
        "examples": [
          [
            "8.8.8.8",
            "4.4.4.4"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "ap_ip_config_dns_suffix": {
        "description": "Required if `type`==`static`",
        "examples": [
          [
            ".mist.local",
            ".mist.com"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "ap_led": {
        "additionalProperties": false,
        "description": "LED AP settings",
        "properties": {
          "brightness": {
            "default": 255,
            "examples": [
              255
            ],
            "maximum": 255,
            "minimum": 0,
            "type": "integer"
          },
          "enabled": {
            "default": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_radio_stat": {
        "additionalProperties": false,
        "description": "Radio stat",
        "properties": {
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth"
          },
          "channel": {
            "description": "Current channel the radio is running on",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "dynamic_chaining_enabled": {
            "description": "Use dynamic chaining for downlink",
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "mac": {
            "description": "Radio (base) mac, it can have 16 bssids (e.g. 5c5b350001a0-5c5b350001af)",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "noise_floor": {
            "examples": [
              -90
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "num_clients": {
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "num_wlans": {
            "description": "How many WLANs are applied to the radio",
            "type": "integer"
          },
          "power": {
            "description": "Transmit power (in dBm)",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes"
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes"
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts"
          },
          "usage": {
            "examples": [
              "24"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "util_all": {
            "description": "All utilization in percentage",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "util_non_wifi": {
            "description": "Reception of \"No Packets\" utilization in percentage, received frames with invalid PLCPs and CRS glitches as noise",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "util_rx_in_bss": {
            "description": "Reception of \"In BSS\" utilization in percentage, only frames that are received from AP/STAs within the BSS",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "util_rx_other_bss": {
            "description": "Reception of \"Other BSS\" utilization in percentage, all frames received from AP/STAs that are outside the BSS",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "util_tx": {
            "description": "Transmission utilization in percentage",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "util_undecodable_wifi": {
            "description": "Reception of \"UnDecodable Wifi\" utilization in percentage, only Preamble, PLCP header is decoded, Rest is undecodable in this radio",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "util_unknown_wifi": {
            "description": "Reception of \"No Category\" utilization in percentage, all 802.11 frames that are corrupted at the receiver",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "ap_redundancy": {
        "additionalProperties": false,
        "properties": {
          "modules": {
            "$ref": "#/components/schemas/ap_redundancy_modules"
          },
          "num_aps": {
            "examples": [
              15
            ],
            "type": "integer"
          },
          "num_aps_with_switch_redundancy": {
            "examples": [
              8
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_redundancy_module": {
        "additionalProperties": false,
        "properties": {
          "num_aps": {
            "examples": [
              15
            ],
            "type": "integer"
          },
          "num_aps_with_switch_redundancy": {
            "examples": [
              8
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_redundancy_modules": {
        "additionalProperties": {
          "$ref": "#/components/schemas/ap_redundancy_module"
        },
        "description": "Property key is the node id",
        "type": "object"
      },
      "ap_stat_mesh_downlink": {
        "additionalProperties": false,
        "properties": {
          "band": {
            "examples": [
              "5"
            ],
            "type": "string"
          },
          "channel": {
            "examples": [
              36
            ],
            "type": "integer"
          },
          "idle_time": {
            "examples": [
              3
            ],
            "type": "integer"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen"
          },
          "proto": {
            "examples": [
              "n"
            ],
            "type": "string"
          },
          "rssi": {
            "examples": [
              -65
            ],
            "type": "integer"
          },
          "rx_bps": {
            "$ref": "#/components/schemas/rx_bps"
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes"
          },
          "rx_packets": {
            "$ref": "#/components/schemas/rx_pkts"
          },
          "rx_rate": {
            "$ref": "#/components/schemas/rx_rate"
          },
          "rx_retries": {
            "$ref": "#/components/schemas/rx_retries"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "snr": {
            "examples": [
              31
            ],
            "type": "integer"
          },
          "tx_bps": {
            "$ref": "#/components/schemas/tx_bps"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes"
          },
          "tx_packets": {
            "$ref": "#/components/schemas/tx_pkts"
          },
          "tx_rate": {
            "$ref": "#/components/schemas/tx_rate"
          },
          "tx_retries": {
            "$ref": "#/components/schemas/tx_retries"
          }
        },
        "type": "object"
      },
      "ap_stat_mesh_uplink": {
        "additionalProperties": false,
        "properties": {
          "band": {
            "examples": [
              "5"
            ],
            "type": "string"
          },
          "channel": {
            "examples": [
              36
            ],
            "type": "integer"
          },
          "idle_time": {
            "examples": [
              3
            ],
            "type": "integer"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen"
          },
          "proto": {
            "examples": [
              "n"
            ],
            "type": "string"
          },
          "rssi": {
            "examples": [
              -65
            ],
            "type": "integer"
          },
          "rx_bps": {
            "$ref": "#/components/schemas/rx_bps"
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes"
          },
          "rx_packets": {
            "$ref": "#/components/schemas/rx_pkts"
          },
          "rx_rate": {
            "$ref": "#/components/schemas/rx_rate"
          },
          "rx_retries": {
            "$ref": "#/components/schemas/rx_retries"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "snr": {
            "examples": [
              31
            ],
            "type": "integer"
          },
          "tx_bps": {
            "$ref": "#/components/schemas/tx_bps"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes"
          },
          "tx_packets": {
            "$ref": "#/components/schemas/tx_pkts"
          },
          "tx_rate": {
            "$ref": "#/components/schemas/tx_rate"
          },
          "tx_retries": {
            "$ref": "#/components/schemas/tx_retries"
          },
          "uplink_ap_id": {
            "examples": [
              "00000000-0000-0000-1000-5c5b35000010"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "arp_table_stats": {
        "additionalProperties": false,
        "properties": {
          "arp_table_count": {
            "type": "integer"
          },
          "max_entries_supported": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "bgp_as": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4294967294,
            "minimum": 1,
            "type": "integer"
          }
        ],
        "description": "BGP AS, value in range 1-4294967294. Can be a Variable (e.g. `{{bgp_as}}` )",
        "examples": [
          65000
        ]
      },
      "bgp_peer": {
        "additionalProperties": false,
        "description": "Only present when `bgp_peers` in `fields` query parameter",
        "properties": {
          "evpn_overlay": {
            "description": "If this is created for evpn overlay",
            "type": "boolean"
          },
          "for_overlay": {
            "description": "If this is created for overlay",
            "type": "boolean"
          },
          "local_as": {
            "$ref": "#/components/schemas/bgp_as"
          },
          "neighbor": {
            "examples": [
              "15.8.3.5"
            ],
            "type": "string"
          },
          "neighbor_as": {
            "$ref": "#/components/schemas/bgp_as"
          },
          "neighbor_mac": {
            "description": "If it's another device in the same org",
            "examples": [
              "020001c04600"
            ],
            "type": "string"
          },
          "node": {
            "description": "Node0/node1",
            "examples": [
              "node0"
            ],
            "type": "string"
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts"
          },
          "rx_routes": {
            "description": "Number of received routes",
            "examples": [
              60
            ],
            "type": "integer"
          },
          "state": {
            "$ref": "#/components/schemas/bgp_stats_state"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp"
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts"
          },
          "tx_routes": {
            "examples": [
              60
            ],
            "type": "integer"
          },
          "up": {
            "type": "boolean"
          },
          "uptime": {
            "examples": [
              31355
            ],
            "type": "integer"
          },
          "vrf_name": {
            "examples": [
              "default"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "bgp_peers": {
        "description": "Only present when `bgp_peers` in `fields` query parameter. Each port object is same as `GET /api/v1/sites/{site_id}/stats/bgp_peers/search` result object, except that org_id, site_id, mac, model are removed",
        "items": {
          "$ref": "#/components/schemas/bgp_peer"
        },
        "type": "array"
      },
      "bgp_stats_state": {
        "description": "enum: `active`, `connect`, `established`, `idle`, `open_config`, `open_sent`",
        "enum": [
          "active",
          "connect",
          "established",
          "idle",
          "open_config",
          "open_sent"
        ],
        "examples": [
          "established"
        ],
        "type": "string"
      },
      "const_device_type_ap": {
        "description": "Device Type. enum: `ap`",
        "enum": [
          "ap"
        ],
        "readOnly": true,
        "type": "string"
      },
      "const_device_type_gateway": {
        "description": "Device Type. enum: `gateway`",
        "enum": [
          "gateway"
        ],
        "readOnly": true,
        "type": "string"
      },
      "cpu_stat": {
        "additionalProperties": false,
        "properties": {
          "idle": {
            "description": "Percentage of CPU time that is idle",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "interrupt": {
            "description": "Percentage of CPU time being used by interrupts",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "load_avg": {
            "$ref": "#/components/schemas/cpu_stat_load_avg"
          },
          "system": {
            "description": "Percentage of CPU time being used by system processes",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "usage": {
            "description": "CPU usage",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "user": {
            "description": "Percentage of CPU time being used by user processes",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "cpu_stat_load_avg": {
        "description": "Load averages for the last 1, 5, and 15 minutes",
        "items": {
          "type": "number"
        },
        "type": "array"
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "device_status": {
        "default": "all",
        "description": "enum: `all`, `connected`, `disconnected`",
        "enum": [
          "all",
          "connected",
          "disconnected"
        ],
        "type": "string"
      },
      "device_type_switch": {
        "description": "Device Type. enum: `switch`",
        "enum": [
          "switch"
        ],
        "type": "string"
      },
      "device_type_with_all": {
        "default": "ap",
        "description": "enum: `all`, `ap`, `gateway`, `switch`",
        "enum": [
          "all",
          "ap",
          "gateway",
          "switch"
        ],
        "type": "string"
      },
      "dhcpd_stat": {
        "additionalProperties": {
          "$ref": "#/components/schemas/dhcpd_stat_lan"
        },
        "description": "Property key is the network name",
        "type": "object"
      },
      "dhcpd_stat_lan": {
        "additionalProperties": false,
        "properties": {
          "num_ips": {
            "examples": [
              100
            ],
            "type": "integer"
          },
          "num_leased": {
            "examples": [
              20
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dot11_bandwidth": {
        "description": "channel width for the band.enum: `0`(disabled, response only), `20`, `40`, `80` (only applicable for band_5 and band_6), `160` (only for band_6)",
        "enum": [
          0,
          20,
          40,
          80,
          160
        ],
        "examples": [
          20
        ],
        "type": "integer"
      },
      "fwupdate_stat": {
        "additionalProperties": false,
        "properties": {
          "progress": {
            "examples": [
              10
            ],
            "maximum": 100,
            "minimum": 0,
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/fwupdate_stat_status"
          },
          "status_id": {
            "examples": [
              5
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp"
          },
          "will_retry": {
            "examples": [
              false
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "fwupdate_stat_status": {
        "description": "enum: `inprogress`, `failed`, `upgraded`, `success`, `scheduled`, `error`",
        "enum": [
          "inprogress",
          "failed",
          "upgraded",
          "success",
          "scheduled",
          "error"
        ],
        "readOnly": true,
        "type": [
          "string",
          "null"
        ]
      },
      "ibeacon_major": {
        "description": "Major number for iBeacon",
        "examples": [
          1234
        ],
        "maximum": 65535,
        "minimum": 1,
        "type": [
          "integer",
          "null"
        ]
      },
      "ibeacon_minor": {
        "description": "Minor number for iBeacon",
        "examples": [
          1234
        ],
        "maximum": 65535,
        "minimum": 1,
        "type": [
          "integer",
          "null"
        ]
      },
      "ibeacon_uuid": {
        "examples": [
          "f3f17139-704a-f03a-2786-0400279e37c3"
        ],
        "format": "uuid",
        "type": [
          "string",
          "null"
        ]
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "if_stat": {
        "additionalProperties": {
          "$ref": "#/components/schemas/if_stat_property"
        },
        "description": "Property key is the interface name",
        "type": "object"
      },
      "if_stat_property": {
        "additionalProperties": false,
        "properties": {
          "address_mode": {
            "type": "string"
          },
          "ips": {
            "$ref": "#/components/schemas/strings"
          },
          "nat_addresses": {
            "$ref": "#/components/schemas/strings"
          },
          "network_name": {
            "type": "string"
          },
          "port_id": {
            "type": "string"
          },
          "port_usage": {
            "type": "string"
          },
          "redundancy_state": {
            "type": "string"
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes"
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts"
          },
          "servp_info": {
            "$ref": "#/components/schemas/if_stat_property_servp_info"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes"
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts"
          },
          "up": {
            "type": "boolean"
          },
          "vlan": {
            "type": "integer"
          },
          "wan_name": {
            "type": "string"
          },
          "wan_type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "if_stat_property_servp_info": {
        "additionalProperties": false,
        "properties": {
          "asn": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country_code": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "org": {
            "type": "string"
          },
          "region_code": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "integers": {
        "items": {
          "type": "integer"
        },
        "type": "array"
      },
      "ip_stat": {
        "additionalProperties": false,
        "properties": {
          "dhcp_server": {
            "examples": [
              "192.168.95.1"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "dns": {
            "$ref": "#/components/schemas/strings"
          },
          "dns_suffix": {
            "$ref": "#/components/schemas/strings"
          },
          "gateway": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "gateway6": {
            "examples": [
              "fdad:b0bc:f29e::1"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "ip": {
            "examples": [
              "10.3.3.1"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "ip6": {
            "examples": [
              "fdad:b0bc:f29e::3d16"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "ips": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ip_stat_ips"
            },
            "type": "object"
          },
          "netmask": {
            "examples": [
              "255.255.255.0"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "netmask6": {
            "examples": [
              "/64"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "ip_stat_ips": {
        "description": "Property key is the VLAN name",
        "readOnly": true,
        "type": [
          "string",
          "null"
        ]
      },
      "ip_type": {
        "default": "dhcp",
        "description": "enum: `dhcp`, `static`",
        "enum": [
          "dhcp",
          "static"
        ],
        "examples": [
          "static"
        ],
        "type": "string"
      },
      "ip_type6": {
        "default": "disabled",
        "description": "enum: `autoconf`, `dhcp`, `disabled`, `static`",
        "enum": [
          "autoconf",
          "dhcp",
          "disabled",
          "static"
        ],
        "examples": [
          "static"
        ],
        "type": "string"
      },
      "l2tp_state": {
        "description": "enum: `established`, `established_with_session`, `idle`, `wait-ctrl-conn`, `wait-ctrl-reply`",
        "enum": [
          "established",
          "established_with_session",
          "idle",
          "wait-ctrl-conn",
          "wait-ctrl-reply"
        ],
        "examples": [
          "established"
        ],
        "type": "string"
      },
      "last_seen": {
        "description": "Last seen timestamp",
        "examples": [
          1470417522
        ],
        "format": "double",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "last_trouble": {
        "additionalProperties": false,
        "description": "Last trouble code of switch",
        "properties": {
          "code": {
            "description": "Code definitions list at [List Ap Led Definition](/#operations/listApLedDefinition)",
            "examples": [
              "03"
            ],
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp"
          }
        },
        "type": "object"
      },
      "mac_table_stats": {
        "additionalProperties": false,
        "properties": {
          "mac_table_count": {
            "type": "integer"
          },
          "max_mac_entries_supported": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "memory_stat": {
        "additionalProperties": false,
        "description": "Memory usage stat (for virtual chassis, memory usage of master RE)",
        "properties": {
          "usage": {
            "type": "number"
          }
        },
        "required": [
          "usage"
        ],
        "type": "object"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "module_stat_item_errors": {
        "description": "Used to report all error states the device node is running into. An error should always have `type` and `since` fields, and could have some other fields specific to that type.",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_errors_items"
        },
        "type": "array"
      },
      "module_stat_item_errors_items": {
        "additionalProperties": false,
        "properties": {
          "feature": {
            "examples": [
              "Mist-Management"
            ],
            "type": "string"
          },
          "minimum_version": {
            "examples": [
              "128T-6.0.0-1"
            ],
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "since": {
            "examples": [
              1657497600
            ],
            "type": "integer"
          },
          "type": {
            "examples": [
              "FW_UPGRADE_REQUIRED_BY_FEATURE"
            ],
            "type": "string"
          }
        },
        "required": [
          "since",
          "type"
        ],
        "type": "object"
      },
      "module_stat_item_fans": {
        "items": {
          "$ref": "#/components/schemas/module_stat_item_fans_items"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_fans_items": {
        "additionalProperties": false,
        "properties": {
          "airflow": {
            "examples": [
              "out"
            ],
            "type": "string"
          },
          "name": {
            "examples": [
              "Fan 0"
            ],
            "type": "string"
          },
          "rpm": {
            "type": "integer"
          },
          "status": {
            "examples": [
              "ok"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_network_resource": {
        "additionalProperties": false,
        "properties": {
          "count": {
            "description": "current usage of the network resource",
            "examples": [
              17
            ],
            "minimum": 0,
            "type": "integer"
          },
          "limit": {
            "description": "maximum usage of the network resource",
            "examples": [
              768000
            ],
            "minimum": 0,
            "type": "integer"
          },
          "type": {
            "description": "type of the network resource (e.g. FIB, FLOW, ...)",
            "examples": [
              "FIB"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_network_resources": {
        "items": {
          "$ref": "#/components/schemas/module_stat_item_network_resource"
        },
        "type": "array"
      },
      "module_stat_item_pics": {
        "items": {
          "$ref": "#/components/schemas/module_stat_item_pics_item"
        },
        "type": "array"
      },
      "module_stat_item_pics_item": {
        "additionalProperties": false,
        "properties": {
          "index": {
            "type": "integer"
          },
          "model_number": {
            "type": "string"
          },
          "port_groups": {
            "$ref": "#/components/schemas/module_stat_item_pics_item_port_groups"
          }
        },
        "type": "object"
      },
      "module_stat_item_pics_item_port_groups": {
        "items": {
          "$ref": "#/components/schemas/module_stat_item_pics_item_port_groups_item"
        },
        "type": "array"
      },
      "module_stat_item_pics_item_port_groups_item": {
        "additionalProperties": false,
        "properties": {
          "count": {
            "type": "integer"
          },
          "type": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_poe": {
        "additionalProperties": false,
        "properties": {
          "max_power": {
            "examples": [
              250
            ],
            "type": "number"
          },
          "power_draw": {
            "examples": [
              120.3
            ],
            "type": "number"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_psus": {
        "items": {
          "$ref": "#/components/schemas/module_stat_item_psus_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_psus_item": {
        "additionalProperties": false,
        "properties": {
          "name": {
            "examples": [
              "Power Supply 0"
            ],
            "type": "string"
          },
          "status": {
            "examples": [
              "ok"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_temperatures": {
        "items": {
          "$ref": "#/components/schemas/module_stat_item_temperatures_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_temperatures_item": {
        "additionalProperties": false,
        "properties": {
          "celsius": {
            "examples": [
              45
            ],
            "type": "number"
          },
          "name": {
            "examples": [
              "CPU"
            ],
            "type": "string"
          },
          "status": {
            "examples": [
              "ok"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_vc_links": {
        "items": {
          "$ref": "#/components/schemas/module_stat_item_vc_links_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_vc_links_item": {
        "additionalProperties": false,
        "properties": {
          "neighbor_module_idx": {
            "examples": [
              1
            ],
            "type": "integer"
          },
          "neighbor_port_id": {
            "examples": [
              "vcp-255/1/0"
            ],
            "type": "string"
          },
          "port_id": {
            "examples": [
              "vcp-255/1/0"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "poe_priority": {
        "description": "PoE priority. enum: `low`, `high`",
        "enum": [
          "low",
          "high"
        ],
        "type": "string"
      },
      "port_auth_state": {
        "description": "enum: `authenticated`, `authenticating`, `held`, `init`",
        "enum": [
          "",
          "authenticated",
          "authenticating",
          "held",
          "init"
        ],
        "type": "string"
      },
      "port_stp_role": {
        "description": "enum: `alternate`, `backup`, `designated`, `disabled`, `root`, `root-prevented`",
        "enum": [
          "",
          "alternate",
          "backup",
          "designated",
          "disabled",
          "root",
          "root-prevented"
        ],
        "type": "string"
      },
      "port_stp_state": {
        "description": "enum: `blocking`, `disabled`, `forwarding`, `learning`, `listening`",
        "enum": [
          "",
          "blocking",
          "disabled",
          "forwarding",
          "learning",
          "listening"
        ],
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "route_summary_stats": {
        "additionalProperties": false,
        "properties": {
          "fib_routes": {
            "type": "integer"
          },
          "max_unicast_routes_supported": {
            "type": "integer"
          },
          "rib_routes": {
            "type": "integer"
          },
          "total_routes": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "rx_bps": {
        "description": "Rate of receiving traffic, bits/seconds, last known",
        "examples": [
          60003
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "rx_bytes": {
        "description": "Amount of traffic received since connection",
        "examples": [
          8515104416
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "rx_pkts": {
        "description": "Amount of packets received since connection",
        "examples": [
          57770567
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "rx_rate": {
        "description": "RX Rate, Mbps",
        "format": "float",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "rx_retries": {
        "description": "Amount of rx retries",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "service_stat": {
        "additionalProperties": {
          "$ref": "#/components/schemas/service_stat_property"
        },
        "type": "object"
      },
      "service_stat_property": {
        "additionalProperties": false,
        "properties": {
          "ash_version": {
            "type": "string"
          },
          "cia_version": {
            "type": "string"
          },
          "ember_version": {
            "type": "string"
          },
          "ipsec_client_version": {
            "type": "string"
          },
          "mist_agent_version": {
            "type": "string"
          },
          "package_version": {
            "type": "string"
          },
          "testing_tools_version": {
            "type": "string"
          },
          "wheeljack_version": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_id": {
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "stats_ap": {
        "additionalProperties": false,
        "description": "AP statistics",
        "properties": {
          "antenna_select": {
            "$ref": "#/components/schemas/antenna_select"
          },
          "auto_placement": {
            "$ref": "#/components/schemas/stats_ap_auto_placement"
          },
          "auto_upgrade_stat": {
            "$ref": "#/components/schemas/stats_ap_auto_upgrade"
          },
          "ble_stat": {
            "$ref": "#/components/schemas/stats_ap_ble"
          },
          "cert_expiry": {
            "examples": [
              1534534392
            ],
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "config_reverted": {
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "cpu_system": {
            "format": "int64",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "cpu_user": {
            "format": "int32",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "cpu_util": {
            "format": "int32",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time"
          },
          "deviceprofile_id": {
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "env_stat": {
            "$ref": "#/components/schemas/stats_ap_env_stat"
          },
          "esl_stat": {
            "$ref": "#/components/schemas/stats_ap_esl_stat"
          },
          "evpntopo_id": {
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "expiring_certs": {
            "$ref": "#/components/schemas/stats_ap_expiring_certs"
          },
          "ext_ip": {
            "examples": [
              "73.92.124.103"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "fwupdate": {
            "$ref": "#/components/schemas/fwupdate_stat"
          },
          "gps_stat": {
            "$ref": "#/components/schemas/stats_ap_gps_stat"
          },
          "hw_rev": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "inactive_wired_vlans": {
            "$ref": "#/components/schemas/integers"
          },
          "iot_stat": {
            "$ref": "#/components/schemas/stats_ap_iot_stat"
          },
          "ip": {
            "examples": [
              "10.2.9.159"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "ip_config": {
            "$ref": "#/components/schemas/ap_ip_config"
          },
          "ip_stat": {
            "$ref": "#/components/schemas/ip_stat"
          },
          "l2tp_stat": {
            "additionalProperties": {
              "$ref": "#/components/schemas/stats_ap_l2tp_stat"
            },
            "description": "L2TP tunnel status (key is the wxtunnel_id)",
            "type": "object"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen"
          },
          "last_trouble": {
            "$ref": "#/components/schemas/last_trouble"
          },
          "led": {
            "$ref": "#/components/schemas/ap_led"
          },
          "lldp_stat": {
            "$ref": "#/components/schemas/stats_ap_lldp_stat"
          },
          "lldp_stats": {
            "$ref": "#/components/schemas/stats_ap_lldp_stats"
          },
          "locating": {
            "examples": [
              false
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "locked": {
            "description": "Whether this AP is considered locked (placement / orientation has been vetted)",
            "examples": [
              true
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "mac": {
            "description": "Device mac",
            "examples": [
              "5c5b35000010"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "map_id": {
            "examples": [
              "63eda950-c6da-11e4-a628-60f81dd250cc"
            ],
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "mem_total_kb": {
            "format": "int64",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "mem_used_kb": {
            "format": "int64",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "mesh_downlinks": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ap_stat_mesh_downlink"
            },
            "description": "Property key is the mesh downlink id (e.g. `00000000-0000-0000-1000-5c5b35000010`)",
            "type": "object"
          },
          "mesh_uplink": {
            "$ref": "#/components/schemas/ap_stat_mesh_uplink"
          },
          "model": {
            "description": "Device model",
            "examples": [
              "AP200"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time"
          },
          "mount": {
            "examples": [
              "faceup"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "examples": [
              "conference room"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "num_clients": {
            "description": "How many wireless clients are currently connected",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "num_wlans": {
            "description": "How many WLANs are applied to the device",
            "type": "integer"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "port_stat": {
            "additionalProperties": {
              "$ref": "#/components/schemas/stats_ap_port_stat"
            },
            "description": "Property key is the port name (e.g. `eth0`)",
            "readOnly": true,
            "type": [
              "object",
              "null"
            ]
          },
          "power_budget": {
            "description": "In mW, surplus if positive or deficit if negative",
            "examples": [
              1000
            ],
            "format": "int32",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_constrained": {
            "description": "Whether insufficient power",
            "examples": [
              false
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "power_opmode": {
            "description": "Constrained mode",
            "examples": [
              "[20] 6GHz(2x2) 5GHz(4x4) 2.4GHz(2x2)."
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "power_src": {
            "description": "DC Input / PoE 802.3at / PoE 802.3af / LLDP / ? (unknown)",
            "examples": [
              "PoE 802.3af"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "radio_config": {
            "$ref": "#/components/schemas/stats_ap_radio_config"
          },
          "radio_stat": {
            "$ref": "#/components/schemas/stats_ap_radio_stat"
          },
          "rx_bps": {
            "$ref": "#/components/schemas/rx_bps"
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes"
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts"
          },
          "serial": {
            "description": "Serial Number",
            "examples": [
              "FXLH2015170017"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "status": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "switch_redundancy": {
            "$ref": "#/components/schemas/stats_ap_switch_redundancy"
          },
          "tx_bps": {
            "$ref": "#/components/schemas/tx_bps"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes"
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts"
          },
          "type": {
            "$ref": "#/components/schemas/const_device_type_ap"
          },
          "uptime": {
            "description": "How long, in seconds, has the device been up (or rebooted)",
            "examples": [
              13500
            ],
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "usb_stat": {
            "$ref": "#/components/schemas/stats_ap_usb_stat"
          },
          "version": {
            "examples": [
              "0.14.12345"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "x": {
            "examples": [
              53.5
            ],
            "format": "double",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "y": {
            "examples": [
              173.1
            ],
            "format": "double",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          }
        },
        "required": [
          "type"
        ],
        "title": "stats_ap",
        "type": "object"
      },
      "stats_ap_auto_placement": {
        "additionalProperties": false,
        "properties": {
          "info": {
            "$ref": "#/components/schemas/stats_ap_auto_placement_info"
          },
          "recommended_anchor": {
            "description": "Flag to represent if AP is recommended as an anchor by auto placement service",
            "type": "boolean"
          },
          "status": {
            "description": "Basic Placement Status",
            "examples": [
              "localized"
            ],
            "type": "string"
          },
          "status_detail": {
            "description": "Additional info about placement status",
            "examples": [
              "localized"
            ],
            "type": "string"
          },
          "x": {
            "description": "X Autoplaced Position in pixels",
            "examples": [
              53.5
            ],
            "format": "double",
            "type": "number"
          },
          "x_m": {
            "description": "X Autoplaced Position in meters",
            "examples": [
              5.35
            ],
            "format": "double",
            "type": "number"
          },
          "y": {
            "description": "Y Autoplaced Position in pixels",
            "examples": [
              173.1
            ],
            "format": "double",
            "type": "number"
          },
          "y_m": {
            "description": "X Autoplaced Position in meters",
            "examples": [
              17.31
            ],
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "stats_ap_auto_placement_info": {
        "additionalProperties": false,
        "description": "Additional information about auto placements AP data",
        "properties": {
          "cluster_number": {
            "description": "All APs sharing a given cluster number can be placed relative to each other",
            "examples": [
              0
            ],
            "type": "integer"
          },
          "orientation_stats": {
            "description": "The orientation of an AP",
            "examples": [
              0
            ],
            "type": "integer"
          },
          "probability_surface": {
            "$ref": "#/components/schemas/stats_ap_auto_placement_info_probability_surface"
          }
        },
        "type": "object"
      },
      "stats_ap_auto_placement_info_probability_surface": {
        "additionalProperties": false,
        "description": "Coordinates representing a circle where the AP is most likely exists in the event of an inaccurate placement result",
        "properties": {
          "radius": {
            "description": "The radius representing placement uncertainty, measured in pixels",
            "examples": [
              2.1
            ],
            "type": "number"
          },
          "radius_m": {
            "description": "The radius representing placement uncertainty, measured in meters",
            "type": "number"
          },
          "x": {
            "description": "Y-coordinate of the potential placement’s center, measured in pixels",
            "examples": [
              17
            ],
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "stats_ap_auto_upgrade": {
        "additionalProperties": false,
        "properties": {
          "lastcheck": {
            "examples": [
              1720594762
            ],
            "format": "int64",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "stats_ap_ble": {
        "additionalProperties": false,
        "properties": {
          "beacon_enabled": {
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "beacon_rate": {
            "examples": [
              3
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "eddystone_uid_enabled": {
            "examples": [
              false
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "eddystone_uid_freq_msec": {
            "examples": [
              2000
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "eddystone_uid_instance": {
            "examples": [
              "5c5b35000001"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "eddystone_uid_namespace": {
            "examples": [
              "2818e3868dec25629ede"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "eddystone_url_enabled": {
            "examples": [
              true
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "eddystone_url_freq_msec": {
            "description": "Frequency (msec) of data emit by Eddystone-UID beacon",
            "examples": [
              100
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "eddystone_url_url": {
            "examples": [
              "https://www.abc.com"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "ibeacon_enabled": {
            "examples": [
              true
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "ibeacon_freq_msec": {
            "examples": [
              2000
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "ibeacon_major": {
            "$ref": "#/components/schemas/ibeacon_major"
          },
          "ibeacon_minor": {
            "$ref": "#/components/schemas/ibeacon_minor"
          },
          "ibeacon_uuid": {
            "$ref": "#/components/schemas/ibeacon_uuid"
          },
          "major": {
            "examples": [
              12345
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "minors": {
            "$ref": "#/components/schemas/integers"
          },
          "power": {
            "examples": [
              10
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes"
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes"
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts"
          },
          "tx_resets": {
            "description": "Resets due to tx hung",
            "examples": [
              0
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "uuid": {
            "examples": [
              "ada72f8f-1643-e5c6-94db-f2a5636f1a64"
            ],
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "stats_ap_env_stat": {
        "additionalProperties": false,
        "description": "Device environment, including CPU temperature, Ambient temperature, Humidity, Attitude, Pressure, Accelerometers, Magnetometers and vCore Voltage",
        "properties": {
          "accel_x": {
            "examples": [
              0
            ],
            "format": "float",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "accel_y": {
            "examples": [
              0.032
            ],
            "format": "float",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "accel_z": {
            "examples": [
              -1.088
            ],
            "format": "float",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "ambient_temp": {
            "examples": [
              43
            ],
            "format": "int32",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "attitude": {
            "examples": [
              0
            ],
            "format": "int32",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "cpu_temp": {
            "examples": [
              61
            ],
            "format": "int32",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "humidity": {
            "examples": [
              9
            ],
            "format": "int32",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "magne_x": {
            "examples": [
              0
            ],
            "format": "float",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "magne_y": {
            "examples": [
              0
            ],
            "format": "float",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "magne_z": {
            "examples": [
              0
            ],
            "format": "float",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "pressure": {
            "examples": [
              968
            ],
            "format": "float",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "vcore_voltage": {
            "examples": [
              0
            ],
            "format": "int32",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "stats_ap_esl_stat": {
        "additionalProperties": false,
        "properties": {
          "channel": {
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "connected": {
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "ip": {
            "description": "IP address of Hanshow and SoluM dongles",
            "examples": [
              "172.16.2.249"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "mac": {
            "description": "MAC address of Hanshow and SoluM dongles",
            "examples": [
              "98-6d-35-79-76-3b"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "product_id": {
            "description": "Product ID of Hanshow and SoluM dongles",
            "examples": [
              "A4A2"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "examples": [
              "imagotag"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "up": {
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "vendor_id": {
            "description": "Vendor ID of Hanshow and SoluM dongles",
            "examples": [
              "0525"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          }
        },
        "readOnly": true,
        "type": [
          "object",
          "null"
        ]
      },
      "stats_ap_expiring_certs": {
        "additionalProperties": {
          "description": "Expiry time in epoch seconds",
          "type": "integer"
        },
        "description": "Map of certificate serial numbers to their expiry timestamps (in epoch) for certificates expiring within 30 days. Property key is the certificate serial number",
        "type": "object"
      },
      "stats_ap_gps_stat": {
        "additionalProperties": false,
        "properties": {
          "accuracy": {
            "description": "The estimated accuracy or accuracy of the GPS coordinates, measured in meters.",
            "examples": [
              12.5
            ],
            "type": "number"
          },
          "altitude": {
            "description": "The elevation of the AP above sea level, measured in meters.",
            "examples": [
              99.939
            ],
            "type": "number"
          },
          "latitude": {
            "description": "The geographic latitude of the AP, measured in degrees.",
            "examples": [
              37.29548
            ],
            "type": "number"
          },
          "longitude": {
            "description": "The geographic longitude of the AP, measured in degrees.",
            "examples": [
              -122.03304
            ],
            "type": "number"
          },
          "src": {
            "$ref": "#/components/schemas/stats_ap_gps_stat_src"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp"
          }
        },
        "type": "object"
      },
      "stats_ap_gps_stat_src": {
        "description": "The origin of the GPS data. enum: `gps`: from this device GPS estimates, `other_ap` from neighboring device GPS estimates. Note: API responses may return `other_aps` which should be treated as `other_ap`",
        "enum": [
          "gps",
          "other_ap",
          "other_aps"
        ],
        "type": "string"
      },
      "stats_ap_iot_stat": {
        "additionalProperties": {
          "$ref": "#/components/schemas/stats_ap_iot_stat_additional_properties"
        },
        "examples": [
          {
            "DI2": {
              "value": 0
            }
          }
        ],
        "type": "object"
      },
      "stats_ap_iot_stat_additional_properties": {
        "additionalProperties": false,
        "properties": {
          "value": {
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "stats_ap_l2tp_stat": {
        "additionalProperties": false,
        "properties": {
          "sessions": {
            "$ref": "#/components/schemas/stats_ap_l2tp_stat_sessions"
          },
          "state": {
            "$ref": "#/components/schemas/l2tp_state"
          },
          "uptime": {
            "description": "Uptime",
            "examples": [
              135
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "wxtunnel_id": {
            "description": "WxlanTunnel ID",
            "examples": [
              "7dae216d-7c98-a51b-e068-dd7d477b7216"
            ],
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "stats_ap_l2tp_stat_session": {
        "additionalProperties": false,
        "properties": {
          "local_sid": {
            "description": "Remote sessions id (dynamically unless Tunnel is said to be static)",
            "examples": [
              31
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "remote_id": {
            "description": "WxlanTunnel Remote ID (user-configured)",
            "examples": [
              "vpn1"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "remote_sid": {
            "description": "Remote sessions id (dynamically unless Tunnel is said to be static)",
            "examples": [
              13
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "state": {
            "$ref": "#/components/schemas/l2tp_state"
          }
        },
        "type": "object"
      },
      "stats_ap_l2tp_stat_sessions": {
        "description": "List of sessions",
        "items": {
          "$ref": "#/components/schemas/stats_ap_l2tp_stat_session"
        },
        "type": "array"
      },
      "stats_ap_lldp_stat": {
        "additionalProperties": false,
        "description": "LLDP neighbor information and power negotiations. For backward compatibility, when multiple neighbors exist, only information from the first neighbor is displayed.",
        "properties": {
          "chassis_id": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "lldp_med_supported": {
            "description": "Whether it support LLDP-MED",
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "mgmt_addr": {
            "description": "Management IP address of the switch",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "mgmt_addrs": {
            "$ref": "#/components/schemas/stats_ap_lldp_stat_mgmt_addrs"
          },
          "port_desc": {
            "description": "Port description, e.g. “2/20”, “Port 2 on Switch0”",
            "examples": [
              "2/20"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "port_id": {
            "description": "Port identifier",
            "examples": [
              "ge-0/0/4"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "power_allocated": {
            "description": "In mW, power allocated by PSE",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "power_avail": {
            "description": "In mW, total Power Avail at AP from pwr source",
            "type": "integer"
          },
          "power_budget": {
            "description": "In mW, surplus if positive or deficit if negative",
            "type": "integer"
          },
          "power_constrained": {
            "description": "Whether power is insufficient",
            "type": "boolean"
          },
          "power_draw": {
            "description": "In mW, total power needed by PD",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "power_needed": {
            "description": "In mW, total Power needed incl Peripherals",
            "type": "integer"
          },
          "power_opmode": {
            "description": "Constrained mode",
            "type": "string"
          },
          "power_request_count": {
            "description": "Number of negotiations, if it keeps increasing, we don’ t have a stable power",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_requested": {
            "description": "In mW, power requested by PD",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "power_src": {
            "$ref": "#/components/schemas/stats_ap_lldp_stat_power_src"
          },
          "power_srcs": {
            "$ref": "#/components/schemas/stats_ap_lldp_stat_power_srcs"
          },
          "system_desc": {
            "description": "Description provided by switch",
            "examples": [
              "uniper Networks, Inc. ex4300-48t internet router, kernel JUNOS 20.4R3-S7.2, Build date: 2023-04-21 19:47:18 UTC Copyright (c) 1996-2023 Juniper Networks, Inc."
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "system_name": {
            "description": "Name of the switch",
            "examples": [
              "Core-AE23"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "stats_ap_lldp_stat_mgmt_addrs": {
        "description": "List of management IP addresses (IPv4 and IPv6)",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "stats_ap_lldp_stat_power_src": {
        "description": "Single power source (DC Input / PoE 802.3at / PoE 802.3af / PoE 802.3bt / MULTI-PD / LLDP / ? (unknown)).",
        "type": "string"
      },
      "stats_ap_lldp_stat_power_srcs": {
        "description": "List of management IP addresses (IPv4 and IPv6)",
        "items": {
          "$ref": "#/components/schemas/stats_ap_lldp_stat_power_src"
        },
        "type": "array"
      },
      "stats_ap_lldp_stats": {
        "additionalProperties": {
          "$ref": "#/components/schemas/stats_ap_lldp_stat"
        },
        "description": "Property key is the port name (e.g. \"eth0\", \"eth1\", ...). Map of ethernet ports to their respective LLDP neighbor information and power negotiations. Only present when multiple neighbors exist.",
        "type": "object"
      },
      "stats_ap_port_stat": {
        "additionalProperties": false,
        "properties": {
          "full_duplex": {
            "examples": [
              true
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes"
          },
          "rx_errors": {
            "examples": [
              0
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "rx_peak_bps": {
            "examples": [
              22185
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts"
          },
          "speed": {
            "examples": [
              1000
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes"
          },
          "tx_peak_bps": {
            "examples": [
              43922
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts"
          },
          "up": {
            "examples": [
              true
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "stats_ap_radio_config": {
        "additionalProperties": false,
        "properties": {
          "band_24": {
            "$ref": "#/components/schemas/stats_ap_radio_config_band"
          },
          "band_24_usage": {
            "examples": [
              "5"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "band_5": {
            "$ref": "#/components/schemas/stats_ap_radio_config_band"
          },
          "band_6": {
            "$ref": "#/components/schemas/stats_ap_radio_config_band"
          },
          "scanning_enabled": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "stats_ap_radio_config_band": {
        "additionalProperties": false,
        "properties": {
          "allow_rrm_disable": {
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "bandwidth": {
            "examples": [
              20
            ],
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "channel": {
            "examples": [
              1
            ],
            "type": "integer"
          },
          "disabled": {
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "dynamic_chaining_enabled": {
            "examples": [
              false
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "power": {
            "examples": [
              10
            ],
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "power_max": {
            "examples": [
              10
            ],
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "power_min": {
            "examples": [
              10
            ],
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "rx_chain": {
            "examples": [
              4
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "tx_chain": {
            "examples": [
              4
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "stats_ap_radio_stat": {
        "additionalProperties": false,
        "properties": {
          "band_24": {
            "$ref": "#/components/schemas/ap_radio_stat"
          },
          "band_5": {
            "$ref": "#/components/schemas/ap_radio_stat"
          },
          "band_6": {
            "$ref": "#/components/schemas/ap_radio_stat"
          }
        },
        "type": "object"
      },
      "stats_ap_switch_redundancy": {
        "additionalProperties": false,
        "properties": {
          "num_redundant_aps": {
            "examples": [
              1
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "stats_ap_usb_stat": {
        "additionalProperties": false,
        "properties": {
          "channel": {
            "examples": [
              3
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "connected": {
            "examples": [
              true
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "last_activity": {
            "examples": [
              1586873254
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "type": {
            "examples": [
              "imagotag"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "up": {
            "examples": [
              true
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "stats_cluster_config": {
        "additionalProperties": false,
        "properties": {
          "configuration": {
            "type": "string"
          },
          "control_link_info": {
            "$ref": "#/components/schemas/stats_cluster_config_control_link_info"
          },
          "ethernet_connection": {
            "$ref": "#/components/schemas/stats_cluster_config_ethernet_connection"
          },
          "fabric_link_info": {
            "$ref": "#/components/schemas/stats_cluster_config_fabric_link_info"
          },
          "last_status_change_reason": {
            "type": "string"
          },
          "operational": {
            "type": "string"
          },
          "primary_node_health": {
            "type": "string"
          },
          "redundancy_group_information": {
            "$ref": "#/components/schemas/stats_cluster_config_redundancy_group_info"
          },
          "secondary_node_health": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_cluster_config_control_link_info": {
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_cluster_config_ethernet_connection": {
        "items": {
          "$ref": "#/components/schemas/stats_cluster_config_ethernet_connection_item"
        },
        "type": "array"
      },
      "stats_cluster_config_ethernet_connection_item": {
        "additionalProperties": false,
        "properties": {
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_cluster_config_fabric_link_info": {
        "additionalProperties": false,
        "properties": {
          "DataPlaneNotifiedStatus": {
            "type": "string"
          },
          "Interface": {
            "$ref": "#/components/schemas/strings"
          },
          "InternalStatus": {
            "type": "string"
          },
          "State": {
            "type": "string"
          },
          "Status": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_cluster_config_redundancy_group_info": {
        "items": {
          "$ref": "#/components/schemas/stats_cluster_config_redundancy_group_info_item"
        },
        "type": "array"
      },
      "stats_cluster_config_redundancy_group_info_item": {
        "additionalProperties": false,
        "properties": {
          "Id": {
            "type": "integer"
          },
          "MonitoringFailure": {
            "type": "string"
          },
          "Threshold": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "stats_device": {
        "discriminator": {
          "mapping": {
            "ap": "#/components/schemas/stats_ap",
            "gateway": "#/components/schemas/stats_gateway",
            "switch": "#/components/schemas/stats_switch"
          },
          "propertyName": "type"
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/stats_ap"
          },
          {
            "$ref": "#/components/schemas/stats_switch"
          },
          {
            "$ref": "#/components/schemas/stats_gateway"
          }
        ]
      },
      "stats_devices": {
        "items": {
          "$ref": "#/components/schemas/stats_device"
        },
        "type": "array"
      },
      "stats_gateway": {
        "additionalProperties": false,
        "description": "Gateway statistics",
        "properties": {
          "ap_redundancy": {
            "$ref": "#/components/schemas/ap_redundancy"
          },
          "arp_table_stats": {
            "$ref": "#/components/schemas/arp_table_stats"
          },
          "auto_upgrade_stat": {
            "$ref": "#/components/schemas/stats_ap_auto_upgrade"
          },
          "bgp_peers": {
            "$ref": "#/components/schemas/bgp_peers"
          },
          "cert_expiry": {
            "format": "int64",
            "type": "integer"
          },
          "cluster_config": {
            "$ref": "#/components/schemas/stats_cluster_config"
          },
          "cluster_stat": {
            "$ref": "#/components/schemas/stats_gateway_cluster"
          },
          "conductor_name": {
            "readOnly": true,
            "type": "string"
          },
          "config_status": {
            "readOnly": true,
            "type": "string"
          },
          "config_timestamp": {
            "type": "integer"
          },
          "config_version": {
            "type": "integer"
          },
          "cpu2_stat": {
            "$ref": "#/components/schemas/cpu_stat"
          },
          "cpu_stat": {
            "$ref": "#/components/schemas/cpu_stat"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time"
          },
          "deviceprofile_id": {
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "deviceprofile_name": {
            "type": "string"
          },
          "dhcpd2_stat": {
            "$ref": "#/components/schemas/dhcpd_stat"
          },
          "dhcpd_stat": {
            "$ref": "#/components/schemas/dhcpd_stat"
          },
          "evpntopo_id": {
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "ext_ip": {
            "description": "IP address",
            "examples": [
              "66.129.234.224"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "fwupdate": {
            "$ref": "#/components/schemas/fwupdate_stat"
          },
          "has_pcap": {
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "hostname": {
            "description": "Hostname reported by the device",
            "examples": [
              "sj1"
            ],
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "if2_stat": {
            "$ref": "#/components/schemas/if_stat"
          },
          "if_stat": {
            "$ref": "#/components/schemas/if_stat"
          },
          "ip": {
            "description": "IP address",
            "examples": [
              "10.2.11.137"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "ip2_stat": {
            "$ref": "#/components/schemas/ip_stat"
          },
          "ip_stat": {
            "$ref": "#/components/schemas/ip_stat"
          },
          "is_ha": {
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen"
          },
          "mac": {
            "description": "Device mac",
            "examples": [
              "dc38e1dbf3cd"
            ],
            "type": "string"
          },
          "mac_table_stats": {
            "$ref": "#/components/schemas/stats_gateway_mac_table_stats"
          },
          "map_id": {
            "description": "Serial Number",
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "memory2_stat": {
            "$ref": "#/components/schemas/memory_stat"
          },
          "memory_stat": {
            "$ref": "#/components/schemas/memory_stat"
          },
          "model": {
            "description": "Device model",
            "examples": [
              "SRX320"
            ],
            "type": "string"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time"
          },
          "module2_stat": {
            "$ref": "#/components/schemas/stats_gateway_module_stat"
          },
          "module_stat": {
            "$ref": "#/components/schemas/stats_gateway_module_stat"
          },
          "name": {
            "description": "Device name if configured",
            "examples": [
              "sj1"
            ],
            "readOnly": true,
            "type": "string"
          },
          "node_name": {
            "examples": [
              "node0"
            ],
            "readOnly": true,
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "ports": {
            "$ref": "#/components/schemas/stats_gateway_ports"
          },
          "route_summary_stats": {
            "$ref": "#/components/schemas/route_summary_stats"
          },
          "router_name": {
            "description": "Device name if configured",
            "examples": [
              "sj1"
            ],
            "readOnly": true,
            "type": "string"
          },
          "serial": {
            "description": "Serial Number",
            "examples": [
              "TC3714190003"
            ],
            "readOnly": true,
            "type": "string"
          },
          "service2_stat": {
            "$ref": "#/components/schemas/service_stat"
          },
          "service_stat": {
            "$ref": "#/components/schemas/service_stat"
          },
          "service_status": {
            "$ref": "#/components/schemas/stats_gateway_service_status"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "spu2_stat": {
            "$ref": "#/components/schemas/stats_gateway_spu"
          },
          "spu_stat": {
            "$ref": "#/components/schemas/stats_gateway_spu"
          },
          "status": {
            "examples": [
              "connected"
            ],
            "readOnly": true,
            "type": "string"
          },
          "tag_id": {
            "type": "integer"
          },
          "tag_uuid": {
            "format": "uuid",
            "type": "string"
          },
          "tunnels": {
            "$ref": "#/components/schemas/stats_gateway_wan_tunnels"
          },
          "type": {
            "$ref": "#/components/schemas/const_device_type_gateway"
          },
          "uptime": {
            "examples": [
              3671219
            ],
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "version": {
            "examples": [
              "18.4R1.8"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "vpn_peers": {
            "$ref": "#/components/schemas/stats_gateway_vpn_peers"
          }
        },
        "required": [
          "mac",
          "type"
        ],
        "type": "object"
      },
      "stats_gateway_cluster": {
        "additionalProperties": false,
        "properties": {
          "state": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "stats_gateway_mac_table_stats": {
        "additionalProperties": false,
        "properties": {
          "mac_table_count": {
            "type": "integer"
          },
          "max_mac_entries_supported": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "stats_gateway_module_stat": {
        "items": {
          "$ref": "#/components/schemas/stats_gateway_module_stat_item"
        },
        "maxItems": 1,
        "minItems": 0,
        "type": "array"
      },
      "stats_gateway_module_stat_item": {
        "additionalProperties": false,
        "properties": {
          "backup_version": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "bios_version": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "boot_partition": {
            "type": "string"
          },
          "cpld_version": {
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
[...]
