{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Stats - Other Devices",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve statistics about the Other/3rd party devices at the Org level",
      "name": "Orgs Stats - Other Devices"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/stats/otherdevices/{device_mac}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/device_mac"
        }
      ],
      "get": {
        "description": "Get Otherdevice Stats",
        "operationId": "getOrgOtherDeviceStats",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceOtherStats"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgOtherDeviceStats",
        "tags": [
          "Orgs Stats - Other Devices"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "last_seen": {
        "description": "Timestamp indicating when the entity was last seen",
        "examples": [
          1470417522
        ],
        "format": "double",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_device_other": {
        "additionalProperties": false,
        "description": "Statistics for a third-party or other device tracked by Mist",
        "properties": {
          "cached_stats": {
            "description": "Whether the response was served from cached vendor statistics",
            "type": "boolean"
          },
          "config_status": {
            "description": "Synchronization status of the other device configuration in Mist",
            "examples": [
              "synced"
            ],
            "type": "string"
          },
          "connected_devices": {
            "$ref": "#/components/schemas/stats_device_other_connected_devices",
            "description": "LLDP neighbor devices discovered from the other device"
          },
          "interfaces": {
            "$ref": "#/components/schemas/stats_device_other_interfaces",
            "description": "Network interface statistics reported for the other device"
          },
          "last_config": {
            "description": "Timestamp of the last configuration update reported for the other device, in epoch seconds",
            "examples": [
              1675392788
            ],
            "type": "integer"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen",
            "description": "Time when Mist last observed the other device, in epoch seconds"
          },
          "lldp_enabled": {
            "description": "Whether LLDP is enabled on the other device",
            "type": "boolean"
          },
          "mac": {
            "description": "Other device MAC address reported in the statistics response",
            "examples": [
              "5c5b35000018"
            ],
            "type": "string"
          },
          "status": {
            "description": "Connectivity status reported for the other device, such as online",
            "examples": [
              "online"
            ],
            "type": "string"
          },
          "uptime": {
            "description": "Elapsed time since the other device last booted, in seconds",
            "examples": [
              20296
            ],
            "type": "integer"
          },
          "vendor": {
            "description": "Device vendor name, such as Cradlepoint",
            "examples": [
              "cradlepoint"
            ],
            "type": "string"
          },
          "vendor_specific": {
            "$ref": "#/components/schemas/stats_device_other_vendor_specific",
            "description": "Additional statistics returned by the device vendor"
          },
          "version": {
            "description": "Vendor software version reported for the other device",
            "examples": [
              "7.22.70"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_device_other_connected_device": {
        "additionalProperties": false,
        "description": "LLDP neighbor device discovered from an other-device statistics record",
        "properties": {
          "mac": {
            "description": "Connected device MAC address learned from LLDP",
            "examples": [
              "020001abcdef"
            ],
            "type": "string"
          },
          "name": {
            "description": "LLDP system name reported for the connected device",
            "examples": [
              "DNT-NTR-GWE"
            ],
            "type": "string"
          },
          "port_id": {
            "description": "LLDP port identifier reported for the connected device",
            "examples": [
              "ge-0/0/1"
            ],
            "type": "string"
          },
          "type": {
            "description": "Detected Mist device type for the connected neighbor",
            "examples": [
              "gateway"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_device_other_connected_devices": {
        "additionalProperties": {
          "$ref": "#/components/schemas/stats_device_other_connected_device"
        },
        "description": "Property key is the connected device MAC address",
        "type": "object"
      },
      "stats_device_other_interface": {
        "additionalProperties": false,
        "description": "Network interface statistics for a third-party device tracked by Mist",
        "properties": {
          "bytes_in": {
            "description": "Total bytes received on the interface",
            "examples": [
              5623096929
            ],
            "type": "integer"
          },
          "bytes_out": {
            "description": "Total bytes transmitted from the interface",
            "examples": [
              12372750366
            ],
            "type": "integer"
          },
          "carrier": {
            "description": "Cellular carrier name reported for the interface, when applicable",
            "examples": [
              "Orange"
            ],
            "type": "string"
          },
          "imei": {
            "description": "Modem IMEI serving the interface, when applicable",
            "examples": [
              "866401234567893"
            ],
            "type": "string"
          },
          "imsi": {
            "description": "Subscriber IMSI associated with the interface, when applicable",
            "examples": [
              "2080101234567893"
            ],
            "type": "string"
          },
          "ip": {
            "description": "Interface IP address reported by the vendor",
            "examples": [
              "10.134.237.57"
            ],
            "type": "string"
          },
          "link": {
            "description": "Whether the interface link is up",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "mode": {
            "description": "Interface role reported by the vendor, such as wan or lan",
            "examples": [
              "wan"
            ],
            "type": "string"
          },
          "mtu": {
            "description": "Maximum transmission unit configured on the interface, in bytes",
            "examples": [
              1500
            ],
            "type": "integer"
          },
          "rsrp": {
            "description": "Reference signal received power for a cellular interface, in dBm",
            "examples": [
              -108.0
            ],
            "type": "number"
          },
          "rsrq": {
            "description": "Reference signal received quality for a cellular interface, in dB",
            "examples": [
              -14.0
            ],
            "type": "number"
          },
          "rssi": {
            "description": "Received signal strength indicator for a cellular interface, in dBm",
            "examples": [
              -74
            ],
            "type": "integer"
          },
          "service_mode": {
            "description": "Cellular service mode reported for the interface, such as 5G NSA",
            "examples": [
              "5G NSA"
            ],
            "type": "string"
          },
          "sinr": {
            "description": "Signal-to-interference-plus-noise ratio for a cellular interface, in dB",
            "examples": [
              -1.2
            ],
            "type": "number"
          },
          "state": {
            "description": "Operational state reported for the interface",
            "examples": [
              "READY"
            ],
            "type": "string"
          },
          "type": {
            "description": "Interface type reported by the vendor, such as mdm or ethernet",
            "examples": [
              "mdm"
            ],
            "type": "string"
          },
          "uptime": {
            "description": "Elapsed time since the interface last became active, in seconds",
            "examples": [
              2095779
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "stats_device_other_interfaces": {
        "additionalProperties": {
          "$ref": "#/components/schemas/stats_device_other_interface"
        },
        "description": "Property key is the interface name",
        "type": "object"
      },
      "stats_device_other_vendor_specific": {
        "additionalProperties": false,
        "description": "When `vendor`==`cradlepoint`, contains Cradlepoint-specific statistics reported for the other device",
        "properties": {
          "interfaces": {
            "additionalProperties": {
              "$ref": "#/components/schemas/stats_device_other_vendor_specific_port"
            },
            "description": "Cradlepoint interface statistics keyed by vendor interface identifier",
            "examples": [
              {
                "mdm-4d0e073b": {
                  "bytes_in": 5623096929,
                  "bytes_out": 12372750366,
                  "carrier": "Orange",
                  "imei": "866401234567893",
                  "imsi": "2080101234567893",
                  "ip": "10.134.237.57",
                  "link": true,
                  "mode": "wan",
                  "rsrp": -108,
                  "rsrq": -14,
                  "rssi": -74,
                  "service_mode": "5G NSA",
                  "sinr": -1.2,
                  "state": "READY",
                  "type": "mdm",
                  "uptime": 2095779
                }
              }
            ],
            "type": "object"
          },
          "target_version": {
            "description": "Cradlepoint software version targeted for the device",
            "examples": [
              "7.23.40"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_device_other_vendor_specific_port": {
        "additionalProperties": false,
        "description": "Cradlepoint interface statistics for a device tracked by Mist",
        "properties": {
          "bytes_in": {
            "description": "Total bytes received on the Cradlepoint interface",
            "examples": [
              5623096929
            ],
            "type": "integer"
          },
          "bytes_out": {
            "description": "Total bytes transmitted from the Cradlepoint interface",
            "examples": [
              12372750366
            ],
            "type": "integer"
          },
          "carrier": {
            "description": "Cellular carrier name reported for the Cradlepoint interface, when applicable",
            "examples": [
              "Orange"
            ],
            "type": "string"
          },
          "display_name": {
            "description": "Human-readable interface name reported by Cradlepoint",
            "examples": [
              "mdm-4d0e073b"
            ],
            "type": "string"
          },
          "imei": {
            "description": "Modem IMEI serving the Cradlepoint interface, when applicable",
            "examples": [
              "866401234567893"
            ],
            "type": "string"
          },
          "imsi": {
            "description": "Subscriber IMSI associated with the Cradlepoint interface, when applicable",
            "examples": [
              "2080101234567893"
            ],
            "type": "string"
          },
          "ip": {
            "description": "Cradlepoint interface IP address reported by the vendor",
            "examples": [
              "10.134.237.57"
            ],
            "type": "string"
          },
          "link": {
            "description": "Whether the Cradlepoint interface link is up",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "mode": {
            "description": "Interface role reported by Cradlepoint, such as wan or lan",
            "examples": [
              "wan"
            ],
            "type": "string"
          },
          "mtu": {
            "description": "Maximum transmission unit configured on the Cradlepoint interface, in bytes",
            "examples": [
              1500
            ],
            "type": "integer"
          },
          "port_parent": {
            "description": "Parent Cradlepoint port or interface group for this interface",
            "examples": [
              "mdm"
            ],
            "type": "string"
          },
          "rsrp": {
            "description": "Reference signal received power for a Cradlepoint cellular interface, in dBm",
            "examples": [
              -108
            ],
            "type": "number"
          },
          "rsrq": {
            "description": "Reference signal received quality for a Cradlepoint cellular interface, in dB",
            "examples": [
              -14
            ],
            "type": "number"
          },
          "rssi": {
            "description": "Received signal strength indicator for a Cradlepoint cellular interface, in dBm",
            "examples": [
              -74
            ],
            "type": "integer"
          },
          "service_mode": {
            "description": "Cellular service mode reported for the Cradlepoint interface, such as 5G NSA",
            "examples": [
              "5G NSA"
            ],
            "type": "string"
          },
          "sinr": {
            "description": "Signal-to-interference-plus-noise ratio for a Cradlepoint cellular interface, in dB",
            "examples": [
              -1.2
            ],
            "type": "number"
          },
          "state": {
            "description": "Operational state reported for the Cradlepoint interface",
            "examples": [
              "READY"
            ],
            "type": "string"
          },
          "type": {
            "description": "Interface type reported by Cradlepoint, such as mdm or ethernet",
            "examples": [
              "mdm"
            ],
            "type": "string"
          },
          "uptime": {
            "description": "Elapsed time since the Cradlepoint interface last became active, in seconds",
            "examples": [
              2095779
            ],
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "DeviceOtherStats": {
        "content": {
          "application/json": {
            "examples": {
              "Otherdevice Stats": {
                "$ref": "#/components/examples/DeviceOtherStatsOtherdeviceStats"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_device_other"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Otherdevice Stats": {
                "$ref": "#/components/examples/DeviceOtherStatsOtherdeviceStats"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_device_other"
            }
          }
        },
        "description": "Example response"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      }
    },
    "parameters": {
      "device_mac": {
        "in": "path",
        "name": "device_mac",
        "required": true,
        "schema": {
          "examples": [
            "0000000000ab"
          ],
          "pattern": "^[0-9a-fA-F]{12}$",
          "type": "string"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "DeviceOtherStatsOtherdeviceStats": {
        "value": {
          "cached_stats": true,
          "connected_devices": {
            "0200010edbca": {
              "mac": "020001abcdef",
              "name": "DNT-NTR-GWE",
              "port_id": "ge-0/0/1",
              "type": "gateway"
            }
          },
          "last_seen": 1740996902,
          "lldp_enabled": true,
          "mac": "00304498a1e8",
          "uptime": 622828,
          "vendor": "cradlepoint",
          "vendor_specific": {
            "interfaces": {
              "ethernet-IPPT": {
                "bytes_in": 331068567,
                "bytes_out": 6763536255,
                "display_name": "Primary LAN",
                "ip": "192.168.0.1",
                "link": true,
                "mode": "lan",
                "port_parent": "Primary LAN",
                "service_mode": "Ethernet",
                "type": "ethernet",
                "uptime": 0
              },
              "ethernet-lan": {
                "bytes_in": 13072566048,
                "bytes_out": 5617915438,
                "display_name": "Secondary LAN",
                "ip": "192.168.0.1",
                "link": false,
                "mode": "lan",
                "port_parent": "Secondary LAN",
                "service_mode": "Ethernet",
                "type": "ethernet",
                "uptime": 0
              },
              "mdm-8a1084c9": {
                "bytes_in": 0,
                "bytes_out": 0,
                "carrier": "Unknown Service",
                "imei": "866401234567894",
                "imsi": "",
                "ip": "",
                "link": false,
                "mode": "wan",
                "mtu": 1400,
                "rsrp": 0,
                "rsrq": 0,
                "rssi": 0,
                "service_mode": "Not Available",
                "sinr": 0,
                "state": "NOSIM",
                "type": "mdm",
                "uptime": 0
              },
              "mdm-8a1fc70c": {
                "bytes_in": 5623096929,
                "bytes_out": 12372750366,
                "carrier": "AT&T",
                "imei": "866401234567893",
                "imsi": "208001234567893",
                "ip": "12.68.86.17",
                "link": true,
                "mode": "wan",
                "mtu": 1400,
                "rsrp": -108,
                "rsrq": -14,
                "rssi": -74,
                "service_mode": "5G NSA",
                "sinr": -1.2,
                "state": "READY",
                "type": "mdm",
                "uptime": 2095779
              }
            }
          },
          "version": "7.24.80"
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
