{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Integration Cradlepoint",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "The integration between Mist and Cradlepoint allows users to utilize Cradlepoint 5G cellular adapters with Juniper's wired, wireless, and SD-WAN solutions driven by Mist AI.\n\nWith this integration, users can manage Cradlepoint devices from the Mist portal, including onboarding, assigning devices to a site, and viewing device inventory details. It also provides visibility into the health, SLE, and insights of Cradlepoint devices.\n\nAdditionally, the integration enables users to leverage Marvis, Juniper's virtual network assistant, to receive proactive recommendations and self-driving network actions. This integration enhances the client-to-cloud user experience by providing insights into branch WAN adapters, helping network admins reduce Mean Time to Identify (MTTI).",
      "name": "Orgs Integration Cradlepoint"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/setting/cradlepoint/setup": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Test the current Cradlepoint integration configuration and return whether the most recent integration status is active or inactive.",
        "operationId": "testOrgCradlepointConnection",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TestCradlepoint"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "testOrgCradlepointConnection",
        "tags": [
          "Orgs Integration Cradlepoint"
        ]
      },
      "put": {
        "description": "Update the stored Cradlepoint API and ECM credentials and the LLDP-based device linking option used by Mist.",
        "operationId": "updateOrgCradlepointConnectionToMist",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "cp_api_id": "84446d61-2206-4ea5-855a-0043f980be54",
                    "cp_api_key": "REDACTED",
                    "ecm_api_id": "73446d61-2206-4ea5-855a-0043f980be62",
                    "ecm_api_key": "REDACTED",
                    "enable_lldp": true
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/account_cradlepoint_config"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgCradlepointConnectionToMist",
        "tags": [
          "Orgs Integration Cradlepoint"
        ]
      },
      "post": {
        "description": "Configure the Cradlepoint integration by storing Cradlepoint API and ECM credentials and setting up Cradlepoint webhooks to send events to Mist.",
        "operationId": "setupOrgCradlepointConnectionToMist",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "cp_api_id": "84446d61-2206-4ea5-855a-0043f980be54",
                    "cp_api_key": "REDACTED",
                    "ecm_api_id": "73446d61-2206-4ea5-855a-0043f980be62",
                    "ecm_api_key": "REDACTED",
                    "enable_lldp": true
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/account_cradlepoint_config"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "setupOrgCradlepointConnectionToMist",
        "tags": [
          "Orgs Integration Cradlepoint"
        ]
      },
      "delete": {
        "description": "Remove the Cradlepoint integration configuration from the organization.",
        "operationId": "deleteOrgCradlepointConnection",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgCradlepointConnection",
        "tags": [
          "Orgs Integration Cradlepoint"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/setting/cradlepoint/sync": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "post": {
        "description": "Trigger a Cradlepoint device synchronization with Mist. When LLDP linking is enabled, Mist also uses Cradlepoint LLDP data to associate routers with Mist sites and devices.",
        "operationId": "syncOrgCradlepointRouters",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "syncOrgCradlepointRouters",
        "tags": [
          "Orgs Integration Cradlepoint"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "account_cradlepoint_config": {
        "description": "Cradlepoint account credentials and LLDP integration settings",
        "properties": {
          "cp_api_id": {
            "description": "Cradlepoint API ID used by Mist for the integration",
            "examples": [
              "84446d61-2206-4ea5-855a-0043f980be54"
            ],
            "type": "string"
          },
          "cp_api_key": {
            "description": "Cradlepoint API key paired with the Cradlepoint API ID",
            "examples": [
              "REDACTED"
            ],
            "type": "string"
          },
          "ecm_api_id": {
            "description": "Cradlepoint ECM API ID used by Mist for the integration",
            "examples": [
              "73446d61-2206-4ea5-855a-0043f980be62"
            ],
            "type": "string"
          },
          "ecm_api_key": {
            "description": "Cradlepoint ECM API key paired with the ECM API ID",
            "examples": [
              "REDACTED"
            ],
            "type": "string"
          },
          "enable_lldp": {
            "description": "Whether Mist uses Cradlepoint LLDP data to link routers to Mist sites and devices",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "test_cradlepoint": {
        "additionalProperties": false,
        "description": "Cradlepoint integration connectivity test result",
        "properties": {
          "alert_config_id": {
            "description": "Cradlepoint alert configuration ID created by the integration setup",
            "examples": [
              "8b7e06ac-0yu5-11f1-88h2-42628k552c3d"
            ],
            "readOnly": true,
            "type": "string"
          },
          "cp_api_id": {
            "description": "Cradlepoint API ID stored for the integration (masked)",
            "examples": [
              "********"
            ],
            "readOnly": true,
            "type": "string"
          },
          "cp_api_key": {
            "description": "Cradlepoint API key stored for the integration (masked)",
            "examples": [
              "********"
            ],
            "format": "password",
            "readOnly": true,
            "type": "string"
          },
          "destination_config_id": {
            "description": "Cradlepoint destination configuration ID created by the integration setup",
            "examples": [
              "8ad364de-0yu5-13r1-9abc-263675be6074"
            ],
            "readOnly": true,
            "type": "string"
          },
          "ecm_api_id": {
            "description": "Cradlepoint ECM API ID stored for the integration (masked)",
            "examples": [
              "********"
            ],
            "readOnly": true,
            "type": "string"
          },
          "ecm_api_key": {
            "description": "Cradlepoint ECM API key stored for the integration (masked)",
            "examples": [
              "********"
            ],
            "format": "password",
            "readOnly": true,
            "type": "string"
          },
          "enable_lldp": {
            "description": "Whether Mist uses Cradlepoint LLDP data to link routers to Mist sites and devices",
            "readOnly": true,
            "type": "boolean"
          },
          "error": {
            "description": "if status is `inactive` this field returns the reason for it being inactive.",
            "examples": [
              "Cradlepoint API keys are no longer valid, please verify and update the keys under organization settings."
            ],
            "readOnly": true,
            "type": "string"
          },
          "last_status": {
            "$ref": "#/components/schemas/test_cradlepoint_last_status",
            "description": "Integration status detected during the most recent Cradlepoint sync"
          },
          "shared_secret": {
            "description": "Shared secret generated by the integration setup (masked)",
            "examples": [
              "********"
            ],
            "format": "password",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "test_cradlepoint_last_status": {
        "description": "status of integration detected during last sync. enum: `active`, `inactive`",
        "enum": [
          "active",
          "inactive"
        ],
        "examples": [
          "inactive"
        ],
        "readOnly": true,
        "type": "string"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "TestCradlepoint": {
        "content": {
          "application/json": {
            "examples": {
              "Crowdstrike": {
                "$ref": "#/components/examples/TestCradlepointCrowdstrike"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/test_cradlepoint"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Crowdstrike": {
                "$ref": "#/components/examples/TestCradlepointCrowdstrike"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/test_cradlepoint"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "TestCradlepointCrowdstrike": {
        "value": {
          "alert_config_id": "8b7e06ac-0yu5-11f1-88h2-42628k552c3d",
          "cp_api_id": "********",
          "cp_api_key": "********",
          "destination_config_id": "8ad364de-0yu5-13r1-9abc-263675be6074",
          "ecm_api_id": "********",
          "ecm_api_key": "********",
          "enable_lldp": false,
          "error": "Cradlepoint API keys are no longer valid, please verify and update the keys under organization settings.",
          "last_status": "inactive",
          "shared_secret": "********"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
