{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Device Profiles",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "While Templates / RF Templates / Network Templates / Gateway Templates provides powerful ways to control how a Device\\'s configuration is derived for a Site. There are cases where you\\'d like another level of control at the Org Level.\nA Device Profile contains a subset of Device\\'s configurations you\\'d like a device to have. It will be merged at runtime when we\\'re provisioning an AP.",
      "name": "Orgs Device Profiles"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/deviceprofiles": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List org-level device profiles, which define reusable AP, switch, or gateway configuration subsets that can be applied to matching devices.",
        "operationId": "listOrgDeviceProfiles",
        "parameters": [
          {
            "description": "Filter results by one device profile type. Use a single value; comma-separated values are not supported. enum: `ap`, `gateway`, `switch`",
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/device_type_default_ap"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceprofilesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgDeviceProfiles",
        "tags": [
          "Orgs Device Profiles"
        ]
      },
      "post": {
        "description": "Create an org-level device profile containing reusable AP, switch, or gateway configuration.",
        "operationId": "createOrgDeviceProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "deviceprofile_ap": {
                  "value": {
                    "aeroscout": {
                      "enabled": false,
                      "host": "aero.pvt.net",
                      "locate_connected": true
                    },
                    "led": {
                      "brightness": 255,
                      "enabled": true
                    },
                    "name": "string",
                    "ntp_servers": [
                      "10.10.10.10"
                    ],
                    "type": "ap",
                    "usb_config": {
                      "cacert": "string",
                      "channel": 3,
                      "enabled": true,
                      "host": "1.1.1.1",
                      "port": 0,
                      "type": "imagotag",
                      "verify_cert": true,
                      "vlan_id": 1
                    }
                  }
                },
                "deviceprofile_hub": {
                  "value": {
                    "dhcpd_config": {
                      "Corp-Mgmt": {
                        "dns_servers": [
                          "8.8.8.8"
                        ],
                        "dns_suffix": [
                          "stag.one"
                        ],
                        "gateway": "10.3.172.9",
                        "ip_end": "10.3.172.99",
                        "ip_start": "10.3.172.50",
                        "type": "local"
                      },
                      "Corp-lan": {
                        "dns_servers": [
                          "8.8.8.8"
                        ],
                        "dns_suffix": [
                          "stag.one"
                        ],
                        "gateway": "10.3.171.9",
                        "ip_end": "10.3.171.99",
                        "ip_start": "10.3.171.50",
                        "type": "local"
                      }
                    },
                    "dnsOverride": true,
                    "dns_servers": [
                      "10.3.20.201",
                      "10.3.51.222",
                      "1.1.1.1"
                    ],
                    "dns_suffix": [
                      "example.com"
                    ],
                    "extra_routes": {
                      "10.101.0.0/16": {
                        "via": "10.3.100.10"
                      }
                    },
                    "ip_configs": {
                      "Corp-Core": {
                        "ip": "10.3.100.9",
                        "netmask": "/24",
                        "type": "static"
                      },
                      "Corp-Mgmt": {
                        "ip": "10.3.172.9",
                        "netmask": "/24",
                        "type": "static"
                      },
                      "Corp-lan": {
                        "ip": "10.3.171.9",
                        "netmask": "/24",
                        "type": "static"
                      }
                    },
                    "name": "Demo",
                    "ntpOverride": true,
                    "ntp_servers": [
                      "10.3.51.222"
                    ],
                    "path_preferences": {
                      "core": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-Core"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "lab": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-lan"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "mgmt": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-Mgmt"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "untrust": {
                        "paths": [
                          {
                            "name": "wan",
                            "type": "wan"
                          }
                        ],
                        "strategy": "ordered"
                      }
                    },
                    "port_config": {
                      "ge-0/0/0": {
                        "aggregated": false,
                        "ip_config": {
                          "gateway": "192.168.1.1",
                          "ip": "192.168.1.9",
                          "netmask": "/24",
                          "type": "static"
                        },
                        "name": "wan",
                        "redundant": false,
                        "usage": "wan",
                        "wan_type": "broadband"
                      },
                      "ge-0/0/6-7": {
                        "ae_disable_lacp": false,
                        "ae_idx": "0",
                        "ae_lacp_force_up": true,
                        "aggregated": true,
                        "networks": [
                          "Corp-lan",
                          "Corp-Mgmt",
                          "Corp-Core"
                        ],
                        "usage": "lan"
                      }
                    },
                    "service_policies": [
                      {
                        "action": "allow",
                        "idp": {
                          "enabled": false
                        },
                        "name": "ITParis-Internal",
                        "path_preference": "core",
                        "services": [
                          "internal_dns",
                          "drive"
                        ],
                        "tenants": [
                          "ITParis"
                        ]
                      }
                    ],
                    "type": "gateway"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/deviceprofile"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deviceprofile"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgDeviceProfile",
        "tags": [
          "Orgs Device Profiles"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/deviceprofiles/{deviceprofile_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/deviceprofile_id"
        }
      ],
      "get": {
        "description": "Retrieve the AP, switch, or gateway configuration stored in a specific org-level device profile.",
        "operationId": "getOrgDeviceProfile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deviceprofile"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgDeviceProfile",
        "tags": [
          "Orgs Device Profiles"
        ]
      },
      "put": {
        "description": "Update the AP, switch, or gateway configuration stored in an org-level device profile.",
        "operationId": "updateOrgDeviceProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "deviceprofile_ap": {
                  "value": {
                    "aeroscout": {
                      "enabled": true,
                      "host": "aero.pvt.net"
                    },
                    "disable_eth1": true,
                    "disable_module": true,
                    "mesh": {
                      "enabled": true,
                      "group": 1,
                      "role": "base"
                    },
                    "name": "string",
                    "poe_passthrough": true,
                    "radio_config": {
                      "ant_gain_24": 0,
                      "ant_gain_5": 0,
                      "band_24": {
                        "allow_rrm_disable": true,
                        "antenna_mode": "default",
                        "bandwidth": 20,
                        "channel": 6,
                        "disabled": true,
                        "power": 8,
                        "preamble": "auto"
                      },
                      "band_24_usage": "24",
                      "band_5": {
                        "allow_rrm_disable": true,
                        "antenna_mode": "default",
                        "bandwidth": 20,
                        "channel": 50,
                        "disabled": true,
                        "power_max": 8,
                        "power_min": 15,
                        "preamble": "auto"
                      },
                      "scanning_enabled": true
                    },
                    "type": "ap"
                  }
                },
                "deviceprofile_hub": {
                  "value": {
                    "dhcpd_config": {
                      "Corp-Mgmt": {
                        "dns_servers": [
                          "8.8.8.8"
                        ],
                        "dns_suffix": [
                          "stag.one"
                        ],
                        "gateway": "10.3.172.9",
                        "ip_end": "10.3.172.99",
                        "ip_start": "10.3.172.50",
                        "type": "local"
                      },
                      "Corp-lan": {
                        "dns_servers": [
                          "8.8.8.8"
                        ],
                        "dns_suffix": [
                          "stag.one"
                        ],
                        "gateway": "10.3.171.9",
                        "ip_end": "10.3.171.99",
                        "ip_start": "10.3.171.50",
                        "type": "local"
                      }
                    },
                    "dnsOverride": true,
                    "dns_servers": [
                      "10.3.20.201",
                      "10.3.51.222",
                      "1.1.1.1"
                    ],
                    "dns_suffix": [
                      "example.com"
                    ],
                    "extra_routes": {
                      "10.101.0.0/16": {
                        "via": "10.3.100.10"
                      }
                    },
                    "ip_configs": {
                      "Corp-Core": {
                        "ip": "10.3.100.9",
                        "netmask": "/24",
                        "type": "static"
                      },
                      "Corp-Mgmt": {
                        "ip": "10.3.172.9",
                        "netmask": "/24",
                        "type": "static"
                      },
                      "Corp-lan": {
                        "ip": "10.3.171.9",
                        "netmask": "/24",
                        "type": "static"
                      }
                    },
                    "name": "ITParis",
                    "ntpOverride": true,
                    "ntp_servers": [
                      "10.3.51.222"
                    ],
                    "path_preferences": {
                      "core": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-Core"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "lab": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-lan"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "mgmt": {
                        "paths": [
                          {
                            "networks": [
                              "Corp-Mgmt"
                            ],
                            "type": "local"
                          }
                        ],
                        "strategy": "ordered"
                      },
                      "untrust": {
                        "paths": [
                          {
                            "name": "wan",
                            "type": "wan"
                          }
                        ],
                        "strategy": "ordered"
                      }
                    },
                    "port_config": {
                      "ge-0/0/0": {
                        "aggregated": false,
                        "ip_config": {
                          "gateway": "192.168.1.1",
                          "ip": "192.168.1.9",
                          "netmask": "/24",
                          "type": "static"
                        },
                        "name": "wan",
                        "redundant": false,
                        "traffic_shaping": {
                          "enabled": false
                        },
                        "usage": "wan",
                        "wan_type": "broadband"
                      },
                      "ge-0/0/6-7": {
                        "ae_disable_lacp": false,
                        "ae_idx": "0",
                        "ae_lacp_force_up": true,
                        "aggregated": true,
                        "networks": [
                          "Corp-lan",
                          "Corp-Mgmt",
                          "Corp-Core"
                        ],
                        "usage": "lan"
                      }
                    },
                    "service_policies": [
                      {
                        "action": "allow",
                        "idp": {
                          "enabled": false
                        },
                        "name": "ITParis-Internal",
                        "path_preference": "core",
                        "services": [
                          "internal_dns",
                          "drive"
                        ],
                        "tenants": [
                          "ITParis"
                        ]
                      },
                      {
                        "action": "deny",
                        "idp": {
                          "enabled": false
                        },
                        "name": "ITParis-internet",
                        "path_preference": "untrust",
                        "services": [
                          "internet_any"
                        ],
                        "tenants": [
                          "ITParis"
                        ]
                      }
                    ],
                    "type": "gateway"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/deviceprofile"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Deviceprofile"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgDeviceProfile",
        "tags": [
          "Orgs Device Profiles"
        ]
      },
      "delete": {
        "description": "Delete an org-level device profile and remove that reusable device configuration object from the organization.",
        "operationId": "deleteOrgDeviceProfile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgDeviceProfile",
        "tags": [
          "Orgs Device Profiles"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/deviceprofiles/{deviceprofile_id}/assign": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/deviceprofile_id"
        }
      ],
      "post": {
        "description": "Assign Org Device Profile to Devices",
        "operationId": "assignOrgDeviceProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "macs": [
                      "5c5b350e0001",
                      "5c5b350e0003"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mac_addresses"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AssignSuccess"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "assignOrgDeviceProfile",
        "tags": [
          "Orgs Device Profiles"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/deviceprofiles/{deviceprofile_id}/unassign": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/deviceprofile_id"
        }
      ],
      "post": {
        "description": "Unassign Org Device Profile from Devices",
        "operationId": "unassignOrgDeviceProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "macs": [
                      "5c5b350e0001",
                      "5c5b350e0003"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mac_addresses"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AssignSuccess"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "unassignOrgDeviceProfile",
        "tags": [
          "Orgs Device Profiles"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "acl_policies": {
        "description": "List of ACL policy definitions",
        "items": {
          "$ref": "#/components/schemas/acl_policy"
        },
        "type": "array"
      },
      "acl_policy": {
        "additionalProperties": false,
        "description": "ACL Policy:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "properties": {
          "actions": {
            "$ref": "#/components/schemas/acl_policy_actions",
            "description": "Destination tag actions evaluated for sources matching this ACL policy"
          },
          "disabled": {
            "default": false,
            "description": "Whether this ACL policy is disabled",
            "type": "boolean"
          },
          "name": {
            "description": "Display name of the ACL policy",
            "examples": [
              "guest access"
            ],
            "type": "string"
          },
          "src_tags": {
            "$ref": "#/components/schemas/acl_policy_src_tags",
            "description": "Source ACL tags that select traffic for this ACL policy"
          }
        },
        "type": "object"
      },
      "acl_policy_action": {
        "additionalProperties": false,
        "description": "Action applied to traffic that matches a destination ACL tag",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/allow_deny",
            "description": "Allow or deny decision applied to traffic matching the destination tag"
          },
          "dst_tag": {
            "description": "Destination ACL tag matched by this policy action",
            "examples": [
              "corp"
            ],
            "type": "string"
          }
        },
        "required": [
          "dst_tag"
        ],
        "type": "object"
      },
      "acl_policy_actions": {
        "description": "ACL Policy Actions:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "items": {
          "$ref": "#/components/schemas/acl_policy_action"
        },
        "type": "array"
      },
      "acl_policy_src_tags": {
        "description": "ACL Policy Source Tags:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "items": {
          "examples": [
            "macs"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag": {
        "additionalProperties": false,
        "description": "Resource tags (`type`==`resource` or `type`==`gbp_resource`) can only be used in `dst_tags`",
        "properties": {
          "ether_types": {
            "$ref": "#/components/schemas/acl_tag_ether_types",
            "description": "Layer 2 EtherTypes matched by this ACL tag; defaults to `any`"
          },
          "gbp_tag": {
            "description": "Required if\n  - `type`==`dynamic_gbp` (gbp_tag received from RADIUS)\n  - `type`==`gbp_resource`\n  - `type`==`static_gbp` (applying gbp tag against matching conditions)",
            "type": "integer"
          },
          "macs": {
            "$ref": "#/components/schemas/acl_tag_macs",
            "description": "Client or resource MAC addresses matched by this ACL tag"
          },
          "network": {
            "description": "If:\n  * `type`==`mac` (optional. default is `any`)\n  * `type`==`subnet` (optional. default is `any`)\n  * `type`==`network`\n  * `type`==`resource` (optional. default is `any`)\n  * `type`==`static_gbp` if from matching network (vlan)",
            "type": "string"
          },
          "port_usage": {
            "description": "Required if `type`==`port_usage`. Switch port usage name matched by this ACL tag",
            "type": "string"
          },
          "radius_group": {
            "description": "Required if:\n  * `type`==`radius_group`\n  * `type`==`aruba_user_role`\n  * `type`==`static_gbp`\nif from matching radius_group",
            "type": "string"
          },
          "specs": {
            "$ref": "#/components/schemas/acl_tag_specs",
            "description": "Layer 4 protocol and destination-port constraints for this ACL tag"
          },
          "subnets": {
            "$ref": "#/components/schemas/acl_tag_subnets",
            "description": "IP subnets matched by this ACL tag"
          },
          "type": {
            "$ref": "#/components/schemas/acl_tag_type",
            "description": "Classifier type that determines which ACL tag fields are evaluated"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "acl_tag_ether_types": {
        "default": [
          "any"
        ],
        "description": "ARP / IPv6. Default is `any`",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_macs": {
        "description": "Required if \n- `type`==`mac`\n- `type`==`static_gbp` if from matching mac",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_spec": {
        "additionalProperties": false,
        "description": "Layer 4 protocol and destination-port match constraint for an ACL tag",
        "properties": {
          "port_range": {
            "default": "0",
            "description": "Matched dst port, \"0\" means any",
            "type": "string"
          },
          "protocol": {
            "default": "any",
            "description": "`tcp` / `udp` / `icmp` / `icmp6` / `gre` / `any` / `:protocol_number`, `protocol_number` is between 1-254, default is `any` `protocol_number` is between 1-254",
            "type": "string"
          }
        },
        "type": "object"
      },
      "acl_tag_specs": {
        "description": "If `type`==`resource`, `type`==`radius_group`, `type`==`aruba_user_role`, `type`==`port_usage` or `type`==`gbp_resource`. Empty means unrestricted, i.e. any",
        "items": {
          "$ref": "#/components/schemas/acl_tag_spec"
        },
        "type": "array"
      },
      "acl_tag_subnets": {
        "description": "If \n- `type`==`subnet` \n- `type`==`resource` (optional. default is `any`)\n- `type`==`static_gbp` if from matching subnet",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_type": {
        "description": "enum: \n  * `any`: matching anything not identified\n  * `aruba_user_role`: Aruba user role matched via `radius_group`\n  * `dynamic_gbp`: from the gbp_tag received from RADIUS\n  * `gbp_resource`: can only be used in `dst_tags`\n  * `mac`\n  * `network`\n  * `port_usage`\n  * `radius_group`\n  * `resource`: can only be used in `dst_tags`\n  * `static_gbp`: applying gbp tag against matching conditions\n  * `subnet`'",
        "enum": [
          "any",
          "aruba_user_role",
          "dynamic_gbp",
          "gbp_resource",
          "mac",
          "network",
          "port_usage",
          "radius_group",
          "resource",
          "static_gbp",
          "subnet"
        ],
        "type": "string"
      },
      "acl_tags": {
        "additionalProperties": {
          "$ref": "#/components/schemas/acl_tag"
        },
        "description": "ACL Tags to identify traffic source or destination. Key name is the tag name",
        "type": "object"
      },
      "additional_config_cmds": {
        "description": "additional CLI commands to append to the generated Junos config. **Note**: no check is done",
        "items": {
          "description": "JUNOS \"set\" command to add to the generated configuration",
          "examples": [
            "set snmp community public"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "aggregate_route": {
        "additionalProperties": false,
        "description": "Aggregate route configuration for a network or routing instance",
        "properties": {
          "discard": {
            "default": false,
            "description": "Whether to install the aggregate route as a discard route",
            "type": "boolean"
          },
          "metric": {
            "description": "Routing metric assigned to the aggregate route",
            "maximum": 4294967295,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "preference": {
            "description": "Route preference assigned to the aggregate route",
            "maximum": 4294967295,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "aggregate_routes": {
        "additionalProperties": {
          "$ref": "#/components/schemas/aggregate_route"
        },
        "description": "Property key is the destination subnet (e.g. \"172.16.3.0/24\")",
        "examples": [
          {
            "172.16.3.0/24": {
              "discard": false,
              "metric": null,
              "preference": 30
            }
          }
        ],
        "type": "object"
      },
      "aggregate_routes6": {
        "additionalProperties": {
          "$ref": "#/components/schemas/aggregate_route"
        },
        "description": "Property key is the destination subnet (e.g. \"2a02:1234:420a:10c9::/64\")",
        "example": {
          "2a02:1234:420a:10c9::/64": {
            "discard": false,
            "metric": null,
            "preference": 30
          }
        },
        "type": "object"
      },
      "allow_deny": {
        "description": "Policy action value that either allows or denies matching traffic. enum: `allow`, `deny`",
        "enum": [
          "allow",
          "deny"
        ],
        "type": "string"
      },
      "antenna_select": {
        "description": "Antenna Mode for AP which supports selectable antennas. enum: `\"\"` (default), `external`, `internal`",
        "enum": [
          "",
          "external",
          "internal"
        ],
        "examples": [
          "external"
        ],
        "type": "string"
      },
      "ap_aeroscout": {
        "additionalProperties": false,
        "description": "AeroScout location integration settings applied to an AP or AP profile",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether to enable aeroscout config",
            "type": "boolean"
          },
          "host": {
            "default": "",
            "description": "Required if enabled, aeroscout server host",
            "examples": [
              "aero.pvt.net"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "locate_connected": {
            "default": false,
            "description": "Whether to enable the feature to allow wireless clients data received and sent to AES server for location calculation",
            "type": "boolean"
          },
          "port": {
            "default": 1144,
            "description": "Optional if enabled, Aeroscout server port. Defaults to 1144",
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "ap_airista": {
        "additionalProperties": false,
        "description": "Airista RTLS integration settings for an AP",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether to enable Airista config",
            "type": "boolean"
          },
          "host": {
            "default": "",
            "description": "Required if enabled, Airista server host",
            "examples": [
              "airista.pvt.net"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "port": {
            "default": 1144,
            "description": "Optional if enabled, Airista server port. Defaults to 1144",
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "ap_esl_config": {
        "additionalProperties": false,
        "description": "Electronic shelf label integration settings for an AP",
        "properties": {
          "cacert": {
            "description": "Only if `type`==`imagotag` or `type`==`native`",
            "examples": [
              "--BEGIN CERTIFICATE--\nMIIDXTCCAkWgAwIBAgIJAL5b1z4f3k2TMA0GCSqGSIb3DQEBCwUAMIGVMQsw\n"
            ],
            "type": "string"
          },
          "channel": {
            "description": "Only if `type`==`imagotag` or `type`==`native`",
            "examples": [
              3
            ],
            "type": "integer"
          },
          "enabled": {
            "default": false,
            "description": "usb_config is ignored if esl_config enabled",
            "type": "boolean"
          },
          "host": {
            "description": "Only if `type`==`imagotag` or `type`==`native`",
            "examples": [
              "1.1.1.1"
            ],
            "type": "string"
          },
          "port": {
            "description": "Only if `type`==`imagotag` or `type`==`native`",
            "examples": [
              0
            ],
            "type": "integer"
          },
          "type": {
            "$ref": "#/components/schemas/ap_esl_type",
            "description": "ESL integration type to enable on the AP"
          },
          "verify_cert": {
            "description": "Only if `type`==`imagotag` or `type`==`native`",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "vlan_id": {
            "default": 1,
            "description": "Only if `type`==`solum` or `type`==`hanshow`",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_esl_type": {
        "description": "note: ble_config will be ignored if esl_config is enabled and with native mode. enum: `hanshow`, `imagotag`, `native`, `solum`",
        "enum": [
          "hanshow",
          "imagotag",
          "native",
          "solum"
        ],
        "examples": [
          "imagotag"
        ],
        "type": "string"
      },
      "ap_iot": {
        "additionalProperties": false,
        "description": "Digital and analog IoT port settings applied to an AP or AP profile",
        "properties": {
          "A1": {
            "$ref": "#/components/schemas/ap_iot_output",
            "description": "Analog-capable IoT pin A1 output settings"
          },
          "A2": {
            "$ref": "#/components/schemas/ap_iot_output",
            "description": "Analog-capable IoT pin A2 output settings"
          },
          "A3": {
            "$ref": "#/components/schemas/ap_iot_output",
            "description": "Analog-capable IoT pin A3 output settings"
          },
          "A4": {
            "$ref": "#/components/schemas/ap_iot_output",
            "description": "Analog-capable IoT pin A4 output settings"
          },
          "DI1": {
            "$ref": "#/components/schemas/ap_iot_input",
            "description": "Digital input pin DI1 settings"
          },
          "DI2": {
            "$ref": "#/components/schemas/ap_iot_input",
            "description": "Digital input pin DI2 settings"
          },
          "DO": {
            "$ref": "#/components/schemas/ap_iot_output",
            "description": "Digital output pin DO settings"
          }
        },
        "type": "object"
      },
      "ap_iot_input": {
        "additionalProperties": false,
        "description": "IoT Input AP settings",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether to enable a pin",
            "type": "boolean"
          },
          "name": {
            "description": "Optional; descriptive pin name",
            "examples": [
              "motion"
            ],
            "type": "string"
          },
          "pullup": {
            "$ref": "#/components/schemas/ap_iot_pullup",
            "description": "Selects the pull-up resistor mode applied to the input pin"
          }
        },
        "type": "object"
      },
      "ap_iot_output": {
        "additionalProperties": false,
        "description": "IoT output AP settings",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether to enable a pin",
            "type": "boolean"
          },
          "name": {
            "description": "Optional; descriptive pin name",
            "examples": [
              "motion"
            ],
            "type": "string"
          },
          "output": {
            "description": "Whether the pin is configured as an output. DO and A1-A4 can be repurposed by changing",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "pullup": {
            "$ref": "#/components/schemas/ap_iot_pullup",
            "description": "Selects the pull-up resistor mode applied to the output pin"
          },
          "value": {
            "description": "Output pin signal level, default 0",
            "examples": [
              0
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_iot_pullup": {
        "default": "none",
        "description": "the type of pull-up the pin uses. enum: `external`, `internal`, `none`",
        "enum": [
          "external",
          "internal",
          "none"
        ],
        "type": "string"
      },
      "ap_ip_config": {
        "additionalProperties": false,
        "description": "Management IP addressing settings for an access point",
        "properties": {
          "dns": {
            "$ref": "#/components/schemas/ap_ip_config_dns",
            "description": "If `type`==`static`. DNS server IP addresses for AP management traffic"
          },
          "dns_suffix": {
            "$ref": "#/components/schemas/ap_ip_config_dns_suffix",
            "description": "If `type`==`static`. DNS search suffixes applied to AP management lookups"
          },
          "gateway": {
            "description": "Required if `type`==`static`. IPv4 default gateway for AP management traffic",
            "examples": [
              "10.2.1.254"
            ],
            "format": "ipv4",
            "type": "string"
          },
          "gateway6": {
            "description": "Required if `type6`==`static`. IPv6 default gateway for AP management traffic when static IPv6 addressing is used",
            "examples": [
              "2607:f8b0:4005:808::1"
            ],
            "format": "ipv6",
            "type": "string"
          },
          "ip": {
            "description": "Required if `type`==`static`. Static IPv4 address for the AP management interface",
            "examples": [
              "10.2.1.1"
            ],
            "format": "ipv4",
            "type": "string"
          },
          "ip6": {
            "description": "Required if `type6`==`static`. Static IPv6 address for the AP management interface",
            "examples": [
              "2607:f8b0:4005:808::2004"
            ],
            "format": "ipv6",
            "type": "string"
          },
          "mtu": {
            "description": "Maximum transmission unit for AP management traffic",
            "examples": [
              0
            ],
            "type": "integer"
          },
          "netmask": {
            "description": "Required if `type`==`static`. IPv4 netmask for the AP management interface",
            "examples": [
              "255.255.255.0"
            ],
            "type": "string"
          },
          "netmask6": {
            "description": "Required if `type6`==`static`. IPv6 prefix length for the AP management interface",
            "examples": [
              "/32"
            ],
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ip_type",
            "description": "IPv4 address assignment mode for AP management traffic"
          },
          "type6": {
            "$ref": "#/components/schemas/ip_type6",
            "description": "IPv6 address assignment mode for AP management traffic"
          },
          "vlan_id": {
            "default": 1,
            "description": "Management VLAN ID, default is 1 (untagged)",
            "examples": [
              1
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_ip_config_dns": {
        "description": "If `type`==`static`. DNS server IP addresses for AP management traffic",
        "examples": [
          [
            "8.8.8.8",
            "4.4.4.4"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "ap_ip_config_dns_suffix": {
        "description": "Required if `type`==`static`; DNS search suffixes applied to AP management lookups",
        "examples": [
          [
            ".mist.local",
            ".mist.com"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "ap_led": {
        "additionalProperties": false,
        "description": "Indicator light settings for an access point",
        "properties": {
          "brightness": {
            "default": 255,
            "description": "Indicator LED brightness level from 0 to 255",
            "examples": [
              255
            ],
            "maximum": 255,
            "minimum": 0,
            "type": "integer"
          },
          "enabled": {
            "default": true,
            "description": "Whether the AP indicator LED is enabled",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_mesh": {
        "additionalProperties": false,
        "description": "Wireless mesh settings for an access point",
        "properties": {
          "bands": {
            "$ref": "#/components/schemas/ap_mesh_bands",
            "description": "Radio bands allowed for AP mesh links"
          },
          "enabled": {
            "default": false,
            "description": "Whether mesh is enabled on this AP",
            "type": "boolean"
          },
          "group": {
            "description": "Mesh group, base AP(s) will only allow remote AP(s) in the same mesh group to join, 1-9, optional",
            "examples": [
              1
            ],
            "maximum": 9,
            "minimum": 1,
            "type": [
              "integer",
              "null"
            ]
          },
          "role": {
            "$ref": "#/components/schemas/ap_mesh_role",
            "description": "Mesh role for this AP, either base or remote"
          },
          "use_wpa3_on_5": {
            "default": false,
            "description": "Whether to use WPA3 on the 5 GHz band for mesh links",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_mesh_bands": {
        "description": "List of bands that mesh should use. For relay, the first viable one will be picked. enum: `24`, `5`, `6`",
        "items": {
          "$ref": "#/components/schemas/dot11_band"
        },
        "type": "array"
      },
      "ap_mesh_role": {
        "description": "Mesh role for this AP, either base or remote. enum: `base`, `remote`",
        "enum": [
          "base",
          "remote"
        ],
        "examples": [
          "base"
        ],
        "type": "string"
      },
      "ap_mqtt": {
        "additionalProperties": false,
        "description": "MQTT publishing configuration for an AP. Use `mqtt_topic` on individual AssetFilter entries to specify which MQTT topic each matching BLE advertisement is forwarded to. Only AssetFilters with `mqtt_topic` set are used; disabled filters and filters without `mqtt_topic` are skipped. Set `default_topic` to publish advertisements that match no AssetFilter to a catch-all topic, allowing MQTT to be used without configuring any AssetFilter.",
        "properties": {
          "broker_host": {
            "description": "MQTT broker hostname or IP address; required when `enabled` is `true`",
            "type": "string"
          },
          "broker_port": {
            "description": "MQTT broker port; defaults to `1883` for `tcp` and `8883` for `ssl`",
            "type": "integer"
          },
          "broker_proto": {
            "$ref": "#/components/schemas/ap_mqtt_broker_proto",
            "description": "MQTT broker transport protocol"
          },
          "default_topic": {
            "description": "Optional catch-all MQTT topic; BLE advertisements matching no AssetFilter are published here",
            "examples": [
              "mist/asset/raw"
            ],
            "type": "string"
          },
          "enabled": {
            "default": false,
            "description": "Whether to enable MQTT publishing",
            "type": "boolean"
          },
          "format": {
            "$ref": "#/components/schemas/ap_mqtt_format",
            "description": "Payload format for published messages"
          },
          "password": {
            "description": "Optional MQTT password; masked in GET responses",
            "format": "password",
            "type": "string"
          },
          "username": {
            "description": "Optional MQTT username",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ap_mqtt_broker_proto": {
        "default": "tcp",
        "description": "MQTT broker transport protocol. enum: `ssl`, `tcp`",
        "enum": [
          "ssl",
          "tcp"
        ],
        "type": "string"
      },
      "ap_mqtt_format": {
        "default": "raw",
        "description": "Payload format for MQTT published messages. enum: `json`, `raw`",
        "enum": [
          "json",
          "raw"
        ],
        "type": "string"
      },
      "ap_port_config": {
        "additionalProperties": false,
        "description": "Ethernet port behavior settings for an access point",
        "properties": {
          "disabled": {
            "default": false,
            "description": "Whether this AP Ethernet port is disabled",
            "type": "boolean"
          },
          "dynamic_vlan": {
            "$ref": "#/components/schemas/ap_port_config_dynamic_vlan",
            "description": "RADIUS-assigned VLAN settings for AP port authentication"
          },
          "enable_mac_auth": {
            "default": false,
            "description": "Whether MAC authentication is enabled on this AP port",
            "type": "boolean"
          },
          "forwarding": {
            "$ref": "#/components/schemas/ap_port_config_forwarding",
            "description": "Traffic forwarding mode for this AP Ethernet port"
          },
          "mac_auth_preferred": {
            "default": false,
            "description": "When `true`, we'll do dot1x then mac_auth. enable this to prefer mac_auth",
            "type": "boolean"
          },
          "mac_auth_protocol": {
            "$ref": "#/components/schemas/ap_port_config_mac_auth_protocol",
            "description": "Protocol used for MAC authentication when `enable_mac_auth` is `true`"
          },
          "mist_nac": {
            "$ref": "#/components/schemas/wlan_mist_nac",
            "description": "Juniper Mist NAC settings used by AP port authentication"
          },
          "mx_tunnel_id": {
            "default": "",
            "description": "If `forwarding`==`mxtunnel`, vlan_ids comes from mxtunnel",
            "examples": [
              "08cd7499-5841-51c8-e663-fb16b6f3b45e"
            ],
            "format": "uuid",
            "type": "string"
          },
          "mxtunnel_name": {
            "default": "",
            "description": "If `forwarding`==`site_mxedge`, vlan_ids comes from site_mxedge (`mxtunnel` under site setting)",
            "type": "string"
          },
          "port_auth": {
            "$ref": "#/components/schemas/ap_port_config_port_auth",
            "description": "Authentication mode for this AP Ethernet port"
          },
          "port_vlan_id": {
            "description": "If `forwarding`==`limited`. VLAN ID allowed on this AP Ethernet port",
            "examples": [
              1
            ],
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          },
          "radius_config": {
            "$ref": "#/components/schemas/radius_config",
            "description": "RADIUS authentication and accounting settings for this AP port"
          },
          "radsec": {
            "$ref": "#/components/schemas/radsec",
            "description": "TLS-secured RADIUS settings for this AP port"
          },
          "vlan_id": {
            "description": "Optional to specify the VLAN ID for a tunnel if forwarding is for `wxtunnel`, `mxtunnel` or `site_mxedge`.\n  * if vlan_id is not specified then it will use first one in vlan_ids[] of the mxtunnel.\n  * if forwarding == site_mxedge, vlan_ids comes from site_mxedge (`mxtunnel` under site setting)",
            "examples": [
              9
            ],
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          },
          "vlan_ids": {
            "description": "If `forwarding`==`limited`, comma separated list of additional VLAN IDs allowed on this port",
            "examples": [
              "10,20,30"
            ],
            "type": "string"
          },
          "wxtunnel_id": {
            "default": "",
            "description": "If `forwarding`==`wxtunnel`, the port is bridged to the vlan of the session",
            "examples": [
              "7dae216d-7c98-a51b-e068-dd7d477b7216"
            ],
            "format": "uuid",
            "type": "string"
          },
          "wxtunnel_remote_id": {
            "default": "",
            "description": "If `forwarding`==`wxtunnel`, the port is bridged to the vlan of the session",
            "examples": [
              "wifiguest"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "ap_port_config_dynamic_vlan": {
        "additionalProperties": false,
        "description": "Dynamic VLAN assignment settings for AP port authentication",
        "properties": {
          "default_vlan_id": {
            "description": "Fallback VLAN ID used when RADIUS does not return a dynamic VLAN match",
            "examples": [
              999
            ],
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          },
          "enabled": {
            "description": "Whether dynamic VLAN assignment is enabled for this AP port",
            "type": "boolean"
          },
          "type": {
            "$ref": "#/components/schemas/ap_port_config_dynamic_vlan_type",
            "description": "Mapping mode for interpreting dynamic VLAN attributes returned by RADIUS"
          },
          "vlans": {
            "additionalProperties": {
              "type": [
                "string",
                "null"
              ]
            },
            "description": "Mapping entries for RADIUS-assigned VLAN values on this AP port. For `type`==`airespace-interface-name`, the property key is the Airespace interface name returned by RADIUS (e.g. \"guest\"), and the value is the corresponding VLAN ID (e.g. 100). For `type`==`standard`, the property key is the VLAN ID number returned by RADIUS, and the value is ignored.",
            "examples": [
              {
                "1-10": null,
                "user": 10
              }
            ],
            "type": "object"
          }
        },
        "type": "object"
      },
      "ap_port_config_dynamic_vlan_type": {
        "description": "Mapping mode for interpreting dynamic VLAN attributes returned by RADIUS.\\ \\ enum: `airespace-interface-name`, where the VLAN is determined by parsing\\ \\ the RADIUS attribute as an Airespace interface name (e.g. \"guest\"\\ \\ would map to VLAN 100), or `standard`, where the VLAN is determined by parsing\\ \\ the RADIUS attribute as a standard VLAN ID number",
        "enum": [
          "airespace-interface-name",
          "standard"
        ],
        "type": "string"
      },
      "ap_port_config_forwarding": {
        "default": "all",
        "description": "enum: \n  * `all`: local breakout, All VLANs\n  * `limited`: local breakout, only the VLANs configured in `port_vlan_id` and `vlan_ids`\n  * `mxtunnel`: central breakout to an Org Mist Edge (requires `mxtunnel_id`)\n  * `site_mxedge`: central breakout to a Site Mist Edge (requires `mxtunnel_name`)\n  * `wxtunnel`': central breakout to an Org WxTunnel (requires `wxtunnel_id`)",
        "enum": [
          "all",
          "limited",
          "mxtunnel",
          "site_mxedge",
          "wxtunnel"
        ],
        "examples": [
          "all"
        ],
        "type": "string"
      },
      "ap_port_config_mac_auth_protocol": {
        "default": "pap",
        "description": "if `enable_mac_auth`==`true`, allows user to select an authentication protocol. enum: `eap-md5`, `eap-peap`, `pap`",
        "enum": [
          "eap-md5",
          "eap-peap",
          "pap"
        ],
        "type": "string"
      },
      "ap_port_config_port_auth": {
        "default": "none",
        "description": "When doing port auth. enum: `dot1x`, `none`",
        "enum": [
          "dot1x",
          "none"
        ],
        "examples": [
          "none"
        ],
        "type": "string"
      },
      "ap_pwr_config": {
        "additionalProperties": false,
        "description": "Power negotiation and peripheral power settings for an AP or AP profile",
        "properties": {
          "base": {
            "default": 0,
            "description": "Additional power to request during negotiating with PSE over PoE, in mW",
            "examples": [
              2000
            ],
            "type": "integer"
          },
          "prefer_usb_over_wifi": {
            "default": false,
            "description": "Whether to enable power out to peripheral, meanwhile will reduce power to Wi-Fi (only for AP45 at power mode)",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_radio": {
        "additionalProperties": false,
        "description": "Radio configuration settings for an access point",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "description": "Whether RRM can be disabled for individual radio-band settings",
            "type": "boolean"
          },
          "ant_gain_24": {
            "description": "Antenna gain for 2.4G - for models with external antenna only",
            "examples": [
              4
            ],
            "minimum": 0,
            "type": "integer"
          },
          "ant_gain_5": {
            "description": "Antenna gain for 5G - for models with external antenna only",
            "examples": [
              5
            ],
            "minimum": 0,
            "type": "integer"
          },
          "ant_gain_6": {
            "description": "Antenna gain for 6G - for models with external antenna only",
            "examples": [
              5
            ],
            "minimum": 0,
            "type": "integer"
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/ap_radio_antenna_mode",
            "description": "Selected radio chain mode for AP models that support antenna mode control"
          },
          "antenna_select": {
            "$ref": "#/components/schemas/antenna_select",
            "description": "Internal or external antenna selection for AP models with selectable antennas"
          },
          "band_24": {
            "$ref": "#/components/schemas/ap_radio_band24",
            "description": "2.4 GHz radio settings for this access point"
          },
          "band_24_usage": {
            "$ref": "#/components/schemas/radio_band_24_usage",
            "description": "Radio usage mode for the 2.4 GHz-capable radio"
          },
          "band_5": {
            "$ref": "#/components/schemas/ap_radio_band5",
            "description": "5 GHz radio settings for this access point"
          },
          "band_5_on_24_radio": {
            "$ref": "#/components/schemas/ap_radio_band5",
            "description": "5 GHz settings used when the 2.4 GHz radio operates in 5 GHz mode"
          },
          "band_6": {
            "$ref": "#/components/schemas/ap_radio_band6",
            "description": "6 GHz radio settings for this access point"
          },
          "full_automatic_rrm": {
            "default": false,
            "description": "Let RRM control everything, only the `channels` and `ant_gain` will be honored (i.e. disabled/bandwidth/power/band_24_usage are all controlled by RRM)",
            "type": "boolean"
          },
          "indoor_use": {
            "default": false,
            "description": "To make an outdoor operate indoor. For an outdoor-ap, some channels are disallowed by default, this allows the user to use it as an indoor-ap",
            "type": "boolean"
          },
          "rrm_managed": {
            "description": "Enable RRM to manage all radio settings (ignores all band_xxx configs)",
            "type": "boolean"
          },
          "scanning_enabled": {
            "description": "Whether scanning radio is enabled",
            "examples": [
              true
            ],
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_radio_antenna_mode": {
        "default": "default",
        "description": "enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`",
        "enum": [
          "1x1",
          "2x2",
          "3x3",
          "4x4",
          "default"
        ],
        "type": "string"
      },
      "ap_radio_band24": {
        "additionalProperties": false,
        "description": "2.4 GHz radio settings for an access point",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "description": "Whether RRM may disable the 2.4 GHz radio when optimizing RF settings",
            "type": "boolean"
          },
          "ant_gain": {
            "default": 0,
            "description": "External antenna gain for the 2.4 GHz radio",
            "maximum": 10,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/radio_band_antenna_mode",
            "description": "Radio chain mode for the 2.4 GHz radio"
          },
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth24",
            "description": "Channel width configured for the 2.4 GHz radio"
          },
          "channel": {
            "default": null,
            "description": "For Device. (primary) channel for the band, 0 means using the Site Setting",
            "examples": [
              6
            ],
            "maximum": 13,
            "minimum": 1,
            "type": [
              "integer",
              "null"
            ]
          },
          "channels": {
            "$ref": "#/components/schemas/radio_band_channels",
            "description": "Allowed channel list for the 2.4 GHz radio; null or an empty array uses automatic selection"
          },
          "disabled": {
            "default": false,
            "description": "Whether to disable the radio",
            "type": "boolean"
          },
          "power": {
            "default": null,
            "description": "Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode",
            "examples": [
              3
            ],
            "maximum": 25,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_max": {
            "description": "When power=null/unset, max tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 3,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_min": {
            "description": "When power=null/unset, min tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 3,
            "type": [
              "integer",
              "null"
            ]
          },
          "preamble": {
            "$ref": "#/components/schemas/radio_band_preamble",
            "description": "802.11 preamble mode used by the 2.4 GHz radio"
          }
        },
        "type": "object"
      },
      "ap_radio_band5": {
        "additionalProperties": false,
        "description": "5 GHz radio settings for an access point",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "description": "Whether RRM may disable the 5 GHz radio when optimizing RF settings",
            "type": "boolean"
          },
          "ant_gain": {
            "default": 0,
            "description": "External antenna gain for the 5 GHz radio",
            "maximum": 10,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "antenna_beam_pattern": {
            "$ref": "#/components/schemas/radio_band_antenna_beam_pattern",
            "description": "Beam pattern used by the 5 GHz radio antenna"
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/radio_band_antenna_mode",
            "description": "Radio chain mode for the 5 GHz radio"
          },
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth5",
            "description": "Channel width configured for the 5 GHz radio"
          },
          "channel": {
            "default": null,
            "description": "For Device. (primary) channel for the band, 0 means using the Site Setting",
            "examples": [
              100
            ],
            "type": [
              "integer",
              "null"
            ]
          },
          "channels": {
            "$ref": "#/components/schemas/radio_band_channels",
            "description": "Allowed channel list for the 5 GHz radio; null or an empty array uses automatic selection"
          },
          "disabled": {
            "default": false,
            "description": "Whether to disable the radio",
            "type": "boolean"
          },
          "power": {
            "default": null,
            "description": "Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode",
            "examples": [
              6
            ],
            "maximum": 25,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_max": {
            "description": "When power=null/unset, max tx power to use, HW-specific values will be used if not set",
            "maximum": 17,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_min": {
            "description": "When power=null/unset, min tx power to use, HW-specific values will be used if not set",
            "maximum": 17,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "preamble": {
            "$ref": "#/components/schemas/radio_band_preamble",
            "description": "802.11 preamble mode used by the 5 GHz radio"
          }
        },
        "type": "object"
      },
      "ap_radio_band6": {
        "additionalProperties": false,
        "description": "6 GHz radio settings for an access point",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "description": "Whether RRM may disable the 6 GHz radio when optimizing RF settings",
            "type": "boolean"
          },
          "ant_gain": {
            "default": 0,
            "description": "External antenna gain for the 6 GHz radio",
            "maximum": 10,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "antenna_beam_pattern": {
            "$ref": "#/components/schemas/radio_band_antenna_beam_pattern",
            "description": "Beam pattern used by the 6 GHz radio antenna"
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/radio_band_antenna_mode",
            "description": "Radio chain mode for the 6 GHz radio"
          },
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth6",
            "description": "Channel width configured for the 6 GHz radio"
          },
          "channel": {
            "default": null,
            "description": "For Device. (primary) channel for the band, 0 means using the Site Setting",
            "examples": [
              0
            ],
            "type": [
              "integer",
              "null"
            ]
          },
          "channels": {
            "$ref": "#/components/schemas/radio_band_channels",
            "description": "Allowed channel list for the 6 GHz radio; null or an empty array uses automatic selection"
          },
          "disabled": {
            "default": false,
            "description": "Whether to disable the radio",
            "type": "boolean"
          },
          "power": {
            "default": null,
            "description": "Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode",
            "examples": [
              7
            ],
            "maximum": 25,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_max": {
            "description": "When power=null/unset, max tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_min": {
            "description": "When power=null/unset, min tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "preamble": {
            "$ref": "#/components/schemas/radio_band_preamble",
            "description": "802.11 preamble mode used by the 6 GHz radio"
          },
          "standard_power": {
            "default": false,
            "description": "For 6GHz Only, standard-power operation, AFC (Automatic Frequency Coordination) will be performed, and we'll fall back to Low Power Indoor if AFC failed",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_switch": {
        "additionalProperties": false,
        "deprecated": true,
        "description": "Deprecated AP switch VLAN control settings for advanced per-port configuration",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether deprecated AP switch VLAN control is enabled",
            "type": "boolean"
          },
          "eth0": {
            "$ref": "#/components/schemas/ap_switch_setting",
            "description": "VLAN settings for AP eth0"
          },
          "eth1": {
            "$ref": "#/components/schemas/ap_switch_setting",
            "description": "VLAN settings for AP eth1"
          },
          "eth2": {
            "$ref": "#/components/schemas/ap_switch_setting",
            "description": "VLAN settings for AP eth2"
          },
          "eth3": {
            "$ref": "#/components/schemas/ap_switch_setting",
            "description": "VLAN settings for AP eth3"
          },
          "module": {
            "$ref": "#/components/schemas/ap_switch_setting",
            "description": "VLAN settings for the AP module port"
          },
          "wds": {
            "$ref": "#/components/schemas/ap_switch_setting",
            "description": "VLAN settings for WDS traffic on the AP"
          }
        },
        "type": "object"
      },
      "ap_switch_setting": {
        "additionalProperties": false,
        "description": "VLAN settings for one deprecated AP switch-config port",
        "properties": {
          "enable_vlan": {
            "description": "Whether VLAN tagging is enabled for this AP switch-config port",
            "type": "boolean"
          },
          "port_vlan_id": {
            "$ref": "#/components/schemas/ap_switch_setting_port_vlan_id",
            "description": "Native VLAN ID for this AP switch-config port"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/ap_switch_setting_vlan_ids",
            "description": "Allowed VLAN IDs for this AP switch-config port"
          }
        },
        "type": "object"
      },
      "ap_switch_setting_port_vlan_id": {
        "anyOf": [
          {
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          },
          {
            "type": "string"
          }
        ],
        "description": "Native VLAN ID, optional"
      },
      "ap_switch_setting_vlan_ids": {
        "description": "List of VLAN IDs",
        "items": {
          "maximum": 4094,
          "minimum": 1,
          "type": "integer"
        },
        "type": "array"
      },
      "ap_uplink_port_config": {
        "additionalProperties": false,
        "description": "AP Uplink port configuration",
        "properties": {
          "dot1x": {
            "default": false,
            "description": "Whether to do 802.1x against uplink switch. When enabled, AP cert will be used to do EAP-TLS and the Org's CA Cert has to be provisioned at the switch",
            "type": "boolean"
          },
          "keep_wlans_up_if_down": {
            "default": false,
            "description": "By default, WLANs are disabled when uplink is down. In some scenario, like SiteSurvey, one would want the AP to keep sending beacons.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_usb": {
        "additionalProperties": false,
        "description": "Legacy USB integration settings for an access point\n  - Note: if native imagotag is enabled, BLE will be disabled automatically\n  - Note: legacy, new config moved to ESL Config.",
        "properties": {
          "cacert": {
            "description": "Only if `type`==`imagotag`. CA certificate used to validate the Imagotag service certificate",
            "type": [
              "string",
              "null"
            ]
          },
          "channel": {
            "description": "Only if `type`==`imagotag`, channel selection, not needed by default, required for manual channel override only",
            "examples": [
              3
            ],
            "type": "integer"
          },
          "enabled": {
            "description": "Whether to enable any usb config",
            "type": "boolean"
          },
          "host": {
            "description": "Only if `type`==`imagotag`. Imagotag service host or IP address contacted by the AP",
            "examples": [
              "1.1.1.1"
            ],
            "type": "string"
          },
          "port": {
            "default": 0,
            "description": "Only if `type`==`imagotag`. TCP port used to reach the Imagotag service",
            "examples": [
              0
            ],
            "type": "integer"
          },
          "type": {
            "$ref": "#/components/schemas/ap_usb_type",
            "description": "USB integration type for this legacy AP USB configuration"
          },
          "verify_cert": {
            "description": "Only if `type`==`imagotag`, whether to turn on SSL verification",
            "type": "boolean"
          },
          "vlan_id": {
            "default": 1,
            "description": "Only if `type`==`solum` or `type`==`hanshow`",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_usb_type": {
        "description": "usb config type. enum: `hanshow`, `imagotag`, `solum`",
        "enum": [
          "hanshow",
          "imagotag",
          "solum"
        ],
        "examples": [
          "imagotag"
        ],
        "type": "string"
      },
      "ap_uwb_config": {
        "additionalProperties": false,
        "description": "Ultra-wideband (UWB) RTLS / OMLOX asset-visibility integration settings for an access point. The device-level value overrides the device profile value, which in turn overrides the site-level setting.",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether UWB RTLS integration is enabled",
            "type": "boolean"
          },
          "host": {
            "description": "RTLS server hostname or IP address",
            "examples": [
              "coriva.example.com"
            ],
            "type": "string"
          },
          "port": {
            "description": "RTLS server port number",
            "examples": [
              9000
            ],
            "maximum": 65535,
            "minimum": 1,
            "type": "integer"
          },
          "slot": {
            "default": 0,
            "description": "UWB time slot assigned to this AP, 0–15",
            "examples": [
              0
            ],
            "maximum": 15,
            "minimum": 0,
            "type": "integer"
          },
          "type": {
            "$ref": "#/components/schemas/ap_uwb_config_type"
          }
        },
        "type": "object"
      },
      "ap_uwb_config_type": {
        "description": "UWB integration type. enum: `zigpos`",
        "enum": [
          "zigpos"
        ],
        "type": "string"
      },
      "ap_zigbee": {
        "additionalProperties": false,
        "description": "Zigbee radio and network settings applied to an AP or AP profile",
        "properties": {
          "allow_join": {
            "$ref": "#/components/schemas/ap_zigbee_allow_join",
            "description": "Join policy for new Zigbee devices on this AP"
          },
          "channel": {
            "default": 0,
            "description": "Zigbee channel (2.4 GHz). `0` means auto; valid fixed values are 11–26",
            "examples": [
              0
            ],
            "maximum": 26,
            "minimum": 0,
            "type": "integer"
          },
          "enabled": {
            "default": false,
            "description": "Whether to enable Zigbee on this AP",
            "type": "boolean"
          },
          "extended_pan_id": {
            "description": "Extended PAN ID in hex string format; only applicable when `pan_id` is also specified",
            "examples": [
              1311768467294899695
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "pan_id": {
            "description": "PAN ID in hex string format; if not specified, assigned automatically",
            "examples": [
              "0x1234"
            ],
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "ap_zigbee_allow_join": {
        "default": "manual",
        "description": "Controls whether new Zigbee devices are allowed to join the network. enum: `always`, `manual`",
        "enum": [
          "always",
          "manual"
        ],
        "examples": [
          "manual"
        ],
        "type": "string"
      },
      "bgp_as": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4294967294,
            "minimum": 1,
            "type": "integer"
          }
        ],
        "description": "BGP AS, value in range 1-4294967294. Can be a Variable (e.g. `{{bgp_as}}` )",
        "examples": [
          65000
        ]
      },
      "bgp_config": {
        "additionalProperties": false,
        "description": "BGP session configuration. BFD is enabled when either bfd_minimum_interval or bfd_multiplier is configured",
        "properties": {
          "auth_key": {
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`",
            "type": "string"
          },
          "bfd_minimum_interval": {
            "default": 350,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`, when bfd_multiplier is configured alone. Default:\n  * 1000 if `type`==`external`\n  * 350 `type`==`internal`",
            "maximum": 255000,
            "minimum": 1,
            "type": [
              "integer",
              "null"
            ]
          },
          "bfd_multiplier": {
            "default": 3,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`, when bfd_minimum_interval_is_configured alone",
            "maximum": 255,
            "minimum": 1,
            "type": [
              "integer",
              "null"
            ]
          },
          "disable_bfd": {
            "default": false,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. BFD provides faster path failure detection and is enabled by default",
            "type": "boolean"
          },
          "export": {
            "description": "Routing policy applied to routes exported by this BGP session",
            "type": "string"
          },
          "export_policy": {
            "description": "Default export policies if no per-neighbor policies defined",
            "type": "string"
          },
          "extended_v4_nexthop": {
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. By default, either inet/net6 unicast depending on neighbor IP family (v4 or v6). For v6 neighbors, to exchange v4 nexthop, which allows dual-stack support, enable this",
            "type": "boolean"
          },
          "graceful_restart_time": {
            "default": 0,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. `0` means disable",
            "maximum": 4095,
            "minimum": 0,
            "type": "integer"
          },
          "hold_time": {
            "default": 90,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. Default is 90.",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer"
          },
          "import": {
            "description": "Routing policy applied to routes imported by this BGP session",
            "type": "string"
          },
          "import_policy": {
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. Default import policies if no per-neighbor policies defined",
            "type": "string"
          },
          "local_as": {
            "$ref": "#/components/schemas/bgp_local_as",
            "description": "Required if `via`==`lan`, `via`==`tunnel` or `via`==`wan`; local BGP Autonomous System (AS) number"
          },
          "neighbor_as": {
            "$ref": "#/components/schemas/bgp_as",
            "description": "Default BGP neighbor Autonomous System (AS) number for this session"
          },
          "neighbors": {
            "additionalProperties": {
              "$ref": "#/components/schemas/bgp_config_neighbors"
            },
            "description": "Required if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. If per-neighbor as is desired. Property key is the neighbor address",
            "type": "object"
          },
          "networks": {
            "$ref": "#/components/schemas/bgp_config_networks",
            "description": "Optional if `via`==`lan`; networks where BGP neighbors can connect to or from"
          },
          "no_private_as": {
            "default": false,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. If true, we will not advertise private ASNs (AS 64512-65534) to this neighbor",
            "type": "boolean"
          },
          "no_readvertise_to_overlay": {
            "default": false,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. By default, we'll re-advertise all learned BGP routers toward overlay",
            "type": "boolean"
          },
          "tunnel_name": {
            "description": "Optional if `via`==`tunnel`; tunnel name used for this BGP session",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/bgp_config_type",
            "description": "Required if `via`==`lan`, `via`==`tunnel` or `via`==`wan`; BGP session type, internal or external"
          },
          "via": {
            "$ref": "#/components/schemas/bgp_config_via",
            "description": "Transport used for this BGP session, such as LAN, tunnel, VPN, or WAN"
          },
          "vpn_name": {
            "description": "Optional if `via`==`vpn`; VPN name used for this BGP session",
            "type": "string"
          },
          "wan_name": {
            "description": "Optional if `via`==`wan`; WAN interface name used for this BGP session",
            "type": "string"
          }
        },
        "required": [
          "via"
        ],
        "type": "object"
      },
      "bgp_config_neighbors": {
        "additionalProperties": false,
        "description": "Per-neighbor BGP session settings",
        "properties": {
          "disabled": {
            "default": false,
            "description": "If true, the BGP session to this neighbor will be administratively disabled/shutdown",
            "type": "boolean"
          },
          "export_policy": {
            "description": "Export policy applied only to this BGP neighbor",
            "type": "string"
          },
          "hold_time": {
            "default": 90,
            "description": "BGP hold time for this neighbor, in seconds",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer"
          },
          "import_policy": {
            "description": "Import policy applied only to this BGP neighbor",
            "type": "string"
          },
          "multihop_ttl": {
            "description": "Assuming BGP neighbor is directly connected",
            "maximum": 255,
            "minimum": 0,
            "type": "integer"
          },
          "neighbor_as": {
            "$ref": "#/components/schemas/bgp_as",
            "description": "Autonomous System (AS) number of this BGP neighbor"
          },
          "tunnel_via": {
            "$ref": "#/components/schemas/tunnel_via",
            "description": "If `via`==`tunnel`, primary or secondary tunnel associated with this BGP neighbor"
          }
        },
        "required": [
          "neighbor_as"
        ],
        "type": "object"
      },
      "bgp_config_networks": {
        "description": "Optional if `via`==`lan`. List of networks where we expect BGP neighbor to connect to/from",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "bgp_config_type": {
        "description": "Required if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. enum: `external`, `internal`",
        "enum": [
          "external",
          "internal"
        ],
        "minLength": 1,
        "type": "string"
      },
      "bgp_config_via": {
        "default": "lan",
        "description": "enum: `lan`, `tunnel`, `vpn`, `wan`",
        "enum": [
          "lan",
          "tunnel",
          "vpn",
          "wan"
        ],
        "type": "string"
      },
      "bgp_local_as": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer"
          }
        ],
        "description": "Required if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. BGP AS, value in range 1-4294967295",
        "examples": [
          65000
        ]
      },
      "ble_config": {
        "additionalProperties": false,
        "description": "Bluetooth Low Energy beacon and asset advertising settings for an AP",
        "properties": {
          "beacon_enabled": {
            "default": true,
            "description": "Whether Mist beacons is enabled",
            "type": "boolean"
          },
          "beacon_rate": {
            "description": "Required if `beacon_rate_mode`==`custom`, 1-10, in number-beacons-per-second",
            "examples": [
              3
            ],
            "type": "integer"
          },
          "beacon_rate_mode": {
            "$ref": "#/components/schemas/ble_config_beacon_rate_mode",
            "description": "Beacon rate mode for Mist BLE beacons; use custom to set beacon_rate"
          },
          "beam_disabled": {
            "$ref": "#/components/schemas/ble_config_beam_disabled",
            "description": "AP BLE beam numbers disabled for location advertisements"
          },
          "custom_ble_packet_enabled": {
            "default": false,
            "description": "Can be enabled if `beacon_enabled`==`true`, whether to send custom packet",
            "type": "boolean"
          },
          "custom_ble_packet_frame": {
            "default": "",
            "description": "The custom frame to be sent out in this beacon. The frame must be a hexstring",
            "examples": [
              "0x........"
            ],
            "type": "string"
          },
          "custom_ble_packet_freq_msec": {
            "default": 0,
            "description": "Frequency (msec) of data emitted by custom ble beacon",
            "examples": [
              300
            ],
            "minimum": 0,
            "type": "integer"
          },
          "eddystone_uid_adv_power": {
            "default": 0,
            "description": "Advertised TX Power, -100 to 20 (dBm), omit this attribute to use default",
            "examples": [
              -65
            ],
            "maximum": 20,
            "minimum": -100,
            "type": "integer"
          },
          "eddystone_uid_beams": {
            "default": "",
            "description": "BLE beams used to transmit Eddystone-UID advertisements, expressed as ranges such as `2-4,7`",
            "examples": [
              "2-4,7"
            ],
            "type": "string"
          },
          "eddystone_uid_enabled": {
            "default": false,
            "description": "Only if `beacon_enabled`==`false`, Whether Eddystone-UID beacon is enabled",
            "type": "boolean"
          },
          "eddystone_uid_freq_msec": {
            "default": 0,
            "description": "Frequency (msec) of data emit by Eddystone-UID beacon",
            "examples": [
              200
            ],
            "type": "integer"
          },
          "eddystone_uid_instance": {
            "default": "",
            "description": "Eddystone-UID instance for the device",
            "examples": [
              "5c5b35000001"
            ],
            "type": "string"
          },
          "eddystone_uid_namespace": {
            "default": "",
            "description": "Eddystone-UID namespace broadcast by the AP, as a 10-byte hex string",
            "examples": [
              "2818e3868dec25629ede"
            ],
            "type": "string"
          },
          "eddystone_url_adv_power": {
            "default": 0,
            "description": "Advertised TX Power, -100 to 20 (dBm), omit this attribute to use default",
            "examples": [
              -65
            ],
            "maximum": 20,
            "minimum": -100,
            "type": "integer"
          },
          "eddystone_url_beams": {
            "default": "",
            "description": "BLE beams used to transmit Eddystone-URL advertisements, expressed as ranges such as `2-4,7`",
            "examples": [
              "2-4,7"
            ],
            "type": "string"
          },
          "eddystone_url_enabled": {
            "default": false,
            "description": "Only if `beacon_enabled`==`false`, Whether Eddystone-URL beacon is enabled",
            "type": "boolean"
          },
          "eddystone_url_freq_msec": {
            "default": 0,
            "description": "Frequency (msec) of data emitted by Eddystone-URL beacon",
            "examples": [
              1000
            ],
            "type": "integer"
          },
          "eddystone_url_url": {
            "default": "",
            "description": "URL pointed by Eddystone-URL beacon",
            "examples": [
              "https://www.abc.com"
            ],
            "type": "string"
          },
          "ibeacon_adv_power": {
            "default": 0,
            "description": "Advertised TX Power, -100 to 20 (dBm), omit this attribute to use default",
            "examples": [
              -65
            ],
            "maximum": 20,
            "minimum": -100,
            "type": "integer"
          },
          "ibeacon_beams": {
            "default": "",
            "description": "BLE beams used to transmit iBeacon advertisements, expressed as ranges such as `2-4,7`",
            "examples": [
              "2-4,7"
            ],
            "type": "string"
          },
          "ibeacon_enabled": {
            "default": false,
            "description": "Can be enabled if `beacon_enabled`==`true`, whether to send iBeacon",
            "type": "boolean"
          },
          "ibeacon_freq_msec": {
            "default": 0,
            "description": "Frequency (msec) of data emit for iBeacon",
            "type": "integer"
          },
          "ibeacon_major": {
            "$ref": "#/components/schemas/ibeacon_major",
            "description": "iBeacon major value broadcast by the AP"
          },
          "ibeacon_minor": {
            "$ref": "#/components/schemas/ibeacon_minor",
            "description": "iBeacon minor value broadcast by the AP"
          },
          "ibeacon_uuid": {
            "default": "",
            "description": "Optional, if not specified, the same UUID as the beacon will be used",
            "examples": [
              "f3f17139-704a-f03a-2786-0400279e37c3"
            ],
            "format": "uuid",
            "type": "string"
          },
          "power": {
            "default": 9,
            "description": "Required if `power_mode`==`custom`; else use `power_mode` as default",
            "examples": [
              6
            ],
            "maximum": 10,
            "minimum": 1,
            "type": "integer"
          },
          "power_mode": {
            "$ref": "#/components/schemas/ble_config_power_mode",
            "description": "Transmit power mode for BLE beacons; use custom to set `power`"
          }
        },
        "type": "object"
      },
      "ble_config_beacon_rate_mode": {
        "default": "default",
        "description": "Beacon rate mode for Mist BLE beacons; use custom to set beacon_rate. enum: `custom`, `default`",
        "enum": [
          "custom",
          "default"
        ],
        "examples": [
          "custom"
        ],
        "type": "string"
      },
      "ble_config_beam_disabled": {
        "description": "List of AP BLE location beam numbers (1-8) which should be disabled at the AP and not transmit location information (where beam 1 is oriented at the top the AP, growing counter-clock-wise, with 9 being the omni BLE beam)",
        "examples": [
          [
            1,
            3,
            6
          ]
        ],
        "items": {
          "type": "integer"
        },
        "type": "array"
      },
      "ble_config_power_mode": {
        "default": "default",
        "description": "Transmit power mode for BLE beacons; use `custom` to set explicit power. enum: `custom`, `default`",
        "enum": [
          "custom",
          "default"
        ],
        "examples": [
          "custom"
        ],
        "type": "string"
      },
      "config_switch_local_accounts": {
        "additionalProperties": {
          "$ref": "#/components/schemas/config_switch_local_accounts_user"
        },
        "description": "Property key is the user name. For Local user authentication",
        "type": "object"
      },
      "config_switch_local_accounts_user": {
        "additionalProperties": false,
        "description": "Local switch user account credentials and access role",
        "properties": {
          "password": {
            "description": "Local password for the switch user account",
            "examples": [
              "Juniper123"
            ],
            "format": "password",
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/config_switch_local_accounts_user_role",
            "description": "Access role granted to the local switch user account"
          }
        },
        "type": "object"
      },
      "config_switch_local_accounts_user_role": {
        "default": "none",
        "description": "enum: `admin`, `helpdesk`, `none`, `read`",
        "enum": [
          "admin",
          "helpdesk",
[...]
