{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Alarms",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Alarms are triggered based on certain events. Alarms could be configured using an Alarm Template.",
      "name": "Orgs Alarms"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/alarms/ack": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "post": {
        "description": "Acknowledge multiple organization alarms by alarm ID and optionally attach a note to the acknowledgement.",
        "operationId": "ackOrgMultipleAlarms",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "alarm_ids": [
                      "ccb8c94d-ca56-4075-932f-1f2ab444ff2c",
                      "98ff4a3d-ec9b-4138-a42e-54fc3335179d"
                    ],
                    "note": "maintenance window"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/alarms"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "ackOrgMultipleAlarms",
        "tags": [
          "Orgs Alarms"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/alarms/ack_all": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "post": {
        "description": "Acknowledge all alarms in the organization and optionally attach a note. For targeted bulk updates, use [Ack Org Multiple Alarms](/#operations/ackOrgMultipleAlarms) with up to 1000 alarm IDs per request.",
        "operationId": "ackOrgAllAlarms",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "note": "string"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/note_string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "ackOrgAllAlarms",
        "tags": [
          "Orgs Alarms"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/alarms/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count alarms across the organization, optionally grouped by the `distinct` field and filtered by time range.",
        "operationId": "countOrgAlarms",
        "parameters": [
          {
            "description": "Field used to group this count response",
            "in": "query",
            "name": "distinct",
            "schema": {
              "examples": [
                "site_id"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgAlarms",
        "tags": [
          "Orgs Alarms"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/alarms/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search alarms across the organization with filters for site, alarm group, severity, type, acknowledgement state, acknowledgement admin, and time range.",
        "operationId": "searchOrgAlarms",
        "parameters": [
          {
            "description": "Filter results by site identifier. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "site_id",
            "schema": {
              "examples": [
                "00000000-0000-0000-0000-000000000001,00000000-0000-0000-0000-000000000002",
                "72771e6a-6f5e-4de4-a5b9-1266c4197811"
              ],
              "type": "string"
            }
          },
          {
            "description": "Alarm group used to filter alarm results. enum: `certificate_expiry`, `infrastructure`, `marvis`, `security`. The `marvis` group is used to retrieve AI-driven network issue detections. Known Marvis alarm types include: `bad_cable`, `bad_wan_uplink`, `dns_failure`, `arp_failure`, `auth_failure`, `dhcp_failure`, `missing_vlan`, `negotiation_mismatch`, `port_flap`. Results include resolution status (`status`, `resolved_time`) and affected entity details. Accepts multiple comma-separated values.",
            "example": "security,infrastructure",
            "in": "query",
            "name": "group",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Alarm severity used to filter results. enum: `critical`, `info`, `warn`. Accepts multiple comma-separated values.",
            "example": "warn,critical",
            "in": "query",
            "name": "severity",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter alarms by alarm type. Accepts multiple values separated by comma. Use [List Alarm Definitions](/#operations/listAlarmDefinitions) to get the list of possible alarm types",
            "in": "query",
            "name": "type",
            "schema": {
              "examples": [
                "infra_dhcp_failure,missing_vlan"
              ],
              "type": "string"
            }
          },
          {
            "description": "Name of the admins who have acked the alarms; accepts multiple values separated by comma",
            "in": "query",
            "name": "ack_admin_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter alarm results by whether the alarm has been acknowledged",
            "in": "query",
            "name": "acked",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AlarmsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgAlarms",
        "tags": [
          "Orgs Alarms"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/alarms/unack": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "post": {
        "description": "Remove acknowledgement from multiple organization alarms by alarm ID and optionally attach a note.",
        "operationId": "unackOrgMultipleAlarms",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "alarm_ids": [
                      "ccb8c94d-ca56-4075-932f-1f2ab444ff2c",
                      "98ff4a3d-ec9b-4138-a42e-54fc3335179d"
                    ],
                    "note": "maintenance window"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/alarms"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "unackOrgMultipleAlarms",
        "tags": [
          "Orgs Alarms"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/alarms/unack_all": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "post": {
        "description": "Remove acknowledgement from all alarms in the organization and optionally attach a note. For targeted bulk updates, use [Unack Org Multiple Alarms](/#operations/unackOrgMultipleAlarms) with up to 1000 alarm IDs per request.",
        "operationId": "unackOrgAllAlarms",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "note": "maintenance window"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/note_string"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "unackOrgAllAlarms",
        "tags": [
          "Orgs Alarms"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/alarms/{alarm_id}/ack": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/alarm_id"
        }
      ],
      "post": {
        "description": "Acknowledge a single organization alarm and optionally attach a note to the acknowledgement.",
        "operationId": "ackOrgAlarm",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "note": "maintenance window"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/note_string"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "ackOrgAlarm",
        "tags": [
          "Orgs Alarms"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/subscriptions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "post": {
        "description": "Subscribe to Org Alarms/Reports\nSubscriptions define how Org Alarms/Reports are delivered to whom",
        "operationId": "subscribeOrgAlarmsReports",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "subscribeOrgAlarmsReports",
        "tags": [
          "Orgs Alarms"
        ]
      },
      "delete": {
        "description": "Unsubscribe from Org Alarms/Reports\nSubscriptions define how Org Alarms/Reports are delivered to whom",
        "operationId": "unsubscribeOrgAlarmsReports",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "unsubscribeOrgAlarmsReports",
        "tags": [
          "Orgs Alarms"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "alarm": {
        "additionalProperties": false,
        "description": "Additional information per alarm type",
        "properties": {
          "ack_admin_id": {
            "description": "UUID of the admin who acked the alarm",
            "examples": [
              "456b7016-a916-a4b1-78dd-72b947c152b7"
            ],
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "ack_admin_name": {
            "description": "Name & Email ID of the admin who acked the alarm",
            "examples": [
              "Joe"
            ],
            "type": "string"
          },
          "acked": {
            "description": "Whether the alarm is acked or not",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "acked_time": {
            "description": "Epoch (seconds) when the alarm was acked",
            "examples": [
              1711031352
            ],
            "readOnly": true,
            "type": "integer"
          },
          "aps": {
            "$ref": "#/components/schemas/alarm_aps",
            "description": "Access point MAC addresses related to this alarm"
          },
          "bssids": {
            "$ref": "#/components/schemas/alarm_bssids",
            "description": "Wireless BSSIDs related to this alarm"
          },
          "count": {
            "description": "Number of incident within an alarm window",
            "examples": [
              2
            ],
            "readOnly": true,
            "type": "integer"
          },
          "gateways": {
            "$ref": "#/components/schemas/alarm_gateways",
            "description": "Gateway MAC addresses related to this alarm"
          },
          "group": {
            "description": "Category group for this alarm, such as certificate_expiry, infrastructure, marvis, or security",
            "examples": [
              "security"
            ],
            "type": "string"
          },
          "hostnames": {
            "$ref": "#/components/schemas/alarm_hostnames",
            "description": "Device hostnames related to this alarm"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the alarm"
          },
          "last_seen": {
            "description": "Epoch (seconds) of the last incident/alarm within an alarm window",
            "examples": [
              1711031774
            ],
            "format": "double",
            "readOnly": true,
            "type": "number"
          },
          "note": {
            "description": "Text describing the alarm",
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization associated with this alarm"
          },
          "resolved_time": {
            "description": "Epoch (seconds) of the resolved_time for the alarm",
            "type": "integer"
          },
          "severity": {
            "description": "Impact level assigned to this alarm, such as critical, warn, or info",
            "examples": [
              "critical"
            ],
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site associated with this alarm"
          },
          "ssids": {
            "$ref": "#/components/schemas/alarm_ssids",
            "description": "Wireless SSIDs related to this alarm"
          },
          "status": {
            "$ref": "#/components/schemas/alarm_status",
            "description": "Current lifecycle status of this alarm"
          },
          "switches": {
            "$ref": "#/components/schemas/alarm_switches",
            "description": "Switch MAC addresses related to this alarm"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when the alarm was raised, in epoch seconds"
          },
          "type": {
            "description": "Key-name of the alarm type",
            "examples": [
              "rogue_client"
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "id",
          "timestamp",
          "last_seen",
          "type",
          "group",
          "severity",
          "count"
        ],
        "type": "object"
      },
      "alarm_aps": {
        "description": "additional information: List of MACs of the APs",
        "examples": [
          [
            "ffeeddccbbaa",
            "ffeeddccbbab"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "alarm_bssids": {
        "description": "Wireless BSSIDs related to this alarm",
        "items": {
          "examples": [
            "Corp SSID"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "alarm_gateways": {
        "description": "additional information: List of MACs of the gateways",
        "examples": [
          [
            "ffeeddccbbaa",
            "ffeeddccbbab"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "alarm_hostnames": {
        "description": "additional information: List of Hostnames of the devices (AP/Switch/Gateway)",
        "examples": [
          [
            "MC_DavidL",
            "MCM_AP_33_Nishant"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "alarm_ids": {
        "description": "List of alarm identifiers",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "alarm_search_result": {
        "additionalProperties": false,
        "description": "Paginated response returned by an alarm search",
        "properties": {
          "component": {
            "description": "Alarm component matched by the search result",
            "type": "string"
          },
          "end": {
            "description": "Upper bound of the alarm search window, in epoch seconds",
            "examples": [
              1711035686
            ],
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of alarm results returned",
            "examples": [
              10
            ],
            "type": "integer"
          },
          "next": {
            "description": "URL for the next page of alarm search results",
            "examples": [
              "/api/v1/orgs/b3b9f5e6-67b1-4112-9b4c-6824c565eaeb/alarms/search?end=1711035686&limit=10&search_after=%5B1711031354000%2C+%2256bfa7af-b2db-43ee-a4c8-9b820bbba0e1%22%5D&start=1710949286"
            ],
            "type": "string"
          },
          "page": {
            "description": "Current page number for paginated alarm search results",
            "examples": [
              1
            ],
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/alarm_search_results",
            "description": "Alarm records returned for this search"
          },
          "start": {
            "description": "Lower bound of the alarm search window, in epoch seconds",
            "examples": [
              1710949286
            ],
            "type": "integer"
          },
          "total": {
            "description": "Number of alarm records matching the search",
            "examples": [
              232
            ],
            "type": "integer"
          }
        },
        "required": [
          "start",
          "end",
          "limit",
          "total",
          "results"
        ],
        "type": "object"
      },
      "alarm_search_results": {
        "description": "Alarm records returned by an alarm search response",
        "items": {
          "$ref": "#/components/schemas/alarm"
        },
        "type": "array"
      },
      "alarm_ssids": {
        "description": "Wireless SSIDs related to this alarm",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "alarm_status": {
        "description": "Current lifecycle status of this alarm. enum: `open`, `resolved`",
        "enum": [
          "open",
          "resolved"
        ],
        "type": "string"
      },
      "alarm_switches": {
        "description": "additional information: List of MACs of the switches",
        "examples": [
          [
            "ffeeddccbbaa",
            "ffeeddccbbab"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "alarms": {
        "description": "Alarm identifiers and optional note used for bulk alarm state changes",
        "properties": {
          "alarm_ids": {
            "$ref": "#/components/schemas/alarm_ids",
            "description": "Alarm identifiers to acknowledge or unacknowledge"
          },
          "note": {
            "description": "Some text note describing the intent",
            "type": "string"
          }
        },
        "required": [
          "alarm_ids"
        ],
        "type": "object"
      },
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "note_string": {
        "description": "Request body containing a note value",
        "properties": {
          "note": {
            "description": "Some text note describing the intent",
            "examples": [
              "maintenance window"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "timestamp": {
        "description": "Epoch timestamp, in seconds",
        "format": "double",
        "readOnly": true,
        "type": "number"
      }
    },
    "responses": {
      "AlarmsSearch": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/alarm_search_result"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/alarm_search_result"
            }
          }
        },
        "description": "OK"
      },
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      }
    },
    "parameters": {
      "alarm_id": {
        "in": "path",
        "name": "alarm_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
