{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Stats - Tunnels",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve statistics about the Mist Tunnels at the Org level",
      "name": "Orgs Stats - Tunnels"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/stats/tunnels/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Mist Tunnels Stats",
        "operationId": "countOrgTunnelsStats",
        "parameters": [
          {
            "description": "Field used to group tunnel statistics count results. enum: `ap`, `auth_algo`, `encrypt_algo`, `ike_version`, `ip`, `last_event`, `mac`, `mxcluster_id`, `mxedge_id`, `node`, `peer_host`, `peer_ip`, `peer_mxedge_id`, `protocol`, `remote_ip`, `remote_port`, `site_id`, `state`, `tunnel_name`, `up`, `wxtunnel_id`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_tunnel_count_distinct"
            }
          },
          {
            "description": "Filter results by type. enum: `wan`, `wxtunnel`",
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/org_tunnel_type_count"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgTunnelsStats",
        "tags": [
          "Orgs Stats - Tunnels"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/stats/tunnels/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "By default the endpoint returns only `wxtunnel` type stats, to get `wan` type stats\nyou need to specify `type=wan` in the query parameters.\n\n\nTunnel types:\n- `wxtunnel` (default) - A WxLan Tunnel (WxTunnel) are used to create a secure connection between Juniper Mist Access Points and third-party VPN concentrators using protocols such as L2TPv3 or dmvpn.\n- `wan` - A WAN Tunnel is a secure connection between two Gateways, typically used for site-to-site or mesh connectivity. It can be configured with various protocols and encryption methods.\n\n\nIf `type` is not specified or `type`==`wxtunnel`, the following parameters are supported:\n- `mxcluster_id` - the MX cluster ID\n- `site_id` - the site ID\n- `wxtunnel_id` - the WX tunnel ID\n- `ap` - the AP MAC address\n\n\nIf `type`==`wan`, the following parameters are supported:\n- `mac` - the MAC address of the WAN device\n- `node` - the node ID\n- `peer_ip` - the peer IP address\n- `peer_host` - the peer host name\n- `ip` - the IP address of the WAN device\n- `tunnel_name` - the name of the tunnel\n- `protocol` - the protocol used for the tunnel\n- `auth_algo` - the authentication algorithm used for the tunnel\n- `encrypt_algo` - the encryption algorithm used for the tunnel\n- `ike_version` - the IKE version used for the tunnel\n- `up` - the status of the tunnel (up or down)\n",
        "operationId": "searchOrgTunnelsStats",
        "parameters": [
          {
            "description": "Filter results by mxcluster id when `type`==`wxtunnel`",
            "in": "query",
            "name": "mxcluster_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by site identifier",
            "in": "query",
            "name": "site_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by wxtunnel id when `type`==`wxtunnel`",
            "in": "query",
            "name": "wxtunnel_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by AP MAC address when `type`==`wxtunnel`",
            "in": "query",
            "name": "ap",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by MAC address when `type`==`wan`",
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by node when `type`==`wan`",
            "in": "query",
            "name": "node",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by peer ip when `type`==`wan`",
            "in": "query",
            "name": "peer_ip",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by peer host when `type`==`wan`",
            "in": "query",
            "name": "peer_host",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by IP address when `type`==`wan`",
            "in": "query",
            "name": "ip",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by tunnel name when `type`==`wan`",
            "in": "query",
            "name": "tunnel_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by protocol when `type`==`wan`",
            "in": "query",
            "name": "protocol",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by auth algo when `type`==`wan`",
            "in": "query",
            "name": "auth_algo",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by encrypt algo when `type`==`wan`",
            "in": "query",
            "name": "encrypt_algo",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by ike version when `type`==`wan`",
            "in": "query",
            "name": "ike_version",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by up when `type`==`wan`",
            "in": "query",
            "name": "up",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by type. enum: `wan`, `wxtunnel`",
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/tunnel_type"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration_5m"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TunnelsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgTunnelsStats",
        "tags": [
          "Orgs Stats - Tunnels"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "fwupdate_stat": {
        "additionalProperties": false,
        "description": "Firmware update status for a device",
        "properties": {
          "progress": {
            "description": "Firmware update progress percentage, or null when unavailable",
            "examples": [
              10
            ],
            "maximum": 100,
            "minimum": 0,
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/fwupdate_stat_status",
            "description": "Current firmware update status"
          },
          "status_id": {
            "description": "Numeric firmware update status identifier",
            "examples": [
              5
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when the firmware update status was last updated"
          },
          "will_retry": {
            "description": "Whether the firmware update process will retry after the current status",
            "examples": [
              false
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "fwupdate_stat_status": {
        "description": "enum: `inprogress`, `failed`, `upgraded`, `success`, `scheduled`, `error`",
        "enum": [
          "inprogress",
          "failed",
          "upgraded",
          "success",
          "scheduled",
          "error"
        ],
        "readOnly": true,
        "type": [
          "string",
          "null"
        ]
      },
      "last_seen": {
        "description": "Timestamp indicating when the entity was last seen",
        "examples": [
          1470417522
        ],
        "format": "double",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "org_tunnel_count_distinct": {
        "default": "wxtunnel_id",
        "description": "enum: `ap`, `auth_algo`, `encrypt_algo`, `ike_version`, `ip`, `last_event`, `mac`, `mxcluster_id`, `mxedge_id`, `node`, `peer_host`, `peer_ip`, `peer_mxedge_id`, `protocol`, `remote_ip`, `remote_port`, `site_id`, `state`, `tunnel_name`, `up`, `wxtunnel_id`",
        "enum": [
          "ap",
          "auth_algo",
          "encrypt_algo",
          "ike_version",
          "ip",
          "last_event",
          "mac",
          "mxcluster_id",
          "mxedge_id",
          "node",
          "peer_host",
          "peer_ip",
          "peer_mxedge_id",
          "protocol",
          "remote_ip",
          "remote_port",
          "site_id",
          "state",
          "tunnel_name",
          "up",
          "wxtunnel_id"
        ],
        "type": "string"
      },
      "org_tunnel_type_count": {
        "default": "wxtunnel",
        "description": "Tunnel type used when counting organization tunnels. enum: `wan`, `wxtunnel`",
        "enum": [
          "wan",
          "wxtunnel"
        ],
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_tunnel_search": {
        "additionalProperties": false,
        "description": "Paginated response for organization tunnel statistics search results",
        "properties": {
          "end": {
            "description": "Epoch timestamp, in seconds, for the end of the tunnel statistics search window",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of tunnel statistics records returned in this page",
            "type": "integer"
          },
          "next": {
            "description": "URL for retrieving the next page of tunnel statistics results",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_tunnel_search_results",
            "description": "Tunnel statistics records matching the search filters"
          },
          "start": {
            "description": "Epoch timestamp, in seconds, for the start of the tunnel statistics search window",
            "type": "integer"
          },
          "total": {
            "description": "Number of tunnel statistics records matching the search filters across all pages",
            "type": "integer"
          }
        },
        "required": [
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_tunnel_search_item": {
        "description": "Tunnel statistics record; shape depends on the requested tunnel type",
        "oneOf": [
          {
            "$ref": "#/components/schemas/stats_mxtunnel"
          },
          {
            "$ref": "#/components/schemas/stats_wan_tunnel"
          }
        ]
      },
      "response_tunnel_search_results": {
        "description": "Tunnel statistics records returned by search",
        "items": {
          "$ref": "#/components/schemas/response_tunnel_search_item"
        },
        "type": "array"
      },
      "rx_bytes": {
        "description": "Amount of traffic received since connection",
        "examples": [
          8515104416
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "rx_pkts": {
        "description": "Amount of packets received since connection",
        "examples": [
          57770567
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "stats_mxtunnel": {
        "additionalProperties": false,
        "description": "WxLAN or Mist tunnel statistics record",
        "properties": {
          "ap": {
            "description": "MAC address of the AP associated with the tunnel statistics",
            "readOnly": true,
            "type": "string"
          },
          "for_site": {
            "description": "Whether the tunnel statistics are scoped to a site",
            "readOnly": true,
            "type": "boolean"
          },
          "fwupdate": {
            "$ref": "#/components/schemas/fwupdate_stat",
            "description": "Firmware update status included with the tunnel statistics, when available"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen",
            "description": "Time when the tunnel statistics were last observed"
          },
          "mtu": {
            "description": "Maximum transmission unit reported for the tunnel path",
            "readOnly": true,
            "type": "integer"
          },
          "mxcluster_id": {
            "description": "Mist Edge cluster identifier associated with the tunnel statistics",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "mxedge_id": {
            "description": "Mist Edge identifier for the tunnel endpoint",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "mxtunnel_id": {
            "description": "Mist tunnel identifier associated with the tunnel statistics",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization identifier associated with the tunnel statistics"
          },
          "peer_mxedge_id": {
            "description": "MxEdge ID of the peer(mist edge to mist edge tunnel)",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "remote_ip": {
            "description": "Remote endpoint IP address for the tunnel",
            "readOnly": true,
            "type": "string"
          },
          "remote_port": {
            "description": "Remote endpoint port for the tunnel",
            "readOnly": true,
            "type": "integer"
          },
          "sessions": {
            "$ref": "#/components/schemas/stats_mxtunnel_sessions",
            "description": "WxLAN tunnel sessions reported for this tunnel"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site identifier associated with the tunnel statistics"
          },
          "start_time": {
            "description": "Epoch timestamp when the tunnel was established",
            "readOnly": true,
            "type": "integer"
          },
          "state": {
            "$ref": "#/components/schemas/stats_mxtunnel_state",
            "description": "Current state of the WxLAN or Mist tunnel"
          }
        },
        "required": [
          "remote_ip"
        ],
        "type": "object"
      },
      "stats_mxtunnel_session": {
        "additionalProperties": false,
        "description": "Session information for a WxLAN or Mist tunnel",
        "properties": {
          "local_sid": {
            "description": "Local session identifier for the tunnel session",
            "type": "integer"
          },
          "remote_id": {
            "description": "Configured remote identifier for the tunnel session",
            "type": "string"
          },
          "remote_sid": {
            "description": "Peer session identifier for the tunnel session",
            "type": "integer"
          },
          "state": {
            "description": "Current state of the tunnel session",
            "type": "string"
          }
        },
        "required": [
          "local_sid",
          "remote_id",
          "remote_sid",
          "state"
        ],
        "type": "object"
      },
      "stats_mxtunnel_sessions": {
        "description": "Tunnel sessions reported for a WxLAN or Mist tunnel",
        "items": {
          "$ref": "#/components/schemas/stats_mxtunnel_session"
        },
        "readOnly": true,
        "type": "array",
        "uniqueItems": true
      },
      "stats_mxtunnel_state": {
        "description": "enum: `established`, `established_with_sessions`, `idle`, `wait-ctrl-conn`, `wait-ctrl-reply`",
        "enum": [
          "established",
          "established_with_sessions",
          "idle",
          "wait-ctrl-conn",
          "wait-ctrl-reply"
        ],
        "readOnly": true,
        "type": "string"
      },
      "stats_wan_tunnel": {
        "additionalProperties": false,
        "description": "WAN tunnel statistics record returned by tunnel search",
        "properties": {
          "auth_algo": {
            "description": "Authentication algorithm negotiated for the tunnel",
            "type": "string"
          },
          "encrypt_algo": {
            "description": "Encryption algorithm negotiated for the tunnel",
            "type": "string"
          },
          "ike_version": {
            "description": "IKE version used to establish the tunnel",
            "type": "string"
          },
          "ip": {
            "description": "Local IP address used by the tunnel",
            "type": "string"
          },
          "last_event": {
            "description": "Most recent reason the tunnel went down",
            "type": "string"
          },
          "mac": {
            "description": "Router MAC address reporting the tunnel statistics",
            "type": "string"
          },
          "node": {
            "description": "HA node handling the tunnel, such as node0 or node1",
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization identifier of the router reporting the tunnel statistics"
          },
          "peer_host": {
            "description": "Hostname or configured peer host of the remote tunnel endpoint",
            "type": "string"
          },
          "peer_ip": {
            "description": "IP address of the remote tunnel endpoint",
            "type": "string"
          },
          "priority": {
            "$ref": "#/components/schemas/tunnel_priority",
            "description": "Relative preference assigned to the tunnel"
          },
          "protocol": {
            "$ref": "#/components/schemas/wan_tunnel_protocol",
            "description": "Tunnel protocol used for the connection"
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes",
            "description": "Total bytes received on the tunnel"
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts",
            "description": "Total packets received on the tunnel"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site identifier of the router reporting the tunnel statistics"
          },
          "tunnel_name": {
            "description": "Name of the Mist-managed WAN tunnel",
            "type": "string"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes",
            "description": "Total bytes transmitted on the tunnel"
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts",
            "description": "Total packets transmitted on the tunnel"
          },
          "up": {
            "description": "Indicates whether the tunnel is currently up",
            "type": "boolean"
          },
          "uptime": {
            "description": "Duration since the tunnel security association was established",
            "type": "integer"
          },
          "wan_name": {
            "description": "Name of the WAN interface carrying the tunnel",
            "examples": [
              "wan"
            ],
            "type": "string"
          }
        },
        "required": [
          "peer_ip"
        ],
        "type": "object"
      },
      "timestamp": {
        "description": "Epoch timestamp, in seconds",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "tunnel_priority": {
        "description": "Relative preference assigned to the tunnel. enum: `primary`, `secondary`",
        "enum": [
          "primary",
          "secondary"
        ],
        "type": "string"
      },
      "tunnel_type": {
        "default": "wxtunnel",
        "description": "Tunnel category, either WAN tunnel or WxLAN tunnel. enum: `wan`, `wxtunnel`",
        "enum": [
          "wan",
          "wxtunnel"
        ],
        "type": "string"
      },
      "tx_bytes": {
        "description": "Amount of traffic sent since connection",
        "examples": [
          211217389682
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "tx_pkts": {
        "description": "Amount of packets sent since connection",
        "examples": [
          812204062
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "wan_tunnel_protocol": {
        "description": "Tunnel protocol used for the connection. enum: `gre`, `ipsec`",
        "enum": [
          "gre",
          "ipsec"
        ],
        "type": "string"
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "TunnelsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Type Wan": {
                "$ref": "#/components/examples/TunnelsSearchTypeWan"
              },
              "Type Wxtunnel": {
                "$ref": "#/components/examples/TunnelsSearchTypeWxtunnel"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_tunnel_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Type Wan": {
                "$ref": "#/components/examples/TunnelsSearchTypeWan"
              },
              "Type Wxtunnel": {
                "$ref": "#/components/examples/TunnelsSearchTypeWxtunnel"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_tunnel_search"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "duration_5m": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "5m",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "TunnelsSearchTypeWan": {
        "value": {
          "end": 1531862583,
          "limit": 10,
          "results": [
            {
              "auth_algo": "hmac-md5-96",
              "encrypt_algo": "aes-256-cbc",
              "ike_version": "2",
              "ip": "192.168.233.0",
              "last_event": "down reason",
              "mac": "020001ae9dd5",
              "node": "node0",
              "org_id": "78c11da8-f984-4425-bedb-a7ddd7d0f6da",
              "peer_host": "sunnyvale1-vpn.zscalerbeta.net",
              "peer_ip": "10.224.8.16",
              "protocol": "ipsec",
              "rx_bytes": 150,
              "rx_pkts": 75,
              "site_id": "e83e7928-eda1-4e93-82db-df3dd42ab726",
              "tunnel_name": "Device-ipsec-1",
              "tx_bytes": 100,
              "tx_pkts": 50,
              "up": true,
              "uptime": 10,
              "wan_name": "wan"
            }
          ],
          "start": 1531776183,
          "total": 1
        }
      },
      "TunnelsSearchTypeWxtunnel": {
        "value": {
          "end": 1531862583,
          "limit": 10,
          "results": [
            {
              "ap": "5c5b35000010",
              "last_seen": 1547437078,
              "mtu": 582,
              "mxcluster_id": "572586b7-f97b-a22b-526c-8b97a3f609c4",
              "mxedge_id": "387804a7-3474-85ce-15a2-f9a9684c9c90",
              "mxtunnel_id": "7dae216d-7c98-a51b-e068-dd7d477b7216",
              "org_id": "2818e386-8dec-2562-9ede-5b8a0fbbdc71",
              "peer_mxedge_id": "09320a5c-bc23-441e-80a0-b96c632d45f5",
              "remote_ip": "172.16.1.2",
              "remote_port": 13535,
              "sessions": [
                {
                  "local_sid": 31,
                  "remote_id": "mxtunnel",
                  "remote_sid": 13,
                  "state": "established"
                }
              ],
              "site_id": "4ac1dcf4-9d8b-7211-65c4-057819f0862b",
              "start_time": 1744000000,
              "state": "established_with_sessions"
            }
          ],
          "start": 1531776183,
          "total": 1
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
