{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs JSI",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Juniper Support Insight is a free service provided to all Mist customers.\nYou can adopt your devices via a few lines CLI commands. Allowing you to \n* get some basic information about the adopted devices \n* web shell into device (write privilege required) \\n* upgrade (write privilege required)",
      "name": "Orgs JSI"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/jsi/devices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List organization devices connected to Juniper Support Insights (JSI), optionally filtered by model, serial number, or MAC address.",
        "operationId": "listOrgJsiDevices",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "description": "Filter results by device model",
            "in": "query",
            "name": "model",
            "schema": {
              "examples": [
                "AP43"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by device serial number",
            "in": "query",
            "name": "serial",
            "schema": {
              "examples": [
                "FXLH2015150025"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by MAC address",
            "in": "query",
            "name": "mac",
            "schema": {
              "examples": [
                "5c5b350e0001"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsiDevices"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgJsiDevices",
        "tags": [
          "Orgs JSI"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/jsi/devices/outbound_ssh_cmd": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Return the outbound SSH registration command used to onboard Junos devices to Juniper Support Insights (JSI).",
        "operationId": "adoptOrgJsiDevice",
        "responses": {
          "200": {
            "$ref": "#/components/responses/JunosRegisterCmd"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "adoptOrgJsiDevice",
        "tags": [
          "Orgs JSI"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/jsi/devices/{device_mac}/shell": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/device_mac"
        }
      ],
      "post": {
        "description": "Create a WebSocket-backed shell session for a JSI-connected device identified by MAC address.",
        "operationId": "createOrgJsiDeviceShellSession",
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebsocketSessionWithUrl"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgJsiDeviceShellSession",
        "tags": [
          "Orgs JSI"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/jsi/inventory": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "This gets all devices purchased from the accounts associated with the Org \n  * Fetch Install base devices for all linked accounts and associated account of the linked accounts. \n  * The primary and the associated account ids will be queries from SFDC by passing the linked account \n  * Returns only the device centric details of the Install base device. No customer specific information will be returned.",
        "operationId": "listOrgJsiPastPurchases",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "description": "Filter results by one or more device models. Supports comma-separated values",
            "in": "query",
            "name": "model",
            "schema": {
              "examples": [
                "AP43"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by device serial number",
            "in": "query",
            "name": "serial",
            "schema": {
              "examples": [
                "FXLH2015150025"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsiInventory"
          },
          "400": {
            "$ref": "#/components/responses/JsiInventoryError"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgJsiPastPurchases",
        "tags": [
          "Orgs JSI"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/jsi/inventory/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count devices purchased from the accounts associated with the Org",
        "operationId": "countOrgJsiAssetsAndContracts",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `account_id`, `claimed`, `has_support`, `end_of_sale_time`, `eos_time`, `version_time`, `model`, `sku`, `status`, `type`, `version`, `warranty_type`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/jsi_inventory_count_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/JsiInventoryError"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgJsiAssetsAndContracts",
        "tags": [
          "Orgs JSI"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/jsi/inventory/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "This gets all devices purchased from the accounts associated with the Org \n  * Fetch Install base devices for all linked accounts and associated account of the linked accounts. \n  * The primary and the associated account ids will be queries from SFDC by passing the linked account \n  * Returns only the device centric details of the Install base device. No customer specific information will be returned.",
        "operationId": "searchOrgJsiAssetsAndContracts",
        "parameters": [
          {
            "description": "Device claim status, `true` for claimed devices, `false` for all devices. Accepts multiple comma-separated boolean values.",
            "in": "query",
            "name": "claimed",
            "schema": {
              "examples": [
                "true,false",
                true
              ],
              "type": "boolean"
            }
          },
          {
            "description": "Filter results by device model. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "model",
            "schema": {
              "examples": [
                "QFX10000-36Q,QFX10000-30C",
                "AP43"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by device serial number. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "serial",
            "schema": {
              "examples": [
                "ACNP4666,ACNP6969",
                "FXLH2015150025"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by SKU. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "sku",
            "schema": {
              "examples": [
                "QFX10000-36Q,QFX10000-30C",
                "EX2300"
              ],
              "type": "string"
            }
          },
          {
            "description": "Device status. enum: `all`, `connected`, `disconnected`",
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/device_status"
            }
          },
          {
            "description": "Device warranty type used to filter Juniper Support Insight inventory. enum: `Standard Hardware Warranty`, `Enhanced Hardware Warranty`, `Dead On Arrival Warranty`, `Limited Lifetime Warranty`, `Software Warranty`, `Limited Lifetime Warranty for WLA`, `Warranty-JCPO EOL (DOA Not Included)`, `MIST Enhanced Hardware Warranty`, `MIST Standard Warranty`, `Determine Lifetime warranty`",
            "in": "query",
            "name": "warranty_type",
            "schema": {
              "$ref": "#/components/schemas/jsi_warranty_type"
            }
          },
          {
            "description": "Filter devices with End Of Sale date after this date",
            "in": "query",
            "name": "end_of_sale_after",
            "schema": {
              "examples": [
                "2024-01-01"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter devices with End Of Sale date before this date",
            "in": "query",
            "name": "end_of_sale_before",
            "schema": {
              "examples": [
                "2025-12-31"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter devices with End Of Support date after this date",
            "in": "query",
            "name": "eos_after",
            "schema": {
              "examples": [
                "2024-01-01"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter devices with End Of Support date before this date",
            "in": "query",
            "name": "eos_before",
            "schema": {
              "examples": [
                "2025-12-31"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter devices with OS Version End Of Support date after this date",
            "in": "query",
            "name": "version_eos_after",
            "schema": {
              "examples": [
                "2024-01-01"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter devices with OS Version End Of Support date before this date",
            "in": "query",
            "name": "version_eos_before",
            "schema": {
              "examples": [
                "2025-12-31"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by service contract end date before this date",
            "in": "query",
            "name": "contract_end_before",
            "schema": {
              "examples": [
                "2025-12-31"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by service contract end date after this date",
            "in": "query",
            "name": "contract_end_after",
            "schema": {
              "examples": [
                "2024-01-01"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by contract type",
            "in": "query",
            "name": "contract_type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by contract SKU",
            "in": "query",
            "name": "contract_sku",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by end of service time",
            "in": "query",
            "name": "end_of_service_time",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by service contract status",
            "in": "query",
            "name": "support_contract_status",
            "schema": {
              "$ref": "#/components/schemas/support_contract_status"
            }
          },
          {
            "description": "Indicates if the device is covered under active support contract. Accepts multiple comma-separated boolean values.",
            "in": "query",
            "name": "has_support",
            "schema": {
              "examples": [
                "true,false",
                true
              ],
              "type": "boolean"
            }
          },
          {
            "description": "To get the onboarded devices that are affected by the SIRT ID",
            "in": "query",
            "name": "sirt_id",
            "schema": {
              "examples": [
                "JSA12345"
              ],
              "type": "string"
            }
          },
          {
            "description": "To get the onboarded devices that are affected by the PBN ID",
            "in": "query",
            "name": "pbn_id",
            "schema": {
              "examples": [
                "PBN67890"
              ],
              "type": "string"
            }
          },
          {
            "description": "Wildcard text search across `account_id`, `contract_id`, `contract_reseller`, `contract_sku`, `device_name`, `distributor`, `ia_address`, `ia_country`, `ia_region`, `ia_zip_postal`, `model`, `serial`, `sku`, `status`, `suggested_version`, `version`, `warranty`",
            "in": "query",
            "name": "text",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsiInventorySearch"
          },
          "400": {
            "$ref": "#/components/responses/JsiInventoryError"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgJsiAssetsAndContracts",
        "tags": [
          "Orgs JSI"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/jsi/pbn/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get count of PBN advisories grouped by specified field",
        "operationId": "countOrgJsiPbn",
        "parameters": [
          {
            "description": "Field to group by enum: `versions`, `models`, `customer_risk`, `bug_type`",
            "in": "query",
            "name": "distinct",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/count_pbn_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsiPbnCount"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgJsiPbn",
        "tags": [
          "Orgs JSI"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/jsi/pbn/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Text search for PBN (Problem Bug Notification) advisories. Search can be done on versions, models, customer_risk, id, and bug_type fields.",
        "operationId": "searchOrgJsiPbn",
        "parameters": [
          {
            "description": "Software versions affected by the PBN",
            "in": "query",
            "name": "versions",
            "schema": {
              "examples": [
                "20.4R3"
              ],
              "type": "string"
            }
          },
          {
            "description": "Models affected by the PBN",
            "in": "query",
            "name": "models",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by customer risk. enum: `Critical`, `Major`, `Minor`",
            "in": "query",
            "name": "customer_risk",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "ID of the PBN",
            "in": "query",
            "name": "id",
            "schema": {
              "examples": [
                "1403338"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by bug type",
            "in": "query",
            "name": "bug_type",
            "schema": {
              "$ref": "#/components/schemas/jsi_pbn_bug_type"
            }
          },
          {
            "description": "Wildcard search across `versions`, `models`, `customer_risk`, `id`, `bug_type`",
            "in": "query",
            "name": "text",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsiPbnSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgJsiPbn",
        "tags": [
          "Orgs JSI"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/jsi/sirt/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get count of SIRT advisories grouped by specified field",
        "operationId": "countOrgJsiSirt",
        "parameters": [
          {
            "description": "Field to group by. enum: `jsa_updated_date`, `models`, `severity`, `versions`",
            "in": "query",
            "name": "distinct",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/count_sirt_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsiSirtCount"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgJsiSirt",
        "tags": [
          "Orgs JSI"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/jsi/sirt/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search and get all the SIRT for the onboarded devices. Search can be done on severity, id, updated_after, updated_before, published_after, published_before, models, versions, and text fields.",
        "operationId": "searchOrgJsiSirt",
        "parameters": [
          {
            "description": "Filter results by SIRT severity",
            "in": "query",
            "name": "severity",
            "schema": {
              "$ref": "#/components/schemas/jsi_sirt_severity"
            }
          },
          {
            "description": "JSA number",
            "in": "query",
            "name": "id",
            "schema": {
              "examples": [
                "JSA100053"
              ],
              "type": "string"
            }
          },
          {
            "description": "JSA Updated date to be filtered after this date",
            "in": "query",
            "name": "updated_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "JSA Updated date to be filtered before this date",
            "in": "query",
            "name": "updated_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "JSA Published date to be filtered after this date",
            "in": "query",
            "name": "published_after",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "JSA Published date to be filtered before this date",
            "in": "query",
            "name": "published_before",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Models affected by the SIRT",
            "in": "query",
            "name": "models",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Software versions affected by the SIRT",
            "in": "query",
            "name": "versions",
            "schema": {
              "examples": [
                "20.4R3"
              ],
              "type": "string"
            }
          },
          {
            "description": "Wildcard search across `versions`, `models`, `severity`, `id`",
            "in": "query",
            "name": "text",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JsiSirtSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgJsiSirt",
        "tags": [
          "Orgs JSI"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_pbn_distinct": {
        "description": "Fields that can be used to group PBN advisory count results. enum: `versions`, `models`, `customer_risk`, `bug_type`",
        "enum": [
          "versions",
          "models",
          "customer_risk",
          "bug_type"
        ],
        "examples": [
          "versions"
        ],
        "type": "string"
      },
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "count_sirt_distinct": {
        "description": "Fields that can be used to group SIRT advisory count results. enum: `versions`, `models`, `severity`, `jsa_updated_date`",
        "enum": [
          "versions",
          "models",
          "severity",
          "jsa_updated_date"
        ],
        "examples": [
          "versions"
        ],
        "type": "string"
      },
      "device_status": {
        "default": "all",
        "description": "enum: `all`, `connected`, `disconnected`",
        "enum": [
          "all",
          "connected",
          "disconnected"
        ],
        "type": "string"
      },
      "device_type": {
        "description": "enum: `ap`, `gateway`, `switch`",
        "enum": [
          "ap",
          "gateway",
          "switch"
        ],
        "type": "string"
      },
      "js_inventory": {
        "description": "JSI inventory items returned for an organization",
        "items": {
          "$ref": "#/components/schemas/js_inventory_item"
        },
        "type": "array"
      },
      "js_inventory_item": {
        "additionalProperties": false,
        "description": "Juniper Support inventory item with entitlement, lifecycle, and software metadata",
        "properties": {
          "availability": {
            "description": "Current operational availability status of the device; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "claimed": {
            "description": "Indicates if the device is claimed by any org",
            "type": "boolean"
          },
          "contract_end_date": {
            "description": "Expiration date of the service contract; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "contract_id": {
            "description": "Unique identifier of the service contract; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "contract_reseller": {
            "description": "Name of the reseller associated with the contract; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "contract_sku": {
            "description": "SKU associated with the service contract; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "contract_start_date": {
            "description": "Official commencement date of the service contract; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "contract_type": {
            "description": "General classification of the contract; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "current_contract_flag": {
            "description": "Current status of the contract (e.g., 'Active', 'Expired'); only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "device_name": {
            "description": "Name of the device",
            "type": "string"
          },
          "distributor": {
            "description": "Name of the distributor who provided the device; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "end_of_sale_time": {
            "description": "End of sale epoch timestamp",
            "type": "integer"
          },
          "end_of_service_time": {
            "description": "End of service epoch timestamp",
            "type": "integer"
          },
          "eol_psn": {
            "description": "Product support notice associated with the device end-of-life milestone",
            "examples": [
              "TSB18097"
            ],
            "type": "string"
          },
          "eos_time": {
            "description": "End of support time",
            "type": "integer"
          },
          "has_support": {
            "description": "Indicates if the device is covered under active support contract",
            "type": "boolean"
          },
          "ia_address": {
            "description": "Physical installation street address of the asset; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "ia_country": {
            "description": "Country of installation; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "ia_region": {
            "description": "Geographic region where the device is installed; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "ia_zip_postal": {
            "description": "ZIP or postal code of the installation site; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "master": {
            "description": "Indicates whether it is Master",
            "type": "boolean"
          },
          "model": {
            "description": "Hardware model recorded in the install base inventory",
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization identifier that has claimed the device, when applicable"
          },
          "serial": {
            "description": "Device serial number recorded in the install base inventory",
            "type": "string"
          },
          "service_contract_no": {
            "description": "Unique identifier for the service contract; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "service_contract_type": {
            "description": "Specific service level or contract category for the device; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "service_decline_flag": {
            "description": "Indicates if the service offer was declined (e.g., 'Y'/'N'); only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "service_eligible": {
            "description": "Indicator of whether the device is eligible for service coverage ('Yes', 'No'); only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "ship_date_calc": {
            "description": "Calculated or actual date the device was shipped; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "sku": {
            "description": "Serviceable SKU associated with the device",
            "type": "string"
          },
          "status": {
            "description": "Current inventory status reported for the device",
            "type": "string"
          },
          "suggested_version": {
            "description": "Recommended software version for the device",
            "type": "string"
          },
          "support_contract_status": {
            "$ref": "#/components/schemas/support_contract_status",
            "description": "Service contract status; only returned for onboarded (claimed) devices"
          },
          "type": {
            "$ref": "#/components/schemas/device_type",
            "description": "Device category for the inventory item"
          },
          "version": {
            "description": "Software version currently running on the device",
            "type": "string"
          },
          "version_description": {
            "description": "Release description associated with the reported software version",
            "type": "string"
          },
          "version_eos_time": {
            "description": "End of Service of version",
            "type": "integer"
          },
          "version_time": {
            "description": "FRS date of the version",
            "type": "integer"
          },
          "warranty": {
            "description": "Coverage details associated with the device warranty",
            "type": "string"
          },
          "warranty_end": {
            "description": "Expiration date of the warranty period; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "warranty_start": {
            "description": "Start date of the manufacturer or secondary warranty; only returned for onboarded (claimed) devices",
            "type": "string"
          },
          "warranty_time": {
            "description": "Timestamp when warranty needs to be renewed",
            "type": "integer"
          },
          "warranty_type": {
            "$ref": "#/components/schemas/jsi_warranty_type",
            "description": "Warranty category reported for the device"
          }
        },
        "type": "object"
      },
      "js_inventory_search": {
        "additionalProperties": false,
        "description": "Paginated JSI inventory search response",
        "properties": {
          "end": {
            "description": "Offset to end at",
            "type": "integer"
          },
          "limit": {
            "description": "Number of results to return",
            "type": "integer"
          },
          "next": {
            "description": "URL for the next page of JSI inventory results",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/js_inventory",
            "description": "JSI inventory records returned by the search"
          },
          "start": {
            "description": "Offset to start from",
            "type": "integer"
          },
          "total": {
            "description": "Number of JSI inventory records matching the search",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "jse_device": {
        "additionalProperties": false,
        "description": "JSE device reported for an organization",
        "properties": {
          "ext_ip": {
            "description": "External IP address for the JSE device, when available",
            "type": "string"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen",
            "description": "Timestamp when the JSE device was last seen"
          },
          "mac": {
            "description": "Device MAC address for the JSE device",
            "type": "string"
          },
          "model": {
            "description": "Device model for the JSE device",
            "type": "string"
          },
          "serial": {
            "description": "Device serial number for the JSE device",
            "type": "string"
          }
        },
        "type": "object"
      },
      "jse_devices": {
        "description": "JSE devices returned for an organization",
        "items": {
          "$ref": "#/components/schemas/jse_device"
        },
        "type": "array"
      },
      "jsi_inventory_count_distinct": {
        "description": "Distinct field used when counting Juniper Support Insight inventory records. enum: `account_id`, `claimed`, `has_support`, `end_of_sale_time`, `eos_time`, `version_time`, `model`, `sku`, `status`, `type`, `version`, `warranty_type`",
        "enum": [
          "account_id",
          "claimed",
          "has_support",
          "end_of_sale_time",
          "eos_time",
          "version_time",
          "model",
          "sku",
          "status",
          "type",
          "version",
          "warranty_type"
        ],
        "type": "string"
      },
      "jsi_pbn_bug_type": {
        "description": "Type of the bug. enum: `Day-1`, `Regression`",
        "enum": [
          "Day-1",
          "Regression"
        ],
        "type": "string"
      },
      "jsi_pbn_item": {
        "additionalProperties": false,
        "description": "PBN (Problem Bug Notification) advisory item",
        "properties": {
          "bug_type": {
            "$ref": "#/components/schemas/jsi_pbn_bug_type"
          },
          "customer_risk": {
            "description": "Customer impact risk level for the PBN advisory",
            "type": "string"
          },
          "fixed_in": {
            "description": "Release in which the issue was fixed",
            "type": "string"
          },
          "id": {
            "description": "Unique PBN advisory identifier from Juniper Support Insights",
            "examples": [
              "1403338"
            ],
            "type": "string"
          },
          "introduced_in": {
            "description": "Release where the PBN issue was introduced",
            "type": "string"
          },
          "models": {
            "description": "Device models affected by the PBN issue",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "product_family": {
            "description": "Product families affected by the PBN issue",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "release_notes": {
            "description": "Release notes for this PBN",
            "type": "string"
          },
          "restoration": {
            "description": "Steps recommended to restore service or recover from the PBN issue",
            "type": "string"
          },
          "title": {
            "description": "Summary title for the PBN issue",
            "type": "string"
          },
          "updated_date": {
            "description": "Time when the PBN advisory was last updated",
            "type": "integer"
          },
          "versions": {
            "description": "Software versions affected by the PBN issue",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "workaround": {
            "description": "Mitigation or workaround guidance for the PBN issue",
            "type": "string"
          },
          "workaround_provided": {
            "description": "Indicator of whether workaround guidance is available",
            "type": "string"
          }
        },
        "type": "object"
      },
      "jsi_pbn_search": {
        "additionalProperties": false,
        "description": "Juniper Security Intelligence PBN search response with result metadata",
        "properties": {
          "end": {
            "description": "Upper bound timestamp for the PBN search window",
            "type": "integer"
          },
          "limit": {
            "description": "Number of results to return",
            "type": "integer"
          },
          "next": {
            "description": "Pagination URL for the next page of PBN advisories",
            "type": "string"
          },
          "results": {
            "description": "List of PBN advisories",
            "items": {
              "$ref": "#/components/schemas/jsi_pbn_item"
            },
            "type": "array"
          },
          "start": {
            "description": "Lower bound timestamp for the PBN search window",
            "type": "integer"
          },
          "total": {
            "description": "Count of PBN advisories matching the search",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "jsi_sirt_item": {
        "additionalProperties": false,
        "description": "Juniper Security Intelligence SIRT advisory item",
        "properties": {
          "cvss_score": {
            "description": "Common Vulnerability Scoring System score for the SIRT advisory",
            "type": "number"
          },
          "id": {
            "description": "Unique SIRT or JSA advisory identifier from Juniper Support Insights",
            "examples": [
              "JSA100053"
            ],
            "type": "string"
          },
          "models": {
            "description": "Device models affected by the SIRT advisory",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "problem": {
            "description": "Issue details described by the SIRT advisory",
            "type": "string"
          },
          "published_date": {
            "description": "Release date of the SIRT issue",
            "type": "integer"
          },
          "release_notes": {
            "description": "Release notes if any",
            "type": "string"
          },
          "severity": {
            "$ref": "#/components/schemas/jsi_sirt_severity"
          },
          "solution": {
            "description": "Recommended fix or remediation for the security issue",
            "type": "string"
          },
          "title": {
            "description": "Summary title for the SIRT advisory",
            "type": "string"
          },
          "updated_date": {
            "description": "Time when the JSA advisory was last updated",
            "type": "integer"
          },
          "versions": {
            "description": "Software versions affected by the SIRT advisory",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "workaround": {
            "description": "Mitigation or workaround guidance for the SIRT advisory",
            "type": "string"
          }
        },
        "type": "object"
      },
      "jsi_sirt_search": {
        "additionalProperties": false,
        "description": "Juniper Security Intelligence SIRT search response with result metadata",
        "properties": {
          "end": {
            "description": "Upper bound timestamp for the SIRT search window",
            "type": "integer"
          },
          "limit": {
            "description": "Number of results to return",
            "type": "integer"
          },
          "next": {
            "description": "Pagination URL for the next page of SIRT advisories",
            "type": "string"
          },
          "results": {
            "description": "List of SIRT advisories",
            "items": {
              "$ref": "#/components/schemas/jsi_sirt_item"
            },
            "type": "array"
          },
          "start": {
            "description": "Lower bound timestamp for the SIRT search window",
            "type": "integer"
          },
          "total": {
            "description": "Count of SIRT advisories matching the search",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "jsi_sirt_severity": {
        "description": "Security severity assigned to the SIRT advisory. enum: `Critical`, `High`, `Low`, `Medium`",
        "enum": [
          "Critical",
          "High",
          "Low",
          "Medium"
        ],
        "type": "string"
      },
      "jsi_warranty_type": {
        "description": "Warranty type label for Juniper Support Insight (JSI) devices. enum: `Standard Hardware Warranty`, `Enhanced Hardware Warranty`, `Dead On Arrival Warranty`, `Limited Lifetime Warranty`, `Software Warranty`, `Limited Lifetime Warranty for WLA`, `Warranty-JCPO EOL (DOA Not Included)`, `MIST Enhanced Hardware Warranty`, `MIST Standard Warranty`, `Determine Lifetime warranty`",
        "enum": [
          "Standard Hardware Warranty",
          "Enhanced Hardware Warranty",
          "Dead On Arrival Warranty",
          "Limited Lifetime Warranty",
          "Software Warranty",
          "Limited Lifetime Warranty for WLA",
          "Warranty-JCPO EOL (DOA Not Included)",
          "MIST Enhanced Hardware Warranty",
          "MIST Standard Warranty",
          "Determine Lifetime warranty"
        ],
        "type": "string"
      },
      "last_seen": {
        "description": "Timestamp indicating when the entity was last seen",
        "examples": [
          1470417522
        ],
        "format": "double",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_detail_string": {
        "additionalProperties": false,
        "description": "Response containing a human-readable detail message",
        "properties": {
          "detail": {
            "description": "Human-readable detail message returned by the API",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_device_config_cmd": {
        "additionalProperties": false,
        "description": "Device configuration command response",
        "properties": {
          "cmd": {
            "description": "Configuration command returned for the device",
            "type": "string"
          }
        },
        "required": [
          "cmd"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "support_contract_status": {
        "description": "Service contract status. enum: `Active`, `Declined`, `EOL`, `Service Available`",
        "enum": [
          "Active",
          "Declined",
          "EOL",
          "Service Available"
        ],
        "type": "string"
      },
      "websocket_session_with_url": {
        "additionalProperties": false,
        "description": "Response containing a WebSocket session handle and connection URL",
        "properties": {
          "session": {
            "description": "Identifier used to correlate output on the WebSocket stream",
            "examples": [
              "19e73828-937f-05e6-f709-e29efdb0a82b"
            ],
            "type": "string"
          },
          "url": {
            "description": "WebSocket URL returned for connecting to this session",
            "examples": [
              "wss://api-ws.mist.com/ssh?jwt=xxxx"
            ],
            "type": "string"
          }
        },
        "required": [
          "session",
          "url"
        ],
        "type": "object"
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "JsiDevices": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JsiDevicesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/jse_devices"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JsiDevicesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/jse_devices"
            }
          }
        },
        "description": "OK"
      },
      "JsiInventory": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JsiInventoryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/js_inventory"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JsiInventoryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/js_inventory"
            }
          }
        },
        "description": "OK"
      },
      "JsiInventoryError": {
        "content": {
          "application/json": {
            "examples": {
              "No Juniper Account Linked": {
                "$ref": "#/components/examples/JsiInventoryErrorNoJuniperAccountLinked"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_detail_string"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "No Juniper Account Linked": {
                "$ref": "#/components/examples/JsiInventoryErrorNoJuniperAccountLinked"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_detail_string"
            }
          }
        },
        "description": "Bad Request - no Juniper Account Linked"
      },
      "JsiInventorySearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JsiInventorySearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/js_inventory_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JsiInventorySearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/js_inventory_search"
            }
          }
        },
        "description": "OK"
      },
      "JsiPbnCount": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "OK"
      },
      "JsiPbnSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JsiPbnSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/jsi_pbn_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JsiPbnSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/jsi_pbn_search"
            }
          }
        },
        "description": "OK"
      },
      "JsiSirtCount": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "OK"
      },
      "JsiSirtSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JsiSirtSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/jsi_sirt_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JsiSirtSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/jsi_sirt_search"
            }
          }
        },
        "description": "OK"
      },
      "JunosRegisterCmd": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JunosRegisterCmdExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_device_config_cmd"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JunosRegisterCmdExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_device_config_cmd"
            }
          }
        },
        "description": "OK"
      },
      "WebsocketSessionWithUrl": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/websocket_session_with_url"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/websocket_session_with_url"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "device_mac": {
        "in": "path",
        "name": "device_mac",
        "required": true,
        "schema": {
          "examples": [
            "0000000000ab"
          ],
          "pattern": "^[0-9a-fA-F]{12}$",
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "page": {
        "description": "Select the page number to return when using page-based pagination; starts at `1`",
        "in": "query",
        "name": "page",
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "JsiDevicesExample": {
        "value": [
          {
            "ext_ip": "73.92.124.103",
            "last_seen": 1654636867,
            "mac": "c15353123096",
            "model": "EX2300-C-12P",
            "serial": "DGCOO0015"
          }
        ]
      },
      "JsiInventoryErrorNoJuniperAccountLinked": {
        "value": {
          "detail": "no juniper account linked"
        }
      },
      "JsiInventoryExample": {
        "value": [
          {
            "device_name": "name1",
            "end_of_sale_time": 1561507200,
            "eos_time": 1672012800,
            "master": true,
            "model": "EX2300-24MP",
            "org_id": "6e843b41-f953-4af9-80e5-e1a70f65754a",
            "serial": "XN3123300095",
            "sku": "EX2300",
            "status": "connected",
            "suggested_version": "Latest 21.4R3-Sx",
            "type": "switch",
            "version": "23.4R2-S4.11",
            "version_eos_time": 1672012800,
            "version_time": 1561507200,
            "warranty": "Enhanced Hardware Warranty",
            "warranty_time": 1672012800,
            "warranty_type": "Enhanced Hardware Warranty"
          }
        ]
      },
      "JsiInventorySearchExample": {
        "value": {
          "end": 1748023308,
          "limit": 1000,
          "results": [
            {
              "availability": "Yes",
              "claimed": true,
              "contract_end_date": "2028-10-01",
              "contract_id": "324343-234",
              "contract_reseller": "Reseller1",
              "contract_sku": "EX2300-24MP-AFO",
              "contract_start_date": "2022-09-01",
              "contract_type": "Maintenance",
              "current_contract_flag": "No Contract",
              "device_name": "name1",
              "distributor": "Dist",
              "end_of_sale_time": 1561507200,
              "end_of_service_time": 1661507200,
              "eol_psn": "TSB18097",
              "eos_time": 1672012800,
              "has_support": true,
              "ia_address": "Address1",
              "ia_country": "United States",
              "ia_region": "Rhode Island",
              "ia_zip_postal": "02865-3749",
              "master": true,
              "model": "EX2300-24MP",
              "org_id": "6e843b41-f953-4af9-80e5-e1a70f65754a",
              "serial": "XN3123300095",
              "service_contract_no": "16036705",
              "service_contract_type": "MS",
              "service_decline_flag": "No",
              "service_eligible": "Yes",
              "ship_date_calc": "2022-08-31",
              "sku": "EX2300",
              "status": "connected",
              "suggested_version": "Latest 21.4R3-Sx",
              "support_contract_status": "Active",
              "type": "switch",
              "version": "23.4R2-S4.11",
              "version_description": "",
              "version_eos_time": 1672012800,
              "version_time": 1561507200,
              "warranty": "Enhanced Hardware Warranty",
              "warranty_end": "2042-11-28",
              "warranty_start": "2022-09-01",
              "warranty_time": 1672012800,
              "warranty_type": "WTY00002"
            }
          ],
          "start": 1748019708,
          "total": 1
        }
      },
      "JsiPbnSearchExample": {
        "value": {
          "end": 1753415677,
          "limit": 1,
          "next": "/api/v1/orgs/bf105f5e-2490-453b-9dc0-81224ca295cf/jsi/pbn/search?end=1753415677&limit=1&search_after=%5B%221403338%22%5D&start=1753412077",
          "results": [
            {
              "bug_type": "Day-1",
              "customer_risk": "Major",
              "id": "1403338",
              "introduced_in": "",
              "models": [
                "MX10008",
                "vMX"
              ],
              "product_family": [
                "EX2200",
                "QFX5210"
              ],
              "release_notes": "In aggregated interfaces and STP (Spanning Tree Protocol) scenario, the STP does not work.",
              "restoration": "",
              "title": "The STP does not work when aggregated interfaces number is \"ae1000\"",
              "versions": [
                "23.4R2-S1.1"
              ],
              "workaround": "Use the 'ae' number from 0 to 999 in QFX5000 and 0 to 479 in other QFXs / EX under STP.",
              "workaround_provided": "yes"
            }
          ],
          "start": 1753412077,
          "total": 604
        }
      },
      "JsiSirtSearchExample": {
        "value": {
          "end": 1753411849,
          "limit": 1,
          "next": "/api/v1/orgs/bf105f5e-2490-453b-9dc0-81224ca295cf/jsi/sirt/search?end=1753411849&limit=1&search_after=%5B%22JSA100053%22%5D&start=1753408249",
          "results": [
            {
              "cvss_score": 6.5,
              "id": "JSA100053",
              "models": [
                "MX10008",
                "vMX"
              ],
              "problem": "An Improper Handling of Length Parameter Inconsistency vulnerability in the routing protocol daemon (rpd).\n",
              "published_date": 1752019200,
              "release_notes": "An Improper Handling of Length Parameter Inconsistency vulnerability in the routing protocol daemon (rpd).",
              "severity": "Medium",
              "solution": "false",
              "title": "Junos OS and Junos OS Evolved: In an EVPN environment, receipt of a specifically malformed BGP update causes RPD crash",
              "updated_date": 1752019200,
              "versions": [
                "23.4R2-S1.1"
              ],
              "workaround": ""
            }
          ],
          "start": 1753408249,
          "total": 14
        }
      },
      "JunosRegisterCmdExample": {
        "value": {
          "cmd": "set system services ssh...\n...\nset system services outbound-ssh client mist ..."
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
