{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Devices",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Devices are any Network device managed or monitored by Juniper Mist. It can be * Wireless Access Points * Juniper Switch (EX, QFX) * Juniper WAN Gateway (SRX, SSR) * Mist Edges * Other or 3rd party devices, like Cradlepoint Devices",
      "name": "Orgs Devices"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/devices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List devices in the organization, including APs, switches and gateways managed or monitored by Mist.",
        "operationId": "listOrgDevices",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgDevices"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgDevices",
        "tags": [
          "Orgs Devices"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/devices/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count organization device records, optionally grouped by `distinct` and filtered by device identifiers, model, LLDP attributes, Mist Edge, tunnel status, device type, and time range.",
        "operationId": "countOrgDevices",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `hostname`, `ip`, `lldp_mgmt_addr`, `lldp_port_id`, `lldp_system_desc`, `lldp_system_name`, `mac`, `model`, `mxedge_id`, `mxtunnel_status`, `site_id`, `version`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_devices_count_distinct"
            }
          },
          {
            "description": "Partial / full hostname",
            "in": "query",
            "name": "hostname",
            "schema": {
              "examples": [
                "my-hostname"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by site identifier",
            "in": "query",
            "name": "site_id",
            "schema": {
              "examples": [
                "7dae216d-7c98-a51b-e068-dd7d477b7216"
              ],
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Filter results by device model. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "model",
            "schema": {
              "examples": [
                "AP45,AP47D",
                "MR84"
              ],
              "type": "string"
            }
          },
          {
            "deprecated": true,
            "description": "for switches and gateways, to filter on managed/unmanaged devices. Deprecated in favour of mist_configured. enum: `true`, `false`",
            "in": "query",
            "name": "managed",
            "schema": {
              "examples": [
                "true"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by MAC address",
            "in": "query",
            "name": "mac",
            "schema": {
              "examples": [
                "5c5b53010101"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by software version",
            "in": "query",
            "name": "version",
            "schema": {
              "examples": [
                "10.0.0"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ip"
          },
          {
            "description": "MxTunnel status, enum: `up`, `down`",
            "in": "query",
            "name": "mxtunnel_status",
            "schema": {
              "$ref": "#/components/schemas/count_org_devices_mxtunnel_status"
            }
          },
          {
            "description": "Mist Edge id, if AP is connecting to a Mist Edge",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "examples": [
                "7dae216d-7c98-a51b-e068-dd7d477b7216"
              ],
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Filter results by LLDP system name",
            "in": "query",
            "name": "lldp_system_name",
            "schema": {
              "examples": [
                "my-lldp-system"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by LLDP system description",
            "in": "query",
            "name": "lldp_system_desc",
            "schema": {
              "examples": [
                "my-lldp-system-description"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by LLDP port identifier",
            "in": "query",
            "name": "lldp_port_id",
            "schema": {
              "examples": [
                "ge-0/0/1"
              ],
              "type": "string"
            }
          },
          {
            "description": "LLDP management IP address",
            "in": "query",
            "name": "lldp_mgmt_addr",
            "schema": {
              "examples": [
                "10.4.2.3"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by type. enum: `ap`, `gateway`, `switch`",
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/device_type_default_ap"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgDevices",
        "tags": [
          "Orgs Devices"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/devices/events/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count device event records across the organization, optionally grouped by `distinct` and filtered by site, AP, firmware, model, event text, event type, and time range.",
        "operationId": "countOrgDeviceEvents",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `ap`, `apfw`, `model`, `org_id`, `site_id`, `status`, `text`, `timestamp`, `type`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_devices_events_count_distinct"
            }
          },
          {
            "description": "Filter results by site identifier",
            "in": "query",
            "name": "site_id",
            "schema": {
              "examples": [
                "7dae216d-7c98-a51b-e068-dd7d477b7216"
              ],
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Filter results by AP MAC address",
            "in": "query",
            "name": "ap",
            "schema": {
              "examples": [
                "5c5b53010101"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by AP firmware version",
            "in": "query",
            "name": "apfw",
            "schema": {
              "examples": [
                "10.0.0"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by device model",
            "in": "query",
            "name": "model",
            "schema": {
              "examples": [
                "AP43"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by event message text",
            "in": "query",
            "name": "text",
            "schema": {
              "examples": [
                "Device connected"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/device_event_type"
          },
          {
            "description": "Keyword to include events from additional indices (e.g. ext_tunnel for ext tunnel events)",
            "in": "query",
            "name": "includes",
            "schema": {
              "examples": [
                "ext_tunnel"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgDeviceEvents",
        "tags": [
          "Orgs Devices"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/devices/events/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search device event records across the organization with filters for MAC address, model, device type, event text, event type, additional event indices, and time range.",
        "operationId": "searchOrgDeviceEvents",
        "parameters": [
          {
            "description": "Filter results by MAC address. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "mac",
            "schema": {
              "examples": [
                "5c5b53010101,5c5b53020202",
                "5c5b53010101"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by device model. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "model",
            "schema": {
              "examples": [
                "EX4100-48MP,AP17",
                "AP43"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by device type. Accepts multiple comma-separated values.",
            "example": "switch,ap",
            "in": "query",
            "name": "device_type",
            "schema": {
              "$ref": "#/components/schemas/device_type_with_all"
            }
          },
          {
            "description": "Filter results by event message text",
            "in": "query",
            "name": "text",
            "schema": {
              "examples": [
                "Device connected"
              ],
              "type": "string"
            }
          },
          {
            "description": "See [List Device Events Definitions](/#operations/listDeviceEventsDefinitions). Accepts multiple comma-separated values.",
            "in": "query",
            "name": "type",
            "schema": {
              "examples": [
                "SW_PORT_DOWN,AP_CONFIGURED"
              ],
              "type": "string"
            }
          },
          {
            "description": "Return last/recent event for passed in field",
            "in": "query",
            "name": "last_by",
            "schema": {
              "examples": [
                "port_id"
              ],
              "type": "string"
            }
          },
          {
            "description": "Keyword to include events from additional indices (e.g. ext_tunnel for ext tunnel events)",
            "in": "query",
            "name": "includes",
            "schema": {
              "examples": [
                "ext_tunnel"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceEventsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgDeviceEvents",
        "tags": [
          "Orgs Devices"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/devices/last_config/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count device config history records across the organization, optionally grouped by `distinct` and filtered by device type and time range.",
        "operationId": "countOrgDeviceLastConfigs",
        "parameters": [
          {
            "description": "Filter results by type. enum: `ap`, `gateway`, `switch`",
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/device_type_default_ap"
            }
          },
          {
            "description": "Field used to group this count response. enum: `mac`, `name`, `site_id`, `version`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_devices_last_configs_count_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgDeviceLastConfigs",
        "tags": [
          "Orgs Devices"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/devices/last_config/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search device config history records across the organization with filters for device type, MAC address, name, software version, certificate-expiry duration, and time range.",
        "operationId": "searchOrgDeviceLastConfigs",
        "parameters": [
          {
            "description": "Filter results by device type. enum: `ap`, `gateway`, `switch`, `mxedge`",
            "in": "query",
            "name": "device_type",
            "schema": {
              "$ref": "#/components/schemas/last_config_device_type"
            }
          },
          {
            "description": "Filter results by MAC address. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "mac",
            "schema": {
              "examples": [
                "5c5b53010101,5c5b53020202",
                "5c5b53010101"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by name. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "name",
            "schema": {
              "examples": [
                "name-a,name-b",
                "My AP"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by software version. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "version",
            "schema": {
              "examples": [
                "apfw-0.15.34615-noro-0a3c,apfw-0.15.34436-noro-d810",
                "10.0.0"
              ],
              "type": "string"
            }
          },
          {
            "description": "Duration for expiring cert queries (format: 2d/3h/172800 seconds)",
            "in": "query",
            "name": "cert_expiry_duration",
            "schema": {
              "examples": [
                "2d"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConfigsHistorySearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgDeviceLastConfigs",
        "tags": [
          "Orgs Devices"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/devices/radio_macs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "For some scenarios like E911 or security systems, the BSSIDs are required to identify which AP the client is connecting to. Then the location of the AP can be used as the approximate location of the client.\n\nEach radio MAC can have up to 16 BSSIDs. These are derived by incrementing the least significant hexadecimal digit (last nibble) of the MAC address from 0 to F, while keeping the remaining bits unchanged.",
        "operationId": "listOrgApsMacs",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RadioMacs"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgApsMacs",
        "tags": [
          "Orgs Devices"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/devices/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search organization devices with filters for AP radio attributes, gateway HA attributes, switch EVPN attributes, LLDP data, MAC address, IP address, model, software version, site, Mist Edge, and time range. Set `stats=true` to include device stats in the response.",
        "operationId": "searchOrgDevices",
        "parameters": [
          {
            "description": "When `type`==`ap`, Channel of band_24. Accepts multiple comma-separated integer values.",
            "in": "query",
            "name": "band_24_channel",
            "schema": {
              "examples": [
                "1,64"
              ],
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Channel of band_5. Accepts multiple comma-separated integer values.",
            "in": "query",
            "name": "band_5_channel",
            "schema": {
              "examples": [
                "153,108"
              ],
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Channel of band_6. Accepts multiple comma-separated integer values.",
            "in": "query",
            "name": "band_6_channel",
            "schema": {
              "examples": [
                "197,221"
              ],
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Bandwidth of band_24. Accepts multiple comma-separated integer values.",
            "in": "query",
            "name": "band_24_bandwidth",
            "schema": {
              "examples": [
                "0,20"
              ],
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Bandwidth of band_5. Accepts multiple comma-separated integer values.",
            "in": "query",
            "name": "band_5_bandwidth",
            "schema": {
              "examples": [
                "20,40"
              ],
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Bandwidth of band_6. Accepts multiple comma-separated integer values.",
            "in": "query",
            "name": "band_6_bandwidth",
            "schema": {
              "examples": [
                "80,40"
              ],
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Power of band_24. Accepts multiple comma-separated integer values.",
            "in": "query",
            "name": "band_24_power",
            "schema": {
              "examples": [
                "0,17"
              ],
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Power of band_5. Accepts multiple comma-separated integer values.",
            "in": "query",
            "name": "band_5_power",
            "schema": {
              "examples": [
                "17,11"
              ],
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Power of band_6. Accepts multiple comma-separated integer values.",
            "in": "query",
            "name": "band_6_power",
            "schema": {
              "examples": [
                "14,12"
              ],
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`gateway`, true / false",
            "in": "query",
            "name": "clustered",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "When `type`==`ap`, Port speed of eth0. Accepts multiple comma-separated integer values.",
            "in": "query",
            "name": "eth0_port_speed",
            "schema": {
              "examples": [
                "100,1000",
                100,
                1000
              ],
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`switch`, EVPN topology id",
            "in": "query",
            "name": "evpntopo_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Partial / full Device external ip. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `1.2.3.*` and `*.2.3.*` match `1.2.3.4`). Suffix-only wildcards (e.g. `*.2.3.4`) are not supported. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "ext_ip",
            "schema": {
              "examples": [
                "1.2.3.4,1.2.3.*",
                "1.2.3.4",
                "1.2.3.*",
                "*2.3.*"
              ],
              "type": "string"
            }
          },
          {
            "description": "Partial / full Device hostname. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `my-london*` and `*london*` match `my-london-1`). Suffix-only wildcards (e.g. `*london-1`) are not supported. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "hostname",
            "schema": {
              "examples": [
                "my-london-1,my-london*",
                "my-london-1",
                "my-london*",
                "*london*"
              ],
              "type": "string"
            }
          },
          {
            "description": "Partial / full Device IP address. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `10.100.10.*` and `*100.10.*` match `10.100.10.54`). Suffix-only wildcards (e.g. `*.54`) are not supported. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "ip",
            "schema": {
              "examples": [
                "10.100.10.54,10.100.10.*",
                "10.100.10.54",
                "10.100.10.*",
                "*100.10.*"
              ],
              "type": "string"
            }
          },
          {
            "description": "When `type`==`switch` or `type`==`gateway`, last configuration status",
            "in": "query",
            "name": "last_config_status",
            "schema": {
              "examples": [
                "success"
              ],
              "type": "string"
            }
          },
          {
            "description": "Last hostname of the device. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "last_hostname",
            "schema": {
              "examples": [
                "ap-01,ap-02"
              ],
              "type": "string"
            }
          },
          {
            "description": "When `type`==`ap`, LLDP management IP address. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "lldp_mgmt_addr",
            "schema": {
              "examples": [
                "192.0.2.10,192.0.2.11"
              ],
              "type": "string"
            }
          },
          {
            "description": "When `type`==`ap`, LLDP port id. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `ge-0/0/*` and `*-0/0/*` match `ge-0/0/30`). Suffix-only wildcards (e.g. `*switch-01`) are not supported. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "lldp_port_id",
            "schema": {
              "examples": [
                "00000000-0000-0000-0000-000000000001,00000000-0000-0000-0000-000000000002"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/partial_filter_lldp_system_desc"
          },
          {
            "description": "When `type`==`ap`, LLDP system name. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `my-switch*` and `*switch*` match `my-switch-01`). Suffix-only wildcards (e.g. `*switch-01`) are not supported. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "lldp_system_name",
            "schema": {
              "examples": [
                "richmond-hill-switch,Phoenix_Switch"
              ],
              "type": "string"
            }
          },
          {
            "description": "Partial / full Device MAC address. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `001122*` and `*1122*` match `001122334455`). Suffix-only wildcards (e.g. `*4455`) are not supported. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "mac",
            "schema": {
              "examples": [
                "aabbccddeeff,aabbcc*",
                "aabbccddeeff",
                "aabbcc*",
                "*bbcc*"
              ],
              "type": "string"
            }
          },
          {
            "description": "Partial / full Device model. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `AP4*` and `*P4*` match `AP43`). Suffix-only wildcards (e.g. `*43`) are not supported. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "model",
            "schema": {
              "examples": [
                "AP43,AP4*",
                "AP43",
                "AP4*",
                "*P4*"
              ],
              "type": "string"
            }
          },
          {
            "description": "When `type`==`ap`, Mist Edge id, if AP is connecting to a Mist Edge. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "examples": [
                "00000000-0000-0000-0000-000000000001,00000000-0000-0000-0000-000000000002"
              ],
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "When `type`==`ap`, Comma separated list of Mist Edge id, if AP is connecting to a Mist Edge",
            "in": "query",
            "name": "mxedge_ids",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When `type`==`ap`, Mist Tunnel status used to filter results. enum: `down`, `up`",
            "in": "query",
            "name": "mxtunnel_status",
            "schema": {
              "$ref": "#/components/schemas/search_org_devices_mxtunnel_status"
            }
          },
          {
            "description": "When `type`==`gateway`. enum: `node0`, `node1`",
            "in": "query",
            "name": "node",
            "schema": {
              "$ref": "#/components/schemas/ha_cluster_node_enum"
            }
          },
          {
            "description": "When `type`==`gateway`, node0 MAC address",
            "in": "query",
            "name": "node0_mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When `type`==`gateway`, node1 MAC address",
            "in": "query",
            "name": "node1_mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When `type`==`ap`, whether the AP is power constrained.",
            "in": "query",
            "name": "power_constrained",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "When `type`==`switch` or `type`==`gateway`, Key-value pairs where the key\nis the RADIUS server address and the value contains authentication statistics:\n  * <server_address> (string): IP address of the RADIUS server as the key\n  * `auth_accepts` (long): Number of accepted authentication requests\n  * `auth_rejects` (long): Number of rejected authentication requests\n  * `auth_timeouts` (long): Number of authentication timeouts\n  * `auth_server_status` (string): Status of the server. Possible values: `up`, `down`, `unreachable`",
            "in": "query",
            "name": "radius_stats",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by site identifier",
            "in": "query",
            "name": "site_id",
            "schema": {
              "examples": [
                "7dae216d-7c98-a51b-e068-dd7d477b7216"
              ],
              "type": "string"
            }
          },
          {
            "description": "Whether to return device stats",
            "in": "query",
            "name": "stats",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "When `type`==`gateway` (SSR only), version of 128T agent",
            "in": "query",
            "name": "t128agent_version",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/device_type"
          },
          {
            "description": "Filter results by software version. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "version",
            "schema": {
              "examples": [
                "0.15.34615,0.14.29967"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DevicesSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgDevices",
        "tags": [
          "Orgs Devices"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/devices/summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Return aggregate organization device counts by device category and assignment state.",
        "operationId": "listOrgDevicesSummary",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgDevicesSummary"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgDevicesSummary",
        "tags": [
          "Orgs Devices"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/ocdevices/outbound_ssh_cmd": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get Org Juniper Devices command\n\nJuniper devices can be managed/adopted by Mist. Currently outbound-ssh + netconf is used.\nA few lines of CLI commands are generated per-Org, allowing the Juniper devices to phone home to Mist.",
        "operationId": "getOrgJuniperDevicesCommand",
        "parameters": [
          {
            "description": "Filter results by site identifier",
            "in": "query",
            "name": "site_id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/JunosRegisterCmd"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgJuniperDevicesCommand",
        "tags": [
          "Orgs Devices"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "ap_radio_mac": {
        "additionalProperties": false,
        "description": "Access point MAC address and its related radio MAC addresses",
        "examples": [
          {
            "mac": "5c5b350001a0",
            "radio_macs": [
              "5c5b350001a0",
              "5c5b350001a1"
            ]
          }
        ],
        "properties": {
          "mac": {
            "description": "Access point MAC address for this radio MAC mapping",
            "examples": [
              "5c5b350001a0"
            ],
            "minLength": 1,
            "type": "string"
          },
          "radio_macs": {
            "$ref": "#/components/schemas/ap_radio_mac_radio_macs",
            "description": "List of radio MAC addresses associated with this access point"
          }
        },
        "required": [
          "mac",
          "radio_macs"
        ],
        "type": "object"
      },
      "ap_radio_mac_radio_macs": {
        "description": "Radio MAC addresses associated with an access point",
        "examples": [
          [
            "5c5b350001a0",
            "5c5b350001a1"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "ap_radio_macs": {
        "description": "Access point radio MAC records supplied in an import payload",
        "items": {
          "$ref": "#/components/schemas/ap_radio_mac"
        },
        "minItems": 1,
        "type": "array",
        "uniqueItems": true
      },
      "ap_search": {
        "additionalProperties": false,
        "description": "Access point record returned by device search endpoints",
        "properties": {
          "band_24_bandwidth": {
            "description": "Current channel bandwidth on the AP 2.4 GHz radio",
            "type": "string"
          },
          "band_24_channel": {
            "description": "Current channel on the AP 2.4 GHz radio",
            "type": "integer"
          },
          "band_24_power": {
            "description": "Current transmit power on the AP 2.4 GHz radio",
            "type": "integer"
          },
          "band_5_bandwidth": {
            "description": "Current channel bandwidth on the AP 5 GHz radio",
            "type": "string"
          },
          "band_5_channel": {
            "description": "Current channel on the AP 5 GHz radio",
            "type": "integer"
          },
          "band_5_power": {
            "description": "Current transmit power on the AP 5 GHz radio",
            "type": "integer"
          },
          "band_6_bandwidth": {
            "description": "Current channel bandwidth on the AP 6 GHz radio",
            "type": "string"
          },
          "band_6_channel": {
            "description": "Current channel on the AP 6 GHz radio",
            "type": "integer"
          },
          "band_6_power": {
            "description": "Current transmit power on the AP 6 GHz radio",
            "type": "integer"
          },
          "eth0_port_speed": {
            "description": "Port speed of eth0",
            "type": "integer"
          },
          "ext_ip": {
            "description": "External IP address observed for AP management traffic",
            "type": "string"
          },
          "hostname": {
            "$ref": "#/components/schemas/ap_search_hostnames",
            "description": "Observed hostnames detected for the AP in search results"
          },
          "inactive_wired_vlans": {
            "$ref": "#/components/schemas/ap_search_inactive_wired_vlans",
            "description": "Inactive wired VLAN IDs reported for this AP"
          },
          "ip": {
            "description": "Management IP address currently assigned to the AP",
            "type": "string"
          },
          "last_hostname": {
            "description": "Most recent hostname detected for the AP",
            "type": "string"
          },
          "lldp_mgmt_addr": {
            "description": "LLDP management IP address advertised by the upstream neighbor",
            "type": "string"
          },
          "lldp_port_desc": {
            "description": "LLDP port description advertised by the upstream neighbor",
            "type": "string"
          },
          "lldp_port_id": {
            "description": "LLDP port identifier advertised by the upstream neighbor",
            "type": "string"
          },
          "lldp_power_allocated": {
            "description": "Power allocated to the AP by LLDP, in mW",
            "type": "integer"
          },
          "lldp_power_draw": {
            "description": "Power drawn by the AP as reported through LLDP, in mW",
            "type": "integer"
          },
          "lldp_system_desc": {
            "description": "LLDP system description advertised by the upstream neighbor",
            "type": "string"
          },
          "lldp_system_name": {
            "description": "LLDP system name advertised by the upstream neighbor",
            "type": "string"
          },
          "mac": {
            "description": "Access point MAC address used to identify the AP in search results",
            "type": "string"
          },
          "model": {
            "description": "AP hardware model for this search result",
            "type": "string"
          },
          "mxedge_id": {
            "description": "Mist Edge id, if AP is connecting to a Mist Edge",
            "type": "string"
          },
          "mxedge_ids": {
            "description": "Comma separated list of Mist Edge ids, if AP is connecting to a Mist Edge",
            "type": "string"
          },
          "mxtunnel_status": {
            "description": "Current MxTunnel connection status of the AP",
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization that owns this AP search result"
          },
          "power_constrained": {
            "description": "Whether the AP is operating with insufficient power",
            "type": "boolean"
          },
          "power_opmode": {
            "description": "Operating mode reported when AP power is constrained",
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site that contains this AP search result"
          },
          "sku": {
            "description": "Hardware SKU for the AP model",
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time associated with this AP search result"
          },
          "uptime": {
            "description": "Device uptime for the AP, in seconds",
            "type": "integer"
          },
          "version": {
            "description": "Software version currently running on the AP",
            "type": "string"
          },
          "wlans": {
            "$ref": "#/components/schemas/ap_search_wlans",
            "description": "Wireless LAN summaries applied to the AP in this search result"
          }
        },
        "required": [
          "power_constrained",
          "power_opmode",
          "mxtunnel_status",
          "wlans"
        ],
        "type": "object"
      },
      "ap_search_hostnames": {
        "description": "List of hostnames detected for the AP",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "ap_search_inactive_wired_vlans": {
        "description": "Inactive wired VLAN IDs reported for an AP",
        "items": {
          "type": "integer"
        },
        "type": "array"
      },
      "ap_search_wlan": {
        "additionalProperties": false,
        "description": "WLAN summary included in an AP search result",
        "properties": {
          "id": {
            "description": "WLAN identifier included in the AP search result",
            "format": "uuid",
            "type": "string"
          },
          "ssid": {
            "description": "Wireless network SSID shown for this WLAN",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ap_search_wlans": {
        "description": "WLAN summaries included in an AP search result",
        "items": {
          "$ref": "#/components/schemas/ap_search_wlan"
        },
        "type": "array"
      },
      "count_org_devices_mxtunnel_status": {
        "description": "Mist Tunnel status value used when counting organization devices. enum: `down`, `up`",
        "enum": [
          "down",
          "up"
        ],
        "type": "string"
      },
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "device_event": {
        "additionalProperties": false,
        "description": "Device event payload returned by search and webhook APIs",
        "properties": {
          "ap": {
            "deprecated": true,
            "description": "Deprecated AP MAC address field; use `mac` instead",
            "type": "string"
          },
          "ap_name": {
            "deprecated": true,
            "description": "Deprecated AP name field; use `device_name` instead",
            "type": "string"
          },
          "apfw": {
            "description": "AP firmware version associated with the device event",
            "type": "string"
          },
          "audit_id": {
            "$ref": "#/components/schemas/id",
            "description": "Audit log identifier associated with the device event"
          },
          "bandwidth": {
            "description": "Channel bandwidth associated with a radio event, in MHz",
            "type": "integer"
          },
          "channel": {
            "description": "RF channel associated with the device event",
            "type": "integer"
          },
          "chassis_mac": {
            "description": "Chassis MAC address associated with the device event",
            "type": "string"
          },
          "count": {
            "description": "Event count reported in the device event payload",
            "type": "integer"
          },
          "device_name": {
            "description": "Name of the device associated with the event",
            "type": "string"
          },
          "device_type": {
            "$ref": "#/components/schemas/device_type",
            "description": "Device type associated with the event"
          },
          "ev_type": {
            "$ref": "#/components/schemas/webhook_device_events_event_ev_type",
            "description": "Advisory severity for the device event"
          },
          "ext_ip": {
            "description": "External IP address reported for the device event",
            "type": "string"
          },
          "job_id": {
            "description": "Job identifier associated with a tunnel provisioning event (present when `includes`==`ext_tunnel`)",
            "format": "uuid",
            "type": "string"
          },
          "mac": {
            "description": "Device MAC address associated with the event",
            "type": "string"
          },
          "model": {
            "description": "Device model associated with the event",
            "type": "string"
          },
          "node": {
            "description": "Cluster node identifier associated with the device event",
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization identifier associated with the device event"
          },
          "port_id": {
            "description": "Port identifier associated with the device event",
            "type": "string"
          },
          "power": {
            "description": "Transmit power associated with a radio event",
            "type": "integer"
          },
          "pre_bandwidth": {
            "description": "Previous channel bandwidth before an RRM change, in MHz",
            "type": "integer"
          },
          "pre_channel": {
            "description": "Previous RF channel before an RRM change",
            "type": "integer"
          },
          "pre_power": {
            "description": "Previous transmit power before an RRM change",
            "type": "integer"
          },
          "pre_usage": {
            "description": "Previous radio usage band before an RRM change",
            "type": "integer"
          },
          "reason": {
            "description": "Optional reason text reported for the device event",
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site identifier associated with the device event"
          },
          "site_name": {
            "description": "Name of the site associated with the event",
            "type": "string"
          },
          "status": {
            "description": "Tunnel provisioning status for ext_tunnel events (e.g. `PROVISION_IN_PROGRESS`)",
            "type": "string"
          },
          "template_id": {
            "description": "Gateway template identifier associated with a tunnel provisioning event (present when `includes`==`ext_tunnel`)",
            "format": "uuid",
            "type": "string"
          },
          "text": {
            "description": "Optional human-readable text for the device event",
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when the device event occurred"
          },
          "tunnel_name": {
            "description": "Tunnel name associated with a tunnel provisioning event (present when `includes`==`ext_tunnel`)",
            "type": "string"
          },
          "type": {
            "description": "Device event type key",
            "type": "string"
          },
          "usage": {
            "description": "Current radio usage band for an RRM event",
            "type": "integer"
          },
          "version": {
            "description": "Firmware or software version associated with the device event",
            "type": "string"
          }
        },
        "required": [
          "org_id",
          "timestamp",
          "type"
        ],
        "type": "object"
      },
      "device_events": {
        "description": "List of device event payloads",
        "items": {
          "$ref": "#/components/schemas/device_event"
        },
        "type": "array",
        "uniqueItems": true
      },
      "device_search_radius_filter_status": {
        "description": "Status of the device search RADIUS filter. enum: `up`, `down`, `unreachable`",
        "enum": [
          "up",
          "down",
          "unreachable"
        ],
        "type": "string"
      },
      "device_search_radius_stat": {
        "additionalProperties": false,
        "description": "RADIUS authentication counters and server status for a device search result",
        "properties": {
          "auth_accepts": {
            "description": "Number of accepted authentication requests",
            "type": "integer"
          },
          "auth_rejects": {
            "description": "Number of rejected authentication requests",
            "type": "integer"
          },
          "auth_server_status": {
            "$ref": "#/components/schemas/device_search_radius_filter_status",
            "description": "RADIUS authentication server status for this server in device search results"
          },
          "auth_timeouts": {
            "description": "Number of authentication timeouts",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "device_search_radius_stats": {
        "additionalProperties": {
          "$ref": "#/components/schemas/device_search_radius_stat"
        },
        "description": "Property key is the RADIUS server IP address",
        "type": "object"
      },
      "device_type": {
        "description": "enum: `ap`, `gateway`, `switch`",
        "enum": [
          "ap",
          "gateway",
          "switch"
        ],
        "type": "string"
      },
      "device_type_default_ap": {
        "default": "ap",
        "description": "enum: `ap`, `gateway`, `switch`",
        "enum": [
          "ap",
          "gateway",
          "switch"
        ],
        "type": "string"
      },
      "device_type_gateway": {
        "description": "Device Type. enum: `gateway`",
        "enum": [
          "gateway"
        ],
        "type": "string"
      },
      "device_type_switch": {
        "description": "Device Type. enum: `switch`",
        "enum": [
          "switch"
        ],
        "type": "string"
      },
      "device_type_with_all": {
        "default": "ap",
        "description": "ap, switch, gateway, router, all, default is ap. Supports comma-separated values for multiple types (e.g., type=switch,gateway)",
        "type": "string"
      },
      "gateway_search": {
        "additionalProperties": false,
        "description": "Gateway record returned by device search endpoints",
        "properties": {
          "clustered": {
            "description": "Whether the gateway is part of a gateway cluster",
            "type": "boolean"
          },
          "evpn_missing_links": {
            "description": "Whether EVPN topology links are missing for this gateway",
            "type": "boolean"
          },
          "evpntopo_id": {
            "description": "EVPN topology ID associated with this gateway",
            "type": "string"
          },
          "ext_ip": {
            "description": "External IP address observed for gateway management traffic",
            "type": "string"
          },
          "hostname": {
            "$ref": "#/components/schemas/strings",
            "description": "Observed hostnames detected for the gateway in search results"
          },
          "ip": {
            "description": "Management IP address currently reported for the gateway",
            "type": "string"
          },
          "last_config_status": {
            "description": "Most recent configuration status reported for the gateway",
            "type": "string"
          },
          "last_hostname": {
            "description": "Most recent hostname detected for the gateway",
            "type": "string"
          },
          "last_trouble_code": {
            "description": "Most recent trouble code reported for the gateway",
            "type": "string"
          },
          "last_trouble_timestamp": {
            "description": "Timestamp when the most recent gateway trouble code was reported",
            "type": "integer"
          },
          "mac": {
            "description": "Gateway MAC address reported in search results",
            "type": "string"
          },
          "managed": {
            "deprecated": true,
            "description": "Whether the gateway is managed by Mist. Deprecated in favor of `mist_configured`",
            "type": "boolean"
          },
          "mist_configured": {
            "description": "Whether the gateway can be configured by Mist. Replaces `managed` for adopted devices and `disable_auto_config` for claimed devices",
            "type": "boolean"
          },
          "model": {
            "description": "Gateway model reported for this search result",
            "type": "string"
          },
          "node": {
            "description": "Gateway cluster node associated with this search result",
            "type": "string"
          },
          "node0_mac": {
            "description": "Cluster node0 MAC address reported for an HA gateway",
            "type": "string"
          },
          "node1_mac": {
            "description": "Cluster node1 MAC address reported for an HA gateway",
            "type": "string"
          },
          "num_members": {
            "description": "Number of members in the gateway cluster",
            "type": "integer"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization that owns this gateway search result"
          },
          "role": {
            "description": "Gateway cluster role reported for this search result",
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site that contains this gateway search result"
          },
          "t128agent_version": {
            "description": "Session Smart Router agent version reported by the gateway",
            "type": "string"
          },
          "time_drifted": {
            "description": "Whether the gateway clock has drifted from the expected time",
            "type": "boolean"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time associated with this gateway search result"
          },
          "type": {
            "$ref": "#/components/schemas/device_type_gateway",
            "description": "Device type for this gateway search result"
          },
          "uptime": {
            "description": "Device uptime for the gateway, in seconds",
            "type": "integer"
          },
          "version": {
            "description": "Software version currently running on the gateway",
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "ha_cluster_node_enum": {
        "description": "HA cluster node selector. enum: `node0`, `node1`",
        "enum": [
          "node0",
          "node1"
        ],
        "type": "string"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "last_config_device_type": {
        "default": "ap",
        "description": "enum: `ap`, `gateway`, `mxedge`, `switch`",
        "enum": [
          "ap",
          "gateway",
          "switch",
          "mxedge"
        ],
        "type": "string"
      },
      "org_device": {
        "additionalProperties": false,
        "description": "Organization device identifier returned by the devices list",
        "properties": {
          "mac": {
            "description": "Organization device MAC address",
            "type": "string"
          },
          "name": {
            "description": "Display name of the organization device",
            "type": "string"
          }
        },
        "required": [
          "mac",
          "name"
        ],
        "type": "object"
      },
      "org_devices": {
        "description": "List of organization device identifiers",
        "items": {
          "$ref": "#/components/schemas/org_device"
        },
        "type": "array",
        "uniqueItems": true
      },
      "org_devices_count_distinct": {
        "default": "model",
        "description": "enum: `hostname`, `ip`, `lldp_mgmt_addr`, `lldp_port_id`, `lldp_system_desc`, `lldp_system_name`, `mac`, `model`, `mxedge_id`, `mxtunnel_status`, `site_id`, `version`",
        "enum": [
          "hostname",
          "ip",
          "lldp_mgmt_addr",
          "lldp_port_id",
          "lldp_system_desc",
          "lldp_system_name",
          "mac",
          "model",
          "mxedge_id",
          "mxtunnel_status",
          "site_id",
          "version"
        ],
        "type": "string"
      },
      "org_devices_events_count_distinct": {
        "default": "model",
        "description": "enum: `ap`, `apfw`, `model`, `org_id`, `site_id`, `text`, `timestamp`, `type`",
        "enum": [
          "ap",
          "apfw",
          "model",
          "org_id",
          "site_id",
          "text",
          "timestamp",
          "type"
        ],
        "type": "string"
      },
      "org_devices_last_configs_count_distinct": {
        "description": "enum: `mac`, `name`, `site_id`, `version`",
        "enum": [
          "mac",
          "name",
          "site_id",
          "version"
        ],
        "type": "string"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_config_history_search": {
        "additionalProperties": false,
        "description": "Paginated device config history search response",
        "properties": {
          "end": {
            "description": "Search window end timestamp for config history, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of config history entries requested",
            "type": "integer"
          },
          "next": {
            "description": "URL for the next page of config history results",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_config_history_search_results",
            "description": "Device config history entries returned for this page"
          },
          "start": {
            "description": "Search window start timestamp for config history, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of config history entries matching the search",
            "type": "integer"
          }
        },
        "required": [
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_config_history_search_item": {
        "additionalProperties": false,
        "description": "Device config history entry",
        "properties": {
          "channel_24": {
            "description": "2.4 GHz channel configured in this history entry",
            "type": "integer"
          },
          "channel_5": {
            "description": "5 GHz channel configured in this history entry",
            "type": "integer"
          },
          "radio_macs": {
            "$ref": "#/components/schemas/strings",
            "description": "Radio MAC addresses included in this config history entry"
          },
          "radios": {
            "$ref": "#/components/schemas/response_config_history_search_item_radios",
            "description": "Radio configuration details included in this history entry"
          },
          "secpolicy_violated": {
            "description": "Whether the device configuration violated a security policy",
            "type": "boolean"
          },
          "ssids": {
            "$ref": "#/components/schemas/strings",
            "description": "WLAN SSIDs included in this config history entry"
          },
          "ssids_24": {
            "$ref": "#/components/schemas/strings",
            "description": "2.4 GHz WLAN SSIDs included in this config history entry"
          },
          "ssids_5": {
            "$ref": "#/components/schemas/strings",
            "description": "5 GHz WLAN SSIDs included in this config history entry"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Epoch timestamp when this config history entry was recorded"
          },
          "version": {
            "description": "Configuration version associated with this history entry",
            "type": "string"
          },
          "wlans": {
            "$ref": "#/components/schemas/response_config_history_search_item_wlans",
            "description": "WLAN configuration details included in this history entry"
          }
        },
        "required": [
          "channel_24",
          "channel_5",
          "secpolicy_violated",
          "timestamp",
          "version"
        ],
        "type": "object"
      },
      "response_config_history_search_item_radio": {
        "additionalProperties": false,
        "description": "Radio config history detail",
        "properties": {
          "band": {
            "description": "Radio band for this config history detail",
            "type": "string"
          },
          "channel": {
            "description": "Configured channel for this radio",
            "type": "integer"
          }
        },
        "required": [
          "band",
          "channel"
        ],
        "type": "object"
      },
      "response_config_history_search_item_radios": {
        "description": "Radio config history details",
        "items": {
          "$ref": "#/components/schemas/response_config_history_search_item_radio"
        },
        "type": "array",
        "uniqueItems": true
      },
      "response_config_history_search_item_wlan": {
        "additionalProperties": false,
        "description": "WLAN config history detail",
        "properties": {
          "auth": {
            "description": "Configured authentication method for this WLAN",
            "type": "string"
          },
          "bands": {
            "$ref": "#/components/schemas/strings",
            "description": "Radio bands where this WLAN was configured"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the WLAN configuration"
          },
          "ssid": {
            "description": "WLAN SSID for this config history detail",
            "type": "string"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/strings",
            "description": "VLAN IDs configured for this WLAN"
          }
        },
        "required": [
          "auth",
          "id",
          "ssid"
        ],
        "type": "object"
      },
      "response_config_history_search_item_wlans": {
        "description": "WLAN config history details",
        "items": {
          "$ref": "#/components/schemas/response_config_history_search_item_wlan"
        },
        "type": "array",
        "uniqueItems": true
      },
      "response_config_history_search_results": {
        "description": "Device config history entries returned by a search response",
        "items": {
          "$ref": "#/components/schemas/response_config_history_search_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_device_config_cmd": {
        "additionalProperties": false,
        "description": "Device configuration command response",
        "properties": {
          "cmd": {
            "description": "Configuration command returned for the device",
            "type": "string"
          }
        },
        "required": [
          "cmd"
        ],
        "type": "object"
      },
      "response_device_events_search": {
        "additionalProperties": false,
        "description": "Paginated response for device or system event search results",
        "properties": {
          "end": {
            "description": "Epoch timestamp for the end of the event search window",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of event records returned in this page",
            "type": "integer"
          },
          "next": {
            "description": "Pagination cursor or URL for retrieving the next page of event records",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/device_events",
            "description": "Device or system event records matching the search filters"
          },
          "start": {
            "description": "Epoch timestamp for the start of the event search window",
            "type": "integer"
          },
          "total": {
            "description": "Number of event records matching the search filters across all pages",
            "type": "integer"
          }
        },
        "required": [
          "results",
          "start",
          "end",
          "limit",
          "total"
        ],
        "type": "object"
      },
      "response_device_search": {
        "additionalProperties": false,
        "description": "Paginated response for organization or site device search results",
        "properties": {
          "end": {
            "description": "Epoch timestamp for the end of the device search window",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of device records returned in this page",
            "type": "integer"
          },
          "next": {
            "description": "Pagination cursor or URL for retrieving the next page of device records",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_device_search_results",
            "description": "AP, switch, or gateway records matching the device search filters"
          },
          "start": {
            "description": "Epoch timestamp for the start of the device search window",
            "type": "integer"
          },
          "total": {
            "description": "Number of device records matching the search filters across all pages",
            "type": "integer"
          }
        },
        "required": [
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_device_search_results": {
        "description": "Device search records for APs, switches, or gateways",
        "items": {
          "$ref": "#/components/schemas/response_device_search_results_items"
        },
        "type": "array",
        "uniqueItems": true
      },
      "response_device_search_results_items": {
        "description": "Device search record for an AP, switch, or gateway",
        "oneOf": [
          {
            "$ref": "#/components/schemas/ap_search"
          },
          {
            "$ref": "#/components/schemas/switch_search"
          },
          {
            "$ref": "#/components/schemas/gateway_search"
          }
        ]
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_org_devices": {
        "additionalProperties": false,
        "description": "Response containing organization device records",
        "properties": {
          "results": {
            "$ref": "#/components/schemas/org_devices",
            "description": "Device records returned by the organization device list operation"
          }
        },
        "required": [
          "results"
        ],
        "type": "object"
      },
      "response_org_devices_summary": {
        "additionalProperties": false,
        "description": "Organization device count summary",
        "properties": {
          "num_aps": {
            "description": "Number of APs in the organization",
            "readOnly": true,
            "type": "integer"
          },
          "num_gateways": {
            "description": "Number of gateways in the organization",
            "readOnly": true,
            "type": "integer"
          },
          "num_mxedges": {
            "description": "Number of Mist Edges in the organization",
            "readOnly": true,
            "type": "integer"
          },
          "num_switches": {
            "description": "Number of switches in the organization",
            "readOnly": true,
            "type": "integer"
          },
          "num_unassigned_aps": {
            "description": "Number of APs in organization inventory that are not assigned to a site",
            "readOnly": true,
            "type": "integer"
          },
          "num_unassigned_gateways": {
            "description": "Number of gateways in organization inventory that are not assigned to a site",
            "readOnly": true,
            "type": "integer"
          },
          "num_unassigned_switches": {
            "description": "Number of switches in organization inventory that are not assigned to a site",
            "readOnly": true,
            "type": "integer"
          }
        },
        "type": "object"
      },
      "search_org_devices_mxtunnel_status": {
        "description": "Mist Tunnel status filter for organization device search. enum: `down`, `up`",
        "enum": [
          "down",
          "up"
        ],
        "type": "string"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "strings": {
        "description": "Unique string values returned or accepted by this schema",
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "switch_search": {
        "additionalProperties": false,
        "description": "Switch record returned by device search endpoints",
        "properties": {
          "clustered": {
            "description": "Whether the switch is part of a virtual chassis or cluster",
            "type": "boolean"
          },
          "evpn_missing_links": {
            "description": "Whether EVPN topology links are missing for this switch",
            "type": "boolean"
          },
          "evpntopo_id": {
            "description": "EVPN topology ID associated with this switch",
            "type": "string"
          },
          "ext_ip": {
            "description": "External IP address observed for switch management traffic",
            "type": "string"
          },
          "hostname": {
            "$ref": "#/components/schemas/strings",
            "description": "Observed hostnames detected for the switch in search results"
          },
          "ip": {
            "description": "Management IP address currently reported for the switch",
            "type": "string"
          },
          "last_config_status": {
            "description": "Most recent configuration status reported for the switch",
            "type": "string"
          },
          "last_hostname": {
            "description": "Most recent hostname detected for the switch",
            "type": "string"
          },
          "last_trouble_code": {
            "description": "Most recent trouble code reported for the switch",
            "type": "string"
          },
          "last_trouble_timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when the most recent switch trouble code was reported"
          },
          "mac": {
            "description": "Switch MAC address reported in search results",
            "type": "string"
          },
          "managed": {
            "deprecated": true,
            "description": "Whether the switch is managed by Mist. Deprecated in favor of `mist_configured`",
            "type": "boolean"
          },
          "mist_configured": {
            "description": "whether the device can be configured by Mist or not. This deprecates `managed` (for adopted device) and `disable_auto_config` for claimed device)",
            "type": "boolean"
          },
          "model": {
            "description": "Switch model reported for this search result",
            "type": "string"
          },
          "num_members": {
            "description": "Number of members in the switch virtual chassis, when applicable",
            "type": "integer"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization that owns this switch search result"
          },
          "radius_stats": {
            "$ref": "#/components/schemas/device_search_radius_stats",
            "description": "RADIUS statistics for this switch keyed by server IP address"
          },
          "role": {
            "description": "Switch role reported for this search result",
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site that contains this switch search result"
          },
          "time_drifted": {
            "description": "Whether the switch clock has drifted from the expected time",
            "type": "boolean"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time associated with this switch search result"
          },
          "type": {
            "$ref": "#/components/schemas/device_type_switch",
            "description": "Device type for this switch search result"
          },
          "uptime": {
            "description": "Device uptime for the switch, in seconds",
            "type": "integer"
          },
          "version": {
            "description": "Software version currently running on the switch",
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "timestamp": {
        "description": "Epoch timestamp, in seconds",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "webhook_device_events_event_ev_type": {
        "description": "(optional) event advisory. enum: `notice`, `warn`",
        "enum": [
          "notice",
          "warn"
        ],
        "type": "string"
      }
    },
    "responses": {
      "ConfigsHistorySearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConfigsHistorySearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_config_history_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ConfigsHistorySearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_config_history_search"
            }
          }
        },
        "description": "OK"
      },
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "DeviceEventsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/DeviceEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_device_events_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/DeviceEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_device_events_search"
            }
          }
        },
        "description": "OK"
      },
      "DevicesSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Ap": {
                "$ref": "#/components/examples/DevicesSearchAp"
              },
              "Gateway": {
                "$ref": "#/components/examples/DevicesSearchGateway"
              },
              "Switch": {
                "$ref": "#/components/examples/DevicesSearchSwitch"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_device_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Ap": {
                "$ref": "#/components/examples/DevicesSearchAp"
              },
              "Gateway": {
                "$ref": "#/components/examples/DevicesSearchGateway"
              },
              "Switch": {
                "$ref": "#/components/examples/DevicesSearchSwitch"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_device_search"
            }
          }
        },
        "description": "OK"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "JunosRegisterCmd": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JunosRegisterCmdExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_device_config_cmd"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/JunosRegisterCmdExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_device_config_cmd"
            }
          }
        },
        "description": "OK"
      },
      "OrgDevices": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgDevicesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_org_devices"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgDevicesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_org_devices"
            }
          }
        },
        "description": "OK"
      },
      "OrgDevicesSummary": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgDevicesSummaryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_org_devices_summary"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgDevicesSummaryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_org_devices_summary"
            }
          }
        },
        "description": "OK"
      },
      "RadioMacs": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/RadioMacsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ap_radio_macs"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/RadioMacsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ap_radio_macs"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "device_event_type": {
        "description": "See [List Device Events Definitions](/#operations/listDeviceEventsDefinitions)",
        "in": "query",
        "name": "type",
        "schema": {
          "type": "string"
        }
      },
      "device_type": {
        "description": "Device type used to filter results. enum: `ap`, `gateway`, `switch`",
        "in": "query",
        "name": "type",
        "schema": {
          "$ref": "#/components/schemas/device_type_default_ap"
        }
      },
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "ip": {
        "description": "Filter results by IPv4 address",
        "in": "query",
        "name": "ip",
        "schema": {
          "examples": [
            "192.168.1.1"
          ],
          "format": "ipv4",
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "page": {
        "description": "Select the page number to return when using page-based pagination; starts at `1`",
        "in": "query",
        "name": "page",
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "partial_filter_lldp_system_desc": {
        "description": "When `type`==`ap`, LLDP system description. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `Juniper Networks*` and `*Networks*` match `Juniper Networks, Inc.`). Suffix-only wildcards (e.g. `*switch-01`) are not supported",
        "in": "query",
        "name": "lldp_system_desc",
        "schema": {
          "type": "string"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "ConfigsHistorySearchExample": {
        "value": {
          "end": 1531862583,
          "limit": 10,
          "results": [
            {
              "channel_24": 11,
              "channel_5": 100,
              "radio_macs": [
                "5c5b352e000a",
                "5c5b352e000b",
                "5c5b352e000c"
              ],
              "radios": [
                {
                  "band": "24",
                  "channel": 11
                },
                {
                  "band": "5",
                  "channel": 100
                }
              ],
              "secpolicy_violated": false,
[...]
