{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Linked Applications",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Linked Application are Third party applications linked to the Mist Organization. \nThis is usually using OAuth2.0 or API integrations for a Cloud-to-Cloud Communication.",
      "name": "Orgs Linked Applications"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/setting/{app_name}/link_accounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "description": "OAuth application name",
          "in": "path",
          "name": "app_name",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/oauth_app_name"
          }
        }
      ],
      "get": {
        "description": "Get Org Level OAuth Application Linked Status",
        "operationId": "getOrgOauthAppLinkedStatus",
        "parameters": [
          {
            "description": "Mist portal url to which backend needs to redirect after successful OAuth authorization. **Required** to get the `authorization_url`",
            "in": "query",
            "name": "forward",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OauthAppLink"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgOauthAppAuthorizationUrl",
        "tags": [
          "Orgs Linked Applications"
        ]
      },
      "post": {
        "description": "Add Jamf, VMware Authorization With Mist Portal",
        "operationId": "addOrgOauthAppAccounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/account_oauth_add"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OauthAppLink"
          },
          "400": {
            "description": "Unsuccessful"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "addOrgOauthAppAccounts",
        "tags": [
          "Orgs Linked Applications"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/setting/{app_name}/link_accounts/{account_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "description": "OAuth application name",
          "in": "path",
          "name": "app_name",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/oauth_app_name"
          }
        },
        {
          "$ref": "#/components/parameters/account_id"
        }
      ],
      "put": {
        "description": "Update Zoom, Teams, Intune Authorization.\n\nRequest Payload, These Field And Values Will Be Specific To Each Of The Third Party Apps Accounts.",
        "operationId": "updateOrgOauthAppAccount",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "account_id": "iojzXIJWEuiD73ZvydOfg",
                    "max_daily_api_requests": 5000
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/account_oauth_config"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgOauthAppAccount",
        "tags": [
          "Orgs Linked Applications"
        ]
      },
      "delete": {
        "description": "Delete Org Level OAuth Application Authorization With Mist Portal",
        "operationId": "deleteOrgOauthAppAuthorization",
        "responses": {
          "200": {
            "description": "Successful"
          },
          "400": {
            "description": "Unsuccessful"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgOauthAppAuthorization",
        "tags": [
          "Orgs Linked Applications"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "account_crowdstrike_config": {
        "additionalProperties": false,
        "description": "OAuth linked CrowdStrike apps account details",
        "properties": {
          "client_id": {
            "description": "Customer account api client ID",
            "type": "string"
          },
          "client_secret": {
            "description": "Customer account api client Secret",
            "type": "string"
          },
          "customer_id": {
            "description": "Customer id of an admin",
            "type": "string"
          }
        },
        "required": [
          "customer_id",
          "client_id",
          "client_secret"
        ],
        "type": "object"
      },
      "account_jamf_config": {
        "additionalProperties": false,
        "description": "OAuth linked Jamf apps account details",
        "properties": {
          "client_id": {
            "description": "Customer account api client id. Required if `app_name`==`crowdstrike`",
            "type": "string"
          },
          "client_secret": {
            "description": "Customer account api client secret",
            "type": "string"
          },
          "instance_url": {
            "description": "Customer account Jamf instance URL",
            "examples": [
              "junipertest.jamfcloud.com"
            ],
            "type": "string"
          },
          "smartgroup_name": {
            "description": "Smart group membership for determining compliance status",
            "examples": [
              "CompliantGroup1"
            ],
            "type": "string"
          }
        },
        "required": [
          "instance_url",
          "client_id",
          "client_secret",
          "smartgroup_name"
        ],
        "type": "object"
      },
      "account_mobicontrol_config": {
        "additionalProperties": false,
        "properties": {
          "client_id": {
            "description": "Customer account Client ID",
            "type": "string"
          },
          "client_secret": {
            "description": "Customer account Client Secret",
            "type": "string"
          },
          "instance_url": {
            "description": "Customer account MobiControl instance URL",
            "type": "string"
          },
          "password": {
            "description": "Customer account password instance URL",
            "type": "string"
          },
          "username": {
            "description": "Customer account username",
            "type": "string"
          }
        },
        "required": [
          "instance_url",
          "client_secret",
          "client_id",
          "username",
          "password"
        ],
        "type": "object"
      },
      "account_oauth_add": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/account_jamf_config"
          },
          {
            "$ref": "#/components/schemas/account_vmware_config"
          },
          {
            "$ref": "#/components/schemas/account_mobicontrol_config"
          },
          {
            "$ref": "#/components/schemas/account_zdx_config"
          },
          {
            "$ref": "#/components/schemas/account_crowdstrike_config"
          },
          {
            "$ref": "#/components/schemas/account_prisma_config"
          },
          {
            "$ref": "#/components/schemas/account_sentinelone_config"
          }
        ]
      },
      "account_oauth_config": {
        "description": "OAuth linked apps (zoom/teams/intune) account details",
        "properties": {
          "account_id": {
            "description": "Linked app(zoom/teams/intune) account id",
            "examples": [
              "iojzXIJWEuiD73ZvydOfg"
            ],
            "type": "string"
          },
          "discard_guest_info": {
            "description": "Optional, for Zoom/Teams. Whether to redact identifying information for call participants that are not part of the Zoom/Teams account identified by `account_id`",
            "type": "boolean"
          },
          "max_daily_api_requests": {
            "description": "Zoom daily api request quota, https://developers.zoom.us/docs/api/rest/rate-limits/",
            "examples": [
              5000
            ],
            "type": "integer"
          }
        },
        "required": [
          "account_id"
        ],
        "type": "object"
      },
      "account_oauth_info": {
        "additionalProperties": false,
        "properties": {
          "accounts": {
            "$ref": "#/components/schemas/account_oauth_info_accounts"
          },
          "authorization_url": {
            "readOnly": true,
            "type": "string"
          },
          "linked": {
            "readOnly": true,
            "type": "boolean"
          }
        },
        "required": [
          "linked",
          "accounts"
        ],
        "type": "object"
      },
      "account_oauth_info_account": {
        "additionalProperties": false,
        "description": "OAuth linked apps account info",
        "properties": {
          "account_id": {
            "description": "Linked app account id",
            "examples": [
              "iojzXIJWEuiD73ZvydOfg"
            ],
            "readOnly": true,
            "type": "string"
          },
          "auto_probe_subnet": {
            "description": "For Prisma accounts only, tunnel auto probe subnet",
            "examples": [
              "11.0.0.0/8"
            ],
            "readOnly": true,
            "type": "string"
          },
          "client_id": {
            "description": "Customer account Client ID",
            "readOnly": true,
            "type": "string"
          },
          "cloud_name": {
            "description": "Name of the company whose account mist has subscribed to",
            "examples": [
              "Tapi.sase.paloaltonetworks.com"
            ],
            "readOnly": true,
            "type": "string"
          },
          "company": {
            "description": "Name of the company whose account mist has subscribed to",
            "examples": [
              "Test Company1 Ltd"
            ],
            "readOnly": true,
            "type": "string"
          },
          "enable_probe": {
            "description": "For Prisma accounts only, tunnel probe enable/disable",
            "examples": [
              false
            ],
            "readOnly": true,
            "type": "boolean"
          },
          "error": {
            "description": "This error is provided when the account fails to fetch token/data",
            "examples": [
              "OAuth token refresh failed, please re-link your account"
            ],
            "readOnly": true,
            "type": "string"
          },
          "errors": {
            "$ref": "#/components/schemas/oauth_account_errors"
          },
          "instance_url": {
            "description": "Customer account instance URL",
            "readOnly": true,
            "type": "string"
          },
          "key_id": {
            "description": "For ZDX Account only, Customer account API key ID",
            "examples": [
              "L72frZcK3JvrZc"
            ],
            "type": "string"
          },
          "last_status": {
            "description": "Is the last data pull for account is successful or not",
            "examples": [
              "failed"
            ],
            "readOnly": true,
            "type": "string"
          },
          "last_sync": {
            "description": "Last data pull timestamp, background jobs that pull account data",
            "examples": [
              1665465339000
            ],
            "readOnly": true,
            "type": "integer"
          },
          "linked_by": {
            "description": "First name of the user who linked the account",
            "examples": [
              "Testname1"
            ],
            "readOnly": true,
            "type": "string"
          },
          "linked_timestamp": {
            "examples": [
              1665465339000
            ],
            "readOnly": true,
            "type": "number"
          },
          "max_daily_api_requests": {
            "description": "Zoom daily api request quota, https://developers.zoom.us/docs/api/rest/rate-limits/",
            "examples": [
              5000
            ],
            "readOnly": true,
            "type": "integer"
          },
          "name": {
            "description": "Name of the company whose account mist has subscribed to",
            "examples": [
              "Test Compay1 Ltd"
            ],
            "readOnly": true,
            "type": "string"
          },
          "password": {
            "description": "Customer account password instance URL",
            "readOnly": true,
            "type": "string"
          },
          "region": {
            "description": "For Prisma accounts only",
            "examples": [
              "americas"
            ],
            "readOnly": true,
            "type": "string"
          },
          "regions": {
            "$ref": "#/components/schemas/account_oauth_info_account_regions"
          },
          "service_account_name": {
            "description": "For Prisma accounts only",
            "examples": [
              "Corp SA"
            ],
            "readOnly": true,
            "type": "string"
          },
          "service_connections": {
            "$ref": "#/components/schemas/account_oauth_info_account_service_connections"
          },
          "smartgroup_name": {
            "description": "Smart group membership for determining compliance status",
            "examples": [
              "CompliantGroup1"
            ],
            "readOnly": true,
            "type": "string"
          },
          "tsg_id": {
            "description": "For Prisma accounts only, Prisma Tenant Service Group id",
            "examples": [
              "189953456"
            ],
            "readOnly": true,
            "type": "string"
          },
          "username": {
            "description": "Customer account username",
            "readOnly": true,
            "type": "string"
          },
          "webhook_auth_type": {
            "description": "For Crowdstrike, JAMF, SentinelOne and VMWare accounts only",
            "examples": [
              "Basic",
              "Bearer"
            ],
            "type": "string"
          },
          "webhook_enabled": {
            "description": "For Crowdstrike, JAMF, SentinelOne and VMWare accounts only",
            "type": "boolean"
          },
          "webhook_password": {
            "description": "For VMWare accounts only",
            "examples": [
              "password_1234"
            ],
            "type": "string"
          },
          "webhook_secret": {
            "description": "For Crowdstrike accounts only",
            "examples": [
              "secret-value"
            ],
            "type": "string"
          },
          "webhook_token": {
            "description": "For JAMF and SentinelOne accounts only",
            "examples": [
              "token-value"
            ],
            "type": "string"
          },
          "webhook_url": {
            "description": "For Crowdstrike, JAMF, SentinelOne and VMWare accounts only",
            "examples": [
              "https://websync.nac-staging.mistsys.com/v1/S_org-8dcbe9005/ae9dee49-69e7-4710-a114-5b827a777738/crowdstrike/edr",
              "https://websync.nac-staging.mistsys.com/v1/S_org-8dcbe9005/ae9dee49-69e7-4710-a114-5b827a777738/jamf/mdm",
              "https://websync.nac-staging.mistsys.com/v1/S_org-8dcbe9005/00fd8b39-cf92-4b43-a2ff-a461b48e7059/sentinelone/edr",
              "https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm"
            ],
            "type": "string"
          },
          "webhook_username": {
            "description": "For VMWare accounts only",
            "examples": [
              "username_1234"
            ],
            "type": "string"
          },
          "zdx_org_id": {
            "description": "For ZDX Account only, ZDX organization id",
            "examples": [
              "123456"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "account_oauth_info_account_region": {
        "additionalProperties": false,
        "properties": {
          "aggregate_region": {
            "description": "Bandwidth Aggregate region for this region",
            "examples": [
              "us-southwest"
            ],
            "type": "string"
          },
          "allocated_bandwidth": {
            "description": "Allocated bandwidth for the region, in Mbps",
            "examples": [
              1000
            ],
            "readOnly": true,
            "type": "integer"
          },
          "name": {
            "description": "Display name for this region",
            "examples": [
              "US West"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "account_oauth_info_account_regions": {
        "additionalProperties": {
          "$ref": "#/components/schemas/account_oauth_info_account_region"
        },
        "description": "For Prisma accounts only, property key is the region name. Regions with allocated bandwidth",
        "type": "object"
      },
      "account_oauth_info_account_service_connection": {
        "additionalProperties": false,
        "properties": {
          "region": {
            "description": "Region of the service connection",
            "examples": [
              "us-southwest"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "account_oauth_info_account_service_connections": {
        "additionalProperties": {
          "$ref": "#/components/schemas/account_oauth_info_account_service_connection"
        },
        "description": "For Prisma accounts only, property key is the service connection name"
      },
      "account_oauth_info_accounts": {
        "description": "List of linked account details",
        "items": {
          "$ref": "#/components/schemas/account_oauth_info_account"
        },
        "type": "array"
      },
      "account_prisma_config": {
        "additionalProperties": false,
        "description": "OAuth linked CrowdStrike apps account details",
        "properties": {
          "auto_probe_subnet": {
            "description": "Required If `enable_probe`==`true`. This field will accept an IPv4 cidr and an IP address will be picked from this range to be used as tunnel probe source ip address and as well as BGP neighbour IP address. The subnet should be big enough for num_devices * num_tunnel * 2",
            "examples": [
              "11.0.0.0/8"
            ],
            "type": "string"
          },
          "client_id": {
            "description": "Customer account api client ID",
            "type": "string"
          },
          "client_secret": {
            "description": "Customer account api client Secret",
            "type": "string"
          },
          "enable_probe": {
            "default": false,
            "description": "To enable/disable tunnel probe",
            "type": "boolean"
          },
          "tsg_id": {
            "description": "Prisma Tenant Service Group id",
            "type": "string"
          }
        },
        "required": [
          "tsg_id",
          "client_id",
          "client_secret"
        ],
        "type": "object"
      },
      "account_sentinelone_config": {
        "additionalProperties": false,
        "description": "OAuth linked CrowdStrike apps account details",
        "properties": {
          "api_token": {
            "description": "Customer account api_token",
            "type": "string"
          },
          "instance_url": {
            "description": "Customer account SentinelOne instance URL",
            "type": "string"
          }
        },
        "required": [
          "instance_url",
          "api_token"
        ],
        "type": "object"
      },
      "account_vmware_config": {
        "additionalProperties": false,
        "properties": {
          "client_id": {
            "description": "Customer account Client ID",
            "type": "string"
          },
          "client_secret": {
            "description": "Customer account Client Secret",
            "type": "string"
          },
          "instance_url": {
            "description": "Customer account VMware instance URL",
            "type": "string"
          },
          "webhook_enabled": {
            "description": "Enables or disables the webhook integration",
            "type": "boolean"
          }
        },
        "required": [
          "instance_url",
          "client_secret",
          "client_id",
          "webhook_enabled"
        ],
        "type": "object"
      },
      "account_zdx_config": {
        "additionalProperties": false,
        "description": "OAuth linked ZDX apps account details",
        "properties": {
          "cloud_name": {
            "default": "zdxcloud.net",
            "description": "ZDX cloud name. Refer https://help.zscaler.com/zdx/getting-started-zdx-api for ZDX cloud name",
            "type": "string"
          },
          "key_id": {
            "description": "Customer account API key ID",
            "examples": [
              "K35vrZcK3JvrZc"
            ],
            "type": "string"
          },
          "key_secret": {
            "description": "Customer account API key Secret",
            "examples": [
              "K35vrZcK3JvrZcjjswpp2eii1oo100"
            ],
            "type": "string"
          },
          "zdx_org_id": {
            "description": "ZDX organization id",
            "examples": [
              "123456"
            ],
            "type": "string"
          }
        },
        "required": [
          "key_id",
          "key_secret",
          "zdx_org_id"
        ],
        "type": "object"
      },
      "oauth_account_errors": {
        "examples": [
          [
            "OAuth token refresh failed, please re-link your account",
            "API daily rate limit reached for your account"
          ]
        ],
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "oauth_app_name": {
        "description": "enum: `crowdstrike`, `intune`, `jamf`, `mobicontrol`, `prisma`, `sentinelone`, `teams`, `vmware`, `zdx`, `zoom`",
        "enum": [
          "crowdstrike",
          "intune",
          "jamf",
          "mobicontrol",
          "prisma",
          "sentinelone",
          "teams",
          "vmware",
          "zdx",
          "zoom"
        ],
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "OauthAppLink": {
        "content": {
          "application/json": {
            "examples": {
              "Crowdstrike": {
                "$ref": "#/components/examples/OauthAppLinkCrowdstrike"
              },
              "Jamf": {
                "$ref": "#/components/examples/OauthAppLinkJamf"
              },
              "Mobicontrol": {
                "$ref": "#/components/examples/OauthAppLinkMobicontrol"
              },
              "Prisma": {
                "$ref": "#/components/examples/OauthAppLinkPrisma"
              },
              "SentinelOne": {
                "$ref": "#/components/examples/OauthAppLinkSentinelOne"
              },
              "Vmware": {
                "$ref": "#/components/examples/OauthAppLinkVmware"
              },
              "ZDX": {
                "$ref": "#/components/examples/OauthAppLinkZDX"
              },
              "Zoom": {
                "$ref": "#/components/examples/OauthAppLinkZoom"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/account_oauth_info"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Crowdstrike": {
                "$ref": "#/components/examples/OauthAppLinkCrowdstrike"
              },
              "Jamf": {
                "$ref": "#/components/examples/OauthAppLinkJamf"
              },
              "Mobicontrol": {
                "$ref": "#/components/examples/OauthAppLinkMobicontrol"
              },
              "Prisma": {
                "$ref": "#/components/examples/OauthAppLinkPrisma"
              },
              "SentinelOne": {
                "$ref": "#/components/examples/OauthAppLinkSentinelOne"
              },
              "Vmware": {
                "$ref": "#/components/examples/OauthAppLinkVmware"
              },
              "ZDX": {
                "$ref": "#/components/examples/OauthAppLinkZDX"
              },
              "Zoom": {
                "$ref": "#/components/examples/OauthAppLinkZoom"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/account_oauth_info"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "account_id": {
        "in": "path",
        "name": "account_id",
        "required": true,
        "schema": {
          "examples": [
            "iojzXIJWEuiD73ZvydOfg"
          ],
          "type": "string"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "OauthAppLinkCrowdstrike": {
        "value": {
          "accounts": [
            {
              "account_id": "ae9dee49-69e7-4710-a114-5b827a777738",
              "last_status": "success",
              "last_sync": 1665465339000,
              "linked_by": "Testname1",
              "linked_timestamp": 1728275689.284758,
              "name": "Test Company1 Ltd"
            },
            {
              "account_id": "845a23bf-bed9-e43c-4c86-6fa474be7ae5",
              "error": "Get token failed, please re-link crowdstrike",
              "last_status": "failed",
              "last_sync": 1234567890123,
              "linked_by": "Testname2",
              "linked_timestamp": 1728275689.284758,
              "name": "Test Company2 Ltd"
            }
          ],
          "linked": true
        }
      },
      "OauthAppLinkJamf": {
        "value": {
          "accounts": [
            {
              "error": "OAuth token refresh failed, please re-link your account",
              "instance_url": "junipertest.jamfcloud.com",
              "last_status": "failed",
              "last_sync": 1665465339000,
              "linked_by": "Testname1",
              "name": "Test Company1 Ltd",
              "smartgroup_name": "CompliantGroup1"
            }
          ],
          "linked": true
        }
      },
      "OauthAppLinkMobicontrol": {
        "value": {
          "accounts": [
            {
              "account_id": "7f80cd00-40b1-49e5-b2cb-9386d89af0d6",
              "client_id": "3e408b13255844149f2830e8609fe8f3",
              "instance_url": "https://a0020372.mobicontrol.cloud",
              "last_status": "success",
              "last_sync": 1665465339000,
              "linked_by": "User1",
              "linked_timestamp": 1702284364,
              "name": "Company1 Ltd."
            },
            {
              "account_id": "80364a28-7ccc-4746-b110-ecf3dfd3a359",
              "client_id": "e81cfb1980454b4bb6109c74136ca528",
              "error": "Get token failed, please re-link MobiControl account",
              "instance_url": "https://a0032314.mobicontrol.cloud",
              "last_status": "failed",
              "last_sync": 1234567890123,
              "linked_by": "User2",
              "linked_timestamp": 1702284364,
              "name": "Company2 Ltd."
            }
          ],
          "linked": true
        }
      },
      "OauthAppLinkPrisma": {
        "value": {
          "accounts": [
            {
              "account_id": "80364a28-7ccc-4746-b110-ecf3dfd3a359",
              "auto_probe_subnet": "11.0.0.0/8",
              "cloud_name": "api.sase.paloaltonetworks.com",
              "enable_probe": true,
              "region": "americas",
              "regions": {
                "us-west-1": {
                  "aggregate_region": "us-southwest",
                  "allocated_bandwidth": 50,
                  "name": "US West"
                }
              },
              "service_account_name": "Corp SA",
              "service_connections": [
                {
                  "MCD_LAB_SC_1": null,
                  "region": "us-west-1"
                }
              ],
              "tsg_id": "189953456"
            }
          ],
          "linked": true
        }
      },
      "OauthAppLinkSentinelOne": {
        "value": {
          "accounts": [
            {
              "account_id": "00fd8b39-cf92-4b43-a2ff-a461b48e7059",
              "instance_url": "usea1-015.sentinelone.net",
              "last_status": "success",
              "last_sync": 1234567891,
              "linked_by": "user1@test.com",
              "linked_timestamp": 1234567891,
              "name": "company1"
            },
            {
              "account_id": "00fd8b39-cf92-4b43-a2ff-a461b48e7060",
              "error": "Get token failed, please re-link SentinelOne account",
              "instance_url": "usea1-017.sentinelone.net",
              "last_status": "failed",
              "last_sync": 1234567800,
              "linked_by": "user2@test.com",
              "linked_timestamp": 1234567891,
              "name": "company2"
            }
          ],
          "linked": true
        }
      },
      "OauthAppLinkVmware": {
        "value": {
          "accounts": [
            {
              "account_id": "f43ea4c4-8a97-4159-9214-112a8c7b8f22",
              "instance_url": "as800.airwatchportals.com",
              "last_status": "success",
              "last_sync": 1665465339000,
              "linked_by": "Testname1",
              "linked_timestamp": 1702284364,
              "name": "Test Company1 Ltd",
              "webhook_auth_type": "Basic",
              "webhook_enabled": true,
              "webhook_password": "password_1234",
              "webhook_url": "https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm",
              "webhook_username": "username_1234"
            },
            {
              "account_id": "m56ea4c4-8a10-4189-9214-113a8c7b8m82",
              "error": "Get token failed, please re-link VMware",
              "instance_url": "as561.airwatchportals.com",
              "last_status": "failed",
              "last_sync": 1234567890123,
              "linked_by": "Testname2",
              "linked_timestamp": 1702284364,
              "name": "Test Company2 Ltd",
              "webhook_auth_type": "Basic",
              "webhook_enabled": true,
              "webhook_password": "password_1234",
              "webhook_url": "https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm",
              "webhook_username": "username_1234"
            }
          ],
          "linked": true
        }
      },
      "OauthAppLinkZDX": {
        "value": {
          "accounts": [
            {
              "account_id": "80364a28-7ccc-4746-b110-ecf3dfd3a359",
              "cloud_name": "zdxcloud.net",
              "key_id": "K35vrZcK3JvrZc",
              "webhook_url": "https://webhook.url/xxx",
              "zdx_org_id": "123456"
            }
          ],
          "linked": true
        }
      },
      "OauthAppLinkZoom": {
        "value": {
          "accounts": [
            {
              "account_id": "KkEM7orQSIWHZNFzwMLuRA",
              "company": "Test Company1 Ltd",
              "last_status": "success",
              "last_sync": 1665465339,
              "linked_by": "Testname1",
              "max_daily_api_requests": 1500
            },
            {
              "account_id": "kojzWgIJQ0ujR73VvydOdg",
              "company": "Test Company2 Ltd",
              "error": "OAuth token refresh failed, please re-link your account",
              "errors": [
                "OAuth token refresh failed, please re-link your account",
                "API daily rate limit reached for your account"
              ],
              "last_status": "failed",
              "last_sync": 1665465346,
              "linked_by": "Testname2",
              "max_daily_api_requests": 5000
            },
            {
              "account_id": "iojzXIJWEuiD73ZvydOfg",
              "company": "Test Company3 Ltd",
              "last_status": "failed",
              "last_sync": 1665465538,
              "linked_by": "Testname3",
              "max_daily_api_requests": 3500
            }
          ],
          "authorization_url": "https://zoom.us/oauth/authorize?response_type=code&client_id=YDyajBmJREjwkyb3TPAbA&redirect_uri=https%3A%2F%2Fapi.local%2Fapi%2Fv1%2Forg%2Fb4e16c72-d50e-4c03-a952-a3217e231e2c%2Foauth2%2Fapp%2Fzoom%2Fcallback&state=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE2NDk3NjE0MDQsImZvcndhcmQiOiJodHRwczovL2NsaWVudGZvcndhcmR1cmwuY29tIn0.RIE4XTU5kpF4nKIy7_enJ0PpOCyTTp6DLm9PZsdncpI",
          "linked": true
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
