{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs UI Settings",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "The Org UI Settings are used to configure the MArvis dashboards",
      "name": "Orgs UI Settings"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/uisettings": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List the Orgs UI settings/databoard",
        "operationId": "listOrgUiSettings",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgUiSettingsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgUiSettings",
        "tags": [
          "Orgs UI Settings"
        ]
      },
      "post": {
        "description": "Create an Org UI settings/databoard",
        "operationId": "createOrgUiSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "description": "AP related stats",
                    "isCustomDataboard": true,
                    "name": "AP Stats",
                    "purpose": "marvisdashboard",
                    "tiles": [
                      {
                        "description": "User typed tile descr",
                        "isAutoTitle": true,
                        "name": "List top 10 APs by bandwidth",
                        "nl_query": "List top 10 APs by bandwidth",
                        "position": {
                          "col": 1,
                          "colSpan": 2,
                          "row": 1,
                          "rowSpan": 1
                        }
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/org_ui_settings"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgUiSettings"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgUiSettings",
        "tags": [
          "Orgs UI Settings"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/uisettings/{uisetting_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/uisetting_id"
        }
      ],
      "get": {
        "description": "Get an Org UI settings/databoard",
        "operationId": "getOrgUiSetting",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgUiSettings"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgUiSetting",
        "tags": [
          "Orgs UI Settings"
        ]
      },
      "post": {
        "description": "Org UI settings/databoard",
        "operationId": "updateOrgUiSetting",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "description": "AP related stats",
                    "isCustomDataboard": true,
                    "name": "AP Stats",
                    "purpose": "marvisdashboard",
                    "tiles": [
                      {
                        "description": "User typed tile descr",
                        "isAutoTitle": true,
                        "name": "List top 10 APs by bandwidth",
                        "nl_query": "List top 10 APs by bandwidth",
                        "position": {
                          "col": 1,
                          "colSpan": 2,
                          "row": 1,
                          "rowSpan": 1
                        }
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/org_ui_settings"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgUiSettings"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgUiSetting",
        "tags": [
          "Orgs UI Settings"
        ]
      },
      "delete": {
        "description": "Delete an Org UI settings",
        "operationId": "deleteOrgUiSetting",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgUiSetting",
        "tags": [
          "Orgs UI Settings"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "org_ui_settings": {
        "properties": {
          "created_time": {
            "$ref": "#/components/schemas/created_time"
          },
          "description": {
            "examples": [
              "This databoard shows AP stats"
            ],
            "type": "string"
          },
          "for_site": {
            "examples": [
              false
            ],
            "readOnly": true,
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "isCustomDataboard": {
            "description": "Whether this is a custom databoard or not",
            "type": "boolean"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time"
          },
          "name": {
            "description": "Name of the databoard",
            "examples": [
              "AP Stats"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "purpose": {
            "$ref": "#/components/schemas/org_ui_settings_purpose"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "tiles": {
            "$ref": "#/components/schemas/org_ui_settings_tiles"
          }
        },
        "type": "object"
      },
      "org_ui_settings_list": {
        "items": {
          "$ref": "#/components/schemas/org_ui_settings"
        },
        "type": "array"
      },
      "org_ui_settings_purpose": {
        "description": "enum: `marvisdashboard`",
        "enum": [
          "marvisdashboard"
        ],
        "type": "string"
      },
      "org_ui_settings_tile": {
        "additionalProperties": false,
        "properties": {
          "description": {
            "description": "Description of the tile",
            "examples": [
              "This tile shows the top 10 APs by bandwidth"
            ],
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "isAutoTitle": {
            "description": "Whether the tile title is auto generated or not",
            "type": "boolean"
          },
          "name": {
            "description": "Name of the tile",
            "examples": [
              "Top 10 APs by Bandwidth"
            ],
            "type": "string"
          },
          "nl_query": {
            "description": "Natural Language query for the tile",
            "examples": [
              "List top 10 APs by bandwidth"
            ],
            "type": "string"
          },
          "position": {
            "$ref": "#/components/schemas/org_ui_settings_tile_position"
          }
        },
        "type": "object"
      },
      "org_ui_settings_tile_position": {
        "additionalProperties": false,
        "properties": {
          "col": {
            "examples": [
              1
            ],
            "type": "integer"
          },
          "colSpan": {
            "examples": [
              5
            ],
            "type": "integer"
          },
          "row": {
            "examples": [
              1
            ],
            "type": "integer"
          },
          "rowSpan": {
            "examples": [
              2
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "org_ui_settings_tiles": {
        "description": "List of tiles in the databoard",
        "items": {
          "$ref": "#/components/schemas/org_ui_settings_tile"
        },
        "type": "array"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_id": {
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "OrgUiSettings": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgUiSettingsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/org_ui_settings"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgUiSettingsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/org_ui_settings"
            }
          }
        },
        "description": "Example response"
      },
      "OrgUiSettingsArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgUiSettingsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/org_ui_settings_list"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgUiSettingsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/org_ui_settings_list"
            }
          }
        },
        "description": "List of Org UI Setting"
      }
    },
    "parameters": {
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "uisetting_id": {
        "in": "path",
        "name": "uisetting_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "OrgUiSettingsArrayExample": {
        "value": [
          {
            "created_time": 1749083436,
            "description": "AP related stats",
            "for_site": false,
            "id": "9a702097-0dd3-48af-909b-2be4ff94d139",
            "isCustomDataboard": true,
            "modified_time": 1749083436,
            "name": "AP Stats",
            "org_id": "2818e386-8dec-2562-9ede-5b8a0fbbdc71",
            "purpose": "marvisdashboard",
            "site_id": "00000000-0000-0000-0000-000000000000",
            "tiles": [
              {
                "description": "User typed tile descr",
                "id": "3eef7c83-3d33-417a-a729-4772d4a1013a",
                "isAutoTitle": true,
                "name": "List top 10 APs by bandwidth",
                "nl_query": "List top 10 APs by bandwidth",
                "position": {
                  "col": 1,
                  "colSpan": 2,
                  "row": 1,
                  "rowSpan": 1
                }
              }
            ]
          }
        ]
      },
      "OrgUiSettingsExample": {
        "value": {
          "created_time": 1749083436,
          "description": "AP related stats",
          "for_site": false,
          "id": "9a702097-0dd3-48af-909b-2be4ff94d139",
          "isCustomDataboard": true,
          "modified_time": 1749083436,
          "name": "AP Stats",
          "org_id": "2818e386-8dec-2562-9ede-5b8a0fbbdc71",
          "purpose": "marvisdashboard",
          "site_id": "00000000-0000-0000-0000-000000000000",
          "tiles": [
            {
              "description": "User typed tile descr",
              "id": "3eef7c83-3d33-417a-a729-4772d4a1013a",
              "isAutoTitle": true,
              "name": "List top 10 APs by bandwidth",
              "nl_query": "List top 10 APs by bandwidth",
              "position": {
                "col": 1,
                "colSpan": 2,
                "row": 1,
                "rowSpan": 1
              }
            }
          ]
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
