{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Stats - Sites",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve statistics about the Organization Sites",
      "name": "Orgs Stats - Sites"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/stats/sites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org Site Stats",
        "operationId": "listOrgSiteStats",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SitesArrayStats"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgSiteStats",
        "tags": [
          "Orgs Stats - Sites"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "lat_lng": {
        "additionalProperties": false,
        "description": "Geographic latitude and longitude coordinate pair",
        "properties": {
          "lat": {
            "description": "Geographic latitude in decimal degrees",
            "examples": [
              37.295833
            ],
            "format": "double",
            "type": "number"
          },
          "lng": {
            "description": "Geographic longitude in decimal degrees",
            "examples": [
              -122.032946
            ],
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "lat",
          "lng"
        ],
        "type": "object"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "msp_id": {
        "description": "Managed service provider identifier",
        "examples": [
          "b9d42c2e-88ee-41f8-b798-f009ce7fe909"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_stats_sitegroup_ids": {
        "description": "Site group identifiers associated with a site statistics record",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "stats_site": {
        "additionalProperties": false,
        "description": "Site metadata and aggregate device/client counts returned by organization site stats endpoints",
        "properties": {
          "address": {
            "description": "Configured physical address for the site",
            "type": "string"
          },
          "alarmtemplate_id": {
            "description": "Alarm template applied to the site, when one overrides the organization-level alarm template",
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "analyticEnabled": {
            "description": "Whether analytics features are enabled for the site",
            "type": "boolean"
          },
          "aptemplate_id": {
            "description": "AP template applied to access points in the site, when configured",
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "country_code": {
            "description": "Two-letter country code used for site configuration generation",
            "type": "string"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Time when the site was created, in epoch seconds"
          },
          "engagementEnabled": {
            "description": "Whether engagement features are enabled for the site",
            "type": "boolean"
          },
          "gatewaytemplate_id": {
            "description": "Gateway template applied to gateways in the site, when configured",
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier for the site"
          },
          "lat": {
            "description": "Geographic latitude coordinate for the site location",
            "type": "number"
          },
          "latlng": {
            "$ref": "#/components/schemas/lat_lng",
            "description": "Latitude and longitude for the site location"
          },
          "lng": {
            "description": "Longitude coordinate for the site location",
            "type": "number"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Time when the site was last modified, in epoch seconds"
          },
          "msp_id": {
            "$ref": "#/components/schemas/msp_id",
            "description": "Managing MSP identifier for the site, when applicable"
          },
          "name": {
            "description": "Display name of the site",
            "type": "string"
          },
          "networktemplate_id": {
            "description": "Network template applied to the site, when configured",
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "description": "Free-form notes configured for the site",
            "type": "string"
          },
          "num_ap": {
            "description": "Number of access points in the site",
            "type": "integer"
          },
          "num_ap_connected": {
            "description": "Number of access points currently connected in the site",
            "type": "integer"
          },
          "num_clients": {
            "description": "Number of clients currently counted in the site",
            "type": "integer"
          },
          "num_devices": {
            "description": "Number of managed devices in the site",
            "type": "integer"
          },
          "num_devices_connected": {
            "description": "Number of managed devices currently connected in the site",
            "type": "integer"
          },
          "num_gateway": {
            "description": "Number of gateways in the site",
            "type": "integer"
          },
          "num_gateway_connected": {
            "description": "Number of gateways currently connected in the site",
            "type": "integer"
          },
          "num_switch": {
            "description": "Number of switches in the site",
            "type": "integer"
          },
          "num_switch_connected": {
            "description": "Number of switches currently connected in the site",
            "type": "integer"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Owning organization identifier for the site"
          },
          "rftemplate_id": {
            "description": "RF template applied to the site, when configured",
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "secpolicy_id": {
            "description": "Security policy applied to the site, when configured",
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "sitegroup_ids": {
            "$ref": "#/components/schemas/site_stats_sitegroup_ids",
            "description": "Site group identifiers for groups that include this site"
          },
          "sitetemplate_id": {
            "description": "Site template applied to the site, when configured",
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "timezone": {
            "description": "IANA time zone name for the site",
            "type": "string"
          },
          "tzoffset": {
            "description": "Time zone offset value derived from the site's timezone",
            "type": "integer"
          }
        },
        "required": [
          "country_code",
          "created_time",
          "id",
          "latlng",
          "modified_time",
          "name",
          "num_ap",
          "num_ap_connected",
          "num_clients",
          "num_devices",
          "num_devices_connected",
          "num_gateway",
          "num_gateway_connected",
          "num_switch",
          "num_switch_connected",
          "org_id",
          "timezone",
          "tzoffset"
        ],
        "type": "object"
      },
      "stats_sites": {
        "description": "Site statistics records returned by a stats response",
        "items": {
          "$ref": "#/components/schemas/stats_site"
        },
        "type": "array"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "SitesArrayStats": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SitesArrayStatsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_sites"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SitesArrayStatsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_sites"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "page": {
        "description": "Select the page number to return when using page-based pagination; starts at `1`",
        "in": "query",
        "name": "page",
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "SitesArrayStatsExample": {
        "value": [
          {
            "address": "1601 S De Anza Blvd, Cupertino, CA 95014, USA",
            "alarmtemplate_id": null,
            "analyticEnabled": true,
            "aptemplate_id": null,
            "country_code": "US",
            "created_time": 1472591606,
            "engagementEnabled": true,
            "gatewaytemplate_id": "e571f2a2-d748-4ad4-bd6c-895467957c21",
            "id": "83bc290a-b76d-47fa-a294-d34e47f30f7f",
            "lat": 37.295553,
            "latlng": {
              "lat": 37.295553,
              "lng": -122.033007
            },
            "lng": -122.033007,
            "modified_time": 1728057857,
            "msp_id": "a9af4951-a1de-4520-b398-c95a58947349",
            "name": "Live-Demo",
            "networktemplate_id": "964cb213-deb2-469d-8c1e-a5f8661c6886",
            "notes": "This site is used for demonstration purposes.",
            "num_ap": 17,
            "num_ap_connected": 14,
            "num_clients": 14,
            "num_devices": 26,
            "num_devices_connected": 22,
            "num_gateway": 1,
            "num_gateway_connected": 1,
            "num_switch": 8,
            "num_switch_connected": 7,
            "org_id": "b9814b40-ac4b-4424-86a8-b787eb68b86a",
            "rftemplate_id": "2c134c07-3c57-46b3-a53b-8aea92ed7234",
            "secpolicy_id": null,
            "sitegroup_ids": [
              "5644a432-eea9-4a2f-a30a-ddaf4dbc79cf",
              "5fc0f305-f626-49db-8869-10b87f201bba",
              "882796ef-190b-405e-98ef-cb487140cf64"
            ],
            "sitetemplate_id": null,
            "timezone": "America/Los_Angeles",
            "tzoffset": 960
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
