{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Sites",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to Create or Get the Organization Sites.\n\n\nUse the [Site Settings](https://www.juniper.net/documentation/us/en/software/mist/api/http/api/sites/setting/overview) to configure or update the Site information.",
      "name": "Orgs Sites"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/sites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List sites in the organization. Site records include location metadata, timezone, site group membership, and template or policy associations.",
        "operationId": "listOrgSites",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SitesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgSites",
        "tags": [
          "Orgs Sites"
        ]
      },
      "post": {
        "description": "Create a site in the organization with location metadata, timezone, site group membership, and optional template or policy associations.",
        "operationId": "createOrgSite",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "address": "1601 S. Deanza Blvd., Cupertino, CA, 95014",
                    "alarmtemplate_id": "684dfc5c-fe77-2290-eb1d-ef3d677fe168",
                    "aptemplate_id": "16bdf952-ade2-4491-80b0-85ce506c760b",
                    "country_code": "US",
                    "gatewaytemplate_id": "6f9b2e75-9b2f-b5ae-81e3-e14c76f1a90f",
                    "latlng": {
                      "lat": 37.295833,
                      "lng": -122.032946
                    },
                    "name": "Mist Office",
                    "networktemplate_id": "12ae9bd2-e0ab-107b-72e8-a7a005565ec2",
                    "notes": "string",
                    "rftemplate_id": "bb8a9017-1e36-5d6c-6f2b-551abe8a76a2",
                    "secpolicy_id": "3bcd0beb-5d0a-4cbd-92c1-14aea91e98ef",
                    "sitegroup_ids": [
                      "497f6eca-6276-4997-bfeb-53cbbbba6f3b"
                    ],
                    "timezone": "America/Los_Angeles"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/site"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Site"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgSite",
        "tags": [
          "Orgs Sites"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/sites/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count organization sites grouped by a distinct site attribute, such as country code, site name, feature flags, or enabled services.",
        "operationId": "countOrgSites",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `analytic_enabled`, `app_waking`, `asset_enabled`, `auto_upgrade_enabled`, `auto_upgrade_version`, `country_code`, `honeypot_enabled`, `id`, `locate_unconnected`, `mesh_enabled`, `name`, `remote_syslog_enabled`, `rogue_enabled`, `rtsa_enabled`, `vna_enabled`, `wifi_enabled`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_sites_count_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgSites",
        "tags": [
          "Orgs Sites"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/sites/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search organization sites with filters for feature flags, country code, identifiers, names, upgrade settings, and other site attributes. Supports pagination and sorting.",
        "operationId": "searchOrgSites",
        "parameters": [
          {
            "description": "If Advanced Analytic feature is enabled. Accepts multiple comma-separated boolean values.",
            "in": "query",
            "name": "analytic_enabled",
            "schema": {
              "examples": [
                "true,false"
              ],
              "type": "boolean"
            }
          },
          {
            "description": "If App Waking feature is enabled",
            "in": "query",
            "name": "app_waking",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "If Asset Tracking is enabled. Accepts multiple comma-separated boolean values.",
            "in": "query",
            "name": "asset_enabled",
            "schema": {
              "examples": [
                "true,false"
              ],
              "type": "boolean"
            }
          },
          {
            "description": "Filter results by whether automatic upgrades are enabled",
            "in": "query",
            "name": "auto_upgrade_enabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filter results by automatic upgrade version. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "auto_upgrade_version",
            "schema": {
              "examples": [
                "custom,stable"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by country code. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "country_code",
            "schema": {
              "examples": [
                "CA,FR"
              ],
              "type": "string"
            }
          },
          {
            "description": "If Honeypot detection is enabled. Accepts multiple comma-separated boolean values.",
            "in": "query",
            "name": "honeypot_enabled",
            "schema": {
              "examples": [
                "true,false"
              ],
              "type": "boolean"
            }
          },
          {
            "description": "Filter results by identifier. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "id",
            "schema": {
              "examples": [
                "00000000-0000-0000-0000-000000000001,00000000-0000-0000-0000-000000000002"
              ],
              "type": "string"
            }
          },
          {
            "description": "If unconnected client are located. Accepts multiple comma-separated boolean values.",
            "in": "query",
            "name": "locate_unconnected",
            "schema": {
              "examples": [
                "true,false"
              ],
              "type": "boolean"
            }
          },
          {
            "description": "If Mesh feature is enabled. Accepts multiple comma-separated boolean values.",
            "in": "query",
            "name": "mesh_enabled",
            "schema": {
              "examples": [
                "true,false"
              ],
              "type": "boolean"
            }
          },
          {
            "description": "Partial / full Site name. Case insensitive. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `my-site*` and `*site*` match `my-site-01`). Suffix-only wildcards (e.g. `*site-01`) are not supported. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "name",
            "schema": {
              "examples": [
                "my-site-01,my-site*",
                "my-site-01",
                "my-site*",
                "*site*"
              ],
              "type": "string"
            }
          },
          {
            "description": "If Rogue detection is enabled. Accepts multiple comma-separated boolean values.",
            "in": "query",
            "name": "rogue_enabled",
            "schema": {
              "examples": [
                "true,false"
              ],
              "type": "boolean"
            }
          },
          {
            "description": "If Remote Syslog is enabled",
            "in": "query",
            "name": "remote_syslog_enabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "If managed mobility feature is enabled. Accepts multiple comma-separated boolean values.",
            "in": "query",
            "name": "rtsa_enabled",
            "schema": {
              "examples": [
                "true,false"
              ],
              "type": "boolean"
            }
          },
          {
            "description": "If Virtual Network Assistant is enabled. Accepts multiple comma-separated boolean values.",
            "in": "query",
            "name": "vna_enabled",
            "schema": {
              "examples": [
                "true,false"
              ],
              "type": "boolean"
            }
          },
          {
            "description": "If Wi-Fi feature is enabled",
            "in": "query",
            "name": "wifi_enabled",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SitesSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgSites",
        "tags": [
          "Orgs Sites"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "lat_lng": {
        "additionalProperties": false,
        "description": "Geographic latitude and longitude coordinate pair",
        "properties": {
          "lat": {
            "description": "Geographic latitude in decimal degrees",
            "examples": [
              37.295833
            ],
            "format": "double",
            "type": "number"
          },
          "lng": {
            "description": "Geographic longitude in decimal degrees",
            "examples": [
              -122.032946
            ],
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "lat",
          "lng"
        ],
        "type": "object"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "org_sites_count_distinct": {
        "default": "id",
        "description": "enum: `analytic_enabled`, `app_waking`, `asset_enabled`, `auto_upgrade_enabled`, `auto_upgrade_version`, `country_code`, `honeypot_enabled`, `id`, `locate_unconnected`, `mesh_enabled`, `name`, `remote_syslog_enabled`, `rogue_enabled`, `rtsa_enabled`, `vna_enabled`, `wifi_enabled`",
        "enum": [
          "analytic_enabled",
          "app_waking",
          "asset_enabled",
          "auto_upgrade_enabled",
          "auto_upgrade_version",
          "country_code",
          "honeypot_enabled",
          "id",
          "locate_unconnected",
          "mesh_enabled",
          "name",
          "remote_syslog_enabled",
          "rogue_enabled",
          "rtsa_enabled",
          "vna_enabled",
          "wifi_enabled"
        ],
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_site_search": {
        "additionalProperties": false,
        "description": "Paginated response for organization site search results",
        "properties": {
          "end": {
            "description": "Epoch timestamp, in seconds, for the end of the site search window",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of site records returned in this page",
            "type": "integer"
          },
          "next": {
            "description": "URL for retrieving the next page of site search results",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_site_search_results",
            "description": "Site records matching the organization search filters"
          },
          "start": {
            "description": "Epoch timestamp, in seconds, for the start of the site search window",
            "type": "integer"
          },
          "total": {
            "description": "Number of site records matching the search filters across all pages",
            "type": "integer"
          }
        },
        "required": [
          "results",
          "start",
          "end",
          "limit",
          "total"
        ],
        "type": "object"
      },
      "response_site_search_item": {
        "additionalProperties": false,
        "description": "Site record returned by organization site search",
        "properties": {
          "auto_upgrade_enabled": {
            "description": "Whether automatic firmware upgrade is enabled for the site",
            "type": "boolean"
          },
          "auto_upgrade_version": {
            "description": "Desired automatic firmware upgrade version track for the site",
            "readOnly": true,
            "type": "string"
          },
          "country_code": {
            "description": "Country code configured for the site, or null if unset",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "honeypot_enabled": {
            "description": "Whether honeypot detection is enabled for the site",
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier for the site search result"
          },
          "name": {
            "description": "Display name of the site",
            "readOnly": true,
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization that owns the site"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site identifier for this search result"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Epoch timestamp, in seconds, for this site search result"
          },
          "timezone": {
            "description": "Time zone configured for the site",
            "readOnly": true,
            "type": "string"
          },
          "vna_enabled": {
            "description": "Whether Virtual Network Assistant is enabled for the site",
            "type": "boolean"
          },
          "wifi_enabled": {
            "description": "Whether Wi-Fi service is enabled for the site",
            "type": "boolean"
          }
        },
        "required": [
          "honeypot_enabled",
          "wifi_enabled",
          "vna_enabled",
          "timezone",
          "timestamp",
          "org_id",
          "site_id",
          "name",
          "id",
          "auto_upgrade_version",
          "auto_upgrade_enabled"
        ],
        "type": "object"
      },
      "response_site_search_results": {
        "description": "Site records returned by organization site search",
        "items": {
          "$ref": "#/components/schemas/response_site_search_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "site": {
        "description": "Site configuration and metadata within an organization",
        "properties": {
          "address": {
            "description": "full address of the site",
            "examples": [
              "1601 S. Deanza Blvd., Cupertino, CA, 95014"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "alarmtemplate_id": {
            "description": "Alarm Template ID, this takes precedence over the Org-level alarmtemplate_id",
            "examples": [
              "684dfc5c-fe77-2290-eb1d-ef3d677fe168"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "aptemplate_id": {
            "description": "AP Template ID, used by APs",
            "examples": [
              "16bdf952-ade2-4491-80b0-85ce506c760b"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "country_code": {
            "description": "Country code for the site (for AP config generation), in two-character",
            "examples": [
              "US"
            ],
            "type": "string"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Timestamp when the site was created, in epoch seconds"
          },
          "gatewaytemplate_id": {
            "description": "Gateway Template ID, used by gateways",
            "examples": [
              "6f9b2e75-9b2f-b5ae-81e3-e14c76f1a90f"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique value identifying the site"
          },
          "latlng": {
            "$ref": "#/components/schemas/lat_lng",
            "description": "Latitude and longitude for the site location"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Timestamp when the site was last modified, in epoch seconds"
          },
          "name": {
            "description": "Display name of the site",
            "examples": [
              "Mist Office"
            ],
            "type": "string"
          },
          "networktemplate_id": {
            "description": "Network Template ID, this takes precedence over Site Settings",
            "examples": [
              "12ae9bd2-e0ab-107b-72e8-a7a005565ec2"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "description": "Optional, any notes about the site",
            "type": [
              "string",
              "null"
            ]
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization identifier associated with the site"
          },
          "rftemplate_id": {
            "description": "RF Template ID, this takes precedence over Site Settings",
            "examples": [
              "bb8a9017-1e36-5d6c-6f2b-551abe8a76a2"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "routertemplate_id": {
            "description": "Router Template ID, used by gateways",
            "examples": [
              "6f9b2e75-9b2f-b5ae-81e3-e14c76f1a90f"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "secpolicy_id": {
            "description": "Security policy identifier applied to this site",
            "examples": [
              "3bcd0beb-5d0a-4cbd-92c1-14aea91e98ef"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "sitegroup_ids": {
            "$ref": "#/components/schemas/site_sitegroup_ids",
            "description": "Site group identifiers for groups that include this site"
          },
          "sitetemplate_id": {
            "description": "Site template identifier applied to this site",
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "timezone": {
            "default": "UTC",
            "description": "IANA time zone name for the site",
            "examples": [
              "America/Los_Angeles"
            ],
            "type": "string"
          },
          "tzoffset": {
            "default": 0,
            "description": "Time zone offset value derived from the site's timezone",
            "type": "integer"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "site_sitegroup_ids": {
        "description": "Site group identifiers for groups this site belongs to",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "sites": {
        "description": "Site records returned by a list response",
        "items": {
          "$ref": "#/components/schemas/site"
        },
        "type": "array"
      },
      "timestamp": {
        "description": "Epoch timestamp, in seconds",
        "format": "double",
        "readOnly": true,
        "type": "number"
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "Site": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SiteExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/site"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SiteExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/site"
            }
          }
        },
        "description": "OK"
      },
      "SitesArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SitesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sites"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SitesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sites"
            }
          }
        },
        "description": "OK"
      },
      "SitesSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SitesSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_site_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SitesSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_site_search"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "page": {
        "description": "Select the page number to return when using page-based pagination; starts at `1`",
        "in": "query",
        "name": "page",
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "SiteExample": {
        "value": {
          "address": "1601 S. Deanza Blvd., Cupertino, CA, 95014",
          "alarmtemplate_id": "684dfc5c-fe77-2290-eb1d-ef3d677fe168",
          "aptemplate_id": "16bdf952-ade2-4491-80b0-85ce506c760b",
          "country_code": "US",
          "created_time": 0,
          "gatewaytemplate_id": "6f9b2e75-9b2f-b5ae-81e3-e14c76f1a90f",
          "id": "497f6eca-6276-5005-bfeb-53cbbbba6f17",
          "latlng": {
            "lat": 37.295833,
            "lng": -122.032946
          },
          "modified_time": 0,
          "name": "Mist Office",
          "networktemplate_id": "12ae9bd2-e0ab-107b-72e8-a7a005565ec2",
          "notes": "string",
          "org_id": "a40f5d1f-d889-42e9-94ea-b9b33585fc6b",
          "rftemplate_id": "bb8a9017-1e36-5d6c-6f2b-551abe8a76a2",
          "secpolicy_id": "3bcd0beb-5d0a-4cbd-92c1-14aea91e98ef",
          "sitegroup_ids": [
            "497f6eca-6276-5006-bfeb-53cbbbba6f18"
          ],
          "timezone": "America/Los_Angeles"
        }
      },
      "SitesArrayExample": {
        "value": [
          {
            "address": "1601 S. Deanza Blvd., Cupertino, CA, 95014",
            "alarmtemplate_id": "684dfc5c-fe77-2290-eb1d-ef3d677fe168",
            "aptemplate_id": "16bdf952-ade2-4491-80b0-85ce506c760b",
            "country_code": "US",
            "created_time": 0,
            "gatewaytemplate_id": "6f9b2e75-9b2f-b5ae-81e3-e14c76f1a90f",
            "id": "497f6eca-6276-5007-bfeb-53cbbbba6f19",
            "latlng": {
              "lat": 37.295833,
              "lng": -122.032946
            },
            "modified_time": 0,
            "name": "Mist Office",
            "networktemplate_id": "12ae9bd2-e0ab-107b-72e8-a7a005565ec2",
            "notes": "string",
            "org_id": "a40f5d1f-d889-42e9-94ea-b9b33585fc6b",
            "rftemplate_id": "bb8a9017-1e36-5d6c-6f2b-551abe8a76a2",
            "secpolicy_id": "3bcd0beb-5d0a-4cbd-92c1-14aea91e98ef",
            "sitegroup_ids": [
              "497f6eca-6276-5008-bfeb-53cbbbba6f1a"
            ],
            "timezone": "America/Los_Angeles"
          }
        ]
      },
      "SitesSearchExample": {
        "value": {
          "end": 0,
          "limit": 0,
          "next": "string",
          "results": [
            {
              "auto_upgrade_enabled": true,
              "auto_upgrade_version": "string",
              "country_code": "string",
              "honeypot_enabled": true,
              "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
              "name": "string",
              "org_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
              "site_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
              "timestamp": 0,
              "timezone": "string",
              "vna_enabled": true,
              "wifi_enabled": true
            }
          ],
          "start": 0,
          "total": 0
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
