{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs IDP Profiles",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "An IDP profile is a set of predefined rules and actions that determine how the Intrusion Detection and Prevention (IDP) system handles network traffic.\n\nIt allows you to selectively enforce attack detection and prevention techniques on your network. The profile includes a set of IDP signatures and rules recommended by Juniper Networks, and each attack type and severity has a specific action associated with it, such as closing the TCP connection, dropping the packet, or sending an alert.\n\nThe IDP profile can be applied to an application policy to monitor and analyze network events for signs of incidents, violations, or threats to security policies.",
      "name": "Orgs IDP Profiles"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/idpprofiles": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get the list of Org IDP Profiles",
        "operationId": "listOrgIdpProfiles",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/IdpProfileArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgIdpProfiles",
        "tags": [
          "Orgs IDP Profiles"
        ]
      },
      "post": {
        "description": "Create Org IDP Profile",
        "operationId": "createOrgIdpProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "base_profile": "strict",
                    "name": "relaxed",
                    "overwrites": [
                      {
                        "action": "alert",
                        "matching": {
                          "attack_name": [
                            "HTTP:INVALID:HDR-FIELD"
                          ],
                          "dst_subnet": [
                            "63.1.2.0/24"
                          ],
                          "severity": [
                            "major"
                          ]
                        }
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/idp_profile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/IdpProfile"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgIdpProfile",
        "tags": [
          "Orgs IDP Profiles"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/idpprofiles/{idpprofile_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/idpprofile_id"
        }
      ],
      "get": {
        "description": "Get Org IDP Profile",
        "operationId": "getOrgIdpProfile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/IdpProfile"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgIdpProfile",
        "tags": [
          "Orgs IDP Profiles"
        ]
      },
      "put": {
        "description": "Update Org IDP Profile",
        "operationId": "updateOrgIdpProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "idpprofile": {
                  "value": {
                    "base_profile": "strict",
                    "name": "relaxed",
                    "overwrites": [
                      {
                        "action": "alert",
                        "matching": {
                          "attack_name": [
                            "HTTP:INVALID:HDR-FIELD"
                          ],
                          "dst_subnet": [
                            "63.1.2.0/24"
                          ],
                          "severity": [
                            "major"
                          ]
                        }
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/idp_profile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/IdpProfile"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgIdpProfile",
        "tags": [
          "Orgs IDP Profiles"
        ]
      },
      "delete": {
        "description": "Delete Org IDP Profile",
        "operationId": "deleteOrgIdpProfile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgIdpProfile",
        "tags": [
          "Orgs IDP Profiles"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "idp_profile": {
        "properties": {
          "base_profile": {
            "$ref": "#/components/schemas/idp_profile_base_profile"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time"
          },
          "name": {
            "examples": [
              "relaxed"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "overwrites": {
            "$ref": "#/components/schemas/idp_profile_overwrites"
          }
        },
        "type": "object"
      },
      "idp_profile_action": {
        "default": "alert",
        "description": "enum:\n  * alert (default)\n  * drop: silently dropping packets\n  * close: notify client/server to close connection",
        "enum": [
          "alert",
          "close",
          "drop"
        ],
        "examples": [
          "alert"
        ],
        "type": "string"
      },
      "idp_profile_base_profile": {
        "description": "enum: `critical`, `standard`, `strict`",
        "enum": [
          "critical",
          "standard",
          "strict"
        ],
        "examples": [
          "strict"
        ],
        "type": "string"
      },
      "idp_profile_matching": {
        "additionalProperties": false,
        "properties": {
          "attack_name": {
            "$ref": "#/components/schemas/idp_profile_matching_attack_name"
          },
          "dst_subnet": {
            "$ref": "#/components/schemas/idp_profile_matching_dst_subnet"
          },
          "severity": {
            "$ref": "#/components/schemas/idp_profile_matching_severity"
          }
        },
        "type": "object"
      },
      "idp_profile_matching_attack_name": {
        "items": {
          "examples": [
            "HTTP:INVALID:HDR-FIELD"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "idp_profile_matching_dst_subnet": {
        "items": {
          "examples": [
            "63.1.2.0/24"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "idp_profile_matching_severity": {
        "items": {
          "$ref": "#/components/schemas/idp_profile_matching_severity_value"
        },
        "type": "array"
      },
      "idp_profile_matching_severity_value": {
        "description": "enum: `critical`, `info`, `major`, `minor`",
        "enum": [
          "critical",
          "info",
          "major",
          "minor"
        ],
        "examples": [
          "major"
        ],
        "type": "string"
      },
      "idp_profile_overwrite": {
        "additionalProperties": false,
        "properties": {
          "action": {
            "$ref": "#/components/schemas/idp_profile_action"
          },
          "matching": {
            "$ref": "#/components/schemas/idp_profile_matching"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "idp_profile_overwrites": {
        "items": {
          "$ref": "#/components/schemas/idp_profile_overwrite"
        },
        "type": "array"
      },
      "idp_profiles": {
        "items": {
          "$ref": "#/components/schemas/idp_profile"
        },
        "type": "array"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "IdpProfile": {
        "content": {
          "application/json": {
            "examples": {
              "Idpprofile": {
                "$ref": "#/components/examples/IdpProfileIdpprofile"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/idp_profile"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Idpprofile": {
                "$ref": "#/components/examples/IdpProfileIdpprofile"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/idp_profile"
            }
          }
        },
        "description": "Example response"
      },
      "IdpProfileArray": {
        "content": {
          "application/json": {
            "examples": {
              "Idpprofiles": {
                "$ref": "#/components/examples/IdpProfileArrayIdpprofiles"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/idp_profiles"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Idpprofiles": {
                "$ref": "#/components/examples/IdpProfileArrayIdpprofiles"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/idp_profiles"
            }
          }
        },
        "description": "Example response"
      },
      "OK": {
        "description": "OK"
      }
    },
    "parameters": {
      "idpprofile_id": {
        "in": "path",
        "name": "idpprofile_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "page": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "IdpProfileArrayIdpprofiles": {
        "value": [
          {
            "base_profile": "strict",
            "created_time": 0,
            "id": "874ca978-d736-4d4b-bc90-a49a29eec133",
            "modified_time": 0,
            "name": "relaxed",
            "overwrites": [
              {
                "action": "alert",
                "matching": {
                  "attack_name": [
                    "HTTP:INVALID:HDR-FIELD"
                  ],
                  "dst_subnet": [
                    "63.1.2.0/24"
                  ],
                  "severity": [
                    "major"
                  ]
                }
              }
            ]
          }
        ]
      },
      "IdpProfileIdpprofile": {
        "value": {
          "base_profile": "strict",
          "created_time": 0,
          "id": "874ca978-d736-4d4b-bc90-a49a29eec133",
          "modified_time": 0,
          "name": "relaxed",
          "overwrites": [
            {
              "action": "alert",
              "matching": {
                "attack_name": [
                  "HTTP:INVALID:HDR-FIELD"
                ],
                "dst_subnet": [
                  "63.1.2.0/24"
                ],
                "severity": [
                  "major"
                ]
              }
            }
          ]
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
