{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Stats",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve statistics about the Mist Org and related items",
      "name": "Orgs Stats"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/stats": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Return an organization statistics summary, including device, inventory, and site counts, connected and disconnected device counts, organization group membership, and SLE summaries.",
        "operationId": "getOrgStats",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgStats"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgStats",
        "tags": [
          "Orgs Stats"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "msp_id": {
        "description": "Managed service provider identifier",
        "examples": [
          "b9d42c2e-88ee-41f8-b798-f009ce7fe909"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_org": {
        "additionalProperties": false,
        "description": "Organization statistics summary returned by the org stats endpoint",
        "properties": {
          "alarmtemplate_id": {
            "description": "Organization-level alarm template identifier used as the default for sites",
            "format": "uuid",
            "type": "string"
          },
          "allow_mist": {
            "description": "Whether Mist support access is allowed for this organization",
            "type": "boolean"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Time when the organization was created, in epoch seconds"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the organization"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Time when the organization was last modified, in epoch seconds"
          },
          "msp_id": {
            "$ref": "#/components/schemas/msp_id",
            "description": "Managed service provider identifier associated with the organization"
          },
          "name": {
            "description": "Display name of the organization",
            "type": "string"
          },
          "num_devices": {
            "description": "Total number of devices in the organization",
            "type": "integer"
          },
          "num_devices_connected": {
            "description": "Number of organization devices currently connected to Mist",
            "type": "integer"
          },
          "num_devices_disconnected": {
            "description": "Number of organization devices currently disconnected from Mist",
            "type": "integer"
          },
          "num_inventory": {
            "description": "Number of devices in the organization's inventory",
            "type": "integer"
          },
          "num_sites": {
            "description": "Number of sites in the organization",
            "type": "integer"
          },
          "orggroup_ids": {
            "$ref": "#/components/schemas/stats_org_orggroup_ids",
            "description": "Organization group identifiers that include this organization"
          },
          "session_expiry": {
            "description": "Admin session lifetime for the organization, in minutes",
            "format": "int64",
            "type": "integer"
          },
          "sle": {
            "$ref": "#/components/schemas/stats_org_sles",
            "description": "Service level expectation summaries for the organization"
          }
        },
        "required": [
          "orggroup_ids",
          "name",
          "id",
          "msp_id",
          "created_time",
          "modified_time",
          "allow_mist",
          "session_expiry",
          "alarmtemplate_id",
          "num_sites",
          "num_devices",
          "num_inventory",
          "num_devices_connected",
          "num_devices_disconnected",
          "sle"
        ],
        "type": "object"
      },
      "stats_org_orggroup_ids": {
        "description": "Organization group identifiers associated with an organization stats record",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "stats_org_sle": {
        "additionalProperties": false,
        "description": "Organization SLE summary for a service path",
        "properties": {
          "path": {
            "description": "SLE path represented by this organization summary",
            "type": "string"
          },
          "user_minutes": {
            "$ref": "#/components/schemas/stats_org_sle_user_minutes",
            "description": "User-minute totals for this SLE path"
          }
        },
        "required": [
          "path"
        ],
        "type": "object"
      },
      "stats_org_sle_user_minutes": {
        "additionalProperties": false,
        "description": "User-minute totals for an organization SLE summary",
        "properties": {
          "ok": {
            "description": "User minutes that met the SLE target",
            "type": "number"
          },
          "total": {
            "description": "Observed total user minutes for the SLE path",
            "type": "number"
          }
        },
        "required": [
          "total",
          "ok"
        ],
        "type": "object"
      },
      "stats_org_sles": {
        "description": "Service level expectation summaries for an organization",
        "items": {
          "$ref": "#/components/schemas/stats_org_sle"
        },
        "type": "array",
        "uniqueItems": true
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OrgStats": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgStatsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_org"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgStatsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_org"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "OrgStatsExample": {
        "value": {
          "alarmtemplate_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "allow_mist": true,
          "created_time": 0,
          "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "modified_time": 0,
          "msp_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "name": "string",
          "num_devices": 0,
          "num_devices_connected": 0,
          "num_devices_disconnected": 0,
          "num_inventory": 0,
          "num_sites": 0,
          "orggroup_ids": [
            "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
          ],
          "session_expiry": 0,
          "sle": [
            {
              "path": "string",
              "user_minutes": {
                "ok": 0,
                "total": 0
              }
            }
          ]
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
