{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Tickets",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Support tickets are a means for users to seek assistance and resolve issues they encounter with a product or service.\nThey allow users to communicate their problems or questions to the Juniper Mist support team, who can then provide guidance, troubleshooting, or solutions.\nSupport tickets typically include information such as the type of issue, relevant details, and any necessary attachments.",
      "name": "Orgs Tickets"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/tickets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Tickets of an Org",
        "operationId": "listOrgTickets",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TicketsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgTickets",
        "tags": [
          "Orgs Tickets"
        ]
      },
      "post": {
        "description": "Create a support ticket",
        "operationId": "createOrgTicket",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "comment": "string",
                    "subject": "string",
                    "type": "question"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/ticket"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ticket"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgTicket",
        "tags": [
          "Orgs Tickets"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/tickets/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Org Tickets",
        "operationId": "countOrgTickets",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `status`, `type`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_tickets_count_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgTickets",
        "tags": [
          "Orgs Tickets"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/tickets/{ticket_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/ticket_id"
        }
      ],
      "get": {
        "description": "Get support ticket details",
        "operationId": "getOrgTicket",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ticket"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgTicket",
        "tags": [
          "Orgs Tickets"
        ]
      },
      "put": {
        "description": "Update support ticket",
        "operationId": "updateOrgTicket",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "comment": "string",
                    "subject": "string",
                    "type": "question"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/ticket"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ticket"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgTicket",
        "tags": [
          "Orgs Tickets"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/tickets/{ticket_id}/attachments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/ticket_id"
        }
      ],
      "post": {
        "description": "Get Org ticket Attachment",
        "operationId": "UploadOrgTicketAttachment",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ticket_upload_attachments_file"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "UploadOrgTicketAttachment",
        "tags": [
          "Orgs Tickets"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/tickets/{ticket_id}/attachments/{attachment_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/ticket_id"
        },
        {
          "$ref": "#/components/parameters/attachment_id"
        }
      ],
      "get": {
        "description": "Get Org ticket Attachment",
        "operationId": "GetOrgTicketAttachment",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TicketAttachment"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "GetOrgTicketAttachment",
        "tags": [
          "Orgs Tickets"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/tickets/{ticket_id}/comments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/ticket_id"
        }
      ],
      "post": {
        "description": "Add Comment to support ticket",
        "operationId": "addOrgTicketComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ticket_comment"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ticket_comment_import_file"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ticket"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "addOrgTicketComment",
        "tags": [
          "Orgs Tickets"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "org_tickets_count_distinct": {
        "default": "status",
        "description": "Distinct field used when counting organization tickets. enum: `status`, `type`",
        "enum": [
          "status",
          "type"
        ],
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "ticket": {
        "description": "Support ticket record with status, comments, and metadata",
        "properties": {
          "case_number": {
            "description": "Support case number associated with this ticket",
            "readOnly": true,
            "type": "string"
          },
          "comments": {
            "$ref": "#/components/schemas/ticket_comments",
            "description": "Discussion comments recorded on this support ticket"
          },
          "created_at": {
            "description": "Time when this support ticket was created, in epoch seconds",
            "readOnly": true,
            "type": "integer"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier for this support ticket"
          },
          "requester": {
            "description": "User who opened or requested this support ticket",
            "readOnly": true,
            "type": "string"
          },
          "requester_email": {
            "description": "Email of the requester",
            "format": "email",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ticket_status",
            "description": "Current lifecycle status of this support ticket"
          },
          "subject": {
            "description": "Short summary of the support request",
            "type": "string"
          },
          "type": {
            "description": "Question (default) / bug / critical",
            "type": "string"
          },
          "updated_at": {
            "description": "Time when this support ticket was last updated, in epoch seconds",
            "readOnly": true,
            "type": "integer"
          }
        },
        "required": [
          "subject",
          "type"
        ],
        "type": "object"
      },
      "ticket_attachment": {
        "additionalProperties": false,
        "description": "Download information for a support ticket attachment",
        "properties": {
          "content_url": {
            "description": "Download URL for the support ticket attachment",
            "examples": [
              "https://api.mist.com/api/v1/forward/download?jwt=..."
            ],
            "format": "url",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ticket_comment": {
        "description": "Comment on a support ticket",
        "properties": {
          "attachment_ids": {
            "$ref": "#/components/schemas/ticket_comments_attachment_ids",
            "description": "Identifiers of attachments linked to this ticket comment"
          },
          "attachments": {
            "$ref": "#/components/schemas/ticket_comments_attachments",
            "description": "Attachment metadata returned with this ticket comment"
          },
          "author": {
            "description": "User who wrote this ticket comment",
            "readOnly": true,
            "type": "string"
          },
          "comment": {
            "description": "Text body of this ticket comment",
            "type": "string"
          },
          "created_at": {
            "description": "Time when this ticket comment was created, in epoch seconds",
            "readOnly": true,
            "type": "integer"
          }
        },
        "required": [
          "author",
          "comment",
          "created_at"
        ],
        "type": "object"
      },
      "ticket_comment_import_file": {
        "additionalProperties": false,
        "description": "Multipart payload for adding a ticket comment with an attachment",
        "properties": {
          "comment": {
            "description": "Text body for the ticket comment submitted with the uploaded file",
            "examples": [
              "this is urgent"
            ],
            "type": "string"
          },
          "file": {
            "contentMediaType": "application/octet-stream",
            "description": "Binary file payload to attach to the ticket comment",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ticket_comments": {
        "description": "List of comments on a support ticket",
        "items": {
          "$ref": "#/components/schemas/ticket_comment"
        },
        "type": "array"
      },
      "ticket_comments_attachment": {
        "additionalProperties": false,
        "description": "Metadata for an attachment on a ticket comment",
        "properties": {
          "content_type": {
            "description": "MIME type of the ticket comment attachment",
            "examples": [
              "image/png"
            ],
            "type": "string"
          },
          "content_url": {
            "description": "Download URL for the ticket comment attachment",
            "examples": [
              "https://api.mist.com/api/v1/forward/download?jwt=..."
            ],
            "format": "url",
            "type": "string"
          },
          "created_at": {
            "description": "Time when this ticket comment attachment was created, in epoch seconds",
            "examples": [
              1453908369
            ],
            "type": "integer"
          },
          "file_name": {
            "description": "Original file name of the ticket comment attachment",
            "examples": [
              "crash.png"
            ],
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier for this ticket comment attachment"
          },
          "size_in_bytes": {
            "description": "Attachment file size, in bytes",
            "examples": [
              1943
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ticket_comments_attachment_id": {
        "description": "Unique identifier for a ticket comment attachment",
        "examples": [
          "00000000-0000-0000-0000-15231a659c13"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "ticket_comments_attachment_ids": {
        "description": "List of ticket comment attachment identifiers",
        "examples": [
          [
            "00000000-0000-0000-0000-15231a659c78"
          ]
        ],
        "items": {
          "$ref": "#/components/schemas/ticket_comments_attachment_id"
        },
        "readOnly": true,
        "type": "array"
      },
      "ticket_comments_attachments": {
        "description": "List of attachment metadata objects for a ticket comment",
        "items": {
          "$ref": "#/components/schemas/ticket_comments_attachment"
        },
        "readOnly": true,
        "type": "array"
      },
      "ticket_status": {
        "description": "Ticket status. enum: `closed`, `open`, `pending`, `solved`. `open` means Mist is working on it, `pending` means requester attention is needed, `solved` means Mist considers it resolved but it can still be updated or rated, and `closed` means it is archived",
        "enum": [
          "closed",
          "open",
          "pending",
          "solved"
        ],
        "type": "string"
      },
      "ticket_upload_attachments_file": {
        "additionalProperties": false,
        "description": "Multipart upload payload containing a ticket attachment file",
        "properties": {
          "file": {
            "contentMediaType": "application/octet-stream",
            "description": "Ekahau or ibwave file",
            "type": "string"
          }
        },
        "type": "object"
      },
      "tickets": {
        "description": "Support ticket records returned by a ticket list response",
        "items": {
          "$ref": "#/components/schemas/ticket"
        },
        "type": "array"
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "Ticket": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TicketExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ticket"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TicketExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ticket"
            }
          }
        },
        "description": "OK"
      },
      "TicketAttachment": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TicketAttachmentExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ticket_attachment"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TicketAttachmentExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ticket_attachment"
            }
          }
        },
        "description": "OK"
      },
      "TicketsArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TicketsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/tickets"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TicketsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/tickets"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "attachment_id": {
        "in": "path",
        "name": "attachment_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      },
      "ticket_id": {
        "in": "path",
        "name": "ticket_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "TicketAttachmentExample": {
        "value": {
          "content_url": "https://api.mist.com/api/v1/forward/download?jwt=..."
        }
      },
      "TicketExample": {
        "value": {
          "comments": [
            {
              "attachments": [
                {
                  "content_type": "string",
                  "content_url": "string"
                }
              ],
              "author": "string",
              "comment": "string",
              "created_at": 0
            }
          ],
          "created_at": 0,
          "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "requester": "string",
          "status": "open",
          "subject": "string",
          "type": "string",
          "updated_at": 0
        }
      },
      "TicketsArrayExample": {
        "value": [
          {
            "comments": [
              {
                "attachments": [
                  {
                    "content_type": "string",
                    "content_url": "string"
                  }
                ],
                "author": "string",
                "comment": "string",
                "created_at": 0
              }
            ],
            "created_at": 0,
            "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "requester": "string",
            "status": "open",
            "subject": "string",
            "type": "string",
            "updated_at": 0
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
