{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Stats - Marvis Clients",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve statistics about Marvis Clients at the Org level",
      "name": "Orgs Stats - Marvis Clients"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/stats/marvisclients/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count Marvis Client stats records by a distinct field.",
        "operationId": "countOrgMarvisClientsStats",
        "parameters": [
          {
            "description": "Field to count by. enum: `device_id`, `wifi_mac`, `wifi_ip`, `hostname`, `model`, `mfg`, `serial`, `os_type`, `os_version`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "default": "os_type",
              "type": "string"
            }
          },
          {
            "description": "Filter by Marvis Client installation device UUID",
            "in": "query",
            "name": "device_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device Wi-Fi MAC address",
            "in": "query",
            "name": "wifi_mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device Wi-Fi IP address",
            "in": "query",
            "name": "wifi_ip",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device hostname",
            "in": "query",
            "name": "hostname",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device model",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device manufacturer",
            "in": "query",
            "name": "mfg",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device serial number",
            "in": "query",
            "name": "serial",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device OS type or platform",
            "in": "query",
            "name": "os_type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device OS version",
            "in": "query",
            "name": "os_version",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatsMarvisClientsCount"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgMarvisClientsStats",
        "tags": [
          "Orgs Stats - Marvis Clients"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/stats/marvisclients/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search Marvis Client stats records across the organization.",
        "operationId": "searchOrgMarvisClientsStats",
        "parameters": [
          {
            "description": "Filter by Marvis Client installation device UUID",
            "in": "query",
            "name": "device_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device Wi-Fi MAC address",
            "in": "query",
            "name": "wifi_mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device Wi-Fi IP address",
            "in": "query",
            "name": "wifi_ip",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device hostname",
            "in": "query",
            "name": "hostname",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device model",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device manufacturer",
            "in": "query",
            "name": "mfg",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device serial number",
            "in": "query",
            "name": "serial",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device OS type or platform",
            "in": "query",
            "name": "os_type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by device OS version",
            "in": "query",
            "name": "os_version",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/StatsMarvisClientsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgMarvisClientsStats",
        "tags": [
          "Orgs Stats - Marvis Clients"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_marvis_client": {
        "additionalProperties": false,
        "description": "Marvis Client stats record returned by search",
        "properties": {
          "battery_charging": {
            "description": "Whether the device battery is currently charging",
            "type": "boolean"
          },
          "battery_level": {
            "description": "Battery level percentage (0–100)",
            "type": "integer"
          },
          "cpu_background": {
            "description": "Background CPU utilization (0–100)",
            "type": "number"
          },
          "cpu_idle": {
            "description": "Idle CPU percentage (0–100)",
            "type": "number"
          },
          "cpu_system": {
            "description": "System CPU utilization (0–100)",
            "type": "number"
          },
          "cpu_user": {
            "description": "User-space CPU utilization (0–100)",
            "type": "number"
          },
          "device_id": {
            "description": "UUID of the device the Marvis Client is installed on",
            "format": "uuid",
            "type": "string"
          },
          "hostname": {
            "description": "Device hostname",
            "type": "string"
          },
          "location": {
            "$ref": "#/components/schemas/stats_marvis_client_location",
            "description": "Last known device location"
          },
          "memory_total": {
            "description": "Total device memory, in bytes",
            "type": "integer"
          },
          "memory_usage": {
            "description": "Memory in use, in bytes",
            "type": "integer"
          },
          "mfg": {
            "description": "Device manufacturer",
            "type": "string"
          },
          "model": {
            "description": "Device model name",
            "type": "string"
          },
          "org_id": {
            "description": "Organization UUID",
            "format": "uuid",
            "type": "string"
          },
          "os_type": {
            "description": "OS type or platform (e.g. Android, iOS)",
            "type": "string"
          },
          "os_version": {
            "description": "OS version string",
            "type": "string"
          },
          "serial": {
            "description": "Device serial number",
            "type": "string"
          },
          "storage_total": {
            "description": "Total device storage, in bytes",
            "type": "integer"
          },
          "storage_usage": {
            "description": "Storage in use, in bytes",
            "type": "integer"
          },
          "timestamp": {
            "description": "Timestamp of the stats record, in epoch seconds",
            "type": "integer"
          },
          "wifi_band": {
            "description": "Wi-Fi band the device is connected on",
            "type": "string"
          },
          "wifi_bssid": {
            "description": "BSSID the device is connected to",
            "type": "string"
          },
          "wifi_channel": {
            "description": "Wi-Fi channel the device is on",
            "type": "integer"
          },
          "wifi_ip": {
            "description": "Device Wi-Fi IP address",
            "type": "string"
          },
          "wifi_mac": {
            "description": "Device Wi-Fi MAC address",
            "type": "string"
          },
          "wifi_rssi": {
            "description": "Wi-Fi RSSI, in dBm",
            "type": "integer"
          },
          "wifi_ssid": {
            "description": "SSID the device is connected to",
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_marvis_client_location": {
        "additionalProperties": false,
        "description": "Last known location fix for a Marvis Client device",
        "properties": {
          "map_id": {
            "description": "UUID of the floor-plan map",
            "format": "uuid",
            "type": "string"
          },
          "site_id": {
            "description": "UUID of the site the device was located in",
            "format": "uuid",
            "type": "string"
          },
          "timestamp": {
            "description": "Timestamp of the location fix, in epoch seconds",
            "type": "integer"
          },
          "x": {
            "description": "X coordinate on the floor-plan map, in pixels",
            "type": "number"
          },
          "y": {
            "description": "Y coordinate on the floor-plan map, in pixels",
            "type": "number"
          }
        },
        "type": "object"
      },
      "stats_marvis_clients_search": {
        "additionalProperties": false,
        "description": "Paginated list of Marvis Client stats records",
        "properties": {
          "limit": {
            "description": "Maximum number of results requested",
            "type": "integer"
          },
          "results": {
            "description": "List of Marvis Client stats records",
            "items": {
              "$ref": "#/components/schemas/stats_marvis_client"
            },
            "type": "array"
          },
          "total": {
            "description": "Total number of matching results",
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "StatsMarvisClientsCount": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Count result"
      },
      "StatsMarvisClientsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/StatsMarvisClientsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_marvis_clients_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/StatsMarvisClientsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_marvis_clients_search"
            }
          }
        },
        "description": "Paginated Marvis Client stats search results"
      }
    },
    "parameters": {
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "StatsMarvisClientsSearchExample": {
        "value": {
          "limit": 100,
          "results": [
            {
              "battery_charging": false,
              "battery_level": 82,
              "cpu_background": 2.1,
              "cpu_idle": 78.3,
              "cpu_system": 5.4,
              "cpu_user": 14.2,
              "device_id": "0c2a2c6c-5a95-4956-a02d-e1b39c2e5c6e",
              "hostname": "my-android-phone",
              "location": {
                "map_id": "b4695157-0d1d-4da0-8f9e-5c38149d8b81",
                "site_id": "d14f16d8-d14f-11e5-8e81-1258369c38a9",
                "timestamp": 1717027100,
                "x": 423.5,
                "y": 201.0
              },
              "memory_total": 8589934592,
              "memory_usage": 3758096384,
              "mfg": "Samsung",
              "model": "Galaxy S23",
              "org_id": "c168ddee-c14c-11e5-8e81-1258369c38a9",
              "os_type": "Android",
              "os_version": "14",
              "serial": "R5CX123456A",
              "storage_total": 128849018880,
              "storage_usage": 52428800000,
              "timestamp": 1717027200,
              "wifi_band": "5GHz",
              "wifi_bssid": "REDACTED",
              "wifi_channel": 36,
              "wifi_ip": "192.168.1.55",
              "wifi_mac": "00:aa:bb:cc:dd:ee",
              "wifi_rssi": -58,
              "wifi_ssid": "Corp-WiFi"
            }
          ],
          "total": 1
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
