{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Events",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Orgs Events are all the system level changes at the org level",
      "name": "Orgs Events"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/events/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search Org events\n\n\nSupported Event Types:\n- CRADLEPOINT_SYNC_FAILED\n- ORG_CA_CERT_ADDED\n- ORG_CA_CERT_REGENERATED",
        "operationId": "searchOrgEvents",
        "parameters": [
          {
            "description": "Filter results by type. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "type",
            "schema": {
              "examples": [
                "CRADLEPOINT_MAINTENANCE_COMPLETED,CRADLEPOINT_MAINTENANCE_STARTED"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgEventsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgEvents",
        "tags": [
          "Orgs Events"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/events/system/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count organization system event records, optionally grouped by `distinct` and filtered by time range.",
        "operationId": "countOrgSystemEvents",
        "parameters": [
          {
            "description": "Field used to group this count response",
            "in": "query",
            "name": "distinct",
            "schema": {
              "examples": [
                "site_id"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgSystemEvents",
        "tags": [
          "Orgs Events"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/events/system/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search organization system event records with time range, sorting, and pagination controls.",
        "operationId": "searchOrgSystemEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgSystemEventsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgSystemEvents",
        "tags": [
          "Orgs Events"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "org_event": {
        "additionalProperties": false,
        "description": "Event record generated at the organization level",
        "properties": {
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization associated with this event"
          },
          "text": {
            "description": "Detailed human-readable message for the organization event",
            "examples": [
              "authentication failed, API key invalid"
            ],
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when the organization event occurred"
          },
          "type": {
            "description": "Event type code for this organization event",
            "examples": [
              "CRADLEPOINT_SYNC_FAILED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "org_system_event": {
        "additionalProperties": false,
        "description": "Organization system event record",
        "properties": {
          "change_cat": {
            "description": "Category of configuration or administrative change for the event",
            "examples": [
              "admin_action"
            ],
            "type": "string"
          },
          "metadata": {
            "description": "JSON-encoded event metadata, such as affected object IDs and admin details",
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization where the system event occurred"
          },
          "scope": {
            "description": "Event scope, such as organization or site",
            "examples": [
              "org"
            ],
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site associated with the event, when the event is site-scoped"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Epoch timestamp when the system event occurred"
          },
          "type": {
            "description": "System event type, such as `add-wlan` or `delete-wlan`",
            "examples": [
              "delete-wlan"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_events_orgs_search": {
        "additionalProperties": false,
        "description": "Paginated response for organization event search results",
        "properties": {
          "end": {
            "description": "Epoch timestamp for the end of the organization event search window",
            "examples": [
              1688035193
            ],
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of organization event records returned in this page",
            "examples": [
              10
            ],
            "type": "integer"
          },
          "next": {
            "description": "Pagination cursor or URL for retrieving the next page of organization event records",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_events_orgs_search_results",
            "description": "Organization event records matching the search filters"
          },
          "start": {
            "description": "Epoch timestamp for the start of the organization event search window",
            "examples": [
              1687948793
            ],
            "type": "integer"
          },
          "total": {
            "description": "Number of organization event records matching the search filters across all pages",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_events_orgs_search_results": {
        "description": "Organization event records returned by a search response",
        "items": {
          "$ref": "#/components/schemas/org_event"
        },
        "type": "array"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_org_system_events_search": {
        "additionalProperties": false,
        "description": "Paginated response for organization system event search results",
        "properties": {
          "end": {
            "description": "Epoch timestamp, in seconds, for the end of the system event search window",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of system event records returned in this page",
            "type": "integer"
          },
          "next": {
            "description": "URL for retrieving the next page of system event search results",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_org_system_events_search_results",
            "description": "Organization system event records matching the search filters"
          },
          "start": {
            "description": "Epoch timestamp, in seconds, for the start of the system event search window",
            "type": "integer"
          },
          "total": {
            "description": "Number of system event records matching the search filters across all pages",
            "type": "integer"
          }
        },
        "required": [
          "results",
          "start",
          "end",
          "limit",
          "total"
        ],
        "type": "object"
      },
      "response_org_system_events_search_results": {
        "description": "Organization system event records returned by search",
        "items": {
          "$ref": "#/components/schemas/org_system_event"
        },
        "type": "array",
        "uniqueItems": true
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "timestamp": {
        "description": "Epoch timestamp, in seconds",
        "format": "double",
        "readOnly": true,
        "type": "number"
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OrgEventsSearch": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_events_orgs_search"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_events_orgs_search"
            }
          }
        },
        "description": "Example response"
      },
      "OrgSystemEventsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgSystemEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_org_system_events_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgSystemEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_org_system_events_search"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "OrgSystemEventsSearchExample": {
        "value": {
          "end": 1741312800,
          "limit": 1000,
          "results": [
            {
              "change_cat": "admin_action",
              "metadata": "{\"\\wlan_id\\\": \\\"None\\\",\\\"admin_name\\\": \\\"API Automation api_automation@mistsys.com\\\",\\\"desc\\\": \\\"Delete WLAN \\\\\"Automation Test\\\\\"\\\"}",
              "org_id": "268e599f-5379-473f-b18b-4384e9b3f244",
              "scope": "org",
              "site_id": "dc47920f-52d5-499c-af72-dcd646764f84",
              "timestamp": 1741309621,
              "type": "delete-wlan"
            },
            {
              "change_cat": "admin_action",
              "metadata": "{\\\"wlan_id\\\": \\\"3855dc19-63fb-4490-b113-0176dc1cc8f4\\\",\\\"admin_name\\\": \\\"API Automation api_automation@mistsys.com\\\",\\\"desc\\\": \\\"Add WLAN \\\\\"Automation Test\\\\\"\\\"}",
              "org_id": "268e599f-5379-473f-b18b-4384e9b3f244",
              "scope": "org",
              "site_id": "dc47920f-52d5-499c-af72-dcd646764f84",
              "timestamp": 1741309601,
              "type": "add-wlan"
            },
            {
              "change_cat": "admin_action",
              "metadata": "{\\\"template_id\\\": \\\"7e49acf4-6841-4e56-ad7d-68d0801cbba8\\\",\\\"admin_name\\\": \\\"API Automation api_automation@mistsys.com\\\",\\\"desc\\\": \\\"Add Template \\\\\"Automation template\\\\\"\\\"}",
              "org_id": "268e599f-5379-473f-b18b-4384e9b3f244",
              "scope": "org",
              "timestamp": 1741309280,
              "type": "add-template"
            }
          ],
          "start": 1741309200,
          "total": 3
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
