{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Stats - Other Devices",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve statistics about the Other/3rd party devices at the Org level",
      "name": "Orgs Stats - Other Devices"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/stats/otherdevices/{device_mac}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/device_mac"
        }
      ],
      "get": {
        "description": "Get Otherdevice Stats",
        "operationId": "getOrgOtherDeviceStats",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceOtherStats"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgOtherDeviceStats",
        "tags": [
          "Orgs Stats - Other Devices"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "last_seen": {
        "description": "Last seen timestamp",
        "examples": [
          1470417522
        ],
        "format": "double",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_device_other": {
        "additionalProperties": false,
        "properties": {
          "cached_stats": {
            "type": "boolean"
          },
          "config_status": {
            "examples": [
              "synced"
            ],
            "type": "string"
          },
          "connected_devices": {
            "$ref": "#/components/schemas/stats_device_other_connected_devices"
          },
          "interfaces": {
            "$ref": "#/components/schemas/stats_device_other_interfaces"
          },
          "last_config": {
            "examples": [
              1675392788
            ],
            "type": "integer"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen"
          },
          "lldp_enabled": {
            "type": "boolean"
          },
          "mac": {
            "examples": [
              "5c5b35000018"
            ],
            "type": "string"
          },
          "status": {
            "examples": [
              "online"
            ],
            "type": "string"
          },
          "uptime": {
            "examples": [
              20296
            ],
            "type": "integer"
          },
          "vendor": {
            "examples": [
              "cradlepoint"
            ],
            "type": "string"
          },
          "vendor_specific": {
            "$ref": "#/components/schemas/stats_device_other_vendor_specific"
          },
          "version": {
            "examples": [
              "7.22.70"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_device_other_connected_device": {
        "additionalProperties": false,
        "properties": {
          "mac": {
            "examples": [
              "020001abcdef"
            ],
            "type": "string"
          },
          "name": {
            "examples": [
              "DNT-NTR-GWE"
            ],
            "type": "string"
          },
          "port_id": {
            "examples": [
              "ge-0/0/1"
            ],
            "type": "string"
          },
          "type": {
            "examples": [
              "gateway"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_device_other_connected_devices": {
        "additionalProperties": {
          "$ref": "#/components/schemas/stats_device_other_connected_device"
        },
        "description": "Property key is the connected device MAC Address",
        "type": "object"
      },
      "stats_device_other_interface": {
        "additionalProperties": false,
        "properties": {
          "bytes_in": {
            "examples": [
              5623096929
            ],
            "type": "integer"
          },
          "bytes_out": {
            "examples": [
              12372750366
            ],
            "type": "integer"
          },
          "carrier": {
            "examples": [
              "Orange"
            ],
            "type": "string"
          },
          "imei": {
            "examples": [
              "866401234567893"
            ],
            "type": "string"
          },
          "imsi": {
            "examples": [
              "2080101234567893"
            ],
            "type": "string"
          },
          "ip": {
            "examples": [
              "10.134.237.57"
            ],
            "type": "string"
          },
          "link": {
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "mode": {
            "examples": [
              "wan"
            ],
            "type": "string"
          },
          "mtu": {
            "examples": [
              1500
            ],
            "type": "integer"
          },
          "rsrp": {
            "examples": [
              -108.0
            ],
            "type": "number"
          },
          "rsrq": {
            "examples": [
              -14.0
            ],
            "type": "number"
          },
          "rssi": {
            "examples": [
              -74
            ],
            "type": "integer"
          },
          "service_mode": {
            "examples": [
              "5G NSA"
            ],
            "type": "string"
          },
          "sinr": {
            "examples": [
              -1.2
            ],
            "type": "number"
          },
          "state": {
            "examples": [
              "READY"
            ],
            "type": "string"
          },
          "type": {
            "examples": [
              "mdm"
            ],
            "type": "string"
          },
          "uptime": {
            "examples": [
              2095779
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "stats_device_other_interfaces": {
        "additionalProperties": {
          "$ref": "#/components/schemas/stats_device_other_interface"
        },
        "description": "Property key is the interface name",
        "type": "object"
      },
      "stats_device_other_vendor_specific": {
        "additionalProperties": false,
        "description": "When `vendor`==`cradlepoint`",
        "properties": {
          "interfaces": {
            "additionalProperties": {
              "$ref": "#/components/schemas/stats_device_other_vendor_specific_port"
            },
            "examples": [
              {
                "mdm-4d0e073b": {
                  "bytes_in": 5623096929,
                  "bytes_out": 12372750366,
                  "carrier": "Orange",
                  "imei": "866401234567893",
                  "imsi": "2080101234567893",
                  "ip": "10.134.237.57",
                  "link": true,
                  "mode": "wan",
                  "rsrp": -108,
                  "rsrq": -14,
                  "rssi": -74,
                  "service_mode": "5G NSA",
                  "sinr": -1.2,
                  "state": "READY",
                  "type": "mdm",
                  "uptime": 2095779
                }
              }
            ],
            "type": "object"
          },
          "target_version": {
            "examples": [
              "7.23.40"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_device_other_vendor_specific_port": {
        "additionalProperties": false,
        "properties": {
          "bytes_in": {
            "examples": [
              5623096929
            ],
            "type": "integer"
          },
          "bytes_out": {
            "examples": [
              12372750366
            ],
            "type": "integer"
          },
          "carrier": {
            "examples": [
              "Orange"
            ],
            "type": "string"
          },
          "display_name": {
            "examples": [
              "mdm-4d0e073b"
            ],
            "type": "string"
          },
          "imei": {
            "examples": [
              "866401234567893"
            ],
            "type": "string"
          },
          "imsi": {
            "examples": [
              "2080101234567893"
            ],
            "type": "string"
          },
          "ip": {
            "examples": [
              "10.134.237.57"
            ],
            "type": "string"
          },
          "link": {
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "mode": {
            "examples": [
              "wan"
            ],
            "type": "string"
          },
          "mtu": {
            "examples": [
              1500
            ],
            "type": "integer"
          },
          "port_parent": {
            "examples": [
              "mdm"
            ],
            "type": "string"
          },
          "rsrp": {
            "examples": [
              -108
            ],
            "type": "number"
          },
          "rsrq": {
            "examples": [
              -14
            ],
            "type": "number"
          },
          "rssi": {
            "examples": [
              -74
            ],
            "type": "integer"
          },
          "service_mode": {
            "examples": [
              "5G NSA"
            ],
            "type": "string"
          },
          "sinr": {
            "examples": [
              -1.2
            ],
            "type": "number"
          },
          "state": {
            "examples": [
              "READY"
            ],
            "type": "string"
          },
          "type": {
            "examples": [
              "mdm"
            ],
            "type": "string"
          },
          "uptime": {
            "examples": [
              2095779
            ],
            "type": "integer"
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "DeviceOtherStats": {
        "content": {
          "application/json": {
            "examples": {
              "Otherdevice Stats": {
                "$ref": "#/components/examples/DeviceOtherStatsOtherdeviceStats"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_device_other"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Otherdevice Stats": {
                "$ref": "#/components/examples/DeviceOtherStatsOtherdeviceStats"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_device_other"
            }
          }
        },
        "description": "Example response"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      }
    },
    "parameters": {
      "device_mac": {
        "in": "path",
        "name": "device_mac",
        "required": true,
        "schema": {
          "examples": [
            "0000000000ab"
          ],
          "pattern": "^[0-9a-fA-F]{12}$",
          "type": "string"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "DeviceOtherStatsOtherdeviceStats": {
        "value": {
          "cached_stats": true,
          "connected_devices": {
            "0200010edbca": {
              "mac": "020001abcdef",
              "name": "DNT-NTR-GWE",
              "port_id": "ge-0/0/1",
              "type": "gateway"
            }
          },
          "last_seen": 1740996902,
          "lldp_enabled": true,
          "mac": "00304498a1e8",
          "uptime": 622828,
          "vendor": "cradlepoint",
          "vendor_specific": {
            "interfaces": {
              "ethernet-IPPT": {
                "bytes_in": 331068567,
                "bytes_out": 6763536255,
                "display_name": "Primary LAN",
                "ip": "192.168.0.1",
                "link": true,
                "mode": "lan",
                "port_parent": "Primary LAN",
                "service_mode": "Ethernet",
                "type": "ethernet",
                "uptime": 0
              },
              "ethernet-lan": {
                "bytes_in": 13072566048,
                "bytes_out": 5617915438,
                "display_name": "Secondary LAN",
                "ip": "192.168.0.1",
                "link": false,
                "mode": "lan",
                "port_parent": "Secondary LAN",
                "service_mode": "Ethernet",
                "type": "ethernet",
                "uptime": 0
              },
              "mdm-8a1084c9": {
                "bytes_in": 0,
                "bytes_out": 0,
                "carrier": "Unknown Service",
                "imei": "866401234567894",
                "imsi": "",
                "ip": "",
                "link": false,
                "mode": "wan",
                "mtu": 1400,
                "rsrp": 0,
                "rsrq": 0,
                "rssi": 0,
                "service_mode": "Not Available",
                "sinr": 0,
                "state": "NOSIM",
                "type": "mdm",
                "uptime": 0
              },
              "mdm-8a1fc70c": {
                "bytes_in": 5623096929,
                "bytes_out": 12372750366,
                "carrier": "AT&T",
                "imei": "866401234567893",
                "imsi": "208001234567893",
                "ip": "12.68.86.17",
                "link": true,
                "mode": "wan",
                "mtu": 1400,
                "rsrp": -108,
                "rsrq": -14,
                "rssi": -74,
                "service_mode": "5G NSA",
                "sinr": -1.2,
                "state": "READY",
                "type": "mdm",
                "uptime": 2095779
              }
            }
          },
          "version": "7.24.80"
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
