{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Marvis Invites",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Marvis Clients are devices that have the Marvis Android Client installed on them and are connected to a Juniper Mist AP.\n\nThey provide detailed data and telemetry about the client's wireless connection, including information about roaming behavior, connection type, and wireless properties.",
      "name": "Orgs Marvis Invites"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/marvisinvites": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List Marvis Client onboarding invite profiles for the organization, including enrollment URLs and enabled telemetry, location, and synthetic-test capabilities.",
        "operationId": "listOrgMarvisClientInvites",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarvisClientsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgMarvisClientInvites",
        "tags": [
          "Orgs Marvis Invites"
        ]
      },
      "post": {
        "description": "Create a Marvis Client onboarding invite profile for the organization, defining the enabled telemetry, location, and synthetic-test capabilities.",
        "operationId": "createOrgMarvisClientInvite",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "location": {
                      "enabled": true
                    },
                    "name": "Handhelds",
                    "synthetic_test": {
                      "enabled": true
                    },
                    "telemetry": {
                      "enabled": true
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/marvis_client"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarvisClient"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgMarvisClientInvite",
        "tags": [
          "Orgs Marvis Invites"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/marvisinvites/{marvisinvite_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/marvisinvite_id"
        }
      ],
      "get": {
        "description": "Retrieve a Marvis Client onboarding invite profile, including enrollment URL and enabled client capabilities.",
        "operationId": "getOrgMarvisClientInvite",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarvisClient"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgMarvisClientInvite",
        "tags": [
          "Orgs Marvis Invites"
        ]
      },
      "put": {
        "description": "Update a Marvis Client onboarding invite profile, including enabled telemetry, location, and synthetic-test capabilities.",
        "operationId": "updateOrgMarvisClientInvite",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "location": {
                      "enabled": true
                    },
                    "name": "Handhelds",
                    "synthetic_test": {
                      "enabled": true
                    },
                    "telemetry": {
                      "enabled": true
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/marvis_client"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MarvisClient"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgMarvisClientInvite",
        "tags": [
          "Orgs Marvis Invites"
        ]
      },
      "delete": {
        "description": "Delete a Marvis Client onboarding invite profile by ID.",
        "operationId": "deleteOrgMarvisClientInvite",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgMarvisClientInvite",
        "tags": [
          "Orgs Marvis Invites"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "marvis_client": {
        "description": "Marvis Client configuration profile",
        "properties": {
          "disabled": {
            "default": false,
            "description": "Whether this Marvis Client profile is disabled",
            "type": "boolean"
          },
          "enrollment_url": {
            "description": "In MDM, add `--enrollment_url <enrollment_url>` to the install command",
            "examples": [
              "marvisclient://api.mist.com/path/to/url"
            ],
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the Marvis Client profile"
          },
          "location": {
            "$ref": "#/components/schemas/marvis_client_location",
            "description": "Client location collection settings for Marvis Client"
          },
          "name": {
            "description": "Display name for the Marvis Client profile",
            "examples": [
              "Handhelds"
            ],
            "type": "string"
          },
          "synthetic_test": {
            "$ref": "#/components/schemas/marvis_client_synthetic_test",
            "description": "Synthetic test settings for Marvis Client"
          },
          "telemetry": {
            "$ref": "#/components/schemas/marvis_client_telemetry",
            "description": "Client telemetry collection settings for Marvis Client"
          }
        },
        "type": "object"
      },
      "marvis_client_location": {
        "additionalProperties": false,
        "description": "Location collection settings for Marvis Client",
        "properties": {
          "enabled": {
            "description": "Whether location collection is enabled for Marvis Client",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "marvis_client_synthetic_test": {
        "additionalProperties": false,
        "description": "Synthetic test settings for Marvis Client",
        "properties": {
          "enabled": {
            "description": "Whether synthetic testing is enabled for Marvis Client",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "marvis_client_telemetry": {
        "additionalProperties": false,
        "description": "Note: some stats are not collected when it's not connected to Mist infrastructure",
        "properties": {
          "enabled": {
            "description": "Whether telemetry collection is enabled for Marvis Client",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "marvis_clients": {
        "description": "Marvis Client profiles returned by the API",
        "items": {
          "$ref": "#/components/schemas/marvis_client"
        },
        "type": "array"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "MarvisClient": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MarvisClientExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/marvis_client"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MarvisClientExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/marvis_client"
            }
          }
        },
        "description": "Example response"
      },
      "MarvisClientsArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MarvisClientsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/marvis_clients"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MarvisClientsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/marvis_clients"
            }
          }
        },
        "description": "Example response"
      },
      "OK": {
        "description": "OK"
      }
    },
    "parameters": {
      "marvisinvite_id": {
        "in": "path",
        "name": "marvisinvite_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "MarvisClientExample": {
        "value": {
          "enrollment_url": "marvisclient://api.mist.com/path/to/url",
          "id": "3a14098f-b995-7552-b0a4-b8ee39b337a6",
          "name": "Handhelds"
        }
      },
      "MarvisClientsArrayExample": {
        "value": [
          {
            "enrollment_url": "marvisclient://api.mist.com/path/to/url",
            "id": "3a14098f-b995-7552-b0a4-b8ee39b337a6",
            "name": "Handhelds"
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
