{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs MxEdges",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "A Mist Edge (MxEdge) is a physical or virtual appliance that is deployed in a network to provide centralized data path for user traffic or as a RADIUS Proxy, which was traditionally performed by legacy wireless controllers. It keeps all the control and management functions in the Mist Cloud, offering a microservices architecture to the campus.",
      "name": "Orgs MxEdges"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/mxedges": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org MxEdges",
        "operationId": "listOrgMxEdges",
        "parameters": [
          {
            "description": "Filter for org/site level mist edges",
            "in": "query",
            "name": "for_site",
            "schema": {
              "$ref": "#/components/schemas/mxedge_for_site"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxedgesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgMxEdges",
        "tags": [
          "Orgs MxEdges"
        ]
      },
      "post": {
        "description": "Create MxEdge",
        "operationId": "createOrgMxEdge",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "model": "ME-100",
                    "mxcluster_id": "572586b7-f97b-a22b-526c-8b97a3f609c4",
                    "mxedge_mgmt": {},
                    "name": "Guest",
                    "ntp_servers": [],
                    "oob_ip_config": {},
                    "services": [
                      "tunterm"
                    ],
                    "tunterm_ip_config": {
                      "gateway": "10.2.1.254",
                      "ip": "10.2.1.1",
                      "netmask": "255.255.255.0"
                    },
                    "tunterm_port_config": {
                      "downstream_ports": [
                        "0",
                        "1",
                        "2",
                        "3"
                      ],
                      "separate_upstream_downstream": true,
                      "upstream_port_vlan_id": 1,
                      "upstream_ports": [
                        "0",
                        "1",
                        "2",
                        "3"
                      ]
                    },
                    "tunterm_switch_config": {
                      "0": {
                        "port_vlan_id": 1,
                        "vlan_ids": [
                          5,
                          2,
                          3
                        ]
                      },
                      "enabled": true
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mxedge"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Mxedge"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/assign": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "post": {
        "description": "Assign Org MxEdge to Site",
        "operationId": "assignOrgMxEdgeToSite",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "mxedge_ids": [
                      "387804a7-3474-85ce-15a2-f9a9684c9c90"
                    ],
                    "site_id": "4ac1dcf4-9d8b-7211-65c4-057819f0862b"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mxedges_assign"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AssignSuccess"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "assignOrgMxEdgeToSite",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/claim": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "post": {
        "description": "For a Mist Edge in default state, it will show a random claim code like `135-546-673` which you can \"claim\" it into your Org",
        "operationId": "claimOrgMxEdge",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": [
                    "6JG8E-PTFV2-A9Z2N",
                    "DVH4V-SNMSZ-PDXBR"
                  ]
                }
              },
              "schema": {
                "$ref": "#/components/schemas/claim_codes"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClaimMxedge"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "claimOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Org Mist Edges",
        "operationId": "countOrgMxEdges",
        "parameters": [
          {
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_mxedge_count_distinct"
            }
          },
          {
            "description": "Mist edge id",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Mist edge site id",
            "in": "query",
            "name": "site_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Mist edge cluster id",
            "in": "query",
            "name": "mxcluster_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Model name",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Debian code name (buster, bullseye)",
            "in": "query",
            "name": "distro",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "tunterm version",
            "in": "query",
            "name": "tunterm_version",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Sort options, -prefix represents DESC order, default is -last_seen",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to return device stats, default is false",
            "in": "query",
            "name": "stats",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgMxEdges",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/events/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Org Mist Edge Events",
        "operationId": "countOrgSiteMxEdgeEvents",
        "parameters": [
          {
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_mxedge_events_count_distinct"
            }
          },
          {
            "description": "Mist edge id",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Mist edge cluster id",
            "in": "query",
            "name": "mxcluster_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/mxedge_event_type"
          },
          {
            "description": "Service running on mist edge(mxagent, tunterm etc)",
            "in": "query",
            "name": "service",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgSiteMxEdgeEvents",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/events/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search Org Mist Edge Events",
        "operationId": "searchOrgMistEdgeEvents",
        "parameters": [
          {
            "description": "Mist edge id",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Mist edge cluster id",
            "in": "query",
            "name": "mxcluster_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/mxedge_event_type"
          },
          {
            "description": "Service running on mist edge(mxagent, tunterm etc)",
            "in": "query",
            "name": "service",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Component like PS1, PS2",
            "in": "query",
            "name": "component",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort_last_seen_reverse"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxEdgeEventsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgMistEdgeEvents",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search Org Mist Edges",
        "operationId": "searchOrgMxEdges",
        "parameters": [
          {
            "description": "Mist edge id",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Mist edge site id",
            "in": "query",
            "name": "site_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Mist edge cluster id",
            "in": "query",
            "name": "mxcluster_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Model name",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Debian code name (buster, bullseye)",
            "in": "query",
            "name": "distro",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "tunterm version",
            "in": "query",
            "name": "tunterm_version",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to return device stats, default is false",
            "in": "query",
            "name": "stats",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort_last_seen_reverse"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxEdgeSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgMxEdges",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/unassign": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "post": {
        "description": "Unassign Org MxEdge from Site",
        "operationId": "unassignOrgMxEdgeFromSite",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "mxedge_ids": [
                      "387804a7-3474-85ce-15a2-f9a9684c9c90"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mxedges_unassign"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AssignSuccess"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "unassignOrgMxEdgeFromSite",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/versions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get Mist Edge Upgrade Information",
        "operationId": "getOrgMxEdgeUpgradeInfo",
        "parameters": [
          {
            "description": "Upgrade channel to follow, stable (default) / beta / alpha",
            "in": "query",
            "name": "channel",
            "schema": {
              "$ref": "#/components/schemas/get_org_mxedge_upgrade_info_channel"
            }
          },
          {
            "description": "Distro code name (e.g. `buster`, `bullseye`, ...)",
            "in": "query",
            "name": "distro",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxedgeUpgradeInfo"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgMxEdgeUpgradeInfo",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "get": {
        "description": "Get Org MxEdge details",
        "operationId": "getOrgMxEdge",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Mxedge"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      },
      "put": {
        "description": "Update Org MxEdge",
        "operationId": "updateOrgMxEdge",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "model": "ME-X1",
                    "name": "me-gc1-01",
                    "oob_ip_config": {
                      "dns": [
                        "8.8.8.8",
                        "1.1.1.1"
                      ],
                      "gateway": "10.3.172.9",
                      "ip": "10.3.172.201",
                      "netmask": "/24",
                      "type": "static"
                    },
                    "services": [
                      "tunterm"
                    ],
                    "tunterm_ip_config": {
                      "gateway": "10.10.172.2",
                      "ip": "10.10.172.201",
                      "netmask": "/24"
                    },
                    "tunterm_port_config": {
                      "downstream_ports": [
                        "0"
                      ],
                      "separate_upstream_downstream": true,
                      "upstream_port_vlan_id": "1010",
                      "upstream_ports": [
                        "1"
                      ]
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mxedge"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Mxedge"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      },
      "delete": {
        "description": "Delete Org MxEdge",
        "operationId": "deleteOrgMxEdge",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/image/{image_number}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        },
        {
          "in": "path",
          "name": "image_number",
          "required": true,
          "schema": {
            "maximum": 3,
            "minimum": 1,
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Attach up to 3 images to a mxedge",
        "operationId": "addOrgMxEdgeImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/image_import"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "addOrgMxEdgeImage",
        "tags": [
          "Orgs MxEdges"
        ]
      },
      "delete": {
        "description": "Remove MxEdge Image",
        "operationId": "deleteOrgMxEdgeImage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgMxEdgeImage",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/restart": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "post": {
        "description": "In the case where a Mist Edge is replaced, you would need to unregister it. Which disconnects the currently the connected Mist Edge and allow another to register.",
        "operationId": "restartOrgMxEdge",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "restartOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/services/tunterm/bounce_port": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "post": {
        "description": "Bounce TunTerm Data Ports",
        "operationId": "bounceOrgMxEdgeDataPorts",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "ports": [
                      "0",
                      "2"
                    ]
                  }
                },
                "Example2": {
                  "value": {
                    "hold_time": 0,
                    "ports": [
                      "string"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/utils_tunterm_bounce_port"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "bounceOrgMxEdgeDataPorts",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/services/tunterm/disconnect_aps": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "post": {
        "description": "Disconnect AP’s from TunTerm",
        "operationId": "disconnectOrgMxEdgeTuntermAps",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "macs": [
                      "5c5b353e4eb1",
                      "5c5b353e4eb2"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mac_addresses"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "disconnectOrgMxEdgeTuntermAps",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/services/{name}/{action}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        },
        {
          "description": "enum: `mxagent`, `mxdas`, `mxnacedge`, `mxocproxy`, `radsecproxy`, `tunterm`",
          "in": "path",
          "name": "name",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/mxedge_service_name"
          }
        },
        {
          "description": "Restart or start or stop",
          "in": "path",
          "name": "action",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/mxedge_service_action"
          }
        }
      ],
      "post": {
        "description": "Control Services on a Mist Edge",
        "operationId": "controlOrgMxEdgeServices",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "controlOrgMxEdgeServices",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/support": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "post": {
        "description": "Support / Upload Mist Edge support files",
        "operationId": "uploadOrgMxEdgeSupportFiles",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "uploadOrgMxEdgeSupportFiles",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/unregister": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "post": {
        "description": "In the case where a Mist Edge is replaced, you would need to unregister it. Which disconnects the currently the connected Mist Edge and allow another to register.",
        "operationId": "unregisterOrgMxEdge",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "unregisterOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/vm_params": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "get": {
        "description": "Get Mist Edge VM parameters",
        "operationId": "getOrgMxEdgeVmParams",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxEdgeVmParams"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgMxEdgeVmParams",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "claim_codes": {
        "description": "List of Claim Codes",
        "examples": [
          [
            "6JG8E-PTFV2-A9Z2N",
            "DVH4V-SNMSZ-PDXBR"
          ]
        ],
        "items": {
          "description": "Claim code",
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "properties": {
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "event_severity": {
        "enum": [
          "normal",
          "critical",
          "high",
          "warning"
        ],
        "type": "string"
      },
      "get_org_mxedge_upgrade_info_channel": {
        "default": "stable",
        "description": "enum: `alpha`, `beta`, `stable`",
        "enum": [
          "alpha",
          "beta",
          "stable"
        ],
        "type": "string"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "image_import": {
        "additionalProperties": false,
        "properties": {
          "file": {
            "contentMediaType": "application/octet-stream",
            "description": "Binary file",
            "type": "string"
          },
          "json": {
            "type": "string"
          }
        },
        "required": [
          "file"
        ],
        "type": "object"
      },
      "ip_type": {
        "default": "dhcp",
        "description": "enum: `dhcp`, `static`",
        "enum": [
          "dhcp",
          "static"
        ],
        "examples": [
          "static"
        ],
        "type": "string"
      },
      "mac_addresses": {
        "properties": {
          "macs": {
            "$ref": "#/components/schemas/mac_addresses_macs"
          }
        },
        "required": [
          "macs"
        ],
        "type": "object"
      },
      "mac_addresses_macs": {
        "examples": [
          [
            "683b679ac024"
          ]
        ],
        "items": {
          "type": "string"
        },
        "minItems": 1,
        "type": "array",
        "uniqueItems": true
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "mxedge": {
        "description": "MxEdge",
        "properties": {
          "created_time": {
            "$ref": "#/components/schemas/created_time"
          },
          "for_site": {
            "readOnly": true,
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "mac": {
            "examples": [
              "0200009fbe65"
            ],
            "readOnly": true,
            "type": "string"
          },
          "magic": {
            "examples": [
              "L-NpT5gi-ADR8WTFd4EiQPY3cP5WdSoD"
            ],
            "readOnly": true,
            "type": "string"
          },
          "model": {
            "examples": [
              "ME-100"
            ],
            "type": "string"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time"
          },
          "mxagent_registered": {
            "readOnly": true,
            "type": "boolean"
          },
          "mxcluster_id": {
            "description": "MxCluster this MxEdge belongs to",
            "examples": [
              "572586b7-f97b-a22b-526c-8b97a3f609c4"
            ],
            "format": "uuid",
            "type": "string"
          },
          "mxedge_mgmt": {
            "$ref": "#/components/schemas/mxedge_mgmt"
          },
          "name": {
            "examples": [
              "Guest"
            ],
            "type": "string"
          },
          "note": {
            "examples": [
              "note for mxedge"
            ],
            "type": "string"
          },
          "ntp_servers": {
            "$ref": "#/components/schemas/strings"
          },
          "oob_ip_config": {
            "$ref": "#/components/schemas/mxedge_oob_ip_config"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "proxy": {
            "$ref": "#/components/schemas/proxy"
          },
          "services": {
            "$ref": "#/components/schemas/mxedge_services"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "tunterm_dhcpd_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config"
          },
          "tunterm_extra_routes": {
            "additionalProperties": {
              "$ref": "#/components/schemas/mxedge_tunterm_extra_route"
            },
            "description": "Property key is a CIDR",
            "type": "object"
          },
          "tunterm_igmp_snooping_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_igmp_snooping_config"
          },
          "tunterm_ip_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_ip_config"
          },
          "tunterm_monitoring": {
            "$ref": "#/components/schemas/mxedge_tunterm_monitoring"
          },
          "tunterm_multicast_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_multicast_config"
          },
          "tunterm_other_ip_configs": {
            "additionalProperties": {
              "$ref": "#/components/schemas/mxedge_tunterm_other_ip_config"
            },
            "description": "IPconfigs by VLAN ID. Property key is the VLAN ID",
            "type": "object"
          },
          "tunterm_port_config": {
            "$ref": "#/components/schemas/tunterm_port_config"
          },
          "tunterm_registered": {
            "readOnly": true,
            "type": "boolean"
          },
          "tunterm_switch_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_switch_configs"
          },
          "versions": {
            "$ref": "#/components/schemas/mxedge_versions"
          }
        },
        "required": [
          "model",
          "name"
        ],
        "type": "object"
      },
      "mxedge_event": {
        "additionalProperties": false,
        "properties": {
          "audit_id": {
            "$ref": "#/components/schemas/id"
          },
          "component": {
            "examples": [
              "PS1",
              "Fan1"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "device_id": {
            "description": "Device id",
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "device_type": {
            "type": "string"
          },
          "from_version": {
            "type": "string"
          },
          "mac": {
            "type": "string"
          },
          "mxcluster_id": {
            "examples": [
              "2815c917-58e7-472f-a190-bfd44fb58d05"
            ],
            "type": "string"
          },
          "mxedge_id": {
            "examples": [
              "00000000-0000-0000-1000-020000dc585c"
            ],
            "type": "string"
          },
          "mxedge_name": {
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "package": {
            "type": "string"
          },
          "service": {
            "examples": [
              "tunterm"
            ],
            "type": "string"
          },
          "severity": {
            "$ref": "#/components/schemas/event_severity"
          },
          "sys_info.usage": {
            "$ref": "#/components/schemas/mxedge_event_sys_info"
          },
          "text": {
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp"
          },
          "to_version": {
            "type": "string"
          },
          "type": {
            "examples": [
              "ME_SERVICE_STOPPED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "mxedge_event_sys_info": {
        "additionalProperties": false,
        "properties": {
          "resource": {
            "type": "string"
          },
          "severity": {
            "$ref": "#/components/schemas/event_severity"
          }
        },
        "type": "object"
      },
      "mxedge_events": {
        "items": {
          "$ref": "#/components/schemas/mxedge_event"
        },
        "minItems": 1,
        "type": "array",
        "uniqueItems": true
      },
      "mxedge_for_site": {
        "default": "any",
        "description": "enum: `any`, `false`, `true`",
        "enum": [
          "any",
          "false",
          "true"
        ],
        "type": "string"
      },
      "mxedge_mgmt": {
        "additionalProperties": false,
        "properties": {
          "config_auto_revert": {
            "default": false,
            "type": "boolean"
          },
          "fips_enabled": {
            "default": false,
            "type": "boolean"
          },
          "mist_password": {
            "examples": [
              "MIST_PASSWORD"
            ],
            "type": "string"
          },
          "oob_ip_type": {
            "$ref": "#/components/schemas/mxedge_mgmt_oob_ip_type"
          },
          "oob_ip_type6": {
            "$ref": "#/components/schemas/mxedge_mgmt_oob_ip_type6"
          },
          "root_password": {
            "examples": [
              "ROOT_PASSWORD"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "mxedge_mgmt_oob_ip_type": {
        "default": "dhcp",
        "description": "enum: `dhcp`, `disabled`, `static`",
        "enum": [
          "dhcp",
          "disabled",
          "static"
        ],
        "type": "string"
      },
      "mxedge_mgmt_oob_ip_type6": {
        "default": "autoconf",
        "description": "enum: `autoconf`, `dhcp`, `disabled`, `static`",
        "enum": [
          "autoconf",
          "dhcp",
          "disabled",
          "static"
        ],
        "type": "string"
      },
      "mxedge_oob_ip_config": {
        "additionalProperties": false,
        "description": "IPconfiguration of the Mist Edge out-of_band management interface",
        "properties": {
          "autoconf6": {
            "default": true,
            "type": "boolean"
          },
          "dhcp6": {
            "default": true,
            "type": "boolean"
          },
          "dns": {
            "$ref": "#/components/schemas/mxedge_oob_ip_config_dns"
          },
          "gateway": {
            "description": "If `type`=`static`",
            "examples": [
              "10.2.1.254"
            ],
            "type": "string"
          },
          "gateway6": {
            "examples": [
              "2601:1700:43c0:dc0::1"
            ],
            "type": "string"
          },
          "ip": {
            "description": "If `type`=`static`",
            "examples": [
              "10.2.1.2"
            ],
            "type": "string"
          },
          "ip6": {
            "examples": [
              "2601:1700:43c0:dc0:20c:29ff:fea7:93bc"
            ],
            "type": "string"
          },
          "netmask": {
            "description": "If `type`=`static`",
            "examples": [
              "255.255.255.0"
            ],
            "type": "string"
          },
          "netmask6": {
            "examples": [
              "/64"
            ],
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ip_type"
          },
          "type6": {
            "$ref": "#/components/schemas/ip_type"
          }
        },
        "type": "object"
      },
      "mxedge_oob_ip_config_dns": {
        "default": [
          "8.8.8.8",
          "8.8.4.4",
          "2001:4860:4860::8888",
          "2001:4860:4860::8844"
        ],
        "description": "IPv4 ignored if `type`!=`static`, IPv6 ignored if `type6`!=`static`",
        "examples": [
          [
            "8.8.8.8",
            "4.4.4.4",
            "2001:4860:4860::8888",
            "2001:4860:4860::8844"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "mxedge_service_action": {
        "description": "enum: `restart`, `start`, `stop`",
        "enum": [
          "restart",
          "start",
          "stop"
        ],
        "type": "string"
      },
      "mxedge_service_name": {
        "description": "enum: `mxagent`, `mxdas`, `mxocproxy`, `radsecproxy`, `tunterm`",
        "enum": [
          "mxagent",
          "mxdas",
          "mxnacedge",
          "mxocproxy",
          "radsecproxy",
          "tunterm"
        ],
        "type": "string"
      },
      "mxedge_services": {
        "description": "List of services to run, tunterm only for now",
        "items": {
          "default": "tunterm",
          "type": "string"
        },
        "type": "array"
      },
      "mxedge_tunterm_dhcpd_config": {
        "additionalProperties": {
          "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config_property"
        },
        "description": "Global and per-VLAN. Property key is the VLAN ID",
        "properties": {
          "enabled": {
            "default": false,
            "type": "boolean"
          },
          "servers": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config_servers"
          },
          "type": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_type"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_dhcpd_config_property": {
        "additionalProperties": false,
        "properties": {
          "enabled": {
            "default": false,
            "type": "boolean"
          },
          "servers": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config_servers"
          },
          "type": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config_type"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_dhcpd_config_servers": {
        "description": "List of DHCP servers; required if `type`==`relay`",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "mxedge_tunterm_dhcpd_config_type": {
        "default": "relay",
        "description": "enum: `relay`",
        "enum": [
          "relay"
        ],
        "type": "string"
      },
      "mxedge_tunterm_dhcpd_type": {
        "default": "relay",
        "description": "enum: `relay`",
        "enum": [
          "relay"
        ],
        "type": "string"
      },
      "mxedge_tunterm_extra_route": {
        "additionalProperties": false,
        "properties": {
          "via": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_igmp_snooping_config": {
        "additionalProperties": false,
        "properties": {
          "enabled": {
            "default": false,
            "type": "boolean"
          },
          "querier": {
            "$ref": "#/components/schemas/mxedge_tunterm_igmp_snooping_querier"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/mxedge_tunterm_igmp_snooping_config_vlan_ids"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_igmp_snooping_config_vlan_ids": {
        "description": "List of vlans on which tunterm performs IGMP snooping",
        "items": {
          "examples": [
            2
          ],
          "maximum": 4096,
          "minimum": 0,
          "type": "integer"
        },
        "type": "array"
      },
      "mxedge_tunterm_igmp_snooping_querier": {
        "additionalProperties": false,
        "properties": {
          "max_response_time": {
            "description": "Querier's query response interval, in tenths-of-seconds",
            "examples": [
              10
            ],
            "type": "integer"
          },
          "mtu": {
            "description": "The MTU we use (needed when forming large IGMPv3 Reports)",
            "examples": [
              1500
            ],
            "type": "integer"
          },
          "query_interval": {
            "description": "Querier's query interval, in seconds",
            "examples": [
              125
            ],
            "type": "integer"
          },
          "robustness": {
            "description": "Querier's robustness",
            "maximum": 7,
            "minimum": 1,
            "type": "integer"
          },
          "version": {
            "description": "Querier's maximum protocol version",
            "examples": [
              3
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_ip_config": {
        "additionalProperties": false,
        "description": "IPconfiguration of the Mist Tunnel interface",
        "properties": {
          "gateway": {
            "examples": [
              "10.2.1.254"
            ],
            "type": "string"
          },
          "gateway6": {
            "examples": [
              "2001:1010:1010:1010::1"
            ],
            "type": "string"
          },
          "ip": {
            "description": "Untagged VLAN",
            "examples": [
              "10.2.1.1"
            ],
            "type": "string"
          },
          "ip6": {
            "examples": [
              "2001:1010:1010:1010::2"
            ],
            "type": "string"
          },
          "netmask": {
            "examples": [
              "255.255.255.0"
            ],
            "type": "string"
          },
          "netmask6": {
            "examples": [
              "/64"
            ],
            "type": "string"
          }
        },
        "required": [
          "gateway",
          "ip",
          "netmask"
        ],
        "type": "object"
      },
      "mxedge_tunterm_monitoring": {
        "items": {
          "$ref": "#/components/schemas/tunterm_monitoring"
        },
        "type": "array"
      },
      "mxedge_tunterm_multicast_config": {
        "additionalProperties": false,
        "properties": {
          "mdns": {
            "$ref": "#/components/schemas/mxedge_tunterm_multicast_mdns"
          },
          "ssdp": {
            "$ref": "#/components/schemas/mxedge_tunterm_multicast_ssdp"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_multicast_mdns": {
        "additionalProperties": false,
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/strings"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_multicast_ssdp": {
        "additionalProperties": false,
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/strings"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_other_ip_config": {
        "additionalProperties": false,
        "properties": {
          "ip": {
            "type": "string"
          },
          "netmask": {
            "type": "string"
          }
        },
        "required": [
          "ip",
          "netmask"
        ],
        "type": "object"
      },
      "mxedge_tunterm_switch_config": {
        "additionalProperties": false,
        "properties": {
          "port_vlan_id": {
            "type": "integer"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/mxedge_tunterm_switch_config_vlan_ids"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_switch_config_vlan_ids": {
        "items": {
          "$ref": "#/components/schemas/vlan_id_with_variable"
        },
        "type": "array"
      },
      "mxedge_tunterm_switch_configs": {
        "additionalProperties": {
          "$ref": "#/components/schemas/mxedge_tunterm_switch_config"
        },
        "description": "If custom vlan settings are desired",
        "properties": {
          "enabled": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "mxedge_upgrade_info": {
        "items": {
          "$ref": "#/components/schemas/mxedge_upgrade_info_items"
        },
        "type": "array",
        "uniqueItems": true
      },
      "mxedge_upgrade_info_items": {
        "additionalProperties": false,
        "properties": {
          "default": {
            "type": "boolean"
          },
          "distro": {
            "type": "string"
          },
          "package": {
            "type": "string"
          },
          "version": {
            "type": "string"
          }
        },
        "required": [
          "package",
          "version"
        ],
        "type": "object"
      },
      "mxedge_versions": {
        "additionalProperties": false,
        "properties": {
          "mxagent": {
            "readOnly": true,
            "type": "string"
          },
          "tunterm": {
            "readOnly": true,
            "type": "string"
          }
        },
        "readOnly": true,
        "type": "object"
      },
      "mxedge_vm_params": {
        "additionalProperties": false,
        "description": "Mist Edge VM parameters",
        "properties": {
          "model": {
            "description": "SKU",
            "examples": [
              "ME-VM"
            ],
            "type": "string"
          },
          "name": {
            "description": "User given name (optional)",
            "type": "string"
          },
          "user_data": {
            "description": "Base64 encoded user data",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mxedges": {
        "items": {
          "$ref": "#/components/schemas/mxedge"
        },
        "type": "array"
      },
      "mxedges_assign": {
        "properties": {
          "mxedge_ids": {
            "$ref": "#/components/schemas/mxedges_assign_mxedge_ids"
          },
          "site_id": {
            "examples": [
              "43e9c864-a7e4-4310-8031-d9817d2c5a43"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "site_id",
          "mxedge_ids"
        ],
        "type": "object"
      },
      "mxedges_assign_mxedge_ids": {
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "mxedges_unassign": {
        "properties": {
          "mxedge_ids": {
            "$ref": "#/components/schemas/mxedges_unassign_mxedge_ids"
          }
        },
        "required": [
          "mxedge_ids"
        ],
        "type": "object"
      },
      "mxedges_unassign_mxedge_ids": {
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "org_mxedge_count_distinct": {
        "default": "model",
        "description": "enum: `distro`, `model`, `mxcluster_id`, `site_id`, `tunterm_version`",
        "enum": [
          "distro",
          "model",
          "mxcluster_id",
          "site_id",
          "tunterm_version"
        ],
        "type": "string"
      },
      "org_mxedge_events_count_distinct": {
        "default": "mxedge_id",
        "description": "enum: `mxcluster_id`, `mxedge_id`, `package`, `type`",
        "enum": [
          "mxcluster_id",
          "mxedge_id",
          "package",
          "type"
        ],
        "type": "string"
      },
      "proxy": {
        "additionalProperties": false,
        "description": "Proxy Configuration to talk to Mist",
        "properties": {
          "disabled": {
            "default": false,
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "url": {
            "examples": [
              "https://proxy.corp.com:8080/"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_assign_success": {
        "additionalProperties": false,
        "properties": {
          "success": {
            "$ref": "#/components/schemas/strings"
          }
        },
        "required": [
          "success"
        ],
        "type": "object"
      },
      "response_claim_mx_edge": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "magic": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "magic"
        ],
        "type": "object"
      },
      "response_count": {
        "additionalProperties": false,
        "properties": {
          "distinct": {
            "type": "string"
          },
          "end": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results"
          },
          "start": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_mxedge_events_search": {
        "additionalProperties": false,
        "properties": {
          "end": {
            "examples": [
              1694708579
            ],
            "type": "integer"
          },
          "limit": {
            "examples": [
              10
            ],
            "type": "integer"
          },
          "next": {
            "type": "string"
          },
          "page": {
            "examples": [
              3
            ],
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/mxedge_events"
          },
          "start": {
            "examples": [
              1694622179
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_mxedge_search": {
        "additionalProperties": false,
        "properties": {
          "end": {
            "examples": [
              1694708579
            ],
            "type": "integer"
          },
          "limit": {
            "examples": [
              10
            ],
            "type": "integer"
          },
          "next": {
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_mxedge_search_results"
          },
          "start": {
            "examples": [
              1694622179
            ],
            "type": "integer"
          },
          "total": {
            "examples": [
              2
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_mxedge_search_results": {
        "items": {
          "$ref": "#/components/schemas/search_mxedge"
        },
        "type": "array"
      },
      "search_mxedge": {
        "additionalProperties": false,
        "properties": {
          "distro": {
            "type": "string"
          },
          "last_seen": {
            "type": "number"
          },
          "model": {
            "examples": [
              "ME-VM"
            ],
            "type": "string"
          },
          "mxcluster_id": {
            "$ref": "#/components/schemas/id"
          },
          "mxedge_id": {
            "$ref": "#/components/schemas/id"
          },
          "name": {
            "description": "The name of the tunnel",
            "examples": [
              "me-vm-1"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "tunterm_version": {
            "type": "string"
          },
          "uptime": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "site_id": {
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "strings": {
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "timestamp": {
        "description": "Epoch (seconds)",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "tunterm_monitoring": {
        "items": {
          "$ref": "#/components/schemas/tunterm_monitoring_item"
        },
        "type": "array"
      },
      "tunterm_monitoring_item": {
        "additionalProperties": false,
        "properties": {
          "host": {
            "description": "Can be ip, ipv6, hostname",
            "examples": [
              "10.2.8.15"
            ],
            "minLength": 1,
            "type": "string"
          },
          "port": {
            "description": "When `protocol`==`tcp`",
            "examples": [
              80
            ],
            "type": "integer"
          },
          "protocol": {
            "$ref": "#/components/schemas/tunterm_monitoring_protocol"
          },
          "src_vlan_id": {
            "description": "Optional source for the monitoring check, vlan_id configured in tunterm_other_ip_configs",
            "examples": [
              5
            ],
            "type": "integer"
          },
          "timeout": {
            "default": 300,
            "examples": [
              300
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "tunterm_monitoring_protocol": {
        "description": "enum: `arp`, `ping`, `tcp`",
        "enum": [
          "arp",
          "ping",
          "tcp"
        ],
        "examples": [
          "tcp"
        ],
        "minLength": 1,
        "type": "string"
      },
      "tunterm_port_config": {
        "additionalProperties": false,
        "description": "Ethernet port configurations",
        "properties": {
          "downstream_ports": {
            "$ref": "#/components/schemas/tunterm_port_config_downstream_ports"
          },
          "separate_upstream_downstream": {
            "default": false,
            "description": "Whether to separate upstream / downstream ports. default is false where all ports will be used.",
            "type": "boolean"
          },
          "upstream_port_vlan_id": {
            "$ref": "#/components/schemas/tunterm_port_config_upstream_port_vlan_id"
          },
          "upstream_ports": {
            "$ref": "#/components/schemas/tunterm_port_config_upstream_ports"
          }
        },
        "type": "object"
      },
      "tunterm_port_config_downstream_ports": {
        "description": "List of ports to be used for downstream (to AP) purpose",
        "examples": [
          [
            "2",
            "3"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "tunterm_port_config_upstream_port_vlan_id": {
        "description": "Native VLAN id for upstream ports",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          }
        ]
      },
      "tunterm_port_config_upstream_ports": {
        "description": "List of ports to be used for upstream purpose (to LAN)",
        "examples": [
          [
            "0",
            "1"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "utils_tunterm_bounce_port": {
        "properties": {
          "hold_time": {
            "description": "In milli seconds, hold time between multiple port bounces",
            "type": "integer"
          },
          "ports": {
            "$ref": "#/components/schemas/utils_tunterm_bounce_port_ports"
          }
        },
        "required": [
          "ports"
        ],
        "type": "object"
      },
      "utils_tunterm_bounce_port_ports": {
        "description": "List of ports to bounce",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "vlan_id_with_variable": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          }
        ]
      }
    },
    "responses": {
      "AssignSuccess": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/AssignSuccessExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_assign_success"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/AssignSuccessExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_assign_success"
            }
          }
        },
        "description": "OK - list only devices that has deviceprofile_id changed"
      },
      "ClaimMxedge": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ClaimMxedgeExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_claim_mx_edge"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ClaimMxedgeExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_claim_mx_edge"
            }
          }
        },
        "description": "OK"
      },
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "MxEdgeEventsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxEdgeEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_mxedge_events_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxEdgeEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_mxedge_events_search"
            }
          }
        },
        "description": "Example response"
      },
      "MxEdgeSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxEdgeSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_mxedge_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxEdgeSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_mxedge_search"
            }
          }
        },
        "description": "Example response"
      },
      "MxEdgeVmParams": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/mxedge_vm_params"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/mxedge_vm_params"
            }
          }
        },
        "description": "Mist Edge VM Parameters"
      },
      "Mxedge": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxedgeExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/mxedge"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxedgeExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/mxedge"
            }
          }
        },
        "description": "OK"
      },
      "MxedgeUpgradeInfo": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxedgeUpgradeInfoExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/mxedge_upgrade_info"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxedgeUpgradeInfoExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/mxedge_upgrade_info"
            }
          }
        },
        "description": "OK"
      },
      "MxedgesArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxedgesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/mxedges"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxedgesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/mxedges"
            }
          }
        },
        "description": "OK"
      },
      "OK": {
        "description": "OK"
      }
    },
    "parameters": {
      "duration": {
        "description": "Duration like 7d, 2w",
        "in": "query",
        "name": "duration",
        "required": false,
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "End time (epoch timestamp in seconds, or relative string like \"-1d\", \"-2h\", \"now\")",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "mxedge_event_type": {
        "description": "See [List Device Events Definitions](/#operations/listDeviceEventsDefinitions)",
        "in": "query",
        "name": "type",
        "schema": {
          "type": "string"
        }
      },
      "mxedge_id": {
        "in": "path",
        "name": "mxedge_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "page": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "sort_last_seen_reverse": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "required": false,
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Start time (epoch timestamp in seconds, or relative string like \"-1d\", \"-1w\")",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "AssignSuccessExample": {
        "value": {
          "success": [
            "5c5b350e0001"
          ]
        }
      },
      "ClaimMxedgeExample": {
        "value": {
          "id": "95ddd29a-6a3c-929e-a431-51a5b09f36a6",
          "magic": "ExNpT5gi-ADR8WTFd4EiQPY3cP5WdSoD"
        }
      },
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "MxEdgeEventsSearchExample": {
        "value": {
          "end": 1694708579,
          "limit": 10,
          "page": 3,
          "results": [
            {
              "mxcluster_id": "2815c917-58e7-472f-a190-bfd44fb58d05",
              "mxedge_id": "00000000-0000-0000-1000-020000dc585c",
              "org_id": "f2695c32-0e83-4936-b1b2-96fc88051213",
              "service": "tunterm",
              "timestamp": 1694678225.927,
              "type": "ME_SERVICE_STOPPED"
            }
          ],
          "start": 1694622179
        }
      },
      "MxEdgeSearchExample": {
        "value": {
          "end": 1694708579,
          "limit": 10,
          "results": [
            {
              "distro": "buster",
              "last_seen": 1695151551.833,
              "model": "ME-X5",
              "mxedge_id": "00000000-0000-0000-1000-d420b0f0025d",
              "org_id": "35d96b1a-1a13-4ba8-90f5-1e78dd2a10c5",
              "tunterm_version": "0.1.2813",
              "uptime": 5662632
            }
          ],
          "start": 1694622179,
          "total": 2
        }
      },
      "MxedgeExample": {
        "value": {
          "id": "95ddd29a-6a3c-929e-a431-51a5b09f36a6",
          "magic": "L-NpT5gi-ADR8WTFd4EiQPY3cP5WdSoD",
          "model": "ME-100",
          "mxagent_registered": true,
          "mxcluster_id": "572586b7-f97b-a22b-526c-8b97a3f609c4",
          "mxedge_mgmt": {
            "mist_password": "MIST_PASSWORD",
            "root_password": "ROOT_PASSWORD"
          },
          "name": "Guest",
          "ntp_servers": [],
          "oob_ip_config": {
            "dns": [
              "8.8.8.8",
              "4.4.4.4"
            ],
            "gateway": "10.2.1.254",
            "ip": "10.2.1.10",
            "netmask": "255.255.255.0",
            "type": "static"
          },
          "tunterm_dhcpd_config": {
            "2": {
              "enabled": true,
              "servers": [
                "11.2.3.44"
              ]
            },
            "enabled": false,
            "servers": [
              "11.2.3.4"
            ]
          },
          "tunterm_extra_routes": {
            "11.0.0.0/8": {
              "via": "10.3.3.1"
            }
          },
          "tunterm_ip_config": {
            "gateway": "10.2.1.254",
            "ip": "10.2.1.1",
            "netmask": "255.255.255.0"
          }
        }
      },
      "MxedgeUpgradeInfoExample": {
        "value": [
          {
            "default": true,
            "distro": "bullseye",
            "package": "mxagent",
            "version": "2.4.100"
          },
          {
            "distro": "bullseye",
            "package": "tunterm",
            "version": "1.0.0"
          }
        ]
      },
      "MxedgesArrayExample": {
        "value": [
          {
            "cpu_stat": {
              "cpus": {
                "cpu0": {
                  "idle": 79,
                  "interrupt": 0,
                  "system": 4,
                  "usage": 20,
                  "user": 16
                },
                "cpu1": {
                  "idle": 93,
                  "interrupt": 0,
                  "system": 4,
                  "usage": 6,
                  "user": 1
                }
              },
              "idle": 87,
              "interrupt": 0,
              "system": 5,
              "usage": 12,
              "user": 7
            },
            "ext_ip": "116.187.144.16",
            "id": "387804a7-3474-85ce-15a2-f9a9684c9c90",
            "ip_stat": {
              "ip": "172.16.5.3",
              "ips": {
                "ens192": "172.16.5.3/24,fe81::20c:29ff:fef8:d18e/64"
              }
            },
            "lag_stat": {
              "lag0": {
                "active_ports": [
                  "0",
                  "1"
                ]
              }
            },
            "last_seen": 1547437078,
            "magic": "ExNpT5gi-ADR8WTFd4EiQPY3cP5WdSoD",
            "memory_stats": {
              "active": 1061085184,
              "available": 4124860416,
              "buffers": 789495808,
              "cached": 718016512,
              "free": 2818838528,
              "inactive": 458158080,
              "swap_cached": 0,
              "swap_free": 8161062912,
              "swap_total": 8161062912,
              "total": 7947616256,
              "usage": 65
            },
            "model": "ME-S2019",
            "mxagent_registered": false,
            "mxcluster_id": "572586b7-f97b-a22b-526c-8b97a3f609c4",
            "name": "Guest",
            "num_tunnels": 31,
            "port_stat": {
              "eth0": {
                "full_duplex": true,
                "lldp_stats": {
                  "mgmt_addr": "122.16.3.11",
                  "port_desc": "GigabitEthernet4/0/16",
                  "port_id": "\u0005Gi4/0/16",
                  "system_desc": "Cisco IOS Software",
                  "system_name": "ME-DC2-DIS-SW"
                },
                "rx_bytes": 2056,
                "rx_errors": 0,
                "rx_pkts": 670,
                "speed": 1000,
                "tx_bytes": 2056,
                "tx_pkts": 670,
                "up": true
              },
              "eth1": {
                "up": false
              },
              "module": {
                "up": false
              }
            },
            "status": "connected",
            "tunterm_registered": false,
            "tunterm_stat": {
              "monitoring_failed": false
            },
            "uptime": 884221,
            "version": "0.1.2",
            "virtualization_type": "VirtualizationVMware"
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
