{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Tickets",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Support tickets are a means for users to seek assistance and resolve issues they encounter with a product or service.\nThey allow users to communicate their problems or questions to the Juniper Mist support team, who can then provide guidance, troubleshooting, or solutions.\nSupport tickets typically include information such as the type of issue, relevant details, and any necessary attachments.",
      "name": "Orgs Tickets"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/tickets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Tickets of an Org",
        "operationId": "listOrgTickets",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TicketsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgTickets",
        "tags": [
          "Orgs Tickets"
        ]
      },
      "post": {
        "description": "Create a support ticket",
        "operationId": "createOrgTicket",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "comment": "string",
                    "subject": "string",
                    "type": "question"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/ticket"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ticket"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgTicket",
        "tags": [
          "Orgs Tickets"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/tickets/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Org Tickets",
        "operationId": "countOrgTickets",
        "parameters": [
          {
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_tickets_count_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgTickets",
        "tags": [
          "Orgs Tickets"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/tickets/{ticket_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/ticket_id"
        }
      ],
      "get": {
        "description": "Get support ticket details",
        "operationId": "getOrgTicket",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ticket"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgTicket",
        "tags": [
          "Orgs Tickets"
        ]
      },
      "put": {
        "description": "Update support ticket",
        "operationId": "updateOrgTicket",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "comment": "string",
                    "subject": "string",
                    "type": "question"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/ticket"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ticket"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgTicket",
        "tags": [
          "Orgs Tickets"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/tickets/{ticket_id}/attachments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/ticket_id"
        }
      ],
      "post": {
        "description": "Get Org ticket Attachment",
        "operationId": "UploadOrgTicketAttachment",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ticket_upload_attachments_file"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "UploadOrgTicketAttachment",
        "tags": [
          "Orgs Tickets"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/tickets/{ticket_id}/attachments/{attachment_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/ticket_id"
        },
        {
          "$ref": "#/components/parameters/attachment_id"
        }
      ],
      "get": {
        "description": "Get Org ticket Attachment",
        "operationId": "GetOrgTicketAttachment",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TicketAttachment"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "GetOrgTicketAttachment",
        "tags": [
          "Orgs Tickets"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/tickets/{ticket_id}/comments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/ticket_id"
        }
      ],
      "post": {
        "description": "Add Comment to support ticket",
        "operationId": "addOrgTicketComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ticket_comment"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ticket_comment_import_file"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Ticket"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "addOrgTicketComment",
        "tags": [
          "Orgs Tickets"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "properties": {
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "org_tickets_count_distinct": {
        "default": "status",
        "description": "enum: `status`, `type`",
        "enum": [
          "status",
          "type"
        ],
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "properties": {
          "distinct": {
            "type": "string"
          },
          "end": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results"
          },
          "start": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "ticket": {
        "description": "Support Ticket",
        "properties": {
          "case_number": {
            "readOnly": true,
            "type": "string"
          },
          "comments": {
            "$ref": "#/components/schemas/ticket_comments"
          },
          "created_at": {
            "readOnly": true,
            "type": "integer"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "requester": {
            "readOnly": true,
            "type": "string"
          },
          "requester_email": {
            "description": "Email of the requester",
            "format": "email",
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ticket_status"
          },
          "subject": {
            "type": "string"
          },
          "type": {
            "description": "Question (default) / bug / critical",
            "type": "string"
          },
          "updated_at": {
            "readOnly": true,
            "type": "integer"
          }
        },
        "required": [
          "subject",
          "type"
        ],
        "type": "object"
      },
      "ticket_attachment": {
        "additionalProperties": false,
        "properties": {
          "content_url": {
            "examples": [
              "https://api.mist.com/api/v1/forward/download?jwt=..."
            ],
            "format": "url",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ticket_comment": {
        "properties": {
          "attachment_ids": {
            "$ref": "#/components/schemas/ticket_comments_attachment_ids"
          },
          "attachments": {
            "$ref": "#/components/schemas/ticket_comments_attachments"
          },
          "author": {
            "readOnly": true,
            "type": "string"
          },
          "comment": {
            "type": "string"
          },
          "created_at": {
            "readOnly": true,
            "type": "integer"
          }
        },
        "required": [
          "author",
          "comment",
          "created_at"
        ],
        "type": "object"
      },
      "ticket_comment_import_file": {
        "additionalProperties": false,
        "properties": {
          "comment": {
            "examples": [
              "this is urgent"
            ],
            "type": "string"
          },
          "file": {
            "contentMediaType": "application/octet-stream",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ticket_comments": {
        "items": {
          "$ref": "#/components/schemas/ticket_comment"
        },
        "type": "array"
      },
      "ticket_comments_attachment": {
        "additionalProperties": false,
        "properties": {
          "content_type": {
            "examples": [
              "image/png"
            ],
            "type": "string"
          },
          "content_url": {
            "examples": [
              "https://api.mist.com/api/v1/forward/download?jwt=..."
            ],
            "format": "url",
            "type": "string"
          },
          "created_at": {
            "examples": [
              1453908369
            ],
            "type": "integer"
          },
          "file_name": {
            "examples": [
              "crash.png"
            ],
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "size_in_bytes": {
            "examples": [
              1943
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ticket_comments_attachment_id": {
        "examples": [
          "00000000-0000-0000-0000-15231a659c13"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "ticket_comments_attachment_ids": {
        "examples": [
          [
            "00000000-0000-0000-0000-15231a659c78"
          ]
        ],
        "items": {
          "$ref": "#/components/schemas/ticket_comments_attachment_id"
        },
        "readOnly": true,
        "type": "array"
      },
      "ticket_comments_attachments": {
        "items": {
          "$ref": "#/components/schemas/ticket_comments_attachment"
        },
        "readOnly": true,
        "type": "array"
      },
      "ticket_status": {
        "description": "Ticket status. enum: \n  * open: ticket is open, Mist is working on it\n  * pending: ticket is open and Requester attention is needed (e.g. Mist is asking for some more information)\n  * solved: ticket is marked as solved / considered by Mist (requester can update it, causing it to re-open; or rate it)\n  * closed: ticket is archived and cannot be changed.",
        "enum": [
          "closed",
          "open",
          "pending",
          "solved"
        ],
        "type": "string"
      },
      "ticket_upload_attachments_file": {
        "additionalProperties": false,
        "properties": {
          "file": {
            "contentMediaType": "application/octet-stream",
            "description": "Ekahau or ibwave file",
            "type": "string"
          }
        },
        "type": "object"
      },
      "tickets": {
        "items": {
          "$ref": "#/components/schemas/ticket"
        },
        "type": "array"
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "Ticket": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TicketExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ticket"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TicketExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ticket"
            }
          }
        },
        "description": "OK"
      },
      "TicketAttachment": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TicketAttachmentExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ticket_attachment"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TicketAttachmentExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/ticket_attachment"
            }
          }
        },
        "description": "OK"
      },
      "TicketsArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TicketsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/tickets"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TicketsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/tickets"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "attachment_id": {
        "in": "path",
        "name": "attachment_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "duration": {
        "description": "Duration like 7d, 2w",
        "in": "query",
        "name": "duration",
        "required": false,
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "End time (epoch timestamp in seconds, or relative string like \"-1d\", \"-2h\", \"now\")",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "start": {
        "description": "Start time (epoch timestamp in seconds, or relative string like \"-1d\", \"-1w\")",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      },
      "ticket_id": {
        "in": "path",
        "name": "ticket_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "TicketAttachmentExample": {
        "value": {
          "content_url": "https://api.mist.com/api/v1/forward/download?jwt=..."
        }
      },
      "TicketExample": {
        "value": {
          "comments": [
            {
              "attachments": [
                {
                  "content_type": "string",
                  "content_url": "string"
                }
              ],
              "author": "string",
              "comment": "string",
              "created_at": 0
            }
          ],
          "created_at": 0,
          "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "requester": "string",
          "status": "open",
          "subject": "string",
          "type": "string",
          "updated_at": 0
        }
      },
      "TicketsArrayExample": {
        "value": [
          {
            "comments": [
              {
                "attachments": [
                  {
                    "content_type": "string",
                    "content_url": "string"
                  }
                ],
                "author": "string",
                "comment": "string",
                "created_at": 0
              }
            ],
            "created_at": 0,
            "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "requester": "string",
            "status": "open",
            "subject": "string",
            "type": "string",
            "updated_at": 0
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
