{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Stats - BGP Peers",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve statistics about the BGP Peers (WAN Assurance)",
      "name": "Orgs Stats - BGP Peers"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/stats/bgp_peers/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Org BGP Stats",
        "operationId": "countOrgBgpStats",
        "parameters": [
          {
            "in": "query",
            "name": "state",
            "schema": {
              "examples": [
                "established"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "distinct",
            "schema": {
              "examples": [
                "site_id"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgBgpStats",
        "tags": [
          "Orgs Stats - BGP Peers"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/stats/bgp_peers/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search Org BGP Stats",
        "operationId": "searchOrgBgpStats",
        "parameters": [
          {
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "neighbor_mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "site_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "vrf_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BgpStatsArraySearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgBgpStats",
        "tags": [
          "Orgs Stats - BGP Peers"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "bgp_as": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4294967294,
            "minimum": 1,
            "type": "integer"
          }
        ],
        "description": "BGP AS, value in range 1-4294967294. Can be a Variable (e.g. `{{bgp_as}}` )",
        "examples": [
          65000
        ]
      },
      "bgp_stats": {
        "additionalProperties": false,
        "properties": {
          "evpn_overlay": {
            "description": "If this is created for evpn overlay",
            "type": "boolean"
          },
          "for_overlay": {
            "description": "If this is created for overlay",
            "type": "boolean"
          },
          "local_as": {
            "$ref": "#/components/schemas/bgp_as"
          },
          "mac": {
            "description": "Router mac address",
            "examples": [
              "020001c04668"
            ],
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "neighbor": {
            "examples": [
              "15.8.3.5"
            ],
            "type": "string"
          },
          "neighbor_as": {
            "$ref": "#/components/schemas/bgp_as"
          },
          "neighbor_mac": {
            "description": "If it's another device in the same org",
            "examples": [
              "020001c04600"
            ],
            "type": "string"
          },
          "node": {
            "description": "Node0/node1",
            "examples": [
              "node0"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts"
          },
          "rx_routes": {
            "description": "Number of received routes",
            "examples": [
              60
            ],
            "type": "integer"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "state": {
            "$ref": "#/components/schemas/bgp_stats_state"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp"
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts"
          },
          "tx_routes": {
            "examples": [
              60
            ],
            "type": "integer"
          },
          "up": {
            "type": "boolean"
          },
          "uptime": {
            "examples": [
              31355
            ],
            "type": "integer"
          },
          "vrf_name": {
            "examples": [
              "default"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "bgp_stats_state": {
        "description": "enum: `active`, `connect`, `established`, `idle`, `open_config`, `open_sent`",
        "enum": [
          "active",
          "connect",
          "established",
          "idle",
          "open_config",
          "open_sent"
        ],
        "examples": [
          "established"
        ],
        "type": "string"
      },
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "properties": {
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_bgp_search_list_results": {
        "items": {
          "$ref": "#/components/schemas/bgp_stats"
        },
        "type": "array"
      },
      "response_count": {
        "additionalProperties": false,
        "properties": {
          "distinct": {
            "type": "string"
          },
          "end": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results"
          },
          "start": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_search_bgps": {
        "additionalProperties": false,
        "properties": {
          "end": {
            "type": "number"
          },
          "limit": {
            "type": "integer"
          },
          "next": {
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_bgp_search_list_results"
          },
          "start": {
            "type": "number"
          },
          "total": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "rx_pkts": {
        "description": "Amount of packets received since connection",
        "examples": [
          57770567
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "site_id": {
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "timestamp": {
        "description": "Epoch (seconds)",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "tx_pkts": {
        "description": "Amount of packets sent since connection",
        "examples": [
          812204062
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      }
    },
    "responses": {
      "BgpStatsArraySearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/BgpStatsArraySearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_search_bgps"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/BgpStatsArraySearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_search_bgps"
            }
          }
        },
        "description": "Example response"
      },
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      }
    },
    "parameters": {
      "duration": {
        "description": "Duration like 7d, 2w",
        "in": "query",
        "name": "duration",
        "required": false,
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "End time (epoch timestamp in seconds, or relative string like \"-1d\", \"-2h\", \"now\")",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "required": false,
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Start time (epoch timestamp in seconds, or relative string like \"-1d\", \"-1w\")",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "BgpStatsArraySearchExample": {
        "value": {
          "end": 0,
          "limit": 0,
          "results": [
            {
              "evpn_overlay": true,
              "for_overlay": true,
              "local_as": 65000,
              "mac": "020001c04668",
              "neighbor": "15.8.3.5",
              "neighbor_as": 65000,
              "neighbor_mac": "020001c04600",
              "node": "node0",
              "org_id": "0c160b7f-1027-4cd1-923b-744534c4b070",
              "rx_pkts": 63366,
              "rx_routes": 60,
              "site_id": "725a8d34-a126-4f2c-b990-d1219421cb75",
              "state": "established",
              "timestamp": 1666251056.07,
              "tx_pkts": 1735,
              "tx_routes": 60,
              "up": true,
              "uptime": 31355,
              "vrf_name": "default"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
