{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs WLAN Templates",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "A WLAN template is a collection of WLAN policies, Tunneling Policies, and WxLAN policies. \nIt is used for creating and managing WLAN configurations at an organizational level. \n\n\nWLAN templates allow for modular and scalable configuration by grouping together the settings for multiple SSIDs. \nThese templates can be applied to specific sites, site groups, or the entire organization, making it easier to manage and automate configuration across multiple locations. \n\n\nWLAN templates are especially useful for organizations with multiple sites or plans for future expansion.",
      "name": "Orgs WLAN Templates"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/templates": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org WLAN Templates",
        "operationId": "listOrgTemplates",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TemplatesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgTemplates",
        "tags": [
          "Orgs WLAN Templates"
        ]
      },
      "post": {
        "description": "Create Org Template",
        "operationId": "createOrgTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/template"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Template"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgTemplate",
        "tags": [
          "Orgs WLAN Templates"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/templates/{template_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/template_id"
        }
      ],
      "get": {
        "description": "Get Org Template Details",
        "operationId": "getOrgTemplate",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Template"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgTemplate",
        "tags": [
          "Orgs WLAN Templates"
        ]
      },
      "put": {
        "description": "Update Org Template",
        "operationId": "updateOrgTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/template"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Template"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgTemplate",
        "tags": [
          "Orgs WLAN Templates"
        ]
      },
      "delete": {
        "description": "Delete Org Template",
        "operationId": "deleteOrgTemplate",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgTemplate",
        "tags": [
          "Orgs WLAN Templates"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/templates/{template_id}/clone": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/template_id"
        }
      ],
      "post": {
        "description": "Clone Org Template",
        "operationId": "cloneOrgTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "name": "Cloned"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/name_string"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Template"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "cloneOrgTemplate",
        "tags": [
          "Orgs WLAN Templates"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "name_string": {
        "description": "Request body containing a name value",
        "properties": {
          "name": {
            "description": "Value to create or update as the target resource name",
            "type": "string"
          }
        },
        "type": "object"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "template": {
        "description": "WLAN template configuration applied across sites or site groups",
        "properties": {
          "applies": {
            "$ref": "#/components/schemas/template_applies",
            "description": "Organizations, sites, or site groups targeted by this WLAN template"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Timestamp when the WLAN template was created"
          },
          "deviceprofile_ids": {
            "$ref": "#/components/schemas/template_deviceprofile_ids",
            "description": "Device profile IDs that further limit where this WLAN template applies"
          },
          "exceptions": {
            "$ref": "#/components/schemas/template_exceptions",
            "description": "Sites or site groups excluded from this WLAN template even when included by the application scope"
          },
          "filter_by_deviceprofile": {
            "description": "Whether to further filter by Device Profile",
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the WLAN template"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Timestamp when the WLAN template was last modified"
          },
          "name": {
            "description": "Display name of the WLAN template",
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization that owns this WLAN template"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "template_applies": {
        "additionalProperties": false,
        "description": "Where this template should be applied to, can be org_id, site_ids, sitegroup_ids",
        "properties": {
          "org_id": {
            "description": "Organization included in the WLAN template application scope",
            "format": "uuid",
            "type": "string"
          },
          "site_ids": {
            "$ref": "#/components/schemas/template_applies_site_ids",
            "description": "Sites included in the WLAN template application scope"
          },
          "sitegroup_ids": {
            "$ref": "#/components/schemas/template_applies_sitegroup_ids",
            "description": "Site groups included in the WLAN template application scope"
          }
        },
        "type": "object"
      },
      "template_applies_site_ids": {
        "description": "List of site ids",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "template_applies_sitegroup_ids": {
        "description": "List of sitegroup ids",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "template_deviceprofile_ids": {
        "description": "List of Device Profile ids",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "template_exceptions": {
        "additionalProperties": false,
        "description": "Where this template should not be applied to (takes precedence)",
        "properties": {
          "site_ids": {
            "$ref": "#/components/schemas/template_exceptions_site_ids",
            "description": "Sites excluded from the WLAN template application scope"
          },
          "sitegroup_ids": {
            "$ref": "#/components/schemas/template_exceptions_sitegroup_ids",
            "description": "Site groups excluded from the WLAN template application scope"
          }
        },
        "type": "object"
      },
      "template_exceptions_site_ids": {
        "description": "List of site ids",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "template_exceptions_sitegroup_ids": {
        "description": "List of sitegroup ids",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "templates": {
        "description": "WLAN template records returned by a template list response",
        "items": {
          "$ref": "#/components/schemas/template"
        },
        "type": "array"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "Template": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TemplateExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/template"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TemplateExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/template"
            }
          }
        },
        "description": "OK"
      },
      "TemplatesArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TemplatesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/templates"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/TemplatesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/templates"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "page": {
        "description": "Select the page number to return when using page-based pagination; starts at `1`",
        "in": "query",
        "name": "page",
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "template_id": {
        "in": "path",
        "name": "template_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "TemplateExample": {
        "value": {
          "applies": {
            "org_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "site_ids": [
              "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
            ],
            "sitegroup_ids": [
              "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
            ]
          },
          "created_time": 0,
          "deviceprofile_ids": [
            "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
          ],
          "exceptions": {
            "site_ids": [
              "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
            ],
            "sitegroup_ids": [
              "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
            ]
          },
          "filter_by_deviceprofile": true,
          "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "modified_time": 0,
          "name": "string",
          "org_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
        }
      },
      "TemplatesArrayExample": {
        "value": [
          {
            "applies": {
              "org_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
              "site_ids": [
                "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
              ],
              "sitegroup_ids": [
                "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
              ]
            },
            "created_time": 0,
            "deviceprofile_ids": [
              "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
            ],
            "exceptions": {
              "site_ids": [
                "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
              ],
              "sitegroup_ids": [
                "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
              ]
            },
            "filter_by_deviceprofile": true,
            "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "modified_time": 0,
            "name": "string",
            "org_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
