{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Devices - Others",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Call for 3rd party devices",
      "name": "Orgs Devices - Others"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/otherdevices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org other devices (3rd party devices)",
        "operationId": "listOrgOtherDevices",
        "parameters": [
          {
            "in": "query",
            "name": "vendor",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "serial",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceOtherArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgOtherDevices",
        "tags": [
          "Orgs Devices - Others"
        ]
      },
      "put": {
        "description": "Assign or unassign OtherDevices to and from a site.",
        "operationId": "updateOrgOtherDevices",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "device_mac": "0adfea67e65b",
                    "macs": [
                      "5c5b350e0001",
                      "5c5b350e0003"
                    ],
                    "op": "assign",
                    "site_id": "4ac1dcf4-9d8b-7211-65c4-057819f0862b"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/other_device_update_multi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgOtherDevices",
        "tags": [
          "Orgs Devices - Others"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/otherdevices/events/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Org OtherDevices Events",
        "operationId": "countOrgOtherDeviceEvents",
        "parameters": [
          {
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_otherdevices_events_count_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/otherdevice_event_type"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgOtherDeviceEvents",
        "tags": [
          "Orgs Devices - Others"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/otherdevices/events/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search Org OtherDevices Events",
        "operationId": "searchOrgOtherDeviceEvents",
        "parameters": [
          {
            "description": "Site id",
            "in": "query",
            "name": "site_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MAC",
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MAC of attached device",
            "in": "query",
            "name": "device_mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Device model",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Vendor name",
            "in": "query",
            "name": "vendor",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/otherdevice_event_type"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EventsOtherDevicesSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgOtherDeviceEvents",
        "tags": [
          "Orgs Devices - Others"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/otherdevices/{device_mac}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/device_mac"
        }
      ],
      "get": {
        "description": "Get Org other device (3rd party device)",
        "operationId": "getOrgOtherDevice",
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceOther"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgOtherDevice",
        "tags": [
          "Orgs Devices - Others"
        ]
      },
      "put": {
        "description": "If the Site / Device cannot be identified, a manual association can be made",
        "operationId": "updateOrgOtherDevice",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "device_mac": "0adfea67e65b",
                    "site_id": "4ac1dcf4-9d8b-7211-65c4-057819f0862b"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/other_device_update"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgOtherDevice",
        "tags": [
          "Orgs Devices - Others"
        ]
      },
      "delete": {
        "description": "Delete OtherDevice",
        "operationId": "deleteOrgOtherDevice",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgOtherDevice",
        "tags": [
          "Orgs Devices - Others"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/otherdevices/{device_mac}/reboot": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/device_mac"
        }
      ],
      "post": {
        "description": "Reboot OtherDevice",
        "operationId": "rebootOrgOtherDevice",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "rebootOrgOtherDevice",
        "tags": [
          "Orgs Devices - Others"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "properties": {
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "device_other": {
        "additionalProperties": false,
        "properties": {
          "created_time": {
            "$ref": "#/components/schemas/created_time"
          },
          "device_mac": {
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "mac": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time"
          },
          "name": {
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "serial": {
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "state": {
            "type": "string"
          },
          "vendor": {
            "type": "string"
          },
          "vendor_api_id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "device_others": {
        "items": {
          "$ref": "#/components/schemas/device_other"
        },
        "type": "array"
      },
      "event_otherdevice": {
        "additionalProperties": false,
        "properties": {
          "device_mac": {
            "type": "string"
          },
          "mac": {
            "examples": [
              "5c5b351e13b5"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "text": {
            "examples": [
              "Plugged: The Internal 5GB (SIM1) has been inserted into Internal 1."
            ],
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp"
          },
          "type": {
            "examples": [
              "CELLULAR_EDGE_MODEM_WAN_PLUGGED"
            ],
            "type": "string"
          },
          "vendor": {
            "examples": [
              "cradlepoint"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "org_otherdevices_events_count_distinct": {
        "default": "mac",
        "description": "enum: `mac`, `site_id`, `type`, `vendor`",
        "enum": [
          "mac",
          "site_id",
          "type",
          "vendor"
        ],
        "type": "string"
      },
      "other_device_update": {
        "properties": {
          "device_mac": {
            "type": "string"
          },
          "site_id": {
            "examples": [
              "43e9c864-a7e4-4310-8031-d9817d2c5a43"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "other_device_update_multi": {
        "properties": {
          "macs": {
            "$ref": "#/components/schemas/other_device_update_multi_macs"
          },
          "op": {
            "$ref": "#/components/schemas/other_device_update_operation"
          },
          "site_id": {
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "op"
        ],
        "type": "object"
      },
      "other_device_update_multi_macs": {
        "description": "MAC address of the peer device.",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "other_device_update_operation": {
        "description": "The operation being performed. enum: `assign`, `unassign`",
        "enum": [
          "assign",
          "unassign"
        ],
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "properties": {
          "distinct": {
            "type": "string"
          },
          "end": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results"
          },
          "start": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_events_other_devices_search": {
        "additionalProperties": false,
        "properties": {
          "end": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "next": {
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/event_otherdevice"
          },
          "start": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_id": {
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "timestamp": {
        "description": "Epoch (seconds)",
        "format": "double",
        "readOnly": true,
        "type": "number"
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "DeviceOther": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/DeviceOtherExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/device_other"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/DeviceOtherExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/device_other"
            }
          }
        },
        "description": "Example response"
      },
      "DeviceOtherArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/DeviceOtherArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/device_others"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/DeviceOtherArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/device_others"
            }
          }
        },
        "description": "Example response"
      },
      "EventsOtherDevicesSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/EventsOtherDevicesSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_events_other_devices_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/EventsOtherDevicesSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_events_other_devices_search"
            }
          }
        },
        "description": "Example response"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      }
    },
    "parameters": {
      "device_mac": {
        "in": "path",
        "name": "device_mac",
        "required": true,
        "schema": {
          "examples": [
            "0000000000ab"
          ],
          "pattern": "^[0-9a-fA-F]{12}$",
          "type": "string"
        }
      },
      "duration": {
        "description": "Duration like 7d, 2w",
        "in": "query",
        "name": "duration",
        "required": false,
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "End time (epoch timestamp in seconds, or relative string like \"-1d\", \"-2h\", \"now\")",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "otherdevice_event_type": {
        "description": "See  [List Device Events Definitions](/#operations/listOtherDeviceEventsDefinitions)",
        "in": "query",
        "name": "type",
        "schema": {
          "type": "string"
        }
      },
      "page": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "required": false,
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Start time (epoch timestamp in seconds, or relative string like \"-1d\", \"-1w\")",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "DeviceOtherArrayExample": {
        "value": [
          {
            "created_time": 1676983730,
            "device_mac": "001122334455",
            "id": "ae9dee49-69e7-4710-a114-5b827a777738",
            "mac": "5c5b35000018",
            "model": "AP41",
            "modified_time": 1676983730,
            "name": "hallway",
            "org_id": "2818e386-8dec-2562-9ede-5b8a0fbbdc71",
            "serial": "FXLH2015150025",
            "site_id": "4ac1dcf4-9d8b-7211-65c4-057819f0862b",
            "vendor": "cradlepoint"
          }
        ]
      },
      "DeviceOtherExample": {
        "value": {
          "device_mac": "00112233abcd",
          "id": "ae9dee49-69e7-4710-a114-5b827a777738",
          "mac": "5c5b35000018",
          "model": "W2005",
          "name": "W2005-268",
          "org_id": "2818e386-8dec-2562-9ede-5b8a0fbbdc71",
          "serial": "WB23015E025468",
          "site_id": "4ac1dcf4-9d8b-7211-65c4-057819f0862b",
          "state": "online",
          "vendor": "cradlepoint",
          "vendor_api_id": "4658714"
        }
      },
      "EventsOtherDevicesSearchExample": {
        "value": {
          "end": 0,
          "limit": 0,
          "results": {
            "device_mac": "string",
            "mac": "5c5b351e13b5",
            "org_id": "4ac1dcf4-9d8b-7211-65c4-057819f0862a",
            "site_id": "4ac1dcf4-9d8b-7211-65c4-057819f0862b",
            "text": "Plugged: The Internal 5GB (SIM1) has been inserted into Internal 1.",
            "timestamp": 547235620.89,
            "type": "CELLULAR_EDGE_MODEM_WAN_PLUGGED",
            "vendor": "cradlepoint"
          },
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
