{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Services",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "A Service refers to the applications that network users will connect to. These applications represent traffic destinations and are essential for defining network policies and security configurations.\n\nApplications can be defined manually in the Juniper Mist cloud portal. They can be categorized as: * Custom Applications: Defined using IP prefixes, protocols, and port ranges. * Predefined Applications: Selected from a list of common applications (e.g., Social Media, Microsoft Teams). * URL Categories: Used to define applications based on specific URLs.",
      "name": "Orgs Services"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/services": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org Services",
        "operationId": "listOrgServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServicesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgServices",
        "tags": [
          "Orgs Services"
        ]
      },
      "post": {
        "description": "Create getOrgServices Service",
        "operationId": "createOrgService",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "addresses": [
                      "0.0.0.0/0"
                    ],
                    "app_key": "string",
                    "name": "string",
                    "network_id": "d6797cf4-42b9-4cad-8591-9dd91c3f0fc3",
                    "specs": [
                      {
                        "port_range": "8080,8443",
                        "protocol": "any"
                      }
                    ],
                    "subnet": "string",
                    "type": "custom"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/service"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Service"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgService",
        "tags": [
          "Orgs Services"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/services/{service_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/service_id"
        }
      ],
      "get": {
        "description": "Get Org Service",
        "operationId": "getOrgService",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Service"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgService",
        "tags": [
          "Orgs Services"
        ]
      },
      "put": {
        "description": "Update Org Service",
        "operationId": "updateOrgService",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "addresses": [
                      "string"
                    ],
                    "app_categories": [
                      "string"
                    ],
                    "apps": [
                      "string"
                    ],
                    "dscp": 0,
                    "failover_policy": "revertible",
                    "hostnames": [
                      "string"
                    ],
                    "max_jitter": 0,
                    "max_latency": 0,
                    "max_loss": 0,
                    "name": "string",
                    "sle_enabled": false,
                    "specs": [
                      {
                        "port_range": "0",
                        "protocol": "any"
                      }
                    ],
                    "traffic_class": "best_effort",
                    "traffic_type": "data_best_effort",
                    "type": "custom",
                    "vpn_name": "addresses"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/service"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Service"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgService",
        "tags": [
          "Orgs Services"
        ]
      },
      "delete": {
        "description": "Delete Org Service",
        "operationId": "deleteOrgService",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgService",
        "tags": [
          "Orgs Services"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "service": {
        "description": "Applications used for the Gateway configurations",
        "properties": {
          "addresses": {
            "$ref": "#/components/schemas/service_addresses"
          },
          "app_categories": {
            "$ref": "#/components/schemas/service_app_categories"
          },
          "app_subcategories": {
            "$ref": "#/components/schemas/service_app_subcategories"
          },
          "apps": {
            "$ref": "#/components/schemas/service_apps"
          },
          "client_limit_down": {
            "default": 0,
            "description": "0 means unlimited, value from 0 to 107374182",
            "examples": [
              300000
            ],
            "maximum": 107374182,
            "minimum": 0,
            "type": "integer"
          },
          "client_limit_up": {
            "default": 0,
            "description": "0 means unlimited, value from 0 to 107374182",
            "examples": [
              300000
            ],
            "maximum": 107374182,
            "minimum": 0,
            "type": "integer"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time"
          },
          "description": {
            "type": "string"
          },
          "dscp": {
            "$ref": "#/components/schemas/service_dscp"
          },
          "failover_policy": {
            "$ref": "#/components/schemas/service_failover_policy"
          },
          "hostnames": {
            "$ref": "#/components/schemas/service_hostnames"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "max_jitter": {
            "$ref": "#/components/schemas/service_max_jitter"
          },
          "max_latency": {
            "$ref": "#/components/schemas/service_max_latency"
          },
          "max_loss": {
            "$ref": "#/components/schemas/service_max_loss"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time"
          },
          "name": {
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "service_limit_down": {
            "default": 0,
            "description": "0 means unlimited, value from 0 to 107374182",
            "examples": [
              300000
            ],
            "maximum": 107374182,
            "minimum": 0,
            "type": "integer"
          },
          "service_limit_up": {
            "default": 0,
            "description": "0 means unlimited, value from 0 to 107374182",
            "examples": [
              300000
            ],
            "maximum": 107374182,
            "minimum": 0,
            "type": "integer"
          },
          "sle_enabled": {
            "default": false,
            "description": "Whether to enable measure SLE",
            "type": "boolean"
          },
          "specs": {
            "$ref": "#/components/schemas/service_specs"
          },
          "ssr_relaxed_tcp_state_enforcement": {
            "default": false,
            "type": "boolean"
          },
          "traffic_class": {
            "$ref": "#/components/schemas/service_traffic_class"
          },
          "traffic_type": {
            "default": "data_best_effort",
            "description": "values from [List Traffic Types](/#operations/listTrafficTypes)",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/service_type"
          },
          "urls": {
            "$ref": "#/components/schemas/service_urls"
          }
        },
        "type": "object"
      },
      "service_addresses": {
        "description": "If `type`==`custom`, IPv4 and/or IPv6 subnets (e.g. 10.0.0.0/8, fd28::/128)",
        "examples": [
          [
            "10.0.0.0/8",
            "172.21.0.0/16",
            "2001:db8:abcd:12::/64",
            "fd28::/128"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "service_app_categories": {
        "description": "When `type`==`app_categories`, list of application categories are available through [List App Category Definitions](/#operations/listAppCategoryDefinitions)",
        "examples": [
          [
            "Sports"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "service_app_subcategories": {
        "description": "When `type`==`app_categories`, list of application categories are available through [List App Sub Category Definitions](/#operations/listAppSubCategoryDefinitions)",
        "examples": [
          [
            "Shopping"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "service_apps": {
        "description": "When `type`==`apps`, list of applications are available through:\n  * [List Applications](/#operations/listApplications)\n  * [List Gateway Applications](/#operations/listGatewayApplications)\n  * /insight/top_app_by-bytes?wired=true",
        "examples": [
          [
            "office365",
            "okta"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "service_dscp": {
        "description": "For SSR only, when `traffic_type`==`custom`. 0-63 or variable",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 63,
            "minimum": 0,
            "type": "integer"
          }
        ]
      },
      "service_failover_policy": {
        "default": "revertible",
        "description": "enum: `non_revertible`, `none`, `revertible`",
        "enum": [
          "non_revertible",
          "none",
          "revertible"
        ],
        "type": "string"
      },
      "service_hostnames": {
        "description": "If `type`==`custom`, web filtering",
        "items": {
          "examples": [
            "example.com"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "service_max_jitter": {
        "description": "For SSR only, when `traffic_type`==`custom`, for uplink selection. 0-2147483647 or variable",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer"
          }
        ]
      },
      "service_max_latency": {
        "description": "For SSR only, when `traffic_type`==`custom`, for uplink selection. 0-2147483647 or variable",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer"
          }
        ]
      },
      "service_max_loss": {
        "description": "For SSR only, when `traffic_type`==`custom`, for uplink selection. 0-100 or variable",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 100,
            "minimum": 0,
            "type": "integer"
          }
        ]
      },
      "service_spec": {
        "additionalProperties": false,
        "properties": {
          "port_range": {
            "description": "Port number, port range, or variable",
            "examples": [
              "8080,8443"
            ],
            "type": "string"
          },
          "protocol": {
            "default": "any",
            "description": "`https`/ `tcp` / `udp` / `icmp` / `gre` / `any` / `:protocol_number`, `protocol_number` is between 1-254",
            "examples": [
              "tcp"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "service_specs": {
        "description": "When `type`==`custom`, optional, if it doesn't exist, http and https is assumed",
        "items": {
          "$ref": "#/components/schemas/service_spec"
        },
        "type": "array"
      },
      "service_traffic_class": {
        "default": "best_effort",
        "description": "when `traffic_type`==`custom`. enum: `best_effort`, `high`, `low`, `medium`",
        "enum": [
          "best_effort",
          "high",
          "low",
          "medium"
        ],
        "type": "string"
      },
      "service_type": {
        "default": "custom",
        "description": "enum: `app_categories`, `apps`, `custom`, `urls`",
        "enum": [
          "app_categories",
          "apps",
          "custom",
          "urls"
        ],
        "type": "string"
      },
      "service_urls": {
        "description": "When `type`==`urls`, no need for spec as URL can encode the ports being used",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "services": {
        "items": {
          "$ref": "#/components/schemas/service"
        },
        "type": "array"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "Service": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ServiceExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/service"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ServiceExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/service"
            }
          }
        },
        "description": "OK"
      },
      "ServicesArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ServicesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/services"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ServicesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/services"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "page": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "service_id": {
        "in": "path",
        "name": "service_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "ServiceExample": {
        "value": {
          "addresses": [
            "string"
          ],
          "app_categories": [
            "string"
          ],
          "apps": [
            "string"
          ],
          "created_time": 0,
          "dscp": 0,
          "failover_policy": "revertible",
          "hostnames": [
            "string"
          ],
          "id": "497f6eca-6276-5004-bfeb-53cbbbba6f16",
          "max_jitter": 0,
          "max_latency": 0,
          "max_loss": 0,
          "modified_time": 0,
          "name": "string",
          "org_id": "a40f5d1f-d889-42e9-94ea-b9b33585fc6b",
          "sle_enabled": false,
          "specs": [
            {
              "port_range": "0",
              "protocol": "any"
            }
          ],
          "traffic_class": "best_effort",
          "traffic_type": "data_best_effort",
          "type": "custom",
          "vpn_name": "addresses"
        }
      },
      "ServicesArrayExample": {
        "value": [
          {
            "addresses": [
              "string"
            ],
            "apps": [
              "string"
            ],
            "dscp": 8,
            "hostnames": [
              "string"
            ],
            "max_jitter": 0,
            "max_latency": 0,
            "max_loss": 0,
            "name": "string",
            "specs": [
              {
                "port_range": "0",
                "protocol": "any"
              }
            ],
            "traffic_class": "best_effort",
            "traffic_type": "default",
            "type": "custom"
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
