{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs MxEdges",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "A Mist Edge (MxEdge) is a physical or virtual appliance that is deployed in a network to provide centralized data path for user traffic or as a RADIUS Proxy, which was traditionally performed by legacy wireless controllers. It keeps all the control and management functions in the Mist Cloud, offering a microservices architecture to the campus.",
      "name": "Orgs MxEdges"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/mxedges": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List Mist Edge appliances in the organization, optionally filtering for org-level, site-level, or all Mist Edges with `for_site`.",
        "operationId": "listOrgMxEdges",
        "parameters": [
          {
            "description": "Filter for org/site level Mist Edges. enum: `any`, `false`, `true`",
            "in": "query",
            "name": "for_site",
            "schema": {
              "$ref": "#/components/schemas/mxedge_for_site"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxedgesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgMxEdges",
        "tags": [
          "Orgs MxEdges"
        ]
      },
      "post": {
        "description": "Create a Mist Edge appliance configuration in the organization, including cluster assignment, management, services, and tunnel termination settings.",
        "operationId": "createOrgMxEdge",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "model": "ME-100",
                    "mxcluster_id": "572586b7-f97b-a22b-526c-8b97a3f609c4",
                    "mxedge_mgmt": {},
                    "name": "Guest",
                    "ntp_servers": [],
                    "oob_ip_config": {},
                    "services": [
                      "tunterm"
                    ],
                    "tunterm_ip_config": {
                      "gateway": "10.2.1.254",
                      "ip": "10.2.1.1",
                      "netmask": "255.255.255.0"
                    },
                    "tunterm_port_config": {
                      "downstream_ports": [
                        "0",
                        "1",
                        "2",
                        "3"
                      ],
                      "separate_upstream_downstream": true,
                      "upstream_port_vlan_id": 1,
                      "upstream_ports": [
                        "0",
                        "1",
                        "2",
                        "3"
                      ]
                    },
                    "tunterm_switch_config": {
                      "0": {
                        "port_vlan_id": 1,
                        "vlan_ids": [
                          5,
                          2,
                          3
                        ]
                      },
                      "enabled": true
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mxedge"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Mxedge"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/assign": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "post": {
        "description": "Assign one or more Mist Edge appliances from the organization to a site by Mist Edge ID and site ID.",
        "operationId": "assignOrgMxEdgeToSite",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "mxedge_ids": [
                      "387804a7-3474-85ce-15a2-f9a9684c9c90"
                    ],
                    "site_id": "4ac1dcf4-9d8b-7211-65c4-057819f0862b"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mxedges_assign"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AssignSuccess"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "assignOrgMxEdgeToSite",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/claim": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "post": {
        "description": "Claim one or more Mist Edge appliances into the organization using their claim codes.",
        "operationId": "claimOrgMxEdge",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": [
                    "6JG8E-PTFV2-A9Z2N",
                    "DVH4V-SNMSZ-PDXBR"
                  ]
                }
              },
              "schema": {
                "$ref": "#/components/schemas/claim_codes"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClaimMxedge"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "claimOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count organization Mist Edge records, optionally grouped by `distinct` and filtered by Mist Edge, cluster, site, model, distro, tunnel termination version, and time range.",
        "operationId": "countOrgMxEdges",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `distro`, `model`, `mxcluster_id`, `site_id`, `tunterm_version`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_mxedge_count_distinct"
            }
          },
          {
            "description": "Filter results by Mist Edge identifier",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Mist edge site id",
            "in": "query",
            "name": "site_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Mist edge cluster id",
            "in": "query",
            "name": "mxcluster_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by device model",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Debian code name (buster, bullseye)",
            "in": "query",
            "name": "distro",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by tunnel termination version",
            "in": "query",
            "name": "tunterm_version",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Field used to sort results",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to return device stats, default is false",
            "in": "query",
            "name": "stats",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgMxEdges",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/events/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count Mist Edge event records across the organization, optionally grouped by `distinct` and filtered by Mist Edge, cluster, event type, service, and time range.",
        "operationId": "countOrgSiteMxEdgeEvents",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `mxcluster_id`, `mxedge_id`, `package`, `type`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_mxedge_events_count_distinct"
            }
          },
          {
            "description": "Filter results by Mist Edge identifier",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Mist edge cluster id",
            "in": "query",
            "name": "mxcluster_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/mxedge_event_type"
          },
          {
            "description": "Filter results by service name",
            "in": "query",
            "name": "service",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgSiteMxEdgeEvents",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/events/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search Mist Edge event records across the organization with filters for Mist Edge, cluster, event type, service, component, and time range.",
        "operationId": "searchOrgMistEdgeEvents",
        "parameters": [
          {
            "description": "Filter results by Mist Edge identifier",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Mist edge cluster id",
            "in": "query",
            "name": "mxcluster_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/mxedge_event_type"
          },
          {
            "description": "Filter results by service name",
            "in": "query",
            "name": "service",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by component name",
            "in": "query",
            "name": "component",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort_last_seen_reverse"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxEdgeEventsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgMistEdgeEvents",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search organization Mist Edge records with filters for hostname, Mist Edge, cluster, site, model, distro, tunnel termination version, and time range.",
        "operationId": "searchOrgMxEdges",
        "parameters": [
          {
            "description": "Partial / full Device hostname. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `my-london*` and `*london*` match `my-london-1`). Suffix-only wildcards (e.g. `*london-1`) are not supported. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "hostname",
            "schema": {
              "examples": [
                "my-london-1,my-london*",
                "my-london-1",
                "my-london*",
                "*london*"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by Mist Edge identifier. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "examples": [
                "00000000-0000-0000-0000-000000000001,00000000-0000-0000-0000-000000000002"
              ],
              "type": "string"
            }
          },
          {
            "description": "Mist edge cluster id. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "mxcluster_id",
            "schema": {
              "examples": [
                "00000000-0000-0000-0000-000000000001,00000000-0000-0000-0000-000000000002"
              ],
              "type": "string"
            }
          },
          {
            "description": "Partial / full Device model. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `AP4*` and `*P4*` match `AP43`). Suffix-only wildcards (e.g. `*43`) are not supported. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "model",
            "schema": {
              "examples": [
                "AP43,AP4*",
                "AP43",
                "AP4*",
                "*P4*"
              ],
              "type": "string"
            }
          },
          {
            "description": "Debian code name (buster, bullseye)",
            "in": "query",
            "name": "distro",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by tunnel termination version",
            "in": "query",
            "name": "tunterm_version",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Mist edge site id",
            "in": "query",
            "name": "site_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to return device stats, default is false",
            "in": "query",
            "name": "stats",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort_last_seen_reverse"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxEdgeSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgMxEdges",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/unassign": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "post": {
        "description": "Unassign one or more Mist Edge appliances from their current site while keeping them in the organization.",
        "operationId": "unassignOrgMxEdgeFromSite",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "mxedge_ids": [
                      "387804a7-3474-85ce-15a2-f9a9684c9c90"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mxedges_unassign"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AssignSuccess"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "unassignOrgMxEdgeFromSite",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/versions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Retrieve available Mist Edge package versions by upgrade channel and distro.",
        "operationId": "getOrgMxEdgeUpgradeInfo",
        "parameters": [
          {
            "description": "Upgrade channel used to filter available versions. enum: `alpha`, `beta`, `stable`",
            "in": "query",
            "name": "channel",
            "schema": {
              "$ref": "#/components/schemas/get_org_mxedge_upgrade_info_channel"
            }
          },
          {
            "description": "Filter results by distro",
            "in": "query",
            "name": "distro",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxedgeUpgradeInfo"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgMxEdgeUpgradeInfo",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "get": {
        "description": "Retrieve configuration and registration details for a specific Mist Edge appliance in the organization.",
        "operationId": "getOrgMxEdge",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Mxedge"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      },
      "put": {
        "description": "Update a Mist Edge appliance configuration, including model, name, management IP, services, and tunnel termination settings.",
        "operationId": "updateOrgMxEdge",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "model": "ME-X1",
                    "name": "me-gc1-01",
                    "oob_ip_config": {
                      "dns": [
                        "8.8.8.8",
                        "1.1.1.1"
                      ],
                      "gateway": "10.3.172.9",
                      "ip": "10.3.172.201",
                      "netmask": "/24",
                      "type": "static"
                    },
                    "services": [
                      "tunterm"
                    ],
                    "tunterm_ip_config": {
                      "gateway": "10.10.172.2",
                      "ip": "10.10.172.201",
                      "netmask": "/24"
                    },
                    "tunterm_port_config": {
                      "downstream_ports": [
                        "0"
                      ],
                      "separate_upstream_downstream": true,
                      "upstream_port_vlan_id": "1010",
                      "upstream_ports": [
                        "1"
                      ]
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mxedge"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Mxedge"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      },
      "delete": {
        "description": "Delete a Mist Edge appliance record from the organization by Mist Edge ID.",
        "operationId": "deleteOrgMxEdge",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/image/{image_number}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        },
        {
          "in": "path",
          "name": "image_number",
          "required": true,
          "schema": {
            "maximum": 3,
            "minimum": 1,
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Upload and attach an image file to a Mist Edge appliance. A Mist Edge can have up to three image attachments.",
        "operationId": "addOrgMxEdgeImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/image_import"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "addOrgMxEdgeImage",
        "tags": [
          "Orgs MxEdges"
        ]
      },
      "delete": {
        "description": "Delete a numbered image attachment from a Mist Edge appliance.",
        "operationId": "deleteOrgMxEdgeImage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgMxEdgeImage",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/restart": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "post": {
        "description": "Restart the registration workflow for a Mist Edge replacement by disconnecting the currently registered appliance so another Mist Edge can register.",
        "operationId": "restartOrgMxEdge",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "restartOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/services/tunterm/bounce_port": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "post": {
        "description": "Bounce one or more TunTerm data ports on a Mist Edge, optionally setting the hold time between port bounces.",
        "operationId": "bounceOrgMxEdgeDataPorts",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "ports": [
                      "0",
                      "2"
                    ]
                  }
                },
                "Example2": {
                  "value": {
                    "hold_time": 0,
                    "ports": [
                      "string"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/utils_tunterm_bounce_port"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "bounceOrgMxEdgeDataPorts",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/services/tunterm/disconnect_aps": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "post": {
        "description": "Disconnect specific APs from the Mist Edge TunTerm service by AP MAC address.",
        "operationId": "disconnectOrgMxEdgeTuntermAps",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "macs": [
                      "5c5b353e4eb1",
                      "5c5b353e4eb2"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mac_addresses"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "disconnectOrgMxEdgeTuntermAps",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/services/{name}/{action}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        },
        {
          "description": "enum: `mxagent`, `mxdas`, `mxnacedge`, `mxocproxy`, `radsecproxy`, `tunterm`",
          "in": "path",
          "name": "name",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/mxedge_service_name"
          }
        },
        {
          "description": "Restart or start or stop",
          "in": "path",
          "name": "action",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/mxedge_service_action"
          }
        }
      ],
      "post": {
        "description": "Start, stop, or restart a named Mist Edge service such as `tunterm`, `mxagent`, or `radsecproxy`.",
        "operationId": "controlOrgMxEdgeServices",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "controlOrgMxEdgeServices",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/support": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "post": {
        "description": "Trigger upload of support files from a Mist Edge for troubleshooting.",
        "operationId": "uploadOrgMxEdgeSupportFiles",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "uploadOrgMxEdgeSupportFiles",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/unregister": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "post": {
        "description": "Unregister a Mist Edge during a replacement workflow by disconnecting the currently registered appliance so another Mist Edge can register.",
        "operationId": "unregisterOrgMxEdge",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "unregisterOrgMxEdge",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/{mxedge_id}/vm_params": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "get": {
        "description": "Retrieve VM deployment parameters for a Mist Edge, including model, optional name, and base64 user data.",
        "operationId": "getOrgMxEdgeVmParams",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxEdgeVmParams"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgMxEdgeVmParams",
        "tags": [
          "Orgs MxEdges"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "claim_codes": {
        "description": "List of Claim Codes",
        "examples": [
          [
            "6JG8E-PTFV2-A9Z2N",
            "DVH4V-SNMSZ-PDXBR"
          ]
        ],
        "items": {
          "description": "Claim code",
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "event_severity": {
        "description": "Severity level for an event. enum: `normal`, `critical`, `high`, `warning`",
        "enum": [
          "normal",
          "critical",
          "high",
          "warning"
        ],
        "type": "string"
      },
      "get_org_mxedge_upgrade_info_channel": {
        "default": "stable",
        "description": "enum: `alpha`, `beta`, `stable`",
        "enum": [
          "alpha",
          "beta",
          "stable"
        ],
        "type": "string"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "image_import": {
        "additionalProperties": false,
        "description": "Multipart image upload payload",
        "properties": {
          "file": {
            "contentMediaType": "application/octet-stream",
            "description": "Image file content uploaded as multipart form data",
            "type": "string"
          },
          "json": {
            "description": "Optional JSON metadata submitted with the image upload",
            "type": "string"
          }
        },
        "required": [
          "file"
        ],
        "type": "object"
      },
      "ip_type": {
        "default": "dhcp",
        "description": "IP address assignment mode, either DHCP or static. enum: `dhcp`, `static`",
        "enum": [
          "dhcp",
          "static"
        ],
        "examples": [
          "static"
        ],
        "type": "string"
      },
      "mac_addresses": {
        "description": "Request containing one or more MAC addresses",
        "properties": {
          "macs": {
            "$ref": "#/components/schemas/mac_addresses_macs",
            "description": "List of MAC addresses included in the request"
          }
        },
        "required": [
          "macs"
        ],
        "type": "object"
      },
      "mac_addresses_macs": {
        "description": "Unique MAC addresses included in a request",
        "examples": [
          [
            "683b679ac024"
          ]
        ],
        "items": {
          "type": "string"
        },
        "minItems": 1,
        "type": "array",
        "uniqueItems": true
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "mxedge": {
        "description": "Mist Edge appliance configuration and registration state",
        "properties": {
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Timestamp when the Mist Edge record was created"
          },
          "for_site": {
            "description": "Whether this Mist Edge is scoped to a site",
            "readOnly": true,
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the Mist Edge"
          },
          "mac": {
            "description": "Mist Edge MAC address",
            "examples": [
              "0200009fbe65"
            ],
            "readOnly": true,
            "type": "string"
          },
          "magic": {
            "description": "Registration claim code for the Mist Edge",
            "examples": [
              "L-NpT5gi-ADR8WTFd4EiQPY3cP5WdSoD"
            ],
            "readOnly": true,
            "type": "string"
          },
          "model": {
            "description": "Mist Edge hardware or virtual appliance model",
            "examples": [
              "ME-100"
            ],
            "type": "string"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Timestamp when the Mist Edge record was last modified"
          },
          "mxagent_registered": {
            "description": "Whether the Mist Edge agent has registered with Mist cloud",
            "readOnly": true,
            "type": "boolean"
          },
          "mxcluster_id": {
            "description": "Mist Edge cluster identifier that this appliance belongs to",
            "examples": [
              "572586b7-f97b-a22b-526c-8b97a3f609c4"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "mxedge_mgmt": {
            "$ref": "#/components/schemas/mxedge_mgmt",
            "description": "Management credentials and settings for the Mist Edge"
          },
          "name": {
            "description": "Display name of the Mist Edge",
            "examples": [
              "Guest"
            ],
            "type": "string"
          },
          "notes": {
            "description": "Free-form notes for the Mist Edge",
            "examples": [
              "note for mxedge"
            ],
            "type": "string"
          },
          "ntp_servers": {
            "$ref": "#/components/schemas/strings",
            "description": "Time synchronization servers used by the Mist Edge"
          },
          "oob_ip_config": {
            "$ref": "#/components/schemas/mxedge_oob_ip_config",
            "description": "Out-of-band management IP configuration for the Mist Edge"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Identifier of the org that owns the Mist Edge"
          },
          "proxy": {
            "$ref": "#/components/schemas/proxy",
            "description": "Network proxy settings used by the Mist Edge"
          },
          "services": {
            "$ref": "#/components/schemas/mxedge_services",
            "description": "List of services enabled to run on the Mist Edge"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Identifier of the site when the Mist Edge is site-scoped"
          },
          "tunterm_dhcpd_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config",
            "description": "DHCP relay or server settings for Mist Tunneled VLANs"
          },
          "tunterm_extra_routes": {
            "additionalProperties": {
              "$ref": "#/components/schemas/mxedge_tunterm_extra_route"
            },
            "description": "Extra routes for Mist Tunneled VLAN traffic; property key is a CIDR",
            "type": "object"
          },
          "tunterm_igmp_snooping_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_igmp_snooping_config",
            "description": "IGMP snooping settings for Mist Tunneled VLANs"
          },
          "tunterm_ip_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_ip_config",
            "description": "Tunnel termination IP configuration for the Mist Edge"
          },
          "tunterm_monitoring": {
            "$ref": "#/components/schemas/mxedge_tunterm_monitoring",
            "description": "Monitoring checks for tunnel termination reachability"
          },
          "tunterm_multicast_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_multicast_config",
            "description": "Multicast forwarding settings for tunnel termination"
          },
          "tunterm_other_ip_configs": {
            "additionalProperties": {
              "$ref": "#/components/schemas/mxedge_tunterm_other_ip_config"
            },
            "description": "IPconfigs by VLAN ID. Property key is the VLAN ID",
            "type": "object"
          },
          "tunterm_port_config": {
            "$ref": "#/components/schemas/tunterm_port_config",
            "description": "Port configuration for tunnel termination traffic"
          },
          "tunterm_registered": {
            "description": "Whether the tunnel termination service has registered with Mist cloud",
            "readOnly": true,
            "type": "boolean"
          },
          "tunterm_switch_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_switch_configs",
            "description": "Switch VLAN settings for tunnel termination"
          },
          "versions": {
            "$ref": "#/components/schemas/mxedge_versions",
            "description": "Service version information reported by the Mist Edge"
          }
        },
        "required": [
          "model",
          "name"
        ],
        "type": "object"
      },
      "mxedge_event": {
        "additionalProperties": false,
        "description": "Event reported for a Mist Edge appliance or service",
        "properties": {
          "audit_id": {
            "$ref": "#/components/schemas/id",
            "description": "Audit log identifier associated with this event, when available"
          },
          "component": {
            "description": "Mist Edge component that reported the event, such as a power supply or fan",
            "examples": [
              "PS1",
              "Fan1"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "device_id": {
            "description": "Identifier of the device associated with the event, when available",
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "device_type": {
            "description": "Device type associated with the event",
            "type": "string"
          },
          "from_version": {
            "description": "Service version before an upgrade-related event",
            "type": "string"
          },
          "mac": {
            "description": "Mist Edge MAC address associated with the event",
            "type": "string"
          },
          "mxcluster_id": {
            "description": "Mist Edge cluster identifier associated with the event",
            "examples": [
              "2815c917-58e7-472f-a190-bfd44fb58d05"
            ],
            "type": "string"
          },
          "mxedge_id": {
            "description": "Mist Edge identifier associated with the event",
            "examples": [
              "00000000-0000-0000-1000-020000dc585c"
            ],
            "type": "string"
          },
          "mxedge_name": {
            "description": "Display name of the Mist Edge associated with the event",
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Identifier of the org where the event occurred"
          },
          "package": {
            "description": "Software package associated with the event",
            "type": "string"
          },
          "service": {
            "description": "Mist Edge service associated with the event",
            "examples": [
              "tunterm"
            ],
            "type": "string"
          },
          "severity": {
            "$ref": "#/components/schemas/event_severity",
            "description": "Event severity level reported for this Mist Edge event"
          },
          "sys_info.usage": {
            "$ref": "#/components/schemas/mxedge_event_sys_info",
            "description": "System resource usage details associated with the event"
          },
          "text": {
            "description": "Human-readable message describing the Mist Edge event",
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when the Mist Edge event occurred"
          },
          "to_version": {
            "description": "Service version after an upgrade-related event",
            "type": "string"
          },
          "type": {
            "description": "Mist Edge event type code",
            "examples": [
              "ME_SERVICE_STOPPED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "mxedge_event_sys_info": {
        "additionalProperties": false,
        "description": "System resource details for a Mist Edge event",
        "properties": {
          "resource": {
            "description": "System resource referenced by the event",
            "type": "string"
          },
          "severity": {
            "$ref": "#/components/schemas/event_severity",
            "description": "Event severity for the system resource condition"
          }
        },
        "type": "object"
      },
      "mxedge_events": {
        "description": "Mist Edge event records",
        "items": {
          "$ref": "#/components/schemas/mxedge_event"
        },
        "minItems": 1,
        "type": "array",
        "uniqueItems": true
      },
      "mxedge_for_site": {
        "default": "any",
        "description": "enum: `any`, `false`, `true`",
        "enum": [
          "any",
          "false",
          "true"
        ],
        "type": "string"
      },
      "mxedge_mgmt": {
        "additionalProperties": false,
        "description": "Management settings for a Mist Edge appliance",
        "properties": {
          "config_auto_revert": {
            "default": false,
            "description": "Whether the Mist Edge automatically reverts configuration changes if connectivity is lost",
            "type": "boolean"
          },
          "fips_enabled": {
            "default": false,
            "description": "Whether FIPS mode is enabled on the Mist Edge",
            "type": "boolean"
          },
          "mist_password": {
            "description": "Password for the Mist service account on the Mist Edge",
            "examples": [
              "MIST_PASSWORD"
            ],
            "type": "string"
          },
          "oob_ip_type": {
            "$ref": "#/components/schemas/mxedge_mgmt_oob_ip_type",
            "description": "IPv4 address assignment mode for out-of-band management"
          },
          "oob_ip_type6": {
            "$ref": "#/components/schemas/mxedge_mgmt_oob_ip_type6",
            "description": "IPv6 address assignment mode for out-of-band management"
          },
          "root_password": {
            "description": "Root account password for the Mist Edge",
            "examples": [
              "ROOT_PASSWORD"
            ],
            "format": "password",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mxedge_mgmt_oob_ip_type": {
        "default": "dhcp",
        "description": "enum: `dhcp`, `disabled`, `static`",
        "enum": [
          "dhcp",
          "disabled",
          "static"
        ],
        "type": "string"
      },
      "mxedge_mgmt_oob_ip_type6": {
        "default": "autoconf",
        "description": "enum: `autoconf`, `dhcp`, `disabled`, `static`",
        "enum": [
          "autoconf",
          "dhcp",
          "disabled",
          "static"
        ],
        "type": "string"
      },
      "mxedge_oob_ip_config": {
        "additionalProperties": false,
        "description": "IP configuration for the Mist Edge out-of-band management interface",
        "properties": {
          "autoconf6": {
            "default": true,
            "description": "Whether IPv6 autoconfiguration is enabled on the out-of-band management interface",
            "type": "boolean"
          },
          "dhcp6": {
            "default": true,
            "description": "Whether DHCPv6 is enabled on the out-of-band management interface",
            "type": "boolean"
          },
          "dns": {
            "$ref": "#/components/schemas/mxedge_oob_ip_config_dns",
            "description": "Name server addresses for out-of-band management"
          },
          "gateway": {
            "description": "If `type`=`static`, IPv4 default gateway for the out-of-band management interface",
            "examples": [
              "10.2.1.254"
            ],
            "type": "string"
          },
          "gateway6": {
            "description": "If `type6`=`static`, IPv6 default gateway for the out-of-band management interface",
            "examples": [
              "2601:1700:43c0:dc0::1"
            ],
            "type": "string"
          },
          "ip": {
            "description": "If `type`=`static`, IPv4 address for the out-of-band management interface",
            "examples": [
              "10.2.1.2"
            ],
            "type": "string"
          },
          "ip6": {
            "description": "If `type6`=`static`, IPv6 address for the out-of-band management interface",
            "examples": [
              "2601:1700:43c0:dc0:20c:29ff:fea7:93bc"
            ],
            "type": "string"
          },
          "netmask": {
            "description": "If `type`=`static`, IPv4 netmask for the out-of-band management interface",
            "examples": [
              "255.255.255.0"
            ],
            "type": "string"
          },
          "netmask6": {
            "description": "If `type6`=`static`, IPv6 prefix length for the out-of-band management interface",
            "examples": [
              "/64"
            ],
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ip_type",
            "description": "IPv4 address assignment mode for out-of-band management"
          },
          "type6": {
            "$ref": "#/components/schemas/ip_type",
            "description": "IPv6 address assignment mode for out-of-band management"
          }
        },
        "type": "object"
      },
      "mxedge_oob_ip_config_dns": {
        "default": [
          "8.8.8.8",
          "8.8.4.4",
          "2001:4860:4860::8888",
          "2001:4860:4860::8844"
        ],
        "description": "IPv4 ignored if `type`!=`static`, IPv6 ignored if `type6`!=`static`",
        "examples": [
          [
            "8.8.8.8",
            "4.4.4.4",
            "2001:4860:4860::8888",
            "2001:4860:4860::8844"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "mxedge_service_action": {
        "description": "enum: `restart`, `start`, `stop`",
        "enum": [
          "restart",
          "start",
          "stop"
        ],
        "type": "string"
      },
      "mxedge_service_name": {
        "description": "Mist Edge service name. enum: `mxagent`, `mxdas`, `mxnacedge`, `mxocproxy`, `radsecproxy`, `tunterm`",
        "enum": [
          "mxagent",
          "mxdas",
          "mxnacedge",
          "mxocproxy",
          "radsecproxy",
          "tunterm"
        ],
        "type": "string"
      },
      "mxedge_services": {
        "description": "List of services to run, tunterm only for now",
        "items": {
          "default": "tunterm",
          "type": "string"
        },
        "type": "array"
      },
      "mxedge_tunterm_dhcpd_config": {
        "additionalProperties": {
          "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config_property"
        },
        "description": "Global and per-VLAN DHCP relay settings for Mist Tunneled VLANs; property key is the VLAN ID",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether DHCP relay is enabled for Mist Tunneled VLANs",
            "type": "boolean"
          },
          "servers": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config_servers",
            "description": "DHCP relay server addresses used when `type`==`relay`"
          },
          "type": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_type",
            "description": "DHCP handling mode for the global tunnel termination config"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_dhcpd_config_property": {
        "additionalProperties": false,
        "description": "Per-VLAN DHCP relay settings for a Mist Tunneled VLAN",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether DHCP relay is enabled for this tunneled VLAN",
            "type": "boolean"
          },
          "servers": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config_servers",
            "description": "DHCP relay server addresses used by this tunneled VLAN"
          },
          "type": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config_type",
            "description": "DHCP handling mode for this tunneled VLAN"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_dhcpd_config_servers": {
        "description": "List of DHCP servers; required if `type`==`relay`",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "mxedge_tunterm_dhcpd_config_type": {
        "default": "relay",
        "description": "DHCP handling mode for this tunneled VLAN. enum: `relay`",
        "enum": [
          "relay"
        ],
        "type": "string"
      },
      "mxedge_tunterm_dhcpd_type": {
        "default": "relay",
        "description": "DHCP handling mode for the global tunnel termination config. enum: `relay`",
        "enum": [
          "relay"
        ],
        "type": "string"
      },
      "mxedge_tunterm_extra_route": {
        "additionalProperties": false,
        "description": "Extra route for Mist Tunnel traffic on a Mist Edge",
        "properties": {
          "via": {
            "description": "Next-hop IP address for this Mist Tunnel extra route",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_igmp_snooping_config": {
        "additionalProperties": false,
        "description": "IGMP snooping settings for Mist Tunnel VLANs",
        "properties": {
          "enabled": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ],
            "default": false,
            "description": "Whether IGMP snooping is enabled for the configured VLANs"
          },
          "querier": {
            "$ref": "#/components/schemas/mxedge_tunterm_igmp_snooping_querier",
            "description": "IGMP querier settings used with tunnel termination snooping"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/mxedge_tunterm_igmp_snooping_config_vlan_ids",
            "description": "List of VLAN IDs where tunnel termination performs IGMP snooping"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_igmp_snooping_config_vlan_ids": {
        "anyOf": [
          {
            "items": {
              "examples": [
                2
              ],
              "maximum": 4096,
              "minimum": 0,
              "type": "integer"
            },
            "type": "array"
          },
          {
            "type": "string"
          }
        ],
        "description": "List of VLAN IDs where tunnel termination performs IGMP snooping"
      },
      "mxedge_tunterm_igmp_snooping_querier": {
        "additionalProperties": false,
        "description": "IGMP querier settings for tunnel termination",
        "properties": {
          "max_response_time": {
            "description": "Querier's query response interval, in tenths-of-seconds",
            "examples": [
              10
            ],
            "type": "integer"
          },
          "mtu": {
            "description": "The MTU we use (needed when forming large IGMPv3 Reports)",
            "examples": [
              1500
            ],
            "type": "integer"
          },
          "query_interval": {
            "description": "Querier's query interval, in seconds",
            "examples": [
              125
            ],
            "type": "integer"
          },
          "robustness": {
            "description": "IGMP querier robustness variable",
            "maximum": 7,
            "minimum": 1,
            "type": "integer"
          },
          "version": {
            "description": "Querier's maximum protocol version",
            "examples": [
              3
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_ip_config": {
        "additionalProperties": false,
        "description": "IP configuration for the Mist Tunnel interface",
        "properties": {
          "gateway": {
            "description": "IPv4 gateway for the Mist Tunnel interface",
            "examples": [
              "10.2.1.254"
            ],
            "type": "string"
          },
          "gateway6": {
            "description": "IPv6 gateway for the Mist Tunnel interface",
            "examples": [
              "2001:1010:1010:1010::1"
            ],
            "type": "string"
          },
          "ip": {
            "description": "Address on the untagged Mist Tunnel interface, in IPv4 format",
            "examples": [
              "10.2.1.1"
            ],
            "type": "string"
          },
          "ip6": {
            "description": "Address on the Mist Tunnel interface, in IPv6 format",
            "examples": [
              "2001:1010:1010:1010::2"
            ],
            "type": "string"
          },
          "netmask": {
            "description": "Subnet mask for the Mist Tunnel IPv4 address",
            "examples": [
              "255.255.255.0"
            ],
            "type": "string"
          },
          "netmask6": {
            "description": "Prefix length for the Mist Tunnel IPv6 address",
            "examples": [
              "/64"
            ],
            "type": "string"
          }
        },
        "required": [
          "gateway",
          "ip",
          "netmask"
        ],
        "type": "object"
      },
      "mxedge_tunterm_monitoring": {
        "description": "Tunnel termination monitoring checks for a Mist Edge",
        "items": {
          "$ref": "#/components/schemas/tunterm_monitoring"
        },
        "type": "array"
      },
      "mxedge_tunterm_multicast_config": {
        "additionalProperties": false,
        "description": "Multicast forwarding settings for tunnel termination",
        "properties": {
          "mdns": {
            "$ref": "#/components/schemas/mxedge_tunterm_multicast_mdns",
            "description": "Settings for mDNS forwarding on tunnel termination VLANs"
          },
          "ssdp": {
            "$ref": "#/components/schemas/mxedge_tunterm_multicast_ssdp",
            "description": "Settings for SSDP forwarding on tunnel termination VLANs"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_multicast_mdns": {
        "additionalProperties": false,
        "description": "mDNS forwarding settings for tunnel termination",
        "properties": {
          "enabled": {
            "description": "Whether mDNS forwarding is enabled for the configured VLANs",
            "type": "boolean"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/strings",
            "description": "List of VLAN IDs where mDNS forwarding is enabled"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_multicast_ssdp": {
        "additionalProperties": false,
        "description": "SSDP forwarding settings for tunnel termination",
        "properties": {
          "enabled": {
            "description": "Whether SSDP forwarding is enabled for the configured VLANs",
            "type": "boolean"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/strings",
            "description": "List of VLAN IDs where SSDP forwarding is enabled"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_other_ip_config": {
        "additionalProperties": false,
        "description": "Additional IP configuration for a Mist Tunnel VLAN interface",
        "properties": {
          "ip": {
            "description": "Address for the additional Mist Tunnel interface, in IPv4 format",
            "type": "string"
          },
          "netmask": {
            "description": "Subnet mask for the additional Mist Tunnel IPv4 address",
            "type": "string"
          }
        },
        "required": [
          "ip",
          "netmask"
        ],
        "type": "object"
      },
      "mxedge_tunterm_switch_config": {
        "additionalProperties": false,
        "description": "Switch VLAN settings for one tunnel termination port",
        "properties": {
          "port_vlan_id": {
            "description": "Untagged VLAN ID for this tunnel termination switch port",
            "type": "integer"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/mxedge_tunterm_switch_config_vlan_ids",
            "description": "List of tagged VLAN IDs allowed on this tunnel termination switch port"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_switch_config_vlan_ids": {
        "description": "Tagged VLAN IDs allowed on a tunnel termination switch port",
        "items": {
          "$ref": "#/components/schemas/vlan_id_with_variable"
        },
        "type": "array"
      },
      "mxedge_tunterm_switch_configs": {
        "additionalProperties": {
          "$ref": "#/components/schemas/mxedge_tunterm_switch_config"
        },
        "description": "Custom VLAN settings for tunnel termination switch ports, if desired; property key is the port identifier",
        "properties": {
          "enabled": {
            "description": "Whether custom tunnel termination switch VLAN settings are enabled",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "mxedge_upgrade_info": {
        "description": "Available Mist Edge upgrade versions by package",
        "items": {
          "$ref": "#/components/schemas/mxedge_upgrade_info_items"
        },
        "type": "array",
        "uniqueItems": true
      },
      "mxedge_upgrade_info_items": {
        "additionalProperties": false,
        "description": "Available upgrade version for a Mist Edge package",
        "properties": {
          "default": {
            "description": "Whether this version is the default upgrade target for the package",
            "type": "boolean"
          },
          "distro": {
            "description": "Linux distribution codename for the package version",
            "type": "string"
          },
          "package": {
            "description": "Mist Edge service package name",
            "type": "string"
          },
          "version": {
            "description": "Available version for this package",
            "type": "string"
          }
        },
        "required": [
          "package",
          "version"
        ],
        "type": "object"
      },
      "mxedge_versions": {
        "additionalProperties": false,
        "description": "Read-only Mist Edge service versions",
        "properties": {
          "mxagent": {
            "description": "Reported version of the mxagent service",
            "readOnly": true,
            "type": "string"
          },
          "tunterm": {
            "description": "Reported version of the tunnel termination service",
            "readOnly": true,
            "type": "string"
          }
        },
        "readOnly": true,
        "type": "object"
      },
      "mxedge_vm_params": {
        "additionalProperties": false,
        "description": "Mist Edge VM parameters",
        "properties": {
          "model": {
            "description": "Mist Edge VM SKU or model to deploy",
            "examples": [
              "ME-VM"
            ],
            "type": "string"
          },
          "name": {
            "description": "User given name (optional)",
            "type": "string"
          },
          "user_data": {
            "description": "Base64 encoded user data",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mxedges": {
        "description": "List of Mist Edge appliances",
        "items": {
          "$ref": "#/components/schemas/mxedge"
        },
        "type": "array"
      },
      "mxedges_assign": {
        "description": "Request to assign Mist Edges to a site",
        "properties": {
          "mxedge_ids": {
            "$ref": "#/components/schemas/mxedges_assign_mxedge_ids",
            "description": "Mist Edge identifiers to assign to the site"
          },
          "site_id": {
            "description": "Identifier of the site that receives the Mist Edges",
            "examples": [
              "43e9c864-a7e4-4310-8031-d9817d2c5a43"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "site_id",
          "mxedge_ids"
        ],
        "type": "object"
      },
      "mxedges_assign_mxedge_ids": {
        "description": "Mist Edge identifiers to assign to a site",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "mxedges_unassign": {
        "description": "Request to unassign Mist Edges from their site",
        "properties": {
          "mxedge_ids": {
            "$ref": "#/components/schemas/mxedges_unassign_mxedge_ids",
            "description": "Mist Edge identifiers to unassign from their site"
          }
        },
        "required": [
          "mxedge_ids"
        ],
        "type": "object"
      },
      "mxedges_unassign_mxedge_ids": {
        "description": "Mist Edge identifiers to unassign from their site",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "org_mxedge_count_distinct": {
        "default": "model",
        "description": "enum: `distro`, `model`, `mxcluster_id`, `site_id`, `tunterm_version`",
        "enum": [
          "distro",
          "model",
          "mxcluster_id",
          "site_id",
          "tunterm_version"
        ],
        "type": "string"
      },
      "org_mxedge_events_count_distinct": {
        "default": "mxedge_id",
        "description": "enum: `mxcluster_id`, `mxedge_id`, `package`, `type`",
        "enum": [
          "mxcluster_id",
          "mxedge_id",
          "package",
          "type"
        ],
        "type": "string"
      },
      "proxy": {
        "additionalProperties": false,
        "description": "Proxy Configuration to talk to Mist",
        "properties": {
          "disabled": {
            "default": false,
            "description": "Whether this proxy configuration is disabled",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "url": {
            "description": "Proxy URL used to reach Mist",
            "examples": [
              "https://proxy.corp.com:8080/"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_assign_success": {
        "additionalProperties": false,
        "description": "Assignment operation success response",
        "properties": {
          "success": {
            "$ref": "#/components/schemas/strings",
            "description": "Messages describing successful assignment results"
          }
        },
        "required": [
          "success"
        ],
        "type": "object"
      },
      "response_claim_mx_edge": {
        "additionalProperties": false,
        "description": "Mist Edge claim response",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier assigned to the claimed Mist Edge"
          },
          "magic": {
            "description": "Claim magic token returned for the Mist Edge",
            "type": "string"
          }
        },
        "required": [
          "id",
          "magic"
        ],
        "type": "object"
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_mxedge_events_search": {
        "additionalProperties": false,
        "description": "Search response for Mist Edge event records",
        "properties": {
          "end": {
            "description": "Epoch timestamp for the end of the Mist Edge event search window",
            "examples": [
              1694708579
            ],
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of Mist Edge event records returned in this page",
            "examples": [
              10
            ],
            "type": "integer"
          },
          "next": {
            "description": "Pagination cursor or URL for retrieving the next page of Mist Edge event records",
            "type": "string"
          },
          "page": {
            "description": "Returned page number for Mist Edge event records",
            "examples": [
              3
            ],
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/mxedge_events",
            "description": "Mist Edge event records matching the search filters"
          },
          "start": {
            "description": "Epoch timestamp for the start of the Mist Edge event search window",
            "examples": [
              1694622179
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_mxedge_search": {
        "additionalProperties": false,
        "description": "Search response for Mist Edge records",
        "properties": {
          "end": {
            "description": "Epoch timestamp for the end of the Mist Edge search window",
            "examples": [
              1694708579
            ],
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of Mist Edge records returned in this page",
            "examples": [
              10
            ],
            "type": "integer"
          },
          "next": {
            "description": "Pagination cursor or URL for retrieving the next page of Mist Edge records",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_mxedge_search_results",
            "description": "Mist Edge records matching the search filters"
          },
          "start": {
            "description": "Epoch timestamp for the start of the Mist Edge search window",
            "examples": [
              1694622179
            ],
            "type": "integer"
          },
          "total": {
            "description": "Number of Mist Edge records matching the search filters across all pages",
            "examples": [
              2
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_mxedge_search_results": {
        "description": "Mist Edge search records returned by a search response",
        "items": {
          "$ref": "#/components/schemas/search_mxedge"
        },
        "type": "array"
      },
      "search_mxedge": {
        "additionalProperties": false,
        "description": "Mist Edge record returned by search APIs",
        "properties": {
          "distro": {
            "description": "Linux distribution codename running on the Mist Edge",
            "type": "string"
          },
          "last_seen": {
            "description": "Time when the Mist Edge was last observed, in epoch seconds",
            "type": "number"
          },
          "model": {
            "description": "Mist Edge hardware or VM model",
            "examples": [
              "ME-VM"
            ],
            "type": "string"
          },
          "mxcluster_id": {
            "$ref": "#/components/schemas/id",
            "description": "Cluster identifier associated with the Mist Edge"
          },
          "mxedge_id": {
            "$ref": "#/components/schemas/id",
            "description": "Mist Edge identifier for the search record"
          },
          "name": {
            "description": "Display name of the Mist Edge",
            "examples": [
              "me-vm-1"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization identifier associated with the Mist Edge"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site identifier associated with the Mist Edge, when assigned to a site"
          },
          "tunterm_version": {
            "description": "Tunnel termination service version running on the Mist Edge",
            "type": "string"
          },
          "uptime": {
            "description": "Number of seconds the Mist Edge has been running since last boot",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "strings": {
        "description": "Unique string values returned or accepted by this schema",
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "timestamp": {
        "description": "Epoch timestamp, in seconds",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "tunterm_monitoring": {
        "description": "Tunnel termination monitoring checks",
        "items": {
          "$ref": "#/components/schemas/tunterm_monitoring_item"
        },
        "type": "array"
      },
      "tunterm_monitoring_item": {
        "additionalProperties": false,
        "description": "Monitoring check for tunnel termination reachability",
        "properties": {
          "host": {
            "description": "Can be ip, ipv6, hostname",
            "examples": [
              "10.2.8.15"
            ],
            "minLength": 1,
            "type": "string"
          },
          "port": {
            "description": "When `protocol`==`tcp`, TCP port checked by the monitoring probe",
            "examples": [
              80
            ],
            "type": "integer"
          },
          "protocol": {
            "$ref": "#/components/schemas/tunterm_monitoring_protocol",
            "description": "Monitoring method used for this tunnel termination check"
          },
          "src_vlan_id": {
            "description": "Optional source for the monitoring check, vlan_id configured in tunterm_other_ip_configs",
            "examples": [
              5
            ],
            "type": "integer"
          },
          "timeout": {
            "default": 300,
            "description": "Maximum time for this monitoring check, in seconds",
            "examples": [
              300
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "tunterm_monitoring_protocol": {
        "description": "enum: `arp`, `ping`, `tcp`",
        "enum": [
          "arp",
          "ping",
          "tcp"
        ],
        "examples": [
          "tcp"
        ],
        "minLength": 1,
        "type": "string"
      },
      "tunterm_port_config": {
        "additionalProperties": false,
        "description": "Ethernet port configuration for tunnel termination interfaces",
        "properties": {
          "downstream_ports": {
            "$ref": "#/components/schemas/tunterm_port_config_downstream_ports",
            "description": "Ports connected downstream toward APs for tunnel termination"
          },
          "separate_upstream_downstream": {
            "default": false,
            "description": "Whether to separate upstream / downstream ports. default is false where all ports will be used.",
            "type": "boolean"
          },
          "upstream_port_vlan_id": {
            "$ref": "#/components/schemas/tunterm_port_config_upstream_port_vlan_id",
            "description": "Native VLAN ID applied to upstream tunnel termination ports"
          },
          "upstream_ports": {
            "$ref": "#/components/schemas/tunterm_port_config_upstream_ports",
            "description": "Ports connected upstream toward the LAN for tunnel termination"
          }
        },
        "type": "object"
      },
      "tunterm_port_config_downstream_ports": {
        "description": "List of ports to be used for downstream (to AP) purpose",
        "examples": [
          [
            "2",
            "3"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "tunterm_port_config_upstream_port_vlan_id": {
        "description": "Native VLAN ID for upstream ports",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          }
        ]
      },
      "tunterm_port_config_upstream_ports": {
        "description": "List of ports to be used for upstream purpose (to LAN)",
        "examples": [
          [
            "0",
            "1"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "utils_tunterm_bounce_port": {
        "description": "Request to bounce Mist Edge TunTerm data ports",
        "properties": {
          "hold_time": {
            "description": "In milli seconds, hold time between multiple port bounces",
            "type": "integer"
          },
          "ports": {
            "$ref": "#/components/schemas/utils_tunterm_bounce_port_ports",
            "description": "TunTerm data ports to bounce"
          }
        },
        "required": [
          "ports"
        ],
        "type": "object"
      },
      "utils_tunterm_bounce_port_ports": {
        "description": "TunTerm data port identifiers to bounce",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "vlan_id_with_variable": {
        "description": "VLAN ID, either numeric or expressed as a template variable string",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          }
        ]
      }
    },
    "responses": {
      "AssignSuccess": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/AssignSuccessExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_assign_success"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/AssignSuccessExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_assign_success"
            }
          }
        },
        "description": "OK - list only devices that has deviceprofile_id changed"
      },
      "ClaimMxedge": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ClaimMxedgeExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_claim_mx_edge"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ClaimMxedgeExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_claim_mx_edge"
            }
          }
        },
        "description": "OK"
      },
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "MxEdgeEventsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxEdgeEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_mxedge_events_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxEdgeEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_mxedge_events_search"
            }
          }
        },
        "description": "Example response"
      },
      "MxEdgeSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxEdgeSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_mxedge_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxEdgeSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_mxedge_search"
            }
          }
        },
        "description": "Example response"
      },
      "MxEdgeVmParams": {
        "content": {
[...]
