{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Integration SkyATP",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Sky Advanced Threat Prevention (Sky ATP) is a cloud-based security designed to detect and mitigate advanced threats in real-time, ensuring the security and integrity of your network.  \nThe integration of Sky ATP with Mist is a strategic move to enhance the security posture of wireless networks by leveraging the capabilities of both solutions.\n\n\nThe integration of Sky ATP with Mist enhances the security of wireless networks by providing real-time threat alerts and mitigation capabilities. Here are the key benefits of this integration:\n\n* Enhanced Security: Adds another layer of security to the robust mechanisms already in place within the Mist WLAN platform. It leverages artificial intelligence (AI) for tighter security, lower operational costs, and optimized user experience.\n* Real-Time Threat Detection: Quickly identifies devices on the network that are infected with malware and takes appropriate actions. This ensures that security risks are assessed and mitigated promptly when users and devices are connected to wireless networks.\n* Improved Device Tracking: Allows for better tracking of client hosts as Mist supplies client MAC addresses to Juniper ATP Cloud. This information is crucial for identifying and mitigating threats.\n* Streamlined Security Events: Threat alerts detected by Juniper SRX Series Firewalls and ATP Cloud are automatically streamed to Mist, enabling administrators to quickly assess security risks and take appropriate actions such as quarantine or enforce security policies.",
      "name": "Orgs Integration SkyATP"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/setting/skyatp/secintel_allowlist": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "put": {
        "description": "Update Sky ATP Allowed List",
        "operationId": "udpateOrgAtpAllowedList",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "domains": [
                      {
                        "comment": "restricted",
                        "value": "unsafe.xxx"
                      }
                    ],
                    "ips": [
                      {
                        "comment": "nas",
                        "value": "10.1.3.5"
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/skyatp_list"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SkyAtpList"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "udpateOrgAtpAllowedList",
        "tags": [
          "Orgs Integration SkyATP"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/setting/skyatp/secintel_blocklist": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "put": {
        "description": "Update Sky ATP Blocked List",
        "operationId": "udpateOrgAtpBlockedList",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "domains": [
                      {
                        "comment": "restricted",
                        "value": "unsafe.xxx"
                      }
                    ],
                    "ips": [
                      {
                        "comment": "nas",
                        "value": "10.1.3.5"
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/skyatp_list"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SkyAtpList"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "udpateOrgAtpBlockedList",
        "tags": [
          "Orgs Integration SkyATP"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/setting/skyatp/setup": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get Org SkyATP Integration",
        "operationId": "getOrgSkyAtpIntegration",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountSkyAtpInfo"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgSkyAtpIntegration",
        "tags": [
          "Orgs Integration SkyATP"
        ]
      },
      "put": {
        "description": "Update Sky ATP config",
        "operationId": "udpateOrgAtpIntegration",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "secintel": {
                      "third_party_threat_feeds": [
                        "block_list"
                      ]
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/account_skyatp_data"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountSkyAtpData"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "udpateOrgAtpIntegration",
        "tags": [
          "Orgs Integration SkyATP"
        ]
      },
      "post": {
        "description": "1. Login to the Sky ATP realm through the Mist UI by providing the realm, username and password.\n2. Sky ATP API is invoked which creates the realm using above details.\n3. Sky ATP by default will provide functionality for Security-Intelligence and Advanced Anti Malware.\n4. Security Intelligence will provide configuration for CC, DNS Feeds, Infected Host, Blocklists and Allowlists.",
        "operationId": "setupOrgAtpIntegration",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "password": "foryoureyesonly",
                    "realm": "mist-team",
                    "username": "john@abc.com"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/account_skyatp_config"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccountSkyAtpInfo"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "setupOrgAtpIntegration",
        "tags": [
          "Orgs Integration SkyATP"
        ]
      },
      "delete": {
        "description": "Delete SkyATP Integration",
        "operationId": "deleteOrgSkyAtpIntegration",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgSkyAtpIntegration",
        "tags": [
          "Orgs Integration SkyATP"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "account_skyatp_config": {
        "properties": {
          "password": {
            "examples": [
              "foryoureyesonly"
            ],
            "type": "string"
          },
          "realm": {
            "examples": [
              "mist-team"
            ],
            "type": "string"
          },
          "username": {
            "examples": [
              "john@abc.com"
            ],
            "type": "string"
          }
        },
        "required": [
          "realm",
          "username",
          "password"
        ],
        "type": "object"
      },
      "account_skyatp_data": {
        "properties": {
          "secintel": {
            "$ref": "#/components/schemas/account_skyatp_data_secintel"
          },
          "secintel_allowlist_url": {
            "examples": [
              "https://papi.s3.amazonaws.com/secintel_allowlist/xxx..."
            ],
            "readOnly": true,
            "type": "string"
          },
          "secintel_blocklist_url": {
            "examples": [
              "https://papi.s3.amazonaws.com/secintel_blocklist/xxx..."
            ],
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "account_skyatp_data_secintel": {
        "additionalProperties": false,
        "description": "juniper secintel_feeds are enabled depending on your license tier: infected_host, geo_ip, attacker_ip, command_and_control.\nthird party:\n  * ip-based: block_list, threatfox_ip, feodo_tracker, dshield, tor\n  * url-based: threatfox_url, urlhaus, open_phish\n  * domain-based: threatfox_domains",
        "properties": {
          "third_party_threat_feeds": {
            "$ref": "#/components/schemas/strings"
          }
        },
        "type": "object"
      },
      "account_skyatp_info": {
        "additionalProperties": false,
        "properties": {
          "realm": {
            "examples": [
              "mist-team"
            ],
            "type": "string"
          },
          "username": {
            "examples": [
              "john@abc.com"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "skyatp_list": {
        "properties": {
          "domains": {
            "$ref": "#/components/schemas/skyatp_list_domains"
          },
          "ip": {
            "$ref": "#/components/schemas/skyatp_list_ips"
          }
        },
        "type": "object"
      },
      "skyatp_list_domain": {
        "additionalProperties": false,
        "properties": {
          "comment": {
            "examples": [
              "restricted"
            ],
            "type": "string"
          },
          "value": {
            "examples": [
              "unsafe.com"
            ],
            "type": "string"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "skyatp_list_domains": {
        "items": {
          "$ref": "#/components/schemas/skyatp_list_domain"
        },
        "type": "array"
      },
      "skyatp_list_ip": {
        "additionalProperties": false,
        "properties": {
          "comment": {
            "examples": [
              "nas"
            ],
            "type": "string"
          },
          "value": {
            "examples": [
              "10.1.3.5"
            ],
            "type": "string"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "skyatp_list_ips": {
        "items": {
          "$ref": "#/components/schemas/skyatp_list_ip"
        },
        "type": "array"
      },
      "strings": {
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      }
    },
    "responses": {
      "AccountSkyAtpData": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/account_skyatp_info"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/account_skyatp_info"
            }
          }
        },
        "description": "OK"
      },
      "AccountSkyAtpInfo": {
        "content": {
          "application/json": {
            "example": {
              "Example": {
                "value": {
                  "secintel": {
                    "third_party_threat_feeds": [
                      "block_list"
                    ]
                  },
                  "secintel_allowlist_url": "https://papi.s3.amazonaws.com/secintel_allowlist/xxx...",
                  "secintel_blocklist_url": "https://papi.s3.amazonaws.com/secintel_blocklist/xxx..."
                }
              }
            },
            "schema": {
              "$ref": "#/components/schemas/account_skyatp_data"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/account_skyatp_data"
            }
          }
        },
        "description": "OK"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "SkyAtpList": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SkyAtpListExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/skyatp_list"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SkyAtpListExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/skyatp_list"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "SkyAtpListExample": {
        "value": {
          "domains": [
            {
              "comment": "restricted",
              "value": "unsafe.xxx"
            }
          ],
          "ips": [
            {
              "comment": "nas",
              "value": "10.1.3.5"
            }
          ]
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
