{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Alarm Templates",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "An Alarm Template is a set of Alarm Rules that could be applied to\none or more sites (while each site can only pick one Alarm Template), or to the\nwhole org.\n\n\nOnce created, the Alarm template must be assigned with the `alarmtemplate_id` attribute to one of the following\n* the whole org with the [Update Org](/#operations/updateOrg) API Call\n* one or multiple sites with the [Update Site Info](/#operations/updateSiteInfo) API Call",
      "name": "Orgs Alarm Templates"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/alarmtemplates": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org Alarm Templates",
        "operationId": "listOrgAlarmTemplates",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AlarmtemplatesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgAlarmTemplates",
        "tags": [
          "Orgs Alarm Templates"
        ]
      },
      "post": {
        "description": "Available rules can be found in [List Alarm Definitions#](/#operations/listAlarmDefinitions)\n\nThe delivery dict is only required if different from the template delivery settings.",
        "operationId": "createOrgAlarmTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/alarm_template"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Alarmtemplate"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgAlarmTemplate",
        "tags": [
          "Orgs Alarm Templates"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/alarmtemplates/suppress": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org Alarms Currently Suppressed",
        "operationId": "listOrgSuppressedAlarms",
        "parameters": [
          {
            "description": "Returns both scopes if not specified",
            "in": "query",
            "name": "scope",
            "schema": {
              "$ref": "#/components/schemas/suppressed_alarm_scope"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgSuppressedAlarms"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgSuppressedAlarms",
        "tags": [
          "Orgs Alarm Templates"
        ]
      },
      "post": {
        "description": "In certain situations, for example, scheduled maintenance, you may want to suspend alarms to be triggered against Sites for a period of time.",
        "operationId": "suppressOrgAlarm",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "org_suppression": {
                  "value": {
                    "duration": 3600,
                    "scheduled_time": 1678232980,
                    "scope": "org"
                  }
                },
                "site_suppression": {
                  "value": {
                    "applies": {
                      "org_id": "2818e386-8dec-2562-9ede-5b8a0fbbdc71",
                      "site_ids": [
                        "4ac1dcf4-9d8b-7211-65c4-057819f0862b"
                      ],
                      "sitegroup_ids": [
                        "581328b6-e382-f54e-c9dc-999983183a34",
                        "f57096b9-0c2f-4df6-c77b-ae6ae87a3d43"
                      ]
                    },
                    "duration": 3600,
                    "scheduled_time": 1678232980,
                    "scope": "site"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/suppressed_alarm"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "suppressOrgAlarm",
        "tags": [
          "Orgs Alarm Templates"
        ]
      },
      "delete": {
        "description": "Un-Suppress Suppressed Alarms",
        "operationId": "unsuppressOrgSuppressedAlarms",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "unsuppressOrgSuppressedAlarms",
        "tags": [
          "Orgs Alarm Templates"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/alarmtemplates/{alarmtemplate_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/alarmtemplate_id"
        }
      ],
      "get": {
        "description": "Get Org Alarm Template Details",
        "operationId": "getOrgAlarmTemplate",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Alarmtemplate"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgAlarmTemplate",
        "tags": [
          "Orgs Alarm Templates"
        ]
      },
      "put": {
        "description": "Update Org Alarm Template",
        "operationId": "updateOrgAlarmTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "delivery": {
                      "additional_emails": [
                        "string"
                      ],
                      "enabled": true,
                      "to_org_admins": true,
                      "to_site_admins": true
                    },
                    "name": "string",
                    "rules": {
                      "adhoc_network": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "air_magnet_scan": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "ap_offline": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "bad_cable": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "beacon_flood": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "bssid_spoofing": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "device_down": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "device_restarted": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "dhcp_failure": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "disassociation_flood": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "dot1x_failure": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "eap_dictionary_attack": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "eap_failure_injection": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "eap_handshake_flood": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "eap_spoofed_success": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "eapol_logoff_attack": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "essid_jack": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "excessive_client": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "excessive_eapol_start": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "gateway_down": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "gw_bad_cable": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "gw_negotiation_mismatch": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "honeypot_ssid": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "krack_attack": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "missing_vlan": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "monkey_jack": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "negotiation_mismatch": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "non_compliant": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "out_of_sequence": {
                        "enabled": true
                      },
                      "psk_failure": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "repeated_auth_failures": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "rogue_ap": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "rogue_client": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "secpolicy_violation": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "ssid_injection": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "switch_down": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "tkip_icv_attack": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "vendor_ie_missing": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "watched_station": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      },
                      "zero_ssid_association": {
                        "delivery": {
                          "additional_emails": [
                            "string"
                          ],
                          "enabled": true,
                          "to_org_admins": true,
                          "to_site_admins": true
                        },
                        "enabled": true
                      }
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/alarm_template"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Alarmtemplate"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgAlarmTemplate",
        "tags": [
          "Orgs Alarm Templates"
        ]
      },
      "delete": {
        "description": "Delete Org Alarm Template",
        "operationId": "deleteOrgAlarmTemplate",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgAlarmTemplate",
        "tags": [
          "Orgs Alarm Templates"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "alarm_template": {
        "description": "Alarm Template",
        "properties": {
          "created_time": {
            "$ref": "#/components/schemas/created_time"
          },
          "delivery": {
            "$ref": "#/components/schemas/delivery"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time"
          },
          "name": {
            "description": "Some string to name the alarm template",
            "examples": [
              "default"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "rules": {
            "additionalProperties": {
              "$ref": "#/components/schemas/alarm_template_rule"
            },
            "description": "Alarm Rules object to configure the individual alarm keys/types. Property key is the alarm name.",
            "examples": [
              {
                "ap_offline": {
                  "delivery": {
                    "additional_emails": [
                      "string"
                    ],
                    "enabled": true,
                    "to_org_admins": true,
                    "to_site_admins": true
                  },
                  "enabled": true
                },
                "bad_cable": {
                  "delivery": {
                    "additional_emails": [
                      "string"
                    ],
                    "enabled": true,
                    "to_org_admins": true,
                    "to_site_admins": true
                  },
                  "enabled": true
                }
              }
            ],
            "type": "object"
          }
        },
        "required": [
          "delivery",
          "rules"
        ],
        "type": "object"
      },
      "alarm_template_rule": {
        "additionalProperties": false,
        "properties": {
          "delivery": {
            "$ref": "#/components/schemas/delivery"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "alarm_templates": {
        "items": {
          "$ref": "#/components/schemas/alarm_template"
        },
        "type": "array"
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "delivery": {
        "additionalProperties": false,
        "description": "Delivery object to configure the alarm delivery",
        "properties": {
          "additional_emails": {
            "$ref": "#/components/schemas/delivery_additional_emails"
          },
          "enabled": {
            "description": "Whether to enable the alarm delivery via emails or not",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "to_org_admins": {
            "description": "Whether to deliver the alarms via emails to Org admins or not",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "to_site_admins": {
            "description": "Whether to deliver the alarms via emails to Site admins or not",
            "examples": [
              false
            ],
            "type": "boolean"
          }
        },
        "required": [
          "enabled"
        ],
        "type": "object"
      },
      "delivery_additional_emails": {
        "description": "List of additional email string to deliver the alarms via emails",
        "items": {
          "examples": [
            "john@mycorp.com"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_org_suppress_alarm": {
        "additionalProperties": false,
        "properties": {
          "results": {
            "$ref": "#/components/schemas/response_org_suppress_alarm_results"
          }
        },
        "type": "object"
      },
      "response_org_suppress_alarm_item": {
        "additionalProperties": false,
        "properties": {
          "duration": {
            "description": "Duration, in seconds. Maximum duration is 86400 * 14 (14 days). 0 is to un-suppress alarms.",
            "type": "integer"
          },
          "expire_time": {
            "type": "integer"
          },
          "scheduled_time": {
            "type": "integer"
          },
          "scope": {
            "$ref": "#/components/schemas/suppressed_alarm_scope"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          }
        },
        "type": "object"
      },
      "response_org_suppress_alarm_results": {
        "items": {
          "$ref": "#/components/schemas/response_org_suppress_alarm_item"
        },
        "type": "array"
      },
      "site_id": {
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "suppressed_alarm": {
        "properties": {
          "applies": {
            "$ref": "#/components/schemas/suppressed_alarm_applies"
          },
          "duration": {
            "default": 3600,
            "description": "Duration, in seconds. Maximum duration is 86400 * 180 (180 days). 0 is to un-suppress alarms",
            "maximum": 15552000,
            "minimum": 0,
            "type": "number"
          },
          "scheduled_time": {
            "description": "Epoch_time in seconds, Default as now, accepted time range is from now to now + 7 days",
            "type": "integer"
          },
          "scope": {
            "$ref": "#/components/schemas/suppressed_alarm_scope"
          }
        },
        "type": "object"
      },
      "suppressed_alarm_applies": {
        "additionalProperties": false,
        "description": "If `scope`==`site`. Object defines the scope (within the org e.g. whole org, and/or some site_groups, and/or some sites) for which the alarm service has to be suppressed for some `duration`",
        "properties": {
          "org_id": {
            "description": "UUID of the current org (if provided, the alarms will be suppressed at org level)",
            "format": "uuid",
            "type": "string"
          },
          "site_ids": {
            "$ref": "#/components/schemas/suppressed_alarm_applies_site_ids"
          },
          "sitegroup_ids": {
            "$ref": "#/components/schemas/suppressed_alarm_applies_sitegroup_ids"
          }
        },
        "type": "object"
      },
      "suppressed_alarm_applies_site_ids": {
        "description": "List of UUID of the sites within the org (if provided, the alarms will be suppressed for all the mentioned sites under the org)",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "suppressed_alarm_applies_sitegroup_ids": {
        "description": "List of UUID of the site groups within the org (if provided, the alarms will be suppressed for all the sites under those site groups)",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "suppressed_alarm_scope": {
        "default": "site",
        "description": "level of scope. enum: `org`, `site`",
        "enum": [
          "org",
          "site"
        ],
        "type": "string"
      }
    },
    "responses": {
      "Alarmtemplate": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/alarm_template"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/alarm_template"
            }
          }
        },
        "description": "OK"
      },
      "AlarmtemplatesArray": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/alarm_templates"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/alarm_templates"
            }
          }
        },
        "description": "OK"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "OrgSuppressedAlarms": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgSuppressedAlarmsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_org_suppress_alarm"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/OrgSuppressedAlarmsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_org_suppress_alarm"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "alarmtemplate_id": {
        "in": "path",
        "name": "alarmtemplate_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "page": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "OrgSuppressedAlarmsExample": {
        "value": {
          "results": [
            {
              "duration": 48,
              "expire_time": 1678233080,
              "scheduled_time": 1678232900,
              "scope": "site",
              "site_id": "581328b6-e382-f54e-c9dc-9c998d183a34"
            },
            {
              "duration": 48,
              "expire_time": 1678233080,
              "scheduled_time": 1678232900,
              "scope": "org",
              "site_id": "581328b6-e382-f54e-c9dc-9c998d183a35"
            }
          ]
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
