{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Clients - Wan",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "WAN Clients are devices connected to a Juniper SRX or SSX gateway monitor or managed by Mist",
      "name": "Orgs Clients - Wan"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/wan_client/events/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Org WAN Client-Events",
        "operationId": "countOrgWanClientEvents",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `hostname`, `ip`, `mac`, `mfg`, `type`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_wan_clients_events_count_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/client_event_type"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgWanClientEvents",
        "tags": [
          "Orgs Clients - Wan"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/wan_clients/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Org WAN Clients",
        "operationId": "countOrgWanClients",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `hostname`, `ip`, `mac`, `mfg`, `network`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_wan_clients_count_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgWanClients",
        "tags": [
          "Orgs Clients - Wan"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/wan_clients/events/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search Org WAN Client Events",
        "operationId": "searchOrgWanClientEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/client_event_type"
          },
          {
            "$ref": "#/components/parameters/partial_filter_mac_client"
          },
          {
            "$ref": "#/components/parameters/partial_filter_hostname_client"
          },
          {
            "$ref": "#/components/parameters/partial_filter_ip_client"
          },
          {
            "$ref": "#/components/parameters/partial_filter_mfg_client"
          },
          {
            "description": "Filter results by NAC rule identifier",
            "in": "query",
            "name": "nacrule_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WanClientEventsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgWanClientEvents",
        "tags": [
          "Orgs Clients - Wan"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/wan_clients/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search Org WAN Clients",
        "operationId": "searchOrgWanClients",
        "parameters": [
          {
            "description": "Filter results by site identifier",
            "in": "query",
            "name": "site_id",
            "schema": {
              "examples": [
                "72771e6a-6f5e-4de4-a5b9-1266c4197811"
              ],
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "Partial / full Client hostname. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `everest*` and `*rest*` match `my-everest-client`). Suffix-only wildcards (e.g. `*everest`) are not supported. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "hostname",
            "schema": {
              "examples": [
                "my-everest-client,my-everest*",
                "my-everest-client",
                "my-everest*",
                "*everest*"
              ],
              "type": "string"
            }
          },
          {
            "description": "Partial / full Client IP address. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `10.100.10.*` and `*100.10.*` match `10.100.10.54`). Suffix-only wildcards (e.g. `*.54`) are not supported. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "ip",
            "schema": {
              "examples": [
                "10.100.10.54,10.100.10.*",
                "10.100.10.54",
                "10.100.10.*",
                "*100.10.*"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by source IP address",
            "in": "query",
            "name": "ip_src",
            "schema": {
              "examples": [
                "dhcp"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by MAC address. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "mac",
            "schema": {
              "examples": [
                "5c5b53010101,5c5b53020202",
                "5c5b53010101"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by manufacturer. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "mfg",
            "schema": {
              "examples": [
                "Unknown,Juniper Networks"
              ],
              "type": "string"
            }
          },
          {
            "description": "Partial / full Name of the network the client is/was connected to. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `my-corp*` and `*corp*` match `my-corp-network`). Suffix-only wildcards (e.g. `*corp`) are not supported. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "network",
            "schema": {
              "examples": [
                "my-corp-network,my-corp*",
                "my-corp-network",
                "my-corp*",
                "*corp*"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WanClientsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgWanClients",
        "tags": [
          "Orgs Clients - Wan"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "events_client_wan": {
        "additionalProperties": false,
        "description": "WAN client event returned by WAN client event search APIs",
        "properties": {
          "When": {
            "description": "Event timestamp string reported by the WAN client event source",
            "examples": [
              "2022-12-31 23:59:59.293000+00:00"
            ],
            "type": "string"
          },
          "ev_type": {
            "description": "WAN client event type identifier",
            "examples": [
              "CLIENT_IP_ASSIGNED"
            ],
            "type": "string"
          },
          "metadata": {
            "additionalProperties": true,
            "description": "Additional attributes provided with the WAN client event",
            "type": "object"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization that contains the WAN client event"
          },
          "random_mac": {
            "description": "Whether the WAN client used a randomized MAC address",
            "type": "boolean"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site where the WAN client event occurred"
          },
          "text": {
            "description": "Human-readable message for the WAN client event",
            "examples": [
              "DHCP Ack IP 192.168.88.216"
            ],
            "type": "string"
          },
          "wcid": {
            "description": "WAN client identifier associated with the event",
            "examples": [
              "62bbfb75-10d8-49d1-dec7-d2df91624287"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "org_wan_clients_count_distinct": {
        "default": "mac",
        "description": "enum: `hostname`, `ip`, `mac`, `mfg`, `network`",
        "enum": [
          "hostname",
          "ip",
          "mac",
          "mfg",
          "network"
        ],
        "type": "string"
      },
      "org_wan_clients_events_count_distinct": {
        "default": "type",
        "description": "enum: `hostname`, `ip`, `mac`, `mfg`, `type`",
        "enum": [
          "hostname",
          "ip",
          "mac",
          "mfg",
          "type"
        ],
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "search_events_wan_client": {
        "additionalProperties": false,
        "description": "Paginated response for WAN client event searches",
        "properties": {
          "end": {
            "description": "Upper bound timestamp of the WAN client event search window, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of WAN client event results returned by this page",
            "type": "integer"
          },
          "next": {
            "description": "URL for the next page of WAN client event results, when more results are available",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/events_client_wan",
            "description": "WAN client event result data returned by the search response"
          },
          "start": {
            "description": "Lower bound timestamp of the WAN client event search window, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Count of WAN client event results matching the search",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "search_wan_client": {
        "additionalProperties": false,
        "description": "Paginated response for WAN client searches",
        "properties": {
          "end": {
            "description": "Upper bound timestamp of the WAN client search window, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of WAN client records returned by this page",
            "type": "integer"
          },
          "next": {
            "description": "URL for the next page of WAN client records, when more results are available",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/stats_wan_clients",
            "description": "WAN client records returned by the search response"
          },
          "start": {
            "description": "Lower bound timestamp of the WAN client search window, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Count of WAN client records matching the search",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "stats_wan_client": {
        "additionalProperties": false,
        "description": "WAN client record returned by WAN client search",
        "properties": {
          "dhcp_expire_time": {
            "description": "DHCP lease expiration time for the WAN client, in epoch seconds",
            "type": "number"
          },
          "dhcp_start_time": {
            "description": "DHCP lease start time for the WAN client, in epoch seconds",
            "type": "number"
          },
          "hostname": {
            "$ref": "#/components/schemas/stats_wan_client_hostname",
            "description": "Observed hostnames for the WAN client during the search window"
          },
          "ip": {
            "$ref": "#/components/schemas/stats_wan_client_ip",
            "description": "Observed IP addresses for the WAN client during the search window"
          },
          "ip_src": {
            "description": "Source used to learn the WAN client IP address, such as dhcp",
            "examples": [
              "dhcp"
            ],
            "type": "string"
          },
          "last_hostname": {
            "description": "Most recent hostname observed for the WAN client",
            "examples": [
              "sonoszp"
            ],
            "type": "string"
          },
          "last_ip": {
            "description": "Most recent IP address observed for the WAN client",
            "examples": [
              "192.168.1.139"
            ],
            "type": "string"
          },
          "mfg": {
            "description": "Manufacturer inferred for the WAN client",
            "examples": [
              "Sonos"
            ],
            "type": "string"
          },
          "network": {
            "description": "Mist network name associated with the WAN client",
            "examples": [
              "lan"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Owning organization identifier for the WAN client record"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site identifier associated with the WAN client record"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when the WAN client record was observed, in epoch seconds"
          },
          "wcid": {
            "description": "WAN client identifier associated with the record",
            "examples": [
              "8bbe7389-212b-c65d-2208-00fab2017936"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_wan_client_hostname": {
        "description": "Hostnames observed for a WAN client",
        "items": {
          "examples": [
            "sonoszp"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "stats_wan_client_ip": {
        "description": "IP addresses observed for a WAN client",
        "items": {
          "examples": [
            "192.168.1.139"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "stats_wan_clients": {
        "description": "WAN client records returned by the search response",
        "items": {
          "$ref": "#/components/schemas/stats_wan_client"
        },
        "type": "array"
      },
      "timestamp": {
        "description": "Epoch timestamp, in seconds",
        "format": "double",
        "readOnly": true,
        "type": "number"
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "WanClientEventsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WanClientEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/search_events_wan_client"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WanClientEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/search_events_wan_client"
            }
          }
        },
        "description": "Example response"
      },
      "WanClientsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WanClientsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/search_wan_client"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WanClientsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/search_wan_client"
            }
          }
        },
        "description": "Example response"
      }
    },
    "parameters": {
      "client_event_type": {
        "description": "See [List Device Events Definitions](/#operations/listDeviceEventsDefinitions)",
        "in": "query",
        "name": "type",
        "schema": {
          "type": "string"
        }
      },
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "partial_filter_hostname_client": {
        "description": "Partial / full Client hostname. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `everest*` and `*rest*` match `my-everest-client`). Suffix-only wildcards (e.g. `*everest`) are not supported",
        "in": "query",
        "name": "hostname",
        "schema": {
          "examples": [
            "my-everest-client",
            "my-everest*",
            "*everest*"
          ],
          "type": "string"
        }
      },
      "partial_filter_ip_client": {
        "description": "Partial / full Client IP address. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `10.100.10.*` and `*100.10.*` match `10.100.10.54`). Suffix-only wildcards (e.g. `*.54`) are not supported",
        "in": "query",
        "name": "ip",
        "schema": {
          "examples": [
            "10.100.10.54",
            "10.100.10.*",
            "*100.10.*"
          ],
          "type": "string"
        }
      },
      "partial_filter_mac_client": {
        "description": "Partial / full Client MAC address. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `aabbcc*` and `*bbcc*` match `aabbccddeeff`). Suffix-only wildcards (e.g. `*bccddeeff`) are not supported",
        "in": "query",
        "name": "mac",
        "schema": {
          "examples": [
            "aabbccddeeff",
            "aabbcc*",
            "*bbcc*"
          ],
          "type": "string"
        }
      },
      "partial_filter_mfg_client": {
        "description": "Partial / full Client manufacturer (e.g. \"apple\", \"cisco\", \"juniper\"). Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `Raspberry Pi*` and `*Pi*` match `Raspberry Pi Trading Ltd`). Suffix-only wildcards (e.g. `*Ltd`) are not supported",
        "in": "query",
        "name": "mfg",
        "schema": {
          "examples": [
            "Raspberry Pi Trading Ltd",
            "Raspberry Pi*",
            "*Pi*"
          ],
          "type": "string"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "WanClientEventsSearchExample": {
        "value": {
          "end": 0,
          "limit": 0,
          "results": {
            "When": "2022-12-31 23:59:59.293000+00:00",
            "ev_type": "CLIENT_IP_ASSIGNED",
            "metadata": {},
            "org_id": "b0b9f142-aaba-11e6-aafc-0242ac110002",
            "random_mac": true,
            "site_id": "fc656275-b157-43fd-b922-5f4f341c19bf",
            "text": "DHCP Ack IP 192.168.88.216",
            "wcid": "62bbfb75-10d8-49d1-dec7-d2df91624287"
          },
          "start": 0,
          "total": 0
        }
      },
      "WanClientsSearchExample": {
        "value": {
          "end": 0,
          "limit": 0,
          "results": [
            {
              "hostname": [
                "sonoszp"
              ],
              "ip": [
                "192.168.1.139"
              ],
              "last_hostname": "sonoszp",
              "last_ip": "192.168.1.139",
              "mfg": "Sonos",
              "org_id": "b4e16c72-d50e-4c03-a952-a3217e231e2c",
              "site_id": "f688779c-e335-4f88-8d7c-9c5e9964528b",
              "wcid": "8bbe7389-212b-c65d-2208-00fab2017936"
            }
          ],
          "start": 0,
          "total": 0
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
