{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Stats - VPN Peers",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve statistics about the VPN Peers (WAN Assurance)",
      "name": "Orgs Stats - VPN Peers"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/stats/vpn_peers/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Org Peer Path Stats",
        "operationId": "countOrgPeerPathStats",
        "parameters": [
          {
            "description": "Field used to group this count response",
            "in": "query",
            "name": "distinct",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgPeerPathStats",
        "tags": [
          "Orgs Stats - VPN Peers"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/stats/vpn_peers/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search Org Peer Path Stats",
        "operationId": "searchOrgPeerPathStats",
        "parameters": [
          {
            "description": "Filter results by MAC address. Accepts multiple comma-separated values.",
            "in": "query",
            "name": "mac",
            "schema": {
              "examples": [
                "5c5b53010101,5c5b53020202"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by site identifier",
            "in": "query",
            "name": "site_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "VPN implementation type used to filter the results. enum: `ipsec`, `svr`. Accepts multiple comma-separated values.",
            "example": "svr,ipsec",
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/VpnPeersStats"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgPeerPathStats",
        "tags": [
          "Orgs Stats - VPN Peers"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "last_seen": {
        "description": "Timestamp indicating when the entity was last seen",
        "examples": [
          1470417522
        ],
        "format": "double",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "vpn_peer_stat": {
        "additionalProperties": false,
        "description": "VPN peer path statistics returned by organization VPN peer searches",
        "properties": {
          "is_active": {
            "description": "Whether this VPN peer path is the active redundant path",
            "type": "boolean"
          },
          "jitter": {
            "description": "Last sampled VPN peer jitter, in milliseconds",
            "minimum": 0,
            "type": "number"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen",
            "description": "Time when this VPN peer was last observed, in epoch seconds"
          },
          "latency": {
            "description": "Last sampled VPN peer latency, in milliseconds",
            "minimum": 0,
            "type": "number"
          },
          "loss": {
            "description": "Packet loss in percentage",
            "maximum": 100,
            "minimum": 0,
            "type": "number"
          },
          "mac": {
            "description": "Local router MAC address for the VPN link",
            "minLength": 1,
            "type": "string"
          },
          "mos": {
            "description": "Mean Opinion Score, a measure of the quality of the VPN link",
            "maximum": 5,
            "minimum": 0,
            "type": "number"
          },
          "mtu": {
            "description": "Maximum transmission unit for the VPN peer path, in bytes",
            "type": "integer"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization identifier for the VPN peer statistic"
          },
          "peer_mac": {
            "description": "Peer router MAC address for the VPN link",
            "minLength": 1,
            "type": "string"
          },
          "peer_port_id": {
            "description": "Peer router interface identifier for the VPN link",
            "minLength": 1,
            "type": "string"
          },
          "peer_router_name": {
            "description": "Peer router name reported for the VPN link",
            "minLength": 1,
            "type": "string"
          },
          "peer_site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site identifier for the peer side of the VPN link"
          },
          "port_id": {
            "description": "Local router interface identifier for the VPN link",
            "minLength": 1,
            "type": "string"
          },
          "router_name": {
            "description": "Local router name reported for the VPN link",
            "minLength": 1,
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site identifier for the local side of the VPN link"
          },
          "type": {
            "description": "VPN implementation type for the peer, such as `ipsec` for SRX or `svr` for SSR",
            "minLength": 1,
            "type": "string"
          },
          "up": {
            "description": "Whether the VPN peer is currently up",
            "type": "boolean"
          },
          "uptime": {
            "description": "Gateway-reported VPN peer uptime value, in seconds",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "vpn_peer_stat_search": {
        "additionalProperties": false,
        "description": "Search response containing VPN peer path statistics",
        "properties": {
          "end": {
            "description": "Search window end timestamp, in epoch seconds",
            "type": "number"
          },
          "limit": {
            "description": "Maximum number of VPN peer statistics returned",
            "type": "integer"
          },
          "next": {
            "description": "URL for the next page of VPN peer statistics, when more results are available",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/vpn_peer_stat_search_results",
            "description": "VPN peer statistic rows returned by the search"
          },
          "start": {
            "description": "Search window start timestamp, in epoch seconds",
            "type": "number"
          },
          "total": {
            "description": "Number of VPN peer statistics matching the search",
            "type": "integer"
          }
        },
        "required": [
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "vpn_peer_stat_search_results": {
        "description": "VPN peer statistic rows returned by a search response",
        "items": {
          "$ref": "#/components/schemas/vpn_peer_stat"
        },
        "type": "array",
        "uniqueItems": true
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "VpnPeersStats": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/VpnPeersStatsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/vpn_peer_stat_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/VpnPeersStatsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/vpn_peer_stat_search"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "VpnPeersStatsExample": {
        "value": {
          "end": 1619518989.4989712,
          "limit": 10,
          "results": [
            {
              "is_active": true,
              "last_seen": 1619518709.222,
              "mac": "020001c04668",
              "org_id": "0c160b7f-1027-4cd1-923b-744534c4b070",
              "peer_mac": "020001367edd",
              "peer_port_id": "DC_Internet",
              "peer_site_id": "725a8d34-a126-4f2c-b990-d1219421cb75",
              "port_id": "Lte",
              "site_id": "725a8d34-a126-4f2c-b990-d1219421cb75",
              "type": "svr",
              "up": true,
              "uptime": 1527128046
            },
            {
              "is_active": true,
              "last_seen": 1619518709.222,
              "latency": 91,
              "mac": "020001c04668",
              "mos": 4,
              "mtu": 1500,
              "org_id": "0c160b7f-1027-4cd1-923b-744534c4b070",
              "peer_mac": "020001367edd",
              "peer_port_id": "DC_Internet",
              "peer_router_name": "RIDCBBP1",
              "peer_site_id": "725a8d34-a126-4f2c-b990-d1219421cb75",
              "port_id": "Lte",
              "router_name": "RIST01544AP1",
              "site_id": "725a8d34-a126-4f2c-b990-d1219421cb75",
              "type": "svr",
              "up": true,
              "uptime": 1527128046
            }
          ],
          "start": 1619518689.4989705,
          "total": 2
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
