{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs API Tokens",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Org API token is a unique identifier used by an application to authenticate and access a service's API.\nThese tokens are used to authenticate requests made to the API server and ensure secure access to the API.\n\nThey are not bound to any specific user and provide access to the organization as a whole.\n\nOrganization tokens support different privileges and can only be used for the specific organization they are generated for.\n\nRate limiting is done on an individual token basis, so if one token reaches its rate limit, it does not impact other tokens.",
      "name": "Orgs API Tokens"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/apitokens": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Get List of Org API Tokens",
        "operationId": "listOrgApiTokens",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ApitokensOrgArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgApiTokens",
        "tags": [
          "Orgs API Tokens"
        ]
      },
      "post": {
        "description": "Create Org API Token\nNote that the token key is only available during creation time.",
        "operationId": "createOrgApiToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/org_apitoken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ApitokenOrg"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgApiToken",
        "tags": [
          "Orgs API Tokens"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/apitokens/{apitoken_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/apitoken_id"
        }
      ],
      "get": {
        "description": "Get Org API Token",
        "operationId": "getOrgApiToken",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ApitokenOrg"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgApiToken",
        "tags": [
          "Orgs API Tokens"
        ]
      },
      "put": {
        "description": "Update Org API Token",
        "operationId": "updateOrgApiToken",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "name": "org_token_xyz",
                    "privileges": [
                      {
                        "org_id": "a40f5d1f-d889-42e9-94ea-b9b33585fc6b",
                        "role": "admin",
                        "scope": "org"
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/org_apitoken"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgApiToken",
        "tags": [
          "Orgs API Tokens"
        ]
      },
      "delete": {
        "description": "Delete Org API Token",
        "operationId": "deleteOrgApiToken",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgApiToken",
        "tags": [
          "Orgs API Tokens"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "admin_privilege_view": {
        "enum": [
          "lobby_admin",
          "location",
          "marketing",
          "mxedge_admin",
          "reporting",
          "security",
          "super_observer",
          "switch_admin"
        ],
        "type": "string"
      },
      "admin_privilege_views": {
        "description": "Custom roles restrict Org users to specific UI views. This is useful for limiting UI access of Org users. Custom roles restrict Org users to specific UI views. This is useful for limiting UI access of Org users.  \nYou can define custom roles by adding the `views` attribute along with `role` when assigning privileges.  \nBelow are the list of supported UI views. Note that this is UI only feature.  \n\n  | UI View | Required Role | Description |\n  | --- | --- | --- |\n  | `reporting` | `read` | full access to all analytics tools |\n  | `marketing` | `read` | can view analytics and location maps |\n  | `super_observer` | `read` | can view all the organization except the subscription page |\n  | `location` | `write` | can view and manage location maps, can view analytics |\n  | `security` | `write` | can view and manage site labels, policies and security |\n  | `switch_admin` | `helpdesk` | can view and manage Switch ports, can view wired clients |\n  | `mxedge_admin` | `admin` | can view and manage Mist edges and Mist tunnels |\n  | `lobby_admin` | `admin` | full access to Org and Site Pre-shared keys |",
        "items": {
          "$ref": "#/components/schemas/admin_privilege_view"
        },
        "type": "array"
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "org_apitoken": {
        "description": "Org API Token\n\n**Note:**\n`privilege` field is required to create the object, but may not be \nreturned in the POST API Response (only in the afterward GET)",
        "properties": {
          "created_by": {
            "description": "email of the token creator / null if creator is deleted",
            "examples": [
              "user@mycorp.com"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "key": {
            "examples": [
              "1qkb...QQCL"
            ],
            "readOnly": true,
            "type": "string"
          },
          "last_used": {
            "examples": [
              1690115110
            ],
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "name": {
            "description": "Name of the token",
            "examples": [
              "org_token_xyz"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "privileges": {
            "$ref": "#/components/schemas/org_apitoken_privileges"
          },
          "src_ips": {
            "$ref": "#/components/schemas/org_apitoken_src_ips"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "org_apitoken_privileges": {
        "description": "List of privileges the token has on the orgs/sites",
        "examples": [
          [
            {
              "role": "admin",
              "scope": "org"
            }
          ]
        ],
        "items": {
          "$ref": "#/components/schemas/privilege_org"
        },
        "maxItems": 10,
        "minItems": 1,
        "type": "array",
        "uniqueItems": true
      },
      "org_apitoken_src_ips": {
        "description": "List of allowed IP addresses from where the token can be used from. At most 10 IP addresses can be specified, cannot be changed once the API Token is created.",
        "examples": [
          [
            "63.3.56.0/24",
            "63.3.55.4"
          ]
        ],
        "items": {
          "type": "string"
        },
        "maximum": 10,
        "type": "array"
      },
      "org_apitokens": {
        "items": {
          "$ref": "#/components/schemas/org_apitoken"
        },
        "type": "array"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "privilege_org": {
        "additionalProperties": false,
        "description": "Privileges settings",
        "properties": {
          "org_id": {
            "description": "If `scope`==`org`",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/privilege_org_role"
          },
          "scope": {
            "$ref": "#/components/schemas/privilege_org_scope"
          },
          "site_id": {
            "description": "If `scope`==`site`",
            "format": "uuid",
            "type": "string"
          },
          "sitegroup_id": {
            "description": "If `scope`==`sitegroup`",
            "format": "uuid",
            "type": "string"
          },
          "view": {
            "deprecated": true,
            "description": "Used for backward compatibility. Use `views` instead.",
            "type": "string"
          },
          "views": {
            "$ref": "#/components/schemas/admin_privilege_views"
          }
        },
        "required": [
          "role",
          "scope"
        ],
        "type": "object"
      },
      "privilege_org_role": {
        "description": "access permissions. enum: `admin`, `helpdesk`, `installer`, `read`, `write`",
        "enum": [
          "admin",
          "helpdesk",
          "installer",
          "read",
          "write"
        ],
        "type": "string"
      },
      "privilege_org_scope": {
        "description": "enum: `org`, `site`, `sitegroup`, `orgsites`",
        "enum": [
          "org",
          "site",
          "sitegroup",
          "orgsites"
        ],
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "ApitokenOrg": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ApitokenOrgExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/org_apitoken"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ApitokenOrgExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/org_apitoken"
            }
          }
        },
        "description": "OK"
      },
      "ApitokensOrgArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ApitokensOrgArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/org_apitokens"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ApitokensOrgArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/org_apitokens"
            }
          }
        },
        "description": "OK"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      }
    },
    "parameters": {
      "apitoken_id": {
        "in": "path",
        "name": "apitoken_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "ApitokenOrgExample": {
        "value": {
          "created_by": "user@mycorp.com",
          "created_time": 1626875902,
          "id": "497f6eca-6276-4993-bfeb-53efbbba6f08",
          "key": "1qkb...QQCL",
          "last_used": 1690115110,
          "name": "org_token_xyz",
          "org_id": "a40f5d1f-d889-42e9-94ea-b9b33585fc6b",
          "privileges": [
            {
              "org_id": "a40f5d1f-d889-42e9-94ea-b9b33585fc6b",
              "role": "admin",
              "scope": "org"
            }
          ]
        }
      },
      "ApitokensOrgArrayExample": {
        "value": [
          {
            "created_by": "user@mycorp.com",
            "created_time": 1626875902,
            "id": "497f6eca-6276-4993-bfeb-53f0bbba6f08",
            "key": "1qkb...QQCL",
            "last_used": 1690115110,
            "name": "org_token_xyz",
            "org_id": "a40f5d1f-d889-42e9-94ea-b9b33585fc6b",
            "privileges": [
              {
                "org_id": "a40f5d1f-d889-42e9-94ea-b9b33585fc6b",
                "role": "admin",
                "scope": "org"
              }
            ]
          }
        ]
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
