{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Site Templates",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Site templates are pre-configured sets of attributes and settings that can be applied to one or more sites in a Mist Organization.\n\nThese templates allow for quick and consistent configuration of sites by grouping common attributes together.\n\nThey can include settings such as Auto-Upgrade features, wan edge configurations, switch configurations and other network parameters.\n\nBy applying a site template, the same configuration can be easily replicated across multiple sites, simplifying network management and ensuring consistency.",
      "name": "Orgs Site Templates"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/sitetemplates": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List site templates configured in the organization. Site templates contain automatic upgrade settings and variables available to WLAN configuration.",
        "operationId": "listOrgSiteTemplates",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteTemplatesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgSiteTemplates",
        "tags": [
          "Orgs Site Templates"
        ]
      },
      "post": {
        "description": "Create a site template with automatic upgrade settings and template\nvariables available to WLAN configuration.\n\nTo assign a Site template to a site, use the [Update Site](/#operations/updateSiteInfo) endpoint and specify the Site template ID in the `sitetemplate_id` field of the request body.'",
        "operationId": "createOrgSiteTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/site_template"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteTemplate"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgSiteTemplate",
        "tags": [
          "Orgs Site Templates"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/sitetemplates/{sitetemplate_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/sitetemplate_id"
        }
      ],
      "get": {
        "description": "Return a site template, including automatic upgrade settings and template variables available to WLAN configuration.",
        "operationId": "getOrgSiteTemplate",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteTemplate"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgSiteTemplate",
        "tags": [
          "Orgs Site Templates"
        ]
      },
      "put": {
        "description": "Update a site template's automatic upgrade settings and template variables available to WLAN configuration.",
        "operationId": "updateOrgSiteTemplate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/site_template"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteTemplate"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgSiteTemplate",
        "tags": [
          "Orgs Site Templates"
        ]
      },
      "delete": {
        "description": "Remove a site template from the organization.",
        "operationId": "deleteOrgSiteTemplate",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgSiteTemplate",
        "tags": [
          "Orgs Site Templates"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "day_of_week": {
        "description": "enum: `any`, `fri`, `mon`, `sat`, `sun`, `thu`, `tue`, `wed`",
        "enum": [
          "any",
          "fri",
          "mon",
          "sat",
          "sun",
          "thu",
          "tue",
          "wed"
        ],
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_template": {
        "description": "Site template containing auto-upgrade settings and template variables",
        "properties": {
          "auto_upgrade": {
            "$ref": "#/components/schemas/site_template_auto_upgrade",
            "description": "Automatic upgrade settings applied by this site template"
          },
          "name": {
            "description": "Display name of the site template",
            "type": "string"
          },
          "vars": {
            "$ref": "#/components/schemas/vars",
            "description": "Template variables available to WLAN configuration in this site template"
          }
        },
        "type": "object"
      },
      "site_template_auto_upgrade": {
        "additionalProperties": false,
        "description": "Automatic upgrade settings applied by a site template",
        "properties": {
          "day_of_week": {
            "$ref": "#/components/schemas/day_of_week",
            "description": "Day of week when the automatic upgrade window runs"
          },
          "enabled": {
            "description": "Whether automatic upgrades are enabled for sites using this site template",
            "type": "boolean"
          },
          "time_of_day": {
            "description": "Local time of day when the automatic upgrade window starts",
            "type": "string"
          },
          "version": {
            "description": "Target firmware version installed during automatic upgrades",
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_templates": {
        "description": "List of site templates",
        "items": {
          "$ref": "#/components/schemas/site_template"
        },
        "type": "array"
      },
      "vars": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Dictionary of name->value, the vars can then be used in Wlans. This can overwrite those from Site Vars",
        "examples": [
          {
            "RADIUS_IP1": "172.31.2.5",
            "RADIUS_SECRET": "11s64632d"
          }
        ],
        "type": "object"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "SiteTemplate": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SiteTemplateExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/site_template"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SiteTemplateExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/site_template"
            }
          }
        },
        "description": "Example response"
      },
      "SiteTemplatesArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SiteTemplatesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/site_templates"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SiteTemplatesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/site_templates"
            }
          }
        },
        "description": "Example response"
      }
    },
    "parameters": {
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "page": {
        "description": "Select the page number to return when using page-based pagination; starts at `1`",
        "in": "query",
        "name": "page",
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "sitetemplate_id": {
        "in": "path",
        "name": "sitetemplate_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "SiteTemplateExample": {
        "value": {
          "auto_upgrade": {
            "day_of_week": "mon",
            "enabled": true,
            "time_of_day": "string",
            "version": "string"
          },
          "name": "string",
          "vars": {
            "SSID_STR": "string",
            "VLAN_ID": "string"
          }
        }
      },
      "SiteTemplatesArrayExample": {
        "value": [
          {
            "auto_upgrade": {
              "day_of_week": "mon",
              "enabled": true,
              "time_of_day": "string",
              "version": "string"
            },
            "name": "string",
            "vars": {
              "SSID_STR": "string",
              "VLAN_ID": "string"
            }
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
