{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Guests",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Guests are users who are accessing the wi-fi network as a temporary or non-permanent visitor.",
      "name": "Orgs Guests"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/guests": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List guest authorization records across the organization, including WLAN, SSID, authentication method, expiration, and guest identity details.",
        "operationId": "listOrgGuestAuthorizations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GuestsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgGuestAuthorizations",
        "tags": [
          "Orgs Guests"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/guests/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Count organization guest authorization records, optionally grouped by `distinct` and filtered by time range.",
        "operationId": "countOrgGuestAuthorizations",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `auth_method`, `company`, `ssid`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/org_guests_count_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countOrgGuestAuthorizations",
        "tags": [
          "Orgs Guests"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/guests/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Search organization guest authorization records with filters for WLAN, SSID, authentication method, and time range.",
        "operationId": "searchOrgGuestAuthorization",
        "parameters": [
          {
            "description": "Filter results by WLAN identifier",
            "in": "query",
            "name": "wlan_id",
            "schema": {
              "examples": [
                "00000000-0000-0000-0000-000000000000"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by authentication method",
            "in": "query",
            "name": "auth_method",
            "schema": {
              "examples": [
                "psk"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by SSID",
            "in": "query",
            "name": "ssid",
            "schema": {
              "examples": [
                "Guest"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GuestsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchOrgGuestAuthorization",
        "tags": [
          "Orgs Guests"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/guests/{guest_mac}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/guest_mac"
        }
      ],
      "get": {
        "description": "Retrieve the guest authorization record associated with a guest MAC address.",
        "operationId": "getOrgGuestAuthorization",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Guest"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgGuestAuthorization",
        "tags": [
          "Orgs Guests"
        ]
      },
      "put": {
        "description": "Update the organization guest authorization record for a guest MAC address, including authorization state, duration, WLAN, and guest identity fields.",
        "operationId": "updateOrgGuestAuthorization",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "company": "string",
                    "email": "user@example.com",
                    "mac": "string",
                    "minutes": 1440,
                    "name": "John Smith",
                    "wlan_id": "6748cfa6-4e12-11e6-9188-0242ac110007"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/guest_org"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Guest"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgGuestAuthorization",
        "tags": [
          "Orgs Guests"
        ]
      },
      "delete": {
        "description": "Delete a guest authorization record by guest MAC address.",
        "operationId": "deleteOrgGuestAuthorization",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgGuestAuthorization",
        "tags": [
          "Orgs Guests"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "guest": {
        "description": "Guest authorization record at site scope",
        "properties": {
          "access_code_email": {
            "description": "If `auth_method`==`email`, the email address where the authorization code has been sent to",
            "readOnly": true,
            "type": "string"
          },
          "ap_mac": {
            "description": "MAC address of the AP used during guest registration",
            "readOnly": true,
            "type": "string"
          },
          "auth_method": {
            "description": "Guest authentication method used for the authorization",
            "readOnly": true,
            "type": "string"
          },
          "authorized": {
            "default": true,
            "description": "Whether the guest is currently authorized",
            "type": "boolean"
          },
          "authorized_expiring_time": {
            "description": "Unix timestamp when the guest authorization expires",
            "examples": [
              1480704955
            ],
            "readOnly": true,
            "type": "number"
          },
          "authorized_time": {
            "description": "Unix timestamp when the guest was authorized",
            "examples": [
              1480704355
            ],
            "readOnly": true,
            "type": "number"
          },
          "company": {
            "description": "Optional company name provided by the guest during registration",
            "examples": [
              "abc"
            ],
            "type": "string"
          },
          "email": {
            "description": "Optional email address provided by the guest during registration",
            "examples": [
              "john@abc.com"
            ],
            "format": "email",
            "type": "string"
          },
          "field1": {
            "description": "Optional custom field 1 value provided by the guest during registration",
            "type": "string"
          },
          "field2": {
            "description": "Optional custom field 2 value provided by the guest during registration",
            "type": "string"
          },
          "field3": {
            "description": "Optional custom field 3 value provided by the guest during registration",
            "type": "string"
          },
          "field4": {
            "description": "Optional custom field 4 value provided by the guest during registration",
            "type": "string"
          },
          "mac": {
            "description": "Device MAC address captured during guest registration",
            "readOnly": true,
            "type": "string"
          },
          "minutes": {
            "default": 1440,
            "description": "Authorization duration, in minutes. Default is 1440 minutes (1 day), maximum is 259200 (180 days)",
            "maximum": 259200,
            "minimum": 0,
            "type": "integer"
          },
          "name": {
            "description": "Optional name provided by the guest during registration",
            "examples": [
              "John Smith"
            ],
            "readOnly": true,
            "type": "string"
          },
          "random_mac": {
            "description": "Whether the guest device used a randomized MAC address to connect to the SSID",
            "readOnly": true,
            "type": "boolean"
          },
          "ssid": {
            "description": "Name of the SSID",
            "examples": [
              "Guest-SSID"
            ],
            "readOnly": true,
            "type": "string"
          },
          "wlan_id": {
            "description": "Identifier of the WLAN used for the guest authorization",
            "examples": [
              "6748cfa6-4e12-11e6-9188-0242ac110007"
            ],
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "guest_org": {
        "description": "Guest authorization record at organization scope",
        "properties": {
          "access_code_email": {
            "description": "If `auth_method`==`email`, the email address where the authorization code has been sent to",
            "readOnly": true,
            "type": "string"
          },
          "allow_wlan_id_roam": {
            "description": "Based on the WLAN portal configuration (field `allow_wlan_id_roam`), if the user is also authorized on other Guest WLANs of the same Org without reauthentication",
            "readOnly": true,
            "type": "boolean"
          },
          "ap_mac": {
            "description": "MAC address of the AP used during guest registration",
            "readOnly": true,
            "type": "string"
          },
          "auth_method": {
            "description": "Guest authentication method used for the authorization",
            "readOnly": true,
            "type": "string"
          },
          "authorized": {
            "default": true,
            "description": "Whether the guest is currently authorized",
            "type": "boolean"
          },
          "authorized_expiring_time": {
            "description": "Unix timestamp when the guest authorization expires",
            "examples": [
              1480704955
            ],
            "readOnly": true,
            "type": "number"
          },
          "authorized_time": {
            "description": "Unix timestamp when the guest was authorized",
            "examples": [
              1480704355
            ],
            "readOnly": true,
            "type": "number"
          },
          "company": {
            "description": "Optional company name provided by the guest during registration",
            "examples": [
              "abc"
            ],
            "type": "string"
          },
          "cross_site": {
            "description": "Based on the WLAN portal configuration (field `cross_site`), if the user is also authorized on other sites (same `wlan.ssid`) of the same Org without reauthentication",
            "readOnly": true,
            "type": "boolean"
          },
          "email": {
            "description": "Optional email address provided by the guest during registration",
            "examples": [
              "john@abc.com"
            ],
            "format": "email",
            "type": "string"
          },
          "field1": {
            "description": "Optional custom field 1 value provided by the user during registration",
            "type": "string"
          },
          "field2": {
            "description": "Optional custom field 2 value provided by the user during registration",
            "type": "string"
          },
          "field3": {
            "description": "Optional custom field 3 value provided by the user during registration",
            "type": "string"
          },
          "field4": {
            "description": "Optional custom field 4 value provided by the user during registration",
            "type": "string"
          },
          "mac": {
            "description": "Device MAC address captured during guest registration",
            "type": "string"
          },
          "minutes": {
            "default": 1440,
            "description": "Authorization duration, in minutes. Default is 1440 minutes (1 day), maximum is 259200 (180 days)",
            "maximum": 259200,
            "minimum": 0,
            "type": "integer"
          },
          "name": {
            "description": "Optional name provided by the guest during registration",
            "examples": [
              "John Smith"
            ],
            "type": "string"
          },
          "random_mac": {
            "description": "Whether the guest device used a randomized MAC address to connect to the SSID",
            "readOnly": true,
            "type": "boolean"
          },
          "ssid": {
            "description": "Name of the SSID",
            "examples": [
              "Guest-SSID"
            ],
            "readOnly": true,
            "type": "string"
          },
          "wlan_id": {
            "description": "Identifier of the WLAN used for the guest authorization",
            "examples": [
              "6748cfa6-4e12-11e6-9188-0242ac110007"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "wlan_id"
        ],
        "type": "object"
      },
      "guests": {
        "description": "List of guest authorization records",
        "items": {
          "$ref": "#/components/schemas/guest"
        },
        "type": "array"
      },
      "org_guests_count_distinct": {
        "default": "auth_method",
        "description": "enum: `auth_method`, `company`, `ssid`",
        "enum": [
          "auth_method",
          "company",
          "ssid"
        ],
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_guest_search": {
        "additionalProperties": false,
        "description": "Paginated response for guest authorization search results",
        "properties": {
          "end": {
            "description": "Epoch timestamp for the end of the guest authorization search window",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of guest authorization records returned in this page",
            "type": "integer"
          },
          "next": {
            "description": "Pagination cursor or URL for retrieving the next page of guest authorization records",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_guest_search_results",
            "description": "Guest authorization records matching the search filters"
          },
          "start": {
            "description": "Epoch timestamp for the start of the guest authorization search window",
            "type": "integer"
          },
          "total": {
            "description": "Number of guest authorization records matching the search filters across all pages",
            "type": "integer"
          }
        },
        "required": [
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_guest_search_results": {
        "description": "Guest authorization records returned by a search response",
        "items": {
          "$ref": "#/components/schemas/guest"
        },
        "type": "array",
        "uniqueItems": true
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "Guest": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/GuestExample"
              },
              "Example2": {
                "$ref": "#/components/examples/GuestExample2"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/guest"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/GuestExample"
              },
              "Example2": {
                "$ref": "#/components/examples/GuestExample2"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/guest"
            }
          }
        },
        "description": "OK"
      },
      "GuestsArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/GuestsArrayExample"
              },
              "Example2": {
                "$ref": "#/components/examples/GuestsArrayExample2"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/guests"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/GuestsArrayExample"
              },
              "Example2": {
                "$ref": "#/components/examples/GuestsArrayExample2"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/guests"
            }
          }
        },
        "description": "OK"
      },
      "GuestsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/GuestsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_guest_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/GuestsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_guest_search"
            }
          }
        },
        "description": "OK"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      }
    },
    "parameters": {
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "guest_mac": {
        "in": "path",
        "name": "guest_mac",
        "required": true,
        "schema": {
          "examples": [
            "0000000000ab"
          ],
          "pattern": "^[0-9a-fA-F]{12}$",
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "GuestExample": {
        "value": {
          "authorized": true,
          "authorized_expiring_time": 0,
          "authorized_time": 0,
          "company": "string",
          "email": "user@example.com",
          "field1": "string",
          "field2": "string",
          "field3": "string",
          "field4": "string",
          "mac": "string",
          "minutes": 0,
          "name": "string"
        }
      },
      "GuestExample2": {
        "value": {
          "authorized": true,
          "authorized_expiring_time": 1480704955,
          "authorized_time": 1480704355,
          "company": "abc",
          "email": "john@abc.com",
          "field1": "xxx",
          "mac": "5684dae9ac8b",
          "name": "John Smith"
        }
      },
      "GuestsArrayExample": {
        "value": [
          {
            "authorized": true,
            "authorized_expiring_time": 0,
            "authorized_time": 0,
            "company": "string",
            "email": "user@example.com",
            "field1": "string",
            "field2": "string",
            "field3": "string",
            "field4": "string",
            "mac": "string",
            "minutes": 0,
            "name": "string"
          }
        ]
      },
      "GuestsArrayExample2": {
        "value": [
          {
            "authorized": true,
            "authorized_expiring_time": 1480704955,
            "authorized_time": 1480704355,
            "company": "abc",
            "email": "john@abc.com",
            "field1": "xxx",
            "mac": "5684dae9ac8b",
            "name": "John Smith"
          }
        ]
      },
      "GuestsSearchExample": {
        "value": {
          "end": 1531862583,
          "limit": 2,
          "next": "/api/v1/sites/8aaba0aa-09cc-44bd-9709-33b98040550c/guests/search?wlan_id=88ffe630-95b8-11e8-b294-346895ed1b7d&end=1531855849.000&limit=2&start=1531776183.0",
          "results": [
            {
              "ap": "5c5b350e0001",
              "auth_method": "passphrase",
              "authorized_expiring_time": 1531810258.186273,
              "authorized_time": 1531782218,
              "company": "mistsystems",
              "email": "user@mistsys.com",
              "name": "john",
              "ssid": "openNet",
              "timestamp": 1531782218
            },
            {
              "ap": "5c5b350e0001",
              "auth_method": "facebook",
              "authorized_expiring_time": 1531810821.145,
              "authorized_time": 1531782632,
              "company": "xyz inc.",
              "email": "cool_user@yahoo.com",
              "name": "John White",
              "ssid": "openNet",
              "timestamp": 1531782632
            }
          ],
          "start": 1531776183,
          "total": 14
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
