{
  "openapi": "3.1.0",
  "info": {
    "title": "Orgs Advanced Anti Malware Profiles",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "The \"Advanced Anti-Malware\" feature in Sky ATP is a comprehensive security solution that leverages multiple techniques to detect and prevent malware attacks. Here are the key components of this feature:\n* **Flow-Based Antivirus Policy**: The policy checks inbound and outbound traffic to stop malware, quarantine infected systems, prevent data exfiltration, and disrupt lateral movement.\n* **Machine Learning-Based Threat Detection**: Sky ATP uses machine learning to identify zero-day threats and detect malware that traditional antivirus software might miss.\n* **Integration with SRX Series Firewalls**: The SRX Series firewalls integrate with Sky ATP to block known malicious file downloads and outbound Command and Control (C&C) traffic. This integration ensures that malware is quickly identified and dropped before it can infect a host.\n* **Real-Time Threat Intelligence**: Sky ATP distributes third-party threat intelligence feeds to all ATP-subscribed SRX firewalls for immediate action, reducing the attack surface.\n\nThese components collectively provide a robust and automated threat detection and remediation solution, simplifying cybersecurity infrastructure and processes for organizations.\n\nFor more details, you can refer to the Juniper documentation on advanced anti-malware policy configuration.",
      "name": "Orgs Advanced Anti Malware Profiles"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/aamwprofiles": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List organization-level Advanced Anti Malware profiles that define Sky ATP file verdict handling for this organization.",
        "operationId": "listOrgAAMWProfiles",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AamwProfilesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgAAMWProfiles",
        "tags": [
          "Orgs Advanced Anti Malware Profiles"
        ]
      },
      "post": {
        "description": "Create an organization-level Advanced Anti Malware profile with Sky ATP verdict threshold, fallback action, file action, and file-category rules.",
        "operationId": "createOrgAAMWProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "categories": [
                      {
                        "category": "executable",
                        "hash_lookup_only": false
                      }
                    ],
                    "fallback_action": "block",
                    "file_action": "block",
                    "name": "aamw-custom",
                    "verdict_threshold": 8
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/aamw_profile"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AamwProfile"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgAAMWProfile",
        "tags": [
          "Orgs Advanced Anti Malware Profiles"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/aamwprofiles/{aamwprofile_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/aamwprofile_id"
        }
      ],
      "get": {
        "description": "Return an organization Advanced Anti Malware profile, including verdict threshold, actions, and file-category rules.",
        "operationId": "getOrgAAMWProfile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/AamwProfile"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgAAMWProfile",
        "tags": [
          "Orgs Advanced Anti Malware Profiles"
        ]
      },
      "put": {
        "description": "Update an organization Advanced Anti Malware profile's Sky ATP verdict threshold, actions, or file-category rules.",
        "operationId": "updateOrgAAMWProfile",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "categories": [
                      {
                        "category": "executable",
                        "hash_lookup_only": false
                      }
                    ],
                    "fallback_action": "block",
                    "file_action": "block",
                    "name": "aamw-custom",
                    "verdict_threshold": 8
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/aamw_profile"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/AamwProfile"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createOrgAAMWProfile",
        "tags": [
          "Orgs Advanced Anti Malware Profiles"
        ]
      },
      "delete": {
        "description": "Delete an Advanced Anti Malware profile from this organization.",
        "operationId": "deleteOrgAAMWProfile",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteOrgAAMWProfile",
        "tags": [
          "Orgs Advanced Anti Malware Profiles"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "aamw_profile": {
        "description": "Advanced Anti Malware profile that controls Sky ATP file verdict handling",
        "properties": {
          "categories": {
            "$ref": "#/components/schemas/aamw_profile_categories",
            "description": "File categories evaluated by this Advanced Anti Malware profile"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Timestamp when the Advanced Anti Malware profile was created"
          },
          "fallback_action": {
            "$ref": "#/components/schemas/aamw_profile_action",
            "description": "Action to take when Sky ATP cannot obtain a malware verdict"
          },
          "file_action": {
            "$ref": "#/components/schemas/aamw_profile_action",
            "description": "Action to take for files that meet or exceed the malware verdict threshold"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the Advanced Anti Malware profile"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Timestamp when the Advanced Anti Malware profile was last modified"
          },
          "name": {
            "description": "Display name of the Advanced Anti Malware profile",
            "examples": [
              "aamw-custom"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization that owns this Advanced Anti Malware profile"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site associated with this derived Advanced Anti Malware profile"
          },
          "verdict_threshold": {
            "default": 8,
            "description": "Minimum Sky ATP verdict score that triggers the configured file action",
            "maximum": 10,
            "minimum": 1,
            "type": "integer"
          }
        },
        "type": "object"
      },
      "aamw_profile_action": {
        "default": "block",
        "description": "Action applied to files by an Advanced Anti Malware profile. enum: `block`, `permit`",
        "enum": [
          "block",
          "permit"
        ],
        "type": "string"
      },
      "aamw_profile_categories": {
        "description": "File category rules included in an Advanced Anti Malware profile",
        "items": {
          "$ref": "#/components/schemas/aamw_profile_category"
        },
        "type": "array"
      },
      "aamw_profile_category": {
        "additionalProperties": false,
        "description": "File category rule for Advanced Anti Malware inspection",
        "properties": {
          "category": {
            "$ref": "#/components/schemas/aamw_profile_category_category",
            "description": "File category covered by this Advanced Anti Malware profile"
          },
          "hash_lookup_only": {
            "default": false,
            "description": "Whether files in this category use hash lookup without full file analysis",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "aamw_profile_category_category": {
        "description": "enum: `archive`, `document`, `pdf`, `executable`, `rich_application`, `library`, `os_package`, `mobile`, `java`, `configuration`, `script`",
        "enum": [
          "archive",
          "document",
          "pdf",
          "executable",
          "rich_application",
          "library",
          "os_package",
          "mobile",
          "java",
          "configuration",
          "script"
        ],
        "type": "string"
      },
      "aamw_profiles": {
        "description": "List of Advanced Anti Malware profiles",
        "items": {
          "$ref": "#/components/schemas/aamw_profile"
        },
        "type": "array"
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      }
    },
    "responses": {
      "AamwProfile": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/AamwProfileExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/aamw_profile"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/AamwProfileExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/aamw_profile"
            }
          },
          "application/vnd.json+api": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/AamwProfile"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/aamw_profile"
            }
          }
        },
        "description": "Example response"
      },
      "AamwProfilesArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/AamwProfilesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/aamw_profiles"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/AamwProfilesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/aamw_profiles"
            }
          }
        },
        "description": "Example response"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      }
    },
    "parameters": {
      "aamwprofile_id": {
        "in": "path",
        "name": "aamwprofile_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "AamwProfile": {
        "value": {
          "aamwprofile_id": "000000ab-00ab-00ab-00ab-0000000000ab",
          "account_id": "iojzXIJWEuiD73ZvydOfg",
          "admin_id": "000000ab-00ab-00ab-00ab-0000000000ab",
          "created_at": "2023-01-01T12:00:00Z",
          "description": "Example AAMW Profile Description",
          "name": "Example AAMW Profile",
          "updated_at": "2023-01-01T12:00:00Z"
        }
      },
      "AamwProfileExample": {
        "value": {
          "categories": [
            {
              "category": "executable",
              "hash_lookup_only": false
            }
          ],
          "fallback_action": "block",
          "file_action": "block",
          "name": "aamw-custom",
          "verdict_threshold": 8
        }
      },
      "AamwProfilesArrayExample": {
        "value": [
          {
            "categories": [
              {
                "category": "executable",
                "hash_lookup_only": false
              }
            ],
            "fallback_action": "block",
            "file_action": "block",
            "name": "aamw-custom",
            "verdict_threshold": 8
          }
        ]
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
