{
  "openapi": "3.1.0",
  "info": {
    "title": "Self Account",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API calls related to the currently connected user account.",
      "name": "Self Account"
    }
  ],
  "paths": {
    "/api/v1/self": {
      "get": {
        "description": "Get ‘whoami’ and privileges (which org and which sites I have access to)",
        "operationId": "getSelf",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Admin"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSelf",
        "tags": [
          "Self Account"
        ]
      },
      "put": {
        "description": "Update Account Information",
        "operationId": "updateSelf",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "email": "john.smith@mycorp.net",
                    "first_name": "John",
                    "last_name": "Smith",
                    "persona": "security",
                    "phone": "14081112222",
                    "phone2": "14083334444"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/admin"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Admin"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSelf",
        "tags": [
          "Self Account"
        ]
      },
      "delete": {
        "description": "To delete ones account and every associated with it. The effects:\n\nthe account would be deleted\nany orphaned Org (that only has this account as admin) will be deleted\nalong with all data with Org (sites, wlans, devices) will be gone.",
        "operationId": "deleteSelf",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/DeleteSelfFailed"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSelf",
        "tags": [
          "Self Account"
        ]
      }
    },
    "/api/v1/self/login_failures": {
      "get": {
        "description": "Get a list of failed login attempts across all Orgs for the current admin",
        "operationId": "getSelfLoginFailures",
        "responses": {
          "200": {
            "$ref": "#/components/responses/LoginFailures"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSelfLoginFailures",
        "tags": [
          "Self Account"
        ]
      }
    },
    "/api/v1/self/update": {
      "post": {
        "description": "Change Email\nWe require the user to verify that they actually own the email address they intend to change it to.\n\nAfter the API call, the user will receive an email to the new email address with a link like https://manage.mist.com/verify/update?expire=:exp_time&email=:admin_email&token=:token\n\nUpon clicking the link, the user is provided with a login page to authenticate using existing credentials. After successful login, the email address of the user gets updated\n\n**Note**: The request parameter email can be used by UI to validate that the current session (if any) belongs to the admin or provide a login page (by pre-populating the email on login screen). UI can also use the request parameter expire to validate token expiry.",
        "operationId": "updateSelfEmail",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "email": "new@mistsys.com"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/email_string"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/UpdateSelfFailed"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSelfEmail",
        "tags": [
          "Self Account"
        ]
      }
    },
    "/api/v1/self/update/verify/{token}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/token"
        }
      ],
      "get": {
        "description": "Verify Email change",
        "operationId": "verifySelfEmail",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SelfVerifyEmailSuccess"
          },
          "400": {
            "$ref": "#/components/responses/SelfVerifyEmailFailed"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "verifySelfEmail",
        "tags": [
          "Self Account"
        ]
      }
    },
    "/api/v1/self/usage": {
      "get": {
        "description": "Get the status of the API usage for the current user or API Token",
        "operationId": "getSelfApiUsage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ApiUsage"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSelfApiUsage",
        "tags": [
          "Self Account"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "admin": {
        "properties": {
          "admin_id": {
            "$ref": "#/components/schemas/admin_id"
          },
          "compliance_status": {
            "$ref": "#/components/schemas/admin_compliance_status"
          },
          "email": {
            "description": "If admin account is not an Org API Token",
            "examples": [
              "jsnow@abc.com"
            ],
            "format": "email",
            "type": "string"
          },
          "enable_two_factor": {
            "description": "If admin account is not an Org API Token",
            "readOnly": true,
            "type": "boolean"
          },
          "expire_time": {
            "type": "integer"
          },
          "first_name": {
            "description": "If admin account is not an Org API Token. For an invite, this is the original first name used",
            "examples": [
              "John"
            ],
            "type": "string"
          },
          "hours": {
            "default": 24,
            "description": "If admin account is not an Org API Token, how long the invite should be valid",
            "maximum": 168,
            "minimum": 1,
            "type": "integer"
          },
          "last_name": {
            "description": "If admin account is not an Org API Token. For an invite, this is the original last name used",
            "examples": [
              "Sno"
            ],
            "type": "string"
          },
          "name": {
            "description": "For Org API Token Only",
            "type": "string"
          },
          "no_tracking": {
            "default": null,
            "description": "Optional, whether to store privacy-consent information. When it doesn’t exist, it’s assumed true on EU (i.e. no tracking, the user has to opt-in); otherwise, the user would have to opt-out",
            "type": [
              "boolean",
              "null"
            ]
          },
          "oauth_google": {
            "description": "If admin account is not an Org API Token",
            "readOnly": true,
            "type": "boolean"
          },
          "password_modified_time": {
            "description": "Password last modified time, in epoch",
            "format": "double",
            "type": "number"
          },
          "phone": {
            "description": "If admin account is not an Org API Token. Phone number (numbers only, including country code)",
            "type": "string"
          },
          "phone2": {
            "description": "If admin account is not an Org API Token. Secondary phone number (numbers only, including country code)",
            "type": "string"
          },
          "privileges": {
            "$ref": "#/components/schemas/admin_privileges"
          },
          "session_expiry": {
            "examples": [
              1440
            ],
            "format": "int64",
            "maximum": 20160,
            "minimum": 10,
            "readOnly": true,
            "type": "integer"
          },
          "tags": {
            "$ref": "#/components/schemas/admin_tags"
          },
          "two_factor_verified": {
            "description": "If admin account is not an Org API Token. Two factor status",
            "readOnly": true,
            "type": "boolean"
          },
          "via_sso": {
            "description": "If admin account is not an Org API Token, an admin login via_sso is more restircted. (password and email cannot be changed)",
            "readOnly": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "admin_compliance_status": {
        "description": "trade compliance status. enum: `blocked`, `restricted`",
        "enum": [
          "blocked",
          "restricted"
        ],
        "type": "string"
      },
      "admin_id": {
        "description": "ID of the administrator",
        "examples": [
          "456b7016-a916-a4b1-78dd-72b947c152b7"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "admin_privilege": {
        "additionalProperties": false,
        "description": "Privilieges settings",
        "properties": {
          "msp_id": {
            "$ref": "#/components/schemas/admin_privilege_msp_id"
          },
          "msp_logo_url": {
            "description": "Logo of the MSP (if the MSP belongs to an Advanced tier)",
            "readOnly": true,
            "type": "string"
          },
          "msp_name": {
            "description": "Name of the MSP (if the org belongs to an MSP)",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "msp_url": {
            "description": "Custom url of the MSP (if the MSP belongs to an Advanced tier)",
            "readOnly": true,
            "type": "string"
          },
          "name": {
            "description": "Name of the org/site/MSP depending on object scope",
            "readOnly": true,
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/admin_privilege_org_id"
          },
          "org_name": {
            "description": "Name of the org (for a site belonging to org)",
            "readOnly": true,
            "type": "string"
          },
          "orggroup_ids": {
            "$ref": "#/components/schemas/admin_privilege_orggroup_ids"
          },
          "role": {
            "$ref": "#/components/schemas/admin_privilege_role"
          },
          "scope": {
            "$ref": "#/components/schemas/admin_privilege_scope"
          },
          "site_id": {
            "$ref": "#/components/schemas/admin_privilege_site_id"
          },
          "sitegroup_ids": {
            "$ref": "#/components/schemas/admin_privilege_sitegroup_ids"
          },
          "views": {
            "$ref": "#/components/schemas/admin_privilege_views"
          }
        },
        "required": [
          "role",
          "scope"
        ],
        "type": "object"
      },
      "admin_privilege_msp_id": {
        "description": "Required if `scope`==`msp`",
        "examples": [
          "b9d42c2e-88ee-41f8-b798-f009ce7fe909"
        ],
        "format": "uuid",
        "type": "string"
      },
      "admin_privilege_org_id": {
        "description": "Required if `scope`==`org`",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "type": "string"
      },
      "admin_privilege_orggroup_ids": {
        "description": "If `scope`==`orggroup`",
        "items": {
          "$ref": "#/components/schemas/orggroup_id"
        },
        "type": "array"
      },
      "admin_privilege_role": {
        "description": "access permissions. enum: `admin`, `helpdesk`, `installer`, `read`, `write`",
        "enum": [
          "admin",
          "helpdesk",
          "installer",
          "read",
          "write"
        ],
        "type": "string"
      },
      "admin_privilege_scope": {
        "description": "enum: `msp`, `org`, `orggroup`, `site`, `sitegroup`",
        "enum": [
          "msp",
          "org",
          "orggroup",
          "site",
          "sitegroup"
        ],
        "type": "string"
      },
      "admin_privilege_site_id": {
        "description": "Required if `scope`==`site`",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "type": "string"
      },
      "admin_privilege_sitegroup_ids": {
        "items": {
          "$ref": "#/components/schemas/sitegroup_id"
        },
        "type": "array"
      },
      "admin_privilege_view": {
        "enum": [
          "lobby_admin",
          "location",
          "marketing",
          "mxedge_admin",
          "reporting",
          "security",
          "super_observer",
          "switch_admin"
        ],
        "type": "string"
      },
      "admin_privilege_views": {
        "description": "Custom roles restrict Org users to specific UI views. This is useful for limiting UI access of Org users. Custom roles restrict Org users to specific UI views. This is useful for limiting UI access of Org users.  \nYou can define custom roles by adding the `views` attribute along with `role` when assigning privileges.  \nBelow are the list of supported UI views. Note that this is UI only feature.  \n\n  | UI View | Required Role | Description |\n  | --- | --- | --- |\n  | `reporting` | `read` | full access to all analytics tools |\n  | `marketing` | `read` | can view analytics and location maps |\n  | `super_observer` | `read` | can view all the organization except the subscription page |\n  | `location` | `write` | can view and manage location maps, can view analytics |\n  | `security` | `write` | can view and manage site labels, policies and security |\n  | `switch_admin` | `helpdesk` | can view and manage Switch ports, can view wired clients |\n  | `mxedge_admin` | `admin` | can view and manage Mist edges and Mist tunnels |\n  | `lobby_admin` | `admin` | full access to Org and Site Pre-shared keys |",
        "items": {
          "$ref": "#/components/schemas/admin_privilege_view"
        },
        "type": "array"
      },
      "admin_privileges": {
        "description": "List of privileges the admin has",
        "items": {
          "$ref": "#/components/schemas/admin_privilege"
        },
        "minItems": 1,
        "type": "array",
        "uniqueItems": true
      },
      "admin_tags": {
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "api_usage": {
        "additionalProperties": false,
        "properties": {
          "request_limit": {
            "default": 5000,
            "description": "max number of request permitted",
            "readOnly": true,
            "type": "integer"
          },
          "requests": {
            "description": "num of request made in the current hour",
            "readOnly": true,
            "type": "integer"
          },
          "seconds": {
            "type": "number"
          }
        },
        "required": [
          "requests",
          "request_limit"
        ],
        "type": "object"
      },
      "email_string": {
        "properties": {
          "email": {
            "format": "email",
            "type": "string"
          }
        },
        "required": [
          "email"
        ],
        "type": "object"
      },
      "error_delete_failed": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "inventory not empty"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          }
        },
        "required": [
          "detail",
          "org_id"
        ],
        "type": "object"
      },
      "login_failures": {
        "additionalProperties": false,
        "description": "Failed login attempts",
        "properties": {
          "email": {
            "description": "Email address of the user",
            "examples": [
              "admin@test.com"
            ],
            "type": "string"
          },
          "last_failure_at": {
            "description": "Last failure time",
            "examples": [
              1509161968
            ],
            "type": "integer"
          },
          "num_attempts": {
            "description": "Number of failed login attempts",
            "examples": [
              1
            ],
            "type": "integer"
          },
          "src_ips": {
            "$ref": "#/components/schemas/login_failures_src_ips"
          },
          "user_agents": {
            "$ref": "#/components/schemas/login_failures_user_agents"
          }
        },
        "type": "object"
      },
      "login_failures_src_ips": {
        "description": "List of up to 32 unique source IP addresses, ordered with the most recent first",
        "examples": [
          [
            "192.168.1.39",
            "192.168.1.38",
            "192.168.1.37"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "login_failures_user_agents": {
        "description": "List of up to 32 unique User-Agent strings, ordered with the most recent first",
        "examples": [
          [
            "Test UA 39",
            "Test UA 38",
            "Test UA 37"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "orggroup_id": {
        "examples": [
          "832b1d74-9531-409b-ae37-4d7f3edbde92"
        ],
        "format": "uuid",
        "type": "string"
      },
      "response_detail_string": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "sitegroup_id": {
        "examples": [
          "3c708be3-9422-4695-b729-babdbd2f7615"
        ],
        "format": "uuid",
        "type": "string"
      }
    },
    "responses": {
      "Admin": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/AdminExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/admin"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/AdminExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/admin"
            }
          }
        },
        "description": "OK"
      },
      "ApiUsage": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ApiUsageExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/api_usage"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ApiUsageExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/api_usage"
            }
          }
        },
        "description": "OK"
      },
      "DeleteSelfFailed": {
        "content": {
          "application/json": {
            "examples": {
              "If Any Of The Org To Be Deleted Still Has Inventory": {
                "$ref": "#/components/examples/DeleteSelfFailedIfAnyOfTheOrgToBeDeletedStillHasInventory"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/error_delete_failed"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "If Any Of The Org To Be Deleted Still Has Inventory": {
                "$ref": "#/components/examples/DeleteSelfFailedIfAnyOfTheOrgToBeDeletedStillHasInventory"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/error_delete_failed"
            }
          }
        },
        "description": "Bad Request"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "LoginFailures": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/LoginFailuresExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/login_failures"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/LoginFailuresExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/login_failures"
            }
          }
        },
        "description": "OK"
      },
      "OK": {
        "description": "OK"
      },
      "SelfVerifyEmailFailed": {
        "content": {
          "application/json": {
            "examples": {
              "Invalid Or Expired Token": {
                "$ref": "#/components/examples/SelfVerifyEmailFailedInvalidOrExpiredToken"
              },
              "New Email Address Already Exists": {
                "$ref": "#/components/examples/SelfVerifyEmailFailedNewEmailAddressAlreadyExists"
              },
              "Request Comes From Authenticated Users Other Than Admin": {
                "$ref": "#/components/examples/SelfVerifyEmailFailedRequestComesFromAuthenticatedUsersOtherThanAdmin"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_detail_string"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Invalid Or Expired Token": {
                "$ref": "#/components/examples/SelfVerifyEmailFailedInvalidOrExpiredToken"
              },
              "New Email Address Already Exists": {
                "$ref": "#/components/examples/SelfVerifyEmailFailedNewEmailAddressAlreadyExists"
              },
              "Request Comes From Authenticated Users Other Than Admin": {
                "$ref": "#/components/examples/SelfVerifyEmailFailedRequestComesFromAuthenticatedUsersOtherThanAdmin"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_detail_string"
            }
          }
        },
        "description": "Bad Request"
      },
      "SelfVerifyEmailSuccess": {
        "description": "With correct verification, the email address of the user will be updated"
      },
      "UpdateSelfFailed": {
        "content": {
          "application/json": {
            "examples": {
              "Invalid Email Address": {
                "$ref": "#/components/examples/UpdateSelfFailedInvalidEmailAddress"
              },
              "New Email Address Already Exists": {
                "$ref": "#/components/examples/UpdateSelfFailedNewEmailAddressAlreadyExists"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_detail_string"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Invalid Email Address": {
                "$ref": "#/components/examples/UpdateSelfFailedInvalidEmailAddress"
              },
              "New Email Address Already Exists": {
                "$ref": "#/components/examples/UpdateSelfFailedNewEmailAddressAlreadyExists"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_detail_string"
            }
          }
        },
        "description": "Invalid email address or new email address already exists"
      }
    },
    "parameters": {
      "token": {
        "in": "path",
        "name": "token",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "AdminExample": {
        "value": {
          "admin_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "email": "user@example.com",
          "first_name": "string",
          "last_name": "string",
          "password_modified_time": 1656353525,
          "privileges": [
            {
              "msp_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
              "msp_name": "string",
              "name": "string",
              "org_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
              "org_name": "string",
              "orggroup_ids": [
                "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
              ],
              "role": "admin",
              "scope": "org",
              "site_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
              "sitegroup_ids": [
                "6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9"
              ]
            }
          ]
        }
      },
      "ApiUsageExample": {
        "value": {
          "request_limit": 5000,
          "requests": 5
        }
      },
      "DeleteSelfFailedIfAnyOfTheOrgToBeDeletedStillHasInventory": {
        "value": {
          "detail": "inventory not empty",
          "org_id": "424f6eca-7276-4993-bfeb-53cbbbba6f05"
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "LoginFailuresExample": {
        "value": {
          "email": "admin@test.com",
          "last_failure_at": 1509161968,
          "num_attempts": 40,
          "src_ips": [
            "192.168.1.39",
            "192.168.1.38",
            "192.168.1.37"
          ],
          "user_agents": [
            "Test UA 39",
            "Test UA 38",
            "Test UA 37"
          ]
        }
      },
      "SelfVerifyEmailFailedInvalidOrExpiredToken": {
        "value": {
          "detail": "invalid token"
        }
      },
      "SelfVerifyEmailFailedNewEmailAddressAlreadyExists": {
        "value": {
          "detail": "email already existed"
        }
      },
      "SelfVerifyEmailFailedRequestComesFromAuthenticatedUsersOtherThanAdmin": {
        "value": {
          "detail": "invalid token"
        }
      },
      "UpdateSelfFailedInvalidEmailAddress": {
        "value": {}
      },
      "UpdateSelfFailedNewEmailAddressAlreadyExists": {
        "value": {
          "detail": "email already existed"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
