{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites EVPN Topologies",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "EVPN allows an alternative but more efficient LAN architecture utilizing VxLAN / MP-BGP - separating control plane (MAC / IP Learning) from forwarding plane.\n\nIn our implementation, following the steps to deploy EVPN topologies in a Site",
      "name": "Sites EVPN Topologies"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/evpn_topologies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get the existing EVPN topology",
        "operationId": "listSiteEvpnTopologies",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EvpnTopologiesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteEvpnTopologies",
        "tags": [
          "Sites EVPN Topologies"
        ]
      },
      "post": {
        "description": "While all the `evpn_id` / `downlink_ips` can be specified by hand, the easiest way is to call the `build_vpn_topology` API, allowing you to examine the diff, and update it yourself. You can also simply call it with `overwrite=true` which will apply the updates for you.\n\n**Notes:**\n1. You can use `core` / `distribution` / `access` to create a CLOS topology\n2. You can also use `core` / `distribution` to form a 2-tier EVPN topology where ESI-Lag is configured distribution to connect to access switches\n3. In a small/medium campus, `collapsed-core` can be used where core switches are the inter-connected to do EVPN",
        "operationId": "createSiteEvpnTopology",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "name": "CC",
                    "overwrite": true,
                    "pod_names": {
                      "1": "default",
                      "2": "default"
                    },
                    "switches": [
                      {
                        "mac": "5c5b35000003",
                        "role": "collapsed-core"
                      },
                      {
                        "mac": "5c5b35000004",
                        "role": "collapsed-core"
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/evpn_topology"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EvpnTopology"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createSiteEvpnTopology",
        "tags": [
          "Sites EVPN Topologies"
        ]
      }
    },
    "/api/v1/sites/{site_id}/evpn_topologies/{evpn_topology_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/evpn_topology_id"
        }
      ],
      "get": {
        "description": "Get One EVPN Topology Detail",
        "operationId": "getSiteEvpnTopology",
        "responses": {
          "200": {
            "$ref": "#/components/responses/EvpnTopology"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteEvpnTopology",
        "tags": [
          "Sites EVPN Topologies"
        ]
      },
      "put": {
        "description": "Update the EVPN Topology",
        "operationId": "updateSiteEvpnTopology",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "overwrite": false,
                    "switches": [
                      {
                        "mac": "5c5b35000003",
                        "role": "collapsed-core"
                      },
                      {
                        "mac": "5c5b35000004",
                        "role": "none"
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/evpn_topology"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EvpnTopology"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteEvpnTopology",
        "tags": [
          "Sites EVPN Topologies"
        ]
      },
      "delete": {
        "description": "Delete the site EVPN Topology",
        "operationId": "deleteSiteEvpnTopology",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteEvpnTopology",
        "tags": [
          "Sites EVPN Topologies"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "evpn_options": {
        "additionalProperties": false,
        "description": "EVPN topology generation options for campus fabric configuration",
        "properties": {
          "auto_loopback_subnet": {
            "default": "172.16.192.0/24",
            "description": "Optional, for dhcp_relay, unique loopback IPs are required for ERB or IPClos where we can set option-82 server_id-overrides",
            "type": "string"
          },
          "auto_loopback_subnet6": {
            "default": "fd33:ab00:2::/64",
            "description": "Optional, for dhcp_relay, unique loopback IPs are required for ERB or IPClos where we can set option-82 server_id-overrides",
            "type": "string"
          },
          "auto_router_id_subnet": {
            "default": "172.16.254.0/23",
            "description": "Optional, this generates router_id automatically, if specified, `router_id_prefix` is ignored",
            "type": "string"
          },
          "auto_router_id_subnet6": {
            "description": "Optional, this generates router_id automatically, if specified, `router_id_prefix` is ignored",
            "examples": [
              "fd31:5700:1::/64"
            ],
            "type": "string"
          },
          "core_as_border": {
            "default": false,
            "description": "Optional, for ERB or CLOS, you can either use esilag to upstream routers or to also be the virtual-gateway. When `routed_at` != `core`, whether to do virtual-gateway at core as well",
            "type": "boolean"
          },
          "enable_inband_mgmt": {
            "default": false,
            "description": "Whether to route management traffic inband; routes will be propagated to downstream switches",
            "type": "boolean"
          },
          "enable_inband_ztp": {
            "default": false,
            "description": "if the mangement traffic goes inbnd, during installation, only the border/core switches are connected to the Internet to allow initial configuration to be pushed down and leave the downstream access switches stay in the Factory Default state enabling inband-ztp allows upstream switches to use LLDP to assign IP and gives Internet to downstream switches in that state",
            "type": "boolean"
          },
          "overlay": {
            "$ref": "#/components/schemas/evpn_options_overlay",
            "description": "EVPN overlay BGP settings for the topology"
          },
          "per_vlan_vga_v4_mac": {
            "default": false,
            "description": "Only for by Core-Distribution architecture when `evpn_options.routed_at`==`core`. By default, JUNOS uses 00-00-5e-00-01-01 as the virtual-gateway-address's v4_mac. If enabled, 00-00-5e-00-0X-YY will be used (where XX=vlan_id/256, YY=vlan_id%256)",
            "type": "boolean"
          },
          "per_vlan_vga_v6_mac": {
            "default": false,
            "description": "Only for by Core-Distribution architecture when `evpn_options.routed_at`==`core`. By default, JUNOS uses 00-00-5e-00-02-01 as the virtual-gateway-address's v6_mac. If enabled, 00-00-5e-00-1X-YY will be used (where XX=vlan_id/256, YY=vlan_id%256)",
            "type": "boolean"
          },
          "routed_at": {
            "$ref": "#/components/schemas/evpn_options_routed_at",
            "description": "Topology tier where EVPN virtual gateway routing is placed"
          },
          "underlay": {
            "$ref": "#/components/schemas/evpn_options_underlay",
            "description": "EVPN underlay BGP and subnet settings for the topology"
          },
          "vs_instances": {
            "$ref": "#/components/schemas/evpn_options_vs_instances",
            "description": "Virtual-switch instance mappings used to segregate EVPN networks"
          }
        },
        "type": "object"
      },
      "evpn_options_overlay": {
        "additionalProperties": false,
        "description": "EVPN overlay BGP settings",
        "properties": {
          "as": {
            "default": 65000,
            "description": "Overlay BGP Local AS Number",
            "examples": [
              65000
            ],
            "maximum": 65535,
            "minimum": 1,
            "type": "integer"
          }
        },
        "type": "object"
      },
      "evpn_options_routed_at": {
        "default": "edge",
        "description": "optional, where virtual-gateway should reside. enum: `core`, `distribution`, `edge`",
        "enum": [
          "core",
          "distribution",
          "edge"
        ],
        "type": "string"
      },
      "evpn_options_underlay": {
        "additionalProperties": false,
        "description": "EVPN underlay BGP and subnet settings",
        "properties": {
          "as_base": {
            "default": 65001,
            "description": "Underlay BGP Base AS Number",
            "examples": [
              65001
            ],
            "maximum": 65535,
            "minimum": 1,
            "type": "integer"
          },
          "routed_id_prefix": {
            "description": "Prefix length used for automatically derived underlay router identifiers",
            "examples": [
              "/24"
            ],
            "type": "string"
          },
          "subnet": {
            "description": "Underlay subnet, by default, `10.255.240.0/20`, or `fd31:5700::/64` for ipv6",
            "examples": [
              "10.255.240.0/20"
            ],
            "type": "string"
          },
          "use_ipv6": {
            "default": false,
            "description": "If v6 is desired for underlay",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "evpn_options_vs_instance": {
        "additionalProperties": false,
        "description": "EVPN virtual-switch instance network mapping",
        "properties": {
          "networks": {
            "$ref": "#/components/schemas/strings",
            "description": "List of network names included in this virtual-switch instance"
          }
        },
        "type": "object"
      },
      "evpn_options_vs_instances": {
        "additionalProperties": {
          "$ref": "#/components/schemas/evpn_options_vs_instance"
        },
        "description": "Optional, for EX9200 only to segregate virtual-switches",
        "examples": [
          {
            "guest": {
              "networks": [
                "guest"
              ]
            },
            "iot": {
              "networks": [
                "iot-wifi",
                "iot-lan"
              ]
            }
          }
        ],
        "type": "object"
      },
      "evpn_topologies_response": {
        "description": "EVPN topology records returned by list APIs",
        "items": {
          "$ref": "#/components/schemas/evpn_topology_response"
        },
        "type": "array"
      },
      "evpn_topology": {
        "description": "EVPN topology create or update payload",
        "properties": {
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Timestamp when the EVPN topology was created"
          },
          "evpn_options": {
            "$ref": "#/components/schemas/evpn_options",
            "description": "Generation options applied to the EVPN topology"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the EVPN topology"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Timestamp when the EVPN topology was last modified"
          },
          "name": {
            "description": "Display name for the EVPN topology",
            "examples": [
              "CC"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization that owns the EVPN topology"
          },
          "overwrite": {
            "description": "Whether to apply generated EVPN configuration changes automatically",
            "type": "boolean"
          },
          "pod_names": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Property key is the pod number",
            "type": "object"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site associated with the EVPN topology"
          },
          "switch_configs": {
            "$ref": "#/components/schemas/evpn_topology_switch_configs",
            "description": "Per-switch configuration overrides included in the EVPN topology"
          },
          "switches": {
            "$ref": "#/components/schemas/evpn_topology_switches",
            "description": "Topology member switches, roles, and links"
          }
        },
        "required": [
          "switches"
        ],
        "type": "object"
      },
      "evpn_topology_response": {
        "additionalProperties": false,
        "description": "EVPN topology metadata returned by EVPN topology APIs",
        "properties": {
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Timestamp when the EVPN topology was created"
          },
          "evpn_options": {
            "$ref": "#/components/schemas/evpn_options",
            "description": "Generation options applied to the EVPN topology"
          },
          "for_site": {
            "description": "Whether the EVPN topology is scoped to a site rather than the organization",
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the EVPN topology"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Timestamp when the EVPN topology was last modified"
          },
          "name": {
            "description": "Display name for the EVPN topology",
            "examples": [
              "CC"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization that owns the EVPN topology"
          },
          "overwrite": {
            "description": "Whether generated EVPN configuration changes are applied automatically",
            "type": "boolean"
          },
          "pod_names": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Property key is the pod number",
            "type": "object"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site associated with the EVPN topology"
          }
        },
        "type": "object"
      },
      "evpn_topology_switch": {
        "additionalProperties": false,
        "description": "Switch member of an EVPN topology, including role and link relationships",
        "properties": {
          "config": {
            "$ref": "#/components/schemas/evpn_topology_switch_config",
            "description": "Per-switch configuration supplied for this topology member. Use the [Update Site Device](/#operations/updateSiteDevice) endpoint to update the switch configuration."
          },
          "deviceprofile_id": {
            "description": "Associated device profile identifier for the switch. Use the [Assign Org Device Profile](/#operations/assignOrgDeviceProfile) endpoint to assign a Device Profile to the switch.",
            "examples": [
              "6a1deab1-96df-4fa2-8455-d5253f943d06"
            ],
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "downlink_ips": {
            "$ref": "#/components/schemas/evpn_topology_switch_downlink_ips",
            "description": "IP addresses used by this switch for EVPN downlinks"
          },
          "downlinks": {
            "$ref": "#/components/schemas/evpn_topology_switch_downlinks",
            "description": "Switch MAC addresses connected as downlinks from this topology member"
          },
          "esilaglinks": {
            "$ref": "#/components/schemas/evpn_topology_switch_esilaglinks",
            "description": "Switch MAC addresses connected through ESI-LAG from this topology member"
          },
          "evpn_id": {
            "description": "Topology identifier number for this EVPN switch member",
            "minimum": 1,
            "readOnly": true,
            "type": "integer"
          },
          "mac": {
            "description": "Switch MAC address used to identify the topology member",
            "examples": [
              "5c5b35000003"
            ],
            "minLength": 1,
            "type": "string"
          },
          "model": {
            "description": "Switch model for this topology member",
            "examples": [
              "QFX10002-36Q"
            ],
            "readOnly": true,
            "type": "string"
          },
          "pod": {
            "default": 1,
            "description": "Optionally, for distribution / access / esilag-access, they can be placed into different pods. e.g. \n  * for CLOS, to group dist / access switches into pods\n  * for ERB/CRB, to group dist / esilag-access into pods",
            "maximum": 255,
            "minimum": 1,
            "type": "integer"
          },
          "pods": {
            "$ref": "#/components/schemas/evpn_topology_switch_pods",
            "description": "List of pod numbers this switch participates in"
          },
          "role": {
            "$ref": "#/components/schemas/evpn_topology_switch_role",
            "description": "EVPN topology role for this switch"
          },
          "router_id": {
            "description": "Routing identifier used by this switch for EVPN routing",
            "examples": [
              "172.16.254.4"
            ],
            "readOnly": true,
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Associated site for this EVPN topology switch"
          },
          "suggested_downlinks": {
            "$ref": "#/components/schemas/evpn_topology_switch_suggested_downlinks",
            "description": "Builder-suggested downlink switch MAC addresses"
          },
          "suggested_esilaglinks": {
            "$ref": "#/components/schemas/evpn_topology_switch_suggested_esilaglinks",
            "description": "Builder-suggested ESI-LAG switch MAC addresses"
          },
          "suggested_uplinks": {
            "$ref": "#/components/schemas/evpn_topology_switch_suggested_uplinks",
            "description": "Builder-suggested uplink switch MAC addresses"
          },
          "uplinks": {
            "$ref": "#/components/schemas/evpn_topology_switch_uplinks",
            "description": "Switch MAC addresses connected as uplinks from this topology member"
          }
        },
        "required": [
          "mac",
          "role"
        ],
        "type": "object"
      },
      "evpn_topology_switch_config": {
        "additionalProperties": false,
        "description": "Per-switch configuration used by an EVPN topology member",
        "properties": {
          "dhcpd_config": {
            "$ref": "#/components/schemas/evpn_topology_switch_config_dhcpd_config",
            "description": "Switch DHCP server configuration for the topology member"
          },
          "networks": {
            "$ref": "#/components/schemas/switch_networks",
            "description": "EVPN network definitions for the topology member"
          },
          "other_ip_configs": {
            "$ref": "#/components/schemas/evpn_topology_switch_config_other_ip_configs",
            "description": "Additional interface IP configurations for the topology member"
          },
          "port_config": {
            "$ref": "#/components/schemas/wired_port_config",
            "description": "Switch port configuration for the topology member"
          },
          "port_usages": {
            "$ref": "#/components/schemas/switch_port_usages",
            "description": "Switch port usage definitions for the topology member"
          },
          "router_id": {
            "description": "Used for OSPF / BGP / EVPN",
            "examples": [
              "10.2.1.10"
            ],
            "type": "string"
          },
          "vrf_config": {
            "$ref": "#/components/schemas/evpn_topology_switch_config_vrf_config",
            "description": "Routing instance and VRF settings for the topology member"
          }
        },
        "type": "object"
      },
      "evpn_topology_switch_config_dhcpd_config": {
        "additionalProperties": false,
        "description": "DHCP server enablement for an EVPN topology switch override",
        "properties": {
          "enabled": {
            "description": "If DHCPD is enabled on the switch",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "evpn_topology_switch_config_other_ip_configs": {
        "additionalProperties": {
          "$ref": "#/components/schemas/junos_other_ip_config"
        },
        "description": "Additional IP addresses configured on the switch. Property key is the port network name",
        "type": "object"
      },
      "evpn_topology_switch_config_vrf_config": {
        "additionalProperties": false,
        "description": "VRF enablement for an EVPN topology switch override",
        "properties": {
          "enabled": {
            "description": "Whether to enable VRF (when supported on the device)",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "evpn_topology_switch_configs": {
        "additionalProperties": {
          "$ref": "#/components/schemas/evpn_topology_switch_config"
        },
        "description": "Property key is the switch MAC address",
        "type": "object"
      },
      "evpn_topology_switch_downlink_ips": {
        "description": "Downlink IP addresses used by an EVPN topology switch",
        "items": {
          "readOnly": true,
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "evpn_topology_switch_downlinks": {
        "description": "Downlink switch MAC addresses for an EVPN topology switch",
        "examples": [
          [
            "5c5b35000005",
            "5c5b35000006"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "evpn_topology_switch_esilaglinks": {
        "description": "ESI-LAG switch MAC addresses for an EVPN topology switch",
        "examples": [
          [
            "5c5b35000005",
            "5c5b35000006"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "evpn_topology_switch_pods": {
        "description": "By default, core switches are assumed to be connecting all pods. \nif you want to limit the pods, you can specify pods.",
        "items": {
          "type": "integer"
        },
        "type": "array"
      },
      "evpn_topology_switch_role": {
        "description": "use `role`==`none` to remove a switch from the topology. enum: `access`, `border`, `collapsed-core`, `core`, `distribution`, `esilag-access`, `none`",
        "enum": [
          "access",
          "border",
          "collapsed-core",
          "core",
          "distribution",
          "esilag-access",
          "none"
        ],
        "minLength": 1,
        "type": "string"
      },
      "evpn_topology_switch_suggested_downlinks": {
        "description": "Builder-suggested downlink switch MAC addresses for an EVPN topology switch",
        "examples": [
          [
            "5c5b35000005",
            "5c5b35000006"
          ]
        ],
        "items": {
          "readOnly": true,
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "evpn_topology_switch_suggested_esilaglinks": {
        "description": "Builder-suggested ESI-LAG switch MAC addresses for an EVPN topology switch",
        "examples": [
          [
            "5c5b35000005",
            "5c5b35000006"
          ]
        ],
        "items": {
          "readOnly": true,
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "evpn_topology_switch_suggested_uplinks": {
        "description": "Builder-suggested uplink switch MAC addresses for an EVPN topology switch",
        "examples": [
          [
            "5c5b35000005",
            "5c5b35000006"
          ]
        ],
        "items": {
          "readOnly": true,
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "evpn_topology_switch_uplinks": {
        "description": "Uplink switch MAC addresses for an EVPN topology switch",
        "examples": [
          [
            "5c5b35000005",
            "5c5b35000006"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "evpn_topology_switches": {
        "description": "Switch members included in an EVPN topology",
        "items": {
          "$ref": "#/components/schemas/evpn_topology_switch"
        },
        "type": "array",
        "uniqueItems": true
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "ip_type": {
        "default": "dhcp",
        "description": "IP address assignment mode, either DHCP or static. enum: `dhcp`, `static`",
        "enum": [
          "dhcp",
          "static"
        ],
        "examples": [
          "static"
        ],
        "type": "string"
      },
      "ip_type6": {
        "default": "disabled",
        "description": "enum: `autoconf`, `dhcp`, `disabled`, `static`",
        "enum": [
          "autoconf",
          "dhcp",
          "disabled",
          "static"
        ],
        "examples": [
          "static"
        ],
        "type": "string"
      },
      "junos_other_ip_config": {
        "additionalProperties": false,
        "description": "Optional switch L3 presence on an additional network or VLAN",
        "properties": {
          "evpn_anycast": {
            "default": false,
            "description": "For EVPN, whether anycast is desired",
            "type": "boolean"
          },
          "ip": {
            "description": "Required if `type`==`static`; IPv4 address for the additional Junos L3 presence",
            "examples": [
              "10.3.3.1"
            ],
            "type": "string"
          },
          "ip6": {
            "description": "Required if `type6`==`static`; IPv6 address for the additional Junos L3 presence",
            "examples": [
              "fdad:b0bc:f29e::3d16"
            ],
            "type": "string"
          },
          "netmask": {
            "description": "Optional IPv4 netmask; `subnet` from `network` definition will be used if defined",
            "examples": [
              "255.255.255.0"
            ],
            "type": "string"
          },
          "netmask6": {
            "description": "Optional IPv6 prefix length; `subnet` from `network` definition will be used if defined",
            "examples": [
              "/64"
            ],
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ip_type",
            "description": "IPv4 assignment mode for the additional Junos L3 presence"
          },
          "type6": {
            "$ref": "#/components/schemas/ip_type6",
            "description": "IPv6 assignment mode for the additional Junos L3 presence"
          }
        },
        "type": "object"
      },
      "junos_port_config": {
        "additionalProperties": false,
        "description": "Junos switch port configuration",
        "properties": {
          "ae_disable_lacp": {
            "description": "To disable LACP support for the AE interface",
            "type": "boolean"
          },
          "ae_idx": {
            "description": "Users could force to use the designated AE name",
            "type": "integer"
          },
          "ae_lacp_force_up": {
            "default": false,
            "description": "If `aggregated`==`true`, sets the state of the interface as UP when the peer has limited LACP capability. Use case: When a device connected to this AE port is ZTPing for the first time, it will not have LACP configured on the other end. **Note:** Turning this on will enable force-up on one of the interfaces in the bundle only",
            "type": "boolean"
          },
          "ae_lacp_passive": {
            "default": false,
            "description": "If `aggregated`==`true`, sets LACP to passive mode on this AE interface; by default, active (fast) mode is used",
            "type": "boolean"
          },
          "ae_lacp_slow": {
            "description": "To use slow timeout",
            "type": "boolean"
          },
          "aggregated": {
            "default": false,
            "description": "Whether this port is configured as an aggregated Ethernet member",
            "type": "boolean"
          },
          "critical": {
            "default": false,
            "description": "To generate port up/down alarm",
            "type": "boolean"
          },
          "description": {
            "description": "Human-readable description for this Junos port",
            "type": "string"
          },
          "disable_autoneg": {
            "default": false,
            "description": "If `speed` and `duplex` are specified, whether to disable autonegotiation",
            "type": "boolean"
          },
          "duplex": {
            "$ref": "#/components/schemas/junos_port_config_duplex",
            "description": "Link duplex mode for this Junos port"
          },
          "dynamic_usage": {
            "description": "Enable dynamic usage for this port. Set to `dynamic` to enable.",
            "type": [
              "string",
              "null"
            ]
          },
          "esilag": {
            "description": "Whether this Junos port participates in an ESI-LAG",
            "type": "boolean"
          },
          "mtu": {
            "default": 1514,
            "description": "Media maximum transmission unit (MTU) is the largest data unit that can be forwarded without fragmentation",
            "type": "integer"
          },
          "networks": {
            "description": "List of network names. Required if `usage`==`inet`",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "no_local_overwrite": {
            "default": true,
            "description": "Prevent helpdesk to override the port config",
            "type": "boolean"
          },
          "poe_disabled": {
            "default": false,
            "description": "Whether PoE capabilities are disabled for this Junos port",
            "type": "boolean"
          },
          "port_network": {
            "description": "Required if `usage`==`vlan_tunnel`. Q-in-Q tunneling using All-in-one bundling. This also enables standard L2PT for interfaces that are not encapsulation tunnel interfaces and uses MAC rewrite operation. [View more information](https://www.juniper.net/documentation/us/en/software/junos/multicast-l2/topics/topic-map/q-in-q.html#id-understanding-qinq-tunneling-and-vlan-translation)",
            "type": "string"
          },
          "speed": {
            "$ref": "#/components/schemas/junos_port_config_speed",
            "description": "Link speed for this Junos port"
          },
          "usage": {
            "description": "Port usage name. For Q-in-Q, use `vlan_tunnel`. If EVPN is used, use `evpn_uplink`or `evpn_downlink`",
            "type": "string"
          }
        },
        "required": [
          "usage"
        ],
        "type": "object"
      },
      "junos_port_config_duplex": {
        "default": "auto",
        "description": "enum: `auto`, `full`, `half`",
        "enum": [
          "auto",
          "full",
          "half"
        ],
        "type": "string"
      },
      "junos_port_config_speed": {
        "default": "auto",
        "description": "enum: `100m`, `10m`, `1g`, `2.5g`, `5g`, `10g`, `25g`, `40g`, `100g`,`auto`",
        "enum": [
          "10m",
          "100m",
          "1g",
          "2.5g",
          "5g",
          "10g",
          "25g",
          "40g",
          "100g",
          "auto"
        ],
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "poe_priority": {
        "description": "PoE priority. enum: `low`, `high`",
        "enum": [
          "low",
          "high"
        ],
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "strings": {
        "description": "Unique string values returned or accepted by this schema",
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "switch_network": {
        "additionalProperties": false,
        "description": "A network represents a network segment. It can either represent a VLAN (then usually ties to a L3 subnet), optionally associate it with a subnet which can later be used to create addition routes. Used for ports doing `family ethernet-switching`. It can also be a pure L3-subnet that can then be used against a port that with `family inet`.",
        "properties": {
          "gateway": {
            "description": "Only required for EVPN-VXLAN networks, IPv4 Virtual Gateway",
            "type": "string"
          },
          "gateway6": {
            "description": "Only required for EVPN-VXLAN networks, IPv6 Virtual Gateway",
            "type": "string"
          },
          "isolation": {
            "default": false,
            "description": "whether to stop clients to talk to each other, default is false (when enabled, a unique isolation_vlan_id is required). NOTE: this features requires uplink device to also a be Juniper device and `inter_switch_link` to be set. See also `inter_isolation_network_link` and `community_vlan_id` in port_usage",
            "type": "boolean"
          },
          "isolation_vlan_id": {
            "description": "Required when `isolation`==`true`. Unique VLAN ID used for client isolation",
            "examples": [
              "3070"
            ],
            "type": "string"
          },
          "multicast": {
            "$ref": "#/components/schemas/switch_network_multicast",
            "description": "Multicast (IGMP snooping) settings for this VLAN"
          },
          "subnet": {
            "description": "Optional for pure switching, required when L3 / routing features are used",
            "type": "string"
          },
          "subnet6": {
            "description": "Optional for pure switching, required when L3 / routing features are used",
            "type": "string"
          },
          "vlan_id": {
            "$ref": "#/components/schemas/vlan_id_with_variable",
            "description": "VLAN identifier for this switch network"
          }
        },
        "required": [
          "vlan_id"
        ],
        "type": "object"
      },
      "switch_network_multicast": {
        "additionalProperties": false,
        "description": "Multicast settings for a switch network (VLAN)",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether to enable IGMP snooping on this VLAN",
            "type": "boolean"
          },
          "igmp_version": {
            "default": "2",
            "description": "IGMP version. '2' (default, ASM/IGMPv2) / '3' (SSM/IGMPv3)",
            "enum": [
              "2",
              "3"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "switch_networks": {
        "additionalProperties": {
          "$ref": "#/components/schemas/switch_network"
        },
        "description": "Property key is network name",
        "type": "object"
      },
      "switch_port_usage": {
        "additionalProperties": false,
        "description": "Junos switch port usage template and authentication settings",
        "properties": {
          "all_networks": {
            "default": false,
            "description": "Only if `mode`==`trunk`. Whether to trunk all network/vlans",
            "type": "boolean"
          },
          "allow_dhcpd": {
            "description": "Only applies when `mode`!=`dynamic`. Controls whether DHCP server traffic is allowed on ports using this configuration if DHCP snooping is enabled. This is a tri-state setting; `true`: ports become trusted ports allowing DHCP server traffic, `false`: ports become untrusted blocking DHCP server traffic, undefined: use system defaults (access ports default to untrusted, trunk ports default to trusted).",
            "type": "boolean"
          },
          "allow_multiple_supplicants": {
            "default": false,
            "description": "Only if `mode`!=`dynamic`",
            "type": "boolean"
          },
          "bypass_auth_when_server_down": {
            "default": false,
            "description": "Only if `mode`!=`dynamic` and `port_auth`==`dot1x`. Bypass auth for known clients if set to true when RADIUS server is down",
            "type": "boolean"
          },
          "bypass_auth_when_server_down_for_unknown_client": {
            "default": false,
            "description": "Only if `mode`!=`dynamic` and `port_auth`=`dot1x`. Bypass auth for all (including unknown clients) if set to true when RADIUS server is down",
            "type": "boolean"
          },
          "bypass_auth_when_server_down_for_voip": {
            "default": false,
            "description": "Only if `mode`!=`dynamic` and `port_auth`==`dot1x`. Bypass auth for VOIP if set to true when RADIUS server is down",
            "type": "boolean"
          },
          "community_vlan_id": {
            "description": "Only if `mode`!=`dynamic`. To be used together with `isolation` under networks. Signaling that this port connects to the networks isolated but wired clients belong to the same community can talk to each other",
            "type": "integer"
          },
          "description": {
            "description": "Only if `mode`!=`dynamic`",
            "type": "string"
          },
          "disable_autoneg": {
            "default": false,
            "description": "Only if `mode`!=`dynamic`. If speed and duplex are specified, whether to disable autonegotiation",
            "type": "boolean"
          },
          "disabled": {
            "default": false,
            "description": "Only if `mode`!=`dynamic`. Whether the port is disabled",
            "type": "boolean"
          },
          "duplex": {
            "$ref": "#/components/schemas/switch_port_usage_duplex",
            "description": "Only if `mode`!=`dynamic`. Link duplex mode for this port usage"
          },
          "dynamic_vlan_networks": {
            "$ref": "#/components/schemas/switch_port_usage_dynamic_vlan_networks",
            "description": "Only if `mode`!=`dynamic` and `port_auth`==`dot1x`. Networks or VLANs that RADIUS can return for dynamic VLAN assignment"
          },
          "enable_mac_auth": {
            "default": false,
            "description": "Only if `mode`!=`dynamic` and `port_auth`==`dot1x`. Whether to enable MAC Auth",
            "type": "boolean"
          },
          "enable_qos": {
            "default": false,
            "description": "Only if `mode`!=`dynamic`",
            "type": "boolean"
          },
          "guest_network": {
            "description": "Only if `mode`!=`dynamic` and `port_auth`==`dot1x`. Which network to put the device into if the device cannot do dot1x. default is null (i.e. not allowed)",
            "type": [
              "string",
              "null"
            ]
          },
          "inter_isolation_network_link": {
            "default": false,
            "description": "Only if `mode`!=`dynamic`. `inter_isolation_network_link` is used together with `isolation` under networks, signaling that this port connects to isolated networks",
            "type": "boolean"
          },
          "inter_switch_link": {
            "default": false,
            "description": "Only if `mode`!=`dynamic`. `inter_switch_link` is used together with `isolation` under networks. NOTE: `inter_switch_link` works only between Juniper devices. This has to be applied to both ports connected together",
            "type": "boolean"
          },
          "mac_auth_only": {
            "description": "Only if `mode`!=`dynamic` and `enable_mac_auth`==`true`",
            "type": "boolean"
          },
          "mac_auth_preferred": {
            "description": "Only if `mode`!=`dynamic` + `enable_mac_auth`==`true` + `mac_auth_only`==`false`, dot1x will be given priority then mac_auth. Enable this to prefer mac_auth over dot1x.",
            "type": "boolean"
          },
          "mac_auth_protocol": {
            "$ref": "#/components/schemas/switch_port_usage_mac_auth_protocol",
            "description": "Only if `mode`!=`dynamic` and `enable_mac_auth`==`true`. MAC authentication protocol to use; ignored if Mist NAC is enabled"
          },
          "mac_limit": {
            "$ref": "#/components/schemas/switch_port_usage_mac_limit",
            "description": "Only if `mode`!=`dynamic`. Maximum number of MAC addresses allowed on the port; 0 means unlimited"
          },
          "mode": {
            "$ref": "#/components/schemas/switch_port_usage_mode",
            "description": "Switching mode for this port usage"
          },
          "mtu": {
            "$ref": "#/components/schemas/switch_port_usage_mtu",
            "description": "Only if `mode`!=`dynamic`. MTU for ports using this port usage"
          },
          "networks": {
            "$ref": "#/components/schemas/switch_port_usage_networks",
            "description": "Only if `mode`==`trunk`. Network or VLAN names to trunk"
          },
          "persist_mac": {
            "default": false,
            "description": "Only if `mode`==`access` and `port_auth`!=`dot1x`. Whether the port should retain dynamically learned MAC addresses",
            "type": "boolean"
          },
          "poe_disabled": {
            "default": false,
            "description": "Only if `mode`!=`dynamic`. Whether PoE capabilities are disabled for a port",
            "type": "boolean"
          },
          "poe_keep_state_when_reboot": {
            "default": false,
            "description": "Only if `mode`!=`dynamic`. Whether Perpetual PoE is enabled; keeps PoE state across reboots",
            "type": "boolean"
          },
          "poe_priority": {
            "$ref": "#/components/schemas/poe_priority",
            "description": "Only if `mode`!=`dynamic`. PoE priority for ports using this port usage"
          },
          "port_auth": {
            "$ref": "#/components/schemas/switch_port_usage_dot1x",
            "description": "Only if `mode`!=`dynamic`. 802.1X authentication mode for this port usage"
          },
          "port_network": {
            "description": "Only if `mode`!=`dynamic`. Native network/vlan for untagged traffic",
            "type": "string"
          },
          "reauth_interval": {
            "$ref": "#/components/schemas/switch_port_usage_reauth_interval",
            "description": "Only if `mode`!=`dynamic` and `port_auth`==`dot1x`. RADIUS reauthentication interval for clients on the port"
          },
          "reset_default_when": {
            "$ref": "#/components/schemas/switch_port_usage_dynamic_reset_default_when",
            "description": "Only if `mode`==`dynamic`. Condition that resets a dynamic port to the default port usage"
          },
          "rules": {
            "$ref": "#/components/schemas/switch_port_usage_dynamic_rules",
            "description": "Only if `mode`==`dynamic`. Dynamic matching rules that select the port usage to apply"
          },
          "server_fail_network": {
            "description": "Only if `mode`!=`dynamic` and `port_auth`==`dot1x`. Sets server fail fallback vlan",
            "type": [
              "string",
              "null"
            ]
          },
          "server_fail_retry_interval": {
            "default": 120,
            "description": "Only if `mode`!=`dynamic` and `port_auth`==`dot1x`. Interval, in seconds. Sets the wait time before retrying authentication after RADIUS failure to reduce client flapping. Range 120-65535",
            "maximum": 65535,
            "minimum": 120,
            "type": "integer"
          },
          "server_reject_network": {
            "description": "Only if `mode`!=`dynamic` and `port_auth`==`dot1x`. When RADIUS server reject / fails",
            "type": [
              "string",
              "null"
            ]
          },
          "speed": {
            "$ref": "#/components/schemas/switch_port_usage_speed",
            "description": "Only if `mode`!=`dynamic`. Link speed for this port usage"
          },
          "storm_control": {
            "$ref": "#/components/schemas/switch_port_usage_storm_control",
            "description": "Only if `mode`!=`dynamic`. Storm-control settings for this port usage"
          },
          "stp_disable": {
            "default": false,
            "description": "Only if `mode`!=`dynamic` and `stp_required`==`false`. Drop bridge protocol data units (BPDUs ) that enter any interface or a specified interface",
            "type": "boolean"
          },
          "stp_edge": {
            "default": false,
            "description": "Only if `mode`!=`dynamic`. When enabled, the port is not expected to receive BPDU frames",
            "type": "boolean"
          },
          "stp_no_root_port": {
            "default": false,
            "description": "Only if `mode`!=`dynamic`",
            "type": "boolean"
          },
          "stp_p2p": {
            "default": false,
            "description": "Only if `mode`!=`dynamic`",
            "type": "boolean"
          },
          "stp_required": {
            "default": false,
            "description": "Only if `mode`!=`dynamic`. Whether to remain in block state if no BPDU is received",
            "type": "boolean"
          },
          "ui_evpntopo_id": {
            "description": "Optional for Campus Fabric Core-Distribution ESI-LAG profile. Helper used by the UI to select this port profile as the ESI-Lag between Distribution and Access switches",
            "format": "uuid",
            "type": "string"
          },
          "use_vstp": {
            "default": false,
            "description": "If this is connected to a vstp network",
            "type": "boolean"
          },
          "voip_network": {
            "description": "Only if `mode`!=`dynamic`. Network/vlan for voip traffic, must also set port_network. to authenticate device, set port_auth",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "switch_port_usage_dot1x": {
        "description": "Only if `mode`!=`dynamic`. If dot1x is desired, set to dot1x. enum: `dot1x`",
        "enum": [
          "dot1x"
        ],
        "type": [
          "string",
          "null"
        ]
      },
      "switch_port_usage_duplex": {
        "default": "auto",
        "description": "Only if `mode`!=`dynamic`. Link connection mode. enum: `auto`, `full`, `half`",
        "enum": [
          "auto",
          "full",
          "half"
        ],
        "type": "string"
      },
      "switch_port_usage_dynamic_reset_default_when": {
        "default": "link_down",
        "description": "Only if `mode`==`dynamic` Control when the DPC port should be changed to the default port usage. enum: `link_down`, `none` (let the DPC port keep at the current port usage)",
        "enum": [
          "link_down",
          "none"
        ],
        "examples": [
          "link_down"
        ],
        "type": "string"
      },
      "switch_port_usage_dynamic_rule": {
        "additionalProperties": false,
        "description": "Dynamic port usage rule evaluated against LLDP, RADIUS, or peer MAC attributes",
        "properties": {
          "description": {
            "description": "Optional description of the rule",
            "type": "string"
          },
          "equals": {
            "description": "Exact value that the selected source attribute must match",
            "type": "string"
          },
          "equals_any": {
            "$ref": "#/components/schemas/switch_port_usage_dynamic_rule_equals_any",
            "description": "List of values where any match satisfies this dynamic rule"
          },
          "expression": {
            "description": "\"[0:3]\":\"abcdef\" -> \"abc\"\n\"split(.)[1]\": \"a.b.c\" -> \"b\"\n\"split(-)[1][0:3]: \"a1234-b5678-c90\" -> \"b56\"",
            "type": "string"
          },
          "src": {
            "$ref": "#/components/schemas/switch_port_usage_dynamic_rule_src",
            "description": "Source attribute evaluated by this dynamic rule"
          },
          "usage": {
            "description": "Port usage name to apply when this dynamic rule matches",
            "type": "string"
          }
        },
        "required": [
          "src"
        ],
        "type": "object"
      },
      "switch_port_usage_dynamic_rule_equals_any": {
        "description": "Use `equals_any` to match any item in a list",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "switch_port_usage_dynamic_rule_src": {
        "description": "enum: `link_peermac`, `lldp_chassis_id`, `lldp_hardware_revision`, `lldp_manufacturer_name`, `lldp_oui`, `lldp_serial_number`, `lldp_system_description`, `lldp_system_name`, `radius_dynamicfilter`, `radius_usermac`, `radius_username`",
        "enum": [
          "link_peermac",
          "lldp_chassis_id",
          "lldp_hardware_revision",
          "lldp_manufacturer_name",
          "lldp_oui",
          "lldp_serial_number",
          "lldp_system_description",
          "lldp_system_name",
          "radius_dynamicfilter",
          "radius_usermac",
          "radius_username"
        ],
        "type": "string"
      },
      "switch_port_usage_dynamic_rules": {
        "description": "Only if `mode`==`dynamic`. Dynamic matching rules that select the port usage to apply",
        "items": {
          "$ref": "#/components/schemas/switch_port_usage_dynamic_rule"
        },
        "type": "array"
      },
      "switch_port_usage_dynamic_vlan_networks": {
        "description": "Only if `mode`!=`dynamic` and `port_auth`==`dot1x`, if dynamic vlan is used, specify the possible networks/vlans RADIUS can return",
        "examples": [
          [
            "corp",
            "user"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "switch_port_usage_mac_auth_protocol": {
        "default": "eap-md5",
        "description": "Only if `mode`!=`dynamic` and `enable_mac_auth` ==`true`. This type is ignored if mist_nac is enabled. enum: `eap-md5`, `eap-peap`, `pap`",
        "enum": [
          "eap-md5",
          "eap-peap",
          "pap"
        ],
        "type": "string"
      },
      "switch_port_usage_mac_limit": {
        "anyOf": [
          {
            "default": 0,
            "maximum": 16383,
            "minimum": 0,
            "type": "integer"
          },
          {
            "type": "string"
          }
        ],
        "description": "Only if `mode`!=`dynamic`, max number of MAC addresses, default is 0 for unlimited, otherwise range is 1 to 16383 (upper bound constrained by platform)"
      },
      "switch_port_usage_mode": {
        "description": "`mode`==`dynamic` must only be used if the port usage name is `dynamic`. enum: `access`, `dynamic`, `inet`, `trunk`",
        "enum": [
          "access",
          "dynamic",
          "inet",
          "trunk"
        ],
        "type": "string"
      },
      "switch_port_usage_mtu": {
        "anyOf": [
          {
            "maximum": 9216,
            "minimum": 256,
            "type": "integer"
          },
          {
            "type": "string"
          },
          {
            "type": "null"
          }
        ],
        "description": "Only if `mode`!=`dynamic` media maximum transmission unit (MTU) is the largest data unit that can be forwarded without fragmentation. The default value is 1514."
      },
      "switch_port_usage_networks": {
        "description": "Only if `mode`==`trunk`, the list of network/vlans",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "switch_port_usage_reauth_interval": {
        "anyOf": [
          {
            "default": 3600,
            "maximum": 65535,
            "minimum": 10,
            "type": "integer"
          },
          {
            "type": "string"
          }
        ],
        "description": "Only if `mode`!=`dynamic` and `port_auth`=`dot1x` reauthentication interval range (min: 10, max: 65535, default: 3600). Set to 0 to disable reauthentication (no-reauthentication)."
      },
      "switch_port_usage_speed": {
        "default": "auto",
        "description": "Only if `mode`!=`dynamic`, Port speed, default is auto to automatically negotiate speed enum: `100m`, `10m`, `1g`, `2.5g`, `5g`, `10g`, `25g`, `40g`, `100g`,`auto`",
        "enum": [
          "10m",
          "100m",
          "1g",
          "2.5g",
          "5g",
          "10g",
          "25g",
          "40g",
          "100g",
          "auto"
        ],
        "type": "string"
      },
      "switch_port_usage_storm_control": {
        "additionalProperties": false,
        "description": "Switch storm control. Only if `mode`!=`dynamic`",
        "properties": {
          "disable_port": {
            "default": false,
            "description": "Whether to disable the port when storm control is triggered",
            "type": "boolean"
          },
          "no_broadcast": {
            "default": false,
            "description": "Whether to disable storm control on broadcast traffic",
            "type": "boolean"
          },
          "no_multicast": {
            "default": false,
            "description": "Whether to disable storm control on multicast traffic",
            "type": "boolean"
          },
          "no_registered_multicast": {
            "default": false,
            "description": "Whether to disable storm control on registered multicast traffic",
            "type": "boolean"
          },
          "no_unknown_unicast": {
            "default": false,
            "description": "Whether to disable storm control on unknown unicast traffic",
            "type": "boolean"
          },
          "percentage": {
            "default": 80,
            "description": "Bandwidth-percentage, configures the storm control level as a percentage of the available bandwidth",
            "maximum": 100,
            "minimum": 0,
            "type": "integer"
          }
        },
        "type": "object"
      },
      "switch_port_usages": {
        "additionalProperties": {
          "$ref": "#/components/schemas/switch_port_usage"
        },
        "description": "Property key is the port usage name. Defines the profiles of port configuration configured on the switch",
        "type": "object"
      },
      "vlan_id_with_variable": {
        "description": "VLAN ID, either numeric or expressed as a template variable string",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          }
        ]
      },
      "wired_port_config": {
        "additionalProperties": {
          "$ref": "#/components/schemas/junos_port_config"
        },
        "description": "Property key is the port name or range (e.g. \"ge-0/0/0-10\")",
        "type": "object"
      }
    },
    "responses": {
      "EvpnTopologiesArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/EvpnTopologiesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/evpn_topologies_response"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/EvpnTopologiesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/evpn_topologies_response"
            }
          }
        },
        "description": "OK"
      },
      "EvpnTopology": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/EvpnTopologyExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/evpn_topology"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/EvpnTopologyExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/evpn_topology"
            }
          }
        },
        "description": "Example response"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      }
    },
    "parameters": {
      "evpn_topology_id": {
        "in": "path",
        "name": "evpn_topology_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "page": {
        "description": "Select the page number to return when using page-based pagination; starts at `1`",
        "in": "query",
        "name": "page",
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "EvpnTopologiesArrayExample": {
        "value": [
          {
            "created_time": 1736421230,
            "evpn_options": {
              "auto_loopback_subnet": "172.16.192.0/24",
              "auto_loopback_subnet6": "fd33:ab00:2::/64",
              "auto_router_id_subnet": "172.16.254.0/23",
              "core_as_border": true,
              "overlay": {
                "as": 65000
              },
              "per_vlan_vga_v4_mac": false,
              "routed_at": "core",
              "underlay": {
                "as_base": 65001,
                "subnet": "10.255.240.0/20",
                "use_ipv6": false
              }
            },
            "for_site": false,
            "id": "764fb173-94f9-447c-8454-def62e5a999f",
            "modified_time": 1736421230,
            "name": "tert",
            "org_id": "3a2627d7-bfbc-45af-b85d-8841581c6d63",
            "pod_names": {
              "1": "Pod 1"
            },
            "site_id": "00000000-0000-0000-0000-000000000000"
          }
        ]
      },
      "EvpnTopologyExample": {
        "value": {
          "id": "9197ec96-4c8d-529f-c595-035895e688b2",
          "name": "CC",
          "overwrite": true,
          "pod_names": {
            "1": "default",
            "2": "default"
          },
          "switches": [
            {
              "deviceprofile_id": "6a1deab1-96df-4fa2-8455-d5253f943d06",
              "downlink_ips": [
                "10.255.240.6",
                "10.255.240.8"
              ],
              "downlinks": [
                "5c5b35000007",
                "5c5b35000008"
              ],
              "esilaglinks": [
                "5c5b3500000f"
              ],
              "evpn_id": 1,
              "mac": "5c5b35000003",
              "model": "QFX10002-36Q",
              "role": "collapsed-core",
              "site_id": "1916d52a-4a90-11e5-8b45-1258369c38a9",
              "uplinks": [
                "5c5b35000005",
                "5c5b35000006"
              ]
            }
          ]
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
