{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Zones",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "A Zone is a custom area defined by a user on a floor plan.\n\nZones can be used for capturing entry and exit events of clients, assets, and sdk clients, providing insights such as wait time and the number of devices in a particular zone.\n\nZone notifications can be accessed using sdk notification callbacks.\n\nZones are useful for data collection specific to areas on the floor plan.",
      "name": "Sites Zones"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/zones": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get List of Site Zones",
        "operationId": "listSiteZones",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ZonesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteZones",
        "tags": [
          "Sites Zones"
        ]
      },
      "post": {
        "description": "Create Site Zone",
        "operationId": "createSiteZone",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "name": "string",
                    "vertices": [
                      {
                        "x": 0,
                        "y": 0
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/zone"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Zone"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createSiteZone",
        "tags": [
          "Sites Zones"
        ]
      }
    },
    "/api/v1/sites/{site_id}/zones/{zone_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/zone_id"
        }
      ],
      "get": {
        "description": "Get Site Zone Details",
        "operationId": "getSiteZone",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Zone"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteZone",
        "tags": [
          "Sites Zones"
        ]
      },
      "put": {
        "description": "Update Site Zone",
        "operationId": "updateSiteZone",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "name": "string",
                    "vertices": [
                      {
                        "x": 0,
                        "y": 0
                      }
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/zone"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Zone"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteZone",
        "tags": [
          "Sites Zones"
        ]
      },
      "delete": {
        "description": "Delete Site Zone",
        "operationId": "deleteSiteZone",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteZone",
        "tags": [
          "Sites Zones"
        ]
      }
    },
    "/api/v1/sites/{site_id}/{zone_type}/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/zone_type"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Site Zone Sessions",
        "operationId": "countSiteZoneSessions",
        "parameters": [
          {
            "example": "scope_id",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/site_zone_count_distinct"
            }
          },
          {
            "description": "User type",
            "in": "query",
            "name": "user_type",
            "schema": {
              "$ref": "#/components/schemas/rf_client_type"
            }
          },
          {
            "description": "Client MAC / Asset MAC / SDK UUID",
            "in": "query",
            "name": "user",
            "schema": {
              "examples": [
                "b0c4e7001543"
              ],
              "type": "string"
            }
          },
          {
            "description": "If `scope`==`map`/`zone`/`rssizone`, the scope id",
            "in": "query",
            "name": "scope_id",
            "schema": {
              "examples": [
                "8bfc2490-d726-3587-038d-cb2e71bd2330"
              ],
              "type": "string"
            }
          },
          {
            "description": "Scope",
            "in": "query",
            "name": "scope",
            "schema": {
              "$ref": "#/components/schemas/zone_scope"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countSiteZoneSessions",
        "tags": [
          "Sites Zones"
        ]
      }
    },
    "/api/v1/sites/{site_id}/{zone_type}/visits/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/zone_type"
        }
      ],
      "get": {
        "description": "Search Zone Sessions",
        "operationId": "searchSiteZoneSessions",
        "parameters": [
          {
            "description": "User type, client (default) / sdkclient / asset",
            "in": "query",
            "name": "user_type",
            "schema": {
              "$ref": "#/components/schemas/rf_client_type"
            }
          },
          {
            "description": "Client MAC / Asset MAC / SDK UUID",
            "in": "query",
            "name": "user",
            "schema": {
              "examples": [
                "b0c4e7001543"
              ],
              "type": "string"
            }
          },
          {
            "description": "If `scope`==`map`/`zone`/`rssizone`, the scope id",
            "in": "query",
            "name": "scope_id",
            "schema": {
              "examples": [
                "8bfc2490-d726-3587-038d-cb2e71bd2330"
              ],
              "type": "string"
            }
          },
          {
            "description": "Scope",
            "in": "query",
            "name": "scope",
            "schema": {
              "$ref": "#/components/schemas/visits_scope"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ZoneSessionsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchSiteZoneSessions",
        "tags": [
          "Sites Zones"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "properties": {
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "properties": {
          "distinct": {
            "type": "string"
          },
          "end": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results"
          },
          "start": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_zone_search": {
        "additionalProperties": false,
        "properties": {
          "end": {
            "examples": [
              1541705289.769911
            ],
            "type": "number"
          },
          "limit": {
            "examples": [
              1
            ],
            "type": "integer"
          },
          "next": {
            "examples": [
              "/api/v1/sites/67970e46-4e12-11e6-9188-0242ac110007/zones/visits/search?limit=2&end=1541705247.000&scope_id=85fbba9e-4e12-11e6-9188-0242ac110007&user_type=asset&start=1541618889.77"
            ],
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_zone_search_results"
          },
          "start": {
            "examples": [
              1541618889.769886
            ],
            "type": "number"
          },
          "total": {
            "examples": [
              5892
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_zone_search_item": {
        "additionalProperties": false,
        "properties": {
          "enter": {
            "examples": [
              1541705254
            ],
            "type": "integer"
          },
          "scope": {
            "examples": [
              "map"
            ],
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp"
          },
          "user": {
            "examples": [
              "c4b301c81166"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_zone_search_results": {
        "items": {
          "$ref": "#/components/schemas/response_zone_search_item"
        },
        "type": "array"
      },
      "rf_client_type": {
        "description": "enum: `asset`, `client`, `sdkclient`",
        "enum": [
          "asset",
          "client",
          "sdkclient"
        ],
        "type": "string"
      },
      "site_id": {
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "site_zone_count_distinct": {
        "default": "scope_id",
        "description": "enum: `scope`, `scope_id`, `user`, `user_type`",
        "enum": [
          "scope",
          "scope_id",
          "user",
          "user_type"
        ],
        "type": "string"
      },
      "timestamp": {
        "description": "Epoch (seconds)",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "visits_scope": {
        "default": "site",
        "description": "enum: `map`, `rssizone`, `site`, `zone`",
        "enum": [
          "map",
          "rssizone",
          "site",
          "zone"
        ],
        "type": "string"
      },
      "zone": {
        "description": "Zone",
        "properties": {
          "created_time": {
            "$ref": "#/components/schemas/created_time"
          },
          "for_site": {
            "readOnly": true,
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "map_id": {
            "description": "Map where this zone is defined",
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time"
          },
          "name": {
            "description": "The name of the zone",
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "vertices": {
            "$ref": "#/components/schemas/zone_vertices"
          }
        },
        "type": "object"
      },
      "zone_scope": {
        "default": "site",
        "description": "enum: `map`, `rssizone`, `site`, `zone`",
        "enum": [
          "map",
          "rssizone",
          "site",
          "zone"
        ],
        "type": "string"
      },
      "zone_type": {
        "description": "enum: `rssizones`, `zones`",
        "enum": [
          "rssizones",
          "zones"
        ],
        "type": "string"
      },
      "zone_vertex": {
        "additionalProperties": false,
        "properties": {
          "x": {
            "description": "X in pixel",
            "format": "double",
            "type": "number"
          },
          "y": {
            "description": "Y in pixel",
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "x",
          "y"
        ],
        "type": "object",
        "uniqueItems": true
      },
      "zone_vertices": {
        "description": "Vertices used to define an area. It’s assumed that the last point connects to the first point and forms an closed area",
        "examples": [
          [
            {
              "x": 732,
              "y": 1821
            },
            {
              "x": 732.5,
              "y": 1731
            },
            {
              "x": 837.5,
              "y": 1731.5
            },
            {
              "x": 839,
              "y": 1821
            }
          ]
        ],
        "items": {
          "$ref": "#/components/schemas/zone_vertex"
        },
        "type": "array"
      },
      "zones": {
        "items": {
          "$ref": "#/components/schemas/zone"
        },
        "type": "array"
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "Zone": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ZoneExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/zone"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ZoneExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/zone"
            }
          }
        },
        "description": "OK"
      },
      "ZoneSessionsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ZoneSessionsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_zone_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ZoneSessionsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_zone_search"
            }
          }
        },
        "description": "Result of Search Zone Sessions"
      },
      "ZonesArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ZonesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/zones"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ZonesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/zones"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "duration": {
        "description": "Duration like 7d, 2w",
        "in": "query",
        "name": "duration",
        "required": false,
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "End time (epoch timestamp in seconds, or relative string like \"-1d\", \"-2h\", \"now\")",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "page": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "required": false,
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Start time (epoch timestamp in seconds, or relative string like \"-1d\", \"-1w\")",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      },
      "zone_id": {
        "in": "path",
        "name": "zone_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "zone_type": {
        "in": "path",
        "name": "zone_type",
        "required": true,
        "schema": {
          "$ref": "#/components/schemas/zone_type"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "ZoneExample": {
        "value": {
          "created_time": 0,
          "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "map_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "modified_time": 0,
          "name": "string",
          "org_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "site_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "vertices": [
            {
              "x": 0,
              "y": 0
            }
          ]
        }
      },
      "ZoneSessionsSearchExample": {
        "value": {
          "end": 1541705289.769911,
          "limit": 1,
          "next": "/api/v1/sites/67970e46-4e12-11e6-9188-0242ac110007/zones/visits/search?limit=2&end=1541705247.000&scope_id=85fbba9e-4e12-11e6-9188-0242ac110007&user_type=asset&start=1541618889.77",
          "results": [
            {
              "enter": 1541705254,
              "scope": "map",
              "timestamp": 1541705254,
              "user": "c4b301c81166"
            }
          ],
          "start": 1541618889.769886,
          "total": 5892
        }
      },
      "ZonesArrayExample": {
        "value": [
          {
            "created_time": 0,
            "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "map_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "modified_time": 0,
            "name": "string",
            "org_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "site_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "vertices": [
              {
                "x": 0,
                "y": 0
              }
            ]
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
