{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Stats - Clients SDK",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "SDK Clients are devices that have installed an application using the Mist Software Development Kit (SDK).\n\nThese clients can provide specific data and information that is not available without the installation of the SDK application.",
      "name": "Sites Stats - Clients SDK"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/stats/maps/{map_id}/sdkclients": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/map_id"
        }
      ],
      "get": {
        "description": "Get SdkClient Stats By Map",
        "operationId": "getSiteSdkStatsByMap",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stats_sdkclients"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSdkStatsByMap",
        "tags": [
          "Sites Stats - Clients SDK"
        ]
      }
    },
    "/api/v1/sites/{site_id}/stats/sdkclients/{sdkclient_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/sdkclient_id"
        }
      ],
      "get": {
        "description": "Get Detail Stats of a SdkClient",
        "operationId": "getSiteSdkStats",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": {
                      "id": "d56bd5fa-0a0a-4861-a9df-5ac83d3a2eeb",
                      "last_seen": 1428939600,
                      "name": "John's iPhone",
                      "network_connection": {
                        "mac": "c3-b6-e5-af-41-15",
                        "rssi": -75,
                        "signal_level": 3,
                        "type": "WiFi"
                      },
                      "uuid": "ada72f8f-1643-e5c6-94db-f2a5636f1a64",
                      "vbeacons": [
                        {
                          "id": "d379d29d-24b4-96c5-5dd4-6f2a2dc5aaeb",
                          "since": 1428939300
                        }
                      ],
                      "x": 60,
                      "y": 80,
                      "zones": [
                        {
                          "id": "8ac84899-32db-6327-334c-9b6d58544cfe",
                          "since": 1428939600
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/sdkstats_wireless_client"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSdkStats",
        "tags": [
          "Sites Stats - Clients SDK"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "last_seen": {
        "description": "Last seen timestamp",
        "examples": [
          1470417522
        ],
        "format": "double",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "sdkstats_wireless_client": {
        "additionalProperties": false,
        "description": "SDK Client Details statistics",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen"
          },
          "map_id": {
            "description": "Map_id of the sdk client (if known), or null",
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "description": "Name of the sdk client (if provided)",
            "type": "string"
          },
          "network_connection": {
            "$ref": "#/components/schemas/stats_sdkclient_network_connection"
          },
          "uuid": {
            "description": "UUID of the sdk client",
            "format": "uuid",
            "type": "string"
          },
          "vbeacons": {
            "$ref": "#/components/schemas/sdkstats_wireless_client_vbeacons"
          },
          "x": {
            "description": "X (in pixels) of user location on the map (if known)",
            "format": "double",
            "type": "number"
          },
          "y": {
            "description": "Y (in pixels) of user location on the map (if known)",
            "format": "double",
            "type": "number"
          },
          "zones": {
            "$ref": "#/components/schemas/sdkstats_wireless_client_zones"
          }
        },
        "required": [
          "id",
          "uuid"
        ],
        "type": "object"
      },
      "sdkstats_wireless_client_vbeacon": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "since": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "since"
        ],
        "type": "object"
      },
      "sdkstats_wireless_client_vbeacons": {
        "description": "List of beacon_id’s of the sdk client is in and since when (if known)",
        "items": {
          "$ref": "#/components/schemas/sdkstats_wireless_client_vbeacon"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sdkstats_wireless_client_zone": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "since": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "since"
        ],
        "type": "object"
      },
      "sdkstats_wireless_client_zones": {
        "description": "List of zone_id’s of the sdk client is in and since when (if known)",
        "items": {
          "$ref": "#/components/schemas/sdkstats_wireless_client_zone"
        },
        "type": "array",
        "uniqueItems": true
      },
      "stats_sdkclient": {
        "additionalProperties": false,
        "description": "SDK Client statistics",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen"
          },
          "map_id": {
            "description": "Map_id of the sdk client (if known), or null",
            "examples": [
              "845a23bf-bed9-e43c-4c86-6fa474be7ae5"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "description": "Name of the sdk client (if provided)",
            "examples": [
              "John's iPhone"
            ],
            "type": "string"
          },
          "network_connection": {
            "$ref": "#/components/schemas/stats_sdkclient_network_connection"
          },
          "uuid": {
            "description": "UUID of the sdk client",
            "examples": [
              "ada72f8f-1643-e5c6-94db-f2a5636f1a64"
            ],
            "format": "uuid",
            "type": "string"
          },
          "x": {
            "description": "X (in pixels) of user location on the map (if known)",
            "examples": [
              60
            ],
            "format": "double",
            "type": "number"
          },
          "y": {
            "description": "Y (in pixels) of user location on the map (if known)",
            "examples": [
              80
            ],
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "id",
          "uuid",
          "network_connection"
        ],
        "type": "object"
      },
      "stats_sdkclient_network_connection": {
        "additionalProperties": false,
        "description": "Various network connection info for the SDK client (if known, else omitted), with RSSI in dBm, and signal level as",
        "properties": {
          "mac": {
            "type": "string"
          },
          "rssi": {
            "type": "number"
          },
          "signal_level": {
            "type": "number"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "rssi",
          "mac",
          "signal_level"
        ],
        "type": "object"
      },
      "stats_sdkclients": {
        "items": {
          "$ref": "#/components/schemas/stats_sdkclient"
        },
        "type": "array"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      }
    },
    "parameters": {
      "map_id": {
        "in": "path",
        "name": "map_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "sdkclient_id": {
        "in": "path",
        "name": "sdkclient_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
