{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Clients - NAC",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "NAC Clients are devices connected to the network and authenticated by Juniper Mist Access Assurance.",
      "name": "Sites Clients - NAC"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/nac_clients/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Count NAC clients for a site, optionally grouped by the `distinct` field and filtered by authentication, identity, endpoint, network, and time attributes. Use [Count Org NAC Clients](/#operations/countOrgNacClients) to count NAC clients across the organization.",
        "operationId": "countSiteNacClients",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `ap`, `auth_type`, `device_mac`, `edr_managed`, `edr_provider`, `edr_status`, `family`, `hostname`, `idp_id`, `mfg`, `mdm_compliance`, `mdm_managed`, `mdm_provider`, `model`, `mxedge_id`, `nacrule_matched`, `nacrule_name`, `nacrule_id`, `nas_ip`, `nas_vendor`, `os`, `ssid`, `status`, `type`, `usermac_label`, `username`, `vlan`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/site_nac_clients_count_distinct"
            }
          },
          {
            "description": "NAC Policy Rule ID, if matched",
            "in": "query",
            "name": "last_nacrule_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "NAC Policy Rule Matched",
            "in": "query",
            "name": "nacrule_matched",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Authentication type, e.g. \"eap-tls\", \"eap-peap\", \"eap-ttls\", \"eap-teap\", \"mab\", \"psk\", \"device-auth\"",
            "in": "query",
            "name": "auth_type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by last VLAN ID",
            "in": "query",
            "name": "last_vlan_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Vendor of NAS device",
            "in": "query",
            "name": "last_nas_vendor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "SSO ID, if present and used",
            "in": "query",
            "name": "idp_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by last SSID",
            "in": "query",
            "name": "last_ssid",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Username presented by the client",
            "in": "query",
            "name": "last_username",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "AP MAC connected to by client",
            "in": "query",
            "name": "last_ap",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by MAC address",
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Connection status of client i.e \"permitted\", \"denied, \"session_ended\"",
            "in": "query",
            "name": "last_status",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client type i.e. \"wireless\", \"wired\" etc.",
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MDM compliance of client i.e \"compliant\", \"not compliant\"",
            "in": "query",
            "name": "mdm_compliance_status",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MDM provider of client’s organization eg \"intune\", \"jamf\"",
            "in": "query",
            "name": "mdm_provider",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countSiteNacClients",
        "tags": [
          "Sites Clients - NAC"
        ]
      }
    },
    "/api/v1/sites/{site_id}/nac_clients/events/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Count NAC client events for a site, optionally grouped by the `distinct` field and filtered by event type and time range. Use [Count Org NAC Client Events](/#operations/countOrgNacClientEvents) to count NAC client events across the organization.",
        "operationId": "countSiteNacClientEvents",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `ap`, `auth_type`, `dryrun_nacrule_id`, `mac`, `nacrule_id`, `nas_vendor`, `ssid`, `type`, `username`, `vlan`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/site_nac_client_events_count_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/nac_event_type"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countSiteNacClientEvents",
        "tags": [
          "Sites Clients - NAC"
        ]
      }
    },
    "/api/v1/sites/{site_id}/nac_clients/events/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Search NAC client events for a site with filters for authentication, NAC rule, identity provider, RADIUS, network, endpoint, and time attributes. Use [Search Org NAC Client Events](/#operations/searchOrgNacClientEvents) to search NAC client events across the organization.",
        "operationId": "searchSiteNacClientEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/nac_event_type"
          },
          {
            "description": "NAC Policy Rule ID, if matched",
            "in": "query",
            "name": "nacrule_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "NAC Policy Rule Matched",
            "in": "query",
            "name": "nacrule_matched",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "NAC Policy Dry Run Rule ID, if present and matched",
            "in": "query",
            "name": "dryrun_nacrule_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "True - if dryrun rule present and matched with priority, False - if not matched or not present",
            "in": "query",
            "name": "dryrun_nacrule_matched",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Authentication type, e.g. \"eap-tls\", \"eap-peap\", \"eap-ttls\", \"eap-teap\", \"mab\", \"psk\", \"device-auth\"",
            "in": "query",
            "name": "auth_type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by VLAN ID",
            "in": "query",
            "name": "vlan",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Vendor of NAS device",
            "in": "query",
            "name": "nas_vendor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by BSSID",
            "in": "query",
            "name": "bssid",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "SSO ID, if present and used",
            "in": "query",
            "name": "idp_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "IDP returned roles/groups for the user",
            "in": "query",
            "name": "idp_role",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Username presented to the Identity Provider",
            "in": "query",
            "name": "idp_username",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "RADIUS attributes returned by NAC to NAS Devive",
            "in": "query",
            "name": "resp_attrs",
            "schema": {
              "$ref": "#/components/schemas/resp_attrs"
            }
          },
          {
            "description": "Filter results by SSID",
            "in": "query",
            "name": "ssid",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by username",
            "in": "query",
            "name": "username",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by AP MAC address",
            "in": "query",
            "name": "ap",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by whether the client is using a randomized MAC address",
            "in": "query",
            "name": "random_mac",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Filter results by MAC address",
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Labels derived from usermac entry",
            "in": "query",
            "name": "usermac_label",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Partial / full MAC address, username, device_mac or ap. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `aabbcc*` and `*bbcc*` match `aabbccddeeff`). Suffix-only wildcards (e.g. `*bccddeeff`) are not supported",
            "in": "query",
            "name": "text",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "IP address of NAS device",
            "in": "query",
            "name": "nas_ip",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Vendor specific VLAN ID in RADIUS requests",
            "in": "query",
            "name": "ingress_vlan",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/sort_wcid"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EventsNacClientSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchSiteNacClientEvents",
        "tags": [
          "Sites Clients - NAC"
        ]
      }
    },
    "/api/v1/sites/{site_id}/nac_clients/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Search NAC clients for a site with filters for authentication, endpoint posture, identity, network, NAC rule, and time attributes. Use [Search Org NAC Clients](/#operations/searchOrgNacClients) to search NAC clients across the organization.",
        "operationId": "searchSiteNacClients",
        "parameters": [
          {
            "description": "MAC address of the AP the client is/was connected to",
            "in": "query",
            "name": "ap",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Authentication type, e.g. \"eap-tls\", \"eap-peap\", \"eap-ttls\", \"eap-teap\", \"mab\", \"psk\", \"device-auth\"",
            "in": "query",
            "name": "auth_type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by certificate expiry within a specific duration from now (e.g., \"7d\" for 7 days, \"1m\" for 1 month)",
            "in": "query",
            "name": "cert_expiry_duration",
            "schema": {
              "examples": [
                "7d",
                "1m"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filters NAC clients that are integrated with EDR providers",
            "in": "query",
            "name": "edr_managed",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "EDR provider used to filter NAC clients. enum: `crowdstrike`, `sentinelone`",
            "in": "query",
            "name": "edr_provider",
            "schema": {
              "$ref": "#/components/schemas/edr_provider"
            }
          },
          {
            "description": "EDR status used to filter NAC clients. enum: `sentinelone_healthy`, `sentinelone_infected`, `crowdstrike_low`, `crowdstrike_medium`, `crowdstrike_high`, `crowdstrike_critical`, `crowdstrike_informational`",
            "in": "query",
            "name": "edr_status",
            "schema": {
              "$ref": "#/components/schemas/edr_status"
            }
          },
          {
            "$ref": "#/components/parameters/partial_filter_family_client"
          },
          {
            "$ref": "#/components/parameters/partial_filter_hostname_client"
          },
          {
            "description": "SSO ID, if present and used",
            "in": "query",
            "name": "idp_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/partial_filter_mac_client"
          },
          {
            "description": "MDM compliance of client i.e \"compliant\", \"not compliant\"",
            "in": "query",
            "name": "mdm_compliance",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MDM provider of client’s organization eg \"intune\", \"jamf\"",
            "in": "query",
            "name": "mdm_provider",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filters NAC clients that are managed by MDM providers",
            "in": "query",
            "name": "mdm_managed",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/partial_filter_mfg_client"
          },
          {
            "description": "Client model, e.g. \"iPhone 12\", \"MX100\"",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "NAC Policy Rule Name matched",
            "in": "query",
            "name": "nacrule_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "NAC Policy Rule ID, if matched",
            "in": "query",
            "name": "nacrule_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "NAC Policy Rule Matched",
            "in": "query",
            "name": "nacrule_matched",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "Vendor of NAS device",
            "in": "query",
            "name": "nas_vendor",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "IP address of NAS device",
            "in": "query",
            "name": "nas_ip",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Vendor specific VLAN ID in RADIUS requests",
            "in": "query",
            "name": "ingress_vlan",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client OS, e.g. \"iOS 18.1\", \"Android\", \"Windows\", \"Linux\"",
            "in": "query",
            "name": "os",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by SSID",
            "in": "query",
            "name": "ssid",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client connection status used to filter results. enum: `permitted`, `session_started`, `session_stopped`, `denied`",
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/nac_client_last_status"
            }
          },
          {
            "description": "partial / full MAC address, last_username, device_mac, nas_ip. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `aabbcc*` and `*bbcc*` match `aabbccddeeff`). Suffix-only wildcards (e.g. `*bccddeeff`) are not supported.",
            "in": "query",
            "name": "text",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Client type i.e. \"wireless\", \"wired\" etc.",
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Labels derived from usermac entry",
            "in": "query",
            "name": "usermac_label",
            "schema": {
              "$ref": "#/components/schemas/strings"
            }
          },
          {
            "description": "Filter results by username",
            "in": "query",
            "name": "username",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by VLAN ID",
            "in": "query",
            "name": "vlan",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort_wcid"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClientNacSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchSiteNacClients",
        "tags": [
          "Sites Clients - NAC"
        ]
      }
    },
    "/api/v1/sites/{site_id}/nac_clients/{client_mac}/coa": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/client_mac"
        }
      ],
      "post": {
        "description": "Sends CoA (Change of Authorization) command to a NAC client.",
        "operationId": "sendSiteNacClientCoA",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/nac_client_coa"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/NacClientCoa"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "sendSiteNacClientCoA",
        "tags": [
          "Sites Clients - NAC"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "client_nac": {
        "additionalProperties": false,
        "description": "NAC client authentication and access state",
        "properties": {
          "ap": {
            "$ref": "#/components/schemas/nac_client_ap",
            "description": "Observed AP MAC addresses for the NAC client during the query duration"
          },
          "auth_type": {
            "$ref": "#/components/schemas/nac_auth_type",
            "description": "Authentication method used by the NAC client"
          },
          "cert_cn": {
            "$ref": "#/components/schemas/nac_cert_cn",
            "description": "Certificate common names observed for the client during the query duration"
          },
          "cert_issuer": {
            "$ref": "#/components/schemas/nac_cert_issuer",
            "description": "Certificate issuers observed for the client during the query duration"
          },
          "cert_serial": {
            "$ref": "#/components/schemas/nac_cert_serial",
            "description": "Certificate serial numbers observed for the client during the query duration"
          },
          "cert_subject": {
            "$ref": "#/components/schemas/nac_cert_subject",
            "description": "Certificate subjects observed for the client during the query duration"
          },
          "client_ip": {
            "$ref": "#/components/schemas/nac_client_ip",
            "description": "Client IP addresses observed during the query duration"
          },
          "device_mac": {
            "$ref": "#/components/schemas/nac_device_mac",
            "description": "MAC address of the AP or switch handling the NAC client session"
          },
          "edr_managed": {
            "description": "Whether the NAC client is managed by an EDR provider",
            "type": "boolean"
          },
          "edr_providers": {
            "description": "EDR providers associated with the NAC client",
            "items": {
              "$ref": "#/components/schemas/edr_provider"
            },
            "type": "array"
          },
          "edr_status": {
            "description": "EDR health statuses reported for the NAC client",
            "items": {
              "$ref": "#/components/schemas/edr_status"
            },
            "type": "array"
          },
          "group": {
            "description": "User group associated with the NAC client",
            "type": "string"
          },
          "idp_id": {
            "description": "Identity Provider identifier used during NAC authentication",
            "type": "string"
          },
          "idp_role": {
            "$ref": "#/components/schemas/strings",
            "description": "Identity Provider roles or groups returned for the NAC client"
          },
          "last_ap": {
            "$ref": "#/components/schemas/last_ap",
            "description": "Most recent AP MAC address used by the NAC client"
          },
          "last_cert_cn": {
            "$ref": "#/components/schemas/last_cert_cn",
            "description": "Most recent certificate common name used by the NAC client"
          },
          "last_cert_expiry": {
            "$ref": "#/components/schemas/last_cert_expiry",
            "description": "Most recent certificate expiration timestamp for the NAC client"
          },
          "last_cert_issuer": {
            "$ref": "#/components/schemas/last_cert_issuer",
            "description": "Most recent certificate issuer used by the NAC client"
          },
          "last_cert_serial": {
            "$ref": "#/components/schemas/last_cert_serial",
            "description": "Most recent certificate serial number used by the NAC client"
          },
          "last_cert_subject": {
            "$ref": "#/components/schemas/last_cert_subject",
            "description": "Most recent certificate subject used by the NAC client"
          },
          "last_client_ip": {
            "$ref": "#/components/schemas/last_client_ip",
            "description": "Most recent client IP address observed for the NAC client"
          },
          "last_nacrule_id": {
            "$ref": "#/components/schemas/last_nacrule_id",
            "description": "Most recent NAC policy rule identifier used for authentication"
          },
          "last_nacrule_name": {
            "$ref": "#/components/schemas/last_nacrule_name",
            "description": "Most recent NAC policy rule name used for authentication"
          },
          "last_nas_vendor": {
            "$ref": "#/components/schemas/last_nas_vendor",
            "description": "Most recent NAS vendor reported for the NAC client"
          },
          "last_port_id": {
            "$ref": "#/components/schemas/last_port_id",
            "description": "Most recent port identifier used by the NAC client"
          },
          "last_ssid": {
            "$ref": "#/components/schemas/last_ssid",
            "description": "Most recent SSID used by the NAC client"
          },
          "last_status": {
            "$ref": "#/components/schemas/nac_client_last_status",
            "description": "Most recent NAC authentication status for the client"
          },
          "last_username": {
            "$ref": "#/components/schemas/last_username",
            "description": "Most recent username presented by the NAC client"
          },
          "last_vlan": {
            "$ref": "#/components/schemas/last_vlan",
            "description": "Most recent VLAN associated with the NAC client"
          },
          "mac": {
            "$ref": "#/components/schemas/nac_client_mac",
            "description": "Client MAC address for the NAC record"
          },
          "nacrule_id": {
            "$ref": "#/components/schemas/nac_nacrule_id",
            "description": "NAC policy rule identifiers used during the query duration"
          },
          "nacrule_matched": {
            "description": "Whether a NAC policy rule matched the client",
            "type": "boolean"
          },
          "nacrule_name": {
            "$ref": "#/components/schemas/nac_nacrule_name",
            "description": "NAC policy rule names used during the query duration"
          },
          "nas_ip": {
            "description": "IP address of the NAS device used for authentication",
            "type": "string"
          },
          "nas_vendor": {
            "$ref": "#/components/schemas/nac_nas_vendor",
            "description": "NAS vendors observed for the client during the query duration"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Owning organization identifier for the NAC client"
          },
          "port_id": {
            "$ref": "#/components/schemas/nac_port_id",
            "description": "Port identifiers used by the NAC client during the query duration"
          },
          "random_mac": {
            "$ref": "#/components/schemas/random_mac",
            "description": "Whether the NAC client used a randomized MAC address"
          },
          "resp_attrs": {
            "$ref": "#/components/schemas/resp_attrs",
            "description": "RADIUS response attributes returned for the NAC client"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site identifier associated with the NAC client"
          },
          "ssid": {
            "$ref": "#/components/schemas/nac_ssid",
            "description": "Wireless SSIDs used by the NAC client during the query duration"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when the NAC client record was observed"
          },
          "type": {
            "$ref": "#/components/schemas/nac_access_type",
            "description": "Network access type for the NAC client"
          },
          "usermac_label": {
            "$ref": "#/components/schemas/strings",
            "description": "User MAC labels associated with the NAC client"
          },
          "username": {
            "$ref": "#/components/schemas/nac_client_username",
            "description": "User identities associated with the NAC client authentication"
          },
          "vlan": {
            "$ref": "#/components/schemas/nac_client_vlan",
            "description": "Network VLANs associated with the NAC client during authentication"
          }
        },
        "type": "object"
      },
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "device_type": {
        "description": "enum: `ap`, `gateway`, `switch`",
        "enum": [
          "ap",
          "gateway",
          "switch"
        ],
        "type": "string"
      },
      "edr_provider": {
        "description": "EDR provider associated with the NAC client. enum: `crowdstrike`, `sentinelone`",
        "enum": [
          "crowdstrike",
          "sentinelone"
        ],
        "type": "string"
      },
      "edr_status": {
        "description": "EDR Status of the NAC client. enum: `sentinelone_healthy`, `sentinelone_infected`, `crowdstrike_low`, `crowdstrike_medium`, `crowdstrike_high`, `crowdstrike_critical`, `crowdstrike_informational`",
        "enum": [
          "sentinelone_healthy",
          "sentinelone_infected",
          "crowdstrike_low",
          "crowdstrike_medium",
          "crowdstrike_high",
          "crowdstrike_critical",
          "crowdstrike_informational"
        ],
        "type": "string"
      },
      "last_ap": {
        "description": "Latest AP where the client is/was connected to",
        "examples": [
          "a83a79a947ee"
        ],
        "type": "string"
      },
      "last_cert_cn": {
        "description": "When certificate based authentication is used, the CN from the latest certificate used",
        "examples": [
          "john@mycorp.net"
        ],
        "type": "string"
      },
      "last_cert_expiry": {
        "description": "When certificate based authentication is used, the expiration date from the latest certificate used",
        "examples": [
          1746711240
        ],
        "type": "number"
      },
      "last_cert_issuer": {
        "description": "When certificate based authentication is used, the Issuer from the latest certificate used",
        "examples": [
          "/C=US/ST=CA/CN=MyCorp"
        ],
        "type": "string"
      },
      "last_cert_serial": {
        "description": "When certificate based authentication is used, the Serial from the latest certificate used",
        "examples": [
          "2c63510123456789"
        ],
        "type": "string"
      },
      "last_cert_subject": {
        "description": "When certificate based authentication is used, the Subject from the latest certificate used",
        "examples": [
          "/C=US/O=MyCorp/CN=john@mycorp.net/emailAddress=john@mycorp.net"
        ],
        "type": "string"
      },
      "last_client_ip": {
        "description": "The last known IP address for the client",
        "examples": [
          "10.100.0.157"
        ],
        "type": "string"
      },
      "last_nacrule_id": {
        "description": "ID of the latest NAC Rule used to authenticate the client",
        "examples": [
          "603b62db-d839-4152-9f7f-f2578443de8d"
        ],
        "type": "string"
      },
      "last_nacrule_name": {
        "description": "Name of the latest NAC Rule used to authenticate the client",
        "examples": [
          "Wireless Cert Auth"
        ],
        "type": "string"
      },
      "last_nas_vendor": {
        "description": "Vendor name of the NAS for the latest authentication",
        "examples": [
          "juniper-mist"
        ],
        "type": "string"
      },
      "last_port_id": {
        "description": "If Wired authentication, the latest Port-id the client was connected to",
        "examples": [
          "ge-0/0/17.0"
        ],
        "type": "string"
      },
      "last_ssid": {
        "description": "If Wireless authentication, the latest SSID the client was connected to",
        "examples": [
          "MyCorp-NAC"
        ],
        "type": "string"
      },
      "last_username": {
        "description": "If dot1x authentication, the username used during the latest authentication. Otherwise, the MAC address of the client",
        "examples": [
          "john@mycorp.net"
        ],
        "type": "string"
      },
      "last_vlan": {
        "description": "Latest VLAN ID assigned to the client",
        "examples": [
          10
        ],
        "type": "integer"
      },
      "nac_access_type": {
        "description": "Type of network access. enum: `wireless`, `wired`, `vty`",
        "enum": [
          "wireless",
          "wired",
          "vty"
        ],
        "examples": [
          "wireless"
        ],
        "type": "string"
      },
      "nac_auth_type": {
        "description": "enum: `cert`, `device-auth`, `eap-teap`, `eap-tls`, `eap-ttls`, `idp`, `mab`, `eap-peap`",
        "enum": [
          "cert",
          "device-auth",
          "eap-teap",
          "eap-tls",
          "eap-ttls",
          "idp",
          "mab",
          "eap-peap"
        ],
        "examples": [
          "eap-tls"
        ],
        "type": "string"
      },
      "nac_cert_cn": {
        "description": "When certificate based authentication is used, the CN from the certificates used for the specified duration",
        "examples": [
          [
            "john@mycorp.net"
          ]
        ],
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "nac_cert_issuer": {
        "description": "When certificate based authentication is used, the Issuer from the certificates used for the specified duration",
        "examples": [
          [
            "/C=US/ST=CA/CN=MyCorp"
          ]
        ],
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "nac_cert_serial": {
        "description": "When certificate based authentication is used, the Serial from the certificates used for the specified duration",
        "examples": [
          [
            "2c63510123456789"
          ]
        ],
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "nac_cert_subject": {
        "description": "When certificate based authentication is used, the Subject from the certificates used for the specified duration",
        "examples": [
          [
            "/C=US/O=MyCorp/CN=john@mycorp.net/emailAddress=john@mycorp.net"
          ]
        ],
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "nac_client_ap": {
        "description": "AP MAC addresses observed for the NAC client during the selected time range",
        "examples": [
          [
            "5c5b35bf16bb",
            "d4dc090041b4"
          ]
        ],
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "nac_client_coa": {
        "additionalProperties": false,
        "description": "Change of Authorization request for a NAC client",
        "properties": {
          "coa_type": {
            "$ref": "#/components/schemas/nac_coa_type",
            "description": "Change of Authorization command to send to the NAC client"
          }
        },
        "type": "object"
      },
      "nac_client_coa_response": {
        "additionalProperties": false,
        "description": "Response returned after sending a NAC client CoA command",
        "properties": {
          "device_mac": {
            "description": "Target AP or switch MAC address for the CoA command",
            "type": "string"
          },
          "device_type": {
            "$ref": "#/components/schemas/device_type",
            "description": "Type of network device that received the CoA command"
          }
        },
        "type": "object"
      },
      "nac_client_event": {
        "additionalProperties": false,
        "description": "NAC authentication event for a wired or wireless client",
        "properties": {
          "ap": {
            "description": "Access point MAC address for the client session",
            "examples": [
              "5c5b35513227"
            ],
            "type": "string"
          },
          "auth_type": {
            "$ref": "#/components/schemas/nac_auth_type",
            "description": "Authentication method used for the NAC event"
          },
          "bssid": {
            "description": "Wireless BSSID used for the client session",
            "examples": [
              "5c5b355fafcc"
            ],
            "type": "string"
          },
          "client_type": {
            "$ref": "#/components/schemas/nac_access_type",
            "description": "Access type for the NAC client event"
          },
          "device_mac": {
            "$ref": "#/components/schemas/nac_device_mac",
            "description": "Network device MAC address for the AP or switch handling the client session"
          },
          "dryrun_nacrule_id": {
            "$ref": "#/components/schemas/nac_event_dryrun_nacrule_id",
            "description": "Dry-run NAC rule ID that matched the event, when present"
          },
          "dryrun_nacrule_matched": {
            "$ref": "#/components/schemas/nac_event_dryrun_nacrule_matched",
            "description": "Whether a dry-run NAC rule matched the event"
          },
          "idp_id": {
            "$ref": "#/components/schemas/nac_event_idp_id",
            "description": "Identity provider configuration ID used for the event"
          },
          "idp_role": {
            "$ref": "#/components/schemas/nac_client_event_idp_role",
            "description": "Roles or groups returned by the identity provider"
          },
          "idp_username": {
            "$ref": "#/components/schemas/nac_event_idp_username",
            "description": "Username presented to the identity provider"
          },
          "mac": {
            "$ref": "#/components/schemas/nac_client_mac",
            "description": "Client MAC address for the NAC event"
          },
          "mxedge_id": {
            "description": "Mist Edge ID used to connect to cloud",
            "type": "string"
          },
          "nacrule_id": {
            "$ref": "#/components/schemas/nac_event_nacrule_id",
            "description": "NAC rule ID that matched the event"
          },
          "nacrule_matched": {
            "$ref": "#/components/schemas/nac_event_nacrule_matched",
            "description": "Whether a NAC rule matched the event"
          },
          "nas_vendor": {
            "$ref": "#/components/schemas/nac_event_nas_vendor",
            "description": "Vendor of the network access server"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Identifier of the org where the NAC event occurred"
          },
          "port_id": {
            "$ref": "#/components/schemas/nac_event_port_id",
            "description": "Switch port identifier where the NAC event occurred"
          },
          "port_type": {
            "$ref": "#/components/schemas/nac_access_type",
            "description": "Access type of the port where the NAC event occurred"
          },
          "random_mac": {
            "$ref": "#/components/schemas/random_mac",
            "description": "Whether the client used a randomized MAC address"
          },
          "resp_attrs": {
            "$ref": "#/components/schemas/resp_attrs",
            "description": "RADIUS response attributes returned by NAC to the NAS"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Identifier of the site where the NAC event occurred"
          },
          "ssid": {
            "$ref": "#/components/schemas/nac_event_ssid",
            "description": "Wireless network SSID used for the NAC session"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when the NAC event occurred"
          },
          "type": {
            "$ref": "#/components/schemas/nac_event_type",
            "description": "NAC event type code"
          },
          "usermac_label": {
            "$ref": "#/components/schemas/nac_client_event_usermac_labels",
            "description": "Labels derived from the usermac entry matched by the client"
          },
          "username": {
            "$ref": "#/components/schemas/nac_event_username",
            "description": "Client-presented username for the NAC event"
          },
          "vlan": {
            "$ref": "#/components/schemas/nac_event_vlan",
            "description": "Network VLAN name or ID returned for the NAC client"
          },
          "vlan_source": {
            "description": "Source of the assigned VLAN, for example `nactag` or `usermac`",
            "examples": [
              "nactag"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "nac_client_event_idp_role": {
        "description": "Identity provider roles or groups returned for a NAC client event",
        "examples": [
          [
            "itsuperusers",
            "vip"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "nac_client_event_usermac_labels": {
        "description": "Labels derived from usermac entry",
        "examples": [
          [
            "bldg5",
            "printer"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "nac_client_events": {
        "description": "List of NAC authentication events",
        "items": {
          "$ref": "#/components/schemas/nac_client_event"
        },
        "type": "array"
      },
      "nac_client_ip": {
        "description": "The known IP addresses used by the client for the specified duration",
        "examples": [
          [
            "10.100.0.157"
          ]
        ],
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "nac_client_last_status": {
        "description": "Latest Authentication status of the client. enum: `denied`, `permitted`, `session_started`, `session_stopped`",
        "enum": [
          "permitted",
          "session_started",
          "session_stopped",
          "denied"
        ],
        "examples": [
          "permitted"
        ],
        "type": "string"
      },
      "nac_client_mac": {
        "description": "Client MAC address observed in the NAC event",
        "examples": [
          "ac3eb179e535"
        ],
        "readOnly": true,
        "type": "string"
      },
      "nac_client_username": {
        "description": "List of usernames that have been assigned to the client",
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "nac_client_vlan": {
        "description": "List of vlans that have been assigned to the client",
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "nac_coa_type": {
        "default": "reauth",
        "description": "CoA type to send. enum: `reauth`, `disconnect`",
        "enum": [
          "reauth",
          "disconnect"
        ],
        "type": "string"
      },
      "nac_device_mac": {
        "description": "MAC address of the AP or switch the client is connected to",
        "examples": [
          "60c78d8c7f6f"
        ],
        "readOnly": true,
        "type": "string"
      },
      "nac_event_dryrun_nacrule_id": {
        "description": "NAC Policy Dry Run Rule ID, if present and matched",
        "examples": [
          "32f27e7d-ff26-4a9b-b3d1-ff9bcb264012"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "nac_event_dryrun_nacrule_matched": {
        "description": "`true` if dryrun rule present and matched with priority, `false` if not matched or not present",
        "readOnly": true,
        "type": "boolean"
      },
      "nac_event_idp_id": {
        "description": "If IDP is used, the id of the IDP configuration used",
        "examples": [
          "912ef72e-2239-4996-b81e-469e87a27cd6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "nac_event_idp_username": {
        "description": "If IDP is used, the username presented to the Identity Provider",
        "examples": [
          "user@deaflyz.net"
        ],
        "readOnly": true,
        "type": "string"
      },
      "nac_event_nacrule_id": {
        "description": "NAC Policy Rule ID, if matched",
        "examples": [
          "32f27e7d-ff26-4a9b-b3d1-ff9bcb264c62"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "nac_event_nacrule_matched": {
        "description": "NAC Policy Rule Matched",
        "readOnly": true,
        "type": "boolean"
      },
      "nac_event_nas_vendor": {
        "description": "Vendor name of the NAS",
        "examples": [
          "juniper-mist"
        ],
        "readOnly": true,
        "type": "string"
      },
      "nac_event_port_id": {
        "description": "Port ID where the NAC client event occurred",
        "examples": [
          "ge-0/0/17.0"
        ],
        "readOnly": true,
        "type": "string"
      },
      "nac_event_ssid": {
        "description": "SSIDs the client was connecting to",
        "examples": [
          "MyCorp-NAC"
        ],
        "readOnly": true,
        "type": "string"
      },
      "nac_event_type": {
        "description": "Event type, e.g. NAC_CLIENT_PERMIT. Use the [List NAC Events Definitions](/#operations/listNacEventsDefinitions) endpoint to get the full list of available values.",
        "examples": [
          "NAC_CLIENT_PERMIT"
        ],
        "readOnly": true,
        "type": "string"
      },
      "nac_event_username": {
        "description": "username assigned to the client",
        "readOnly": true,
        "type": "string"
      },
      "nac_event_vlan": {
        "description": "vlan that assigned to the client",
        "readOnly": true,
        "type": "string"
      },
      "nac_nacrule_id": {
        "description": "IDs of the NAC Rules used to authenticate the client for the specified duration",
        "examples": [
          [
            "603b62db-d839-4152-9f7f-f2578443de8d"
          ]
        ],
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "nac_nacrule_name": {
        "description": "Name of the NAC Rules used to authenticate the client for the specified duration",
        "examples": [
          [
            "Wireless Cert Auth"
          ]
        ],
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "nac_nas_vendor": {
        "description": "Vendor name of the NAS for the specified duration",
        "examples": [
          [
            "juniper-mist"
          ]
        ],
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "nac_port_id": {
        "description": "Port-ids the client was connected to for the specified duration",
        "examples": [
          [
            "ge-0/0/17.0"
          ]
        ],
        "items": {
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "nac_ssid": {
        "description": "SSIDs the client was connected to for the specified duration",
        "examples": [
          [
            "MyCorp-NAC"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "random_mac": {
        "description": "Whether the client is using randomized MAC address or not. enum: `true`, `false`",
        "enum": [
          "true",
          "false"
        ],
        "type": "string"
      },
      "resp_attrs": {
        "description": "List of RADIUS AVP returned by the Authentication Server",
        "examples": [
          [
            "Tunnel-Type=VLAN",
            "Tunnel-Medium-Type=IEEE-802",
            "Tunnel-Private-Group-Id=750",
            "User-Name=anonymous"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "response_client_nac_search": {
        "additionalProperties": false,
        "description": "Paginated NAC client search response",
        "properties": {
          "end": {
            "description": "Search window end timestamp for NAC clients, in epoch seconds",
            "examples": [
              1513362753
            ],
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of NAC client results requested",
            "examples": [
              3
            ],
            "type": "integer"
          },
          "next": {
            "description": "URL for the next page of NAC client results",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_client_nac_search_results",
            "description": "NAC client records returned for this page"
          },
          "start": {
            "description": "Search window start timestamp for NAC clients, in epoch seconds",
            "examples": [
              1513276353
            ],
            "type": "integer"
          },
          "total": {
            "description": "Number of NAC client records matching the search",
            "examples": [
              2
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_client_nac_search_results": {
        "description": "NAC client records returned by a search response",
        "items": {
          "$ref": "#/components/schemas/client_nac"
        },
        "type": "array"
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_events_nac_client_search": {
        "additionalProperties": false,
        "description": "Paginated response for NAC client event search results",
        "properties": {
          "end": {
            "description": "Epoch timestamp for the end of the NAC client event search window",
            "examples": [
              1513176951
            ],
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of NAC client event records returned in this page",
            "examples": [
              10
            ],
            "type": "integer"
          },
          "next": {
            "description": "Pagination cursor or URL for retrieving the next page of NAC client event records",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/nac_client_events",
            "description": "NAC client event records matching the search filters"
          },
          "start": {
            "description": "Epoch timestamp for the start of the NAC client event search window",
            "examples": [
              1512572151
            ],
            "type": "integer"
          },
          "total": {
            "description": "Number of NAC client event records matching the search filters across all pages",
            "examples": [
              1
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "site_nac_client_events_count_distinct": {
        "description": "enum: `ap`, `auth_type`, `dryrun_nacrule_id`, `mac`, `nacrule_id`, `nas_vendor`, `ssid`, `type`, `username`, `vlan`",
        "enum": [
          "ap",
          "auth_type",
          "dryrun_nacrule_id",
          "mac",
          "nacrule_id",
          "nas_vendor",
          "ssid",
          "type",
          "username",
          "vlan"
        ],
        "type": "string"
      },
      "site_nac_clients_count_distinct": {
        "default": "type",
        "description": "enum: `ap`, `auth_type`, `device_mac`, `edr_managed`, `edr_provider`, `edr_status`, `family`, `hostname`, `idp_id`, `mfg`, `mdm_compliance`, `mdm_managed`, `mdm_provider`, `model`, `mxedge_id`, `nacrule_matched`, `nacrule_name`, `nacrule_id`, `nas_ip`, `nas_vendor`, `os`, `ssid`, `status`, `type`, `usermac_label`, `username`, `vlan`",
        "enum": [
          "ap",
          "auth_type",
          "device_mac",
          "edr_managed",
          "edr_provider",
          "edr_status",
          "family",
          "hostname",
          "idp_id",
          "mfg",
          "mdm_compliance",
          "mdm_managed",
          "mdm_provider",
          "model",
          "mxedge_id",
          "nacrule_matched",
          "nacrule_name",
          "nacrule_id",
          "nas_ip",
          "nas_vendor",
          "os",
          "ssid",
          "status",
          "type",
          "usermac_label",
          "username",
          "vlan"
        ],
        "type": "string"
      },
      "strings": {
        "description": "Unique string values returned or accepted by this schema",
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "timestamp": {
        "description": "Epoch timestamp, in seconds",
        "format": "double",
        "readOnly": true,
        "type": "number"
      }
    },
    "responses": {
      "ClientNacSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ClientNacSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_client_nac_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ClientNacSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_client_nac_search"
            }
          }
        },
        "description": "Example response"
      },
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "EventsNacClientSearch": {
        "content": {
          "application/json": {
            "examples": {
              "NAC-client_events": {
                "$ref": "#/components/examples/EventsNacClientSearchNACclientevents"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_events_nac_client_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "NAC-client_events": {
                "$ref": "#/components/examples/EventsNacClientSearchNACclientevents"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_events_nac_client_search"
            }
          }
        },
        "description": "NAC Client Events"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "NacClientCoa": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/nac_client_coa_response"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/nac_client_coa_response"
            }
          }
        },
        "description": "Example response"
      }
    },
    "parameters": {
      "client_mac": {
        "in": "path",
        "name": "client_mac",
        "required": true,
        "schema": {
          "examples": [
            "0000000000ab"
          ],
          "pattern": "^[0-9a-fA-F]{12}$",
          "type": "string"
        }
      },
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "nac_event_type": {
        "description": "See [List Device Events Definitions](/#operations/listNacEventsDefinitions)",
        "in": "query",
        "name": "type",
        "schema": {
          "type": "string"
        }
      },
      "partial_filter_family_client": {
        "description": "Partial / full Client family (e.g. \"Phone/Tablet/Wearable\", \"Access Point\"). Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `Surveillance*` and `*urveillance*` match `Surveillance Camera`). Suffix-only wildcards (e.g. `*Camera`) are not supported",
        "in": "query",
        "name": "family",
        "schema": {
          "examples": [
            "Surveillance Camera",
            "Surveillance*",
            "*urveillance*"
          ],
          "type": "string"
        }
      },
      "partial_filter_hostname_client": {
        "description": "Partial / full Client hostname. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `everest*` and `*rest*` match `my-everest-client`). Suffix-only wildcards (e.g. `*everest`) are not supported",
        "in": "query",
        "name": "hostname",
        "schema": {
          "examples": [
            "my-everest-client",
            "my-everest*",
            "*everest*"
          ],
          "type": "string"
        }
      },
      "partial_filter_mac_client": {
        "description": "Partial / full Client MAC address. Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `aabbcc*` and `*bbcc*` match `aabbccddeeff`). Suffix-only wildcards (e.g. `*bccddeeff`) are not supported",
        "in": "query",
        "name": "mac",
        "schema": {
          "examples": [
            "aabbccddeeff",
            "aabbcc*",
            "*bbcc*"
          ],
          "type": "string"
        }
      },
      "partial_filter_mfg_client": {
        "description": "Partial / full Client manufacturer (e.g. \"apple\", \"cisco\", \"juniper\"). Use `prefix*` for prefix search or `*substring*` for contains search (e.g. `Raspberry Pi*` and `*Pi*` match `Raspberry Pi Trading Ltd`). Suffix-only wildcards (e.g. `*Ltd`) are not supported",
        "in": "query",
        "name": "mfg",
        "schema": {
          "examples": [
            "Raspberry Pi Trading Ltd",
            "Raspberry Pi*",
            "*Pi*"
          ],
          "type": "string"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "sort_wcid": {
        "description": "On which field the list should be sorted, -prefix represents DESC order.",
        "in": "query",
        "name": "sort",
        "schema": {
          "default": "wxid",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "ClientNacSearchExample": {
        "value": {
          "end": 1513362753,
          "limit": 3,
          "results": [
            {
              "ap": [
                "5c5b35bf16bb",
                "d4dc090041b4"
              ],
              "auth_type": "eap-tls",
              "cert_cn": [
                "john@mycorp.net"
              ],
              "cert_issuer": [
                "/C=US/ST=CA/CN=MyCorp"
              ],
              "client_ip": [
                "10.7.51.74"
              ],
              "edr_managed": true,
              "edr_providers": [
                "sentinelone"
              ],
              "edr_status": [
                "sentinelone_healthy"
              ],
              "idp_id": "string",
              "idp_role": [
                "string"
              ],
              "last_ap": "string",
              "last_cert_cn": "john@mycorp.net",
              "last_cert_expiry": 1746711240,
              "last_cert_issuer": "/C=US/ST=CA/CN=MyCorp",
              "last_cert_serial": "2c63510123456789",
              "last_cert_subject": "/C=US/O=MyCorp/CN=john@mycorp.net/emailAddress=john@mycorp.net",
              "last_client_ip": "10.7.51.74",
              "last_nacrule_id": "603b62db-d839-4152-9f7f-f2578443de8d",
              "last_nacrule_name": "Wireless Cert Auth",
              "last_nas_vendor": "juniper-mist",
              "last_ssid": "string",
              "last_status": "permitted",
              "mac": "string",
              "nacrule_id": [
                "603b62db-d839-4152-9f7f-f2578443de8d"
              ],
              "nacrule_matched": true,
              "nacrule_name": [
                "Wireless Cert Auth"
              ],
              "nas_vendor": [
                "juniper-mist"
              ],
              "org_id": "31f27122-68a9-47a4-b526-8fb8a62a8acb",
              "random_mac": "true",
              "site_id": "832b1d74-9531-409b-ae37-4d7f3edbde92",
              "ssid": [
                "string"
              ],
              "timestamp": 1694689718.612,
              "type": "wireless",
              "usermac_label": [
                "non-compliant",
                "building26",
                "floor52"
              ]
            }
          ],
          "start": 1513276353,
          "total": 2
        }
      },
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "EventsNacClientSearchNACclientevents": {
        "value": {
          "end": 1513176951,
          "limit": 10,
          "results": [
            {
              "ap": "5c5b35513227",
              "auth_type": "eap-ttls",
              "bssid": "5c5b355fafcc",
              "dryrun_nacrule_id": "32f27e7d-ff26-4a9b-b3d1-ff9bcb264012",
              "dryrun_nacrule_matched": true,
              "idp_id": "912ef72e-2239-4996-b81e-469e87a27cd6",
              "idp_role": [
                "itsuperusers",
                "vip"
              ],
              "mac": "ac3eb179e535",
              "nacrule_id": "32f27e7d-ff26-4a9b-b3d1-ff9bcb264c62",
              "nacrule_matched": true,
              "nas_vendor": "juniper-mist",
              "org_id": "27547ac2-d114-4e04-beb1-f3f1e6e81ec6",
              "random_mac": "false",
              "resp_attrs": [
                "Tunnel-Type=VLAN",
                "Tunnel-Medium-Type=IEEE-802",
                "Tunnel-Private-Group-Id=750",
                "User-Name=anonymous"
              ],
              "site_id": "441a1214-6928-442a-8e92-e1d34b8ec6a6",
              "ssid": "mist_nac",
              "timestamp": 1691512031.358188,
              "type": "NAC_CLIENT_PERMIT",
              "username": "user@deaflyz.net",
              "vlan": "750"
            }
          ],
          "start": 1512572151,
          "total": 1
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
