{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Services",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "A Service represents an a traffic destination or an application that network users connect to. They are associated with users and networks and are used in application policies to permit or deny access.\n\nServices are defined at the [Org level](/#operations/createOrgService).\n\nThe Site level endpoints can be used to get the site services statistics or the derived services, meaning the merge between the site level configuration and the org level configuration.",
      "name": "Sites Services"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/services/derived": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get the list of derived Services for a Site",
        "operationId": "listSiteServicesDerived",
        "parameters": [
          {
            "description": "Whether resolve the site variables",
            "in": "query",
            "name": "resolve",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServicesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteServicesDerived",
        "tags": [
          "Sites Services"
        ]
      }
    },
    "/api/v1/sites/{site_id}/services/events/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Service Path Events",
        "operationId": "countSiteServicePathEvents",
        "parameters": [
          {
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/site_service_events_count_distinct"
            }
          },
          {
            "description": "Event type, e.g. GW_SERVICE_PATH_DOWN",
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Description of the event including the reason it is triggered",
            "in": "query",
            "name": "text",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Peer name",
            "in": "query",
            "name": "vpn_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Peer path name",
            "in": "query",
            "name": "vpn_path",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Service policy associated with that specific path",
            "in": "query",
            "name": "policy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Network interface",
            "in": "query",
            "name": "port_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Device model",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Device firmware version",
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start time, in epoch",
            "in": "query",
            "name": "timestamp",
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "MAC address",
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countSiteServicePathEvents",
        "tags": [
          "Sites Services"
        ]
      }
    },
    "/api/v1/sites/{site_id}/services/events/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Search Service Path Events",
        "operationId": "searchSiteServicePathEvents",
        "parameters": [
          {
            "description": "Event type, e.g. GW_SERVICE_PATH_DOWN",
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Description of the event including the reason it is triggered",
            "in": "query",
            "name": "text",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Port ID of the peer gateway",
            "in": "query",
            "name": "peer_port_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "MAC address of the peer gateway",
            "in": "query",
            "name": "peer_mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Peer name",
            "in": "query",
            "name": "vpn_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Peer path name",
            "in": "query",
            "name": "vpn_path",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Service policy associated with that specific path",
            "in": "query",
            "name": "policy",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Network interface",
            "in": "query",
            "name": "port_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Device model",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Device firmware version",
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start time, in epoch",
            "in": "query",
            "name": "timestamp",
            "schema": {
              "type": "number"
            }
          },
          {
            "description": "MAC address",
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ServicePathEventsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchSiteServicePathEvents",
        "tags": [
          "Sites Services"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "properties": {
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "properties": {
          "distinct": {
            "type": "string"
          },
          "end": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results"
          },
          "start": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_events_path_search": {
        "additionalProperties": false,
        "properties": {
          "end": {
            "examples": [
              1697096379
            ],
            "type": "integer"
          },
          "limit": {
            "examples": [
              10
            ],
            "type": "integer"
          },
          "next": {
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_events_path_search_results"
          },
          "start": {
            "examples": [
              1697009979
            ],
            "type": "integer"
          },
          "total": {
            "examples": [
              2
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_events_path_search_results": {
        "items": {
          "$ref": "#/components/schemas/service_path_event"
        },
        "type": "array"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "service": {
        "description": "Applications used for the Gateway configurations",
        "properties": {
          "addresses": {
            "$ref": "#/components/schemas/service_addresses"
          },
          "app_categories": {
            "$ref": "#/components/schemas/service_app_categories"
          },
          "app_subcategories": {
            "$ref": "#/components/schemas/service_app_subcategories"
          },
          "apps": {
            "$ref": "#/components/schemas/service_apps"
          },
          "client_limit_down": {
            "default": 0,
            "description": "0 means unlimited, value from 0 to 107374182",
            "examples": [
              300000
            ],
            "maximum": 107374182,
            "minimum": 0,
            "type": "integer"
          },
          "client_limit_up": {
            "default": 0,
            "description": "0 means unlimited, value from 0 to 107374182",
            "examples": [
              300000
            ],
            "maximum": 107374182,
            "minimum": 0,
            "type": "integer"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time"
          },
          "description": {
            "type": "string"
          },
          "dscp": {
            "$ref": "#/components/schemas/service_dscp"
          },
          "failover_policy": {
            "$ref": "#/components/schemas/service_failover_policy"
          },
          "hostnames": {
            "$ref": "#/components/schemas/service_hostnames"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "max_jitter": {
            "$ref": "#/components/schemas/service_max_jitter"
          },
          "max_latency": {
            "$ref": "#/components/schemas/service_max_latency"
          },
          "max_loss": {
            "$ref": "#/components/schemas/service_max_loss"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time"
          },
          "name": {
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "service_limit_down": {
            "default": 0,
            "description": "0 means unlimited, value from 0 to 107374182",
            "examples": [
              300000
            ],
            "maximum": 107374182,
            "minimum": 0,
            "type": "integer"
          },
          "service_limit_up": {
            "default": 0,
            "description": "0 means unlimited, value from 0 to 107374182",
            "examples": [
              300000
            ],
            "maximum": 107374182,
            "minimum": 0,
            "type": "integer"
          },
          "sle_enabled": {
            "default": false,
            "description": "Whether to enable measure SLE",
            "type": "boolean"
          },
          "specs": {
            "$ref": "#/components/schemas/service_specs"
          },
          "ssr_relaxed_tcp_state_enforcement": {
            "default": false,
            "type": "boolean"
          },
          "traffic_class": {
            "$ref": "#/components/schemas/service_traffic_class"
          },
          "traffic_type": {
            "default": "data_best_effort",
            "description": "values from [List Traffic Types](/#operations/listTrafficTypes)",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/service_type"
          },
          "urls": {
            "$ref": "#/components/schemas/service_urls"
          }
        },
        "type": "object"
      },
      "service_addresses": {
        "description": "If `type`==`custom`, IPv4 and/or IPv6 subnets (e.g. 10.0.0.0/8, fd28::/128)",
        "examples": [
          [
            "10.0.0.0/8",
            "172.21.0.0/16",
            "2001:db8:abcd:12::/64",
            "fd28::/128"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "service_app_categories": {
        "description": "When `type`==`app_categories`, list of application categories are available through [List App Category Definitions](/#operations/listAppCategoryDefinitions)",
        "examples": [
          [
            "Sports"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "service_app_subcategories": {
        "description": "When `type`==`app_categories`, list of application categories are available through [List App Sub Category Definitions](/#operations/listAppSubCategoryDefinitions)",
        "examples": [
          [
            "Shopping"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "service_apps": {
        "description": "When `type`==`apps`, list of applications are available through:\n  * [List Applications](/#operations/listApplications)\n  * [List Gateway Applications](/#operations/listGatewayApplications)\n  * /insight/top_app_by-bytes?wired=true",
        "examples": [
          [
            "office365",
            "okta"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "service_dscp": {
        "description": "For SSR only, when `traffic_type`==`custom`. 0-63 or variable",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 63,
            "minimum": 0,
            "type": "integer"
          }
        ]
      },
      "service_failover_policy": {
        "default": "revertible",
        "description": "enum: `non_revertible`, `none`, `revertible`",
        "enum": [
          "non_revertible",
          "none",
          "revertible"
        ],
        "type": "string"
      },
      "service_hostnames": {
        "description": "If `type`==`custom`, web filtering",
        "items": {
          "examples": [
            "example.com"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "service_max_jitter": {
        "description": "For SSR only, when `traffic_type`==`custom`, for uplink selection. 0-2147483647 or variable",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer"
          }
        ]
      },
      "service_max_latency": {
        "description": "For SSR only, when `traffic_type`==`custom`, for uplink selection. 0-2147483647 or variable",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 2147483647,
            "minimum": 0,
            "type": "integer"
          }
        ]
      },
      "service_max_loss": {
        "description": "For SSR only, when `traffic_type`==`custom`, for uplink selection. 0-100 or variable",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 100,
            "minimum": 0,
            "type": "integer"
          }
        ]
      },
      "service_path_event": {
        "additionalProperties": false,
        "properties": {
          "mac": {
            "examples": [
              "90ec7734b374"
            ],
            "type": "string"
          },
          "model": {
            "examples": [
              "SSR120"
            ],
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "policy": {
            "examples": [
              "INTERNET"
            ],
            "type": "string"
          },
          "port_id": {
            "examples": [
              "ge-1/0/6"
            ],
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "text": {
            "examples": [
              "Peer Path Down"
            ],
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp"
          },
          "type": {
            "examples": [
              "GW_SERVICE_PATH_REMOVE"
            ],
            "type": "string"
          },
          "version": {
            "examples": [
              "6.1.5-14.lts"
            ],
            "type": "string"
          },
          "vpn_name": {
            "examples": [
              "Syracuse_HUB"
            ],
            "type": "string"
          },
          "vpn_path": {
            "examples": [
              "Syracuse_HUB-Wan0"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "service_spec": {
        "additionalProperties": false,
        "properties": {
          "port_range": {
            "description": "Port number, port range, or variable",
            "examples": [
              "8080,8443"
            ],
            "type": "string"
          },
          "protocol": {
            "default": "any",
            "description": "`https`/ `tcp` / `udp` / `icmp` / `gre` / `any` / `:protocol_number`, `protocol_number` is between 1-254",
            "examples": [
              "tcp"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "service_specs": {
        "description": "When `type`==`custom`, optional, if it doesn't exist, http and https is assumed",
        "items": {
          "$ref": "#/components/schemas/service_spec"
        },
        "type": "array"
      },
      "service_traffic_class": {
        "default": "best_effort",
        "description": "when `traffic_type`==`custom`. enum: `best_effort`, `high`, `low`, `medium`",
        "enum": [
          "best_effort",
          "high",
          "low",
          "medium"
        ],
        "type": "string"
      },
      "service_type": {
        "default": "custom",
        "description": "enum: `app_categories`, `apps`, `custom`, `urls`",
        "enum": [
          "app_categories",
          "apps",
          "custom",
          "urls"
        ],
        "type": "string"
      },
      "service_urls": {
        "description": "When `type`==`urls`, no need for spec as URL can encode the ports being used",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "services": {
        "items": {
          "$ref": "#/components/schemas/service"
        },
        "type": "array"
      },
      "site_id": {
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "site_service_events_count_distinct": {
        "default": "type",
        "description": "enum: `mac`, `model`, `policy`, `port_id`, `site_id`, `type`, `vpn_name`, `vpn_path`",
        "enum": [
          "mac",
          "model",
          "policy",
          "port_id",
          "site_id",
          "type",
          "vpn_name",
          "vpn_path"
        ],
        "type": "string"
      },
      "timestamp": {
        "description": "Epoch (seconds)",
        "format": "double",
        "readOnly": true,
        "type": "number"
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "ServicePathEventsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ServicePathEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_events_path_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ServicePathEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_events_path_search"
            }
          }
        },
        "description": "Example response"
      },
      "ServicesArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ServicesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/services"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ServicesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/services"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "duration": {
        "description": "Duration like 7d, 2w",
        "in": "query",
        "name": "duration",
        "required": false,
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "End time (epoch timestamp in seconds, or relative string like \"-1d\", \"-2h\", \"now\")",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "required": false,
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Start time (epoch timestamp in seconds, or relative string like \"-1d\", \"-1w\")",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "ServicePathEventsSearchExample": {
        "value": {
          "end": 1697096379,
          "limit": 10,
          "results": [
            {
              "mac": "90ec7734b374",
              "model": "SSR120",
              "org_id": "a3c6718f-2823-4e48-bf5e-b841768a4c9b",
              "policy": "INTERNET",
              "port_id": "ge-1/0/6",
              "site_id": "4279edbd-1d24-41ea-9505-2eb26c8590fa",
              "text": "Peer Path Down",
              "timestamp": 1697037328.651775,
              "type": "GW_SERVICE_PATH_REMOVE",
              "version": "6.1.5-14.lts",
              "vpn_name": "Syracuse_HUB",
              "vpn_path": "Syracuse_HUB-Wan0"
            }
          ],
          "start": 1697009979,
          "total": 2
        }
      },
      "ServicesArrayExample": {
        "value": [
          {
            "addresses": [
              "string"
            ],
            "apps": [
              "string"
            ],
            "dscp": 8,
            "hostnames": [
              "string"
            ],
            "max_jitter": 0,
            "max_latency": 0,
            "max_loss": 0,
            "name": "string",
            "specs": [
              {
                "port_range": "0",
                "protocol": "any"
              }
            ],
            "traffic_class": "best_effort",
            "traffic_type": "default",
            "type": "custom"
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
