{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Stats - WxRules",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve WxRules statistics for the current Site",
      "name": "Sites Stats - WxRules"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/stats/wxrules": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get Wxlan Rule usage",
        "operationId": "getSiteWxRulesUsage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/WxruleStatsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteWxRulesUsage",
        "tags": [
          "Sites Stats - WxRules"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_wxrule": {
        "additionalProperties": false,
        "description": "WxLAN rule usage statistics for a site",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/stats_wxrule_action",
            "description": "Allow or block behavior enforced by this WxLAN rule"
          },
          "client_mac": {
            "$ref": "#/components/schemas/stats_wxrule_client_mac",
            "description": "Wireless client MAC addresses matching this WxLAN rule"
          },
          "dst_allow_wxtags": {
            "$ref": "#/components/schemas/stats_wxrule_dst_allow_wxtags",
            "description": "Destination WxLAN tags explicitly allowed by this rule"
          },
          "dst_deny_wxtags": {
            "$ref": "#/components/schemas/stats_wxrule_dst_deny_wxtags",
            "description": "Destination WxLAN tags denied by this rule"
          },
          "dst_wxtags": {
            "$ref": "#/components/schemas/stats_wxrule_dst_wxtags",
            "description": "Destination WxLAN tags matched by this rule"
          },
          "name": {
            "description": "Display name of the WxLAN rule",
            "examples": [
              "Guest"
            ],
            "type": "string"
          },
          "order": {
            "description": "Rule evaluation order for WxLAN matching",
            "examples": [
              1
            ],
            "type": "integer"
          },
          "src_wxtags": {
            "$ref": "#/components/schemas/stats_wxrule_src_wxtags",
            "description": "Source WxLAN tags matched by this rule"
          },
          "usage": {
            "additionalProperties": {
              "$ref": "#/components/schemas/stats_wxrule_usage_properties"
            },
            "description": "Flow counts keyed by destination WxLAN tag identifier",
            "examples": [
              {
                "1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3": {
                  "num_flows": 60
                },
                "d4134466-eec0-3756-6765-381c728a6037": {
                  "num_flows": 60
                }
              }
            ],
            "type": "object"
          }
        },
        "required": [
          "name",
          "order",
          "src_wxtags",
          "dst_wxtags",
          "dst_allow_wxtags",
          "dst_deny_wxtags",
          "client_mac",
          "usage",
          "action"
        ],
        "type": "object"
      },
      "stats_wxrule_action": {
        "description": "Allow or block behavior enforced by this WxLAN rule. enum: `allow`, `block`",
        "enum": [
          "allow",
          "block"
        ],
        "examples": [
          "allow"
        ],
        "type": "string"
      },
      "stats_wxrule_client_mac": {
        "description": "Wireless client MAC addresses matching a WxLAN rule",
        "examples": [
          [
            "3bbbf819bb6f",
            "bd96cbc4910f"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "stats_wxrule_dst_allow_wxtags": {
        "description": "Destination WxLAN tag identifiers explicitly allowed by a WxLAN rule",
        "examples": [
          [
            "fff34466-eec0-3756-6765-381c728a6037",
            "eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
          ]
        ],
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "stats_wxrule_dst_deny_wxtags": {
        "description": "Destination WxLAN tag identifiers denied by a WxLAN rule",
        "examples": [
          [
            "aaa34466-eec0-3756-6765-381c728a6037",
            "bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
          ]
        ],
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "stats_wxrule_dst_wxtags": {
        "description": "Destination WxLAN tag identifiers matched by a WxLAN rule",
        "examples": [
          [
            "d4134466-eec0-3756-6765-381c728a6037",
            "1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3"
          ]
        ],
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "stats_wxrule_src_wxtags": {
        "description": "Source WxLAN tag identifiers matched by a WxLAN rule",
        "examples": [
          [
            "8bfc2490-d726-3587-038d-cb2e71bd2330",
            "3aa8e73f-9f46-d827-8d6a-567bb7e67fc9"
          ]
        ],
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "stats_wxrule_usage_properties": {
        "additionalProperties": false,
        "description": "Usage counters for one WxLAN rule destination tag",
        "properties": {
          "num_flows": {
            "description": "Number of flows counted for this WxLAN rule and destination tag",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "stats_wxrules": {
        "description": "WxLAN rule usage statistics returned by the request",
        "items": {
          "$ref": "#/components/schemas/stats_wxrule"
        },
        "type": "array"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "WxruleStatsArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WxruleStatsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_wxrules"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WxruleStatsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_wxrules"
            }
          }
        },
        "description": "WxRule Stats"
      }
    },
    "parameters": {
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "WxruleStatsArrayExample": {
        "value": [
          {
            "action": "allow",
            "client_mac": [
              "3bbbf819bb6f",
              "bd96cbc4910f"
            ],
            "dst_allow_wxtags": [
              "fff34466-eec0-3756-6765-381c728a6037",
              "eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
            ],
            "dst_deny_wxtags": [
              "aaa34466-eec0-3756-6765-381c728a6037",
              "bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
            ],
            "dst_wxtags": [
              "d4134466-eec0-3756-6765-381c728a6037",
              "1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3"
            ],
            "name": "Guest",
            "order": 1,
            "src_wxtags": [
              "8bfc2490-d726-3587-038d-cb2e71bd2330",
              "3aa8e73f-9f46-d827-8d6a-567bb7e67fc9"
            ],
            "usage": {
              "1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3": {
                "num_flows": 60
              },
              "d4134466-eec0-3756-6765-381c728a6037": {
                "num_flows": 60
              }
            }
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
