{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Psks",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "A multi PSK (Pre-Shared Key) is a feature that allows the use of multiple PSKs for securing network connections.\n\nIt provides a simple and comprehensive way to onboard client devices without relying on client MAC addresses.\n\nEach psk has its own key name, which can be used for user-level accountability, key rotation, and visibility in the management platform. It supports the creation, rotation, and auto-expiration of psks, and allows vlan assignment and role assignment for dynamic per-user policies.\n\nMulti PSKs create virtual broadcast domains and can be used for end-user onboarding via authenticated sso login.\n\nMist supports two methods of Site PSKs lookup: * local * radius",
      "name": "Sites Psks"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/psks": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get List of Site PSKs",
        "operationId": "listSitePsks",
        "parameters": [
          {
            "description": "Filter results by SSID",
            "in": "query",
            "name": "ssid",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter PSK results by role",
            "in": "query",
            "name": "role",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/name"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PsksArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSitePsks",
        "tags": [
          "Sites Psks"
        ]
      },
      "put": {
        "description": "Update multiple PSKs",
        "operationId": "updateSiteMultiplePsks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/psks"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PsksArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteMultiplePsks",
        "tags": [
          "Sites Psks"
        ]
      },
      "post": {
        "description": "Create Site PSK\n\n\nWhen `usage`==`macs`, corresponding \"macs\" field will hold a list consisting of client MAC addresses ([\"xx:xx:xx:xx:xx\",...]) or mac patterns([\"xx:xx:*\",\"xx*\",...]) or both ([\"xx:xx:xx:xx:xx:xx\", \"xx:*\", ...]). This list is capped at 5000",
        "operationId": "createSitePsk",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "mac": "string",
                    "name": "string",
                    "passphrase": "secretpsk",
                    "ssid": "string",
                    "usage": "multi",
                    "vlan_id": 1
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/psk"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Psk"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createSitePsk",
        "tags": [
          "Sites Psks"
        ]
      }
    },
    "/api/v1/sites/{site_id}/psks/import": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "Import PSK from CSV file or JSON\n\n## CSV File Format\n```csv\nPSK Import CSV File Format:\nname,ssid,passphrase,usage,vlan_id,mac\nCommon,warehouse,foryoureyesonly,single,35,a31425f31278\nJustin,reception,visible,multi,1002\n```",
        "operationId": "importSitePsks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/psks"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/psks_import_file"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PsksArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "importSitePsks",
        "tags": [
          "Sites Psks"
        ]
      }
    },
    "/api/v1/sites/{site_id}/psks/{psk_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/psk_id"
        }
      ],
      "get": {
        "description": "Get Site PSK Details",
        "operationId": "getSitePsk",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Psk"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSitePsk",
        "tags": [
          "Sites Psks"
        ]
      },
      "put": {
        "description": "Update Site PSK",
        "operationId": "updateSitePsk",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "mac": "string",
                    "name": "string",
                    "passphrase": "secretpsk",
                    "ssid": "string",
                    "usage": "multi",
                    "vlan_id": 1
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/psk"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Psk"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSitePsk",
        "tags": [
          "Sites Psks"
        ]
      },
      "delete": {
        "description": "Delete Site PSK",
        "operationId": "deleteSitePsk",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSitePsk",
        "tags": [
          "Sites Psks"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "psk": {
        "description": "Personal pre-shared key configuration for WLAN access",
        "properties": {
          "admin_sso_id": {
            "description": "sso id for psk created from psk portal",
            "readOnly": true,
            "type": "string"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Epoch timestamp when the PSK was created"
          },
          "email": {
            "description": "Notification recipient email address for PSK creation notification and expiration reminders",
            "type": "string"
          },
          "expire_time": {
            "default": null,
            "description": "Expire time for this PSK key (epoch time in seconds). Default `null` (as no expiration)",
            "examples": [
              1614990263
            ],
            "type": [
              "integer",
              "null"
            ]
          },
          "expiry_notification_time": {
            "description": "Number of days before psk is expired. Used as to when to start sending reminder notification when the psk is about to expire",
            "type": "integer"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the PSK"
          },
          "mac": {
            "description": "If `usage`==`single`, client MAC address this PSK is bound to; empty when auto-binding is used",
            "type": "string"
          },
          "macs": {
            "$ref": "#/components/schemas/psk_macs",
            "description": "Client MAC addresses or MAC patterns allowed when `usage`==`macs`"
          },
          "max_usage": {
            "default": 0,
            "description": "For Org PSK Only. Max concurrent users for this PSK key. Default is 0 (unlimited)",
            "type": "integer"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Epoch timestamp when the PSK was last modified"
          },
          "name": {
            "description": "Display name of the PSK",
            "type": "string"
          },
          "note": {
            "description": "Admin note or description stored with the PSK",
            "type": "string"
          },
          "notify_expiry": {
            "default": false,
            "description": "If set to true, reminder notification will be sent when psk is about to expire",
            "type": "boolean"
          },
          "notify_on_create_or_edit": {
            "description": "If set to true, notification will be sent when psk is created or edited",
            "type": "boolean"
          },
          "old_passphrase": {
            "description": "previous passphrase of the PSK if it has been rotated",
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization that owns the org-level PSK"
          },
          "passphrase": {
            "description": "PSK passphrase, 8-63 characters or 64 hexadecimal characters",
            "format": "password",
            "maxLength": 64,
            "minLength": 8,
            "type": "string"
          },
          "role": {
            "description": "Client role applied to users authenticated with this PSK",
            "maxLength": 32,
            "minLength": 0,
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site associated with the site-level PSK"
          },
          "ssid": {
            "description": "WLAN SSID where this PSK can be used",
            "type": "string"
          },
          "usage": {
            "$ref": "#/components/schemas/psk_usage",
            "description": "Binding mode for this PSK, enum: `macs`, `multi`, `single`, `usermac_labels`"
          },
          "usermac_labels": {
            "$ref": "#/components/schemas/psk_usermac_labels",
            "description": "Usermac labels allowed when `usage`==`usermac_labels`; this list is capped at 100 entries"
          },
          "vlan_id": {
            "$ref": "#/components/schemas/psk_vlan_id",
            "description": "VLAN ID returned for clients using this PSK"
          },
          "vlan_name": {
            "description": "VLAN name to be assigned. Optional, `vlan_id` takes precedence if both are provided",
            "type": "string"
          }
        },
        "required": [
          "name",
          "passphrase",
          "ssid"
        ],
        "type": "object"
      },
      "psk_list": {
        "description": "List of personal PSK configurations",
        "items": {
          "$ref": "#/components/schemas/psk"
        },
        "type": "array"
      },
      "psk_macs": {
        "description": "If `usage`==`macs`, this list contains client MAC addresses, MAC patterns such as `1122*`, or both. This list is capped at 5000 entries",
        "examples": [
          [
            "112233abcedf",
            "aabbcc*"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "psk_usage": {
        "default": "multi",
        "description": "enum: `macs`, `multi`, `single`, `usermac_labels`",
        "enum": [
          "macs",
          "multi",
          "single",
          "usermac_labels"
        ],
        "type": "string"
      },
      "psk_usermac_labels": {
        "description": "If `usage`==`usermac_labels`, this list contains usermac labels (e.g. `iot`, `students`). This list is capped at 100 entries",
        "examples": [
          [
            "iot",
            "students"
          ]
        ],
        "items": {
          "type": "string"
        },
        "maxItems": 100,
        "type": "array"
      },
      "psk_vlan_id": {
        "description": "VLAN for this PSK key",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          }
        ]
      },
      "psks": {
        "description": "List of personal PSK configurations",
        "items": {
          "$ref": "#/components/schemas/psk"
        },
        "type": "array",
        "uniqueItems": true
      },
      "psks_import_file": {
        "additionalProperties": false,
        "description": "Multipart upload payload for importing PSKs",
        "properties": {
          "file": {
            "contentMediaType": "application/octet-stream",
            "description": "Uploaded CSV or binary file containing PSKs to import",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "Psk": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/psk"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/psk"
            }
          }
        },
        "description": "OK"
      },
      "PsksArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/PsksArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/psk_list"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/PsksArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/psk_list"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "name": {
        "description": "Filter results by name",
        "in": "query",
        "name": "name",
        "schema": {
          "type": "string"
        }
      },
      "page": {
        "description": "Select the page number to return when using page-based pagination; starts at `1`",
        "in": "query",
        "name": "page",
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "psk_id": {
        "description": "PSK ID",
        "in": "path",
        "name": "psk_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "PsksArrayExample": {
        "value": [
          {
            "created_time": 0,
            "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "mac": "string",
            "modified_time": 0,
            "name": "string",
            "org_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "passphrase": "secretpsk",
            "site_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "ssid": "string",
            "usage": "multi",
            "vlan_id": 1
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
