{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Devices - Wired - Virtual Chassis",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls specific to the Juniper Switches Virtual Chassis managed by Mist",
      "name": "Sites Devices - Wired - Virtual Chassis"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/devices/{device_id}/set_vc_port_mode": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "Change VCP port mode\n\n\nSome switch model allows changing VCP port behaviors, e.g. - use them as regular network ports - change vcp protocol Note, this command will reboot the switch",
        "operationId": "changeSiteSwitchVcPortMode",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "mode": "network"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/vc_port"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "changeSiteSwitchVcPortMode",
        "tags": [
          "Sites Devices - Wired - Virtual Chassis"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/vc": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "get": {
        "description": "Get VC Status\n\nThe API returns a combined view of the VC status which includes topology and stats_",
        "operationId": "getSiteDeviceVirtualChassis",
        "responses": {
          "200": {
            "$ref": "#/components/responses/VirtualChassis"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteDeviceVirtualChassis",
        "tags": [
          "Sites Devices - Wired - Virtual Chassis"
        ]
      },
      "put": {
        "description": "The VC creation and adding member switch API will update the device' s virtual chassis config which is applied after VC is formed to create JUNOS pre-provisioned virtual chassis configuration.\n\n**Note:** Update Device's VC config can achieve similar purpose by directly modifying current virtual_chassis config. However, it cannot fulfill requests to enabling vc_ports on new members that are yet to belong to current VC.\n\n\n## Change to use preprovisioned VC\nTo switch the VC to use preprovisioned VC, enable preprovisioned in virtual_chassis config. Both vc_role master and backup will be matched to routing-engine role in Junos preprovisioned VC config.\n\nIn this config, fpc0 has to be the same as the mac of device_id. Use renumber if you want to replace fpc0 which involves device_id change.\n\n**Notice:** to configure preprovisioned VC, every member of the VC must be in the inventory.\n\n## Add new members\nFor models (e.g. EX4300 and up) having dedicated VC ports, it is easier to add new member switches into a VC by just connecting cables with the dedicated VC ports. Cloud will detect the new members and update the inventory.\n\nFor EX2300 VC, adding new members requires to follow the procedures below:\n1. Powering on the new member switches and ensuring cables are not connected to any VC ports.\n2. Claim or adopt all new member switches under the VC's organization Inventory\n3. Assign all new member switches to the same Site as the VC\n4. Invoke vc command to add switches to the VC.\n5. Connect the cables to the VC ports for these switches\n6. After a while, the Org's Inventory shows that new switches has been added into the VC.\n\n## Removing member switch\nTo remove a member switch from the VC, following the procedures below:\n\n1. Ensuring the VC is connected to the cloud first\n2. Unplug the cable from the VC port of the switch\n3. Waiting for the VC state (vc_state) of this switch is changed to not-present\n4. Invoke update_vc with remove to remove this switch from the VC\n5. The Org's Inventory shows the switch is removed.\n\nPlease notice that member ID 0 (fpc0) cannot be removed. When a VC has two switches left, unplugging the cable may result in the situation that fpc0 becomes a line card (LC). When this situation is happening, please re-plug in the cable, wait for both switches becoming present (show virtual-chassis) and then removing the cable again.\n\n## Renumber a member switch\nWhen a member switch doesn' t work properly and needed to be replaced, the renumber API could be used. The following two types of renumber are supported:\n\n1. Replace a non-fpc0 member switch\n2. Replace fpc0. When fpc0 is replaced, PAPI device config and JUNOS config will be both updated.\n\nFor renumber to work, the following procedures are needed: \n1. Ensuring the VC is connected to the cloud and the state of the member switch to be replaced must be non present. \n2. Adding the new member switch to the VC \n3. Waiting for the VC state (vc_state) of this VC to be updated to API server \n4. Invoke vc with renumber to replace\\ the new member switch from fpc X to\n\n## Perprovision VC members\nBy specifying \"preprovision\" op, you can convert the current VC to pre-provisioned mode, update VC members as well as specify vc_ports when adding new members for device models without dedicated vc ports. Use renumber for fpc0 replacement which involves device_id change.\n\nNote: \n1. vc_ports is used for adding new members and not needed if \n  * the device model has dedicated vc ports, or \n  * no new member is added \n2. New VC members to be added should exist in the same Site as the VC",
        "operationId": "updateSiteVirtualChassisMember",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "adding-two-new-switches-as-line-cards-into-the-VC": {
                  "value": {
                    "members": [
                      {
                        "mac": "aff827549235",
                        "member_id": 2,
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "linecard"
                      },
                      {
                        "mac": "8396cd00777c",
                        "member_id": 3,
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "linecard"
                      }
                    ],
                    "op": "add"
                  }
                },
                "convert-to-pre-provisioned-VC": {
                  "value": {
                    "members": [
                      {
                        "mac": "aff827549235",
                        "member_id": 0,
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ]
                      },
                      {
                        "mac": "8396cd00777c",
                        "member_id": 1,
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "backup"
                      }
                    ],
                    "op": "preprovision"
                  }
                },
                "remove-preprovision-members-and-clean-up-inventory": {
                  "value": {
                    "members": [
                      {
                        "mac": "aff827549235",
                        "member_id": 0,
                        "vc_role": "master"
                      },
                      {
                        "mac": "8396cd006c8c",
                        "member_id": 1,
                        "vc_role": "linecard"
                      }
                    ],
                    "op": "preprovision",
                    "remove_inventory": true
                  }
                },
                "removing-two-switches-from-VC": {
                  "value": {
                    "members": [
                      {
                        "member": 2
                      },
                      {
                        "member": 3
                      }
                    ],
                    "op": "remove"
                  }
                },
                "renumber-member-ID-3-to-member-ID-2": {
                  "value": {
                    "member": 3,
                    "new-member": 2,
                    "op": "renumber"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/virtual_chassis_update"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteVirtualChassisMember",
        "tags": [
          "Sites Devices - Wired - Virtual Chassis"
        ]
      },
      "post": {
        "description": "For models (e.g. EX3400 and up) having dedicated VC ports, it is easier to form a VC by just connecting cables with the dedicated VC ports. Cloud will detect the new VC and update the inventory.  \nIn case that the user would like to choose the dedicated switch as a VC master or for EX2300-C-12P and EX2300-C-12T which doesn't have dedicated VC ports, below are procedures to automate the VC creation:\n1. Power on the switch that is chosen as the VC master first, and then powering on the other member switches.\n2. Claim or adopt all these switches under the same organization's Inventory\n3. Assign these switches into the same Site\n4. Wait for all the switches to be connected to Mist\n5. Invoke vc command on the switch chosen to be the VC master. For EX2300-C-12P, VC ports will be created automatically.\n6. Connect the cables to the VC ports for these switches\n7. Wait for the VC to be formed. The Org's inventory will be updated for the new VC.",
        "operationId": "createSiteVirtualChassis",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "create-a-VC-with-three-members": {
                  "value": {
                    "members": [
                      {
                        "mac": "aff827549235",
                        "vc_ports": [
                          "xe-0/1/0"
                        ],
                        "vc_role": "master"
                      },
                      {
                        "mac": "8396cd006c8c",
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "backup"
                      },
                      {
                        "mac": "8396cd00888c",
                        "vc_ports": [
                          "xe-0/1/0"
                        ],
                        "vc_role": "linecard"
                      }
                    ]
                  }
                },
                "create-a-pre-provisioned-VC-with-three-members": {
                  "value": {
                    "members": [
                      {
                        "mac": "aff827549235",
                        "member_id": 0,
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "master"
                      },
                      {
                        "mac": "8396cd006c8c",
                        "member_id": 1,
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "linecard"
                      },
                      {
                        "mac": "8396cd00888c",
                        "member_id": 2,
                        "vc_ports": [
                          "xe-0/1/0",
                          "xe-0/1/1"
                        ],
                        "vc_role": "backup"
                      }
                    ],
                    "preprovisioned": true
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/virtual_chassis_config"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createSiteVirtualChassis",
        "tags": [
          "Sites Devices - Wired - Virtual Chassis"
        ]
      },
      "delete": {
        "description": "When all the member switches of VC are removed and only member ID 0 is left, the cloud would detect this situation and automatically changes the single switch to non-VC role.\n\nFor some unexpected cases that the VC is gone and disconnected, the API below could be used to change the state of VC’s switches to be standalone. After it is executed, all the switches will be shown as standalone switches under Inventory.",
        "operationId": "deleteSiteVirtualChassis",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteVirtualChassis",
        "tags": [
          "Sites Devices - Wired - Virtual Chassis"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/vc/convert_to_virtualmac": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "Converts an FPC0-based VC to a Virtualmac VC, removing the limitation where the device ID must change whenever FPC0 is renumbered or removed.\n\n\nHTTP400 Error possible reasons:\n  - The device is not an OC device\n  - Virtualmac VC is disabled in the Org Knob settings\n  - The VC is already a Virtualmac VC\n  - The VC is currently disconnected\n  - The device is standalone\n  - A new FPC0 exists with its own device config, causing ambiguity.",
        "operationId": "convertSiteVirtualChassisToVirtualMac",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "convertSiteVirtualChassisToVirtualMac",
        "tags": [
          "Sites Devices - Wired - Virtual Chassis"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/vc/vc_port": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "Set VC port",
        "operationId": "setSiteVcPort",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "delete-VC-port-of-xe-0/1/1-of-member-0-and-member-2": {
                  "value": {
                    "members": [
                      {
                        "member": 0,
                        "vc_ports": [
                          "xe-0/1/1"
                        ]
                      },
                      {
                        "member": 2,
                        "vc_ports": [
                          "xe-0/1/1"
                        ]
                      }
                    ],
                    "op": "delete"
                  }
                },
                "set-VC-port-of-xe-0/1/1-of-member-0-and-member-2": {
                  "value": {
                    "members": [
                      {
                        "member": 0,
                        "vc_ports": [
                          "xe-0/1/1"
                        ]
                      },
                      {
                        "member": 2,
                        "vc_ports": [
                          "xe-0/1/1"
                        ]
                      }
                    ],
                    "op": "set"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/virtual_chassis_port"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "setSiteVcPort",
        "tags": [
          "Sites Devices - Wired - Virtual Chassis"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "config_vc_port_member": {
        "additionalProperties": false,
        "description": "Virtual Chassis member and port list for a VC port operation",
        "properties": {
          "member": {
            "description": "Virtual Chassis member ID whose VC ports are being configured",
            "type": "number"
          },
          "vc_ports": {
            "$ref": "#/components/schemas/strings",
            "description": "Port names to configure as Virtual Chassis ports on the member"
          }
        },
        "required": [
          "member"
        ],
        "type": "object"
      },
      "cpu_stat": {
        "additionalProperties": false,
        "description": "CPU utilization breakdown for a device",
        "properties": {
          "idle": {
            "description": "Percentage of CPU time that is idle",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "interrupt": {
            "description": "Percentage of CPU time being used by interrupts",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "load_avg": {
            "$ref": "#/components/schemas/cpu_stat_load_avg",
            "description": "Load averages for the last 1, 5, and 15 minutes"
          },
          "system": {
            "description": "Percentage of CPU time being used by system processes",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "usage": {
            "description": "Overall CPU usage percentage",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "user": {
            "description": "Percentage of CPU time being used by user processes",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "cpu_stat_load_avg": {
        "description": "Load averages for the last 1, 5, and 15 minutes",
        "items": {
          "type": "number"
        },
        "type": "array"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "last_seen": {
        "description": "Timestamp indicating when the entity was last seen",
        "examples": [
          1470417522
        ],
        "format": "double",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "memory_stat": {
        "additionalProperties": false,
        "description": "Memory utilization statistics for a device; in a virtual chassis, this reports the master Routing Engine",
        "properties": {
          "usage": {
            "description": "Current memory utilization percentage for the device or master Routing Engine",
            "type": "number"
          }
        },
        "required": [
          "usage"
        ],
        "type": "object"
      },
      "module_stat_item_errors": {
        "description": "Used to report all error states the device node is running into. An error should always have `type` and `since` fields, and could have some other fields specific to that type.",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_errors_items"
        },
        "type": "array"
      },
      "module_stat_item_errors_items": {
        "additionalProperties": false,
        "description": "Error condition reported for a device module",
        "properties": {
          "feature": {
            "description": "Affected feature associated with this module error condition",
            "examples": [
              "Mist-Management"
            ],
            "type": "string"
          },
          "minimum_version": {
            "description": "Minimum software version associated with this module error",
            "examples": [
              "128T-6.0.0-1"
            ],
            "type": "string"
          },
          "reason": {
            "description": "Human-readable reason for the module error condition",
            "type": "string"
          },
          "since": {
            "description": "Epoch timestamp when the module error condition began",
            "examples": [
              1657497600
            ],
            "type": "integer"
          },
          "type": {
            "description": "Module error type code reported by the device",
            "examples": [
              "FW_UPGRADE_REQUIRED_BY_FEATURE"
            ],
            "type": "string"
          }
        },
        "required": [
          "since",
          "type"
        ],
        "type": "object"
      },
      "module_stat_item_fans": {
        "description": "Cooling fan status records for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_fans_items"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_fans_items": {
        "additionalProperties": false,
        "description": "Cooling fan telemetry for a device module",
        "properties": {
          "airflow": {
            "description": "Direction of airflow reported for the fan",
            "examples": [
              "out"
            ],
            "type": "string"
          },
          "name": {
            "description": "Fan label reported by the device",
            "examples": [
              "Fan 0"
            ],
            "type": "string"
          },
          "rpm": {
            "description": "Current fan speed in revolutions per minute",
            "type": "integer"
          },
          "status": {
            "description": "Operational status reported for the fan",
            "examples": [
              "ok"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_pics": {
        "description": "Physical Interface Card summaries for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_pics_item"
        },
        "type": "array"
      },
      "module_stat_item_pics_item": {
        "additionalProperties": false,
        "description": "Physical Interface Card summary for a device module",
        "properties": {
          "index": {
            "description": "PIC index within the device module",
            "type": "integer"
          },
          "model_number": {
            "description": "Model number reported for the PIC",
            "type": "string"
          },
          "port_groups": {
            "$ref": "#/components/schemas/module_stat_item_pics_item_port_groups",
            "description": "Port groups provided by this PIC"
          }
        },
        "type": "object"
      },
      "module_stat_item_pics_item_port_groups": {
        "description": "Port group summaries for a PIC",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_pics_item_port_groups_item"
        },
        "type": "array"
      },
      "module_stat_item_pics_item_port_groups_item": {
        "additionalProperties": false,
        "description": "Port group summary for a PIC",
        "properties": {
          "count": {
            "description": "Number of ports in this PIC port group",
            "type": "integer"
          },
          "type": {
            "description": "Port media or interface type for this PIC port group",
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_poe": {
        "additionalProperties": false,
        "description": "Power over Ethernet telemetry for a device module",
        "properties": {
          "max_power": {
            "description": "Total PoE power budget available to the module, in watts",
            "examples": [
              250
            ],
            "type": "number"
          },
          "power_draw": {
            "description": "Current PoE power draw on the module, in watts",
            "examples": [
              120.3
            ],
            "type": "number"
          },
          "status": {
            "description": "Operational status of PoE on the module",
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_psus": {
        "description": "Power supply status records for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_psus_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_psus_item": {
        "additionalProperties": false,
        "description": "Power supply status for a device module",
        "properties": {
          "name": {
            "description": "Power supply label reported by the device",
            "examples": [
              "Power Supply 0"
            ],
            "type": "string"
          },
          "status": {
            "description": "Operational status reported for the power supply",
            "examples": [
              "ok"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_temperatures": {
        "description": "Temperature sensor readings for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_temperatures_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_temperatures_item": {
        "additionalProperties": false,
        "description": "Temperature sensor reading for a device module",
        "properties": {
          "celsius": {
            "description": "Temperature reading for the sensor, in degrees Celsius",
            "examples": [
              45
            ],
            "type": "number"
          },
          "name": {
            "description": "Temperature sensor label reported by the device",
            "examples": [
              "CPU"
            ],
            "type": "string"
          },
          "status": {
            "description": "Operational status reported for the temperature sensor",
            "examples": [
              "ok"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_vc_links": {
        "description": "Virtual chassis link records for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_vc_links_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_vc_links_item": {
        "additionalProperties": false,
        "description": "Virtual chassis link endpoint for a device module",
        "properties": {
          "neighbor_module_idx": {
            "description": "Index of the neighboring module connected through this virtual chassis link",
            "examples": [
              1
            ],
            "type": "integer"
          },
          "neighbor_port_id": {
            "description": "Port identifier on the neighboring module for this virtual chassis link",
            "examples": [
              "vcp-255/1/0"
            ],
            "type": "string"
          },
          "port_id": {
            "description": "Local port identifier for this virtual chassis link",
            "examples": [
              "vcp-255/1/0"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_virtual_chassis_config": {
        "additionalProperties": false,
        "description": "Combined virtual chassis status, topology, and member statistics",
        "properties": {
          "config_type": {
            "description": "Provisioning mode of the virtual chassis configuration",
            "readOnly": true,
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique value identifying the virtual chassis device record"
          },
          "locating": {
            "description": "Whether locate mode is active for the virtual chassis device",
            "readOnly": true,
            "type": "boolean"
          },
          "mac": {
            "description": "Device MAC address for the virtual chassis device record",
            "type": "string"
          },
          "members": {
            "$ref": "#/components/schemas/stats_switch_module_stat",
            "description": "Virtual chassis member module statistics and topology details"
          },
          "model": {
            "description": "Switch model for the virtual chassis device record",
            "readOnly": true,
            "type": "string"
          },
          "num_routing_engines": {
            "description": "Number of routing engines in the virtual chassis",
            "examples": [
              1
            ],
            "type": "integer"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization identifier for the virtual chassis device"
          },
          "serial": {
            "description": "Device serial number reported for the virtual chassis",
            "readOnly": true,
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Identifier of the site containing the virtual chassis"
          },
          "status": {
            "description": "Connection status of the virtual chassis device",
            "readOnly": true,
            "type": "string"
          },
          "type": {
            "description": "Device type for the virtual chassis record",
            "type": "string"
          },
          "vc_mac": {
            "description": "Virtual Chassis MAC address used to identify the VC device",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "stats_switch_module_stat": {
        "description": "Hardware module statistics reported by a switch",
        "items": {
          "$ref": "#/components/schemas/stats_switch_module_stat_item"
        },
        "minItems": 1,
        "type": "array",
        "uniqueItems": true
      },
      "stats_switch_module_stat_item": {
        "additionalProperties": false,
        "description": "Hardware module status and firmware inventory for a switch",
        "properties": {
          "backup_version": {
            "description": "Backup software version stored on the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "bios_version": {
            "description": "BIOS firmware version reported for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "boot_partition": {
            "description": "Active boot partition used by the switch module",
            "type": "string"
          },
          "cpld_version": {
            "description": "CPLD firmware version reported for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "cpu_stat": {
            "$ref": "#/components/schemas/cpu_stat",
            "description": "Processor utilization statistics for the switch module"
          },
          "errors": {
            "$ref": "#/components/schemas/module_stat_item_errors",
            "description": "Hardware error records reported for the switch module"
          },
          "fans": {
            "$ref": "#/components/schemas/module_stat_item_fans",
            "description": "Cooling fan status records for the switch module"
          },
          "fpc_idx": {
            "description": "FPC index identifying this switch module",
            "readOnly": true,
            "type": "integer"
          },
          "fpga_version": {
            "description": "FPGA firmware version reported for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen",
            "description": "Time when Mist last observed this switch module, in epoch seconds"
          },
          "locating": {
            "description": "Whether the switch module locator indicator is active",
            "type": "boolean"
          },
          "mac": {
            "description": "Switch module MAC address reported by Mist",
            "examples": [
              "fc3342123456"
            ],
            "type": "string"
          },
          "memory_stat": {
            "$ref": "#/components/schemas/memory_stat",
            "description": "Utilization statistics for switch module memory"
          },
          "model": {
            "description": "Switch module model name reported by Mist",
            "examples": [
              "EX4300-48P"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "optics_cpld_version": {
            "description": "Optics CPLD firmware version reported for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "pending_version": {
            "description": "Pending software version staged for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "pics": {
            "$ref": "#/components/schemas/module_stat_item_pics",
            "description": "Physical Interface Card status records for the switch module"
          },
          "poe": {
            "$ref": "#/components/schemas/module_stat_item_poe",
            "description": "Power over Ethernet telemetry for the switch module"
          },
          "poe_version": {
            "description": "PoE controller firmware version reported for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "power_cpld_version": {
            "description": "Power CPLD firmware version reported for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "psus": {
            "$ref": "#/components/schemas/module_stat_item_psus",
            "description": "Power supply status records for the switch module"
          },
          "re_fpga_version": {
            "description": "Routing Engine FPGA firmware version reported for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "recovery_version": {
            "description": "Recovery software version stored on the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "serial": {
            "description": "Switch module serial number reported by Mist",
            "examples": [
              "PX8716230021"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "status": {
            "description": "Connection status reported for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "temperatures": {
            "$ref": "#/components/schemas/module_stat_item_temperatures",
            "description": "Temperature sensor readings for the switch module"
          },
          "tmc_fpga_version": {
            "description": "TMC FPGA firmware version reported for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "description": "Module type reported for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "uboot_version": {
            "description": "U-Boot firmware version reported for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "uptime": {
            "description": "Elapsed time since the switch module last booted, in seconds",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "vc_links": {
            "$ref": "#/components/schemas/module_stat_item_vc_links",
            "description": "Virtual chassis link records for the switch module"
          },
          "vc_mode": {
            "description": "Virtual chassis mode reported for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "vc_role": {
            "description": "enum: `master`, `backup`, `linecard`",
            "examples": [
              "master"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "vc_state": {
            "description": "Virtual chassis state reported for the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "version": {
            "description": "Software version running on the switch module",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "strings": {
        "description": "Unique string values returned or accepted by this schema",
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "vc_port": {
        "description": "Request to change the Virtual Chassis port mode on a switch",
        "properties": {
          "mode": {
            "$ref": "#/components/schemas/vc_port_mode",
            "description": "Virtual Chassis port mode to apply"
          }
        },
        "type": "object"
      },
      "vc_port_mode": {
        "description": "enum: `network`, `vcp-higig`, `vcp-hgoe`",
        "enum": [
          "network",
          "vcp-higig",
          "vcp-hgoe"
        ],
        "type": "string"
      },
      "virtual_chassis_config": {
        "description": "Virtual Chassis creation or configuration request",
        "properties": {
          "locating": {
            "description": "Whether the Virtual Chassis is currently in locate mode",
            "readOnly": true,
            "type": "boolean"
          },
          "members": {
            "$ref": "#/components/schemas/virtual_chassis_config_members",
            "description": "Virtual Chassis members and their expected roles and VC ports"
          },
          "preprovisioned": {
            "default": false,
            "description": "Whether to create the Virtual Chassis in pre-provisioned mode",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "virtual_chassis_config_member": {
        "additionalProperties": false,
        "description": "Virtual Chassis member configuration",
        "properties": {
          "locating": {
            "description": "Whether this Virtual Chassis member is currently in locate mode",
            "readOnly": true,
            "type": "boolean"
          },
          "mac": {
            "description": "Member MAC address; for FPC0 this matches the device MAC address",
            "type": "string"
          },
          "member_id": {
            "description": "Member ID used for a pre-provisioned Virtual Chassis",
            "type": "integer"
          },
          "vc_ports": {
            "$ref": "#/components/schemas/strings",
            "description": "Port names to use as Virtual Chassis ports on this member"
          },
          "vc_role": {
            "$ref": "#/components/schemas/virtual_chassis_config_member_vc_role",
            "description": "Role of this member in the Virtual Chassis"
          }
        },
        "required": [
          "mac",
          "vc_role"
        ],
        "type": "object"
      },
      "virtual_chassis_config_member_vc_role": {
        "description": "enum: `backup`, `linecard`, `master`",
        "enum": [
          "backup",
          "linecard",
          "master"
        ],
        "type": "string"
      },
      "virtual_chassis_config_members": {
        "description": "Virtual Chassis member configurations",
        "items": {
          "$ref": "#/components/schemas/virtual_chassis_config_member"
        },
        "type": "array"
      },
      "virtual_chassis_member_update": {
        "additionalProperties": false,
        "description": "Member update for a Virtual Chassis add, remove, or preprovision operation",
        "properties": {
          "mac": {
            "description": "Required if `op`==`add` or `op`==`preprovision`; MAC address of the member to add or preprovision",
            "type": "string"
          },
          "member": {
            "description": "Required if `op`==`remove`; member ID to remove from the Virtual Chassis",
            "type": "integer"
          },
          "member_id": {
            "description": "Required if `op`==`preprovision`. Optional if `op`==`add`; target member ID for the Virtual Chassis member",
            "type": "integer"
          },
          "vc_ports": {
            "$ref": "#/components/schemas/virtual_chassis_member_update_vc_ports",
            "description": "Required if `op`==`add` or `op`==`preprovision`; port names to use as Virtual Chassis ports"
          },
          "vc_role": {
            "$ref": "#/components/schemas/virtual_chassis_member_update_vc_role",
            "description": "Required if `op`==`add` or `op`==`preprovision`; role of the member in the Virtual Chassis"
          }
        },
        "type": "object"
      },
      "virtual_chassis_member_update_vc_ports": {
        "description": "Required if `op`==`add` or `op`==`preprovision`",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "virtual_chassis_member_update_vc_role": {
        "description": "Required if `op`==`add` or `op`==`preprovision`. enum: `backup`, `linecard`, `master`",
        "enum": [
          "backup",
          "linecard",
          "master"
        ],
        "type": "string"
      },
      "virtual_chassis_port": {
        "description": "Request to set or delete Virtual Chassis ports on members",
        "properties": {
          "members": {
            "$ref": "#/components/schemas/virtual_chassis_port_members",
            "description": "Virtual Chassis members and ports affected by the operation"
          },
          "op": {
            "$ref": "#/components/schemas/virtual_chassis_port_operation",
            "description": "Action to perform on the specified Virtual Chassis ports"
          }
        },
        "required": [
          "op",
          "members"
        ],
        "type": "object"
      },
      "virtual_chassis_port_members": {
        "description": "Virtual Chassis member port selections for a port operation",
        "items": {
          "$ref": "#/components/schemas/config_vc_port_member"
        },
        "type": "array",
        "uniqueItems": true
      },
      "virtual_chassis_port_operation": {
        "description": "Action to perform on the specified Virtual Chassis ports. enum: `delete`, `set`",
        "enum": [
          "delete",
          "set"
        ],
        "minLength": 1,
        "type": "string"
      },
      "virtual_chassis_update": {
        "description": "Virtual Chassis member update request",
        "properties": {
          "member": {
            "description": "Only if `op`==`renumber`; existing member ID to renumber",
            "type": "integer"
          },
          "members": {
            "$ref": "#/components/schemas/virtual_chassis_update_members",
            "description": "Member updates for add, remove, or preprovision operations"
          },
          "new-member": {
            "description": "Only if `op`==`renumber`; new member ID to assign",
            "type": "integer"
          },
          "op": {
            "$ref": "#/components/schemas/virtual_chassis_update_op",
            "description": "Action to perform on the Virtual Chassis"
          },
          "remove_inventory": {
            "default": false,
            "description": "Only if `op`==`preprovision`. When removing members from a pre-provisioned VC, set to `true` to delete the inventory records for removed members (e.g. for RMA). Members being removed must be in \"not-present\" state.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "virtual_chassis_update_members": {
        "description": "Member updates for a Virtual Chassis operation",
        "items": {
          "$ref": "#/components/schemas/virtual_chassis_member_update"
        },
        "type": "array"
      },
      "virtual_chassis_update_op": {
        "description": "enum: `add`, `preprovision`, `remove`, `renumber`",
        "enum": [
          "add",
          "preprovision",
          "remove",
          "renumber"
        ],
        "type": "string"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "VirtualChassis": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/VirtualChassisExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_virtual_chassis_config"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/VirtualChassisExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_virtual_chassis_config"
            }
          }
        },
        "description": "Example response"
      }
    },
    "parameters": {
      "device_id": {
        "in": "path",
        "name": "device_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "VirtualChassisExample": {
        "value": {
          "config_type": "nonprovisioned",
          "id": "00000000-0000-0000-1000-52d9107af289",
          "mac": "52d9107af289",
          "members": [
            {
              "boot_partition": "junos",
              "cpld_version": "6",
              "cpu_stat": {
                "idle": 69,
                "interrupt": 1,
                "load_avg": [
                  0.8,
                  1.09,
                  1.07
                ],
                "system": 11,
                "user": 19
              },
              "fans": [
                {
                  "airflow": "out",
                  "name": "Fan Tray 0 Fan 0",
                  "rpm": 0,
                  "status": "ok"
                },
                {
                  "airflow": "out",
                  "name": "Fan Tray 1 Fan 0",
                  "rpm": 0,
                  "status": "ok"
                }
              ],
              "fpc_idx": 0,
              "mac": "52d9107af289",
              "memory_stat": {
                "usage": 42
              },
              "model": "EX2300-48P",
              "pics": [
                {
                  "index": 0,
                  "model_number": "EX2300-48P",
                  "port_groups": [
                    {
                      "count": 48,
                      "type": "GE"
                    }
                  ]
                },
                {
                  "index": 1,
                  "model_number": "EX2300-48P",
                  "port_groups": [
                    {
                      "count": 4,
                      "type": "SFP/SFP+"
                    }
                  ]
                }
              ],
              "poe": {
                "max_power": 750,
                "power_draw": 40.4,
                "status": "AT_MODE"
              },
              "poe_version": "2.1.1.19.3 (type1)",
              "psus": [
                {
                  "name": "Power Supply 0",
                  "status": "ok"
                }
              ],
              "recovery_version": "21.4R3-S4.18",
              "serial": "JW0000000000",
              "temperatures": [
                {
                  "celsius": 33,
                  "name": "CPU Sensor",
                  "status": "ok"
                },
                {
                  "celsius": 29,
                  "name": "PSU Sensor",
                  "status": "ok"
                }
              ],
              "type": "fpc",
              "uboot_version": "U-Boot 2016.01-rc1 (Nov 11 2016 - 14:26:00 -0800)  1.3.2",
              "uptime": 27636720,
              "vc_links": [
                {
                  "neighbor_module_idx": 1,
                  "neighbor_port_id": "vcp-1/1/0",
                  "port_id": "vcp-0/1/0"
                }
              ],
              "vc_mode": "HiGiG",
              "vc_role": "master",
              "vc_state": "present",
              "version": "21.4R3-S4.18"
            },
            {
              "boot_partition": "junos",
              "cpld_version": "6",
              "cpu_stat": {
                "idle": 76,
                "interrupt": 0,
                "load_avg": [
                  0.96,
                  0.87,
                  0.76
                ],
                "system": 6,
                "user": 17
              },
              "fans": [
                {
                  "airflow": "out",
                  "name": "Fan Tray 0 Fan 0",
                  "rpm": 0,
                  "status": "ok"
                },
                {
                  "airflow": "out",
                  "name": "Fan Tray 1 Fan 0",
                  "rpm": 0,
                  "status": "ok"
                }
              ],
              "fpc_idx": 1,
              "mac": "d0dd4991652d",
              "memory_stat": {
                "usage": 18
              },
              "model": "EX2300-48P",
              "pics": [
                {
                  "index": 0,
                  "model_number": "EX2300-48P",
                  "port_groups": [
                    {
                      "count": 48,
                      "type": "GE"
                    }
                  ]
                },
                {
                  "index": 1,
                  "model_number": "EX2300-48P",
                  "port_groups": [
                    {
                      "count": 4,
                      "type": "SFP/SFP+"
                    }
                  ]
                }
              ],
              "poe": {
                "max_power": 750,
                "power_draw": 21.2,
                "status": "AT_MODE"
              },
              "poe_version": "2.1.1.19.3 (type1)",
              "psus": [
                {
                  "name": "Power Supply 0",
                  "status": "ok"
                }
              ],
              "recovery_version": "21.4R3-S4.18",
              "serial": "JW3619300922",
              "temperatures": [
                {
                  "celsius": 32,
                  "name": "CPU Sensor",
                  "status": "ok"
                },
                {
                  "celsius": 29,
                  "name": "PSU Sensor",
                  "status": "ok"
                }
              ],
              "type": "fpc",
              "uboot_version": "U-Boot 2016.01-rc1 (Nov 11 2016 - 14:26:00 -0800)  1.3.2",
              "uptime": 27636720,
              "vc_links": [
                {
                  "neighbor_module_idx": 0,
                  "neighbor_port_id": "vcp-0/1/0",
                  "port_id": "vcp-1/1/0"
                }
              ],
              "vc_mode": "HiGiG",
              "vc_role": "backup",
              "vc_state": "present",
              "version": "21.4R3-S4.18"
            }
          ],
          "model": "EX2300-48P",
          "num_routing_engines": 1,
          "org_id": "1e9a61a9-bc42-42ca-bf67-1ad87443d9b8",
          "serial": "JW3619300157",
          "site_id": "ab0aca7a-d45c-469b-b3bb-4fe240642d0b",
          "status": "connected",
          "type": "switch",
          "vc_mac": "52d9107af289"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
