{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Clients - Wired",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Wired Clients are Wired devices connected to a Juniper switch monitored or managed by Mist.",
      "name": "Sites Clients - Wired"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/wired_clients/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Clients",
        "operationId": "countSiteWiredClients",
        "parameters": [
          {
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/site_wired_clients_count_distinct"
            }
          },
          {
            "description": "Client mac",
            "in": "query",
            "name": "mac",
            "schema": {
              "examples": [
                "0123456789ab"
              ],
              "type": "string"
            }
          },
          {
            "description": "Device mac",
            "in": "query",
            "name": "device_mac",
            "schema": {
              "examples": [
                "0123456789ab"
              ],
              "type": "string"
            }
          },
          {
            "description": "Port id",
            "in": "query",
            "name": "port_id",
            "schema": {
              "examples": [
                "ge-1/1/1"
              ],
              "type": "string"
            }
          },
          {
            "description": "VLAN",
            "in": "query",
            "name": "vlan",
            "schema": {
              "examples": [
                "10"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countSiteWiredClients",
        "tags": [
          "Sites Clients - Wired"
        ]
      }
    },
    "/api/v1/sites/{site_id}/wired_clients/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Search Wired Clients",
        "operationId": "searchSiteWiredClients",
        "parameters": [
          {
            "description": "Device mac",
            "in": "query",
            "name": "device_mac",
            "schema": {
              "examples": [
                "0123456789ab"
              ],
              "type": "string"
            }
          },
          {
            "description": "Client mac",
            "in": "query",
            "name": "mac",
            "schema": {
              "examples": [
                "0123456789ab"
              ],
              "type": "string"
            }
          },
          {
            "description": "Client ip",
            "in": "query",
            "name": "ip",
            "schema": {
              "examples": [
                "10.3.5.12"
              ],
              "type": "string"
            }
          },
          {
            "description": "Port id",
            "in": "query",
            "name": "port_id",
            "schema": {
              "examples": [
                "ge-1/1/1"
              ],
              "type": "string"
            }
          },
          {
            "description": "source from where the client was learned (lldp, mac)",
            "in": "query",
            "name": "source",
            "schema": {
              "$ref": "#/components/schemas/client_info_source"
            }
          },
          {
            "description": "VLAN",
            "in": "query",
            "name": "vlan",
            "schema": {
              "examples": [
                "10"
              ],
              "type": "string"
            }
          },
          {
            "description": "Manufacture",
            "in": "query",
            "name": "manufacture",
            "schema": {
              "examples": [
                "Juniper-Mist"
              ],
              "type": "string"
            }
          },
          {
            "description": "Single entry of hostname/mac",
            "in": "query",
            "name": "text",
            "schema": {
              "examples": [
                "client-hostname"
              ],
              "type": "string"
            }
          },
          {
            "description": "nacrule_id",
            "in": "query",
            "name": "nacrule_id",
            "schema": {
              "examples": [
                "8bfc2490-d726-3587-038d-cb2e71bd2330"
              ],
              "type": "string"
            }
          },
          {
            "description": "DHCP Hostname",
            "in": "query",
            "name": "dhcp_hostname",
            "schema": {
              "examples": [
                "client-hostname"
              ],
              "type": "string"
            }
          },
          {
            "description": "DHCP FQDN",
            "in": "query",
            "name": "dhcp_fqdn",
            "schema": {
              "examples": [
                "client.example.com"
              ],
              "type": "string"
            }
          },
          {
            "description": "DHCP Client Identifier",
            "in": "query",
            "name": "dhcp_client_identifier",
            "schema": {
              "examples": [
                "01:23:45:67:89:ab"
              ],
              "type": "string"
            }
          },
          {
            "description": "DHCP Vendor Class Identifier",
            "in": "query",
            "name": "dhcp_vendor_class_identifier",
            "schema": {
              "examples": [
                "Juniper-Mist-AP,Juniper-Mist-Client"
              ],
              "type": "string"
            }
          },
          {
            "description": "DHCP Request Parameters",
            "in": "query",
            "name": "dhcp_request_params",
            "schema": {
              "examples": [
                "hostname,domain-name,domain-name-servers"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WiredClientsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchSiteWiredClients",
        "tags": [
          "Sites Clients - Wired"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "client_info_source": {
        "description": "source from where the client was learned (lldp, mac). enum: `lldp`, `mac`",
        "enum": [
          "lldp",
          "mac"
        ],
        "type": "string"
      },
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "properties": {
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "dhcp_client_option": {
        "additionalProperties": false,
        "properties": {
          "code": {
            "examples": [
              "DHO_DHCP_MESSAGE_TYPE(53)"
            ],
            "type": "string"
          },
          "data": {
            "examples": [
              "DHCPREQUEST"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "properties": {
          "distinct": {
            "type": "string"
          },
          "end": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results"
          },
          "start": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "search_wired_client": {
        "additionalProperties": false,
        "properties": {
          "end": {
            "type": "number"
          },
          "limit": {
            "type": "integer"
          },
          "next": {
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/search_wired_client_results"
          },
          "start": {
            "type": "number"
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "search_wired_client_results": {
        "items": {
          "$ref": "#/components/schemas/wired_client_response"
        },
        "type": "array",
        "uniqueItems": true
      },
      "site_id": {
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "site_wired_clients_count_distinct": {
        "default": "mac",
        "description": "enum: `mac`, `port_id`, `vlan`",
        "enum": [
          "mac",
          "port_id",
          "vlan"
        ],
        "type": "string"
      },
      "timestamp": {
        "description": "Epoch (seconds)",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "wired_client_dhcp_client_options": {
        "items": {
          "$ref": "#/components/schemas/dhcp_client_option"
        },
        "type": "array"
      },
      "wired_client_response": {
        "additionalProperties": false,
        "properties": {
          "auth_method": {
            "examples": [
              "mac_auth"
            ],
            "type": "string"
          },
          "auth_state": {
            "examples": [
              "authenticated"
            ],
            "type": "string"
          },
          "device_mac": {
            "$ref": "#/components/schemas/wired_client_response_device_mac"
          },
          "device_mac_port": {
            "$ref": "#/components/schemas/wired_client_response_device_mac_port"
          },
          "dhcp_client_identifier": {
            "examples": [
              "MAC address 00155df6d500"
            ],
            "type": "string"
          },
          "dhcp_client_options": {
            "$ref": "#/components/schemas/wired_client_dhcp_client_options"
          },
          "dhcp_fqdn": {
            "examples": [
              "ITS-VMMT0-D1N02.mgthub.local"
            ],
            "type": "string"
          },
          "dhcp_hostname": {
            "examples": [
              "ITS-VMMT0-D1N02"
            ],
            "type": "string"
          },
          "dhcp_request_params": {
            "examples": [
              "1 3 6 15 31 33 43 44 46 47 119 121 249 252"
            ],
            "type": "string"
          },
          "dhcp_vendor_class_identifier": {
            "examples": [
              "MSFT 5.0"
            ],
            "type": "string"
          },
          "ip": {
            "$ref": "#/components/schemas/wired_client_response_ip"
          },
          "mac": {
            "readOnly": true,
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "port_id": {
            "$ref": "#/components/schemas/wired_client_response_port_id"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp"
          },
          "vlan": {
            "$ref": "#/components/schemas/wired_client_response_vlan"
          }
        },
        "type": "object"
      },
      "wired_client_response_device_mac": {
        "description": "MAC Address of the switch the client is connected to",
        "items": {
          "readOnly": true,
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "wired_client_response_device_mac_port": {
        "items": {
          "$ref": "#/components/schemas/wired_client_response_device_mac_port_item"
        },
        "readOnly": true,
        "type": "array",
        "uniqueItems": true
      },
      "wired_client_response_device_mac_port_item": {
        "additionalProperties": false,
        "properties": {
          "device_mac": {
            "minLength": 1,
            "type": "string"
          },
          "ip": {
            "readOnly": true,
            "type": "string"
          },
          "port_id": {
            "readOnly": true,
            "type": "string"
          },
          "port_parent": {
            "type": "string"
          },
          "start": {
            "readOnly": true,
            "type": "string"
          },
          "vlan": {
            "readOnly": true,
            "type": "integer"
          },
          "when": {
            "readOnly": true,
            "type": "string"
          }
        },
        "readOnly": true,
        "type": "object"
      },
      "wired_client_response_ip": {
        "items": {
          "readOnly": true,
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "wired_client_response_port_id": {
        "items": {
          "readOnly": true,
          "type": "string"
        },
        "readOnly": true,
        "type": "array"
      },
      "wired_client_response_vlan": {
        "items": {
          "readOnly": true,
          "type": "integer"
        },
        "readOnly": true,
        "type": "array"
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "WiredClientsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WiredClientsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/search_wired_client"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WiredClientsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/search_wired_client"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "duration": {
        "description": "Duration like 7d, 2w",
        "in": "query",
        "name": "duration",
        "required": false,
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "End time (epoch timestamp in seconds, or relative string like \"-1d\", \"-2h\", \"now\")",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "required": false,
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Start time (epoch timestamp in seconds, or relative string like \"-1d\", \"-1w\")",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "WiredClientsSearchExample": {
        "value": {
          "end": 1648529800.8221116,
          "limit": 1000,
          "results": [
            {
              "auth_method": "mac_auth",
              "auth_state": "authenticated",
              "device_mac": [
                "001122334455"
              ],
              "dhcp_client_identifier": "MAC address 00155df6d500",
              "dhcp_client_options": [
                {
                  "code": "DHO_DHCP_MESSAGE_TYPE(53)",
                  "data": "DHCPREQUEST"
                },
                {
                  "code": "DHO_DHCP_CLIENT_IDENTIFIER(61)",
                  "data": "MAC address 00155df6d500"
                },
                {
                  "code": "DHO_DHCP_REQUESTED_ADDRESS(50)",
                  "data": "172.17.10.255"
                },
                {
                  "code": "DHO_DHCP_SERVER_IDENTIFIER(54)",
                  "data": "172.17.8.1"
                },
                {
                  "code": "DHO_DHCP_MAX_MESSAGE_SIZE(57)",
                  "data": "1280"
                },
                {
                  "code": "DHO_DHCP_PARAMETER_REQUEST_LIST(55)",
                  "data": " 1 3 6 12 15 28 43 180"
                },
                {
                  "code": "DHO_VENDOR_CLASS_IDENTIFIER(60)",
                  "data": "MSFT 5.0"
                },
                {
                  "code": "DHO_HOST_NAME(12)",
                  "data": "ITS-VMMT0-D1N02"
                }
              ],
              "dhcp_fqdn": "ITS-VMMT0-D1N02.mgthub.local",
              "dhcp_hostname": "ITS-VMMT0-D1N02",
              "dhcp_request_params": "1 3 6 15 31 33 43 44 46 47 119 121 249 252",
              "dhcp_vendor_class_identifier": "MSFT 5.0",
              "mac": "112233445566",
              "org_id": "c168ddee-c14c-11e5-8e81-1258369c38a9",
              "port_id": [
                "et-0/0/1"
              ],
              "site_id": "c168ddee-c14c-11e5-8e81-1258369c38a9",
              "timestamp": 1571174567.807,
              "vlan": [
                0,
                1001
              ]
            }
          ],
          "start": 1648443400.8221116,
          "total": 1
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
