{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Rfdiags",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Rf Diags is a feature in Juniper Mist location services that allows users to replay recorded sessions of the RF (radio frequency) environment.\n\nIt enables users to gain an understanding of current issues, troubleshoot problems, and review recordings for further analysis or to share with customer support.",
      "name": "Sites Rfdiags"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/rfdiags": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "List RF Glass Recording",
        "operationId": "getSiteSiteRfdiagRecording",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RfdiagsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSiteRfdiagRecording",
        "tags": [
          "Sites Rfdiags"
        ]
      },
      "post": {
        "description": "Start RF Glass Recording",
        "operationId": "startSiteRecording",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/rf_diag"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Rfdiag"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "startSiteRecording",
        "tags": [
          "Sites Rfdiags"
        ]
      }
    },
    "/api/v1/sites/{site_id}/rfdiags/{rfdiag_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/rfdiag_id"
        }
      ],
      "get": {
        "description": "Get RF Diag Recording Details",
        "operationId": "getSiteRfdiagRecording",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Rfdiag"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteRfdiagRecording",
        "tags": [
          "Sites Rfdiags"
        ]
      },
      "put": {
        "description": "Update Recording",
        "operationId": "updateSiteRfdiagRecording",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/rf_diag"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Rfdiag"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteRfdiagRecording",
        "tags": [
          "Sites Rfdiags"
        ]
      },
      "delete": {
        "description": "Delete Recording",
        "operationId": "deleteSiteRfdiagRecording",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteRfdiagRecording",
        "tags": [
          "Sites Rfdiags"
        ]
      }
    },
    "/api/v1/sites/{site_id}/rfdiags/{rfdiag_id}/download": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/rfdiag_id"
        }
      ],
      "get": {
        "description": "Download Recording\nDownload raw_events blob",
        "operationId": "downloadSiteRfdiagRecording",
        "responses": {
          "200": {
            "$ref": "#/components/responses/File"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "downloadSiteRfdiagRecording",
        "tags": [
          "Sites Rfdiags"
        ]
      }
    },
    "/api/v1/sites/{site_id}/rfdiags/{rfdiag_id}/stop": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/rfdiag_id"
        }
      ],
      "post": {
        "description": "If the recording session is active for the given rfdiag_id, it will finish the recording. duration and end_time will be updated to reflect the correct values.",
        "operationId": "stopSiteRfdiagRecording",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "stopSiteRfdiagRecording",
        "tags": [
          "Sites Rfdiags"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "rf_client_type": {
        "description": "enum: `asset`, `client`, `sdkclient`",
        "enum": [
          "asset",
          "client",
          "sdkclient"
        ],
        "type": "string"
      },
      "rf_diag": {
        "description": "RF Diag",
        "properties": {
          "duration": {
            "default": 180,
            "description": "recording length in seconds, max is 180. Default value is also 180.",
            "maximum": 180,
            "type": "integer"
          },
          "mac": {
            "description": "If `type`==`client` or `asset`, mac of the device",
            "type": "string"
          },
          "name": {
            "description": "Name of the recording, the name of the sdk client would be a good default choice",
            "type": "string"
          },
          "sdkclient_id": {
            "description": "If `type`==`sdkclient`, sdkclient_id of this recording",
            "format": "uuid",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/rf_client_type"
          }
        },
        "required": [
          "name",
          "type"
        ],
        "type": "object"
      },
      "rf_diag_info": {
        "description": "RF Diag response",
        "items": {
          "$ref": "#/components/schemas/rf_diag_info_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "rf_diag_info_item": {
        "additionalProperties": false,
        "properties": {
          "asset_id": {
            "description": "If `type`==`asset`, id of the asset",
            "format": "uuid",
            "type": "string"
          },
          "asset_name": {
            "description": "If `type`==`asset`, name of the asset",
            "type": "string"
          },
          "client_name": {
            "description": "If `type`==`client`, hostname of the client",
            "type": "string"
          },
          "duration": {
            "description": "recording length in seconds, max is 120",
            "type": "integer"
          },
          "end_time": {
            "description": "Timestamp of end of recording",
            "type": "integer"
          },
          "frame_count": {
            "description": "Number of frames in the output",
            "type": "integer"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "mac": {
            "description": "If `type`==`client` or `asset`, mac of the device",
            "type": "string"
          },
          "map_id": {
            "format": "uuid",
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "next": {
            "description": "Optional. id of the next recoding if present. Only valid for site survey.",
            "type": "string"
          },
          "raw_events": {
            "description": "URL to a JSON file that contains array of raw location diag events",
            "type": "string"
          },
          "ready": {
            "description": "Whether it’s ready for playback",
            "type": "boolean"
          },
          "sdkclient_id": {
            "description": "If `type`==`sdkclient`, sdkclient_id of this recording",
            "format": "uuid",
            "type": "string"
          },
          "sdkclient_name": {
            "description": "If `type`==`sdkclient`, name of the sdkclient",
            "type": "string"
          },
          "sdkclient_uuid": {
            "description": "If `type`==`sdkclient`, device_id of sdkclient",
            "format": "uuid",
            "type": "string"
          },
          "start_time": {
            "description": "Timestamp of the recording (the start)",
            "type": "integer"
          },
          "type": {
            "$ref": "#/components/schemas/rf_client_type"
          },
          "url": {
            "description": "URL to a JSON file that contains an array of frames, each frame is the same format",
            "type": "string"
          }
        },
        "required": [
          "name",
          "type",
          "map_id",
          "url",
          "raw_events",
          "start_time",
          "end_time",
          "duration",
          "frame_count",
          "ready"
        ],
        "type": "object"
      },
      "rf_diag_info_list": {
        "items": {
          "$ref": "#/components/schemas/rf_diag_info"
        },
        "type": "array"
      }
    },
    "responses": {
      "File": {
        "content": {
          "application/json": {
            "schema": {
              "contentMediaType": "application/octet-stream",
              "description": "File",
              "type": "string"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "contentMediaType": "application/octet-stream",
              "description": "File",
              "type": "string"
            }
          }
        },
        "description": "OK"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "Rfdiag": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/RfdiagExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/rf_diag_info"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/RfdiagExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/rf_diag_info"
            }
          }
        },
        "description": "OK"
      },
      "RfdiagsArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/RfdiagsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/rf_diag_info_list"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/RfdiagsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/rf_diag_info_list"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "duration": {
        "description": "Duration like 7d, 2w",
        "in": "query",
        "name": "duration",
        "required": false,
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "End time (epoch timestamp in seconds, or relative string like \"-1d\", \"-2h\", \"now\")",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "page": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "rfdiag_id": {
        "in": "path",
        "name": "rfdiag_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "start": {
        "description": "Start time (epoch timestamp in seconds, or relative string like \"-1d\", \"-1w\")",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "RfdiagExample": {
        "value": [
          {
            "asset_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "asset_name": "string",
            "client_name": "string",
            "duration": 0,
            "end_time": 0,
            "frame_count": 0,
            "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "mac": "string",
            "map_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "name": "string",
            "next": "string",
            "raw_events": "string",
            "ready": true,
            "sdkclient_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "sdkclient_name": "string",
            "sdkclient_uuid": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "start_time": 0,
            "type": "sdkclient",
            "url": "string"
          }
        ]
      },
      "RfdiagsArrayExample": {
        "value": [
          [
            {
              "asset_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
              "asset_name": "string",
              "client_name": "string",
              "duration": 0,
              "end_time": 0,
              "frame_count": 0,
              "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
              "mac": "string",
              "map_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
              "name": "string",
              "next": "string",
              "raw_events": "string",
              "ready": true,
              "sdkclient_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
              "sdkclient_name": "string",
              "sdkclient_uuid": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
              "start_time": 0,
              "type": "sdkclient",
              "url": "string"
            }
          ]
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
