{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "A site represents a project, a deployment. For MSP, it can be as small as a coffee shop or a five-star 600-room hotel. A site contains a set of Maps, Wlans, Policies, Zones.",
      "name": "Sites"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Provides information about the site, including its name, address,\ntimezone, and associated templates. This endpoint is useful for retrieving\nthe current configuration and details of a specific site.",
        "operationId": "getSiteInfo",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Site"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteInfo",
        "tags": [
          "Sites"
        ]
      },
      "put": {
        "description": "Updates the configuration and metadata for an existing site. \n\n\nThis endpoint allows modification of site properties including location details (address, coordinates, timezone), template associations (alarm, network, RF, security policy templates), site group memberships, and general information (name, notes).\n\n\nAll fields are optional and only provided fields will be updated.",
        "operationId": "updateSiteInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "address": "string",
                    "alarmtemplate_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
                    "country_code": "string",
                    "latlng": {
                      "lat": 0,
                      "lng": 0
                    },
                    "name": "string",
                    "networktemplate_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
                    "notes": "string",
                    "rftemplate_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
                    "secpolicy_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
                    "sitegroup_ids": [
                      "b069b358-4c97-5319-1f8c-7c5ca64d6ab1"
                    ],
                    "timezone": "string"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/site"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Site"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteInfo",
        "tags": [
          "Sites"
        ]
      },
      "delete": {
        "description": "Delete Site",
        "operationId": "deleteSite",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSite",
        "tags": [
          "Sites"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "lat_lng": {
        "additionalProperties": false,
        "description": "Geographic latitude and longitude coordinate pair",
        "properties": {
          "lat": {
            "description": "Geographic latitude in decimal degrees",
            "examples": [
              37.295833
            ],
            "format": "double",
            "type": "number"
          },
          "lng": {
            "description": "Geographic longitude in decimal degrees",
            "examples": [
              -122.032946
            ],
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "lat",
          "lng"
        ],
        "type": "object"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site": {
        "description": "Site configuration and metadata within an organization",
        "properties": {
          "address": {
            "description": "full address of the site",
            "examples": [
              "1601 S. Deanza Blvd., Cupertino, CA, 95014"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "alarmtemplate_id": {
            "description": "Alarm Template ID, this takes precedence over the Org-level alarmtemplate_id",
            "examples": [
              "684dfc5c-fe77-2290-eb1d-ef3d677fe168"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "aptemplate_id": {
            "description": "AP Template ID, used by APs",
            "examples": [
              "16bdf952-ade2-4491-80b0-85ce506c760b"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "country_code": {
            "description": "Country code for the site (for AP config generation), in two-character",
            "examples": [
              "US"
            ],
            "type": "string"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Timestamp when the site was created, in epoch seconds"
          },
          "gatewaytemplate_id": {
            "description": "Gateway Template ID, used by gateways",
            "examples": [
              "6f9b2e75-9b2f-b5ae-81e3-e14c76f1a90f"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique value identifying the site"
          },
          "latlng": {
            "$ref": "#/components/schemas/lat_lng",
            "description": "Latitude and longitude for the site location"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Timestamp when the site was last modified, in epoch seconds"
          },
          "name": {
            "description": "Display name of the site",
            "examples": [
              "Mist Office"
            ],
            "type": "string"
          },
          "networktemplate_id": {
            "description": "Network Template ID, this takes precedence over Site Settings",
            "examples": [
              "12ae9bd2-e0ab-107b-72e8-a7a005565ec2"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "description": "Optional, any notes about the site",
            "type": [
              "string",
              "null"
            ]
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization identifier associated with the site"
          },
          "rftemplate_id": {
            "description": "RF Template ID, this takes precedence over Site Settings",
            "examples": [
              "bb8a9017-1e36-5d6c-6f2b-551abe8a76a2"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "routertemplate_id": {
            "description": "Router Template ID, used by gateways",
            "examples": [
              "6f9b2e75-9b2f-b5ae-81e3-e14c76f1a90f"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "secpolicy_id": {
            "description": "Security policy identifier applied to this site",
            "examples": [
              "3bcd0beb-5d0a-4cbd-92c1-14aea91e98ef"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "sitegroup_ids": {
            "$ref": "#/components/schemas/site_sitegroup_ids",
            "description": "Site group identifiers for groups that include this site"
          },
          "sitetemplate_id": {
            "description": "Site template identifier applied to this site",
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "timezone": {
            "default": "UTC",
            "description": "IANA time zone name for the site",
            "examples": [
              "America/Los_Angeles"
            ],
            "type": "string"
          },
          "tzoffset": {
            "default": 0,
            "description": "Time zone offset value derived from the site's timezone",
            "type": "integer"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "site_sitegroup_ids": {
        "description": "Site group identifiers for groups this site belongs to",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "Site": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SiteExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/site"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SiteExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/site"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "SiteExample": {
        "value": {
          "address": "1601 S. Deanza Blvd., Cupertino, CA, 95014",
          "alarmtemplate_id": "684dfc5c-fe77-2290-eb1d-ef3d677fe168",
          "aptemplate_id": "16bdf952-ade2-4491-80b0-85ce506c760b",
          "country_code": "US",
          "created_time": 0,
          "gatewaytemplate_id": "6f9b2e75-9b2f-b5ae-81e3-e14c76f1a90f",
          "id": "497f6eca-6276-5005-bfeb-53cbbbba6f17",
          "latlng": {
            "lat": 37.295833,
            "lng": -122.032946
          },
          "modified_time": 0,
          "name": "Mist Office",
          "networktemplate_id": "12ae9bd2-e0ab-107b-72e8-a7a005565ec2",
          "notes": "string",
          "org_id": "a40f5d1f-d889-42e9-94ea-b9b33585fc6b",
          "rftemplate_id": "bb8a9017-1e36-5d6c-6f2b-551abe8a76a2",
          "secpolicy_id": "3bcd0beb-5d0a-4cbd-92c1-14aea91e98ef",
          "sitegroup_ids": [
            "497f6eca-6276-5006-bfeb-53cbbbba6f18"
          ],
          "timezone": "America/Los_Angeles"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
