{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites MxEdges",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "MxEdges (Mist Edges) at the site level are deployed to tunnel traffic at each site due to network constraints or security concerns.\n\nThey can be assigned to a specific site and configured to provide tunneling and RADIUS proxy services for the access points (APs) in that site.\n\nThese Mist Edges allow for the extension of user vlans from the corporate network to the aps, and they support features such as auto preemption for failover, dual tunneling to different mist edge clusters, and anchor tunnels for traffic routing to dmz areas.",
      "name": "Sites MxEdges"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/mxedges": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "List Mist Edges for a site. Use [List Org Mist Edges](/#operations/listOrgMxEdges) to retrieve Mist Edges across the organization.",
        "operationId": "listSiteMxEdges",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxedgesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteMxEdges",
        "tags": [
          "Sites MxEdges"
        ]
      }
    },
    "/api/v1/sites/{site_id}/mxedges/events/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Mist Edge Events",
        "operationId": "countSiteMxEdgeEvents",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `mxcluster_id`, `mxedge_id`, `package`, `type`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/site_mxedge_events_count_distinct"
            }
          },
          {
            "description": "Filter results by Mist Edge identifier",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Mist edge cluster id",
            "in": "query",
            "name": "mxcluster_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/mxedge_event_type"
          },
          {
            "description": "Filter results by service name",
            "in": "query",
            "name": "service",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countSiteMxEdgeEvents",
        "tags": [
          "Sites MxEdges"
        ]
      }
    },
    "/api/v1/sites/{site_id}/mxedges/events/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Search Mist Edge events for a site with filters for Mist Edge, Mist Edge cluster, event type, service, component, and time range. Use [Search Org Mist Edge Events](/#operations/searchOrgMistEdgeEvents) to search Mist Edge events across the organization.",
        "operationId": "searchSiteMistEdgeEvents",
        "parameters": [
          {
            "description": "Filter results by Mist Edge identifier",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Mist edge cluster id",
            "in": "query",
            "name": "mxcluster_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/mxedge_event_type"
          },
          {
            "description": "Filter results by service name",
            "in": "query",
            "name": "service",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by component name",
            "in": "query",
            "name": "component",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit_10"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxEdgeEventsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchSiteMistEdgeEvents",
        "tags": [
          "Sites MxEdges"
        ]
      }
    },
    "/api/v1/sites/{site_id}/mxedges/{mxedge_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "get": {
        "description": "Get Site Mist Edge",
        "operationId": "getSiteMxEdge",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteMxEdge",
        "tags": [
          "Sites MxEdges"
        ]
      },
      "put": {
        "description": "Update Site Mist Edge settings",
        "operationId": "updateSiteMxEdge",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mxedge"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Mxedge"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteMxEdge",
        "tags": [
          "Sites MxEdges"
        ]
      },
      "delete": {
        "description": "Delete Site Mist Edge",
        "operationId": "deleteSiteMxEdge",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteMxEdge",
        "tags": [
          "Sites MxEdges"
        ]
      }
    },
    "/api/v1/sites/{site_id}/mxedges/{mxedge_id}/support": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/mxedge_id"
        }
      ],
      "post": {
        "description": "Support / Upload Mist Edge support files",
        "operationId": "uploadSiteMxEdgeSupportFiles",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "uploadSiteMxEdgeSupportFiles",
        "tags": [
          "Sites MxEdges"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "event_severity": {
        "description": "Severity level for an event. enum: `normal`, `critical`, `high`, `warning`",
        "enum": [
          "normal",
          "critical",
          "high",
          "warning"
        ],
        "type": "string"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "ip_type": {
        "default": "dhcp",
        "description": "IP address assignment mode, either DHCP or static. enum: `dhcp`, `static`",
        "enum": [
          "dhcp",
          "static"
        ],
        "examples": [
          "static"
        ],
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "mxedge": {
        "description": "Mist Edge appliance configuration and registration state",
        "properties": {
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Timestamp when the Mist Edge record was created"
          },
          "for_site": {
            "description": "Whether this Mist Edge is scoped to a site",
            "readOnly": true,
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the Mist Edge"
          },
          "mac": {
            "description": "Mist Edge MAC address",
            "examples": [
              "0200009fbe65"
            ],
            "readOnly": true,
            "type": "string"
          },
          "magic": {
            "description": "Registration claim code for the Mist Edge",
            "examples": [
              "L-NpT5gi-ADR8WTFd4EiQPY3cP5WdSoD"
            ],
            "readOnly": true,
            "type": "string"
          },
          "model": {
            "description": "Mist Edge hardware or virtual appliance model",
            "examples": [
              "ME-100"
            ],
            "type": "string"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Timestamp when the Mist Edge record was last modified"
          },
          "mxagent_registered": {
            "description": "Whether the Mist Edge agent has registered with Mist cloud",
            "readOnly": true,
            "type": "boolean"
          },
          "mxcluster_id": {
            "description": "Mist Edge cluster identifier that this appliance belongs to",
            "examples": [
              "572586b7-f97b-a22b-526c-8b97a3f609c4"
            ],
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "mxedge_mgmt": {
            "$ref": "#/components/schemas/mxedge_mgmt",
            "description": "Management credentials and settings for the Mist Edge"
          },
          "name": {
            "description": "Display name of the Mist Edge",
            "examples": [
              "Guest"
            ],
            "type": "string"
          },
          "notes": {
            "description": "Free-form notes for the Mist Edge",
            "examples": [
              "note for mxedge"
            ],
            "type": "string"
          },
          "ntp_servers": {
            "$ref": "#/components/schemas/strings",
            "description": "Time synchronization servers used by the Mist Edge"
          },
          "oob_ip_config": {
            "$ref": "#/components/schemas/mxedge_oob_ip_config",
            "description": "Out-of-band management IP configuration for the Mist Edge"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Identifier of the org that owns the Mist Edge"
          },
          "proxy": {
            "$ref": "#/components/schemas/proxy",
            "description": "Network proxy settings used by the Mist Edge"
          },
          "services": {
            "$ref": "#/components/schemas/mxedge_services",
            "description": "List of services enabled to run on the Mist Edge"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Identifier of the site when the Mist Edge is site-scoped"
          },
          "tunterm_dhcpd_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config",
            "description": "DHCP relay or server settings for Mist Tunneled VLANs"
          },
          "tunterm_extra_routes": {
            "additionalProperties": {
              "$ref": "#/components/schemas/mxedge_tunterm_extra_route"
            },
            "description": "Extra routes for Mist Tunneled VLAN traffic; property key is a CIDR",
            "type": "object"
          },
          "tunterm_igmp_snooping_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_igmp_snooping_config",
            "description": "IGMP snooping settings for Mist Tunneled VLANs"
          },
          "tunterm_ip_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_ip_config",
            "description": "Tunnel termination IP configuration for the Mist Edge"
          },
          "tunterm_monitoring": {
            "$ref": "#/components/schemas/mxedge_tunterm_monitoring",
            "description": "Monitoring checks for tunnel termination reachability"
          },
          "tunterm_multicast_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_multicast_config",
            "description": "Multicast forwarding settings for tunnel termination"
          },
          "tunterm_other_ip_configs": {
            "additionalProperties": {
              "$ref": "#/components/schemas/mxedge_tunterm_other_ip_config"
            },
            "description": "IPconfigs by VLAN ID. Property key is the VLAN ID",
            "type": "object"
          },
          "tunterm_port_config": {
            "$ref": "#/components/schemas/tunterm_port_config",
            "description": "Port configuration for tunnel termination traffic"
          },
          "tunterm_registered": {
            "description": "Whether the tunnel termination service has registered with Mist cloud",
            "readOnly": true,
            "type": "boolean"
          },
          "tunterm_switch_config": {
            "$ref": "#/components/schemas/mxedge_tunterm_switch_configs",
            "description": "Switch VLAN settings for tunnel termination"
          },
          "versions": {
            "$ref": "#/components/schemas/mxedge_versions",
            "description": "Service version information reported by the Mist Edge"
          }
        },
        "required": [
          "model",
          "name"
        ],
        "type": "object"
      },
      "mxedge_event": {
        "additionalProperties": false,
        "description": "Event reported for a Mist Edge appliance or service",
        "properties": {
          "audit_id": {
            "$ref": "#/components/schemas/id",
            "description": "Audit log identifier associated with this event, when available"
          },
          "component": {
            "description": "Mist Edge component that reported the event, such as a power supply or fan",
            "examples": [
              "PS1",
              "Fan1"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "device_id": {
            "description": "Identifier of the device associated with the event, when available",
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "device_type": {
            "description": "Device type associated with the event",
            "type": "string"
          },
          "from_version": {
            "description": "Service version before an upgrade-related event",
            "type": "string"
          },
          "mac": {
            "description": "Mist Edge MAC address associated with the event",
            "type": "string"
          },
          "mxcluster_id": {
            "description": "Mist Edge cluster identifier associated with the event",
            "examples": [
              "2815c917-58e7-472f-a190-bfd44fb58d05"
            ],
            "type": "string"
          },
          "mxedge_id": {
            "description": "Mist Edge identifier associated with the event",
            "examples": [
              "00000000-0000-0000-1000-020000dc585c"
            ],
            "type": "string"
          },
          "mxedge_name": {
            "description": "Display name of the Mist Edge associated with the event",
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Identifier of the org where the event occurred"
          },
          "package": {
            "description": "Software package associated with the event",
            "type": "string"
          },
          "service": {
            "description": "Mist Edge service associated with the event",
            "examples": [
              "tunterm"
            ],
            "type": "string"
          },
          "severity": {
            "$ref": "#/components/schemas/event_severity",
            "description": "Event severity level reported for this Mist Edge event"
          },
          "sys_info.usage": {
            "$ref": "#/components/schemas/mxedge_event_sys_info",
            "description": "System resource usage details associated with the event"
          },
          "text": {
            "description": "Human-readable message describing the Mist Edge event",
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when the Mist Edge event occurred"
          },
          "to_version": {
            "description": "Service version after an upgrade-related event",
            "type": "string"
          },
          "type": {
            "description": "Mist Edge event type code",
            "examples": [
              "ME_SERVICE_STOPPED"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "mxedge_event_sys_info": {
        "additionalProperties": false,
        "description": "System resource details for a Mist Edge event",
        "properties": {
          "resource": {
            "description": "System resource referenced by the event",
            "type": "string"
          },
          "severity": {
            "$ref": "#/components/schemas/event_severity",
            "description": "Event severity for the system resource condition"
          }
        },
        "type": "object"
      },
      "mxedge_events": {
        "description": "Mist Edge event records",
        "items": {
          "$ref": "#/components/schemas/mxedge_event"
        },
        "minItems": 1,
        "type": "array",
        "uniqueItems": true
      },
      "mxedge_mgmt": {
        "additionalProperties": false,
        "description": "Management settings for a Mist Edge appliance",
        "properties": {
          "config_auto_revert": {
            "default": false,
            "description": "Whether the Mist Edge automatically reverts configuration changes if connectivity is lost",
            "type": "boolean"
          },
          "fips_enabled": {
            "default": false,
            "description": "Whether FIPS mode is enabled on the Mist Edge",
            "type": "boolean"
          },
          "mist_password": {
            "description": "Password for the Mist service account on the Mist Edge",
            "examples": [
              "MIST_PASSWORD"
            ],
            "type": "string"
          },
          "oob_ip_type": {
            "$ref": "#/components/schemas/mxedge_mgmt_oob_ip_type",
            "description": "IPv4 address assignment mode for out-of-band management"
          },
          "oob_ip_type6": {
            "$ref": "#/components/schemas/mxedge_mgmt_oob_ip_type6",
            "description": "IPv6 address assignment mode for out-of-band management"
          },
          "root_password": {
            "description": "Root account password for the Mist Edge",
            "examples": [
              "ROOT_PASSWORD"
            ],
            "format": "password",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mxedge_mgmt_oob_ip_type": {
        "default": "dhcp",
        "description": "enum: `dhcp`, `disabled`, `static`",
        "enum": [
          "dhcp",
          "disabled",
          "static"
        ],
        "type": "string"
      },
      "mxedge_mgmt_oob_ip_type6": {
        "default": "autoconf",
        "description": "enum: `autoconf`, `dhcp`, `disabled`, `static`",
        "enum": [
          "autoconf",
          "dhcp",
          "disabled",
          "static"
        ],
        "type": "string"
      },
      "mxedge_oob_ip_config": {
        "additionalProperties": false,
        "description": "IP configuration for the Mist Edge out-of-band management interface",
        "properties": {
          "autoconf6": {
            "default": true,
            "description": "Whether IPv6 autoconfiguration is enabled on the out-of-band management interface",
            "type": "boolean"
          },
          "dhcp6": {
            "default": true,
            "description": "Whether DHCPv6 is enabled on the out-of-band management interface",
            "type": "boolean"
          },
          "dns": {
            "$ref": "#/components/schemas/mxedge_oob_ip_config_dns",
            "description": "Name server addresses for out-of-band management"
          },
          "gateway": {
            "description": "If `type`=`static`, IPv4 default gateway for the out-of-band management interface",
            "examples": [
              "10.2.1.254"
            ],
            "type": "string"
          },
          "gateway6": {
            "description": "If `type6`=`static`, IPv6 default gateway for the out-of-band management interface",
            "examples": [
              "2601:1700:43c0:dc0::1"
            ],
            "type": "string"
          },
          "ip": {
            "description": "If `type`=`static`, IPv4 address for the out-of-band management interface",
            "examples": [
              "10.2.1.2"
            ],
            "type": "string"
          },
          "ip6": {
            "description": "If `type6`=`static`, IPv6 address for the out-of-band management interface",
            "examples": [
              "2601:1700:43c0:dc0:20c:29ff:fea7:93bc"
            ],
            "type": "string"
          },
          "netmask": {
            "description": "If `type`=`static`, IPv4 netmask for the out-of-band management interface",
            "examples": [
              "255.255.255.0"
            ],
            "type": "string"
          },
          "netmask6": {
            "description": "If `type6`=`static`, IPv6 prefix length for the out-of-band management interface",
            "examples": [
              "/64"
            ],
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ip_type",
            "description": "IPv4 address assignment mode for out-of-band management"
          },
          "type6": {
            "$ref": "#/components/schemas/ip_type",
            "description": "IPv6 address assignment mode for out-of-band management"
          }
        },
        "type": "object"
      },
      "mxedge_oob_ip_config_dns": {
        "default": [
          "8.8.8.8",
          "8.8.4.4",
          "2001:4860:4860::8888",
          "2001:4860:4860::8844"
        ],
        "description": "IPv4 ignored if `type`!=`static`, IPv6 ignored if `type6`!=`static`",
        "examples": [
          [
            "8.8.8.8",
            "4.4.4.4",
            "2001:4860:4860::8888",
            "2001:4860:4860::8844"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "mxedge_services": {
        "description": "List of services to run, tunterm only for now",
        "items": {
          "default": "tunterm",
          "type": "string"
        },
        "type": "array"
      },
      "mxedge_tunterm_dhcpd_config": {
        "additionalProperties": {
          "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config_property"
        },
        "description": "Global and per-VLAN DHCP relay settings for Mist Tunneled VLANs; property key is the VLAN ID",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether DHCP relay is enabled for Mist Tunneled VLANs",
            "type": "boolean"
          },
          "servers": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config_servers",
            "description": "DHCP relay server addresses used when `type`==`relay`"
          },
          "type": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_type",
            "description": "DHCP handling mode for the global tunnel termination config"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_dhcpd_config_property": {
        "additionalProperties": false,
        "description": "Per-VLAN DHCP relay settings for a Mist Tunneled VLAN",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether DHCP relay is enabled for this tunneled VLAN",
            "type": "boolean"
          },
          "servers": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config_servers",
            "description": "DHCP relay server addresses used by this tunneled VLAN"
          },
          "type": {
            "$ref": "#/components/schemas/mxedge_tunterm_dhcpd_config_type",
            "description": "DHCP handling mode for this tunneled VLAN"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_dhcpd_config_servers": {
        "description": "List of DHCP servers; required if `type`==`relay`",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "mxedge_tunterm_dhcpd_config_type": {
        "default": "relay",
        "description": "DHCP handling mode for this tunneled VLAN. enum: `relay`",
        "enum": [
          "relay"
        ],
        "type": "string"
      },
      "mxedge_tunterm_dhcpd_type": {
        "default": "relay",
        "description": "DHCP handling mode for the global tunnel termination config. enum: `relay`",
        "enum": [
          "relay"
        ],
        "type": "string"
      },
      "mxedge_tunterm_extra_route": {
        "additionalProperties": false,
        "description": "Extra route for Mist Tunnel traffic on a Mist Edge",
        "properties": {
          "via": {
            "description": "Next-hop IP address for this Mist Tunnel extra route",
            "type": "string"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_igmp_snooping_config": {
        "additionalProperties": false,
        "description": "IGMP snooping settings for Mist Tunnel VLANs",
        "properties": {
          "enabled": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "string"
              }
            ],
            "default": false,
            "description": "Whether IGMP snooping is enabled for the configured VLANs"
          },
          "querier": {
            "$ref": "#/components/schemas/mxedge_tunterm_igmp_snooping_querier",
            "description": "IGMP querier settings used with tunnel termination snooping"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/mxedge_tunterm_igmp_snooping_config_vlan_ids",
            "description": "List of VLAN IDs where tunnel termination performs IGMP snooping"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_igmp_snooping_config_vlan_ids": {
        "anyOf": [
          {
            "items": {
              "examples": [
                2
              ],
              "maximum": 4096,
              "minimum": 0,
              "type": "integer"
            },
            "type": "array"
          },
          {
            "type": "string"
          }
        ],
        "description": "List of VLAN IDs where tunnel termination performs IGMP snooping"
      },
      "mxedge_tunterm_igmp_snooping_querier": {
        "additionalProperties": false,
        "description": "IGMP querier settings for tunnel termination",
        "properties": {
          "max_response_time": {
            "description": "Querier's query response interval, in tenths-of-seconds",
            "examples": [
              10
            ],
            "type": "integer"
          },
          "mtu": {
            "description": "The MTU we use (needed when forming large IGMPv3 Reports)",
            "examples": [
              1500
            ],
            "type": "integer"
          },
          "query_interval": {
            "description": "Querier's query interval, in seconds",
            "examples": [
              125
            ],
            "type": "integer"
          },
          "robustness": {
            "description": "IGMP querier robustness variable",
            "maximum": 7,
            "minimum": 1,
            "type": "integer"
          },
          "version": {
            "description": "Querier's maximum protocol version",
            "examples": [
              3
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_ip_config": {
        "additionalProperties": false,
        "description": "IP configuration for the Mist Tunnel interface",
        "properties": {
          "gateway": {
            "description": "IPv4 gateway for the Mist Tunnel interface",
            "examples": [
              "10.2.1.254"
            ],
            "type": "string"
          },
          "gateway6": {
            "description": "IPv6 gateway for the Mist Tunnel interface",
            "examples": [
              "2001:1010:1010:1010::1"
            ],
            "type": "string"
          },
          "ip": {
            "description": "Address on the untagged Mist Tunnel interface, in IPv4 format",
            "examples": [
              "10.2.1.1"
            ],
            "type": "string"
          },
          "ip6": {
            "description": "Address on the Mist Tunnel interface, in IPv6 format",
            "examples": [
              "2001:1010:1010:1010::2"
            ],
            "type": "string"
          },
          "netmask": {
            "description": "Subnet mask for the Mist Tunnel IPv4 address",
            "examples": [
              "255.255.255.0"
            ],
            "type": "string"
          },
          "netmask6": {
            "description": "Prefix length for the Mist Tunnel IPv6 address",
            "examples": [
              "/64"
            ],
            "type": "string"
          }
        },
        "required": [
          "gateway",
          "ip",
          "netmask"
        ],
        "type": "object"
      },
      "mxedge_tunterm_monitoring": {
        "description": "Tunnel termination monitoring checks for a Mist Edge",
        "items": {
          "$ref": "#/components/schemas/tunterm_monitoring"
        },
        "type": "array"
      },
      "mxedge_tunterm_multicast_config": {
        "additionalProperties": false,
        "description": "Multicast forwarding settings for tunnel termination",
        "properties": {
          "mdns": {
            "$ref": "#/components/schemas/mxedge_tunterm_multicast_mdns",
            "description": "Settings for mDNS forwarding on tunnel termination VLANs"
          },
          "ssdp": {
            "$ref": "#/components/schemas/mxedge_tunterm_multicast_ssdp",
            "description": "Settings for SSDP forwarding on tunnel termination VLANs"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_multicast_mdns": {
        "additionalProperties": false,
        "description": "mDNS forwarding settings for tunnel termination",
        "properties": {
          "enabled": {
            "description": "Whether mDNS forwarding is enabled for the configured VLANs",
            "type": "boolean"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/strings",
            "description": "List of VLAN IDs where mDNS forwarding is enabled"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_multicast_ssdp": {
        "additionalProperties": false,
        "description": "SSDP forwarding settings for tunnel termination",
        "properties": {
          "enabled": {
            "description": "Whether SSDP forwarding is enabled for the configured VLANs",
            "type": "boolean"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/strings",
            "description": "List of VLAN IDs where SSDP forwarding is enabled"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_other_ip_config": {
        "additionalProperties": false,
        "description": "Additional IP configuration for a Mist Tunnel VLAN interface",
        "properties": {
          "ip": {
            "description": "Address for the additional Mist Tunnel interface, in IPv4 format",
            "type": "string"
          },
          "netmask": {
            "description": "Subnet mask for the additional Mist Tunnel IPv4 address",
            "type": "string"
          }
        },
        "required": [
          "ip",
          "netmask"
        ],
        "type": "object"
      },
      "mxedge_tunterm_switch_config": {
        "additionalProperties": false,
        "description": "Switch VLAN settings for one tunnel termination port",
        "properties": {
          "port_vlan_id": {
            "description": "Untagged VLAN ID for this tunnel termination switch port",
            "type": "integer"
          },
          "vlan_ids": {
            "$ref": "#/components/schemas/mxedge_tunterm_switch_config_vlan_ids",
            "description": "List of tagged VLAN IDs allowed on this tunnel termination switch port"
          }
        },
        "type": "object"
      },
      "mxedge_tunterm_switch_config_vlan_ids": {
        "description": "Tagged VLAN IDs allowed on a tunnel termination switch port",
        "items": {
          "$ref": "#/components/schemas/vlan_id_with_variable"
        },
        "type": "array"
      },
      "mxedge_tunterm_switch_configs": {
        "additionalProperties": {
          "$ref": "#/components/schemas/mxedge_tunterm_switch_config"
        },
        "description": "Custom VLAN settings for tunnel termination switch ports, if desired; property key is the port identifier",
        "properties": {
          "enabled": {
            "description": "Whether custom tunnel termination switch VLAN settings are enabled",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "mxedge_versions": {
        "additionalProperties": false,
        "description": "Read-only Mist Edge service versions",
        "properties": {
          "mxagent": {
            "description": "Reported version of the mxagent service",
            "readOnly": true,
            "type": "string"
          },
          "tunterm": {
            "description": "Reported version of the tunnel termination service",
            "readOnly": true,
            "type": "string"
          }
        },
        "readOnly": true,
        "type": "object"
      },
      "mxedges": {
        "description": "List of Mist Edge appliances",
        "items": {
          "$ref": "#/components/schemas/mxedge"
        },
        "type": "array"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "proxy": {
        "additionalProperties": false,
        "description": "Proxy Configuration to talk to Mist",
        "properties": {
          "disabled": {
            "default": false,
            "description": "Whether this proxy configuration is disabled",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "url": {
            "description": "Proxy URL used to reach Mist",
            "examples": [
              "https://proxy.corp.com:8080/"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_mxedge_events_search": {
        "additionalProperties": false,
        "description": "Search response for Mist Edge event records",
        "properties": {
          "end": {
            "description": "Epoch timestamp for the end of the Mist Edge event search window",
            "examples": [
              1694708579
            ],
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of Mist Edge event records returned in this page",
            "examples": [
              10
            ],
            "type": "integer"
          },
          "next": {
            "description": "Pagination cursor or URL for retrieving the next page of Mist Edge event records",
            "type": "string"
          },
          "page": {
            "description": "Returned page number for Mist Edge event records",
            "examples": [
              3
            ],
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/mxedge_events",
            "description": "Mist Edge event records matching the search filters"
          },
          "start": {
            "description": "Epoch timestamp for the start of the Mist Edge event search window",
            "examples": [
              1694622179
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "site_mxedge_events_count_distinct": {
        "default": "mxedge_id",
        "description": "enum: `mxcluster_id`, `mxedge_id`, `package`, `type`",
        "enum": [
          "mxcluster_id",
          "mxedge_id",
          "package",
          "type"
        ],
        "type": "string"
      },
      "strings": {
        "description": "Unique string values returned or accepted by this schema",
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "timestamp": {
        "description": "Epoch timestamp, in seconds",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "tunterm_monitoring": {
        "description": "Tunnel termination monitoring checks",
        "items": {
          "$ref": "#/components/schemas/tunterm_monitoring_item"
        },
        "type": "array"
      },
      "tunterm_monitoring_item": {
        "additionalProperties": false,
        "description": "Monitoring check for tunnel termination reachability",
        "properties": {
          "host": {
            "description": "Can be ip, ipv6, hostname",
            "examples": [
              "10.2.8.15"
            ],
            "minLength": 1,
            "type": "string"
          },
          "port": {
            "description": "When `protocol`==`tcp`, TCP port checked by the monitoring probe",
            "examples": [
              80
            ],
            "type": "integer"
          },
          "protocol": {
            "$ref": "#/components/schemas/tunterm_monitoring_protocol",
            "description": "Monitoring method used for this tunnel termination check"
          },
          "src_vlan_id": {
            "description": "Optional source for the monitoring check, vlan_id configured in tunterm_other_ip_configs",
            "examples": [
              5
            ],
            "type": "integer"
          },
          "timeout": {
            "default": 300,
            "description": "Maximum time for this monitoring check, in seconds",
            "examples": [
              300
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "tunterm_monitoring_protocol": {
        "description": "enum: `arp`, `ping`, `tcp`",
        "enum": [
          "arp",
          "ping",
          "tcp"
        ],
        "examples": [
          "tcp"
        ],
        "minLength": 1,
        "type": "string"
      },
      "tunterm_port_config": {
        "additionalProperties": false,
        "description": "Ethernet port configuration for tunnel termination interfaces",
        "properties": {
          "downstream_ports": {
            "$ref": "#/components/schemas/tunterm_port_config_downstream_ports",
            "description": "Ports connected downstream toward APs for tunnel termination"
          },
          "separate_upstream_downstream": {
            "default": false,
            "description": "Whether to separate upstream / downstream ports. default is false where all ports will be used.",
            "type": "boolean"
          },
          "upstream_port_vlan_id": {
            "$ref": "#/components/schemas/tunterm_port_config_upstream_port_vlan_id",
            "description": "Native VLAN ID applied to upstream tunnel termination ports"
          },
          "upstream_ports": {
            "$ref": "#/components/schemas/tunterm_port_config_upstream_ports",
            "description": "Ports connected upstream toward the LAN for tunnel termination"
          }
        },
        "type": "object"
      },
      "tunterm_port_config_downstream_ports": {
        "description": "List of ports to be used for downstream (to AP) purpose",
        "examples": [
          [
            "2",
            "3"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "tunterm_port_config_upstream_port_vlan_id": {
        "description": "Native VLAN ID for upstream ports",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          }
        ]
      },
      "tunterm_port_config_upstream_ports": {
        "description": "List of ports to be used for upstream purpose (to LAN)",
        "examples": [
          [
            "0",
            "1"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "vlan_id_with_variable": {
        "description": "VLAN ID, either numeric or expressed as a template variable string",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          }
        ]
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "MxEdgeEventsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxEdgeEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_mxedge_events_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxEdgeEventsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_mxedge_events_search"
            }
          }
        },
        "description": "Example response"
      },
      "Mxedge": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxedgeExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/mxedge"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxedgeExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/mxedge"
            }
          }
        },
        "description": "OK"
      },
      "MxedgesArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxedgesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/mxedges"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/MxedgesArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/mxedges"
            }
          }
        },
        "description": "OK"
      },
      "OK": {
        "description": "OK"
      }
    },
    "parameters": {
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "limit_10": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 10,
          "minimum": 0,
          "type": "integer"
        }
      },
      "mxedge_event_type": {
        "description": "See [List Device Events Definitions](/#operations/listDeviceEventsDefinitions)",
        "in": "query",
        "name": "type",
        "schema": {
          "type": "string"
        }
      },
      "mxedge_id": {
        "in": "path",
        "name": "mxedge_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "page": {
        "description": "Select the page number to return when using page-based pagination; starts at `1`",
        "in": "query",
        "name": "page",
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "MxEdgeEventsSearchExample": {
        "value": {
          "end": 1694708579,
          "limit": 10,
          "page": 3,
          "results": [
            {
              "mxcluster_id": "2815c917-58e7-472f-a190-bfd44fb58d05",
              "mxedge_id": "00000000-0000-0000-1000-020000dc585c",
              "org_id": "f2695c32-0e83-4936-b1b2-96fc88051213",
              "service": "tunterm",
              "timestamp": 1694678225.927,
              "type": "ME_SERVICE_STOPPED"
            }
          ],
          "start": 1694622179
        }
      },
      "MxedgeExample": {
        "value": {
          "id": "95ddd29a-6a3c-929e-a431-51a5b09f36a6",
          "magic": "L-NpT5gi-ADR8WTFd4EiQPY3cP5WdSoD",
          "model": "ME-100",
          "mxagent_registered": true,
          "mxcluster_id": "572586b7-f97b-a22b-526c-8b97a3f609c4",
          "mxedge_mgmt": {
            "mist_password": "MIST_PASSWORD",
            "root_password": "ROOT_PASSWORD"
          },
          "name": "Guest",
          "ntp_servers": [],
          "oob_ip_config": {
            "dns": [
              "8.8.8.8",
              "4.4.4.4"
            ],
            "gateway": "10.2.1.254",
            "ip": "10.2.1.10",
            "netmask": "255.255.255.0",
            "type": "static"
          },
          "tunterm_dhcpd_config": {
            "2": {
              "enabled": true,
              "servers": [
                "11.2.3.44"
              ]
            },
            "enabled": false,
            "servers": [
              "11.2.3.4"
            ]
          },
          "tunterm_extra_routes": {
            "11.0.0.0/8": {
              "via": "10.3.3.1"
            }
          },
          "tunterm_ip_config": {
            "gateway": "10.2.1.254",
            "ip": "10.2.1.1",
            "netmask": "255.255.255.0"
          }
        }
      },
      "MxedgesArrayExample": {
        "value": [
          {
            "cpu_stat": {
              "cpus": {
                "cpu0": {
                  "idle": 79,
                  "interrupt": 0,
                  "system": 4,
                  "usage": 20,
                  "user": 16
                },
                "cpu1": {
                  "idle": 93,
                  "interrupt": 0,
                  "system": 4,
                  "usage": 6,
                  "user": 1
                }
              },
              "idle": 87,
              "interrupt": 0,
              "system": 5,
              "usage": 12,
              "user": 7
            },
            "ext_ip": "116.187.144.16",
            "id": "387804a7-3474-85ce-15a2-f9a9684c9c90",
            "ip_stat": {
              "ip": "172.16.5.3",
              "ips": {
                "ens192": "172.16.5.3/24,fe81::20c:29ff:fef8:d18e/64"
              }
            },
            "lag_stat": {
              "lag0": {
                "active_ports": [
                  "0",
                  "1"
                ]
              }
            },
            "last_seen": 1547437078,
            "magic": "ExNpT5gi-ADR8WTFd4EiQPY3cP5WdSoD",
            "memory_stats": {
              "active": 1061085184,
              "available": 4124860416,
              "buffers": 789495808,
              "cached": 718016512,
              "free": 2818838528,
              "inactive": 458158080,
              "swap_cached": 0,
              "swap_free": 8161062912,
              "swap_total": 8161062912,
              "total": 7947616256,
              "usage": 65
            },
            "model": "ME-S2019",
            "mxagent_registered": false,
            "mxcluster_id": "572586b7-f97b-a22b-526c-8b97a3f609c4",
            "name": "Guest",
            "num_tunnels": 31,
            "port_stat": {
              "eth0": {
                "full_duplex": true,
                "lldp_stats": {
                  "mgmt_addr": "122.16.3.11",
                  "port_desc": "GigabitEthernet4/0/16",
                  "port_id": "\u0005Gi4/0/16",
                  "system_desc": "Cisco IOS Software",
                  "system_name": "ME-DC2-DIS-SW"
                },
                "rx_bytes": 2056,
                "rx_errors": 0,
                "rx_pkts": 670,
                "speed": 1000,
                "tx_bytes": 2056,
                "tx_pkts": 670,
                "up": true
              },
              "eth1": {
                "up": false
              },
              "module": {
                "up": false
              }
            },
            "status": "connected",
            "tunterm_registered": false,
            "tunterm_stat": {
              "monitoring_failed": false
            },
            "uptime": 884221,
            "version": "0.1.2",
            "virtualization_type": "VirtualizationVMware"
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
