{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Stats - WxRules",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve WxRules statistics for the current Site",
      "name": "Sites Stats - WxRules"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/stats/wxrules": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get Wxlan Rule usage",
        "operationId": "getSiteWxRulesUsage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/WxruleStatsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteWxRulesUsage",
        "tags": [
          "Sites Stats - WxRules"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "stats_wxrule": {
        "additionalProperties": false,
        "description": "Wxrule statistics",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/stats_wxrule_action"
          },
          "client_mac": {
            "$ref": "#/components/schemas/stats_wxrule_client_mac"
          },
          "dst_allow_wxtags": {
            "$ref": "#/components/schemas/stats_wxrule_dst_allow_wxtags"
          },
          "dst_deny_wxtags": {
            "$ref": "#/components/schemas/stats_wxrule_dst_deny_wxtags"
          },
          "dst_wxtags": {
            "$ref": "#/components/schemas/stats_wxrule_dst_wxtags"
          },
          "name": {
            "examples": [
              "Guest"
            ],
            "type": "string"
          },
          "order": {
            "examples": [
              1
            ],
            "type": "integer"
          },
          "src_wxtags": {
            "$ref": "#/components/schemas/stats_wxrule_src_wxtags"
          },
          "usage": {
            "additionalProperties": {
              "$ref": "#/components/schemas/stats_wxrule_usage_properties"
            },
            "examples": [
              {
                "1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3": {
                  "num_flows": 60
                },
                "d4134466-eec0-3756-6765-381c728a6037": {
                  "num_flows": 60
                }
              }
            ],
            "type": "object"
          }
        },
        "required": [
          "name",
          "order",
          "src_wxtags",
          "dst_wxtags",
          "dst_allow_wxtags",
          "dst_deny_wxtags",
          "client_mac",
          "usage",
          "action"
        ],
        "type": "object"
      },
      "stats_wxrule_action": {
        "description": "enum: `allow`, `block`",
        "enum": [
          "allow",
          "block"
        ],
        "examples": [
          "allow"
        ],
        "type": "string"
      },
      "stats_wxrule_client_mac": {
        "examples": [
          [
            "3bbbf819bb6f",
            "bd96cbc4910f"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "stats_wxrule_dst_allow_wxtags": {
        "examples": [
          [
            "fff34466-eec0-3756-6765-381c728a6037",
            "eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
          ]
        ],
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "stats_wxrule_dst_deny_wxtags": {
        "examples": [
          [
            "aaa34466-eec0-3756-6765-381c728a6037",
            "bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
          ]
        ],
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "stats_wxrule_dst_wxtags": {
        "examples": [
          [
            "d4134466-eec0-3756-6765-381c728a6037",
            "1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3"
          ]
        ],
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "stats_wxrule_src_wxtags": {
        "examples": [
          [
            "8bfc2490-d726-3587-038d-cb2e71bd2330",
            "3aa8e73f-9f46-d827-8d6a-567bb7e67fc9"
          ]
        ],
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "stats_wxrule_usage_properties": {
        "additionalProperties": false,
        "properties": {
          "num_flows": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "stats_wxrules": {
        "items": {
          "$ref": "#/components/schemas/stats_wxrule"
        },
        "type": "array"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "WxruleStatsArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WxruleStatsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_wxrules"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WxruleStatsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_wxrules"
            }
          }
        },
        "description": "WxRule Stats"
      }
    },
    "parameters": {
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "WxruleStatsArrayExample": {
        "value": [
          {
            "action": "allow",
            "client_mac": [
              "3bbbf819bb6f",
              "bd96cbc4910f"
            ],
            "dst_allow_wxtags": [
              "fff34466-eec0-3756-6765-381c728a6037",
              "eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
            ],
            "dst_deny_wxtags": [
              "aaa34466-eec0-3756-6765-381c728a6037",
              "bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
            ],
            "dst_wxtags": [
              "d4134466-eec0-3756-6765-381c728a6037",
              "1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3"
            ],
            "name": "Guest",
            "order": 1,
            "src_wxtags": [
              "8bfc2490-d726-3587-038d-cb2e71bd2330",
              "3aa8e73f-9f46-d827-8d6a-567bb7e67fc9"
            ],
            "usage": {
              "1a42c7b0-d1d0-5a30-f349-e35fa43dc3b3": {
                "num_flows": 60
              },
              "d4134466-eec0-3756-6765-381c728a6037": {
                "num_flows": 60
              }
            }
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
