{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites WxRules",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Site WxRules are a set of rules, restrictions, and settings that can be applied to WLANs within a specific site.\n\nThese policies determine how the devices and traffic are treated by the network and can be used to control access, define VLANs, and apply labels to users and resources.\n\nSite WxRules are created and managed at the site level and are applied after the site-level WxRules.",
      "name": "Sites WxRules"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/wxrules": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get List of Site WxLan Rules",
        "operationId": "listSiteWxRules",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WxruleArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteWxRules",
        "tags": [
          "Sites WxRules"
        ]
      },
      "post": {
        "description": "Create Site WxLan Rule",
        "operationId": "createSiteWxRule",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "action": "allow",
                    "apply_tags": [
                      "c049dfcd-0c73-5014-1c64-062e9903f1e5"
                    ],
                    "blocked_apps": [
                      "mist",
                      "all-videos"
                    ],
                    "dst_allow_wxtags": [
                      "fff34466-eec0-3756-6765-381c728a6037",
                      "eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
                    ],
                    "dst_deny_wxtags": [
                      "aaa34466-eec0-3756-6765-381c728a6037",
                      "bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
                    ],
                    "enabled": true,
                    "order": 1,
                    "src_wxtags": [
                      "8bfc2490-d726-3587-038d-cb2e71bd2330",
                      "3aa8e73f-9f46-d827-8d6a-567bb7e67fc9"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/wxlan_rule"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Wxrule"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createSiteWxRule",
        "tags": [
          "Sites WxRules"
        ]
      }
    },
    "/api/v1/sites/{site_id}/wxrules/derived": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get the list of derived WxLan Rule for a site",
        "operationId": "ListSiteWxRulesDerived",
        "responses": {
          "200": {
            "$ref": "#/components/responses/WxruleArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "ListSiteWxRulesDerived",
        "tags": [
          "Sites WxRules"
        ]
      }
    },
    "/api/v1/sites/{site_id}/wxrules/{wxrule_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/wxrule_id"
        }
      ],
      "get": {
        "description": "Get Site WxLan Rule Details",
        "operationId": "getSiteWxRule",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Wxrule"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteWxRule",
        "tags": [
          "Sites WxRules"
        ]
      },
      "put": {
        "description": "Update Site WxLan Rule",
        "operationId": "updateSiteWxRule",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "action": "allow",
                    "apply_tags": [
                      "c049dfcd-0c73-5014-1c64-062e9903f1e5"
                    ],
                    "blocked_apps": [
                      "mist",
                      "all-videos"
                    ],
                    "dst_allow_wxtags": [
                      "fff34466-eec0-3756-6765-381c728a6037",
                      "eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
                    ],
                    "dst_deny_wxtags": [
                      "aaa34466-eec0-3756-6765-381c728a6037",
                      "bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
                    ],
                    "enabled": true,
                    "order": 1,
                    "src_wxtags": [
                      "8bfc2490-d726-3587-038d-cb2e71bd2330",
                      "3aa8e73f-9f46-d827-8d6a-567bb7e67fc9"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/wxlan_rule"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Wxrule"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteWxRule",
        "tags": [
          "Sites WxRules"
        ]
      },
      "delete": {
        "description": "Delete Site WxLan Rule",
        "operationId": "deleteSiteWxRule",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteWxRule",
        "tags": [
          "Sites WxRules"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_id": {
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "wxlan_rule": {
        "description": "WXlan",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/wxlan_rule_action"
          },
          "apply_tags": {
            "$ref": "#/components/schemas/wxlan_rule_apply_tags"
          },
          "blocked_apps": {
            "$ref": "#/components/schemas/wxlan_rule_blocked_apps"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time"
          },
          "dst_allow_wxtags": {
            "$ref": "#/components/schemas/wxlan_rule_dst_allow_wxtags"
          },
          "dst_deny_wxtags": {
            "$ref": "#/components/schemas/wxlan_rule_dst_deny_wxtags"
          },
          "dst_wxtags": {
            "$ref": "#/components/schemas/wxlan_rule_dst_wxtags"
          },
          "enabled": {
            "default": true,
            "type": "boolean"
          },
          "for_site": {
            "readOnly": true,
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time"
          },
          "order": {
            "description": "Order how rules would be looked up, > 0 and bigger order got matched first, -1 means LAST, uniqueness not checked",
            "examples": [
              1
            ],
            "minimum": -1,
            "type": "integer"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "src_wxtags": {
            "$ref": "#/components/schemas/wxlan_rule_src_wxtags"
          },
          "template_id": {
            "description": "Only for Org Level WxRule",
            "examples": [
              "6aa54cbd-e039-4878-846a-04f270de8a5c"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "order",
          "src_wxtags"
        ],
        "type": "object"
      },
      "wxlan_rule_action": {
        "description": "type of action, allow / block. enum: `allow`, `block`",
        "enum": [
          "allow",
          "block"
        ],
        "examples": [
          "allow"
        ],
        "type": "string"
      },
      "wxlan_rule_apply_tags": {
        "items": {
          "examples": [
            "c049dfcd-0c73-5014-1c64-062e9903f1e5"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "wxlan_rule_blocked_apps": {
        "description": "Blocked apps (always blocking, ignoring action), the key of Get Application List",
        "examples": [
          [
            "mist",
            "all-videos"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "wxlan_rule_dst_allow_wxtags": {
        "description": "List of WxTag UUID to indicate these tags are allowed access",
        "examples": [
          [
            "fff34466-eec0-3756-6765-381c728a6037",
            "eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "wxlan_rule_dst_deny_wxtags": {
        "description": "List of WxTag UUID to indicate these tags are blocked access",
        "examples": [
          [
            "aaa34466-eec0-3756-6765-381c728a6037",
            "bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "wxlan_rule_dst_wxtags": {
        "description": "List of WxTag UUID",
        "examples": [
          [
            "aaa34466-eec0-3756-6765-381c728a6037",
            "bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "wxlan_rule_src_wxtags": {
        "description": "List of WxTag UUID to determine if this rule would match",
        "examples": [
          [
            "8bfc2490-d726-3587-038d-cb2e71bd2330",
            "3aa8e73f-9f46-d827-8d6a-567bb7e67fc9"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "wxlan_rules": {
        "items": {
          "$ref": "#/components/schemas/wxlan_rule"
        },
        "type": "array"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "Wxrule": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WxruleExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/wxlan_rule"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WxruleExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/wxlan_rule"
            }
          }
        },
        "description": "Wrule"
      },
      "WxruleArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WxruleArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/wxlan_rules"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WxruleArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/wxlan_rules"
            }
          }
        },
        "description": "List of WxRules"
      }
    },
    "parameters": {
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "page": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "wxrule_id": {
        "in": "path",
        "name": "wxrule_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "WxruleArrayExample": {
        "value": [
          {
            "action": "allow",
            "apply_tags": [
              "c049dfcd-0c73-5014-1c64-062e9903f1e5"
            ],
            "blocked_apps": [
              "mist",
              "all-videos"
            ],
            "created_time": 0,
            "dst_allow_wxtags": [
              "fff34466-eec0-3756-6765-381c728a6037",
              "eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
            ],
            "dst_deny_wxtags": [
              "aaa34466-eec0-3756-6765-381c728a6037",
              "bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
            ],
            "enabled": true,
            "for_site": true,
            "id": "497f6eca-6276-4993-bfeb-53ebbbba6f08",
            "modified_time": 0,
            "order": 1,
            "org_id": "a40f5d1f-d889-42e9-94ea-b9b33585fc6b",
            "site_id": "72771e6a-6f5e-4de4-a5b9-1266c4197811",
            "src_wxtags": [
              "8bfc2490-d726-3587-038d-cb2e71bd2330",
              "3aa8e73f-9f46-d827-8d6a-567bb7e67fc9"
            ]
          }
        ]
      },
      "WxruleExample": {
        "value": {
          "action": "allow",
          "apply_tags": [
            "c049dfcd-0c73-5014-1c64-062e9903f1e5"
          ],
          "blocked_apps": [
            "mist",
            "all-videos"
          ],
          "created_time": 0,
          "dst_allow_wxtags": [
            "fff34466-eec0-3756-6765-381c728a6037",
            "eee2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
          ],
          "dst_deny_wxtags": [
            "aaa34466-eec0-3756-6765-381c728a6037",
            "bbb2c7b0-d1d0-5a30-f349-e35fa43dc3b3"
          ],
          "enabled": true,
          "for_site": true,
          "id": "497f6eca-6276-4993-9feb-53cbbbba6f08",
          "modified_time": 0,
          "order": 1,
          "org_id": "a40f5d1f-d889-42e9-94ea-b9b33585fc6b",
          "site_id": "72771e6a-6f5e-4de4-a5b9-1266c4197811",
          "src_wxtags": [
            "8bfc2490-d726-3587-038d-cb2e71bd2330",
            "3aa8e73f-9f46-d827-8d6a-567bb7e67fc9"
          ]
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
