{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites SLEs",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Site SLEs, or Service-Level Expectations, are metrics used to monitor and report on the user experience of a Wireless, Wired or Wan network.\n\nThey are generated through data science and machine learning algorithms and provide insights into various aspects of the network, such as coverage, capacity, connectivity, and performance.\n\nMist SLEs help identify when users do not have sufficient network quality, when they face issues with connecting or roaming between access points, and when there are problems on the wired network.",
      "name": "Sites SLEs"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/classifier/{classifier}/summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/sle_summary_scope"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "classifier",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "deprecated": true,
        "description": "Get SLE classifier details\n\n\nThis API Endpoint is deprecated and replaced by [Get Site SLE Classifier Summary Trend](/#operations/getSiteSleClassifierSummaryTrend)",
        "operationId": "getSiteSleClassifierDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleClassifierSummary"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleClassifierDetails",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/classifier/{classifier}/summary-trend": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/sle_summary_scope"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "classifier",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get SLE classifier Summary Trend",
        "operationId": "getSiteSleClassifierSummaryTrend",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleClassifierSummaryTrend"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleClassifierSummaryTrend",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/classifiers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_metric_classifiers_scope_parameters"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "List classifiers for a specific metric",
        "operationId": "listSiteSleMetricClassifiers",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "example": {
                    "value": [
                      "asymmetry-uplink",
                      "weak-signal",
                      "asymmetry-downlink"
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/strings"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleMetricClassifiers",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/histogram": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_histogram_scope_parameters"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the histogram for the SLE metric",
        "operationId": "getSiteSleHistogram",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleHistogram"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleHistogram",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impact-summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impact_summary_scope_parameters"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get impact summary counts optionally filtered by classifier and failure type\n \n* Wireless SLE Fields: `wlan`, `device_type`, `device_os` ,`band`, `ap`, `server`, `mxedge`\n* Wired SLE Fields: `switch`, `client`, `vlan`, `interface`, `chassis`\n* WAN SLE Fields: `gateway`, `client`, `interface`, `chassis`, `peer_path`, `gateway_zones`",
        "operationId": "getSiteSleImpactSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "in": "query",
            "name": "fields",
            "schema": {
              "$ref": "#/components/schemas/site_sle_impact_summary_fields_parameter"
            }
          },
          {
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactSummary"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleImpactSummary",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-applications": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_scope"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For WAN SLEs. List the impacted interfaces optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedApplications",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedApplications"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedApplications",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-aps": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_aps_scope_parameters"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For Wireless SLEs. List the impacted APs optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedAps",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedAps"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedAps",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-chassis": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_chassis_scope_parameters"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For Wired and WAN SLEs. List the impacted interfaces optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedChassis",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedChassis"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedChassis",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-clients": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_clients_scope_parameters"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For Wired SLEs. List the impacted interfaces optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedWiredClients",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedClients"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedWiredClients",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-gateways": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_gateways_scope_parameters"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For WAN SLEs. List the impacted interfaces optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedGateways",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedGateways"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedGateways",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-interfaces": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_interfaces_scope_parameters"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For Wired and WAN SLEs. List the impacted interfaces optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedInterfaces",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedInterfaces"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedInterfaces",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-switches": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_switches_scope_parameters"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For Wired SLEs. List the impacted switches optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedSwitches",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedSwitches"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedSwitches",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-users": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_users_scope_parameter"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For Wireless SLEs. List the impacted wireless users optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedWirelessClients",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedUsers"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedWirelessClients",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_metric_summary_scope_parameters"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "deprecated": true,
        "description": "Get the summary for the SLE metric\n\n\nThis API Endpoint is deprecated and replaced by [Get Site SLE Summary Trend](/#operations/getSiteSleSummaryTrend)",
        "operationId": "getSiteSleSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleSummary"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleSummary",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/summary-trend": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_metric_summary_scope_parameters"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the summary for the SLE metric trend",
        "operationId": "getSiteSleSummaryTrend",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleSummaryTrend"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleSummaryTrend",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/threshold": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_threshold_scope_parameter"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "examples": [
              "000000ab-00ab-00ab-00ab-0000000000ab"
            ],
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "examples": [
              "asymmetry-uplink"
            ],
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the SLE threshold",
        "operationId": "getSiteSleThreshold",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleThreshold"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleThreshold",
        "tags": [
          "Sites SLEs"
        ]
      },
      "put": {
        "description": "Update the SLE threshold",
        "operationId": "updateSiteSleThreshold",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "maximum": -60,
                    "minimum": -90
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/sle_threshold"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleThreshold"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteSleThreshold",
        "tags": [
          "Sites SLEs"
        ]
      },
      "post": {
        "description": "Replace the SLE threshold",
        "operationId": "replaceSiteSleThreshold",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "maximum": -60,
                    "minimum": -90
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/sle_threshold"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleThreshold"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "replaceSiteSleThreshold",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metrics": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_metrics_scope_parameters"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "List the metrics for the given scope",
        "operationId": "listSiteSlesMetrics",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteSleMetrics"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSlesMetrics",
        "tags": [
          "Sites SLEs"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "number_or_null": {
        "oneOf": [
          {
            "type": "number"
          },
          {
            "type": "null"
          }
        ]
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_sle_histogram_scope_parameters": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_impact_summary_fields_parameter": {
        "description": "enum: `ap`, `band`, `chassis`, `client`, `device_os`, `device_type`, `gateway`, `gateway_zones`, `interface`, `mxedge`, `peer_path`, `server`, `switch`, `vlan`, `wlan`",
        "enum": [
          "ap",
          "band",
          "chassis",
          "client",
          "device_os",
          "device_type",
          "gateway",
          "gateway_zones",
          "interface",
          "mxedge",
          "peer_path",
          "server",
          "switch",
          "vlan",
          "wlan"
        ],
        "type": "string"
      },
      "site_sle_impact_summary_scope_parameters": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_impacted_aps_scope_parameters": {
        "description": "enum: `site`",
        "enum": [
          "site"
        ],
        "type": "string"
      },
      "site_sle_impacted_chassis_scope_parameters": {
        "description": "enum: `gateway`, `site`, `switch`",
        "enum": [
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_impacted_clients_scope_parameters": {
        "description": "enum: `gateway`, `site`, `switch`",
        "enum": [
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_impacted_gateways_scope_parameters": {
        "description": "enum: `site`",
        "enum": [
          "site"
        ],
        "type": "string"
      },
      "site_sle_impacted_interfaces_scope_parameters": {
        "description": "enum: `gateway`, `site`, `switch`",
        "enum": [
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_impacted_switches_scope_parameters": {
        "description": "enum: `site`",
        "enum": [
          "site"
        ],
        "type": "string"
      },
      "site_sle_impacted_users_scope_parameter": {
        "description": "enum: `ap`, `site`",
        "enum": [
          "ap",
          "site"
        ],
        "type": "string"
      },
      "site_sle_metric_classifiers_scope_parameters": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_metric_summary_scope_parameters": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_metrics": {
        "additionalProperties": false,
        "properties": {
          "enabled": {
            "$ref": "#/components/schemas/strings"
          },
          "supported": {
            "$ref": "#/components/schemas/strings"
          }
        },
        "required": [
          "supported",
          "enabled"
        ],
        "type": "object"
      },
      "site_sle_metrics_scope_parameters": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_scope": {
        "description": "enum: `gateway`, `site`, `switch`",
        "enum": [
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_threshold_scope_parameter": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "sle_classifier": {
        "additionalProperties": false,
        "properties": {
          "impact": {
            "$ref": "#/components/schemas/sle_classifier_impact"
          },
          "interval": {
            "type": "number"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "samples": {
            "$ref": "#/components/schemas/sle_classifier_samples"
          },
          "x_label": {
            "minLength": 1,
            "type": "string"
          },
          "y_label": {
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "name",
          "x_label",
          "y_label",
          "interval",
          "impact"
        ],
        "type": "object"
      },
      "sle_classifier_impact": {
        "additionalProperties": false,
        "properties": {
          "num_aps": {
            "type": "number"
          },
          "num_users": {
            "type": "number"
          },
          "total_aps": {
            "type": "number"
          },
          "total_users": {
            "type": "number"
          }
        },
        "required": [
          "num_users",
          "num_aps",
          "total_users",
          "total_aps"
        ],
        "type": "object"
      },
      "sle_classifier_samples": {
        "additionalProperties": false,
        "properties": {
          "degraded": {
            "$ref": "#/components/schemas/sle_classifier_samples_degraded"
          },
          "duration": {
            "$ref": "#/components/schemas/sle_classifier_samples_duration"
          },
          "total": {
            "$ref": "#/components/schemas/sle_classifier_samples_total"
          }
        },
        "required": [
          "duration",
          "total",
          "degraded"
        ],
        "type": "object"
      },
      "sle_classifier_samples_degraded": {
        "items": {
          "$ref": "#/components/schemas/number_or_null"
        },
        "type": "array"
      },
      "sle_classifier_samples_duration": {
        "items": {
          "type": "number"
        },
        "type": "array"
      },
      "sle_classifier_samples_total": {
        "items": {
          "$ref": "#/components/schemas/number_or_null"
        },
        "type": "array"
      },
      "sle_classifier_summary": {
        "additionalProperties": false,
        "deprecated": true,
        "properties": {
          "classifier": {
            "$ref": "#/components/schemas/sle_classifier"
          },
          "end": {
            "type": "number"
          },
          "failures": {
            "$ref": "#/components/schemas/sle_classifier_summary_failures"
          },
          "impact": {
            "$ref": "#/components/schemas/sle_classifier_summary_impact"
          },
          "metric": {
            "minLength": 1,
            "type": "string"
          },
          "start": {
            "type": "number"
          }
        },
        "required": [
          "start",
          "end",
          "metric",
          "classifier",
          "impact",
          "failures"
        ],
        "type": "object"
      },
      "sle_classifier_summary_failures": {
        "items": {
          "additionalProperties": true,
          "type": "object"
        },
        "type": "array"
      },
      "sle_classifier_summary_impact": {
        "additionalProperties": false,
        "properties": {
          "num_aps": {
            "type": "number"
          },
          "num_users": {
            "type": "number"
          },
          "total_aps": {
            "type": "number"
          },
          "total_users": {
            "type": "number"
          }
        },
        "required": [
          "num_users",
          "num_aps",
          "total_users",
          "total_aps"
        ],
        "type": "object"
      },
      "sle_classifier_summary_trend": {
        "additionalProperties": false,
        "properties": {
          "classifier": {
            "$ref": "#/components/schemas/sle_trend_classifier"
          },
          "end": {
            "type": "number"
          },
          "metric": {
            "minLength": 1,
            "type": "string"
          },
          "start": {
            "type": "number"
          }
        },
        "required": [
          "start",
          "end",
          "metric",
          "classifier"
        ],
        "type": "object"
      },
      "sle_histogram": {
        "additionalProperties": false,
        "properties": {
          "data": {
            "$ref": "#/components/schemas/sle_histogram_data"
          },
          "end": {
            "type": "number"
          },
          "metric": {
            "minLength": 1,
            "type": "string"
          },
          "start": {
            "type": "number"
          },
          "x_label": {
            "minLength": 1,
            "type": "string"
          },
          "y_label": {
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "metric",
          "start",
          "end",
          "data",
          "x_label",
          "y_label"
        ],
        "type": "object"
      },
      "sle_histogram_data": {
        "items": {
          "$ref": "#/components/schemas/sle_histogram_data_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_histogram_data_item": {
        "additionalProperties": false,
        "properties": {
          "range": {
            "$ref": "#/components/schemas/sle_histogram_data_item_range"
          },
          "value": {
            "type": "number"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "sle_histogram_data_item_range": {
        "items": {
          "type": [
            "number",
            "null"
          ]
        },
        "type": "array"
      },
      "sle_impact_summary": {
        "additionalProperties": false,
        "properties": {
          "ap": {
            "$ref": "#/components/schemas/sle_impact_summary_ap"
          },
          "band": {
            "$ref": "#/components/schemas/sle_impact_summary_band"
          },
          "classifier": {
            "type": "string"
          },
          "device_os": {
            "$ref": "#/components/schemas/sle_impact_summary_device_os"
          },
          "device_type": {
            "$ref": "#/components/schemas/sle_impact_summary_device_type"
          },
          "end": {
            "type": "number"
          },
          "failure": {
            "type": "string"
          },
          "metric": {
            "minLength": 1,
            "type": "string"
          },
          "start": {
            "type": "number"
          },
          "wlan": {
            "$ref": "#/components/schemas/sle_impact_summary_wlan"
          }
        },
        "required": [
          "start",
          "end",
          "metric",
          "classifier",
          "failure",
          "ap",
          "wlan",
          "device_os",
          "device_type",
          "band"
        ],
        "type": "object"
      },
      "sle_impact_summary_ap": {
        "items": {
          "$ref": "#/components/schemas/sle_impact_summary_ap_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impact_summary_ap_item": {
        "additionalProperties": false,
        "properties": {
          "ap_mac": {
            "minLength": 1,
            "type": "string"
          },
          "degraded": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "total": {
            "type": "number"
          }
        },
        "required": [
          "ap_mac",
          "name",
          "duration",
          "degraded",
          "total"
        ],
        "type": "object"
      },
      "sle_impact_summary_band": {
        "items": {
          "$ref": "#/components/schemas/sle_impact_summary_band_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impact_summary_band_item": {
        "additionalProperties": false,
        "properties": {
          "band": {
            "minLength": 1,
            "type": "string"
          },
          "degraded": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "total": {
            "type": "number"
          }
        },
        "required": [
          "band",
          "name",
          "duration",
          "degraded",
          "total"
        ],
        "type": "object"
      },
      "sle_impact_summary_device_os": {
        "items": {
          "$ref": "#/components/schemas/sle_impact_summary_device_os_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impact_summary_device_os_item": {
        "additionalProperties": false,
        "properties": {
          "degraded": {
            "type": "number"
          },
          "device_os": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "total": {
            "type": "number"
          }
        },
        "required": [
          "device_os",
          "name",
          "duration",
          "degraded",
          "total"
        ],
        "type": "object"
      },
      "sle_impact_summary_device_type": {
        "items": {
          "$ref": "#/components/schemas/sle_impact_summary_device_type_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impact_summary_device_type_item": {
        "additionalProperties": false,
        "properties": {
          "degraded": {
            "type": "number"
          },
          "device_type": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "total": {
            "type": "number"
          }
        },
        "required": [
          "device_type",
          "name",
          "duration",
          "degraded",
          "total"
        ],
        "type": "object"
      },
      "sle_impact_summary_wlan": {
        "items": {
          "$ref": "#/components/schemas/sle_impact_summary_wlan_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impact_summary_wlan_item": {
        "additionalProperties": false,
        "properties": {
          "degraded": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "total": {
            "type": "number"
          },
          "wlan_id": {
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "wlan_id",
          "name",
          "duration",
          "degraded",
          "total"
        ],
        "type": "object"
      },
      "sle_impacted_applications": {
        "additionalProperties": false,
        "properties": {
          "apps": {
            "$ref": "#/components/schemas/sle_impacted_applications_apps"
          },
          "classifier": {
            "type": "string"
          },
          "end": {
            "type": "integer"
          },
          "failure": {
            "type": "string"
          },
          "limit": {
            "type": "string"
          },
          "metric": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_applications_app": {
        "additionalProperties": false,
        "properties": {
          "app": {
            "type": "string"
          },
          "degraded": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "threshold": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_applications_apps": {
        "items": {
          "$ref": "#/components/schemas/sle_impacted_applications_app"
        },
        "type": "array"
      },
      "sle_impacted_aps": {
        "additionalProperties": false,
        "properties": {
          "aps": {
            "$ref": "#/components/schemas/sle_impacted_aps_aps"
          },
          "classifier": {
            "type": "string"
          },
          "end": {
            "type": "number"
          },
          "failure": {
            "type": "string"
          },
          "limit": {
            "type": "number"
          },
          "metric": {
            "minLength": 1,
            "type": "string"
          },
          "page": {
            "type": "number"
          },
          "start": {
            "type": "number"
          },
          "total_count": {
            "type": "number"
          }
        },
        "required": [
          "start",
          "end",
          "metric",
          "classifier",
          "failure",
          "total_count",
          "page",
          "limit",
          "aps"
        ],
        "type": "object"
      },
      "sle_impacted_aps_ap": {
        "additionalProperties": false,
        "properties": {
          "ap_mac": {
            "minLength": 1,
            "type": "string"
          },
          "degraded": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "total": {
            "type": "number"
          }
        },
        "required": [
          "ap_mac",
          "name",
          "duration",
          "degraded",
          "total"
        ],
        "type": "object"
      },
      "sle_impacted_aps_aps": {
        "items": {
          "$ref": "#/components/schemas/sle_impacted_aps_ap"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impacted_chassis": {
        "additionalProperties": false,
        "properties": {
          "chassis": {
            "$ref": "#/components/schemas/sle_impacted_chassis_chassis"
          },
          "classifier": {
            "type": "string"
          },
          "end": {
            "type": "integer"
          },
          "failure": {
            "type": "string"
          },
          "limit": {
            "type": "integer"
          },
          "metric": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_chassis_chassis": {
        "items": {
          "$ref": "#/components/schemas/sle_impacted_chassis_chassis_item"
        },
        "type": "array"
      },
      "sle_impacted_chassis_chassis_item": {
        "additionalProperties": false,
        "properties": {
          "chassis": {
            "type": "string"
          },
          "degraded": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "role": {
            "type": "string"
          },
          "switch_mac": {
            "type": "string"
          },
          "switch_name": {
            "type": "string"
          },
          "total": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "sle_impacted_client_gateway": {
        "additionalProperties": false,
        "properties": {
          "chassis_mac": {
            "type": "string"
          },
          "gateway_mac": {
            "type": "string"
          },
          "gateway_name": {
            "type": "string"
          },
          "interfaces": {
            "$ref": "#/components/schemas/strings"
          }
        },
        "type": "object"
      },
      "sle_impacted_client_gateways": {
        "items": {
          "$ref": "#/components/schemas/sle_impacted_client_gateway"
        },
        "type": "array"
      },
      "sle_impacted_clients": {
        "additionalProperties": false,
        "properties": {
          "classifier": {
            "type": "string"
          },
          "clients": {
            "$ref": "#/components/schemas/sle_impacted_clients_clients"
          },
          "end": {
            "type": "integer"
          },
          "failure": {
            "type": "string"
          },
          "limit": {
            "type": "integer"
          },
          "metric": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_clients_client": {
        "additionalProperties": false,
        "properties": {
          "degraded": {
            "type": "integer"
          },
          "duration": {
            "type": "integer"
          },
          "mac": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "switches": {
            "$ref": "#/components/schemas/sle_impacted_clients_client_switches"
          },
          "total": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_clients_client_switch": {
        "additionalProperties": false,
        "properties": {
          "interfaces": {
            "$ref": "#/components/schemas/strings"
          },
          "switch_mac": {
            "type": "string"
          },
          "switch_name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "sle_impacted_clients_client_switches": {
        "items": {
          "$ref": "#/components/schemas/sle_impacted_clients_client_switch"
        },
        "type": "array"
      },
      "sle_impacted_clients_clients": {
        "items": {
          "$ref": "#/components/schemas/sle_impacted_clients_client"
        },
        "type": "array"
      },
      "sle_impacted_gateways": {
        "additionalProperties": false,
        "properties": {
          "classifier": {
            "type": "string"
          },
          "end": {
            "type": "integer"
          },
          "failure": {
            "type": "string"
          },
          "gateways": {
            "$ref": "#/components/schemas/sle_impacted_gateways_gateways"
          },
          "limit": {
            "type": "integer"
          },
          "metric": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_gateways_gateway": {
        "additionalProperties": false,
        "properties": {
          "degraded": {
            "type": "number"
          },
          "duration": {
            "type": "integer"
          },
          "gateway_mac": {
            "type": "string"
          },
          "gateway_model": {
            "type": "string"
          },
          "gateway_version": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "total": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_gateways_gateways": {
        "items": {
          "$ref": "#/components/schemas/sle_impacted_gateways_gateway"
        },
        "type": "array"
      },
      "sle_impacted_interfaces": {
        "additionalProperties": false,
        "properties": {
          "classifier": {
            "type": "string"
          },
          "end": {
            "type": "integer"
          },
          "failure": {
            "type": "string"
          },
          "interfaces": {
            "$ref": "#/components/schemas/sle_impacted_interfaces_interfaces"
          },
          "limit": {
            "type": "integer"
          },
          "metric": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_interfaces_interface": {
        "additionalProperties": false,
        "properties": {
          "degraded": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "interface_name": {
            "type": "string"
          },
          "switch_mac": {
            "type": "string"
          },
          "switch_name": {
            "type": "string"
          },
          "total": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "sle_impacted_interfaces_interfaces": {
        "items": {
          "$ref": "#/components/schemas/sle_impacted_interfaces_interface"
        },
        "type": "array"
      },
      "sle_impacted_switches": {
        "additionalProperties": false,
        "properties": {
          "classifier": {
            "type": "string"
          },
          "end": {
            "type": "integer"
          },
          "failure": {
            "type": "string"
          },
          "limit": {
            "type": "integer"
          },
          "metric": {
            "type": "string"
          },
          "page": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "switches": {
            "$ref": "#/components/schemas/sle_impacted_switches_switches"
          },
          "total_count": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_switches_switch": {
        "additionalProperties": false,
        "properties": {
          "degraded": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "interface": {
            "$ref": "#/components/schemas/strings"
          },
          "name": {
            "type": "string"
          },
          "switch_mac": {
            "type": "string"
          },
          "switch_model": {
            "type": "string"
          },
          "switch_version": {
            "type": "string"
          },
          "total": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "sle_impacted_switches_switches": {
        "items": {
          "$ref": "#/components/schemas/sle_impacted_switches_switch"
        },
        "type": "array"
      },
      "sle_impacted_users": {
        "additionalProperties": false,
        "properties": {
          "classifier": {
            "type": "string"
          },
          "clients": {
            "$ref": "#/components/schemas/sle_impacted_users_clients"
          },
          "end": {
            "type": "number"
          },
          "failure": {
            "type": "string"
          },
          "limit": {
            "type": "number"
          },
          "metric": {
            "minLength": 1,
            "type": "string"
          },
          "page": {
            "type": "number"
          },
          "start": {
            "type": "number"
          },
          "total_count": {
            "type": "number"
          },
          "users": {
            "$ref": "#/components/schemas/sle_impacted_users_users"
          }
        },
        "required": [
          "start",
          "end",
          "metric",
          "classifier",
          "failure",
          "total_count",
          "page",
          "limit"
        ],
        "type": "object"
      },
      "sle_impacted_users_client": {
        "additionalProperties": false,
        "properties": {
          "degraded": {
            "type": "number"
          },
          "duration": {
            "type": "number"
          },
          "gateways": {
            "$ref": "#/components/schemas/sle_impacted_client_gateways"
          },
          "mac": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "src_ip": {
            "type": "string"
          },
          "total": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "sle_impacted_users_clients": {
        "items": {
          "$ref": "#/components/schemas/sle_impacted_users_client"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impacted_users_user": {
        "additionalProperties": false,
        "properties": {
          "ap_mac": {
            "type": "string"
          },
          "ap_name": {
            "type": "string"
          },
          "degraded": {
            "type": "number"
          },
          "device_os": {
            "type": "string"
          },
          "device_type": {
            "type": "string"
          },
          "duration": {
            "type": "number"
          },
          "mac": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "ssid": {
            "type": "string"
          },
          "total": {
            "type": "number"
          },
          "wlan_id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "sle_impacted_users_users": {
        "items": {
          "$ref": "#/components/schemas/sle_impacted_users_user"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_summary": {
        "additionalProperties": false,
        "deprecated": true,
        "properties": {
          "classifiers": {
            "$ref": "#/components/schemas/sle_summary_classifiers"
          },
          "end": {
            "type": "number"
          },
          "events": {
            "$ref": "#/components/schemas/sle_summary_events"
          },
          "impact": {
            "$ref": "#/components/schemas/sle_summary_impact"
          },
          "sle": {
            "$ref": "#/components/schemas/sle_summary_sle"
          },
          "start": {
            "type": "number"
          }
        },
        "required": [
          "start",
          "end",
          "sle",
          "impact",
          "classifiers",
          "events"
        ],
        "type": "object"
      },
      "sle_summary_classifiers": {
        "items": {
          "$ref": "#/components/schemas/sle_classifier"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_summary_events": {
        "items": {
          "additionalProperties": true,
          "type": "object"
        },
        "type": "array"
      },
      "sle_summary_impact": {
        "additionalProperties": false,
        "properties": {
          "num_aps": {
            "type": "number"
          },
          "num_users": {
            "type": "number"
          },
          "total_aps": {
            "type": "number"
          },
          "total_users": {
            "type": "number"
          }
        },
        "required": [
          "num_users",
          "num_aps",
          "total_users",
          "total_aps"
        ],
        "type": "object"
      },
      "sle_summary_scope": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "sle_summary_sle": {
        "additionalProperties": false,
        "properties": {
          "interval": {
            "type": "number"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "samples": {
            "$ref": "#/components/schemas/sle_summary_sle_samples"
          },
          "x_label": {
            "minLength": 1,
            "type": "string"
          },
          "y_label": {
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "name",
          "x_label",
          "y_label",
          "interval",
          "samples"
        ],
        "type": "object"
      },
      "sle_summary_sle_samples": {
        "additionalProperties": false,
        "properties": {
          "degraded": {
            "$ref": "#/components/schemas/sle_summary_sle_samples_degraded"
          },
          "total": {
            "$ref": "#/components/schemas/sle_summary_sle_samples_total"
          },
          "value": {
            "$ref": "#/components/schemas/sle_summary_sle_samples_value"
          }
        },
        "required": [
          "total",
          "degraded",
          "value"
        ],
        "type": "object"
      },
      "sle_summary_sle_samples_degraded": {
        "items": {
          "$ref": "#/components/schemas/number_or_null"
        },
        "type": "array"
      },
      "sle_summary_sle_samples_total": {
        "items": {
          "$ref": "#/components/schemas/number_or_null"
        },
        "type": "array"
      },
      "sle_summary_sle_samples_value": {
        "items": {
          "$ref": "#/components/schemas/number_or_null"
        },
        "type": "array"
      },
      "sle_summary_trend": {
        "additionalProperties": false,
        "properties": {
          "classifiers": {
            "$ref": "#/components/schemas/sle_summary_trend_classifiers"
          },
          "end": {
            "type": "number"
          },
          "sle": {
            "$ref": "#/components/schemas/sle_summary_sle"
          },
          "start": {
            "type": "number"
          }
        },
        "required": [
          "start",
          "end",
          "sle",
          "classifiers"
        ],
        "type": "object"
      },
      "sle_summary_trend_classifiers": {
        "items": {
          "$ref": "#/components/schemas/sle_trend_classifier"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_threshold": {
        "properties": {
          "default": {
            "readOnly": true,
            "type": "number"
          },
          "direction": {
            "minLength": 1,
            "readOnly": true,
            "type": "string"
          },
          "maximum": {
            "type": "number"
          },
          "metric": {
            "minLength": 1,
            "readOnly": true,
            "type": "string"
          },
          "minimum": {
            "type": "number"
          },
          "threshold": {
            "minLength": 1,
            "readOnly": true,
            "type": "string"
          },
          "units": {
            "minLength": 1,
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "sle_trend_classifier": {
        "additionalProperties": false,
        "properties": {
          "interval": {
            "type": "number"
          },
          "name": {
            "minLength": 1,
            "type": "string"
          },
          "samples": {
            "$ref": "#/components/schemas/sle_classifier_samples"
          },
          "x_label": {
            "minLength": 1,
            "type": "string"
          },
          "y_label": {
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "name",
          "x_label",
          "y_label",
          "interval"
        ],
        "type": "object"
      },
      "strings": {
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "SiteSleMetrics": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SiteSleMetricsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/site_sle_metrics"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SiteSleMetricsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/site_sle_metrics"
            }
          }
        },
        "description": "OK"
      },
      "SleClassifierSummary": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleClassifierSummaryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_classifier_summary"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleClassifierSummaryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_classifier_summary"
            }
          }
        },
        "description": "Example response"
      },
      "SleClassifierSummaryTrend": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleClassifierSummaryTrendExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_classifier_summary_trend"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleClassifierSummaryTrendExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_classifier_summary_trend"
            }
          }
        },
        "description": "Example response"
      },
      "SleHistogram": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleHistogramExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_histogram"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleHistogramExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_histogram"
            }
          }
        },
        "description": "Example response"
      },
      "SleImpactSummary": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactSummaryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impact_summary"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactSummaryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impact_summary"
            }
          }
        },
        "description": "Example response"
      },
      "SleImpactedApplications": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedApplicationsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_applications"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedApplicationsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_applications"
            }
          }
        },
        "description": "Example response"
      },
      "SleImpactedAps": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedApsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_aps"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedApsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_aps"
            }
          }
        },
        "description": "Example response"
      },
      "SleImpactedChassis": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedChassisExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_chassis"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedChassisExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_chassis"
            }
          }
        },
        "description": "Example response"
      },
      "SleImpactedClients": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedClientsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_clients"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedClientsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_clients"
            }
          }
        },
        "description": "Example response"
      },
      "SleImpactedGateways": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedGatewaysExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_gateways"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedGatewaysExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_gateways"
            }
          }
        },
        "description": "Example response"
      },
      "SleImpactedInterfaces": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedInterfacesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_interfaces"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedInterfacesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_interfaces"
            }
          }
        },
        "description": "Example response"
      },
      "SleImpactedSwitches": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedSwitchesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_switches"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedSwitchesExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_switches"
            }
          }
        },
        "description": "Example response"
      },
      "SleImpactedUsers": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedUsersExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_users"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleImpactedUsersExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_impacted_users"
            }
          }
        },
        "description": "Example response"
      },
      "SleSummary": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleSummaryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_summary"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleSummaryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_summary"
            }
          }
        },
        "description": "Example response"
      },
      "SleSummaryTrend": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleSummaryTrendExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_summary_trend"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleSummaryTrendExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_summary_trend"
            }
          }
        },
        "description": "Example response"
      },
      "SleThreshold": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleThresholdExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_threshold"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/SleThresholdExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/sle_threshold"
            }
          }
        },
        "description": "Example response"
      }
    },
    "parameters": {
      "duration": {
        "description": "Duration like 7d, 2w",
        "in": "query",
        "name": "duration",
        "required": false,
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "End time (epoch timestamp in seconds, or relative string like \"-1d\", \"-2h\", \"now\")",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "start": {
        "description": "Start time (epoch timestamp in seconds, or relative string like \"-1d\", \"-1w\")",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "SiteSleMetricsExample": {
        "value": {
          "enabled": [
            "coverage",
            "capacity",
            "time-to-connect",
            "failed-to-connect",
            "roaming",
            "roaming-v2",
            "throughput",
            "switch_health",
            "switch_throughput",
            "switch_stc",
            "gateway-health",
            "application_health",
            "wan-link-health",
            "ap-availability"
          ],
          "supported": [
            "coverage",
            "capacity",
            "time-to-connect",
            "failed-to-connect",
            "roaming",
            "roaming-v2",
            "location_jitter",
            "location_latency",
            "throughput",
            "location_dropped-requests",
            "switch_health",
            "switch_throughput",
            "switch_stc",
            "gateway-health",
            "application_health",
            "wan-link-health",
            "ap-availability",
            "location_sdk-connect-time",
            "location_ble-hung"
          ]
        }
      },
      "SleClassifierSummaryExample": {
        "value": {
          "classifier": {
            "impact": {
              "num_aps": 2,
              "num_users": 17,
              "total_aps": 3,
              "total_users": 20
            },
            "interval": 3600,
            "name": "wifi-interference",
            "samples": {
              "degraded": [
                0,
                0,
                210.03334,
                3.1333334,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                102.5,
                108.03333,
                0,
                0,
                201.9,
                566.48334,
                135.63333,
                0
              ],
              "duration": [
                0,
                0,
                210.03334,
                3.1333334,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                102.5,
                108.03333,
                0,
                0,
                201.9,
                566.48334,
                135.63333,
                0
              ],
              "total": [
                1302.3,
                1289.0167,
                1396.3167,
                1423.6666,
                1439.2167,
                1414.7,
                1361.0834,
                1371.5834,
                1372.0667,
                1339.1,
                1374.3667,
                1369.9,
                1352.4833,
                1382.8,
                1426.7167,
                1425.6333,
                1403.9333,
                1420.75,
                1416.8334,
                1437.3334,
                1425.1,
                1485.3667,
                1426.4333,
                444.13333
              ]
            },
            "x_label": "seconds",
            "y_label": "user-minutes"
          },
          "end": 1627312871,
          "failures": [],
          "impact": {
            "num_aps": 2,
            "num_users": 21,
            "total_aps": 3,
            "total_users": 26
          },
          "metric": "capacity",
          "start": 1627226471
        }
      },
      "SleClassifierSummaryTrendExample": {
        "value": {
          "classifier": {
            "interval": 3600,
            "name": "wifi-interference",
            "samples": {
              "degraded": [
                0,
                0,
                210.03334,
                3.1333334,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                102.5,
[...]
