{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Stats - Calls",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve the stats of the calls (Zoom/Teams) detected by Mist",
      "name": "Sites Stats - Calls"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/stats/calls/client/{client_mac}/troubleshoot": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/client_mac"
        }
      ],
      "get": {
        "description": "Troubleshoot a call",
        "operationId": "troubleshootSiteCall",
        "parameters": [
          {
            "description": "meeting_id",
            "in": "query",
            "name": "meeting_id",
            "required": true,
            "schema": {
              "examples": [
                "1234567890abcdef"
              ],
              "type": "string"
            }
          },
          {
            "description": "Device identifier",
            "in": "query",
            "name": "mac",
            "schema": {
              "examples": [
                "001122334455"
              ],
              "type": "string"
            }
          },
          {
            "description": "Third party app name",
            "in": "query",
            "name": "app",
            "schema": {
              "examples": [
                "zoom"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallTroubleshoot"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "troubleshootSiteCall",
        "tags": [
          "Sites Stats - Calls"
        ]
      }
    },
    "/api/v1/sites/{site_id}/stats/calls/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Count by Distinct Attributes of Calls",
        "operationId": "countSiteCalls",
        "parameters": [
          {
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/count_site_calls_distinct"
            }
          },
          {
            "description": "Feedback rating (e.g. \"rating=1\" or \"rating=1,2\")",
            "in": "query",
            "name": "rating",
            "schema": {
              "examples": [
                5
              ],
              "maximum": 5,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "app",
            "schema": {
              "examples": [
                "zoom"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countSiteCalls",
        "tags": [
          "Sites Stats - Calls"
        ]
      }
    },
    "/api/v1/sites/{site_id}/stats/calls/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Search Calls",
        "operationId": "searchSiteCalls",
        "parameters": [
          {
            "description": "Device identifier",
            "in": "query",
            "name": "mac",
            "schema": {
              "examples": [
                "001122334455"
              ],
              "type": "string"
            }
          },
          {
            "description": "Third party app name",
            "in": "query",
            "name": "app",
            "schema": {
              "examples": [
                "zoom"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallStatsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchSiteCalls",
        "tags": [
          "Sites Stats - Calls"
        ]
      }
    },
    "/api/v1/sites/{site_id}/stats/calls/summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Summarized, aggregated stats for the site calls",
        "operationId": "getSiteCallsSummary",
        "parameters": [
          {
            "description": "AP MAC, optional",
            "in": "query",
            "name": "ap_mac",
            "schema": {
              "examples": [
                "001122334455"
              ],
              "type": "string"
            }
          },
          {
            "description": "APp name (`zoom` or `teams`). default is both. Optional",
            "in": "query",
            "name": "app",
            "schema": {
              "examples": [
                "zoom"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallStatsSummary"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteCallsSummary",
        "tags": [
          "Sites Stats - Calls"
        ]
      }
    },
    "/api/v1/sites/{site_id}/stats/calls/troubleshoot": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Summary of calls troubleshoot by site",
        "operationId": "listSiteTroubleshootCalls",
        "parameters": [
          {
            "description": "AP MAC",
            "in": "query",
            "name": "ap",
            "schema": {
              "examples": [
                "001122334455"
              ],
              "type": "string"
            }
          },
          {
            "description": "meeting_id",
            "in": "query",
            "name": "meeting_id",
            "schema": {
              "examples": [
                "1234567890abcdef"
              ],
              "type": "string"
            }
          },
          {
            "description": "Device identifier",
            "in": "query",
            "name": "mac",
            "schema": {
              "examples": [
                "001122334455"
              ],
              "type": "string"
            }
          },
          {
            "description": "Third party app name",
            "in": "query",
            "name": "app",
            "schema": {
              "examples": [
                "zoom"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CallTroubleshootSummary"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteTroubleshootCalls",
        "tags": [
          "Sites Stats - Calls"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "call_troubleshoot": {
        "additionalProperties": false,
        "properties": {
          "mac": {
            "examples": [
              "983a78ea4a44"
            ],
            "type": "string"
          },
          "meeting_id": {
            "examples": [
              "b784d744-9a7c-4fad-9af0-f78858a319b1"
            ],
            "format": "uuid",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/call_troubleshoots"
          }
        },
        "type": "object"
      },
      "call_troubleshoot_data": {
        "additionalProperties": false,
        "properties": {
          "ap_num_clients": {
            "examples": [
              -0.6565111
            ],
            "type": "number"
          },
          "ap_rtt": {
            "examples": [
              0.16559607
            ],
            "type": "number"
          },
          "client_cpu": {
            "examples": [
              3.7028809
            ],
            "type": "number"
          },
          "client_n_streams": {
            "examples": [
              0.15803306
            ],
            "type": "number"
          },
          "client_radio_band": {
            "examples": [
              0.5576923
            ],
            "type": "number"
          },
          "client_rssi": {
            "examples": [
              -1.0839354
            ],
            "type": "number"
          },
          "client_rx_bytes": {
            "examples": [
              2.2622051
            ],
            "type": "number"
          },
          "client_rx_rates": {
            "examples": [
              0.62357205
            ],
            "type": "number"
          },
          "client_rx_retries": {
            "examples": [
              0.26726437
            ],
            "type": "number"
          },
          "client_tx_bytes": {
            "examples": [
              0.15803306
            ],
            "type": "number"
          },
          "client_tx_rates": {
            "examples": [
              0.62357205
            ],
            "type": "number"
          },
          "client_tx_retries": {
            "examples": [
              0.77553505
            ],
            "type": "number"
          },
          "client_vpn_distance": {
            "examples": [
              1.6474955
            ],
            "type": "number"
          },
          "client_wifi_version": {
            "examples": [
              0.18267937
            ],
            "type": "number"
          },
          "expected": {
            "examples": [
              30.941595
            ],
            "type": "number"
          },
          "radio_bandwidth": {
            "examples": [
              -0.06538621
            ],
            "type": "number"
          },
          "radio_channel": {
            "examples": [
              -0.73391086
            ],
            "type": "number"
          },
          "radio_tx_power": {
            "examples": [
              0.10027129
            ],
            "type": "number"
          },
          "radio_util": {
            "examples": [
              12.770318
            ],
            "type": "number"
          },
          "radio_util_interference": {
            "examples": [
              -3.079999
            ],
            "type": "number"
          },
          "site_num_clients": {
            "examples": [
              0.017364305
            ],
            "type": "number"
          },
          "wan_avg_download_mbps": {
            "examples": [
              1.4803165
            ],
            "type": "number"
          },
          "wan_avg_upload_mbps": {
            "examples": [
              -0.038184267
            ],
            "type": "number"
          },
          "wan_jitter": {
            "examples": [
              5.9680853
            ],
            "type": "number"
          },
          "wan_max_download_mbps": {
            "examples": [
              1.4803165
            ],
            "type": "number"
          },
          "wan_max_upload_mbps": {
            "examples": [
              -0.038184267
            ],
            "type": "number"
          },
          "wan_rtt": {
            "examples": [
              46.77899
            ],
            "type": "number"
          }
        },
        "type": "object"
      },
      "call_troubleshoot_summaries": {
        "items": {
          "$ref": "#/components/schemas/call_troubleshoot_summary"
        },
        "type": "array"
      },
      "call_troubleshoot_summary": {
        "additionalProperties": false,
        "properties": {
          "ap_num_clients": {
            "examples": [
              -0.08802365511655807
            ],
            "type": "number"
          },
          "ap_rtt": {
            "examples": [
              0.09924473613500595
            ],
            "type": "number"
          },
          "audio_in": {
            "$ref": "#/components/schemas/call_troubleshoot_summary_data"
          },
          "audio_out": {
            "$ref": "#/components/schemas/call_troubleshoot_summary_data"
          },
          "client_cpu": {
            "examples": [
              0.00834270566701889
            ],
            "type": "number"
          },
          "client_n_streams": {
            "examples": [
              0.00734270566701889
            ],
            "type": "number"
          },
          "client_radio_band": {
            "examples": [
              0.5841414928436279
            ],
            "type": "number"
          },
          "client_rssi": {
            "examples": [
              0.7594696879386902
            ],
            "type": "number"
          },
          "client_rx_bytes": {
            "examples": [
              2.365511655807e-05
            ],
            "type": "number"
          },
          "client_rx_rates": {
            "examples": [
              0.02441493794322014
            ],
            "type": "number"
          },
          "client_rx_retries": {
            "examples": [
              -0.14325742423534393
            ],
            "type": "number"
          },
          "client_tx_bytes": {
            "examples": [
              0.00102365511655807
            ],
            "type": "number"
          },
          "client_tx_rates": {
            "examples": [
              0.22236637771129608
            ],
            "type": "number"
          },
          "client_tx_retries": {
            "examples": [
              0.3308201730251312
            ],
            "type": "number"
          },
          "client_vpn_distance": {
            "examples": [
              -0.0001660545531194657
            ],
            "type": "number"
          },
          "client_wifi_version": {
            "examples": [
              7.0566701889e-07
            ],
            "type": "number"
          },
          "expected": {
            "examples": [
              -2.8630001056670187
            ],
            "type": "number"
          },
          "radio_ap_change": {
            "examples": [
              0.01850946433842182
            ],
            "type": "number"
          },
          "radio_bandwidth": {
            "examples": [
              -0.021175479516386986
            ],
            "type": "number"
          },
          "radio_channel": {
            "examples": [
              0.11686426401138306
            ],
            "type": "number"
          },
          "radio_rx_failed": {
            "examples": [
              1.1782013177871704
            ],
            "type": "number"
          },
          "radio_tx_power": {
            "examples": [
              0.121039018034935
            ],
            "type": "number"
          },
          "radio_util": {
            "examples": [
              0.2452986091375351
            ],
            "type": "number"
          },
          "radio_util_interference": {
            "examples": [
              3.4367904663085938
            ],
            "type": "number"
          },
          "site_num_clients": {
            "examples": [
              0.055026158690452576
            ],
            "type": "number"
          },
          "site_wan_avg_download_mbps": {
            "examples": [
              3.0566701889e-07
            ],
            "type": "number"
          },
          "site_wan_avg_upload_mbps": {
            "examples": [
              5.566701889e-08
            ],
            "type": "number"
          },
          "site_wan_download_mbps": {
            "examples": [
              8.0566701889e-07
            ],
            "type": "number"
          },
          "site_wan_jitter": {
            "examples": [
              0.7875519659784105
            ],
            "type": "number"
          },
          "site_wan_rtt": {
            "examples": [
              15.094849904378256
            ],
            "type": "number"
          },
          "site_wan_upload_mbps": {
            "examples": [
              2.0566701889e-07
            ],
            "type": "number"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp"
          },
          "video_in": {
            "$ref": "#/components/schemas/call_troubleshoot_summary_data"
          },
          "video_out": {
            "$ref": "#/components/schemas/call_troubleshoot_summary_data"
          }
        },
        "type": "object"
      },
      "call_troubleshoot_summary_data": {
        "additionalProperties": false,
        "properties": {
          "ap_num_clients": {
            "examples": [
              -0.6565111
            ],
            "type": "number"
          },
          "ap_rtt": {
            "examples": [
              0.16559607
            ],
            "type": "number"
          },
          "client_cpu": {
            "examples": [
              3.7028809
            ],
            "type": "number"
          },
          "client_n_streams": {
            "examples": [
              0.15803306
            ],
            "type": "number"
          },
          "client_radio_band": {
            "examples": [
              0.5576923
            ],
            "type": "number"
          },
          "client_rssi": {
            "examples": [
              -1.0839354
            ],
            "type": "number"
          },
          "client_rx_bytes": {
            "examples": [
              2.2622051
            ],
            "type": "number"
          },
          "client_rx_rates": {
            "examples": [
              0.26726437
            ],
            "type": "number"
          },
          "client_tx_bytes": {
            "examples": [
              6.6164713
            ],
            "type": "number"
          },
          "client_tx_rates": {
            "examples": [
              0.62357205
            ],
            "type": "number"
          },
          "client_tx_retries": {
            "examples": [
              1.702031
            ],
            "type": "number"
          },
          "client_vpn_distance": {
            "examples": [
              1.6474955
            ],
            "type": "number"
          },
          "client_wifi_version": {
            "examples": [
              0.18267937
            ],
            "type": "number"
          },
          "expected": {
            "examples": [
              30.941595
            ],
            "type": "number"
          },
          "radio_bandwidth": {
            "examples": [
              -0.06538621
            ],
            "type": "number"
          },
          "radio_channel": {
            "examples": [
              -0.73391086
            ],
            "type": "number"
          },
          "radio_tx_power": {
            "examples": [
              0.10027129
            ],
            "type": "number"
          },
          "radio_util": {
            "examples": [
              12.770318
            ],
            "type": "number"
          },
          "radio_util_interference": {
            "examples": [
              -3.079999
            ],
            "type": "number"
          },
          "site_num_clients": {
            "examples": [
              0.017364305
            ],
            "type": "number"
          },
          "site_wan_avg_download_mbps": {
            "examples": [
              3.0566701889e-07
            ],
            "type": "number"
          },
          "site_wan_avg_upload_mbps": {
            "examples": [
              5.566701889e-08
            ],
            "type": "number"
          },
          "site_wan_download_mbps": {
            "examples": [
              8.0566701889e-07
            ],
            "type": "number"
          },
          "site_wan_jitter": {
            "examples": [
              0.7875519659784105
            ],
            "type": "number"
          },
          "site_wan_rtt": {
            "examples": [
              15.094849904378256
            ],
            "type": "number"
          },
          "site_wan_upload_mbps": {
            "examples": [
              2.0566701889e-07
            ],
            "type": "number"
          },
          "wan_avg_download_mbps": {
            "examples": [
              1.4803165
            ],
            "type": "number"
          },
          "wan_avg_upload_mbps": {
            "examples": [
              -0.038184267
            ],
            "type": "number"
          },
          "wan_jitter": {
            "examples": [
              5.9680853
            ],
            "type": "number"
          },
          "wan_max_download_mbps": {
            "examples": [
              1.4803165
            ],
            "type": "number"
          },
          "wan_max_upload_mbps": {
            "examples": [
              -0.038184267
            ],
            "type": "number"
          },
          "wan_rtt": {
            "examples": [
              46.77899
            ],
            "type": "number"
          }
        },
        "type": "object"
      },
      "call_troubleshoots": {
        "items": {
          "$ref": "#/components/schemas/troubleshoot_call_item"
        },
        "type": "array"
      },
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "properties": {
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "count_site_calls_distinct": {
        "default": "mac",
        "description": "enum: `mac`",
        "enum": [
          "mac"
        ],
        "type": "string"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_call_troubleshoot_summary": {
        "additionalProperties": false,
        "properties": {
          "mac": {
            "examples": [
              "983a78ea4a44"
            ],
            "type": "string"
          },
          "meeting_id": {
            "examples": [
              "b784d744-9a7c-4fad-9af0-f78858a319b1"
            ],
            "format": "uuid",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/call_troubleshoot_summaries"
          }
        },
        "type": "object"
      },
      "response_count": {
        "additionalProperties": false,
        "properties": {
          "distinct": {
            "type": "string"
          },
          "end": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results"
          },
          "start": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_stats_calls": {
        "additionalProperties": false,
        "properties": {
          "end": {
            "type": "number"
          },
          "limit": {
            "type": "integer"
          },
          "next": {
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/stats_calls"
          },
          "start": {
            "type": "number"
          },
          "total": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_stats_calls_summary": {
        "additionalProperties": false,
        "properties": {
          "bad_minutes": {
            "examples": [
              5566.0
            ],
            "type": "number"
          },
          "bad_minutes_client": {
            "examples": [
              526.0
            ],
            "type": "number"
          },
          "bad_minutes_site_wan": {
            "examples": [
              3612.0
            ],
            "type": "number"
          },
          "bad_minutes_wireless": {
            "examples": [
              1428.0
            ],
            "type": "number"
          },
          "num_aps": {
            "examples": [
              1
            ],
            "type": "integer"
          },
          "num_users": {
            "examples": [
              3
            ],
            "type": "integer"
          },
          "total_minutes": {
            "examples": [
              5566.0
            ],
            "type": "number"
          }
        },
        "type": "object"
      },
      "site_id": {
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "stats_call": {
        "additionalProperties": false,
        "properties": {
          "app": {
            "type": "string"
          },
          "audio_quality": {
            "type": "integer"
          },
          "end_time": {
            "type": "integer"
          },
          "mac": {
            "type": "string"
          },
          "meeting_id": {
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "rating": {
            "type": "integer"
          },
          "screen_share_quality": {
            "type": "integer"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "start_time": {
            "type": "integer"
          },
          "video_quality": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "stats_calls": {
        "items": {
          "$ref": "#/components/schemas/stats_call"
        },
        "type": "array"
      },
      "timestamp": {
        "description": "Epoch (seconds)",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "troubleshoot_call_item": {
        "additionalProperties": false,
        "properties": {
          "ap_num_clients": {
            "examples": [
              -0.08802365511655807
            ],
            "type": "number"
          },
          "ap_rtt": {
            "examples": [
              0.09924473613500595
            ],
            "type": "number"
          },
          "audio_in": {
            "$ref": "#/components/schemas/call_troubleshoot_data"
          },
          "audio_out": {
            "$ref": "#/components/schemas/call_troubleshoot_data"
          },
          "client_cpu": {
            "examples": [
              0.00834270566701889
            ],
            "type": "number"
          },
          "client_n_streams": {
            "examples": [
              0.00734270566701889
            ],
            "type": "number"
          },
          "client_radio_band": {
            "examples": [
              0.5841414928436279
            ],
            "type": "number"
          },
          "client_rssi": {
            "examples": [
              0.7594696879386902
            ],
            "type": "number"
          },
          "client_rx_bytes": {
            "examples": [
              2.365511655807e-05
            ],
            "type": "number"
          },
          "client_rx_rates": {
            "examples": [
              0.02441493794322014
            ],
            "type": "number"
          },
          "client_rx_retries": {
            "examples": [
              -0.14325742423534393
            ],
            "type": "number"
          },
          "client_tx_bytes": {
            "examples": [
              0.00102365511655807
            ],
            "type": "number"
          },
          "client_tx_rates": {
            "examples": [
              0.22236637771129608
            ],
            "type": "number"
          },
          "client_tx_retries": {
            "examples": [
              0.3308201730251312
            ],
            "type": "number"
          },
          "client_vpn_distance": {
            "examples": [
              -0.0001660545531194657
            ],
            "type": "number"
          },
          "client_wifi_version": {
            "examples": [
              7.0566701889e-07
            ],
            "type": "number"
          },
          "expected": {
            "examples": [
              -2.8630001056670187
            ],
            "type": "number"
          },
          "radio_ap_change": {
            "examples": [
              0.01850946433842182
            ],
            "type": "number"
          },
          "radio_bandwidth": {
            "examples": [
              -0.021175479516386986
            ],
            "type": "number"
          },
          "radio_channel": {
            "examples": [
              0.11686426401138306
            ],
            "type": "number"
          },
          "radio_rx_failed": {
            "examples": [
              1.1782013177871704
            ],
            "type": "number"
          },
          "radio_tx_power": {
            "examples": [
              0.121039018034935
            ],
            "type": "number"
          },
          "radio_util": {
            "examples": [
              0.2452986091375351
            ],
            "type": "number"
          },
          "radio_util_interference": {
            "examples": [
              3.4367904663085938
            ],
            "type": "number"
          },
          "site_num_clients": {
            "examples": [
              0.055026158690452576
            ],
            "type": "number"
          },
          "site_wan_avg_download_mbps": {
            "examples": [
              3.0566701889e-07
            ],
            "type": "number"
          },
          "site_wan_avg_upload_mbps": {
            "examples": [
              5.566701889e-08
            ],
            "type": "number"
          },
          "site_wan_download_mbps": {
            "examples": [
              8.0566701889e-07
            ],
            "type": "number"
          },
          "site_wan_jitter": {
            "examples": [
              1.00566701889e-06
            ],
            "type": "number"
          },
          "site_wan_rtt": {
            "examples": [
              4.0566701889e-07
            ],
            "type": "number"
          },
          "site_wan_upload_mbps": {
            "examples": [
              2.0566701889e-07
            ],
            "type": "number"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp"
          },
          "video_in": {
            "$ref": "#/components/schemas/call_troubleshoot_data"
          },
          "video_out": {
            "$ref": "#/components/schemas/call_troubleshoot_data"
          }
        },
        "type": "object"
      }
    },
    "responses": {
      "CallStatsArray": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_stats_calls"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_stats_calls"
            }
          }
        },
        "description": "Example response"
      },
      "CallStatsSummary": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CallStatsSummaryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_stats_calls_summary"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CallStatsSummaryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_stats_calls_summary"
            }
          }
        },
        "description": "Example response"
      },
      "CallTroubleshoot": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CallTroubleshootExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/call_troubleshoot"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CallTroubleshootExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/call_troubleshoot"
            }
          }
        },
        "description": "Example response"
      },
      "CallTroubleshootSummary": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CallTroubleshootSummaryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_call_troubleshoot_summary"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CallTroubleshootSummaryExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_call_troubleshoot_summary"
            }
          }
        },
        "description": "Example response"
      },
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      }
    },
    "parameters": {
      "client_mac": {
        "in": "path",
        "name": "client_mac",
        "required": true,
        "schema": {
          "examples": [
            "0000000000ab"
          ],
          "pattern": "^[0-9a-fA-F]{12}$",
          "type": "string"
        }
      },
      "duration": {
        "description": "Duration like 7d, 2w",
        "in": "query",
        "name": "duration",
        "required": false,
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "End time (epoch timestamp in seconds, or relative string like \"-1d\", \"-2h\", \"now\")",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "page": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "required": false,
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Start time (epoch timestamp in seconds, or relative string like \"-1d\", \"-1w\")",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "CallStatsSummaryExample": {
        "value": {
          "bad_minutes": 5566.0,
          "bad_minutes_client": 526.0,
          "bad_minutes_site_wan": 3612.0,
          "bad_minutes_wireless": 1428.0,
          "num_aps": 1,
          "num_users": 3,
          "total_minutes": 575217
        }
      },
      "CallTroubleshootExample": {
        "value": {
          "mac": "983a78ea4a44",
          "meeting_id": "b784d744-9a7c-4fad-9af0-f78858a319b1",
          "results": [
            {
              "ap_num_clients": -0.08802365511655807,
              "ap_rtt": 0.09924473613500595,
              "audio_in": {
                "ap_num_clients": -0.6565111,
                "ap_rtt": 0.16559607,
                "client_cpu": 3.7028809,
                "client_n_streams": 0.15803306,
                "client_radio_band": 0.5576923,
                "client_rssi": -1.0839354,
                "client_rx_bytes": 2.2622051,
                "client_rx_rates": 0.62357205,
                "client_rx_retries": 0.26726437,
                "client_tx_bytes": 0.15803306,
                "client_tx_rates": 0.62357205,
                "client_tx_retries": 0.77553505,
                "client_vpn_distance": 1.6474955,
                "client_wifi_version": 0.18267937,
                "expected": 30.941595,
                "radio_bandwidth": -0.06538621,
                "radio_channel": -0.73391086,
                "radio_tx_power": 0.10027129,
                "radio_util": 12.770318,
                "radio_util_interference": -3.079999,
                "site_num_clients": 0.017364305,
                "wan_avg_download_mbps": 1.4803165,
                "wan_avg_upload_mbps": -0.038184267,
                "wan_jitter": 5.9680853,
                "wan_max_download_mbps": 1.4803165,
                "wan_max_upload_mbps": -0.038184267,
                "wan_rtt": 46.77899
              },
              "audio_out": {
                "ap_num_clients": -0.6565111,
                "ap_rtt": 0.16559607,
                "client_cpu": 3.7028809,
                "client_n_streams": 0.15803306,
                "client_radio_band": 0.5576923,
                "client_rssi": -1.0839354,
                "client_rx_bytes": 2.2622051,
                "client_rx_rates": 0.62357205,
                "client_rx_retries": 0.26726437,
                "client_tx_bytes": 0.15803306,
                "client_tx_rates": 0.62357205,
                "client_tx_retries": 0.77553505,
                "client_vpn_distance": 1.6474955,
                "client_wifi_version": 0.18267937,
                "expected": 30.941595,
                "radio_bandwidth": -0.06538621,
                "radio_channel": -0.73391086,
                "radio_tx_power": 0.10027129,
                "radio_util": 12.770318,
                "radio_util_interference": -3.079999,
                "site_num_clients": 0.017364305,
                "wan_avg_download_mbps": 1.4803165,
                "wan_avg_upload_mbps": -0.038184267,
                "wan_jitter": 5.9680853,
                "wan_max_download_mbps": 1.4803165,
                "wan_max_upload_mbps": -0.038184267,
                "wan_rtt": 46.77899
              },
              "client_cpu": 0.00834270566701889,
              "client_n_streams": 0.00734270566701889,
              "client_radio_band": 0.5841414928436279,
              "client_rssi": 0.7594696879386902,
              "client_rx_bytes": 2.365511655807e-05,
              "client_rx_rates": 0.02441493794322014,
              "client_rx_retries": -0.14325742423534393,
              "client_tx_bytes": 0.00102365511655807,
              "client_tx_rates": 0.22236637771129608,
              "client_tx_retries": 0.3308201730251312,
              "client_vpn_distance": -0.0001660545531194657,
              "client_wifi_version": 7.0566701889e-07,
              "expected": -2.8630001056670187,
              "radio_ap_change": 0.01850946433842182,
              "radio_bandwidth": -0.021175479516386986,
              "radio_channel": 0.11686426401138306,
              "radio_rx_failed": 1.1782013177871704,
              "radio_tx_power": 0.121039018034935,
              "radio_util": 0.2452986091375351,
              "radio_util_interference": 3.4367904663085938,
              "site_num_clients": 0.055026158690452576,
              "site_wan_avg_download_mbps": 3.0566701889e-07,
              "site_wan_avg_upload_mbps": 5.566701889e-08,
              "site_wan_download_mbps": 8.0566701889e-07,
              "site_wan_jitter": 1.00566701889e-06,
              "site_wan_rtt": 4.0566701889e-07,
              "site_wan_upload_mbps": 2.0566701889e-07,
              "timestamp": 1695425115,
              "video_in": {
                "ap_num_clients": -0.6565111,
                "ap_rtt": 0.16559607,
                "client_cpu": 3.7028809,
                "client_n_streams": 0.15803306,
                "client_radio_band": 0.5576923,
                "client_rssi": -1.0839354,
                "client_rx_bytes": 2.2622051,
                "client_rx_rates": 0.62357205,
                "client_rx_retries": 0.26726437,
                "client_tx_bytes": 0.15803306,
                "client_tx_rates": 0.62357205,
                "client_tx_retries": 0.77553505,
                "client_vpn_distance": 1.6474955,
                "client_wifi_version": 0.18267937,
                "expected": 30.941595,
                "radio_bandwidth": -0.06538621,
                "radio_channel": -0.73391086,
                "radio_tx_power": 0.10027129,
                "radio_util": 12.770318,
                "radio_util_interference": -3.079999,
                "site_num_clients": 0.017364305,
                "wan_avg_download_mbps": 1.4803165,
                "wan_avg_upload_mbps": -0.038184267,
                "wan_jitter": 5.9680853,
                "wan_max_download_mbps": 1.4803165,
                "wan_max_upload_mbps": -0.038184267,
                "wan_rtt": 46.77899
              },
              "video_out": {
                "ap_num_clients": -0.6565111,
                "ap_rtt": 0.16559607,
                "client_cpu": 3.7028809,
                "client_n_streams": 0.15803306,
                "client_radio_band": 0.5576923,
                "client_rssi": -1.0839354,
                "client_rx_bytes": 2.2622051,
                "client_rx_rates": 0.62357205,
                "client_rx_retries": 0.26726437,
                "client_tx_bytes": 0.15803306,
                "client_tx_rates": 0.62357205,
                "client_tx_retries": 0.77553505,
                "client_vpn_distance": 1.6474955,
                "client_wifi_version": 0.18267937,
                "expected": 30.941595,
                "radio_bandwidth": -0.06538621,
                "radio_channel": -0.73391086,
                "radio_tx_power": 0.10027129,
                "radio_util": 12.770318,
                "radio_util_interference": -3.079999,
                "site_num_clients": 0.017364305,
                "wan_avg_download_mbps": 1.4803165,
                "wan_avg_upload_mbps": -0.038184267,
                "wan_jitter": 5.9680853,
                "wan_max_download_mbps": 1.4803165,
                "wan_max_upload_mbps": -0.038184267,
                "wan_rtt": 46.77899
              }
            }
          ]
        }
      },
      "CallTroubleshootSummaryExample": {
        "value": {
          "mac": "983a78ea4a44",
          "meeting_id": "b784d744-9a7c-4fad-9af0-f78858a319b1",
          "results": [
            {
              "ap_num_clients": -0.08802365511655807,
              "ap_rtt": 0.09924473613500595,
              "audio_in": {
                "ap_num_clients": 45.48306793636746,
                "ap_rtt": 6.352042701509264,
                "client_cpu": 9.323452578650581,
                "client_radio_band": 0.5841414928436279,
                "client_rssi": 17.251008563571506,
                "client_tx_bytes": 1.8379177401463191,
                "client_tx_rates": 10.668423069847954,
                "client_tx_retries": 43.323209603627525,
                "client_vpn_distance": 112.4420166015625,
                "expected": 29.74261474609375,
                "radio_bandwidth": -0.1533682727151447,
                "radio_channel": 0.662909648484654,
                "radio_util": 27.891777674357098,
                "radio_util_interference": 4.38913492154744,
                "site_num_clients": -0.2855822932389047,
                "site_wan_avg_upload_mbps": -0.988989942603641,
                "site_wan_jitter": 0.7875519659784105,
                "site_wan_rtt": 15.094849904378256,
                "site_wan_upload_mbps": -0.8131117953194512
              },
              "audio_out": {
                "ap_num_clients": 45.48306793636746,
                "ap_rtt": 6.352042701509264,
                "client_cpu": 9.323452578650581,
                "client_radio_band": 0.5841414928436279,
                "client_rssi": 17.251008563571506,
                "client_tx_bytes": 1.8379177401463191,
                "client_tx_rates": 10.668423069847954,
                "client_tx_retries": 43.323209603627525,
                "client_vpn_distance": 112.4420166015625,
                "expected": 29.74261474609375,
                "radio_bandwidth": -0.1533682727151447,
                "radio_channel": 0.662909648484654,
                "radio_util": 27.891777674357098,
                "radio_util_interference": 4.38913492154744,
                "site_num_clients": -0.2855822932389047,
                "site_wan_avg_upload_mbps": -0.988989942603641,
                "site_wan_jitter": 0.7875519659784105,
                "site_wan_rtt": 15.094849904378256,
                "site_wan_upload_mbps": -0.8131117953194512
              },
              "client_cpu": 0.00834270566701889,
              "client_n_streams": 0.00734270566701889,
              "client_radio_band": 0.5841414928436279,
              "client_rssi": 0.7594696879386902,
              "client_rx_bytes": 2.365511655807e-05,
              "client_rx_rates": 0.02441493794322014,
              "client_rx_retries": -0.14325742423534393,
              "client_tx_bytes": 0.00102365511655807,
              "client_tx_rates": 0.22236637771129608,
              "client_tx_retries": 0.3308201730251312,
              "client_vpn_distance": -0.0001660545531194657,
              "client_wifi_version": 7.0566701889e-07,
              "expected": -2.8630001056670187,
              "radio_ap_change": 0.01850946433842182,
              "radio_bandwidth": -0.021175479516386986,
              "radio_channel": 0.11686426401138306,
              "radio_rx_failed": 1.1782013177871704,
              "radio_tx_power": 0.121039018034935,
              "radio_util": 0.2452986091375351,
              "radio_util_interference": 3.4367904663085938,
              "site_num_clients": 0.055026158690452576,
              "site_wan_avg_download_mbps": 3.0566701889e-07,
              "site_wan_avg_upload_mbps": 5.566701889e-08,
              "site_wan_download_mbps": 8.0566701889e-07,
              "site_wan_jitter": 0.7875519659784105,
              "site_wan_rtt": 15.094849904378256,
              "site_wan_upload_mbps": 2.0566701889e-07,
              "timestamp": 1695425115,
              "video_in": {
                "ap_num_clients": 45.48306793636746,
                "ap_rtt": 6.352042701509264,
                "client_cpu": 9.323452578650581,
                "client_radio_band": 0.5841414928436279,
                "client_rssi": 17.251008563571506,
                "client_tx_bytes": 1.8379177401463191,
                "client_tx_rates": 10.668423069847954,
                "client_tx_retries": 43.323209603627525,
                "client_vpn_distance": 112.4420166015625,
                "expected": 29.74261474609375,
                "radio_bandwidth": -0.1533682727151447,
                "radio_channel": 0.662909648484654,
                "radio_util": 27.891777674357098,
                "radio_util_interference": 4.38913492154744,
                "site_num_clients": -0.2855822932389047,
                "site_wan_avg_upload_mbps": -0.988989942603641,
                "site_wan_jitter": 0.7875519659784105,
                "site_wan_rtt": 15.094849904378256,
                "site_wan_upload_mbps": -0.8131117953194512
              },
              "video_out": {
                "ap_num_clients": 45.48306793636746,
                "ap_rtt": 6.352042701509264,
                "client_cpu": 9.323452578650581,
                "client_radio_band": 0.5841414928436279,
                "client_rssi": 17.251008563571506,
                "client_tx_bytes": 1.8379177401463191,
                "client_tx_rates": 10.668423069847954,
                "client_tx_retries": 43.323209603627525,
                "client_vpn_distance": 112.4420166015625,
                "expected": 29.74261474609375,
                "radio_bandwidth": -0.1533682727151447,
                "radio_channel": 0.662909648484654,
                "radio_util": 27.891777674357098,
                "radio_util_interference": 4.38913492154744,
                "site_num_clients": -0.2855822932389047,
                "site_wan_avg_upload_mbps": -0.988989942603641,
                "site_wan_jitter": 0.7875519659784105,
                "site_wan_rtt": 15.094849904378256,
                "site_wan_upload_mbps": -0.8131117953194512
              }
            }
          ]
        }
      },
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
