{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Stats - Clients Wireless",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve the stats of the wireless clients detected (connected or not connected) on this site.",
      "name": "Sites Stats - Clients Wireless"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/stats/clients": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get List of Site All Clients Stats Details",
        "operationId": "listSiteWirelessClientsStats",
        "parameters": [
          {
            "in": "query",
            "name": "wired",
            "schema": {
              "default": false,
              "examples": [
                false
              ],
              "type": "boolean"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClientStatsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteWirelessClientsStats",
        "tags": [
          "Sites Stats - Clients Wireless"
        ]
      }
    },
    "/api/v1/sites/{site_id}/stats/clients/{client_mac}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/client_mac"
        }
      ],
      "get": {
        "description": "Get Site Client Stats Details",
        "operationId": "getSiteWirelessClientStats",
        "parameters": [
          {
            "in": "query",
            "name": "wired",
            "schema": {
              "default": false,
              "examples": [
                false
              ],
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClientStats"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteWirelessClientStats",
        "tags": [
          "Sites Stats - Clients Wireless"
        ]
      }
    },
    "/api/v1/sites/{site_id}/stats/maps/{map_id}/clients": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/map_id"
        }
      ],
      "get": {
        "description": "Get Site Clients Stats By Map",
        "operationId": "getSiteWirelessClientsStatsByMap",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClientWirelessStatsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteWirelessClientsStatsByMap",
        "tags": [
          "Sites Stats - Clients Wireless"
        ]
      }
    },
    "/api/v1/sites/{site_id}/stats/maps/{map_id}/unconnected_clients": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/map_id"
        }
      ],
      "get": {
        "description": "Get List of Site Unconnected Client Location",
        "operationId": "listSiteUnconnectedClientStats",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": [
                      {
                        "ap_mac": "5c5b350e0410",
                        "last_seen": 1428939600,
                        "mac": "5684dae9ac8b",
                        "manufacture": "Apple",
                        "rssi": -75,
                        "x": 60,
                        "y": 80
                      }
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/stats_unconnected_clients"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteUnconnectedClientStats",
        "tags": [
          "Sites Stats - Clients Wireless"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "dot11_band": {
        "description": "enum: `24`, `5`, `6`",
        "enum": [
          "24",
          "5",
          "6"
        ],
        "type": "string"
      },
      "dot11_proto": {
        "description": "enum: `a`, `ac`, `ax`, `b`, `be`, `g`, `n`",
        "enum": [
          "a",
          "ac",
          "ax",
          "b",
          "be",
          "g",
          "n"
        ],
        "type": "string"
      },
      "guest": {
        "description": "Guest",
        "properties": {
          "access_code_email": {
            "description": "If `auth_method`==`email`, the email address where the authorization code has been sent to",
            "readOnly": true,
            "type": "string"
          },
          "ap_mac": {
            "description": "MAC Address of the AP the guest was connected to during the registration process",
            "readOnly": true,
            "type": "string"
          },
          "auth_method": {
            "description": "Type of guest authorization",
            "readOnly": true,
            "type": "string"
          },
          "authorized": {
            "default": true,
            "description": "Whether the guest is current authorized",
            "type": "boolean"
          },
          "authorized_expiring_time": {
            "description": "When the authorization would expire",
            "examples": [
              1480704955
            ],
            "readOnly": true,
            "type": "number"
          },
          "authorized_time": {
            "description": "When the guest was authorized",
            "examples": [
              1480704355
            ],
            "readOnly": true,
            "type": "number"
          },
          "company": {
            "description": "Optional, the info provided by user",
            "examples": [
              "abc"
            ],
            "type": "string"
          },
          "email": {
            "description": "Optional, the info provided by user",
            "examples": [
              "john@abc.com"
            ],
            "format": "email",
            "type": "string"
          },
          "field1": {
            "description": "Optional, the info provided by user",
            "type": "string"
          },
          "field2": {
            "type": "string"
          },
          "field3": {
            "type": "string"
          },
          "field4": {
            "type": "string"
          },
          "mac": {
            "description": "MAC Address",
            "readOnly": true,
            "type": "string"
          },
          "minutes": {
            "default": 1440,
            "description": "Authorization duration, in minutes. Default is 1440 minutes (1 day), maximum is 259200 (180 days)",
            "maximum": 259200,
            "minimum": 0,
            "type": "integer"
          },
          "name": {
            "description": "Optional, the info provided by user",
            "examples": [
              "John Smith"
            ],
            "readOnly": true,
            "type": "string"
          },
          "random_mac": {
            "description": "If the client is using a randomized MAC Address to connect the SSID",
            "readOnly": true,
            "type": "boolean"
          },
          "ssid": {
            "description": "Name of the SSID",
            "examples": [
              "Guest-SSID"
            ],
            "readOnly": true,
            "type": "string"
          },
          "wlan_id": {
            "description": "ID of the SSID",
            "examples": [
              "6748cfa6-4e12-11e6-9188-0242ac110007"
            ],
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "last_seen": {
        "description": "Last seen timestamp",
        "examples": [
          1470417522
        ],
        "format": "double",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "rx_bps": {
        "description": "Rate of receiving traffic, bits/seconds, last known",
        "examples": [
          60003
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "rx_bytes": {
        "description": "Amount of traffic received since connection",
        "examples": [
          8515104416
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "rx_pkts": {
        "description": "Amount of packets received since connection",
        "examples": [
          57770567
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "rx_rate": {
        "description": "RX Rate, Mbps",
        "format": "float",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "rx_retries": {
        "description": "Amount of rx retries",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "site_id": {
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "stats_client": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/stats_wireless_client"
          },
          {
            "$ref": "#/components/schemas/stats_wired_client"
          }
        ]
      },
      "stats_client_any_of": {
        "items": {
          "$ref": "#/components/schemas/stats_client"
        },
        "type": "array"
      },
      "stats_unconnected_client": {
        "additionalProperties": false,
        "description": "Unconnected clients statistics",
        "properties": {
          "ap_mac": {
            "description": "MAC address of the AP that heard the client",
            "type": "string"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen"
          },
          "mac": {
            "description": "MAC address of the (unconnected) client",
            "type": "string"
          },
          "manufacture": {
            "description": "Device manufacture, through fingerprinting or OUI",
            "type": "string"
          },
          "map_id": {
            "description": "Map_id of the client (if known), or null",
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "rssi": {
            "description": "Client RSSI observed by the AP that heard the client (in dBm)",
            "type": "integer"
          },
          "x": {
            "description": "X (in pixels) of user location on the map (if known)",
            "format": "double",
            "type": "number"
          },
          "y": {
            "description": "Y (in pixels) of user location on the map (if known)",
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "mac",
          "ap_mac",
          "y",
          "rssi",
          "manufacture"
        ],
        "type": "object"
      },
      "stats_unconnected_clients": {
        "items": {
          "$ref": "#/components/schemas/stats_unconnected_client"
        },
        "type": "array"
      },
      "stats_wired_client": {
        "additionalProperties": false,
        "properties": {
          "auth_state": {
            "description": "Client authorization status",
            "minLength": 1,
            "type": "string"
          },
          "device_id": {
            "description": "Device ID the client is connected to",
            "minLength": 1,
            "type": "string"
          },
          "eth_port": {
            "description": "Port on AP where the wired client is connected",
            "minLength": 1,
            "type": "string"
          },
          "last_seen": {
            "description": "Time when last Tx/Rx observed",
            "type": "number"
          },
          "mac": {
            "description": "Client mac",
            "minLength": 1,
            "type": "string"
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes"
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes"
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts"
          },
          "uptime": {
            "description": "How long, in seconds, has the client been connected",
            "type": "number"
          },
          "vlan_id": {
            "description": "VLAN id, could be empty",
            "type": "number"
          }
        },
        "required": [
          "mac"
        ],
        "type": "object",
        "uniqueItems": true
      },
      "stats_wireless_client": {
        "additionalProperties": false,
        "properties": {
          "accuracy": {
            "description": "Estimated client location accuracy, in meter",
            "type": "integer"
          },
          "airespace_ifname": {
            "type": "string"
          },
          "airwatch": {
            "$ref": "#/components/schemas/stats_wireless_client_airwatch"
          },
          "annotation": {
            "type": "string"
          },
          "ap_id": {
            "description": "AP ID the client is connected to",
            "format": "uuid",
            "type": "string"
          },
          "ap_mac": {
            "description": "AP the client is connected to",
            "type": "string"
          },
          "assoc_time": {
            "type": "integer"
          },
          "band": {
            "$ref": "#/components/schemas/dot11_band"
          },
          "bssid": {
            "type": "string"
          },
          "channel": {
            "description": "Current channel",
            "type": "integer"
          },
          "dual_band": {
            "description": "Whether the client is dual_band capable (determined by whether we’ve seen probe requests from both bands)",
            "type": "boolean"
          },
          "family": {
            "description": "Device family, through fingerprinting. iPod / Nexus Galaxy / Windows Mobile or CE …",
            "type": "string"
          },
          "group": {
            "type": "string"
          },
          "guest": {
            "$ref": "#/components/schemas/guest"
          },
          "hostname": {
            "description": "Hostname that we learned from sniffing DHCP",
            "type": "string"
          },
          "idle_time": {
            "description": "How long, in seconds, has the client been idle (since the last RX packet)",
            "type": "number"
          },
          "ip": {
            "type": "string"
          },
          "is_guest": {
            "default": false,
            "description": "Whether this is a guest",
            "type": "boolean"
          },
          "key_mgmt": {
            "description": "E.g. WPA2-PSK/CCMP",
            "type": "string"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen"
          },
          "mac": {
            "description": "Client mac",
            "type": "string"
          },
          "manufacture": {
            "description": "Device manufacture, through fingerprinting or OUI",
            "type": "string"
          },
          "map_id": {
            "description": "Estimated client location - map_id",
            "format": "uuid",
            "type": "string"
          },
          "model": {
            "description": "Device model, may be available if we can identify them",
            "type": "string"
          },
          "num_locating_aps": {
            "description": "Number of APs used to locate this client",
            "type": "integer"
          },
          "os": {
            "description": "Device os, through fingerprinting",
            "type": "string"
          },
          "power_saving": {
            "description": "If it’s currently in power-save mode",
            "type": "boolean"
          },
          "proto": {
            "$ref": "#/components/schemas/dot11_proto"
          },
          "psk_id": {
            "description": "PSK id (if multi-psk is used)",
            "format": "uuid",
            "type": "string"
          },
          "rssi": {
            "description": "Signal strength",
            "type": "number"
          },
          "rssizones": {
            "$ref": "#/components/schemas/stats_wireless_client_rssi_zones"
          },
          "rx_bps": {
            "$ref": "#/components/schemas/rx_bps"
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes"
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts"
          },
          "rx_rate": {
            "$ref": "#/components/schemas/rx_rate"
          },
          "rx_retries": {
            "$ref": "#/components/schemas/rx_retries"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id"
          },
          "snr": {
            "description": "Signal over noise",
            "type": "number"
          },
          "ssid": {
            "description": "SSID the client is connected to",
            "type": "string"
          },
          "tx_bps": {
            "$ref": "#/components/schemas/tx_bps"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes"
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts"
          },
          "tx_rate": {
            "$ref": "#/components/schemas/tx_rate"
          },
          "tx_retries": {
            "$ref": "#/components/schemas/tx_retries"
          },
          "type": {
            "description": "Client’s type, regular / vip / resource / blocked (if client object is created)",
            "type": "string"
          },
          "uptime": {
            "description": "How long, in seconds, has the client been connected",
            "type": "number"
          },
          "username": {
            "description": "Username that we learned from 802.1X exchange or Per_user PSK or User Portal",
            "type": "string"
          },
          "vbeacons": {
            "$ref": "#/components/schemas/stats_wireless_client_vbeacons"
          },
          "vlan_id": {
            "description": "VLAN id, could be empty (from older AP)",
            "type": "string"
          },
          "wlan_id": {
            "description": "WLAN ID the client is connected to",
            "format": "uuid",
            "type": "string"
          },
          "wxrule_id": {
            "description": "Current WxlanRule using for a Client or an authorized Guest (portal user). null if default rule is matched.",
            "format": "uuid",
            "type": "string"
          },
          "wxrule_usage": {
            "$ref": "#/components/schemas/stats_wireless_client_wxrule_usages"
          },
          "x": {
            "description": "Estimated client location in pixels",
            "format": "double",
            "type": "number"
          },
          "x_m": {
            "description": "Estimated client location in meter",
            "format": "double",
            "type": "number"
          },
          "y": {
            "description": "Estimated client location in pixels",
            "format": "double",
            "type": "number"
          },
          "y_m": {
            "description": "Estimated client location in meter",
            "format": "double",
            "type": "number"
          },
          "zones": {
            "$ref": "#/components/schemas/stats_wireless_client_zones"
          }
        },
        "required": [
          "ap_id",
          "ap_mac",
          "band",
          "channel",
          "is_guest",
          "key_mgmt",
          "mac",
          "proto",
          "rssi",
          "snr",
          "ssid",
          "wlan_id"
        ],
        "type": "object"
      },
      "stats_wireless_client_airwatch": {
        "additionalProperties": false,
        "description": "Information if airwatch enabled",
        "properties": {
          "authorized": {
            "type": "boolean"
          }
        },
        "required": [
          "authorized"
        ],
        "type": "object"
      },
      "stats_wireless_client_rssi_zone": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "since": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "stats_wireless_client_rssi_zones": {
        "description": "List of rssizone_id’s where client is in and since when (if known)",
        "items": {
          "$ref": "#/components/schemas/stats_wireless_client_rssi_zone"
        },
        "type": "array"
      },
      "stats_wireless_client_vbeacon": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "since": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "stats_wireless_client_vbeacons": {
        "description": "List of beacon_id’s where the client is in and since when (if known)",
        "items": {
          "$ref": "#/components/schemas/stats_wireless_client_vbeacon"
        },
        "type": "array"
      },
      "stats_wireless_client_wxrule_usage": {
        "additionalProperties": false,
        "properties": {
          "tag_id": {
            "format": "uuid",
            "type": "string"
          },
          "usage": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "stats_wireless_client_wxrule_usages": {
        "description": "Current WxlanRule usage per tag_id",
        "items": {
          "$ref": "#/components/schemas/stats_wireless_client_wxrule_usage"
        },
        "type": "array"
      },
      "stats_wireless_client_zone": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "since": {
            "type": "number"
          }
        },
        "type": "object"
      },
      "stats_wireless_client_zones": {
        "description": "List of zone_id’s where client is in and since when (if known)",
        "items": {
          "$ref": "#/components/schemas/stats_wireless_client_zone"
        },
        "type": "array"
      },
      "stats_wireless_clients": {
        "items": {
          "$ref": "#/components/schemas/stats_wireless_client"
        },
        "type": "array"
      },
      "tx_bps": {
        "description": "Rate of transmitting traffic, bits/seconds, last known",
        "examples": [
          634301
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "tx_bytes": {
        "description": "Amount of traffic sent since connection",
        "examples": [
          211217389682
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "tx_pkts": {
        "description": "Amount of packets sent since connection",
        "examples": [
          812204062
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "tx_rate": {
        "description": "TX Rate, Mbps",
        "format": "float",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "tx_retries": {
        "description": "Amount of tx retries",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      }
    },
    "responses": {
      "ClientStats": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ClientStatsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_client"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ClientStatsExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_client"
            }
          }
        },
        "description": "Example response"
      },
      "ClientStatsArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ClientStatsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_client_any_of"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ClientStatsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_client_any_of"
            }
          }
        },
        "description": "Example response"
      },
      "ClientWirelessStatsArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ClientWirelessStatsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_wireless_clients"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ClientWirelessStatsArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/stats_wireless_clients"
            }
          }
        },
        "description": "Example response"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      }
    },
    "parameters": {
      "client_mac": {
        "in": "path",
        "name": "client_mac",
        "required": true,
        "schema": {
          "examples": [
            "0000000000ab"
          ],
          "pattern": "^[0-9a-fA-F]{12}$",
          "type": "string"
        }
      },
      "duration": {
        "description": "Duration like 7d, 2w",
        "in": "query",
        "name": "duration",
        "required": false,
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "End time (epoch timestamp in seconds, or relative string like \"-1d\", \"-2h\", \"now\")",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "in": "query",
        "name": "limit",
        "required": false,
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "map_id": {
        "in": "path",
        "name": "map_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "page": {
        "in": "query",
        "name": "page",
        "required": false,
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "start": {
        "description": "Start time (epoch timestamp in seconds, or relative string like \"-1d\", \"-1w\")",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "ClientStatsArrayExample": {
        "value": [
          {
            "annotation": "unknown",
            "ap_id": "00000000-0000-0000-1000-5c5b35963d70",
            "ap_mac": "5c5b358e6fea",
            "assoc_time": 1741152905,
            "band": "5",
            "bssid": "5c5b358298f2",
            "channel": 157,
            "dual_band": true,
            "family": "",
            "group": "",
            "hostname": "android-9b228dc33690",
            "idle_time": 5,
            "ip": "10.100.0.47",
            "is_guest": false,
            "key_mgmt": "WPA3-SAE-FT/CCMP",
            "last_seen": 1741257505,
            "mac": "dadbfc123456",
            "manufacture": "Unknown",
            "map_id": "ed7a0a4e-8835-4c94-ba78-6c1169c9f135",
            "model": "",
            "num_locating_aps": 2,
            "os": "Android 10",
            "proto": "ac",
            "rssi": -39,
            "rx_bps": 0,
            "rx_bytes": 14451780,
            "rx_pkts": 44175,
            "rx_rate": 6,
            "rx_retries": 2010,
            "site_id": "96c348a9-d6d7-4732-b4f5-23350a2843cd",
            "snr": 47,
            "ssid": "Live_demo_only",
            "tx_bps": 0,
            "tx_bytes": 56364072,
            "tx_pkts": 43685,
            "tx_rate": 173.3,
            "tx_retries": 5413,
            "uptime": 104600,
            "vlan_id": "1",
            "wlan_id": "497fc18a-79b5-405a-bf5a-192eed31ea60",
            "x": 695.3357339330526,
            "x_m": 24.086588,
            "y": 760.6746524247893,
            "y_m": 26.349943
          }
        ]
      },
      "ClientStatsExample": {
        "value": {
          "annotation": "unknown",
          "ap_id": "00000000-0000-0000-1000-5c5b35963d70",
          "ap_mac": "5c5b358e6fea",
          "assoc_time": 1741152905,
          "band": "5",
          "bssid": "5c5b358298f2",
          "channel": 157,
          "dual_band": true,
          "family": "",
          "group": "",
          "hostname": "android-9b228dc33690",
          "idle_time": 5,
          "ip": "10.100.0.47",
          "is_guest": false,
          "key_mgmt": "WPA3-SAE-FT/CCMP",
          "last_seen": 1741257505,
          "mac": "dadbfc123456",
          "manufacture": "Unknown",
          "map_id": "ed7a0a4e-8835-4c94-ba78-6c1169c9f135",
          "model": "",
          "num_locating_aps": 2,
          "os": "Android 10",
          "proto": "ac",
          "rssi": -39,
          "rx_bps": 0,
          "rx_bytes": 14451780,
          "rx_pkts": 44175,
          "rx_rate": 6,
          "rx_retries": 2010,
          "site_id": "96c348a9-d6d7-4732-b4f5-23350a2843cd",
          "snr": 47,
          "ssid": "Live_demo_only",
          "tx_bps": 0,
          "tx_bytes": 56364072,
          "tx_pkts": 43685,
          "tx_rate": 173.3,
          "tx_retries": 5413,
          "uptime": 104600,
          "vlan_id": "1",
          "wlan_id": "497fc18a-79b5-405a-bf5a-192eed31ea60",
          "x": 695.3357339330526,
          "x_m": 24.086588,
          "y": 760.6746524247893,
          "y_m": 26.349943
        }
      },
      "ClientWirelessStatsArrayExample": {
        "value": [
          {
            "annotation": "unknown",
            "ap_id": "00000000-0000-0000-1000-5c5b35963d70",
            "ap_mac": "5c5b358e6fea",
            "assoc_time": 1741152905,
            "band": "5",
            "bssid": "5c5b358298f2",
            "channel": 157,
            "dual_band": true,
            "family": "",
            "group": "",
            "hostname": "android-9b228dc33690",
            "idle_time": 5,
            "ip": "10.100.0.47",
            "is_guest": false,
            "key_mgmt": "WPA3-SAE-FT/CCMP",
            "last_seen": 1741257505,
            "mac": "dadbfc123456",
            "manufacture": "Unknown",
            "map_id": "ed7a0a4e-8835-4c94-ba78-6c1169c9f135",
            "model": "",
            "num_locating_aps": 2,
            "os": "Android 10",
            "proto": "ac",
            "rssi": -39,
            "rx_bps": 0,
            "rx_bytes": 14451780,
            "rx_pkts": 44175,
            "rx_rate": 6,
            "rx_retries": 2010,
            "site_id": "96c348a9-d6d7-4732-b4f5-23350a2843cd",
            "snr": 47,
            "ssid": "Live_demo_only",
            "tx_bps": 0,
            "tx_bytes": 56364072,
            "tx_pkts": 43685,
            "tx_rate": 173.3,
            "tx_retries": 5413,
            "uptime": 104600,
            "vlan_id": "1",
            "wlan_id": "497fc18a-79b5-405a-bf5a-192eed31ea60",
            "x": 695.3357339330526,
            "x_m": 24.086588,
            "y": 760.6746524247893,
            "y_m": 26.349943
          }
        ]
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
