{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Devices",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Mist provides many ways (device_type specific template, site template, device profile, per-device) to configure devices for different kind of scenarios.\n\nThe precedence goes from most specific to least specific\n\nDevice > Device Profile > RFTemplate (for AP only) > DeviceType-specific Template > Site Template > Site Setting",
      "name": "Sites Devices"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/devices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "List devices in a site. Use [List Org Devices](/#operations/listOrgDevices) to retrieve devices across the organization, or [Search Org Devices](/#operations/searchOrgDevices) when filters are needed.",
        "operationId": "listSiteDevices",
        "parameters": [
          {
            "description": "Filter results by type",
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/device_type_with_all"
            }
          },
          {
            "$ref": "#/components/parameters/name"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DevicesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteDevices",
        "tags": [
          "Sites Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/config_history/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Counts the number of entries in device config history for distinct field with given filters",
        "operationId": "countSiteDeviceConfigHistory",
        "parameters": [
          {
            "description": "Field used to group this count response",
            "in": "query",
            "name": "distinct",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by MAC address",
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countSiteDeviceConfigHistory",
        "tags": [
          "Sites Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/config_history/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Search for entries in device config history",
        "operationId": "searchSiteDeviceConfigHistory",
        "parameters": [
          {
            "description": "Filter results by type. enum: `ap`, `gateway`, `switch`",
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/device_type_default_ap"
            }
          },
          {
            "description": "Filter results by MAC address",
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConfigsHistorySearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchSiteDeviceConfigHistory",
        "tags": [
          "Sites Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Count devices for a site, optionally grouped by the `distinct` field and filtered by device inventory attributes and time range. Use [Count Org Devices](/#operations/countOrgDevices) to count devices across the organization.",
        "operationId": "countSiteDevices",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `hostname`, `lldp_mgmt_addr`, `lldp_port_id`, `lldp_system_desc`, `lldp_system_name`, `map_id`, `model`, `mxedge_id`, `mxtunnel_status`, `version`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/site_devices_count_distinct"
            }
          },
          {
            "description": "Filter results by hostname",
            "in": "query",
            "name": "hostname",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by device model",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by MAC address",
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by software version",
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter AP results by Mist Tunnel status",
            "in": "query",
            "name": "mxtunnel_status",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by Mist Edge identifier",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter AP results by LLDP system name",
            "in": "query",
            "name": "lldp_system_name",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter AP results by LLDP system description",
            "in": "query",
            "name": "lldp_system_desc",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter AP results by LLDP port identifier",
            "in": "query",
            "name": "lldp_port_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter AP results by LLDP management IP address",
            "in": "query",
            "name": "lldp_mgmt_addr",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by map identifier",
            "in": "query",
            "name": "map_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countSiteDevices",
        "tags": [
          "Sites Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/events/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Count device events for a site, optionally grouped by the `distinct` field and filtered by event attributes and time range. Use [Count Org Device Events](/#operations/countOrgDeviceEvents) to count device events across the organization.",
        "operationId": "countSiteDeviceEvents",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `mac`, `model`, `type`, `type_code`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/site_device_events_count_distinct"
            }
          },
          {
            "description": "Filter results by device model",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/device_event_type"
          },
          {
            "description": "Filter results by event type code",
            "in": "query",
            "name": "type_code",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countSiteDeviceEvents",
        "tags": [
          "Sites Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/events/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Search device events for a site with filters for MAC address, model, event type, message text, and time range. Use [Search Org Device Events](/#operations/searchOrgDeviceEvents) to search device events across the organization.",
        "operationId": "searchSiteDeviceEvents",
        "parameters": [
          {
            "description": "Filter results by MAC address",
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by device model",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by event message text",
            "in": "query",
            "name": "text",
            "schema": {
              "examples": [
                "Device connected"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/device_event_type"
          },
          {
            "description": "Return last/recent event for passed in field",
            "example": "port_id",
            "in": "query",
            "name": "last_by",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Keyword to include events from additional indices (e.g. ext_tunnel for prisma events)",
            "in": "query",
            "name": "includes",
            "schema": {
              "examples": [
                "ext_tunnel"
              ],
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EventsDevices"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchSiteDeviceEvents",
        "tags": [
          "Sites Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/export": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "To download the exported device information",
        "operationId": "exportSiteDevices",
        "responses": {
          "200": {
            "$ref": "#/components/responses/File"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "exportSiteDevices",
        "tags": [
          "Sites Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/gbp_tag": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "Set GBP Tag for multiple devices",
        "operationId": "setSiteDevicesGbpTag",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/devices_gbp_tag"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "setSiteDevicesGbpTag",
        "tags": [
          "Sites Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/import": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "Import Information for Multiple Devices\n\nCSV format:\n```csv\nmac,name,map_id,x,y,height,orientation,labels,band_24.power,band_24.bandwidth,band_24.channel,band_24.disabled,band_5.power,band_5.bandwidth,band_5.channel,band_5.disabled,band_6.power,band_6.bandwidth,band_6.channel,band_6.disabled\n5c5b53010101,\"AP 1\",845a23bf-bed9-e43c-4c86-6fa474be7ae5,30,10,2.3,45,\"guest, campus, vip\",1,20,0,false,0,40,0,false,17,80,0,false\n```",
        "operationId": "importSiteDevices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ap_import_json"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/binary_stream"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DevicesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "importSiteDevices",
        "tags": [
          "Sites Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/last_config/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Counts the number of entries in device config history for distinct field with given filters",
        "operationId": "countSiteDeviceLastConfig",
        "parameters": [
          {
            "description": "Field used to group this count response. enum: `mac`, `name`, `site_id`, `version`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/site_device_last_config_count_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countSiteDeviceLastConfig",
        "tags": [
          "Sites Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/last_config/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Search last known device configuration records for a site with filters for device type, MAC address, name, software version, certificate expiry, and time range. Use [Search Org Device Last Configs](/#operations/searchOrgDeviceLastConfigs) to search last known device configuration records across the organization.",
        "operationId": "searchSiteDeviceLastConfigs",
        "parameters": [
          {
            "description": "Duration for expiring cert queries (format: 2d/3h/172800 seconds)",
            "in": "query",
            "name": "cert_expiry_duration",
            "schema": {
              "examples": [
                "2d"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter results by device type. enum: `ap`, `gateway`, `switch`, `mxedge`",
            "in": "query",
            "name": "device_type",
            "schema": {
              "$ref": "#/components/schemas/last_config_device_type"
            }
          },
          {
            "description": "Filter results by MAC address",
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by software version",
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter results by name",
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ConfigsHistorySearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchSiteDeviceLastConfigs",
        "tags": [
          "Sites Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Search devices in a site with filters for device type, identifiers, model, software version, radio settings, LLDP details, and other inventory attributes. Use [Search Org Devices](/#operations/searchOrgDevices) to search devices across the organization.",
        "operationId": "searchSiteDevices",
        "parameters": [
          {
            "description": "When `type`==`ap`, Channel of band_24",
            "in": "query",
            "name": "band_24_channel",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Channel of band_5",
            "in": "query",
            "name": "band_5_channel",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Channel of band_6",
            "in": "query",
            "name": "band_6_channel",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Bandwidth of band_24",
            "in": "query",
            "name": "band_24_bandwidth",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Bandwidth of band_5",
            "in": "query",
            "name": "band_5_bandwidth",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Bandwidth of band_6",
            "in": "query",
            "name": "band_6_bandwidth",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Power of band_24",
            "in": "query",
            "name": "band_24_power",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Power of band_5",
            "in": "query",
            "name": "band_5_power",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`ap`, Power of band_6",
            "in": "query",
            "name": "band_6_power",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`gateway`, true / false",
            "in": "query",
            "name": "clustered",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "When `type`==`ap`, Port speed of eth0",
            "in": "query",
            "name": "eth0_port_speed",
            "schema": {
              "examples": [
                100,
                1000
              ],
              "type": "integer"
            }
          },
          {
            "description": "When `type`==`switch`, EVPN topology id",
            "in": "query",
            "name": "evpntopo_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/partial_filter_ext_ip"
          },
          {
            "$ref": "#/components/parameters/partial_filter_hostname_device"
          },
          {
            "$ref": "#/components/parameters/partial_filter_ip_device"
          },
          {
            "description": "When `type`==`switch` or `type`==`gateway`, last configuration status",
            "in": "query",
            "name": "last_config_status",
            "schema": {
              "examples": [
                "success"
              ],
              "type": "string"
            }
          },
          {
            "description": "Last hostname of the device.",
            "in": "query",
            "name": "last_hostname",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When `type`==`ap`, LLDP management IP address",
            "in": "query",
            "name": "lldp_mgmt_addr",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/partial_filter_lldp_port_id"
          },
          {
            "$ref": "#/components/parameters/partial_filter_lldp_system_desc"
          },
          {
            "$ref": "#/components/parameters/partial_filter_lldp_system_name"
          },
          {
            "$ref": "#/components/parameters/partial_filter_mac_device"
          },
          {
            "$ref": "#/components/parameters/partial_filter_model"
          },
          {
            "description": "When `type`==`ap`, Mist Edge id, if AP is connecting to a Mist Edge",
            "in": "query",
            "name": "mxedge_id",
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "When `type`==`ap`, Comma separated list of Mist Edge id, if AP is connecting to a Mist Edge",
            "in": "query",
            "name": "mxedge_ids",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When `type`==`ap`, Mist Tunnel status used to filter results. enum: `down`, `up`",
            "in": "query",
            "name": "mxtunnel_status",
            "schema": {
              "$ref": "#/components/schemas/search_site_devices_mxtunnel_status"
            }
          },
          {
            "description": "When `type`==`gateway`. enum: `node0`, `node1`",
            "in": "query",
            "name": "node",
            "schema": {
              "$ref": "#/components/schemas/ha_cluster_node_enum"
            }
          },
          {
            "description": "When `type`==`gateway`, node0 MAC address",
            "in": "query",
            "name": "node0_mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When `type`==`gateway`, node1 MAC address",
            "in": "query",
            "name": "node1_mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "When `type`==`ap`, whether the AP is power constrained",
            "in": "query",
            "name": "power_constrained",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "When `type`==`switch` or `type`==`gateway`, Key-value pairs where the key\nis the RADIUS server address and the value contains authentication statistics:\n  * <server_address> (string): IP address of the RADIUS server as the key\n  * `auth_accepts` (long): Number of accepted authentication requests\n  * `auth_rejects` (long): Number of rejected authentication requests\n  * `auth_timeouts` (long): Number of authentication timeouts\n  * `auth_server_status` (string): Status of the server. Possible values: `up`, `down`, `unreachable`",
            "in": "query",
            "name": "radius_stats",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Whether to return device stats",
            "in": "query",
            "name": "stats",
            "schema": {
              "default": false,
              "type": "boolean"
            }
          },
          {
            "description": "When `type`==`gateway` (SSR only), version of 128T agent",
            "in": "query",
            "name": "t128agent_version",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/device_type"
          },
          {
            "description": "Filter results by software version",
            "in": "query",
            "name": "version",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "description": "Field used to sort results; a leading `-` indicates descending order. enum: `mac`, `model`, `sku`, `timestamp`",
            "in": "query",
            "name": "sort",
            "schema": {
              "$ref": "#/components/schemas/search_site_devices_sort"
            }
          },
          {
            "description": "Field used to sort results in descending order. enum: `mac`, `model`, `sku`, `timestamp`",
            "in": "query",
            "name": "desc_sort",
            "schema": {
              "$ref": "#/components/schemas/search_site_devices_desc_sort"
            }
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DevicesSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchSiteDevices",
        "tags": [
          "Sites Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "get": {
        "description": "Get Device Configuration",
        "operationId": "getSiteDevice",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Device"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteDevice",
        "tags": [
          "Sites Devices"
        ]
      },
      "put": {
        "description": "Update Device Configuration",
        "operationId": "updateSiteDevice",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mist_device"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Device"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteDevice",
        "tags": [
          "Sites Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/image/{image_number}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        },
        {
          "in": "path",
          "name": "image_number",
          "required": true,
          "schema": {
            "type": "integer"
          }
        }
      ],
      "post": {
        "description": "Attach up to 3 images to a device",
        "operationId": "addSiteDeviceImage",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/image_import"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "addSiteDeviceImage",
        "tags": [
          "Sites Devices"
        ]
      },
      "delete": {
        "description": "Delete image from a device",
        "operationId": "deleteSiteDeviceImage",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteDeviceImage",
        "tags": [
          "Sites Devices"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "acl_policies": {
        "description": "List of ACL policy definitions",
        "items": {
          "$ref": "#/components/schemas/acl_policy"
        },
        "type": "array"
      },
      "acl_policy": {
        "additionalProperties": false,
        "description": "ACL Policy:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "properties": {
          "actions": {
            "$ref": "#/components/schemas/acl_policy_actions",
            "description": "Destination tag actions evaluated for sources matching this ACL policy"
          },
          "disabled": {
            "default": false,
            "description": "Whether this ACL policy is disabled",
            "type": "boolean"
          },
          "name": {
            "description": "Display name of the ACL policy",
            "examples": [
              "guest access"
            ],
            "type": "string"
          },
          "src_tags": {
            "$ref": "#/components/schemas/acl_policy_src_tags",
            "description": "Source ACL tags that select traffic for this ACL policy"
          }
        },
        "type": "object"
      },
      "acl_policy_action": {
        "additionalProperties": false,
        "description": "Action applied to traffic that matches a destination ACL tag",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/allow_deny",
            "description": "Allow or deny decision applied to traffic matching the destination tag"
          },
          "dst_tag": {
            "description": "Destination ACL tag matched by this policy action",
            "examples": [
              "corp"
            ],
            "type": "string"
          }
        },
        "required": [
          "dst_tag"
        ],
        "type": "object"
      },
      "acl_policy_actions": {
        "description": "ACL Policy Actions:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "items": {
          "$ref": "#/components/schemas/acl_policy_action"
        },
        "type": "array"
      },
      "acl_policy_src_tags": {
        "description": "ACL Policy Source Tags:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "items": {
          "examples": [
            "macs"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag": {
        "additionalProperties": false,
        "description": "Resource tags (`type`==`resource` or `type`==`gbp_resource`) can only be used in `dst_tags`",
        "properties": {
          "ether_types": {
            "$ref": "#/components/schemas/acl_tag_ether_types",
            "description": "Layer 2 EtherTypes matched by this ACL tag; defaults to `any`"
          },
          "gbp_tag": {
            "description": "Required if\n  - `type`==`dynamic_gbp` (gbp_tag received from RADIUS)\n  - `type`==`gbp_resource`\n  - `type`==`static_gbp` (applying gbp tag against matching conditions)",
            "type": "integer"
          },
          "macs": {
            "$ref": "#/components/schemas/acl_tag_macs",
            "description": "Client or resource MAC addresses matched by this ACL tag"
          },
          "network": {
            "description": "If:\n  * `type`==`mac` (optional. default is `any`)\n  * `type`==`subnet` (optional. default is `any`)\n  * `type`==`network`\n  * `type`==`resource` (optional. default is `any`)\n  * `type`==`static_gbp` if from matching network (vlan)",
            "type": "string"
          },
          "port_usage": {
            "description": "Required if `type`==`port_usage`. Switch port usage name matched by this ACL tag",
            "type": "string"
          },
          "radius_group": {
            "description": "Required if:\n  * `type`==`radius_group`\n  * `type`==`aruba_user_role`\n  * `type`==`static_gbp`\nif from matching radius_group",
            "type": "string"
          },
          "specs": {
            "$ref": "#/components/schemas/acl_tag_specs",
            "description": "Layer 4 protocol and destination-port constraints for this ACL tag"
          },
          "subnets": {
            "$ref": "#/components/schemas/acl_tag_subnets",
            "description": "IP subnets matched by this ACL tag"
          },
          "type": {
            "$ref": "#/components/schemas/acl_tag_type",
            "description": "Classifier type that determines which ACL tag fields are evaluated"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "acl_tag_ether_types": {
        "default": [
          "any"
        ],
        "description": "ARP / IPv6. Default is `any`",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_macs": {
        "description": "Required if \n- `type`==`mac`\n- `type`==`static_gbp` if from matching mac",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_spec": {
        "additionalProperties": false,
        "description": "Layer 4 protocol and destination-port match constraint for an ACL tag",
        "properties": {
          "port_range": {
            "default": "0",
            "description": "Matched dst port, \"0\" means any",
            "type": "string"
          },
          "protocol": {
            "default": "any",
            "description": "`tcp` / `udp` / `icmp` / `icmp6` / `gre` / `any` / `:protocol_number`, `protocol_number` is between 1-254, default is `any` `protocol_number` is between 1-254",
            "type": "string"
          }
        },
        "type": "object"
      },
      "acl_tag_specs": {
        "description": "If `type`==`resource`, `type`==`radius_group`, `type`==`aruba_user_role`, `type`==`port_usage` or `type`==`gbp_resource`. Empty means unrestricted, i.e. any",
        "items": {
          "$ref": "#/components/schemas/acl_tag_spec"
        },
        "type": "array"
      },
      "acl_tag_subnets": {
        "description": "If \n- `type`==`subnet` \n- `type`==`resource` (optional. default is `any`)\n- `type`==`static_gbp` if from matching subnet",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_type": {
        "description": "enum: \n  * `any`: matching anything not identified\n  * `aruba_user_role`: Aruba user role matched via `radius_group`\n  * `dynamic_gbp`: from the gbp_tag received from RADIUS\n  * `gbp_resource`: can only be used in `dst_tags`\n  * `mac`\n  * `network`\n  * `port_usage`\n  * `radius_group`\n  * `resource`: can only be used in `dst_tags`\n  * `static_gbp`: applying gbp tag against matching conditions\n  * `subnet`'",
        "enum": [
          "any",
          "aruba_user_role",
          "dynamic_gbp",
          "gbp_resource",
          "mac",
          "network",
          "port_usage",
          "radius_group",
          "resource",
          "static_gbp",
          "subnet"
        ],
        "type": "string"
      },
      "acl_tags": {
        "additionalProperties": {
          "$ref": "#/components/schemas/acl_tag"
        },
        "description": "ACL Tags to identify traffic source or destination. Key name is the tag name",
        "type": "object"
      },
      "additional_config_cmds": {
        "description": "additional CLI commands to append to the generated Junos config. **Note**: no check is done",
        "items": {
          "description": "JUNOS \"set\" command to add to the generated configuration",
          "examples": [
            "set snmp community public"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "aggregate_route": {
        "additionalProperties": false,
        "description": "Aggregate route configuration for a network or routing instance",
        "properties": {
          "discard": {
            "default": false,
            "description": "Whether to install the aggregate route as a discard route",
            "type": "boolean"
          },
          "metric": {
            "description": "Routing metric assigned to the aggregate route",
            "maximum": 4294967295,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "preference": {
            "description": "Route preference assigned to the aggregate route",
            "maximum": 4294967295,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "aggregate_routes": {
        "additionalProperties": {
          "$ref": "#/components/schemas/aggregate_route"
        },
        "description": "Property key is the destination subnet (e.g. \"172.16.3.0/24\")",
        "examples": [
          {
            "172.16.3.0/24": {
              "discard": false,
              "metric": null,
              "preference": 30
            }
          }
        ],
        "type": "object"
      },
      "aggregate_routes6": {
        "additionalProperties": {
          "$ref": "#/components/schemas/aggregate_route"
        },
        "description": "Property key is the destination subnet (e.g. \"2a02:1234:420a:10c9::/64\")",
        "example": {
          "2a02:1234:420a:10c9::/64": {
            "discard": false,
            "metric": null,
            "preference": 30
          }
        },
        "type": "object"
      },
      "allow_deny": {
        "description": "Policy action value that either allows or denies matching traffic. enum: `allow`, `deny`",
        "enum": [
          "allow",
          "deny"
        ],
        "type": "string"
      },
      "antenna_select": {
        "description": "Antenna Mode for AP which supports selectable antennas. enum: `\"\"` (default), `external`, `internal`",
        "enum": [
          "",
          "external",
          "internal"
        ],
        "examples": [
          "external"
        ],
        "type": "string"
      },
      "ap_aeroscout": {
        "additionalProperties": false,
        "description": "AeroScout location integration settings applied to an AP or AP profile",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether to enable aeroscout config",
            "type": "boolean"
          },
          "host": {
            "default": "",
            "description": "Required if enabled, aeroscout server host",
            "examples": [
              "aero.pvt.net"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "locate_connected": {
            "default": false,
            "description": "Whether to enable the feature to allow wireless clients data received and sent to AES server for location calculation",
            "type": "boolean"
          },
          "port": {
            "default": 1144,
            "description": "Optional if enabled, Aeroscout server port. Defaults to 1144",
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "ap_airista": {
        "additionalProperties": false,
        "description": "Airista RTLS integration settings for an AP",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether to enable Airista config",
            "type": "boolean"
          },
          "host": {
            "default": "",
            "description": "Required if enabled, Airista server host",
            "examples": [
              "airista.pvt.net"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "port": {
            "default": 1144,
            "description": "Optional if enabled, Airista server port. Defaults to 1144",
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "ap_centrak": {
        "additionalProperties": false,
        "description": "CenTrak integration settings for an AP",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether to enable Centrak config",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_client_bridge": {
        "additionalProperties": false,
        "description": "AP client bridge mode configuration",
        "properties": {
          "auth": {
            "$ref": "#/components/schemas/ap_client_bridge_auth",
            "description": "Credentials and security mode used when the AP connects as a wireless client bridge"
          },
          "enabled": {
            "default": false,
            "description": "When acted as client bridge:\n  * only 5G radio can be used\n  * will not serve as AP on any radios",
            "type": "boolean"
          },
          "ssid": {
            "description": "Uplink SSID used by the AP when client bridge mode is enabled",
            "examples": [
              "Uplink-SSID"
            ],
            "minLength": 1,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ap_client_bridge_auth": {
        "additionalProperties": false,
        "description": "Authentication settings for the AP client bridge uplink",
        "properties": {
          "psk": {
            "description": "Pre-shared key used when `type`==`psk` for client bridge authentication",
            "examples": [
              "foryoureyesonly"
            ],
            "maxLength": 63,
            "minLength": 8,
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ap_client_bridge_auth_type",
            "description": "Authentication mode for the client bridge connection"
          }
        },
        "type": "object"
      },
      "ap_client_bridge_auth_type": {
        "default": "psk",
        "description": "wpa2-AES/CCMPp is assumed when `type`==`psk`. enum: `open`, `psk`",
        "enum": [
          "open",
          "psk"
        ],
        "examples": [
          "psk"
        ],
        "minLength": 1,
        "type": "string"
      },
      "ap_esl_config": {
        "additionalProperties": false,
        "description": "Electronic shelf label integration settings for an AP",
        "properties": {
          "cacert": {
            "description": "Only if `type`==`imagotag` or `type`==`native`",
            "examples": [
              "--BEGIN CERTIFICATE--\nMIIDXTCCAkWgAwIBAgIJAL5b1z4f3k2TMA0GCSqGSIb3DQEBCwUAMIGVMQsw\n"
            ],
            "type": "string"
          },
          "channel": {
            "description": "Only if `type`==`imagotag` or `type`==`native`",
            "examples": [
              3
            ],
            "type": "integer"
          },
          "enabled": {
            "default": false,
            "description": "usb_config is ignored if esl_config enabled",
            "type": "boolean"
          },
          "host": {
            "description": "Only if `type`==`imagotag` or `type`==`native`",
            "examples": [
              "1.1.1.1"
            ],
            "type": "string"
          },
          "port": {
            "description": "Only if `type`==`imagotag` or `type`==`native`",
            "examples": [
              0
            ],
            "type": "integer"
          },
          "type": {
            "$ref": "#/components/schemas/ap_esl_type",
            "description": "ESL integration type to enable on the AP"
          },
          "verify_cert": {
            "description": "Only if `type`==`imagotag` or `type`==`native`",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "vlan_id": {
            "default": 1,
            "description": "Only if `type`==`solum` or `type`==`hanshow`",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_esl_type": {
        "description": "note: ble_config will be ignored if esl_config is enabled and with native mode. enum: `hanshow`, `imagotag`, `native`, `solum`",
        "enum": [
          "hanshow",
          "imagotag",
          "native",
          "solum"
        ],
        "examples": [
          "imagotag"
        ],
        "type": "string"
      },
      "ap_import_json": {
        "description": "AP device records supplied in a JSON import payload",
        "items": {
          "$ref": "#/components/schemas/device_ap"
        },
        "type": "array"
      },
      "ap_iot": {
        "additionalProperties": false,
        "description": "Digital and analog IoT port settings applied to an AP or AP profile",
        "properties": {
          "A1": {
            "$ref": "#/components/schemas/ap_iot_output",
            "description": "Analog-capable IoT pin A1 output settings"
          },
          "A2": {
            "$ref": "#/components/schemas/ap_iot_output",
            "description": "Analog-capable IoT pin A2 output settings"
          },
          "A3": {
            "$ref": "#/components/schemas/ap_iot_output",
            "description": "Analog-capable IoT pin A3 output settings"
          },
          "A4": {
            "$ref": "#/components/schemas/ap_iot_output",
            "description": "Analog-capable IoT pin A4 output settings"
          },
          "DI1": {
            "$ref": "#/components/schemas/ap_iot_input",
            "description": "Digital input pin DI1 settings"
          },
          "DI2": {
            "$ref": "#/components/schemas/ap_iot_input",
            "description": "Digital input pin DI2 settings"
          },
          "DO": {
            "$ref": "#/components/schemas/ap_iot_output",
            "description": "Digital output pin DO settings"
          }
        },
        "type": "object"
      },
      "ap_iot_input": {
        "additionalProperties": false,
        "description": "IoT Input AP settings",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether to enable a pin",
            "type": "boolean"
          },
          "name": {
            "description": "Optional; descriptive pin name",
            "examples": [
              "motion"
            ],
            "type": "string"
          },
          "pullup": {
            "$ref": "#/components/schemas/ap_iot_pullup",
            "description": "Selects the pull-up resistor mode applied to the input pin"
          }
        },
        "type": "object"
      },
      "ap_iot_output": {
        "additionalProperties": false,
        "description": "IoT output AP settings",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether to enable a pin",
            "type": "boolean"
          },
          "name": {
            "description": "Optional; descriptive pin name",
            "examples": [
              "motion"
            ],
            "type": "string"
          },
          "output": {
            "description": "Whether the pin is configured as an output. DO and A1-A4 can be repurposed by changing",
            "examples": [
              true
            ],
            "type": "boolean"
          },
          "pullup": {
            "$ref": "#/components/schemas/ap_iot_pullup",
            "description": "Selects the pull-up resistor mode applied to the output pin"
          },
          "value": {
            "description": "Output pin signal level, default 0",
            "examples": [
              0
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_iot_pullup": {
        "default": "none",
        "description": "the type of pull-up the pin uses. enum: `external`, `internal`, `none`",
        "enum": [
          "external",
          "internal",
          "none"
        ],
        "type": "string"
      },
      "ap_ip_config": {
        "additionalProperties": false,
        "description": "Management IP addressing settings for an access point",
        "properties": {
          "dns": {
            "$ref": "#/components/schemas/ap_ip_config_dns",
            "description": "If `type`==`static`. DNS server IP addresses for AP management traffic"
          },
          "dns_suffix": {
            "$ref": "#/components/schemas/ap_ip_config_dns_suffix",
            "description": "If `type`==`static`. DNS search suffixes applied to AP management lookups"
          },
          "gateway": {
            "description": "Required if `type`==`static`. IPv4 default gateway for AP management traffic",
            "examples": [
              "10.2.1.254"
            ],
            "format": "ipv4",
            "type": "string"
          },
          "gateway6": {
            "description": "Required if `type6`==`static`. IPv6 default gateway for AP management traffic when static IPv6 addressing is used",
            "examples": [
              "2607:f8b0:4005:808::1"
            ],
            "format": "ipv6",
            "type": "string"
          },
          "ip": {
            "description": "Required if `type`==`static`. Static IPv4 address for the AP management interface",
            "examples": [
              "10.2.1.1"
            ],
            "format": "ipv4",
            "type": "string"
          },
          "ip6": {
            "description": "Required if `type6`==`static`. Static IPv6 address for the AP management interface",
            "examples": [
              "2607:f8b0:4005:808::2004"
            ],
            "format": "ipv6",
            "type": "string"
          },
          "mtu": {
            "description": "Maximum transmission unit for AP management traffic",
            "examples": [
              0
            ],
            "type": "integer"
          },
          "netmask": {
            "description": "Required if `type`==`static`. IPv4 netmask for the AP management interface",
            "examples": [
              "255.255.255.0"
            ],
            "type": "string"
          },
          "netmask6": {
            "description": "Required if `type6`==`static`. IPv6 prefix length for the AP management interface",
            "examples": [
              "/32"
            ],
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ip_type",
            "description": "IPv4 address assignment mode for AP management traffic"
          },
          "type6": {
            "$ref": "#/components/schemas/ip_type6",
            "description": "IPv6 address assignment mode for AP management traffic"
          },
          "vlan_id": {
            "default": 1,
            "description": "Management VLAN ID, default is 1 (untagged)",
            "examples": [
              1
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_ip_config_dns": {
        "description": "If `type`==`static`. DNS server IP addresses for AP management traffic",
        "examples": [
          [
            "8.8.8.8",
            "4.4.4.4"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "ap_ip_config_dns_suffix": {
        "description": "Required if `type`==`static`; DNS search suffixes applied to AP management lookups",
        "examples": [
          [
            ".mist.local",
            ".mist.com"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "ap_led": {
        "additionalProperties": false,
        "description": "Indicator light settings for an access point",
        "properties": {
          "brightness": {
            "default": 255,
            "description": "Indicator LED brightness level from 0 to 255",
            "examples": [
              255
            ],
            "maximum": 255,
            "minimum": 0,
            "type": "integer"
          },
          "enabled": {
            "default": true,
            "description": "Whether the AP indicator LED is enabled",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_mesh": {
        "additionalProperties": false,
        "description": "Wireless mesh settings for an access point",
        "properties": {
          "bands": {
            "$ref": "#/components/schemas/ap_mesh_bands",
            "description": "Radio bands allowed for AP mesh links"
          },
          "enabled": {
            "default": false,
            "description": "Whether mesh is enabled on this AP",
            "type": "boolean"
          },
          "group": {
            "description": "Mesh group, base AP(s) will only allow remote AP(s) in the same mesh group to join, 1-9, optional",
            "examples": [
              1
            ],
            "maximum": 9,
            "minimum": 1,
            "type": [
              "integer",
              "null"
            ]
          },
          "role": {
            "$ref": "#/components/schemas/ap_mesh_role",
            "description": "Mesh role for this AP, either base or remote"
          },
          "use_wpa3_on_5": {
            "default": false,
            "description": "Whether to use WPA3 on the 5 GHz band for mesh links",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_mesh_bands": {
        "description": "List of bands that mesh should use. For relay, the first viable one will be picked. enum: `24`, `5`, `6`",
        "items": {
          "$ref": "#/components/schemas/dot11_band"
        },
        "type": "array"
      },
      "ap_mesh_role": {
        "description": "Mesh role for this AP, either base or remote. enum: `base`, `remote`",
        "enum": [
          "base",
          "remote"
        ],
        "examples": [
          "base"
        ],
        "type": "string"
      },
      "ap_mqtt": {
        "additionalProperties": false,
        "description": "MQTT publishing configuration for an AP. Use `mqtt_topic` on individual AssetFilter entries to specify which MQTT topic each matching BLE advertisement is forwarded to. Only AssetFilters with `mqtt_topic` set are used; disabled filters and filters without `mqtt_topic` are skipped. Set `default_topic` to publish advertisements that match no AssetFilter to a catch-all topic, allowing MQTT to be used without configuring any AssetFilter.",
        "properties": {
          "broker_host": {
            "description": "MQTT broker hostname or IP address; required when `enabled` is `true`",
            "type": "string"
          },
          "broker_port": {
            "description": "MQTT broker port; defaults to `1883` for `tcp` and `8883` for `ssl`",
            "type": "integer"
          },
          "broker_proto": {
            "$ref": "#/components/schemas/ap_mqtt_broker_proto",
            "description": "MQTT broker transport protocol"
          },
          "default_topic": {
            "description": "Optional catch-all MQTT topic; BLE advertisements matching no AssetFilter are published here",
            "examples": [
              "mist/asset/raw"
            ],
            "type": "string"
          },
          "enabled": {
            "default": false,
            "description": "Whether to enable MQTT publishing",
            "type": "boolean"
          },
          "format": {
            "$ref": "#/components/schemas/ap_mqtt_format",
            "description": "Payload format for published messages"
          },
          "password": {
            "description": "Optional MQTT password; masked in GET responses",
            "format": "password",
            "type": "string"
          },
          "username": {
            "description": "Optional MQTT username",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ap_mqtt_broker_proto": {
        "default": "tcp",
        "description": "MQTT broker transport protocol. enum: `ssl`, `tcp`",
        "enum": [
          "ssl",
          "tcp"
        ],
        "type": "string"
      },
      "ap_mqtt_format": {
        "default": "raw",
        "description": "Payload format for MQTT published messages. enum: `json`, `raw`",
        "enum": [
          "json",
          "raw"
        ],
        "type": "string"
      },
      "ap_port_config": {
        "additionalProperties": false,
        "description": "Ethernet port behavior settings for an access point",
        "properties": {
          "disabled": {
            "default": false,
            "description": "Whether this AP Ethernet port is disabled",
            "type": "boolean"
          },
          "dynamic_vlan": {
            "$ref": "#/components/schemas/ap_port_config_dynamic_vlan",
            "description": "RADIUS-assigned VLAN settings for AP port authentication"
          },
          "enable_mac_auth": {
            "default": false,
            "description": "Whether MAC authentication is enabled on this AP port",
            "type": "boolean"
          },
          "forwarding": {
            "$ref": "#/components/schemas/ap_port_config_forwarding",
            "description": "Traffic forwarding mode for this AP Ethernet port"
          },
          "mac_auth_preferred": {
            "default": false,
            "description": "When `true`, we'll do dot1x then mac_auth. enable this to prefer mac_auth",
            "type": "boolean"
          },
          "mac_auth_protocol": {
            "$ref": "#/components/schemas/ap_port_config_mac_auth_protocol",
            "description": "Protocol used for MAC authentication when `enable_mac_auth` is `true`"
          },
          "mist_nac": {
            "$ref": "#/components/schemas/wlan_mist_nac",
            "description": "Juniper Mist NAC settings used by AP port authentication"
          },
          "mx_tunnel_id": {
            "default": "",
            "description": "If `forwarding`==`mxtunnel`, vlan_ids comes from mxtunnel",
            "examples": [
              "08cd7499-5841-51c8-e663-fb16b6f3b45e"
            ],
            "format": "uuid",
            "type": "string"
          },
          "mxtunnel_name": {
            "default": "",
            "description": "If `forwarding`==`site_mxedge`, vlan_ids comes from site_mxedge (`mxtunnel` under site setting)",
            "type": "string"
          },
          "port_auth": {
            "$ref": "#/components/schemas/ap_port_config_port_auth",
            "description": "Authentication mode for this AP Ethernet port"
          },
          "port_vlan_id": {
            "description": "If `forwarding`==`limited`. VLAN ID allowed on this AP Ethernet port",
            "examples": [
              1
            ],
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          },
          "radius_config": {
            "$ref": "#/components/schemas/radius_config",
            "description": "RADIUS authentication and accounting settings for this AP port"
          },
          "radsec": {
            "$ref": "#/components/schemas/radsec",
            "description": "TLS-secured RADIUS settings for this AP port"
          },
          "vlan_id": {
            "description": "Optional to specify the VLAN ID for a tunnel if forwarding is for `wxtunnel`, `mxtunnel` or `site_mxedge`.\n  * if vlan_id is not specified then it will use first one in vlan_ids[] of the mxtunnel.\n  * if forwarding == site_mxedge, vlan_ids comes from site_mxedge (`mxtunnel` under site setting)",
            "examples": [
              9
            ],
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          },
          "vlan_ids": {
            "description": "If `forwarding`==`limited`, comma separated list of additional VLAN IDs allowed on this port",
            "examples": [
              "10,20,30"
            ],
            "type": "string"
          },
          "wxtunnel_id": {
            "default": "",
            "description": "If `forwarding`==`wxtunnel`, the port is bridged to the vlan of the session",
            "examples": [
              "7dae216d-7c98-a51b-e068-dd7d477b7216"
            ],
            "format": "uuid",
            "type": "string"
          },
          "wxtunnel_remote_id": {
            "default": "",
            "description": "If `forwarding`==`wxtunnel`, the port is bridged to the vlan of the session",
            "examples": [
              "wifiguest"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "ap_port_config_dynamic_vlan": {
        "additionalProperties": false,
        "description": "Dynamic VLAN assignment settings for AP port authentication",
        "properties": {
          "default_vlan_id": {
            "description": "Fallback VLAN ID used when RADIUS does not return a dynamic VLAN match",
            "examples": [
              999
            ],
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          },
          "enabled": {
            "description": "Whether dynamic VLAN assignment is enabled for this AP port",
            "type": "boolean"
          },
          "type": {
            "$ref": "#/components/schemas/ap_port_config_dynamic_vlan_type",
            "description": "Mapping mode for interpreting dynamic VLAN attributes returned by RADIUS"
          },
          "vlans": {
            "additionalProperties": {
              "type": [
                "string",
                "null"
              ]
            },
            "description": "Mapping entries for RADIUS-assigned VLAN values on this AP port. For `type`==`airespace-interface-name`, the property key is the Airespace interface name returned by RADIUS (e.g. \"guest\"), and the value is the corresponding VLAN ID (e.g. 100). For `type`==`standard`, the property key is the VLAN ID number returned by RADIUS, and the value is ignored.",
            "examples": [
              {
                "1-10": null,
                "user": 10
              }
            ],
            "type": "object"
          }
        },
        "type": "object"
      },
      "ap_port_config_dynamic_vlan_type": {
        "description": "Mapping mode for interpreting dynamic VLAN attributes returned by RADIUS.\\ \\ enum: `airespace-interface-name`, where the VLAN is determined by parsing\\ \\ the RADIUS attribute as an Airespace interface name (e.g. \"guest\"\\ \\ would map to VLAN 100), or `standard`, where the VLAN is determined by parsing\\ \\ the RADIUS attribute as a standard VLAN ID number",
        "enum": [
          "airespace-interface-name",
          "standard"
        ],
        "type": "string"
      },
      "ap_port_config_forwarding": {
        "default": "all",
        "description": "enum: \n  * `all`: local breakout, All VLANs\n  * `limited`: local breakout, only the VLANs configured in `port_vlan_id` and `vlan_ids`\n  * `mxtunnel`: central breakout to an Org Mist Edge (requires `mxtunnel_id`)\n  * `site_mxedge`: central breakout to a Site Mist Edge (requires `mxtunnel_name`)\n  * `wxtunnel`': central breakout to an Org WxTunnel (requires `wxtunnel_id`)",
        "enum": [
          "all",
          "limited",
          "mxtunnel",
          "site_mxedge",
          "wxtunnel"
        ],
        "examples": [
          "all"
        ],
        "type": "string"
      },
      "ap_port_config_mac_auth_protocol": {
        "default": "pap",
        "description": "if `enable_mac_auth`==`true`, allows user to select an authentication protocol. enum: `eap-md5`, `eap-peap`, `pap`",
        "enum": [
          "eap-md5",
          "eap-peap",
          "pap"
        ],
        "type": "string"
      },
      "ap_port_config_port_auth": {
        "default": "none",
        "description": "When doing port auth. enum: `dot1x`, `none`",
        "enum": [
          "dot1x",
          "none"
        ],
        "examples": [
          "none"
        ],
        "type": "string"
      },
      "ap_pwr_config": {
        "additionalProperties": false,
        "description": "Power negotiation and peripheral power settings for an AP or AP profile",
        "properties": {
          "base": {
            "default": 0,
            "description": "Additional power to request during negotiating with PSE over PoE, in mW",
            "examples": [
              2000
            ],
            "type": "integer"
          },
          "prefer_usb_over_wifi": {
            "default": false,
            "description": "Whether to enable power out to peripheral, meanwhile will reduce power to Wi-Fi (only for AP45 at power mode)",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_radio": {
        "additionalProperties": false,
        "description": "Radio configuration settings for an access point",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "description": "Whether RRM can be disabled for individual radio-band settings",
            "type": "boolean"
          },
          "ant_gain_24": {
            "description": "Antenna gain for 2.4G - for models with external antenna only",
            "examples": [
              4
            ],
            "minimum": 0,
            "type": "integer"
          },
          "ant_gain_5": {
            "description": "Antenna gain for 5G - for models with external antenna only",
            "examples": [
              5
            ],
            "minimum": 0,
            "type": "integer"
          },
          "ant_gain_6": {
            "description": "Antenna gain for 6G - for models with external antenna only",
            "examples": [
              5
            ],
            "minimum": 0,
            "type": "integer"
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/ap_radio_antenna_mode",
            "description": "Selected radio chain mode for AP models that support antenna mode control"
          },
          "antenna_select": {
            "$ref": "#/components/schemas/antenna_select",
            "description": "Internal or external antenna selection for AP models with selectable antennas"
          },
          "band_24": {
            "$ref": "#/components/schemas/ap_radio_band24",
            "description": "2.4 GHz radio settings for this access point"
          },
          "band_24_usage": {
            "$ref": "#/components/schemas/radio_band_24_usage",
            "description": "Radio usage mode for the 2.4 GHz-capable radio"
          },
          "band_5": {
            "$ref": "#/components/schemas/ap_radio_band5",
            "description": "5 GHz radio settings for this access point"
          },
          "band_5_on_24_radio": {
            "$ref": "#/components/schemas/ap_radio_band5",
            "description": "5 GHz settings used when the 2.4 GHz radio operates in 5 GHz mode"
          },
          "band_6": {
            "$ref": "#/components/schemas/ap_radio_band6",
            "description": "6 GHz radio settings for this access point"
          },
          "full_automatic_rrm": {
            "default": false,
            "description": "Let RRM control everything, only the `channels` and `ant_gain` will be honored (i.e. disabled/bandwidth/power/band_24_usage are all controlled by RRM)",
            "type": "boolean"
          },
          "indoor_use": {
            "default": false,
            "description": "To make an outdoor operate indoor. For an outdoor-ap, some channels are disallowed by default, this allows the user to use it as an indoor-ap",
            "type": "boolean"
          },
          "rrm_managed": {
            "description": "Enable RRM to manage all radio settings (ignores all band_xxx configs)",
            "type": "boolean"
          },
          "scanning_enabled": {
            "description": "Whether scanning radio is enabled",
            "examples": [
              true
            ],
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_radio_antenna_mode": {
        "default": "default",
        "description": "enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`",
        "enum": [
          "1x1",
          "2x2",
          "3x3",
          "4x4",
          "default"
        ],
        "type": "string"
      },
      "ap_radio_band24": {
        "additionalProperties": false,
        "description": "2.4 GHz radio settings for an access point",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "description": "Whether RRM may disable the 2.4 GHz radio when optimizing RF settings",
            "type": "boolean"
          },
          "ant_gain": {
            "default": 0,
            "description": "External antenna gain for the 2.4 GHz radio",
            "maximum": 10,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/radio_band_antenna_mode",
            "description": "Radio chain mode for the 2.4 GHz radio"
          },
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth24",
            "description": "Channel width configured for the 2.4 GHz radio"
          },
          "channel": {
            "default": null,
            "description": "For Device. (primary) channel for the band, 0 means using the Site Setting",
            "examples": [
              6
            ],
            "maximum": 13,
            "minimum": 1,
            "type": [
              "integer",
              "null"
            ]
          },
          "channels": {
            "$ref": "#/components/schemas/radio_band_channels",
            "description": "Allowed channel list for the 2.4 GHz radio; null or an empty array uses automatic selection"
          },
          "disabled": {
            "default": false,
            "description": "Whether to disable the radio",
            "type": "boolean"
          },
          "power": {
            "default": null,
            "description": "Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode",
            "examples": [
              3
            ],
            "maximum": 25,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_max": {
            "description": "When power=null/unset, max tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 3,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_min": {
            "description": "When power=null/unset, min tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 3,
            "type": [
              "integer",
              "null"
            ]
          },
          "preamble": {
            "$ref": "#/components/schemas/radio_band_preamble",
            "description": "802.11 preamble mode used by the 2.4 GHz radio"
          }
        },
        "type": "object"
      },
      "ap_radio_band5": {
        "additionalProperties": false,
        "description": "5 GHz radio settings for an access point",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "description": "Whether RRM may disable the 5 GHz radio when optimizing RF settings",
            "type": "boolean"
          },
          "ant_gain": {
            "default": 0,
            "description": "External antenna gain for the 5 GHz radio",
            "maximum": 10,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "antenna_beam_pattern": {
            "$ref": "#/components/schemas/radio_band_antenna_beam_pattern",
            "description": "Beam pattern used by the 5 GHz radio antenna"
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/radio_band_antenna_mode",
            "description": "Radio chain mode for the 5 GHz radio"
          },
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth5",
            "description": "Channel width configured for the 5 GHz radio"
          },
          "channel": {
            "default": null,
            "description": "For Device. (primary) channel for the band, 0 means using the Site Setting",
            "examples": [
              100
            ],
            "type": [
              "integer",
              "null"
            ]
          },
          "channels": {
            "$ref": "#/components/schemas/radio_band_channels",
            "description": "Allowed channel list for the 5 GHz radio; null or an empty array uses automatic selection"
          },
          "disabled": {
            "default": false,
            "description": "Whether to disable the radio",
            "type": "boolean"
          },
          "power": {
            "default": null,
            "description": "Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode",
            "examples": [
              6
            ],
            "maximum": 25,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_max": {
            "description": "When power=null/unset, max tx power to use, HW-specific values will be used if not set",
            "maximum": 17,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_min": {
            "description": "When power=null/unset, min tx power to use, HW-specific values will be used if not set",
            "maximum": 17,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "preamble": {
            "$ref": "#/components/schemas/radio_band_preamble",
            "description": "802.11 preamble mode used by the 5 GHz radio"
          }
        },
        "type": "object"
      },
      "ap_radio_band6": {
        "additionalProperties": false,
        "description": "6 GHz radio settings for an access point",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "description": "Whether RRM may disable the 6 GHz radio when optimizing RF settings",
            "type": "boolean"
          },
          "ant_gain": {
            "default": 0,
            "description": "External antenna gain for the 6 GHz radio",
            "maximum": 10,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "antenna_beam_pattern": {
            "$ref": "#/components/schemas/radio_band_antenna_beam_pattern",
            "description": "Beam pattern used by the 6 GHz radio antenna"
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/radio_band_antenna_mode",
            "description": "Radio chain mode for the 6 GHz radio"
          },
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth6",
            "description": "Channel width configured for the 6 GHz radio"
          },
          "channel": {
            "default": null,
            "description": "For Device. (primary) channel for the band, 0 means using the Site Setting",
            "examples": [
              0
            ],
            "type": [
              "integer",
              "null"
            ]
          },
          "channels": {
            "$ref": "#/components/schemas/radio_band_channels",
            "description": "Allowed channel list for the 6 GHz radio; null or an empty array uses automatic selection"
          },
          "disabled": {
            "default": false,
            "description": "Whether to disable the radio",
            "type": "boolean"
          },
          "power": {
            "default": null,
            "description": "Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode",
            "examples": [
              7
            ],
            "maximum": 25,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_max": {
            "description": "When power=null/unset, max tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_min": {
            "description": "When power=null/unset, min tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "preamble": {
            "$ref": "#/components/schemas/radio_band_preamble",
            "description": "802.11 preamble mode used by the 6 GHz radio"
          },
          "standard_power": {
            "default": false,
            "description": "For 6GHz Only, standard-power operation, AFC (Automatic Frequency Coordination) will be performed, and we'll fall back to Low Power Indoor if AFC failed",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_search": {
        "additionalProperties": false,
        "description": "Access point record returned by device search endpoints",
        "properties": {
          "band_24_bandwidth": {
            "description": "Current channel bandwidth on the AP 2.4 GHz radio",
            "type": "string"
          },
          "band_24_channel": {
            "description": "Current channel on the AP 2.4 GHz radio",
            "type": "integer"
          },
          "band_24_power": {
            "description": "Current transmit power on the AP 2.4 GHz radio",
            "type": "integer"
          },
          "band_5_bandwidth": {
            "description": "Current channel bandwidth on the AP 5 GHz radio",
            "type": "string"
          },
          "band_5_channel": {
            "description": "Current channel on the AP 5 GHz radio",
            "type": "integer"
          },
          "band_5_power": {
            "description": "Current transmit power on the AP 5 GHz radio",
            "type": "integer"
          },
          "band_6_bandwidth": {
            "description": "Current channel bandwidth on the AP 6 GHz radio",
            "type": "string"
          },
          "band_6_channel": {
            "description": "Current channel on the AP 6 GHz radio",
            "type": "integer"
          },
          "band_6_power": {
            "description": "Current transmit power on the AP 6 GHz radio",
            "type": "integer"
          },
          "eth0_port_speed": {
            "description": "Port speed of eth0",
            "type": "integer"
          },
          "ext_ip": {
            "description": "External IP address observed for AP management traffic",
            "type": "string"
          },
          "hostname": {
            "$ref": "#/components/schemas/ap_search_hostnames",
            "description": "Observed hostnames detected for the AP in search results"
          },
          "inactive_wired_vlans": {
            "$ref": "#/components/schemas/ap_search_inactive_wired_vlans",
            "description": "Inactive wired VLAN IDs reported for this AP"
          },
          "ip": {
            "description": "Management IP address currently assigned to the AP",
            "type": "string"
          },
          "last_hostname": {
            "description": "Most recent hostname detected for the AP",
            "type": "string"
          },
          "lldp_mgmt_addr": {
            "description": "LLDP management IP address advertised by the upstream neighbor",
            "type": "string"
          },
          "lldp_port_desc": {
            "description": "LLDP port description advertised by the upstream neighbor",
            "type": "string"
          },
          "lldp_port_id": {
            "description": "LLDP port identifier advertised by the upstream neighbor",
            "type": "string"
          },
          "lldp_power_allocated": {
            "description": "Power allocated to the AP by LLDP, in mW",
            "type": "integer"
          },
          "lldp_power_draw": {
            "description": "Power drawn by the AP as reported through LLDP, in mW",
            "type": "integer"
          },
          "lldp_system_desc": {
            "description": "LLDP system description advertised by the upstream neighbor",
            "type": "string"
          },
          "lldp_system_name": {
            "description": "LLDP system name advertised by the upstream neighbor",
            "type": "string"
          },
          "mac": {
            "description": "Access point MAC address used to identify the AP in search results",
            "type": "string"
          },
          "model": {
            "description": "AP hardware model for this search result",
            "type": "string"
          },
          "mxedge_id": {
            "description": "Mist Edge id, if AP is connecting to a Mist Edge",
            "type": "string"
          },
          "mxedge_ids": {
            "description": "Comma separated list of Mist Edge ids, if AP is connecting to a Mist Edge",
            "type": "string"
          },
          "mxtunnel_status": {
            "description": "Current MxTunnel connection status of the AP",
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization that owns this AP search result"
          },
          "power_constrained": {
            "description": "Whether the AP is operating with insufficient power",
            "type": "boolean"
          },
          "power_opmode": {
            "description": "Operating mode reported when AP power is constrained",
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site that contains this AP search result"
          },
          "sku": {
            "description": "Hardware SKU for the AP model",
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time associated with this AP search result"
          },
          "uptime": {
            "description": "Device uptime for the AP, in seconds",
            "type": "integer"
          },
          "version": {
            "description": "Software version currently running on the AP",
            "type": "string"
          },
          "wlans": {
            "$ref": "#/components/schemas/ap_search_wlans",
            "description": "Wireless LAN summaries applied to the AP in this search result"
          }
        },
        "required": [
          "power_constrained",
          "power_opmode",
          "mxtunnel_status",
          "wlans"
        ],
        "type": "object"
      },
      "ap_search_hostnames": {
        "description": "List of hostnames detected for the AP",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "ap_search_inactive_wired_vlans": {
        "description": "Inactive wired VLAN IDs reported for an AP",
        "items": {
          "type": "integer"
        },
        "type": "array"
      },
      "ap_search_wlan": {
        "additionalProperties": false,
        "description": "WLAN summary included in an AP search result",
        "properties": {
          "id": {
            "description": "WLAN identifier included in the AP search result",
            "format": "uuid",
            "type": "string"
          },
          "ssid": {
            "description": "Wireless network SSID shown for this WLAN",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ap_search_wlans": {
        "description": "WLAN summaries included in an AP search result",
        "items": {
          "$ref": "#/components/schemas/ap_search_wlan"
        },
        "type": "array"
      },
      "ap_uplink_port_config": {
        "additionalProperties": false,
        "description": "AP Uplink port configuration",
        "properties": {
          "dot1x": {
            "default": false,
            "description": "Whether to do 802.1x against uplink switch. When enabled, AP cert will be used to do EAP-TLS and the Org's CA Cert has to be provisioned at the switch",
            "type": "boolean"
          },
          "keep_wlans_up_if_down": {
            "default": false,
            "description": "By default, WLANs are disabled when uplink is down. In some scenario, like SiteSurvey, one would want the AP to keep sending beacons.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_usb": {
        "additionalProperties": false,
        "description": "Legacy USB integration settings for an access point\n  - Note: if native imagotag is enabled, BLE will be disabled automatically\n  - Note: legacy, new config moved to ESL Config.",
        "properties": {
          "cacert": {
            "description": "Only if `type`==`imagotag`. CA certificate used to validate the Imagotag service certificate",
            "type": [
              "string",
              "null"
            ]
          },
          "channel": {
            "description": "Only if `type`==`imagotag`, channel selection, not needed by default, required for manual channel override only",
            "examples": [
              3
            ],
            "type": "integer"
          },
          "enabled": {
            "description": "Whether to enable any usb config",
            "type": "boolean"
          },
          "host": {
            "description": "Only if `type`==`imagotag`. Imagotag service host or IP address contacted by the AP",
            "examples": [
              "1.1.1.1"
            ],
            "type": "string"
          },
          "port": {
            "default": 0,
            "description": "Only if `type`==`imagotag`. TCP port used to reach the Imagotag service",
            "examples": [
              0
            ],
            "type": "integer"
          },
          "type": {
            "$ref": "#/components/schemas/ap_usb_type",
            "description": "USB integration type for this legacy AP USB configuration"
          },
          "verify_cert": {
            "description": "Only if `type`==`imagotag`, whether to turn on SSL verification",
            "type": "boolean"
          },
          "vlan_id": {
            "default": 1,
            "description": "Only if `type`==`solum` or `type`==`hanshow`",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_usb_type": {
        "description": "usb config type. enum: `hanshow`, `imagotag`, `solum`",
        "enum": [
          "hanshow",
          "imagotag",
          "solum"
        ],
        "examples": [
[...]
