{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Stats - Devices",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to retrieve statistics about the Mist Managed and Monitored Devices at the Site level",
      "name": "Sites Stats - Devices"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/stats/devices": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "List device statistics for a site, including high-level status and performance fields over the requested time range. Use [List Org Device Stats](/#operations/listOrgDevicesStats) to retrieve device statistics across the organization.",
        "operationId": "listSiteDevicesStats",
        "parameters": [
          {
            "description": "Filter results by type",
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/device_type_with_all"
            }
          },
          {
            "description": "Filter results by status. enum: `all`, `connected`, `disconnected`",
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/stat_device_status_filter"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DevicesArrayStatsSite"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteDevicesStats",
        "tags": [
          "Sites Stats - Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/stats/devices/{device_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "get": {
        "description": "Get Site Device Stats Details",
        "operationId": "getSiteDeviceStats",
        "parameters": [
          {
            "$ref": "#/components/parameters/fields"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceStats"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteDeviceStats",
        "tags": [
          "Sites Stats - Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/stats/devices/{device_id}/clients": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "get": {
        "description": "Get wireless client stat by Device",
        "operationId": "getSiteAllClientsStatsByDevice",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stats_wireless_clients"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteAllClientsStatsByDevice",
        "tags": [
          "Sites Stats - Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/stats/gateways/metrics": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get Site Gateway Metrics",
        "operationId": "getSiteGatewayMetrics",
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayMetrics"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteGatewayMetrics",
        "tags": [
          "Sites Stats - Devices"
        ]
      }
    },
    "/api/v1/sites/{site_id}/stats/switches/metrics": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get version compliance metrics for managed or monitored switches",
        "operationId": "getSiteSwitchesMetrics",
        "parameters": [
          {
            "description": "Filter results by type. enum: `active_ports_summary`",
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/switch_metric_type"
            }
          },
          {
            "description": "Filter results by scope. enum: `site`, `switch`",
            "in": "query",
            "name": "scope",
            "schema": {
              "$ref": "#/components/schemas/switch_metric_scope"
            }
          },
          {
            "description": "Switch mac, used only with metric `type`==`active_ports_summary`",
            "in": "query",
            "name": "switch_mac",
            "schema": {
              "examples": [
                "5c5b350e0410"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SwitchMetrics"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSwitchesMetrics",
        "tags": [
          "Sites Stats - Devices"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "antenna_select": {
        "description": "Antenna Mode for AP which supports selectable antennas. enum: `\"\"` (default), `external`, `internal`",
        "enum": [
          "",
          "external",
          "internal"
        ],
        "examples": [
          "external"
        ],
        "type": "string"
      },
      "ap_ip_config": {
        "additionalProperties": false,
        "description": "Management IP addressing settings for an access point",
        "properties": {
          "dns": {
            "$ref": "#/components/schemas/ap_ip_config_dns",
            "description": "If `type`==`static`. DNS server IP addresses for AP management traffic"
          },
          "dns_suffix": {
            "$ref": "#/components/schemas/ap_ip_config_dns_suffix",
            "description": "If `type`==`static`. DNS search suffixes applied to AP management lookups"
          },
          "gateway": {
            "description": "Required if `type`==`static`. IPv4 default gateway for AP management traffic",
            "examples": [
              "10.2.1.254"
            ],
            "format": "ipv4",
            "type": "string"
          },
          "gateway6": {
            "description": "Required if `type6`==`static`. IPv6 default gateway for AP management traffic when static IPv6 addressing is used",
            "examples": [
              "2607:f8b0:4005:808::1"
            ],
            "format": "ipv6",
            "type": "string"
          },
          "ip": {
            "description": "Required if `type`==`static`. Static IPv4 address for the AP management interface",
            "examples": [
              "10.2.1.1"
            ],
            "format": "ipv4",
            "type": "string"
          },
          "ip6": {
            "description": "Required if `type6`==`static`. Static IPv6 address for the AP management interface",
            "examples": [
              "2607:f8b0:4005:808::2004"
            ],
            "format": "ipv6",
            "type": "string"
          },
          "mtu": {
            "description": "Maximum transmission unit for AP management traffic",
            "examples": [
              0
            ],
            "type": "integer"
          },
          "netmask": {
            "description": "Required if `type`==`static`. IPv4 netmask for the AP management interface",
            "examples": [
              "255.255.255.0"
            ],
            "type": "string"
          },
          "netmask6": {
            "description": "Required if `type6`==`static`. IPv6 prefix length for the AP management interface",
            "examples": [
              "/32"
            ],
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/ip_type",
            "description": "IPv4 address assignment mode for AP management traffic"
          },
          "type6": {
            "$ref": "#/components/schemas/ip_type6",
            "description": "IPv6 address assignment mode for AP management traffic"
          },
          "vlan_id": {
            "default": 1,
            "description": "Management VLAN ID, default is 1 (untagged)",
            "examples": [
              1
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_ip_config_dns": {
        "description": "If `type`==`static`. DNS server IP addresses for AP management traffic",
        "examples": [
          [
            "8.8.8.8",
            "4.4.4.4"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "ap_ip_config_dns_suffix": {
        "description": "Required if `type`==`static`; DNS search suffixes applied to AP management lookups",
        "examples": [
          [
            ".mist.local",
            ".mist.com"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "ap_led": {
        "additionalProperties": false,
        "description": "Indicator light settings for an access point",
        "properties": {
          "brightness": {
            "default": 255,
            "description": "Indicator LED brightness level from 0 to 255",
            "examples": [
              255
            ],
            "maximum": 255,
            "minimum": 0,
            "type": "integer"
          },
          "enabled": {
            "default": true,
            "description": "Whether the AP indicator LED is enabled",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_radio_stat": {
        "additionalProperties": false,
        "description": "Runtime radio statistics for an access point radio",
        "properties": {
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth",
            "description": "Current channel width reported for this radio"
          },
          "channel": {
            "description": "Current channel the radio is running on",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "dynamic_chaining_enabled": {
            "description": "Use dynamic chaining for downlink",
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "mac": {
            "description": "Radio base MAC address; a base radio MAC can represent up to 16 BSSIDs (e.g. 5c5b350001a0-5c5b350001af)",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "noise_floor": {
            "description": "Measured noise floor for this radio, in dBm",
            "examples": [
              -90
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "num_clients": {
            "description": "Number of clients currently connected on this radio",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "num_wlans": {
            "description": "How many WLANs are applied to the radio",
            "type": "integer"
          },
          "power": {
            "description": "Transmit power (in dBm)",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes",
            "description": "Received byte count reported for this radio"
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts",
            "description": "Received packet count reported for this radio"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes",
            "description": "Transmitted byte count reported for this radio"
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts",
            "description": "Transmitted packet count reported for this radio"
          },
          "usage": {
            "description": "Operating band reported for this radio, such as 24, 5, or 6",
            "examples": [
              "24"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "util_all": {
            "description": "All utilization in percentage",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "util_non_wifi": {
            "description": "Reception of \"No Packets\" utilization in percentage, received frames with invalid PLCPs and CRS glitches as noise",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "util_rx_in_bss": {
            "description": "Reception of \"In BSS\" utilization in percentage, only frames that are received from AP/STAs within the BSS",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "util_rx_other_bss": {
            "description": "Reception of \"Other BSS\" utilization in percentage, all frames received from AP/STAs that are outside the BSS",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "util_tx": {
            "description": "Transmission utilization in percentage",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "util_undecodable_wifi": {
            "description": "Reception of \"UnDecodable Wifi\" utilization in percentage, only Preamble, PLCP header is decoded, Rest is undecodable in this radio",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "util_unknown_wifi": {
            "description": "Reception of \"No Category\" utilization in percentage, all 802.11 frames that are corrupted at the receiver",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "ap_redundancy": {
        "additionalProperties": false,
        "description": "AP switch redundancy coverage summary",
        "properties": {
          "modules": {
            "$ref": "#/components/schemas/ap_redundancy_modules",
            "description": "Per-module AP redundancy counts keyed by switch node ID"
          },
          "num_aps": {
            "description": "Total number of APs considered for switch redundancy",
            "examples": [
              15
            ],
            "type": "integer"
          },
          "num_aps_with_switch_redundancy": {
            "description": "Number of APs that have switch redundancy coverage",
            "examples": [
              8
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_redundancy_module": {
        "additionalProperties": false,
        "description": "AP switch redundancy counts for one VC member",
        "properties": {
          "num_aps": {
            "description": "Total number of APs connected through this VC member",
            "examples": [
              15
            ],
            "type": "integer"
          },
          "num_aps_with_switch_redundancy": {
            "description": "Number of APs on this VC member with switch redundancy coverage",
            "examples": [
              8
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "ap_redundancy_modules": {
        "additionalProperties": {
          "$ref": "#/components/schemas/ap_redundancy_module"
        },
        "description": "Property key is the node id",
        "type": "object"
      },
      "ap_stat_mesh_downlink": {
        "additionalProperties": false,
        "description": "Runtime statistics for a mesh downlink from this AP",
        "properties": {
          "band": {
            "description": "Radio band used by this mesh downlink",
            "examples": [
              "5"
            ],
            "type": "string"
          },
          "channel": {
            "description": "Radio channel used by this mesh downlink",
            "examples": [
              36
            ],
            "type": "integer"
          },
          "idle_time": {
            "description": "Seconds since traffic was last observed on this mesh downlink",
            "examples": [
              3
            ],
            "type": "integer"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen",
            "description": "Timestamp when this mesh downlink was last observed"
          },
          "proto": {
            "description": "802.11 protocol reported for this mesh downlink",
            "examples": [
              "n"
            ],
            "type": "string"
          },
          "rssi": {
            "description": "Received signal strength for this mesh downlink, in dBm",
            "examples": [
              -65
            ],
            "type": "integer"
          },
          "rx_bps": {
            "$ref": "#/components/schemas/rx_bps",
            "description": "Inbound throughput on this mesh downlink, in bits per second"
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes",
            "description": "Inbound byte count for this mesh downlink"
          },
          "rx_packets": {
            "$ref": "#/components/schemas/rx_pkts",
            "description": "Inbound packet count for this mesh downlink"
          },
          "rx_rate": {
            "$ref": "#/components/schemas/rx_rate",
            "description": "Inbound data rate reported for this mesh downlink"
          },
          "rx_retries": {
            "$ref": "#/components/schemas/rx_retries",
            "description": "Inbound retry count reported for this mesh downlink"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site associated with this mesh downlink statistic"
          },
          "snr": {
            "description": "Signal-to-noise ratio for this mesh downlink, in dB",
            "examples": [
              31
            ],
            "type": "integer"
          },
          "tx_bps": {
            "$ref": "#/components/schemas/tx_bps",
            "description": "Outbound throughput on this mesh downlink, in bits per second"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes",
            "description": "Outbound byte count for this mesh downlink"
          },
          "tx_packets": {
            "$ref": "#/components/schemas/tx_pkts",
            "description": "Outbound packet count for this mesh downlink"
          },
          "tx_rate": {
            "$ref": "#/components/schemas/tx_rate",
            "description": "Outbound data rate reported for this mesh downlink"
          },
          "tx_retries": {
            "$ref": "#/components/schemas/tx_retries",
            "description": "Outbound retry count reported for this mesh downlink"
          }
        },
        "type": "object"
      },
      "ap_stat_mesh_uplink": {
        "additionalProperties": false,
        "description": "Runtime statistics for this AP's mesh uplink",
        "properties": {
          "band": {
            "description": "Radio band used by this mesh uplink",
            "examples": [
              "5"
            ],
            "type": "string"
          },
          "channel": {
            "description": "Radio channel used by this mesh uplink",
            "examples": [
              36
            ],
            "type": "integer"
          },
          "idle_time": {
            "description": "Seconds since traffic was last observed on this mesh uplink",
            "examples": [
              3
            ],
            "type": "integer"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen",
            "description": "Timestamp when this mesh uplink was last observed"
          },
          "proto": {
            "description": "802.11 protocol reported for this mesh uplink",
            "examples": [
              "n"
            ],
            "type": "string"
          },
          "rssi": {
            "description": "Received signal strength for this mesh uplink, in dBm",
            "examples": [
              -65
            ],
            "type": "integer"
          },
          "rx_bps": {
            "$ref": "#/components/schemas/rx_bps",
            "description": "Inbound throughput on this mesh uplink, in bits per second"
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes",
            "description": "Inbound byte count for this mesh uplink"
          },
          "rx_packets": {
            "$ref": "#/components/schemas/rx_pkts",
            "description": "Inbound packet count for this mesh uplink"
          },
          "rx_rate": {
            "$ref": "#/components/schemas/rx_rate",
            "description": "Inbound data rate reported for this mesh uplink"
          },
          "rx_retries": {
            "$ref": "#/components/schemas/rx_retries",
            "description": "Inbound retry count reported for this mesh uplink"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site associated with this mesh uplink statistic"
          },
          "snr": {
            "description": "Signal-to-noise ratio for this mesh uplink, in dB",
            "examples": [
              31
            ],
            "type": "integer"
          },
          "tx_bps": {
            "$ref": "#/components/schemas/tx_bps",
            "description": "Outbound throughput on this mesh uplink, in bits per second"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes",
            "description": "Outbound byte count for this mesh uplink"
          },
          "tx_packets": {
            "$ref": "#/components/schemas/tx_pkts",
            "description": "Outbound packet count for this mesh uplink"
          },
          "tx_rate": {
            "$ref": "#/components/schemas/tx_rate",
            "description": "Outbound data rate reported for this mesh uplink"
          },
          "tx_retries": {
            "$ref": "#/components/schemas/tx_retries",
            "description": "Outbound retry count reported for this mesh uplink"
          },
          "uplink_ap_id": {
            "description": "Identifier of the upstream AP for this mesh uplink",
            "examples": [
              "00000000-0000-0000-1000-5c5b35000010"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "arp_table_stats": {
        "additionalProperties": false,
        "description": "ARP table usage and capacity statistics",
        "properties": {
          "arp_table_count": {
            "description": "Number of ARP table entries currently present on the device",
            "type": "integer"
          },
          "max_entries_supported": {
            "description": "Supported ARP table capacity for the device",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "bgp_as": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4294967294,
            "minimum": 1,
            "type": "integer"
          }
        ],
        "description": "BGP AS, value in range 1-4294967294. Can be a Variable (e.g. `{{bgp_as}}` )",
        "examples": [
          65000
        ]
      },
      "bgp_peer": {
        "additionalProperties": false,
        "description": "Only present when `bgp_peers` in `fields` query parameter",
        "properties": {
          "evpn_overlay": {
            "description": "If this is created for evpn overlay",
            "type": "boolean"
          },
          "for_overlay": {
            "description": "If this is created for overlay",
            "type": "boolean"
          },
          "local_as": {
            "$ref": "#/components/schemas/bgp_as",
            "description": "Local Autonomous System (AS) number used by this BGP session"
          },
          "neighbor": {
            "description": "IP address of the BGP neighbor",
            "examples": [
              "15.8.3.5"
            ],
            "type": "string"
          },
          "neighbor_as": {
            "$ref": "#/components/schemas/bgp_as",
            "description": "Autonomous System (AS) number of the BGP neighbor"
          },
          "neighbor_mac": {
            "description": "MAC address of the BGP neighbor when it is another device in the same organization",
            "examples": [
              "020001c04600"
            ],
            "type": "string"
          },
          "node": {
            "description": "HA node reporting this BGP peer, such as node0 or node1",
            "examples": [
              "node0"
            ],
            "type": "string"
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts",
            "description": "Packets received from this BGP neighbor"
          },
          "rx_routes": {
            "description": "Number of received routes",
            "examples": [
              60
            ],
            "type": "integer"
          },
          "state": {
            "$ref": "#/components/schemas/bgp_stats_state",
            "description": "Current state of the BGP session"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when these BGP peer stats were sampled"
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts",
            "description": "Packets sent to this BGP neighbor"
          },
          "tx_routes": {
            "description": "Number of routes advertised to this BGP neighbor",
            "examples": [
              60
            ],
            "type": "integer"
          },
          "up": {
            "description": "Whether the BGP session is currently up",
            "type": "boolean"
          },
          "uptime": {
            "description": "Number of seconds the BGP session has been up",
            "examples": [
              31355
            ],
            "type": "integer"
          },
          "vrf_name": {
            "description": "VRF name associated with this BGP session",
            "examples": [
              "default"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "bgp_peers": {
        "description": "Only present when `bgp_peers` in `fields` query parameter. Each port object is same as `GET /api/v1/sites/{site_id}/stats/bgp_peers/search` result object, except that org_id, site_id, mac, model are removed",
        "items": {
          "$ref": "#/components/schemas/bgp_peer"
        },
        "type": "array"
      },
      "bgp_stats_state": {
        "description": "enum: `active`, `connect`, `established`, `idle`, `open_config`, `open_sent`",
        "enum": [
          "active",
          "connect",
          "established",
          "idle",
          "open_config",
          "open_sent"
        ],
        "examples": [
          "established"
        ],
        "type": "string"
      },
      "const_device_type_ap": {
        "description": "Device Type. enum: `ap`",
        "enum": [
          "ap"
        ],
        "readOnly": true,
        "type": "string"
      },
      "const_device_type_gateway": {
        "description": "Device Type. enum: `gateway`",
        "enum": [
          "gateway"
        ],
        "readOnly": true,
        "type": "string"
      },
      "cpu_stat": {
        "additionalProperties": false,
        "description": "CPU utilization breakdown for a device",
        "properties": {
          "idle": {
            "description": "Percentage of CPU time that is idle",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "interrupt": {
            "description": "Percentage of CPU time being used by interrupts",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "load_avg": {
            "$ref": "#/components/schemas/cpu_stat_load_avg",
            "description": "Load averages for the last 1, 5, and 15 minutes"
          },
          "system": {
            "description": "Percentage of CPU time being used by system processes",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "usage": {
            "description": "Overall CPU usage percentage",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "user": {
            "description": "Percentage of CPU time being used by user processes",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "cpu_stat_load_avg": {
        "description": "Load averages for the last 1, 5, and 15 minutes",
        "items": {
          "type": "number"
        },
        "type": "array"
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "device_type_switch": {
        "description": "Device Type. enum: `switch`",
        "enum": [
          "switch"
        ],
        "type": "string"
      },
      "device_type_with_all": {
        "default": "ap",
        "description": "ap, switch, gateway, router, all, default is ap. Supports comma-separated values for multiple types (e.g., type=switch,gateway)",
        "type": "string"
      },
      "dhcpd_stat": {
        "additionalProperties": {
          "$ref": "#/components/schemas/dhcpd_stat_lan"
        },
        "description": "Property key is the network name",
        "type": "object"
      },
      "dhcpd_stat_lan": {
        "additionalProperties": false,
        "description": "DHCP lease statistics for one network",
        "properties": {
          "num_ips": {
            "description": "Total number of IP addresses in the DHCP pool",
            "examples": [
              100
            ],
            "type": "integer"
          },
          "num_leased": {
            "description": "Number of DHCP pool addresses currently leased",
            "examples": [
              20
            ],
            "type": "integer"
          }
        },
        "type": "object"
      },
      "dot11_band": {
        "description": "enum: `24`, `5`, `5-dedicated`, `5-selectable`, `6`, `6-dedicated`, `6-selectable`",
        "enum": [
          "24",
          "5",
          "5-dedicated",
          "5-selectable",
          "6",
          "6-dedicated",
          "6-selectable"
        ],
        "type": "string"
      },
      "dot11_bandwidth": {
        "description": "channel width for the band.enum: `0`(disabled, response only), `20`, `40`, `80` (only applicable for band_5 and band_6), `160` (only for band_6)",
        "enum": [
          0,
          20,
          40,
          80,
          160
        ],
        "examples": [
          20
        ],
        "type": "integer"
      },
      "dot11_proto": {
        "description": "enum: `a`, `ac`, `ax`, `b`, `be`, `g`, `n`",
        "enum": [
          "a",
          "ac",
          "ax",
          "b",
          "be",
          "g",
          "n"
        ],
        "type": "string"
      },
      "fwupdate_stat": {
        "additionalProperties": false,
        "description": "Firmware update status for a device",
        "properties": {
          "progress": {
            "description": "Firmware update progress percentage, or null when unavailable",
            "examples": [
              10
            ],
            "maximum": 100,
            "minimum": 0,
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/fwupdate_stat_status",
            "description": "Current firmware update status"
          },
          "status_id": {
            "description": "Numeric firmware update status identifier",
            "examples": [
              5
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when the firmware update status was last updated"
          },
          "will_retry": {
            "description": "Whether the firmware update process will retry after the current status",
            "examples": [
              false
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "fwupdate_stat_status": {
        "description": "enum: `inprogress`, `failed`, `upgraded`, `success`, `scheduled`, `error`",
        "enum": [
          "inprogress",
          "failed",
          "upgraded",
          "success",
          "scheduled",
          "error"
        ],
        "readOnly": true,
        "type": [
          "string",
          "null"
        ]
      },
      "gateway_compliance_major_version": {
        "additionalProperties": {
          "$ref": "#/components/schemas/gateway_compliance_major_version_properties"
        },
        "description": "Gateway version-compliance entries keyed by gateway model",
        "type": "object"
      },
      "gateway_compliance_major_version_properties": {
        "additionalProperties": false,
        "description": "Version-compliance details for one gateway model",
        "properties": {
          "major_count": {
            "description": "Number of gateways counted in this major-version compliance entry",
            "type": "integer"
          },
          "major_version": {
            "description": "Gateway software major version represented by this compliance entry",
            "examples": [
              "19.4R2-S1.2"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "gateway_compliance_version": {
        "additionalProperties": false,
        "description": "Version compliance metric for gateway devices",
        "properties": {
          "major_version": {
            "$ref": "#/components/schemas/gateway_compliance_major_version",
            "description": "Per-model gateway major-version compliance details"
          },
          "score": {
            "description": "Gateway software version compliance score",
            "examples": [
              99.9
            ],
            "type": "number"
          },
          "type": {
            "description": "Device type represented by the gateway compliance metric",
            "examples": [
              "gateway"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "gateway_metrics": {
        "additionalProperties": false,
        "description": "Gateway metric scores returned by the site gateway metrics API",
        "properties": {
          "config_success": {
            "description": "Gateway configuration success score",
            "examples": [
              99.9
            ],
            "type": "number"
          },
          "version_compliance": {
            "$ref": "#/components/schemas/gateway_compliance_version",
            "description": "Gateway software version compliance metric"
          }
        },
        "type": "object"
      },
      "guest": {
        "description": "Guest authorization record at site scope",
        "properties": {
          "access_code_email": {
            "description": "If `auth_method`==`email`, the email address where the authorization code has been sent to",
            "readOnly": true,
            "type": "string"
          },
          "ap_mac": {
            "description": "MAC address of the AP used during guest registration",
            "readOnly": true,
            "type": "string"
          },
          "auth_method": {
            "description": "Guest authentication method used for the authorization",
            "readOnly": true,
            "type": "string"
          },
          "authorized": {
            "default": true,
            "description": "Whether the guest is currently authorized",
            "type": "boolean"
          },
          "authorized_expiring_time": {
            "description": "Unix timestamp when the guest authorization expires",
            "examples": [
              1480704955
            ],
            "readOnly": true,
            "type": "number"
          },
          "authorized_time": {
            "description": "Unix timestamp when the guest was authorized",
            "examples": [
              1480704355
            ],
            "readOnly": true,
            "type": "number"
          },
          "company": {
            "description": "Optional company name provided by the guest during registration",
            "examples": [
              "abc"
            ],
            "type": "string"
          },
          "email": {
            "description": "Optional email address provided by the guest during registration",
            "examples": [
              "john@abc.com"
            ],
            "format": "email",
            "type": "string"
          },
          "field1": {
            "description": "Optional custom field 1 value provided by the guest during registration",
            "type": "string"
          },
          "field2": {
            "description": "Optional custom field 2 value provided by the guest during registration",
            "type": "string"
          },
          "field3": {
            "description": "Optional custom field 3 value provided by the guest during registration",
            "type": "string"
          },
          "field4": {
            "description": "Optional custom field 4 value provided by the guest during registration",
            "type": "string"
          },
          "mac": {
            "description": "Device MAC address captured during guest registration",
            "readOnly": true,
            "type": "string"
          },
          "minutes": {
            "default": 1440,
            "description": "Authorization duration, in minutes. Default is 1440 minutes (1 day), maximum is 259200 (180 days)",
            "maximum": 259200,
            "minimum": 0,
            "type": "integer"
          },
          "name": {
            "description": "Optional name provided by the guest during registration",
            "examples": [
              "John Smith"
            ],
            "readOnly": true,
            "type": "string"
          },
          "random_mac": {
            "description": "Whether the guest device used a randomized MAC address to connect to the SSID",
            "readOnly": true,
            "type": "boolean"
          },
          "ssid": {
            "description": "Name of the SSID",
            "examples": [
              "Guest-SSID"
            ],
            "readOnly": true,
            "type": "string"
          },
          "wlan_id": {
            "description": "Identifier of the WLAN used for the guest authorization",
            "examples": [
              "6748cfa6-4e12-11e6-9188-0242ac110007"
            ],
            "format": "uuid",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "ibeacon_major": {
        "description": "Major number for iBeacon",
        "examples": [
          1234
        ],
        "maximum": 65535,
        "minimum": 1,
        "type": [
          "integer",
          "null"
        ]
      },
      "ibeacon_minor": {
        "description": "Minor number for iBeacon",
        "examples": [
          1234
        ],
        "maximum": 65535,
        "minimum": 1,
        "type": [
          "integer",
          "null"
        ]
      },
      "ibeacon_uuid": {
        "description": "iBeacon UUID value, or null when no iBeacon UUID is configured",
        "examples": [
          "f3f17139-704a-f03a-2786-0400279e37c3"
        ],
        "format": "uuid",
        "type": [
          "string",
          "null"
        ]
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "if_stat": {
        "additionalProperties": {
          "$ref": "#/components/schemas/if_stat_property"
        },
        "description": "Property key is the interface name",
        "type": "object"
      },
      "if_stat_property": {
        "additionalProperties": false,
        "description": "Interface statistics and metadata reported by a device",
        "properties": {
          "address_mode": {
            "description": "Address assignment mode reported for the interface",
            "type": "string"
          },
          "ips": {
            "$ref": "#/components/schemas/strings",
            "description": "Interface IP addresses reported with prefix information"
          },
          "nat_addresses": {
            "$ref": "#/components/schemas/strings",
            "description": "NAT addresses associated with this interface"
          },
          "network_name": {
            "description": "Mist network name associated with this interface",
            "type": "string"
          },
          "port_id": {
            "description": "Physical or logical port identifier for this interface",
            "type": "string"
          },
          "port_usage": {
            "description": "Configured usage for this interface, such as LAN or WAN",
            "type": "string"
          },
          "redundancy_state": {
            "description": "Redundancy state reported for this interface",
            "type": "string"
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes",
            "description": "Received byte counter for this interface"
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts",
            "description": "Received packet counter for this interface"
          },
          "servp_info": {
            "$ref": "#/components/schemas/if_stat_property_servp_info",
            "description": "Service-provider and geolocation details for this interface"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes",
            "description": "Transmitted byte counter for this interface"
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts",
            "description": "Transmitted packet counter for this interface"
          },
          "up": {
            "description": "Whether the interface is operationally up",
            "type": "boolean"
          },
          "vlan": {
            "description": "Associated VLAN ID for this interface",
            "type": "integer"
          },
          "wan_name": {
            "description": "Configured WAN name associated with this interface",
            "type": "string"
          },
          "wan_type": {
            "description": "Configured WAN uplink type associated with this interface",
            "type": "string"
          }
        },
        "type": "object"
      },
      "if_stat_property_servp_info": {
        "additionalProperties": false,
        "description": "Service-provider and geolocation details associated with an interface address",
        "properties": {
          "asn": {
            "description": "Autonomous System Number associated with the service provider",
            "type": "string"
          },
          "city": {
            "description": "Detected city for the service provider address",
            "type": "string"
          },
          "country_code": {
            "description": "ISO country code for the service provider address",
            "type": "string"
          },
          "latitude": {
            "description": "Geographic latitude for the service provider address",
            "type": "number"
          },
          "longitude": {
            "description": "Geographic longitude for the service provider address",
            "type": "number"
          },
          "org": {
            "description": "Service provider organization name",
            "type": "string"
          },
          "region_code": {
            "description": "Administrative region code for the service provider address",
            "type": "string"
          }
        },
        "type": "object"
      },
      "integers": {
        "description": "List of integer values",
        "items": {
          "type": "integer"
        },
        "type": "array"
      },
      "ip_stat": {
        "additionalProperties": false,
        "description": "Read-only IP addressing status reported by a device interface",
        "properties": {
          "dhcp_server": {
            "description": "Reported DHCP server IPv4 address for the interface, when available",
            "examples": [
              "192.168.95.1"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "dns": {
            "$ref": "#/components/schemas/strings",
            "description": "Reported DNS server addresses for the interface"
          },
          "dns_suffix": {
            "$ref": "#/components/schemas/strings",
            "description": "Reported DNS search suffixes for the interface"
          },
          "gateway": {
            "description": "Current IPv4 default gateway for the interface, when available",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "gateway6": {
            "description": "Current IPv6 default gateway for the interface, when available",
            "examples": [
              "fdad:b0bc:f29e::1"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "ip": {
            "description": "Current IPv4 address for the interface, when available",
            "examples": [
              "10.3.3.1"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "ip6": {
            "description": "Current IPv6 address for the interface, when available",
            "examples": [
              "fdad:b0bc:f29e::3d16"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "ips": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ip_stat_ips"
            },
            "description": "Per-VLAN IP address summaries keyed by VLAN name",
            "type": "object"
          },
          "netmask": {
            "description": "Current IPv4 subnet mask for the interface, when available",
            "examples": [
              "255.255.255.0"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "netmask6": {
            "description": "Current IPv6 prefix length for the interface, when available",
            "examples": [
              "/64"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "ip_stat_ips": {
        "description": "Property key is the VLAN name",
        "readOnly": true,
        "type": [
          "string",
          "null"
        ]
      },
      "ip_type": {
        "default": "dhcp",
        "description": "IP address assignment mode, either DHCP or static. enum: `dhcp`, `static`",
        "enum": [
          "dhcp",
          "static"
        ],
        "examples": [
          "static"
        ],
        "type": "string"
      },
      "ip_type6": {
        "default": "disabled",
        "description": "enum: `autoconf`, `dhcp`, `disabled`, `static`",
        "enum": [
          "autoconf",
          "dhcp",
          "disabled",
          "static"
        ],
        "examples": [
          "static"
        ],
        "type": "string"
      },
      "l2tp_state": {
        "description": "enum: `established`, `established_with_session`, `idle`, `wait-ctrl-conn`, `wait-ctrl-reply`",
        "enum": [
          "established",
          "established_with_session",
          "idle",
          "wait-ctrl-conn",
          "wait-ctrl-reply"
        ],
        "examples": [
          "established"
        ],
        "type": "string"
      },
      "last_seen": {
        "description": "Timestamp indicating when the entity was last seen",
        "examples": [
          1470417522
        ],
        "format": "double",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "last_trouble": {
        "additionalProperties": false,
        "description": "Last trouble indicator reported by a switch",
        "properties": {
          "code": {
            "description": "Trouble code; definitions are listed at [List Ap Led Definition](/#operations/listApLedDefinition)",
            "examples": [
              "03"
            ],
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when the last trouble code was reported"
          }
        },
        "type": "object"
      },
      "mac_table_stats": {
        "additionalProperties": false,
        "description": "MAC table capacity and usage statistics",
        "properties": {
          "mac_table_count": {
            "description": "Number of learned MAC table entries currently present",
            "type": "integer"
          },
          "max_mac_entries_supported": {
            "description": "Maximum number of MAC table entries supported",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "memory_stat": {
        "additionalProperties": false,
        "description": "Memory utilization statistics for a device; in a virtual chassis, this reports the master Routing Engine",
        "properties": {
          "usage": {
            "description": "Current memory utilization percentage for the device or master Routing Engine",
            "type": "number"
          }
        },
        "required": [
          "usage"
        ],
        "type": "object"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "module_stat_item_errors": {
        "description": "Used to report all error states the device node is running into. An error should always have `type` and `since` fields, and could have some other fields specific to that type.",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_errors_items"
        },
        "type": "array"
      },
      "module_stat_item_errors_items": {
        "additionalProperties": false,
        "description": "Error condition reported for a device module",
        "properties": {
          "feature": {
            "description": "Affected feature associated with this module error condition",
            "examples": [
              "Mist-Management"
            ],
            "type": "string"
          },
          "minimum_version": {
            "description": "Minimum software version associated with this module error",
            "examples": [
              "128T-6.0.0-1"
            ],
            "type": "string"
          },
          "reason": {
            "description": "Human-readable reason for the module error condition",
            "type": "string"
          },
          "since": {
            "description": "Epoch timestamp when the module error condition began",
            "examples": [
              1657497600
            ],
            "type": "integer"
          },
          "type": {
            "description": "Module error type code reported by the device",
            "examples": [
              "FW_UPGRADE_REQUIRED_BY_FEATURE"
            ],
            "type": "string"
          }
        },
        "required": [
          "since",
          "type"
        ],
        "type": "object"
      },
      "module_stat_item_fans": {
        "description": "Cooling fan status records for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_fans_items"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_fans_items": {
        "additionalProperties": false,
        "description": "Cooling fan telemetry for a device module",
        "properties": {
          "airflow": {
            "description": "Direction of airflow reported for the fan",
            "examples": [
              "out"
            ],
            "type": "string"
          },
          "name": {
            "description": "Fan label reported by the device",
            "examples": [
              "Fan 0"
            ],
            "type": "string"
          },
          "rpm": {
            "description": "Current fan speed in revolutions per minute",
            "type": "integer"
          },
          "status": {
            "description": "Operational status reported for the fan",
            "examples": [
              "ok"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_network_resource": {
        "additionalProperties": false,
        "description": "Network resource usage counter reported by a device module",
        "properties": {
          "count": {
            "description": "Current utilization count for the network resource",
            "examples": [
              17
            ],
            "minimum": 0,
            "type": "integer"
          },
          "limit": {
            "description": "Maximum supported count for the network resource",
            "examples": [
              768000
            ],
            "minimum": 0,
            "type": "integer"
          },
          "type": {
            "description": "Network resource category, such as FIB or FLOW",
            "examples": [
              "FIB"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_network_resources": {
        "description": "Network resource usage counters reported by a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_network_resource"
        },
        "type": "array"
      },
      "module_stat_item_pics": {
        "description": "Physical Interface Card summaries for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_pics_item"
        },
        "type": "array"
      },
      "module_stat_item_pics_item": {
        "additionalProperties": false,
        "description": "Physical Interface Card summary for a device module",
        "properties": {
          "index": {
            "description": "PIC index within the device module",
            "type": "integer"
          },
          "model_number": {
            "description": "Model number reported for the PIC",
            "type": "string"
          },
          "port_groups": {
            "$ref": "#/components/schemas/module_stat_item_pics_item_port_groups",
            "description": "Port groups provided by this PIC"
          }
        },
        "type": "object"
      },
      "module_stat_item_pics_item_port_groups": {
        "description": "Port group summaries for a PIC",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_pics_item_port_groups_item"
        },
        "type": "array"
      },
      "module_stat_item_pics_item_port_groups_item": {
        "additionalProperties": false,
        "description": "Port group summary for a PIC",
        "properties": {
          "count": {
            "description": "Number of ports in this PIC port group",
            "type": "integer"
          },
          "type": {
            "description": "Port media or interface type for this PIC port group",
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_poe": {
        "additionalProperties": false,
        "description": "Power over Ethernet telemetry for a device module",
        "properties": {
          "max_power": {
            "description": "Total PoE power budget available to the module, in watts",
            "examples": [
              250
            ],
            "type": "number"
          },
          "power_draw": {
            "description": "Current PoE power draw on the module, in watts",
            "examples": [
              120.3
            ],
            "type": "number"
          },
          "status": {
            "description": "Operational status of PoE on the module",
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_psus": {
        "description": "Power supply status records for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_psus_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_psus_item": {
        "additionalProperties": false,
        "description": "Power supply status for a device module",
        "properties": {
          "name": {
            "description": "Power supply label reported by the device",
            "examples": [
              "Power Supply 0"
            ],
            "type": "string"
          },
          "status": {
            "description": "Operational status reported for the power supply",
            "examples": [
              "ok"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_temperatures": {
        "description": "Temperature sensor readings for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_temperatures_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_temperatures_item": {
        "additionalProperties": false,
        "description": "Temperature sensor reading for a device module",
        "properties": {
          "celsius": {
            "description": "Temperature reading for the sensor, in degrees Celsius",
            "examples": [
              45
            ],
            "type": "number"
          },
          "name": {
            "description": "Temperature sensor label reported by the device",
            "examples": [
              "CPU"
            ],
            "type": "string"
          },
          "status": {
            "description": "Operational status reported for the temperature sensor",
            "examples": [
              "ok"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "module_stat_item_vc_links": {
        "description": "Virtual chassis link records for a device module",
        "items": {
          "$ref": "#/components/schemas/module_stat_item_vc_links_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "module_stat_item_vc_links_item": {
        "additionalProperties": false,
        "description": "Virtual chassis link endpoint for a device module",
        "properties": {
          "neighbor_module_idx": {
            "description": "Index of the neighboring module connected through this virtual chassis link",
            "examples": [
              1
            ],
            "type": "integer"
          },
          "neighbor_port_id": {
            "description": "Port identifier on the neighboring module for this virtual chassis link",
            "examples": [
              "vcp-255/1/0"
            ],
            "type": "string"
          },
          "port_id": {
            "description": "Local port identifier for this virtual chassis link",
            "examples": [
              "vcp-255/1/0"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "poe_priority": {
        "description": "PoE priority. enum: `low`, `high`",
        "enum": [
          "low",
          "high"
        ],
        "type": "string"
      },
      "port_auth_state": {
        "description": "Port authentication state. enum: `\"\"`, `authenticated`, `authenticating`, `held`, `init`",
        "enum": [
          "",
          "authenticated",
          "authenticating",
          "held",
          "init"
        ],
        "type": "string"
      },
      "port_stp_role": {
        "description": "Spanning Tree Protocol role for the port. enum: `\"\"`, `alternate`, `backup`, `designated`, `disabled`, `root`, `root-prevented`",
        "enum": [
          "",
          "alternate",
          "backup",
          "designated",
          "disabled",
          "root",
          "root-prevented"
        ],
        "type": "string"
      },
      "port_stp_state": {
        "description": "Spanning Tree Protocol state for the port. enum: `\"\"`, `blocking`, `disabled`, `forwarding`, `learning`, `listening`",
        "enum": [
          "",
          "blocking",
          "disabled",
          "forwarding",
          "learning",
          "listening"
        ],
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_switch_metrics": {
        "additionalProperties": false,
        "description": "Switch metrics returned for the requested site or switch scope",
        "properties": {
          "active_ports_summary": {
            "$ref": "#/components/schemas/response_switch_metrics_active_ports_summary",
            "description": "Summary metric for active switch ports"
          },
          "config_success": {
            "$ref": "#/components/schemas/response_switch_metrics_config_success",
            "description": "Configuration success metric for switches in the requested scope"
          },
          "version_compliance": {
            "$ref": "#/components/schemas/response_switch_metrics_version_compliance",
            "description": "Software version compliance metric for switches in the requested scope"
          }
        },
        "type": "object"
      },
      "response_switch_metrics_active_ports_summary": {
        "additionalProperties": false,
        "description": "Active-port summary metric for switches in the requested scope",
        "properties": {
          "details": {
            "$ref": "#/components/schemas/switch_metrics_active_ports_summary_details",
            "description": "Port counts used to calculate the active-port summary metric"
          },
          "score": {
            "description": "Reported metric score for active switch ports",
            "type": "integer"
          },
          "total_switch_count": {
            "description": "Number of switches included in the active-port summary metric",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_switch_metrics_config_success": {
        "additionalProperties": false,
        "description": "Configuration success metric for switches in the requested scope",
        "properties": {
          "details": {
            "$ref": "#/components/schemas/response_switch_metrics_config_success_details",
            "description": "Configuration success counts used to calculate the metric"
          },
          "score": {
            "description": "Reported metric score for switch configuration success",
            "type": "integer"
          },
          "total_switch_count": {
            "description": "Number of switches included in the configuration success metric",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_switch_metrics_config_success_details": {
        "additionalProperties": false,
        "description": "Detail values for the switch configuration success metric",
        "properties": {
          "config_success_count": {
            "description": "Number of switches with successful configuration status",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_switch_metrics_version_compliance": {
        "additionalProperties": false,
        "description": "Version compliance metric for switches in the requested scope",
        "properties": {
          "details": {
            "$ref": "#/components/schemas/response_switch_metrics_version_compliance_details",
            "description": "Version groupings used to calculate the compliance metric"
          },
          "score": {
            "description": "Reported metric score for switch software version compliance",
            "type": "integer"
          },
          "total_switch_count": {
            "description": "Number of switches included in the version compliance metric",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "response_switch_metrics_version_compliance_details": {
        "additionalProperties": false,
        "description": "Detail values for the switch software version compliance metric",
        "properties": {
          "major_versions": {
            "$ref": "#/components/schemas/switch_metrics_compliance_major_versions",
            "description": "Software version groupings found among the evaluated switches"
          }
        },
        "type": "object"
      },
      "route_summary_stats": {
        "additionalProperties": false,
        "description": "Route table capacity and usage summary",
        "properties": {
          "fib_routes": {
            "description": "Number of routes installed in the forwarding information base",
            "type": "integer"
          },
          "max_unicast_routes_supported": {
            "description": "Supported maximum number of unicast routes",
            "type": "integer"
          },
          "rib_routes": {
            "description": "Number of routes present in the routing information base",
            "type": "integer"
          },
          "total_routes": {
            "description": "Aggregate number of routes reported by the device",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "rx_bps": {
        "description": "Rate of receiving traffic, bits/seconds, last known",
        "examples": [
          60003
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "rx_bytes": {
        "description": "Amount of traffic received since connection",
        "examples": [
          8515104416
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "rx_pkts": {
        "description": "Amount of packets received since connection",
        "examples": [
          57770567
        ],
        "format": "int64",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "rx_rate": {
        "description": "Receive data rate reported for a wireless or mesh link, in Mbps",
        "format": "float",
        "readOnly": true,
        "type": [
          "number",
          "null"
        ]
      },
      "rx_retries": {
        "description": "Amount of rx retries",
        "readOnly": true,
        "type": [
          "integer",
          "null"
        ]
      },
      "service_stat": {
        "additionalProperties": {
          "$ref": "#/components/schemas/service_stat_property"
        },
        "description": "Service version information keyed by service name",
        "type": "object"
      },
      "service_stat_property": {
        "additionalProperties": false,
        "description": "Version information for gateway service packages",
        "properties": {
          "ash_version": {
            "description": "Version of the ASH service package",
            "type": "string"
          },
          "cia_version": {
            "description": "Version of the CIA service package",
            "type": "string"
          },
          "ember_version": {
            "description": "Version of the Ember service package",
            "type": "string"
          },
          "ipsec_client_version": {
            "description": "Version of the IPsec client package",
            "type": "string"
          },
          "mist_agent_version": {
            "description": "Version of the Mist agent package",
            "type": "string"
          },
          "package_version": {
            "description": "Version of the service package",
            "type": "string"
          },
          "testing_tools_version": {
            "description": "Version of the testing tools package",
            "type": "string"
          },
          "wheeljack_version": {
            "description": "Version of the Wheeljack service package",
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "stat_device_status_filter": {
        "default": "all",
        "description": "enum: `all`, `connected`, `disconnected`",
        "enum": [
          "all",
          "connected",
          "disconnected"
        ],
        "type": "string"
      },
      "stats_ap": {
        "additionalProperties": false,
        "description": "AP runtime statistics, placement data, and inventory metadata",
        "properties": {
          "antenna_select": {
            "$ref": "#/components/schemas/antenna_select",
            "description": "Selectable antenna mode reported for the AP"
          },
          "auto_placement": {
            "$ref": "#/components/schemas/stats_ap_auto_placement",
            "description": "Auto placement result and status for the AP"
          },
          "auto_upgrade_stat": {
            "$ref": "#/components/schemas/stats_ap_auto_upgrade",
            "description": "Automatic firmware upgrade status for the AP"
          },
          "ble_stat": {
            "$ref": "#/components/schemas/stats_ap_ble",
            "description": "BLE radio and beacon statistics reported by the AP"
          },
          "cert_expiry": {
            "description": "Certificate expiry timestamp for the AP, in epoch seconds",
            "examples": [
              1534534392
            ],
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "config_reverted": {
            "description": "Whether the AP configuration was reverted by the device",
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "cpu_system": {
            "description": "CPU system utilization reported by the AP",
            "format": "int64",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "cpu_user": {
            "description": "CPU user utilization reported by the AP",
            "format": "int32",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "cpu_util": {
            "description": "Total CPU utilization reported by the AP",
            "format": "int32",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Time when the AP record was created, in epoch seconds"
          },
          "deviceprofile_id": {
            "description": "Device profile identifier applied to the AP, when present",
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "env_stat": {
            "$ref": "#/components/schemas/stats_ap_env_stat",
            "description": "Environmental sensor readings reported by the AP"
          },
          "esl_stat": {
            "$ref": "#/components/schemas/stats_ap_esl_stat",
            "description": "Electronic shelf label dongle status reported by the AP"
          },
          "evpntopo_id": {
            "description": "EVPN topology identifier associated with the AP, when present",
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "expiring_certs": {
            "$ref": "#/components/schemas/stats_ap_expiring_certs",
            "description": "Certificates on the AP that are expiring within 30 days"
          },
          "ext_ip": {
            "description": "Public IP address observed for the AP",
            "examples": [
              "73.92.124.103"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "fwupdate": {
            "$ref": "#/components/schemas/fwupdate_stat",
            "description": "Firmware update status for the AP"
          },
          "gps_stat": {
            "$ref": "#/components/schemas/stats_ap_gps_stat",
            "description": "GPS location data reported for the AP"
          },
          "hw_rev": {
            "description": "Hardware revision reported by the AP",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier for the AP"
          },
          "inactive_wired_vlans": {
            "$ref": "#/components/schemas/integers",
            "description": "Wired VLAN identifiers currently inactive on the AP"
          },
          "iot_stat": {
            "$ref": "#/components/schemas/stats_ap_iot_stat",
            "description": "IoT input statistics reported by the AP"
          },
          "ip": {
            "description": "Management IP address currently reported by the AP",
            "examples": [
              "10.2.9.159"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "ip_config": {
            "$ref": "#/components/schemas/ap_ip_config",
            "description": "IP configuration applied to the AP management interface"
          },
          "ip_stat": {
            "$ref": "#/components/schemas/ip_stat",
            "description": "Read-only IP addressing status reported by the AP"
          },
          "l2tp_stat": {
            "additionalProperties": {
              "$ref": "#/components/schemas/stats_ap_l2tp_stat"
            },
            "description": "L2TP tunnel status (key is the wxtunnel_id)",
            "type": "object"
          },
          "last_seen": {
            "$ref": "#/components/schemas/last_seen",
            "description": "Time when the AP was last seen by Mist, in epoch seconds"
          },
          "last_trouble": {
            "$ref": "#/components/schemas/last_trouble",
            "description": "Most recent AP trouble indicator and timestamp"
          },
          "led": {
            "$ref": "#/components/schemas/ap_led",
            "description": "Light indicator state for the AP"
          },
          "lldp_stat": {
            "$ref": "#/components/schemas/stats_ap_lldp_stat",
            "description": "Primary LLDP neighbor and power negotiation details for the AP"
          },
          "lldp_stats": {
            "$ref": "#/components/schemas/stats_ap_lldp_stats",
            "description": "Per-port LLDP neighbor and power negotiation details for the AP"
          },
          "locating": {
            "description": "Whether AP locating mode is currently active",
            "examples": [
              false
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "locked": {
            "description": "Whether this AP is considered locked (placement / orientation has been vetted)",
            "examples": [
              true
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "mac": {
            "description": "AP MAC address reported by Mist",
            "examples": [
              "5c5b35000010"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "map_id": {
            "description": "Map identifier where the AP is placed, when available",
            "examples": [
              "63eda950-c6da-11e4-a628-60f81dd250cc"
            ],
            "format": "uuid",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "mem_total_kb": {
            "description": "Total memory available on the AP, in kilobytes",
            "format": "int64",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "mem_used_kb": {
            "description": "Memory currently used on the AP, in kilobytes",
            "format": "int64",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "mesh_downlinks": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ap_stat_mesh_downlink"
            },
            "description": "Property key is the mesh downlink id (e.g. `00000000-0000-0000-1000-5c5b35000010`)",
            "type": "object"
          },
          "mesh_uplink": {
            "$ref": "#/components/schemas/ap_stat_mesh_uplink",
            "description": "Mesh uplink status for the AP"
          },
          "model": {
            "description": "AP model identifier reported by Mist",
            "examples": [
              "AP200"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Time when the AP record was last modified, in epoch seconds"
          },
          "mount": {
            "description": "Orientation configured for the AP mount",
            "examples": [
              "faceup"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "name": {
            "description": "Display name of the AP",
            "examples": [
              "conference room"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "description": "Free-form notes configured on the AP record",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "num_clients": {
            "description": "How many wireless clients are currently connected",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "num_wlans": {
            "description": "How many WLANs are applied to the device",
            "type": "integer"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization identifier that owns the AP"
          },
          "port_stat": {
            "additionalProperties": {
              "$ref": "#/components/schemas/stats_ap_port_stat"
            },
            "description": "Property key is the port name (e.g. `eth0`)",
            "readOnly": true,
            "type": [
              "object",
              "null"
            ]
          },
          "power_budget": {
            "description": "In mW, surplus if positive or deficit if negative",
            "examples": [
              1000
            ],
            "format": "int32",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_constrained": {
            "description": "Whether the AP is operating with insufficient power",
            "examples": [
              false
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "power_opmode": {
            "description": "Operating mode used while AP power is constrained",
            "examples": [
              "[20] 6GHz(2x2) 5GHz(4x4) 2.4GHz(2x2)."
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "power_src": {
            "description": "DC Input / PoE 802.3at / PoE 802.3af / LLDP / ? (unknown)",
            "examples": [
              "PoE 802.3af"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "radio_config": {
            "$ref": "#/components/schemas/stats_ap_radio_config",
            "description": "Radio configuration currently applied to the AP"
          },
          "radio_stat": {
            "$ref": "#/components/schemas/stats_ap_radio_stat",
            "description": "Radio statistics reported by AP bands"
          },
          "rx_bps": {
            "$ref": "#/components/schemas/rx_bps",
            "description": "Receive throughput for AP traffic, in bits per second"
          },
          "rx_bytes": {
            "$ref": "#/components/schemas/rx_bytes",
            "description": "Total bytes received by the AP since connection"
          },
          "rx_pkts": {
            "$ref": "#/components/schemas/rx_pkts",
            "description": "Total packets received by the AP since connection"
          },
          "serial": {
            "description": "Device serial number for the AP",
            "examples": [
              "FXLH2015170017"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site identifier where the AP is assigned"
          },
          "status": {
            "description": "Connection status reported for the AP",
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "switch_redundancy": {
            "$ref": "#/components/schemas/stats_ap_switch_redundancy",
            "description": "Switch redundancy status reported for the AP"
          },
          "tx_bps": {
            "$ref": "#/components/schemas/tx_bps",
            "description": "Transmit throughput for AP traffic, in bits per second"
          },
          "tx_bytes": {
            "$ref": "#/components/schemas/tx_bytes",
            "description": "Total bytes transmitted by the AP since connection"
          },
          "tx_pkts": {
            "$ref": "#/components/schemas/tx_pkts",
            "description": "Total packets transmitted by the AP since connection"
          },
          "type": {
            "$ref": "#/components/schemas/const_device_type_ap",
            "description": "Device type for this statistics record"
          },
          "uptime": {
            "description": "How long, in seconds, has the device been up (or rebooted)",
            "examples": [
              13500
            ],
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "usb_stat": {
            "$ref": "#/components/schemas/stats_ap_usb_stat",
            "description": "USB peripheral status reported by the AP"
          },
          "version": {
            "description": "Firmware version running on the AP",
            "examples": [
              "0.14.12345"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "x": {
            "description": "Map X coordinate of the AP placement, in pixels",
            "examples": [
              53.5
            ],
            "format": "double",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "y": {
            "description": "Map Y coordinate of the AP placement, in pixels",
            "examples": [
              173.1
            ],
            "format": "double",
            "readOnly": true,
            "type": [
              "number",
              "null"
            ]
          },
          "zigbee_stat": {
            "$ref": "#/components/schemas/stats_ap_zigbee_stat",
            "description": "ZigBee statistics reported by the AP, present only when ZigBee is enabled on the AP"
          }
        },
        "required": [
          "type"
        ],
        "title": "stats_ap",
        "type": "object"
      },
      "stats_ap_auto_placement": {
        "additionalProperties": false,
        "description": "Auto placement result and status for an AP",
        "properties": {
          "info": {
            "$ref": "#/components/schemas/stats_ap_auto_placement_info",
            "description": "Additional diagnostics for the AP auto placement result"
          },
          "recommended_anchor": {
            "description": "Flag to represent if AP is recommended as an anchor by auto placement service",
            "type": "boolean"
          },
          "status": {
            "description": "Current auto placement status for the AP",
            "examples": [
              "localized"
            ],
            "type": "string"
          },
          "status_detail": {
            "description": "Additional info about placement status",
            "examples": [
              "localized"
            ],
            "type": "string"
          },
          "x": {
            "description": "Auto-placed X coordinate, in pixels",
            "examples": [
              53.5
            ],
            "format": "double",
            "type": "number"
          },
          "x_m": {
            "description": "Auto-placed X coordinate, in meters",
            "examples": [
              5.35
            ],
            "format": "double",
            "type": "number"
          },
          "y": {
            "description": "Auto-placed Y coordinate, in pixels",
            "examples": [
              173.1
            ],
            "format": "double",
            "type": "number"
          },
          "y_m": {
            "description": "Auto-placed Y coordinate, in meters",
            "examples": [
              17.31
            ],
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "stats_ap_auto_placement_info": {
        "additionalProperties": false,
        "description": "Additional diagnostics for AP auto placement",
        "properties": {
          "cluster_number": {
            "description": "All APs sharing a given cluster number can be placed relative to each other",
            "examples": [
              0
            ],
            "type": "integer"
          },
          "orientation_stats": {
            "description": "The orientation of an AP",
            "examples": [
              0
            ],
            "type": "integer"
          },
          "probability_surface": {
            "$ref": "#/components/schemas/stats_ap_auto_placement_info_probability_surface",
            "description": "Uncertainty area for the AP auto placement result"
          }
        },
        "type": "object"
      },
      "stats_ap_auto_placement_info_probability_surface": {
        "additionalProperties": false,
        "description": "Circular uncertainty area for an AP auto placement result",
        "properties": {
          "radius": {
            "description": "The RADIUS representing placement uncertainty, measured in pixels",
            "examples": [
              2.1
            ],
            "type": "number"
          },
          "radius_m": {
            "description": "The RADIUS representing placement uncertainty, measured in meters",
            "type": "number"
          },
          "x": {
            "description": "Potential placement center X coordinate, in pixels",
            "examples": [
              17
            ],
            "format": "double",
            "type": "number"
          }
        },
        "type": "object"
      },
      "stats_ap_auto_upgrade": {
        "additionalProperties": false,
        "description": "Auto-upgrade status for an AP",
        "properties": {
          "lastcheck": {
            "description": "Time when the AP last checked for auto-upgrade, in epoch seconds",
            "examples": [
              1720594762
            ],
            "format": "int64",
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "stats_ap_ble": {
        "additionalProperties": false,
        "description": "BLE beacon and traffic statistics reported by an AP",
        "properties": {
          "beacon_enabled": {
            "description": "Whether Mist BLE beacon transmission is enabled",
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "beacon_rate": {
            "description": "Mist BLE beacon transmit rate, in beacons per second",
            "examples": [
              3
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "eddystone_uid_enabled": {
            "description": "Whether Eddystone-UID beacon transmission is enabled",
            "examples": [
              false
            ],
            "readOnly": true,
            "type": [
              "boolean",
              "null"
            ]
          },
          "eddystone_uid_freq_msec": {
            "description": "Interval for Eddystone-UID advertisements, in milliseconds",
            "examples": [
              2000
            ],
            "readOnly": true,
            "type": [
              "integer",
              "null"
            ]
          },
          "eddystone_uid_instance": {
            "description": "Eddystone-UID instance value broadcast by the AP",
            "examples": [
              "5c5b35000001"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "eddystone_uid_namespace": {
            "description": "Eddystone-UID namespace value broadcast by the AP",
            "examples": [
              "2818e3868dec25629ede"
            ],
            "readOnly": true,
            "type": [
              "string",
              "null"
            ]
          },
          "eddystone_url_enabled": {
            "description": "Whether Eddystone-URL beacon transmission is enabled",
[...]
