{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Setting",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Site settings refer to the configuration and management of of site within a Mist Organization.\n\nThese settings include access point settings, firmware upgrade schedules, and various features such as location services, occupancy analytics, and engagement analytics.",
      "name": "Sites Setting"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/setting": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get the Site Settings",
        "operationId": "getSiteSetting",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteSettings"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSetting",
        "tags": [
          "Sites Setting"
        ]
      },
      "put": {
        "description": "Update Site Settings",
        "operationId": "updateSiteSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "additional_config_cmds": [
                      "set snmp community public"
                    ],
                    "analytic": {
                      "enabled": false
                    },
                    "ap_matching": {
                      "enabled": true,
                      "rules": [
                        {
                          "match_model": "string",
                          "name": "string",
                          "port_config": {
                            "eth1,eth2": {
                              "disabled": true,
                              "dynamic_vlan": {
                                "default_vlan_id": 999,
                                "enabled": true
                              },
                              "port_vlan_id": 1,
                              "vlan_id": 9,
                              "vlan_ids": "1, 10, 50"
                            }
                          }
                        }
                      ]
                    },
                    "ap_port_config": {
                      "model_specific": {
                        "AP32": {
                          "eth1,eth2": {
                            "port_vlan_id": 1,
                            "vlan_ids": "1, 10, 50"
                          }
                        }
                      }
                    },
                    "auto_upgrade": {
                      "custom_versions": {
                        "AP21": "stable",
                        "AP41": "0.1.5135",
                        "AP61": "0.1.7215"
                      },
                      "day_of_week": "sun",
                      "enabled": false,
                      "time_of_day": "12:00",
                      "version": "beta"
                    },
                    "config_auto_revert": false,
                    "device_updown_threshold": 0,
                    "dns_servers": [
                      "string"
                    ],
                    "dns_suffix": [
                      "string"
                    ],
                    "engagement": {
                      "dwell_tag_names": {
                        "bounce": "Bounce",
                        "engaged": "Engaged",
                        "passerby": "Passer By",
                        "stationed": "Stationed"
                      },
                      "dwell_tags": {
                        "bounce": null,
                        "engaged": "300-14400",
                        "passerby": null,
                        "stationed": "14400-43200"
                      },
                      "hours": {
                        "fri": "09:00-17:00",
                        "mon": "09:00-17:00",
                        "sat": "09:00-12:00",
                        "sun": "09:00-12:00",
                        "thu": "09:00-17:00",
                        "tue": "09:00-17:00",
                        "wed": "09:00-17:00"
                      },
                      "max_dwell": 43200,
                      "min_dwell": 0
                    },
                    "evpn_options": {
                      "auto_loopback_subnet": "100.101.0.0/16",
                      "auto_router_id_subnet": "100.100.0.0/24",
                      "core_as_border": false,
                      "overlay": {
                        "as": 65000
                      },
                      "per_vlan_vga_v4_mac": false,
                      "routed_at": "edge",
                      "underlay": {
                        "as_base": 65001,
                        "routed_id_prefix": "/24",
                        "subnet": "10.255.240.0/20"
                      }
                    },
                    "gateway_additional_config_cmds": [
                      "set snmp community public"
                    ],
                    "gateway_mgmt": {
                      "admin_sshkeys": [
                        "string"
                      ],
                      "app_probing": {
                        "apps": [
                          "string"
                        ],
                        "custom_apps": [
                          {
                            "app_type": "string",
                            "hostnames": [
                              "string"
                            ],
                            "name": "string",
                            "protocol": "http"
                          }
                        ],
                        "enabled": true
                      },
                      "app_usage": true,
                      "auto_signature_update": {
                        "day_of_week": "any",
                        "enable": true,
                        "time_of_day": "string"
                      },
                      "config_revert_timer": 10,
                      "probe_hosts": [
                        "string"
                      ],
                      "root_password": "string",
                      "security_log_source_address": "192.168.1.1",
                      "security_log_source_interface": "string"
                    },
                    "led": {
                      "brightness": 255,
                      "enabled": true
                    },
                    "mxedge_mgmt": {
                      "mist_password": "MIST_PASSWORD",
                      "root_password": "ROOT_PASSWORD"
                    },
                    "networks": {
                      "property1": {
                        "gateway": "string",
                        "subnet": "string",
                        "vlan_id": 10
                      },
                      "property2": {
                        "gateway": "string",
                        "subnet": "string",
                        "vlan_id": 10
                      }
                    },
                    "ntp_servers": [
                      "string"
                    ],
                    "occupancy": {
                      "assets_enabled": false,
                      "clients_enabled": true,
                      "min_duration": 3000,
                      "sdkclients_enabled": false,
                      "unconnected_clients_enabled": false
                    },
                    "ospf_areas": {
                      "property1": {
                        "include_loopback": false,
                        "networks": {
                          "corp": {
                            "auth_keys": {
                              "1": "auth-key-1"
                            },
                            "auth_type": "md5",
                            "bfd_minimum_interval": 500,
                            "dead_interval": 40,
                            "hello_interval": 10,
                            "interface_type": "nbma",
                            "metric": 10000
                          },
                          "guest": {
                            "passive": true
                          }
                        },
                        "type": "default"
                      },
                      "property2": {
                        "include_loopback": false,
                        "networks": {
                          "corp": {
                            "auth_keys": {
                              "1": "auth-key-1"
                            },
                            "auth_type": "md5",
                            "bfd_minimum_interval": 500,
                            "dead_interval": 40,
                            "hello_interval": 10,
                            "interface_type": "nbma",
                            "metric": 10000
                          },
                          "guest": {
                            "passive": true
                          }
                        },
                        "type": "default"
                      }
                    },
                    "persist_config_on_device": false,
                    "port_mirroring": {
                      "property1": {
                        "input_networks_ingress": [
                          "corp"
                        ],
                        "input_port_ids_egress": [
                          "ge-0/0/3"
                        ],
                        "input_port_ids_ingress": [
                          "ge-0/0/3"
                        ],
                        "output_network": "analyze",
                        "output_port_id": "ge-0/0/5"
                      },
                      "property2": {
                        "input_networks_ingress": [
                          "corp"
                        ],
                        "input_port_ids_egress": [
                          "ge-0/0/3"
                        ],
                        "input_port_ids_ingress": [
                          "ge-0/0/3"
                        ],
                        "output_network": "analyze",
                        "output_port_id": "ge-0/0/5"
                      }
                    },
                    "port_usages": {
                      "dynamic": {
                        "mode": "dynamic",
                        "reset_default_when": "link_down",
                        "rules": [
                          {
                            "equals": "string",
                            "equals_any": [
                              "string"
                            ],
                            "expression": "string",
                            "src": "lldp_chassis_id",
                            "usage": "string"
                          }
                        ]
                      },
                      "property1": {
                        "all_networks": false,
                        "allow_dhcpd": true,
                        "bypass_auth_when_server_down": true,
                        "description": "string",
                        "disable_autoneg": false,
                        "disabled": false,
                        "duplex": "auto",
                        "enable_mac_auth": true,
                        "enable_qos": true,
                        "guest_network": "string",
                        "mac_auth_only": true,
                        "mac_auth_protocol": "pap",
                        "mac_limit": 0,
                        "mode": "access",
                        "networks": [
                          "string"
                        ],
                        "persist_mac": false,
                        "poe_disabled": false,
                        "port_auth": "dot1x",
                        "port_network": "string",
                        "server_reject_network": null,
                        "speed": "auto",
                        "storm_control": {
                          "no_broadcast": false,
                          "no_multicast": false,
                          "no_registered_multicast": false,
                          "no_unknown_unicast": false,
                          "percentage": 80
                        },
                        "stp_edge": true,
                        "voip_network": "string"
                      },
                      "property2": {
                        "all_networks": false,
                        "allow_dhcpd": true,
                        "bypass_auth_when_server_down": true,
                        "description": "string",
                        "disable_autoneg": false,
                        "disabled": false,
                        "duplex": "auto",
                        "enable_mac_auth": true,
                        "enable_qos": true,
                        "guest_network": "string",
                        "mac_auth_only": true,
                        "mac_auth_protocol": "pap",
                        "mac_limit": 0,
                        "mode": "access",
                        "networks": [
                          "string"
                        ],
                        "persist_mac": false,
                        "poe_disabled": false,
                        "port_network": "string",
                        "server_reject_network": null,
                        "speed": "auto",
                        "storm_control": {
                          "no_broadcast": false,
                          "no_multicast": false,
                          "no_registered_multicast": false,
                          "no_unknown_unicast": false,
                          "percentage": 80
                        },
                        "stp_edge": true,
                        "voip_network": "string"
                      }
                    },
                    "proxy": {
                      "url": "http://proxy.internal:8080/*"
                    },
                    "rogue": {
                      "enabled": false,
                      "honeypot_enabled": false,
                      "min_duration": 10,
                      "min_rssi": -80,
                      "whitelisted_bssids": [
                        "NeighborSSID"
                      ],
                      "whitelisted_ssids": [
                        "cc:8e:6f:d4:bf:16",
                        "cc-8e-6f-d4-bf-16",
                        "cc-73-*",
                        "cc:82:*"
                      ]
                    },
                    "simple_alert": {
                      "arp_failure": {
                        "client_count": 10,
                        "duration": 20,
                        "incident_count": 10
                      },
                      "dhcp_failure": {
                        "client_count": 10,
                        "duration": 10,
                        "incident_count": 20
                      },
                      "dns_failure": {
                        "client_count": 20,
                        "duration": 10,
                        "incident_count": 30
                      }
                    },
                    "skyatp": {
                      "enabled": true,
                      "send_ip_mac_mapping": true
                    },
                    "srx_app": {
                      "enabled": false
                    },
                    "ssh_keys": [
                      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAA...Wxa6p6UW0ZbcP john@host"
                    ],
                    "ssr": {
                      "conductor_hosts": [
                        "\"1.1.1.1\", \"2.2.2.2\""
                      ],
                      "disable_stats": true
                    },
                    "status_portal": {
                      "enabled": false,
                      "hostnames": [
                        "my.misty.com"
                      ]
                    },
                    "vars": {
                      "RADIUS_IP1": "172.31.2.5",
                      "RADIUS_SECRET": "11s64632d"
                    },
                    "vna": {
                      "enabled": false
                    },
                    "wan_vna": {
                      "enabled": false
                    },
                    "wids": {
                      "repeated_auth_failures": {
                        "duration": 60,
                        "threshold": 0
                      }
                    },
                    "wifi": {
                      "cisco_enabled": true,
                      "disable_11k": false,
                      "disable_radios_when_power_constrained": false,
                      "enable_arp_spoof_check": false,
                      "enable_shared_radio_scanning": true,
                      "enabled": true,
                      "locate_connected": true,
                      "locate_unconnected": false,
                      "mesh_allow_dfs": false,
                      "mesh_enable_crm": false,
                      "mesh_enabled": false,
                      "mesh_psk": "string",
                      "mesh_ssid": "string",
                      "proxy_arp": "default"
                    },
                    "wired_vna": {
                      "enabled": false
                    },
                    "zone_occupancy_alert": {
                      "email_notifiers": [
                        "foo@juniper.net",
                        "bar@juniper.net"
                      ],
                      "enabled": false,
                      "threshold": 5
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/site_setting"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteSettings"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteSettings",
        "tags": [
          "Sites Setting"
        ]
      }
    },
    "/api/v1/sites/{site_id}/setting/blacklist": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "This endpoint is to provide list of client macs for annotation blacklist.\n\nRetrieve the current clients list `blacklist_url` under Site:Setting",
        "operationId": "createSiteWirelessClientsBlocklist",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "macs": [
                      "18-65-90-de-f4-c6",
                      "84-89-ad-5d-69-0d"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mac_addresses"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MacsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createSiteWirelessClientsBlocklist",
        "tags": [
          "Sites Setting"
        ]
      },
      "delete": {
        "description": "Delete Site Blacklist Station Clients",
        "operationId": "deleteSiteWirelessClientsBlocklist",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteWirelessClientsBlocklist",
        "tags": [
          "Sites Setting"
        ]
      }
    },
    "/api/v1/sites/{site_id}/setting/derived": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get the Derived Site Settings, generated by merging the Org level templates (network templates, gateway templates) and the Site level configuration. If the same parameter is defined in both scopes, the Site level one is used. In addition, the Zoom and Teams accounts are also merged into the derived settings.",
        "operationId": "getSiteSettingDerived",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteSettingsDerived"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSettingDerived",
        "tags": [
          "Sites Setting"
        ]
      }
    },
    "/api/v1/sites/{site_id}/setting/watched_station": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "This endpoint is to provide list of client macs for annotation as watched station.\n\nRetrieve the current clients list from `watched_station_url` under Site:Setting",
        "operationId": "createSiteWatchedStations",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "macs": [
                      "18-65-90-de-f4-c6",
                      "84-89-ad-5d-69-0d"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mac_addresses"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MacsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createSiteWatchedStations",
        "tags": [
          "Sites Setting"
        ]
      },
      "delete": {
        "description": "Delete Site Watched Station Clients",
        "operationId": "deleteSiteWatchedStations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteWatchedStations",
        "tags": [
          "Sites Setting"
        ]
      }
    },
    "/api/v1/sites/{site_id}/setting/whitelist": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "This endpoint is to provide list of client macs for annotation as whitelist.\n\nRetrieve the current clients list from `whitelist_url` under Site:Setting",
        "operationId": "createSiteWirelessClientsAllowlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mac_addresses"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MacsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createSiteWirelessClientsAllowlist",
        "tags": [
          "Sites Setting"
        ]
      },
      "delete": {
        "description": "Delete Site Whitelist Station Clients",
        "operationId": "deleteSiteWirelessClientsAllowlist",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteWirelessClientsAllowlist",
        "tags": [
          "Sites Setting"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "account_oauth_info_account": {
        "additionalProperties": false,
        "description": "OAuth linked apps account info",
        "properties": {
          "account_id": {
            "description": "Linked app account id",
            "examples": [
              "iojzXIJWEuiD73ZvydOfg"
            ],
            "readOnly": true,
            "type": "string"
          },
          "auto_probe_subnet": {
            "description": "For Prisma accounts only, tunnel auto probe subnet",
            "examples": [
              "11.0.0.0/8"
            ],
            "readOnly": true,
            "type": "string"
          },
          "client_id": {
            "description": "Customer account Client ID",
            "readOnly": true,
            "type": "string"
          },
          "cloud_name": {
            "description": "Name of the company whose account mist has subscribed to",
            "examples": [
              "Tapi.sase.paloaltonetworks.com"
            ],
            "readOnly": true,
            "type": "string"
          },
          "company": {
            "description": "Name of the company whose account mist has subscribed to",
            "examples": [
              "Test Company1 Ltd"
            ],
            "readOnly": true,
            "type": "string"
          },
          "enable_probe": {
            "description": "For Prisma accounts only, tunnel probe enable/disable",
            "examples": [
              false
            ],
            "readOnly": true,
            "type": "boolean"
          },
          "error": {
            "description": "This error is provided when the account fails to fetch token/data",
            "examples": [
              "OAuth token refresh failed, please re-link your account"
            ],
            "readOnly": true,
            "type": "string"
          },
          "errors": {
            "$ref": "#/components/schemas/oauth_account_errors"
          },
          "instance_url": {
            "description": "Customer account instance URL",
            "readOnly": true,
            "type": "string"
          },
          "key_id": {
            "description": "For ZDX Account only, Customer account API key ID",
            "examples": [
              "L72frZcK3JvrZc"
            ],
            "type": "string"
          },
          "last_status": {
            "description": "Is the last data pull for account is successful or not",
            "examples": [
              "failed"
            ],
            "readOnly": true,
            "type": "string"
          },
          "last_sync": {
            "description": "Last data pull timestamp, background jobs that pull account data",
            "examples": [
              1665465339000
            ],
            "readOnly": true,
            "type": "integer"
          },
          "linked_by": {
            "description": "First name of the user who linked the account",
            "examples": [
              "Testname1"
            ],
            "readOnly": true,
            "type": "string"
          },
          "linked_timestamp": {
            "examples": [
              1665465339000
            ],
            "readOnly": true,
            "type": "number"
          },
          "max_daily_api_requests": {
            "description": "Zoom daily api request quota, https://developers.zoom.us/docs/api/rest/rate-limits/",
            "examples": [
              5000
            ],
            "readOnly": true,
            "type": "integer"
          },
          "name": {
            "description": "Name of the company whose account mist has subscribed to",
            "examples": [
              "Test Compay1 Ltd"
            ],
            "readOnly": true,
            "type": "string"
          },
          "password": {
            "description": "Customer account password instance URL",
            "readOnly": true,
            "type": "string"
          },
          "region": {
            "description": "For Prisma accounts only",
            "examples": [
              "americas"
            ],
            "readOnly": true,
            "type": "string"
          },
          "regions": {
            "$ref": "#/components/schemas/account_oauth_info_account_regions"
          },
          "service_account_name": {
            "description": "For Prisma accounts only",
            "examples": [
              "Corp SA"
            ],
            "readOnly": true,
            "type": "string"
          },
          "service_connections": {
            "$ref": "#/components/schemas/account_oauth_info_account_service_connections"
          },
          "smartgroup_name": {
            "description": "Smart group membership for determining compliance status",
            "examples": [
              "CompliantGroup1"
            ],
            "readOnly": true,
            "type": "string"
          },
          "tsg_id": {
            "description": "For Prisma accounts only, Prisma Tenant Service Group id",
            "examples": [
              "189953456"
            ],
            "readOnly": true,
            "type": "string"
          },
          "username": {
            "description": "Customer account username",
            "readOnly": true,
            "type": "string"
          },
          "webhook_auth_type": {
            "description": "For Crowdstrike, JAMF, SentinelOne and VMWare accounts only",
            "examples": [
              "Basic",
              "Bearer"
            ],
            "type": "string"
          },
          "webhook_enabled": {
            "description": "For Crowdstrike, JAMF, SentinelOne and VMWare accounts only",
            "type": "boolean"
          },
          "webhook_password": {
            "description": "For VMWare accounts only",
            "examples": [
              "password_1234"
            ],
            "type": "string"
          },
          "webhook_secret": {
            "description": "For Crowdstrike accounts only",
            "examples": [
              "secret-value"
            ],
            "type": "string"
          },
          "webhook_token": {
            "description": "For JAMF and SentinelOne accounts only",
            "examples": [
              "token-value"
            ],
            "type": "string"
          },
          "webhook_url": {
            "description": "For Crowdstrike, JAMF, SentinelOne and VMWare accounts only",
            "examples": [
              "https://websync.nac-staging.mistsys.com/v1/S_org-8dcbe9005/ae9dee49-69e7-4710-a114-5b827a777738/crowdstrike/edr",
              "https://websync.nac-staging.mistsys.com/v1/S_org-8dcbe9005/ae9dee49-69e7-4710-a114-5b827a777738/jamf/mdm",
              "https://websync.nac-staging.mistsys.com/v1/S_org-8dcbe9005/00fd8b39-cf92-4b43-a2ff-a461b48e7059/sentinelone/edr",
              "https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm"
            ],
            "type": "string"
          },
          "webhook_username": {
            "description": "For VMWare accounts only",
            "examples": [
              "username_1234"
            ],
            "type": "string"
          },
          "zdx_org_id": {
            "description": "For ZDX Account only, ZDX organization id",
            "examples": [
              "123456"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "account_oauth_info_account_region": {
        "additionalProperties": false,
        "properties": {
          "aggregate_region": {
            "description": "Bandwidth Aggregate region for this region",
            "examples": [
              "us-southwest"
            ],
            "type": "string"
          },
          "allocated_bandwidth": {
            "description": "Allocated bandwidth for the region, in Mbps",
            "examples": [
              1000
            ],
            "readOnly": true,
            "type": "integer"
          },
          "name": {
            "description": "Display name for this region",
            "examples": [
              "US West"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "account_oauth_info_account_regions": {
        "additionalProperties": {
          "$ref": "#/components/schemas/account_oauth_info_account_region"
        },
        "description": "For Prisma accounts only, property key is the region name. Regions with allocated bandwidth",
        "type": "object"
      },
      "account_oauth_info_account_service_connection": {
        "additionalProperties": false,
        "properties": {
          "region": {
            "description": "Region of the service connection",
            "examples": [
              "us-southwest"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "account_oauth_info_account_service_connections": {
        "additionalProperties": {
          "$ref": "#/components/schemas/account_oauth_info_account_service_connection"
        },
        "description": "For Prisma accounts only, property key is the service connection name"
      },
      "acl_policies": {
        "items": {
          "$ref": "#/components/schemas/acl_policy"
        },
        "type": "array"
      },
      "acl_policy": {
        "additionalProperties": false,
        "description": "ACL Policy:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "properties": {
          "actions": {
            "$ref": "#/components/schemas/acl_policy_actions"
          },
          "name": {
            "examples": [
              "guest access"
            ],
            "type": "string"
          },
          "src_tags": {
            "$ref": "#/components/schemas/acl_policy_src_tags"
          }
        },
        "type": "object"
      },
      "acl_policy_action": {
        "additionalProperties": false,
        "properties": {
          "action": {
            "$ref": "#/components/schemas/allow_deny"
          },
          "dst_tag": {
            "examples": [
              "corp"
            ],
            "type": "string"
          }
        },
        "required": [
          "dst_tag"
        ],
        "type": "object"
      },
      "acl_policy_actions": {
        "description": "ACL Policy Actions:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "items": {
          "$ref": "#/components/schemas/acl_policy_action"
        },
        "type": "array"
      },
      "acl_policy_src_tags": {
        "description": "ACL Policy Source Tags:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "items": {
          "examples": [
            "macs"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag": {
        "additionalProperties": false,
        "description": "Resource tags (`type`==`resource` or `type`==`gbp_resource`) can only be used in `dst_tags`",
        "properties": {
          "ether_types": {
            "$ref": "#/components/schemas/acl_tag_ether_types"
          },
          "gbp_tag": {
            "description": "Required if\n  - `type`==`dynamic_gbp` (gbp_tag received from RADIUS)\n  - `type`==`gbp_resource`\n  - `type`==`static_gbp` (applying gbp tag against matching conditions)",
            "type": "integer"
          },
          "macs": {
            "$ref": "#/components/schemas/acl_tag_macs"
          },
          "network": {
            "description": "If:\n  * `type`==`mac` (optional. default is `any`)\n  * `type`==`subnet` (optional. default is `any`)\n  * `type`==`network`\n  * `type`==`resource` (optional. default is `any`)\n  * `type`==`static_gbp` if from matching network (vlan)",
            "type": "string"
          },
          "port_usage": {
            "description": "Required if `type`==`port_usage`",
            "type": "string"
          },
          "radius_group": {
            "description": "Required if:\n  * `type`==`radius_group`\n  * `type`==`static_gbp`\nif from matching radius_group",
            "type": "string"
          },
          "specs": {
            "$ref": "#/components/schemas/acl_tag_specs"
          },
          "subnets": {
            "$ref": "#/components/schemas/acl_tag_subnets"
          },
          "type": {
            "$ref": "#/components/schemas/acl_tag_type"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "acl_tag_ether_types": {
        "default": [
          "any"
        ],
        "description": "ARP / IPv6. Default is `any`",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_macs": {
        "description": "Required if \n- `type`==`mac`\n- `type`==`static_gbp` if from matching mac",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_spec": {
        "additionalProperties": false,
        "properties": {
          "port_range": {
            "default": "0",
            "description": "Matched dst port, \"0\" means any",
            "type": "string"
          },
          "protocol": {
            "default": "any",
            "description": "`tcp` / `udp` / `icmp` / `icmp6` / `gre` / `any` / `:protocol_number`, `protocol_number` is between 1-254, default is `any` `protocol_number` is between 1-254",
            "type": "string"
          }
        },
        "type": "object"
      },
      "acl_tag_specs": {
        "description": "If `type`==`resource`, `type`==`radius_group`, `type`==`port_usage` or `type`==`gbp_resource`. Empty means unrestricted, i.e. any",
        "items": {
          "$ref": "#/components/schemas/acl_tag_spec"
        },
        "type": "array"
      },
      "acl_tag_subnets": {
        "description": "If \n- `type`==`subnet` \n- `type`==`resource` (optional. default is `any`)\n- `type`==`static_gbp` if from matching subnet",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_type": {
        "description": "enum: \n  * `any`: matching anything not identified\n  * `dynamic_gbp`: from the gbp_tag received from RADIUS\n  * `gbp_resource`: can only be used in `dst_tags`\n  * `mac`\n  * `network`\n  * `port_usage`\n  * `radius_group`\n  * `resource`: can only be used in `dst_tags`\n  * `static_gbp`: applying gbp tag against matching conditions\n  * `subnet`'",
        "enum": [
          "any",
          "dynamic_gbp",
          "gbp_resource",
          "mac",
          "network",
          "port_usage",
          "radius_group",
          "resource",
          "static_gbp",
          "subnet"
        ],
        "type": "string"
      },
      "acl_tags": {
        "additionalProperties": {
          "$ref": "#/components/schemas/acl_tag"
        },
        "description": "ACL Tags to identify traffic source or destination. Key name is the tag name",
        "type": "object"
      },
      "additional_config_cmds": {
        "description": "additional CLI commands to append to the generated Junos config. **Note**: no check is done",
        "items": {
          "description": "JUNOS \"set\" command to add to the generated configuration",
          "examples": [
            "set snmp community public"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "aggregate_route": {
        "additionalProperties": false,
        "properties": {
          "discard": {
            "default": false,
            "type": "boolean"
          },
          "metric": {
            "maximum": 4294967295,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "preference": {
            "maximum": 4294967295,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "aggregate_routes": {
        "additionalProperties": {
          "$ref": "#/components/schemas/aggregate_route"
        },
        "description": "Property key is the destination subnet (e.g. \"172.16.3.0/24\")",
        "examples": [
          {
            "172.16.3.0/24": {
              "discard": false,
              "metric": null,
              "preference": 30
            }
          }
        ],
        "type": "object"
      },
      "aggregate_routes6": {
        "additionalProperties": {
          "$ref": "#/components/schemas/aggregate_route"
        },
        "description": "Property key is the destination subnet (e.g. \"2a02:1234:420a:10c9::/64\")",
        "example": {
          "2a02:1234:420a:10c9::/64": {
            "discard": false,
            "metric": null,
            "preference": 30
          }
        },
        "type": "object"
      },
      "allow_deny": {
        "description": "enum: `allow`, `deny`",
        "enum": [
          "allow",
          "deny"
        ],
        "type": "string"
      },
      "antenna_select": {
        "description": "Antenna Mode for AP which supports selectable antennas. enum: `\"\"` (default), `external`, `internal`",
        "enum": [
          "",
          "external",
          "internal"
        ],
        "examples": [
          "external"
        ],
        "type": "string"
      },
      "ap_led": {
        "additionalProperties": false,
        "description": "LED AP settings",
        "properties": {
          "brightness": {
            "default": 255,
            "examples": [
              255
            ],
            "maximum": 255,
            "minimum": 0,
            "type": "integer"
          },
          "enabled": {
            "default": true,
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_port_config": {
        "additionalProperties": false,
        "properties": {
          "disabled": {
            "default": false,
            "type": "boolean"
          },
          "dynamic_vlan": {
            "$ref": "#/components/schemas/ap_port_config_dynamic_vlan"
          },
          "enable_mac_auth": {
            "default": false,
            "type": "boolean"
          },
          "forwarding": {
            "$ref": "#/components/schemas/ap_port_config_forwarding"
          },
          "mac_auth_preferred": {
            "default": false,
            "description": "When `true`, we'll do dot1x then mac_auth. enable this to prefer mac_auth",
            "type": "boolean"
          },
          "mac_auth_protocol": {
            "$ref": "#/components/schemas/ap_port_config_mac_auth_protocol"
          },
          "mist_nac": {
            "$ref": "#/components/schemas/wlan_mist_nac"
          },
          "mx_tunnel_id": {
            "default": "",
            "description": "If `forwarding`==`mxtunnel`, vlan_ids comes from mxtunnel",
            "examples": [
              "08cd7499-5841-51c8-e663-fb16b6f3b45e"
            ],
            "format": "uuid",
            "type": "string"
          },
          "mxtunnel_name": {
            "default": "",
            "description": "If `forwarding`==`site_mxedge`, vlan_ids comes from site_mxedge (`mxtunnels` under site setting)",
            "type": "string"
          },
          "port_auth": {
            "$ref": "#/components/schemas/ap_port_config_port_auth"
          },
          "port_vlan_id": {
            "description": "If `forwarding`==`limited`",
            "examples": [
              1
            ],
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          },
          "radius_config": {
            "$ref": "#/components/schemas/radius_config"
          },
          "radsec": {
            "$ref": "#/components/schemas/radsec"
          },
          "vlan_id": {
            "description": "Optional to specify the vlan id for a tunnel if forwarding is for `wxtunnel`, `mxtunnel` or `site_mxedge`.\n  * if vlan_id is not specified then it will use first one in vlan_ids[] of the mxtunnel.\n  * if forwarding == site_mxedge, vlan_ids comes from site_mxedge (`mxtunnels` under site setting)",
            "examples": [
              9
            ],
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          },
          "vlan_ids": {
            "description": "If `forwarding`==`limited`, comma separated list of additional vlan ids allowed on this port",
            "examples": [
              "10,20,30"
            ],
            "type": "string"
          },
          "wxtunnel_id": {
            "default": "",
            "description": "If `forwarding`==`wxtunnel`, the port is bridged to the vlan of the session",
            "examples": [
              "7dae216d-7c98-a51b-e068-dd7d477b7216"
            ],
            "format": "uuid",
            "type": "string"
          },
          "wxtunnel_remote_id": {
            "default": "",
            "description": "If `forwarding`==`wxtunnel`, the port is bridged to the vlan of the session",
            "examples": [
              "wifiguest"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "ap_port_config_dynamic_vlan": {
        "additionalProperties": false,
        "description": "Optional dynamic vlan",
        "properties": {
          "default_vlan_id": {
            "examples": [
              999
            ],
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          },
          "enabled": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "vlans": {
            "additionalProperties": {
              "type": [
                "string",
                "null"
              ]
            },
            "examples": [
              {
                "1-10": null,
                "user": null
              }
            ],
            "type": "object"
          }
        },
        "type": "object"
      },
      "ap_port_config_forwarding": {
        "default": "all",
        "description": "enum: \n  * `all`: local breakout, All VLANs\n  * `limited`: local breakout, only the VLANs configured in `port_vlan_id` and `vlan_ids`\n  * `mxtunnel`: central breakout to an Org Mist Edge (requires `mxtunnel_id`)\n  * `site_mxedge`: central breakout to a Site Mist Edge (requires `mxtunnel_name`)\n  * `wxtunnel`': central breakout to an Org WxTunnel (requires `wxtunnel_id`)",
        "enum": [
          "all",
          "limited",
          "mxtunnel",
          "site_mxedge",
          "wxtunnel"
        ],
        "examples": [
          "all"
        ],
        "type": "string"
      },
      "ap_port_config_mac_auth_protocol": {
        "default": "pap",
        "description": "if `enable_mac_auth`==`true`, allows user to select an authentication protocol. enum: `eap-md5`, `eap-peap`, `pap`",
        "enum": [
          "eap-md5",
          "eap-peap",
          "pap"
        ],
        "type": "string"
      },
      "ap_port_config_port_auth": {
        "default": "none",
        "description": "When doing port auth. enum: `dot1x`, `none`",
        "enum": [
          "dot1x",
          "none"
        ],
        "examples": [
          "none"
        ],
        "type": "string"
      },
      "ap_radio": {
        "additionalProperties": false,
        "description": "Radio AP settings",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "type": "boolean"
          },
          "ant_gain_24": {
            "description": "Antenna gain for 2.4G - for models with external antenna only",
            "examples": [
              4
            ],
            "minimum": 0,
            "type": "integer"
          },
          "ant_gain_5": {
            "description": "Antenna gain for 5G - for models with external antenna only",
            "examples": [
              5
            ],
            "minimum": 0,
            "type": "integer"
          },
          "ant_gain_6": {
            "description": "Antenna gain for 6G - for models with external antenna only",
            "examples": [
              5
            ],
            "minimum": 0,
            "type": "integer"
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/ap_radio_antenna_mode"
          },
          "antenna_select": {
            "$ref": "#/components/schemas/antenna_select"
          },
          "band_24": {
            "$ref": "#/components/schemas/ap_radio_band24"
          },
          "band_24_usage": {
            "$ref": "#/components/schemas/radio_band_24_usage"
          },
          "band_5": {
            "$ref": "#/components/schemas/ap_radio_band5"
          },
          "band_5_on_24_radio": {
            "$ref": "#/components/schemas/ap_radio_band5"
          },
          "band_6": {
            "$ref": "#/components/schemas/ap_radio_band6"
          },
          "full_automatic_rrm": {
            "default": false,
            "description": "Let RRM control everything, only the `channels` and `ant_gain` will be honored (i.e. disabled/bandwidth/power/band_24_usage are all controlled by RRM)",
            "type": "boolean"
          },
          "indoor_use": {
            "default": false,
            "description": "To make an outdoor operate indoor. For an outdoor-ap, some channels are disallowed by default, this allows the user to use it as an indoor-ap",
            "type": "boolean"
          },
          "rrm_managed": {
            "description": "Enable RRM to manage all radio settings (ignores all band_xxx configs)",
            "type": "boolean"
          },
          "scanning_enabled": {
            "description": "Whether scanning radio is enabled",
            "examples": [
              true
            ],
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_radio_antenna_mode": {
        "default": "default",
        "description": "enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`",
        "enum": [
          "1x1",
          "2x2",
          "3x3",
          "4x4",
          "default"
        ],
        "type": "string"
      },
      "ap_radio_band24": {
        "additionalProperties": false,
        "description": "Radio Band AP settings",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "type": "boolean"
          },
          "ant_gain": {
            "default": 0,
            "maximum": 10,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/radio_band_antenna_mode"
          },
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth24"
          },
          "channel": {
            "default": null,
            "description": "For Device. (primary) channel for the band, 0 means using the Site Setting",
            "examples": [
              6
            ],
            "maximum": 13,
            "minimum": 1,
            "type": [
              "integer",
              "null"
            ]
          },
          "channels": {
            "$ref": "#/components/schemas/radio_band_channels"
          },
          "disabled": {
            "default": false,
            "description": "Whether to disable the radio",
            "type": "boolean"
          },
          "power": {
            "default": null,
            "description": "TX power of the radio. For Devices, 0 means auto. -1 / -2 / -3 / …: treated as 0 / -1 / -2 / …",
            "examples": [
              3
            ],
            "maximum": 25,
            "minimum": 3,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_max": {
            "default": 17,
            "description": "When power=0, max tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 3,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_min": {
            "default": 8,
            "description": "When power=0, min tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 3,
            "type": [
              "integer",
              "null"
            ]
          },
          "preamble": {
            "$ref": "#/components/schemas/radio_band_preamble"
          }
        },
        "type": "object"
      },
      "ap_radio_band5": {
        "additionalProperties": false,
        "description": "Radio Band AP settings",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "type": "boolean"
          },
          "ant_gain": {
            "default": 0,
            "maximum": 10,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "antenna_beam_pattern": {
            "$ref": "#/components/schemas/radio_band_antenna_beam_pattern"
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/radio_band_antenna_mode"
          },
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth5"
          },
          "channel": {
            "default": null,
            "description": "For Device. (primary) channel for the band, 0 means using the Site Setting",
            "examples": [
              100
            ],
            "type": [
              "integer",
              "null"
            ]
          },
          "channels": {
            "$ref": "#/components/schemas/radio_band_channels"
          },
          "disabled": {
            "default": false,
            "description": "Whether to disable the radio",
            "type": "boolean"
          },
          "power": {
            "default": null,
            "description": "TX power of the radio. For Devices, 0 means auto. -1 / -2 / -3 / …: treated as 0 / -1 / -2 / …",
            "examples": [
              6
            ],
            "maximum": 25,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_max": {
            "default": 17,
            "description": "When power=0, max tx power to use, HW-specific values will be used if not set",
            "maximum": 17,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_min": {
            "default": 8,
            "description": "When power=0, min tx power to use, HW-specific values will be used if not set",
            "maximum": 17,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "preamble": {
            "$ref": "#/components/schemas/radio_band_preamble"
          }
        },
        "type": "object"
      },
      "ap_radio_band6": {
        "additionalProperties": false,
        "description": "Radio Band AP settings",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "type": "boolean"
          },
          "ant_gain": {
            "default": 0,
            "maximum": 10,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "antenna_beam_pattern": {
            "$ref": "#/components/schemas/radio_band_antenna_beam_pattern"
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/radio_band_antenna_mode"
          },
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth6"
          },
          "channel": {
            "default": null,
            "description": "For Device. (primary) channel for the band, 0 means using the Site Setting",
            "examples": [
              0
            ],
            "type": [
              "integer",
              "null"
            ]
          },
          "channels": {
            "$ref": "#/components/schemas/radio_band_channels"
          },
          "disabled": {
            "default": false,
            "description": "Whether to disable the radio",
            "type": "boolean"
          },
          "power": {
            "default": null,
            "description": "TX power of the radio. For Devices, 0 means auto. -1 / -2 / -3 / …: treated as 0 / -1 / -2 / …",
            "examples": [
              7
            ],
            "maximum": 25,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_max": {
            "default": 18,
            "description": "When power=0, max tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_min": {
            "default": 8,
            "description": "When power=0, min tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "preamble": {
            "$ref": "#/components/schemas/radio_band_preamble"
          },
          "standard_power": {
            "default": false,
            "description": "For 6GHz Only, standard-power operation, AFC (Automatic Frequency Coordination) will be performed, and we'll fall back to Low Power Indoor if AFC failed",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_uplink_port_config": {
        "additionalProperties": false,
        "description": "AP Uplink port configuration",
        "properties": {
          "dot1x": {
            "default": false,
            "description": "Whether to do 802.1x against uplink switch. When enabled, AP cert will be used to do EAP-TLS and the Org's CA Cert has to be provisioned at the switch",
            "type": "boolean"
          },
          "keep_wlans_up_if_down": {
            "default": false,
            "description": "By default, WLANs are disabled when uplink is down. In some scenario, like SiteSurvey, one would want the AP to keep sending beacons.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "app_probing": {
        "additionalProperties": false,
        "properties": {
          "apps": {
            "$ref": "#/components/schemas/app_probing_apps"
          },
          "custom_apps": {
            "$ref": "#/components/schemas/app_probing_custom_apps"
          },
          "enabled": {
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "app_probing_apps": {
        "description": "APp-keys from [List Applications](/#operations/listApplications)",
        "examples": [
          [
            "facebook"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "app_probing_custom_app": {
        "additionalProperties": false,
        "properties": {
          "address": {
            "description": "Required if `protocol`==`icmp`",
            "examples": [
              "192.168.1.1"
            ],
            "type": "string"
          },
          "app_type": {
            "type": "string"
          },
          "hostnames": {
            "$ref": "#/components/schemas/app_probing_custom_app_hostname"
          },
          "key": {
            "type": "string"
          },
          "name": {
            "examples": [
              "pos_app"
            ],
            "type": "string"
          },
          "network": {
            "examples": [
              "lan"
            ],
            "type": "string"
          },
          "packetSize": {
            "description": "If `protocol`==`icmp`",
            "maximum": 65400,
            "minimum": 0,
            "type": "integer"
          },
          "protocol": {
            "$ref": "#/components/schemas/app_probing_custom_app_protocol"
          },
          "url": {
            "description": "If `protocol`==`http`",
            "examples": [
              "www.abc.com"
            ],
            "type": "string"
          },
          "vrf": {
            "examples": [
              "lan"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "app_probing_custom_app_hostname": {
        "description": "If `protocol`==`http`",
        "examples": [
          [
            "https://www.abc.com"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "app_probing_custom_app_protocol": {
        "default": "http",
        "description": "enum: `http`, `icmp`",
        "enum": [
          "http",
          "icmp"
        ],
        "type": "string"
      },
      "app_probing_custom_apps": {
        "items": {
          "$ref": "#/components/schemas/app_probing_custom_app"
        },
        "type": "array"
      },
      "auto_preemption": {
        "additionalProperties": false,
        "description": "Schedule to preempt ap’s which are not connected to preferred peer",
        "properties": {
          "day_of_week": {
            "$ref": "#/components/schemas/day_of_week"
          },
          "enabled": {
            "default": false,
            "description": "Whether auto preemption should happen",
            "type": "boolean"
          },
          "time_of_day": {
            "$ref": "#/components/schemas/time_of_day"
          }
        },
        "type": "object"
      },
      "bgp_as": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4294967294,
            "minimum": 1,
            "type": "integer"
          }
        ],
        "description": "BGP AS, value in range 1-4294967294. Can be a Variable (e.g. `{{bgp_as}}` )",
        "examples": [
          65000
        ]
      },
      "bgp_config": {
        "additionalProperties": false,
        "description": "BFD is enabled when either bfd_minimum_interval or bfd_multiplier is configured",
        "properties": {
          "auth_key": {
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`",
            "type": "string"
          },
          "bfd_minimum_interval": {
            "default": 350,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`, when bfd_multiplier is configured alone. Default:\n  * 1000 if `type`==`external`\n  * 350 `type`==`internal`",
            "maximum": 255000,
            "minimum": 1,
            "type": [
              "integer",
              "null"
            ]
          },
          "bfd_multiplier": {
            "default": 3,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`, when bfd_minimum_interval_is_configured alone",
            "maximum": 255,
            "minimum": 1,
            "type": [
              "integer",
              "null"
            ]
          },
          "disable_bfd": {
            "default": false,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. BFD provides faster path failure detection and is enabled by default",
            "type": "boolean"
          },
          "export": {
            "type": "string"
          },
          "export_policy": {
            "description": "Default export policies if no per-neighbor policies defined",
            "type": "string"
          },
          "extended_v4_nexthop": {
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. By default, either inet/net6 unicast depending on neighbor IP family (v4 or v6). For v6 neighbors, to exchange v4 nexthop, which allows dual-stack support, enable this",
            "type": "boolean"
          },
          "graceful_restart_time": {
            "default": 0,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. `0` means disable",
            "maximum": 4095,
            "minimum": 0,
            "type": "integer"
          },
          "hold_time": {
            "default": 90,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. Default is 90.",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer"
          },
          "import": {
            "type": "string"
          },
          "import_policy": {
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. Default import policies if no per-neighbor policies defined",
            "type": "string"
          },
          "local_as": {
            "$ref": "#/components/schemas/bgp_local_as"
          },
          "neighbor_as": {
            "$ref": "#/components/schemas/bgp_as"
          },
          "neighbors": {
            "additionalProperties": {
              "$ref": "#/components/schemas/bgp_config_neighbors"
            },
            "description": "Required if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. If per-neighbor as is desired. Property key is the neighbor address",
            "type": "object"
          },
          "networks": {
            "$ref": "#/components/schemas/bgp_config_networks"
          },
          "no_private_as": {
            "default": false,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. If true, we will not advertise private ASNs (AS 64512-65534) to this neighbor",
            "type": "boolean"
          },
          "no_readvertise_to_overlay": {
            "default": false,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. By default, we'll re-advertise all learned BGP routers toward overlay",
            "type": "boolean"
          },
          "tunnel_name": {
            "description": "Optional if `via`==`tunnel`",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/bgp_config_type"
          },
          "via": {
            "$ref": "#/components/schemas/bgp_config_via"
          },
          "vpn_name": {
            "description": "Optional if `via`==`vpn`",
            "type": "string"
          },
          "wan_name": {
            "description": "Optional if `via`==`wan`",
            "type": "string"
          }
        },
        "required": [
          "via"
        ],
        "type": "object"
      },
      "bgp_config_neighbors": {
        "additionalProperties": false,
        "properties": {
          "disabled": {
            "default": false,
            "description": "If true, the BGP session to this neighbor will be administratively disabled/shutdown",
            "type": "boolean"
          },
          "export_policy": {
            "type": "string"
          },
          "hold_time": {
            "default": 90,
            "maximum": 65535,
            "minimum": 0,
            "type": "integer"
          },
          "import_policy": {
            "type": "string"
          },
          "multihop_ttl": {
            "description": "Assuming BGP neighbor is directly connected",
            "maximum": 255,
            "minimum": 0,
            "type": "integer"
          },
          "neighbor_as": {
            "$ref": "#/components/schemas/bgp_as"
          }
        },
        "required": [
          "neighbor_as"
        ],
        "type": "object"
      },
      "bgp_config_networks": {
        "description": "Optional if `via`==`lan`. List of networks where we expect BGP neighbor to connect to/from",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "bgp_config_type": {
        "description": "Required if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. enum: `external`, `internal`",
        "enum": [
          "external",
          "internal"
        ],
        "minLength": 1,
        "type": "string"
      },
      "bgp_config_via": {
        "default": "lan",
        "description": "enum: `lan`, `tunnel`, `vpn`, `wan`",
        "enum": [
          "lan",
          "tunnel",
          "vpn",
          "wan"
        ],
        "type": "string"
      },
      "bgp_local_as": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer"
          }
        ],
        "description": "Required if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. BGP AS, value in range 1-4294967295",
        "examples": [
          65000
        ]
      },
      "ble_config": {
        "additionalProperties": false,
        "description": "BLE AP settings",
        "properties": {
          "beacon_enabled": {
            "default": true,
            "description": "Whether Mist beacons is enabled",
            "type": "boolean"
          },
          "beacon_rate": {
            "description": "Required if `beacon_rate_mode`==`custom`, 1-10, in number-beacons-per-second",
            "examples": [
              3
            ],
            "type": "integer"
          },
          "beacon_rate_mode": {
            "$ref": "#/components/schemas/ble_config_beacon_rate_mode"
          },
          "beam_disabled": {
            "$ref": "#/components/schemas/ble_config_beam_disabled"
          },
          "custom_ble_packet_enabled": {
            "default": false,
            "description": "Can be enabled if `beacon_enabled`==`true`, whether to send custom packet",
            "type": "boolean"
          },
          "custom_ble_packet_frame": {
            "default": "",
            "description": "The custom frame to be sent out in this beacon. The frame must be a hexstring",
            "examples": [
              "0x........"
            ],
            "type": "string"
          },
          "custom_ble_packet_freq_msec": {
            "default": 0,
            "description": "Frequency (msec) of data emitted by custom ble beacon",
            "examples": [
              300
            ],
            "minimum": 0,
            "type": "integer"
          },
          "eddystone_uid_adv_power": {
            "default": 0,
            "description": "Advertised TX Power, -100 to 20 (dBm), omit this attribute to use default",
            "examples": [
              -65
            ],
            "maximum": 20,
            "minimum": -100,
            "type": "integer"
          },
          "eddystone_uid_beams": {
            "default": "",
            "examples": [
              "2-4,7"
            ],
            "type": "string"
          },
          "eddystone_uid_enabled": {
            "default": false,
            "description": "Only if `beacon_enabled`==`false`, Whether Eddystone-UID beacon is enabled",
            "type": "boolean"
          },
          "eddystone_uid_freq_msec": {
            "default": 0,
            "description": "Frequency (msec) of data emit by Eddystone-UID beacon",
            "examples": [
              200
            ],
            "type": "integer"
          },
          "eddystone_uid_instance": {
            "default": "",
            "description": "Eddystone-UID instance for the device",
            "examples": [
              "5c5b35000001"
            ],
            "type": "string"
          },
          "eddystone_uid_namespace": {
            "default": "",
            "description": "Eddystone-UID namespace",
            "examples": [
              "2818e3868dec25629ede"
            ],
            "type": "string"
          },
          "eddystone_url_adv_power": {
            "default": 0,
            "description": "Advertised TX Power, -100 to 20 (dBm), omit this attribute to use default",
            "examples": [
              -65
            ],
            "maximum": 20,
            "minimum": -100,
            "type": "integer"
          },
          "eddystone_url_beams": {
            "default": "",
            "examples": [
              "2-4,7"
            ],
            "type": "string"
          },
          "eddystone_url_enabled": {
            "default": false,
            "description": "Only if `beacon_enabled`==`false`, Whether Eddystone-URL beacon is enabled",
            "type": "boolean"
          },
          "eddystone_url_freq_msec": {
            "default": 0,
            "description": "Frequency (msec) of data emit by Eddystone-UID beacon",
            "examples": [
              1000
            ],
            "type": "integer"
          },
          "eddystone_url_url": {
            "default": "",
            "description": "URL pointed by Eddystone-URL beacon",
            "examples": [
              "https://www.abc.com"
            ],
            "type": "string"
          },
          "ibeacon_adv_power": {
            "default": 0,
            "description": "Advertised TX Power, -100 to 20 (dBm), omit this attribute to use default",
            "examples": [
              -65
            ],
            "maximum": 20,
            "minimum": -100,
            "type": "integer"
          },
          "ibeacon_beams": {
            "default": "",
            "examples": [
              "2-4,7"
            ],
            "type": "string"
          },
          "ibeacon_enabled": {
            "default": false,
            "description": "Can be enabled if `beacon_enabled`==`true`, whether to send iBeacon",
            "type": "boolean"
          },
          "ibeacon_freq_msec": {
            "default": 0,
            "description": "Frequency (msec) of data emit for iBeacon",
            "type": "integer"
          },
          "ibeacon_major": {
            "$ref": "#/components/schemas/ibeacon_major"
          },
          "ibeacon_minor": {
            "$ref": "#/components/schemas/ibeacon_minor"
          },
          "ibeacon_uuid": {
            "default": "",
            "description": "Optional, if not specified, the same UUID as the beacon will be used",
            "examples": [
              "f3f17139-704a-f03a-2786-0400279e37c3"
            ],
            "format": "uuid",
            "type": "string"
          },
          "power": {
            "default": 9,
            "description": "Required if `power_mode`==`custom`; else use `power_mode` as default",
            "examples": [
              6
            ],
            "maximum": 10,
            "minimum": 1,
            "type": "integer"
          },
          "power_mode": {
            "$ref": "#/components/schemas/ble_config_power_mode"
          }
        },
        "type": "object"
      },
      "ble_config_beacon_rate_mode": {
        "default": "default",
        "description": "enum: `custom`, `default`",
        "enum": [
          "custom",
          "default"
        ],
        "examples": [
          "custom"
        ],
        "type": "string"
      },
      "ble_config_beam_disabled": {
        "description": "List of AP BLE location beam numbers (1-8) which should be disabled at the AP and not transmit location information (where beam 1 is oriented at the top the AP, growing counter-clock-wise, with 9 being the omni BLE beam)",
        "examples": [
          [
            1,
            3,
            6
          ]
        ],
        "items": {
          "type": "integer"
        },
        "type": "array"
      },
      "ble_config_power_mode": {
        "default": "default",
        "description": "enum: `custom`, `default`",
        "enum": [
          "custom",
          "default"
        ],
        "examples": [
          "custom"
        ],
        "type": "string"
      },
      "config_switch_local_accounts": {
        "additionalProperties": {
          "$ref": "#/components/schemas/config_switch_local_accounts_user"
        },
        "description": "Property key is the user name. For Local user authentication",
        "type": "object"
      },
      "config_switch_local_accounts_user": {
        "additionalProperties": false,
        "properties": {
          "password": {
            "examples": [
              "Juniper123"
            ],
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/config_switch_local_accounts_user_role"
          }
        },
        "type": "object"
      },
      "config_switch_local_accounts_user_role": {
        "default": "none",
        "description": "enum: `admin`, `helpdesk`, `none`, `read`",
        "enum": [
          "admin",
          "helpdesk",
          "none",
          "read"
        ],
        "type": "string"
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "day_of_week": {
        "description": "enum: `any`, `fri`, `mon`, `sat`, `sun`, `thu`, `tue`, `wed`",
        "enum": [
          "any",
          "fri",
          "mon",
          "sat",
          "sun",
          "thu",
          "tue",
          "wed"
        ],
        "type": "string"
      },
      "dhcp_snooping": {
        "additionalProperties": false,
        "properties": {
          "all_networks": {
            "type": "boolean"
          },
          "enable_arp_spoof_check": {
            "description": "Enable for dynamic ARP inspection check",
            "type": "boolean"
          },
          "enable_ip_source_guard": {
            "description": "Enable for check for forging source IP address",
            "type": "boolean"
          },
          "enabled": {
            "type": "boolean"
          },
          "networks": {
            "$ref": "#/components/schemas/dhcp_snooping_networks"
          }
        },
        "type": "object"
      },
      "dhcp_snooping_networks": {
        "description": "If `all_networks`==`false`, list of network with DHCP snooping enabled",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "dhcpd_config": {
        "additionalProperties": {
          "$ref": "#/components/schemas/dhcpd_config_property"
        },
        "properties": {
          "enabled": {
            "default": true,
            "description": "If set to `false`, disable the DHCP server",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "dhcpd_config_dns_servers": {
        "description": "If `type`==`local` or `type6`==`local` - optional, if not defined, system one will be used",
        "examples": [
          [
            "8.8.8.8",
            "4.4.4.4",
            "2001:4860:4860::8888"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "dhcpd_config_dns_suffix": {
        "description": "If `type`==`local` or `type6`==`local` - optional, if not defined, system one will be used",
        "examples": [
          [
            ".mist.local",
            ".mist.com"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "dhcpd_config_fixed_binding": {
        "additionalProperties": false,
        "properties": {
          "ip": {
            "examples": [
              "192.168.70.35"
            ],
            "type": "string"
          },
          "ip6": {
            "examples": [
              "2607:f8b0:4005:808::2"
            ],
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "dhcpd_config_fixed_bindings": {
        "additionalProperties": {
          "$ref": "#/components/schemas/dhcpd_config_fixed_binding"
        },
        "description": "If `type`==`local` or `type6`==`local`. Property key is the MAC Address. Format is `[0-9a-f]{12}` (e.g. \"5684dae9ac8b\")",
        "examples": [
          {
            "5684dae9ac8b": {
              "ip": "192.168.70.35",
              "name": "John"
            }
          }
        ],
        "type": "object"
      },
      "dhcpd_config_option": {
        "additionalProperties": false,
        "properties": {
          "type": {
            "$ref": "#/components/schemas/dhcpd_config_option_type"
          },
          "value": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "dhcpd_config_option_type": {
        "description": "enum: `boolean`, `hex`, `int16`, `int32`, `ip`, `string`, `uint16`, `uint32`",
        "enum": [
          "boolean",
          "hex",
          "int16",
          "int32",
          "ip",
          "string",
          "uint16",
          "uint32"
        ],
        "type": "string"
      },
      "dhcpd_config_options": {
        "additionalProperties": {
          "$ref": "#/components/schemas/dhcpd_config_option"
        },
        "description": "If `type`==`local` or `type6`==`local`. Property key is the DHCP option number",
        "type": "object"
      },
      "dhcpd_config_property": {
        "additionalProperties": false,
        "properties": {
          "dns_servers": {
            "$ref": "#/components/schemas/dhcpd_config_dns_servers"
          },
          "dns_suffix": {
            "$ref": "#/components/schemas/dhcpd_config_dns_suffix"
          },
          "fixed_bindings": {
            "$ref": "#/components/schemas/dhcpd_config_fixed_bindings"
          },
          "gateway": {
            "description": "If `type`==`local` - optional, `ip` will be used if not provided",
            "examples": [
              "192.168.70.1"
            ],
            "type": "string"
          },
          "ip6_end": {
            "description": "If `type6`==`local`",
            "examples": [
              "2607:f8b0:4005:808::ff"
            ],
            "type": "string"
          },
          "ip6_start": {
            "description": "If `type6`==`local`",
            "examples": [
              "2607:f8b0:4005:808::2"
            ],
            "type": "string"
          },
          "ip_end": {
            "description": "If `type`==`local`",
            "examples": [
              "192.168.70.200"
            ],
            "type": "string"
          },
          "ip_start": {
            "description": "If `type`==`local`",
            "examples": [
              "192.168.70.100"
            ],
            "type": "string"
          },
          "lease_time": {
            "default": 86400,
            "description": "In seconds, lease time has to be between 3600 [1hr] - 604800 [1 week], default is 86400 [1 day]",
            "maximum": 604800,
            "minimum": 3600,
            "type": "integer"
          },
          "options": {
            "$ref": "#/components/schemas/dhcpd_config_options"
          },
          "server_id_override": {
            "default": false,
            "description": "`server_id_override`==`true` means the device, when acts as DHCP relay and forwards DHCP responses from DHCP server to clients, \nshould overwrite the Sever Identifier option (i.e. DHCP option 54) in DHCP responses with its own IP address.",
            "type": "boolean"
          },
          "servers": {
            "$ref": "#/components/schemas/dhcpd_config_servers"
          },
          "serversv6": {
            "$ref": "#/components/schemas/dhcpd_config_servers6"
          },
          "type": {
            "$ref": "#/components/schemas/dhcpd_config_type"
          },
          "type6": {
            "$ref": "#/components/schemas/dhcpd_config_type6"
          },
          "vendor_encapsulated": {
            "$ref": "#/components/schemas/dhcpd_config_vendor_options"
          }
        },
        "type": "object"
      },
      "dhcpd_config_servers": {
        "description": "If `type`==`relay`",
        "examples": [
          [
            "11.2.3.4"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "dhcpd_config_servers6": {
        "description": "If `type6`==`relay`",
        "examples": [
          [
            "2607:f8b0:4005:808::64"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "dhcpd_config_type": {
        "default": "local",
        "description": "enum: `local` (DHCP Server), `none`, `relay` (DHCP Relay)",
        "enum": [
          "local",
          "none",
          "relay"
        ],
        "type": "string"
      },
      "dhcpd_config_type6": {
        "default": "none",
        "description": "enum: `local` (DHCP Server), `none`, `relay` (DHCP Relay)",
        "enum": [
          "local",
          "none",
          "relay"
        ],
        "type": "string"
      },
      "dhcpd_config_vendor_option": {
        "additionalProperties": false,
        "properties": {
          "type": {
            "$ref": "#/components/schemas/dhcpd_config_vendor_option_type"
          },
          "value": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "dhcpd_config_vendor_option_type": {
        "description": "enum: `boolean`, `hex`, `int16`, `int32`, `ip`, `string`, `uint16`, `uint32`",
        "enum": [
          "boolean",
          "hex",
          "int16",
          "int32",
          "ip",
          "string",
          "uint16",
          "uint32"
        ],
        "type": "string"
      },
      "dhcpd_config_vendor_options": {
        "additionalProperties": {
          "$ref": "#/components/schemas/dhcpd_config_vendor_option"
        },
        "description": "If `type`==`local` or `type6`==`local`. Property key is <enterprise number>:<sub option code>, with\n  * enterprise number: 1-65535 (https://www.iana.org/assignments/enterprise-numbers/enterprise-numbers)\n  * sub option code: 1-255, sub-option code",
        "type": "object"
      },
      "dns_servers": {
        "description": "Global dns settings. To keep compatibility, dns settings in `ip_config` and `oob_ip_config` will overwrite this setting",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "dns_suffix": {
        "description": "Global dns settings. To keep compatibility, dns settings in `ip_config` and `oob_ip_config` will overwrite this setting",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "dot11_bandwidth24": {
        "default": 20,
        "description": "channel width for the 2.4GHz band. enum: `0`(disabled, response only), `20`, `40`",
        "enum": [
          0,
          20,
          40
        ],
        "examples": [
          20
        ],
        "type": "integer"
      },
      "dot11_bandwidth5": {
        "default": 40,
        "description": "channel width for the 5GHz band. enum: `0`(disabled, response only), `20`, `40`, `80`",
        "enum": [
          0,
          20,
          40,
          80
        ],
        "examples": [
          40
        ],
        "type": "integer"
      },
      "dot11_bandwidth6": {
        "default": 80,
        "description": "channel width for the 6GHz band. enum: `0`(disabled, response only), `20`, `40`, `80`, `160`",
        "enum": [
          0,
          20,
          40,
          80,
          160
        ],
        "examples": [
          80
        ],
        "type": "integer"
      },
      "evpn_options": {
        "additionalProperties": false,
        "description": "EVPN Options",
        "properties": {
          "auto_loopback_subnet": {
            "default": "172.16.192.0/24",
            "description": "Optional, for dhcp_relay, unique loopback IPs are required for ERB or IPClos where we can set option-82 server_id-overrides",
            "type": "string"
          },
          "auto_loopback_subnet6": {
            "default": "fd33:ab00:2::/64",
            "description": "Optional, for dhcp_relay, unique loopback IPs are required for ERB or IPClos where we can set option-82 server_id-overrides",
            "type": "string"
          },
          "auto_router_id_subnet": {
            "default": "172.16.254.0/23",
            "description": "Optional, this generates router_id automatically, if specified, `router_id_prefix` is ignored",
            "type": "string"
          },
          "auto_router_id_subnet6": {
            "description": "Optional, this generates router_id automatically, if specified, `router_id_prefix` is ignored",
            "examples": [
              "fd31:5700:1::/64"
            ],
            "type": "string"
          },
          "core_as_border": {
            "default": false,
            "description": "Optional, for ERB or CLOS, you can either use esilag to upstream routers or to also be the virtual-gateway. When `routed_at` != `core`, whether to do virtual-gateway at core as well",
            "type": "boolean"
          },
          "enable_inband_ztp": {
            "default": false,
            "description": "if the mangement traffic goes inbnd, during installation, only the border/core switches are connected to the Internet to allow initial configuration to be pushed down and leave the downstream access switches stay in the Factory Default state enabling inband-ztp allows upstream switches to use LLDP to assign IP and gives Internet to downstream switches in that state",
            "type": "boolean"
          },
          "overlay": {
            "$ref": "#/components/schemas/evpn_options_overlay"
          },
          "per_vlan_vga_v4_mac": {
            "default": false,
            "description": "Only for by Core-Distribution architecture when `evpn_options.routed_at`==`core`. By default, JUNOS uses 00-00-5e-00-01-01 as the virtual-gateway-address's v4_mac. If enabled, 00-00-5e-00-0X-YY will be used (where XX=vlan_id/256, YY=vlan_id%256)",
            "type": "boolean"
          },
          "per_vlan_vga_v6_mac": {
            "default": false,
            "description": "Only for by Core-Distribution architecture when `evpn_options.routed_at`==`core`. By default, JUNOS uses 00-00-5e-00-02-01 as the virtual-gateway-address's v6_mac. If enabled, 00-00-5e-00-1X-YY will be used (where XX=vlan_id/256, YY=vlan_id%256)",
            "type": "boolean"
          },
          "routed_at": {
            "$ref": "#/components/schemas/evpn_options_routed_at"
          },
          "underlay": {
            "$ref": "#/components/schemas/evpn_options_underlay"
          },
          "vs_instances": {
            "$ref": "#/components/schemas/evpn_options_vs_instances"
          }
        },
        "type": "object"
      },
      "evpn_options_overlay": {
        "additionalProperties": false,
        "properties": {
          "as": {
            "default": 65000,
            "description": "Overlay BGP Local AS Number",
            "examples": [
              65000
            ],
            "maximum": 65535,
            "minimum": 1,
            "type": "integer"
          }
        },
        "type": "object"
      },
      "evpn_options_routed_at": {
        "default": "edge",
        "description": "optional, where virtual-gateway should reside. enum: `core`, `distribution`, `edge`",
        "enum": [
          "core",
          "distribution",
          "edge"
        ],
        "type": "string"
      },
      "evpn_options_underlay": {
        "additionalProperties": false,
        "properties": {
          "as_base": {
            "default": 65001,
            "description": "Underlay BGP Base AS Number",
            "examples": [
              65001
            ],
            "maximum": 65535,
            "minimum": 1,
            "type": "integer"
          },
          "routed_id_prefix": {
            "examples": [
              "/24"
            ],
            "type": "string"
          },
          "subnet": {
            "description": "Underlay subnet, by default, `10.255.240.0/20`, or `fd31:5700::/64` for ipv6",
            "examples": [
              "10.255.240.0/20"
            ],
            "type": "string"
          },
          "use_ipv6": {
            "default": false,
            "description": "If v6 is desired for underlay",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "evpn_options_vs_instance": {
        "additionalProperties": false,
        "properties": {
          "networks": {
            "$ref": "#/components/schemas/strings"
          }
        },
        "type": "object"
      },
      "evpn_options_vs_instances": {
        "additionalProperties": {
          "$ref": "#/components/schemas/evpn_options_vs_instance"
        },
        "description": "Optional, for EX9200 only to segregate virtual-switches",
        "examples": [
          {
            "guest": {
              "networks": [
                "guest"
              ]
            },
            "iot": {
              "networks": [
                "iot-wifi",
                "iot-lan"
              ]
            }
          }
        ],
        "type": "object"
      },
      "extra_route": {
        "additionalProperties": false,
        "properties": {
          "discard": {
            "default": false,
            "description": "This takes precedence",
            "type": "boolean"
          },
          "metric": {
            "examples": [
              null
            ],
            "maximum": 2147483647,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "next_qualified": {
            "additionalProperties": {
              "$ref": "#/components/schemas/extra_route_next_qualified_properties"
            },
            "examples": [
              {
                "10.3.1.1": {
                  "metric": null,
                  "preference": 40
                }
              }
            ],
            "type": "object"
          },
          "no_resolve": {
            "default": false,
            "type": "boolean"
          },
          "preference": {
            "examples": [
              30
            ],
            "maximum": 2147483647,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "via": {
[...]
