{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Webhooks",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "A Site Webhook is a configuration that allows real-time events and data from a specific site to be pushed to a provided url.\n\nIt enables the collection of information about various topics such as device events, alarms, audits, client sessions and location updates at the site level.\n\nThe Webhook can be set up and customized using the Mist API, allowing users to receive and analyze specific data from a particular site.",
      "name": "Sites Webhooks"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/webhooks": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get List of Site Webhooks",
        "operationId": "listSiteWebhooks",
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhooksArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteWebhooks",
        "tags": [
          "Sites Webhooks"
        ]
      },
      "post": {
        "description": "Webhook defines a webhook, modeled after [github\\u2019s model](https://developer.github.com/webhooks/).\n\n\nThere is two types of webhooks:\n* webhooks ([examples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace/folder/224925-be01e694-7253-4195-8563-78e2a745e114))        \n* raw data webhooks ([examples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace/folder/224925-e2d5d5f8-4bdb-4efc-93e4-90f4b33d0b2b))\n\n\n##### Webhooks\nWebhooks can be configured at the org level (subset of topics only) and at the site level. It is possible to have multiple topics in the same webhook configuration and/or to have multiple webhooks configured at the same time.\n\n##### Client Raw Data Webhooks\nRaw data webhooks are a special subset of webhooks that provide insight into raw data packets emitted by a client, identified by their advertising MAC address (assets, discovered BLE, connected Wi-Fi, unconnected Wi-Fi). The data that client raw data webhooks encompasses are reporting AP information, RSSI Data, and any special packets/telemetry packets that the client may emit. Note that client raw webhooks are the raw data coming from the client and do not contain the X,Y location data of the client. In order to get the location data for a client please see our location webhooks. Clients can be identified uniquely across these client raw data topics and location webhook topic using MAC address as the Unique identifier (client identifier).\n\n###### Client Raw Data Webhooks Topics\nTopics that correspond to client raw data for different client types. \n* `asset-raw-rssi` - Raw data from packets emitted by named and filtered assets \n* `discovered-raw-rssi` - Raw data from packets emitted by passive BLE devices \n* `wifi-conn-raw` - Raw data from packets emitted by connected devices \n* `wifi-unconn-raw` - Raw data from packets emitted by unconnected devices (passive)\n\n### Asset Filtering for Client Raw Data Webhooks\n\nThe `asset-raw-rssi` webhook topic supports filtering of raw data by incorporating asset filters in the webhook payload.  \nThe filter topic allows multiple Webhooks to receive a subset of the a`asset-raw-rssi` data by assigning asset filters to a given webhook. The `asset-raw-rssi` filter topic is filtered-asset-rssi.\n\n\nA webhook assigned to a filter topic can take a list of AssetFilter IDs, which act as inclusive filters to determine which named asset and filtered asset data is sent to the assigned filter topic. Filters can be applied to multiple webhooks, and the same data can be sent to multiple filter topics.\n\n### Rules for Configuring Client Raw Data Webhooks\n\n1. Only four instances of a webhook object can contain a specific filter topic. - A site-level entry will override an org-level entry for the same client raw data webhook topic.\n2. An assigned asset filter must exist and belong to the same site as the webhook it is assigned to.\n",
        "operationId": "createSiteWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "enabled": true,
                    "headers": {},
                    "name": "string",
                    "secret": "string",
                    "splunk_token": "string",
                    "topics": [
                      "location"
                    ],
                    "type": "http-post",
                    "url": "string",
                    "verify_cert": true
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/webhook"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Webhook"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400Webhook"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createSiteWebhook",
        "tags": [
          "Sites Webhooks"
        ]
      }
    },
    "/api/v1/sites/{site_id}/webhooks/{webhook_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/webhook_id"
        }
      ],
      "get": {
        "description": "Get Site Webhook Details",
        "operationId": "getSiteWebhook",
        "responses": {
          "200": {
            "$ref": "#/components/responses/Webhook"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteWebhook",
        "tags": [
          "Sites Webhooks"
        ]
      },
      "put": {
        "description": "Update Site Webhook",
        "operationId": "updateSiteWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "enabled": true,
                    "headers": {},
                    "name": "string",
                    "secret": "string",
                    "splunk_token": "string",
                    "topics": [
                      "location"
                    ],
                    "type": "http-post",
                    "url": "string",
                    "verify_cert": true
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/webhook"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Webhook"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteWebhook",
        "tags": [
          "Sites Webhooks"
        ]
      },
      "delete": {
        "description": "Delete Site Webhook",
        "operationId": "deleteSiteWebhook",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteWebhook",
        "tags": [
          "Sites Webhooks"
        ]
      }
    },
    "/api/v1/sites/{site_id}/webhooks/{webhook_id}/events/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/webhook_id"
        }
      ],
      "get": {
        "description": "Count Site Webhooks deliveries\n\n\nTopics Supported:\n- alarms\n- audits\n- device-updowns\n- occupancy-alerts\n- ping",
        "operationId": "countSiteWebhooksDeliveries",
        "parameters": [
          {
            "description": "Filter webhook delivery results by error message",
            "in": "query",
            "name": "error",
            "schema": {
              "examples": [
                "Webhook delivery failed"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter webhook delivery results by HTTP status code",
            "in": "query",
            "name": "status_code",
            "schema": {
              "examples": [
                200
              ],
              "type": "integer"
            }
          },
          {
            "description": "Webhook delivery status used to filter results. enum: `failure`, `success`",
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/webhook_delivery_status"
            }
          },
          {
            "description": "Webhook topic used to filter results. enum: `alarms`, `audits`, `device-updowns`, `occupancy-alerts`, `ping`",
            "in": "query",
            "name": "topic",
            "schema": {
              "$ref": "#/components/schemas/webhook_delivery_topic"
            }
          },
          {
            "description": "Field used to group this count response. enum: `status`, `status_code`, `topic`, `webhook_id`",
            "in": "query",
            "name": "distinct",
            "schema": {
              "$ref": "#/components/schemas/webhook_delivery_distinct"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Count"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "countSiteWebhooksDeliveries",
        "tags": [
          "Sites Webhooks"
        ]
      }
    },
    "/api/v1/sites/{site_id}/webhooks/{webhook_id}/events/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/webhook_id"
        }
      ],
      "get": {
        "description": "Search Site Webhooks deliveries\n\n\nTopics Supported:\n- alarms\n- audits\n- device-updowns\n- occupancy-alerts\n- ping",
        "operationId": "searchSiteWebhooksDeliveries",
        "parameters": [
          {
            "description": "Filter webhook delivery results by error message",
            "in": "query",
            "name": "error",
            "schema": {
              "examples": [
                "Webhook delivery failed"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter webhook delivery results by HTTP status code",
            "in": "query",
            "name": "status_code",
            "schema": {
              "examples": [
                200
              ],
              "type": "integer"
            }
          },
          {
            "description": "Webhook delivery status used to filter results. enum: `failure`, `success`",
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/webhook_delivery_status"
            }
          },
          {
            "description": "Webhook topic used to filter results. enum: `alarms`, `audits`, `device-updowns`, `occupancy-alerts`, `ping`",
            "in": "query",
            "name": "topic",
            "schema": {
              "$ref": "#/components/schemas/webhook_delivery_topic"
            }
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/sort"
          },
          {
            "$ref": "#/components/parameters/search_after"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebhookDeliverySearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "searchSiteWebhooksDeliveries",
        "tags": [
          "Sites Webhooks"
        ]
      }
    },
    "/api/v1/sites/{site_id}/webhooks/{webhook_id}/ping": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/webhook_id"
        }
      ],
      "post": {
        "description": "Send a Ping event to the webhook",
        "operationId": "pingSiteWebhook",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "pingSiteWebhook",
        "tags": [
          "Sites Webhooks"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "count_result": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Count result row with the matching distinct field values",
        "properties": {
          "count": {
            "description": "Number of matching items for the distinct value or values in this result",
            "type": "integer"
          }
        },
        "required": [
          "count"
        ],
        "type": "object"
      },
      "count_results": {
        "description": "List of count result rows",
        "items": {
          "$ref": "#/components/schemas/count_result"
        },
        "type": "array",
        "uniqueItems": true
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_count": {
        "additionalProperties": false,
        "description": "Distinct count response for time-bounded search results",
        "properties": {
          "distinct": {
            "description": "Field used to group the count results",
            "type": "string"
          },
          "end": {
            "description": "Search window end timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of distinct count results requested",
            "type": "integer"
          },
          "results": {
            "$ref": "#/components/schemas/count_results",
            "description": "Count results grouped by the distinct field"
          },
          "start": {
            "description": "Search window start timestamp for the count request, in epoch seconds",
            "type": "integer"
          },
          "total": {
            "description": "Number of distinct result buckets returned",
            "type": "integer"
          }
        },
        "required": [
          "distinct",
          "end",
          "limit",
          "results",
          "start",
          "total"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http400_webhook": {
        "additionalProperties": false,
        "description": "Webhook-specific HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the invalid webhook request",
            "examples": [
              "invalid field: assetfilter_ids"
            ],
            "type": "string"
          },
          "reason": {
            "description": "Additional reason explaining why the webhook request was invalid",
            "examples": [
              "contains duplicate uuids"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "search_webhook_delivery": {
        "additionalProperties": false,
        "description": "Paginated response for webhook delivery searches",
        "properties": {
          "end": {
            "description": "Upper bound timestamp of the webhook delivery search window, in epoch seconds",
            "examples": [
              1688035193
            ],
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of webhook delivery records returned by this page",
            "examples": [
              10
            ],
            "type": "integer"
          },
          "next": {
            "description": "URL for the next page of webhook delivery records, when more results are available",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/search_webhook_delivery_results",
            "description": "Webhook delivery records returned by the search response"
          },
          "start": {
            "description": "Lower bound timestamp of the webhook delivery search window, in epoch seconds",
            "examples": [
              1687948793
            ],
            "type": "integer"
          },
          "total": {
            "description": "Count of webhook delivery records matching the search",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "search_webhook_delivery_results": {
        "description": "Webhook delivery records returned by a search response",
        "items": {
          "$ref": "#/components/schemas/webhook_delivery"
        },
        "type": "array"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "timestamp": {
        "description": "Epoch timestamp, in seconds",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "webhook": {
        "description": "Webhook configuration for delivering selected Mist events to an external destination",
        "properties": {
          "assetfilter_ids": {
            "$ref": "#/components/schemas/webhook_assetfilter_ids",
            "description": "Asset filter identifiers used to restrict `asset-raw-rssi` webhook events"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Epoch timestamp when the webhook was created"
          },
          "default_action": {
            "$ref": "#/components/schemas/webhook_action",
            "description": "Default action applied when none of the `rules` match the incoming event"
          },
          "enabled": {
            "default": true,
            "description": "Whether webhook is enabled",
            "type": "boolean"
          },
          "for_site": {
            "description": "Whether this webhook is scoped to a site rather than the organization",
            "readOnly": true,
            "type": "boolean"
          },
          "headers": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "If `type`=`http-post`, additional custom HTTP headers to add. The headers name and value must be string, total bytes of headers name and value must be less than 1000",
            "examples": [
              {
                "x-custom-1": "your_custom_header_value1",
                "x-custom-2": "your_custom_header_value2"
              }
            ],
            "type": [
              "object",
              "null"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the webhook"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Epoch timestamp when the webhook was last modified"
          },
          "name": {
            "description": "Display name of the webhook",
            "type": [
              "string",
              "null"
            ]
          },
          "oauth2_client_id": {
            "description": "Required when `oauth2_grant_type`==`client_credentials`; OAuth2 client identifier used to request an access token",
            "type": "string"
          },
          "oauth2_client_secret": {
            "description": "Required when `oauth2_grant_type`==`client_credentials`; OAuth2 client secret used to request an access token",
            "format": "password",
            "type": "string"
          },
          "oauth2_grant_type": {
            "$ref": "#/components/schemas/webhook_oauth2_grant_type",
            "description": "OAuth2 grant type used when `type`==`oauth2`"
          },
          "oauth2_password": {
            "description": "Required when `oauth2_grant_type`==`password`; password used for the OAuth2 token request",
            "format": "password",
            "type": "string"
          },
          "oauth2_scopes": {
            "$ref": "#/components/schemas/webhook_oauth2_scopes",
            "description": "OAuth2 scopes included in the token request when `type`==`oauth2`"
          },
          "oauth2_token_url": {
            "description": "Required when `type`==`oauth2`; token endpoint URL used to obtain the OAuth2 access token",
            "type": "string"
          },
          "oauth2_username": {
            "description": "Required when `oauth2_grant_type`==`password`; username used for the OAuth2 token request",
            "type": "string"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization that owns the webhook"
          },
          "rules": {
            "$ref": "#/components/schemas/webhook_rules",
            "description": "Optional filtering rules to override `topics`. Each rule permits or blocks events for a topic, optionally based on event payload matching criteria"
          },
          "secret": {
            "description": "Only if `type`=`http-post` \n\nwhen `secret` is provided, two HTTP headers will be added: \n  * X-Mist-Signature-v2: HMAC_SHA256(secret, body)\n  * X-Mist-Signature: HMAC_SHA1(secret, body)",
            "type": [
              "string",
              "null"
            ]
          },
          "single_event_per_message": {
            "default": false,
            "description": "Some solutions may not be able to parse multiple events from a single message (e.g. IBM Qradar, DSM). When set to `true`, only a single event will be sent per message. this feature is only available on certain topics (see [List Webhook Topics](/#operations/listWebhookTopics))",
            "type": "boolean"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site associated with this webhook when it is site-scoped"
          },
          "splunk_token": {
            "description": "Required if `type`=`splunk`. If splunk_token is not defined for a type Splunk webhook, it will not send, regardless if the webhook receiver is configured to accept it.",
            "type": [
              "string",
              "null"
            ]
          },
          "topics": {
            "$ref": "#/components/schemas/webhook_topics",
            "description": "Event topics delivered by this webhook"
          },
          "type": {
            "$ref": "#/components/schemas/webhook_type",
            "description": "Delivery mechanism used by this webhook"
          },
          "url": {
            "description": "Destination URL that receives webhook deliveries",
            "type": "string"
          },
          "verify_cert": {
            "default": true,
            "description": "When url uses HTTPS, whether to verify the certificate",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "webhook_action": {
        "default": "permit",
        "description": "Webhook filtering action. enum: `permit`, `block`",
        "enum": [
          "permit",
          "block"
        ],
        "type": "string"
      },
      "webhook_assetfilter_ids": {
        "description": "Only if `type`==`asset-raw-rssi`. List of ids to associated asset filters. These filters will be applied to messages routed to a filtered-asset-rssi webhook",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "webhook_delivery": {
        "additionalProperties": false,
        "description": "Record of a webhook delivery attempt and the destination response",
        "properties": {
          "error": {
            "description": "Message returned for a failed delivery attempt, when available",
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the webhook delivery attempt"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization associated with the webhook delivery attempt"
          },
          "req_headers": {
            "description": "HTTP headers sent with the webhook delivery request",
            "examples": [
              "{\\\"Content-Type\\\":[\\\"application/json\\\"],\\\"User-Agent\\\":[\\\"Mist-webhook\\\"]}"
            ],
            "type": "string"
          },
          "req_payload": {
            "description": "JSON payload sent in the webhook delivery request",
            "examples": [
              "{\\\"topic\\\":\\\"audits\\\",\\\"events\\\":[{\\\"admin_name\\\":\\\"John Doe john.doe@juniper.net\\\",\\\"after\\\":\\\"{\\\\\"radio_config\\\\\": {\\\\\"band_24\\\\\": {\\\\\"disabled\\\\\": false, \\\\\"allow_rrm_disable\\\\\": false, \\\\\"power_min\\\\\": null, \\\\\"power_max\\\\\": null, \\\\\"power\\\\\": 10, \\\\\"preamble\\\\\": \\\\\"short\\\\\", \\\\\"channels\\\\\": [1, 10], \\\\\"bandwidth\\\\\": 20}}}\\\",\\\"before\\\":\\\"{\\\\\"radio_config\\\\\": {\\\\\"band_24\\\\\": {\\\\\"disabled\\\\\": false, \\\\\"allow_rrm_disable\\\\\": false, \\\\\"power_min\\\\\": 8, \\\\\"power_max\\\\\": 18, \\\\\"power\\\\\": null, \\\\\"preamble\\\\\": \\\\\"long\\\\\", \\\\\"channels\\\\\": [1, 10], \\\\\"bandwidth\\\\\": 20}}}\\\",\\\"id\\\":\\\"737909a2-04ff-4aeb-b9da-cc924e74a4dd\\\",\\\"message\\\":\\\"Update Site Settings\\\",\\\"org_id\\\":\\\"fc7e2967-e7ef-41e6-b007-1217713de05a\\\",\\\"site_id\\\":\\\"256c3a35-9cb7-436e-bc6d-314972645d95\\\",\\\"site_name\\\":\\\"Test Site\\\",\\\"src_ip\\\":\\\"1.2.3.4\\\",\\\"timestamp\\\":1685956576.923601,\\\"user_agent\\\":\\\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36\\\"}]}"
            ],
            "type": "string"
          },
          "req_url": {
            "description": "Destination URL used for the webhook delivery request",
            "examples": [
              "https://example.com"
            ],
            "type": "string"
          },
          "resp_body": {
            "description": "Response body returned by the webhook destination",
            "examples": [
              "Ok"
            ],
            "type": "string"
          },
          "resp_headers": {
            "description": "Response headers returned by the webhook destination",
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site associated with the webhook delivery attempt, when applicable"
          },
          "status": {
            "$ref": "#/components/schemas/webhook_delivery_status",
            "description": "Delivery result for the webhook request"
          },
          "status_code": {
            "description": "HTTP status code returned by the webhook destination",
            "examples": [
              200
            ],
            "type": "integer"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Time when the webhook delivery attempt occurred, in epoch seconds"
          },
          "topic": {
            "$ref": "#/components/schemas/webhook_delivery_topic",
            "description": "Webhook topic delivered in this request"
          },
          "webhook_id": {
            "description": "Unique identifier of the configured webhook used for this delivery attempt",
            "examples": [
              "7a11b901-f719-4c91-8aef-deb8699a6364"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "webhook_delivery_distinct": {
        "description": "webhook topic. enum: `status`, `status_code`, `topic`, `webhook_id`",
        "enum": [
          "status",
          "status_code",
          "topic",
          "webhook_id"
        ],
        "examples": [
          "webhook_id"
        ],
        "type": "string"
      },
      "webhook_delivery_status": {
        "description": "webhook delivery status. enum: `failure`, `success`",
        "enum": [
          "failure",
          "success"
        ],
        "examples": [
          "failure"
        ],
        "type": "string"
      },
      "webhook_delivery_topic": {
        "description": "webhook topic. enum: `alarms`, `audits`, `device-updowns`, `occupancy-alerts`, `ping`",
        "enum": [
          "alarms",
          "audits",
          "device-updowns",
          "occupancy-alerts",
          "ping"
        ],
        "examples": [
          "audits"
        ],
        "type": "string"
      },
      "webhook_oauth2_grant_type": {
        "description": "required when `type`==`oauth2`. enum: `client_credentials`, `password`",
        "enum": [
          "client_credentials",
          "password"
        ],
        "type": "string"
      },
      "webhook_oauth2_scopes": {
        "description": "Required when `type`==`oauth2`, if provided, will be used in the token request",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "webhook_rule": {
        "additionalProperties": false,
        "description": "Filtering rule that permits or blocks webhook events for a topic",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/webhook_action",
            "description": "Action applied when the rule matches the incoming event"
          },
          "matching": {
            "$ref": "#/components/schemas/webhook_rule_matching",
            "description": "Optional event payload matching criteria. Property key is the event field name and the value is the list of accepted values"
          },
          "topic": {
            "description": "Webhook topic this rule applies to",
            "type": "string"
          }
        },
        "required": [
          "topic"
        ],
        "type": "object"
      },
      "webhook_rule_matching": {
        "additionalProperties": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": "Event payload matching criteria. Property key is the event field name and the value is the list of accepted values (e.g. matching field `type` to [`AP_DISCONNECTED`])",
        "examples": [
          {
            "type": [
              "AP_DISCONNECTED"
            ]
          }
        ],
        "type": "object"
      },
      "webhook_rules": {
        "description": "Optional filtering rules to override `topics`",
        "items": {
          "$ref": "#/components/schemas/webhook_rule"
        },
        "type": "array"
      },
      "webhook_topics": {
        "description": "List of supported webhook topics available with the API Call [List Webhook Topics](/#operations/listWebhookTopics)",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "webhook_type": {
        "default": "http-post",
        "description": "enum: `aws-sns`, `google-pubsub`, `http-post`, `oauth2`, `splunk`",
        "enum": [
          "aws-sns",
          "google-pubsub",
          "http-post",
          "oauth2",
          "splunk"
        ],
        "type": "string"
      },
      "webhooks": {
        "description": "Webhook configuration records returned by a list response",
        "items": {
          "$ref": "#/components/schemas/webhook"
        },
        "type": "array"
      }
    },
    "responses": {
      "Count": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/CountExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_count"
            }
          }
        },
        "description": "Result of Count"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP400Webhook": {
        "content": {
          "application/json": {
            "examples": {
              "Duplicate_assetfilter_id": {
                "$ref": "#/components/examples/HTTP400WebhookDuplicateassetfilterid"
              },
              "Invalid_assetfilter_id": {
                "$ref": "#/components/examples/HTTP400WebhookInvalidassetfilterid"
              },
              "Malformed_assetfilter_id": {
                "$ref": "#/components/examples/HTTP400WebhookMalformedassetfilterid"
              },
              "RawDataWebhook_already_created": {
                "$ref": "#/components/examples/HTTP400WebhookRawDataWebhookalreadycreated"
              },
              "RawDataWebhook_multiple_topics": {
                "$ref": "#/components/examples/HTTP400WebhookRawDataWebhookmultipletopics"
              },
              "org_level_filter_webhook": {
                "$ref": "#/components/examples/HTTP400Webhookorglevelfilterwebhook"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400_webhook"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Duplicate_assetfilter_id": {
                "$ref": "#/components/examples/HTTP400WebhookDuplicateassetfilterid"
              },
              "Invalid_assetfilter_id": {
                "$ref": "#/components/examples/HTTP400WebhookInvalidassetfilterid"
              },
              "Malformed_assetfilter_id": {
                "$ref": "#/components/examples/HTTP400WebhookMalformedassetfilterid"
              },
              "RawDataWebhook_already_created": {
                "$ref": "#/components/examples/HTTP400WebhookRawDataWebhookalreadycreated"
              },
              "RawDataWebhook_multiple_topics": {
                "$ref": "#/components/examples/HTTP400WebhookRawDataWebhookmultipletopics"
              },
              "org_level_filter_webhook": {
                "$ref": "#/components/examples/HTTP400Webhookorglevelfilterwebhook"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400_webhook"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "Webhook": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WebhookExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/webhook"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WebhookExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/webhook"
            }
          }
        },
        "description": "OK"
      },
      "WebhookDeliverySearch": {
        "content": {
          "application/json": {
            "examples": {
              "Webhook Deliveries": {
                "$ref": "#/components/examples/WebhookDeliverySearchWebhookDeliveries"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/search_webhook_delivery"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Webhook Deliveries": {
                "$ref": "#/components/examples/WebhookDeliverySearchWebhookDeliveries"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/search_webhook_delivery"
            }
          }
        },
        "description": "Example response"
      },
      "WebhooksArray": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WebhooksArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/webhooks"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/WebhooksArrayExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/webhooks"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "page": {
        "description": "Select the page number to return when using page-based pagination; starts at `1`",
        "in": "query",
        "name": "page",
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "search_after": {
        "description": "Pagination cursor for retrieving subsequent pages of results. This value is automatically populated by Mist in the `next` URL from the previous response and should not be manually constructed.",
        "in": "query",
        "name": "search_after",
        "schema": {
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "sort": {
        "description": "On which field the list should be sorted, -prefix represents DESC order",
        "in": "query",
        "name": "sort",
        "schema": {
          "default": "timestamp",
          "examples": [
            "-site_id"
          ],
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      },
      "webhook_id": {
        "in": "path",
        "name": "webhook_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "CountExample": {
        "value": {
          "distinct": "string",
          "end": 0,
          "limit": 0,
          "results": [
            {
              "count": 0,
              "property": "string"
            }
          ],
          "start": 0,
          "total": 0
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP400WebhookDuplicateassetfilterid": {
        "value": {
          "detail": "invalid field: assetfilter_ids",
          "reason": "contains duplicate uuids"
        }
      },
      "HTTP400WebhookInvalidassetfilterid": {
        "value": {
          "detail": "invalid field: assetfilter_ids"
        }
      },
      "HTTP400WebhookMalformedassetfilterid": {
        "value": {
          "detail": "invalid field: assetfilter_ids"
        }
      },
      "HTTP400WebhookRawDataWebhookalreadycreated": {
        "value": {
          "detail": "Webhook already configured for special location topic"
        }
      },
      "HTTP400WebhookRawDataWebhookmultipletopics": {
        "value": {
          "detail": "Only one location topic can be configured per URL"
        }
      },
      "HTTP400Webhookorglevelfilterwebhook": {
        "value": {
          "detail": "invalid field: topics",
          "reason": "filtered asset webhooks must be associated with a site"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "WebhookDeliverySearchWebhookDeliveries": {
        "value": {
          "end": 1688035193,
          "limit": 10,
          "results": [
            {
              "error": "string",
              "id": "55b0f02f-ebf6-4ad2-8b10-200508a97581",
              "org_id": "fc7e2967-e7ef-41e6-b007-1217713de05a",
              "req_headers": "{\\\"Content-Type\\\":[\\\"application/json\\\"],\\\"User-Agent\\\":[\\\"Mist-webhook\\\"]}",
              "req_payload": "{\\\"topic\\\":\\\"audits\\\",\\\"events\\\":[{\\\"admin_name\\\":\\\"John Doe john.doe@juniper.net\\\",\\\"after\\\":\\\"{\\\\\"radio_config\\\\\": {\\\\\"band_24\\\\\": {\\\\\"disabled\\\\\": false, \\\\\"allow_rrm_disable\\\\\": false, \\\\\"power_min\\\\\": null, \\\\\"power_max\\\\\": null, \\\\\"power\\\\\": 10, \\\\\"preamble\\\\\": \\\\\"short\\\\\", \\\\\"channels\\\\\": [1, 10], \\\\\"bandwidth\\\\\": 20}}}\\\",\\\"before\\\":\\\"{\\\\\"radio_config\\\\\": {\\\\\"band_24\\\\\": {\\\\\"disabled\\\\\": false, \\\\\"allow_rrm_disable\\\\\": false, \\\\\"power_min\\\\\": 8, \\\\\"power_max\\\\\": 18, \\\\\"power\\\\\": null, \\\\\"preamble\\\\\": \\\\\"long\\\\\", \\\\\"channels\\\\\": [1, 10], \\\\\"bandwidth\\\\\": 20}}}\\\",\\\"id\\\":\\\"737909a2-04ff-4aeb-b9da-cc924e74a4dd\\\",\\\"message\\\":\\\"Update Site Settings\\\",\\\"org_id\\\":\\\"fc7e2967-e7ef-41e6-b007-1217713de05a\\\",\\\"site_id\\\":\\\"256c3a35-9cb7-436e-bc6d-314972645d95\\\",\\\"site_name\\\":\\\"Test Site\\\",\\\"src_ip\\\":\\\"1.2.3.4\\\",\\\"timestamp\\\":1685956576.923601,\\\"user_agent\\\":\\\"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36\\\"}]}",
              "req_url": "https://example.com",
              "resp_body": "Ok",
              "resp_headers": "string",
              "site_id": "256c3a35-9cb7-436e-bc6d-314972645d95",
              "status": "success",
              "status_code": 200,
              "timestamp": 1687962508.583656,
              "topic": "audits",
              "webhook_id": "7a11b901-f719-4c91-8aef-deb8699a6364"
            }
          ],
          "start": 1687948793,
          "total": 0
        }
      },
      "WebhookExample": {
        "value": {
          "created_time": 0,
          "enabled": true,
          "headers": {},
          "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "modified_time": 0,
          "name": "string",
          "org_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "secret": "string",
          "site_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
          "splunk_token": "string",
          "topics": [
            "location"
          ],
          "type": "http-post",
          "url": "string",
          "verify_cert": true
        }
      },
      "WebhooksArrayExample": {
        "value": [
          {
            "created_time": 0,
            "enabled": true,
            "headers": {},
            "id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "modified_time": 0,
            "name": "string",
            "org_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "secret": "string",
            "site_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
            "splunk_token": "string",
            "topics": [
              "location"
            ],
            "type": "http-post",
            "url": "string",
            "verify_cert": true
          }
        ]
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
