{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Stats",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "The stats are providing access to raw data about a specific type of entities.",
      "name": "Sites Stats"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/stats": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get Sites Stats",
        "operationId": "getSiteStats",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "Example": {
                    "value": {
                      "address": "string",
                      "alarmtemplate_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
                      "country_code": "string",
                      "created_time": 0,
                      "id": "55c29ce5-7c0f-45b5-b99b-599f805fa3a1",
                      "lat": 0,
                      "latlng": {
                        "lat": 0,
                        "lng": 0
                      },
                      "lng": 0,
                      "modified_time": 0,
                      "msp_id": "dca3cad3-0c9b-439b-814f-8d5f23797972",
                      "name": "string",
                      "networktemplate_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
                      "num_ap": 0,
                      "num_ap_connected": 0,
                      "num_clients": 0,
                      "num_devices": 0,
                      "num_devices_connected": 0,
                      "num_gateway": 0,
                      "num_gateway_connected": 0,
                      "num_switch": 0,
                      "num_switch_connected": 0,
                      "org_id": "a40f5d1f-d889-42e9-94ea-b9b33585fc6b",
                      "rftemplate_id": "b069b358-4c97-5319-1f8c-7c5ca64d6ab1",
                      "sitegroup_ids": [
                        "6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9"
                      ],
                      "timezone": "string",
                      "tzoffset": 0
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/stats_site"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteStats",
        "tags": [
          "Sites Stats"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "lat_lng": {
        "additionalProperties": false,
        "properties": {
          "lat": {
            "examples": [
              37.295833
            ],
            "format": "double",
            "type": "number"
          },
          "lng": {
            "examples": [
              -122.032946
            ],
            "format": "double",
            "type": "number"
          }
        },
        "required": [
          "lat",
          "lng"
        ],
        "type": "object"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "msp_id": {
        "examples": [
          "b9d42c2e-88ee-41f8-b798-f009ce7fe909"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "org_id": {
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_stats_sitegroup_ids": {
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "stats_site": {
        "additionalProperties": false,
        "description": "Site statistics",
        "properties": {
          "address": {
            "type": "string"
          },
          "alarmtemplate_id": {
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "analyticEnabled": {
            "type": "boolean"
          },
          "aptemplate_id": {
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "country_code": {
            "type": "string"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time"
          },
          "engagementEnabled": {
            "type": "boolean"
          },
          "gatewaytemplate_id": {
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/id"
          },
          "lat": {
            "type": "number"
          },
          "latlng": {
            "$ref": "#/components/schemas/lat_lng"
          },
          "lng": {
            "type": "number"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time"
          },
          "msp_id": {
            "$ref": "#/components/schemas/msp_id"
          },
          "name": {
            "type": "string"
          },
          "networktemplate_id": {
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "notes": {
            "type": "string"
          },
          "num_ap": {
            "type": "integer"
          },
          "num_ap_connected": {
            "type": "integer"
          },
          "num_clients": {
            "type": "integer"
          },
          "num_devices": {
            "type": "integer"
          },
          "num_devices_connected": {
            "type": "integer"
          },
          "num_gateway": {
            "type": "integer"
          },
          "num_gateway_connected": {
            "type": "integer"
          },
          "num_switch": {
            "type": "integer"
          },
          "num_switch_connected": {
            "type": "integer"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id"
          },
          "rftemplate_id": {
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "secpolicy_id": {
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "sitegroup_ids": {
            "$ref": "#/components/schemas/site_stats_sitegroup_ids"
          },
          "sitetemplate_id": {
            "format": "uuid",
            "type": [
              "string",
              "null"
            ]
          },
          "timezone": {
            "type": "string"
          },
          "tzoffset": {
            "type": "integer"
          }
        },
        "required": [
          "country_code",
          "created_time",
          "id",
          "latlng",
          "modified_time",
          "name",
          "num_ap",
          "num_ap_connected",
          "num_clients",
          "num_devices",
          "num_devices_connected",
          "num_gateway",
          "num_gateway_connected",
          "num_switch",
          "num_switch_connected",
          "org_id",
          "timezone",
          "tzoffset"
        ],
        "type": "object"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      }
    },
    "parameters": {
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
