{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Setting",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Site settings refer to the configuration and management of of site within a Mist Organization.\n\nThese settings include access point settings, firmware upgrade schedules, and various features such as location services, occupancy analytics, and engagement analytics.",
      "name": "Sites Setting"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/setting": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get the Site Settings",
        "operationId": "getSiteSetting",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteSettings"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSetting",
        "tags": [
          "Sites Setting"
        ]
      },
      "put": {
        "description": "Update Site Settings",
        "operationId": "updateSiteSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "additional_config_cmds": [
                      "set snmp community public"
                    ],
                    "analytic": {
                      "enabled": false
                    },
                    "ap_matching": {
                      "enabled": true,
                      "rules": [
                        {
                          "match_model": "string",
                          "name": "string",
                          "port_config": {
                            "eth1,eth2": {
                              "disabled": true,
                              "dynamic_vlan": {
                                "default_vlan_id": 999,
                                "enabled": true
                              },
                              "port_vlan_id": 1,
                              "vlan_id": 9,
                              "vlan_ids": "1, 10, 50"
                            }
                          }
                        }
                      ]
                    },
                    "ap_port_config": {
                      "model_specific": {
                        "AP32": {
                          "eth1,eth2": {
                            "port_vlan_id": 1,
                            "vlan_ids": "1, 10, 50"
                          }
                        }
                      }
                    },
                    "auto_upgrade": {
                      "custom_versions": {
                        "AP21": "stable",
                        "AP41": "0.1.5135",
                        "AP61": "0.1.7215"
                      },
                      "day_of_week": "sun",
                      "enabled": false,
                      "time_of_day": "12:00",
                      "version": "beta"
                    },
                    "config_auto_revert": false,
                    "device_updown_threshold": 0,
                    "dns_servers": [
                      "string"
                    ],
                    "dns_suffix": [
                      "string"
                    ],
                    "engagement": {
                      "dwell_tag_names": {
                        "bounce": "Bounce",
                        "engaged": "Engaged",
                        "passerby": "Passer By",
                        "stationed": "Stationed"
                      },
                      "dwell_tags": {
                        "bounce": null,
                        "engaged": "300-14400",
                        "passerby": null,
                        "stationed": "14400-43200"
                      },
                      "hours": {
                        "fri": "09:00-17:00",
                        "mon": "09:00-17:00",
                        "sat": "09:00-12:00",
                        "sun": "09:00-12:00",
                        "thu": "09:00-17:00",
                        "tue": "09:00-17:00",
                        "wed": "09:00-17:00"
                      },
                      "max_dwell": 43200,
                      "min_dwell": 0
                    },
                    "evpn_options": {
                      "auto_loopback_subnet": "100.101.0.0/16",
                      "auto_router_id_subnet": "100.100.0.0/24",
                      "core_as_border": false,
                      "overlay": {
                        "as": 65000
                      },
                      "per_vlan_vga_v4_mac": false,
                      "routed_at": "edge",
                      "underlay": {
                        "as_base": 65001,
                        "routed_id_prefix": "/24",
                        "subnet": "10.255.240.0/20"
                      }
                    },
                    "gateway_additional_config_cmds": [
                      "set snmp community public"
                    ],
                    "gateway_mgmt": {
                      "admin_sshkeys": [
                        "string"
                      ],
                      "app_probing": {
                        "apps": [
                          "string"
                        ],
                        "custom_apps": [
                          {
                            "app_type": "string",
                            "hostnames": [
                              "string"
                            ],
                            "name": "string",
                            "protocol": "http"
                          }
                        ],
                        "enabled": true
                      },
                      "app_usage": true,
                      "auto_signature_update": {
                        "day_of_week": "any",
                        "enable": true,
                        "time_of_day": "string"
                      },
                      "config_revert_timer": 10,
                      "probe_hosts": [
                        "string"
                      ],
                      "root_password": "string",
                      "security_log_source_address": "192.168.1.1",
                      "security_log_source_interface": "string"
                    },
                    "led": {
                      "brightness": 255,
                      "enabled": true
                    },
                    "mxedge_mgmt": {
                      "mist_password": "MIST_PASSWORD",
                      "root_password": "ROOT_PASSWORD"
                    },
                    "networks": {
                      "property1": {
                        "gateway": "string",
                        "subnet": "string",
                        "vlan_id": 10
                      },
                      "property2": {
                        "gateway": "string",
                        "subnet": "string",
                        "vlan_id": 10
                      }
                    },
                    "ntp_servers": [
                      "string"
                    ],
                    "occupancy": {
                      "assets_enabled": false,
                      "clients_enabled": true,
                      "min_duration": 3000,
                      "sdkclients_enabled": false,
                      "unconnected_clients_enabled": false
                    },
                    "ospf_areas": {
                      "property1": {
                        "include_loopback": false,
                        "networks": {
                          "corp": {
                            "auth_keys": {
                              "1": "auth-key-1"
                            },
                            "auth_type": "md5",
                            "bfd_minimum_interval": 500,
                            "dead_interval": 40,
                            "hello_interval": 10,
                            "interface_type": "nbma",
                            "metric": 10000
                          },
                          "guest": {
                            "passive": true
                          }
                        },
                        "type": "default"
                      },
                      "property2": {
                        "include_loopback": false,
                        "networks": {
                          "corp": {
                            "auth_keys": {
                              "1": "auth-key-1"
                            },
                            "auth_type": "md5",
                            "bfd_minimum_interval": 500,
                            "dead_interval": 40,
                            "hello_interval": 10,
                            "interface_type": "nbma",
                            "metric": 10000
                          },
                          "guest": {
                            "passive": true
                          }
                        },
                        "type": "default"
                      }
                    },
                    "persist_config_on_device": false,
                    "port_mirroring": {
                      "property1": {
                        "input_networks_ingress": [
                          "corp"
                        ],
                        "input_port_ids_egress": [
                          "ge-0/0/3"
                        ],
                        "input_port_ids_ingress": [
                          "ge-0/0/3"
                        ],
                        "output_network": "analyze",
                        "output_port_id": "ge-0/0/5"
                      },
                      "property2": {
                        "input_networks_ingress": [
                          "corp"
                        ],
                        "input_port_ids_egress": [
                          "ge-0/0/3"
                        ],
                        "input_port_ids_ingress": [
                          "ge-0/0/3"
                        ],
                        "output_network": "analyze",
                        "output_port_id": "ge-0/0/5"
                      }
                    },
                    "port_usages": {
                      "dynamic": {
                        "mode": "dynamic",
                        "reset_default_when": "link_down",
                        "rules": [
                          {
                            "equals": "string",
                            "equals_any": [
                              "string"
                            ],
                            "expression": "string",
                            "src": "lldp_chassis_id",
                            "usage": "string"
                          }
                        ]
                      },
                      "property1": {
                        "all_networks": false,
                        "allow_dhcpd": true,
                        "bypass_auth_when_server_down": true,
                        "description": "string",
                        "disable_autoneg": false,
                        "disabled": false,
                        "duplex": "auto",
                        "enable_mac_auth": true,
                        "enable_qos": true,
                        "guest_network": "string",
                        "mac_auth_only": true,
                        "mac_auth_protocol": "pap",
                        "mac_limit": 0,
                        "mode": "access",
                        "networks": [
                          "string"
                        ],
                        "persist_mac": false,
                        "poe_disabled": false,
                        "port_auth": "dot1x",
                        "port_network": "string",
                        "server_reject_network": null,
                        "speed": "auto",
                        "storm_control": {
                          "no_broadcast": false,
                          "no_multicast": false,
                          "no_registered_multicast": false,
                          "no_unknown_unicast": false,
                          "percentage": 80
                        },
                        "stp_edge": true,
                        "voip_network": "string"
                      },
                      "property2": {
                        "all_networks": false,
                        "allow_dhcpd": true,
                        "bypass_auth_when_server_down": true,
                        "description": "string",
                        "disable_autoneg": false,
                        "disabled": false,
                        "duplex": "auto",
                        "enable_mac_auth": true,
                        "enable_qos": true,
                        "guest_network": "string",
                        "mac_auth_only": true,
                        "mac_auth_protocol": "pap",
                        "mac_limit": 0,
                        "mode": "access",
                        "networks": [
                          "string"
                        ],
                        "persist_mac": false,
                        "poe_disabled": false,
                        "port_network": "string",
                        "server_reject_network": null,
                        "speed": "auto",
                        "storm_control": {
                          "no_broadcast": false,
                          "no_multicast": false,
                          "no_registered_multicast": false,
                          "no_unknown_unicast": false,
                          "percentage": 80
                        },
                        "stp_edge": true,
                        "voip_network": "string"
                      }
                    },
                    "proxy": {
                      "url": "http://proxy.internal:8080/*"
                    },
                    "rogue": {
                      "enabled": false,
                      "honeypot_enabled": false,
                      "min_duration": 10,
                      "min_rssi": -80,
                      "whitelisted_bssids": [
                        "NeighborSSID"
                      ],
                      "whitelisted_ssids": [
                        "cc:8e:6f:d4:bf:16",
                        "cc-8e-6f-d4-bf-16",
                        "cc-73-*",
                        "cc:82:*"
                      ]
                    },
                    "simple_alert": {
                      "arp_failure": {
                        "client_count": 10,
                        "duration": 20,
                        "incident_count": 10
                      },
                      "dhcp_failure": {
                        "client_count": 10,
                        "duration": 10,
                        "incident_count": 20
                      },
                      "dns_failure": {
                        "client_count": 20,
                        "duration": 10,
                        "incident_count": 30
                      }
                    },
                    "skyatp": {
                      "enabled": true,
                      "send_ip_mac_mapping": true
                    },
                    "srx_app": {
                      "enabled": false
                    },
                    "ssh_keys": [
                      "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAA...Wxa6p6UW0ZbcP john@host"
                    ],
                    "ssr": {
                      "conductor_hosts": [
                        "\"1.1.1.1\", \"2.2.2.2\""
                      ],
                      "disable_stats": true
                    },
                    "status_portal": {
                      "enabled": false,
                      "hostnames": [
                        "my.misty.com"
                      ]
                    },
                    "vars": {
                      "RADIUS_IP1": "172.31.2.5",
                      "RADIUS_SECRET": "11s64632d"
                    },
                    "vna": {
                      "enabled": false
                    },
                    "wan_vna": {
                      "enabled": false
                    },
                    "wids": {
                      "repeated_auth_failures": {
                        "duration": 60,
                        "threshold": 0
                      }
                    },
                    "wifi": {
                      "cisco_enabled": true,
                      "disable_11k": false,
                      "disable_radios_when_power_constrained": false,
                      "enable_arp_spoof_check": false,
                      "enable_shared_radio_scanning": true,
                      "enabled": true,
                      "locate_connected": true,
                      "locate_unconnected": false,
                      "mesh_allow_dfs": false,
                      "mesh_enable_crm": false,
                      "mesh_enabled": false,
                      "mesh_psk": "string",
                      "mesh_ssid": "string",
                      "proxy_arp": "default"
                    },
                    "wired_vna": {
                      "enabled": false
                    },
                    "zone_occupancy_alert": {
                      "email_notifiers": [
                        "foo@juniper.net",
                        "bar@juniper.net"
                      ],
                      "enabled": false,
                      "threshold": 5
                    }
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/site_setting"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteSettings"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteSettings",
        "tags": [
          "Sites Setting"
        ]
      }
    },
    "/api/v1/sites/{site_id}/setting/blacklist": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "This endpoint is to provide list of client macs for annotation blacklist.\n\nRetrieve the current clients list `blacklist_url` under Site:Setting",
        "operationId": "createSiteWirelessClientsBlocklist",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "macs": [
                      "18-65-90-de-f4-c6",
                      "84-89-ad-5d-69-0d"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mac_addresses"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MacsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createSiteWirelessClientsBlocklist",
        "tags": [
          "Sites Setting"
        ]
      },
      "delete": {
        "description": "Delete Site Blacklist Station Clients",
        "operationId": "deleteSiteWirelessClientsBlocklist",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteWirelessClientsBlocklist",
        "tags": [
          "Sites Setting"
        ]
      }
    },
    "/api/v1/sites/{site_id}/setting/derived": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get the Derived Site Settings, generated by merging the Org level templates (network templates, gateway templates) and the Site level configuration. If the same parameter is defined in both scopes, the Site level one is used. In addition, the Zoom and Teams accounts are also merged into the derived settings.",
        "operationId": "getSiteSettingDerived",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteSettingsDerived"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSettingDerived",
        "tags": [
          "Sites Setting"
        ]
      }
    },
    "/api/v1/sites/{site_id}/setting/watched_station": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "This endpoint is to provide list of client macs for annotation as watched station.\n\nRetrieve the current clients list from `watched_station_url` under Site:Setting",
        "operationId": "createSiteWatchedStations",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "macs": [
                      "18-65-90-de-f4-c6",
                      "84-89-ad-5d-69-0d"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mac_addresses"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MacsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createSiteWatchedStations",
        "tags": [
          "Sites Setting"
        ]
      },
      "delete": {
        "description": "Delete Site Watched Station Clients",
        "operationId": "deleteSiteWatchedStations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteWatchedStations",
        "tags": [
          "Sites Setting"
        ]
      }
    },
    "/api/v1/sites/{site_id}/setting/whitelist": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "This endpoint is to provide list of client macs for annotation as whitelist.\n\nRetrieve the current clients list from `whitelist_url` under Site:Setting",
        "operationId": "createSiteWirelessClientsAllowlist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mac_addresses"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MacsArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createSiteWirelessClientsAllowlist",
        "tags": [
          "Sites Setting"
        ]
      },
      "delete": {
        "description": "Delete Site Whitelist Station Clients",
        "operationId": "deleteSiteWirelessClientsAllowlist",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deleteSiteWirelessClientsAllowlist",
        "tags": [
          "Sites Setting"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "account_oauth_info_account": {
        "additionalProperties": false,
        "description": "OAuth linked apps account info",
        "properties": {
          "account_id": {
            "description": "Linked app account id",
            "examples": [
              "iojzXIJWEuiD73ZvydOfg"
            ],
            "readOnly": true,
            "type": "string"
          },
          "auto_probe_subnet": {
            "description": "For Prisma accounts only, tunnel auto probe subnet",
            "examples": [
              "11.0.0.0/8"
            ],
            "readOnly": true,
            "type": "string"
          },
          "client_id": {
            "description": "Customer account Client ID",
            "readOnly": true,
            "type": "string"
          },
          "cloud_name": {
            "description": "Name of the company whose account mist has subscribed to",
            "examples": [
              "Tapi.sase.paloaltonetworks.com"
            ],
            "readOnly": true,
            "type": "string"
          },
          "company": {
            "description": "Name of the company whose account mist has subscribed to",
            "examples": [
              "Test Company1 Ltd"
            ],
            "readOnly": true,
            "type": "string"
          },
          "enable_probe": {
            "description": "For Prisma accounts only, tunnel probe enable/disable",
            "examples": [
              false
            ],
            "readOnly": true,
            "type": "boolean"
          },
          "error": {
            "description": "This error is provided when the account fails to fetch token/data",
            "examples": [
              "OAuth token refresh failed, please re-link your account"
            ],
            "readOnly": true,
            "type": "string"
          },
          "errors": {
            "$ref": "#/components/schemas/oauth_account_errors",
            "description": "Problems reported during OAuth token refresh or account data sync"
          },
          "instance_url": {
            "description": "Customer account instance URL",
            "readOnly": true,
            "type": "string"
          },
          "key_id": {
            "description": "For ZDX Account only, Customer account API key ID",
            "examples": [
              "L72frZcK3JvrZc"
            ],
            "type": "string"
          },
          "last_status": {
            "description": "Is the last data pull for account is successful or not",
            "examples": [
              "failed"
            ],
            "readOnly": true,
            "type": "string"
          },
          "last_sync": {
            "description": "Last data pull timestamp, background jobs that pull account data",
            "examples": [
              1665465339000
            ],
            "readOnly": true,
            "type": "integer"
          },
          "linked_by": {
            "description": "First name of the user who linked the account",
            "examples": [
              "Testname1"
            ],
            "readOnly": true,
            "type": "string"
          },
          "linked_timestamp": {
            "description": "Timestamp when this third-party account was linked",
            "examples": [
              1665465339000
            ],
            "readOnly": true,
            "type": "number"
          },
          "max_daily_api_requests": {
            "description": "Zoom daily api request quota, https://developers.zoom.us/docs/api/rest/rate-limits/",
            "examples": [
              5000
            ],
            "readOnly": true,
            "type": "integer"
          },
          "name": {
            "description": "Display name of the linked third-party account or company",
            "examples": [
              "Test Compay1 Ltd"
            ],
            "readOnly": true,
            "type": "string"
          },
          "password": {
            "description": "Customer account password instance URL",
            "format": "password",
            "readOnly": true,
            "type": "string"
          },
          "region": {
            "description": "For Prisma accounts only",
            "examples": [
              "americas"
            ],
            "readOnly": true,
            "type": "string"
          },
          "regions": {
            "$ref": "#/components/schemas/account_oauth_info_account_regions",
            "description": "Prisma Access regions with allocated bandwidth for this linked account"
          },
          "service_account_name": {
            "description": "For Prisma accounts only",
            "examples": [
              "Corp SA"
            ],
            "readOnly": true,
            "type": "string"
          },
          "service_connections": {
            "$ref": "#/components/schemas/account_oauth_info_account_service_connections",
            "description": "Prisma Access service connections configured for this linked account"
          },
          "smartgroup_name": {
            "description": "Smart group membership for determining compliance status",
            "examples": [
              "CompliantGroup1"
            ],
            "readOnly": true,
            "type": "string"
          },
          "tsg_id": {
            "description": "For Prisma accounts only, Prisma Tenant Service Group id",
            "examples": [
              "189953456"
            ],
            "readOnly": true,
            "type": "string"
          },
          "username": {
            "description": "Login name configured for the linked third-party account",
            "readOnly": true,
            "type": "string"
          },
          "webhook_auth_type": {
            "description": "For Crowdstrike, JAMF, SentinelOne and VMWare accounts only",
            "examples": [
              "Basic",
              "Bearer"
            ],
            "type": "string"
          },
          "webhook_enabled": {
            "description": "For Crowdstrike, JAMF, SentinelOne and VMWare accounts only",
            "type": "boolean"
          },
          "webhook_password": {
            "description": "For VMWare accounts only",
            "examples": [
              "password_1234"
            ],
            "format": "password",
            "type": "string"
          },
          "webhook_secret": {
            "description": "For Crowdstrike accounts only",
            "examples": [
              "secret-value"
            ],
            "format": "password",
            "type": "string"
          },
          "webhook_token": {
            "description": "For JAMF and SentinelOne accounts only",
            "examples": [
              "token-value"
            ],
            "type": "string"
          },
          "webhook_url": {
            "description": "For Crowdstrike, JAMF, SentinelOne and VMWare accounts only",
            "examples": [
              "https://websync.nac-staging.mistsys.com/v1/S_org-8dcbe9005/ae9dee49-69e7-4710-a114-5b827a777738/crowdstrike/edr",
              "https://websync.nac-staging.mistsys.com/v1/S_org-8dcbe9005/ae9dee49-69e7-4710-a114-5b827a777738/jamf/mdm",
              "https://websync.nac-staging.mistsys.com/v1/S_org-8dcbe9005/00fd8b39-cf92-4b43-a2ff-a461b48e7059/sentinelone/edr",
              "https://websync.nac-staging.mistsys.com/v1/S_41b2525af1d8dcbe9005/f43ea4c48f22/vmware/mdm"
            ],
            "type": "string"
          },
          "webhook_username": {
            "description": "For VMWare accounts only",
            "examples": [
              "username_1234"
            ],
            "type": "string"
          },
          "zdx_org_id": {
            "description": "For ZDX Account only, ZDX organization id",
            "examples": [
              "123456"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "account_oauth_info_account_region": {
        "additionalProperties": false,
        "description": "Prisma Access region bandwidth allocation for a linked OAuth account",
        "properties": {
          "aggregate_region": {
            "description": "Bandwidth Aggregate region for this region",
            "examples": [
              "us-southwest"
            ],
            "type": "string"
          },
          "allocated_bandwidth": {
            "description": "Allocated bandwidth for the region, in Mbps",
            "examples": [
              1000
            ],
            "readOnly": true,
            "type": "integer"
          },
          "name": {
            "description": "Display name for this region",
            "examples": [
              "US West"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "account_oauth_info_account_regions": {
        "additionalProperties": {
          "$ref": "#/components/schemas/account_oauth_info_account_region"
        },
        "description": "For Prisma accounts only, property key is the region name. Regions with allocated bandwidth",
        "type": "object"
      },
      "account_oauth_info_account_service_connection": {
        "additionalProperties": false,
        "description": "Prisma Access service connection region for a linked OAuth account",
        "properties": {
          "region": {
            "description": "Prisma Access region where this service connection is provisioned",
            "examples": [
              "us-southwest"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "account_oauth_info_account_service_connections": {
        "additionalProperties": {
          "$ref": "#/components/schemas/account_oauth_info_account_service_connection"
        },
        "description": "For Prisma accounts only, property key is the service connection name"
      },
      "acl_policies": {
        "description": "List of ACL policy definitions",
        "items": {
          "$ref": "#/components/schemas/acl_policy"
        },
        "type": "array"
      },
      "acl_policy": {
        "additionalProperties": false,
        "description": "ACL Policy:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "properties": {
          "actions": {
            "$ref": "#/components/schemas/acl_policy_actions",
            "description": "Destination tag actions evaluated for sources matching this ACL policy"
          },
          "disabled": {
            "default": false,
            "description": "Whether this ACL policy is disabled",
            "type": "boolean"
          },
          "name": {
            "description": "Display name of the ACL policy",
            "examples": [
              "guest access"
            ],
            "type": "string"
          },
          "src_tags": {
            "$ref": "#/components/schemas/acl_policy_src_tags",
            "description": "Source ACL tags that select traffic for this ACL policy"
          }
        },
        "type": "object"
      },
      "acl_policy_action": {
        "additionalProperties": false,
        "description": "Action applied to traffic that matches a destination ACL tag",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/allow_deny",
            "description": "Allow or deny decision applied to traffic matching the destination tag"
          },
          "dst_tag": {
            "description": "Destination ACL tag matched by this policy action",
            "examples": [
              "corp"
            ],
            "type": "string"
          }
        },
        "required": [
          "dst_tag"
        ],
        "type": "object"
      },
      "acl_policy_actions": {
        "description": "ACL Policy Actions:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "items": {
          "$ref": "#/components/schemas/acl_policy_action"
        },
        "type": "array"
      },
      "acl_policy_src_tags": {
        "description": "ACL Policy Source Tags:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "items": {
          "examples": [
            "macs"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag": {
        "additionalProperties": false,
        "description": "Resource tags (`type`==`resource` or `type`==`gbp_resource`) can only be used in `dst_tags`",
        "properties": {
          "ether_types": {
            "$ref": "#/components/schemas/acl_tag_ether_types",
            "description": "Layer 2 EtherTypes matched by this ACL tag; defaults to `any`"
          },
          "gbp_tag": {
            "description": "Required if\n  - `type`==`dynamic_gbp` (gbp_tag received from RADIUS)\n  - `type`==`gbp_resource`\n  - `type`==`static_gbp` (applying gbp tag against matching conditions)",
            "type": "integer"
          },
          "macs": {
            "$ref": "#/components/schemas/acl_tag_macs",
            "description": "Client or resource MAC addresses matched by this ACL tag"
          },
          "network": {
            "description": "If:\n  * `type`==`mac` (optional. default is `any`)\n  * `type`==`subnet` (optional. default is `any`)\n  * `type`==`network`\n  * `type`==`resource` (optional. default is `any`)\n  * `type`==`static_gbp` if from matching network (vlan)",
            "type": "string"
          },
          "port_usage": {
            "description": "Required if `type`==`port_usage`. Switch port usage name matched by this ACL tag",
            "type": "string"
          },
          "radius_group": {
            "description": "Required if:\n  * `type`==`radius_group`\n  * `type`==`aruba_user_role`\n  * `type`==`static_gbp`\nif from matching radius_group",
            "type": "string"
          },
          "specs": {
            "$ref": "#/components/schemas/acl_tag_specs",
            "description": "Layer 4 protocol and destination-port constraints for this ACL tag"
          },
          "subnets": {
            "$ref": "#/components/schemas/acl_tag_subnets",
            "description": "IP subnets matched by this ACL tag"
          },
          "type": {
            "$ref": "#/components/schemas/acl_tag_type",
            "description": "Classifier type that determines which ACL tag fields are evaluated"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "acl_tag_ether_types": {
        "default": [
          "any"
        ],
        "description": "ARP / IPv6. Default is `any`",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_macs": {
        "description": "Required if \n- `type`==`mac`\n- `type`==`static_gbp` if from matching mac",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_spec": {
        "additionalProperties": false,
        "description": "Layer 4 protocol and destination-port match constraint for an ACL tag",
        "properties": {
          "port_range": {
            "default": "0",
            "description": "Matched dst port, \"0\" means any",
            "type": "string"
          },
          "protocol": {
            "default": "any",
            "description": "`tcp` / `udp` / `icmp` / `icmp6` / `gre` / `any` / `:protocol_number`, `protocol_number` is between 1-254, default is `any` `protocol_number` is between 1-254",
            "type": "string"
          }
        },
        "type": "object"
      },
      "acl_tag_specs": {
        "description": "If `type`==`resource`, `type`==`radius_group`, `type`==`aruba_user_role`, `type`==`port_usage` or `type`==`gbp_resource`. Empty means unrestricted, i.e. any",
        "items": {
          "$ref": "#/components/schemas/acl_tag_spec"
        },
        "type": "array"
      },
      "acl_tag_subnets": {
        "description": "If \n- `type`==`subnet` \n- `type`==`resource` (optional. default is `any`)\n- `type`==`static_gbp` if from matching subnet",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_type": {
        "description": "enum: \n  * `any`: matching anything not identified\n  * `aruba_user_role`: Aruba user role matched via `radius_group`\n  * `dynamic_gbp`: from the gbp_tag received from RADIUS\n  * `gbp_resource`: can only be used in `dst_tags`\n  * `mac`\n  * `network`\n  * `port_usage`\n  * `radius_group`\n  * `resource`: can only be used in `dst_tags`\n  * `static_gbp`: applying gbp tag against matching conditions\n  * `subnet`'",
        "enum": [
          "any",
          "aruba_user_role",
          "dynamic_gbp",
          "gbp_resource",
          "mac",
          "network",
          "port_usage",
          "radius_group",
          "resource",
          "static_gbp",
          "subnet"
        ],
        "type": "string"
      },
      "acl_tags": {
        "additionalProperties": {
          "$ref": "#/components/schemas/acl_tag"
        },
        "description": "ACL Tags to identify traffic source or destination. Key name is the tag name",
        "type": "object"
      },
      "additional_config_cmds": {
        "description": "additional CLI commands to append to the generated Junos config. **Note**: no check is done",
        "items": {
          "description": "JUNOS \"set\" command to add to the generated configuration",
          "examples": [
            "set snmp community public"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "additional_vlan_ids": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "$ref": "#/components/schemas/additional_vlan_ids_array"
          }
        ],
        "description": "List or Comma separated list of additional VLAN IDs (on the LAN side or from other WLANs) should we be forwarding bonjour queries/responses"
      },
      "additional_vlan_ids_array": {
        "description": "Additional VLAN IDs represented as an array",
        "items": {
          "$ref": "#/components/schemas/vlan_id_with_variable"
        },
        "type": "array"
      },
      "aggregate_route": {
        "additionalProperties": false,
        "description": "Aggregate route configuration for a network or routing instance",
        "properties": {
          "discard": {
            "default": false,
            "description": "Whether to install the aggregate route as a discard route",
            "type": "boolean"
          },
          "metric": {
            "description": "Routing metric assigned to the aggregate route",
            "maximum": 4294967295,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "preference": {
            "description": "Route preference assigned to the aggregate route",
            "maximum": 4294967295,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "aggregate_routes": {
        "additionalProperties": {
          "$ref": "#/components/schemas/aggregate_route"
        },
        "description": "Property key is the destination subnet (e.g. \"172.16.3.0/24\")",
        "examples": [
          {
            "172.16.3.0/24": {
              "discard": false,
              "metric": null,
              "preference": 30
            }
          }
        ],
        "type": "object"
      },
      "aggregate_routes6": {
        "additionalProperties": {
          "$ref": "#/components/schemas/aggregate_route"
        },
        "description": "Property key is the destination subnet (e.g. \"2a02:1234:420a:10c9::/64\")",
        "example": {
          "2a02:1234:420a:10c9::/64": {
            "discard": false,
            "metric": null,
            "preference": 30
          }
        },
        "type": "object"
      },
      "allow_deny": {
        "description": "Policy action value that either allows or denies matching traffic. enum: `allow`, `deny`",
        "enum": [
          "allow",
          "deny"
        ],
        "type": "string"
      },
      "antenna_select": {
        "description": "Antenna Mode for AP which supports selectable antennas. enum: `\"\"` (default), `external`, `internal`",
        "enum": [
          "",
          "external",
          "internal"
        ],
        "examples": [
          "external"
        ],
        "type": "string"
      },
      "ap_auto_upgrade_custom_versions": {
        "additionalProperties": {
          "description": "Firmware version or channel to deploy on the specified AP model",
          "type": "string"
        },
        "description": "Per-AP-model firmware versions or channels used for auto-upgrade. Property key is the AP model name (e.g. \"AP41\"), value is the firmware version or release channel (e.g. `stable`)",
        "examples": [
          {
            "AP21": "alpha",
            "AP41": "0.1.5135",
            "AP61": "0.1.7215"
          }
        ],
        "type": "object"
      },
      "ap_led": {
        "additionalProperties": false,
        "description": "Indicator light settings for an access point",
        "properties": {
          "brightness": {
            "default": 255,
            "description": "Indicator LED brightness level from 0 to 255",
            "examples": [
              255
            ],
            "maximum": 255,
            "minimum": 0,
            "type": "integer"
          },
          "enabled": {
            "default": true,
            "description": "Whether the AP indicator LED is enabled",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_port_config": {
        "additionalProperties": false,
        "description": "Ethernet port behavior settings for an access point",
        "properties": {
          "disabled": {
            "default": false,
            "description": "Whether this AP Ethernet port is disabled",
            "type": "boolean"
          },
          "dynamic_vlan": {
            "$ref": "#/components/schemas/ap_port_config_dynamic_vlan",
            "description": "RADIUS-assigned VLAN settings for AP port authentication"
          },
          "enable_mac_auth": {
            "default": false,
            "description": "Whether MAC authentication is enabled on this AP port",
            "type": "boolean"
          },
          "forwarding": {
            "$ref": "#/components/schemas/ap_port_config_forwarding",
            "description": "Traffic forwarding mode for this AP Ethernet port"
          },
          "mac_auth_preferred": {
            "default": false,
            "description": "When `true`, we'll do dot1x then mac_auth. enable this to prefer mac_auth",
            "type": "boolean"
          },
          "mac_auth_protocol": {
            "$ref": "#/components/schemas/ap_port_config_mac_auth_protocol",
            "description": "Protocol used for MAC authentication when `enable_mac_auth` is `true`"
          },
          "mist_nac": {
            "$ref": "#/components/schemas/wlan_mist_nac",
            "description": "Juniper Mist NAC settings used by AP port authentication"
          },
          "mx_tunnel_id": {
            "default": "",
            "description": "If `forwarding`==`mxtunnel`, vlan_ids comes from mxtunnel",
            "examples": [
              "08cd7499-5841-51c8-e663-fb16b6f3b45e"
            ],
            "format": "uuid",
            "type": "string"
          },
          "mxtunnel_name": {
            "default": "",
            "description": "If `forwarding`==`site_mxedge`, vlan_ids comes from site_mxedge (`mxtunnel` under site setting)",
            "type": "string"
          },
          "port_auth": {
            "$ref": "#/components/schemas/ap_port_config_port_auth",
            "description": "Authentication mode for this AP Ethernet port"
          },
          "port_vlan_id": {
            "description": "If `forwarding`==`limited`. VLAN ID allowed on this AP Ethernet port",
            "examples": [
              1
            ],
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          },
          "radius_config": {
            "$ref": "#/components/schemas/radius_config",
            "description": "RADIUS authentication and accounting settings for this AP port"
          },
          "radsec": {
            "$ref": "#/components/schemas/radsec",
            "description": "TLS-secured RADIUS settings for this AP port"
          },
          "vlan_id": {
            "description": "Optional to specify the VLAN ID for a tunnel if forwarding is for `wxtunnel`, `mxtunnel` or `site_mxedge`.\n  * if vlan_id is not specified then it will use first one in vlan_ids[] of the mxtunnel.\n  * if forwarding == site_mxedge, vlan_ids comes from site_mxedge (`mxtunnel` under site setting)",
            "examples": [
              9
            ],
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          },
          "vlan_ids": {
            "description": "If `forwarding`==`limited`, comma separated list of additional VLAN IDs allowed on this port",
            "examples": [
              "10,20,30"
            ],
            "type": "string"
          },
          "wxtunnel_id": {
            "default": "",
            "description": "If `forwarding`==`wxtunnel`, the port is bridged to the vlan of the session",
            "examples": [
              "7dae216d-7c98-a51b-e068-dd7d477b7216"
            ],
            "format": "uuid",
            "type": "string"
          },
          "wxtunnel_remote_id": {
            "default": "",
            "description": "If `forwarding`==`wxtunnel`, the port is bridged to the vlan of the session",
            "examples": [
              "wifiguest"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "ap_port_config_dynamic_vlan": {
        "additionalProperties": false,
        "description": "Dynamic VLAN assignment settings for AP port authentication",
        "properties": {
          "default_vlan_id": {
            "description": "Fallback VLAN ID used when RADIUS does not return a dynamic VLAN match",
            "examples": [
              999
            ],
            "maximum": 4094,
            "minimum": 1,
            "type": "integer"
          },
          "enabled": {
            "description": "Whether dynamic VLAN assignment is enabled for this AP port",
            "type": "boolean"
          },
          "type": {
            "$ref": "#/components/schemas/ap_port_config_dynamic_vlan_type",
            "description": "Mapping mode for interpreting dynamic VLAN attributes returned by RADIUS"
          },
          "vlans": {
            "additionalProperties": {
              "type": [
                "string",
                "null"
              ]
            },
            "description": "Mapping entries for RADIUS-assigned VLAN values on this AP port. For `type`==`airespace-interface-name`, the property key is the Airespace interface name returned by RADIUS (e.g. \"guest\"), and the value is the corresponding VLAN ID (e.g. 100). For `type`==`standard`, the property key is the VLAN ID number returned by RADIUS, and the value is ignored.",
            "examples": [
              {
                "1-10": null,
                "user": 10
              }
            ],
            "type": "object"
          }
        },
        "type": "object"
      },
      "ap_port_config_dynamic_vlan_type": {
        "description": "Mapping mode for interpreting dynamic VLAN attributes returned by RADIUS.\\ \\ enum: `airespace-interface-name`, where the VLAN is determined by parsing\\ \\ the RADIUS attribute as an Airespace interface name (e.g. \"guest\"\\ \\ would map to VLAN 100), or `standard`, where the VLAN is determined by parsing\\ \\ the RADIUS attribute as a standard VLAN ID number",
        "enum": [
          "airespace-interface-name",
          "standard"
        ],
        "type": "string"
      },
      "ap_port_config_forwarding": {
        "default": "all",
        "description": "enum: \n  * `all`: local breakout, All VLANs\n  * `limited`: local breakout, only the VLANs configured in `port_vlan_id` and `vlan_ids`\n  * `mxtunnel`: central breakout to an Org Mist Edge (requires `mxtunnel_id`)\n  * `site_mxedge`: central breakout to a Site Mist Edge (requires `mxtunnel_name`)\n  * `wxtunnel`': central breakout to an Org WxTunnel (requires `wxtunnel_id`)",
        "enum": [
          "all",
          "limited",
          "mxtunnel",
          "site_mxedge",
          "wxtunnel"
        ],
        "examples": [
          "all"
        ],
        "type": "string"
      },
      "ap_port_config_mac_auth_protocol": {
        "default": "pap",
        "description": "if `enable_mac_auth`==`true`, allows user to select an authentication protocol. enum: `eap-md5`, `eap-peap`, `pap`",
        "enum": [
          "eap-md5",
          "eap-peap",
          "pap"
        ],
        "type": "string"
      },
      "ap_port_config_port_auth": {
        "default": "none",
        "description": "When doing port auth. enum: `dot1x`, `none`",
        "enum": [
          "dot1x",
          "none"
        ],
        "examples": [
          "none"
        ],
        "type": "string"
      },
      "ap_radio": {
        "additionalProperties": false,
        "description": "Radio configuration settings for an access point",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "description": "Whether RRM can be disabled for individual radio-band settings",
            "type": "boolean"
          },
          "ant_gain_24": {
            "description": "Antenna gain for 2.4G - for models with external antenna only",
            "examples": [
              4
            ],
            "minimum": 0,
            "type": "integer"
          },
          "ant_gain_5": {
            "description": "Antenna gain for 5G - for models with external antenna only",
            "examples": [
              5
            ],
            "minimum": 0,
            "type": "integer"
          },
          "ant_gain_6": {
            "description": "Antenna gain for 6G - for models with external antenna only",
            "examples": [
              5
            ],
            "minimum": 0,
            "type": "integer"
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/ap_radio_antenna_mode",
            "description": "Selected radio chain mode for AP models that support antenna mode control"
          },
          "antenna_select": {
            "$ref": "#/components/schemas/antenna_select",
            "description": "Internal or external antenna selection for AP models with selectable antennas"
          },
          "band_24": {
            "$ref": "#/components/schemas/ap_radio_band24",
            "description": "2.4 GHz radio settings for this access point"
          },
          "band_24_usage": {
            "$ref": "#/components/schemas/radio_band_24_usage",
            "description": "Radio usage mode for the 2.4 GHz-capable radio"
          },
          "band_5": {
            "$ref": "#/components/schemas/ap_radio_band5",
            "description": "5 GHz radio settings for this access point"
          },
          "band_5_on_24_radio": {
            "$ref": "#/components/schemas/ap_radio_band5",
            "description": "5 GHz settings used when the 2.4 GHz radio operates in 5 GHz mode"
          },
          "band_6": {
            "$ref": "#/components/schemas/ap_radio_band6",
            "description": "6 GHz radio settings for this access point"
          },
          "full_automatic_rrm": {
            "default": false,
            "description": "Let RRM control everything, only the `channels` and `ant_gain` will be honored (i.e. disabled/bandwidth/power/band_24_usage are all controlled by RRM)",
            "type": "boolean"
          },
          "indoor_use": {
            "default": false,
            "description": "To make an outdoor operate indoor. For an outdoor-ap, some channels are disallowed by default, this allows the user to use it as an indoor-ap",
            "type": "boolean"
          },
          "rrm_managed": {
            "description": "Enable RRM to manage all radio settings (ignores all band_xxx configs)",
            "type": "boolean"
          },
          "scanning_enabled": {
            "description": "Whether scanning radio is enabled",
            "examples": [
              true
            ],
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_radio_antenna_mode": {
        "default": "default",
        "description": "enum: `1x1`, `2x2`, `3x3`, `4x4`, `default`",
        "enum": [
          "1x1",
          "2x2",
          "3x3",
          "4x4",
          "default"
        ],
        "type": "string"
      },
      "ap_radio_band24": {
        "additionalProperties": false,
        "description": "2.4 GHz radio settings for an access point",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "description": "Whether RRM may disable the 2.4 GHz radio when optimizing RF settings",
            "type": "boolean"
          },
          "ant_gain": {
            "default": 0,
            "description": "External antenna gain for the 2.4 GHz radio",
            "maximum": 10,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/radio_band_antenna_mode",
            "description": "Radio chain mode for the 2.4 GHz radio"
          },
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth24",
            "description": "Channel width configured for the 2.4 GHz radio"
          },
          "channel": {
            "default": null,
            "description": "For Device. (primary) channel for the band, 0 means using the Site Setting",
            "examples": [
              6
            ],
            "maximum": 13,
            "minimum": 1,
            "type": [
              "integer",
              "null"
            ]
          },
          "channels": {
            "$ref": "#/components/schemas/radio_band_channels",
            "description": "Allowed channel list for the 2.4 GHz radio; null or an empty array uses automatic selection"
          },
          "disabled": {
            "default": false,
            "description": "Whether to disable the radio",
            "type": "boolean"
          },
          "power": {
            "default": null,
            "description": "Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode",
            "examples": [
              3
            ],
            "maximum": 25,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_max": {
            "description": "When power=null/unset, max tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 3,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_min": {
            "description": "When power=null/unset, min tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 3,
            "type": [
              "integer",
              "null"
            ]
          },
          "preamble": {
            "$ref": "#/components/schemas/radio_band_preamble",
            "description": "802.11 preamble mode used by the 2.4 GHz radio"
          }
        },
        "type": "object"
      },
      "ap_radio_band5": {
        "additionalProperties": false,
        "description": "5 GHz radio settings for an access point",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "description": "Whether RRM may disable the 5 GHz radio when optimizing RF settings",
            "type": "boolean"
          },
          "ant_gain": {
            "default": 0,
            "description": "External antenna gain for the 5 GHz radio",
            "maximum": 10,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "antenna_beam_pattern": {
            "$ref": "#/components/schemas/radio_band_antenna_beam_pattern",
            "description": "Beam pattern used by the 5 GHz radio antenna"
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/radio_band_antenna_mode",
            "description": "Radio chain mode for the 5 GHz radio"
          },
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth5",
            "description": "Channel width configured for the 5 GHz radio"
          },
          "channel": {
            "default": null,
            "description": "For Device. (primary) channel for the band, 0 means using the Site Setting",
            "examples": [
              100
            ],
            "type": [
              "integer",
              "null"
            ]
          },
          "channels": {
            "$ref": "#/components/schemas/radio_band_channels",
            "description": "Allowed channel list for the 5 GHz radio; null or an empty array uses automatic selection"
          },
          "disabled": {
            "default": false,
            "description": "Whether to disable the radio",
            "type": "boolean"
          },
          "power": {
            "default": null,
            "description": "Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode",
            "examples": [
              6
            ],
            "maximum": 25,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_max": {
            "description": "When power=null/unset, max tx power to use, HW-specific values will be used if not set",
            "maximum": 17,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_min": {
            "description": "When power=null/unset, min tx power to use, HW-specific values will be used if not set",
            "maximum": 17,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "preamble": {
            "$ref": "#/components/schemas/radio_band_preamble",
            "description": "802.11 preamble mode used by the 5 GHz radio"
          }
        },
        "type": "object"
      },
      "ap_radio_band6": {
        "additionalProperties": false,
        "description": "6 GHz radio settings for an access point",
        "properties": {
          "allow_rrm_disable": {
            "default": false,
            "description": "Whether RRM may disable the 6 GHz radio when optimizing RF settings",
            "type": "boolean"
          },
          "ant_gain": {
            "default": 0,
            "description": "External antenna gain for the 6 GHz radio",
            "maximum": 10,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "antenna_beam_pattern": {
            "$ref": "#/components/schemas/radio_band_antenna_beam_pattern",
            "description": "Beam pattern used by the 6 GHz radio antenna"
          },
          "antenna_mode": {
            "$ref": "#/components/schemas/radio_band_antenna_mode",
            "description": "Radio chain mode for the 6 GHz radio"
          },
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth6",
            "description": "Channel width configured for the 6 GHz radio"
          },
          "channel": {
            "default": null,
            "description": "For Device. (primary) channel for the band, 0 means using the Site Setting",
            "examples": [
              0
            ],
            "type": [
              "integer",
              "null"
            ]
          },
          "channels": {
            "$ref": "#/components/schemas/radio_band_channels",
            "description": "Allowed channel list for the 6 GHz radio; null or an empty array uses automatic selection"
          },
          "disabled": {
            "default": false,
            "description": "Whether to disable the radio",
            "type": "boolean"
          },
          "power": {
            "default": null,
            "description": "Radio Tx power, in dBm. Can be an integer 0-25 for static power configuration, or `null` or unset for auto power mode",
            "examples": [
              7
            ],
            "maximum": 25,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_max": {
            "description": "When power=null/unset, max tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "power_min": {
            "description": "When power=null/unset, min tx power to use, HW-specific values will be used if not set",
            "maximum": 18,
            "minimum": 5,
            "type": [
              "integer",
              "null"
            ]
          },
          "preamble": {
            "$ref": "#/components/schemas/radio_band_preamble",
            "description": "802.11 preamble mode used by the 6 GHz radio"
          },
          "standard_power": {
            "default": false,
            "description": "For 6GHz Only, standard-power operation, AFC (Automatic Frequency Coordination) will be performed, and we'll fall back to Low Power Indoor if AFC failed",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_uplink_port_config": {
        "additionalProperties": false,
        "description": "AP Uplink port configuration",
        "properties": {
          "dot1x": {
            "default": false,
            "description": "Whether to do 802.1x against uplink switch. When enabled, AP cert will be used to do EAP-TLS and the Org's CA Cert has to be provisioned at the switch",
            "type": "boolean"
          },
          "keep_wlans_up_if_down": {
            "default": false,
            "description": "By default, WLANs are disabled when uplink is down. In some scenario, like SiteSurvey, one would want the AP to keep sending beacons.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "ap_uwb_config": {
        "additionalProperties": false,
        "description": "Ultra-wideband (UWB) RTLS / OMLOX asset-visibility integration settings for an access point. The device-level value overrides the device profile value, which in turn overrides the site-level setting.",
        "properties": {
          "enabled": {
            "default": false,
            "description": "Whether UWB RTLS integration is enabled",
            "type": "boolean"
          },
          "host": {
            "description": "RTLS server hostname or IP address",
            "examples": [
              "coriva.example.com"
            ],
            "type": "string"
          },
          "port": {
            "description": "RTLS server port number",
            "examples": [
              9000
            ],
            "maximum": 65535,
            "minimum": 1,
            "type": "integer"
          },
          "slot": {
            "default": 0,
            "description": "UWB time slot assigned to this AP, 0–15",
            "examples": [
              0
            ],
            "maximum": 15,
            "minimum": 0,
            "type": "integer"
          },
          "type": {
            "$ref": "#/components/schemas/ap_uwb_config_type"
          }
        },
        "type": "object"
      },
      "ap_uwb_config_type": {
        "description": "UWB integration type. enum: `zigpos`",
        "enum": [
          "zigpos"
        ],
        "type": "string"
      },
      "app_probing": {
        "additionalProperties": false,
        "description": "Application reachability probing settings for gateway management",
        "properties": {
          "apps": {
            "$ref": "#/components/schemas/app_probing_apps",
            "description": "Predefined application keys to probe"
          },
          "custom_apps": {
            "$ref": "#/components/schemas/app_probing_custom_apps",
            "description": "User-defined application probe definitions"
          },
          "enabled": {
            "description": "Whether gateway application probing is enabled",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "app_probing_apps": {
        "description": "Application keys from [List Applications](/#operations/listApplications)",
        "examples": [
          [
            "facebook"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "app_probing_custom_app": {
        "additionalProperties": false,
        "description": "User-defined application probe definition",
        "properties": {
          "address": {
            "description": "Required if `protocol`==`icmp`. IP address probed by the ICMP custom app",
            "examples": [
              "192.168.1.1"
            ],
            "type": "string"
          },
          "app_type": {
            "description": "Category label used for this custom application probe",
            "type": "string"
          },
          "hostnames": {
            "$ref": "#/components/schemas/app_probing_custom_app_hostname",
            "description": "If `protocol`==`http`. Hostnames or URLs probed by this custom app"
          },
          "key": {
            "description": "Stable key used to identify this custom application probe",
            "type": "string"
          },
          "name": {
            "description": "Display name for this custom application probe",
            "examples": [
              "pos_app"
            ],
            "type": "string"
          },
          "network": {
            "description": "Gateway network used as the source context for this probe",
            "examples": [
              "lan"
            ],
            "type": "string"
          },
          "packetSize": {
            "description": "If `protocol`==`icmp`. ICMP packet size used by this custom app probe",
            "maximum": 65400,
            "minimum": 0,
            "type": "integer"
          },
          "protocol": {
            "$ref": "#/components/schemas/app_probing_custom_app_protocol",
            "description": "Probe protocol used by this custom application definition"
          },
          "url": {
            "description": "If `protocol`==`http`. HTTP URL or hostname probed by this custom app",
            "examples": [
              "www.abc.com"
            ],
            "type": "string"
          },
          "vrf": {
            "description": "Gateway VRF used as the source context for this probe",
            "examples": [
              "lan"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "app_probing_custom_app_hostname": {
        "description": "If `protocol`==`http`. HTTP hostnames or URLs probed by the custom app",
        "examples": [
          [
            "https://www.abc.com"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "app_probing_custom_app_protocol": {
        "default": "http",
        "description": "Probe protocol for a custom application. enum: `http`, `icmp`",
        "enum": [
          "http",
          "icmp"
        ],
        "type": "string"
      },
      "app_probing_custom_apps": {
        "description": "User-defined application probe definitions",
        "items": {
          "$ref": "#/components/schemas/app_probing_custom_app"
        },
        "type": "array"
      },
      "auto_preemption": {
        "additionalProperties": false,
        "description": "Schedule to preempt AP tunnels that are not connected to their preferred peer",
        "properties": {
          "day_of_week": {
            "$ref": "#/components/schemas/day_of_week",
            "description": "Scheduled weekday for auto preemption"
          },
          "enabled": {
            "default": false,
            "description": "Whether auto preemption is enabled",
            "type": "boolean"
          },
          "time_of_day": {
            "$ref": "#/components/schemas/time_of_day",
            "description": "Scheduled time of day for auto preemption"
          }
        },
        "type": "object"
      },
      "bgp_as": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4294967294,
            "minimum": 1,
            "type": "integer"
          }
        ],
        "description": "BGP AS, value in range 1-4294967294. Can be a Variable (e.g. `{{bgp_as}}` )",
        "examples": [
          65000
        ]
      },
      "bgp_config": {
        "additionalProperties": false,
        "description": "BGP session configuration. BFD is enabled when either bfd_minimum_interval or bfd_multiplier is configured",
        "properties": {
          "auth_key": {
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`",
            "type": "string"
          },
          "bfd_minimum_interval": {
            "default": 350,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`, when bfd_multiplier is configured alone. Default:\n  * 1000 if `type`==`external`\n  * 350 `type`==`internal`",
            "maximum": 255000,
            "minimum": 1,
            "type": [
              "integer",
              "null"
            ]
          },
          "bfd_multiplier": {
            "default": 3,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`, when bfd_minimum_interval_is_configured alone",
            "maximum": 255,
            "minimum": 1,
            "type": [
              "integer",
              "null"
            ]
          },
          "disable_bfd": {
            "default": false,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. BFD provides faster path failure detection and is enabled by default",
            "type": "boolean"
          },
          "export": {
            "description": "Routing policy applied to routes exported by this BGP session",
            "type": "string"
          },
          "export_policy": {
            "description": "Default export policies if no per-neighbor policies defined",
            "type": "string"
          },
          "extended_v4_nexthop": {
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. By default, either inet/net6 unicast depending on neighbor IP family (v4 or v6). For v6 neighbors, to exchange v4 nexthop, which allows dual-stack support, enable this",
            "type": "boolean"
          },
          "graceful_restart_time": {
            "default": 0,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. `0` means disable",
            "maximum": 4095,
            "minimum": 0,
            "type": "integer"
          },
          "hold_time": {
            "default": 90,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. Default is 90.",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer"
          },
          "import": {
            "description": "Routing policy applied to routes imported by this BGP session",
            "type": "string"
          },
          "import_policy": {
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. Default import policies if no per-neighbor policies defined",
            "type": "string"
          },
          "local_as": {
            "$ref": "#/components/schemas/bgp_local_as",
            "description": "Required if `via`==`lan`, `via`==`tunnel` or `via`==`wan`; local BGP Autonomous System (AS) number"
          },
          "neighbor_as": {
            "$ref": "#/components/schemas/bgp_as",
            "description": "Default BGP neighbor Autonomous System (AS) number for this session"
          },
          "neighbors": {
            "additionalProperties": {
              "$ref": "#/components/schemas/bgp_config_neighbors"
            },
            "description": "Required if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. If per-neighbor as is desired. Property key is the neighbor address",
            "type": "object"
          },
          "networks": {
            "$ref": "#/components/schemas/bgp_config_networks",
            "description": "Optional if `via`==`lan`; networks where BGP neighbors can connect to or from"
          },
          "no_private_as": {
            "default": false,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. If true, we will not advertise private ASNs (AS 64512-65534) to this neighbor",
            "type": "boolean"
          },
          "no_readvertise_to_overlay": {
            "default": false,
            "description": "Optional if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. By default, we'll re-advertise all learned BGP routers toward overlay",
            "type": "boolean"
          },
          "tunnel_name": {
            "description": "Optional if `via`==`tunnel`; tunnel name used for this BGP session",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/bgp_config_type",
            "description": "Required if `via`==`lan`, `via`==`tunnel` or `via`==`wan`; BGP session type, internal or external"
          },
          "via": {
            "$ref": "#/components/schemas/bgp_config_via",
            "description": "Transport used for this BGP session, such as LAN, tunnel, VPN, or WAN"
          },
          "vpn_name": {
            "description": "Optional if `via`==`vpn`; VPN name used for this BGP session",
            "type": "string"
          },
          "wan_name": {
            "description": "Optional if `via`==`wan`; WAN interface name used for this BGP session",
            "type": "string"
          }
        },
        "required": [
          "via"
        ],
        "type": "object"
      },
      "bgp_config_neighbors": {
        "additionalProperties": false,
        "description": "Per-neighbor BGP session settings",
        "properties": {
          "disabled": {
            "default": false,
            "description": "If true, the BGP session to this neighbor will be administratively disabled/shutdown",
            "type": "boolean"
          },
          "export_policy": {
            "description": "Export policy applied only to this BGP neighbor",
            "type": "string"
          },
          "hold_time": {
            "default": 90,
            "description": "BGP hold time for this neighbor, in seconds",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer"
          },
          "import_policy": {
            "description": "Import policy applied only to this BGP neighbor",
            "type": "string"
          },
          "multihop_ttl": {
            "description": "Assuming BGP neighbor is directly connected",
            "maximum": 255,
            "minimum": 0,
            "type": "integer"
          },
          "neighbor_as": {
            "$ref": "#/components/schemas/bgp_as",
            "description": "Autonomous System (AS) number of this BGP neighbor"
          },
          "tunnel_via": {
            "$ref": "#/components/schemas/tunnel_via",
            "description": "If `via`==`tunnel`, primary or secondary tunnel associated with this BGP neighbor"
          }
        },
        "required": [
          "neighbor_as"
        ],
        "type": "object"
      },
      "bgp_config_networks": {
        "description": "Optional if `via`==`lan`. List of networks where we expect BGP neighbor to connect to/from",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "bgp_config_type": {
        "description": "Required if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. enum: `external`, `internal`",
        "enum": [
          "external",
          "internal"
        ],
        "minLength": 1,
        "type": "string"
      },
      "bgp_config_via": {
        "default": "lan",
        "description": "enum: `lan`, `tunnel`, `vpn`, `wan`",
        "enum": [
          "lan",
          "tunnel",
          "vpn",
          "wan"
        ],
        "type": "string"
      },
      "bgp_local_as": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer"
          }
        ],
        "description": "Required if `via`==`lan`, `via`==`tunnel` or `via`==`wan`. BGP AS, value in range 1-4294967295",
        "examples": [
          65000
        ]
      },
      "ble_config": {
        "additionalProperties": false,
        "description": "Bluetooth Low Energy beacon and asset advertising settings for an AP",
        "properties": {
          "beacon_enabled": {
            "default": true,
            "description": "Whether Mist beacons is enabled",
            "type": "boolean"
          },
          "beacon_rate": {
            "description": "Required if `beacon_rate_mode`==`custom`, 1-10, in number-beacons-per-second",
            "examples": [
              3
            ],
            "type": "integer"
          },
          "beacon_rate_mode": {
            "$ref": "#/components/schemas/ble_config_beacon_rate_mode",
            "description": "Beacon rate mode for Mist BLE beacons; use custom to set beacon_rate"
          },
          "beam_disabled": {
            "$ref": "#/components/schemas/ble_config_beam_disabled",
            "description": "AP BLE beam numbers disabled for location advertisements"
          },
          "custom_ble_packet_enabled": {
            "default": false,
            "description": "Can be enabled if `beacon_enabled`==`true`, whether to send custom packet",
            "type": "boolean"
          },
          "custom_ble_packet_frame": {
            "default": "",
            "description": "The custom frame to be sent out in this beacon. The frame must be a hexstring",
            "examples": [
              "0x........"
            ],
            "type": "string"
          },
          "custom_ble_packet_freq_msec": {
            "default": 0,
            "description": "Frequency (msec) of data emitted by custom ble beacon",
            "examples": [
              300
            ],
            "minimum": 0,
            "type": "integer"
          },
          "eddystone_uid_adv_power": {
            "default": 0,
            "description": "Advertised TX Power, -100 to 20 (dBm), omit this attribute to use default",
            "examples": [
              -65
            ],
            "maximum": 20,
            "minimum": -100,
            "type": "integer"
          },
          "eddystone_uid_beams": {
            "default": "",
            "description": "BLE beams used to transmit Eddystone-UID advertisements, expressed as ranges such as `2-4,7`",
            "examples": [
              "2-4,7"
            ],
            "type": "string"
          },
          "eddystone_uid_enabled": {
            "default": false,
            "description": "Only if `beacon_enabled`==`false`, Whether Eddystone-UID beacon is enabled",
            "type": "boolean"
          },
          "eddystone_uid_freq_msec": {
            "default": 0,
            "description": "Frequency (msec) of data emit by Eddystone-UID beacon",
            "examples": [
              200
            ],
            "type": "integer"
          },
          "eddystone_uid_instance": {
            "default": "",
            "description": "Eddystone-UID instance for the device",
            "examples": [
              "5c5b35000001"
            ],
            "type": "string"
          },
          "eddystone_uid_namespace": {
            "default": "",
            "description": "Eddystone-UID namespace broadcast by the AP, as a 10-byte hex string",
            "examples": [
              "2818e3868dec25629ede"
            ],
            "type": "string"
          },
          "eddystone_url_adv_power": {
            "default": 0,
            "description": "Advertised TX Power, -100 to 20 (dBm), omit this attribute to use default",
            "examples": [
              -65
            ],
            "maximum": 20,
            "minimum": -100,
            "type": "integer"
          },
          "eddystone_url_beams": {
            "default": "",
            "description": "BLE beams used to transmit Eddystone-URL advertisements, expressed as ranges such as `2-4,7`",
            "examples": [
              "2-4,7"
            ],
            "type": "string"
          },
          "eddystone_url_enabled": {
            "default": false,
            "description": "Only if `beacon_enabled`==`false`, Whether Eddystone-URL beacon is enabled",
            "type": "boolean"
          },
          "eddystone_url_freq_msec": {
            "default": 0,
            "description": "Frequency (msec) of data emitted by Eddystone-URL beacon",
            "examples": [
              1000
            ],
            "type": "integer"
          },
          "eddystone_url_url": {
            "default": "",
            "description": "URL pointed by Eddystone-URL beacon",
            "examples": [
              "https://www.abc.com"
            ],
            "type": "string"
          },
          "ibeacon_adv_power": {
            "default": 0,
            "description": "Advertised TX Power, -100 to 20 (dBm), omit this attribute to use default",
            "examples": [
              -65
            ],
            "maximum": 20,
            "minimum": -100,
            "type": "integer"
          },
          "ibeacon_beams": {
            "default": "",
            "description": "BLE beams used to transmit iBeacon advertisements, expressed as ranges such as `2-4,7`",
            "examples": [
              "2-4,7"
            ],
            "type": "string"
          },
          "ibeacon_enabled": {
            "default": false,
            "description": "Can be enabled if `beacon_enabled`==`true`, whether to send iBeacon",
            "type": "boolean"
          },
          "ibeacon_freq_msec": {
            "default": 0,
            "description": "Frequency (msec) of data emit for iBeacon",
            "type": "integer"
          },
          "ibeacon_major": {
            "$ref": "#/components/schemas/ibeacon_major",
            "description": "iBeacon major value broadcast by the AP"
          },
          "ibeacon_minor": {
            "$ref": "#/components/schemas/ibeacon_minor",
            "description": "iBeacon minor value broadcast by the AP"
          },
          "ibeacon_uuid": {
            "default": "",
            "description": "Optional, if not specified, the same UUID as the beacon will be used",
            "examples": [
              "f3f17139-704a-f03a-2786-0400279e37c3"
            ],
            "format": "uuid",
            "type": "string"
          },
          "power": {
            "default": 9,
            "description": "Required if `power_mode`==`custom`; else use `power_mode` as default",
            "examples": [
              6
            ],
            "maximum": 10,
            "minimum": 1,
            "type": "integer"
          },
          "power_mode": {
            "$ref": "#/components/schemas/ble_config_power_mode",
            "description": "Transmit power mode for BLE beacons; use custom to set `power`"
          }
        },
        "type": "object"
      },
      "ble_config_beacon_rate_mode": {
        "default": "default",
        "description": "Beacon rate mode for Mist BLE beacons; use custom to set beacon_rate. enum: `custom`, `default`",
        "enum": [
          "custom",
          "default"
        ],
        "examples": [
          "custom"
        ],
        "type": "string"
      },
      "ble_config_beam_disabled": {
        "description": "List of AP BLE location beam numbers (1-8) which should be disabled at the AP and not transmit location information (where beam 1 is oriented at the top the AP, growing counter-clock-wise, with 9 being the omni BLE beam)",
        "examples": [
          [
            1,
            3,
            6
          ]
        ],
        "items": {
          "type": "integer"
        },
        "type": "array"
      },
      "ble_config_power_mode": {
        "default": "default",
        "description": "Transmit power mode for BLE beacons; use `custom` to set explicit power. enum: `custom`, `default`",
        "enum": [
          "custom",
          "default"
        ],
        "examples": [
          "custom"
        ],
        "type": "string"
      },
      "config_switch_local_accounts": {
        "additionalProperties": {
          "$ref": "#/components/schemas/config_switch_local_accounts_user"
        },
        "description": "Property key is the user name. For Local user authentication",
        "type": "object"
      },
      "config_switch_local_accounts_user": {
        "additionalProperties": false,
        "description": "Local switch user account credentials and access role",
        "properties": {
          "password": {
            "description": "Local password for the switch user account",
            "examples": [
              "Juniper123"
            ],
            "format": "password",
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/config_switch_local_accounts_user_role",
            "description": "Access role granted to the local switch user account"
          }
        },
        "type": "object"
      },
      "config_switch_local_accounts_user_role": {
        "default": "none",
        "description": "enum: `admin`, `helpdesk`, `none`, `read`",
        "enum": [
          "admin",
          "helpdesk",
          "none",
          "read"
        ],
        "type": "string"
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "day_of_week": {
        "description": "enum: `any`, `fri`, `mon`, `sat`, `sun`, `thu`, `tue`, `wed`",
        "enum": [
          "any",
          "fri",
          "mon",
          "sat",
          "sun",
          "thu",
          "tue",
          "wed"
        ],
        "type": "string"
      },
      "dhcp_snooping": {
        "additionalProperties": false,
        "description": "DHCP snooping security settings",
        "properties": {
          "all_networks": {
            "description": "Whether DHCP snooping applies to all configured networks",
            "type": "boolean"
          },
          "enable_arp_spoof_check": {
            "description": "Enable for dynamic ARP inspection check",
            "type": "boolean"
          },
          "enable_ip_source_guard": {
            "description": "Enable for check for forging source IP address",
            "type": "boolean"
          },
          "enabled": {
            "description": "Whether DHCP snooping is enabled",
            "type": "boolean"
          },
          "networks": {
            "$ref": "#/components/schemas/dhcp_snooping_networks",
            "description": "Network names with DHCP snooping enabled when `all_networks`==`false`"
          }
        },
        "type": "object"
      },
      "dhcp_snooping_networks": {
        "description": "If `all_networks`==`false`, list of network with DHCP snooping enabled",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "dhcpd_config": {
        "additionalProperties": {
          "$ref": "#/components/schemas/dhcpd_config_property"
        },
        "description": "DHCP server configuration map with a global enable flag",
        "properties": {
          "enabled": {
            "default": true,
            "description": "If set to `false`, disable the DHCP server",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "dhcpd_config_dns_servers": {
        "description": "If `type`==`local` or `type6`==`local` - optional, if not defined, system one will be used",
        "examples": [
          [
            "8.8.8.8",
            "4.4.4.4",
            "2001:4860:4860::8888"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "dhcpd_config_dns_suffix": {
        "description": "If `type`==`local` or `type6`==`local` - optional, if not defined, system one will be used",
        "examples": [
          [
            ".mist.local",
            ".mist.com"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "dhcpd_config_fixed_binding": {
        "additionalProperties": false,
        "description": "Static DHCP binding for a client MAC address",
        "properties": {
          "ip": {
            "description": "Reserved IPv4 address for this fixed DHCP binding",
            "examples": [
              "192.168.70.35"
            ],
            "type": "string"
          },
          "ip6": {
            "description": "Reserved IPv6 address for this fixed DHCP binding",
            "examples": [
              "2607:f8b0:4005:808::2"
            ],
[...]
