{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites Network Templates",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "The API Endpoints for the Network Templates at the site level can be used to get the site derived networks, meaning the org level configuration with the site variables resolved.",
      "name": "Sites Network Templates"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/networktemplates/derived": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get the list of derived Network Templates a Site",
        "operationId": "listSiteNetworkTemplatesDerived",
        "parameters": [
          {
            "description": "Whether resolve the site variables",
            "in": "query",
            "name": "resolve",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Networktemplate"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteNetworkTemplatesDerived",
        "tags": [
          "Sites Network Templates"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "acl_policies": {
        "description": "List of ACL policy definitions",
        "items": {
          "$ref": "#/components/schemas/acl_policy"
        },
        "type": "array"
      },
      "acl_policy": {
        "additionalProperties": false,
        "description": "ACL Policy:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "properties": {
          "actions": {
            "$ref": "#/components/schemas/acl_policy_actions",
            "description": "Destination tag actions evaluated for sources matching this ACL policy"
          },
          "disabled": {
            "default": false,
            "description": "Whether this ACL policy is disabled",
            "type": "boolean"
          },
          "name": {
            "description": "Display name of the ACL policy",
            "examples": [
              "guest access"
            ],
            "type": "string"
          },
          "src_tags": {
            "$ref": "#/components/schemas/acl_policy_src_tags",
            "description": "Source ACL tags that select traffic for this ACL policy"
          }
        },
        "type": "object"
      },
      "acl_policy_action": {
        "additionalProperties": false,
        "description": "Action applied to traffic that matches a destination ACL tag",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/allow_deny",
            "description": "Allow or deny decision applied to traffic matching the destination tag"
          },
          "dst_tag": {
            "description": "Destination ACL tag matched by this policy action",
            "examples": [
              "corp"
            ],
            "type": "string"
          }
        },
        "required": [
          "dst_tag"
        ],
        "type": "object"
      },
      "acl_policy_actions": {
        "description": "ACL Policy Actions:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "items": {
          "$ref": "#/components/schemas/acl_policy_action"
        },
        "type": "array"
      },
      "acl_policy_src_tags": {
        "description": "ACL Policy Source Tags:\n  - for GBP-based policy, all src_tags and dst_tags have to be gbp-based\n  - for ACL-based policy, `network` is required in either the source or destination so that we know where to attach the policy to",
        "items": {
          "examples": [
            "macs"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag": {
        "additionalProperties": false,
        "description": "Resource tags (`type`==`resource` or `type`==`gbp_resource`) can only be used in `dst_tags`",
        "properties": {
          "ether_types": {
            "$ref": "#/components/schemas/acl_tag_ether_types",
            "description": "Layer 2 EtherTypes matched by this ACL tag; defaults to `any`"
          },
          "gbp_tag": {
            "description": "Required if\n  - `type`==`dynamic_gbp` (gbp_tag received from RADIUS)\n  - `type`==`gbp_resource`\n  - `type`==`static_gbp` (applying gbp tag against matching conditions)",
            "type": "integer"
          },
          "macs": {
            "$ref": "#/components/schemas/acl_tag_macs",
            "description": "Client or resource MAC addresses matched by this ACL tag"
          },
          "network": {
            "description": "If:\n  * `type`==`mac` (optional. default is `any`)\n  * `type`==`subnet` (optional. default is `any`)\n  * `type`==`network`\n  * `type`==`resource` (optional. default is `any`)\n  * `type`==`static_gbp` if from matching network (vlan)",
            "type": "string"
          },
          "port_usage": {
            "description": "Required if `type`==`port_usage`. Switch port usage name matched by this ACL tag",
            "type": "string"
          },
          "radius_group": {
            "description": "Required if:\n  * `type`==`radius_group`\n  * `type`==`aruba_user_role`\n  * `type`==`static_gbp`\nif from matching radius_group",
            "type": "string"
          },
          "specs": {
            "$ref": "#/components/schemas/acl_tag_specs",
            "description": "Layer 4 protocol and destination-port constraints for this ACL tag"
          },
          "subnets": {
            "$ref": "#/components/schemas/acl_tag_subnets",
            "description": "IP subnets matched by this ACL tag"
          },
          "type": {
            "$ref": "#/components/schemas/acl_tag_type",
            "description": "Classifier type that determines which ACL tag fields are evaluated"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "acl_tag_ether_types": {
        "default": [
          "any"
        ],
        "description": "ARP / IPv6. Default is `any`",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_macs": {
        "description": "Required if \n- `type`==`mac`\n- `type`==`static_gbp` if from matching mac",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_spec": {
        "additionalProperties": false,
        "description": "Layer 4 protocol and destination-port match constraint for an ACL tag",
        "properties": {
          "port_range": {
            "default": "0",
            "description": "Matched dst port, \"0\" means any",
            "type": "string"
          },
          "protocol": {
            "default": "any",
            "description": "`tcp` / `udp` / `icmp` / `icmp6` / `gre` / `any` / `:protocol_number`, `protocol_number` is between 1-254, default is `any` `protocol_number` is between 1-254",
            "type": "string"
          }
        },
        "type": "object"
      },
      "acl_tag_specs": {
        "description": "If `type`==`resource`, `type`==`radius_group`, `type`==`aruba_user_role`, `type`==`port_usage` or `type`==`gbp_resource`. Empty means unrestricted, i.e. any",
        "items": {
          "$ref": "#/components/schemas/acl_tag_spec"
        },
        "type": "array"
      },
      "acl_tag_subnets": {
        "description": "If \n- `type`==`subnet` \n- `type`==`resource` (optional. default is `any`)\n- `type`==`static_gbp` if from matching subnet",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "acl_tag_type": {
        "description": "enum: \n  * `any`: matching anything not identified\n  * `aruba_user_role`: Aruba user role matched via `radius_group`\n  * `dynamic_gbp`: from the gbp_tag received from RADIUS\n  * `gbp_resource`: can only be used in `dst_tags`\n  * `mac`\n  * `network`\n  * `port_usage`\n  * `radius_group`\n  * `resource`: can only be used in `dst_tags`\n  * `static_gbp`: applying gbp tag against matching conditions\n  * `subnet`'",
        "enum": [
          "any",
          "aruba_user_role",
          "dynamic_gbp",
          "gbp_resource",
          "mac",
          "network",
          "port_usage",
          "radius_group",
          "resource",
          "static_gbp",
          "subnet"
        ],
        "type": "string"
      },
      "acl_tags": {
        "additionalProperties": {
          "$ref": "#/components/schemas/acl_tag"
        },
        "description": "ACL Tags to identify traffic source or destination. Key name is the tag name",
        "type": "object"
      },
      "additional_config_cmds": {
        "description": "additional CLI commands to append to the generated Junos config. **Note**: no check is done",
        "items": {
          "description": "JUNOS \"set\" command to add to the generated configuration",
          "examples": [
            "set snmp community public"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "aggregate_route": {
        "additionalProperties": false,
        "description": "Aggregate route configuration for a network or routing instance",
        "properties": {
          "discard": {
            "default": false,
            "description": "Whether to install the aggregate route as a discard route",
            "type": "boolean"
          },
          "metric": {
            "description": "Routing metric assigned to the aggregate route",
            "maximum": 4294967295,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "preference": {
            "description": "Route preference assigned to the aggregate route",
            "maximum": 4294967295,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "aggregate_routes": {
        "additionalProperties": {
          "$ref": "#/components/schemas/aggregate_route"
        },
        "description": "Property key is the destination subnet (e.g. \"172.16.3.0/24\")",
        "examples": [
          {
            "172.16.3.0/24": {
              "discard": false,
              "metric": null,
              "preference": 30
            }
          }
        ],
        "type": "object"
      },
      "aggregate_routes6": {
        "additionalProperties": {
          "$ref": "#/components/schemas/aggregate_route"
        },
        "description": "Property key is the destination subnet (e.g. \"2a02:1234:420a:10c9::/64\")",
        "example": {
          "2a02:1234:420a:10c9::/64": {
            "discard": false,
            "metric": null,
            "preference": 30
          }
        },
        "type": "object"
      },
      "allow_deny": {
        "description": "Policy action value that either allows or denies matching traffic. enum: `allow`, `deny`",
        "enum": [
          "allow",
          "deny"
        ],
        "type": "string"
      },
      "bgp_as": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4294967294,
            "minimum": 1,
            "type": "integer"
          }
        ],
        "description": "BGP AS, value in range 1-4294967294. Can be a Variable (e.g. `{{bgp_as}}` )",
        "examples": [
          65000
        ]
      },
      "config_switch_local_accounts": {
        "additionalProperties": {
          "$ref": "#/components/schemas/config_switch_local_accounts_user"
        },
        "description": "Property key is the user name. For Local user authentication",
        "type": "object"
      },
      "config_switch_local_accounts_user": {
        "additionalProperties": false,
        "description": "Local switch user account credentials and access role",
        "properties": {
          "password": {
            "description": "Local password for the switch user account",
            "examples": [
              "Juniper123"
            ],
            "format": "password",
            "type": "string"
          },
          "role": {
            "$ref": "#/components/schemas/config_switch_local_accounts_user_role",
            "description": "Access role granted to the local switch user account"
          }
        },
        "type": "object"
      },
      "config_switch_local_accounts_user_role": {
        "default": "none",
        "description": "enum: `admin`, `helpdesk`, `none`, `read`",
        "enum": [
          "admin",
          "helpdesk",
          "none",
          "read"
        ],
        "type": "string"
      },
      "created_time": {
        "description": "When the object has been created, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "dhcp_snooping": {
        "additionalProperties": false,
        "description": "DHCP snooping security settings",
        "properties": {
          "all_networks": {
            "description": "Whether DHCP snooping applies to all configured networks",
            "type": "boolean"
          },
          "enable_arp_spoof_check": {
            "description": "Enable for dynamic ARP inspection check",
            "type": "boolean"
          },
          "enable_ip_source_guard": {
            "description": "Enable for check for forging source IP address",
            "type": "boolean"
          },
          "enabled": {
            "description": "Whether DHCP snooping is enabled",
            "type": "boolean"
          },
          "networks": {
            "$ref": "#/components/schemas/dhcp_snooping_networks",
            "description": "Network names with DHCP snooping enabled when `all_networks`==`false`"
          }
        },
        "type": "object"
      },
      "dhcp_snooping_networks": {
        "description": "If `all_networks`==`false`, list of network with DHCP snooping enabled",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "dns_servers": {
        "description": "Global dns settings. To keep compatibility, dns settings in `ip_config` and `oob_ip_config` will overwrite this setting",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "dns_suffix": {
        "description": "Global dns settings. To keep compatibility, dns settings in `ip_config` and `oob_ip_config` will overwrite this setting",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "extra_route": {
        "additionalProperties": false,
        "description": "IPv4 static route settings for a destination prefix",
        "properties": {
          "discard": {
            "default": false,
            "description": "Whether to install a discard route; this takes precedence over next-hop settings",
            "type": "boolean"
          },
          "metric": {
            "description": "Route metric for the IPv4 static route",
            "examples": [
              null
            ],
            "maximum": 2147483647,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "next_qualified": {
            "additionalProperties": {
              "$ref": "#/components/schemas/extra_route_next_qualified_properties"
            },
            "description": "Qualified next-hop settings keyed by IPv4 next-hop address",
            "examples": [
              {
                "10.3.1.1": {
                  "metric": null,
                  "preference": 40
                }
              }
            ],
            "type": "object"
          },
          "no_resolve": {
            "default": false,
            "description": "Whether to prevent recursive next-hop resolution for the IPv4 static route",
            "type": "boolean"
          },
          "preference": {
            "description": "Route preference for the IPv4 static route",
            "examples": [
              30
            ],
            "maximum": 2147483647,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "via": {
            "$ref": "#/components/schemas/next_hop_via",
            "description": "Next-hop IPv4 address or ECMP next-hop IPv4 addresses for the route"
          }
        },
        "type": "object"
      },
      "extra_route6": {
        "additionalProperties": false,
        "description": "IPv6 static route settings for a destination prefix",
        "properties": {
          "discard": {
            "default": false,
            "description": "Whether to install a discard route; this takes precedence over next-hop settings",
            "type": "boolean"
          },
          "metric": {
            "description": "Route metric for the IPv6 static route",
            "examples": [
              null
            ],
            "maximum": 2147483647,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "next_qualified": {
            "additionalProperties": {
              "$ref": "#/components/schemas/extra_route6_next_qualified_properties"
            },
            "description": "Qualified next-hop settings keyed by IPv6 next-hop address",
            "examples": [
              {
                "2a02:1234:200a::100": {
                  "metric": null,
                  "preference": 40
                }
              }
            ],
            "type": "object"
          },
          "no_resolve": {
            "default": false,
            "description": "Whether to prevent recursive next-hop resolution for the IPv6 static route",
            "type": "boolean"
          },
          "preference": {
            "description": "Route preference for the IPv6 static route",
            "examples": [
              30
            ],
            "maximum": 2147483647,
            "minimum": 0,
            "type": [
              "integer",
              "null"
            ]
          },
          "via": {
            "$ref": "#/components/schemas/next_hop_via",
            "description": "Next-hop IPv6 address or ECMP next-hop IPv6 addresses for the route"
          }
        },
        "type": "object"
      },
      "extra_route6_next_qualified_properties": {
        "additionalProperties": false,
        "description": "Qualified next-hop attributes for an IPv6 static route",
        "properties": {
          "metric": {
            "description": "Route metric for this qualified IPv6 next hop",
            "type": [
              "integer",
              "null"
            ]
          },
          "preference": {
            "description": "Route preference for this qualified IPv6 next hop",
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "extra_route_next_qualified_properties": {
        "additionalProperties": false,
        "description": "Qualified next-hop attributes for an IPv4 static route",
        "properties": {
          "metric": {
            "description": "Route metric for this qualified IPv4 next hop",
            "type": [
              "integer",
              "null"
            ]
          },
          "preference": {
            "description": "Route preference for this qualified IPv4 next hop",
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "extra_routes": {
        "additionalProperties": {
          "$ref": "#/components/schemas/extra_route"
        },
        "description": "Property key is the destination CIDR (e.g. \"10.0.0.0/8\")",
        "examples": [
          {
            "0.0.0.0/0": {
              "via": "192.168.1.10"
            }
          }
        ],
        "type": "object"
      },
      "extra_routes6": {
        "additionalProperties": {
          "$ref": "#/components/schemas/extra_route6"
        },
        "description": "Property key is the destination CIDR (e.g. \"2a02:1234:420a:10c9::/64\")",
        "examples": [
          {
            "2a02:1234:420a:10c9::/64": {
              "via": "2a02:1234:200a::100"
            }
          }
        ],
        "type": "object"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "ip_type": {
        "default": "dhcp",
        "description": "IP address assignment mode, either DHCP or static. enum: `dhcp`, `static`",
        "enum": [
          "dhcp",
          "static"
        ],
        "examples": [
          "static"
        ],
        "type": "string"
      },
      "junos_port_config": {
        "additionalProperties": false,
        "description": "Junos switch port configuration",
        "properties": {
          "ae_disable_lacp": {
            "description": "To disable LACP support for the AE interface",
            "type": "boolean"
          },
          "ae_idx": {
            "description": "Users could force to use the designated AE name",
            "type": "integer"
          },
          "ae_lacp_force_up": {
            "default": false,
            "description": "If `aggregated`==`true`, sets the state of the interface as UP when the peer has limited LACP capability. Use case: When a device connected to this AE port is ZTPing for the first time, it will not have LACP configured on the other end. **Note:** Turning this on will enable force-up on one of the interfaces in the bundle only",
            "type": "boolean"
          },
          "ae_lacp_passive": {
            "default": false,
            "description": "If `aggregated`==`true`, sets LACP to passive mode on this AE interface; by default, active (fast) mode is used",
            "type": "boolean"
          },
          "ae_lacp_slow": {
            "description": "To use slow timeout",
            "type": "boolean"
          },
          "aggregated": {
            "default": false,
            "description": "Whether this port is configured as an aggregated Ethernet member",
            "type": "boolean"
          },
          "critical": {
            "default": false,
            "description": "To generate port up/down alarm",
            "type": "boolean"
          },
          "description": {
            "description": "Human-readable description for this Junos port",
            "type": "string"
          },
          "disable_autoneg": {
            "default": false,
            "description": "If `speed` and `duplex` are specified, whether to disable autonegotiation",
            "type": "boolean"
          },
          "duplex": {
            "$ref": "#/components/schemas/junos_port_config_duplex",
            "description": "Link duplex mode for this Junos port"
          },
          "dynamic_usage": {
            "description": "Enable dynamic usage for this port. Set to `dynamic` to enable.",
            "type": [
              "string",
              "null"
            ]
          },
          "esilag": {
            "description": "Whether this Junos port participates in an ESI-LAG",
            "type": "boolean"
          },
          "mtu": {
            "default": 1514,
            "description": "Media maximum transmission unit (MTU) is the largest data unit that can be forwarded without fragmentation",
            "type": "integer"
          },
          "networks": {
            "description": "List of network names. Required if `usage`==`inet`",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "no_local_overwrite": {
            "default": true,
            "description": "Prevent helpdesk to override the port config",
            "type": "boolean"
          },
          "poe_disabled": {
            "default": false,
            "description": "Whether PoE capabilities are disabled for this Junos port",
            "type": "boolean"
          },
          "port_network": {
            "description": "Required if `usage`==`vlan_tunnel`. Q-in-Q tunneling using All-in-one bundling. This also enables standard L2PT for interfaces that are not encapsulation tunnel interfaces and uses MAC rewrite operation. [View more information](https://www.juniper.net/documentation/us/en/software/junos/multicast-l2/topics/topic-map/q-in-q.html#id-understanding-qinq-tunneling-and-vlan-translation)",
            "type": "string"
          },
          "speed": {
            "$ref": "#/components/schemas/junos_port_config_speed",
            "description": "Link speed for this Junos port"
          },
          "usage": {
            "description": "Port usage name. For Q-in-Q, use `vlan_tunnel`. If EVPN is used, use `evpn_uplink`or `evpn_downlink`",
            "type": "string"
          }
        },
        "required": [
          "usage"
        ],
        "type": "object"
      },
      "junos_port_config_duplex": {
        "default": "auto",
        "description": "enum: `auto`, `full`, `half`",
        "enum": [
          "auto",
          "full",
          "half"
        ],
        "type": "string"
      },
      "junos_port_config_speed": {
        "default": "auto",
        "description": "enum: `100m`, `10m`, `1g`, `2.5g`, `5g`, `10g`, `25g`, `40g`, `100g`,`auto`",
        "enum": [
          "10m",
          "100m",
          "1g",
          "2.5g",
          "5g",
          "10g",
          "25g",
          "40g",
          "100g",
          "auto"
        ],
        "type": "string"
      },
      "modified_time": {
        "description": "When the object has been modified for the last time, in epoch",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "network_template": {
        "description": "Network template configuration applied to sites or site groups",
        "properties": {
          "acl_policies": {
            "$ref": "#/components/schemas/acl_policies",
            "description": "ACL policy defaults provided by this network template"
          },
          "acl_tags": {
            "$ref": "#/components/schemas/acl_tags",
            "description": "ACL tags available to access policies in this network template"
          },
          "additional_config_cmds": {
            "$ref": "#/components/schemas/additional_config_cmds",
            "description": "Additional CLI configuration commands provided by this network template"
          },
          "bgp_config": {
            "additionalProperties": {
              "$ref": "#/components/schemas/switch_bgp_config"
            },
            "description": "BGP routing defaults for this network template. Property key is the BGP session name",
            "type": "object"
          },
          "created_time": {
            "$ref": "#/components/schemas/created_time",
            "description": "Timestamp when the network template was created"
          },
          "dhcp_snooping": {
            "$ref": "#/components/schemas/dhcp_snooping",
            "description": "DHCP snooping defaults provided by this network template"
          },
          "dns_servers": {
            "$ref": "#/components/schemas/dns_servers",
            "description": "DNS servers provided by this network template"
          },
          "dns_suffix": {
            "$ref": "#/components/schemas/dns_suffix",
            "description": "DNS search suffixes provided by this network template"
          },
          "extra_routes": {
            "$ref": "#/components/schemas/extra_routes",
            "description": "Additional IPv4 route defaults in this network template"
          },
          "extra_routes6": {
            "$ref": "#/components/schemas/extra_routes6",
            "description": "Additional IPv6 route defaults in this network template"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier of the network template"
          },
          "import_org_networks": {
            "$ref": "#/components/schemas/network_template_import_org_networks",
            "description": "Organization network names imported into this network template"
          },
          "mist_nac": {
            "$ref": "#/components/schemas/switch_mist_nac",
            "description": "Mist NAC defaults applied by this network template"
          },
          "modified_time": {
            "$ref": "#/components/schemas/modified_time",
            "description": "Timestamp when the network template was last modified"
          },
          "multicast_config": {
            "$ref": "#/components/schemas/switch_multicast_config",
            "description": "Multicast settings for networks in the master VRF (not assigned to any vrf_instances); PIM is automatically enabled when any master-VRF network has `multicast.enabled`==`true`"
          },
          "name": {
            "description": "Display name of the network template",
            "type": "string"
          },
          "networks": {
            "$ref": "#/components/schemas/switch_networks",
            "description": "Layer 3 networks configured by this network template"
          },
          "ntp_servers": {
            "$ref": "#/components/schemas/ntp_servers",
            "description": "NTP servers provided by this network template"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization that owns this network template"
          },
          "ospf_areas": {
            "$ref": "#/components/schemas/ospf_areas",
            "description": "OSPF area defaults provided by this network template"
          },
          "port_mirroring": {
            "$ref": "#/components/schemas/switch_port_mirroring",
            "description": "Port mirroring defaults provided by this network template"
          },
          "port_usages": {
            "$ref": "#/components/schemas/switch_port_usages",
            "description": "Reusable switch port usage profiles provided by this network template"
          },
          "radius_config": {
            "$ref": "#/components/schemas/switch_radius_config",
            "description": "RADIUS authentication and accounting defaults in this network template"
          },
          "remote_syslog": {
            "$ref": "#/components/schemas/remote_syslog",
            "description": "Remote syslog defaults provided by this network template"
          },
          "remove_existing_configs": {
            "default": false,
            "description": "By default, only the configuration generated by Mist is cleaned up during the configuration process. If `true`, all the existing configuration will be removed.",
            "type": "boolean"
          },
          "routing_policies": {
            "$ref": "#/components/schemas/sw_routing_policies",
            "description": "Routing policy defaults applied by this network template"
          },
          "snmp_config": {
            "$ref": "#/components/schemas/snmp_config",
            "description": "SNMP defaults provided by this network template"
          },
          "switch_matching": {
            "$ref": "#/components/schemas/switch_matching",
            "description": "Matching rules that select switches for this network template"
          },
          "switch_mgmt": {
            "$ref": "#/components/schemas/switch_mgmt",
            "description": "Management-plane defaults provided by this network template"
          },
          "vrf_config": {
            "$ref": "#/components/schemas/vrf_config",
            "description": "VRF defaults applied by this network template"
          },
          "vrf_instances": {
            "$ref": "#/components/schemas/switch_vrf_instances",
            "description": "VRF instances configured by this network template"
          }
        },
        "type": "object"
      },
      "network_template_import_org_networks": {
        "description": "Org Networks that we'd like to import",
        "items": {
          "examples": [
            "ap"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "next_hop_via": {
        "description": "Next-hop IP address. Can be a single IP address or an array of IP addresses for ECMP (Equal-Cost Multi-Path) load balancing across multiple next-hops.",
        "examples": [
          "10.2.1.1",
          [
            "10.2.1.1",
            "10.2.1.2"
          ]
        ],
        "oneOf": [
          {
            "type": "string"
          },
          {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        ]
      },
      "ntp_servers": {
        "description": "List of NTP servers specific to this device. By default, those in Site Settings will be used",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "ospf_area": {
        "additionalProperties": false,
        "description": "Property key is the OSPF Area (Area should be a number (0-255) / IP address)",
        "properties": {
          "include_loopback": {
            "default": false,
            "description": "Whether loopback interfaces are included in this OSPF area",
            "type": "boolean"
          },
          "networks": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ospf_areas_network"
            },
            "description": "OSPF network settings keyed by network name",
            "examples": [
              {
                "corp": {
                  "auth_keys": {
                    "1": "auth-key-1"
                  },
                  "auth_type": "md5",
                  "bfd_minimum_interval": 500,
                  "dead_interval": 40,
                  "hello_interval": 10,
                  "interface_type": "nbma",
                  "metric": 10000
                },
                "guest": {
                  "passive": true
                }
              }
            ],
            "type": "object"
          },
          "type": {
            "$ref": "#/components/schemas/ospf_area_type",
            "description": "Area type for this OSPF area"
          }
        },
        "type": "object"
      },
      "ospf_area_network_auth_type": {
        "default": "none",
        "description": "auth type. enum: `md5`, `none`, `password`",
        "enum": [
          "md5",
          "none",
          "password"
        ],
        "examples": [
          "md5"
        ],
        "type": "string"
      },
      "ospf_area_network_interface_type": {
        "default": "broadcast",
        "description": "interface type (nbma = non-broadcast multi-access). enum: `broadcast`, `nbma`, `p2mp`, `p2p`",
        "enum": [
          "broadcast",
          "nbma",
          "p2mp",
          "p2p"
        ],
        "type": "string"
      },
      "ospf_area_type": {
        "default": "default",
        "description": "OSPF type. enum: `default`, `nssa`, `stub`",
        "enum": [
          "default",
          "nssa",
          "stub"
        ],
        "examples": [
          "default"
        ],
        "type": "string"
      },
      "ospf_areas": {
        "additionalProperties": {
          "$ref": "#/components/schemas/ospf_area"
        },
        "description": "Junos OSPF areas. Property key is the OSPF Area (Area should be a number (0-255) / IP address)",
        "type": "object"
      },
      "ospf_areas_network": {
        "additionalProperties": false,
        "description": "Property key is the network name. Networks to participate in an OSPF area",
        "properties": {
          "auth_keys": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Required if `auth_type`==`md5`. Property key is the key number",
            "examples": [
              {
                "1": "auth-key-1"
              }
            ],
            "type": "object"
          },
          "auth_password": {
            "description": "Required if `auth_type`==`password`, the password, max length is 8",
            "examples": [
              "simple"
            ],
            "type": "string"
          },
          "auth_type": {
            "$ref": "#/components/schemas/ospf_area_network_auth_type",
            "description": "Authentication method used by this OSPF network"
          },
          "bfd_minimum_interval": {
            "description": "Minimum BFD interval for this OSPF network, in milliseconds",
            "examples": [
              500
            ],
            "maximum": 255000,
            "minimum": 1,
            "type": "integer"
          },
          "dead_interval": {
            "description": "OSPF dead interval for this network, in seconds",
            "examples": [
              40
            ],
            "maximum": 65535,
            "minimum": 1,
            "type": "integer"
          },
          "export_policy": {
            "description": "Routing policy used to export routes from this OSPF network",
            "examples": [
              "export_policy"
            ],
            "type": "string"
          },
          "hello_interval": {
            "description": "OSPF hello interval for this network, in seconds",
            "maximum": 255,
            "minimum": 1,
            "type": "integer"
          },
          "import_policy": {
            "description": "Routing policy used to import routes for this OSPF network",
            "examples": [
              "import_policy"
            ],
            "type": "string"
          },
          "interface_type": {
            "$ref": "#/components/schemas/ospf_area_network_interface_type",
            "description": "OSPF interface type used for this network"
          },
          "metric": {
            "description": "OSPF metric assigned to this network",
            "examples": [
              10000
            ],
            "maximum": 65535,
            "minimum": 1,
            "type": [
              "integer",
              "null"
            ]
          },
          "no_readvertise_to_overlay": {
            "default": false,
            "description": "By default, we'll re-advertise all learned OSPF routes toward overlay",
            "type": "boolean"
          },
          "passive": {
            "default": false,
            "description": "Whether to send OSPF-Hello",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "poe_priority": {
        "description": "PoE priority. enum: `low`, `high`",
        "enum": [
          "low",
          "high"
        ],
        "type": "string"
      },
      "protect_re": {
        "additionalProperties": false,
        "description": "Restrict inbound-traffic to host\nwhen enabled, all traffic that is not essential to our operation will be dropped \ne.g. ntp / dns / traffic to mist will be allowed by default, if dhcpd is enabled, we'll make sure it works",
        "properties": {
          "allowed_services": {
            "$ref": "#/components/schemas/protect_re_allowed_services",
            "description": "Built-in services explicitly allowed by the Protect RE policy"
          },
          "custom": {
            "$ref": "#/components/schemas/protect_re_customs",
            "description": "Additional ACL entries allowed by the Protect RE policy"
          },
          "enabled": {
            "default": false,
            "description": "When enabled, all traffic that is not essential to our operation will be dropped\ne.g. ntp / dns / traffic to mist will be allowed by default\n     if dhcpd is enabled, we'll make sure it works",
            "type": "boolean"
          },
          "hit_count": {
            "default": false,
            "description": "Whether to enable hit count for Protect_RE policy",
            "type": "boolean"
          },
          "trusted_hosts": {
            "$ref": "#/components/schemas/protect_re_trusted_hosts",
            "description": "Trusted host or subnet entries allowed by the Protect RE policy"
          }
        },
        "type": "object"
      },
      "protect_re_allowed_service": {
        "description": "Services allowed through protect-RE filters. enum: `icmp`, `ssh`",
        "enum": [
          "icmp",
          "ssh"
        ],
        "type": "string"
      },
      "protect_re_allowed_services": {
        "description": "Built-in services explicitly allowed by the Protect RE policy",
        "examples": [
          [
            "icmp",
            "ssh"
          ]
        ],
        "items": {
          "$ref": "#/components/schemas/protect_re_allowed_service"
        },
        "type": "array"
      },
      "protect_re_custom": {
        "additionalProperties": false,
        "description": "Custom Protect RE ACL entry",
        "properties": {
          "port_range": {
            "default": "0",
            "description": "Matched dst port, \"0\" means any",
            "examples": [
              "80,1035-1040"
            ],
            "type": "string"
          },
          "protocol": {
            "$ref": "#/components/schemas/protect_re_custom_protocol",
            "description": "Transport protocol matched by this custom Protect RE ACL"
          },
          "subnets": {
            "$ref": "#/components/schemas/protect_re_custom_subnet",
            "description": "Source subnets matched by this custom Protect RE ACL"
          }
        },
        "type": "object"
      },
      "protect_re_custom_protocol": {
        "default": "any",
        "description": "enum: `any`, `icmp`, `tcp`, `udp`",
        "enum": [
          "any",
          "icmp",
          "tcp",
          "udp"
        ],
        "type": "string"
      },
      "protect_re_custom_subnet": {
        "description": "Source subnets matched by a custom Protect RE ACL",
        "items": {
          "examples": [
            "10.1.2.0/24"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "protect_re_customs": {
        "description": "Custom Protect RE ACL entries",
        "items": {
          "$ref": "#/components/schemas/protect_re_custom"
        },
        "type": "array"
      },
      "protect_re_trusted_hosts": {
        "description": "Host or subnet entries allowed by the Protect RE policy",
        "items": {
          "examples": [
            "10.242.3.0/24"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "radius_acct_port": {
        "anyOf": [
          {
            "maximum": 65545,
            "minimum": 1,
            "type": "integer"
          },
          {
            "type": "string"
          }
        ],
        "description": "RADIUS Auth Port, value from 1 to 65535, default is 1813"
      },
      "radius_acct_server": {
        "additionalProperties": false,
        "description": "RADIUS accounting server settings",
        "properties": {
          "host": {
            "description": "Address or hostname of the RADIUS accounting server",
            "examples": [
              "1.2.3.4"
            ],
            "type": "string"
          },
          "keywrap_enabled": {
            "description": "Whether RADIUS keywrap is enabled for messages sent to this accounting server",
            "type": "boolean"
          },
          "keywrap_format": {
            "$ref": "#/components/schemas/radius_keywrap_format",
            "description": "Encoding format for RADIUS keywrap KEK and MACK values"
          },
          "keywrap_kek": {
            "description": "RADIUS keywrap key encryption key (KEK)",
            "examples": [
              "1122334455"
            ],
            "type": "string"
          },
          "keywrap_mack": {
            "description": "RADIUS keywrap message authentication code key (MACK)",
            "examples": [
              "1122334455"
            ],
            "type": "string"
          },
          "port": {
            "$ref": "#/components/schemas/radius_acct_port",
            "description": "UDP port used by the RADIUS accounting server"
          },
          "secret": {
            "description": "Shared secret used with this RADIUS accounting server",
            "examples": [
              "testing123"
            ],
            "format": "password",
            "type": "string"
          }
        },
        "required": [
          "host",
          "secret"
        ],
        "type": "object"
      },
      "radius_acct_servers": {
        "description": "List of RADIUS accounting servers",
        "items": {
          "$ref": "#/components/schemas/radius_acct_server"
        },
        "type": "array",
        "uniqueItems": true
      },
      "radius_auth_port": {
        "anyOf": [
          {
            "maximum": 65545,
            "minimum": 1,
            "type": "integer"
          },
          {
            "type": "string"
          }
        ],
        "description": "RADIUS Auth Port, value from 1 to 65535, default is 1812"
      },
      "radius_auth_server": {
        "additionalProperties": false,
        "description": "RADIUS authentication server settings",
        "properties": {
          "host": {
            "description": "Address or hostname of the RADIUS authentication server",
            "examples": [
              "1.2.3.4"
            ],
            "type": "string"
          },
          "keywrap_enabled": {
            "description": "Whether RADIUS keywrap is enabled for messages sent to this authentication server",
            "type": "boolean"
          },
          "keywrap_format": {
            "$ref": "#/components/schemas/radius_keywrap_format",
            "description": "Encoding format for RADIUS keywrap KEK and MACK values"
          },
          "keywrap_kek": {
            "description": "RADIUS keywrap key encryption key (KEK)",
            "examples": [
              "1122334455"
            ],
            "type": "string"
          },
          "keywrap_mack": {
            "description": "RADIUS keywrap message authentication code key (MACK)",
            "examples": [
              "1122334455"
            ],
            "type": "string"
          },
          "port": {
            "$ref": "#/components/schemas/radius_auth_port",
            "description": "UDP port used by the RADIUS authentication server"
          },
          "require_message_authenticator": {
            "default": false,
            "description": "Whether to require Message-Authenticator in requests",
            "type": "boolean"
          },
          "secret": {
            "description": "Shared secret used with this RADIUS authentication server",
            "examples": [
              "testing123"
            ],
            "format": "password",
            "type": "string"
          }
        },
        "required": [
          "host",
          "secret"
        ],
        "type": "object"
      },
      "radius_auth_servers": {
        "description": "List of RADIUS authentication servers",
        "items": {
          "$ref": "#/components/schemas/radius_auth_server"
        },
        "type": "array",
        "uniqueItems": true
      },
      "radius_coa_port": {
        "anyOf": [
          {
            "maximum": 65545,
            "minimum": 1,
            "type": "integer"
          },
          {
            "type": "string"
          }
        ],
        "description": "RADIUS CoA Port, value from 1 to 65535, default is 3799"
      },
      "radius_keywrap_format": {
        "description": "Encoding format for RADIUS keywrap KEK and MACK values. enum: `ascii`, `hex`",
        "enum": [
          "ascii",
          "hex"
        ],
        "type": "string"
      },
      "remote_syslog": {
        "additionalProperties": false,
        "description": "Remote syslog forwarding settings",
        "properties": {
          "archive": {
            "$ref": "#/components/schemas/remote_syslog_archive",
            "description": "Retention settings for generated syslog archive files"
          },
          "cacerts": {
            "$ref": "#/components/schemas/remote_syslog_cacerts",
            "description": "CA certificates used to verify TLS syslog servers"
          },
          "console": {
            "$ref": "#/components/schemas/remote_syslog_console",
            "description": "Log forwarding filters for console messages sent to remote syslog"
          },
          "enabled": {
            "default": false,
            "description": "Whether remote syslog forwarding is enabled",
            "type": "boolean"
          },
          "files": {
            "$ref": "#/components/schemas/remote_syslog_files",
            "description": "Local syslog file definitions to generate and forward"
          },
          "network": {
            "description": "Source network used for syslog traffic. If `source_address` is configured, Mist uses the VLAN first; otherwise it uses `source_ip`",
            "examples": [
              "default"
            ],
            "type": "string"
          },
          "send_to_all_servers": {
            "default": false,
            "description": "Whether each log entry is sent to all configured remote syslog servers",
            "type": "boolean"
          },
          "servers": {
            "$ref": "#/components/schemas/remote_syslog_servers",
            "description": "Remote syslog server destinations"
          },
          "time_format": {
            "$ref": "#/components/schemas/remote_syslog_time_format",
            "description": "Timestamp format used in forwarded syslog messages"
          },
          "users": {
            "$ref": "#/components/schemas/remote_syslog_users",
            "description": "User-specific syslog logging rules"
          }
        },
        "type": "object"
      },
      "remote_syslog_archive": {
        "additionalProperties": false,
        "description": "Syslog file archive retention settings",
        "properties": {
          "files": {
            "$ref": "#/components/schemas/remote_syslog_archive_files",
            "description": "Number of archived syslog files to retain"
          },
          "size": {
            "description": "Maximum size of each archived syslog file, such as 5m",
            "examples": [
              "5m"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "remote_syslog_archive_files": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "type": "integer"
          }
        ],
        "description": "Number of archived syslog files to retain",
        "examples": [
          20
        ]
      },
      "remote_syslog_cacerts": {
        "description": "CA certificates used to verify TLS syslog servers",
        "examples": [
          [
            "-----BEGIN CERTIFICATE-----\\nMIIFZjCCA06gAwIBAgIIP61/1qm/uDowDQYJKoZIhvcNAQELBQE\\n-----END CERTIFICATE-----",
            "-----BEGIN CERTIFICATE-----\\nBhMCRVMxFDASBgNVBAoMC1N0YXJ0Q29tIENBMSwwKgYDVn-----END CERTIFICATE-----"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "remote_syslog_console": {
        "additionalProperties": false,
        "description": "Console log forwarding filters for remote syslog",
        "properties": {
          "contents": {
            "$ref": "#/components/schemas/remote_syslog_contents",
            "description": "Syslog facilities and severities forwarded from console logs"
          }
        },
        "type": "object"
      },
      "remote_syslog_content": {
        "additionalProperties": false,
        "description": "Syslog message content selector for remote logging",
        "properties": {
          "facility": {
            "$ref": "#/components/schemas/remote_syslog_facility",
            "description": "Syslog facility to match for this selector"
          },
          "severity": {
            "$ref": "#/components/schemas/remote_syslog_severity",
            "description": "Syslog severity to match for this selector"
          }
        },
        "type": "object"
      },
      "remote_syslog_contents": {
        "description": "List of syslog content selectors",
        "items": {
          "$ref": "#/components/schemas/remote_syslog_content"
        },
        "type": "array"
      },
      "remote_syslog_facility": {
        "default": "any",
        "description": "enum: `any`, `authorization`, `change-log`, `config`, `conflict-log`, `daemon`, `dfc`, `external`, `firewall`, `ftp`, `interactive-commands`, `kernel`, `ntp`, `pfe`, `security`, `user`",
        "enum": [
          "any",
          "authorization",
          "change-log",
          "config",
          "conflict-log",
          "daemon",
          "dfc",
          "external",
          "firewall",
          "ftp",
          "interactive-commands",
          "kernel",
          "ntp",
          "pfe",
          "security",
          "user"
        ],
        "examples": [
          "config"
        ],
        "type": "string"
      },
      "remote_syslog_file_config": {
        "additionalProperties": false,
        "description": "Generated syslog file output settings",
        "properties": {
          "archive": {
            "$ref": "#/components/schemas/remote_syslog_archive",
            "description": "Retention settings for this generated syslog file"
          },
          "contents": {
            "$ref": "#/components/schemas/remote_syslog_contents",
            "description": "Syslog facilities and severities written to this file"
          },
          "enable_tls": {
            "description": "Only if `protocol`==`tcp`, enable TLS for this syslog file destination",
            "type": "boolean"
          },
          "explicit_priority": {
            "description": "Whether to include explicit syslog priority values in file output",
            "type": "boolean"
          },
          "file": {
            "description": "Generated syslog file name",
            "examples": [
              "file-name"
            ],
            "type": "string"
          },
          "match": {
            "description": "Expression used to filter log messages written to this file",
            "examples": [
              "!alarm|ntp|errors.crc_error[chan]"
            ],
            "type": "string"
          },
          "structured_data": {
            "description": "Whether to include structured syslog data in file output",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "remote_syslog_files": {
        "description": "Generated syslog file output definitions",
        "items": {
          "$ref": "#/components/schemas/remote_syslog_file_config"
        },
        "type": "array"
      },
      "remote_syslog_server": {
        "additionalProperties": false,
        "description": "Remote syslog server destination settings",
        "properties": {
          "contents": {
            "$ref": "#/components/schemas/remote_syslog_contents",
            "description": "Syslog facilities and severities sent to this server"
          },
          "explicit_priority": {
            "description": "Whether to include explicit syslog priority values in messages sent to this server",
            "type": "boolean"
          },
          "facility": {
            "$ref": "#/components/schemas/remote_syslog_facility",
            "description": "Default syslog facility for messages sent to this server"
          },
          "host": {
            "description": "Address or hostname of the remote syslog server",
            "examples": [
              "syslogd.internal"
            ],
            "type": "string"
          },
          "match": {
            "description": "Expression used to filter log messages sent to this server",
            "examples": [
              "!alarm|ntp|errors.crc_error[chan]"
            ],
            "type": "string"
          },
          "port": {
            "$ref": "#/components/schemas/remote_syslog_server_port",
            "description": "Network port used by the remote syslog server"
          },
          "protocol": {
            "$ref": "#/components/schemas/remote_syslog_server_protocol",
            "description": "Transport protocol used for this remote syslog server"
          },
          "routing_instance": {
            "description": "Routing instance used to reach this remote syslog server",
            "examples": [
              "routing-instance-name"
            ],
            "type": "string"
          },
          "server_name": {
            "description": "TLS server name used when verifying the remote syslog server certificate",
            "examples": [
              "syslogd.internal"
            ],
            "type": "string"
          },
          "severity": {
            "$ref": "#/components/schemas/remote_syslog_severity",
            "description": "Default syslog severity for messages sent to this server"
          },
          "source_address": {
            "description": "Source address for syslog traffic. If configured, Mist uses the VLAN first; otherwise it uses `source_ip`",
            "type": "string"
          },
          "structured_data": {
            "description": "Whether to include structured syslog data in messages sent to this server",
            "type": "boolean"
          },
          "tag": {
            "description": "Syslog tag value added to messages sent to this server",
            "type": "string"
          }
        },
        "type": "object"
      },
      "remote_syslog_server_port": {
        "anyOf": [
          {
            "default": 514,
            "maximum": 65545,
            "minimum": 1,
            "type": "integer"
          },
          {
            "type": "string"
          }
        ],
        "description": "Syslog Service Port, value from 1 to 65535"
      },
      "remote_syslog_server_protocol": {
        "default": "udp",
        "description": "Transport protocol used for this remote syslog server. enum: `tcp`, `udp`",
        "enum": [
          "tcp",
          "udp"
        ],
        "type": "string"
      },
      "remote_syslog_servers": {
        "description": "Remote syslog server destination list",
        "examples": [
          [
            {
              "facility": "config",
              "host": "syslogd.internal",
              "port": 514,
              "protocol": "udp",
              "severity": "info",
              "tag": ""
            }
          ]
        ],
        "items": {
          "$ref": "#/components/schemas/remote_syslog_server"
        },
        "type": "array"
      },
      "remote_syslog_severity": {
        "default": "any",
        "description": "enum: `alert`, `any`, `critical`, `emergency`, `error`, `info`, `notice`, `warning`",
        "enum": [
          "alert",
          "any",
          "critical",
          "emergency",
          "error",
          "info",
          "notice",
          "warning"
        ],
        "type": "string"
      },
      "remote_syslog_time_format": {
        "description": "enum: `millisecond`, `year`, `year millisecond`",
        "enum": [
          "millisecond",
          "year",
          "year millisecond"
        ],
        "examples": [
          "millisecond"
        ],
        "type": "string"
      },
      "remote_syslog_user": {
        "additionalProperties": false,
        "description": "User-specific syslog logging rule",
        "properties": {
          "contents": {
            "$ref": "#/components/schemas/remote_syslog_contents",
            "description": "Syslog facilities and severities logged for this user rule"
          },
          "match": {
            "description": "Expression used to filter user log messages",
            "examples": [
              "\"!alarm|ntp|errors.crc_error[chan]\""
            ],
            "type": "string"
          },
          "user": {
            "description": "Account name or wildcard matched by this syslog rule",
            "examples": [
              "*"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "remote_syslog_users": {
        "description": "User-specific syslog logging rules",
        "items": {
          "$ref": "#/components/schemas/remote_syslog_user"
        },
        "type": "array"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "routing_policy_local_preference": {
        "anyOf": [
          {
            "type": "string"
          },
          {
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer"
          }
        ],
        "description": "Optional, for an import policy, local_preference can be changed, value in range 1-4294967294. Can be a Variable (e.g. `{{bgp_as}}`)"
      },
      "routing_policy_term_action_community": {
        "description": "When used as export policy, optional",
        "items": {
          "examples": [
            "3900190"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "routing_policy_term_action_prepend_as_path": {
        "description": "When used as export policy, optional. By default, the local AS will be prepended, to change it. Can be a Variable (e.g. `{{as_path}}`)",
        "items": {
          "examples": [
            "65000 400"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "routing_policy_term_matching_as_path": {
        "description": "BGP AS path values used as routing-policy match criteria",
        "items": {
          "$ref": "#/components/schemas/bgp_as"
        },
        "type": "array"
      },
      "routing_policy_term_matching_community": {
        "description": "BGP community values used as routing-policy match criteria",
        "items": {
          "examples": [
            "3900062"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "routing_policy_term_matching_prefix": {
        "description": "zero or more criteria/filter can be specified to match the term, all criteria have to be met",
        "items": {
          "examples": [
            "192.168.0.0/16-30"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "snmp_config": {
        "additionalProperties": false,
        "description": "SNMP configuration for managed network devices",
        "properties": {
          "client_list": {
            "$ref": "#/components/schemas/snmp_config_client_lists",
            "description": "SNMP client allowlists that can be referenced by communities"
          },
          "contact": {
            "description": "Administrative contact string advertised through SNMP",
            "examples": [
              "cns@juniper.net"
            ],
            "type": "string"
          },
          "description": {
            "description": "Device description string advertised through SNMP",
            "examples": [
              "Juniper QFX Series Switch - 1K_5LA"
            ],
            "type": "string"
          },
          "enabled": {
            "default": true,
            "description": "Whether SNMP is enabled",
            "type": "boolean"
          },
          "engine_id": {
            "$ref": "#/components/schemas/snmp_config_engine_id",
            "description": "SNMP engine ID used for SNMPv3"
          },
          "engine_id_type": {
            "$ref": "#/components/schemas/snmp_config_engine_id_type",
            "description": "Method used to derive the SNMP engine ID"
          },
          "location": {
            "description": "Physical location string advertised through SNMP",
            "examples": [
              "Las Vegas, NV"
            ],
            "type": "string"
          },
          "name": {
            "description": "System name advertised through SNMP",
            "examples": [
              "TGH-1K-QFX10K"
            ],
            "type": "string"
          },
          "network": {
            "default": "default",
            "description": "Management network used for SNMP traffic",
            "type": "string"
          },
          "trap_groups": {
            "$ref": "#/components/schemas/snmp_config_trap_groups",
            "description": "SNMP trap group definitions"
          },
          "v2c_config": {
            "$ref": "#/components/schemas/snmp_config_v2c_configs",
            "description": "SNMPv2c community configuration entries for this SNMP profile"
          },
          "v3_config": {
            "$ref": "#/components/schemas/snmpv3_config",
            "description": "SNMPv3 user, VACM, notify, and target configuration"
          },
          "views": {
            "$ref": "#/components/schemas/snmp_config_views",
            "description": "SNMP MIB view definitions"
          }
        },
        "type": "object"
      },
      "snmp_config_client_list": {
        "additionalProperties": false,
        "description": "SNMP client allowlist definition",
        "properties": {
          "client_list_name": {
            "description": "Name of the SNMP client list",
            "examples": [
              "clist-1"
            ],
            "type": "string"
          },
          "clients": {
            "$ref": "#/components/schemas/snmp_config_client_list_clients",
            "description": "SNMP client IP addresses or CIDR ranges allowed by this list"
          }
        },
        "type": "object"
      },
      "snmp_config_client_list_clients": {
        "description": "SNMP client IP addresses or CIDR ranges allowed by a client list",
        "items": {
          "examples": [
            "151.140.101.218/32"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "snmp_config_client_lists": {
        "description": "SNMP client allowlists that can be referenced by communities",
        "items": {
          "$ref": "#/components/schemas/snmp_config_client_list"
        },
        "type": "array"
      },
      "snmp_config_engine_id": {
        "description": "SNMP engine ID value used for SNMPv3",
        "maxLength": 27,
        "type": "string"
      },
      "snmp_config_engine_id_type": {
        "default": "local",
        "description": "Method used to derive the SNMP engine ID. enum: `local`, `use_mac_address`",
        "enum": [
          "local",
          "use_mac_address"
        ],
        "type": "string"
      },
      "snmp_config_trap_group": {
        "additionalProperties": false,
        "description": "SNMP trap group definition",
        "properties": {
          "categories": {
            "$ref": "#/components/schemas/snmp_config_trap_group_categories",
            "description": "Trap categories included in this SNMP trap group"
          },
          "group_name": {
            "description": "Trap group name for this SNMP trap group",
            "examples": [
              "profiler"
            ],
            "type": "string"
          },
          "targets": {
            "$ref": "#/components/schemas/snmp_config_trap_group_targets",
            "description": "Trap target addresses for this SNMP trap group"
          },
          "version": {
            "$ref": "#/components/schemas/snmp_config_trap_version",
            "description": "SNMP trap protocol version used by this group"
          }
        },
        "type": "object"
      },
      "snmp_config_trap_group_categories": {
        "description": "Trap categories included in an SNMP trap group",
        "items": {
          "examples": [
            "authentication"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "snmp_config_trap_group_targets": {
        "description": "Trap target addresses for an SNMP trap group",
        "items": {
          "examples": [
            "172.29.158.19"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "snmp_config_trap_groups": {
        "description": "SNMP trap group definitions",
        "items": {
          "$ref": "#/components/schemas/snmp_config_trap_group"
        },
        "type": "array"
      },
      "snmp_config_trap_version": {
        "default": "v2",
        "description": "enum: `all`, `v1`, `v2`",
        "enum": [
          "all",
          "v1",
          "v2"
        ],
        "type": "string"
      },
      "snmp_config_v2c_config": {
        "additionalProperties": false,
        "description": "SNMPv2c community configuration entry",
        "properties": {
          "authorization": {
            "description": "Access level for the SNMPv2c community",
            "examples": [
              "read-only"
            ],
            "type": "string"
          },
          "client_list_name": {
            "description": "SNMP client list name referenced by this community",
            "examples": [
              "clist-1"
            ],
            "type": "string"
          },
          "community_name": {
            "description": "SNMPv2c community string name",
            "examples": [
              "abc123"
            ],
            "type": "string"
          },
          "view": {
            "description": "SNMP view name that must be defined in the views list",
            "examples": [
              "all"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "snmp_config_v2c_configs": {
        "description": "SNMPv2c community configuration entries for this SNMP profile",
        "items": {
          "$ref": "#/components/schemas/snmp_config_v2c_config"
        },
        "type": "array"
      },
      "snmp_config_view": {
        "additionalProperties": false,
        "description": "SNMP MIB view definition",
        "properties": {
          "include": {
            "description": "Whether the root OID is included in this SNMP view",
            "type": "boolean"
          },
          "oid": {
            "description": "Root OID for this SNMP view",
            "examples": [
              "1.3.6.1"
            ],
            "type": "string"
          },
          "view_name": {
            "description": "Name of the SNMP MIB view definition",
            "examples": [
              "all"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "snmp_config_views": {
        "description": "SNMP MIB view definitions",
        "items": {
          "$ref": "#/components/schemas/snmp_config_view"
        },
        "type": "array"
      },
      "snmp_usm": {
        "additionalProperties": false,
        "description": "SNMPv3 User-based Security Model configuration",
        "properties": {
          "engine_type": {
            "$ref": "#/components/schemas/snmp_usm_engine_type",
            "description": "SNMP engine type used for this USM configuration"
          },
          "remote_engine_id": {
            "description": "Required only if `engine_type`==`remote_engine`",
            "examples": [
              "00:00:00:0b:00:00:70:10:6f:08:b6:3f"
            ],
            "type": "string"
          },
          "users": {
            "$ref": "#/components/schemas/snmp_usm_users",
            "description": "SNMPv3 USM users for this engine"
          }
        },
        "type": "object"
      },
      "snmp_usm_engine_type": {
        "description": "SNMP engine type used for this USM configuration. enum: `local_engine`, `remote_engine`",
        "enum": [
          "local_engine",
          "remote_engine"
        ],
        "type": "string"
      },
      "snmp_usm_user": {
        "additionalProperties": false,
        "description": "SNMPv3 USM user definition",
        "properties": {
          "authentication_password": {
            "description": "Not required if `authentication_type`==`authentication-none`. Include alphabetic, numeric, and special characters, but it cannot include control characters.",
            "minLength": 7,
            "type": "string"
          },
          "authentication_type": {
            "$ref": "#/components/schemas/snmp_usm_user_authentication_type",
            "description": "Authentication protocol used by this SNMPv3 USM user"
          },
          "encryption_password": {
            "description": "Not required if `encryption_type`==`privacy-none`. Include alphabetic, numeric, and special characters, but it cannot include control characters",
            "minLength": 8,
            "type": "string"
          },
          "encryption_type": {
            "$ref": "#/components/schemas/snmp_usm_user_encryption_type",
            "description": "Privacy protocol used by this SNMPv3 USM user"
          },
          "name": {
            "description": "Username for the SNMPv3 USM user",
            "type": "string"
          }
        },
        "type": "object"
      },
      "snmp_usm_user_authentication_type": {
        "description": "sha224, sha256, sha384, sha512 are supported in 21.1 and newer release. enum: `authentication-md5`, `authentication-none`, `authentication-sha`, `authentication-sha224`, `authentication-sha256`, `authentication-sha384`, `authentication-sha512`",
        "enum": [
          "authentication-md5",
          "authentication-none",
          "authentication-sha",
          "authentication-sha224",
          "authentication-sha256",
          "authentication-sha384",
          "authentication-sha512"
        ],
        "type": "string"
      },
      "snmp_usm_user_encryption_type": {
        "description": "enum: `privacy-3des`, `privacy-aes128`, `privacy-des`, `privacy-none`",
        "enum": [
          "privacy-3des",
          "privacy-aes128",
          "privacy-des",
          "privacy-none"
        ],
        "type": "string"
      },
      "snmp_usm_users": {
        "description": "SNMPv3 USM user definitions",
        "items": {
          "$ref": "#/components/schemas/snmp_usm_user"
        },
        "type": "array"
      },
      "snmp_usms": {
        "description": "SNMPv3 USM engine configurations",
        "items": {
          "$ref": "#/components/schemas/snmp_usm"
        },
        "type": "array"
      },
      "snmp_vacm": {
        "additionalProperties": false,
        "description": "SNMPv3 View-based Access Control Model configuration",
        "properties": {
          "access": {
            "$ref": "#/components/schemas/snmp_vacm_access",
            "description": "VACM access rules for SNMPv3"
          },
          "security_to_group": {
            "$ref": "#/components/schemas/snmp_vacm_security_to_group",
            "description": "VACM security-name to group mappings"
          }
        },
        "type": "object"
      },
      "snmp_vacm_access": {
        "description": "VACM access rules for SNMPv3",
        "items": {
          "$ref": "#/components/schemas/snmp_vacm_access_item"
        },
        "type": "array"
      },
      "snmp_vacm_access_item": {
        "additionalProperties": false,
        "description": "VACM access rule for an SNMP group",
        "properties": {
          "group_name": {
            "description": "SNMP VACM group name",
            "type": "string"
          },
          "prefix_list": {
            "$ref": "#/components/schemas/snmp_vacm_access_item_prefix_list",
            "description": "Context prefix rules for this VACM group"
          }
        },
        "type": "object"
      },
      "snmp_vacm_access_item_prefix_list": {
        "description": "Context prefix rules for a VACM access entry",
        "items": {
          "$ref": "#/components/schemas/snmp_vacm_access_item_prefix_list_item"
        },
        "type": "array"
      },
      "snmp_vacm_access_item_prefix_list_item": {
        "additionalProperties": false,
        "description": "Context prefix rule for a VACM access entry",
        "properties": {
          "context_prefix": {
            "description": "Context prefix for this VACM access rule. Required only if `type`==`context_prefix`",
            "examples": [
              "iil"
            ],
            "type": "string"
          },
          "notify_view": {
            "description": "Notify view name referenced by this VACM access rule",
            "examples": [
              "all"
            ],
            "type": "string"
          },
          "read_view": {
            "description": "Read view name referenced by this VACM access rule",
            "examples": [
              "all"
            ],
            "type": "string"
          },
          "security_level": {
            "$ref": "#/components/schemas/snmp_vacm_access_item_prefix_list_item_level",
            "description": "Required security level for this VACM access rule"
          },
          "security_model": {
            "$ref": "#/components/schemas/snmp_vacm_access_item_prefix_list_item_model",
            "description": "Required security model for this VACM access rule"
          },
          "type": {
            "$ref": "#/components/schemas/snmp_vacm_access_item_type",
            "description": "VACM context matching type for this access rule"
          },
          "write_view": {
            "description": "Write view name referenced by this VACM access rule",
            "examples": [
              "all"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "snmp_vacm_access_item_prefix_list_item_level": {
        "description": "enum: `authentication`, `none`, `privacy`",
        "enum": [
          "authentication",
          "none",
          "privacy"
        ],
        "type": "string"
      },
      "snmp_vacm_access_item_prefix_list_item_model": {
        "description": "enum: `any`, `usm`, `v1`, `v2c`",
        "enum": [
          "any",
          "usm",
          "v1",
          "v2c"
        ],
        "type": "string"
      },
      "snmp_vacm_access_item_type": {
        "description": "VACM context matching type for this access rule. enum: `context_prefix`, `default_context_prefix`",
        "enum": [
          "context_prefix",
          "default_context_prefix"
        ],
        "type": "string"
      },
      "snmp_vacm_security_model": {
        "description": "enum: `usm`, `v1`, `v2c`",
        "enum": [
          "usm",
          "v1",
          "v2c"
        ],
        "type": "string"
      },
      "snmp_vacm_security_to_group": {
        "additionalProperties": false,
        "description": "VACM security-name to group mapping configuration",
        "properties": {
          "content": {
            "$ref": "#/components/schemas/snmp_vacm_security_to_group_content",
            "description": "VACM security-name to group mapping entries"
          },
          "security_model": {
            "$ref": "#/components/schemas/snmp_vacm_security_model",
            "description": "Required security model for these VACM group mappings"
          }
        },
        "type": "object"
      },
      "snmp_vacm_security_to_group_content": {
        "description": "VACM security-name to group mapping entries",
        "items": {
          "$ref": "#/components/schemas/snmp_vacm_security_to_group_content_item"
        },
        "type": "array"
      },
      "snmp_vacm_security_to_group_content_item": {
        "additionalProperties": false,
        "description": "VACM security-name to group mapping entry",
        "properties": {
          "group": {
            "description": "VACM group name referenced by this mapping",
            "type": "string"
          },
          "security_name": {
            "description": "Name of the SNMP security principal mapped to a VACM group",
            "type": "string"
          }
        },
        "type": "object"
      },
      "snmpv3_config": {
        "additionalProperties": false,
        "description": "SNMPv3 notification, target, USM, and VACM configuration",
        "properties": {
          "notify": {
            "$ref": "#/components/schemas/snmpv3_config_notify",
            "description": "SNMPv3 notification definitions used for traps and informs"
          },
          "notify_filter": {
            "$ref": "#/components/schemas/snmpv3_config_notify_filter",
            "description": "SNMPv3 notification filter profiles"
          },
          "target_address": {
            "$ref": "#/components/schemas/snmpv3_config_target_address",
            "description": "SNMPv3 notification target addresses"
          },
          "target_parameters": {
            "$ref": "#/components/schemas/snmpv3_config_target_params",
            "description": "SNMPv3 target parameter profiles"
          },
          "usm": {
            "$ref": "#/components/schemas/snmp_usms",
            "description": "SNMPv3 USM engine configurations"
          },
          "vacm": {
            "$ref": "#/components/schemas/snmp_vacm",
            "description": "SNMPv3 VACM access control configuration"
          }
        },
        "type": "object"
      },
      "snmpv3_config_notify": {
        "description": "SNMPv3 notification definitions used for traps and informs",
        "items": {
          "$ref": "#/components/schemas/snmpv3_config_notify_items"
        },
        "type": "array"
      },
      "snmpv3_config_notify_filter": {
        "description": "SNMPv3 notification filter profiles",
        "items": {
          "$ref": "#/components/schemas/snmpv3_config_notify_filter_item"
        },
        "type": "array"
      },
      "snmpv3_config_notify_filter_item": {
        "additionalProperties": false,
        "description": "SNMPv3 notification filter profile",
        "properties": {
          "categories": {
            "$ref": "#/components/schemas/snmpv3_config_notify_filter_item_categories",
            "description": "CX only. List of SNMP trap group categories included in this filter profile. See https://www.juniper.net/documentation/software/topics/task/configuration/snmp-trap-groups-configuring-junos-nm.html for valid category names."
          },
          "contents": {
            "$ref": "#/components/schemas/snmpv3_config_notify_filter_item_contents",
            "description": "OID filter rules in this notification filter profile"
          },
          "profile_name": {
            "description": "Notification filter profile name",
            "type": "string"
          }
        },
        "type": "object"
      },
      "snmpv3_config_notify_filter_item_categories": {
        "description": "List of SNMP trap group category names for a CX notification filter profile",
        "examples": [
          [
            "link",
            "authentication"
          ]
        ],
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "snmpv3_config_notify_filter_item_content": {
        "additionalProperties": false,
        "description": "OID filter rule for an SNMPv3 notification profile",
        "properties": {
          "include": {
            "description": "Whether the matching OID subtree is included",
            "type": "boolean"
          },
          "oid": {
            "description": "Matched OID subtree for this notification filter rule",
            "examples": [
              "1.3.6.1.4.1"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "snmpv3_config_notify_filter_item_contents": {
        "description": "OID filter rules in an SNMPv3 notification filter profile",
        "items": {
          "$ref": "#/components/schemas/snmpv3_config_notify_filter_item_content"
        },
        "type": "array"
      },
      "snmpv3_config_notify_items": {
        "additionalProperties": false,
        "description": "SNMPv3 notification definition for traps or informs",
        "properties": {
          "name": {
            "description": "Identifier for this SNMPv3 notification definition",
            "type": "string"
          },
          "tag": {
            "description": "Notification tag used to select target addresses",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/snmpv3_config_notify_type",
            "description": "Delivery mode for this SNMPv3 notification, such as trap or inform"
          }
        },
        "type": "object"
      },
      "snmpv3_config_notify_type": {
        "description": "Delivery mode for this SNMPv3 notification, such as trap or inform. enum: `inform`, `trap`",
        "enum": [
          "inform",
          "trap"
        ],
        "type": "string"
      },
      "snmpv3_config_target_address": {
        "description": "SNMPv3 notification target addresses",
        "items": {
          "$ref": "#/components/schemas/snmpv3_config_target_address_item"
        },
        "type": "array"
      },
      "snmpv3_config_target_address_item": {
        "additionalProperties": false,
        "description": "SNMPv3 notification target address entry",
        "properties": {
          "address": {
            "description": "IP address or hostname of the SNMP target",
            "examples": [
              "10.11.0.2"
            ],
            "type": "string"
          },
          "address_mask": {
            "description": "Mask applied to the SNMP target address",
            "examples": [
              "255.255.255.0"
            ],
            "type": "string"
          },
          "port": {
            "default": "161",
            "description": "UDP port used by the SNMP target",
            "type": [
              "string",
              "null"
            ]
          },
          "tag_list": {
            "description": "Set of notification tags for this target address; use spaces between multiple tags",
            "type": "string"
          },
          "target_address_name": {
            "description": "Name of the SNMP target address entry",
            "examples": [
              "target_address_name"
            ],
            "type": "string"
          },
          "target_parameters": {
            "description": "Target parameter profile referenced by this target address",
            "type": "string"
          }
        },
        "type": "object"
      },
      "snmpv3_config_target_param": {
        "additionalProperties": false,
        "description": "SNMPv3 target parameter profile",
        "properties": {
          "message_processing_model": {
            "$ref": "#/components/schemas/snmpv3_config_target_param_mess_process_model",
            "description": "SNMP message processing model used by this target parameter profile"
          },
          "name": {
            "description": "Target parameter profile name",
            "type": "string"
          },
          "notify_filter": {
            "description": "Notification filter profile referenced by this target parameter profile",
            "type": "string"
          },
          "security_level": {
            "$ref": "#/components/schemas/snmpv3_config_target_param_security_level",
            "description": "Required security level for this target parameter profile"
          },
          "security_model": {
            "$ref": "#/components/schemas/snmpv3_config_target_param_security_model",
            "description": "Required security model for this target parameter profile"
          },
          "security_name": {
            "description": "USM security name referenced by this target parameter profile",
            "examples": [
              "m01620"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "snmpv3_config_target_param_mess_process_model": {
        "description": "enum: `v1`, `v2c`, `v3`",
        "enum": [
          "v1",
          "v2c",
          "v3"
        ],
        "type": "string"
      },
      "snmpv3_config_target_param_security_level": {
        "description": "enum: `authentication`, `none`, `privacy`",
        "enum": [
          "authentication",
          "none",
          "privacy"
        ],
        "type": "string"
      },
      "snmpv3_config_target_param_security_model": {
        "description": "enum: `usm`, `v1`, `v2c`",
        "enum": [
          "usm",
          "v1",
          "v2c"
        ],
        "type": "string"
      },
      "snmpv3_config_target_params": {
        "description": "SNMPv3 target parameter profiles",
        "items": {
          "$ref": "#/components/schemas/snmpv3_config_target_param"
        },
        "type": "array"
      },
      "strings": {
        "description": "Unique string values returned or accepted by this schema",
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sw_routing_policies": {
        "additionalProperties": {
          "$ref": "#/components/schemas/sw_routing_policy"
        },
        "description": "Switch routing policies keyed by routing policy name",
        "type": "object"
      },
      "sw_routing_policy": {
        "additionalProperties": false,
        "description": "Switch routing policy made of ordered match-action terms",
        "properties": {
          "terms": {
            "$ref": "#/components/schemas/sw_routing_policy_terms",
            "description": "Ordered terms evaluated by this switch routing policy"
          }
        },
        "type": "object"
      },
      "sw_routing_policy_term": {
        "additionalProperties": false,
        "description": "Switch routing policy term with match criteria and actions",
        "properties": {
          "actions": {
            "$ref": "#/components/schemas/sw_routing_policy_term_action",
            "description": "Policy actions applied when this routing policy term matches"
          },
          "matching": {
            "$ref": "#/components/schemas/sw_routing_policy_term_matching",
            "description": "Route match criteria that must be satisfied before actions are applied"
          },
          "name": {
            "description": "Display name of the switch routing policy term",
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "type": "object"
      },
      "sw_routing_policy_term_action": {
        "additionalProperties": false,
        "description": "Actions applied to routes matched by a switch routing policy term",
        "properties": {
          "accept": {
            "description": "Whether to accept routes that match this term",
            "type": "boolean"
          },
          "community": {
            "$ref": "#/components/schemas/routing_policy_term_action_community",
            "description": "BGP communities to set when this term is used as an export policy"
          },
          "local_preference": {
            "$ref": "#/components/schemas/routing_policy_local_preference",
            "description": "Preference value to set when this term is used as an import policy"
          },
          "prepend_as_path": {
            "$ref": "#/components/schemas/routing_policy_term_action_prepend_as_path",
            "description": "AS path values to prepend when this term is used as an export policy"
          }
        },
        "type": "object"
      },
      "sw_routing_policy_term_matching": {
        "additionalProperties": false,
        "description": "Route match criteria for a switch routing policy term; all specified criteria must match",
        "properties": {
          "as_path": {
            "$ref": "#/components/schemas/routing_policy_term_matching_as_path",
            "description": "AS path values that routes must match"
          },
          "community": {
            "$ref": "#/components/schemas/routing_policy_term_matching_community",
            "description": "BGP communities that routes must match"
          },
          "prefix": {
            "$ref": "#/components/schemas/routing_policy_term_matching_prefix",
            "description": "Route prefixes that routes must match"
          },
          "protocol": {
            "$ref": "#/components/schemas/sw_routing_policy_term_matching_protocol",
            "description": "Routing protocols that routes must match"
          }
        },
        "type": "object"
      },
      "sw_routing_policy_term_matching_protocol": {
        "description": "Routing protocols that can match a switch routing policy term",
        "items": {
          "$ref": "#/components/schemas/sw_routing_policy_term_matching_protocol_enum"
        },
        "type": "array"
      },
      "sw_routing_policy_term_matching_protocol_enum": {
        "description": "enum: `bgp`, `direct`, `evpn`, `ospf`, `static`",
        "enum": [
          "bgp",
          "direct",
          "evpn",
          "ospf",
          "static"
        ],
        "type": "string"
      },
      "sw_routing_policy_terms": {
        "description": "Ordered switch routing policy terms; at least one term is required",
        "items": {
          "$ref": "#/components/schemas/sw_routing_policy_term"
        },
        "minItems": 1,
        "type": "array",
        "uniqueItems": true
      },
      "switch_bgp_config": {
        "additionalProperties": false,
        "description": "Switch BGP configuration for a routing instance",
        "properties": {
          "auth_key": {
            "description": "Authentication key used for BGP neighbor sessions, when configured",
            "type": "string"
          },
          "bfd_minimum_interval": {
            "description": "Minimum interval in milliseconds for BFD hello packets. A neighbor is considered failed when the device stops receiving replies after the specified interval. Value must be between 1 and 255000.",
            "maximum": 255000,
            "minimum": 1,
            "type": "integer"
          },
          "export_policy": {
            "description": "Export policy must match one of the policy names defined in the `routing_policies` property.",
            "type": "string"
          },
          "hold_time": {
            "$ref": "#/components/schemas/switch_bgp_config_hold_time",
            "description": "Default BGP hold time for switch BGP sessions"
          },
          "import_policy": {
            "description": "Import policy must match one of the policy names defined in the `routing_policies` property.",
            "type": "string"
          },
          "local_as": {
            "$ref": "#/components/schemas/bgp_as",
            "description": "Local BGP Autonomous System (AS) number for the switch"
[...]
