{
  "openapi": "3.1.0",
  "info": {
    "title": "Sites SLEs",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "Site SLEs, or Service-Level Expectations, are metrics used to monitor and report on the user experience of a Wireless, Wired or Wan network.\n\nThey are generated through data science and machine learning algorithms and provide insights into various aspects of the network, such as coverage, capacity, connectivity, and performance.\n\nMist SLEs help identify when users do not have sufficient network quality, when they face issues with connecting or roaming between access points, and when there are problems on the wired network.",
      "name": "Sites SLEs"
    }
  ],
  "paths": {
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/classifier/{classifier}/summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/sle_summary_scope"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "classifier",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "deprecated": true,
        "description": "Get SLE classifier details\n\n\nThis API Endpoint is deprecated and replaced by [Get Site SLE Classifier Summary Trend](/#operations/getSiteSleClassifierSummaryTrend)",
        "operationId": "getSiteSleClassifierDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleClassifierSummary"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleClassifierDetails",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/classifier/{classifier}/summary-trend": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/sle_summary_scope"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "classifier",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get SLE classifier Summary Trend",
        "operationId": "getSiteSleClassifierSummaryTrend",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleClassifierSummaryTrend"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleClassifierSummaryTrend",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/classifiers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_metric_classifiers_scope_parameters"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "List classifiers for a specific metric",
        "operationId": "listSiteSleMetricClassifiers",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "example": {
                    "value": [
                      "asymmetry-uplink",
                      "weak-signal",
                      "asymmetry-downlink"
                    ]
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/strings"
                }
              }
            },
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleMetricClassifiers",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/histogram": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_histogram_scope_parameters"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the histogram for the SLE metric",
        "operationId": "getSiteSleHistogram",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleHistogram"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleHistogram",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impact-summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impact_summary_scope_parameters"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get impact summary counts optionally filtered by classifier and failure type\n \n* Wireless SLE Fields: `wlan`, `device_type`, `device_os` ,`band`, `ap`, `server`, `mxedge`\n* Wired SLE Fields: `switch`, `client`, `vlan`, `interface`, `chassis`\n* WAN SLE Fields: `gateway`, `client`, `interface`, `chassis`, `peer_path`, `gateway_zones`",
        "operationId": "getSiteSleImpactSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "description": "Additional response fields to include, as a comma-separated list or `*` for all fields. enum: `ap`, `band`, `chassis`, `client`, `device_os`, `device_type`, `gateway`, `gateway_zones`, `interface`, `mxedge`, `peer_path`, `server`, `switch`, `vlan`, `wlan`",
            "in": "query",
            "name": "fields",
            "schema": {
              "$ref": "#/components/schemas/site_sle_impact_summary_fields_parameter"
            }
          },
          {
            "description": "Filter SLE impact results by classifier",
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactSummary"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleImpactSummary",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-applications": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_scope"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For WAN SLEs. List the impacted interfaces optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedApplications",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "description": "Filter SLE impact results by classifier",
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedApplications"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedApplications",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-aps": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_aps_scope_parameters"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For Wireless SLEs. List the impacted APs optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedAps",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "description": "Filter SLE impact results by classifier",
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedAps"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedAps",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-chassis": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_chassis_scope_parameters"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For Wired and WAN SLEs. List the impacted interfaces optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedChassis",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "description": "Filter SLE impact results by classifier",
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedChassis"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedChassis",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-clients": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_clients_scope_parameters"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For Wired SLEs. List the impacted interfaces optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedWiredClients",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "description": "Filter SLE impact results by classifier",
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedClients"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedWiredClients",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-gateways": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_gateways_scope_parameters"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For WAN SLEs. List the impacted interfaces optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedGateways",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "description": "Filter SLE impact results by classifier",
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedGateways"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedGateways",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-interfaces": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_interfaces_scope_parameters"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For Wired and WAN SLEs. List the impacted interfaces optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedInterfaces",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "description": "Filter SLE impact results by classifier",
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedInterfaces"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedInterfaces",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-switches": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_switches_scope_parameters"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For Wired SLEs. List the impacted switches optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedSwitches",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "description": "Filter SLE impact results by classifier",
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedSwitches"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedSwitches",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/impacted-users": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_impacted_users_scope_parameter"
          }
        },
        {
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "format": "uuid",
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "For Wireless SLEs. List the impacted wireless users optionally filtered by classifier and failure type",
        "operationId": "listSiteSleImpactedWirelessClients",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "description": "Filter SLE impact results by classifier",
            "in": "query",
            "name": "classifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleImpactedUsers"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSleImpactedWirelessClients",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/summary": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_metric_summary_scope_parameters"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "deprecated": true,
        "description": "Get the summary for the SLE metric\n\n\nThis API Endpoint is deprecated and replaced by [Get Site SLE Summary Trend](/#operations/getSiteSleSummaryTrend)",
        "operationId": "getSiteSleSummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleSummary"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleSummary",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/summary-trend": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_metric_summary_scope_parameters"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the summary for the SLE metric trend",
        "operationId": "getSiteSleSummaryTrend",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleSummaryTrend"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleSummaryTrend",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metric/{metric}/threshold": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_threshold_scope_parameter"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "examples": [
              "000000ab-00ab-00ab-00ab-0000000000ab"
            ],
            "type": "string"
          }
        },
        {
          "description": "Values from `listSiteSlesMetrics`",
          "in": "path",
          "name": "metric",
          "required": true,
          "schema": {
            "examples": [
              "asymmetry-uplink"
            ],
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the SLE threshold",
        "operationId": "getSiteSleThreshold",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleThreshold"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSleThreshold",
        "tags": [
          "Sites SLEs"
        ]
      },
      "put": {
        "description": "Update the SLE threshold",
        "operationId": "updateSiteSleThreshold",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "maximum": -60,
                    "minimum": -90
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/sle_threshold"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleThreshold"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteSleThreshold",
        "tags": [
          "Sites SLEs"
        ]
      },
      "post": {
        "description": "Replace the SLE threshold",
        "operationId": "replaceSiteSleThreshold",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "maximum": -60,
                    "minimum": -90
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/sle_threshold"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SleThreshold"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "replaceSiteSleThreshold",
        "tags": [
          "Sites SLEs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/sle/{scope}/{scope_id}/metrics": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "in": "path",
          "name": "scope",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/site_sle_metrics_scope_parameters"
          }
        },
        {
          "description": "* site_id if `scope`==`site`\n* device_id if `scope`==`ap`, `scope`==`switch` or `scope`==`gateway`\n* mac if `scope`==`client`",
          "in": "path",
          "name": "scope_id",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "List the metrics for the given scope",
        "operationId": "listSiteSlesMetrics",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteSleMetrics"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteSlesMetrics",
        "tags": [
          "Sites SLEs"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "number_or_null": {
        "description": "Numeric value or null",
        "oneOf": [
          {
            "type": "number"
          },
          {
            "type": "null"
          }
        ]
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "site_sle_histogram_scope_parameters": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_impact_summary_fields_parameter": {
        "description": "enum: `ap`, `band`, `chassis`, `client`, `device_os`, `device_type`, `gateway`, `gateway_zones`, `interface`, `mxedge`, `peer_path`, `server`, `switch`, `vlan`, `wlan`",
        "enum": [
          "ap",
          "band",
          "chassis",
          "client",
          "device_os",
          "device_type",
          "gateway",
          "gateway_zones",
          "interface",
          "mxedge",
          "peer_path",
          "server",
          "switch",
          "vlan",
          "wlan"
        ],
        "type": "string"
      },
      "site_sle_impact_summary_scope_parameters": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_impacted_aps_scope_parameters": {
        "description": "Scope parameter value for impacted AP SLE queries. enum: `site`",
        "enum": [
          "site"
        ],
        "type": "string"
      },
      "site_sle_impacted_chassis_scope_parameters": {
        "description": "enum: `gateway`, `site`, `switch`",
        "enum": [
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_impacted_clients_scope_parameters": {
        "description": "enum: `gateway`, `site`, `switch`",
        "enum": [
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_impacted_gateways_scope_parameters": {
        "description": "Scope parameter value for impacted gateway SLE queries. enum: `site`",
        "enum": [
          "site"
        ],
        "type": "string"
      },
      "site_sle_impacted_interfaces_scope_parameters": {
        "description": "enum: `gateway`, `site`, `switch`",
        "enum": [
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_impacted_switches_scope_parameters": {
        "description": "Scope parameter value for impacted switch SLE queries. enum: `site`",
        "enum": [
          "site"
        ],
        "type": "string"
      },
      "site_sle_impacted_users_scope_parameter": {
        "description": "Scope parameter value for impacted user SLE queries. enum: `ap`, `site`",
        "enum": [
          "ap",
          "site"
        ],
        "type": "string"
      },
      "site_sle_metric_classifiers_scope_parameters": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_metric_summary_scope_parameters": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_metrics": {
        "additionalProperties": false,
        "description": "SLE metrics available for a site",
        "properties": {
          "enabled": {
            "$ref": "#/components/schemas/strings",
            "description": "SLE metric names enabled for the site"
          },
          "supported": {
            "$ref": "#/components/schemas/strings",
            "description": "SLE metric names supported for the site"
          }
        },
        "required": [
          "supported",
          "enabled"
        ],
        "type": "object"
      },
      "site_sle_metrics_scope_parameters": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_scope": {
        "description": "enum: `gateway`, `site`, `switch`",
        "enum": [
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "site_sle_threshold_scope_parameter": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "sle_classifier": {
        "additionalProperties": false,
        "description": "Time-series classifier detail for an SLE metric",
        "properties": {
          "impact": {
            "$ref": "#/components/schemas/sle_classifier_impact",
            "description": "Counts of affected APs and users for this classifier"
          },
          "interval": {
            "description": "Sample interval in seconds for classifier time-series data",
            "type": "number"
          },
          "name": {
            "description": "Classifier name for the SLE metric",
            "minLength": 1,
            "type": "string"
          },
          "samples": {
            "$ref": "#/components/schemas/sle_classifier_samples",
            "description": "Time-series sample arrays for the classifier"
          },
          "x_label": {
            "description": "Label for the classifier sample x-axis",
            "minLength": 1,
            "type": "string"
          },
          "y_label": {
            "description": "Label for the classifier sample y-axis",
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "name",
          "x_label",
          "y_label",
          "interval",
          "impact"
        ],
        "type": "object"
      },
      "sle_classifier_impact": {
        "additionalProperties": false,
        "description": "AP and user impact counts for an SLE classifier",
        "properties": {
          "num_aps": {
            "description": "Number of APs affected by degraded SLE experience",
            "type": "number"
          },
          "num_users": {
            "description": "Number of users affected by degraded SLE experience",
            "type": "number"
          },
          "total_aps": {
            "description": "Total number of APs considered for the classifier",
            "type": "number"
          },
          "total_users": {
            "description": "Total number of users considered for the classifier",
            "type": "number"
          }
        },
        "required": [
          "num_users",
          "num_aps",
          "total_users",
          "total_aps"
        ],
        "type": "object"
      },
      "sle_classifier_samples": {
        "additionalProperties": false,
        "description": "Per-interval sample arrays for an SLE classifier",
        "properties": {
          "degraded": {
            "$ref": "#/components/schemas/sle_classifier_samples_degraded",
            "description": "Per-interval degraded SLE values for the classifier"
          },
          "duration": {
            "$ref": "#/components/schemas/sle_classifier_samples_duration",
            "description": "Per-interval observation durations for the classifier"
          },
          "total": {
            "$ref": "#/components/schemas/sle_classifier_samples_total",
            "description": "Per-interval total SLE values for the classifier"
          }
        },
        "required": [
          "duration",
          "total",
          "degraded"
        ],
        "type": "object"
      },
      "sle_classifier_samples_degraded": {
        "description": "Per-interval degraded SLE values for a classifier",
        "items": {
          "$ref": "#/components/schemas/number_or_null"
        },
        "type": "array"
      },
      "sle_classifier_samples_duration": {
        "description": "Per-interval observation durations for a classifier",
        "items": {
          "type": "number"
        },
        "type": "array"
      },
      "sle_classifier_samples_total": {
        "description": "Per-interval total SLE values for a classifier",
        "items": {
          "$ref": "#/components/schemas/number_or_null"
        },
        "type": "array"
      },
      "sle_classifier_summary": {
        "additionalProperties": false,
        "deprecated": true,
        "description": "Deprecated SLE classifier summary response",
        "properties": {
          "classifier": {
            "$ref": "#/components/schemas/sle_classifier",
            "description": "Requested SLE classifier detail for the metric"
          },
          "end": {
            "description": "Last timestamp in the classifier summary window",
            "type": "number"
          },
          "failures": {
            "$ref": "#/components/schemas/sle_classifier_summary_failures",
            "description": "Failure records included in the classifier summary"
          },
          "impact": {
            "$ref": "#/components/schemas/sle_classifier_summary_impact",
            "description": "AP and user impact counts for the classifier summary window"
          },
          "metric": {
            "description": "SLE metric name summarized by this response",
            "minLength": 1,
            "type": "string"
          },
          "start": {
            "description": "First timestamp in the classifier summary window",
            "type": "number"
          }
        },
        "required": [
          "start",
          "end",
          "metric",
          "classifier",
          "impact",
          "failures"
        ],
        "type": "object"
      },
      "sle_classifier_summary_failures": {
        "description": "Failure records included in a deprecated classifier summary",
        "items": {
          "additionalProperties": true,
          "type": "object"
        },
        "type": "array"
      },
      "sle_classifier_summary_impact": {
        "additionalProperties": false,
        "description": "AP and user impact counts for a classifier summary window",
        "properties": {
          "num_aps": {
            "description": "Number of APs affected by degraded SLE experience",
            "type": "number"
          },
          "num_users": {
            "description": "Number of users affected by degraded SLE experience",
            "type": "number"
          },
          "total_aps": {
            "description": "Total number of APs considered in the summary window",
            "type": "number"
          },
          "total_users": {
            "description": "Total number of users considered in the summary window",
            "type": "number"
          }
        },
        "required": [
          "num_users",
          "num_aps",
          "total_users",
          "total_aps"
        ],
        "type": "object"
      },
      "sle_classifier_summary_trend": {
        "additionalProperties": false,
        "description": "Time-series trend response for an SLE classifier",
        "properties": {
          "classifier": {
            "$ref": "#/components/schemas/sle_trend_classifier",
            "description": "Requested SLE classifier trend detail for the metric"
          },
          "end": {
            "description": "Last timestamp in the classifier trend window",
            "type": "number"
          },
          "metric": {
            "description": "SLE metric name represented by the trend",
            "minLength": 1,
            "type": "string"
          },
          "start": {
            "description": "First timestamp in the classifier trend window",
            "type": "number"
          }
        },
        "required": [
          "start",
          "end",
          "metric",
          "classifier"
        ],
        "type": "object"
      },
      "sle_histogram": {
        "additionalProperties": false,
        "description": "Histogram response for an SLE metric",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/sle_histogram_data",
            "description": "Histogram buckets for the SLE metric"
          },
          "end": {
            "description": "Last timestamp in the histogram window",
            "type": "number"
          },
          "metric": {
            "description": "SLE metric name represented by the histogram",
            "minLength": 1,
            "type": "string"
          },
          "start": {
            "description": "First timestamp in the histogram window",
            "type": "number"
          },
          "x_label": {
            "description": "Label for the histogram x-axis",
            "minLength": 1,
            "type": "string"
          },
          "y_label": {
            "description": "Label for the histogram y-axis",
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "metric",
          "start",
          "end",
          "data",
          "x_label",
          "y_label"
        ],
        "type": "object"
      },
      "sle_histogram_data": {
        "description": "Histogram buckets for an SLE metric",
        "items": {
          "$ref": "#/components/schemas/sle_histogram_data_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_histogram_data_item": {
        "additionalProperties": false,
        "description": "Single bucket in an SLE histogram",
        "properties": {
          "range": {
            "$ref": "#/components/schemas/sle_histogram_data_item_range",
            "description": "Boundary values for this histogram bucket"
          },
          "value": {
            "description": "Measured amount for this histogram bucket",
            "type": "number"
          }
        },
        "required": [
          "value"
        ],
        "type": "object"
      },
      "sle_histogram_data_item_range": {
        "description": "Lower and upper boundary values for an SLE histogram bucket",
        "items": {
          "type": [
            "number",
            "null"
          ]
        },
        "type": "array"
      },
      "sle_impact_summary": {
        "additionalProperties": false,
        "description": "SLE impact summary grouped by client, device, AP, WLAN, and band dimensions",
        "properties": {
          "ap": {
            "$ref": "#/components/schemas/sle_impact_summary_ap",
            "description": "Impact rows grouped by AP"
          },
          "band": {
            "$ref": "#/components/schemas/sle_impact_summary_band",
            "description": "Impact rows grouped by radio band"
          },
          "classifier": {
            "description": "Requested SLE classifier filter applied to the impact summary",
            "type": "string"
          },
          "device_os": {
            "$ref": "#/components/schemas/sle_impact_summary_device_os",
            "description": "Impact rows grouped by client device OS"
          },
          "device_type": {
            "$ref": "#/components/schemas/sle_impact_summary_device_type",
            "description": "Impact rows grouped by client device type"
          },
          "end": {
            "description": "Last timestamp in the impact summary window",
            "type": "number"
          },
          "failure": {
            "description": "Requested SLE failure filter applied to the impact summary",
            "type": "string"
          },
          "metric": {
            "description": "SLE metric name summarized by this response",
            "minLength": 1,
            "type": "string"
          },
          "start": {
            "description": "First timestamp in the impact summary window",
            "type": "number"
          },
          "wlan": {
            "$ref": "#/components/schemas/sle_impact_summary_wlan",
            "description": "Impact rows grouped by WLAN"
          }
        },
        "required": [
          "start",
          "end",
          "metric",
          "classifier",
          "failure",
          "ap",
          "wlan",
          "device_os",
          "device_type",
          "band"
        ],
        "type": "object"
      },
      "sle_impact_summary_ap": {
        "description": "Impact summary rows grouped by AP",
        "items": {
          "$ref": "#/components/schemas/sle_impact_summary_ap_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impact_summary_ap_item": {
        "additionalProperties": false,
        "description": "SLE impact summary row for an AP",
        "properties": {
          "ap_mac": {
            "description": "MAC address of the AP represented by this impact row",
            "minLength": 1,
            "type": "string"
          },
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this AP",
            "type": "number"
          },
          "duration": {
            "description": "Observation time represented by this AP impact row",
            "type": "number"
          },
          "name": {
            "description": "Display name for the AP impact row",
            "minLength": 1,
            "type": "string"
          },
          "total": {
            "description": "Overall SLE total measured for this AP impact row",
            "type": "number"
          }
        },
        "required": [
          "ap_mac",
          "name",
          "duration",
          "degraded",
          "total"
        ],
        "type": "object"
      },
      "sle_impact_summary_band": {
        "description": "Impact summary rows grouped by radio band",
        "items": {
          "$ref": "#/components/schemas/sle_impact_summary_band_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impact_summary_band_item": {
        "additionalProperties": false,
        "description": "SLE impact summary row for a radio band",
        "properties": {
          "band": {
            "description": "Radio band represented by this impact row",
            "minLength": 1,
            "type": "string"
          },
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this radio band",
            "type": "number"
          },
          "duration": {
            "description": "Observation time represented by this radio-band impact row",
            "type": "number"
          },
          "name": {
            "description": "Display name for the radio-band impact row",
            "minLength": 1,
            "type": "string"
          },
          "total": {
            "description": "Overall SLE total measured for this radio-band impact row",
            "type": "number"
          }
        },
        "required": [
          "band",
          "name",
          "duration",
          "degraded",
          "total"
        ],
        "type": "object"
      },
      "sle_impact_summary_device_os": {
        "description": "Impact summary rows grouped by client device OS",
        "items": {
          "$ref": "#/components/schemas/sle_impact_summary_device_os_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impact_summary_device_os_item": {
        "additionalProperties": false,
        "description": "SLE impact summary row for a client device OS",
        "properties": {
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this device OS",
            "type": "number"
          },
          "device_os": {
            "description": "Client device OS represented by this impact row",
            "type": "string"
          },
          "duration": {
            "description": "Observation time represented by this device-OS impact row",
            "type": "number"
          },
          "name": {
            "description": "Display name for the device-OS impact row",
            "minLength": 1,
            "type": "string"
          },
          "total": {
            "description": "Overall SLE total measured for this device-OS impact row",
            "type": "number"
          }
        },
        "required": [
          "device_os",
          "name",
          "duration",
          "degraded",
          "total"
        ],
        "type": "object"
      },
      "sle_impact_summary_device_type": {
        "description": "Impact summary rows grouped by client device type",
        "items": {
          "$ref": "#/components/schemas/sle_impact_summary_device_type_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impact_summary_device_type_item": {
        "additionalProperties": false,
        "description": "SLE impact summary row for a client device type",
        "properties": {
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this device type",
            "type": "number"
          },
          "device_type": {
            "description": "Client device type represented by this impact row",
            "type": "string"
          },
          "duration": {
            "description": "Observation time represented by this device-type impact row",
            "type": "number"
          },
          "name": {
            "description": "Display name for the device-type impact row",
            "minLength": 1,
            "type": "string"
          },
          "total": {
            "description": "Overall SLE total measured for this device-type impact row",
            "type": "number"
          }
        },
        "required": [
          "device_type",
          "name",
          "duration",
          "degraded",
          "total"
        ],
        "type": "object"
      },
      "sle_impact_summary_wlan": {
        "description": "Impact summary rows grouped by WLAN",
        "items": {
          "$ref": "#/components/schemas/sle_impact_summary_wlan_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impact_summary_wlan_item": {
        "additionalProperties": false,
        "description": "SLE impact summary row for a WLAN",
        "properties": {
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this WLAN",
            "type": "number"
          },
          "duration": {
            "description": "Observation time represented by this WLAN impact row",
            "type": "number"
          },
          "name": {
            "description": "Display name for the WLAN impact row",
            "minLength": 1,
            "type": "string"
          },
          "total": {
            "description": "Overall SLE total measured for this WLAN impact row",
            "type": "number"
          },
          "wlan_id": {
            "description": "Identifier of the WLAN represented by this impact row",
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "wlan_id",
          "name",
          "duration",
          "degraded",
          "total"
        ],
        "type": "object"
      },
      "sle_impacted_applications": {
        "additionalProperties": false,
        "description": "Paginated list of applications impacted by an SLE metric",
        "properties": {
          "apps": {
            "$ref": "#/components/schemas/sle_impacted_applications_apps",
            "description": "Impacted application rows returned for the SLE query"
          },
          "classifier": {
            "description": "Requested SLE classifier filter applied to the query",
            "type": "string"
          },
          "end": {
            "description": "Last timestamp in the impacted applications window",
            "type": "integer"
          },
          "failure": {
            "description": "Requested SLE failure filter applied to the query",
            "type": "string"
          },
          "limit": {
            "description": "Maximum number of impacted application rows returned per page",
            "type": "string"
          },
          "metric": {
            "description": "SLE metric name used for the impacted applications query",
            "type": "string"
          },
          "page": {
            "description": "Current page number for impacted application results",
            "type": "integer"
          },
          "start": {
            "description": "First timestamp in the impacted applications window",
            "type": "integer"
          },
          "total_count": {
            "description": "Number of impacted application rows matching the query",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_applications_app": {
        "additionalProperties": false,
        "description": "SLE impact row for an application",
        "properties": {
          "app": {
            "description": "Identifier of the application represented by this impacted row",
            "type": "string"
          },
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this application",
            "type": "integer"
          },
          "duration": {
            "description": "Observation time represented by this application impact row",
            "type": "integer"
          },
          "name": {
            "description": "Display name for the application impact row",
            "type": "string"
          },
          "threshold": {
            "description": "SLE threshold value used for this application",
            "type": "integer"
          },
          "total": {
            "description": "Overall SLE total measured for this application impact row",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_applications_apps": {
        "description": "Impacted application rows returned for an SLE query",
        "items": {
          "$ref": "#/components/schemas/sle_impacted_applications_app"
        },
        "type": "array"
      },
      "sle_impacted_aps": {
        "additionalProperties": false,
        "description": "Paginated list of APs impacted by an SLE metric",
        "properties": {
          "aps": {
            "$ref": "#/components/schemas/sle_impacted_aps_aps",
            "description": "Impacted access point rows returned for the SLE query"
          },
          "classifier": {
            "description": "Requested SLE classifier filter applied to the query",
            "type": "string"
          },
          "end": {
            "description": "Last timestamp in the impacted APs window",
            "type": "number"
          },
          "failure": {
            "description": "Requested SLE failure filter applied to the query",
            "type": "string"
          },
          "limit": {
            "description": "Maximum number of impacted AP rows returned per page",
            "type": "number"
          },
          "metric": {
            "description": "SLE metric name used for the impacted APs query",
            "minLength": 1,
            "type": "string"
          },
          "page": {
            "description": "Current page number for impacted AP results",
            "type": "number"
          },
          "start": {
            "description": "First timestamp in the impacted APs window",
            "type": "number"
          },
          "total_count": {
            "description": "Number of impacted AP rows matching the query",
            "type": "number"
          }
        },
        "required": [
          "start",
          "end",
          "metric",
          "classifier",
          "failure",
          "total_count",
          "page",
          "limit",
          "aps"
        ],
        "type": "object"
      },
      "sle_impacted_aps_ap": {
        "additionalProperties": false,
        "description": "SLE impact row for an AP",
        "properties": {
          "ap_mac": {
            "description": "MAC address of the AP represented by this impacted row",
            "minLength": 1,
            "type": "string"
          },
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this AP",
            "type": "number"
          },
          "duration": {
            "description": "Observation time represented by this AP impact row",
            "type": "number"
          },
          "name": {
            "description": "Display name for the AP impact row",
            "minLength": 1,
            "type": "string"
          },
          "total": {
            "description": "Overall SLE total measured for this AP impact row",
            "type": "number"
          }
        },
        "required": [
          "ap_mac",
          "name",
          "duration",
          "degraded",
          "total"
        ],
        "type": "object"
      },
      "sle_impacted_aps_aps": {
        "description": "Impacted AP rows returned for an SLE query",
        "items": {
          "$ref": "#/components/schemas/sle_impacted_aps_ap"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impacted_chassis": {
        "additionalProperties": false,
        "description": "Paginated list of chassis impacted by an SLE metric",
        "properties": {
          "chassis": {
            "$ref": "#/components/schemas/sle_impacted_chassis_chassis",
            "description": "Impacted chassis rows returned for the SLE query"
          },
          "classifier": {
            "description": "Requested SLE classifier filter applied to the query",
            "type": "string"
          },
          "end": {
            "description": "Last timestamp in the impacted chassis window",
            "type": "integer"
          },
          "failure": {
            "description": "Requested SLE failure filter applied to the query",
            "type": "string"
          },
          "limit": {
            "description": "Maximum number of impacted chassis rows returned per page",
            "type": "integer"
          },
          "metric": {
            "description": "SLE metric name used for the impacted chassis query",
            "type": "string"
          },
          "page": {
            "description": "Current page number for impacted chassis results",
            "type": "integer"
          },
          "start": {
            "description": "First timestamp in the impacted chassis window",
            "type": "integer"
          },
          "total_count": {
            "description": "Number of impacted chassis rows matching the query",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_chassis_chassis": {
        "description": "Impacted chassis rows returned for an SLE query",
        "items": {
          "$ref": "#/components/schemas/sle_impacted_chassis_chassis_item"
        },
        "type": "array"
      },
      "sle_impacted_chassis_chassis_item": {
        "additionalProperties": false,
        "description": "SLE impact row for a chassis",
        "properties": {
          "chassis": {
            "description": "Identifier of the chassis represented by this impacted row",
            "type": "string"
          },
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this chassis",
            "type": "number"
          },
          "duration": {
            "description": "Observation time represented by this chassis impact row",
            "type": "number"
          },
          "role": {
            "description": "Virtual Chassis role for the switch member",
            "type": "string"
          },
          "switch_mac": {
            "description": "MAC address of the switch represented by this chassis row",
            "type": "string"
          },
          "switch_name": {
            "description": "Display name of the switch represented by this chassis row",
            "type": "string"
          },
          "total": {
            "description": "Overall SLE total measured for this chassis impact row",
            "type": "number"
          }
        },
        "type": "object"
      },
      "sle_impacted_client_gateway": {
        "additionalProperties": false,
        "description": "Gateway association for an impacted client",
        "properties": {
          "chassis_mac": {
            "description": "MAC address of the chassis associated with this client gateway row",
            "type": "string"
          },
          "gateway_mac": {
            "description": "MAC address of the gateway associated with this client row",
            "type": "string"
          },
          "gateway_name": {
            "description": "Display name of the gateway associated with this client row",
            "type": "string"
          },
          "interfaces": {
            "$ref": "#/components/schemas/strings",
            "description": "Network interfaces associated with this client gateway row"
          }
        },
        "type": "object"
      },
      "sle_impacted_client_gateways": {
        "description": "Gateway associations for impacted clients",
        "items": {
          "$ref": "#/components/schemas/sle_impacted_client_gateway"
        },
        "type": "array"
      },
      "sle_impacted_clients": {
        "additionalProperties": false,
        "description": "Paginated list of clients impacted by an SLE metric",
        "properties": {
          "classifier": {
            "description": "Requested SLE classifier filter applied to the query",
            "type": "string"
          },
          "clients": {
            "$ref": "#/components/schemas/sle_impacted_clients_clients",
            "description": "Impacted client rows returned for the SLE query"
          },
          "end": {
            "description": "Last timestamp in the impacted clients window",
            "type": "integer"
          },
          "failure": {
            "description": "Requested SLE failure filter applied to the query",
            "type": "string"
          },
          "limit": {
            "description": "Maximum number of impacted client rows returned per page",
            "type": "integer"
          },
          "metric": {
            "description": "SLE metric name used for the impacted clients query",
            "type": "string"
          },
          "page": {
            "description": "Current page number for impacted client results",
            "type": "integer"
          },
          "start": {
            "description": "First timestamp in the impacted clients window",
            "type": "integer"
          },
          "total_count": {
            "description": "Number of impacted client rows matching the query",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_clients_client": {
        "additionalProperties": false,
        "description": "SLE impact row for a client",
        "properties": {
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this client",
            "type": "integer"
          },
          "duration": {
            "description": "Observation time represented by this client impact row",
            "type": "integer"
          },
          "mac": {
            "description": "Client MAC address for the impacted client",
            "type": "string"
          },
          "name": {
            "description": "Display name for the client impact row",
            "type": "string"
          },
          "switches": {
            "$ref": "#/components/schemas/sle_impacted_clients_client_switches",
            "description": "Switch rows associated with the impacted client"
          },
          "total": {
            "description": "Overall SLE total measured for this client impact row",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_clients_client_switch": {
        "additionalProperties": false,
        "description": "Switch association for an impacted client",
        "properties": {
          "interfaces": {
            "$ref": "#/components/schemas/strings",
            "description": "Switch interfaces associated with this impacted client"
          },
          "switch_mac": {
            "description": "MAC address of the switch associated with this impacted client",
            "type": "string"
          },
          "switch_name": {
            "description": "Display name of the switch associated with this impacted client",
            "type": "string"
          }
        },
        "type": "object"
      },
      "sle_impacted_clients_client_switches": {
        "description": "Switch associations for impacted clients",
        "items": {
          "$ref": "#/components/schemas/sle_impacted_clients_client_switch"
        },
        "type": "array"
      },
      "sle_impacted_clients_clients": {
        "description": "Impacted client rows returned for an SLE query",
        "items": {
          "$ref": "#/components/schemas/sle_impacted_clients_client"
        },
        "type": "array"
      },
      "sle_impacted_gateways": {
        "additionalProperties": false,
        "description": "Paginated list of gateways impacted by an SLE metric",
        "properties": {
          "classifier": {
            "description": "Requested SLE classifier filter applied to the query",
            "type": "string"
          },
          "end": {
            "description": "Last timestamp in the impacted gateways window",
            "type": "integer"
          },
          "failure": {
            "description": "Requested SLE failure filter applied to the query",
            "type": "string"
          },
          "gateways": {
            "$ref": "#/components/schemas/sle_impacted_gateways_gateways",
            "description": "Impacted gateway rows returned for the SLE query"
          },
          "limit": {
            "description": "Maximum number of impacted gateway rows returned per page",
            "type": "integer"
          },
          "metric": {
            "description": "SLE metric name used for the impacted gateways query",
            "type": "string"
          },
          "page": {
            "description": "Current page number for impacted gateway results",
            "type": "integer"
          },
          "start": {
            "description": "First timestamp in the impacted gateways window",
            "type": "integer"
          },
          "total_count": {
            "description": "Number of impacted gateway rows matching the query",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_gateways_gateway": {
        "additionalProperties": false,
        "description": "SLE impact row for a gateway",
        "properties": {
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this gateway",
            "type": "number"
          },
          "duration": {
            "description": "Observation time represented by this gateway impact row",
            "type": "integer"
          },
          "gateway_mac": {
            "description": "MAC address of the gateway represented by this impacted row",
            "type": "string"
          },
          "gateway_model": {
            "description": "Model of the gateway represented by this impacted row",
            "type": "string"
          },
          "gateway_version": {
            "description": "Firmware version of the gateway represented by this impacted row",
            "type": "string"
          },
          "name": {
            "description": "Display name for the gateway impact row",
            "type": "string"
          },
          "total": {
            "description": "Overall SLE total measured for this gateway impact row",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_gateways_gateways": {
        "description": "Impacted gateway rows returned for an SLE query",
        "items": {
          "$ref": "#/components/schemas/sle_impacted_gateways_gateway"
        },
        "type": "array"
      },
      "sle_impacted_interfaces": {
        "additionalProperties": false,
        "description": "Paginated list of interfaces impacted by an SLE metric",
        "properties": {
          "classifier": {
            "description": "Requested SLE classifier filter applied to the query",
            "type": "string"
          },
          "end": {
            "description": "Last timestamp in the impacted interfaces window",
            "type": "integer"
          },
          "failure": {
            "description": "Requested SLE failure filter applied to the query",
            "type": "string"
          },
          "interfaces": {
            "$ref": "#/components/schemas/sle_impacted_interfaces_interfaces",
            "description": "Impacted interface rows returned for the SLE query"
          },
          "limit": {
            "description": "Maximum number of impacted interface rows returned per page",
            "type": "integer"
          },
          "metric": {
            "description": "SLE metric name used for the impacted interfaces query",
            "type": "string"
          },
          "page": {
            "description": "Current page number for impacted interface results",
            "type": "integer"
          },
          "start": {
            "description": "First timestamp in the impacted interfaces window",
            "type": "integer"
          },
          "total_count": {
            "description": "Number of impacted interface rows matching the query",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_interfaces_interface": {
        "additionalProperties": false,
        "description": "SLE impact row for a switch interface",
        "properties": {
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this interface",
            "type": "number"
          },
          "duration": {
            "description": "Observation time represented by this interface impact row",
            "type": "number"
          },
          "interface_name": {
            "description": "Name of the switch interface represented by this impacted row",
            "type": "string"
          },
          "switch_mac": {
            "description": "MAC address of the switch associated with this interface",
            "type": "string"
          },
          "switch_name": {
            "description": "Display name of the switch associated with this interface",
            "type": "string"
          },
          "total": {
            "description": "Overall SLE total measured for this interface impact row",
            "type": "number"
          }
        },
        "type": "object"
      },
      "sle_impacted_interfaces_interfaces": {
        "description": "Impacted interface rows returned for an SLE query",
        "items": {
          "$ref": "#/components/schemas/sle_impacted_interfaces_interface"
        },
        "type": "array"
      },
      "sle_impacted_switches": {
        "additionalProperties": false,
        "description": "Paginated list of switches impacted by an SLE metric",
        "properties": {
          "classifier": {
            "description": "Requested SLE classifier filter applied to the query",
            "type": "string"
          },
          "end": {
            "description": "Last timestamp in the impacted switches window",
            "type": "integer"
          },
          "failure": {
            "description": "Requested SLE failure filter applied to the query",
            "type": "string"
          },
          "limit": {
            "description": "Maximum number of impacted switch rows returned per page",
            "type": "integer"
          },
          "metric": {
            "description": "SLE metric name used for the impacted switches query",
            "type": "string"
          },
          "page": {
            "description": "Current page number for impacted switch results",
            "type": "integer"
          },
          "start": {
            "description": "First timestamp in the impacted switches window",
            "type": "integer"
          },
          "switches": {
            "$ref": "#/components/schemas/sle_impacted_switches_switches",
            "description": "Impacted switch rows returned for the SLE query"
          },
          "total_count": {
            "description": "Number of impacted switch rows matching the query",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "sle_impacted_switches_switch": {
        "additionalProperties": false,
        "description": "SLE impact row for a switch",
        "properties": {
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this switch",
            "type": "number"
          },
          "duration": {
            "description": "Observation time represented by this switch impact row",
            "type": "number"
          },
          "interface": {
            "$ref": "#/components/schemas/strings",
            "description": "Switch interfaces contributing to this impacted switch row"
          },
          "name": {
            "description": "Display name for the switch impact row",
            "type": "string"
          },
          "switch_mac": {
            "description": "MAC address of the switch represented by this impacted row",
            "type": "string"
          },
          "switch_model": {
            "description": "Model of the switch represented by this impacted row",
            "type": "string"
          },
          "switch_version": {
            "description": "Firmware version of the switch represented by this impacted row",
            "type": "string"
          },
          "total": {
            "description": "Overall SLE total measured for this switch impact row",
            "type": "number"
          }
        },
        "type": "object"
      },
      "sle_impacted_switches_switches": {
        "description": "Impacted switch rows returned for an SLE query",
        "items": {
          "$ref": "#/components/schemas/sle_impacted_switches_switch"
        },
        "type": "array"
      },
      "sle_impacted_users": {
        "additionalProperties": false,
        "description": "Paginated list of users impacted by an SLE metric",
        "properties": {
          "classifier": {
            "description": "Requested SLE classifier filter applied to the query",
            "type": "string"
          },
          "clients": {
            "$ref": "#/components/schemas/sle_impacted_users_clients",
            "description": "Impacted client rows returned for the SLE query"
          },
          "end": {
            "description": "Last timestamp in the impacted users window",
            "type": "number"
          },
          "failure": {
            "description": "Requested SLE failure filter applied to the query",
            "type": "string"
          },
          "limit": {
            "description": "Maximum number of impacted user rows returned per page",
            "type": "number"
          },
          "metric": {
            "description": "SLE metric name used for the impacted users query",
            "minLength": 1,
            "type": "string"
          },
          "page": {
            "description": "Current page number for impacted user results",
            "type": "number"
          },
          "start": {
            "description": "First timestamp in the impacted users window",
            "type": "number"
          },
          "total_count": {
            "description": "Number of impacted user rows matching the query",
            "type": "number"
          },
          "users": {
            "$ref": "#/components/schemas/sle_impacted_users_users",
            "description": "Impacted user rows returned for the SLE query"
          }
        },
        "required": [
          "start",
          "end",
          "metric",
          "classifier",
          "failure",
          "total_count",
          "page",
          "limit"
        ],
        "type": "object"
      },
      "sle_impacted_users_client": {
        "additionalProperties": false,
        "description": "SLE impact row for a client in an impacted users response",
        "properties": {
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this client",
            "type": "number"
          },
          "duration": {
            "description": "Observation time represented by this client impact row",
            "type": "number"
          },
          "gateways": {
            "$ref": "#/components/schemas/sle_impacted_client_gateways",
            "description": "Gateway rows associated with the impacted client"
          },
          "mac": {
            "description": "Client MAC address for the impacted client",
            "type": "string"
          },
          "name": {
            "description": "Display name for the client impact row",
            "type": "string"
          },
          "src_ip": {
            "description": "Client source IP address for the impacted client",
            "type": "string"
          },
          "total": {
            "description": "Overall SLE total measured for this client impact row",
            "type": "number"
          }
        },
        "type": "object"
      },
      "sle_impacted_users_clients": {
        "description": "Impacted client rows returned for an SLE query",
        "items": {
          "$ref": "#/components/schemas/sle_impacted_users_client"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_impacted_users_user": {
        "additionalProperties": false,
        "description": "SLE impact row for a user",
        "properties": {
          "ap_mac": {
            "description": "MAC address of the AP associated with this impacted user",
            "type": "string"
          },
          "ap_name": {
            "description": "Display name of the AP associated with this impacted user",
            "type": "string"
          },
          "degraded": {
            "description": "Portion of the SLE total that was degraded for this user",
            "type": "number"
          },
          "device_os": {
            "description": "Client device OS for this impacted user",
            "type": "string"
          },
          "device_type": {
            "description": "Client device type for this impacted user",
            "type": "string"
          },
          "duration": {
            "description": "Observation time represented by this user impact row",
            "type": "number"
          },
          "mac": {
            "description": "Client MAC address for this impacted user",
            "type": "string"
          },
          "name": {
            "description": "Display name for the user impact row",
            "type": "string"
          },
          "ssid": {
            "description": "Wireless network SSID used by this impacted user",
            "type": "string"
          },
          "total": {
            "description": "Overall SLE total measured for this user impact row",
            "type": "number"
          },
          "wlan_id": {
            "description": "Identifier of the WLAN used by this impacted user",
            "type": "string"
          }
        },
        "type": "object"
      },
      "sle_impacted_users_users": {
        "description": "Impacted user rows returned for an SLE query",
        "items": {
          "$ref": "#/components/schemas/sle_impacted_users_user"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_summary": {
        "additionalProperties": false,
        "deprecated": true,
        "description": "Deprecated SLE summary response for a metric window",
        "properties": {
          "classifiers": {
            "$ref": "#/components/schemas/sle_summary_classifiers",
            "description": "SLE classifier details included in the summary"
          },
          "end": {
            "description": "Last timestamp in the SLE summary window",
            "type": "number"
          },
          "events": {
            "$ref": "#/components/schemas/sle_summary_events",
            "description": "Event records included in the SLE summary"
          },
          "impact": {
            "$ref": "#/components/schemas/sle_summary_impact",
            "description": "AP and user impact counts for the summary window"
          },
          "sle": {
            "$ref": "#/components/schemas/sle_summary_sle",
            "description": "Time-series SLE samples for the summary window"
          },
          "start": {
            "description": "First timestamp in the SLE summary window",
            "type": "number"
          }
        },
        "required": [
          "start",
          "end",
          "sle",
          "impact",
          "classifiers",
          "events"
        ],
        "type": "object"
      },
      "sle_summary_classifiers": {
        "description": "SLE classifier details included in a summary response",
        "items": {
          "$ref": "#/components/schemas/sle_classifier"
        },
        "type": "array",
        "uniqueItems": true
      },
      "sle_summary_events": {
        "description": "Event records included in an SLE summary response",
        "items": {
          "additionalProperties": true,
          "type": "object"
        },
        "type": "array"
      },
      "sle_summary_impact": {
        "additionalProperties": false,
        "description": "AP and user impact counts for an SLE summary window",
        "properties": {
          "num_aps": {
            "description": "Number of APs affected by degraded SLE experience",
            "type": "number"
          },
          "num_users": {
            "description": "Number of users affected by degraded SLE experience",
            "type": "number"
          },
          "total_aps": {
            "description": "Total number of APs considered in the summary window",
            "type": "number"
          },
          "total_users": {
            "description": "Total number of users considered in the summary window",
            "type": "number"
          }
        },
        "required": [
          "num_users",
          "num_aps",
          "total_users",
          "total_aps"
        ],
        "type": "object"
      },
      "sle_summary_scope": {
        "description": "enum: `ap`, `client`, `gateway`, `site`, `switch`",
        "enum": [
          "ap",
          "client",
          "gateway",
          "site",
          "switch"
        ],
        "type": "string"
      },
      "sle_summary_sle": {
        "additionalProperties": false,
        "description": "Time-series SLE metric samples for a summary response",
        "properties": {
          "interval": {
            "description": "Sample interval in seconds for SLE summary data",
            "type": "number"
          },
          "name": {
            "description": "SLE metric name represented by the summary samples",
            "minLength": 1,
            "type": "string"
          },
          "samples": {
            "$ref": "#/components/schemas/sle_summary_sle_samples",
            "description": "Per-interval sample arrays for the SLE metric"
          },
          "x_label": {
[...]
