{
  "openapi": "3.1.0",
  "info": {
    "title": "Utilities LAN",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to use Devices Troubleshooting tools specific to Wired Assurance",
      "name": "Utilities LAN"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/wired_clients/{client_mac}/coa": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/client_mac"
        }
      ],
      "post": {
        "description": "Trigger a CoA (change of authorization) against a Wired client",
        "operationId": "reauthOrgDot1xWiredClient",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ReauthWiredClient"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "reauthOrgDot1xWiredClient",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/clear_pending_version": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "Clear device pending fw version (Available on Junos OS EX2300-, EX3400-, EX4000-, EX4100-, EX4400- devices)",
        "operationId": "clearSiteMultipleDevicePendingVersion",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "device_ids": [
                      "00000000-0000-0000-1000-5c5b35584a6f",
                      "00000000-0000-0000-1000-5c5b350ea3b3"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/devices_ids"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "cannot-clear-pending-version-on-an-offline-device": {
                    "value": "cannot clear pending version on an offline device"
                  },
                  "clear-pending-version-not-supported": {
                    "value": "clear-pending-fw-version not supported"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "clearSiteMultipleDevicePendingVersion",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/restore_backup_version": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "Restore device backup fw version (Available on Junos OS EX4000-, EX4100-, EX4400- devices)",
        "operationId": "restoreSiteMultipleDeviceBackupVersion",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "device_ids": [
                      "00000000-0000-0000-1000-5c5b35584a6f",
                      "00000000-0000-0000-1000-5c5b350ea3b3"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/devices_ids"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "cannot-restore-backup-version-on-an-offline-device": {
                    "value": "snapshot not supported"
                  },
                  "restore-backup-fw-version-not-supported": {
                    "value": "cannot snapshot an offline device"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "restoreSiteMultipleDeviceBackupVersion",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/upgrade_bios": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "Upgrade Bios on Multiple Device",
        "operationId": "upgradeSiteDevicesBios",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/upgrade_bios_multi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "upgradeSiteDevicesBios",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/upgrade_fpga": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "Upgrade Bios on Multiple Device",
        "operationId": "upgradeSiteDevicesFpga",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/upgrade_fpga_multi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "upgradeSiteDevicesFpga",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/cable_test": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "TDR can be performed from the Switch. The output will be available through websocket. As there can be multiple command issued against the same Switch at the same time and the output all goes through the same websocket stream, session is introduced for demux.\n\n#### Subscribe to Device Command outputs\n`WS /api-ws/v1/stream`\n\n```json\n{\n    \"subscribe\": \"/sites/{site_id}/devices/{device_id}/cmd\"\n}\n```\n##### Example output from ws stream\n```json\n{\n    \"event\": \"data\",\n    \"channel\": \"/sites/4ac1dcf4-9d8b-7211-65c4-057819f0862b/devices/00000000-0000-0000-1000-5c5b350e0060/cmd\",\n    \"data\": {\n        \"session\": \"session_id\",\n        \"raw\": \"Interface TDR detail:\\nTest status : Test successfully executed  ge-0/0/0\\n\"\n    }\n}\n```",
        "operationId": "cableTestFromSwitch",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "port": "ge-0/0/0"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/utils_cable_tests"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebsocketSession"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "cableTestFromSwitch",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/clear_bpdu_error": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "Clear bridge protocol data unit (BPDU) error condition caused by the detection of a possible bridging loop from Spanning Tree Protocol (STP) operation that renders the port unoperational.",
        "operationId": "clearBpduErrorsFromPortsOnSwitch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/utils_clear_bpdu"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "description": "Port not specified"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "clearBpduErrorsFromPortsOnSwitch",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/clear_dot1x": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "Clear Dot1x Session. The output will be available through websocket.",
        "operationId": "clearSiteDeviceDot1xSession",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "port_id": "ge-0/0/0"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/clear_dot1x_session"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/WebsocketSession"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "clearSiteDeviceDot1xSession",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/clear_macs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "Clear all learned MAC addresses, including persistent MAC addresses, on a port.",
        "operationId": "clearAllLearnedMacsFromPortOnSwitch",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "ports": [
                      "ge-0/0/0.0"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/utils_clear_macs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "clearAllLearnedMacsFromPortOnSwitch",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/clear_pending_version": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "Clear device pending fw version (Available on Junos OS EX2300-, EX3400-, EX4000-, EX4100-, EX4400- devices)",
        "operationId": "clearSiteDevicePendingVersion",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "cannot-clear-pending-version-on-an-offline-device": {
                    "value": "cannot clear pending version on an offline device"
                  },
                  "clear-pending-version-not-supported": {
                    "value": "clear-pending-fw-version not supported"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "clearSiteDevicePendingVersion",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/poll_stats": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "This API can be used to poll statistics from the Switch proactively once. After it is called, the statistics will be pushed back to the cloud within the statistics interval.",
        "operationId": "pollSiteSwitchStats",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "pollSiteSwitchStats",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/restore_backup_version": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "Restore device backup fw version (Available on Junos OS EX4000-, EX4100-, EX4400- devices)",
        "operationId": "restoreSiteDeviceBackupVersion",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "cannot-restore-backup-version-on-an-offline-device": {
                    "value": "cannot restore backup version on an offline device"
                  },
                  "restore-backup-fw-version-not-supported": {
                    "value": "restore-backup-fw-version not supported"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "restoreSiteDeviceBackupVersion",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/snapshot": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "Create recovery device snapshot (Available on Junos OS EX2300-, EX3400-, EX4400- devices)",
        "operationId": "createSiteDeviceSnapshot",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "cannot-snapshot-an-offline-device": {
                    "value": "cannot snapshot an offline device"
                  },
                  "snapshot-not-supported": {
                    "value": "snapshot not supported"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "createSiteDeviceSnapshot",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/upgrade_bios": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "Upgrade device bios",
        "operationId": "upgradeDeviceBios",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/upgrade_bios"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceBiosUpgrade"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "upgradeDeviceBios",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/upgrade_fpga": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "Upgrade device fpga",
        "operationId": "upgradeDeviceFPGA",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/upgrade_fpga"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceBiosUpgrade"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "upgradeDeviceFPGA",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/vc/switch_master": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "In a pre-provisioned VC, mastership is system-determined. This command allows manual toggling between primary and backup Routing Engines.",
        "operationId": "toogleSiteDeviceVcRoutingEnginesRole",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "content": {
              "application/json": {
                "examples": {
                  "backup-re-not-present": {
                    "value": "backup routing engine is not present"
                  },
                  "device-is-not-an-oc-device": {
                    "value": "The device is not an OC device"
                  },
                  "non-provisioned-vc-not-supported": {
                    "value": "Non-provisioned VC is not supported currently"
                  },
                  "vc-is-currently-disconnected": {
                    "value": "VC is currently disconnected"
                  }
                },
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Bad Request"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "toogleSiteDeviceVcRoutingEnginesRole",
        "tags": [
          "Utilities LAN"
        ]
      }
    },
    "/api/v1/sites/{site_id}/wired_clients/{client_mac}/coa": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/client_mac"
        }
      ],
      "post": {
        "description": "Trigger a CoA (change of authorization) against a Wired client",
        "operationId": "reauthSiteDot1xWiredClient",
        "responses": {
          "200": {
            "$ref": "#/components/responses/ReauthWiredClient"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "reauthSiteDot1xWiredClient",
        "tags": [
          "Utilities LAN"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "clear_dot1x_session": {
        "properties": {
          "port_id": {
            "description": "ID of the port where the dot1x session must be cleared. If not provided, the sessions on all the port will be cleared.",
            "examples": [
              "ge-0/0/0"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "devices_ids": {
        "properties": {
          "device_ids": {
            "items": {
              "format": "uuid",
              "type": "string"
            },
            "type": "array"
          }
        },
        "required": [
          "device_ids"
        ],
        "type": "object"
      },
      "response_device_bios_upgrade": {
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp"
          }
        },
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_wired_coa": {
        "additionalProperties": false,
        "properties": {
          "device_mac": {
            "examples": [
              "5c5b35000002"
            ],
            "type": "string"
          },
          "port_id": {
            "examples": [
              "ge-0/0/0"
            ],
            "type": "string"
          },
          "session": {
            "examples": [
              "0a2a11b8-4b30-40d8-a6d1-e91ea540d86f"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "timestamp": {
        "description": "Epoch (seconds)",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "upgrade_bios": {
        "properties": {
          "reboot": {
            "default": false,
            "description": "Reboot device immediately after upgrade is completed",
            "type": "boolean"
          },
          "version": {
            "description": "Specific bios version",
            "examples": [
              "CDEN_P_EX1_00.20.01.00"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "upgrade_bios_multi": {
        "properties": {
          "device_ids": {
            "$ref": "#/components/schemas/upgrade_bios_multi_device_ids"
          },
          "models": {
            "$ref": "#/components/schemas/upgrade_bios_multi_models"
          },
          "reboot": {
            "default": false,
            "description": "Reboot device immediately after upgrade is completed",
            "type": "boolean"
          },
          "version": {
            "description": "Specific bios version",
            "examples": [
              "CDEN_P_EX1_00.15.01.00"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "upgrade_bios_multi_device_ids": {
        "description": "List of device id to upgrade bios",
        "items": {
          "examples": [
            "00000000-0000-0000-1000-5c5b35584a6f"
          ],
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_bios_multi_models": {
        "description": "List of device model to upgrade bios",
        "items": {
          "examples": [
            "EX4400-48T"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_fpga": {
        "properties": {
          "reboot": {
            "default": false,
            "description": "Reboot device immediately after upgrade is completed",
            "type": "boolean"
          },
          "version": {
            "description": "Specific fpga version",
            "examples": [
              "REV37"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "upgrade_fpga_multi": {
        "properties": {
          "device_ids": {
            "$ref": "#/components/schemas/upgrade_fpga_multi_device_ids"
          },
          "models": {
            "$ref": "#/components/schemas/upgrade_fpga_multi_models"
          },
          "reboot": {
            "default": false,
            "description": "Reboot device immediately after upgrade is completed",
            "type": "boolean"
          },
          "version": {
            "description": "Specific FPGA version",
            "examples": [
              "REV37"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "upgrade_fpga_multi_device_ids": {
        "description": "List of device id to upgrade bios",
        "items": {
          "examples": [
            "00000000-0000-0000-1000-5c5b35584a6f"
          ],
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_fpga_multi_models": {
        "description": "List of device model to upgrade bios",
        "items": {
          "examples": [
            "EX4400-48T"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "utils_cable_tests": {
        "properties": {
          "port": {
            "description": "The port to run the cable test",
            "type": "string"
          }
        },
        "required": [
          "port"
        ],
        "type": "object"
      },
      "utils_clear_bpdu": {
        "properties": {
          "port": {
            "description": "Port on which to clear the detected BPDU error, or `all` for all ports",
            "type": "string"
          }
        },
        "type": "object"
      },
      "utils_clear_macs": {
        "properties": {
          "ports": {
            "$ref": "#/components/schemas/utils_clear_macs_ports"
          }
        },
        "type": "object"
      },
      "utils_clear_macs_ports": {
        "description": "List of ports on which to clear mac addresses. must include logical unit number",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "websocket_session": {
        "additionalProperties": false,
        "properties": {
          "session": {
            "examples": [
              "19e73828-937f-05e6-f709-e29efdb0a82b"
            ],
            "type": "string"
          }
        },
        "required": [
          "session"
        ],
        "type": "object"
      }
    },
    "responses": {
      "DeviceBiosUpgrade": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/DeviceBiosUpgradeExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_device_bios_upgrade"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/DeviceBiosUpgradeExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_device_bios_upgrade"
            }
          }
        },
        "description": "OK"
      },
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "ReauthWiredClient": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ReauthWiredClientExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_wired_coa"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/ReauthWiredClientExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_wired_coa"
            }
          }
        },
        "description": "Reauth Wired Client"
      },
      "WebsocketSession": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/websocket_session"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/websocket_session"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "client_mac": {
        "in": "path",
        "name": "client_mac",
        "required": true,
        "schema": {
          "examples": [
            "0000000000ab"
          ],
          "pattern": "^[0-9a-fA-F]{12}$",
          "type": "string"
        }
      },
      "device_id": {
        "in": "path",
        "name": "device_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "DeviceBiosUpgradeExample": {
        "value": {
          "status": "inprogress",
          "timestamp": 1428949501
        }
      },
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "ReauthWiredClientExample": {
        "value": {
          "device_mac": "5c5b35000002",
          "port_id": "ge-0/0/0",
          "session": "0a2a11b8-4b30-40d8-a6d1-e91ea540d86f"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
