{
  "openapi": "3.1.0",
  "info": {
    "title": "Utilities Upgrade",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls used to manage device upgrades for a single device, at the site level or at the organization level.",
      "name": "Utilities Upgrade"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/devices/upgrade": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List organization-level device upgrade jobs, including the site-level upgrade jobs created under each organization upgrade.",
        "operationId": "listOrgDeviceUpgrades",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgDeviceUpgradeList"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgDeviceUpgrades",
        "tags": [
          "Utilities Upgrade"
        ]
      },
      "post": {
        "description": "Start an organization-level device upgrade job across selected sites. The request selects device type, sites, models, firmware versions, and upgrade strategy; AP-specific and Junos-specific options apply only where supported.",
        "operationId": "upgradeOrgDevices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/upgrade_org_devices"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgDeviceUpgrade"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "upgradeOrgDevices",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/devices/upgrade/{upgrade_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/upgrade_id"
        }
      ],
      "get": {
        "description": "Retrieve details for an organization-level device upgrade job, including per-site upgrade status and device targets.",
        "operationId": "getOrgDeviceUpgrade",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrgDeviceUpgrade"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgDeviceUpgrade",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/devices/upgrade/{upgrade_id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/upgrade_id"
        }
      ],
      "post": {
        "description": "Cancel an organization-level device upgrade job on a best-effort basis. Devices that have already completed the upgrade are not changed.",
        "operationId": "cancelOrgDeviceUpgrade",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "cancelOrgDeviceUpgrade",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/devices/versions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List available firmware versions for organization devices, optionally filtered by device type and model.",
        "operationId": "listOrgAvailableDeviceVersions",
        "parameters": [
          {
            "description": "Filter results by type. enum: `ap`, `gateway`, `switch`",
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/device_type_default_ap"
            }
          },
          {
            "description": "Fetch version for device model, use/combine with `type` as needed (for switch and gateway devices). Accepts multiple comma-separated values.",
            "in": "query",
            "name": "model",
            "schema": {
              "examples": [
                "AP27,AP27E",
                "AP43"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceVersion"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgAvailableDeviceVersions",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/jsi/devices/{device_mac}/upgrade": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/device_mac"
        }
      ],
      "post": {
        "description": "Start a software upgrade for a JSI-connected device identified by MAC address using the requested target version.",
        "operationId": "upgradeOrgJsiDevice",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "version": "3.1.5"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/version_string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "upgradeOrgJsiDevice",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/upgrade": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List Mist Edge upgrade requests for the organization, including status, rollout strategy, target versions, and per-status target counts.",
        "operationId": "listOrgMxEdgeUpgrades",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxEdgeUpgradesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgMxEdgeUpgrades",
        "tags": [
          "Utilities Upgrade"
        ]
      },
      "post": {
        "description": "Schedule a Mist Edge upgrade for selected Mist Edges, using service target versions or an optional Linux distro upgrade with rollout strategy and canary settings.",
        "operationId": "upgradeOrgMxEdges",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Upgrade_MxEdge": {
                  "value": {
                    "allow_downgrades": {
                      "mxagent": false,
                      "tunterm": true
                    },
                    "canary_phases": [
                      5,
                      25,
                      50,
                      100
                    ],
                    "channel": "stable",
                    "max_failure_percentage": 5,
                    "max_failures": [
                      1,
                      1,
                      5,
                      5
                    ],
                    "mxedge_ids": [
                      "387804a7-3474-85ce-15a2-f9a9684c9c90"
                    ],
                    "start_time": 1624399840,
                    "strategy": "serial",
                    "versions": {
                      "mxagent": "latest",
                      "radsecproxy": "<version>",
                      "tunterm": "default"
                    }
                  }
                },
                "Upgrade_MxEdge_Distro": {
                  "value": {
                    "canary_phases": [
                      5,
                      25,
                      50,
                      100
                    ],
                    "distro": "buster",
                    "max_failure_percentage": 5,
                    "max_failures": [
                      1,
                      1,
                      5,
                      5
                    ],
                    "mxedge_ids": [
                      "387804a7-3474-85ce-15a2-f9a9684c9c90"
                    ],
                    "start_time": 1624399840,
                    "strategy": "serial"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mxedge_upgrade_multi"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "upgradeOrgMxEdges",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/upgrade/{upgrade_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/upgrade_id"
        }
      ],
      "get": {
        "description": "Retrieve status, rollout strategy, target versions, and target counts for a specific Mist Edge upgrade request.",
        "operationId": "getOrgMxEdgeUpgrade",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxEdgeUpgrade"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgMxEdgeUpgrade",
        "tags": [
          "Utilities Upgrade"
        ]
      },
      "put": {
        "description": "Update a queued Mist Edge upgrade request, such as target versions, rollout strategy, start time, or target Mist Edge IDs. Only upgrades in `queued` state can be updated.",
        "operationId": "updateOrgMxEdgeUpgrade",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mxedge_upgrade_multi"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxEdgeUpgrade"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateOrgMxEdgeUpgrade",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/mxedges/upgrade/{upgrade_id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/upgrade_id"
        }
      ],
      "post": {
        "description": "Cancel a Mist Edge upgrade request on a best-effort basis. Mist Edges that have already been upgraded are not changed.",
        "operationId": "cancelOrgMxEdgeUpgrade",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "cancelOrgMxEdgeUpgrade",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/ssr/upgrade": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List SSR firmware upgrade jobs for the organization, including status, rollout strategy, target versions, release channel, and device counts.",
        "operationId": "listOrgSsrUpgrades",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SsrUpgradesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgSsrUpgrades",
        "tags": [
          "Utilities Upgrade"
        ]
      },
      "post": {
        "description": "Create an SSR firmware upgrade job for selected devices, with firmware version or channel, rollout strategy, and optional download or reboot timing.",
        "operationId": "upgradeOrgSsrs",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "channel": "stable",
                    "device_ids": [
                      "00000000-0000-0000-1000-5c5b3500001f",
                      "00000000-0000-0000-1000-5c5b35000020"
                    ],
                    "strategy": "big_bang",
                    "version": "5.3.0-93"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/ssr_upgrade_multi"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SsrUpgrade"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "upgradeOrgSsrs",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/ssr/upgrade/{upgrade_id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/upgrade_id"
        }
      ],
      "get": {
        "description": "Return detailed status for an SSR firmware upgrade job, including target device IDs grouped by upgrade status.",
        "operationId": "getOrgSsrUpgrade",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SsrUpgradeStatus"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgSsrUpgrade",
        "tags": [
          "Utilities Upgrade"
        ]
      },
      "post": {
        "description": "Cancel an SSR firmware upgrade job on a best-effort basis. Devices that have already upgraded are not changed.",
        "operationId": "cancelOrgSsrUpgrade",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "cancelOrgSsrUpgrade",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/ssr/versions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List SSR firmware versions available for upgrade, optionally filtered by release channel and one or more SSR MAC addresses.",
        "operationId": "listOrgAvailableSsrVersions",
        "parameters": [
          {
            "$ref": "#/components/parameters/ssr_version_channel"
          },
          {
            "description": "Optional. MAC address, or comma separated MAC address list.",
            "in": "query",
            "name": "mac",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SsrVersions"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgAvailableSsrVersions",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/upgrade": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "List device upgrade operations for a site, optionally filtered by upgrade status. Use [List Org Device Upgrades](/#operations/listOrgDeviceUpgrades) to retrieve device upgrade operations across the organization.",
        "operationId": "listSiteDeviceUpgrades",
        "parameters": [
          {
            "description": "Filter results by status. enum: `cancelled`, `completed`, `created`, `downloaded`, `downloading`, `failed`, `queued`, `upgrading`",
            "in": "query",
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/upgrade_device_status"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpgradeSiteDevicesList"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteDeviceUpgrades",
        "tags": [
          "Utilities Upgrade"
        ]
      },
      "post": {
        "description": "Upgrade Site Device\n\n**Note**: this call doesn’t guarantee the devices to be upgraded right away (they may be offline)",
        "operationId": "upgradeSiteDevices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/upgrade_site_devices"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpgradeId"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "upgradeSiteDevices",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/upgrade/{upgrade_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/upgrade_id"
        }
      ],
      "get": {
        "description": "Get Site Device Upgrade",
        "operationId": "getSiteDeviceUpgrade",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteDeviceUpgrade"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteDeviceUpgrade",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/upgrade/{upgrade_id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/upgrade_id"
        }
      ],
      "post": {
        "description": "Best effort to cancel an upgrade. Devices which are already upgraded wont be touched",
        "operationId": "cancelSiteDeviceUpgrade",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "cancelSiteDeviceUpgrade",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/versions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "List firmware versions available for devices in a site, optionally filtered by device type and model. Use [List Org Available Device Versions](/#operations/listOrgAvailableDeviceVersions) to retrieve available device versions across the organization.",
        "operationId": "listSiteAvailableDeviceVersions",
        "parameters": [
          {
            "description": "Filter results by type. enum: `ap`, `gateway`, `switch`",
            "in": "query",
            "name": "type",
            "schema": {
              "$ref": "#/components/schemas/device_type_default_ap"
            }
          },
          {
            "description": "Fetch version for device model, use/combine with `type` as needed (for switch and gateway devices)",
            "in": "query",
            "name": "model",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceVersion"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteAvailableDeviceVersions",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/{device_id}/upgrade": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "Device Upgrade",
        "operationId": "upgradeDevice",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "version": "3.1.5"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/device_upgrade"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpgradeDevice"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "upgradeDevice",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/sites/{site_id}/mxedges/upgrade": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "List Mist Edge upgrade operations for a site. Use [List Org Mist Edge Upgrades](/#operations/listOrgMxEdgeUpgrades) to retrieve Mist Edge upgrade operations across the organization.",
        "operationId": "listSiteMxEdgeUpgrades",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxEdgeUpgradesArray"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSiteMxEdgeUpgrades",
        "tags": [
          "Utilities Upgrade"
        ]
      },
      "post": {
        "description": "Upgrade Mist Edges in a Site.\n\nSee [Org Mist Edges](/#tag/Utilities-Upgrade/operation/upgradeOrgMxEdges) for package upgrades\n\nSee [Org Mist Edges Distro](/#tag/Utilities-Upgrade/operation/upgradeOrgMxEdges) for distro upgrades",
        "operationId": "upgradeSiteMxEdges",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Upgrade_MxEdge": {
                  "value": {
                    "allow_downgrades": {
                      "mxagent": false,
                      "tunterm": true
                    },
                    "canary_phases": [
                      5,
                      25,
                      50,
                      100
                    ],
                    "channel": "stable",
                    "max_failure_percentage": 5,
                    "max_failures": [
                      1,
                      1,
                      5,
                      5
                    ],
                    "mxedge_ids": [
                      "387804a7-3474-85ce-15a2-f9a9684c9c90"
                    ],
                    "start_time": 1624399840,
                    "strategy": "serial",
                    "versions": {
                      "mxagent": "latest",
                      "radsecproxy": "<version>",
                      "tunterm": "default"
                    }
                  }
                },
                "Upgrade_MxEdge_Distro": {
                  "value": {
                    "canary_phases": [
                      5,
                      25,
                      50,
                      100
                    ],
                    "distro": "buster",
                    "max_failure_percentage": 5,
                    "max_failures": [
                      1,
                      1,
                      5,
                      5
                    ],
                    "mxedge_ids": [
                      "387804a7-3474-85ce-15a2-f9a9684c9c90"
                    ],
                    "start_time": 1624399840,
                    "strategy": "serial"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/mxedge_upgrade_multi"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "upgradeSiteMxEdges",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/sites/{site_id}/mxedges/upgrade/{upgrade_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/upgrade_id"
        }
      ],
      "get": {
        "description": "Get Mist Edge Upgrade",
        "operationId": "getSiteMxEdgeUpgrade",
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxEdgeUpgrade"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteMxEdgeUpgrade",
        "tags": [
          "Utilities Upgrade"
        ]
      },
      "put": {
        "description": "Update Mist Edge Upgrade. Only upgrades in `queued` state can be updated.",
        "operationId": "updateSiteMxEdgeUpgrade",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mxedge_upgrade_multi"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/MxEdgeUpgrade"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSiteMxEdgeUpgrade",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/sites/{site_id}/mxedges/upgrade/{upgrade_id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/upgrade_id"
        }
      ],
      "post": {
        "description": "Cancel Mist Edge Upgrade. Best effort to cancel an upgrade. MxEdges which are already upgraded won't be touched.",
        "operationId": "cancelSiteMxEdgeUpgrade",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "cancelSiteMxEdgeUpgrade",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/sites/{site_id}/ssr/upgrade/{upgrade_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/upgrade_id"
        }
      ],
      "get": {
        "description": "Get Specific Site SSR Upgrade",
        "operationId": "getSiteSsrUpgrade",
        "responses": {
          "200": {
            "$ref": "#/components/responses/SsrUpgradeStatus"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteSsrUpgrade",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    },
    "/api/v1/sites/{site_id}/ssr/{device_id}/upgrade": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/device_id"
        }
      ],
      "post": {
        "description": "Upgrade Site SSR device",
        "operationId": "upgradeSsr",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "channel": "stable",
                    "version": "5.3.1-170-93"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/ssr_upgrade"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/SsrUpgrade"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "upgradeSsr",
        "tags": [
          "Utilities Upgrade"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "device_type": {
        "description": "enum: `ap`, `gateway`, `switch`",
        "enum": [
          "ap",
          "gateway",
          "switch"
        ],
        "type": "string"
      },
      "device_type_default_ap": {
        "default": "ap",
        "description": "enum: `ap`, `gateway`, `switch`",
        "enum": [
          "ap",
          "gateway",
          "switch"
        ],
        "type": "string"
      },
      "device_upgrade": {
        "description": "Device firmware upgrade request options",
        "properties": {
          "reboot": {
            "default": false,
            "description": "For Switches and Gateways only (APs are automatically rebooted). Reboot device immediately after upgrade is completed",
            "type": "boolean"
          },
          "reboot_at": {
            "description": "For Switches and Gateways only and if `reboot`==`true`. Reboot start time in epoch seconds, default is `start_time`",
            "type": "integer"
          },
          "snapshot": {
            "default": false,
            "description": "For Junos devices only. Perform recovery snapshot after device is rebooted",
            "type": "boolean"
          },
          "start_time": {
            "description": "Firmware download start time in epoch",
            "type": "integer"
          },
          "version": {
            "default": "stable",
            "description": "Specific version / `stable`, default is to use the latest",
            "type": "string"
          }
        },
        "required": [
          "version"
        ],
        "type": "object"
      },
      "device_version": {
        "description": "Available firmware versions for device models",
        "items": {
          "$ref": "#/components/schemas/device_version_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "device_version_item": {
        "additionalProperties": false,
        "description": "Available firmware version for a specific device model and release tag",
        "properties": {
          "model": {
            "description": "Device model (as seen in the device stats)",
            "type": "string"
          },
          "tag": {
            "description": "Annotation, suggested / alpha. Or it can be empty or nothing which is likely a dev build",
            "type": "string"
          },
          "version": {
            "description": "Available firmware version for this device model",
            "type": "string"
          }
        },
        "required": [
          "model",
          "version"
        ],
        "type": "object"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "mxedge_upgrade_channel": {
        "default": "stable",
        "description": "upgrade channel to follow. enum: `alpha`, `beta`, `stable`",
        "enum": [
          "alpha",
          "beta",
          "stable"
        ],
        "type": "string"
      },
      "mxedge_upgrade_multi": {
        "description": "Request to schedule upgrades for one or more Mist Edges",
        "properties": {
          "allow_downgrades": {
            "$ref": "#/components/schemas/mxedge_upgrade_multi_allow_downgrades",
            "description": "Per-service downgrade permission settings for this upgrade"
          },
          "canary_phases": {
            "$ref": "#/components/schemas/upgrade_device_canary_phases",
            "description": "Canary phase percentages for phased Mist Edge upgrades"
          },
          "channel": {
            "$ref": "#/components/schemas/mxedge_upgrade_channel",
            "description": "Upgrade channel to use for qualified versions"
          },
          "distro": {
            "description": "Linux distribution codename for an optional distro upgrade, such as bullseye or `next` to upgrade to the next distro version. Uses highest qualified versions",
            "type": "string"
          },
          "max_failure_percentage": {
            "default": 5,
            "description": "Failure threshold before we stop the upgrade and mark it as failed",
            "type": "integer"
          },
          "mxedge_ids": {
            "$ref": "#/components/schemas/mxedge_upgrade_multi_mxedge_ids",
            "description": "Mist Edge IDs included in the upgrade request"
          },
          "start_time": {
            "description": "Upgrade start time in epoch seconds, default is now",
            "type": "integer"
          },
          "strategy": {
            "$ref": "#/components/schemas/mxedge_upgrade_strategy",
            "description": "Upgrade rollout strategy for the selected Mist Edges"
          },
          "versions": {
            "$ref": "#/components/schemas/mxedge_upgrade_version",
            "description": "Per-service target versions for the upgrade request"
          }
        },
        "required": [
          "mxedge_ids"
        ],
        "type": "object"
      },
      "mxedge_upgrade_multi_allow_downgrades": {
        "additionalProperties": false,
        "description": "Whether downgrade is allowed when running version is higher than expected version for each service",
        "properties": {
          "mxagent": {
            "default": false,
            "description": "Whether downgrades are allowed for the mxagent service",
            "type": "boolean"
          },
          "mxdas": {
            "default": false,
            "description": "Whether downgrades are allowed for the mxdas service",
            "type": "boolean"
          },
          "mxocproxy": {
            "default": false,
            "description": "Whether downgrades are allowed for the mxocproxy service",
            "type": "boolean"
          },
          "radsecproxy": {
            "default": false,
            "description": "Whether downgrades are allowed for the radsecproxy service",
            "type": "boolean"
          },
          "tunterm": {
            "default": false,
            "description": "Whether downgrades are allowed for the tunterm service",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "mxedge_upgrade_multi_mxedge_ids": {
        "description": "List of Mist Edge IDs to upgrade. If not specified, it means all the org Mist Edges.",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "mxedge_upgrade_response_counts": {
        "additionalProperties": false,
        "description": "Counts of Mist Edge upgrades by current status",
        "properties": {
          "failed": {
            "description": "Number of Mist Edge upgrades that failed",
            "type": "integer"
          },
          "queued": {
            "description": "Number of Mist Edge upgrades waiting to run",
            "type": "integer"
          },
          "success": {
            "description": "Number of Mist Edge upgrades completed successfully",
            "type": "integer"
          },
          "upgrading": {
            "description": "Number of Mist Edge upgrades currently in progress",
            "type": "integer"
          }
        },
        "required": [
          "queued",
          "upgrading",
          "success",
          "failed"
        ],
        "type": "object"
      },
      "mxedge_upgrade_strategy": {
        "default": "big_bang",
        "description": "enum:\n  * `big_bang`: upgrade all at once, no orchestration\n  * `serial`: one at a time'\n  * `canary`: upgrade in phases",
        "enum": [
          "canary",
          "big_bang",
          "serial"
        ],
        "type": "string"
      },
      "mxedge_upgrade_version": {
        "additionalProperties": false,
        "description": "Version to upgrade for each service, `current` / `latest` / `default` / specific version (e.g. `2.5.100`).\\nIgnored if distro upgrade, `tunterm`, `radsecproxy`, `mxagent`, `mxocproxy`, `mxdas` or `mxnacedge`",
        "properties": {
          "mxagent": {
            "default": "current",
            "description": "Target version for the mxagent service",
            "type": "string"
          },
          "mxdas": {
            "default": "current",
            "description": "Target version for the mxdas service",
            "type": "string"
          },
          "mxocproxy": {
            "default": "current",
            "description": "Target version for the mxocproxy service",
            "type": "string"
          },
          "radsecproxy": {
            "default": "current",
            "description": "Target version for the radsecproxy service",
            "type": "string"
          },
          "tunterm": {
            "default": "current",
            "description": "Target version for the tunterm service",
            "type": "string"
          }
        },
        "required": [
          "mxagent",
          "tunterm"
        ],
        "type": "object"
      },
      "response_device_upgrade": {
        "additionalProperties": false,
        "description": "Single-device upgrade status response",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/upgrade_info_status",
            "description": "Current status of the requested device upgrade"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Epoch timestamp when the device upgrade status was reported"
          }
        },
        "required": [
          "timestamp",
          "status"
        ],
        "type": "object"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_mxedge_upgrade": {
        "additionalProperties": false,
        "description": "Mist Edge upgrade details response",
        "properties": {
          "channel": {
            "description": "Upgrade channel used to select Mist Edge package versions",
            "minLength": 1,
            "type": "string"
          },
          "counts": {
            "$ref": "#/components/schemas/mxedge_upgrade_response_counts",
            "description": "Per-status counts of Mist Edge targets in this upgrade"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Upgrade identifier for this Mist Edge upgrade request"
          },
          "status": {
            "description": "Current status of the Mist Edge upgrade",
            "minLength": 1,
            "type": "string"
          },
          "strategy": {
            "description": "Rollout strategy used for the Mist Edge upgrade",
            "minLength": 1,
            "type": "string"
          },
          "versions": {
            "additionalProperties": true,
            "description": "Per-service target versions for this Mist Edge upgrade",
            "type": "object"
          }
        },
        "required": [
          "status",
          "strategy",
          "versions",
          "channel",
          "id",
          "counts"
        ],
        "type": "object"
      },
      "response_mxedge_upgrades": {
        "description": "Mist Edge upgrade records returned by list upgrade operations",
        "items": {
          "$ref": "#/components/schemas/response_mxedge_upgrade"
        },
        "type": "array"
      },
      "response_site_device_upgrade": {
        "additionalProperties": false,
        "description": "Site device upgrade job details",
        "properties": {
          "canary_phases": {
            "$ref": "#/components/schemas/response_site_device_upgrade_canary_phases",
            "description": "Canary deployment phase percentages configured for the upgrade"
          },
          "current_phase": {
            "description": "Current canary or rrm phase in progress",
            "type": "integer"
          },
          "enable_p2p": {
            "default": false,
            "description": "Whether to allow local AP-to-AP FW upgrade",
            "type": "boolean"
          },
          "force": {
            "description": "Whether to force upgrade when requested version is same as running version",
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier for the site device upgrade job"
          },
          "max_failure_percentage": {
            "description": "Percentage of failures allowed",
            "type": "integer"
          },
          "max_failures": {
            "$ref": "#/components/schemas/upgrade_devices_max_failures",
            "description": "Per-phase failure thresholds configured for a canary upgrade"
          },
          "p2p_cluster_size": {
            "default": 10,
            "description": "size to split the devices for p2p",
            "type": "integer"
          },
          "p2p_parallelism": {
            "default": 1,
            "description": "number of parallel p2p download batches to create",
            "type": "integer"
          },
          "reboot_at": {
            "description": "reboot start time in epoch",
            "type": "integer"
          },
          "start_time": {
            "description": "Firmware download start time in epoch",
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/upgrade_device_status",
            "description": "Current status of the site device upgrade job"
          },
          "strategy": {
            "$ref": "#/components/schemas/upgrade_device_strategy",
            "description": "Device upgrade strategy used by this job"
          },
          "target_version": {
            "description": "Version to upgrade to",
            "minLength": 1,
            "type": "string"
          },
          "targets": {
            "$ref": "#/components/schemas/upgrade_devices_targets",
            "description": "Device targets grouped by upgrade and download status"
          },
          "upgrade_plan": {
            "$ref": "#/components/schemas/upgrade_devices_plans",
            "description": "Phase-to-device upgrade plan for non-big-bang strategies"
          }
        },
        "required": [
          "id"
        ],
        "type": "object"
      },
      "response_site_device_upgrade_canary_phases": {
        "default": [
          1,
          10,
          50,
          100
        ],
        "description": "phases for canary deployment. Each phase represents percentage of devices that need to be upgraded in that phase.",
        "items": {
          "type": "integer"
        },
        "type": "array"
      },
      "response_site_device_upgrades": {
        "description": "Site device upgrade jobs returned by list operations",
        "items": {
          "$ref": "#/components/schemas/response_site_device_upgrades_item"
        },
        "type": "array"
      },
      "response_site_device_upgrades_item": {
        "additionalProperties": false,
        "description": "Site device upgrade job summary",
        "properties": {
          "counts": {
            "$ref": "#/components/schemas/upgrade_site_devices_counts",
            "description": "Device counts grouped by upgrade status for this job"
          },
          "current_phase": {
            "description": "Current canary or rrm phase in progress",
            "type": "integer"
          },
          "enable_p2p": {
            "description": "Whether to allow local AP-to-AP FW upgrade",
            "type": "boolean"
          },
          "force": {
            "description": "Whether to force upgrade when requested version is same as running version",
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier for the site device upgrade job"
          },
          "max_failure_percentage": {
            "description": "Percentage of failures allowed",
            "type": "integer"
          },
          "max_failures": {
            "$ref": "#/components/schemas/upgrade_devices_max_failures",
            "description": "Per-phase failure thresholds configured for a canary upgrade"
          },
          "reboot_at": {
            "description": "reboot start time in epoch",
            "type": "integer"
          },
          "start_time": {
            "description": "Firmware download start time in epoch",
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/upgrade_device_status",
            "description": "Current status of the site device upgrade job"
          },
          "strategy": {
            "$ref": "#/components/schemas/upgrade_device_strategy",
            "description": "Device upgrade strategy used by this job"
          },
          "target_version": {
            "description": "Version to upgrade to",
            "minLength": 1,
            "type": "string"
          },
          "upgrade_plan": {
            "additionalProperties": true,
            "description": "a dictionary of rrm phase number to devices part of that phase",
            "type": "object"
          }
        },
        "required": [
          "id"
        ],
        "type": "object"
      },
      "response_ssr_upgrade": {
        "additionalProperties": false,
        "description": "SSR firmware upgrade job summary",
        "properties": {
          "channel": {
            "description": "Firmware release channel used for the SSR upgrade",
            "minLength": 1,
            "type": "string"
          },
          "counts": {
            "$ref": "#/components/schemas/response_ssr_upgrade_counts",
            "description": "Device counts grouped by SSR upgrade status"
          },
          "device_type": {
            "description": "Type of devices targeted by the SSR upgrade",
            "type": "string"
          },
          "force": {
            "default": false,
            "description": "Whether the upgrade was forced even when the requested version matched the running version",
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier for the SSR upgrade job"
          },
          "status": {
            "description": "Current status of the SSR upgrade job",
            "minLength": 1,
            "type": "string"
          },
          "strategy": {
            "description": "Upgrade strategy used by the SSR upgrade job",
            "minLength": 1,
            "type": "string"
          },
          "versions": {
            "additionalProperties": {
              "type": "string"
            },
            "description": "SSR firmware versions included in the upgrade job",
            "type": "object"
          }
        },
        "required": [
          "status",
          "strategy",
          "versions",
          "channel",
          "id",
          "counts",
          "device_type"
        ],
        "type": "object"
      },
      "response_ssr_upgrade_counts": {
        "additionalProperties": false,
        "description": "Device counts grouped by SSR upgrade status",
        "properties": {
          "failed": {
            "description": "Number of SSR devices that failed the upgrade",
            "type": "integer"
          },
          "queued": {
            "description": "Number of SSR devices queued for upgrade",
            "type": "integer"
          },
          "success": {
            "description": "Number of SSR devices successfully upgraded",
            "type": "integer"
          },
          "upgrading": {
            "description": "Number of SSR devices currently upgrading",
            "type": "integer"
          }
        },
        "required": [
          "queued",
          "upgrading",
          "success",
          "failed"
        ],
        "type": "object"
      },
      "response_ssr_upgrade_status": {
        "additionalProperties": false,
        "description": "Detailed status for an SSR firmware upgrade job",
        "properties": {
          "channel": {
            "description": "Firmware release channel used for the SSR upgrade",
            "minLength": 1,
            "type": "string"
          },
          "device_type": {
            "description": "Type of devices targeted by the SSR upgrade",
            "type": "string"
          },
          "force": {
            "default": false,
            "description": "Whether the upgrade was forced even when the requested version matched the running version",
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier for the SSR upgrade job"
          },
          "status": {
            "description": "Current status of the SSR upgrade job",
            "minLength": 1,
            "type": "string"
          },
          "strategy": {
            "description": "Upgrade strategy used by the SSR upgrade job",
            "minLength": 1,
            "type": "string"
          },
          "targets": {
            "$ref": "#/components/schemas/response_ssr_upgrade_status_targets",
            "description": "SSR device IDs grouped by upgrade status"
          },
          "versions": {
            "additionalProperties": true,
            "description": "SSR firmware versions included in the upgrade job",
            "type": "object"
          }
        },
        "required": [
          "status",
          "versions",
          "channel",
          "id",
          "targets"
        ],
        "type": "object"
      },
      "response_ssr_upgrade_status_targets": {
        "additionalProperties": false,
        "description": "SSR device IDs grouped by upgrade status",
        "properties": {
          "failed": {
            "$ref": "#/components/schemas/strings",
            "description": "SSR device IDs that failed the upgrade"
          },
          "queued": {
            "$ref": "#/components/schemas/strings",
            "description": "SSR device IDs queued for upgrade"
          },
          "success": {
            "$ref": "#/components/schemas/strings",
            "description": "SSR device IDs successfully upgraded"
          },
          "upgrading": {
            "$ref": "#/components/schemas/strings",
            "description": "SSR device IDs currently upgrading"
          }
        },
        "required": [
          "queued",
          "upgrading",
          "success",
          "failed"
        ],
        "type": "object"
      },
      "response_ssr_upgrades": {
        "description": "SSR firmware upgrade jobs returned by list operations",
        "items": {
          "$ref": "#/components/schemas/response_ssr_upgrade"
        },
        "type": "array"
      },
      "response_upgrade_id": {
        "additionalProperties": false,
        "description": "Response containing an upgrade job identifier",
        "properties": {
          "upgrade_id": {
            "description": "Unique value identifying the queued upgrade job",
            "examples": [
              "4316c116-0acb-4c43-8f06-6723154e741e"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "upgrade_id"
        ],
        "type": "object"
      },
      "response_upgrade_org_devices": {
        "additionalProperties": false,
        "description": "Organization AP upgrade job details",
        "properties": {
          "enable_p2p": {
            "description": "Whether to allow local AP-to-AP FW upgrade",
            "type": "boolean"
          },
          "force": {
            "description": "Whether to force upgrade when requested version is same as running version",
            "type": "boolean"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique value identifying the organization upgrade job"
          },
          "strategy": {
            "$ref": "#/components/schemas/upgrade_device_strategy",
            "description": "Execution strategy used for the organization upgrade job"
          },
          "target_version": {
            "description": "Firmware version targeted by the organization AP upgrade",
            "examples": [
              "0.14.29411"
            ],
            "type": "string"
          },
          "upgrades": {
            "$ref": "#/components/schemas/upgrade_org_devices_upgrade_infos",
            "description": "Per-site upgrade jobs created for the organization upgrade"
          }
        },
        "type": "object"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "ssr_upgrade": {
        "description": "Request to upgrade a single SSR device",
        "properties": {
          "channel": {
            "$ref": "#/components/schemas/ssr_upgrade_channel",
            "description": "Firmware release channel to use for the SSR upgrade"
          },
          "force": {
            "default": false,
            "description": "When true, forces the upgrade even when the requested version matches the currently running version; default is false",
            "type": "boolean"
          },
          "reboot_at": {
            "description": "Reboot start time in epoch seconds, default is start_time, -1 disables reboot",
            "type": "integer"
          },
          "start_time": {
            "description": "128T firmware download start time in epoch seconds, default is now, -1 disables download",
            "type": "integer"
          },
          "version": {
            "default": "stable",
            "description": "128T firmware version to upgrade (e.g. 5.3.0-93)",
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "version"
        ],
        "type": "object"
      },
      "ssr_upgrade_channel": {
        "default": "stable",
        "description": "upgrade channel to follow. enum: `alpha`, `beta`, `stable`",
        "enum": [
          "alpha",
          "beta",
          "stable"
        ],
        "type": "string"
      },
      "ssr_upgrade_multi": {
        "description": "Request to upgrade multiple SSR devices",
        "properties": {
          "channel": {
            "$ref": "#/components/schemas/ssr_upgrade_channel",
            "description": "Firmware release channel to use for the SSR upgrade"
          },
          "device_ids": {
            "$ref": "#/components/schemas/ssr_upgrade_multi_device_ids",
            "description": "List of 128T device IDs to upgrade; currently only one 128T device is allowed"
          },
          "force": {
            "default": false,
            "description": "When true, forces the upgrade even when the requested version matches the currently running version; default is false",
            "type": "boolean"
          },
          "reboot_at": {
            "description": "Reboot start time in epoch seconds, default is start_time, -1 disables reboot",
            "type": "integer"
          },
          "start_time": {
            "description": "128T firmware download start time in epoch seconds, default is now, -1 disables download",
            "type": "integer"
          },
          "strategy": {
            "$ref": "#/components/schemas/ssr_upgrade_strategy",
            "description": "Upgrade rollout strategy for the targeted SSR devices"
          },
          "version": {
            "description": "128T firmware version to upgrade (e.g. 5.3.0-93)",
            "minLength": 1,
            "type": "string"
          }
        },
        "required": [
          "device_ids"
        ],
        "type": "object"
      },
      "ssr_upgrade_multi_device_ids": {
        "description": "List of 128T device IDs to upgrade; currently only one 128T device is allowed",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "ssr_upgrade_strategy": {
        "default": "big_bang",
        "description": "enum:\n  * `big_bang`: upgrade all at once\n  * `serial`: one at a time",
        "enum": [
          "big_bang",
          "serial"
        ],
        "type": "string"
      },
      "ssr_version": {
        "additionalProperties": false,
        "description": "SSR firmware version available for upgrade",
        "properties": {
          "default": {
            "description": "Whether this is the default SSR firmware version for its channel",
            "readOnly": true,
            "type": "boolean"
          },
          "package": {
            "description": "Firmware package name for this SSR version",
            "readOnly": true,
            "type": "string"
          },
          "tags": {
            "$ref": "#/components/schemas/strings",
            "description": "Metadata labels associated with this SSR firmware version"
          },
          "version": {
            "description": "Firmware version string available for SSR upgrades",
            "readOnly": true,
            "type": "string"
          }
        },
        "required": [
          "package",
          "version"
        ],
        "type": "object"
      },
      "ssr_version_channel": {
        "default": "stable",
        "description": "enum: `stable`, `beta`, `alpha`",
        "enum": [
          "alpha",
          "beta",
          "stable"
        ],
        "type": "string"
      },
      "ssr_versions": {
        "description": "SSR firmware versions available for upgrade",
        "items": {
          "$ref": "#/components/schemas/ssr_version"
        },
        "type": "array",
        "uniqueItems": true
      },
      "strings": {
        "description": "Unique string values returned or accepted by this schema",
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "timestamp": {
        "description": "Epoch timestamp, in seconds",
        "format": "double",
        "readOnly": true,
        "type": "number"
      },
      "upgrade_device_canary_phases": {
        "default": [
          1,
          10,
          50,
          100
        ],
        "description": "Only if `strategy`==`canary`. Phases for canary deployment. Each phase represents percentage of devices that need to be upgraded in that phase. default is [1, 10, 50, 100]",
        "items": {
          "type": "integer"
        },
        "type": "array"
      },
      "upgrade_device_models": {
        "description": "Models which will be selected for upgrade",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_device_rrm_mesh_upgrade": {
        "default": "sequential",
        "description": "For APs only and if `strategy`==`rrm`. Whether to upgrade mesh AP’s parallelly or sequentially at the end of the upgrade. enum: `parallel`, `sequential`",
        "enum": [
          "parallel",
          "sequential"
        ],
        "type": "string"
      },
      "upgrade_device_rrm_node_order": {
        "default": "fringe_to_center",
        "description": "For APs only and if `strategy`==`rrm`. Used in rrm to determine whether to start upgrade from fringe or center AP’s. enum: `center_to_fringe`, `fringe_to_center`",
        "enum": [
          "center_to_fringe",
          "fringe_to_center"
        ],
        "type": "string"
      },
      "upgrade_device_rule": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "Device selection rule keyed by match criterion, with string values to match",
        "type": "object"
      },
      "upgrade_device_rules": {
        "description": "Rules used to identify devices which will be selected for upgrade. Device will be selected as long as it satisfies any one rule  \nProperty key defines the type of matching, value is the string to match. e.g:\n  * `match_name`: Device name must match the property value\n  * `match_name[0:3]`: Device name must match the first 3 letters of the property value\n  * `match_name[2:6]`: Device name must match the property value from the 2nd to the 6th letter\n  * `match_model`: Device model must match the property value\n  * `match_model[1:3]`: Device model must match the property value from the 1st to the 3rd letter\n * `match_role`: Device role must match the property value\n  * `match_role[0:3]`: Device role must match the property value from the 1st to the 3rd letter\n * `match_evpn_role`: Device EVPN topology role must match the property value\n  * `match_evpn_role[0:3]`: Device EVPN topology role must match the property value from the 1st to the 3rd letter",
        "examples": [
          [
            {
              "match_model": "AP43",
              "match_name[2:8]": "access"
            },
            {
              "match_model": "AP45"
            }
          ]
        ],
        "items": {
          "$ref": "#/components/schemas/upgrade_device_rule"
        },
        "type": "array"
      },
      "upgrade_device_status": {
        "description": "status upgrade is in. enum: `cancelled`, `completed`, `created`, `downloaded`, `downloading`, `failed`, `upgrading`, `queued`",
        "enum": [
          "cancelled",
          "completed",
          "created",
          "downloaded",
          "downloading",
          "failed",
          "queued",
          "upgrading"
        ],
        "type": "string"
      },
      "upgrade_device_strategy": {
        "default": "big_bang",
        "description": "enum: `big_bang` (upgrade all at once), `canary`, `rrm` (APs only), `serial` (one at a time)",
        "enum": [
          "big_bang",
          "canary",
          "rrm",
          "serial"
        ],
        "type": "string"
      },
      "upgrade_devices_max_failure_percentage": {
        "default": 5,
        "description": "If `strategy`!=`big_bang`. percentage of failures allowed across the entire upgrade",
        "maximum": 100,
        "minimum": 0,
        "type": "integer"
      },
      "upgrade_devices_max_failures": {
        "description": "If `strategy`==`canary`. Number of failures allowed within each phase. Only applicable for `canary`. Array length should be same as `canary_phases`. Will be used if provided, else `max_failure_percentage` will be used",
        "items": {
          "type": "integer"
        },
        "type": "array"
      },
      "upgrade_devices_plan": {
        "description": "List of Devices MAC addresses part of the phase",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_devices_plans": {
        "additionalProperties": {
          "$ref": "#/components/schemas/upgrade_devices_plan"
        },
        "description": "If `strategy`!=`big_bang`, a dictionary of phase number to devices part of that phase",
        "type": "object"
      },
      "upgrade_devices_targets": {
        "additionalProperties": false,
        "description": "Read-only device target lists grouped by upgrade status",
        "properties": {
          "download_requested": {
            "$ref": "#/components/schemas/upgrade_devices_targets_download_requested",
            "description": "Device MAC addresses for devices requested to download firmware"
          },
          "downloaded": {
            "$ref": "#/components/schemas/upgrade_devices_targets_downloaded",
            "description": "Device MAC addresses for devices that have downloaded firmware"
          },
          "downloading": {
            "$ref": "#/components/schemas/upgrade_devices_targets_downloading",
            "description": "Device MAC addresses for devices currently downloading firmware"
          },
          "failed": {
            "$ref": "#/components/schemas/upgrade_devices_targets_failed",
            "description": "Device MAC addresses for devices that failed to upgrade"
          },
          "reboot_in_progress": {
            "$ref": "#/components/schemas/upgrade_devices_targets_reboot_in_progress",
            "description": "Device MAC addresses for devices currently rebooting"
          },
          "rebooted": {
            "$ref": "#/components/schemas/upgrade_devices_targets_rebooted",
            "description": "Device MAC addresses for devices that rebooted successfully"
          },
          "scheduled": {
            "$ref": "#/components/schemas/upgrade_devices_targets_scheduled",
            "description": "Device MAC addresses for devices scheduled for upgrade by the cloud"
          },
          "skipped": {
            "$ref": "#/components/schemas/upgrade_devices_targets_skipped",
            "description": "Device MAC addresses for devices skipped because the requested version matched the running version"
          },
          "total": {
            "description": "Count of devices part of this upgrade",
            "type": "integer"
          },
          "upgraded": {
            "$ref": "#/components/schemas/upgrade_devices_targets_upgraded",
            "description": "Device MAC addresses for devices that upgraded successfully"
          }
        },
        "readOnly": true,
        "type": "object"
      },
      "upgrade_devices_targets_download_requested": {
        "description": "List of device MAC addresses that the cloud requested to download firmware",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_devices_targets_downloaded": {
        "description": "List of device MAC addresses that have downloaded the firmware",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_devices_targets_downloading": {
        "description": "List of device MAC addresses that are currently downloading the firmware",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_devices_targets_failed": {
        "description": "List of device MAC addresses that failed to upgrade",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_devices_targets_reboot_in_progress": {
        "description": "List of device MAC addresses for devices that are rebooting",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_devices_targets_rebooted": {
        "description": "List of device MAC addresses that rebooted successfully",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_devices_targets_scheduled": {
        "description": "List of device MAC addresses that the cloud scheduled an upgrade for",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_devices_targets_skipped": {
        "description": "List of device MAC addresses that skipped upgrade because requested version was same as running version. Use force to always upgrade",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_devices_targets_upgraded": {
        "description": "List of device MAC addresses that upgraded successfully",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_info_status": {
        "description": "enum: `error`, `inprogress`, `scheduled`, `starting`, `success`",
        "enum": [
          "error",
          "inprogress",
          "scheduled",
          "starting",
          "success"
        ],
        "type": "string"
      },
      "upgrade_org_devices": {
        "description": "Organization-wide device upgrade request",
        "properties": {
          "all_sites": {
            "default": false,
            "description": "If `true`, will upgrade all sites in this org; overrides `site_ids`",
            "type": "boolean"
          },
          "canary_phases": {
            "$ref": "#/components/schemas/upgrade_device_canary_phases",
            "description": "Only if `strategy`==`canary`. Canary phase percentages for the organization upgrade"
          },
          "device_type": {
            "$ref": "#/components/schemas/device_type",
            "description": "Device family selected for the organization upgrade"
          },
          "download_strategy": {
            "$ref": "#/components/schemas/upgrade_org_devices_download_strategy",
            "description": "Firmware download orchestration strategy for the organization upgrade"
          },
          "enable_p2p": {
            "description": "For APs only. Whether to allow local AP-to-AP firmware upgrade",
            "type": "boolean"
          },
          "max_failure_percentage": {
            "$ref": "#/components/schemas/upgrade_devices_max_failure_percentage",
            "description": "If `strategy`!=`big_bang`. Allowed failure percentage across the organization upgrade"
          },
          "max_failures": {
            "$ref": "#/components/schemas/upgrade_devices_max_failures",
            "description": "If `strategy`==`canary`. Per-phase failure limits for the organization upgrade"
          },
          "models": {
            "$ref": "#/components/schemas/upgrade_org_devices_models",
            "description": "Device models selected for the organization upgrade"
          },
          "p2p_cluster_size": {
            "default": 10,
            "description": "For APs only. Size to split devices for peer-to-peer download batches; default 10",
            "examples": [
              10
            ],
            "minimum": 0,
            "type": "integer"
          },
          "p2p_parallelism": {
            "description": "For APs only. Number of parallel peer-to-peer download batches to create. If not set, automatically determined based on device count (<=50 uses 1, 51-100 uses 3, >100 uses 10)",
            "type": "integer"
          },
          "reboot_at": {
            "deprecated": true,
            "description": "Reboot start time in epoch seconds, default is `start_time`; deprecated, use `reboot_datetime` instead",
            "examples": [
              1624399840
            ],
            "type": "integer"
          },
          "reboot_datetime": {
            "description": "Reboot start time in ISO 8601 format; default is `start_datetime`. Exclude timezone component to use site local timezone",
            "examples": [
              "2024-06-13 15:00:00-07:00"
            ],
            "type": "string"
          },
          "reboot_strategy": {
            "$ref": "#/components/schemas/upgrade_device_strategy",
            "description": "Device reboot orchestration strategy for selected devices"
          },
          "rrm_first_batch_percentage": {
            "description": "For APs only and if `strategy`==`rrm`. Percentage of APs that need to be present in the first RRM batch",
            "examples": [
              2
            ],
            "type": "integer"
          },
          "rrm_max_batch_percentage": {
            "description": "For APs only and if `strategy`==`rrm`. Max percentage of APs that need to be present in each RRM batch",
            "examples": [
              10
            ],
            "type": "integer"
          },
          "rrm_mesh_upgrade": {
            "$ref": "#/components/schemas/upgrade_device_rrm_mesh_upgrade",
            "description": "For APs only and if `strategy`==`rrm`. Mesh AP upgrade order for the organization upgrade"
          },
          "rrm_node_order": {
            "$ref": "#/components/schemas/upgrade_device_rrm_node_order",
            "description": "For APs only and if `strategy`==`rrm`. AP ordering direction for RRM upgrade batches"
          },
          "rrm_slow_ramp": {
            "description": "For APs only and if `strategy`==`rrm`. True will make rrm batch sizes slowly ramp up",
            "type": "boolean"
          },
          "rules": {
            "$ref": "#/components/schemas/upgrade_device_rules",
            "description": "Selection rules used to choose devices for this organization upgrade"
          },
          "site_ids": {
            "$ref": "#/components/schemas/upgrade_org_devices_site_ids",
            "description": "Identifiers of sites used to limit the organization upgrade"
          },
          "snapshot": {
            "default": false,
            "description": "For Junos devices only. Perform recovery snapshot after device is rebooted",
            "type": "boolean"
          },
          "start_datetime": {
            "description": "Firmware download start time in ISO 8601 format; default is now. Exclude timezone component to use site local timezone",
            "examples": [
              "2024-06-13 15:00:00-07:00"
            ],
            "type": "string"
          },
          "start_time": {
            "deprecated": true,
            "description": "Firmware download start time in epoch seconds, default is now; deprecated, use `start_datetime` instead",
            "examples": [
              1624399840
            ],
            "type": "integer"
          },
          "strategy": {
            "$ref": "#/components/schemas/upgrade_device_strategy",
            "deprecated": true,
            "description": "Deprecated; use `download_strategy` and `reboot_strategy` instead. `big_bang` (upgrade all at once, no orchestration), `serial` (one at a time), `canary`, or `rrm` (AP only); default is big_bang"
          },
          "version": {
            "deprecated": true,
            "description": "Deprecated; use `versions` instead. Specific firmware version, `suggested`, or `alpha`; default is latest",
            "type": "string"
          },
          "versions": {
            "$ref": "#/components/schemas/upgrade_org_devices_versions",
            "description": "Target firmware versions for this organization upgrade"
          }
        },
        "type": "object"
      },
      "upgrade_org_devices_download_strategy": {
        "default": "big_bang",
        "description": "enum:\n  * `big_bang`: download all at once, no orchestration\n  * `serial`: one at a time'\n  * `canary`: upgrade in phases",
        "enum": [
          "canary",
          "big_bang",
          "serial"
        ],
        "type": "string"
      },
      "upgrade_org_devices_item": {
        "additionalProperties": false,
        "description": "Organization device upgrade job returned by upgrade APIs",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier for the organization upgrade job"
          },
          "site_upgrades": {
            "$ref": "#/components/schemas/upgrade_org_devices_item_site_upgrades",
            "description": "Per-site upgrade jobs created by this organization upgrade"
          }
        },
        "type": "object"
      },
      "upgrade_org_devices_item_site_upgrade": {
        "additionalProperties": false,
        "description": "Site upgrade mapping returned for an organization upgrade",
        "properties": {
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Identifier of the site that received this upgrade job"
          },
          "upgrade_id": {
            "description": "Identifier of the site-level upgrade job",
            "examples": [
              "ebbdbd0b-1bcf-4e55-8a6a-3416049a52b1"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "type": "object"
      },
      "upgrade_org_devices_item_site_upgrades": {
        "description": "Site-level upgrade jobs created for an organization upgrade",
        "items": {
          "$ref": "#/components/schemas/upgrade_org_devices_item_site_upgrade"
        },
        "type": "array"
      },
      "upgrade_org_devices_list": {
        "description": "Organization device upgrade jobs returned by a list response",
        "items": {
          "$ref": "#/components/schemas/upgrade_org_devices_item"
        },
        "type": "array"
      },
      "upgrade_org_devices_models": {
        "description": "Only devices of these model types will be selected for upgrade",
        "items": {
          "$ref": "#/components/schemas/strings"
        },
        "type": "array"
      },
      "upgrade_org_devices_site_ids": {
        "description": "Only devices belonging to these sites will be selected for upgrade. Will be ignored if `all_sites`==`true`",
        "items": {
          "format": "uuid",
          "type": "string"
        },
        "type": "array"
      },
      "upgrade_org_devices_upgrade": {
        "additionalProperties": false,
        "description": "Upgrade entry for a single site within an organization upgrade job",
        "properties": {
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Identifier of the site for this upgrade entry"
          },
          "upgrade": {
            "$ref": "#/components/schemas/upgrade_org_devices_upgrade_info",
            "description": "Site-level job details for this upgrade entry"
          }
        },
        "type": "object"
      },
      "upgrade_org_devices_upgrade_info": {
        "additionalProperties": false,
        "description": "Site-level upgrade job details within an organization upgrade",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique value identifying the site-level upgrade job"
          },
          "start_time": {
            "description": "Epoch timestamp, in seconds, when the site-level upgrade starts",
            "examples": [
              1717658765
            ],
            "type": "integer"
          },
          "status": {
            "$ref": "#/components/schemas/upgrade_device_status",
            "description": "Current status of the site-level upgrade job"
          },
          "targets": {
            "$ref": "#/components/schemas/upgrade_devices_targets",
            "description": "Device targets grouped by upgrade state"
          }
        },
        "type": "object"
      },
      "upgrade_org_devices_upgrade_infos": {
        "description": "Per-site upgrade entries created for an organization device upgrade",
        "items": {
          "$ref": "#/components/schemas/upgrade_org_devices_upgrade"
        },
        "type": "array"
      },
      "upgrade_org_devices_version": {
        "additionalProperties": false,
        "description": "Target firmware version entry for an organization upgrade request",
        "properties": {
          "firmware_type": {
            "$ref": "#/components/schemas/upgrade_org_devices_version_firmware_type",
            "description": "Firmware family this version entry applies to"
          },
          "force": {
            "default": false,
            "description": "Set to `true` to force upgrade. For `device_type`==`ap`, applies when target version <= running version. For `device_type`==`gateway` with `firmware_type`==`ssr`, applies only when target version == running version; default false",
            "type": "boolean"
          },
          "model_version": {
            "$ref": "#/components/schemas/upgrade_org_devices_version_model_version",
            "description": "Map of device model to firmware version; overrides `version` for the specified models"
          },
          "version": {
            "description": "Firmware version to deploy for this entry",
            "type": "string"
          }
        },
        "type": "object"
      },
      "upgrade_org_devices_version_firmware_type": {
        "description": "Firmware family this version entry applies to. enum: `ap`, `junos`, `ssr`",
        "enum": [
          "ap",
          "junos",
          "ssr"
        ],
        "type": "string"
      },
      "upgrade_org_devices_version_model_version": {
        "additionalProperties": {
          "type": "string"
        },
        "description": "If `firmware_type`==`junos`, used to select different versions for different models (Overrides `version` for the specified models). Property key is the hadware model (e.g. `EX4400-24MP`), Property value is the firmware version (e.g. `23.4R1.9`)",
        "type": "object"
      },
      "upgrade_org_devices_versions": {
        "description": "Target firmware version entries for an organization upgrade request",
        "items": {
          "$ref": "#/components/schemas/upgrade_org_devices_version"
        },
        "type": "array"
      },
      "upgrade_site_devices": {
        "description": "Site device upgrade request",
        "properties": {
          "canary_phases": {
            "$ref": "#/components/schemas/upgrade_device_canary_phases",
            "description": "Only if `strategy`==`canary`. Canary phase percentages for the site upgrade"
          },
          "device_ids": {
            "$ref": "#/components/schemas/upgrade_site_devices_device_ids",
            "description": "Specific device IDs selected for the site upgrade"
          },
          "enable_p2p": {
            "description": "For APs only. Whether to allow local AP-to-AP FW upgrade",
            "type": "boolean"
          },
          "force": {
            "default": false,
            "description": "`force`==`true` will force upgrade when requested version is same as running version",
            "type": "boolean"
          },
          "max_failure_percentage": {
            "$ref": "#/components/schemas/upgrade_devices_max_failure_percentage",
            "description": "If `strategy`!=`big_bang`. Allowed failure percentage across the site upgrade"
          },
          "max_failures": {
            "$ref": "#/components/schemas/upgrade_devices_max_failures",
            "description": "If `strategy`==`canary`. Per-phase failure limits for the site upgrade"
          },
          "models": {
            "$ref": "#/components/schemas/upgrade_device_models",
            "description": "Device models selected for the site upgrade"
          },
          "p2p_cluster_size": {
            "default": 10,
            "description": "For APs only and if `enable_p2p`==`true`. Size to split devices for peer-to-peer download batches; default 10",
            "examples": [
              10
            ],
            "minimum": 0,
            "type": "integer"
          },
          "p2p_parallelism": {
            "description": "For APs only and if `enable_p2p`==`true`. Number of parallel peer-to-peer download batches to create. If not set, automatically determined based on device count (<=50 uses 1, 51-100 uses 3, >100 uses 10)",
            "type": "integer"
          },
          "reboot": {
            "default": false,
            "description": "For Switches and Gateways only (APs are automatically rebooted). Reboot device immediately after upgrade is completed",
            "type": "boolean"
          },
          "reboot_at": {
            "description": "For Switches and Gateways only and if `reboot`==`true`. Reboot start time in epoch seconds, default is `start_time`",
            "examples": [
              1624399840
            ],
            "type": "integer"
          },
          "rrm_first_batch_percentage": {
            "description": "For APs only and if `strategy`==`rrm`. Percentage of APs that need to be present in the first RRM batch",
            "examples": [
              2
            ],
            "type": "integer"
          },
          "rrm_max_batch_percentage": {
            "description": "For APs only and if `strategy`==`rrm`. Max percentage of APs that need to be present in each RRM batch",
            "examples": [
              10
            ],
            "type": "integer"
          },
          "rrm_mesh_upgrade": {
            "$ref": "#/components/schemas/upgrade_device_rrm_mesh_upgrade",
            "description": "For APs only and if `strategy`==`rrm`. Mesh AP upgrade order for the site upgrade"
          },
          "rrm_node_order": {
            "$ref": "#/components/schemas/upgrade_device_rrm_node_order",
            "description": "For APs only and if `strategy`==`rrm`. AP ordering direction for RRM upgrade batches"
          },
          "rrm_slow_ramp": {
            "description": "For APs only and if `strategy`==`rrm`. True will make rrm batch sizes slowly ramp up",
            "type": "boolean"
          },
          "rules": {
            "$ref": "#/components/schemas/upgrade_device_rules",
            "description": "Selection rules used to choose devices for this site upgrade"
          },
          "snapshot": {
            "default": false,
[...]
