{
  "openapi": "3.1.0",
  "info": {
    "title": "Utilities PCAPs",
    "version": "2607.1.0"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to start, stop or managed Packet Captures at the device level",
      "name": "Utilities PCAPs"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/pcaps": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "List organization packet capture sessions and generated capture files for the selected time range.",
        "operationId": "listOrgPacketCaptures",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PcapsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listOrgPacketCaptures",
        "tags": [
          "Utilities PCAPs"
        ]
      }
    },
    "/api/v1/orgs/{org_id}/pcaps/capture": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        }
      ],
      "get": {
        "description": "Retrieve the current organization packet capture status, including active capture targets and progress.",
        "operationId": "getOrgCapturingStatus",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PcapStatus"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getOrgCapturingStatus",
        "tags": [
          "Utilities PCAPs"
        ]
      },
      "post": {
        "description": "Start an organization-level packet capture for org-level Mist Edges\n\n**NOTE**: For packet captures of org level Mist Edges only. Use [Start Site Packet Capture](/#operations/startSitePacketCapture) for site level Mist Edges. \n\nThe output will be available through websocket. As there can be multiple commands issued against the same AP at the same time and the output all goes through the same websocket stream, session is introduced for demux.\n\n#### Subscribe to Device Command outputs\n`WS /api-ws/v1/stream`\n\n```json\n{\n    \"subscribe\": \"/orgs/:org_id/pcaps\"\n}\n```\n#### Response (MxEdge)\n```json\n{\n  \"event\": \"data\"\n  \"channel\": \"/orgs/67970e46-4e12-11e6-9188-0242ac110007/pcaps\"\n  \"data\": {\n      \"capture_id\": \"f039b1b4-a23e-48b2-906a-0da40524de73\", \n      \"pcap_dict\": {\n          \"dst_mac\": \"68:ec:c5:09:2e:87\",\n          \"src_mac\": \"8c:3b:ad:e0:47:40\", \n          \"vlan\": 1, \n          \"src_ip\": \"34.224.147.117\", \n          \"dst_ip\": \"192.168.1.55\",\n          \"dst_port\": 51635, \n          \"src_port\": 443,\n          \"protocol\": \"TCP\", \n          \"mxedge_id\": \"00000000-0000-0000-1000-001122334455\",\n          \"direction\": \"tx\", \n          \"timestamp\": 1652247615, \n          \"length\": 159.0, \n          \"lost_messages\": 0,\n          \"interface\": \"port0\",\n          \"info\": \"1652247616.007409 IP ec2-34-224-147-117.compute-1.amazonaws.com.https > ip-192-168-1-55.ec2.internal.51635: Flags [P.], seq \\n                    2192123968:2192124057, ack 4035166782, win 12, options [nop,nop,TS val 597467050 ecr 740580660], length 89\\\\n\",\n          }, \n      \"pcap_raw\": \"1MOyoQIABAAAAAAAAAAAAP//AAABAAAAQEx7YhMzAACfAAAAnwAAAGjsxQkuh4w7reBHQIEAAAEIAEUAAI1bLEAAKAZ/CiLgk3XAqAE3AbvJs4KpKEDwg8I+gBgADFf9AAABAQgKI5yfqiwkXTQXAwMAVKY5JopoKQrVEn0/3ld4YntctGEH/rTZuwtCvzSncFw71QJveJi9uxHs57KC8w9Apph3YvXJrmWg7M37+o+YV0KH/xmr626s5Bkhb3QhKOu+NoNEmA==\"\n    }\n}\n```\n#### Stop Response\n```json\n{\n  \"event\": \"data\"\n  \"channel\": \"/orgs/67970e46-4e12-11e6-9188-0242ac110007/pcaps\"\n  \"data\": {\n      \"capture_id\": \"a2f7374d-6a70-41fd-8a3f-71e42573baaf\",\n      \"pcap_dict\": null\n  }\n}\n```",
        "operationId": "startOrgPacketCapture",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "MxEdge-Packet-Capture": {
                  "value": {
                    "duration": 600,
                    "format": "stream",
                    "max_pkt_len": 1500,
                    "mxedges": {
                      "00000000-0000-0000-1000-001122334455": {
                        "interfaces": {
                          "port1": {
                            "tcpdump_expression": "udp port 67 or udp port 68"
                          }
                        }
                      }
                    },
                    "num_packets": 100,
                    "type": "mxedge"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/capture_org"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PcapStart"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "startOrgPacketCapture",
        "tags": [
          "Utilities PCAPs"
        ]
      },
      "delete": {
        "description": "Stop the currently running organization packet capture and end its websocket output stream.",
        "operationId": "stopOrgPacketCapture",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "stopOrgPacketCapture",
        "tags": [
          "Utilities PCAPs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/pcaps": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "List packet captures for a site, optionally filtered by client MAC address and time range. Use [List Org Packet Captures](/#operations/listOrgPacketCaptures) to retrieve packet captures across the organization.",
        "operationId": "listSitePacketCaptures",
        "parameters": [
          {
            "description": "Optional client mac filter",
            "in": "query",
            "name": "client_mac",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/duration"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PcapsSearch"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "listSitePacketCaptures",
        "tags": [
          "Utilities PCAPs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/pcaps/capture": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "get": {
        "description": "Get Capturing status",
        "operationId": "getSiteCapturingStatus",
        "responses": {
          "200": {
            "$ref": "#/components/responses/PcapStatus"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "getSiteCapturingStatus",
        "tags": [
          "Utilities PCAPs"
        ]
      },
      "post": {
        "description": "Initiate a Site Packet Capture\n\nThe output will be available through websocket. As there can be multiple commands issued against the same AP at the same time and the output all goes through the same websocket stream, session is introduced for demux.\n\n#### Subscribe to Device Command outputs\n`WS /api-ws/v1/stream`\n\n```json\n{\n    \"subscribe\": \"/sites/{site_id}/pcaps\"\n}\n```\n#### Response (MxEdge)\n```json\n{\n    \"event\": \"data\"\n    \"channel\": \"/sites/{site_id}/pcaps\"\n    \"data\": {\n         \"capture_id\": \"6b1be4fb-b239-44d9-9d3b-cb1ff3af1721\",\n     \"lost_messages\": 0\n         \"pcap_dict\": {\n             \"channel_frequency\": 2412,\n             \"channel\": \"1\",\n             \"datarate\": \"1.0 Mbps\",\n             \"rssi\": -75, \n             \"dst\": \"78:bd:bc:ca:0b:0a\",\n             \"src\": \"18:b8:1f:4c:91:c0\",\n             \"bssid\": \"18:b8:1f:4c:91:c0\",\n             \"frame_type\": \"Management\", \n             \"frame_subtype\": \"Probe Response\", \n         \"proto\": \"802.11\", \n             \"ap_mac\": \"d4:20:b0:81:99:2e\", \n             \"direction\": \"tx\", \n             \"timestamp\": 1652246543, \n             \"length\": 416.0,\n             \"interface\": \"radiotap\",\n             \"info\": \"1652246544.467733 1683216786us tsft 1.0 Mb/s 2412 MHz 11g -75dBm signal -82dBm noise antenna 0 Probe Response (ATTKmsWiVS) [1.0* 2.0* 5.5* 11.0* 18.0 24.0 36.0 54.0 Mbit] CH: 2, PRIVACY\\\\n\",\n         }, \n        \"pcap_raw\": \"1MOyoQIABAAAAAAAAAAAAP//AAABAAAAEEh7Yh5VBwCgAQAAoAEAAAAAKwBvCADAAQAAAIw7reCS2VNkAAAAABACbAmABLWuAAEAEBgAAwACAABQADoBeL28ygsKGLgfTJHAGLgfTJHAcIZ2WDlBJQAAAGQAERUACkFUVEttc1dpVlMBCIKEi5YkMEhsAwECBwZVUyABCx4gAQAjAhkAKgEEMgQMEhhgMBQBAAAPrAQBAAAPrAQBAAAPrAIMAAsFAQAbAABGBTIIAQAALRqtCR////8AAAAAAAAAAAAAAAAAAAAAAAAAAD0WAggVAAAAAAAAAAAAAAAAAAAAAAAAAH8IBAAIAAAAAEDdkwBQ8gQQSgABEBBEAAECEDsAAQMQRwAQn2481frn3KT+uGod2ERx+RAhAAtBcnJpcywgSW5jLhAjAApCR1cyMTAtNzAwECQACkJHVzIxMC03MDAQQgAKQkdXMjEwLTcwMBBUAAgABgBQ8gQAARARAA5BcnJpcyBXaXJlbGVzcxAIAAIgCBA8AAEBEEkABgA3KgABIN0JABAYAgEQHAAA3RgAUPICAQGEAAOkAAAnpAAAQkNeAGIyLwAzjakr\"\n}\n```\n\n#### Response (Wired)\n```json\n{\n    \"event\": \"data\"\n    \"channel\": \"/sites/67970e46-4e12-11e6-9188-0242ac110007/pcaps\"\n    \"data\": {\n        \"capture_id\": \"f039b1b4-a23e-48b2-906a-0da40524de73\", \n        \"pcap_dict\": {\n             \"dst_mac\": \"68:ec:c5:09:2e:87\",\n             \"src_mac\": \"8c:3b:ad:e0:47:40\", \n             \"vlan\": 1, \n             \"src_ip\": \"34.224.147.117\", \n             \"dst_ip\": \"192.168.1.55\",\n             \"dst_port\": 51635, \n             \"src_port\": 443,\n             \"proto\": \"TCP\", \n             \"ap_mac\": \"d4:20:b0:81:99:2e\",\n             \"direction\": \"tx\", \n             \"timestamp\": 1652247615, \n             \"length\": 159.0, \n             \"interface\": \"wired\",\n             \"info\": \"1652247616.007409 IP ec2-34-224-147-117.compute-1.amazonaws.com.https > ip-192-168-1-55.ec2.internal.51635: Flags [P.], seq 2192123968:2192124057, ack 4035166782, win 12, options [nop,nop,TS val 597467050 ecr 740580660], length 89\\\\n\",\n             }, \n        \"pcap_raw\": \"1MOyoQIABAAAAAAAAAAAAP//AAABAAAAQEx7YhMzAACfAAAAnwAAAGjsxQkuh4w7reBHQIEAAAEIAEUAAI1bLEAAKAZ/CiLgk3XAqAE3AbvJs4KpKEDwg8I+gBgADFf9AAABAQgKI5yfqiwkXTQXAwMAVKY5JopoKQrVEn0/3ld4YntctGEH/rTZuwtCvzSncFw71QJveJi9uxHs57KC8w9Apph3YvXJrmWg7M37+o+YV0KH/xmr626s5Bkhb3QhKOu+NoNEmA==\"\n\n    }\n}\n```\n\n#### Stop Response (Wired/Wireless)\n```json\n{\n    \"event\": \"data\"\n    \"channel\": \"/sites/67970e46-4e12-11e6-9188-0242ac110007/pcaps\"\n    \"data\": {\n      \"capture_id\": \"a2f7374d-6a70-41fd-8a3f-71e42573baaf\", \n      \"lost_messages\": 0,\n      \"pcap_dict\": null\n    }\n}\n```",
        "operationId": "startSitePacketCapture",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "AP-New-Wireless-Client-Associations-Packet-Capture": {
                  "value": {
                    "client_mac": "60a10a773412",
                    "duration": 600,
                    "includes_mcast": false,
                    "max_pkt_len": 128,
                    "num_packets": 100,
                    "type": "new_assoc"
                  }
                },
                "AP-Radiotap-Packet-Capture": {
                  "value": {
                    "duration": 600,
                    "max_pkt_len": 68,
                    "num_packets": 100,
                    "type": "radiotap"
                  }
                },
                "AP-Radiotap-Packet-Capture-and-Wired-Packet-Capture": {
                  "value": {
                    "ap_mac": "string",
                    "client_mac": "38f9d3972ff1",
                    "duration": 600,
                    "max_pkt_len": 128,
                    "num_packets": 1024,
                    "ssid": "string",
                    "type": "radiotap,wired"
                  }
                },
                "AP-Scan-radio-Packet-Capture": {
                  "value": {
                    "ap_mac": null,
                    "band": "24",
                    "bandwidth": 20,
                    "channel": 1,
                    "client_mac": "38f9d3972ff1",
                    "duration": 600,
                    "format": "stream",
                    "max_pkt_len": 68,
                    "num_packets": 100,
                    "tcpdump_expression": "tcp port 80",
                    "type": "scan"
                  }
                },
                "AP-Wired-Packet-Capture": {
                  "value": {
                    "duration": 600,
                    "max_pkt_len": 68,
                    "num_packets": 100,
                    "tcpdump_expression": "tcp port 80",
                    "type": "wired"
                  }
                },
                "AP-Wireless-Packet-Capture": {
                  "value": {
                    "ap_mac": null,
                    "band": "24",
                    "duration": 600,
                    "max_pkt_len": 128,
                    "num_packets": 100,
                    "type": "wireless"
                  }
                },
                "Client-Packet-Capture": {
                  "value": {
                    "client_mac": "60a10a773412",
                    "duration": 300,
                    "includes_mcast": false,
                    "max_pkt_len": 128,
                    "num_packets": 1000,
                    "type": "client"
                  }
                },
                "SSR-Packet-Capture": {
                  "value": {
                    "duration": 600,
                    "format": "stream",
                    "gateways": {
                      "001122334455": {
                        "ports": {
                          "ge-0/0/0": {
                            "tcpdump_expression": "tcp"
                          },
                          "ge-0/0/1": {
                            "tcpdump_expression": "port 443"
                          },
                          "ge-1/0/0": {
                            "tcpdump_expression": "tcp"
                          },
                          "ge-1/0/1": {
                            "tcpdump_expression": "port 443"
                          }
                        }
                      },
                      "001122334466": {
                        "ports": {
                          "ge-0/0/0": {
                            "tcpdump_expression": "udp"
                          },
                          "ge-0/0/1": {
                            "tcpdump_expression": "port 32768"
                          }
                        }
                      }
                    },
                    "max_pkt_len": 1500,
                    "num_packets": 100,
                    "type": "gateway"
                  }
                },
                "Switch-Packet-Capture": {
                  "value": {
                    "duration": 600,
                    "format": "stream",
                    "max_pkt_len": 1500,
                    "num_packets": 100,
                    "switches": {
                      "001122334455": {
                        "ports": {
                          "ge-0/0/0": {
                            "tcpdump_expression": "udp"
                          },
                          "ge-0/0/1": {},
                          "ge-1/0/0": {},
                          "ge-1/0/1": {}
                        }
                      },
                      "001122334466": {
                        "ports": {
                          "ge-0/0/0": {},
                          "ge-0/0/1": {}
                        }
                      }
                    },
                    "tcpdump_expression": "port 443",
                    "type": "switch"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/capture_site"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PcapStart"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "startSitePacketCapture",
        "tags": [
          "Utilities PCAPs"
        ]
      },
      "delete": {
        "description": "Stop current capture",
        "operationId": "stopSitePacketCapture",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "stopSitePacketCapture",
        "tags": [
          "Utilities PCAPs"
        ]
      }
    },
    "/api/v1/sites/{site_id}/pcaps/{pcap_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/pcap_id"
        }
      ],
      "put": {
        "description": "Update or add notes to a completed packet capture",
        "operationId": "updateSitePacketCapture",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "notes": "wired pcap test"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/notes_string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "updateSitePacketCapture",
        "tags": [
          "Utilities PCAPs"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "capture_client": {
        "additionalProperties": false,
        "description": "Initiate a Client Packet Capture",
        "properties": {
          "ap_mac": {
            "description": "AP MAC address used to target the client packet capture",
            "examples": [
              null
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "client_mac": {
            "description": "Client MAC address, required if `type`==`client`; optional otherwise",
            "examples": [
              "60a10a773412"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "duration": {
            "$ref": "#/components/schemas/capture_duration",
            "description": "Packet capture duration, in seconds"
          },
          "includes_mcast": {
            "default": false,
            "description": "Whether to include multicast traffic in the packet capture",
            "type": "boolean"
          },
          "max_pkt_len": {
            "$ref": "#/components/schemas/capture_max_pkt_length",
            "description": "Maximum number of bytes captured from each packet"
          },
          "num_packets": {
            "$ref": "#/components/schemas/capture_num_packets",
            "description": "Maximum number of packets to capture; use 0 for unlimited"
          },
          "ssid": {
            "description": "Optional SSID filter for the packet capture",
            "examples": [
              null
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "$ref": "#/components/schemas/capture_client_type",
            "description": "Packet capture type discriminator for client captures"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "capture_client_type": {
        "description": "Packet capture type discriminator for client captures. enum: `client`",
        "enum": [
          "client"
        ],
        "examples": [
          "client"
        ],
        "type": "string"
      },
      "capture_duration": {
        "default": 600,
        "description": "Duration of the capture, in seconds",
        "examples": [
          300
        ],
        "maximum": 86400,
        "minimum": 60,
        "type": [
          "integer",
          "null"
        ]
      },
      "capture_gateway": {
        "additionalProperties": false,
        "description": "Initiate a Gateway (SSR/SRX) Packet Capture",
        "properties": {
          "duration": {
            "$ref": "#/components/schemas/capture_duration",
            "description": "Packet capture duration, in seconds"
          },
          "format": {
            "$ref": "#/components/schemas/capture_gateway_format",
            "description": "Output format for the gateway packet capture"
          },
          "gateways": {
            "additionalProperties": {
              "$ref": "#/components/schemas/capture_gateway_gateways"
            },
            "description": "List of SSRs. Property key is the SSR MAC",
            "type": "object"
          },
          "max_pkt_len": {
            "default": 512,
            "description": "minimum is 64 (SSR) / 68 (SRX) maximum is 10240 (SSR) / 1520 (SRX)",
            "examples": [
              128
            ],
            "maximum": 1520,
            "minimum": 64,
            "type": [
              "integer",
              "null"
            ]
          },
          "num_packets": {
            "$ref": "#/components/schemas/capture_num_packets",
            "description": "Maximum number of packets to capture; use 0 for unlimited"
          },
          "ports": {
            "$ref": "#/components/schemas/capture_gateway_gateways_ports",
            "description": "Gateway ports to include in the packet capture"
          },
          "type": {
            "$ref": "#/components/schemas/capture_gateway_type",
            "description": "Packet capture type discriminator for gateway captures"
          }
        },
        "required": [
          "type",
          "gateways"
        ],
        "type": "object"
      },
      "capture_gateway_format": {
        "default": "stream",
        "description": "Output format for the gateway packet capture. enum: `stream`",
        "enum": [
          "stream"
        ],
        "examples": [
          "stream"
        ],
        "type": "string"
      },
      "capture_gateway_gateways": {
        "additionalProperties": false,
        "description": "Gateway-specific packet capture settings keyed under a gateway MAC address",
        "properties": {
          "ports": {
            "$ref": "#/components/schemas/capture_gateway_gateways_ports",
            "description": "Gateway ports to include in the capture, keyed by port ID"
          }
        },
        "type": "object"
      },
      "capture_gateway_gateways_port": {
        "additionalProperties": false,
        "description": "Per-port tcpdump filter for a gateway packet capture",
        "properties": {
          "tcpdump_expression": {
            "description": "tcpdump expression per port",
            "type": "string"
          }
        },
        "type": "object"
      },
      "capture_gateway_gateways_ports": {
        "additionalProperties": {
          "$ref": "#/components/schemas/capture_gateway_gateways_port"
        },
        "description": "Property key is the port ID",
        "type": "object"
      },
      "capture_gateway_type": {
        "description": "Packet capture type discriminator for gateway captures. enum: `gateway`",
        "enum": [
          "gateway"
        ],
        "examples": [
          "gateway"
        ],
        "type": "string"
      },
      "capture_max_pkt_length": {
        "default": 512,
        "description": "Maximum bytes captured from each packet, or null to use the default",
        "examples": [
          128
        ],
        "maximum": 2048,
        "minimum": 64,
        "type": [
          "integer",
          "null"
        ]
      },
      "capture_mxedge": {
        "additionalProperties": false,
        "description": "Initiate a Mist Edge Packet Capture",
        "properties": {
          "duration": {
            "default": 600,
            "description": "Packet capture duration, in seconds. Default is 600, minimum is 60 and maximum is 10800 (3h)",
            "examples": [
              600
            ],
            "maximum": 10800,
            "minimum": 60,
            "type": "integer"
          },
          "format": {
            "$ref": "#/components/schemas/capture_mxedge_format",
            "description": "Output format for the Mist Edge packet capture"
          },
          "max_pkt_len": {
            "default": 512,
            "description": "Max_len of each packet to capture. Default is 512, minimum is 64 and maximum is 2048",
            "examples": [
              512
            ],
            "maximum": 2048,
            "minimum": 64,
            "type": "integer"
          },
          "mxedges": {
            "additionalProperties": {
              "$ref": "#/components/schemas/capture_mxedge_mxedges"
            },
            "description": "Dict of Mist Edges to capture on, property key is the Mist Edge ID. Property value is a dict of interfaces to capture for the given Mist Edge (e.g. port1, kni0, lacp0, ipsec, drop, oobm)",
            "type": "object"
          },
          "num_packets": {
            "default": 1024,
            "description": "Number of packets to capture. Default is 1024, maximum is 10000, minimum 1, or 0 for unlimited (local/remote streaming only)",
            "examples": [
              100
            ],
            "maximum": 10000,
            "minimum": 0,
            "type": "integer"
          },
          "tcpdump_expression": {
            "description": "tcpdump expression, applicable across all interfaces if specified at top level. An interface-specific value (under the `interfaces` dict) overrides this top-level value.",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/capture_mxedge_type",
            "description": "Packet capture type discriminator for Mist Edge captures"
          },
          "tzsp_host": {
            "description": "Required if `format`==`tzsp`. Remote host accessible to mxedges over the network for receiving the captured packets",
            "examples": [
              "192.168.1.2"
            ],
            "type": "string"
          },
          "tzsp_port": {
            "default": 37008,
            "description": "Optional port on remote host for receiving the captured packets. Default is 37008 (TZSP)",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "capture_mxedge_format": {
        "default": "stream",
        "description": "PCAP format. enum: \n    * `stream`: to Mist cloud\n    * `tzsp`: stream packets (over UDP as TZSP packets) to a remote host (typically running Wireshark)",
        "enum": [
          "stream",
          "tzsp"
        ],
        "type": "string"
      },
      "capture_mxedge_mxedges": {
        "additionalProperties": false,
        "description": "Property key is the Mx Edge ID, currently limited to one mxedge per org capture session",
        "properties": {
          "interfaces": {
            "additionalProperties": {
              "$ref": "#/components/schemas/capture_mxedge_mxedges_interfaces"
            },
            "description": "Mx Edge interfaces to include in the capture, keyed by interface name"
          }
        },
        "type": "object"
      },
      "capture_mxedge_mxedges_interfaces": {
        "additionalProperties": false,
        "description": "Property key is the Port name (e.g. \"port1\", \"kni0\", \"lacp0\", \"ipsec\", \"drop\", \"oobm\"), currently limited to specifying one interface per mxedge",
        "properties": {
          "tcpdump_expression": {
            "description": "tcpdump expression common for wired,radiotap",
            "type": "string"
          }
        },
        "type": "object"
      },
      "capture_mxedge_type": {
        "description": "Packet capture type discriminator for Mist Edge captures. enum: `mxedge`",
        "enum": [
          "mxedge"
        ],
        "examples": [
          "mxedge"
        ],
        "type": "string"
      },
      "capture_new_assoc": {
        "additionalProperties": false,
        "description": "Initiate a packet Capture for New Wireless Client Associations",
        "properties": {
          "ap_mac": {
            "description": "AP MAC address used to target new association capture",
            "examples": [
              "a83a79a947ee"
            ],
            "type": "string"
          },
          "client_mac": {
            "description": "Client MAC address, required if `type`==`client`; optional otherwise",
            "examples": [
              "60a10a773412"
            ],
            "type": "string"
          },
          "duration": {
            "$ref": "#/components/schemas/capture_duration",
            "description": "Packet capture duration, in seconds"
          },
          "includes_mcast": {
            "default": false,
            "description": "Whether to include multicast traffic in the packet capture",
            "type": "boolean"
          },
          "max_pkt_len": {
            "$ref": "#/components/schemas/capture_max_pkt_length",
            "description": "Maximum number of bytes captured from each packet"
          },
          "num_packets": {
            "$ref": "#/components/schemas/capture_num_packets",
            "description": "Maximum number of packets to capture; use 0 for unlimited"
          },
          "ssid": {
            "description": "Optional SSID filter for new association capture",
            "examples": [
              null
            ],
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/capture_new_assoc_type",
            "description": "Packet capture type discriminator for new association captures"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "capture_new_assoc_type": {
        "description": "Packet capture type discriminator for new association captures. enum: `new_assoc`",
        "enum": [
          "new_assoc"
        ],
        "examples": [
          "new_assoc"
        ],
        "type": "string"
      },
      "capture_num_packets": {
        "default": 1024,
        "description": "number of packets to capture, 0 for unlimited, default is 1024, maximum is 10000",
        "examples": [
          1000
        ],
        "maximum": 10000,
        "minimum": 0,
        "type": [
          "integer",
          "null"
        ]
      },
      "capture_org": {
        "description": "Packet capture request payload for organization-level captures",
        "oneOf": [
          {
            "$ref": "#/components/schemas/capture_mxedge"
          }
        ]
      },
      "capture_radiotap": {
        "additionalProperties": false,
        "description": "Initiate a Radiotap Packet Capture",
        "properties": {
          "ap_mac": {
            "description": "AP MAC address used to target the radiotap packet capture",
            "examples": [
              "a83a79a947ee"
            ],
            "type": "string"
          },
          "band": {
            "$ref": "#/components/schemas/capture_radiotap_band",
            "description": "Radio band to capture for radiotap packets"
          },
          "client_mac": {
            "description": "Client MAC address used to filter the radiotap packet capture",
            "examples": [
              "38f9d3972ff1"
            ],
            "type": "string"
          },
          "duration": {
            "$ref": "#/components/schemas/capture_duration",
            "description": "Packet capture duration, in seconds"
          },
          "format": {
            "$ref": "#/components/schemas/capture_radiotap_format",
            "description": "Output format for the radiotap packet capture"
          },
          "max_pkt_len": {
            "$ref": "#/components/schemas/capture_max_pkt_length",
            "description": "Maximum number of bytes captured from each packet"
          },
          "num_packets": {
            "$ref": "#/components/schemas/capture_num_packets",
            "description": "Maximum number of packets to capture; use 0 for unlimited"
          },
          "ssid": {
            "description": "Wireless network SSID used to filter the radiotap packet capture",
            "examples": [
              "test"
            ],
            "type": "string"
          },
          "tcpdump_expression": {
            "$ref": "#/components/schemas/capture_tcpdump_expression",
            "description": "Filter expression applied to the radiotap packet capture"
          },
          "type": {
            "$ref": "#/components/schemas/capture_radiotap_type",
            "description": "Packet capture type discriminator for radiotap captures"
          },
          "wlan_id": {
            "description": "WLAN id associated with the respective ssid.",
            "examples": [
              "fac8e973-feb9-421a-b381-aabbc4b61f5a"
            ],
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "capture_radiotap_band": {
        "default": "24",
        "description": "enum: `24`, `24,5,6`, `5`, `6`",
        "enum": [
          "24",
          "24,5,6",
          "5",
          "6"
        ],
        "examples": [
          "24"
        ],
        "type": "string"
      },
      "capture_radiotap_format": {
        "default": "pcap",
        "description": "Output format for the radiotap packet capture. enum: `pcap`, `stream`",
        "enum": [
          "pcap",
          "stream"
        ],
        "examples": [
          "stream"
        ],
        "type": "string"
      },
      "capture_radiotap_type": {
        "description": "Packet capture type discriminator for radiotap captures. enum: `radiotap`",
        "enum": [
          "radiotap"
        ],
        "examples": [
          "radiotap"
        ],
        "type": "string"
      },
      "capture_radiotapwired": {
        "additionalProperties": false,
        "description": "Initiate a Radiotap Packet Capture and Wired Packet Capture",
        "properties": {
          "ap_mac": {
            "description": "AP MAC address used to target the combined radiotap and wired packet capture",
            "examples": [
              null
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "band": {
            "$ref": "#/components/schemas/capture_radiotapwired_band",
            "description": "Radio band to capture for the radiotap portion"
          },
          "client_mac": {
            "description": "Client MAC address used to filter the combined packet capture",
            "examples": [
              "38f9d3972ff1"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "duration": {
            "$ref": "#/components/schemas/capture_duration",
            "description": "Packet capture duration, in seconds"
          },
          "format": {
            "$ref": "#/components/schemas/capture_radiotapwired_format",
            "description": "Output format for the combined packet capture"
          },
          "max_pkt_len": {
            "$ref": "#/components/schemas/capture_max_pkt_length",
            "description": "Maximum number of bytes captured from each packet"
          },
          "num_packets": {
            "$ref": "#/components/schemas/capture_num_packets",
            "description": "Maximum number of packets to capture; use 0 for unlimited"
          },
          "radiotap_tcpdump_expression": {
            "description": "tcpdump expression for radiotap interface (802.11 + radio headers)",
            "examples": [
              "type"
            ],
            "type": "string"
          },
          "ssid": {
            "description": "Wireless network SSID used to filter the radiotap portion",
            "examples": [
              "test"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "tcpdump_expression": {
            "$ref": "#/components/schemas/capture_tcpdump_expression",
            "description": "Filter expression applied across the combined packet capture"
          },
          "type": {
            "$ref": "#/components/schemas/capture_radiotapwired_type",
            "description": "Packet capture type discriminator for combined radiotap and wired captures"
          },
          "wired_tcpdump_expression": {
            "$ref": "#/components/schemas/capture_tcpdump_expression",
            "description": "Filter expression applied to the wired portion of the capture"
          },
          "wireless_tcpdump_expression": {
            "description": "tcpdump expression for radiotap interface (802.11)",
            "type": "string"
          },
          "wlan_id": {
            "description": "WLAN id associated with the respective ssid.",
            "examples": [
              "fac8e973-feb9-421a-b381-aabbc4b61f5a"
            ],
            "type": [
              "string",
              "null"
            ]
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "capture_radiotapwired_band": {
        "default": "24",
        "description": "only used for radiotap. enum: `24`, `24,5,6`, `5`, `6`",
        "enum": [
          "24",
          "24,5,6",
          "5",
          "6"
        ],
        "examples": [
          "24"
        ],
        "type": "string"
      },
      "capture_radiotapwired_format": {
        "default": "pcap",
        "description": "Output format for the combined packet capture. enum: `pcap`, `stream`",
        "enum": [
          "pcap",
          "stream"
        ],
        "examples": [
          "stream"
        ],
        "type": "string"
      },
      "capture_radiotapwired_type": {
        "description": "Packet capture type discriminator for combined radiotap and wired captures. enum: `radiotap,wired`",
        "enum": [
          "radiotap,wired"
        ],
        "examples": [
          "radiotap,wired"
        ],
        "type": "string"
      },
      "capture_scan": {
        "additionalProperties": false,
        "description": "Initiate a Scan Radio Packet Capture",
        "properties": {
          "ap_mac": {
            "description": "AP MAC address used to filter the scan radio packet capture",
            "examples": [
              null
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "aps": {
            "additionalProperties": {
              "$ref": "#/components/schemas/capture_scan_aps"
            },
            "description": "Dictionary key is AP mac and value is a dictionary which contains key \"band\", \"bandwidth\", \"channel\" and \"tcpdump_expression\". In case keys are missed we will take parent value if parent values are not set we will use default value",
            "type": "object"
          },
          "band": {
            "$ref": "#/components/schemas/capture_scan_band",
            "description": "Radio band to capture for scan radio packets"
          },
          "bandwidth": {
            "$ref": "#/components/schemas/dot11_bandwidth",
            "description": "Channel bandwidth to use for the scan radio packet capture"
          },
          "channel": {
            "default": 1,
            "description": "Specify the channel value where scan PCAP has to be started, default value gets applied when user provides wrong values",
            "examples": [
              1
            ],
            "type": "integer"
          },
          "client_mac": {
            "description": "Client MAC address used to filter the scan radio packet capture",
            "examples": [
              "38f9d3972ff1"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "duration": {
            "$ref": "#/components/schemas/capture_duration",
            "description": "Packet capture duration, in seconds"
          },
          "format": {
            "$ref": "#/components/schemas/capture_scan_format",
            "description": "Output format for the scan radio packet capture"
          },
          "max_pkt_len": {
            "$ref": "#/components/schemas/capture_max_pkt_length",
            "description": "Maximum number of bytes captured from each packet"
          },
          "num_packets": {
            "$ref": "#/components/schemas/capture_num_packets",
            "description": "Maximum number of packets to capture; use 0 for unlimited"
          },
          "tcpdump_expression": {
            "description": "tcpdump expression, port specific if specified under ports dict, otherwise applicable across ports if specified at top level of payload. Port specific value overrides top level value when both exist.",
            "examples": [
              "tcp port 80"
            ],
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/capture_scan_type",
            "description": "Packet capture type discriminator for scan radio captures"
          },
          "width": {
            "description": "Specify the bandwidth value with respect to the channel.",
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "capture_scan_aps": {
        "additionalProperties": false,
        "description": "Property key is the AP MAC address (e.g. \"5c5b35000001\"). All optionals, parent parameters will be used if not defined",
        "properties": {
          "band": {
            "$ref": "#/components/schemas/capture_scan_aps_band",
            "description": "Radio band on which to start the scan capture"
          },
          "channel": {
            "description": "Specify the channel value where scan PCAP has to be started",
            "type": "string"
          },
          "tcpdump_expression": {
            "description": "tcpdump expression, port specific if specified under ports dict, otherwise applicable across ports if specified at top level of payload. Port specific value overrides top level value when both exist.",
            "type": "string"
          },
          "width": {
            "description": "Specify the bandwidth value with respect to the channel.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "capture_scan_aps_band": {
        "default": "24",
        "description": "Only Single value allowed. enum: `24`, `5`, `6`",
        "enum": [
          "24",
          "5",
          "6"
        ],
        "type": "string"
      },
      "capture_scan_band": {
        "default": "5",
        "description": "Only Single value allowed, default value gets applied when user provides wrong values. enum: `24`, `5`, `6`",
        "enum": [
          "24",
          "5",
          "6"
        ],
        "examples": [
          "24"
        ],
        "type": [
          "string",
          "null"
        ]
      },
      "capture_scan_format": {
        "default": "pcap",
        "description": "Output format for the scan radio packet capture. enum: `pcap`, `stream`",
        "enum": [
          "pcap",
          "stream"
        ],
        "examples": [
          "stream"
        ],
        "type": "string"
      },
      "capture_scan_type": {
        "description": "Packet capture type discriminator for scan radio captures. enum: `scan`",
        "enum": [
          "scan"
        ],
        "examples": [
          "scan"
        ],
        "type": "string"
      },
      "capture_site": {
        "description": "Packet capture request payload for site-level captures",
        "discriminator": {
          "mapping": {
            "client": "#/components/schemas/capture_client",
            "gateway": "#/components/schemas/capture_gateway",
            "new_assoc": "#/components/schemas/capture_new_assoc",
            "radiotap": "#/components/schemas/capture_radiotap",
            "radiotap,wired": "#/components/schemas/capture_radiotapwired",
            "scan": "#/components/schemas/capture_scan",
            "switch": "#/components/schemas/capture_switch",
            "wired": "#/components/schemas/capture_wired",
            "wireless": "#/components/schemas/capture_wireless"
          },
          "propertyName": "type"
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/capture_client"
          },
          {
            "$ref": "#/components/schemas/capture_gateway"
          },
          {
            "$ref": "#/components/schemas/capture_new_assoc"
          },
          {
            "$ref": "#/components/schemas/capture_radiotap"
          },
          {
            "$ref": "#/components/schemas/capture_radiotapwired"
          },
          {
            "$ref": "#/components/schemas/capture_scan"
          },
          {
            "$ref": "#/components/schemas/capture_switch"
          },
          {
            "$ref": "#/components/schemas/capture_wired"
          },
          {
            "$ref": "#/components/schemas/capture_wireless"
          }
        ]
      },
      "capture_switch": {
        "additionalProperties": false,
        "description": "Initiate a Switch (Junos) Packet Capture",
        "properties": {
          "duration": {
            "$ref": "#/components/schemas/capture_duration",
            "description": "Packet capture duration, in seconds"
          },
          "format": {
            "$ref": "#/components/schemas/capture_switch_format",
            "description": "Output format for the switch packet capture"
          },
          "max_pkt_len": {
            "$ref": "#/components/schemas/capture_max_pkt_length",
            "description": "Maximum number of bytes captured from each packet"
          },
          "num_packets": {
            "$ref": "#/components/schemas/capture_num_packets",
            "description": "Maximum number of packets to capture; use 0 for unlimited"
          },
          "ports": {
            "$ref": "#/components/schemas/capture_switch_ports",
            "description": "Switch ports to include in the packet capture"
          },
          "switches": {
            "additionalProperties": {
              "$ref": "#/components/schemas/capture_switch_switches"
            },
            "description": "Property key is the switch MAC address",
            "type": "object"
          },
          "tcpdump_expression": {
            "description": "tcpdump expression, port specific if specified under ports dict, otherwise applicable across ports if specified at top level of payload. Port specific value overrides top level value when both exist.",
            "examples": [
              "port 443"
            ],
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/capture_switch_type",
            "description": "Packet capture type discriminator for switch captures"
          }
        },
        "required": [
          "type",
          "switches"
        ],
        "type": "object"
      },
      "capture_switch_format": {
        "default": "stream",
        "description": "Output format for the switch packet capture. enum: `stream`",
        "enum": [
          "stream"
        ],
        "type": "string"
      },
      "capture_switch_ports": {
        "additionalProperties": {
          "$ref": "#/components/schemas/capture_switch_ports_tcpdump_expression"
        },
        "description": "Property key is the port name. 6 ports max per switch supported, or 5 max with irb port auto-included into capture request",
        "type": "object"
      },
      "capture_switch_ports_tcpdump_expression": {
        "additionalProperties": false,
        "description": "Per-port tcpdump filter for a switch packet capture",
        "properties": {
          "tcpdump_expression": {
            "description": "tcpdump expression, port specific if specified under ports dict, otherwise applicable across ports if specified at top level of payload. Port specific value overrides top level value when both exist.",
            "examples": [
              "port 443"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "capture_switch_switches": {
        "additionalProperties": false,
        "description": "Switch-specific packet capture settings keyed under a switch MAC address",
        "properties": {
          "ports": {
            "$ref": "#/components/schemas/capture_switch_ports",
            "description": "Switch ports to include in the capture, keyed by port ID"
          }
        },
        "type": "object"
      },
      "capture_switch_type": {
        "description": "Packet capture type discriminator for switch captures. enum: `switch`",
        "enum": [
          "switch"
        ],
        "examples": [
          "switch"
        ],
        "type": "string"
      },
      "capture_tcpdump_expression": {
        "description": "tcpdump filter expression applied to packet capture traffic",
        "examples": [
          "tcp port 80"
        ],
        "type": [
          "string",
          "null"
        ]
      },
      "capture_wired": {
        "additionalProperties": false,
        "description": "Initiate a Wired Packet Capture",
        "properties": {
          "ap_mac": {
            "description": "AP MAC address used to target the wired packet capture",
            "examples": [
              null
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "duration": {
            "$ref": "#/components/schemas/capture_duration",
            "description": "Packet capture duration, in seconds"
          },
          "format": {
            "$ref": "#/components/schemas/capture_wired_format",
            "description": "Output format for the wired packet capture"
          },
          "max_pkt_len": {
            "$ref": "#/components/schemas/capture_max_pkt_length",
            "description": "Maximum number of bytes captured from each packet"
          },
          "num_packets": {
            "$ref": "#/components/schemas/capture_num_packets",
            "description": "Maximum number of packets to capture; use 0 for unlimited"
          },
          "tcpdump_expression": {
            "$ref": "#/components/schemas/capture_tcpdump_expression",
            "description": "Filter expression applied to the wired packet capture"
          },
          "type": {
            "$ref": "#/components/schemas/capture_wired_type",
            "description": "Packet capture type discriminator for wired captures"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "capture_wired_format": {
        "default": "pcap",
        "description": "pcap format. enum: `pcap`, `stream`",
        "enum": [
          "pcap",
          "stream"
        ],
        "type": "string"
      },
      "capture_wired_type": {
        "description": "Packet capture type discriminator for wired captures. enum: `wired`",
        "enum": [
          "wired"
        ],
        "examples": [
          "wired"
        ],
        "type": "string"
      },
      "capture_wireless": {
        "additionalProperties": false,
        "description": "Initiate a Wireless Packet Capture",
        "properties": {
          "ap_mac": {
            "description": "AP MAC address used to target the wireless packet capture",
            "examples": [
              null
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "band": {
            "$ref": "#/components/schemas/capture_wireless_band",
            "description": "Radio band to capture for wireless packets"
          },
          "duration": {
            "$ref": "#/components/schemas/capture_duration",
            "description": "Packet capture duration, in seconds"
          },
          "format": {
            "$ref": "#/components/schemas/capture_wireless_format",
            "description": "Output format for the wireless packet capture"
          },
          "max_pkt_len": {
            "$ref": "#/components/schemas/capture_max_pkt_length",
            "description": "Maximum number of bytes captured from each packet"
          },
          "num_packets": {
            "$ref": "#/components/schemas/capture_num_packets",
            "description": "Maximum number of packets to capture; use 0 for unlimited"
          },
          "ssid": {
            "description": "Wireless network SSID used to filter the packet capture",
            "type": "string"
          },
          "type": {
            "$ref": "#/components/schemas/capture_wireless_type",
            "description": "Packet capture type discriminator for wireless captures"
          },
          "wlan_id": {
            "description": "WLAN identifier used to filter the wireless packet capture",
            "format": "uuid",
            "type": "string"
          }
        },
        "required": [
          "type"
        ],
        "type": "object"
      },
      "capture_wireless_band": {
        "default": "24",
        "description": "enum: `24`, `5`, `6`",
        "enum": [
          "24",
          "5",
          "6"
        ],
        "type": "string"
      },
      "capture_wireless_format": {
        "default": "pcap",
        "description": "pcap format. enum: `pcap`, `stream`",
        "enum": [
          "pcap",
          "stream"
        ],
        "type": "string"
      },
      "capture_wireless_type": {
        "description": "Packet capture type discriminator for wireless captures. enum: `wireless`",
        "enum": [
          "wireless"
        ],
        "examples": [
          "wireless"
        ],
        "type": "string"
      },
      "dot11_bandwidth": {
        "description": "channel width for the band.enum: `0`(disabled, response only), `20`, `40`, `80` (only applicable for band_5 and band_6), `160` (only for band_6)",
        "enum": [
          0,
          20,
          40,
          80,
          160
        ],
        "examples": [
          20
        ],
        "type": "integer"
      },
      "id": {
        "description": "Unique ID of the object instance in the Mist Organization",
        "examples": [
          "53f10664-3ce8-4c27-b382-0ef66432349f"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "notes_string": {
        "description": "Request body containing notes text",
        "properties": {
          "notes": {
            "description": "Text to attach to the target resource as notes",
            "examples": [
              "wired pcap test"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "org_id": {
        "description": "Unique identifier of a Mist organization",
        "examples": [
          "a97c1b22-a4e9-411e-9bfd-d8695a0f9e61"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "pcap_type": {
        "description": "enum: `client`, `gateway`, `new_assoc`, `radiotap`, `radiotap,wired`, `wired`, `wireless`",
        "enum": [
          "client",
          "gateway",
          "new_assoc",
          "radiotap",
          "radiotap,wired",
          "wired",
          "wireless"
        ],
        "examples": [
          "client"
        ],
        "type": "string"
      },
      "response_http400": {
        "additionalProperties": false,
        "description": "Standard HTTP 400 bad request error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the bad request error",
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "description": "Standard HTTP 401 authentication error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the authentication error",
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "description": "Standard HTTP 403 permission error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the permission error",
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "description": "Standard HTTP 404 not found error response",
        "properties": {
          "id": {
            "description": "Missing resource identifier, when the API includes one",
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "description": "Standard HTTP 429 rate limit error response",
        "properties": {
          "detail": {
            "description": "Human-readable explanation of the rate limit error",
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_pcap_ap": {
        "additionalProperties": false,
        "description": "AP radio settings used for a packet capture",
        "properties": {
          "band": {
            "description": "Radio band used for the AP packet capture",
            "type": "integer"
          },
          "bandwidth": {
            "description": "Channel bandwidth used for the AP packet capture, in MHz",
            "type": "integer"
          },
          "channel": {
            "description": "Radio channel used for the AP packet capture",
            "type": "integer"
          },
          "tcpdump_expression": {
            "description": "Tcpdump filter expression applied to the AP packet capture, or null when no filter is applied",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "response_pcap_search": {
        "additionalProperties": false,
        "description": "Paginated response for packet capture search results",
        "properties": {
          "end": {
            "description": "Epoch timestamp, in seconds, for the end of the packet capture search window",
            "type": "integer"
          },
          "limit": {
            "description": "Maximum number of packet capture records returned in this page",
            "type": "integer"
          },
          "next": {
            "description": "URL for retrieving the next page of packet capture search results",
            "type": "string"
          },
          "results": {
            "$ref": "#/components/schemas/response_pcap_search_results",
            "description": "Packet capture records matching the search filters"
          },
          "start": {
            "description": "Epoch timestamp, in seconds, for the start of the packet capture search window",
            "type": "integer"
          },
          "total": {
            "description": "Number of packet capture records matching the search filters across all pages",
            "type": "integer"
          }
        },
        "required": [
          "end",
          "limit",
          "results",
          "start"
        ],
        "type": "object"
      },
      "response_pcap_search_item": {
        "additionalProperties": false,
        "description": "Packet capture record returned by organization or site packet capture search",
        "properties": {
          "ap_macs": {
            "$ref": "#/components/schemas/strings",
            "description": "AP MAC addresses associated with the packet capture"
          },
          "aps": {
            "$ref": "#/components/schemas/response_pcap_search_item_aps",
            "description": "AP MAC addresses included in the packet capture"
          },
          "duration": {
            "description": "Packet capture duration in seconds",
            "examples": [
              600
            ],
            "type": "number"
          },
          "format": {
            "description": "Output format requested for the packet capture",
            "examples": [
              "stream"
            ],
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier for the packet capture"
          },
          "last_seen": {
            "description": "Last seen timestamp of the capture",
            "examples": [
              1693482149.417
            ],
            "type": "number"
          },
          "max_num_packets": {
            "description": "Maximum number of packets requested for the capture",
            "examples": [
              1024
            ],
            "type": "number"
          },
          "mxedges": {
            "description": "List of Mist Edge IDs included in the capture",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization associated with the packet capture"
          },
          "pcap_aps": {
            "$ref": "#/components/schemas/response_pcap_search_item_pcap_aps",
            "description": "Per-AP radio capture settings keyed by AP MAC address"
          },
          "pcap_url": {
            "description": "URL for downloading the generated PCAP file",
            "type": "string"
          },
          "site_id": {
            "description": "Site associated with the packet capture, when the capture is site-scoped",
            "type": [
              "string",
              "null"
            ]
          },
          "termination_reason": {
            "description": "Reason the packet capture session ended",
            "examples": [
              "default"
            ],
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Epoch timestamp, in seconds, when the packet capture record was created"
          },
          "type": {
            "description": "Packet capture type represented by this record",
            "type": "string"
          },
          "url": {
            "description": "Link for accessing the packet capture output or stream",
            "type": "string"
          }
        },
        "required": [
          "timestamp",
          "type",
          "url"
        ],
        "type": "object"
      },
      "response_pcap_search_item_ap": {
        "description": "AP MAC address included in a packet capture",
        "examples": [
          "5c5b35000010"
        ],
        "type": "string"
      },
      "response_pcap_search_item_aps": {
        "description": "AP MAC addresses included in a packet capture",
        "items": {
          "$ref": "#/components/schemas/response_pcap_search_item_ap"
        },
        "type": "array"
      },
      "response_pcap_search_item_pcap_aps": {
        "additionalProperties": {
          "$ref": "#/components/schemas/response_pcap_search_item_pcap_aps_item"
        },
        "description": "Per-AP radio capture settings keyed by AP MAC address",
        "examples": [
          {
            "5c5b35000010": {
              "band": "6",
              "bandwidth": "20",
              "channel": 133,
              "tcpdump_expression": null
            }
          }
        ],
        "type": "object"
      },
      "response_pcap_search_item_pcap_aps_item": {
        "additionalProperties": false,
        "description": "AP radio settings captured for a packet capture record",
        "properties": {
          "band": {
            "description": "Radio band used for this AP capture",
            "type": "string"
          },
          "bandwidth": {
            "description": "Channel bandwidth used for this AP capture, in MHz",
            "type": "string"
          },
          "channel": {
            "description": "Radio channel used for this AP capture",
            "type": "integer"
          },
          "tcpdump_expression": {
            "description": "Tcpdump filter expression applied to this AP capture, or null when no filter is applied",
            "type": [
              "string",
              "null"
            ]
          }
        },
        "type": "object"
      },
      "response_pcap_search_results": {
        "description": "Packet capture records returned by search",
        "items": {
          "$ref": "#/components/schemas/response_pcap_search_item"
        },
        "type": "array",
        "uniqueItems": true
      },
      "response_pcap_start": {
        "additionalProperties": false,
        "description": "Packet capture session created by a start request",
        "properties": {
          "ap_count": {
            "description": "Number of APs targeted by the packet capture",
            "type": "integer"
          },
          "aps": {
            "$ref": "#/components/schemas/strings",
            "description": "AP MAC addresses targeted by the packet capture"
          },
          "client_mac": {
            "description": "Client MAC address filter applied to the packet capture, or null when no client filter is used",
            "type": [
              "string",
              "null"
            ]
          },
          "duration": {
            "description": "Packet capture duration in seconds",
            "type": "number"
          },
          "enabled": {
            "description": "Whether the packet capture session is enabled after the start request",
            "type": "boolean"
          },
          "expiry": {
            "description": "Epoch timestamp, in seconds, when the capture session expires",
            "type": "number"
          },
          "format": {
            "description": "Output format for packet capture data",
            "type": "string"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier for the packet capture session"
          },
          "include_mcast": {
            "description": "Whether multicast traffic is included in the packet capture",
            "type": "boolean"
          },
          "max_pkt_len": {
            "description": "Maximum number of bytes captured from each packet",
            "type": "integer"
          },
          "num_packets": {
            "description": "Maximum number of packets to capture; use 0 for unlimited",
            "type": "integer"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization associated with the packet capture session"
          },
          "raw": {
            "description": "Whether raw packet data is included in the capture output",
            "type": "boolean"
          },
          "site_id": {
            "description": "Site associated with the packet capture session, when site-scoped",
            "type": [
              "string",
              "null"
            ]
          },
          "ssid": {
            "description": "Wireless network SSID filter applied to the packet capture, or null when no SSID filter is used",
            "type": [
              "string",
              "null"
            ]
          },
          "tcpdump_parser_expression": {
            "description": "Tcpdump parser expression applied to the packet capture, or null when no parser expression is used",
            "type": [
              "string",
              "null"
            ]
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Epoch timestamp, in seconds, when the packet capture session was created"
          },
          "type": {
            "description": "Packet capture type requested by the start operation",
            "type": "string"
          }
        },
        "required": [
          "timestamp",
          "id",
          "org_id",
          "site_id",
          "type"
        ],
        "type": "object"
      },
      "response_pcap_status": {
        "additionalProperties": false,
        "description": "Current status of a packet capture session",
        "properties": {
          "ap_mac": {
            "description": "AP MAC address targeted by the packet capture, or null when no single AP filter is set",
            "type": [
              "string",
              "null"
            ]
          },
          "aps": {
            "$ref": "#/components/schemas/response_pcap_status_aps",
            "description": "AP MAC addresses targeted by the packet capture"
          },
          "client_mac": {
            "description": "Client MAC address filter applied to the packet capture, or null when no client filter is used",
            "examples": [
              "60a10a773412"
            ],
            "type": [
              "string",
              "null"
            ]
          },
          "duration": {
            "description": "Configured packet capture duration, in seconds",
            "examples": [
              300
            ],
            "type": "integer"
          },
          "enabled": {
            "description": "Whether the packet capture session is currently enabled",
            "type": "boolean"
          },
          "expiry": {
            "description": "Epoch timestamp, in seconds, when the capture session expires",
            "examples": [
              1695838060.309526
            ],
            "type": "number"
          },
          "failed": {
            "$ref": "#/components/schemas/response_pcap_status_failed",
            "description": "AP MAC addresses where capture configuration failed"
          },
          "format": {
            "$ref": "#/components/schemas/capture_mxedge_format",
            "description": "Output format for packet capture data"
          },
          "gateways": {
            "$ref": "#/components/schemas/response_pcap_status_gateways",
            "description": "Gateway devices included in the packet capture session"
          },
          "id": {
            "$ref": "#/components/schemas/id",
            "description": "Unique identifier for the packet capture session"
          },
          "includes_mcast": {
            "description": "Whether multicast traffic is included in the packet capture",
            "type": "boolean"
          },
          "invalid_mxedges": {
            "additionalProperties": true,
            "description": "Map of Mist Edge IDs that could not be configured for capture",
            "type": "object"
          },
          "max_num_packets": {
            "description": "Max number of packets configured by user",
            "examples": [
              1000
            ],
            "type": "integer"
          },
          "max_pkt_len": {
            "description": "Maximum number of bytes captured from each packet",
            "examples": [
              512
            ],
            "type": "integer"
          },
          "mxedge_count": {
            "description": "Number of Mist Edges in the capture session",
            "type": "integer"
          },
          "mxedges": {
            "$ref": "#/components/schemas/response_pcap_status_mxedges",
            "description": "Mist Edge capture settings keyed by Mist Edge ID"
          },
          "num_packets": {
            "description": "total number of packets captured by all AP, not applicable for type [client, new_assoc]",
            "type": "integer"
          },
          "ok": {
            "$ref": "#/components/schemas/response_pcap_status_ok",
            "description": "AP MAC addresses successfully configured for packet capture"
          },
          "org_id": {
            "$ref": "#/components/schemas/org_id",
            "description": "Organization associated with the packet capture session"
          },
          "pcap_aps": {
            "$ref": "#/components/schemas/response_pcap_status_pcap_aps",
            "description": "Per-AP radio capture settings keyed by AP MAC address"
          },
          "radiotap_tcpdump_expression": {
            "description": "When `type`==`radiotap`, radiotap_tcpdump_expression expression provided by the user",
            "type": "string"
          },
          "raw": {
            "description": "Whether raw packet data is included in the capture output",
            "type": "boolean"
          },
          "scan_tcpdump_expression": {
            "description": "When `type`==`scan`, scan_tcpdump_expression provided by the user",
            "type": "string"
          },
          "site_id": {
            "$ref": "#/components/schemas/site_id",
            "description": "Site associated with the packet capture session, when site-scoped"
          },
          "ssid": {
            "description": "Wireless network SSID filter applied to the packet capture, or null when no SSID filter is used",
            "type": [
              "string",
              "null"
            ]
          },
          "started_time": {
            "description": "Epoch timestamp, in seconds, when the capture session started",
            "examples": [
              1435080709
            ],
            "type": "integer"
          },
          "switches": {
            "$ref": "#/components/schemas/response_pcap_status_switches",
            "description": "Switch devices included in the packet capture session"
          },
          "tcpdump_expression": {
            "description": "tcpdump expression provided by the user (common)",
            "type": "string"
          },
          "timestamp": {
            "$ref": "#/components/schemas/timestamp",
            "description": "Epoch timestamp, in seconds, when the packet capture status was reported"
          },
          "type": {
            "$ref": "#/components/schemas/pcap_type",
            "description": "Packet capture type for the current session"
          },
          "tzsp_host": {
            "description": "Required if `format`==`tzsp`. Remote host accessible to Mist Edges over the network for receiving the captured packets.",
            "examples": [
              "192.168.1.2"
            ],
            "type": "string"
          },
          "tzsp_port": {
            "description": "If `format`==`tzsp`. Port on remote host for receiving the captured packets",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer"
          },
          "wired_tcpdump_expression": {
            "description": "When `type`==`wired`, wired_tcpdump_expression provided by the user",
            "type": "string"
          },
          "wireless_tcpdump_expression": {
            "description": "When `type`==`‘wireless’`, wireless_tcpdump_expression provided by the user",
            "type": "string"
          }
        },
        "required": [
          "id",
          "type"
        ],
        "type": "object"
      },
      "response_pcap_status_aps": {
        "description": "List of target APs to capture packets",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "response_pcap_status_failed": {
        "description": "List of APs where configuration attempt failed",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "response_pcap_status_gateways": {
        "description": "Information on gateways to capture packets on if a gateway capture type is specified",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "response_pcap_status_mxedges": {
        "additionalProperties": {
          "$ref": "#/components/schemas/response_pcap_status_mxedges_item"
        },
        "description": "Dict of Mist Edges to capture on, property key is the Mist Edge ID",
        "type": "object"
      },
      "response_pcap_status_mxedges_item": {
        "additionalProperties": false,
        "description": "Mist Edge interface settings for a packet capture",
        "properties": {
          "interfaces": {
            "additionalProperties": {
              "$ref": "#/components/schemas/capture_mxedge_mxedges_interfaces"
            },
            "description": "Dict of interfaces to capture on, property key is the port name",
            "type": "object"
          }
        },
        "type": "object"
      },
      "response_pcap_status_ok": {
        "description": "List of target APs successfully configured to capture packets",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "response_pcap_status_pcap_aps": {
        "additionalProperties": {
          "$ref": "#/components/schemas/response_pcap_ap"
        },
        "description": "Per-AP radio capture settings keyed by AP MAC address",
        "examples": [
          {
            "5c5b35000010": {
              "band": 6,
              "bandwidth": 20,
              "channel": 133,
              "tcpdump_expression": null
            }
          }
        ],
        "type": "object"
      },
      "response_pcap_status_switches": {
        "description": "Information on switches to capture packets on if a switch capture type is specified. irb port interface is automatically added to capture as needed to ensure all desired packets are captured.",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "site_id": {
        "description": "Unique identifier of a Mist site",
        "examples": [
          "441a1214-6928-442a-8e92-e1d34b8ec6a6"
        ],
        "format": "uuid",
        "readOnly": true,
        "type": "string"
      },
      "strings": {
        "description": "Unique string values returned or accepted by this schema",
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "timestamp": {
        "description": "Epoch timestamp, in seconds",
        "format": "double",
        "readOnly": true,
        "type": "number"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      },
      "PcapStart": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/PcapStartExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_pcap_start"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/PcapStartExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_pcap_start"
            }
          }
        },
        "description": "OK"
      },
      "PcapStatus": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/PcapStatusExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_pcap_status"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/PcapStatusExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_pcap_status"
            }
          }
        },
        "description": "OK"
      },
      "PcapsSearch": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/PcapsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_pcap_search"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/PcapsSearchExample"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_pcap_search"
            }
          }
        },
        "description": "OK"
      }
    },
    "parameters": {
      "duration": {
        "description": "Time range duration for the query, using relative units such as `10m`, `7d`, or `2w`",
        "in": "query",
        "name": "duration",
        "schema": {
          "default": "1d",
          "examples": [
            "10m"
          ],
          "type": "string"
        }
      },
      "end": {
        "description": "Upper bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d`, `-2h`, or `now`",
        "in": "query",
        "name": "end",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Maximum number of results to return per page",
        "in": "query",
        "name": "limit",
        "schema": {
          "default": 100,
          "minimum": 0,
          "type": "integer"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "page": {
        "description": "Select the page number to return when using page-based pagination; starts at `1`",
        "in": "query",
        "name": "page",
        "schema": {
          "default": 1,
          "minimum": 1,
          "type": "integer"
        }
      },
      "pcap_id": {
        "in": "path",
        "name": "pcap_id",
        "required": true,
        "schema": {
          "format": "uuid",
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "start": {
        "description": "Lower bound of the time range, as an epoch timestamp in seconds or a relative value such as `-1d` or `-1w`",
        "in": "query",
        "name": "start",
        "schema": {
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      },
      "PcapStartExample": {
        "value": {
          "ap_count": 3,
          "aps": [],
          "duration": 600,
          "enabled": true,
          "expiry": 1614886726.5411825,
          "format": "stream",
          "id": "a9a84e13-a714-b1eb-152f-a434416217d5",
          "include_mcast": false,
          "max_pkt_len": 68,
          "num_packets": 100,
          "org_id": "a9346fba-f920-e99a-cc51-2e8dcc57fa3c",
          "raw": true,
          "site_id": "67970e46-4e12-11e6-9188-0242ac110007",
          "ssid": "",
          "timestamp": 1614886126.5411825,
          "type": "radiotap"
        }
      },
      "PcapStatusExample": {
        "value": {
          "aps": [
            "5c5b350e001c",
            "5c5b350e001b"
          ],
          "client_mac": "60a10a773412",
          "duration": 300,
          "failed": [],
          "id": "a9a84e13-a714-b1eb-152f-a434416217d5",
          "includes_mcast": false,
          "max_pkt_len": 128,
          "num_packets": 1000,
          "ok": [
            "5c5b350e001c",
            "5c5b350e001b"
          ],
          "started_time": 1435080709,
          "type": "client"
        }
      },
      "PcapsSearchExample": {
        "value": {
          "end": 1461089816,
          "limit": 100,
          "next": "/api/v1/sites/67970e46-4e12-11e6-9188-0242ac110007/pcaps?start=1461099816&search_after=%5B1694537121217%5D&limit=100&end=1461089816",
          "results": [
            {
              "ap_macs": [
                "5c5b35000010"
              ],
              "timestamp": 1461869041,
              "type": "new_assoc",
              "url": "https://..."
            },
            {
              "duration": 9999.0,
              "format": "stream",
              "id": "80cec4c9-322c-4712-95ce-6ba47fb54fc0",
              "last_seen": 1693482149.417,
              "mxedges": [
                "00000000-0000-0000-1000-001122334455"
              ],
              "org_id": "78c11da8-f984-4425-bedb-a7ddd7d0f6da",
              "pcap_url": "https://...",
              "site_id": null,
              "termination_reason": "default",
              "timestamp": 1693525333.234066,
              "type": "mxedge",
              "url": "https://..."
            }
          ],
          "start": 1461099816
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Preferred authentication method for automation and integrations. Send the API token in the HTTP `Authorization` header.\n\n**Format**:\n  `Authorization: Token {apitoken}`\n\n**Notes**:\n* An API token generated for a specific admin has the same privileges as that admin\n* An API token is automatically removed if it is not used for more than 90 days\n* SSO admins cannot generate admin API tokens. Use organization API tokens when scoped Org/Site privileges are needed.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "csrfToken": {
        "description": "Session-based authentication for browser or login/password flows. After a successful [Login](/#operations/login) request, Mist returns a `csrftoken` cookie. Send that value in the `X-CSRFToken` header on later API requests that use the login session.\n\n**Format**:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```\n\nFor automation, API Token authentication is preferred.",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
