{
  "openapi": "3.1.0",
  "info": {
    "title": "Utilities Wi-Fi",
    "version": "2602.1.1"
  },
  "servers": [
    {
      "description": "Mist Global 01",
      "url": "https://api.mist.com"
    },
    {
      "description": "Mist Global 02",
      "url": "https://api.gc1.mist.com"
    },
    {
      "description": "Mist Global 03",
      "url": "https://api.ac2.mist.com"
    },
    {
      "description": "Mist Global 04",
      "url": "https://api.gc2.mist.com"
    },
    {
      "description": "Mist Global 05",
      "url": "https://api.gc4.mist.com"
    },
    {
      "description": "Mist EMEA 01",
      "url": "https://api.eu.mist.com"
    },
    {
      "description": "Mist EMEA 02",
      "url": "https://api.gc3.mist.com"
    },
    {
      "description": "Mist EMEA 03",
      "url": "https://api.ac6.mist.com"
    },
    {
      "description": "Mist EMEA 04",
      "url": "https://api.gc6.mist.com"
    },
    {
      "description": "Mist APAC 01",
      "url": "https://api.ac5.mist.com"
    },
    {
      "description": "Mist APAC 02",
      "url": "https://api.gc5.mist.com"
    },
    {
      "description": "Mist APAC 03",
      "url": "https://api.gc7.mist.com"
    }
  ],
  "security": [
    {
      "apiToken": []
    },
    {
      "basicAuth": []
    },
    {
      "basicAuth": [],
      "csrfToken": []
    }
  ],
  "tags": [
    {
      "description": "API Calls to use Devices Troubleshooting tools specific to Wireless Assurance",
      "name": "Utilities Wi-Fi"
    }
  ],
  "paths": {
    "/api/v1/orgs/{org_id}/clients/{client_mac}/coa": {
      "parameters": [
        {
          "$ref": "#/components/parameters/org_id"
        },
        {
          "$ref": "#/components/parameters/client_mac"
        }
      ],
      "post": {
        "description": "Trigger a CoA (change of authorization) against a client",
        "operationId": "reauthOrgDot1xWirelessClient",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "reauthOrgDot1xWirelessClient",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    },
    "/api/v1/sites/{site_id}/clients/disconnect": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "To unauthorize multiple clients",
        "operationId": "disconnectSiteMultipleClients",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": [
                    "5c5b350e0001",
                    "5c5b350e0003"
                  ]
                }
              },
              "schema": {
                "$ref": "#/components/schemas/strings"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "disconnectSiteMultipleClients",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    },
    "/api/v1/sites/{site_id}/clients/unauthorize": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "This unauthorize clients (if they are guest) and disconnect them. From the guest’s perspective, they will see the splash page again and go through the flow (e.g. Terms of Use) again.",
        "operationId": "unauthorizeSiteMultipleClients",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mac_addresses"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "unauthorizeSiteMultipleClients",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    },
    "/api/v1/sites/{site_id}/clients/{client_mac}/coa": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/client_mac"
        }
      ],
      "post": {
        "description": "Trigger a CoA (change of authorization) against a Wireless client",
        "operationId": "reauthSiteDot1xWirelessClient",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "reauthSiteDot1xWirelessClient",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    },
    "/api/v1/sites/{site_id}/clients/{client_mac}/disconnect": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/client_mac"
        }
      ],
      "post": {
        "description": "This disconnect a client (and it’s likely to connect back)",
        "operationId": "disconnectSiteWirelessClient",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "disconnectSiteWirelessClient",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    },
    "/api/v1/sites/{site_id}/clients/{client_mac}/unauthorize": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/client_mac"
        }
      ],
      "post": {
        "description": "This unauthorize a client (if it’s a guest) and disconnect it. From the guest’s perspective, s/he will see the splash page again and go through the flow (e.g. Terms of Use) again.",
        "operationId": "unauthorizeSiteWirelessClient",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "unauthorizeSiteWirelessClient",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/reprovision": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "To force all Devices to reprovision itself again.",
        "operationId": "reprovisionSiteAllDevices",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "reprovisionSiteAllDevices",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/reset_radio_config": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "Reset all APs in the Site to use RRM",
        "operationId": "resetSiteAllApsToUseRrm",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "bands": [
                      "24",
                      "5",
                      "6"
                    ],
                    "force": false
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/utils_reset_radio_config"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "resetSiteAllApsToUseRrm",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    },
    "/api/v1/sites/{site_id}/devices/zeroize": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "Zeroize all FIPS APs in the Site",
        "operationId": "zeroizeSiteFipsAllAps",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "password": "NUKETHESITE"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/utils_zeroize_fips"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "zeroizeSiteFipsAllAps",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    },
    "/api/v1/sites/{site_id}/rogues/{rogue_bssid}/deauth_clients": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        },
        {
          "$ref": "#/components/parameters/rogue_bssid"
        }
      ],
      "post": {
        "description": "Send Deauth frame to clients connected to a Rogue AP",
        "operationId": "deauthSiteWirelessClientsConnectedToARogue",
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "deauthSiteWirelessClientsConnectedToARogue",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    },
    "/api/v1/sites/{site_id}/rrm/optimize": {
      "parameters": [
        {
          "$ref": "#/components/parameters/site_id"
        }
      ],
      "post": {
        "description": "Optimize Site RRM",
        "operationId": "optimizeSiteRrm",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "bands": [
                      "24",
                      "5",
                      "6"
                    ]
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/utils_rrm_optimize"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "optimizeSiteRrm",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    },
    "/api/v1/utils/test_smsglobal": {
      "post": {
        "description": "Allows validation of Global sms gateway credentials.\n\nIn case of success, a text message confirming successful setup should be received. In case of error, smsglobal error message are returned.",
        "operationId": "testSiteWlanSmsGlobal",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "smsglobal_api_key": "123456",
                    "smsglobal_api_secret": "abcdef",
                    "to": "+911122334455"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/test_sms_global"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "testSiteWlanSmsGlobal",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    },
    "/api/v1/utils/test_telstra": {
      "post": {
        "description": "Allows validation of Telstra sms gateway credentials.\n\nIn case of success, a text message confirming successful setup should be received. In case of error, telstra error message are returned.",
        "operationId": "testSiteWlanTelstraSetup",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "telstra_client_id": "123456",
                    "telstra_client_secret": "abcdef",
                    "to": "+911122334455"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/test_telstra"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "testSiteWlanTelstraSetup",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    },
    "/api/v1/utils/test_twilio": {
      "post": {
        "description": "Allows validation of twilio setup\nIn case of success, a text message confirming successful setup should be received. In case of error, twilio error code and message are returned.",
        "operationId": "testSiteWlanTwilioSetup",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "Example": {
                  "value": {
                    "from": "+185051234567",
                    "to": "+19999999999",
                    "twilio_auth_token": "REDACTED",
                    "twilio_sid": "REDACTED"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/test_twilio"
              }
            }
          },
          "description": "Request Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "400": {
            "$ref": "#/components/responses/HTTP400"
          },
          "401": {
            "$ref": "#/components/responses/HTTP401"
          },
          "403": {
            "$ref": "#/components/responses/HTTP403"
          },
          "404": {
            "$ref": "#/components/responses/HTTP404"
          },
          "429": {
            "$ref": "#/components/responses/HTTP429"
          }
        },
        "summary": "testSiteWlanTwilioSetup",
        "tags": [
          "Utilities Wi-Fi"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "mac_addresses": {
        "properties": {
          "macs": {
            "$ref": "#/components/schemas/mac_addresses_macs"
          }
        },
        "required": [
          "macs"
        ],
        "type": "object"
      },
      "mac_addresses_macs": {
        "examples": [
          [
            "683b679ac024"
          ]
        ],
        "items": {
          "type": "string"
        },
        "minItems": 1,
        "type": "array",
        "uniqueItems": true
      },
      "response_http400": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "JSON parse error - Expecting value: line 5 column 8 (char 56)"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http401": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Authentication credentials were not provided."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http403": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "You do not have permission to perform this action."
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http404": {
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "type": "object"
      },
      "response_http429": {
        "additionalProperties": false,
        "properties": {
          "detail": {
            "examples": [
              "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "strings": {
        "items": {
          "type": "string"
        },
        "type": "array",
        "uniqueItems": true
      },
      "test_sms_global": {
        "properties": {
          "smsglobal_api_key": {
            "description": "SMSGlobal api key",
            "examples": [
              "123456"
            ],
            "type": "string"
          },
          "smsglobal_api_secret": {
            "description": "SMSGlobal api secret",
            "examples": [
              "abcdef"
            ],
            "type": "string"
          },
          "to": {
            "description": "Phone number of the recipient of SMS with country code",
            "examples": [
              "+911122334455"
            ],
            "type": "string"
          }
        },
        "required": [
          "smsglobal_api_key",
          "smsglobal_api_secret",
          "to"
        ],
        "type": "object"
      },
      "test_telstra": {
        "properties": {
          "telstra_client_id": {
            "description": "Telstra client id",
            "examples": [
              "123456"
            ],
            "type": "string"
          },
          "telstra_client_secret": {
            "description": "Telstra client secret",
            "examples": [
              "abcdef"
            ],
            "type": "string"
          },
          "to": {
            "description": "Phone number of the recipient of SMS with country code",
            "examples": [
              "+911122334455"
            ],
            "type": "string"
          }
        },
        "required": [
          "telstra_client_id",
          "telstra_client_secret",
          "to"
        ],
        "type": "object"
      },
      "test_twilio": {
        "properties": {
          "from": {
            "description": "One of the numbers you have in your Twilio account",
            "examples": [
              "+185051234567"
            ],
            "type": "string"
          },
          "to": {
            "description": "Phone number of the recipient of SMS",
            "examples": [
              "+19999999999"
            ],
            "type": "string"
          },
          "twilio_auth_token": {
            "description": "Auth Token associated with twilio account",
            "examples": [
              "REDACTED"
            ],
            "type": "string"
          },
          "twilio_sid": {
            "description": "Twilio Account SID",
            "examples": [
              "REDACTED"
            ],
            "type": "string"
          }
        },
        "required": [
          "twilio_sid",
          "twilio_auth_token",
          "from",
          "to"
        ],
        "type": "object"
      },
      "utils_reset_radio_config": {
        "properties": {
          "bands": {
            "$ref": "#/components/schemas/utils_reset_radio_config_bands"
          },
          "force": {
            "default": false,
            "description": "Whether to reset those with radio disabled. default is false (i.e. if user intentionally disables a radio, honor it)",
            "type": "boolean"
          }
        },
        "required": [
          "bands"
        ],
        "type": "object"
      },
      "utils_reset_radio_config_bands": {
        "description": "List of bands",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "utils_rrm_optimize": {
        "properties": {
          "bands": {
            "$ref": "#/components/schemas/utils_rrm_optimize_bands"
          },
          "macs": {
            "$ref": "#/components/schemas/utils_rrm_optimize_macs"
          },
          "txpower_only": {
            "default": false,
            "description": "Only changing TX Power (will not disconnect clients)",
            "type": "boolean"
          }
        },
        "required": [
          "bands"
        ],
        "type": "object"
      },
      "utils_rrm_optimize_bands": {
        "description": "List of bands",
        "items": {
          "type": "string"
        },
        "type": "array"
      },
      "utils_rrm_optimize_macs": {
        "description": "Targeting AP (neighbor APs may get changed, too), default is empty for ALL APs",
        "items": {
          "examples": [
            "5c5b35000001"
          ],
          "type": "string"
        },
        "type": "array"
      },
      "utils_zeroize_fips": {
        "properties": {
          "password": {
            "description": "FIPS zeroize password",
            "type": "string"
          }
        },
        "required": [
          "password"
        ],
        "type": "object"
      }
    },
    "responses": {
      "HTTP400": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP400Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http400"
            }
          }
        },
        "description": "Bad Syntax"
      },
      "HTTP401": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP401Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http401"
            }
          }
        },
        "description": "Unauthorized"
      },
      "HTTP403": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP403Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http403"
            }
          }
        },
        "description": "Permission Denied"
      },
      "HTTP404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          },
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/response_http404"
            }
          }
        },
        "description": "Not found. The API endpoint doesn’t exist or resource doesn’ t exist"
      },
      "HTTP429": {
        "content": {
          "application/json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          },
          "application/vnd.api+json": {
            "examples": {
              "Example": {
                "$ref": "#/components/examples/HTTP429Example"
              }
            },
            "schema": {
              "$ref": "#/components/schemas/response_http429"
            }
          }
        },
        "description": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
      },
      "OK": {
        "description": "OK"
      }
    },
    "parameters": {
      "client_mac": {
        "in": "path",
        "name": "client_mac",
        "required": true,
        "schema": {
          "examples": [
            "0000000000ab"
          ],
          "pattern": "^[0-9a-fA-F]{12}$",
          "type": "string"
        }
      },
      "org_id": {
        "in": "path",
        "name": "org_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      },
      "rogue_bssid": {
        "in": "path",
        "name": "rogue_bssid",
        "required": true,
        "schema": {
          "examples": [
            "0000000000ab"
          ],
          "pattern": "^[0-9a-fA-F]{12}$",
          "type": "string"
        }
      },
      "site_id": {
        "in": "path",
        "name": "site_id",
        "required": true,
        "schema": {
          "examples": [
            "000000ab-00ab-00ab-00ab-0000000000ab"
          ],
          "format": "uuid",
          "type": "string"
        }
      }
    },
    "examples": {
      "HTTP400Example": {
        "value": {
          "detail": "JSON parse error - Expecting value: line 5 column 8 (char 56)"
        }
      },
      "HTTP401Example": {
        "value": {
          "detail": "Authentication credentials were not provided."
        }
      },
      "HTTP403Example": {
        "value": {
          "detail": "You do not have permission to perform this action."
        }
      },
      "HTTP429Example": {
        "value": {
          "detail": "Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold"
        }
      }
    },
    "securitySchemes": {
      "apiToken": {
        "description": "Like many other API providers, it’s also possible to generate API Tokens to be used (in HTTP Header) for authentication. An API token ties to a Admin with equal or less privileges.\n\n**Format**:\n  API Token value format is `Token {apitoken}`\n\n**Notes**:\n* an API token generated for a specific admin has the same privilege as the user\n* an API token will be automatically removed if not used for > 90 days\n* SSO admins cannot generate these API tokens. Refer Org level API tokens which can have privileges of a specific Org/Site for more information.",
        "in": "header",
        "name": "Authorization",
        "type": "apiKey",
        "x-scalar-secret-token": "Token YOUR_API_TOKEN"
      },
      "basicAuth": {
        "description": "While our current UI uses Session / Cookie-based authentication, it’s also possible to do Basic Auth.",
        "scheme": "basic",
        "type": "http"
      },
      "csrfToken": {
        "description": "This protects the website against [Cross Site Request Forgery](https://en.wikipedia.org/wiki/Cross-site_request_forgery), all the POST / PUT / DELETE APIs needs to have CSRF token in the AJAX Request header when using Login/Password authentication (with or without MFA)\n\n\nThe CSRF Token is sent back by Mist in the Cookies from the Login Response API Call:\n`cookies[csrftoken]` \n\nThe CSRF Token must be added in the HTTP Request Headers:\n```\nX-CSRFToken: vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx\n```",
        "in": "header",
        "name": "X-CSRFToken",
        "type": "apiKey"
      }
    }
  }
}
