{
  "openapi": "3.1.0",
  "info": {
    "title": "Policy",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Policy"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/policies": {
      "get": {
        "description": "Policies define ordered sets of rules that match network\ntraffic and apply permit, deny, or advanced actions such as\nNAT, redirect, and policy-based routing.",
        "operationId": "readPolicies",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPolicy_PoliciesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing policies",
        "tags": [
          "Policy"
        ],
        "x-cliParam": {
          "commandName": "readPoliciesCmd",
          "commandUse": "policies",
          "parentCommand": "readCmd",
          "pathToPrint": "/policies/",
          "summary": "Read operation for policies"
        }
      }
    },
    "/network-config/v1alpha1/policies/{name}": {
      "get": {
        "description": "A firewall policy identified by a unique name. Each policy\ncontains an ordered set of rules that match traffic and\napply actions. ACL-type rules (RULE_ACL_IP, RULE_ACL_IPV6,\nRULE_ACL_MAC) are only permitted in POLICY_NETWORK_ACL\npolicies.",
        "operationId": "readPoliciesPolicyByID",
        "parameters": [
          {
            "description": "Unique name of the policy. This is a required key field.\nMaximum 145 characters. On AOS-CX, space (' ') and\nquestion mark ('?') characters are not supported in\npolicy names.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPolicy_PoliciespolicySchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read the policy configuration",
        "tags": [
          "Policy"
        ],
        "x-cliParam": {
          "commandName": "readPoliciesPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readPoliciesCmd",
          "pathToPrint": "/policies/policy/%s/",
          "summary": "Read operation for policy",
          "totParams": 1
        }
      },
      "put": {
        "description": "A firewall policy identified by a unique name. Each policy\ncontains an ordered set of rules that match traffic and\napply actions. ACL-type rules (RULE_ACL_IP, RULE_ACL_IPV6,\nRULE_ACL_MAC) are only permitted in POLICY_NETWORK_ACL\npolicies.",
        "operationId": "replacePoliciesPolicyByID",
        "parameters": [
          {
            "description": "Unique name of the policy. This is a required key field.\nMaximum 145 characters. On AOS-CX, space (' ') and\nquestion mark ('?') characters are not supported in\npolicy names.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPolicy_PoliciespolicySchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or update a policy",
        "tags": [
          "Policy"
        ],
        "x-cliParam": {
          "commandName": "replacePoliciesPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replacePoliciesCmd",
          "pathToPrint": "/policies/policy/%s/",
          "summary": "Replace operation for policy",
          "totParams": 1
        }
      },
      "post": {
        "description": "A firewall policy identified by a unique name. Each policy\ncontains an ordered set of rules that match traffic and\napply actions. ACL-type rules (RULE_ACL_IP, RULE_ACL_IPV6,\nRULE_ACL_MAC) are only permitted in POLICY_NETWORK_ACL\npolicies.",
        "operationId": "createPoliciesPolicyByID",
        "parameters": [
          {
            "description": "Unique name of the policy. This is a required key field.\nMaximum 145 characters. On AOS-CX, space (' ') and\nquestion mark ('?') characters are not supported in\npolicy names.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPolicy_PoliciespolicySchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a policy",
        "tags": [
          "Policy"
        ],
        "x-cliParam": {
          "commandName": "createPoliciesPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createPoliciesCmd",
          "pathToPrint": "/policies/policy/%s/",
          "summary": "Create operation for policy",
          "totParams": 1
        }
      },
      "delete": {
        "description": "A firewall policy identified by a unique name. Each policy\ncontains an ordered set of rules that match traffic and\napply actions. ACL-type rules (RULE_ACL_IP, RULE_ACL_IPV6,\nRULE_ACL_MAC) are only permitted in POLICY_NETWORK_ACL\npolicies.",
        "operationId": "deletePoliciesPolicyByID",
        "parameters": [
          {
            "description": "Unique name of the policy. This is a required key field.\nMaximum 145 characters. On AOS-CX, space (' ') and\nquestion mark ('?') characters are not supported in\npolicy names.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the policy",
        "tags": [
          "Policy"
        ],
        "x-cliParam": {
          "commandName": "deletePoliciesPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deletePoliciesCmd",
          "pathToPrint": "/policies/policy/%s/",
          "summary": "Delete operation for policy",
          "totParams": 1
        }
      },
      "patch": {
        "description": "A firewall policy identified by a unique name. Each policy\ncontains an ordered set of rules that match traffic and\napply actions. ACL-type rules (RULE_ACL_IP, RULE_ACL_IPV6,\nRULE_ACL_MAC) are only permitted in POLICY_NETWORK_ACL\npolicies.",
        "operationId": "updatePoliciesPolicyByID",
        "parameters": [
          {
            "description": "Unique name of the policy. This is a required key field.\nMaximum 145 characters. On AOS-CX, space (' ') and\nquestion mark ('?') characters are not supported in\npolicy names.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPolicy_PoliciespolicySchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update a policy",
        "tags": [
          "Policy"
        ],
        "x-cliParam": {
          "commandName": "updatePoliciesPolicyCmd",
          "commandUse": "policy",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updatePoliciesCmd",
          "pathToPrint": "/policies/policy/%s/",
          "summary": "Update operation for policy",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaDualip_DualIpAddress": {
        "description": "Dual IP address.",
        "properties": {
          "host-ipv4-address": {
            "description": "Host IPv4 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "host-ipv6-address": {
            "description": "Host IPv6 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          }
        }
      },
      "ArubaDualip_DualIpAddressGet": {
        "description": "Dual IP address.",
        "properties": {
          "host-ipv4-address": {
            "description": "Host IPv4 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "host-ipv6-address": {
            "description": "Host IPv6 address.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          }
        }
      },
      "ArubaDualip_DualIpPrefix": {
        "description": "Dual IP prefix.",
        "properties": {
          "network-ipv4-address": {
            "description": "Network IPv4 prefix.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-prefix",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
            "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
          },
          "network-ipv6-address": {
            "description": "Network IPv6 prefix.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-prefix",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
          }
        }
      },
      "ArubaDualip_DualIpPrefixGet": {
        "description": "Dual IP prefix.",
        "properties": {
          "network-ipv4-address": {
            "description": "Network IPv4 prefix.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-prefix",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
            "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
          },
          "network-ipv6-address": {
            "description": "Network IPv6 prefix.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-prefix",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
          }
        }
      },
      "ArubaPolicyCondition_AggregateRulesInfo": {
        "description": "Metadata for policy rule aggregation by role. Groups multiple role-based rules together\nfor optimized evaluation and reporting. Used internally to track related rules.",
        "properties": {
          "aggregate-info": {
            "description": "Read-only aggregation metadata for role-based policy rules. Only applicable when the address\ntype is ADDRESS_ROLE. Contains information about related rules that have been grouped together\nfor efficient evaluation.",
            "properties": {
              "agg-roles": {
                "description": "List of roles that have been aggregated together in the policy evaluation. Each entry\nincludes the role name and its corresponding rule position for tracking purposes.",
                "items": {
                  "properties": {
                    "agg-role": {
                      "description": "Name of the user role that has been aggregated into this policy rule group. Maximum 256 characters.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "agg-rule-pos": {
                      "description": "Position of the rule within the aggregated group. Used to track the evaluation order\nof rules within the same aggregation set.",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 1,
                      "type": "integer"
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "aggRole"
                ]
              }
            }
          }
        }
      },
      "ArubaPolicyCondition_AggregateRulesInfoGet": {
        "description": "Metadata for policy rule aggregation by role. Groups multiple role-based rules together\nfor optimized evaluation and reporting. Used internally to track related rules.",
        "properties": {
          "aggregate-info": {
            "description": "Read-only aggregation metadata for role-based policy rules. Only applicable when the address\ntype is ADDRESS_ROLE. Contains information about related rules that have been grouped together\nfor efficient evaluation.",
            "properties": {
              "agg-roles": {
                "description": "List of roles that have been aggregated together in the policy evaluation. Each entry\nincludes the role name and its corresponding rule position for tracking purposes.",
                "items": {
                  "properties": {
                    "agg-role": {
                      "description": "Name of the user role that has been aggregated into this policy rule group. Maximum 256 characters.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "agg-rule-pos": {
                      "description": "Position of the rule within the aggregated group. Used to track the evaluation order\nof rules within the same aggregation set.",
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 1,
                      "type": "integer"
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "aggRole"
                ]
              }
            }
          }
        }
      },
      "ArubaPolicyCondition_DestinationConfig": {
        "description": "Complete destination address matching configuration for policy rules. Defines all destination\naddress criteria including IP addresses, roles, groups, domain names, and aliases with optional\nrole-based refinements.",
        "properties": {
          "destination": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaPolicyCondition_AggregateRulesInfo"
              },
              {
                "$ref": "#/components/schemas/ArubaPolicyCondition_DestinationRoleOptions"
              }
            ],
            "description": "Destination address matching criteria for the policy rule. Specifies which destination IP\naddresses, roles, domain names, or address groups the rule applies to. The match type is\ndetermined by the type field.",
            "properties": {
              "address-group": {
                "description": "Reference to a pre-configured IPv4 or IPv6 address group object. Only applicable when type is\nADDRESS_GROUP. Address groups allow you to create reusable sets of destination IP addresses or subnets.\nThe address group must be created before it can be referenced in a policy.",
                "format": "const",
                "maxLength": 9999,
                "type": "string"
              },
              "domain-name": {
                "description": "Destination domain name (FQDN) for matching. Only applicable when type is ADDRESS_DOMAIN_NAME.\nMatches traffic destined to the specified fully qualified domain name. Uses DNS resolution to\nmatch against the domain's IP addresses. Maximum 256 characters. For AP devices only.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "host-address": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaDualip_DualIpAddress"
                  }
                ],
                "description": "Destination host IP address matching. Only applicable when type is ADDRESS_HOST. Specify either\nan IPv4 address, IPv6 address, or reference to a host alias. Only one addressing method can be\nused at a time.",
                "properties": {
                  "host-address-alias": {
                    "description": "Host address alias.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                    "x-supportedDeviceType": [
                      "Access Point",
                      "Switch CX",
                      "Switch PVOS",
                      "Gateway"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "invert": {
                "default": "false",
                "description": "Inverts the destination match logic. When set to true, matches all destinations EXCEPT the\nspecified destination. For AP devices only. Defaults to false.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "net-group": {
                "description": "Reference to a named network group (net-group) for destination address matching. Only applicable\nwhen type is ADDRESS_ALIAS. Network groups allow you to create reusable sets of destination IP\naddresses or subnets. The network group must be created before it can be referenced.",
                "format": "const",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-netgroup:net-groups/ac-netgroup:net-group/ac-netgroup:name",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Access Point"
                ]
              },
              "network-address": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaDualip_DualIpPrefix"
                  }
                ],
                "description": "Destination network IP prefix matching using CIDR notation. Only applicable when type is\nADDRESS_NETWORK. Specify either an IPv4 prefix (e.g., 10.0.0.0/8), IPv6 prefix (e.g., 2001:db8::/32),\nor reference to a network alias. Only one addressing method can be used at a time.",
                "properties": {
                  "ip-prefix-alias": {
                    "description": "IP prefix alias.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                    "x-supportedDeviceType": [
                      "Access Point",
                      "Switch CX",
                      "Switch PVOS",
                      "Gateway"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "role": {
                "description": "Name of the user role for destination address matching. Only applicable when type is ADDRESS_ROLE.\nMatches traffic destined to users or resources assigned to this role. Maximum 256 characters.\nFor switch and gateway devices only.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              },
              "role-list": {
                "description": "List of user role names for destination address matching. Only applicable when type is ADDRESS_ROLE.\nMatches traffic destined to users or resources assigned to any of the specified roles. Each role\nname can be up to 256 characters. For switch and gateway devices only.",
                "items": {
                  "description": "List of user role names for destination address matching. Only applicable when type is ADDRESS_ROLE.\nMatches traffic destined to users or resources assigned to any of the specified roles. Each role\nname can be up to 256 characters. For switch and gateway devices only.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS",
                    "Gateway"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "subnet-address": {
                "description": "Destination network address with subnet mask notation. Only applicable when type is ADDRESS_SUBNET_MASK.\nSpecify an IPv4 or IPv6 network with a subnet mask (e.g., 192.168.1.0/255.255.255.0). For switch\ndevices only. The network-subnet-address field is required.",
                "properties": {
                  "network-subnet-address": {
                    "description": "An IPv4 or IPv6 prefix followed by a slash and a subnet mask.",
                    "oneOf": [
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv4-subnet-mask",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by a slash and a subnet mask in dotted quad notation."
                      },
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv6-subnet-mask",
                        "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,3}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                        "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed shortened format followed by a slash and another IPv6-formatted subnet mask. Must be a contiguous network mask."
                      }
                    ],
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "type": {
                "description": "Type of destination address matching to perform. Determines which destination address fields are\napplicable: ADDRESS_ANY matches all destinations, ADDRESS_HOST matches a single IP, ADDRESS_NETWORK\nmatches a subnet, ADDRESS_ALIAS matches a named address group, ADDRESS_ROLE matches traffic to\nspecific user roles, ADDRESS_DOMAIN_NAME matches by FQDN, ADDRESS_GROUP matches an object-group,\nand various other device-specific options.",
                "enum": [
                  "ADDRESS_ANY",
                  "ADDRESS_HOST",
                  "ADDRESS_NETWORK",
                  "ADDRESS_ALIAS",
                  "ADDRESS_ROLE",
                  "ADDRESS_LOCAL",
                  "ADDRESS_USER",
                  "ADDRESS_AP_IP",
                  "ADDRESS_AP_IP_ALL",
                  "ADDRESS_AP_NETWORK",
                  "ADDRESS_MASTER_IP",
                  "ADDRESS_DOMAIN_NAME",
                  "ADDRESS_SUBNET_MASK",
                  "ADDRESS_GROUP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ADDRESS_ALIAS": "Net-destination Alias.",
                  "ADDRESS_ANY": "Any address.",
                  "ADDRESS_AP_IP": "AP IP address.",
                  "ADDRESS_AP_IP_ALL": "AP all IP addresses.",
                  "ADDRESS_AP_NETWORK": "AP network.",
                  "ADDRESS_DOMAIN_NAME": "Domain name.",
                  "ADDRESS_GROUP": "IPv4 or IPv6 address group",
                  "ADDRESS_HOST": "Network IP address.",
                  "ADDRESS_LOCAL": "Local address.",
                  "ADDRESS_MASTER_IP": "Master IP.",
                  "ADDRESS_NETWORK": "Network IP prefix.",
                  "ADDRESS_ROLE": "Role.",
                  "ADDRESS_SUBNET_MASK": "IPv4 or IPv6 address with subnet mask.",
                  "ADDRESS_USER": "User address."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Address type."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Access Point"
            ]
          }
        }
      },
      "ArubaPolicyCondition_DestinationConfigGet": {
        "description": "Complete destination address matching configuration for policy rules. Defines all destination\naddress criteria including IP addresses, roles, groups, domain names, and aliases with optional\nrole-based refinements.",
        "properties": {
          "destination": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaPolicyCondition_AggregateRulesInfoGet"
              },
              {
                "$ref": "#/components/schemas/ArubaPolicyCondition_DestinationRoleOptionsGet"
              }
            ],
            "description": "Destination address matching criteria for the policy rule. Specifies which destination IP\naddresses, roles, domain names, or address groups the rule applies to. The match type is\ndetermined by the type field.",
            "properties": {
              "address-group": {
                "description": "Reference to a pre-configured IPv4 or IPv6 address group object. Only applicable when type is\nADDRESS_GROUP. Address groups allow you to create reusable sets of destination IP addresses or subnets.\nThe address group must be created before it can be referenced in a policy.",
                "format": "const",
                "maxLength": 9999,
                "type": "string"
              },
              "domain-name": {
                "description": "Destination domain name (FQDN) for matching. Only applicable when type is ADDRESS_DOMAIN_NAME.\nMatches traffic destined to the specified fully qualified domain name. Uses DNS resolution to\nmatch against the domain's IP addresses. Maximum 256 characters. For AP devices only.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "host-address": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaDualip_DualIpAddressGet"
                  }
                ],
                "description": "Destination host IP address matching. Only applicable when type is ADDRESS_HOST. Specify either\nan IPv4 address, IPv6 address, or reference to a host alias. Only one addressing method can be\nused at a time.",
                "properties": {
                  "host-address-alias": {
                    "description": "Host address alias.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                    "x-supportedDeviceType": [
                      "Access Point",
                      "Switch CX",
                      "Switch PVOS",
                      "Gateway"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "invert": {
                "default": "false",
                "description": "Inverts the destination match logic. When set to true, matches all destinations EXCEPT the\nspecified destination. For AP devices only. Defaults to false.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "net-group": {
                "description": "Reference to a named network group (net-group) for destination address matching. Only applicable\nwhen type is ADDRESS_ALIAS. Network groups allow you to create reusable sets of destination IP\naddresses or subnets. The network group must be created before it can be referenced.",
                "format": "const",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-netgroup:net-groups/ac-netgroup:net-group/ac-netgroup:name",
                "x-supportedDeviceType": [
                  "Switch PVOS",
                  "Access Point"
                ]
              },
              "network-address": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaDualip_DualIpPrefixGet"
                  }
                ],
                "description": "Destination network IP prefix matching using CIDR notation. Only applicable when type is\nADDRESS_NETWORK. Specify either an IPv4 prefix (e.g., 10.0.0.0/8), IPv6 prefix (e.g., 2001:db8::/32),\nor reference to a network alias. Only one addressing method can be used at a time.",
                "properties": {
                  "ip-prefix-alias": {
                    "description": "IP prefix alias.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                    "x-supportedDeviceType": [
                      "Access Point",
                      "Switch CX",
                      "Switch PVOS",
                      "Gateway"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "role": {
                "description": "Name of the user role for destination address matching. Only applicable when type is ADDRESS_ROLE.\nMatches traffic destined to users or resources assigned to this role. Maximum 256 characters.\nFor switch and gateway devices only.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              },
              "role-list": {
                "description": "List of user role names for destination address matching. Only applicable when type is ADDRESS_ROLE.\nMatches traffic destined to users or resources assigned to any of the specified roles. Each role\nname can be up to 256 characters. For switch and gateway devices only.",
                "items": {
                  "description": "List of user role names for destination address matching. Only applicable when type is ADDRESS_ROLE.\nMatches traffic destined to users or resources assigned to any of the specified roles. Each role\nname can be up to 256 characters. For switch and gateway devices only.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS",
                    "Gateway"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "subnet-address": {
                "description": "Destination network address with subnet mask notation. Only applicable when type is ADDRESS_SUBNET_MASK.\nSpecify an IPv4 or IPv6 network with a subnet mask (e.g., 192.168.1.0/255.255.255.0). For switch\ndevices only. The network-subnet-address field is required.",
                "properties": {
                  "network-subnet-address": {
                    "description": "An IPv4 or IPv6 prefix followed by a slash and a subnet mask.",
                    "oneOf": [
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv4-subnet-mask",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by a slash and a subnet mask in dotted quad notation."
                      },
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv6-subnet-mask",
                        "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,3}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                        "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed shortened format followed by a slash and another IPv6-formatted subnet mask. Must be a contiguous network mask."
                      }
                    ],
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ]
                  }
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "type": {
                "description": "Type of destination address matching to perform. Determines which destination address fields are\napplicable: ADDRESS_ANY matches all destinations, ADDRESS_HOST matches a single IP, ADDRESS_NETWORK\nmatches a subnet, ADDRESS_ALIAS matches a named address group, ADDRESS_ROLE matches traffic to\nspecific user roles, ADDRESS_DOMAIN_NAME matches by FQDN, ADDRESS_GROUP matches an object-group,\nand various other device-specific options.",
                "enum": [
                  "ADDRESS_ANY",
                  "ADDRESS_HOST",
                  "ADDRESS_NETWORK",
                  "ADDRESS_ALIAS",
                  "ADDRESS_ROLE",
                  "ADDRESS_LOCAL",
                  "ADDRESS_USER",
                  "ADDRESS_AP_IP",
                  "ADDRESS_AP_IP_ALL",
                  "ADDRESS_AP_NETWORK",
                  "ADDRESS_MASTER_IP",
                  "ADDRESS_DOMAIN_NAME",
                  "ADDRESS_SUBNET_MASK",
                  "ADDRESS_GROUP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ADDRESS_ALIAS": "Net-destination Alias.",
                  "ADDRESS_ANY": "Any address.",
                  "ADDRESS_AP_IP": "AP IP address.",
                  "ADDRESS_AP_IP_ALL": "AP all IP addresses.",
                  "ADDRESS_AP_NETWORK": "AP network.",
                  "ADDRESS_DOMAIN_NAME": "Domain name.",
                  "ADDRESS_GROUP": "IPv4 or IPv6 address group",
                  "ADDRESS_HOST": "Network IP address.",
                  "ADDRESS_LOCAL": "Local address.",
                  "ADDRESS_MASTER_IP": "Master IP.",
                  "ADDRESS_NETWORK": "Network IP prefix.",
                  "ADDRESS_ROLE": "Role.",
                  "ADDRESS_SUBNET_MASK": "IPv4 or IPv6 address with subnet mask.",
                  "ADDRESS_USER": "User address."
                },
                "x-supportedDeviceType": [
                  "Access Point"
                ],
                "x-typeDescription": "Address type."
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Access Point"
            ]
          }
        }
      },
      "ArubaPolicyCondition_DestinationRoleOptions": {
        "description": "Additional matching options for destination role-based policies. Allows combining role-based\nmatching with specific IP addresses or network prefixes to create more granular policies.",
        "properties": {
          "role-options": {
            "properties": {
              "host-address": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaDualip_DualIpAddress"
                  }
                ],
                "description": "Destination host IP address for role option refinement. Only applicable when options-type is\nADDRESS_HOST. Specify either an IPv4 address, IPv6 address, or reference to a host alias to\nfurther restrict role-based destination matching. Only one addressing method can be used at a time.",
                "properties": {
                  "host-address-alias": {
                    "description": "Reference to a pre-configured host address alias. The alias must be of type ALIAS_HOST.\nUse this to reference a named host IP address instead of specifying the IP directly.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS",
                      "Gateway"
                    ]
                  }
                }
              },
              "net-group": {
                "description": "Reference to a named network group for destination role option refinement. Only applicable when\noptions-type is ADDRESS_ALIAS. Use this to further restrict role-based destination matching to\na specific network group.",
                "format": "const",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-netgroup:net-groups/ac-netgroup:net-group/ac-netgroup:name"
              },
              "network-address": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaDualip_DualIpPrefix"
                  }
                ],
                "description": "Destination network IP prefix for role option refinement. Only applicable when options-type is\nADDRESS_NETWORK. Specify either an IPv4 prefix, IPv6 prefix, or reference to a network alias to\nfurther restrict role-based destination matching. Only one addressing method can be used at a time.",
                "properties": {
                  "ip-prefix-alias": {
                    "description": "Reference to a pre-configured network address alias. The alias must be of type ALIAS_NETWORK.\nUse this to reference a named IP prefix instead of specifying the network directly.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS",
                      "Gateway"
                    ]
                  }
                }
              },
              "options-type": {
                "description": "Type of additional destination matching to apply in conjunction with role-based matching.\nOnly applicable when the address type is ADDRESS_ROLE. Allows filtering role traffic to\nspecific hosts, networks, or address aliases.",
                "enum": [
                  "ADDRESS_HOST",
                  "ADDRESS_NETWORK",
                  "ADDRESS_LOCAL",
                  "ADDRESS_ALIAS",
                  "ADDRESS_ROLE",
                  "ADDRESS_USER"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ADDRESS_ALIAS": "Net-destination Alias.",
                  "ADDRESS_HOST": "Network IP address.",
                  "ADDRESS_LOCAL": "Local address.",
                  "ADDRESS_NETWORK": "Network IP prefix.",
                  "ADDRESS_ROLE": "UserRole to UserRole",
                  "ADDRESS_USER": "User address."
                },
                "x-typeDescription": "Address types supoorted in Role-options"
              }
            },
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaPolicyCondition_DestinationRoleOptionsGet": {
        "description": "Additional matching options for destination role-based policies. Allows combining role-based\nmatching with specific IP addresses or network prefixes to create more granular policies.",
        "properties": {
          "role-options": {
            "properties": {
              "host-address": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaDualip_DualIpAddressGet"
                  }
                ],
                "description": "Destination host IP address for role option refinement. Only applicable when options-type is\nADDRESS_HOST. Specify either an IPv4 address, IPv6 address, or reference to a host alias to\nfurther restrict role-based destination matching. Only one addressing method can be used at a time.",
                "properties": {
                  "host-address-alias": {
                    "description": "Reference to a pre-configured host address alias. The alias must be of type ALIAS_HOST.\nUse this to reference a named host IP address instead of specifying the IP directly.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS",
                      "Gateway"
                    ]
                  }
                }
              },
              "net-group": {
                "description": "Reference to a named network group for destination role option refinement. Only applicable when\noptions-type is ADDRESS_ALIAS. Use this to further restrict role-based destination matching to\na specific network group.",
                "format": "const",
                "maxLength": 63,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-netgroup:net-groups/ac-netgroup:net-group/ac-netgroup:name"
              },
              "network-address": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ArubaDualip_DualIpPrefixGet"
                  }
                ],
                "description": "Destination network IP prefix for role option refinement. Only applicable when options-type is\nADDRESS_NETWORK. Specify either an IPv4 prefix, IPv6 prefix, or reference to a network alias to\nfurther restrict role-based destination matching. Only one addressing method can be used at a time.",
                "properties": {
                  "ip-prefix-alias": {
                    "description": "Reference to a pre-configured network address alias. The alias must be of type ALIAS_NETWORK.\nUse this to reference a named IP prefix instead of specifying the network directly.",
                    "format": "pattern",
                    "maxLength": 256,
                    "minLength": 1,
                    "type": "string",
                    "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                    "x-patternSources": "name",
                    "x-patterns": "'[a-zA-Z0-9-_ ]+'",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS",
                      "Gateway"
                    ]
                  }
                }
              },
              "options-type": {
                "description": "Type of additional destination matching to apply in conjunction with role-based matching.\nOnly applicable when the address type is ADDRESS_ROLE. Allows filtering role traffic to\nspecific hosts, networks, or address aliases.",
                "enum": [
                  "ADDRESS_HOST",
                  "ADDRESS_NETWORK",
                  "ADDRESS_LOCAL",
                  "ADDRESS_ALIAS",
                  "ADDRESS_ROLE",
                  "ADDRESS_USER"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ADDRESS_ALIAS": "Net-destination Alias.",
                  "ADDRESS_HOST": "Network IP address.",
                  "ADDRESS_LOCAL": "Local address.",
                  "ADDRESS_NETWORK": "Network IP prefix.",
                  "ADDRESS_ROLE": "UserRole to UserRole",
                  "ADDRESS_USER": "User address."
                },
                "x-typeDescription": "Address types supoorted in Role-options"
              }
            },
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaPolicyCondition_EthernetHeaderConfig": {
        "description": "Defines Layer 2 Ethernet frame matching criteria including MAC addresses, EtherType,\nVLAN tags, and priority values. Used for MAC ACL rules and advanced Layer 2 filtering.",
        "properties": {
          "ethernet-header": {
            "description": "Layer 2 Ethernet frame matching criteria. Specifies MAC addresses, EtherType, VLAN identifiers,\nand priority code points to match against. Used for MAC-based access control and Layer 2 filtering.",
            "properties": {
              "destination-mac": {
                "description": "Destination MAC address to match in Ethernet frames. Specified in IEEE 802 format (e.g.,\naa:bb:cc:dd:ee:ff). Use with destination-mac-mask for wildcard matching of MAC address ranges.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "enet-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}|[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}|[0-9a-fA-F]{6}-[0-9a-fA-F]{6}|([0-9a-fA-F]{2}-){5}[0-9a-fA-F]{2}|MAC_ANY'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Ethernet address with MAC_ANY"
              },
              "destination-mac-mask": {
                "description": "Wildcard mask for destination MAC address matching. Specified in IEEE 802 format. A zero bit\nindicates the corresponding bit in the MAC address must match; a one bit indicates don't care.\nUse this for matching ranges of MAC addresses.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "enet-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}|[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}|[0-9a-fA-F]{6}-[0-9a-fA-F]{6}|([0-9a-fA-F]{2}-){5}[0-9a-fA-F]{2}|MAC_ANY'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Ethernet address with MAC_ANY"
              },
              "ethermask": {
                "description": "Wildcard mask for EtherType matching. A zero bit indicates the corresponding bit in the\nEtherType must match; a one bit indicates don't care. Use this for matching ranges of\nEtherType values. For gateway devices only.",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "ethertype": {
                "description": "EtherType field value to match in Ethernet frames. Identifies the protocol encapsulated in\nthe payload (e.g., 0x0800 for IPv4, 0x86DD for IPv6, 0x0806 for ARP). Use with ethermask\nfor wildcard matching.",
                "oneOf": [
                  {
                    "format": "int32",
                    "maximum": 65535,
                    "minimum": 1536,
                    "type": "integer"
                  },
                  {
                    "enum": [
                      "ETHERTYPE_IPV4",
                      "ETHERTYPE_ARP",
                      "ETHERTYPE_AARP",
                      "ETHERTYPE_APPLETALK",
                      "ETHERTYPE_FCOE",
                      "ETHERTYPE_FCOE_INIT",
                      "ETHERTYPE_IPX_ARPA",
                      "ETHERTYPE_IPX_NON_ARPA",
                      "ETHERTYPE_IS_IS",
                      "ETHERTYPE_MPLS_MULTICAST",
                      "ETHERTYPE_Q_IN_Q",
                      "ETHERTYPE_RBRIDGE",
                      "ETHERTYPE_TRILL",
                      "ETHERTYPE_WAKE_ON_LAN",
                      "ETHERTYPE_VLAN",
                      "ETHERTYPE_IPV6",
                      "ETHERTYPE_MPLS",
                      "ETHERTYPE_LLDP",
                      "ETHERTYPE_ROCE",
                      "ETHERTYPE_ANY"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "ETHERTYPE_AARP": "AppleTalk Address Resolution Protocol (AARP)",
                      "ETHERTYPE_ANY": "Any Ethertype",
                      "ETHERTYPE_APPLETALK": "AppleTalk/EtherTalk",
                      "ETHERTYPE_ARP": "Address resolution protocol (0x0806)",
                      "ETHERTYPE_FCOE": "Fibre Channel over Ethernet",
                      "ETHERTYPE_FCOE_INIT": "Fibre Channel over Ethernet Initialization",
                      "ETHERTYPE_IPV4": "IPv4 protocol (0x0800)",
                      "ETHERTYPE_IPV6": "IPv6 protocol (0x86DD)",
                      "ETHERTYPE_IPX_ARPA": "IPX Advanced Research Projects Agency (ARPA)",
                      "ETHERTYPE_IPX_NON_ARPA": "IPX-non-ARPA",
                      "ETHERTYPE_IS_IS": "Intermediate System to Intermediate System",
                      "ETHERTYPE_LLDP": "Link Layer Discovery Protocol (0x88CC)",
                      "ETHERTYPE_MPLS": "MPLS unicast (0x8847)",
                      "ETHERTYPE_MPLS_MULTICAST": "MPLS Multicast",
                      "ETHERTYPE_Q_IN_Q": "IEEE 802.1ad encapsulation",
                      "ETHERTYPE_RBRIDGE": "RBridge Channel Protocol",
                      "ETHERTYPE_ROCE": "RDMA over Converged Ethernet (0x8915)",
                      "ETHERTYPE_TRILL": "IETF TRILL protocol",
                      "ETHERTYPE_VLAN": "VLAN-tagged frame (as defined by IEEE 802.1q) (0x8100). Note\nthat this value is also used to represent Shortest Path\nBridging (IEEE 801.1aq) frames.",
                      "ETHERTYPE_WAKE_ON_LAN": "Wake on LAN"
                    },
                    "x-typeDescription": "Ethernet Protocol types."
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "pcp": {
                "description": "IEEE 802.1Q Priority Code Point (PCP) value to match in tagged Ethernet frames. Specifies\nthe priority level for QoS (0=lowest, 7=highest). Only applicable for VLAN-tagged traffic.\nFor switch devices only. Valid range: 0-7.",
                "format": "int32",
                "maximum": 7,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "source-mac": {
                "description": "Source MAC address to match in Ethernet frames. Specified in IEEE 802 format (e.g., aa:bb:cc:dd:ee:ff).\nUse with source-mac-mask for wildcard matching of MAC address ranges.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "enet-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}|[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}|[0-9a-fA-F]{6}-[0-9a-fA-F]{6}|([0-9a-fA-F]{2}-){5}[0-9a-fA-F]{2}|MAC_ANY'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Ethernet address with MAC_ANY"
              },
              "source-mac-mask": {
                "description": "Wildcard mask for source MAC address matching. Specified in IEEE 802 format. A zero bit indicates\nthe corresponding bit in the MAC address must match; a one bit indicates don't care. Use this\nfor matching ranges of MAC addresses.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "enet-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}|[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}|[0-9a-fA-F]{6}-[0-9a-fA-F]{6}|([0-9a-fA-F]{2}-){5}[0-9a-fA-F]{2}|MAC_ANY'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Ethernet address with MAC_ANY"
              },
              "vlan": {
                "description": "VLAN identifier to match in IEEE 802.1Q tagged Ethernet frames. Use this to match traffic\non a specific VLAN. For switch devices only. Valid range: 0-4000.",
                "format": "int32",
                "maximum": 4000,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            }
          }
        }
      },
      "ArubaPolicyCondition_EthernetHeaderConfigGet": {
        "description": "Defines Layer 2 Ethernet frame matching criteria including MAC addresses, EtherType,\nVLAN tags, and priority values. Used for MAC ACL rules and advanced Layer 2 filtering.",
        "properties": {
          "ethernet-header": {
            "description": "Layer 2 Ethernet frame matching criteria. Specifies MAC addresses, EtherType, VLAN identifiers,\nand priority code points to match against. Used for MAC-based access control and Layer 2 filtering.",
            "properties": {
              "destination-mac": {
                "description": "Destination MAC address to match in Ethernet frames. Specified in IEEE 802 format (e.g.,\naa:bb:cc:dd:ee:ff). Use with destination-mac-mask for wildcard matching of MAC address ranges.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "enet-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}|[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}|[0-9a-fA-F]{6}-[0-9a-fA-F]{6}|([0-9a-fA-F]{2}-){5}[0-9a-fA-F]{2}|MAC_ANY'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Ethernet address with MAC_ANY"
              },
              "destination-mac-mask": {
                "description": "Wildcard mask for destination MAC address matching. Specified in IEEE 802 format. A zero bit\nindicates the corresponding bit in the MAC address must match; a one bit indicates don't care.\nUse this for matching ranges of MAC addresses.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "enet-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}|[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}|[0-9a-fA-F]{6}-[0-9a-fA-F]{6}|([0-9a-fA-F]{2}-){5}[0-9a-fA-F]{2}|MAC_ANY'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Ethernet address with MAC_ANY"
              },
              "ethermask": {
                "description": "Wildcard mask for EtherType matching. A zero bit indicates the corresponding bit in the\nEtherType must match; a one bit indicates don't care. Use this for matching ranges of\nEtherType values. For gateway devices only.",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "ethertype": {
                "description": "EtherType field value to match in Ethernet frames. Identifies the protocol encapsulated in\nthe payload (e.g., 0x0800 for IPv4, 0x86DD for IPv6, 0x0806 for ARP). Use with ethermask\nfor wildcard matching.",
                "oneOf": [
                  {
                    "format": "int32",
                    "maximum": 65535,
                    "minimum": 1536,
                    "type": "integer"
                  },
                  {
                    "enum": [
                      "ETHERTYPE_IPV4",
                      "ETHERTYPE_ARP",
                      "ETHERTYPE_AARP",
                      "ETHERTYPE_APPLETALK",
                      "ETHERTYPE_FCOE",
                      "ETHERTYPE_FCOE_INIT",
                      "ETHERTYPE_IPX_ARPA",
                      "ETHERTYPE_IPX_NON_ARPA",
                      "ETHERTYPE_IS_IS",
                      "ETHERTYPE_MPLS_MULTICAST",
                      "ETHERTYPE_Q_IN_Q",
                      "ETHERTYPE_RBRIDGE",
                      "ETHERTYPE_TRILL",
                      "ETHERTYPE_WAKE_ON_LAN",
                      "ETHERTYPE_VLAN",
                      "ETHERTYPE_IPV6",
                      "ETHERTYPE_MPLS",
                      "ETHERTYPE_LLDP",
                      "ETHERTYPE_ROCE",
                      "ETHERTYPE_ANY"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "ETHERTYPE_AARP": "AppleTalk Address Resolution Protocol (AARP)",
                      "ETHERTYPE_ANY": "Any Ethertype",
                      "ETHERTYPE_APPLETALK": "AppleTalk/EtherTalk",
                      "ETHERTYPE_ARP": "Address resolution protocol (0x0806)",
                      "ETHERTYPE_FCOE": "Fibre Channel over Ethernet",
                      "ETHERTYPE_FCOE_INIT": "Fibre Channel over Ethernet Initialization",
                      "ETHERTYPE_IPV4": "IPv4 protocol (0x0800)",
                      "ETHERTYPE_IPV6": "IPv6 protocol (0x86DD)",
                      "ETHERTYPE_IPX_ARPA": "IPX Advanced Research Projects Agency (ARPA)",
                      "ETHERTYPE_IPX_NON_ARPA": "IPX-non-ARPA",
                      "ETHERTYPE_IS_IS": "Intermediate System to Intermediate System",
                      "ETHERTYPE_LLDP": "Link Layer Discovery Protocol (0x88CC)",
                      "ETHERTYPE_MPLS": "MPLS unicast (0x8847)",
                      "ETHERTYPE_MPLS_MULTICAST": "MPLS Multicast",
                      "ETHERTYPE_Q_IN_Q": "IEEE 802.1ad encapsulation",
                      "ETHERTYPE_RBRIDGE": "RBridge Channel Protocol",
                      "ETHERTYPE_ROCE": "RDMA over Converged Ethernet (0x8915)",
                      "ETHERTYPE_TRILL": "IETF TRILL protocol",
                      "ETHERTYPE_VLAN": "VLAN-tagged frame (as defined by IEEE 802.1q) (0x8100). Note\nthat this value is also used to represent Shortest Path\nBridging (IEEE 801.1aq) frames.",
                      "ETHERTYPE_WAKE_ON_LAN": "Wake on LAN"
                    },
                    "x-typeDescription": "Ethernet Protocol types."
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "pcp": {
                "description": "IEEE 802.1Q Priority Code Point (PCP) value to match in tagged Ethernet frames. Specifies\nthe priority level for QoS (0=lowest, 7=highest). Only applicable for VLAN-tagged traffic.\nFor switch devices only. Valid range: 0-7.",
                "format": "int32",
                "maximum": 7,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "source-mac": {
                "description": "Source MAC address to match in Ethernet frames. Specified in IEEE 802 format (e.g., aa:bb:cc:dd:ee:ff).\nUse with source-mac-mask for wildcard matching of MAC address ranges.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "enet-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}|[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}|[0-9a-fA-F]{6}-[0-9a-fA-F]{6}|([0-9a-fA-F]{2}-){5}[0-9a-fA-F]{2}|MAC_ANY'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Ethernet address with MAC_ANY"
              },
              "source-mac-mask": {
                "description": "Wildcard mask for source MAC address matching. Specified in IEEE 802 format. A zero bit indicates\nthe corresponding bit in the MAC address must match; a one bit indicates don't care. Use this\nfor matching ranges of MAC addresses.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "enet-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}|[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}\\.[0-9a-fA-F]{4}|[0-9a-fA-F]{6}-[0-9a-fA-F]{6}|([0-9a-fA-F]{2}-){5}[0-9a-fA-F]{2}|MAC_ANY'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Ethernet address with MAC_ANY"
              },
              "vlan": {
                "description": "VLAN identifier to match in IEEE 802.1Q tagged Ethernet frames. Use this to match traffic\non a specific VLAN. For switch devices only. Valid range: 0-4000.",
                "format": "int32",
                "maximum": 4000,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            }
          }
        }
      },
      "ArubaPolicyCondition_IpProtocolFieldsCommonConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaPolicyCondition_SourceConfig"
          },
          {
            "$ref": "#/components/schemas/ArubaPolicyCondition_DestinationConfig"
          }
        ],
        "description": "Defines IP header matching criteria common to both IPv4 and IPv6. Includes protocol type,\nDSCP, ToS, ECN, TTL/hop-limit, and protocol-specific fields for ICMP and IGMP.",
        "properties": {
          "ip-header": {
            "description": "IP header matching criteria. Specifies Layer 3 packet header fields to match including protocol,\nquality of service markings (DSCP, ToS), hop limit (TTL), and protocol-specific parameters for\nICMP and IGMP.",
            "properties": {
              "dscp": {
                "description": "Differentiated Services Code Point (DSCP) value to match in the IP header. Used for identifying\nand classifying traffic based on QoS markings. Valid values are DSCP keywords (e.g., default, af11,\nef) or numeric values (0-63). Cannot be used simultaneously with IP Precedence or ToS fields.",
                "oneOf": [
                  {
                    "format": "int32",
                    "maximum": 63,
                    "minimum": 0,
                    "type": "integer"
                  },
                  {
                    "enum": [
                      "AF11",
                      "AF12",
                      "AF13",
                      "AF21",
                      "AF22",
                      "AF23",
                      "AF31",
                      "AF32",
                      "AF33",
                      "AF41",
                      "AF42",
                      "AF43",
                      "DEFAULT",
                      "CS1",
                      "CS2",
                      "CS3",
                      "CS4",
                      "CS5",
                      "CS6",
                      "CS7",
                      "EF"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "AF11": "DSCP 10 (Assured Forwarding class 1, low drop probability)",
                      "AF12": "DSCP 12 (Assured Forwarding class 1, medium drop probability)",
                      "AF13": "DSCP 14 (Assured Forwarding class 1, high drop probability)",
                      "AF21": "DSCP 18 (Assured Forwarding class 2, low drop probability)",
                      "AF22": "DSCP 20 (Assured Forwarding class 2, medium drop probability)",
                      "AF23": "DSCP 22 (Assured Forwarding class 2, high drop probability)",
                      "AF31": "DSCP 26 (Assured Forwarding class 3, low drop probability)",
                      "AF32": "DSCP 28 (Assured Forwarding class 3, medium drop probability)",
                      "AF33": "DSCP 30 (Assured Forwarding class 3, high drop probability)",
                      "AF41": "DSCP 34 (Assured Forwarding class 4, low drop probability)",
                      "AF42": "DSCP 36 (Assured Forwarding class 4, medium drop probability)",
                      "AF43": "DSCP 38 (Assured Forwarding class 4, high drop probability)",
                      "CS1": "DSCP 8 (Class Selector 1: Scavenger)",
                      "CS2": "DSCP 16 (Class Selector 2: OAM)",
                      "CS3": "DSCP 24 (Class Selector 3: Signaling)",
                      "CS4": "DSCP 32 (Class Selector 4: Realtime)",
                      "CS5": "DSCP 40 (Class Selector 5: Broadcast video)",
                      "CS6": "DSCP 48 (Class Selector 6: Network control)",
                      "CS7": "DSCP 56 (Class Selector 7)",
                      "DEFAULT": "DSCP 0 (Class Selector 0: Default)",
                      "EF": "DSCP 46 (Expedited Forwarding)"
                    },
                    "x-typeDescription": "DSCP value enum types"
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "ecn": {
                "description": "Explicit Congestion Notification (ECN) bits to match in the IP header. Used to signal network\ncongestion without dropping packets. Cannot be used simultaneously with IP Precedence or ToS fields.",
                "enum": [
                  "NOT_ECN_CAPABLE",
                  "ECT_1",
                  "ECT_0",
                  "CONGESTION_EXPERIENCED"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "CONGESTION_EXPERIENCED": "Congestion experienced.",
                  "ECT_0": "ECT(0) - ECN-capable.",
                  "ECT_1": "ECT(1) - ECN-capable.",
                  "NOT_ECN_CAPABLE": "Not ECN-capable."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Explicit Congestion Notification (ECN) marking in the IP header."
              },
              "fragment": {
                "description": "Match IP packets with the fragmentation flag set or that are fragmented. When set to true,\nmatches fragmented packets only. For CX switches only. Used to identify and handle packet\nfragmentation scenarios.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "hop-limit": {
                "description": "Hop limit to match in IP packets. Known as TTL (Time To Live) in IPv4 packets and hop limit in\nIPv6 packets. Specifies the maximum number of hops (router traversals) a packet can make before\nbeing discarded. Valid range: 0-255.",
                "format": "int32",
                "maximum": 255,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "icmp": {
                "description": "ICMP (Internet Control Message Protocol) matching criteria. Only applicable when the protocol\nis ICMP (1) or ICMPv6 (58). Specifies ICMP message type and code to match against (e.g., echo\nrequest, destination unreachable).",
                "properties": {
                  "icmp-code": {
                    "description": "ICMP message code as a numeric value. Provides additional specificity for the ICMP type\n(e.g., for type 3 destination-unreachable: code 0=network-unreachable, code 1=host-unreachable).\nUsed in conjunction with icmp-type. Valid range: 0-255.",
                    "format": "int32",
                    "maximum": 255,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ]
                  },
                  "icmp-enum": {
                    "description": "ICMP message type using predefined enumeration values (e.g., echo-request, echo-reply,\ndestination-unreachable). Provides a user-friendly way to specify common ICMP types.",
                    "enum": [
                      "ADMINISTRATIVELY_PROHIBITED",
                      "ALTERNATE_ADDRESS",
                      "ALTERNATE_ADDRESS_HOST",
                      "CONVERSION_ERROR",
                      "DOD_HOST_PROHIBITED",
                      "DOD_NET_PROHIBITED",
                      "ECHO",
                      "GENERAL_PARAMETER_PROBLEM",
                      "HOST_ISOLATED",
                      "HOST_PRECEDENCE_UNREACHABLE",
                      "HOST_REDIRECT",
                      "HOST_TOS_REDIRECT",
                      "HOST_TOS_UNREACHABLE",
                      "HOST_UNKNOWN",
                      "HOST_UNREACHABLE",
                      "INFORMATION_REQUEST",
                      "MASK_REQUEST",
                      "MOBILE_REDIRECT",
                      "NET_REDIRECT",
                      "NET_TOS_REDIRECT",
                      "NET_TOS_UNREACHABLE",
                      "NET_UNREACHABLE",
                      "NETWORK_UNKNOWN",
                      "NO_ROOM_FOR_OPTION",
                      "OPTION_MISSING",
                      "PACKET_TOO_BIG",
                      "PARAMETER_PROBLEM",
                      "PORT_UNREACHABLE",
                      "PRECEDENCE",
                      "PRECEDENCE_UNREACHABLE",
                      "PROTOCOL_UNREACHABLE",
                      "REASSEMBLY_TIMEOUT",
                      "REDIRECT",
                      "ROUTER_ADVERTISEMENT",
                      "ROUTER_SOLICITATION",
                      "SOURCE_QUENCH",
                      "SOURCE_ROUTE_FAILED",
                      "TIME_EXCEEDED",
                      "TIMESTAMP_REQUEST",
                      "TRACEROUTE",
                      "TTL_EXCEEDED",
                      "UNREACHABLE",
                      "DESTINATION_UNREACHABLE",
                      "ECHO_REPLY",
                      "TIMESTAMP_REPLY",
                      "INFORMATION_REPLY",
                      "ADDRESS_MASK_REQUEST",
                      "ADDRESS_MASK_REPLY"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "ADDRESS_MASK_REPLY": "address-mask-reply.",
                      "ADDRESS_MASK_REQUEST": "address-mask-request.",
                      "ADMINISTRATIVELY_PROHIBITED": "administratively-prohibited.",
                      "ALTERNATE_ADDRESS": "alternate-address.",
                      "ALTERNATE_ADDRESS_HOST": "alternate-address-host.",
                      "CONVERSION_ERROR": "conversion-error.",
                      "DESTINATION_UNREACHABLE": "destination-unreachable.",
                      "DOD_HOST_PROHIBITED": "dod-host-prohibited.",
                      "DOD_NET_PROHIBITED": "dod-net-prohibited.",
                      "ECHO": "echo.",
                      "ECHO_REPLY": "echo-reply.",
                      "GENERAL_PARAMETER_PROBLEM": "general-parameter-problem.",
                      "HOST_ISOLATED": "host-isolated.",
                      "HOST_PRECEDENCE_UNREACHABLE": "host-precedence-unreachable.",
                      "HOST_REDIRECT": "host-redirect.",
                      "HOST_TOS_REDIRECT": "host-tos-redirect.",
                      "HOST_TOS_UNREACHABLE": "host-tos-unreachable.",
                      "HOST_UNKNOWN": "host-unknown.",
                      "HOST_UNREACHABLE": "host-unreachable.",
                      "INFORMATION_REPLY": "information-reply.",
                      "INFORMATION_REQUEST": "information-request.",
                      "MASK_REQUEST": "mask-request.",
                      "MOBILE_REDIRECT": "mobile-redirect.",
                      "NETWORK_UNKNOWN": "network-unknown.",
                      "NET_REDIRECT": "net-redirect.",
                      "NET_TOS_REDIRECT": "net-tos-redirect.",
                      "NET_TOS_UNREACHABLE": "net-tos-unreachable.",
                      "NET_UNREACHABLE": "net-unreachable.",
                      "NO_ROOM_FOR_OPTION": "no-room-for-option.",
                      "OPTION_MISSING": "option-missing.",
                      "PACKET_TOO_BIG": "packet-too-big.",
                      "PARAMETER_PROBLEM": "parameter-problem.",
                      "PORT_UNREACHABLE": "port-unreachable.",
                      "PRECEDENCE": "precedence.",
                      "PRECEDENCE_UNREACHABLE": "precedence-unreachable.",
                      "PROTOCOL_UNREACHABLE": "protocol-unreachable.",
                      "REASSEMBLY_TIMEOUT": "reassembly-timeout.",
                      "REDIRECT": "redirect.",
                      "ROUTER_ADVERTISEMENT": "router-advertisement.",
                      "ROUTER_SOLICITATION": "router-solicitation.",
                      "SOURCE_QUENCH": "source-quench.",
                      "SOURCE_ROUTE_FAILED": "source-route-failed.",
                      "TIMESTAMP_REPLY": "timestamp-reply.",
                      "TIMESTAMP_REQUEST": "timestamp-request.",
                      "TIME_EXCEEDED": "time-exceeded.",
                      "TRACEROUTE": "traceroute.",
                      "TTL_EXCEEDED": "ttl-exceeded.",
                      "UNREACHABLE": "unreachable."
                    },
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "ICMP type."
                  },
                  "icmp-type": {
                    "description": "ICMP message type as a numeric value (e.g., 0=echo-reply, 3=destination-unreachable, 8=echo-request).\nUse with icmp-code to match specific ICMP messages. Valid range: 0-255.",
                    "format": "int32",
                    "maximum": 255,
                    "minimum": 0,
                    "type": "integer",
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS"
                    ]
                  }
                }
              },
              "igmp": {
                "description": "IGMP (Internet Group Management Protocol) matching criteria. Only applicable when the protocol\nis IGMP. Specifies IGMP message type to match against (e.g., membership query, membership report).",
                "properties": {
                  "type": {
                    "description": "IGMP message type using predefined enumeration values (e.g., membership-query, membership-report,\nleave-group). Used to match specific IGMP protocol messages for multicast group management.",
                    "enum": [
                      "MEMBERSHIP_QUERY",
                      "MEMBERSHIP_REPORT",
                      "DVMRP",
                      "PIM",
                      "TRACE",
                      "MEMBERSHIP_REPORT_V2",
                      "HOST_LEAVE_V2",
                      "MEMBERSHIP_REPORT_V3",
                      "MTRACE_REPLY",
                      "MTRACE_REQUEST",
                      "MROUTER_ADVERTISEMENT",
                      "MROUTER_SOLICITATION",
                      "MROUTER_TERMINATION"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "DVMRP": "DVMRP",
                      "HOST_LEAVE_V2": "IGMPv2 Leave Group (RFC 2236)",
                      "MEMBERSHIP_QUERY": "IGMP Membership Query (RFC 1112)",
                      "MEMBERSHIP_REPORT": "IGMPv1 Membership Report (RFC 1112)",
                      "MEMBERSHIP_REPORT_V2": "IGMPv2 Membership Report (RFC 2236)",
                      "MEMBERSHIP_REPORT_V3": "IGMPv3 Membership Report (RFC 3376)",
                      "MROUTER_ADVERTISEMENT": "Multicast Router Advertisement (RFC 4286)",
                      "MROUTER_SOLICITATION": "Multicast Router Solicitation (RFC 4286)",
                      "MROUTER_TERMINATION": "Multicast Router Termination (RFC 4286)",
                      "MTRACE_REPLY": "Multicast Traceroute Response",
                      "MTRACE_REQUEST": "Multicast Traceroute",
                      "PIM": "PIM",
                      "TRACE": "Cisco trace"
                    },
                    "x-supportedDeviceType": [
                      "Switch PVOS"
                    ],
                    "x-typeDescription": "IGMP type."
                  }
                }
              },
              "ip-precedence": {
                "description": "IP Precedence value to match in the IP ToS field. Legacy QoS field used for traffic priority.\nValid range: 0-7 (0=routine, 7=network control). Cannot be used simultaneously with DSCP or ECN\nfields. For switch devices only.",
                "format": "int32",
                "maximum": 7,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              },
              "ipv6-fragmentation-header": {
                "description": "IPv6 fragmentation header value to match. Used to identify fragmented IPv6 packets. Only\napplicable for IPv6 traffic.",
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              },
              "protocol": {
                "description": "IP protocol to match in the packet. Can be specified either as a protocol number (e.g., 6 for TCP,\n17 for UDP, 1 for ICMP) or by a named protocol identifier (e.g., IP_TCP, IP_UDP, IP_ICMP). This\ndetermines which transport protocol the rule applies to.",
                "oneOf": [
                  {
                    "format": "int32",
                    "maximum": 255,
                    "minimum": 0,
                    "type": "integer"
                  },
                  {
                    "enum": [
                      "IP_TCP",
                      "IP_UDP",
                      "IP_ICMP",
                      "IPV6_ICMP",
                      "IP_IGMP",
                      "IP_PIM",
                      "IP_RSVP",
                      "IP_GRE",
                      "IP_AUTH",
                      "IP_L2TP",
                      "IP_IN_IP",
                      "IP_ESP",
                      "PROTOCOL_ANY"
                    ],
                    "format": "enum",
                    "type": "string",
                    "x-enumDescriptions": {
                      "IPV6_ICMP": "Internet Control Message Protocol (58)",
                      "IP_AUTH": "Authentication header, e.g., for IPSEC (51)",
                      "IP_ESP": "ESP Protocol",
                      "IP_GRE": "Generic Routing Encapsulation (47)",
                      "IP_ICMP": "Internet Control Message Protocol (1)",
                      "IP_IGMP": "Internet Group Membership Protocol (2)",
                      "IP_IN_IP": "IP-in-IP tunneling (4)",
                      "IP_L2TP": "Layer Two Tunneling Protocol v.3 (115)",
                      "IP_PIM": "Protocol Independent Multicast (103)",
                      "IP_RSVP": "Resource Reservation Protocol (46)",
                      "IP_TCP": "Transmission Control Protocol (6)",
                      "IP_UDP": "User Datagram Protocol (17)",
                      "PROTOCOL_ANY": "Any Protocol"
                    },
                    "x-typeDescription": "IP Protocol types."
                  }
                ],
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
[...]
