{
  "openapi": "3.1.0",
  "info": {
    "title": "Role",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Role"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/roles": {
      "get": {
        "description": "Roles.\nRole is a feature that allows administrators to assign network access to clients\nThe network admin can create configuration profiles(roles), associate\nthem to clients and configure various parameters of role that are supported",
        "operationId": "readRoles",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaRole_RolesSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing roles",
        "tags": [
          "Role"
        ],
        "x-cliParam": {
          "commandName": "readRolesCmd",
          "commandUse": "roles",
          "parentCommand": "readCmd",
          "pathToPrint": "/roles/",
          "summary": "Read operation for roles"
        }
      }
    },
    "/network-config/v1alpha1/roles/{name}": {
      "get": {
        "description": "Role Name.",
        "operationId": "readRolesRoleByID",
        "parameters": [
          {
            "description": "Role name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaRole_RolesroleSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read the existing role configuration",
        "tags": [
          "Role"
        ],
        "x-cliParam": {
          "commandName": "readRolesRoleCmd",
          "commandUse": "role",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readRolesCmd",
          "pathToPrint": "/roles/role/%s/",
          "summary": "Read operation for role",
          "totParams": 1
        }
      },
      "put": {
        "description": "Role Name.",
        "operationId": "replaceRolesRoleByID",
        "parameters": [
          {
            "description": "Role name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaRole_RolesroleSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add or Update existing role",
        "tags": [
          "Role"
        ],
        "x-cliParam": {
          "commandName": "replaceRolesRoleCmd",
          "commandUse": "role",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceRolesCmd",
          "pathToPrint": "/roles/role/%s/",
          "summary": "Replace operation for role",
          "totParams": 1
        }
      },
      "post": {
        "description": "Role Name.",
        "operationId": "createRolesRoleByID",
        "parameters": [
          {
            "description": "Role name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaRole_RolesroleSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a role by unique name",
        "tags": [
          "Role"
        ],
        "x-cliParam": {
          "commandName": "createRolesRoleCmd",
          "commandUse": "role",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createRolesCmd",
          "pathToPrint": "/roles/role/%s/",
          "summary": "Create operation for role",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Role Name.",
        "operationId": "deleteRolesRoleByID",
        "parameters": [
          {
            "description": "Role name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the role",
        "tags": [
          "Role"
        ],
        "x-cliParam": {
          "commandName": "deleteRolesRoleCmd",
          "commandUse": "role",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteRolesCmd",
          "pathToPrint": "/roles/role/%s/",
          "summary": "Delete operation for role",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Role Name.",
        "operationId": "updateRolesRoleByID",
        "parameters": [
          {
            "description": "Role name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaRole_RolesroleSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update role",
        "tags": [
          "Role"
        ],
        "x-cliParam": {
          "commandName": "updateRolesRoleCmd",
          "commandUse": "role",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateRolesCmd",
          "pathToPrint": "/roles/role/%s/",
          "summary": "Update operation for role",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaAaaBandwidthContract_AaaBwc": {
        "description": "Bandwidth contracts grouping",
        "properties": {
          "aaa-bw-contract": {
            "description": "AAA bandwidth contract assignments - Associates a named AAA\nbandwidth contract with a traffic direction and an optional association\nscope (per-user or per-apgroup) within a role or interface. At most one contract can\nbe assigned per direction.",
            "properties": {
              "bw-contract": {
                "description": "List of bandwidth contract assignments keyed by traffic\ndirection. Each entry assigns a named AAA bandwidth contract to either\nupstream or downstream traffic, with an optional\nassociation scope of per-user or per-apgroup.",
                "items": {
                  "properties": {
                    "association": {
                      "description": "Bandwidth contract assignment to per-user/per-apgroup.",
                      "enum": [
                        "PER_USER",
                        "PER_APGROUP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "PER_APGROUP": "Assign bandwidth contract per-apgroup (default is per-role).",
                        "PER_USER": "Assign bandwidth contract per-user (default is per-role)."
                      },
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ],
                      "x-typeDescription": "Assign bandwidth contract per-user/per-apgroup."
                    },
                    "bwc-name": {
                      "description": "Name of the bandwidth contract.",
                      "format": "const",
                      "maxLength": 63,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-aaa-bwc:aaa-bandwidth-contract/ac-aaa-bwc:contract/ac-aaa-bwc:name",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "direction": {
                      "description": "Direction of traffic.",
                      "enum": [
                        "UPSTREAM",
                        "DOWNSTREAM"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DOWNSTREAM": "Assign bandwidth contract to downstream traffic.",
                        "UPSTREAM": "Assign bandwidth contract to upstream traffic."
                      },
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ],
                      "x-typeDescription": "Direction of traffic."
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "direction"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          }
        }
      },
      "ArubaAaaBandwidthContract_AaaBwcGet": {
        "description": "Bandwidth contracts grouping",
        "properties": {
          "aaa-bw-contract": {
            "description": "AAA bandwidth contract assignments - Associates a named AAA\nbandwidth contract with a traffic direction and an optional association\nscope (per-user or per-apgroup) within a role or interface. At most one contract can\nbe assigned per direction.",
            "properties": {
              "bw-contract": {
                "description": "List of bandwidth contract assignments keyed by traffic\ndirection. Each entry assigns a named AAA bandwidth contract to either\nupstream or downstream traffic, with an optional\nassociation scope of per-user or per-apgroup.",
                "items": {
                  "properties": {
                    "association": {
                      "description": "Bandwidth contract assignment to per-user/per-apgroup.",
                      "enum": [
                        "PER_USER",
                        "PER_APGROUP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "PER_APGROUP": "Assign bandwidth contract per-apgroup (default is per-role).",
                        "PER_USER": "Assign bandwidth contract per-user (default is per-role)."
                      },
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ],
                      "x-typeDescription": "Assign bandwidth contract per-user/per-apgroup."
                    },
                    "bwc-name": {
                      "description": "Name of the bandwidth contract.",
                      "format": "const",
                      "maxLength": 63,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-aaa-bwc:aaa-bandwidth-contract/ac-aaa-bwc:contract/ac-aaa-bwc:name",
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ]
                    },
                    "direction": {
                      "description": "Direction of traffic.",
                      "enum": [
                        "UPSTREAM",
                        "DOWNSTREAM"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "DOWNSTREAM": "Assign bandwidth contract to downstream traffic.",
                        "UPSTREAM": "Assign bandwidth contract to upstream traffic."
                      },
                      "x-supportedDeviceType": [
                        "Access Point",
                        "Gateway"
                      ],
                      "x-typeDescription": "Direction of traffic."
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "direction"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          }
        }
      },
      "ArubaAaaBandwidthContract_AppBasedAaaBwc": {
        "description": "App based AAA Bandwidth contracts.",
        "properties": {
          "app-aaa-contract": {
            "description": "Application-based AAA bandwidth contracts. Associates named AAA bandwidth\ncontracts with specific DPI applications and a traffic direction, allowing\nper-application rate limiting.",
            "properties": {
              "app": {
                "description": "List of application-based bandwidth contracts keyed by application name\nand traffic direction. Each entry maps a specific DPI application\n(e.g. facebook, youtube, zoom) to a named AAA bandwidth contract for\neither upstream or downstream traffic.",
                "items": {
                  "properties": {
                    "appname-direction": {
                      "description": "Key combination of application name and direction separated by '~'.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    },
                    "bwc-name": {
                      "description": "Name of the Bandwidth contract.",
                      "format": "const",
                      "maxLength": 63,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-aaa-bwc:aaa-bandwidth-contract/ac-aaa-bwc:contract/ac-aaa-bwc:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "appnameDirection"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaAaaBandwidthContract_AppBasedAaaBwcGet": {
        "description": "App based AAA Bandwidth contracts.",
        "properties": {
          "app-aaa-contract": {
            "description": "Application-based AAA bandwidth contracts. Associates named AAA bandwidth\ncontracts with specific DPI applications and a traffic direction, allowing\nper-application rate limiting.",
            "properties": {
              "app": {
                "description": "List of application-based bandwidth contracts keyed by application name\nand traffic direction. Each entry maps a specific DPI application\n(e.g. facebook, youtube, zoom) to a named AAA bandwidth contract for\neither upstream or downstream traffic.",
                "items": {
                  "properties": {
                    "appname-direction": {
                      "description": "Key combination of application name and direction separated by '~'.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    },
                    "bwc-name": {
                      "description": "Name of the Bandwidth contract.",
                      "format": "const",
                      "maxLength": 63,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-aaa-bwc:aaa-bandwidth-contract/ac-aaa-bwc:contract/ac-aaa-bwc:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "appnameDirection"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaAaaBandwidthContract_AppCatBasedAaaBwc": {
        "description": "App category based AAA Bandwidth contracts.",
        "properties": {
          "app-category-aaa-contract": {
            "description": "Application category-based AAA bandwidth contracts. Associates named AAA\nbandwidth contracts with DPI application categories and a traffic direction,\nallowing rate limiting to be applied at the category level rather than\nper individual application.",
            "properties": {
              "app-category": {
                "description": "List of application category-based bandwidth contracts keyed by\ncategory name and traffic direction. Each entry maps a DPI application\ncategory (e.g. STREAMING, GAMING, SOCIAL-NETWORKING) to a named AAA\nbandwidth contract for either upstream or downstream traffic.",
                "items": {
                  "properties": {
                    "bwc-name": {
                      "description": "Name of the Bandwidth contract.",
                      "format": "const",
                      "maxLength": 63,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-aaa-bwc:aaa-bandwidth-contract/ac-aaa-bwc:contract/ac-aaa-bwc:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "category-name-direction": {
                      "description": "Key combination of application category name and direction separated by '~'.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "categoryNameDirection"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaAaaBandwidthContract_AppCatBasedAaaBwcGet": {
        "description": "App category based AAA Bandwidth contracts.",
        "properties": {
          "app-category-aaa-contract": {
            "description": "Application category-based AAA bandwidth contracts. Associates named AAA\nbandwidth contracts with DPI application categories and a traffic direction,\nallowing rate limiting to be applied at the category level rather than\nper individual application.",
            "properties": {
              "app-category": {
                "description": "List of application category-based bandwidth contracts keyed by\ncategory name and traffic direction. Each entry maps a DPI application\ncategory (e.g. STREAMING, GAMING, SOCIAL-NETWORKING) to a named AAA\nbandwidth contract for either upstream or downstream traffic.",
                "items": {
                  "properties": {
                    "bwc-name": {
                      "description": "Name of the Bandwidth contract.",
                      "format": "const",
                      "maxLength": 63,
                      "minLength": 1,
                      "type": "string",
                      "x-path": "/ac-aaa-bwc:aaa-bandwidth-contract/ac-aaa-bwc:contract/ac-aaa-bwc:name",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "category-name-direction": {
                      "description": "Key combination of application category name and direction separated by '~'.",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "categoryNameDirection"
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaAaaBandwidthContract_ExcludeAppBwc": {
        "description": "Exclude applications Grouping",
        "properties": {
          "exclude-app-contract": {
            "description": "Exclude specific DPI applications from bandwidth contract enforcement.\nApplications listed here will bypass bandwidth contract rate limiting\neven if a matching contract is configured.",
            "properties": {
              "exclude-app": {
                "description": "List of DPI applications excluded from bandwidth contract enforcement.\nEach entry specifies an application name that will bypass any configured\nbandwidth contract rate limits.",
                "items": {
                  "properties": {
                    "exclude-app-name": {
                      "description": "Name of the application.",
                      "enum": [
                        "01net",
                        "050plus",
                        "0zz0",
                        "10050net",
                        "10086cn",
                        "104com",
                        "1111tw",
                        "114la",
                        "115com",
                        "118114cn",
                        "11st",
                        "1337x",
                        "139mail",
                        "15min",
                        "163com",
                        "17173com",
                        "17u",
                        "20min",
                        "24h",
                        "24ora",
                        "24sata",
                        "24ur",
                        "2ch",
                        "2shared",
                        "3366-com",
                        "360cn",
                        "3gpp-li",
                        "3pc",
                        "4399com",
                        "4chan",
                        "4shared",
                        "4tube",
                        "51-com",
                        "51-com-bbs",
                        "51-com-music",
                        "51-com-posting",
                        "51job",
                        "51la",
                        "56com",
                        "58com",
                        "591tw",
                        "5pmweb",
                        "6alabat",
                        "6play",
                        "7k7k",
                        "802-11",
                        "8021ad",
                        "8021q",
                        "8tracks",
                        "91com",
                        "999-md",
                        "99acres",
                        "9gag",
                        "9game",
                        "9p",
                        "a-dakar",
                        "aajtak",
                        "aastocks",
                        "abc",
                        "abc-au",
                        "abc-news",
                        "abcnews",
                        "abidjan",
                        "abn-amro-bankieren",
                        "abola",
                        "abs-cbn",
                        "abs-cbnnews",
                        "abv",
                        "ac-reunion",
                        "acbar",
                        "accuweather",
                        "aceproject",
                        "acer",
                        "acrobat",
                        "acse",
                        "activenet",
                        "activesync",
                        "actuniger",
                        "adaderana",
                        "adc",
                        "adcash",
                        "adcolony",
                        "addictinggames",
                        "addthis",
                        "adf",
                        "adform",
                        "adjara",
                        "adjaranet",
                        "adjust",
                        "adk2",
                        "adnetworkperformance",
                        "adnstream",
                        "adobe",
                        "adobe-connect",
                        "adobe-meeting-rc",
                        "adobe-update",
                        "adp",
                        "adplex-media",
                        "adrive",
                        "adsafeprotected",
                        "adserverplus",
                        "adtech",
                        "adtelligent",
                        "adultadworld",
                        "adultfriendfinder",
                        "advection",
                        "adventori",
                        "advertising-com",
                        "advogato",
                        "aerserv",
                        "afl",
                        "afp",
                        "afreeca",
                        "africaguinee",
                        "afrikmag",
                        "aftenposten",
                        "aftonbladet",
                        "agame",
                        "aiaigame",
                        "aib",
                        "aiccu-tic",
                        "aili",
                        "aim",
                        "aim-transfer",
                        "aimini",
                        "aims",
                        "air-video",
                        "airaim",
                        "airkast",
                        "aizhan",
                        "akamai",
                        "akamai-video",
                        "akinator",
                        "akipress",
                        "akoam",
                        "aktuality",
                        "alakhbar",
                        "alaraby",
                        "alayam24",
                        "albawabhnews",
                        "alexa",
                        "alfajertv",
                        "alg-dhcp",
                        "alg-facetime",
                        "alg-facetime-audio",
                        "alg-ftp",
                        "alg-h323",
                        "alg-jabber-audio",
                        "alg-jabber-desktop-sharing",
                        "alg-jabber-mc",
                        "alg-jabber-video",
                        "alg-noe",
                        "alg-rtp",
                        "alg-rtsp",
                        "alg-sccp",
                        "alg-sip",
                        "alg-sip-audio",
                        "alg-sip-video",
                        "alg-skype4b-app-sharing",
                        "alg-skype4b-audio",
                        "alg-skype4b-desktop-sharing",
                        "alg-skype4b-file-transfer",
                        "alg-skype4b-secure",
                        "alg-skype4b-video",
                        "alg-svp",
                        "alg-vocera",
                        "alg-wifi-calling",
                        "alibaba",
                        "alicall",
                        "aliexpress",
                        "alimama",
                        "alipay",
                        "aljaras",
                        "aljarida",
                        "aljazeera",
                        "alkawnnews",
                        "all-slots-casino",
                        "allegro",
                        "allmusic",
                        "allocine",
                        "almanar",
                        "almashhad",
                        "almasryalyoum",
                        "alnilin",
                        "alquds",
                        "alrakoba",
                        "alsjl",
                        "altiris",
                        "alwafd",
                        "alwakeelnews",
                        "alwasatnews",
                        "alwatanvoice",
                        "alyamanalaraby",
                        "alyaoum24",
                        "amazon",
                        "amazon-adsystem",
                        "amazon-aws",
                        "amazon-chime",
                        "amazon-cloud-drive",
                        "amazon-music",
                        "amazon-video",
                        "ambebi",
                        "ameba",
                        "americanexpress",
                        "ami",
                        "amjilt",
                        "ammonnews",
                        "ammyy-admin",
                        "amoebaos",
                        "amplitude",
                        "amqp",
                        "andornet",
                        "android-cnxmgr",
                        "angry-birds",
                        "animebw",
                        "animoto",
                        "anipang",
                        "annapurnapost",
                        "annonces",
                        "anobii",
                        "anspress",
                        "answers",
                        "ant1iwo",
                        "ants-p2p",
                        "any",
                        "any-0hop",
                        "anydesk",
                        "anz",
                        "anzhi",
                        "aol",
                        "aol-on",
                        "aol-one",
                        "apa",
                        "aparat",
                        "apns",
                        "apollo",
                        "apollo-lv",
                        "appbot",
                        "appchina",
                        "apple",
                        "apple-airplay",
                        "apple-airport",
                        "apple-airprint",
                        "apple-hls",
                        "apple-location",
                        "apple-maps",
                        "apple-music",
                        "apple-siri",
                        "apple-update",
                        "appledaily",
                        "applejuice",
                        "applovin",
                        "appnext",
                        "appnexus",
                        "appsflyer",
                        "appshopper",
                        "appstore",
                        "apptimize",
                        "apsalar",
                        "aptoide",
                        "aqlame",
                        "arabiaweather",
                        "archive",
                        "arenabg",
                        "ares",
                        "areyouahuman",
                        "argaam",
                        "argus",
                        "aris",
                        "armorgames",
                        "armorgames-play",
                        "arp",
                        "asana",
                        "asiae",
                        "asiandvdclub",
                        "ask",
                        "ask-fm",
                        "askcom",
                        "asmallworld",
                        "asproxy",
                        "atalk",
                        "athlinks",
                        "atlasinfo",
                        "atlassian",
                        "atlassolutions",
                        "att",
                        "atwiki",
                        "auction",
                        "audible",
                        "aufeminin",
                        "aumix",
                        "auone",
                        "auto24",
                        "autodesk",
                        "avas",
                        "avast",
                        "avaz",
                        "avg",
                        "avg-update",
                        "avira-update",
                        "avito-ma",
                        "avito-ru",
                        "avoidr",
                        "avto",
                        "awempire",
                        "ax25",
                        "azet",
                        "azetone",
                        "b92",
                        "babycenter",
                        "babyhome",
                        "babylon",
                        "backpackers",
                        "bacnet-app",
                        "bacnet-net",
                        "bacnet-vlc",
                        "badongo",
                        "badoo",
                        "baganmart",
                        "baidu",
                        "baidu-hi-games",
                        "baidu-maps",
                        "baidu-player",
                        "baidu-wallet",
                        "baike",
                        "balkanweb",
                        "banco-industrial",
                        "bancoestado",
                        "bancopopular",
                        "banesc-online",
                        "banglanews24",
                        "bankmellat",
                        "banvenez",
                        "baofeng",
                        "base",
                        "battlenet",
                        "bazaarvoice",
                        "bazos",
                        "bbc",
                        "bbc-player",
                        "bbm",
                        "bbm-audio",
                        "bbm-video",
                        "bbn-rcc-mon",
                        "bbs",
                        "bca-co",
                        "bd24live",
                        "bdjobs",
                        "bdnews24",
                        "beanfun",
                        "beatport",
                        "bebo",
                        "bebo-mail",
                        "beetalk",
                        "beforward",
                        "beirutpress",
                        "bemaniso",
                        "bernews",
                        "bet365",
                        "bet9ja",
                        "bf1",
                        "bf4",
                        "bgp",
                        "bidorbuy",
                        "bidswitch",
                        "big5-sporting-goods",
                        "bigbigchannel",
                        "bigeye",
                        "biglobe-ne",
                        "bigpond-movies",
                        "bigtent",
                        "bigupload",
                        "biip",
                        "bikhir",
                        "bild",
                        "bing",
                        "bint-jbeil",
                        "biobiochile",
                        "bitbucket",
                        "bitcoin",
                        "bitcomet-pex",
                        "bitdefender-update",
                        "bitenova",
                        "bitlord",
                        "bitme",
                        "bitmedianetwork",
                        "bitmetv",
                        "bits",
                        "bitseduce",
                        "bitshock",
                        "bitsoup",
                        "bitstrips",
                        "bittorrent",
                        "bittorrent-application",
                        "bittorrent-bundle",
                        "bitvaulttorrent",
                        "bitworld",
                        "bizographics",
                        "bjnp",
                        "blackberry",
                        "blackberry-locate",
                        "blackberry-update",
                        "blackplanet",
                        "blastingnews",
                        "bleacherreport",
                        "bleep",
                        "blic",
                        "blick",
                        "blocket",
                        "blog",
                        "blogfa",
                        "blogger",
                        "blogimg",
                        "blogphongthuy",
                        "blogster",
                        "blokus",
                        "bloomberg",
                        "blubster",
                        "bluejayfilms",
                        "bluewin",
                        "bmff",
                        "bna",
                        "bodet-time",
                        "bofa",
                        "boldchat",
                        "bolha",
                        "bolt",
                        "bomb01",
                        "bondisk",
                        "bongacams",
                        "bonmarche",
                        "booking",
                        "books",
                        "bootstrapcdn",
                        "bootytape",
                        "box-net",
                        "boxopus",
                        "br-sat-mon",
                        "braintree",
                        "branch",
                        "brazzers",
                        "brightcove",
                        "brightroll",
                        "brighttalk",
                        "browntracker",
                        "bsp",
                        "bssap",
                        "bt-bt",
                        "bt-dk",
                        "bt-wrzru",
                        "btjunkie",
                        "bugs",
                        "bugsnag",
                        "bujumbura",
                        "bukalapak",
                        "bulawayo24",
                        "burt",
                        "businessweekly",
                        "buzzfeed",
                        "buzzhand",
                        "buzznet",
                        "buzzsenegal",
                        "bwiza",
                        "bxml",
                        "bypassthat",
                        "caak",
                        "caasimadda",
                        "cabify",
                        "caf",
                        "cafemom",
                        "caliente",
                        "cam4",
                        "cameroon-info",
                        "campfire",
                        "canalrcn",
                        "candy-crush-saga",
                        "canvas",
                        "capitalone",
                        "capwap",
                        "carbonite",
                        "care2",
                        "cari",
                        "carsales",
                        "cartoonnetwork",
                        "cas",
                        "catchoftheday",
                        "caymannewsservice",
                        "cbs-video",
                        "cbt",
                        "ccp",
                        "ccproxy",
                        "cctv-vod",
                        "cdiscount",
                        "cdm",
                        "cdnetworks",
                        "cdp",
                        "cedexis",
                        "cellufun",
                        "central-torrent",
                        "centrum-cz",
                        "centrum-sk",
                        "cft",
                        "cftp",
                        "cgiproxy",
                        "cgmp",
                        "champion-football",
                        "channel4",
                        "channelmyanmar",
                        "chaos",
                        "chap",
                        "chatroulette",
                        "cheetah-mobile",
                        "china-airlines",
                        "china-youth-league",
                        "chinacom",
                        "chinacomcn",
                        "chinadaily",
                        "chinanetcenter",
                        "chinanews",
                        "chinaren",
                        "chinatimes",
                        "chinaz",
                        "chosun",
                        "chouftv",
                        "chrome-remote-desktop",
                        "chrome-update",
                        "chunghwa-telecom",
                        "cibercuba",
                        "cip",
                        "cisco",
                        "citizentv",
                        "citrix-cloud",
                        "citrix-online",
                        "citrix-pvs",
                        "cj-mall",
                        "ck101",
                        "clarin",
                        "clash-of-clans",
                        "clash-royale",
                        "clasificadosonline",
                        "classmates",
                        "clearcase",
                        "clearspace",
                        "clicanoo",
                        "clicktale",
                        "clickyab",
                        "clien",
                        "clip",
                        "clip2net",
                        "cloob",
                        "cloudflare",
                        "cloudinary",
                        "cloudme",
                        "clubbox",
                        "clubic",
                        "clumsy-ninja",
                        "cmore",
                        "cnet",
                        "cnet-tv",
                        "cnm",
                        "cnn",
                        "cntv",
                        "cnyes",
                        "cnzz",
                        "coap",
                        "coccoc",
                        "coco",
                        "cocolog-nifty",
                        "college-blender",
                        "comcast",
                        "comm",
                        "commbank",
                        "commentcamarche",
                        "comp",
                        "compaq-peer",
                        "concur",
                        "conduit",
                        "constantcontact",
                        "contentabc",
                        "conversant",
                        "conviva",
                        "corotos",
                        "corriere",
                        "cotp",
                        "couch-surfing",
                        "coupang",
                        "cpasbien",
                        "cphb",
                        "cpmstar",
                        "cpnx",
                        "crackle",
                        "craigslist",
                        "crashlytics",
                        "crhoy",
                        "criteo",
                        "crittercism",
                        "crnobelo",
                        "crocko",
                        "crtp",
                        "crudp",
                        "cryptoheaven",
                        "cryptospout",
                        "crystalbet",
                        "csdn",
                        "csp-abethernet",
                        "cstrike",
                        "ctrip",
                        "cubadebate",
                        "cups",
                        "curapelanatureza",
                        "curse",
                        "cv-online",
                        "cvbankas",
                        "cvs",
                        "cwseychelles",
                        "cyber12",
                        "cyberctm",
                        "cyworld",
                        "da7ye",
                        "dagbladet",
                        "daikynguyen",
                        "daily-pakistan",
                        "daily-strength",
                        "dailymail",
                        "dailymotion",
                        "dakaractu",
                        "dameware",
                        "dangdang",
                        "danishbits",
                        "dantri",
                        "dap-news",
                        "daraz",
                        "data-hu",
                        "data-saver",
                        "daum",
                        "daummail",
                        "davidov",
                        "day",
                        "db2",
                        "dba",
                        "dbs",
                        "dcard",
                        "dccp",
                        "dcerpc",
                        "dcinside",
                        "dcn-meas",
                        "ddp",
                        "ddx",
                        "dealdey",
                        "debian",
                        "debian-update",
                        "dec",
                        "decayenne",
                        "deepseek",
                        "deer-hunter-2014",
                        "deezer",
                        "defimedia",
                        "delfi",
                        "delicious",
                        "delta-search",
                        "deltav",
                        "demonware",
                        "depositfiles",
                        "derstandard",
                        "deskaway",
                        "destiny",
                        "detik",
                        "detiknews",
                        "deviant-art",
                        "dfs",
                        "dgp",
                        "dhcp6",
                        "diablo3",
                        "diameter",
                        "dianping",
                        "dict",
                        "digg",
                        "digikala",
                        "digioh",
                        "digitalriver",
                        "digitalverse",
                        "diino",
                        "dimp",
                        "diodeo",
                        "diop",
                        "diply",
                        "dir",
                        "directconnect",
                        "directrev",
                        "directv",
                        "diretube",
                        "disaboom",
                        "discuss",
                        "disney-channel",
                        "disney-junior",
                        "disney-xd",
                        "disqus",
                        "distcc",
                        "divar",
                        "divshare",
                        "dmm-co",
                        "dnevnik",
                        "dnp3",
                        "dns-crypt",
                        "dns2tcp",
                        "dnshop",
                        "dnxlive",
                        "docstoc",
                        "docusign",
                        "doisongphapluat",
                        "dol2day",
                        "domain",
                        "donedeal",
                        "donga",
                        "dontstayin",
                        "doodle-jump",
                        "doorblog",
                        "dorgio",
                        "dostor",
                        "dota2",
                        "douban",
                        "doubleverify",
                        "douyu",
                        "dr",
                        "draugas",
                        "draugiem",
                        "drda",
                        "dreamora",
                        "dreamwiz",
                        "dropbox",
                        "dropbox-download",
                        "dropbox-upload",
                        "dropshots",
                        "druknet",
                        "drupal",
                        "dsi",
                        "dsr",
                        "dstv",
                        "dtls",
                        "dtp",
                        "dubizzle",
                        "duodecad-its",
                        "duowan",
                        "dv",
                        "dwarozh",
                        "dwtonline",
                        "dwu",
                        "dynamicintranet",
                        "e-boks",
                        "earthcam",
                        "earthlinktele",
                        "eastmoney",
                        "easytravel",
                        "ebay",
                        "ebay-classifieds",
                        "ebuddy",
                        "ecaytrade",
                        "echo",
                        "echo360",
                        "echoroukonline",
                        "ecuavisa",
                        "edgecast",
                        "edonkey",
                        "edu365",
                        "educarriere",
                        "egloos",
                        "egnyte",
                        "egp",
                        "eigrp",
                        "ekantipur",
                        "eksisozluk",
                        "ekskluziva",
                        "ekstrabladet",
                        "el-balad",
                        "el-nacional",
                        "elasticsearch",
                        "elblog",
                        "elbotola",
                        "elcat",
                        "elcomercio",
                        "eldeber",
                        "electronic-arts",
                        "elfagr",
                        "elftown",
                        "elhawd",
                        "elheddaf",
                        "elheraldo",
                        "elhourriya",
                        "elkhadra",
                        "elle-tw",
                        "elluminate",
                        "elmogaz",
                        "elmundo",
                        "elnashra",
                        "elnoticiero",
                        "elnuevodia",
                        "elnuevodiario",
                        "elnuevoherald",
                        "elpais",
                        "elsalvador",
                        "eltiempo",
                        "eluniverso",
                        "elwatannews",
                        "emag",
                        "emansion-lr",
                        "emcon",
                        "emisoras-unidas",
                        "emol",
                        "emoo",
                        "empire-four-kingdoms",
                        "encap",
                        "encuentra24",
                        "energy-torrent",
                        "enip",
                        "ensighten",
                        "ensonhaber",
                        "eons",
                        "epa",
                        "epernicus",
                        "epic-games",
                        "epl",
                        "epm",
                        "epom",
                        "eroom-net",
                        "eskimi",
                        "esnips",
                        "espn",
                        "espncricinfo",
                        "essada",
                        "essaha",
                        "essahraa",
                        "essirage",
                        "established",
                        "estadio",
                        "etajakhabar",
                        "etao",
                        "etecsa",
                        "eth",
                        "etherip",
                        "ethiojobs",
                        "ethiotube",
                        "etisalat-c-me",
                        "etsi-li",
                        "ettoday",
                        "eve-online",
                        "everest-tech",
                        "evernote",
                        "everquest",
                        "evony",
                        "exacqvision",
                        "exblog",
                        "excel-online",
                        "exelate",
                        "expatriates",
                        "expedia",
                        "experience-project",
                        "experion",
                        "exploroo",
                        "expressen",
                        "extremebits",
                        "extremenova",
                        "eyejot",
                        "eyny",
                        "ezfly",
                        "ezpeer",
                        "eztravel",
                        "facebook",
                        "facebook-apps",
                        "facebook-lite",
                        "facebook-live",
                        "facebook-messenger",
                        "facebook-video",
                        "facebook-workplace",
                        "facenama",
                        "faceparty",
                        "faces",
                        "fanpage",
                        "farmville",
                        "farsnews",
                        "fashionguide",
                        "fasp",
                        "fastly",
                        "fatakat",
                        "fatunetwork",
                        "fbcdn",
                        "fc2",
                        "fcm",
                        "feiliao",
                        "femina",
                        "fenopy",
                        "fetchtv",
                        "fetion",
                        "fetlife",
                        "fibre-channel",
                        "fijitimes",
                        "fijivillage",
                        "file-dropper",
                        "file-host",
                        "filefactory-com",
                        "fileflyer",
                        "fileguri",
                        "filei",
                        "filelist",
                        "filemail",
                        "filemaker-pro",
                        "filepost-ru",
                        "filer-net",
                        "filerio",
                        "filesanywhere",
                        "fileserve",
                        "filesharepro",
                        "filesovermiles",
                        "filetopia",
                        "fillos-de-galicia",
                        "filmaffinity",
                        "find-my-iphone",
                        "finn",
                        "fire",
                        "firefox-update",
                        "fix",
                        "flash",
                        "flashplugin-update",
                        "flashtalking",
                        "flickr",
                        "flipagram",
                        "flipboard",
                        "flipkart",
                        "flixster",
                        "flumotion",
                        "flurry",
                        "fluxiom",
                        "fly-proxy",
                        "flycell-ec",
                        "flycell-pe",
                        "fnb",
                        "fnu",
                        "fogbugz",
                        "fortnite",
                        "fortunechina",
                        "forum",
                        "fotki",
                        "fotolog",
                        "fotoweb",
                        "foursquare",
                        "foxbusiness",
                        "foxmovies",
                        "foxnetworks",
                        "foxnews",
                        "foxplus",
                        "foxsports",
                        "foxsports-au",
                        "foxtel",
                        "foxy",
                        "free",
                        "free-music-download",
                        "freebsd-update",
                        "freedomnewspaper",
                        "freeetv",
                        "freeloader",
                        "freemail",
                        "freenet",
                        "freeproxies",
                        "freetorrent",
                        "freewheel",
                        "freshnewsasia",
                        "friends-reunited",
                        "friendvox",
                        "fring",
                        "frostwire",
                        "fruhstuckstreff",
                        "fruit-ninja",
                        "fsecure",
                        "fsecure-update",
                        "ftp-data",
                        "ftps",
                        "fubar",
                        "funcaptcha",
                        "funshion",
                        "furk-net",
                        "fuze-meeting",
                        "gabonreview",
                        "gadugadu",
                        "gaiaonline",
                        "game-center",
                        "gamebase-tw",
                        "gameloft",
                        "gamer-tw",
                        "games-co",
                        "gamesmomo",
                        "ganji",
                        "garaanews",
                        "garena",
                        "garp",
                        "gather",
                        "gatherplace",
                        "gays",
                        "gazeta",
                        "gazetablic",
                        "gazetaexpress",
                        "gazzetta",
                        "gbridge",
                        "gcm",
                        "gcp",
                        "gcs",
                        "gdb-remote",
                        "geni",
                        "gerasanews",
                        "gettyimages",
                        "gfan",
                        "gfycat",
                        "ggp",
                        "ghanaweb",
                        "ghostsurf",
                        "gigacircle",
                        "gigasize-com",
                        "gigatribe",
                        "giop",
                        "giops",
                        "giphy",
                        "github",
                        "glide",
                        "globalpublishers",
                        "globo",
                        "glympse",
                        "gmail",
                        "gmail-basic",
                        "gmail-chat",
                        "gmail-drive",
                        "gmail-mobile",
                        "gmanetwork",
                        "gmarket",
                        "gmtp",
                        "gmw",
                        "gmx",
                        "gnunet",
                        "gnutella",
                        "go90",
                        "goal",
                        "gob",
                        "goboogy",
                        "godtube",
                        "gogo",
                        "gogobox",
                        "gohappy",
                        "golden-village",
                        "goldenfrog",
                        "gomeetnow",
                        "gomtv-vod",
                        "goo-ne",
                        "goodnight",
                        "goodreads",
                        "google",
                        "google-accounts",
                        "google-ads",
                        "google-analytics",
                        "google-appengine",
                        "google-cache",
                        "google-calendar",
                        "google-classroom",
                        "google-code",
                        "google-docs",
                        "google-earth",
                        "google-gen",
                        "google-groups",
                        "google-inbox",
                        "google-localguides",
                        "google-maps",
                        "google-photos",
                        "google-play",
                        "google-play-music",
                        "google-plus",
                        "google-safebrowsing",
                        "google-skymap",
                        "google-spaces",
                        "google-sprayscape",
                        "google-supl",
                        "google-tags",
                        "google-toolbar",
                        "google-translate",
                        "google-trusted-store",
                        "google-weblight",
                        "googlebot",
                        "goose",
                        "goplan",
                        "gossiplankanews",
                        "gotodevice",
                        "gotomeeting",
                        "gotomypc",
                        "gougou",
                        "gozambiajobs",
                        "grammarly",
                        "granma",
                        "gratisindo",
                        "gravatar",
                        "gre",
                        "gree",
                        "greenarea",
                        "grid",
                        "grono",
                        "groove",
                        "groupon",
                        "groupwise",
                        "gsshop",
                        "gstatic",
                        "gt-racing-2",
                        "gtalk",
                        "gtp",
                        "gtpv2",
                        "guampdn",
                        "guatevision",
                        "gudanglagu",
                        "guineenews",
                        "gulfup",
                        "gumtree",
                        "gyao",
                        "h225",
                        "h245",
                        "h248-binary",
                        "h248-text",
                        "habbo",
                        "haber7",
                        "halflife",
                        "hamachi",
                        "hamariweb",
                        "hambastagi",
                        "hami-book",
                        "hami-cloud",
                        "hami-music",
                        "handycafe",
                        "hangame",
                        "hankooki",
                        "hankyung",
                        "hao123",
                        "haproxy",
                        "haqqin",
                        "hardsextube",
                        "hardwarezone",
                        "hatena-ne",
                        "haveeru",
                        "hbo-go",
                        "hbonordic",
                        "heap",
                        "heavy",
                        "helpshift",
                        "heraldm",
                        "here",
                        "heroku",
                        "hespress",
                        "heureka",
                        "hexatech",
                        "hexun",
                        "hgtv",
                        "hi5",
                        "hibapress",
                        "hidemyass",
                        "high-entropy",
                        "highwinds",
                        "hihi2",
                        "hike-messenger",
                        "hinet-games",
                        "hip",
                        "hir24",
                        "hirufm",
                        "hirunews",
                        "hk-observatory",
                        "hkgolden",
                        "hln",
                        "hmp",
                        "hockeyapp",
                        "hockeycurve",
                        "hola",
                        "hola-webproxy",
                        "honeywell-phd",
                        "hootsuite",
                        "hopopt",
                        "horizon-go",
                        "hospitality-club",
                        "host",
                        "hotfile",
                        "hotjar",
                        "hotline",
                        "hotspot-shield",
                        "hovrs",
                        "howcast",
                        "howstuffworks",
                        "hoxx-vpn",
                        "hpe-opagent",
                        "hpe-opbridge",
                        "hpellc",
                        "hs",
                        "hsbc",
                        "hsrp",
                        "http",
                        "http-proxy",
                        "http-tunnel",
                        "http2",
                        "https",
                        "huawei",
                        "huawei-update",
                        "huffington-post",
                        "hulkshare",
                        "hulu",
                        "hungrygowhere",
                        "huomao",
                        "hurriyet",
                        "hvg-hu",
                        "hypers",
                        "hyves",
                        "i-gamer",
                        "i-nlsp",
                        "i-part",
                        "i2p",
                        "iapp",
                        "iatp",
                        "iax",
                        "ibackup",
                        "ibay",
                        "ibibo",
                        "ibm",
                        "ibm-tealeaf",
                        "ica",
                        "icall",
                        "icap",
                        "iccp",
                        "icecast",
                        "icloud",
                        "icmp",
                        "icmp6",
                        "icq2go",
                        "icrt",
                        "icy",
                        "id-net",
                        "ident",
                        "idnes",
                        "idokep",
                        "idpr",
                        "idpr-cmtp",
                        "idrp",
                        "iec104",
                        "ifeng",
                        "ifeng-finance",
                        "ifile-it",
                        "ifilmtv",
                        "ifix",
                        "ifmp",
                        "ifolder-ru",
                        "igihe",
                        "igmp",
                        "igp",
                        "iheartradio",
                        "iiop",
                        "ikea",
                        "ikman",
                        "ikon",
                        "ikub",
                        "il",
                        "ilivid",
                        "iloveim",
                        "iltalehti",
                        "iltasanomat",
                        "imageshack",
                        "imap",
                        "imaps",
                        "imdb",
                        "imeem",
                        "imeet",
                        "imesh",
                        "imessage-file-download",
                        "imgur",
                        "iminent",
                        "imo",
                        "imp",
                        "impress",
                        "imvu",
                        "imyanmarhouse",
                        "inbox",
                        "incomplete",
                        "indaba-music",
                        "indeksonline",
                        "independent",
                        "index-hr",
                        "index-hu",
                        "indexexchange",
                        "indiatimes",
                        "indonetwork",
                        "indowebster",
                        "inewsmalta",
                        "infinity-blade-ii",
                        "infobae",
                        "informix",
                        "ing",
                        "inilah",
                        "inmobi",
                        "inneractive",
                        "innfrad",
                        "innovid",
                        "inquirer",
                        "instagram",
                        "instructure",
                        "intalking",
                        "interia",
                        "internations",
                        "internet-org",
                        "interpark",
                        "intuit",
                        "inwi",
                        "inyarwanda",
                        "iodine",
                        "ios-ota-update",
                        "ip",
                        "ip-exp-1",
                        "ip-exp-2",
                        "ip-in-ip",
                        "ip-rdp",
                        "ip-reserved",
                        "ip6",
                        "ipcomp",
                        "ipcp",
                        "ipcv",
                        "iperf",
                        "iplt",
                        "ipp",
                        "ippc",
                        "ipsec",
                        "iptm",
                        "ipv6cp",
                        "ipx",
                        "ipx-in-ip",
                        "ipxrip",
                        "ipxsap",
                        "iqiyi",
                        "irc",
                        "irc-galleria",
                        "irc-transfer",
                        "ircs",
                        "irctc",
                        "irods",
                        "ironsource",
                        "irtp",
                        "isakmp",
                        "iscsi",
                        "isis",
                        "isl",
                        "iso-ip",
                        "iso-tp4",
                        "issuu",
                        "isup",
                        "italki",
                        "itsmy",
                        "itsup",
                        "itunes",
                        "itv-player",
                        "iwarp",
                        "iwiw",
                        "ja",
                        "jabber-transfer",
                        "jaiku",
                        "jamaica-gleaner",
                        "jamaicaobserver",
                        "jamiiforums",
                        "jammerdirect",
                        "jango",
                        "jap",
                        "jasmin",
                        "java-rmi",
                        "java-update",
                        "javedch",
                        "javhd",
                        "jawabkom",
                        "jawharafm",
                        "jedi",
                        "jetaoshqef",
                        "jetdirect",
                        "jfranews",
                        "jibe",
                        "jibe-cloud",
                        "jibjab",
                        "jingdong",
                        "jira",
                        "jne",
                        "jobs-af",
                        "jobs-bg",
                        "jobsdb",
                        "jobstreet",
                        "jofogas",
                        "join-me",
                        "joongang-daily",
                        "jquery",
                        "jubii",
                        "jumia",
                        "junkmail",
                        "jutarnji",
                        "jxta",
                        "kafka",
                        "kahoot",
                        "kaieteurnewsonline",
                        "kaioo",
                        "kaixin-chat",
                        "kajgana",
                        "kakaku",
                        "kakao",
                        "kakaocdn",
                        "kakaostory",
                        "kakaotalk",
                        "kalerkantho",
                        "kankan",
                        "kapanlagi",
                        "kapook",
                        "karosgame",
                        "kaskus",
                        "kaspersky",
                        "kaspersky-update",
                        "kasvyksta",
                        "kazaa",
                        "kb-bank",
                        "kbn-live",
                        "kbs",
                        "keezmovies",
                        "keku",
                        "kemenkumham",
                        "khaberni",
                        "khan",
                        "khmer-news",
                        "khmer-note",
                        "khmer-press",
                        "khmeread",
                        "khmerload",
                        "kickasstorrents",
                        "kigalitoday",
                        "kijiji",
                        "kik",
                        "king",
                        "kingdomxxx",
                        "kinogo",
                        "kiwibox",
                        "kkbox",
                        "klikbca",
                        "klix",
                        "koha",
                        "kohsantepheapdaily",
                        "kolektiv",
                        "kompas",
                        "kompasiana",
                        "konaminet",
                        "konga",
                        "koolim",
                        "kooora",
                        "kpasswd",
                        "kproxy",
                        "krb5",
                        "krcom",
                        "krux",
                        "kryptolan",
                        "kstna",
                        "ku6",
                        "kuenselonline",
                        "kugou",
                        "kundo",
                        "kupujemprodajem",
                        "kurir",
                        "kurir-info",
                        "kuxun",
                        "kwejk",
                        "l2tp",
                        "laacibnet",
                        "labanquepostale",
                        "lady8844",
                        "lajmi",
                        "lan",
                        "lanacion",
                        "lankadeepa",
                        "lanshark",
                        "lapagina",
                        "lapatilla",
                        "laposte-webmail",
                        "laprensa",
                        "laprensagrafica",
                        "laredoute",
                        "larp",
                        "lastfm",
                        "lastpass",
                        "lativ",
                        "lava-lava",
                        "lazada",
                        "lcp",
                        "ldap",
                        "ldaps",
                        "ldblog",
                        "le360",
                        "leaf-1",
                        "leaf-2",
                        "leapfile",
                        "learninganalytics",
                        "leboncoin",
                        "lefaso",
                        "lent",
                        "leral",
                        "leteckaposta-cz",
                        "letv",
                        "level3",
                        "lexpress",
                        "lg-eshop",
                        "libero-video",
                        "libjingle-pseudotcp",
                        "libon",
                        "librarything",
                        "lider-bet",
                        "life",
                        "lifeknot",
                        "liftoff",
                        "ligatus",
                        "lightstreamer",
                        "line",
                        "line-games",
                        "line-wind-runner",
                        "line2-com",
                        "lineage2",
                        "linio",
                        "linkedin",
                        "lintasberita",
                        "lionair",
                        "liontravel",
                        "liputan6",
                        "list-am",
                        "listindiario",
                        "listografy",
                        "live-groups",
                        "live-hotmail",
                        "live-meeting",
                        "live-mesh",
                        "live-storage",
                        "livechat",
                        "livedoor",
                        "liveinternet",
                        "livejournal",
                        "livemail-attach",
                        "livemail-mobile",
                        "liveperson",
                        "liverail",
                        "livescore",
                        "livingsocial",
                        "lkqd",
                        "llc",
                        "llnwd",
                        "llp",
                        "load-to",
                        "loadbalan",
                        "localytics",
                        "logmein",
                        "logmein-rescue",
                        "lokalisten",
                        "lookout-ms",
                        "loop",
                        "looppng",
                        "lotame",
                        "lotour",
                        "lotro",
                        "lotte",
                        "lotterypost",
                        "lotus-live",
                        "lotus-sametime",
                        "lotusnotes",
                        "lpr",
                        "lqr",
                        "lrytas",
                        "ltn",
                        "ltt",
                        "luke",
                        "lun",
                        "lunarstorm",
                        "lusakatimes",
                        "lvping",
                        "lync",
                        "lync-online",
                        "lynda",
                        "m2pa",
                        "m2ua",
                        "m3ua",
                        "m800",
                        "maaii",
                        "maannews",
                        "magicjack",
                        "magumagu",
                        "mail-189",
                        "mail-com",
                        "mail-ru-games",
                        "mail-ru-love",
                        "mail-ru-moimir",
                        "mail2000",
                        "mailru",
                        "mailru-agent",
                        "mako",
                        "maktoob",
                        "malformed",
                        "malijet",
                        "maliweb",
                        "maltapark",
                        "maltatoday",
                        "mana",
                        "mandriva-update",
                        "manet",
                        "mangocity",
                        "mangvieclam",
                        "manolito",
                        "manoramaonline",
                        "manx",
                        "mapbox",
                        "mapi",
                        "mapquest",
                        "mapy",
                        "marca",
                        "marebpress",
                        "marktplaats",
                        "mashable",
                        "match",
                        "maxcdn",
                        "maybank2u",
                        "mbc",
                        "mbl",
                        "mbn",
                        "mcafee",
                        "mcb-home",
                        "mcs",
                        "mebc",
                        "media-innovation-group",
                        "mediacongo",
                        "mediafire",
                        "mediamath",
                        "mediascope",
                        "meetin",
                        "meetingplace",
                        "meetme",
                        "meettheboss",
                        "meetup",
                        "mega",
                        "megaproxy",
                        "megashares-com",
                        "meitu",
                        "meituan",
                        "mekusharim",
                        "mendeley",
                        "menstylefashion",
                        "mercadolibre",
                        "merit-inp",
                        "merojax",
                        "merrjep",
                        "messengerfx",
                        "metacafe",
                        "mf-ucmdb",
                        "mfe-nsp",
                        "mgcp",
                        "mgid",
                        "mgoon",
                        "miaopai",
                        "mibbit",
                        "micp",
                        "microsoft",
                        "mihaaru",
                        "mihanblog",
                        "mihanwebads",
                        "mikogo",
                        "milad",
                        "milanuncios",
                        "millardayo",
                        "milli",
                        "milliyet",
                        "mimp",
                        "minecraft-pocket",
                        "mingpao",
                        "minuto30",
                        "mipv6",
                        "miro",
                        "mistreci",
                        "mitalk",
                        "mixi",
                        "mixpanel",
                        "mk",
                        "mmm-nigeria",
                        "mms",
                        "mms-iso",
                        "mmse",
                        "moat",
                        "mobage",
                        "mobfox",
                        "mobile",
                        "mobile-ip",
                        "mobile01",
                        "mobilehdr",
                        "mobilemarket",
                        "mobilink",
                        "mocean",
                        "mocospace",
                        "modbus",
                        "moe-gov",
                        "mog",
                        "mogulus",
                        "moi-qatar",
                        "momoshop",
                        "monex",
                        "money-163",
                        "moneydj",
                        "mongodb",
                        "monitor",
                        "monster",
                        "moov",
                        "mop",
                        "mopub",
                        "morefreecamsecrets",
                        "mosaiquefm",
                        "motika",
                        "motinews",
                        "mount",
                        "mouthshut",
                        "mover",
                        "movie2free",
                        "movitel",
                        "mozilla",
                        "mozzi",
                        "mp3-rocket",
                        "mp3teca",
                        "mpegts",
                        "mpls",
                        "mpls-in-ip",
                        "mplus-messenger",
                        "mq",
                        "mqtt",
                        "ms-communicator",
                        "ms-hyperv",
                        "ms-kms",
                        "ms-mq",
                        "ms-onenote",
                        "ms-planner",
                        "ms-psrp",
                        "ms-sway",
                        "ms-teams",
                        "ms-translator",
                        "msnp",
                        "msrp",
                        "msrpc",
                        "mt",
                        "mtalk",
                        "mtn",
                        "mtp",
                        "mtv",
                        "mubi",
                        "mudah",
                        "multiply",
                        "mumble",
                        "musica",
                        "musicchoice",
                        "mute",
                        "mux",
                        "my-com",
                        "my-talking-tom",
                        "my-yahoo",
                        "myanimelist",
                        "myanmarload",
                        "myauto",
                        "mychurch",
                        "mydiv",
                        "mydownloader",
                        "mydrive",
                        "myheritage",
                        "myjoyonline",
                        "mylife",
                        "mymarket",
                        "myoptus",
                        "mypeople-messenger",
                        "mypocket",
                        "myspace",
                        "myspace-video",
                        "mysql",
                        "mystart",
                        "mytv-super",
                        "myvideo",
                        "myway",
                        "mywebsearch",
                        "nablustv",
                        "nacion",
                        "nagariknews",
                        "naij",
                        "nairaland",
                        "namba",
                        "namibian",
                        "namu",
                        "napster",
                        "narp",
                        "nasa",
                        "nasza-klasa",
                        "nat-pmp",
                        "nate-mail",
                        "natecyworld",
                        "nation",
                        "nationalgeographic",
                        "nationallottery",
                        "nationnews",
                        "nauta",
                        "naver",
                        "naver-blog",
                        "naver-mobile",
                        "naverdrive",
                        "navermail",
                        "nba",
                        "nba-china",
                        "nbc",
                        "nbns",
                        "ncaa",
                        "ncore",
                        "ncp",
                        "ndmp",
                        "nduoa",
                        "nefsis",
                        "nend",
                        "neobux",
                        "nepworldwide",
                        "net",
                        "net-proxy",
                        "netbios",
                        "netblt",
                        "netbsd-update",
                        "netflix",
                        "netflow",
                        "neti",
                        "netload",
                        "netmarble",
                        "netmeeting-ils",
                        "netperform",
                        "nettby",
                        "netvelocity",
                        "network-radar",
                        "neulion",
                        "new-relic",
                        "news-am",
                        "news-au",
                        "news-mn",
                        "news24",
                        "news24nepal",
                        "news784",
                        "newsbook",
                        "newsday",
                        "newsit",
                        "newvision",
                        "nexian",
                        "nexon",
                        "nexopia",
                        "nextmedia",
                        "nfl",
                        "nfs",
                        "nfs4",
                        "ngo-post",
                        "ngrok",
                        "nhadatso",
                        "niantic",
                        "niconico-douga",
                        "nielsen",
                        "nieuwsblad",
                        "nifty",
                        "nigeremploi",
                        "nike",
                        "nikkei",
                        "nimbuzz-web",
                        "ning",
                        "nintendo",
                        "njuskalo",
                        "nlockmgr",
                        "nlsp",
                        "nntp",
                        "nntps",
                        "noa",
                        "nod32-update",
                        "nokia",
[...]
