{
  "openapi": "3.1.0",
  "info": {
    "title": "Access Points",
    "version": "1.0.0",
    "description": "API to retrieve VSX (Virtual Switching Extension) information for switches."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Access Points",
      "description": "Access Point Monitoring APIs to get Access Point details and its metrics"
    }
  ],
  "paths": {
    "/network-monitoring/v1/aps": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointsV1",
        "summary": "Get a list of Access Points",
        "description": "This API endpoint retrieves a list of access points associated to a customer, based on the query parameters provided. Each access point in the returned list includes comprehensive details like serial number, name, MAC address, siteId, status and with latest stats. The query parameters allow you to narrow down the results to access points that meet specific criteria, ensuring you receive only the relevant data.\n",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction; ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `siteId` | `eq` and `in` |\n| `siteName` | `eq` and `in` |\n| `serialNumber` | `eq` and `in` |\n| `deviceName` | `eq` and `in` |\n| `status` | `eq` and `in` |\n| `model` | `eq` and `in` |\n| `firmwareVersion` | `eq` and `in` |\n| `deployment` | `eq` and `in` |\n| `clusterId` | `eq` and `in` |\n| `clusterName` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "example": "siteId eq '12345' and deployment in ('Standalone', 'Virtual Controller')",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator: asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted, then the default direction is ascending.\n\nSupported fields are `siteId`, `serialNumber`, `deviceName`, `model`, `status`, and `deployment`.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "deviceName,deployment desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Specifies the maximum number of access points returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\n\nThe minimum value: 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccessPointListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointDetailsV1",
        "summary": "Get an Access Point details",
        "description": "This API retrieves detailed information about a specific access point linked to a particular site. It provides access point-related details such as MAC address, name, status, radios, ports, modem, and WLANs based on the access point's serial number associated with the site.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccessPointResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/cpu-utilization-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointCPUUtilizationV1",
        "summary": "Get CPU utilization information for an Access Point",
        "description": "The API retrieves CPU utilization trends data in percentage for a specified access point. The data will be fetched based on the timestamp range provided in the filter. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccessPointCPUUtilizationResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/memory-utilization-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointMemoryUtilizationV1",
        "summary": "Get memory utilization information for an Access Point",
        "description": "The API retrieves memory utilization trend data in percentage for a specified access point. The data will be fetched based on the timestamp range provided in the filter. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccessPointMemoryUtilizationResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/ports": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointPortListV1",
        "summary": "Get a list of Access Point ports",
        "description": "This API endpoint retrieves a list of ports associated to an access point. Each port in the returned list includes comprehensive details like MAC address, port index and status.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PortListResponseV1"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/ports/{port-index}/collisions-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointPortCollisionsPerformanceV1",
        "summary": "Get Access Point Port Collision Error",
        "description": "This API retrieves detailed information about a specific port frame trends of an access point linked to a particular site. It provides key metrics such as Collision Errors and Percentage for a given port index.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/PortIndex"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PortCollisionsTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/ports/{port-index}/crc-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointPortCrcPerformanceV1",
        "summary": "Get Access Point Port CRC Errors",
        "description": "This API retrieves detailed information about a specific port frame trends of an access point linked to a particular site. It provides key metrics such as CRC Errors and Percentage for a given port index.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/PortIndex"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PortCrcTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/ports/{port-index}/frames-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointPortFramesPerformanceV1",
        "summary": "Get Access Point Port Frame Trends",
        "description": "This API retrieves detailed information about a specific port frame trends of an access point linked to a particular site. It provides key metrics such as Errors, Drops, Error Percentage and Drop Percentage, for a given port index.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/PortIndex"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PortFramesTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/ports/{port-index}/throughput-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointPortThroughputV1",
        "summary": "Get Access Point Port throughput trend.",
        "description": "The API retrieves throughput trend data for a specific port of an access point, including transmitted(tx) and received(rx) data in bits per second. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          },
          {
            "name": "port-index",
            "in": "path",
            "required": true,
            "description": "Port index of an access point, to filter the transmitted and received data for a specific port. The value can range from 0 to 6.\n",
            "example": "0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PortThroughputTrendsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/power-consumption-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointPowerConsumptionV1",
        "summary": "Get power consumption information for an Access Point",
        "description": "The API retrieves power consumption trend data in watts for a specified access point. The data will be fetched based on the timestamp range provided in the filter. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccessPointPowerConsumptionResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/radios": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointRadioListV1",
        "summary": "Get a list of Access Point radios",
        "description": "This API endpoint retrieves a list of radios associated to an access point. Each radio in the returned list includes comprehensive details like MAC address, band, status and its current statistics.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccessPointRadioListResponseV1"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/radios/{radio-number}/channel-quality-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAPRFChannelQualityPerformanceV1",
        "summary": "Get channel quality information for a radio",
        "description": "The API retrieves radio channel quality data in percentage for a specified radio of an access point. The data will be fetched based on the timestamp range provided in the filter. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/RadioNumber"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RFChannelQualityTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/radios/{radio-number}/channel-utilization-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAPRFChannelUtilizationPerformanceV1",
        "summary": "Get channel utilization information for a radio",
        "description": "The API retrieves radio channel utilization data for a specified radio of an access point, including percentages for Transmitting (tx), Receiving (rx), and Non-Wi-Fi interference. It provides insights into how effectively radio channels are being utilized. The data will be fetched based on the timestamp range provided in the filter. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/RadioNumber"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RFChannelUtilizationTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/radios/{radio-number}/frames-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAPRFFramesPerformanceV1",
        "summary": "Get transmission information for a radio",
        "description": "The API retrieves transmission trend data for Drops and Retries frames, expressed as percentages for a radio of an access point. The data will be fetched based on the timestamp range provided in the filter. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/RadioNumber"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RFFramesTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/radios/{radio-number}/noise-floor-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAPRFNoiseFloorPerformanceV1",
        "summary": "Get noise floor information for a radio",
        "description": "The API retrieves noise floor data in dBm for a specified radio of an access point. The data will be fetched based on the timestamp range provided in the filter. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/RadioNumber"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RFNoiseFloorTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/radios/{radio-number}/throughput-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointRadioThroughputV1",
        "summary": "Get Access Point Radio throughput trend.",
        "description": "The API retrieves throughput trend data for a specific radio of an access point, including transmitted(tx) and received(rx) data in bits per second. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          },
          {
            "name": "radio-number",
            "in": "path",
            "required": true,
            "description": "Radio number of an access point, to filter the transmitted and received data for a specific radio. The value can range from 0 to 2.\n",
            "example": "0",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RadioThroughputTrendsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/throughput-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointThroughputV1",
        "summary": "Get throughput trend of an Access Point.",
        "description": "The API retrieves throughput trend data of an access point, including transmitted(tx) and received(rx) data in bits per second. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n\n***Usage Notes:***\n\n* Provide **interface-type** of **WIRELESS** to retrieve aggregated throughput data for radios.\n\n* Provide **interface-type** of **WIRED** to retrieve aggregated throughput data for a wired interface.\n\n* Provide **interface-type** of **LTE** to retrieve throughput data of modem.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          },
          {
            "name": "interface-type",
            "in": "query",
            "required": true,
            "description": "Interface type of an access point for which the data being requested.",
            "example": "WIRELESS",
            "schema": {
              "type": "string",
              "enum": [
                "WIRED",
                "WIRELESS",
                "LTE"
              ],
              "default": "WIRELESS"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/APThroughputTrendsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/tunnels": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointTunnelListV1",
        "summary": "Get a list of Access Point Tunnels",
        "description": "This API endpoint retrieves a list of tunnels associated with a specific access point, based on the query parameters provided. Each tunnel in the returned list includes comprehensive details like tunnel name, status, encapsulation, source and destination IP etc. The query parameters allow you to narrow down the results to tunnel that meet specific criteria, ensuring you receive only the relevant data.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "name": "site-id",
            "in": "query",
            "required": false,
            "description": "ID of the Site for which access point tunnel information is requested\n",
            "schema": {
              "$ref": "#/components/schemas/SiteIDap"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `status` | `eq` and `in` |\n| `encapsulationType` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "example": "status eq 'Up' and encapsulationType eq 'IPSec'",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending. By default, the response is sorted in ascending order by tunnel status.\n\nSupported fields are `tunnelName`, `encapsulationType`, `sourceIpAddress`, `destinationName`, `destinationIpAddress`, `uptimeInMillis`.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "tunnelName asc,encapsulationType desc,sourceIpAddress asc,destinationName asc,destinationIpAddress asc,uptimeInMillis desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Specifies the maximum number of tunnels returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\n\nThe minimum value: 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccessPointTunnelListResponseV1"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/tunnels/{tunnel-id}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointTunnelDetailV1",
        "summary": "Get an Access Point Tunnel details",
        "description": "This API retrieves detailed information about tunnels associated with a specific access point. It provides tunnel related details such as name, status, encapsulation type, source and destination information based on the access point's serial number.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/TunnelId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccessPointTunnelDetailResponseV1"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/TunnelNotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/tunnels/{tunnel-id}/jitter-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointProbeJitterTrendV1",
        "summary": "Get jitter trend of an Access Point Tunnel.",
        "description": "The API retrieves jitter trend data in milliseconds for a specific tunnel of an access point. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          },
          {
            "$ref": "#/components/parameters/TunnelId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/APProbeTrendsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/tunnels/{tunnel-id}/latency-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointProbeLatencyTrendV1",
        "summary": "Get latency trend of an Access Point Tunnel.",
        "description": "The API retrieves latency trend data in milliseconds for a specific tunnel of an access point. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          },
          {
            "$ref": "#/components/parameters/TunnelId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/APProbeTrendsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/tunnels/{tunnel-id}/mos-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointProbeMosTrendV1",
        "summary": "Get MOS score trend of an Access Point Tunnel.",
        "description": "The API retrieves MOS score trend data for a specific tunnel of an access point. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          },
          {
            "$ref": "#/components/parameters/TunnelId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/APProbeTrendsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/tunnels/{tunnel-id}/packet-loss-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointProbeLossTrendV1",
        "summary": "Get packet loss trend of an Access Point Tunnel.",
        "description": "The API retrieves packet loss trend data in percentage for a specific tunnel of an access point. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          },
          {
            "$ref": "#/components/parameters/TunnelId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/APProbeTrendsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/tunnels/{tunnel-id}/throughput-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointTunnelThroughputV1",
        "summary": "Get throughput trend of an Access Point Tunnel.",
        "description": "The API retrieves throughput trend data for a specific tunnel of an access point, including transmitted(tx) and received(rx) data in bits per second. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          },
          {
            "$ref": "#/components/parameters/TunnelId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TunnelThroughputTrendsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/wlans": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointWlanListV1",
        "summary": "Get a list of Access Point WLANs",
        "description": "This API endpoint retrieves a list of WLANs associated to an access point. Each WLAN in the returned list includes WLAN name and security type.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WlanListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/aps/{serial-number}/wlans/{wlan-name}/throughput-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getAccessPointWlanThroughputV1",
        "summary": "Get the throughput trend for a WLAN of an Access Point.",
        "description": "The API retrieves throughput trend data for a specific WLAN of an access point, including transmitted(tx) and received(rx) data in bits per second. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumberap"
          },
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          },
          {
            "name": "wlan-name",
            "in": "path",
            "required": true,
            "description": "Provide WLAN name to get transmitted and received data for the specific network.\n",
            "example": "wlan-00006",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/AccessPointWLANThroughputTrendsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/bssids": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getBssidsV1",
        "summary": "Get a list of BSSIDs",
        "description": "This API endpoint retrieves a list of BSSIDs associated with a customer, based on the query parameters provided. Each BSSID in the returned list includes details like serial number, device name, MAC address, radio number, radio MAC address, BSSID, WLAN name, band, and site information. The query parameters allow you to narrow down the results to BSSIDs that meet specific criteria.\n",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `siteId` | `eq` and `in` |\n| `siteName` | `eq` and `in` |\n| `serialNumber` | `eq` and `in` |\n| `macAddress` | `eq` and `in` |\n| `radioMacAddress` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "example": "serialNumber eq 'AP00000001' and siteId in ('site1', 'site2')",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\nBy default, the response is sorted in ascending order by deviceName.\nSupported fields are `siteId`, `siteName`, `serialNumber`, `deviceName`, and `wlanName`.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "deviceName,wlanName desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Specifies the maximum number of BSSIDs returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\nThe minimum value is 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/BssidListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/radios": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getRadioListV1",
        "summary": "Get a list of Radios",
        "description": "This API endpoint retrieves a list of radios associated to a customer, based on the query parameters provided. Each radio in the returned list includes comprehensive details like serial number, device name, MAC address, band, status and its current statistics . The query parameters allow you to narrow down the results to radios that meet specific criteria, ensuring you receive only the relevant data.\n",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `siteId` | `eq` and `in` |\n| `siteName` | `eq` and `in` |\n| `serialNumber` | `eq` and `in` |\n| `deviceName` | `eq` and `in` |\n| `band` | `eq` and `in` |\n| `bandwidth` | `eq` and `in` |\n| `status` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "example": "deviceName eq 'ap_1' and band in ('2.4 GHz', '6 GHz')",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\nBy default, the response is sorted in ascending order by deviceName and descending order by band.\n Supported fields are `deviceName`, `serialNumber`, and `band`.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "deviceName,band desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Specifies the maximum number of radios returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\nThe minimum value is 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/RadioListResponseV1"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/swarms": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getSwarmsV1",
        "summary": "Get a list of Swarms",
        "description": "This API endpoint retrieves a list of swarms (clusters) associated to a customer, based on the query parameters provided. Each swarm in the returned list includes comprehensive details like cluster ID, cluster name, site ID, conductor information, IP addresses, and software version. The query parameters allow you to narrow down the results to swarms that meet specific criteria, ensuring you receive only the relevant data.\n",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `siteId` | `eq` and `in` |\n| `siteName` | `eq` and `in` |\n| `clusterId` | `eq` and `in` |\n| `clusterName` | `eq` and `in` |\n| `conductorSerialNumber` | `eq` and `in` |\n| `conductorDeviceName` | `eq` and `in` |\n| `firmwareVersion` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "example": "clusterName eq 'Cluster1' and clusterId eq '1j4ehold0qj06kpbuy1a89dy5c69xe82ob27givar6mnbq135u'",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\n\nSupported fields are `clusterId`, `clusterName`, `conductorDeviceName`, and `conductorSerialNumber`.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "clusterName,conductorDeviceName desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Specifies the maximum number of swarms returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\n\nThe minimum value: 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SwarmListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/swarms/{cluster-id}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getSwarmV1",
        "summary": "Get a Swarm details",
        "description": "This API retrieves detailed information about a specific swarm (cluster). It provides comprehensive swarm-related details such as cluster name, conductor information, IP addresses, member count, and software version based on the swarm's cluster ID.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterId"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SwarmResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/SwarmNotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/top-aps-by-usage": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getTopAccessPointsByUsageV1",
        "summary": "Get high total bandwidth usage Access Points",
        "description": "The API will retrieve a list of the top access points ranked by their combined bandwidth usage of wired & wireless, sorted in descending order, for a specified site and time period.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Specifies the maximum number of top access points returned in the response. The default value is 10.\n",
            "schema": {
              "$ref": "#/components/schemas/TopAPsLimit"
            }
          },
          {
            "name": "start-at",
            "description": "Data that is required starting from this timestamp, provided in RFC 3339 (and ISO 8601) format in the \nUTC+0 timezone. The difference between *end-at* and *start-at* should be less than 30 days.\n",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DateTime"
            }
          },
          {
            "name": "end-at",
            "required": false,
            "in": "query",
            "description": "Data that is required up to this timestamp, provided in RFC 3339 (and ISO 8601) format in the \nUTC+0 timezone. The timestamp must be earlier than the current time and later than the start time.It should be earlier than the current time and later than the *start-at*.\n",
            "schema": {
              "$ref": "#/components/schemas/DateTime"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TopAccessPointsByUsageResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/top-aps-by-wired-usage": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getTopAccessPointsByWiredUsageV1",
        "summary": "Get high wired bandwidth usage Access Points",
        "description": "The API will retrieve a list of the top access points ranked by their wired bandwidth usage, sorted in descending order, for a specified site and time period.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Specifies the maximum number of top access points returned in the response. The default value is 10.\n",
            "schema": {
              "$ref": "#/components/schemas/TopAPsLimit"
            }
          },
          {
            "name": "start-at",
            "description": "Data that is required starting from this timestamp, provided in RFC 3339 (and ISO 8601) format in the \nUTC+0 timezone. The difference between *end-at* and *start-at* should be less than 30 days.\n",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DateTime"
            }
          },
          {
            "name": "end-at",
            "required": false,
            "in": "query",
            "description": "Data that is required up to this timestamp, provided in RFC 3339 (and ISO 8601) format in the \nUTC+0 timezone. The timestamp must be earlier than the current time and later than the start time.It should be earlier than the current time and later than the *start-at*.\n",
            "schema": {
              "$ref": "#/components/schemas/DateTime"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TopAccessPointsByUsageResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/top-aps-by-wireless-usage": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getTopAccessPointsByWirelessUsageV1",
        "summary": "Get high wireless bandwidth usage Access Points",
        "description": "The API will retrieve a list of the top access points ranked by their wireless bandwidth usage, sorted in descending order, for a specified site and time period.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Specifies the maximum number of top access points returned in the response. The default value is 10.\n",
            "schema": {
              "$ref": "#/components/schemas/TopAPsLimit"
            }
          },
          {
            "name": "start-at",
            "description": "Data that is required starting from this timestamp, provided in RFC 3339 (and ISO 8601) format in the \nUTC+0 timezone. The difference between *end-at* and *start-at* should be less than 30 days.\n",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DateTime"
            }
          },
          {
            "name": "end-at",
            "required": false,
            "in": "query",
            "description": "Data that is required up to this timestamp, provided in RFC 3339 (and ISO 8601) format in the \nUTC+0 timezone. The timestamp must be earlier than the current time and later than the start time.It should be earlier than the current time and later than the *start-at*.\n",
            "schema": {
              "$ref": "#/components/schemas/DateTime"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TopAccessPointsByUsageResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/wlans": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getWlanListV1",
        "summary": "Get a list of WLANs",
        "description": "This API endpoint retrieves a list of WLANs associated to a customer, based on the query parameters provided. Each WLAN in the returned list includes comprehensive details like name, security level, band, status, and VLAN configuration. The query parameters allow you to narrow down the results to WLANs that meet specific criteria, ensuring you receive only the relevant data.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SerialNumberQueryOptional"
          },
          {
            "$ref": "#/components/parameters/WlanFilter"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending. By default, the response is sorted in ascending order by WLAN name.\n\nSupported fields are `wlanName`, `band`, `status`, `securityLevel`, `security`, and `vlan`.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "wlanName,status desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Specifies the maximum number of WLANs returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\n\nThe minimum value: 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TenantWlanListResponseV1"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/wlans/{wlan-name}": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getWlanV1",
        "summary": "Get a specific WLAN by name",
        "description": "This API retrieves detailed information about a specific WLAN.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/WlanNameMandatory"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SerialNumberQueryOptional"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WlanInfoResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/WlanNotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/wlans/{wlan-name}/throughput-trends": {
      "get": {
        "tags": [
          "Access Points"
        ],
        "operationId": "getWlanThroughputTrendV1",
        "summary": "Get the throughput trend for a WLAN.",
        "description": "The API retrieves throughput trend data for a specific WLAN, including transmitted(tx) and received(rx) data in bits per second. If no timestamp range is specified in the filter, data for the last 3 hours will be returned by default.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/TrendsFilter"
          },
          {
            "$ref": "#/components/parameters/SiteIdOptional"
          },
          {
            "$ref": "#/components/parameters/SiteNameOptional"
          },
          {
            "name": "wlan-name",
            "in": "path",
            "required": true,
            "description": "Provide WLAN name to get transmitted and received data for the specific network.\n",
            "example": "wlan-00006",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 128
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/WLANThroughputTrendsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "APProbeTrend": {
        "type": "object",
        "required": [
          "metric",
          "graph",
          "id",
          "type"
        ],
        "properties": {
          "metric": {
            "type": "string",
            "format": "const",
            "maxLength": 128,
            "description": "Metric for the probe trends of an access point.",
            "example": "jitter"
          },
          "graph": {
            "type": "object",
            "required": [
              "keys",
              "samples",
              "samplingIntervalInMinutes"
            ],
            "properties": {
              "keys": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "const"
                },
                "maxItems": 1,
                "example": [
                  "avg_jitter"
                ],
                "description": "List of metrics which helps to evaluate the probe trend of an access point.\n"
              },
              "samples": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GraphDataPoint"
                },
                "maxItems": 10000
              },
              "samplingIntervalInMinutes": {
                "$ref": "#/components/schemas/SamplingIntervalInMinutes"
              }
            }
          },
          "id": {
            "$ref": "#/components/schemas/IDap"
          },
          "type": {
            "$ref": "#/components/schemas/Typeap"
          }
        },
        "example": {
          "metric": "jitter",
          "graph": {
            "keys": [
              "avg_jitter"
            ],
            "samples": [
              {
                "data": [
                  10
                ],
                "timestamp": "2022-07-30T20:00:00Z"
              }
            ],
            "samplingIntervalInMinutes": 5
          },
          "id": "AP00000001/tunnels/Tunnel1~Primary",
          "type": "network-monitoring/access-point-monitoring"
        }
      },
      "APPublicIpAddress": {
        "type": "string",
        "format": "ipv4",
        "maxLength": 15,
        "example": "104.36.250.13",
        "description": "Public IP address of the access point.\n"
      },
      "APThroughputTrend": {
        "type": "object",
        "required": [
          "metric",
          "graph",
          "id",
          "type"
        ],
        "properties": {
          "metric": {
            "type": "string",
            "format": "const",
            "maxLength": 128,
            "description": "Metric for the throughput trend of an access point network or interface.",
            "example": "ap_throughput"
          },
          "graph": {
            "type": "object",
            "required": [
              "keys",
              "samples",
              "samplingIntervalInMinutes"
            ],
            "properties": {
              "keys": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "const"
                },
                "maxItems": 2,
                "example": [
                  "tx",
                  "rx"
                ],
                "description": "List of metrics which helps to evaluate the throughput trend of an access point network or an interface.\n"
              },
              "samples": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GraphDataPoint"
                },
                "maxItems": 10000
              },
              "samplingIntervalInMinutes": {
                "$ref": "#/components/schemas/SamplingIntervalInMinutes"
              }
            }
          },
          "id": {
            "$ref": "#/components/schemas/IDap"
          },
          "type": {
            "$ref": "#/components/schemas/Typeap"
          }
        },
        "example": {
          "metric": "ap_throughput",
          "graph": {
            "keys": [
              "tx",
              "rx"
            ],
            "samples": [
              {
                "data": [
                  10,
                  12
                ],
                "timestamp": "2022-07-30T20:00:00Z"
              }
            ],
            "samplingIntervalInMinutes": 5
          },
          "id": "AP00000001",
          "type": "network-monitoring/access-point-monitoring"
        }
      },
      "AccessPointCPUUtilization": {
        "type": "object",
        "required": [
          "metric",
          "graph",
          "id",
          "type"
        ],
        "properties": {
          "metric": {
            "type": "string",
            "format": "const",
            "maxLength": 128,
            "description": "Hardware performance metric for the cpu utilization of an access point.",
            "example": "cpu_utilization"
          },
          "graph": {
            "type": "object",
            "required": [
              "keys",
              "samples",
              "samplingIntervalInMinutes"
            ],
            "properties": {
              "keys": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "const"
                },
                "maxItems": 10,
                "example": [
                  "cpu_utilization"
                ],
                "description": "List of metrics which helps to evaluate the cpu utilization trend of an access point."
              },
              "samples": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GraphDataPoint"
                },
                "maxItems": 10000
              },
              "samplingIntervalInMinutes": {
                "$ref": "#/components/schemas/SamplingIntervalInMinutes"
              }
            }
          },
          "id": {
            "$ref": "#/components/schemas/IDap"
          },
          "type": {
            "$ref": "#/components/schemas/Typeap"
          }
        },
        "example": {
          "metric": "cpu_utilization",
          "graph": {
            "keys": [
              "cpu_utilization"
            ],
            "samples": [
              {
                "data": [
                  4.2
                ],
                "timestamp": "2022-07-30T19:38:16Z"
              }
            ],
            "samplingIntervalInMinutes": 5
          },
          "id": "AP00000001",
          "type": "network-monitoring/access-point-monitoring"
        }
      },
      "AccessPointListResponse": {
        "example": {
          "items": [
            {
              "serialNumber": "AP00000001",
              "macAddress": "bb:5d:11:85:c0:00",
              "deviceName": "ArubaAP",
              "model": "AP-115",
              "partNumber": "JZ336A",
              "deployment": "Standalone",
              "role": "Conductor",
              "deviceFunction": "Instant",
              "firmwareVersion": "8.5.2.0_59123",
              "ipv4": "114.191.59.254",
              "ipv6": "2001:0db8:85a3:0000:0000:8a2e:0370:7334",
              "publicIpv4": "192.170.12.150",
              "status": "ONLINE",
              "lastSeenAt": null,
              "siteId": "1120972196",
              "siteName": "site1",
              "clusterName": "cluster_1",
              "lastRebootReason": "AP_RELOAD",
              "deviceGroupId": "8100143262",
              "deviceGroupName": "DeviceGroup1",
              "clusterId": "00e6b9e8015c1e1dd8f32d83e39606377a205ba2317015ed76",
              "cpuUtilization": 25,
              "memoryUtilization": 11,
              "powerConsumption": 11.891,
              "clientCount": 8,
              "wlanCount": 4,
              "subnetMask": "255.255.255.0",
              "meshRole": "Portal",
              "uptimeInMillis": 1702794777,
              "buildingId": "b1d2bd91-de81-4097-8420-3ca7f87450fd",
              "floorId": "16a0aad7-4070-4a19-8a19-fd6b8e1ff012",
              "id": "AP00000001",
              "type": "network-monitoring/access-point-monitoring"
            }
          ],
          "count": 1,
          "total": 4,
          "next": "2"
        },
        "allOf": [
          {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "maxItems": 1000,
                "items": {
                  "type": "object",
                  "required": [
                    "serialNumber",
                    "macAddress",
                    "deviceName",
                    "siteId",
                    "id",
                    "type"
                  ],
                  "properties": {
                    "serialNumber": {
                      "$ref": "#/components/schemas/SerialNumberap"
                    },
                    "macAddress": {
                      "$ref": "#/components/schemas/MacAddressap"
                    },
                    "deviceName": {
                      "$ref": "#/components/schemas/DeviceNameap"
                    },
                    "model": {
                      "$ref": "#/components/schemas/Modelap"
                    },
                    "partNumber": {
                      "$ref": "#/components/schemas/PartNumberap"
                    },
                    "deployment": {
                      "$ref": "#/components/schemas/Deploymentap"
                    },
                    "role": {
                      "$ref": "#/components/schemas/Roleap"
                    },
                    "deviceFunction": {
                      "$ref": "#/components/schemas/DeviceFunctionap"
                    },
                    "firmwareVersion": {
                      "$ref": "#/components/schemas/FirmwareVersionap"
                    },
                    "ipv4": {
                      "$ref": "#/components/schemas/IPv4Addressap"
                    },
                    "ipv6": {
                      "$ref": "#/components/schemas/IPv6Addressap"
                    },
                    "publicIpv4": {
                      "$ref": "#/components/schemas/APPublicIpAddress"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Statusap"
                    },
                    "lastSeenAt": {
                      "$ref": "#/components/schemas/LastSeenAtap"
                    },
                    "lastRebootReason": {
                      "$ref": "#/components/schemas/LastRebootReason"
                    },
                    "siteId": {
                      "$ref": "#/components/schemas/SiteIDap"
                    },
                    "siteName": {
                      "$ref": "#/components/schemas/SiteNameap"
                    },
                    "clusterName": {
                      "$ref": "#/components/schemas/ClusterNameap"
                    },
                    "clusterId": {
                      "$ref": "#/components/schemas/ClusterId"
                    },
                    "deviceGroupId": {
                      "type": "string",
                      "format": "const",
                      "maxLength": 16,
                      "description": "DeviceGroupId property represents the unique identifier for the group to which the device belongs. This identifier is used to group devices that share common characteristics or are part of the same operational group, facilitating easier management and monitoring.\n",
                      "example": "8100143262"
                    },
                    "deviceGroupName": {
                      "type": "string",
                      "format": "const",
                      "maxLength": 256,
                      "description": "DeviceGroupName represents the name of the group to which the device belongs. This name is used to categorize and manage devices that share common characteristics or are part of the same operational group.\n",
                      "example": "AP Persona group"
                    },
                    "cpuUtilization": {
                      "type": "integer",
                      "maxLength": 16,
                      "description": "Represents the percentage of CPU utilization by the access point.\n",
                      "example": 80
                    },
                    "memoryUtilization": {
                      "type": "integer",
                      "maxLength": 16,
                      "description": "Represents the percentage of memory utilization by the access point.\n"
                    },
                    "powerConsumption": {
                      "type": "number",
                      "maxLength": 16,
                      "description": "Current power drawn by the access point, in watts.\n",
                      "example": 87
                    },
                    "clientCount": {
                      "$ref": "#/components/schemas/clientCount",
                      "description": "The number of wireless clients associated to an Access Point. This field is supported on firmware versions 8.12.x.x and later, as well as 10.6.x.x and later."
                    },
                    "wlanCount": {
                      "$ref": "#/components/schemas/wlanCount",
                      "description": "The number of SSIDs configured on the access point."
                    },
                    "subnetMask": {
                      "$ref": "#/components/schemas/SubnetMask"
                    },
                    "meshRole": {
                      "$ref": "#/components/schemas/MeshRole"
                    },
                    "uptimeInMillis": {
                      "$ref": "#/components/schemas/UptimeInMillisap"
                    },
                    "buildingId": {
                      "$ref": "#/components/schemas/BuildingIdap"
                    },
                    "floorId": {
                      "$ref": "#/components/schemas/FloorIdap"
                    },
                    "id": {
                      "$ref": "#/components/schemas/IDap"
                    },
                    "type": {
                      "$ref": "#/components/schemas/Typeap"
                    }
                  }
                }
              }
            }
          },
          {
            "$ref": "#/components/schemas/PaginatedResponse"
          }
        ]
      },
      "AccessPointMemoryUtilization": {
        "type": "object",
        "required": [
          "metric",
          "graph",
          "id",
          "type"
        ],
        "properties": {
          "metric": {
            "type": "string",
            "format": "const",
            "maxLength": 128,
            "description": "Hardware performance metric for the memory utilization of an access point.",
            "example": "memory_utilization"
          },
          "graph": {
            "type": "object",
            "required": [
              "keys",
              "samples",
              "samplingIntervalInMinutes"
            ],
            "properties": {
              "keys": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "const"
                },
                "maxItems": 10,
                "example": [
                  "memory_utilization"
                ],
                "description": "List of metrics which helps to evaluate the memory utilization trend of an access point."
              },
              "samples": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GraphDataPoint"
                },
                "maxItems": 10000
              },
              "samplingIntervalInMinutes": {
                "$ref": "#/components/schemas/SamplingIntervalInMinutes"
              }
            }
          },
          "id": {
            "$ref": "#/components/schemas/IDap"
          },
          "type": {
            "$ref": "#/components/schemas/Typeap"
          }
        },
        "example": {
          "metric": "memory_utilization",
          "graph": {
            "keys": [
              "memory_utilization"
            ],
            "samples": [
              {
                "data": [
                  56
                ],
                "timestamp": "2022-07-30T21:00:00Z"
              }
            ],
            "samplingIntervalInMinutes": 5
          },
          "id": "AP00000001",
          "type": "network-monitoring/access-point-monitoring"
        }
      },
      "AccessPointPort": {
        "type": "object",
        "description": "Access point interface details\n",
        "required": [
          "macAddress",
          "name",
          "status"
        ],
        "properties": {
          "macAddress": {
            "$ref": "#/components/schemas/portMacAddress"
          },
          "name": {
            "$ref": "#/components/schemas/portName"
          },
          "portIndex": {
            "$ref": "#/components/schemas/portIndex"
          },
          "portStatus": {
            "$ref": "#/components/schemas/portStatus"
          },
          "vlanMode": {
            "$ref": "#/components/schemas/vlanMode"
          },
          "allowedVlan": {
            "$ref": "#/components/schemas/allowedVlan"
          },
          "nativeVlan": {
            "$ref": "#/components/schemas/nativeVlan"
          },
          "accessVlan": {
            "$ref": "#/components/schemas/accessVlan"
          },
          "speed": {
            "$ref": "#/components/schemas/speed"
          },
          "duplex": {
            "$ref": "#/components/schemas/duplex"
          },
          "connector": {
            "$ref": "#/components/schemas/connector"
          },
          "isUplink": {
            "$ref": "#/components/schemas/isUplink"
          }
        }
      },
      "AccessPointPowerConsumption": {
        "type": "object",
        "required": [
          "metric",
          "graph",
          "id",
          "type"
        ],
        "properties": {
          "metric": {
            "type": "string",
            "format": "const",
            "maxLength": 128,
            "description": "Hardware performance metric for the power consumption of an access point.",
            "example": "power_consumption"
          },
          "graph": {
            "type": "object",
            "required": [
              "keys",
              "samples",
              "samplingIntervalInMinutes"
            ],
            "properties": {
              "keys": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "const"
                },
                "maxItems": 10,
                "example": [
                  "power_consumption"
                ],
                "description": "List of metrics which helps to evaluate the power consumption trend of an access point."
              },
              "samples": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GraphDataPoint"
                },
                "maxItems": 10000
              },
              "samplingIntervalInMinutes": {
                "$ref": "#/components/schemas/SamplingIntervalInMinutes"
              }
            }
          },
          "id": {
            "$ref": "#/components/schemas/IDap"
          },
          "type": {
            "$ref": "#/components/schemas/Typeap"
          }
        },
        "example": {
          "metric": "power_consumption",
          "graph": {
            "keys": [
              "power_consumption"
            ],
            "samples": [
              {
                "data": [
                  56
                ],
                "timestamp": "2022-07-30T21:00:00Z"
              }
            ],
            "samplingIntervalInMinutes": 5
          },
          "id": "AP00000001",
          "type": "network-monitoring/access-point-monitoring"
        }
      },
      "AccessPointRadio": {
        "type": "object",
        "description": "Access point radio attributes i.e. radio mac, band, radio status, mode, and antenna.\n",
        "required": [
          "macAddress",
          "band",
          "radioNumber"
        ],
        "properties": {
          "macAddress": {
            "type": "string",
            "format": "const",
            "maxLength": 18,
            "example": "11:22:33:44:66:60",
            "description": "Radio MAC address.\n"
          },
          "band": {
            "type": "string",
            "format": "const",
            "maxLength": 16,
            "example": "5 GHz",
[...]
