{
  "openapi": "3.1.0",
  "info": {
    "title": "Clients",
    "version": "1.0.0",
    "description": "API to retrieve VSX (Virtual Switching Extension) information for switches."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Clients",
      "description": "APIs for managing network clients."
    }
  ],
  "paths": {
    "/network-monitoring/v1/clients": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "List Unified Clients",
        "operationId": "listUnifiedClients",
        "description": "This API endpoint retrieves a list of Clients, based on the query parameters provided. Clients list includes details like clientName, status, clientConnectionType, etc., The query parameters allow you to narrow down the results that meet specific criteria, ensuring you receive only the relevant data.",
        "parameters": [
          {
            "name": "site-id",
            "description": "The ID of the site from which the clients are to be retrieved.\n",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "12345367"
            }
          },
          {
            "name": "site-name",
            "required": false,
            "description": "The name of the site from which the clients are to be retrieved.\n",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "site_name1"
            }
          },
          {
            "name": "serial-number",
            "description": "Specifies the device identifier.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "QWR124780123"
            }
          },
          {
            "name": "start-at",
            "in": "query",
            "description": "Start timestamp in RFC 3339 date-time string. Must be less than end-at. For global-level queries, the interval between start-at and end-at must be ≤ 7 days. For site-level queries, the interval must be ≤ 1 month. Default is end-at - 3 hours. The query parameters start-at and end-at only impacts failed clients.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "2025-07-10T08:09:17.419Z"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "description": "End timestamp in RFC 3339 date-time format. Must be later than start-at. For global-level queries, the interval between start-at and end-at must be ≤ 7 days. For site-level queries, it must be ≤ 1 month. Default is the current timestamp.",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "2025-07-10T08:11:17.419Z"
            }
          },
          {
            "name": "filter",
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). By default, `status eq 'Connected'` filter is applied. To retrieve clients with a different status, explicitly specify the status in the filter. If other filters are provided without status, the default connected status filter is still applied. Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | --------  |\n| `clientConnectionType` | `eq` and `in` |\n| `status` | `eq` and `in` |\n| `wlanName` | `eq` and `in` |\n| `vlanId` | `eq` and `in` |\n| `tunnelType` | `eq` and `in` |\n| `role` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n* `in`: Only values present in the given list are returned.\n\n**List of applicable filters for field and terms:**\n\n| Field | Applicable Terms |\n| --------- | -------- |\n| clientConnectionType | `[\"Wired\", \"Wireless\"]`  |\n| status | `[\"Connected\", \"Failed\"]` |\n| wlanName | `string` |\n| vlanId | `string` |\n| tunnelType | `[\"Port-based\", \"User-based\", \"Overlay\"]` |\n| role | `string` |\n\n",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "status eq 'Connected'"
            },
            "example": "tunnelType in ('Port-based', 'Overlay') and clientConnectionType eq 'Wired'"
          },
          {
            "name": "sort",
            "description": "Sort field followed by a direction indicator ASC (ascending) or DESC (descending). Supported fields are clientName,status,clientConnectionType,macAddress,ipv4,ipv6,connectedDeviceSerial,connectedTo,lastSeenAt,port,role,wlanName,vlanId,tunnelType,tunnelId,connectedAt\n",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "clientName asc"
            }
          },
          {
            "name": "next",
            "description": "Specifies the pagination cursor for the next page of resources. Minimum value is 1",
            "in": "query",
            "schema": {
              "default": 1,
              "minimum": 1,
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "limit",
            "description": "Maximum number of clients to be retrieved. Allowed range is 1 to 1000.",
            "in": "query",
            "schema": {
              "default": 100,
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ListClientsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/clients-topn-usage": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get Top N Clients By Usage",
        "operationId": "GetTopNClientsByUsage",
        "description": "Retrieves top N client by usage in reverse sorted order across a time range.",
        "parameters": [
          {
            "name": "site-id",
            "in": "query",
            "required": false,
            "description": "The ID of the site from which the clients are to be retrieved.",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "2778382"
            }
          },
          {
            "name": "site-name",
            "required": false,
            "description": "The name of the site from which the clients are to be retrieved.\n",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "site_name1"
            }
          },
          {
            "name": "start-at",
            "in": "query",
            "description": "Start timestamp in RFC 3339 date-time string. Must be less than end-at. For global-level queries, the interval between start-at and end-at must be ≤ 7 days. For site-level queries, the interval must be ≤ 1 month. The interval between start-at and end-at must be **≤ 1 month**. Default is end-at - 3 hours.\n",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "2025-07-10T08:09:17.419Z"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "description": "End timestamp in RFC 3339 date-time string. Must be greater than start-at. For global-level queries, the interval between start-at and end-at must be ≤ 7 days. For site-level queries, it must be ≤ 1 month.  Default is current timestamp.",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "2025-07-10T08:11:17.419Z"
            }
          },
          {
            "name": "serial-number",
            "description": "Specifies the device identifier.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "QWR124780123"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of clients to be retrieved. Allowed range is 1 to 100.",
            "schema": {
              "default": 5,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/TopNClientsUsageResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/clients-trend": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get Clients Trend",
        "operationId": "GetClientsTrends",
        "description": "Retrieves the clients trend based on the specified group-by field and type category across a time range.",
        "parameters": [
          {
            "name": "site-id",
            "in": "query",
            "required": false,
            "description": "The ID of the site for which clients trend are to be retrieved.",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "2778382"
            }
          },
          {
            "name": "site-name",
            "required": false,
            "description": "The name of the site for which clients trend are to be retrieved.\n",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "site_name1"
            }
          },
          {
            "name": "start-at",
            "in": "query",
            "description": "Start timestamp in RFC 3339 date-time string. Must be less than end-at. For global-level queries, the interval between start-at and end-at must be ≤ 7 days. For site-level queries, the interval must be ≤ 1 month. \n Interval between sample data points is based on the time difference:\n  * Less than or equal to 1 day → 5 min  \n  * Greater than 1 day and less than or equal to 1 month → 3 hours \n",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "2025-08-19T06:45:00Z"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "description": "End timestamp in RFC 3339 date-time string. Must be greater than start-at. For global-level queries, the interval between start-at and end-at must be ≤ 7 days. For site-level queries, it must be ≤ 1 month.  Default is current timestamp.",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "2025-08-19T09:45:00Z"
            }
          },
          {
            "name": "group-by",
            "in": "query",
            "description": "Groups results by the specified field. If grouping by role, vlan, or wlan gives more than 5 unique names, then returns top 4 by client count and folds remaining under 'Others' name. wlan, radio, security, protocol supported for wireless clients only.",
            "schema": {
              "type": "string",
              "enum": [
                "TYPE",
                "ROLE",
                "VLAN",
                "WLAN",
                "RADIO",
                "SECURITY",
                "PROTOCOL"
              ],
              "default": "TYPE"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Category of clients where group-by field should be applied.",
            "schema": {
              "type": "string",
              "enum": [
                "ALL",
                "WIRELESS",
                "WIRED"
              ],
              "default": "ALL"
            }
          },
          {
            "name": "serial-number",
            "in": "query",
            "description": "Specifies the device identifier.",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "QWR124780123"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClientsTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/clients-usage": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get Clients Usage",
        "operationId": "GetClientsUsage",
        "description": "Retrieves the TX and RX usage trend (sum of bytes) for clients over a time range. Supports filtering through the `filter` query parameter using `timestamp`, `macAddress`, `serialNumber`, `siteId`, and `siteName`. When `macAddress` is provided, returns usage trend for that specific client. When `serialNumber` is provided, returns aggregated usage for all clients on that device. When `siteId` or `siteName` is provided, returns aggregated usage for all clients at that site. When no filter is provided, returns tenant-level aggregated usage.\n\nSampling interval is determined by the time range:\n* ≤ 1 day → 5 min\n* > 1 day and ≤ 1 month → 3 hours",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields, operators and value format are in the below given table.\n\n| Field | Operators | Format |\n| --------- | -------- | -------- |\n| `timestamp` | `gt` and `lt` | **Date-time (RFC 3339 timestamp in UTC+0) string** |\n| `siteId` | `eq` | string |\n| `siteName` | `eq` | string |\n| `macAddress` | `eq` | string |\n| `serialNumber` | `eq` | string |\n\n**The operators are implemented as follows:**\n\n* `gt`: Used to indicate the start of the timestamp range. If `timestamp gt` is omitted, it defaults to 3 hours before the `timestamp lt` value. If both `timestamp gt` and `timestamp lt` are omitted, the effective start defaults to 3 hours before the current timestamp.\n\n* `lt`: Used to indicate the end of the timestamp range. If `timestamp lt` is omitted, it defaults to the current timestamp.\n\n* For global-level queries, the interval between `timestamp gt` and `timestamp lt` must be less than or equal to 7 days. For site-level queries, the interval must be less than or equal to 1 month.\n\n* `eq`: Only values exactly matching the given value are returned.\n\n",
            "example": "timestamp gt 2025-08-19T06:45:00Z and timestamp lt 2025-08-19T09:45:00Z and siteId eq '2778382'",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClientsUsageResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/clients/{mac-address}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get Client Details",
        "operationId": "getClientDetails",
        "description": "This API endpoint retrieves detail of Client, based on the query parameters provided. Client detail includes clientName, status, ipv4, etc.",
        "parameters": [
          {
            "name": "mac-address",
            "required": true,
            "description": "MAC address of the Wireless/Wired Client to be queried",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "05:50:35:a1:a0:01"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/getClientDetailsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/clients/{mac-address}/mobility-trail": {
      "get": {
        "tags": [
          "Clients"
        ],
        "summary": "Get Wireless Client Mobility Details",
        "operationId": "GetClientMobilityDetails",
        "description": "This API endpoint retrieves wireless client mobility details.",
        "parameters": [
          {
            "name": "site-id",
            "required": false,
            "description": "The ID of the site from which the client mobility details are to be retrieved.\n",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "12345678"
            }
          },
          {
            "name": "site-name",
            "required": false,
            "description": "The name of the site from which the clients mobility details are to be retrieved.\n",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "site_name1"
            }
          },
          {
            "name": "mac-address",
            "required": true,
            "description": "MAC address of the Wireless Client to be queried",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "c8:b5:ad:c3:b2:04"
            }
          },
          {
            "name": "start-at",
            "description": "Start timestamp in RFC 3339 date-time string. Must be less than end-at. The interval between start-at and end-at must be **≤ 1 month**. Default is end-at - 3 hours.\n",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-07-10T08:09:17.419Z"
            }
          },
          {
            "name": "end-at",
            "description": "End timestamp in RFC 3339 date-time string. Must be greater than start-at, and the interval between start and end must be <= 1 month. Default is current timestamp.",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2025-07-10T08:11:17.419Z"
            }
          },
          {
            "name": "filter",
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `wlanName` | `eq` and `in` |\n| `radioBand` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n* `in`: Only values present in the given list are returned.\n\n**List of applicable filters for field and terms:**\n\n| Field | Applicable Terms |\n| --------- | -------- |\n| wlanName | `string` |\n| radioBand | `[\"2.4 GHz\", \"5 GHz\", \"6 GHz\"]` |\n",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "wlanName in ('wlan-00001') and radioBand eq '5 GHz'"
          },
          {
            "name": "sort",
            "description": "Sort field followed by a direction indicator ASC (ascending) or DESC (descending). Supported field is occurredAt. Default sorting for occurredAt is DESC.",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "occurredAt ASC"
            }
          },
          {
            "name": "next",
            "description": "Specifies the pagination cursor for the next page of resources. Minimum value is 1",
            "in": "query",
            "schema": {
              "default": 1,
              "minimum": 1,
              "type": "string"
            },
            "example": "1"
          },
          {
            "name": "limit",
            "description": "Maximum number of client mobility details to be retrieved. Allowed range is 1 to 100.",
            "in": "query",
            "schema": {
              "default": 20,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetClientMobilityDetailsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "AuthenticationType": {
        "type": "string",
        "description": "Authentication type used by the client to connect with the device.",
        "example": "Captive Portal"
      },
      "BadRequestError": {
        "type": "object",
        "description": "Bad request error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "description": "HTTP status code.",
            "example": 400
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
            ],
            "maxLength": 128,
            "description": "Error code",
            "example": "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "Bssidclients": {
        "type": "string",
        "description": "The BSSID to which the client is connected on the device.",
        "example": "b8:3a:5a:47:29:41"
      },
      "Client": {
        "type": "object",
        "required": [
          "macAddress",
          "type",
          "id"
        ],
        "properties": {
          "clientName": {
            "$ref": "#/components/schemas/ClientName"
          },
          "status": {
            "$ref": "#/components/schemas/Statusclients"
          },
          "connectedDeviceType": {
            "$ref": "#/components/schemas/ConnectedDeviceType"
          },
          "clientConnectionType": {
            "$ref": "#/components/schemas/ClientConnectionType"
          },
          "macAddress": {
            "$ref": "#/components/schemas/MacAddressclients"
          },
          "ipv4": {
            "$ref": "#/components/schemas/IPV4"
          },
          "ipv6": {
            "$ref": "#/components/schemas/IPV6"
          },
          "connectedDeviceSerial": {
            "$ref": "#/components/schemas/ConnectedDeviceSerial"
          },
          "connectedTo": {
            "$ref": "#/components/schemas/ConnectedTo"
          },
          "lastSeenAt": {
            "$ref": "#/components/schemas/LastSeenAtclients"
          },
          "wlanName": {
            "$ref": "#/components/schemas/WlanNameclients"
          },
          "port": {
            "$ref": "#/components/schemas/Port"
          },
          "role": {
            "$ref": "#/components/schemas/Roleclients"
          },
          "vlanId": {
            "$ref": "#/components/schemas/VlanId"
          },
          "vlanName": {
            "$ref": "#/components/schemas/VlanName"
          },
          "tunnelType": {
            "$ref": "#/components/schemas/TunnelType"
          },
          "tunnelId": {
            "$ref": "#/components/schemas/TunnelIdclients"
          },
          "connectedAt": {
            "$ref": "#/components/schemas/ConnectedAt"
          },
          "userName": {
            "$ref": "#/components/schemas/UserName"
          },
          "hostName": {
            "$ref": "#/components/schemas/HostName"
          },
          "wirelessSecurity": {
            "$ref": "#/components/schemas/WirelessSecurity"
          },
          "clientManufacturer": {
            "$ref": "#/components/schemas/ClientManufacturer"
          },
          "clientFunction": {
            "$ref": "#/components/schemas/ClientFunction"
          },
          "clientVendor": {
            "$ref": "#/components/schemas/ClientVendor"
          },
          "clientOperatingSystem": {
            "$ref": "#/components/schemas/ClientOperatingSystem"
          },
          "clientTags": {
            "$ref": "#/components/schemas/ClientTags"
          },
          "clientCategory": {
            "$ref": "#/components/schemas/ClientCategory"
          },
          "siteName": {
            "$ref": "#/components/schemas/SiteNameclients"
          },
          "siteId": {
            "$ref": "#/components/schemas/SiteIdclients"
          },
          "wirelessBand": {
            "$ref": "#/components/schemas/WirelessBand"
          },
          "wirelessChannel": {
            "$ref": "#/components/schemas/WirelessChannel"
          },
          "bssid": {
            "$ref": "#/components/schemas/Bssidclients"
          },
          "radioMacAddress": {
            "$ref": "#/components/schemas/RadioMacAddressclients"
          },
          "keyManagement": {
            "$ref": "#/components/schemas/KeyManagement"
          },
          "authenticationType": {
            "$ref": "#/components/schemas/AuthenticationType"
          },
          "clientCapabilities": {
            "$ref": "#/components/schemas/ClientCapabilities"
          },
          "type": {
            "$ref": "#/components/schemas/Typeclients"
          },
          "id": {
            "$ref": "#/components/schemas/IDclients"
          },
          "snr": {
            "$ref": "#/components/schemas/Snr"
          },
          "mloOperMode": {
            "$ref": "#/components/schemas/MloOperMode"
          },
          "phyType": {
            "$ref": "#/components/schemas/PhyType"
          }
        }
      },
      "ClientCapabilities": {
        "type": "string",
        "description": "Client 802.11 capabilities.",
        "example": "802.11ac"
      },
      "ClientCategory": {
        "type": "string",
        "description": "Specifies the category of the client device.",
        "example": "Smart Device"
      },
      "ClientConnectionType": {
        "type": "string",
        "description": "Specifies the client type.",
        "example": "Wireless",
        "enum": [
          "Wired",
          "Wireless"
        ]
      },
      "ClientDetails": {
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "clientName": {
            "$ref": "#/components/schemas/ClientName"
          },
          "status": {
            "$ref": "#/components/schemas/Statusclients"
          },
          "clientConnectionType": {
            "$ref": "#/components/schemas/ClientConnectionType"
          },
          "macAddress": {
            "$ref": "#/components/schemas/MacAddressclients"
          },
          "ipv4": {
            "$ref": "#/components/schemas/IPV4"
          },
          "ipv6": {
            "$ref": "#/components/schemas/IPV6"
          },
          "connectedDeviceSerial": {
            "$ref": "#/components/schemas/ConnectedDeviceSerial"
          },
          "connectedTo": {
            "$ref": "#/components/schemas/ConnectedTo"
          },
          "lastSeenAt": {
            "$ref": "#/components/schemas/LastSeenAtclients"
          },
          "wlanName": {
            "$ref": "#/components/schemas/WlanNameclients"
          },
          "port": {
            "$ref": "#/components/schemas/Port"
          },
          "role": {
            "$ref": "#/components/schemas/Roleclients"
          },
          "vlanName": {
            "$ref": "#/components/schemas/VlanName"
          },
          "vlanId": {
            "$ref": "#/components/schemas/VlanId"
          },
          "tunnelType": {
            "$ref": "#/components/schemas/TunnelType"
          },
          "tunnelId": {
            "$ref": "#/components/schemas/TunnelIdclients"
          },
          "connectedAt": {
            "$ref": "#/components/schemas/ConnectedAt"
          },
          "keyManagement": {
            "$ref": "#/components/schemas/KeyManagement"
          },
          "authenticationType": {
            "$ref": "#/components/schemas/AuthenticationType"
          },
          "clientCapabilities": {
            "$ref": "#/components/schemas/ClientCapabilities"
          },
          "userName": {
            "$ref": "#/components/schemas/UserName"
          },
          "hostName": {
            "$ref": "#/components/schemas/HostName"
          },
          "connectedDeviceType": {
            "$ref": "#/components/schemas/ConnectedDeviceType"
          },
          "wirelessSecurity": {
            "$ref": "#/components/schemas/WirelessSecurity"
          },
          "clientManufacturer": {
            "$ref": "#/components/schemas/ClientManufacturer"
          },
          "clientFunction": {
            "$ref": "#/components/schemas/ClientFunction"
          },
          "clientVendor": {
            "$ref": "#/components/schemas/ClientVendor"
          },
          "clientOperatingSystem": {
            "$ref": "#/components/schemas/ClientOperatingSystem"
          },
          "clientTags": {
            "$ref": "#/components/schemas/ClientTags"
          },
          "clientCategory": {
            "$ref": "#/components/schemas/ClientCategory"
          },
          "siteName": {
            "$ref": "#/components/schemas/SiteNameclients"
          },
          "siteId": {
            "$ref": "#/components/schemas/SiteIdclients"
          },
          "wirelessBand": {
            "$ref": "#/components/schemas/WirelessBand"
          },
          "wirelessChannel": {
            "$ref": "#/components/schemas/WirelessChannel"
          },
          "bssid": {
            "$ref": "#/components/schemas/Bssidclients"
          },
          "radioMacAddress": {
            "$ref": "#/components/schemas/RadioMacAddressclients"
          },
          "type": {
            "$ref": "#/components/schemas/Typeclients"
          },
          "id": {
            "$ref": "#/components/schemas/IDclients"
          },
          "snr": {
            "$ref": "#/components/schemas/Snr"
          },
          "mloOperMode": {
            "$ref": "#/components/schemas/MloOperMode"
          },
          "phyType": {
            "$ref": "#/components/schemas/PhyType"
          }
        }
      },
      "ClientFunction": {
        "type": "string",
        "description": "Specifies the functional category of the client device.",
        "example": "Mobile"
      },
      "ClientManufacturer": {
        "type": "string",
        "description": "Specifies the manufacturer of the client device.",
        "example": "Samsung"
      },
      "ClientName": {
        "type": "string",
        "description": "Specifies the name of the client.",
        "example": "Client1"
      },
      "ClientOperatingSystem": {
        "type": "string",
        "description": "OS model of the client device.",
        "example": "Android"
      },
      "ClientTags": {
        "type": "string",
        "description": "Comma-separated tags associated with the client.",
        "example": "tag1"
      },
      "ClientVendor": {
        "type": "string",
        "description": "Specifies the vendor of the client device.",
        "example": "Android"
      },
      "ConnectedAt": {
        "type": "string",
        "format": "date-time",
        "description": "Specifies the timestamp when the client was connected.",
        "example": "2025-07-10T08:09:17.419Z"
      },
      "ConnectedDeviceSerial": {
        "type": "string",
        "description": "Specifies the serial number of the connected device.",
        "example": "DTXC000001"
      },
      "ConnectedDeviceType": {
        "type": "string",
        "description": "Type of connected device (AP/Switch/Gateway).",
        "example": "AP"
      },
      "ConnectedTo": {
        "type": "string",
        "description": "Specifies the device name that the client is connected to.",
        "example": "20:4c:03:a4:a4:28"
      },
      "DataPoint": {
        "type": "object",
        "description": "An object containing data points and a corresponding timestamp.",
        "required": [
          "data",
          "timestamp"
        ],
        "properties": {
          "data": {
            "type": "array",
            "description": "A list of values corresponding to the keys",
            "items": {
              "type": "number",
              "format": "double",
              "minimum": -10000000000000000,
              "maximum": 10000000000000000
            },
            "maxItems": 10
          },
          "ts": {
            "type": "string",
            "format": "date-time",
            "maxLength": 128,
            "description": "An RFC 3339 date-time string",
            "example": "2025-08-19T06:45:00Z"
          }
        }
      },
      "DebugId": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting purposes.",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "DestinationAp": {
        "type": "string",
        "description": "Specifies the AP name to which the client roamed.",
        "example": "QNRR000001"
      },
      "Error404": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 404,
            "maximum": 404,
            "example": 404,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "format": "const",
            "maxLength": 32,
            "description": "Internal error code.",
            "example": "HPE_GL_ERROR_NOT_FOUND"
          },
          "message": {
            "type": "string",
            "format": "const",
            "maxLength": 512,
            "description": "Not Found.",
            "example": "Not Found"
          },
          "debugId": {
            "type": "string",
            "format": "const",
            "maxLength": 50,
            "description": "This can be used to help with troubleshooting",
            "example": "abc-123-456"
          }
        }
      },
      "ErrorMessage": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "Error message indicating the cause of the failure.",
        "example": "Error Message"
      },
      "ForbiddenRequest": {
        "type": "object",
        "description": "Forbidden error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": 403,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_FORBIDDEN",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "FromChannel": {
        "type": "string",
        "description": "Specifies the channel from which the client roamed.",
        "example": "1"
      },
      "GetClientMobilityDetails": {
        "examples": [],
        "type": "object",
        "required": [
          "items",
          "count"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MobilityDetails"
            },
            "description": "A list of mobility details for a client"
          },
          "count": {
            "type": "integer",
            "description": "The number of mobility events after filtering for a client",
            "examples": [
              1
            ]
          },
          "total": {
            "type": "integer",
            "description": "Total number of events for a client",
            "examples": [
              1
            ]
          },
          "next": {
            "type": "string",
            "description": "Specifies the pagination cursor for the next page of resources. null if there are no further pages.",
            "examples": [
              null,
              "1",
              "2",
              "3"
            ]
          }
        }
      },
      "GetClientsTrends": {
        "type": "object",
        "required": [
          "samples",
          "keys",
          "interval",
          "id",
          "type"
        ],
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "const"
            },
            "maxItems": 30,
            "example": [
              "Wired",
              "Wireless"
            ],
            "description": "List of categories available for a selected filter"
          },
          "samples": {
            "description": "List of data samples.",
            "type": "array",
            "maxItems": 2160,
            "items": {
              "$ref": "#/components/schemas/DataPoint"
            }
          },
          "interval": {
            "type": "string",
            "enum": [
              "5 mins",
              "3 hours"
            ],
            "description": "Interval based on given start-at and end-at."
          },
          "type": {
            "$ref": "#/components/schemas/Typeclients"
          },
          "id": {
            "$ref": "#/components/schemas/IDclients"
          }
        },
        "example": {
          "interval": "5 mins",
          "keys": [
            "Wired",
            "Wireless"
          ],
          "samples": [
            {
              "data": [
                2,
                4
              ],
              "ts": "2025-08-29T03:45:00Z"
            },
            {
              "data": [
                2,
                4
              ],
              "ts": "2025-08-29T03:50:00Z"
            }
          ],
          "id": "4fce1e37-9e48-4fb4-bb62-2c11ee6e3d83",
          "type": "network-monitoring/client-monitoring"
        }
      },
      "GetClientsUsage": {
        "type": "object",
        "required": [
          "samples",
          "keys",
          "interval",
          "type"
        ],
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "const"
            },
            "maxItems": 2,
            "example": [
              "txUsage",
              "rxUsage"
            ],
            "description": "Fixed keys representing TX and RX byte usage."
          },
          "samples": {
            "description": "List of data samples. Each sample contains [txUsage, rxUsage] in bytes.",
            "type": "array",
            "maxItems": 2160,
            "items": {
              "$ref": "#/components/schemas/DataPoint"
            }
          },
          "interval": {
            "type": "string",
            "enum": [
              "5 mins",
              "3 hours"
            ],
            "description": "Sampling interval based on the given timestamp filter range."
          },
          "type": {
            "$ref": "#/components/schemas/Typeclients"
          }
        },
        "example": {
          "interval": "5 mins",
          "keys": [
            "txUsage",
            "rxUsage"
          ],
          "samples": [
            {
              "data": [
                1048576,
                524288
              ],
              "ts": "2025-08-19T06:45:00Z"
            },
            {
              "data": [
                2097152,
                1048576
              ],
              "ts": "2025-08-19T06:50:00Z"
            }
          ],
          "type": "network-monitoring/client-monitoring"
        }
      },
      "GetTopNClientsByUsageResponse": {
        "type": "object",
        "description": "Response containing list of top N clients by usage",
        "required": [
          "items",
          "count"
        ],
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of top N clients by usage",
            "items": {
              "type": "object",
              "required": [
                "clientName",
                "macAddress",
                "usage",
                "clientConnectionType",
                "id",
                "type",
                "siteName",
                "siteId"
              ],
              "properties": {
                "clientName": {
                  "type": "string",
                  "description": "Name of the client"
                },
                "macAddress": {
                  "type": "string",
                  "description": "MAC address of the client"
                },
                "usage": {
                  "type": "integer",
                  "format": "int64",
                  "description": "Total usage in Bytes"
                },
                "clientConnectionType": {
                  "type": "string",
                  "description": "Specifies the type of client",
                  "enum": [
                    "Wired",
                    "Wireless"
                  ]
                },
                "siteName": {
                  "$ref": "#/components/schemas/SiteNameclients"
                },
                "siteId": {
                  "$ref": "#/components/schemas/SiteIdclients"
                },
                "type": {
                  "$ref": "#/components/schemas/Typeclients"
                },
                "id": {
                  "$ref": "#/components/schemas/IDclients"
                }
              }
            }
          },
          "count": {
            "type": "integer",
            "description": "No of clients retrieved"
          }
        },
        "example": {
          "count": 3,
          "items": [
            {
              "clientName": "34:1B:9F:BE:40:01",
              "macAddress": "34:1b:9f:be:40:01",
              "usage": 8339422,
              "clientConnectionType": "Wireless",
              "siteName": "Site-1",
              "siteId": 2778382
            },
            {
              "clientName": "D0_94_2A_F8_30_01",
              "macAddress": "d0:94:2a:f8:30:01",
              "usage": 7102255,
              "clientConnectionType": "Wireless",
              "siteName": "Site-2",
              "siteId": "2778383"
            },
            {
              "clientName": "36:6C:11:9D:10:01",
              "macAddress": "36:6c:11:9d:10:01",
              "usage": 6644045,
              "clientConnectionType": "Wired",
              "siteName": "Site-3",
              "siteId": 2778352
            }
          ]
        }
      },
      "HostName": {
        "type": "string",
        "description": "The client's hostname.",
        "example": "13_B3_20_22_B0_04H"
      },
      "IDclients": {
        "type": "string",
        "format": "const",
        "maxLength": 36,
        "example": "c8:b5:ad:c3:b2:04",
        "description": "Primary identifier for the resource.\n"
      },
      "IPV4": {
        "type": "string",
        "description": "Specifies the IPv4 address of the client.",
        "example": "129.110.213.218"
      },
      "IPV6": {
        "type": "string",
        "description": "Specifies the IPv6 address of the client.",
        "example": "2001:0db8:85a3:0000:0000:8a2e:0370:7334"
      },
      "InternalServerError": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_MONITORING_INTERNAL_SERVER_ERROR"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has a prefix HPE_GL_.* For more details regarding error, please refer to the error message",
            "example": "HPE_GL_NETWORK_MONITORING_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "KeyManagement": {
        "type": "string",
        "description": "Security mode used by the client.",
        "example": "WPA2_PSK"
      },
      "LastSeenAtclients": {
        "type": "string",
        "format": "date-time",
        "description": "The date and time when the client was last detected in the system. If the client is online, this value will be 0.",
        "example": 0
      },
      "ListClients": {
        "examples": [],
        "type": "object",
        "required": [
          "items",
          "count"
        ],
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Client"
            },
            "description": "A list of network clients"
          },
          "count": {
            "type": "integer",
            "description": "The number of clients after filtering",
            "examples": [
              1,
              10,
              100
            ]
          },
          "total": {
            "type": "integer",
            "description": "Total number of clients",
            "examples": [
              1,
              10,
              100
            ]
          },
          "next": {
            "type": "string",
            "description": "Specifies the pagination cursor for the next page of resources. null if there are no further pages.",
            "examples": [
              null,
              "1",
              "2",
              "3"
            ]
          }
        }
      },
      "MacAddressclients": {
        "type": "string",
        "description": "Specifies the MAC address of the client.",
        "example": "05:50:35:a1:a0:01"
      },
      "MloOperMode": {
        "type": "string",
        "description": "Specifies the Multi-Link Operation (MLO) mode used by the client for Wi-Fi 7 connectivity.",
        "example": "MLO Disabled"
      },
      "MobilityDetails": {
        "type": "object",
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "occurredAt": {
            "$ref": "#/components/schemas/OccurredAt"
          },
          "roamTime": {
            "$ref": "#/components/schemas/RoamTime"
          },
          "wlanName": {
            "$ref": "#/components/schemas/WlanNameclients"
          },
          "sourceAp": {
            "$ref": "#/components/schemas/SourceAp"
          },
          "destinationAp": {
            "$ref": "#/components/schemas/DestinationAp"
          },
          "fromChannel": {
            "$ref": "#/components/schemas/FromChannel"
          },
          "toChannel": {
            "$ref": "#/components/schemas/ToChannel"
          },
          "fromBssid": {
            "$ref": "#/components/schemas/fromBssid"
          },
          "toBssid": {
            "$ref": "#/components/schemas/toBssid"
          },
          "rssi": {
            "$ref": "#/components/schemas/rssi"
          },
          "radioBand": {
            "$ref": "#/components/schemas/RadioBand"
          },
          "roamProtocol": {
            "$ref": "#/components/schemas/RoamProtocol"
          },
          "type": {
            "$ref": "#/components/schemas/Typeclients"
          },
          "id": {
            "$ref": "#/components/schemas/IDclients"
          }
        }
      },
      "OccurredAt": {
        "type": "string",
        "description": "Specifies the transition time of the client.",
        "example": "2025-07-10T08:09:17.419Z"
      },
      "PhyType": {
        "type": "string",
        "description": "Specifies the IEEE 802.11 physical layer standard used for the client's current connection.",
        "example": "802.11a"
      },
      "Port": {
        "type": "string",
        "description": "Specifies the port to which the client is connected, or null if not applicable.",
        "example": null
      },
      "RadioBand": {
        "type": "string",
        "description": "Specifies the radio band to which the client roamed.",
        "example": "5 GHz"
      },
      "RadioMacAddressclients": {
        "type": "string",
        "description": "The radio MAC address to which the client is connected on the device.",
        "example": "b8:3a:5a:46:ed:30"
      },
      "RoamProtocol": {
        "type": "string",
        "description": "Specifies the type of roam that has happened.",
        "example": "11r",
        "enum": [
          "11r",
          "okc",
          "802.11"
        ]
      },
      "RoamTime": {
        "type": "string",
        "description": "Specifies the roaming latency in milliseconds.",
        "example": "168"
      },
      "Roleclients": {
        "type": "string",
        "description": "Specifies the role of the client.",
        "example": "wireless"
      },
      "SiteIdclients": {
        "type": "string",
        "description": "A unique identifier for the site where the client is located.",
        "example": 2778382
      },
      "SiteNameclients": {
        "type": "string",
        "description": "The name of the site where the client is located.",
        "example": "Site-1"
      },
      "Snr": {
        "type": "integer",
        "description": "Specifies the signal-to-noise ratio (SNR) of the client's wireless connection. Higher values indicate better signal quality.",
        "example": 42
      },
      "SourceAp": {
        "type": "string",
        "description": "Specifies the AP name from which the client roamed.",
        "example": "QNRR000002"
      },
      "Statusclients": {
        "type": "string",
        "description": "Specifies the status of the client.",
        "example": "Connected",
        "enum": [
          "Connected",
          "Failed",
          "Connecting",
          "Disconnected",
          "Blocked"
        ]
      },
      "ToChannel": {
        "type": "string",
        "description": "Specifies the channel to which the client roamed.",
        "example": "50"
      },
      "TooManyRequest": {
        "type": "object",
        "description": "Too many requests error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": 429,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "TunnelIdclients": {
        "type": "integer",
        "description": "Specifies the tunnel ID associated with the client.",
        "example": 0
      },
      "TunnelType": {
        "type": "string",
        "description": "Specifies the tunnel type associated with the client. Possible values are \"Port-based\", \"User-based\", \"Overlay\", and \"None\". \"None\" indicates no tunnel.",
        "example": "Overlay"
      },
      "Typeclients": {
        "type": "string",
        "format": "const",
        "maxLength": 36,
        "example": "network-monitoring/client-monitoring",
        "description": "The type of the resource.\n"
      },
      "Unauthorized": {
        "type": "object",
        "description": "Unauthorized error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "description": "HTTP status code.",
            "example": 401
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "UserName": {
        "type": "string",
        "description": "The client's username.",
        "example": "user"
      },
      "VlanId": {
        "type": "string",
        "description": "Specifies the VLAN ID associated with the client.",
        "example": "100"
      },
      "VlanName": {
        "type": "string",
        "description": "Specifies the VLAN name associated with the client.",
        "example": "100"
      },
      "WirelessBand": {
        "type": "string",
        "description": "Wireless frequency band used by the client.",
        "example": "5GHZ"
      },
      "WirelessChannel": {
        "type": "string",
        "description": "The wireless channel number on which the client is operating.",
        "example": 52
      },
      "WirelessSecurity": {
        "type": "string",
        "description": "Specifies the wireless security protocol used by the client.",
        "example": "WPA2-Enterprise"
      },
      "WlanNameclients": {
        "type": "string",
        "description": "Specifies the network identifier.",
        "example": "wlan-00001"
      },
      "fromBssid": {
        "type": "string",
        "description": "Specifies the BSSID MAC address from which the client roamed.",
        "example": "REDACTED"
      },
      "rssi": {
        "type": "string",
        "description": "Specifies the RSSI value after the client roamed.",
        "example": "-42"
      },
      "toBssid": {
        "type": "string",
        "description": "Specifies the BSSID MAC address to which the client roamed.",
        "example": "REDACTED"
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestError"
            }
          }
        }
      },
      "ClientsTrendResponse": {
        "description": "Response schema for client Trends",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetClientsTrends"
            },
            "example": {
              "interval": "5 mins",
              "keys": [
                "Wired",
                "Wireless"
              ],
              "samples": [
                {
                  "data": [
                    2,
                    4
                  ],
                  "ts": "2025-08-29T03:45:00Z"
                },
                {
                  "data": [
                    2,
                    4
                  ],
                  "ts": "2025-08-29T03:50:00Z"
                }
              ],
              "id": "4fce1e37-9e48-4fb4-bb62-2c11ee6e3d83",
              "type": "network-monitoring/client-monitoring"
            }
          }
        }
      },
      "ClientsUsageResponse": {
        "description": "Response schema for clients usage trend.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetClientsUsage"
            },
            "example": {
              "interval": "5 mins",
              "keys": [
                "txUsage",
                "rxUsage"
              ],
              "samples": [
                {
                  "data": [
                    1048576,
                    524288
                  ],
                  "ts": "2025-08-19T06:45:00Z"
                },
                {
                  "data": [
                    2097152,
                    1048576
                  ],
                  "ts": "2025-08-19T06:50:00Z"
                }
              ],
              "type": "network-monitoring/client-monitoring"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden: Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenRequest"
            }
          }
        }
      },
      "GetClientMobilityDetailsResponse": {
        "description": "Response schema for getting client mobility details",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetClientMobilityDetails"
            }
          }
        }
      },
      "InternalServerError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerError"
            }
          }
        }
      },
      "ListClientsResponse": {
        "description": "Response schema for listing clients",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ListClients"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not Found error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequest"
            }
          }
        }
      },
      "TopNClientsUsageResponse": {
        "description": "Response schema for top N clients by usage.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/GetTopNClientsByUsageResponse"
            },
            "example": {
              "count": 3,
              "items": [
                {
                  "clientName": "34:1B:9F:BE:40:01",
                  "macAddress": "34:1b:9f:be:40:01",
                  "usage": 8339422,
                  "clientConnectionType": "Wireless",
                  "type": "network-monitoring/client-monitoring",
                  "id": "34:1b:9f:be:40:01",
                  "siteName": "Site-1",
                  "siteId": 2778382
                },
                {
                  "clientName": "D0_94_2A_F8_30_01",
                  "macAddress": "d0:94:2a:f8:30:01",
                  "usage": 7102255,
                  "clientConnectionType": "Wireless",
                  "type": "network-monitoring/client-monitoring",
                  "id": "d0:94:2a:f8:30:01",
                  "siteName": "Site-2",
                  "siteId": 2778392
                },
                {
                  "clientName": "36:6C:11:9D:10:01",
                  "macAddress": "36:6c:11:9d:10:01",
                  "usage": 6644045,
                  "clientConnectionType": "Wired",
                  "type": "network-monitoring/client-monitoring",
                  "id": "36:6c:11:9d:10:01",
                  "siteName": "Site-3",
                  "siteId": 2778342
                }
              ]
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Unauthorized"
            }
          }
        }
      },
      "getClientDetailsResponse": {
        "description": "Response schema for client details",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-Rate-Limit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-Rate-Limit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-Rate-Limit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ClientDetails"
            }
          }
        }
      }
    },
    "headers": {
      "X-Rate-Limit-Limit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "X-Rate-Limit-Remaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "X-Rate-Limit-Reset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The UTC date/time at which the current rate limit window resets."
      },
      "X-RateLimit-Limit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "X-RateLimit-Remaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "X-RateLimit-Reset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      },
      "XRateLimitLimitHeader": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000,
          "description": "The request limit per hour."
        }
      },
      "XRateLimitRemainingHeader": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000,
          "description": "The number of requests left for the time window."
        }
      },
      "XRateLimitResetHeader": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The UTC date/time at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
