{
  "openapi": "3.1.0",
  "info": {
    "title": "Client Onboarding",
    "version": "1.0.0",
    "description": "API to retrieve VSX (Virtual Switching Extension) information for switches."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Client Onboarding",
      "description": "APIs to retrieve onboarding stage scores, stage export summaries, top reasons, and top grouped counts."
    }
  ],
  "paths": {
    "/network-monitoring/v1/client-onboarding-score": {
      "get": {
        "tags": [
          "Client Onboarding"
        ],
        "operationId": "getClientOnboardingScoreV1",
        "summary": "Get onboarding score",
        "description": "Retrieves an onboarding score by stage and overall score for a given time range. If `stage` is not provided, scores are returned for default stages: `assoc`, `auth`, `dhcp`, and `dns`. If `site-id` is omitted tenant-level score is returned.",
        "parameters": [
          {
            "name": "start-at",
            "in": "query",
            "required": false,
            "description": "Start timestamp (ISO date format). Must be earlier than end-at. If start-at and end-at are not provided, the default time range is 3 hours.",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "2026-04-27T14:30:00Z"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "required": false,
            "description": "End timestamp (ISO date format). Must be later than start-at. If start-at and end-at are not provided, the default time range is 3 hours.",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "2026-04-29T14:30:00Z"
            }
          },
          {
            "name": "site-id",
            "in": "query",
            "required": false,
            "description": "Optional site identifier. If omitted, tenant-level score is returned.",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "6985764272"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Optional onboarding stage. Supported values: `assoc`, `auth`, `dhcp`, `dns`. Omit to get all supported stages.",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "assoc"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Optional onboarding events version. If not provided or non-numeric, the service uses a default version.",
            "schema": {
              "type": "string",
              "format": "const",
              "example": "1"
            }
          },
          {
            "name": "view-type",
            "in": "query",
            "required": false,
            "description": "view-type supports DEFAULT, BY_CLIENT and BY_ATTEMPTS view. DEFAULT view gives consolidated metrics based on every single client onboarding attempt in given time period. BY_CLIENT gives consolidated metrics for all distinct client based on the single connection attempt made most recently or latest connection attempt in the given time period. BY_ATTEMPTS view gives the consolidated metrics by extracting latest or most recent connection attempt made per session from the client.",
            "schema": {
              "type": "string",
              "enum": [
                "DEFAULT",
                "BY_CLIENT",
                "BY_ATTEMPTS"
              ],
              "example": "BY_CLIENT"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OnboardingScoreResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/client-onboarding-stage/count": {
      "get": {
        "tags": [
          "Client Onboarding"
        ],
        "operationId": "getClientOnboardingStageCountV1",
        "summary": "Get top onboarding counts by stage and status for a specific field",
        "description": "Retrieves top grouped counts for onboarding by stage and status. Query params supports kebab-case",
        "parameters": [
          {
            "name": "start-at",
            "in": "query",
            "required": true,
            "description": "Start timestamp (ISO date format). Must be earlier than end-at. If start-at and end-at are not provided, the default time range is 3 hours.",
            "schema": {
              "type": "string",
              "example": "2026-04-27T14:30:00Z"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "required": true,
            "description": "End timestamp (ISO date format). Must be later than start-at. If start-at and end-at are not provided, the default time range is 3 hours.",
            "schema": {
              "type": "string",
              "example": "2026-04-29T14:30:00Z"
            }
          },
          {
            "name": "site-id",
            "in": "query",
            "required": false,
            "description": "Optional site identifier. If omitted, tenant-level aggregation is returned.",
            "schema": {
              "type": "string",
              "example": "6985764272"
            }
          },
          {
            "name": "field",
            "in": "query",
            "required": false,
            "description": "Grouping field key. Supported values and meanings: `topclients` (client MAC), `topaccessdevices` (AP MAC), `band` (radio band), `topwlans` (ESSID), `topreasons` (onboarding failure reason), `topservers` (auth server if stage is auth, dhcp server if stage is dhcp, dns server if stage is dns). Defaults to `topclients` in resolver when omitted.",
            "schema": {
              "type": "string",
              "enum": [
                "topclients",
                "topaccessdevices",
                "band",
                "topwlans",
                "topreasons",
                "topservers"
              ],
              "example": "topclients"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Optional status selector. Supported values: `FAILED` (stage failed), `DELAY` (successful with latency above threshold), `SUCCESS` (successful onboarding). Defaults to `FAILED`.",
            "schema": {
              "type": "string",
              "enum": [
                "FAILED",
                "DELAY",
                "SUCCESS"
              ],
              "example": "FAILED"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Optional onboarding stage selector. Omit to get all supported stages.",
            "schema": {
              "type": "string",
              "enum": [
                "assoc",
                "auth",
                "dhcp",
                "dns"
              ],
              "example": "assoc"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Optional onboarding events version. If missing or non-numeric, default version is used.",
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "view-type",
            "in": "query",
            "required": false,
            "description": "view-type supports DEFAULT, BY_CLIENT and BY_ATTEMPTS view. DEFAULT view gives consolidated metrics based on every single client onboarding attempt in given time period. BY_CLIENT gives consolidated metrics for all distinct client based on the single connection attempt made most recently or latest connection attempt in the given time period. BY_ATTEMPTS view gives the consolidated metrics by extracting latest or most recent connection attempt made per session from the client.",
            "schema": {
              "type": "string",
              "enum": [
                "DEFAULT",
                "BY_CLIENT",
                "BY_ATTEMPTS"
              ],
              "example": "BY_CLIENT"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OnboardingCountResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/client-onboarding-stage/export": {
      "get": {
        "tags": [
          "Client Onboarding"
        ],
        "operationId": "getClientOnboardingStageExportV1",
        "summary": "Get onboarding stage export data",
        "description": "Retrieves per-stage onboarding export data with summary totals and top five delayed/failed dimensions. Query params arsupportse kebab-case",
        "parameters": [
          {
            "name": "start-at",
            "in": "query",
            "required": true,
            "description": "Start timestamp (ISO date format). Must be earlier than end-at. If start-at and end-at are not provided, the default time range is 3 hours.",
            "schema": {
              "type": "string",
              "example": "2026-04-27T14:30:00Z"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "required": true,
            "description": "End timestamp (ISO date format). Must be later than start-at. If start-at and end-at are not provided, the default time range is 3 hours.",
            "schema": {
              "type": "string",
              "example": "2026-04-29T14:30:00Z"
            }
          },
          {
            "name": "site-id",
            "in": "query",
            "required": false,
            "description": "Optional site identifier. If omitted, tenant-level aggregation is returned.",
            "schema": {
              "type": "string",
              "example": "6985764272"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Optional onboarding stage selector. Omit to get all supported stages.",
            "schema": {
              "type": "string",
              "enum": [
                "assoc",
                "auth",
                "dhcp",
                "dns"
              ],
              "example": "assoc"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Optional onboarding events version. If missing or non-numeric, default version is used.",
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "view-type",
            "in": "query",
            "required": false,
            "description": "view-type supports DEFAULT, BY_CLIENT and BY_ATTEMPTS view. DEFAULT view gives consolidated metrics based on every single client onboarding attempt in given time period. BY_CLIENT gives consolidated metrics for all distinct client based on the single connection attempt made most recently or latest connection attempt in the given time period. BY_ATTEMPTS view gives the consolidated metrics by extracting latest or most recent connection attempt made per session from the client.",
            "schema": {
              "type": "string",
              "enum": [
                "DEFAULT",
                "BY_CLIENT",
                "BY_ATTEMPTS"
              ],
              "example": "BY_CLIENT"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OnboardingStageExportResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/client-onboarding-stage/reasons": {
      "get": {
        "tags": [
          "Client Onboarding"
        ],
        "operationId": "getClientOnboardingStageReasonsV1",
        "summary": "Get top onboarding reasons by stage",
        "description": "Retrieves top reasons by onboarding stage for a status. Query params supports kebab-case.",
        "parameters": [
          {
            "name": "start-at",
            "in": "query",
            "required": true,
            "description": "Start timestamp (ISO date format). Must be earlier than end-at. If start-at and end-at are not provided, the default time range is 3 hours.",
            "schema": {
              "type": "string",
              "example": "2026-04-27T14:30:00Z"
            }
          },
          {
            "name": "end-at",
            "in": "query",
            "required": true,
            "description": "End timestamp (ISO date format). Must be later than start-at. If start-at and end-at are not provided, the default time range is 3 hours.",
            "schema": {
              "type": "string",
              "example": "2026-04-29T14:30:00Z"
            }
          },
          {
            "name": "site-id",
            "in": "query",
            "required": false,
            "description": "Optional site identifier. If omitted, tenant-level aggregation is returned.",
            "schema": {
              "type": "string",
              "example": "6985764272"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Optional status selector. Supported values: `FAILED` (stage failed), `DELAY` (successful with latency above threshold). Defaults to `FAILED`.",
            "schema": {
              "type": "string",
              "enum": [
                "FAILED",
                "DELAY",
                "SUCCESS"
              ],
              "example": "FAILED"
            }
          },
          {
            "name": "stage",
            "in": "query",
            "required": false,
            "description": "Optional onboarding stage selector. omit stage to get all supported stages.",
            "schema": {
              "type": "string",
              "enum": [
                "assoc",
                "auth",
                "dhcp",
                "dns"
              ],
              "example": "assoc"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "Optional onboarding events version. If missing or non-numeric, default version is used.",
            "schema": {
              "type": "string",
              "example": "1"
            }
          },
          {
            "name": "view-type",
            "in": "query",
            "required": false,
            "description": "view-type supports DEFAULT, BY_CLIENT and BY_ATTEMPTS view. DEFAULT view gives consolidated metrics based on every single client onboarding attempt in given time period. BY_CLIENT gives consolidated metrics for all distinct client based on the single connection attempt made most recently or latest connection attempt in the given time period. BY_ATTEMPTS view gives the consolidated metrics by extracting latest or most recent connection attempt made per session from the client.",
            "schema": {
              "type": "string",
              "enum": [
                "DEFAULT",
                "BY_CLIENT",
                "BY_ATTEMPTS"
              ],
              "example": "BY_CLIENT"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OnboardingReasonsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BadRequestError": {
        "type": "object",
        "description": "Bad request error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "description": "HTTP status code.",
            "example": 400
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
            ],
            "maxLength": 128,
            "description": "Error code",
            "example": "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "DebugId": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting purposes.",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "Error404": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 404,
            "maximum": 404,
            "example": 404,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "format": "const",
            "maxLength": 32,
            "description": "Internal error code.",
            "example": "HPE_GL_ERROR_NOT_FOUND"
          },
          "message": {
            "type": "string",
            "format": "const",
            "maxLength": 512,
            "description": "Not Found.",
            "example": "Not Found"
          },
          "debugId": {
            "type": "string",
            "format": "const",
            "maxLength": 50,
            "description": "This can be used to help with troubleshooting",
            "example": "abc-123-456"
          }
        }
      },
      "ErrorMessage": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "Error message indicating the cause of the failure.",
        "example": "Error Message"
      },
      "ForbiddenRequest": {
        "type": "object",
        "description": "Forbidden error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": 403,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_FORBIDDEN",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "InternalServerError": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_MONITORING_INTERNAL_SERVER_ERROR"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has a prefix HPE_GL_.* For more details regarding error, please refer to the error message",
            "example": "HPE_GL_NETWORK_MONITORING_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "OnboardingCountData": {
        "type": "object",
        "required": [
          "type",
          "value",
          "field",
          "count",
          "stage"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Computed type in `<FIELD>_<STATUS>_COUNT` form.",
            "example": "TOPCLIENTS_FAILED_COUNT"
          },
          "value": {
            "type": "string",
            "description": "Top grouped value; for example client MAC, AP MAC, band, WLAN, reason, or server IP.",
            "example": "AA:AA:AA:AA:AA:AA"
          },
          "field": {
            "type": "string",
            "description": "Requested grouping field key.",
            "enum": [
              "topclients",
              "topaccessdevices",
              "band",
              "topwlans",
              "topreasons",
              "topservers"
            ]
          },
          "count": {
            "type": "integer",
            "description": "Occurrence count for the grouped value.",
            "example": 42
          },
          "stage": {
            "type": "string",
            "enum": [
              "assoc",
              "auth",
              "dhcp",
              "dns"
            ],
            "example": "auth"
          }
        }
      },
      "OnboardingCountItem": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Stage key.",
            "example": "auth"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnboardingCountData"
            }
          }
        }
      },
      "OnboardingCountResult": {
        "type": "object",
        "required": [
          "id",
          "type",
          "items",
          "count"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Top count response type based on status.",
            "example": "TOP_FAILED_COUNT"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnboardingCountItem"
            }
          },
          "count": {
            "type": "integer",
            "example": 4
          }
        }
      },
      "OnboardingReasonsItem": {
        "type": "object",
        "required": [
          "type",
          "reasons"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Stage name in uppercase.",
            "example": "AUTH"
          },
          "reasons": {
            "type": "array",
            "description": "Top reason values (up to 5) for the stage and status.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OnboardingReasonsResult": {
        "type": "object",
        "required": [
          "id",
          "type",
          "items",
          "count"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "Top reason response type based on status.",
            "example": "TOP_FAILED_REASONS"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnboardingReasonsItem"
            }
          },
          "count": {
            "type": "integer",
            "example": 4
          }
        }
      },
      "OnboardingScoreResult": {
        "type": "object",
        "required": [
          "id",
          "type",
          "items",
          "count"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for this onboarding score response.",
            "example": "onboarding-score"
          },
          "type": {
            "type": "string",
            "description": "The resource type for onboarding score response.",
            "example": "onboarding-score"
          },
          "overallScore": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "Overall score as average of valid stage scores; `-1` when no valid stage score is available.",
            "example": "51.62"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnboardingStageScore"
            },
            "description": "The per-stage onboarding scores."
          },
          "count": {
            "type": "integer",
            "description": "The number of stages returned in `items`.",
            "example": 4
          }
        }
      },
      "OnboardingStageExportData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Bucket type for export details.",
            "enum": [
              "SUMMARY",
              "DELAY",
              "FAILED"
            ],
            "example": "SUMMARY"
          },
          "attempts": {
            "type": "string",
            "description": "Total attempts for the stage."
          },
          "failures": {
            "type": "string",
            "description": "Total failed attempts for the stage."
          },
          "success": {
            "type": "string",
            "description": "Total successful attempts for the stage."
          },
          "delays": {
            "type": "string",
            "description": "Total delayed attempts for the stage."
          },
          "clients": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "accessDevice": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "band": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "wlans": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "topReasons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "authTopServers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dhcpTopServers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dnsTopServers": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "OnboardingStageExportItem": {
        "type": "object",
        "required": [
          "type",
          "data"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Onboarding stage key.",
            "enum": [
              "assoc",
              "auth",
              "dhcp",
              "dns"
            ],
            "example": "auth"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnboardingStageExportData"
            }
          }
        }
      },
      "OnboardingStageExportResult": {
        "type": "object",
        "required": [
          "id",
          "type",
          "items",
          "count"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this stage export response."
          },
          "type": {
            "type": "string",
            "description": "The response resource type.",
            "example": "CLIENT_CONNECTIVITY"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OnboardingStageExportItem"
            }
          },
          "count": {
            "type": "integer",
            "description": "Number of stages returned in items.",
            "example": 4
          },
          "overallSuccessScore": {
            "type": "string",
            "description": "Overall success score across selected scope; `-1` when attempts are unavailable.",
            "example": "77.92"
          }
        }
      },
      "OnboardingStageScore": {
        "type": "object",
        "required": [
          "stage",
          "score",
          "scorePercentage"
        ],
        "properties": {
          "stage": {
            "type": "string",
            "description": "The onboarding stage.",
            "example": "assoc"
          },
          "score": {
            "type": "string",
            "description": "The stage score as a percentage number string; `-1` when unavailable.",
            "example": "77.90"
          },
          "scorePercentage": {
            "type": "string",
            "description": "The stage score percentage display value.",
            "example": "77.90%"
          }
        }
      },
      "TooManyRequest": {
        "type": "object",
        "description": "Too many requests error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": 429,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "description": "Unauthorized error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "description": "HTTP status code.",
            "example": 401
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestError"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden: Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenRequest"
            }
          }
        }
      },
      "InternalServerError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerError"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not Found error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        }
      },
      "OnboardingCountResponse": {
        "description": "Top grouped onboarding counts by stage.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OnboardingCountResult"
            }
          }
        }
      },
      "OnboardingReasonsResponse": {
        "description": "Top onboarding reasons by stage.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OnboardingReasonsResult"
            }
          }
        }
      },
      "OnboardingScoreResponse": {
        "description": "Onboarding score details.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OnboardingScoreResult"
            },
            "examples": {
              "siteLevelSingleStage": {
                "summary": "Site-level score for a single stage",
                "value": {
                  "overallScore": "77.92",
                  "items": [
                    {
                      "stage": "assoc",
                      "score": "77.92",
                      "scorePercentage": "77.92%"
                    }
                  ],
                  "count": 1
                }
              },
              "tenantLevelAllStages": {
                "summary": "Tenant-level score for all default stages",
                "value": {
                  "overallScore": "73.53",
                  "items": [
                    {
                      "stage": "assoc",
                      "score": "82.13",
                      "scorePercentage": "82.13%"
                    },
                    {
                      "stage": "auth",
                      "score": "12.10",
                      "scorePercentage": "12.10%"
                    },
                    {
                      "stage": "dhcp",
                      "score": "99.87",
                      "scorePercentage": "99.87%"
                    },
                    {
                      "stage": "dns",
                      "score": "100.00",
                      "scorePercentage": "100.00%"
                    }
                  ],
                  "count": 4
                }
              },
              "errorResponseShape": {
                "summary": "Error shape returned by resolver when score fetch fails",
                "value": {
                  "overallScore": null,
                  "items": null,
                  "count": null
                }
              }
            }
          }
        }
      },
      "OnboardingStageExportResponse": {
        "description": "Onboarding stage export details.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/OnboardingStageExportResult"
            },
            "examples": {
              "stageExport": {
                "summary": "Stage export response with summary and top delayed/failed groupings",
                "value": {
                  "id": "12345",
                  "type": "CLIENT_CONNECTIVITY",
                  "overallSuccessScore": "77.92",
                  "items": [
                    {
                      "type": "auth",
                      "data": [
                        {
                          "type": "SUMMARY",
                          "attempts": "100",
                          "failures": "9",
                          "success": "80",
                          "delays": "11"
                        },
                        {
                          "type": "DELAY",
                          "clients": [
                            "AA:AA:AA:AA:AA:AA"
                          ],
                          "accessDevice": [
                            "BB:BB:BB:BB:BB:BB"
                          ],
                          "band": [
                            "5"
                          ],
                          "wlans": [
                            "corp-ssid"
                          ],
                          "topReasons": [
                            "AUTH_TIMEOUT"
                          ],
                          "authTopServers": [
                            "10.1.1.10"
                          ]
                        },
                        {
                          "type": "FAILED",
                          "clients": [
                            "AA:AA:AA:AA:AA:AA"
                          ],
                          "accessDevice": [
                            "BB:BB:BB:BB:BB:BB"
                          ],
                          "band": [
                            "2",
                            "5"
                          ],
                          "wlans": [
                            "corp-ssid"
                          ],
                          "topReasons": [
                            "AUTH_TIMEOUT"
                          ],
                          "authTopServers": [
                            "10.1.1.19"
                          ]
                        }
                      ]
                    }
                  ],
                  "count": 1
                }
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequest"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Unauthorized"
            }
          }
        }
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "X-RateLimit-Remaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "X-RateLimit-Reset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      },
      "XRateLimitLimitHeader": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000,
          "description": "The request limit per hour."
        }
      },
      "XRateLimitRemainingHeader": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000,
          "description": "The number of requests left for the time window."
        }
      },
      "XRateLimitResetHeader": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The UTC date/time at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
