{
  "openapi": "3.1.0",
  "info": {
    "title": "Devices",
    "version": "1.0.0",
    "description": "API to retrieve VSX (Virtual Switching Extension) information for switches."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Devices",
      "description": "Device monitoring APIs to get device details and its metrics"
    }
  ],
  "paths": {
    "/network-monitoring/v1/device-inventory": {
      "get": {
        "tags": [
          "Devices"
        ],
        "operationId": "getDeviceInventoryV1",
        "summary": "Get a device inventory list",
        "description": "This API endpoint retrieves a list of network devices that are present in inventory, such as access points, switches, and gateways. The API includes devices yet to be on-boarded, as well as those already on-boarded and currently being monitored by the system. Each device in the returned list includes details like serial number, device name, part number, deployment, device function, scope ID, device group ID, whether the device is provisioned, etc. The query parameters allow you to narrow down the results to devices that meet specific criteria, ensuring you receive only the relevant data.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterDeviceInventory"
          },
          {
            "$ref": "#/components/parameters/SortDeviceInventory"
          },
          {
            "$ref": "#/components/parameters/SiteAssigned"
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Specifies the maximum number of devices returned in the response. Maximum value is 1000.\n",
            "schema": {
              "$ref": "#/components/schemas/Limitdevice"
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\nThe minimum value is 1.",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceInventoryResponseV1"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/devices": {
      "get": {
        "tags": [
          "Devices"
        ],
        "operationId": "getDevicesV1",
        "summary": "Get a list of devices",
        "description": "This API endpoint retrieves a list of network devices that are on-boarded and currently being monitored, such as access points, switches, and gateways, based on the query parameters provided. Each device in the returned list includes details like serial number, MAC address, device name, device type, IP address, status, etc. The query parameters allow you to narrow down the results to devices that meet specific criteria, ensuring you receive only the relevant data.\n\nNotes: The notes field in the response will have a value only when the request is filtered by the site ID or serialNumber.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterDevices"
          },
          {
            "$ref": "#/components/parameters/SortDevices"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Next"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeviceListResponseV1"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/devices/{serial-number}": {
      "delete": {
        "tags": [
          "Devices"
        ],
        "operationId": "deleteUnifiedDeviceV1",
        "summary": "Delete a device by serial number",
        "description": "This API endpoint deletes a network device based on the provided serial number.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumber"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/DeletedDeviceResponseV1"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Devices"
        ],
        "operationId": "updateDeviceNotesV1",
        "summary": "Update device notes by serial number",
        "description": "This API endpoint updates the notes for a network device based on the provided serial number. To delete the notes, please set the notes to empty string. \n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumber"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Request body containing the notes to update for the device.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDeviceNotesRequestV1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UpdateDeviceNotesResponseV1"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BadRequestError": {
        "type": "object",
        "description": "Bad request error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "description": "HTTP status code.",
            "example": 400
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
            ],
            "maxLength": 128,
            "description": "Error code",
            "example": "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "BuildingId": {
        "type": "string",
        "format": "uuid",
        "maxLength": 256,
        "description": "Building ID associated with the device in UUID format. Omitted if no specific building is associated with the device.\n",
        "example": "bld2bd91-de81-4097-8420-3ca7f87450fd"
      },
      "ClusterName": {
        "type": "string",
        "format": "const",
        "maxLength": 256,
        "description": "The name of the cluster to which the device belongs. If the device is not part of any cluster then the cluster name will be null.\n",
        "example": "cluster 1"
      },
      "ConfigLastModifiedAt": {
        "type": "string",
        "format": "date-time",
        "maxLength": 128,
        "description": "An RFC 3339 date-time indicating the last config modified time of the device.\n",
        "example": "2025-03-12T07:20:50.52Z"
      },
      "ConfigStatus": {
        "type": "string",
        "format": "const",
        "maxLength": 256,
        "description": "Config status of the device. Possible values are `Synchronized`, `Out of Sync`, `Update in Progress`, and `Synchronized with Limitations`.\n",
        "example": "Synchronized"
      },
      "Countdevice": {
        "type": "integer",
        "format": "int32",
        "description": "Number of items in the response.\n",
        "example": 1
      },
      "DebugId": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting purposes.",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "Deployment": {
        "type": "string",
        "format": "const",
        "maxLength": 16,
        "description": "The operating mode of the device.\n",
        "example": "Standalone"
      },
      "DeviceFunction": {
        "type": "string",
        "format": "const",
        "maxLength": 20,
        "description": "Device function (persona) of the device.\n",
        "example": "Instant"
      },
      "DeviceGroupId": {
        "type": "string",
        "format": "const",
        "maxLength": 16,
        "description": "DeviceGroupId property represents the unique identifier for the group to which the device belongs. This identifier is used to group devices that share common characteristics or are part of the same operational group, facilitating easier management and monitoring.\n",
        "example": 8100143262
      },
      "DeviceGroupName": {
        "type": "string",
        "format": "const",
        "maxLength": 256,
        "description": "DeviceGroupName represents the name of the group to which the device belongs. This name is used to categorize and manage devices that share common characteristics or are part of the same operational group.\n",
        "example": "AP Persona group"
      },
      "DeviceInventoryResponseV1": {
        "example": {
          "items": [
            {
              "model": "2930M",
              "serialNumber": "SG7BJQL6PD",
              "deviceType": "SWITCH",
              "role": "Conductor",
              "siteId": "8022800",
              "deviceFunction": "-",
              "deviceGroupId": "8100143262",
              "scopeId": "9842216",
              "siteName": "site-12-dec",
              "deviceGroupName": "SWITCH Persona group",
              "firmwareVersion": "WC.16.11.0014",
              "isProvisioned": "Yes",
              "deviceName": "Aruba-Stack-2930M",
              "tier": null,
              "subscriptionKey": "ET45ENIPPEADN9FQ",
              "stackId": "1f00d067-267edc80",
              "type": "network-monitoring/device-monitoring",
              "macAddress": "D0:67:26:7E:DC:80",
              "ipv4": "10.27.113.203",
              "id": "SG7BJQL6PD",
              "deployment": "Stack",
              "status": "OFFLINE",
              "partNumber": "JL320A"
            }
          ],
          "count": 1,
          "total": 4,
          "next": "2"
        },
        "allOf": [
          {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "maxItems": 1000,
                "items": {
                  "type": "object",
                  "required": [
                    "serialNumber",
                    "macAddress",
                    "deviceName",
                    "deviceType",
                    "siteId",
                    "id",
                    "type"
                  ],
                  "properties": {
                    "serialNumber": {
                      "$ref": "#/components/schemas/SerialNumber"
                    },
                    "macAddress": {
                      "$ref": "#/components/schemas/MacAddress"
                    },
                    "deviceName": {
                      "$ref": "#/components/schemas/DeviceName"
                    },
                    "deviceType": {
                      "$ref": "#/components/schemas/DeviceType"
                    },
                    "model": {
                      "$ref": "#/components/schemas/Model"
                    },
                    "partNumber": {
                      "$ref": "#/components/schemas/PartNumber"
                    },
                    "deployment": {
                      "$ref": "#/components/schemas/Deployment"
                    },
                    "role": {
                      "$ref": "#/components/schemas/Role"
                    },
                    "deviceFunction": {
                      "$ref": "#/components/schemas/DeviceFunction"
                    },
                    "firmwareVersion": {
                      "$ref": "#/components/schemas/FirmwareVersion"
                    },
                    "ipv4": {
                      "$ref": "#/components/schemas/IPv4Address"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "deviceGroupId": {
                      "$ref": "#/components/schemas/DeviceGroupId"
                    },
                    "scopeId": {
                      "$ref": "#/components/schemas/ScopeId"
                    },
                    "isProvisioned": {
                      "$ref": "#/components/schemas/IsProvisioned"
                    },
                    "siteId": {
                      "$ref": "#/components/schemas/SiteIDdevice"
                    },
                    "siteName": {
                      "$ref": "#/components/schemas/SiteNamedevice"
                    },
                    "deviceGroupName": {
                      "$ref": "#/components/schemas/DeviceGroupName"
                    },
                    "stackId": {
                      "$ref": "#/components/schemas/StackId"
                    },
                    "tier": {
                      "$ref": "#/components/schemas/Tier"
                    },
                    "subscriptionKey": {
                      "$ref": "#/components/schemas/SubscriptionKey"
                    },
                    "id": {
                      "$ref": "#/components/schemas/IDdevice"
                    },
                    "type": {
                      "$ref": "#/components/schemas/Type"
                    }
                  }
                }
              }
            }
          },
          {
            "$ref": "#/components/schemas/PaginatedResponseV1"
          }
        ]
      },
      "DeviceListResponseV1": {
        "example": {
          "items": [
            {
              "serialNumber": "CMZR001874",
              "macAddress": "bb:5d:11:85:c0:00",
              "deviceName": "ArubaAP",
              "deviceType": "ACCESS_POINT",
              "model": "AP-115",
              "partNumber": "JZ336A",
              "deployment": "Standalone",
              "role": "Conductor",
              "deviceFunction": "Instant",
              "firmwareVersion": "8.5.2.0_59123",
              "ipv4": "114.191.59.254",
              "ipv6": "10.27.119.19",
              "status": "ONLINE",
              "uptimeInMillis": 1702794777,
              "lastSeenAt": null,
              "siteId": "1120972196",
              "buildingId": "1120972196_1",
              "floorId": "1120972196_1_",
              "configStatus": null,
              "configLastModifiedAt": null,
              "siteName": "site-12-dec",
              "clusterName": "cluster 1",
              "notes": "Device is located in Building A, Floor 2",
              "id": "AP00000001",
              "type": "network-monitoring/device-monitoring"
            }
          ],
          "count": 1,
          "total": 4,
          "next": "2"
        },
        "allOf": [
          {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "maxItems": 1000,
                "items": {
                  "$ref": "#/components/schemas/DeviceResponseV1"
                }
              }
            }
          },
          {
            "$ref": "#/components/schemas/PaginatedResponseV1"
          }
        ]
      },
      "DeviceName": {
        "type": "string",
        "format": "const",
        "maxLength": 256,
        "description": "The name of the device.\n",
        "example": "ap_1"
      },
      "DeviceResponseV1": {
        "type": "object",
        "required": [
          "serialNumber",
          "macAddress",
          "deviceName",
          "deviceType",
          "siteId",
          "id",
          "type"
        ],
        "properties": {
          "serialNumber": {
            "$ref": "#/components/schemas/SerialNumber"
          },
          "macAddress": {
            "$ref": "#/components/schemas/MacAddress"
          },
          "deviceName": {
            "$ref": "#/components/schemas/DeviceName"
          },
          "deviceType": {
            "$ref": "#/components/schemas/DeviceType"
          },
          "model": {
            "$ref": "#/components/schemas/Model"
          },
          "partNumber": {
            "$ref": "#/components/schemas/PartNumber"
          },
          "deployment": {
            "$ref": "#/components/schemas/Deployment"
          },
          "role": {
            "$ref": "#/components/schemas/Role"
          },
          "deviceFunction": {
            "$ref": "#/components/schemas/DeviceFunction"
          },
          "firmwareVersion": {
            "$ref": "#/components/schemas/FirmwareVersion"
          },
          "ipv4": {
            "$ref": "#/components/schemas/IPv4Address"
          },
          "ipv6": {
            "$ref": "#/components/schemas/IPv6Address"
          },
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "uptimeInMillis": {
            "$ref": "#/components/schemas/UptimeInMillis"
          },
          "lastSeenAt": {
            "$ref": "#/components/schemas/LastSeenAt"
          },
          "siteId": {
            "$ref": "#/components/schemas/SiteIDdevice"
          },
          "buildingId": {
            "$ref": "#/components/schemas/BuildingId"
          },
          "floorId": {
            "$ref": "#/components/schemas/FloorId"
          },
          "configStatus": {
            "$ref": "#/components/schemas/ConfigStatus"
          },
          "configLastModifiedAt": {
            "$ref": "#/components/schemas/ConfigLastModifiedAt"
          },
          "siteName": {
            "$ref": "#/components/schemas/SiteNamedevice"
          },
          "clusterName": {
            "$ref": "#/components/schemas/ClusterName"
          },
          "notes": {
            "$ref": "#/components/schemas/Notes"
          },
          "id": {
            "$ref": "#/components/schemas/IDdevice"
          },
          "type": {
            "$ref": "#/components/schemas/Type"
          }
        },
        "example": {
          "serialNumber": "CMZR001874",
          "macAddress": "bb:5d:11:85:c0:00",
          "deviceName": "ArubaAP",
          "deviceType": "ACCESS_POINT",
          "model": "AP-115",
          "partNumber": "JZ336A",
          "deployment": "Standalone",
          "role": "Conductor",
          "deviceFunction": "Instant",
          "firmwareVersion": "8.5.2.0_59123",
          "ipv4": "114.191.59.254",
          "ipv6": "10.27.119.19",
          "status": "ONLINE",
          "uptimeInMillis": 1702794777,
          "lastSeenAt": null,
          "siteId": "1120972196",
          "buildingId": "1120972196_1",
          "floorId": "1120972196_1_",
          "configStatus": null,
          "configLastModifiedAt": null,
          "siteName": "site-12-dec",
          "clusterName": "cluster 1",
          "notes": "Device is located in Building A, Floor 2",
          "id": "CMZR001874",
          "type": "network-monitoring/device-monitoring"
        }
      },
      "DeviceType": {
        "type": "string",
        "enum": [
          "ACCESS_POINT",
          "SWITCH",
          "GATEWAY"
        ],
        "description": "The type of network device.\n",
        "example": "ACCESS_POINT"
      },
      "Error404": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 404,
            "maximum": 404,
            "example": 404,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "format": "const",
            "maxLength": 32,
            "description": "Internal error code.",
            "example": "HPE_GL_ERROR_NOT_FOUND"
          },
          "message": {
            "type": "string",
            "format": "const",
            "maxLength": 512,
            "description": "Not Found.",
            "example": "Not Found"
          },
          "debugId": {
            "type": "string",
            "format": "const",
            "maxLength": 50,
            "description": "This can be used to help with troubleshooting",
            "example": "abc-123-456"
          }
        }
      },
      "ErrorMessage": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "Error message indicating the cause of the failure.",
        "example": "Error Message"
      },
      "FirmwareVersion": {
        "type": "string",
        "format": "const",
        "maxLength": 32,
        "description": "Firmware version currently running on the device.\n",
        "example": "8.5.2.0_59123"
      },
      "FloorId": {
        "type": "string",
        "format": "uuid",
        "maxLength": 128,
        "description": "Floor ID associated with the device in UUID format. Omitted if no specific floor is associated with the device.\n",
        "example": "16a-aad7-4070-8a19-fd6b8e1ff012"
      },
      "ForbiddenRequest": {
        "type": "object",
        "description": "Forbidden error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": 403,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_FORBIDDEN",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "IDdevice": {
        "type": "string",
        "format": "const",
        "maxLength": 36,
        "description": "Primary identifier for the resource.\n",
        "example": "AP00000001"
      },
      "IPv4Address": {
        "type": "string",
        "format": "ipv4",
        "maxLength": 15,
        "description": "IPv4 address of the device.\n",
        "example": "198.51.100.42"
      },
      "IPv6Address": {
        "type": "string",
        "format": "ipv6",
        "maxLength": 39,
        "description": "IPv6 address of the device.\n",
        "example": "2001:0db8:85a3:0000:0000:8a2e:0370:7334"
      },
      "InternalServerError": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_MONITORING_INTERNAL_SERVER_ERROR"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has a prefix HPE_GL_.* For more details regarding error, please refer to the error message",
            "example": "HPE_GL_NETWORK_MONITORING_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "IsProvisioned": {
        "type": "string",
        "format": "const",
        "maxLength": 16,
        "description": "IsProvisioned indicates the provisioning state of the device. This property specifies whether the device has been successfully provisioned and is ready for use. For example, a value of `YES` indicates that the device has been provisioned, while a value of `NO` indicates that the device has not been provisioned.\n",
        "example": "YES"
      },
      "LastSeenAt": {
        "type": "string",
        "format": "date-time",
        "maxLength": 128,
        "description": "An RFC 3339 date-time indicating the last detected time of the device in the system. If the device is online, this value will be null.\n",
        "example": "2024-03-12T07:20:50.52Z"
      },
      "Limit": {
        "type": "integer",
        "description": "The maximum number of items to return per page.\n",
        "format": "int32",
        "minimum": 0,
        "maximum": 1000,
        "default": 1000
      },
      "Limitdevice": {
        "type": "integer",
        "format": "int32",
        "default": 20,
        "maximum": 1000,
        "example": 20,
        "description": "Specifies the number of results to be returned"
      },
      "MacAddress": {
        "type": "string",
        "format": "const",
        "maxLength": 18,
        "description": "The device MAC address.\n",
        "example": "11:22:33:44:55:66"
      },
      "Model": {
        "type": "string",
        "format": "const",
        "maxLength": 32,
        "description": "Hardware model of the device.\n",
        "example": "AP-275"
      },
      "Next": {
        "type": "string",
        "description": "Specifies the pagination cursor for the next page of resources.",
        "example": "2"
      },
      "Notes": {
        "type": "string",
        "format": "const",
        "maxLength": 256,
        "description": "Notes for the device. \n",
        "example": "Device is located in Building A, Floor 2"
      },
      "PaginatedResponseV1": {
        "type": "object",
        "required": [
          "count",
          "next"
        ],
        "properties": {
          "count": {
            "$ref": "#/components/schemas/Countdevice"
          },
          "total": {
            "$ref": "#/components/schemas/Totaldevice"
          },
          "next": {
            "type": "string",
            "format": "int32",
            "description": "Indicates the next page number, null if there are no further pages.\n",
            "example": "2"
          }
        }
      },
      "PartNumber": {
        "type": "string",
        "format": "const",
        "maxLength": 12,
        "description": "The part number of the device.\n",
        "example": "JX973A"
      },
      "Role": {
        "type": "string",
        "format": "const",
        "maxLength": 16,
        "description": "Role of the device in the network-topology.\n",
        "example": "Conductor"
      },
      "ScopeId": {
        "type": "string",
        "format": "const",
        "maxLength": 16,
        "description": "ScopeId represents the unique identifier for the asset scope associated with the device. This identifier is used to categorize and manage assets within a specific scope, allowing for better organization and tracking of devices.\n",
        "example": 1296571332
      },
      "SerialNumber": {
        "type": "string",
        "format": "const",
        "maxLength": 16,
        "description": "The device serial number.\n",
        "example": "AP00000001"
      },
      "SiteIDdevice": {
        "type": "string",
        "format": "const",
        "maxLength": 128,
        "description": "ID of the Site in which the device is present.\n",
        "example": "24833497"
      },
      "SiteNamedevice": {
        "type": "string",
        "format": "const",
        "maxLength": 256,
        "description": "SiteName represents the name of the site where the device is located. This name is used to identify and manage devices based on their physical location, allowing for better organization and tracking.\n",
        "example": "site_test_new"
      },
      "Sort": {
        "type": "string",
        "format": "const",
        "maxLength": 256,
        "example": "deviceName,deployment desc"
      },
      "StackId": {
        "type": "string",
        "format": "const",
        "maxLength": 16,
        "description": "StackId represents the unique identifier for the stack to which the device belongs.\n",
        "example": "07009020-c27d1b2"
      },
      "Status": {
        "type": "string",
        "enum": [
          "ONLINE",
          "OFFLINE"
        ],
        "description": "Status of the device, which can be either ONLINE or OFFLINE.\n",
        "example": "ONLINE"
      },
      "SubscriptionKey": {
        "type": "string",
        "format": "const",
        "maxLength": 32,
        "description": "Subscription license key associated with the device.\n",
        "example": "ET45ENIPPEADN9FQ"
      },
      "Tier": {
        "type": "string",
        "format": "const",
        "maxLength": 32,
        "description": "Tier represents the tier of the license associated with the device. This tier indicates the level of features and capabilities that are available for the device based on the license.\n",
        "example": "ADVANCED_SWITCH_6300"
      },
      "TooManyRequest": {
        "type": "object",
        "description": "Too many requests error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": 429,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "Totaldevice": {
        "type": "integer",
        "format": "int64",
        "description": "Specifies the total number of items available for a given filter query.\n",
        "example": 10
      },
      "Type": {
        "type": "string",
        "format": "const",
        "maxLength": 36,
        "description": "The type of the resource.\n",
        "example": "network-monitoring/device-monitoring"
      },
      "Unauthorized": {
        "type": "object",
        "description": "Unauthorized error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "description": "HTTP status code.",
            "example": 401
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "UpdateDeviceNotesData": {
        "type": "object",
        "required": [
          "notes"
        ],
        "properties": {
          "notes": {
            "type": "string",
            "maxLength": 2048,
            "description": "Updated notes for the device. \n",
            "example": "Device is located in Building A, Floor 2"
          }
        },
        "example": {
          "notes": "Device is located in Building A, Floor 2"
        }
      },
      "UpdateDeviceNotesRequestV1": {
        "type": "object",
        "required": [
          "notes"
        ],
        "properties": {
          "notes": {
            "type": "string",
            "maxLength": 256,
            "description": "Notes to be updated for the device. This field contains user-provided notes. \n",
            "example": "Device is located in Building A, Floor 2"
          }
        }
      },
      "UptimeInMillis": {
        "type": "number",
        "format": "double",
        "minimum": 0,
        "maximum": 9223372036854776000,
        "description": "Elapsed time in milliseconds since the device's last boot. This value will be null if the device is offline.\n",
        "example": 1702794777
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestError"
            }
          }
        }
      },
      "DeletedDeviceResponseV1": {
        "description": "Details of a deleted device, including Access Point or Switch or Gateway.\n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          },
          "Location": {
            "description": "The URL of the resource that was deleted or the resource that will be available.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeviceResponseV1"
            }
          }
        }
      },
      "DeviceInventoryResponseV1": {
        "description": "List of network devices, including Access Points, Switches, and Gateways from device inventory, along with their details and associated pagination information.\n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeviceInventoryResponseV1"
            }
          }
        }
      },
      "DeviceListResponseV1": {
        "description": "List of network devices, including Access Points, Switches, and Gateways, along with their details and associated pagination information.\n",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DeviceListResponseV1"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden: Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenRequest"
            }
          }
        }
      },
      "InternalServerError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerError"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not Found error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimitHeader"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemainingHeader"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitResetHeader"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequest"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Unauthorized"
            }
          }
        }
      },
      "UpdateDeviceNotesResponseV1": {
        "description": "Response containing the updated device notes.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UpdateDeviceNotesData"
            }
          }
        }
      }
    },
    "parameters": {
      "FilterDeviceInventory": {
        "name": "filter",
        "in": "query",
        "required": false,
        "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction; ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n| Field | Operators |\n| --------- | -------- |\n| `siteId` | `eq` and `in` |\n| `siteName` | `eq` and `in` |\n| `serialNumber` | `eq` and `in` |\n| `deviceName` | `eq` and `in` |\n| `deviceType` | `eq` and `in` |\n| `model` | `eq` and `in` |\n| `firmwareVersion` | `eq` and `in` |\n| `deviceFunction` | `eq` and `in` |\n| `isProvisioned` | `eq` and `in` |\n| `deviceGroupName` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n",
        "example": "siteId eq '12345' and deployment in ('Standalone', 'Virtual Controller')",
        "schema": {
          "type": "string",
          "format": "const",
          "maxLength": 256
        }
      },
      "FilterDevices": {
        "name": "filter",
        "in": "query",
        "required": false,
        "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction; ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n| Field | Operators |\n| --------- | -------- |\n| `siteId` | `eq` and `in` |\n| `siteName` | `eq` and `in` |\n| `serialNumber` | `eq` and `in` |\n| `deviceName` | `eq` and `in` |\n| `deviceType` | `eq` and `in` |\n| `status` | `eq` and `in` |\n| `model` | `eq` and `in` |\n| `firmwareVersion` | `eq` and `in` |\n| `deployment` | `eq` and `in` |\n| `clusterName` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n",
        "example": "siteId eq '12345' and deployment in ('Standalone', 'Virtual Controller')",
        "schema": {
          "type": "string",
          "format": "const",
          "maxLength": 256
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Specifies the maximum number of devices returned in the response. Maximum value is 1000.\n\n",
        "schema": {
          "$ref": "#/components/schemas/Limit"
        }
      },
      "Next": {
        "name": "next",
        "in": "query",
        "required": false,
        "description": "Specifies the pagination cursor for the next page of resources.\nThe minimum value is 1.\n",
        "schema": {
          "$ref": "#/components/schemas/Next"
        }
      },
      "SerialNumber": {
        "name": "serial-number",
        "in": "path",
        "required": true,
        "description": "The serial number of the device.\n",
        "schema": {
          "$ref": "#/components/schemas/SerialNumber"
        }
      },
      "SiteAssigned": {
        "name": "site-assigned",
        "required": false,
        "in": "query",
        "description": "Specifies the site assignment status of the devices. Can be either \"ASSIGNED\" or \"UNASSIGNED\".\n",
        "schema": {
          "type": "string",
          "enum": [
            "ASSIGNED",
            "UNASSIGNED"
          ]
        }
      },
      "SortDeviceInventory": {
        "name": "sort",
        "in": "query",
        "required": false,
        "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\nSupported fields are `siteId`, `siteName`, `serialNumber`, `deviceName`, `macAddress`, `deviceType`, `ipv4`, `model`, `deviceGroupName`, and `deviceFunction`.\n",
        "schema": {
          "$ref": "#/components/schemas/Sort"
        }
      },
      "SortDevices": {
        "name": "sort",
        "in": "query",
        "required": false,
        "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\nSupported fields are `siteId`, `siteName`, `serialNumber`, `deviceName`, `deployment`, and `model`.\n",
        "schema": {
          "$ref": "#/components/schemas/Sort"
        }
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "X-RateLimit-Remaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "X-RateLimit-Reset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      },
      "XRateLimitLimit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "XRateLimitLimitHeader": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000,
          "description": "The request limit per hour."
        }
      },
      "XRateLimitRemaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "XRateLimitRemainingHeader": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000,
          "description": "The number of requests left for the time window."
        }
      },
      "XRateLimitReset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      },
      "XRateLimitResetHeader": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The UTC date/time at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
