{
  "openapi": "3.1.0",
  "info": {
    "title": "FloorPlan",
    "version": "1.0.0",
    "description": "API to retrieve VSX (Virtual Switching Extension) information for switches."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "FloorPlan",
      "description": "FloorPlan Manager APIs to get details about FloorMap and entities placed on FloorMap"
    }
  ],
  "paths": {
    "/network-monitoring/v1/catalogue-aps": {
      "get": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [],
        "description": "Returns a list of  device (AP) specification  for planning.",
        "summary": "Retrieves  device specification for all models",
        "operationId": "getCatalogueV1",
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Returns a list of device with their specification.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogueAps"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps-summary/{site-id}": {
      "get": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the site for which the device-related information is requested.",
            "schema": {
              "$ref": "#/components/schemas/siteIdlocation"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "description": "An OData 4.0 filter can be provided with `floorId` (`in` operator must be used ).\n",
            "schema": {
              "$ref": "#/components/schemas/Filter"
            }
          }
        ],
        "summary": "Site devices summary",
        "description": "This API provides a list of non-associated and non-deployed APs for a site. The summary for the site and a specific floor can also be obtained by passing the floor ID of that specific floor.",
        "operationId": "getSummaryV1",
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Returns summary of devices associated with the site.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/sites": {
      "get": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "An OData 4.0 filter can be provided with `hasFloors` (use `eq` operator, e.g. `hasFloors eq false`). Default value is `true`. When `hasFloors eq true`, returns sites that have floors. When `hasFloors eq false`, returns sites without floors.\n",
            "schema": {
              "$ref": "#/components/schemas/hasFloorFilter"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/limitlocation"
            }
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/offsetlocation"
            }
          }
        ],
        "summary": "Retrieve sites with or without floor configuration",
        "description": "This API provides a list of sites that have floors configured or sites that do not have any floors configured.",
        "operationId": "listSitemapSitesV1",
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Returns List of Sites with or without floor information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SitesSummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/buildings": {
      "parameters": [
        {
          "name": "site-id",
          "in": "path",
          "required": true,
          "description": "Id of the site for which the building related information is requested.",
          "schema": {
            "$ref": "#/components/schemas/siteIdlocation"
          }
        }
      ],
      "get": {
        "tags": [
          "FloorPlan"
        ],
        "summary": "Retrieve building information",
        "description": "This API provides building and floor information created under a given site.",
        "operationId": "getBuildingsV1",
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Returns the Building information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingWithFloorsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/buildings/{building-id}": {
      "parameters": [
        {
          "name": "site-id",
          "in": "path",
          "required": true,
          "description": "Id of the site where device/FloorPlan is present.",
          "schema": {
            "$ref": "#/components/schemas/siteIdlocation"
          }
        },
        {
          "name": "building-id",
          "in": "path",
          "required": true,
          "description": "Id of the building for which the map related information is requested.",
          "schema": {
            "$ref": "#/components/schemas/uuId"
          }
        }
      ],
      "put": {
        "tags": [
          "FloorPlan"
        ],
        "operationId": "updateBuildingV1",
        "description": "This API is used to update name of a building",
        "summary": "Update Building",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "buildingInput": {
                    "$ref": "#/components/schemas/BuildingInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Building successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuildingResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "FloorPlan"
        ],
        "operationId": "removeBuildingV1",
        "description": "This API is used to remove a building and floors under this building. This action also removes floor entities such as devices, walls, region, boundary",
        "summary": "Remove Building",
        "responses": {
          "204": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Building successfully deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/floors": {
      "parameters": [
        {
          "name": "site-id",
          "in": "path",
          "required": true,
          "description": "Id of the site where device/FloorPlan is present.",
          "schema": {
            "$ref": "#/components/schemas/siteIdlocation"
          }
        }
      ],
      "post": {
        "tags": [
          "FloorPlan"
        ],
        "operationId": "createFloorV1",
        "description": "This API is Used to create a new floor with `FloorMapInput` information. Optionally, pass `buildingId` to create a floor under a specific building. <br> Use the `scale` API to scale the floor after creation",
        "summary": "Create New Floor",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "select png jpg pdf bmp gif file to create a floor"
                  },
                  "buildingId": {
                    "type": "string",
                    "maxLength": 128,
                    "description": "Id of the building in which floor will be created\n",
                    "example": "a97695c-a119-45f0-b6ea-a30a83931"
                  },
                  "buildingName": {
                    "type": "string",
                    "maxLength": 32,
                    "description": "Name of the building in which floor will be created.\n",
                    "example": "Brooke"
                  },
                  "ceilingHeight": {
                    "type": "number",
                    "maxLength": 128,
                    "format": "double",
                    "description": "CeilingHeight of the floor.\n",
                    "example": "12.2"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 32,
                    "format": "string",
                    "description": "Name of the floor.\n",
                    "example": "Floor 1"
                  },
                  "ordinal": {
                    "type": "number",
                    "maxLength": 32,
                    "format": "double",
                    "description": "FloorNumber.\n",
                    "example": "1.1"
                  },
                  "buildingAddress": {
                    "type": "object",
                    "description": "Complete address of the building.\n",
                    "properties": {
                      "address": {
                        "type": "string",
                        "maxLength": 128,
                        "description": "Address of the building in which floor will be created.\n",
                        "example": "123 Main St"
                      },
                      "city": {
                        "type": "string",
                        "maxLength": 32,
                        "description": "City of the building in which floor will be created.\n",
                        "example": "New York"
                      },
                      "state": {
                        "type": "string",
                        "maxLength": 32,
                        "description": "State of the building in which floor will be created.\n",
                        "example": "NY"
                      },
                      "country": {
                        "type": "string",
                        "maxLength": 32,
                        "description": "Country of the building in which floor will be created.\n",
                        "example": "USA"
                      },
                      "zipcode": {
                        "type": "string",
                        "maxLength": 8,
                        "description": "Zipcode of the building in which floor will be created.\n",
                        "example": "641034"
                      }
                    }
                  },
                  "buildingType": {
                    "type": "string",
                    "enum": [
                      "WAREHOUSE",
                      "OFFICE",
                      "PUBLIC_SPACE"
                    ],
                    "description": "Type of the building in which floor will be created.\n",
                    "example": "OFFICE"
                  },
                  "buildingCoordinates": {
                    "type": "array",
                    "items": {
                      "type": "number",
                      "format": "double"
                    },
                    "minItems": 2,
                    "maxItems": 2,
                    "description": "Coordinates of the building: [longitude, latitude].",
                    "example": [
                      -73.9813448917468,
                      40.75249839381482
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Success response for FloorMap creation with FloorMap information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorMapResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/floors/{floor-id}": {
      "parameters": [
        {
          "name": "site-id",
          "in": "path",
          "required": true,
          "description": "Id of the site where device/FloorPlan is present.",
          "schema": {
            "$ref": "#/components/schemas/siteIdlocation"
          }
        },
        {
          "name": "floor-id",
          "in": "path",
          "required": true,
          "description": "Id of the floor for which the map related information is requested.",
          "schema": {
            "$ref": "#/components/schemas/uuId"
          }
        }
      ],
      "get": {
        "tags": [
          "FloorPlan"
        ],
        "summary": "Retrieve FloorMap information",
        "description": "This API provides FloorMap information which includes floorImage as well",
        "operationId": "getFloorMapV1",
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Returns the FloorMap information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorMapResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "FloorPlan"
        ],
        "operationId": "updateFloormapV1",
        "description": "This API is used to update FloorMap information. It also supports moving a floor from one building to another",
        "summary": "Update FloorMap",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "floorMapInput": {
                    "$ref": "#/components/schemas/FloorMapInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "FloorMap information updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorMapResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "FloorPlan"
        ],
        "operationId": "removefloorV1",
        "description": "This API is used to remove a floor from a building using `floorId`.After removing a floor, if building has no floors building also will be removed from site",
        "summary": "Remove floor from a building",
        "responses": {
          "204": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Successfully deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/floors/{floor-id}/image": {
      "parameters": [
        {
          "name": "site-id",
          "in": "path",
          "required": true,
          "description": "Id of the site where device/FloorPlan is present.",
          "schema": {
            "$ref": "#/components/schemas/siteIdlocation"
          }
        },
        {
          "name": "floor-id",
          "in": "path",
          "required": true,
          "description": "Id of the floor for which the map related information is requested.",
          "schema": {
            "$ref": "#/components/schemas/uuId"
          }
        }
      ],
      "get": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [
          {
            "name": "raster",
            "in": "query",
            "required": true,
            "description": "Controls which image variant is returned.\n\n- `true` — Returns a **raster (bitmap) rendering** of the floor map **always as PNG** (`Content-Type: image/png`), regardless of the original upload format. \n- `false` — Returns the **original uploaded file** in its native format. Check the `Content-Type` header, which will be one of: `image/png`, `image/jpeg`, or `image/svg+xml`.",
            "schema": {
              "type": "boolean",
              "example": true
            }
          }
        ],
        "operationId": "getFloorMapImageV1",
        "summary": "Retrieve Floor Map Image",
        "description": "Retrieves the background image associated with a specific floor within a site.\n\nThe image is returned as a **binary stream**. Callers must inspect the `Content-Type` response header to determine the exact image format before processing or displaying the image.\n\n### Supported Output Formats\n\n- **`image/png` (Binary)** — Always returned when `raster=true`; also returned when the original upload was a PNG file\n- **`image/jpeg` (Binary)** — Returned when `raster=false` and the original upload was a JPEG file  \n- **`image/svg+xml` (UTF-8 XML)** — Returned when `raster=false` and the original upload was an SVG file",
        "responses": {
          "200": {
            "description": "Floor map image has been fetched for a given floor.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Raw PNG image bytes."
                }
              },
              "image/jpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Raw JPEG image bytes."
                }
              },
              "image/svg+xml": {
                "schema": {
                  "type": "string",
                  "description": "UTF-8 encoded SVG XML text document representing the floor map. SVG preserves full vector fidelity and can be scaled without quality loss."
                },
                "example": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><svg xmlns=\"http://www.w3.org/2000/svg\" width=\"800\" height=\"600\" viewBox=\"0 0 800 600\"><rect x=\"0\" y=\"0\" width=\"800\" height=\"600\" fill=\"#f0f0f0\"/><path d=\"M 100 100 L 700 100 L 700 500 L 100 500 Z\" stroke=\"black\" fill=\"none\"/></svg>"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "FloorPlan"
        ],
        "operationId": "replaceimageV1",
        "description": "This API is used to update floor background image. After calling this API, you must also call 'scale' API to update floor measurement with respect to the new image",
        "summary": "Update Floor Image",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "select png jpg pdf bmp gif file to replace a floor image"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Image has been replaced for a given FloorMap.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorMapResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/floors/{floor-id}/scale": {
      "parameters": [
        {
          "name": "site-id",
          "in": "path",
          "required": true,
          "description": "Id of the site where device/FloorPlan is present.",
          "schema": {
            "$ref": "#/components/schemas/siteIdlocation"
          }
        },
        {
          "name": "floor-id",
          "in": "path",
          "required": true,
          "description": "Id of the floor for which the map related information is requested.",
          "schema": {
            "$ref": "#/components/schemas/uuId"
          }
        }
      ],
      "post": {
        "tags": [
          "FloorPlan"
        ],
        "operationId": "scaleFloorMapV1",
        "description": "This API is used to scale FloorMap. There are 2 ways. Using `AnchorGeometry` is one way, and using `from` , 'to' and `distance` is another way to scale floor. At least one of input must be present",
        "summary": "Scale FloorMap",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "floorMapScaleInput": {
                    "$ref": "#/components/schemas/FloorMapScaleInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "FloorMap has been successfully scaled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FloorMapResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/floors/{floor-id}/walls": {
      "get": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site-id",
            "description": "Id of a site where walls are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/siteIdlocation"
            }
          },
          {
            "in": "path",
            "name": "floor-id",
            "description": "Id of a floor where walls are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/uuId"
            }
          }
        ],
        "description": "This API is used to return all the walls which are drawn on the floor",
        "summary": "Retrieve Walls",
        "operationId": "getWallsV1",
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Returns list of walls drawn on the FloorMap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Walls"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site-id",
            "description": "Id of a site where walls are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/siteIdlocation"
            }
          },
          {
            "in": "path",
            "name": "floor-id",
            "description": "Id of a floor where walls are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/uuId"
            }
          }
        ],
        "operationId": "updateWallsV1",
        "summary": "Update Walls.",
        "description": "This API is used to update walls for a floor. returns a response indicating the success or failure of the operation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "maxLength": 128,
                          "description": "wall id associated with the floor in UUID format.",
                          "example": "16a-aad7-4070-8a19-fd6b8e1ff012"
                        },
                        "wallTypeId": {
                          "type": "string",
                          "maxLength": 128,
                          "format": "const",
                          "description": "wall type id associated with the customer in readable format.",
                          "example": "dry-wall"
                        },
                        "geometryRelative": {
                          "type": "array",
                          "maxItems": 200,
                          "items": {
                            "type": "array",
                            "maxItems": 200,
                            "items": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 9223372036854776000,
                              "format": "double",
                              "description": "cartesian coordinates on FloorMap"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Updated walls successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverlayResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site-id",
            "description": "Id of a site where walls are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/siteIdlocation"
            }
          },
          {
            "in": "path",
            "name": "floor-id",
            "description": "Id of a floor where walls are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/uuId"
            }
          }
        ],
        "operationId": "createWallsV1",
        "description": "This API is used to create walls on the floor",
        "summary": "Create Wall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "maxLength": 128,
                          "description": "wall id associated with the floor in UUID format.",
                          "example": "16a-aad7-4070-8a19-fd6b8e1ff012"
                        },
                        "wallTypeId": {
                          "type": "string",
                          "maxLength": 128,
                          "format": "const",
                          "description": "walltype Id associated with the customer in readable format.",
                          "example": "dry-wall"
                        },
                        "geometryRelative": {
                          "type": "array",
                          "maxItems": 200,
                          "items": {
                            "type": "array",
                            "maxItems": 200,
                            "items": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 9223372036854776000,
                              "format": "double",
                              "description": "cartesian coordinates on FloorMap"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Created wall types successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverlayResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site-id",
            "description": "Id of a site where walls are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/siteIdlocation"
            }
          },
          {
            "in": "path",
            "name": "floor-id",
            "description": "Id of a floor where walls are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/uuId"
            }
          }
        ],
        "operationId": "deleteWallsV1",
        "summary": "Delete Walls.",
        "description": "This API is used to delete walls for a floor. Returns a response indicating the success or failure of the operation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/uuId"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Successfully deleted walls"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/floors/{floor-id}/zones": {
      "get": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site-id",
            "description": "Id of a site where zones are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/siteIdlocation"
            }
          },
          {
            "in": "path",
            "name": "floor-id",
            "description": "Id of a floor where zones are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/uuId"
            }
          }
        ],
        "description": "This API is used to retrieve list of zones for a floor.",
        "summary": "Retrieves Zones",
        "operationId": "getZonesV1",
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Returns zones based on the provided site id and floor id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Zones"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "put": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site-id",
            "description": "Id of a site where walls are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/siteIdlocation"
            }
          },
          {
            "in": "path",
            "name": "floor-id",
            "description": "Id of a floor where walls are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/uuId"
            }
          }
        ],
        "operationId": "updateZonesV1",
        "summary": "Update zones",
        "description": "Update zones for a given floor and list of walls points. returns a response indicating the success or failure of the operation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "maxLength": 128,
                          "description": "zone ID associated with the floor in UUID format.",
                          "example": "16a-aad7-4070-8a19-fd6b8e1ff012"
                        },
                        "zoneName": {
                          "type": "string",
                          "maxLength": 128,
                          "format": "const",
                          "description": "zone name associated with the zone in readable format.",
                          "example": "hall"
                        },
                        "zoneType": {
                          "type": "string",
                          "enum": [
                            "INCLUSION",
                            "EXCLUSION"
                          ]
                        },
                        "geometryRelative": {
                          "type": "array",
                          "maxItems": 200,
                          "items": {
                            "type": "array",
                            "maxItems": 200,
                            "items": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 9223372036854776000,
                              "format": "double",
                              "description": "cartesian coordinates on FloorMap"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Updated zones successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverlayResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site-id",
            "description": "Id of a site where zones are associated.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/siteIdlocation"
            }
          },
          {
            "in": "path",
            "name": "floor-id",
            "description": "Id of a floor where zones are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/uuId"
            }
          }
        ],
        "operationId": "createZonesV1",
        "summary": "Create zone",
        "description": "Create zones on the floor, returns a response indicating the success or failure of the operation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "maxLength": 128,
                          "description": "zone ID associated with the floor in UUID format.",
                          "example": "16a-aad7-4070-8a19-fd6b8e1ff012"
                        },
                        "zoneName": {
                          "type": "string",
                          "maxLength": 128,
                          "format": "const",
                          "description": "zone name associated with the zone in readable format.",
                          "example": "hall"
                        },
                        "zoneType": {
                          "type": "string",
                          "enum": [
                            "INCLUSION",
                            "EXCLUSION"
                          ]
                        },
                        "geometryRelative": {
                          "type": "array",
                          "maxItems": 200,
                          "items": {
                            "type": "array",
                            "maxItems": 200,
                            "items": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 9223372036854776000,
                              "format": "double",
                              "description": "cartesian coordinates on FloorMap"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Created zones successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OverlayResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "site-id",
            "description": "Id of a site where walls are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/siteIdlocation"
            }
          },
          {
            "in": "path",
            "name": "floor-id",
            "description": "Id of a floor where walls are associated",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/uuId"
            }
          }
        ],
        "operationId": "deleteZonesV1",
        "summary": "Delete zones",
        "description": "Delete zones for a given floor. Returns a response indicating the success or failure of the operation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/uuId"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Successfully deleted zones"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/import": {
      "parameters": [
        {
          "name": "site-id",
          "in": "path",
          "required": true,
          "description": "Id of the site where device/FloorPlan is present.",
          "schema": {
            "$ref": "#/components/schemas/siteIdlocation"
          }
        }
      ],
      "post": {
        "tags": [
          "FloorPlan"
        ],
        "operationId": "importfloorsV1",
        "description": "This API is used to import floors using third-party / central / airwave files (supported files are zip and .esx)",
        "summary": "Import FloorPlans using zip file",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "select zip or esx file to begin import"
                  },
                  "importLevel": {
                    "type": "string",
                    "enum": [
                      "SITE",
                      "BUILDING",
                      "FLOOR"
                    ]
                  },
                  "siteName": {
                    "type": "string",
                    "format": "string",
                    "description": "name of the site in which import will be triggered"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Import request has been accepted for a given site.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/import/{id}": {
      "parameters": [
        {
          "name": "site-id",
          "in": "path",
          "required": true,
          "description": "Id of the site where device/FloorPlan is present.",
          "schema": {
            "$ref": "#/components/schemas/siteIdlocation"
          }
        },
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Id of the import for which the import related information is requested.",
          "schema": {
            "$ref": "#/components/schemas/uuId"
          }
        }
      ],
      "get": {
        "tags": [
          "FloorPlan"
        ],
        "summary": "Retrieve Import Status",
        "description": "This API provides import status for a given site",
        "operationId": "getImportStatusV1",
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Returns the import status information for a given site.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/network-devices-assigned": {
      "parameters": [
        {
          "name": "site-id",
          "in": "path",
          "required": true,
          "description": "The ID of the site where the device/FloorPlan is present.",
          "schema": {
            "$ref": "#/components/schemas/siteIdlocation"
          }
        }
      ],
      "get": {
        "tags": [
          "FloorPlan"
        ],
        "summary": "Retrieves assigned devices",
        "description": "Devices that have been assigned to the floor are returned. Devices that have been placed on the floor are not included in the result",
        "operationId": "getAssociatedDevicesV1",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "description": "An OData 4.0 filter must be provided with at least `floorId`. Other supported fields are  `types` (`in` operator must be used ), `mac`, `serial`, `name`\n",
            "schema": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/LimitParam"
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NextParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the assigned devices for the FloorMap.\n",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssignedAps"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "FloorPlan"
        ],
        "operationId": "changeDeviceAssignmentV1",
        "description": "This API is used to assign/unassign devices to the FloorPlan. Only devices that are in the unassigned state are eligible for assignment",
        "summary": "Assign/Unassign devices to the FloorPlan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceAssignment": {
                    "type": "object",
                    "properties": {
                      "floorId": {
                        "$ref": "#/components/schemas/uuId"
                      },
                      "assignSerials": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                          "type": "string",
                          "format": "const",
                          "maxLength": 16,
                          "description": "Device serial number.\n",
                          "example": "AP00000001"
                        }
                      },
                      "unassignSerials": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                          "type": "string",
                          "format": "const",
                          "maxLength": 16,
                          "description": "Device serial number.\n",
                          "example": "AP00000001"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Devices assigned/unassigned from the FloorMap.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceassignmentPost"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/network-devices-deployed": {
      "parameters": [
        {
          "name": "site-id",
          "in": "path",
          "required": true,
          "description": "The ID of the site where the device/FloorPlan is present.",
          "schema": {
            "$ref": "#/components/schemas/siteIdlocation"
          }
        }
      ],
      "get": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "description": "An OData 4.0 filter must be provided with at least `floorId` or `buildingId`. Other supported fields are ``types` (`in` operator must be used ), `name`, `model` and `serial`.\n",
            "schema": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/LimitParam"
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NextParam"
            }
          }
        ],
        "summary": "Retrieves placed devices over the FloorMap",
        "description": "A list of placed devices on the FloorMap is returned. Currently, geoMetry is not supported; only x and y are returned in meters in geometryRelative.",
        "operationId": "getPlacedDevicesV1",
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Returns a list of placed devices on the FloorMap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlacedDeviceResponseObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "FloorPlan"
        ],
        "operationId": "placeDevicesOnFloorV1",
        "description": "This API is utilized to position the devices on a **FloorMap** for a specific floor ID. <br>The devices are required to be assigned to the floor before being placed. GeometryRelative should be in meters in this version.",
        "summary": "Place devices over the FloorMap",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "devicesOnFloor": {
                    "type": "array",
                    "maxItems": 9999,
                    "items": {
                      "type": "object",
                      "properties": {
                        "floorId": {
                          "type": "string",
                          "maxLength": 128,
                          "description": "Floor Id associated with the device in UUID format.\n",
                          "example": "16a-aad7-4070-8a19-fd6b8e1ff012"
                        },
                        "devices": {
                          "type": "array",
                          "maxItems": 9999,
                          "items": {
                            "type": "object",
                            "properties": {
                              "deviceType": {
                                "type": "string",
                                "enum": [
                                  "ACCESSPOINT",
                                  "SWITCH",
                                  "GATEWAY",
                                  "ALL"
                                ]
                              },
                              "serial": {
                                "type": "string",
                                "format": "const",
                                "maxLength": 16,
                                "description": "The device serial number.\n",
                                "example": "AP00000001"
                              },
                              "isAnchor": {
                                "type": "boolean",
                                "format": "const",
                                "maxLength": 16,
                                "example": true
                              },
                              "locationSource": {
                                "type": "string",
                                "enum": [
                                  "MANUAL",
                                  "AUTOLOCATE",
                                  "UNKNOWN"
                                ]
                              },
                              "geometryRelative": {
                                "type": "array",
                                "description": "A list of x and y in the same order.\n",
                                "maxItems": 2,
                                "minItems": 2,
                                "items": {
                                  "type": "number",
                                  "format": "double",
                                  "minimum": 0,
                                  "maximum": 2000
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Placed the devices over the FloorMap successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceplacementPost"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/network-devices-planned": {
      "parameters": [
        {
          "name": "site-id",
          "in": "path",
          "required": true,
          "description": "The ID of the site where the device/FloorPlan is present.",
          "schema": {
            "$ref": "#/components/schemas/siteIdlocation"
          }
        }
      ],
      "get": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": true,
            "description": "OData 4.0 filter must be provided with at least `floorId`.\n",
            "schema": {
              "$ref": "#/components/schemas/Filter"
            }
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/LimitParam"
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/NextParam"
            }
          }
        ],
        "summary": "Retrieves placed (planned) devices",
        "description": "Returns list of placed (planned) devices on the FloorMap. Devices which are placed on the floor has location coordinates (x,y). those x and y are returned in meters in the response",
        "operationId": "getPlacedPlannedDevicesV1",
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Returns list of placed planned devices on the FloorMap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlannedDeviceResponseObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "post": {
        "tags": [
          "FloorPlan"
        ],
        "operationId": "placePlannedDevicesOnFloorV1",
        "description": "The planned devices are to be placed on the FloorMap for a specific floorId, with geometryRelative specified in meters.",
        "summary": "Place planned devices",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "devicesOnFloor": {
                    "type": "array",
                    "maxItems": 9999,
                    "items": {
                      "type": "object",
                      "properties": {
                        "floorId": {
                          "type": "string",
                          "maxLength": 128,
                          "description": "Floor Id associated with the device in UUID format.\n",
                          "example": "16a-aad7-4070-8a19-fd6b8e1ff012"
                        },
                        "devices": {
                          "type": "array",
                          "maxItems": 9999,
                          "items": {
                            "type": "object",
                            "properties": {
                              "deviceType": {
                                "type": "string",
                                "enum": [
                                  "ACCESSPOINT"
                                ]
                              },
                              "deviceStatus": {
                                "type": "string",
                                "enum": [
                                  "PLANNED"
                                ]
                              },
                              "id": {
                                "type": "string",
                                "format": "const",
                                "maxLength": 16,
                                "description": "Planned Device identification number.\n",
                                "example": "16a-aad7-4070-8a19-fd6b8e1ff012"
                              },
                              "locationSource": {
                                "type": "string",
                                "enum": [
                                  "MANUAL",
                                  "AUTOLOCATE",
                                  "UNKNOWN"
                                ]
                              },
                              "geometryRelative": {
                                "type": "array",
                                "description": "A list of x and y in the same order.\n",
                                "maxItems": 2,
                                "minItems": 2,
                                "items": {
                                  "type": "number",
                                  "format": "double",
                                  "minimum": 0,
                                  "maximum": 2000
                                }
                              },
                              "properties": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "format": "const",
                                    "maxLength": 16,
                                    "description": "Planned Device name.\n",
                                    "example": "FirstFloor Ap 650"
                                  },
                                  "model": {
                                    "type": "string",
                                    "format": "const",
                                    "maxLength": 16,
                                    "description": "Planned Device Model.\n",
                                    "example": "AP-635"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Placed planned devices over the FloorMap successfully.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceplacementPost"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      },
      "delete": {
        "tags": [
          "FloorPlan"
        ],
        "operationId": "removePlannedDevicesOnFloorV1",
        "description": "This API is to remove planned devices on the FloorMap.",
        "summary": "Remove planned devices on the FloorMap",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "Id of the site where device/FloorPlan is present.",
            "schema": {
              "$ref": "#/components/schemas/siteIdlocation"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "removeDevices": {
                    "type": "object",
                    "maxItems": 9999,
                    "properties": {
                      "floorId": {
                        "format": "string",
                        "maxLength": 128,
                        "description": "Floor Id associated with the device in UUID format.\n",
                        "example": "16a-aad7-4070-8a19-fd6b8e1ff012"
                      },
                      "devices": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                          "format": "const",
                          "maxLength": 128,
                          "description": "Planned device Id.\n",
                          "example": "16a-aad7-4070-8a19-fd6b8e1ff012"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Successfully deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveDeviceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sitemaps/{site-id}/network-devices-undeploy": {
      "post": {
        "tags": [
          "FloorPlan"
        ],
        "operationId": "removeDevicesOnFloorV1",
        "description": "This API removes devices from the FloorMap without disassociating them from the floor.",
        "summary": "Remove devices from the FloorMap",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "The ID of the site where the device/FloorPlan is present.",
            "schema": {
              "$ref": "#/components/schemas/siteIdlocation"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "removeDevices": {
                    "type": "object",
                    "maxItems": 9999,
                    "properties": {
                      "floorId": {
                        "format": "string",
                        "maxLength": 128,
                        "description": "Floor Id associated with the device in UUID format.\n",
                        "example": "16a-aad7-4070-8a19-fd6b8e1ff012"
                      },
                      "devices": {
                        "type": "array",
                        "maxItems": 9999,
                        "items": {
                          "format": "const",
                          "maxLength": 16,
                          "description": "Device serial number.\n",
                          "example": "AP00000001"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Removed the device location from the FloorMap. The assignment status will be maintained.\n",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveDeviceResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/wall-types": {
      "get": {
        "tags": [
          "FloorPlan"
        ],
        "parameters": [],
        "description": "Returns a list of wall types, including both standard walls and custom walls.",
        "summary": "Retrieve Wall Types",
        "operationId": "getWallTypesV1",
        "responses": {
          "200": {
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/XRateLimitLimitHeaderlocation"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/XRateLimitRemainingHeaderlocation"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/XRateLimitResetHeader"
              }
            },
            "description": "Returns a list of wall types for a given tenant, including both standard walls and custom walls.",
            "content": {
[...]
