{
  "openapi": "3.1.0",
  "info": {
    "title": "Gateways",
    "version": "1.0.0",
    "description": "API to retrieve VSX (Virtual Switching Extension) information for switches."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Gateways",
      "description": "Gateway Monitoring APIs to get gateway details and their metrics"
    }
  ],
  "paths": {
    "/network-monitoring/v1/clusters/{cluster-name}/capacity-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getClusterCapacityTrendV1",
        "summary": "Get cluster capacity trend",
        "description": "Retrieves client and device capacity trend data for a gateway cluster based on specified timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterName"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClusterCapacityTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/clusters/{cluster-name}/capacity-trends/{serial-number}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getClusterMemberCapacityTrendV1",
        "summary": "Get cluster member capacity trend",
        "description": "Retrieves client and device capacity trend data for a specific gateway in a gateway cluster based on specified timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterName"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClusterMemberCapacityTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/clusters/{cluster-name}/connectivity-graph": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayClusterConnectivityGraphV1",
        "summary": "Gateway cluster connectivity graph information",
        "description": "Retrieves information about gateways in a gateway-cluster, including their peers and their VLAN mismatches.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterName"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClusterConnectivityGraphResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/clusters/{cluster-name}/members": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayClusterMemberListV1",
        "summary": "List Gateway Cluster members",
        "description": "Retrieves a list of gateways present in a cluster with comprehensive details.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterName"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `status` | `eq` and `in` |\n| `role` | `eq` and `in` |\n| `model` | `eq` and `in` |\n| `softwareVersion` | `eq` and `in` |\n| `firmwareVersion` | `eq` and `in` |\n| `siteName` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "example": "siteId eq '12345' and deployment in ('Standalone')",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\n\nSupported fields are `status`, `role`, `model`, `ipv4`, `softwareVersion`, `firmwareVersion`, `siteName` and `macAddress`.\n",
            "schema": {
              "type": "string",
              "maxLength": 256,
              "example": "siteName desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Denotes the maximum number of gateways returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 100,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\n\nMinimum value: 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClusterMemberListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/clusters/{cluster-name}/tunnels": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayClusterTunnelListV1",
        "summary": "List Gateway Cluster tunnels",
        "description": "Retrieves a list of tunnels present in a gateway-cluster with details like tunnel name, gateway, encapsulation, health and more.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterName"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `tunnelName` | `eq` and `in` |\n| `health` | `eq` and `in` |\n| `status` | `eq` and `in` |\n| `gateway` | `eq` and `in` |\n| `encapsulation` | `eq` and `in` |\n| `mode` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "example": "encapsulation eq 'GRE' and status eq 'Connected'",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\n\nSupported fields are `tunnelName`, `gateway`, `encapsulation`, `destinationIpAddress`, `sourceIpAddress`, `mode`, `uptime` and `vni`.\n",
            "schema": {
              "type": "string",
              "maxLength": 256,
              "example": "encapsulation desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Denotes the maximum number of tunnels returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 100,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\n\nMinimum value: 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayClusterTunnelListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/clusters/{cluster-name}/tunnels-health-summary": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayClusterTunnelHealthV1",
        "summary": "Get summary of cluster tunnel health",
        "description": "Retrieves health summary of tunnels in a gateway-cluster.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterName"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClusterTunnelHealthSummaryResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/clusters/{cluster-name}/tunnels-status-summary": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayClusterTunnelsStatusSummaryV1",
        "summary": "Get summary of cluster tunnel status",
        "description": "Retrieves the count of inter-gateway tunnels (tunnels in-between gateways in a cluster) that are Up and Down in a gateway-cluster.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterName"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClusterTunnelStatusSummaryResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/clusters/{cluster-name}/vlan-mismatch": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayClusterVlanMismatchSummaryV1",
        "summary": "Gateway cluster VLAN mismatch summary",
        "description": "Retrieves VLAN mismatch information categorized as good or poor for the entire gateway-cluster or individual gateways within the gateway-cluster.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterName"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `serialNumber` | `eq` |\n\n **The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n",
            "example": "serialNumber eq 'GW00001'",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/ClusterVlanMismatchResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayListV1",
        "summary": "List Gateways",
        "description": "Retrieves a list of gateways with details like serialNumber, deviceName, macAddress, siteId, status and more. The query parameters allow you to narrow down the results to gateways that meet specific criteria, ensuring you receive only the relevant data.\n",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `siteId` | `eq` and `in` |\n| `model` | `eq` and `in` |\n| `status` | `eq` and `in` |\n| `deployment` | `eq` and `in` |\n| `macAddress` | `eq` and `in` |\n| `siteName` | `eq` and `in` |\n| `deviceName` | `eq` and `in` |\n| `firmwareVersion` | `eq` and `in` |\n| `serialNumber` | `eq` and `in` |\n| `clusterName` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "example": "siteId eq '12345' and deployment in ('Standalone')",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\n\nSupported fields are `siteId`, `model`, `status`, `deployment`, `serialNumber`, `deviceName`, `macAddress`, `siteName` and `firmwareVersion`.\n",
            "example": "deviceName,deployment desc",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Denotes the maximum number of gateways returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\n\nMinimum value: 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayDetailV1",
        "summary": "Gateway Details",
        "description": "Retrieves detailed information about a specific gateway including macAddress, deviceName, status and more.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/cpu-utilization-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayHardwareCPUUtilizationV1",
        "summary": "Get gateway CPU utilization trend",
        "description": "Retrieves CPU utilization trend data for the gateway based on specified timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayCPUTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/dhcp-clients": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayDhcpLeaseListV1",
        "summary": "Get DHCP leases present in the DHCP pool",
        "description": "Retrieves DHCP leases that are configured in the gateway.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `reservation` | `eq` and `in` |\n| `poolName` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "example": "reservation eq 'Yes'",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\n\nSupported fields are `ipAddress`, `macAddress`, `hostName`, `clientDeviceType`, `startTime`, `expirationTime` and `reservation`.\n",
            "schema": {
              "type": "string",
              "maxLength": 256,
              "example": "startTime desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Denotes the maximum number of DHCP clients returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 100,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\n\nMinimum value: 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayDhcpLeaseListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/dhcp-pools": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayDhcpPoolListV1",
        "summary": "Get DHCP pools configured on the gateway",
        "description": "Retrieves DHCP pools that are configured in the gateway.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\n\nSupported fields are `poolName`, `vlanId`, `subnet`, `leaseDuration`, `poolSize`, `utilization` and `availableAddresses`.\n",
            "schema": {
              "type": "string",
              "maxLength": 256,
              "example": "mode desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Denotes the maximum number of DHCP pools returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 100,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\n\nMinimum value: 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayDhcpPoolListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/hardware-temperature-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayHardwareTemperatureV1",
        "summary": "Get gateway hardware temperature trends",
        "description": "Retrieves hardware temperature trend data for the gateway based on specified timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayTempTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/lan-tunnels-health-summary": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayLanTunnelHealthV1",
        "summary": "Get summary of gateway LAN tunnels health",
        "description": "Retrieves health summary of LAN tunnels present in the gateway.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayTunnelHealthSummaryResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/memory-utilization-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayHardwareMemoryUtilizationV1",
        "summary": "Get gateway memory utilization trend",
        "description": "Retrieves memory utilization trend data for the gateway based on specified timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayMemTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/modem-stat": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayModemStatsV1",
        "summary": "Get gateway uplink modem stats",
        "description": "Retrieves modem statistics data for the specified gateway.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayModemStatsResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/ports": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayPortsListV1",
        "summary": "List Gateway ports",
        "description": "Retrieves a list of ports present in the gateway with details like speed, name, MAC address, MTU, status and more.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `speed` | `eq` and `in` |\n| `duplex` | `eq` and `in` |\n| `vlan` | `eq` and `in` |\n| `macAddress` | `eq` and `in` |\n| `portType` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "example": "speed eq '1000'",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\n\nSupported fields are `mtu`, `speed`, `duplex` and `vlan`.\n",
            "example": "speed desc",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Denotes the maximum number of ports returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\n\nMinimum value: 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayPortListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/ports/{port-number}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayPortDetailV1",
        "summary": "Gateway port detail",
        "description": "Retrieves information about a specific port with details like speed, name, MAC address, MTU, status and more.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/PortNumber"
          },
          {
            "$ref": "#/components/parameters/StartAt"
          },
          {
            "$ref": "#/components/parameters/EndAt"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayPortResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/ports/{port-number}/frames-errors-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayFramesErrorsTrendV1",
        "summary": "Get gateway port frames errors trend",
        "description": "Retrieves gateway port frame errors trend data for the specified port based on timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/PortNumber"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayFramesErrorsTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/ports/{port-number}/frames-packets-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayFramesPacketsTrendV1",
        "summary": "Get gateway port frames packets trend",
        "description": "Retrieves gateway port frame packets trend data for the specified port based on timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/PortNumber"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayFramesPacketsTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/ports/{port-number}/frames-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayFramesTrendV1",
        "summary": "Get gateway port frames trend",
        "description": "Retrieves gateway port frames trend data for the specified port based on timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/PortNumber"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayFramesTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/ports/{port-number}/throughput-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayPortThroughputTrendV1",
        "summary": "Get gateway port throughput trend",
        "description": "Retrieves throughput trend data for a gateway port based on specified timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/PortNumber"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayInterfaceThroughputTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/tunnels": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayTunnelListV1",
        "summary": "List Gateway tunnels",
        "description": "Retrieves a list of tunnels present in a gateway with details like tunnelName, status, usage, encapsulation, etc.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `tunnelName` | `eq` and `in` |\n| `status` | `eq` and `in` |\n| `mode` | `eq` and `in` |\n| `encapsulation` | `eq` and `in` |\n| `tunnelType` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "example": "encapsulation eq 'GRE'",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\n\nSupported fields are `tunnelName`, `destinationIpAddress`, `sourceIpAddress`, `mode`, `vni` and `encapsulation`.\n",
            "example": "tunnelName desc",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Denotes the maximum number of tunnels returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 1000,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\n\nMinimum value: 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayTunnelListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/tunnels/{tunnel-name}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayTunnelDetailV1",
        "summary": "Gateway tunnel detail",
        "description": "Retrieves information about a specific tunnel configured in the gateway.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TunnelName"
          },
          {
            "$ref": "#/components/parameters/StartAt"
          },
          {
            "$ref": "#/components/parameters/EndAt"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayTunnelDetailResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/tunnels/{tunnel-name}/dropped-packet-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayTunnelDroppedPacketsTrendV1",
        "summary": "Get gateway tunnel dropped packets trend",
        "description": "Retrieves gateway tunnel dropped packet trends for the specified tunnel based on timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/TunnelName"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayTunnelPacketsTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/tunnels/{tunnel-name}/status-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayTunnelStatusTrendV1",
        "summary": "Get gateway tunnel status trend",
        "description": "Retrieves status trend data for a gateway tunnel based on specified timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/TunnelName"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayTunnelStatusTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/tunnels/{tunnel-name}/throughput-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayTunnelThroughputTrendV1",
        "summary": "Get gateway tunnel throughput trend",
        "description": "Retrieves throughput trend data for a gateway tunnel based on specified timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/TunnelName"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayTunnelThroughputTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/uplinks": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayUplinkListV1",
        "summary": "List Gateway uplinks",
        "description": "Retrieves a list of uplinks present in a gateway with details like link tag, status, public IP address etc.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Comma separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\n\nSupported fields are `linkTag` and `status`.\n",
            "example": "linkTag desc",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayUplinkListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/uplinks/{link-tag}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayWanInterfaceDetailV1",
        "summary": "Get details of gateway uplink",
        "description": "Retrieves details of the uplink connected to the gateway.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/LinkTag"
          },
          {
            "$ref": "#/components/parameters/StartAt"
          },
          {
            "$ref": "#/components/parameters/EndAt"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayUplinkDetailResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/uplinks/{link-tag}/probes": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayUplinkProbeListV1",
        "summary": "List gateway uplink probes",
        "description": "Retrieves a list of gateway uplink probes based on specified timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/LinkTag"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayProbeListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/uplinks/{link-tag}/probes/{probe}/performance-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayUplinkPerformanceTrendsV1",
        "summary": "Get uplink probe performance trends",
        "description": "Retrieves gateway uplink performance trends for the selected probe based on timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/LinkTag"
          },
          {
            "name": "probe",
            "in": "path",
            "required": true,
            "description": "The host IP of the probe. For health check probe, provide the input as 'Health-Check'.\n",
            "example": "Health-Check",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayProbePerformanceResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/uplinks/{link-tag}/throughput-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayUplinkThroughputTrendsV1",
        "summary": "Get gateway uplink throughput trend",
        "description": "Retrieves throughput trend data for a gateway uplink based on specified timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/LinkTag"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayUplinkThroughputTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/uplinks/{link-tag}/wan-availability-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayUplinkWanAvailabilityTrendsV1",
        "summary": "Get WAN availability trends of gateway uplink",
        "description": "Retrieves WAN availability trends for the specified gateway uplink based on timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/LinkTag"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayUplWanAvailResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/uplinks/{link-tag}/wan-compression-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayWanCompressionTrendsV1",
        "summary": "Get gateway WAN compression trends for an uplink",
        "description": "Retrieves WAN compression trend data for a gateway uplink based on specified timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/LinkTag"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayWanCompressionTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/uplinks/{vlan-id}/vpn-availability-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayUplinkVpnAvailabilityTrendsV1",
        "summary": "Get VPN availability trends of gateway uplink",
        "description": "Retrieves VPN availability trends for the specified gateway uplink based on timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          },
          {
            "$ref": "#/components/parameters/VlanId"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayUplVpnAvailResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/vlans": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayVlanListV1",
        "summary": "List Gateway VLANs",
        "description": "Retrieves a list of VLANs present in the gateway with details like name, VLAN type, status and more.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `status` | `eq` and `in` |\n| `vlanType` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "example": "encapsulation eq 'GRE' and status eq 'Connected'",
            "schema": {
              "type": "string",
              "maxLength": 256
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "A comma-separated list of sort expressions. Each sort expression is a property name optionally followed by a direction indicator asc (ascending) or desc (descending).\n\nThe first sort expression in the list defines the primary sort order, the second defines the secondary sort order, and so on. If a direction indicator is omitted the default direction is ascending.\n\nSupported fields are `vlanId`, `name`, `status`, `ipv4Subnet` and `vlanType`.\n",
            "schema": {
              "type": "string",
              "maxLength": 256,
              "example": "vlanId desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Denotes the maximum number of VLANs returned in the response.\n",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 0,
              "maximum": 100,
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next",
            "required": false,
            "in": "query",
            "description": "Specifies the pagination cursor for the next page of resources.\n\nMinimum value: 1\n",
            "schema": {
              "$ref": "#/components/schemas/Next"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayVlanListResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/vlans/{vlan-id}": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayVlanDetailV1",
        "summary": "Gateway VLAN detail",
        "description": "Retrieves information about a specific VLAN that is configured in the gateway.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/VlanId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayVlanDetailResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/vpn-availability-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayVpnAvailabilityTrendsV1",
        "summary": "Get gateway VPN availability trend",
        "description": "Retrieves VPN availability trend data for the specified gateway based on timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayVpnAvailabilityTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/wan-availability-trends": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayWanAvailabilityTrendsV1",
        "summary": "Get gateway WAN availability trend",
        "description": "Retrieves WAN availability trend data for the specified gateway based on timestamp range.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          },
          {
            "$ref": "#/components/parameters/TrendsFiltergw"
          },
          {
            "$ref": "#/components/parameters/SiteId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayWanAvailabilityTrendResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/gateways/{serial-number}/wan-tunnels-health-summary": {
      "get": {
        "tags": [
          "Gateways"
        ],
        "operationId": "getGatewayWanTunnelHealthV1",
        "summary": "Get summary of gateway WAN tunnel health",
        "description": "Retrieves health summary of WAN tunnels present in the gateway.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/SerialNumbergw"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GatewayWanTunnelHealthSummaryResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Authentication": {
        "type": "string",
        "enum": [
          "MD5",
          "SHA-1",
          "SHA-2 256",
          "SHA-2 384",
          "SHA-2 512",
          "AES",
          ""
        ],
        "example": "SHA1",
        "description": "The authentication method used in the tunnel.\n"
      },
      "BadRequestError": {
        "type": "object",
        "description": "Bad request error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "description": "HTTP status code.",
            "example": 400
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
            ],
            "maxLength": 128,
            "description": "Error code",
            "example": "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "ClusterCapacityTrend": {
        "type": "object",
        "required": [
          "capacityType",
          "graph",
          "id",
          "type"
        ],
        "properties": {
          "graph": {
            "type": "object",
            "required": [
              "keys",
              "samples"
            ],
            "properties": {
              "keys": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "maxItems": 9,
                "example": [
                  "active_client_count",
                  "standby_client_count",
                  "cluster_client_max_capacity",
                  "active_client_percentage",
                  "standby_client_percentage"
                ],
                "description": "List of metrics which help to evaluate the client and device capacity trend of a gateway cluster.\n"
              },
              "samples": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GraphDataPoint"
                },
                "maxItems": 10000
              }
            }
          },
          "id": {
            "$ref": "#/components/schemas/IDgw"
          },
          "type": {
            "$ref": "#/components/schemas/Typegw"
          }
        },
        "example": [
          {
            "capacityType": "client_capacity",
            "graph": {
              "keys": [
                "active_client_count",
                "standby_client_count",
                "cluster_client_max_capacity",
                "active_client_percentage",
                "standby_client_percentage"
              ],
              "samples": [
                {
                  "data": [
                    150,
                    50,
                    250,
                    75,
                    25
                  ],
                  "timestamp": "2022-07-30T20:00:00Z"
                }
              ]
            },
            "id": "cluster1",
            "type": "network-monitoring/gateway-monitoring"
          },
          {
            "capacityType": "device_capacity",
            "graph": {
              "keys": [
                "active_ap_count",
                "standby_ap_count",
                "active_sw_count",
                "standby_sw_count",
                "active_ap_percentage",
                "standby_ap_percentage",
                "active_sw_percentage",
                "standby_sw_percentage",
                "cluster_device_max_capacity"
              ],
              "samples": [
                {
                  "data": [
                    100,
                    5,
                    20,
                    1,
                    95,
                    4,
                    95,
                    4,
                    150
                  ],
                  "timestamp": "2022-07-30T20:00:00Z"
                }
              ]
            },
            "id": "cluster1",
            "type": "network-monitoring/gateway-monitoring"
          }
        ]
      },
      "ClusterConnectivityGraphResponse": {
        "type": "object",
        "example": {
          "nodes": [
            {
              "name": "9240-VPNC-7011",
              "role": "Leader",
              "health": "Good",
              "serialNumber": "CNP5KYH02L",
              "peers": [
                {
                  "name": "BCX1540221",
                  "vlanMismatch": "No",
                  "mismatchedVlan": 0
                }
              ]
            },
            {
              "name": "BCX1540221",
              "role": "Member",
              "health": "Good",
              "serialNumber": "BCX1540221",
              "peers": [
                {
                  "name": "9240-VPNC-7011",
                  "vlanMismatch": "No",
                  "mismatchedVlan": 0
                }
              ]
            }
          ],
          "id": "gw-cluster-2",
          "type": "network-monitoring/gateway-monitoring"
        },
        "required": [
          "nodes",
          "id",
          "type"
        ],
        "properties": {
          "nodes": {
            "type": "object",
            "description": "Gateway and its peers",
            "properties": {
              "name": {
                "type": "string",
                "maxLength": 256,
                "example": "gw_1",
                "description": "The gateway name.\n"
              },
              "role": {
                "$ref": "#/components/schemas/Rolegw"
              },
              "health": {
                "type": "string",
                "enum": [
                  "Good",
                  "Poor"
                ],
                "example": "Good",
                "maxLength": 4,
                "description": "The health of the gateway.\n"
              },
              "serialNumber": {
                "$ref": "#/components/schemas/SerialNumbergw"
              },
              "peers": {
                "type": "object",
                "description": "Peer gateways and their VLAN mismatch details",
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 256,
                    "example": "gw_2",
                    "description": "The name of the peer gateway in the cluster.\n"
                  },
                  "vlanMismatch": {
                    "type": "string",
                    "enum": [
                      "Yes",
                      "No"
                    ],
                    "example": "Yes",
                    "maxLength": 3,
                    "description": "Boolean that says whether the gateway has a VLAN mismatch.\n"
                  },
                  "mismatchedVlan": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The VLAN ID that has a mismatch.\n",
                    "example": 100
                  }
                }
              }
            }
          },
          "id": {
            "$ref": "#/components/schemas/IDgw"
          },
          "type": {
            "$ref": "#/components/schemas/Typegw"
          }
        }
      },
      "ClusterMemberCapacityTrend": {
        "type": "object",
        "required": [
          "capacityType",
          "graph",
          "id",
          "type"
        ],
        "properties": {
          "graph": {
            "type": "object",
            "required": [
              "keys",
              "samples"
            ],
            "properties": {
              "keys": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "maxItems": 9,
                "example": [
                  "active_client_count",
                  "standby_client_count",
                  "cluster_client_max_capacity",
                  "active_client_percentage",
                  "standby_client_percentage"
                ],
                "description": "List of metrics which help to evaluate the client and device capacity trend of a gateway cluster member.\n"
              },
              "samples": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/GraphDataPoint"
                },
                "maxItems": 10000
              }
            }
          },
          "id": {
            "$ref": "#/components/schemas/IDgw"
          },
          "type": {
            "$ref": "#/components/schemas/Typegw"
          }
        },
        "example": [
          {
            "capacityType": "client_capacity",
            "graph": {
              "keys": [
                "active_client_count",
                "standby_client_count",
                "cluster_client_max_capacity",
                "active_client_percentage",
                "standby_client_percentage"
              ],
              "samples": [
                {
                  "data": [
                    150,
                    50,
                    250,
                    75,
                    25
                  ],
                  "timestamp": "2022-07-30T20:00:00Z"
                }
              ]
            },
            "id": "cluster1/gw1",
            "type": "network-monitoring/gateway-monitoring"
          },
          {
            "capacityType": "device_capacity",
            "graph": {
              "keys": [
                "active_ap_count",
                "standby_ap_count",
                "active_sw_count",
                "standby_sw_count",
                "active_ap_percentage",
                "standby_ap_percentage",
                "active_sw_percentage",
                "standby_sw_percentage",
                "cluster_device_max_capacity"
              ],
              "samples": [
                {
                  "data": [
                    100,
                    5,
                    20,
                    1,
                    95,
                    4,
                    95,
                    4,
                    150
                  ],
                  "timestamp": "2022-07-30T20:00:00Z"
                }
              ]
            },
            "id": "cluster1/gw1",
            "type": "network-monitoring/gateway-monitoring"
          }
        ]
      },
      "ClusterMemberListResponse": {
        "example": {
          "items": [
            {
              "clusterName": "Demo GW Cluster",
              "ipv4": "167.34.21.6",
              "ipv6": "2001:0db8:85a3:0000:0000:8a2e:0370:7334",
              "lastSeenAt": "2024-03-12T07:20:50.52Z",
              "macAddress": "28:de:65:f1:c1:c0",
              "model": "A9240",
              "deviceName": "Gateway-1",
              "partNumber": "R7H95A",
              "role": "Isoleader",
              "serialNumber": "CZ0001156",
              "siteId": "12345",
              "siteName": "prestige-zackaria",
              "softwareVersion": "10.7.0.0_90051",
              "firmwareVersion": "10.7.0.0_90051",
              "status": "OFFLINE",
              "id": "CZ0001156",
              "type": "network-monitoring/gateway-monitoring"
            }
          ],
          "count": 1,
          "total": 1,
          "next": null
        },
        "allOf": [
          {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "maxItems": 100,
                "items": {
                  "type": "object",
                  "required": [
                    "clusterName",
                    "ipv4",
                    "ipv6",
                    "lastSeenAt",
                    "macAddress",
                    "model",
                    "deviceName",
                    "partNumber",
                    "role",
                    "serialNumber",
                    "siteId",
                    "siteName",
                    "softwareVersion",
                    "firmwareVersion",
                    "status",
                    "id",
                    "type"
                  ],
                  "properties": {
                    "clusterName": {
                      "$ref": "#/components/schemas/ClusterNamegw"
                    },
                    "ipv4": {
                      "$ref": "#/components/schemas/Ipv4Addressgw"
                    },
                    "ipv6": {
                      "$ref": "#/components/schemas/Ipv6Addressgw"
                    },
                    "lastSeenAt": {
                      "$ref": "#/components/schemas/LastSeenAtgw"
                    },
                    "macAddress": {
                      "$ref": "#/components/schemas/MacAddressgw"
                    },
                    "model": {
                      "$ref": "#/components/schemas/Modelgw"
                    },
                    "deviceName": {
                      "$ref": "#/components/schemas/DeviceNamegw"
                    },
                    "partNumber": {
                      "$ref": "#/components/schemas/PartNumbergw"
                    },
                    "role": {
                      "$ref": "#/components/schemas/Rolegw"
                    },
                    "serialNumber": {
                      "$ref": "#/components/schemas/SerialNumbergw"
                    },
                    "siteId": {
                      "$ref": "#/components/schemas/SiteIDgw"
                    },
                    "siteName": {
                      "$ref": "#/components/schemas/SiteNamegw"
                    },
                    "softwareVersion": {
                      "$ref": "#/components/schemas/SoftwareVersion"
                    },
                    "firmwareVersion": {
                      "$ref": "#/components/schemas/FirmwareVersiongw"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Statusgw"
                    },
                    "id": {
                      "$ref": "#/components/schemas/IDgw"
                    },
                    "type": {
                      "$ref": "#/components/schemas/Typegw"
                    }
                  }
                }
              }
            }
          },
          {
            "$ref": "#/components/schemas/PaginatedResponsegw"
          }
        ]
      },
      "ClusterName": {
        "type": "string",
        "format": "const",
        "maxLength": 256,
        "description": "The name of the cluster to which the device belongs. If the device is not part of any cluster then the cluster name will be null.\n",
        "example": "cluster 1"
      },
      "ClusterNamegw": {
        "type": "string",
        "maxLength": 256,
        "example": "gw_cluster_1",
        "description": "The cluster to which the gateway belongs.\n"
      },
      "ClusterTunnelHealthSummaryResponse": {
        "type": "object",
        "example": [
          {
            "deviceName": "Gateway-1",
            "serialNumber": "GW1",
            "siteId": "12345",
            "tunnelHealth": {
              "good": 3,
              "fair": 0,
              "poor": 0
            },
            "id": "cluster1/GW1/tunnels",
            "type": "network-monitoring/gateway-monitoring"
          },
          {
            "deviceName": "Gateway-2",
            "serialNumber": "GW2",
            "siteId": "12345",
            "tunnelHealth": {
              "good": 1,
              "fair": 0,
              "poor": 3
            },
            "id": "cluster1/GW2/tunnels",
            "type": "network-monitoring/gateway-monitoring"
          }
        ],
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "deviceName": {
            "$ref": "#/components/schemas/DeviceNamegw"
          },
          "serialNumber": {
            "$ref": "#/components/schemas/SerialNumbergw"
          },
          "siteId": {
            "$ref": "#/components/schemas/SiteIDgw"
          },
          "tunnelHealth": {
            "type": "object",
            "description": "Tunnel health summary for a cluster member.",
            "properties": {
              "good": {
                "type": "integer",
                "format": "int32",
                "example": "5",
                "description": "The number of tunnels that are of good health.\n"
              },
              "fair": {
                "type": "integer",
                "format": "int32",
                "example": "2",
                "description": "The number of tunnels that are of fair health.\n"
              },
              "poor": {
                "type": "integer",
                "format": "int32",
                "example": "1",
                "description": "The number of tunnels that are of poor health.\n"
              }
            }
          },
          "id": {
            "$ref": "#/components/schemas/IDgw"
          },
          "type": {
            "$ref": "#/components/schemas/Typegw"
          }
        }
      },
      "ClusterTunnelStatusSummaryResponse": {
        "type": "object",
        "example": {
          "up": 3,
          "down": 0,
          "id": "cluster1/tunnels",
          "type": "network-monitoring/gateway-monitoring"
        },
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "up": {
            "type": "integer",
            "format": "int32",
            "example": "2",
            "description": "The number of tunnels that are Up.\n"
          },
          "down": {
            "type": "integer",
            "format": "int32",
            "example": "2",
            "description": "The number of tunnels that are Down.\n"
          },
          "id": {
            "$ref": "#/components/schemas/IDgw"
          },
          "type": {
            "$ref": "#/components/schemas/Typegw"
          }
        }
      },
      "ClusterVlanMismatchResponse": {
        "type": "object",
        "example": {
          "good": 4,
          "poor": 2,
          "id": "gw-cluster-1",
          "type": "network-monitoring/gateway-monitoring"
        },
        "required": [
          "clusterName",
          "id",
          "type"
        ],
        "properties": {
          "good": {
            "$ref": "#/components/schemas/Good"
          },
          "poor": {
            "$ref": "#/components/schemas/Poor"
          },
          "id": {
            "$ref": "#/components/schemas/IDgw"
          },
          "type": {
            "$ref": "#/components/schemas/Typegw"
          }
        }
      },
      "Countgw": {
        "type": "integer",
        "format": "int32",
        "description": "The number of items in the response.\n",
        "example": 1
      },
      "DateTime": {
        "type": "string",
        "format": "date-time",
        "maxLength": 128,
        "example": "2024-03-12T07:20:50.52Z"
      },
      "DebugId": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting purposes.",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "Deploymentgw": {
        "type": "string",
        "enum": [
          "Standalone",
          "Cluster"
        ],
        "maxLength": 10,
        "example": "Standalone",
        "description": "The operating mode of the gateway.\n"
      },
      "DestinationIpAddressgw": {
        "type": "string",
        "format": "ipv4",
[...]
