{
  "openapi": "3.1.0",
  "info": {
    "title": "Site Health",
    "version": "1.0.0",
    "description": "API to retrieve VSX (Virtual Switching Extension) information for switches."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Site Health",
      "description": "Site Health APIs to get site details with health, devices, clients, alerts information."
    }
  ],
  "paths": {
    "/network-monitoring/v1/site-health/{site-id}": {
      "get": {
        "tags": [
          "Site Health"
        ],
        "operationId": "getSiteHealthV1",
        "summary": "Site information",
        "description": "This API endpoint provides the detailed health information for the requested site, including site Id, health of the site, and poor health reasons for the site. The response includes the count of devices, clients, VMs, and hosts categorized by performance as poor, fair or good.",
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "Identifier of the Site for which site information is requested.\n",
            "schema": {
              "$ref": "#/components/schemas/SiteIdsite"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SiteHealthResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sites-client-health": {
      "get": {
        "tags": [
          "Site Health"
        ],
        "operationId": "listSitesClientHealthV1",
        "summary": "List of sites with client health",
        "description": "This API returns a list of sites with the number of poor, fair and good health clients, categorized as wired and wireless for each site.",
        "parameters": [
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Specifies the number of sites to be returned per request. Maximum limit per request is 1000.",
            "schema": {
              "$ref": "#/components/schemas/Limitsite"
            }
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "description": "Defines the starting point for the set of sites to be returned. Number of sites to skip before starting to collect the result set.",
            "schema": {
              "$ref": "#/components/schemas/Offsetsite"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction; ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `siteId` | `eq` and `in` |\n| `siteName` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "siteName in ('site1', 'site2')"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field followed by a direction indicator ASC (ascending) or DESC (descending). Supported fields are siteName, clientHealth, wirelessClientHealth, wiredClientHealth\n",
            "schema": {
              "default": "siteName ASC",
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "wirelessClientHealth ASC"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SitesClientHealthResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sites-device-health": {
      "get": {
        "tags": [
          "Site Health"
        ],
        "operationId": "listSitesDeviceHealthV1",
        "summary": "List of sites with device health",
        "description": "This API returns a list of sites with the number of poor, fair, and good performing devices for each site.",
        "parameters": [
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Specifies the number of sites to be returned per request. Maximum limit per request is 1000.",
            "schema": {
              "$ref": "#/components/schemas/Limitsite"
            }
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "description": "Defines the starting point for the set of sites to be returned. Number of sites to skip before starting to collect the result set.",
            "schema": {
              "$ref": "#/components/schemas/Offsetsite"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction; ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `siteId` | `eq` and `in` |\n| `siteName` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "siteName in ('site1', 'site2')"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field followed by a direction indicator ASC (ascending) or DESC (descending). Supported fields are siteName, deviceHealth, apHealth, switchHealth, gatewayHealth, bridgeHealth\n",
            "schema": {
              "default": "siteName ASC",
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "apHealth ASC"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SitesDeviceHealthResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/sites-health": {
      "get": {
        "tags": [
          "Site Health"
        ],
        "operationId": "listSitesHealthV1",
        "summary": "List of sites with health overview",
        "description": "This API endpoint provides a list of health information for each site, including devices, clients, critical alerts with count, along with their respective health and health reasons.",
        "parameters": [
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Specifies the number of sites to be returned per request. Maximum limit per request is 1000.",
            "schema": {
              "$ref": "#/components/schemas/Limitsite"
            }
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "description": "Defines the starting point for the set of sites to be returned. Number of sites to skip before starting to collect the result set.",
            "schema": {
              "$ref": "#/components/schemas/Offsetsite"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "description": "OData Version 4.0 filter string (limited functionality). Supports only 'and' conjunction; ('or' and 'not' are NOT supported). Supported fields and operators are in the below given table.\n\n| Field | Operators |\n| --------- | -------- |\n| `siteId` | `eq` and `in` |\n| `siteName` | `eq` and `in` |\n\n**The operators are implemented as follows:**\n\n* `eq`: Only values exactly matching the given value are returned.\n\n* `in`: Only values present in the given list are returned.\n\n",
            "schema": {
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "siteName in ('site1', 'site2')"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field followed by a direction indicator ASC (ascending) or DESC (descending). Supported fields are siteName, siteHealth, deviceHealth, clientHealth\n",
            "schema": {
              "default": "siteName ASC",
              "type": "string",
              "format": "const",
              "maxLength": 256,
              "example": "siteHealth ASC"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/SitesHealthResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/tenant-client-health": {
      "get": {
        "tags": [
          "Site Health"
        ],
        "operationId": "tenantClientHealthV1",
        "summary": "Client health overview",
        "description": "This API endpoint provides a health overview of connected clients - categorized as poor, fair or good performing, for each client type (e.g. Wired, Wireless) under the customer.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TenantClientHealthResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/tenant-device-health": {
      "get": {
        "tags": [
          "Site Health"
        ],
        "operationId": "tenantDeviceHealthV1",
        "summary": "Device health overview",
        "description": "This API endpoint provides a health overview of devices categorized as poor, fair or good performing, for each device type (e.g. Switches, Gateways, Access Points) under the customer.",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TenantDeviceHealthResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string",
            "example": "India"
          },
          "address": {
            "type": "string",
            "example": "HPE Mahadevpura"
          },
          "city": {
            "type": "string",
            "example": "Bangalore"
          },
          "zipCode": {
            "type": "string",
            "example": "560048"
          },
          "state": {
            "type": "string",
            "example": "Karnataka"
          }
        }
      },
      "AlertGroup": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Critical"
          },
          "count": {
            "type": "integer",
            "example": 15
          }
        }
      },
      "BadRequestError": {
        "type": "object",
        "description": "Bad request error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "description": "HTTP status code.",
            "example": 400
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
            ],
            "maxLength": 128,
            "description": "Error code",
            "example": "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "ClientEntityNameHealth": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Wired"
          },
          "health": {
            "$ref": "#/components/schemas/Health"
          }
        }
      },
      "ClientTypesHealth": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Wireless"
          },
          "health": {
            "type": "object",
            "properties": {
              "groups": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Fair"
                    },
                    "value": {
                      "type": "integer",
                      "example": 4
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ComputeEntityNameHealth": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "VM"
          },
          "health": {
            "$ref": "#/components/schemas/Health"
          }
        }
      },
      "Countsite": {
        "type": "integer",
        "format": "int32",
        "description": "Number of items in the response.\n",
        "example": 1
      },
      "DebugId": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting purposes.",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "DeviceTypesHealth": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Access Points"
          },
          "health": {
            "type": "object",
            "properties": {
              "groups": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Fair"
                    },
                    "value": {
                      "type": "integer",
                      "example": 4
                    }
                  }
                }
              }
            }
          }
        }
      },
      "EntityCountHealth": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "example": 125
          },
          "health": {
            "$ref": "#/components/schemas/Health"
          }
        }
      },
      "EntityNameHealth": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Switches"
          },
          "health": {
            "$ref": "#/components/schemas/Health"
          }
        }
      },
      "ErrorMessage": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "Error message indicating the cause of the failure.",
        "example": "Error Message"
      },
      "ForbiddenRequest": {
        "type": "object",
        "description": "Forbidden error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": 403,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_FORBIDDEN",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "GroupValue": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Poor"
          },
          "value": {
            "type": "integer",
            "example": 40
          }
        }
      },
      "Health": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupValue"
            }
          }
        }
      },
      "HealthReason": {
        "type": "object",
        "properties": {
          "health": {
            "type": "string",
            "example": "Poor"
          },
          "reason": {
            "type": "string",
            "example": "CLIENT_HEALTH_POOR"
          },
          "data": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "example": 5
              }
            }
          }
        }
      },
      "Idsite": {
        "type": "string",
        "description": "Primary identifier for the resource.\n",
        "example": "00001"
      },
      "InternalServerError": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_MONITORING_INTERNAL_SERVER_ERROR"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has a prefix HPE_GL_.* For more details regarding error, please refer to the error message",
            "example": "HPE_GL_NETWORK_MONITORING_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "Limitsite": {
        "type": "integer",
        "format": "int32",
        "default": 100,
        "maximum": 1000,
        "example": 10,
        "description": "Specifies the number of sites to be returned per request. Maximum limit per request is 1000."
      },
      "Offsetsite": {
        "type": "integer",
        "format": "int32",
        "default": 0,
        "example": 0,
        "description": "Defines the starting point for the set of sites to be returned. Number of sites to skip before starting to collect the result set."
      },
      "Responsesite": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the API response, indicating success or failure.",
            "example": "SUCCESS"
          },
          "code": {
            "type": "string",
            "example": "SITE-HEALTH-SUCCESS-001"
          },
          "message": {
            "type": "string",
            "description": "A message providing details about the result of the API request.\n",
            "example": "Sites details fetched successfully"
          }
        }
      },
      "SiteHealth": {
        "type": "object",
        "required": [
          "id",
          "type",
          "response",
          "reasons",
          "health",
          "deviceTypes",
          "clientTypes",
          "compute"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Idsite"
          },
          "type": {
            "$ref": "#/components/schemas/SiteHealthType"
          },
          "response": {
            "$ref": "#/components/schemas/Responsesite"
          },
          "reasons": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HealthReason"
            }
          },
          "health": {
            "$ref": "#/components/schemas/Health"
          },
          "deviceTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityNameHealth"
            }
          },
          "clientTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClientEntityNameHealth"
            }
          },
          "compute": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ComputeEntityNameHealth"
            }
          }
        }
      },
      "SiteHealthType": {
        "type": "string",
        "description": "The type of the resource.\n",
        "example": "network-monitoring/site-health"
      },
      "SiteIdsite": {
        "type": "string",
        "format": "uuid",
        "maxLength": 128,
        "description": "Identifier of the Site for which site information is requested.",
        "example": "00001"
      },
      "SiteNamesite": {
        "type": "string",
        "description": "Name of the Site.\n",
        "example": "12345678"
      },
      "SitesClientHealth": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "items",
              "count",
              "total",
              "response",
              "offset"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "id",
                    "type",
                    "siteName",
                    "clientTypes"
                  ],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Idsite"
                    },
                    "type": {
                      "$ref": "#/components/schemas/SitesClientHealthType"
                    },
                    "siteName": {
                      "$ref": "#/components/schemas/SiteNamesite"
                    },
                    "clientTypes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClientTypesHealth"
                      }
                    }
                  }
                }
              },
              "count": {
                "$ref": "#/components/schemas/Countsite"
              },
              "total": {
                "$ref": "#/components/schemas/Totalsite"
              },
              "response": {
                "$ref": "#/components/schemas/Responsesite"
              },
              "offset": {
                "$ref": "#/components/schemas/Offsetsite"
              }
            }
          }
        ]
      },
      "SitesClientHealthType": {
        "type": "string",
        "description": "The type of the resource.\n",
        "example": "network-monitoring/sites-client-health"
      },
      "SitesDeviceHealth": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "items",
              "count",
              "total",
              "response",
              "offset"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "id",
                    "type",
                    "siteName",
                    "deviceTypes"
                  ],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Idsite"
                    },
                    "type": {
                      "$ref": "#/components/schemas/SitesDeviceHealthType"
                    },
                    "siteName": {
                      "$ref": "#/components/schemas/SiteNamesite"
                    },
                    "deviceTypes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DeviceTypesHealth"
                      }
                    }
                  }
                }
              },
              "count": {
                "$ref": "#/components/schemas/Countsite"
              },
              "total": {
                "$ref": "#/components/schemas/Totalsite"
              },
              "response": {
                "$ref": "#/components/schemas/Responsesite"
              },
              "offset": {
                "$ref": "#/components/schemas/Offsetsite"
              }
            }
          }
        ]
      },
      "SitesDeviceHealthType": {
        "type": "string",
        "description": "The type of the resource.\n",
        "example": "network-monitoring/sites-device-health"
      },
      "SitesHealth": {
        "allOf": [
          {
            "type": "object",
            "required": [
              "items",
              "count",
              "total",
              "response",
              "offset"
            ],
            "properties": {
              "items": {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "id",
                    "type",
                    "siteName",
                    "address",
                    "alerts",
                    "reasons",
                    "health",
                    "devices",
                    "clients"
                  ],
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/Idsite"
                    },
                    "type": {
                      "$ref": "#/components/schemas/SitesHealthType"
                    },
                    "siteName": {
                      "$ref": "#/components/schemas/SiteNamesite"
                    },
                    "address": {
                      "$ref": "#/components/schemas/Address"
                    },
                    "alerts": {
                      "type": "object",
                      "properties": {
                        "totalCount": {
                          "type": "integer",
                          "example": 15
                        },
                        "groups": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AlertGroup"
                          }
                        }
                      }
                    },
                    "reasons": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HealthReason"
                      }
                    },
                    "health": {
                      "$ref": "#/components/schemas/Health"
                    },
                    "devices": {
                      "$ref": "#/components/schemas/EntityCountHealth"
                    },
                    "clients": {
                      "$ref": "#/components/schemas/EntityCountHealth"
                    }
                  }
                }
              },
              "count": {
                "$ref": "#/components/schemas/Countsite"
              },
              "total": {
                "$ref": "#/components/schemas/Totalsite"
              },
              "response": {
                "$ref": "#/components/schemas/Responsesite"
              },
              "offset": {
                "$ref": "#/components/schemas/Offsetsite"
              }
            }
          }
        ]
      },
      "SitesHealthType": {
        "type": "string",
        "description": "The type of the resource.\n",
        "example": "network-monitoring/sites-health"
      },
      "TenantClientHealth": {
        "type": "object",
        "required": [
          "id",
          "type",
          "clientTypes"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Idsite"
          },
          "type": {
            "$ref": "#/components/schemas/TenantClientHealthType"
          },
          "clientTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClientTypesHealth"
            }
          }
        }
      },
      "TenantClientHealthType": {
        "type": "string",
        "description": "The type of the resource.",
        "example": "network-monitoring/tenant-client-health"
      },
      "TenantDeviceHealth": {
        "type": "object",
        "required": [
          "id",
          "type",
          "deviceTypes"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Idsite"
          },
          "type": {
            "$ref": "#/components/schemas/TenantDeviceHealthType"
          },
          "deviceTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EntityNameHealth"
            }
          }
        }
      },
      "TenantDeviceHealthType": {
        "type": "string",
        "description": "The type of the resource.",
        "example": "network-monitoring/tenant-device-health"
      },
      "TooManyRequest": {
        "type": "object",
        "description": "Too many requests error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": 429,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "Totalsite": {
        "type": "integer",
        "format": "int64",
        "description": "Specifies the total number of sites available for a given customer.\n",
        "example": 10
      },
      "Unauthorized": {
        "type": "object",
        "description": "Unauthorized error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "description": "HTTP status code.",
            "example": 401
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestError"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden: Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenRequest"
            }
          }
        }
      },
      "InternalServerError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerError"
            }
          }
        }
      },
      "SiteHealthResponse": {
        "description": "Success",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SiteHealth"
            }
          }
        }
      },
      "SitesClientHealthResponse": {
        "description": "Success",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SitesClientHealth"
            }
          }
        }
      },
      "SitesDeviceHealthResponse": {
        "description": "Success",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SitesDeviceHealth"
            }
          }
        }
      },
      "SitesHealthResponse": {
        "description": "Success",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/SitesHealth"
            }
          }
        }
      },
      "TenantClientHealthResponse": {
        "description": "Success",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TenantClientHealth"
            }
          }
        }
      },
      "TenantDeviceHealthResponse": {
        "description": "Success",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TenantDeviceHealth"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequest"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Unauthorized"
            }
          }
        }
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "X-RateLimit-Remaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "X-RateLimit-Reset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
