{
  "openapi": "3.1.0",
  "info": {
    "title": "Topology",
    "version": "1.0.0",
    "description": "API to retrieve VSX (Virtual Switching Extension) information for switches."
  },
  "servers": [
    {
      "url": "https://de1.api.central.arubanetworks.com",
      "description": "eu"
    },
    {
      "url": "https://de2.api.central.arubanetworks.com",
      "description": "eucentral2"
    },
    {
      "url": "https://de3.api.central.arubanetworks.com",
      "description": "eucentral3"
    },
    {
      "url": "https://gb1.api.central.arubanetworks.com",
      "description": "ukwest2"
    },
    {
      "url": "https://us1.api.central.arubanetworks.com",
      "description": "prod"
    },
    {
      "url": "https://us2.api.central.arubanetworks.com",
      "description": "central-prod2"
    },
    {
      "url": "https://us4.api.central.arubanetworks.com",
      "description": "uswest4"
    },
    {
      "url": "https://us5.api.central.arubanetworks.com",
      "description": "uswest5"
    },
    {
      "url": "https://us6.api.central.arubanetworks.com",
      "description": "us-east-1"
    },
    {
      "url": "https://ca1.api.central.arubanetworks.com",
      "description": "starman"
    },
    {
      "url": "https://in1.api.central.arubanetworks.com",
      "description": "apac"
    },
    {
      "url": "https://jp1.api.central.arubanetworks.com",
      "description": "apaceast"
    },
    {
      "url": "https://au1.api.central.arubanetworks.com",
      "description": "apacsouth"
    },
    {
      "url": "https://ae1.api.central.arubanetworks.com",
      "description": "uaenorth1"
    },
    {
      "url": "https://cn1.api.central.arubanetworks.com.cn",
      "description": "china-prod"
    },
    {
      "url": "https://internal.api.central.arubanetworks.com",
      "description": "internal2"
    }
  ],
  "tags": [
    {
      "name": "Topology",
      "description": "Topology APIs to get Topology and device relationship information"
    }
  ],
  "paths": {
    "/network-monitoring/v1/isolated-devices/{site-id}": {
      "get": {
        "tags": [
          "Topology"
        ],
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "ID of the site for which details of isolated devices are requested.",
            "schema": {
              "$ref": "#/components/schemas/SiteId"
            },
            "example": "2345678"
          }
        ],
        "summary": "Returns isolated devices for the given site.",
        "description": "This API provides isolated devices for a specific site",
        "operationId": "getIsolatedNodes",
        "responses": {
          "200": {
            "$ref": "#/components/responses/IsolatedDevicesResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/neighbours/{serial-number}": {
      "get": {
        "tags": [
          "Topology"
        ],
        "parameters": [
          {
            "name": "serial-number",
            "in": "path",
            "required": true,
            "description": "Device serial number for which details are requested.",
            "schema": {
              "$ref": "#/components/schemas/Serial"
            },
            "example": "SG99KN003F"
          }
        ],
        "summary": "Returns details of neighbor devices for a given serial number.",
        "description": "This API provides details of neighbor devices for a specific device serial number",
        "operationId": "getNeighbours",
        "responses": {
          "200": {
            "$ref": "#/components/responses/NeighboursResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/topology/{site-id}": {
      "get": {
        "tags": [
          "Topology"
        ],
        "parameters": [
          {
            "name": "site-id",
            "in": "path",
            "required": true,
            "description": "ID of the site for which topology details are requested.",
            "schema": {
              "$ref": "#/components/schemas/SiteId"
            },
            "example": "2345678"
          }
        ],
        "summary": "Returns topology details for the given site.",
        "description": "This API provides topology for a specific site",
        "operationId": "getLinkTopology",
        "responses": {
          "200": {
            "$ref": "#/components/responses/TopologyResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/network-monitoring/v1/unmanaged-device/{mac-address}": {
      "get": {
        "tags": [
          "Topology"
        ],
        "parameters": [
          {
            "name": "site-id",
            "in": "query",
            "required": true,
            "description": "ID of the site for which unmanaged device details are requested.",
            "schema": {
              "$ref": "#/components/schemas/SiteId"
            },
            "example": "2345678"
          },
          {
            "name": "mac-address",
            "in": "path",
            "required": true,
            "description": "Device MAC for which details are requested.",
            "schema": {
              "$ref": "#/components/schemas/Mac"
            },
            "example": "a1:b2:c3:d4:e5:f6"
          }
        ],
        "summary": "Returns details for an unmanaged device of a given site.",
        "description": "This API provides unmanaged device details for a specific site and device mac",
        "operationId": "getUnmanagedDevice",
        "responses": {
          "200": {
            "$ref": "#/components/responses/UnmanagedDeviceResponse"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BadRequestError": {
        "type": "object",
        "description": "Bad request error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 400,
            "maximum": 400,
            "description": "HTTP status code.",
            "example": 400
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
            ],
            "maxLength": 128,
            "description": "Error code",
            "example": "HPE_GL_NETWORK_MONITORING_INVALID_INPUT"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "DebugId": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "A unique identifier used for troubleshooting purposes.",
        "example": "78f002e32e0cefba3d8cc94fa8179342"
      },
      "Devices": {
        "type": "object",
        "properties": {
          "serial": {
            "type": "string",
            "description": "Serial number of the device. For unmanaged devices, this value follows the format tpd_<mac>, where the mac address is used without colons",
            "example": "tpd_883a3094c340"
          },
          "mac": {
            "type": "string",
            "description": "MAC address of the device",
            "example": "88:3A:30:94:C3:40"
          },
          "name": {
            "type": "string",
            "description": "Name of the device",
            "example": "G-SG99KN3020"
          },
          "health": {
            "type": "string",
            "description": "Health status of the device",
            "example": "Good"
          },
          "model": {
            "type": "string",
            "description": "Model of the device",
            "example": "CX-6300M"
          },
          "deviceFunction": {
            "type": "string",
            "description": "Device Function of the device",
            "example": "Access Switch"
          },
          "deployment": {
            "type": "string",
            "description": "Deployment type of the device",
            "example": "Standalone"
          },
          "status": {
            "type": "string",
            "description": "Current status of the device",
            "example": "ONLINE"
          },
          "type": {
            "type": "string",
            "description": "Type of the device",
            "example": "Switch"
          },
          "ipv4": {
            "type": "string",
            "description": "IPv4 address of the device",
            "example": "10.97.64.117"
          },
          "healthReason": {
            "type": "string",
            "description": "Reason for the current health status",
            "example": null
          },
          "conductorSerial": {
            "type": "string",
            "description": "Serial number of the conductor (if applicable)",
            "example": null
          },
          "internet": {
            "type": "boolean",
            "description": "Indicates if the device has internet access",
            "example": false
          },
          "lastSeen": {
            "type": "number",
            "format": "float",
            "description": "Timestamp of the last time the device was seen",
            "example": 0
          }
        }
      },
      "ErrorMessage": {
        "type": "string",
        "format": "const",
        "maxLength": 512,
        "description": "Error message indicating the cause of the failure.",
        "example": "Error Message"
      },
      "ForbiddenRequest": {
        "type": "object",
        "description": "Forbidden error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 403,
            "maximum": 403,
            "example": 403,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_FORBIDDEN",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "Id": {
        "type": "string",
        "description": "Primary identifier for the resource.",
        "example": "00001"
      },
      "InternalServerError": {
        "type": "object",
        "description": "Error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 500,
            "maximum": 500,
            "example": 500,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "HPE_GL_NETWORK_MONITORING_INTERNAL_SERVER_ERROR"
            ],
            "format": "const",
            "maxLength": 128,
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has a prefix HPE_GL_.* For more details regarding error, please refer to the error message",
            "example": "HPE_GL_NETWORK_MONITORING_INTERNAL_SERVER_ERROR"
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "IsolatedNodes": {
        "type": "object",
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "type": {
            "type": "string",
            "description": "Type of topology or device group",
            "example": "IsolatedNodes"
          },
          "isolatedDevices": {
            "type": "array",
            "description": "List of isolated devices associated with the site",
            "items": {
              "type": "object",
              "properties": {
                "serial": {
                  "type": "string",
                  "description": "Serial number of the isolated device",
                  "example": "SG99KN3030"
                },
                "mac": {
                  "type": "string",
                  "description": "MAC address of the isolated device",
                  "example": "88:3A:30:94:C3:40"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the isolated device",
                  "example": "AP-01"
                },
                "health": {
                  "type": "string",
                  "description": "Health status of the device",
                  "example": "Good"
                },
                "type": {
                  "type": "string",
                  "description": "Type of the device",
                  "example": "Access Point"
                },
                "neighbour": {
                  "type": "string",
                  "description": "Serial number of the neighbour device if applicable",
                  "example": "SG99KN3001"
                },
                "model": {
                  "type": "string",
                  "description": "Model of the device",
                  "example": "AP-515"
                },
                "deviceFunction": {
                  "type": "string",
                  "description": "Device function of the device",
                  "example": "Access Point"
                },
                "deployment": {
                  "type": "string",
                  "description": "Deployment mode of the device",
                  "example": "Standalone"
                },
                "status": {
                  "type": "string",
                  "description": "Current operational status of the device.",
                  "example": "Online"
                },
                "ipv4": {
                  "type": "string",
                  "description": "IPv4 address of the device",
                  "example": "10.97.64.117"
                },
                "healthReason": {
                  "type": "string",
                  "description": "Reason for the current health status, if applicable.",
                  "example": "PORT_FLAPS_POOR"
                },
                "conductorSerial": {
                  "type": "string",
                  "description": "Serial number of the conductor associated with this device.",
                  "example": "CNM8K9W55J"
                },
                "lastSeen": {
                  "type": "number",
                  "format": "float",
                  "description": "Timestamp (epoch) of when the device was last seen.",
                  "example": 1698796432000
                }
              }
            }
          }
        }
      },
      "Links": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Source device serial or identifier",
            "example": "SG99KN3020"
          },
          "to": {
            "type": "string",
            "description": "Destination device serial or identifier",
            "example": "SG99KN4020"
          },
          "edgeType": {
            "type": "string",
            "description": "Type of link between the devices",
            "example": "ETHERNET"
          },
          "health": {
            "type": "string",
            "description": "Health status of the edge",
            "example": "Good"
          },
          "healthReason": {
            "type": "string",
            "description": "Reason for edge health status",
            "example": null
          },
          "speed": {
            "type": "number",
            "format": "float",
            "description": "Speed of the connection in Gbps",
            "example": 10
          },
          "stpState": {
            "type": "string",
            "description": "STP (Spanning Tree Protocol) state of the edge",
            "example": "FORWARDING"
          },
          "fromPortList": {
            "type": "array",
            "description": "List of ports on the source device involved in this edge",
            "items": {
              "$ref": "#/components/schemas/TopologyPort"
            }
          },
          "toPortList": {
            "type": "array",
            "description": "List of ports on the destination device involved in this edge",
            "items": {
              "$ref": "#/components/schemas/TopologyPort"
            }
          },
          "isSibling": {
            "type": "boolean",
            "description": "Indicates if the edge connects sibling devices",
            "example": false
          }
        }
      },
      "Mac": {
        "type": "string",
        "format": "const",
        "maxLength": 17,
        "description": "The device mac address.",
        "example": "a1:b2:c3:d4:e5:f6"
      },
      "Neighbours": {
        "type": "object",
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "type": {
            "type": "string",
            "description": "Type of topology or connection data",
            "example": "Neighbours"
          },
          "neighbours": {
            "type": "array",
            "description": "List of neighbouring devices linked to the given device",
            "items": {
              "type": "object",
              "properties": {
                "memberSerial": {
                  "type": "string",
                  "description": "Serial number of the member device",
                  "example": "SG90KMX08R"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the neighbouring device",
                  "example": "DISTR-2-VSX-Primary"
                },
                "type": {
                  "type": "string",
                  "description": "Type of neighbouring device",
                  "example": "Switch"
                },
                "serial": {
                  "type": "string",
                  "description": "Serial number of the neighbouring device. For unmanaged devices, this value follows the format tpd_<mac>, where the mac address is used without colons",
                  "example": "TW8AK7206R"
                },
                "health": {
                  "type": "string",
                  "description": "Health status of the neighbour",
                  "example": "Good"
                },
                "toPort": {
                  "type": "string",
                  "description": "Port of the neighbour device connected to the local device",
                  "example": "1/1/46"
                },
                "localPort": {
                  "type": "string",
                  "description": "Port on the local device connected to the neighbour",
                  "example": "1/1/23"
                },
                "siteId": {
                  "$ref": "#/components/schemas/SiteId",
                  "nullable": true,
                  "description": "Site id of the neighbour device. This value will be null for unmanaged neighbours.",
                  "example": "965498321"
                },
                "siteName": {
                  "$ref": "#/components/schemas/SiteName",
                  "nullable": true,
                  "description": "Site name of the neighbour device. This value will be null for unmanaged neighbours.",
                  "example": "Site1"
                }
              }
            }
          }
        }
      },
      "Serial": {
        "type": "string",
        "format": "const",
        "maxLength": 16,
        "description": "The device serial number.",
        "example": "AP00000001"
      },
      "SiteId": {
        "type": "string",
        "format": "uuid",
        "maxLength": 16,
        "description": "Id of a site where devices are associated.",
        "example": "24833497"
      },
      "SiteName": {
        "type": "string",
        "format": "const",
        "maxLength": 256,
        "description": "Name of the site where the device is located.",
        "example": "Site1"
      },
      "TooManyRequest": {
        "type": "object",
        "description": "Too many requests error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 429,
            "maximum": 429,
            "example": 429,
            "description": "HTTP status code."
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "Topology": {
        "type": "object",
        "description": "Topology details for a given site",
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "type": {
            "type": "string",
            "format": "const",
            "maxLength": 16,
            "description": "API type.",
            "example": "Topology"
          },
          "devices": {
            "$ref": "#/components/schemas/Devices"
          },
          "links": {
            "$ref": "#/components/schemas/Links"
          },
          "isolatedDevicesCount": {
            "type": "integer",
            "description": "The number of isolated devices in the topology.",
            "example": 3
          },
          "isolatedHealth": {
            "type": "string",
            "maxLength": 32,
            "description": "Overall health status of isolated devices.",
            "example": "Poor"
          }
        }
      },
      "TopologyPort": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "The index of the port",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "The name of the port",
            "example": "1/1/48"
          },
          "lag": {
            "type": "string",
            "description": "LAG (Link Aggregation Group) name if applicable",
            "example": "lag1"
          },
          "health": {
            "type": "string",
            "description": "The health status of the port",
            "example": "Good"
          },
          "healthReason": {
            "type": "string",
            "description": "The health reason of the port",
            "example": null
          }
        }
      },
      "Unauthorized": {
        "type": "object",
        "description": "Unauthorized error details returned from the server.",
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "properties": {
          "httpStatusCode": {
            "type": "integer",
            "minimum": 401,
            "maximum": 401,
            "description": "HTTP status code.",
            "example": 401
          },
          "errorCode": {
            "type": "string",
            "description": "* A unique machine-friendly, but human-readable identifier for the error. It has prefix HPE_GL_.* For more details regarding error please refer to error message",
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256
          },
          "message": {
            "$ref": "#/components/schemas/ErrorMessage"
          },
          "debugId": {
            "$ref": "#/components/schemas/DebugId"
          }
        }
      },
      "UnmanagedDevice": {
        "type": "object",
        "description": "Unmanaged device details for a given site",
        "required": [
          "id",
          "type"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Id"
          },
          "name": {
            "type": "string",
            "description": "Name of the unmanaged device",
            "example": "Unmanaged-Switch-01"
          },
          "serial": {
            "type": "string",
            "description": "This value follows the format tpd_<mac>, where the mac address is used without colons",
            "example": "tpd_883a3094c340"
          },
          "type": {
            "type": "string",
            "description": "Device type, e.g., Switch, Router, Access Point",
            "example": "Switch"
          },
          "mac": {
            "type": "string",
            "description": "MAC address of the device",
            "example": "00:1A:2B:3C:4D:5E"
          },
          "supportedCapability": {
            "type": "string",
            "description": "Capabilities supported by the device",
            "example": "L2, L3, PoE"
          },
          "enabledCapability": {
            "type": "string",
            "description": "Capabilities currently enabled on the device.",
            "example": "L2, PoE"
          },
          "description": {
            "type": "string",
            "description": "Additional description or notes about the device",
            "example": "Connected unmanaged edge switch"
          },
          "vendor": {
            "type": "string",
            "description": "Vendor or manufacturer of the device",
            "example": "Cisco"
          },
          "status": {
            "type": "string",
            "description": "Operational status of the device",
            "example": "Active"
          }
        }
      }
    },
    "responses": {
      "BadRequestError": {
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestError"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden: Access is denied.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenRequest"
            }
          }
        }
      },
      "InternalServerError": {
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "description": "Internal server error.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/InternalServerError"
            }
          }
        }
      },
      "IsolatedDevicesResponse": {
        "description": "Success",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/IsolatedNodes"
            }
          }
        }
      },
      "NeighboursResponse": {
        "description": "Success",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Neighbours"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Too Many Requests. Rate limit exceeded.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/TooManyRequest"
            }
          }
        }
      },
      "TopologyResponse": {
        "description": "Success",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Topology"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized request.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Unauthorized"
            }
          }
        }
      },
      "UnmanagedDeviceResponse": {
        "description": "Success",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnmanagedDevice"
            }
          }
        }
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "Request limit per hour."
      },
      "X-RateLimit-Remaining": {
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "maximum": 9223372036854776000
        },
        "description": "The number of requests left for the time window."
      },
      "X-RateLimit-Reset": {
        "schema": {
          "type": "string",
          "format": "date-time",
          "maxLength": 20
        },
        "description": "The date-time (RFC 3339 timestamp in UTC+0) at which the current rate limit window resets."
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2",
            "scopes": {}
          }
        }
      }
    }
  }
}
