{
  "openapi": "3.1.0",
  "info": {
    "title": "Bgp",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Bgp"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/bgp": {
      "get": {
        "description": "Border Gateway Protocol (BGP) is the standard exterior gateway\nprotocol (RFC 4271) for exchanging routing information between\nautonomous systems on the Internet and enterprise networks. BGP\nsupports IPv4/IPv6 unicast, EVPN (Ethernet VPN), and multicast\naddress families with advanced features including route reflection,\nconfederation, graceful restart, and multi-path load balancing.\nConfigure BGP global parameters, neighbor relationships, route\nredistribution, and address family-specific policies. Requires route\nmap, prefix list, keychain, and community list configurations for\nrouting policy enforcement. Use this API to retrieve BGP\nconfiguration.",
        "operationId": "readBgp",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaBgp_BgpSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing BGP router configuration",
        "tags": [
          "Bgp"
        ],
        "x-cliParam": {
          "commandName": "readBgpCmd",
          "commandUse": "bgp",
          "parentCommand": "readCmd",
          "pathToPrint": "/bgp/",
          "summary": "Read operation for bgp"
        }
      }
    },
    "/network-config/v1alpha1/bgp/{name}": {
      "get": {
        "description": "BGP routing profile containing a single router instance per\nAutonomous System. Each entity is identified by profile name.\nConfigure AS number, VRF instances, neighbors, route policies,\ntimers, and address families. Use these APIs to create, modify, or\ndelete a BGP profile.",
        "operationId": "readBgpProfileByID",
        "parameters": [
          {
            "description": "Name of the BGP Profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaBgp_BgpprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing BGP profile",
        "tags": [
          "Bgp"
        ],
        "x-cliParam": {
          "commandName": "readBgpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readBgpCmd",
          "pathToPrint": "/bgp/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "BGP routing profile containing a single router instance per\nAutonomous System. Each entity is identified by profile name.\nConfigure AS number, VRF instances, neighbors, route policies,\ntimers, and address families. Use these APIs to create, modify, or\ndelete a BGP profile.",
        "operationId": "replaceBgpProfileByID",
        "parameters": [
          {
            "description": "Name of the BGP Profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaBgp_BgpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or modify BGP profile",
        "tags": [
          "Bgp"
        ],
        "x-cliParam": {
          "commandName": "replaceBgpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceBgpCmd",
          "pathToPrint": "/bgp/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "BGP routing profile containing a single router instance per\nAutonomous System. Each entity is identified by profile name.\nConfigure AS number, VRF instances, neighbors, route policies,\ntimers, and address families. Use these APIs to create, modify, or\ndelete a BGP profile.",
        "operationId": "createBgpProfileByID",
        "parameters": [
          {
            "description": "Name of the BGP Profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaBgp_BgpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create BGP profile",
        "tags": [
          "Bgp"
        ],
        "x-cliParam": {
          "commandName": "createBgpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createBgpCmd",
          "pathToPrint": "/bgp/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "BGP routing profile containing a single router instance per\nAutonomous System. Each entity is identified by profile name.\nConfigure AS number, VRF instances, neighbors, route policies,\ntimers, and address families. Use these APIs to create, modify, or\ndelete a BGP profile.",
        "operationId": "deleteBgpProfileByID",
        "parameters": [
          {
            "description": "Name of the BGP Profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete BGP profile",
        "tags": [
          "Bgp"
        ],
        "x-cliParam": {
          "commandName": "deleteBgpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteBgpCmd",
          "pathToPrint": "/bgp/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "BGP routing profile containing a single router instance per\nAutonomous System. Each entity is identified by profile name.\nConfigure AS number, VRF instances, neighbors, route policies,\ntimers, and address families. Use these APIs to create, modify, or\ndelete a BGP profile.",
        "operationId": "updateBgpProfileByID",
        "parameters": [
          {
            "description": "Name of the BGP Profile.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaBgp_BgpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Modify BGP profile",
        "tags": [
          "Bgp"
        ],
        "x-cliParam": {
          "commandName": "updateBgpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateBgpCmd",
          "pathToPrint": "/bgp/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaBgp_BgpCommonGlobalNeighborAfiSafiDefaultOriginate": {
        "description": "Grouping used for configuration parameters relating\nto advertisement of default route to BGP neighbors.",
        "properties": {
          "default-originate-enable": {
            "default": "false",
            "description": "Originate default route to the neighbors",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "route-map": {
            "description": "Route-map to specify criteria to originate default",
            "format": "pattern",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-routemap-config:route-maps/ac-routemap-config:route-map/ac-routemap-config:route-map-name",
            "x-patternSources": "route-map-name",
            "x-patterns": "'[^\\s]*'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaBgp_BgpCommonGlobalNeighborAfiSafiDefaultOriginateGet": {
        "description": "Grouping used for configuration parameters relating\nto advertisement of default route to BGP neighbors.",
        "properties": {
          "default-originate-enable": {
            "default": "false",
            "description": "Originate default route to the neighbors",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "route-map": {
            "description": "Route-map to specify criteria to originate default",
            "format": "pattern",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-routemap-config:route-maps/ac-routemap-config:route-map/ac-routemap-config:route-map-name",
            "x-patternSources": "route-map-name",
            "x-patterns": "'[^\\s]*'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaBgp_BgpCommonGlobalNeighborAfiSafiMaxPrefixes": {
        "description": "Grouping used for configuration parameters relating\nto BGP neighbor specific limit for maximum prefixes.",
        "properties": {
          "action": {
            "description": "The action to be taken when maximum prefix limit is reached.",
            "enum": [
              "NONE",
              "WARNING_ONLY",
              "RESTART",
              "BLOCK"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BLOCK": "Block the addition of routes, when the number\nof prefixes exceeds the maximum limit.",
              "NONE": "No action is taken, when the number of prefixes\nexceeds the maximum limit.",
              "RESTART": "Restart the BGP session, when the number of\nprefixes exceeds the maximum limit.",
              "WARNING_ONLY": "Only generate a warning message, when the\nnumber of prefixes exceeds the maximum limit."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "The action to be taken when maximum prefix limit is reached."
          },
          "limit": {
            "description": "The maximum number of prefixes that can be learnt from\nthe BGP neighbor.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "restart-time": {
            "description": "Time to wait after maximum prefix limit is reached to restart\nthe session with the BGP neighbor.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 30,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "threshold": {
            "default": "75",
            "description": "Threshold at which a warning message has to be generated.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaBgp_BgpCommonGlobalNeighborAfiSafiMaxPrefixesGet": {
        "description": "Grouping used for configuration parameters relating\nto BGP neighbor specific limit for maximum prefixes.",
        "properties": {
          "action": {
            "description": "The action to be taken when maximum prefix limit is reached.",
            "enum": [
              "NONE",
              "WARNING_ONLY",
              "RESTART",
              "BLOCK"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BLOCK": "Block the addition of routes, when the number\nof prefixes exceeds the maximum limit.",
              "NONE": "No action is taken, when the number of prefixes\nexceeds the maximum limit.",
              "RESTART": "Restart the BGP session, when the number of\nprefixes exceeds the maximum limit.",
              "WARNING_ONLY": "Only generate a warning message, when the\nnumber of prefixes exceeds the maximum limit."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "The action to be taken when maximum prefix limit is reached."
          },
          "limit": {
            "description": "The maximum number of prefixes that can be learnt from\nthe BGP neighbor.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "restart-time": {
            "description": "Time to wait after maximum prefix limit is reached to restart\nthe session with the BGP neighbor.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 30,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "threshold": {
            "default": "75",
            "description": "Threshold at which a warning message has to be generated.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaBgp_BgpCommonGlobalNeighborTimers": {
        "description": "Grouping used for configuration parameters relating\nto BGP global and BGP neighbor specific timers.",
        "properties": {
          "connect-retry": {
            "default": "120",
            "description": "BGP connect-retry time in seconds.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hold-time": {
            "default": "180",
            "description": "BGP hold time in seconds.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "keep-alive": {
            "default": "60",
            "description": "BGP keep-alive time in seconds.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaBgp_BgpCommonGlobalNeighborTimersGet": {
        "description": "Grouping used for configuration parameters relating\nto BGP global and BGP neighbor specific timers.",
        "properties": {
          "connect-retry": {
            "default": "120",
            "description": "BGP connect-retry time in seconds.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "hold-time": {
            "default": "180",
            "description": "BGP hold time in seconds.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "keep-alive": {
            "default": "60",
            "description": "BGP keep-alive time in seconds.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobal": {
        "description": "Global configuration options for the BGP router.",
        "properties": {
          "aggregate-address-split-horizon": {
            "default": "true",
            "description": "If enabled, BGP will not advertise the aggregated route back to\nthe peer, that advertises the same network.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "allow-own-as": {
            "description": "Specify the number of occurrences of the local BGP speaker's\nAS that can occur within the AS_PATH before it is rejected.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "as-extended-enable": {
            "default": "true",
            "description": "Enable extended-as 4byte configuration in range 65536-4294967295.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "as-notation": {
            "description": "Specifies the representation of Four-Octet AS Numbers in show commands.",
            "enum": [
              "DOTTED",
              "DOTTED_PLUS",
              "PLAIN_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DOTTED": "The AS numbers greater than 65535 should be displayed in AA.NN format",
              "DOTTED_PLUS": "All the AS numbers should be displayed in AA.NN format",
              "PLAIN_TEXT": "All the AS numbers should be displayed in plaintext format"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Specifies the representation of Four-Octet AS Numbers"
          },
          "as-vrf": {
            "description": "Key combination of as and vrf separated by ~",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "client-to-client-reflection": {
            "default": "true",
            "description": "Enable or disable reflection of routes between route-reflector\nclients. By default, if route-reflector is configured, routes\nfrom a client are reflected to other clients.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "disable": {
            "description": "Disable the BGP router.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enable-bgp-update-group": {
            "default": "false",
            "description": "Enable BGP update groups.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable-snmp-traps": {
            "default": "false",
            "description": "Enable SNMP trap generation for BGP related events.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "fast-external-fallover": {
            "default": "true",
            "description": "Enable fast fall-over for directly connected eBGP sessions.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "max-as-limit": {
            "default": "32",
            "description": "Limit on the maximum AS numbers allowed in the routes learned from\nthe peers",
            "format": "int32",
            "maximum": 32,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nonstop": {
            "default": "false",
            "description": "Enable or disable nonstop forwarding for BGP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "open-on-accept": {
            "default": "false",
            "description": "Configure BGP to send OPEN message immediately when the\nTCP connection has been extablished for configured peers.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "route-reflector-cluster-id": {
            "description": "route-reflector cluster id to use when local router is\nconfigured as a route reflector.",
            "oneOf": [
              {
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "router-id": {
            "description": "Router id of the router - an unsigned 32-bit integer\nexpressed in dotted quad notation.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "[ipv4-router-id-address, ipv4-address]",
            "x-patterns": "['((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[1-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9]))|((0\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[1-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9]))|(0\\.0\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[1-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9]))|(0\\.0\\.0\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[1-9])))', '([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}']",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          }
        }
      },
      "ArubaBgp_BgpGlobalAfiSafi": {
        "description": "List of address-families associated with the BGP instance",
        "properties": {
          "global-afi-safi": {
            "description": "AFI,SAFI configuration available for the\nneighbor or group",
            "items": {
              "properties": {
                "address-family": {
                  "description": "Reference to the AFI-SAFI name used as a key\nfor the AFI-SAFI list",
                  "enum": [
                    "IPV4_UNICAST",
                    "IPV6_UNICAST",
                    "L2VPN_EVPN"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "IPV4_UNICAST": "IPv4 unicast (AFI,SAFI = 1,1)",
                    "IPV6_UNICAST": "IPv6 unicast (AFI,SAFI = 2,1)",
                    "L2VPN_EVPN": "L2VPN EVPN (AFI,SAFI = 25,70)"
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "AFI (Address Family Identifier) and\nSAFI (Sub-Address Family Identifier) combinations"
                },
                "global-ipv4-unicast": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalBgpDampening"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalIpv4Network"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalIpv4Redistribute"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalIpv4AggregateAddressGrouping"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalAfiSafiMaxPaths"
                    }
                  ],
                  "description": "IPv4 unicast configuration."
                },
                "global-ipv6-unicast": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalBgpDampening"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalIpv6Network"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalIpv6Redistribute"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalIpv6AggregateAddressGrouping"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalAfiSafiMaxPaths"
                    }
                  ],
                  "description": "IPv6 unicast configuration.",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "addressFamily"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalAfiSafiGet": {
        "description": "List of address-families associated with the BGP instance",
        "properties": {
          "global-afi-safi": {
            "description": "AFI,SAFI configuration available for the\nneighbor or group",
            "items": {
              "properties": {
                "address-family": {
                  "description": "Reference to the AFI-SAFI name used as a key\nfor the AFI-SAFI list",
                  "enum": [
                    "IPV4_UNICAST",
                    "IPV6_UNICAST",
                    "L2VPN_EVPN"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "IPV4_UNICAST": "IPv4 unicast (AFI,SAFI = 1,1)",
                    "IPV6_UNICAST": "IPv6 unicast (AFI,SAFI = 2,1)",
                    "L2VPN_EVPN": "L2VPN EVPN (AFI,SAFI = 25,70)"
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "AFI (Address Family Identifier) and\nSAFI (Sub-Address Family Identifier) combinations"
                },
                "global-ipv4-unicast": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalBgpDampeningGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalIpv4NetworkGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalIpv4RedistributeGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalIpv4AggregateAddressGroupingGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalAfiSafiMaxPathsGet"
                    }
                  ],
                  "description": "IPv4 unicast configuration."
                },
                "global-ipv6-unicast": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalBgpDampeningGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalIpv6NetworkGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalIpv6RedistributeGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalIpv6AggregateAddressGroupingGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaBgp_BgpGlobalAfiSafiMaxPathsGet"
                    }
                  ],
                  "description": "IPv6 unicast configuration.",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "addressFamily"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalAfiSafiMaxPaths": {
        "description": "Number of BGP Paths to a network destination",
        "properties": {
          "maximum-paths": {
            "default": "4",
            "description": "Maximum number of parallel paths to consider when using\nBGP multipath. The default is 4.",
            "format": "int32",
            "maximum": 32,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalAfiSafiMaxPathsGet": {
        "description": "Number of BGP Paths to a network destination",
        "properties": {
          "maximum-paths": {
            "default": "4",
            "description": "Maximum number of parallel paths to consider when using\nBGP multipath. The default is 4.",
            "format": "int32",
            "maximum": 32,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalBase": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaBgp_BgpGlobal"
          },
          {
            "$ref": "#/components/schemas/ArubaBgp_BgpGlobalLoggingOptions"
          },
          {
            "$ref": "#/components/schemas/ArubaBgp_BgpGlobalUseMultiplePaths"
          },
          {
            "$ref": "#/components/schemas/ArubaBgp_BgpGlobalAfiSafi"
          }
        ],
        "description": "Global configuration parameters for the BGP router",
        "properties": {
          "confederation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpGlobalConfederation"
              }
            ],
            "description": "BGP Confederation configuration. A BGP Confederation enables dividing a large Autonomous System into smaller sub-AS groups while maintaining the logical appearance of a single AS to external peers. This feature improves scalability by confining iBGP relationships within sub-AS groups while presenting as a single AS externally",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "default-bgp-attributes": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpGlobalDefaultBgpAttributes"
              }
            ],
            "description": "Default BGP administrative distance configuration. Administrative Distance (AD) determines route preference when multiple routing protocols offer routes to the same destination. This configuration sets default distance values for routes learned from external BGP (eBGP), internal BGP (iBGP), and locally configured sources. Lower distances indicate higher preference. Typical defaults are: eBGP 20, iBGP 200, local 200"
          },
          "default-originate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpCommonGlobalNeighborAfiSafiDefaultOriginate"
              }
            ],
            "description": "Originate default route to BGP neighbors",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "graceful-restart": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpGlobalGracefulRestart"
              }
            ],
            "description": "BGP Graceful Restart (GR) mechanism configuration. GR enables high availability during planned and unplanned BGP process restarts by preserving BGP routes and maintaining data plane forwarding while control plane sessions are reestablished. Supporting routers recognize the restart and gracefully handle route withdrawal and re-advertisement, minimizing traffic disruption"
          },
          "max-prefix-options": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpCommonGlobalNeighborAfiSafiMaxPrefixes"
              }
            ],
            "description": "Parameters relating to the limit for maximum prefix\nconfiguration options.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "route-selection-options": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpGlobalRouteSelectionOptions"
              }
            ],
            "description": "Route Selection Options for BGP best path computation. Configures BGP best path selection algorithms and tie-breaker rules including AS path length comparison, Multi-Exit Discriminator (MED) handling, route reflector cluster ID behavior, and path origin validation. These options directly influence how BGP selects the preferred path among multiple routes to the same destination, affecting traffic engineering, load balancing, and failover behavior",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "timers": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpCommonGlobalNeighborTimers"
              }
            ],
            "description": "BGP Timers configuration block for controlling BGP session establishment, maintenance, and failure detection. Includes keep-alive timer (frequency of keepalive messages to maintain active sessions), hold-time (maximum time between consecutive BGP messages before session termination), and connect-retry timer (wait time before attempting reconnection after session failure). These timers are critical for tuning BGP convergence speed and network stability",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalBaseGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaBgp_BgpGlobalGet"
          },
          {
            "$ref": "#/components/schemas/ArubaBgp_BgpGlobalLoggingOptionsGet"
          },
          {
            "$ref": "#/components/schemas/ArubaBgp_BgpGlobalUseMultiplePathsGet"
          },
          {
            "$ref": "#/components/schemas/ArubaBgp_BgpGlobalAfiSafiGet"
          }
        ],
        "description": "Global configuration parameters for the BGP router",
        "properties": {
          "confederation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpGlobalConfederationGet"
              }
            ],
            "description": "BGP Confederation configuration. A BGP Confederation enables dividing a large Autonomous System into smaller sub-AS groups while maintaining the logical appearance of a single AS to external peers. This feature improves scalability by confining iBGP relationships within sub-AS groups while presenting as a single AS externally",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "default-bgp-attributes": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpGlobalDefaultBgpAttributesGet"
              }
            ],
            "description": "Default BGP administrative distance configuration. Administrative Distance (AD) determines route preference when multiple routing protocols offer routes to the same destination. This configuration sets default distance values for routes learned from external BGP (eBGP), internal BGP (iBGP), and locally configured sources. Lower distances indicate higher preference. Typical defaults are: eBGP 20, iBGP 200, local 200"
          },
          "default-originate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpCommonGlobalNeighborAfiSafiDefaultOriginateGet"
              }
            ],
            "description": "Originate default route to BGP neighbors",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "graceful-restart": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpGlobalGracefulRestartGet"
              }
            ],
            "description": "BGP Graceful Restart (GR) mechanism configuration. GR enables high availability during planned and unplanned BGP process restarts by preserving BGP routes and maintaining data plane forwarding while control plane sessions are reestablished. Supporting routers recognize the restart and gracefully handle route withdrawal and re-advertisement, minimizing traffic disruption"
          },
          "max-prefix-options": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpCommonGlobalNeighborAfiSafiMaxPrefixesGet"
              }
            ],
            "description": "Parameters relating to the limit for maximum prefix\nconfiguration options.",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "route-selection-options": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpGlobalRouteSelectionOptionsGet"
              }
            ],
            "description": "Route Selection Options for BGP best path computation. Configures BGP best path selection algorithms and tie-breaker rules including AS path length comparison, Multi-Exit Discriminator (MED) handling, route reflector cluster ID behavior, and path origin validation. These options directly influence how BGP selects the preferred path among multiple routes to the same destination, affecting traffic engineering, load balancing, and failover behavior",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "timers": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaBgp_BgpCommonGlobalNeighborTimersGet"
              }
            ],
            "description": "BGP Timers configuration block for controlling BGP session establishment, maintenance, and failure detection. Includes keep-alive timer (frequency of keepalive messages to maintain active sessions), hold-time (maximum time between consecutive BGP messages before session termination), and connect-retry timer (wait time before attempting reconnection after session failure). These timers are critical for tuning BGP convergence speed and network stability",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalBgpDampening": {
        "description": "Configuration relating to BGP route-flap dampening.",
        "properties": {
          "bgp-dampening": {
            "description": "Parameters relating to BGP route-flap dampening.",
            "properties": {
              "enable": {
                "description": "To enable/disable Route-flap dampening",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "half-life": {
                "description": "Amount of time (in minutes) that must elapse to reduce\nthe penalty by one half.",
                "format": "int32",
                "maximum": 45,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "max-suppress-time": {
                "description": "The maximum amount of time (in minutes) that a route can be suppressed.",
                "format": "int32",
                "maximum": 255,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "reuse-limit": {
                "description": "If the penalty is greater than the suppress limit,\nthe route is suppressed.",
                "format": "int32",
                "maximum": 20000,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "route-map": {
                "description": "The route-map to be applied for BGP route-flap dampening.",
                "format": "pattern",
                "maxLength": 80,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-routemap-config:route-maps/ac-routemap-config:route-map/ac-routemap-config:route-map-name",
                "x-patternSources": "route-map-name",
                "x-patterns": "'[^\\s]*'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "suppress-limit": {
                "description": "If the penalty is greater than the suppress limit,\nthe route is suppressed.",
                "format": "int32",
                "maximum": 20000,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "required": [
              "half-life",
              "reuse-limit",
              "suppress-limit",
              "max-suppress-time"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalBgpDampeningGet": {
        "description": "Configuration relating to BGP route-flap dampening.",
        "properties": {
          "bgp-dampening": {
            "description": "Parameters relating to BGP route-flap dampening.",
            "properties": {
              "enable": {
                "description": "To enable/disable Route-flap dampening",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "half-life": {
                "description": "Amount of time (in minutes) that must elapse to reduce\nthe penalty by one half.",
                "format": "int32",
                "maximum": 45,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "max-suppress-time": {
                "description": "The maximum amount of time (in minutes) that a route can be suppressed.",
                "format": "int32",
                "maximum": 255,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "reuse-limit": {
                "description": "If the penalty is greater than the suppress limit,\nthe route is suppressed.",
                "format": "int32",
                "maximum": 20000,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "route-map": {
                "description": "The route-map to be applied for BGP route-flap dampening.",
                "format": "pattern",
                "maxLength": 80,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-routemap-config:route-maps/ac-routemap-config:route-map/ac-routemap-config:route-map-name",
                "x-patternSources": "route-map-name",
                "x-patterns": "'[^\\s]*'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "suppress-limit": {
                "description": "If the penalty is greater than the suppress limit,\nthe route is suppressed.",
                "format": "int32",
                "maximum": 20000,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "required": [
              "half-life",
              "reuse-limit",
              "suppress-limit",
              "max-suppress-time"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalConfederation": {
        "description": "Configuration options specifying parameters when the local\nrouter is within an autonomous system which is part of a BGP\nconfederation.",
        "properties": {
          "identifier": {
            "description": "Confederation identifier for the autonomous system.\nSetting the identifier indicates that the local-AS is part\nof a BGP confederation.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "member-as": {
            "description": "Remote autonomous systems that are to be treated\nas part of the local confederation.",
            "items": {
              "description": "Remote autonomous systems that are to be treated\nas part of the local confederation.",
              "format": "int64",
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "A numeric identifier for an autonomous system (AS). An AS is a\nsingle domain, under common administrative control, which forms\na unit of routing policy. Autonomous systems can be assigned a\n2-byte identifier, or a 4-byte identifier which may have public\nor private scope. Private ASNs are assigned from dedicated\nranges. Public ASNs are assigned from ranges allocated by IANA\nto the regional internet registries (RIRs)."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaBgp_BgpGlobalConfederationGet": {
        "description": "Configuration options specifying parameters when the local\nrouter is within an autonomous system which is part of a BGP\nconfederation.",
        "properties": {
          "identifier": {
            "description": "Confederation identifier for the autonomous system.\nSetting the identifier indicates that the local-AS is part\nof a BGP confederation.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "member-as": {
            "description": "Remote autonomous systems that are to be treated\nas part of the local confederation.",
            "items": {
              "description": "Remote autonomous systems that are to be treated\nas part of the local confederation.",
              "format": "int64",
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "x-supportedDeviceType": [
                "Switch CX"
              ],
              "x-typeDescription": "A numeric identifier for an autonomous system (AS). An AS is a\nsingle domain, under common administrative control, which forms\na unit of routing policy. Autonomous systems can be assigned a\n2-byte identifier, or a 4-byte identifier which may have public\nor private scope. Private ASNs are assigned from dedicated\nranges. Public ASNs are assigned from ranges allocated by IANA\nto the regional internet registries (RIRs)."
            },
            "maxItems": 2147483647,
            "type": "array"
          }
        }
      },
      "ArubaBgp_BgpGlobalDefaultBgpAttributes": {
        "description": "Configuration options relating to the default metric,\nadministrative distance or preference assigned to routes\nreceived from different sources (external, internal, and local).",
        "properties": {
          "external-route-distance": {
            "description": "Administrative distance for routes learned from external\nBGP (eBGP).",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "internal-route-distance": {
            "description": "Administrative distance for routes learned from internal\nBGP (iBGP).",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "local-preference": {
            "default": "100",
            "description": "Local preference for BGP routes.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "local-route-distance": {
            "description": "Administrative distance for local routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "metric": {
            "description": "Metric for BGP routes.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalDefaultBgpAttributesGet": {
        "description": "Configuration options relating to the default metric,\nadministrative distance or preference assigned to routes\nreceived from different sources (external, internal, and local).",
        "properties": {
          "external-route-distance": {
            "description": "Administrative distance for routes learned from external\nBGP (eBGP).",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "internal-route-distance": {
            "description": "Administrative distance for routes learned from internal\nBGP (iBGP).",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "local-preference": {
            "default": "100",
            "description": "Local preference for BGP routes.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "local-route-distance": {
            "description": "Administrative distance for local routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "metric": {
            "description": "Metric for BGP routes.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalGet": {
        "description": "Global configuration options for the BGP router.",
        "properties": {
          "aggregate-address-split-horizon": {
            "default": "true",
            "description": "If enabled, BGP will not advertise the aggregated route back to\nthe peer, that advertises the same network.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "allow-own-as": {
            "description": "Specify the number of occurrences of the local BGP speaker's\nAS that can occur within the AS_PATH before it is rejected.",
            "format": "int32",
            "maximum": 10,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "as-extended-enable": {
            "default": "true",
            "description": "Enable extended-as 4byte configuration in range 65536-4294967295.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "as-notation": {
            "description": "Specifies the representation of Four-Octet AS Numbers in show commands.",
            "enum": [
              "DOTTED",
              "DOTTED_PLUS",
              "PLAIN_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DOTTED": "The AS numbers greater than 65535 should be displayed in AA.NN format",
              "DOTTED_PLUS": "All the AS numbers should be displayed in AA.NN format",
              "PLAIN_TEXT": "All the AS numbers should be displayed in plaintext format"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Specifies the representation of Four-Octet AS Numbers"
          },
          "as-vrf": {
            "description": "Key combination of as and vrf separated by ~",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "client-to-client-reflection": {
            "default": "true",
            "description": "Enable or disable reflection of routes between route-reflector\nclients. By default, if route-reflector is configured, routes\nfrom a client are reflected to other clients.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "disable": {
            "description": "Disable the BGP router.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enable-bgp-update-group": {
            "default": "false",
            "description": "Enable BGP update groups.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable-snmp-traps": {
            "default": "false",
            "description": "Enable SNMP trap generation for BGP related events.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "fast-external-fallover": {
            "default": "true",
            "description": "Enable fast fall-over for directly connected eBGP sessions.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "max-as-limit": {
            "default": "32",
            "description": "Limit on the maximum AS numbers allowed in the routes learned from\nthe peers",
            "format": "int32",
            "maximum": 32,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nonstop": {
            "default": "false",
            "description": "Enable or disable nonstop forwarding for BGP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "open-on-accept": {
            "default": "false",
            "description": "Configure BGP to send OPEN message immediately when the\nTCP connection has been extablished for configured peers.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "route-reflector-cluster-id": {
            "description": "route-reflector cluster id to use when local router is\nconfigured as a route reflector.",
            "oneOf": [
              {
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "router-id": {
            "description": "Router id of the router - an unsigned 32-bit integer\nexpressed in dotted quad notation.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "[ipv4-router-id-address, ipv4-address]",
            "x-patterns": "['((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[1-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9]))|((0\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[1-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9]))|(0\\.0\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[1-9])\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[0-9]))|(0\\.0\\.0\\.(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[1-9][0-9]|[1-9])))', '([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}']",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          }
        }
      },
      "ArubaBgp_BgpGlobalGracefulRestart": {
        "description": "Configuration parameters relating to BGP graceful restart.",
        "properties": {
          "graceful-restart-enable": {
            "default": "false",
            "description": "Enable graceful restart for BGP instance",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "restart-time": {
            "description": "Estimated time (in seconds) for the local BGP speaker to\nrestart a session. This value is advertise in the graceful\nrestart BGP capability.  This is a 12-bit value, referred to\nas Restart Time in RFC4724.  Per RFC4724, the suggested\ndefault value is <= the hold-time value.",
            "format": "int32",
            "maximum": 4095,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "stale-routes-time": {
            "description": "An upper-bound on the time thate stale routes will be\nretained by a router after a session is restarted. If an\nEnd-of-RIB (EOR) marker is received prior to this timer\nexpiring stale-routes will be flushed upon its receipt - if\nno EOR is received, then when this timer expires stale paths\nwill be purged. This timer is referred to as the\nSelection_Deferral_Timer in RFC4724",
            "format": "int32",
            "maximum": 3600,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalGracefulRestartGet": {
        "description": "Configuration parameters relating to BGP graceful restart.",
        "properties": {
          "graceful-restart-enable": {
            "default": "false",
            "description": "Enable graceful restart for BGP instance",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "restart-time": {
            "description": "Estimated time (in seconds) for the local BGP speaker to\nrestart a session. This value is advertise in the graceful\nrestart BGP capability.  This is a 12-bit value, referred to\nas Restart Time in RFC4724.  Per RFC4724, the suggested\ndefault value is <= the hold-time value.",
            "format": "int32",
            "maximum": 4095,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "stale-routes-time": {
            "description": "An upper-bound on the time thate stale routes will be\nretained by a router after a session is restarted. If an\nEnd-of-RIB (EOR) marker is received prior to this timer\nexpiring stale-routes will be flushed upon its receipt - if\nno EOR is received, then when this timer expires stale paths\nwill be purged. This timer is referred to as the\nSelection_Deferral_Timer in RFC4724",
            "format": "int32",
            "maximum": 3600,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalIpv4AggregateAddressGrouping": {
        "description": "Configurations relating to BGP IPv4 aggregate addresses.",
        "properties": {
          "aggregate-address": {
            "description": "Aggregate addresses keyed by the IPv4 address and mask.",
            "items": {
              "properties": {
                "address": {
                  "description": "Aggregate address",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-prefix",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                },
                "advertise-map": {
                  "description": "Route-map to select the routes to be advertised.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Switch CX"
                  ]
                },
                "aggregate-address-mask": {
                  "description": "Aggregate IPv4 mask for GW.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "aggregate-address-sources": {
                  "description": "Aggregate the routes sourced by different types of protocols.",
                  "enum": [
                    "CLOUD_OVERLAY",
                    "BGP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BGP": "BGP routes",
                    "CLOUD_OVERLAY": "Overlay routes"
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Type of source protocol to aggregate."
                },
                "aggregate-address-value": {
                  "description": "Aggregate IPv4 address for GW.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "aggregate-source-route-map": {
                  "description": "Route-map for aggregate routes sourced by overlay.",
                  "format": "pattern",
                  "maxLength": 80,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-routemap-config:route-maps/ac-routemap-config:route-map/ac-routemap-config:route-map-name",
                  "x-patternSources": "route-map-name",
                  "x-patterns": "'[^\\s]*'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "as-set": {
                  "description": "Generate AS set path information",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "attribute-map": {
                  "description": "Route-map to set attributes of the aggregate-route.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "summary-only": {
                  "description": "Filter more specific routes from updates",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "suppress-map": {
                  "description": "Route-map to select the routes to be suppressed.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "address"
            ],
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalIpv4AggregateAddressGroupingGet": {
        "description": "Configurations relating to BGP IPv4 aggregate addresses.",
        "properties": {
          "aggregate-address": {
            "description": "Aggregate addresses keyed by the IPv4 address and mask.",
            "items": {
              "properties": {
                "address": {
                  "description": "Aggregate address",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-prefix",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                },
                "advertise-map": {
                  "description": "Route-map to select the routes to be advertised.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Switch CX"
                  ]
                },
                "aggregate-address-mask": {
                  "description": "Aggregate IPv4 mask for GW.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "aggregate-address-sources": {
                  "description": "Aggregate the routes sourced by different types of protocols.",
                  "enum": [
                    "CLOUD_OVERLAY",
                    "BGP"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "BGP": "BGP routes",
                    "CLOUD_OVERLAY": "Overlay routes"
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "Type of source protocol to aggregate."
                },
                "aggregate-address-value": {
                  "description": "Aggregate IPv4 address for GW.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "aggregate-source-route-map": {
                  "description": "Route-map for aggregate routes sourced by overlay.",
                  "format": "pattern",
                  "maxLength": 80,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-routemap-config:route-maps/ac-routemap-config:route-map/ac-routemap-config:route-map-name",
                  "x-patternSources": "route-map-name",
                  "x-patterns": "'[^\\s]*'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "as-set": {
                  "description": "Generate AS set path information",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "attribute-map": {
                  "description": "Route-map to set attributes of the aggregate-route.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "summary-only": {
                  "description": "Filter more specific routes from updates",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "suppress-map": {
                  "description": "Route-map to select the routes to be suppressed.",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "address"
            ],
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalIpv4Network": {
        "description": "Configurations relating to BGP IPv4 networks.",
        "properties": {
          "network": {
            "description": "Specify a network to announce via BGP",
            "items": {
              "properties": {
                "network-address": {
                  "description": "IPv4 BGP network address for GW.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "network-mask": {
                  "description": "IPv4 BGP network mask for GW.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "prefix": {
                  "description": "IPv4 BGP network address.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-prefix",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                },
                "route-map": {
                  "description": "Route-map to modify the attributes",
                  "format": "pattern",
                  "maxLength": 80,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-routemap-config:route-maps/ac-routemap-config:route-map/ac-routemap-config:route-map-name",
                  "x-patternSources": "route-map-name",
                  "x-patterns": "'[^\\s]*'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "prefix"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalIpv4NetworkGet": {
        "description": "Configurations relating to BGP IPv4 networks.",
        "properties": {
          "network": {
            "description": "Specify a network to announce via BGP",
            "items": {
              "properties": {
                "network-address": {
                  "description": "IPv4 BGP network address for GW.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "network-mask": {
                  "description": "IPv4 BGP network mask for GW.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "prefix": {
                  "description": "IPv4 BGP network address.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-prefix",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                },
                "route-map": {
                  "description": "Route-map to modify the attributes",
                  "format": "pattern",
                  "maxLength": 80,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-routemap-config:route-maps/ac-routemap-config:route-map/ac-routemap-config:route-map-name",
                  "x-patternSources": "route-map-name",
                  "x-patterns": "'[^\\s]*'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "prefix"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalIpv4Redistribute": {
        "description": "Configurations relating to redistribution rules for IPv4 routes.",
        "properties": {
          "redistribute": {
            "description": "Specify redistribution rule",
            "items": {
              "properties": {
                "ospf-id": {
                  "description": "OSPFV2 process ID.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "route-map": {
                  "description": "Route-map to modify the attributes",
                  "format": "pattern",
                  "maxLength": 80,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-routemap-config:route-maps/ac-routemap-config:route-map/ac-routemap-config:route-map-name",
                  "x-patternSources": "route-map-name",
                  "x-patterns": "'[^\\s]*'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS",
                    "Gateway"
                  ]
                },
                "route-type": {
                  "description": "The type of the route to be redistributed to BGP.",
                  "enum": [
                    "CONNECTED",
                    "LOCAL_LOOPBACK",
                    "STATIC",
                    "RIP",
                    "HOST_ROUTES",
                    "OSPF",
                    "OSPFV3",
                    "CLOUD_OVERLAY",
                    "CRYPTO_CFGSET",
                    "RAPNG_VPN",
                    "OSPF_INTRA_AREA",
                    "OSPF_INTER_AREA",
                    "OSPF_EXTERNAL_TYPE_1",
                    "OSPF_EXTERNAL_TYPE_2"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CLOUD_OVERLAY": "Overlay routes",
                    "CONNECTED": "Connected routes",
                    "CRYPTO_CFGSET": "Crypto-cfgset routes",
                    "HOST_ROUTES": "Host routes",
                    "LOCAL_LOOPBACK": "Local routes on loopback interfaces",
                    "OSPF": "OSPF routes",
                    "OSPFV3": "OSPF routes",
                    "OSPF_EXTERNAL_TYPE_1": "OSPF external type-1 routes",
                    "OSPF_EXTERNAL_TYPE_2": "OSPF external type-2 routes",
                    "OSPF_INTER_AREA": "OSPF inter-area routes",
                    "OSPF_INTRA_AREA": "OSPF intra-area routes",
                    "RAPNG_VPN": "RAPNG-VPN(Remote Access Point Next Gen - Virtual Private Network) routes",
                    "RIP": "Routing Information Protocol routes",
                    "STATIC": "Static routes"
                  },
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS",
                    "Gateway"
                  ],
                  "x-typeDescription": "Types of redistribute routes to BGP."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "routeType"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalIpv4RedistributeGet": {
        "description": "Configurations relating to redistribution rules for IPv4 routes.",
        "properties": {
          "redistribute": {
            "description": "Specify redistribution rule",
            "items": {
              "properties": {
                "ospf-id": {
                  "description": "OSPFV2 process ID.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "route-map": {
                  "description": "Route-map to modify the attributes",
                  "format": "pattern",
                  "maxLength": 80,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-routemap-config:route-maps/ac-routemap-config:route-map/ac-routemap-config:route-map-name",
                  "x-patternSources": "route-map-name",
                  "x-patterns": "'[^\\s]*'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS",
                    "Gateway"
                  ]
                },
                "route-type": {
                  "description": "The type of the route to be redistributed to BGP.",
                  "enum": [
                    "CONNECTED",
                    "LOCAL_LOOPBACK",
                    "STATIC",
                    "RIP",
                    "HOST_ROUTES",
                    "OSPF",
                    "OSPFV3",
                    "CLOUD_OVERLAY",
                    "CRYPTO_CFGSET",
                    "RAPNG_VPN",
                    "OSPF_INTRA_AREA",
                    "OSPF_INTER_AREA",
                    "OSPF_EXTERNAL_TYPE_1",
                    "OSPF_EXTERNAL_TYPE_2"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CLOUD_OVERLAY": "Overlay routes",
                    "CONNECTED": "Connected routes",
                    "CRYPTO_CFGSET": "Crypto-cfgset routes",
                    "HOST_ROUTES": "Host routes",
                    "LOCAL_LOOPBACK": "Local routes on loopback interfaces",
                    "OSPF": "OSPF routes",
                    "OSPFV3": "OSPF routes",
                    "OSPF_EXTERNAL_TYPE_1": "OSPF external type-1 routes",
                    "OSPF_EXTERNAL_TYPE_2": "OSPF external type-2 routes",
                    "OSPF_INTER_AREA": "OSPF inter-area routes",
                    "OSPF_INTRA_AREA": "OSPF intra-area routes",
                    "RAPNG_VPN": "RAPNG-VPN(Remote Access Point Next Gen - Virtual Private Network) routes",
                    "RIP": "Routing Information Protocol routes",
                    "STATIC": "Static routes"
                  },
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS",
                    "Gateway"
                  ],
                  "x-typeDescription": "Types of redistribute routes to BGP."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "routeType"
            ]
          }
        }
      },
      "ArubaBgp_BgpGlobalIpv6AggregateAddressGrouping": {
        "description": "Configurations relating to BGP IPv6 aggregate addresses.",
[...]
