{
  "openapi": "3.1.0",
  "info": {
    "title": "Community List",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Community List"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/community-lists": {
      "get": {
        "description": "BGP Community Lists configuration. A BGP Community is a 32-bit value used to classify and group routes for policy application. This container manages three types of Community Lists: Standard (specific community values), Expanded (regular expression patterns), and Extended (route targets and extended community formats). Each list contains ordered entries with permit or deny actions for route classification and policy enforcement",
        "operationId": "readCommunityLists",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCommunityList_CommunityListsSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing community-list configuration",
        "tags": [
          "Community List"
        ],
        "x-cliParam": {
          "commandName": "readCommunityListsCmd",
          "commandUse": "community-lists",
          "parentCommand": "readCmd",
          "pathToPrint": "/community-lists/",
          "summary": "Read operation for community-lists"
        }
      }
    },
    "/network-config/v1alpha1/community-lists/{community-list-name-community-type}": {
      "get": {
        "description": "BGP Community List definition with a unique name and type specification. Each list contains an ordered sequence of entries with permit or deny actions and community values in the format specified by the list type: Standard (specific numeric community values), Expanded (regular expression patterns), or Extended (extended community values and route targets for VPN and EVPN services)",
        "operationId": "readCommunityListsCommunityListByID",
        "parameters": [
          {
            "description": "Key combination of community-list-name and community-type separated by ~",
            "in": "path",
            "name": "community-list-name-community-type",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaCommunityList_CommunityListscommunityListSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read community-list by community-list-name-community-type",
        "tags": [
          "Community List"
        ],
        "x-cliParam": {
          "commandName": "readCommunityListsCommunityListCmd",
          "commandUse": "community-list",
          "paramKeys": [
            {
              "key": "community-list-name-community-type"
            }
          ],
          "parentCommand": "readCommunityListsCmd",
          "pathToPrint": "/community-lists/community-list/%s/",
          "summary": "Read operation for community-list",
          "totParams": 1
        }
      },
      "put": {
        "description": "BGP Community List definition with a unique name and type specification. Each list contains an ordered sequence of entries with permit or deny actions and community values in the format specified by the list type: Standard (specific numeric community values), Expanded (regular expression patterns), or Extended (extended community values and route targets for VPN and EVPN services)",
        "operationId": "replaceCommunityListsCommunityListByID",
        "parameters": [
          {
            "description": "Key combination of community-list-name and community-type separated by ~",
            "in": "path",
            "name": "community-list-name-community-type",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCommunityList_CommunityListscommunityListSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace community-list by community-list-name-community-type",
        "tags": [
          "Community List"
        ],
        "x-cliParam": {
          "commandName": "replaceCommunityListsCommunityListCmd",
          "commandUse": "community-list",
          "paramKeys": [
            {
              "key": "community-list-name-community-type"
            }
          ],
          "parentCommand": "replaceCommunityListsCmd",
          "pathToPrint": "/community-lists/community-list/%s/",
          "summary": "Replace operation for community-list",
          "totParams": 1
        }
      },
      "post": {
        "description": "BGP Community List definition with a unique name and type specification. Each list contains an ordered sequence of entries with permit or deny actions and community values in the format specified by the list type: Standard (specific numeric community values), Expanded (regular expression patterns), or Extended (extended community values and route targets for VPN and EVPN services)",
        "operationId": "createCommunityListsCommunityListByID",
        "parameters": [
          {
            "description": "Key combination of community-list-name and community-type separated by ~",
            "in": "path",
            "name": "community-list-name-community-type",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCommunityList_CommunityListscommunityListSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create community-list by community-list-name-community-type",
        "tags": [
          "Community List"
        ],
        "x-cliParam": {
          "commandName": "createCommunityListsCommunityListCmd",
          "commandUse": "community-list",
          "paramKeys": [
            {
              "key": "community-list-name-community-type"
            }
          ],
          "parentCommand": "createCommunityListsCmd",
          "pathToPrint": "/community-lists/community-list/%s/",
          "summary": "Create operation for community-list",
          "totParams": 1
        }
      },
      "delete": {
        "description": "BGP Community List definition with a unique name and type specification. Each list contains an ordered sequence of entries with permit or deny actions and community values in the format specified by the list type: Standard (specific numeric community values), Expanded (regular expression patterns), or Extended (extended community values and route targets for VPN and EVPN services)",
        "operationId": "deleteCommunityListsCommunityListByID",
        "parameters": [
          {
            "description": "Key combination of community-list-name and community-type separated by ~",
            "in": "path",
            "name": "community-list-name-community-type",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete community-list by community-list-name-community-type",
        "tags": [
          "Community List"
        ],
        "x-cliParam": {
          "commandName": "deleteCommunityListsCommunityListCmd",
          "commandUse": "community-list",
          "paramKeys": [
            {
              "key": "community-list-name-community-type"
            }
          ],
          "parentCommand": "deleteCommunityListsCmd",
          "pathToPrint": "/community-lists/community-list/%s/",
          "summary": "Delete operation for community-list",
          "totParams": 1
        }
      },
      "patch": {
        "description": "BGP Community List definition with a unique name and type specification. Each list contains an ordered sequence of entries with permit or deny actions and community values in the format specified by the list type: Standard (specific numeric community values), Expanded (regular expression patterns), or Extended (extended community values and route targets for VPN and EVPN services)",
        "operationId": "updateCommunityListsCommunityListByID",
        "parameters": [
          {
            "description": "Key combination of community-list-name and community-type separated by ~",
            "in": "path",
            "name": "community-list-name-community-type",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaCommunityList_CommunityListscommunityListSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update community-list by community-list-name-community-type",
        "tags": [
          "Community List"
        ],
        "x-cliParam": {
          "commandName": "updateCommunityListsCommunityListCmd",
          "commandUse": "community-list",
          "paramKeys": [
            {
              "key": "community-list-name-community-type"
            }
          ],
          "parentCommand": "updateCommunityListsCmd",
          "pathToPrint": "/community-lists/community-list/%s/",
          "summary": "Update operation for community-list",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaCommunityList_CommunityListsSchemaGET": {
        "description": "BGP Community Lists configuration. A BGP Community is a 32-bit value used to classify and group routes for policy application. This container manages three types of Community Lists: Standard (specific community values), Expanded (regular expression patterns), and Extended (route targets and extended community formats). Each list contains ordered entries with permit or deny actions for route classification and policy enforcement",
        "properties": {
          "community-list": {
            "description": "BGP Community List definition with a unique name and type specification. Each list contains an ordered sequence of entries with permit or deny actions and community values in the format specified by the list type: Standard (specific numeric community values), Expanded (regular expression patterns), or Extended (extended community values and route targets for VPN and EVPN services)",
            "items": {
              "properties": {
                "community-list-entry": {
                  "description": "Community list entries with permit or deny actions. Each entry specifies community values or patterns to match in BGP routes. Entries are processed sequentially by sequence number",
                  "items": {
                    "properties": {
                      "community-expanded": {
                        "description": "Regular expression pattern to match BGP communities in expanded format. Patterns can include community values and regular expression metacharacters for flexible matching",
                        "format": "pattern",
                        "maxLength": 32,
                        "minLength": 1,
                        "type": "string",
                        "x-mandatory": true,
                        "x-patternSources": "community-expanded",
                        "x-patterns": "'[0-9A-Za-z_:.*+?|()\\[\\]{}^$\\\\-]+'",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "community-standard": {
                        "description": "List of standard community values. Includes BGP well-known communities (INTERNET, NO_EXPORT, NO_ADVERTISE, LOCAL_AS, GSHUT) and custom AS:NN format communities",
                        "items": {
                          "description": "List of standard community values. Includes BGP well-known communities (INTERNET, NO_EXPORT, NO_ADVERTISE, LOCAL_AS, GSHUT) and custom AS:NN format communities",
                          "oneOf": [
                            {
                              "format": "int64",
                              "maximum": 4294967295,
                              "minimum": 1,
                              "type": "integer"
                            },
                            {
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "community-type-asnn-num",
                              "x-patterns": "'((((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0)))|((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0)))'"
                            },
                            {
                              "enum": [
                                "INTERNET",
                                "NO_EXPORT",
                                "NO_ADVERTISE",
                                "LOCAL_AS",
                                "GSHUT"
                              ],
                              "format": "enum",
                              "type": "string",
                              "x-enumDescriptions": {
                                "GSHUT": "graceful shutdown community",
                                "INTERNET": "internet community",
                                "LOCAL_AS": "local-as community",
                                "NO_ADVERTISE": "no-advertise community",
                                "NO_EXPORT": "no-export community"
                              }
                            }
                          ],
                          "x-supportedDeviceType": [
                            "Switch CX",
                            "Switch PVOS",
                            "Gateway"
                          ]
                        },
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array"
                      },
                      "route-target-expanded": {
                        "description": "Regular expression pattern to match extended community route targets in expanded format. Patterns can include route target values and regular expression metacharacters",
                        "format": "pattern",
                        "maxLength": 32,
                        "minLength": 1,
                        "type": "string",
                        "x-mandatory": true,
                        "x-patternSources": "route-target-expanded",
                        "x-patterns": "'[0-9A-Za-z_:.*+?|()\\[\\]{}^$\\\\-]+'",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "route-target-standard": {
                        "description": "List of standard route target extended communities. Used in MPLS VPN environments for route target filtering in AS:NN format",
                        "items": {
                          "description": "List of standard route target extended communities. Used in MPLS VPN environments for route target filtering in AS:NN format",
                          "oneOf": [
                            {
                              "format": "int64",
                              "maximum": 4294967295,
                              "minimum": 1,
                              "type": "integer"
                            },
                            {
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "community-type-asnn-num",
                              "x-patterns": "'((((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0)))|((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0)))'"
                            }
                          ],
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        },
                        "maxItems": 2147483647,
                        "minItems": 1,
                        "type": "array"
                      },
                      "seq-no-op-type": {
                        "description": "Key combination of seq-no and op-type separated by ~",
                        "format": "const",
                        "maxLength": 9999,
                        "type": "string"
                      }
                    },
                    "required": [
                      "community-expanded",
                      "route-target-expanded"
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "seqNoOpType"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Gateway",
                    "Switch PVOS"
                  ]
                },
                "community-list-name-community-type": {
                  "description": "Key combination of community-list-name and community-type separated by ~",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "community-list-name-community-type",
                  "x-patterns": "'[^\\s]*'"
                },
                "description": {
                  "description": "Optional description for the Community List. Provides documentation about the purpose, use case, and application context for this Community List in BGP routing policies for operational clarity and maintenance",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "communityListNameCommunityType"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaCommunityList_CommunityListscommunityListSchema": {
        "properties": {
          "community-list-entry": {
            "description": "Community list entries with permit or deny actions. Each entry specifies community values or patterns to match in BGP routes. Entries are processed sequentially by sequence number",
            "items": {
              "properties": {
                "community-expanded": {
                  "description": "Regular expression pattern to match BGP communities in expanded format. Patterns can include community values and regular expression metacharacters for flexible matching",
                  "format": "pattern",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-patternSources": "community-expanded",
                  "x-patterns": "'[0-9A-Za-z_:.*+?|()\\[\\]{}^$\\\\-]+'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "community-standard": {
                  "description": "List of standard community values. Includes BGP well-known communities (INTERNET, NO_EXPORT, NO_ADVERTISE, LOCAL_AS, GSHUT) and custom AS:NN format communities",
                  "items": {
                    "description": "List of standard community values. Includes BGP well-known communities (INTERNET, NO_EXPORT, NO_ADVERTISE, LOCAL_AS, GSHUT) and custom AS:NN format communities",
                    "oneOf": [
                      {
                        "format": "int64",
                        "maximum": 4294967295,
                        "minimum": 1,
                        "type": "integer"
                      },
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "community-type-asnn-num",
                        "x-patterns": "'((((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0)))|((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0)))'"
                      },
                      {
                        "enum": [
                          "INTERNET",
                          "NO_EXPORT",
                          "NO_ADVERTISE",
                          "LOCAL_AS",
                          "GSHUT"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "GSHUT": "graceful shutdown community",
                          "INTERNET": "internet community",
                          "LOCAL_AS": "local-as community",
                          "NO_ADVERTISE": "no-advertise community",
                          "NO_EXPORT": "no-export community"
                        }
                      }
                    ],
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS",
                      "Gateway"
                    ]
                  },
                  "maxItems": 2147483647,
                  "minItems": 1,
                  "type": "array"
                },
                "route-target-expanded": {
                  "description": "Regular expression pattern to match extended community route targets in expanded format. Patterns can include route target values and regular expression metacharacters",
                  "format": "pattern",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-patternSources": "route-target-expanded",
                  "x-patterns": "'[0-9A-Za-z_:.*+?|()\\[\\]{}^$\\\\-]+'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "route-target-standard": {
                  "description": "List of standard route target extended communities. Used in MPLS VPN environments for route target filtering in AS:NN format",
                  "items": {
                    "description": "List of standard route target extended communities. Used in MPLS VPN environments for route target filtering in AS:NN format",
                    "oneOf": [
                      {
                        "format": "int64",
                        "maximum": 4294967295,
                        "minimum": 1,
                        "type": "integer"
                      },
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "community-type-asnn-num",
                        "x-patterns": "'((((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0)))|((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0)))'"
                      }
                    ],
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ]
                  },
                  "maxItems": 2147483647,
                  "minItems": 1,
                  "type": "array"
                },
                "seq-no-op-type": {
                  "description": "Key combination of seq-no and op-type separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                }
              },
              "required": [
                "community-expanded",
                "route-target-expanded"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "seqNoOpType"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ]
          },
          "community-list-name-community-type": {
            "description": "Key combination of community-list-name and community-type separated by ~",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "community-list-name-community-type",
            "x-patterns": "'[^\\s]*'"
          },
          "description": {
            "description": "Optional description for the Community List. Provides documentation about the purpose, use case, and application context for this Community List in BGP routing policies for operational clarity and maintenance",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaCommunityList_CommunityListscommunityListSchemaGet": {
        "properties": {
          "community-list-entry": {
            "description": "Community list entries with permit or deny actions. Each entry specifies community values or patterns to match in BGP routes. Entries are processed sequentially by sequence number",
            "items": {
              "properties": {
                "community-expanded": {
                  "description": "Regular expression pattern to match BGP communities in expanded format. Patterns can include community values and regular expression metacharacters for flexible matching",
                  "format": "pattern",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-patternSources": "community-expanded",
                  "x-patterns": "'[0-9A-Za-z_:.*+?|()\\[\\]{}^$\\\\-]+'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "community-standard": {
                  "description": "List of standard community values. Includes BGP well-known communities (INTERNET, NO_EXPORT, NO_ADVERTISE, LOCAL_AS, GSHUT) and custom AS:NN format communities",
                  "items": {
                    "description": "List of standard community values. Includes BGP well-known communities (INTERNET, NO_EXPORT, NO_ADVERTISE, LOCAL_AS, GSHUT) and custom AS:NN format communities",
                    "oneOf": [
                      {
                        "format": "int64",
                        "maximum": 4294967295,
                        "minimum": 1,
                        "type": "integer"
                      },
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "community-type-asnn-num",
                        "x-patterns": "'((((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0)))|((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0)))'"
                      },
                      {
                        "enum": [
                          "INTERNET",
                          "NO_EXPORT",
                          "NO_ADVERTISE",
                          "LOCAL_AS",
                          "GSHUT"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "GSHUT": "graceful shutdown community",
                          "INTERNET": "internet community",
                          "LOCAL_AS": "local-as community",
                          "NO_ADVERTISE": "no-advertise community",
                          "NO_EXPORT": "no-export community"
                        }
                      }
                    ],
                    "x-supportedDeviceType": [
                      "Switch CX",
                      "Switch PVOS",
                      "Gateway"
                    ]
                  },
                  "maxItems": 2147483647,
                  "minItems": 1,
                  "type": "array"
                },
                "route-target-expanded": {
                  "description": "Regular expression pattern to match extended community route targets in expanded format. Patterns can include route target values and regular expression metacharacters",
                  "format": "pattern",
                  "maxLength": 32,
                  "minLength": 1,
                  "type": "string",
                  "x-mandatory": true,
                  "x-patternSources": "route-target-expanded",
                  "x-patterns": "'[0-9A-Za-z_:.*+?|()\\[\\]{}^$\\\\-]+'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "route-target-standard": {
                  "description": "List of standard route target extended communities. Used in MPLS VPN environments for route target filtering in AS:NN format",
                  "items": {
                    "description": "List of standard route target extended communities. Used in MPLS VPN environments for route target filtering in AS:NN format",
                    "oneOf": [
                      {
                        "format": "int64",
                        "maximum": 4294967295,
                        "minimum": 1,
                        "type": "integer"
                      },
                      {
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "community-type-asnn-num",
                        "x-patterns": "'((((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0)))|((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0)))'"
                      }
                    ],
                    "x-supportedDeviceType": [
                      "Switch CX"
                    ]
                  },
                  "maxItems": 2147483647,
                  "minItems": 1,
                  "type": "array"
                },
                "seq-no-op-type": {
                  "description": "Key combination of seq-no and op-type separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                }
              },
              "required": [
                "community-expanded",
                "route-target-expanded"
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "seqNoOpType"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ]
          },
          "community-list-name-community-type": {
            "description": "Key combination of community-list-name and community-type separated by ~",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "community-list-name-community-type",
            "x-patterns": "'[^\\s]*'"
          },
          "description": {
            "description": "Optional description for the Community List. Provides documentation about the purpose, use case, and application context for this Community List in BGP routing policies for operational clarity and maintenance",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaCommunityList_CommunityListscommunityListSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaCommunityList_CommunityListscommunityListSchema"
            }
          }
        },
        "description": "community-listbody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
