{
  "openapi": "3.1.0",
  "info": {
    "title": "Evpn",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Evpn"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/evpn": {
      "get": {
        "description": "Ethernet Virtual Private Network (EVPN) container. EVPN provides Layer 2 and Layer 3 VPN services using BGP control plane and VXLAN/MPLS data plane encapsulation for seamless multi-site connectivity",
        "operationId": "readEvpn",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaEvpn_EvpnSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing EVPN configuration",
        "tags": [
          "Evpn"
        ],
        "x-cliParam": {
          "commandName": "readEvpnCmd",
          "commandUse": "evpn",
          "parentCommand": "readCmd",
          "pathToPrint": "/evpn/",
          "summary": "Read operation for evpn"
        }
      }
    },
    "/network-config/v1alpha1/evpn/{name}": {
      "get": {
        "description": "EVPN Profile configuration. EVPN is a single-instance profile - only one EVPN deployment instance is allowed per device. This profile manages Ethernet Virtual Private Network configurations for multi-site Layer 2/3 connectivity using VXLAN and MPLS",
        "operationId": "readEvpnProfileByID",
        "parameters": [
          {
            "description": "EVPN profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaEvpn_EvpnprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing EVPN profile {name}",
        "tags": [
          "Evpn"
        ],
        "x-cliParam": {
          "commandName": "readEvpnProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readEvpnCmd",
          "pathToPrint": "/evpn/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "EVPN Profile configuration. EVPN is a single-instance profile - only one EVPN deployment instance is allowed per device. This profile manages Ethernet Virtual Private Network configurations for multi-site Layer 2/3 connectivity using VXLAN and MPLS",
        "operationId": "replaceEvpnProfileByID",
        "parameters": [
          {
            "description": "EVPN profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaEvpn_EvpnprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or update existing EVPN profile {name}",
        "tags": [
          "Evpn"
        ],
        "x-cliParam": {
          "commandName": "replaceEvpnProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceEvpnCmd",
          "pathToPrint": "/evpn/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "EVPN Profile configuration. EVPN is a single-instance profile - only one EVPN deployment instance is allowed per device. This profile manages Ethernet Virtual Private Network configurations for multi-site Layer 2/3 connectivity using VXLAN and MPLS",
        "operationId": "createEvpnProfileByID",
        "parameters": [
          {
            "description": "EVPN profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaEvpn_EvpnprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create new EVPN profile {name}",
        "tags": [
          "Evpn"
        ],
        "x-cliParam": {
          "commandName": "createEvpnProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createEvpnCmd",
          "pathToPrint": "/evpn/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "EVPN Profile configuration. EVPN is a single-instance profile - only one EVPN deployment instance is allowed per device. This profile manages Ethernet Virtual Private Network configurations for multi-site Layer 2/3 connectivity using VXLAN and MPLS",
        "operationId": "deleteEvpnProfileByID",
        "parameters": [
          {
            "description": "EVPN profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete EVPN profile {name}",
        "tags": [
          "Evpn"
        ],
        "x-cliParam": {
          "commandName": "deleteEvpnProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteEvpnCmd",
          "pathToPrint": "/evpn/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "EVPN Profile configuration. EVPN is a single-instance profile - only one EVPN deployment instance is allowed per device. This profile manages Ethernet Virtual Private Network configurations for multi-site Layer 2/3 connectivity using VXLAN and MPLS",
        "operationId": "updateEvpnProfileByID",
        "parameters": [
          {
            "description": "EVPN profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaEvpn_EvpnprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing configuration EVPN profile {name}",
        "tags": [
          "Evpn"
        ],
        "x-cliParam": {
          "commandName": "updateEvpnProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateEvpnCmd",
          "pathToPrint": "/evpn/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaEvpn_EviConfigGroup": {
        "description": "EVPN Instance (EVI) specific grouping",
        "properties": {
          "export-route-targets": {
            "description": "EVI Export Route Targets.",
            "items": {
              "description": "EVI Export Route Targets.",
              "oneOf": [
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "rd-rt-type",
                  "x-patterns": "'((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0):(6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0))|((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]):(6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0))'",
                  "x-typeDescription": "Type definition for Route-distringuisher or route-target in ASN:NN or A.B.C.D:NN format."
                },
                {
                  "enum": [
                    "AUTO"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AUTO": "Automatically derived Route-distinguisher or Route-target."
                  },
                  "x-typeDescription": "Automatically derived Route-distinguisher or Route-target."
                }
              ],
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 32,
            "type": "array"
          },
          "import-route-targets": {
            "description": "EVI Import Route Targets.",
            "items": {
              "description": "EVI Import Route Targets.",
              "oneOf": [
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "rd-rt-type",
                  "x-patterns": "'((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0):(6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0))|((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]):(6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0))'",
                  "x-typeDescription": "Type definition for Route-distringuisher or route-target in ASN:NN or A.B.C.D:NN format."
                },
                {
                  "enum": [
                    "AUTO"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AUTO": "Automatically derived Route-distinguisher or Route-target."
                  },
                  "x-typeDescription": "Automatically derived Route-distinguisher or Route-target."
                }
              ],
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 32,
            "type": "array"
          },
          "redistribute-host-route": {
            "default": "false",
            "description": "Enable host route (Type-2) advertisements to include the L3VNI, RT and\nRouter MAC of the associated IP-VRF.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "route-distinguisher": {
            "description": "EVI Route Distinguisher.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "rd-rt-type",
            "x-patterns": "'((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0):(6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0))|((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]):(6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for Route-distringuisher or route-target in ASN:NN or A.B.C.D:NN format."
          }
        }
      },
      "ArubaEvpn_EviConfigGroupGet": {
        "description": "EVPN Instance (EVI) specific grouping",
        "properties": {
          "export-route-targets": {
            "description": "EVI Export Route Targets.",
            "items": {
              "description": "EVI Export Route Targets.",
              "oneOf": [
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "rd-rt-type",
                  "x-patterns": "'((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0):(6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0))|((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]):(6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0))'",
                  "x-typeDescription": "Type definition for Route-distringuisher or route-target in ASN:NN or A.B.C.D:NN format."
                },
                {
                  "enum": [
                    "AUTO"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AUTO": "Automatically derived Route-distinguisher or Route-target."
                  },
                  "x-typeDescription": "Automatically derived Route-distinguisher or Route-target."
                }
              ],
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 32,
            "type": "array"
          },
          "import-route-targets": {
            "description": "EVI Import Route Targets.",
            "items": {
              "description": "EVI Import Route Targets.",
              "oneOf": [
                {
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "rd-rt-type",
                  "x-patterns": "'((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0):(6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0))|((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]):(6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0))'",
                  "x-typeDescription": "Type definition for Route-distringuisher or route-target in ASN:NN or A.B.C.D:NN format."
                },
                {
                  "enum": [
                    "AUTO"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "AUTO": "Automatically derived Route-distinguisher or Route-target."
                  },
                  "x-typeDescription": "Automatically derived Route-distinguisher or Route-target."
                }
              ],
              "x-supportedDeviceType": [
                "Switch CX"
              ]
            },
            "maxItems": 32,
            "type": "array"
          },
          "redistribute-host-route": {
            "default": "false",
            "description": "Enable host route (Type-2) advertisements to include the L3VNI, RT and\nRouter MAC of the associated IP-VRF.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "route-distinguisher": {
            "description": "EVI Route Distinguisher.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "rd-rt-type",
            "x-patterns": "'((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0):(6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0))|((([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]):(6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for Route-distringuisher or route-target in ASN:NN or A.B.C.D:NN format."
          }
        }
      },
      "ArubaEvpn_EvpnArpNdProxyConfig": {
        "description": "Configuration data related to ARP-Proxy and ND-Proxy",
        "properties": {
          "arp-suppression": {
            "default": "false",
            "description": "Enable (TRUE) or disable (FALSE) ARP suppression. If true\nthe  Address Resolution Protocol (ARP) queries for an\nIP address that is not on that network are suppressed.\nAddress Resolution Protocol (ARP) suppression is a\ntechnique used to reduce the amount of ARP broadcast\nflooding within individual VXLAN segments, that is between\nVMs connected to the same logical switch.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "arp-suppression-extended": {
            "default": "false",
            "description": "Enable (TRUE) or disable (FALSE) ARP suppression. If true\nthe  Address Resolution Protocol (ARP) queries for an\nIP address that is not on that network are suppressed.\nAddress Resolution Protocol (ARP) suppression is a\ntechnique used to reduce the amount of ARP broadcast\nflooding within individual VXLAN segments, that is between\nVMs connected to the same logical switch. This configuration\nis mutually exclusive with arp-suppression.\nBasically arp-suppression-extended provides\ncomplete functionality of arp-suppression on L2-only\nVLANs as well as on Active Gateway SVIs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nd-suppression": {
            "default": "false",
            "description": "Enable (TRUE) or disable (FALSE) Neighbor Discovery suppression.\nIf true the NDP queries for an IP address that is not on that\nnetwork are suppressed. NDP suppression is a\ntechnique used to reduce the amount of NDP Packets\nflooding within individual VXLAN segments, that is between\nVMs connected to the same logical switch.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nd-suppression-extended": {
            "default": "false",
            "description": "Enable (TRUE) or disable (FALSE) Neighbor Discovery suppression.\nIf true the NDP queries for an IP address that is not on that\nnetwork are suppressed. NDP suppression is a\ntechnique used to reduce the amount of NDP Packets\nflooding within individual VXLAN segments, that is between\nVMs connected to the same logical switch. This configuration\nis mutually exclusive with nd-suppression.\nBasically nd-suppression-extended provides\ncomplete functionality of nd-suppression on L2-only\nVLANs as well as on Active Gateway SVIs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaEvpn_EvpnArpNdProxyConfigGet": {
        "description": "Configuration data related to ARP-Proxy and ND-Proxy",
        "properties": {
          "arp-suppression": {
            "default": "false",
            "description": "Enable (TRUE) or disable (FALSE) ARP suppression. If true\nthe  Address Resolution Protocol (ARP) queries for an\nIP address that is not on that network are suppressed.\nAddress Resolution Protocol (ARP) suppression is a\ntechnique used to reduce the amount of ARP broadcast\nflooding within individual VXLAN segments, that is between\nVMs connected to the same logical switch.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "arp-suppression-extended": {
            "default": "false",
            "description": "Enable (TRUE) or disable (FALSE) ARP suppression. If true\nthe  Address Resolution Protocol (ARP) queries for an\nIP address that is not on that network are suppressed.\nAddress Resolution Protocol (ARP) suppression is a\ntechnique used to reduce the amount of ARP broadcast\nflooding within individual VXLAN segments, that is between\nVMs connected to the same logical switch. This configuration\nis mutually exclusive with arp-suppression.\nBasically arp-suppression-extended provides\ncomplete functionality of arp-suppression on L2-only\nVLANs as well as on Active Gateway SVIs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nd-suppression": {
            "default": "false",
            "description": "Enable (TRUE) or disable (FALSE) Neighbor Discovery suppression.\nIf true the NDP queries for an IP address that is not on that\nnetwork are suppressed. NDP suppression is a\ntechnique used to reduce the amount of NDP Packets\nflooding within individual VXLAN segments, that is between\nVMs connected to the same logical switch.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nd-suppression-extended": {
            "default": "false",
            "description": "Enable (TRUE) or disable (FALSE) Neighbor Discovery suppression.\nIf true the NDP queries for an IP address that is not on that\nnetwork are suppressed. NDP suppression is a\ntechnique used to reduce the amount of NDP Packets\nflooding within individual VXLAN segments, that is between\nVMs connected to the same logical switch. This configuration\nis mutually exclusive with nd-suppression.\nBasically nd-suppression-extended provides\ncomplete functionality of nd-suppression on L2-only\nVLANs as well as on Active Gateway SVIs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaEvpn_EvpnMacMobilityConfig": {
        "description": "Configuration data related to mac-mobility",
        "properties": {
          "mac-mobility-threshold": {
            "description": "The number of MAC mobility events that are detected for a\ngiven MAC address within the detection-window before it is identified\nas a duplicate MAC address. Once the detection threshold is reached,\nupdates for the MAC address are suppressed.",
            "format": "int32",
            "maximum": 10,
            "minimum": 2,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "mac-mobility-window": {
            "description": "The time interval used in detecting a duplicate MAC address.\nThe value can be from 1 through 1000 seconds.",
            "format": "int32",
            "maximum": 1000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaEvpn_EvpnMacMobilityConfigGet": {
        "description": "Configuration data related to mac-mobility",
        "properties": {
          "mac-mobility-threshold": {
            "description": "The number of MAC mobility events that are detected for a\ngiven MAC address within the detection-window before it is identified\nas a duplicate MAC address. Once the detection threshold is reached,\nupdates for the MAC address are suppressed.",
            "format": "int32",
            "maximum": 10,
            "minimum": 2,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "mac-mobility-window": {
            "description": "The time interval used in detecting a duplicate MAC address.\nThe value can be from 1 through 1000 seconds.",
            "format": "int32",
            "maximum": 1000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaEvpn_EvpnRedistributeConfig": {
        "description": "Configurations specific to redistribute rules",
        "properties": {
          "redistribute-local-mac": {
            "default": "false",
            "description": "Enable (TRUE) or disable (FALSE) Type-2 route advertisement for\nlocal system MAC address of the EVPN enabled VLANs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "redistribute-local-svi": {
            "default": "false",
            "description": "Enable (TRUE) or disable (FALSE) Type-2 route advertisement for\nlocal IP address and MAC address of the SVI interfaces corresponding\nto EVPN enabled VLANs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaEvpn_EvpnRedistributeConfigGet": {
        "description": "Configurations specific to redistribute rules",
        "properties": {
          "redistribute-local-mac": {
            "default": "false",
            "description": "Enable (TRUE) or disable (FALSE) Type-2 route advertisement for\nlocal system MAC address of the EVPN enabled VLANs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "redistribute-local-svi": {
            "default": "false",
            "description": "Enable (TRUE) or disable (FALSE) Type-2 route advertisement for\nlocal IP address and MAC address of the SVI interfaces corresponding\nto EVPN enabled VLANs.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaEvpn_EvpnSchemaGET": {
        "description": "Ethernet Virtual Private Network (EVPN) container. EVPN provides Layer 2 and Layer 3 VPN services using BGP control plane and VXLAN/MPLS data plane encapsulation for seamless multi-site connectivity",
        "properties": {
          "profile": {
            "description": "EVPN Profile configuration. EVPN is a single-instance profile - only one EVPN deployment instance is allowed per device. This profile manages Ethernet Virtual Private Network configurations for multi-site Layer 2/3 connectivity using VXLAN and MPLS",
            "items": {
              "properties": {
                "description": {
                  "description": "EVPN profile description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "evpn-global": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaEvpn_EvpnMacMobilityConfigGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaEvpn_EvpnArpNdProxyConfigGet"
                    },
                    {
                      "$ref": "#/components/schemas/ArubaEvpn_EvpnRedistributeConfigGet"
                    }
                  ],
                  "description": "EVPN global configuration block containing MAC mobility settings, ARP/ND proxy options, route targets for VLANs and VLAN-aware bundles, and bridging mode policies",
                  "properties": {
                    "allow-imet-relay": {
                      "default": "false",
                      "description": "Enable or disable relaying of Inclusive Multicast Ethernet Tag (IMET) routes between eBGP peers in EVPN deployments. When enabled, allows multicast traffic distribution across multi-site EVPN networks",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "tunnel-bridging-mode": {
                      "default": "NO_BRIDGING",
                      "description": "Tunnel bridging mode for EVPN tunnels. Determines whether bridging is allowed between IBGP and EBGP tunnel endpoints in EVPN overlays",
                      "enum": [
                        "NO_BRIDGING",
                        "IBGP_EBGP"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "IBGP_EBGP": "IBGP and EBGP tunnels are part of different broadcast groups\nand bridging is permitted between IBGP and EBGP tunnels.",
                        "NO_BRIDGING": "All EVPN tunnels are part of the same broadcast group\nand bridging is not permitted between these tunnels."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Bridging modes for EVPN tunnels."
                    },
                    "vlan": {
                      "description": "List of EVPN VLANs.",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaEvpn_EviConfigGroupGet"
                          },
                          {
                            "properties": {
                              "id": {
                                "description": "VLAN Identifier",
                                "format": "int32",
                                "maximum": 4094,
                                "minimum": 1,
                                "type": "integer",
                                "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
                                "x-supportedDeviceType": [
                                  "Switch CX"
                                ],
                                "x-typeDescription": "Type definition representing a single-tagged VLAN"
                              },
                              "route-distinguisher-auto": {
                                "description": "EVI Route Distinguisher.",
                                "enum": [
                                  "AUTO"
                                ],
                                "format": "enum",
                                "type": "string",
                                "x-enumDescriptions": {
                                  "AUTO": "Automatically derived Route-distinguisher or Route-target."
                                },
                                "x-supportedDeviceType": [
                                  "Switch CX"
                                ],
                                "x-typeDescription": "Automatically derived Route-distinguisher or Route-target."
                              }
                            }
                          }
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "id"
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "vlan-aware-bundle": {
                      "description": "List of EVPN VLAN aware bundles.",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaEvpn_EviConfigGroupGet"
                          },
                          {
                            "properties": {
                              "bundle-name": {
                                "description": "Name of the EVPN VLAN aware bundle.",
                                "format": "const",
                                "maxLength": 32,
                                "minLength": 1,
                                "type": "string",
                                "x-supportedDeviceType": [
                                  "Switch CX"
                                ]
                              },
                              "disable": {
                                "description": "Disable the bundle.",
                                "type": "boolean",
                                "x-supportedDeviceType": [
                                  "Switch CX"
                                ]
                              },
                              "vlan-ethernet-tag": {
                                "description": "List of EVPN VLANs.",
                                "items": {
                                  "properties": {
                                    "ethernet-tag": {
                                      "description": "Ethernet Tag ID for the VLAN.",
                                      "format": "int64",
                                      "maximum": 16777215,
                                      "minimum": 0,
                                      "type": "integer",
                                      "x-supportedDeviceType": [
                                        "Switch CX"
                                      ],
                                      "x-typeDescription": "24-bit unsigned integer."
                                    },
                                    "vlan": {
                                      "description": "VLAN Identifier",
                                      "format": "int32",
                                      "maximum": 4094,
                                      "minimum": 1,
                                      "type": "integer",
                                      "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
                                      "x-supportedDeviceType": [
                                        "Switch CX"
                                      ],
                                      "x-typeDescription": "Type definition representing a single-tagged VLAN"
                                    }
                                  }
                                },
                                "maxItems": 2147483647,
                                "type": "array",
                                "x-key": [
                                  "vlan"
                                ],
                                "x-supportedDeviceType": [
                                  "Switch CX"
                                ]
                              }
                            }
                          }
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "bundleName"
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    }
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "name": {
                  "description": "EVPN profile name.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaEvpn_EvpnprofileSchema": {
        "properties": {
          "description": {
            "description": "EVPN profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "evpn-global": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaEvpn_EvpnMacMobilityConfig"
              },
              {
                "$ref": "#/components/schemas/ArubaEvpn_EvpnArpNdProxyConfig"
              },
              {
                "$ref": "#/components/schemas/ArubaEvpn_EvpnRedistributeConfig"
              }
            ],
            "description": "EVPN global configuration block containing MAC mobility settings, ARP/ND proxy options, route targets for VLANs and VLAN-aware bundles, and bridging mode policies",
            "properties": {
              "allow-imet-relay": {
                "default": "false",
                "description": "Enable or disable relaying of Inclusive Multicast Ethernet Tag (IMET) routes between eBGP peers in EVPN deployments. When enabled, allows multicast traffic distribution across multi-site EVPN networks",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "tunnel-bridging-mode": {
                "default": "NO_BRIDGING",
                "description": "Tunnel bridging mode for EVPN tunnels. Determines whether bridging is allowed between IBGP and EBGP tunnel endpoints in EVPN overlays",
                "enum": [
                  "NO_BRIDGING",
                  "IBGP_EBGP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "IBGP_EBGP": "IBGP and EBGP tunnels are part of different broadcast groups\nand bridging is permitted between IBGP and EBGP tunnels.",
                  "NO_BRIDGING": "All EVPN tunnels are part of the same broadcast group\nand bridging is not permitted between these tunnels."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Bridging modes for EVPN tunnels."
              },
              "vlan": {
                "description": "List of EVPN VLANs.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaEvpn_EviConfigGroup"
                    },
                    {
                      "properties": {
                        "id": {
                          "description": "VLAN Identifier",
                          "format": "int32",
                          "maximum": 4094,
                          "minimum": 1,
                          "type": "integer",
                          "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ],
                          "x-typeDescription": "Type definition representing a single-tagged VLAN"
                        },
                        "route-distinguisher-auto": {
                          "description": "EVI Route Distinguisher.",
                          "enum": [
                            "AUTO"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "AUTO": "Automatically derived Route-distinguisher or Route-target."
                          },
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ],
                          "x-typeDescription": "Automatically derived Route-distinguisher or Route-target."
                        }
                      }
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "id"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "vlan-aware-bundle": {
                "description": "List of EVPN VLAN aware bundles.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaEvpn_EviConfigGroup"
                    },
                    {
                      "properties": {
                        "bundle-name": {
                          "description": "Name of the EVPN VLAN aware bundle.",
                          "format": "const",
                          "maxLength": 32,
                          "minLength": 1,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        },
                        "disable": {
                          "description": "Disable the bundle.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        },
                        "vlan-ethernet-tag": {
                          "description": "List of EVPN VLANs.",
                          "items": {
                            "properties": {
                              "ethernet-tag": {
                                "description": "Ethernet Tag ID for the VLAN.",
                                "format": "int64",
                                "maximum": 16777215,
                                "minimum": 0,
                                "type": "integer",
                                "x-supportedDeviceType": [
                                  "Switch CX"
                                ],
                                "x-typeDescription": "24-bit unsigned integer."
                              },
                              "vlan": {
                                "description": "VLAN Identifier",
                                "format": "int32",
                                "maximum": 4094,
                                "minimum": 1,
                                "type": "integer",
                                "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
                                "x-supportedDeviceType": [
                                  "Switch CX"
                                ],
                                "x-typeDescription": "Type definition representing a single-tagged VLAN"
                              }
                            }
                          },
                          "maxItems": 2147483647,
                          "type": "array",
                          "x-key": [
                            "vlan"
                          ],
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        }
                      }
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "bundleName"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "name": {
            "description": "EVPN profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          }
        }
      },
      "ArubaEvpn_EvpnprofileSchemaGet": {
        "properties": {
          "description": {
            "description": "EVPN profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "evpn-global": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaEvpn_EvpnMacMobilityConfigGet"
              },
              {
                "$ref": "#/components/schemas/ArubaEvpn_EvpnArpNdProxyConfigGet"
              },
              {
                "$ref": "#/components/schemas/ArubaEvpn_EvpnRedistributeConfigGet"
              }
            ],
            "description": "EVPN global configuration block containing MAC mobility settings, ARP/ND proxy options, route targets for VLANs and VLAN-aware bundles, and bridging mode policies",
            "properties": {
              "allow-imet-relay": {
                "default": "false",
                "description": "Enable or disable relaying of Inclusive Multicast Ethernet Tag (IMET) routes between eBGP peers in EVPN deployments. When enabled, allows multicast traffic distribution across multi-site EVPN networks",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "tunnel-bridging-mode": {
                "default": "NO_BRIDGING",
                "description": "Tunnel bridging mode for EVPN tunnels. Determines whether bridging is allowed between IBGP and EBGP tunnel endpoints in EVPN overlays",
                "enum": [
                  "NO_BRIDGING",
                  "IBGP_EBGP"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "IBGP_EBGP": "IBGP and EBGP tunnels are part of different broadcast groups\nand bridging is permitted between IBGP and EBGP tunnels.",
                  "NO_BRIDGING": "All EVPN tunnels are part of the same broadcast group\nand bridging is not permitted between these tunnels."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Bridging modes for EVPN tunnels."
              },
              "vlan": {
                "description": "List of EVPN VLANs.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaEvpn_EviConfigGroupGet"
                    },
                    {
                      "properties": {
                        "id": {
                          "description": "VLAN Identifier",
                          "format": "int32",
                          "maximum": 4094,
                          "minimum": 1,
                          "type": "integer",
                          "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ],
                          "x-typeDescription": "Type definition representing a single-tagged VLAN"
                        },
                        "route-distinguisher-auto": {
                          "description": "EVI Route Distinguisher.",
                          "enum": [
                            "AUTO"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "AUTO": "Automatically derived Route-distinguisher or Route-target."
                          },
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ],
                          "x-typeDescription": "Automatically derived Route-distinguisher or Route-target."
                        }
                      }
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "id"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "vlan-aware-bundle": {
                "description": "List of EVPN VLAN aware bundles.",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/ArubaEvpn_EviConfigGroupGet"
                    },
                    {
                      "properties": {
                        "bundle-name": {
                          "description": "Name of the EVPN VLAN aware bundle.",
                          "format": "const",
                          "maxLength": 32,
                          "minLength": 1,
                          "type": "string",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        },
                        "disable": {
                          "description": "Disable the bundle.",
                          "type": "boolean",
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        },
                        "vlan-ethernet-tag": {
                          "description": "List of EVPN VLANs.",
                          "items": {
                            "properties": {
                              "ethernet-tag": {
                                "description": "Ethernet Tag ID for the VLAN.",
                                "format": "int64",
                                "maximum": 16777215,
                                "minimum": 0,
                                "type": "integer",
                                "x-supportedDeviceType": [
                                  "Switch CX"
                                ],
                                "x-typeDescription": "24-bit unsigned integer."
                              },
                              "vlan": {
                                "description": "VLAN Identifier",
                                "format": "int32",
                                "maximum": 4094,
                                "minimum": 1,
                                "type": "integer",
                                "x-path": "/ac-vlan:layer2-vlan/ac-vlan:l2-vlan/ac-vlan:vlan",
                                "x-supportedDeviceType": [
                                  "Switch CX"
                                ],
                                "x-typeDescription": "Type definition representing a single-tagged VLAN"
                              }
                            }
                          },
                          "maxItems": 2147483647,
                          "type": "array",
                          "x-key": [
                            "vlan"
                          ],
                          "x-supportedDeviceType": [
                            "Switch CX"
                          ]
                        }
                      }
                    }
                  ]
                },
                "maxItems": 2147483647,
                "type": "array",
                "x-key": [
                  "bundleName"
                ],
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "name": {
            "description": "EVPN profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaEvpn_EvpnprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaEvpn_EvpnprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
