{
  "openapi": "3.1.0",
  "info": {
    "title": "Msdp",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Msdp"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/msdp": {
      "get": {
        "description": "Multicast Source Discovery Protocol Router configurations.\nWhen MSDP is configured in a network, Rendezvous Points(RP) running MSDP\nexchange source information with MSDP enabled RPs in other domains. An RP\ncan join the interdomain source tree for sources that are sending to groups\nfor which it has multicast receivers.",
        "operationId": "readMsdp",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaMsdp_MsdpSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing Multicast Source Discovery Protocol configurations",
        "tags": [
          "Msdp"
        ],
        "x-cliParam": {
          "commandName": "readMsdpCmd",
          "commandUse": "msdp",
          "parentCommand": "readCmd",
          "pathToPrint": "/msdp/",
          "summary": "Read operation for msdp"
        }
      }
    },
    "/network-config/v1alpha1/msdp/{name}": {
      "get": {
        "description": "MSDP profiles.",
        "operationId": "readMsdpProfileByID",
        "parameters": [
          {
            "description": "MSDP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaMsdp_MsdpprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured profile for MSDP",
        "tags": [
          "Msdp"
        ],
        "x-cliParam": {
          "commandName": "readMsdpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readMsdpCmd",
          "pathToPrint": "/msdp/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "MSDP profiles.",
        "operationId": "replaceMsdpProfileByID",
        "parameters": [
          {
            "description": "MSDP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMsdp_MsdpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing MSDP profile configurations",
        "tags": [
          "Msdp"
        ],
        "x-cliParam": {
          "commandName": "replaceMsdpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceMsdpCmd",
          "pathToPrint": "/msdp/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "MSDP profiles.",
        "operationId": "createMsdpProfileByID",
        "parameters": [
          {
            "description": "MSDP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMsdp_MsdpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create profile name for MSDP",
        "tags": [
          "Msdp"
        ],
        "x-cliParam": {
          "commandName": "createMsdpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createMsdpCmd",
          "pathToPrint": "/msdp/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "MSDP profiles.",
        "operationId": "deleteMsdpProfileByID",
        "parameters": [
          {
            "description": "MSDP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the profile for MSDP",
        "tags": [
          "Msdp"
        ],
        "x-cliParam": {
          "commandName": "deleteMsdpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteMsdpCmd",
          "pathToPrint": "/msdp/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "MSDP profiles.",
        "operationId": "updateMsdpProfileByID",
        "parameters": [
          {
            "description": "MSDP profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaMsdp_MsdpprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing MSDP profile configurations",
        "tags": [
          "Msdp"
        ],
        "x-cliParam": {
          "commandName": "updateMsdpProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateMsdpCmd",
          "pathToPrint": "/msdp/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaMsdp_MsdpPeerConfiguration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaMsdp_PasswordInfo"
          }
        ],
        "description": "Grouping for MSDP Peer Configurations",
        "properties": {
          "address": {
            "description": "IP address of the MSDP Peer",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "connect-retry-interval": {
            "default": "30",
            "description": "Maximum time the peer will wait before attempting\nto reestablish the TCP connection when connection\nreset happens",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "description": {
            "description": "Optional description of MSDP peer",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable MSDP communication with peer",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "eth-tcp-connection-source": {
            "description": "Ethernet Interface to be used for communication to the peer.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "holdtime-interval": {
            "default": "75",
            "description": "Time for which MSDP will wait for keepalive\nmessages from peer before declaring it down",
            "format": "int64",
            "maximum": 65535,
            "minimum": 3,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "keepalive-interval": {
            "default": "60",
            "description": "Interval at which keepalive messages are sent\nto the MSDP peer",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag-tcp-connection-source": {
            "description": "LAG Interface to be used for communication to the peer.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-tcp-connection-source": {
            "description": "Loopback interface name to be used for communication to the peer.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "mesh-group": {
            "description": "Name of the mesh group if MSDP peer is configured\nas part of a mesh group",
            "format": "const",
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sa-filter-in": {
            "description": "Ingress ACL to filter processing of MSDP Source\nActive messages received from peer",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sa-filter-out": {
            "description": "Egress ACL to filter MSDP Source Active messages\nsent to peer",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sa-limit": {
            "description": "A limit on the number of Source Active entries\naccepted from the peer",
            "format": "int64",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sub-interface-tcp-connection-source": {
            "description": "L3 subinterface name to be used for communication to the peer.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi-tcp-connection-source": {
            "description": "L3 SVI id to be used for communication to the peer.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "tcp-connection-source-interface-type": {
            "description": "Interface type to be used for communication to the peer",
            "enum": [
              "ETH_INTERFACE",
              "LOOPBACK",
              "SUB_INTERFACE",
              "SVI",
              "PORTCHANNEL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ETH_INTERFACE": "Physical interface for tcp-connection-source",
              "LOOPBACK": "Loopback interface for tcp-connection-source",
              "PORTCHANNEL": "LAG interface for tcp-connection-source",
              "SUB_INTERFACE": "Sub interface for tcp-connection-source",
              "SVI": "VLAN interface for tcp-connection-source"
            },
            "x-typeDescription": "Interface type for tcp-connection-source"
          }
        }
      },
      "ArubaMsdp_MsdpPeerConfigurationGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaMsdp_PasswordInfoGet"
          }
        ],
        "description": "Grouping for MSDP Peer Configurations",
        "properties": {
          "address": {
            "description": "IP address of the MSDP Peer",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "connect-retry-interval": {
            "default": "30",
            "description": "Maximum time the peer will wait before attempting\nto reestablish the TCP connection when connection\nreset happens",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "description": {
            "description": "Optional description of MSDP peer",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable MSDP communication with peer",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "eth-tcp-connection-source": {
            "description": "Ethernet Interface to be used for communication to the peer.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "holdtime-interval": {
            "default": "75",
            "description": "Time for which MSDP will wait for keepalive\nmessages from peer before declaring it down",
            "format": "int64",
            "maximum": 65535,
            "minimum": 3,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "keepalive-interval": {
            "default": "60",
            "description": "Interval at which keepalive messages are sent\nto the MSDP peer",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag-tcp-connection-source": {
            "description": "LAG Interface to be used for communication to the peer.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-tcp-connection-source": {
            "description": "Loopback interface name to be used for communication to the peer.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "mesh-group": {
            "description": "Name of the mesh group if MSDP peer is configured\nas part of a mesh group",
            "format": "const",
            "maxLength": 20,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sa-filter-in": {
            "description": "Ingress ACL to filter processing of MSDP Source\nActive messages received from peer",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sa-filter-out": {
            "description": "Egress ACL to filter MSDP Source Active messages\nsent to peer",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sa-limit": {
            "description": "A limit on the number of Source Active entries\naccepted from the peer",
            "format": "int64",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sub-interface-tcp-connection-source": {
            "description": "L3 subinterface name to be used for communication to the peer.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi-tcp-connection-source": {
            "description": "L3 SVI id to be used for communication to the peer.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "tcp-connection-source-interface-type": {
            "description": "Interface type to be used for communication to the peer",
            "enum": [
              "ETH_INTERFACE",
              "LOOPBACK",
              "SUB_INTERFACE",
              "SVI",
              "PORTCHANNEL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ETH_INTERFACE": "Physical interface for tcp-connection-source",
              "LOOPBACK": "Loopback interface for tcp-connection-source",
              "PORTCHANNEL": "LAG interface for tcp-connection-source",
              "SUB_INTERFACE": "Sub interface for tcp-connection-source",
              "SVI": "VLAN interface for tcp-connection-source"
            },
            "x-typeDescription": "Interface type for tcp-connection-source"
          }
        }
      },
      "ArubaMsdp_MsdpSchemaGET": {
        "description": "Multicast Source Discovery Protocol Router configurations.\nWhen MSDP is configured in a network, Rendezvous Points(RP) running MSDP\nexchange source information with MSDP enabled RPs in other domains. An RP\ncan join the interdomain source tree for sources that are sending to groups\nfor which it has multicast receivers.",
        "properties": {
          "profile": {
            "description": "MSDP profiles.",
            "items": {
              "properties": {
                "description": {
                  "description": "MSDP profile description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": "MSDP profile name.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "router": {
                  "description": "The list of all the MSDP Router instances",
                  "items": {
                    "properties": {
                      "enable": {
                        "default": "false",
                        "description": "Enable MSDP",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "peer": {
                        "description": "List of MSDP peers",
                        "items": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/ArubaMsdp_MsdpPeerConfigurationGet"
                            }
                          ]
                        },
                        "maxItems": 2147483647,
                        "type": "array",
                        "x-key": [
                          "address"
                        ],
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "sa-interval": {
                        "default": "60",
                        "description": "Source Active Interval Frequency at which\nMSDP Source Active messages are sent",
                        "format": "int64",
                        "maximum": 65535,
                        "minimum": 60,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "vrf": {
                        "description": "VRF instance",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                        "x-patternSources": "name-type",
                        "x-patterns": "'([^\\\\/ ]+)'",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ],
                        "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "vrf"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaMsdp_MsdpprofileSchema": {
        "properties": {
          "description": {
            "description": "MSDP profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "name": {
            "description": "MSDP profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "router": {
            "description": "The list of all the MSDP Router instances",
            "items": {
              "properties": {
                "enable": {
                  "default": "false",
                  "description": "Enable MSDP",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "peer": {
                  "description": "List of MSDP peers",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ArubaMsdp_MsdpPeerConfiguration"
                      }
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "address"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "sa-interval": {
                  "default": "60",
                  "description": "Source Active Interval Frequency at which\nMSDP Source Active messages are sent",
                  "format": "int64",
                  "maximum": 65535,
                  "minimum": 60,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "vrf": {
                  "description": "VRF instance",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMsdp_MsdpprofileSchemaGet": {
        "properties": {
          "description": {
            "description": "MSDP profile description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "name": {
            "description": "MSDP profile name.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "router": {
            "description": "The list of all the MSDP Router instances",
            "items": {
              "properties": {
                "enable": {
                  "default": "false",
                  "description": "Enable MSDP",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "peer": {
                  "description": "List of MSDP peers",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ArubaMsdp_MsdpPeerConfigurationGet"
                      }
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "address"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "sa-interval": {
                  "default": "60",
                  "description": "Source Active Interval Frequency at which\nMSDP Source Active messages are sent",
                  "format": "int64",
                  "maximum": 65535,
                  "minimum": 60,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "vrf": {
                  "description": "VRF instance",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "vrf"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaMsdp_PasswordInfo": {
        "description": "Grouping for password configuration",
        "properties": {
          "password-key": {
            "description": "MD5 password for the peer",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "ptype": {
            "default": "CIPHER_TEXT",
            "description": "Password type [ciphertext | plaintext | password].",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Password type"
          }
        }
      },
      "ArubaMsdp_PasswordInfoGet": {
        "description": "Grouping for password configuration",
        "properties": {
          "password-key": {
            "description": "MD5 password for the peer",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "ptype": {
            "default": "CIPHER_TEXT",
            "description": "Password type [ciphertext | plaintext | password].",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Password type"
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaMsdp_MsdpprofileSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaMsdp_MsdpprofileSchema"
            }
          }
        },
        "description": "profilebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
