{
  "openapi": "3.1.0",
  "info": {
    "title": "Nexthop Group",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Nexthop Group"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/nexthop-groups": {
      "get": {
        "description": "Nexthop groups",
        "operationId": "readNexthopGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaNexthopGroup_NexthopGroupsSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read nexthop groups",
        "tags": [
          "Nexthop Group"
        ],
        "x-cliParam": {
          "commandName": "readNexthopGroupsCmd",
          "commandUse": "nexthop-groups",
          "parentCommand": "readCmd",
          "pathToPrint": "/nexthop-groups/",
          "summary": "Read operation for nexthop-groups"
        }
      }
    },
    "/network-config/v1alpha1/nexthop-groups/{name}": {
      "get": {
        "description": "Nexthop group name.",
        "operationId": "readNexthopGroupsGroupByID",
        "parameters": [
          {
            "description": "Nexthop group name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaNexthopGroup_NexthopGroupsgroupSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read nexthop group",
        "tags": [
          "Nexthop Group"
        ],
        "x-cliParam": {
          "commandName": "readNexthopGroupsGroupCmd",
          "commandUse": "group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readNexthopGroupsCmd",
          "pathToPrint": "/nexthop-groups/group/%s/",
          "summary": "Read operation for group",
          "totParams": 1
        }
      },
      "put": {
        "description": "Nexthop group name.",
        "operationId": "replaceNexthopGroupsGroupByID",
        "parameters": [
          {
            "description": "Nexthop group name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNexthopGroup_NexthopGroupsgroupSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add or Update existing nexthop group",
        "tags": [
          "Nexthop Group"
        ],
        "x-cliParam": {
          "commandName": "replaceNexthopGroupsGroupCmd",
          "commandUse": "group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceNexthopGroupsCmd",
          "pathToPrint": "/nexthop-groups/group/%s/",
          "summary": "Replace operation for group",
          "totParams": 1
        }
      },
      "post": {
        "description": "Nexthop group name.",
        "operationId": "createNexthopGroupsGroupByID",
        "parameters": [
          {
            "description": "Nexthop group name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNexthopGroup_NexthopGroupsgroupSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add nexthop group",
        "tags": [
          "Nexthop Group"
        ],
        "x-cliParam": {
          "commandName": "createNexthopGroupsGroupCmd",
          "commandUse": "group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createNexthopGroupsCmd",
          "pathToPrint": "/nexthop-groups/group/%s/",
          "summary": "Create operation for group",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Nexthop group name.",
        "operationId": "deleteNexthopGroupsGroupByID",
        "parameters": [
          {
            "description": "Nexthop group name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete nexthop group",
        "tags": [
          "Nexthop Group"
        ],
        "x-cliParam": {
          "commandName": "deleteNexthopGroupsGroupCmd",
          "commandUse": "group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteNexthopGroupsCmd",
          "pathToPrint": "/nexthop-groups/group/%s/",
          "summary": "Delete operation for group",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Nexthop group name.",
        "operationId": "updateNexthopGroupsGroupByID",
        "parameters": [
          {
            "description": "Nexthop group name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaNexthopGroup_NexthopGroupsgroupSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update nexthop group",
        "tags": [
          "Nexthop Group"
        ],
        "x-cliParam": {
          "commandName": "updateNexthopGroupsGroupCmd",
          "commandUse": "group",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateNexthopGroupsCmd",
          "pathToPrint": "/nexthop-groups/group/%s/",
          "summary": "Update operation for group",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaNexthopGroup_NexthopGroupsSchemaGET": {
        "description": "Nexthop groups",
        "properties": {
          "group": {
            "description": "Nexthop group name.",
            "items": {
              "properties": {
                "description": {
                  "description": "Description of the nexthop group",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "ip-version": {
                  "description": "IP version",
                  "enum": [
                    "UNKNOWN",
                    "IPV4",
                    "IPV6"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "IPV4": "The IPv4 protocol as defined in RFC 791.",
                    "IPV6": "The IPv6 protocol as defined in RFC 2460.",
                    "UNKNOWN": "An unknown or unspecified version of the Internet\nprotocol."
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "This value represents the version of the IP protocol.\nNote that integer representation of the enumerated values\nare not specified, and are not required to follow the\nInetVersion textual convention in SMIv2."
                },
                "name": {
                  "description": "Nexthop group name",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Gateway",
                    "Access Point"
                  ]
                },
                "nexthops": {
                  "description": "nexthop index of this nexthop group",
                  "items": {
                    "properties": {
                      "cloud-security": {
                        "description": "Use IPSec tunnel to Cloud Security deployments as nexthop.",
                        "properties": {
                          "deployment-name": {
                            "description": "Name of the Cloud Security deployment",
                            "format": "const",
                            "maxLength": 256,
                            "minLength": 1,
                            "type": "string"
                          },
                          "uplinks": {
                            "description": "List of uplinks on Branch to be used for this Cloud Security tunnel nexthop.",
                            "items": {
                              "description": "List of uplinks on Branch to be used for this Cloud Security tunnel nexthop.",
                              "format": "const",
                              "maxLength": 64,
                              "minLength": 1,
                              "type": "string"
                            },
                            "maxItems": 2147483647,
                            "type": "array"
                          }
                        },
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      },
                      "default-host": {
                        "default": "false",
                        "description": "Default host entry.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "index": {
                        "description": "Index of the nexthop",
                        "format": "int32",
                        "maximum": 128,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "ip": {
                        "description": "Select nexthop IP address",
                        "oneOf": [
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-address",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                          },
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv6-address",
                            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                          }
                        ],
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS",
                          "Gateway",
                          "Access Point"
                        ]
                      },
                      "ipsec-map": {
                        "description": "Select nexthop IPSec map",
                        "format": "const",
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Gateway",
                          "Access Point"
                        ]
                      },
                      "null-interface": {
                        "default": "false",
                        "description": "Null interface destination.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "priority": {
                        "default": "128",
                        "description": "Priority of the nexthop",
                        "format": "int32",
                        "maximum": 255,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Gateway",
                          "Access Point"
                        ]
                      },
                      "probe-wan-health-check": {
                        "default": "false",
                        "description": "Probe WAN health check IP to check the liveness of nexthop",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      },
                      "site-to-site-tunnel": {
                        "description": "Select Site-to-Site tunnel as nexthop.",
                        "format": "const",
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      },
                      "sla-profile": {
                        "description": "Internet Protocol Service Level Agreement (IPSLA) profile to be used to check performance metrics of the nexthop",
                        "format": "const",
                        "maxLength": 9999,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Gateway",
                          "Access Point"
                        ]
                      },
                      "tunnel-id": {
                        "description": "Tunnel interface id.",
                        "format": "int32",
                        "maximum": 65535,
                        "minimum": 0,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "type": {
                        "description": "Select nexthop type",
                        "enum": [
                          "IP_NEXTHOP",
                          "IPV6_NEXTHOP",
                          "DYNAMIC_NEXTHOP_VLAN_DHCP_GW",
                          "DYNAMIC_NEXTHOP_VLAN_PPPOE_GW",
                          "IPSEC_TUNNEL",
                          "IPSECV6_TUNNEL",
                          "INTERFACE",
                          "UPLINK",
                          "SITE_TO_SITE_TUNNEL",
                          "VPNC_TUNNEL",
                          "CLOUD_SECURITY_TUNNEL"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "CLOUD_SECURITY_TUNNEL": "Use IPSec tunnel to Cloud Security deployments as nexthop",
                          "DYNAMIC_NEXTHOP_VLAN_DHCP_GW": "Use DHCP VLAN gateway as nexthop",
                          "DYNAMIC_NEXTHOP_VLAN_PPPOE_GW": "Use PPPOE VLAN gateway as nexthop",
                          "INTERFACE": "Use Interface as nexthop",
                          "IPSECV6_TUNNEL": "Use an IPSecv6 tunnel as nexthop",
                          "IPSEC_TUNNEL": "Use an IPSec tunnel as nexthop",
                          "IPV6_NEXTHOP": "Use static IPV6 address as nexthop",
                          "IP_NEXTHOP": "Use static IP address as nexthop",
                          "SITE_TO_SITE_TUNNEL": "Use Site-to-Site tunnel as nexthop",
                          "UPLINK": "Use Uplink-vlan as nexthop",
                          "VPNC_TUNNEL": "Use IPSec tunnel to SD-Branch VPNC as nexthop"
                        },
                        "x-mandatory": true,
                        "x-supportedDeviceType": [
                          "Switch PVOS",
                          "Gateway"
                        ],
                        "x-typeDescription": "Nexthop type"
                      },
                      "vlan": {
                        "description": "Select nexthop VLAN.",
                        "format": "int32",
                        "maximum": 4094,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Gateway",
                          "Access Point"
                        ],
                        "x-typeDescription": "Type definition representing a single-tagged VLAN"
                      },
                      "vpnc": {
                        "description": "Use IPSec tunnel to SD-Branch VPNC as nexthop.",
                        "properties": {
                          "serial-number": {
                            "description": "Serial number of the SD-Branch VPNC appliance",
                            "format": "pattern",
                            "maxLength": 10,
                            "minLength": 1,
                            "type": "string",
                            "x-patternSources": "serial-number",
                            "x-patterns": "'[a-zA-Z0-9]*'"
                          },
                          "uplinks": {
                            "description": "List of uplinks on Branch to be used for this VPNC tunnel nexthop.",
                            "items": {
                              "description": "List of uplinks on Branch to be used for this VPNC tunnel nexthop.",
                              "format": "const",
                              "maxLength": 64,
                              "minLength": 1,
                              "type": "string"
                            },
                            "maxItems": 2147483647,
                            "type": "array"
                          }
                        },
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      },
                      "wan-uplink": {
                        "description": "Use Uplink as nexthop.",
                        "properties": {
                          "id": {
                            "description": "Select Uplink ID as nexthop.",
                            "format": "const",
                            "maxLength": 64,
                            "minLength": 1,
                            "type": "string"
                          }
                        },
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  "maxItems": 16,
                  "type": "array",
                  "x-key": [
                    "index"
                  ],
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "preemptive-failover": {
                  "default": "true",
                  "description": "Enable preemptive failover.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaNexthopGroup_NexthopGroupsgroupSchema": {
        "properties": {
          "description": {
            "description": "Description of the nexthop group",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "ip-version": {
            "description": "IP version",
            "enum": [
              "UNKNOWN",
              "IPV4",
              "IPV6"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IPV4": "The IPv4 protocol as defined in RFC 791.",
              "IPV6": "The IPv6 protocol as defined in RFC 2460.",
              "UNKNOWN": "An unknown or unspecified version of the Internet\nprotocol."
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "This value represents the version of the IP protocol.\nNote that integer representation of the enumerated values\nare not specified, and are not required to follow the\nInetVersion textual convention in SMIv2."
          },
          "name": {
            "description": "Nexthop group name",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Access Point"
            ]
          },
          "nexthops": {
            "description": "nexthop index of this nexthop group",
            "items": {
              "properties": {
                "cloud-security": {
                  "description": "Use IPSec tunnel to Cloud Security deployments as nexthop.",
                  "properties": {
                    "deployment-name": {
                      "description": "Name of the Cloud Security deployment",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "uplinks": {
                      "description": "List of uplinks on Branch to be used for this Cloud Security tunnel nexthop.",
                      "items": {
                        "description": "List of uplinks on Branch to be used for this Cloud Security tunnel nexthop.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string"
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "default-host": {
                  "default": "false",
                  "description": "Default host entry.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "index": {
                  "description": "Index of the nexthop",
                  "format": "int32",
                  "maximum": 128,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "ip": {
                  "description": "Select nexthop IP address",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS",
                    "Gateway",
                    "Access Point"
                  ]
                },
                "ipsec-map": {
                  "description": "Select nexthop IPSec map",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point"
                  ]
                },
                "null-interface": {
                  "default": "false",
                  "description": "Null interface destination.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "priority": {
                  "default": "128",
                  "description": "Priority of the nexthop",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point"
                  ]
                },
                "probe-wan-health-check": {
                  "default": "false",
                  "description": "Probe WAN health check IP to check the liveness of nexthop",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "site-to-site-tunnel": {
                  "description": "Select Site-to-Site tunnel as nexthop.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "sla-profile": {
                  "description": "Internet Protocol Service Level Agreement (IPSLA) profile to be used to check performance metrics of the nexthop",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point"
                  ]
                },
                "tunnel-id": {
                  "description": "Tunnel interface id.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "type": {
                  "description": "Select nexthop type",
                  "enum": [
                    "IP_NEXTHOP",
                    "IPV6_NEXTHOP",
                    "DYNAMIC_NEXTHOP_VLAN_DHCP_GW",
                    "DYNAMIC_NEXTHOP_VLAN_PPPOE_GW",
                    "IPSEC_TUNNEL",
                    "IPSECV6_TUNNEL",
                    "INTERFACE",
                    "UPLINK",
                    "SITE_TO_SITE_TUNNEL",
                    "VPNC_TUNNEL",
                    "CLOUD_SECURITY_TUNNEL"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CLOUD_SECURITY_TUNNEL": "Use IPSec tunnel to Cloud Security deployments as nexthop",
                    "DYNAMIC_NEXTHOP_VLAN_DHCP_GW": "Use DHCP VLAN gateway as nexthop",
                    "DYNAMIC_NEXTHOP_VLAN_PPPOE_GW": "Use PPPOE VLAN gateway as nexthop",
                    "INTERFACE": "Use Interface as nexthop",
                    "IPSECV6_TUNNEL": "Use an IPSecv6 tunnel as nexthop",
                    "IPSEC_TUNNEL": "Use an IPSec tunnel as nexthop",
                    "IPV6_NEXTHOP": "Use static IPV6 address as nexthop",
                    "IP_NEXTHOP": "Use static IP address as nexthop",
                    "SITE_TO_SITE_TUNNEL": "Use Site-to-Site tunnel as nexthop",
                    "UPLINK": "Use Uplink-vlan as nexthop",
                    "VPNC_TUNNEL": "Use IPSec tunnel to SD-Branch VPNC as nexthop"
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway"
                  ],
                  "x-typeDescription": "Nexthop type"
                },
                "vlan": {
                  "description": "Select nexthop VLAN.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "vpnc": {
                  "description": "Use IPSec tunnel to SD-Branch VPNC as nexthop.",
                  "properties": {
                    "serial-number": {
                      "description": "Serial number of the SD-Branch VPNC appliance",
                      "format": "pattern",
                      "maxLength": 10,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "serial-number",
                      "x-patterns": "'[a-zA-Z0-9]*'"
                    },
                    "uplinks": {
                      "description": "List of uplinks on Branch to be used for this VPNC tunnel nexthop.",
                      "items": {
                        "description": "List of uplinks on Branch to be used for this VPNC tunnel nexthop.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string"
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "wan-uplink": {
                  "description": "Use Uplink as nexthop.",
                  "properties": {
                    "id": {
                      "description": "Select Uplink ID as nexthop.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string"
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            "maxItems": 16,
            "type": "array",
            "x-key": [
              "index"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "preemptive-failover": {
            "default": "true",
            "description": "Enable preemptive failover.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway",
              "Access Point"
            ]
          }
        }
      },
      "ArubaNexthopGroup_NexthopGroupsgroupSchemaGet": {
        "properties": {
          "description": {
            "description": "Description of the nexthop group",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "ip-version": {
            "description": "IP version",
            "enum": [
              "UNKNOWN",
              "IPV4",
              "IPV6"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IPV4": "The IPv4 protocol as defined in RFC 791.",
              "IPV6": "The IPv6 protocol as defined in RFC 2460.",
              "UNKNOWN": "An unknown or unspecified version of the Internet\nprotocol."
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "This value represents the version of the IP protocol.\nNote that integer representation of the enumerated values\nare not specified, and are not required to follow the\nInetVersion textual convention in SMIv2."
          },
          "name": {
            "description": "Nexthop group name",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Access Point"
            ]
          },
          "nexthops": {
            "description": "nexthop index of this nexthop group",
            "items": {
              "properties": {
                "cloud-security": {
                  "description": "Use IPSec tunnel to Cloud Security deployments as nexthop.",
                  "properties": {
                    "deployment-name": {
                      "description": "Name of the Cloud Security deployment",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "uplinks": {
                      "description": "List of uplinks on Branch to be used for this Cloud Security tunnel nexthop.",
                      "items": {
                        "description": "List of uplinks on Branch to be used for this Cloud Security tunnel nexthop.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string"
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "default-host": {
                  "default": "false",
                  "description": "Default host entry.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "index": {
                  "description": "Index of the nexthop",
                  "format": "int32",
                  "maximum": 128,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "ip": {
                  "description": "Select nexthop IP address",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS",
                    "Gateway",
                    "Access Point"
                  ]
                },
                "ipsec-map": {
                  "description": "Select nexthop IPSec map",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point"
                  ]
                },
                "null-interface": {
                  "default": "false",
                  "description": "Null interface destination.",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "priority": {
                  "default": "128",
                  "description": "Priority of the nexthop",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point"
                  ]
                },
                "probe-wan-health-check": {
                  "default": "false",
                  "description": "Probe WAN health check IP to check the liveness of nexthop",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "site-to-site-tunnel": {
                  "description": "Select Site-to-Site tunnel as nexthop.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "sla-profile": {
                  "description": "Internet Protocol Service Level Agreement (IPSLA) profile to be used to check performance metrics of the nexthop",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point"
                  ]
                },
                "tunnel-id": {
                  "description": "Tunnel interface id.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "type": {
                  "description": "Select nexthop type",
                  "enum": [
                    "IP_NEXTHOP",
                    "IPV6_NEXTHOP",
                    "DYNAMIC_NEXTHOP_VLAN_DHCP_GW",
                    "DYNAMIC_NEXTHOP_VLAN_PPPOE_GW",
                    "IPSEC_TUNNEL",
                    "IPSECV6_TUNNEL",
                    "INTERFACE",
                    "UPLINK",
                    "SITE_TO_SITE_TUNNEL",
                    "VPNC_TUNNEL",
                    "CLOUD_SECURITY_TUNNEL"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "CLOUD_SECURITY_TUNNEL": "Use IPSec tunnel to Cloud Security deployments as nexthop",
                    "DYNAMIC_NEXTHOP_VLAN_DHCP_GW": "Use DHCP VLAN gateway as nexthop",
                    "DYNAMIC_NEXTHOP_VLAN_PPPOE_GW": "Use PPPOE VLAN gateway as nexthop",
                    "INTERFACE": "Use Interface as nexthop",
                    "IPSECV6_TUNNEL": "Use an IPSecv6 tunnel as nexthop",
                    "IPSEC_TUNNEL": "Use an IPSec tunnel as nexthop",
                    "IPV6_NEXTHOP": "Use static IPV6 address as nexthop",
                    "IP_NEXTHOP": "Use static IP address as nexthop",
                    "SITE_TO_SITE_TUNNEL": "Use Site-to-Site tunnel as nexthop",
                    "UPLINK": "Use Uplink-vlan as nexthop",
                    "VPNC_TUNNEL": "Use IPSec tunnel to SD-Branch VPNC as nexthop"
                  },
                  "x-mandatory": true,
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway"
                  ],
                  "x-typeDescription": "Nexthop type"
                },
                "vlan": {
                  "description": "Select nexthop VLAN.",
                  "format": "int32",
                  "maximum": 4094,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway",
                    "Access Point"
                  ],
                  "x-typeDescription": "Type definition representing a single-tagged VLAN"
                },
                "vpnc": {
                  "description": "Use IPSec tunnel to SD-Branch VPNC as nexthop.",
                  "properties": {
                    "serial-number": {
                      "description": "Serial number of the SD-Branch VPNC appliance",
                      "format": "pattern",
                      "maxLength": 10,
                      "minLength": 1,
                      "type": "string",
                      "x-patternSources": "serial-number",
                      "x-patterns": "'[a-zA-Z0-9]*'"
                    },
                    "uplinks": {
                      "description": "List of uplinks on Branch to be used for this VPNC tunnel nexthop.",
                      "items": {
                        "description": "List of uplinks on Branch to be used for this VPNC tunnel nexthop.",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string"
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "wan-uplink": {
                  "description": "Use Uplink as nexthop.",
                  "properties": {
                    "id": {
                      "description": "Select Uplink ID as nexthop.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 1,
                      "type": "string"
                    }
                  },
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                }
              },
              "required": [
                "type"
              ]
            },
            "maxItems": 16,
            "type": "array",
            "x-key": [
              "index"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "preemptive-failover": {
            "default": "true",
            "description": "Enable preemptive failover.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway",
              "Access Point"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaNexthopGroup_NexthopGroupsgroupSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaNexthopGroup_NexthopGroupsgroupSchema"
            }
          }
        },
        "description": "groupbody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
