{
  "openapi": "3.1.0",
  "info": {
    "title": "Ospfv3",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Ospfv3"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/ospfv3": {
      "get": {
        "description": "OSPFv3 (Open Shortest Path First version 3) is a routing protocol which is\ndescribed in RFC5340 entitled OSPF for IPv6. It is a Link State-based IGP\n(Interior Gateway Protocol) routing protocol. It is widely used with medium to\nlarge-sized enterprise networks.\n\nThe characteristics of OSPFv3 are:\n\n- Provides a loop free topology using SPF algorithm.\n- Allows hierarchical routing using area 0 (backbone area) as the top of the\n  hierarchy.\n- Supports load balancing with equal cost routes for same destination.\n- OSPFv3 is a classless protocol and allows for a hierarchical design with\n  VLSM (Variable Length Subnet Masking) and route summarization.\n- Scales enterprise size network easily with area concept.\n- Provides fast convergence with triggered, incremental updates via\n  Link State Advertisements (LSAs).",
        "operationId": "readOspfv3",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3SchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read ospfv3",
        "tags": [
          "Ospfv3"
        ],
        "x-cliParam": {
          "commandName": "readOspfv3Cmd",
          "commandUse": "ospfv3",
          "parentCommand": "readCmd",
          "pathToPrint": "/ospfv3/",
          "summary": "Read operation for ospfv3"
        }
      }
    },
    "/network-config/v1alpha1/ospfv3/{name}": {
      "get": {
        "description": "OSPFv3 configuration profiles for organizing router instances.",
        "operationId": "readOspfv3ProfileByID",
        "parameters": [
          {
            "description": "Profile name for the OSPFv3 configuration group.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3profileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read profile by name",
        "tags": [
          "Ospfv3"
        ],
        "x-cliParam": {
          "commandName": "readOspfv3ProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readOspfv3Cmd",
          "pathToPrint": "/ospfv3/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "OSPFv3 configuration profiles for organizing router instances.",
        "operationId": "replaceOspfv3ProfileByID",
        "parameters": [
          {
            "description": "Profile name for the OSPFv3 configuration group.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaOspfv3_Ospfv3profileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Ospfv3"
        ],
        "x-cliParam": {
          "commandName": "replaceOspfv3ProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceOspfv3Cmd",
          "pathToPrint": "/ospfv3/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "OSPFv3 configuration profiles for organizing router instances.",
        "operationId": "createOspfv3ProfileByID",
        "parameters": [
          {
            "description": "Profile name for the OSPFv3 configuration group.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaOspfv3_Ospfv3profileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create profile by name",
        "tags": [
          "Ospfv3"
        ],
        "x-cliParam": {
          "commandName": "createOspfv3ProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createOspfv3Cmd",
          "pathToPrint": "/ospfv3/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "OSPFv3 configuration profiles for organizing router instances.",
        "operationId": "deleteOspfv3ProfileByID",
        "parameters": [
          {
            "description": "Profile name for the OSPFv3 configuration group.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete profile by name",
        "tags": [
          "Ospfv3"
        ],
        "x-cliParam": {
          "commandName": "deleteOspfv3ProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteOspfv3Cmd",
          "pathToPrint": "/ospfv3/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "OSPFv3 configuration profiles for organizing router instances.",
        "operationId": "updateOspfv3ProfileByID",
        "parameters": [
          {
            "description": "Profile name for the OSPFv3 configuration group.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaOspfv3_Ospfv3profileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "Ospfv3"
        ],
        "x-cliParam": {
          "commandName": "updateOspfv3ProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateOspfv3Cmd",
          "pathToPrint": "/ospfv3/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaOspfv3_AggregateRoute": {
        "description": "Summarizes the external routes with the matching address or masks.",
        "properties": {
          "no-advertise": {
            "default": "false",
            "description": "Do not advertise the aggregate route.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "prefix": {
            "description": "Specify the prefix/mask for advertising the aggregate route",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-prefix",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
          },
          "tag": {
            "description": "Assign a tag for the aggregate route.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv3_AggregateRouteGet": {
        "description": "Summarizes the external routes with the matching address or masks.",
        "properties": {
          "no-advertise": {
            "default": "false",
            "description": "Do not advertise the aggregate route.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "prefix": {
            "description": "Specify the prefix/mask for advertising the aggregate route",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-prefix",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
          },
          "tag": {
            "description": "Assign a tag for the aggregate route.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv3_AreaConfiguration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaOspfv3_OspfInterface"
          }
        ],
        "description": "Grouping for IPv4 OSPFv3 Configurations.",
        "properties": {
          "area-id": {
            "description": "The Area ID can be in IPv4 address format or in decimal format.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "area-type": {
            "default": "DEFAULT",
            "description": "This defines how the external routing and summary LSAs for this area will be handled.\nBackbone area(0 or 0.0.0.0) can not be configured as stub or nssa.",
            "enum": [
              "DEFAULT",
              "STUB",
              "STUB_NO_SUMMARY",
              "NSSA",
              "NSSA_NO_SUMMARY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DEFAULT": "OSPFv3 area as default",
              "NSSA": "OSPFv3 area as NSSA",
              "NSSA_NO_SUMMARY": "OSPFv3 area as NSSA with no-summary",
              "STUB": "OSPFv3 area as stub",
              "STUB_NO_SUMMARY": "OSPFv3 area as stub with no-summary"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "OSPFv3 Area type"
          },
          "auth-cipher-key": {
            "description": "Ciphertext authentication key for OSPFv3, configured on area.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "auth-key": {
            "description": "Plaintext authentication key for OSPFv3, configured on area.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "auth-key-null": {
            "description": "Encryption key.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "authentication": {
            "default": "false",
            "description": "IPsec AH authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "authentication-type": {
            "description": "Authentication type.",
            "enum": [
              "SHA",
              "MD5"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MD5": "md5 authentication",
              "SHA": "sha authentication"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "vlink authentication type"
          },
          "default-metric": {
            "description": "The cost metric for the default summary route sent into the stub or NSSA area.\nDefault metric cannot be configured for normal areas",
            "format": "int64",
            "maximum": 16777215,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "encr-cipher-key": {
            "description": "Ciphertext encryption key for OSPFv3, configured on area.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encryption": {
            "default": "false",
            "description": "Encryption method.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encryption-key": {
            "description": "Plaintext encryption key for OSPFv3, configured on area.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encryption-key-type": {
            "description": "Encryption key type.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT",
              "HEX_STRING"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "HEX_STRING": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Password type"
          },
          "encryption-type": {
            "description": "Encryption type.",
            "enum": [
              "THREEDES",
              "AES",
              "DES",
              "NULL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AES": "AES encryption.",
              "DES": "DES encryption.",
              "NULL": "Null encryption.",
              "THREEDES": "3-DES encryption."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "vlink authentication type"
          },
          "key-type": {
            "description": "Key type.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT",
              "HEX_STRING"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "HEX_STRING": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Password type"
          },
          "metric-type": {
            "description": "Metric type.",
            "enum": [
              "TYPE1",
              "TYPE2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TYPE1": "Comparable (an OSPFv3 metric plus the external metric)",
              "TYPE2": "Non-comparable metric (the external metric)"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Metric type."
          },
          "no-advertise-range": {
            "description": "Do not advertise the range outside the area.\nSummarize routes matching IPV4 address/mask on border routers only.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_Range"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "prefixAreaRangeType"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "security-disable": {
            "default": "false",
            "description": "Disable IPSec security.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "spi-id": {
            "description": "Security Parameters Index (SPI) for the Security Association (SA).",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 256,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "virtuallinks": {
            "description": "In Open Shortest Path First (OSPF), a virtual link is a logical path that\nconnects areas of a network that are not physically connected.\nVirtual links are used when it's not possible to connect all areas\nof an OSPFv3 autonomous system to the backbone area (area 0).\nThey can also be used to connect two parts of a partitioned backbone.\n\nVirtual links cannot be configured through backbone area or stub/nssa area.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_VirtualLink"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "remoteAbrId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv3_AreaConfigurationGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaOspfv3_OspfInterfaceGet"
          }
        ],
        "description": "Grouping for IPv4 OSPFv3 Configurations.",
        "properties": {
          "area-id": {
            "description": "The Area ID can be in IPv4 address format or in decimal format.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "area-type": {
            "default": "DEFAULT",
            "description": "This defines how the external routing and summary LSAs for this area will be handled.\nBackbone area(0 or 0.0.0.0) can not be configured as stub or nssa.",
            "enum": [
              "DEFAULT",
              "STUB",
              "STUB_NO_SUMMARY",
              "NSSA",
              "NSSA_NO_SUMMARY"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DEFAULT": "OSPFv3 area as default",
              "NSSA": "OSPFv3 area as NSSA",
              "NSSA_NO_SUMMARY": "OSPFv3 area as NSSA with no-summary",
              "STUB": "OSPFv3 area as stub",
              "STUB_NO_SUMMARY": "OSPFv3 area as stub with no-summary"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "OSPFv3 Area type"
          },
          "auth-cipher-key": {
            "description": "Ciphertext authentication key for OSPFv3, configured on area.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "auth-key": {
            "description": "Plaintext authentication key for OSPFv3, configured on area.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "auth-key-null": {
            "description": "Encryption key.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "authentication": {
            "default": "false",
            "description": "IPsec AH authentication.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "authentication-type": {
            "description": "Authentication type.",
            "enum": [
              "SHA",
              "MD5"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MD5": "md5 authentication",
              "SHA": "sha authentication"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "vlink authentication type"
          },
          "default-metric": {
            "description": "The cost metric for the default summary route sent into the stub or NSSA area.\nDefault metric cannot be configured for normal areas",
            "format": "int64",
            "maximum": 16777215,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "encr-cipher-key": {
            "description": "Ciphertext encryption key for OSPFv3, configured on area.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encryption": {
            "default": "false",
            "description": "Encryption method.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encryption-key": {
            "description": "Plaintext encryption key for OSPFv3, configured on area.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encryption-key-type": {
            "description": "Encryption key type.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT",
              "HEX_STRING"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "HEX_STRING": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Password type"
          },
          "encryption-type": {
            "description": "Encryption type.",
            "enum": [
              "THREEDES",
              "AES",
              "DES",
              "NULL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AES": "AES encryption.",
              "DES": "DES encryption.",
              "NULL": "Null encryption.",
              "THREEDES": "3-DES encryption."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "vlink authentication type"
          },
          "key-type": {
            "description": "Key type.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT",
              "HEX_STRING"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "HEX_STRING": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Password type"
          },
          "metric-type": {
            "description": "Metric type.",
            "enum": [
              "TYPE1",
              "TYPE2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TYPE1": "Comparable (an OSPFv3 metric plus the external metric)",
              "TYPE2": "Non-comparable metric (the external metric)"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Metric type."
          },
          "no-advertise-range": {
            "description": "Do not advertise the range outside the area.\nSummarize routes matching IPV4 address/mask on border routers only.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_RangeGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "prefixAreaRangeType"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "security-disable": {
            "default": "false",
            "description": "Disable IPSec security.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "spi-id": {
            "description": "Security Parameters Index (SPI) for the Security Association (SA).",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 256,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "virtuallinks": {
            "description": "In Open Shortest Path First (OSPF), a virtual link is a logical path that\nconnects areas of a network that are not physically connected.\nVirtual links are used when it's not possible to connect all areas\nof an OSPFv3 autonomous system to the backbone area (area 0).\nThey can also be used to connect two parts of a partitioned backbone.\n\nVirtual links cannot be configured through backbone area or stub/nssa area.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_VirtualLinkGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "remoteAbrId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv3_DefaultRoute": {
        "description": "Configuration for default route.",
        "properties": {
          "always": {
            "description": "Always advertises the default route.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "always-metric": {
            "description": "Metric of default route.",
            "format": "int64",
            "maximum": 1677214,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "metric": {
            "description": "Metric of default route.",
            "format": "int64",
            "maximum": 1677214,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "originate": {
            "description": "Always advertises the default route.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv3_DefaultRouteGet": {
        "description": "Configuration for default route.",
        "properties": {
          "always": {
            "description": "Always advertises the default route.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "always-metric": {
            "description": "Metric of default route.",
            "format": "int64",
            "maximum": 1677214,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "metric": {
            "description": "Metric of default route.",
            "format": "int64",
            "maximum": 1677214,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "originate": {
            "description": "Always advertises the default route.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv3_Dlist": {
        "description": "Filter network in routing updates.",
        "properties": {
          "direction": {
            "description": "Filter direction for routing updates.",
            "enum": [
              "IN",
              "OUT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IN": "Ingress",
              "OUT": "Egress"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Distribute list direction"
          },
          "prefix-name": {
            "description": "Filter prefixes in routing updates.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv3_DlistGet": {
        "description": "Filter network in routing updates.",
        "properties": {
          "direction": {
            "description": "Filter direction for routing updates.",
            "enum": [
              "IN",
              "OUT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IN": "Ingress",
              "OUT": "Egress"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Distribute list direction"
          },
          "prefix-name": {
            "description": "Filter prefixes in routing updates.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv3_GracefulRestart": {
        "description": "Graceful restart parameters for OSPF.",
        "properties": {
          "helper": {
            "default": "true",
            "description": "Enable the router as graceful-restart helper.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "helper-strict-lsa-check": {
            "default": "true",
            "description": "Enable the router as graceful-restart helper for strict LSA check.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ignore-lost-interface": {
            "default": "false",
            "description": "Enable the restarting device to ignore lost OSPFv3 interfaces during a graceful restart process.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "restart-interval": {
            "default": "120",
            "description": "Graceful restart interval.",
            "format": "int64",
            "maximum": 1800,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv3_GracefulRestartGet": {
        "description": "Graceful restart parameters for OSPF.",
        "properties": {
          "helper": {
            "default": "true",
            "description": "Enable the router as graceful-restart helper.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "helper-strict-lsa-check": {
            "default": "true",
            "description": "Enable the router as graceful-restart helper for strict LSA check.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ignore-lost-interface": {
            "default": "false",
            "description": "Enable the restarting device to ignore lost OSPFv3 interfaces during a graceful restart process.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "restart-interval": {
            "default": "120",
            "description": "Graceful restart interval.",
            "format": "int64",
            "maximum": 1800,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv3_LoggingConfiguration": {
        "description": "Enables or Disables OSPFv3 Logging.",
        "properties": {
          "detail": {
            "default": "false",
            "description": "Sends a syslog message for each state change, not just\n when a neighbor goes up or down.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "neighbour-adjacency": {
            "default": "true",
            "description": "Sends a syslog message when a neighbor goes up or down.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv3_LoggingConfigurationGet": {
        "description": "Enables or Disables OSPFv3 Logging.",
        "properties": {
          "detail": {
            "default": "false",
            "description": "Sends a syslog message for each state change, not just\n when a neighbor goes up or down.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "neighbour-adjacency": {
            "default": "true",
            "description": "Sends a syslog message when a neighbor goes up or down.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv3_OspfInterface": {
        "description": "OSPFv3 interface list.",
        "properties": {
          "ether-interfaces": {
            "description": "OSPFv3 interface configuration on a routed physical interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3Interface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "interfaceName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag-interfaces": {
            "description": "OSPFv3 interface configuration in a routed LAG.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3Interface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "lagName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-interfaces": {
            "description": "OSPFv3 interface configuration in loopback interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3Interface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "loopbackId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "sub-interfaces": {
            "description": "OSPFv2 interface configuration in sub interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3Interface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "subInterfaceName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi-interfaces": {
            "description": "OSPFv3 interface configuration in svi interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3Interface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sviId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "tunnel-interfaces": {
            "description": "OSPFv3 interface configuration in tunnel interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3Interface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "tunnelId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv3_OspfInterfaceGet": {
        "description": "OSPFv3 interface list.",
        "properties": {
          "ether-interfaces": {
            "description": "OSPFv3 interface configuration on a routed physical interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3InterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "interfaceName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag-interfaces": {
            "description": "OSPFv3 interface configuration in a routed LAG.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3InterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "lagName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-interfaces": {
            "description": "OSPFv3 interface configuration in loopback interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3InterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "loopbackId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "sub-interfaces": {
            "description": "OSPFv2 interface configuration in sub interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3InterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "subInterfaceName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi-interfaces": {
            "description": "OSPFv3 interface configuration in svi interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3InterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sviId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "tunnel-interfaces": {
            "description": "OSPFv3 interface configuration in tunnel interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3InterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "tunnelId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv3_Ospfv3Distance": {
        "description": "Config for default route.",
        "properties": {
          "all": {
            "default": "110",
            "description": "The administrative distance applies to all types of routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "external": {
            "default": "110",
            "description": "The administrative distance applies to external routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "inter-area": {
            "default": "110",
            "description": "The administrative distance applies to inter area routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "intra-area": {
            "default": "110",
            "description": "The administrative distance applies to intra area routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "route-type": {
            "description": "Type of roure.",
            "enum": [
              "ROUTE_ALL",
              "ROUTE_INTER_AREA",
              "ROUTE_INTRA_AREA",
              "ROUTE_EXTERNAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ROUTE_ALL": "All type route",
              "ROUTE_EXTERNAL": "External route",
              "ROUTE_INTER_AREA": "Inter area route",
              "ROUTE_INTRA_AREA": "Intra area route"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "OSPFv3 route type"
          }
        }
      },
      "ArubaOspfv3_Ospfv3DistanceGet": {
        "description": "Config for default route.",
        "properties": {
          "all": {
            "default": "110",
            "description": "The administrative distance applies to all types of routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "external": {
            "default": "110",
            "description": "The administrative distance applies to external routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "inter-area": {
            "default": "110",
            "description": "The administrative distance applies to inter area routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "intra-area": {
            "default": "110",
            "description": "The administrative distance applies to intra area routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "route-type": {
            "description": "Type of roure.",
            "enum": [
              "ROUTE_ALL",
              "ROUTE_INTER_AREA",
              "ROUTE_INTRA_AREA",
              "ROUTE_EXTERNAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ROUTE_ALL": "All type route",
              "ROUTE_EXTERNAL": "External route",
              "ROUTE_INTER_AREA": "Inter area route",
              "ROUTE_INTRA_AREA": "Intra area route"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "OSPFv3 route type"
          }
        }
      },
      "ArubaOspfv3_Ospfv3Interface": {
        "description": "OSPFv3 interface.",
        "properties": {
          "auth-cipher-key": {
            "description": "Ciphertext authentication key for OSPFv3, configured on the interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "auth-key": {
            "description": "Plaintext authentication key for OSPFv3, configured on the interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "auth-key-null": {
            "description": "Encryption key.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "authentication": {
            "default": "false",
            "description": "OSPFv3 IPsec AH authentication configuration on an interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "authentication-type": {
            "description": "OSPFv3 authentication type configuration on an interface.",
            "enum": [
              "SHA",
              "MD5"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MD5": "md5 authentication",
              "SHA": "sha authentication"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "vlink authentication type"
          },
          "bfd": {
            "default": "false",
            "description": "Enable BFD in OSPFv3 for VLAN specific IP address",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "cost": {
            "description": "OSPFv3 interface cost.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "dead-interval": {
            "default": "40",
            "description": "Interval to consider an unresponsive neighbor as down on an interface.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "disable": {
            "default": "false",
            "description": "Disable OSPFv3 interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encr-cipher-key": {
            "description": "Ciphertext encryption key for OSPFv3, configured on an interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encryption": {
            "default": "false",
            "description": "OSPFv3 encryption method configuration on an interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encryption-key": {
            "description": "Plaintext encryption key for OSPFv3, configured on an interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encryption-key-type": {
            "description": "OSPFv3 encryption key type configuration on an interface.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT",
              "HEX_STRING"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "HEX_STRING": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Password type"
          },
          "encryption-type": {
            "description": "OSPFv3 encryption type configuration on an interface.",
            "enum": [
              "THREEDES",
              "AES",
              "DES",
              "NULL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AES": "AES encryption.",
              "DES": "DES encryption.",
              "NULL": "Null encryption.",
              "THREEDES": "3-DES encryption."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "vlink authentication type"
          },
          "hello-interval": {
            "default": "10",
            "description": "Time interval between hello packets configuration on an interface.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "interface-name": {
            "description": "L3 interface name where ospfv3 is enabled.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "key-type": {
            "description": "OSPFv3 key type configuration on an interface.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT",
              "HEX_STRING"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "HEX_STRING": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Password type"
          },
          "lag-name": {
            "description": "Lag interface name where ospfv3 is enabled.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-id": {
            "description": "L3 loopback id where ospfv3 is enabled.\nLoopback interface only support cost network and disable configuration",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "network": {
            "description": "OSPFv3 network type.",
            "enum": [
              "BROADCAST",
              "POINT_TO_POINT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BROADCAST": "Broadcast network",
              "POINT_TO_POINT": "Point-to-point network"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "The network type for the interface."
          },
          "passive": {
            "default": "false",
            "description": "OSPFv3 passive interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "priority": {
            "default": "1",
            "description": "OSPFv3 interface priority.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "retransmit-interval": {
            "default": "5",
            "description": "Time between retransmitting lost link state advertisements configuration on an interface.",
            "format": "int64",
            "maximum": 3600,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "security-disable": {
            "default": "false",
            "description": "Disable IPSec security.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "spi-id": {
            "description": "Security Parameters Index (SPI) for the Security Association (SA) configuration on an interface.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 256,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "sub-interface-name": {
            "description": "L3 subinterface name where ospfv3 is enabled.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi-id": {
            "description": "L3 SVI id  where ospfv3 is enabled.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "transit-delay": {
            "default": "1",
            "description": "Link state transit delay configuration on an interface.",
            "format": "int64",
            "maximum": 3600,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "tunnel-id": {
            "description": "L3 tunnel id where ospfv3 is enabled.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv3_Ospfv3InterfaceGet": {
        "description": "OSPFv3 interface.",
        "properties": {
          "auth-cipher-key": {
            "description": "Ciphertext authentication key for OSPFv3, configured on the interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "auth-key": {
            "description": "Plaintext authentication key for OSPFv3, configured on the interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "auth-key-null": {
            "description": "Encryption key.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "authentication": {
            "default": "false",
            "description": "OSPFv3 IPsec AH authentication configuration on an interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "authentication-type": {
            "description": "OSPFv3 authentication type configuration on an interface.",
            "enum": [
              "SHA",
              "MD5"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MD5": "md5 authentication",
              "SHA": "sha authentication"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "vlink authentication type"
          },
          "bfd": {
            "default": "false",
            "description": "Enable BFD in OSPFv3 for VLAN specific IP address",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "cost": {
            "description": "OSPFv3 interface cost.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "dead-interval": {
            "default": "40",
            "description": "Interval to consider an unresponsive neighbor as down on an interface.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "disable": {
            "default": "false",
            "description": "Disable OSPFv3 interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encr-cipher-key": {
            "description": "Ciphertext encryption key for OSPFv3, configured on an interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encryption": {
            "default": "false",
            "description": "OSPFv3 encryption method configuration on an interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encryption-key": {
            "description": "Plaintext encryption key for OSPFv3, configured on an interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "encryption-key-type": {
            "description": "OSPFv3 encryption key type configuration on an interface.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT",
              "HEX_STRING"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "HEX_STRING": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Password type"
          },
          "encryption-type": {
            "description": "OSPFv3 encryption type configuration on an interface.",
            "enum": [
              "THREEDES",
              "AES",
              "DES",
              "NULL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "AES": "AES encryption.",
              "DES": "DES encryption.",
              "NULL": "Null encryption.",
              "THREEDES": "3-DES encryption."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "vlink authentication type"
          },
          "hello-interval": {
            "default": "10",
            "description": "Time interval between hello packets configuration on an interface.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "interface-name": {
            "description": "L3 interface name where ospfv3 is enabled.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "key-type": {
            "description": "OSPFv3 key type configuration on an interface.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT",
              "HEX_STRING"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "HEX_STRING": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Password type"
          },
          "lag-name": {
            "description": "Lag interface name where ospfv3 is enabled.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-id": {
            "description": "L3 loopback id where ospfv3 is enabled.\nLoopback interface only support cost network and disable configuration",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "network": {
            "description": "OSPFv3 network type.",
            "enum": [
              "BROADCAST",
              "POINT_TO_POINT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BROADCAST": "Broadcast network",
              "POINT_TO_POINT": "Point-to-point network"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "The network type for the interface."
          },
          "passive": {
            "default": "false",
            "description": "OSPFv3 passive interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "priority": {
            "default": "1",
            "description": "OSPFv3 interface priority.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "retransmit-interval": {
            "default": "5",
            "description": "Time between retransmitting lost link state advertisements configuration on an interface.",
            "format": "int64",
            "maximum": 3600,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "security-disable": {
            "default": "false",
            "description": "Disable IPSec security.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "spi-id": {
            "description": "Security Parameters Index (SPI) for the Security Association (SA) configuration on an interface.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 256,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "sub-interface-name": {
            "description": "L3 subinterface name where ospfv3 is enabled.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi-id": {
            "description": "L3 SVI id  where ospfv3 is enabled.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "transit-delay": {
            "default": "1",
            "description": "Link state transit delay configuration on an interface.",
            "format": "int64",
            "maximum": 3600,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "tunnel-id": {
            "description": "L3 tunnel id where ospfv3 is enabled.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv3_Ospfv3MaxMetric": {
        "description": "Advertise maximum metric.",
        "properties": {
          "include-stub": {
            "default": "false",
            "description": "Advertise Router-LSAs with maximum metric value for stub links.",
            "type": "boolean"
          },
          "on-startup": {
            "default": "600",
            "description": "Advertise Router-LSAs with maximum metric value at system startup.",
            "format": "int64",
            "maximum": 86400,
            "minimum": 5,
            "type": "integer"
          },
          "router-lsa": {
            "default": "false",
            "description": "Advertise Router-LSAs with maximum metric value.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv3_Ospfv3MaxMetricGet": {
        "description": "Advertise maximum metric.",
        "properties": {
          "include-stub": {
            "default": "false",
            "description": "Advertise Router-LSAs with maximum metric value for stub links.",
            "type": "boolean"
          },
          "on-startup": {
            "default": "600",
            "description": "Advertise Router-LSAs with maximum metric value at system startup.",
            "format": "int64",
            "maximum": 86400,
            "minimum": 5,
            "type": "integer"
          },
          "router-lsa": {
            "default": "false",
            "description": "Advertise Router-LSAs with maximum metric value.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv3_Ospfv3SchemaGET": {
        "description": "OSPFv3 (Open Shortest Path First version 3) is a routing protocol which is\ndescribed in RFC5340 entitled OSPF for IPv6. It is a Link State-based IGP\n(Interior Gateway Protocol) routing protocol. It is widely used with medium to\nlarge-sized enterprise networks.\n\nThe characteristics of OSPFv3 are:\n\n- Provides a loop free topology using SPF algorithm.\n- Allows hierarchical routing using area 0 (backbone area) as the top of the\n  hierarchy.\n- Supports load balancing with equal cost routes for same destination.\n- OSPFv3 is a classless protocol and allows for a hierarchical design with\n  VLSM (Variable Length Subnet Masking) and route summarization.\n- Scales enterprise size network easily with area concept.\n- Provides fast convergence with triggered, incremental updates via\n  Link State Advertisements (LSAs).",
        "properties": {
          "profile": {
            "description": "OSPFv3 configuration profiles for organizing router instances.",
            "items": {
              "properties": {
                "description": {
                  "description": "Description of the OSPFv3 profile purpose and configuration.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": "Profile name for the OSPFv3 configuration group.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string"
                },
                "routers": {
                  "description": "The list of all the OSPFv3 Router instances.",
                  "items": {
                    "properties": {
                      "active-backbone-stub": {
                        "default": "false",
                        "description": "Advertise default route to stub if loopback in backbone area.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "areas": {
                        "description": "The list of all the OSPFv3 area for the OSPFv3 router instance.\n\nAn area in OSPFv3 is a logical collection of routers, links and\nOSPFv3 networks that have the same area ID. Areas are used to divide\nan OSPFv3 network into sub-domains. The main benefit of creating areas\nis that it reduces the number of routes that need to be propagated.",
                        "items": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/ArubaOspfv3_AreaConfigurationGet"
                            }
                          ]
                        },
                        "maxItems": 2147483647,
                        "type": "array",
                        "x-key": [
                          "areaId"
                        ],
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "bfd-enable": {
                        "default": "false",
                        "description": "Enable BFD in all interfaces",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "default-info-originate": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaOspfv3_DefaultRouteGet"
                          }
                        ],
                        "description": "Generate a default external route into an ospfv2 routing domain.\nOnly one among 'always', 'metric', 'always-metric' can be configured",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "default-metric": {
                        "description": "Metric of redistributed routes.",
                        "format": "int64",
                        "maximum": 16777215,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "description": {
                        "description": "OSPFv3 instance user description.",
                        "format": "const",
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string"
                      },
                      "distance": {
                        "description": "OSPFv3 distance.\n\nAdministrative Distance is used as criteria to select the source of the\nroute when the same route is learned from different routing protocols.\nOptionally, Administrative Distance can be set for each OSPFv3 route type\nintra-area, inter-area, and external type-5 and type-7 routes.",
                        "items": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3DistanceGet"
                            }
                          ]
                        },
                        "maxItems": 3,
                        "type": "array",
                        "x-key": [
                          "routeType"
                        ],
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "distribute-filter": {
                        "description": "Filter network in routing updates",
                        "items": {
                          "properties": {
                            "prefix": {
                              "description": "Prevent redistribution of routes via OSPF.",
                              "format": "pattern",
                              "maxLength": 9999,
                              "type": "string",
                              "x-patternSources": "ipv6-prefix",
                              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                              "x-supportedDeviceType": [
                                "Switch PVOS"
                              ],
                              "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                            }
                          }
                        },
                        "maxItems": 2147483647,
                        "type": "array",
                        "x-key": [
                          "prefix"
                        ],
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "graceful-restart-cfg": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaOspfv3_GracefulRestartGet"
                          }
                        ],
                        "description": "Graceful restart OSPF.\nIf `strict-lsa-check` option is mentioned, the router\nwill not perform strict LSA check when acting as a restart helper\nfor a restarting peer. By default, router will participate\nin the graceful restart of a neighbor with strict LSA check enabled.",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "instance-tag-vrf": {
                        "description": "Key combination of instance-tag and vrf separated by ~",
                        "format": "const",
                        "maxLength": 9999,
                        "type": "string"
                      },
                      "ipsec-rollover": {
                        "default": "60",
                        "description": "IPsec rollover time.",
                        "format": "int64",
                        "maximum": 1000,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "logging": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaOspfv3_LoggingConfigurationGet"
                          }
                        ],
                        "description": "Enables or Disables OSPFv3 Logging.",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "max-metric": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaOspfv3_Ospfv3MaxMetricGet"
                          }
                        ],
                        "description": "sets the protocol to advertise a maximum metric so that other\nrouters do not prefer the router as an intermediate hop in their shortest\npath first (SPF) calculations.\n- `include-stub` option configures the router to advertise maximum\n  metric for links including stub links in router LSA.\n- `on-startup` option configures the router to advertise maximum metric in\n  router LSA at startup for the time mentioned in seconds or for\n  a default value of 600 seconds.\n- `include-stub` and `on-startup` options together configure the router\n  to advertise maximum metric for links including stub links in router LSA at\n  startup for the time mentioned in seconds or for a default value of 600 seconds.",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "maximum-paths": {
                        "default": "4",
                        "description": "Maximum number of equal cost paths that are stored for each destination in the Routing table.",
                        "format": "int32",
                        "maximum": 32,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "metric-type": {
                        "default": "TYPE2",
                        "description": "Metric type.",
                        "enum": [
                          "TYPE1",
                          "TYPE2"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "TYPE1": "Comparable (an OSPFv3 metric plus the external metric)",
                          "TYPE2": "Non-comparable metric (the external metric)"
                        },
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ],
                        "x-typeDescription": "Metric type."
                      },
                      "nonstop": {
                        "default": "false",
                        "description": "Enables or disables nonstop forwarding for OSPFv3.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "passive-interface-default": {
                        "default": "false",
                        "description": "All OSPFv3 enabled interfaces to be passive.\nAn OSPFv3 passive interface is a network interface\nthat does not send or receive OSPFv3 Hello packets,\nbut still participates in the routing process for subnet advertisement.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "profile-mode": {
                        "description": "OSPFv3 UI profile type",
                        "enum": [
                          "BASIC",
                          "ADVANCE"
                        ],
[...]
