{
  "openapi": "3.1.0",
  "info": {
    "title": "Ospfv2",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Ospfv2"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/ospfv2": {
      "get": {
        "description": "OSPFv2 (Open Shortest Path First version 2) is a routing protocol which is\ndescribed in RFC2328 entitled OSPF Version 2. It is a Link State-based\nIGP(Interior Gateway Protocol) routing protocol. It is widely used in medium\nto large-sized enterprise networks.\n\nThe characteristics of OSPFv2 are:\n\n- Provides a loop free topology using SPF algorithm.\n- Allows hierarchical routing using area 0 (backbone area) as the top of the\n hierarchy.\n- Supports load balancing with equal cost routes for same destination.\n- OSPFv2 is a classless protocol and allows for a hierarchical design with\n VLSM(Variable length subnet masking) and route summarization.\n- Provides authentication of routing messages.\n- Scales enterprise size network easily with area concept.\n- Provides fast convergence with triggered, incremental updates via\n Link State Advertisements (LSAs).",
        "operationId": "readOspfv2",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2SchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing OSPFv2 configuration",
        "tags": [
          "Ospfv2"
        ],
        "x-cliParam": {
          "commandName": "readOspfv2Cmd",
          "commandUse": "ospfv2",
          "parentCommand": "readCmd",
          "pathToPrint": "/ospfv2/",
          "summary": "Read operation for ospfv2"
        }
      }
    },
    "/network-config/v1alpha1/ospfv2/{name}": {
      "get": {
        "description": "OSPFv2 configuration profiles for organizing router instances.",
        "operationId": "readOspfv2ProfileByID",
        "parameters": [
          {
            "description": "Profile name for the OSPFv2 configuration group.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2profileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing OSPFv2 profile configuration",
        "tags": [
          "Ospfv2"
        ],
        "x-cliParam": {
          "commandName": "readOspfv2ProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readOspfv2Cmd",
          "pathToPrint": "/ospfv2/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "OSPFv2 configuration profiles for organizing router instances.",
        "operationId": "replaceOspfv2ProfileByID",
        "parameters": [
          {
            "description": "Profile name for the OSPFv2 configuration group.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaOspfv2_Ospfv2profileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or modify OSPFv2 profile configuration",
        "tags": [
          "Ospfv2"
        ],
        "x-cliParam": {
          "commandName": "replaceOspfv2ProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceOspfv2Cmd",
          "pathToPrint": "/ospfv2/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "OSPFv2 configuration profiles for organizing router instances.",
        "operationId": "createOspfv2ProfileByID",
        "parameters": [
          {
            "description": "Profile name for the OSPFv2 configuration group.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaOspfv2_Ospfv2profileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create new OSPFv2 profile configuration",
        "tags": [
          "Ospfv2"
        ],
        "x-cliParam": {
          "commandName": "createOspfv2ProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createOspfv2Cmd",
          "pathToPrint": "/ospfv2/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "OSPFv2 configuration profiles for organizing router instances.",
        "operationId": "deleteOspfv2ProfileByID",
        "parameters": [
          {
            "description": "Profile name for the OSPFv2 configuration group.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete OSPFv2 profile configuration",
        "tags": [
          "Ospfv2"
        ],
        "x-cliParam": {
          "commandName": "deleteOspfv2ProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteOspfv2Cmd",
          "pathToPrint": "/ospfv2/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "OSPFv2 configuration profiles for organizing router instances.",
        "operationId": "updateOspfv2ProfileByID",
        "parameters": [
          {
            "description": "Profile name for the OSPFv2 configuration group.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaOspfv2_Ospfv2profileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Modify OSPFv2 profile configuration",
        "tags": [
          "Ospfv2"
        ],
        "x-cliParam": {
          "commandName": "updateOspfv2ProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateOspfv2Cmd",
          "pathToPrint": "/ospfv2/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaOspfv2_AggregateRoute": {
        "description": "Summarizes the external routes with the matching address or masks.",
        "properties": {
          "aggregate-mask": {
            "description": "Mask for the aggregate route network.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "aggregate-network": {
            "description": "Network address for the aggregate route.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "cost": {
            "description": "cost for OSPFv2 aggregate-route.",
            "format": "int64",
            "maximum": 16777214,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "no-advertise": {
            "default": "false",
            "description": "Do not advertise the aggregate route.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "prefix": {
            "description": "Specify the prefix/mask for advertising the aggregate route",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-prefix",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
          },
          "route-type": {
            "description": "The type of route to be aggregated by ospfv2",
            "enum": [
              "CFGSET",
              "RAPNG",
              "STATIC"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CFGSET": "CFGSET routes",
              "RAPNG": "RAPNG routes",
              "STATIC": "Static routes"
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Types of routes to be auto aggregated by OSPFv2."
          },
          "tag": {
            "description": "Assign a tag for the aggregate route.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv2_AggregateRouteGet": {
        "description": "Summarizes the external routes with the matching address or masks.",
        "properties": {
          "aggregate-mask": {
            "description": "Mask for the aggregate route network.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "aggregate-network": {
            "description": "Network address for the aggregate route.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "cost": {
            "description": "cost for OSPFv2 aggregate-route.",
            "format": "int64",
            "maximum": 16777214,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "no-advertise": {
            "default": "false",
            "description": "Do not advertise the aggregate route.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "prefix": {
            "description": "Specify the prefix/mask for advertising the aggregate route",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-prefix",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
          },
          "route-type": {
            "description": "The type of route to be aggregated by ospfv2",
            "enum": [
              "CFGSET",
              "RAPNG",
              "STATIC"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CFGSET": "CFGSET routes",
              "RAPNG": "RAPNG routes",
              "STATIC": "Static routes"
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Types of routes to be auto aggregated by OSPFv2."
          },
          "tag": {
            "description": "Assign a tag for the aggregate route.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv2_AreaConfiguration": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaOspfv2_OspfInterface"
          }
        ],
        "description": "Grouping for IPv4 OSPFv2 Configurations.",
        "properties": {
          "area-id": {
            "description": "The Area ID is in IPv4 address or decimal format.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "area-type": {
            "default": "DEFAULT",
            "description": "This defines how the external routing and summary LSAs for this area will be handled.\nBackbone area(0 or 0.0.0.0) can not be configured as stub or nssa.",
            "enum": [
              "DEFAULT",
              "STUB",
              "STUB_NO_SUMMARY",
              "NSSA",
              "NSSA_NO_SUMMARY",
              "NSSA_DEFAULT",
              "NSSA_NO_SUMMARY_DEFAULT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DEFAULT": "OSPFv2 area as default",
              "NSSA": "OSPFv2 area as nssa",
              "NSSA_DEFAULT": "OSPFv2 area as nssa with default-information-originate",
              "NSSA_NO_SUMMARY": "OSPFv2 area as nssa with no-summary",
              "NSSA_NO_SUMMARY_DEFAULT": "OSPFv2 area as nssa with no-summary and default-information-originate",
              "STUB": "OSPFv2 area as stub",
              "STUB_NO_SUMMARY": "OSPFv2 area as stub with no-summary"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "OSPFv2 Area type"
          },
          "default-metric": {
            "description": "The cost metric for the default summary route sent into the stub or NSSA area.\nDefault metric cannot be configured for normal areas",
            "format": "int64",
            "maximum": 16777215,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "metric-type": {
            "default": "TYPE1",
            "description": "Metric type.",
            "enum": [
              "TYPE1",
              "TYPE2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TYPE1": "Comparable (an OSPFv2 metric plus the external metric)",
              "TYPE2": "Non-comparable metric (the external metric)"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Metric type."
          },
          "no-advertise-range": {
            "description": "Do not advertise the range outside the area.\nSummarize routes matching IPV4 address/mask on border routers only.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Range"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "prefixAreaRangeType"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ospf-ip-list": {
            "description": "IP Addresses for OSPFV2 interface configurations.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2Interface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ospfIpAddress"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "virtual-links": {
            "description": "In Open Shortest Path First (OSPF), a virtual link is a logical path that\nconnects areas of a network that are not physically connected.\nVirtual links are used when it's not possible to connect all areas\nof an OSPFv2 autonomous system to the backbone area (area 0).\nThey can also be used to connect two parts of a partitioned backbone.\n\nVirtual links cannot be configured through backbone area or stub/nssa area.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_VirtualLink"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "remoteAbrId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv2_AreaConfigurationGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaOspfv2_OspfInterfaceGet"
          }
        ],
        "description": "Grouping for IPv4 OSPFv2 Configurations.",
        "properties": {
          "area-id": {
            "description": "The Area ID is in IPv4 address or decimal format.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "area-type": {
            "default": "DEFAULT",
            "description": "This defines how the external routing and summary LSAs for this area will be handled.\nBackbone area(0 or 0.0.0.0) can not be configured as stub or nssa.",
            "enum": [
              "DEFAULT",
              "STUB",
              "STUB_NO_SUMMARY",
              "NSSA",
              "NSSA_NO_SUMMARY",
              "NSSA_DEFAULT",
              "NSSA_NO_SUMMARY_DEFAULT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DEFAULT": "OSPFv2 area as default",
              "NSSA": "OSPFv2 area as nssa",
              "NSSA_DEFAULT": "OSPFv2 area as nssa with default-information-originate",
              "NSSA_NO_SUMMARY": "OSPFv2 area as nssa with no-summary",
              "NSSA_NO_SUMMARY_DEFAULT": "OSPFv2 area as nssa with no-summary and default-information-originate",
              "STUB": "OSPFv2 area as stub",
              "STUB_NO_SUMMARY": "OSPFv2 area as stub with no-summary"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "OSPFv2 Area type"
          },
          "default-metric": {
            "description": "The cost metric for the default summary route sent into the stub or NSSA area.\nDefault metric cannot be configured for normal areas",
            "format": "int64",
            "maximum": 16777215,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "metric-type": {
            "default": "TYPE1",
            "description": "Metric type.",
            "enum": [
              "TYPE1",
              "TYPE2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TYPE1": "Comparable (an OSPFv2 metric plus the external metric)",
              "TYPE2": "Non-comparable metric (the external metric)"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Metric type."
          },
          "no-advertise-range": {
            "description": "Do not advertise the range outside the area.\nSummarize routes matching IPV4 address/mask on border routers only.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_RangeGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "prefixAreaRangeType"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ospf-ip-list": {
            "description": "IP Addresses for OSPFV2 interface configurations.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2InterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ospfIpAddress"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "virtual-links": {
            "description": "In Open Shortest Path First (OSPF), a virtual link is a logical path that\nconnects areas of a network that are not physically connected.\nVirtual links are used when it's not possible to connect all areas\nof an OSPFv2 autonomous system to the backbone area (area 0).\nThey can also be used to connect two parts of a partitioned backbone.\n\nVirtual links cannot be configured through backbone area or stub/nssa area.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_VirtualLinkGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "remoteAbrId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv2_DefaultRoute": {
        "description": "Configuration for default route.",
        "properties": {
          "always": {
            "description": "Always advertises the default route.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "always-metric": {
            "description": "Metric of default route.",
            "format": "int64",
            "maximum": 1677214,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "metric": {
            "description": "Metric of default route.",
            "format": "int64",
            "maximum": 1677214,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "originate": {
            "description": "Always advertises the default route.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "route-map": {
            "description": "Route map reference.",
            "format": "pattern",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-routemap-config:route-maps/ac-routemap-config:route-map/ac-routemap-config:route-map-name",
            "x-patternSources": "route-map-name",
            "x-patterns": "'[^\\s]*'",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaOspfv2_DefaultRouteGet": {
        "description": "Configuration for default route.",
        "properties": {
          "always": {
            "description": "Always advertises the default route.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "always-metric": {
            "description": "Metric of default route.",
            "format": "int64",
            "maximum": 1677214,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "metric": {
            "description": "Metric of default route.",
            "format": "int64",
            "maximum": 1677214,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "originate": {
            "description": "Always advertises the default route.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "route-map": {
            "description": "Route map reference.",
            "format": "pattern",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-routemap-config:route-maps/ac-routemap-config:route-map/ac-routemap-config:route-map-name",
            "x-patternSources": "route-map-name",
            "x-patterns": "'[^\\s]*'",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaOspfv2_Dlist": {
        "description": "Filter network in routing updates.",
        "properties": {
          "direction": {
            "description": "Filter direction for routing updates.",
            "enum": [
              "IN",
              "OUT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IN": "Ingress",
              "OUT": "Egress"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Distribute list direction"
          },
          "prefix-name": {
            "description": "Filter prefixes in routing updates.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv2_DlistGet": {
        "description": "Filter network in routing updates.",
        "properties": {
          "direction": {
            "description": "Filter direction for routing updates.",
            "enum": [
              "IN",
              "OUT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IN": "Ingress",
              "OUT": "Egress"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Distribute list direction"
          },
          "prefix-name": {
            "description": "Filter prefixes in routing updates.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv2_GracefulRestart": {
        "description": "Graceful restart for OSPF.",
        "properties": {
          "helper": {
            "default": "true",
            "description": "Enable the router as graceful-restart helper.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "helper-strict-lsa-check": {
            "default": "true",
            "description": "Enable the router as graceful-restart helper for strict lsa check.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ignore-lost-interface": {
            "default": "false",
            "description": "Enable the restarting device to ignore lost ospfv2 interfaces during a graceful restart process.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "restart-interval": {
            "default": "120",
            "description": "Graceful restart interval.",
            "format": "int64",
            "maximum": 1800,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv2_GracefulRestartGet": {
        "description": "Graceful restart for OSPF.",
        "properties": {
          "helper": {
            "default": "true",
            "description": "Enable the router as graceful-restart helper.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "helper-strict-lsa-check": {
            "default": "true",
            "description": "Enable the router as graceful-restart helper for strict lsa check.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ignore-lost-interface": {
            "default": "false",
            "description": "Enable the restarting device to ignore lost ospfv2 interfaces during a graceful restart process.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "restart-interval": {
            "default": "120",
            "description": "Graceful restart interval.",
            "format": "int64",
            "maximum": 1800,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv2_LoggingConfiguration": {
        "description": "Enables or Disables OSPFv2 Logging.",
        "properties": {
          "detail": {
            "default": "false",
            "description": "Sends a syslog message for each state change, not just\n when a neighbor goes up or down.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "neighbour-adjacency": {
            "default": "true",
            "description": "Sends a syslog message when a neighbor goes up or down.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv2_LoggingConfigurationGet": {
        "description": "Enables or Disables OSPFv2 Logging.",
        "properties": {
          "detail": {
            "default": "false",
            "description": "Sends a syslog message for each state change, not just\n when a neighbor goes up or down.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "neighbour-adjacency": {
            "default": "true",
            "description": "Sends a syslog message when a neighbor goes up or down.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaOspfv2_OspfInterface": {
        "description": "OSPFv2 interface list.",
        "properties": {
          "ether-interfaces": {
            "description": "OSPFv2 interface configuration on a routed physical interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2Interface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "interfaceName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag-interfaces": {
            "description": "OSPFv2 interface configuration in a routed LAG.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2Interface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "lagName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-interfaces": {
            "description": "OSPFv2 interface configuration in loopback interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2Interface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "loopbackId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "sub-interfaces": {
            "description": "OSPFv2 interface configuration in sub interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2Interface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "subInterfaceName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi-interfaces": {
            "description": "OSPFv2 interface configuration in svi interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2Interface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sviId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ]
          },
          "tunnel-interfaces": {
            "description": "OSPFv2 interface configuration in tunnel interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2Interface"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "tunnelId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaOspfv2_OspfInterfaceGet": {
        "description": "OSPFv2 interface list.",
        "properties": {
          "ether-interfaces": {
            "description": "OSPFv2 interface configuration on a routed physical interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2InterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "interfaceName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag-interfaces": {
            "description": "OSPFv2 interface configuration in a routed LAG.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2InterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "lagName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-interfaces": {
            "description": "OSPFv2 interface configuration in loopback interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2InterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "loopbackId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "sub-interfaces": {
            "description": "OSPFv2 interface configuration in sub interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2InterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "subInterfaceName"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi-interfaces": {
            "description": "OSPFv2 interface configuration in svi interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2InterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sviId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ]
          },
          "tunnel-interfaces": {
            "description": "OSPFv2 interface configuration in tunnel interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2InterfaceGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "tunnelId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaOspfv2_Ospfv2Distance": {
        "description": "Config for default route.",
        "properties": {
          "all": {
            "default": "110",
            "description": "The administrative distance applies to all types of routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "external": {
            "default": "110",
            "description": "The administrative distance applies to external routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "inter-area": {
            "default": "110",
            "description": "The administrative distance applies to inter area routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "intra-area": {
            "default": "110",
            "description": "The administrative distance applies to intra area routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "route-type": {
            "description": "Type of roure.",
            "enum": [
              "ROUTE_ALL",
              "ROUTE_INTER_AREA",
              "ROUTE_INTRA_AREA",
              "ROUTE_EXTERNAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ROUTE_ALL": "All type route",
              "ROUTE_EXTERNAL": "External route",
              "ROUTE_INTER_AREA": "Inter area route",
              "ROUTE_INTRA_AREA": "Intra area route"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "OSPFv2 route type"
          }
        }
      },
      "ArubaOspfv2_Ospfv2DistanceGet": {
        "description": "Config for default route.",
        "properties": {
          "all": {
            "default": "110",
            "description": "The administrative distance applies to all types of routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "external": {
            "default": "110",
            "description": "The administrative distance applies to external routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "inter-area": {
            "default": "110",
            "description": "The administrative distance applies to inter area routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "intra-area": {
            "default": "110",
            "description": "The administrative distance applies to intra area routes.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "route-type": {
            "description": "Type of roure.",
            "enum": [
              "ROUTE_ALL",
              "ROUTE_INTER_AREA",
              "ROUTE_INTRA_AREA",
              "ROUTE_EXTERNAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ROUTE_ALL": "All type route",
              "ROUTE_EXTERNAL": "External route",
              "ROUTE_INTER_AREA": "Inter area route",
              "ROUTE_INTRA_AREA": "Intra area route"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "OSPFv2 route type"
          }
        }
      },
      "ArubaOspfv2_Ospfv2Interface": {
        "description": "OSPFv2 interface.",
        "properties": {
          "authentication": {
            "description": "OSPFv2 authentication type for interface.",
            "enum": [
              "HMAC_SHA_1",
              "HMAC_SHA_256",
              "HMAC_SHA_384",
              "HMAC_SHA_512",
              "MESSAGE_DIGEST",
              "SIMPLE_TEXT",
              "KEYCHAIN",
              "NULL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "HMAC_SHA_1": "hmac-sha-1 authentication",
              "HMAC_SHA_256": "hmac-sha-256 authentication",
              "HMAC_SHA_384": "hmac-sha-384 authentication",
              "HMAC_SHA_512": "hmac-sha-512 authentication",
              "KEYCHAIN": "keychain authentication",
              "MESSAGE_DIGEST": "message-digest authentication",
              "NULL": "keychain authentication",
              "SIMPLE_TEXT": "simple-text authentication"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "vlink authentication type"
          },
          "authentication-key-id": {
            "description": "OSPFv2 SHA key ID for interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "bfd": {
            "default": "false",
            "description": "Enable BFD for OSPFv2 on an interface",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ciphertext-password": {
            "description": "OSPFv2 ciphertext authentication key for interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "cost": {
            "description": "Interface cost configuration on an interface.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "dead-interval": {
            "default": "40",
            "description": "Interval to consider an unresponsive neighbor as down on an interface.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "hello-interval": {
            "default": "10",
            "description": "Time between hello packets in seconds for interface.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "ignore-mtu": {
            "default": "false",
            "description": "Enable Ignore MTU in OSPFv2 interface",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "interface-name": {
            "description": "L3 interface name where ospfv2 is enabled.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "keychain-key": {
            "description": "OSPFv2 keychain key for interface.",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-key:keychains/ac-key:keychain/ac-key:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "lag-name": {
            "description": "Lag interface name where ospfv2 is enabled.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-id": {
            "description": "L3 loopback id where ospfv2 is enabled.\nLoopback interface only support cost and disable configuration",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "md-cipherpassword": {
            "description": "OSPFv2 message digest authentication key for interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "md-key-id": {
            "description": "OSPFv2 message-digest key ID for interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "md-password": {
            "description": "OSPFv2 message digest authentication key for interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "md-password-type": {
            "default": "PLAIN_TEXT",
            "description": "OSPFv2 message-digest password type [ciphertext | plaintext] for interface.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Password type"
          },
          "network": {
            "description": "OSPFv2 Network type configuration on an interface.",
            "enum": [
              "BROADCAST",
              "POINT_TO_POINT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BROADCAST": "Broadcast network",
              "POINT_TO_POINT": "Point-to-point network"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "The network type for the interface."
          },
          "ospf-ip-address": {
            "description": "Interface IP address.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "passive": {
            "default": "false",
            "description": "Interface as passive configuration on an interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "password": {
            "description": "OSPFv2 authentication Password for interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "password-type": {
            "default": "PLAIN_TEXT",
            "description": "OSPFv2 authentication password type [ciphertext | plaintext] for interface.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Password type"
          },
          "priority": {
            "default": "1",
            "description": "OSPFv2 Router priority configuration on an interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "retransmit-interval": {
            "default": "5",
            "description": "Time between retransmitting lost link state advertisements on an interface.",
            "format": "int64",
            "maximum": 3600,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "sha-cipher-password": {
            "description": "OSPFv2 SHA authentication key for interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sha-password": {
            "description": "OSPFv2 SHA authentication key for interface.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sha-password-type": {
            "default": "PLAIN_TEXT",
            "description": "OSPFv2 SHA password type [ciphertext | plaintext] for interface.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Password type"
          },
          "shutdown": {
            "default": "false",
            "description": "Disable OSPFv2 configuration on an interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sub-interface-name": {
            "description": "L3 subinterface name where ospfv2 is enabled.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi-id": {
            "description": "L3 SVI id  where ospfv2 is enabled.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "transit-delay": {
            "default": "1",
            "description": "Link state transit delay configuration on an interface.",
            "format": "int64",
            "maximum": 3600,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "tunnel-id": {
            "description": "L3 tunnel id where ospfv2 is enabled.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaOspfv2_Ospfv2InterfaceGet": {
        "description": "OSPFv2 interface.",
        "properties": {
          "authentication": {
            "description": "OSPFv2 authentication type for interface.",
            "enum": [
              "HMAC_SHA_1",
              "HMAC_SHA_256",
              "HMAC_SHA_384",
              "HMAC_SHA_512",
              "MESSAGE_DIGEST",
              "SIMPLE_TEXT",
              "KEYCHAIN",
              "NULL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "HMAC_SHA_1": "hmac-sha-1 authentication",
              "HMAC_SHA_256": "hmac-sha-256 authentication",
              "HMAC_SHA_384": "hmac-sha-384 authentication",
              "HMAC_SHA_512": "hmac-sha-512 authentication",
              "KEYCHAIN": "keychain authentication",
              "MESSAGE_DIGEST": "message-digest authentication",
              "NULL": "keychain authentication",
              "SIMPLE_TEXT": "simple-text authentication"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "vlink authentication type"
          },
          "authentication-key-id": {
            "description": "OSPFv2 SHA key ID for interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "bfd": {
            "default": "false",
            "description": "Enable BFD for OSPFv2 on an interface",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ciphertext-password": {
            "description": "OSPFv2 ciphertext authentication key for interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "cost": {
            "description": "Interface cost configuration on an interface.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "dead-interval": {
            "default": "40",
            "description": "Interval to consider an unresponsive neighbor as down on an interface.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "hello-interval": {
            "default": "10",
            "description": "Time between hello packets in seconds for interface.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "ignore-mtu": {
            "default": "false",
            "description": "Enable Ignore MTU in OSPFv2 interface",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "interface-name": {
            "description": "L3 interface name where ospfv2 is enabled.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "keychain-key": {
            "description": "OSPFv2 keychain key for interface.",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-key:keychains/ac-key:keychain/ac-key:name",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "lag-name": {
            "description": "Lag interface name where ospfv2 is enabled.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-id": {
            "description": "L3 loopback id where ospfv2 is enabled.\nLoopback interface only support cost and disable configuration",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "md-cipherpassword": {
            "description": "OSPFv2 message digest authentication key for interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "md-key-id": {
            "description": "OSPFv2 message-digest key ID for interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "md-password": {
            "description": "OSPFv2 message digest authentication key for interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "md-password-type": {
            "default": "PLAIN_TEXT",
            "description": "OSPFv2 message-digest password type [ciphertext | plaintext] for interface.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Password type"
          },
          "network": {
            "description": "OSPFv2 Network type configuration on an interface.",
            "enum": [
              "BROADCAST",
              "POINT_TO_POINT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BROADCAST": "Broadcast network",
              "POINT_TO_POINT": "Point-to-point network"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "The network type for the interface."
          },
          "ospf-ip-address": {
            "description": "Interface IP address.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "passive": {
            "default": "false",
            "description": "Interface as passive configuration on an interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "password": {
            "description": "OSPFv2 authentication Password for interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          },
          "password-type": {
            "default": "PLAIN_TEXT",
            "description": "OSPFv2 authentication password type [ciphertext | plaintext] for interface.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Password type"
          },
          "priority": {
            "default": "1",
            "description": "OSPFv2 Router priority configuration on an interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "retransmit-interval": {
            "default": "5",
            "description": "Time between retransmitting lost link state advertisements on an interface.",
            "format": "int64",
            "maximum": 3600,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "sha-cipher-password": {
            "description": "OSPFv2 SHA authentication key for interface.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sha-password": {
            "description": "OSPFv2 SHA authentication key for interface.",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sha-password-type": {
            "default": "PLAIN_TEXT",
            "description": "OSPFv2 SHA password type [ciphertext | plaintext] for interface.",
            "enum": [
              "PLAIN_TEXT",
              "CIPHER_TEXT"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CIPHER_TEXT": "Configure ciphertext key",
              "PLAIN_TEXT": "Configure plaintext key"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Password type"
          },
          "shutdown": {
            "default": "false",
            "description": "Disable OSPFv2 configuration on an interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sub-interface-name": {
            "description": "L3 subinterface name where ospfv2 is enabled.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi-id": {
            "description": "L3 SVI id  where ospfv2 is enabled.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "transit-delay": {
            "default": "1",
            "description": "Link state transit delay configuration on an interface.",
            "format": "int64",
            "maximum": 3600,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "tunnel-id": {
            "description": "L3 tunnel id where ospfv2 is enabled.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaOspfv2_Ospfv2MaxMetric": {
        "description": "Advertise maximum metric.",
        "properties": {
          "include-stub": {
            "default": "false",
            "description": "Advertise Router-LSAs with maximum metric value for stub links.",
            "type": "boolean"
          },
          "on-startup": {
            "default": "600",
            "description": "Advertise Router-LSAs with maximum metric value at system startup.",
            "format": "int64",
            "maximum": 86400,
            "minimum": 5,
            "type": "integer"
          },
          "router-lsa": {
            "default": "false",
            "description": "Advertise Router-LSAs with maximum metric value.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv2_Ospfv2MaxMetricGet": {
        "description": "Advertise maximum metric.",
        "properties": {
          "include-stub": {
            "default": "false",
            "description": "Advertise Router-LSAs with maximum metric value for stub links.",
            "type": "boolean"
          },
          "on-startup": {
            "default": "600",
            "description": "Advertise Router-LSAs with maximum metric value at system startup.",
            "format": "int64",
            "maximum": 86400,
            "minimum": 5,
            "type": "integer"
          },
          "router-lsa": {
            "default": "false",
            "description": "Advertise Router-LSAs with maximum metric value.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaOspfv2_Ospfv2SchemaGET": {
        "description": "OSPFv2 (Open Shortest Path First version 2) is a routing protocol which is\ndescribed in RFC2328 entitled OSPF Version 2. It is a Link State-based\nIGP(Interior Gateway Protocol) routing protocol. It is widely used in medium\nto large-sized enterprise networks.\n\nThe characteristics of OSPFv2 are:\n\n- Provides a loop free topology using SPF algorithm.\n- Allows hierarchical routing using area 0 (backbone area) as the top of the\n hierarchy.\n- Supports load balancing with equal cost routes for same destination.\n- OSPFv2 is a classless protocol and allows for a hierarchical design with\n VLSM(Variable length subnet masking) and route summarization.\n- Provides authentication of routing messages.\n- Scales enterprise size network easily with area concept.\n- Provides fast convergence with triggered, incremental updates via\n Link State Advertisements (LSAs).",
        "properties": {
          "profile": {
            "description": "OSPFv2 configuration profiles for organizing router instances.",
            "items": {
              "properties": {
                "description": {
                  "description": "Description of the OSPFv2 profile purpose and configuration.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": "Profile name for the OSPFv2 configuration group.",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string"
                },
                "routers": {
                  "description": "The list of all the OSPFv2 Router instances.",
                  "items": {
                    "properties": {
                      "areas": {
                        "description": "The list of all the OSPF area for the OSPF router instance.\n\nAn area in OSPF is a logical collection of routers, links and\nOSPF networks that have the same area ID. Areas are used to divide\nan OSPF network into sub-domains. The main benefit of creating areas\nis that it reduces the number of routes that need to be propagated.",
                        "items": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/ArubaOspfv2_AreaConfigurationGet"
                            }
                          ]
                        },
                        "maxItems": 2147483647,
                        "type": "array",
                        "x-key": [
                          "areaId"
                        ],
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "backbone-stub-default-route": {
                        "default": "false",
                        "description": "Advertise default route to stub if loopback in backbone area.",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "bfd": {
                        "default": "false",
                        "description": "Enable BFD in all interfaces",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "default-information-origin": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaOspfv2_DefaultRouteGet"
                          }
                        ],
                        "description": "Generate a default external route into an ospfv2 routing domain.\nOnly one among 'always', 'metric', 'always-metric' can be configured",
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "default-metric": {
                        "description": "Metric of redistributed routes.",
                        "format": "int64",
                        "maximum": 16777215,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "description": {
                        "description": "OSPFv2 instance user description.",
                        "format": "const",
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string"
                      },
                      "distance": {
                        "description": "OSPFv2 distance.\n\nAdministrative Distance is used as criteria to select the source of the\nroute when the same route is learned from different routing protocols.\nOptionally, Administrative Distance can be set for each OSPFv3 route type\nintra-area, inter-area, and external type-5 and type-7 routes.",
                        "items": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/ArubaOspfv2_Ospfv2DistanceGet"
                            }
                          ]
                        },
                        "maxItems": 3,
                        "type": "array",
                        "x-key": [
                          "routeType"
                        ],
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS"
                        ]
                      },
                      "distribute-filter": {
                        "description": "Used to filter routes from being installed in the routing table or\nredistributed into another routing protocol.\nWhen inbound direction is used it filter routes to be installed in the routing table.\nOutbound direction will filter only the desired redistributed routes from other protocols.\nThe prefix-list which is provided in command will be used to filter routes for both\ninbound and outbound direction. Configuration is not allowed if the referenced\nprefix-list has not yet been configured.",
                        "items": {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/ArubaOspfv2_DlistGet"
                            }
                          ]
                        },
                        "maxItems": 2147483647,
                        "type": "array",
                        "x-key": [
                          "direction"
                        ],
                        "x-supportedDeviceType": [
                          "Switch CX"
                        ]
                      },
                      "distribute-list": {
                        "description": "Filter network in routing updates",
                        "items": {
                          "properties": {
                            "prefix": {
                              "description": "Prevent redistribution of routes via OSPF.",
                              "oneOf": [
                                {
                                  "format": "pattern",
                                  "maxLength": 9999,
                                  "type": "string",
                                  "x-patternSources": "ipv4-prefix",
                                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                                  "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                                },
                                {
                                  "format": "pattern",
                                  "maxLength": 9999,
                                  "type": "string",
                                  "x-patternSources": "ipv6-prefix",
                                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                                  "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                                }
                              ],
                              "x-supportedDeviceType": [
                                "Switch PVOS"
                              ]
                            }
                          }
                        },
                        "maxItems": 2147483647,
                        "type": "array",
                        "x-key": [
                          "prefix"
                        ],
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "exclude-mask": {
                        "description": "Mask for the network to be excluded for the OSPFv2 instance.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv4-address",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ],
                        "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                      },
                      "exclude-network": {
                        "description": "Network to be excluded for the OSPFv2 instance.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv4-address",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ],
                        "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                      },
                      "graceful-restart-cfg": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaOspfv2_GracefulRestartGet"
                          }
                        ],
[...]
