{
  "openapi": "3.1.0",
  "info": {
    "title": "Pim",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Pim"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/pim-router": {
      "get": {
        "description": "Configure Protocol Independent Multicast.\nIn a network, IP multicast traffic transmitted for multimedia applications\nis blocked at routed interface boundaries unless a multicast routing protocol\nis running. Protocol Independent Multicast (PIM) is a family of routing\nprotocols. It forms multicast trees to forward traffic from multicast sources\nto the clients requesting for traffic.",
        "operationId": "readPimRouter",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPim_PimRouterSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing Protocol Independent Multicast configurations",
        "tags": [
          "Pim"
        ],
        "x-cliParam": {
          "commandName": "readPimRouterCmd",
          "commandUse": "pim-router",
          "parentCommand": "readCmd",
          "pathToPrint": "/pim-router/",
          "summary": "Read operation for pim-router"
        }
      }
    },
    "/network-config/v1alpha1/pim-router/{name}": {
      "get": {
        "description": "PIM Profiles.",
        "operationId": "readPimRouterProfileByID",
        "parameters": [
          {
            "description": "PIM profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaPim_PimRouterprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured profile for PIM",
        "tags": [
          "Pim"
        ],
        "x-cliParam": {
          "commandName": "readPimRouterProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readPimRouterCmd",
          "pathToPrint": "/pim-router/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "PIM Profiles.",
        "operationId": "replacePimRouterProfileByID",
        "parameters": [
          {
            "description": "PIM profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPim_PimRouterprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing PIM profile configurations",
        "tags": [
          "Pim"
        ],
        "x-cliParam": {
          "commandName": "replacePimRouterProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replacePimRouterCmd",
          "pathToPrint": "/pim-router/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "PIM Profiles.",
        "operationId": "createPimRouterProfileByID",
        "parameters": [
          {
            "description": "PIM profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPim_PimRouterprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create profile name for PIM",
        "tags": [
          "Pim"
        ],
        "x-cliParam": {
          "commandName": "createPimRouterProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createPimRouterCmd",
          "pathToPrint": "/pim-router/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "PIM Profiles.",
        "operationId": "deletePimRouterProfileByID",
        "parameters": [
          {
            "description": "PIM profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the profile for PIM",
        "tags": [
          "Pim"
        ],
        "x-cliParam": {
          "commandName": "deletePimRouterProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deletePimRouterCmd",
          "pathToPrint": "/pim-router/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "PIM Profiles.",
        "operationId": "updatePimRouterProfileByID",
        "parameters": [
          {
            "description": "PIM profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaPim_PimRouterprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing PIM profile configurations",
        "tags": [
          "Pim"
        ],
        "x-cliParam": {
          "commandName": "updatePimRouterProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updatePimRouterCmd",
          "pathToPrint": "/pim-router/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaPim_Pim6CandidateBsrConfig": {
        "description": "Grouping for Candidate Bootstrap Router Configurations",
        "properties": {
          "bsm-interval": {
            "default": "60",
            "description": "Periodic interval at which the Bootstrap messages\nare originated from this router",
            "format": "int64",
            "maximum": 300,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable Candidate Bootstrap Router on this device",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "hash-mask-length": {
            "default": "126",
            "description": "Candidate BSR's hash mask length",
            "format": "int64",
            "maximum": 128,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "interface-ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-type": {
            "description": "Interface type",
            "enum": [
              "INTF_ETHERNET",
              "INTF_SUBINTERFACE",
              "INTF_VLAN",
              "INTF_TUNNEL",
              "INTF_PORT_CHANNEL",
              "INTF_LOOPBACK",
              "INTF_MANAGEMENT",
              "INTF_USB"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "INTF_ETHERNET": "Ethernet Interface.",
              "INTF_LOOPBACK": "Loopback Interface.",
              "INTF_MANAGEMENT": "Management Interface.",
              "INTF_PORT_CHANNEL": "Port Channel Interface.",
              "INTF_SUBINTERFACE": "Sub Interface.",
              "INTF_TUNNEL": "Tunnel Interface.",
              "INTF_USB": "USB Interface.",
              "INTF_VLAN": "VLAN Interface."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Interface type."
          },
          "interface-vlan": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "loopback": {
            "description": "Loopback interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "priority": {
            "default": "0",
            "description": "Candidate BSR's priority",
            "format": "int64",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subif:sub-interfaces/ac-if-subif:interface/ac-if-subif:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPim_Pim6CandidateBsrConfigGet": {
        "description": "Grouping for Candidate Bootstrap Router Configurations",
        "properties": {
          "bsm-interval": {
            "default": "60",
            "description": "Periodic interval at which the Bootstrap messages\nare originated from this router",
            "format": "int64",
            "maximum": 300,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable Candidate Bootstrap Router on this device",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "hash-mask-length": {
            "default": "126",
            "description": "Candidate BSR's hash mask length",
            "format": "int64",
            "maximum": 128,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "interface-ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-type": {
            "description": "Interface type",
            "enum": [
              "INTF_ETHERNET",
              "INTF_SUBINTERFACE",
              "INTF_VLAN",
              "INTF_TUNNEL",
              "INTF_PORT_CHANNEL",
              "INTF_LOOPBACK",
              "INTF_MANAGEMENT",
              "INTF_USB"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "INTF_ETHERNET": "Ethernet Interface.",
              "INTF_LOOPBACK": "Loopback Interface.",
              "INTF_MANAGEMENT": "Management Interface.",
              "INTF_PORT_CHANNEL": "Port Channel Interface.",
              "INTF_SUBINTERFACE": "Sub Interface.",
              "INTF_TUNNEL": "Tunnel Interface.",
              "INTF_USB": "USB Interface.",
              "INTF_VLAN": "VLAN Interface."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Interface type."
          },
          "interface-vlan": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "loopback": {
            "description": "Loopback interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "priority": {
            "default": "0",
            "description": "Candidate BSR's priority",
            "format": "int64",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subif:sub-interfaces/ac-if-subif:interface/ac-if-subif:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPim_Pim6CandidateRpConfig": {
        "description": "Grouping for Candidate RP Configurations",
        "properties": {
          "enable": {
            "default": "false",
            "description": "Enable Candidate RP for this device",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "group-prefixes": {
            "description": "Multicast Group prefix associated with Candidate-RP.",
            "items": {
              "description": "Multicast Group prefix associated with Candidate-RP.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv6-prefix",
              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
              "x-supportedDeviceType": [
                "Switch PVOS",
                "Switch CX"
              ],
              "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "holdtime": {
            "default": "150",
            "description": "Candidate-RP's holdtime",
            "format": "int64",
            "maximum": 255,
            "minimum": 30,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "interface-ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-type": {
            "description": "Interface type",
            "enum": [
              "INTF_ETHERNET",
              "INTF_SUBINTERFACE",
              "INTF_VLAN",
              "INTF_TUNNEL",
              "INTF_PORT_CHANNEL",
              "INTF_LOOPBACK",
              "INTF_MANAGEMENT",
              "INTF_USB"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "INTF_ETHERNET": "Ethernet Interface.",
              "INTF_LOOPBACK": "Loopback Interface.",
              "INTF_MANAGEMENT": "Management Interface.",
              "INTF_PORT_CHANNEL": "Port Channel Interface.",
              "INTF_SUBINTERFACE": "Sub Interface.",
              "INTF_TUNNEL": "Tunnel Interface.",
              "INTF_USB": "USB Interface.",
              "INTF_VLAN": "VLAN Interface."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Interface type."
          },
          "interface-vlan": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "loopback": {
            "description": "Loopback interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "priority": {
            "default": "192",
            "description": "Candidate-RP's priority",
            "format": "int64",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subif:sub-interfaces/ac-if-subif:interface/ac-if-subif:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPim_Pim6CandidateRpConfigGet": {
        "description": "Grouping for Candidate RP Configurations",
        "properties": {
          "enable": {
            "default": "false",
            "description": "Enable Candidate RP for this device",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "group-prefixes": {
            "description": "Multicast Group prefix associated with Candidate-RP.",
            "items": {
              "description": "Multicast Group prefix associated with Candidate-RP.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv6-prefix",
              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
              "x-supportedDeviceType": [
                "Switch PVOS",
                "Switch CX"
              ],
              "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "holdtime": {
            "default": "150",
            "description": "Candidate-RP's holdtime",
            "format": "int64",
            "maximum": 255,
            "minimum": 30,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "interface-ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-type": {
            "description": "Interface type",
            "enum": [
              "INTF_ETHERNET",
              "INTF_SUBINTERFACE",
              "INTF_VLAN",
              "INTF_TUNNEL",
              "INTF_PORT_CHANNEL",
              "INTF_LOOPBACK",
              "INTF_MANAGEMENT",
              "INTF_USB"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "INTF_ETHERNET": "Ethernet Interface.",
              "INTF_LOOPBACK": "Loopback Interface.",
              "INTF_MANAGEMENT": "Management Interface.",
              "INTF_PORT_CHANNEL": "Port Channel Interface.",
              "INTF_SUBINTERFACE": "Sub Interface.",
              "INTF_TUNNEL": "Tunnel Interface.",
              "INTF_USB": "USB Interface.",
              "INTF_VLAN": "VLAN Interface."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Interface type."
          },
          "interface-vlan": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "loopback": {
            "description": "Loopback interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "priority": {
            "default": "192",
            "description": "Candidate-RP's priority",
            "format": "int64",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subif:sub-interfaces/ac-if-subif:interface/ac-if-subif:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPim_Pim6StaticMulticastNexthopConfig": {
        "description": "Grouping for Static Multicast Nexthop Configurations",
        "properties": {
          "interface-ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-type": {
            "description": "Interface type",
            "enum": [
              "INTF_ETHERNET",
              "INTF_SUBINTERFACE",
              "INTF_VLAN",
              "INTF_TUNNEL",
              "INTF_PORT_CHANNEL",
              "INTF_LOOPBACK",
              "INTF_MANAGEMENT",
              "INTF_USB"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "INTF_ETHERNET": "Ethernet Interface.",
              "INTF_LOOPBACK": "Loopback Interface.",
              "INTF_MANAGEMENT": "Management Interface.",
              "INTF_PORT_CHANNEL": "Port Channel Interface.",
              "INTF_SUBINTERFACE": "Sub Interface.",
              "INTF_TUNNEL": "Tunnel Interface.",
              "INTF_USB": "USB Interface.",
              "INTF_VLAN": "VLAN Interface."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Interface type."
          },
          "interface-vlan": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "loopback": {
            "description": "Loopback interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nexthop-address": {
            "description": "IPv6 address of the Nexthop device",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "source-prefix": {
            "description": "Range of the Multicast Source Address",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-prefix",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subif:sub-interfaces/ac-if-subif:interface/ac-if-subif:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPim_Pim6StaticMulticastNexthopConfigGet": {
        "description": "Grouping for Static Multicast Nexthop Configurations",
        "properties": {
          "interface-ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-type": {
            "description": "Interface type",
            "enum": [
              "INTF_ETHERNET",
              "INTF_SUBINTERFACE",
              "INTF_VLAN",
              "INTF_TUNNEL",
              "INTF_PORT_CHANNEL",
              "INTF_LOOPBACK",
              "INTF_MANAGEMENT",
              "INTF_USB"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "INTF_ETHERNET": "Ethernet Interface.",
              "INTF_LOOPBACK": "Loopback Interface.",
              "INTF_MANAGEMENT": "Management Interface.",
              "INTF_PORT_CHANNEL": "Port Channel Interface.",
              "INTF_SUBINTERFACE": "Sub Interface.",
              "INTF_TUNNEL": "Tunnel Interface.",
              "INTF_USB": "USB Interface.",
              "INTF_VLAN": "VLAN Interface."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Interface type."
          },
          "interface-vlan": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "loopback": {
            "description": "Loopback interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nexthop-address": {
            "description": "IPv6 address of the Nexthop device",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "source-prefix": {
            "description": "Range of the Multicast Source Address",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-prefix",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subif:sub-interfaces/ac-if-subif:interface/ac-if-subif:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPim_Pim6StaticRpConfig": {
        "description": "Grouping for Static RP Configurations",
        "properties": {
          "group-address-range": {
            "description": "Multicast group addresses associated with Static RP",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-prefix",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
          },
          "override-enable": {
            "default": "false",
            "description": "Prefer Static-RP over dynamically learnt RP",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "rp-address": {
            "description": "IPv6 address of the RP to be used for a group prefix",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          }
        }
      },
      "ArubaPim_Pim6StaticRpConfigGet": {
        "description": "Grouping for Static RP Configurations",
        "properties": {
          "group-address-range": {
            "description": "Multicast group addresses associated with Static RP",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-prefix",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
          },
          "override-enable": {
            "default": "false",
            "description": "Prefer Static-RP over dynamically learnt RP",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "rp-address": {
            "description": "IPv6 address of the RP to be used for a group prefix",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          }
        }
      },
      "ArubaPim_Pim6StaticRpPolicyConfig": {
        "description": "Grouping for Static RP policy Configurations",
        "properties": {
          "group-policy": {
            "description": "Multicast group address policy associated with Static RP",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "override-enable": {
            "default": "false",
            "description": "Prefer Static-RP over dynamically learnt RP",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rp-address": {
            "description": "IPv6 address of the RP to be used for a group prefix",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          }
        }
      },
      "ArubaPim_Pim6StaticRpPolicyConfigGet": {
        "description": "Grouping for Static RP policy Configurations",
        "properties": {
          "group-policy": {
            "description": "Multicast group address policy associated with Static RP",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "override-enable": {
            "default": "false",
            "description": "Prefer Static-RP over dynamically learnt RP",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rp-address": {
            "description": "IPv6 address of the RP to be used for a group prefix",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          }
        }
      },
      "ArubaPim_PimCandidateBsrConfig": {
        "description": "Grouping for Candidate Bootstrap Router Configurations",
        "properties": {
          "bsm-interval": {
            "default": "60",
            "description": "Periodic interval at which the Bootstrap messages\nare originated from this router",
            "format": "int64",
            "maximum": 300,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable Candidate Bootstrap Router on this device",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "hash-mask-length": {
            "default": "30",
            "description": "Candidate BSR's hash mask length",
            "format": "int64",
            "maximum": 32,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "interface-ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-type": {
            "description": "Interface type",
            "enum": [
              "INTF_ETHERNET",
              "INTF_SUBINTERFACE",
              "INTF_VLAN",
              "INTF_TUNNEL",
              "INTF_PORT_CHANNEL",
              "INTF_LOOPBACK",
              "INTF_MANAGEMENT",
              "INTF_USB"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "INTF_ETHERNET": "Ethernet Interface.",
              "INTF_LOOPBACK": "Loopback Interface.",
              "INTF_MANAGEMENT": "Management Interface.",
              "INTF_PORT_CHANNEL": "Port Channel Interface.",
              "INTF_SUBINTERFACE": "Sub Interface.",
              "INTF_TUNNEL": "Tunnel Interface.",
              "INTF_USB": "USB Interface.",
              "INTF_VLAN": "VLAN Interface."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Interface type."
          },
          "interface-vlan": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "loopback": {
            "description": "Loopback interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "priority": {
            "default": "0",
            "description": "Candidate BSR's priority",
            "format": "int64",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subif:sub-interfaces/ac-if-subif:interface/ac-if-subif:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPim_PimCandidateBsrConfigGet": {
        "description": "Grouping for Candidate Bootstrap Router Configurations",
        "properties": {
          "bsm-interval": {
            "default": "60",
            "description": "Periodic interval at which the Bootstrap messages\nare originated from this router",
            "format": "int64",
            "maximum": 300,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable Candidate Bootstrap Router on this device",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "hash-mask-length": {
            "default": "30",
            "description": "Candidate BSR's hash mask length",
            "format": "int64",
            "maximum": 32,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "interface-ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-type": {
            "description": "Interface type",
            "enum": [
              "INTF_ETHERNET",
              "INTF_SUBINTERFACE",
              "INTF_VLAN",
              "INTF_TUNNEL",
              "INTF_PORT_CHANNEL",
              "INTF_LOOPBACK",
              "INTF_MANAGEMENT",
              "INTF_USB"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "INTF_ETHERNET": "Ethernet Interface.",
              "INTF_LOOPBACK": "Loopback Interface.",
              "INTF_MANAGEMENT": "Management Interface.",
              "INTF_PORT_CHANNEL": "Port Channel Interface.",
              "INTF_SUBINTERFACE": "Sub Interface.",
              "INTF_TUNNEL": "Tunnel Interface.",
              "INTF_USB": "USB Interface.",
              "INTF_VLAN": "VLAN Interface."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Interface type."
          },
          "interface-vlan": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "loopback": {
            "description": "Loopback interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "priority": {
            "default": "0",
            "description": "Candidate BSR's priority",
            "format": "int64",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subif:sub-interfaces/ac-if-subif:interface/ac-if-subif:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPim_PimCandidateRpConfig": {
        "description": "Grouping for Candidate RP Configurations",
        "properties": {
          "enable": {
            "default": "false",
            "description": "Enable Candidate RP for this device",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "group-prefixes": {
            "description": "Multicast Group prefix associated with Candidate-RP.",
            "items": {
              "description": "Multicast Group prefix associated with Candidate-RP.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-prefix",
              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
              "x-supportedDeviceType": [
                "Switch CX",
                "Switch PVOS"
              ],
              "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "holdtime": {
            "default": "150",
            "description": "Candidate-RP's holdtime",
            "format": "int64",
            "maximum": 255,
            "minimum": 30,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "interface-ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-type": {
            "description": "Interface type",
            "enum": [
              "INTF_ETHERNET",
              "INTF_SUBINTERFACE",
              "INTF_VLAN",
              "INTF_TUNNEL",
              "INTF_PORT_CHANNEL",
              "INTF_LOOPBACK",
              "INTF_MANAGEMENT",
              "INTF_USB"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "INTF_ETHERNET": "Ethernet Interface.",
              "INTF_LOOPBACK": "Loopback Interface.",
              "INTF_MANAGEMENT": "Management Interface.",
              "INTF_PORT_CHANNEL": "Port Channel Interface.",
              "INTF_SUBINTERFACE": "Sub Interface.",
              "INTF_TUNNEL": "Tunnel Interface.",
              "INTF_USB": "USB Interface.",
              "INTF_VLAN": "VLAN Interface."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Interface type."
          },
          "interface-vlan": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "loopback": {
            "description": "Loopback interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "priority": {
            "default": "192",
            "description": "Candidate-RP's priority",
            "format": "int64",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subif:sub-interfaces/ac-if-subif:interface/ac-if-subif:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPim_PimCandidateRpConfigGet": {
        "description": "Grouping for Candidate RP Configurations",
        "properties": {
          "enable": {
            "default": "false",
            "description": "Enable Candidate RP for this device",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "group-prefixes": {
            "description": "Multicast Group prefix associated with Candidate-RP.",
            "items": {
              "description": "Multicast Group prefix associated with Candidate-RP.",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-prefix",
              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
              "x-supportedDeviceType": [
                "Switch CX",
                "Switch PVOS"
              ],
              "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "holdtime": {
            "default": "150",
            "description": "Candidate-RP's holdtime",
            "format": "int64",
            "maximum": 255,
            "minimum": 30,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "interface-ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-portchannel": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "interface-type": {
            "description": "Interface type",
            "enum": [
              "INTF_ETHERNET",
              "INTF_SUBINTERFACE",
              "INTF_VLAN",
              "INTF_TUNNEL",
              "INTF_PORT_CHANNEL",
              "INTF_LOOPBACK",
              "INTF_MANAGEMENT",
              "INTF_USB"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "INTF_ETHERNET": "Ethernet Interface.",
              "INTF_LOOPBACK": "Loopback Interface.",
              "INTF_MANAGEMENT": "Management Interface.",
              "INTF_PORT_CHANNEL": "Port Channel Interface.",
              "INTF_SUBINTERFACE": "Sub Interface.",
              "INTF_TUNNEL": "Tunnel Interface.",
              "INTF_USB": "USB Interface.",
              "INTF_VLAN": "VLAN Interface."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Interface type."
          },
          "interface-vlan": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "loopback": {
            "description": "Loopback interface.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "priority": {
            "default": "192",
            "description": "Candidate-RP's priority",
            "format": "int64",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subif:sub-interfaces/ac-if-subif:interface/ac-if-subif:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaPim_PimRouterCommonConfig": {
        "description": "Grouping for common PIM Router Configurations",
        "properties": {
          "active-active": {
            "default": "false",
            "description": "Enable PIM active-active feature on VSX pair",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "bfd-all-interfaces-enable": {
            "default": "false",
            "description": "Enables BFD on all PIM interfaces",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "join-prune-interval": {
            "default": "60",
            "description": "Set time between PIM Join/Prune messages in seconds",
            "format": "int64",
            "maximum": 65535,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mroute-limit": {
            "description": "Limit on the maximum number of multicast route\nentries that can be programmed",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "redistribute-static": {
            "default": "false",
            "description": "Redistribute Static Multicast Routes as Joins into the\ndomain.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "register-message-limit": {
            "description": "Limit on the maximum number of register messages\nsent per second for the multicast flow",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "register-policy": {
            "description": "Ingress ACL to filter processing of PIM register messages",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "register-source-port": {
            "description": "Source Interface to be used for transmitting PIM\nregistration messages to RP",
            "properties": {
              "interface-ethernet": {
                "description": "L3 interface name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
                "x-patternSources": "name",
                "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "interface-portchannel": {
                "description": "Lag interface name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
                "x-patternSources": "name",
                "x-patterns": "'(\\d+)'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "interface-type": {
                "description": "Interface type",
                "enum": [
                  "INTF_ETHERNET",
                  "INTF_SUBINTERFACE",
                  "INTF_VLAN",
                  "INTF_TUNNEL",
                  "INTF_PORT_CHANNEL",
                  "INTF_LOOPBACK",
                  "INTF_MANAGEMENT",
                  "INTF_USB"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "INTF_ETHERNET": "Ethernet Interface.",
                  "INTF_LOOPBACK": "Loopback Interface.",
                  "INTF_MANAGEMENT": "Management Interface.",
                  "INTF_PORT_CHANNEL": "Port Channel Interface.",
                  "INTF_SUBINTERFACE": "Sub Interface.",
                  "INTF_TUNNEL": "Tunnel Interface.",
                  "INTF_USB": "USB Interface.",
                  "INTF_VLAN": "VLAN Interface."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Interface type."
              },
              "interface-vlan": {
                "description": "L3 SVI id.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              },
              "loopback": {
                "description": "Loopback interface.",
                "format": "int32",
                "maximum": 255,
                "minimum": 0,
                "type": "integer",
                "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "sub-interface": {
                "description": "L3 subinterface name.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-if-subif:sub-interfaces/ac-if-subif:interface/ac-if-subif:parent-name-id",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rp-group-policies": {
            "description": "The list of all the rp group policies for IPv4 network",
            "items": {
              "properties": {
                "group-policy": {
                  "description": "Ingress ACL to filter PIM join and prune messages received from a RP addresss.",
                  "format": "const",
                  "maxLength": 145,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "rp-address": {
                  "description": "IP address of the RP to be used for a group prefix",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "rpAddress"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sources-per-group": {
            "description": "Total number of sources allowed for a group",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "spt-threshold-disable": {
            "default": "false",
            "description": "Enable Shortest Path Tree Switching",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ssm-enable": {
            "default": "false",
            "description": "Enable PIM Source Specific Multicast feature",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ssm-range-policy": {
            "description": "ACL to indicate Source Specific Multicast range",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "state-refresh": {
            "default": "60",
            "description": "Periodic interval at which state refresh\ndatagrams are sent",
            "format": "int64",
            "maximum": 100,
            "minimum": 10,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaPim_PimRouterCommonConfigGet": {
        "description": "Grouping for common PIM Router Configurations",
        "properties": {
          "active-active": {
            "default": "false",
            "description": "Enable PIM active-active feature on VSX pair",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "bfd-all-interfaces-enable": {
            "default": "false",
            "description": "Enables BFD on all PIM interfaces",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "join-prune-interval": {
            "default": "60",
            "description": "Set time between PIM Join/Prune messages in seconds",
            "format": "int64",
            "maximum": 65535,
            "minimum": 5,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "mroute-limit": {
            "description": "Limit on the maximum number of multicast route\nentries that can be programmed",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "redistribute-static": {
            "default": "false",
            "description": "Redistribute Static Multicast Routes as Joins into the\ndomain.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "register-message-limit": {
            "description": "Limit on the maximum number of register messages\nsent per second for the multicast flow",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "register-policy": {
            "description": "Ingress ACL to filter processing of PIM register messages",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "register-source-port": {
            "description": "Source Interface to be used for transmitting PIM\nregistration messages to RP",
            "properties": {
              "interface-ethernet": {
                "description": "L3 interface name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
                "x-patternSources": "name",
                "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "interface-portchannel": {
                "description": "Lag interface name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
                "x-patternSources": "name",
                "x-patterns": "'(\\d+)'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "interface-type": {
                "description": "Interface type",
                "enum": [
                  "INTF_ETHERNET",
                  "INTF_SUBINTERFACE",
                  "INTF_VLAN",
                  "INTF_TUNNEL",
                  "INTF_PORT_CHANNEL",
                  "INTF_LOOPBACK",
                  "INTF_MANAGEMENT",
                  "INTF_USB"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "INTF_ETHERNET": "Ethernet Interface.",
                  "INTF_LOOPBACK": "Loopback Interface.",
                  "INTF_MANAGEMENT": "Management Interface.",
                  "INTF_PORT_CHANNEL": "Port Channel Interface.",
                  "INTF_SUBINTERFACE": "Sub Interface.",
                  "INTF_TUNNEL": "Tunnel Interface.",
                  "INTF_USB": "USB Interface.",
                  "INTF_VLAN": "VLAN Interface."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Interface type."
              },
              "interface-vlan": {
                "description": "L3 SVI id.",
                "format": "int32",
                "maximum": 4094,
                "minimum": 1,
                "type": "integer",
                "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Type definition representing a single-tagged VLAN"
              },
              "loopback": {
                "description": "Loopback interface.",
                "format": "int32",
                "maximum": 255,
                "minimum": 0,
                "type": "integer",
                "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "sub-interface": {
                "description": "L3 subinterface name.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-if-subif:sub-interfaces/ac-if-subif:interface/ac-if-subif:parent-name-id",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "rp-group-policies": {
            "description": "The list of all the rp group policies for IPv4 network",
            "items": {
              "properties": {
                "group-policy": {
                  "description": "Ingress ACL to filter PIM join and prune messages received from a RP addresss.",
                  "format": "const",
                  "maxLength": 145,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "rp-address": {
                  "description": "IP address of the RP to be used for a group prefix",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "rpAddress"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "sources-per-group": {
            "description": "Total number of sources allowed for a group",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "spt-threshold-disable": {
            "default": "false",
            "description": "Enable Shortest Path Tree Switching",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ssm-enable": {
            "default": "false",
            "description": "Enable PIM Source Specific Multicast feature",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ssm-range-policy": {
            "description": "ACL to indicate Source Specific Multicast range",
            "format": "const",
            "maxLength": 145,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-policy:policies/ac-policy:policy/ac-policy:name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "state-refresh": {
            "default": "60",
            "description": "Periodic interval at which state refresh\ndatagrams are sent",
            "format": "int64",
            "maximum": 100,
            "minimum": 10,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaPim_PimRouterSchemaGET": {
        "description": "Configure Protocol Independent Multicast.\nIn a network, IP multicast traffic transmitted for multimedia applications\nis blocked at routed interface boundaries unless a multicast routing protocol\nis running. Protocol Independent Multicast (PIM) is a family of routing\nprotocols. It forms multicast trees to forward traffic from multicast sources\nto the clients requesting for traffic.",
        "properties": {
          "profile": {
            "description": "PIM Profiles.",
            "items": {
              "properties": {
                "description": {
                  "description": "User comment or description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "name": {
                  "description": "PIM profile name.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "router": {
                  "description": "The list of all the PIM Router instances",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ArubaPim_PimRouterCommonConfigGet"
                      },
                      {
                        "properties": {
                          "anycast-rp-source-directly-connected": {
                            "default": "false",
                            "description": "Allow same multicast source to be directly connected\nto two or more Anycast RP routers on IPv4 network",
                            "type": "boolean",
                            "x-supportedDeviceType": [
                              "Switch CX"
                            ]
                          },
                          "candidate-bsr": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/ArubaPim_PimCandidateBsrConfigGet"
                              }
                            ],
                            "description": "Candidate Bootstrap Router Configuration for IPv4 network.\nA candidate BSR is configured so that it is eligible to be elected as the\nBootstrap Router (BSR) in a PIM domain. This is the router that collects\ninformation from all available RPs in the network and advertises it on the\nPIM domain.",
                            "x-supportedDeviceType": [
                              "Switch CX"
                            ]
                          },
                          "candidate-bsr-v6": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/ArubaPim_Pim6CandidateBsrConfigGet"
                              }
                            ],
[...]
