{
  "openapi": "3.1.0",
  "info": {
    "title": "Rip",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Rip"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/rip": {
      "get": {
        "description": "Routing Information Protocol (RIP) is a distance-vector interior\ngateway protocol (IGP) using hop count as the routing metric\nwith a maximum of 15 hops (RFC 2453). RIP supports RIPv1 and\nRIPv2 for IPv4 networks with features including route\nredistribution, authentication, route filtering, and\nconfigurable timers. Configure RIP router instances with\nadministrative distance, maximum paths, timers (update,\ntimeout, garbage-collection), route redistribution from other\nprotocols, and interface-specific parameters. Use this API to\nretrieve the list of RIP profiles.",
        "operationId": "readRip",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaRip_RipSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing RIP configuration",
        "tags": [
          "Rip"
        ],
        "x-cliParam": {
          "commandName": "readRipCmd",
          "commandUse": "rip",
          "parentCommand": "readCmd",
          "pathToPrint": "/rip/",
          "summary": "Read operation for rip"
        }
      }
    },
    "/network-config/v1alpha1/rip/{name}": {
      "get": {
        "description": "RIP routing profile defining router instances, redistribution\nrules, timers, administrative distance, and interface\nconfigurations. Each entity is identified by profile name.\nUse these APIs to create, modify, or delete a RIP profile\ninstance.",
        "operationId": "readRipProfileByID",
        "parameters": [
          {
            "description": "RIP profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaRip_RipprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read an existing RIP profile",
        "tags": [
          "Rip"
        ],
        "x-cliParam": {
          "commandName": "readRipProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readRipCmd",
          "pathToPrint": "/rip/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "RIP routing profile defining router instances, redistribution\nrules, timers, administrative distance, and interface\nconfigurations. Each entity is identified by profile name.\nUse these APIs to create, modify, or delete a RIP profile\ninstance.",
        "operationId": "replaceRipProfileByID",
        "parameters": [
          {
            "description": "RIP profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaRip_RipprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or modify RIP profile",
        "tags": [
          "Rip"
        ],
        "x-cliParam": {
          "commandName": "replaceRipProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceRipCmd",
          "pathToPrint": "/rip/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "RIP routing profile defining router instances, redistribution\nrules, timers, administrative distance, and interface\nconfigurations. Each entity is identified by profile name.\nUse these APIs to create, modify, or delete a RIP profile\ninstance.",
        "operationId": "createRipProfileByID",
        "parameters": [
          {
            "description": "RIP profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaRip_RipprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a RIP profile",
        "tags": [
          "Rip"
        ],
        "x-cliParam": {
          "commandName": "createRipProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createRipCmd",
          "pathToPrint": "/rip/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "RIP routing profile defining router instances, redistribution\nrules, timers, administrative distance, and interface\nconfigurations. Each entity is identified by profile name.\nUse these APIs to create, modify, or delete a RIP profile\ninstance.",
        "operationId": "deleteRipProfileByID",
        "parameters": [
          {
            "description": "RIP profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete a RIP profile",
        "tags": [
          "Rip"
        ],
        "x-cliParam": {
          "commandName": "deleteRipProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteRipCmd",
          "pathToPrint": "/rip/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "RIP routing profile defining router instances, redistribution\nrules, timers, administrative distance, and interface\nconfigurations. Each entity is identified by profile name.\nUse these APIs to create, modify, or delete a RIP profile\ninstance.",
        "operationId": "updateRipProfileByID",
        "parameters": [
          {
            "description": "RIP profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaRip_RipprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update an existing RIP profile",
        "tags": [
          "Rip"
        ],
        "x-cliParam": {
          "commandName": "updateRipProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateRipCmd",
          "pathToPrint": "/rip/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaRip_Redistribute": {
        "description": "Redistribute routes from other sources into this OSPF instance.",
        "properties": {
          "ospf-id": {
            "description": "OSPFv2 process ID.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "redistribute-id": {
            "description": "Redistribute ID.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "redistribute-type": {
            "description": "Redistribute types.",
            "enum": [
              "STATIC_INCLUDE_ALL",
              "CONNECTED",
              "STATIC",
              "BGP",
              "OSPF",
              "OSPFV3"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BGP": "Redistribute Border Gateway Protocol routes",
              "CONNECTED": "Redistribute Connected routes",
              "OSPF": "Redistribute OSPFv2 routes",
              "OSPFV3": "Redistribute OSPFv3 routes",
              "STATIC": "Redistribute Static routes",
              "STATIC_INCLUDE_ALL": "Include null and reject routes"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "RIP redistribute type"
          },
          "route-map": {
            "description": "RIP Route map reference.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaRip_RedistributeGet": {
        "description": "Redistribute routes from other sources into this OSPF instance.",
        "properties": {
          "ospf-id": {
            "description": "OSPFv2 process ID.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "redistribute-id": {
            "description": "Redistribute ID.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "redistribute-type": {
            "description": "Redistribute types.",
            "enum": [
              "STATIC_INCLUDE_ALL",
              "CONNECTED",
              "STATIC",
              "BGP",
              "OSPF",
              "OSPFV3"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BGP": "Redistribute Border Gateway Protocol routes",
              "CONNECTED": "Redistribute Connected routes",
              "OSPF": "Redistribute OSPFv2 routes",
              "OSPFV3": "Redistribute OSPFv3 routes",
              "STATIC": "Redistribute Static routes",
              "STATIC_INCLUDE_ALL": "Include null and reject routes"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "RIP redistribute type"
          },
          "route-map": {
            "description": "RIP Route map reference.",
            "format": "const",
            "maxLength": 80,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaRip_RipAuthentication": {
        "description": "RIP authentication.",
        "properties": {
          "mode": {
            "description": "The authentication type.",
            "enum": [
              "SIMPLE_TEXT",
              "MD5",
              "NONE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MD5": "MD5 authentication",
              "NONE": "No authentication",
              "SIMPLE_TEXT": "simple-text authentication"
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "RIP authentiction type"
          },
          "password": {
            "description": "The authentication key.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          }
        }
      },
      "ArubaRip_RipAuthenticationGet": {
        "description": "RIP authentication.",
        "properties": {
          "mode": {
            "description": "The authentication type.",
            "enum": [
              "SIMPLE_TEXT",
              "MD5",
              "NONE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "MD5": "MD5 authentication",
              "NONE": "No authentication",
              "SIMPLE_TEXT": "simple-text authentication"
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "RIP authentiction type"
          },
          "password": {
            "description": "The authentication key.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "A custom derived type for special use cases. This type takes a plaintext password and uses\nVault's 3rd party API to encrypt the password. The intended use case is to encrypt and store\ncustomer credentials which will be used later to login to 3rd party services."
          }
        }
      },
      "ArubaRip_RipInterface": {
        "description": "RIP interface list.",
        "properties": {
          "ether-interfaces": {
            "description": "RIP interfaces in interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaRip_RipInterfaceCfg"
                },
                {
                  "properties": {
                    "interface-name-address-family": {
                      "description": "Key combination of interface-name and address-family separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "interfaceName",
              "addressFamily"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag-interfaces": {
            "description": "RIP interfaces in lag.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaRip_RipInterfaceCfg"
                },
                {
                  "properties": {
                    "lag-name-address-family": {
                      "description": "Key combination of lag-name and address-family separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "lagName",
              "addressFamily"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-interfaces": {
            "description": "RIP interfaces in loopback interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaRip_RipInterfaceCfg"
                },
                {
                  "properties": {
                    "loopback-id-address-family": {
                      "description": "Key combination of loopback-id and address-family separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "loopbackId",
              "addressFamily"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi-interfaces": {
            "description": "RIP interfaces in svi interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaRip_RipInterfaceCfg"
                },
                {
                  "properties": {
                    "svi-id-address-family": {
                      "description": "Key combination of svi-id and address-family separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sviId",
              "addressFamily"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaRip_RipInterfaceCfg": {
        "description": "Configure a RIP interface.",
        "properties": {
          "address-family": {
            "description": "IPv4 or IPv6 address family",
            "enum": [
              "UNKNOWN",
              "IPV4",
              "IPV6"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IPV4": "The IPv4 protocol as defined in RFC 791.",
              "IPV6": "The IPv6 protocol as defined in RFC 2460.",
              "UNKNOWN": "An unknown or unspecified version of the Internet\nprotocol."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "This value represents the version of the IP protocol.\nNote that integer representation of the enumerated values\nare not specified, and are not required to follow the\nInetVersion textual convention in SMIv2."
          },
          "all-ip": {
            "default": "false",
            "description": "All RIP IP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "all-ip-enable": {
            "default": "false",
            "description": "Enable RIP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "all-ip-receive-disable": {
            "default": "false",
            "description": "Disable packet receive.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "all-ip-send-disable": {
            "default": "false",
            "description": "Disable Packet send.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "authentication": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaRip_RipAuthentication"
              }
            ],
            "description": "RIP authentication.",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable RIP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "interface-name": {
            "description": "L3 interface name where RIP is enabled.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ip-address": {
            "description": "Rip Ip address.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "lag-name": {
            "description": "Lag interface name where RIP is enabled.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "loopback-id": {
            "description": "L3 loopback id where RIP is enabled.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id"
          },
          "metric": {
            "default": "1",
            "description": "RIP cost metric.",
            "format": "int64",
            "maximum": 15,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch PVOS"
            ]
          },
          "passive": {
            "default": "false",
            "description": "RIP Passive interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "poison-reverse": {
            "default": "true",
            "description": "Tackle RIP count-to-Infinity problems.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "receive-disable": {
            "default": "false",
            "description": "Disable packet receive.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "receive-type": {
            "description": "RIP receive packet version.",
            "enum": [
              "V1",
              "V2",
              "V1_V2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "V1": "RIP version 1 updates only",
              "V1_V2": "both RIPv1 and RIPv2 updates",
              "V2": "RIP version 2 updates only"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "RIP interface type"
          },
          "send-disable": {
            "default": "false",
            "description": "Disable Packet send.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "send-type": {
            "description": "RIP send packet version.",
            "enum": [
              "V1",
              "V2",
              "V1_COMPATIBLE_V2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "V1": "RIP version 1 updates only",
              "V1_COMPATIBLE_V2": "RIP 2 updates using RFC 1058 route subsumption",
              "V2": "RIP version 2 updates only"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "RIP packet type"
          },
          "split-horizon": {
            "default": "true",
            "description": "Prevent RIP network routing loop.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "svi-id": {
            "description": "L3 SVI id  where RIP is enabled.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "timers": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaRip_Timer"
              }
            ],
            "description": "Configure RIP timers.",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "triggered": {
            "default": "false",
            "description": "RIP Triggered update.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "version": {
            "description": "RIP version.",
            "enum": [
              "V1",
              "V2",
              "V1_V2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "V1": "RIP version 1 updates only",
              "V1_V2": "both RIPv1 and RIPv2 updates",
              "V2": "RIP version 2 updates only"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "RIP interface type"
          }
        }
      },
      "ArubaRip_RipInterfaceCfgGet": {
        "description": "Configure a RIP interface.",
        "properties": {
          "address-family": {
            "description": "IPv4 or IPv6 address family",
            "enum": [
              "UNKNOWN",
              "IPV4",
              "IPV6"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IPV4": "The IPv4 protocol as defined in RFC 791.",
              "IPV6": "The IPv6 protocol as defined in RFC 2460.",
              "UNKNOWN": "An unknown or unspecified version of the Internet\nprotocol."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "This value represents the version of the IP protocol.\nNote that integer representation of the enumerated values\nare not specified, and are not required to follow the\nInetVersion textual convention in SMIv2."
          },
          "all-ip": {
            "default": "false",
            "description": "All RIP IP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "all-ip-enable": {
            "default": "false",
            "description": "Enable RIP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "all-ip-receive-disable": {
            "default": "false",
            "description": "Disable packet receive.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "all-ip-send-disable": {
            "default": "false",
            "description": "Disable Packet send.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "authentication": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaRip_RipAuthenticationGet"
              }
            ],
            "description": "RIP authentication.",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "enable": {
            "default": "false",
            "description": "Enable RIP.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "interface-name": {
            "description": "L3 interface name where RIP is enabled.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "ip-address": {
            "description": "Rip Ip address.",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "lag-name": {
            "description": "Lag interface name where RIP is enabled.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "loopback-id": {
            "description": "L3 loopback id where RIP is enabled.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id"
          },
          "metric": {
            "default": "1",
            "description": "RIP cost metric.",
            "format": "int64",
            "maximum": 15,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch PVOS"
            ]
          },
          "passive": {
            "default": "false",
            "description": "RIP Passive interface.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "poison-reverse": {
            "default": "true",
            "description": "Tackle RIP count-to-Infinity problems.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "receive-disable": {
            "default": "false",
            "description": "Disable packet receive.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "receive-type": {
            "description": "RIP receive packet version.",
            "enum": [
              "V1",
              "V2",
              "V1_V2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "V1": "RIP version 1 updates only",
              "V1_V2": "both RIPv1 and RIPv2 updates",
              "V2": "RIP version 2 updates only"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "RIP interface type"
          },
          "send-disable": {
            "default": "false",
            "description": "Disable Packet send.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "send-type": {
            "description": "RIP send packet version.",
            "enum": [
              "V1",
              "V2",
              "V1_COMPATIBLE_V2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "V1": "RIP version 1 updates only",
              "V1_COMPATIBLE_V2": "RIP 2 updates using RFC 1058 route subsumption",
              "V2": "RIP version 2 updates only"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "RIP packet type"
          },
          "split-horizon": {
            "default": "true",
            "description": "Prevent RIP network routing loop.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "svi-id": {
            "description": "L3 SVI id  where RIP is enabled.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "timers": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaRip_TimerGet"
              }
            ],
            "description": "Configure RIP timers.",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "triggered": {
            "default": "false",
            "description": "RIP Triggered update.",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "version": {
            "description": "RIP version.",
            "enum": [
              "V1",
              "V2",
              "V1_V2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "V1": "RIP version 1 updates only",
              "V1_V2": "both RIPv1 and RIPv2 updates",
              "V2": "RIP version 2 updates only"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "RIP interface type"
          }
        }
      },
      "ArubaRip_RipInterfaceGet": {
        "description": "RIP interface list.",
        "properties": {
          "ether-interfaces": {
            "description": "RIP interfaces in interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaRip_RipInterfaceCfgGet"
                },
                {
                  "properties": {
                    "interface-name-address-family": {
                      "description": "Key combination of interface-name and address-family separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "interfaceName",
              "addressFamily"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag-interfaces": {
            "description": "RIP interfaces in lag.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaRip_RipInterfaceCfgGet"
                },
                {
                  "properties": {
                    "lag-name-address-family": {
                      "description": "Key combination of lag-name and address-family separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "lagName",
              "addressFamily"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "loopback-interfaces": {
            "description": "RIP interfaces in loopback interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaRip_RipInterfaceCfgGet"
                },
                {
                  "properties": {
                    "loopback-id-address-family": {
                      "description": "Key combination of loopback-id and address-family separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "loopbackId",
              "addressFamily"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi-interfaces": {
            "description": "RIP interfaces in svi interface.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaRip_RipInterfaceCfgGet"
                },
                {
                  "properties": {
                    "svi-id-address-family": {
                      "description": "Key combination of svi-id and address-family separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "sviId",
              "addressFamily"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaRip_RipSchemaGET": {
        "description": "Routing Information Protocol (RIP) is a distance-vector interior\ngateway protocol (IGP) using hop count as the routing metric\nwith a maximum of 15 hops (RFC 2453). RIP supports RIPv1 and\nRIPv2 for IPv4 networks with features including route\nredistribution, authentication, route filtering, and\nconfigurable timers. Configure RIP router instances with\nadministrative distance, maximum paths, timers (update,\ntimeout, garbage-collection), route redistribution from other\nprotocols, and interface-specific parameters. Use this API to\nretrieve the list of RIP profiles.",
        "properties": {
          "profile": {
            "description": "RIP routing profile defining router instances, redistribution\nrules, timers, administrative distance, and interface\nconfigurations. Each entity is identified by profile name.\nUse these APIs to create, modify, or delete a RIP profile\ninstance.",
            "items": {
              "properties": {
                "description": {
                  "description": "RIP global profile description",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "name": {
                  "description": "RIP profile name",
                  "format": "const",
                  "maxLength": 255,
                  "minLength": 1,
                  "type": "string"
                },
                "router": {
                  "description": "The list of all the RIP Router instances.",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ArubaRip_RipInterfaceGet"
                      },
                      {
                        "properties": {
                          "auto-summary": {
                            "default": "true",
                            "description": "Enable Auto summary.",
                            "type": "boolean",
                            "x-supportedDeviceType": [
                              "Switch PVOS"
                            ]
                          },
                          "default-metric": {
                            "default": "1",
                            "description": "The cost metric for the default summary route sent.",
                            "format": "int64",
                            "maximum": 15,
                            "minimum": 1,
                            "type": "integer",
                            "x-supportedDeviceType": [
                              "Switch PVOS"
                            ]
                          },
                          "distance": {
                            "default": "120",
                            "description": "Administrative distance for the RIP.",
                            "format": "int32",
                            "maximum": 255,
                            "minimum": 1,
                            "type": "integer",
                            "x-supportedDeviceType": [
                              "Switch CX",
                              "Switch PVOS",
                              "Gateway"
                            ]
                          },
                          "enable": {
                            "default": "false",
                            "description": "Enable RIP.",
                            "type": "boolean",
                            "x-supportedDeviceType": [
                              "Switch CX",
                              "Switch PVOS"
                            ]
                          },
                          "infinity": {
                            "default": "16",
                            "description": "Maximum RIP router cost.",
                            "format": "int32",
                            "maximum": 255,
                            "minimum": 1,
                            "type": "integer",
                            "x-supportedDeviceType": [
                              "Gateway"
                            ]
                          },
                          "instance-tag-vrf-proto-type": {
                            "description": "Key combination of instance-tag, vrf and proto-type separated by ~",
                            "format": "const",
                            "maxLength": 9999,
                            "type": "string"
                          },
                          "loopback": {
                            "description": "RIP Loopback interface reference.",
                            "format": "int32",
                            "maximum": 255,
                            "minimum": 0,
                            "type": "integer",
                            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
                            "x-supportedDeviceType": [
                              "Gateway"
                            ]
                          },
                          "maximum-paths": {
                            "default": "4",
                            "description": "The router maximum paths.",
                            "format": "int32",
                            "maximum": 8,
                            "minimum": 1,
                            "type": "integer",
                            "x-supportedDeviceType": [
                              "Switch CX"
                            ]
                          },
                          "redistribute": {
                            "description": "Redistribute routes from other sources into this RIP instance.",
                            "items": {
                              "allOf": [
                                {
                                  "$ref": "#/components/schemas/ArubaRip_RedistributeGet"
                                }
                              ]
                            },
                            "maxItems": 2147483647,
                            "type": "array",
                            "x-key": [
                              "redistributeId"
                            ],
                            "x-supportedDeviceType": [
                              "Switch CX",
                              "Switch PVOS"
                            ]
                          },
                          "restrict": {
                            "description": "Prevent redistribution of routes via RIP.",
                            "items": {
                              "description": "Prevent redistribution of routes via RIP.",
                              "oneOf": [
                                {
                                  "format": "pattern",
                                  "maxLength": 9999,
                                  "type": "string",
                                  "x-patternSources": "ipv4-prefix",
                                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                                  "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                                },
                                {
                                  "format": "pattern",
                                  "maxLength": 9999,
                                  "type": "string",
                                  "x-patternSources": "ipv6-prefix",
                                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                                  "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                                }
                              ],
                              "x-supportedDeviceType": [
                                "Switch PVOS"
                              ]
                            },
                            "maxItems": 2147483647,
                            "type": "array"
                          },
                          "timers": {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/ArubaRip_TimerGet"
                              }
                            ],
                            "description": "Configure RIP timers.",
                            "x-supportedDeviceType": [
                              "Switch CX",
                              "Switch PVOS",
                              "Gateway"
                            ]
                          },
                          "vlan": {
                            "description": "RIP Vlan reference.",
                            "format": "int32",
                            "maximum": 4094,
                            "minimum": 1,
                            "type": "integer",
                            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
                            "x-supportedDeviceType": [
                              "Gateway"
                            ],
                            "x-typeDescription": "Type definition representing a single-tagged VLAN"
                          }
                        }
                      }
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "instanceTagVrfProtoType"
                  ],
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Switch CX",
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX",
          "Switch PVOS",
          "Gateway"
        ]
      },
      "ArubaRip_RipprofileSchema": {
        "properties": {
          "description": {
            "description": "RIP global profile description",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "name": {
            "description": "RIP profile name",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "router": {
            "description": "The list of all the RIP Router instances.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaRip_RipInterface"
                },
                {
                  "properties": {
                    "auto-summary": {
                      "default": "true",
                      "description": "Enable Auto summary.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "default-metric": {
                      "default": "1",
                      "description": "The cost metric for the default summary route sent.",
                      "format": "int64",
                      "maximum": 15,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "distance": {
                      "default": "120",
                      "description": "Administrative distance for the RIP.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS",
                        "Gateway"
                      ]
                    },
                    "enable": {
                      "default": "false",
                      "description": "Enable RIP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "infinity": {
                      "default": "16",
                      "description": "Maximum RIP router cost.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "instance-tag-vrf-proto-type": {
                      "description": "Key combination of instance-tag, vrf and proto-type separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    },
                    "loopback": {
                      "description": "RIP Loopback interface reference.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "maximum-paths": {
                      "default": "4",
                      "description": "The router maximum paths.",
                      "format": "int32",
                      "maximum": 8,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "redistribute": {
                      "description": "Redistribute routes from other sources into this RIP instance.",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaRip_Redistribute"
                          }
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "redistributeId"
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "restrict": {
                      "description": "Prevent redistribution of routes via RIP.",
                      "items": {
                        "description": "Prevent redistribution of routes via RIP.",
                        "oneOf": [
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-prefix",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                            "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                          },
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv6-prefix",
                            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                          }
                        ],
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "timers": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaRip_Timer"
                        }
                      ],
                      "description": "Configure RIP timers.",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS",
                        "Gateway"
                      ]
                    },
                    "vlan": {
                      "description": "RIP Vlan reference.",
                      "format": "int32",
                      "maximum": 4094,
                      "minimum": 1,
                      "type": "integer",
                      "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Type definition representing a single-tagged VLAN"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "instanceTagVrfProtoType"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaRip_RipprofileSchemaGet": {
        "properties": {
          "description": {
            "description": "RIP global profile description",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "name": {
            "description": "RIP profile name",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string"
          },
          "router": {
            "description": "The list of all the RIP Router instances.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaRip_RipInterfaceGet"
                },
                {
                  "properties": {
                    "auto-summary": {
                      "default": "true",
                      "description": "Enable Auto summary.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "default-metric": {
                      "default": "1",
                      "description": "The cost metric for the default summary route sent.",
                      "format": "int64",
                      "maximum": 15,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    },
                    "distance": {
                      "default": "120",
                      "description": "Administrative distance for the RIP.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS",
                        "Gateway"
                      ]
                    },
                    "enable": {
                      "default": "false",
                      "description": "Enable RIP.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "infinity": {
                      "default": "16",
                      "description": "Maximum RIP router cost.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "instance-tag-vrf-proto-type": {
                      "description": "Key combination of instance-tag, vrf and proto-type separated by ~",
                      "format": "const",
                      "maxLength": 9999,
                      "type": "string"
                    },
                    "loopback": {
                      "description": "RIP Loopback interface reference.",
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer",
                      "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ]
                    },
                    "maximum-paths": {
                      "default": "4",
                      "description": "The router maximum paths.",
                      "format": "int32",
                      "maximum": 8,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "redistribute": {
                      "description": "Redistribute routes from other sources into this RIP instance.",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/ArubaRip_RedistributeGet"
                          }
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array",
                      "x-key": [
                        "redistributeId"
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS"
                      ]
                    },
                    "restrict": {
                      "description": "Prevent redistribution of routes via RIP.",
                      "items": {
                        "description": "Prevent redistribution of routes via RIP.",
                        "oneOf": [
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv4-prefix",
                            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                            "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                          },
                          {
                            "format": "pattern",
                            "maxLength": 9999,
                            "type": "string",
                            "x-patternSources": "ipv6-prefix",
                            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                          }
                        ],
                        "x-supportedDeviceType": [
                          "Switch PVOS"
                        ]
                      },
                      "maxItems": 2147483647,
                      "type": "array"
                    },
                    "timers": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/ArubaRip_TimerGet"
                        }
                      ],
                      "description": "Configure RIP timers.",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS",
                        "Gateway"
                      ]
                    },
                    "vlan": {
                      "description": "RIP Vlan reference.",
                      "format": "int32",
                      "maximum": 4094,
                      "minimum": 1,
                      "type": "integer",
                      "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
                      "x-supportedDeviceType": [
                        "Gateway"
                      ],
                      "x-typeDescription": "Type definition representing a single-tagged VLAN"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "instanceTagVrfProtoType"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaRip_Timer": {
        "description": "Configure timers.",
        "properties": {
          "flush": {
            "default": "120",
            "description": "The flush timer for RIP.",
            "format": "int64",
            "maximum": 31536000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "garbage-collection": {
            "default": "120",
            "description": "The garbage-collection timer for RIP.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "invalid-timer": {
            "default": "180",
            "description": "The invalid timer for RIP.",
            "format": "int64",
            "maximum": 31536000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "timeout": {
            "default": "180",
            "description": "The timeout timer for RIP.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "update": {
            "default": "30",
            "description": "The timer value for sending RIP protocol updates in seconds.",
            "format": "int64",
            "maximum": 31536000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaRip_TimerGet": {
        "description": "Configure timers.",
        "properties": {
          "flush": {
            "default": "120",
            "description": "The flush timer for RIP.",
            "format": "int64",
            "maximum": 31536000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "garbage-collection": {
            "default": "120",
            "description": "The garbage-collection timer for RIP.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "invalid-timer": {
            "default": "180",
            "description": "The invalid timer for RIP.",
            "format": "int64",
            "maximum": 31536000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "timeout": {
            "default": "180",
            "description": "The timeout timer for RIP.",
            "format": "int64",
            "maximum": 65535,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "update": {
            "default": "30",
            "description": "The timer value for sending RIP protocol updates in seconds.",
            "format": "int64",
            "maximum": 31536000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
[...]
