{
  "openapi": "3.1.0",
  "info": {
    "title": "Routemap",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Routemap"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/route-maps": {
      "get": {
        "description": "Route Maps provide advanced routing policy control by\nmanipulating route attributes during redistribution between\nrouting protocols (BGP, OSPF, RIP, static routes). Route\nmaps use match conditions (IP prefix lists, community lists,\nAS path lists) and set actions (metric modification,\nnext-hop changes, AS path prepending) to filter and transform\nrouting information. Configure route map sequences with\npermit/deny actions to implement complex routing policies for\ntraffic engineering and route aggregation. Requires\nprefix-list, community-list, and AS path-list configurations\nfor match conditions. Device Limits: Gateway restricts route\nmap names to 1-50 characters. Use this API to retrieve the\nlist of route map configurations.",
        "operationId": "readRouteMaps",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaRoutemap_RouteMapsSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing route-map configuration",
        "tags": [
          "Routemap"
        ],
        "x-cliParam": {
          "commandName": "readRouteMapsCmd",
          "commandUse": "route-maps",
          "parentCommand": "readCmd",
          "pathToPrint": "/route-maps/",
          "summary": "Read operation for route-maps"
        }
      }
    },
    "/network-config/v1alpha1/route-maps/{route-map-name}": {
      "get": {
        "description": "Route map defining policy-based route manipulation with\nordered sequences of match conditions and set actions.\nEach entity is identified by route map name. Configure\npermit/deny entries with match criteria (prefix-lists,\ncommunities, AS paths) and set actions (metric, next-hop,\nlocal-preference) for routing policy control.",
        "operationId": "readRouteMapsRouteMapByID",
        "parameters": [
          {
            "description": "Name of the route map.",
            "in": "path",
            "name": "route-map-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaRoutemap_RouteMapsrouteMapSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing route-map with name {name}",
        "tags": [
          "Routemap"
        ],
        "x-cliParam": {
          "commandName": "readRouteMapsRouteMapCmd",
          "commandUse": "route-map",
          "paramKeys": [
            {
              "key": "route-map-name"
            }
          ],
          "parentCommand": "readRouteMapsCmd",
          "pathToPrint": "/route-maps/route-map/%s/",
          "summary": "Read operation for route-map",
          "totParams": 1
        }
      },
      "put": {
        "description": "Route map defining policy-based route manipulation with\nordered sequences of match conditions and set actions.\nEach entity is identified by route map name. Configure\npermit/deny entries with match criteria (prefix-lists,\ncommunities, AS paths) and set actions (metric, next-hop,\nlocal-preference) for routing policy control.",
        "operationId": "replaceRouteMapsRouteMapByID",
        "parameters": [
          {
            "description": "Name of the route map.",
            "in": "path",
            "name": "route-map-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaRoutemap_RouteMapsrouteMapSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or update existing route-map with name {name}",
        "tags": [
          "Routemap"
        ],
        "x-cliParam": {
          "commandName": "replaceRouteMapsRouteMapCmd",
          "commandUse": "route-map",
          "paramKeys": [
            {
              "key": "route-map-name"
            }
          ],
          "parentCommand": "replaceRouteMapsCmd",
          "pathToPrint": "/route-maps/route-map/%s/",
          "summary": "Replace operation for route-map",
          "totParams": 1
        }
      },
      "post": {
        "description": "Route map defining policy-based route manipulation with\nordered sequences of match conditions and set actions.\nEach entity is identified by route map name. Configure\npermit/deny entries with match criteria (prefix-lists,\ncommunities, AS paths) and set actions (metric, next-hop,\nlocal-preference) for routing policy control.",
        "operationId": "createRouteMapsRouteMapByID",
        "parameters": [
          {
            "description": "Name of the route map.",
            "in": "path",
            "name": "route-map-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaRoutemap_RouteMapsrouteMapSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create new route-map with name {name}",
        "tags": [
          "Routemap"
        ],
        "x-cliParam": {
          "commandName": "createRouteMapsRouteMapCmd",
          "commandUse": "route-map",
          "paramKeys": [
            {
              "key": "route-map-name"
            }
          ],
          "parentCommand": "createRouteMapsCmd",
          "pathToPrint": "/route-maps/route-map/%s/",
          "summary": "Create operation for route-map",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Route map defining policy-based route manipulation with\nordered sequences of match conditions and set actions.\nEach entity is identified by route map name. Configure\npermit/deny entries with match criteria (prefix-lists,\ncommunities, AS paths) and set actions (metric, next-hop,\nlocal-preference) for routing policy control.",
        "operationId": "deleteRouteMapsRouteMapByID",
        "parameters": [
          {
            "description": "Name of the route map.",
            "in": "path",
            "name": "route-map-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete route-map with name {name}",
        "tags": [
          "Routemap"
        ],
        "x-cliParam": {
          "commandName": "deleteRouteMapsRouteMapCmd",
          "commandUse": "route-map",
          "paramKeys": [
            {
              "key": "route-map-name"
            }
          ],
          "parentCommand": "deleteRouteMapsCmd",
          "pathToPrint": "/route-maps/route-map/%s/",
          "summary": "Delete operation for route-map",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Route map defining policy-based route manipulation with\nordered sequences of match conditions and set actions.\nEach entity is identified by route map name. Configure\npermit/deny entries with match criteria (prefix-lists,\ncommunities, AS paths) and set actions (metric, next-hop,\nlocal-preference) for routing policy control.",
        "operationId": "updateRouteMapsRouteMapByID",
        "parameters": [
          {
            "description": "Name of the route map.",
            "in": "path",
            "name": "route-map-name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaRoutemap_RouteMapsrouteMapSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing route-map with name {name}",
        "tags": [
          "Routemap"
        ],
        "x-cliParam": {
          "commandName": "updateRouteMapsRouteMapCmd",
          "commandUse": "route-map",
          "paramKeys": [
            {
              "key": "route-map-name"
            }
          ],
          "parentCommand": "updateRouteMapsCmd",
          "pathToPrint": "/route-maps/route-map/%s/",
          "summary": "Update operation for route-map",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaRoutemap_RouteMapMatch": {
        "description": "Match values from routing table",
        "properties": {
          "match-as-path-list": {
            "description": "Name of AS path list",
            "format": "pattern",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-aspathlist:aspath-lists/ac-aspathlist:as-path-list/ac-aspathlist:aspath-list-name",
            "x-patternSources": "aspath-list-name",
            "x-patterns": "'[^\\s]*'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "match-community": {
            "description": "Community attribute to be matched.",
            "oneOf": [
              {
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "match-community-type",
                "x-patterns": "'^[a-zA-Z0-9_]+$'"
              }
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "match-community-asn": {
            "description": "Match community in ASN:NN format.",
            "properties": {
              "asnn": {
                "description": "ASN value of match community",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "nn": {
                "description": "NN value of match community",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "match-community-list": {
            "description": "Community list.",
            "properties": {
              "community-list-name": {
                "description": "Match community list name.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "community-list-name-community-type": {
                "description": "Match community list name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-commlist:community-lists/ac-commlist:community-list/ac-commlist:community-list-name-community-type",
                "x-patternSources": "community-list-name-community-type",
                "x-patterns": "'[^\\s]*'",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Switch CX"
                ]
              },
              "exact-match": {
                "description": "Exact match of community.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "match-ethernet-interface": {
            "description": "Use the IP (either IPv4 or IPv6) address of\nethernet interface for routemap.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-extended-community-list": {
            "description": "Extended community list.",
            "properties": {
              "community-list-name-community-type": {
                "description": "Match extended community list name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-commlist:community-lists/ac-commlist:community-list/ac-commlist:community-list-name-community-type",
                "x-patternSources": "community-list-name-community-type",
                "x-patterns": "'[^\\s]*'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "exact-match": {
                "description": "Exact match of extended community.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-external-route-type": {
            "description": "Match external route type.",
            "enum": [
              "TYPE_1",
              "TYPE_2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TYPE_1": "metric type 1.",
              "TYPE_2": "metric type 2."
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "Metric type of the route."
          },
          "match-interface-vlans": {
            "description": "Match interface vlans.",
            "items": {
              "description": "Match interface vlans.",
              "format": "int32",
              "maximum": 4094,
              "minimum": 1,
              "type": "integer",
              "x-supportedDeviceType": [
                "Switch PVOS",
                "Gateway"
              ],
              "x-typeDescription": "Type definition representing a single-tagged VLAN"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "match-ipv4-nexthop": {
            "description": "Description for IPv4 nexthop.",
            "properties": {
              "ipv4-nexthop-address": {
                "description": "Next hop IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "ipv4-nexthop-addresses": {
                "description": "Next hop IPv4 addresses.",
                "items": {
                  "description": "Next hop IPv4 addresses.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "ipv4-nexthop-prefix-list": {
                "description": "Name of IPv4 nexthop prefix list.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-pfl:prefix-lists/ac-pfl:prefix-list/ac-pfl:prefix-list-name-address-family",
                "x-patternSources": "prefix-list-name-address-family",
                "x-patterns": "'[^\\s]*'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              }
            }
          },
          "match-ipv4-prefix-list": {
            "description": "Name of IP prefix list",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-pfl:prefix-lists/ac-pfl:prefix-list/ac-pfl:prefix-list-name-address-family",
            "x-patternSources": "prefix-list-name-address-family",
            "x-patterns": "'[^\\s]*'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "match-ipv4-route-source-prefix-list": {
            "description": "Name of route source prefix list.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-pfl:prefix-lists/ac-pfl:prefix-list/ac-pfl:prefix-list-name-address-family",
            "x-patternSources": "prefix-list-name-address-family",
            "x-patterns": "'[^\\s]*'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "match-ipv6-nexthop-address": {
            "description": "Description for IPv6 nexthop.",
            "properties": {
              "ipv6-nexthop-address": {
                "description": "IPv6 next hop address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "ipv6-nexthop-addresses": {
                "description": "IPv6 next hop addresses.",
                "items": {
                  "description": "IPv6 next hop addresses.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "ipv6-nexthop-prefix-list": {
                "description": "Name of IPv6 nexthop prefix list.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-pfl:prefix-lists/ac-pfl:prefix-list/ac-pfl:prefix-list-name-address-family",
                "x-patternSources": "prefix-list-name-address-family",
                "x-patterns": "'[^\\s]*'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "match-ipv6-prefix-list": {
            "description": "Name of IPv6 address prefix list.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-pfl:prefix-lists/ac-pfl:prefix-list/ac-pfl:prefix-list-name-address-family",
            "x-patternSources": "prefix-list-name-address-family",
            "x-patterns": "'[^\\s]*'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "match-ipv6-route-source-prefix-list": {
            "description": "Name of IPv6 route source prefix list.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "match-local-preference": {
            "description": "Match local preference.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "match-loopback-interface": {
            "description": "Use the IP (either IPv4 or IPv6) address of\nloopback interface for routemap.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-metric": {
            "description": "Match metric.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "match-origin": {
            "description": "Origin code.",
            "enum": [
              "IGP",
              "EGP",
              "INCOMPLETE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EGP": "EGP origin.",
              "IGP": "IGP origin.",
              "INCOMPLETE": "Incomplete origin."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Origin type of the route."
          },
          "match-portchannel-interface": {
            "description": "Use the IP (either IPv4 or IPv6) address of\nportchannel interface for routemap.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-port-channel:portchannels/ac-if-port-channel:interface/ac-if-port-channel:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-route-type": {
            "description": "Match route type",
            "enum": [
              "EVPN_TYPE_1",
              "EVPN_TYPE_2",
              "EVPN_TYPE_3",
              "EVPN_TYPE_4",
              "EVPN_TYPE_5"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EVPN_TYPE_1": "EVPN type 1.",
              "EVPN_TYPE_2": "EVPN type 2.",
              "EVPN_TYPE_3": "EVPN type 3.",
              "EVPN_TYPE_4": "EVPN type 4.",
              "EVPN_TYPE_5": "EVPN type 5."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Route type."
          },
          "match-source-protocol": {
            "description": "Match source protocol.",
            "enum": [
              "CONNECTED",
              "STATIC",
              "RIP",
              "OSPF",
              "OSPFV3",
              "BGP",
              "RIPNG"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BGP": "BGP protocol.",
              "CONNECTED": "Connected protocol.",
              "OSPF": "OSPF protocol.",
              "OSPFV3": "OSPFV3 protocol.",
              "RIP": "RIP protocol.",
              "RIPNG": "RIPNG protocol.",
              "STATIC": "Static protocol."
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "Source protocol type."
          },
          "match-subinterface": {
            "description": "Use the IP (either IPv4 or IPv6) address of\nsubinterface for routemap.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subinterface:sub-interfaces/ac-if-subinterface:interface/ac-if-subinterface:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-tag": {
            "description": "Match tag.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "match-tags": {
            "description": "Tags to be matched. Please specify the configuration as space separated integers",
            "items": {
              "description": "Tags to be matched. Please specify the configuration as space separated integers",
              "format": "int64",
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "x-supportedDeviceType": [
                "Gateway"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "match-tunnel-interface": {
            "description": "Use the IP (either IPv4 or IPv6) address of\ntunnel interface for routemap.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-vlan-interface": {
            "description": "Use the IP (either IPv4 or IPv6) address of\nvlan interface for routemap.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "match-vni": {
            "description": "Match VxLAN Virtual Network ID (VNI)",
            "format": "int64",
            "maximum": 16777214,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-vrf-segment": {
            "description": "Match VRF segment.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          }
        }
      },
      "ArubaRoutemap_RouteMapMatchGet": {
        "description": "Match values from routing table",
        "properties": {
          "match-as-path-list": {
            "description": "Name of AS path list",
            "format": "pattern",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-aspathlist:aspath-lists/ac-aspathlist:as-path-list/ac-aspathlist:aspath-list-name",
            "x-patternSources": "aspath-list-name",
            "x-patterns": "'[^\\s]*'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "match-community": {
            "description": "Community attribute to be matched.",
            "oneOf": [
              {
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer"
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "match-community-type",
                "x-patterns": "'^[a-zA-Z0-9_]+$'"
              }
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "match-community-asn": {
            "description": "Match community in ASN:NN format.",
            "properties": {
              "asnn": {
                "description": "ASN value of match community",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "nn": {
                "description": "NN value of match community",
                "format": "int32",
                "maximum": 65535,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "match-community-list": {
            "description": "Community list.",
            "properties": {
              "community-list-name": {
                "description": "Match community list name.",
                "format": "const",
                "maxLength": 9999,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "community-list-name-community-type": {
                "description": "Match community list name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-commlist:community-lists/ac-commlist:community-list/ac-commlist:community-list-name-community-type",
                "x-patternSources": "community-list-name-community-type",
                "x-patterns": "'[^\\s]*'",
                "x-supportedDeviceType": [
                  "Gateway",
                  "Switch CX"
                ]
              },
              "exact-match": {
                "description": "Exact match of community.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "match-ethernet-interface": {
            "description": "Use the IP (either IPv4 or IPv6) address of\nethernet interface for routemap.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-extended-community-list": {
            "description": "Extended community list.",
            "properties": {
              "community-list-name-community-type": {
                "description": "Match extended community list name.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-commlist:community-lists/ac-commlist:community-list/ac-commlist:community-list-name-community-type",
                "x-patternSources": "community-list-name-community-type",
                "x-patterns": "'[^\\s]*'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "exact-match": {
                "description": "Exact match of extended community.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-external-route-type": {
            "description": "Match external route type.",
            "enum": [
              "TYPE_1",
              "TYPE_2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TYPE_1": "metric type 1.",
              "TYPE_2": "metric type 2."
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "Metric type of the route."
          },
          "match-interface-vlans": {
            "description": "Match interface vlans.",
            "items": {
              "description": "Match interface vlans.",
              "format": "int32",
              "maximum": 4094,
              "minimum": 1,
              "type": "integer",
              "x-supportedDeviceType": [
                "Switch PVOS",
                "Gateway"
              ],
              "x-typeDescription": "Type definition representing a single-tagged VLAN"
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "match-ipv4-nexthop": {
            "description": "Description for IPv4 nexthop.",
            "properties": {
              "ipv4-nexthop-address": {
                "description": "Next hop IPv4 address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              "ipv4-nexthop-addresses": {
                "description": "Next hop IPv4 addresses.",
                "items": {
                  "description": "Next hop IPv4 addresses.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "ipv4-nexthop-prefix-list": {
                "description": "Name of IPv4 nexthop prefix list.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-pfl:prefix-lists/ac-pfl:prefix-list/ac-pfl:prefix-list-name-address-family",
                "x-patternSources": "prefix-list-name-address-family",
                "x-patterns": "'[^\\s]*'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              }
            }
          },
          "match-ipv4-prefix-list": {
            "description": "Name of IP prefix list",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-pfl:prefix-lists/ac-pfl:prefix-list/ac-pfl:prefix-list-name-address-family",
            "x-patternSources": "prefix-list-name-address-family",
            "x-patterns": "'[^\\s]*'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "match-ipv4-route-source-prefix-list": {
            "description": "Name of route source prefix list.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-pfl:prefix-lists/ac-pfl:prefix-list/ac-pfl:prefix-list-name-address-family",
            "x-patternSources": "prefix-list-name-address-family",
            "x-patterns": "'[^\\s]*'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "match-ipv6-nexthop-address": {
            "description": "Description for IPv6 nexthop.",
            "properties": {
              "ipv6-nexthop-address": {
                "description": "IPv6 next hop address.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              },
              "ipv6-nexthop-addresses": {
                "description": "IPv6 next hop addresses.",
                "items": {
                  "description": "IPv6 next hop addresses.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                  "x-supportedDeviceType": [
                    "Switch PVOS"
                  ],
                  "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "ipv6-nexthop-prefix-list": {
                "description": "Name of IPv6 nexthop prefix list.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-path": "/ac-pfl:prefix-lists/ac-pfl:prefix-list/ac-pfl:prefix-list-name-address-family",
                "x-patternSources": "prefix-list-name-address-family",
                "x-patterns": "'[^\\s]*'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "match-ipv6-prefix-list": {
            "description": "Name of IPv6 address prefix list.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-pfl:prefix-lists/ac-pfl:prefix-list/ac-pfl:prefix-list-name-address-family",
            "x-patternSources": "prefix-list-name-address-family",
            "x-patterns": "'[^\\s]*'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "match-ipv6-route-source-prefix-list": {
            "description": "Name of IPv6 route source prefix list.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "match-local-preference": {
            "description": "Match local preference.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "match-loopback-interface": {
            "description": "Use the IP (either IPv4 or IPv6) address of\nloopback interface for routemap.",
            "format": "int32",
            "maximum": 255,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-loopback:loopback-interfaces/ac-if-loopback:interface/ac-if-loopback:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-metric": {
            "description": "Match metric.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "match-origin": {
            "description": "Origin code.",
            "enum": [
              "IGP",
              "EGP",
              "INCOMPLETE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EGP": "EGP origin.",
              "IGP": "IGP origin.",
              "INCOMPLETE": "Incomplete origin."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Origin type of the route."
          },
          "match-portchannel-interface": {
            "description": "Use the IP (either IPv4 or IPv6) address of\nportchannel interface for routemap.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-port-channel:portchannels/ac-if-port-channel:interface/ac-if-port-channel:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-route-type": {
            "description": "Match route type",
            "enum": [
              "EVPN_TYPE_1",
              "EVPN_TYPE_2",
              "EVPN_TYPE_3",
              "EVPN_TYPE_4",
              "EVPN_TYPE_5"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EVPN_TYPE_1": "EVPN type 1.",
              "EVPN_TYPE_2": "EVPN type 2.",
              "EVPN_TYPE_3": "EVPN type 3.",
              "EVPN_TYPE_4": "EVPN type 4.",
              "EVPN_TYPE_5": "EVPN type 5."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Route type."
          },
          "match-source-protocol": {
            "description": "Match source protocol.",
            "enum": [
              "CONNECTED",
              "STATIC",
              "RIP",
              "OSPF",
              "OSPFV3",
              "BGP",
              "RIPNG"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BGP": "BGP protocol.",
              "CONNECTED": "Connected protocol.",
              "OSPF": "OSPF protocol.",
              "OSPFV3": "OSPFV3 protocol.",
              "RIP": "RIP protocol.",
              "RIPNG": "RIPNG protocol.",
              "STATIC": "Static protocol."
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "Source protocol type."
          },
          "match-subinterface": {
            "description": "Use the IP (either IPv4 or IPv6) address of\nsubinterface for routemap.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subinterface:sub-interfaces/ac-if-subinterface:interface/ac-if-subinterface:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-tag": {
            "description": "Match tag.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS"
            ]
          },
          "match-tags": {
            "description": "Tags to be matched. Please specify the configuration as space separated integers",
            "items": {
              "description": "Tags to be matched. Please specify the configuration as space separated integers",
              "format": "int64",
              "maximum": 4294967295,
              "minimum": 0,
              "type": "integer",
              "x-supportedDeviceType": [
                "Gateway"
              ]
            },
            "maxItems": 2147483647,
            "type": "array"
          },
          "match-tunnel-interface": {
            "description": "Use the IP (either IPv4 or IPv6) address of\ntunnel interface for routemap.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-vlan-interface": {
            "description": "Use the IP (either IPv4 or IPv6) address of\nvlan interface for routemap.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "match-vni": {
            "description": "Match VxLAN Virtual Network ID (VNI)",
            "format": "int64",
            "maximum": 16777214,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "match-vrf-segment": {
            "description": "Match VRF segment.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          }
        }
      },
      "ArubaRoutemap_RouteMapSet": {
        "description": "Route-map Set Actions configuration. Provides comprehensive tools for manipulating routing protocol attributes and traffic policies. This container supports setting BGP Path Attributes (AS path prepending/exclusion, communities, origin, local preference, MED), OSPF metrics, tag-based traffic classification, and next-hop address overrides. Set actions enable sophisticated traffic engineering, route filtering policies, and attribute-based routing across BGP, OSPF, and other routing protocols",
        "properties": {
          "set-as-path": {
            "description": "Modify BGP AS Path attribute. Allows prepending additional Autonomous System numbers (for increasing local preference) or excluding specific AS numbers (for path filtering). AS Path manipulation is fundamental to BGP traffic engineering and helps control route propagation patterns and neighbor selection behavior",
            "properties": {
              "as-exclude": {
                "description": "Set AS to be excluded from AS-path.",
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "last-as-prepend-count": {
                "description": "Number of times to prepend the last AS to AS path attribute",
                "format": "int32",
                "maximum": 10,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prepend-as": {
                "description": "Space-separated list of Autonomous System numbers to prepend to the route's AS path. Prepending increases the AS path length, making routes less preferred during BGP best path selection. Used for traffic engineering to influence incoming traffic direction. Each AS number in the list is prepended once in the order specified. Example: 65000 65001 (prepends AS 65000, then AS 65001)",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "prepend-as",
                "x-patterns": "'((0|[1-9][0-9]{0,9}|[1-3][0-9]{9}|4[0-2][0-9]{8}|429[0-4][0-9]{7}|42949[0-67][0-9]{6}|429496[0-2][0-9]{5}|4294967[0-1][0-9]{4}|42949672[0-6][0-9]{3}|429496729[0-5])(\\s(0|[1-9][0-9]{0,9}|[1-3][0-9]{9}|4[0-2][0-9]{8}|429[0-4][0-9]{7}|42949[0-67][0-9]{6}|429496[0-2][0-9]{5}|4294967[0-1][0-9]{4}|42949672[0-6][0-9]{3}|429496729[0-5]))*)'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              }
            }
          },
          "set-community": {
            "description": "BGP Community Attribute configuration. Enables setting or modifying BGP Community values to classify routes for policy application. Supports standard communities (AS:value pairs), extended communities (for VPNs), and well-known communities (INTERNET, NO_EXPORT, NO_ADVERTISE, LOCAL_AS). Community operations include additive (append) and delete (remove specific communities)",
            "properties": {
              "community-operation": {
                "description": "Community set operation.",
                "enum": [
                  "ADDITIVE",
                  "DELETE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ADDITIVE": "Add community.",
                  "DELETE": "Delete community."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Community set type."
              },
              "community-value-all": {
                "description": "Community attribute value.",
                "items": {
                  "description": "Community attribute value.",
                  "oneOf": [
                    {
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 1,
                      "type": "integer"
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "community-type-asnn-num",
                      "x-patterns": "'((((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0)))|((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0)))'"
                    },
                    {
                      "enum": [
                        "INTERNET",
                        "NO_EXPORT",
                        "NO_ADVERTISE",
                        "LOCAL_AS",
                        "NONE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "INTERNET": "internet community",
                        "LOCAL_AS": "local-as community",
                        "NONE": "remove BGP community",
                        "NO_ADVERTISE": "no-advertise community",
                        "NO_EXPORT": "no-export community"
                      }
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "community-value-asnn": {
                "description": "Community attribute value.",
                "oneOf": [
                  {
                    "format": "int64",
                    "maximum": 4294967295,
                    "minimum": 1,
                    "type": "integer"
                  },
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "community-type-asnn-num",
                    "x-patterns": "'((((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0)))|((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0)))'"
                  }
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            }
          },
          "set-community-list": {
            "description": "BGP community list attribute to be set",
            "properties": {
              "community-list-operation": {
                "description": "Community list set operation.",
                "enum": [
                  "ADD",
                  "APPEND",
                  "DELETE",
                  "NONE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ADD": "Add community list.",
                  "APPEND": "Append community list.",
                  "DELETE": "Delete community list.",
                  "NONE": "No community list."
                },
                "x-typeDescription": "Community list operation type."
              },
              "name": {
                "description": "Community list name.",
                "format": "const",
                "maxLength": 32,
                "minLength": 1,
                "type": "string"
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "set-dampening": {
            "description": "Configurations related to Routemap for Route-flap dampening",
            "properties": {
              "enable": {
                "description": "To enable/disable Route-flap dampening",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "half-life": {
                "description": "Amount of time that must elapse to reduce\nthe penalty by one half.",
                "format": "int32",
                "maximum": 45,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "max-suppress-time": {
                "description": "The maximum amount of time that a route can be suppressed.",
                "format": "int32",
                "maximum": 255,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "reuse-limit": {
                "description": "Penalty value at which routes are made active.",
                "format": "int32",
                "maximum": 20000,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "suppress-limit": {
                "description": "If the penalty is greater than the suppress limit,\n the route is suppressed.",
                "format": "int32",
                "maximum": 20000,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "required": [
              "half-life",
              "reuse-limit",
              "suppress-limit",
              "max-suppress-time"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "set-extended-community": {
            "description": "Configurations related to setting IP extended communities.",
            "properties": {
              "route-target": {
                "description": "Set route-target extended community.",
                "items": {
                  "description": "Set route-target extended community.",
                  "oneOf": [
                    {
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 1,
                      "type": "integer"
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "community-type-asnn-num",
                      "x-patterns": "'((((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0)))|((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0)))'"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "router-mac": {
                "description": "Set the Router MAC address extended community.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "mac-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "The mac-address type represents an IEEE 802 MAC address.\nThe canonical representation uses lowercase characters.\n\nIn the value set and its semantics, this type is equivalent\nto the MacAddress textual convention of the SMIv2."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "set-ipv4-nexthop-address": {
            "description": "IPv4 next-hop address to be set for BGP routes. Overrides the default next-hop address used for routes matched by this route-map entry. Useful for policy-based route manipulation and traffic engineering to force traffic through specific next-hops or gateways. Cannot be combined with IPv6 configuration",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "set-ipv6-nexthop": {
            "description": "IPv6 global next-hop address to be set for BGP routes. Overrides the default next-hop address used for IPv6 routes matched by this route-map entry. Used for policy-based route manipulation, traffic engineering, and IPv6 path selection. Cannot be combined with IPv4 configuration",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "set-local-broadcast-group": {
            "description": "Set the local broadcast group id.",
            "format": "int32",
            "maximum": 128,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "set-local-preference": {
            "description": "BGP Local Preference attribute value to be set. Local Preference influences route selection within the local Autonomous System (all iBGP neighbors see the same value). Higher values indicate more preferred routes; routes to the same destination are compared and the route with highest local preference is selected. Default value is 100. Used for traffic engineering within your AS",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "set-metric": {
            "description": "BGP Multi-Exit Discriminator (MED) attribute value to be set (also called metric). MED is used to influence route selection between external BGP (eBGP) neighbors in a specific AS. Lower MED values are more preferred. Unlike Local Preference, MED is advertised to external peers. Used for traffic engineering to external neighbors to indicate preferred entry points",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "set-metric-type": {
            "description": "Metric type to be set.",
            "enum": [
              "TYPE_1",
              "TYPE_2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TYPE_1": "metric type 1.",
              "TYPE_2": "metric type 2."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "Metric type of the route."
          },
          "set-origin": {
            "description": "BGP Origin attribute value to be set. The Origin attribute indicates how the route was learned: IGP (Interior Gateway Protocol - learned from internal protocol like OSPF), EGP (Exterior Gateway Protocol - rare legacy usage), or Incomplete (origin unknown - common for redistributed or statically configured routes). Used in BGP best path selection as a tie-breaker",
            "enum": [
              "IGP",
              "EGP",
              "INCOMPLETE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EGP": "EGP origin.",
              "IGP": "IGP origin.",
              "INCOMPLETE": "Incomplete origin."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "Origin type of the route."
          },
          "set-tag": {
            "description": "Route Tag attribute. A 32-bit numeric tag value assigned to routes for classification, filtering, and tracking across routing domains. Tags are used in OSPF, static routing, and policy-based routing for route discrimination and policy application. Tags enable route identification without protocol-specific attributes",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "set-weight": {
            "description": "BGP Weight attribute value to be set. Routes with higher weight values are preferred during BGP best path selection (weight comparison occurs before AS path length comparison). Weight has local AS significance only and is not advertised to neighbors. Default weight is 32768",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaRoutemap_RouteMapSetGet": {
        "description": "Route-map Set Actions configuration. Provides comprehensive tools for manipulating routing protocol attributes and traffic policies. This container supports setting BGP Path Attributes (AS path prepending/exclusion, communities, origin, local preference, MED), OSPF metrics, tag-based traffic classification, and next-hop address overrides. Set actions enable sophisticated traffic engineering, route filtering policies, and attribute-based routing across BGP, OSPF, and other routing protocols",
        "properties": {
          "set-as-path": {
            "description": "Modify BGP AS Path attribute. Allows prepending additional Autonomous System numbers (for increasing local preference) or excluding specific AS numbers (for path filtering). AS Path manipulation is fundamental to BGP traffic engineering and helps control route propagation patterns and neighbor selection behavior",
            "properties": {
              "as-exclude": {
                "description": "Set AS to be excluded from AS-path.",
                "format": "int64",
                "maximum": 4294967295,
                "minimum": 0,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "last-as-prepend-count": {
                "description": "Number of times to prepend the last AS to AS path attribute",
                "format": "int32",
                "maximum": 10,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              },
              "prepend-as": {
                "description": "Space-separated list of Autonomous System numbers to prepend to the route's AS path. Prepending increases the AS path length, making routes less preferred during BGP best path selection. Used for traffic engineering to influence incoming traffic direction. Each AS number in the list is prepended once in the order specified. Example: 65000 65001 (prepends AS 65000, then AS 65001)",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "prepend-as",
                "x-patterns": "'((0|[1-9][0-9]{0,9}|[1-3][0-9]{9}|4[0-2][0-9]{8}|429[0-4][0-9]{7}|42949[0-67][0-9]{6}|429496[0-2][0-9]{5}|4294967[0-1][0-9]{4}|42949672[0-6][0-9]{3}|429496729[0-5])(\\s(0|[1-9][0-9]{0,9}|[1-3][0-9]{9}|4[0-2][0-9]{8}|429[0-4][0-9]{7}|42949[0-67][0-9]{6}|429496[0-2][0-9]{5}|4294967[0-1][0-9]{4}|42949672[0-6][0-9]{3}|429496729[0-5]))*)'",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS",
                  "Gateway"
                ]
              }
            }
          },
          "set-community": {
            "description": "BGP Community Attribute configuration. Enables setting or modifying BGP Community values to classify routes for policy application. Supports standard communities (AS:value pairs), extended communities (for VPNs), and well-known communities (INTERNET, NO_EXPORT, NO_ADVERTISE, LOCAL_AS). Community operations include additive (append) and delete (remove specific communities)",
            "properties": {
              "community-operation": {
                "description": "Community set operation.",
                "enum": [
                  "ADDITIVE",
                  "DELETE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ADDITIVE": "Add community.",
                  "DELETE": "Delete community."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Switch PVOS"
                ],
                "x-typeDescription": "Community set type."
              },
              "community-value-all": {
                "description": "Community attribute value.",
                "items": {
                  "description": "Community attribute value.",
                  "oneOf": [
                    {
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 1,
                      "type": "integer"
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "community-type-asnn-num",
                      "x-patterns": "'((((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0)))|((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0)))'"
                    },
                    {
                      "enum": [
                        "INTERNET",
                        "NO_EXPORT",
                        "NO_ADVERTISE",
                        "LOCAL_AS",
                        "NONE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "INTERNET": "internet community",
                        "LOCAL_AS": "local-as community",
                        "NONE": "remove BGP community",
                        "NO_ADVERTISE": "no-advertise community",
                        "NO_EXPORT": "no-export community"
                      }
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "community-value-asnn": {
                "description": "Community attribute value.",
                "oneOf": [
                  {
                    "format": "int64",
                    "maximum": 4294967295,
                    "minimum": 1,
                    "type": "integer"
                  },
                  {
                    "format": "pattern",
                    "maxLength": 9999,
                    "type": "string",
                    "x-patternSources": "community-type-asnn-num",
                    "x-patterns": "'((((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0)))|((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0)))'"
                  }
                ],
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            }
          },
          "set-community-list": {
            "description": "BGP community list attribute to be set",
            "properties": {
              "community-list-operation": {
                "description": "Community list set operation.",
                "enum": [
                  "ADD",
                  "APPEND",
                  "DELETE",
                  "NONE"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "ADD": "Add community list.",
                  "APPEND": "Append community list.",
                  "DELETE": "Delete community list.",
                  "NONE": "No community list."
                },
                "x-typeDescription": "Community list operation type."
              },
              "name": {
                "description": "Community list name.",
                "format": "const",
                "maxLength": 32,
                "minLength": 1,
                "type": "string"
              }
            },
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "set-dampening": {
            "description": "Configurations related to Routemap for Route-flap dampening",
            "properties": {
              "enable": {
                "description": "To enable/disable Route-flap dampening",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "half-life": {
                "description": "Amount of time that must elapse to reduce\nthe penalty by one half.",
                "format": "int32",
                "maximum": 45,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "max-suppress-time": {
                "description": "The maximum amount of time that a route can be suppressed.",
                "format": "int32",
                "maximum": 255,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "reuse-limit": {
                "description": "Penalty value at which routes are made active.",
                "format": "int32",
                "maximum": 20000,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "suppress-limit": {
                "description": "If the penalty is greater than the suppress limit,\n the route is suppressed.",
                "format": "int32",
                "maximum": 20000,
                "minimum": 1,
                "type": "integer",
                "x-mandatory": true,
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              }
            },
            "required": [
              "half-life",
              "reuse-limit",
              "suppress-limit",
              "max-suppress-time"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "set-extended-community": {
            "description": "Configurations related to setting IP extended communities.",
            "properties": {
              "route-target": {
                "description": "Set route-target extended community.",
                "items": {
                  "description": "Set route-target extended community.",
                  "oneOf": [
                    {
                      "format": "int64",
                      "maximum": 4294967295,
                      "minimum": 1,
                      "type": "integer"
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "community-type-asnn-num",
                      "x-patterns": "'((((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0)))|((6553[0-5]|655[0-2][0-9]|65[0-4][0-9]{2}|6[0-4][0-9]{3}|[1-5][0-9]{4}|[1-9][0-9]{0,3}|0):(429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0))|((429496729[0-5]|42949672[0-8][0-9]|4294967[01][0-9]{2}|429496[0-6][0-9]{3}|42949[0-5][0-9]{4}|4294[0-8][0-9]{5}|429[0-3][0-9]{6}|42[0-8][0-9]{7}|4[01][0-9]{8}|[1-3][0-9]{9}|[1-9][0-9]{0,8}|0)))'"
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "maxItems": 2147483647,
                "type": "array"
              },
              "router-mac": {
                "description": "Set the Router MAC address extended community.",
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "mac-address",
                "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "The mac-address type represents an IEEE 802 MAC address.\nThe canonical representation uses lowercase characters.\n\nIn the value set and its semantics, this type is equivalent\nto the MacAddress textual convention of the SMIv2."
              }
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "set-ipv4-nexthop-address": {
            "description": "IPv4 next-hop address to be set for BGP routes. Overrides the default next-hop address used for routes matched by this route-map entry. Useful for policy-based route manipulation and traffic engineering to force traffic through specific next-hops or gateways. Cannot be combined with IPv6 configuration",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "set-ipv6-nexthop": {
            "description": "IPv6 global next-hop address to be set for BGP routes. Overrides the default next-hop address used for IPv6 routes matched by this route-map entry. Used for policy-based route manipulation, traffic engineering, and IPv6 path selection. Cannot be combined with IPv4 configuration",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "set-local-broadcast-group": {
            "description": "Set the local broadcast group id.",
            "format": "int32",
            "maximum": 128,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "set-local-preference": {
            "description": "BGP Local Preference attribute value to be set. Local Preference influences route selection within the local Autonomous System (all iBGP neighbors see the same value). Higher values indicate more preferred routes; routes to the same destination are compared and the route with highest local preference is selected. Default value is 100. Used for traffic engineering within your AS",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "set-metric": {
            "description": "BGP Multi-Exit Discriminator (MED) attribute value to be set (also called metric). MED is used to influence route selection between external BGP (eBGP) neighbors in a specific AS. Lower MED values are more preferred. Unlike Local Preference, MED is advertised to external peers. Used for traffic engineering to external neighbors to indicate preferred entry points",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "set-metric-type": {
            "description": "Metric type to be set.",
            "enum": [
              "TYPE_1",
              "TYPE_2"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "TYPE_1": "metric type 1.",
              "TYPE_2": "metric type 2."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "Metric type of the route."
          },
          "set-origin": {
            "description": "BGP Origin attribute value to be set. The Origin attribute indicates how the route was learned: IGP (Interior Gateway Protocol - learned from internal protocol like OSPF), EGP (Exterior Gateway Protocol - rare legacy usage), or Incomplete (origin unknown - common for redistributed or statically configured routes). Used in BGP best path selection as a tie-breaker",
            "enum": [
              "IGP",
              "EGP",
              "INCOMPLETE"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "EGP": "EGP origin.",
              "IGP": "IGP origin.",
              "INCOMPLETE": "Incomplete origin."
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "Origin type of the route."
          },
          "set-tag": {
            "description": "Route Tag attribute. A 32-bit numeric tag value assigned to routes for classification, filtering, and tracking across routing domains. Tags are used in OSPF, static routing, and policy-based routing for route discrimination and policy application. Tags enable route identification without protocol-specific attributes",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "set-weight": {
            "description": "BGP Weight attribute value to be set. Routes with higher weight values are preferred during BGP best path selection (weight comparison occurs before AS path length comparison). Weight has local AS significance only and is not advertised to neighbors. Default weight is 32768",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          }
[...]
