{
  "openapi": "3.1.0",
  "info": {
    "title": "Static Route",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Static Route"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/static-route": {
      "get": {
        "description": "Static routing is a type of network routing technique. Static routing is\nnot a routing protocol; instead, it is the manual configuration and\nselection of a network route, usually managed by the network administrator.\nIt is employed in scenarios where the network routing parameters are not\nexpected to change often.",
        "operationId": "readStaticRoute",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaStaticRoute_StaticRouteSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read static-route",
        "tags": [
          "Static Route"
        ],
        "x-cliParam": {
          "commandName": "readStaticRouteCmd",
          "commandUse": "static-route",
          "parentCommand": "readCmd",
          "pathToPrint": "/static-route/",
          "summary": "Read operation for static-route"
        }
      }
    },
    "/network-config/v1alpha1/static-route/{name}": {
      "get": {
        "description": "Static route profiles.",
        "operationId": "readStaticRouteProfileByID",
        "parameters": [
          {
            "description": "Static route profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaStaticRoute_StaticRouteprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read profile by name",
        "tags": [
          "Static Route"
        ],
        "x-cliParam": {
          "commandName": "readStaticRouteProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readStaticRouteCmd",
          "pathToPrint": "/static-route/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "Static route profiles.",
        "operationId": "replaceStaticRouteProfileByID",
        "parameters": [
          {
            "description": "Static route profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaStaticRoute_StaticRouteprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Replace profile by name",
        "tags": [
          "Static Route"
        ],
        "x-cliParam": {
          "commandName": "replaceStaticRouteProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceStaticRouteCmd",
          "pathToPrint": "/static-route/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "Static route profiles.",
        "operationId": "createStaticRouteProfileByID",
        "parameters": [
          {
            "description": "Static route profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaStaticRoute_StaticRouteprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create profile by name",
        "tags": [
          "Static Route"
        ],
        "x-cliParam": {
          "commandName": "createStaticRouteProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createStaticRouteCmd",
          "pathToPrint": "/static-route/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Static route profiles.",
        "operationId": "deleteStaticRouteProfileByID",
        "parameters": [
          {
            "description": "Static route profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete profile by name",
        "tags": [
          "Static Route"
        ],
        "x-cliParam": {
          "commandName": "deleteStaticRouteProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteStaticRouteCmd",
          "pathToPrint": "/static-route/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Static route profiles.",
        "operationId": "updateStaticRouteProfileByID",
        "parameters": [
          {
            "description": "Static route profile name",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaStaticRoute_StaticRouteprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update profile by name",
        "tags": [
          "Static Route"
        ],
        "x-cliParam": {
          "commandName": "updateStaticRouteProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateStaticRouteCmd",
          "pathToPrint": "/static-route/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaStaticRoute_Interfaces": {
        "description": "Configure source interface",
        "properties": {
          "ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "source-interface-type": {
            "description": "Interface type",
            "enum": [
              "ETH_INTERFACE",
              "PORTCHANNEL",
              "SUB_INTERFACE",
              "SVI",
              "TUNNEL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ETH_INTERFACE": "Physical interface",
              "PORTCHANNEL": "Lag interface",
              "SUB_INTERFACE": "Sub interface",
              "SVI": "VLAN interface",
              "TUNNEL": "Tunnel interface"
            },
            "x-typeDescription": "Interface type"
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "tunnel-id": {
            "description": "L3 tunnel id. Static route is applicable only for l3 tunnels",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaStaticRoute_InterfacesGet": {
        "description": "Configure source interface",
        "properties": {
          "ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "source-interface-type": {
            "description": "Interface type",
            "enum": [
              "ETH_INTERFACE",
              "PORTCHANNEL",
              "SUB_INTERFACE",
              "SVI",
              "TUNNEL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ETH_INTERFACE": "Physical interface",
              "PORTCHANNEL": "Lag interface",
              "SUB_INTERFACE": "Sub interface",
              "SVI": "VLAN interface",
              "TUNNEL": "Tunnel interface"
            },
            "x-typeDescription": "Interface type"
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "tunnel-id": {
            "description": "L3 tunnel id. Static route is applicable only for l3 tunnels",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaStaticRoute_Ipv4NexthopInterfaces": {
        "description": "Configure nexthop interface",
        "properties": {
          "ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nexthop-interface-type": {
            "description": "Interface type",
            "enum": [
              "ETH_INTERFACE",
              "PORTCHANNEL",
              "SUB_INTERFACE",
              "SVI",
              "TUNNEL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ETH_INTERFACE": "Physical interface",
              "PORTCHANNEL": "Lag interface",
              "SUB_INTERFACE": "Sub interface",
              "SVI": "VLAN interface",
              "TUNNEL": "Tunnel interface"
            },
            "x-typeDescription": "Interface type"
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "tunnel-id": {
            "description": "L3 tunnel id. Static route is applicable only for l3 tunnels",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaStaticRoute_Ipv4NexthopInterfacesGet": {
        "description": "Configure nexthop interface",
        "properties": {
          "ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nexthop-interface-type": {
            "description": "Interface type",
            "enum": [
              "ETH_INTERFACE",
              "PORTCHANNEL",
              "SUB_INTERFACE",
              "SVI",
              "TUNNEL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ETH_INTERFACE": "Physical interface",
              "PORTCHANNEL": "Lag interface",
              "SUB_INTERFACE": "Sub interface",
              "SVI": "VLAN interface",
              "TUNNEL": "Tunnel interface"
            },
            "x-typeDescription": "Interface type"
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "tunnel-id": {
            "description": "L3 tunnel id. Static route is applicable only for l3 tunnels",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaStaticRoute_Ipv4RouteCfg": {
        "description": "Configure IPV4 route",
        "properties": {
          "bfd": {
            "default": "false",
            "description": "BFD enable",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "cluster": {
            "description": "Configure Static route with nexthop as VPNC-Cluster",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "distance": {
            "default": "1",
            "description": "Administrative distance for the static route",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway",
              "Switch CX"
            ]
          },
          "enable-logging": {
            "default": "false",
            "description": "Enable if the packets received on the route need to be logged",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "forwarding-type": {
            "description": "Forwarding type",
            "enum": [
              "NEXTHOP",
              "INTERFACE",
              "NULLROUTE",
              "REJECT",
              "VLAN",
              "TUNNEL",
              "IPSECMAP",
              "CLUSTER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CLUSTER": "Aruba VPN cluster as the destination",
              "INTERFACE": "Outgoing interface",
              "IPSECMAP": "Aruba VPN IPSEC map name as the destination",
              "NEXTHOP": "Nexthop IP address",
              "NULLROUTE": "Discard packets to the destined route silently",
              "REJECT": "Discard packets to the destined route and return ICMP error to the sender",
              "TUNNEL": "Aruba VPN tunnel as the destination",
              "VLAN": "Outgoing VLAN"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Static route forwarding type"
          },
          "interface": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaStaticRoute_Ipv4NexthopInterfaces"
              }
            ],
            "description": "Outgoing interface name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ipsec-map": {
            "description": "Configure Static route with IPSec Map name as nexthop",
            "format": "const",
            "maxLength": 199,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "metric": {
            "default": "1",
            "description": "Configure Static route metric.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Access Point",
              "Gateway"
            ]
          },
          "name": {
            "description": "Static route name",
            "format": "const",
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "next-hop": {
            "description": "Nexthop IP address",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-nexthop-address-prefix",
            "x-patterns": "'((([1-9]|[1-9][0-9]|1[0-1][0-9]|12[0-6]|12[8-9]|1[3-9][0-9]|2[0-1][0-9]|22[0-3]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])))'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "Valid IPv4 address type for interface"
          },
          "next-hop-alias": {
            "description": "Hop Address in format X.X.X.X alias.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'"
          },
          "next-hop-ip": {
            "description": "Nexthop IP address",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "nullroute": {
            "default": "false",
            "description": "Blackhole route",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ]
          },
          "prefix-vrf-nexthop-id": {
            "description": "Key combination of prefix and vrf separated by ~",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "reject": {
            "default": "false",
            "description": "Reject route",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "tag": {
            "description": "Route tag.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "use-forwarding-address": {
            "default": "false",
            "description": "Nexthop address as forwarding address",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vlan-id": {
            "description": "Destination VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "vpn-tunnel": {
            "description": "VPN Tunnel",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaStaticRoute_Ipv4RouteCfgGet": {
        "description": "Configure IPV4 route",
        "properties": {
          "bfd": {
            "default": "false",
            "description": "BFD enable",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "cluster": {
            "description": "Configure Static route with nexthop as VPNC-Cluster",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "distance": {
            "default": "1",
            "description": "Administrative distance for the static route",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway",
              "Switch CX"
            ]
          },
          "enable-logging": {
            "default": "false",
            "description": "Enable if the packets received on the route need to be logged",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "forwarding-type": {
            "description": "Forwarding type",
            "enum": [
              "NEXTHOP",
              "INTERFACE",
              "NULLROUTE",
              "REJECT",
              "VLAN",
              "TUNNEL",
              "IPSECMAP",
              "CLUSTER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CLUSTER": "Aruba VPN cluster as the destination",
              "INTERFACE": "Outgoing interface",
              "IPSECMAP": "Aruba VPN IPSEC map name as the destination",
              "NEXTHOP": "Nexthop IP address",
              "NULLROUTE": "Discard packets to the destined route silently",
              "REJECT": "Discard packets to the destined route and return ICMP error to the sender",
              "TUNNEL": "Aruba VPN tunnel as the destination",
              "VLAN": "Outgoing VLAN"
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Static route forwarding type"
          },
          "interface": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaStaticRoute_Ipv4NexthopInterfacesGet"
              }
            ],
            "description": "Outgoing interface name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ipsec-map": {
            "description": "Configure Static route with IPSec Map name as nexthop",
            "format": "const",
            "maxLength": 199,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "metric": {
            "default": "1",
            "description": "Configure Static route metric.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Access Point",
              "Gateway"
            ]
          },
          "name": {
            "description": "Static route name",
            "format": "const",
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "next-hop": {
            "description": "Nexthop IP address",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-nexthop-address-prefix",
            "x-patterns": "'((([1-9]|[1-9][0-9]|1[0-1][0-9]|12[0-6]|12[8-9]|1[3-9][0-9]|2[0-1][0-9]|22[0-3]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]).([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])))'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "Valid IPv4 address type for interface"
          },
          "next-hop-alias": {
            "description": "Hop Address in format X.X.X.X alias.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'"
          },
          "next-hop-ip": {
            "description": "Nexthop IP address",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "nullroute": {
            "default": "false",
            "description": "Blackhole route",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ]
          },
          "prefix-vrf-nexthop-id": {
            "description": "Key combination of prefix and vrf separated by ~",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "reject": {
            "default": "false",
            "description": "Reject route",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "tag": {
            "description": "Route tag.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "use-forwarding-address": {
            "default": "false",
            "description": "Nexthop address as forwarding address",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vlan-id": {
            "description": "Destination VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "vpn-tunnel": {
            "description": "VPN Tunnel",
            "format": "const",
            "maxLength": 32,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaStaticRoute_Ipv6NexthopInterfaces": {
        "description": "Configure nexthop interface",
        "properties": {
          "ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nexthop-interface-type": {
            "description": "Interface type",
            "enum": [
              "ETH_INTERFACE",
              "PORTCHANNEL",
              "SUB_INTERFACE",
              "SVI",
              "TUNNEL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ETH_INTERFACE": "Physical interface",
              "PORTCHANNEL": "Lag interface",
              "SUB_INTERFACE": "Sub interface",
              "SVI": "VLAN interface",
              "TUNNEL": "Tunnel interface"
            },
            "x-typeDescription": "Interface type"
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "tunnel-id": {
            "description": "L3 tunnel id. Static route is applicable only for l3 tunnels",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaStaticRoute_Ipv6NexthopInterfacesGet": {
        "description": "Configure nexthop interface",
        "properties": {
          "ethernet": {
            "description": "L3 interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-eth:ethernet-interfaces/ac-if-eth:interface/ac-if-eth:name",
            "x-patternSources": "name",
            "x-patterns": "'((enet|usb)\\d+)|(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "lag": {
            "description": "Lag interface name.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-lag:portchannels/ac-if-lag:interface/ac-if-lag:name",
            "x-patternSources": "name",
            "x-patterns": "'(\\d+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "nexthop-interface-type": {
            "description": "Interface type",
            "enum": [
              "ETH_INTERFACE",
              "PORTCHANNEL",
              "SUB_INTERFACE",
              "SVI",
              "TUNNEL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ETH_INTERFACE": "Physical interface",
              "PORTCHANNEL": "Lag interface",
              "SUB_INTERFACE": "Sub interface",
              "SVI": "VLAN interface",
              "TUNNEL": "Tunnel interface"
            },
            "x-typeDescription": "Interface type"
          },
          "sub-interface": {
            "description": "L3 subinterface name.",
            "format": "const",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-if-subi:sub-interfaces/ac-if-subi:interface/ac-if-subi:parent-name-id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "svi": {
            "description": "L3 SVI id.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-path": "/ac-if-vlan:vlan-interfaces/ac-if-vlan:interface/ac-if-vlan:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "tunnel-id": {
            "description": "L3 tunnel id. Static route is applicable only for l3 tunnels",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-path": "/ac-if-tunnel:tunnel/ac-if-tunnel:interface/ac-if-tunnel:id",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaStaticRoute_Ipv6RouteCfg": {
        "description": "Configure IPV6 route",
        "properties": {
          "distance": {
            "default": "1",
            "description": "Administrative distance for the static route.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "enable-logging": {
            "default": "false",
            "description": "Enable if the packets received on the route need to be logged",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "forwarding-type": {
            "description": "Forwarding type",
            "enum": [
              "NEXTHOP",
              "INTERFACE",
              "NULLROUTE",
              "REJECT",
              "VLAN",
              "TUNNEL",
              "IPSECMAP",
              "CLUSTER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CLUSTER": "Aruba VPN cluster as the destination",
              "INTERFACE": "Outgoing interface",
              "IPSECMAP": "Aruba VPN IPSEC map name as the destination",
              "NEXTHOP": "Nexthop IP address",
              "NULLROUTE": "Discard packets to the destined route silently",
              "REJECT": "Discard packets to the destined route and return ICMP error to the sender",
              "TUNNEL": "Aruba VPN tunnel as the destination",
              "VLAN": "Outgoing VLAN"
            },
            "x-typeDescription": "Static route forwarding type"
          },
          "interface": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaStaticRoute_Ipv6NexthopInterfaces"
              }
            ],
            "description": "Outgoing interface name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ipsec-map": {
            "description": "IPSec Map name",
            "format": "const",
            "maxLength": 199,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "metric": {
            "default": "1",
            "description": "Static route metric.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "metric-linklocal": {
            "default": "1",
            "description": "Static route metric for IPv6 Linklocal Nexthop address",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "name": {
            "description": "Static route name",
            "format": "const",
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "next-hop": {
            "description": "Nexthop IP address",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "next-hop-alias": {
            "description": "Hop Address in format X:X::X:X alias.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'"
          },
          "nexthop-id": {
            "description": "Nexthop id to add ECMP static route",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "nexthop-linklocal": {
            "description": "IPv6 link local nexthop",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "nullroute": {
            "default": "false",
            "description": "Blackhole route",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ]
          },
          "prefix": {
            "description": "IPv6 route destination",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-prefix",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
          },
          "prefix-vrf-nexthop-id": {
            "description": "Key combination of prefix and vrf separated by ~",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "reject": {
            "default": "false",
            "description": "Reject route",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "source-interface": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaStaticRoute_Interfaces"
              }
            ],
            "description": "Source interface name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "tag": {
            "description": "Route tag.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "tunnel-id": {
            "description": "Tunnel id for the static route",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "vlan-id": {
            "description": "Destination VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "vrf": {
            "description": "VRF instance.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          }
        }
      },
      "ArubaStaticRoute_Ipv6RouteCfgGet": {
        "description": "Configure IPV6 route",
        "properties": {
          "distance": {
            "default": "1",
            "description": "Administrative distance for the static route.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "enable-logging": {
            "default": "false",
            "description": "Enable if the packets received on the route need to be logged",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "forwarding-type": {
            "description": "Forwarding type",
            "enum": [
              "NEXTHOP",
              "INTERFACE",
              "NULLROUTE",
              "REJECT",
              "VLAN",
              "TUNNEL",
              "IPSECMAP",
              "CLUSTER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "CLUSTER": "Aruba VPN cluster as the destination",
              "INTERFACE": "Outgoing interface",
              "IPSECMAP": "Aruba VPN IPSEC map name as the destination",
              "NEXTHOP": "Nexthop IP address",
              "NULLROUTE": "Discard packets to the destined route silently",
              "REJECT": "Discard packets to the destined route and return ICMP error to the sender",
              "TUNNEL": "Aruba VPN tunnel as the destination",
              "VLAN": "Outgoing VLAN"
            },
            "x-typeDescription": "Static route forwarding type"
          },
          "interface": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaStaticRoute_Ipv6NexthopInterfacesGet"
              }
            ],
            "description": "Outgoing interface name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ipsec-map": {
            "description": "IPSec Map name",
            "format": "const",
            "maxLength": 199,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "metric": {
            "default": "1",
            "description": "Static route metric.",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "metric-linklocal": {
            "default": "1",
            "description": "Static route metric for IPv6 Linklocal Nexthop address",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "name": {
            "description": "Static route name",
            "format": "const",
            "maxLength": 16,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "next-hop": {
            "description": "Nexthop IP address",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "next-hop-alias": {
            "description": "Hop Address in format X:X::X:X alias.",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z0-9-_ ]+'"
          },
          "nexthop-id": {
            "description": "Nexthop id to add ECMP static route",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "nexthop-linklocal": {
            "description": "IPv6 link local nexthop",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-address",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
          },
          "nullroute": {
            "default": "false",
            "description": "Blackhole route",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ]
          },
          "prefix": {
            "description": "IPv6 route destination",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv6-prefix",
            "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
          },
          "prefix-vrf-nexthop-id": {
            "description": "Key combination of prefix and vrf separated by ~",
            "format": "const",
            "maxLength": 9999,
            "type": "string"
          },
          "reject": {
            "default": "false",
            "description": "Reject route",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "source-interface": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaStaticRoute_InterfacesGet"
              }
            ],
            "description": "Source interface name",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "tag": {
            "description": "Route tag.",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX"
            ]
          },
          "tunnel-id": {
            "description": "Tunnel id for the static route",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          },
          "vlan-id": {
            "description": "Destination VLAN.",
            "format": "int32",
            "maximum": 4094,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ],
            "x-typeDescription": "Type definition representing a single-tagged VLAN"
          },
          "vrf": {
            "description": "VRF instance.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          }
        }
      },
      "ArubaStaticRoute_StaticRouteSchemaGET": {
        "description": "Static routing is a type of network routing technique. Static routing is\nnot a routing protocol; instead, it is the manual configuration and\nselection of a network route, usually managed by the network administrator.\nIt is employed in scenarios where the network routing parameters are not\nexpected to change often.",
        "properties": {
          "profile": {
            "description": "Static route profiles.",
            "items": {
              "properties": {
                "default-gateway": {
                  "description": "Default gateway",
                  "items": {
                    "properties": {
                      "dg-name": {
                        "description": "Default gateway identity string",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      },
                      "dhcp": {
                        "default": "false",
                        "description": "Import DHCP server specified gateway",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      },
                      "forwarding-type": {
                        "description": "Forwarding type",
                        "enum": [
                          "NEXTHOP",
                          "DHCP",
                          "PPPOE"
                        ],
                        "format": "enum",
                        "type": "string",
                        "x-enumDescriptions": {
                          "DHCP": "DHCP gateway IP address",
                          "NEXTHOP": "Nexthop IP address",
                          "PPPOE": "PPPoE gateway IP address"
                        },
                        "x-supportedDeviceType": [
                          "Switch PVOS",
                          "Gateway",
                          "Access Point"
                        ],
                        "x-typeDescription": "Default gateway forwarding type"
                      },
                      "ipv4-address": {
                        "description": "Configure the IPv4 Default Gateway Address.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv4-address",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-supportedDeviceType": [
                          "Switch PVOS",
                          "Gateway"
                        ],
                        "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                      },
                      "ipv4-address-alias": {
                        "description": "IPv4 Address in format X.X.X.X alias.",
                        "format": "pattern",
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string",
                        "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                        "x-patternSources": "name",
                        "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                      },
                      "metric": {
                        "default": "1",
                        "description": "Default gateway metric.",
                        "format": "int32",
                        "maximum": 255,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      },
                      "pppoe": {
                        "default": "false",
                        "description": "Import PPPoE server specified gateway",
                        "type": "boolean",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "dgName"
                  ],
                  "x-supportedDeviceType": [
                    "Access Point",
                    "Gateway"
                  ]
                },
                "description": {
                  "description": "Static route user description.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string"
                },
                "ipv4": {
                  "description": "Configure IPV4 route",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ArubaStaticRoute_Ipv4RouteCfgGet"
                      }
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "prefixVrfNexthopId"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS",
                    "Gateway",
                    "Access Point"
                  ]
                },
                "ipv6": {
                  "description": "Configure IPV6 route",
                  "items": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ArubaStaticRoute_Ipv6RouteCfgGet"
                      }
                    ]
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "prefixVrfNexthopId"
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Switch PVOS",
                    "Gateway"
                  ]
                },
                "ipv6-default-gateway": {
                  "description": "Configure an IPv6 Default gateway",
                  "items": {
                    "properties": {
                      "ipv6-address": {
                        "description": "Configure the IPv6 default gateway address",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv6-address",
                        "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ],
                        "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                      },
                      "ipv6-address-alias": {
                        "description": "IPv6 Address in format X:X::X:X alias.",
                        "format": "pattern",
                        "maxLength": 256,
                        "minLength": 1,
                        "type": "string",
                        "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                        "x-patternSources": "name",
                        "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                      },
                      "ipv6-dg-name": {
                        "description": "IPv6 Default gateway identity string",
                        "format": "const",
                        "maxLength": 64,
                        "minLength": 1,
                        "type": "string",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      },
                      "metric": {
                        "default": "1",
                        "description": "Configure the IPv6 default gateway metric.",
                        "format": "int32",
                        "maximum": 255,
                        "minimum": 1,
                        "type": "integer",
                        "x-supportedDeviceType": [
                          "Gateway"
                        ]
                      }
                    }
                  },
                  "maxItems": 2147483647,
                  "type": "array",
                  "x-key": [
                    "ipv6DgName"
                  ],
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "name": {
                  "description": "Static route profile name",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Access Point"
                  ]
                },
                "route-gc-interval": {
                  "default": "30",
                  "description": "Configure Kernel route garbage collection interval.",
                  "format": "int32",
                  "maximum": 600,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaStaticRoute_StaticRouteprofileSchema": {
        "properties": {
          "default-gateway": {
            "description": "Default gateway",
            "items": {
              "properties": {
                "dg-name": {
                  "description": "Default gateway identity string",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "dhcp": {
                  "default": "false",
                  "description": "Import DHCP server specified gateway",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "forwarding-type": {
                  "description": "Forwarding type",
                  "enum": [
                    "NEXTHOP",
                    "DHCP",
                    "PPPOE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "DHCP": "DHCP gateway IP address",
                    "NEXTHOP": "Nexthop IP address",
                    "PPPOE": "PPPoE gateway IP address"
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Access Point"
                  ],
                  "x-typeDescription": "Default gateway forwarding type"
                },
                "ipv4-address": {
                  "description": "Configure the IPv4 Default Gateway Address.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "ipv4-address-alias": {
                  "description": "IPv4 Address in format X.X.X.X alias.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "metric": {
                  "default": "1",
                  "description": "Default gateway metric.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "pppoe": {
                  "default": "false",
                  "description": "Import PPPoE server specified gateway",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "dgName"
            ],
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "description": {
            "description": "Static route user description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "ipv4": {
            "description": "Configure IPV4 route",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaStaticRoute_Ipv4RouteCfg"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "prefixVrfNexthopId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway",
              "Access Point"
            ]
          },
          "ipv6": {
            "description": "Configure IPV6 route",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaStaticRoute_Ipv6RouteCfg"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "prefixVrfNexthopId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "ipv6-default-gateway": {
            "description": "Configure an IPv6 Default gateway",
            "items": {
              "properties": {
                "ipv6-address": {
                  "description": "Configure the IPv6 default gateway address",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                },
                "ipv6-address-alias": {
                  "description": "IPv6 Address in format X:X::X:X alias.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "ipv6-dg-name": {
                  "description": "IPv6 Default gateway identity string",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "metric": {
                  "default": "1",
                  "description": "Configure the IPv6 default gateway metric.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ipv6DgName"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "name": {
            "description": "Static route profile name",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "route-gc-interval": {
            "default": "30",
            "description": "Configure Kernel route garbage collection interval.",
            "format": "int32",
            "maximum": 600,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaStaticRoute_StaticRouteprofileSchemaGet": {
        "properties": {
          "default-gateway": {
            "description": "Default gateway",
            "items": {
              "properties": {
                "dg-name": {
                  "description": "Default gateway identity string",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "dhcp": {
                  "default": "false",
                  "description": "Import DHCP server specified gateway",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "forwarding-type": {
                  "description": "Forwarding type",
                  "enum": [
                    "NEXTHOP",
                    "DHCP",
                    "PPPOE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "DHCP": "DHCP gateway IP address",
                    "NEXTHOP": "Nexthop IP address",
                    "PPPOE": "PPPoE gateway IP address"
                  },
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway",
                    "Access Point"
                  ],
                  "x-typeDescription": "Default gateway forwarding type"
                },
                "ipv4-address": {
                  "description": "Configure the IPv4 Default Gateway Address.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv4-address",
                  "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                  "x-supportedDeviceType": [
                    "Switch PVOS",
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                },
                "ipv4-address-alias": {
                  "description": "IPv4 Address in format X.X.X.X alias.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "metric": {
                  "default": "1",
                  "description": "Default gateway metric.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "pppoe": {
                  "default": "false",
                  "description": "Import PPPoE server specified gateway",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "dgName"
            ],
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ]
          },
          "description": {
            "description": "Static route user description.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string"
          },
          "ipv4": {
            "description": "Configure IPV4 route",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaStaticRoute_Ipv4RouteCfgGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "prefixVrfNexthopId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway",
              "Access Point"
            ]
          },
          "ipv6": {
            "description": "Configure IPV6 route",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaStaticRoute_Ipv6RouteCfgGet"
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "prefixVrfNexthopId"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          },
          "ipv6-default-gateway": {
            "description": "Configure an IPv6 Default gateway",
            "items": {
              "properties": {
                "ipv6-address": {
                  "description": "Configure the IPv6 default gateway address",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-patternSources": "ipv6-address",
                  "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ],
                  "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                },
                "ipv6-address-alias": {
                  "description": "IPv6 Address in format X:X::X:X alias.",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-path": "/ac-alias:aliases/ac-alias:alias/ac-alias:name",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z0-9-_ ]+'"
                },
                "ipv6-dg-name": {
                  "description": "IPv6 Default gateway identity string",
                  "format": "const",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "metric": {
                  "default": "1",
                  "description": "Configure the IPv6 default gateway metric.",
                  "format": "int32",
                  "maximum": 255,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ipv6DgName"
            ],
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "name": {
            "description": "Static route profile name",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Access Point"
            ]
          },
          "route-gc-interval": {
            "default": "30",
            "description": "Configure Kernel route garbage collection interval.",
            "format": "int32",
            "maximum": 600,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
[...]
