{
  "openapi": "3.1.0",
  "info": {
    "title": "Ipfix Flow Exporter",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Ipfix Flow Exporter"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/ipfix-flow-exporter": {
      "get": {
        "description": "IP Flow Information Export (IPFIX) flow exporter configurations. IPFIX is an embedded network flow analysis tool\nthat compiles characteristic and measured properties of flows and sends flow reports to internal or external\nflow collectors.",
        "operationId": "readIpfixFlowExporter",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaIpfixFlowExporter_IpfixFlowExporterSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read ipfix-flow-exporter",
        "tags": [
          "Ipfix Flow Exporter"
        ],
        "x-cliParam": {
          "commandName": "readIpfixFlowExporterCmd",
          "commandUse": "ipfix-flow-exporter",
          "parentCommand": "readCmd",
          "pathToPrint": "/ipfix-flow-exporter/",
          "summary": "Read operation for ipfix-flow-exporter"
        }
      }
    },
    "/network-config/v1alpha1/ipfix-flow-exporter/{name}": {
      "get": {
        "description": "Flow exporter list for IPFIX flow exporter Configuration.",
        "operationId": "readIpfixFlowExporterExportersByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a flow exporter.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaIpfixFlowExporter_IpfixFlowExporterexportersSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing IPFIX Flow Exporter",
        "tags": [
          "Ipfix Flow Exporter"
        ],
        "x-cliParam": {
          "commandName": "readIpfixFlowExporterExportersCmd",
          "commandUse": "exporters",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readIpfixFlowExporterCmd",
          "pathToPrint": "/ipfix-flow-exporter/exporters/%s/",
          "summary": "Read operation for exporters",
          "totParams": 1
        }
      },
      "put": {
        "description": "Flow exporter list for IPFIX flow exporter Configuration.",
        "operationId": "replaceIpfixFlowExporterExportersByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a flow exporter.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaIpfixFlowExporter_IpfixFlowExporterexportersSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or modify IPFIX Flow Exporter",
        "tags": [
          "Ipfix Flow Exporter"
        ],
        "x-cliParam": {
          "commandName": "replaceIpfixFlowExporterExportersCmd",
          "commandUse": "exporters",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceIpfixFlowExporterCmd",
          "pathToPrint": "/ipfix-flow-exporter/exporters/%s/",
          "summary": "Replace operation for exporters",
          "totParams": 1
        }
      },
      "post": {
        "description": "Flow exporter list for IPFIX flow exporter Configuration.",
        "operationId": "createIpfixFlowExporterExportersByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a flow exporter.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaIpfixFlowExporter_IpfixFlowExporterexportersSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new IPFIX Flow Exporter",
        "tags": [
          "Ipfix Flow Exporter"
        ],
        "x-cliParam": {
          "commandName": "createIpfixFlowExporterExportersCmd",
          "commandUse": "exporters",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createIpfixFlowExporterCmd",
          "pathToPrint": "/ipfix-flow-exporter/exporters/%s/",
          "summary": "Create operation for exporters",
          "totParams": 1
        }
      },
      "delete": {
        "description": "Flow exporter list for IPFIX flow exporter Configuration.",
        "operationId": "deleteIpfixFlowExporterExportersByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a flow exporter.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete existing IPFIX Flow Exporter",
        "tags": [
          "Ipfix Flow Exporter"
        ],
        "x-cliParam": {
          "commandName": "deleteIpfixFlowExporterExportersCmd",
          "commandUse": "exporters",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteIpfixFlowExporterCmd",
          "pathToPrint": "/ipfix-flow-exporter/exporters/%s/",
          "summary": "Delete operation for exporters",
          "totParams": 1
        }
      },
      "patch": {
        "description": "Flow exporter list for IPFIX flow exporter Configuration.",
        "operationId": "updateIpfixFlowExporterExportersByID",
        "parameters": [
          {
            "description": "Configuration to set the name of a flow exporter.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaIpfixFlowExporter_IpfixFlowExporterexportersSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Modify IPFIX Flow Exporter",
        "tags": [
          "Ipfix Flow Exporter"
        ],
        "x-cliParam": {
          "commandName": "updateIpfixFlowExporterExportersCmd",
          "commandUse": "exporters",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateIpfixFlowExporterCmd",
          "pathToPrint": "/ipfix-flow-exporter/exporters/%s/",
          "summary": "Update operation for exporters",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaIpfixFlowExporter_IpfixFlowExporterSchemaGET": {
        "description": "IP Flow Information Export (IPFIX) flow exporter configurations. IPFIX is an embedded network flow analysis tool\nthat compiles characteristic and measured properties of flows and sends flow reports to internal or external\nflow collectors.",
        "properties": {
          "exporters": {
            "description": "Flow exporter list for IPFIX flow exporter Configuration.",
            "items": {
              "properties": {
                "collector-dest": {
                  "description": "Configure the destination type of the collector that will receive flow reports/template-packets for this flow exporter.",
                  "enum": [
                    "COLLECTOR_HOSTNAME_OR_IP_ADDR",
                    "COLLECTOR_LOCAL"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "COLLECTOR_HOSTNAME_OR_IP_ADDR": "Specify collector hostname or ip as collector type, which maps to hostname-or-ip-addr destination type.",
                    "COLLECTOR_LOCAL": "Specify collector local as collector type, which maps to traffic-insight destination type."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Used to specify the type of destination/collector that is receiving IPFIX flow reports."
                },
                "description": {
                  "description": "Configuration to set the description for the flow exporter.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "enable": {
                  "default": "true",
                  "description": "GW: Enable or disable IP Flow Collector.\nDefault: Disabled",
                  "type": "boolean",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "export-protocol": {
                  "default": "IPFIX",
                  "description": "Configure the export protocol this flow exporter will use when sending IPFIX flow reports to the collector.",
                  "enum": [
                    "IPFIX"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "IPFIX": "Specify IPFIX as the export protocol."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Export protocol to use for flow report packets."
                },
                "flow-cache-size": {
                  "default": "15000",
                  "description": "GW: Determines the maximum number of entries a managed device can cache before the log is exported to the IP Flow Collector.",
                  "format": "int32",
                  "maximum": 25000,
                  "minimum": 5000,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "hostname": {
                  "description": "Configure the flow exporter's destination to be the hostname of the intended ipfix collector. 'ip' field must be set to null",
                  "format": "pattern",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "hostname",
                  "x-patterns": "'((([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9])[.])*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9-]*[A-Za-z0-9]))'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "ip": {
                  "description": "Configure the flow exporter's destination to be the IP of the intended IPFIX collector. 'hostname' field must be set to null",
                  "oneOf": [
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    {
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Gateway"
                  ]
                },
                "local-collector": {
                  "description": "Configure the flow exporter's destination to be the name of a Traffic Insight instance.",
                  "format": "const",
                  "maxLength": 256,
                  "minLength": 1,
                  "type": "string",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "name": {
                  "description": "Configuration to set the name of a flow exporter.",
                  "format": "pattern",
                  "maxLength": 64,
                  "minLength": 1,
                  "type": "string",
                  "x-patternSources": "name",
                  "x-patterns": "'[a-zA-Z][a-zA-Z0-9._-]*'",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Gateway"
                  ]
                },
                "observation-domain": {
                  "default": "0",
                  "description": "GW: Observation Domain. Allows the IP Flow Collector to group managed devices when receiving data sessions.\nDefault: Switch IP as 32 bit number",
                  "format": "int64",
                  "maximum": 4294967295,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "port": {
                  "default": "4739",
                  "description": "AOS-CX: Configure the transport port this flow exporter will use when sending IPFIX flow reports/template-packets to the collector.\nGW: Assigns the port used by the ip-flow-export-profile to export caches to the IP Flow Collector.",
                  "format": "int32",
                  "maximum": 65535,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Gateway"
                  ],
                  "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                },
                "transport-protocol": {
                  "default": "IP_UDP",
                  "description": "AOS-CX: Configure the transport protocol this flow exporter will use when sending IPFIX flow reports/template-packets to the collector.\nGW: Determines the transport Protocol this ip-flow-export-profile will use when a cache is exported.",
                  "oneOf": [
                    {
                      "format": "int32",
                      "maximum": 255,
                      "minimum": 0,
                      "type": "integer"
                    },
                    {
                      "enum": [
                        "IP_TCP",
                        "IP_UDP",
                        "IP_ICMP",
                        "IPV6_ICMP",
                        "IP_IGMP",
                        "IP_PIM",
                        "IP_RSVP",
                        "IP_GRE",
                        "IP_AUTH",
                        "IP_L2TP",
                        "IP_IN_IP",
                        "IP_ESP",
                        "PROTOCOL_ANY"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "IPV6_ICMP": "Internet Control Message Protocol (58)",
                        "IP_AUTH": "Authentication header, e.g., for IPSEC (51)",
                        "IP_ESP": "ESP Protocol",
                        "IP_GRE": "Generic Routing Encapsulation (47)",
                        "IP_ICMP": "Internet Control Message Protocol (1)",
                        "IP_IGMP": "Internet Group Membership Protocol (2)",
                        "IP_IN_IP": "IP-in-IP tunneling (4)",
                        "IP_L2TP": "Layer Two Tunneling Protocol v.3 (115)",
                        "IP_PIM": "Protocol Independent Multicast (103)",
                        "IP_RSVP": "Resource Reservation Protocol (46)",
                        "IP_TCP": "Transmission Control Protocol (6)",
                        "IP_UDP": "User Datagram Protocol (17)",
                        "PROTOCOL_ANY": "Any Protocol"
                      },
                      "x-typeDescription": "IP Protocol types."
                    }
                  ],
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Gateway"
                  ]
                },
                "upload-all-interval": {
                  "default": "15",
                  "description": "GW: Determines the maximum time interval (in minutes) allowed before a managed device must export its cache to the IP Flow Collector.",
                  "format": "int32",
                  "maximum": 30,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "upload-snapshot-interval": {
                  "default": "0",
                  "description": "GW: Determines the maximum time interval (in minutes) to upload current cache snapshot.",
                  "format": "int32",
                  "maximum": 30,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Gateway"
                  ]
                },
                "upload-template-interval": {
                  "default": "0",
                  "description": "AOS-CX: Configure the interval (in seconds) this flow exporter will use when sending IPFIX flow template-packets to the collector. In AOS-CX this corresponds to the template data timeout CLI for the flow exporter.\nRange: 1-86400\nGW: Determines the maximum time interval (in seconds) to upload IPFIX templates.\nRange: 0-86400\nDefault: 0 (always)",
                  "format": "int64",
                  "maximum": 86400,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX",
                    "Gateway"
                  ]
                },
                "vrf": {
                  "description": "Configure the VRF this flow exporter will use when sending IPFIX flow reports/template-packets to the collector.",
                  "format": "pattern",
                  "maxLength": 9999,
                  "type": "string",
                  "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
                  "x-patternSources": "name-type",
                  "x-patterns": "'([^\\\\/ ]+)'",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaIpfixFlowExporter_IpfixFlowExporterexportersSchema": {
        "properties": {
          "collector-dest": {
            "description": "Configure the destination type of the collector that will receive flow reports/template-packets for this flow exporter.",
            "enum": [
              "COLLECTOR_HOSTNAME_OR_IP_ADDR",
              "COLLECTOR_LOCAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "COLLECTOR_HOSTNAME_OR_IP_ADDR": "Specify collector hostname or ip as collector type, which maps to hostname-or-ip-addr destination type.",
              "COLLECTOR_LOCAL": "Specify collector local as collector type, which maps to traffic-insight destination type."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Used to specify the type of destination/collector that is receiving IPFIX flow reports."
          },
          "description": {
            "description": "Configuration to set the description for the flow exporter.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable": {
            "default": "true",
            "description": "GW: Enable or disable IP Flow Collector.\nDefault: Disabled",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "export-protocol": {
            "default": "IPFIX",
            "description": "Configure the export protocol this flow exporter will use when sending IPFIX flow reports to the collector.",
            "enum": [
              "IPFIX"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IPFIX": "Specify IPFIX as the export protocol."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Export protocol to use for flow report packets."
          },
          "flow-cache-size": {
            "default": "15000",
            "description": "GW: Determines the maximum number of entries a managed device can cache before the log is exported to the IP Flow Collector.",
            "format": "int32",
            "maximum": 25000,
            "minimum": 5000,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "hostname": {
            "description": "Configure the flow exporter's destination to be the hostname of the intended ipfix collector. 'ip' field must be set to null",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "hostname",
            "x-patterns": "'((([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9])[.])*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9-]*[A-Za-z0-9]))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ip": {
            "description": "Configure the flow exporter's destination to be the IP of the intended IPFIX collector. 'hostname' field must be set to null",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "local-collector": {
            "description": "Configure the flow exporter's destination to be the name of a Traffic Insight instance.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "name": {
            "description": "Configuration to set the name of a flow exporter.",
            "format": "pattern",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z][a-zA-Z0-9._-]*'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "observation-domain": {
            "default": "0",
            "description": "GW: Observation Domain. Allows the IP Flow Collector to group managed devices when receiving data sessions.\nDefault: Switch IP as 32 bit number",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "port": {
            "default": "4739",
            "description": "AOS-CX: Configure the transport port this flow exporter will use when sending IPFIX flow reports/template-packets to the collector.\nGW: Assigns the port used by the ip-flow-export-profile to export caches to the IP Flow Collector.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "transport-protocol": {
            "default": "IP_UDP",
            "description": "AOS-CX: Configure the transport protocol this flow exporter will use when sending IPFIX flow reports/template-packets to the collector.\nGW: Determines the transport Protocol this ip-flow-export-profile will use when a cache is exported.",
            "oneOf": [
              {
                "format": "int32",
                "maximum": 255,
                "minimum": 0,
                "type": "integer"
              },
              {
                "enum": [
                  "IP_TCP",
                  "IP_UDP",
                  "IP_ICMP",
                  "IPV6_ICMP",
                  "IP_IGMP",
                  "IP_PIM",
                  "IP_RSVP",
                  "IP_GRE",
                  "IP_AUTH",
                  "IP_L2TP",
                  "IP_IN_IP",
                  "IP_ESP",
                  "PROTOCOL_ANY"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "IPV6_ICMP": "Internet Control Message Protocol (58)",
                  "IP_AUTH": "Authentication header, e.g., for IPSEC (51)",
                  "IP_ESP": "ESP Protocol",
                  "IP_GRE": "Generic Routing Encapsulation (47)",
                  "IP_ICMP": "Internet Control Message Protocol (1)",
                  "IP_IGMP": "Internet Group Membership Protocol (2)",
                  "IP_IN_IP": "IP-in-IP tunneling (4)",
                  "IP_L2TP": "Layer Two Tunneling Protocol v.3 (115)",
                  "IP_PIM": "Protocol Independent Multicast (103)",
                  "IP_RSVP": "Resource Reservation Protocol (46)",
                  "IP_TCP": "Transmission Control Protocol (6)",
                  "IP_UDP": "User Datagram Protocol (17)",
                  "PROTOCOL_ANY": "Any Protocol"
                },
                "x-typeDescription": "IP Protocol types."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "upload-all-interval": {
            "default": "15",
            "description": "GW: Determines the maximum time interval (in minutes) allowed before a managed device must export its cache to the IP Flow Collector.",
            "format": "int32",
            "maximum": 30,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "upload-snapshot-interval": {
            "default": "0",
            "description": "GW: Determines the maximum time interval (in minutes) to upload current cache snapshot.",
            "format": "int32",
            "maximum": 30,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "upload-template-interval": {
            "default": "0",
            "description": "AOS-CX: Configure the interval (in seconds) this flow exporter will use when sending IPFIX flow template-packets to the collector. In AOS-CX this corresponds to the template data timeout CLI for the flow exporter.\nRange: 1-86400\nGW: Determines the maximum time interval (in seconds) to upload IPFIX templates.\nRange: 0-86400\nDefault: 0 (always)",
            "format": "int64",
            "maximum": 86400,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "vrf": {
            "description": "Configure the VRF this flow exporter will use when sending IPFIX flow reports/template-packets to the collector.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          }
        }
      },
      "ArubaIpfixFlowExporter_IpfixFlowExporterexportersSchemaGet": {
        "properties": {
          "collector-dest": {
            "description": "Configure the destination type of the collector that will receive flow reports/template-packets for this flow exporter.",
            "enum": [
              "COLLECTOR_HOSTNAME_OR_IP_ADDR",
              "COLLECTOR_LOCAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "COLLECTOR_HOSTNAME_OR_IP_ADDR": "Specify collector hostname or ip as collector type, which maps to hostname-or-ip-addr destination type.",
              "COLLECTOR_LOCAL": "Specify collector local as collector type, which maps to traffic-insight destination type."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Used to specify the type of destination/collector that is receiving IPFIX flow reports."
          },
          "description": {
            "description": "Configuration to set the description for the flow exporter.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "enable": {
            "default": "true",
            "description": "GW: Enable or disable IP Flow Collector.\nDefault: Disabled",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "export-protocol": {
            "default": "IPFIX",
            "description": "Configure the export protocol this flow exporter will use when sending IPFIX flow reports to the collector.",
            "enum": [
              "IPFIX"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IPFIX": "Specify IPFIX as the export protocol."
            },
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Export protocol to use for flow report packets."
          },
          "flow-cache-size": {
            "default": "15000",
            "description": "GW: Determines the maximum number of entries a managed device can cache before the log is exported to the IP Flow Collector.",
            "format": "int32",
            "maximum": 25000,
            "minimum": 5000,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "hostname": {
            "description": "Configure the flow exporter's destination to be the hostname of the intended ipfix collector. 'ip' field must be set to null",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "hostname",
            "x-patterns": "'((([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9-]*[a-zA-Z0-9])[.])*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9-]*[A-Za-z0-9]))'",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "ip": {
            "description": "Configure the flow exporter's destination to be the IP of the intended IPFIX collector. 'hostname' field must be set to null",
            "oneOf": [
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv4-address",
                "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
              },
              {
                "format": "pattern",
                "maxLength": 9999,
                "type": "string",
                "x-patternSources": "ipv6-address",
                "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "local-collector": {
            "description": "Configure the flow exporter's destination to be the name of a Traffic Insight instance.",
            "format": "const",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "name": {
            "description": "Configuration to set the name of a flow exporter.",
            "format": "pattern",
            "maxLength": 64,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "name",
            "x-patterns": "'[a-zA-Z][a-zA-Z0-9._-]*'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "observation-domain": {
            "default": "0",
            "description": "GW: Observation Domain. Allows the IP Flow Collector to group managed devices when receiving data sessions.\nDefault: Switch IP as 32 bit number",
            "format": "int64",
            "maximum": 4294967295,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "port": {
            "default": "4739",
            "description": "AOS-CX: Configure the transport port this flow exporter will use when sending IPFIX flow reports/template-packets to the collector.\nGW: Assigns the port used by the ip-flow-export-profile to export caches to the IP Flow Collector.",
            "format": "int32",
            "maximum": 65535,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ],
            "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
          },
          "transport-protocol": {
            "default": "IP_UDP",
            "description": "AOS-CX: Configure the transport protocol this flow exporter will use when sending IPFIX flow reports/template-packets to the collector.\nGW: Determines the transport Protocol this ip-flow-export-profile will use when a cache is exported.",
            "oneOf": [
              {
                "format": "int32",
                "maximum": 255,
                "minimum": 0,
                "type": "integer"
              },
              {
                "enum": [
                  "IP_TCP",
                  "IP_UDP",
                  "IP_ICMP",
                  "IPV6_ICMP",
                  "IP_IGMP",
                  "IP_PIM",
                  "IP_RSVP",
                  "IP_GRE",
                  "IP_AUTH",
                  "IP_L2TP",
                  "IP_IN_IP",
                  "IP_ESP",
                  "PROTOCOL_ANY"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "IPV6_ICMP": "Internet Control Message Protocol (58)",
                  "IP_AUTH": "Authentication header, e.g., for IPSEC (51)",
                  "IP_ESP": "ESP Protocol",
                  "IP_GRE": "Generic Routing Encapsulation (47)",
                  "IP_ICMP": "Internet Control Message Protocol (1)",
                  "IP_IGMP": "Internet Group Membership Protocol (2)",
                  "IP_IN_IP": "IP-in-IP tunneling (4)",
                  "IP_L2TP": "Layer Two Tunneling Protocol v.3 (115)",
                  "IP_PIM": "Protocol Independent Multicast (103)",
                  "IP_RSVP": "Resource Reservation Protocol (46)",
                  "IP_TCP": "Transmission Control Protocol (6)",
                  "IP_UDP": "User Datagram Protocol (17)",
                  "PROTOCOL_ANY": "Any Protocol"
                },
                "x-typeDescription": "IP Protocol types."
              }
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "upload-all-interval": {
            "default": "15",
            "description": "GW: Determines the maximum time interval (in minutes) allowed before a managed device must export its cache to the IP Flow Collector.",
            "format": "int32",
            "maximum": 30,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "upload-snapshot-interval": {
            "default": "0",
            "description": "GW: Determines the maximum time interval (in minutes) to upload current cache snapshot.",
            "format": "int32",
            "maximum": 30,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "upload-template-interval": {
            "default": "0",
            "description": "AOS-CX: Configure the interval (in seconds) this flow exporter will use when sending IPFIX flow template-packets to the collector. In AOS-CX this corresponds to the template data timeout CLI for the flow exporter.\nRange: 1-86400\nGW: Determines the maximum time interval (in seconds) to upload IPFIX templates.\nRange: 0-86400\nDefault: 0 (always)",
            "format": "int64",
            "maximum": 86400,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "vrf": {
            "description": "Configure the VRF this flow exporter will use when sending IPFIX flow reports/template-packets to the collector.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-vrf:vrfs/ac-vrf:vrf/ac-vrf:name",
            "x-patternSources": "name-type",
            "x-patterns": "'([^\\\\/ ]+)'",
            "x-supportedDeviceType": [
              "Switch CX"
            ],
            "x-typeDescription": "Type definition for 'name', should be alphanumeric. Special characters such as '\\', '/' and space are not allowed."
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaIpfixFlowExporter_IpfixFlowExporterexportersSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaIpfixFlowExporter_IpfixFlowExporterexportersSchema"
            }
          }
        },
        "description": "exportersbody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
