{
  "openapi": "3.1.0",
  "info": {
    "title": "Traffic Insight",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Traffic Insight"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/traffic-insight": {
      "get": {
        "description": "Configuration of Traffic Insight.\nTraffic insight allows to monitor large amount of data that it collects from\nvarious flow exporters like IPFIX and provides the ability to filter, aggregate\nand sort the data based on user flow monitor requests.\nTraffic insight tracks different monitor requests simultaneously and provides\nmonitor reports per request.\nEnables flow monitoring on a traffic insight instance. A traffic insight instance\nconsists of different monitor types. Following flow monitor types are\nsupported:\n\ntopN-flows - Monitors IP traffic flowing through the switch and captures topN\n            volume flows.\n\napplication-flows - Monitors client application flows and\n                   provides application level rx/tx counters, and also brings\n                   application visibility.\n\nraw-flows - Raw-flows Flow monitor provides uni-direction flow details for\n           all apps or clients to CNX on-demand basis. It is used by CNX for\n           trouble-shooting work-flow.\n\ndns-average-latency - Monitors dns request and response flows and provides average\n                     dns-latency details per client.\n\ndns-onboarding-latency - Monitors dns request and response flows and provides onboarding\n                        dns-latency details per client.\n\nworkload-flows - Monitors unicast traffic flows and provides the rx/tx counters along with\n                action for the flow.\n\nflows - Monitors unicast traffic flows and provides the rx/tx counters along with\n       action for the flow.",
        "operationId": "readTrafficInsight",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaTrafficInsight_TrafficInsightSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read configured Traffic-insight Instance",
        "tags": [
          "Traffic Insight"
        ],
        "x-cliParam": {
          "commandName": "readTrafficInsightCmd",
          "commandUse": "traffic-insight",
          "parentCommand": "readCmd",
          "pathToPrint": "/traffic-insight/",
          "summary": "Read operation for traffic-insight"
        }
      }
    },
    "/network-config/v1alpha1/traffic-insight/{name}": {
      "get": {
        "description": "List of traffic insight instances.",
        "operationId": "readTrafficInsightInstanceByID",
        "parameters": [
          {
            "description": "The traffic-insight instance name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaTrafficInsight_TrafficInsightinstanceSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing Traffic-insight Configurations",
        "tags": [
          "Traffic Insight"
        ],
        "x-cliParam": {
          "commandName": "readTrafficInsightInstanceCmd",
          "commandUse": "instance",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readTrafficInsightCmd",
          "pathToPrint": "/traffic-insight/instance/%s/",
          "summary": "Read operation for instance",
          "totParams": 1
        }
      },
      "put": {
        "description": "List of traffic insight instances.",
        "operationId": "replaceTrafficInsightInstanceByID",
        "parameters": [
          {
            "description": "The traffic-insight instance name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaTrafficInsight_TrafficInsightinstanceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or Update existing Traffic-insight instance configurations",
        "tags": [
          "Traffic Insight"
        ],
        "x-cliParam": {
          "commandName": "replaceTrafficInsightInstanceCmd",
          "commandUse": "instance",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceTrafficInsightCmd",
          "pathToPrint": "/traffic-insight/instance/%s/",
          "summary": "Replace operation for instance",
          "totParams": 1
        }
      },
      "post": {
        "description": "List of traffic insight instances.",
        "operationId": "createTrafficInsightInstanceByID",
        "parameters": [
          {
            "description": "The traffic-insight instance name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaTrafficInsight_TrafficInsightinstanceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create Instance name for Traffic-Insight",
        "tags": [
          "Traffic Insight"
        ],
        "x-cliParam": {
          "commandName": "createTrafficInsightInstanceCmd",
          "commandUse": "instance",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createTrafficInsightCmd",
          "pathToPrint": "/traffic-insight/instance/%s/",
          "summary": "Create operation for instance",
          "totParams": 1
        }
      },
      "delete": {
        "description": "List of traffic insight instances.",
        "operationId": "deleteTrafficInsightInstanceByID",
        "parameters": [
          {
            "description": "The traffic-insight instance name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete the Traffic-Insight Instance",
        "tags": [
          "Traffic Insight"
        ],
        "x-cliParam": {
          "commandName": "deleteTrafficInsightInstanceCmd",
          "commandUse": "instance",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteTrafficInsightCmd",
          "pathToPrint": "/traffic-insight/instance/%s/",
          "summary": "Delete operation for instance",
          "totParams": 1
        }
      },
      "patch": {
        "description": "List of traffic insight instances.",
        "operationId": "updateTrafficInsightInstanceByID",
        "parameters": [
          {
            "description": "The traffic-insight instance name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaTrafficInsight_TrafficInsightinstanceSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update existing Traffic-insight instance configurations",
        "tags": [
          "Traffic Insight"
        ],
        "x-cliParam": {
          "commandName": "updateTrafficInsightInstanceCmd",
          "commandUse": "instance",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateTrafficInsightCmd",
          "pathToPrint": "/traffic-insight/instance/%s/",
          "summary": "Update operation for instance",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaTrafficInsight_TrafficInsightMonitor": {
        "description": "Traffic insight monitors.",
        "properties": {
          "monitor": {
            "description": "List of traffic insight monitors.",
            "items": {
              "properties": {
                "group-by": {
                  "description": "Specifies packet fields to group flows-by for top N flows.",
                  "enum": [
                    "SRC_IP",
                    "DST_IP",
                    "SRC_PORT",
                    "DST_PORT",
                    "IP_PROTO",
                    "APP_ID",
                    "SRC_IP_DST_IP",
                    "SRC_IP_DST_PORT",
                    "SRC_IP_APP_ID",
                    "EGRESS_INTERFACE",
                    "EGRESS_INTERFACE_QUEUE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "APP_ID": "Group by Application ID.",
                    "DST_IP": "Group by Destination IP.",
                    "DST_PORT": "Group by Destination Port.",
                    "EGRESS_INTERFACE": "Group by Egress Interface.",
                    "EGRESS_INTERFACE_QUEUE": "Group by Egress Interface and QoS Queue.",
                    "IP_PROTO": "Group by IP Protocol.",
                    "SRC_IP": "Group by Source IP.",
                    "SRC_IP_APP_ID": "Group by Source IP and Application ID.",
                    "SRC_IP_DST_IP": "Group by Source IP and Destination IP.",
                    "SRC_IP_DST_PORT": "Group by Source IP and Destination Port.",
                    "SRC_PORT": "Group by Source Port."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Fields to group flows by."
                },
                "monitor-n-flows": {
                  "default": "5",
                  "description": "Specify the number of top N flows to report.",
                  "format": "int32",
                  "maximum": 20,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "monitor-name-type": {
                  "description": "Key combination of monitor-name and type separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                },
                "reset-interval": {
                  "default": "600",
                  "description": "The running statistics reset timeout in seconds for top N flows.",
                  "format": "int32",
                  "maximum": 2700,
                  "minimum": 360,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "single-value-filter": {
                  "description": "Specifies filter applied to top N flows.",
                  "properties": {
                    "application-id": {
                      "description": "Application ID filter value for top N flows.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "destination-ip": {
                      "description": "Destination IP for top N flows.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "destination-ip-prefix": {
                      "description": "Destination IP prefix for top N flows.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-prefix",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                          "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-prefix",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                          "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "destination-port": {
                      "description": "Destination port filter value for top N flows.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "egress-interface": {
                      "description": "Egress interface filter value for top N flows.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "egress-interface",
                      "x-patterns": "'(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "egress-queue": {
                      "description": "Egress queue filter value for top N flows.",
                      "format": "int32",
                      "maximum": 7,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "ip-protocol": {
                      "description": "IP protocol filter value for top N flows.",
                      "oneOf": [
                        {
                          "format": "int32",
                          "maximum": 255,
                          "minimum": 0,
                          "type": "integer"
                        },
                        {
                          "enum": [
                            "IP_TCP",
                            "IP_UDP",
                            "IP_ICMP",
                            "IPV6_ICMP",
                            "IP_IGMP",
                            "IP_PIM",
                            "IP_RSVP",
                            "IP_GRE",
                            "IP_AUTH",
                            "IP_L2TP",
                            "IP_IN_IP",
                            "IP_ESP",
                            "PROTOCOL_ANY"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "IPV6_ICMP": "Internet Control Message Protocol (58)",
                            "IP_AUTH": "Authentication header, e.g., for IPSEC (51)",
                            "IP_ESP": "ESP Protocol",
                            "IP_GRE": "Generic Routing Encapsulation (47)",
                            "IP_ICMP": "Internet Control Message Protocol (1)",
                            "IP_IGMP": "Internet Group Membership Protocol (2)",
                            "IP_IN_IP": "IP-in-IP tunneling (4)",
                            "IP_L2TP": "Layer Two Tunneling Protocol v.3 (115)",
                            "IP_PIM": "Protocol Independent Multicast (103)",
                            "IP_RSVP": "Resource Reservation Protocol (46)",
                            "IP_TCP": "Transmission Control Protocol (6)",
                            "IP_UDP": "User Datagram Protocol (17)",
                            "PROTOCOL_ANY": "Any Protocol"
                          },
                          "x-typeDescription": "IP Protocol types."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "parameter": {
                      "description": "Filter by parameter.",
                      "enum": [
                        "SOURCE_IP",
                        "DESTINATION_IP",
                        "SOURCE_IP_MASK",
                        "DESTINATION_IP_MASK",
                        "SOURCE_PORT",
                        "DESTINATION_PORT",
                        "IP_PROTOCOL",
                        "APPLICATION_ID",
                        "EGRESS_INTERFACE",
                        "EGRESS_QUEUE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "APPLICATION_ID": "Filter by Application ID.",
                        "DESTINATION_IP": "Filter by Destination IP.",
                        "DESTINATION_IP_MASK": "Filter by Destination IP Mask.",
                        "DESTINATION_PORT": "Filter by Destination Port.",
                        "EGRESS_INTERFACE": "Filter by Egress Interface.",
                        "EGRESS_QUEUE": "Filter by Egress Queue.",
                        "IP_PROTOCOL": "Filter by IP Protocol.",
                        "SOURCE_IP": "Filter by Source IP.",
                        "SOURCE_IP_MASK": "Filter by Source IP Mask.",
                        "SOURCE_PORT": "Filter by Source Port."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Fields to filter flows by."
                    },
                    "source-ip": {
                      "description": "Source IP value for top N flows.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "source-ip-prefix": {
                      "description": "Source IP prefix value for top N flows.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-prefix",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                          "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-prefix",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                          "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "source-port": {
                      "description": "Source port filter value for top N flows.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    }
                  }
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "monitorNameType"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaTrafficInsight_TrafficInsightMonitorGet": {
        "description": "Traffic insight monitors.",
        "properties": {
          "monitor": {
            "description": "List of traffic insight monitors.",
            "items": {
              "properties": {
                "group-by": {
                  "description": "Specifies packet fields to group flows-by for top N flows.",
                  "enum": [
                    "SRC_IP",
                    "DST_IP",
                    "SRC_PORT",
                    "DST_PORT",
                    "IP_PROTO",
                    "APP_ID",
                    "SRC_IP_DST_IP",
                    "SRC_IP_DST_PORT",
                    "SRC_IP_APP_ID",
                    "EGRESS_INTERFACE",
                    "EGRESS_INTERFACE_QUEUE"
                  ],
                  "format": "enum",
                  "type": "string",
                  "x-enumDescriptions": {
                    "APP_ID": "Group by Application ID.",
                    "DST_IP": "Group by Destination IP.",
                    "DST_PORT": "Group by Destination Port.",
                    "EGRESS_INTERFACE": "Group by Egress Interface.",
                    "EGRESS_INTERFACE_QUEUE": "Group by Egress Interface and QoS Queue.",
                    "IP_PROTO": "Group by IP Protocol.",
                    "SRC_IP": "Group by Source IP.",
                    "SRC_IP_APP_ID": "Group by Source IP and Application ID.",
                    "SRC_IP_DST_IP": "Group by Source IP and Destination IP.",
                    "SRC_IP_DST_PORT": "Group by Source IP and Destination Port.",
                    "SRC_PORT": "Group by Source Port."
                  },
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ],
                  "x-typeDescription": "Fields to group flows by."
                },
                "monitor-n-flows": {
                  "default": "5",
                  "description": "Specify the number of top N flows to report.",
                  "format": "int32",
                  "maximum": 20,
                  "minimum": 0,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "monitor-name-type": {
                  "description": "Key combination of monitor-name and type separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                },
                "reset-interval": {
                  "default": "600",
                  "description": "The running statistics reset timeout in seconds for top N flows.",
                  "format": "int32",
                  "maximum": 2700,
                  "minimum": 360,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                },
                "single-value-filter": {
                  "description": "Specifies filter applied to top N flows.",
                  "properties": {
                    "application-id": {
                      "description": "Application ID filter value for top N flows.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "destination-ip": {
                      "description": "Destination IP for top N flows.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "destination-ip-prefix": {
                      "description": "Destination IP prefix for top N flows.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-prefix",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                          "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-prefix",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                          "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "destination-port": {
                      "description": "Destination port filter value for top N flows.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    },
                    "egress-interface": {
                      "description": "Egress interface filter value for top N flows.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "egress-interface",
                      "x-patterns": "'(\\w+(/\\w+)?(/\\d+)?(:\\d)?)'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "egress-queue": {
                      "description": "Egress queue filter value for top N flows.",
                      "format": "int32",
                      "maximum": 7,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "ip-protocol": {
                      "description": "IP protocol filter value for top N flows.",
                      "oneOf": [
                        {
                          "format": "int32",
                          "maximum": 255,
                          "minimum": 0,
                          "type": "integer"
                        },
                        {
                          "enum": [
                            "IP_TCP",
                            "IP_UDP",
                            "IP_ICMP",
                            "IPV6_ICMP",
                            "IP_IGMP",
                            "IP_PIM",
                            "IP_RSVP",
                            "IP_GRE",
                            "IP_AUTH",
                            "IP_L2TP",
                            "IP_IN_IP",
                            "IP_ESP",
                            "PROTOCOL_ANY"
                          ],
                          "format": "enum",
                          "type": "string",
                          "x-enumDescriptions": {
                            "IPV6_ICMP": "Internet Control Message Protocol (58)",
                            "IP_AUTH": "Authentication header, e.g., for IPSEC (51)",
                            "IP_ESP": "ESP Protocol",
                            "IP_GRE": "Generic Routing Encapsulation (47)",
                            "IP_ICMP": "Internet Control Message Protocol (1)",
                            "IP_IGMP": "Internet Group Membership Protocol (2)",
                            "IP_IN_IP": "IP-in-IP tunneling (4)",
                            "IP_L2TP": "Layer Two Tunneling Protocol v.3 (115)",
                            "IP_PIM": "Protocol Independent Multicast (103)",
                            "IP_RSVP": "Resource Reservation Protocol (46)",
                            "IP_TCP": "Transmission Control Protocol (6)",
                            "IP_UDP": "User Datagram Protocol (17)",
                            "PROTOCOL_ANY": "Any Protocol"
                          },
                          "x-typeDescription": "IP Protocol types."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "parameter": {
                      "description": "Filter by parameter.",
                      "enum": [
                        "SOURCE_IP",
                        "DESTINATION_IP",
                        "SOURCE_IP_MASK",
                        "DESTINATION_IP_MASK",
                        "SOURCE_PORT",
                        "DESTINATION_PORT",
                        "IP_PROTOCOL",
                        "APPLICATION_ID",
                        "EGRESS_INTERFACE",
                        "EGRESS_QUEUE"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "APPLICATION_ID": "Filter by Application ID.",
                        "DESTINATION_IP": "Filter by Destination IP.",
                        "DESTINATION_IP_MASK": "Filter by Destination IP Mask.",
                        "DESTINATION_PORT": "Filter by Destination Port.",
                        "EGRESS_INTERFACE": "Filter by Egress Interface.",
                        "EGRESS_QUEUE": "Filter by Egress Queue.",
                        "IP_PROTOCOL": "Filter by IP Protocol.",
                        "SOURCE_IP": "Filter by Source IP.",
                        "SOURCE_IP_MASK": "Filter by Source IP Mask.",
                        "SOURCE_PORT": "Filter by Source Port."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Fields to filter flows by."
                    },
                    "source-ip": {
                      "description": "Source IP value for top N flows.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-address",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                          "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-address",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                          "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "source-ip-prefix": {
                      "description": "Source IP prefix value for top N flows.",
                      "oneOf": [
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv4-prefix",
                          "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}/([0-9]|[12][0-9]|3[0-2])'",
                          "x-typeDescription": "An IPv4 prefix represented in dotted quad notation followed by\na slash and a CIDR mask (0 <= mask <= 32)."
                        },
                        {
                          "format": "pattern",
                          "maxLength": 9999,
                          "type": "string",
                          "x-patternSources": "ipv6-prefix",
                          "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))/(12[0-8]|1[0-1][0-9]|[1-9][0-9]|[0-9])'",
                          "x-typeDescription": "An IPv6 prefix represented in full, shortened, or mixed\nshortened format followed by a slash and CIDR mask\n(0 <= mask <= 128)."
                        }
                      ],
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "source-port": {
                      "description": "Source port filter value for top N flows.",
                      "format": "int32",
                      "maximum": 65535,
                      "minimum": 0,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "A 16-bit port number used by a transport protocol such as TCP\nor UDP."
                    }
                  }
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "monitorNameType"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaTrafficInsight_TrafficInsightSchemaGET": {
        "description": "Configuration of Traffic Insight.\nTraffic insight allows to monitor large amount of data that it collects from\nvarious flow exporters like IPFIX and provides the ability to filter, aggregate\nand sort the data based on user flow monitor requests.\nTraffic insight tracks different monitor requests simultaneously and provides\nmonitor reports per request.\nEnables flow monitoring on a traffic insight instance. A traffic insight instance\nconsists of different monitor types. Following flow monitor types are\nsupported:\n\ntopN-flows - Monitors IP traffic flowing through the switch and captures topN\n            volume flows.\n\napplication-flows - Monitors client application flows and\n                   provides application level rx/tx counters, and also brings\n                   application visibility.\n\nraw-flows - Raw-flows Flow monitor provides uni-direction flow details for\n           all apps or clients to CNX on-demand basis. It is used by CNX for\n           trouble-shooting work-flow.\n\ndns-average-latency - Monitors dns request and response flows and provides average\n                     dns-latency details per client.\n\ndns-onboarding-latency - Monitors dns request and response flows and provides onboarding\n                        dns-latency details per client.\n\nworkload-flows - Monitors unicast traffic flows and provides the rx/tx counters along with\n                action for the flow.\n\nflows - Monitors unicast traffic flows and provides the rx/tx counters along with\n       action for the flow.",
        "properties": {
          "instance": {
            "description": "List of traffic insight instances.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaTrafficInsight_TrafficInsightMonitorGet"
                },
                {
                  "properties": {
                    "enable": {
                      "default": "false",
                      "description": "Enable traffic insight instance.",
                      "type": "boolean",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "name": {
                      "description": "The traffic-insight instance name.",
                      "format": "const",
                      "maxLength": 32,
                      "minLength": 0,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "source": {
                      "description": "Configure traffic insight source to collect data flows.",
                      "enum": [
                        "IPFIX"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "IPFIX": "IP flow information export protocol."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "Traffic flow collection source protocol."
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaTrafficInsight_TrafficInsightinstanceSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaTrafficInsight_TrafficInsightMonitor"
          },
          {
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable traffic insight instance.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "name": {
                "description": "The traffic-insight instance name.",
                "format": "const",
                "maxLength": 32,
                "minLength": 0,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "source": {
                "description": "Configure traffic insight source to collect data flows.",
                "enum": [
                  "IPFIX"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "IPFIX": "IP flow information export protocol."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Traffic flow collection source protocol."
              }
            }
          }
        ]
      },
      "ArubaTrafficInsight_TrafficInsightinstanceSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaTrafficInsight_TrafficInsightMonitorGet"
          },
          {
            "properties": {
              "enable": {
                "default": "false",
                "description": "Enable traffic insight instance.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "name": {
                "description": "The traffic-insight instance name.",
                "format": "const",
                "maxLength": 32,
                "minLength": 0,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX"
                ]
              },
              "source": {
                "description": "Configure traffic insight source to collect data flows.",
                "enum": [
                  "IPFIX"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "IPFIX": "IP flow information export protocol."
                },
                "x-supportedDeviceType": [
                  "Switch CX"
                ],
                "x-typeDescription": "Traffic flow collection source protocol."
              }
            }
          }
        ]
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "400",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Bad request. Invalid values supplied in request.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error401": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_R001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "401",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Unauthorized. Authentication Failure.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error403": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "403",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Forbidden. Capability Rule fail.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error404": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_CN003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "404",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not found. Yang / Corresponding Rule is missing.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error406": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP003",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "406",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Not Acceptable. Invalid data format.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error408": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_K001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "408",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Request Timeout.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error412": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_LY002",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "412",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Precondition Failed.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error429": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AJ001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "429",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Too Many Requests.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Error500": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_C001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "500",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of error.\n",
            "example": "Internal server error. Invalid scope.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      },
      "Successful200": {
        "description": "Success response returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Success code.",
            "example": "SUCC_001",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "httpStatusCode": {
            "description": "HTTP response status codes.",
            "example": "200",
            "format": "int64",
            "maximum": 599,
            "minimum": 0,
            "type": "integer"
          },
          "message": {
            "description": "Description of successful response.\n",
            "example": "Success.",
            "format": "const",
            "maxLength": 512,
            "type": "string"
          }
        },
        "required": [
          "httpStatusCode",
          "errorCode",
          "message",
          "debugId"
        ],
        "type": "object"
      }
    },
    "responses": {
      "200": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Successful200"
            }
          }
        },
        "description": "Successful Operation",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "400": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error400"
            }
          }
        },
        "description": "Bad Request",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "401": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error401"
            }
          }
        },
        "description": "Unauthorized Access",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "403": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error403"
            }
          }
        },
        "description": "Forbidden",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "404": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error404"
            }
          }
        },
        "description": "Not Found",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "406": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error406"
            }
          }
        },
        "description": "Not Acceptable",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "408": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error408"
            }
          }
        },
        "description": "Request Timeout",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "412": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error412"
            }
          }
        },
        "description": "Precondition Failed",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "429": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error429"
            }
          }
        },
        "description": "Rate limit exceeded",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      },
      "500": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error500"
            }
          }
        },
        "description": "Internal Server Error",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/X-RateLimit-Limit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/X-RateLimit-Remaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/X-RateLimit-Reset"
          }
        }
      }
    },
    "parameters": {
      "delete_device_function": {
        "description": "Device function for which the local object needs to be deleted. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "delete_object_type": {
        "description": "LOCAL - To delete local objects. SHARED - To delete shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "delete_scope_id": {
        "description": "Scope at which local object needs to be deleted. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "detailed": {
        "description": "True - Includes annotations in the returned json to indicate the type of object, scope, and device function. False - Returns only config objects without annotations.",
        "in": "query",
        "name": "detailed",
        "schema": {
          "type": "boolean"
        }
      },
      "effective": {
        "description": "True - Returns effective configuration (i.e hierarchically merged configuration). False - Returns committed configuration at a given scope.",
        "in": "query",
        "name": "effective",
        "schema": {
          "type": "boolean"
        }
      },
      "get_device_function": {
        "description": "Filters configuration specific to given device-function type. If not provided and view_type = LOCAL, then defaults to all device-function's.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "get_object_type": {
        "description": "Retrieves LOCAL or SHARED or both(default) configuration objects.",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "get_scope_id": {
        "description": "Configuration at a given scope. Mandatory for view-type = LOCAL.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "description": "Limit for pagination.",
        "in": "query",
        "name": "limit",
        "schema": {
          "type": "integer"
        }
      },
      "offset": {
        "description": "Offset for pagination.",
        "in": "query",
        "name": "offset",
        "schema": {
          "type": "integer"
        }
      },
      "patch_device_function": {
        "description": "Device function for which the local object needs to be updated. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "patch_object_type": {
        "description": "LOCAL - To update local objects. SHARED - To update shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "patch_scope_id": {
        "description": "Scope at which local object needs to be updated. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "post_device_function": {
        "description": "Device function for which the local object needs to be created. Mandatory if object_type = LOCAL. Should not be provided for object_type = SHARED.",
        "in": "query",
        "name": "device-function",
        "schema": {
          "type": "string"
        }
      },
      "post_object_type": {
        "description": "LOCAL - To create local objects. SHARED - To create shared objects. Default - Defaults to SHARED if not provided",
        "in": "query",
        "name": "object-type",
        "schema": {
          "type": "string"
        }
      },
      "post_scope_id": {
        "description": "Scope at which local object needs to be created. Mandatory if object-type = LOCAL. Should not be provided for object-type = SHARED.",
        "in": "query",
        "name": "scope-id",
        "schema": {
          "type": "string"
        }
      },
      "view_type": {
        "description": "LIBRARY - Returns shared objects in library. For LIBRARY, all other parameters listed below, except 'detailed' , will be ignored. LOCAL - Returns configurations for a scope and one or more device function based on parameters below.",
        "in": "query",
        "name": "view-type",
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "ArubaTrafficInsight_TrafficInsightinstanceSchema": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ArubaTrafficInsight_TrafficInsightinstanceSchema"
            }
          }
        },
        "description": "instancebody object"
      }
    },
    "headers": {
      "X-RateLimit-Limit": {
        "description": "Request limit per hour.",
        "schema": {
          "description": "Request limit per hour.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Remaining": {
        "description": "The number of requests left for the time window.",
        "schema": {
          "description": "The number of requests left for the time window.",
          "format": "int64",
          "maximum": 9223372036854776000,
          "minimum": 0,
          "type": "integer"
        }
      },
      "X-RateLimit-Reset": {
        "description": "The UTC date/time at which the current rate limit window resets.",
        "schema": {
          "description": "The UTC date/time at which the current rate limit window resets.",
          "format": "date-time",
          "maxLength": 20,
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
