{
  "openapi": "3.1.0",
  "info": {
    "title": "DPP Registration",
    "version": "1.0.0",
    "description": "The Central NAC Service APIs are used for managing network access control policies."
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "description": "To manage DPP registration operations",
      "name": "DPP Registration"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/cnac-dpp-reg": {
      "get": {
        "description": "This API retrieves a list of DPP registrations. The request may contain optional query parameters:\nlimit, next, offset, and search.\nThe response returns at most one page size of DPP registrations, each DPP registration is comprised\nof a DPP registration ID and DPP URI. The count and next cursor is also returned.\n",
        "operationId": "listDppRegistrations",
        "parameters": [
          {
            "description": "Maximum number of DPP registrations to return in one page.",
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A pagination cursor to retrieve the next page of DPP registrations. Either next or offset can be provided, but not both. If both are provided, next takes precedence.",
            "in": "query",
            "name": "next",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "An offset from the beginning of the result set to retrieve the next page of DPP registrations. Either next or offset can be provided, but not both. If both are provided, next takes precedence.",
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A MAC address or MAC address substring with which to filter the DPP registrations.",
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdaDppRegListResponse"
                }
              }
            },
            "description": "Success: Returns a list of DPP registrations, along with the count of DPP registrations\nreturned, and the cursor for the next page.\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            },
            "description": "Precondition Failed. The request has an invalid query parameter."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "List DPP registrations",
        "tags": [
          "DPP Registration"
        ]
      },
      "put": {
        "description": "This API updates an existing DPP registration. The request contains the required DPP registration ID to update and the required new DPP URI. The response returns the DPP registration ID and DPP URI.",
        "operationId": "updateDppRegistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateDppRegistration_request"
              }
            }
          },
          "description": "The input object containing the DPP registration ID to update and the new DPP URI.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdaDppRegResponse"
                }
              }
            },
            "description": "Success. The DPP registration has been updated. The DPP registration ID and updated DPP URI are returned."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            },
            "description": "DPP registration not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            },
            "description": "Precondition Failed. The request has an invalid DPP registration ID or DPP URI."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update DPP registration",
        "tags": [
          "DPP Registration"
        ],
        "x-codegen-request-body-name": "body"
      },
      "post": {
        "description": "This API registers a new DPP URI. The request contains the required DPP URI. The response returns the new DPP registration ID.",
        "operationId": "createDppRegistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createDppRegistration_request"
              }
            }
          },
          "description": "An input object containing the DPP registration URI.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdaDppRegCreateResponse"
                }
              }
            },
            "description": "Success. The DPP registration has been created. The new DPP registration ID is returned."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            },
            "description": "Conflict. The DPP registration already exists for MAC address."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            },
            "description": "Precondition Failed. The request has an invalid DPP URI."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add DPP registration",
        "tags": [
          "DPP Registration"
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/network-config/v1alpha1/cnac-dpp-reg/{id}": {
      "get": {
        "description": "This API retrieves a DPP registration. The request contains the required DPP registration ID to retrieve. The response returns the DPP registration ID and DPP URI.",
        "operationId": "getDppRegistration",
        "parameters": [
          {
            "description": "A DPP registration ID to retrieve.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdaDppRegResponse"
                }
              }
            },
            "description": "Success. The DPP registration has been retrieved."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            },
            "description": "DPP registration not found."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            },
            "description": "Precondition Failed. The request has an invalid DPP registration ID."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Get a DPP registration",
        "tags": [
          "DPP Registration"
        ]
      },
      "delete": {
        "description": "This API deletes a DPP registration. The request contains the required DPP registration ID to delete.",
        "operationId": "deleteDppRegistration",
        "parameters": [
          {
            "description": "A DPP registration ID to delete.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "*/*": {
                "example": "204 No Content"
              }
            },
            "description": "Success. The DPP registration has been deleted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreconditionFailedError"
                }
              }
            },
            "description": "Precondition Failed. The request has an invalid DPP registration ID."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete DPP registration",
        "tags": [
          "DPP Registration"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BadRequestError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_BAD_REQUEST",
              "HPE_GL_ERROR_MISSING_IDENTIFIER",
              "HPE_GL_ERROR_INSUFFICIENT_PARAMS"
            ],
            "example": "HPE_GL_ERROR_BAD_REQUEST",
            "maxLength": 128,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 400 for Bad Request).",
            "example": 400,
            "format": "int64",
            "maximum": 400,
            "minimum": 400,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "CdaDppRegCreateInput": {
        "description": "Input type for mutation createCdaDppReg",
        "properties": {
          "uri": {
            "description": "DPP uri.",
            "type": "string",
            "x-go-name": "URI"
          }
        },
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaDppRegCreateResponse": {
        "description": "Represents the response for mutation createCdaDppReg",
        "properties": {
          "id": {
            "description": "ID of the DPP registraton.",
            "type": "string",
            "x-go-name": "ID"
          }
        },
        "required": [
          "id"
        ],
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaDppRegListResponse": {
        "description": "Represents the response for query listCdaDppRegs",
        "properties": {
          "count": {
            "description": "Count of items returned.",
            "format": "int64",
            "type": "integer",
            "x-go-name": "Count"
          },
          "items": {
            "description": "List of DPP Registrations.",
            "items": {
              "$ref": "#/components/schemas/CdaDppRegResponse"
            },
            "type": "array",
            "x-go-name": "Items"
          },
          "next": {
            "description": "Cursor to the next page.",
            "type": "string",
            "x-go-name": "Next"
          }
        },
        "required": [
          "count",
          "items"
        ],
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaDppRegResponse": {
        "description": "Represents Information about one DPP registration",
        "properties": {
          "id": {
            "description": "ID of the DPP registration",
            "type": "string",
            "x-go-name": "ID"
          },
          "uri": {
            "description": "DPP uri.",
            "type": "string",
            "x-go-name": "URI"
          }
        },
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaDppRegUpdateInput": {
        "description": "Input type for mutation updateCdaDppReg",
        "properties": {
          "id": {
            "description": "ID of the DPP resgistration.",
            "type": "string",
            "x-go-name": "ID"
          },
          "uri": {
            "description": "DPP uri.",
            "type": "string",
            "x-go-name": "URI"
          }
        },
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "ConflictError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_CONFLICT"
            ],
            "example": "HPE_GL_ERROR_CONFLICT",
            "maxLength": 128,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 400 for Bad Request).",
            "example": 409,
            "format": "int64",
            "maximum": 409,
            "minimum": 409,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "ForbiddenError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_FORBIDDEN"
            ],
            "example": "HPE_GL_ERROR_FORBIDDEN",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 403 for Forbidden).",
            "example": 403,
            "format": "int64",
            "maximum": 403,
            "minimum": 403,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "InternalServerError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_INTERNAL_SERVER_ERROR"
            ],
            "example": "HPE_GL_ERROR_INTERNAL_SERVER_ERROR",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 500 for InternalServerError).",
            "example": 500,
            "format": "int64",
            "maximum": 500,
            "minimum": 500,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "NotFoundError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_NOT_FOUND"
            ],
            "example": "HPE_GL_ERROR_NOT_FOUND",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 404 for NotFound).",
            "example": 404,
            "format": "int64",
            "maximum": 404,
            "minimum": 404,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "PreconditionFailedError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_PRECONDITION_FAILED"
            ],
            "example": "HPE_GL_ERROR_PRECONDITION_FAILED",
            "maxLength": 128,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 400 for Bad Request).",
            "example": 412,
            "format": "int64",
            "maximum": 412,
            "minimum": 412,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "ServiceUnavailableError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_SERVICE_UNAVAILABLE"
            ],
            "example": "HPE_GL_ERROR_SERVICE_UNAVAILABLE",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 503 for ServiceUnavailableError).",
            "example": 503,
            "format": "int64",
            "maximum": 503,
            "minimum": 503,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "TooManyRequestsError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_TOO_MANY_REQUESTS"
            ],
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 429 for TooManyRequests).",
            "example": 429,
            "format": "int64",
            "maximum": 429,
            "minimum": 429,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "UnauthorizedError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_UNAUTHORIZED"
            ],
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 401 for Unauthorized).",
            "example": 401,
            "format": "int64",
            "maximum": 401,
            "minimum": 401,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "createDppRegistration_request": {
        "properties": {
          "input": {
            "$ref": "#/components/schemas/CdaDppRegCreateInput"
          }
        },
        "required": [
          "input"
        ],
        "type": "object"
      },
      "updateDppRegistration_request": {
        "properties": {
          "input": {
            "$ref": "#/components/schemas/CdaDppRegUpdateInput"
          }
        },
        "required": [
          "input"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
