{
  "openapi": "3.1.0",
  "info": {
    "title": "MAC Registration",
    "version": "1.0.0",
    "description": "The Central NAC Service APIs are used for managing network access control policies."
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "description": "To manage MAC address operations",
      "name": "MAC Registration"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/cnac-mac-reg": {
      "get": {
        "description": "This API retrieves a list of MAC registrations.",
        "operationId": "getMacRegistrations",
        "parameters": [
          {
            "description": "Denotes the maximum number of registered macs returned in the response. The default value is 50.",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 50,
              "maximum": 1000,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Specifies the pagination cursor for the next page of resources.",
            "in": "query",
            "name": "next",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The zero-based resource offset to start the response from.",
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The search value to filter the results on MAC registrations.",
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The sort expression is a field name followed by a direction indicator asc (ascending) or desc (descending).\nThe first value in the expression defines the sort field and the second defines the sort order. If\nexpression is not specified, the default expression is 'createdAt asc'.\nSupported fields are macAddress, displayName, createdAt and modifiedAt.\nExample: macAddress asc\n",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdaMacRegsResponse"
                }
              }
            },
            "description": "Success. Returns list of registered MACs along with their details and associated pagination information."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "List MAC registrations",
        "tags": [
          "MAC Registration"
        ]
      },
      "put": {
        "description": "This API updates the display name for the registered MAC address.",
        "operationId": "updateMacRegistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateMacRegistration_request"
              }
            }
          },
          "description": "The input object containing the display name for MAC address.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdaMacRegResponse"
                }
              }
            },
            "description": "Success. The MAC registration has been updated."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update MAC registration",
        "tags": [
          "MAC Registration"
        ],
        "x-codegen-request-body-name": "body"
      },
      "post": {
        "description": "This API registers a new MAC address to allow network access.",
        "operationId": "createMacRegistration",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createMacRegistration_request"
              }
            }
          },
          "description": "The input object containing the MAC registration details.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdaMacRegResponse"
                }
              }
            },
            "description": "Success. The MAC registration has been created."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            },
            "description": "Conflict. The resource already exists."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add MAC registration",
        "tags": [
          "MAC Registration"
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/network-config/v1alpha1/cnac-mac-reg/export": {
      "get": {
        "description": "This API exports the MAC csv file from Central NAC.",
        "operationId": "exportMacCsvFile",
        "parameters": [
          {
            "description": "The sort expression is a field name followed by a direction indicator asc (ascending) or desc (descending).\nThe first value in the expression defines the sort field and the second defines the sort order. If\nexpression is not specified, the default expression is 'createdAt asc'.\nSupported fields are macAddress, displayName, createdAt and modifiedAt.\nExample: macAddress asc\n",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The search string to filter the results.",
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "Success. The file has been downloaded."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            },
            "description": "File not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Export MAC csv file",
        "tags": [
          "MAC Registration"
        ]
      }
    },
    "/network-config/v1alpha1/cnac-mac-reg/import": {
      "post": {
        "description": "This API imports MAC csv file into Central NAC.",
        "operationId": "importMacCsvFile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/importMacCsvFile_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            },
            "description": "Success. The file has been imported and the import job has started."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            },
            "description": "File not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          },
          "default": {
            "content": {},
            "description": "Unexpected error - An unspecified error occurred."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Import MAC csv file",
        "tags": [
          "MAC Registration"
        ]
      }
    },
    "/network-config/v1alpha1/cnac-mac-reg/{id}": {
      "delete": {
        "description": "This API deletes the registered MAC address to disallow network access.",
        "operationId": "deleteMacRegistration",
        "parameters": [
          {
            "description": "The ID of the MAC Address",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "*/*": {
                "example": "204 No Content"
              }
            },
            "description": "Success. The MAC address has been deleted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            },
            "description": "Client not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete MAC registration",
        "tags": [
          "MAC Registration"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BadRequestError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_BAD_REQUEST",
              "HPE_GL_ERROR_MISSING_IDENTIFIER",
              "HPE_GL_ERROR_INSUFFICIENT_PARAMS"
            ],
            "example": "HPE_GL_ERROR_BAD_REQUEST",
            "maxLength": 128,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 400 for Bad Request).",
            "example": 400,
            "format": "int64",
            "maximum": 400,
            "minimum": 400,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "CdaMacRegInput": {
        "description": "Input type for mutation createCdaMacReg",
        "properties": {
          "displayName": {
            "description": "MAC Registration display Name",
            "type": "string",
            "x-go-name": "DisplayName"
          },
          "enable": {
            "description": "Enable or disable the created mac account",
            "type": "boolean",
            "x-go-name": "Enable"
          },
          "macAddress": {
            "description": "Mac address of the MAC Registration.",
            "type": "string",
            "x-go-name": "MacAddress"
          },
          "staticTags": {
            "description": "List of static tag names associated with this MAC registration.",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-go-name": "StaticTags"
          }
        },
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaMacRegResponse": {
        "description": "Represents the response for mutation createCdaMacReg & updateCdaMacReg",
        "properties": {
          "autoCreated": {
            "description": "Whether the MAC was created by system(true) or admin(false).",
            "type": "boolean",
            "x-go-name": "AutoCreated"
          },
          "createdAt": {
            "description": "Creation time of the MAC address entity.",
            "type": "string",
            "x-go-name": "CreatedAt"
          },
          "displayName": {
            "description": "MAC Registration display name.",
            "type": "string",
            "x-go-name": "DisplayName"
          },
          "enable": {
            "description": "Whether the MAC account is enabled or disabled.",
            "type": "boolean",
            "x-go-name": "Enable"
          },
          "id": {
            "description": "ID of the MAC registraton.",
            "type": "string",
            "x-go-name": "ID"
          },
          "macAddress": {
            "description": "MAC address of the MAC Registration.",
            "type": "string",
            "x-go-name": "MacAddress"
          },
          "modifiedAt": {
            "description": "Modification time of the MAC address entity.",
            "type": "string",
            "x-go-name": "ModifiedAt"
          },
          "staticTags": {
            "description": "List of static tag names associated with this MAC registration.",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-go-name": "StaticTags"
          },
          "type": {
            "$ref": "#/components/schemas/CdaResourceType"
          }
        },
        "required": [
          "id",
          "type"
        ],
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaMacRegUpdateInput": {
        "description": "Input type for mutation updateCdaMacReg",
        "properties": {
          "displayName": {
            "description": "Display Name of the Mac device",
            "type": "string",
            "x-go-name": "DisplayName"
          },
          "enable": {
            "description": "Enable or disable the Mac device",
            "type": "boolean",
            "x-go-name": "Enable"
          },
          "id": {
            "description": "ID of the Mac device.",
            "type": "string",
            "x-go-name": "ID"
          },
          "macAddress": {
            "description": "Mac address of the Mac device.",
            "type": "string",
            "x-go-name": "MacAddress"
          },
          "staticTags": {
            "description": "List of static tag names associated with this MAC registration.",
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-go-name": "StaticTags"
          }
        },
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaMacRegsResponse": {
        "description": "Represents the response for query listCdaMacRegs",
        "properties": {
          "count": {
            "description": "Count of items returned.",
            "format": "int64",
            "type": "integer",
            "x-go-name": "Count"
          },
          "items": {
            "description": "List of MAC Registrations.",
            "items": {
              "$ref": "#/components/schemas/CdaMacRegResponse"
            },
            "type": "array",
            "x-go-name": "Items"
          },
          "macs": {
            "description": "List of MAC Registrations.",
            "items": {
              "$ref": "#/components/schemas/CdaMacRegResponse"
            },
            "type": "array",
            "x-go-name": "Macs"
          },
          "next": {
            "description": "Cursor to the next page.",
            "type": "string",
            "x-go-name": "Next"
          },
          "page": {
            "$ref": "#/components/schemas/CdaPage"
          },
          "total": {
            "description": "Total items available.",
            "format": "int64",
            "type": "integer",
            "x-go-name": "Total"
          }
        },
        "required": [
          "count",
          "items"
        ],
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaPage": {
        "description": "Deprecated: Please use the fields found on the root level of response instead\nof the these fields nested in CdaPage.",
        "properties": {
          "count": {
            "description": "Number of returned items",
            "format": "int64",
            "type": "integer",
            "x-go-name": "Count"
          },
          "cursor": {
            "description": "A cursor that points to a specific position in the dataset, used for pagination",
            "type": "string",
            "x-go-name": "Cursor"
          },
          "limit": {
            "description": "Specifies the number of results to be returned",
            "format": "int64",
            "type": "integer",
            "x-go-name": "Limit"
          }
        },
        "title": "Represents a CdaPage structure.",
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaResourceType": {
        "title": "Available resource types that are served by CDA's Service APIs.",
        "type": "string",
        "x-go-package": "cdaservice/graphql/models"
      },
      "ConflictError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_CONFLICT"
            ],
            "example": "HPE_GL_ERROR_CONFLICT",
            "maxLength": 128,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 400 for Bad Request).",
            "example": 409,
            "format": "int64",
            "maximum": 409,
            "minimum": 409,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "ForbiddenError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_FORBIDDEN"
            ],
            "example": "HPE_GL_ERROR_FORBIDDEN",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 403 for Forbidden).",
            "example": 403,
            "format": "int64",
            "maximum": 403,
            "minimum": 403,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "InternalServerError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_INTERNAL_SERVER_ERROR"
            ],
            "example": "HPE_GL_ERROR_INTERNAL_SERVER_ERROR",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 500 for InternalServerError).",
            "example": 500,
            "format": "int64",
            "maximum": 500,
            "minimum": 500,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "JobResponse": {
        "properties": {
          "jobid": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-go-name": "JobIDs"
          }
        },
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "NotFoundError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_NOT_FOUND"
            ],
            "example": "HPE_GL_ERROR_NOT_FOUND",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 404 for NotFound).",
            "example": 404,
            "format": "int64",
            "maximum": 404,
            "minimum": 404,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "ServiceUnavailableError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_SERVICE_UNAVAILABLE"
            ],
            "example": "HPE_GL_ERROR_SERVICE_UNAVAILABLE",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 503 for ServiceUnavailableError).",
            "example": 503,
            "format": "int64",
            "maximum": 503,
            "minimum": 503,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "TooManyRequestsError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_TOO_MANY_REQUESTS"
            ],
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 429 for TooManyRequests).",
            "example": 429,
            "format": "int64",
            "maximum": 429,
            "minimum": 429,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "UnauthorizedError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_UNAUTHORIZED"
            ],
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 401 for Unauthorized).",
            "example": 401,
            "format": "int64",
            "maximum": 401,
            "minimum": 401,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "createMacRegistration_request": {
        "properties": {
          "input": {
            "$ref": "#/components/schemas/CdaMacRegInput"
          }
        },
        "required": [
          "input"
        ],
        "type": "object"
      },
      "importMacCsvFile_request": {
        "properties": {
          "file": {
            "description": "The file to be imported",
            "format": "binary",
            "type": "string"
          }
        },
        "required": [
          "file"
        ],
        "type": "object"
      },
      "updateMacRegistration_request": {
        "properties": {
          "input": {
            "$ref": "#/components/schemas/CdaMacRegUpdateInput"
          }
        },
        "required": [
          "input"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
