{
  "openapi": "3.1.0",
  "info": {
    "title": "MPSK Registration",
    "version": "1.0.0",
    "description": "The Central NAC Service APIs are used for managing network access control policies."
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "description": "To manage named MPSK operations",
      "name": "MPSK Registration"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/cnac-named-mpsk-reg": {
      "get": {
        "description": "This API retrieves a list of Named MPSK registrations.",
        "operationId": "getNamedMPSK",
        "parameters": [
          {
            "description": "Denotes the maximum number of registered named MPSKs to be returned. The default value is 50.",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 50,
              "maximum": 1000,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Specifies the pagination cursor for the next page of resources.",
            "in": "query",
            "name": "next",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The zero-based resource offset to start the response from.",
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The network SSID of the named MPSK configuration.",
            "in": "query",
            "name": "network",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The search value to filter the results on Named MPSK registrations.",
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The sort expression is a field name followed by a direction indicator asc (ascending) or desc (descending).\nThe first value in the expression defines the sort field and the second defines the sort order. If\nexpression is not specified, the default expression is 'createdAt asc'.\nSupported fields are name, enable, userRole, createdAt and modifiedAt.\nExample: name asc\n",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdaNamedMpsksResponse"
                }
              }
            },
            "description": "Success. Returns list of registered named MPSKs along with their details and associated\npagination information.\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "List Named MPSK registrations",
        "tags": [
          "MPSK Registration"
        ]
      },
      "put": {
        "description": "This API updates the name, user role, and enable status for the registered NamedMPSK.",
        "operationId": "updateNamedMPSK",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateNamedMPSK_request"
              }
            }
          },
          "description": "The input object containing the id for named MPSK.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdaNamedMpskResponse"
                }
              }
            },
            "description": "Success. The Named MPSK registration has been updated."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update Named MPSK registration",
        "tags": [
          "MPSK Registration"
        ],
        "x-codegen-request-body-name": "body"
      },
      "post": {
        "description": "This API registers a Named MPSK configuration to allow network access.",
        "operationId": "createNamedMPSK",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createNamedMPSK_request"
              }
            }
          },
          "description": "The input object containing the Named MPSK config details.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdaNamedMpskResponse"
                }
              }
            },
            "description": "Success. The Named MPSK configuration has been created."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            },
            "description": "Conflict. The resource already exists."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add Named MPSK registration",
        "tags": [
          "MPSK Registration"
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/network-config/v1alpha1/cnac-named-mpsk-reg/export": {
      "get": {
        "description": "This API exports the Named MPSK csv file from Central NAC.",
        "operationId": "exportNamedMPSKCsvFile",
        "parameters": [
          {
            "description": "This field is mandatory for MPSK import.\nIt is used to retrieve the network and the password policy.\n",
            "in": "query",
            "name": "identity-store-id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The sort expression is a field name followed by a direction indicator asc (ascending) or desc (descending).\nThe first value in the expression defines the sort field and the second defines the sort order. If\nexpression is not specified, the default expression is 'createdAt asc'.\nSupported fields are name, enable, userRole, createdAt and modifiedAt.\nExample: name asc\n",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The search string to filter the results.",
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "Success. The file has been exported."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            },
            "description": "File not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Export Named MPSK csv file",
        "tags": [
          "MPSK Registration"
        ]
      }
    },
    "/network-config/v1alpha1/cnac-named-mpsk-reg/import": {
      "post": {
        "description": "This API imports the Named MPSK csv file into Central NAC.",
        "operationId": "importNamedMPSKCsvFile",
        "parameters": [
          {
            "description": "This field is mandatory for MPSK import. It is used to retrieve the network and the password policy.",
            "in": "query",
            "name": "identity-store-id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/importMacCsvFile_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobResponse"
                }
              }
            },
            "description": "Success. The file has been uploaded and the import job has started."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            },
            "description": "File not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Import Named MPSK csv file",
        "tags": [
          "MPSK Registration"
        ]
      }
    },
    "/network-config/v1alpha1/cnac-named-mpsk-reg/{id}": {
      "delete": {
        "description": "This API deletes the registered NamedMPSK to disallow network access.",
        "operationId": "deleteNamedMPSK",
        "parameters": [
          {
            "description": "The ID of the Named MPSK",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "*/*": {
                "example": "204 No Content"
              }
            },
            "description": "Success. The Named MPSK has been deleted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            },
            "description": "Client not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete Named MPSK registration",
        "tags": [
          "MPSK Registration"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BadRequestError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_BAD_REQUEST",
              "HPE_GL_ERROR_MISSING_IDENTIFIER",
              "HPE_GL_ERROR_INSUFFICIENT_PARAMS"
            ],
            "example": "HPE_GL_ERROR_BAD_REQUEST",
            "maxLength": 128,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 400 for Bad Request).",
            "example": 400,
            "format": "int64",
            "maximum": 400,
            "minimum": 400,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "CdaNamedMpskInput": {
        "description": "CreateNamedMPSKInput represents the input for creating a Named MPSK",
        "properties": {
          "enable": {
            "description": "Status of this named MPSK configuration. Can only be enabled or disabled.",
            "type": "boolean",
            "x-go-name": "Enable"
          },
          "name": {
            "description": "Name to identify the MPSK (e.g., example@domain.com)",
            "type": "string",
            "x-go-name": "Name"
          },
          "network": {
            "description": "Network ssid of the named MPSK configuration",
            "type": "string",
            "x-go-name": "Network"
          },
          "passwordPolicy": {
            "description": "The password policy for the named MPSK configuration",
            "enum": [
              "WORDS",
              "ALPHANUMERIC"
            ],
            "type": "string",
            "x-go-name": "PasswordPolicy"
          },
          "userRole": {
            "description": "Aruba Role to be assigned to device connected using this MPSK password.",
            "type": "string",
            "x-go-name": "UserRole"
          }
        },
        "type": "object",
        "x-go-name": "CreateNamedMPSKInput",
        "x-go-package": "cdaservice/nbapi"
      },
      "CdaNamedMpskResponse": {
        "description": "Response type for mutation createCdaNamedMpsk & updateCdaNamedMpsk",
        "properties": {
          "createdAt": {
            "description": "Creation time of the MPSK entity.",
            "type": "string",
            "x-go-name": "CreatedAt"
          },
          "enable": {
            "description": "Status of this named MPSK configuration. Can only be enabled or disabled.",
            "type": "boolean",
            "x-go-name": "Enable"
          },
          "id": {
            "description": "ID of the named MPSK.",
            "type": "string",
            "x-go-name": "ID"
          },
          "modifiedAt": {
            "description": "Modification time of the MPSK entity.",
            "type": "string",
            "x-go-name": "ModifiedAt"
          },
          "mpsk": {
            "description": "The password to be used to connect.",
            "type": "string",
            "x-go-name": "Mpsk"
          },
          "name": {
            "description": "Name of mpsk entity",
            "type": "string",
            "x-go-name": "Name"
          },
          "network": {
            "description": "Name of the CG network, this named MPSK belongs to.",
            "type": "string",
            "x-go-name": "Network"
          },
          "type": {
            "$ref": "#/components/schemas/CdaResourceType"
          },
          "userRole": {
            "description": "Aruba Role to be assigned to device connected using this MPSK",
            "type": "string",
            "x-go-name": "UserRole"
          }
        },
        "required": [
          "id",
          "type"
        ],
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaNamedMpskUpdateInput": {
        "description": "Input type for mutation updateCdaNamedMpsk",
        "properties": {
          "enable": {
            "description": "Status of this named MPSK configuration. Can only be enabled or disabled.",
            "type": "boolean",
            "x-go-name": "Enable"
          },
          "id": {
            "description": "ID of NamedMpsk entity",
            "type": "string",
            "x-go-name": "ID"
          },
          "name": {
            "description": "Name to identify the mpsk",
            "type": "string",
            "x-go-name": "Name"
          },
          "userRole": {
            "description": "Aruba Role to be assigned to device connected using this MPSK password.",
            "type": "string",
            "x-go-name": "UserRole"
          }
        },
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaNamedMpsksResponse": {
        "description": "Represents the response for query listCdaNamedMpsk",
        "properties": {
          "count": {
            "description": "Count of items returned.",
            "format": "int64",
            "type": "integer",
            "x-go-name": "Count"
          },
          "items": {
            "description": "List of Named MPSKs.",
            "items": {
              "$ref": "#/components/schemas/CdaNamedMpskResponse"
            },
            "type": "array",
            "x-go-name": "Items"
          },
          "mpsks": {
            "description": "List of MPSK's.",
            "items": {
              "$ref": "#/components/schemas/CdaNamedMpskResponse"
            },
            "type": "array",
            "x-go-name": "Mpsks"
          },
          "next": {
            "description": "Cursor to the next page.",
            "type": "string",
            "x-go-name": "Next"
          },
          "page": {
            "$ref": "#/components/schemas/CdaPage"
          },
          "total": {
            "description": "Total items available.",
            "format": "int64",
            "type": "integer",
            "x-go-name": "Total"
          }
        },
        "required": [
          "count",
          "items"
        ],
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaPage": {
        "description": "Deprecated: Please use the fields found on the root level of response instead\nof the these fields nested in CdaPage.",
        "properties": {
          "count": {
            "description": "Number of returned items",
            "format": "int64",
            "type": "integer",
            "x-go-name": "Count"
          },
          "cursor": {
            "description": "A cursor that points to a specific position in the dataset, used for pagination",
            "type": "string",
            "x-go-name": "Cursor"
          },
          "limit": {
            "description": "Specifies the number of results to be returned",
            "format": "int64",
            "type": "integer",
            "x-go-name": "Limit"
          }
        },
        "title": "Represents a CdaPage structure.",
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaResourceType": {
        "title": "Available resource types that are served by CDA's Service APIs.",
        "type": "string",
        "x-go-package": "cdaservice/graphql/models"
      },
      "ConflictError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_CONFLICT"
            ],
            "example": "HPE_GL_ERROR_CONFLICT",
            "maxLength": 128,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 400 for Bad Request).",
            "example": 409,
            "format": "int64",
            "maximum": 409,
            "minimum": 409,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "ForbiddenError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_FORBIDDEN"
            ],
            "example": "HPE_GL_ERROR_FORBIDDEN",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 403 for Forbidden).",
            "example": 403,
            "format": "int64",
            "maximum": 403,
            "minimum": 403,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "InternalServerError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_INTERNAL_SERVER_ERROR"
            ],
            "example": "HPE_GL_ERROR_INTERNAL_SERVER_ERROR",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 500 for InternalServerError).",
            "example": 500,
            "format": "int64",
            "maximum": 500,
            "minimum": 500,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "JobResponse": {
        "properties": {
          "jobid": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "x-go-name": "JobIDs"
          }
        },
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "NotFoundError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_NOT_FOUND"
            ],
            "example": "HPE_GL_ERROR_NOT_FOUND",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 404 for NotFound).",
            "example": 404,
            "format": "int64",
            "maximum": 404,
            "minimum": 404,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "ServiceUnavailableError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_SERVICE_UNAVAILABLE"
            ],
            "example": "HPE_GL_ERROR_SERVICE_UNAVAILABLE",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 503 for ServiceUnavailableError).",
            "example": 503,
            "format": "int64",
            "maximum": 503,
            "minimum": 503,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "TooManyRequestsError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_TOO_MANY_REQUESTS"
            ],
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 429 for TooManyRequests).",
            "example": 429,
            "format": "int64",
            "maximum": 429,
            "minimum": 429,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "UnauthorizedError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_UNAUTHORIZED"
            ],
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 401 for Unauthorized).",
            "example": 401,
            "format": "int64",
            "maximum": 401,
            "minimum": 401,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "createNamedMPSK_request": {
        "properties": {
          "input": {
            "$ref": "#/components/schemas/CdaNamedMpskInput"
          }
        },
        "required": [
          "input"
        ],
        "type": "object"
      },
      "importMacCsvFile_request": {
        "properties": {
          "file": {
            "description": "The file to be imported",
            "format": "binary",
            "type": "string"
          }
        },
        "required": [
          "file"
        ],
        "type": "object"
      },
      "updateNamedMPSK_request": {
        "properties": {
          "input": {
            "$ref": "#/components/schemas/CdaNamedMpskUpdateInput"
          }
        },
        "required": [
          "input"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
