{
  "openapi": "3.1.0",
  "info": {
    "title": "Visitor",
    "version": "1.0.0",
    "description": "The Central NAC Service APIs are used for managing network access control policies."
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "description": "To manage visitor account operations",
      "name": "Visitor"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/cnac-visitor": {
      "get": {
        "description": "This API retrieves a list of Visitor accounts.",
        "operationId": "getVisitors",
        "parameters": [
          {
            "description": "Denotes the maximum number of registered visitors to be returned. The default value is 50.",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 50,
              "maximum": 1000,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "description": "Specifies the pagination cursor for the next page of resources.",
            "in": "query",
            "name": "next",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The zero-based resource offset to start the response from.",
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The search value to filter the results on Visitor accounts.",
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The sort expression is a field name followed by a direction indicator asc (ascending) or desc (descending).\nThe first value in the expression defines the sort field and the second defines the sort order. If\nexpression is not specified, the default expression is 'createdAt asc'.\nSupported fields are name, displayName, createdAt and modifiedAt.\nExample: name asc\n",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdaUsersResponse"
                }
              }
            },
            "description": "Success. Returns list of registered visitors along with their details and\nassociated pagination information.\n"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "List visitor accounts",
        "tags": [
          "Visitor"
        ]
      },
      "put": {
        "description": "This API updates fields for a given Visitor account.",
        "operationId": "updateVisitor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateVisitor_request"
              }
            }
          },
          "description": "The input object containing the attributes for the visitor account.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdaUserResponse"
                }
              }
            },
            "description": "Success. The Visitor account has been updated."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Update visitor account",
        "tags": [
          "Visitor"
        ],
        "x-codegen-request-body-name": "body"
      },
      "post": {
        "description": "This API creates a new Visitor account.",
        "operationId": "createVisitor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createVisitor_request"
              }
            }
          },
          "description": "The input object containing the Visitor details.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CdaUserResponse"
                }
              }
            },
            "description": "Success. The Visitor account has been created."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            },
            "description": "Conflict. The resource already exists."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Add visitor account",
        "tags": [
          "Visitor"
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/network-config/v1alpha1/cnac-visitor/export": {
      "get": {
        "description": "This API exports the visitor csv file from Central NAC.",
        "operationId": "exportVisitorCsvFile",
        "parameters": [
          {
            "description": "This field is optional for Visitor export.",
            "in": "query",
            "name": "identity-store-id",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The sort expression is a field name followed by a direction indicator asc (ascending) or desc (descending).\nThe first value in the expression defines the sort field and the second defines the sort order. If\nexpression is not specified, the default expression is 'createdAt asc'.\nSupported fields are name, displayName, createdAt and modifiedAt.\nExample: name asc\n",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The search string to filter the results.",
            "in": "query",
            "name": "search",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "Success. The file has been downloaded."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            },
            "description": "File not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Export visitor csv file",
        "tags": [
          "Visitor"
        ]
      }
    },
    "/network-config/v1alpha1/cnac-visitor/{id}": {
      "delete": {
        "description": "This API deletes the specific Visitor account.",
        "operationId": "deleteVisitor",
        "parameters": [
          {
            "description": "The ID of the Visitor",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "content": {
              "*/*": {
                "example": "204 No Content"
              }
            },
            "description": "Success. The Visitor account has been deleted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            },
            "description": "Bad request. The request is malformed or invalid input received."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            },
            "description": "Unauthorized access."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            },
            "description": "Forbidden. Access is denied."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            },
            "description": "Visitor account not found."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsError"
                }
              }
            },
            "description": "Too many requests. Rate limit exceeded."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            },
            "description": "Internal server error."
          },
          "503": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceUnavailableError"
                }
              }
            },
            "description": "Service unavailable. The server is temporarily unavailable."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete visitor account",
        "tags": [
          "Visitor"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "BadRequestError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_BAD_REQUEST",
              "HPE_GL_ERROR_MISSING_IDENTIFIER",
              "HPE_GL_ERROR_INSUFFICIENT_PARAMS"
            ],
            "example": "HPE_GL_ERROR_BAD_REQUEST",
            "maxLength": 128,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 400 for Bad Request).",
            "example": 400,
            "format": "int64",
            "maximum": 400,
            "minimum": 400,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "CdaChangeNotificationValues": {
        "type": "string",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaUserInput": {
        "description": "Input type for mutation createCdaUser",
        "properties": {
          "authSource": {
            "description": "Authentication source for the account",
            "type": "string",
            "x-go-name": "AuthSource"
          },
          "changeNotification": {
            "$ref": "#/components/schemas/CdaChangeNotificationValues"
          },
          "companyName": {
            "description": "The company name to associate with this account",
            "type": "string",
            "x-go-name": "CompanyName"
          },
          "displayName": {
            "description": "User display Name",
            "type": "string",
            "x-go-name": "DisplayName"
          },
          "email": {
            "description": "User email address",
            "type": "string",
            "x-go-name": "Email"
          },
          "enable": {
            "description": "Enable or disable the user",
            "type": "boolean",
            "x-go-name": "Enable"
          },
          "expireAt": {
            "description": "The date and time at which the system should expire the account by disabling it",
            "type": "string",
            "x-go-name": "ExpireAt"
          },
          "name": {
            "description": "User name",
            "type": "string",
            "x-go-name": "Name"
          },
          "phone": {
            "description": "User phone number in international format (ITU E.164 with \"+\" prefix; e.g. +14082345678)",
            "type": "string",
            "x-go-name": "Phone"
          },
          "vestaPasswordMethod": {
            "$ref": "#/components/schemas/CdaVestaPasswordMethodValues"
          },
          "vestaPasswordParameter": {
            "description": "Parameter to pass code generation",
            "type": "string",
            "x-go-name": "VestaPasswordParameter"
          }
        },
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaUserResponse": {
        "description": "Response type for mutation createCdaUser & updateCdaUser",
        "properties": {
          "authSource": {
            "description": "Authentication source for the account",
            "type": "string",
            "x-go-name": "AuthSource"
          },
          "companyName": {
            "description": "The company name to associate with this account",
            "type": "string",
            "x-go-name": "CompanyName"
          },
          "createdAt": {
            "description": "Creation time of the user account.",
            "type": "string",
            "x-go-name": "CreatedAt"
          },
          "displayName": {
            "description": "User display name",
            "type": "string",
            "x-go-name": "DisplayName"
          },
          "email": {
            "description": "User email address",
            "type": "string",
            "x-go-name": "Email"
          },
          "enable": {
            "description": "Enable or disable the account",
            "type": "boolean",
            "x-go-name": "Enable"
          },
          "expireAt": {
            "description": "The date and time at which the system should expire the account by disabling it",
            "type": "string",
            "x-go-name": "ExpireAt"
          },
          "id": {
            "description": "ID of the user.",
            "type": "string",
            "x-go-name": "ID"
          },
          "modifiedAt": {
            "description": "Modification time of the user account.",
            "type": "string",
            "x-go-name": "ModifiedAt"
          },
          "name": {
            "description": "User name",
            "type": "string",
            "x-go-name": "Name"
          },
          "phone": {
            "description": "User phone number in international format (ITU E.164 with \"+\" prefix; e.g. +14082345678)",
            "type": "string",
            "x-go-name": "Phone"
          },
          "status": {
            "description": "Status for the account",
            "type": "string",
            "x-go-name": "Status"
          }
        },
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaUserUpdateInput": {
        "description": "Input type for mutation updateCdaUser",
        "properties": {
          "authSource": {
            "description": "Authentication source for the account",
            "type": "string",
            "x-go-name": "AuthSource"
          },
          "changeNotification": {
            "$ref": "#/components/schemas/CdaChangeNotificationValues"
          },
          "companyName": {
            "description": "The company name to associate with this account",
            "type": "string",
            "x-go-name": "CompanyName"
          },
          "displayName": {
            "description": "Display Name of the account",
            "type": "string",
            "x-go-name": "DisplayName"
          },
          "email": {
            "description": "User email address",
            "type": "string",
            "x-go-name": "Email"
          },
          "enable": {
            "description": "Enable or disable the account",
            "type": "boolean",
            "x-go-name": "Enable"
          },
          "expireAt": {
            "description": "The date and time at which the system should expire the account by disabling it",
            "type": "string",
            "x-go-name": "ExpireAt"
          },
          "id": {
            "description": "ID of User",
            "type": "string",
            "x-go-name": "ID"
          },
          "name": {
            "description": "User name",
            "type": "string",
            "x-go-name": "Name"
          },
          "phone": {
            "description": "User phone number in international format (ITU E.164 with \"+\" prefix; e.g. +14082345678)",
            "type": "string",
            "x-go-name": "Phone"
          },
          "vestaPasswordMethod": {
            "$ref": "#/components/schemas/CdaVestaPasswordMethodValues"
          },
          "vestaPasswordParameter": {
            "description": "Parameter to pass code generation",
            "type": "string",
            "x-go-name": "VestaPasswordParameter"
          }
        },
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaUsersResponse": {
        "description": "Represents the response for query listCdaUser",
        "properties": {
          "count": {
            "description": "Count of items returned.",
            "format": "int64",
            "type": "integer",
            "x-go-name": "Count"
          },
          "items": {
            "description": "List of Users.",
            "items": {
              "$ref": "#/components/schemas/CdaUserResponse"
            },
            "type": "array",
            "x-go-name": "Items"
          },
          "next": {
            "description": "Cursor to the next page.",
            "type": "string",
            "x-go-name": "Next"
          },
          "total": {
            "description": "Total items available.",
            "format": "int64",
            "type": "integer",
            "x-go-name": "Total"
          }
        },
        "required": [
          "count",
          "items"
        ],
        "type": "object",
        "x-go-package": "cdaservice/graphql/models"
      },
      "CdaVestaPasswordMethodValues": {
        "type": "string",
        "x-go-package": "cdaservice/graphql/models"
      },
      "ConflictError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_CONFLICT"
            ],
            "example": "HPE_GL_ERROR_CONFLICT",
            "maxLength": 128,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 400 for Bad Request).",
            "example": 409,
            "format": "int64",
            "maximum": 409,
            "minimum": 409,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "ForbiddenError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_FORBIDDEN"
            ],
            "example": "HPE_GL_ERROR_FORBIDDEN",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 403 for Forbidden).",
            "example": 403,
            "format": "int64",
            "maximum": 403,
            "minimum": 403,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "InternalServerError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_INTERNAL_SERVER_ERROR"
            ],
            "example": "HPE_GL_ERROR_INTERNAL_SERVER_ERROR",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 500 for InternalServerError).",
            "example": 500,
            "format": "int64",
            "maximum": 500,
            "minimum": 500,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "NotFoundError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_NOT_FOUND"
            ],
            "example": "HPE_GL_ERROR_NOT_FOUND",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 404 for NotFound).",
            "example": 404,
            "format": "int64",
            "maximum": 404,
            "minimum": 404,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "ServiceUnavailableError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_SERVICE_UNAVAILABLE"
            ],
            "example": "HPE_GL_ERROR_SERVICE_UNAVAILABLE",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 503 for ServiceUnavailableError).",
            "example": 503,
            "format": "int64",
            "maximum": 503,
            "minimum": 503,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "TooManyRequestsError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_TOO_MANY_REQUESTS"
            ],
            "example": "HPE_GL_ERROR_TOO_MANY_REQUESTS",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 429 for TooManyRequests).",
            "example": 429,
            "format": "int64",
            "maximum": 429,
            "minimum": 429,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "UnauthorizedError": {
        "properties": {
          "debugId": {
            "description": "A unique identifier used for troubleshooting and debugging purposes.",
            "example": "78f002e32e0cefba3d8cc94fa8179342",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "DebugID"
          },
          "errorCode": {
            "description": "Error code representing the specific error condition.",
            "enum": [
              "HPE_GL_ERROR_UNAUTHORIZED"
            ],
            "example": "HPE_GL_ERROR_UNAUTHORIZED",
            "maxLength": 256,
            "type": "string",
            "x-go-name": "ErrorCode"
          },
          "httpStatusCode": {
            "description": "The HTTP status code indicating the error type (e.g., 401 for Unauthorized).",
            "example": 401,
            "format": "int64",
            "maximum": 401,
            "minimum": 401,
            "type": "integer",
            "x-go-name": "HTTPStatusCode"
          },
          "message": {
            "description": "Error message providing more details about the error.",
            "example": "Reason for the error",
            "maxLength": 512,
            "type": "string",
            "x-go-name": "Message"
          }
        },
        "required": [
          "debugId",
          "errorCode",
          "httpStatusCode",
          "message"
        ],
        "type": "object",
        "x-go-package": "cdaservice/nbapi"
      },
      "createVisitor_request": {
        "properties": {
          "input": {
            "$ref": "#/components/schemas/CdaUserInput"
          }
        },
        "required": [
          "input"
        ],
        "type": "object"
      },
      "updateVisitor_request": {
        "properties": {
          "input": {
            "$ref": "#/components/schemas/CdaUserUpdateInput"
          }
        },
        "required": [
          "input"
        ],
        "type": "object"
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "description": "OAuth 2.0 authentication with client credentials flow. You can also use your own access token.",
        "flows": {
          "clientCredentials": {
            "scopes": {},
            "tokenUrl": "https://sso.common.cloud.hpe.com/as/token.oauth2"
          }
        },
        "type": "oauth2"
      }
    }
  }
}
