{
  "openapi": "3.0.0",
  "info": {
    "title": "Uncategorized",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sso.common.cloud.hpe.com"
    }
  ],
  "paths": {
    "/as/token.oauth2": {
      "post": {
        "summary": "Generate Access Token",
        "description": "This endpoint generates an access token for new Central. The provided API client credentials must be for Central application on the HPE GreenLake Platform. The generated token is valid for 2 hours.",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "client_credentials"
                    ],
                    "default": "client_credentials"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "API Client ID",
                    "example": "<API-Client-ID>"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "API Client Secret",
                    "example": "<API-Client-Secret>"
                  }
                },
                "required": [
                  "grant_type",
                  "client_id",
                  "client_secret"
                ]
              }
            }
          }
        },
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "application/x-www-form-urlencoded"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "The token you can use to make API calls to new Central",
                      "example": "<access_token>"
                    },
                    "token_type": {
                      "type": "string",
                      "description": "Indicates the type of token issued",
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "The duration (in seconds) for which the token is valid",
                      "example": 7200
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
