{
  "openapi": "3.1.0",
  "info": {
    "title": "Dhcp Pool",
    "version": "v1alpha1"
  },
  "servers": [
    {
      "description": "eu",
      "url": "https://de1.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral2",
      "url": "https://de2.api.central.arubanetworks.com"
    },
    {
      "description": "eucentral3",
      "url": "https://de3.api.central.arubanetworks.com"
    },
    {
      "description": "ukwest2",
      "url": "https://gb1.api.central.arubanetworks.com"
    },
    {
      "description": "prod",
      "url": "https://us1.api.central.arubanetworks.com"
    },
    {
      "description": "central-prod2",
      "url": "https://us2.api.central.arubanetworks.com"
    },
    {
      "description": "uswest4",
      "url": "https://us4.api.central.arubanetworks.com"
    },
    {
      "description": "uswest5",
      "url": "https://us5.api.central.arubanetworks.com"
    },
    {
      "description": "us-east-1",
      "url": "https://us6.api.central.arubanetworks.com"
    },
    {
      "description": "starman",
      "url": "https://ca1.api.central.arubanetworks.com"
    },
    {
      "description": "apac",
      "url": "https://in1.api.central.arubanetworks.com"
    },
    {
      "description": "apaceast",
      "url": "https://jp1.api.central.arubanetworks.com"
    },
    {
      "description": "apacsouth",
      "url": "https://au1.api.central.arubanetworks.com"
    },
    {
      "description": "uaenorth1",
      "url": "https://ae1.api.central.arubanetworks.com"
    },
    {
      "description": "china-prod",
      "url": "https://cn1.api.central.arubanetworks.com.cn"
    },
    {
      "description": "internal2",
      "url": "https://internal.api.central.arubanetworks.com"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "tags": [
    {
      "name": "Dhcp Pool"
    }
  ],
  "paths": {
    "/network-config/v1alpha1/dhcp-pool": {
      "get": {
        "description": "Dynamic Host Configuration Protocol (DHCP) pool profiles automate IP\naddress assignment and network configuration delivery to client\ndevices joining the network. DHCP servers use pools to manage\nIPv4/IPv6 address ranges, DNS settings, gateway information, lease\ndurations, and vendor-specific options (DHCP Options 43, 60, etc.).\nThis module supports DHCPv4 and DHCPv6 with static bindings, DDNS\nintegration, and network boot configuration. Requires DDNS profiles\nfor dynamic DNS updates. Device Limits: Gateway supports up to 256\nDHCPv4 static reservations, 1 IP address per DHCPv4 option code. Use\nthis API to retrieve the list of DHCP pool profiles.",
        "operationId": "readDhcpPool",
        "parameters": [
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaDhcpPool_DhcpPoolSchemaGET"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing DHCP pool profiles",
        "tags": [
          "Dhcp Pool"
        ],
        "x-cliParam": {
          "commandName": "readDhcpPoolCmd",
          "commandUse": "dhcp-pool",
          "parentCommand": "readCmd",
          "pathToPrint": "/dhcp-pool/",
          "summary": "Read operation for dhcp-pool"
        }
      }
    },
    "/network-config/v1alpha1/dhcp-pool/{name}": {
      "get": {
        "description": "DHCP pool profile defining address ranges, lease times, DNS servers,\ngateway addresses, domain names, and vendor options for DHCPv4 or\nDHCPv6. Each entity is identified by profile name. Use these APIs\nto create, modify, or delete a DHCP pool profile instance.",
        "operationId": "readDhcpPoolProfileByID",
        "parameters": [
          {
            "description": "DHCPv4/DHCPv6 Pool profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/view_type"
          },
          {
            "$ref": "#/components/parameters/get_object_type"
          },
          {
            "$ref": "#/components/parameters/get_scope_id"
          },
          {
            "$ref": "#/components/parameters/get_device_function"
          },
          {
            "$ref": "#/components/parameters/effective"
          },
          {
            "$ref": "#/components/parameters/detailed"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArubaDhcpPool_DhcpPoolprofileSchemaGet"
                }
              }
            },
            "description": "Successful operation",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Read existing DHCP pool profile",
        "tags": [
          "Dhcp Pool"
        ],
        "x-cliParam": {
          "commandName": "readDhcpPoolProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "readDhcpPoolCmd",
          "pathToPrint": "/dhcp-pool/profile/%s/",
          "summary": "Read operation for profile",
          "totParams": 1
        }
      },
      "put": {
        "description": "DHCP pool profile defining address ranges, lease times, DNS servers,\ngateway addresses, domain names, and vendor options for DHCPv4 or\nDHCPv6. Each entity is identified by profile name. Use these APIs\nto create, modify, or delete a DHCP pool profile instance.",
        "operationId": "replaceDhcpPoolProfileByID",
        "parameters": [
          {
            "description": "DHCPv4/DHCPv6 Pool profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaDhcpPool_DhcpPoolprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create or modify DHCP pool profile",
        "tags": [
          "Dhcp Pool"
        ],
        "x-cliParam": {
          "commandName": "replaceDhcpPoolProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "replaceDhcpPoolCmd",
          "pathToPrint": "/dhcp-pool/profile/%s/",
          "summary": "Replace operation for profile",
          "totParams": 1
        }
      },
      "post": {
        "description": "DHCP pool profile defining address ranges, lease times, DNS servers,\ngateway addresses, domain names, and vendor options for DHCPv4 or\nDHCPv6. Each entity is identified by profile name. Use these APIs\nto create, modify, or delete a DHCP pool profile instance.",
        "operationId": "createDhcpPoolProfileByID",
        "parameters": [
          {
            "description": "DHCPv4/DHCPv6 Pool profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/post_object_type"
          },
          {
            "$ref": "#/components/parameters/post_scope_id"
          },
          {
            "$ref": "#/components/parameters/post_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaDhcpPool_DhcpPoolprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Create a new DHCP pool profile",
        "tags": [
          "Dhcp Pool"
        ],
        "x-cliParam": {
          "commandName": "createDhcpPoolProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "createDhcpPoolCmd",
          "pathToPrint": "/dhcp-pool/profile/%s/",
          "summary": "Create operation for profile",
          "totParams": 1
        }
      },
      "delete": {
        "description": "DHCP pool profile defining address ranges, lease times, DNS servers,\ngateway addresses, domain names, and vendor options for DHCPv4 or\nDHCPv6. Each entity is identified by profile name. Use these APIs\nto create, modify, or delete a DHCP pool profile instance.",
        "operationId": "deleteDhcpPoolProfileByID",
        "parameters": [
          {
            "description": "DHCPv4/DHCPv6 Pool profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/delete_object_type"
          },
          {
            "$ref": "#/components/parameters/delete_scope_id"
          },
          {
            "$ref": "#/components/parameters/delete_device_function"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Delete existing DHCP pool profile",
        "tags": [
          "Dhcp Pool"
        ],
        "x-cliParam": {
          "commandName": "deleteDhcpPoolProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "deleteDhcpPoolCmd",
          "pathToPrint": "/dhcp-pool/profile/%s/",
          "summary": "Delete operation for profile",
          "totParams": 1
        }
      },
      "patch": {
        "description": "DHCP pool profile defining address ranges, lease times, DNS servers,\ngateway addresses, domain names, and vendor options for DHCPv4 or\nDHCPv6. Each entity is identified by profile name. Use these APIs\nto create, modify, or delete a DHCP pool profile instance.",
        "operationId": "updateDhcpPoolProfileByID",
        "parameters": [
          {
            "description": "DHCPv4/DHCPv6 Pool profile name.",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "format": "const",
              "maxLength": 9999,
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/patch_object_type"
          },
          {
            "$ref": "#/components/parameters/patch_scope_id"
          },
          {
            "$ref": "#/components/parameters/patch_device_function"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/ArubaDhcpPool_DhcpPoolprofileSchema"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/200"
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "406": {
            "$ref": "#/components/responses/406"
          },
          "408": {
            "$ref": "#/components/responses/408"
          },
          "412": {
            "$ref": "#/components/responses/412"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ],
        "summary": "Modify DHCP pool profile",
        "tags": [
          "Dhcp Pool"
        ],
        "x-cliParam": {
          "commandName": "updateDhcpPoolProfileCmd",
          "commandUse": "profile",
          "paramKeys": [
            {
              "key": "name"
            }
          ],
          "parentCommand": "updateDhcpPoolCmd",
          "pathToPrint": "/dhcp-pool/profile/%s/",
          "summary": "Update operation for profile",
          "totParams": 1
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ArubaDhcpPool_DhcpPoolGroup": {
        "description": "Grouping for DHCP Pool Configurations",
        "properties": {
          "ipv4-pool": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_PoolCommon"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv4PoolRange"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv4Options"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv4BootpOptions"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv4NamedOptions"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv4StaticBinding"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv4IpmsConfig"
              }
            ],
            "description": "DHCPv4 Server Address Pool",
            "properties": {
              "authoritative-mode": {
                "default": "false",
                "description": "Enables authoritative mode for this pool.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "ddns-http-profile": {
                "description": "Enables Dynamic DNS updates for this pool as per ddns-http profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-ddns-http:ddns-http/ac-ddns-http:profile/ac-ddns-http:name",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "ddns-ietf-profile": {
                "description": "Enables Dynamic DNS updates for this pool as per ddns-ietf profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-ddns:ddns/ac-ddns:profile/ac-ddns:name",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "dynamic-dns": {
                "default": "false",
                "description": "Enables Dynamic DNS updates for this pool.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "dynamic-dns-ptr": {
                "default": "false",
                "description": "Enables Dynamic DNS updates with PTR records for this pool.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway",
              "Access Point"
            ]
          },
          "ipv6-pool": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_PoolCommon"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv6PoolRange"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv6Options"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv6NamedOptions"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv6StaticBinding"
              }
            ],
            "description": "DHCPv6 Server Address Pool",
            "properties": {
              "preference": {
                "description": "Preference",
                "format": "int32",
                "maximum": 255,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpPool_DhcpPoolGroupGet": {
        "description": "Grouping for DHCP Pool Configurations",
        "properties": {
          "ipv4-pool": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_PoolCommonGet"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv4PoolRangeGet"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv4OptionsGet"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv4BootpOptionsGet"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv4NamedOptionsGet"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv4StaticBindingGet"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv4IpmsConfigGet"
              }
            ],
            "description": "DHCPv4 Server Address Pool",
            "properties": {
              "authoritative-mode": {
                "default": "false",
                "description": "Enables authoritative mode for this pool.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Switch PVOS"
                ]
              },
              "ddns-http-profile": {
                "description": "Enables Dynamic DNS updates for this pool as per ddns-http profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-ddns-http:ddns-http/ac-ddns-http:profile/ac-ddns-http:name",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "ddns-ietf-profile": {
                "description": "Enables Dynamic DNS updates for this pool as per ddns-ietf profile.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-path": "/ac-ddns:ddns/ac-ddns:profile/ac-ddns:name",
                "x-supportedDeviceType": [
                  "Access Point",
                  "Gateway"
                ]
              },
              "dynamic-dns": {
                "default": "false",
                "description": "Enables Dynamic DNS updates for this pool.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              },
              "dynamic-dns-ptr": {
                "default": "false",
                "description": "Enables Dynamic DNS updates with PTR records for this pool.",
                "type": "boolean",
                "x-supportedDeviceType": [
                  "Access Point"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway",
              "Access Point"
            ]
          },
          "ipv6-pool": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_PoolCommonGet"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv6PoolRangeGet"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv6OptionsGet"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv6NamedOptionsGet"
              },
              {
                "$ref": "#/components/schemas/ArubaDhcpPool_Dhcpv6StaticBindingGet"
              }
            ],
            "description": "DHCPv6 Server Address Pool",
            "properties": {
              "preference": {
                "description": "Preference",
                "format": "int32",
                "maximum": 255,
                "minimum": 1,
                "type": "integer",
                "x-supportedDeviceType": [
                  "Gateway"
                ]
              }
            },
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpPool_DhcpPoolSchemaGET": {
        "description": "Dynamic Host Configuration Protocol (DHCP) pool profiles automate IP\naddress assignment and network configuration delivery to client\ndevices joining the network. DHCP servers use pools to manage\nIPv4/IPv6 address ranges, DNS settings, gateway information, lease\ndurations, and vendor-specific options (DHCP Options 43, 60, etc.).\nThis module supports DHCPv4 and DHCPv6 with static bindings, DDNS\nintegration, and network boot configuration. Requires DDNS profiles\nfor dynamic DNS updates. Device Limits: Gateway supports up to 256\nDHCPv4 static reservations, 1 IP address per DHCPv4 option code. Use\nthis API to retrieve the list of DHCP pool profiles.",
        "properties": {
          "profile": {
            "description": "DHCP pool profile defining address ranges, lease times, DNS servers,\ngateway addresses, domain names, and vendor options for DHCPv4 or\nDHCPv6. Each entity is identified by profile name. Use these APIs\nto create, modify, or delete a DHCP pool profile instance.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaDhcpPool_DhcpPoolGroupGet"
                },
                {
                  "properties": {
                    "description": {
                      "description": "DHCPv4/DHCPv6 Pool profile description.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string"
                    },
                    "ip-version": {
                      "description": "IPv4 or IPv6 version",
                      "enum": [
                        "UNKNOWN",
                        "IPV4",
                        "IPV6"
                      ],
                      "format": "enum",
                      "type": "string",
                      "x-enumDescriptions": {
                        "IPV4": "The IPv4 protocol as defined in RFC 791.",
                        "IPV6": "The IPv6 protocol as defined in RFC 2460.",
                        "UNKNOWN": "An unknown or unspecified version of the Internet\nprotocol."
                      },
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Gateway"
                      ],
                      "x-typeDescription": "This value represents the version of the IP protocol.\nNote that integer representation of the enumerated values\nare not specified, and are not required to follow the\nInetVersion textual convention in SMIv2."
                    },
                    "name": {
                      "description": "DHCPv4/DHCPv6 Pool profile name.",
                      "format": "const",
                      "maxLength": 256,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Gateway"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "name"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway",
              "Access Point"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Gateway",
          "Access Point"
        ]
      },
      "ArubaDhcpPool_DhcpPoolprofileSchema": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaDhcpPool_DhcpPoolGroup"
          },
          {
            "properties": {
              "description": {
                "description": "DHCPv4/DHCPv6 Pool profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "ip-version": {
                "description": "IPv4 or IPv6 version",
                "enum": [
                  "UNKNOWN",
                  "IPV4",
                  "IPV6"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "IPV4": "The IPv4 protocol as defined in RFC 791.",
                  "IPV6": "The IPv6 protocol as defined in RFC 2460.",
                  "UNKNOWN": "An unknown or unspecified version of the Internet\nprotocol."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ],
                "x-typeDescription": "This value represents the version of the IP protocol.\nNote that integer representation of the enumerated values\nare not specified, and are not required to follow the\nInetVersion textual convention in SMIv2."
              },
              "name": {
                "description": "DHCPv4/DHCPv6 Pool profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              }
            }
          }
        ]
      },
      "ArubaDhcpPool_DhcpPoolprofileSchemaGet": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ArubaDhcpPool_DhcpPoolGroupGet"
          },
          {
            "properties": {
              "description": {
                "description": "DHCPv4/DHCPv6 Pool profile description.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string"
              },
              "ip-version": {
                "description": "IPv4 or IPv6 version",
                "enum": [
                  "UNKNOWN",
                  "IPV4",
                  "IPV6"
                ],
                "format": "enum",
                "type": "string",
                "x-enumDescriptions": {
                  "IPV4": "The IPv4 protocol as defined in RFC 791.",
                  "IPV6": "The IPv6 protocol as defined in RFC 2460.",
                  "UNKNOWN": "An unknown or unspecified version of the Internet\nprotocol."
                },
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ],
                "x-typeDescription": "This value represents the version of the IP protocol.\nNote that integer representation of the enumerated values\nare not specified, and are not required to follow the\nInetVersion textual convention in SMIv2."
              },
              "name": {
                "description": "DHCPv4/DHCPv6 Pool profile name.",
                "format": "const",
                "maxLength": 256,
                "minLength": 1,
                "type": "string",
                "x-supportedDeviceType": [
                  "Switch CX",
                  "Gateway"
                ]
              }
            }
          }
        ]
      },
      "ArubaDhcpPool_Dhcpv4BootpOptions": {
        "description": "Grouping for DHCPv4 Bootp Options Configurations",
        "properties": {
          "bootfile-name": {
            "description": "Boot Filename to be provided to dhcpv4\nhosts as a boot file.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "next-server": {
            "description": "TFTP Next Server address to be used for netboot",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "tftp-server-address": {
            "description": "TFTP server address to be used for netboot.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "tftp-server-name": {
            "description": "TFTP server name to be used for netboot.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv4BootpOptionsGet": {
        "description": "Grouping for DHCPv4 Bootp Options Configurations",
        "properties": {
          "bootfile-name": {
            "description": "Boot Filename to be provided to dhcpv4\nhosts as a boot file.",
            "format": "const",
            "maxLength": 128,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Gateway"
            ]
          },
          "next-server": {
            "description": "TFTP Next Server address to be used for netboot",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "tftp-server-address": {
            "description": "TFTP server address to be used for netboot.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "ipv4-address",
            "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
          },
          "tftp-server-name": {
            "description": "TFTP server name to be used for netboot.",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch PVOS"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv4IpmsConfig": {
        "description": "Grouping for IPMS related fields of dhcp pool.",
        "properties": {
          "ipms-dhcp-pool-id": {
            "description": "When uses-ipms-pool is true, this id refers to the IPMS-DHCP-POOL\nfrom which the DHCP pool range will be assigned",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-ipms:ipms-config/ac-ipms:address-pool/ac-ipms:pool-id",
            "x-patternSources": "pool-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'",
            "x-supportedDeviceType": [
              "Gateway",
              "Access Point"
            ]
          },
          "uses-ipms-pool": {
            "default": "false",
            "description": "If this is set to true, the pool range will be assigned\nby IPMS from IPMS-DHCP-POOL, referred by leaf ipms-dhcp-pool-id",
            "type": "boolean"
          }
        }
      },
      "ArubaDhcpPool_Dhcpv4IpmsConfigGet": {
        "description": "Grouping for IPMS related fields of dhcp pool.",
        "properties": {
          "ipms-dhcp-pool-id": {
            "description": "When uses-ipms-pool is true, this id refers to the IPMS-DHCP-POOL\nfrom which the DHCP pool range will be assigned",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-path": "/ac-ipms:ipms-config/ac-ipms:address-pool/ac-ipms:pool-id",
            "x-patternSources": "pool-id",
            "x-patterns": "'[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}'",
            "x-supportedDeviceType": [
              "Gateway",
              "Access Point"
            ]
          },
          "uses-ipms-pool": {
            "default": "false",
            "description": "If this is set to true, the pool range will be assigned\nby IPMS from IPMS-DHCP-POOL, referred by leaf ipms-dhcp-pool-id",
            "type": "boolean"
          }
        }
      },
      "ArubaDhcpPool_Dhcpv4NamedOptions": {
        "description": "Grouping for DHCPv4 Named Options Configurations",
        "properties": {
          "default-router": {
            "description": "Default Router",
            "items": {
              "description": "Default Router",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-address",
              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
              "x-supportedDeviceType": [
                "Switch CX",
                "Gateway",
                "Switch PVOS",
                "Access Point"
              ],
              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
            },
            "maxItems": 8,
            "type": "array"
          },
          "dns-config-mode": {
            "description": "DNS Server Configuration Mode (Import/Manual)",
            "enum": [
              "IMPORT",
              "MANUAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IMPORT": "Server Entry Imported",
              "MANUAL": "Server Entry Configured"
            },
            "x-typeDescription": "DNS Server Configuration Modes"
          },
          "dns-import": {
            "description": "Specifies the method for importing DNS server configurations when the 'dns-config-mode' is set to 'IMPORT'.",
            "enum": [
              "DHCP",
              "DEVICE_IP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DEVICE_IP": "Import from system/device IPv4 or IPv6 Address",
              "DHCP": "Import from DHCP"
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "Domain Name System (DNS) Server Import Option"
          },
          "dns-server": {
            "description": "DNS Server Address",
            "items": {
              "description": "DNS Server Address",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-address",
              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
              "x-supportedDeviceType": [
                "Switch CX",
                "Gateway",
                "Access Point",
                "Switch PVOS"
              ],
              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
            },
            "maxItems": 8,
            "type": "array"
          },
          "domain": {
            "description": "Domain Name",
            "format": "pattern",
            "maxLength": 253,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "domain-name",
            "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ],
            "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
          },
          "netbios-config-mode": {
            "description": "NetBIOS Server Configuration Mode (Import/Manual)",
            "enum": [
              "IMPORT",
              "MANUAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IMPORT": "Server Entry Imported",
              "MANUAL": "Server Entry Configured"
            },
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "NetBIOS Server Configuration Modes"
          },
          "netbios-import": {
            "description": "NetBIOS Server Import Option",
            "enum": [
              "DHCP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DHCP": "Import from DHCP"
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Network Basic Input/Output System (NetBIOS) Server Import Option"
          },
          "netbios-node": {
            "description": "NetBIOS Node Type",
            "enum": [
              "BROADCAST",
              "HYBRID",
              "MIXED",
              "PEER_TO_PEER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BROADCAST": "Broadcast node",
              "HYBRID": "Hybrid node",
              "MIXED": "Mixed node",
              "PEER_TO_PEER": "Peer to peer node"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "NetBIOS Node Type"
          },
          "netbios-server": {
            "description": "NetBIOS Server Address",
            "items": {
              "description": "NetBIOS Server Address",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-address",
              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
              "x-supportedDeviceType": [
                "Switch PVOS",
                "Gateway"
              ],
              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
            },
            "maxItems": 8,
            "type": "array"
          },
          "vendor-class-identifier": {
            "default": "false",
            "description": "Vendor Class Identifier to\n send Aruba AP Vendor ID to\n clients",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv4NamedOptionsGet": {
        "description": "Grouping for DHCPv4 Named Options Configurations",
        "properties": {
          "default-router": {
            "description": "Default Router",
            "items": {
              "description": "Default Router",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-address",
              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
              "x-supportedDeviceType": [
                "Switch CX",
                "Gateway",
                "Switch PVOS",
                "Access Point"
              ],
              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
            },
            "maxItems": 8,
            "type": "array"
          },
          "dns-config-mode": {
            "description": "DNS Server Configuration Mode (Import/Manual)",
            "enum": [
              "IMPORT",
              "MANUAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IMPORT": "Server Entry Imported",
              "MANUAL": "Server Entry Configured"
            },
            "x-typeDescription": "DNS Server Configuration Modes"
          },
          "dns-import": {
            "description": "Specifies the method for importing DNS server configurations when the 'dns-config-mode' is set to 'IMPORT'.",
            "enum": [
              "DHCP",
              "DEVICE_IP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DEVICE_IP": "Import from system/device IPv4 or IPv6 Address",
              "DHCP": "Import from DHCP"
            },
            "x-supportedDeviceType": [
              "Access Point",
              "Gateway"
            ],
            "x-typeDescription": "Domain Name System (DNS) Server Import Option"
          },
          "dns-server": {
            "description": "DNS Server Address",
            "items": {
              "description": "DNS Server Address",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-address",
              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
              "x-supportedDeviceType": [
                "Switch CX",
                "Gateway",
                "Access Point",
                "Switch PVOS"
              ],
              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
            },
            "maxItems": 8,
            "type": "array"
          },
          "domain": {
            "description": "Domain Name",
            "format": "pattern",
            "maxLength": 253,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "domain-name",
            "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
            "x-supportedDeviceType": [
              "Access Point",
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ],
            "x-typeDescription": "The domain-name type represents a DNS domain name.\nFully quallified left to the models which utilize this type.\n\nInternet domain names are only loosely specified.  Section\n3.5 of RFC 1034 recommends a syntax (modified in Section\n2.1 of RFC 1123).  The pattern above is intended to allow\nfor current practice in domain name use, and some possible\nfuture expansion.  It is designed to hold various types of\ndomain names, including names used for A or AAAA records\n(host names) and other records, such as SRV records.  Note\nthat Internet host names have a stricter syntax (described\nin RFC 952) than the DNS recommendations in RFCs 1034 and\n1123, and that systems that want to store host names in\nschema nodes using the domain-name type are recommended to\nadhere to this stricter standard to ensure interoperability.\n\nThe encoding of DNS names in the DNS protocol is limited\nto 255 characters.  Since the encoding consists of labels\nprefixed by a length bytes and there is a trailing NULL\nbyte, only 253 characters can appear in the textual dotted\nnotation.\n\nDomain-name values use the US-ASCII encoding.  Their canonical\nformat uses lowercase US-ASCII characters.  Internationalized\ndomain names MUST be encoded in punycode as described in RFC\n3492"
          },
          "netbios-config-mode": {
            "description": "NetBIOS Server Configuration Mode (Import/Manual)",
            "enum": [
              "IMPORT",
              "MANUAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IMPORT": "Server Entry Imported",
              "MANUAL": "Server Entry Configured"
            },
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX",
              "Switch PVOS"
            ],
            "x-typeDescription": "NetBIOS Server Configuration Modes"
          },
          "netbios-import": {
            "description": "NetBIOS Server Import Option",
            "enum": [
              "DHCP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DHCP": "Import from DHCP"
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Network Basic Input/Output System (NetBIOS) Server Import Option"
          },
          "netbios-node": {
            "description": "NetBIOS Node Type",
            "enum": [
              "BROADCAST",
              "HYBRID",
              "MIXED",
              "PEER_TO_PEER"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "BROADCAST": "Broadcast node",
              "HYBRID": "Hybrid node",
              "MIXED": "Mixed node",
              "PEER_TO_PEER": "Peer to peer node"
            },
            "x-supportedDeviceType": [
              "Switch PVOS"
            ],
            "x-typeDescription": "NetBIOS Node Type"
          },
          "netbios-server": {
            "description": "NetBIOS Server Address",
            "items": {
              "description": "NetBIOS Server Address",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv4-address",
              "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
              "x-supportedDeviceType": [
                "Switch PVOS",
                "Gateway"
              ],
              "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
            },
            "maxItems": 8,
            "type": "array"
          },
          "vendor-class-identifier": {
            "default": "false",
            "description": "Vendor Class Identifier to\n send Aruba AP Vendor ID to\n clients",
            "type": "boolean",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv4Options": {
        "description": "Grouping for DHCPv4 Option Configurations",
        "properties": {
          "option": {
            "description": "Client Specific DHCPv4 Options",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaDhcpPool_OptionsCommon"
                },
                {
                  "properties": {
                    "ascii": {
                      "description": "Value for the DHCP option as an ASCII string.",
                      "format": "const",
                      "maxLength": 254,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Access Point",
                        "Switch PVOS",
                        "Gateway"
                      ]
                    },
                    "hex": {
                      "description": "Value for the DHCP option as a hexadecimal string.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "hex-string",
                      "x-patterns": "'[0-9a-fA-F]*'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS",
                        "Gateway"
                      ],
                      "x-typeDescription": "A string consisting of a hexadecimal characters."
                    },
                    "ip": {
                      "description": "List of IPv4 addresses.",
                      "items": {
                        "description": "List of IPv4 addresses.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv4-address",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS",
                          "Gateway"
                        ],
                        "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                      },
                      "maxItems": 4,
                      "type": "array"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "opcode"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway",
              "Access Point"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv4OptionsGet": {
        "description": "Grouping for DHCPv4 Option Configurations",
        "properties": {
          "option": {
            "description": "Client Specific DHCPv4 Options",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaDhcpPool_OptionsCommonGet"
                },
                {
                  "properties": {
                    "ascii": {
                      "description": "Value for the DHCP option as an ASCII string.",
                      "format": "const",
                      "maxLength": 254,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Access Point",
                        "Switch PVOS",
                        "Gateway"
                      ]
                    },
                    "hex": {
                      "description": "Value for the DHCP option as a hexadecimal string.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "hex-string",
                      "x-patterns": "'[0-9a-fA-F]*'",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Switch PVOS",
                        "Gateway"
                      ],
                      "x-typeDescription": "A string consisting of a hexadecimal characters."
                    },
                    "ip": {
                      "description": "List of IPv4 addresses.",
                      "items": {
                        "description": "List of IPv4 addresses.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv4-address",
                        "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Switch PVOS",
                          "Gateway"
                        ],
                        "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                      },
                      "maxItems": 4,
                      "type": "array"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "opcode"
            ],
            "x-supportedDeviceType": [
              "Switch PVOS",
              "Switch CX",
              "Gateway",
              "Access Point"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv4PoolRange": {
        "description": "Grouping for DHCPv4 Pool Range Configurations",
        "properties": {
          "addl-range": {
            "description": "The address range for DHCPv4 Pool.",
            "items": {
              "properties": {
                "addl-start-ipv4-addl-end-ipv4": {
                  "description": "Key combination of addl-start-ipv4, addl-end-ipv4 separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                },
                "prefix-len": {
                  "description": "Prefix length for the assigned IPv4 address.",
                  "format": "int32",
                  "maximum": 31,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "addlStartIpv4AddlEndIpv4"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "prefix-len": {
            "description": "Prefix length for the assigned IPv4 address.",
            "format": "int32",
            "maximum": 31,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "range": {
            "description": "Defines a contiguous range of IPv4 addresses that can be dynamically assigned to DHCP clients.",
            "items": {
              "properties": {
                "start-ipv4-end-ipv4": {
                  "description": "Key combination of start-ipv4, end-ipv4 separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "startIpv4EndIpv4"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv4PoolRangeGet": {
        "description": "Grouping for DHCPv4 Pool Range Configurations",
        "properties": {
          "addl-range": {
            "description": "The address range for DHCPv4 Pool.",
            "items": {
              "properties": {
                "addl-start-ipv4-addl-end-ipv4": {
                  "description": "Key combination of addl-start-ipv4, addl-end-ipv4 separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                },
                "prefix-len": {
                  "description": "Prefix length for the assigned IPv4 address.",
                  "format": "int32",
                  "maximum": 31,
                  "minimum": 1,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "addlStartIpv4AddlEndIpv4"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "prefix-len": {
            "description": "Prefix length for the assigned IPv4 address.",
            "format": "int32",
            "maximum": 31,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "range": {
            "description": "Defines a contiguous range of IPv4 addresses that can be dynamically assigned to DHCP clients.",
            "items": {
              "properties": {
                "start-ipv4-end-ipv4": {
                  "description": "Key combination of start-ipv4, end-ipv4 separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "startIpv4EndIpv4"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Switch PVOS",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv4StaticBinding": {
        "description": "Grouping for DHCPv4 Static Binding Configurations",
        "properties": {
          "static-binding-ipv4": {
            "description": "DHCPv4 static bindings",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaDhcpPool_StaticBindingCommon"
                },
                {
                  "properties": {
                    "ipaddress": {
                      "description": "Static IPv4 address that\nshould be assigned to the host",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "mac": {
                      "description": "MAC address of the DHCP host.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "mac-address",
                      "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "An IEEE 802 MAC address"
                    },
                    "netmask": {
                      "description": "Network mask",
                      "format": "int32",
                      "maximum": 31,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "mac"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv4StaticBindingGet": {
        "description": "Grouping for DHCPv4 Static Binding Configurations",
        "properties": {
          "static-binding-ipv4": {
            "description": "DHCPv4 static bindings",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaDhcpPool_StaticBindingCommonGet"
                },
                {
                  "properties": {
                    "ipaddress": {
                      "description": "Static IPv4 address that\nshould be assigned to the host",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv4-address",
                      "x-patterns": "'([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\.([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])){3}'",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "An IPv4 address in dotted quad notation using the default\nzone."
                    },
                    "mac": {
                      "description": "MAC address of the DHCP host.",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "mac-address",
                      "x-patterns": "'[0-9a-fA-F]{2}(:[0-9a-fA-F]{2}){5}'",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ],
                      "x-typeDescription": "An IEEE 802 MAC address"
                    },
                    "netmask": {
                      "description": "Network mask",
                      "format": "int32",
                      "maximum": 31,
                      "minimum": 1,
                      "type": "integer",
                      "x-supportedDeviceType": [
                        "Switch PVOS"
                      ]
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "mac"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv6NamedOptions": {
        "description": "Grouping for DHCPv6 Named Options Configurations",
        "properties": {
          "dns-config-mode": {
            "description": "DNS Server Configuration Mode (Import/Manual)",
            "enum": [
              "IMPORT",
              "MANUAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IMPORT": "Server Entry Imported",
              "MANUAL": "Server Entry Configured"
            },
            "x-typeDescription": "DNS Server Configuration Modes"
          },
          "dns-import": {
            "description": "DNS Server Import Option",
            "enum": [
              "DHCP",
              "DEVICE_IP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DEVICE_IP": "Import from system/device IPv4 or IPv6 Address",
              "DHCP": "Import from DHCP"
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Domain Name System (DNS) Server Import Option"
          },
          "dns-server": {
            "description": "DNS Server Address",
            "items": {
              "description": "DNS Server Address",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv6-address",
              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
              "x-supportedDeviceType": [
                "Switch CX",
                "Gateway"
              ],
              "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
            },
            "maxItems": 8,
            "type": "array"
          },
          "domain": {
            "description": "Domain Name",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "domain",
            "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "vendor-class-en": {
            "description": "Vendor Class Enterprise Number",
            "format": "int64",
            "maximum": 100000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vendor-class-identifier": {
            "description": "Vendor Class Identifier",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vendor-data": {
            "description": "Vendor Data Specific Option Data",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vendor-data-en": {
            "description": "Vendor Data Enterprise Number",
            "format": "int64",
            "maximum": 100000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vendor-data-suboption": {
            "description": "Vendor Data Specific Option Code",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv6NamedOptionsGet": {
        "description": "Grouping for DHCPv6 Named Options Configurations",
        "properties": {
          "dns-config-mode": {
            "description": "DNS Server Configuration Mode (Import/Manual)",
            "enum": [
              "IMPORT",
              "MANUAL"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "IMPORT": "Server Entry Imported",
              "MANUAL": "Server Entry Configured"
            },
            "x-typeDescription": "DNS Server Configuration Modes"
          },
          "dns-import": {
            "description": "DNS Server Import Option",
            "enum": [
              "DHCP",
              "DEVICE_IP"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "DEVICE_IP": "Import from system/device IPv4 or IPv6 Address",
              "DHCP": "Import from DHCP"
            },
            "x-supportedDeviceType": [
              "Gateway"
            ],
            "x-typeDescription": "Domain Name System (DNS) Server Import Option"
          },
          "dns-server": {
            "description": "DNS Server Address",
            "items": {
              "description": "DNS Server Address",
              "format": "pattern",
              "maxLength": 9999,
              "type": "string",
              "x-patternSources": "ipv6-address",
              "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
              "x-supportedDeviceType": [
                "Switch CX",
                "Gateway"
              ],
              "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
            },
            "maxItems": 8,
            "type": "array"
          },
          "domain": {
            "description": "Domain Name",
            "format": "pattern",
            "maxLength": 256,
            "minLength": 1,
            "type": "string",
            "x-patternSources": "domain",
            "x-patterns": "'(((([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.)*([a-zA-Z0-9_]([a-zA-Z0-9\\-_]){0,61})?[a-zA-Z0-9]\\.?)|\\.)'",
            "x-supportedDeviceType": [
              "Gateway"
            ]
          },
          "vendor-class-en": {
            "description": "Vendor Class Enterprise Number",
            "format": "int64",
            "maximum": 100000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vendor-class-identifier": {
            "description": "Vendor Class Identifier",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vendor-data": {
            "description": "Vendor Data Specific Option Data",
            "format": "const",
            "maxLength": 255,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vendor-data-en": {
            "description": "Vendor Data Enterprise Number",
            "format": "int64",
            "maximum": 100000,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "vendor-data-suboption": {
            "description": "Vendor Data Specific Option Code",
            "format": "int32",
            "maximum": 255,
            "minimum": 1,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv6Options": {
        "description": "Grouping for DHCPv6 Option Configurations",
        "properties": {
          "option": {
            "description": "Client Specific DHCPv6 Options",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaDhcpPool_OptionsCommon"
                },
                {
                  "properties": {
                    "ascii": {
                      "description": "ASCII Option",
                      "format": "const",
                      "maxLength": 512,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Gateway"
                      ]
                    },
                    "hex": {
                      "description": "Hexadecimal Option",
                      "format": "const",
                      "maxLength": 254,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "ip": {
                      "description": "List of IPv6 addresses.",
                      "items": {
                        "description": "List of IPv6 addresses.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv6-address",
                        "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Gateway"
                        ],
                        "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                      },
                      "maxItems": 4,
                      "type": "array"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "opcode"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv6OptionsGet": {
        "description": "Grouping for DHCPv6 Option Configurations",
        "properties": {
          "option": {
            "description": "Client Specific DHCPv6 Options",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaDhcpPool_OptionsCommonGet"
                },
                {
                  "properties": {
                    "ascii": {
                      "description": "ASCII Option",
                      "format": "const",
                      "maxLength": 512,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX",
                        "Gateway"
                      ]
                    },
                    "hex": {
                      "description": "Hexadecimal Option",
                      "format": "const",
                      "maxLength": 254,
                      "minLength": 1,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "ip": {
                      "description": "List of IPv6 addresses.",
                      "items": {
                        "description": "List of IPv6 addresses.",
                        "format": "pattern",
                        "maxLength": 9999,
                        "type": "string",
                        "x-patternSources": "ipv6-address",
                        "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                        "x-supportedDeviceType": [
                          "Switch CX",
                          "Gateway"
                        ],
                        "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                      },
                      "maxItems": 4,
                      "type": "array"
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "opcode"
            ],
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv6PoolRange": {
        "description": "Grouping for DHCPv6 Pool Range Configurations",
        "properties": {
          "addl-range6": {
            "description": "The address range for DHCPv6 Pool.",
            "items": {
              "properties": {
                "addl-start-ipv6-addl-end-ipv6": {
                  "description": "Key combination of addl-start-ipv6, addl-end-ipv6 separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                },
                "prefix-len": {
                  "description": "Prefix length for the assigned IPv6 address.",
                  "format": "int32",
                  "maximum": 128,
                  "minimum": 64,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "addlStartIpv6AddlEndIpv6"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "prefix-len": {
            "description": "Prefix length for the assigned IPv4 address.",
            "format": "int32",
            "maximum": 128,
            "minimum": 64,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "range6": {
            "description": "The address range for DHCPv6 Pool.",
            "items": {
              "properties": {
                "start-ipv6-end-ipv6": {
                  "description": "Key combination of start-ipv6, end-ipv6 separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "startIpv6EndIpv6"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv6PoolRangeGet": {
        "description": "Grouping for DHCPv6 Pool Range Configurations",
        "properties": {
          "addl-range6": {
            "description": "The address range for DHCPv6 Pool.",
            "items": {
              "properties": {
                "addl-start-ipv6-addl-end-ipv6": {
                  "description": "Key combination of addl-start-ipv6, addl-end-ipv6 separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                },
                "prefix-len": {
                  "description": "Prefix length for the assigned IPv6 address.",
                  "format": "int32",
                  "maximum": 128,
                  "minimum": 64,
                  "type": "integer",
                  "x-supportedDeviceType": [
                    "Switch CX"
                  ]
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "addlStartIpv6AddlEndIpv6"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          },
          "prefix-len": {
            "description": "Prefix length for the assigned IPv4 address.",
            "format": "int32",
            "maximum": 128,
            "minimum": 64,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway"
            ]
          },
          "range6": {
            "description": "The address range for DHCPv6 Pool.",
            "items": {
              "properties": {
                "start-ipv6-end-ipv6": {
                  "description": "Key combination of start-ipv6, end-ipv6 separated by ~",
                  "format": "const",
                  "maxLength": 9999,
                  "type": "string"
                }
              }
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "startIpv6EndIpv6"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpPool_Dhcpv6StaticBinding": {
        "description": "Grouping for DHCPv6 Static Binding Configurations",
        "properties": {
          "static-binding-ipv6": {
            "description": "DHCPv6 static bindings",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaDhcpPool_StaticBindingCommon"
                },
                {
                  "properties": {
                    "client-id": {
                      "description": "Client id or DUID of the DHCPv6 client\nto which the configured static IPv6 address\nwould be assigned.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 2,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "ipaddress": {
                      "description": "Static IPv6 address that\nshould be assigned to the host",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ipaddress"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaDhcpPool_Dhcpv6StaticBindingGet": {
        "description": "Grouping for DHCPv6 Static Binding Configurations",
        "properties": {
          "static-binding-ipv6": {
            "description": "DHCPv6 static bindings",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ArubaDhcpPool_StaticBindingCommonGet"
                },
                {
                  "properties": {
                    "client-id": {
                      "description": "Client id or DUID of the DHCPv6 client\nto which the configured static IPv6 address\nwould be assigned.",
                      "format": "const",
                      "maxLength": 64,
                      "minLength": 2,
                      "type": "string",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ]
                    },
                    "ipaddress": {
                      "description": "Static IPv6 address that\nshould be assigned to the host",
                      "format": "pattern",
                      "maxLength": 9999,
                      "type": "string",
                      "x-patternSources": "ipv6-address",
                      "x-patterns": "'(([0-9a-fA-F]{1,4}:){7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:))'",
                      "x-supportedDeviceType": [
                        "Switch CX"
                      ],
                      "x-typeDescription": "An IPv6 address represented as either a full address; shortened\nor mixed-shortened formats, using the default zone."
                    }
                  }
                }
              ]
            },
            "maxItems": 2147483647,
            "type": "array",
            "x-key": [
              "ipaddress"
            ],
            "x-supportedDeviceType": [
              "Switch CX"
            ]
          }
        },
        "x-supportedDeviceType": [
          "Switch CX"
        ]
      },
      "ArubaDhcpPool_OptionsCommon": {
        "description": "Grouping for DHCP Option Configurations",
        "properties": {
          "opcode": {
            "description": "DHCP option code.",
            "format": "int32",
            "maximum": 254,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Access Point",
              "Gateway",
              "Switch PVOS"
            ]
          },
          "opcode-type": {
            "description": "Opcode Type: IPv4/IPv6 address, ASCII, Hexadecimal.",
            "enum": [
              "IP_ADDRESS",
              "IPV6_ADDRESS",
              "ASCII",
              "HEX"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ASCII": "American Standard Code for Information Interchange",
              "HEX": "Hexadecimal",
              "IPV6_ADDRESS": "IPv6 Address",
              "IP_ADDRESS": "IPv4 or IPv6 Address"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ],
            "x-typeDescription": "DHCP Option Opcode Entry"
          }
        }
      },
      "ArubaDhcpPool_OptionsCommonGet": {
        "description": "Grouping for DHCP Option Configurations",
        "properties": {
          "opcode": {
            "description": "DHCP option code.",
            "format": "int32",
            "maximum": 254,
            "minimum": 0,
            "type": "integer",
            "x-supportedDeviceType": [
              "Switch CX",
              "Access Point",
              "Gateway",
              "Switch PVOS"
            ]
          },
          "opcode-type": {
            "description": "Opcode Type: IPv4/IPv6 address, ASCII, Hexadecimal.",
            "enum": [
              "IP_ADDRESS",
              "IPV6_ADDRESS",
              "ASCII",
              "HEX"
            ],
            "format": "enum",
            "type": "string",
            "x-enumDescriptions": {
              "ASCII": "American Standard Code for Information Interchange",
              "HEX": "Hexadecimal",
              "IPV6_ADDRESS": "IPv6 Address",
              "IP_ADDRESS": "IPv4 or IPv6 Address"
            },
            "x-supportedDeviceType": [
              "Switch CX",
              "Gateway",
              "Switch PVOS"
            ],
            "x-typeDescription": "DHCP Option Opcode Entry"
          }
        }
      },
      "ArubaDhcpPool_PoolCommon": {
        "description": "Grouping for DHCP Common Configurations",
        "properties": {
          "lease-time": {
            "default": "000:12:00:00",
            "description": "Lease expiry time.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "lease-time-format",
            "x-patterns": "'(([0][0-9][0-9]|[1-2][0-9][0-9]|[3][0-5][0-9]|[3][6][0-5]):(([0-1][0-9])|([2][0-3])):([0-5][0-9]):([0-5][0-9]))'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Access Point",
              "Gateway",
              "Switch PVOS"
            ],
            "x-typeDescription": "The DHCP address lease time in DDD:HH:MM:SS"
          }
        }
      },
      "ArubaDhcpPool_PoolCommonGet": {
        "description": "Grouping for DHCP Common Configurations",
        "properties": {
          "lease-time": {
            "default": "000:12:00:00",
            "description": "Lease expiry time.",
            "format": "pattern",
            "maxLength": 9999,
            "type": "string",
            "x-patternSources": "lease-time-format",
            "x-patterns": "'(([0][0-9][0-9]|[1-2][0-9][0-9]|[3][0-5][0-9]|[3][6][0-5]):(([0-1][0-9])|([2][0-3])):([0-5][0-9]):([0-5][0-9]))'",
            "x-supportedDeviceType": [
              "Switch CX",
              "Access Point",
              "Gateway",
              "Switch PVOS"
            ],
            "x-typeDescription": "The DHCP address lease time in DDD:HH:MM:SS"
          }
        }
      },
      "ArubaDhcpPool_StaticBindingCommon": {
        "description": "Grouping for DHCP Static Binding Common Configurations",
        "properties": {
          "hostname": {
            "description": "Hostname of the DHCP Host.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ]
          }
        }
      },
      "ArubaDhcpPool_StaticBindingCommonGet": {
        "description": "Grouping for DHCP Static Binding Common Configurations",
        "properties": {
          "hostname": {
            "description": "Hostname of the DHCP Host.",
            "format": "const",
            "maxLength": 63,
            "minLength": 1,
            "type": "string",
            "x-supportedDeviceType": [
              "Gateway",
              "Switch CX"
            ]
          }
        }
      },
      "Error400": {
        "description": "Error details returned from the server.\n",
        "properties": {
          "debugId": {
            "description": "Debug ID.",
            "example": "0d6666a3-23fa-436c-8873-4186fa251ce6",
            "format": "const",
            "maxLength": 64,
            "minLength": 1,
            "type": "string"
          },
          "errorCode": {
            "description": "Error code.",
            "example": "ERR_AP001",
            "format": "const",
[...]
